[2017-02-21 11:41] orkenstein commented on #8138
@mfurtak is it really designed to use Fabric.app?

[2017-02-21 11:45] mfurtak commented on #8138
I believe @iosdevben has it right with the above

[2017-02-21 11:49] orkenstein commented on #8138
It's not gonna work very well with CI systems, like jenkins and lot's nodes.

[2017-02-21 12:11] futuretap commented on #8300
Thanks, this approach works whereas the `local_fastlane_path` approach didn't.

I was able to reproduce the problem. Indeed, it was a regression from my PR. I'll push a fix in the next minutes.

[2017-02-21 13:11] #7486 closed

[2017-02-21 13:27] chanricle opened #8316 "fish: Unknown command 'fastlane'"
### Environment
macOS 10.12.2
Xcode 8.2.1
Shell: fish

### Issue Description
When I typing `fastlane ⏎` in Fish shell terminal, I got message: `fish: Unknown command 'fastlane'`.

### Checklist

- [x] xcode-select --install
- [x] Reinstall fastlane successful. `brew cask reinstall fastlane`
- [x] close Terminal and reopen.

[2017-02-21 13:28] #8316 closed

[2017-02-21 14:00] oscarg798 opened #8317 "No certificate matching '' for team '"
I keep getting this error although i do have the certificate installed. it fails trying to execute gym command.

Any help would be much appreciated

No certificate matching '' for team '':  Select a different signing certificate for CODE_SIGN_IDENTITY, a team that matches your selected certificate, or switch to automatic provisioning.
Code signing is required for product type 'Application' in SDK

[2017-02-21 14:05] oscarg798 commented on #8317
already check that, keep getting the error

[2017-02-21 14:38] PetrosIchor commented on #8308
Search through the issues board for Fastlane.  There are dozens, if not hundreds, of signing related questions.  Without more information regarding your Fastfile, apps configuration, and usage of Match it's difficult to pinpoint a solution.

That said, you should try using different branches for your signing repo.  Personally, I have a variety of both in-house and third party apps that need signed

[2017-02-21 14:40] monotv commented on #8308
Thanks. The issue solved itself in the meantime. No idea or suggestion why so I can not give a solution for someone who has a similar problem, sorry.

[2017-02-21 14:40] #8308 closed

[2017-02-21 14:53] PetrosIchor commented on #8317
Be sure to read through the docs more carefully as well as past issues posted to the issues section. You should also check out the examples section: https://github.com/fastlane/examples

Your usage of sigh doesn't look correct to me at all (I'm on my phone at the moment or I'd provide more).  Why are you assigning sigh to profile_udid?  What type of value does it return for you with that setup?

[2017-02-21 14:59] oscarg798 commented on #8317
is it wrong ?, meaning i have two enterprise accounts, enterprise account 1 works fine with the exact same fastfile. @PetrosIchor

[2017-02-21 15:22] lacostej commented on #8245
@philwebster

have you tried fully setting your ruby encoding environment?

[code]

It looks like only `LANG` is set

[2017-02-21 15:26] ohayon commented on #8138
Hey @orkenstein and @iosdevben I think there might be some confusion here around what is the intended action. With Crashlytics, there are a couple of binaries that help with getting Fabric the information you need (i.e. dSYM's and, if using the Beta service, a `.ipa` file for distribution).

To clarify, it appears as though @orkenstein, you are wanting to upload your dSYMs to Crashlytics for crash

[2017-02-21 15:41] ohayon commented on #7691
@Reyske, thanks for sharing that info! Would you mind sharing which fastlane plugins you are using? I also have a one more question to try to shed some more light on whats going on here: Do you manage your own CI box, or are you using a service such as Travis or Circle?

[2017-02-21 17:32] zoufishanmehdi commented on #8290
@KrauseFx Thank you for your response. Do I only have to use `bundle exec fastlane beta` the first time and can use `fastlane beta` after that?

[2017-02-21 19:11] #7418 closed

[2017-02-21 19:24] jwhitley commented on #6520
We're also seeing this issue with our app.  In our case, the failure is on generating symbols for `FBSDKCoreKit` via CocoaPods.

Failure from `IDEDistribution.standard.log`:
[code]

Ostensibly the failure is on the `.../FBSDKCoreKit.framework/FacebookSDKStrings.bundle/Resources` directory, but that makes little sense.  The entire contents of that dir amount to 264K.

I'll try and dupe the aforemen

[2017-02-21 19:25] jwhitley commented on #6520
Related: Xcode never encounters these cursed rsync failures, so I find myself wondering if there isn't some invocation-related issue at the level of fastlane/gym that's triggering this problem.  This has been a huge problem for us, as it's completely blocking our app's fastlane-based CI setup.

[2017-02-21 19:33] allaire commented on #6520
@jwhitley I personally faced these rsync failures in Xcode as well. At least in Xcode it's quicker to go back and press submit again.

[2017-02-21 19:35] LucasVanDongen commented on #8260
Same problem here but without the advertisement ID. My account uses 2FA and it's not the main account for the company (but I have elevated rights at the moment).

[code]
</details>

### fastlane gems

| Gem      | Version | Update-Status |
| -------- | ------- | ------------- |
| fastlane | 2.18.0  | ✅ Up-To-Date  |

### Loaded fastlane plugins:

**No plugins Loaded**

<details><summary><b>Loaded

[2017-02-21 19:38] jwhitley commented on #6520
@allaire Good to know. Perhaps I'm misinterpreting the evidence:

1. Use fastlane to build and submit to the App Store.
2. fastlane fails w/ Rsync failure
3. a) sometimes re-run fastlane and it works (?!?) or b) submit fastlane-built archive in Xcode.

In my case, every time I've resubmitted the archive via Xcode, it's Just Worked™.  It's possible that I've just been "lucky", but I've had several

[2017-02-21 19:45] allaire commented on #6520
@jwhitley Yes, I've been lucky myself a couple times, specially with smaller apps, I get this rsync quite a lot with a bigger app we're working on, both on Xcode and Fastlane unfortunately.

[2017-02-21 19:56] jwhitley commented on #6520
Possible lead: I just resubmitted this fastlane-failed build via Xcode.  I'll try to confirm via the logs, but it appears from the submission UI that the failed framework was code-signed, but did *not* go through the "preparing symbols" phase.  So the apparent behavior difference I'm seeing may be due to a difference in what dependencies are symbolicated between an Xcode archive submission and wha

[2017-02-21 20:23] dpettit opened #8322 "Screengrab: output files "couldn't be opened because [I] don't have permission""
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Screengrab produces snapshots, but the resulting .png files can't be opened because I don't have the appropriate permissions.  Screengrab is creating the "metadata/android/en-US/images/phoneScr

[2017-02-21 20:25] dpettit commented on #8322
This behavior doesn't happen all of the time; it is very hit and miss.

[2017-02-21 21:08] lukethoene commented on #8263
I'm not sure if 2.18 was meant to address it, but I updated one machine and am still seeing the lengthy profile-fetch times:

[12:08:52]: Fetching profiles...
[12:27:42]: No existing profiles found, that match the certificates you have installed locally! Creating a new provisioning profile for you

[2017-02-21 21:26] mfurtak commented on #8322
I can't think of a reason this would be, and it's even stranger that it should be inconsistent!

When it happens, can you send me the output of `ls -lha` on the directory with the PNGs in it? What user/group are they winding up owned as?

[2017-02-21 21:30] latas2000 opened #8324 "Impossible to submit for review with 2.18.0 app_platform"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Trying to run my scripts which worked several weeks ago, and after update fastlane to the latest release I get this issue:

[22:26:52]: Finished the upload to iTunes Connect
[22:26:54]: Selecti

[2017-02-21 21:34] getaaron opened #8325 "Better errors for cert run with insufficient access"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Running `fastlane cert` with a user who is a Team Member and not a Team Admin produces an insufficiently helpful message.

#### *Reproduction steps:*

1. Create a user on an Apple Developer ac

[2017-02-21 22:06] marcomorain opened #8326 "Scan junit XML file name and extension"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Hi team Fastlane!

I've been investigating how to have CircleCI [collect test-metadata](https://circleci.com/docs/test-metadata/#metadata-collection-in-custom-test-steps) as easily as possible

[2017-02-21 22:09] dpettit commented on #8322
Thank you for the quick response!  You guys are amazing!

I was able to resolve it for now (at least, I'm keeping my fingers crossed).  But I will let you know if it comes up again.  For now, I'm just going to close this as an issue, because I found something that appears to be working.

The way I resolved it was by doing the following:
Back up all data. Quit Preview if it's running.

Hold down th

[2017-02-21 22:09] #8322 closed

[2017-02-21 22:14] philwebster commented on #8245
Same error after setting those environment variables, unfortunately:
`[14:11:17]: Could not infer your app's version`

I'm thinking I should make a very minimal project and try building/uploading that on Circle to see what happens.

[2017-02-21 22:22] zoufishanmehdi opened #8327 "Exit status: 65- Found multiple versions of Xcode in '/Applications/'"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Hi, I added
[code]
to the top of the Fastfile to specify the Xcode version as I have two Xcode apps. However, I'm still getting the following error when I run `bundle exec fastlane beta`

####

[2017-02-21 22:56] #8317 closed

[2017-02-21 23:15] lacostej commented on #8245
Have you tried with `export LC_CTYPE=en_US.UTF-8`

I see that one issue you reference to is using this as workaround

[2017-02-21 23:29] lacostej commented on #8245
If you want to experiment further, you could try this branch / patch: https://github.com/lacostej/fastlane/tree/binary_analysis

[2017-02-21 23:29] GandjaFuzz commented on #8324
having same error fastlane version 2.18.1

[2017-02-21 23:30] KrauseFx commented on #8316
How did you fix the issue?

[2017-02-21 23:49] asmenter15 commented on #8203
FYI, I received the same error as above..
`check_status': # [!] Server error (Google::Apis::ServerError)

I experienced this with one of my apps, but then tried another and it worked fine. Not sure where it could be coming from.

[2017-02-22 00:19] KrauseFx commented on #8203
This discussion is not related to the original issue any more, please submit a new issue to discuss it there, I'll close this one for now 👍

[2017-02-22 00:19] #8203 closed

[2017-02-22 01:39] mfurtak commented on #8324
@latas2000 GandjaFuzz Could you please share your `Fastfile` where you are using the `app_platform` option?

Thanks!

[2017-02-22 01:52] mfurtak commented on #8326
Hi @marcomorain - thanks for starting this discussion 👍

Have you taken a look at the `:custom_report_file_name` option? If you generate a filename yourself as part of your `Fastfile`, and then give it to _scan_ with that option, does it get you what you're looking for?

[2017-02-22 03:04] lyahdav opened #8329 ""undefined method `wait_for_train' for Class:Class (NoMethodError)" when running pilot upload"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

Command I ran:
`fastlane pilot upload -i path/to/build.ipa`

Output:
[code]

### Environment

<details>

[2017-02-22 03:31] #7499 closed

[2017-02-22 03:53] 3DTOPO commented on #7884
I am having the same issue with fastlane 2.10.0 installed. Also, I don't have a com.crashlytics.mac/v3/ folder, mine is com.crashlytics.mac/v2/ and after letting it run for a half an hour or so, the only file in that directory is called 'crash_metadata' that is only 591 bytes. Those bytes are (I changed the API key to protect my privacy):

{"bundle_id":"com.crashlytics.mac","session_id":"cecaa62ed

[2017-02-22 05:19] latas2000 commented on #8324
Well that's the magic. I'm not using it. The only similar I'm using is the
export_platform key which is part of the submission options.

I'm using a Deliver file. Just submission options, automatic_release true,
and nothing else. I'll paste the content later.

El El mié, 22 feb 2017 a las 2:39, Michael Furtak <notifications@github.com>
escribió:

[2017-02-22 06:53] mgrebenets commented on #8192
Hi Luan

When it comes to building ur project fastlane doesn't really do anything
special. Under the hood it calls the very same xcodebuild command you would
use directly.

You can see the xcodebuild command in the log and then try to run that or
similar command directly in the terminal. Chances are high that u will get
same error, which means it has something to do with ur project setup. I
would

[2017-02-22 06:54] latas2000 commented on #8324
Here is my Deliverfile content:
###################### More Options ######################
# If you want to have even more control, check out the documentation
# https://github.com/fastlane/fastlane/blob/master/deliver/Deliverfile.md

###################### Automatically generated ######################
# Feel free to remove the following line if you use fastlane (which you should)

app_identifier

[2017-02-22 07:35] dpettit opened #8330 "How to implement Screengrab.setDefaultScreenshotStrategy(); to capture webView snapshots"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Could you help me better understand how and where to add the code:

Screengrab.setDefaultScreenshotStrategy(new UiAutomatorScreenshotStrategy());

Currently, without implementing the above code

[2017-02-22 08:22] GandjaFuzz commented on #8324
I too don't use this parameter
my fastfile for deliver
[code]

[2017-02-22 08:26] GandjaFuzz commented on #8311
who can help in any way?

[2017-02-22 08:41] talezion opened #8331 "Frameit not working - fails to Downloading file from 'https://fastlane.github.io/frameit-frames/gold/files.json'"
### New Issue Checklist

fastlane version = 2.18.1

### Issue Description

Frameit not working - fails to Downloading file from 'https://fastlane.github.io/frameit-frames/gold/files.json'

##### Complete output when running fastlane, including the stack trace and command used

<details><summary>🚫  ERROR 🚫</summary>
[10:32:46]: Using device frames version 'gold'
[10:32:46]: ------------------------

[2017-02-22 08:53] talezion commented on #8331
Not sure this is a code signing issue, Snapshot, and Deliver works fine.  It might be that https://fastlane.github.io/frameit-frames/gold/files.json is corrupted? It returns 404 error when trying to access it.

[2017-02-22 09:53] olejnjak opened #8332 "Upload build to iTC with limited permission"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Hello,

I'd like to ask how I can use deliver to upload builds to iTC if my account permission is limited? Currently my account has _Developer_ role assigned and I'm getting error that I don't

[2017-02-22 10:06] olejnjak commented on #8332
Yes I have and I'm using manual code signing as the client is a bit complicated so I just have provisioning profile and private key so this shouldn't be the case.

[2017-02-22 11:04] psamhaber commented on #7782
@mfurtak Can you reproduce the above error? If it does work for you it would be super nice if you can share the framefile.json and or actual image sizes...

[2017-02-22 11:34] hjanuschka commented on #7643
still an issue 🗡

[2017-02-22 12:01] eliasbagley commented on #6993
A previous commenter tipped me off that the order that the command `security list-keychains` is important. It seems that the login keychain needs to be first. What worked for me was deleting the WWDR certificate from the login keychain, opening `Keychain.app`, and dragging the login keychain to the top of the list in the left pane. Double check by running `security list-keychains` to verify that t

[2017-02-22 12:04] Sajjon commented on #6179
@dusek I also get the error "What to Test is required. What to Test is required", did you solve it?

[2017-02-22 13:59] hjanuschka commented on #8332
@olejnjak could you provide a full stacktrace? by running the command with `--verbose`  to see where the error origin's from?

also could you try adding the following options to deliver.

[code]

[2017-02-22 14:02] GandjaFuzz commented on #8324
for fix need
[code]
change this
[code]
on this
[code]

[2017-02-22 14:03] hjanuschka commented on #7660
i think it depends on which VM you land! - i recall when we raised it to 400 - i think @lacostej proposal to raise it to 4096 is good to go.

@DanToml or will this blow something up.

[2017-02-22 14:06] hjanuschka commented on #8324
@GandjaFuzz thx! good catch, did a PR for that https://github.com/fastlane/fastlane/pull/8333

[2017-02-22 14:25] mfurtak commented on #8331
@talezion Thanks for the report. Something strange is going on with how these files are hosted. We'll try to fix it ASAP 👍

[2017-02-22 14:30] GandjaFuzz commented on #8324
@hjanuschka need more change
now error
[code]

need change this
[code]
on this
[code]

[2017-02-22 14:38] hjanuschka commented on #8324
done, thx can you test it?

[2017-02-22 15:00] mfurtak commented on #8329
Thank you for the report. We are going to ship a hot-fix release to address this. 👍

[2017-02-22 15:01] mfurtak commented on #8324
Thanks for the report. We are going to ship a hot-fix release to address this 👍

[2017-02-22 15:09] hjanuschka commented on #8260
please try to set the answers via options (`submission_information` in deliver:

[code]

[2017-02-22 15:14] loiclec commented on #6806
Hi all!

As far as I can tell, building on @xNekOIx’ suggestion:
The repo is cloned with this line:
https://github.com/fastlane/fastlane/blob/1.106.2/match/lib/match/git_helper.rb#L8
which only clones one branch if the shallow option (`--depth`) is specified.

Therefore this line:
https://github.com/fastlane/fastlane/blob/1.106.2/match/lib/match/git_helper.rb#L26
won't be able to checkout the bran

[2017-02-22 15:17] hjanuschka commented on #8290
once you switched to a gemfile you supposed to use all fastlane commands with "bundle exec " in front. you could give the contained version a try: https://github.com/fastlane/fastlane#installation installing via installer script (this comes with everything ready to run).

[2017-02-22 15:19] asfalcone commented on #8324
_fastlane_ 2.18.2 has been released. Please run `fastlane update_fastlane` and let us know if this issue is fixed for you. Thanks!

[2017-02-22 15:22] asfalcone commented on #8313
@Sandeeprelease I don't believe this is currently supported. If it is possible with the [ruby api](https://github.com/google/google-api-ruby-client) that we use, we'd love to see a PR for this. Going to close and mark as a feature request 👍

[2017-02-22 15:22] #8313 closed

[2017-02-22 15:25] asfalcone commented on #8329
_fastlane_ 2.18.2 has been released. Please run `fastlane update_fastlane` and let us know if the latest versions fixes this for you! Thanks!

[2017-02-22 15:27] asfalcone commented on #8279
yep key:value should be all you need to run one off actions on the command line @tcurdt.

Does this solution work for you? Can we close out this issue?

[2017-02-22 15:27] mfurtak commented on #8331
Actually, things are looking good for me in testing.

The part that is odd in your output is `Using device frames version 'gold'`

Are you specifying 'gold' as a version in part of your configuration?

[2017-02-22 15:27] #7482 closed

[2017-02-22 15:33] tcurdt commented on #8279
Yes, I worked it all out.

[2017-02-22 15:33] #8279 closed

[2017-02-22 15:38] talezion commented on #8331
@mfurtak  Thanks, that seemed to be the issue. I fixed it and it works.

[2017-02-22 15:38] #8331 closed

[2017-02-22 15:53] GandjaFuzz commented on #8324
yes it is done. work great

[2017-02-22 15:53] talezion opened #8337 "Buddybuild fastlane integration: frameit error: Unsupported screen size [871, 1776] for path"
### Issue Description

I am integrating Buddybuild with fastlane. I have a lane that runs:

[code]

We have a buddybuild_prebuild.sh Shell Script that runs the commands:

[code]

##### Complete output when running fastlane, including the stack trace and command used

Both **Snapshot** and **Deliver** works perfect on buddybuild, and upload screenshots to *iTunes Connect*.  The full screenshots lan

[2017-02-22 15:54] #8324 closed

[2017-02-22 15:54] latas2000 commented on #8324
Cool!! Thanks.

[2017-02-22 16:36] xNekOIx commented on #6806
@loiclec you are right. missed this. will try to prepare a PR.
will add `--no-single-branch` to `--depth 1`.

[2017-02-22 16:50] s-gagandeep opened #8338 "How to upload all apks(with different flavors) to playstore simultaneously"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
I have around 30 flavors of my android application, I want to upload all apks simultaneously to google playstore.
Is there any way to do it.
I dont want to run 30 fastlane supply command for ea

[2017-02-22 17:04] funnel20 opened #8339 "snapshot: File name of screenshots is appended by a unique ID"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
After a successful run of Fastlane SnapShot, the files are copied to the defined `output_directory` in my SnapFile. However, the *.png files all have some kind of ID in the name, e.g.:
_iPhone5

[2017-02-22 17:23] PetrosIchor commented on #8338
Read the docs https://docs.fastlane.tools/actions/#supply

Or run `fastlane action supply` for supply's options.

You can pass an array of apk paths for multi file upload using `apk_paths: []`

[2017-02-22 17:25] zoufishanmehdi opened #8340 "Fastlane init results in (Gem::MissingSpecError)"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
When I try to do fastlane init after downloading the installer script, I get this error `(Gem::MissingSpecError)`

##### Complete output when running fastlane, including the stack trace and com

[2017-02-22 17:52] talezion commented on #8337
This doesn't look like a code signing issue

[2017-02-22 17:57] LucasVanDongen commented on #8260
At first it gave me an unknown error, something I considered hopeful. But after some careful massaging of the settings I'm now back at the same problem. Happy confetti yet nothing in the store. The settings are as follows:

[code]

The app does use a lot of encryption but won't be used outside of the US AppStore.

[2017-02-22 18:18] jwhitley commented on #6520
So this problem is bizarre.  The original failure in this issue, and my first reported case, was from rsync on a `mkdir(2)` call, which reported ERANGE (34): Result too large.  (Confirmed by inspecting Apple's published source for rsync for macOS 10.12.3, which I'm running).  I just received the following failure on a fastlane attempt:

[code]

Same error, ERANGE, this time on a stat (probably sta

[2017-02-22 20:12] AaronSofaer opened #8342 "Scan only-testing flag mishandles arrays of strings, causing build to fail"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Fastlane Scan's documentation gives this argument option, matching xcodebuild's -only-testing argument:

When passing an array of strings to this which I have composed out of all the tests that

[2017-02-22 20:41] philwebster commented on #8245
Using your `binary_analysis` branch seems to have worked!

`[12:40:11]: Making sure the latest version on iTunes Connect matches '7.3' from the ipa file...`

[2017-02-22 23:30] AaronSofaer commented on #8342
Looks like I've got some empty strings in there somehow, which caused the problem. Whoops. Closing.

[2017-02-22 23:30] #8342 closed

[2017-02-23 00:20] ericlewis commented on #7802
+1

[2017-02-23 03:45] chanricle commented on #8316
@KrauseFx Fish shell $PATH not include `~/.fastlane/bin/`, so unknown command 'fastlane'.

I config `~/.config/fish/config.fish` file:

[code]

Then, it's worked.

[2017-02-23 05:10] cwRichardKim commented on #8168
if anyone else is having this issue, it took 45mins for me to get a response and ended up with this error:

`[!]  (RuntimeError)
TestFlight requires you to provide the answer to the encryption question
to provide the reply, please add the following to your Info.plist file

<key>ITSAppUsesNonExemptEncryption</key><false/>

Afterwards re-build your app and try again
iTunes Connect reported: 'You mus

[2017-02-23 10:21] domenico-renna opened #8345 "fastlane deliver - submission_information docs"
I'm searching advanced info about "fastlane deliver action".
I need more detail on the right meaning of the "submission_information" block of parameters so I can set that value correctly and completely automate my ios deployment continuos integration framework.

Reading fastlane documentation I understood the generic idea behind that params and debugging itunesconnect portal HTML code I found the

[2017-02-23 10:23] GandjaFuzz opened #8346 "[fastlane] Time Out BUILD 30 Seconds"
Many errors
[code]

### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

[INSERT OUTPUT HERE]

### Environment

Please run `fastlane env` and copy the outpu

[2017-02-23 12:33] alickbass opened #8347 "push_to_git_remote from Travis CI"
Hi! I am using `fastlane` together with `Travis CI` to upload the build to testflight every time the new push arrives at master branch. However, I am having troubles using `push_to_git_remote` action from travis and I receive the following error: `Invalid username or password`. What is the proper way to use this action with travis? maybe there is a way to specify `github access token`? And what am

[2017-02-23 13:22] s-gagandeep commented on #8338
How to add all paths in apk_paths: []
i) do i need to mention each apk or is there any option which lists the path of all apks like GRADLE_ALL_APK_OUTPUT_PATHS
ii) and do i need to add all package names also?
as just adding the apk_paths it is giving error  apkUpgradePackageNameIsDifferent: APK has the wrong package name.

[2017-02-23 14:03] mfurtak commented on #8284
Hi @dzan 👋

SSL errors can be caused by various components on your local machine. The best solution is to use the self-contained _fastlane_ version which ships with a bundled OpenSSL, Ruby and all gems, so you don't depend on system libraries.

 - Use One-Click-Installer:
    - download _fastlane_ at https://download.fastlane.tools
    - extract the archive and double click the `install`
- Use Hom

[2017-02-23 14:07] mfurtak commented on #8330
Hm, no, I would expect that in a `@Before` method or a `@BeforeClass` static method should be fine.

What's the result when `UIDevice.swipe` is broken? Is there a crash, or does it just stop working?

[2017-02-23 14:18] mfurtak commented on #8327
Hi @zoufishanmehdi 👋

For what it's worth, both of those actions do the same thing, via different strategies. `xcversion` looks for (and selects) the Xcode installation that matches the version you specify, while `xcode_select` specifies a particular Xcode by its path. 👍

When you run your lane, do you see output that confirms that `xcversion` and `xcode_select` are being run?

[code]

[2017-02-23 14:20] umec opened #8348 "In-App Purchase screenshots review error in spaceship"
### New Issue Checklist

- [✅] Updated fastlane to the latest version
- [✅] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Hi,
I'm playing around with the new IAP feature for spaceship but I'm having trouble uploading the screenshot for review. I've tried with different sizes with no luck. If I try to upload it man

[2017-02-23 14:27] DanToml commented on #7660
@hjanuschka Should be fine 👍

[2017-02-23 14:36] PetrosIchor commented on #8168
Do you have the encryption flag set in your plist file?  It'll reject if that's the case

[2017-02-23 14:51] mfurtak commented on #8339
@hjanuschka Can you comment on this?

[2017-02-23 15:02] cwRichardKim commented on #8168
yup! sorry I'll amend my comment, meant to just say that it takes a while. my 2mb app took 50 minutes the second time once I fixed the flag

[2017-02-23 15:21] jostster commented on #8260
Yes when using the subission_information param it works, but this task was more created for the false status of it saying it was submitted when it wasn't. This could leave people with CI to believe their application was submitted if they don't go in and check the itunes connect status after each deliver.

[2017-02-23 15:33] LucasVanDongen commented on #8260
@jostster it still behaves the same here *with* the submission_information

[2017-02-23 16:48] lyndsey-ferguson commented on #8326
You could add the `--custom_report_file_name "report_$CIRCLE_BUILD_NUM"` parameter to the `scan` command if you want a unique report name.

[2017-02-23 16:58] pmpandit04 commented on #7691
I am still getting this error when I run the command

fastlane add_plugin update_project_codesigning

I am running Xcode 8.2, fastlane and version fastlane 2.18.3. I will really appreciate someone's help on this problem.

[2017-02-23 16:59] marcomorain commented on #8326
I've closed the PR – I don't think what I'm proposing can work while remaining backwards compatible.

Using `custom_report_file_name` does not quite do what I need. If I set `SCAN_CUSTOM_REPORT_FILE_NAME`[1] to something like `$CIRCLE_TEST_REPORTS/scan.xml` in each build, then if a customers invokes `scan` twice in a build, the second run will overwrite the first invocation.

As I think through th

[2017-02-23 17:03] dpettit commented on #8330
Well, currently the emulator just opens, and my test code simply swipes through all the webView pages, taking screengrabs of each along the way (the total number of webView pages in this app is 14).

After adding the above code to the @Before method, it runs the first page of content, and just stops working.  It seems like the swipe event just isn't registering, or that the app is no longer in a s

[2017-02-23 17:37] lyndsey-ferguson commented on #8326
Curious, what do you mean that `--custom_report_file_name` is not exposed to env vars? If you are running the command from a circleCi job, that `$CIRCLE_BUILD_NUM` environment variable should be available to command run from the command line.

[2017-02-23 17:53] marcomorain commented on #8326
@lyndsey-ferguson I mean that there is no `SCAN_CUSTOM_REPORT_FILE_NAME` env var equivalent for `--custom_report_file_name`.

My goal here is to get Junit-xml reports into the `$CIRCLE_TEST_REPORTS` folder if a customer uses `scan`. I'd really like if I can do this without having to have people edit their `Fastfile`.

If I set `SCAN_CUSTOM_REPORT_FILE_NAME` to `$CIRCLE_TEST_REPORTS/scan.xml` when

[2017-02-23 17:53] mfurtak commented on #8330
Yeah, that makes sense. Thanks for the example.

Maybe there's a conflict between `UiAutomation` and `UiDevice`? Honestly I'm not sure. I don't have a suggestion, unfortunately, so I'll need to leave this open for now.

[2017-02-23 17:59] marcomorain commented on #8326
I've exposed `--custom_report_file_name` here - https://github.com/fastlane/fastlane/pull/8351

[2017-02-23 18:00] bencollier commented on #1789
I'd be good to keep this one open.

[2017-02-23 18:15] hjanuschka commented on #8348
hmmm - according to docs and my local tests the screenshot hase to be 640x960 - can you try it with one?

the one you supplied has 1024x768.

hope that will resolve you'r issues - nice to see someone using the api for iap's 👍

[2017-02-23 18:21] KIVagant commented on #6519
Hey, guys.

I found that is not enough to set PROVISIONING_PROFILE_SPECIFIER into `project.pbxproj`. xCode (at least, my 8.2.1 version) have yet another variable that looks like `"CODE_SIGN_IDENTITY[sdk=iphoneos*]" = "iPhone Distribution";`
Without correct value inside, I always getting this error: `Code signing is required for product type 'Application'`

Here is the way to fix the problem, based

[2017-02-23 19:59] allaire commented on #6520
@jwhitley for what's worth, I tried to run Disk Utility's First Aid, and was told that my disk was corrupted. Booted in safe mode and ran Disk Utility again with the Disk unmounted, said my disk was unrepairable. Booting was now impossible, and had to reformat :(

I'm doing a release right now on the freshly formatted Mac, will report back if I get the Rsync error.

[2017-02-23 20:08] #8346 closed

[2017-02-23 20:10] jwhitley commented on #6520
@allaire 😱😱😱

Thanks for the report, even if it makes my hair stand on end.

I note that we've encountered the rsync bug on three separate systems, all exclusively in the course of this workflow.  Two are dev boxes, one a blessed build machine.  Unless there's systematic filesystem corruption triggered by xcodebuild (!!?!), I doubt that we're dealing with three independently corrupted disks on sys

[2017-02-23 20:11] ohayon commented on #7691
Hey @pmpandit04! Would love to help out with this, would you mind sharing the output in your terminal to give a bit more context? Thanks!! 🐙

[2017-02-23 20:18] tarynm commented on #8327
I ran into the same issue and message about Xcode versions, and it turned out that the certificate had expired.

[2017-02-23 20:29] talezion commented on #8337
Found the issue, make sure your **.ignore** file does not exclude `./fastlane/screenshot/`

[2017-02-23 20:29] #8337 closed

[2017-02-23 20:53] allaire commented on #6520
@jwhitley So, no rsync error in Xcode and in fastlane (tried both). Maybe just luck, but feels good :)

[2017-02-23 21:47] jlubeck opened #8354 "Match is creating distribution provisioning profile with old certificate"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

So I'm trying to create a build to upload to the app store, and when I run match to get the certificates and provisioning profiles, it first created a second certificate (fine by me) but when

[2017-02-23 21:48] dpettit commented on #8330
No problem, I just appreciate your taking the time to look at it.  Thank you!

[2017-02-23 21:59] tsafrir commented on #8263
@mfurtak
As you know, fetching the profiles (`find_by_bundle_id`) also fetches the profile details just to get the app's bundle_id.
Since the default profile name is "<bundle_id> <profile type>" or a name given by user.
May I suggest to add an option to `sigh` to find the profile by matching the application_identifier with the profile name?

I tested it by changing the method `find_by_bundle_id` l

[2017-02-23 22:14] mfurtak commented on #8263
The latest update on this is that we're considering rolling most of these changes back, since we think Xcode is still using the old endpoints that were giving us trouble during the maintenance period. We think those endpoints are no longer having trouble.

If we decide to do that, we will probably make the old calls the default, and include a feature switch to change to the current set of calls in

[2017-02-23 22:17] stonedauwg commented on #8260
Same issue here with fastlane 2.18.3. Deliver says success for review submission and it never submitted. Manually submitting using iTunesConnect site works fine. @jostster to answer your question it asks about 3 things: crypto usage, third party content usage, and Advertising ID usage.

[2017-02-23 22:19] stonedauwg commented on #8260
@jostster and @LucasVanDongen - did this work for you in previous versions of fastlane? This is personally my first go of it and so far the only issue I've encountered.

[2017-02-23 23:25] jostster commented on #8260
I hadn't tried it in previous version. However, I did submit today and it went through fine. Here is my lane that worked. I only do encryption and ad tracking. I haven't tried a version yet where the encryption has changed but with these values when I submit when my encryption hasn't changed works.

[code]

[2017-02-23 23:31] jostster commented on #8260
my recommendation is deliver should return a value if it was successful or not. the only way it is successful is if it succeeds based on the params. This task was created because with the app_submission_info not set but submit_for_review: true, it would say it was submitted for review but it really errored out because it didn't pass the submission_information which is required before submission.

[2017-02-23 23:51] #7484 closed

[2017-02-24 00:23] stonedauwg commented on #8260
Interesting because @LucasVanDongen, like me, is saying his still wasn't working even after adding all that submission info. I am currently only setting the following

`submission_information({
  add_id_info_serves_ads: false,
  export_compliance_contains_third_party_cryptography: false
})`

and mine is succeeding but **not** being submitted for review. I will try your settings, with them obviousl

[2017-02-24 00:38] stonedauwg commented on #8260
Just attempted it with info I had above plus the properties from @jostster as submission info and this time it worked! So does this mean fastlane/ITC _requires_ some of those properties?

[2017-02-24 00:45] jostster commented on #8260
@stonedauwg if you go into ITC and attempt to submit manually does it prompt you with some check boxes to check? if so then those are the fields that you will need to specify in fastlane.

[2017-02-24 00:57] stonedauwg commented on #8260
@jostster That's the strange thing, manually it asks about: export crypto, 3rd party content and Ad IDs. I only specified 2 of those 3 in the submission info above as you can see. I did not specify the `content_rights_contains_third_party_content property`, so it can't be as simple as just have the ones it asks for on the web portal. Must be something else that ITC requires that fastlane deliver d

[2017-02-24 01:08] segiddins opened #8355 "[Plugin] Let me charge my iPhone"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Fastlane should be able to charge my iPhone for me, maybe as a Plug In?

\c @hectormatos2011, @KrauseFx

##### Complete output when running fastlane, including the stack trace and command used

[2017-02-24 01:27] jostster commented on #8260
so if you specify `content_rights_contains_third_party_content` then it wont submit? because in your previous post you said `submission_information({ add_id_info_serves_ads: false, export_compliance_contains_third_party_cryptography: false })` which is different.

[2017-02-24 01:30] andrewmcewen commented on #8277
Fixed the issue last week with @mfurtak's suggestion

[2017-02-24 01:30] #8277 closed

[2017-02-24 02:26] TechGuyVN commented on #8263
I face the same problem, too long to fetch profile,
I tried:
- Update newest version 2.18.3: not working
- Roll back 2.14.2 too but not working.
Our system more than 1000 profiles too, any workaround for this case ?
Many Thanks.

[2017-02-24 02:44] asfalcone commented on #8263
@TechGuyVN could you describe how the 2 versions are behaving (getting an error, very slow, etc)? I'm just not sure what you mean by "not working" in each case. Thanks!

[2017-02-24 02:50] TechGuyVN commented on #8263
@asfalcone  I mean sigh fetch  profiles very slow , over 30minutes each time.

[2017-02-24 02:51] asfalcone commented on #8263
@TechGuyVN is 2.14.2 slow for you as well?

[2017-02-24 02:54] TechGuyVN commented on #8263
@asfalcone i tried to downgrade fastlane to 2.14.2,
`sudo gem install fastlane --version 2.14.2
but i noticed sign still 2.18.3, did i made it wrong ?

[2017-02-24 03:00] asfalcone commented on #8263
You can run `fastlane _2.14.2_ sigh ...` to use the specific version of the _fastlane_ gem to run the command.

[2017-02-24 03:13] kishinmanglani opened #8356 "Cannot create app in iTunes Connect with Auto Code Signing"
I can’t seem to create an app on the dev center and on iTunes connect if I use automatic code signing. Basically, whenever I change the bundle id in the Xcode project, it seems like the “app identifier is not available”. If I manually change the app_id in the App File and don’t update in the Xcode Project it works. Is there a way to get this to work while using automatic code signing?

- have Xcod

[2017-02-24 03:38] KrauseFx commented on #8356
That's the error message, the app identifier is taken

[2017-02-24 03:40] kishinmanglani commented on #8356
I'm certain that the app identifier is not taken. I'm creating arbitrary strings. It seems like Xcode Auto Signing could be creating an app with the identifier when I update the bundle id in the project, which is preventing me from creating the app using Fastlane.

[2017-02-24 04:18] KrauseFx commented on #8356
This means someone **else** uses the bundle identifier.

[2017-02-24 04:19] KrauseFx commented on #8356
I'm not sure why you assume this is related to code signing, because it isn't.

[2017-02-24 04:20] TechGuyVN commented on #8263
Thanks @asfalcone , it's can fetch profiles now!

[2017-02-24 04:23] kishinmanglani commented on #8356
If I turn of auto code signing, change the bundle id, and then use produce it works. If I **turn on** auto code signing, change the bundle id, then use produce it **does not** work. That's what leads me to believe that its related to Xcode's Auto Code Signing.

It is literally not possible for anyone to be using these bundle identifiers. I'm creating them randomly with numbers, my name, etc. Again

[2017-02-24 04:34] kishinmanglani commented on #8356
I'm aware that this is not related to code signing directly, but when Xcode manages Code Signing it also handles App IDs, which we can agree is the source of the error.

[2017-02-24 04:36] klundberg opened #8357 "using match to actually change what profile is used to sign an app before building."
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Previously we had been using `cert`, `sigh`, and `update_project_provisioning` to manually control what profiles are used to sign our app when we distribute. We did this because we build the s

[2017-02-24 05:13] kishinmanglani commented on #8356
Going to close this for now. It is definitely a bit more related to Xcode than Fastlane. If I find any more info, I'll reopen and update it here.

[2017-02-24 05:13] #8356 closed

[2017-02-24 05:39] lukethoene commented on #8263
To revert our fastlane setups I actually needed to run "uninstall fastlane" and "uninstall bundler" first.  I also ran uninstall sigh just for good measure ;)

Then, reinstalled each of those with "install [gemname] -v [version]"  for instance "install fastlane -v 2.14.2"

[2017-02-24 08:20] umec commented on #8348
Hi !
That made the trick, thank you very much !! 😊

Also, thanks a lot for your iap contribution to spacechip, this will make a huge difference on my daily work.

[2017-02-24 09:51] hjanuschka commented on #8348
@umec nice to hear - going to close this issue then, if you need any further assitance or run into any other issue feel free to open a new one

[2017-02-24 09:51] #8348 closed

[2017-02-24 10:31] olejnjak commented on #8332
Adding `app_version` and `submit_for_review` did not help

[code]

[output.txt](https://github.com/fastlane/fastlane/files/799003/output.txt)

[2017-02-24 12:24] edasque commented on #8238
I have the same issue.

[2017-02-24 14:25] stonedauwg commented on #8260
@jostster I tried those two plus the third option of content_rights_contains_third_party_content and it did **not** work. So its definitely one of the _other_ settings it requires. If I had to guess maybe add_id_info_uses_idfa but I'd have to try them one at a time to be sure

[2017-02-24 15:04] jaroslavas opened #8358 "Snapshot fails on Travis, only when using iPhone 6/7 Plus"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I have a very strange issue. My tests run perfectly on my machine. When I run them on Travis, they are also ok on all emulators that I try, except on iPhone 6/7 Plus, where I get this error:

[2017-02-24 15:19] pmpandit04 commented on #7691
Hi ohayan,

Thanks so much for replying. Here is the output of my error

`current directory: /Users/ppandit/.fastlane/bin/bundle/lib/ruby/gems/2.2.0/gems/json-2.0.3/ext/json/ext/generator
make "DESTDIR="
compiling generator.c
clang: warning: no such sysroot directory: '/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.11.sdk'
In file included from generat

[2017-02-24 17:34] PetrosIchor commented on #8357
This goes outside the scope of match at this time.  I've asked the same questions in the past.  There's a ton of options for you.  Definitely do some long search of old issues posted here, you'll find folks discussing different solutions.

In my case, I've got 2 platform focused products that can any number of apps, all with different IDs. (Last I looked there's around 140 sets of different signin

[2017-02-24 17:40] PetrosIchor commented on #8357
To add to my comment.  Fastlane is focused on single app usage.  The tools expect you have an app with various config, build, and deployment targets.  If you have multiple apps with many more configuration needs, you have to get more creative in your workflows.

It's totally doable.  Fastlane provides a wonderful, powerful base to start from.  Getting it over the finish line is on you though.

You

[2017-02-24 17:47] PetrosIchor commented on #8354
Try removing both certs from your keychain, I've had odd collisions where depreciated or unrelated certs get used.  Removing all certs and letting fastlane repopulate my keychain resolved it.

Or, for bonus points, use the creat and delete keychain actions.  Create a keychain that will only contain your certificate and use it at build time.  Then destroy it after.

[2017-02-24 18:36] stonedauwg commented on #8260
Got it work again, this time only with these minimal settings:

[code]
Previous to that I had sent the 4 above minus export_compliance_encryption_updated, so that was defineitely key. That said, I'm not sure if some of those above I know **arent** necessary, but that is the 5 I seem to need to get it to submit

[2017-02-24 18:56] hjanuschka commented on #8332
@olegoid  according to the log it looks like metadata update is activated:

[code]

can you check this?

[2017-02-24 19:16] hjanuschka commented on #8339
@funnel20 - the reason the "random" id added is that you can run snapshot with different launch arguments, and if the name is not uniq it would result in overwritten screenshots.

i tested it right now and it looks like that it works as intended. -> https://gist.github.com/hjanuschka/7f65946e1eabb2b3f4983586e68b392c

the screenshots have the uniq id, and the resulting html also has them.

i think

[2017-02-24 19:23] lkraider opened #8360 "Deliver causes AppStore review to reject metadata"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Tried to submit 2 apps using Deliver, one a new app the other an update for an existing app, and both got stuck in review with Metadata Rejected with same message from the AppStore:
[code]

De

[2017-02-24 19:28] hjanuschka commented on #8360
we ran into this once - with an app that was in store for really long time.
first of all i think, you should resolve it in the resolution center.
and on following updates i would tweak the `notes` to be more specific.

i am not 100% sure how one can trigger it, but i think its  a combination of too short review notes +  in-app-purchases + human interaction (on apple side)

[2017-02-24 19:31] funnel20 commented on #8339
@hjanuschka - My problem is not that the resulting HTML is incorrect.
My problem is that I don't want to have that unique ID in the file name of the created screenshot files.

Why is it there? Or more important, how do I get it rid of it?
If I define this name in my test file:
`snapshot("01_SmartTab")`

I expect that for each device type the *.png file name exactly reflects this name, and not with

[2017-02-24 19:31] hjanuschka commented on #7691
@pmpandit04 looks like you are missing the commandline tools from xcode.

could you try running the following command (once):

[code]

[2017-02-24 19:33] Alarson93 commented on #6993
Bingo!
Login.keychain-db needs to be first.

eliasbagley's solution (re-ordering the keychains in the Keychain app) worked!

Thank you very much :)

[2017-02-24 19:35] hjanuschka commented on #8339
@funnel20  right now there is no option to disable the appending of uniq-hash.
and you are right documenation can be improved, and the readme didn't get updated.

this is the PR that introduced the change: https://github.com/fastlane/fastlane/pull/7670

i think i still didn't get it 100%, unless you change the `launch_arguments` - the uniq-hash stays the same - so you could always relay on it and

[2017-02-24 19:37] lkraider commented on #8360
I don't know if it's a bug, but the iTunesConnect site allowed me to resubmit the same build for review (as if it was never submitted), I'll wait and see what happens now.

[2017-02-24 19:38] hjanuschka commented on #8360
🤔  ok would be nice if you share the results.

[2017-02-24 19:53] hjanuschka commented on #8346
glad it works, could you tell us what the solution was?

[2017-02-24 20:03] RenGate opened #8361 "[snapshot] Ability to specify configuration file name as a parameter of snapshot CLI"
### New Issue Checklist

- [+] Updated fastlane to the latest version
- [+] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

In cases where it is required to generate different sets of screenshots by using several configuration files it is crucial to be able to tell snapshot to use a configuration file with a name t

[2017-02-24 20:34] hjanuschka commented on #8361
right now most of the tools have hardcoded `Snapfile`, `Deliverfile` and so on.

if you want to use different variations you should go with a `Fastfile``
e.g:

[code]

by running `fastlane config1` you ll run snapshot with `target1` by running `config2` you ll be running snapshot with `target2`

let me know if this answers your question

[2017-02-24 22:30] funnel20 commented on #8339
@hjanuschka - This technical solution for #7670 is an undesired solution from the perspective of usability.
Why add a MD5 hash to a filename? What if Windows Explorer or Mac Finder would do this automatically for each file that you save?
As I see, the changed code will always create the same filename when the launch arguments stay the same.
Why is the MD5 required? I don't see a difference between

[2017-02-25 00:29] pschneider commented on #7871
Getting this error too.
- Removing `export_method` did not fix it for me.
- Automatic code sign is turned off and using distribution profile for my Production configuration (listed under eligible)

[code]

lane:

[code]

[2017-02-25 00:52] jwhitley commented on #6520
For good measure given @allaire's results, I went through the whole dance of:
* `fastlane ...`, just for kicks. rsync error on _CodeSignature folder of entirely novel (for me) package.
* backup
* reboot in Recovery Mode
* run Disk Utility's First Aid on my startup partition (used for all Xcode operations)
* run Disk Utility First Aid on my startup disk (which covers the partition map)
* reboot int

[2017-02-25 00:56] jwhitley commented on #6520
@KrauseFx Are you aware of any way to get `fastlane` to replicate Xcode's behavior of skipping symbolication for dependent frameworks, described in [this earlier comment of mine](https://github.com/fastlane/fastlane/issues/6520#issuecomment-281461277)?

I did one pass of research, but didn't find any obvious mechanism to change xcodebuild's behavior on this.  It wouldn't be a root-cause fix, but i

[2017-02-25 01:35] cpk1 commented on #6818
I've got something that lets pilot upload and submit to external testflight, and before attempting to turn on the external distribution will check the status of the build to see if it is possible or not. This will prevent the "This build could not be used for external testing because the build is not approved." error.

[2017-02-25 01:54] haoshuncheng opened #8362 "how to set the country for sale?"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

[INSERT OUTPUT HERE]

### Environment

Please run `fastlane env` and copy the output below. This will h

[2017-02-25 04:12] #7557 closed

[2017-02-25 09:58] peter542 commented on #8348
Hello!

Thank you very much for adding this feature! It will save me so much time!

Is it possible to support different screenshot sizes? 768*1024 for example? ITC supports these screenshots.

Again, thank you very much!

[2017-02-25 10:18] Badmuts commented on #8298
Ok I still haven't figured this one out. What I will try now is to setup a simple 'bot' account with 2-fac disabled and use that account to deploy to TestFlight or the Appstore.

[2017-02-25 10:28] pschneider commented on #7871
Running `Archive` in Xcode manually once prompted me to allow access to an keychain key which I didn't allowed access manually previously. The Xcode archive succeeded.

After that I tried running the lane mentioned above and it finished successfully too. So it seems that somehow match installed the keychain items but `codesign` had no access to them which resulted in the error mentioned in my prev

[2017-02-25 12:25] orkenstein commented on #8138
@ohayon thanks, will try

[2017-02-25 13:59] glennposadas opened #8364 "How to generate a valid size screenshot to be used for FrameIt?"
### New Issue Checklist

- [✓ ] Updated fastlane to the latest version
- [✓ ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I'm trying to find a nice tool for helping me make my own screenshots to App Store. I first planned to download a photoshop template and I found one, a complete one, however, the author didn

[2017-02-25 18:10] hjanuschka commented on #8339
@funnel20  i am sorry for you, but i would love to review a PR that bypasses the hashed filenames unless launch_arguments are set, so if you are up to a PR just direct ping me.

[2017-02-25 18:43] RenGate commented on #8361
Thank you very much, such approach works for me.

[2017-02-25 18:43] #8361 closed

[2017-02-25 18:58] Isuru-Nanayakkara opened #8365 "Snapshot simulator keeps getting timed out"
### New Issue Checklist

- [✓] Updated fastlane to the latest version
- [✓] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I'm trying to take screenshots using snapshot (I'm following [this tutorial](https://www.raywenderlich.com/136168/fastlane-tutorial-getting-started-2). Up until this step, everything else work

[2017-02-25 19:00] GoodMirek opened #8366 "Match behavior while Apple is down"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Several minutes ago my CI was working, but is failing now. It is again due to Apple's developer portal. This time it does not return 50x, but fails with message:
[code]

#### PROPOSAL
I am prop

[2017-02-25 19:04] JGTM2017 commented on #8366
`Apple 302 detected`, just now. Concur in the proposal above.

[2017-02-25 19:16] GoodMirek commented on #8366
@JGTM2017 It seems the guys in Apple recently do their best to break all the CI around the world. If they provided a reasonable CI, not the joke named Xcode Server, the life would be easier. Well, maybe they do not care, they are instead desperately struggling to find an "ESC" key :D

[2017-02-25 22:48] funnel20 commented on #8339
@hjanuschka - Is the following requirement an acceptable solution? I think this helps anyone.

Users who want to use launch arguments should have an option to omit the MD5 hash in the screenshot filenames. This can be achieved by adding the pre-defined launch argument: `omitHashInOutputFilename` (or something more to your liking).

When this launch argument is available, the code will output the o

[2017-02-26 01:27] #8364 closed

[2017-02-26 05:27] hjanuschka commented on #8339
i think that it would be easier to go with something like this:

  * do not append uniq id, if launcharguments is not sit (== nil)
  * do not append uniq id, if launch arguments array is exactly the length of 1

this way it should be only appended in situations where launch arguments are heavily used.
what do you think about it?

if you want/can provide a PR, i am happily helping you if you need a

[2017-02-26 08:38] pmpandit04 commented on #7691
hjanuschka,

When I run `xcode-select --install`, I get the message `xcode-select: error: command line tools are already installed, use "Software Update" to install updates`.

Seems like I have command line tools installed. I also verified by typing `gcc. I get the output `clang:` error: no input files`.

I am running Xcode 8.2 on El Capitan (OS X version 10.11.6).

[2017-02-26 09:17] Isuru-Nanayakkara commented on #8365
Do I have to code sign the UI test target? It's currently set to automatically managing via Xcode.

[2017-02-26 11:03] #7683 closed

[2017-02-26 11:48] funnel20 commented on #8339
@hjanuschka
As a user this would solve my problem. But only temporary.
What if I decide to use 2 launch arguments in the (near) future?

From the perspective of a Software Engineer the solution is bad.
The software behaviour is changed significantly based on a subjective count of an input argument.
Since this is a fundamental discussion about the SnapShot product, I hope that @KrauseFx can join th

[2017-02-26 16:31] lacostej commented on #8339
👍  to specifying the output directory. Also we have to make sure the launch arguments don't make it into the file name, right?

[2017-02-26 17:01] mfurtak commented on #8339
The discussion here is really great. Thanks for working this out together! 💯

[2017-02-26 18:03] funnel20 commented on #8339
@lacostej - If using the `output_directory` is the proper solution for #7670 as I describe in my previous comment, indeed the MD5 hash (based on content of launch_arguments) can be removed from the file name.
Basically this is reverting the fix for #7670, as indicated in https://github.com/fastlane/fastlane/pull/7670/files.

But first I want to gain confidence that my suggestion with `output_direc

[2017-02-26 20:16] RafaelPlantard commented on #8298
I'm with the same issue! 👎

[2017-02-26 20:20] RafaelPlantard commented on #8218
I'm facing this same issue at `match`. Any solution?

[2017-02-26 21:42] Badmuts commented on #8298
Ok I got the build working by creating a new iTunes connect user with permissions to upload and deploy apps.

Had some time to check the source code for fastlane but could not find anything related.

I think there might be an security measure in place from Apple, even though there is a session available it still asks for a auth code because of the sudden change in location. I am located in The Net

[2017-02-26 22:05] hjanuschka commented on #8339
@funnel20 i think this just moves the error/defect of broken filenames to foldernames. (however i like the idea of having folders per launch_argument)
as the PR that introduced the md5 hashes, tried to fix non-easy launch_arguments.

like: `launch_arguments: ["-myUrl https://google.com"]` - this resulted in bad/broken filenames.
a hash was the only future-proof solution i could come up with, but i

[2017-02-26 22:07] RafaelPlantard commented on #8298
@Badmuts it worked just with no TFA, right?

[2017-02-26 22:13] Badmuts commented on #8298
@RafaelPlantard Yes, by creating a new account where 2FA is not enabled I was able to upload builds to TestFlight via `pilot`. Via this method you do not need `FASTLANE_SESSION` only `FASTLANE_PASSWORD` and off course the rest of your login information via the `Appfile` or something else.

However the `FASTLANE_SESSION` workaround for 2FA is still not working for me so I am keeping this issue open

[2017-02-26 22:14] RafaelPlantard commented on #8298
I will use your solution for while. Thanks man @Badmuts 👍

[2017-02-26 22:18] Badmuts commented on #8298
No problem @RafaelPlantard ! Hope you get things running.

For some more clarity both the methods outlined on [docs.fastlane.tools](https://docs.fastlane.tools/best-practices/continuous-integration/) and in the [spaceship readme](https://github.com/fastlane/fastlane/tree/master/spaceship#2-step-verification) did not work for me.

[2017-02-26 22:20] RafaelPlantard commented on #8298
@Badmuts for me too. Nothing works into fastlane docs (👎).

[2017-02-26 22:28] funnel20 commented on #8339
@hjanuschka
Can you explain in depth "the error/defect of broken filenames"?
- What exactly is the use-case that resulted in the fix for #7670?
- What is the expected result?
- What was the actual resulted before the fix?

If you use 1 folder for per `launch_arguments`, I don't see any reason to append whatever string in the file names. Why should there be any relation between the content of `laun

[2017-02-26 22:41] hjanuschka commented on #8339
@funnel20

the initial issue where filenames resulting in:
`/Users/MyApp/fastlane/screenshots/en-US/iPhone4s--myUrl https://google.com-0Launch.png`

which later on failed to copy

[code]

i think user wants to run snapshot with different urls in the app

Get screenshots of different settings, and for sure do *not crash*

Crashed, and snapshot didn't finish successfully.

e.g.: `-`. i know that its

[2017-02-26 22:47] funnel20 commented on #8339
I know see that #7670 was a fix for #7663.
This explains a lot.
The original code created the screenshot name as:
`<device name>-<launch arguments>-<snapshot name>.png`

I can see why this fails to copy, as the bunch of characters from `launch_arguments` might create an invalid file path.

Fix #7670 changes this to:
`<device name>-<snapshot name>-<MD5 hash>.png`

[2017-02-26 22:50] hjanuschka commented on #8339
@funnel20  exactly! and your concerns are right about unpredictable filenames.
but i think, not crashing has the higher priority in this case. but i am still open for improvements and changes let me know if you are going for a PR 👍

[2017-02-26 22:57] funnel20 commented on #8339
@hjanuschka
Combing #7663, your answer and good practise of software engineering that it will never crash:

**Use-case**
The user wants to run snapshot with different `launch_arguments` in the app.

**Expected result**
Get screenshots of different settings.

This matches with my assumptions from my earlier post 👍.
What doesn't match, is my solution to revert to the original code from before fix #7

[2017-02-26 23:10] hjanuschka commented on #8339
i still think my proposed solution

  * do not append uniq id, if launcharguments is not set (== nil)
  * do not append uniq id, if launch arguments array is exactly the length of 1

(i think a similar approach was the original behaviour introduced with: https://github.com/fastlane-old/snapshot/commit/02509add9a99a51b7f843298d2bd3ecbb42a2783)

is the one that should make all stakeholders happy, an

[2017-02-26 23:27] funnel20 commented on #8339
@hjanuschka
I tried to convince you earlier that your solution will not make me happy.
Also the product and its documentation will become spaghetti.

1. I will have the same issue again when I use 2 or more `launch_arguments`.
2. It's bad practise to base software behaviour on a subjective count of an input argument. And creates unnecessary complicated documentation.
3. It's a workaround for an in

[2017-02-27 02:05] KrauseFx commented on #8298
Hey everyone, it seems like there is an issue with escaping the environment variable in Travis. We haven't had the chance to reproduce this yet to work on a fix. For now the only solution is to create a new account with limited access to use on your CI.

[2017-02-27 03:23] KrauseFx commented on #8121
This is now implemented with [krausefx/nigthly](https://github.com/krausefx/nightly), see the published releases on [rubygems.org/gems/fastlane](https://rubygems.org/gems/fastlane) 🚀

We'll still need an easy way for people to switch to nightly builds, but for now, people can manually update to those releases 👍

[2017-02-27 03:23] #8121 closed

[2017-02-27 06:07] dacaiguoguo opened #8368 "The gym xcconfig option affects all Targets, and how to set the xcconfig file for the specified target？"
# The gym xcconfig option affects all Targets, and how to set the xcconfig file for the specified target？

[2017-02-27 06:17] dacaiguoguo commented on #8368
<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                 | Value                                       |
| ------------------- | ------------------------------------------- |
| OS                  | 10.12.3                                     |
| Ruby                | 2.2.5                                       |
| Bundler?            | false

[2017-02-27 06:54] hjanuschka commented on #8339
`launch_arguments` and it is iterated over the amount of devices.

so extending your sample:

[code]

would end up putting alphabet screenshots into the "google" folder. where as it is expected to produce seperated files.

[2017-02-27 08:08] Snorlock commented on #8139
Anyone in the fastlane team to be able to answere this? @KrauseFx, @mfurtak, @asfalcone

[2017-02-27 08:39] jaroslavas commented on #8358
`fatlane env`: (noting special, Travis)

<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                 | Value                                       |

| ------------------- | ------------------------------------------- |

| OS                  | 10.12.1                                     |

| Ruby                | 2.0.0                                       |

| Bundler?

[2017-02-27 09:20] Badmuts commented on #8298
Thanks for the update @KrauseFx

[2017-02-27 09:24] funnel20 commented on #8339
@hjanuschka
Finally I get it. Sorry for being so unbelievable stupid.
It would have helped if it was brought up that it's possible to **repeat the same key** with multiple values in the `launch_arguments`.

Based on your reply with 2 times key `myUrl` in `launch_arguments`, I read the documentation again.
In the last part of section "Launch Arguments" is mentioned that a single Snapshot run will b

[2017-02-27 10:33] AymenFarrah commented on #8245
have same issue, testFlight fail !
 "\xDF" from ASCII-8BIT to UTF-8
with the last update of fastlane

[2017-02-27 10:49] MyGuySi opened #8370 "Unable to manually specify git credentials for push_to_git_remote"
### New Issue Checklist

- ✅ Updated fastlane to the latest version
- ✅ I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Running `push_to_git_remote` fails with git credential error when triggered by TeamCity build server. The build agent is installed on my local iMac.

If I execute fastlane manually in the terminal

[2017-02-27 11:12] mfurtak commented on #8139
Sorry for the trouble! I am not currently able to explain it. I'll have to leave this open until I have time to investigate.

[2017-02-27 12:29] remcohaszing opened #8371 "Why is $HOME/.fastlane created with an install using homebrew?"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I've just installed fastlane using homebrew and noticed a `~/.fastlane` directory was created. Why is this?

I'd expect fastlane to be installed to `/usr/local/Caskroom`. I don't see any reaso

[2017-02-27 12:51] alexander-agri opened #8372 "Distinguish device/simulator name in the test report"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Hey guys! I'm running UI tests with `scan` against different simulators and iOS versions. However, if I have a few simulators in the destination list and if there's a failure taking place - the

[2017-02-27 13:35] lacostej commented on #8245
@philwebster have you also tried setting the LC_TYPE on the official version?

[2017-02-27 14:08] realf commented on #8026
Are there any updates on this issue?

[2017-02-27 14:28] ohayon commented on #8138
@orkenstein Let us know how that goes! 🚀

[2017-02-27 14:28] #8138 closed

[2017-02-27 14:41] craigedmunds opened #8373 "Add support for hidden -increment-minor-version option in increment_build_version action"
As discussed in https://github.com/fastlane/fastlane/issues/596

Apple's agvtool has a hidden option -increment-minor-version I use to bump my build version.

agvtool next-version -increment-minor-version -all
will bump 35.3 to 35.4, while the default behaviour would bump to 36.

I would love to see a minor: true|false option in the increment_build_version action. It might be useful for others too

[2017-02-27 14:43] burczyk opened #8374 "Xcode bot, "Missing password for user" with 2FA and FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD set"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Hi guys, I'm trying to integrate fastlane with Xcode bots and I'm facing some problems.
My configuration was based mainly on this great series of blog posts: https://honzadvorsky.com/articles/

[2017-02-27 14:49] hjanuschka commented on #8373
i am not sure if this should be labeld as "Bug".

this should be done here, if i get it right?:
  * https://github.com/fastlane/fastlane/blob/master/fastlane/lib/fastlane/actions/increment_build_number.rb#L36
  *  https://github.com/fastlane/fastlane/blob/master/fastlane/lib/fastlane/actions/increment_version_number.rb#L26 here too ?

would you like to go for a PR? - i more than happy to help you

[2017-02-27 14:51] lacostej commented on #8339
Can someone explain how people use of multiple launch arguments? I am not exactly sure I understand the A/B testing use case. In the meantime, here's a proposal:

1. 0 or 1 launch arguments: do not append launch arguments to the screenshot name
2. 2 or more launch arguments, either sanitize it, or replace it with an index (e.g. `device_name + "-" + name +"-" + idx + ".png"`). Alternatively we coul

[2017-02-27 14:58] MichaelCurtisEls opened #8375 "Sigh taking awhile to download profiles (Duplicate of #6195)"
This is a duplicate of https://github.com/fastlane/fastlane/issues/6195, but I can re-create it again.

Sigh is taking about 3.5 minutes to fetch provisioning profiles as opposed to 15-20 seconds which was typical. Everything completes as normal, it just takes significantly longer.

Version Info:
fastlane -v
fastlane 2.18.3

sigh -v
sigh 2.0.1

Sigh output:

+-------------------------------------+

[2017-02-27 15:10] mfurtak commented on #8355
Please include complete output when running _fastlane_ :+1:

[2017-02-27 15:10] #8355 closed

[2017-02-27 15:11] funnel20 commented on #8339
@lacostej
Please read my 3 different use-case.
Your solution fails (similar to that of @hjanuschka ) for use-case 2, by defining the logic based on the number of launch arguments.

The existing Snapshot logic is that the test:

- runs once when the keys in `launch_arguments` are unique
So even when there are 6 unique keys, a single run is performed and there is no need to make the file names uniqu

[2017-02-27 15:15] hjanuschka commented on #8355
@segiddins

Disable Charging
[code]

Enable Charging
[code]

but this should be done as a plugin tbh 🦀

[2017-02-27 15:18] hjanuschka commented on #8375
@MichaelCurtisEls we are aware of this issue, the PR here, is not yet finished, but is going to address the issue -> https://github.com/fastlane/fastlane/pull/8359

[2017-02-27 15:21] segiddins commented on #8355
❤️

[2017-02-27 15:22] MichaelCurtisEls commented on #8375
Wonderful, thank you very much!

[2017-02-27 15:22] #8375 closed

[2017-02-27 15:30] AymenFarrah opened #8376 "scan test_without_building not working"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I use Gym for build/archive so i have this:

[code]

So in logs:

[code]

When i use scan with those parameters
scan(derived_data_path: derivedDataPath, test_without_building: true)

And then

[2017-02-27 15:36] hjanuschka commented on #8376
to clarify the usage of `test_without_building` you should run scan with `build_for_testing`  in before.

like

[code]

if you require to use gym - you ll have to set the `build-for-testing` via xcargs. which should result in a special file with `.xctestrun` at the end. you can than take that for scan.

[code]

let me know if this helps.

[2017-02-27 15:43] asfalcone commented on #8370
Hi @MyGuySi I believe you need to set up the team city server to have [ssh auth](https://help.github.com/articles/connecting-to-github-with-ssh/) for working with git. Let me know if this fixes the issue for you! 👍

[2017-02-27 15:44] asfalcone commented on #8362
@haoshuncheng This issue is incomplete and missing the important information to be able to help you. Please provide the information requested above (the command you ran, the output, etc). Thanks!

[2017-02-27 15:47] asfalcone commented on #7941
Going to close this issue since there hasn't been a reply in some time. Please see #8004 for an explanation of that error message. If you're still having a problem, please open a new issue with more details. Thanks!

[2017-02-27 15:47] #7941 closed

[2017-02-27 15:48] asfalcone commented on #7712
I'm going to close this issue since it has been open for a while without follow up.

[2017-02-27 15:48] #7712 closed

[2017-02-27 15:49] asfalcone commented on #7988
I'm going to close this issue since it has been open for a while without follow up.

[2017-02-27 15:49] #7988 closed

[2017-02-27 15:49] #7104 closed

[2017-02-27 15:50] #6993 closed

[2017-02-27 15:50] asfalcone commented on #6993
Glad you found a resolution @Alarson93 👍

[2017-02-27 15:56] hjanuschka commented on #7668
i am going to close this because of missing information, feel free to reopen the issue with a stacktrace included, so we can help you!

[2017-02-27 15:56] #7668 closed

[2017-02-27 15:57] hjanuschka commented on #7699
@Mactub07  looks like your issue is resolved, feel free to reopen or create a new issue if you have any further questions

[2017-02-27 15:57] #7699 closed

[2017-02-27 15:59] mfurtak commented on #8218
Hi @RafaelPlantard - please track trouble with this as it relates to _pilot_ over here: https://github.com/fastlane/fastlane/issues/8298

[2017-02-27 16:01] mfurtak commented on #8374
Related to #7380

[2017-02-27 16:02] mfurtak commented on #8218
@Badmuts If it's OK with you, I'm going to close this issue then, and we'll continue to work on _pilot_/_deliver_ stuff in #8374, #8298, #7380 👍

[2017-02-27 16:02] #8218 closed

[2017-02-27 16:02] hjanuschka commented on #1741
as @KrauseFx  proposed, if you really want to have this feature go for a PR - if you need any help feel free to directly ping me. going to close the issue, as it is really long open - and is kind of staled.

[2017-02-27 16:02] #1741 closed

[2017-02-27 16:03] hjanuschka commented on #7696
hey folks i think those issues have been resolved - any one can confirm this?

[2017-02-27 16:04] hjanuschka commented on #7700
hey folks can you try curent fastlane version, i think the json issues have been resolved.

[2017-02-27 16:05] hjanuschka commented on #7651
@chuyik is still an issue?

[2017-02-27 16:05] hjanuschka commented on #7690
@pbeast has this been resolved?

[2017-02-27 16:06] hjanuschka commented on #7242
@owurman i just tested it again, documentation still seems to be correct - can you confirm, and close the issue?

[2017-02-27 16:07] hjanuschka commented on #7729
as the PR #7777 has been merged, i am going to close this issue 💯  for your contribution

[2017-02-27 16:07] #7729 closed

[2017-02-27 16:08] AymenFarrah commented on #8376
i'm trying this one and it works
`scan(derived_data_path: "datapath", build_for_testing: true)
scan(derived_data_path: "datapath", test_without_building: true)
`
my idea was to build just one time my project with gym and next run scan on myApp.app generated by gem before.
but with this solution i will build twice my projet !

thank you

(i'm trying your second solution)

[2017-02-27 16:09] hjanuschka commented on #1963
as there is  a lack of access to the amazone-store api (i think i am going to get mine in a couple of days anyway) - i am going to close this issue - if anyone is up for doing a amazon-store-plugin and requiring help, let me know

[2017-02-27 16:09] #1963 closed

[2017-02-27 16:11] hjanuschka commented on #8376
@AymenFarrah glad you got it working 👏

gym (xcode) does not build files required for testing by default. so without the xcargs it won't work. i am going to close this issue, feel free to reopen  (or file new one) if you need any further informations

[2017-02-27 16:11] #8376 closed

[2017-02-27 16:14] mfurtak commented on #8374
Hi @burczyk - thanks for the report 👍

Are you also using the `FASTLANE_SESSION` environment variable to capture the output of `fastlane spaceauth` as described here: https://docs.fastlane.tools/best-practices/continuous-integration/#two-step-or-two-factor-auth ?

[2017-02-27 16:16] burczyk commented on #8374
@mfurtak I did set it in `.profile` file but it may be a good hint it's not visible during build process. Tomorrow when I'm at work I'll set it directly in Post-Integration trigger and let you know about the results.

[2017-02-27 16:17] asfalcone commented on #8059
I'm going to close this issue since it has been open for a while without follow up.

[2017-02-27 16:17] #8059 closed

[2017-02-27 16:20] funnel20 commented on #8339
After some testing it appears that I interpreted `launch_arguments` wrong. Again.
Because it has a double function:

1. Each element in the array represents a new test run.
2. Multiple key/value pairs can be combined in 1 element to define the launch arguments for that particular test run.

To understand these, consider the next 2 examples:

**Example 1**
[code]
The array has 1 element, with 2 _co

[2017-02-27 16:23] asfalcone commented on #8358
@jaroslavas It seems like this is problem for many people running UI tests and isn't specific to _snapshot_: https://forums.developer.apple.com/thread/6437 You might take a look through that forum and see if any of the posts or links help you resolve the problem. Feel free to report back here if you do find a solution.

[2017-02-27 16:24] ohayon commented on #8371
Hey @remcohaszing! Thanks for raising the issue! One of the main reasons for installing into the home directory is so that we do not need to escalate permissions if/when users do not have write permissions to `/usr/local/lib` and `/usr/local/bin`.

We would definitely be open to discussing this further, but I am going to close this issue for now as it does not cause any problems that we are aware

[2017-02-27 16:24] #8371 closed

[2017-02-27 16:25] asfalcone commented on #7745
Looks like this issue has been resolved. Going to close it out 👍

[2017-02-27 16:25] #7745 closed

[2017-02-27 16:27] asfalcone commented on #7747
Following the linked issue from carthage the follow resolution was listed:

Add
`sh("security set-key-partition-list -S apple-tool:,apple:,codesign: -s -k #{ENV["KEYCHAIN_PASSWORD"]} #{ENV["KEYCHAIN_NAME"]}")`
to your Fastfile after _sigh_ and _cert_

Could you give this a try and let me know?

[2017-02-27 16:28] ohayon commented on #6897
Going too close this issue for now as I think @KrauseFx's solution is great. Feel free to drop a note here if things are still not working as desired. 🐙

[2017-02-27 16:28] #6897 closed

[2017-02-27 16:30] asfalcone commented on #7778
@biolinh Is your issue resolved? It seems like finding the `ipa` param for _deliver_ solved it?

[2017-02-27 16:32] asfalcone commented on #7797
The PR was merged so I'm going to close out this issue 🎉

[2017-02-27 16:32] #7797 closed

[2017-02-27 16:43] lacostej commented on #8339
@funnel20 so given your last understanding, would my solution work? The uniq id isn't very descriptive. An index, a suffix, or a sanitized "launch arguments" array element would be better IMO.

[2017-02-27 16:50] funnel20 commented on #8339
@lacostej
This issue is about removing the undesired unique ID in the file name when the use-case doesn't require a unique file name.
So for situations where `launch_arguments` is not used, empty or has 1 element.

I like your idea of replacing the unique ID with a more descriptive string when `launch_arguments` contains more than 1 element.
But that's a different discussion, so feel free to open

[2017-02-27 17:09] owurman commented on #7242
Not sure how I'd check it now that I'm already set up. Go ahead and close
it I guess.

[2017-02-27 17:15] Snorlock commented on #8139
No worries, I just wanted this issue to get noticed

[2017-02-27 17:59] ohayon commented on #7645
Going to close this as it has been fixed! 😄 🚀

[2017-02-27 17:59] #7645 closed

[2017-02-27 18:01] momo-the-monster commented on #8056
I get this same issue when running through fastlane proper.

[2017-02-27 18:06] #7242 closed

[2017-02-27 18:07] najdanovicivan opened #8377 "Automate DSYMS upload to Crashlytics on Linux systems"
I'want to use fastlane to run DSYMS submission via cron job. I was able to configure the fastlane to work but the issue is that upload-symbols binary from Crashlytics app does not exits compiled for linux. I've already contacted Crashlytics support and they told me this is the fastlane issue.

 Is there a way to submit DSYSM without use of this binary or get the linux version of this binary file ?

[2017-02-27 18:33] philwebster commented on #8245
Hey @lacostej, I still get `Could not infer your app's version` with `LC_TYPE` set on the official version.

[2017-02-27 18:47] pbeast commented on #7690
Hi @hjanuschka,
I found that those fields can't be filled by fastlane, but, same time, they are optional, so I guess we can close the issue.

Thanks a lot,
Pavel

[2017-02-27 18:47] #7690 closed

[2017-02-27 19:23] TKBurner commented on #8377
@najdanovicivan Thanks for reaching out. Right now it's not possible to run the Crashlytics submit command on Linux, the Fastlane command runs this under the hood. The description of the submit command is in Crashlytics documentation. Feel free to ping your ticket with Fabric, we all work on the same team and can make a feature request for you. 👍

[2017-02-27 19:23] #8377 closed

[2017-02-27 19:42] ohayon commented on #7809
Hey @GBoyadziev, apologies for the delay getting to this issue! Are you still experiencing this problem? If so, could you show us the output from your command line when you run _snapshot_?

Also, did you record this UI test using Xcode? Does the assertion fail when running the tests by just hitting command+U while in Xcode?

Looking forward to hearing back! Thanks! 🐙 😄

[2017-02-27 19:47] ohayon commented on #7673
Going to follow @orta's lead here and close out this issue. Please feel free to open a new one if there are still issues with `gem` based installation on ruby 2.4.0! Thanks! 🚀

[2017-02-27 19:47] #7673 closed

[2017-02-27 19:51] #7602 closed

[2017-02-27 20:13] jpage4500 commented on #8338
Hi,

I'm also looking to do the same thing here.. I don't have an answer but I wonder if something can be done similar to this solution for uploading multiple APK's to Crashlytics:

http://stackoverflow.com/documentation/android/8215/fastlane/26395/fastfile-to-build-and-upload-multiple-flavors-to-beta-by-crashlytics#t=20170227195718036329

The key would be how to get the package name each time thr

[2017-02-27 20:31] asfalcone commented on #7990
This sounds like it would be a great [plugin](https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Plugins.md#plugins) @weibel 👍  Going to close this out since we don't currently have a plan to implement this as a feature.

[2017-02-27 20:31] #7990 closed

[2017-02-27 20:40] ohayon commented on #7869
Thanks for submitting the issue @koenpunt! It looks like this might just be some erroneous output that got in there somehow and it was not in fact encrypting anything there. Hope this helps! 🚀 🐙 https://github.com/fastlane/fastlane/pull/8378

[2017-02-27 20:41] #7869 closed

[2017-02-27 20:58] ohayon commented on #7624
Going to close this issue for now as it doesnt seem like we are going to take action on here. Feel free to continue discussion though! 😄 🐙

[2017-02-27 20:58] #7624 closed

[2017-02-27 21:21] ohayon commented on #7846
Hey @SuperMarioBean! Thanks for raising this issue. As @hjanuschka mentioned, I think that we have our platforms baked pretty deep into how _fastlane_ works. Additionally, our goal with _fastlane_ is to be an amazing deployment mechanism for mobile apps. Adding the ability to deploy to other platforms could result in increased surface area for support and a less focused toolset for iOS/Android. Fe

[2017-02-27 21:21] #7846 closed

[2017-02-27 21:24] ohayon commented on #7920
Going to close this issue for now as it seems like @hjanuschka's work around could be a great solution to the problem. Feel free to comment and keep conversation going here and we will reopen it if necessary! 🐙

[2017-02-27 21:24] #7920 closed

[2017-02-27 21:25] ohayon commented on #7899
Closing this as it appears to have been solved? 👍 🐙

[2017-02-27 21:25] #7899 closed

[2017-02-27 21:27] CareerFairPlus commented on #6897
@KrauseFx's solution is only for the update check output....not all the other output this issue was referring to...

[2017-02-27 21:35] ohayon commented on #7936
Hey @cepages, would you mind sharing a bit more of the command line input/output? What is the command that you are running to reproduce this error? Thanks!

[2017-02-27 21:36] asfalcone commented on #7879
The PR has been merged and shipped so I'm going to close this out 🎉

[2017-02-27 21:36] #7879 closed

[2017-02-27 21:37] mgrebenets opened #8379 "Fastlane assumes ./fastlane as integration folder and doesn't check for ./.fastlane"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Some fastlane tools assume that fastlane folder is `./fastlane` after checking for fastlane integration.

For example, this is from `scan/lib/scan/options.rb`
[code]

When fastlane is set up i

[2017-02-27 21:37] asfalcone commented on #7919
Closing as a duplicate of https://github.com/fastlane/fastlane/issues/8313.

[2017-02-27 21:37] #7919 closed

[2017-02-27 21:38] ohayon commented on #8365
Hey @Isuru-Nanayakkara! You shouldn't need to change anything in your code signing for testing. I am curious though, do you know if you have an iPhone 5 simulator installed on your machine?

[2017-02-27 21:40] asfalcone commented on #7888
I'm going to close this issue since it has been open for a while without follow up from the author.

[2017-02-27 21:40] #7888 closed

[2017-02-27 21:41] ohayon commented on #8347
Hey @alickbass, from my experience with Travis it is good practice to use environment variables as is documented here: https://docs.travis-ci.com/user/environment-variables/. Thanks! 🐙

[2017-02-27 21:41] #8347 closed

[2017-02-27 21:43] ohayon commented on #8368
Hey @dacaiguoguo, thanks for raising this as an issue! I do not believe this functionality is supported at the moment, its definitely possible we will get to this in the future, but please feel free to submit a pull request if you would like to get that change in sooner! Thanks! 🐙 😄

[2017-02-27 21:43] #8368 closed

[2017-02-27 21:44] asfalcone commented on #7912
Going to close this out since @PetrosIchor left some great comments with doc links that should solve the issue 👍

[2017-02-27 21:44] #7912 closed

[2017-02-27 21:45] alickbass commented on #8347
@ohayon that's true, but current action `push_to_git_remote` doesn't support changing the user of specifying the custom url nor making it silent not to show the github api key.

[2017-02-27 21:46] ohayon commented on #8340
Hey @zoufishanmehdi! Thanks for submitting the issue! It looks like there might be some issues with competing versions of _fastlane_ on your machine. Would you mind sharing the output of `which fastlane` and `echo $PATH`? I think with that information we should be able to understand a bit more of whats going on. Apologies for the inconvenience! 🐙

[2017-02-27 21:51] mpirri commented on #7884
@3DTOPO This looks like the contents of the `analytics` directory. Is there no `v3` directory at the same level as the `analytics` directory?

Try quitting the Fabric Mac app, deleting the `~/Library/Caches/com.crashlytics.data/com.crashlytics.mac` directory and then trying again.

Thanks for looking into this!

[2017-02-27 22:02] mfurtak commented on #8298
@Badmuts Thinking about your theory around location... have you tried running the `pilot` distribution from your local machine instead of CI?

If you want to experiment with that, I would suggest ensuring that your local environment is "clean" (like you might expect on CI) by taking the steps I describe in: https://github.com/fastlane/fastlane/issues/8218#issuecomment-280862932

[2017-02-27 22:04] mfurtak commented on #8298
Hi all, I am trying to reproduce this, but so far I have not had any luck. By using a combination of `FASTLANE_PASSWORD`, `FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD`, and `FASTLANE_SESSION` I am able to do a _pilot_ distribution from my local machine without being prompted for any credentials.

My next step will be to try to do the same from Travis CI, and see if it is any different.

[2017-02-27 22:07] mfurtak commented on #7380
Hi all, I am trying to reproduce this, but so far I have not had any luck. By using a combination of `FASTLANE_PASSWORD`, `FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD`, and `FASTLANE_SESSION` I am able to do:

[code]

from my local machine without being prompted for any credentials.

As described in https://github.com/fastlane/fastlane/issues/8218#issuecomment-280862932, my account is set up for

[2017-02-27 22:07] mfurtak commented on #8374
Hi all, I am trying to reproduce this, but so far I have not had any luck. By using a combination of `FASTLANE_PASSWORD`, `FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD`, and `FASTLANE_SESSION` I am able to do:

[code]

from my local machine without being prompted for any credentials.

As described in https://github.com/fastlane/fastlane/issues/8218#issuecomment-280862932, my account is set up for

[2017-02-27 23:32] #7394 closed

[2017-02-28 00:19] RichardGuion opened #8381 "[Regression] Fastlane scan help doesn't list options anymore"
### New Issue Checklist

- [X ] Updated fastlane to the latest version
- [ X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

The command "fastlane scan --help" does not print a list of options anymore.

fastlane scan --help
  scan

  The easiest way to run tests of your iOS and Mac app

  Commands:
    help  Displ

[2017-02-28 00:31] jinjorge commented on #7696
@hjanuschka yes, this is resolved. Thanks!

[2017-02-28 00:31] #7696 closed

[2017-02-28 00:32] jinjorge commented on #7700
@hjanuschka yes, this is resolved.

[2017-02-28 00:40] mfurtak commented on #8381
Hi @RichardGuion - thanks for the report. 👍

You are correct, and this is a known outcome from work done as part of https://github.com/fastlane/fastlane/pull/8297. You can read more about the problems that existed previously that motivated this change for _scan_ and all of the other tools, here: https://github.com/fastlane/fastlane/pull/8129

Because `fastlane scan` is just a shortcut for `fastlan

[2017-02-28 00:40] #8381 closed

[2017-02-28 02:10] chuyik commented on #7651
@hjanuschka Maybe still an issue, but I haven't touch Fastlane since then.

[2017-02-28 02:12] #7613 closed

[2017-02-28 02:22] diaojunxian opened #8382 "oclint occures errors sometimes"
As I used `fastlane gym` build our iOS app,and prodoct out_put `compile_commands.json` ,and then I used the command
[code]
sometimes it worked well ,I can see the log
[code]
but sometimes it told errors you can see the log
[code]
why it happend, and what can I solve it ?
tips:the oclint -version is 0.11.1

[2017-02-28 04:54] s-gagandeep commented on #8338
hi,

I was also stuck at the above scenario, but as a way around i have lane switching and iteratively build
all apk and uploading to playstore.

This is what i have tried:

  desc "deploy each flavor"
  lane :flavor1 do
    gradle(task: "clean")
    gradle(task: "assembleflavorRelease")
    supply(
    track: 'alpha',
    package_name: 'com.flavor.src',
    apk: "/Users/Involvio/AndroidStudioProj

[2017-02-28 06:34] #7700 closed

[2017-02-28 06:36] hjanuschka commented on #7651
ok - i am going to close this, feel free to reopen or file a new issue

[2017-02-28 06:36] #7651 closed

[2017-02-28 06:41] Isuru-Nanayakkara commented on #8365
Hi @ohayon! Yes, it's installed.

![screen shot 2017-02-28 at 11 56 39 am](https://cloud.githubusercontent.com/assets/2551877/23394099/2b3ae044-fdad-11e6-9c85-5a8c99226eae.png)

I also tried with iPhone 6 but got the same result.

[2017-02-28 06:54] alphatroya opened #8384 "Add carthage --cache-builds option"
Carthage released version 0.20 with builds cache [flag](https://github.com/Carthage/Carthage/releases/tag/0.20.0), I think it should be added to the fastlane action

[2017-02-28 08:15] hjanuschka commented on #8365
i have that on my local machine from time to time, that simulator pops up (even if i launch it manually) shows booting progress bar - but never finishes - runs for 1 hour - then i kill it.
not sure what is going on in the background. the solution that works is "Reset Content and Settings"

or as  i do it - just reset/remove/recreate all simulators with:

[code]

[2017-02-28 08:16] hjanuschka commented on #8365
ohhh i see you already tried the resetting, maybe the reset_simulators does the trick.

[2017-02-28 08:19] Isuru-Nanayakkara commented on #8365
@hjanuschka Does `fastlane snapshot reset_simulators` download them anew?

[2017-02-28 08:24] Redysz commented on #8238
The same here.
fastlane update_fastlane:
[code]

after download new version of fastlane from website:

[code]

[2017-02-28 08:37] hjanuschka commented on #8365
nah it doesnt download, it doesnt delete the os images, it just removes the simulator, comparable to deleting it by hand from within xcode->window->devices

<img width="888" alt="bildschirmfoto 2017-02-28 um 09 34 10" src="https://cloud.githubusercontent.com/assets/2891702/23397510/1f55ff48-fd99-11e6-948a-31fac092df51.png">

after removing all it creates them again.

sample:

![bildschirmfoto 2017

[2017-02-28 08:41] Isuru-Nanayakkara commented on #8365
@hjanuschka Thanks. I tried that it didn't work either :(

[2017-02-28 08:48] wolffan opened #8385 "Member account can't download provisioning profiles with sigh"
### New Issue Checklist

- [-] Updated fastlane to the latest version
- [-] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Running `sigh` as a Member (not Admin) doesn't allow fastlane to download any existing provisioning profiles.
I'm aware this is the "expected" behaviour based on several issues I've read alread

[2017-02-28 08:50] hjanuschka commented on #8365
damn! sorry i don't think i can help you then, sorry

[2017-02-28 08:53] MyGuySi commented on #8370
I tried a few things yesterday to get that to work but no luck so far, I'll spend some more time today on it and report back

[2017-02-28 09:09] 84798012 opened #8386 "snapshot only-testing for specify file can't work"
As we know when we run xcode script "xcodebuild -only-testing:TestFileName", it will only run the specified files.
But when run "fastlane snapshot --xcargs "only-testing=TestFileName", it seems not work, all test files will run in current scheme.
I know we can using single scheme and specify to run it.
But does any way to specify file to run the test and produce screenshot ?

[2017-02-28 09:11] s-gagandeep commented on #7073
hi @GokhanArik @asfalcone is there any way apart from  gradle clean, as it takes much longer time to build. I have around 20 flavors and corresponding 20 lanes for each flavor, so i clean and build again it takes lot of time.
I want to build all apks once and upload it one by one.

[2017-02-28 09:11] jaroslavas commented on #8358
Yes, looks like a general problem with tests :(

[2017-02-28 09:11] #8358 closed

[2017-02-28 09:21] #6806 closed

[2017-02-28 09:52] GBoyadziev commented on #7809
Hello, today I updated to the latest version of fastlane and ran my snapshot lanes. Mostly everything works as expected, I got one fail, like the one mentioned above.
CommonUITests
✗ testInAPPScreenShots, XCTAssertTrue failed - Could not find search field
✗ testInAPPScreenShots, UI Testing Failure - No matches found for "videoListSearchBarView" Other

I think the issue has something to do with the

[2017-02-28 09:53] rekhaagarwal opened #8387 "Windows support for fastlane"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
I have tried to intsall ruby ( http://rubyinstaller.org/downloads/) and then tried to run "fastlane init".
But it gives me following error:
C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/fastlane-2.18.

[2017-02-28 10:01] palmithor opened #8388 "Screengrab Unable to capture screenshot on CircleCI - See #7177"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Unable to run with UiAutomatorScreenshotStrategy on Circle CI and therefore I am unable to take a screenshot of dialogs. If UiAutomatorScreenshotStrategy is not enabled the screenshots work fin

[2017-02-28 10:14] burczyk commented on #8374
@mfurtak thank you for your tests. I confirm that using all 3 values in script does solve the issue and builds can be successfully delivered. It's a bit non obvious though. Maybe it's a good case to extend this https://docs.fastlane.tools/best-practices/continuous-integration/ with Xcode bots?

[2017-02-28 10:38] simkim opened #8389 "features & enabled_features & prod_push_enabled not filled on app object"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

When using spaceship, app is not filled with features and enabled features

[code]

### Environment

The code is run in a rails app in docker

[code]

<details><summary>🚫 fastlane environment

[2017-02-28 11:06] MyGuySi commented on #8370
@asfalcone I'm not able to setup the repository with SSH, I'm running into more problems than before. I've tried executing `git push ..` explicitly in the build script and I get the same error so it's obviously an issue with TeamCity and Git so I'll look into it further and close this issue.

Thanks.

[2017-02-28 11:06] #8370 closed

[2017-02-28 11:13] mfurtak commented on #8374
Nice, thanks for working with me on this :+1: I don't personally have experience with Xcode bots, but it would be great if we could share what you have learned with everyone.

docs.fastlane.tools is open-source [here](https://github.com/fastlane/docs), so I would love to review a pull request to add what you've learned about Xcode bots and fastlane :+1:

[2017-02-28 11:13] #8374 closed

[2017-02-28 11:14] rostopira commented on #8037
Error dissappeared. Now fastlane creates new release in beta without any apk

[2017-02-28 11:24] s-gagandeep opened #8390 "[!] Google Api Error: publishingDailySaveQuotaExceeded: Daily save quota exceeded."
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
I am getting below error while updating apk to alpha on playtore
[!] Google Api Error: publishingDailySaveQuotaExceeded: Daily save quota exceeded.

And i haven't updated the app today, so i am

[2017-02-28 13:18] wolffan commented on #6519
I concur in this issue for Xcode 8.2.1
I can manually configure and run properly, but from CI changing by code the codesign to manual hasn't worked.
I haven't tried @KIVagant code, but I'd say there should be a fix as a general rule. Bitrise have their own solution (which is basically using xcodebuild).

[2017-02-28 13:21] KIVagant commented on #6519
@wolffan , you can compare your `*.pbxproj` file before manual configuring in GUI and after. If the only one that changed is 'CODE_SIGN_IDENTITY[sdk=....]....' – my snippet could help you for now.

[2017-02-28 13:31] domenico-renna commented on #8345
fastlane env is not required to respond on my question, I only need some info or documentation link about the submit_information flag

[2017-02-28 13:40] matthiasp42 commented on #6519
@KIVagant, your snippet also changes a configuration for all my Frameworks. i.e:
`393E13891D884F2100B1107C /* Gzip.framework in Frameworks */ = {isa = PBXBuildFile; fileRef = 39CD43681D86BA65000A4A00 /* Gzip.framework */; };
393E138A1D884F2100B1107C /* Gzip.framework in CopyFiles */ = {isa = PBXBuildFile; fileRef = 39CD43681D86BA65000A4A00 /* Gzip.framework */; settings = {ATTRIBUTES = (CodeSignOn

[2017-02-28 13:42] KIVagant commented on #6519
Yes, it has weak filtration, but you can improve it for your goals. Of course, it is not correct for all situations.

[2017-02-28 13:47] domenico-renna opened #8391 "fastlane deliver infinite loop"
Hi,
today I'm trying to deploy the new version of my app on apple store using fastlane deliver but when script has been saved screenshot and built .ipa the deliver action appear to be in infine loop waiting apple itunesconnect response that never arrive.

This is my custom fastlane configuration:

[code]

While I'm waiting that infine loop fastlane log somthings like this in console:

[code]

Duri

[2017-02-28 14:08] mfurtak commented on #8345
Hi @domenico-renna 👋  I believe the references you have noted so far are the best documentation we have right now.

Maybe I can help? What would you like to know?

[2017-02-28 14:13] hjanuschka commented on #8260
issue seems to be resolved - going to close it, feel free to reopen or file a new one at any time

[2017-02-28 14:13] hjanuschka commented on #8345
you may look at https://github.com/fastlane/fastlane/issues/8260#issuecomment-281696248 - i think there are almost all options

let me know if this helps

[2017-02-28 14:15] ohayon commented on #7809
Hmmm thanks for the update @GBoyadziev. Is there any chance you can reproduce this in a new project that you could share with us?

[2017-02-28 14:16] domenico-renna commented on #8345
I would like to know the exact meaning of this flag (if possible):

[code]

I'm searching this info beacuse, depending from my application setting and code, I would automatically generate that configuration array

[2017-02-28 14:21] hjanuschka commented on #8386
@84798012 can you try it with

`fastlane snapshot --xcargs "'-only-testing:TestFileName'"`

[2017-02-28 14:23] ohayon commented on #8365
Hey @Isuru-Nanayakkara would you mind sharing the output of `xcrun simctl list` with us? That may lead us figuring out if some/all of your simulators are in a weird state. Also, I would be interested to see if you could run `xcrun simctl launch <device-UUID> <your app's bundle ID>`. Thanks!

[2017-02-28 14:25] ohayon commented on #8365
@Isuru-Nanayakkara could you also try setting the environment variable `FASTLANE_EXPLICIT_OPEN_SIMULATOR=1` before running _fastlane_? That might force your simulator to boot up as well! 😄

[2017-02-28 14:29] #7621 closed

[2017-02-28 14:30] ohayon commented on #8347
@alickbass, I'm not sure I totally understand what you mean here, but could you set up environment variables on Travis for each of the arguments passed to `push_to_git_remote` that way depending on the machine from which you are running, you can change the parameters via environment variables?

[2017-02-28 14:32] ohayon commented on #8275
Hey @ugur10! Would you mind sharing some of your terminal output and also the output from `fastlane env`? Thanks! 🐙

[2017-02-28 14:35] ohayon commented on #8265
Hey @tanhuiya, thanks for raising this issue. At the moment using existing certs is not supported as @PetrosIchor mentioned. I am going to close this issue for now as it is a feature request and maybe in the future we will be able to make something like this happen. Thanks again! 🐙 😄

[2017-02-28 14:35] #8265 closed

[2017-02-28 14:36] ohayon commented on #8255
Going to close this issue for now as there is a workable solution, @jeeftor please let us know if you have any more questions regarding stepping using `pry`. I have also been using https://github.com/pry/pry-stack_explorer as of lately for deeper inspection into running code. 🐙 🚀

[2017-02-28 14:38] asfalcone commented on #8037
I wonder if there was some issue with the Google api? I'm going to close this out for now, but feel free to reopen if you run into this again!

[2017-02-28 14:38] #8037 closed

[2017-02-28 14:39] joshdholtz commented on #8384
@alphatroya Thanks for the suggestion! I will add this for you :blush:

[2017-02-28 14:40] rostopira commented on #8037
Yeah, probably. Sure, issue should be closed

[2017-02-28 14:41] joshdholtz commented on #8382
@diaojunxian Do you run into this issue when you build your app using `Xcode`?

[2017-02-28 14:44] ohayon commented on #8238
Hi everyone! I think there might be two issues going on in here based on different mechanisms of having installed _fastlane_.

@ehorodyski It looks like you may have installed _fastlane_ from the Fabric Mac app, is that right? If so, you should be able to update by opening up the Fabric app again and clicking on the _fastlane_ tab to see that an update is available.

@Redysz it looks like you are

[2017-02-28 14:45] ohayon commented on #8237
Hey @ugur10, could you provide a little more information about what the issue is here? Also, seeing the output from your terminal and from `fastlane env` would help to debug your issue. Thanks! 🐙

[2017-02-28 14:46] diaojunxian commented on #8382
@joshdholtz I build my app by the `fastlane gym`

[2017-02-28 14:46] mfurtak commented on #8345
The code snippet you pasted handles the automatic mapping of iTunes data into the data structures that _spaceship_ uses.

Is there a particular field in there you're looking for clarification about?

[2017-02-28 14:51] ohayon commented on #8221
Hey @shuhrat10, I agree with @KrauseFx, it would be best practice to put your _fastlane_ directory next to your xcodeproj in the same directory.

Going to close this issue for now as there are working-work arounds and we really advise users to keep their _fastlane_ directories in a certain place relative to their projects. Let us know if you are having any more issues! 😄 🐙

[2017-02-28 14:51] #8221 closed

[2017-02-28 14:54] ohayon commented on #8192
Hey @luanhenriq10, @mgrebenets is right, it would be best to reproduce this issue just by running the `xcodebuild` command that _fastlane_ shows it is running. Given that _fastlane_ just calls `xcodebuild` itself, that will be the most reliable way to single out the issue.

I am going to close this for now as it seems to be an issue with the project building rather than _fastlane_ but please feel

[2017-02-28 14:54] #8192 closed

[2017-02-28 14:59] shuhrat10 commented on #8221
My idea is to have fastlane directory one level up. For example:

Hello World (Application Folder)
--> app (xcode project)
--> fastlane (fastlance folder)
--> provision folder (cert and provision profiles)

I think this file structure much better. Rather to put everything in one xCode project folder. If I need copy project and share with someone via email, I don't have to worry about deleting fast

[2017-02-28 15:03] ehorodyski commented on #8238
Sorry, I should have mentioned a while ago that it seems to be working now. Not sure what I did, to be honest.

@ohayon -- I did not install the Fabric Map app. I installed it from the page where you set up a beta script and you download the `zip` that contains Fastlane within it.

[2017-02-28 15:04] ohayon commented on #8210
@croccio would you mind sharing the output of `xcode-select -p` from your command line?

[2017-02-28 15:15] simkim commented on #8389
The feature is successfully created on apple side, it's only not reported

[2017-02-28 15:18] joshdholtz commented on #8385
@wolffan Thanks for bringing this up! I was able to replicate this issue on my end but I have a follow up question for you before I can debug further and put in a proper solution. Are you trying to get development or distribution level provisioning profiles?

[2017-02-28 15:20] joshdholtz commented on #8382
@diaojunxian I understand you are building your app with `fastlane gym` right now but I'm also curious if you get this same error *without* using `fastlane gym`. If this error happens when using Xcode, this is probably not something we can help you with. Just trying to rule out possibilities :blush:

[2017-02-28 15:31] ohayon commented on #8178
Hey @ianbytchek, if i could weigh in here a bit about further macOS support; We *_love_* the fact that you are interested in fixing/adding to _fastlane_ to make it better all around at macOS work. That being said, if you take a look at our [VISION.md](https://github.com/fastlane/fastlane/blob/master/VISION.md), our goal is to be the sharpest tool in the mobile development shed rather than create a

[2017-02-28 15:31] #8178 closed

[2017-02-28 15:37] ohayon commented on #8174
Hey @beloso, thanks for raising the issue. It is a bit unclear from the information that you provided what exactly the issue is. Could you share some more of your terminal output? And also, it would be helpful to see how you are invoking the tool with environment flags and/or where you are setting the _fastlane_ env flags. Thanks! 🐙

[2017-02-28 15:40] ohayon commented on #8162
Going to close this issue for now. But feel free to continue conversation here. Bluepill looks really awesome and it would be amazing to have this in a plugin! 🐙 💯

[2017-02-28 15:40] simkim commented on #8389
For what I understood I need to call details on each app after a portal.app.all. Sorry

[2017-02-28 15:40] #8389 closed

[2017-02-28 15:40] #8162 closed

[2017-02-28 15:42] ohayon commented on #8238
Thanks for following up @ehorodyski ! 🚀

[2017-02-28 15:42] #8238 closed

[2017-02-28 15:44] ohayon commented on #8221
Hey @shuhrat10, I totally understand that you would want to keep your provisioning profile and other information separate. You should be able to pass arguments to _sigh_ and _cert_ to store those assets at different paths so that you can keep those specific files outside of your main directory.

[2017-02-28 15:44] joshdholtz commented on #8385
## The Problem

The issue is happening here - https://github.com/fastlane/fastlane/blob/master/sigh/lib/sigh/runner.rb#L100-L114

1. Downloads and filters profile(s)
2. Iterates over all certificates in all the profiles
3. Attempts to download all the certificates to see if they are installed
4. Only installs the profile if the local machine can use it (so if the certificates match)

**Step 3** is

[2017-02-28 15:51] joshdholtz commented on #8385
@wolffan In the mean time, you could set `SIGH_SKIP_CERTIFICATE_VERIFICATION` to true. This skips the area of the code the error is happening in

[2017-02-28 15:59] mfurtak commented on #8387
Hi @rekhaagarwal - thanks for the report 👍

As you have discovered, Windows is not currently a supported platform for _fastlane_. Sorry about that! Since we don't currently have plans to change this, I am going to close this issue for now.

However, if you do more exploration into what it might take to have it work, we would definitely like to hear the results! 🚀

[2017-02-28 15:59] #8387 closed

[2017-02-28 16:08] jostster commented on #8260
@hjanuschka I dont think this is resolved. The issue was originally created as the deliver says it WAS submitted for review when it really wasn't. Submit is not checking for a proper response it seems before relaying it was submitted.

[2017-02-28 16:08] ohayon commented on #8179
Hey @klemensz, I'm not sure I totally understand why the `changelog_from_git_commits` action would be coming up empty, but I think you might be able to try using the `:between`, `:commits_count`, and `:tag_match_pattern` parameters to try to achieve what you are looking for. I am going to close this issue for now as I believe we have options in there that should satisfy your issue, but please feel

[2017-02-28 16:08] #8179 closed

[2017-02-28 16:08] nafu opened #8392 "set_changelog action use fixed ./fastlane path"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

- `set_changelog` action does not use `./.fastlane` because it use fixed `./fastlane` path

### Environment

<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key

[2017-02-28 16:34] domenico-renna commented on #8345
Ok thanks, starting from your reply I can find this page where is the definition of a lot of web service used in spaceship, in particular this [https://github.com/fastlane/itc-api-docs#submit-for-review](https://github.com/fastlane/itc-api-docs#submit-for-review).

However I would have some specification on params accepted by that itunesconnect API service, info that I can't find in fastlane docs

[2017-02-28 16:38] ohayon commented on #8120
Closing this issue for now. Feel free to continue conversation and we can definitely reopen it if necessary! 🐙 💯

[2017-02-28 16:38] #8120 closed

[2017-02-28 16:39] Isuru-Nanayakkara commented on #8365
@ohayon Sure thing. Here are the outputs.

<details><summary> xcrun simctl list </summary>

[code]

</details>

For this one `xcrun simctl launch <device-UUID> <your app's bundle ID>`, you mean the UUID of the simulator or the actual device?

[2017-02-28 16:48] ohayon commented on #8127
Thanks for the request @lkraider! Currently, _pem_ supports production by default. We would be happy to take a look at a PR that adds production as an option if you would like to submit one! 👍 🐙

[2017-02-28 16:48] #8127 closed

[2017-02-28 16:50] beloso commented on #8174
Hi, what I meant is that the slather action is not checking the environment flags setted up by the `setup_jenkins`. The action `setup_jenkins` sets up the the following variables:
[code]
The slacker action reads the variable `FL_SLATHER_BUILD_DIRECTORY`.

It would be nice if either `setup_jenkins` configured the `FL_SLATHER_BUILD_DIRECTORY` as well as the others.

[2017-02-28 16:55] ohayon commented on #8174
Hey @beloso, I think in general we try to keep the actions as decoupled as possible from one another, so having `setup_jenkins` set a flag specifically for slather feels a bit like we are mixing actions too much. Would it be a feasible option for you to do something like the following in your `Fastfile`?

[code]

[2017-02-28 16:57] ohayon commented on #8365
Yes, the UUID of the simulator, apologies for the confusion! 🐙

[2017-02-28 16:58] wolffan commented on #8385
@joshdholtz  I'm trying to get distribution really (I verified that from the Apple UI I can download them)

[2017-02-28 16:59] mfurtak commented on #8345
It's important to realize that the iTunes Connect API is not a public API from Apple, so it is not documented by them. :smile: Everything that is built in _spaceship_ comes from reverse-engineering.

As you noticed, because that the submission information fields line up nicely with those same fields from the Apple website, I'd say that your best bet for finding explanations for what each means wil

[2017-02-28 16:59] #8345 closed

[2017-02-28 17:01] wolffan commented on #8385
@joshdholtz the error to me is a bit misleading maybe?

I'm distinguishing between certificates and privisoinings here.
As developer you can get a .p12 plus a certificate to install, then you can download provisioning and use it.
I know you can't download certificates from Apple UI as a member, but the above I've solved already with custom inhouse solution for sharing .p12 and .cer securely.
I was

[2017-02-28 17:02] wolffan commented on #8385
I haven't seen limitations for provisioning profiles afaik, being their own or not

[2017-02-28 17:02] beloso commented on #8174
That was what I ended up doing.

But since `setup_jenkins` sets up the flag for Carthage, which is third party, from fastlane's point of view. I thought it might be nice if the configuration for `slather` to be also handled by `setup_jenkins`.

If you want to keep thinks decoupled it's okay I guess. I've managed to work around the "problem" (or not really a problem).

[2017-02-28 17:05] domenico-renna commented on #8345
ok then great thanks for the incredible reverse-engineering work done, if I should find somethings usefull documentation I'll surly share it with this comunity

[2017-02-28 17:12] joshdholtz commented on #8385
@wolffan Writing the following for historical purposes but it seems like you noticed that the can't download certificates as member with your latest comment ^

Your best bet than is to set the `SIGH_SKIP_CERTIFICATE_VERIFICATION` environment variable (or the `skip_certificate_verification` key) to skip the certification validation so it **ONLY** does the download of the profile (and not the cert w

[2017-02-28 17:51] Isuru-Nanayakkara commented on #8365
@ohayon Np problem :) I got this output `<app bundle ID>: 9347`

[2017-02-28 19:18] glesage commented on #7736
Hey all, any news on this? It is still an issue for me and does not get/update app name, description, category and other app info

[2017-02-28 20:04] ohayon commented on #8365
@Isuru-Nanayakkara, but your simulator did not launch? 😞 ?

[2017-02-28 20:06] ohayon commented on #8174
Yeah, thanks for the understanding @beloso, I'm not sure how that carthage flag snuck in there, but we should work to minimize that type of overlap I think.

Let us know if you are having any more issues! 😄 🐙 🚀

[2017-02-28 20:06] #8174 closed

[2017-02-28 20:31] ohayon commented on #3481
Hey @MartijnSchoemaker, this would be a great opportunity for a [_fastlane_ plugin](https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Plugins.md)! Let us know if we can help out further!

[2017-02-28 20:31] #3481 closed

[2017-02-28 20:32] NachoSoto opened #8396 "download_dsyms broken (probably due to S3 outage)"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

`download_dsyms` fails with:
[code]

### Notes

Just opening an issue here in case other people are confused about this, since the file does download. My guess is that they store these in S3.

[2017-02-28 20:36] NachoSoto commented on #8396
Also downloading builds from TestFlight seems down, who knew they store them in S3?

[2017-02-28 21:11] ohayon commented on #7382
Hey @zhunt11! Apologies for the slow response and the issues youre having with _match_! It sounds like you have quite the setup 😄  Debugging codesigning issues can be pretty difficult sometimes, but my initial assumption is that the correct profile is not being assigned at export time. Have you tried programmatically setting the `SIGH_PROVISIONING_PROFILE_NAME` environment variable? 🐙

[2017-02-28 21:18] ohayon commented on #7761
Thanks for raising the issue @keroushe! It looks to me like there is an issue with the project that is causing `xcodebuild` to fail. Would you mind sharing the output from `xcode-select -p`? That might help to shed some light on the issue.

If the output from that command shows you a path to a newer version of Xcode, its possible that while your project builds inside of Xcode 7.3.1, the `xcodebuil

[2017-02-28 21:18] #7761 closed

[2017-02-28 21:20] ohayon commented on #7842
Going to close this issue for now as it looks like @mgrebenets and @hjanuschka have suggested some good work flows for this use case. Please do not hesitate to let us know if you are still having issues! 🐙 🚀

[2017-02-28 21:20] #7842 closed

[2017-02-28 21:29] ohayon commented on #7987
@MaximusMcCann are you still getting the `DTXProxyChannel error 1` issue here?

[2017-02-28 21:48] ohayon commented on #7588
Going to close this issue as it looks like it has since been solved! 🚀  Feel free to continue discussion if more issues crop up! 🐙

[2017-02-28 21:48] #7588 closed

[2017-02-28 21:49] damirjuretic commented on #7700
@hjanuschka for the current fastlane version(2.18.3)  this issue is still not resolved: /usr/local/Cellar/ruby/2.4.0/lib/ruby/2.4.0/rubygems/specification.rb:2288:in `raise_if_conflicts': Unable to activate aws-sdk-v1-1.66.0, because json-2.0.2 conflicts with json (~> 1.4)

[2017-02-28 21:52] ohayon commented on #8038
Thanks for raising this feature request @dusek! This is definitely something that I think is worthy of being in _scan_. If you would like to submit a PR we would be happy to review it! I am going to close this issue for now which definitely does not mean the request is going away. We will reopen if/when we get a chance to bite off this work and please feel free to continue discussion here as well!

[2017-02-28 21:52] #8038 closed

[2017-02-28 21:59] ohayon commented on #8022
Hey @applehawk, I believe @younatics is on the right track. It looks like in your call to `gym` in your Fastfile, it is set to build for development rather than ad_hoc. Give that a shot and let us know if you are still having issues with it! 🚀 🐙

[2017-02-28 21:59] #8022 closed

[2017-03-01 00:21] #7636 closed

[2017-03-01 01:13] MaximusMcCann commented on #7987
Not that I've noticed

On Tue, Feb 28, 2017 at 3:29 PM, David Ohayon <notifications@github.com>
wrote:

[2017-03-01 01:17] ohayon commented on #7987
👍 That's great! I am going to close this issue for now but feel free to continue conversation if something come up! 🚀 🐙

[2017-03-01 01:17] #7987 closed

[2017-03-01 01:38] 84798012 commented on #8386
@hjanuschka ,it works like a charm.
Thank you very much!!

[2017-03-01 01:38] #8386 closed

[2017-03-01 01:42] ohayon commented on #8382
Hey @diaojunxian! When running `fastlane gym` it should output a line in blue text that is the `xcodebuild` command that _gym_ generates for the build. Could you try copying that line and running it in your command line and see if you can reproduce the issue?

[2017-03-01 01:56] ohayon commented on #8372
Hey @alexander-agri! This would be a great feature to have! This is the first I'm hearing of the `recordFailure()` .

_scan_ is really just a wrapper for an `xcodebuild` test command so if `recordFailure()` gets called when a test run via `xcodebuild` fails, we should be able to output the results.

Can you run `xcodebuild test` on your project to see if you see what you are looking for? 😄 🐙

[2017-03-01 02:44] ohayon commented on #8264
Hey @metasmile! 👋 I am going to close this issue for _fastlane_ as this would be a better fit for an issue on https://github.com/KrauseFx/xcode-install. 🐙

[2017-03-01 02:44] #8264 closed

[2017-03-01 05:01] s-gagandeep opened #8398 "How to publish "Whats New in this release" in android via supply"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
I want to update my release notes using supply,
How can i do it.
##### Complete output when running fastlane, including the stack trace and command used

[INSERT OUTPUT HERE]

### Environment

[2017-03-01 06:22] Isuru-Nanayakkara commented on #8365
@ohayon Well, the Simulator application launches.

![screen shot 2017-03-01 at 11 47 26 am](https://cloud.githubusercontent.com/assets/2551877/23448149/38994456-fe75-11e6-9b37-43e79b5dde88.png)

But this as far as it goes. The actual simulator doesn't show up. It gets stuck at this point.

And the other thing I noticed is that the launched simulator is iPhone SE even though I have specified iPhone

[2017-03-01 07:51] #7099 closed

[2017-03-01 10:34] santoshshetty2612 opened #8401 "fastlane deliver error"
Hi,

I am all of a sudden getting the below error using deliver.

./metadata/app_icon.jpg' doesn't seem to be a png file

Looks like some check has changed on the Apple end.

As a workaround, I tried ignoring metadata but still it tries to upload metadata and then throws the error.

fastlane deliver --skip_metadata --skip_screenshots --force

[2017-03-01 12:56] Xwoder opened #8402 "The format of app_icon"
### New Issue Checklist

- [!] Updated fastlane to the latest version
- [!] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

[code]

After all these done. I can find a icon file named `app_icon.jpg` in `./fastlane/metadata`

The

[2017-03-01 13:09] rikoschmidt commented on #7717
Setting the `export_method` to `enterprise ` worked for us.

**Please notice: `export_mode` did not work, however `export_method` did:**
`gym(scheme: "Foo Bar Inhouse", export_method: "enterprise")`

**Thanks @mgrebenets for this hint.**

[2017-03-01 13:43] DBocksteger commented on #8070
I've installed xcode and fastlane fresh and clean again and it works now with my demo project, containing the code snippet above.

[2017-03-01 13:58] tomachi commented on #7717
I already have this enabled, but with development and not enterprise. You think this is the case?

[2017-03-01 13:58] hjanuschka commented on #8070
@DBocksteger awesome!! glad it works now, i am going to close the issue then, feel free to reopen or file a new issue whenever needed.

[2017-03-01 13:58] #8070 closed

[2017-03-01 14:42] #8325 closed

[2017-03-01 14:44] ohayon commented on #8325
Hey @getaaron! Thanks for raising this issue! We just merged a fix that adds a more descriptive error message here. https://github.com/fastlane/fastlane/pull/8397

[2017-03-01 15:13] Skelzor opened #8403 "Exit status of command 'xcproj touch' was 1 instead of 0."
### Issue Description

When building with fastlane for enterprise deployment, I get a very unspecific error. It looks like it is related to the running machine - same script is running on another Mac without any problems. I tried to reinstall xcproj, searched for tips but nothing helped. A workmate has the same error and we both invest hours to find a solution. I hope you can give me tips or a hin

[2017-03-01 15:19] ohayon commented on #7973
Hey @mikelrob! Thanks for raising this issue. Currently, passing `-scheme "<scheme_name>"` is not supported by `fastlane init`. That being said, you should be prompted to "Please confirm the above values" after the scripts start to make assumptions about your project. If you enter `n` to not confirm the values, you should be directed into a more manual setup where _fastlane_ will ask you for the a

[2017-03-01 15:19] #7973 closed

[2017-03-01 15:20] mfurtak commented on #8403
Hi @Skelzor 👋

_fastlane_ is simply reporting that the `xcproj touch` command didn't complete successfully. (Non-zero exit code)

If you have questions about how to diagnose the `xcproj` behavior, you might get better help if you ask over here https://github.com/0xced/xcproj 👍

[2017-03-01 15:20] #8403 closed

[2017-03-01 15:23] ohayon commented on #7433
@silviu-geronimo, regarding @hjanuschka's question, could you share the output of `which fastlane` so we can be sure which version of _fastlane_ you are running?

[2017-03-01 15:26] ohayon commented on #6742
Thanks for following up! Going to close this issue as it seems to have been a red herring resolved. Feel free to continue conversation if necessary! 🐙

[2017-03-01 15:26] #6742 closed

[2017-03-01 15:28] mfurtak commented on #8402
Hi @Xwoder 👋  Thanks for the report.

I think the `app_icon` option is being too restrictive here. It should allow JPG as you say. I'll mark it as a bug.

If you don't use the `app_icon` option for now, can you continue without any other problems?

[2017-03-01 15:37] mfurtak commented on #8401
Do you have a `Deliverfile`? If so, can you show me its contents?

[2017-03-01 15:38] mfurtak commented on #8402
Do you have a `Deliverfile`? If so, could you show me its contents?

[2017-03-01 15:52] ohayon commented on #8075
Hey @rompic, could you provide a bit more context around what is going wrong? 😄  We would love to help but it would be great to know how you are calling _deliver_, what your terminal output looks like, and any other information you can provide to help us figure out whats going on. Thanks! 🐙

[2017-03-01 15:55] ohayon commented on #8045
Hey @RafaelPlantard! Thanks for raising this issue. Creating Safari Web Push Certificates is currently not supported by _fastlane_. We would be happy to have a plugin that could handle this functionality, but our [vision](https://github.com/fastlane/fastlane/blob/master/VISION.md) is really to be the sharpest tool for mobile app development so this is is not something we would immediately want to

[2017-03-01 15:55] #8045 closed

[2017-03-01 15:56] RafaelPlantard commented on #8045
Thanks @ohayon

[2017-03-01 16:03] ohayon commented on #8106
Hey @RomanVolkov! 👋  It looks like this crash is coming from way that `register_devices` is getting called. It is not currently supported to call it on the command line with a hash of devices. Instead, its best practice to follow the example here: https://docs.fastlane.tools/actions/#register_devices

Let us know if you have any problems down the line! 🐙

[2017-03-01 16:03] #8106 closed

[2017-03-01 16:06] #7282 closed

[2017-03-01 16:12] ohayon commented on #8142
Hey @rlam3! This is a great feature request. We would love to have support to notify more channels. This would be a great use case for [_fastlane_ plugins](https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Plugins.md)! 🐙

[2017-03-01 16:12] #8142 closed

[2017-03-01 16:15] #7580 closed

[2017-03-01 16:20] sirlantis commented on #7700
@hjanuschka Looks good to me, too.

[2017-03-01 16:29] asfalcone commented on #8396
@NachoSoto Can you confirm if this is resolved so we can close out this issue? Thanks!

[2017-03-01 16:34] NachoSoto commented on #8396
Yup!

[2017-03-01 16:34] #8396 closed

[2017-03-01 16:44] seanscal opened #8406 "fastlane is not setting our release code signing identity"
### New Issue Checklist

- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] Updated fastlane to the latest version

### Issue Description

I am attempting to run match to upload app store builds to crashlytics.  I have set up my fastfile as such:

[code]

So what happens with this when i run fastlane, is that it will set the cert

[2017-03-01 16:48] asfalcone commented on #8263
This should be fixed in _faslane_ 2.19.0. We reverted to the old behavior and introduced the `SPACESHIP_AVOID_XCODE_API` env variable. You'll want to use the default behavior for performance reasons but if this API has issues again, you can set SPACESHIP_AVOID_XCODE_API=1 👍. Please give it a try and let me know, thanks!

[2017-03-01 16:49] asfalcone commented on #8261
This should be fixed in _faslane_ 2.19.0. We reverted to the old behavior and introduced the `SPACESHIP_AVOID_XCODE_API` env variable. You'll want to use the default behavior to retreive the xcode managed profiles but if this API has issues again, you can set SPACESHIP_AVOID_XCODE_API=1 and at least have some functionality 👍. Please give it a try and let me know, thanks!

[2017-03-01 17:16] wqzhang123 opened #8407 "xcov issue - wrong number of arguments (0 for 1) (ArgumentError)"
### New Issue Checklist

- [x ] Updated fastlane to the latest version
- [ x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
/Users/a573655/.fastlane/bin/bundle/lib/ruby/gems/2.2.0/gems/xcov-1.1.0/lib/xcov/manager.rb:13:in `initialize': [!] wrong number of arguments (0 for 1) (ArgumentError)

##### Complete output

[2017-03-01 17:48] santoshshetty2612 commented on #8401
Hi I don't have much content in the Deliverfile apart from the below two lines.

app_identifier "myapp.company.com" # The bundle identifier of your app
username "build.ci@company.com" # your Apple ID user

A metadata folder is created which contains app_icon.jpg

The error is that the icon should be in png format and not jpg.

[2017-03-01 17:54] Sega-Zero opened #8408 "743: unexpected token at 'Bad Request'"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

After upgrading to the latest fastlane (2.19.0), start receiving this error when generating a new app id.

##### Complete output when running fastlane, including the stack trace and command us

[2017-03-01 17:57] casz opened #8409 "[Regression] 784: unexpected token at 'Bad Request' reintroduced in 2.19"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

2.19 Gives Bad Request while 2.18.3 works
Guessing #8359 or #8363 changed something

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Enviro

[2017-03-01 18:05] tabrindle commented on #8409
Have a similar issue `[12:41:29]: 776: unexpected token at 'Bad Request'`

<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                 | Value                                       |
| ------------------- | ------------------------------------------- |
| OS                  | 10.12.1                                     |
| Ruby                | 2.2.4

[2017-03-01 18:09] migeorge commented on #8408
I'm also seeing the same behavior on 2.19.0 while attempting to use `match`. Downgrading to 2.18.3 allowed me to successfully create a provisioning profile

[2017-03-01 18:09] asfalcone commented on #8409
Thanks for submitting. This seems related to #8408. We're taking a look now!

[2017-03-01 18:09] asfalcone commented on #8408
Thanks for submitting. This seems related to #8409 . We're taking a look now!

[2017-03-01 18:36] ohayon commented on #8294
Thanks for following up with that @damoncoo! It's great to know that Apple is sensitive to \t. Going to close this issue for now, but please feel free to continue conversation here if there are more issues! 🐙 🚀

[2017-03-01 18:36] #8294 closed

[2017-03-01 18:39] mpirri commented on #8362
@haoshuncheng If you are looking to set the territories that the application can be downloaded from, look into using the `set_availability!` method on `Spaceship::Tunes::Application`.  You will need to create a `Spaceship::Tunes::Availability` object and pass that in to specify which territories you are interested in.

If this is not helpful, please clarify your question, and provide the informati

[2017-03-01 18:47] tabrindle commented on #8408
In the mean time, if I am using the brew cask or bundle, how do I downgrade?

[2017-03-01 18:59] ohayon commented on #8259
Hey @stonedauwg! Thanks for submitting an issue. Would you mind sharing some more of the output from _gym_ with us? _gym_ should be printing out he `xcodebuild` command that it generates to build your project and seeing/running that on its own without _gym_ will help us figure out whats going on. Thanks! 🐙

[2017-03-01 19:02] ohayon commented on #8407
Hey @wqzhang123, could you please share the part of your Fastfile that calls `xcov`? Thanks! 🐙

[2017-03-01 19:07] miversen commented on #8408
I'm having the same issue, my integration server builded fine this morning on 2.18.3, but when I just tried with 2.19.0 it gave the above error.

I'm also curios how to downgrade? (I'm using fastlane on bitrise)

[2017-03-01 19:15] #8255 closed

[2017-03-01 19:18] ohayon commented on #8183
Hey @dzan 👋, could you explain a little more about the problem? What do you mean by "a previous key"? 🐙

[2017-03-01 19:21] ohayon commented on #8161
Hey @lferro9000 👋 , I believe @nolanwilson is correct. Unless your app is live in the App Store and/or _I believe_ TestFlight, iTunesConnect will be able to change it to a lower version number. If it is already deployed to users however, I believe that iTunesConnect will behave as you are expecting.

Going to close this issue for now, but please feel free to continue conversation if you have any o

[2017-03-01 19:21] #8161 closed

[2017-03-01 19:23] asfalcone commented on #8408
I just put a PR so this should be fixed pretty quickly!

You can get around this in the current version by setting the SPACESHIP_AVOID_XCODE_API environment variable.

Thanks for your patience!

[2017-03-01 19:42] #8408 closed

[2017-03-01 19:42] #8409 closed

[2017-03-01 19:44] asfalcone commented on #8398
@s-gagandeep Check out the documentation here: https://github.com/fastlane/fastlane/tree/master/supply#changelogs-whats-new 🎉

[2017-03-01 19:44] #8398 closed

[2017-03-01 19:46] #8406 closed

[2017-03-01 19:51] wqzhang123 commented on #8407
I have updated to 2.19.0, and xcov 1.1.1, still same issue, below is fastlane env
<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                 | Value                                                         |
| ------------------- | ------------------------------------------------------------- |
| OS                  | 10.11.6

[2017-03-01 19:52] wqzhang123 commented on #8407
my lane is very simple

desc "Runs all the tests"
  lane :test do

 swiftlint(
        strict: true)

  scan(
        device: "iPhone 6"
    )

    xcov(
        project: "./WFCore.xcodeproj",
        scheme: "WFCore",
        output_directory: "./fastlane/xcov_report"
    )

  end

[2017-03-01 19:55] wqzhang123 commented on #8407
updated to fastlane 2.19.0 and xcov 1.1.1, same error.

[11:44:45]: -------------------------------------------------
[11:44:45]: --- Step: Verifying required fastlane version ---
[11:44:45]: -------------------------------------------------
[11:44:45]: Your fastlane version 2.19.0 matches the minimum requirement of 2.5.0  ✅
[11:44:45]: ------------------------------
[11:44:45]: --- Step: default_

[2017-03-01 20:41] bzSega opened #8412 "[!] Server error (Google::Apis::ServerError)"
### Issue Description
I have got this issue after execution this command:

`fastlane supply --skip_upload_metadata --skip_upload_images --skip_upload_screenshots --apk my.apk --json_key "file.json" --package_name com.mikhaylov.kolesov.plasticinechristmaswidgets --track alpha --rollout 1.0
`

[INSERT OUTPUT HERE]

<details><summary>🚫 fastlane environment 🚫</summary>

### Stack

| Key

[2017-03-01 21:09] nonemoreblack commented on #8261
I installed 2.19.1 and it works perfectly. Thanks so much for fixing this!

[2017-03-01 21:32] #7652 closed

[2017-03-01 21:36] #8326 closed

[2017-03-01 22:17] julestburt opened #8413 "fastlane deliver upload_build - not referencing fastlane/metadata/review_information/notes.txt for app_review_information key 'notes'"
### New Issue Checklist

- [yes ] Updated fastlane to the latest version
- [yes ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

when delivering a build to app_store for review, deliver fails to utilize notes.txt from fastlane/metadata/review_information/notes.txt

other keys from app_review_information are in the

[2017-03-01 22:19] mattlangtree commented on #8407
@wqzhang123 I was facing the same "wrong parameter count" issue and it seems that reverting to a lower version of xcov fixes this. In my case I locked my Gemfile to version "1.0.0" for xcov.

[2017-03-01 22:46] wqzhang123 commented on #8407
@mattlangtree, yes, i was using xcov 1.0.1 only 2 days ago and worked fine, only after the update I'm seeing the issue

[2017-03-01 23:29] wqzhang123 commented on #8407
@mattlangtree, nevermind, i figured out by using bundle Gemfile, but somehow i can't no longer install xcov 1.0.1, but i can install 1.0.0, and everything is working again with fastlane 2.19.1. I ope fastlane can fix the issue with the latest xcov.

[2017-03-01 23:47] julestburt commented on #8413
Apologies - but when I wrote up this issue, and clipped in the original output I realized fastlane needed updating. I then ran the build again and clipped in the new results - not realizing in fact it had now worked perfectly, likely due to me updating to current release.

Thanks fastlane - for existing! Apologies for the bug report - now closing as fixed.

[2017-03-01 23:47] #8413 closed

[2017-03-02 00:34] Xwoder commented on #8402
My `Deliverfile`
[code]
It generated by `fastlane init` automatically, and I didn't modify it.

[2017-03-02 03:07] KrauseFx commented on #8261
Great to hear, thanks for confirming @nonemoreblack 👍

[2017-03-02 03:07] #8261 closed

[2017-03-02 04:11] #7538 closed

[2017-03-02 04:29] s-gagandeep commented on #8398
@asfalcone thanks for the reply, i have checked this doc, so i have to manually add "version-code.txt", in changelog folder before running supply everytime.
It would be good if we can add `changelog` action in Supply (which takes text or file path as input).
Thanks

[2017-03-02 04:38] stonedauwg commented on #8259
Sorry, after reviewing this I was wrong, gym, like scan, is indeed adding the proper -derivedDataPath flag to xcodebuild. However, in both scan and gym's case, there are **still** build products, folders, etc being created at the ~/Library/Developer/Xcode/DerivedData path _as well as_ the custom path I pass to the derived_data_path param. Is that just normal for xcodebuild then? If so, what is the

[2017-03-02 07:29] hjanuschka commented on #8045
releated to: https://github.com/fastlane/fastlane/pull/6943 seems like only pem is missing - i am going to ping the author if he could share the pem changes

[2017-03-02 07:45] hjanuschka commented on #8402
@Xwoder i did a PR: https://github.com/fastlane/fastlane/pull/8418 which enables support for jpg files too - as of documenation and tests they are supported by iTC. could you give the PR a try?

[2017-03-02 07:49] danielbowden commented on #8263
I've just updated and can confirm https://github.com/fastlane/fastlane/pull/8359 and the `2.19.1` release fixes this issue.

My profile fetching is back down to around 4-9s and the overall build times have now dropped from the 26 minutes I reported at the start of this issue back to around 2-2.5 minutes.

Thanks @snatchev, @asfalcone & co much appreciated!

Feel free to close this now 👍

[2017-03-02 07:53] hjanuschka commented on #8263
great to here!!! ❤️  going to close this now.

[2017-03-02 07:53] #8263 closed

[2017-03-02 07:54] hjanuschka commented on #8412
@bzSega  is this issue still existing? - can you please run fastlane with --verbose and share the full output?

for the little information - i suspect there was a server error on google side.

[2017-03-02 08:27] bzSega commented on #8412
Yes this issue still existing.
I will run fastlane with--verbose later because now i have exceeded daily save quota.

[2017-03-02 08:30] hjanuschka commented on #8412
daily save quote? are you running it behind a proxy or on some CI - might be a network issue then...

[2017-03-02 08:32] bzSega commented on #8412
I agree with you. But how to understand, why i have faced with this issue;

[2017-03-02 08:34] bzSega commented on #8412
Yes, i tried about three times to upload my apk and after that i got this issue.

[2017-03-02 08:49] wolffan commented on #6832
Just a note, that solution won't work on complex projects.
Projects with cocoapods or with multiple targets will need a more fine grained solution (this means using some Build setting magic checked in the project or modified on the fly).

Related: https://github.com/fastlane/fastlane/issues/6519

[2017-03-02 09:06] wolffan commented on #8385
Thanks @joshdholtz I'll give it a try and let you know.

[2017-03-02 09:16] wolffan commented on #6519
I can tell what worked for me.
First reading: [this](https://pewpewthespells.com/blog/migrating_code_signing.html) and [this](https://lyricsboy.github.io/)

Basically I'm using the solution for the second link.
Using the deprecated (PROVISIONING_PROFILE) configured with `$(PROVISIONING_PROFILE_$(WRAPPER_EXTENSION))`.

And using the strategy mentioned in this post, toggling off the Automatic Signin

[2017-03-02 10:17] RafaelPlantard commented on #8045
That's sound awesome @hjanuschka

[2017-03-02 10:45] hjanuschka commented on #8401
seems to be related to #8402  i did a PR here: https://github.com/fastlane/fastlane/pull/8418 that should enable/allow jpg files - could you give it a try?

[2017-03-02 11:28] dodikk opened #8419 "[coverage] lcov looks up the non existing path in DerivedData"
[code]

The `scan` command successfully generates the test report. However, I'm experiencing the issues with coverage.  The corresponding xcode checkbox is set up for the test schemes.

Full build log and environment : https://gist.github.com/dodikk/61ae9a3a48186cc95d3b63d66f332351

Fastlane env :

[code]

[2017-03-02 11:32] dodikk commented on #8407
I've got ```Error parsing xcode file``` when I downgraded to `xcov 1.0.0` gem

[2017-03-02 12:09] mgrebenets commented on #7717
@tomachi. So we had to remove the legacy build API option. And by removing
I mean not providing it at all, as opposites to setting it to false.

@Riko. Right. Method and not mode :)

At the moment we have some custom action on top of sigh that can resign the
_archive_. Once archive is resigned (changing bundle is but the process) we
later re export it for AppStore distribution
On Thu, 2 Mar 2017 a

[2017-03-02 12:12] #7618 closed

[2017-03-02 12:42] santoshshetty2612 commented on #8401
Hi @hjanuschka, I updated fast lane but still facing the issue.

[2017-03-02 13:18] santoshshetty2612 commented on #8401
My fast lane version is 2.19.1 and deliver version 2.0.1

Error is same /metadata/app_icon.jpg' doesn't seem to be a png file

[2017-03-02 13:20] mfurtak commented on #8419
Hi @dodikk - thanks for the report :+1:

In order for us to help you better, could you please provide the output of `fastlane env` and show us your `Fastfile` so we can see how you're calling `lcov`?

Thanks!

[2017-03-02 13:21] dodikk commented on #8419
`fastlane env` is in a gist

[2017-03-02 13:40] Reyske commented on #8412
Same problem here! same environment

[2017-03-02 13:50] kskrishnan commented on #8285
I also experience this issue. I have one App ID, that is set-up for both ios & tvos. In my fastlane lane, I first run match for ios and then for tvos. What happens is - the tvos profiles overwrites the ios profiles.

Do you suggest creating separate branches for iOS & tvOS, if the App IDs are the same?

[2017-03-02 13:51] mfurtak commented on #8419
OK, if I look at the path that `lcov` mentions:

[code]

We want that path to wind up like this:

[code]

I think the way to fix this is to change your `lcov` call to look like this:

[code]

If you adjust that, do you have better luck?

[2017-03-02 14:54] ohayon commented on #8407
Hey @wqzhang123, instead of downgrading the version of _fastlane_ you are using, you could add `gem 'xcov', '1.0.0'` and then run `bundle install` to install it, and then when you want to execute _fastlane_ simply prefix the command with `bundle exec` 🚀 🐙

[2017-03-02 15:27] mfurtak commented on #7782
@psamhaber Apologies - I know I've left you hanging here, but I haven't had time to try to reproduce yet.

[2017-03-02 15:31] ohayon commented on #7962
Hey @jasonhocker 👋 ! Just want to be clear here... so you are calling _pilot_ to upload the `ipa` file to TestFlight? Would you mind sharing the bit of your Fastfile that calls _pilot_ so we can see exactly how the call is originating?

Thanks! 🐙

[2017-03-02 15:34] wqzhang123 commented on #8407
@ohayon, thanks, that's exactly what I have done. I didn't downgrade fastlane, only xcov.

[2017-03-02 16:58] suculent commented on #8365
I have similar issue with Xcode 8.2.1 (reappeared). The simulator starts, even the app prelaunches but then it stucks and tests do not run. Tried both 1 and 2 options of EXPLICIT...

[code]

[2017-03-02 17:08] bmwertman opened #8420 "Can't update fastlane beyond 2.18.3"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
At build I receive a message that `fastlane 2.19.1 is available. You are on 2.18.3.` and to run `sudo gem update fastlane`.

Running `sudo gem update fastlane` returns
`Updating installed gems`

[2017-03-02 17:15] lyndsey-ferguson commented on #8136
@hjanuschka can we close this?

[2017-03-02 17:16] lkraider commented on #8360
Seems it was a misunderstanding of mine, you have to enter your response in the "Resolution Center" and then press "Submit for Review" again on the build for the resolution response to be considered by the review team.

[2017-03-02 17:16] #8360 closed

[2017-03-02 17:21] lyndsey-ferguson opened #8421 "Simulator log collecting failing for iOS 9 devices"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

When `scan` collects logs for an iOS 9 device, it throws an error code 2. Stepping through the code ind

[2017-03-02 17:22] lyndsey-ferguson commented on #8421
@russbishop should `log collect` work for iOS 9 devices?

[2017-03-02 17:23] lyndsey-ferguson commented on #8421
@hjanuschka FYI

[2017-03-02 17:24] peterklima opened #8422 "UTF-8 issue in deliver"
### New Issue Checklist

- [✅] Updated fastlane to the latest version
- [✅] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Running "deliver run -u ㊙️ -a ㊙️ -z ㊙️ --skip_binary_upload --automatic_release true --skip_screenshots": it complains about an UTF-8 issue?

##### Complete output when running fastlane, includ

[2017-03-02 17:28] Petteri78 opened #8423 "Error when running XCov in Fastlane"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

When running command for Xcov the build is failing.
bundler: failed to load command: fastlane (/Users/petteri/.rbenv/versions/2.3.1/bin/fastlane)
ArgumentError: [!] wrong number of arguments (

[2017-03-02 17:58] rushilshah commented on #6814
I am facing the same issue right now. From my machine and from Jenkins machine shell it works fine. But when I run my job on Jenkins machine it's failing on signing to the associated account. Any solution to this problem. I don't want to store password in env variable FASTLANE_PASSWORD for security reasons.

[2017-03-02 18:11] funnel20 commented on #8339
@hjanuschka
Should I make a PR for you?

[2017-03-02 18:27] ohayon commented on #8423
Hey @Petteri78! Thanks for submitting this issue! I am going to close it for now as a duplicate of https://github.com/fastlane/fastlane/issues/8407.

Currently, the work around is here https://github.com/fastlane/fastlane/issues/8407#issuecomment-283674946 but a [pull request](https://github.com/fastlane/fastlane/pull/8400) was recently merged that once released will take care of the issue as well

[2017-03-02 18:27] #8423 closed

[2017-03-02 19:07] ohayon commented on #8365
Hmmmm... we are seeing a handful of issues coming in that look a bit more like the original one that @Isuru-Nanayakkara mentioned so we are doing some investigation there.

@suculent - it looks like yours is a slightly different issue. Would you mind just copying your report into a new issue? We can continue conversation there in regards to what youre seeing. Thanks! 🐙 🚀

[2017-03-02 19:26] ohayon commented on #8422
Hey @peterklima, thanks for raising the issue! Would you mind sharing a bit more of the output from your terminal to give some more context we can look at? Thanks! 🐙

[2017-03-02 19:41] mfurtak commented on #8420
Hey @bmwertman - based on your environment information, it seems like perhaps you installed _fastlane_ via the Fabric Mac app? If so, could you try upgrading _fastlane_ through there?

The messaging we're delivering here from the update checker is not :100: and we'll look to improve that to more clear for you and others 👍

[2017-03-02 19:54] bmwertman commented on #8420
@mfurtak I initially discovered Fastlane through Fabric and do have the Fabric Mac app installed. I have updated the ruby gem in the past via command line with no issue. I tried uninstalling Fastlane from the Fabric Mac app and reinstalling but it installs at the same earlier version, 2.18.3

[2017-03-02 20:36] ohayon commented on #8420
Apologies for the confusion @bmwertman! We just deployed a more recent version of _fastlane_ to be available for the Fabric app to download. If you wouldnt mind trying again to update via the app, things should work smoothly, please let us know if you have any more issues! 🚀 🐙

[2017-03-02 20:44] bmwertman commented on #8420
That worked. I'm up to date now thanks!

[2017-03-02 20:51] suculent commented on #8365
I am sorry this is not a fastlane issue at all. I have also experienced it in bare Xcode. It has sth to do with newly installed Xcode server running in another user.

Odesláno z iPhonu

2. 3. 2017 v 20:07, David Ohayon <notifications@github.com>:

[2017-03-02 21:03] ohayon commented on #8365
Thanks for following up @suculent !

[2017-03-02 21:03] ohayon commented on #8420
👍 thanks for reporting back @bmwertman !

[2017-03-02 22:53] RafaelPlantard opened #8426 "[!] undefined method `sub' for nil:NilClass (NoMethodError)"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Error when using `changelog.sub(/[\u{1F300}-\u{1F6FF}]/, '')` to remove all emojis from changelog, based at [Wikipedia](https://github.com/fastlane/examples/blob/master/Wikipedia/Fastfile).

*

[2017-03-03 00:46] mfurtak commented on #8426
Hi @RafaelPlantard 👋

`changelog_from_git_commits` will return `nil` if the range of commits you specify couldn't be resolved. The error you are seeing comes from trying to call a method on a `nil` value.

If you are setting `GIT_PREVIOUS_SUCCESSFUL_COMMIT` to a value in your environment, make sure it's a valid value by trying it with

[code]

Incidentally, the `sub` method you are trying to use w

[2017-03-03 02:30] KrauseFx commented on #49
This is not possible due to the Xcode 8 limitations unfortunately

[2017-03-03 04:05] santoshshetty2612 commented on #8401
I can understand that your PR is not yet merged into master.

[2017-03-03 04:39] russbishop commented on #8421
No, the new logging subsystem does not apply to iOS 9.

[2017-03-03 05:49] s-gagandeep commented on #6791
@asfalcone any update on this, i am also facing the same problem, i have uploaded apk on alpha, but now i am trying to upload apk with higher version code via supply it is giving error
```[!] Google Api Error: multiApkShadowedActiveApk: Version 2 of this app can not be downloaded by any devices as they will all receive APKs with higher version codes.```

[2017-03-03 07:45] cnordvik opened #8427 "How to verify app-thinning actually works?"
We enabled app-thinning in the Fastfile.

[code]

Result: App went from 45.2MB compressed size to 87.9MB compressed size according to Testflight. Also the device specific sizes in Testflight shows increase from 87.8MB install size to 149MB install size for iPhone 5c.

So is Testflight wrong or did those options make our app crazy big?

The app thinning size report said it could reduce our app to 5

[2017-03-03 07:51] #7661 closed

[2017-03-03 08:48] peterklima commented on #8422
Since it is failing while uploading meta data to the App Store I compressed you the metadata.
[metadata.zip](https://github.com/fastlane/fastlane/files/816243/metadata.zip)

[2017-03-03 08:48] ColCh commented on #7959
@diaojunxian  your app id is wrong : `--app_identifier ${bundle_id} `
I faced this too...

app id should written in format `team_id.bundle_id`.

example on iTunes Connect, in deployed app info (deployed manually by xcode):
![image](https://cloud.githubusercontent.com/assets/599439/23544226/2e78652c-0007-11e7-8b6e-a077815c58a2.png)

some read on Apple: https://developer.apple.com/library/content/do

[2017-03-03 09:03] AymenFarrah opened #8428 "Badge action fail with fastlane 2.19.1"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

im using badge action --verbose, badge **update my app icon but fail after**, so i had this error :

i use the action badge from a Lane in the fast file

[code]

[code]

[code]

Badge work but

[2017-03-03 09:08] ColCh opened #8429 "Pilot: Error receiving the newly uploaded binary, please check iTunes Connect"
~I see uploaded binary at iTunes Connect, but build is failing~
Uploaded binary disappeared from builds on iTunes Connect O_o

### New Issue Checklist

- [x] Updated fastlane to the latest version :  `2.19.1`
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, includin

[2017-03-03 09:12] bzSega commented on #8412
Hi, @hjanuschka . Here is results with --verbose.

[code]

[2017-03-03 09:36] hjanuschka commented on #8428
can you share your fastfile?

[2017-03-03 09:40] AymenFarrah commented on #8428
in my fast file i have many lanes:

in header i have
[code]

[code]
so i call this lane on command line with : fastlane addBadge --verbose and got fail after updating icons

[2017-03-03 09:47] hjanuschka commented on #8412
for me it still looks like a proxy/isp/ci issue - can you try it with a different internet connection?
also check if you have either `http_proxy` and/or `https_proxy` ENV set. maybe trying unsetting it fixes it.

[2017-03-03 09:53] hjanuschka commented on #8428
strange, i can confirm that the above lane - works for me.
![icon-60 2x](https://cloud.githubusercontent.com/assets/2891702/23546328/5aee66d6-ffff-11e6-88bc-6974aa4a141f.png)

i suspect something else in the fastfile, right after the badge call - as the initial error points out

`Could not find action, lane or variable ' '.` -> looks like calling a action with ` ` - maybe resulting from variable,

[2017-03-03 10:09] elianfish opened #8430 "download_all name file conflict"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

We have the following command to create a profile file

fastlane sigh -a com.ysl.apple -u ysl@163.com -n apple_appstore

Finally, the local storage name is InHouse_com.ysl.apple.mobileprovisio

[2017-03-03 10:29] hjanuschka commented on #8430
@elianfish this has been introduced by: https://github.com/fastlane/fastlane/pull/8082

@lgaches   could you do a follow-up PR also handling the initial filename ?  (or let me know if you don't have time for it)

[2017-03-03 10:38] lgaches commented on #8430
I'll take it

[2017-03-03 10:50] hjanuschka commented on #8430
@lgaches awesome 🚀  let me know if you need any help. and feel free to direct ping me on the PR so i can review it!

[2017-03-03 10:52] juli1quere commented on #8427
As far as I know, `gym` is just a pass-through on this app thinning topic. It just forward `export_options` to the `xcodebuild` `-exportOptionsPlist` file. Your configuration seems to fit what's required by `xcodebuild -help`:

So, for me this is not a fastlane issue.

I think you can take a look at [this doc from Apple](https://developer.apple.com/library/content/qa/qa1795/_index.html) (especiall

[2017-03-03 11:01] AymenFarrah commented on #8428
i have nothing in my fastfile: such as before_all after_all before_each after_each

i have multiple lane separately that do some operations/actions  (increment_build, badge etc)

and i cant run a lane with badge as an action!

the error is : trigger_action_by_name

and in doc i found:
[code]

this mean that an action is called from another action ! but i have only one action is badge

[2017-03-03 11:06] cnordvik commented on #8427
Kind of agree I guess. Think I just have to trust the docs and close my eyes and hope for the best.

[2017-03-03 11:06] #8427 closed

[2017-03-03 11:11] multiholle opened #8431 "Installing plugin fails"
I'm trying to install the plugin with fastlane 2.19.1 on macOS 10.12.3 with XCode 8.2.1. The installation fails with the following error:

[code]

I ran `gem install json -v '2.0.3'` as admin user and successfully installed the gem. Unfortunately it didn't fix the problem. I'm still getting the same error.
[code]

<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key

[2017-03-03 11:14] juli1quere commented on #8428
What if you remove every other lanes / code from your `fastfile` and call `fastlane addBadge`? Does it works ?

[2017-03-03 11:20] AymenFarrah commented on #8428
there is my fastfile with only one lane addBadge, still not working i have the same issue

[code]

`[12:19:11]: Could not find action, lane or variable ' '. Check out the documentation for more details: https://docs.fastlane.tools/actions
`

[2017-03-03 11:22] juli1quere commented on #8431
It seems to be the same issue as #7691.

Could you try a `xcode-select --install` ? Does `xcode-select -p` point to an existing path ?

[2017-03-03 11:32] #5782 closed

[2017-03-03 11:37] juli1quere commented on #8428
I tried this precise `Fastfile`, and it works.
![icon-76](https://cloud.githubusercontent.com/assets/231661/23549770/0df64678-000e-11e7-9b52-f1a25da89be4.png).

Maybe you could try by removing everything before `fastlane_version "2.19.1"`.

[2017-03-03 11:38] AymenFarrah commented on #8428
ok thank you for help! i will try to re install fastlane ! mysterious

[2017-03-03 11:40] juli1quere commented on #8428
Maybe you could try in a `bundler` environment. It would be easier for us to reproduce the issue.

[2017-03-03 11:43] AymenFarrah commented on #8428
i will try in `bundler` if it helps, easy to install it ?
otherwise i try this, still not works

[code]
end

[2017-03-03 11:45] juli1quere commented on #8391
I think this issue is relative to #8152 no ?

[2017-03-03 11:45] multiholle commented on #8431
Everything seems to be fine.

[code]

[2017-03-03 11:47] AymenFarrah commented on #8428
[code]

[2017-03-03 11:51] juli1quere commented on #8428
It seems you are calling the lane from a CI no ? If it is, can you try from your local computer ?

About `bundler`, it's pretty straight forward. You can [look at this](https://docs.fastlane.tools/getting-started/ios/setup/#use-a-gemfile)

[2017-03-03 11:53] AymenFarrah commented on #8428
No im really calling the lane from my local computer on command line:
➜  MyProjectWorkspace git:(dev) ✗ fastlane addBadge

[2017-03-03 12:00] AymenFarrah commented on #8428
and with bundler i have this Gemfile:

[code]

same issue ! icon is badged but got the lane error : Could not find action, lane or variable ' '. Check out the documentation for more details: https://docs.fastlane.tools/actions

[2017-03-03 12:01] domenico-renna commented on #8391
Yes, do you have any idea on how to work around this bug at the moment?

[2017-03-03 13:09] mfurtak commented on #8428
Hi @AymenFarrah

If you run `fastlane run badge --shield "37.0-BASKET-blue" --no_badge true --shield_no_resize true` from your command line does it complete without errors?

[2017-03-03 13:12] zarghol opened #8432 "Summary not reporting all devices"
### Issue Description
Hi !
I ran fastlane snapshot with 3 devices et 5 languages, all worked, but the summary only contains 2 devices...

I will run again the command to check if the bug persist, but even if it works, there's a random bug :-)

Thanks for your help !
##### Output

[Output fastlane.txt](https://github.com/fastlane/fastlane/files/816815/Output.fastlane.txt)
[Snapfile.txt](https://git

[2017-03-03 13:44] zarghol commented on #8432
After a second launch, the bug is still there

[2017-03-03 13:47] lyndsey-ferguson commented on #8421
Ok, I'll put a fix in so that it gets the log file for <=iOS 9 devices

[2017-03-03 14:10] AymenFarrah commented on #8428
Hi @mfurtak

I have invalid option: --shield

[2017-03-03 14:10] lyndsey-ferguson commented on #8421
I'm working on this issue [here](https://github.com/fastlane/fastlane/pull/8433). I have to add tests and am considering that the best place should be in the 'fastlane_core/spec/simulator_spec.rb' as that is testing the class functions

[2017-03-03 14:15] AymenFarrah commented on #8428
when i try on command line just, fastlane run badge it work

[code]

but when i call juste badge in my lane , so my fastfile look like:

[code]

i got the error:

[code]

[2017-03-03 14:57] mfurtak commented on #8428
Sorry about that, I got my syntax wrong. One more try on the full command?

[code]

I believe there's something strange about your `Fastfile`, but I'm just trying to eliminate the `badge` action as a reason :+1:

[2017-03-03 14:59] AymenFarrah commented on #8428
`fastlane run badge shield:"37.0-BASKET-blue" no_badge:true shield_no_resize:true`

it works and finished by
[code]

[2017-03-03 15:02] mfurtak commented on #8428
Can you try deleting your `Fastfile` and starting a new blank one? When you make your new one, please do not paste in any content from the old one. If you type it out fresh again, do you still have the problem?

Sorry for the strange request, but this is a very strange problem! 😅

[2017-03-03 15:05] AymenFarrah commented on #8428
ohh my god! it was my fastfile ??!
so strange!
i delete my old fastfile and redo with
`fastlane init`
and it works !!!

[2017-03-03 15:06] AymenFarrah commented on #8428
i'm using sublimeText to edit it but other lane works ! only badge is down

[2017-03-03 15:07] jasonhocker commented on #7962
desc "Submit a new Beta Build to Apple TestFlight"
  lane :jenkins_testflight do
    ENV["DELIVER_ITMSTRANSPORTER_ADDITIONAL_UPLOAD_PARAMETERS"] = "-t DAV"
    pilot(ipa: "artifacts/ipaname.ipa", skip_submission: true)
  end

[2017-03-03 15:08] mfurtak commented on #8298
Hi @Badmuts

It has taken a long time to get to this place (partially because of the Amazon internet disruption this week... 😅 ), but I believe I have interesting evidence from Travis CI:

[code]

This comes from having set the session value through the web UI for defining environment variables. You had said you set yours through the `.travis.yml` file, correct? Do you see any output similar to th

[2017-03-03 15:10] mfurtak commented on #7380
I'm going to include my findings from investigating use on Travis CI, though it's not clear to me that this ticket involves Travis. If you have a moment, could you reply and let us know where you are running `deliver` when it fails? Thanks!

----

It has taken a long time to get to this place (partially because of the Amazon internet disruption this week... 😅 ), but I believe I have interesting ev

[2017-03-03 15:10] RafaelPlantard commented on #8298
@mfurtak When I put into Travis CI I always put FASTLANE_SESSION between ' before save it. Understand?

[2017-03-03 15:12] mfurtak commented on #8428
OK, my suspicion is that some strange whitespace characters got into your file and fastlane was trying to treat them like a call to an action. 🤔

Anyhow, are you all set? If so, can I close this issue out?

[2017-03-03 15:13] AymenFarrah commented on #8428
Thank you ! here my old Fastfile (i add .txt to extension to upload it), could you try to figure out whats wrong with this file (and u should delete txt extension to try it) ?
[Fastfile.txt](https://github.com/fastlane/fastlane/files/817099/Fastfile.txt)

[2017-03-03 15:15] AymenFarrah commented on #8428
Ok you can close issue, the are some white spaces before badge action!
Thank you

[2017-03-03 15:18] Badmuts commented on #8298
Sorry for my late reaction, been very busy lately 😄

I have encountered that issue before. I then used the travis cli with the encrypt command and made sure the special characters where escaped.

I also used an .env file to check if that would work.

I have started a debug session and printed the FASTLANE_SESSION variable. The strange thing was that I got the exact session I had locally but it was

[2017-03-03 15:20] mfurtak commented on #8428
I can reproduce the behavior with the file you provided. Thanks very much! 🚀

[2017-03-03 15:20] #8428 closed

[2017-03-03 15:24] Badmuts commented on #8298
I might think this is a problem with the travis-cli that encrypts the env var so I added an env variable without encrypting it and avoided the malformed error when I encountered these problems but still did not manage to run Fastlane without prompting for 2fa codes

[2017-03-03 15:25] mfurtak commented on #8428
Hey, one more question. When you originally put this `badge` code together, did you copy this example from the web? If so, do you remember from where?

[2017-03-03 15:28] luisherranz opened #8435 "Automatically use 12.9-Inch Display for 9.7-Inch Display."
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

It looks like you can use 5.5inch screenshots to populate all iPhone screenshots automatically, like this:
![screen shot 2017-03-03 at 16 24 20](https://cloud.githubusercontent.com/assets/3305

[2017-03-03 15:34] AymenFarrah commented on #8428
no i remember that a copy an existing lane (i dont remember which one i do it yesterday) and then i change the lane name and put badge action
so it seems that i have the whitespace in my fastfile but it works, only badge lane dont work

[2017-03-03 15:53] mfurtak commented on #8412
@bzSega I was able to successfully distribute an alpha with the following command (modeled from yours)

[code]

This feels like perhaps something beyond _fastlane_. The type of error returned in your example indicates a 5xx HTTP response, usually indicating a problem on the receiving end.

[2017-03-03 15:54] mfurtak commented on #8428
Sure, because of the way Ruby works, only the code you try to run will actually be evaluated. Because the strange characters are part of the badge lane, it only has problems when you run that lane.

Anyway, a challenging mystery! Thanks 🙌

[2017-03-03 15:58] AymenFarrah commented on #8428
but fastlane could evaluate/compile the fastfile before running the different lanes!
Anyway thank you for your help!

[2017-03-03 15:58] AymenFarrah commented on #8428
👍 👍 👍

[2017-03-03 15:59] reich commented on #6989
Same issue with CoreData Codegen.
fastlane 1.110.0
Xcode 8.2.1
Code Generation: Swift
Codegen: Class Definition

[2017-03-03 16:31] bzSega commented on #8412
Ok. I will try to change environment.

[2017-03-03 23:32] j2kun commented on #8431
I'm also getting this issue when trying to add the `aws_s3` plugin

[2017-03-03 23:58] jaydrogers commented on #8431
I am getting the exact same error when I run `fastlane add_plugin cordova`. I also confirmed I have the same outputs. Here is my output of `gem list`:

[code]

![screen shot 2017-03-03 at 5 55 53 pm](https://cloud.githubusercontent.com/assets/3174134/23573313/a9554eda-003a-11e7-88de-0211d8e940af.png)

[2017-03-04 00:17] codyrotwein opened #8439 "Get bundle identifier from plist automatically based on scheme/target"
I have an Xcode project setup with multiple targets/schemes so that I have several apps under the same codebase.

I created the following testing lane in my Fastfile which runs the "sigh" tool for every one of my apps:

[code]
Looking at the fastlane documentation, I see you can define a bundle identifier, which sigh uses. But I need it to automatically grab the current bundle identifier from each

[2017-03-04 02:32] #5458 closed

[2017-03-04 11:22] Aw79 commented on #8064
Can anyone reproduce this too or am I the only one?

[2017-03-04 14:30] ripperhe opened #8441 "I want to submit a new action for "remove git tag""
When I use Fastlane released pod lib, may to the final pod lint is not passed, but this time tag has added. If I modify the code and use fastlane released again, tag has been added, this time must be before the manual input command to delete tag, then perform fastlane to release pod lib.

If I have this action, I can directly execute fastlane to release pod lib.

[2017-03-04 15:14] ripperhe commented on #8441
<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                 | Value                                       |
| ------------------- | ------------------------------------------- |
| OS                  | 10.12.2                                     |
| Ruby                | 2.3.1                                       |
| Bundler?            | false

[2017-03-04 17:16] yuriy-tolstoguzov opened #8442 "Extending jira action to update fix version field"
### Issue Description
Our team have implemented couple of small actions to automate updating JIRA issues with fix version that were mentioned in git log. Here is example of usage:

[code]

So, here:
- `jira_issue_ids_from_changelog` searches log for issue ids in format `[project_key]-[number]`. By default starting from previous tag.
- `set_jira_fix_version` creates version if needed and updates is

[2017-03-04 18:10] tmtrademarked commented on #8187
This looks similar to an error I thought I fixed a while ago (https://github.com/fastlane/fastlane/pull/7763). What version of Fastlane are you using? I think this should be fixed in 2.6.0+

Check the version of the google-api-client gem you have installed. You need at least 0.9.20, which the gemfspec for Supply should be installing. (But maybe you ended up with an old version somehow?)

[2017-03-04 18:20] tmtrademarked commented on #6791
Just to provide some help for people facing this issue, you can achieve this by uploading the new APK to alpha and then promoting to beta. So, let's say you have APK version 100 in alpha, and want to release APK version 200 to beta. The easiest way to do this is to upload version 200 to alpha, then promote the alpha track to beta.

A fastfile configuration for promoting to beta might look somethin

[2017-03-04 22:32] #6073 closed

[2017-03-04 23:51] #6488 closed

[2017-03-05 09:59] RafaelPlantard commented on #8426
Thanks for explanation @mfurtak, but when I use `"HEAD^^^^^", "HEAD"` is correct to get latest 5 commits right?

[2017-03-05 10:31] bzSega commented on #8412
I solved this issue. The problem was in an Alpha testing settings, i didn't choose a testing method.

https://support.google.com/googleplay/android-developer/answer/3131213

@hjanuschka , I recommends you to add detailed server answer, because when i used native Python script for Android Play Publisher API, i had saw URL address with package name. It means that problem in separate app.

`googleapi

[2017-03-05 14:01] KaneCheshire commented on #7704
I've worked around this by creating a new scheme especially for snapshots, and made sure that the only tests that are included in that scheme are the UI tests. Then simply declare that scheme as the one to use in the snapfile.

[2017-03-05 14:31] beloso commented on #8442
I'd like this. Additionally there could be an action to process a changelog from JIRA ID's.

I've done something similar, but I am not really sure if it's ready for public use.

[2017-03-05 16:55] yuriy-tolstoguzov commented on #8442
@Beloso both actions are more or less ready for public. Question is: will it be part of fastlane or standalone plugin.

[2017-03-05 18:17] hjanuschka commented on #8442
as suggested in the  [CONTRIBUTING](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md#new-actions) - this should start as a fastlane plugin, once there is enough usage and stable code, we can think of integrating it.

i would love to see a strong jira fastlane plugin, let me know if you need any help on the process of creating a plugin.

documentation should be here: https://docs.fa

[2017-03-05 18:22] hjanuschka commented on #8412
@bzSega glad you got it sorted out! - i am going to close this.
thx for the hint with the detailed error information, while trying to add support for it, i stumbled upon a env `DEBUG`  once you set `DEBUG=1` it should run with full google api debug 👍

[2017-03-05 18:22] #8412 closed

[2017-03-05 18:32] hjanuschka commented on #8426
you are right if you'd use `git log HEAD^^^^^...HEAD`  it ll show the last 5 commits in HEAD.

but with the action `changelog_from_git_commits` - it should be either

# get last N commits from current branch
[code]

# get commits between 2 branches:
[code]

i think the above method (2) does not work with the `[HEAD^^^", "HEAD"]` because it uses shellescape here: https://github.com/fastlane/fastlan

[2017-03-05 18:37] hjanuschka commented on #8064
can you run `ls -lR fastlane/` the screenshots should be in `fastlane/screenshots` as the log states.

[2017-03-05 18:45] hjanuschka commented on #8439
so just to sum-up, that i got it right, you have one big project, with N shemes, where as each sheme has a different app-identifier?

if you know all app-identifiers in beforehand, you could really use _match_ (instead of sigh/cert - match uses them under the hood)

e.g:

[code]

if you'd really need to get it from a plist, you might look at this: https://docs.fastlane.tools/actions/#get_info_plis

[2017-03-05 18:53] hjanuschka commented on #8431
hey folks, i am pretty sure that this happens due to a missing/failed commandline tools installation.

can you try to put the below code to a file `demo.c`

[code]

and the run
`cc -o demo demo.c` and then see if it compiles and you are able to run `./demo`

using https://github.com/KrauseFx/xcode-install you could try reinstalling commandline tools: `xcversion install-cli-tools`

also maybe worth

[2017-03-05 18:56] hjanuschka commented on #8421
PR seems to be merged, ready to close @lyndsey-ferguson great work, @russbishop many thx for your help here.

[2017-03-05 19:10] codyrotwein commented on #8439
Thank you, that's correct. The whole reason for me wanting to use sigh is because each app/target has its own provisioning profiles that I had to manually generate initially because of CarPlay entitlement. I would like it to automatically create new provisioning profiles for each target when they expire.

I tried using this plugin:https://github.com/SiarheiFedartsou/fastlane-plugin-versioning whic

[2017-03-05 19:14] lyndsey-ferguson commented on #8421
Thanks, yes, this issue can be closed

[2017-03-05 19:14] #8421 closed

[2017-03-05 21:22] jaydrogers commented on #8431
Hi @hjanuschka,

Thanks for the feedback. Without making any changes on my machine, I was able to run the test code as instructed:

![screen shot 2017-03-05 at 3 21 40 pm](https://cloud.githubusercontent.com/assets/3174134/23591542/76942df8-01b7-11e7-9c26-ae66ce8913bd.png)

Let me know if you have any other ideas that I should try running, thanks!

[2017-03-06 00:10] tuchangwei opened #8444 "fastlane pem command error: Apple provided the following error info: Unexpected error occured"
After I input bundle identifier of my app, it shows:

[!] Apple provided the following error info:
	Unexpected error occured
	An unexpected error occurred. Please try again.  If the problem persists, please contact Apple Developer Program Support.
https://developer.apple.com/support

It was ok yesterday.

<details>

<summary>✅ fastlane environment ✅</summary>

### Stack

| Key                 | Va

[2017-03-06 05:53] LargeShrimp commented on #8266
@asfalcone  @lacostej  Perfect, Work for me!

[2017-03-06 06:39] hjanuschka commented on #8431
@jaydrogers many thx! - sorry that it didn't end in a solution.

/cc @ohayon @milch  this looks like a problem with the contained version using native extensions - any ideas on this?

[2017-03-06 06:41] hjanuschka commented on #8444
@tuchangwei thx for stopping by - can you please provide a bit more information.

what lane do you run, how does your fastfile look - from the little information right now i don't see a chance to help you.

[2017-03-06 07:04] multiholle commented on #8431
@hjanuschka Compiling the demo code works fine.

[code]

[2017-03-06 07:08] tuchangwei commented on #8444
@hjanuschka Thanks for your reply.

I used `fastlane pem`. Then I supplied my Apple ID Username, then I chose the team, then I supplied The bundle identifier of my app, then it shows `Creating a new push certificate for app 'xxxx'`, after that, it shows

 `Looking for related GitHub issues on fastlane/fastlane...`

and
[code]

[2017-03-06 07:15] hjanuschka commented on #8444
@tuchangwei thx - could you do me a favor and run it via fastfile.

fastlane/Fastfile:

[code]

and than run it with: `fastlane --verbose pem_try` - then we should get a stacktrace. that you might share with us, to tackle the issue.

[2017-03-06 07:16] hjanuschka commented on #8431
@multiholle can you confirm that `fastlane env` also states `Is contained: true` ? as i suspect it is related to the contained version - when using navtive ruby extensions (i already pinged a few team members)

[2017-03-06 07:18] multiholle commented on #8431
@hjanuschka You're right. `Is contained` is set to `true`. What does this mean? Is there a workaround I could try?

<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                 | Value                                          |
| ------------------- | ---------------------------------------------- |
| OS                  | 10.12.3                                        |

[2017-03-06 07:23] hjanuschka commented on #8431
the contained version ships with it's own ruby version and all sort of libraries - but for whatever reason it has problems building gems that require C extensions.

the only workaround i see right now is switching to rvm/rbenv based install  - but i do not recommend this, i would wait for @ohayon - maybe there is a easy fix in the contained version.

i already pinged the right members.

[2017-03-06 07:25] tuchangwei commented on #8444
@hjanuschka Sorry, I don't know where the Fastfile is, I installed fastlance by clicking the install file, like:

<img width="614" alt="wx20170306-152357 2x" src="https://cloud.githubusercontent.com/assets/2604045/23600297/f2992358-0280-11e7-8fe9-b7cf1fc6afa8.png">

Could you tell me where the Fastfile is, thanks

[2017-03-06 07:27] hjanuschka commented on #8444
ohhh - ok lets try it - open up a terminal - and `cd ` into your project.
create a folder `fastlane` (`mkdir fastlane`) - and put in a file `Fastfile` with the above contents.

again cd to your project and run `fastlane --verbose pem_try`

[2017-03-06 07:40] tuchangwei commented on #8444
Hi, @hjanuschka
The log is as following, please have a look.

DEBUG [2017-03-06 15:33:24.51]: Checking if there are any plugins that should be loaded...
INFO [2017-03-06 15:33:24.54]: Driving the lane 'pem_try' 🚀
INFO [2017-03-06 15:33:24.55]: -----------------
INFO [2017-03-06 15:33:24.55]: --- Step: pem ---
INFO [2017-03-06 15:33:24.55]: -----------------

+------------------+-------------------

[2017-03-06 07:42] hjanuschka commented on #8444
@tuchangwei  - can you check if your apple-id has admin permissins, i guess thats required to create new certificates?

[2017-03-06 07:54] tuchangwei commented on #8444
@hjanuschka  I think I have the related-permission. I had used the command line to create 9 push certifications yesterday. But in the today morning, the error showed.

[2017-03-06 07:58] hjanuschka commented on #8444
thats strange, could you try creating it via the apple website? to find out if its fastlane related or not.

[2017-03-06 08:02] tuchangwei commented on #8444
@hjanuschka  it is really odd, I changed to another app bundle id, it worked. 😓

[2017-03-06 08:22] Xwoder opened #8446 "How to provide a Apple ID for init"
### New Issue Checklist

- [!] Updated fastlane to the latest version
- [!] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

It seems that I couldn't provide a  Apple ID for `fastlane init`, like
[code]
or
[code]
So, I have to enter the Apple ID every time. For some reason, I need to use the command `fastlane init`

[2017-03-06 11:11] #7469 closed

[2017-03-06 13:01] Troglodyte55 opened #8448 "fastlane / ITC.GameCenter.pleaseselectpricechange.error.message"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I have an error when try to upload app to Itunes Connect.
My application has not an GameCenter or price, but this error appeared.

`The request could not be completed because:
	ITC.GameCenter.

[2017-03-06 13:02] #5684 closed

[2017-03-06 13:10] juli1quere commented on #8432
I reproduced your issue here. I think the issue is concerning iPhone SE, since this `Snapfile` just shows an empty report:

[code]

And, when we add another device, it just displays the other device. I'm currently digging to understand why there is this bug, and how to fix it.

[2017-03-06 13:26] juli1quere commented on #8432
Indeed, it's an issue specific to iPhone SE. I'm making a PR to fix this ;)

[2017-03-06 13:45] milch commented on #8431
@hjanuschka I think it is definitely related to the contained version.

The problem should be the following line:

[code]

I'm guessing that all the people who have this problem have macOS 10.12? /cc @multiholle @jaydrogers @j2kun

My best guess would be that the sysroot for the ruby installation in the contained version gets set to the above line, which is not valid on 10.12, so it fails when try

[2017-03-06 13:51] hjanuschka commented on #8431
@milch  and in addition - looks like folks having installed it in `/Applications/Xcode821.app/Contents/Developer`  which is not a default one.

[2017-03-06 13:56] juli1quere commented on #8448
Hello,

Could you please give us more context about your issue by showing us the lane (in your `fastfile`) where you `upload app to Itunes Connect` ?

That will help us to help you :)

[2017-03-06 13:59] milch commented on #8431
@hjanuschka I don't think that's a problem, mine is in `/Applications/Xcode-8.2.1.app/`.

It seems there are some deeper issues here. The build settings that ruby takes for building native extensions are taken from the file `~/.fastlane/bin/bundle/lib/ruby/2.2.0/x86_64-darwin15/rbconfig.rb`.

One can manually edit the file to point to the right sysroot, however, digging through the file a little m

[2017-03-06 14:03] Troglodyte55 commented on #8448
@juli1quere
Hello, i don't have these `fastfile`, becouse i'm using visualstudio teams from Microsoft Services.

And this service, implement internally the fastlane service.

Sorry, i know that is a problem for resolve this issue.

Thank you.

[2017-03-06 14:11] mfurtak commented on #8430
If we change the initial file name that _sigh_ generates, might that mess up people's setups?

[2017-03-06 14:12] bes opened #8450 "Fastlane Match should be configurable with git email & username"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

When running the following command

[code]

I have recently started to get this error:

[code]

I don't know why I have started seeing this error now.

Anyway, my problem is that I do NOT want

[2017-03-06 14:15] bes commented on #8450
Maybe it has got something to do with the fact that I recently updated git to version 2.12.0 via homebrew?

[2017-03-06 14:21] #7578 closed

[2017-03-06 14:24] milch commented on #8431
In fact, manually changing the contents of `~/.fastlane/bin/bundle/lib/ruby/2.2.0/x86_64-darwin15/rbconfig.rb` to point to `MacOSX10.12.sdk` and changing all occurences of `/Users/crashlytics/buildAgent/work/2484be8b71880c21/bundle-2.13.0/fastlane_lib` to `~/.fastlane/bin` makes it work.

To do these changes for you automatically, run the following commands:

[code]

Before preparing a patch that

[2017-03-06 14:36] ohayon commented on #8431
@milch do you know how that CI path is getting stuck into the package?

[2017-03-06 14:39] milch commented on #8431
@ohayon I would be guessing that the `rbconfig.rb` is generated automatically during the build, and for some reason it uses full absolute paths.

It definitely shouldn't be in there so we should run that perl command that I posted after creating the bundle is otherwise finished (i.e. just before zipping).

[2017-03-06 14:40] ohayon commented on #8431
👍 I wonder if there is a way to avoid using the absolute path there in the first place. I am going to try to track down the source of that. Do you have a hunch that if we built this against macOS 10.12 SDK that this would be 👌 ?

[2017-03-06 14:46] milch commented on #8431
I did a bit of googling, but I don't think there is.

No, I think just building against 10.12 would only shift the issue from people who have 10.12 installed to people who have 10.11 installed. A better fix would be to use `/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk` as `$SYSROOT` when building, I think that should be the same on both 10.12 and 1

[2017-03-06 14:59] #8432 closed

[2017-03-06 15:00] mfurtak commented on #8432
Thanks for the report! We'll ship this fix in the next _fastlane_ release 🚀

[2017-03-06 15:05] KIVagant commented on #6968
Hello to all.

I got the same error with `fastlane scan`. I spent many hours before found the problem. Maybe someone will got the same.

The real bug is not the "Early unexpected exit, operation never finished bootstrapping - no restart will be attempted". Before this message I found in logs the another message, more important:
"Cannot launch simulated executable: no file found at /Users/me/Librar

[2017-03-06 15:09] zarghol commented on #8432
Thank you for the fix ! 👍

[2017-03-06 15:24] mfurtak commented on #8432
Yes, thanks @juli1quere 👏  👏

[2017-03-06 15:28] ohayon commented on #8431
I'm building a package pointing to `.../MacOSX.sdk` right now in CI to see if that will help with this issue on Sierra at all.

[2017-03-06 17:12] doapp-ryanp opened #8452 "--help does not list options"
[code]

When I run `fastlane pem help` I get the same output as above.  I'm looking for definition for options like `-team_id`, `--generate_p12` etc..

[2017-03-06 17:15] doapp-ryanp commented on #8452
I see a full list of options [in the code](https://github.com/fastlane/fastlane/blob/master/pem/lib/pem/options.rb), however can't get the CLI to list these options

[2017-03-06 17:21] juli1quere commented on #8452
Hello !

You can access all theses options by calling `fastlane pem help renew`.

[2017-03-06 17:30] doapp-ryanp commented on #8452
? why renew? the [README.md](https://github.com/fastlane/fastlane/tree/master/pem) has 0 hits for the string `renew`..

[2017-03-06 17:51] asfalcone commented on #8429
@ColCh What's the current status of the build? Have you been able to reproduce the issue?

[2017-03-06 18:05] juli1quere commented on #8452
It's because `renew` is the default command (also the only one).

But I think we could do something better about this. Indeed, all the fastlane actions have default commands. So, maybe we could display the options of the default command when user call `fastlane [command] help`.

I don't know how to format this to give more information to the user, but to avoid confusion. Users need to understand t

[2017-03-06 18:33] mfurtak commented on #8452
Hi @doapp-ryanp - this is a behavior change due to this: #8129, and the many follow-on PRs that applied the change for all the other tools.

The main thing at play here comes from [commander-rb/commander](https://github.com/commander-rb/commander/) which is the library we use for handling the command line invocations. Commander has the concept of a [default command](https://github.com/fastlane/fas

[2017-03-06 18:36] mfurtak commented on #8452
I agree with this, but this display/behavior is handled by Commander. So, we'd either need to stop using Commander, or make patches upstream. 👍

[2017-03-06 19:23] doapp-ryanp commented on #8452
OK thanks for the explanation.  It now makes sense, however it is not very clear to consumers (like myself) who do not know the intricacies and history of fastalane/pem. As @mfurtak states though, it may not be worth the work to make it clearer

[2017-03-06 19:25] mfurtak commented on #8452
@doapp-ryanp Yup. Thanks for raising the concern - we'll see what we can do!

[2017-03-06 19:32] rompic commented on #8075
we recently changed our contact information in the fastfile but it doesn't update the review information at least not the first_name, last_name attributes.

we call deliver/ app_review_information from a fastlane lane using the following data:

  	deliver(
    	ipa:"path/to/ipa.ipa",
    	submit_for_review: false,
    	screenshots_path:"./path/to/screenshots",
    	metadata_path: "./path/to/metada

[2017-03-06 20:08] dpettit opened #8454 "icon.png not uploading to Google Play"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
I am running fastlane supply to upload metadata, including screengrabs and icons to Google Play, and everything seems to upload, except for the icon.png.  If I add icon.png manually through the

[2017-03-06 20:56] ColCh commented on #8429
Same

[15:27:48]: Successfully uploaded package to iTunes Connect. It might take a few minutes until it's visible online.
[15:27:48]: --------------------------------------------------------------------
[15:27:48]: Successfully uploaded the new binary to iTunes Connect
[15:27:48]: If you want to skip waiting for the processing to be finished, use the `skip_waiting_for_build_processing` option
[15:

[2017-03-07 00:53] codyrotwein commented on #8439
Stackoverflow helped me out: http://stackoverflow.com/questions/42590053/get-bundle-identifier-from-plist-automatically-based-on-scheme-target-using-fast

[2017-03-07 00:53] #8439 closed

[2017-03-07 02:16] KrauseFx commented on #8450
This has something to do with your local git setup, not sure if it would be useful to add options to _match_ for this. Can you make sure to follow the instructions to set it?

[2017-03-07 06:31] hjanuschka commented on #8454
do you have your icon inside `fastlane/metadata/android/de-DE/images/icon.png` ?
with the file in the metadata folder it works - could you share a `ls -lR fastlane/`  output?

[code]