[2016-07-15 17:23] asfalcone commented on #5390
Hey @PatrickHeneise are you using the latest Android Gradle plugin? 2.2.0-alpha3 had an issue where it was not zip aligning correctly, and produced this exact error. If you're using that version, try -alpha4 or -alpha2. 👍

[2016-07-15 18:12] doapp-nick opened #5405 "SelectTeam should not prompt the user to select a team when running in a non-interactive session"
### New Issue Checklist
- [*] Updated fastlane to the latest version
- [*] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

SelectTeam should not prompt the user to select a team when running in a non-interactive session

https://github.com/fastlane/fastlane/blob/master/spaceship/lib/spaceship/portal/ui/select_team.r

[2016-07-15 21:21] ravinggenius opened #5406 "Framing screenshots with no title"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I'm using `frameit` to frame screenshots before uploading, but I'm getting an error. Is text required for the framed screenshots to be the right size? I'm able to upload just fine if I comment

[2016-07-15 23:08] bitwit commented on #5399
Thanks @KrauseFx! I will review the feedback provided so far, better familiarize myself with Ruby environments and see what I can do about documentation and unit testing. I copied a lot from the crashlytics code so I'll try to make sure it's got the same level of coverage and documentation.

[2016-07-15 23:28] tildedave commented on #5309
I have a WIP change to fix my own script that I'll try to turn into something that I can contribute back here.  Noticed that other people are having this problem too: https://github.com/fastlane/fastlane/issues/5394

Basic approach was to get all the data from the build train `apps/:appId/trains/?testingType=extermal` instead of querying `apps/:appId/platforms/ios/trains/:version/builds/:build`, a

[2016-07-15 23:59] tmm1 commented on #5309
Can you share the changes to your script, specifically for the first part? I can put together a patch to fastlane.

[2016-07-16 00:06] tildedave commented on #5309
Okay... don't judge me 😄

`build` is the Spaceship base Build

[code]

This doesn't have the right values for cryptography/significant change setup for everyone.  Basically I worked backwards from what the website submitted on a successful build.

[2016-07-16 00:35] tmm1 commented on #5309
I managed to get it working for my app based on @tildedave's work in https://github.com/fastlane/fastlane/pull/5407. Would appreciate others confirming that works for them.

[2016-07-16 00:53] oba2cat3 commented on #5386
yup - adding the user to itunes connect solved it for me as well.

[2016-07-16 05:55] MickeyHub opened #5408 "security: SecKeychainAddInternetPassword <NULL>: The user name or passphrase you entered is not correct."
as title above said,  I fastlane-credentials add --username xxxx, the result is below

[code]
although the output says xxxx added to keychain, but I can't find this item in Keychain Access.

when cert or sigh use it to login iTC, the output is below:

[code]

when I input `y`, it let me input password, the output is below after I input the correct password

[code]

credentials_manager is 0.16.0, i

[2016-07-16 10:43] KrauseFx commented on #5392
The fastlane-bot can only guess based on the text you submitted, it's not an actual AI 😉

[2016-07-16 11:00] besi commented on #5392
@krausefx Do you think then that it was more of a AS (Artificial Stupidity, which does not get nearly as much attention as AI these days). ;-)

[2016-07-16 11:59] PatrickHeneise commented on #5390
Thanks for the hint, I'll check. Is that something built into gradle or do I have to run an action before?

[2016-07-16 18:58] oyvkva commented on #5355
I get the same error, happens after 4-6 languages or so, seems random.

[2016-07-16 21:25] jeffreyjackson commented on #5284
Turns out this flag doesn't do what I originally thought.  Will close this until I can find a different option.  🍻

[2016-07-16 21:25] #5284 closed

[2016-07-17 02:02] asfalcone commented on #5390
In your build.gradle, what's the version number after `classpath 'com.android.tools.build:gradle:` ?

[2016-07-17 07:17] jshier commented on #5173
A teammate wrote a Tcl `expect` script to workaround this issue:
[code]

[2016-07-17 13:05] KrauseFx commented on #5284
Cool, thanks @jeffreyjackson for looking into this, keep us up to date :+1:

[2016-07-17 14:44] #4222 closed

[2016-07-17 15:37] PatrickHeneise commented on #5390
We're running 2.1.2. I personally haven't used gradle before and new to it, that's why I wasn't sure if the zip align is handled automatically.

[2016-07-17 15:45] #4417 closed

[2016-07-17 20:54] #4570 closed

[2016-07-17 22:30] lukas2 opened #5416 "/"

[2016-07-17 22:39] #5416 closed

[2016-07-17 22:40] lukas2 commented on #5416
(closed as problem was solved, sorry)

[2016-07-18 02:33] biolinh commented on #5397
I think  you can run it via call shell  script.
sh "delivery download_metadata"

It will be like  you run "delivery download_metadata" directly in command line.

[2016-07-18 04:50] Darkreaper101 commented on #5387
@KrauseFx Can you please help me out here, this is currently holding us back on moving to production using fastlane.

Thanks :smiley:

[2016-07-18 05:32] none2011 commented on #5355
+1
and it happens very often, even when I had very good network connection quality.

[2016-07-18 06:56] LeBlaaanc opened #5417 "Can I deliver submit_build in Fastfile?"
Is it possible to use `deliver submit_build` within Fastfile similar to how `deliver` works?

[2016-07-18 10:07] IngmarStein commented on #5163
In case anyone else wants to have a temporary workaround (probably until Xcode 8 Beta 3 is release tomorrow), here's what I did:

- removed the Core Data model from my project
- ran xcodebuild -showBuildSettings to get working settings
- created a shell script named `xcrun` with the following content:
[code]
- set PATH environment variable so that this script precedes `/usr/bin/xcrun` (e.g. in .tr

[2016-07-18 10:40] CesarTrigo opened #5419 "Integration with Applivery.com"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Dear fastlane team,
My name is César Trigo, founder and CEO of Applivery.com (http://www.applivery.com). Our service allows companies and developers to easily deliver Apps in a fast, beauty an

[2016-07-18 11:04] Gladkov-Art opened #5420 "New 'tag' key for 'import_from_git' action"
Hello!
### Suggestion
I'd like to suggest adding `tag` as new key to the `import_from_git` action.
### Motivation
Recently I have implemented reusable fastfile for our projects. Everything was cool until I decided to try match as code signing tool for one of our project. And I encountered a predictable problem, I couldn't simply modify my reusable fastfile, because it breaks code signing flow for

[2016-07-18 11:15] lukas2 commented on #5355
+1

[2016-07-18 12:00] pahnev commented on #5393
I just had the same issue with Jenkins running fastlane. Running same command locally worked fine.

[2016-07-18 12:15] cargath opened #5421 "`cert` and / or `sigh` fails with error: SSL_connect SYSCALL returned=5 errno=0 state=SSLv2/v3 read server hello A"
### Issue Description

We've started to get weird SSL errors when running Fastlane via Jenkins:
[code]

- We use Fastlane with Jenkins for deploying various apps, and all of them exhibit the same problem.
- In the log the problem happens in the `cert` step, but sometimes it happens in the sigh `step`.
- When running Fastlane manually from the command line it works most of the time, but not always.

[2016-07-18 13:17] KrauseFx commented on #5421
Have you tried https://github.com/fastlane/fastlane/blob/master/fastlane/docs/FAQs.md#im-getting-an-ssl-error?

[2016-07-18 14:21] ravinggenius commented on #5406
May be related to #5395.

[2016-07-18 14:41] TKBurner commented on #5406
@ravinggenius Thanks for reaching out about this. Frameit requires a title for it to be the right size to upload to the iTunes store. Otherwise the images will be the wrong size, but can be used in your website, etc. Thanks! 👍

[2016-07-18 14:41] #5406 closed

[2016-07-18 14:42] #4715 closed

[2016-07-18 14:50] TKBurner commented on #5393
Hi @pahnev can you share your full output?

@a1cooke Thanks for following up. Do you run into this issue if you unlock the keychain first?

[2016-07-18 14:55] pahnev commented on #5393
Here is my output
[code]

[2016-07-18 14:56] a1cooke commented on #5393
@TKBurner I worked with Travis support and unblocked myself, the solution was that json 2.1.0 is conflicting with fastlane.

Current solution was to uninstall the gem and go back to 1.8: `gem uninstall json --version 2.0.1`

[2016-07-18 15:07] mfurtak commented on #5389
It looks like this has been addressed with https://github.com/fastlane/fastlane/pull/5391, which should be shipped with the next release.

[2016-07-18 15:13] joemasilotti commented on #5390
I'm running into the same issue with 2.1.2. Using 2.2.0-alpha4 does not help.

[2016-07-18 15:18] asfalcone commented on #5390
This is super weird! Can you try running `./gradlew assembleRelease` from your command line and uploading the apk manually to Google Play? I just want to make sure that this is something with fastlane and not your build/signing setup before we get too far.

If the apk uploads correctly to Google Play that way, then I'd be happy to help investigate. Please paste your fastfile if you have one, the e

[2016-07-18 15:27] matibzurovski commented on #1681
Hi @jonathanrauch, thanks for sharing your solution! In my case, I have the app localised in Spanish (Spain) and Portuguese (Portugal), and this code works fine with them. However, it will crash for the native language of the app (English). I have a a localisation file under `en.lproj`, but when I try to get the deviceLanguage it returns `en-US`, so the path won't exist.

I am currently using this

[2016-07-18 15:32] asfalcone commented on #5419
Hi @CesarTrigo! Thanks for wanting to contribute to fastlane! 😍

The best way to add functionality to fastlane is to create a [plugin](https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Plugins.md#plugins). Please check out that link and let us know if you have any other questions 👍

[2016-07-18 15:47] stevewallis commented on #5421
Hi, I'm seeing the same errors since the weekend.
My Jenkins builds are failing, either in cert or sigh, with either the same error listed above -

`SSL_connect SYSCALL returned=5 errno=0 state=SSLv2/v3 read server hello A`

or occasionally:

`SSL_connect SYSCALL returned=5 errno=0 state=SSLv3 read server session ticket A`

These builds were successful last week.

I have tried the update steps lis

[2016-07-18 15:50] tsheaff commented on #5389
yes it has this solves the issue for me.

[2016-07-18 15:54] teeqemm commented on #5421
The same issue here - `sigh download_all` fails with the above mentioned error messages. Last successful call on 15 Jul 2016, 4:16:44 PM, first failure on 16 Jul 2016, 9:48:04 PM.

[2016-07-18 16:25] ravinggenius commented on #5406
@TKBurner Thanks for the clarification, but how do I add a title? I'd also like to specify a background color, but I don't see options for either in the documentation.

[code]

[2016-07-18 17:54] asfalcone commented on #5420
@Gladkov-Art Could you explain how you would use the `tag` option? I'm not sure I understand.

[2016-07-18 18:02] asfalcone commented on #5417
@LeBlaaanc not directly. You can look at the [options that `submit_build`](https://github.com/fastlane/fastlane/blob/master/deliver/lib/deliver/commands_generator.rb#L52) sub command passes to deliver you should be able to replicate it using the `deliver` action.

[2016-07-18 18:35] ericnondahl opened #5426 "Upload IPA via pilot causes itunesconnect error when submitting for review"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Uploading a build via pilot causes the itunesconnect submit button to fail with a 504 server timeout on the itunes backend (as seen in the google chrome JS console.) After contacting Apple sup

[2016-07-18 19:25] joemasilotti commented on #5390
:facepalm: (why isn't that an emoji?)

Turns out my Gradle build script wasn't running `zipalign` on the build, I was doing it manually. For some reason I assumed Fastlane would take care of that.

I was able to fix my particular issue by adding the `zipAlignEnabled true` line to Gradle.

[code]

[2016-07-18 19:37] TKBurner commented on #5355
Hi @combinatorial! Great to hear from you. I wanted to see if you can supply a project this is reproducible for. That way we can test over here. Thanks so much! 👍

[2016-07-18 19:39] TKBurner commented on #5390
@PatrickHeneise Can you let me know if you are still running into this issue? Thanks so much! 👍

[2016-07-18 19:42] TKBurner commented on #5426
Hi @ericnondahl Thanks for reaching out. It looks like this issue is only affecting you right now. I definitely want to get to the bottom of it. Can you provide reproduction steps? Do you see this same issue on all projects? Thanks!

[2016-07-18 19:43] #5417 closed

[2016-07-18 19:46] TKBurner commented on #5406
@ravinggenius Thanks for following up. To set these you'll use the Framefile. See this page for more information: https://github.com/fastlane/fastlane/tree/master/frameit

Thanks!

[2016-07-18 19:49] TKBurner commented on #5421
@cargath Thanks for reaching out about this. Can you make sure your keychain is unlocked? That is often the cause of this problem when running on Jenkins. Also, just for a sanity check can you test after running sudo gem update fastlane?

Thanks!

[2016-07-18 19:52] TKBurner commented on #5389
@rvandenbroek-aa Let me know if the PR resolves your issue! Thanks for pointing this out 👍

[2016-07-18 19:53] #5419 closed

[2016-07-18 19:55] ericnondahl commented on #5426
@TKBurner No problem, we'd like to figure it out also! We saw this on multiple versions of a single app, i'll work on creating a test application and re-testing the pilot upload there, see if I can get more clarity on what conditions cause the submit to fail after pilot upload.

[2016-07-18 19:55] TKBurner commented on #1681
@matibzurovski Thanks for reaching out. If you haven't found a workaround go ahead and submit a new issue for this so we can take a look. Thanks!

[2016-07-18 20:00] TKBurner commented on #5426
Thanks @ericnondahl! Let me know once you have a sample project and I'll loop in the core team 👍

[2016-07-18 20:01] TKBurner commented on #5393
@a1cooke Thanks so much for letting me know. I'll make sure to tell anyone that is similarly affected. Hope you have a great day! 👍

[2016-07-18 20:01] #5393 closed

[2016-07-18 20:03] jshier commented on #5173
Still a problem in beta 3 / 1.98.

[2016-07-18 20:04] combinatorial commented on #5355
Is there a way I can share with you privately?

[2016-07-18 20:05] TKBurner commented on #5163
Hi @IngmarStein There is a PR in place that fixes this issue. It will be merged into master shortly 👍

[2016-07-18 20:06] TKBurner commented on #5355
@combinatorial Feel free to email me at support@fabric.io. Just mention it is for Todd and link this ticket. Thanks!

[2016-07-18 20:07] IngmarStein commented on #5163
If you mean https://github.com/fastlane/fastlane/pull/5188, it probably is a different issue. Xcode 8 always hangs at showBuildSettings for projects with Core Data models.

[2016-07-18 20:14] TKBurner commented on #5163
@IngmarStein Thanks for following up.  I'm looping in the core team so we can investigate. 👍

[2016-07-18 20:17] TKBurner commented on #5173
@jshier Thanks for following up on this. Can you let me know if you have a sample project we can look at that is affected by this issue? That'd help a lot! Thanks so much 👍

[2016-07-18 20:24] TKBurner commented on #5387
@Darkreaper101 Thanks for reaching out. Do you run into this issue when you run deliver by itself from the command line? If you set force: true does the issue persist?

Thanks!

[2016-07-18 20:28] cargath commented on #5421
@KrauseFx Yes, updated OpenSSL from 0.9.8 to 1.0.2.

@TKBurner I did update fastlane (i usually run update on everything that seems related when these kind of things happen). Will try the keychain unlock first thing in the morning.

[2016-07-18 20:29] jshier commented on #5173
@TKBurner [Here you go](https://github.com/jshier/ScanHangTest). This is actually so easy to replicate any project will do it.

[2016-07-18 20:35] TKBurner commented on #5397
@biolinh Thanks for stepping in. That should do the trick @felix-dumit  👍

[2016-07-18 20:35] #5397 closed

[2016-07-18 20:37] matibzurovski commented on #1681
Thanks @TKBurner but it is not really a snapshot issue, as it is needed for running the UITests on Xcode too.

[2016-07-18 20:37] TKBurner commented on #5173
@jshier Thanks! I've looped in the core team 👍

[2016-07-18 20:38] TKBurner commented on #1681
Ah! Thanks for letting me know. 👍

[2016-07-18 20:42] matibzurovski commented on #1671
Any news on this? I am having the same problem with `fastlane 1.97.2` and `snapshot 1.12.3`.

[2016-07-18 20:44] stulevine commented on #5386
Well, what if it's an enterprise appleID?  Can't really enable iTunes connect for that one since it's not used for the App Store, just to build app for internal distribution and testing via the enterprise cert?  Anyone have this same issue with an enterprise apple id?

[2016-07-18 20:54] #1626 closed

[2016-07-18 20:56] TKBurner commented on #5408
@MickeyHub Thanks for reaching out. What happens if you unlock your keychain prior to these commands? Let me know! Thanks 👍

[2016-07-18 20:58] #5389 closed

[2016-07-18 21:00] felix-dumit commented on #5397
here's the lane i'm trying to run:

[code]

I get this error:

[code]

I took a look at those issues and tried passing in the `--force` parameter but it still didn't work.

[2016-07-18 21:06] #1744 closed

[2016-07-18 21:14] #1554 closed

[2016-07-18 21:25] #1550 closed

[2016-07-18 21:35] #1543 closed

[2016-07-18 21:38] nezhyborets opened #5430 "Setting output_directory to "~/Desktop" creates unwanted folders in Project root folder"
### New Issue Checklist

- Updated fastlane to the latest version - **Fabric App haven't provided me with update to 1.98.0 yet**
- I have read the [Contribution Guidelines] - (https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md) - **I did**

### Issue Description
I have a different issue with output_directory: "~/Desktop"
In my case, gym actually puts both ipa and dSYM to Desktop, but

[2016-07-18 21:44] #1541 closed

[2016-07-18 21:54] #1533 closed

[2016-07-18 22:06] #1660 closed

[2016-07-18 22:14] #1719 closed

[2016-07-18 22:21] mosesoak opened #5431 "get_build_number project path errors out"
Hey guys, I think `get_build_number` botches the `xcodeproj` input. It should work the same as `increment_build_number`'s input with the same name, but instead it appends `..` to the end of the path, which breaks. Thanks

[2016-07-18 22:24] #1655 closed

[2016-07-18 22:34] #1526 closed

[2016-07-18 22:44] #1644 closed

[2016-07-18 22:54] #1513 closed

[2016-07-18 23:07] bassrock commented on #1533
@TKBurner This issue is still open and the Pull Request got reviewed. I need to add some tests this week and then it should be ready.

[2016-07-18 23:07] tcarter2005 commented on #5394
Anyone know what could be causing this?  I was hoping maybe it was a hiccup in iTunes Connect, but the problem is still occurring.

Thanks.

[2016-07-18 23:47] kevinthecity opened #5432 "Support for multiple metadata folders? (Android)"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

New to fastlane, from the Android side. Poked around and got everything working, but I have a somewhat unique case and I'm curious if it's already a feature, or to make a request.

I have an A

[2016-07-19 00:42] slava-mironov commented on #5128
Had the same issue, turned out the problem was running snapshot from under tmux, switching to plain Terminal solved the issue immediately. Tried this after reading about problems running xcodebuild from forked terminal sessions here: http://stackoverflow.com/questions/577750/running-xcodebuild-from-a-forked-terminal

[2016-07-19 01:04] samritchie opened #5433 "pilot & deliver team parameters are misnamed"
The `pilot` & `deliver` tools have the team-related command line parameters (pilot shown):

    -q, --team_id [VALUE] The ID of your team if you're in multiple teams (PILOT_TEAM_ID)
    -r, --team_name STRING The name of your team if you're in multiple teams (PILOT_TEAM_NAME)

For comparison, `sigh` also has these parameters:

    -b, --team_id STRING The ID of your team if you're in multiple team

[2016-07-19 01:07] tmm1 commented on #5394
@tcarter2005 Can you try the fix in https://github.com/fastlane/fastlane/pull/5407?

[2016-07-19 01:15] zapjonny commented on #1813
Me too. Any progress?

[2016-07-19 02:04] MickeyHub commented on #5408
@TKBurner , thanks,  the keychain is unlocked, when I run this commands.

![image](https://cloud.githubusercontent.com/assets/5426838/16936282/1c285cf0-4d98-11e6-906c-09bc974caae6.png)

[2016-07-19 03:31] teeqemm commented on #5421
@TKBurner keychain was/is unlocked... anyway, now it is working again without any changes on my side. Maybe this was a temporary issue on Apple's side?

[2016-07-19 04:06] Gladkov-Art commented on #5420
@asfalcone sure, I can see it in following way:

I will make import of my reusable fastlane file:
[code]
Fastlane checkouts my repository to commit with tag - `any_tag` and then import fastfile.
This improvement will allow me to change my fastfile, add new tag and adopt my applications one by one.

[2016-07-19 04:06] sketch34 commented on #1635
I'm interested in running snapshot on the actual device as well, since my project uses Metal so it can't be run on the simulator.

[2016-07-19 04:18] cptdanko commented on #5355
I have had this problem before and the way I have solved it was by moving the screenshots already uploaded from the screenshots directory to another one and re-running the process(lane). So the next time it resumes the upload process from where it stopped the last time and for me it worked the second time. I was working on a deadline and that "hack" did solve my problem and saved me some time.

[2016-07-19 07:11] arpwal opened #5434 "Could not find app with bundle id (RuntimeError)"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Configuration Files

Please copy the complete content of your `Fastfile` and any other conf

[2016-07-19 07:12] #5434 closed

[2016-07-19 07:14] cleclef opened #5435 "Snapshot tool can remain stuck forever if "xcrun simctl list devices" is stuck."
### New Issue Checklist
- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

Snapshot tool can remain stuck forever if "xcrun simctl list devices" is stuck in device_manager.rb
at

[code]

I encounter that the snapshot tool was blocked. I found out that it was waiting fo

[2016-07-19 07:14] arpwal commented on #5434
Please delete this issue. Thanks.

[2016-07-19 07:59] cargath commented on #5421
Same as @teeqemm, it magically started working again. I guess it was a problem with Apples servers.

Hm, is it possible to make those error messages more helpful? Or would i have to submit an issue to the faraday (that's the library throwing the error, right?) project?

[2016-07-19 08:31] PatrickHeneise commented on #5390
We have zipAlignEnabled in the config, but not sure about the signing configs. Where do I get the keystore from? I have the json downloaded as it is stated in the instructions

[2016-07-19 09:02] punksta opened #5436 "Question: checking app name and bundle id for avalibility without creating apps"
In our service apps are created from web-ui. Is it possible to check entered app name and bundle id for availability in Dev portal and Itunes connect by ruby script?

[2016-07-19 09:11] KrauseFx commented on #5430
Thanks for the report, this is something that we have to fix by using `File.expand_path`

[2016-07-19 10:40] shabeepk commented on #5386
@stulevine
We've got the same issue with enterprise builds...

[2016-07-19 10:44] shabeepk commented on #5124
So we can't use sigh or cert with enterprise profiles ?

[2016-07-19 11:10] Lutzifer opened #5437 "not all lanes of all platforms are listed when running fastlane"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x]  I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

Given multiple platforms in a fastfile, either only the ones from the default platform are presented to the user (if a default platform is defined)  or fastlane does not find any lanes (see out

[2016-07-19 11:33] mcactive commented on #5386
Have the same issue with the enterprise account... As soon as you try to login to itunes connect with an enterprise account; your session is expired.

[2016-07-19 11:44] mr-casual commented on #5386
@stulevine
yeah.. the same here...

[2016-07-19 14:01] asfalcone commented on #5390
@PatrickHeneise Check out [this article](https://developer.android.com/studio/publish/app-signing.html#release-mode) on signing your APK. The json file that you downloaded is for authenticating with Google Play for uploads.

[2016-07-19 14:16] TKBurner commented on #5386
@mcactive @mr-casual @stulevine What exact error do you get? Have you tried logging in at appleid.apple.com? Thanks!

[2016-07-19 14:17] AmityTek opened #5438 "ERROR - Snapshot don't use my .PCH during compilation"
### New Issue Checklist

- [Yes] Updated fastlane to the latest version
- [Yes] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

i run just snapshot without flag
i don't understand why fastlane don't use my .pch during compilation
whereas xcode compile with it !

Testing failed:
No known class method for selector 'M

[2016-07-19 14:21] TKBurner commented on #5437
Hi @Lutzifer Thanks for reaching out. Can you share your full input and output? I want to take a look. Thanks!

[2016-07-19 14:33] mfurtak commented on #5389
It looks like this went out with `gym` 1.7.0 👍

[2016-07-19 14:39] TKBurner commented on #5438
Hi @AmityTek Hope you are doing well! Can you send out the full input and output you get when you have this error? I'd love to take a look 👍

[2016-07-19 14:49] TKBurner commented on #5124
Hi @shabeepk Thanks for reaching out. You should be able to use sigh and cert with enterprise profiles. Are you running into a specific issue? I'd love to take a look 👍

[2016-07-19 14:51] AmityTek commented on #5438
Thanks for answer ! I think its ok thanks you again :)

[2016-07-19 14:53] JMSerruya commented on #4983
Same issue here, worked well first two uploads and then it stopped working. Through teamcity

[2016-07-19 14:55] TKBurner commented on #4983
@JMSerruya Thanks for letting me know. Can you let me know if unlocking your keychain prior to using pilot resolves your issue? Thanks so much! 👍

[2016-07-19 14:55] #5438 closed

[2016-07-19 15:03] asfalcone commented on #5432
hey @kevinthecity! You'll want to use the `metadata_path` param.

When you run `supply init` add `--metadata_path "someotherdirectory/metadata` for one of the packages

In your Fastfile, if you set up separate lanes for them, you can also pass `metadata_path` to `supply` with the appropriate directory for each package.

Let me know it goes! 🚀

[2016-07-19 15:04] shabeepk commented on #5124
@TKBurner

We're seeing the following issue (Seems similar to #5386) :

[code]

[2016-07-19 15:31] JMSerruya commented on #4983
@TKBurner : Same issue after unlocking keychain, i updated fastlane and pilot aswell.

[2016-07-19 15:33] JMSerruya commented on #4983
Full log : http://pastebin.com/qkU7nvKy

[2016-07-19 16:15] Lutzifer commented on #5437
you can simply take the fastfile and then run `fastlane`

I don't know what to add more, but will try.

[2016-07-19 16:17] matibzurovski opened #5439 "Tests executed with Snapshot expect non-localised strings"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I have an app localised in English and Spanish. In my UITests, I find elements according to their text, which is localised. For example, I have a simple test that only checks that a cell says

[2016-07-19 16:34] TKBurner commented on #5124
@shabeepk Thanks for following up. Can you share the full input and output? Thanks so much! 👍

[2016-07-19 16:42] garySWARM opened #5440 "e"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Configuration Files

Please copy the complete content of your `Fastfile` and any other conf

[2016-07-19 17:35] matibzurovski commented on #5439
I've managed to solve this issue from the description of this PR https://github.com/fastlane/fastlane/pull/4313. It would be helpful to include the `localize_simulator` config in the project's Readme 🙂

[2016-07-19 17:35] #5439 closed

[2016-07-19 17:45] TKBurner commented on #5440
Hi @garySWARM Let me know if you have any issues, I'd love to help 👍

[2016-07-19 17:45] #5440 closed

[2016-07-19 17:54] kevinthecity commented on #5432
Hey Andrea, thanks for your help! Based on your suggestions, I was able to get it working. Here's the scoop for anyone who might stumble across this issue.

**(1)** If you were trying to use **Supply** as a tool on it's own, what I wanted was an advanced configuration that really needed **Fastlane** as well. Go up a level and install all of **Fastlane**, and [set it up](https://github.com/fastlane

[2016-07-19 17:56] asfalcone commented on #5432
Thank you so much for the details @kevinthecity 👍

[2016-07-19 17:56] #5432 closed

[2016-07-19 18:14] TKBurner commented on #5437
Hi @Lutzifer Thanks for following up. Can you provide the full command you entered and all output of fastlane up to the error? Thanks!

[2016-07-19 18:25] tcarter2005 commented on #5394
Thanks for the link, it seems like it will be merged into a release soon, I hope.  Sorry I cannot test the fix, as I barely know anything about ruby to be able to compile the source and test.

[2016-07-19 19:36] TKBurner commented on #5394
@tcarter2005 Thanks, looks like that PR will fix your issue. Can you test again after it's been merged into our release version? Thanks 👍

[2016-07-19 19:40] TKBurner commented on #4983
@JMSerruya Thanks for following up. Do you see this same issue on all projects or just this project? It'd be useful to have reproduction steps over here. Thanks and have an awesome afternoon 👍

[2016-07-19 19:45] TKBurner commented on #5436
Hi @punksta Thanks for reaching out. Right now we don't have a tool to do this in an automated way.
This sounds like a great use of a plugin. The best way to add functionality to fastlane is to create a [plugin](https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Plugins.md#plugins). Please check out that link and let us know if you have any other questions 👍

[2016-07-19 19:45] #5436 closed

[2016-07-19 19:49] TKBurner commented on #5421
Thanks for letting me know @teeqemm and @cargath! Really glad you are back up and running. I'll make sure the team looks this over for improving error messages. Thanks!

[2016-07-19 19:49] #5421 closed

[2016-07-19 20:01] TKBurner commented on #5435
Hi @cleclef Hope you are doing well! Can you send over the output of `xcrun simctl list devices`

Thanks!

[2016-07-19 20:06] TKBurner commented on #5355
@combinatorial Can you try @cptdanko workaround? Thanks!

[2016-07-19 20:17] combinatorial commented on #5355
You mean the workaround that was in the original report :) "In order to successfully upload I have to run multiple times, and delete the metadata that succeeded each time."

[2016-07-19 20:18] TKBurner commented on #1635
@51d4 Can you check out the PR #5159 and let me know if it works for you? Thanks so much! 👍

[2016-07-19 20:19] TKBurner commented on #5355
@combinatorial Thanks for following up. Were you able to put together an affected sample project? Thanks! 👍

[2016-07-19 20:20] combinatorial commented on #5355
Yes I was. I sent the email yesterday. It referenced your name and this issue number in the subject. "For Todd: Issue 5355"

[2016-07-19 20:24] HolySamosa commented on #4052
@hzalaz Did you ever make any progress with determining why fastlane/boarding is failing?  I was about to experiment with this myself.

@samrobbins There are a bunch of folks looking for a solution to this for the boarding project.  If you might be able to assist, please check out this issue: https://github.com/fastlane/boarding/issues/65

Thanks!

[2016-07-19 20:25] TKBurner commented on #5408
Hi @MickeyHub! Thanks for following up. Does this issue persist if you remove this account using

fastlane-credentials remove --username xxxx

and add it fresh?

Thanks!

[2016-07-19 20:30] TKBurner commented on #5383
Hi @kalvish21 Thanks for reaching out about this. Can you let me know what the old behavior you saw was? I'm pretty sure this never behaved the way you are expecting.

Thanks!

[2016-07-19 20:39] TKBurner commented on #5355
@combinatorial Awesome! I've got it, can you let me know exact repro steps. I want to loop in the core team. Thanks so much! 👍

[2016-07-19 20:43] combinatorial commented on #5355
Run `fastlane update_metadata` sometimes it works and sometimes it fails with the error in the report. It's random, but in a 13 language upload it failed about 6 times for me.

[2016-07-19 20:45] TKBurner commented on #5355
Thanks! I'll update you soon! 👍

[2016-07-19 20:55] Lutzifer commented on #5437
Ok, i'll try to be more specific:

**Case 1: Fastfile with default platform**

Fastfile:

[code]

Command and Output:

[code]

**Case 2: Fastfile without default platform**

Fastfile:

[code]

Actual Command and Output:

[code]

Expected/More useful output:

[code]

[2016-07-19 20:55] TKBurner commented on #1813
@zapjonny Were you able to fix this by running `sudo gem install xcpretty`?

[2016-07-19 20:59] TKBurner commented on #5433
@samritchie Hope you are doing well! Are you interested in submitting a PR for this? I'd love to see that and work with you 👍 Let me know!

[2016-07-19 21:01] TKBurner commented on #5128
@kd8ssq Are you using a custom terminal? Let me know if it persists in another CLI.

[2016-07-19 21:05] corbt commented on #5128
Great suggestion from @slava-mironov, I started having the same issue running inside tmux in iTerm. I've just confirmed that switching to a plain terminal session without tmux (still in iTerm) solved the problem!

[2016-07-19 22:02] cptdanko commented on #5355
Yes my bad, I may have missed that bit of info from the question anyway I don't think I am only one who missed that bit of info. If there is a solution to your problem, it would be good if you can share with everyone else here.

[2016-07-19 22:22] nmcdonaldd commented on #5386
Getting the same error for account added as developer to an Enterprise account. Can log into appleid.apple.com just fine, however.

[2016-07-19 22:24] cytryn opened #5441 "Push Notification Profile Maintenance"
Hi all,

I am running fastlane on version 1.97.2
And I am trying to create new push profiles for my apps (multiple targets).

[code]

And I get the following error message if this is the first time that the certificate is being create
[code]

And the second problem is that if the profile is already created, the script ends and does not download the profile.
I wanted it to be downloaded and exporte

[2016-07-19 22:30] KrauseFx commented on #5441
It seems like your output path directory doesn't exist? `"./tmp/#{ENV["SCHEME"]}/push"`
Ideally `pem` would create it for you, but could you try creating it manually to see if that solves the problem?

[2016-07-20 00:49] samritchie commented on #5433
@TKBurner I could give it a go. A couple of questions though:

1. How do you deprecate an option (in particular, retain the short switch, but change the key & env var)? If it’s just duplicated, how is the short switch resolved?
2. It looks like @mfurtak added `PILOT_ITC_PROVIDER` and `DELIVER_ITC_PROVIDER` env-only options; these would appear to duplicate the team_id options, but I’m not really cl

[2016-07-20 01:10] cytryn commented on #5441
@KrauseFx indeed it worked! Thanks
It would be just great if `pem` could create the folder for me just like `gym` does with the builds.

What about the second part?
Imagine I have a new developer in my team or that I have just bought a brand new mac and want to download all the profiles.
Is there a way I can "force" it to download the existing profile?

[2016-07-20 01:20] zapjonny commented on #1813
No.

I found out that Jenkins cannot find xcpretty if it is started by the instructions on screen after installing through homebrew. If I start manually using "jenkins" on a command line (as my own user I guess), then xcpretty works. The jenkins instructions at https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Jenkins.md in fact does suggest to start jenkins manually like that. I'm no

[2016-07-20 01:40] LeBlaaanc opened #5446 "Lane specific before_all runs before global before_all?"
Is this the expected behavior?

[code]
`fastlane ios beta` outputs `two one three`.

[2016-07-20 05:33] jiyee commented on #5236
same problem in using Simplified Chinese

[2016-07-20 06:19] MickeyHub commented on #5408
@TKBurner thx, when I'm going to remove it. the output is below:
ngsserver:~ ngsserver$ fastlane-credentials remove --username negativespacetech@gmail.com
security: SecKeychainSearchCopyNext: The specified item could not be found in the keychain.

but it really exists in the KeyChain

![image](https://cloud.githubusercontent.com/assets/5426838/16976869/daede6cc-4e84-11e6-950e-177b20743ee3.png)

[2016-07-20 06:25] MickeyHub commented on #5408
and all keychains items don't prefixed with 'deliver.'

[2016-07-20 07:48] KrauseFx commented on #5441
@cytryn Why do you want to download push notification profiles? You have them on your server. There is no way to receive it from the Apple Dev Portal

[2016-07-20 07:57] hw-credeo commented on #4907
I am running into the very same issue. Any progress?

I am using RBENV, ruby version is ruby 2.3.1p112 (2016-04-26 revision 54768) [x86_64-darwin15].
fastlane 1.98.0, gym 1.7.0, pilot 1.9.2

My Fastfile lane:

  lane :stage do
    ensure_git_status_clean
    app = "com.credeo.C13-Integ"
    scheme = "C13-Integ"
    increment_build_number build_number: next_build_number()
    version = "#{get_versi

[2016-07-20 08:04] ToroLiu commented on #4712
I encounter this error too. `Exit status: 65.`
When I run `archive` in Xcode, it works success. But it report something like the following..
[code]
It has errors, but finally, it product a archive in the `Xcode -> Window -> Organizer`.
In my cases, the error is ```pngcrush caught libpng error:```. Failed to copy png file resource.

[2016-07-20 08:22] tychop commented on #5386
Same problem here. We have an enterprise account, and I had to add the enterprise user to my personal iTunesConnect (completely unrelated to the enterprise).
It works now....

[2016-07-20 08:32] shabeepk commented on #5124
@TKBurner

Here's the output for cert. sigh generates similar results.

[code]

[2016-07-20 08:36] idomizrachi commented on #5259
I had this issue on a jenkins slave.
What solved it was importing the WWDR certificate to "login" keychain in addition to the "System" keychain

[2016-07-20 08:41] tcurdt commented on #4907
@hw-credeo you have to go through the web ui

[2016-07-20 08:59] hw-credeo commented on #4907
@tcurdt Thanks for the quick response. Actually I have added all testers through the iTunes Connect web ui. I just wanted to confirm that they are listed by pilot, too. I am currently facing the very same issue as you on June 8, after the quote in your reply to me ...

[2016-07-20 09:10] tcurdt commented on #4907
@hw-credeo you mean the build is not showing up?

[2016-07-20 09:14] hw-credeo commented on #4907
@tcurdt

So, the build is showing up, but is marked as "Missing Beta Entitlements". I have distributed the very same archive via Crashlytics beta without any issues. This is driving me crazy. I will try to upload the archive to TestFlight manually later, today, However, this does not help with fastlane crashing ...

[2016-07-20 09:16] hw-credeo commented on #4907
@tcurdt Yes, the build does not show up in "TestFlight iOS Builds"

[2016-07-20 10:00] tcurdt commented on #4907
OK, then dissect your IPA. It needs to have `beta-reports-active = 1`

I ended up ditching `gym` for a custom action (as `gym` was just not doing the right thing). I now use a more specialized version of `xcodebuild` action.

I haven't looked back since. Much happier as it's a little less magic and does things my way.

[2016-07-20 10:11] hw-credeo commented on #4907
I have checked the IPA and it includes the beta-reports-active = 1.

I wonder why there is not response from the team on this issue. In my case it is even more time consuming and error prone to use fastlane than not. Which is a shame, because I appreciate the great work put into the fastlane tools. Still hoping that I am doing something wrong ...

[2016-07-20 10:20] tcurdt commented on #4907
Did you check both? `Payload/*.app/embedded.mobileprovision` and `codesign -d --entitlements :- Payload/*.app`

[2016-07-20 10:39] akudryashov opened #5453 "Deliver without testing, metadata and screenshots"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

On my project I have only developer rights in iTunes Connect. And I wanna send only app into iTunes, without testing, metadata and screenshots.
Console links me to pilot issue, but i don't rea

[2016-07-20 10:44] KrauseFx commented on #4712
@ToroLiu Please submit a separate issue for this, since it doesn't seem to be related to this one

[2016-07-20 11:00] akudryashov commented on #5453
I have match(type: "adhoc") which provides valid certification. I already configured ad-hoc lane with fabric. see baby_ru_lane_adhoc. there is all fine.
I really need only deliver ipa to iTunes connect without any additions(metadata, screenshots, testing, review...and etc). This must be pure ipa-delivering. How I can do it?

[2016-07-20 12:10] shabeepk commented on #5386
@tychop

That's not an option in our case unfortunately ...

[2016-07-20 12:25] Lutzifer commented on #5320
I am also very interested in this feature

[2016-07-20 12:28] cleclef commented on #5435
It is 99% of the time working this command. I don't why sometimes it's stuck. Probably an iOS bug...

<pre>
:~ admin$ xcrun simctl list devices
== Devices ==
-- iOS 8.4 --
    iPhone 4s (9354F5BB-B2AE-4BA4-A6FA-4EE9823304A8) (Shutdown)
    iPhone 5 (1F5FC6D8-C3D8-4C78-8481-2CDB5111C9BA) (Shutdown)
    iPhone 5s (950BC74A-5F41-45DD-8118-042353B34BCC) (Shutdown)
    iPhone 6 (B2699442-139A-4473-B30C

[2016-07-20 12:40] medslt commented on #5386
@stulevine
 We've got the same issue with enterprise builds... Did you solve it?

[2016-07-20 12:51] IngmarStein commented on #5163
I'm curious if you can find a solution to this. I guess it's just a bug in xcodebuild which hopefully will be fixed in the final Xcode 8 release.

[2016-07-20 13:07] FrantisekGazo commented on #5386
adding to iTunes is not an option

[2016-07-20 13:12] hw-credeo commented on #4907
Yep, both include

<key>beta-reports-active</key>
<true/>

[2016-07-20 13:42] AliSoftware commented on #4162
Had that bug just today, after updating `fastlane` on our CI to the latest `1.98.0`.
Was working great before updating (it was at least on 1.95.0 previously but maybe a little higher, not totally sure of the previous version before updating).

To fix it, we had to specify explicitly the `sdk: 'iphoneos'` when invoking `gym` (we don't use a `Gymfile`, we give explicit parameters to `gym` when invok

[2016-07-20 13:49] PatrickHeneise commented on #5390
Thanks, that helped! Last issue we have is:

`testingTrackApkInMultipleTracks: Testing-track (alpha/beta) APK with version code 3 appears in another track`

I'll try to summarise everything in the Supply readme.

[2016-07-20 13:50] tcurdt commented on #4907
Odd. Maybe something else is different between the two? I would check the one by one.

[2016-07-20 13:57] cytryn commented on #5441
@KrauseFx In my actual case I want to generate the .p12 files with the given password to upload to Firebase.

I have 9 targets and it would be awesome if `pem` could download them all, generate the .p12 files with the given password so I could upload to firebase.

Otherwise I would just have to go to keychain and click export and set password 9 times.

Would it be possible?

[2016-07-20 14:14] mfurtak commented on #5433
Hi @samritchie 👋

`PILOT_ITC_PROVIDER` and `DELIVER_ITC_PROVIDER` are used to pass a provider name through the `iTMSTransporter`. "provider" is just what the `iTMSTransporter` calls this organizational entity. While this value is commonly equal to the Developer Portal team ID, for teams that have existed a very long time, it is not.

See https://github.com/fastlane/fastlane/pull/4746#issuecomment-

[2016-07-20 14:24] kevinthecity commented on #4422
I also ran into this problem - although it was a user error. I had 2 lanes with 2 different `metadata` folders, however I accidentally had both lanes pointing to the same `metadata` folder. Updating to use their respective `metadata` folders fixed the issue.

[2016-07-20 14:56] bolom opened #5456 "[spaceship] add new languages"
Hi Guys

With spaceship can i do that?

- Is it possible to add a new version for an app with Spaceship?
- Is it possible to add a new language for an app with Spaceship?

B

[2016-07-20 14:58] mfurtak commented on #5433
@KrauseFx Can you give your thoughts on this ticket?

[2016-07-20 15:55] #4513 closed

[2016-07-20 16:16] martnst opened #5457 "Deliver drops app preview videos"
On my latest upload of metadata & screenshots `deliver 1.13.1` removed the app preview videos in iTC.

I cloud not find anybody reporting this before, which makes me wondering if that's special circumstances for me or just didn't bother anybody else before.

[2016-07-20 16:59] Liquidsoul commented on #5420
Hi @Gladkov-Art,

Did you try to pass a tag to the `branch` option of `import_from_git`?

We use the `--branch` option of `git clone` in this action and you should be able to specify a tag as it is said in the [git documentation](https://www.git-scm.com/docs/git-clone):

**-b <name>**
Instead of pointing the newly created HEAD to the branch pointed to by the cloned repository’s HEAD, point to `<na

[2016-07-20 17:00] michaelharro opened #5458 "Path escaping across actions is inconsistent"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

Some fastlane actions call `shellecape` on my paths and some don't. None of the actions document whether they will or not. For me to figure out if I need to provide an escaped path or an unescap

[2016-07-20 17:06] #1835 closed

[2016-07-20 17:14] #4618 closed

[2016-07-20 17:19] cytryn commented on #5381
I have this issue when I updated my gems also. Uninstalling latest json version fixed for me:

[code]

[2016-07-20 17:20] Liquidsoul opened #5459 "Add commit/object option to add_git_tag"
### Suggestion

Allow to call the action with a commit/object option: `add_git_tag(tag: 'release', object: 'release_candidate')`

### Motivation

I'd like to be able to specify the commit where to put the tag in the git history instead of needing to perform a manual checkout of the commit.

The git command looks like this `git tag <tagname> <commit>`.
See the [`git-tag`](https://www.git-scm.com/do

[2016-07-20 17:37] kylebrowning commented on #5339
Still not fixed in this preview, but you could try Xcode-select and use xcode8-beta

[2016-07-20 18:12] firecore commented on #1540
Any new thoughts with regard to adding support for 'universal' iOS/tvOS apps?

Love to help make this happen so feel free to reach out.

[2016-07-20 18:36] chebur commented on #5125
Uploaded build for the first time to a just created new application in iTunes.
Got those logs:
[code]

Also I was trying to upload the same `ipa` using Application Loader and got those errors:
[code]

Still there are no builds presented in itunesconnnect after a few minutes passed.

[2016-07-20 19:07] JMSerruya commented on #4983
@TKBurner is just this project (is the only one i've used pilot for so far).

I've two things steps set on my teamcity,

Gym :
gym --workspace "xxxx/xxxx.xcworkspace" --scheme "ArchiveQA" --clean --output_directory "archiveoutput" --output_name "xxxx-teamcity-staging.ipa"

Pilot :
cd archiveoutput
pilot upload -u shuank@gmail.com -a com.xxxx.xxxxqa -i "xxxx-teamcity-staging.ipa" --verbose

It work

[2016-07-20 19:14] #2027 closed

[2016-07-20 19:28] douglasalexandre opened #5460 "Run match appstore but nothing happen"
When run `match appstore` he start with a message: `Cloning remote git repo...` but after this, nothing more happened.

Ruby version
```ruby 2.2.2p95 (2015-04-13 revision 50295) [x86_64-darwin14]```

When i force the stop process, i received this message:
``` ^C[16:02:43]: 🔒  Successfully encrypted certificates repo```

I repeat this process several times, but I got always the same result

[2016-07-20 19:36] chebur commented on #5125
Also, I've got following email from iTC team:
[code]

[2016-07-20 19:53] akudryashov commented on #5453
so i understood my mistake. I need to use
pilot upload --skip_submission -i "./fastlane_store/baby.ru.ipa"
instead of deliver...

[2016-07-20 19:53] #5453 closed

[2016-07-20 19:57] KrauseFx commented on #5456
Yes, it supports all that, please check out the source code for more information

e.g. https://github.com/fastlane/fastlane/blob/master/spaceship/lib/spaceship/tunes/application.rb#L153 and https://github.com/fastlane/fastlane/blob/master/spaceship/lib/spaceship/tunes/app_version.rb#L197

[2016-07-20 19:57] #5456 closed

[2016-07-20 19:57] KrauseFx commented on #5456
I hope that helps, feel free to submit a PR improving the docs if you feel like it helps other users, any help appreciated 👍

[2016-07-20 19:58] bolom commented on #5456
@KrauseFx thanks

sure

[2016-07-20 20:34] KrauseFx commented on #5456
Awesome, thanks @bolom 👍

[2016-07-20 20:35] bolom commented on #5456
@KrauseFx i don't see in the doc a way to delete a screenshoot. We can just upload?

[2016-07-20 20:39] KrauseFx commented on #5456
You can also delete, you might want to dive into the deliver source code, which does all of those things 👍

[2016-07-20 20:39] bolom commented on #5456
ah thanks @KrauseFx

[2016-07-20 20:54] kpenfound commented on #5386
+1

[2016-07-20 22:14] aln787 opened #5464 "update_app_identifier action to read Appfile bundle id value"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
The Fastlane action `update_app_identifier` doesn't read the Appfile value `app_identifier`.  I would expect that this action would read this value so you don't have to reset your bundle identi

[2016-07-20 23:36] KrauseFx commented on #5433
Hey @samritchie,
Thanks for raising this issue, that's super helpful - a very good point! These are the things that are really hard to change, as we have to be backwards compatible to not break any setups with a new release.

That's far from ideal, and definitely something we should fix, regardless of if we change the parameter names. Is it reproducible on every run? If so, do you feel like you co

[2016-07-21 00:32] edwardmp commented on #4150
Seeing the same rsync issue here.

[2016-07-21 00:54] #4482 closed

[2016-07-21 01:12] cytryn commented on #329
Any updates on this?

I am having the same errors, but I don't feel like using these workarounds...
Anyway, removing $(SRCROOT) from Info.plist File didnt solve =/

[2016-07-21 02:26] samritchie commented on #5433
@mfurtak there’s a third ID. Awesome. I’d never seen that provider short name before.

I’ve read through all the issues & I think I’m managing to grasp what’s going on:

* older versions of pilot/deliver never passed a provider ID through to transporter; immediately post-multi-account iTunes, iTunes Connect used some sort of metadata inspection to locate the appropriate provider.
* pilot/deliver D

[2016-07-21 07:14] #3648 closed

[2016-07-21 07:42] AcaiBowl commented on #5123
This problem was solved just now. But I did not do anything. Maybe Apple has modified.

[2016-07-21 08:31] rchatham commented on #1655
I've had it hang on snapshot in similar situations but it seems that if I mess with the simulator or xcode from the project I am running the UITests (potentially xcode in general?) it causes snapshot to hang. I then begun refraining from opening xcode when running snapshot and have not had any further issues. Hope that helps!

[2016-07-21 09:27] toume commented on #5386
+1

[2016-07-21 09:30] smaljaar commented on #742
I get the same thing. I'm executing a shell from Jenkins, and there I get the error xcpretty: command not found
When I run from terminal xcpretty works, also when logged in as Jenkins user.

Any clues?

[2016-07-21 09:44] macbaszii opened #5467 "Always get `Transportation Failed` for App Extension Target"
### Issue Description

I always get this error while the app is successfully built and being sent to iTunes Connect.
It's about `App Extension Target` (I have a Sharing Extension in my app)
I tried everything that I've found via Google such as

Run this script in Extension Target
[code]

or Change `Embedded Content Contains Swift Code` flag in Extension Target's build settings to `NO`

These solut

[2016-07-21 10:18] donnywals opened #5468 "Fastlane init fails due to fr-FR language"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
When I run `fastlane init` for my project it sets up `deliver` automatically. This fails with the following message.

`Language 'fr-FR' is not activated / available for this app version.`

####

[2016-07-21 10:28] KrauseFx opened #5469 "Plugin action template doesn't have all methods required"
Missing methods:

[code]

Maybe `details` is not necessary, but I'd love to see the `return_value` in the default template 👍 What do you think?

[2016-07-21 10:35] jcampbell05 opened #5470 "SSH Tunneling disabled breaks match"
When SSH tunneling is disabled match breaks - CocoaPods and Git themselves are intelligently able to switch to HTTP which gets around this but Match continues to use SSH.

[2016-07-21 11:12] aln787 commented on #5464
Thanks @jaleksynas thanks for taking a look.

[2016-07-21 11:23] PaulWagener commented on #2081
As I needed this fix for my own project, I took the liberty to create the pull request to expedite the process.

[2016-07-21 11:25] shivakrishnach31 commented on #5372
@vpolouchkine, any update?

[2016-07-21 12:01] hotbott commented on #4059
Any news or plans to create a new PR?

[2016-07-21 13:24] kennygunie opened #5472 "[iOS] Preprocessor macros"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
I would like to inject a password from jenkins (with preprocessor macros) during the build.

Fastfile1:
gym(
      clean: true,
      xcargs:"CERTIFICATE_PASSWORD=**@\"secret\"**",
      use_le

[2016-07-21 14:26] zkrige commented on #5381
I had to do as @cytryn above, as well as :

`sudo gem uninstall plist

Select gem to uninstall:
 1. plist-3.1.0
 2. plist-3.2.0
 3. All versions

Successfully uninstalled plist-3.2.0`

[2016-07-21 14:47] talezion opened #5473 "match development hangs on `Cloning remote git repo...` v0.6.1"
I get this hanging for ages

[2016-07-21 15:25] atomicus opened #5474 "Pilot: skip_waiting_for_build_processing:true has no effect"
### New Issue Checklist
- [x ] Updated fastlane to the latest version
- [ x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

When running pilot with

[code]

pilot is waiting for build to be processed.
##### Complete output when running fastlane, including the stack trace and command used

[Output truncated as it's

[2016-07-21 15:52] duncandee opened #5475 "After installing Plugin Fastlane is slow"
### Issue Description

I installed "fastlane add_plugin download_file"  and now fastlane is Sloooooooowwww

Ran Command
[code]

If i exit the command i get this trace

[code]

### Environment

fastlane version (run `fastlane -v`):
1.98.0
Do you use bundler to execute fastlane (i.e. `bundle exec fastlane`)?
Tried it still slow
Do you use a Ruby environment manager (e.g. `chruby`, `rbenv`, `rvm`)?
N

[2016-07-21 18:01] nmcdonaldd commented on #5460
Same thing here.

[2016-07-21 18:08] douglasalexandre commented on #5460
@nmcdonaldd
My problem was here:
with problem: i commented this line code
```#type "development" # The default type, can be: appstore, adhoc or development```
without problem: i uncommented this line code
```type "development" # The default type, can be: appstore, adhoc or development```

[2016-07-21 18:10] #5460 closed

[2016-07-21 18:16] douglasalexandre opened #5476 "!] SSL_connect returned=1 errno=0 state=SSLv3 read server certificate B: certificate verify failed"
When run `match appstore` i received this error:

`Ruby version:` ```ruby 2.2.2p95 (2015-04-13 revision 50295) [x86_64-darwin14]```

[code]

[2016-07-21 18:31] nmcdonaldd commented on #5460
Just tried that and it doesn't work for me still unfortunately. Thanks for your input, however!

[2016-07-21 19:21] kpenfound commented on #5386
@TKBurner I have the exact same error as @FrantisekGazo .  I've logged into appleid.apple.com and everything appears to be normal.  I wasn't prompted to update security questions or anything as mentioned in other threads.

As @stulevine also mentioned, adding the account to iTC isn't an option here

[2016-07-21 20:18] aln787 opened #5477 "update_project_team action to read Appfile bundle id value"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
The Fastlane action `update_project_team` doesn't read the Appfile value team_id. I would expect that this action would read this value so you don't have to reset your team id value in `FL_PROJ

[2016-07-22 00:36] masters3d commented on #1071
@nschum I saw that implemented this part of OCLint. https://github.com/oclint/oclint/pull/78
I am having a similar issue than this one.  http://stackoverflow.com/questions/38516125/how-to-tell-oclint-to-load-oclint-file-on-traviscl
Do you have any suggestions?

[2016-07-22 00:53] alexvbush commented on #5473
Same here

[2016-07-22 01:27] vlad-ionita commented on #2004
Yes, I can confirm this is still happening.

[2016-07-22 06:38] duncandee commented on #5475
I had to uninstall ruby and then the issue got fixed.

[2016-07-22 06:38] #5475 closed

[2016-07-22 08:59] krodak opened #5482 "Support for produce with different credentials for DevCenter and iTC"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I'm unable to create application in both DevCenter and iTC when I have different credentials for each of them. It works fine if I use 2 different `produce` commands, with `skipt_devcenter` and

[2016-07-22 09:52] matthewellis commented on #1635
Hey guys, i am going to be gradually adding support for physical devices to each of the tools one by one starting with scan. #5159

Would be interested to know what tools would be better to prioritise if you had any feedback :)

[2016-07-22 10:40] chnbr opened #5483 "snapshot ios10 simulators ?"
Hi,

I am trying to setup iOS 10 simulators for snapshot with Xcode 8beta3. The XCtests are correctly setup, but it always tries to start ios9.3 sims.

How to do that ? The -i 10 option does not work.

fastlane version (run `fastlane -v`): 1.98.0

Thanks
Chris

[2016-07-22 10:49] rompic commented on #1393
We also experience the problem that sometimes an old (invalid) provisioning profile is used (using gym and sigh)

[2016-07-22 11:46] FisherKK opened #5484 "Creating new plugin and adding it crashes my fastline"
Hello,

I would like to create my own plugin for fastlane. I followed this[ guide](https://github.com/fastlane/fastlane/issues/4873).

I believe I have followed everything that was written there. Yet after installing my fresh plugin (without any edits, state - after generation) I receive error while invoking fastlane command in terminal.

Here I post my log from terminal. Everything I have done in

[2016-07-22 12:14] KaiJSchaefer commented on #5386
Same problem here. Any solution?

[2016-07-22 12:18] KrauseFx commented on #5441
It's not possible to get the p12 or the pem file from , as  only stores the `.cer` file. You'll have to store it yourself 👍

[2016-07-22 12:29] tychop commented on #5386
Just curious.... Why is adding the account to an iTC not an option?

[2016-07-22 13:33] TKBurner commented on #5386
@kpenfound @KaiJSchaefer If you aren't using enterprise distribution, why is iTC not an option?

Thanks!

[2016-07-22 13:49] TKBurner commented on #5484
Hi @FisherKK Thanks for reaching out about this. Before you add the local plugin what are your results for `fastlane search_plugins`? What happens when you provide the path `TestEmulatorRun/fastlane-plugin-test_emulator_run`

Thanks!

[2016-07-22 13:53] TKBurner commented on #1393
Hi @rompic Thanks for following up on this. Can you let me know if you still experience this if you set the provisioning profile through an enviromental variable? Thanks!

[2016-07-22 13:54] TKBurner commented on #5483
Hi @chnbr Thanks for reaching out. We don't support ios10 simulators yet. However, I'm going to mark this as a feature request so we can track it and see if anyone from the community wants to implement it. Thanks!

[2016-07-22 13:59] TKBurner commented on #5482
@krodak Thanks for reaching out. You should be able to accomplish this by implementing ENV rather than configuring in the app file. However, your solution of running produce twice is also viable. Thanks!

[2016-07-22 13:59] #5482 closed

[2016-07-22 14:01] TKBurner commented on #5475
@duncandee Awesome! Really glad to hear you got up and running 👍

[2016-07-22 14:03] TKBurner commented on #5473
@talezion Thanks for reaching out. Have you used match successfully on this setup before? Can you use the full issue template and provide your full input and output? Thanks for working with me 👍

[2016-07-22 14:07] TKBurner commented on #5477
@aln787 I see we are working with you on your PR. Closing out this issue for housekeeping! Thanks so much for contributing 💯 💯 💯

[2016-07-22 14:07] #5477 closed

[2016-07-22 14:13] rompic commented on #1393
yes. I guess I especially noticed it on the codesigning of widgets and watchkit:apps
we e.g. use

`cert
	ENV["WATCHKIT_EXTENSIONS_UDID"] = sigh(app_identifier: "#{options[:app_identifier]}.watchkitextension", adhoc:true, force:true)

	ENV["WATCHKIT_APP_UDID"] = sigh(app_identifier: "#{options[:app_identifier]}.watchkitapp", adhoc:true, force:true)

	ENV["PROJECT_UDID"] = sigh(app_identifier: optio

[2016-07-22 14:14] manuyavuz commented on #1752
Hi @KrauseFx,

I think push certificates should also be able to be stored in repo via `match` and shared among the team. This is because Xcode needs to have the push certificate stored in keychain in order to archive  the project with correct push enabled way. Am I wrong?

[2016-07-22 14:18] kd8ssq commented on #5128
@TKBurner I'm just using the plain terminal

[2016-07-22 14:20] kpenfound commented on #5386
@TKBurner
We have mixed accounts, some enterprise, some aren't.  None of them currently have iTC access.

It seems strange to me that issues are being closed in favor of this workaround.  Is this caused by an authentication change on Apple's end that can't be avoided?

[2016-07-22 14:25] TKBurner commented on #1393
@rompic Thanks for following up. I'm going to mark this as a feature request because you'll see some changes coming soon with how we work with Xcode 8. Thanks!

[2016-07-22 14:27] TKBurner commented on #5386
@kpenfound Thanks for following up. Were you able to previously use Sigh without an iTC account attached? As far as I know it's always been a requirement. Thanks!

[2016-07-22 14:29] TKBurner commented on #1671
Hi @matibzurovski! Right now it's not possible to set the locale of the simulator which means that we cant implement this. Let me know if you find different info and we'll mark this as a feature request. Thanks!

[2016-07-22 14:31] TKBurner commented on #5397
@felix-dumit What happens if you use a similar shell command to delete the metadata that exists in the folder first? Thanks!

[2016-07-22 14:35] TKBurner commented on #5431
@mosesoak Thanks for reaching out about this. I want to let the team know too, but first can you write out exact repro steps, if you could include your input and output as well that'd help. I'm going to mark this as help wanted in case anyone wants to take a look in the meantime. Thanks!

[2016-07-22 14:39] TKBurner commented on #5355
@combinatorial Just followed up with you via email to get some more info. Thanks!

@cptdanko If you have a sample project this is reproducible in that'll help a lot!

[2016-07-22 14:52] FisherKK commented on #5484
Hello @TKBurner, thanks for fast response :)

My output of `fastlane sarch_plugins` was correct:

Listing all available fastlane plugins
[code]

In general, at the moment I am writing my own fastlane plugin and I made it work. But what bothers  me, is that since I have allowed fastlane to configure my project (it added `Gemfile`, `Gemfile.lock` and `Pluginfile`) I am unable to run my lanes with ju

[2016-07-22 15:21] TKBurner commented on #1813
@zapjonny Awesome! Really glad to hear you got up and running! Hope you have a great weekend 👍

[2016-07-22 15:21] #1813 closed

[2016-07-22 15:22] TKBurner commented on #5446
Hi @LeBlaaanc Yes! We do platform specific actions before the other before_all. Thanks!

[2016-07-22 15:22] #5446 closed

[2016-07-22 15:23] TKBurner commented on #5236
Hi! Can you give an example of an app name that is affected? Can you add the --verbose flag and share the full input and output? Thanks!

[2016-07-22 15:25] chnbr commented on #5483
Hi,

further info:

I found out that snapshot basically is working with ios 10 simulators, if you set it up like below.

The only bug I found is that the simulator is not terminated  correctly by snapshot after the text is completed. If you terminate the simulator manually, the script goes on and produces the next localization. I guess fixing this is not a  big issue.

Regards
Chris

[2016-07-22 15:26] TKBurner commented on #5408
@MickeyHub Thanks for following up. What happens if you change the name off that account and try again? Let me know how it goes 👍

[2016-07-22 15:28] TKBurner commented on #5124
@shabeepk Thanks for following up. What happens if you unlock your keychain first? It seems like we can't access the keychain. Thanks again! 👍

[2016-07-22 15:29] TKBurner commented on #5259
@idomizrachi Thanks for letting me know! Really glad to hear everyone is up and running. Thanks!

[2016-07-22 15:42] TKBurner commented on #5435
Hi @cleclef Thanks for following up. If you are interested in submitting a PR to add this we'd be happy to work with you. Let me know! 👍

[2016-07-22 15:44] mengxia1966 commented on #5386
@TKBurner  I have a same issue with cert for enterprise account.
I think enterprise account doesn't need an ITC account, so adding ITC is not an option.
I gets following output, when I enter cert --verbose

cert --verbose

+---------------+-----------------------------------------------------+
|                       Summary for cert 1.4.1                        |
+---------------+----------------

[2016-07-22 15:46] TKBurner commented on #4162
Hi @AliSoftware Can you share your full output when you run gym? I need to isolate this to a gym issue or xcodebuild problem. Thanks!

[2016-07-22 15:47] TKBurner commented on #5390
@PatrickHeneise Thanks for following up. Can you share your full input and output? I want to take a look. Thanks!

[2016-07-22 15:48] TKBurner commented on #4907
@tcurdt @hw-credeo Thanks for working through this. Can you let me know where we stand at this point?

@hw-credeo Can you share your full input and output? Thanks!

[2016-07-22 15:51] TKBurner commented on #5457
@martnst Thanks for reaching out. I haven't heard any other reports of this. Can you confirm if you are able to duplicate this if you run deliver again? Thanks so much for reporting this and working with me 👍

[2016-07-22 15:55] kpenfound commented on #5386
@TKBurner Looks like the account I was previously testing with is indeed in iTC, I only ran into this issue when I started testing the process with multiple accounts.

I'm really just trying to pull provisioning profiles through Spaceship, however I get this same error through Spaceship or Sigh.  As @mengxia1966 also asks, why are Portal requests failing if the account isn't linked to iTC?  I don'

[2016-07-22 15:56] TKBurner commented on #5458
Hi @michaelharro Thanks for reaching out about this. I'm going to mark this as a feature request and close it for house keeping purposes. If you are interested in submitting a PR we can work with you!

[2016-07-22 15:57] mosesoak commented on #5431
sure

0. start with an Xcode project that has a valid 3-part version number like 0.0.0
1. put your Xcode project in a subfolder like 'ios'
2. write a fastlane command that performs `increment_build_number` by passing the relative path to the project from the repo root (fastlane seems to automatically cd up out of its directory before targeting which is convenient)
  - as expected, the version numb

[2016-07-22 15:57] TKBurner commented on #5459
Hi @Liquidsoul Thanks for reaching out and filling out an issue. We will happily work with you on this PR. I'm going to close out this issue in favor of the PR. Thanks!

[2016-07-22 15:57] #5459 closed

[2016-07-22 16:00] TKBurner commented on #5339
Hi. We will have Xcode 8 support on general release. I'm going to close this out unless anyone is interested in submitting a PR. Thanks!

[2016-07-22 16:00] #5339 closed

[2016-07-22 16:01] TKBurner commented on #1540
Hi @firecore Thanks for reaching out. If you want to take a crack at it, we'd be interested to see what you can do! It hasn't been prioritized but the team would be interested in a PR. Thanks!

[2016-07-22 16:02] #1540 closed

[2016-07-22 16:04] oyvkva commented on #5355
I have submitted 5 projects over the last 2 weeks, all have gotten the same error. I can upload a few languages, then I have to move them over to a different folder and "deliver" again so it continues.

Some for iPad only, some for all devices. If you want more projects to look at I can send over a few as well, or anything else I can try to help fixing the issue.

[2016-07-22 16:05] TKBurner commented on #4983
Hi @JMSerruya Thanks for following up. What if you set the wait_processing_interval flag to 90?

[2016-07-22 16:22] TKBurner commented on #5125
@chebur Thanks for following up on this. Are you using Xcode 8? Is the binary in your iTC account just not submitted? Thanks!

[2016-07-22 16:22] TKBurner commented on #5453
@akudryashov Awesome! So glad to hear you got up and running. Hope you have a wonderful day! 👍

[2016-07-22 16:23] TKBurner commented on #4150
@edwardmp Thanks for following up on this. Can you share your full input and output? It'll help with looking into this. Hope you have a great day!

[2016-07-22 16:25] TKBurner commented on #329
@cytryn Are you running the command from your Fastlane folder or your project Folder? Thanks!

[2016-07-22 16:25] michaelharro commented on #5458
I would be open to submitting a PR. However, ruby is not my primary language and this could impact a lot of actions. I'm not sure I feel comfortable tackling it myself. I did submit a PR to xcov to fix the problem in that action and what I discovered in the process was that Ruby requires unescaped paths and `sh` requires escaped paths so what should happen is that all actions should take unescaped

[2016-07-22 16:25] chebur commented on #5125
I'm using xcode 7 to make archive and upload a build. But I have xcode 8b3 installed also. But xcode-select still points to xcode7.

Binary archived by the xcode7 was successfully uploaded to iTC and is ready for sale now.

[2016-07-22 16:26] TKBurner commented on #5123
@AcaiBowl Awesome! Thanks for letting me know. Hope you have a great weekend 👍

[2016-07-22 16:26] #5123 closed

[2016-07-22 16:29] TKBurner commented on #1655
@rchatham Thanks for sharing! I'll make sure we test around that, it seems to make a lot of sense. Thanks!

[2016-07-22 16:31] TKBurner commented on #742
Hi @smaljaar This is a Jenkins config issue. I think you will need to set up your Jenkins shell to to know the path to xcpretty. Thanks!

[2016-07-22 16:34] TKBurner commented on #5467
Hi @macbaszii Are you able to upload the same ipa to iTunes in other ways without issues? What happens if you pass the ipa directly as a parameter? Thanks!

[2016-07-22 16:35] TKBurner commented on #5468
HI @donnywals! Thanks for letting me know. This isn't a problem, it should just fall back on manual setup. Are you running into any issues with manual setup? Thanks!

[2016-07-22 16:37] TKBurner commented on #5470
Hi @jcampbell05 Thanks for letting us know. Are you interested in submitting a PR?

[2016-07-22 16:38] TKBurner commented on #5464
Hi @aln787! Thanks for pointing this out. Since there is already a PR. I'm going to close this out for now. Hope you have a wonderful weekend 👍

[2016-07-22 16:38] #5464 closed

[2016-07-22 16:39] TKBurner commented on #2081
@PaulWagener Awesome! We'll work with you there. I'm going to close this out for now in favor of your PR.

[2016-07-22 16:39] #2081 closed

[2016-07-22 16:42] TKBurner commented on #5372
Hi @shivakrishnach31 Thanks for following up. Can you share your full input and output? Which lane are you running? Thanks! 👍

[2016-07-22 16:43] TKBurner commented on #5472
Hi @kennygunie Thanks for reaching out. You should be using ENV to get this working. Search our repo for more info! Hope you have a wonderful weekend 👍

[2016-07-22 16:43] #5472 closed

[2016-07-22 16:44] TKBurner commented on #5381
Hi @cytryn and @zkrige Thanks for following up on this. Did you have to downgrade Fastlane too or just the gems? It seems like there is a dependency issue in with json 2+ (the plist gem depends on this). Thanks!

[2016-07-22 16:48] TKBurner commented on #5474
Hi @atomicus Can you let me know if you set `wait_processing_interval: 1` also fails to skip the processing time? Thanks!

[2016-07-22 16:48] JMSerruya commented on #4983
@TKBurner then it works, but the build doesn't return

[16:24:51][Step 2/3] INFO [2016-07-22 12:24:51.83]: iTunes Transporter successfully finished its job
[16:24:51][Step 2/3] DEBUG [2016-07-22 12:24:51.83]: [Transporter]: DBG-X: Returning 0
[16:24:51][Step 2/3] INFO [2016-07-22 12:24:51.92]: ------------------------------------------------------------------------------------------------------
[1

[2016-07-22 16:49] TKBurner commented on #5476
Hi @douglasalexandre Did you run `match development` first on this project? Thanks!

[2016-07-22 16:49] TKBurner commented on #5460
HI @nmcdonaldd Can you share your matchfile? Thanks!

[2016-07-22 16:51] TKBurner commented on #5128
Hi @kd8ssq! What happens if you have Xcode closed when you run snapshot? Thanks!

[2016-07-22 16:53] douglasalexandre commented on #5476
@TKBurner No. I run first `match appstore`. Not work if run this first command?

[2016-07-22 16:54] TKBurner commented on #5484
Hi @FisherKK Thanks for following up. Can you run ruby -v? Also are you using rvm? Thanks!

[2016-07-22 16:54] TKBurner commented on #5483
@chnbr Thanks for sharing that'll help in tracking this down. Hopefully someone from the community is interested in submitting a PR. Thanks!

[2016-07-22 16:58] TKBurner commented on #5386
@kpenfound Thanks for following up. Can you share the output from spaceship? Because we are using the  APIs provided by Apple some of the access control is beyond our control. Thanks for working with us.

[2016-07-22 17:19] PatrickHeneise commented on #5390
I think it's resolved by now. Will catch up with the team and then hopefully write everything down for a better readme

[2016-07-22 17:20] TKBurner commented on #5431
@mosesoak Thanks for sharing! I've reached out to the team. We will see what we can do to improve this. Thanks!

[2016-07-22 17:21] TKBurner commented on #5390
@PatrickHeneise Awesome! Thanks for working with us 👍

[2016-07-22 17:21] #5390 closed

[2016-07-22 17:22] TKBurner commented on #5458
Hi @michaelharro Thanks for following up. I'll mark this as help wanted so someone can step in here. Thanks!

[2016-07-22 17:24] TKBurner commented on #5125
@chebur Thanks for following up. it looks like you needed to bump the build number for us to upload. Let me know if it persists then. Thanks!

[2016-07-22 17:25] TKBurner commented on #4983
@JMSerruya Thanks for following up. Does the build appear in iTC? Thanks!

[2016-07-22 17:25] TKBurner commented on #5476
@douglasalexandre You need to run match development first. Let me know how it goes if you do that. Thanks!

[2016-07-22 17:37] douglasalexandre commented on #5476
@TKBurner the same error happens. :/

[2016-07-22 17:42] kpenfound commented on #5386
@TKBurner My assumption was that the developer portal and iTC had independent authentications since they are separate services.  The workflow in spaceship/bin/spaceship for authentication reinforced that assumption.

The output from Spacehip is:

`/Library/Ruby/Gems/2.0.0/gems/spaceship-0.28.0/lib/spaceship/client.rb:434:in `parse_response': {"responseId"=>"a2fe6379-428e-4de4-babb-f94ca8a32c56", "

[2016-07-22 17:46] bvirlet opened #5485 "Copy app data to .app before taking screenshots with Snapshot"
Hi @KrauseFx,

I'm trying to setup some app data before doing my screenshots. In some other Issues, I noticed that you suggested using `setup_for_device_change` to copy the files in the .app, but this was removed in Snapshot 1.0. What is the recommended workaround?

Thanks!

[2016-07-22 18:08] rohitkowadkar commented on #5123
Thank You @AcaiBowl @TKBurner @nolanwilson thanks for following up the issue and letting me know!

[2016-07-22 18:10] akudryashov commented on #5453
Yeah, that's it) May be documentation about deliver should be links to pilot, because there is some misunderstanding... Actually feature called deliver and it's can't deliver only binary build... And pilot with testflight icon knocked me from right way. :) And I saw that --help for all components isn't have fully documentation - like something not done yet.. Sorry for my criticism...but it's not s

[2016-07-22 18:22] akudryashov opened #5486 "pem from terminal doesn't work"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

So, today I needed to create pem certification with p12 and I dealt with 2 problems.
1. parameter output_path doesn't works. (Also if I already have the directory)
2. files aren't created in w

[2016-07-22 19:27] dusek commented on #5050
I think I misunderstood how ERN works (I dealt with it for the first time). Now that I uploaded the PDF to the iTunes Connect (App > Features > Encryption > iOS Documentation), after it got approved and I put the relevant key value in my Info.plist, I am no longer asked for it when submitting a new external beta. So I think there is nothing `produce` could do during each submission.

Also getting

[2016-07-22 20:10] smaljaar commented on #742
I fixed this a suggested in this thread, in my jenkins job I now successfully run
xcodebuild [args] | /usr/local/bin/xcpretty
instead of
xcodebuild [args] | xcpretty

[2016-07-22 23:32] AliSoftware commented on #4162
Unfortunately I won't be able to share that until 2 weeks, as I just started my vacation and the build log was on our CI at work which I don't have access to from where I'm at! 🏝

Don't hesitate to poke me again in two weeks to remind me to share it once I'll be back to work!

[2016-07-23 01:35] asgoel commented on #5028
any updates on this one? actually got an email from iTunes Connect on our last upload saying that we shouldn't be uploading bitcode, which confused me because I also have `include_bitcode=False`

[2016-07-23 06:54] FrantisekGazo commented on #5386
@TKBurner I have account without iTC and I was using it with fastlane (sigh included) without any problem for couple weeks, but when I tried to build the same thing this week it didn't work.

[2016-07-23 11:25] PitchLabsAsh commented on #5376
My use case is the same in that I want to use this number as a build number in the app so I can display the number inside the app and identify exactly which commit it was built from.
I also tag git with a label based that includes this number.

I don’t like using other git labelling methods as they all result in a new commit rather than  just a tag, using the git number as a tag means I don’t crea

[2016-07-23 17:10] douglasalexandre commented on #5476
Hi @TKBurner i solved problem! :)

First,
 i run this commands:
```breu update && breu upgrade openssl```
```rim osx-ssl-certs update all```
```rum reinstala ruby-2.2.3 --with-openssl-dir=/usr/local```

After it, i reinstalei `fastlane`, `match` and `cert`. Before of all process, the `Match` was licked with path of my osx system with `ruby version 2.0.0` and not with new version of `ruby` which wa

[2016-07-23 17:11] #5476 closed

[2016-07-23 18:49] macbaszii commented on #5467
@TKBurner Sometimes I get the same result. I can eventually release the app manually via Application Loader.

But, with Fastlane, both CLI and CircleCI. I always get the error.

[2016-07-23 22:11] none2011 opened #5487 "Any tools for Android similar to the Produce of Fastlane?"
Hello, Thanks for your team's great work.
Any tools for Android similar to the Produce of Fastlane, which can create apps through command line ?

[2016-07-24 07:27] krodak commented on #5482
@TKBurner could you point me to the right ENV variables? I can't use `PRODUCE_USERNAME` for this.

[2016-07-24 08:15] ofrioster commented on #5236
I'm also using hebrew and is receive and error.
An app example can be: "דוגמה לשם "
Do you have solution?

[2016-07-24 08:32] wimbledon commented on #1655
I've the same problem. In Xcode 7.3 (iOS 9.3) the swift UI tests pass just fine. However, when I use snapshot, I get:
![image](https://cloud.githubusercontent.com/assets/3291853/17082755/10c0b886-5157-11e6-9e13-0bc5227bea14.png)

Also, if I don't reset my simulator, I get following error from Xcode:
![image](https://cloud.githubusercontent.com/assets/3291853/17082783/a42ed724-5157-11e6-971a-5745a7

[2016-07-24 18:05] #3735 closed

[2016-07-24 18:44] #1525 closed

[2016-07-24 22:22] biesbjerg opened #5489 "Update to latest version of deliver"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [ ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Trying to use deliver to upload screenshots. It doesn't detect da-DK, sv-SE and other locales. There's a ticket for it here: https://github.com/fastlane-old/deliver/issues/317

It should be fix

[2016-07-24 23:57] ram0287 commented on #5379
Any Update on this ?

[2016-07-25 08:07] hw-credeo commented on #4907
@TKBurner I have been able to solve the issue by manually nuking the profiles, i.e. deleting the profiles in the repo and in the dev portal. I do not want to nuke, because this will impact all other teams / projects. Is there any other way to do this? The force option did not accomplish anything.

Frankly I do not understand when I have to regenerate the profiles and how to do this efficiently. If

[2016-07-25 08:23] FisherKK commented on #5484
Hello, sorry for delay.

[code]

[code]

[code]

[2016-07-25 09:54] #4471 closed

[2016-07-25 10:15] onmyway133 commented on #5386
I have problem with `sigh` too, fastlane 1.98.0

[code]

[2016-07-25 10:21] tompesman commented on #2081
Link to the PR: fastlane/fastlane/pull/5471

[2016-07-25 12:37] ardee19 commented on #5355
@combinatorial or for others who ended up in here, like myself, and might have the same issue as mine, make sure your app icon (this is the case for me) or maybe your screenshots doesn't have any transparencies and/or alphas. PNGs retain them and iTunes Connect does not allow it.

I got this error because my app icon has some transparencies and/or alphas. I had to convert them to .JPG (this remove

[2016-07-25 13:01] mark-anders commented on #4907
A few more data points:

TL;DR - I think it has to do with `use_legacy_build_api: true` rather than a lack of external testers.

I just began using fastlane yesterday and ran into the same thing and spent hours doing builds to no avail.  Like the others, I was using `gym(use_legacy_build_api: true)` based on  getting some error message early on that told me to do so.

While the fastlane error I re

[2016-07-25 13:16] tcurdt commented on #4907
@mark-anders glad it works for you - but see https://github.com/fastlane/fastlane/issues/5066#issuecomment-225151732

[2016-07-25 13:29] tspecht opened #5490 "Scan hanging when trying to fetch workspaces"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

I'm trying to run my tests using scan. However the command is stuck for more than 15 minutes (reproducable) while trying to fetch the schemes and targets of my workspace through `xcodebuild`. Wh

[2016-07-25 13:44] #4673 closed

[2016-07-25 14:11] asfalcone commented on #5487
Hi @none2011. Thanks for the question. Currently there is no API to create apps in Google Play. They require an uploaded APK to build the foundation of the project. I'm going to close this for now, but if Google makes such an API available we'd love to consider a tool like this 👍

[2016-07-25 14:11] #5487 closed

[2016-07-25 16:09] combinatorial commented on #5355
@ardee19 thanks for the info, but this issue is about something different. If the format of the files were the problem then re-running fastlane would not succeed.

[2016-07-25 17:26] albertoms commented on #4983
Hi,

using: ```pilot 1.9.2```

I'm facing the same issue using Pilot with Jenkins. This is my command:
```$PILOT_CLI upload --username=$TESTFLIGHT_USER --ipa="$IPA" --distribute_external false --skip_waiting_for_build_processing true --wait_processing_interval 90 --verbose```

I added the ```--wait_processing_interval 90``` option after reading this issue but didn't work for me.

This is the full

[2016-07-25 17:28] bolom opened #5493 "[question] how improve the speed to upload the screenshoot?"
Hi Guys,

i am trying to implement a wep app, who will allow the user to upload screenshoots. When i am trying to upload 300 screenshoots. I have got several issue

[code]

or when it's working, the duration is around 1 hour. When i am trying to upload the same number though ITMs is only 5mn

If you can give me indication to improve the speed and avoid the iTunes connect error. It will be great.

[2016-07-25 17:33] JMSerruya commented on #4983
@TKBurner yes it appears

[2016-07-25 17:50] beloso opened #5495 "Unable to run scan"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Can not run `scan`

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Environment

fastlane version (run `fastlane -v`):
`fastlane 1.98.0`

D

[2016-07-25 18:28] bootstraponline commented on #5495
All our iOS builds are failing with this... 😭

It'd be nice to improve the test suite so entirely broken features don't make it into a release.

[2016-07-25 18:38] pj4533 commented on #5495
I was seeing this and it was fine on another machine,  then i updated fastlane_core to 0.48.2, and reproduced it.  So its something in there.

[2016-07-25 18:40] pj4533 commented on #5495
Prob something here?  https://github.com/fastlane/fastlane/commit/86234456703d33bc5ff74618c2bdac40b401271f

[2016-07-25 19:20] huyouare commented on #5285
Having this issue currently, but happens after a few locales are uploaded.

[2016-07-25 19:27] riots100 commented on #5495
Likewise, today we are getting "Could not find option for key :xcodebuild_list_silent" error.

[2016-07-25 19:50] adc-amatosov commented on #5495
I am getting this error for all iOS jobs on Jenkins since 10:30 today...
Is there an easy workaround for the issue?

[2016-07-25 19:51] mfurtak commented on #5495
Hi all - this is on me, sorry!

A hotfix is in the pipeline and will be released shortly.

[2016-07-25 19:56] mfurtak commented on #5495
OK - [`fastlane_core` 0.48.3](https://github.com/fastlane/fastlane/releases/tag/fastlane_core%2F0.48.3) is out with a hotfix.

`gem update fastlane_core` should get you the update.

Apologies again for this regression - please let me know if you're back in business. 👍

[2016-07-25 20:02] bootstraponline commented on #5495
Thanks for the hotfix! I confirm this resolved the problem.

[2016-07-25 20:03] riots100 commented on #5495
this has seemed to fix our issue.

Thx!

[2016-07-25 20:03] adc-amatosov commented on #5495
works for me!! Thanks for quick reaction!

[2016-07-25 20:04] #5495 closed

[2016-07-25 20:10] sondremare opened #5498 "Gym: Could not find option for key :xcodebuild_list_silent"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Using gym to build iOS app on Bitrise CI.
Fails with "Could not find option for key :xcodebuild_list_silent"
Running Xcode 7.3.1 on OS X 10.11.4.
The only thing that changed between the builds

[2016-07-25 20:17] viktorbenei commented on #5498
Wow, that was quick 😂

[2016-07-25 20:17] jacobvanorder commented on #5498
6 minutes? Seems like someone is slacking. ;)

[2016-07-25 20:49] bfcrampton opened #5499 "Carthage update particular dependency / dependencies"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
There is no way to `carthage update` a particular dependency/dependencies through fastlane. Currently, you can only specify a command and other parameters as specified [here](https://github.com

[2016-07-25 21:17] mlostekk opened #5501 "Ruby script execution fail (incompatible library version)"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
I am trying to execute a ruby script from within my fastfile with the line
`sh("ruby ../Beatsnap/Resources/Licenses/acknowledgementGenerator.rb Beatsnap/Settings.bundle/ Beatsnap/Resources/Lice

[2016-07-25 22:07] mojtabacazi commented on #5027
Any update on this?

[2016-07-25 23:08] tcurdt opened #5502 "[snapshot] summary report shows "4.7-Inch" instead of "iPhone6s""
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Running the `snapshot` from `fastlane` generates the report just fine. It does not show the device name `iPhones6s` but `4.7-Inch` instead though. Is there a way to change that?

Also: Is there

[2016-07-25 23:37] bfcrampton opened #5503 "Carthage Platform Case Insensitive"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Currently the `platform` key passed into the `Carthage` action is case sensitive. I believe this does not make sense as the carthage shell command which it constructs is case insensitive. For e

[2016-07-26 00:14] arunks commented on #4059
Any updates on this? I am also seeing this happen once we upgraded to Xcode 7.3.1

[2016-07-26 00:24] #5441 closed

[2016-07-26 00:26] cytryn commented on #329
@TKBurner I usually run from my project folder

[2016-07-26 00:26] cytryn commented on #5381
@TKBurner I just downgraded the json gem. Fastlane is up to date.

[2016-07-26 07:24] elianfish commented on #5386
I have problem with pem too.

Looking for related GitHub issues on fastlane/fastlane...

➡️  sigh fails with Your session has expired.  Please log in.
   https://github.com/fastlane/fastlane/issues/5386 [open] 34 💬
   21 hours ago

➡️  Sigh: authentication.failed Your session has expired.  Please log in.
   https://github.com/fastlane/fastlane/issues/4981 [closed] 3 💬
   03 Jun 2016

➡️  sigh: aut

[2016-07-26 07:24] #1422 closed

[2016-07-26 08:30] beloso commented on #5495
Back to normal

[2016-07-26 09:10] AmityTek opened #5505 "[Error - Snapshot] Tests faild without log .."
### New Issue Checklist

- [Y] Updated fastlane to the latest version
- [Y] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

Snapshot exit tests whitout any explaination, i don't know why ! i'm just launching snapshot without ar

[2016-07-26 09:48] elianfish commented on #5384
Strange why enterprise accounts to be added to ITC

[2016-07-26 09:48] jcampbell05 commented on #5375
I may be getting a similar error to this in Travis CI - we also use explicit open simulators. I can't see what happening UI-wise though so can't see what is happening but the tests fail with an unexplained `Code: 65`

[2016-07-26 11:05] mtzaquia opened #5506 "[Pilot] Missing iPad Pro icon while trying to upload to iTunesConnect."
### Issue Description

During TestFlight upload using Pilot, iTunes Connect would complain about missing iPad Pro icons, even though they were set and correctly configured on the repo.

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Environment

Jenkins CI
fastlane version: 1.94.1

[2016-07-26 11:06] mtzaquia commented on #5506
As figured, the problem was being caused due to the Xcode version on the CI machine (7.1.1), which is incompatible with the iPad Pro. That said, the files existed, but were being ignored as xcodebuild didn't know how to handle them, hence the problem while uploading.

[2016-07-26 11:06] #5506 closed

[2016-07-26 11:12] zealousys2016 opened #5507 "ApplicationNotFound: No application was found for the given package name"
I followed the steps which are provided by fastlane for android.

but it shows error when i run below command.

supply init --json_key /Users/zealous/AndroidStudioProjects/MyApplication/Unknown.json

Error :

Looking for related GitHub issues on fastlane/fastlane...

➡️  Supply failed init option with error: applicationNotFound
   https://github.com/fastlane/fastlane/issues/3628 [closed] 5 💬
   10

[2016-07-26 12:21] talezion commented on #5473
@TKBurner Thank you very much for your help, this is the first time I am running match on this mac. Could you please advise how I would produce the full issue template?

Thanks

[2016-07-26 14:07] ilsinszkibal commented on #4059
Our CI environment suffers from the same, since I upgraded it to Xcode 7.3.1

To be more exact, something strange is happening:
We are using rvm with ruby 2.2.3. It seems that everything is fine with fastlane version 1.81.0, but this problem occurs with fastlane version 1.98.0
I also thougth that maybe rvm/rbenv is causing this somehow, since @ldiqual said, that they are using rbenv.

[2016-07-26 14:36] chandansingh5 opened #5508 "Error "Could not find option 'screenshots path' in the list of available options" with command fastlane screenshot"
I have creating a new Snapfile in fastlane foder with command  :-
     $ snapshot init
When i run this command :-
      $fastlane screenshot

I am getting below error :

[19:50:23]: Your Snapfile has had smart quotes sanitised. To avoid issues in the future, you should not use TextEdit for editing it. If you are not using TextEdit, you should turn off smart quotes in your editor of choice.
[19:50:

[2016-07-26 15:54] #4714 closed

[2016-07-26 17:05] stulevine commented on #5386
has anyone found a solution for this for enterprise customers?  My CI environment is dead in the water and I'd really like to put it back into action.  unfortunately this is a huge blocker.  I've had to resort to manual archiving and uploading to Crashlytics.

[2016-07-26 17:23] argie9999 commented on #5386
+1. I'm currently looking through the other issues on this topic and nothing has worked for me. I have an Enterprise account. The only user is also a user in iTC. I can log in manually. I check the 'system status' page and it loads but doesn't show anything (just a blank table with no labels or values, so not sure what I should expect to see...).

[2016-07-26 17:48] fcy commented on #4059
FWIW we don't use rvm/rbenv, we use the system Ruby. And we keep OS X up to date.

[2016-07-26 17:53] stulevine commented on #5384
@TechGuyVN well, thank you for that.  Worked as expected.  Even though IMHO, it is a bit strange to have to do that.  Regardless, great solution!  I have my CI environment with Slack integration back up (and Hubot for triggering builds via slack)

[2016-07-26 19:15] izqui commented on #5367
Issue is still present in beta 3.

[2016-07-26 19:54] guidomb opened #5510 "Add ignore option to commit_version_bump action"
It would be nice to have a ignore option in the `commit_version_bump` action to be able to ignore plist file from being committed.

I've already implemented this [here](https://github.com/syrmo/fastlane/blob/master/fastlane/lib/fastlane/actions/commit_version_bump.rb#L58) for our own project.

The reason is that we used different Info.plist files that are autogenerated depending on the build schem

[2016-07-26 20:49] lfarah commented on #2772
Hey, I'd like to third this feature request since some users here in Brazil still use iPhone 4

[2016-07-26 21:11] inturbidus commented on #5386
I have an enterprise account, and what worked for me is taking the email address associated with my enterprise account and adding it to iTunes under another team with ITunes access.  Obviously enterprise accounts don't need access, so you have to add the email address as a user under another team.

[2016-07-26 22:50] klundberg commented on #4856
I've done a bit more digging, and this is possible using xcargs:

Command line: `scan -x "analyze"`
Fastfile: `scan(xcargs: "analyze")`

this will properly add `analyze` onto the `build` and `test` xcodebuild actions. It might be nice to have this as a first class option though.

[2016-07-26 23:30] edwardmp commented on #4150
@TKBurner Hi Todd. I noticed that after manually uploading from the organizer in Xcode, iTunes connect was giving back strange errors. After a few retries it was fixed, then Fastlane also worked again. So this must be iTunes Connect related, not Fastlane.

[2016-07-26 23:48] ffittschen commented on #4866
@vpolouchkine Any news on this?

[2016-07-27 09:28] ConfusedVorlon opened #5512 "Deliver should sanity check screenshot/metadata language selections"
### New Issue Checklist

- [Y ] Updated fastlane to the latest version
- [ Y] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

if there is a mismatch between the language folders in your screenshot directory, and your metadata directory, then deliver fails when it tries to upload screenshots for the problem director

[2016-07-27 09:40] ilsinszkibal commented on #4059
To be more specific we get stuck on this:
xcodebuild -list -workspace ....

[2016-07-27 10:39] dragvs commented on #4059
@ilsinszkibal Was it just the last message in your log or you performed some debugging? I found out that the real command in my case was `xcrun xcodebuild -showBuildSettings ...` despite that last message was `xcodebuild -list -workspace ....` (lack of logging).

[2016-07-27 10:45] ilsinszkibal commented on #4059
Oh, I see :)

It was just the last message on the console log

[2016-07-27 13:04] FisherKK opened #5513 "[fastlane-plugin] proposal of android integration-tests emulator run plugin update"
I would like to submit plugin for Fastlane, dedicated for Android platform.

Description:

Plugin git:

https://github.com/AzimoLabs/fastlane-plugin-automated-test-emulator-run

I am aware that such plugin already existed within fastlane repo and was provided by joshrlesch:

https://github.com/fastlane/fastlane/compare/master...joshrlesch:fastlane-instrument-tests

I used joshrlesch plugin as base

[2016-07-27 14:06] KrauseFx commented on #5506
Perfect, thanks for sharing the problem and its solution 👍

[2016-07-27 14:49] cescoferraro commented on #5507
Same here

[2016-07-27 15:19] #5309 closed

[2016-07-27 16:16] mfurtak commented on #5309
[`spaceship` 0.29.0](https://github.com/fastlane/fastlane/releases/tag/spaceship%2F0.29.0) has been released. :rocket: `pilot` release coming soon!

[2016-07-27 17:25] asfalcone commented on #5309
[pilot 1.10.0](https://github.com/fastlane/fastlane/releases/tag/pilot/1.10.0) has been released. Please let us know if you have any further issues 👍

[2016-07-27 17:25] asfalcone commented on #5394
[pilot 1.10.0](https://github.com/fastlane/fastlane/releases/tag/pilot/1.10.0) has been released. Please let us know if you have any further issues 👍

[2016-07-27 17:36] #5503 closed

[2016-07-27 17:51] #5499 closed

[2016-07-27 17:53] DouglasHennrich opened #5521 "[Match] Distribution Certificate Adhoc != Appstore"
When I run `match adhoc` it tried to create a new distribution certificate, but I already have one distribution certificate on that git repo, but I create it with `match appstore`... since it's the same certificate(distribution) it shouldn't create a new one... on this case, I will have to have 2 distribution cert on my keychain and on my apple developer portal

[2016-07-27 19:16] bfcrampton opened #5526 "[Carthage] Pass in specific toolchain option"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
It would be nice to be able to pass in a custom toolchain to a carthage command. Especially for using swift 2.3 with Xcode 8 beta (e.g. `carthage bootstrap --toolchain com.apple.dt.toolchain.Swi

[2016-07-27 19:20] mfurtak commented on #5375
Hi folks, am I understanding correctly that this is failing because the Xcode 8 beta simulator is in the mix?

[2016-07-27 19:31] lkraider commented on #5386
Same here, `sigh` was working fine with a user without iTC access before, updated today and now it fails to authenticate.

[2016-07-27 19:51] ffittschen commented on #5375
Yes, but I don't think this is limited to Xcode 8 beta. This will happen whenever there are multiple versions of Xcode (and therefore Simulator) are installed, because `scan` / `fastlane_core` uses `xcrun` to gather the available simulators and I assume the `xcrun` version is determined by the currently selected command line tools. I don't know how the `open -a` command decides which application i

[2016-07-27 19:51] asfalcone commented on #5486
@akudryashov When calling `pem` from the command line, you don't need to use the `key:value` syntax.

Can you try running `pem --output_path "fastlane/pem/" --generate_p12 true`?  and let me know how that works? 👍

[2016-07-27 20:03] asfalcone commented on #5508
@chandansingh5 Can you please provide your Fastfile so we can see how you're calling `snapshot`? The error indicates that you're trying to pass it a `screenshots_path` param, but that isn't valid for `snapshot`.

[2016-07-27 20:13] #5526 closed

[2016-07-27 20:16] TKBurner commented on #5375
Hi @ffittschen Thanks for following up. Because this is an edge case (you will only have multiple version of Xcode in the case of a beta version existing) we need to mark this as a feature request. I'm also marking this help wanted because I'd love to see a community contribution.

Thanks!

[2016-07-27 20:17] carrchr commented on #5183
I'm having a similar issue where an updated adhoc profile is not getting packaged into the `.ipa` file.
In the `xcodebuild` log, I see the Code Sign message where it is using the correct (updated) provisioning profile. But the .ipa generated has the previous one (`embedded.mobileprovision` in the .ipa Payload folder).
I use this terminal command to examine the UUID of the `.mobileprovision` files

[2016-07-27 20:18] #5359 closed

[2016-07-27 20:18] asfalcone commented on #5359
@Chlup @foulkesjohn I merged the PR that should fix this. I'll update when we do a `scan` release 🚀

[2016-07-27 20:28] TKBurner commented on #5386
Hi all! I've circled back with the core team. Also marking this help wanted in case anyone from the community wants to look into it. Hope you have a great day!

[2016-07-27 20:29] #5394 closed

[2016-07-27 20:30] #4744 closed

[2016-07-27 20:30] kpenfound commented on #5386
Thanks @TKBurner

[2016-07-27 20:34] TKBurner commented on #2081
Thanks @tompesman we'll work with you there 👍

[2016-07-27 20:36] asfalcone commented on #5359
[scan 0.9.0](https://github.com/fastlane/fastlane/releases/tag/scan/0.9.0) has been released 🦄

[2016-07-27 20:40] TKBurner commented on #5521
Hi @DouglasHennrich Thanks for reaching out. This is expected behavior. Is there a reason you need to run match adhoc specifically if it's the same as your other cert? Thanks!

[2016-07-27 20:40] #5521 closed

[2016-07-27 20:43] TKBurner commented on #5507
Hi @zealousys2016 and @cescoferraro! Can you share the full input and output when you run this command? I definitely want to take a look. Hope you have a great day 👍

[2016-07-27 20:47] TKBurner commented on #5513
Hi @FisherKK thanks for reaching out. You can publish your plugin on your own using the steps here, https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Plugins.md#plugins. You should maybe reach out to @joshrlesch or at least make sure to credit them in your gem.

Hope you have a great day! 👍

[2016-07-27 20:47] #5513 closed

[2016-07-27 20:48] TKBurner commented on #4059
Hi @ilsinszkibal and @dragvs can you share your full input and output? I want to take a look into this. Hope you have a great day! 👍

[2016-07-27 20:51] TKBurner commented on #5512
@ConfusedVorlon Thanks for reaching out about this. Are you interested in submitting a PR to correct this? The team would love it! Thanks 👍

[2016-07-27 20:52] mfurtak commented on #5128
Hi @mr-brandt - I just gave your sample project a try. I was able to reproduce the simulator hang by just running `snapshot` in the project directory.

However, when I ran `FASTLANE_EXPLICIT_OPEN_SIMULATOR=1 snapshot`, I found that the run completed successfully.

I noticed that I don't wind up with the "Failed to locate a valid instance of CoreSimulatorService" line during my run, which I think i

[2016-07-27 20:53] TKBurner commented on #4150
@edwardmp Awesome! Really glad to hear you got up and running. A lot of these issues seem related to Apple updating their security for account login. I'm going to close this out until we get an update that someone is still affected. Thanks!

[2016-07-27 20:53] #4150 closed

[2016-07-27 20:56] TKBurner commented on #4856
@klundberg Thanks for letting me know! Any chance you are interested in submitting a PR? We'd love to work with you on this. Thanks!

[2016-07-27 20:57] TKBurner commented on #2772
@lfarah Thanks for following up on this. I've marked it as help wanted in case anyone from the community wants to submit a PR. Thanks!

[2016-07-27 20:58] TKBurner commented on #5510
Hi @guidomb Thanks for the request! You would need to put this in your .gitignore since we use the same git repo as your project. Let me know if you have any questions. Thanks!

[2016-07-27 21:00] TKBurner commented on #5367
Hi @izqui @maxdisney! Thanks for following up on this. We aren't going to dedicate internal resources to Xcode 8 until it's close to the general release. However, we'd love to see PRs starting now. I'm marking this as help wanted in case anyone from the community wants to work on a PR for Xcode 8 support. Thanks!

[2016-07-27 21:02] joshrlesch commented on #5513
@FisherKK Im glad my action is of use to people. I was away for awhile on paternity leave and vacation so didn't get the plugin created after my original pr was closed https://github.com/fastlane/fastlane/pull/4315#issuecomment-235558774
You can see I was working to get the current PR transfer back to me. I also have some changes/improvements to make with it. Maybe instead of creating yet another

[2016-07-27 21:05] TKBurner commented on #5513
@FisherKK @joshrlesch Really glad you two were able to connect!

[2016-07-27 21:08] ffittschen commented on #5375
@TKBurner I created a PR which should solve the issue: #5530 😉
@jcampbell05 You could try if my PR solves your issue on travis as well

[2016-07-27 21:09] TKBurner commented on #5384
Hi all! The team are going to look into this, it seems to be a new cross tool issue. Thanks for your reports and we will let you know if we need more info!

[2016-07-27 21:11] mfurtak commented on #5375
I see that we wound up in the same place @ffittschen 👍  (#5529 & #5530) :smile:

I'll be getting some feedback on this approach from https://github.com/fastlane/fastlane/issues/5128 as well, and then I think we can get the fix in.

[2016-07-27 21:13] TKBurner commented on #5473
Hi @talezion Thanks for following up. Copy/paste the template here, https://github.com/fastlane/fastlane/issues/new

Thanks!

[2016-07-27 21:13] ffittschen commented on #5375
@mfurtak Yes, I just saw the reference popping up 😄

[2016-07-27 21:17] guidomb commented on #5510
What do you mean by this? The autogenerated plists in my project are in `.gitignore` and the problem is that because they are ignored when we run `commit_version_bump` we get an error because that action performs a git add of those specific files. Adding an ignored file to the git stage fails unless you execute the git add command with the force flag.

[2016-07-27 21:17] guidomb commented on #5510
Should I make a PR with the proposed changes?

[2016-07-27 21:21] felix-dumit commented on #5397
@TKBurner I still get the same results

[2016-07-27 21:22] ffittschen commented on #5375
@mfurtak I just realized, that those are the "same" changes, but in different files. Your change is done for `snapshot` mine for `scan`.
I'll adopt my PR to use the `FastlaneCore::Helper` as well. Should I add the second level of feature switching too?

[2016-07-27 21:24] TKBurner commented on #5505
@AmityTek Thanks for reaching out. It looks like you need to link your frameworks to your test target. Let me know how it goes! Thanks

[2016-07-27 21:24] klundberg commented on #4856
I might be able to work on this over the next week or two, but I can't make any guarantees. I'll try, but someone else who's interested can certainly try and will probably beat me :)

[2016-07-27 21:26] TKBurner commented on #5485
Hi @bvirlet Thanks for reaching out. You can always use shell commands with the `sh` action.

What specifically are you trying to setup, your app or the simulator?

Thanks!

[2016-07-27 21:27] TKBurner commented on #5453
@akudryashov Thanks for the feedback! We'll review the docs and improve this. Thanks!

[2016-07-27 21:30] TKBurner commented on #5050
@dusek Thanks for following up. That makes a lot of sense. Yes we can't get that number for you and it isn't exposed in the APIs. I'm going to close this out. Hope you have a great week!

[2016-07-27 21:30] #5050 closed

[2016-07-27 21:30] mfurtak commented on #5375
Ah, yes - that'd be great. Once we get some positive feedback on that change, we should be able to unroll at least one level of feature switching, and hopefully consolidate this functionality into a shared location. 👍

[2016-07-27 21:31] TKBurner commented on #742
@smaljaar Awesome! Glad to hear you are up and running. Have a wonderful week!

[2016-07-27 21:34] TKBurner commented on #4162
Hi @AliSoftware Thanks for letting me know. We'll keep this open, feel free to update when you are ready 👍 Have a great vacation!!!

[2016-07-27 21:41] TKBurner commented on #5376
@onevcat Are you still interested in submitting a PR? Thanks!

[2016-07-27 21:43] TKBurner commented on #5476
@douglasalexandre Awesome! So glad to hear you got up and running. System ruby tends to cause some problems so that makes sense. Hope that you have a wonderful week!

[2016-07-27 21:45] TKBurner commented on #5467
@macbaszii Can you let me know more about your frameworks file? It seems like that is why your project is getting rejected. Thanks!

[2016-07-27 21:48] DouglasHennrich commented on #5521
I'm running `match adhoc` to get adhoc's provisioning and distribution cert because I need to build it deploy it to Installrapp.com

So I have both provisionings(`appstore` and `adhoc` )

[2016-07-27 21:48] mfurtak commented on #5128
Hi folks - I've released [`snapshot` 1.13.0](https://github.com/fastlane/fastlane/releases/tag/snapshot/1.13.0) which introduces an experimental fix for this.

Please update to the latest with `gem update snapshot` then try running things with:

[code]

⚠️ Note that the environment variable value has changed to **2** where previously it was 1! ⚠️

If you're running things through fastlane, do:

[c

[2016-07-27 21:49] TKBurner commented on #5482
Hi @krodak Thanks for replying you can get more info here:
https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Advanced.md
https://github.com/bkeepers/dotenv

Thanks!

[2016-07-27 21:50] TKBurner commented on #4856
Hi @klundberg Thanks for letting me know. The help wanted flag should let people know that they can contribute. Follow up on this thread if you start working on something! Thanks!

[2016-07-27 21:52] TKBurner commented on #5236
@GT-3 Thanks for following up on this. I looped in the core team and they'll take a look. I'm also going to mark this as help wanted in case anyone wants to submit a PR. Thanks!

[2016-07-27 21:56] TKBurner commented on #1655
Hi @wimbledon Thanks for letting me know. Can you let me know if the workaround of having Xcode closed resolves it for you too? Thanks!

[2016-07-27 21:57] TKBurner commented on #5489
Hi @biesbjerg Great to hear from you! Can you run `sudo gem update fastlane` and then send me the output of deliver -v Thanks!

[2016-07-27 21:59] wimbledon commented on #1655
I just restarted my computer and everything works now.

[2016-07-27 22:00] lucidsheep commented on #4983
Hi again, sorry for not updating sooner. I tried unlocking the keychain prior to running and got similar results to what I posted originally. One insight I found is that it happens when I try to upload a build with a lower build number than expected (so I upload build # 123 when 124 was previously accepted). Instead of failing gracefully it hangs on the upload process.

[2016-07-27 22:01] TKBurner commented on #5379
Hi @ram0287 Thanks for reaching out. It looks like you might need to run `match nuke distribution` to clear this up. If that isn't a viable option can you share your full output when you run `match --force` thanks!

[2016-07-27 22:04] albertoms commented on #4983
@lucidsheep hi. Doesy our pilot process hangs with the same log as me? see [my post in this thread](https://github.com/fastlane/fastlane/issues/4983#issuecomment-235022400).

[2016-07-27 22:05] TKBurner commented on #5484
Hi @FisherKK Thanks for following up. Can you check your gem file for the following:

Let me know if that clears things up!

[2016-07-27 22:10] TKBurner commented on #4907
@tcurdt @mark-anders Thanks for updating this. Where does the issue currently stand? Is it a legacy_build_api issue or do you need one external tester? Thanks!

[2016-07-27 22:15] TKBurner commented on #5490
Hi @tspecht! Thanks for reaching out. Can you share the full output when you run your lane with the --verbose flag? Also, do you have Xcode 8 installed on your machine? Thanks!

[2016-07-27 22:17] TKBurner commented on #5355
@combinatorial Did you get my note via email? Thanks!

[2016-07-27 22:20] TKBurner commented on #5493
Hi @Bogidon Thanks for reaching out. Can you share full input and output when you add the --verbose flag to your command? Thanks!

[2016-07-27 22:20] oliveiragabriel07 commented on #5358
I'm having a similar issue only when running with `bundle exec`
The error message is almost the same:

[code]

I think it could be related to https://github.com/fastlane/fastlane/issues/3184
Actually, `gym` option `use_legacy_build_api` is a workaround for this problem.

[2016-07-27 22:21] TKBurner commented on #5285
Hi all! Can you let me know how many screenshots you are uploading? I've seen this a few times recently and it seems like it might be rate limiting on the API side. Thanks!

[2016-07-27 22:23] TKBurner commented on #5501
Hi @mlostekk It looks like you are using ruby 2.0 can you upgrade (using RVM) to 2.3? I want to see if you are still affected by this issue. Thanks!

[2016-07-27 22:24] bolom commented on #5493
bodigon ?

[2016-07-27 22:27] Bogidon commented on #5493
@TKBurner
Lol, I think that was a typo.

[2016-07-27 22:27] TKBurner commented on #5502
Hi @tcurdt Thanks for reaching out. Right now this is not an option however, you could definitely implement this in a plugin by manipulating our html file. Let me know if you have any questions.

[2016-07-27 22:27] ConfusedVorlon commented on #5512
nope - I'm done with PRs. I'll keep myself to comments and suggestions for now.

[2016-07-27 22:36] tcurdt commented on #5502
@TKBurner So why is it shown here then?

https://github.com/fastlane/fastlane/blob/master/snapshot/assets/htmlPagePreviewFade.jpg

[2016-07-27 22:37] TKBurner commented on #329
Can you try running in the Fastlane folder? Thanks!

[2016-07-27 22:37] TKBurner commented on #5381
@cytryn Thanks for letting me know. I've looped in the core team so they can take a look. If anyone is interested in submitting a PR to correct this dependency that'd be great!

[2016-07-27 22:39] TKBurner commented on #5510
Hi @guidomb Thanks for reaching out. If you have a fix, we'd love to see it! Thanks! 👍

[2016-07-27 22:44] TKBurner commented on #5397
@felix-dumit Thanks for following up. Have you tried setting the force flag to true? Thanks!

[2016-07-27 22:45] TKBurner commented on #5521
Hi @DouglasHennrich Are you able to use the same cert for both through Xcode? Thanks!

[2016-07-27 22:45] TKBurner commented on #1655
@wimbledon Awesome! Really glad to hear you are up and running 👍

[2016-07-27 22:47] TKBurner commented on #5512
Thanks for letting me know @ConfusedVorlon. I'll leave this open with the help wanted flag for now. Thanks!

[2016-07-27 22:48] TKBurner commented on #4983
@lucidsheep Does the build appear in Xcode? It seems like this is an issue with the response coming back to us from the request we make. Thanks!

[2016-07-27 22:49] tcurdt commented on #4907
@TKBurner I think there is a lot related going on in this issue - but the original report should still be correct.

The `legacy_build_api` issue should be covered by https://github.com/fastlane/fastlane/issues/5066 The solution I ended up with was not using `gym` anymore. It just didn't do the right thing (unless you use `match` too - I guess)

[2016-07-27 22:50] TKBurner commented on #5502
Hi @tcurdt Thanks for following up. The reason for this change is now there are multiple versions of the iPhone with the same screen size. However, if you'd like to make a PR with the titles annotated with example devices that'd be great!

[2016-07-27 22:50] TKBurner commented on #4907
@tcurdt Thanks!

[2016-07-27 22:54] tcurdt commented on #5502
@TKBurner Not sure I can follow the reasoning. So when I configure `devices([ ... ])` to include two iPhones that share the same screen size - what will happen?

[2016-07-27 22:55] felix-dumit commented on #5397
@TKBurner This is how I tried it:

[code]

[2016-07-27 23:06] #4741 closed

[2016-07-28 00:22] DouglasHennrich commented on #5521
Hi @TKBurner I'm facing problems because when I run match adhoc, it created a new cert and create the provisioning with that cert signed... now I have two distribution cert on my keychain and this confuse me when I build for adhoc or appstore... I don't know which cert were assigned with the provisioning

[2016-07-28 01:11] dvalenzuela-com commented on #1727
So what happened with this? I remember I was working on this right before the monorepo change, but then I lost track of the progress

[2016-07-28 01:13] dvalenzuela-com commented on #5404
Have you tried escaping your quotes?

[2016-07-28 02:11] ram0287 commented on #5379
@TKBurner Thanks for your response

I started with Match nuke

Developer Account is Clean. No Certs / Profiles

Created a New Cert / Profile using match

Generated a new Push Certificate for the App Id using pem ( Enable Push Services )

Existing Provisioning Profile became invalid.

If I run match with force
   A new Provisioning profile is created and synced to the git repo

If I run match witho

[2016-07-28 03:21] kikolobo commented on #5309
Thanks.. Updating now!

[2016-07-28 06:21] Gladkov-Art commented on #5420
Hi @Liquidsoul
Can confirm, it works! 👍

[2016-07-28 07:18] Liquidsoul commented on #5420
Awesome @Gladkov-Art ! Thank you !
@asfalcone : I've created PR #5533 which updates the documentation accordingly. Hope this helps 😃

[2016-07-28 07:20] Gladkov-Art commented on #5420
It solves my issue completely, thanks!

[2016-07-28 07:53] dgoyaldiksha opened #5534 "Fastlane With Jenkins"
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines]

### For making the build automated,am using fastlane with jenkins,Can i know the steps to execute that.

Is this possible that when the user push the code to github all the fastlane commands start executing when user press build now button in jenkins.i have tried pilot upload command,which works fine,but

[2016-07-28 08:00] AmityTek commented on #5505
I don't know how to add my framework to mu UITest target /:

[2016-07-28 08:07] tspecht commented on #5490
Hey, thanks for the reply! I do not have Xcode 8 installed. When I run `fastlane test --verbose` somehow the output doesn't change?! Weird ...

[2016-07-28 08:41] CurlyHeir commented on #5534
Start with Fastfile, and create lanes, then try use Gym tool to build IPA, sending your file to github can be done with fastlane git plugin and

Fastfile
[code]
seems to be easy, right? : )

[2016-07-28 08:42] bvirlet commented on #5485
I would like to setup the app. On the device, I can upload an .xcappdata using Xcode schemes, but that's not possible on the simulator.

The example referred to in the documentation is https://github.com/fastlane/examples/blob/master/MindNode/Snapfile#L46.

I'm happy to use the `sh` actions but how do I copy the files to the right app folder between each snapshot session (locale/device).

Thanks!

[2016-07-28 09:09] chandansingh5 commented on #5508
Please find attachment. Thanks
[fastlane.zip](https://github.com/fastlane/fastlane/files/388017/fastlane.zip)

[2016-07-28 09:19] CurlyHeir opened #5535 "Fastlane official plugin for running tests on multiple simulators / devices in the same time"
### Fastlane oficial plugin for running unit and integration tests with KIF on iOS simulators and devices
- [x] I have read the [Contribution Guidelines]

### Issue Description

Hi, can we add plugin to support running tests on multiple devices / simulators in the same time?
I'd be convenient to run all tests on few devices or run part of tests on each device to get info ASAP.

### Technical requi

[2016-07-28 09:26] dgoyaldiksha commented on #5534
@CurlyHeir Thanks for the response :)

Is this possible that if the person just uploads a project to the github without any fastfile or any fastlane component in it and all the lanes or fastline would generate when buildnow in jenkins is triggered by writing down all the commands in execute shell.

[2016-07-28 09:48] zealousys2016 commented on #5507
Hi TKBurner,

I have setup reference to link "https://github.com/fastlane/fastlane/tree/master/supply#setup"
and i got the json key.

Here is package name : com.zelousys.myapplication

First i run fastlane command.
and then run supply.

Here is full command and output is below

supply -p com.zelousys.myapplication -a alpha

+-------------------------+-----------------------------------------------

[2016-07-28 09:51] FisherKK commented on #5484
Hi, I've understood where is the problem.
I had only *.gemspec file all the time. I have generated *.gem file from it and uploaded to rubygems.org.
I have added dependency in my pluginfile of my project so it should look for my plugin in rubygems and now it works.

[2016-07-28 09:53] mlostekk commented on #5501
Ah! Thanks, using RVM with ruby 2.3 fixed all issues! Thanks and keep up the awesome work!

[2016-07-28 09:53] #5501 closed

[2016-07-28 12:18] KrauseFx commented on #5420
Great, thanks everyone, fixed with https://github.com/fastlane/fastlane/pull/5533 👍

[2016-07-28 12:18] #5420 closed

[2016-07-28 12:54] mark-anders commented on #4907
@tcurdt - thanks for the link, and you are correct, I'm using submit to store, not ad hoc.

I had not mentioned it because early on in the process (after the first couple of fastlane failures), I checked my certs and discovered the ones I was using were invalid.  I'm not sure where I had seen setting up TestFlight builds using ad-hoc, but when I googled around again, I found posts saying that for

[2016-07-28 13:42] ericnondahl commented on #5426
We are seeing this issue when not uploading with pilot now - even though it was vaguely flagged by apple, probably not an issue here.

[2016-07-28 13:42] #5426 closed

[2016-07-28 14:08] mfurtak commented on #5375
Hi folks - I've released [`scan` 0.10.0](https://github.com/fastlane/fastlane/releases/tag/scan/0.10.0) with @ffittschen's fix for this (#5530)

Please update to the latest with `gem update scan` then try running things with:

[code]

⚠️ Note that the environment variable value has changed to **2** where previously it was 1! ⚠️

If you're running things through fastlane, do:

[code]

... or whatev

[2016-07-28 14:31] TKBurner commented on #5502
Hi @tcurdt Do you apply multiple screenshots to the different sizes in iTC? Thanks!

[2016-07-28 14:48] bfcrampton commented on #5375
Cool! I was having the same issue, thanks for the fix @mfurtak and @ffittschen

[2016-07-28 14:52] mfurtak commented on #5375
@bfcrampton Does that mean that `FASTLANE_EXPLICIT_OPEN_SIMULATOR=2` gets things working for you?

[2016-07-28 15:08] mfurtak commented on #5028
Hi @ChristopherDrum - when you run your build, do you see output like:

[code]

I believe `use_legacy_build_api` precludes the generation of an **exportOptionsPlist**, so gym should be attempting to warn you about this with the above message.

[2016-07-28 15:17] mfurtak commented on #5173
Hi @jshier - we've recently released [`scan` 0.10.0](https://github.com/fastlane/fastlane/releases/tag/scan%2F0.10.0) and [`snapshot` 1.13.0](https://github.com/fastlane/fastlane/releases/tag/snapshot%2F1.13.0) with some improved workarounds behind a feature switch.

Do you mind updating your tools to the latest (`gem update scan snapshot`) and then run them with the the following environment vari

[2016-07-28 15:24] mfurtak commented on #5203
Hi @plarson - thanks for the report! 👍

If you set the following environment variable before your command, like:

[code]

does that allow it to succeed with the email in question?

[2016-07-28 15:34] johntmcintosh commented on #5173
Thanks @mfurtak ! I've been seeing this as well, and have a small test project that I'm working with. In my case, the issue is still occurring using `scan 0.10.0` and setting the explicit open flag. Output below. Please note the log delay in the timestamps of the log between "Test Succeeded" and the next line (10:29:17 to 10:31:09). It hung there until I quit the simulator manually. Please let me

[2016-07-28 15:44] mfurtak commented on #5173
@johntmcintosh Interesting. That seems like a different pathology to the problem that this workaround has been trying to address.

When your hang occurs, what is the state of your simulator? Has it been terminated? Is it stuck trying to boot at a black screen?

Thanks for the info!

[2016-07-28 15:53] asfalcone commented on #5384
Thanks all for the reports and sorry that this is causing issues for so many of you. We're hoping to get to the bottom of this.

Has anyone been able to go back to an older version of `fastlane` and `spaceship` (something before fastlane 1.97.2 and spaceship 0.28.0) and have their existing setup (without the workaround) able to login? I'm trying to triage this as a regression in our code or a chan

[2016-07-28 15:56] johntmcintosh commented on #5173
I'm starting from a state with no simulator running. Fastlane launches the simulator and I see the app get launched. The tests run, then the host app is terminated, leaving the simulator open, and looking at the homescreen.

![screen shot 2016-07-28 at 10 55 56 am](https://cloud.githubusercontent.com/assets/931283/17219701/e4160fda-54b1-11e6-99bb-dbf61b9f907b.png)

[2016-07-28 15:56] asfalcone commented on #5386
Thanks all for the reports and sorry that this is causing issues for so many of you. We're hoping to get to the bottom of this.

Has anyone been able to go back to an older version of fastlane and spaceship (something before spaceship 0.28.0) and have their existing setup (without the workaround) able to login? I'm trying to triage this as a regression in our code or a change on the apple side tha

[2016-07-28 16:03] bencollier commented on #4936
So now for each new client we need to run;
```/Applications/Xcode.app/Contents/Applications/Application\ Loader.app/Contents/itms/bin/iTMSTransporter -u apple@id.com -p password  -account_type itunes_connect -v off -m provider```

Then pick the short name out of that, they're wonderfully inconsistent.

Could fastlane do this step for us? Seems like they're easy to tie up if you already have the te

[2016-07-28 16:04] mfurtak commented on #5173
Ah, interesting indeed. Yes, that's definitely different than what the flag is attempting to work around. I appreciate the info, and I'm curious if that's what @jshier is also seeing for this issue?

[2016-07-28 16:11] carsten-wenderdel commented on #5173
Running `FASTLANE_EXPLICIT_OPEN_SIMULATOR=2 scan` I see exactly the same as @johntmcintosh
Xcode 8 beta 3 and scan 0.10.0

[2016-07-28 16:15] tcurdt commented on #5502
@TKBurner not sure I understand the intent of the question

The iPhone SE has a screen size of 4" so has the iPhone 5 and the iPhone 5s. Hence is the question what the expected output is if snapshot is configured as such:

[code]

Right now the screenshots are grouped all together as one 4" - which I think does not make much sense given that I defined 2 separate devices. IMO the focus is too much

[2016-07-28 16:16] mfurtak commented on #5173
OK, I'm gathering that this is unrelated to other things I've been working on, so it'll take a new investigation from the top. I'll keep folks up-to-date with what I can find here!

[2016-07-28 16:35] johntmcintosh commented on #5173
Thanks so much @mfurtak !

In the meantime, while we're in the process of migrating our project to Xcode 8, we have a feature branch that's being configured for Xcode 8 testing, and the remainder of the branches still being built with Xcode 7. To maintain CI compatibility across all branches, we need CI to just be able to `fastlane test` to run things. Building a bit on @jshier's awesome workaroun

[2016-07-28 17:02] rborkow opened #5537 "Match hangs on "Cloning remote git repo""
See also #5473

### New Issue Checklist

- [x ] Updated fastlane to the latest version
- [x ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Match hangs on the cloning remote git repo step with no additional output/feedback.

##### Complete output when running fastlane, including the stack trace and command used

[2016-07-28 17:12] joshrlesch commented on #5513
@FisherKK feel free to open a PR for your changes https://github.com/joshrlesch/fastlane-plugin-instrumented_tests

[2016-07-28 17:32] mfurtak commented on #5173
I've reproduced this locally.

[2016-07-28 17:46] bencollier commented on #5317
The first set are developer team IDs, the second set are iTunes Connect Team IDs.

Apple likes to keep it easy :)

[2016-07-28 17:49] mfurtak commented on #5173
@johntmcintosh If you have a moment, could you give something a try for me? Taken from your build output above, could you run the following command in your project directory?

[code]

My expectation is that it should succeed without hanging. If so, please then try:

[code]

My finding is that the second command will hang forever when done, like with `scan`. Please let me know, thanks!

[2016-07-28 18:14] hernangonzalez commented on #4295
I am facing this issue as well. Should this be reopened?

[2016-07-28 18:18] zhunt11 opened #5538 "Missing Required Icon File - Application Loader"
### New Issue Checklist

- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [X] Updated fastlane to the latest version

### Issue Description

http://stackoverflow.com/questions/38640414/missing-required-icon-file-application-loader

After doing a build with Fastlane, which produces a .ipa file, when using the Application Loader appl

[2016-07-28 18:32] zhunt11 commented on #5538
@fastlane-bot You probably think all issues are related to Code Signing...

[2016-07-28 18:43] CurlyHeir commented on #5537
try to run only match from console passing **--verbose** flag

the reason is - probably you dont have login and password stored in your keychain (check in Keychain Access -> login keychain -> passwords )
if clone this repo manually and pass credentials, match will work normally after.

[2016-07-28 18:50] CurlyHeir commented on #5534
YES,
you can use shell in jenkins and write each command, passing all parameters.
you don't really have to declare lanes in Fastfile (but that apporoarch is rather poinless)

[2016-07-28 18:56] TKBurner commented on #5397
Hi @felix-dumit Thanks for following up. Currently Deliver doesn't support this behavior when run from a lane. That is why it's not available as an option. With that in mind, if you want to build a plugin https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Plugins.md that handles this behavior we'd love it!

[2016-07-28 19:02] johntmcintosh commented on #5173
@mfurtak you're expectation is exactly what I see. The first completes without hanging. The second hangs until I quit the simulator.

[2016-07-28 19:11] rborkow commented on #5537
That didn't work, but changing the git repo url to be "git@github.com:rborkow/xxxx.git" led to a successful run.

[2016-07-28 20:03] mfurtak commented on #5173
OK, so it would seem that the new `xcodebuild` can't tolerate being piped to another command while running `build test`... which is pretty much at the core of what `scan` does. 😱

I've filed this as [rdar://27595098](https://openradar.appspot.com/27595098)

[2016-07-28 20:05] vpolouchkine commented on #5183
@carrchr Can you please share your setup? Thanks!

[2016-07-28 20:05] johntmcintosh commented on #5173
I stumbled across a similar thread from xcpretty a few minutes ago that seems to be tracking the same issue: https://github.com/supermarin/xcpretty/issues/227

[2016-07-28 20:05] vpolouchkine commented on #4866
@ffittschen I'm afraid not.

[2016-07-28 20:06] vpolouchkine commented on #5027
I'm afraid not.

[2016-07-28 20:09] carrchr commented on #5183
I was able to workaround the problem by deleting ALL cached provisioning profiles in `~/Library/MobileDevice/Provisioning Profiles`
We had recently reset all devices on our Apple Developer account. I had re-created the AdHoc provisioning profile in question but for some reason the product packaging phase (I assume) would copy the old provisioning profile into the .app package inside the .ipa Paylo

[2016-07-28 20:10] TKBurner commented on #5183
@carrchr Awesome! Really glad to hear you got up and running!

[2016-07-28 20:10] #5183 closed

[2016-07-28 20:11] carrchr commented on #5183
Might be worthwhile adding "delete ALL cached provisioning profiles in `~/Library/MobileDevice/Provisioning Profiles`" to the Code Signing troubleshooting/FAQ

[2016-07-28 20:13] TKBurner commented on #5183
@carrchr Thanks if you want to add it you can submit a PR, otherwise we'll update it in our docs review (once a month) Thanks!

[2016-07-28 20:13] mfurtak commented on #5173
Yep, good find - it sounds the same. I've noted that mine likely duplicates theirs in my radar.

[2016-07-28 20:15] #5534 closed

[2016-07-28 20:25] TKBurner commented on #5317
Hi @avalanched You can set them in pilot using ENV with the following names:

    -q, --team_id [VALUE] The ID of your team if you're in multiple teams (PILOT_TEAM_ID)
    -r, --team_name STRING The name of your team if you're in multiple teams (PILOT_TEAM_NAME)

Thanks!

[2016-07-28 20:27] TKBurner commented on #4936
@bencollier Are you interested in submitting a PR to add this to deliver? That'd be great!

[2016-07-28 20:40] TKBurner commented on #5508
Hi @chandansingh5 Thanks for following up. In your snapfile you have `screenshots_path` can you change that to `output_directory`? Thanks! Let me know how it goes 👍

[2016-07-28 20:40] #5508 closed

[2016-07-28 20:42] TKBurner commented on #1727
@dvalenzuela-com If you'd like to submit a PR that'd be great! Let me know 👍

[2016-07-28 20:55] pj4533 opened #5539 "[pilot] Adding internal testers"
Can you add internal testers with Pilot?  If so, how?

`pilot --help` specifies external testers, and `pilot add <email>` doesn't seem to work.

See also:

https://github.com/fastlane/fastlane/issues/4753

[2016-07-28 21:42] chshapiro opened #5540 "Can't recreate provisioning profile"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I created a provisioning profile for my app using `match development` but then I accidentally deleted it in Apple Developer Console. Now when I try to run `match development` again, it tells m

[2016-07-28 22:13] guidomb commented on #5510
I've made a PR. Now trying to understand why the build is failing. I am trying to run `bundle exec rake test_all` locally but when I run `bundle install` in my fastlane fork I am getting

[code]

[2016-07-28 22:42] GeoffreyPlitt commented on #4162
I'm still experiencing this error. Here's my gym output: http://pastebin.com/QLR2egu8

[2016-07-28 23:28] la5487 opened #5542 "Fastlane Deliver will not submit to the App Store"
### New Issue Checklist
- [Y] Updated fastlane to the latest version
- [Y] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

Fastlane Deliver says the app was submitted, but its still in "Prepare for submission".

From looking around at others who have this issue, it looks like there is a problem when "add_id_info_use

[2016-07-29 09:48] Darkreaper101 commented on #5387
@TKBurner I've set the force to true and it's still occurring, the odd thing is it's submitting some of the times and sometimes it give me the exception mentioned in OP.

[2016-07-29 09:55] Urkman opened #5543 "Problem with multiple targets"
### New Issue Checklist

- [ y] Updated fastlane to the latest version
- [ y] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

My project has two targets (iOS and tvOS). I used the iOS most oft the time, and everything was fine..
But three days ago a build a new tvOS version (2.2 with build 63). There were some erro

[2016-07-29 10:05] chandansingh5 commented on #5508
@TKBurner thanks for reply. i have added the screenshots_path in Snapfile but i am still getting same error("Could not find option 'screenshots_path' in the list of available options"). i am attaching Snapfile for reference.
[Snapfile.zip](https://github.com/fastlane/fastlane/files/390289/Snapfile.zip)

[2016-07-29 11:05] donnywals commented on #5468
@TKBurner whoops, late reply. For some reason `fastlane init` worked right away when I retries today. When I submitted the issue both the automatic and manual option didn't work..

[2016-07-29 11:05] #5468 closed

[2016-07-29 11:50] objectmethod opened #5544 "Is there any way to asynchronously or concurrently run actions from Fastfile?"
For example:

Our `pod install` command takes about 30 seconds to run, and our `carthage bootstrap` command takes 90 seconds.

There really is no reason for them to wait for one another to finish executing.  They could execute simultaneously.

Is there any way via Fastlane to execute these actions simultaneously within a single lane?

[2016-07-29 12:49] zhunt11 commented on #5538
Any update on this? I can submit apps using Application Loader to iTunes Connect if I Archive the .ipa from Xcode. But if I use Fastlane the .ipa does not contain the iPad Pro app icons that I've specified.

[2016-07-29 13:20] ilsinszkibal commented on #4059
Thanks a lot, it is on my list to collect everything to be able to reproduce this!

[2016-07-29 14:21] mfurtak commented on #5236
I can reproduce this locally. But based on the code, removing all non-latin characters appears to be intentional behavior. See: https://github.com/fastlane/fastlane/blob/master/produce/lib/produce/developer_center.rb#L37-L40

@KrauseFx can you recall the history of this code and why it is important?

[2016-07-29 14:42] TKBurner commented on #5236
Hi, we need to look into this on the core team before we can accept a PR. Removing the help wanted label. Thanks!

[2016-07-29 15:07] mfurtak commented on #4816
It's worth noting that [Hockey describes this parameter](https://support.hockeyapp.net/kb/api/api-versions#upload-version) as "restrict download to comma-separated list of team IDs". I don't know how/if that is meant to correlate to adding apps to teams from Hockey's point of view.

I do not see anything wrong with the way this value is passed through our action. But since I am not set up with Hoc

[2016-07-29 15:16] mfurtak commented on #5045
I am able to reproduce this locally.

[2016-07-29 15:33] bolom commented on #5493
my logs

[code]

[2016-07-29 15:33] TKBurner commented on #5508
Hi @chandansingh5 Thanks for following up.

Can you delete `screenshots_path` and replace it with `output_directory`

[2016-07-29 15:39] TKBurner commented on #5539
Hi @pj4533 Thanks for reaching out. Right now it's not possible to do this through `pilot`

I'm going to mark this as a feature request and see if anyone from the community wants to submit a PR. Thanks!

[2016-07-29 15:44] pj4533 commented on #5539
Thanks @TKBurner       This is fairly key to my workflow, so I might take a look into it myself.  If anyone has any tips on where to start, i'm all ears!  👂

[2016-07-29 16:21] mfurtak commented on #5045
I can confirm that passing the name works from the web interface, but fails from inside of spaceship. Like @plrthink, I also tried a variety of encodings for the data, but none of it was acceptable to Apple's servers.

I'm not sure what else to try right now, so I'll ask for help from the community. The code is here: https://github.com/fastlane/fastlane/blob/0c5917741b4111394ec58c513b6db7d168dd77d

[2016-07-29 18:20] chandansingh5 commented on #5508
@@TKBurner thanks for quick reply. Now its working but after i am getting this error("Found 0 screenshots").
[23:45:14]: ▸ Building FastLaneNewzone/FastLaneNewzoneUITests [Debug]
[23:45:14]: ▸ Check Dependencies
[23:45:14]: ▸ Compiling FastLaneNewzoneUITests.swift
[23:45:14]: ▸ Compiling SnapshotHelper.swift
[23:45:14]: ▸ Linking FastLaneNewzoneUITests
[23:45:15]: Running Tests: ▸ Touching FastLan

[2016-07-29 18:23] asfalcone commented on #5386
I think I have a fix for this issue. If you have a moment, please pull the code in [this PR](https://github.com/fastlane/fastlane/pull/5548) and `rake install` in the spaceship directory to test. Let me know if this fixes the issue for you! 👍

[2016-07-29 18:23] asfalcone commented on #5384
I think I have a fix for this issue. If you have a moment, please pull the code in [this PR](https://github.com/fastlane/fastlane/pull/5548) and `rake install` in the spaceship directory to test. Let me know if this fixes the issue for you! 👍

[2016-07-29 18:37] programmin1 commented on #5271
This is especially bad as when you run deliver with a Deliverfile including ` app_version "newversionnumber"` in deliverfile, the run deliver `submit_build -u user --skip_metadata --skip_binary_upload --skip_screenshots --submit_for_review -a bundleId`, so that it actually sets the pending release's version number... It actually marks it as the _new version,_ which didn't work before, but it choos

[2016-07-29 19:23] mfurtak commented on #4866
If folks have a minute to try the solution in #5549, that would be a big help!

[2016-07-29 19:29] vpolouchkine commented on #5537
I was not able to repro this using a https://github.com/foo/bar.git link; works fine. I'm going to close this as it sounds like you're up and running.

[2016-07-29 19:29] #5537 closed

[2016-07-29 19:35] vpolouchkine commented on #5538
Can you repro this in a sample project that you can share with us?

[2016-07-29 19:41] adriantofan commented on #5404
Yes,  that is what I did, but I don't understand why I have to since it is a single quote in a double quoted string.

Besides that the error message was not very helpful.

[2016-07-29 19:48] vpolouchkine commented on #5543
Can you examine the ipa and confirm that it builds the correct target?

[2016-07-29 19:50] vpolouchkine commented on #5542
Are you able to repro this in a separate project?

[2016-07-29 20:26] vpolouchkine commented on #5540
Running `match nuke development` is the recommended approach here.

[2016-07-30 07:03] prolog3001 opened #5550 "What about IAP (In app purchase)?"
Is there also a fastlane for that?

[2016-07-30 07:49] somedev commented on #3708
@asfalcone @KrauseFx  do you have any thoughts when new `sigh` version with this fix (#4898) would be released?

[2016-07-30 15:23] asfalcone commented on #3708
@somedev Whoops, sorry for the delay on the release! I'll try to get it out on Monday! I didn't realize we had unreleased changes for so long.

[2016-07-30 15:24] somedev commented on #3708
@asfalcone Happy to hear that! Thanks.

[2016-07-30 16:35] Sef1995 commented on #4717
@funkenstrahlen Have you found a solution for this problem? Because I'm also looking for a solution.

[2016-07-30 20:34] Danbana commented on #5285
I'm seeing this issue with uploading 20 screenshots per language, for only two languages

[2016-07-30 20:50] Danbana commented on #5285
However, tt just worked the second time I tried

[2016-07-30 21:29] CurlyHeir commented on #5544
i never tried, but you can try with threads
try something like:
[code]

[2016-07-30 22:27] #5384 closed

[2016-07-30 22:27] #5386 closed

[2016-07-31 07:34] KrauseFx commented on #5384
Hey everyone, @asfalcone and me did some more testing and we were able to reproduce the issue. We already pushed a new spaceship release: https://github.com/fastlane/fastlane/releases/tag/spaceship/0.29.1

Please update using `[sudo] gem update spaceship` or `bundle update` (if you use a `Gemfile`)

Please let us know if that fixes the problem 👍

[2016-07-31 07:37] KrauseFx commented on #5386
Hey everyone, @asfalcone and me did some more testing and we were able to reproduce the issue. We already pushed a new spaceship release: https://github.com/fastlane/fastlane/releases/tag/spaceship/0.29.1

Please update using `[sudo] gem update spaceship` or `bundle update` (if you use a `Gemfile`)

Please let us know if that fixes the problem 👍

[2016-07-31 10:54] Antondomashnev opened #5554 "(feat/actions): Add new action 'check if the given git tag exists in the repo or not'"
🔑
Hi there, in my current "fastflow" I have to check whether the given tag exists or not and perform actions based on the result. So far I haven't found an action to do this and decided to write one.
I think it fits the rule of accepting new actions - `Generally usable for a big majority of developers (e.g. basic interactions with git)` and could be considered as basic interactions with git. 😉

[2016-07-31 16:25] #4772 closed

[2016-07-31 18:45] tomwildcat9 commented on #4162
Still seeing: Error building the application: xcodebuild error SDK "iphoneos9.2" cannot be located.

I also passed in sdk: 'iphoneos' parameter to my gym call and still seeing this error. Let me know if anyone has a workaround for this. Thanks

[2016-07-31 21:33] zhunt11 commented on #5538
@vpolouchkine  I'll work on that and get back to you. Thanks for responding

[2016-08-01 02:25] KrauseFx commented on #5537
When match hangs, it almost certainly is caused by missing auth token. Best way to enter the credentials is to copy and run the clone command manually and see what kind of prompt is shown

[2016-08-01 08:57] AliSoftware commented on #4162
@TKBurner I've come back from vacation and I'm not sure anymore this `iphoneos9.2` was the real cause of the build failures.

Sadly, since I had this problem, the build logs got rotated on the CI slave and I don't have those logs anymore.

We still have build failures though, which link to this issue as per issue suggestions, but those failures are in fact related to CodeSigning, not related to `i

[2016-08-01 09:41] Anders123fr commented on #1727
+1

[2016-08-01 10:52] PycKamil commented on #1942
I have added new flag for specifying full custom report name (custom_report_file_name). scan version 0.10.0 includes this change and this should solve this issue 👍

[2016-08-01 11:15] vkaramov commented on #4782
The problem still exists. The new device is added, but error is shown anyway

[2016-08-01 14:28] zhunt11 commented on #5538
@vpolouchkine Okay, I create a super simple test project. The project does nothing, but it has App Icon assets. I was able to reproduce it using a simple 'gym' command. It does not put the iPad Pro image asset in to the bundle. I've attached the zipped project. See the IPA Archive folder for the Unarchived .ipa file contents. Choose the 'Payload' folder and right click on the GymTest > Show Packag

[2016-08-01 14:34] asfalcone commented on #3708
[`sigh` 1.9.0](https://github.com/fastlane/fastlane/releases/tag/sigh%2F1.9.0) has been released 🚀

[2016-08-01 14:38] somedev commented on #3708
Cool 👍

[2016-08-01 14:53] ilsinszkibal commented on #4059
Sorry for the late response. I've tried out a number of things. Currently I realised, that this script will also get stuck without using fastlane. I am currently checking out if this only occures for all of our iOS projects -even the smaller ones- or if this has to do something with the project settings/size.

[code]

[2016-08-01 15:09] argie9999 commented on #5386
This appears to be working for me!  Thanks so much @asfalcone, @KrauseFx!  Fastlane is awesome. thanks for the quick resolution of this issue.

[2016-08-01 15:38] mfurtak commented on #4866
@ffittschen I've merged a likely solution to master if you have a moment to give it a try 👍

[2016-08-01 15:41] ffittschen commented on #4866
@mfurtak Great! I'll try it as soon as I can

[2016-08-01 15:57] bencollier commented on #4936
I'd love to find the time to do it. Will see if I can!

[2016-08-01 16:08] jacobvanorder commented on #1942
Thank you @PycKamil!

[2016-08-01 16:15] #4760 closed

[2016-08-01 16:16] Luke-SF opened #5564 "App Icon is uploaded, even when you want to skip"
### Issue Description

When using deliver command to just submit some prepared apps, you can use --skip_metadata --skip_binary_upload --skip_screenshots --submit_for_review

While this mostly does what you would expect, if you happen to have an /images/ directory with an app icon in it, Deliver puts that app icon on every app it submits!

### Environment

fastlane version (run `fastlane -v`):
1.97

[2016-08-01 16:28] chshapiro opened #5565 "Connect match to project repo"
Is there a way to make a connection between the certificate repo and the project repo, so that when a developer pulls from the project repo, the certificates will automatically be updated/match will run?

[2016-08-01 16:55] asfalcone commented on #5565
@chshapiro Yep, when you configure `match` you'll generate a Matchfile that contains the `git_url` for the match repo 👍

[2016-08-01 16:55] #5565 closed

[2016-08-01 17:23] chshapiro commented on #5565
So if I have a project called MyApp with a Git repo called MyApp, and in there is the Matchfile with the git_url for the match repo, when I pull from MyApp, my certificates/provisioning profiles will automatically be updated and I don't need to call match separately?

[2016-08-01 17:29] dantaylorseo commented on #5025
+1 this feature would be really useful

[2016-08-01 18:04] asfalcone commented on #5565
Ah I see now what you're asking. When you pull you want something to happen. You'd have to tie into git hooks I think to accomplish that.

If you include `match` in your Fastfile though, and do all of your building and deploying with `fastlane`, whenever certs and profiles are needed they should be retrieved correctly.

[2016-08-01 19:00] johntmcintosh commented on #5173
@mfurtak with my test project, this appears to be resolved today by Xcode 8, beta 4.

[2016-08-01 20:02] #4212 closed

[2016-08-01 20:03] mfurtak commented on #5173
@johntmcintosh Nice - thanks for the heads-up! I will download it and check it out.

[2016-08-01 21:25] mfurtak commented on #5173
Agreed, this appears to be fixed in beta 4! I'll close this for now, but folks can continue the conversation and we can reopen as needed 👍

[2016-08-01 21:25] #5173 closed

[2016-08-01 21:48] KrauseFx commented on #5550
Thanks for the suggestion, duplicate of https://github.com/fastlane/fastlane/issues/1631 👍

[2016-08-01 21:48] #5550 closed

[2016-08-01 21:50] KrauseFx commented on #5502
Hey @tcurdt, thanks for the suggestion, you can find the mapping here: https://github.com/fastlane/fastlane/blob/master/snapshot/lib/snapshot/reports_generator.rb#L51-L64.
So this happens when you run `snapshot`? Would you mind submitting and testing a PR fixing this?

[2016-08-01 22:39] hironytic opened #5571 "xcexport: `export_options_to_plist': [!] undefined method `[]' for nil:NilClass (NoMethodError)"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

An error occurs on `xcexport` action with `export_options_plist` parameter which has no `manifest` value.

##### Complete output when running fastlane, including the stack trace and command us

[2016-08-01 22:58] ram0287 commented on #5379
@TKBurner - Any Update on this ?

[2016-08-02 00:10] KrauseFx commented on #5571
Instead of using `xcarchive` and `xcexport` we recommend using [gym](https://fastlane.tools/gym) which makes it much easier to build and sign your app 👍

[2016-08-02 00:22] hironytic commented on #5571
Hi, this is a small example that can reproduce the problem.
In our actual project, we are using one `xcarchive` and two `xcexport`s from same archive, for ad-hoc and for app-store. Is it possible by using gym?

[2016-08-02 00:24] KrauseFx commented on #5173
This is great news, thanks for updating the issue 👍

[2016-08-02 01:22] KrauseFx commented on #5571
Yeah, this should work in gym 👍 You want to create an ipa file, right?

[2016-08-02 01:34] hironytic commented on #5571
I want to create one xcarchive file and two ipa files from it.

[2016-08-02 02:01] KrauseFx commented on #1942
Thanks for updating the issue and contributing to fastlane @PycKamil 🚀

[2016-08-02 02:01] #1942 closed

[2016-08-02 06:07] tcurdt commented on #4821
The problem is - you have to have a fresh a Apple account to reproduce or verify it's fixed.
Unless there is a test scenario covering this I would not be confident in closing this issue.

[2016-08-02 07:57] tcurdt commented on #5502
Sure can do. A simple fix should be to change the mapping to this

[code]

Would that be acceptable?

[2016-08-02 09:03] tspecht commented on #5490
Hi @TKBurner , did you have a chance to look into this already?

[2016-08-02 10:04] fralways opened #5578 "Script with errors with nonzero exit code causes gym to fail"
### New Issue Checklist

- [Y] Updated fastlane to the latest version
- [Y] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

--- Command /bin/sh emitted errors but did not return a nonzero exit code to indicate failure

I have custom script which gives this error when I upload app to the test flight. Upload is **suc

[2016-08-02 11:10] MariusCiocanel commented on #5152
I had the same issue yesterday.
The build would succeed locally but fail on the Mac Mini running Jenkins.
I use `match` to share certificates and provisioning between machines.
Also, the project I'm working on is Swift only.

Yesterday I added 3rd party dependencies to the project for the first time through Cocoapods when the build failures started happening.

After doing some research I found [ t

[2016-08-02 12:17] wuaschtikus opened #5579 "[BUG] Segmentation fault"
### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Environment

ruby 2.3.1p112 (2016-04-26 revision 54768) [x86_64-darwin15]

Do you use bundler to execute fastlane (i.e. `bundle exec fastlane`)?
No

Do you use a Ruby environment manager (e.g. `chruby`, `rbenv`, `rvm`)?
No

[2016-08-02 14:01] christianlanz commented on #329
+1

[2016-08-02 14:34] sasvarizoli commented on #329
For clarification, you can still use a relative path if you just remove the $(SRCROOT) part.

Make this
[code]
into this
[code]

[2016-08-02 15:30] ilsinszkibal commented on #4059
Update: we've managed to figure out what is causing the problem for us:
In our project the shared unit test scheme was set to Analyze Test and Build(Edit Scheme, on the Build section). Once we removed Analyze and Build the problem went away.

The way we figured this out, in case any poor soul needs to solve this:
- Modified the script above to run 30 times. Started running on the local project.
-

[2016-08-02 15:58] batesyuk opened #5580 "[Sigh] Incorrect profile downloaded when using provisioning_name & ignore_profiles_with_different_name"
### Issue Description

tl;dr
When using the parameter `provisioning_name` in conjunction with `ignore_profiles_with_different_name` in sigh the wrong profile is downloaded

I have a universal application with a tvOS bundle to be uploaded to the iTunes store. As there is no platform setting in sigh yet when running the command it downloads the iOS profile incorrectly. In an attempt to prevent this

[2016-08-02 16:18] ILI4S commented on #5387
@Darkreaper101 at least for us, this error was caused by defining `version` in our fastlane `Deliverfile`

commenting out or deleting that definition resolved this error in our case

[2016-08-02 16:23] dmitry-mochalov commented on #1979
I'm experiencing the same sort of issue with the `enterprise` environment. `match` creates a new provisioning profile every time, if `readonly` mode is set to `false`, and throws `No matching provisioning profiles found...` error in readonly mode.
Using `MATCH_FORCE_ENTERPRISE="1"` doesn't solve the issue.

As far as I can see from logs the correct provisioning profile is cloned from the repo and

[2016-08-02 16:35] tmm1 commented on #1683
I'm trying to make this work, but we need to find a "dummy event" to trigger off of on tvOS since there's no concept of Orientation.

[2016-08-02 16:57] KrauseFx commented on #5535
Hey @CurlyHeir, you're more than welcome to build your fastlane plugin for that 👍 It seems like a complex problem you tackle, so it might take some time to implement it.
You can also use `xctool` from fastlane btw 👍

[2016-08-02 17:00] KrauseFx commented on #1683
Hey @tmm1, have you already seen the [description on how snapshot works](https://github.com/fastlane/fastlane/blob/master/snapshot/README.md#how-does-it-work)? Basically `snapshot` uses the orientation event to trigger a screenshot. I'm more than happy to merge something similar for Apple TV if you find something that we could use 👍 The requirement is that it doesn't modify the app's state in any

[2016-08-02 17:02] KrauseFx commented on #5544
Yeah, you can use basic Ruby threading for that, however fastlane was not built for that. Use it at your own risk. I personally wouldn't recommend doing it, but you're free to use Ruby threading 👍

[2016-08-02 17:02] #5544 closed

[2016-08-02 18:17] kcharwood commented on #5467
I'm seeing this issue as well. Trying to submit an iOS 10 Message Extension for TestFlight

[2016-08-02 18:24] #3900 closed

[2016-08-02 18:31] kcharwood opened #5583 "[Transporter Error Output]: ERROR ITMS-90534: "Invalid Toolchain. New apps and app updates must be built with the public (GM) versions of Xcode 6 or later, OS X, and iOS SDK or later. Don't submit apps built with beta software including beta OS X builds.""
### New Issue Checklist

- [ ✅ ] Updated fastlane to the latest version
- [ ✅ ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Attempting to submit a new message extension to Testflight for testing. Apple claims TestFlight now supports iOS 10 and Xcode 8 for message apps.

##### Complete output when running fastla

[2016-08-02 18:40] KrauseFx commented on #4921
This is something we now actually do automatically when using `fastlane init`, right?

[2016-08-02 18:40] KrauseFx commented on #5583
Does it work when you manually upload using Xcode?

[2016-08-02 18:56] kcharwood commented on #5583
I'm actually about to try that. I'll report back my findings.

[2016-08-02 19:06] kcharwood commented on #5583
Seeing the issue with Xcode as well.

Related issue in the dev forum:

https://forums.developer.apple.com/message/159256#159256

[2016-08-02 19:06] mfurtak commented on #4921
I'm unsure about `fastlane init` and the iTC team ID and Developer Portal team ID. I think @nicolasbraun's request for help discovering the value for `itc_provider`is still a good one. Running

`/Applications/Xcode.app/Contents/Applications/Application\ Loader.app/Contents/itms/bin/iTMSTransporter -m provider -u <USER> -p <PASS> -account_type itunes_connect -v off`

is still the only way I know to

[2016-08-02 19:15] kcharwood commented on #5467
Adding [this](https://github.com/CocoaPods/CocoaPods/issues/4203#issuecomment-147550871) run script to the end of my extension appears to remove this error.

[2016-08-02 19:35] kcharwood commented on #5583
Filed rdar://27663268

[2016-08-02 19:40] Darkreaper101 commented on #5387
@ILI4S Thanks for responding, but I'm not even using a ``Deliverfile`` I'm working straight from the ``Fastfile`` and defining all the required properties in the ``Fastfile``.

[2016-08-02 21:02] chshapiro opened #5585 "Match certificate name"
When I run `match` and a certificate is generated, what determines what the name of the certificate will be? Is it based directly on the Apple account username/email? Can the name of the certificate be customized or is it just a default of the Apple account username?

[2016-08-02 23:53] hironytic commented on #5571
No matter whether I use gym or not, this problem should be fixed. I made a PR :sparkles:

[2016-08-03 00:23] KrauseFx commented on #5585
The name is consistent and cannot be customised. Why do you feel like changing the name?

[2016-08-03 01:01] KrauseFx commented on #5502
I'm not sure I'm following, how would that fix the issue?

[2016-08-03 01:01] KrauseFx commented on #5502
Did you test this locally?

[2016-08-03 02:44] #4599 closed

[2016-08-03 02:52] theothertomelliott commented on #5115
I was seeing this error today and it turned out to be because the account I was using (which I'd just set up specifically for fastlane) had passed the grace period and the e-mail address needed verifying.

If you don't have this Apple Id set up in XCode, trying to add it there might give a clearer error.

[2016-08-03 03:17] njafei opened #5587 "fastlane will automatic change app version in itunes, but I don't want this,do it has a solution?"
fastlane will automatic change app version in itunes, but I don't want this,do it has a solution?

[2016-08-03 05:10] KrauseFx commented on #5564
The only way to not upload the app icon is to not provide one to upload. Does that workaround work for you?

[2016-08-03 05:21] KrauseFx commented on #5490
Hey @tspecht, sorry for the delayed reply.

Unfortunately we've had some of those reports in the past (e.g. https://github.com/fastlane/fastlane/issues/5163), however these kind of issues are super hard to reproduce locally.

I only have Xcode 7.3.0 installed locally, so I'm downloading 7.3.1 to try to reproduce your issue. In the mean-time, do you run into the same problem on a newly created Xcod

[2016-08-03 05:25] KrauseFx commented on #5490
I wonder if that issue in general is resolved by Apple's fix in the latest Xcode Beta (https://github.com/supermarin/xcpretty/issues/227#issuecomment-236719334)

[2016-08-03 06:51] KrauseFx commented on #3899
@aymericbouzy Yes there is, you should use a Gemfile for all your projects. More information about how to get started on the [CocoaPods guide](https://guides.cocoapods.org/using/a-gemfile.html). This way you store all your project's dependencies in version control and can easily install on gems on a new machine 👍

[2016-08-03 07:00] programmin1 commented on #5564
Make sure an "images" folder is not in current directory when running it? Yeah, I guess, but it seems odd that there is --skip_binary_upload, --skip_screenshots, --skip_metadata, but none skip setting app icon image.

[2016-08-03 07:01] xareelee commented on #5386
How do I know the version of `spaceship` running on my Mac? I've tried `spaceship --version` which doesn't work.

[2016-08-03 07:05] aymericbouzy commented on #3899
Thanks @KrauseFx. I do use a Gemfile, but not necessarily for all my gems. Maybe add a step to check all currently installed gems not present in the Gemfile, add them if necessary, and then clean the project.

[2016-08-03 07:12] KrauseFx commented on #5386
@xareelee you have to run `gem list --local | grep "spaceship"` or if you use `bundler`, you can just look inside your `Gemfile.lock`

[2016-08-03 07:24] onmyway133 commented on #5386
@KrauseFx oh great, but how about `sigh`?

[2016-08-03 07:29] tcurdt commented on #5502
@KrauseFx No, this is untested - but if you look at the code:

https://github.com/fastlane/fastlane/blob/master/snapshot/lib/snapshot/reports_generator.rb#L13
https://github.com/fastlane/fastlane/blob/master/snapshot/lib/snapshot/page.html.erb#L77

it looks like the data passed into the ERB template is keyed by the `output_name`. So if those are the same they end up in the same `@data[language][ou

[2016-08-03 07:30] KrauseFx commented on #5386
@onmyway133 This should be fixed for all tools, as long are you update `spaceship`, using `[sudo] gem update spaceship` or `bundle update` (if you use bundler).
With the next release of each tool, the dependency to spaceship is also updated, so every user will get the new version 👍 but in the mean-time, please update manually using the instructions above.

[2016-08-03 08:07] IngmarStein commented on #5163
Unfortunately, the bug is still present in Xcode 8 Beta 4 :(

[2016-08-03 08:27] krodak commented on #5379
Exactly same issue as @ram0287
I don't want to use `force` every time and regenerate certificates, but `match` should regenerate new certs when old are invalid.

My use case:
- have valid provisioning profiles I'm able to use `match`
- added `Associated Domains`, so my PP are invalid
- running match without `force` - I get an error, should be regenerated

[2016-08-03 08:57] hotbott commented on #4059
@ilsinszkibal thanks for sharing your workaround, unfortunately it does not work with my projects :'(
* Xcode 8 beta 4 still has the same problem #5163
* PR #5188 seems to fix the issue

[2016-08-03 09:11] itapplidium commented on #4295
Facing the same issue, `AWS` has been renamed `Aws`

[2016-08-03 09:38] prolog3001 opened #5591 "Snapshot - Take screenshots manually not by record"
The record process might by Ok in certain cases, but if  we need to take screenshots for each app from various locations (for example - each app has a different video movie) - how can we manually point the screenshot point, then the snapshot will do the same for all other simulators.
Is it possible?

[2016-08-03 09:43] daquinons opened #5592 "ERROR ITMS-90055 and ERROR ITMS-90164 using Pilot"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

When trying to upload our app to TestFlight for the first time we are getting these errors. We are using match as explained in the CodeSigning guide, we set in "Provisioning Profile" Other - $

[2016-08-03 10:00] katunch commented on #4295
I think this issue should be reopened. @fastlane-bot @KrauseFx

[2016-08-03 10:29] wuaschtikus commented on #519
So today I updated system ruby and Fastlane wasn't working anymore because of a  `Segmentation Fault Bug`. I also created an issue for this: https://github.com/fastlane/fastlane/issues/5579

Meanwhile I tried to install RVM with version: `ruby 2.3.0p0 (2015-12-25 revision 53290) [x86_64-darwin15]` and it worked again.

**I also removed the `use_legacy_api` flag from gym - and the IPA size was redu

[2016-08-03 10:30] wuaschtikus commented on #5579
Installing RVM resolved the problem.

[2016-08-03 10:30] #5579 closed

[2016-08-03 11:10] morgondag opened #5593 "[match] invalid .p12 format?"
trying to use one of the generate .p12 files generated with match.

`openssl pkcs12 -info -in NV6QMF9E9T.p12`
But when i try to validate the .p12 i get errors:

[code]

I can't use the .p12 file in my keychain or in unity cloud builds.
**Failed to update credentials! This does not appear to be a valid .p12 file. Perhaps it's been corrupted.**

Are the generated .p12 file encrypted somehow and how

[2016-08-03 11:30] brockklein opened #5594 "Generic error: [!] The request could not be completed because: Unexpected Error (I suspect it's due to user error.)"
### New Issue Checklist

- [1.99.0] Updated fastlane to the latest version
- [ Yup!] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Hello all, first time posting an issue here, but long time follower.

I finally sat down and tried to set myself up to take full advantage of Fastlane's features for our setup. After p

[2016-08-03 13:00] brockklein commented on #5594
Also, to clarify what my project state is after receiving this error: I am able to go into iTunesConnect, hit Submit, testify that I'm not encrypting(etc.) and everything works like a charm.

So I assume the problem is at the very end in the submit function of `deliver`/`spaceship`, but I am at a loss how to troubleshoot it.

[2016-08-03 13:02] brockklein commented on #5594
And that suspicion is now confirmed...here is the error output from running `fastlane retry_submit --verbose`.

[code]

[2016-08-03 13:55] onmyway133 commented on #5386
@KrauseFx 🎉 . Just wonder what is the issue? And why does adding account to iTC manually fixes the problem?

[2016-08-03 14:04] ahmed1490 commented on #5115
I wasnt part of team in Apple Developer Portal. This was my mistake!

[2016-08-03 14:04] #5115 closed

[2016-08-03 14:10] daquinons commented on #5592
We solved it, there were some problems in our project config not related with code signing. I close this :)

[2016-08-03 14:10] #5592 closed

[2016-08-03 15:10] daquinons commented on #4821
Hey @tcurdt! We are facing right now that "undefined method `train_version' for nil:NilClass" error. How did you solve it?

Thanks!

[2016-08-03 15:24] #1895 closed

[2016-08-03 15:32] zhunt11 commented on #5538
Any update on this? @vpolouchkine @KrauseFx

[2016-08-03 15:45] EarlOfEgo commented on #4077
What's the status on this one? I would love to see frameit for Android.

[2016-08-03 17:12] pj4533 commented on #5125
@mpirri   I set the environment variable for this fix, but I am still seeing the error.  I know it is hitting the if-statement cause it does show that UI message about waiting for the build train:

[code]

And the build is in iTunes Connect, finished uploading fine.  (But I have to manually select it for TestFlight).

[2016-08-03 17:22] tcurdt commented on #4821
@daquinons Fix your build first (as described in the email) something is not right with your ipa.
You should get the very same email if you upload that ipa in some other way.
Once you got you a proper build uploaded `pilot` will work, too.

This is an ugly bug nevertheless.

[2016-08-03 18:04] mfurtak commented on #5375
Hi folks, [`scan` 0.10.1](https://github.com/fastlane/fastlane/releases/tag/scan/0.10.1) 🔍  has been released, which makes @ffittschen's fix the default behavior when using the `FASTLANE_EXPLICIT_OPEN_SIMULATOR` feature flag.

I'm going to close this issue for now, but please let me know how things look! 👍

[2016-08-03 18:04] #5375 closed

[2016-08-03 18:07] mfurtak commented on #5128
Hi folks [`snapshot` 1.13.1](https://github.com/fastlane/fastlane/releases/tag/snapshot/1.13.1) :camera: has been released, which makes the recent improvements the default behavior when using `FASTLANE_EXPLICIT_OPEN_SIMULATOR`.

I'm going to close this issue for now, but please let me know how things look. 👍

[2016-08-03 18:35] mfurtak commented on #4866
Hi all, [`match` 0.6.2](https://github.com/fastlane/fastlane/releases/tag/match/0.6.2) 🔥 has been released, which includes the recent improvements to address this.

I'll close this issue for now, but please let me know how it looks! 👍

[2016-08-03 18:35] #4866 closed

[2016-08-03 19:03] mfurtak commented on #5267
Hi @kd8ssq - [`screengrab` 0.4.0](https://github.com/fastlane-old/screengrab/releases/tag/0.4.0) has been released with a fix for this problem.

Please update the `screengrab` tool (with `gem update screengrab`) and the library reference in your `build.gradle` so that both are using 0.4.0, and let me know if things are better!

[2016-08-03 19:37] Antondomashnev opened #5601 "[match/proposal] possible action to remove provision profiles locally"
Hi there, this is more like a question or topic to discuss rather than an issue.

I'm using `match` to deal with code signing and found the repetitive scenario that I'm doing manually and it starts bothering me. But I'm not sure if I'm doing right and it makes sense at all so want to discuss it with the community.

Imagine the workflow:
1. We have clean machine and clean developer portal
2. We run

[2016-08-03 19:55] KrauseFx commented on #5601
It should be enough to just run `match(force: true)` to force a re-generation of the profile on each match run. Would that work for you?

[2016-08-03 19:56] KrauseFx commented on #5594
Interesting, basically you get the message `Unexpected Error` from iTunes Connect directly, it's not raised by `fastlane` or `spaceship` as far as I can see. Does the same happen when you try do to it manually on iTunes Connect?

[2016-08-03 20:57] Antondomashnev commented on #5601
@KrauseFx thanks, it is definitely better because it doesn't create a new provision profile now. But unfortunately I still have two provision profiles locally with the same name If I run it twice:
![example](https://api.monosnap.com/rpc/file/download?id=2CRsxlSmRAbPR0fTy115MCM8K5FEQ7)

[2016-08-03 21:13] lyricsboy commented on #4866
Thanks! I may decide to use match again in the CI context where this popped up and I'll let you know how it works.

[2016-08-03 22:15] KrauseFx commented on #5601
That's weird. If you set up your Xcode project according to [XcodeProject.md](https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Codesigning/XcodeProject.md) `match` will automatically pass the UDID of the provisioning profile to `xcodebuild`, so you don't have to worry about it.

[2016-08-03 22:59] dmakovec commented on #1832
@TKBurner Excellent tip - this saved me. Many thanks!

[2016-08-04 01:33] pedro380085 commented on #5578
Same error in here.

[2016-08-04 03:26] KrauseFx commented on #5578
There must be some more information about the error in the build error.

[2016-08-04 03:30] pedro380085 commented on #5578
@KrauseFx Unfortunately no.... It's similar to: https://github.com/fastlane-old/gym/issues/113

I got the solution by changing the Xcode scheme to Release, building for my device and looking for the error log. Turns out Xcode just logged an warning where gym failed. It's due to a pngcrush misconfiguration.

All good 👍 . And thanks for the quick reply!

[2016-08-04 06:49] lxzhh opened #5602 "Skip download provision profile everytime"
I use sigh to manager provision profiles, however it download the development profile everytime. We try to check if the file downloaded already, dig the code and pass the provisioning_name to sigh, but it seems it use a internal string for output file name:

      profile_name ||= "#{profile.class.pretty_type}_#{Sigh.config[:app_identifier]}.mobileprovision"
      profile_name += '.mobileprovision

[2016-08-04 06:53] bimawa commented on #4885
Guys i have same trouble. And i found in Crashlytics folder two different binary for submit apps.
1. in path: `./Pods/Crashlytics/Crashlytics.framework/submit`
2. in path: `./Pods/Crashlytics/submit`

after this i change my FastlaneFile from

[code]
 to

[code]

and now builds successfully uploading on fabric.

[2016-08-04 07:04] wkoszek opened #5603 "scan hangs indefinitely"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I have an open-source iOS app and encountered issue running `scan`. It hangs indefinitely, quite likely on `xcrun xcodebuild -list -workspace Sensorama.xcworkspace`.

https://travis-ci.org/wko

[2016-08-04 07:38] fralways commented on #5578
There is no more information - I rechecked and besides some warnings (ex. deprecated methods used) only ARHIVE FAILED is noted. I run with --verbose as well. End output is

/Library/Ruby/Gems/2.0.0/gems/fastlane_core-0.48.3/lib/fastlane_core/ui/interface.rb:139:in `user_error!': [!] Error building the application - see the log above (FastlaneCore::Interface::FastlaneError)
	from /Library/Ruby/Gems

[2016-08-04 07:38] purrrminator commented on #5332
We had the same issue. Spent hours to find out what was the problem. Finally, it started working well after we cleaned up the provisioning profiles directory. What pisses me off is that there was not any error that says there is some mess with provisioning profiles.

[2016-08-04 07:38] Antondomashnev commented on #5601
That is not a big deal for me, but I think this could be a nice to have that `match` removes the old provision profile from the local folder as well. This will simply keep Xcode folder with provision profiles cleaner. But the discussion can be closed if you don't see the point of it =)

[2016-08-04 08:24] lyptt opened #5604 "Hockey action fails to make uploads available for installation"
I've had a strange problem occurring when using the Hockey action in my Fastfile. It never manages to actually distribute the binary.

This forces me to then go into HockeyApp and either manually release the new version via the Release button, or notify users that the new version is available via the Notify button depending on how far through the process the action seems to get.

I always get a do

[2016-08-04 08:26] cepages commented on #4885
@bimawa it's working for me too. Thanks!!!

[2016-08-04 09:35] njafei commented on #5587
desc "Deploy a new version to the App Store"
  lane :appstore do
    # match(type: "appstore")
    # snapshot
    gym(scheme: "***",
        use_legacy_build_api:true,
    ) # Build your app - more options available
    deliver(force: true)
    # frameit
  end

I don't use this config,

Here is my problem,when my app is in review in itunes,if I use fastlane, it will stop review, and increase versi

[2016-08-04 10:56] batesyuk commented on #5580
By bad... this does actually seem to be working as expected.

[2016-08-04 10:56] #5580 closed

[2016-08-04 12:25] dgoyaldiksha commented on #4162
Facing the same issue as @AliSoftware

It is working on one system well,but is is giving error on local machine

`fastlane beta
[17:17:05]: -------------------------------------------------
[17:17:05]: --- Step: Verifying required fastlane version ---
[17:17:05]: -------------------------------------------------
[17:17:05]: fastlane version valid
[17:17:05]: ------------------------------
[17:17:0

[2016-08-04 14:00] pj4533 commented on #5152
If anyone ends up here, I found my solution was to go delete all my local provisioning profiles, and let match do its thing from there.  (All profiles are in ~/Library/MobileDevice/Provisioning Profiles)

Seems like maybe I had an old pre-match one that didn't use the current certificate, and even though I had the environment variable in the PROJECT for sigh/match, cocoa pods didn't like that.  Or

[2016-08-04 14:02] brockboland commented on #5587
Hi other Brock!

@njafei this happens when you run `fastlane appstore`?

I haven't used `deliver` before, but that might be the default behavior. If your app has been submitted and is in review, I'm not sure why you would run this command again, though, so maybe we should back up a bit: what are you trying to use fastlane to do when the app is in review?

[2016-08-04 14:05] Jyotsh opened #5606 "Fastlane Shows me this error: Variable Dump: Git repository is dirty. Can someone suggest me how to fix this?"
fastlane fabric
[05:41:27]: ------------------------------
[05:41:27]: --- Step: default_platform ---
[05:41:27]: ------------------------------
[05:41:27]: Driving the lane 'ios fabric' 🚀
[05:41:27]: -------------------------------------
[05:41:27]: --- Step: ensure_git_status_clean ---
[05:41:27]: -------------------------------------
[05:41:27]: Variable Dump:
[05:41:27]: {:DEFAULT_PLATFORM=>:i

[2016-08-04 15:28] GabrielCartier commented on #4969
I'm having a similar problem. Right now, the only (less than ideal) way I found to send my build was to do it manually.

Are you using legacy API, because I am and I feel like it may be related to the issue.

[2016-08-04 15:51] LyubomirDominik opened #5607 "cannot load such file -- fastlane_core"
**Can someone suggest me how to fix this?**

If I run `fastlane test` from terminal - everything is okay, but I have os x server which run shell script with same command and it results with this errors:

[code]

[2016-08-04 16:48] pj4533 commented on #5539
I looked into this and it is beyond my scope of understanding for now.  I started by just trying to do this in a custom action, going right to Spaceship.  The main issues:

## Getting a 'forbidden' error

When doing a `find` for an internal tester like this:
[code]

The `find` line gets the forbidden, likely somewhat related to this issue:
https://github.com/fastlane/fastlane/issues/1895    The tu

[2016-08-04 17:02] ppengotsu commented on #5400
Please confirm existing "fastlane/Deliverfile" file
if existing file , please delete "fastlane/Deliverfile" file or change username on file

[2016-08-04 17:03] cargath opened #5608 "gym doesn't find the correct provisioning profile, unless manually configured in Xcode"
### Issue Description

1. gym is unable to find the correct provisioning profile for my app. I've seen various error messages like `Code Sign error: Provisioning profile does not match bundle identifier: The provisioning profile specified in your build settings (“MyAppName AppStore”) has an AppID of “de.MyAppName.MyAppName” which does not match your bundle identifier “de.myCompanyName.MyAppName”.`

[2016-08-04 18:34] #4642 closed

[2016-08-04 18:40] KrauseFx commented on #5027
I'm working on it 🚀 https://github.com/fastlane/fastlane/pull/5612

[2016-08-04 18:44] #4755 closed

[2016-08-04 20:33] KrauseFx commented on #5601
Cool, thanks 👍 Generally fastlane tries to avoid destructive actions, as it could delete something you might still need.

[2016-08-04 20:33] #5601 closed

[2016-08-04 20:33] KrauseFx commented on #5601
Cool, thanks 👍 Generally fastlane tries to avoid destructive actions, as it could delete something you might still need.

[2016-08-04 20:43] KrauseFx commented on #5606
Your git repository is dirty, make sure to commit, stash or discard the changes 👍

[2016-08-04 20:43] #5606 closed

[2016-08-04 21:19] gmogames opened #5614 "In-App enable in produce"
Hi,

Sorry, this is more of a question that I could not find an answer to it then an issue.

We've automated the complete app creation here in our company, but one thing that we want to do that I'm not sure how is to enable In-App purchase during produce enable_services. Note that I don't want to upload in-app purchase data to itunes, I just want to enable the service when creating the App Id in d

[2016-08-04 21:35] brockklein commented on #5594
@KrauseFx huh, oddly, no I have not encountered that error on iTunesConnect itself.

We're in the process of publishing/updating about 40 apps for clients and I've done about 15 using the Fastlane config above. For every single one Fastlane works its beautiful magic and all I have to do is log in to iTunes Connect, hit submit, answer the three (or two) encryption/ads questions and I'm done. (Fastl

[2016-08-04 21:36] brockklein commented on #5594
I see now how I should have been able to see that the error was from iTunes Connect via

`/Library/Ruby/Gems/2.0.0/gems/spaceship-0.29.1/lib/spaceship/tunes/tunes_client.rb:180:in `handle_itc_response': [!] The request could not be completed because: (Spaceship::TunesClient::ITunesConnectError)`

[2016-08-04 21:50] brockklein commented on #5587
Haha! Hello to you too other Brock! (Not a phrase I suspect either of us are accustomed to saying.)

@njafei I think @brockboland is 100% correct. since you have not run `deliver init` and customized the generated `Deliverfile` I suspect the default behavior of `deliver` when called in a `Fastfile` is to include `increment_version_number`.

I'm not sure if there's a way to disable that without run

[2016-08-04 22:02] brockklein commented on #5608
I know this is not the answer you're looking for, but have you considered migrating to `match` instead of using `sigh` and `cert` directly? We just switched to it for our configurations and it has worked wonders (including never encountering the error you outline above).

https://codesigning.guide/

So you get to replace your `cert` and `sigh` with:

[code]

e.g.

[code]

[2016-08-05 03:12] gregpassmore commented on #1799
FYI I don't have thousands of apps, just a handful, and I got this twice in a row creating new apps. Both were actually created, but I got this error (with iTunes Connect)

[2016-08-05 06:42] njafei commented on #5587
@brockboland  @brockklein
my team is in a big sell company,so delay of release app will be a big problem, especially  the Market team has a schedule, to avoid be refused by apple review team by various reason(U konw, so many reason),my team submit a release version everyday, but we will not let it be in review, only make sure binary ipa is ok, so I want to do this.

[2016-08-05 07:07] cargath commented on #5608
But match requires me to recreate the certificates and profiles, store them in a new git repository, and configure my Xcode project differently for manual builds right? I'm not sure i want to do that. I'd use match for new projects and do it right from the beginning, but this is an old project with an overly complex configuration.

[2016-08-05 07:51] cargath commented on #5608
I now manually selected the provisioning profiles for all configurations in my Xcode project and got all lanes to build. This isn't ideal (i'd like it to work automatically, since the profiles might change in the future), but it's not completely terrible either.

Since it works for now, i'm gonna close this issue.

[2016-08-05 07:51] #5608 closed

[2016-08-05 08:28] juraj-blahunka commented on #5285
Hi guys, I am experiencing this same exact issue.
We generate screenshots for 23 localizations, 6 devices and 5 app screens. I observed, that "Saving changes" always fails with the next iteration of uploading screenshots per localization:
- On the first time I tried deliver, only first set of localized screenshots were successfully saved (da) and second set of screenshots (de-DE) failed with _ITC

[2016-08-05 09:23] tomachi opened #5615 "Add progress to SCP"
Would like an option to add a progress to the SCP command
Can be done by using tty, e.g:
scp File.xxx server:/Users/Desktop/Shared > /dev/tty

File.xxx
                                                                                                                                                         6% 3840KB 629.5KB/s   01:31 ETA^File.xxx

[2016-08-05 09:57] juraj-blahunka commented on #5285
What is also interesting, that I deleted screenshots in iTunesConnect for next screenshots batch and deliver has no problems with saving the changes now.

[2016-08-05 10:05] bartoszhernas opened #5616 "Flow of bumping versions"
Hi,

what is the best flow to handle bumping app versions?

I want to use `git_ensure_branch: master` when building my release apps and at the same time I want to build release candidate from `develop`.

As I see it now, if I commit the version changes on master and then release candidate version changes on develop I will have conflicts when merging develop to master.

What do you recommend is the

[2016-08-05 11:55] richardszalay opened #5617 "Support generation of unsigned IPAs"
## New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

🔑 I'm doing a blog series on creating a "build-once" deployment pipeline using fastlane. As part of this process, the signing of the IPA happens at deployment time, at the moment the configuratio

[2016-08-05 12:06] richardszalay opened #5618 "Action for configuring a plist inside an ipa/xcarchive"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

🔑 I'm doing a blog series on creating a "build-once" deployment pipeline using fastlane. As part of this process, the signing of the IPA happens at deployment time, at the moment the configura

[2016-08-05 12:31] richardszalay opened #5619 "Using a temporary keychain"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

🔑 I'm doing a blog series on creating a "build-once" deployment pipeline using fastlane. As part of this process, the signing of the IPA happens at deployment time, at the moment the configura

[2016-08-05 12:33] richardszalay commented on #5618
It's not, mr fastlane bot, at least not in any way that's relevant to your linka.

[2016-08-05 13:12] kcharwood commented on #5583
It looks like it takes Apple a few days to update TestFlight to support the new betas. This [page](testflight release notes) tracks that history.

Xcode 8 Beta 4 is now good to go.

[2016-08-05 13:12] #5583 closed

[2016-08-05 14:07] Rameshv opened #5620 "Match for exisitng apps that are live"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I am trying to integrate Match into our build pipeline. It works great with newer apps, but when i try to use it for apps that are already live, it gives issues. The problem is its not finding

[2016-08-05 16:47] mfurtak commented on #2080
@sachingarg05 I am working on getting a UiAutomation-based implementation in right now. 👍

Once I have it on master, if folks are able to give it a try, that would be a big help!

[2016-08-05 16:59] mfurtak commented on #3981
Hi all - I am working on a solution with #5621. If folks have time to help give it a try once it is on master, that'd be much appreciated! 👍

[2016-08-05 17:38] mfurtak commented on #4706
Hi folks, I'm taking another pass at screenshot capture with #5621, so I'd be interested to know whether the code therein does double-duty of allowing video player screens to be captured.

If you have a minute to give that a try before I release it, that would be a huge help. Thanks! 🙌

[2016-08-05 18:41] KrauseFx commented on #5619
Hey @richardszalay, thanks for submitting the issue. Do you mean you set a keychain as the default keychain?

[2016-08-05 18:55] KrauseFx commented on #5620
It is acceptable, as once your app is already in he App Store, you can revoke your certificates and your app will still work.
The instructions of `match` state, that you need to run `match nuke [environment]` to start using it, as `match` handles its own set of profiles and certificates.

Let me know if that works for you and if you need any help 👍

[2016-08-05 18:56] KrauseFx commented on #5620
I assumed you mean the App Store with `live apps`, if you were talking about Ad Hoc or Enterprise, the situation is a bit different.

Also make sure to check out https://codesigning.guide 👍

[2016-08-05 21:40] KrauseFx commented on #5618
Don't forget there is already a [liftoff](https://github.com/thoughtbot/liftoff) 👍

Do you plan on providing this as a fastlane plugin?

[2016-08-05 21:46] richardszalay commented on #5619
Hi @KrauseFx, no it actually only changes the search list using "security list-keychains". The default keychain remains unaffected.

[2016-08-05 21:48] richardszalay commented on #5618
I know about liftoff, but I'm not sure there's any similarities between it and what I'm proposing.

Yes, that's the plan, unless you can see it being useful in the main product.

[2016-08-05 21:55] richardszalay commented on #5620
Michał Laskowski has a blog post on that includes how to migrate from existing keys / profiles to Match. http://macoscope.com/blog/simplify-your-life-with-fastlane-match/#migration

[2016-08-06 07:55] lakamsani commented on #4797
Hi @vpolouchkine  some more info where I ran into this. I used this command to create a new app in just Dev Center.

produce create -a $APP_ID -u $USER -i -q "$APP_NAME"

That worked.  After a few days  I tried creating it in just ITC using this command.
produce create -a $APP_ID  -u $USER -d -q "$APP_NAME"

it gave the same error as the OP wrote above i.e.
Something went wrong when creating the n

[2016-08-06 07:57] lakamsani commented on #5295
Hi, Any feedback on whether you can reproduce it and/or plans to fix? Thanks.

[2016-08-06 10:07] #5017 closed

[2016-08-06 10:12] lakamsani opened #5623 "pilot fails to upload with ERROR ITMS-90055: "This bundle is invalid""
### New Issue Checklist

- [X ] Updated fastlane to the latest version
- [ X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
unable to upload via pilot

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Configuration Files

Please copy the complete content of your

[2016-08-06 11:12] lakamsani commented on #5623
Fixed this using info from: https://github.com/fastlane/fastlane/issues/5623. My Appfile had a app_identifier that pointed to my first app which was uploading fine. But when I tried my second app for the first time I got this error as I suspect it was using the IPA path corresponding to the first app when the ipa option was not specified to the pilot command in the lane. With the ipa path from gym