[2016-09-22 13:36] TKBurner commented on #5473
@cybertk So sorry for the delay in getting back to you. Hope you are doing well. What are you using for your git_url? Do you have a github repo setup for it?

Thanks!

[2016-09-22 13:37] puttin opened #6245 ""Check Dependencies" and "Exit Status: 65" in Xcode 8 problem"
This issue is for people searching hard in fastlane/issue.

First you should read [Official Codesigning Guide](https://docs.fastlane.tools/codesigning/GettingStarted/)

First, the confusing error is because of `xcpretty` bug https://github.com/supermarin/xcpretty/issues/235

then, quote as I first write in [#6219](https://github.com/fastlane/fastlane/issues/6219#issuecomment-248902868)

It may not

[2016-09-22 13:37] #6245 closed

[2016-09-22 13:39] TKBurner commented on #6115
Hi @tzq582905! Hope you are doing well! Can you use the issue template? It seems like you'll want to use _gym_ and _deliver_. Let me know how it goes! Thanks!

[2016-09-22 13:45] hjanuschka commented on #6244
thx @mathiasAichinger  i put those in my fastlane/actions folder (loaded with `import_from_git`) many thx!

[2016-09-22 13:48] TKBurner commented on #6116
@chezzdev I think we'd be interested in taking a look. Right now the behavior of frameit is expected when using titles. Can you provide some screenshots of your results vs. what you see with the current tool? Thanks!

[2016-09-22 13:50] mfurtak commented on #6222
Hi @hardikdevios - Sorry, we won't be able to help you without more information. Please follow the new issue template to give us information about your system and your setup. 👍

[2016-09-22 13:55] TKBurner commented on #5435
@mgrebenets Thanks so much for sharing. Any chance you are interested in applying a general solution for two versions of Xcode as a PR? This seems like a cyclical issue that'll pop up every year during update season and it'd be great if we can future proof.

[2016-09-22 13:58] TKBurner commented on #6091
@muhammet Are you able to get your screenshots for your iMessage app via deliver with this naming convention? We'd love to see a PR to improve this functionality.

[2016-09-22 14:09] mfurtak commented on #6058
Hi folks, I'm going to close this for now, but please feel free to continue the conversation as needed! 👍

[2016-09-22 14:09] #6058 closed

[2016-09-22 14:09] tzq582905 commented on #6115
@TKBurner now,i can packaged  a-hoc, appstore.but need compile two times use gym. xcode can once compile,then export a-hoc, appstore package. i want to know how can once compile and export a-hoc, appstore package use fastlane.

[2016-09-22 14:11] TKBurner commented on #6117
Hi @pplant Sorry for the delay in getting back to you. Can you share your full input and output from _deliver_? I'd love to take a look. Thanks!

[2016-09-22 14:15] TKBurner commented on #6093
@Sea-Eagle Thanks for following up and so sorry for my delay in updating. Can you run the command: `set -o pipefail && xcodebuild -scheme SnapshotLoginApplication -project ./SnapshotLoginApplication.xcodeproj -derivedDataPath '/var/folders/x1/ndgsd09j74xcrpcrcj6bjqvw0000gp/T/snapshot_derived20160913-13698-1x8rnux' -destination 'platform=iOS Simulator,id=887A6CC4-2C3E-4BC9-901E-6652AFC4439A,OS=9.3'

[2016-09-22 14:25] TKBurner commented on #6103
@edsanville Thanks so much. If you run into this again can you update this thread? We are going to continue to track this here and and on our other threads on deliver.  If you are interested in submitting a PR around re-authenticating that'd be 💯  Hope you have a great week!

[2016-09-22 14:33] suculent commented on #5125
Still with 1.103.0, happens for existing app, both first and consequent submission to a recent train.
Not affected by 'skip_waiting_for_build_processing' nor 'PILOT_WAIT_FOR_NEW_BUILD_TRAINS_ON_ITUNESCONNECT' at all.

There's also no error `above`, just an empty line.

[code]

[2016-09-22 14:46] TKBurner commented on #3920
Hi @samskiter Sorry for the delay in following up. As a workaround can you run `export ENV_NAME="123" `or add the action `sh export ENV_NAME="123"`?

[2016-09-22 15:08] TKBurner commented on #6111
Hi @Ben-G So sorry for the delay in getting back to you. Can you let me know what happens if you set

`clean: true`

or `erase_simulators` prior to running your lane. Thanks and hope you have a great week!

[2016-09-22 15:10] TKBurner commented on #6124
Hi @cagataycali @sahin @muhammet Thanks for pointing this out. I'm going to let the team here know about this. We'd love to see a PR supporting this functionality, but will implement it internally if we can't find a community member. Hope you are all having a great week!

[2016-09-22 15:10] pernilla commented on #4621
Yes, I've updated match. After many if´s and but´s we managed to fix fastlane to work via command line. But we do not manage to get the other developers to get a valid signature in XCode. This is really frustrating. I've followed the guides for XCode https://docs.fastlane.tools/codesigning/XcodeProject/  and https://docs.fastlane.tools/codesigning/Troubleshooting/. We've removed the certificates i

[2016-09-22 15:12] TKBurner commented on #6125
@maschall So glad you got up and running! Always feel free to reach out or contribute. Have a great week 👍

[2016-09-22 15:15] TKBurner commented on #5780
@namanhams Sorry for my delay in getting back to you. Hope you are doing well. Hmm.. have you tried cleaning the project prior to this? It seems like that might prevent this error.

[2016-09-22 15:19] TKBurner commented on #5742
@SandyChapman @ChristopherDrum Thanks so much for letting us know! Really happy you are back up and running with _scan_. Hope you have a great weekend 👍

[2016-09-22 15:19] #5742 closed

[2016-09-22 15:25] TKBurner commented on #6089
@Sea-Eagle So sorry for the delay in getting back to you. Are you using snapshot cocoapods or carthage on this project? What happens if you run `snapshot init`? Definitely want to get to the bottom of this!

[2016-09-22 15:28] TKBurner commented on #3921
@Sea-Eagle Awesome! Really glad you got up and running. 👍

[2016-09-22 15:33] TKBurner commented on #1631
@znerol Awesome! Thanks so much for letting us know. We are going to take a look. 👍

[2016-09-22 15:36] TKBurner commented on #5681
@lferro9000 Really appreciate the update. Let me know what you find out once you get a chance to check out the API's limitations! Hope you have a great weekend coming up 👍

[2016-09-22 15:42] TKBurner commented on #6131
@jalmaas @photoplyr So sorry for the delay on getting back to you. If you run 'sudo gem update fastlane' do you still see this issue. We've made a release since your comments and I want to make sure we test on the most recent version. Also can you share your full input and output (not just the crash) I think that'll help investigating.

[2016-09-22 15:46] TKBurner commented on #6003
@jalmaas Can you show me the full output (and input of the lane) where you are seeing this double slash? I have circled back with the team, and want to make sure we have as much info as possible on this thread for them to look at. Also, if you can give exact repro steps that'll help a lot.

[2016-09-22 15:48] TKBurner commented on #5631
@pawelus So sorry for the delay in getting back to you. Can you share your full input and output? I want to see if this is an issue with the tool chain, the inputs or something else. I really want to get to the bottom of this.

[2016-09-22 15:51] TKBurner commented on #1931
@lucianomarisi Are you interested in implementing this in a PR? I think we'd be really happy to see a PR? I'm marking this open to contribution. Thanks!

[2016-09-22 15:53] TKBurner commented on #6003
@jalmaas We are working on implementing a fix! Check out #6018 to follow along.

[2016-09-22 15:53] TKBurner commented on #6131
@photoplyr  We are working on implementing a fix! Check out #6018 to follow along.

[2016-09-22 15:55] TKBurner commented on #6124
@cagataycali @sahin @muhammet Had a chance to talk to the team about it. We are taking this work up internally and hope to have an update in the coming week or two. Thanks!

[2016-09-22 16:03] GandjaFuzz opened #6247 "[match]how i can singin 1 app different provision profiles through match in xcode 8 automated?"
Hello. Me need help.
in xcode 7 i'm use sigh and signing 1 app different profiles. but after update i cannot make this.
how i can sing 1 app different provision profiles through match in xcode 8 automated?

[2016-09-22 16:17] GandjaFuzz commented on #6247
im read this - Set using environment variable
[code]

[2016-09-22 16:20] TKBurner commented on #6134
Hi @freynolds If you set

`-m, --language STRING Primary Language (e.g. 'English', 'German') (PRODUCE_LANGUAGE)`

You'll be able to avoid the English.

`PRODUCE_LANGUAGE="Spanish" fastlane init`

[2016-09-22 16:33] GandjaFuzz commented on #6247
previosly i use - provisioning_profile_path

[2016-09-22 16:42] tiferrei opened #6248 "Match fails to authenticate git user"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

match fails to authenticate with details, even though I have already saved the credentials on the keychain

##### Complete output when running fastlane, including the stack trace and command u

[2016-09-22 16:49] dmiluski commented on #6133
@npomfret , I'm also experiencing this issue. You mentioned switching off Xcode helped to get working. What did you mean by this?
[code]

[2016-09-22 16:51] TKBurner commented on #6101
@brianmichel Sounds like a plan! Sorry for taking a little while to get back to you. We are really happy to have you contribute. 👍

[2016-09-22 16:52] asfalcone commented on #6240
@gagaJay Thanks for the questions.

The array format is correct for `apk_paths`.

You cannot specify both as params. If you have `apk_paths` from an environment variable (`GRADLE_ALL_APK_OUTPUT_PATHS` iss set because you ran `gradle` prior to supply) it will use that over the `apk` param.

Hope this helps. 👍

[2016-09-22 16:57] asfalcone commented on #6124
@cagataycali Can you further explain "Fastlane can not select properly project category as "Stickers" as well as sub categories."?

I was able to set primary_category to Stickers, and primary_first_sub_category to Art and use deliver to upload and download the metadata.

Can you provide a stacktrack or error you're getting? Thanks 👍

[2016-09-22 16:59] reidmain opened #6249 "scan builds my test target twice because the iOS simulator fails to start"
### New Issue Checklist
- [*] Updated fastlane to the latest version
- [*] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

scan appears to build my test target, fails to start the simulator because it is "shutdown", builds it again and then successfully starts the simulator and runs the tests.

If you search for "Bu

[2016-09-22 16:59] TKBurner commented on #1529
@jeremymlane We'd love to see this added as an option on _deliver_. Thanks!

[2016-09-22 17:02] TKBurner commented on #6135
@dhoskins Thanks for reporting this! Any chance you are interested in submitting a PR to correct this behavior? We'd love to see something 👍

[2016-09-22 17:03] TKBurner commented on #6136
@bpham711 _pilot_ doesn't currently have support for groups. I'm marking this as a feature request so we can see if there is interest. Thanks!

[2016-09-22 17:05] TKBurner commented on #6123
@bolom Looks like you got up and running. Hope you have a great weekend coming up!

[2016-09-22 17:08] TKBurner commented on #6084
@stevekohls Thanks Steve! Really appreciate the update. You are required to be a iTC admin for spaceship to work as expected. Thanks!

[2016-09-22 17:09] TKBurner commented on #6138
@stevekohls Thanks for reaching out. You must be an iTC admin to get full functionality with Fastlane. The API permissions are more restrictive than the front end rules and that is why you are experiencing this situation. Thanks!

[2016-09-22 17:12] TKBurner commented on #6139
Hi @stevekohls Great suggestion. Are you interested in submitting a PR? I've marked this a feature request for now to see if we get interest. Hope you have a great day!

[2016-09-22 17:14] TKBurner commented on #4397
@mgrebenets As always thanks! Hope you have a great weekend 👍 💯 💯

[2016-09-22 17:18] programmin1 commented on #6099
So is there some environment variable, or gym command that will skip that `xcodebuild clean` step?

I also tried skipping clean by adding a Gymfile with:

[code]

and run gym, and it still runs that `xcodebuild clean` command.

Or, if it was a mistake that the clean option was added, it _has to_ clean it, please add a timeout so it doesn't break on slower computers.

[2016-09-22 17:20] TKBurner commented on #1860
@zhonghuiwen Awesome! Thanks so much for sharing. Hope you have a wonderful day!

[2016-09-22 17:27] TKBurner commented on #6095
@Dudi00 @antgly Just wanted you to know I reached out to the core team about this today. I'll update this thread once I have more info. Thanks!

[2016-09-22 17:29] hardikdevios commented on #6222
Hey guys sorry for late i am closing this issue as my gem was old and need to update this solved my issue 👍

[2016-09-22 17:29] #6222 closed

[2016-09-22 17:29] TKBurner commented on #5998
@kostiakoval Are you still running into this issue?

[2016-09-22 17:30] TKBurner commented on #6090
@andyh200 Really appreciate you updating us and so glad you got up and running. Hope that you have a great weekend coming up. 👍 💯

[2016-09-22 17:34] TKBurner commented on #6149
@aral Thanks for updating us on this thread. Really glad you got up and running. Always feel free to reach out. 👍 👍

[2016-09-22 17:39] TKBurner commented on #5684
@Antol @yakimant Have you run `match development` yet for this app? Also can you set `read_only: false`

Let me know how it goes! Hope you Have a great day!

[2016-09-22 17:46] TKBurner commented on #4928
@jcampbell05 That seems like the best path for this! Thanks for following up. Hope you have a great weekend coming up 👍

[2016-09-22 17:46] #4928 closed

[2016-09-22 17:49] TKBurner commented on #5730
@pahnev Check out this article for publishing your plugin https://docs.fastlane.tools/plugins/CreatePlugin/#rubygems

[2016-09-22 17:55] TKBurner commented on #5457
@martnst Thanks for following up. Hope you project is going well!

[2016-09-22 17:55] #5312 closed

[2016-09-22 18:01] TKBurner commented on #6220
HI @blackxored We don't support Apple Pay certs yet, but I can make this a feature request. Can you please provide your full input and output if you are getting any errors with _pem_? I want to look into this. Also, can you try running `pem --force`?

Thanks!

[2016-09-22 18:03] TKBurner commented on #1393
@PitchLabsAsh Thanks for following up. Can you show me your provisioning profile section from your build settings? That needs to be set correctly now. Thanks!

[2016-09-22 18:06] TKBurner commented on #1740
@banaslee Thanks for following up on this. Can you open a new issue with the full template. Also, what characters are you using in your strings?

[2016-09-22 18:07] #5395 closed

[2016-09-22 18:07] antgly commented on #6095
Thanks @TKBurner! :)

[2016-09-22 18:09] #6247 closed

[2016-09-22 18:10] rompic commented on #6224
+1 . works like a charm. thanks for the fast update.

[2016-09-22 18:13] GandjaFuzz opened #6256 "[match]add new option please - static Environment Variable"
coders. you can add new options for this application

now - match(...)

[code]

new - match(static_variable:"MYAPP")

[code]

[2016-09-22 18:13] TKBurner commented on #6141
Thanks all for working together to report this. Hope you all have pulled the update and looked at #6137. This is now resolved, if you run into the issue please read and update #6137

[2016-09-22 18:13] #6141 closed

[2016-09-22 18:15] TKBurner commented on #6256
@GandjaFuzz Hi! Hope you are doing well. Is this a feature request? Can you let me know a little bit more? Thanks!

[2016-09-22 18:17] GandjaFuzz commented on #6256
it is me need for mass release apps in app store from 1 source.

[2016-09-22 18:23] GandjaFuzz commented on #6256
Example: 1 source app cloned to 20 sources. in this 20 sources from server downloading different settings and skins, after this apps production in appstore with different provisioning profiles.

[2016-09-22 18:25] TKBurner commented on #1896
@jlubeck Sorry for the delay in getting back to you. Can you add the --verbose flag to your lane? I want to see more information on the error if possible. Also, does the same build upload via Xcode? Thanks!

[2016-09-22 18:26] #5382 closed

[2016-09-22 18:28] TKBurner commented on #5358
@apouche Can you submit a new issue about your local environment? I want to take a look and communicating over this thread is going to make a lot of noise for the previous participants. Thanks so much!

[2016-09-22 18:31] asfalcone commented on #6124
I am now able to see the issues. The category is actually "Apps.Stickers" not "Stickers". I'll make a PR to prepend Apps. 👍

[2016-09-22 18:34] TKBurner commented on #6095
Hi @antgly @Dudi00. I had a chance to talk with Felix about this. Can you follow the steps here and see if that works for you https://github.com/fastlane/fastlane/tree/master/spaceship#2-step-verification?

[2016-09-22 18:35] #5377 closed

[2016-09-22 18:36] KrauseFx commented on #6244
I love the idea @mathiasAichinger, please provide this as a plugin and let me know once it's live. We still accept new actions, but only if they existed as plugins first and are actively used by multiple companies already. This way we make sure to only include actions that are useful for a majority of our user base 👍

[2016-09-22 18:38] KrauseFx commented on #1688
Hey @kyleggapps, sorry but this is currently not possible

[2016-09-22 18:38] #1688 closed

[2016-09-22 18:41] lucianomarisi commented on #1931
@TKBurner unfortunately my ruby skills are not existent (barely know the syntax and have no idea on how unit testing works on ruby), so it's unlikely that I'll be able to contribute

[2016-09-22 18:43] k7k0 commented on #5474
@atomicus have you tried replacing  the `{` with `(` in the `pilot` call?

[2016-09-22 18:45] #5361 closed

[2016-09-22 18:48] KrauseFx commented on #5361
Valid point @jcampbell05, feel free to submit a PR fixing this, just make sure it's backwards compatible 👍

[2016-09-22 18:54] KrauseFx commented on #6222
Oh nice 👍

[2016-09-22 18:55] #5356 closed

[2016-09-22 18:58] mathiasAichinger commented on #6256
I'm currently thinking how to replace the bundle identifier, because I want to have one generic xcconfig which can be imported by every target. The documentation says that dots are not support for environment variable keys, but somehow it's working with the sigh/match ones. Unfortunately it breaks as soon you use dynamic variable names like `PROVISIONING_PROFILE_SPECIFIER = $(sigh_$(BUNDLE_IDENTIF

[2016-09-22 19:05] #5306 closed

[2016-09-22 19:06] jlubeck commented on #1896
@TKBurner how can I add the verbose inside the Fastfile?

[2016-09-22 19:07] GandjaFuzz commented on #6256
i fix this for me - edit utils.rb for match.

example:
[code]

[2016-09-22 19:15] #4998 closed

[2016-09-22 19:21] asfalcone commented on #6124
Stickers category fixed here https://github.com/fastlane/fastlane/pull/6257

[2016-09-22 19:36] tiferrei commented on #6248
Temporarily fixed this by using SSH on my CI server, this seems to be more like a git or keychain bug, as the credentials are not being saved.

[2016-09-22 19:37] TKBurner commented on #6152
Hi @fraserhess

Can you run this and send me the results:

`xar -C /var/folders/x_/ltbhjxvs4mbcy53tm9khh3z80000gp/T/d20160916-19706-188hd6x -xf fastlaneoutput/Particulars.pkg`

Thanks!

[2016-09-22 19:38] zxfrank commented on #5390
@PatrickHeneise how did you get rid of testingTrackApkInMultipleTracks ?

[2016-09-22 19:44] TKBurner commented on #6082
Hi @lakamsani Thanks for continuing to work with us on this. Any chance I can get you to provide your current output? I'm specifically interested in the shell commands that fastlane is creating and running.

[2016-09-22 19:46] TKBurner commented on #6165
@jpmcglone Can you share your full input and output? I want to take a look. @ChristopherDrum I'll work with you on your other ticket. Thanks!

[2016-09-22 19:49] TKBurner commented on #6153
Hi @chshapiro Thanks for reaching out about this. Can you share the full input and output? I'd love to take a look at what is going on. Also if you create a blank project does it still experience this issue? Thanks!

[2016-09-22 19:50] TKBurner commented on #6157
@drosenstark Awesome! Glad you got up and running. Always feel free to reach out and have an awesome weekend!

[2016-09-22 19:53] TKBurner commented on #6172
@hamid-rocket Sorry for the delay in getting to this thread. What happens if you use RVM to manage your ruby versions? Thanks!

[2016-09-22 19:53] chshapiro commented on #6153
I resolved this issue. Thank you!

[2016-09-22 19:53] #6153 closed

[2016-09-22 20:03] TKBurner commented on #6013
@s2imon Can you share your full input and output when you got that error? I'd love to take a look, it'd help us figure this out. Hope you have a great day!

[2016-09-22 20:21] tiferrei commented on #6248
Still not working:

[code]

[2016-09-22 20:22] KrauseFx commented on #5863
Sorry it took so long, we just pushed the new release 🚀 Let us know how it works for you?

[2016-09-22 20:32] jorgemanrubia commented on #6152
Hi,

I am experiencing the same issue.

The created temp dir gets deleted after the code is executed (it is using `Dir.mktmpdir` with a block), but I tried to execute `xar -C -xf <pkg file>` and it uncompressed the `.app` file ok. I am sure the `.pkg` file is ok since so far I have been submitting it manually successfully and preparing it with an automated script.

Thanks for the excellent work

[2016-09-22 20:33] KrauseFx commented on #6082
Thanks for the feedback @lakamsani, I just pushed https://github.com/fastlane/fastlane/pull/6261 to update the docs. Please check out the Xcode 8 docs on how to setup code signing: https://docs.fastlane.tools/codesigning/XcodeProject/

The original issue seems to be resolved, so I'll go ahead and close this issue. Feel free to submit a new issue with information about your setup for follow-up ques

[2016-09-22 20:33] #6082 closed

[2016-09-22 20:34] TKBurner commented on #4431
@owurman Awesome! Really glad to hear you got up and running! 👍

[2016-09-22 20:35] TKBurner commented on #5383
@kalvish21 Awesome! Really glad to hear you got up and running!

[2016-09-22 20:37] TKBurner commented on #6176
@jk2K Great to hear from you. Can you provide a little more information about what you'd like to see? I'm marking this to see if we get +1s. Thanks!

[2016-09-22 20:38] jorgemanrubia commented on #6152
In case it helps, the exception is raised in  `lib/spaceship/tunes/tunes_client.rb:275:in `create_version!'`.

It is using `ios`as the `platform`. Maybe it's related to that? I tried with `mas` and `mac` and got the same error.

I puts some traces in that method in case they can be helpful:

[code]

[2016-09-22 20:41] TKBurner commented on #6168
Hi @akshaynhegde! Thanks for following up. What lane are you expecting to see here? Your Fastfile only has three lanes. Thanks!

[2016-09-22 20:42] TKBurner commented on #6167
@zjhiphop Awesome! Really glad to hear you got up and running. Hope that you have a wonderful weekend coming up 👍

[2016-09-22 20:43] #5380 closed

[2016-09-22 20:43] TKBurner commented on #5380
@fassko Really glad to hear you are up and running. Hope you have a great weekend coming up 👍

[2016-09-22 20:49] TKBurner commented on #6178
@smaky Are you able to duplicate this on a blank project? I want to verify and then get this over to the team here. Thanks!

[2016-09-22 21:04] KrauseFx commented on #6168
There is no `tryout` lane in your Fastfile you posted a screenshot of

[2016-09-22 21:06] KrauseFx commented on #5377
Sorry for not replying earlier to this, do you still have this problem?

[2016-09-22 21:14] KrauseFx commented on #4357
@sjlu, @pnicholls We noticed you upvoted this issue. Is this still something you experience and needs a fix?

[2016-09-22 21:15] TKBurner commented on #734
Hi @Saurman Are you running the app in the simulator with the run script build phase in place? Thanks!

[2016-09-22 21:16] KrauseFx commented on #6176
Sorry we don't plan on adding a configuration file for every tool as of now, instead please use a `Fastfile` to call _pem_ with your parameters 👍

[2016-09-22 21:16] #6176 closed

[2016-09-22 21:18] TKBurner commented on #6179
@dusek Can you add the --verbose flag to your lane? Are you providing a changelog in _deliver_?

[2016-09-22 21:20] TKBurner commented on #5782
@Anders123fr You should test out the fix? We would love to see this improved.

[2016-09-22 21:23] KrauseFx commented on #5998
We pushed a new release of _gym_ today which should fix some of the issues you mention, let us know if that works 👍

[2016-09-22 21:24] Sega-Zero commented on #734
@Saurman, there is no automatic app activation with fastlane yet. Unfortunately you still have to run an app with a new bundle id in the simulator or on the device before you can submit to crashlytics.
You may use my script above to automate it via ios-sim, it works, but takes longer time that expected to be.
Hope crashlytics team will add app activation with command-line option, or with https req

[2016-09-22 21:24] KrauseFx commented on #1860
We just pushed a new release for gym that fixes this: https://github.com/fastlane/fastlane/releases/tag/gym%2F1.10.0

[2016-09-22 21:25] TKBurner commented on #6181
@thiagofelix Thanks for your PR! Really happy to have you as a contributor 👍 💯 💯

[2016-09-22 21:25] #6181 closed

[2016-09-22 21:34] TKBurner commented on #734
@Sega-Zero Thanks for stepping in. I'll talk to the Fabric team about this going forward.

[2016-09-22 21:35] TKBurner commented on #6153
@chshapiro Awesome! So glad to hear you got up and running! Hope you have a great weekend coming up 👍

[2016-09-22 21:35] TKBurner commented on #5390
@zxfrank If you are running into an issue, please submit a new ticket. We'd love to help 👍

[2016-09-22 21:36] TKBurner commented on #6224
@rompic Awesome! So glad to hear it worked for you!

[2016-09-22 21:37] TKBurner commented on #6133
@dmiluski Can you try closing Xcode while running your lane? You will need to refresh your login keychain.

[2016-09-22 21:41] TKBurner commented on #6171
@emendamus I reached out to the team about this, but in the meantime can you run `sudo gem update fastlane ` and let us know if you are still having this issue with 2 factor.

[2016-09-22 21:41] TKBurner commented on #6203
@0xced Thanks so much for sharing!

[2016-09-22 21:42] TKBurner commented on #2043
@jflinter Can you create a new issue to discuss this? I think we will implement more IAP features in the near future, but want to do some investigation here first.

[2016-09-22 21:43] TKBurner commented on #6236
@tiferrei Awesome! Thanks for using fastlane! Hope you have a great weekend coming up 👍

[2016-09-22 21:45] TKBurner commented on #6234
@GandjaFuzz Awesome! Thanks so much for using our tools 👍

[2016-09-22 21:50] TKBurner commented on #4197
@jdivittorio3 @Mehdzor @lexorus Please try all workarounds listed here. If they do not resolve your issue please submit a new issue. Thanks!

[2016-09-22 21:51] tiferrei commented on #6248
Fixed it by resetting the login keychain and import the items back.

[2016-09-22 21:51] #6248 closed

[2016-09-22 21:52] TKBurner commented on #6174
@josephmisiti Awesome! Really glad to hear you got up and running 👍

[2016-09-22 21:52] TKBurner commented on #6122
@WedgeSparda Awesome! So glad to hear you got up and running. Hope you have a great day!

[2016-09-22 21:56] TKBurner commented on #5259
@mcany Do you have a WWDR cert in your system and login keychain? Can you delete it and then see if it works?

If not, check out the steps here on BuddyBuilds docs http://docs.buddybuild.com/docs/installing-apples-updated-intermediate-wwdr-certificate

[2016-09-22 21:57] TKBurner commented on #2670
@MBaldo83 Please submit a new issue for this! Thanks 👍

[2016-09-22 21:58] TKBurner commented on #6248
@tiferrei Awesome! Really glad to hear you got up and running 👍

[2016-09-22 22:42] pnicholls commented on #4357
hey @KrauseFx I did have `FASTLANE_ITC_TEAM_ID` set in my Fastfile but I just removed it and it still all appears to work so yeah I think this has been fixed?

Thanks for all your hard work!

[2016-09-22 22:55] mgrebenets commented on #5435
I have wrapped it into a custom action. I'll invest some time and turn it into a plugin then.

Do you think it should be a plugin or part of fastlane core code?
This looping command needs to be executed before any other Xcode toolchain call and only makes sense in context of switching Xcode version. So I think it would be hard to put it in fastlane itself, because there may be no such place which

[2016-09-22 23:15] #5399 closed

[2016-09-23 02:00] gagaJay commented on #6240
thanks for clarification!

[2016-09-23 02:01] akshaynhegde commented on #6168
@TKBurner @KrauseFx , Sorry for the wrong screenshot.  Attaching the right one now.

I have made two changes to the file.
1. Updated the description of the "test" lane
2. Added an empty "tryout" lane (Totally empty)

When I run `fastlane lanes`, I see the following. Please note, that I am inside my project folder. And the command did not print out neither the updated description nor the new lane.

[2016-09-23 02:21] asfalcone commented on #6240
👍

[2016-09-23 02:21] #6240 closed

[2016-09-23 02:31] akshaynhegde commented on #6168
@TKBurner @KrauseFx ,

I wanted to double check and eliminate the stupid mistakes and  It indeed was a stupid one!.
I tried to make sure if the fastfile in the project and in the repo are same,

I was adding the fastfile inside the main group/folder (SignEasy). It was creating a copy of the fastfile when added to the project. All I had to do was to add the fastfile outside it in its right place an

[2016-09-23 04:26] mc7h commented on #6249
A couple things you could try:
* Try setting `skip_build: true` in your scan call (currently the underlying xcodebuild is calling "clean build test")
* Consider using `reset_simulators` action rather than a script.

[2016-09-23 05:59] Philipp372 commented on #6223
I encountered the same error after updating to Xcode 8. I am not using fastlane, so I see this issue on Apple side. I posted my question on SO ([see here](http://stackoverflow.com/questions/39634404/xcodebuild-exportarchive-no-applicable-devices-found)) and also Apple dev forums. Pretty major for me, most builds from script are failing.

[2016-09-23 06:00] wkoszek commented on #6203
@wuaschtikus @0xced same here, and your solution fixed the issue for my Travis build. Thanks a lot.

[2016-09-23 06:25] muzammil-triffort opened #6263 "Pilot: How can I share the build with beta testers? Without submitting for review?"
Whenever I am trying to use Pilot to share the build with beta tester, It also submitted for review and I get the message from iTunes regarding my app issues. I am not sure is this issue of my app or something wrong with my Pilot lane. I am following this code inside beta lane:

[code]

[2016-09-23 06:53] szotyi commented on #6069
This would be a nice "fix" for me too. One of my builds are stuck in "Processing" for almost a month. Got the same response from Apple, that there is no way of manually removing it, just have to wait for some kind of automatic removal.
The suggestion, that checking the status for only the currently uploaded build would be the right solution in my opinion too.

[2016-09-23 07:04] kostiakoval commented on #5998
Thanks, No I fixed it bu using  `use_legacy_build_api: false` and selecting correct Xcode tools chain

[2016-09-23 07:53] npomfret commented on #6133
I found having Xcode running while using fastlane just didn't work

[2016-09-23 08:19] dhoskins commented on #6135
Will give it a go, thanks for the encouragement.

[2016-09-23 08:21] owurman opened #6264 "runner.rb seems to be chdir'ing once extra in a rescue clause, causing a less meaningful exception"
runner.rb recovers from an error in a clause which does a chdir into the fastlane folder by chdir'ing into the fastlane folder yet again. This is causing a backtrace that says "No such file or directory - {fastlane folder}" when that's not actually true, and thus masking the real issue. I suggest removing the Dir.chdir(path_to_use) wrapper block from the rescue clause starting on runner.rb:59.

Wi

[2016-09-23 09:34] geoHeil commented on #5259
I have the same problem for fastlane version `1.104.0`
But re-installing certificates did not help. I even put them In both directories
![certs installed](https://cloud.githubusercontent.com/assets/1694964/18781291/644fef30-8181-11e6-8072-74dde70acfa8.jpg)

[2016-09-23 09:46] dumoko opened #6265 "Match nuke confuses teams and type"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Configuration Files

Fastfile:
[code]

No Appfile.
Matchfile contains the `git_url` and the

[2016-09-23 10:52] dumoko commented on #6265
Actually, all this came from this problem:
[code]
Well.... Kinda awkward.... What can be the problem?

[2016-09-23 10:52] GandjaFuzz commented on #6256
and you can add enviroment variable for **App Identifier**?

[2016-09-23 11:16] dumoko commented on #6265
Tried with team name instead:
`match nuke distribution -l "team_name_here"`, didn't work as wel..
Even in Fastfile.

[2016-09-23 11:34] geoHeil opened #6266 "fastlane cordova"
Question:
Do I understand correctly that setting these https://docs.fastlane.tools/codesigning/XcodeProject/ signing settings directly in cordova (xml) is not possible e.g. should I do this in xcode and then check the project into source control?

[2016-09-23 11:41] MarcPilgaard commented on #1005
I am struggling with some of the same problems. When building with the default `fastlane beta`. I receive error 65 during Touching xxx.app.dSYM. The log files doesn't display any error messages. I am currently using xcode 8 on OS X running El Capitan. I am using the parameter `use_legacy_build_api: true` without succese.

[2016-09-23 12:19] geoHeil opened #6267 "pilot upload failure undefined method `builds' for nil:NilClass"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Upload to testflight is failing
##### Complete output when running fastlane, including the stack trace and command used

undefined method `builds' for nil:NilClass
[code]

### Configuration Fil

[2016-09-23 12:26] #6059 closed

[2016-09-23 12:31] danleechina commented on #6180
could you tell me how to get multiple siging section? Like you pic shows Debug, Release, Enterprise and Distribution?

[2016-09-23 12:46] PitchLabsAsh commented on #5379
I was just looking at this and was wondering about the case where pem refreshes the push cert as its about to expire.

My lane starts like this..

[code]

In this case if pem refreshes the push cert and match does create a new profile due to a new device being added then push notifications wont work.

I realise pem has a callback block that can be used to indicate if the cert was refreshed, but it

[2016-09-23 12:51] geoHeil opened #6268 "archiving failure during release build"
### Issue Description

A test build works just fine. Only the release build produces the
##### Complete output when running fastlane, including the stack trace and command used

[code]
### Environment

fastlane version (run `fastlane -v`): 1.104.0

Do you use bundler to execute fastlane (i.e. `bundle exec fastlane`)?no

Do you use a Ruby environment manager (e.g. `chruby`, `rbenv`, `rvm`)?no

[2016-09-23 13:26] 92tonywills opened #6269 "Fastlane command fails immediately becuase of mismatching json versions"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

Fastlane immediately quits when any version of json newer than the ruby bundle version is installed.
##### Complete output when running fastlane, including the stack trace and command used

[cod

[2016-09-23 14:12] wongzigii commented on #1860
@KrauseFx  I am getting same error in `gym 1.10.0`

[2016-09-23 14:24] skywinder opened #6270 "Where to create Gemfile?"
From https://docs.fastlane.tools/getting-started/android/setup/#use-a-gemfile

is not clear, where should I create Gemfile. In fastlane folder or project folder directly?

[2016-09-23 14:41] PetrosIchor commented on #6269
I get this all the time.  Removing the newer version is the easiest route to go:

`gem uninstall json -v2.0.2`

It'll stop conflicting with 1.8.3 (which on my systems, I can't remove).

[2016-09-23 14:44] PetrosIchor commented on #6268
Without more information, I'm inclined to think this is an Xcode8 issue.  If you upgraded recently there's some new flows to signing.  You were probably like me and handling some project modification via plist editing.  You need to target the xcodeproj files for modification (or follow the codesigning guides recommendations).

However, please follow the guide to posting issues.  Showing "ARCHIVE F

[2016-09-23 15:02] TKBurner commented on #5295
@gcamp Thanks for stepping in. We'd love to see a PR around this 👍

[2016-09-23 15:05] TKBurner commented on #5066
@williamsjj Thanks for letting me know. Always feel free to reach out 👍

[2016-09-23 15:05] #5066 closed

[2016-09-23 15:07] TKBurner commented on #6191
@poolqf Thank for following up. This isn't on the roadmap with the most recent changes to Xcode. Thanks!

[2016-09-23 15:12] TKBurner commented on #6199
@lyndsey-ferguson Thanks for the PR! We'll work with you there. Hope that you have a great weekend coming up!

[2016-09-23 15:12] #6199 closed

[2016-09-23 15:33] Poliuk commented on #6222
@hardikdevios can you share the gem you have to update?

[2016-09-23 15:52] MarcPilgaard commented on #4712
@ToroLiu Thank you, this did the trick for me. My archives consistently failed, but build was succesefully archived in the organizer. Apparently a third-party plugin we are using had some libpng crush error, which was not apparent in the console.

[2016-09-23 16:06] KrauseFx commented on #6222
@Poliuk Make sure to update _fastlane_, which should update all other gems for you

[2016-09-23 16:07] Absoludacris06 commented on #6151
I'm getting this same issue when using `deliver` within a `fastlane` lane.  I'm not using `match`, just running some actions (both custom and public) to modify the Xcode project provisioning.  The funny thing is that executing `deliver --skip_metadata --skip_screenshots --ipa "/path/to/same/IPA/that/failed/delivery/in/fastlane"` on the command line uploads the IPA with no problems at all.

[2016-09-23 16:09] jflinter opened #6271 "Feature request: add support for iCloud Sandbox testers"
🔑

iCloud Sandbox users are a less-commonly-used type of iTunes Connect account that Fastlane doesn't currently support. They're useful for testing In-App Purchase and Apple Pay (for example, logging in with one on an iOS device lets you use the [Apple Pay Sandbox](https://developer.apple.com/support/apple-pay-sandbox/). iTunes connect appears to only have APIs to list, create, and delete them (th

[2016-09-23 16:10] jflinter commented on #2043
Sure thing @TKBurner - I've opened #6271 to discuss this.

[2016-09-23 16:23] KrauseFx commented on #2043
Thanks to @jflinter, https://github.com/fastlane/fastlane/pull/6258 just got merged and will be in the next spaceship release 🚀

[2016-09-23 16:23] KrauseFx commented on #6271
Thanks again, done with https://github.com/fastlane/fastlane/pull/6258

[2016-09-23 16:23] #6271 closed

[2016-09-23 16:32] GandjaFuzz opened #6272 "snapshots"
Apple update all devices images - https://developer.apple.com/app-store/marketing/guidelines/#images
And now screenshots make not good.

preview: https://is1-ssl.mzstatic.com/image/thumb/Purple71/v4/51/bf/2f/51bf2f3a-a11e-f612-f7b9-47b221cc6797/pr_source.png/0x0ss.jpg

and this dont work in Xcode 8
[code]

please update snapshot

[2016-09-23 16:41] KrauseFx commented on #4220
Hey everyone, did you all get a chance to try the new version? 👍

[2016-09-23 16:51] TKBurner commented on #6140
Hi @mgrebenets Can you share the full input and output? Also do you see the added output with the --verbose flag? Thanks!

[2016-09-23 16:57] KrauseFx commented on #6270
It's the root of your project, I also updated the docs https://github.com/fastlane/docs/pull/118, thanks 👍

[2016-09-23 16:57] #6270 closed

[2016-09-23 16:58] TKBurner commented on #6266
@geoHeil Hi! Yes, you should be taking care of this in Xcode. Thanks!

[2016-09-23 16:58] #6266 closed

[2016-09-23 17:01] TKBurner commented on #6221
Hi @yaochenfeng Can you share your full input and output? It looks like you might be using the legacy build api. Thanks!

[2016-09-23 17:04] KrauseFx commented on #6140
_fastlane_ uses [xcpretty](https://github.com/supermarin/xcpretty) under the hood, which is kind of out our control. Feel free to submit the issue on the _xcpretty_ repo or submit a pull request for it 👍

[2016-09-23 17:14] KrauseFx commented on #6264
Thanks for the report, this is a little tricky. What's the best way to reproduce this error?

[2016-09-23 17:15] KrauseFx commented on #6191
@poolqf If you use automatic code signing which is provided by Xcode, you don't need _match_. How would you like the two to work together?

[2016-09-23 17:32] KrauseFx commented on #5259
@geoHeil Make sure to also list the expired certificates in the Keychain, and delete all of them. Can you build using Xcode directly?

[2016-09-23 17:36] geoHeil commented on #5259
Indeed I deleted all expired certificates. A build with Xcode directly
works fine.
Felix Krause <notifications@github.com> schrieb am Fr. 23. Sep. 2016 um
19:33:

[2016-09-23 17:41] reidmain commented on #6249
@mc7h I tried `skip_build: true` and it did not do a build after the clean succeed. However the stack trace still shows that blurb about the simulator being in the "Shutdown" state. This does seem to fix what I was complaining about but that Simulator state issue is still very strange.

I cannot use the `reset_simulators` action because I want to simply erase the simulators that exist not delete t

[2016-09-23 17:54] KrauseFx commented on #6269
Also to prevent this problem in the future, we recommend using a Gemfile: https://docs.fastlane.tools/getting-started/ios/setup/#use-a-gemfile

[2016-09-23 18:04] convitza commented on #6234
Hi @GandjaFuzz , how do you fix this error? could you please share?
Thanks

[2016-09-23 18:08] owurman commented on #6264
@KrauseFx In my case, I have a fastlane subdirectory with a Snapfile and a Config file:

Snapfile (the version with the error)
[code]

Config
[code]

The real error (my error) was that Snapfile pwd is the fastlane subdir itself, so I had to fix the two paths to:
content = File.read("Config")
content = File.read("../../../fastlane/Snapfile")

As mentioned, this is odd, because this very setup worke

[2016-09-23 18:12] owurman commented on #6264
In case it matters, my ./fastlane/Fastfile:
[code]

And the master Fastfile (at ../../../fastlane/Fastfile)
[code]

The prepare_UITest_target() bit is my workaround to having the save snapshot XCUI test run on different flavors of the app (I have over 50).

[2016-09-23 18:14] johnryan opened #6273 "gym not using correct app identifier with Xcode 8"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

My app has two configurations
-com.MyApp.MyApp.appstore.debug
-com.MyApp.MyApp.appstore

The debug one is specified in the xcode project. In the past everything built fine but after upgrading

[2016-09-23 18:22] reidmain opened #6274 "scan running tests multiple times"
### New Issue Checklist
- [*] Updated fastlane to the latest version
- [*] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

On my CI boxes scan appears to be running the tests multiple times.

I have a setup script that ensures the build environment is in the correct state for the tests to pass so when they are again

[2016-09-23 18:30] rodriguv opened #6275 "Error detecting currently used Xcode installation"
### Issue Description

I get this error message during the gym step "Error detecting currently used Xcode installation." I noticed the xcode_path in fastlane might be adding an extra "/" that interrupts finding the path.

My DEVELOPER_DIR doesn't seem to be the issue:

C02JV7HYDKQ1:[DIRECTORY] rodriguv$ echo $DEVELOPER_DIR
/Applications/Xcode8.app/Contents/Developer/Contents/Developer
##### Comple

[2016-09-23 18:31] reidmain commented on #6274
I figured out why. I specify `iphone 6s (9.3)` for my device to scan but apparently that build server has multiple iPhone 6s 9.3 simulators. Scan then runs on every one of them.

It feels like scan should only run on the first simulator it finds that matches the pattern?

[2016-09-23 18:35] yakimant opened #6276 "match: Print certificate info (SHA-1, name, keychain)"
Hi there!

It would be very nice to have additional info, like provisioning profile:

[code]

For example:

[code]

[2016-09-23 18:41] rodriguv commented on #6275
not code signing related.

[2016-09-23 18:47] rodriguv commented on #6275
In the fastlane/fastlane_core/lib/fastlane_core/helper.rb, does it add an extra "/"

[code]

[2016-09-23 18:51] KrauseFx commented on #6275
So by removing or adding the training `/` this issue would be fixed?

[2016-09-23 19:05] rodriguv commented on #6275
I might be wrong, but maybe?

[2016-09-23 19:06] TKBurner commented on #6207
@dirkoswanepoel Great to hear from you! Can you try uploading a valid build manually and then checking to see if it works? We'd love to see a PR to correct this behavior in the long term. Thanks!

[2016-09-23 19:50] johnryan commented on #6273
Turns out one of my settings for `$(PRODUCT_BUNDLE_IDENTIFIER) ` got changed, not sure how that happened.

[2016-09-23 19:50] #6273 closed

[2016-09-23 20:13] nafu opened #6277 "[gym] EXPORT FAILED without using legacy build api on CircleCI"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I found the gym problem on CircleCI, and show one sample solution without using legacy build api (**Solution B** listed below).
It would be better to revise [gym/lib/assets/wrap_xcodebuild/xcb

[2016-09-23 20:34] drosenstark commented on #837
This is now real (I begged the author to include build number, and they obliged!). Should out to @SiarheiFedartsou for this plug!

https://github.com/SiarheiFedartsou/fastlane-plugin-versioning

I'm personally doing this:

[code]

I'm currently specifying the target per lane, but that's probably my lack of understanding.

[2016-09-23 20:40] KrauseFx commented on #1860
@wongzigii Could you please submit a new issue for this?

[2016-09-23 20:41] KrauseFx commented on #6277
So by unsetting those variables the build is working for you?

[2016-09-23 20:43] drosenstark commented on #8
Thanks to this plug you can now update the plists directly for version numbers and build: https://github.com/SiarheiFedartsou/fastlane-plugin-versioning

I'm using it like this (inside a lane):

[code]
and I  have one of those per lane (I'm just learning this stuff... I imagine I could DRY it out somehow?)

Big shout out to @SiarheiFedartsou for providing this necessary plug. Cool stuff, thank you

[2016-09-23 21:25] klundberg opened #6278 "update_app_identifier and update_project_provisioning both change current directory, but do not change back when done"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

If you run the `update_app_identifier` or the `update_project_provisioning` action, they change directories from `${SRCROOT}/fastlane` to `${SRCROOT}`, but they never change back when they are

[2016-09-23 21:39] klundberg commented on #6278
@fastlane-bot nope, not this time!

[2016-09-23 21:48] rodriguv commented on #6055
@newmarcel Could you paste that section of the fastfile where you added that line inlcuding the gym step so I can take a look? Just curious to how you set it up exactly. Thanks!

[2016-09-23 21:48] klundberg commented on #6278
This could also be a bug in xcodeproj, since both of these actions use that, but i'm not certain yet.

[2016-09-23 21:52] klundberg commented on #6278
Might be related to this too: https://github.com/CocoaPods/Xcodeproj/pull/404

[2016-09-23 22:22] giacgbj opened #6279 "Move from sonar-runner to sonar-scanner"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Just run the sonar action :-)

[code]

It should be extremely easy to change the script to call.

### Configuration Files

Fastfile:
[code]

### Environment

fastlane version (run `fastlane -v

[2016-09-23 23:24] 92tonywills commented on #6269
Removing json 2.0.2 is not a fix, any of my other gems could depend on that version of json.
Also, other gems in fact do work under this configuration (cocoapods for instance).

Using a Gemfile would fix this problem I know, but it seems like over kill IMO just to run one script - is there no way to do this at the application level?

[2016-09-23 23:55] mgrebenets commented on #6140
Indeed, it seems to be tracked there already https://github.com/supermarin/xcpretty/issues/235.
Should I close this one or keep it open until `xcpretty` releases a patch?

[2016-09-24 01:01] scottrhoyt commented on #6111
Same thing for me on travis and Xcode 8. Can't find an `erase_simulators` action. Is that perhaps `reset_simulators` now?

[2016-09-24 01:05] scottrhoyt commented on #6111
FWIW `clean: true` and running `reset_simulators` did not work for me.

[2016-09-24 03:51] nafu commented on #6277
@KrauseFx

Yes

[2016-09-24 06:17] nafu commented on #6277
Well... In my private projects, it is working.
But [the sample](https://github.com/ookamiinc/Xcode8BuildOnCircleCI) isn't.

I need more investigation, sorry for bothering you.

[2016-09-24 06:27] bonzoq commented on #5863
Interesting. This issue didn't occur in fastlane ver. 1.102.0 anymore.

Anyways, thanks for your work!

[2016-09-24 08:34] nafu commented on #6277
I could reproduce success and failure with sample project.

## Success Case

Unset these on xcbuild-safe.sh.

[code]

#### xcbuild-safe.sh

https://github.com/nafu/fastlane/blob/8f673679580e6e539ef6f2de0dfb34794d7a961a/gym/lib/assets/wrap_xcodebuild/xcbuild-safe.sh#L52-L58

#### CircleCI

https://circleci.com/gh/ookamiinc/Xcode8BuildOnCircleCI/20

## Failure Case

With fastlane current master 7211

[2016-09-24 08:47] newmarcel commented on #6055
@rodriguv I'm not using fastlane in CI currently, but a custom **Makefile**. In the meantime my setup has also changed, because I have a better understanding of the codesigning process of Xcode 8 now:

- I moved the team ID back into the project (xcconfig)
- Provisioning Profiles are set to automatic
- I call gym without xcodebuild overrides
- Xcode 8 required me to add development certificates an

[2016-09-24 09:29] poolqf commented on #6191
@KrauseFx the ideal solution for me would be to let Xcode do all the work, and not use match.

I feel like match is great when you are in an app that several people is developing. I don't have experience using Xcode's automatic signing on an app with multiple developers, maybe it also does all the work for you.

[2016-09-24 10:35] RaInvis opened #6281 "Couldn't find newly created app on iTunes Connect - please check the website for more information"
/Users/RaInVis/.rvm/gems/ruby-2.3.0@global/gems/fastlane_core-0.52.0/lib/fastlane_core/ui/interface.rb:132:in `crash!': [!] Couldn't find newly created app on iTunes Connect - please check the website for more information (FastlaneCore::Interface::FastlaneCrash)

The question makes me crash....who can help me ??  The question is appearing at creating app on itunes connect....I dont know how to sol

[2016-09-24 15:01] vgorloff commented on #6219
Similar issue on my side. Fixed by following code:

[code]

[2016-09-24 15:59] vegidio-symbio commented on #6248
@tiferrei I'm having the same problem. Do you mind to share show you reset your login keychain? Thanks in advance.

[2016-09-24 18:53] nafu opened #6282 "[gym] Issues found after uploading build to iTunes Connect with legacy build api"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

I uploaded build to iTunes Connect **with legacy build api**.
I got the email below from iTunes Connect.

Note using legacy build api with Xcode 8 GM:
1. Does not work with Swift 2.3 at least (I

[2016-09-24 21:47] jblack10101 opened #6283 "Equivalent of -exportProvisioningProfile?"
Is there an equivalent gym parameter to xcodebuild's -exportProvisioningProfile?  I would like to specifically define the provisioning profile that should be used to export the archive to ipa.

provisioning_profile_path is no longer supported, and by using codesigning_identity, the wrong provisioning profile is selected because there are multiple profiles that will "work" for the app, but only one

[2016-09-24 22:25] tiferrei commented on #6248
Hello @vegidio-symbio, I solved this by going into the keychain app, going to settings and resetting the main keychain, obviously this will reset all your passwords and keys, etc, so be sure to backup before, make a copy of the keychain to the desktop, then reset the keychain, and copy back the items from the keychain backup.

Hope this helps,
tiferrei

[2016-09-25 04:07] pedro380085 commented on #6219
So basically this is the guide from converting from PROFILE_UDID to PROVISIONING_PROFILE_SPECIFIER

[2016-09-25 04:08] pedro380085 commented on #6219
@puttin Isn't it needed to set your `PROVISIONING_PROFILE` to empty?

[2016-09-25 07:42] pikaboo commented on #4220
I am having hard time with gym- it is making me invalid builds for the app store. The build succeeds to be made, succeeds to be uploaded but then the appstore flags it as invalid

[2016-09-25 07:58] mgrebenets commented on #5435
Here it is: https://rubygems.org/gems/fastlane-plugin-wait_xcrun

Just published it and haven't yet fully tested in our project. Will post an update later.

[2016-09-25 08:37] FlyingNoob opened #6284 "I already install and update to the latest version but execute `fastlane -v` show me the version is 1.101.0"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I installed the fastalne latest version . But when I execute `fasten -v` it show me the version is 1.101.0.
I'm sure when I install fastlane version is 1.104.0.
The fabric show me the version

[2016-09-25 11:33] pikaboo commented on #4220
I updated the new sigh and was VERY disappointed :(

I was saving an **if** in my build script by using the following command

```  sigh(adhoc:adhoc,development:!adhoc, provisioning_name:profileName, ignore_profiles_with_different_name:true, app_identifier:app_identifier)```

meaning adhoc was always the opposite of development
but now I can no longer pass both variables in the same command forcin

[2016-09-25 18:46] EricKuck opened #6285 "Screengrab improperly handles the adb server being out of date."
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Screengrab thinks "adb" is a valid device name if the adb server is out of date and must be restarted upon running the `adb devices -l` command because it isn't in the array used for `devices.r

[2016-09-25 19:13] nickeyzzz opened #6287 "Option for deliver to force it use DAV protocol"
### New Issue Checklist
- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

Is it possible to add the option to start "deliver" and force it to use DAV transfer protocol? Something like
deliver -t DAV
For me DAV works stable, while other protocols - Signiant and Aspera

[2016-09-25 20:12] KrauseFx commented on #6191
@poolqf _match_ will sync your private keys also, which Xcode doesn't. So it doesn't cover distribution

[2016-09-25 21:35] bartonhammond opened #6288 "fastlane/snapshot/example fails"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

Following these steps fails to create snapshots

[code]
##### Complete output when running fastlane, including the stack trace and command used

[code]
### Configuration Files

Please copy the c

[2016-09-26 04:45] pedro380085 commented on #1393
Same thing here, even when I download a fresh profile with sigh, in the end I get the error message that "aps-environment" is not included. Started happening on Xcode 8.

[2016-09-26 07:28] hachibe opened #6289 "Export fails for enterprise with Xcode8"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

When I use Xcode8 and the following gym for exporting by enterprise, it is failed with message "Exit status: 12" and "Error packaging up the application".

[code]

##### Complete output when r

[2016-09-26 07:42] Anders123fr commented on #5782
I am not that much into Ruby so don't know how to build it myself, so i was hoping someone could try it out.

[2016-09-26 08:16] yeyimilk opened #6290 "scan stuck after finished running tests"
### New Issue Checklist
- [ ] Updated fastlane to the latest version
- [ ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

I have installed the latest version of scan, but not fastlane.
It's awesome and works well in my server mac pro if directly open the server mac pro command line and enter
`scan --workspace myApp

[2016-09-26 08:59] yeyimilk commented on #6290
[code]

[2016-09-26 09:04] kitsunde opened #6291 "Minor documentation aesthetic issue"
On https://docs.fastlane.tools/best-practices/ContinuousIntegration/#circle-integration

[code]

The `:rocket:` doesn't get replaced with :rocket:

[2016-09-26 09:11] hachibe commented on #6289
Yes, it is succeeded with Xcode7.

[2016-09-26 10:02] ChristopherDrum commented on #6219
So, let's be clear about how my project is built:

There is the MainProject.xcworkspace
Which is set up as a gittree, not using CocoaPods
But there are two submodules (private SDKs)

We have two (2) schemes:
    "MainProject" and "MainProject Beta"
We have two (2) product identifiers:
    com.company.mainproject and com.company.mainprojectbeta
We have three (3) configurations:
    "Release"  "Debu

[2016-09-26 12:05] chezzdev commented on #1747
Why not handling both UTF-8 and UTF-16 formats?

[2016-09-26 12:35] jamyc opened #6292 "Providing a detailed error message to slack"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

I'm forcing a failing build and get a generic exception in Slack:
`Error building the application - see the log above`

A couple lines above that (in the Jenkins console output) it shows the err

[2016-09-26 12:39] avnerbarr opened #6293 "Exit status 65"
### New Issue Checklist
- [x ] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

Did the following commands:
cert
sigh
gym
##### Complete output when running fastlane, including the stack trace and command used

▸ Check Dependencies
*\* ARCHIVE FAILED **

The following buil

[2016-09-26 13:40] Lutzifer commented on #6241
see http://stackoverflow.com/questions/36963467/how-do-i-manually-add-existing-provisioning-profiles-and-certificates-to-fastlan/37057325?noredirect=1#comment64759957_37057325

[2016-09-26 14:54] KrauseFx commented on #4220
@pikaboo Sorry I'm not following, why can you not pass both variables any more? Could you please submit a new issue for this? I'm gonna close and lock this one, as there is a lot of subscribers to this issue already 👍

[2016-09-26 14:54] #4220 closed

[2016-09-26 14:56] TKBurner commented on #6293
Hi @avnerbarr Great to hear from you! Can you share the full output of cert and sigh? I want to take a look. Thanks so much!

[2016-09-26 14:58] DenHeadless commented on #6233
Guys, just trying to help with this issue. On my end this error happens several times:

[code]

Gem versions used:
sigh 1.10.2
match 0.6.4
gym 1.9.0

Updating to more recent versions of sigh, match and gym does not help.

Build is successful, however sign does not seem to find match-stored provisioning profile, and does not seem to save a new one there.

[2016-09-26 15:08] ohwutup commented on #6284
Hey @FlyingNoob! Thanks for raising the issue!

It looks like you might have two versions of _fastlane_ installed. From the info you are sharing it looks like `rvm` has version 1.101.0 installed, while the Fabric Mac app has installed 1.104.0 for you.

Because you have `rvm` using `sudo` in your `gem update` says there is nothing to update because the `sudo` part implies that the gem you are tryin

[2016-09-26 15:17] LovesBruins opened #6294 "Add 'spaceship' functionality for Google Play"
### New Issue Checklist
- [ x] Updated fastlane to the latest version
- [ x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

Would it be possible to add the 'spaceship' functionality to Google Play store so we can automate the creation/submission of NEW applications with pricing/distribution, and something to someho

[2016-09-26 15:21] pedro380085 commented on #6055
When I run it, the provisioning profile I set through PROVISIONING_PROFILE_SPECIFIER is marked as having the aps-environment = production entitlement, however; when I run it on gym,

[code]

[2016-09-26 16:36] yakimant commented on #5066
@lukeredpath, did you find, how to fix an issue?

[2016-09-26 17:39] gvarela commented on #6237
I have the same issue.

[code]
Is the error I get when running from a lane. Works fine on command line.

[2016-09-26 17:52] TKBurner commented on #6283
@jblack10101 Great to hear from you! Have you tried --xcargs or --xconfig? THanks!

[2016-09-26 17:53] TKBurner commented on #1860
@wolfe719 Can you open a new ticket and share the full input and output? I'd love to take a look. Hope you have a great day!

[2016-09-26 17:53] dral3x opened #6296 "Scan on Jenkins. Uncommon lib name breaks report generation"
### New Issue Checklist
- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

I'm running some unit tests on Jenkins. When it's Jenkins to execute `fastlane ios ci_tests`, it fails after all tests are executed.
This is the output

[code]

When I run the same lane on the s

[2016-09-26 17:56] TKBurner commented on #1005
@MarcPilgaard Great to hear from you! Can you make sure your build export settings have `dwarf w/DsYM`? If that doesn't work please open a new ticket and share the full input and output. I'd love to look into this!

[2016-09-26 17:57] TKBurner commented on #6276
@yakimant Great idea! I'm going to leave this open to see if anyone from the community +1s. Are you interested in submitting a PR? We'd love to see that 👍

[2016-09-26 18:00] TKBurner commented on #5259
@geoHeil Thanks for following up. You WWDR cert consists of two parts the certificate and the secret key. Your keychain should show a triangle next to the WWDR that lets you expose the secret key. It appears that is the problem here.

[2016-09-26 18:03] TKBurner commented on #4301
@Douvi @i-schuetz Can you make sure all these variables are set:

Your iTunesConnect and Developer accounts can have separate emails so we have it separated out in the tool:

[code]

[2016-09-26 18:05] TKBurner commented on #6296
@dral3x Great to hear from you! Sorry to hear about this issue. Can you let me know if

`set -o pipefail && env NSUnbufferedIO=YES xcodebuild -workspace ./SPKCommon.xcworkspace -scheme Console\ Tests -destination 'platform=iOS Simulator,id=BE848D02-E6B3-4CEA-80D2-FADCD723E751' -derivedDataPath '/Users/sandro/.jenkins/workspace/ios-common-tests/ios-common/derivedData' -resultBundlePath '/Users/sand

[2016-09-26 18:07] TKBurner commented on #6294
@LovesBruins Great idea! We'd love to see some of this functionality added. I'm going to leave this open as a feature request. If someone is interested in a PR let us know so we can help you scope the project!

[2016-09-26 18:08] TKBurner commented on #6292
@jamyc Great to hear from you! I think this could be better too. Are you interested in submitting a PR? This seems like a great place to contribute. Thanks!

[2016-09-26 18:10] TKBurner commented on #6291
@kitsunde Thanks for pointing this out! We'll update it. Hope you have a great day and thanks for checking out our new docs site. 👍 👍

[2016-09-26 18:12] TKBurner commented on #6290
@yeyimilk Thanks for reaching out. Can you try setting the --scheme parameter of _scan_?

[2016-09-26 18:15] TKBurner commented on #6289
Hi @hachibe, great to hear from you! Does: `xcodebuild clean -showBuildSettings -workspace xxx.xcworkspace -scheme xxx` (with proper values) succeed?

[2016-09-26 18:20] TKBurner commented on #6288
@bartonhammond Are you able to successfully run other fastlane commands from the fastlane or project folder?

Let me know if you figured this out, I'd love to add this to the docs.

Thanks!

[2016-09-26 18:22] TKBurner commented on #6287
@nickeyzzz Great to hear from you! Can you try something like this:

`DELIVER_ITMSTRANSPORTER_ADDITIONAL_UPLOAD_PARAMETERS="asdf" deliver`

Thanks!

[2016-09-26 18:28] TKBurner commented on #6285
@EricKuck Thanks for the commit. Can you create a PR around this so we can fix this? Thanks!

[2016-09-26 18:30] EricKuck commented on #6285
There is a PR already - #6286

[2016-09-26 18:39] i-schuetz commented on #4301
They are set. Above in the conversation is the file I was using at that point.

[2016-09-26 18:48] ph661 opened #6297 "How to delete or reset the password of per repository for match,i forget the password"
i want to delete or reset the password

[02:32:18]: Enter the passphrase that should be used to encrypt/decrypt your certificates
[02:32:18]: This passphrase is specific per repository and will be stored in your local keychain
[02:32:18]: Make sure to remember the password, as you'll need it when you run match on a different machine
Passphrase for Git Repo:

[2016-09-26 18:51] TKBurner commented on #6282
@nafu Hope you are doing well! Thanks for submitting this. Do you think we need to update our error messaging around this? Do you think you'd be interested in submitting a PR? Thanks!

[2016-09-26 18:52] TKBurner commented on #6281
@RaInvis Thanks for reaching out. Can you please submit using the full issue template? Make sure you have your full input and output. Thanks!

[2016-09-26 18:54] TKBurner commented on #6279
@giacgbj Awesome! Thanks for your contribution. We'll work with you on your pull request.

Hope you have a great day!

[2016-09-26 18:54] #6279 closed

[2016-09-26 18:56] TKBurner commented on #6278
@klundberg Can you share your full input and output from one of these errors? I want to check it out. Thanks!

[2016-09-26 18:58] TKBurner commented on #6277
@nafu Thanks for sharing this. I just sent it out to the core team. We'll work with you here. Thanks!

[2016-09-26 18:58] TKBurner commented on #6275
@rodriguv Can you test this out? We'd love to see a PR from you!

[2016-09-26 19:01] TKBurner commented on #6274
@reidmain Great suggestion! Why do you have multiple iPhone 6s 9.3 simulators? Just want to see why this is a good use case. Thanks!

[2016-09-26 19:03] TKBurner commented on #6272
@GandjaFuzz Can you run `fastlane run update_fastlane` and let me know if you are still running into this issue. If you are, please provide the full input and output of frameit? Also your framefile. Thanks!

[2016-09-26 19:05] TKBurner commented on #6269
@92tonywills Thanks for following up. For now the Gemfile is the best path forward. I don't know of a way to fix this at an application level, I suppose you could force it in RVM by switching rubies each time you run.

[2016-09-26 19:06] TKBurner commented on #6268
@geoHeil Can you provide the full input and output from your terminal? I'd love to take a look. Thanks!

[2016-09-26 19:08] TKBurner commented on #6267
Hi @geoHeil Thanks for reaching out. Does the build appear on iTunes connect after this? Thanks!

[2016-09-26 19:11] kitsunde opened #6298 "Is there a way to get a blank xcworkspace to work with gym through cli?"
If I want to have a clean cordova build, I'm not supposed to include the ios platform, instead it gets generated on the build server together with everything else.

I can generate xcworkspace via xcode on CI. But is there some way of configuring xcode over cli like here: https://docs.fastlane.tools/codesigning/XcodeProject/#setting-up-your-xcode-project?

[2016-09-26 19:12] TKBurner commented on #6265
@dumoko Thanks for reaching out.

Can you run `match distribution` command not in a lane?

Check out this page for some help:
https://github.com/fastlane/fastlane/tree/master/match#readme

[2016-09-26 19:13] bartonhammond commented on #6288
I can run my Fastlane in my personal project which uses Match, gym and
pilot.  But on this example project, not good.  I'm just following the docs
from the Snapshot Readme.md.  I am running on Mac.

On Sep 26, 2016 1:20 PM, "Todd Burner" <notifications@github.com> wrote:

@bartonhammond <https://github.com/bartonhammond> Are you able to
successfully run other fastlane commands from the fastlane or

[2016-09-26 19:24] TKBurner commented on #6263
@muzammil-triffort Does this happen if you manually distribute the build on testflight? Thanks!

[2016-09-26 19:32] muzammil-triffort commented on #6263
I did't checked that, but I will do and let you know. Thank you in advance.

[2016-09-26 19:38] TKBurner commented on #6264
@owurman Any chance you can supply a sample project that is affected? Thanks!

[2016-09-26 19:40] TKBurner commented on #6256
@GandjaFuzz Very cool. I'm going to leave this ticket open in case anyone wants to submit a PR. Thanks!

[2016-09-26 19:43] TKBurner commented on #6249
@reidmain Thanks for reaching out here. Do you have multiple simulators for each device type and os? That would cause this with scan. I think you can workaround this by supplying the UUID of the desired simulator.

[2016-09-26 19:44] reidmain commented on #6274
@TKBurner the weirdest thing is I have absolutely no idea how it happened. These are Mac Minis setup strictly for CI so people are rarely doing anything manually to them. My only thought was that we use the `xcrun simctl erase` command to reset our simulators before launching our build job and maybe if one of the simulators was in the incorrect state something happened. That or perhaps updating to

[2016-09-26 19:45] TKBurner commented on #6242
Hi @WilliamParty! Hope you are doing well. It should be present in the output. However, what specifically are you looking for? Thanks!

[2016-09-26 19:45] TKBurner commented on #6241
@Lutzifer Thanks for stepping in here 👍 👍

[2016-09-26 19:46] TKBurner commented on #6239
@chshapiro You can only use the remove action on pilot to remove external testers by email. Thanks!

[2016-09-26 19:46] #6239 closed

[2016-09-26 19:51] TKBurner commented on #6238
@diogot Would you be interested in submitting a PR to make both behaviors work on one of the actions? Thanks!

[2016-09-26 19:53] reidmain commented on #6249
@TKBurner not on the machine that generated the stack trace I provided. I did have the multiple simulator problem on some of my CI boxes (so I raised https://github.com/fastlane/fastlane/issues/6274) but this issue was run into on my development machine where I only have a single simulator for the iPhone 6s.

Turning `skip_blue: true` makes complete sense to me because there is really no reason to

[2016-09-26 19:57] TKBurner commented on #6274
@reidmain Nice! That sounds like a viable solution. I think you can also provide the UDID after the simulator name.

[2016-09-26 20:00] TKBurner commented on #5665
@wongzigii Can you uninstall and reinstall openSSL? Thanks!

[2016-09-26 20:01] #5398 closed

[2016-09-26 20:09] reidmain commented on #6274
@TKBurner there would be no way to ensure the simulators across all of our CI boxes have the same UUID so it wouldn't scale.

Should this issue be kept open, or another one opened, so that scan by default doesn't use multiple simulators if they somehow exist? It would make sense to me to run multiple times if you explicitly provided the names of multiple devices but in my mind if you only provide

[2016-09-26 20:14] TKBurner commented on #6226
@craigmarvelley Great to hear from you. Can you test a few things for me. What happens if you have an english folder in addition to the default folder. Does it succeed? I want to see if this only holds for english. Thanks!

[2016-09-26 20:20] dral3x commented on #6296
@TKBurner it does not completes. It is stucked here

[code]
Any idea ?

[2016-09-26 20:24] #6285 closed

[2016-09-26 20:31] KrauseFx commented on #6275
👍

[2016-09-26 20:42] TKBurner commented on #6274
@reidmain Would you be interested in submitting a PR to correct this behavior? I'm sending this out to the core team as well. Hope you have a great day!

[2016-09-26 20:59] mfurtak commented on #6285
#6286 has shipped as part of [_screengrab_ v0.5.3](https://github.com/fastlane/fastlane/releases/tag/screengrab%2F0.5.3)

[2016-09-26 21:00] jaleksynas commented on #6151
Same issue here, deliver/pilot at the command-line with the same ipa file and credentials works fine.  Within the fastlane lane the uploader exits immediately with no error message other than `The call to the iTMSTransporter completed with a non-zero exit status: 1. This indicates a failure.`

It worked a few days ago w/ pilot 1.10.0, fastlane 1.102.0, fastlane_core 0.51.0 (Xcode 7.3.1)
Currently

[2016-09-26 21:14] anlumo commented on #1781
@KrauseFx asked me to share the log of sigh failing on a Mac app:

[code]

The app ID does exist, the app is even in the store already. I suspect that it looks for iOS app IDs, not macOS app IDs.

[2016-09-26 21:46] reidmain commented on #6274
@TKBurner unfortunately I don't think my Ruby skills are in a place where I could contribute effectively.

[2016-09-26 21:54] KrauseFx commented on #6281
Could you also post a screenshot of the iTunes Connect page?

[2016-09-26 21:58] kcharwood commented on #6151
Seeing a similar issue I believe. Console Log isn't helpful.

[2016-09-26 22:09] hachibe commented on #6289
@TKBurner Thanks for your reaction!
Yes, it succeed.
xcarchive is also created at organizer.
But ipa is not created.

[2016-09-26 22:10] TKBurner commented on #6171
@emendamus I'm unable to reproduce this hear. Are you able to reproduce it on your local machine? Also, what happens if you temporarily disable two factor and run this lane and then re-enable. That's the only difference I can think of between our setups since my keychain was setup before Apple had 2-Factor. Thanks!

[2016-09-26 22:16] jaleksynas commented on #6151
The transporter command generated in all three use cases is identical:

1. `fastlane` execution w/ `gym` & `pilot` actions (iTMSTransporter exits immediately with no message)
2. `fastlane` execution with ONLY `pilot` action (Upload works)
3. `pilot` command-line execution (Upload works)

Manually running the generated ITMSTransporter command throws a NP Exception in all cases so it is hard to tell

[2016-09-26 22:46] #1632 closed

[2016-09-26 22:51] oysta commented on #4414
This was implemented in #4421

[2016-09-26 22:51] #4414 closed

[2016-09-26 23:04] ZevEisenberg commented on #4356
Pretty sure this is 👍 now.

[2016-09-26 23:04] #4356 closed

[2016-09-26 23:42] KrauseFx commented on #853
@realf you can disable colored output using the `FASTLANE_DISABLE_COLORS` environment variable

[2016-09-27 00:00] mgrebenets commented on #5435
Looks good when plugged into one of our projects, action runs all the same.

[2016-09-27 00:17] evilDave commented on #3481
I have not worked on this as yet. I will be releasing some apps in the next week or so. If I get time I will investigate what calls need to be made and may be able to put in a PR. As a side note, I do not have a licence for PAW so will be using postman. Any interest in my adding a postman collection for the api when I transfer it from paw, update it to the new version and add the new calls for thi

[2016-09-27 00:17] waroo commented on #5102
Is there a way to determine which country the error is applicable to?

[2016-09-27 01:22] owurman commented on #6264
OK, so in trying to create you a sample project, I found that Ruby's concept is pwd (present working directory) is changed by the xcodeproj gem's Project.save(). This is what's causing this to appear as a bug. So, it's very specific to my setup, because I'm doing project-munging. It's probably more accurately a bug in xcodeproj. You can close this.

[2016-09-27 01:23] owurman commented on #6264
Although, https://www.dropbox.com/s/nmq09gajzbrl42i/test.tgz?dl=0 if you are curious. run `fastlane snapshot_lane` from Custom/Flavor/

[2016-09-27 02:17] twenty-zp opened #6302 "I want to pack a Fir version, but it has been a ADHOT version. The configuration is invalid"

[2016-09-27 02:48] cybertk commented on #1537
This issue is not resolved on latest fastlane

[2016-09-27 02:52] #6302 closed

[2016-09-27 04:06] nafu commented on #6282
@TKBurner

Thanks for the comment.

Yes. It's not good for fastlane users that they notice this kind of errors after uploading builds iTunes Connect.
If builds with legacy build api aren't accepted totally on iTunes Connect, failing the build make sense.

Sure.

[2016-09-27 04:16] bimawa commented on #5125
Guys catch same issue, but after load manually build to Connect and get error, after that i receive email with errors.

Maybe its help for someone ;)

[2016-09-27 05:50] Gladkov-Art commented on #6268
I had the same issue and indeed it was related to code signing problems.

[2016-09-27 06:21] suculent commented on #5125
I had ITMS Transporter errors even without receiving any e-mail however the Push notification thing is an Xcode bug which happens when opening older project. The switch in Projects Capabilities pane turns itself off.

The privacy usage descriptions are a must of course.

Odesláno z iPhonu

27. 9. 2016 v 6:16, Maxim Bunkov <notifications@github.com>:

[2016-09-27 07:45] dral3x commented on #5137
It will be a "nice to have" feature. We can work without it :)

[2016-09-27 07:45] #5137 closed

[2016-09-27 08:06] bencollier commented on #1789
This functionality hasn't yet been added - so worth keeping open.

[2016-09-27 08:17] ConfusedVorlon commented on #1731
this is still an issue.

fastlane (1.104.0)
frameit (2.7.0)

[2016-09-27 08:19] nolanwilson commented on #948
FWIW, I think spaceship should be using a variable like `SPACESHIP_DEBUG`. I have other projects that, for better or worse, rely on this env variable to be set, but I don't want spaceship running in debug mode at that time.

Just ran into this issue when working on a project.

[2016-09-27 08:26] Lutzifer commented on #6233
this is very similar to https://github.com/fastlane/fastlane/issues/5649

[2016-09-27 08:31] SirobChilokin commented on #4687
build_number = increment_build_number
    version_number = get_version_number(xcodeproj: "Cupris.xcodeproj")
    complete_version_number = version_string(version_number, build_number)

[2016-09-27 08:55] JagCesar commented on #5649
Can confirm that symlinking the keychain like @podkovyrin mentioned above is a valid workaround on a clean install of Sierra.

[2016-09-27 09:06] cyupa commented on #1979
@bobbeat @KrauseFx Have you tackled this issue? I guess here is where it was left.

[2016-09-27 10:04] dmitry-mochalov commented on #1979
@KrauseFx sorry, I've missed your comment here somehow. I have tested the setup with `fastlane 1.104.0` and the issue is still there. Would you like me to submit a new issue?

[2016-09-27 11:40] cojoj commented on #5779
@mfurtak looks like so far everything works for us. I guess you can close this issue for now and if anything happens again we can reopen it, but I don't think it should stick around 😉

[2016-09-27 11:46] WedgeSparda commented on #6219
Same error error, but unchecking "Automatically manage signing" and using a specific Provision Profile didn't fix the problem.

[2016-09-27 11:57] naxIO opened #6303 "(Support Question) Unable to update change log"
Hi guys,

this is more of a support question rather then a bug (I assume). Thanks for your help!
### Issue Description

I'm trying to use fastlane deliver to update the changelog (which is empty right now) for a new release.

I have this in my
# Deliverfile

[code]

However when using deliver the changelog in the HTML output is always empty :(

There is a release_notes.txt in every folder in metad

[2016-09-27 13:43] #4190 closed

[2016-09-27 13:56] stanBienaives opened #6305 "Using produce enables_services --push-notification invalids the provisioning profile."
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

Hello,

The profile created with match (or any other manner) are invalid as soon as I run the following command
`sh produce enable_services --push-notification`

This behaviour is normal if the

[2016-09-27 14:26] MouldiGABSI opened #6306 "Scan compile all files twice when using fastlane on travisCI"
### New Issue Checklist
- [ ] Updated fastlane to the latest version YES
- [ ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
  YES
  ### Issue Description
  I am using fastlane with Travis CI to run unit test i am using Scan. when I take a look on the travis log, i find that all files are compiled twice test script take more then 10 mn

[2016-09-27 14:33] #5779 closed

[2016-09-27 14:48] marcelofabri commented on #4546
This is still an issue (a small one) with the latest fastlane.

[2016-09-27 16:00] dumoko commented on #6265
Hi!
Since there is no `match distribution`, did you actually mean `development`?

Please see the first post: I do run `match nuke distribution` from command line, and not a lane.
And get the same stuff.

I will disclose smth. Our email has the following form:
`| username              | product+service@company.com                   |`

Mb the `+` sign makes the `match` go nuts?

[2016-09-27 16:05] emendamus commented on #6171
Sorry for delay but here are my answers:
I upgraded to the latests fastlane version.
I disabled 2-Factor and I was able to upload the build.
But as soon as I activate it again I will get the following message:

[2016-09-27 16:17] michaelharro commented on #5458
this is still an issue. Here is an example of where the problem exists in the current codebase https://github.com/fastlane/fastlane/blob/master/fastlane/lib/fastlane/fast_file.rb#L214-L223

[2016-09-27 16:23] emendamus commented on #6171
I've just realized that I am using '2 factor' and that there is also '2 step'.
Is that maybe an issue?

[2016-09-27 16:57] gcstang commented on #1964
I don't see any fix or haven't been told of any nor do I see any in the closed issues.

Was this fixed?

[2016-09-27 17:03] Bureauwlamp opened #6307 "[Deliver] Q: Downloading screenshots of (old) live iOS App while new version is Prepare for Submission"
- [*] Updated fastlane to the latest version
- [*] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

Hi,

I have a small question about downloading data/screenshots. I have an application which is 'Ready for Sale' in ITC. A few months ago we've prepared an update with completely different screenshots, which was Pending, but never released.

[2016-09-27 17:16] pirocso commented on #6289
We are having the same issue. For us, the issue only appears when using update_app_identifier before gym. If I comment out update_app_identifier, no errors.

_update_app_identifier(app_identifier: ENV['APPID'], plist_path: "Info.plist")
gym(scheme: "Scheme Name", output_name: ENV['APPNAME'], use_legacy_build_api:true)_

I have confirmed with puts commands that both environment variables exist and

[2016-09-27 17:30] TKBurner commented on #6171
@emendamus Check out this article and let me know which one your account falls into: http://blog.elcomsoft.com/2016/04/apple-two-factor-authentication-vs-two-step-verification/

Thanks!

[2016-09-27 17:31] TKBurner commented on #6230
@DiogoLG Right now it's not possible. However, we'd love to see a PR to make this fail friendlier.

Thanks!

[2016-09-27 17:36] KrauseFx opened #6308 "bundle exec: wrong recommendation on how to run fastlane"
Via https://twitter.com/a2/status/780707046509449216

The recommended command seems wrong
![image](https://cloud.githubusercontent.com/assets/869950/18884873/2c4b9a10-849e-11e6-98d5-86c51a8e68e4.png)

[2016-09-27 17:37] TKBurner commented on #6235
@tinder-ayu Hope you are doing well! I was wondering if you can provide your full input and output? I'd love to take a look. Thanks!

[2016-09-27 17:42] TKBurner commented on #6119
@Sea-Eagle Are you still running into this issue? Did you follow these steps:

`Create a new UI Test target in your Xcode project (top part of this article)
Run snapshot init in your project folder
Add the ./SnapshotHelper.swift to your UI Test target (You can move the file anywhere you want)
(Objective C only) add the bridging header to your test class.
#import "MYUITests-Swift.h"
The bridging he

[2016-09-27 17:47] TKBurner commented on #6010
Hi @haydus! Thanks for following up. You can't overwrite a current version in testflight so that's why you are running into this issue. The the latest test flight build number action also only returns valid package numbers.

[2016-09-27 18:03] KrauseFx commented on #6230
You can use the `FASTLANE_HIDE_GITHUB_ISSUES` environment variable to disable looking for GitHub issues 👍

[2016-09-27 18:03] #6230 closed

[2016-09-27 18:12] haydus commented on #6010
This was not testflight, it was appstore submission but i guess your answer would be the same.
My scenario was that i had a "Waiting for review" app which i discovered had a bug and i wanted to replace it with a newer binary, with a newer version/build number.
Is there a way to somehow detect this situation and reject the current version, without needing to do it manually through iTunes Connect?

[2016-09-27 18:30] TKBurner commented on #1747
@chezzdev We'd love to see this implemented if you are interested! Hope you have a great day!

[2016-09-27 18:32] TKBurner commented on #6115
@tzq582905 You'll need to run gym twice to sign with the relevant profiles. Thanks!

[2016-09-27 18:36] TKBurner commented on #6099
Hi @programmin1 Is it always timing out on the

`xcodebuild -list -workspace ./somefile.xcworkspace`

step? I just want to see if it is reverting after a timeout. Thanks!

[2016-09-27 18:44] TKBurner commented on #1931
@lucianomarisi No problem! I'll leave this open in case someone from the community wants to take it on. 👍

[2016-09-27 18:48] kcharwood commented on #6151
We're seeing the exact same thing @jaleksynas

[2016-09-27 18:51] TKBurner commented on #1896
@jlubeck When you call the lane add the verbose flag:

`fastlane beta --verbose`

[2016-09-27 18:52] KrauseFx commented on #6151
According the log there is an issue with the login to iTunes Connect, is that the case? Can you upload manually using Xcode? Does it depend on the binary you provided? Has this worked before?

[2016-09-27 18:53] larsacus commented on #6151
If it helps, came to the same conclusion as @jaleksynas with @kcharwood with the NP exception. Suspecting it might be sierra related? Even ran the command manually with a brand new standalone version of java installed (not the packaged Xcode version) -- same.

Machine config:
Xcode 8 (8A218a)
macOS Sierra 10.12

[2016-09-27 19:00] TKBurner commented on #6152
@jorgeazevedo Are you able to reproduce this on a blank project? Thanks!

[2016-09-27 19:01] TKBurner commented on #4357
@pnicholls Awesome! Thanks for following up here. We'll close this out. Hope you have a great day!

[2016-09-27 19:01] #4357 closed

[2016-09-27 19:03] larsacus commented on #6151
@KrauseFx Actually just ran `pilot` separately in the command line, and the identical command that null-pointer-exception'ed out continued running just fine and gave me normal ITMS error output.

[2016-09-27 19:05] TKBurner commented on #6168
@akshaynhegde Awesome! No problem, we're really happy to have you using _fastlane_. Hope that you have a wonderful day!

[2016-09-27 19:05] #6168 closed

[2016-09-27 19:06] akaralar opened #6310 "Gym: xcode 8 error 14 and 70 on local machine, but works without errors on Travis with same config?"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

I'm trying to build my application and I encounter errors only when I'm trying to release from my local machine with adhoc configuration. App store configurations work ok, and the adhoc configur

[2016-09-27 19:08] jaleksynas commented on #6151
@KrauseFx I can upload the same gym built binary using a) standalone `pilot` and b) a lane with a `pilot` action hard coded to prebuilt ipa.

#### works
`fastlane tryme`
[code]

#### works
`pilot --ipa "/Path/to/my/app.ipa"`

#### fails
`fastlane tryme`
[code]

In all cases it is the same credentials.

[2016-09-27 19:22] akaralar commented on #6310
I tried the steps described in Code Signing Troubleshooting guide and Common Issues guide, to no avail.

[2016-09-27 19:22] bimawa commented on #6267
@geoHeil  catch same issue, after receive mail from apple

add this key, and all work done.

[2016-09-27 19:31] richlong commented on #6267
Hi, I was getting the same error but also got an email from Apple but mine was related to NSCalendarsUsageDescription in the plist. I've added this and successfully submitted to TestFlight.

[2016-09-27 19:32] pirocso commented on #6289
This is definitely NOT a code signing issue. The archive is created perfectly fine with both Xcode 8 and Xcode 7 from the IDE. And as stated above, this only happens if the _update_app_identifier_ command is used.

[2016-09-27 19:35] programmin1 commented on #6099
No, clean has been timing out, there is already an option that works, to change the timeout so -list does not time out (#87)

There is apparently no option to tell it not to clean - or even change the timeout for that process.

[2016-09-27 19:47] emendamus commented on #6171
I am using two factor. Thanks !

[2016-09-27 19:49] jaleksynas commented on #6151
@larsacus @kcharwood @Absoludacris06 did you each try the `FASTLANE_ITUNES_TRANSPORTER_USE_SHELL_SCRIPT=1`?

It seems to resolve my issue.  Still odd to see the different behaviors with fundamentally identical executions.

[2016-09-27 20:11] TKBurner commented on #6305
@stanBienaives Does your push certificate have to been renewed after you do this step? If so that makes sense, otherwise it seems like this is because of the API. Thanks

[2016-09-27 20:12] TKBurner commented on #6298
Hi @kitsunde what specifically are you trying to configure? What tool are you using? I'd love to help! 👍

[2016-09-27 20:19] TKBurner commented on #6223
@wuaschtikus @Philipp372 I want to reach out to the core team about this but first I need you to test on a blank Xcode project. If this is project specific we are going to need to investigate differently than if you can reproduce on a blank project. Thanks!

[2016-09-27 20:21] KrauseFx commented on #4546
Thanks for commenting @marcelofabri, I can confirm this is not ideal, however it would require a lot of work to actually implement this properly. Feel free to prepare a PR if you feel like it 👍

[2016-09-27 20:23] KrauseFx commented on #6265
The plus sign shouldn't be a problem.
Sorry @dumoko, I don't think I fully understand the issue, could you say what kind of result you expected, and how it was different?

[2016-09-27 20:24] TKBurner commented on #6151
@jaleksynas Thanks for following up. Sent this out to the team again. I'll be curious to see if this resolves it for others.

[2016-09-27 20:25] larsacus commented on #6151
@jaleksynas using that env var works for us. they are not technically identical executions, as the `FASTLANE_ITUNES_TRANSPORTER_USE_SHELL_SCRIPT=1` version executes:

[code]

which calls the binary directly, whereas without it, the executed command is executes it through a java warpper of some kind:

[code]

[2016-09-27 20:27] kitsunde commented on #6298
I ended up replacing `gym` with using cordova directly over `sh` (`ember cdv:build` here calls cordova). This is what my lane looks like now:

[code]

The issue was that Cordova keeps all the configuration in it's own config files so the ios project doesn't need to exist until the build happens so there's never a workspace. I was trying to create one anyways with:

[code]

But then the code signin

[2016-09-27 20:29] TKBurner commented on #6135
@dhoskins Awesome! That'd be really great. Hope you are having nice week. 👍 👍

[2016-09-27 20:35] TKBurner commented on #6298
@kitsunde Glad you got up and running. That seems like a good way of doing things. There might also be a way to do this with ENV.

[2016-09-27 20:35] #6298 closed

[2016-09-27 20:40] TKBurner commented on #6289
@hachibe  Can you confirm that this doesn't happen if you remove _update_app_identifier_? Does it only persist for enterprise? Thanks!

[2016-09-27 20:41] TKBurner commented on #6267
@geoHeil Did you get up and running? Thanks!

[2016-09-27 20:44] larsacus commented on #5649
I _think_ I'm running into something similar here on Sierra (upgrade from El Cap), but I have _both_ `login.keychain` and `login.keychain-db` in my `~/Library/Keychains/` folder and don't feel comfortable symlinking `-db` to the non-db. So I can't validate the above. 😞

[2016-09-27 20:45] TKBurner commented on #6010
@haydus I don't believe this is possible right now.

[2016-09-27 20:46] mfurtak commented on #6151
@larsacus yes, that's a good breakdown of what's going on.

Hi all, I'll try to provide a little context and history for what's probably going on here 😄

In the past, we have had problems with the `iTMSTransporter` shell script provided by Xcode. Its job is to take the input parameters and form a call to the underlying Java application that handles all the actual uploading.  However, [we discovere

[2016-09-27 20:46] TKBurner commented on #1964
@gcstang We've decided to close feature requests that haven't seen comments in 6 months. Are you interested in this feature?

[2016-09-27 20:47] mfurtak commented on #6151
I'll also add that I don't immediately understand why running through _fastlane_ as opposed to _deliver_/_pilot_ directly should result in a difference. I'll need to look into that as well!

[2016-09-27 20:48] TKBurner commented on #5458
@michaelharro Thanks for following up. Are you interested in submitting a PR to clean up some of this behavior? Thanks!

[2016-09-27 20:51] TKBurner commented on #6219
@ChristopherDrum @cyupa @MarkMolina @puttin @WedgeSparda I have let the core team know about this so we can take a look. Expect an update on this thread 👍

[2016-09-27 20:52] TKBurner commented on #1979
@dmitry-mochalov Yes please! @cyupa Can you open a new issue if you are still running into this as well? Thanks!

[2016-09-27 20:53] mfurtak commented on #6151
Can folks let me know what Mac OS version you are using? Is everyone who is having trouble using Sierra?

[2016-09-27 20:53] TKBurner commented on #5649
@JagCesar @larsacus I reached out to the core team about prioritizing a better fix for this. Thanks!

[2016-09-27 20:56] mcactive commented on #6151
Yep, also using Sierra..

[2016-09-27 20:56] TKBurner commented on #6233
@DenHeadless @Lutzifer Can you share your fastfile? I want to share this with the core team. Thanks!

[2016-09-27 20:57] TKBurner commented on #948
@nolanwilson Thanks for the suggestion 👍 I'll bring this up with the core team.

[2016-09-27 20:58] TKBurner commented on #1731
@ConfusedVorlon Thanks for following up. We'll leave this open and open it for community PRs. 👍

[2016-09-27 20:58] TKBurner commented on #1789
@bencollier Thanks! We'll keep this open 👍

[2016-09-27 20:59] TKBurner commented on #5137
@dral3x Thanks! We had to do some housekeeping 👍

[2016-09-27 20:59] mfurtak commented on #6151
@mcactive Do you have special characters (non-alphanumeric) in your password?

[2016-09-27 20:59] TKBurner commented on #6282
@nafu Awesome! I really appreciate it 👍 Hope you have a great day!

[2016-09-27 21:00] larsacus commented on #6151
Alphanumeric-only password here (also on sierra)

[2016-09-27 21:00] TKBurner commented on #1537
@cybertk We will leave this open. Are you interested in adding this to fastlane?

[2016-09-27 21:01] jaleksynas commented on #6151
El Capitan, xcode 8, alphanumeric pass.

[2016-09-27 21:02] mcactive commented on #6151
@mfurtak No, only alphanumeric..

[2016-09-27 21:02] TKBurner commented on #6274
@reidmain No problem! Thanks for using _fastlane_!

[2016-09-27 21:03] TKBurner commented on #1781
@anlumo Can you open up a new issue for this? That'd help!

[2016-09-27 21:03] #1781 closed

[2016-09-27 21:03] mfurtak commented on #6151
OK, cool - thanks for the info, everyone 👍

I'm still on El Cap at the moment (work restriction), so I'm glad I can aim to reproduce on that.

[2016-09-27 21:08] Absoludacris06 commented on #6151
@jaleksynas yes, I'm using `FASTLANE_ITUNES_TRANSPORTER_USE_SHELL_SCRIPT=1` as well.  Still fails with `[Transporter Error Output]: Your Apple ID or password was entered incorrectly`.  Xcode 8, alphanumeric + symbols pass, El Capitan.

[2016-09-27 21:13] Luke-SF commented on #1529
Even so, once images are removed as in the script above, you still need to have something that goes in and checks the "Use 5.5-Inch Display" and "Use 12.9-Inch Display", to make it use those high-resolution images, to make it submittable. I don't know if Fastlane has a command for that?

[2016-09-27 21:26] KrauseFx commented on #1781
Hey @anlumo, thanks for the stack trace. I took a closer look, and seems like _sigh_ only supports iOS projects at the moment ([source](https://github.com/fastlane/fastlane/blob/master/fastlane/lib/fastlane/actions/sigh.rb#L64)). Unfortunately we don't have the time to focus on Mac support for _fastlane_. I do know however, that @radex added Mac support to _spaceship_, so it could potentially be a

[2016-09-27 21:26] KrauseFx commented on #948
Great point everyone, updating this now 👍

[2016-09-27 21:28] marcelofabri commented on #4546
Couldn't we add another parameter to `trigger_action_by_name` which would be passed when calling from `other_action`? Then we could pass `nil` to `execute_action` in `trigger_action_by_name` which should hide the "inner" action to appear in the summary.

[2016-09-27 21:29] KrauseFx commented on #948
This will be in the next release https://github.com/fastlane/fastlane/pull/6312

[2016-09-27 21:47] mindrunner commented on #914
Still an issue. Did not have time yet to create a patch.

[2016-09-27 21:48] KrauseFx commented on #914
Sorry, no, I wasn't working on this issue.

[2016-09-27 21:58] mindrunner commented on #914
Hmm, yes, did not expect someone working on this. I might need it soon, though. So Maybe I will spend some time for it.

[2016-09-27 22:06] tinder-ayu commented on #6235
@TKBurner what do you mean by input and output?

setupSnapshot(app) in setUp() gives me unresolved identifier setupSnapshot.

[2016-09-27 22:13] #948 closed

[2016-09-27 23:41] michaelharro commented on #5458
np. theoretically I would be happy to do it but I am a new Dad and rarely have time to contribute to open source stuff these days. I would not rely on me to be able to do this.

[2016-09-27 23:55] jeeftor commented on #6118
@chrisfsampaio  - thanks for this issue it gave me a workaround to get things working in my situation.  In my case i have 2 targets with 3 different profiles per target in my code.

Using the     `xcargos: "PROVISIONING_PROFILE_SPECIFIER='Foo AppStore'"` helped things along.

[2016-09-28 00:08] tinder-ayu commented on #6235
Turns out it had to be individually enabled for each target. problem solved.

[2016-09-28 00:08] #6235 closed

[2016-09-28 01:24] steve-gray commented on #6233
I'm hitting this:  the fastfile is literally just the default one, but I added match/sigh to the 'beta' lane. It appears to plough on regardless, but the first time I realised this was a problem was when later on it failed to create the archive due to the profiles....

The symlinking keychain thing doesn't appear to help either.

[2016-09-28 01:42] steve-gray commented on #6233
Other folks are hitting the same issue on Sierra:

- https://github.com/openbakery/gradle-xcodePlugin/issues/297
- https://github.com/maciekish/iReSign/issues/89

The grade plugin solution appears to have been just to ignore the error.

[2016-09-28 02:23] pedro380085 commented on #6219
Similar issue here @TKBurner https://github.com/fastlane/fastlane/issues/6055#issuecomment-249602068. Tks!

[2016-09-28 03:04] ChristopherDrum commented on #6219
@WedgeSparda Hmm... I'm already using legacy_build_api: true... but maybe.....
*every* subproject.... needs.....
some kind of update for Xcode 8 build compatibility?
Could it be that all this time it wasn't "me" but rather "everyone else is wrong?" Hmmm....

[2016-09-28 03:31] KrauseFx commented on #914
Cool, let us know if you need any help getting started with contributing to fastlane @mindrunner 👍

[2016-09-28 03:31] nexus49 commented on #6289
Same issue here. I can also confirm that the error goes away when commenting out `update_app_identifier`

[2016-09-28 05:49] Saurman commented on #734
@TKBurner @Sega-Zero we are not, why would a build machine whose purpose to create IPA files should run an app in simulator? What u are saying is not entirely true, i've tried installing fresh IPA on a device and run it - app will not register with fabric. I suspect the have compiler directive that runs activation code only when executed by iOS simulator (which is BS imo)

[2016-09-28 06:44] DenHeadless commented on #6233
@TKBurner All errors reported here are a result of match command:

[code]

Matchfile:

[code]

Our environment is macOS Sierra, Xcode 8.

[2016-09-28 08:43] Lutzifer commented on #6233
i digged a bit deeper:

- Provisioning Profile seems to now install correctly (i guess after the workaround "ln -s ~/Library/Keychains/login.keychain-db ~/Library/Keychains/login.keychain" from https://github.com/fastlane/fastlane/issues/5649)

- the error message is caused by

plist = Plist.parse_xml(`security cms -D -i "#{path}"`)

in provisioning_profile.rb

[2016-09-28 08:45] jorgeazevedo commented on #6152
@TKBurner wrong jorge!

[2016-09-28 08:52] Philipp372 commented on #6223
@TKBurner I set up a blank Swift and also a ObjC project and integrated+initialized our product (which is an SDK in the form of a dynamic framework) via cocoapods. For both projects, the export went through successfully (also built via script and the archive + export commands used).
I also updated our app project to the recommended settings by Xcode 8, but the export still fails.

[2016-09-28 09:28] wkoszek commented on #6203
@TKBurner @wanbok @0xced This time I've hit this not only with Travis CI, but also with my Mac. The El Captain with XCode 8. Running `frameit` gives me:

[code]

Did the suggested workaround, but it didn't work.

[2016-09-28 09:37] Korcholis opened #6314 ""The App Name you entered has already been used" error on spaceship, but not through iTunes UI"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I'm using `spaceship` to update  many iTunes entries at the same time, and after the new name length limitation, I had to change the titles. Sadly I'm getting the error _"The App Name you ente

[2016-09-28 09:53] FlyingNoob commented on #6284
@ohwutup Thanks for your help ! I already found this problem.

[2016-09-28 10:07] dumoko commented on #6265
`match nuke` doesn't work as expected (i don't say it's match fault, I'm still assuming that I'm doing smth wrong).
But still.
In several words, `match nuke` says that there is nothing to nuke when there *is* stuff to nuke.
Because of this, everytime i run match to create new certificates, it always creates new ones, even if there is already one created just a minute ago(created also by match).

[2016-09-28 10:09] wkoszek commented on #6203
Actually the workaround worked fine. I've had to do this:

[code]

since I think something is messed up with my `GEM_HOME` variable.

[2016-09-28 10:11] BulletWu opened #6315 "Could not find action or lane 'pod_install'. Check out the README for more details: https://github.com/fastlane/fastlane/tree/master/fastlane"
Could not find action or lane 'pod_install'. Check out the README for more details: https://github.com/fastlane/fastlane/tree/master/fastlane

+------+-------------------------------------+-------------+
|                     fastlane summary                     |
+------+-------------------------------------+-------------+
| Step | Action                              | Time (in s) |
+------+-----

[2016-09-28 10:41] ricardolpd commented on #5742
Hi guys, I am using 1.104.0, and i still have this issue, scan is always reverting to the default simulator even though I have the simulator requested, has this fix made its way to the official release?
If so have you guys made any changes to the way to describe simulators in -device

The one we are using is: "platform=iOS Simulator,name=iPhone 5s,OS=9.3"
The output given by fastlane is:

[11:41:2

[2016-09-28 10:51] igorstimoli commented on #6281
I had the same error twice today
Here is the log output (just replaced some sensible data with ******

[code]

[2016-09-28 11:22] XPMCoding opened #6316 "Does not have access to any teams with an active membership... Have Certs on laptop"
### New Issue Checklist
- [ ] Updated fastlane to the latest version
- [ ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description
##### Complete output when running fastlane, including the stack trace and command used

[code]
### Configuration Files

Please copy the complete content of your `Fastfile` and any other configur

[2016-09-28 11:34] SandyChapman commented on #5742
@ricardolpd Try using just "iPhone 6" as the simulator name. Or possibly "iPhone 6 (9.0)" if you want to lock the version.

[2016-09-28 12:15] stanBienaives commented on #6305
No my push certificate is still valid. I must add that I only see this behaviour since last fastlane update ( and upgrade to Xcode 8 - which should not be related..)

When you say this is because of the APIs behavior what API are referring to? The apple dev portal I guess?

Off topic but I take this opportunity to congratulate all the fastlane team (and especially @KrauseFx ) for the amazing work

[2016-09-28 12:23] tomachi commented on #4702
Still have this issue.

[2016-09-28 12:30] wanbok commented on #6203
@wkoszek You must call @wuaschtikus , not me :p

[2016-09-28 12:39] gcstang commented on #1964
I am, submitted it originally but haven't seen any movement on it.

[2016-09-28 12:49] dumoko commented on #6265
Some more info.
So we have two teams:
1) Apple Developer Enterprise Program - lets call it team A
2) Apple Developer Program - lets call it team B (the one that is eligible for AppStore deploying)

Last days I was manually creating certificates and provisioning profiles.
Today I decided to try match one more time.
Please note that my Matchfile containts just the `username` and the `git_url`.
Here

[2016-09-28 13:04] dumoko commented on #6265
Next, I revoked the certificate manually.
Next, I ran `match adhoc` in the terminal, and as stated before, it doesn't work:
[code]

Please note the certificate ID. First, it creates it, and after it says it can't find one.

[2016-09-28 13:40] vgorloff commented on #5125
Something similar on my side

fastlane 1.104.0

[code]

On iTunesConnect:
- Build successfully deployed
- I can manually start testing.

[2016-09-28 13:51] jake commented on #5125
I think I have a similar issue, but for me it seems to be because I'm testing an iOS and tvOS app combo. Specifically, a Unity project which I export as tvOS and iOS into separate projects but with the same bundle ID. The iOS project uploads to ITC seamlessly, but the tvOS one always fails with this error.

Just thought I'd add this, if it's at all helpful. I know fastlane doesn't fully support tv

[2016-09-28 13:58] ricardolpd commented on #5742
@SandyChapman thanks it works now, it used to work using the device name in that way.

[2016-09-28 14:04] hachibe commented on #6289
@pirocso Thanks for your helpful advice!
Without `update_app_identifier`, this issue is fixed, ipa is created, and it can be installed!

[2016-09-28 14:07] hachibe commented on #6289
@pirocso I would like to confirm just in case,
why does this issue only exists with Xcode 8 not Xcode 7?

[2016-09-28 14:22] ATS-RyanPowell opened #6317 "Xcode 8 - Provisioning profile ignored [Gym]"
The provisioning profile is ignored when building with gym. When setting either the command argument '--provisioning_profile_path' or setting via gymfile, the environment variable is not set when calling xcodebuild

Output
[code]

### Additional

Gymfile used with above
[code]

xcode tail log for above
[code]

Also, this Gymfile did work with Xcode 7.

### Software Versions
gym 1.10.0
xcode 8.0
ma

[2016-09-28 14:36] dumoko commented on #6265
Is this the answer to all my situation?

[2016-09-28 15:07] Sea-Eagle commented on #6119
Sorry for delay.
Still I'm getting the issue even following above steps

On Sep 27, 2016 11:12 PM, "Todd Burner" <notifications@github.com> wrote:

[2016-09-28 15:22] fcamaster opened #6318 "Cannot run fastlane on Xcode Server bot"
### Issue Description

Cannot run fastlane from Xcode bot trigger (error: Could not retrieve response as fastlane runs in non-interactive mode).
I've read many issues here and none of that worked for me.

##### Complete output when running fastlane, including the stack trace and command used

This is what I get when I try to run fastlane from Xcode bot:

export LC_ALL="en_US.UTF8"
export PATH=/us

[2016-09-28 15:28] pirocso opened #6319 "Exit status 12 (Error packaging up the application) when using update_app_identifier with Xcode 8"
I am using the latest fastlane build.

When I use Xcode 8, it fails with message "Exit status: 12" and "Error packaging up the application"

[code]

I have confirmed this with puts commands that both environment variables exist and that they output the correct data. This issue only exists with Xcode 8 not Xcode 7.

[code]

Also - this is definitely NOT a code signing issue. The archive is created

[2016-09-28 15:38] lukewakeford opened #6320 "No matching provisioning profiles found and can not create a new one because you enabled `readonly`"
I am experiencing exactly the same issue as discussed here -> #1979
I am running Fastlane version 1.104.0

Here is my match code (which I run twice for two app ids) both for enterprise/InHouse certificates and profiles.

    match(
      type: "appstore",
      git_url: ENV['PROVISIONING_REPO'],
      username: ENV['PRODUCE_USERNAME'],
      app_identifier: ENV['PRODUCE_APP_IDENTIFIER'],
      rea

[2016-09-28 15:44] onmyway133 opened #6321 "What is use_legacy_build_api"
Hi, just wonder what does `use_legacy_build_api` do, and should we not specify it for now? I see the source code https://github.com/fastlane/fastlane/blob/master/gym/lib/gym/generators/package_command_generator_xcode7.rb

And I run `gym --verbose` and `gym --verbose --use_legacy_build_api`, from the output in `Generated Build Command` they generate the same `xcodebuild` commands

What are the the

[2016-09-28 15:50] viktorrealt commented on #6219
DEVELOPER_DIR="/Applications/Xcode8.app" PROVISIONING_PROFILE_SPECIFIER=“AAAAAAAAAA/” gym --scheme "AppName" --clean

[2016-09-28 15:57] suculent commented on #5125
Problem is that we don't see the actual error returned from iTC.

Odesláno z iPhonu

28. 9. 2016 v 15:51, Jacob Bijani <notifications@github.com>:

[2016-09-28 16:01] lukewakeford commented on #6320
I have also just tried with the `type` set to `development` and it works absolutely fine in readonly.

[2016-09-28 16:24] hachibe commented on #6289
@TKBurner

Probably yes, because other projects not for enterprise have no issue.
I'll try by this project not for enterprise with `update_app_identifier`,
and let you know.

[2016-09-28 16:42] pedro380085 commented on #6317
provisioning_profile_path is deprecated on xcode 8, use the new provisioning_specifier.

[2016-09-28 18:10] jeeftor opened #6324 "Coming to terms with XCode8 Code Signing"
So I'm a little confused as how to best work with the code signing changes in Xcode 8.

I have a project with 2 targets and 3 build types
- `target1.alpha` (Enterprise Cert)
- `target1.beta` (Enterprise Cert)
- `target1` (app store Cert)
- `target2.alpha` (Enterprise Cert)
- `target2.beta` (Enterprise Cert)
- `target2` (app store Cert)

What I'd like to do is have my normal project been `Automatic

[2016-09-28 18:22] klundberg commented on #6278
Sure, here's the output with the problem lines with a slightly tweaked lane, which i'll edit in the original comment. The first path is printed before anything happens, and the last path is printed at the end before the summary, where it changes when it shouldn't):

[code]

[2016-09-28 18:31] programmin1 commented on #1529
@nolanwilson @lacostej The spaceship script does remove the images... unfortunately you have to go in to the site and manually click each use-high-resolution screen option in the iTC media manager. Otherwise you get an error submitting manually, and deliver will return "undefined method `map' for nil:NilClass" since submit fails.

Is there a way spaceship can check those check boxes to the right i

[2016-09-28 18:52] jeeftor commented on #6324
Yea I've read through everything you have and I guess i'm confused as to whether it is actually possible to do what I want.

I have two targets a Framework and an App.  I tried to feed in settings via `GYM_XCARGS` but ended up with an error

[code]

That my framework was being force-fed a profile

Unfortunately because there are many group s sharing certs we can't use **match** which would probabl

[2016-09-28 18:53] spirosoik opened #6325 "ERROR - Crashlytics Developer Tools error. java.io.FileNotFoundException: /tmp/changelog20160928-32826-b1gtf0 (No such file or directory)"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description
##### Complete output when running fastlane, including the stack trace and command used

[code]
### Configuration Files

Please copy the complete content of your `Fastfile` and any other configur

[2016-09-28 19:01] jeremymlane commented on #1529
@programmin1 @Luke-SF @TKBurner

Here's a script I've been using to do it in the meantime. If I get a chance, I'll try to make deliver do it, but I don't anticipate having time in the near future.

[code]

[2016-09-28 19:32] nolanwilson commented on #948
Thanks for the incredible response times and getting this tweaked! Makes my life a whole lot easier.

[2016-09-28 20:15] maschall opened #6327 "SIGH_UDID should be SIGH_UUID"
- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

UDID - Unique Device Identifiers
UUID - Universal Unique Identifier

In the Provision profile Plist the element is UUID, but we are using UDID, which is incorrect.

Anyway we can deprecate the incorrect one and change

[2016-09-28 20:15] thiagofelix commented on #6292
@jamyc you might be able to get the link to the Jenkins build using the environment variable `BUILD_URL` .

More information on the [Jenkins documentation](https://wiki.jenkins-ci.org/display/JENKINS/Building+a+software+project#Buildingasoftwareproject-JenkinsSetEnvironmentVariables)

[2016-09-28 20:24] KrauseFx commented on #6265
Yeah, enterprise is not yet supported in _match_, and therefore the nuke command doesn't work. Sorry I missed this on the initial question

[2016-09-28 20:29] KrauseFx commented on #6321
It's recommend not to use it, as it's the old way of archiving the application, but depending on your setup you might be required to enable it

[2016-09-28 20:30] KrauseFx commented on #6320
Sorry, enterprise profiles are currently not officially supported in _match_

[2016-09-28 20:45] Ryandev commented on #6317
If that is the case feedback from gym stating provisioning_profile_path  it's no longer supported on Xcode 8 would be helpful

[2016-09-28 20:54] KrauseFx commented on #6327
Thanks for letting us know, I'm aware of this, however we'd still have to support both to not break any setups. This would add some complexity, however I'm more than happy to review a PR fixing this 👍

[2016-09-28 21:17] suparngp commented on #5649
Just tested @podkovyrin workaround and it works like a charm.

[2016-09-28 21:19] gcamp opened #6330 "Modifing project file with Xcodeproj makes gym not able to find the project file"
## New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I'm changing some things in the Xcode project before building (see Fastfile excerpt below), and after I save the project, gym is unable to find the project, as if the current path changed. Howe

[2016-09-28 21:30] KrauseFx commented on #6330
That's the full Fastfile?

[2016-09-28 21:31] gcamp commented on #6330
No it's only a excerpt. Here is the full Fastlane :

[code]

[2016-09-28 21:33] gcamp commented on #6330
Problem happens when I run either ```remove_watch_from_project``` or ```remove_widget_from_project```

[2016-09-28 21:58] RyanCopley commented on #6118
@KrauseFx I have an app that has over 40 instances in the store, now using Xcode 8 this is going to be a nightmare if I can do this programmatically :/

[2016-09-28 22:08] KrauseFx commented on #6314
Do you have any other languages enabled? Can you post the complete tree of your `./fastlane` directory?

[2016-09-28 22:15] KrauseFx commented on #6315
Can you please share your Fastfile?

[2016-09-28 23:06] dittma75 commented on #6319
When I received an "Exit Status 12" error, I replaced `gym` with something like
`system("gym -s \"Scheme Name\" -n #{ENV['APPNAME']}")`
as a work-around in the affected lane, and it worked.
I received the same suggestion to use `use_legacy_build_api` on the original error, but doing that didn't help.  However, I didn't not have to pass the `use_legacy_build_api` for my app to build.  If the above

[2016-09-28 23:17] jeremymlane commented on #6272
@TKBurner This is still happening. The issue is that Apple no longer hosts the iPhone 6s templates and the other templates appear to be updated so they're not what frameit expects.

[code]

[2016-09-29 00:32] mgrebenets commented on #6055
@pedro380085
isn’t `PROVISIONING_PROFILE` deprecated now?
we had some hiccups and weird build errors when having both `PROVISIONING_PROFILE` and `PROVISIONING_PROFILE_SPECIFIER` set.

Ideally, if you moved on to `PROVISIONING_PROFILE_SPECIFIER`, the `PROVISIONING_PROFILE` should be set o blank then.

[2016-09-29 02:37] danielbowden commented on #6118
I'm in a similar situation to @RyanCopley. We have 3 targets (app, watch app, watch extension) and use fastlane to build many instances of the same product for clients. Each of these instances have their own bundle ids / provisioning profiles and up until now we have generated different `.env` files to manage this.

Along with this we were using sigh UDID and environment variables to select the co

[2016-09-29 02:54] puttin commented on #6118
@danielbowden

checkout method in https://github.com/fastlane/fastlane/issues/6245

[2016-09-29 03:17] wongzigii commented on #5665
@TKBurner  It works after re-installing openSSL.

[2016-09-29 03:26] danielbowden commented on #6118
Interesting, thanks @puttin. I was just looking at how match does it internally too.

https://github.com/fastlane/fastlane/blob/master/match/lib/match/runner.rb#L102-L116

It already handles the parsing, via
[code]

Provided I could get the correct profile path to pass to it, I could do.
[code]

Though that may be a method better suited to be on provisioning_profile.rb like `udid` is:

https://git

[2016-09-29 03:37] puttin commented on #6245
just write a action:
[code]

then you can put in your fastlane/actions/ folder
[code]

[2016-09-29 03:41] puttin commented on #6118
@danielbowden It seems that my Xcode only use profile in the library position.
You can modify the method use your dir to try.

[2016-09-29 03:43] RishabhTayal commented on #5665
@wongzigii how did you reinstall openssl? I am still getting this error.

[2016-09-29 04:44] BulletWu commented on #6315
# Customise this file, documentation can be found here:
# https://github.com/fastlane/fastlane/tree/master/fastlane/docs
# All available actions: https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Actions.md
# can also be listed using the `fastlane actions` command

# Change the syntax highlighting to Ruby
# All lines starting with a # are ignored when running `fastlane`

# If you want

[2016-09-29 04:47] vbresults commented on #6219
These are all interconnected #6293 #6317.

The solution is to use a pre-8.x Xcode version (in my case, 7.3.1), and everything works as normal.

[code]

[2016-09-29 05:17] iONsky commented on #6225
For some reason I didn't even thought of the idea to just name the parent lane different, make them private and call them from all other lanes. 😄
Thanks  👍

[2016-09-29 05:17] #6225 closed

[2016-09-29 05:27] pedro380085 commented on #6219
Oh man, found it!!! http://stackoverflow.com/questions/39594073/post-ios10-xcode-8-0-missing-push-notification-entitlement-error-after-build

[2016-09-29 05:43] BulletWu commented on #6315
fastlane_version "1.102.0"
default_platform :ios

platform :ios do

  MASTER_PATH    = "https://github.com/CocoaPods/Specs"
  PRIVATE_PATH   = "http://pricompany2.hljnbw.cn:3018/xiangyuanzhi/IOSPodSpecs.git"
  SOURCES        = [MASTER_PATH, PRIVATE_PATH]

  desc "Release new private pod version"
  lane :do_release_lib do |options|
    target_version = options[:version]
    project        = options

[2016-09-29 06:52] cyupa commented on #6219
@pedro380085 That's just one of the cases, as @ChristopherDrum stated, looking into `~/Library/Logs/gym` usually gives you more insight on why the build has failed.

What some of us were experiencing was issues with the enterprise distribution certificates naming.
Match will generate provisioning profiles with `MATCH_FORCE_ENTERPRISE="1"` for enterprise accounts in the following format: **InHouse_

[2016-09-29 07:31] Philipp372 commented on #6223
@TKBurner  I made a 4h effort to create a new project file for our app and reproduce all settings and content, and the build + IPA export went through successfully. So in my opinion, some setting or metadata in the project file must be responsible for letting the export command fail.
Creating a new project to solve this issue is just considered as a work-around, though. This should not be the solu

[2016-09-29 07:35] mdubs opened #6331 "Sigh resign creates the wrong application bundle identifier if the original bundle id is a substring of the new bundle id using the app entitlements"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

When running the resign script with use_app_entitlements option (to resign from com.company.application to com.company.application-enterprise), the entitlements are extracted out of the provisio

[2016-09-29 07:56] mdubs commented on #6331
Thanks fastlane-bot but I believe this is an issue with the resign script.  I have a solution that works for us but I can't run the tests.  I've run `bundle install` in the fastlane directory but then it can't load rspec
[code]
[code]

[2016-09-29 08:08] SirobChilokin commented on #4676
I am very much interested in this since we are making backups for all our builds. This would me very useful to my team. Fastlane rocks!

[2016-09-29 08:20] wongzigii commented on #5665
@RishabhTayal  I removed the original source and changed to `https://gems.ruby-china.org/`.

    gem source -a https://gems.ruby-china.org/
    gem source -r YOUR_GEM_SOURCE

[2016-09-29 08:48] lukewakeford commented on #6320
@KrauseFx Thanks for the response, any chance we can make the readonly flag work anyway? especially when forcing enterprise provisioning using `MATCH_FORCE_ENTERPRISE="1"` This would seriously help my workflow.

I need to do enterprise provisioning with Fastlane on a CI machine that doesn't doesn't have write access to repositories - neither do I want to give it write access for security using mat

[2016-09-29 09:27] jannejava opened #6332 "Frameit places iPad Pro screenshots wrong"
Just installed Frameit and downloaded Apple's templates.

The screenshots are slightly off in relation to Apple's templates.

No errors in the terminal, could Apple have updated their graphics?

https://dl.dropboxusercontent.com/u/1066320/Simulator%20Screen%20Shot%2029%20sep.%202016%2011.19.04_framed.png

[2016-09-29 09:29] chezzdev commented on #6116
@TKBurner sure. Here's an overview of framed screenshots (current tool).
![screen shot 2016-09-28 at 19 18 51](https://cloud.githubusercontent.com/assets/5272337/18947687/beb9c1f2-863c-11e6-9845-df6549adf3af.png)
As you can see there's a huge difference in frame position when using different numbers of lines in title. But also there's a tiny but actually noticeable difference in frame position eve

[2016-09-29 09:34] dumoko commented on #6265
Well, sorry for all the buzz then and your lost time. Somehow I missed the fact myself.
Keep rocking, guys!

[2016-09-29 09:34] #6265 closed

[2016-09-29 10:00] jeeftor commented on #6324
So I seem to have got things working in a rather less than ideal way.  The steps I follow are:

1) Use Manual Signing
2) Extract out the existing profile
[code]

Basically extract the `PROVISIONING_PROFILE_SPECIFIER` value out of `xcodebuild -showBuildSettings`

The reason I do this is because I want to change it during the build process - depending which version of the software I'm building - and

[2016-09-29 10:33] ConfusedVorlon opened #6333 "Fastlane doesn't seem to 'play nicely' with automatic code signing"
### New Issue Checklist
- [y ] Updated fastlane to the latest version
- [y ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

I have a new Xcode 8 app with an iMessage plugin and shared app group entitlement.
I selected the 'automatically manage code signing' box in xcode, and it looks like finally XCode does a good

[2016-09-29 10:38] ConfusedVorlon commented on #6333
thank you fastlane bot!

to be more specific - automatic code signing seems to be pretty great now.

The troubleshooting guide suggests disabling it.

Is that still the only way - and if so, are there any plans to make fastlane compatible with auto-code signing?

[2016-09-29 11:14] tabrindle opened #6334 "[Match] - match nuke profiles"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Match doesn't have the capability to nuke just provisioning profiles - it nukes the certs and provisioning profiles. While useful in a lot of use cases, this is far more destructive than neces

[2016-09-29 11:23] tabrindle opened #6335 "[Match] - match certificate readonly"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Match has the ability to specify readonly, which is highly useful with inexperienced developers using codesigning, or with unattended ci environments which you dont want creating certs.

Howev

[2016-09-29 11:32] hachibe commented on #6289
@TKBurner

It is no, this issue doesn't matter whether enterprise is not.

[2016-09-29 12:17] lucabartoletti opened #6336 "[Match] Concerns about Match nuke and APNs certificates"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

This more a question than an issue. I can't find informations about this. If on my developer portal I have APNs certificates. Does `match nuke` delete those certificates?

### Environment

fas

[2016-09-29 12:20] belawaeckerlig opened #6337 "[Screengrab] whitespaces and brackets in apk paths not handled correctly"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

When the path to the apk contains brackets, whitespaces and I guess other special characters, screengrab will fail installing it on the device. This is due to the fact, that the path is not su

[2016-09-29 12:32] belawaeckerlig commented on #6337
:D nice try, but no.
I'm not signing the APK and also this is an android project, so the Code Signing Troubleshooting Guide would not help me ;)

[2016-09-29 13:04] SpacyRicochet commented on #6219
Can't seem to build my project with Gym either.

This is what the log file specifies;

[code]

I tried the above advice, looking through several of the code signing settings in the project. I can't seem to find any reason for why gym would choose the development certificate.

**Signing in all the Pod targets**
![screen shot 2016-09-29 at 14 41 42](https://cloud.githubusercontent.com/assets/904596/

[2016-09-29 13:24] maschall commented on #6327
@KrauseFx What do you think if we refactored lane_context and ENV, into objects that could redirect UUID to UDID.

Example:
Environment["SIGH_UUID"] would read ENV["SIGH_UUID"] first and then fall back to ENV["SIGH_UDID"]

I'm thinking this should help in the future if we needed to deprecate/change an environment variables again.

[2016-09-29 14:04] fotiDim commented on #5341
I have the same issue. My `fastlane` folder is on the same level as my `.xcworkspace`. Didn't try locally...

[2016-09-29 14:07] MickeyHub commented on #4783
it's open for upvotes

[2016-09-29 14:13] spirosoik commented on #6325
btw If I remove `notes` it work and I can understand because it's not creating a new file but this is not really acceptable. I want to add a changelog for each beta build in fabric.

[2016-09-29 14:41] tabrindle commented on #6336
In my experience, no it does not. But I don't run nuke if I can help it.

[2016-09-29 15:06] macfanatic opened #6340 "[gym] Unable to build because of missing swift bridging header"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

Building in Xcode Version 7.3.1 (7D1014) allows us to build, run in the simulator, or archive just fine.  Running the following command via gym causes a compilation error for a missing swift bri

[2016-09-29 15:16] etolstoy commented on #6237
I've got the same error - `The call to the iTMSTransporter completed with a non-zero exit status: 1. This indicates a failure.`

[2016-09-29 15:57] onedal88 commented on #5789
@mariocads After spending lot of hours i get link to "Linux" installer to iTunes Transporter.
Here:
`https://itunesconnect.apple.com/WebObjects/iTunesConnect.woa/ra/resources/download/Transporter__Linux/bin`

Save script as 'install_script' and run:
[code]

Self-extract script forking for me, tested on Ubuntu 16.04. In next step you need set FASTLANE_ITUNES_TRANSPORTER_PATH=/your/path/to/items

No

[2016-09-29 16:07] Bureauwlamp commented on #6307
Anybody? A yes or no if it is even possible would already suffice for now

[2016-09-29 16:45] #5372 closed

[2016-09-29 16:49] yn5 opened #6341 "Invalid Swift Support"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
I'm trying to build a beta version for my app for TestFlight but I get an email from Apple telling me the SwiftSupport folder is missing:

[code]

### Configuration Files

Fastfile:
[code]

###

[2016-09-29 16:49] tabrindle commented on #6321
Is it typical for for use_legacy_build_api to be faster than the modern build api? My project builds about 20% slower without this option on.

[2016-09-29 16:52] tabrindle commented on #6335
Thanks @fastlane-bot, I did read it!

[2016-09-29 16:54] hdoria opened #6342 "Path to a custom keychain"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I've upgraded to macOS Sierra and since then match keeps asking me about my keychain path. Indeed, the keychain path changed on macOS Sierra, but shouldn't fastlane know about this? Am I doing

[2016-09-29 17:10] troupmar opened #6343 "[SCAN] scan crashes when unit tests fail"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Scan crashes when unit tests fail. If all tests succeed, then it all works fine.

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Configurat

[2016-09-29 17:25] #5431 closed

[2016-09-29 17:48] KrauseFx commented on #6333
Seems like it's using a Development profile instead of a Distribution one. Make sure to select the distribution profile in the Xcode `General` tab. Also, please share a screenshot of the `General` tab and the Code Signing section in the `Build Settings`

[2016-09-29 17:50] rexeisen commented on #1867
Still not implemented, fastlane-bot

[2016-09-29 18:04] pirocso commented on #6319
Ok so this solves this issue - thanks for that. Now it seems the update_app_identifier simply doesn't work - my bundle ID remains the same for both builds being run.

This is what I do:

- build_all lane: calls cocoa pods and calls sh "fastlane build_app --env env1" and "fastlane build_app --env env2". For env1 and env2, I have a .env.env1 and .env.env2 file with APPID=com.test.env1 and APPID=com.

[2016-09-29 18:27] RyanCopley opened #6345 "Fastlane is not utilizing my Deliverfile while uploading w/ deliver"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### While using Fastlane, deliver fails because it isn't finding my release notes, however I specify all that information in my Deliverfile

[code]

### Configuration Files

Fastfile:
[code]

[2016-09-29 18:30] RyanCopley commented on #6345
I just now realized my deliverfile has an ```å``` character in it... I bet that's causing it, but why the silent fail? :( testing that now

[2016-09-29 18:38] KrauseFx commented on #6334
Sorry, it can only nuke everything, there is no plan on changing this for now. What's the main reason you need this?

[2016-09-29 18:38] #6334 closed

[2016-09-29 18:45] ConfusedVorlon commented on #6333
@KrauseFx I might be missing something - but my understanding is that with automatic signing, I don't get to choose the profile.

If the answer is just 'fastlane won't work with automatic', then so be it - but if there is a way to have the advantages of automatic, and also fastlane, then that would be great!

<img width="899" alt="2016-09-29 07 41 45 pm" src="https://cloud.githubusercontent.com/as

[2016-09-29 19:16] maschall opened #6346 "incomplete command in codesigning.guide"
"The certificates and private keys should be imported into your Keychain, either using Finder or using the ty import’ command"

I believe it should be

"The certificates and private keys should be imported into your Keychain, either using Finder or using the ’securitty import’ command"

[2016-09-29 19:31] dittma75 commented on #6319
Well, `system` forks a new process with a new environment.  I suspect it fixes are problems because, somewhere along the line, Fastlane's environment is getting messed up.  In your case, you are going to have to pass the environment in the `gym` command.  Unfortunately, Fastlane seems to depend on an environment that it keeps (which you are essentially ignoring by calling `gym` with `system`).  Yo

[2016-09-29 19:31] onmyway133 commented on #6321
@KrauseFx thanks for your reply. With `--verbose` I see that those output the same `xcodebuild` commands, is that right?

[2016-09-29 21:01] hyphenbash commented on #4111
I haven't been able to test it out nor to contribute on it as I have been busy with other projects, but from the documentation I still cannot see action testfairy for Android.

[2016-09-29 21:11] dzana opened #6348 "Does fastlene tools match and sigh support macOS applications?"
When I am running above comments I always get a message:
"Could not find App with App Identifier: ... "

But app identifier exist on Apple Developer portal. cert tool also use this app identifier and works good.

[2016-09-29 21:14] SNN-reggie opened #6349 "Fastlane still cannot create adhoc provisioning profiles for enterprise accounts."
I manage an enterprise with several dozen apps, and Fastlane seems like an amazing tool, however having to manually create all the adhoc profiles is not fun!

Here's the verbose output when trying to use sigh from the command line to create an adhoc provisioning profile.

Steps to reproduce;

sigh -a pick.an.app_identifier --force true --adhoc true --verbose

Output;

INFO [2016-09-29 16:10:23.50]

[2016-09-29 22:25] DigitalD1982 commented on #6342
I'm seeing this issue as well on Sierra. I'm a first time fastlane user so I'm not sure if the problem is related to Sierra.

[2016-09-29 23:00] DigitalD1982 commented on #6342
I'm wondering if this has something to do with the fact that my source code is on a different drive than my OS. I just created a test project on my master hard drive and.. It asked for the custom path to my keychain. I put in ~/Library/Keychains/login.keychain-db and everything worked great.

I then went back to my source code on my external drive and ran match development and got the error below.

[2016-09-29 23:31] KrauseFx commented on #6346
Thanks for letting us know, we'll update the website 👍

[2016-09-30 05:47] LawrenceHan opened #6350 "I'm using libreadline.7.dylib"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
When called fastlane lane, it first shows `dyld: Library not loaded: /usr/local/opt/readline/lib/libreadline.6.dylib` then contiune working. Because I have installed the latest readline version

[2016-09-30 06:37] diaojunxian opened #6351 "pilot Beta App Description is required."
####  when I use pilot to push my app to testflight,it occured error `	Beta App Description is required. Beta App Description is required. Validation errors`

-  Updated fastlane to the latest version
-  I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
when I use pilot to push my app to testflight,it occured error `

[2016-09-30 07:18] geoHeil commented on #6267
@TKBurner unfortunately it did not show up. I got an E-Mail from Apple only when submitting via XCode

[2016-09-30 08:33] geoHeil commented on #6267
I think I found the cause - cannot finally confirm it yet:
CAMERA_USAGE_DESCRIPTION in cordova.xml is not correctly / not at all transferred to the info.plist

[2016-09-30 09:13] geoHeil commented on #5259
I see so how can I obtain the secret key if it is missing?

[2016-09-30 09:28] ahildinger opened #6352 "Updating screenshots and metadata for existing apps"
Hi,
is there a possibility to update screenshots and metadata of a existing "Ready For Sale" app if the app is a newsstand app? Newstand apps are editable although they are "Ready For Sale". When I tried `deliver run` I got this error:

https://github.com/fastlane-old/deliver/issues/493 had the same issue but it was possible to update price tiers with spaceship. Nevertheless I found no solution to

[2016-09-30 09:35] triplef commented on #4823
I’m still having this issue with the latest fastlane 1.104.0. This is also the same issue as #3896.

Potentially the new Xcode 8 PROVISIONING_PROFILE_SPECIFIER might help I think.

[2016-09-30 09:46] hjanuschka commented on #6244
as we are using it inhouse, as a custom action, but i think there are way more people needing this.
i did the plugin, based on your code, left the author intact!

https://github.com/hjanuschka/fastlane-plugin-update_project_codesigning

feel free to join and PR - i could also transfer the repo to your username, or we do a n fastlane-contrib org?

@mathiasAichinger @KrauseFx

[2016-09-30 09:56] tzq582905 commented on #6115
@TKBurner It seems to be the only way.Thanks

[2016-09-30 09:56] mathiasAichinger commented on #6244
@hjanuschka Cool 🎉 Unfortunately I haven't got time to implement the plugin, so it's great that you did it in the meanwhile :)

[2016-09-30 10:15] troupmar commented on #6343
We use a server with continuous integration and scan works there just fine. My co-worker has a different version of Ruby and it works for him so I have tried to use the same version as he does but none of that helped.

[2016-09-30 10:43] jedi4ever commented on #6350
ruby requires readline 6 - you need to switch to that version.
and optionally use brew pin to avoid it from being upgraded

[2016-09-30 11:19] jamyc commented on #6292
@TKBurner Unfortunately, I won't be able to get to a PR request to implement any of this.

@thiagofelix Thank you for your suggestion, that worked out perfectly fine!

[2016-09-30 11:20] onurhazar commented on #1631
Hi, Thanks for the routes! How can we test these routes? I am using postman to test the endpoints (first authorized in iTunesConnect) and getting an error when creating IAP using POST method.

SENDING BODY in JSON;

`{
   "adamId" : "1010101010",
   "referenceName" : "Digital Subscription",
    "familyReferenceName" : null,
    "vendorId" : "com.company.subscription.duration2months",
    "addOnTyp

[2016-09-30 11:21] geoHeil commented on #6267
somehow the web view is not updated from the GitHub e-mails.
regarding the strange / long string: according to https://github.com/apache/cordova-plugin-camera NSCameraUsageDescription is correct.

The problem for me was some caching issues -> I still got the old plugin.

[2016-09-30 11:30] geoHeil commented on #6268
Sure: I am using https://github.com/platanus/fastlane-cordova to build a cordova  / ionic2 app

my input is `fastlane ios deploy to:testflight stage:staging`

### full output

fastlane ios deploy to:testflight stage:staging --verbose
INFO [2016-09-30 13:26:31.67]: Successfully loaded custom action 'path/to/app/fastlane/actions/cordova_get_app_id.rb'.
INFO [2016-09-30 13:26:31.67]: Successfully loa

[2016-09-30 12:41] louisatome commented on #5665
I had the same problem with the command `supply init`.
I changed my ruby version from 2.1.5 to 2.3.1 and it works now.

[2016-09-30 13:40] PetrosIchor commented on #6349
The documentation states that fastlane does not support enterprise due to security concerns.  It's a pain I feel as well.  The only solution I found was to just manually script out the signing of those build types.  Pretty simple to get it up and running, you just have to manage two flows and lose the security convenience of match.

I could be wrong, but it shouldn't be hard to clone the match act

[2016-09-30 14:39] pirocso commented on #6319
Yes the bundle ID

[2016-09-30 14:50] fcamaster commented on #6318
Hi, anybody?

[2016-09-30 14:59] raphaelcruzeiro commented on #5066
I've ran into this error after adding a new target with an iMessage extension to our project. I'll be sure to let you guys know anything I might discover as I try to work around this.

[2016-09-30 15:56] dittma75 commented on #6319
Well, looking at `update_app_identifier.rb` in `<gem_path>/fastlane-1.X.X/lib/fastlane/actions` (the path for your fastlane installation), it appears that the goal is to update `PRODUCT_BUNDLE_IDENTIFIER` in the .pbxproj file associated with your Xcode project.  This script will do that for each of your configurations for the given .xcodeproj file (excuse the poor indentation... couldn't figure ou

[2016-09-30 17:21] KrauseFx commented on #6345
Are the other values taken from your `Deliverfile`? Could you try specifying `force: true` there instead of the `Fastfile`, just to see if the file is being loaded

[2016-09-30 17:25] mcocaro opened #6353 "Gym always fails with "Check Dependencies" error 65 but xcodebuild command succeeds"
### New Issue Checklist

- [x ] Updated fastlane to the latest version
- [x ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

When using fastlane to build the app, Gym will always fail with error:

▸ Check Dependencies
** ARCHIVE FAILED **

The following build commands failed:
Check dependencies
(1 failure)
ERROR [

[2016-09-30 18:38] KrauseFx commented on #6348
Sorry no, most tools currently only support iOS projects

[2016-09-30 18:38] imanf opened #6354 "Spaceship::ProvisioningProfile::AppStore includes AdHoc profiles"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Calling Spaceship::ProvisioningProfile::AppStore return both AppStore and AdHoc provisioning profiles.

### Environment

fastlane version (run `fastlane -v`): 1.91.0

Do you use bundler to exe

[2016-09-30 19:23] KrauseFx commented on #6354
That's by design due to a recent change on the Dev Portal: https://github.com/fastlane/fastlane/blob/master/spaceship/docs/DeveloperPortal.md#receiving-profiles, also check out the release notes https://github.com/fastlane/fastlane/releases/tag/spaceship%2F0.33.0

[2016-09-30 19:23] #6354 closed

[2016-09-30 19:49] KrauseFx commented on #6335
Sorry, that's not planned, as readonly mode really is readonly, and doesn't login to the Dev Portal at all. It's useful for not having to have login credentials to codesign your application.

[2016-09-30 19:49] #6335 closed

[2016-09-30 19:59] RyanCopley commented on #6345
Nope :( No values are taken from my Deliverfile

[2016-09-30 20:09] nicnocquee commented on #6353
I also just got this. From other issues, check the log file in `~/Library/Logs/gym/<app_name>.log`. Mine was provisioning profile problem

[2016-09-30 20:26] mcocaro commented on #6353
Thanks @nicnocquee ! Found out the issue was the Pod dependencies didn't have the SWIFT_VERSION setting so ended up putting it in the `pod install` post-install script.

[2016-09-30 20:26] #6353 closed

[2016-09-30 20:35] KrauseFx commented on #6345
Please share a screenshot of your directory tree, including the fastlane folder, Fastfile and Deliverfile

[2016-09-30 21:35] verticelo commented on #5858
Running xcode-select --install solved this problem for me.

[2016-09-30 21:38] lyndsey-ferguson opened #6358 "lane_context not updated from other_action"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

When I call `other_action.unlock_keychain` with the `set_default: true` option, the `Actions.lane_conte

[2016-09-30 21:38] KrauseFx commented on #5858
I'll close this issue for now, feel free to re-open if you still run into it 👍

[2016-09-30 21:38] #5858 closed

[2016-09-30 21:41] lyndsey-ferguson opened #6359 "provisioning_profile requires a default keychain to be set"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

I have been trying to get around the need to change the default keychain by passing Xcode the keychain to use. However, when `gym` runs, it runs `Plist.parse_xml(security cms -D -i "#{path}")` w

[2016-09-30 21:45] AndyIbanez commented on #6342
I'm also seeing this on Sierra. Pressing Enter on the prompt will proceed, but then it will complain it can't find the created certificate.

[2016-09-30 21:54] lyndsey-ferguson commented on #6359
**Note**, I am more than willing to make the change if someone can provide a tip on how best to do this. I'm not sure I would want to change the function signatures a lot as that would cause too much disruption.

@fastlane-bot Yes, I have read the Guide, it doesn't meet my needs as we have other certs and provisioning files that need to be managed by us.

[2016-09-30 22:29] Luke-SF commented on #6099
I'm not seeing the timeout option, or the cleanup command in the files in the Ruby gems/gym directory source files. Anyone know where I might track down this setting to fix it manually?

[2016-09-30 23:04] KrauseFx commented on #6307
Hey @Bureauwlamp, sorry for the late reply. I'm not 100% sure, but you might be able to do so using _spaceship_: https://github.com/fastlane/fastlane/blob/master/spaceship/docs/iTunesConnect.md

[2016-09-30 23:50] diogot commented on #6238
Yes, I'll do something and let you know

[2016-10-01 00:12] rentalanimal commented on #5285
Definitely craps out for me after 2-3 screenshot languages upload. Would love a fix! For now I'm just moving the items in finder out of the way once they complete and restarting. Is there a way to make deliver retry in 20 seconds and have it make more attempts?

[2016-10-01 01:29] KrauseFx commented on #6238
Nice catch @diogot, this should be an easy fix, please let me know if you need any help 👍

[2016-10-01 03:58] bskim45 commented on #1969
well its seems there's still an issue under windows
https://github.com/fastlane/fastlane/issues/2082

[2016-10-01 10:26] #6350 closed

[2016-10-01 11:57] deiucanta opened #6361 "How to keep credentials secure if a team member is leaving?"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I can remove him from the certificates git repo but he still has the password for the iTunes Connect, right? If I keep the credentials to iTunes Connect I will be the only one able to push bet

[2016-10-01 12:36] ayushgoel opened #6362 "Frameit is unable to use iPhone 6S frames"
- [x] Updated fastlane to the latest version
Yes, using `fastlane run update_fastlane`.

- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

1. iPhone 7 device frames are not being used currently.
2. `frameit` even though able to find the device frame for iPhone 6S, is not using it.

##### Complete output when ru

[2016-10-02 02:17] diogot commented on #6238
I did a fix but don't know to write a test for it.
By the way this class has no test at all.

[2016-10-02 03:38] MickeyHub commented on #4815
it's a feature waiting for implementation

[2016-10-02 13:36] jakubprusa commented on #5649
Hi, I have same problem with  `SecPolicySetValue: One or more parameters passed to a function were not valid.` and walkaround with symlink doesn't work for me

[2016-10-03 02:57] wkoszek commented on #4339
@mfurtak @KrauseFx Hi guys. I don't know if something is weird with my installation of XCode or not, but I have XCode 8 and I still have to set `FASTLANE_ITUNES_TRANSPORTER_USE_SHELL_SCRIPT`. Kinda leads to question whether it shouldn't just be the default. Anyway, no problem on my side here. With this variable set, it works

[2016-10-03 03:44] account-archived-270316 opened #6365 "Gym got stuck at xcrun after successfully archiving and got "Xcode 7 `provisioning_profile_path` will be ignored" warning though the Xcode version is 8"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

Although I am using Xcode 8, I got these warnings/errors after `Archive Succeeded`:

[code]

and then I got stuck at xcrun

[code]
### more info

My iOS project 1. contains a custom nested frame

[2016-10-03 04:07] account-archived-270316 commented on #6365
@fastlane-bot yeah went through it.

[2016-10-03 05:03] Ashton-W commented on #6052
This can be closed https://github.com/fastlane/fastlane/pull/6072

[2016-10-03 05:12] Ashton-W opened #6366 "Scan README and Docs don't mention device version specifiers"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

The devices list option for **scan** allows you to specify the version, for example `"iPhone 6s (9.3)"`. There is a spec for it in `test_command_generator_spec.rb`, but I can't find it documen

[2016-10-03 05:20] cpunion opened #6367 "Upgrade excon to 0.46.0+"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I'm integrating `fastlane` into my project, the `fastlane_core` locked `excon` to `0.45.0` (see https://github.com/fastlane/fastlane/blob/master/fastlane_core/fastlane_core.gemspec#L29), but `

[2016-10-03 07:49] Korcholis commented on #6314
Yeah, I have all the languages available in the iTunes api (all but Indonesian). And well, as I mentioned, I'm doing all the processing by hand using `spaceship`, so basically no `./fastlane`.

**I managed to solve it, kind of**. It looks like I had to switch my default language from the `en-US` to another one. Then, I was able to put the names as I wanted, and afterwards I could move back to `en-

[2016-10-03 08:26] kylejm commented on #1987
I don't think this has been implemented, but I no longer have such a strong opinion about this :)

[2016-10-03 09:36] dral3x commented on #6281
Happened also to me. It seems a bug of iTunes Connect.
An hour later I checked manually and the app was created and editable.

It does not happens regularly so it's hard to detect.

[2016-10-03 11:16] Poliuk commented on #6222
I've updated fastlane but I'm still getting the
`Helper.gem_path is deprecated. Use the ROOT constant from the appropriate tool module instead. ` error

[2016-10-03 11:38] microinsurance commented on #6066
Hi i am getting the below mention error, please suggest...

[root@mia crop-insurance-portal]# rails db:create

rails aborted!
LoadError: incompatible library version - /usr/local/rvm/gems/ruby-2.2.4/gems/pg-0.19.0/lib/pg_ext.so
/usr/local/rvm/gems/ruby-2.2.4/gems/pg-0.19.0/lib/pg.rb:4:in `require'
/usr/local/rvm/gems/ruby-2.2.4/gems/pg-0.19.0/lib/pg.rb:4:in `<top (required)>'
/usr/local/rvm/gems/r

[2016-10-03 11:44] hardikdevios commented on #6222
Ok Guys Sometime Updating _**fastlane**_ not update All gems (Don't know why @KrauseFx may help)
For this Issue Make sure you have Latest `fastlane_core` updated,

`gem install fastlane_core --verbose`

**Alternatively**, In future (To Avoid this kind of issues) if Any version not update with **_fastlane_** command
You can try

`sudo gem update -- verbose `

[2016-10-03 13:29] pahnev commented on #5730
And I see @tpalmer got this merged as official plugin https://github.com/tpalmer/fastlane-plugin-latest_hockeyapp_version_number 👍

[2016-10-03 13:56] mfurtak commented on #4339
Hi @wkoszek - thanks for the report. :+1:

https://github.com/fastlane/fastlane/issues/6151#issuecomment-249993354 has some history about why the ENV var exists, and you can follow that ticket for updates on a fix for the Xcode 8 issues.

[2016-10-03 14:05] emendamus commented on #6171
I fixed that issue on my local machine but only as a hack.
Therefore I modified the following line and entered statically my app-specific password:
[https://github.com/fastlane/fastlane/blob/master/fastlane_core/lib/fastlane_core/itunes_transporter.rb#L209](https://github.com/fastlane/fastlane/blob/master/fastlane_core/lib/fastlane_core/itunes_transporter.rb#L209)

What about using an environment

[2016-10-03 14:43] alexlavr commented on #5474
@k7k0 I tied your suggestion but got a syntax error.

[code]

[2016-10-03 14:46] k7k0 commented on #5474
@alexlavr this is working for me (pilot v 1.10.0), maybe removing the space?
`pilot(skip_waiting_for_build_processing: true)`

[2016-10-03 15:06] gregk8288 commented on #6234
@GandjaFuzz Could you share with us how you fixed this error. I am having the exactly same issue.

[2016-10-03 15:22] gregk8288 opened #6368 "Produce fails to create app on iTunes Connect"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

For the second time today on completely separate apps, creating the app on iTunes Connect seems to fail. It just says **Waiting for the newly created application to be available on iTunes Connect...** and then eventu

[2016-10-03 15:38] GandjaFuzz commented on #6234
it is problem with ItunesConnect API.
Try:
Restart Mac
Restart Router(Connection to Internet)
Increase the number of loops in deliver
On average, the data appear in 4 hours. But that rarely happens

[2016-10-03 16:19] KrauseFx commented on #6222
We actually built a new system to auto-update all dependencies from now on 👍

[2016-10-03 16:20] KrauseFx commented on #6367
Sounds okay to me, we can be less restrictive with the version. Could you submit a PR and test it locally?

[2016-10-03 16:22] KrauseFx commented on #6238
Don't worry about the tests, some actions don't have any currently

[2016-10-03 18:25] KrauseFx commented on #1987
Ok cool, I'll close this issue for now then

[2016-10-03 18:25] #1987 closed

[2016-10-03 18:54] hardikdevios commented on #6222
@KrauseFx Well great to hear that, Any milestone for this feture or any wiki page if already done.

[2016-10-03 19:30] KrauseFx commented on #5027
This has been fixed 👍

[2016-10-03 19:30] #5027 closed

[2016-10-03 19:33] KrauseFx commented on #6222
@hardikdevios what do you mean? You can see the source code here https://github.com/fastlane/fastlane/pull/6326

[2016-10-03 19:36] KrauseFx commented on #6366
Is it documented in `scan --help`? That's where all the available parameters are described

[2016-10-03 19:42] cpunion commented on #6367
I will try. What is better for depends `gem 'excon', '~> 0.53.0` and `gem 'excon', '>= 0.46.0'`?

[2016-10-03 19:53] cpunion commented on #5809
Is there any progress on this? Or which thread in Bundler can track this?

[2016-10-03 19:55] KrauseFx commented on #6151
@jaleksynas the example lanes in https://github.com/fastlane/fastlane/issues/6151#issuecomment-249966381 are really helpful, it would help a lot if you could post the output of each of the lanes, including the exact error message and stack trace.

[2016-10-03 19:57] hardikdevios commented on #6222
ok i thought you guys have apply some different update method  and we have to follow that but it looks like some under the hood changes so i hope we won't see any issue like "dependent gem won't getting updated with `gem update fastlane`"

[2016-10-03 20:08] KrauseFx commented on #6367
I think replacing `spec.add_dependency 'excon', '~> 0.45.0' # Great HTTP Client` with `spec.add_dependency 'excon', '>= 0.45', '< 1.0' # Great HTTP Client` should do the trick.

[2016-10-03 20:10] KrauseFx commented on #6358
It should be set when `add_to_search_list` is set to `:replace`

[2016-10-03 20:36] lyndsey-ferguson commented on #6358
@KrauseFx yes, that works. Thank you.

[2016-10-03 20:36] #6358 closed

[2016-10-03 20:41] damirstuhec commented on #1526
Still experiencing this issue. Using `iTunesConnect Team ID` value for `team_id` as @samritchie suggested above helps. I guess #5433 will solve this confusion.

[2016-10-03 20:48] KrauseFx commented on #6358
Cool 👍

[2016-10-03 21:53] gersonmendes commented on #6368
I'm facing the same problem. When I run _fastlane_, it creates the App in iTunesConnect, but the App doesn't shows up in "My Apps" page. If you enter in the details of an App, using the search function in the top of this page, you can view the App that you just created, but in the "My Apps" page you can't. I'm waiting about 6 hours since the first run of _fastlane_ to see my App in "My Apps" page,

[2016-10-04 01:39] segiddins commented on #5809
This is implemented on bundler master, will go out in bundler 1.14

[2016-10-04 02:05] rafnocx commented on #6343
I have the same issue, seems like the `file_path` is null?
https://github.com/supermarin/xcpretty/blob/master/lib/xcpretty/syntax.rb#L24
Is there an option to disable `xcpretty` altogether? i.e. not piping `xcpretty`.

[2016-10-04 05:23] cpunion commented on #5809
@segiddins 👍

[2016-10-04 08:25] Maxim-Inv commented on #4137
https://natanrolnik.me/2015/10/21/introduction-to-fastlane-and-integrating-it-with-circleci-to-deploy-beta-with-crashlytics-fabric/

[2016-10-04 09:52] iCarambaa opened #6375 "Match calls cert with the wrong keychain"
### New Issue Checklist
- [ x] Updated fastlane to the latest version
- [ x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

I have a separate keychain called "buildserver.keychain" that I use with match. I ran match nuke and wanted to recreate my certificates afterward and notices in the verbose output that match r

[2016-10-04 10:34] Prabat opened #6376 "Snapshot html is blank even after the test successfully passed"
fastlane 1.104.0
snapshot 1.16.1
xcode 8.0

Snapshot Configuration file:
--------------------------------------------------------------------------------------------------
[code]
---------------------------------------------------------------------------------------------------

After execution, tests are passed & screenshots are loaded into the output folder
Even html file also generated but when

[2016-10-04 11:24] darrarski commented on #5684
I had the same error. As a workaround, I created new development certificate manually using Apple Developer Portal, downloaded it and installed on my Mac. Then, I just run `match development` and `match appstore`. This solved the issue. After match downloaded my certificates stored in GitHub repository, I revoked newly created development certificate and removed it from my Mac.

I had one more pro

[2016-10-04 12:22] daneov opened #6377 "Certificates are"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

The certificates are duplicated. Every time (except after deleting all certificates) I run a lane which calls the lane `certificates`, the certificates are imported in my keychain, resulting i

[2016-10-04 12:45] SRowley90 commented on #6362
Having the same issue too, one interim solution would be find the iPhone 6S assets from Apple but they are not available from the [link](https://developer.apple.com/app-store/marketing/guidelines/#images)

[2016-10-04 12:45] jaroslavas opened #6378 "TravisCI and itunesconnect password"
### New Issue Checklist

- [+] Updated fastlane to the latest version
- [+] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I want to run fastlane commands on TravisCI. That includes creating new certificates and provisioning profiles and then uploading everything to itunesconnect. The problem is I can't login to d

[2016-10-04 14:05] jlubeck commented on #6320
Hey @lukewakeford, make sure you use type: enterprise and MATCH_FORCE_ENTERPRISE="1" when both creating and reading the certificate. Then it works.

[2016-10-04 14:49] TKBurner commented on #6333
@ConfusedVorlon Thanks for following up. Right now you'll need to manually set this up in most cases. However, I have reached out to the team because I think we need to make a definitive statement on this. Also, are you interested in making this fail better or supported via a PR? That'd be really interesting. Thanks again 👍

[2016-10-04 14:52] TKBurner commented on #6342
Hi @DigitalD1982 @AndyIbanez We are tracking this on #5649. Can you try the workaround there?

Thanks!

[2016-10-04 14:52] #6342 closed

[2016-10-04 14:56] TKBurner commented on #6289
@hachibe Thanks so much for answering those questions. I followed up with the team here so we can look into it. We'll work with you on this thread.

[2016-10-04 14:57] TKBurner commented on #6320
@lukewakeford Hope the workaround solves this for you. Since we don't currently support this I'm going to close it. Feel free to add a +1 to the feature request.

[2016-10-04 14:57] #6320 closed

[2016-10-04 14:59] TKBurner commented on #6319
Hi @pirocso This is a duplicate of #6289 We are tracking it over there and I've reached out to the core team. Thanks!

[2016-10-04 14:59] #6319 closed

[2016-10-04 14:59] jlubeck commented on #6320
hey @TKBurner, where is that feature request?

[2016-10-04 15:01] TKBurner commented on #6099
@Luke-SF @programmin1 I'm going to mark this as a feature request. If you are interested in submitting a PR please let me know so we can work with you. Thanks!

[2016-10-04 15:03] TKBurner commented on #6310
@akaralar Sorry to hear that you ran into this. Can you provide the full input and output of your fastlane command? I want to take a look and see what the last command that runs before this error is. Thanks so much!

[2016-10-04 15:04] TKBurner commented on #6310
Also can you try setting `use_legacy_build_api: true`?

[2016-10-04 15:06] TKBurner commented on #6307
@Bureauwlamp Have you tried running `deliver download_screenshots`? That downloads all possible screenshots available in iTC. If they aren't available there I'm not sure it's possible through _fastlane_.

[2016-10-04 15:07] TKBurner commented on #6306
@MouldiGABSI Thanks for reaching out. How many simulators named iPhone 6s Plus do you have on travis? That seems to be what's causing this.

[2016-10-04 15:11] TKBurner commented on #6303
@naxIO Thanks for reaching out. Were you able to get up and running? Can you let me know what happens if you set it to 'en-US' for testing purposes? Thanks so much!

[2016-10-04 15:13] TKBurner commented on #5125
@suculent How recently have you run this without getting the error email? Apple recently made this change and I think it might be the root cause.

[2016-10-04 15:15] TKBurner commented on #6264
@owurman Thanks so much! Glad to hear you got up and running. What do you think about your setup caused this?

[2016-10-04 15:15] TKBurner commented on #5102
@waroo Interesting idea. I don't think we display that right now.

[2016-10-04 15:17] TKBurner commented on #5435
@mgrebenets Very cool. We'll leave it a plugin for now since we are only graduating plugins into actions, no more direct path. I'm curious to know what type of fastfile you are running with this plugin. Thanks!

[2016-10-04 15:17] TKBurner commented on #4356
@ZevEisenberg Thanks! Hope you have a great week :+1:

[2016-10-04 15:18] TKBurner commented on #4414
@oysta Thanks for updating! Really glad to hear it got merged. Thanks for contributing and have an awesome week!

[2016-10-04 15:19] romanr commented on #6325
I have exactly same error about changelog not found. Removing crashlytics "`notes:`" fixed the issue.

The irony is that I spent two hours migrating from gradle-based crashlytics uploading to fastlane  because of fastlane's nice `changelog_from_git_commits`. To find out in the end that I can't upload with notes.

[2016-10-04 15:19] TKBurner commented on #6296
Hi @dral3x Thanks for doing that, this means the issue you are experiencing is further up the chain. What settings do you have for provisioning profiles in Xcode. Thanks!

[2016-10-04 15:21] MouldiGABSI commented on #6306
@TKBurner i have only one simulator on travis
PS: I have the same issue with gym it compile all files twice

[2016-10-04 15:22] TKBurner commented on #6249
@reidmain Are you talking about this line?

[code]

[2016-10-04 15:22] spirosoik commented on #6325
@romanr yes the issue is that temp changelog file cannot be created. quick workaround is to create your file and write the changelog by your own. Check the following:

[code]

[2016-10-04 15:22] TKBurner commented on #6263
@muzammil-triffort Were you able to get up and running? Thanks!

[2016-10-04 15:23] naxIO commented on #6303
@TKBurner thanks for getting back. I can confirm it works with en-US. But still not with default. Using deliver 1.14.0

[2016-10-04 15:24] TKBurner commented on #6288
@bartonhammond Can you run `deliver` and send me the output if you are still running into any issues?

[2016-10-04 15:25] TKBurner commented on #6297
@ph661 Thanks for reaching out. You will need to run `match nuke` and regenerate your profiles and set a new password. Thanks!

[2016-10-04 15:27] TKBurner commented on #4301
@i-schuetz Thanks for following up. I circled back with the team to get more attention on this thread. Thanks so much!

[2016-10-04 15:28] TKBurner commented on #5782
@Anders123fr No problem :+1:

[2016-10-04 15:41] TKBurner commented on #6171
@emendamus Can you share the output of running pilot without the lane context? I want to take a look. Thanks!

[2016-10-04 15:44] TKBurner commented on #6180
@zake1989 Hope you are doing well! Sorry for the delay in updating this thread. _match_ doesn't support enterprise profiles officially and that is part of this issue. Can you let me know what happens if you use the legacy_build_api?

[2016-10-04 15:46] TKBurner commented on #5379
@PitchLabsAsh Do you have a sample project this is duplicatable on? Is force: true working? Would you be interested in working on a PR?

[2016-10-04 15:50] Luke-SF commented on #6099
Why is it a "feature request", not a bug, that the documented --clean false option doesn't actually do anything?

Try it, run `gym --clean false`,  `gym --clean true`,  `gym --clean FALSE`, every way it shows the xcodebuild clean step. Thank you for looking into this.

[2016-10-04 15:52] TKBurner commented on #6273
@johnryan Glad to hear you got up and running. Hope you have a great week!

[2016-10-04 15:55] reidmain commented on #6249
@TKBurner yes that is the fine that confuses me.

[2016-10-04 15:57] TKBurner commented on #6111
@scottrhoyt Can you share your full input and output so I can take a look? Thanks so much!

[2016-10-04 15:58] TKBurner commented on #1393
@pedro380085 Can you share your provisioning profiles section of your build settings (a screenshot)? Thanks so much!

[2016-10-04 15:59] TKBurner commented on #6320
@lukewakeford We'll keep tracking this as a feature request. I think we are going to learn that enterprise certs are more common among our community than we think. Thanks!

[2016-10-04 16:05] TKBurner commented on #6330
@gcamp Are you using RVM or system ruby?

[2016-10-04 16:05] gcamp commented on #6330
I use rbenv

[2016-10-04 16:15] TKBurner commented on #5341
@fotiDim Which folder are you running from. The project folder or the fastlane foler. Thanks!

[2016-10-04 16:16] TKBurner commented on #4783
@MickeyHub Sounds good! We are retiring things that haven't gotten any attention in 6 months, but if you are still interested we'll leave this open!

[2016-10-04 16:17] TKBurner commented on #6336
@lucabartoletti Did you run this command? You might need to renew your cert after you run match nuke.

[2016-10-04 16:23] TKBurner commented on #6340
@macfanatic Does the command

`set -o pipefail && xcodebuild -workspace ProductName.xcworkspace -scheme SchemeName -configuration 'Debug' -destination 'generic/platform=iOS' -archivePath /Users/administrator/Library/Developer/Xcode/Archives/2016-09-29/output\ 2016-09-29\ 10.54.28.xcarchive clean archive | tee /Users/administrator/Library/Logs/gym/ProductName-iPad-SchemeName.log | xcpretty`

succee

[2016-10-04 16:24] suculent commented on #5125
There are various reasons for such e-mails and various levels (warnings, errors). I can dig out couple of them past 5 years.

However, I was able to submit app on very first upload to TestFlight having the Exempt Encyption key in Info.plist set to false and TF userds set up

iTC might have also different questions, like IDFA but that does happen just on submission to Review.

Odesláno z iPhonu

4.

[2016-10-04 16:26] TKBurner commented on #5789
@mariocads This is a limitation imposed by Apple. What input did you give for that error? Thanks!

[2016-10-04 16:30] TKBurner commented on #6341
@yn5 Hope you are doing well. Did you run match development prior to running match appstore? Thanks!

[2016-10-04 16:30] TKBurner commented on #1867
@rexeisen Thanks! We'll keep this open 👍

[2016-10-04 16:32] TKBurner commented on #6321
@onmyway133 I think the commands that run are slightly different.

[2016-10-04 16:32] TKBurner commented on #4111
@hyphenbash No problem! We'll keep this open 👍

[2016-10-04 16:32] jeanregisser commented on #6099
@Luke-SF I hit the same bug here, `--clean false` always cleans. This should be labelled as a bug.

[2016-10-04 16:33] TKBurner commented on #5259
@geoHeil Try downloading it directly from apple and installing it after deleting the existing one. The secret key is generated on your machine.

[2016-10-04 16:36] TKBurner commented on #6352
@codmag This is not directly implemented but might be possible through spaceship. I'm going to mark this as a feature request. Thanks!

[2016-10-04 16:38] geoHeil commented on #6267
Yes. But not on all computers see the other issue with the wwdr
certificate.
Todd Burner <notifications@github.com> schrieb am Di. 27. Sep. 2016 um
22:42:

[2016-10-04 16:39] TKBurner commented on #4823
@triplef You'll need to either manually set your provisioning profile in the build settings or use the PROVISIONING_PROFILE_SPECIFIER. Let me know how it goes!

[2016-10-04 16:39] geoHeil commented on #6268
I see. So this may be related to my problems with the wwdr certificate.

Artyom <notifications@github.com> schrieb am Di. 27. Sep. 2016 um 07:51:

[2016-10-04 16:43] TKBurner commented on #1631
@onurhazar We haven't had a chance to do much work toward this here. But, I was wondering if you found a solution.

[2016-10-04 16:43] pedro380085 commented on #1393
Hi @TKBurner, I was able to solve it by adding a Entitlements file on Xcode 8. All good 👍

[2016-10-04 16:45] TKBurner commented on #6267
@geoHeil Glad to hear you got up and running!Let me know if you run into any more issues.

[2016-10-04 16:45] #6267 closed

[2016-10-04 16:46] TKBurner commented on #6268
@geoHeil Do you have a sample blank project this is duplicatable on? That'd help us a ton in investigating this. Thanks!

[2016-10-04 16:46] TKBurner commented on #5665
@louisatome Awesome! Glad to hear that we've gotten to the bottom of this. Do you think there is a change we can make on our end to avoid this for other users?

[2016-10-04 16:47] TKBurner commented on #6349
@PetrosIchor There is also a workaround for forcing match and enterprise however if you run into any issues we cannot help. Thanks!

[2016-10-04 16:49] TKBurner commented on #6318
@fcamaster Have you run `fastlane init` on this project yet? What directory are you running from? Can you run from the project directory? Thanks!

[2016-10-04 16:50] geoHeil commented on #6268
Unfortunately not. But the problem is only on one computer. This computer
has problems with the wwdr certificate as stated here
https://github.com/fastlane/fastlane/issues/5259

Todd Burner <notifications@github.com> schrieb am Di. 4. Okt. 2016 um 18:46:

@geoHeil <https://github.com/geoHeil> Do you have a sample blank project
this is duplicatable on? That'd help us a ton in investigating this. Th

[2016-10-04 16:51] geoHeil commented on #5259
@TKBurner I used https://www.apple.com/certificateauthority/ However, the key does not seem to be created.

[2016-10-04 16:51] KrauseFx commented on #6377
Have you set up the Xcode project as described here? https://docs.fastlane.tools/codesigning/XcodeProject/

[2016-10-04 16:53] TKBurner commented on #6359
@lyndsey-ferguson Are you using Sierra? I think this might be related to some other similar issues. Thanks!

[2016-10-04 16:57] TKBurner commented on #6351
@diaojunxian Was this the first version of this app that you've uploaded to the store? Thanks!

[2016-10-04 16:57] KrauseFx commented on #6151
Hey @jaleksynas, let me know when you find the time to share the output and stack trace. It would help a lot to reproduce and look into this issue 👍

[2016-10-04 16:58] TKBurner commented on #1969
@bskim45 Thanks for following up. We'll leave this open! 👍

[2016-10-04 16:58] SNN-reggie commented on #6349
I'm not using match, I'm using cert/sigh.  This issue is really just about sigh.

[2016-10-04 17:01] TKBurner commented on #6361
@deiucanta If you remove him from the repo, he'll still have the iTC information in his keychain if you gave it to him. However, to setup match you only need repo access and the password by using read_only: true.

[2016-10-04 17:01] TKBurner commented on #4815
@MickeyHub We'll leave this one open! Hope that you have a great day!

[2016-10-04 17:02] TKBurner commented on #1964
@gcstang Awesome! We'll leave this open in case someone wants to submit a PR.

[2016-10-04 17:06] TKBurner commented on #5285
@rentalanimal Thanks for following up. I bumped it with the core team so we can address this. 👍

[2016-10-04 17:10] lyndsey-ferguson commented on #6359
No, I'm still using El Capitan. Looking at the code, it has to have a default keychain as it doesn't have one specified. I'd like to avoid changing the default keychain and instead pass it down to Xcode directly using `OTHER_CODE_SIGN_FLAGS="--keychain mykeychain"`

[2016-10-04 17:14] TKBurner commented on #6365
@account-archived-270316 Have you tried using PROVISIONING_PROFILE_SPECIFIER?

[2016-10-04 17:17] TKBurner commented on #6278
@klundberg Thanks for following up. Any chance you'd be interested in submitting a PR? I've reached out to the core team about this as well. Thanks!

[2016-10-04 17:19] TKBurner commented on #6317
@ATS-RyanPowell You will need to setup this in your build settings in Xcode. Thanks!

[2016-10-04 17:21] TKBurner commented on #6272
@GandjaFuzz @jeremymlane Thanks for following up. What devices does this affect? I've reached out to the core team to get them to take a look. Thanks!

[2016-10-04 17:45] bartonhammond commented on #6288
`deliver` prompts
[code]

so I upgraded `snapshot`
[code]

Here is output from running `fastlane snapshot`

[code]

[2016-10-04 17:46] kwoylie commented on #6333
Yeah, it would be great if we can share some light on this. So from after playing around with the automatically signing migration and fastlane. Automatically signing uses a developer profile to create the archive of the app, then it will export and sign with the distribution profile.

This developer profile that it signs with is a special provision profile that gets generated by Xcode, but isn't v

[2016-10-04 18:09] ricardopereira commented on #6343
Me too, same issue: https://travis-ci.org/ably/ably-ios/builds/164994489

[2016-10-04 18:44] wkwyatt opened #6381 "Pilot Upload Failure undefined method `builds' for nil:NilClass"
### New Issue Checklist

- [x] Updated fastlane to the latest version
fastlane 1.104.0
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Pilot Upload Failure undefined method `builds' for nil:NilClass

##### Complete output when running fastlane, including the stack trace and command used
`fastlane beta`

[code]

[2016-10-04 18:52] TKBurner commented on #4702
@tomachi Thanks for up voting. We'll leave this feature request open. Hope you have a great day!

[2016-10-04 19:05] znerol commented on #1631
Regrettably I will likely not be able to push this further. I'll try to stick around in order to help people who are capable and willing to finish the work.

[2016-10-04 19:22] daneov commented on #6377
There was a remnant of a previously selected UUID in the .xcodeproj somewhere.
Could that have been the culprit?

It isn't occurring anymore, so I guess it is fixed, though it was weird having the same certificate in the keychain for about 3 times.

[2016-10-04 19:39] klundberg commented on #6278
I'm not sure what the exact problem here is, if it's related to that XcodeProj bug or not. I can't say whether or not I'll have any time to investigate this in the near future.

[2016-10-04 19:46] ssteinerx commented on #4301
@TKBurner maybe you should stop *"circling"* and *"surfacing"* and just get the bug fixed.

[2016-10-04 19:50] waroo opened #6382 "Display language that caused error when uploading metadata to iTunes Connect"
### Issue Description

During the Deliver phase when uploading metadata of multiple languages to iTunes Connect, if there is an error, the associated language is not displayed.  It would be useful to know which language caused the error.

Some items that can cause errors include, Name is already taken, App name is too long, keywords are too long, etc.

##### Complete output when running fastlane,

[2016-10-04 19:53] waroo commented on #5102
@TKBurner I've created a new issue for the language code at #6382

[2016-10-04 19:55] lfarah commented on #4301
@TKBurner thanks for giving us *free* support of Fastlane and telling the team to have more attention on this fix! 😃

[2016-10-04 20:06] #5486 closed

[2016-10-04 20:08] trackvia-ios commented on #5649
We are having the same issue as @larsacus - both exist and we would rather not just delete the `login.keychain` unless it is confirmed that fixes the issue with no side-affects.

For the record, I am able to run `bundle exec fastlane <job>` from my logged in user, but as my jenkins user, I see the issues mentioned above.

Sounds like keychain/permission access is the root of this problem...

[2016-10-04 20:12] trackvia-ios commented on #5649
Also for the record, I attempted to use @edwardvalentini's change to use dynamic `keychain_name` in calls to `match`. That seems to pass the assumed `login.keychain-db` for Sierra OS, but still throws the warnings:

[code]

And I believe since those are being output, my `Check Dependencies` step fails during compilation.

[2016-10-04 20:13] larsacus commented on #5649
@trackvia-ios I investigated my particular Sierra config more carefully, and running `security list-keychains` only returned the new `login.keychain-db`:

[code]

So, I moved my old `login.db -> login.db.bak` and did the above symlink and everything seems to be working properly...

[2016-10-04 20:17] trackvia-ios commented on #5649
@larsacus Wow, you are right good sir, great find! I see the same for my keychain list.

Just to confirm, you likely did something like:

[code]

That removes the existing login.keychain so we can create a symlink for the existing -db keychain.

Once you give the go-ahead I'll run commands and confirm fix. Thanks again!

[2016-10-04 20:21] larsacus commented on #5649
@trackvia-ios Yes, that's exactly what I did. The result of `ls -l ~/Library/Keychains` being:

[code]

I figured if anything went sideways I just put my "backed up" keychain back where it was, but it kind of looks like it migrates it altogether to `keychain-db`

[2016-10-04 20:22] KrauseFx commented on #6336
It shouldn't affect push certificates

[2016-10-04 20:32] KrauseFx commented on #6297
If you have access to your old mac, you can also find the password in the Keychain. Otherwise, run `match nuke`, and optionally clear out your repo

[2016-10-04 20:32] #6297 closed

[2016-10-04 21:05] owurman commented on #6264
Not sure why, but seems to be from calling xcodeproj::Project.save()

If you want to keep it open for now I can post what I find out from more investigation. I've switched gears for a moment (setting up Boarding for TestFlight).

[2016-10-04 21:22] trackvia-ios commented on #5649
@larsacus You are a true lifesaver - that is exactly what was needed to make our Jenkins user and logged in user work together in harmony. 👍

Gotta love the fastlane community!

[2016-10-04 21:32] KrauseFx commented on #6375
Nice catch, that definitely is an error that should be fixed. Can you prepare a PR for this? 👍

[2016-10-04 21:33] #6367 closed

[2016-10-04 21:33] KrauseFx commented on #6367
Thanks 👍

[2016-10-04 21:33] KrauseFx commented on #6366
Seems to be in there 👍

[2016-10-04 21:33] #6366 closed

[2016-10-04 21:34] wkwyatt commented on #6381
I have read over the code signing troubleshooting guide.  It doesn't seem to be the issue.

[2016-10-04 21:40] KrauseFx commented on #5998
Yeah, great to hear everybody 👍

[2016-10-04 21:44] trackvia-ios commented on #5649
Just a head's up for others following at home, I am still unfortunately seeing the error:

[code]

Running macOS Sierra 10.12 (16A319).

Continuing to troubleshoot and will keep you all posted if I find solution.

[2016-10-04 21:45] KrauseFx commented on #5649
@trackvia-ios Thanks, I do see that error too on Sierra, I just set this up on the Mac. It seems like this is just a warning, I don't know 100% for sure yet. Do you know by which command this message is caused?

[2016-10-04 21:49] trackvia-ios commented on #5649
Hey @KrauseFx - thanks for jumping in. Happy to help any way possible.

It seems like a warning, as Fastlane eventually completes successfully for just the `match` component.

However, when I attempt to run `gym` to deploy to Crashlytics with the following:

[code]

[2016-10-04 21:53] KrauseFx commented on #6346
This is fixed now, thanks again 👍

[2016-10-04 21:53] #6346 closed

[2016-10-04 21:55] KrauseFx commented on #6382
Thanks for the suggestion, that's something we actually have lined up to work on next. However if you feel like it, feel free to submit a pull request adding the language to the error message 👍

[2016-10-04 21:55] KrauseFx commented on #6341
This seems to be due to the used Xcode version, make sure to use the latest public Xcode release to submit your app

[2016-10-04 21:57] KrauseFx commented on #5649
@trackvia-ios Yeah, did you find out which command cause the error message?

[2016-10-04 22:15] #5489 closed

[2016-10-04 22:18] KrauseFx commented on #5649
Seems like it's described here https://github.com/fastlane/fastlane/issues/6233#issuecomment-250107604

[2016-10-04 22:28] KrauseFx opened #6387 "Update provisioning profile import for Sierra"
The error message

is shown for the command

[code]

however the command seems to be valid according to the documentation, and works as expected. We need to ignore the error message, as a fellow other project does (https://github.com/DanTheMan827/ios-app-signer/commit/3e4749855f3aab100f8f91ca0d34cf2098976f50)

Related issues:
- https://github.com/fastlane/fastlane/issues/5649
- https://github.com/

[2016-10-04 22:32] KrauseFx commented on #6233
Thanks @Lutzifer, this was really helpful, I summed this up in an issue https://github.com/fastlane/fastlane/issues/6387 and pushed a PR https://github.com/fastlane/fastlane/pull/6388 👍

Looking into the Keychain issue now

[2016-10-04 22:32] ericlewis commented on #6387
+1

[2016-10-04 22:35] #5355 closed

[2016-10-04 22:35] KrauseFx commented on #6233
@steve-gray Ignoring the error is the only thing to do, right? Or how did https://github.com/maciekish/iReSign/issues/89 get resolved?

[2016-10-04 22:38] KrauseFx commented on #6387
I just pushed https://github.com/fastlane/fastlane/pull/6388

@ericlewis if you have a chance, I'd love to get a +1 on the fix 🚀

[2016-10-04 22:50] ericlewis commented on #6387
@KrauseFx direct me to the docs necessary to do so an I will.

[2016-10-04 23:07] trackvia-ios commented on #5649
@KrauseFx I believe I've gotten around the initial issue by using the symlink for the variance in the keychain on Sierra. However, here's a little more insight into the specific failure I'm now seeing.

`fastlane` version: `1.104.0`
`match` version: `0.8.0`
`gym` version: `1.10.0`

[code]

After compiling project files, we see:

[code]

Here's the specific stacktrace related to the calls to `gym`,

[2016-10-04 23:14] ericlewis commented on #5649
@trackvia-ios i am also have a status code 65 exit in the same place.

[2016-10-05 00:31] yn5 commented on #6341
@KrauseFx Thanks for your suggestion, I'm running Xcode 8.0.

@TKBurner I'm doing well thanks :)

I think I ran `match development` before. Tried it again and got the following error doing so:
[code]
I've tried removing all certificates from the developer portal and used a clean repository but unfortunately no luck.

When running `match development` twice without removing certificates from the Por

[2016-10-05 02:02] KrauseFx commented on #5649
I can finally reproduce the error, and I'm working on a fix 👍

[2016-10-05 02:20] #6381 closed

[2016-10-05 02:20] KrauseFx commented on #6341
Easiest fix is to run `match nuke` to get a clean start 👍

[2016-10-05 02:53] #6387 closed

[2016-10-05 03:10] KrauseFx commented on #5649
I just pushed https://github.com/fastlane/fastlane/pull/6389, which will fix this issue. We'll push a release tomorrow 🚀

[2016-10-05 03:29] wkwyatt commented on #6381
I did a `sudo gem install pilot` for the update but now pilot builds seems to not run at all.

[2016-10-05 03:39] KrauseFx commented on #6381
The pull request is merged, however this also requires a new release, which we'll do first thing in the morning tomorrow 👍 If you know a bit about ruby, you can install the gem from the GitHub source too in the mean-time

[2016-10-05 03:45] wkwyatt commented on #6381
Thank you!  You're Awesome!

[2016-10-05 04:05] ConfusedVorlon commented on #6333
@TKBurner it would be great to have clarity on this. Better still if you can play nicely with automatic signing.

re a pull request - I think I'm done with those. It was deeply painful the last couple of times I tried.

thanks for following up.

[2016-10-05 04:26] RyogaK opened #6394 "Receive Invalid Swift Suport (don’t match dylib) issue if I upload the IPA exported by GYM."
### Issue Description

The situation is the exactly same as @chebur said in #5125.
But I want to help about just `Invalid Swift Support` problem here.

I got the following email from Apple.

[code]

I can make and upload binary correctly If I use XCode8 IDE.
Have anyone knowledge about this?

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Confi

[2016-10-05 05:13] KrauseFx commented on #6333
Thanks for the feedback @ConfusedVorlon @kwoylie, I completely agree we can do a better job documenting best practices around how to manage code signing in Xcode 8 with _fastlane_ and _match_. As you know we've worked on completely building the [docs.fastlane.tools](https://docs.fastlane.tools) from scratch. We're still working on refining all the docs, and want to put a big focus on code signing

[2016-10-05 05:14] KrauseFx commented on #6394
Why is it using the legacy build API even though you didn't declare it? Could you try not using the legacy API? This will solve the Swift issue

[2016-10-05 07:02] jaroslavas commented on #6378
Sorry, the problem was on my side. Everything's ok

[2016-10-05 07:02] #6378 closed

[2016-10-05 07:28] idomizrachi commented on #6330
I'm also having the same issue.
Will update if I find a solution for this

[2016-10-05 07:44] fcamaster commented on #6318
Thanks for the answer @TKBurner

Have you run fastlane init on this project yet?  Yes
What directory are you running from?  Root of the project directory
Can you run from the project directory?  I did it. The log is on the issue above "Configuration files"

[2016-10-05 07:51] ricardopereira commented on #6343
The issue about **xcpretty**: https://github.com/supermarin/xcpretty/issues/241

[2016-10-05 07:52] ricardopereira commented on #6343
`scan` will always use the latest version of `xcpretty`?

[2016-10-05 07:54] juraj-blahunka opened #6396 "Scan excludes test failures due to assertionFailure from Test Results"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

Scan exits with status code 65, but number of failures is 0 when a test fails due to a `assertionFailure`

[code]

Generated test reports are all green and don't include failed (`assertionFailur

[2016-10-05 08:06] #5505 closed

[2016-10-05 08:45] #5485 closed

[2016-10-05 08:58] biolinh opened #6397 "Gym: Code Sign error: No matching codesigning identity found: No codesigning identities (i.e. certificate and private key pairs) matching"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description
##### Complete output when running fastlane, including the stack trace and command used

When branding app using match, it returns the error:

[code]
### Configuration Files

Please copy the comp

[2016-10-05 09:19] JagCesar commented on #5649
Where are the rocket and sparkles reaction-emoji when you need them!? 😂

[2016-10-05 09:20] AdrienCog opened #6398 "[frameit] iPhone 7 shots"
frameit is not up to date with new iPhone 7 et iPhone 7 Plus shots. I'm adding a pull request to update the offsets.
Also, it looks like Apple doesn't provide horizontal picture for this model anymore...

[2016-10-05 09:27] RyogaK commented on #6394
OH, It's exactly my oversight. I don't know why that option is true, but it works after I put explicit `use_legacy_build_api: false`.

Thanks!

[2016-10-05 09:28] #6394 closed

[2016-10-05 09:32] WaKeMaTTa commented on #6203
# Solution

Check if you have the right version of RubyGems

[code]

If you have not, upgrade your RubyGems:

[code]

---

Now check you have the last bundler version:

[code]

If you have not, upgrade your Bundler:

[code]

[2016-10-05 09:34] WaKeMaTTa commented on #6066
**Solution** https://github.com/fastlane/fastlane/issues/6203#issuecomment-251627196

[2016-10-05 09:35] yn5 commented on #6341
@KrauseFx Match nuke unfortunately also results in the error:

[code]

[2016-10-05 09:46] troupmar commented on #6343
@ricardopereira Thanks, it is indeed an issue of xcpretty.  The new version 0.2.4 is to be released today but for now you can downgrade to version 0.2.2. That worked for me.

`gem uninstall xcpretty`
`gem install xcpretty -v 0.2.2`

[2016-10-05 09:52] pernilla commented on #5789
I'm a little bit confused. Should it be possible to upload ipa on a linux machine? I too get the error with "No such file or directory @ dir_chdir"? The following link https://itunesconnect.apple.com/WebObjects/iTunesConnect.woa/ra/resources/download/Transporter__Linux/bin only rerouted me to itunes connect page.

[2016-10-05 09:55] #5484 closed

[2016-10-05 10:22] rafnocx commented on #6343
@troupmar because I'm using `scan` inside one of my fastlane lane, I need to downgrade more things to make it work. I had to downgrade, `fastlane`, `snapshot`, `gym`, `scan`, they all have dependency to `xcpretty >= 0.2.3`.

[2016-10-05 10:24] ricardopereira commented on #6343
@troupmar Thanks!
@rafnocx Can you share your downgrades, please?

[2016-10-05 10:26] rafnocx commented on #6343
@ricardopereira here it is
[code]