[2018-03-06 19:54] Katorias commented on #11469
I have tried that yes.

[2018-03-06 19:55] joshdholtz commented on #11469
@Katorias Dang! I just came across that main threader checker thing today didn't know if that was also going to be a solution to this 🤔 I will do some noodling on this

[2018-03-06 20:14] joshdholtz commented on #11469
@Katorias Do you know how I can create a sample project to replicate this? I _might_ have a hunch on how to fix but need a sample project that can fail like this ^ 😬

[2018-03-06 20:41] Katorias commented on #11469
@joshdholtz Thanks for looking into this dude! I don't have a sample project at hand unfortunately, although my project set up was pretty much straight of the box.

I created a separate UITest target in xcode that sits in the same project as my actual app and also created a scheme for that target. Then I ran "fastlane init" in my project's root directory, copied in the snapshot swift file into the

[2018-03-06 20:43] joshdholtz commented on #11469
@Katorias Thanks for the setup description! I will try to do the same 💪 BTW, the "sudo" scares me a bit... I don't know if that is the cause but shouldn't be required for snapshot 🙃

[2018-03-06 21:16] hazzaldo commented on #11999
@joshdholtz ye I think that's a good idea. Every time I managed to solve an error quickly in Fastlane, it was because Fastlane gave me a big hint or told me what I needed to do to solve the issue (in the output). As you can see from this issue, without a helpful suggestion to solve the issue, the error itself doesn't tell you much, otherwise. I guess if you get email notifications via your smartph

[2018-03-06 21:42] anthonyjoeseph commented on #11137
This fastlane action runs spec tests written in ruby.

https://stackoverflow.com/questions/42735676/what-is-spec-path-for-fastlane-action-appium

 To use this action, you would have to re-write your node tests in ruby rspec.

[2018-03-06 21:50] joshdholtz commented on #11137
@anthonyjoeseph Thanks for answering this! You the MVP 🥇 Going to close this since implementing tests writing in javascript is probably not high on the list unless somebody would like to create a PR for this eventually 🙃

[2018-03-06 21:50] #11137 closed

[2018-03-06 23:00] emes commented on #11858
This is about an error when trying to decrypt the repo.

This has nothing todo with Swift, my config is Ruby, so I probably shouldn't even be here :-)

I was trying to make the point that maybe the Swift issue is not just a Swift issue (and this ticket has a good history).

Using Fastlane 2.84.0

1. Create a brand new git repo (no commits)

2. match development (works!)

[code]

3. Run exact same

[2018-03-06 23:11] hazzaldo opened #12001 "patch file to change provisional profile from dev to adhoc is throwing errors in Fastlane output"
- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
Currently I have a `beta_testflight` lane, which looks like this:
[c

[2018-03-06 23:27] williamsjj commented on #9363
I'm also having this problem. It happens when the minimum API level of the new build is greater than the old build. What we need is a flag to tell the Google Play API to accept it anyway (which it does if you manually upload).  @pedpess My versionCode is 4 higher than the last versionCode uploaded and the issue still occurs.

[2018-03-06 23:38] joshdholtz commented on #12001
@hazzaldo Does `git apply adhoc.patch` work when run by itself outside of fastlane in the CLI? It looks like the git command is returning an error because of an invalid patch `Exit status of command 'cd .. && git apply adhoc.patch' was 128 instead of 0.
error: corrupt patch at line 24`

I have no idea if this will work but maybe try...
[code]

If this doesn't work I don't think we can offer much h

[2018-03-06 23:42] joshdholtz commented on #9363
Heeyyyyyyy 👋 Just looking into this issue for the first time so sorry for my questions but it seems like everyone is able to successfully upload manually via the Google Play website but cannot upload via fastlane/supply, correct? If that is the case, I will add this to my list of things to look into and fix 💪

[2018-03-07 04:39] #11999 closed

[2018-03-07 08:06] jgongo commented on #9826
@joshdholtz Well, we are manually maintaining IAPs due to this. Has there been any change? Should I test again?

[2018-03-07 08:47] treinberger commented on #11435
+1

[2018-03-07 09:08] nikeshakya opened #12003 "cannot deploy to crashlytics"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

##### Complete output when running fastlan

[2018-03-07 10:16] corneliu-serediuc commented on #9363
Awesome! Thanks in advance, @joshdholtz!

[2018-03-07 11:10] Katorias commented on #11469
@joshdholtz Hmm, it seems when I run snapshot without sudo I get a permissions error when trying to write to the caches directory, which happens almost immediately after the initial build starts :/

[2018-03-07 11:51] #11973 closed

[2018-03-07 12:03] joshdholtz commented on #9826
@jgongo TBH, I don't know if there were any changes specifically for this but 2017 was a long time ago for both fastlane and the iTunesConnect API 😇 If you don't mind testing again for me that would be 👌 If it still errors out I will add this to my list of things to look into and fix

[2018-03-07 12:05] nidegen opened #12004 "fastlane uses Info.plist instead of target-specific plist"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
 Instead of updating `Resources/MyTargetInf

[2018-03-07 12:21] joshdholtz commented on #12004
@nidegen Heyy 👋 Is your `MyTarget` the name of your scheme? Can you confirm that your `MyTarget` scheme is properly pointing to the correct target? And that your target is referencing the correct plist?

![mytarget](https://user-images.githubusercontent.com/401294/37091995-c6c9d96a-21cf-11e8-8c51-07d300fa1090.png)

[2018-03-07 12:37] hazzaldo commented on #12001
Hi @joshdholtz , thanks for the response and suggestion :)
So the `corrupt patch at line 24` is no longer showing when I added `\ No newline at end of file` at the end of the patch file. However, now when I run `git apply adhoc.patch` I get a different output error:
[code]
When I navigated to that directory, the file does exist. So I don't know why it's saying `no such file or directory`!!!
![proj

[2018-03-07 12:51] nidegen commented on #12004
thanks for the feedback!

after double checking, i found that the plist file was not added to the target properly. i think this will be the error. if not i will reopen.. thanks!

[2018-03-07 13:33] joshdholtz commented on #11735
@hszeto Heeyyy 👋 I ran into this same error today while I was actually trying to look into #9363 😕 I'm thinking this _may_ be an error in the `google-api-client` gem. I created a sample script outside of fastlane using just the `google-api-client` provided sample code and I still got this error.

However, after I manually submitted a build through the Google Play web dashboard, I was able to submi

[2018-03-07 13:42] joshdholtz commented on #9363
Just wanted to give a quick update here. I'm _thinking_ that this issue lies within the `google-api-client` gem that we are using to interact with the Google Play API. I was trying to replicate this error when I actually started getting `cannotUpdateApksOnTrackWithDraftRelease` (which is #11735).

I created a sample script using `google-api-client` outside of fastlane and was still getting same er

[2018-03-07 13:58] joshdholtz commented on #12001
@hazzaldo It sounds like something is still wonky with the patch and where (the directory) the command is being execute from? The space in the file name might be an issue? I don't think I can be too much help since this is more of a custom implementation than something built and supported by fastlane 🙃

[2018-03-07 14:06] hazzaldo commented on #12001
No problem. Thanks for your suggestions in any case :)

[2018-03-07 14:10] luiszacheu opened #12005 "Problem to upload android app to crashlytics"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [ x I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

##### Complete output when running fastlan

[2018-03-07 14:23] joshdholtz commented on #12001
Anytime! Have fun fastlaning 🚀

[2018-03-07 14:23] #12001 closed

[2018-03-07 15:50] joshdholtz commented on #12005
@luiszacheu So uploading your android app to crashlytics was working until a few days ago? Did anything else change on your system since then? Like Java versions? SSL? Proxies?

I'm not a huge expert at this kind of stuff but it seems like there is something between fastlane and crashlytics API that is causing this 😬

[2018-03-07 16:22] joshdholtz commented on #12005
@luiszacheu I just built an Android app and successfully uploaded it to crashlytics successfully on my side. It looks to be a configuration issue or something on your machine. Are you able to try to run your fastlane setup on a different machine to see if it works there?

[2018-03-07 16:26] joshdholtz commented on #12003
@nikeshakya Do you have any more output available? Like where the IPA was originally located or what temporary path it tried to inflate? Your `Fastfile` looks like it should be okay so can't tell too much right now without some more info 🙃

[2018-03-07 16:40] nikeshakya commented on #12003
@joshdholtz ipa is located in same directory where fastfile is located..
I used this about 1 2 months ago....it was working fine
but now it is giving me this error.

[2018-03-07 17:59] hazzaldo opened #12006 "error with devices text file option of register_devices"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
I'm trying the `register_devices(devices_fi

[2018-03-07 18:18] joshdholtz commented on #11642
@Cyberbeni Would you be able to make a PR to fix this?

[2018-03-07 18:20] joshdholtz commented on #12003
@nikeshakya Weird 🤔 This appears to be an issue from within the Crashyltics side of things - `Crashlytics.framework/submit 1.3.5`. I don't know a ton about Crashlytics works on the inside but it looks like this may be a crashlytics issue?

[2018-03-07 18:40] luiszacheu commented on #12005
@joshdholtz Yes I did try in my personal machine and works successfully, I don't remember if I updated my java versions, but I install some certificates to iOS distribution and make a any setup my environment for this. Thank you. I go search how fix this :(

[2018-03-07 18:51] joshdholtz commented on #11638
Linking for historical purposes.= https://docs.fastlane.tools/actions/frameit/#usage

[2018-03-07 19:07] KellyHannemann commented on #11687
I look forward to Windows support. Would like to use fastlane with xamarin for android and ios, anyone who has tried this?

[2018-03-07 19:08] luiszacheu commented on #12005
@joshdholtz the problem occurs after I run this command: `osx-ssl-certs update all`
 When I run this on failed machine `rvm osx-ssl-certs status` show me this `Certificates for /usr/local/etc/openssl/cert.pem: Up to date.`
I sucess machine show me this : `Certificates for /usr/local/etc/openssl/cert.pem: Old.`

You have any idea about this?

[2018-03-07 19:11] KellyHannemann opened #12007 "Xamarin automatic release ios and android"
### New Issue Checklist

- [ x] Updated fastlane to the latest version
- [x ] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x ] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [ x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
Is there a way to use fastlane to autom

[2018-03-07 20:00] joshdholtz commented on #12007
@KellyHannemann Hello 👋  There is currently no support for Xamarin for building apps in fastlane. Some people have developed custom implementations that have worked for them but we don't have anything built in yet. We would gladly take a pull request for Xamarin support if anybody is willing to make it though 😇

[2018-03-07 20:00] #12007 closed

[2018-03-07 20:03] joshdholtz commented on #11031
Closing this since @sharat comment above is the preferred way of doing this 😊

[2018-03-07 20:03] #11031 closed

[2018-03-07 20:07] joshdholtz commented on #11037
Closing due to not enough information

[2018-03-07 20:07] #11037 closed

[2018-03-07 20:12] #11038 closed

[2018-03-07 20:17] joshdholtz commented on #12006
@hazzaldo Do you have a tab between "Device ID" and "Device Name"? Your file contents shows a tab between the `e7de9ef16f1950f76fb1198b4f991b1d213157c2 ` and `Hareth's iPhone` but not between the `Device ID` and `Device Name`

[2018-03-07 20:23] provTheodoreNewell opened #12008 "Beta app description from Pilot is adding English (Australia) localization"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Every time I upload a new build to TestFli

[2018-03-07 20:28] joshdholtz commented on #10770
Closing this as it seems to be working okay. The "You have to specify a new version number, as there are multiple to choose from" is a prompt to choose which app version if there are multiple.

[2018-03-07 20:28] #10770 closed

[2018-03-07 20:32] Jules2010 commented on #11638
This isn’t fixed though.

[2018-03-07 20:38] joshdholtz commented on #12008
@provTheodoreNewell That is super strange 🤔 I have never experience this myself and its kinda hard to look into based up that information you were able to provide.

Is your primary language still set to "English (U.S.)"?

Like...
![screen shot 2018-03-07 at 2 37 38 pm](https://user-images.githubusercontent.com/401294/37116879-1ea5cc1c-2215-11e8-90ca-96a55b053b71.png)

[2018-03-07 20:38] joshdholtz commented on #11638
@Jules2010 My bad! I thought your link to the other issue was saying that solved it for you.

[2018-03-07 20:52] joshdholtz commented on #11638
@Jules2010 Are you thinking we display an error in the console like the following?

[2018-03-07 20:55] provTheodoreNewell commented on #12008
Yes, primary language is still "English (U.S.)". It seems odd that it's a localizable field but Pilot doesn't need to know what language to pick.

[2018-03-07 20:59] tkiener commented on #11022
Same here. Had to remove preview videos from ITC before uploading screenshots via fastlane

[2018-03-07 21:29] joshdholtz commented on #12008
I honestly had no idea that it was a localizable field. This is probably a dumb question but are you located in Australia? I literally have no idea what could be causing this without digging way deep into it so just asking the questions first 😬

[2018-03-07 21:57] Jules2010 commented on #11638
I don’t provide these for any other screen shots are they all provide the correct size.

I think I was mistaken when I mention 7432

[2018-03-07 22:14] provTheodoreNewell commented on #12008
No worries – I'm located in United States.
Here's a screenshot of the field in question on iTunes Connect:
![localizabletestinformation](https://user-images.githubusercontent.com/29579009/37121390-cc232a14-2211-11e8-8c0f-84452b34bd3a.jpg)

[2018-03-07 22:47] Cyberbeni commented on #11642
Yeah, sure. Is it just the test that needs fixing? (Preconfigured xcsettings for the user and expecting the derived data path to be the same as project path)
If I set derived data to be `Relative to Workspace` in the directory `OtherStuff/MoreFolders/DerivedData.noindex` then I'd expect the path fetched from the config to be `projectPath/OtherStuff/MoreFolders/DerivedData.noindex` instead of just

[2018-03-07 23:24] stonehouse opened #12009 "Frameit titles shown as question marks when "Whites" used as key"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
This is a pretty weird issue, I just wanted

[2018-03-07 23:28] janpio commented on #12009
Only thing I can think of: There is a way to specify the color of the frames to be used when framing the screenshots - maybe this includes "white" and somehow (but how!?) messes with the strings?

[2018-03-07 23:52] dineshkrishna opened #12010 "Fastlane formatted output is not working properly in CloudBees Jenkins CI even after using ANSI plugin"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### The fastlane formatted output is not working properly in Clou

[2018-03-08 03:57] hulinhu521 opened #12011 "Could not retrieve response as fastlane runs in non-interactive mode"
After set  fastlane init:

INFO [2018-03-08 11:42:52.96]: -----------------------------
INFO [2018-03-08 11:42:52.96]: --- Welcome to fastlane 🚀 ---
INFO [2018-03-08 11:42:52.96]: -----------------------------
INFO [2018-03-08 11:42:52.96]: fastlane can help you with all kinds of automation for your mobile app
INFO [2018-03-08 11:42:52.96]: We recommend automating one task first, and then graduall

[2018-03-08 04:00] hulinhu521 commented on #12011
what should I do for this issue ?? thanks.

[2018-03-08 04:06] nikeshakya commented on #12003
@joshdholtz any suggested solution for this ?

[2018-03-08 04:30] joshdholtz commented on #12003
@nikeshakya Are there any upgrades for Crashlytics available? Its either an issue with the IPA not getting created properly, some permissions of some sort where the temporary path is, or something within Crashlytics. Is your hard drive full??? Maybe that's why I can't inflate the IPA? 🤔

[2018-03-08 07:51] Cyberbeni commented on #11642
It's actually almost done if only the test needs fixing.

[2018-03-08 09:22] EugeneGoloboyar opened #12012 "Is it possible to add new url_scheme keeping existing one? "Add" instead of "update all"?"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [X] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [X] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Hi. Thanks for a great tool.
I wonder is i

[2018-03-08 11:19] hazzaldo commented on #12006
Good call @joshdholtz :)  yep that was the issue. It's working now. Fastlane community must be keeping you on overtime shift :D  as this is my third issue I've raised on Fastlane that you ended up answering in quick succession. Many thanks @joshdholtz  :) 👍

[2018-03-08 11:20] #12006 closed

[2018-03-08 11:33] nikeshakya commented on #12003
it is not hard drive issue..
and I have latest crashlytics
I also tried creating IPA from xcode and then upload it via fastlane but still same error

[2018-03-08 14:15] joshdholtz commented on #12012
@EugeneGoloboyar You will be able to if/when this PR gets merged 😊 - https://github.com/fastlane/fastlane/pull/12014

[2018-03-08 14:18] joshdholtz commented on #12003
@nikeshakya Are you able to try uploading the IPA with crashlytics directly? (I don't know how this is done, TBH). But that would help us diagnose if its a fastlane issue or a crashlytics issue 😇

[2018-03-08 14:20] nikeshakya commented on #12003
yeah
uploading directly crashlytics is what I have been doing..
now I want it to be automated with fastlane
but its causing error @joshdholtz

[2018-03-08 14:27] joshdholtz commented on #12003
@nikeshakya Thanks for looking into! That is very odd. Are you able to provide me with a full output so I can see any more stacktrace info? (if there is anymore)

[2018-03-08 14:28] joshdholtz commented on #12003
@nikeshakya Can you also set the `debug` option in the `crashlytics` action to `true` for me? 😁

[2018-03-08 14:31] joshdholtz commented on #12011
@hulinhu521 What terminal program are you running this in? Are you using the standard OSX "Terminal" app?

[2018-03-08 15:02] joshdholtz commented on #11735
Created on issue on `google-api-client` to see if we can diagnose this problem any further - https://github.com/google/google-api-ruby-client/issues/655

[2018-03-08 16:45] nidegen commented on #12004
actually it doesnt. still, when i use fastlane to upload (to testflight atm) there are errors because of bundle/build version.

if I upload over itunes, it works well. (even though i upload an archive made by fastlane)

[2018-03-08 16:59] beloso commented on #11503
I am having this issue, using latest fastlane (2.84.0).
I have ruby 2.4.0 installed via rbenv

I have tried to uninstall fastlane and reinstalling and no luck

[2018-03-08 17:05] joshdholtz commented on #11503
@beloso I will reopen this up for us to look at 👀

[2018-03-08 17:11] joshdholtz commented on #12004
^ This makes it seem like things are "building" fine, right? That `deliver` (or similar action that you are using to upload to TestFlight) is maybe grabbing the wrong IPA? Could it be possible grabbing wrong IPA?

[2018-03-08 17:19] beloso commented on #11503
thank you

I get these warnings when I start fastlane

[code]

[2018-03-08 17:22] szweier commented on #10967
I just ran into this issue on 2.84.0

[2018-03-08 17:26] joshdholtz commented on #10967
Adding to my list to look into ^

[2018-03-08 17:47] dvdrlee commented on #11979
Could it be the same as the issue mentioned here? https://github.com/fastlane/fastlane/issues/11888

[2018-03-08 17:50] dvdrlee commented on #11888
Similar to ☝️ our last successful upload of mapping.txt file was on 2/16 and the next one on 2/21 failed

[2018-03-08 18:00] vanniktech commented on #11979
Yes I'll close. Sorry for the dupe.

[2018-03-08 18:00] #11979 closed

[2018-03-08 18:18] szweier commented on #10967
@joshdholtz thanks for looking into it. FWIW I just reran my deploy and it worked fine.

[2018-03-08 18:23] joshdholtz commented on #10967
@szweier Waiiittt, it worked one now?! But didn't work a few hours ago?

[2018-03-08 20:10] jeremyspatrick commented on #11570
I am experiencing this issue today. I was able to build an app yesterday with the same login.

[2018-03-08 20:23] polmum commented on #11139
Hey! I'm also having the same issue (an enterprise account trying to generate an AdHoc profile). The problem seems to be the one mentioned by @dlxxl06, and adding the code line he is proposing after line 180 in the following snippet should fix the issue.
https://github.com/fastlane/fastlane/blob/181a4c140ceca56c0ebf89bcdfa452527968483b/sigh/lib/sigh/runner.rb#L174-L181

[2018-03-08 20:26] joshdholtz commented on #11139
@polmum Thanks for linking that! Will look into 👀

[2018-03-08 21:21] szweier commented on #10967
Correct, I ran it once and it failed, decided to give it another shot since it had worked during last weeks deploy. When I did it all worked just fine. This was nothing more than a half an hour gap between attempts and I changed nothing.

[2018-03-08 22:01] skellock commented on #11503
`rvm use system` might help too. (don't forget you may need to `gem install bundler` and `bundle install`)

[2018-03-09 04:48] Tayphoon commented on #11503
Remove fastlane and remove rvm. Check your bash profile remove fastlane bin links. Update system ruby version and install fastlane

[2018-03-09 06:21] nikeshakya commented on #12003
@joshdholtz will update you today
gonna try update gem files

[2018-03-09 06:26] G1King opened #12017 "EXPORT FAILED Exit status: 70"
<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                         | Value                                       |
| --------------------------- | ------------------------------------------- |
| OS                          | 10.12.6                                     |
| Ruby                        | 2.2.4                                       |
| Bundler?

[2018-03-09 06:27] nikeshakya commented on #12003
@joshdholtz it uploaded successfully after updating gem files
will close issue for now and update you when I encounter similar problem again
thanks

[2018-03-09 06:27] #12003 closed

[2018-03-09 07:21] YTFDoing opened #12018 "Please help me. How to modify project.pbxproj file？I didn't find the action."
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [ ] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [ ] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

##### Complete output when running fastlan

[2018-03-09 08:15] n1mda commented on #11886
I'd be very interested to hear how someone else has solved this. Doesn't anyone else use enterprise distribution?

[2018-03-09 08:57] ergunkocak commented on #11828
I'm also seeing this issue with version 2.84.0

`bundler: failed to load command: fastlane (/Users/jenkins/.gem/ruby/2.5.0/bin/fastlane)
Spaceship::UnexpectedResponse: ?[31m[!] {"code"=>"ITC.response.error.OPERATION_FAILED", "description"=>"Failed to submit build for review."}?[0m
  /Users/jenkins/.gem/ruby/2.5.0/gems/fastlane-2.84.0/spaceship/lib/spaceship/test_flight/client.rb:292:in `handle_res

[2018-03-09 09:23] mikrohard commented on #10786
I have the same issue. After retry no new screenshots are copied...

As far as I checked the code I think it goes like this.

Normal run:
1.) launch_simultaneously
2.) prepare_for_launch -> creates screenshots directory
3.) execute -> runs UI tests & makes screenshots
4.) copy_screenshots -> copies screenshots into output directory & removed screenshots directory

Retry run:
1.) launch_simultaneou

[2018-03-09 09:45] nidegen commented on #12004
That could be the issue. However, it takes the correct ipa, but uses the wrong metadata for uploading it.

i mean it probably uses a a bundle id and build number to tell the server wher to upload the ipa to, not?
and there i think lies the error. any way to debug that?

I upload using
[code]

[2018-03-09 12:25] joshdholtz commented on #12004
@nidegen Can you past your whole `Fastfile` in here so I can see what your lanes fully look like? 🙃

[2018-03-09 12:26] joshdholtz commented on #12018
@YTFDoing What are you looking todo? A to of Xcode Project modification is one with https://github.com/CocoaPods/Xcodeproj

[2018-03-09 12:40] joshdholtz commented on #12017
@G1King Your error appears to be something with the value you are setting for `iCloudContainerEnvironment `

Your output shows the following error. What do you have it set as? It needs to be either "Development" or "Production".
[code]

[2018-03-09 13:06] joshdholtz commented on #11886
@n1mda This can't be done without nuking. Only two distribution certs are allowed to be active at once and they will expire (you can't just renew them). You will have to nuke them at some point when they expire and create new ones. Provisioning profile can automatically get regenerated with `match` and `sigh` but we aren't so lucky with certs.

[2018-03-09 13:07] joshdholtz commented on #11886
BTW, I do a lot of enterprise distribution. I usually just end up nuking every year or so (whenever my certs expire) and recreate them 🙃

[2018-03-09 13:17] joshdholtz commented on #10967
@szweier Uhhhh... do you remember what state your app was In in iTC when this error happened? Maybe the response back from Apple was different than we expect for whatever state it is 🤔

[2018-03-09 13:28] szweier commented on #10967
@joshdholtz on the first attempt there was a version that was available in the store and nothing more. When I ran deploy it made the build, uploaded it to itc, did its polling to find the build, after finding the build it attempted to update settings (this is all typical of every release by the way) and thats where it failed. At that point I read through this issue and decided to go back and run t

[2018-03-09 14:04] shrawan2015 commented on #12003
Your fastlane version 2.85.0 matches the minimum requirement of 2.85.0  ✅

[05:59:31]: Successfully exported and compressed dSYM file
[05:59:31]: Successfully exported and signed the ipa file:
[05:59:31]: /Users/distiller/AppIOS/Beta.ipa
[05:59:31]: -------------------------
[05:59:31]: --- Step: crashlytics ---
[05:59:31]: -------------------------
[05:59:31]: Uploading the build to Crashlytics B

[2018-03-09 14:31] joshdholtz commented on #11888
@thauz @dvdrlee (and everyone else) Hmmm... I just successfully sent up a mapping.txt file 🤔 Which is totally not what I expected to happen and now I'm unsure of how to help 😱

Am I doing something differently than what you are all doing?

## Worked for me? 😬
![screen shot 2018-03-09 at 8 02 09 am](https://user-images.githubusercontent.com/401294/37211029-3f74d224-2370-11e8-9d81-6b2daabefd33.png)

[2018-03-09 14:35] joshdholtz commented on #12003
@shrawan2015 Your issue is a fabric's side - I saw this myself when trying to debug this issue. It took a good amount of time for my app to show up in fabric. I don't exactly know what happens but if fastlane says that it successfully uploaded then there isn't anything more I can help with 😇

Sorry for you pain! I know how this goes 😢 It eventually showed up for me (don't know why/how)

[2018-03-09 14:37] joshdholtz commented on #10043
@taquitos What you wanna do about this? 😉

[2018-03-09 14:40] joshdholtz commented on #11649
@bhawin-bigstep Yes, you can create `Development` and `Distribution` certs using fastlane 👌

[2018-03-09 14:40] #11649 closed

[2018-03-09 14:59] joshdholtz commented on #11632
@RishabhTayal Were you able to get this solved?

[2018-03-09 15:08] joshdholtz commented on #11632
@RishabhTayal Looks like it is a bug right here - https://github.com/fastlane/fastlane/blob/master/supply/lib/supply/uploader.rb#L8

Its expecting metadata, apk path, or apk paths (which make sense for most things but not working when just trying to promote a track. I will look into fixing this 👌

[2018-03-09 15:11] heps commented on #11070
@saitjr What do you mean by "So I have to merge entitlements by myself and specify entitlements key." ?

I have the same problem with resigning the app with an extension.
I managed to set proper app prefix (for keychain sharing) and appid (for app group sharing).
But I end up with both binaries (app+extension) with the same app identifier.
I cannot figure out how to configure this to have proper a

[2018-03-09 15:55] wuftymerguftyguff opened #12019 "Snapshot fails all UI tests when app has background processing."
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

My app has an embedded web server.  This r

[2018-03-09 15:57] olivierg13 commented on #11888
It worked for me again last night (><)
I think the mapping file upload is back, maybe a Google Api issue?

[2018-03-09 15:59] janpio commented on #12019
When does this error occur - before, during or after taking the screenshots?

[2018-03-09 16:15] wuftymerguftyguff commented on #12019
The screenshots seem to get taken, the files in the output dir certainly get updated.

However every single test is failed, so the individual files never get processed and screenshots.html never gets updated.

I get the error once per test.

I guess the process under test is polled to see when it is complete? As mine has background threads it does not appear to be complete inside the 60 second tim

[2018-03-09 16:23] taquitos commented on #10043
I think anything that we can do to make fastlane more robust when it comes to handling flaky API is a huge win.

[2018-03-09 16:25] bolom opened #12020 "SpaceShip - Delete a locale"
I have found the way to create a new language with the method create_languages, but I am wondering if there is a way delete a language?

[2018-03-09 16:27] joshdholtz commented on #11888
YES! Let's say that ^ Going to close this for now but feel free to comment/reopen if you see this happening some more 😊

[2018-03-09 16:27] #11888 closed

[2018-03-09 16:28] thauz commented on #11888
Works for me too :-)
The clue was to explicitly set the skip_upload_xyz to false (for my scenario). It obviously defaults to true and this apparently was no problem until 19.2. Google API seems to be more strict now.
So thanks @joshdholtz . You pushed me into the right direction 👍

[2018-03-09 16:38] RudolfVonKrugstein opened #12022 "fastlane supply - Google Api Error: noTitle while uploading"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [X] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [X] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)
And they exist, but I cannot comment: https://github.com/fastlane/

[2018-03-09 16:40] janpio commented on #12019
That is what I would guess as well. Not really an idea how to fix that though :/

[2018-03-09 16:40] RudolfVonKrugstein commented on #12022
This is the content of metadata/en-US:

[code]

[2018-03-09 17:08] joshdholtz commented on #11041
There has been no response for a few months heres closing. Feel free to comment with your output if you want us to reopen and look into 😊

[2018-03-09 17:08] #11041 closed

[2018-03-09 17:13] #11632 closed

[2018-03-09 17:14] heps commented on #11070
The problem imho comes from the fact, that when “use_app_entitlements” is set, the app group should come from the prov profile and not from the original entitlements. But the opposite is performed which does not make sense to me at all.
I cannot think of a scenario, where you wanna resign an app with new prov profiles, without changing the app group. But maybe I make a mistake in my thinking.

Cou

[2018-03-09 17:25] kapfab commented on #11070
`use_app_entitlements` does use the access groups (and most of other entitlements) from the app entitlements and not from the provisioning profile (many changes about this in 2.82).
You should use this option to resign an app with extensions.

[2018-03-09 17:26] klinkert0728 opened #12023 "Missing password for user, and running in non-interactive shell"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

<details>
  <pre>[09:19:54]: [32mDriving

[2018-03-09 17:26] heps commented on #11070
Thanks for answer but in that case what to do to alter the App Group during the resign?

[2018-03-09 17:27] klinkert0728 commented on #12023
I already have the password stored in the keychain it works if I run the code manually

[2018-03-09 17:31] ndson040496 opened #12024 "Snapshot fails to build the test"
### Issue Description
I ran into a weird issue. When I run fastlane snapshot, everything works fine. However, when I try to do it from jenkins, it fails at this step:
xcodebuild -showBuildSettings -scheme UITests -project ./abc.xcodeproj
I tried to run this command locally and it failed because of no provisioning  profile was provided. Why is this only happening from jenkins or if I run the build

[2018-03-09 17:34] #10843 closed

[2018-03-09 17:58] WoodyWoodsta opened #12025 "Match decrypt failure-then-success password loop"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
This issue has almost definitely been repor

[2018-03-09 18:12] kapfab commented on #11070
Do you want to change the Team Id contained within the App Groups (that `resign` will update automatically) or change the App Groups to something completely different?

[2018-03-09 18:15] heps commented on #11070
These two comes in pair. Every App Group is exclusive to one Team. So I need to change both as other account has different App Group.

[2018-03-09 18:18] MirceaStroe commented on #11802
Update. Issue still occurs. added fastlane env and --verbose. Still not sure if it's a Jenkins script error or a Jenkins error:

Preview Build: no need to download certificates
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:--

[2018-03-09 18:58] kapfab commented on #11070
Sorry, my previous comment was not responding to yours but completing mine (I did not refresh). And there is no Team Id involved in the App Groups (I misread Access Groups).

I understand the issue.
This specific entitlement should be retrieved from the provisioning profile instead of the app entitlements.
I’ll make sure there is no edge cases and prepare a PR for that.

[2018-03-09 19:09] RishabhTayal commented on #11632
@joshdholtz Awesome! Thanks.

[2018-03-09 19:39] Incorporalis opened #12026 "uninitialized constant FastlaneCore::ConfigurationFile::FASTLANE_ITC_TEAM_NAME"
Fastlane version is 2.85.0

We have a lot of teams connected to our account, so we send team_name parameter to deliver. But after update to 2.85.0 version it started crashing with the error

`uninitialized constant FastlaneCore::ConfigurationFile::FASTLANE_ITC_TEAM_NAME`

But this environment key is keeping our team name and all other steps above are going well.

Please take a look

[code]

[2018-03-09 20:14] ndson040496 commented on #12024
I found the reason why it doesn't work. I installed fastlane in /usr/local/bin while jenkins in /Users/myUser. I installed another jenkins in /Users/myUser and it works

[2018-03-09 20:14] #12024 closed

[2018-03-09 21:44] WoodyWoodsta commented on #12025
Managed to resolve the issue! The problem was that I did not place a `match_version.txt` file in the root of the repo, and this caused the tool to get into some sort of a loop.

Perhaps this could be a bit safer?

[2018-03-09 23:38] joshdholtz commented on #11042
I found it by the UI spitting it out when it was first introduced 😊 But I do like the idea of putting this in the "Advanced" section of docs. I will create a PR over there and reference this issue 💪 Thanks for bringing this up!

[2018-03-09 23:38] #11042 closed

[2018-03-09 23:40] joshdholtz commented on #11032
@cyurtbil Are you able to provide your `Fastfile` or `Snapfile` so we can see your setup?

[2018-03-09 23:43] joshdholtz commented on #10930
Closing this issue as it seems like things were fixed! Comment back if things are still an issue and we can reopen 😊

[2018-03-09 23:43] #10930 closed

[2018-03-09 23:44] joshdholtz commented on #10702
Closing this as it seems like things are fixed now. If issues still popup I can reopen 😊

[2018-03-09 23:44] #10702 closed

[2018-03-10 00:56] #12026 closed

[2018-03-10 02:25] G1King commented on #12017
@joshdholtz  thank you for your reply!
this is my ExportOptions  . i set iCloudContainerEnvironment,But it's still wrong.
![image](https://user-images.githubusercontent.com/21077737/37237369-3a1d0354-244d-11e8-9eb6-7df7ecdedd72.png)

[2018-03-10 02:27] G1King commented on #12017
@joshdholtz thank you for your reply。I set iCloudContainerEnvironment value.but it's still wrong.
this is my exportOptionsPlist
![image](https://user-images.githubusercontent.com/21077737/37237398-9e0700ae-244d-11e8-952b-a8d4fd50b028.png)

[2018-03-10 08:08] heps commented on #11070
Fantastic news, I really appreciate that!

[2018-03-10 10:25] amlcurran commented on #11604
As this is a "you can do this" task, I'd like to take a look at implementing it - I also find it someone distracting when debugging an error.

I see there is some [similar functionality](https://github.com/fastlane/fastlane/blob/master/fastlane_core/lib/fastlane_core/update_checker/update_checker.rb#L77) already there which prevents the changelog being displayed, so I will start from there!

[2018-03-10 12:54] RudolfVonKrugstein commented on #12022
I added an en-US translation in the AppStore manually, now it works.

[2018-03-10 12:54] #12022 closed

[2018-03-10 15:19] zerozheng opened #12028 "Could not retrieve response as fastlane runs in non-interactive mode while using fastlane match nuke development"
- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

ruby-2.3.4
fastlane-2.85.0

When use `match nuke development`, error occurred.

[code]

I

[2018-03-10 16:48] bolom commented on #12020
I am using fastlane

[2018-03-10 17:09] bolom commented on #12020
If this feature doesn't exist, if you can give me any direction to start to build. It will be helpful

[2018-03-10 17:28] bolom commented on #12020
I have found a way

[code]

[2018-03-10 17:28] #12020 closed

[2018-03-10 18:16] taquitos commented on #11676
Shipped

[2018-03-10 18:16] #11676 closed

[2018-03-10 18:47] emes commented on #11858
@Cyberbeni any thoughts on how I could provide more info for this?

[2018-03-10 19:00] gokulraja opened #12029 "P12 file created by match cannot be installed on another computer manually or usable by other tools (MS AppCenter)"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
Unable to use the mobile provisioning file, p12 file combination on ms appcenter. Get the password is wrong error.
on Mac when I double-click and try to

[2018-03-10 19:28] Cyberbeni commented on #11858
I currently have no idea what could cause this issue as it is working fine on my setup and I don't see any difference that could cause failure... But we can walk through debugging this issue together:
- First separate encrypt and decrypt command from here: https://github.com/fastlane/fastlane/blob/bac851c5d24a9c13f1bcd082fa055cb8cecc8258/match/lib/match/encrypt.rb
- Change salt to be a specific 8

[2018-03-10 21:00] joshdholtz commented on #11828
I don't know if this helps or not but I actually get the `Failed to submit build for review.` error when using the iTC website (without fastlane) when trying to distribute to external testers. Been happening to me since January/February. I have to retry about 4 or 5 times before it happens. This probably makes things more confusing. So I don't know if this means its more of an iTC issue??? 😖

[2018-03-10 21:05] joshdholtz commented on #12019
@wuftymerguftyguff Are you able to provide a code example of the embedded web server so we can try and reproduce? There seem to be a few issues with snapshot and background processing and having a nice background example might help 🙃

[2018-03-10 21:07] joshdholtz commented on #12023
@klinkert0728 Does your password by any chance have a `\` in it? It maybe related to this issue - https://github.com/fastlane/fastlane/issues/10746

[2018-03-10 21:19] joshdholtz commented on #11660
@ribtiago Thanks for the feature suggestion! This is something we will think about adding when we get time unless you are willing to attempt to make this change on your own and open up a PR for it 😊

[2018-03-10 21:21] joshdholtz commented on #11657
@YannickSteph Are you running this like `bundle exec fastlane <lane_name>`?

[2018-03-10 21:22] joshdholtz commented on #11657
@YannickSteph Going to close this issue as it looks like the `Gemfile` fixed your error and now its an error in your `Fastfile`. But feel free to comment here if this is still an issue and we can reopen!

[2018-03-10 21:22] #11657 closed

[2018-03-10 21:27] joshdholtz commented on #11647
@funnel20 Just wanted to checkin to see if you are still working on this issue 😊

[2018-03-10 21:32] joshdholtz commented on #11645
@ashish-naik Were you able to get this solved?

[2018-03-10 21:36] joshdholtz commented on #11637
This definitely think this needs to get done at some point! I created an issue that was caused by this gem a few months back - https://github.com/fastlane/fastlane/issues/10746

[2018-03-10 21:37] joshdholtz commented on #11633
Going to close this issue for now since fastlane isn't 100% supported on Windows yet 😇

[2018-03-10 21:37] #11633 closed

[2018-03-10 21:44] joshdholtz commented on #11072
@kumarkalluri Thanks for the feature suggestion! We have a long list of things to work on so if you are willing to create a PR for this that would be great 😊

[2018-03-10 21:48] joshdholtz commented on #10479
Closing this issue as things seem to be working now 😊

[2018-03-10 21:48] #10479 closed

[2018-03-10 21:54] joshdholtz commented on #10378
@joncursi Heyyyyy 👋 Its been awhile since there has been some action here so wanted to see if you are still seeing this issue?

[2018-03-10 21:56] emes commented on #11858
So there is no difference without base64.  But if I do both with base64 then there is a slight difference.  Looks like the line breaks are in a different place.  Not sure if that's an issue, but please check that what I did is what you wanted :-)

$ echo "The encryption parameters in this implementations reflect the old behaviour which depended on the users' local OpenSSL version." > test.txt

$ c

[2018-03-10 22:15] joshdholtz commented on #11802
@MirceaStroe Does your fastlane setup run properly outside of Jenkins?

[2018-03-10 23:01] Cyberbeni commented on #11943
Try `sh -c "fastlane custom_lane"`

[2018-03-10 23:02] joncursi commented on #10378
Nope, all good on my end!
On Sat, Mar 10, 2018 at 4:54 PM Josh Holtz <notifications@github.com> wrote:

[2018-03-11 04:36] ashish-naik commented on #11645
Yes I had to change permission.
On Sun, Mar 11, 2018 at 3:02 AM Josh Holtz <notifications@github.com> wrote:

--

Regards,
Ashish Naik

[2018-03-11 12:01] ashish-naik commented on #11645
No i could not.

[2018-03-11 19:01] txaiwieser opened #12030 "[Frameit] Missing iPhone X Silver/White device"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [X] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [X] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Problem

Hey, I was making new screenshots for my apps and no

[2018-03-12 07:30] saitjr commented on #11070
Emmmm....Actually, my solution is merging and resigning binary file before call `fastlane resign`. Almost like resigning by myself. Not only extension, but custom entitlements value:

![](http://resource.saitjr.com/fastlane-resign-entitlements-6.png)

[2018-03-12 07:45] gokulraja commented on #12029
I have checked the Code Signing Troubleshooting Guide. But the issue I am facing doesn't have the required solution.
To simplify my initial question : Without using match how can I reuse the p12 file on another machine. If we get an answer for this question. I think the issue will get resolved. Thanks !!

[2018-03-12 08:33] wuftymerguftyguff commented on #12019
OK, I'll try to pull a minimal project together that has the issue.

[2018-03-12 08:40] wuftymerguftyguff commented on #12019
In fact..

The demo project for iOS here would probably be the best place to start.

https://github.com/swisspol/GCDWebServer

[2018-03-12 09:12] nabhak25 commented on #11888
Works for me too! Thank you all for your help! 🥂

[2018-03-12 09:17] funnel20 commented on #11646
This issue can be closed as PR #11661 has been released in version 2.79.0.

[2018-03-12 09:17] #11646 closed

[2018-03-12 09:28] maskedpear commented on #11245
The issue is not related with fastlane directly. I've contacted the developer of the Masterfile we are using and the issue has been resolved. Please close the issue.

[2018-03-12 10:05] MirceaStroe commented on #11802
Jupp, as I mentioned in the first post, I can resign a build via Fastlane through terminal. Process is succesfull, no issues.

The failure arises when integrating the Fastlane resign command to the Jenkins script.

[2018-03-12 10:19] #11245 closed

[2018-03-12 10:19] joshdholtz commented on #11647
@funnel20 Would you like me to review it?

[2018-03-12 10:22] funnel20 commented on #11647
@joshdholtz Any progress is good I assume, but I don't won't to bypass @janpio.
But feel to free to review my changes and comment.
The biggest change is that instead of describing an (incomplete) set of parameters in text, I added a few tables to describe the parameters. And that in relation to the JSON layout.

[2018-03-12 10:23] joshdholtz commented on #10378
Thanks for reply! Closing this issue then 😊

[2018-03-12 10:49] joshdholtz commented on #11645
@ashish-naik Hey! So I was able to recreate your situation and I got it to work after a few changes:

## My Current Solution
#### 1) Make sure your `INFOPLIST_FILE` in your build settings **does not** include `$(SRC_ROOT)`
  - Bad: `$(SRCROOT)/TestTarget2/MyTargetInfo.plist`
  - Good: `TestTarget2/MyTargetInfo.plist`
#### 2) The target your are looking for needs to be in a matching directory name

[2018-03-12 11:26] amosingh opened #12034 "Download multiple provisioning profiles matching specific certificate id"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
How to download multiple provisioning profi

[2018-03-12 12:01] kacper1703 opened #12035 "fastlane Swift does not detect lanes"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

I initialized fastlane to the project usin

[2018-03-12 12:21] zerozheng commented on #12028
Is there anyone could help me?

[2018-03-12 12:21] zerozheng commented on #12028
@kommen @cbowns @andrew @brad

[2018-03-12 12:40] Aaryahi opened #12036 "i have this problem too"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [ ] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [ ] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

##### Complete output when running fastlan

[2018-03-12 12:42] Aaryahi commented on #11809
@taquitos i have this problem too

[2018-03-12 13:28] joshdholtz commented on #11645
@ashish-naik Got a PR open to fix stuff ^

[2018-03-12 13:29] joshdholtz commented on #12036
@Aaryahi Closing this since there isn't any problem, output, or environment attached 😇

[2018-03-12 13:29] #12036 closed

[2018-03-12 13:34] joshdholtz commented on #12029
@gokulraja Your `Fastfile` doesn't show

[2018-03-12 13:35] joshdholtz commented on #12029
@gokulraja Your `Fastfile doesn't show how you are generating your certifications. Are you using `cert` to create them? If so, have you tried using a blank password?

[2018-03-12 14:44] klinkert0728 commented on #12023
@joshdholtz  hey thanks for your reply. No the password does not contain \ . however i was able to fix the issue by moving the password to the system keychain along with the certificate, and then i move it back to the login keychain. and it works perfect.

[2018-03-12 14:44] #12023 closed

[2018-03-12 14:57] #12030 closed

[2018-03-12 14:58] gokulraja commented on #12029
@joshdholtz I created the certificate using fastlane match development command.

[2018-03-12 15:23] anniyanniyanniy commented on #11809
@taquitos i have this problem too

[2018-03-12 15:25] anniyanniyanniy commented on #11809
+1

[2018-03-12 16:02] EugeneGoloboyar opened #12038 "Is it possible to update System Capabilities to add associated domains (for multiple target app)?"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
I wonder is it possible to update xproj* fi

[2018-03-12 16:30] ashish-naik commented on #11645
@joshdholtz I was trying to use "get_version_number" to prepare badged icon number but encountered other issues so wasn't used it.

However, on your suggestion i tried to search $(SRCROOT) but couldn't find it.

i tried to run above lane and got correct version number because both targets have same version numbers.
But build number is completely wrong. The build number in both info.plist is 19 but

[2018-03-12 18:57] triplef commented on #11866
+1

We’ve run into this a couple times too. Alternatively (or additionally), a way to nuke/delete just provisioning profiles (all or specific ones) but not the certificates could also help in this case.

[2018-03-12 19:31] pvinis commented on #11396
this is happening to me too. i have the profile in the repo, and match recreates every time.

[2018-03-12 19:53] aleenadavy90 commented on #11137
Hi, is there a fastlane action to run tests written in java and maven.

[2018-03-13 01:02] mtrezza opened #12042 "Frameit: Order of fonts in Framefile.json causes title to appear as ?????"
Referencing locked issue #https://github.com/fastlane/fastlane/issues/4606

## Observed Behavior
My `Framefile.json` has 4 fonts in the `Root > default > title > fonts` array.

If the Arabic font for language `ar` is **after** the latin font for languages `pt,...`, frameit tries to display the Arabic text with the latin font. This results in only question marks appearing, because the latin font ha

[2018-03-13 01:19] dbuddah commented on #10462
This is reproducible as well if a build with a higher build number was manually expired on ITC.

Steps to repro:

1. upload build to testflight (build n)
2. upload newer build to testflight (build n+1)
3. manually expire build n+1
4. run latest_testflight_build_number

expected result: return value = n+1

actual result: return value = n

[2018-03-13 04:21] monolithic-adam opened #12043 "Adding last_git_commit to Fastlane Swift"
Hey guys, love fastlane and don't know what I would do without it.

Recently I have been trying to convert our current fastlane setup into Swift and I ran across a missing command that I would like to add `last_git_commit` to `Fastlane.swift`

Let me know what you think!

### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github

[2018-03-13 08:34] adsl99801 opened #12044 "ios upload to fabric beta fail"
2018-03-13 16:25:58.609 xcodebuild[83056:8372622] [MT] IDEDistribution: -[IDEDistributionLogging _createLoggingBundleAtPath:]: Created bundle at path
'/var/folders/xs/f4xsj2d53mz4jljhvccfhkrc0000gn/T/Reader2_2018-03-13_16-25-58.607.xcdistributionlogs'.
2018-03-13 16:25:59.588 xcodebuild[83056:8372622] [MT] IDEDistribution: Step failed: <IDEDistributionOptionsStep: 0x7fac40a71220>: Error Domain=IDE

[2018-03-13 10:12] G1King commented on #12044
I have the same problem as you. when i use  iCloudKit @adsl99801

[2018-03-13 11:00] joshdholtz commented on #12025
Glad you figured it out! 😊

[2018-03-13 11:00] #12025 closed

[2018-03-13 11:04] joshdholtz commented on #12017
@G1King Does your project build properly in Xcode? Have you tried setting `gym` to something like...
[code]

[2018-03-13 11:13] joshdholtz commented on #11604
Just to follow up on @amlcurran's comment... The way to hide the change log is `FASTLANE_HIDE_CHANGELOG=true`. Just wanted to make sure that solution was easily readable for anybody else coming to this issue 😊

<img width="540" alt="screen shot 2018-03-13 at 6 13 05 am" src="https://user-images.githubusercontent.com/401294/37338511-a79d564c-2685-11e8-9da0-153e239e3161.png">

@andriichernenko Is th

[2018-03-13 11:15] joshdholtz commented on #11537
This should be fixed now as that PR was merged 😊

[2018-03-13 11:15] #11537 closed

[2018-03-13 11:44] charl201 opened #12045 "Percentage values (in prices) do work for some product pages but not for others"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [ ] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

##### Complete output when running fastlan

[2018-03-13 11:59] joshdholtz commented on #11943
@AnandKumar9 Your PATH is pointing directly at the executable but I think it needs to point to the `bin ` directory. Can you try something like...
[code]

[2018-03-13 12:09] xiao-xi opened #12046 "Submitting the app for review...error"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [ ] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [ ] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
`[zh-Hans]: You must detail what's new in t

[2018-03-13 12:11] joshdholtz commented on #11694
Going to close this for now since no response 😊 Feel free to comment back about this issue!

[2018-03-13 12:11] #11694 closed

[2018-03-13 12:17] joshdholtz commented on #11686
@kylemellander This should be fixed now with #11970 (in 2.85.0). It tested your example above it and it worked perfectly 👌

[2018-03-13 12:17] #11686 closed

[2018-03-13 12:24] joshdholtz commented on #11666
@mykyta-bondarenko-gl Heyyyy 👋 Were you able to figure things out?

[2018-03-13 12:34] mykyta-bondarenko-gl commented on #11666
@joshdholtz Hi. I went in a few another way.
Now I use two properties:
- `build_trains`
- `candidate_builds`
In the second case I sorted and groupped them and get the latest one. This cases cover all that I need.

[2018-03-13 12:58] andriichernenko commented on #11604
@joshdholtz What I had in mind was a message that occupies just one-two lines, something like:
[code]
However, this already looks much better, maybe even good enough!

[2018-03-13 13:15] joshdholtz commented on #11082
@micnguyen Heyyyy 👋 So yeah, this is not **super** possible right now (in a nice clean way) since the "Touch ID" -> "Enroll" option does get reset whenever a simulator gets restarted.

## Solution 1 (might be a little sketch)
`appium` does do allow for this kind of functionality but it looks like this might be done using AppleScript (based on the documentation they have) - https://appium.readthedo

[2018-03-13 13:15] #11082 closed

[2018-03-13 13:18] joshdholtz commented on #11070
@saitjr So it looks like you were able to fully get your resigning issue resolved? 😊

[2018-03-13 13:30] joshdholtz commented on #11802
Ah sorry! Totally missed that. I read a lot of issues a day so my eyes get a little sleepy 😇 If it works locally and doesn't on Jenkins, it looks like its an issue with certificates/keychains and how Jenkins is trying to access them because of...

[code]

I've seen this before and I think I solved it by fully unlocking a keychain with `unlock_keychain` action before my I do fastlane stuff. So may

[2018-03-13 13:38] joshdholtz commented on #12035
@kacper1703 All lane functions need to end with `Lane`. So if you change your lane name to `deployToHockeyLane` it will work 😊 Happy swifting and fastlaning 🚀

[2018-03-13 13:38] #12035 closed

[2018-03-13 13:41] joshdholtz commented on #11604
@andriichernenko And its already build it 😊 Going to close this for now but lemme know if anything else comes up! Happy fastlaning 🚀

[2018-03-13 13:41] #11604 closed

[2018-03-13 13:42] kacper1703 commented on #12035
Thank you very much! Can I propose adding this little detail to [the docs](https://docs.fastlane.tools/getting-started/ios/fastlane-swift/)?

[2018-03-13 13:46] joshdholtz commented on #12028
@zerozheng Try running `match nuke development --skip_confirmation` or `match nuke development --skip_confirmation true` (one of those should work for you). That option was added in this PR (https://github.com/fastlane/fastlane)

And can be found by running `fastlane match help`

<img width="1039" alt="screen shot 2018-03-13 at 8 45 54 am" src="https://user-images.githubusercontent.com/401294/3734

[2018-03-13 13:46] #12028 closed

[2018-03-13 13:55] joshdholtz commented on #12029
@gokulraja Have you tried trying this same MS AppCenter approach by creating a certificate and mobile provisioning profile manually and seeing if that works? I regularly export my certificates from my keychain and don't see any problems like this 🤔

[2018-03-13 14:00] joshdholtz commented on #11645
@ashish-naik My PR (#12037 ) (once it gets merged in) will fix this for you. I completely reworked the logic so its less fragile 💪

[2018-03-13 14:05] joshdholtz commented on #12038
@EugeneGoloboyar You could do something custom like this with `xcodeproj` - https://github.com/fastlane/fastlane/issues/6544#issuecomment-262220946

Its also on stackoverflow too - https://stackoverflow.com/questions/40673116/ionic-cordova-how-to-add-push-capability-with-fastlane-or-xcodebuild/40741297#40741297

Closing this for now but lemme know if you have any other questions/issues! Happy fast

[2018-03-13 14:05] #12038 closed

[2018-03-13 14:09] joshdholtz commented on #12035
@kacper1703 I will create an issue in the docs repo for this! 😊

[2018-03-13 14:11] joshdholtz commented on #11666
Perfect! Glad you got it solved. Happy fastlaning 🚀

[2018-03-13 14:11] #11666 closed

[2018-03-13 14:15] joshdholtz commented on #12034
@amosingh There is no way to do it for matching a "certificate_id" right now. You have to either know the `app_identifier` or pull them all down and find your profile manually. This is not a highly requested feature so its not on our list of things to add right now but feel free to tackle this on your own and submit a PR 😊

[2018-03-13 14:19] joshdholtz commented on #11690
@stefanlenoach I _think_ the issue is `.env` and the `Fastlfile` don't get "loaded" in until a lane has been called.

Calling `fastlane fastlane-credentials add ..` doesn't call a lane but actually calls a fastlane tool directly.

## Solution 1
You could do `ENV["FASTLANE_PASSWORD"] = my_password fastlane fastlane-credentials add ..`

## Solution 2
You could add `FASTLANE_PASSWORD` environment var

[2018-03-13 14:20] #11681 closed

[2018-03-13 14:21] amosingh commented on #12034
Thank u very much. We found a work around.

[2018-03-13 14:22] joshdholtz commented on #11713
Should be fixed with now with #11760 😊 Happy fastlaning 🚀

[2018-03-13 14:22] #11713 closed

[2018-03-13 14:23] joshdholtz commented on #11665
Should be fixed with now with #11760 😊 Happy fastlaning 🚀

[2018-03-13 14:23] #11665 closed

[2018-03-13 14:29] #11620 closed

[2018-03-13 14:32] joshdholtz commented on #11017
@jesiegel1 Were you able to see if this was resolved?

[2018-03-13 14:41] francodriansetti commented on #11958
Same problem here  :(

I tried to add the environment variable:

`export DELIVER_ITMSTRANSPORTER_ADDITIONAL_UPLOAD_PARAMETERS="-t DAV"`
But notting change..

I'm using fastlane 2.85.0

[2018-03-13 14:44] funnel20 commented on #11648
@fastlane-bot Please keep this issue open.

[2018-03-13 16:16] damboscolo commented on #12044
I have the same problem!

[2018-03-13 17:52] #10498 closed

[2018-03-13 17:58] EricZinda commented on #10744
I'm having the same issue trying to add a beta user to TestFlight using fastlane pilot add or find or basically anything at this point.  Worked great for the first 24 hours.  I went and removed the cookie in case that was the issue but it didn't work.  Here's the --verbose output (replaced personal information with XXXXXX:

Erics-MBP:fastlane XXXXXXX$ fastlane pilot find XXXXXXX --verbose
[10:53:2

[2018-03-13 18:37] kballard opened #12050 "'scan' should not run the 'build' action by default"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

The default behavior of the `scan` action

[2018-03-13 18:52] CraigSiemens opened #12051 "How to set the Snapfile to be used?"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Snapshot used to have a option to specify

[2018-03-13 20:05] Incorporalis commented on #11887
The same problem just happened for match passphrase

[2018-03-13 21:39] joshdholtz commented on #11052
This is a duplicate of #9363. Closing this one to keep everything in one 😊

[2018-03-13 21:39] #11052 closed

[2018-03-13 21:41] joshdholtz commented on #11087
This is a duplicate of #9363. Closing this one to keep everything in one 😊 But also going to link to keep everything in the first issue created

[2018-03-13 21:41] #11087 closed

[2018-03-13 22:23] joshdholtz commented on #11396
I have seen this myself on a project and I did something to fix it but I don't remember what it was right now 😔 I will try to see if I can remember what I did 🤔

[2018-03-13 22:40] joshdholtz commented on #11137
@aleenadavy90 Hello 👋 Are you referring to `appium` tests? Or standard Android testing framework?

[2018-03-13 23:17] joshdholtz commented on #12044
@adsl99801 You are using a different target/scheem to upload to fabric, right? Is there anything different you are doing between you App Store (TestFlight) build and your adhoc (fabric) build?

Can you try adding this to gym/build_app to see if this helps?
[code]

[2018-03-14 00:17] aleenadavy90 commented on #11137
@joshdholtz I was referring to appium tests on iOS simulator
I have it working locally now. Thanks!

[code]
It does fail when I run it with Circle CI.

[2018-03-14 01:29] G1King commented on #12044
@joshdholtz success solved my problem.  Thank you very much

[2018-03-14 01:32] mtrezza commented on #12042
<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                         | Value                                       |
| --------------------------- | ------------------------------------------- |
| OS                          | 10.13.3                                     |
| Ruby                        | 2.2.4                                       |
| Bundler?

[2018-03-14 02:03] tkoshida commented on #11435
Inserting `sleep(8*60)` before `download_dsyms` worked for me.
Just waiting for iTC to process build.

[2018-03-14 02:05] adsl99801 commented on #12044
Thanks!
Problem solved.
[code]

[2018-03-14 02:05] #12044 closed

[2018-03-14 02:05] xiao-xi commented on #12046
thanks for your answer，“detail what's new” means my “release_notes.txt” is no message，I had fix it

[2018-03-14 02:06] #12046 closed

[2018-03-14 02:23] G1King commented on #12017
@joshdholtz     thank you very much .Solve problems successfully！！

[2018-03-14 02:23] #12017 closed

[2018-03-14 02:58] jushiyuan commented on #12011
@joshdholtz Hi,I face the same issue,I am using the standard OSX "Terminal" app.

[2018-03-14 03:18] #11669 closed

[2018-03-14 03:21] ashish-naik commented on #11645
Cool thanks.

[2018-03-14 08:05] Antoine4011 opened #12053 "Sigh in Swift always fails with invalid parameters"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

When using `Sigh` with Fastlane in Swift b

[2018-03-14 08:08] Antoine4011 commented on #12053
Related issue: https://github.com/fastlane/fastlane/issues/11519

[2018-03-14 08:31] meccatol commented on #11755
@allen8300 @KrauseFx
Hello, i've used 'dowload_dsyms' action for downloading dSYMs of Builds of AppStore Versions.
In my iTunesConnect, There are some versions that available downloading dSYMs.

But inside of 'dowload_dsyms' action, it's look like only finding versions in TestFlight.
('app.all_build_train_numbers' is actually fetching TestFlight Versions.)

It's looked so weird. TestFlight version

[2018-03-14 11:20] joshdholtz commented on #10462
Heyyy 👋 Just wanted to update everyone. I started working on this last night and have a WIP PR open for it (#12054). I was able to get a fix in for when a build is manually expired but still working on a fix for when a process is failed. It turns out that we currently don't have any API calls that show builds that have failed processing 😢

I will have to dig a bit deeper on this one and search out

[2018-03-14 13:58] ricperrott commented on #10967
Just wanted to chime in and say that I have just run into this exact error as well when attempting to use deliver to submit an existing build for review

[2018-03-14 14:54] vincedev opened #12055 "Could not find app with app identifier 'com.bundle.id' in your iTunes Connect account (apple_id@domain.com - Team: XXXXXX)"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

`fastlane` deliver fails to find my app on

[2018-03-14 16:01] paymand opened #12056 "Failure to run scan via bundle exec"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
Greetings!

When I run `bundle exec fastlan

[2018-03-14 16:07] aklowther commented on #11070
I'm having this same issue, @kapfab do you anticipate an update soon?  I will have to resolve this issue locally in the mean time but will gladly remove my hacks when this gets updated

[2018-03-14 16:42] lkraider commented on #10424
I am still relying on the workaround.

[2018-03-14 17:48] kapfab commented on #11070
Changes are in progress.

Not only App Groups are affected but also Pass Types (Wallet), iCloud containers and Merchants (Apple Pay), as they all make use of unique identifiers that can’t be shared between teams.

The real problem is on Pass Types because provisioning profiles only contain generic values which don’t necessarily reflects the limited list of Pass Types that the App was intended to a

[2018-03-14 17:52] aklowther commented on #11070
Thanks for the update, I'll keep an eye on this thread and should be able to test any changes if needed

[2018-03-14 18:51] mixtly87 opened #12058 "codesign fails if EXECUTABLE_SUFFIX is defined in Xcode Project Build Settings"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

After I defined EXECUTABLE_SUFFIX in Xcode

[2018-03-14 19:18] kballard commented on #12050
Sorry bot, this issue doesn't need `fastlane env`, I double-checked the source already to confirm the issue.

[2018-03-15 06:53] saitjr commented on #11070
@joshdholtz Yes, it's resolved.

[2018-03-15 08:21] dalemyers opened #12060 "Pilot upload fails with 504 every time, but upload succeeds"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

When we run `pilot upload`, we get a succe

[2018-03-15 09:20] joelshea commented on #12060
We are having this same issue.  Fastlane will wait for almost 8 hours before giving up!

`02:05:59 [02:05:45]: Successfully uploaded the new binary to iTunes Connect
02:05:59 [02:05:45]: If you want to skip waiting for the processing to be finished, use the 'skip_waiting_for_build_processing' option
02:05:59 [02:05:46]: Waiting for iTunes Connect to finish processing the new build (3.7 - 5)
02:06:

[2018-03-15 10:31] ronakpatel619 commented on #10933
Should you close the ticket, we shall still be able to view the ticket and
its details, am I correct?

Thanks!

On Wed, Mar 14, 2018 at 1:34 PM, fastlane bot <notifications@github.com>
wrote:

--
With Regards,
Ronak

[2018-03-15 10:39] evilmint commented on #11022
Same issue here. Is there any way around?

[2018-03-15 12:16] vincedev commented on #12055
I tested with another Mac app that waits to be published for the first time, and I had the same issue.
Looks like it's related to Mac apps, no problem with any other iOS app.

[2018-03-15 13:38] paymand commented on #12056
@KrauseFx : I think I know what the problem is. You see I have `gem 'scan'` in my Pluginsfile and for some reason (tm) bundle installs version `0.0.1` which doesn't even seem to exist! base on what I see here: https://rubygems.org/gems/scan
So the only workaround for me is to specify the version number `gem 'scan', '1.0.0'` and then it all works. Don't know why we need to do that though.

[2018-03-15 14:03] revolter commented on #10933
I was hoping that @bharathreddy-97 would confirm it, but yes, I can close it and if sometimes comes up, anyone can add a reply or open another issue 👍

[2018-03-15 14:03] #10933 closed

[2018-03-15 14:09] paymand commented on #12056
Looks like there's a dependency conflict with between fastlane 2.85.0 and scan 1.0.0.
So they don't agree on the version of `slack-notifier`.
fastlane needs `slack-notifier < 3.0.0, >= 2.0.0` while scan needs `slack-notifier ~> 1.3`.

[2018-03-15 14:18] paymand commented on #12056
I have downgraded to 2.75.0 as a workaround for now.

[2018-03-15 16:35] lpenaflor commented on #11963
I ran into the same error using match, but it seemed that I had the sigh gem 2.0.1 which is not the same version that ships with Fastlane. I removed the sigh gem and upgraded to Fastlane 2.85.0 and it works.

[2018-03-15 17:02] miguelsierrac commented on #11963
Hi @lpenaflor , thank you very much for your response. I tried updating to Fastlane 2.85.0 and removing a gem from an earlier version of Spaceship (1.0.0) that I had installed, but it still does not work. On the other hand with a version 2.8.0 of Fastlane works great. I still do not know what I'm doing wrong.

[2018-03-15 20:16] joshdholtz opened #12061 "Action details doc doesn't show `output` values"
Need to change this... https://github.com/fastlane/fastlane/blob/master/fastlane/lib/assets/ActionDetails.md.erb

To show... https://github.com/fastlane/fastlane/blob/master/fastlane/lib/fastlane/action.rb#L60-L66

[2018-03-15 22:07] dineshkrishna commented on #12010
I havent had much support from CloudBees on this. We dont know whats causing this issue. I dont know how to proceed further :(

[2018-03-15 22:39] joshdholtz commented on #12034
Glad to hear! Happy fastlaning 🚀

[2018-03-15 22:39] #12034 closed

[2018-03-15 22:52] yapiskan commented on #11789
@taquitos i have the same problem. resetting simulators didn't help.

[2018-03-16 00:12] joshdholtz commented on #12045
@charl201 Heyyy 👋 I think you have the wrong spot. This _fastlane_ is for the developer automation tool - not a theme 😊

[2018-03-16 00:12] #12045 closed

[2018-03-16 00:39] joshdholtz commented on #12043
@monolithic-adam Heyyy 👋 Only the main fastlane tools are currently supported by Swift (like `deliver`, `scan`, `snapshot`, `match`, `produce`, etc). I will update the docs to make that more clear 😊

[2018-03-16 00:47] joshdholtz commented on #12043
@monolithic-adam I think we found the issue! I will look into 😊

[2018-03-16 02:01] joshdholtz commented on #11069
@royberris This is something a little custom but this is something you could do with different build flavors in gradle (which isn't a fastlane thing) but you can also do something like...

[code]

It's a little gross but it will work 😊 If this doesn't work I would recommend creating your own fastlane plugin since your use case sounds pretty specific 💪

[2018-03-16 02:01] #11069 closed

[2018-03-16 02:04] joshdholtz commented on #10931
@mberthos Were you able to figure this out? This definitely looks like you don't have proper access to your keychain with `security: SecKeychainAddInternetPassword : User interaction is not allowed.` which can happen if you are running this over SSH

[2018-03-16 02:06] joshdholtz commented on #10694
Not sure if you figured this is out but this really sounds like its a fabric issue so hopefully your email to support@fabric.io helped fix it 😊

[2018-03-16 02:06] #10694 closed

[2018-03-16 02:11] joshdholtz commented on #10744
@SebastianThiebaud Heyyyyy 👋 Were you able to get things figured out with this issue? Asking because its been awhile and iTC stuff has changed a lot of hoping things worked out 😊

[2018-03-16 02:23] joshdholtz commented on #12051
@CraigSiemens Heyyyy 👋 You can use `for_platform` and `for_lane` in your `Snapfile` like how its used here - https://docs.fastlane.tools/advanced/#appfile
[code]

[2018-03-16 02:23] #12051 closed

[2018-03-16 02:30] joshdholtz commented on #11887
@Incorporalis Are you using the standard macOS terminal with bash? Or are you using something different?

[2018-03-16 02:35] joshdholtz commented on #12042
@mtrezza Are you able to send me your font files somehow? I would like to look into this one but do not have those specific font's you are having issues with 😊

[2018-03-16 05:46] chrispcampbell commented on #10424
I finally got around to submitting a PR.  Not quite the one liner that I described in my earlier comment, but pretty straightforward.

[2018-03-16 11:07] jgongo commented on #9826
@joshdholtz I've been busy with some other things. I'll try to test this as soon as possible and let you know the results. Thanks!!

[2018-03-16 11:25] skagedal commented on #11564
I tested now with Fastlane 2.85.0 and could no longer reproduce the issue! Good times!

[2018-03-16 11:25] #11564 closed

[2018-03-16 11:48] pig12301230 commented on #11559
I have the same issue. @Tony89  How do you solve it?

[2018-03-16 12:06] MobilityEngineer opened #12069 "Error handling - method error_info not working"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
Anyone else getting the error that "undefin

[2018-03-16 13:12] shailesh2208 commented on #11990
@joshdholtz  again we created a sample project but same issue occur (unable to find the debug test APK)

[2018-03-16 13:48] sergiocampama opened #12070 "Spaceship's Client can't make a "create" request until after a "get" request"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Spaceship's client will fail to make a "cr

[2018-03-16 14:01] MirceaStroe commented on #11802
The keychain was fully unlocked in the Jenkins script. Here is a new 1:1 comparison between the results of the same script, first in Terminal (success) then in Jenkins (failure).

Could the line marked with bold & italic in the terminal process be the culprit for the Jenkins failure?

**Terminal**

Resigning '_floatsignTemp/Payload/PressMatrix.app/Frameworks/libswiftsimd.dylib'
_floatsignTemp/Payl

[2018-03-16 14:45] KrauseFx commented on #12011
This just means you forgot to provide some information to the fastlane run. In this case you get `What would you like to use fastlane?`, meaning you'd have the lane selection here. You have to provide a lane when running fastlane

[2018-03-16 15:28] gokulraja commented on #12029
Hi @joshdholtz
Finally the issue the fixed. So the current workflow is use match to generate the certs and provisioning profiles.
Generate the p12 file from keychain
Goto apple developer account download the provisioning file and upload to app center.
By doing so I was able to get it working.
It would be nice if we have an option in fastlane where it generates decerypted p12 and provisioning profi

[2018-03-16 17:09] lkraider commented on #10424
@chrispcampbell awesome, patch looks good to me! (but I have no say whatsoever in the merge :p)

[2018-03-16 17:51] marcpalmer commented on #11721
I'll retest this over the weekend

[2018-03-16 18:28] emilio-martinez commented on #10744
This seems to be an issue if the user doesn't have enough permission access in iTunes Connect

[2018-03-16 18:36] EricZinda commented on #10744
No, it worked fine for me when I use the account directly on ITC to do this.  The account has full permissions to everything and is an admin.

From: Emilio Martinez <notifications@github.com>
Reply-To: fastlane/fastlane <reply@reply.github.com>
Date: Friday, March 16, 2018 at 11:29 AM
To: fastlane/fastlane <fastlane@noreply.github.com>
Cc: Eric Zinda <ericz@inductorsoftware.com>, Comment <comment@

[2018-03-16 18:36] EricZinda commented on #10744
Nope, this was just a few days ago that it failed.

From: Josh Holtz <notifications@github.com>
Reply-To: fastlane/fastlane <reply@reply.github.com>
Date: Thursday, March 15, 2018 at 7:12 PM
To: fastlane/fastlane <fastlane@noreply.github.com>
Cc: Eric Zinda <ericz@inductorsoftware.com>, Comment <comment@noreply.github.com>
Subject: Re: [fastlane/fastlane] User doesn't have enough permission for us

[2018-03-16 18:40] #11755 closed

[2018-03-16 18:55] joshdholtz opened #12071 "Remove `xcode-select` as a top-level system call from simctl gem"
This breaks rubocop real bad 😔

Added in this PR - https://github.com/fastlane/fastlane/pull/12039
simctl repo - https://github.com/plu/simctl
This line - https://github.com/plu/simctl/blob/55455164920b238263cacfc28b50a85cffbbea7f/lib/simctl/xcode/path.rb#L4

[2018-03-16 19:30] #10686 closed

[2018-03-16 19:31] #11645 closed

[2018-03-16 19:48] joshdholtz commented on #12056
@paymand The `scan` gem is actually no longer needed anymore. `scan` is built inside of the `fastlane` gem now. Can you try removing `scan` from your Gemfile? That should solve the problem for you. 😊

[2018-03-16 19:54] #12043 closed

[2018-03-16 19:55] joshdholtz commented on #11070
Woot! Glad to hear 😊 Happy fastlaning 🚀

[2018-03-16 19:55] #11070 closed

[2018-03-16 20:02] kapfab commented on #11070
Well @heps, looks like you’ll have to create a dedicated issue for your problem with the app groups when changing team while resigning…

[2018-03-16 20:08] heps commented on #11070
Currently I have came up with a workaround: I am doing double resign.
1st resign with custom entitlements file (this sets proper App Group and
Keychain Group but wrongly sets the same bundle id for both app and
extension)
2st resign with final provisioning profile with use_app_entitlements
setting (this fixes wrong bundle ids set in 1st pass but leaves wanted
App/Keychain Groups)

And it works!

I

[2018-03-16 20:13] joshdholtz commented on #11963
@miguelsierrac This will do it for you!
[code]

Happy fastlaning 🚀

[2018-03-16 20:13] #11963 closed

[2018-03-16 20:16] aklowther commented on #11070
I'm doing what @heps is doing as well, hopefully a short-term work-around

[2018-03-16 20:26] #11563 closed

[2018-03-16 20:41] RishabhTayal opened #12072 "[question] - update_info_plist update multiple keys"
Is there a way to update multiple keys in Info.plist using `update_info_plist`?

Currently I can update a key using the following code:
[code]

However we can not update multiple keys in the `block` like this:
[code]

I have to resort to calling `update_info_plist` twice. first time for updating `key_name1`, second time for updating `key_name2`.

[2018-03-16 22:00] pparmaei commented on #11967
Not too sure about using Fastfile directly, but you can do this with spaceship, see sample code below:
`build = Spaceship::TestFlight::Build.latest(app_id: appID, platform: "ios")
build.export_compliance.uses_encryption = false
build.export_compliance.encryption_updated = false
build.submit_for_testflight_review!`

I am actually trying to figure out if you can deal with the next layer of questions

[2018-03-16 22:29] pparmaei commented on #11967
@mpirri Hey Mark, I see that you commented on [Issue-9788](https://github.com/fastlane/fastlane/issues/9788) regarding something similar. I have a follow up question, on Spaceship when I look at a build object
`build = Spaceship::TestFlight::Build.latest(app_id: appID, platform: "ios")`
I see
`export_compliance=<Spaceship::TestFlight::ExportCompliance
		uses_encryption=nil,
		encryption_updated=ni

[2018-03-17 00:04] joshdholtz commented on #11712
@marcpalmer Got a PR out for a fix for ya ^

[2018-03-17 01:04] joshdholtz commented on #11697
Closing this as it seems like the question was answered 😊 Happy fastlaning 🚀

[2018-03-17 01:04] #11697 closed

[2018-03-17 01:05] #11123 closed

[2018-03-17 01:14] joshdholtz commented on #11120
@mayurdzk Heyyy! Its usually best practice to call `match` or `sigh` first. In order for `gym` to properly sign the app, a provisioning profile map needs to get created so `gym` knows which bundle ids need which profile to sign with. I would try implementing `match` or `sigh` here so that you can make sure you have the correct provisioning profile and that you are creating a provision profile map

[2018-03-17 01:14] #11120 closed

[2018-03-17 01:14] ngouass opened #12074 "fastlane-plugin-badge: Can't search for app icons if they are not in sub folder"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
- [x] Using fastlane **2.85.0**
- [x] Using

[2018-03-17 01:17] joshdholtz commented on #11112
@NiklasWebnuts Heyyyy 👋 Just wanted to follow up with this but were you ever able to get the plugins to install after running `import_from_git`?

[2018-03-17 01:18] #11110 closed

[2018-03-17 01:20] joshdholtz commented on #10500
Heyyyy 👋 Its been a while but I just wanted to check in to see if that pull request that was mentioned above solved things for everyone 😊

[2018-03-17 01:21] #11712 closed

[2018-03-17 01:27] joshdholtz commented on #12010
@dineshkrishna Sorry to here you aren't getting any support from CloudBees 😔 I have never seen anything like this and I can't seem to find anyway to produce this on my end to look into a fix

[2018-03-17 01:32] dineshkrishna commented on #12010
We got it resolved finally, from manual trouble shooting. One secret text Binding plug-in entry was causing this issue which no one could have related the corrupted log to. Anyway, Thank you.

[2018-03-17 01:36] joshdholtz commented on #11789
This seems to be an issue outside of fastlane 🤔 The output shows `Can't get Master/Slave` which I believe is a system level error which involves spawning a new process. We had an similar issue (https://github.com/fastlane/fastlane/issues/8258) that was solved by restarting 😕

[2018-03-17 01:52] joshdholtz commented on #9826
@jgongo No problem at all! I know how it goes 😊 Just get back to me whenever you get some time and I will be happy to hit the code again 💪

[2018-03-17 01:55] joshdholtz commented on #11990
@shailesh2208 So your `android/build/outputs/apk` directory doesn't have an `androidTest` directory in it with a `app-debug-androidTest.apk` in it like mine does? This is what also needs to get installed with `snapshot`
<img width="823" alt="screen shot 2018-03-16 at 8 54 10 pm" src="https://user-images.githubusercontent.com/401294/37550496-375c45d0-295c-11e8-8e35-09f8a734ada1.png">

[2018-03-17 02:01] joshdholtz commented on #12029
@gokulraja Glad you got it solved! You can definitely use `match` to download and decrypt the repo and pull from there. The contents are just AES-256 encrypted with your `match` password so you should have full ability to do that 😊

But happy to see you figured it out! Happy fastlaning 🚀

[2018-03-17 02:01] #12029 closed

[2018-03-17 02:02] joshdholtz commented on #10424
@lkraider @chrispcampbell This is merged now so this should be fixed! Happy fastlaning 🚀

[2018-03-17 02:02] #10424 closed

[2018-03-17 02:10] joshdholtz commented on #12069
@MobilityEngineer Hey! So `exception.error_info.to_s` will only be a thing when an error occurs from a `UI.crash!` or `UI.user_error`. It looks like that your error that is being raised might be coming from something like `raise "Error"` and `error_info` doesn't exist on a Ruby `RuntimeError`.

I will take this as an opportunity to fix the documentation around this and/or making sure that `error_i

[2018-03-17 02:18] joshdholtz commented on #12010
Woot! Glad to hear 😊 Happy fastlaning 🚀

[2018-03-17 02:18] #12010 closed

[2018-03-17 05:52] getaaron commented on #12050
Hey @kballard, thanks for the issue. From memory, I think you’re right that the default build action is technically pointless in isolation but I think some people may rely on this behavior. So if we switch the default value of `skip_build`, we may want to think about failing in a helpful way later.

[2018-03-17 10:45] RFCBox opened #12076 "match Certificate reuse issues"
how to  Certificate reuse issues

[2018-03-17 10:50] RFCBox opened #12077 "Certificate reuse issues"
how to  Certificate reuse issues
http://macoscope.com/blog/simplify-your-life-with-fastlane-match/#migration
i use --- Migrate Existing Certificates to fastlane match
but other user run “fastlane match appstore --readonly”
get

There are no local code signing identities found.
You can run `security find-identity -v -p codesigning` to get this output.
This Stack Overflow thread has more information

[2018-03-17 10:51] #12076 closed

[2018-03-17 13:07] nicolasbraun commented on #11881
Hi @AntonNix

Not sure to understand what you are trying to achieve.

Currently match is not able to retrieve a profile or a certificate that was not generated by it and stored into the match repo.

Also please note that the `template_name` parameter is not used to define the name of the profile generated but for some teams there is an extra step in the profile generation because they have deals w

[2018-03-17 13:14] Scrat94 commented on #12069
@joshdholtz Hey! Thanks for the info. So there is currently no way to get the complete error message out of the console? e.g. I have intentionally added a typo error and all I get is "Error building the application - see the log above" (exception.to_s)
Is there any way to get a more detailed message, which I can share on e.g. Slack?
Much thanks in advance

[2018-03-17 15:11] geethanjali92 opened #12079 "Error Domain=IDETestOperationsObserverErrorDomain Code=6 "Early unexpected exit, operation never finished bootstrapping - no restart will be attempted" UserInfo={NSLocalizedDescription=Early unexpected exit, operation never finished bootstrapping - no restart will be attempted}"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [ ] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [ ] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [ ] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

##### Complete output when running fastlan

[2018-03-17 17:39] ngouass commented on #12074
<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                         | Value                                       |
| --------------------------- | ------------------------------------------- |
| OS                          | 10.12.6                                     |
| Ruby                        | 2.5.0                                       |
| Bundler?

[2018-03-17 22:22] nghildebrandt opened #12080 "Can't get Match to select provisioning profile with push notifications."
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
The issue is that we continuously get
"the

[2018-03-18 10:31] nicolasbraun commented on #12080
Did you activate the push recently?
You see that match does not call `sigh`(which is the sub-actions generating the profiles) so it uses the one it has on your match repo, maybe this one does not contain push entitlements.

In the past activating le push caused the profile to be invalidated on the dev portal and would trigger a refresh from match, maybe Apple changed this.

Try passing the `force:

[2018-03-18 10:36] nicolasbraun commented on #12074
@ngouass
The code behind the plugin as an option for that
https://github.com/HazAT/badge/blob/4c6f17c89120c855871ed1a89384d31694b4bfc1/lib/badge/options.rb#L61
did you try it ?

[2018-03-18 11:20] Istered opened #12081 "upload_symbols_to_crashlytics action fails on unzip errors"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

For some of my projects with bitcode suppo

[2018-03-18 12:38] nghildebrandt commented on #12080
I have tried to do that with setting 'force: true' and I get the same output. I also tried to revoke my certificates on the my developer account and I can see that fastlane generates a new push notification certificate; however, that is for some reason that I'm still trying to resolve not being set as the provisioning profile for the specified app.

[2018-03-18 12:51] mueller-ma opened #12082 "Difference between app_apk_path and tests_apk_path"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [ ] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
From the docs:

app_apk_path | The path to

[2018-03-18 17:26] ngouass commented on #12074
@nicolasbraun
I tried that option and it didn't work.

[code]

[2018-03-18 17:40] jbb1003 commented on #10259
See comments above. I believe that this is a generic XCode simulator issue, not a fastlane issue.

[2018-03-19 03:18] uncleRX commented on #11864
楼主解决了么?

[2018-03-19 03:22] uncleRX opened #12083 "Code Signing Error:"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [ ] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [ ] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

##### Complete output when running fastlan

[2018-03-19 03:26] uncleRX commented on #11916
遇到同样的问题～ 请问最后匹配上 profile 没？ 我的文件在本地是存在的，指定文件依旧匹配不上

[2018-03-19 04:01] HarrisHan commented on #11916
@uncleRX 暂时手动指定

[2018-03-19 05:09] bochen2 opened #12084 "During "fastlane init" error = "Could not retrieve response as fastlane runs in non-interactive mode while using fastlane match nuke development""
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
When I run fastlane init to initialize a pr

[2018-03-19 09:04] AntonNix commented on #11881
Thank you to remind me about this thread )) As I talk to my self in it I forget to mention that I finally archive the goal that gives me such ability to use match and all benefits that it provides with the ability to generate provisioning profile with a specific name.

I wouldn't make a PR because I'm an iOS developer, and my ruby code will be so-so. Also, I am disappointed by tech support that wa

[2018-03-19 10:24] paymand commented on #12056
Works like a charm! thanks :) Closing this issue.

[2018-03-19 10:24] #12056 closed

[2018-03-19 10:38] githhhh opened #12086 "fastlane 2.85.0 xcodeproj 1.5.6 crashes"
[code]

[2018-03-19 10:44] oksiiii2909 commented on #11809
+1

[2018-03-19 11:27] joshdholtz commented on #12070
@sergiocampama Is this only an error really when calling the spaceship API directly? Word another way - are actions that use spaceship probably okay since they all _should_ prompt for team? 🤔

[2018-03-19 11:29] joshdholtz commented on #11734
Going to close this for now since there has not been any activity but please feel free to comment if this is still an issue 😊

[2018-03-19 11:37] joshdholtz commented on #11726
@aguillard This is definitely one of the drawbacks to using a system Ruby. Using `rbenv` like @taquitos mentioned is usually a good idea. I personally use [chruby](https://github.com/postmodern/chruby) and [ruby-install](https://github.com/postmodern/ruby-install). Happy fastlaning 🚀

[2018-03-19 11:37] #11726 closed

[2018-03-19 11:38] #11719 closed

[2018-03-19 12:07] joshdholtz commented on #11717
@codergelly Heyyy 👋 Sorry about the late reply! I know you tried setting `include_bitcode` with build app but have you tried setting `Bitcode to ‘NO’ in the Build Settings`? Don't know if this would help since I've never tried to include dlib in a project but just curious if that would work 🤔

[2018-03-19 12:10] joshdholtz commented on #11703
@barnaclebarnes Heyyy 👋 Have you tried using `sigh` or `match` before running `gym`? Both `sigh` and `gym` automatically generate a provisioning profile map for you so that you don't have to manually generate one.

[2018-03-19 12:23] joshdholtz commented on #11132
@janpio Did you ever get a chance to look into this? 🙃

[2018-03-19 12:30] #10794 closed

[2018-03-19 13:08] joshdholtz commented on #10744
Hey everyone 👋 I was able to duplicate this and this is 100% an issue when _fastlane_ is trying setup for something that uses iTC permissions (like uploading screenshots) when the selected account does not have those permissions.

This is not something that _fastlane_ can actually solve as its a permissions issue within iTC but we did rework the "init" process a few months ago (you can see in the

[2018-03-19 13:13] joshdholtz commented on #11967
@christaggart This should probably be a setting in `deliver` but cou can also set the `ITSAppUsesNonExemptEncryption` setting in your Info.plist to completely bypass that question - https://stackoverflow.com/questions/35739361/itsappusesnonexemptencryption-export-compliance-while-internal-testing

[2018-03-19 13:18] joshdholtz commented on #12050
I agree ^ Switching the default value of `skip_build` seems a little bit risky right now as it doesn't seem like its breaking things for a lot of people in its current implementation but switching it might cause a lot of breakage. I super appreciated you bringing this to our attention as I was not aware of this 😊

I think I'm going to close this issue for now as this isn't something that is worth

[2018-03-19 13:22] #11606 closed

[2018-03-19 14:21] janpio commented on #11132
Never did as the plugin was not popular enough and the problem is kind of an edge case @joshdholtz Still a honest problem with `sh` of course.

[2018-03-19 14:26] tobiasKaminsky commented on #10874
well...still not included in fastlane, but there are now workarounds.

[2018-03-19 15:01] aycabta commented on #11629
I'm RDoc maintainer. I released RDoc 6.0.2 that contains https://github.com/ruby/rdoc/pull/586 two days ago.

[code]

New Ruby 2.5.x will be released with RDoc 6.0.2 or later (issue: [Ruby core #14617](https://bugs.ruby-lang.org/issues/14617)).

[2018-03-19 15:03] joshdholtz commented on #12086
@githhhh Hey! Are you able to run this with `--verbose` and send the whole output as well as `fastlane env` output?

Also, does your current setup work with if you downgrade `fastlane` or `xcodeproj`?

[2018-03-19 15:26] joshdholtz commented on #10163
Heyyyyyy 👋 Thanks for commenting on this! This will be fixed in `2.86.0` (which should be released early this week) with my PR that loads `dotenv` faster - https://github.com/fastlane/fastlane/pull/12047

Didn't know this issue existed otherwise I would have mentioned it in my PR 😊

[2018-03-19 15:27] #10163 closed

[2018-03-19 15:33] sergiocampama commented on #12070
Yes, this is when using the client objects directly. Please refer to the other 2 issues I have opened on using the portal client directly:

#11901 and #11816

[2018-03-19 16:58] RishabhTayal opened #12088 "update_info_plist fails when plist file extension is different"
As of now the `update_info_plist` action will fail [here](https://github.com/fastlane/fastlane/blob/master/fastlane/lib/fastlane/actions/update_info_plist.rb#L87) if the extension of the file passed in `plist_path`  parameter is anything other than '.plist'. I believe we should be able to support other file extensions as well for e.g. `.entitlements` since `.entitlements` is also a plist file.

I

[2018-03-19 17:00] rcmpayne opened #12089 "Is it possiable for fastlane to auto download all crash logs and dsym them?"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Currenlty with Xcode -> Organizer, you hav

[2018-03-19 17:05] saggio89 opened #12090 "Team and Signing Certificate not selected when setting provisioning profile"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
When signing my project, it correctly signs

[2018-03-19 17:47] saggio89 commented on #12090
Ugh, after attempting this a million different ways, somehow i missed the codesigning_identity attribute of build_app.

Example: build_app(codesigning_identity: " iPhone Distribution: MY COMPANY NAME ")

This fixed the problem.

[2018-03-19 17:47] #12090 closed

[2018-03-19 19:20] rick-cape commented on #10187
Any updates on this?

[2018-03-19 20:17] joshdholtz commented on #12070
Thanks for linking those! This is definitely something I saw that needed improving too when exploring through the codebase this past weekend too 💡

[2018-03-19 22:10] danielphillips opened #12093 "Using set_changelog from my script"
I am trying to upload my iOS app to iTunes connect for it to be available on TestFlight.
I have a script that does that.
Now I want to update the what's new to test text. The one that appears in the test flight app.

I came across the set_changelog api - https://docs.fastlane.tools/actions/set_changelog/

I can't figure out how to use that. I'd like to add anything automatic to these notes. The gi

[2018-03-19 22:35] kkw4 opened #12094 "Unable to delete groups in Testflight via spaceship"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Currently spaceship testflight is able to

[2018-03-19 22:39] Incorporalis commented on #11887
@joshdholtz currently i'm using fresh MacOS with no any terminals. Tried it with iTerm before - the same error. I just don't know where to look.

[2018-03-19 22:59] cpk1 commented on #12069
See this issue too: https://github.com/fastlane/fastlane/issues/11902#issuecomment-368125104 I've spent some time taking a look but unfortunately haven't got much further than understanding how the error reporting works.
From what I can see (for what I'm trying to address) the main issue is slack is picking up the error message here: https://github.com/fastlane/fastlane/blob/master/pilot/lib/pilot

[2018-03-19 23:23] jpghelfi opened #12097 "latest_testflight_build_number + 1 -> [!] no implicit conversion of Fixnum into String"
The "+" is crashing in

`TypeError: [!] no implicit conversion of Fixnum into String
  Fastfile:27:in +'
  Fastfile:27:in block (2 levels) in parsing_binding'`

### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.too

[2018-03-20 00:48] jeffMeador commented on #12097
`latest_testflight_build_number` is returning a String now. It used to return an Integer. Any logic with something like `latest_testflight_build_number + 1` is failing with the latest Fastlane.

[2018-03-20 00:58] furick1 commented on #12097
2.86.0 introduced this issue with this change.

Fixes app_store_build_number for finding latest version (#12073) via Josh Holtz

https://github.com/fastlane/fastlane/pull/12073

which is a documented feature at:

https://docs.fastlane.tools/actions/latest_testflight_build_number/

[2018-03-20 01:05] jpghelfi commented on #12097
OK, so this will fix the issue temporarily

`latest_testflight_build_number.to_i`

[2018-03-20 04:49] agordeev commented on #12097
@furick1 An example in the documentation you provided won't work anymore with that new change.

[2018-03-20 05:27] githhhh commented on #12086
i find: and fix it
https://github.com/CocoaPods/Xcodeproj/issues/505

[2018-03-20 07:29] zhengjianing opened #12101 "fastlane download_dsyms Unknown method 'train_number'"
fastlane_version "2.86.0"

action: download_dsyms(version: "1.0.0")

### Issue Description

******version_set=nil>, comparing to supplied version: 3.0.3
ERROR [2018-03-20 15:02:02.68]: Unknown method 'train_number'
WARN [2018-03-20 15:02:02.68]: Lane Context:
INFO [2018-03-20 15:02:02.68]: {:DEFAULT_PLATFORM=>:ios, :PLATFORM_NAME=>:ios, :LANE_NAME=>"ios refresh_dsyms"}
ERROR [2018-03-20 15:02:02.6

[2018-03-20 07:31] cuhavp commented on #11802
Android project - ruby 2.5.0
✔] 🚀
[✔] Looking for iOS and Android projects in current directory...
[14:30:18]: Detected an Android project in the current directory...
[14:30:18]: -----------------------------
[14:30:18]: --- Welcome to fastlane 🚀 ---
[14:30:18]: -----------------------------
[14:30:18]: fastlane can help you with all kinds of automation for your mobile app
[14:30:18]: We recommend

[2018-03-20 07:44] danilobuerger commented on #11663
Same issue, using `--force` doesn't seem to work, had to resort to nuke :(

[2018-03-20 08:17] elitalon commented on #12088
@RishabhTayal I don't know what the core team thinks about this, but the interface of the action assumes you're  actually editing an "Info.plist" file, rather than some generic `.plist` file. Allowing other extensions in the same action would change the semantics.

Maybe it makes sense to add some generic `update_plist` or an specific `update_entitlements` action. Which in turn could be used inter

[2018-03-20 08:20] elitalon commented on #12086
I can confirm this behaviour occurs with fastlane 2.86.0 and xcodeproj 1.5.6.

I'm having problems using `get_version_number`, which internally asks for the "Info.plist" path. We have that path set to `$(SRCROOT)/<redacted>/Supporting Files/Info.plist` and xcodeproj seems to fail to resolve the value of `$(SRCROOT)`.

[2018-03-20 11:55] mgrebenets commented on #11802
@MirceaStroe

Just few usual suspects before I get a chance to look more in the locks.
Is it absolutely the same job that you run locally in terminal and that runs on Jenkins?

Why I'm asking, is because it may be a keychain thing.
Do you unlock keychain at the very start of the CI job, if so does it take more than 5 mins to get to resigning phase?
It _could_ be the keychain settings, specifically

[2018-03-20 12:02] mgrebenets commented on #11802
Also, looks like in CI logs you have this:

Which means the new bundle ID in new profile is some sort of wildcard profile.
Is it intentional?
Because you are resigning from non-wildcard (com.pressmatrix.development) to wildcard.
I don't think it's something "illegal", it should be possible to use wildcard, but maybe that's not what you intend to do, in which case the new profile used on CI is wron

[2018-03-20 14:23] Albob commented on #10378
I am still seeing this 😢

[2018-03-20 14:43] jgruenberger opened #12102 "`block in call': [!] The slack API returned an error: No active hooks (HTTP Code 404) (Slack::Notifier::APIError)"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

##### Complete output when running fastlan

[2018-03-20 14:45] #12102 closed

[2018-03-20 15:06] ndonald2 opened #12103 "Xcov fails due to invalid 'xcconfig' argument"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

I recently updated to the latest version o

[2018-03-20 15:23] SiarheiBarysenka opened #12104 "Adding new devices: impact on the existing provisioning profiles"
I have a few questions regarding the routine of adding the new devices into Apple Developer Program using fastlane tools and its subsequent impact on the existing provisioning profiles.

According to the docs https://docs.fastlane.tools/actions/match/#registering-new-devices

both `force_for_new_devices` and `force: true` will create the new profiles, without an ability to update the existing one.

[2018-03-20 16:32] macecchi commented on #10378
@Albob maybe you can try to reproduce this issue using iTC? It looks like it's Apple's fault. It started working normally after I reported the issue.

[2018-03-20 16:44] joshdholtz opened #12107 "ActionDetails.md.erb needs to dynamically update action path in comment for updating"
This line is wrong when it generates the new doc for an action - https://github.com/fastlane/fastlane/blob/master/fastlane/lib/assets/ActionDetails.md.erb#L3

This should generate something like...
[code]

[2018-03-20 16:52] emilio-martinez commented on #10744
@joshdholtz absolutely. A lot of this revolves around not knowing exactly what `user_details_data` is precisely referring to when it comes to iTC. Getting a clearer picture around the permissions fastlane is looking for in iTC would be extremely helpful.

[2018-03-20 17:41] jlubeck commented on #10724
Nope, latest version of fastlane doesn't have this feature

[2018-03-20 17:41] jlubeck commented on #10502
Nope, latest version of fastlane doesn't have this feature

[2018-03-20 18:23] nikitaame opened #12110 "Could not set changelog: `build_id` is a required parameter"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

When running fastlane to try to distribute

[2018-03-20 19:52] m1entus commented on #12060
Same here:

INFO [2018-03-20 20:43:16.02]: -----------------------------------------------------
INFO [2018-03-20 20:43:16.02]: Successfully uploaded package to iTunes Connect. It might take a few minutes until it's visible online.
INFO [2018-03-20 20:43:16.02]: -----------------------------------------------------
INFO [2018-03-20 20:43:16.02]: Successfully uploaded the new binary to iTunes Conne

[2018-03-20 22:36] emes commented on #11858
So as per PR above, the real error was:

[code]

So the file *was* being decrypted and the error was from UTF-8 data in the retrieved file when Match was pulling from the repo and writing locally.

The "Couldn't decrypt the repo, please make sure you enter the right password!, Invalid password passed via 'MATCH_PASSWORD" errors were just courtesy of the rescue.

Hopefully this helps others as well

[2018-03-20 22:48] pparmaei commented on #12094
+1. This would be a great feature

[2018-03-20 23:35] jpghelfi commented on #12097
@KrauseFx letting you know this is happening.

[2018-03-21 00:33] loufranco opened #12113 "xcodeproj cannot see schemes in the workspace container (error is "Couldn't find specified scheme")"
In 2.85.0 everything worked for me. When I updated to 2.86.0, gym could not find my schemes.

I debugged and I see that the root cause is xcodeproj's Workspace.schemes does not load xcscheme files that are in the workspace container

I made a simple ruby script

[code]

I ran it

[code]

But, I have all of these schemes:

[code]

I realize the bug is in xcodeproj, but I think you should think of r

[2018-03-21 00:53] loufranco commented on #12113
Here is a simple workspace that reproduces the issue

[WorkspaceSchemes.zip](https://github.com/fastlane/fastlane/files/1831716/WorkspaceSchemes.zip)

Run

`ruby xc.rb`

and see that it doesn't list `WorkspaceSchemesScheme` which is

`./WorkspaceSchemes.xcworkspace/xcshareddata/xcschemes/WorkspaceSchemesScheme.xcscheme`

Also, open the project and manage schemes to see that it is there and shared.

[2018-03-21 00:57] loufranco commented on #12113
I reported to xcodeproj: https://github.com/CocoaPods/Xcodeproj/issues/557

[2018-03-21 05:09] VolkRiot commented on #12097
Fastlane's secret plan to make us all learn Ruby is in full effect.

[2018-03-21 06:27] josercc opened #12114 "[iOS] update last FastLane version not auto run shell"
look https://github.com/fastlane/fastlane/issues/12115

[2018-03-21 06:41] josercc opened #12115 "What target would you like to use?"
<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                         | Value                                       |
| --------------------------- | ------------------------------------------- |
| OS                          | 10.13.3                                     |
| Ruby                        | 2.4.1                                       |
| Bundler?

[2018-03-21 08:02] Statusgman commented on #12113
I have the same issue. In 2.85.0 everything is OK. In 2.86.0 scan can't list all schemes in my workspace.

[2018-03-21 08:26] Assisto opened #12116 "[frameit] Possibility to make it without frames? just title and background under it?"
Hi, thanks for fantastic tool.

Btw, is there any option to annotate scrennshots without iphone/ipad frames?
Just original image (fullscreen), title and background under title?

thanks

[2018-03-21 08:42] nekator opened #12117 "[supply] Add support for internal test"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Google introduced internal test as a new w

[2018-03-21 08:55] nakiostudio commented on #12113
Exact same issue here - happy to give more details if needed.

[2018-03-21 10:43] saruye opened #12118 "Could not find CFPropertyList-2.3.6 in any of the sources / Homebrew install not working"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

I installed fastlane from brew (`brew cask

[2018-03-21 10:47] vladislav-m opened #12119 "[Regression] get_version_number target parameter become required, but documented as optional"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

I have ios project with **single target**

[2018-03-21 11:00] itsthejb opened #12120 "When RSA key passphrase input required, then no useful prompt from Fastlane (match)"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

When the SSH private key passphrase is _no

[2018-03-21 11:17] janpio commented on #12116
I don't think so, as the real goal of `frameit` is to... frame screenshots ;)

But @funnel20 might know if there maybe is a workaround.

[2018-03-21 11:19] janpio commented on #12117
Where? I see only exactly what fastlane has in its code :/

Is there an announcement post or something about that change from Google?

[2018-03-21 11:34] nekator commented on #12117
@janpio Ups. Sorry for the typo. I couldn't find it. So im not 100% sure whether it is possible.

sources: https://support.google.com/googleplay/android-developer/answer/3131213#internal_test
             https://android-developers.googleblog.com/2018/03/our-big-bet-on-mobile-games-at-game.html

[2018-03-21 11:41] joebandenburg commented on #12117
https://support.google.com/googleplay/android-developer/answer/3131213

[2018-03-21 11:48] loufranco commented on #12113
@Statusgman @nakiostudio

1. Do you use a workspace?
2. Are the missing schemes set to have the workspace as their container (not a project) -- check in Manage Schemes? (or check by finding the .xcscheme files -- are they in the workspace folder)

[2018-03-21 12:18] funnel20 commented on #12116
With the current Framefile and options it's not possible.
The way frameit is implemented is that it sizes down the original screenshot and adds the device frame around it. As a result an empty space is created below or above the device frame. Because frameit knows the scale factor, it knows the exact position and dimension of the empty space. Hence it can use the correct font size to position the

[2018-03-21 12:31] joshdholtz commented on #12119
@vladislav-m Look at this right away for you!

[2018-03-21 13:27] Assisto commented on #12116
I see. Thanks for reply. ))

[2018-03-21 13:27] #12116 closed

[2018-03-21 13:35] funnel20 commented on #12116
@Assisto You're welcome.

I'm however a bit curious about your question.
Since the moment I experienced framed screenshots I never wanted to go back to those raw screenshots. Its gorgeous for both App Store and any publications/marketing.

The only wish for frameit I have for the future (and probably will make after approval of @janpio 😀) is to use frameit without text and a transparent background

[2018-03-21 13:39] shailesh2208 opened #12122 "How I can capture the screenshots for multiple fragments and activities"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
I am confuse with the method(testTakeScreen

[2018-03-21 14:06] janpio commented on #12116
Looking forward for the issue @funnel20 ;)

[2018-03-21 14:41] Statusgman commented on #12113
1. A am using workspace
2. Yes, missing scheme have this workspace as container. And this scheme is inside workspace directory too.

[2018-03-21 14:50] loufranco commented on #12113
@Statusgman You might want to check out my fix: https://github.com/loufranco/fastlane/tree/fix-scheme-load-from-workspace-container

And see if it works for you.  I am working on getting this PR approved.

[2018-03-21 15:10] jeremyspatrick commented on #11525
fastlane-bot want's to close this but ignoring it will not make it go away. This should be a higher priority.

[2018-03-21 15:40] Statusgman commented on #12113
@loufranco I checked your PR, and it fixes my issue. All schemes from workspace are visible for "scan" now! 👍

[2018-03-21 15:51] joshdholtz commented on #12101
This was fixed in `2.86.1` 😊

[2018-03-21 15:51] #12101 closed

[2018-03-21 16:02] #12114 closed

[2018-03-21 16:02] #12115 closed

[2018-03-21 16:02] #12119 closed

[2018-03-21 16:55] joshdholtz commented on #11525
Heyyy, I will look into! How many provisioning profiles are you attempting to do? Just want to make sure that I am setting up the same kind of environment as you 😊

[2018-03-21 17:08] ethansinjin commented on #11525
My current environment has 9 provisioning profiles:

- App
- Today widget
- Messages extension
- Push Notification Content extension
- Intents extension (siri)
- Intents UI extension (siri)
- Watch
- Watch extension
- Watch Intents extension (siri)

[2018-03-21 17:14] joshdholtz commented on #12122
@shailesh2208 You will need to script your tests to wait until your screen loads, take the screenshot, and then put in logic to simulate clicks or app navigations so that you can move to multiple screens. The docs show some examples of these.

Also, the `screen grab` documentation on https://docs.fastlane.tools/actions/screengrab/#screengrab has some info and example projects of Espresso 😊

[2018-03-21 17:14] #12122 closed

[2018-03-21 17:21] AlexKorovyansky commented on #12117
+1.

`Internal test` has several advantages comparing with Alpha, for example, it doesn't take into distribution limits.

Our development team is based in Russia, but app distribution is the US only, so we're actively using internal test releases to avoid Alpha limits and expect fastlane to support that. Let me know if I can help somehow.

[2018-03-21 17:26] MaximusMcCann commented on #8053
Am seeing this problem with Fabric.
I see it upload all of the dSYMs, and says
`Successfully uploaded dSYM files to Crashlytics 💯`
but their site say they are missing and then I have to drag and drop the zip file of all the dSYMs to their upload page...
I ran the upload command with `--verbose` and nothing seems out-of-the-ordinary.

fastlane v2.86.2
fabric pod version:   `- Fabric (1.7.6)`
runnin

[2018-03-21 17:33] funnel20 opened #12127 "frameit: Why do the localised .strings file need to be in UTF-16 BE as the code converts them to UTF-8?"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
The frameit docu at https://docs.fastlane.t

[2018-03-21 17:35] #11706 closed

[2018-03-21 17:42] Assisto commented on #12116
Undoubtedly frameit - is fantastic timesaving tool. But in some cases, for example - games' screenshots, raw images are more common (https://itunes.apple.com/US/app/id1261357853?l=en https://itunes.apple.com/US/app/id1319618742?l=en)

[2018-03-21 17:46] funnel20 commented on #12116
I see, that's a good one.
They added a solid background behind the text, so it won't conflict with the screenshot content.

[2018-03-21 17:47] joshdholtz commented on #12117
PR created for this ^

[2018-03-21 17:53] janpio commented on #12116
"Problem" (again) is that `frameit` already does more than it was initially supposed to do: frame screenshots with devices. "Putting on a background" and "putting text on the background next to the framed screenshot" are not really what was the main task ;)

One could of course think about renaming `frameit` into `do_stuff_with_screenshots` and create these other things as individual methods - but

[2018-03-21 17:56] #11169 closed

[2018-03-21 18:00] Purus commented on #11687
+1 for Windows Support.

[2018-03-21 18:02] #10510 closed

[2018-03-21 18:02] joshdholtz commented on #12079
Not enough details and checklist incomplete 😊

[2018-03-21 18:02] #12079 closed

[2018-03-21 18:08] Assisto commented on #12116
I have checked other possibilities, and, unfortunatelly, there is no alternatives to frameit. :)
Will think how to implement such option in fork. ))

[2018-03-21 18:13] scalessec commented on #10945
Chill @fastlane-bot it's still broken.

[2018-03-21 18:22] joshdholtz commented on #12077
@RFCBox Hey 👋 Its hard to tell without seeing any of your setup but it sounds like it could be an issue with migration into match not being done correctly for match to read (ie: the repo might not have the correct file structure). The migration is not something that we maintain/support so that would most likely be the cause. If you can't figure that out I would recommend creating new certs with ma

[2018-03-21 18:24] #11431 closed

[2018-03-21 18:24] joshdholtz commented on #12072
There is not but feel free to implement this if you'd like 😊

[2018-03-21 18:28] #11748 closed

[2018-03-21 18:30] joshdholtz commented on #11150
@jjmiv There isn't anything built in to fastlane for HashiCorp but feel free to build a plugin for HashiCorp if you'd like 😊 https://docs.fastlane.tools/plugins/create-plugin/

[2018-03-21 18:30] #11150 closed

[2018-03-21 18:38] robinkunde commented on #11807
No, nothing's changed.

[2018-03-21 18:38] joshdholtz commented on #11034
@justin Heyyyyy 👋 Are you still having this issue with the latest fasltane versions?

[2018-03-21 18:41] joshdholtz commented on #12081
@Istered Hey 👋 Just wanted to clarify from your description but you manually downloaded dSYMs from iTC and tried to manually unzip them and that was failing for you too, right?

[2018-03-21 18:44] nikitaame commented on #12110
Updated with `fastlane env`

[2018-03-21 18:45] RishabhTayal commented on #12072
@joshdholtz I just tried setting two key values with one command and it worked for me this time 🤷‍♂️. Not sure what happened before. Looks like it IS supported by the action. Going to close this issue for now.

[2018-03-21 18:45] #12072 closed

[2018-03-21 18:46] joshdholtz commented on #12080
@nghildebrandt Heyyy 👋  I **THINK* I'm able to recreate this on a project of mine but I won't be able to get to it until tomorrow or Friday. I will let you know more when I know more 😊

[2018-03-21 18:50] joshdholtz commented on #12074
@ngouass I would create an issue over at https://github.com/HazAT/fastlane-plugin-badge 😊 There isn't anything we can do directly since this is a third-party plugin. Hopefully creating an issue over there will help you out!

[2018-03-21 18:50] #12074 closed

[2018-03-21 18:55] joshdholtz commented on #12082
@mueller-ma Heyyy! I'm assuming you are talking about 'screengrab` or `android_capture_screenshot` here? These cannot be the same. `app_apk_path` is for your main app code (this is the APK that would get uploaded to Google Play). `tests_apk_path` is a separate APK that is generated with your JUnit tests in it that control your screenshooting. See my two images below on how my example generates two

[2018-03-21 18:55] #12082 closed

[2018-03-21 19:02] mueller-ma commented on #12082
Thanks for your answer. Why does screengrab need both apks? If I run `./gradlew assembleAndroidTest`, I have an apk with the "normal" code plus the Android tests code, don't I?

[2018-03-21 19:10] jeremyspatrick opened #12129 "Please provide your Apple Developer Program account credentials"
We have been using fastlane with Jenkins for over a year now with no issues. Today fastlane is not able to access the keychain from Jenkins. I have verified that the correct credentials are in the keychain.  The credentials are added via the keychain manager.

If I run the same command manually without Jenkins this works. We have built several apps with this setup so I am not sure what is going on

[2018-03-21 19:19] alexanderritola opened #12130 "Spaceship client capable of creating 'MDM CSR'-type certificates"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

What would it take to make Spaceship::Port

[2018-03-21 19:39] JoeSzymanski opened #12132 "Upload to Crashlytics plugin has no way to disable Firebase plist upload"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
Recently, UploadSymbolsToCrashlyticsAction

[2018-03-21 20:59] nghildebrandt commented on #12080
hi @joshdholtz that's awesome to hear! I actually just managed to get it to work today by removing the line that disabled automatic code signing before running any of the lanes. I'm still slightly mystified as to why exactly that makes it work because as far as I've understood with match it is manual signing.

[2018-03-21 21:01] #12080 closed

[2018-03-21 21:03] Istered commented on #12081
Hi @joshdholtz. Yep, I tried to manually download dSYMs and then unzip them using `unzip -qo` command in the terminal to make sure I'll get the same result as for `upload_symbols_to_crashlytics`. Just to clarify, it wasn't failing, not completely, at least. In fact, it did extract most of the dSYMs, but since it had some errors during extraction `unzip` produced an error code. As expected, that co

[2018-03-21 21:07] romainbriche commented on #8053
@MaximusMcCann do you have Bitcode enabled?

source: [Automatically download and upload dSYM symbolication files from iTunes Connect for Bitcode iOS apps using fastlane](https://krausefx.com/blog/download-dsym-symbolication-files-from-itunes-connect-for-bitcode-ios-apps)

[2018-03-21 22:28] logancautrell opened #12133 "Enterprise Account - Ad Hoc cert issues."
### New Issue Checklist

- [x] Updated fastlane to the latest version - fastlane 2.86.2
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

I have an enterprise acc

[2018-03-21 22:31] logancautrell commented on #12133
There were 2 "distribution" certs in the portal at this time due to debugging this issue.

[2018-03-21 22:42] logancautrell commented on #12133
Apparently Apple has changed something in the APIs and all "distribution" profiles are now considered "in-house" for enterprise accounts.

Recommend `certificates_for_profile_and_platform` returns `in_house.all` in the `else` if enterprise account.

[code]

[2018-03-21 22:43] akashivskyy commented on #11788
I used Joshua's solution for now which is satisfactory enough. Maybe I'll take advantage of Fastlane's amazing contribution culture and open a PR with an action that meets the need described in this issue. I'm closing the issue for now.

[2018-03-22 02:37] xwartz commented on #11272
@taquitos  Thanks, it works for me.

[2018-03-22 02:53] bochen2 commented on #12084
The Helper.ci plugin thought this was running in ci mode due to an old shell environment variable from
`['JENKINS_HOME', 'JENKINS_URL', 'TRAVIS', 'CIRCLECI', 'CI', 'TEAMCITY_VERSION', 'GO_PIPELINE_NAME', 'bamboo_buildKey', 'GITLAB_CI', 'XCS']`

Maybe a better error string is in order.

[2018-03-22 02:53] #12084 closed

[2018-03-22 06:28] josercc commented on #12115
It seems that the problem has not yet been completely resolved.
When there are two targets in my project, for example creating a project will automatically bring the two targets of test and UI test so there are three targets.
This will prompt me to choose the target, it blocks the automation of the script.
When I delete only one, it will not be prompted again.
The target we choose to package is se

[2018-03-22 07:16] tbaranes commented on #9775
I do think that still an interesting issue 😶

[2018-03-22 08:18] G1King commented on #12006
I am a direct copy of the multiple-device-upload-ios. TXT, and then modify the device name and ID. 😆

[2018-03-22 09:10] MSavisko commented on #10589
Perhaps on no free time and "Allways allow" workaround, I will check that bug is actual later.

[2018-03-22 09:29] dalemyers commented on #12060
This seems to have been corrected with 2.86.0 for us. I'd leave the ticket open, but the other comments seem to actually be different issues based on the logs.

[2018-03-22 10:14] saitjr commented on #10589
I just resolve this problem last week.

`security set-key-partition-list -S apple-tool:,apple: -s -k $PASS ~/Library/Keychains/login.keychain-db`

[2018-03-22 11:48] zapjonny commented on #12113
Not sure if this relates to my problem, but after updating fastlane for the first time in maybe 2 weeks, doing `gym(scheme: "balbla", xxx)` does not work anymore - gym suddenly began asking what target I want to build, even though that information should be in the scheme, right?
Maybe I should try https://github.com/loufranco/fastlane/tree/fix-scheme-load-from-workspace-container ?

[2018-03-22 12:03] nicolasbraun commented on #10589
Awesome can you explain a bit what this does?

[2018-03-22 12:21] palusik86 opened #12135 "Gym finish with error - exit code 65"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

I have error "Exit status 65", nothing spe

[2018-03-22 14:48] #12107 closed

[2018-03-22 14:53] wberger commented on #8053
I am experiencing the same issue.

When running fastlane with the `--verbose` flag, an exemplary output is:

`upload_dsym using command: /<projectpath redacted>/Pods/Fabric/upload-symbols -a <key redacted> -gsp /<projectpath redacted>/Project/GoogleService-Info.plist -p ios /private/var/folders/xz/<somepath>/<uuid>.dSYM`

I do not understand why the `gsp` flag is set, since my call to `upload_symb

[2018-03-22 15:05] MaximusMcCann commented on #8053
@romainbriche Yes, bitcode is enabled. And, Yes, I do fetch the new dSYMs fro iTunes Connect

partial lane snippet.  I should note, Sentry uploads fine and detects them.  I feel this may be a Fabric issue :/
[code]

[2018-03-22 15:43] wberger commented on #8053
In my case the `-gsp` definitely causes the error. When making the `upload_dsym` call manually without this flag being set, everything works as expected (i.e. the dSYM is uploaded to Fabric).

In `upload_symbols_to_crashlytics.rb` I can see that `find_gsp_path` searches for `GoogleService-Info.plist` and automatically sets the `-gsp` flag, if found. Currently there is no way to suppress this behav

[2018-03-22 16:02] ladislas commented on #12135
same exit code issue here.

In my case it's complaining about not finding the right scheme... used to work last week. Haven't touche my fastfile, only updated fastlane to the latest version.

[2018-03-22 16:48] Phantom-59 opened #12137 "UITest Run with no Error but no screenshots generated"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
Fastlane snapshot appears to run with no er

[2018-03-22 19:31] jgavris commented on #10589
FWIW I haven't seen the codesign dialog using the following

[code]

[2018-03-22 19:44] palusik86 commented on #12135
So there is some issue then, or gym was change somehow.

[2018-03-22 21:10] joshdholtz commented on #12086
@elitalon Sorry about that! I have a PR out to fix your issue - https://github.com/fastlane/fastlane/pull/12138

[2018-03-22 22:10] joshdholtz commented on #11758
Going to close this for now! Comment back if there is anything else you need 😊

[2018-03-22 22:10] #11758 closed

[2018-03-22 22:12] #11746 closed

[2018-03-22 22:36] fjcaetano opened #12139 "Fastlane docs not available on RubyDoc"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

RubyDoc is not indexing Fastlane files as

[2018-03-22 22:38] joshdholtz commented on #11707
@HHK1 Heyyyy 👋 Were you able to figure this out?

[2018-03-22 22:39] joshdholtz commented on #11607
Seems like things were fixed so closing this! Comment back if this happens again 😊

[2018-03-22 22:39] #11607 closed

[2018-03-22 22:45] joshdholtz commented on #11133
Closing this issue now as iTunesConnect is a little more flexible with screenshot sizes now 😊

[2018-03-22 22:45] #11133 closed

[2018-03-22 22:49] joshdholtz commented on #11864
Closing this since there hasn't been any response 😊

[2018-03-22 22:49] #11864 closed

[2018-03-22 22:56] joshdholtz commented on #11881
@nicolasbraun Thanks for stepping in here and answering ❤️

@AntonNix Glad you were able to solve your problem! PRs are still welcomed even if you aren't done Ruby before 😊 People will give you feedback on Ruby which will help you grow. I also add to PRs created by community members if they need any additional help.

Anyways, glad you got things working! Closing this for now but feel free to comme

[2018-03-22 22:56] #11881 closed

[2018-03-23 01:46] saitjr commented on #10589
@jgavris Should delete keychain before running match ?

[2018-03-23 01:48] jgavris commented on #10589
@saitjr  `ensure_temp_keychain` always deletes it first, then creates it. It's just making sure it's 'really temporary'.

[2018-03-23 01:50] saitjr commented on #10589
Seems the solution of stuck.

[2018-03-23 04:03] sirdharma opened #12140 "Element Window cannot request screenshot data because it has an empty frame SnapshotHelper.swift:164"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

I am trying to set up Snapshot and have fo

[2018-03-23 05:25] wanyakun commented on #10378
I am still seeing this 😢

[2018-03-23 06:02] AndriyGo opened #12141 "Could not find lane"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

I am trying to call fastlane from a python

[2018-03-23 07:25] elitalon commented on #12086
@joshdholtz Perfect, thanks!

[2018-03-23 08:39] zapjonny commented on #12113
Turned out my schemes was not under the workspace container, but inside one of the projects. I have some more debugging to do...

[2018-03-23 08:51] zuqiu123 opened #12143 "各位好，我在使用fastlane上传ipa包时出现了这个错误一直解决不了"
[✔] Activating language zh-Hans...
[✔] Uploading metadata to iTunes Connect
[16:43:44]: Successfully uploaded set of metadata to iTunes Connect
[16:43:47]: Starting with the upload of screenshots...
[✔] Activating language zh-Hans...
[16:43:52]: Uploading 3 screenshots for language zh-Hans
[16:43:52]: Uploading './fastlane/screenshots/zh-Hans/1_iphone6Plus_1.11.png'...
[16:43:57]: Uploading './fas

[2018-03-23 09:25] ozbek commented on #11687
/sub

[2018-03-23 09:34] zapjonny commented on #12113
I found the problem of my issue, which was different.

(
 I am using [get_version_number](https://docs.fastlane.tools/actions/get_version_number/) in my fastfile and all of a sudden it started to require the `target` parameter in my case. If it wasn't specified in the fastfile, in the get_version_number call like `get_version_number(target: 'mytarget')` it would interactively prompt the user... wh

[2018-03-23 09:36] Spettacolo83 opened #12144 "No child processes (Errno::ECHILD) command_executor.rb:70"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

When I run fastlane screengrab from cmd on

[2018-03-23 10:11] hjanuschka commented on #11687
@feinstruktur in fact i am using fastlane running inside a docker - (with socket mount) to build docker containers 👍

[code]

inside the `fastlane_runner` docker i use https://github.com/milch/fastlane-plugin-docker to build another docker container. (❤️ ci worker running in docker, running fastlane in docker, building docker containers, docker inception 🚀 )

[2018-03-23 12:13] rs-georg opened #12146 "Match uses wrong team ID if it's defined in Matchfile and Fastfile"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

It seems that properties defined by sync_c

[2018-03-23 12:47] shailesh2208 commented on #12122
I have an issue, screenshots capture before the page load the UI, can we hadle it to wait the process untill the full UI is visible.

[2018-03-23 12:49] joshdholtz commented on #11132
Have you seen this issue with any other commands? I have totally seen other node stuff be buggy in `sh` before too 😔

[2018-03-23 12:53] joshdholtz commented on #10874
@tobiasKaminsky Sorry about not being able to include this in fastlane! There are a lot of our things on our priority list and we have not seen a lot of demand for `fdroid`. We would be happy to look at PR for this if you would like to make one or feel free to also make a custom plugin 😊

Going to close this for now since you did find a workaround. Happy fastlaning 🚀

[2018-03-23 12:53] #10874 closed

[2018-03-23 12:57] joshdholtz commented on #11629
@aycabta Thanks for popping in here and letting us know ❤️ Going to close this for now since the possible solutions are using Ruby `2.4.3` or earlier or waiting for official release of Ruby `2.5.x`

[2018-03-23 12:57] #11629 closed

[2018-03-23 13:02] joshdholtz commented on #12089
@rcmpayne We do not currently have this feature in fastlane. Just curious (since I don't use those very heavily) but how would you be planning to view/use the logs after downloading them with fastlane? 😊

[2018-03-23 13:06] joshdholtz commented on #12083
Heyyyy 👋  There should be some other issues that should help you that are similar to this and also the code signing guide linked above ^ Going to close this issue for now since no description, checklist not complete, and unsure what your fastlane environment all use (please use `fastlane env` to create this and past this in here if you would still like help).

[2018-03-23 13:06] #12083 closed

[2018-03-23 13:10] joshdholtz commented on #11754
@realpb Heyyy 👋 Were you able to get this solved? If not, what command were you trying to use with `--crashlytics_path`?

[2018-03-23 13:12] joshdholtz commented on #11722
@Xavbm Thanks for posting your solution! 💪

Going to close this for now as it seems like that is the proper solution here but feel free to comment if you are still have issues. Happy fastlaning 🚀

[2018-03-23 13:12] #11722 closed

[2018-03-23 13:13] joshdholtz commented on #11740
@farshadtx Heyyyy 👋 Were you able to figure this out with Testfairy's support?

[2018-03-23 13:20] joshdholtz commented on #11310
Going to close this for now since this seems like it was a wifi connection issue. The fabric uploading is mostly a pass-thru to the crashlytics tools so if this keeps happening this might be an issue deeper than fasltane 🙃

Happy fastlaning 🚀

[2018-03-23 13:20] #11310 closed

[2018-03-23 13:25] joshdholtz commented on #12097
Hey everyone! Sorry about the issue. This action was actually assuming that the build number would **always** be an integer - which is actually false - so we changed that logic up. Apple's documentation actually suggests that the build number should use `x.x.x` format.

**BUT...**

I will create a PR that will convert the return value to an integer if there is no period in the build number. I will

[2018-03-23 13:45] jeffMeador commented on #12097
So basically if you want to future-proof your code while this is in flux you need something like this
[code]

[2018-03-23 14:00] joshdholtz commented on #12097
Okay, this PR fixes the issue ^ Going to try to get this in a new release out later today. Sorry about issues 😬

[2018-03-23 14:15] Albob commented on #10378
@macecchi Do you mean by using the Application Loader ? I haven't tried yet.

[2018-03-23 14:15] #12113 closed

[2018-03-23 14:18] joshdholtz commented on #12103
Hello! The xcodeproj issues just got merged (https://github.com/fastlane/fastlane/pull/12147) so this should be fixed in next release 🙃

[2018-03-23 14:20] joshdholtz commented on #12103
Actually, let me verify one more thing quick 😊

[2018-03-23 14:31] joshdholtz commented on #12103
@ndonald2 Actually, can you try updating to xcov gem to  `1.3.5`? This should fix it for you now 💪

[2018-03-23 14:50] ndonald2 commented on #12103
Yep that did it! Thanks! 👍

[2018-03-23 14:50] #12103 closed

[2018-03-23 14:59] #12097 closed

[2018-03-23 15:24] RishabhTayal commented on #11967
@joshdholtz I can take this one. How about we call the `update_info_plist` action inside `deliver` to update this setting in the Info.plist?

[2018-03-23 15:26] RishabhTayal commented on #11809
@joshdholtz Any suggestions on I can start with the implementation for this?

[2018-03-23 15:35] christaggart commented on #11967
Adding ITSAppUsesNonExemptEncryption seemed to have resolved it for us, but the deliver setting would definitely be a nice addition.

[2018-03-23 15:59] joshdholtz commented on #12104
@SiarheiBarysenka Heyyyy 👋

1) Correct, match will generate a new profile. It will delete the existing one and recreate one with the same name.
2) Same answer as ^
3) Devices that have installed a build with an old profile (that has been deleted/update) will still be able to run. The installed apps checks if it can run based off of the certificate (not the provisioning profile). So as long as your

[2018-03-23 16:02] justin commented on #11034
Hey, I just updated to 2.86.2 and it seems to be fixed for both our xcconfig folder _and_ our root level playground. Thanks!

[2018-03-23 16:06] joshdholtz commented on #12141
@AndriyGo The `ios` is getting injected from `default_platform :ios` in the top of your `Fastfile`. If you remove that your python script should start working?

[2018-03-23 16:15] joshdholtz commented on #12133
@logancautrell Thanks for bringing this up! I will look into this 👌

[2018-03-23 16:19] joshdholtz commented on #8053
@wberger Can you create a new issue for you just mentioned? This intrigues me and I would like to look into 🤔

[2018-03-23 16:25] joshdholtz commented on #11057
@marianpolek Would you still like this feature? If yes... would you be able to use a branch to test out my change since I don't have access to a private testfairy instance?

[2018-03-23 16:36] RenGate opened #12149 "[Match] Check OpenSSL version on attempt to decrypt certificates repo"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
This is rather suggestion, than an issue. C

[2018-03-23 16:40] joshdholtz commented on #11034
🙌

[2018-03-23 16:40] #11034 closed

[2018-03-23 16:43] joshdholtz commented on #11967
@RishabhTayal We don't want to update anything in the user's project from `deliver` and we also want to keep `deliver` standalone from any actions 🙃

@christaggart Glad this solved it for you! 😊 Happy fastlaning 🚀

[2018-03-23 16:43] #11967 closed

[2018-03-23 16:46] joshdholtz commented on #11809
@RishabhTayal I actually have never done anything with Apple Pay so I don't really have any suggestions besides inspect the requests in browser and/or with Charles Proxy 😉

[2018-03-23 16:47] RishabhTayal commented on #11809
@joshdholtz I meant how and where in `fastlane` would I generate the certificates? something similar to `match` or `sigh`?

[2018-03-23 16:48] marianpolek commented on #11057
Hi @joshdholtz
Yes i will test it on monday at the work

[2018-03-23 16:58] joshdholtz commented on #11057
@marianpolek Perfect! Opening up because should be straight forward to implement, I just can't test 😊 Stay tuned for a branch URL when I get around to this 👍

[2018-03-23 17:07] joshdholtz commented on #11809
@RishabhTayal Ohhhhhhhhhh lol... I would actually think maybe a brand new action? `pem` does something similar but for push certificates so I would create a new action for this I think

[2018-03-23 17:09] Phantom-59 commented on #12137
Reinstalled everything, double checked everything and appears to be working fine now.

[2018-03-23 17:09] #12137 closed

[2018-03-23 17:13] furick1 commented on #12097
You are correct that Apple's doc does show build and version number aren't numeric. however, i think most of the development world thinks about build #'s as numeric. Am I wrong?

My opinion:
- the version number is x.x.x (Major.Minor.Patch)
- the build number is an incrementing integer starting at 1 which may or may not reset as a version changes

[2018-03-23 17:16] #12117 closed

[2018-03-23 17:32] #11658 closed

[2018-03-23 17:33] #10338 closed

[2018-03-23 17:45] joshdholtz commented on #12097
@furick1 That is how I see it too but fastlane is a tool that everyone uses so we can't force that way of thinking on all of the users 😊

**BUT**, I am making a new release right now which has my fix. It will make `latest_testflight_build_number` behave like it did previously. If the build number can be an casted to an integer safely, it will - so that increment keeps working. If its a number like

[2018-03-23 18:47] jwilson85 opened #12152 "Match fails when run by Bamboo but not terminal"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

I installed bamboo on a mac so we can do l

[2018-03-23 19:35] macecchi commented on #10378
@johannth @Albob
Even with the role set to "App Manager" this can happen. Yesterday some of my builds were failing because of that again, and they worked some hours later.

 I could reproduce this on iTC trying to edit the build changelog (see my comment [here](https://github.com/fastlane/fastlane/issues/10378#issuecomment-357450539)).

[2018-03-23 19:58] joshdholtz commented on #12069
@Scrat94 The object being passed into the block is a standard Ruby "error" object so you should be able to get relevant information from that. You can get the stacktrace like this...

[code]

What else are you looking to do?

[2018-03-23 19:59] joshdholtz commented on #12082
@mueller-ma One APK is your actually code. The other is essentially a "runner" that runs through your app (main APK) with tests (secondary APK). Its just how android works 🙃

[2018-03-23 20:00] #11272 closed

[2018-03-23 20:04] joshdholtz commented on #12140
@sirdharma Heyyy 👋 Your `setup()` function looks to be missing `XCUIApplication().launch()` at the end. I'm not sure if that will fix this but this is what my `setup()` looks like 🙃

[code]

[2018-03-23 20:05] joshdholtz commented on #12086
@elitalon The fix for you issue was just pushed in  `2.87.0`

@githhhh Does `2.87.0` fix your issue? We bumped to `xcodeproj` version `1.5.7`

[2018-03-23 20:06] joshdholtz commented on #12149
@RenGate This is a great suggestion! Are you able to give this change a try yourself? If not, I can add this to my queue of things to work on 🙃

[2018-03-23 20:14] RenGate commented on #12149
Unfortunately, my knowledge of Ruby is very limited 🙁, otherwise I would send a pull request instead of opening issue.

[2018-03-23 20:40] sirdharma commented on #12140
@joshdholtz Thank you for your reply! My `setup()` has `app.launch()` though:

[code]

It looks to me like your `setup()` is launching the app twice, or am I mistaken?

For reference, this is exactly what the Snaphost's example does: https://github.com/fastlane/fastlane/blob/d996750c186f66c885d20421729814b20257a50f/snapshot/example/ExampleUITests/ExampleUITests.swift#L14-L20

[2018-03-23 21:15] joshdholtz commented on #11057
@marianpolek I was able to get my hands on a private cloud thingy, tested it, and created a PR ^

[2018-03-23 21:18] joshdholtz commented on #10378
I will reopen this back up and look at it next week 👀

[2018-03-23 21:50] stein-fabricio opened #12154 "App name on TestFlight build without the spaces"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
After some time searching about fastlane I

[2018-03-23 21:54] joshdholtz commented on #11887
@Incorporalis Are you able to run `fastlane env` and paste that output here?

[2018-03-23 21:56] joshdholtz commented on #10744
@emilio-martinez I will see what we can do 😊

[2018-03-23 22:02] joshdholtz commented on #12080
@nghildebrandt `match` is manually signing and it seems like Xcode was trying to take over in your project with automatic code signing. We have plans to make this less confusing (hopefully in the near future). Happy fastlaning 🚀

[2018-03-23 22:11] joshdholtz commented on #12081
@Istered This may be weird but would you be able to let me use your dSYM zip so that I can debug this and fix it (at least the failing zip file) 😊 This shouldn't be happening. Totes okay if you don't feel comfortable (I can try to generate a failing one myself). But if you don't mind, can you email it to the email on my GitHub profile?

[2018-03-23 22:12] joshdholtz commented on #12140
Oops, my bad! And yeah, I guess mine is doing it twice 🤔 How is mine working....

[2018-03-23 22:17] SeanRobinson159 opened #12155 "Gym not honoring "BuildSystemType" in project/workspace settings."
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Gym does not honor the `BuildSystemType` t

[2018-03-23 22:25] joshdholtz commented on #12140
Can you try calling this code directly from within your tests and see what happens?
[code]

This is the line that is failing on your you and maybe your app doesn't have any windows for some reason? 🤔 But maybe inspect/print stuff out and see if you can get to `app`, `app.windows` and `app.windows.firstMatch` manually.

Lemme know if that doesn't make sense 🙃

[2018-03-23 22:35] joshdholtz commented on #12144
@Spettacolo83 Heyyy 👋 So bad news is that fastlane isn't support on Windows. Good news, we are working on supporting fastlane on Windows so stay tuned 😊

[2018-03-23 22:38] farshadtx commented on #11740
@joshdholtz Yes, they said it was a bug on their end and fixed it. I haven't had that failure for about a month.

[2018-03-23 22:39] #11740 closed

[2018-03-23 22:40] joshdholtz commented on #12110
@nikitaame Thanks for the great description! I think this `build_id` is actually deep down within fastlane and iTC may have changed up an API call on us. I've seen an issue like this before it was because there is no `build_id` while the app is processing. Just from your description, it looks like we may need to wait until the build is done processing before setting the change log but I will look

[2018-03-23 23:34] joshdholtz commented on #12118
@saruye Can you paste what your `Fastfile` looks like? Thanks!

[2018-03-23 23:54] githhhh commented on #12086
@joshdholtz Perfect, thanks!

[2018-03-24 00:11] saruye commented on #12118
@joshdholtz

here is the file content. Maybe its related to cocoapods? they seem to install first. after that its not working anymore. But what irritated me, that the problem is globally. Even running `fastlane --version` anywhere doesn't work.

<details>

[code]

</details>

[2018-03-24 00:57] nafu commented on #12139
We've released some of the updates for the yardoc at [2.87.0](https://github.com/fastlane/fastlane/releases/tag/2.87.0) but we still need one more action to work it on rubydoc.info.

I've created https://github.com/fastlane/fastlane/pull/12156 to solve it. This should be enough for closing this 💪

[2018-03-24 04:59] AndriyGo commented on #12141
@joshdholtz thanks, either this or wrapping everything in `platform :ios do` works. However, I do not still understand why `ios` is injected only when I run it from the script? It doesn't get injected if I call `fastlane` from a folder.

I think this is important because even though I fixed those errors, I now have an error in `deliver`. It does not set the release notes even though it detects the

[2018-03-24 05:10] AndriyGo commented on #12141
@joshdholtz actually I found one difference in `deliver`. I have the following entries there:
[code]

I am not currently uploading metadata or screenshots. Calling `deliver` from terminal creates the following empty folders structure:
[code]

From the script it does not create the language subfolders, even though in the output it clearly states that it detected default and en-US as languages.

[2018-03-24 07:39] HarrisHan opened #12158 "Can I use fastlane for android archive on Windows now?"
Can I use fastlane for android archive on Windows now?

[2018-03-24 08:21] GandjaFuzz commented on #11809
I think for example need use so
in fastfile
[code]

[2018-03-24 08:41] palusik86 commented on #11310
Ye, apparently it still don't work for me, but manually upload with Fabric does work/.

[2018-03-24 09:25] mueller-ma opened #12159 "Screengrab: Output folder are different from configuration file"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

##### Complete output when running fastlan

[2018-03-24 09:59] mueller-ma commented on #12082
Thanks. Can you add those information to the docs? And remove one "the" in "The path to the APK for the the tests bundle"

[2018-03-24 12:12] Swolebrain opened #12160 "iTunes Connect Team Selection doesn't work"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

When running fastlane init, fastlane corre

[2018-03-24 13:51] BeliliFahem opened #12161 "Fastlane upload to crashlytics fails with error fetching remote file"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

##### Complete output when running fastlan

[2018-03-24 14:09] Istered commented on #12081
@joshdholtz Sure :)

[2018-03-24 17:32] #11704 closed

[2018-03-24 18:45] getaaron commented on #12050
I have a suggested solution for this; reopening

[2018-03-24 18:58] janpio commented on #12158
Theoretically - https://github.com/fastlane/fastlane/issues/11687 is far enough that you might be able to install _fastlane_ on Windows and run a few actions. Archiving Android stuff on Windows might be one of those - which one exactly are you looking at?

[2018-03-24 19:46] #12050 closed

[2018-03-24 21:39] jwilson85 commented on #12152
Not sure it is a code sing issue due to the fact it works when run via terminal.

[2018-03-24 23:02] watt commented on #10796
This is still an issue. I am no longer on multiple teams and so I probably won't be able to contribute a fix myself. I'll let the bot auto-close this during its next "no activity" go-around unless someone else wants to take it on.

[2018-03-25 00:59] saruye commented on #12118
I tested a bit more and the error only comes after building the first lane in our project and after installing cocoapods. I somehow was able to fix it. I think I did `bundle exec gem install cocoapods` or something like it. But I continued to have other weird problems when running fastlane without bundle exec.
My expectation was that when running fastlane from homebrew I would have less problems w

[2018-03-25 06:35] AndriyGo opened #12163 "Deliver does not correctly process release notes"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

I am unable to submit an app for review be

[2018-03-25 06:37] AndriyGo commented on #12141
@joshdholtz actually I was wrong. There is nothing wrong with the script. The problem with deliver was originating from a missing language folder. I have opened a new issue for this as I think it is a bug. #12163

[2018-03-25 06:37] #12141 closed

[2018-03-25 10:13] bdominguez commented on #11598
I still have the same problem so its not resolved in the latest version.

[2018-03-25 12:27] vizllx opened #12164 "invalid byte sequence in US-ASCII (ArgumentError) Jenkins CI with Fastlane"
# Archiving always fails , while building from Jenkins using fastlane #

**_Using the following version -_**

Fastlane version 2.87.0

Gem version 2.3.0

**_Checked my locale configured properly in  bash shell:-_**

`jenkins$ locale

LANG="en_US.UTF-8"
LC_COLLATE="en_US.UTF-8"
LC_CTYPE="en_US.UTF-8"
LC_MESSAGES="en_US.UTF-8"
LC_MONETARY="en_US.UTF-8"
LC_NUMERIC="en_US.UTF-8"
LC_TIME="en_US.UTF-8"

[2018-03-25 13:05] #11915 closed

[2018-03-25 17:27] bdovaz commented on #11598
#11629 It seems related to this issue.

[2018-03-25 17:33] #11153 closed

[2018-03-25 17:33] #11140 closed

[2018-03-25 17:38] romanr commented on #9520
Dear @fastlane-bot please don't close this issue. There's still a lot of interest in this.

[2018-03-25 23:59] salqadri opened #12165 "Couldn't find xcodebuild at /Library/Developer/CommandLineTools//usr/bin/xcodebuild"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
I am a first-time fastlane user and am not

[2018-03-25 23:59] vizllx commented on #12164
I don't think it is a  code signing issue.

[2018-03-26 05:54] saitjr commented on #9809
resign action will not resign framework out of `execute_dir/Frameworks`, you should resign the `Sys.dylib` by yourself, or move it to `Frameworks` dir.

[2018-03-26 05:57] saitjr commented on #12165
try this: `xcode-select -s /Applications/Xcode.app/Contents/Developer`

[2018-03-26 06:10] Maheralmizany opened #12166 "issue"
<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                         | Value                                       |
| --------------------------- | ------------------------------------------- |
| OS                          | 10.13.3                                     |
| Ruby                        | 2.4.1                                       |
| Bundler?

[2018-03-26 07:32] m106 commented on #10724
This really has to be a feature in fastlane! Have the same problem now!

[2018-03-26 08:58] mylifeasdog opened #12167 "[Regression]When getting env variable, it's also included double quote in the result."
When I tried to print the env variable from my CI, which its value was "true", it returned "\"true\"" instead.

It was working fine in 2.80.0. But after I updated fastlane to 2.87.0, without changing any env variables, it breaks.

### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIB

[2018-03-26 09:01] m-conklin commented on #10378
I'm having this issue as well. I get a 403 through TestFlight but am unable the recreate by editing the build changelog through iTC. This is with an admin role and using Jenkins.

[2018-03-26 09:38] nubek commented on #11221
hello @janpio,

I thing @punksta want to have a simple fastlane pem (or sign) function to generate a **APNs Auth Key** as described here (between _"Create a new Auth Key by clicking ..."_ and _"Locate and copy your Team ID - ..."_): https://developer.clevertap.com/docs/how-to-create-an-ios-apns-auth-key

Actually a function like this would be very useful, because the APNs Auth Key is used a lot no

[2018-03-26 10:09] nubek commented on #11221
me too :D 👍

[2018-03-26 10:25] #11055 closed

[2018-03-26 10:25] #11009 closed

[2018-03-26 10:28] joshdholtz commented on #11773
@Jules2010 Heyyy 👋 Were you able to figure this out?

[2018-03-26 10:31] joshdholtz commented on #11714
I have also experienced this 🤔 I will look into

[2018-03-26 10:53] joshdholtz commented on #10724
Heyyyy 👋 I totes understand this issue. When `match` tries to create a new profile, it will first try to create a new profile for that app identifier from the existing cert that app was using (almost like its recreating) <-- this is why nuking solves this issue.

However, I do agree that there should almost be some sort of mini-nuke on a single provisioning profile so that the newly created profil

[2018-03-26 10:54] joshdholtz commented on #10614
Closing this since no response lately 😊

[2018-03-26 10:54] #10614 closed

[2018-03-26 11:02] joshdholtz commented on #11856
@komocode Heyyy 👋 1) Were you able to figure this out? 2) If not, is there a build setting called `Objective-C Generated Interface Header Name` (or similar) that wasn't set properly?

[2018-03-26 11:07] joshdholtz commented on #11855
@xlsmearlx Glad you found the solution! I will into this since this does seem a bit weird. I think the issue arises from this `wwdr_keychain` method where we pick the first keychain from the list. This probably needs to be a bit smarter 🤔

https://github.com/fastlane/fastlane/blob/e7c5ab2d103b7b79e03283a59d6c3f56aa5f6786/fastlane_core/lib/fastlane_core/cert_checker.rb#L90-L103.

[2018-03-26 11:17] joshdholtz commented on #11854
@daneov Heyy 👋 The `fastlane/swift` folder is a copy of the Swift buildings (that are generated specifically for that version of fastlane). These Swift bindings are what allows you to write your `Fastfile.swift` but have it actually call the core of fastlane (which is written in Ruby). You shouldn't need to do anything with the content that are in the `fastlane/swift` directory - these are just ne

[2018-03-26 11:17] #11854 closed

[2018-03-26 11:29] joshdholtz commented on #11858
To summarize here for anybody else that comes to this thread, it looks like the main cause was migrating from fastlane `2.80.0` to `2.81.0` which caused OpenSSL 1.1.0 to be used (which changed some default encryption methods) - https://github.com/fastlane/fastlane/issues/9542

I will be looking into this further 🤔

[2018-03-26 11:40] joshdholtz commented on #11850
@yakimant Hey 👋 `timeout` defaults to `300` so I think the actual solution here would be to not include `lock_after_timeout` at all and only include `timeout: false`.
[code]
There is shouldn't be a reason to specify `lock_after_timeout` if you are saying `timeout` is false 😇

Happy fastlaning 🚀

[2018-03-26 11:40] #11850 closed

[2018-03-26 11:44] joshdholtz commented on #11846
@vikashth1 Can you run `ruby --version` and paste what the output is? It should be >= 2.1

[2018-03-26 11:46] joshdholtz commented on #11825
Will look into 👌

[2018-03-26 11:47] joshdholtz commented on #11818
Closing this for now as there hasn't been any response and @KrauseFx answer is 💯

[2018-03-26 11:47] #11818 closed

[2018-03-26 11:50] joshdholtz commented on #11813
@samsonpaul87 It appears your tests are erroring out when trying to click a button. If this "sometimes" works, it might be an issue with the test trying to click before content is loaded on the screen properly. If this is the case, you can add a sleep. Otherwise if you are aiming at exactly coordinates (I cannot tell), try to be a bit more dynamic in your approach when finding the correct button t

[2018-03-26 11:52] joshdholtz commented on #11815
@ankitr432 Hey 👋 Were you able to get this working?

[2018-03-26 11:59] joshdholtz commented on #11808
@cavega This isn't something that we would probably build into fastlane but you could do something like this...
[code]

Happy fastlaning 🚀

[2018-03-26 11:59] #11808 closed

[2018-03-26 12:07] joshdholtz commented on #11801
@wade0317 Heyyy 👋 Thanks for the detailed report! Most times you don't need to do things as manually as you were doing here with `match` and `gym`. `match` creates a provisioning profile mapping and automatically passes that to `gym` so that you don't need to manually set certs and profiles. I would try doing an approach like the following...

[code]

The the above, `gym` should automatically take

[2018-03-26 12:11] joshdholtz commented on #11800
@aastlind Can you run your own lane with the `--verbose` setting so we can see the full output and stacktrace? Example: `fastlane ios mylane --verbose`

[2018-03-26 12:13] joshdholtz commented on #11803
Will look into this 👍

[2018-03-26 12:22] henningBunk opened #12169 "[Screengrab] "No screenshots were detected" while screenshots are getting succefully created and copied"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Since I switched the api level of the emul

[2018-03-26 12:26] joshdholtz opened #12170 "[swift] "fastlane lanes" does't show lane without a "desc()""

[2018-03-26 12:29] HHK1 commented on #11707
The main issue with snapshot indicating a success while failing to generate the report still happen randomly, I need to re-investigate this though.

Regarding the fix I was trying:

I've successfully managed to use the report generator, I've added this in my lane:

    Dir.chdir("..") do
        fastlane_require 'snapshot'
        Snapshot.config = FastlaneCore::Configuration.create(Snapshot::Opti

[2018-03-26 12:40] HarrisHan commented on #12158
@janpio Thx

[2018-03-26 12:40] #12158 closed

[2018-03-26 12:52] henningBunk commented on #12169
As a side effect: The html file with an overview of all the screenshots isn't getting created.

[2018-03-26 12:54] Cyberbeni commented on #11858
@joshdholtz In 2.80.0, it was using the locally installed commandline version of openssl which could vary from user to user and was different than the one in `fastlane env`, now it is using the ruby version which is printed out in `fastlane env` which is currently `LibreSSL 2.2.7`

[2018-03-26 12:56] pballartzinio commented on #11858
I can confirm that with fastlane version 2.87 the problem is solved. Thank you all for looking into this!

[2018-03-26 12:57] joshdholtz commented on #12163
@AndriyGo

^ This assumption is correct **only if** if you have more than one language "enabled" on iTunesConnect. I'm not sure what your current setup is on iTunesConnect but if you only have "English" enabled then the default will only update "English". You will have to enable other languages for the the default to apply to them.

[2018-03-26 12:58] joshdholtz commented on #12167
@mylifeasdog Created a PR for fixing this ^

[2018-03-26 13:00] joshdholtz commented on #12161
@BeliliFahem Hey! It looks like you are trying to use fastlane on Windows? If this is the case, fastlane isn't officially supported on Windows yet 🙃
[code]

[2018-03-26 13:09] joshdholtz commented on #12160
@Swolebrain

1) Sorry about your previous issues getting ignored 💔 The amount of issues that can come in at times is overwhelming. We do our best but sometimes things get lost, skipped over, or diagnosed improperly.

2) I am looking into this 👀

[2018-03-26 13:27] joshdholtz commented on #12160
@Swolebrain One follow up questions... Do you have multiple iOS Developer teams? Or just multiple iTunesConnect team? In other words, did you get this question asked to you?
[code]

[2018-03-26 13:46] IchHabRecht commented on #10787
I finally managed to test the latest stable version. The problem with seeing the current processed language is still valid.

[2018-03-26 14:03] jeremyspatrick commented on #11714
same

[2018-03-26 14:04] jeremyspatrick commented on #12129
I was able to able to get around this by using the system keychain instead of the login keychain but it appears doing so is causing this issue

https://github.com/fastlane/fastlane/issues/11714

[2018-03-26 14:30] gradha opened #12172 "gym unable to build schemes with spaces in the name"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

I'm recovering an old project which was us

[2018-03-26 14:59] sirdharma commented on #12140
@joshdholtz It does make sense. Those steps were actually the first I took when I stumbled upon this error but it didn't help.

Somehow when `screenshot()` is being called, whichever `window` was matched has an empty frame. The `Snapshot` code doesn't ensure that this is the case, so my best guess is this is some sort of race condition. I am just surprised not more people struggle with that error.

[2018-03-26 15:09] thibaudrobelain commented on #11825
Thanks @joshdholtz. There's an update on my end, it seems like we're hitting some some form of #11828. The first build of a new app version is submitted for review correctly and then subsequent builds only manage to get into the "Approved" state before getting a 504 and making fastlane fail.

[2018-03-26 15:19] damienherve opened #12173 "[Supply] SendTimeoutError: execution expired"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

I'm trying to upload my apk using supply.

[2018-03-26 15:35] salqadri commented on #12165
I got:
xcode-select: error: invalid developer directory '/Applications/Xcode.app/Contents/Developer'

Digging into it, it seemed I had my Xcode.app file in the downloads directory. After copying it over to the Applications folder, it worked again. Closing.

Thanks!

[2018-03-26 15:35] #12165 closed

[2018-03-26 17:43] Nov1kov commented on #11999
I'm still the same bug. And I didn't receive mail from apple.

[2018-03-26 18:08] CeccoCQ commented on #12172
+1

[2018-03-26 19:57] anwarhamr opened #12175 "updating plist value to empty dict"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### I'm trying to set the value for my plist value NSAppTransport

[2018-03-26 20:12] nikitaame commented on #12110
Really appreciate you looking into this! I'll keep an eye out on our CI and see if this is happening again but it seems like we've been lucky over the weekend. Will keep you posted.

[2018-03-26 20:17] matmartinez commented on #12172
+1

[2018-03-26 21:29] #12167 closed

[2018-03-26 21:29] #12170 closed

[2018-03-26 21:58] sirdharma commented on #12140
Solved by https://github.com/fastlane/fastlane/commit/721f102695521f47f3c6b2a140961a40e32746d7.

Thank you all!

[2018-03-26 21:58] #12140 closed

[2018-03-26 22:16] joshdholtz commented on #12175
@anwarhamr Something like this should do it for you...
[code]

[2018-03-26 22:58] #11842 closed

[2018-03-26 23:36] joshdholtz commented on #12132
@JoeSzymanski Created a PR for ya ^

[2018-03-26 23:51] joshdholtz commented on #12154
@stein-fabricio I see that you are replacing the info plist with `update_info_plist`. What are the contents of your plist at `project/Info.plist`?

[2018-03-26 23:53] joshdholtz commented on #12169
@henningBunk It sounds like your new device might not have been created properly. Did you try anything suggested here by rooting the emulator? https://stackoverflow.com/questions/7399028/android-adb-permission-denied

[2018-03-26 23:57] joshdholtz commented on #12152
@jwilson85 It _might_ be a code sign issue 😬 Is bamboo running as a different user with different permissions? Does `security find-identity -p codesigning` return the same results when run as your use and when run in bamboo?

We have some actions for setting up CI's so you might have to do something similar to this `setup_jenkins` action - https://docs.fastlane.tools/actions/setup_jenkins/#setup_j

[2018-03-27 00:30] josercc opened #12177 "【Reopen】What target would you like to use?"
It seems that the problem has not yet been completely resolved.
When there are two targets in my project, for example creating a project will automatically bring the two targets of test and UI test so there are three targets.
This will prompt me to choose the target, it blocks the automation of the script.
When I delete only one, it will not be prompted again.
The target we choose to package is se

[2018-03-27 00:44] stein-fabricio commented on #12154
@joshdholtz actually I did this
`update_info_plist(
    plist_path: 'unquOProject/Info.plist',
    display_name: 'Boring name'
    )`
trying to explicit the desired name, but it didn't work either.

[2018-03-27 02:41] Swolebrain commented on #12160
Hey, thanks for the response!

I never got that question asked. I do not own the other ios developer team, they just added me on itunes connect. I was able to build several times with xcode and manually upload to testflight before.

I ended up figuring out a solution and getting everything to work by following your optional advice (marked as optional under the documentation for match) to simply ha

[2018-03-27 04:31] komocode commented on #11856
@joshdholtz hi. I gave up on SnapshotHelper and manually designed the screenshots. I'll be closing this ticket.

[2018-03-27 04:31] #11856 closed

[2018-03-27 05:34] #12118 closed

[2018-03-27 05:49] kazuhidet opened #12179 ""NFC Tag Reading" can not be enabled with CLI of "fastlane produce enable_services"."
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
I wanted to use the "NFC Tag Reading" funct

[2018-03-27 05:59] kazuhidet commented on #12179
The reason is that someone forgets to change "produce/lib/produce/commands_generator.rb".

--- a/produce/lib/produce/commands_generator.rb
+++ b/produce/lib/produce/commands_generator.rb
@@ -60,6 +60,7 @@ module Produce
         c.option('--push-notification', 'Enable Push notification (only enables the service, does not configure certificates)')
         c.option('--sirikit', 'Enable SiriKit')

[2018-03-27 06:34] CihanBoz commented on #10724
@joshdholtz When an certificate expires IMHO it just disappears from the Dev Center, it is the same behaviour like when you press "revoke" manually. So if `match` doesn't find the certificate anymore in the Dev Center it could/should create a new one. If I remember correctly the current behaviour of `match` is to throw an error that the certificate is not in the Dev Center and that is it, right?

[2018-03-27 06:43] nidegen commented on #12004
[code]

[2018-03-27 08:29] WildStudio commented on #12119
What's the solution if there's more than one target?

[2018-03-27 08:53] JeanDuhard commented on #12172
Is your scheme shared ?
As explain in ```fastlane action gym``` ?

[2018-03-27 08:55] vincedev commented on #12055
Hi!

Does anyone can/did try to reproduce this ?

[2018-03-27 09:28] shailesh2208 opened #12180 "`mkdir': [!] Permission denied @ dir_s_mkdir - fastlane/metadata (Errno::EACCES)"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
I have run the command Fastlane supply init

[2018-03-27 09:34] gradha commented on #12172
This was it, the `xcshareddata` wasn't added to git in the previous setup. After marking the schemes as shared (which created this folder) the beta command started to work.

Thanks.

[2018-03-27 09:34] #12172 closed

[2018-03-27 10:17] joshdholtz commented on #12129
@jeremyspatrick Hey 👋 Do you know what happened to make this stop working? Was it a fastlane update? Or a jenkins update? Or an OS update?

[2018-03-27 10:27] shailesh2208 opened #12181 "[!] Google Api Error: multiApkShadowedActiveApk: Version 1 of this app can not be downloaded by any devices as they will all receive APKs with higher version codes."
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
I found this issue when I have run the comm

[2018-03-27 11:29] joshdholtz commented on #12180
@shailesh2208 This appears to be a permissions issue with your local setup. Are you running `fastlane supply init` as a user that has valid permission to make a directory in the local where you are running this? You can test this by running something like `mkdir -p dir1/dir2` which will make a directory called `dir1` with another directory in it called `dir2`

[2018-03-27 11:32] joshdholtz commented on #12055
@vincedev Hey 👋 Can you provide me with a sample of what your `Fastfile` looks like?

[2018-03-27 11:35] henningBunk commented on #12169
I checked and you are right, the emulator wasn't rooted. So I tried the following:

1. Start the emulator
2. type `adb root`
3. start fastlane screengrab

Now instead of
`ls: /data/data/my.app/app_screengrab: Permission denied`
I am getting
`ls: /data/data/my.app/app_screengrab: No such file or directory`

When I check manually the directory `/data/data/my.app/app_screenrab` doesn't exist while th

[2018-03-27 11:51] JoeSzymanski commented on #12132
+1. Thanks!

[2018-03-27 11:52] vincedev commented on #12055
Hi @joshdholtz, sure, here is an excerpt :

[code]

Our `AppFile` looks like this :

[code]

We have double checked team ID and app identifier, and they are both correct.

[2018-03-27 12:09] joshdholtz commented on #12055
@vincedev Good-ish news! I can recreate the issue 😝 Bad news, we have this issue 😉 Looking into this right now!

[2018-03-27 12:18] joshdholtz commented on #12055
@vincedev Hey! Quick fix... add `platform: 'osx'` into your `deliver` options 🙃

It looks like `deliver` is detecting the platform incorrectly. I will be making a PR to fix this. Sorry about the issues! ❤️

[2018-03-27 12:39] joshdholtz commented on #12055
Last comment... Looks like `gym` isn't building the `.pkg` file  correctly 😢 Now looking into that

[2018-03-27 12:52] shailesh2208 commented on #12181
yes, I have APK with the version code 2 and version name 1.1
And one thing I reminds to you that its an beta version that I am trying to update.

[2018-03-27 13:33] joshdholtz commented on #12181
Did you try setting `check_superseded_tracks: true`?

[2018-03-27 13:33] viniciussoares commented on #11454
Same here

[2018-03-27 14:26] 0xced commented on #12172
I just submitted #12182 to improve the *Couldn't find specified scheme* error message and suggest to make sure that the scheme is shared since I’ve been bitten by this same issue today.

[2018-03-27 14:31] Tayphoon commented on #12177
Same here

[2018-03-27 14:47] joshdholtz commented on #12177
@josercc @Tayphoon Is this happening to you both on `get_version_number`?

[2018-03-27 15:52] ianalbertruelala commented on #11519
I rewrote how the args array is built in `Fastlane.getProvisioningProfile` and it fixed the issue for me. Basically, I'm only inserting RubyCommand.Arguments for non-default arguments.

[code]

[2018-03-27 17:25] jwilson85 commented on #12152
ya they both look the same to me.
code```

27-Mar-2018 11:24:31 | Policy: Code Signing
-- | --
27-Mar-2018 11:24:31 | Matching identities
27-Mar-2018 11:24:31 | 1) 1B46EE31E4ABFAABFA5FE7DD3BE68BAE2B3260C0 "iPhone Distribution: Active Website LLC"
27-Mar-2018 11:24:31 | 2) 310D5913ADE3A23147B7D503C2EC081821F54DD6 "iPhone Developer: Tyler Olmsted (AXP4KCHDF4)" (CSSMERR_TP_CERT_REVOKED)
27-Mar-2018 1

[2018-03-27 17:30] #11732 closed

[2018-03-27 17:31] #11134 closed

[2018-03-27 17:31] #11128 closed

[2018-03-27 17:32] #11127 closed

[2018-03-27 17:32] #11092 closed

[2018-03-27 17:32] #10081 closed

[2018-03-27 18:05] AndriyGo commented on #12163
@joshdholtz I do have only one language, en-US, and "default" is not being applied to it. Anyway, this is not a huge concern as I can always programmatically check to see if I have the right language folder. It is just a bit inconvenient :)

[2018-03-27 18:20] Frinkey opened #12183 "Couldn't find specified scheme 'myapp [Test]'"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

When i call ```fastlane beta``` fastlane t

[2018-03-27 18:22] dehlen opened #12184 "Can't run xctestrun file with scan when created with gym"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

##### Complete output when running fastlan

[2018-03-27 18:36] jeremyspatrick commented on #12129
I am not sure what caused this but I was able to get this to work by going back to the login keychain and making sure my jenkins was running as the correct user by adding the username to the LaunchAgent/LaunchDaemons

        <key>UserName</key>
        <string>jenkins</string>
        <key>SessionCreate</key>
        <true />

https://stackoverflow.com/questions/6827874/missing-certificates-and-k

[2018-03-27 19:46] getaaron commented on #12184
@hjanuschka Do you have time to look at this issue? IIRC you have gotten this working before

[2018-03-27 19:48] getaaron commented on #12183
@Frinkey We just merged https://github.com/fastlane/fastlane/pull/12182 which should improve the error message. The issue is that since https://github.com/fastlane/fastlane/pull/12027 you need to mark your scheme as 'shared' in Xcode. There are [instructions here](https://developer.apple.com/library/content/documentation/IDEs/Conceptual/xcode_guide-continuous_integration/ConfigureBots.html#//apple

[2018-03-27 20:38] #12132 closed

[2018-03-27 20:47] hjanuschka commented on #12184
@getaaron , i give it a try 👍 , @dehlen have you tried setting derrived_data path to the same value, in gym and scan? -> https://github.com/fastlane/fastlane/issues/8376#issuecomment-282754603

[2018-03-27 20:49] dehlen commented on #12184
Yes you can see that in the attaches Fastfile. Both paths are set to „build“.

Thanks for helping out :)

[2018-03-27 21:07] dehlen commented on #12184
You can test it out by creating a new Single View iOS App called Test with a UnitTest and UITest target. Then the provided Fastfile can be used attached to this issue. You can see that the scan lane will fail because when trying to run the xctestrun file it will search for Test.app in Build/Products/Debug-iphone*/Test.app bit the app is created by gym in Library/.../28-03-2018Test.xcarchive/.../Te

[2018-03-27 21:08] sehmus commented on #11361
Hello,
I finally resolved issue. XCode Compiler is not really strict like fastlane. Sometimes XCode ignores some errors. In my project, i had some png format issues but fastlane didn't reported these errors to me. I found these problems in XCode after that, i replaced png files. Now, i can build successfully my project with fastlane.

[2018-03-27 23:30] pokono commented on #12177
+1

[2018-03-28 00:27] amitjpatel commented on #12177
+1

[2018-03-28 00:27] josercc commented on #12177
@joshdholtz

![](http://ipicimage-1251019290.coscd.myqcloud.com/2018-03-28-002652.jpg)

[2018-03-28 00:43] pokono commented on #12177
Yes! I solved my issue specifying the `target` on the `get_version_number` action.

[2018-03-28 01:00] cpk1 commented on #11902
So I think I have something that provides better output from what happened during transporter... Not sure if you want me to just wrap it up and send a PR or have some discussion to make sure the way I'm doing this is OK with the team. LMK @taquitos

[2018-03-28 01:14] taquitos commented on #11902
Yeah, it would be awesome to get your thoughts. If it's easier for you to throw together a PR for us to review, or if you want to write out your ideas, that also works for us. Totally up to you as we're happy to review either 👍

[2018-03-28 01:17] nafu commented on #12139
@fjcaetano Thanks for reporting. This is fixed on _fastlane_ 2.88.0 👍

http://www.rubydoc.info/gems/fastlane/2.88.0

![image](https://user-images.githubusercontent.com/932290/38003071-c5b407d8-3270-11e8-8ae0-5f993f3e96e1.png)

[2018-03-28 01:17] #12139 closed

[2018-03-28 04:45] cpk1 commented on #11902
What I've got working locally right now is using the error parser in itunes_transporter ( https://github.com/cpk1/fastlane/blob/cpk1-transporterLogging/fastlane_core/lib/fastlane_core/itunes_transporter.rb ) to add errors that we want to return to a new instance variable and then returning that variable in addition to the transporter exit status.

In pilot I've changed UI.user_error to print out t

[2018-03-28 05:59] shailesh2208 commented on #12181
@joshdholtz  yes I have added it . Still have the same issue

[2018-03-28 06:38] Frinkey commented on #12183
Yeap its checked, but right after starting script it pints:
[code]

![screen shot 2018-03-28 at 09 29 56](https://user-images.githubusercontent.com/2250376/38012832-9855c9b6-326b-11e8-9f61-bda77edf9b32.png)

I can't understand why its trying to use scheme that i did have configured in my project

[2018-03-28 10:31] pedrosilva88 commented on #11796
@taquitos Can you give us some feedback about this issue?

[2018-03-28 12:46] vincedev commented on #12055
@joshdholtz Thank you for your response, adding the parameter does indeed make deliver work as expected 👍.

Looking forward to a fastlane update ! Thanks again.