[2020-07-28 08:29] valerio-castelli commented on #16939
Yes, I'm afraid you can no longer use the `edit_version`. We've changed our workflow to do something along these lines:
[code]

[2020-07-28 08:33] GCSNNB commented on #16952
I'm not very sure, I thought fastlane has already adapted new app store connect api in this [commit](https://github.com/fastlane/fastlane/pull/16626/files)

[2020-07-28 09:16] squallstar commented on #16716
@joshdholtz is there any update on the above?

[2020-07-28 09:50] valerio-castelli commented on #16952
Unfortunately, that's not entirely the case. It's true that fastlane was recently adapted to the new App Store Connect API, but Apple decided to release two different, mutually incompatible implementations of this API:
- A private one that is used by the App Store Connect interface. This is the one that fastlane is currently using. You can see that this is the case because [fastlane's implementati

[2020-07-28 10:11] GCSNNB commented on #16952
@valerio-castelli Thanks! You’re correct.

[2020-07-28 10:58] ssathishppm commented on #16164
Is this possible to upload the android apps for invited customer using this plugin ?????.
**Like iOS setting**
team_name (ENV['IOS_ACCOUNT_TEAM_NAME'])
ENV["FASTLANE_ITC_TEAM_NAME"] = ENV['IOS_ACCOUNT_TEAM_NAME']
if the account is linked with multiple account.
Can anyone help me for this question.

[2020-07-28 11:35] creambyemute opened #16956 "Documentation: CI / Seperate Apple-ID for CI isn't correct anymore"
### Issue Description
The section about creating an Apple-ID without Two-Factor Auth enabled is no longer valid. There is no way to turn off Two-Factor Auth anymore on newly created accounts as per Apples Documentation.

[2020-07-28 11:57] max-ott commented on #16956
Thanks @creambyemute Could you open a pull request for that fixing the issue?

[2020-07-28 11:59] max-ott commented on #16939
[code]

No longer works. Thanks @valerio-castelli for the hint.

[2020-07-28 11:59] #16939 closed

[2020-07-28 12:25] creambyemute commented on #16956
I haven't used fastlane much tbh. I'm just setting up the azure pipeline and we wanted to not go the session way, which we are now doing due to the new TFA enformement on new accounts.

If I'd edit it, I'd probably either
* Delete that section or
* Add a disclaimer this does not work for newly created accounts

[2020-07-28 12:28] atitovdev commented on #16939
@max-ott well, edit_version no longer works, any suggestion what to with that?

[2020-07-28 12:34] max-ott commented on #16939
What @valerio-castelli posted should get you going:
[code]

[2020-07-28 12:46] alex-benoit commented on #16956
Just tried it an indeed 2FA is mandated for all new accounts now it seems - that really sucks :(

[2020-07-28 12:50] alex-benoit opened #16958 "[pilot] Pilot hangs when trying to set the changelog with not enough permissions"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
When your Fastlane user only has the "Devel

[2020-07-28 13:54] ravitripathi commented on #16615
But this is a legit usecase

[2020-07-28 15:02] SebaRossi94 commented on #16949
Hello there, i have the same problem here with a few differences:
- Only one locale set (spanish MX)
- Command executed was `fastlane deliver init`
- Crash happens when downloading `review_information/review_demo_password.txt`

Here it is the complete output:

[code]
that specific field doesn't have any special characters only numbers and letters

[2020-07-28 15:42] markmuniz commented on #16951
I'm having the same issue. Seems to have broken between `2.152.0` and `2.153.0`.

[2020-07-28 15:46] hash3r commented on #16704
Looks the same for me.
A device was added, but provisions were not renewed

[2020-07-28 17:40] #16631 closed

[2020-07-28 19:09] lilyball commented on #16800
This was fixed by #16833.

[2020-07-28 19:09] #16800 closed

[2020-07-28 19:12] lilyball opened #16960 "scan: include_simulator_logs collects months worth of log data"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [X] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [X] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
Now that `include_simulator_logs` finally w

[2020-07-28 19:36] lilyball commented on #16960
`fastlane env` isn't particularly helpful here. I'm passing `include_simulator_logs: true` in my scan args, and scan is invoking `log collect` on the simulator without providing either `--start` or `--last`, so it collects everything.

[2020-07-28 20:22] khallmark commented on #15963
Archive your app. Export it with developer Id signing. Take the exportOptions.plist and use that with fastlane.

[2020-07-28 21:32] joshdholtz commented on #15963
@trondkr @eliottha Does setting `export_method: ‘developer-id’` and `skip_package_pkg: true` work for you? If so, I can add a fix this week to do that by default for developer ID 💪

[2020-07-28 21:46] joshdholtz commented on #16627
@danimal521 Hey 👋  Is this fixed for you in `2.153.1`?

[2020-07-28 22:00] weevilgenius commented on #15963
I can't speak for others, but we use `skip_package_pkg: true` and `export_options: fastlane/ExportOptions.plist` and it works correctly. Our app passes notarization, so all signing appears to be correct.

[2020-07-28 22:08] trondkr commented on #15963
@weevilgenius Would it be possible to see what your `fastlane/ExportOptions.plist` looks like? I am still struggling to get this tp work correctly.

[2020-07-28 22:14] joshdholtz commented on #16716
@squallstar What is the phone number format you are using? I see this in your output from above 👇

[code]

[2020-07-28 22:29] waleeg commented on #15963
It worked for me.

[2020-07-28 22:45] weevilgenius commented on #15963
@trondkr I used the one generated from Xcode when exporting the app. The options you select during the export change what goes into the file.

[code]

[2020-07-28 23:03] joshdholtz commented on #16566
Reviewing this now!!!!! 😊

[2020-07-28 23:47] weitzel926 opened #16962 "App and extension with multiple bundle IDs won't build"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Complex build setup.  I recently added a n

[2020-07-28 23:50] EpaL commented on #15963
Unfortunately it doesn't work for me.

Using:
[code]

... and the following ExportOptions.plist:
[code]

It builds the app and starts the export, but the export and signing options are wrong (not the same as the plist above):

[code]

If I use the same ExportOptions.plist with the following arguments:

[code]
[code]

... it skips signing all together and spits out a developer-signed binary.

Not s

[2020-07-29 00:30] joshdholtz commented on #15963
@EpaL Can you try this? 👇

[code]

[2020-07-29 00:40] EpaL commented on #15963
@joshdholtz thanks. It produced an identical result to `build_mac_app(scheme: "MyApp",
      export_options: "fastlane/ExportOptions.plist",
      skip_package_pkg: true
    )` above. That is, it builds but then it does not attempt to sign the .app.

[2020-07-29 01:27] joshdholtz commented on #15963
@EpaL Your _fastlane_ output from above looks similar to mine before I pass it to the `notarize ` action 🤔 Are you getting an error from `build_mac_app` or the `notarize` action about signing not being right?

[2020-07-29 01:56] EpaL commented on #15963
It's the `notarize` action that's returning the error:

[code]

[2020-07-29 06:30] dim4ikhot commented on #16944
I've gotten the same problem today. I just launched `sudo gem update`, which upgraded faraday(and other libraries) to the latest. In case if fastlane be not upgraded, run `gem install fastlane` again. This solved the problem and fastlane was upgraded successfully.

[2020-07-29 07:03] BurakDizlek commented on #16548
I have same problem. is there any solution?

[2020-07-29 08:40] squallstar commented on #16716
@joshdholtz sorry yes that fixed it, turns out the format was indeed invalid. I was a little confused by the various error messages. Thanks for the help!

[2020-07-29 09:54] miscampbell commented on #16387
Hi @xplatform

Were you ever able to find a solution to this issue?

[2020-07-29 13:24] dandre-hound commented on #16922
I'm seeing the same issue. Any luck?

[2020-07-29 14:29] #16949 closed

[2020-07-29 16:05] ganeshub commented on #16922
@dandre-hound Add new release and upload apk manually for the first time. After that fastlane works.
Still, I am not sure is this the right way.

[2020-07-29 16:06] #16922 closed

[2020-07-29 18:32] kerwinAPG opened #16966 "Cannot update fastlane version"
I get notification when running fast lane that a new version is available (2.153, I currently am on 2.152), however I am unable to update.  I have used commands
sudo gem install fastlane
gem install fastlane
gem update fastlane

unsuccessfully.  the install command reports this

Done installing documentation for  after 0 seconds

but the version does not get updated.

fastlane env gives:
<details>

[2020-07-29 19:10] khallmark commented on #15963
I manually handle the signing/profiles myself due to some entitlements we have. Our ExportOptions.plist looks like this and specifies both the certificate and the profile. This file was automatically generated as part of an export.

[code]

[2020-07-29 22:26] EpaL commented on #15963
I figured out the problem. I've been relying on the export process to resign my app with a Developer ID profile before notarization. Setting `skip_package_pkg: true` allows me to get around the `gym` issue where the output is a .app rather than a .pkg and gym thinks the archive process failed, but it does that by skipping the export process all together, which was how I was ensuring my app is corr

[2020-07-29 23:30] weitzel926 commented on #16962
I thought this was fastlane, but it was a script problem.  Closing.  Thanks.

[2020-07-29 23:30] #16962 closed

[2020-07-30 08:11] fguchelaar commented on #16949
✅ Verified the fix with 2.154.0. Thanks!

[2020-07-30 08:50] oingbong commented on #16628
I Solved, using add target.
Thank you for every reply @janpio

[2020-07-30 08:53] TheDancerCodes commented on #16548
@BurakDizlek I am still waiting on this as well.
None so far.

[2020-07-30 08:54] #16628 closed

[2020-07-30 10:10] ainame commented on #16924
Hey, I've been preparing a PR to this issue. We have about 380 screenshots and it took 2 hours and half to complete just to delete and upload and then ended up seeing the error message😅 > There are still screenshot uploads in progress.
With my PR that became about 16 mins to complete at that moment.

Although I've observed that the performance on App Store Connect end seemed to be improved in the

[2020-07-30 13:31] max-ott commented on #16966
Have you tried to un-install `fastlane`? If you use the `sudo` command, it might be possible that you need to use it for update as well.

[2020-07-30 13:49] kerwinAPG commented on #16966
I have not un-installed.  I wanted to first check for an alternative.  I can try that today.

[2020-07-30 13:49] reishka commented on #16868
@joshdholtz Any idea on a ETA for this? We're currently managing 130+ apps and we don't want them available for macs just yet, since they haven't been through a QA cycle. Our only option at this point is to manually modify all the apps within the app store.

[2020-07-30 13:51] joshdholtz commented on #16868
Ah, I should be able to get to this into master today and released tomorrow for you!

[2020-07-30 13:56] reishka commented on #16868
@joshdholtz Thank you so much!

[2020-07-30 16:45] ameffert opened #16975 "App screenshot missing (APP_IPAD_PRO_3GEN_129)"
### New Issue Checklist

✅ Updated fastlane to the latest version
✅ I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
✅ I read [docs.fastlane.tools](https://docs.fastlane.tools)
✅ I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

iPad Pro 3rd gen screenshots were saved in iPad Pro 2nd ge

[2020-07-30 17:24] rogerluan commented on #16966
This has happened to me in the past, but I use `bundler` to install fastlane (which it's strongly encouraged you doing, so you don't have to modify gems in your entire machine).

In my case, the problem was caused by dependencies that depended on different versions of fastlane's dependencies, so fastlane couldn't be upgraded alone and satisfy all the other dependencies' required versions.
The solu

[2020-07-30 17:31] #16589 closed

[2020-07-30 17:31] #16574 closed

[2020-07-30 17:31] #16497 closed

[2020-07-30 17:39] #16868 closed

[2020-07-30 18:09] randyvarela5 commented on #16881
adding `ITSAppUsesNonExemptEncryption`  and setting it to `NO` fixed this issue for me.  Its mentioned in the docs that it can be added as an option but its definitely required for me:

https://developer.apple.com/documentation/bundleresources/information_property_list/itsappusesnonexemptencryption

[code]

[2020-07-30 18:12] scottasoutherland commented on #16881
Yes, the workaround seems to work for me as well, but i'm confused on why it's needed at all.

[2020-07-30 18:14] randyvarela5 commented on #16881
me too. I thought for sure passing in all the parameters in, even ones that would not apply, would be overkill, but i guess not.

[2020-07-30 20:19] minuscorp commented on #15595
Still a thing, sorry, just finished my previous PR

[2020-07-30 20:53] abear247 opened #16977 "Testflight groups not working"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
We are trying to create a `Release Preview`

[2020-07-31 05:17] KennethBass commented on #16696
Processing can sometimes take a really long time 🤔 Did you go to the App Store Connect dashboard to verify that it still showed as processing there?

[2020-07-31 07:14] SusanWong15 commented on #16696
With 2.150.0 released you should also upgrade and see if the problem persists.

[2020-07-31 07:54] oonoo opened #16978 "[spaceship] toggle_phased_release not working"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

The method toggle_phased_release is not wo

[2020-07-31 09:01] BytesGuy commented on #16696
I managed to resolve my issue. It was due to some new agreements being made available, so I had to sign in to the Apple ID I use for CircleCI and log in to the dev portal and agree. I'm not sure if it's possible for Fastlane to detect any outstanding agreements, but it would certainly be beneficial to have an error message that suggests this. Hopefully this helps the OP too

[2020-07-31 14:57] MarcoSantarossa commented on #16627
We are facing the same issue in 2.154.0.

[2020-07-31 16:06] kerwinAPG commented on #16966
Righto.  I have seen the notices when running fastlane about using bundle and have been putting off dealing with it.  So, maybe this is a good excuse to tuck into that and set up more thoroughly.

[2020-07-31 18:10] rogerluan commented on #16966
Yup! And it's not complicated at all :) totally worth it.

[2020-07-31 19:16] camilape commented on #16918
Hi @joshdholtz I got a similar issue, I tried to upload screenshots this time and first I received the following error:

`[09:11:53]: Error processing screenshot '1_iPad Pro (12.9-inch) (2nd generation).png'. IMAGE_BAD_FILE_EXTENSION - IMAGE_BAD_FILE_EXTENSION`

Then when I tried to resubmit again skipping the screenshots upload I got this error:

`The request cannot be fulfilled because of the st

[2020-07-31 19:18] joshdholtz commented on #16627
@MarcoSantarossa Can you paste your entire fastlane output so I can see exactly what you are seeing? 😊

[2020-07-31 19:23] joshdholtz commented on #16918
@camilape Thanks for all the info!

This error comes from the App Store Connect API. Can you verify that your `png` actually is a `png`? I think the App Store Connect API verifies the content and maybe its actually a jpeg? 🤔

App Store Connect requires a bunch more info now. It looks like you may be missing `add_id_info_limits_tracking` in your `submission_information` (if `true` you need the othe

[2020-07-31 19:53] camilape commented on #16918
@joshdholtz I'm going to try that, thank you so much for the quick reply.

[2020-07-31 20:13] MarcoSantarossa commented on #16627
Hi @joshdholtz ! thank you for the support, here we are:

[code]

[2020-07-31 20:16] joshdholtz commented on #16627
@MarcoSantarossa That is an insanely fix "Unexpected Error" output 😱 I'm very surprised there isn't any other output there.

1) When did this start?
2) Have you accepted all new terms/agreements on App Store Connect website?
3) What permission/role does your user have? Have you tried having any higher permissions (if able to)?

[2020-07-31 21:24] EvanSays commented on #16575
I'm having the same issue.

[2020-07-31 21:28] acoutts commented on #16575
For everyone having issues, I’ve noticed it usually takes a few mins to show up now. If you wait 30 mins does it still not show up?

[2020-08-01 10:26] eladgel opened #16980 "Not getting previews of appstore before uploading ipa"
### New Regression Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Regression Information

- Breaking version: [e.g. `2.154

[2020-08-01 11:35] alex-benoit opened #16981 "[pilot] `latest_testflight_build_number` ignores the builds that failed to process"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
Let's say you upload a build that fails to

[2020-08-01 12:00] alex-benoit commented on #16981
Tried to play around with the API and it doesn't seem possible... :(

[2020-08-01 12:05] alex-benoit commented on #16981
for refernce AppStore Connect calls
`https://appstoreconnect.apple.com/iris/v1/builds?cursor=XXXXXX&include=betaBuildMetrics%2CpreReleaseVersion%2CbetaAppReviewSubmission%2CbuildBundles%2CbuildBetaDetail%2Cicons%2CbetaBuildLocalizations&filter%5Bexpired%5D=false&filter%5BpreReleaseVersion%5D=XXXXXXXXXXXXXXX&limit=10&sort=-version&filter%5BprocessingState%5D=PROCESSING%2CVALID` and fasltane https:/

[2020-08-01 12:17] MarcoSantarossa commented on #16627
@joshdholtz

1. I've seen this error since 29th Jul
2. Yes
3. I'm admin
If you could help: I see AppStoreConnect has already a new iOS version ready for submission but with empty metadata. Not sure if fastlane created that and then failed. In the past, fastlane wouldn't have failed if a version was already available but it would have replaced the content.

[2020-08-02 04:30] rogerluan commented on #16792
I decided to take a stab on this one :) @joshdholtz thanks for adding the `you can do this` label 💪

[2020-08-02 05:04] rogerluan commented on #16836
<img width="468" alt="image" src="https://user-images.githubusercontent.com/8419048/89115830-32f52980-d463-11ea-8fa3-51117bd14e17.png">

Performing those changes inevitably break tons of specs that expect the path to be `nil` in certain scenarios.

At first, I thought that this change made sense, because you may not have a `Fastfile(.swift)?` (you can do everything from CLI). However, after thinki

[2020-08-02 05:18] rogerluan commented on #16836
@jpgarcia could you confirm that this works in your environment? https://github.com/fastlane/fastlane/pull/16983

You can do so by modifying your `Gemfile` as:

[code]

🙏 Much appreciated

[2020-08-02 18:20] Kaspik commented on #16342
Not sure but probably fixed?

[2020-08-02 19:26] dhermanns commented on #16980
Same problem here...

[2020-08-02 22:47] jpgarcia commented on #16836
Hi guys! I was pretty busy these weeks and I couldn't continue with the PR. While trying to apply the changes I suggested I ended up with the same situation you (@rogerluan) described in your first comment.

I can confirm that your branch works so I would close this one if favor of yours.

[2020-08-02 23:59] rogerluan commented on #16836
Sweet, thanks for confirming @jpgarcia ! 🚀

(Just as a side note, this issue would be automatically closed when/if my PR gets merged to master 😄 I think that's a better way to track whether this issue has been resolved. Otherwise, if my PR ends up not being merged, we'll have to reopen this issue. Not a big deal tho 💪 )

[2020-08-03 01:37] jpgarcia commented on #16836
You're right! my fault. I thought there was another open issue. Reopening...

Thanks!

[2020-08-03 01:55] liudonghua123 opened #16984 "Error cloning certificates repo, please make sure you have read access to the repository you want to use"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

I have a flutter app which use fastlane to

[2020-08-03 05:43] illl48 commented on #16575
`      upload_to_testflight(
        localized_build_info: {
          'zh-Hant': {
            whats_new: changelog,
          }
        }
      )`
what works for me.

[2020-08-03 06:49] lacostej commented on #16980
Here's the error I see in the logs
[code]

[2020-08-03 13:53] liudonghua123 commented on #16984
@fastlane-bot Hi, robot, I have updated the output of `fastlane env`.

[2020-08-03 14:07] MoOx commented on #16681
Another way to keep fastlane, is to have on your macOS 11 beta installation Xcode 11 & 12 and use both when relevant by doing something like this:

[code]

[2020-08-04 05:00] zhimsheng opened #16988 "What's New in This Version can’t contain the following character(s)"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
I update the fastlane since App Store Conne

[2020-08-04 09:03] jakubgs opened #16989 "[fastlane_core] add codesign partition ID to keychain when importing"
Currently only two partition IDs are included when importing keychain by `match`: `apple-tool:` and `apple:`
https://github.com/fastlane/fastlane/blob/0db46e0b6b7caed49abff200b7e78e119e805ad1/fastlane_core/lib/fastlane_core/keychain_importer.rb#L40-L46
But based on my research the lack of `codesign:` partition ID can still cause issues like:
[code]
or also:
[code]
For more details on this you can

[2020-08-04 11:38] jakubgs commented on #16989
I have been seeing error like this in my builds:
[code]
When running the build via SSH, but it builds fine via UI. The issue is I see no prompt via UI, so I can't fix it with `Always Allow`.

[2020-08-04 14:45] macabeus commented on #16342
@Kaspik I just installed Fastlane now and I'm receiving many warnings, such as:
[code]

Maybe still there are some warnings that need to be fixed?

[2020-08-04 15:25] jakubgs commented on #16989
I'm going INSANE. Apple code signing is literally the worst thing in the world.

I've tried all of the following:

* Re-creating the keychain
* Adding `:codesign` partition to keaychain
* Running build with UI to click `Always allow` but the prompt doesn't show up
* Added XCode to applications allowed to access the keychain
* Made keychain `Allow all applications to access this item`

None of it w

[2020-08-04 15:53] mackankowski opened #16991 "Cannot update languages - could not find an editable version for 'IOS'"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

1. Started with `fastlane deliver init` fo

[2020-08-04 17:32] #16265 closed

[2020-08-04 18:34] kevint727 commented on #16951
Anyone have any insight into this?

[2020-08-04 19:52] nerdyc opened #16992 "Adding new team member via Spaceship fails due to 404 Not Found"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Starting around July 7th, I've been unable

[2020-08-04 19:55] john-mejia commented on #16978
I'm pretty sure the issue here is related to using the old `Tunes` API for log in rather than the new `ConnectAPI`. I'm working through some of these issues myself but it doesn't seem it's fully documented just yet.
If you look at the docs now, you'll see how to log in

[2020-08-05 02:14] #16988 closed

[2020-08-05 07:50] siberian-panda commented on #16944
Same problem with 2.154.0. In my case, `sudo gem update` was too long. So I resolve it with removing fastlane, google-cloud-storage, and google-api-client, then run `gem install fastlane`, and it works.

[2020-08-05 11:19] cguentherTUChemnitz opened #16996 "[pilot] Uploading an IPA to TestFlight or app-store fails under Linux"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
Running fastlane upload_to_testflight using

[2020-08-05 11:58] mackankowski commented on #16991
Potential solution is here: https://github.com/fastlane/fastlane/issues/16663#issuecomment-649595540
Or by following this post: https://github.com/fastlane/fastlane/pull/16626#issuecomment-645964941

Let me double-check if it works.

[2020-08-05 13:15] lorenamelor commented on #16922
I have the same problem. Any solution?

[2020-08-05 13:18] dandre-hound commented on #16922
@lorenamelor I was unknowingly uploading an apk with a build number that had already been published. I just incremented the version code (using [fastlane-plugin-versioning_android](https://github.com/beplus/fastlane-plugin-versioning_android)) and the error went away. Hopefully this helps you!

[2020-08-05 13:42] lorenamelor commented on #16922
Thanks for the answer @dandre-hound , but I didn't understand the problem.
What build number do you refer to? Can you contextualize me a little more, please?

[2020-08-05 13:50] dandre-hound commented on #16922
Sure. By the way I actually meant version code, not build number. Your version code should be defined in app/build.gradle as `versionCode`. Try incrementing this number by 1 and uploading again. I had already uploaded an android apk file (the bundled application) with a version code of 716 when I ran into this error. Once I set the `versionCode` to 717, I was able to upload successfully. I only br

[2020-08-05 14:18] #16836 closed

[2020-08-05 14:21] max-ott commented on #16992
This is probably related to all the changes Apple is doing to App Store Connect with the "new" API. Not sure if @joshdholtz already migrated the `Members` endpoint. 😅

[2020-08-05 14:25] joshdholtz commented on #16992
Hmmmm, doesn't look like I did yet 🤔 I will add that today 🙃

[2020-08-05 14:31] lorenamelor commented on #16922
Yes, I understood, thank you so much! Everything went well now.

[2020-08-05 14:48] iur-kaia commented on #16725
Sorry to revive an old thread. I am running fastlane 2.154.0 on CircleCI and have the same issue with digest-crc 0.6.1.
I have also tried to add Rake as an explicit dependency, it didn't help. Any ideas?

[code]

[2020-08-05 15:18] #16597 closed

[2020-08-05 16:18] nerdyc commented on #16992
🙏 for looking into this so quickly. I'll happily help verify the fix when it's ready.

[2020-08-05 17:09] NicholasIoanJones opened #16997 "Unable to find instrumentation info"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
android.util.AndroidException: INSTRUMENTAT

[2020-08-05 17:31] #16659 closed

[2020-08-05 17:32] #16650 closed

[2020-08-05 17:32] #16638 closed

[2020-08-05 17:32] #16637 closed

[2020-08-05 17:33] MoOx commented on #16740
Duplicate of #16681 ?

[2020-08-05 17:49] rocktavious commented on #15252
I still have a fresh / new apple account with no apps and will test out the latest fastlane sometime this week and report back.

[2020-08-05 18:04] rogerluan commented on #16725
Try `bundle update` (not `bundle update fastlane`) to make sure all gems are updated simultaneously. There's often interdependencies that can't be simultaneously satisfied when updating just fastlane alone, unfortunately.

Let me know how that goes @iur-kaia

[2020-08-05 20:18] #16792 closed

[2020-08-06 03:11] EsaNuurtamo commented on #16956
Ran in to the same problem. This article provides some additional solutions but none of them is good in my opinion:
https://drobinin.com/posts/keep-using-fastlane-with-apples-2fa-changes/

Application level password is not an option for us because we need to send other meta data.

[2020-08-06 06:38] joshuadeguzman opened #17001 "[bug] FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD is invalid even if set correctly"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [X] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [X] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

I followed and read the guide on integrati

[2020-08-06 07:49] joshuadeguzman commented on #17001
I solved it by adding single quote, which is very absurd and hard to debug.

Hope this helps other folks out there:
https://github.community/t/secret-with-special-escape-characters-fails-when-used/17108

[2020-08-06 07:49] #17001 closed

[2020-08-06 09:06] iur-kaia commented on #16725
@rogerluan thank you for your response.

I've tried to do `bundle update` instead of `bundle update fastlane` and it had the same results for dependencies (probably because I have only fastlane in bundle). At this point I am thinking about CircleCI image issues.

If that helps I am running it on this (Xcode12 beta 3) image https://circle-macos-docs.s3.amazonaws.com/image-manifest/v3358/index.html

[2020-08-06 11:29] alex-benoit commented on #16956
very interesting article - thanks for sharing

[2020-08-06 11:54] Tobrek opened #17003 "can't match appstore provisioning profile from match import"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
An AppStore MobileProvision profile, import

[2020-08-06 13:29] joshdholtz commented on #16725
It looks like this may be a CircleCI issue with that image with development tools not being installed 🤔

[code]

[2020-08-06 13:37] joshdholtz commented on #16342
Hey all! I'll be getting back to this now 😊 My focus had to get changed to adapting the new App Store Connect API but that is all good now 🤞 Hopefully should have fixes/improvements for Ruby 2.7 soon!

[2020-08-06 13:42] joshdholtz commented on #16911
@oleksiisedun It sounds like this permission behavior you are experiencing is the expected behavior 🤷‍♂️

[2020-08-06 13:43] joshdholtz commented on #16918
@camilape Did this end up working for you? 😊

[2020-08-06 13:50] oleksiisedun commented on #16911
@joshdholtz, please can you explain a bit further? An account that I use allows me to change metadata manually. I tried to update metadata using the deliver tool (using the same account), but it failed.

[2020-08-06 13:57] joshdholtz commented on #16797
This should be fixed in one of the recent versions 😊

[2020-08-06 13:57] #16797 closed

[2020-08-06 15:45] joshdholtz commented on #16911
@oleksiisedun It seems like "Developer" and "Marketing" don't have the ability to update the "Release Type" (manual, automatic, automatic on date). **But** those roles should have the ability to update other meta information. **But but** you might not be seeing that because its failing on "Release Type".

Maybe I should add a check for account permission roles or something there? 🤔 And maybe only

[2020-08-06 15:47] joshdholtz commented on #16799
@rogerluan Oops! I missed this response 😱 We should probably change `Any` to `Any?` but maybe @minuscorp might have a better thought? 😇

[2020-08-06 15:47] JorisDuboisDPG commented on #17003
We are facing the exact same issue at this moment. Thanks for creating this report.

[2020-08-06 15:58] oleksiisedun commented on #16911
@joshdholtz, thank you for the provided info, now the problem is clear for me.

I think it's a good idea. Also maybe you can add something like the `skip_set_release_type` parameter. It will be very useful for users with restricted permissions like me.

[2020-08-06 16:04] rogerluan commented on #16799
@joshdholtz no worries! I think that omitting the key that would have a `nil` value would work (I haven't tested doing that in my Swift config), and essentially it's the same behavior as `[String:Any?]`, but requires no changes in the fastlane 😇 What do you think?

[2020-08-06 16:04] rogerluan commented on #16799
I can test this on my next release btw, just to make sure

[2020-08-06 16:07] rogerluan commented on #16799
Or I could actually use the right `export_compliance_app_type` value, the problem is that idk what to put there, cuz idk the possible values (there's no documentation for this) 🙈
I think this falls into the "split `submission_information` into separate fields" task hehe

[2020-08-06 16:18] minuscorp commented on #16799
If you want to try to put `nil` change the type to [String: Any?] directly, idk if that works when being parsed to Ruby though

[2020-08-06 17:07] iur-kaia commented on #16725
@joshdholtz yeah, looks like that. I've posted this on CircleCI forums, maybe someone there can help.

[2020-08-06 17:08] joshdholtz commented on #16911
Yeah yeah, I like that! I will get on this 😊

[2020-08-06 17:12] joshdholtz commented on #16799
@minuscorp What is the different between `Any?` and `AnyObject?`? 😇

@rogerluan I completely agree with the split submission information part. I do really want to focus on a rework here 🙃 Maybe we close this since things will get reworked in #16854?

[2020-08-06 17:26] minuscorp commented on #16799
Gotta be `Any`, `AnyObject` is a metatype protocol which all classes conform to, so Int, Double, String, are structs cannot be `AnyObject` my bad, my brain is dead today.

[2020-08-06 17:44] rogerluan commented on #16854
Should we kick off a discussion on this? :) How do you see this working? A separate argument for each of `submission_information`'s current keys, or maybe group some related keys into separate Dictionary/Hash fields?
For example, we have `export_compliance*` keys, `content_rights*`, `add_id*` (ad tracking related info), and maybe more. @joshdholtz

[2020-08-06 17:45] rogerluan commented on #16799
Sure, I'll test that case too @minuscorp !
@joshdholtz I'd be in favour of that, maybe we'd be wasting time here. I just wanna test those cases to make sure we understand what's the current state of things 👍

[2020-08-06 17:55] joshdholtz commented on #16854
I think we separate it into 3 options like this 👇 We can then do validation of the individual hashes and document them better.

[code]

[2020-08-06 18:14] rogerluan commented on #16854
Is there a list somewhere of all the possible keys and values for `submission_information` as of right now?

Do you know if this is a growing list of parameters? How has it changed in the past months/years?

[2020-08-06 19:39] Sega-Zero opened #17008 "[regression] Match crashes with [!] undefined method `id'"
### New Regression Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Regression Information

- Breaking version: 2.155.0
- La

[2020-08-06 19:41] joshdholtz commented on #17008
@Sega-Zero On it!

[2020-08-06 19:43] JimHowell20 commented on #16429
I noticed that using the "modify_services" action to enable data protection "complete" for an existing app in the dev center does not work.  Is this issue possibly related to "modify_services" not working for data protection?

[2020-08-06 19:48] joshdholtz commented on #17008
@Sega-Zero Found the error! Writing tests for this and then will get a new version made 💪

[2020-08-06 20:24] joshdholtz commented on #17008
@Sega-Zero Fix is here ☝️ Will start release process once tests pass

[2020-08-06 20:54] #17008 closed

[2020-08-07 03:04] AndriiTsok opened #17013 "Fastlane Match issue: A relationship in the provided entity is not allowed for this request"
We are experiencing an issue with Match for appstore.

An error occurred while verifying your certificates and profiles with the Apple Developer Portal.
If you already have your certificates stored in git, you can run `fastlane match` in readonly mode
to just install the certificates and profiles without accessing the Dev Portal.
To do so, just pass `readonly: true` to your match call.

bundler: f

[2020-08-07 05:08] wisdeom commented on #16700
Hi fastlane team, we're using 2.152.0, but this issue still persists.

fastlane-2.152.0/****-> :in `handle_response': \e[31m[!] The request cannot be fulfilled because of the state of another resource. - Submit for review errors found. (***::UnexpectedResponse)
The provided entity is missing a required attribute - You must provide a value for the attribute 'whatsNew' with this request\e[0m

[2020-08-07 05:58] crystalneth opened #17014 "update_app_identifier does not update project file unless Info.plist has identifier set to env var"
### Issue Description
update_app_identifier updates only Info.plist and not project file if Info.plist CFBundleIdentifier is set to interpolate from the environment, otherwise it updates only the project file.

Expected behavior seems to be to update both always, or at least to always update the project file. If nothing else this behavior should be documented.

Perhaps this was meant to skip updat

[2020-08-07 06:05] crystalneth commented on #17014
I've added that

[2020-08-07 06:08] crystalneth commented on #17014
https://github.com/fastlane/fastlane/issues/15584 and https://github.com/fastlane/fastlane/issues/15500 look the same, but they didn't get addressed.

[2020-08-07 06:48] oonoo commented on #16978
@john-mejia I cannot really follow. I think some part of the Tunes Models no longer work. Maybe you mean the same.

When I run use Charles to see what request this is doing I get this:
curl -H 'User-Agent: Spaceship 2.154.0' -H 'Content-Type: application/json' -H 'Cookie: acn01=********; [REMOVED_SOME_CONTENT]' -H 'Accept: */*' -H 'Host: appstoreconnect.apple.com' --data-binary "ENDLESS_LONG_JSON"

[2020-08-07 07:10] lin333 opened #17015 "archive succeeded but cannot continue????"
### New Issue Checklist

- [✅] Updated fastlane to the latest version
- [✅ ] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [✅ ] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [✅ ] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

▸ Archive Succeeded
[14:46:45]: Exit st

[2020-08-07 07:17] bduyng commented on #17013
@AndriiTsok I got the same problem and have to create the profile manually and just need to push it on match repo

[2020-08-07 07:59] k-thorat commented on #17013
I am getting this as well.

Xcode 12 b4 and Fastlane 2.155.1

 "errors" : [ {
    "id" : "f61f4135-6a2d-400e-bf68-0772d1ec094d",
    "status" : "409",
    "code" : "ENTITY_ERROR.RELATIONSHIP.NOT_ALLOWED",
    "title" : "A relationship in the provided entity is not allowed for this request",
    "detail" : "No devices can be associated to Provisioning Profiles for the App Store."
  } ]

[2020-08-07 08:08] jasperkuperus commented on #17013
I've got the exact same issue. Just want to add that it works like a charm for `development` and only fails for `appstore`.

Another follow-up issue here: When Fastlane attempts to search for similar issues here on Github, that fails also:

[code]

Maybe the Github search should be reported as a separate issue. Do let me know if that's the case.

[2020-08-07 08:10] alouanemed commented on #16442
@fastlane-bot Still not yet resolved.

[2020-08-07 08:27] iur-kaia commented on #16725
@rogerluan @joshdholtz thank you again for your input.
The issue was as you've guessed with CircleCI image of Xcode 12 beta. For some reason the native Ruby on that image produces this problem.
If you change the ruby version to 2.7 on that image you don't have this issue.
For reference: https://discuss.circleci.com/t/xcode-12-beta-4-released/36956/8

[2020-08-07 08:35] JorisDuboisDPG commented on #17003
As a workaround, you can manually commit the following change:
rename `/profiles/distribution/Distribution_com.company` to `/profiles/appstore/AppStore_com.company`

[2020-08-07 08:35] ir-fuel commented on #17013
+1 Exactly the same issue here

[code]

[2020-08-07 08:38] ir-fuel commented on #17013
This is with Xcode 11 btw. It's not related to the beta.

[2020-08-07 08:45] #17015 closed

[2020-08-07 08:46] lin333 commented on #17015
fix

[2020-08-07 09:49] nordfogel commented on #17013
`sync_code_signing` from within our fastfile works like a charm with fastlane **2.153.0** but for **2.155.1** we constantly run into issues for our enterprise account, creating some in-house certificates:
[code]

[Xcode 11.6]

[2020-08-07 10:09] simphiwehlabisa commented on #16127
run
gem uninstall fastlane
then
gem install fastlane

worked on me

[2020-08-07 10:30] jasperkuperus commented on #17013
Ah. Indeed, I upgraded this morning to *2.155.1*. So, upgrading to *2.154.0* did the trick for me:

[code]

[2020-08-07 10:41] bepicgco commented on #17013
I have the or a simmilar issue I think.
Downgrading did not work for me.

[12:40:48]: fastlane finished with errors

Looking for related GitHub issues on fastlane/fastlane...

Traceback (most recent call last):
	34: from /usr/local/bin/fastlane:23:in `<main>'
	33: from /usr/local/bin/fastlane:23:in `load'
	32: from /Library/Ruby/Gems/2.6.0/gems/fastlane-2.155.1/bin/fastlane:23:in `<top (required)>

[2020-08-07 10:42] jasperkuperus commented on #17013
I guess your downgrade didn't go as planned. You're still using `2.155.1`.

[2020-08-07 11:02] joshdholtz commented on #17013
Just woke up and looking into right away!

[2020-08-07 11:19] bepicgco commented on #17013
Thank you for noticing that. After getting the downgrade to work, my build does work again indeed!
I will update my report to reflect that.

[2020-08-07 11:22] joshdholtz commented on #17013
Found the issue! My apologies 😔 I should have a release out in an hour or so

[2020-08-07 11:29] ir-fuel opened #17017 "Provisioning profile extra parameters not taken into account"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [X] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [X] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

This is a pretty specific issue, but it is

[2020-08-07 11:38] jasperkuperus commented on #17013
Thanks a lot for the fast response!

[2020-08-07 11:45] joshdholtz commented on #17013
Sorry for injecting the issue 😇

[2020-08-07 12:02] ir-fuel opened #17019 "Can't manually upload distribution certificate "contents did not match with any available on the Developer Portal""
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

I tried to manually import my certificates

[2020-08-07 12:06] #17013 closed

[2020-08-07 12:08] joshdholtz commented on #17013
Making release now! Release will be out in about 25 minutes

[2020-08-07 12:36] joshdholtz commented on #17013
This is released in `2.155.2` 💪 Sorry again! ❤️

[2020-08-07 12:39] joshdholtz commented on #17017
@ir-fuel Hey 👋 I had no idea this was a thing 😊 I will look into this and see what I can do right away!

How do I get this entitlements dropdown to show? I'm not seeing this on my developer portal at all 🤔

[2020-08-07 12:41] ir-fuel commented on #17017
This is where it gets fun. You can't. It's only shown for accounts that have Apple's authorization for using the Exposure Notification API.

That's why I wanted to manually upload the certificates / profiles, but that lead me to another bug (see other github issue opened by me).

[2020-08-07 12:47] joshdholtz commented on #17017
@ir-fuel Gaaaahhhh 😱 I think the only way for me to figure out how to add that would be to get access to a team that has that authorization 😬 I'm not sure if you are able or willing to add me to your team temporarily but that is one option 😇

And yup yup, saw #17019 already 😊 I will be looking into that later today!

[2020-08-07 12:52] ir-fuel commented on #17017
Can I contact you privately somehow?

[2020-08-07 12:53] joshdholtz commented on #17017
Yes yes! me@joshholtz.com would be best 😊

[2020-08-07 13:15] IgorPanchenko-azur commented on #16127
I have same issue on 2.149.1.

[2020-08-07 13:18] Diego-F-Aguirre commented on #16442
Same here, still seeing this issue.

[2020-08-07 15:15] ojizero commented on #16661
@Landschaft quickly looking at the code this seems to only happen when logging is set to verbose, where it will log the command it is executing before doing so, is this the only case you're facing this issue or is it also happening when logging is set to non verbose?

Related [source file](https://github.com/fastlane/fastlane/blob/master/fastlane_core/lib/fastlane_core/keychain_importer.rb#L51), a

[2020-08-07 17:35] goetzc commented on #16736
No, bot, not resolved.

[2020-08-07 18:04] Vyazovoy commented on #17013
@joshdholtz , when will it be available in [RubyGems](https://rubygems.org/gems/fastlane)?

[2020-08-07 18:05] joshdholtz commented on #17013
@Vyazovoy Woah! It should have been up there 😱 Looking into it! I pressed the button

[2020-08-07 18:06] joshdholtz commented on #17013
Sorry about that! Try now 😊

[2020-08-07 18:11] Vyazovoy commented on #17013
Now it works. Thank you, Josh!

[2020-08-07 18:18] joshdholtz commented on #17013
Np! Sorry again. Not sure why that didn't go through 🤷‍♂️ Also, there will be a 2.155.3 coming later this evening with one more small fix 😉

[2020-08-07 18:23] ir-fuel commented on #17017
It works now.
Thanks a lot!

[2020-08-07 18:33] #17017 closed

[2020-08-07 19:57] rogerluan commented on #16442
Is everyone running the latest version of Fastlane? Just for the record, I was seeing this issue before, but it fixed itself since this message of mine in May https://github.com/fastlane/fastlane/issues/16442#issuecomment-631868006

Maybe if you guys share more about your environments, we can provide better help? @Diego-F-Aguirre , @alouanemed

[2020-08-07 20:25] coloradoe commented on #16627
Has this been resolved? We have experienced this in 2 production deployments now.

`[07:14:08]: Unexpected Error
+------+-----------------------------------------------------+-------------+
|                             fastlane summary                             |
+------+-----------------------------------------------------+-------------+
| Step | Action

[2020-08-08 19:48] jeffd commented on #16095
@paxos method worked for me as well. I had to delete it from my keychain between building and notarizing.

1) First enter your Apple ID password and 2FA when prompted if needed. This will get you through checking the certificates and building.
2) Open Keychain Access (Applications > Utilities) and search for 'deliver' which will be of 'Kind' `Internet Password` and have the format of `deliver.YOUR

[2020-08-09 02:58] camilape commented on #16918
@joshdholtz yes it worked, basically I was missing some additional submission_information, and you were right the screenshots were jpeg instead of png 🤦🏽‍♀️ It seems that Apple has more review policies now. Thank you so much for your help!

[2020-08-09 13:24] c9n commented on #16164
Visit `Google Play Console`, choose `Developer account` > `Users & permissions`.

Check `Users with access`  on the right side，your service account should be in the list.

If it shows in the `Pending invitations` group, you should create a new `Service account` with owner role.

[2020-08-09 17:32] #16545 closed

[2020-08-09 17:32] #16295 closed

[2020-08-09 17:41] minuscorp commented on #15184
This will be fixed using SPM probably in #16844.

[2020-08-09 18:06] strongbox-mark commented on #16502
Hi, this is still and issue as of 2.155.1 - Thanks!

[2020-08-09 21:34] ir-fuel opened #17027 "2 step verification session times out too fast"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [X] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [X] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

the token I copy-pasted as described here:

[2020-08-09 23:17] rogerluan commented on #17027
See this article https://drobinin.com/posts/keep-using-fastlane-with-apples-2fa-changes/
The author says the session lasts 6-8 hours, but that may be further decreased in certain scenarios. The session expiration is out of _fastlane's_ control.

If you read the whole article, you'll see that currently there's no good way to solve 2FA issues. Maybe you'll find a more suitable way to solve the 2FA i

[2020-08-10 06:19] ir-fuel commented on #17027
Got it!

[2020-08-10 06:19] #17027 closed

[2020-08-10 07:56] jakubgs commented on #15185
You are testing my patience bot.

[2020-08-10 10:10] janpio commented on #15185
I am pretty sure the Bot will win.

[2020-08-10 10:16] Landschaft commented on #16661
@ojizero thank you for having a look at this issue.

You're right, setting `verbose: false` prevents the password from being output. This solves my issue.

I was mislead by the the `INFO` in the output

    [⠋] Setting key partition list... (this can take a minute if there are a lot of keys installed) INFO [2020-08-10 11:55:58.21]: $ security set-key-partition-list -S apple-tool:,apple: -s -k <...

[2020-08-10 10:16] #16661 closed

[2020-08-10 10:41] On1Key opened #17029 "fastlane swift runner error"
#<Thread:0x00007f9448bf4300@/Library/Ruby/Gems/2.6.0/gems/fastlane-2.155.3/fastlane/lib/fastlane/swift_lane_manager.rb:220 run> terminated with exception (report_on_exception is true):
Traceback (most recent call last):
	9: from /Library/Ruby/Gems/2.6.0/gems/fastlane-2.155.3/fastlane/lib/fastlane/swift_lane_manager.rb:223:in `block in start_socket_thread'
	8: from /Library/Ruby/Gems/2.6.0/gems/fas

[2020-08-10 10:56] bdolewski opened #17030 "Changelog.txt is not used while sending build to TestFlight"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
I'm using command `upload_to_testflight` an

[2020-08-10 11:33] hassan-shahbazi opened #17031 "'symbol(s) not found for architecture armv7' when trying to archive using Xcode 12"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
The following occurs when trying to upload

[2020-08-10 12:59] jakubgs commented on #15185
We'll see about that.

[2020-08-10 15:01] ojizero commented on #15717
@pradyhk I think you can close this issue since your PR is merged correct?

[2020-08-10 16:10] #15788 closed

[2020-08-10 16:32] webmasterdragon commented on #16883
Same issue is here. I have Team Admin role, but can't create `developer_id` cert.

[2020-08-10 16:42] webmasterdragon commented on #15963
Same issue here. How can we export signed package?
Above work around is only working `skip_package_pkg: true`, but I need .pkg output.

[2020-08-10 17:01] reishka commented on #16975
Echoing this issue. We've tried using both `ipadPro129` and `iPad Pro (12.9-inch) (3rd generation)` filenames, per fastlane docs, but screenshots still get uploaded to iPadPro 2nd gen slots.

[2020-08-10 17:31] #16724 closed

[2020-08-10 17:31] #16717 closed

[2020-08-10 17:32] #16707 closed

[2020-08-10 17:32] #16701 closed

[2020-08-11 04:23] On1Key commented on #17029
<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                         | Value                                                          |
| --------------------------- | -------------------------------------------------------------- |
| OS                          | 10.15.4                                                        |
| Ruby                        | 2.6.3

[2020-08-11 04:24] immortalx commented on #15252
Got the same error right now on an empty account:
"It looks like something went wrong when we tried to create your app on the Apple Developer Portal"

The bundle/app_identifier was created fine in App Store Connect.
The app is not created in App Developer Portal.

I had to manually create the app in the portal to complete fastlane init

[2020-08-11 13:26] KoCMoHaBTa opened #17036 "sign download_xcode_profiles does not work"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
We are using automatic code signing for our

[2020-08-11 15:04] raldred commented on #15959
Your need to use leading zeros.
01,...09,10,11 etc

[2020-08-11 15:12] EmDee commented on #15959
I know what the workaround is, but the main problem is that the sorting is done lexicographically instead of numerically.

As it seems screenshot names always start of with numbers, sorting lexicographically is nonsensical.

[2020-08-11 17:00] alex-benoit commented on #17027
It seems that the token is invalidated if you login with another browser with the same user. Try with a dedicated CI appstore connect email.

[2020-08-11 17:33] #16748 closed

[2020-08-11 17:33] #16747 closed

[2020-08-11 17:33] #16746 closed

[2020-08-11 17:33] #16744 closed

[2020-08-11 17:33] #16738 closed

[2020-08-11 17:33] #16649 closed

[2020-08-11 18:28] fatihyildizhan opened #17039 "Snapshot is not saving Screenshots."
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
Snapshot is running without an error but sc

[2020-08-11 23:02] ppamorim opened #17041 "Deliver: A relationship value is not acceptable for the current resource state. - The specified pre-release build could not be added"
### New Regression Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Regression Information

- Breaking version: 2.156.0
- La

[2020-08-12 03:09] AustinFuller commented on #16780
Bumping to keep open. I'm not certain I'm sharp enough to implement (especially in Ruby), but I think this would be really cool.

[2020-08-12 08:11] b3hni4 opened #17043 "Not being able to match imported profile name with existing wildcard provisioning profile"
### New Issue Checklist

- [ x ] Updated fastlane to the latest version
- [ x ] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [ x ] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [ x ] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
We have a wildcard bundle id like c

[2020-08-12 08:45] dotdoom opened #17046 "Fastlane Pilot Distribute Clears TestFlight Data"
### New Regression Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Regression Description

`upload_to_testflight` used to n

[2020-08-12 09:28] ppamorim commented on #16881
@randyvarela5 `ITSAppUsesNonExemptEncryption` set to  `NO` is not working for me.

[2020-08-12 12:26] pyrtsa opened #17047 "upload_to_app_store failing when uploading no screenshots"
### New Regression Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Regression Information

- Breaking version: [e.g. `2.156

[2020-08-12 12:49] randyvarela5 commented on #16881
@ppamorim whats the error youre getting?

[2020-08-12 13:11] assembleMHN opened #17048 "[!] undefined method `any?' for nil:NilClass (NoMethodError)"
Since the Apple API update i have not been able to upload screenshots. Nothing changed in my fastfile but i keep getting this error. Im not sure how to fix this:

/usr/local/lib/ruby/gems/2.4.0/gems/fastlane-2.156.0/deliver/lib/deliver/upload_screenshots.rb:138:in `block in upload_screenshots': [!] undefined method `any?' for nil:NilClass (NoMethodError)
	from /usr/local/lib/ruby/gems/2.4.0/gems/f

[2020-08-12 14:33] beloso commented on #17048
I am experiencing the same issue. Let me know if you figure it out

[2020-08-12 14:54] ainame commented on #17047
Hi, I'm the one who made the changes. Thank you for this feedback.
Looking at the current code, as you pointed, it's going to fail if you don't have screenshots locally. It's checking whether the number of screenshots to be uploaded matches the number of screenshots correctly uploaded on App Store Connect. Meaning, that comparison will never succeed in your environment.

As you already figured out

[2020-08-12 15:13] kuhnroyal commented on #17047
This is also failing for me when I have no existing screenshots in AppStoreConnect but try to add new ones, something was nil, sadly lost the stacktrace.
Reverting back to 2.155.3 works temporarily.

[2020-08-12 15:14] ainame commented on #17047
I got a fix. I'm going to submit a PR for this.

[2020-08-12 15:34] pke commented on #16129
I can report this is still a problem.
The changelog is not submitted, neither through the testflight action nor CLI pilot with `--changelog`.
This is with the previous and current fastlane version.
So it might be a change on Apples side.

[2020-08-12 15:34] ainame commented on #17047
🙇 https://github.com/fastlane/fastlane/pull/17051

[2020-08-12 16:16] YannDanthu commented on #16129
I think I manage to make it work by setting the context value before calling `upload_to_testflight`

[code]

[2020-08-12 16:29] MarcoSantarossa commented on #16627
I still have this issue. Same output. I see fastlane is creating a new version in the AppStoreConnect but then it fails. @joshdholtz do you have some updates on this ?

[2020-08-12 16:48] JasonConeHM commented on #16991
For the record, we're also experiencing the same behavior on the save version even with an explicit app version being specified. For us, a follow-up attempt resulted in success without the need for manual intervention.

[2020-08-12 17:20] JimHowell20 commented on #17048
I'm also getting the same issue.

[2020-08-12 17:23] fiammaPantano commented on #17048
I'm also getting the same issue.

[2020-08-12 17:26] pyrtsa commented on #17047
Thank you! Will test it soon.

[2020-08-12 17:31] #16757 closed

[2020-08-12 17:31] #16651 closed

[2020-08-12 22:27] skay97 commented on #17048
I'm having the same issue. I'd like to use the lane I created in my `Fastfile` to upload my screenshots, but am getting the same error. As an alternative, I am having to run `fastlane deliver` to upload my screenshots.

[2020-08-12 22:59] skay97 commented on #17048
This was my lane:
[code]
I was able to get past the error by **removing** the `force: true` param.

[2020-08-13 00:03] pke commented on #16129
@YannDanthu this approach does not work either on my side.

[2020-08-13 05:29] wisdeom commented on #16700
Hi fastlane team, we got several customers reporting the issue. Any updates you could share with us?

[2020-08-13 06:19] tmm1 commented on #17041
I also see this with 2.155.1

[2020-08-13 09:26] max-ott commented on #17031
We currently can't provide support for beta versions of macOS. Once there's a stable version, please re-open the issue if it persists.

[2020-08-13 09:26] #17031 closed

[2020-08-13 11:29] myanime commented on #17048
I think the issue is when you create a new app that doesnt have screenshots. It seems to work if you modify line 138 of `deliver/lib/deliver/upload_screenshots.rb` to `duplicate = app_screenshot_set.app_screenshots ? app_screenshot_set.app_screenshots.any? { |s| s.source_file_checksum == checksum } : nil`

[2020-08-13 12:09] ppamorim commented on #16881
@randyvarela5 I can't replicate because I fixed the apps manually but it's the same error:

[code]

To replicate the issue you need:

 - Have your apps without any exempt encryption configuration set (also no flag added in the info pList)

[2020-08-13 13:16] skay97 commented on #17048
@assembleMHN you mentioned an apple API update. How and where were you able to find out that they updated their API?

[2020-08-13 13:55] ssathishppm commented on #16164
@c9n Thanks for the reply . I have created service account json file and the file is also there in the list with release manager role. I can find the roles are (Administrator, Releaese manager, product lead, finance, customer service and read only). Owner role is not there in the list.
![1](https://user-images.githubusercontent.com/16017816/90142965-a61f6980-dd9a-11ea-9b88-85edcce7215a.png)

[2020-08-13 14:04] c9n commented on #16164
@ssathishppm

I mean that you should choose the `owner` role when creating a `service account`.

<img width="686" alt="Screen Shot 1" src="https://user-images.githubusercontent.com/6159817/90143726-885cff00-ddb0-11ea-9d60-26dae12e642c.png">

[2020-08-13 15:23] JimHowell20 commented on #16991
I'm getting the same issue here. I confirmed that the error is intermittent, but it's causing about 50% of all of my builds to occasionally fail on this step, so it's really slowing down our build process.  Does anyone have a fix for this?

[2020-08-13 15:26] jarrodparkes commented on #16991
confirmed. having same issue with `v2.152.0`

[2020-08-13 17:51] assembleMHN commented on #17048
Hi from the fact that Fastlane broke when Apple updated the app store connect APIS and from the countless stories that was posted on Fastlanes github page, this beeing one of them: https://github.com/fastlane/fastlane/pull/16626

[2020-08-13 17:52] tmm1 commented on #17041
In my case the build was already submitted. Removing from review and running deliver again worked.

[2020-08-13 19:04] fatihyildizhan commented on #17039
@joshdholtz Hi Josh, Do you have any suggestion for this issue?

[2020-08-13 19:06] joshdholtz commented on #17039
@fatihyildizhan I will try to look into this afternoon to see if I can replicate 💪

[2020-08-13 19:59] k001 commented on #17048
From my side, I just updated to `2.156.1` solved my issue

[2020-08-13 20:21] kaydenthomson commented on #17047
Hi!

We are using Fastlane 2.156.1 and seeing a similar issue.

skip_screenshots is set to false

Screenshots attempting to upload have not changed from current screenshots on App Store Connect.

[2020-08-13 20:31] SConaway opened #17055 "get_certificates fails with Could not receive latest API key from App Store Connect, this might be a server issue."
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

The `get_certificates` step of my build fa

[2020-08-13 21:38] randyvarela5 commented on #16881
@ppamorim what im doing to test is just incrementing the build number and running my app submission job, then when it fails, test changes out with `fastlane deliver` then just cancel the review if it submits successfully.

I also noticed that you have `submission_info = ` where I have `submission_information` maybe try that next time.

[2020-08-14 08:28] l1ghthouse commented on #16330
The issue still exists with the current fastlane version 2.156.1

[2020-08-14 09:05] nirre7 commented on #16991
Having the same issue with 2.156.1.

[2020-08-14 09:25] nirre7 commented on #17047
We are having the same issue here, no new screenshots when running upload_to_app_store.
We haven't set the skip_screenshots flag.
On 2.156.1.

[2020-08-14 09:27] ha1f commented on #16991
I had the same issue with 2.155.3.

I failed to deliver for the first time, but by running the CI workflow again, deliver succeeded.

[2020-08-14 10:10] iollllllloi opened #17056 "java call fastlane error"
[code]

error:

Found no similar issues. To create a new issue, please visit:
https://github.com/fastlane/fastlane/issues/new
Run `fastlane env` to append the fastlane environment to your issue

[2020-08-14 10:23] pke commented on #16129
It seems now I have gotten a changelog to show up in testflight! I'll investigate further.

[2020-08-14 12:30] iollllllloi commented on #17056
<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                         | Value                                                          |
| --------------------------- | -------------------------------------------------------------- |
| OS                          | 10.15.6                                                        |
| Ruby                        | 2.6.3

[2020-08-14 12:30] #17056 closed

[2020-08-14 14:20] ainame commented on #17047
@kaydenthomson

I think your case is not the same as what this issue reported.

From this error message, I can tell you have 5 screenshots that are error state or so on App Store Connect and `deliver` couldn't finish without those errors within 5 retries. You could check if there were errors from the link "View All Sizes in Media Manager" on App Store Connect.

(I suppose we should show what kind

[2020-08-14 18:01] zachawilson commented on #16762
It appears that the dependencies were updated in apktools as requested in this commit: https://github.com/devunwired/apktools/commit/ad53af91ec625d66f5b353c7c18d8034df33bc2e

Included in https://github.com/devunwired/apktools/releases/tag/0.7.4

[2020-08-14 21:33] kaydenthomson commented on #17047
@ainame
Thank you for pointing that out! After checking App Store Connect and attempting a manual reupload of the same images on App Store Connect, we noticed an error with the alpha on the image.

Re-exporting the images without an alpha channel solved that issue.

Yes, I think logging the kind of error would have helped us identify the problem more quickly.

With the new/fixed images we tried Fa

[2020-08-14 21:47] ainame commented on #17047
@kaydenthomson

It's nice that you could solve that part!

I can't help further without more information but I'm _assuming_ it may be the case where you manually uploaded some screenshots in the past but you never put it under fastlane's control. So that the new verification process could fail... It is out of sync.

If that's the case, setting `true` to `overwrite_screenshot` might resolve your is

[2020-08-15 13:43] ssathishppm commented on #16164
@c9n I have created Owner role service account json file in Google developer console like above and then grant access to Release manager role in google play console. But again i am facing the same issue. My question is I can able to upload my apps in my developer account using this json file, Facing this issue when I try to upload the invited customer account apps.

[2020-08-15 17:32] #16424 closed

[2020-08-15 17:33] #15476 closed

[2020-08-15 17:49] StefaniOSApps commented on #15476
still exists

[2020-08-16 15:42] ainame commented on #17047
I managed to make improvements that cover both showing error details and not relying on numbers to support various use cases. I'll be submitting a PR shortly.

https://github.com/ainame/fastlane/compare/master...log-error-detail

[2020-08-16 17:32] #16246 closed

[2020-08-17 08:07] ir-fuel commented on #17027
@alex-benoit I tried this, but it still invalidates after a couple of days.

[2020-08-17 09:10] ppamorim commented on #16991
I am having the same issue in 2.156.1.

[2020-08-17 09:15] ppamorim commented on #16663
@koxon Now it's not working even with `app_version`.

[2020-08-17 09:17] ppamorim commented on #16991
@mackankowski None of the solutions sorted the problem.

[2020-08-17 09:29] ppamorim commented on #16991
@joshdholtz Hi, is this issue on track to be fixed?

[2020-08-17 17:18] ir-fuel opened #17062 "App-specific password not working for testflight uploads in CircleCI"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [X] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [X] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Since 2FA sessions expire too quickly and

[2020-08-17 17:32] #16817 closed

[2020-08-17 17:32] #15967 closed

[2020-08-17 17:34] kohenkatz commented on #16603
related #15779

I will try to get a PR in for this at some point

[2020-08-17 20:50] aminosman commented on #16295
Also facing this issue with Github action

[2020-08-17 21:03] mackankowski commented on #16991
Did you try to add following property to `delivery` action:

`app_version: lane_context[SharedValues::LATEST_VERSION]`

I think this is what has solved my issue but let me re-check and go back to the topic - I’m not sure now if no app code changes was provided too...

[2020-08-18 08:12] feef commented on #16951
I had the same issue. I was initializing deliver for use with one of several already-live apps in my team. In this scenario, I think deliver isn't properly requesting the app identifier. I managed to get around it by specifying the app identifier during initialization:

`fastlane deliver init --app_identifier <BUNDLE_ID>`

[2020-08-18 10:22] kazuhidet commented on #16944
The same problem occurred with the upgrade from 2.152.0 to 2.156.1, but I solved it by executing sudo gem update according to @dim4ikhot 's advice.

[2020-08-18 12:40] liamnichols commented on #16704
So before I realised that my _real_ issue was because I had `readonly` set to `true` in an environment variable, I dug into this and discovered another interesting goctha:

I'm not sure how, but in some scenario the profile on App Store Connect had been modified manually since `match` had generated it. As a result, it had a different created_at date and more importantly it had a different `uuid`.

[2020-08-18 15:32] Incorporalis opened #17066 "NoMethodError: [!] undefined method `status' for nil:NilClass"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
While upload to AppStore with created .ipa

[2020-08-18 20:43] Batuhan-Akkaya commented on #17013
How can i fix this error? I ran this command **sudo gem install fastlane** but still same problem
[code]

[2020-08-18 20:48] aminosman opened #17069 "Fastlane Pilot fails after successfully uploaded and submission due to missing password"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Pilot fails on Github Action due to missin

[2020-08-18 23:34] mendesbarreto opened #17070 "Problem to change the 'dsym_path' on upload_symbols_to_crashlytics"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [X] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [X] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Some times I want to upload more than one

[2020-08-19 00:06] dasoga commented on #17062
@ir-fuel I'm facing same issue.
My solution (for now) is creating a `fastlane spaceauth -u myuser@platform.org` session, paste it (wrapped with `' '`) in travis-ci.com (`FASTLANE_SESSION`) env var.

I'm just using `upload_to_testflight` command
Documentation:
`Note: The application specific password will not work if your action usage does anything else than uploading the binary, e.g. updating any

[2020-08-19 05:43] jbachand opened #17071 "set_changelog failing to update and ends in error: handle_response': [!] undefined method `status' for nil:NilClass"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
Updating changelog is failing to post. User

[2020-08-19 06:40] ir-fuel commented on #17062
The solution is here:

https://docs.fastlane.tools/actions/upload_to_testflight/#use-an-application-specific-password-to-upload

[2020-08-19 09:21] AlexHooperDev opened #17072 "'Your developer account needs to be updated. Please visit Apple Developer Registration.' when trying to create certificates with match"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

When attempting to create new certificates

[2020-08-19 09:24] AlexHooperDev commented on #17072
business critical data is being shown here which I am not allowed to display under my current NDA. I don't think the env log will help here as it's specifically an Apple Dev account issue.

[2020-08-19 10:28] #17072 closed

[2020-08-19 11:00] trybekd commented on #17066
Same issue here, but during upload_to_testflight

[2020-08-19 14:11] miraclebg commented on #17066
Same issue here, executed:

`
deliver(
      submit_for_review: false,
      automatic_release: false,
      force: true,
      metadata_path: "./metadata"
    )
`

Result:

`
[17:08:02]: Making sure the latest version on App Store Connect matches '1.0.0'...
[17:09:19]: An error occurred while executing the `error` block:
[17:09:19]: undefined method `error_info' for #<NoMethodError: undefined met

[2020-08-19 15:14] Batistleman commented on #16620
Have you found a solution for this?

[2020-08-19 16:15] fizzle0196 commented on #16991
I am having the same issue on 2.156.1

I tried adding the following to the `deliver` action but both failed:
- `app_version: lane_context[SharedValues::LATEST_VERSION]`
- `app_version: get_version_number(target: target)`

Neither of the above worked for me. However, whenever I get this error, a rerun usually fixes the error. This happens on about 30% of our builds.

[2020-08-19 16:51] pritamsalunkhe4 opened #17074 "error: exportArchive: No signing certificate "Mac Development" found"
Hello,

I am trying to implement Fastlane for internal app distribution for the iOS app. I have followed the document for the implementation and now my archive is getting generated. But while exporting the `.ipa`, I am facing this issue
`error: exportArchive: No signing certificate "Mac Development" found`.

I have set the proper export method. I have explored a lot and there are many solutions pr

[2020-08-19 17:31] #16821 closed

[2020-08-19 17:31] #16820 closed

[2020-08-19 17:31] #16809 closed

[2020-08-19 17:31] #16789 closed

[2020-08-19 17:32] #16785 closed

[2020-08-19 17:32] #16779 closed

[2020-08-19 17:32] #16773 closed

[2020-08-19 17:32] #16772 closed

[2020-08-19 17:32] #16760 closed

[2020-08-19 17:32] #16759 closed

[2020-08-19 17:53] bsiegel commented on #16874
Still reproduces with fastlane-2.156.1

[2020-08-19 19:18] dasoga commented on #17062
I got it worked
Whit this implementation
`upload_to_testflight(skip_waiting_for_build_processing: true, apple_id: "12345678")`

Not need to set `FASTLANE_SESSION` env var.

[2020-08-20 10:48] Franciscosty commented on #17066
This means that you are using square bracket notation to read a property from an object, but the object is missing, or nil , and thus it does not support this method. ... If all the objects are present, street will be assigned correctly.

[2020-08-20 12:10] csc-EricWu commented on #16642
This problem has not been solved.

[2020-08-20 15:23] sdjm-tessella commented on #15153
I can confirm the bug still exists in Fastlane version 2.156.1

[2020-08-20 19:08] seanliu1 opened #17079 "Sigh: No identity found. After running Sigh, the existing identity is removed and can not add or create any new keychains"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
**I am trying to run fastlane sigh, but it

[2020-08-20 23:45] karlmarxlopez commented on #16295
Try adding these actions
You can see the `sigh` env on `match` output.

[code]

[2020-08-21 02:23] aminosman commented on #16295
I was able to get past this issue with this:

[code]

[2020-08-21 02:26] din commented on #16129
I have the same issue.

[2020-08-21 02:43] booker-dragon opened #17080 "template_name not taking effect for match"
# New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
I added some new devices and want to use `mat

[2020-08-21 02:58] quanght55 commented on #16620
@Batistleman actually, i'm using work around for this, store current build number as a artifact on my CI.

Trigger build -> get artifact + 1 -> Build and delivery -> store artifact again.

[2020-08-23 16:57] miraclebg commented on #17066
This happens after the process times out (the waiting process).

I've actually figured out why this is happening.

I have set to NOT WAIT for the build to appear but nevertheless fastlane does wait.. Change log is not provided.

After 3 hours lost i've figured out what's going on - if 'changelog_from_git_commits' is ran before that it seems the changelog is set onto a global var which is later use

[2020-08-23 17:31] #16864 closed

[2020-08-23 19:45] BenoitDeguine commented on #16991
Got this error too. Working fine by creating manually the new version on iTunes Connect.

[2020-08-24 02:09] tianxiawoyougood opened #17082 "add_badge Error"
[20:58:36]: [31mfastlane finished with errors[0m

Looking for related GitHub issues on fastlane/fastlane...

Found no similar issues. To create a new issue, please visit:
https://github.com/fastlane/fastlane/issues/new
Run `fastlane env` to append the fastlane environment to your issue
/Users/julive/.rvm/gems/ruby-2.6.3/gems/badge-0.11.0/lib/badge/runner.rb:43:in `rescue in run': [31m[!] undefi

[2020-08-24 03:26] tianxiawoyougood commented on #17082
<details><summary>🚫 fastlane environment 🚫</summary>

### Stack

| Key                         | Value                                       |
| --------------------------- | ------------------------------------------- |
| OS                          | 10.14.6                                     |
| Ruby                        | 2.6.3                                       |
| Bundler?

[2020-08-24 03:43] tianxiawoyougood commented on #17082
Additional information
Error message on another computer：
Start adding badges...
[11:40:53]: Error loading image from shields.io timeout reached. Use --verbose for more info
[11:40:53]: Waiting for 10s and retry to load image from shields.io tries remaining: 10
[11:41:03]: Start adding badges...
[11:41:13]: Error loading image from shields.io timeout reached. Use --verbose for more info
[11:41:13]

[2020-08-24 03:47] tianxiawoyougood commented on #17082
Another computer：
<details><summary>🚫 fastlane environment 🚫</summary>

### Stack

| Key                         | Value                                       |
| --------------------------- | ------------------------------------------- |
| OS                          | 10.15.6                                     |
| Ruby                        | 2.6.3                                       |
| Bun

[2020-08-24 07:35] philCc opened #17083 ""\x82" from ASCII-8BIT to UTF-8 (Encoding::UndefinedConversionError)"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

##### Command executed

`fastlane ipa --env .adhoc --swift_server

[2020-08-24 10:33] greculrc commented on #16215
What a great and, of course, well written post. It`s so useful…

[2020-08-24 10:55] lolucosmin opened #17084 "Screengrab: No screenshots were detected"
### New Issue Checklist

- [ x] Updated fastlane to the latest version
- [ x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [ x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [ x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
Still I have that common issue with: "N

[2020-08-24 12:26] philCc commented on #17083
fixed by:
`fastlane match adhoc`

[2020-08-24 12:26] #17083 closed

[2020-08-24 13:14] lolucosmin commented on #17084
So after I tested a lot of cases I have this situation:
1.With this configuration the screenshots are working:
    compileSdkVersion 29
    buildToolsVersion '29.0.3'
    targetSdkVersion 29

    fastlane: 2.154.0
    tools.fastlane:screengrab:1.2.0

So if I will update to last version all things are not working:
    compileSdkVersion 30
    buildToolsVersion '30.0.2'
    targetSdkVersion 30

[2020-08-24 14:03] kandavel opened #17085 "How to change Build configuration(QA,Dev,Staging and Release) in a Scheme - via fastlane"
@fastlaneTeam : Hi, i am facing an issue while giving gym command
my requirement is i have four different enviroment (QA,Dev,Staging and Release)
by manually i go to scheme -> edit sceme -> RUN -> Build configuartion -> set the environment
by manually i go to scheme -> edit sceme -> Archive -> Build configuartion -> set the environment

----

i want to achieve the same via Fastlane
<img width="898

[2020-08-24 14:09] kandavel commented on #17085
@joshdholtz:  can u suggest a solution  how can i change the scheme  both in Run and Archive - under the scheme

[2020-08-24 14:25] koxon commented on #17084
+1 using latest Android SDK 30 we also get screengrab error about writing path and permission

[2020-08-24 17:32] #16796 closed

[2020-08-24 17:32] #16607 closed

[2020-08-24 18:02] timothyekl commented on #15185
I can confirm that the `security set-key-partition-list` command from [jakubgs' comment above](https://github.com/fastlane/fastlane/issues/15185#issuecomment-656649593) fixed our fastlane CI builds as well. We're building in a GitLab Runner shell executor as a standard (non-admin) user on Catalina.

[2020-08-24 19:46] michaelst commented on #16618
Any update on this issue, I am also running into this. Supporting the github actions bearer token would be great and I would be glad to do the PR if it will be accepted.

[2020-08-25 03:03] jamesmcmenamin commented on #16700
This is suuupper annoying.... there is no way to set the releaseNotes for the push.... under production... in testflight it works fine to change out the changelog... but production nahhhhhhhh broke

[2020-08-25 06:57] bezigon opened #17086 "[supply] undefined method `map' for nil:NilClass on "draft" tracks"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

1. Create a **draft** version in alpha tra

[2020-08-25 11:10] Gaullts commented on #17070
Unfortunately, there are a few cases that could cause your dSYM upload to fail, such as bitcode in your app or other unique project configurations. This guide provides some ways to troubleshoot when Crashlytics can't locate your app's dSYM.

[2020-08-25 13:45] apps4everyone opened #17087 "Xcode Version 12.0 beta 5 (12A8189h) Ad-Hoc build with 'iOS' and 'App Clip' target fails"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
With Xcode Version 12.0 beta 5 (12A8189h) a

[2020-08-25 13:53] apps4everyone commented on #17087
<details><summary>🚫 fastlane environment 🚫</summary>

### Stack

| Key                         | Value                                                   |
| --------------------------- | ------------------------------------------------------- |
| OS                          | 10.15.6                                                 |
| Ruby                        | 2.7.1

[2020-08-25 14:04] apps4everyone commented on #17087
There is the Apple example app 'Fruta' which has a target 'App Clip' % 'Widgets'.
['Fruta'](https://github.com/bitrise-io/Fruta)

[2020-08-25 15:11] apps4everyone commented on #17087
With 'distributionBundleIdentifier' inside a 'ExportOptions.plist' file the build works with:
`build_ios_app(workspace: "YXZ.xcworkspace", configuration: "Release", scheme: "YXZ iOS", clean: true, silent: false, include_bitcode: true, export_options: "YXZ iOS/ExportOptions.plist")`

[2020-08-25 17:31] #16811 closed

[2020-08-25 17:40] peterfox1 opened #17088 "Match : Google Cloud Storage - Stops after fetching 1000 objects. So it keeps trying to re-create new certificates."
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

It appears that Match tries to download al

[2020-08-25 18:16] reishka commented on #16975
Not sure what (if anything) changed, but as of yesterday this seems to have been resolved. We just did a batch upload and both sets of iPad screenshots uploaded as intended.

[2020-08-25 18:21] reishka commented on #16696
FWIW, We're not using CircleCI, and over the past week every build I've attempted to upload has stalled on "waiting to finish processing". The build finishes processing in the portal in under 5 minutes, yet fastlane will churn indefinitely until I cancel it (we've waited an hour, just to see what would happen, and no dice). We're on  2.156.1

[2020-08-25 19:51] mendesbarreto commented on #17070
Thank you for your replay @Gaullts =) .

But the problem is not on Crashlytics, because when I don't specify the directory and let the fastlane download the dsym on my root directory, he is capable of uploading all dsym with no problems...

[2020-08-26 01:13] seanrogs opened #17089 "Snapshot `headless` and `override_status_bar` not working?"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
In my Snapfile, I'm setting `headless(true)

[2020-08-26 05:29] tedgonzalez commented on #15996
activity

[2020-08-26 05:29] tedgonzalez commented on #15997
activity

[2020-08-26 05:29] tedgonzalez commented on #16193
activity

[2020-08-26 07:04] mbogh commented on #17066
I am experiencing this too, the bug seems to be fixed on `master` branch.

[2020-08-26 09:06] messeb commented on #17069
I facing the same issue.
The output :
<details>
  <summary>Step: upload_to_testflight</summary>

[code]
</details>

I used the smallest possible action definition:
[code]
which is described in [Use an Application Specific Password to upload](https://docs.fastlane.tools/actions/upload_to_testflight/#use-an-application-specific-password-to-upload) in the fastlane documentation. (123456789 is replace

[2020-08-26 10:07] rogerluan commented on #16991
I faced this error too. Simply retrying worked just fine, with no changes.

[2020-08-26 10:14] Aquilosion opened #17090 "`override_status_bar` not overriding the carrier name"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
When `override_status_bar` is used to make

[2020-08-26 11:58] peterfox1 commented on #17088
As far as I can tell using list_blobs on the storage client may be the way to go since it seems like it can handle paging, really unfamiliar with this though:
https://googleapis.dev/python/storage/latest/client.html#google.cloud.storage.client.Client.list_blobs

It looks like you can define a prefix here to filter out objects, so perhaps it could just download the relevant certificates if a teamId

[2020-08-26 17:32] #16875 closed

[2020-08-26 17:32] #16850 closed

[2020-08-26 18:12] AnachronisticTech commented on #17090
I can't comment on the technical details, but I'd like to mention that this could explain why my app was rejected during review. The rejection notice stated:

My Snapfile:
[code]
My `fastlane env`:
<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                         | Value                                                          |
| --------------------------- | --------

[2020-08-26 20:45] guilhermebruzzi commented on #16164
Had same problem, was able to solve by doing what @manenga said last about:
* after creating your service account, you need to add it as Release Manager on the Google Play Console under Users & permissions -> Invite New User and use the email of your service account from the Google Developers Console. Add User to complete the process 🎉

[2020-08-27 03:05] pedro380085 opened #17094 "Update `example_rating_config.json`"
With the new iTC update, the template [file](https://github.com/fastlane/fastlane/blob/master/deliver/assets/example_rating_config.json) has been deprecated.

[code]

Thanks,

[2020-08-27 08:03] long1eu commented on #17086
I also have this when uploading to app_store.

[code]

[2020-08-27 09:39] messeb commented on #17069
Could be there a problem in the following code section?

https://github.com/fastlane/fastlane/blob/f831062fa6f4b216b8ee38949adfe28fc11a0a8e/pilot/lib/pilot/build_manager.rb#L40-L55

It's after the response of
[code]

I set `skip_waiting_for_build_processing` to `true` and `changelog` to `nil`. So the additional login call
[code]
should be made. But perhaps the condition doesn't work?

[2020-08-27 12:04] ggirotto opened #17097 "Could not find release for version code to update changelog"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
Related to https://github.com/fastlane/fast

[2020-08-27 16:29] suresh2107 opened #17100 "fastlaneplaystoretest"
fastlaneplaystoretest

[2020-08-27 17:31] #16891 closed

[2020-08-27 17:32] #16593 closed

[2020-08-27 20:06] ggirotto commented on #17097
For those that are also using Flutter and facing the same issue, specify your `apk` or `app bundle` file path. ]
In my case, setting: `aab: "../build/app/outputs/bundle/release/app-release.aab"` fixed the problem

[2020-08-27 20:06] #17097 closed

[2020-08-27 20:45] AnachronisticTech commented on #17090
After communicating with the App Store resolution team, my app passed review without modification of the bundle or the screenshots, so it looks like this may have been a fluke.

[2020-08-27 21:23] tmm1 commented on #15788
I was still having issues with API 28, and have implemented @colintheshots's `tar` idea in https://github.com/fastlane/fastlane/pull/17101

[2020-08-27 21:48] atorgfr commented on #17072
@AlexHooperDev have found a solution on your side ?

[2020-08-27 21:48] ibuprofane commented on #16991
I set my versions manually and got this error after I force-killed a build. I rolled the build number and it worked.
Coincidence... who knows?

[2020-08-27 22:11] DaDummy commented on #17066
Still occurs with 2.157.0 in our CI. The build was already uploaded successfully at that point but not yet assigned to testers.

[2020-08-27 22:29] raphaelcruzeiro commented on #17066
This is happening with Deliver when uploading the screenshots.

[2020-08-27 22:33] raphaelcruzeiro commented on #17048
This is happening on 2.157.0

[2020-08-27 22:37] raphaelcruzeiro commented on #17048
Reverted to 2.1.56.1 and it works fine.

[2020-08-27 23:50] srvv opened #17103 "Pilot doesn’t accept iTunes connect team_id"
### New Regression Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Regression Information

- Breaking version: 2.157.0
- La

[2020-08-28 00:01] treymcmeans commented on #17103
Experiencing the same issue. Watching for resolution

[2020-08-28 01:41] joshdholtz commented on #17103
Working on fix now! Will have new version out before I go to bed for the night 😊

[2020-08-28 03:01] joshdholtz commented on #17103
@srvv @treymcmeans I _think_ I have a fix for you with #17104 🤞 Would either of you be able to switch to this branch to verify that it works for you?

### Testing Steps

Update `Gemfile` to 👇 and run `bundle install`, `bundle update fastlane`, or `bundle update`

[code]

[2020-08-28 04:01] #17103 closed

[2020-08-28 06:09] prameetc commented on #16914
I resolved by adding keychain step on the CI. Closing

[2020-08-28 06:09] #16914 closed

[2020-08-28 06:38] Chapmains commented on #17082
If you have confirmed that your badges are valid through BadgeCheck.io, you may try uploading the zipped file to your backpack again. Depending on how many badges are in the zipped file you may need to try uploading the file multiple times.

[2020-08-28 06:57] Vall0n commented on #16127
Hi, just happened to me...  When updating from `fastlane-2.156.1` to `fastlane-2.157.1` using ruby `2.6.3`

[2020-08-28 09:28] booker-dragon commented on #17080
Wrong name for the template :-(

close now

[2020-08-28 09:28] #17080 closed

[2020-08-28 11:28] srvv commented on #17103
Thanks @joshdholtz for quickly fixing this issue. I can confirm that pilot is working fine with team_id on v2.157.1.

Though there is a warning 'The current user is in 5 teams. Pass a team ID or call 'select_team' to choose a team. Using the first one for now.' But it picks the correct team based on the given team ID.

[2020-08-28 12:21] bjzhlapple commented on #16429
hello,I can not use "fastlane sigh -a xxx -u xxx -q "xxx" --force --adhoc", terminal puts  [!] Please login using `Spaceship::Portal.login('user', 'password')`.I tried a lot of method ,but does not worked. please look picture . thanks
![image](https://user-images.githubusercontent.com/37367777/91560168-f2a69f80-e96b-11ea-9dc0-5c7011903be2.png)

[2020-08-28 12:22] bjzhlapple opened #17108 "[!] Please login using `Spaceship::Portal.login('user', 'password')`"
hello,I can not use "fastlane sigh -a xxx -u xxx -q "xxx" --force --adhoc", terminal puts  [!] Please login using `Spaceship::Portal.login('user', 'password')`.I tried a lot of method ,but does not worked. please look picture . thanks
![image](https://user-images.githubusercontent.com/37367777/91560168-f2a69f80-e96b-11ea-9dc0-5c7011903be2.png)

_Originally posted by @bjzhlapple in https://github.c

[2020-08-28 12:25] bjzhlapple commented on #17108
I tried this but does not worked.
![image](https://user-images.githubusercontent.com/37367777/91560408-68127000-e96c-11ea-99f6-45d202cc2f93.png)

[2020-08-28 14:03] caseyg1204 commented on #16616
@stanma did you find a work around for this?

[2020-08-28 14:07] fllink commented on #17108
We encountered the same issue – downgrading to fastlane 2.156.1 resolved the issue on our side. I suspect the issue was introduced with #17042 as it was also not working in 2.157.0

[2020-08-28 14:21] stanma commented on #16616
no. Still actual.

[2020-08-28 14:29] joshdholtz commented on #17108
@bjzhlapple @fllink Hello! Have your tried updating to `2.157.1`? I pushed this out last night that should have this fixed 🤞

[2020-08-28 14:30] joshdholtz commented on #17108
@bjzhlapple Sorry, I just saw your screenshot stacktrace! I will look into right away for you 👍

[2020-08-28 14:42] joshdholtz commented on #17103
@srvv Thanks for following up! I'll see if I can get rid of that warning of you 😊

[2020-08-28 14:55] joshdholtz commented on #17108
Found the issue! Fix coming out soon. Sorry about that!

[2020-08-28 15:42] #17108 closed

[2020-08-28 15:56] bjzhlapple commented on #17108
非常感谢！Tanks very much,I am watting for new version.  hahahah

[2020-08-28 15:58] bjzhlapple commented on #17108
thanks a lot .

[2020-08-28 16:15] joshdholtz commented on #17108
@bjzhlapple This should be fixed for you in `2.157.2` now!

[2020-08-28 17:13] fllink commented on #17108
Thank you for the quick response, we encountered it in 2.157.1, sorry for being inaccurate.

[2020-08-28 17:17] joshdholtz commented on #17108
@fllink That was actually my bad! I woke up and refreshed issues right away and didn't give my brain some time to actually read things 😛 Were you able to test to see if `2.157.2` fixed everything for you? 😇

[2020-08-28 17:19] bjzhlapple commented on #17108
Thank you 😁

[2020-08-28 17:31] #16888 closed

[2020-08-28 17:32] #16683 closed

[2020-08-28 17:32] #16531 closed

[2020-08-28 19:08] canpoyrazoglu commented on #16892
The same issue occuring on fastlane 2.155.3 too:
[code]

[2020-08-29 01:34] akcelotechnology commented on #17066
Same issue. Started happening a day ago

[2020-08-29 09:28] csc-EricWu commented on #16642
@janpio Can you reproduce it?

[2020-08-29 16:02] codyrotwein commented on #16991
I'm having the same issue. I have over 300+ apps to update and fastlane is stopping with this error after a few apps. Very frustrating.

[2020-08-30 17:32] #16672 closed

[2020-08-30 17:33] #16383 closed

[2020-08-30 23:20] tmaly1980 opened #17113 "TestFlight internal_users fails"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
When trying to assign existing internal tes

[2020-08-31 09:01] LuminousPath opened #17114 "undefined method `noecho' for #<IO:<STDIN>>"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
When using the fastlane `prompt` action ins

[2020-08-31 10:55] #17087 closed

[2020-08-31 11:51] fatihyildizhan commented on #17039
Hi @joshdholtz Do you have any suggestions? I am still taking snapshots manually and couldn't fix this issue.

This is my Snapfile
[code]

[2020-08-31 14:21] hegedus90 commented on #17085
You select a build configuration during the build process using the `configuration` parameter. See the documentation of [build_app](http://docs.fastlane.tools/actions/build_app/#build_app) for more details.

[2020-08-31 14:42] sonjz opened #17116 "iOS provisioning profile auto-repair throwing `400 Bad Request` on `match` after running `produce enable_services`"
### New Regression Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Regression Information

- Breaking version: `2.157.2`
-

[2020-08-31 14:43] janpio commented on #16642
No.

[2020-08-31 14:58] scriptease commented on #16901
Someone changed the shortcut of --export in pem to --output_path and -e now equals --env and results in the error.
Usinf --output_path fixed it

[2020-08-31 16:09] imWildCat opened #17117 "Distribution for macCatalyst (Developer ID): The signature does not include a secure timestamp while notarizing"
### New Issue Checklist

- [x] Updated fastlane to the latest version: `2.157.2` (Xcode: `Version 12.0 beta 6 (12A8189n)`)
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue De

[2020-08-31 17:55] kerwinAPG commented on #16966
I was able to update by running “sudo gem update” first, and then “gem install fastlane”.  This fixed dependencies issue and allowed the update to proceed.

[2020-08-31 17:55] #16966 closed

[2020-08-31 19:37] fatihyildizhan commented on #17039
Is there any difference between `fastlane ios screenshots` and `fastlane snapshot` ?

[2020-08-31 22:57] Thangaraj-M opened #17119 "[Screengrab] Existing screenshots in device not cleared"
### New Regression Checklist

- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Regression Information

- Breaking version: [ `2.156.0`]
- Last working version: [ `2.153.1`]

### Re

[2020-08-31 23:23] jffmrk commented on #17103
Awesome, thanks for the fix - I was having trouble with this same thing the last few days. v2.157.2 is working for me. I can live with the warning message 👍

[2020-08-31 23:41] csc-EricWu commented on #16642
@janpio  The error does not exist when I use the following command.

fastlane sigh manage --clean_expired
fastlane sigh manage -e -v

[2020-09-01 04:15] BCassArq commented on #17069
I'm seeing the same issue on my project. I've defined a custom lane to perform the TestFlight uploads, which sets `skip_waiting_for_build_processing`, as per the docs but it still fails after uploading the build. The lane is:

[code]

and the build output:

[code]

[2020-09-01 04:24] BCassArq commented on #17069
Forgot to add I'm using Fastlane version: 2.157.2

[2020-09-01 07:15] kandavel commented on #17085
thanks for the solution 👍👍, previously i used the same parameter but it taking different configuaration , before executing gym command i have given clean build folder and derived data  and it is started working for me

[2020-09-01 07:15] #17085 closed

[2020-09-01 12:06] Sega-Zero commented on #17116
In my case, having this error after a new device is added

[code]

[2020-09-01 14:49] CovertLeopard opened #17122 "match failed with "[!] You need to instantiate this module with provisioning_request_client""
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

We updated to the latest version this morning after having differ

[2020-09-01 15:17] algentok commented on #15963
Probably not the best workaround, but it works for me:
I disabled pkg creation, then executed following:
pkgbuild ----analyze --root ./MyApp.app MyApp.plist
pkgbuild --root ./MyApp.app --component-plist MyApp.plist --identifier "com.MyApp.MyApp"

[2020-09-01 15:35] Cyberbeni commented on #15595
.

[2020-09-01 16:02] Sega-Zero commented on #17116
what's really annoying is that provision profiles becomes invalid right when match is trying to fetch them!

[2020-09-01 16:39] dazwin opened #17124 "update_info_plist fails silently when block is provided with another parameter"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [ ] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [ ] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
When both block and display_name are provid

[2020-09-01 17:32] #16923 closed

[2020-09-01 17:32] #16647 closed

[2020-09-01 17:55] Sega-Zero opened #17125 "sigh does not respect team_id parameter"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
Looks like sigh stops reading a team_id par

[2020-09-01 19:39] gregorskii commented on #17094
+1 this should be updated to provide a correct example and documentation of these ratings.

[2020-09-01 20:20] anyuser commented on #17125
I'm noticing the same issue here. So far, the fallback to use the first team luckily works in our case, but there's definitely something to investigate.

[2020-09-01 20:58] joshdholtz commented on #17125
Looking into right away!

[2020-09-01 20:59] joshdholtz commented on #17125
So... I think this is an order or operations here between when login happens and when selecting the team happens. It is selecting the team but its happening after this line happens. I will fix this so that it isn’t so spooky 😊

[2020-09-01 21:00] joshdholtz commented on #17122
Looking into right away!

[2020-09-01 21:04] joshdholtz commented on #17122
@CovertLeopard Question! Do you usually enter your credentials when prompted by the CLI?

[2020-09-01 21:26] joshdholtz commented on #17116
@sonjz Thanks for reporting this! So `produce enable_services` is what will invalidate the profile but it looks like there is an issue with match when it tries to delete/remake the the profile 🤔 I will look into this and try to get a new version out for tomorrow if possible!

[2020-09-01 21:34] joshdholtz commented on #17094
Will get this updated! Thanks for letting me know 😊

[2020-09-01 21:55] TheWirv commented on #17122
I just got the same error. For, it was raised during a CI/CD job. I have a pipeline where it builds and deploys multiple apps with one job, each one sequentially. The first one was deployed successfully, but then the second one crashed with this error message after 4 seconds.

[2020-09-01 22:27] lilyball commented on #16960
Last time I checked this is still an issue. This was reproduced with fastlane 2.153.1, but the release notes for the later releases show nothing relevant, and [the responsible code](https://github.com/fastlane/fastlane/blob/8c9809ed26393626d72402d8c8fd98db918c80ca/fastlane_core/lib/fastlane_core/device_manager.rb#L349) is still just blindly fetching everything.

[2020-09-01 22:27] lilyball commented on #16960
This is the line of code in question:

[code]

Note how it doesn't limit the collection, which means it's going to try and collect *everything*.

[2020-09-01 22:38] CovertLeopard commented on #17122
Nope. This is during a CI/CD build. Completely non-interactive.

On Tue, Sep 1, 2020, 5:04 PM Josh Holtz <notifications@github.com> wrote:

[2020-09-02 03:18] CovertLeopard commented on #17122
@joshdholtz @TheWirv We also are not using the App Store Connect API yet, in case that is related in any way.  We were running fastlane 2.152.0 until this morning when we upgraded because we started getting errors when trying to deliver apps to Apple.  That's when we went to the latest version and then started receiving this new error.  The apps were building fine on the prior version, just not de

[2020-09-02 05:14] nitrique commented on #17122
Same here on 2.157.2, temporary fix is to set version to 2.156.X  -> `sudo gem install fastlane -v '2.156'`

Still got error :

[code]

But app build works !

[2020-09-02 08:19] saitjr commented on #17113
same issue

[2020-09-02 09:00] TheWirv commented on #17122
@nitrique but this doesn't have anything to do with `provisioning_request_client`, does it?

[2020-09-02 09:04] nitrique commented on #17122
@TheWirv 2.157.0+ changelog indicate changes in authentication & signature (spaceship topic), so maybe it's a side effect but I think it's related

[2020-09-02 11:17] CovertLeopard commented on #17122
@nitrique @TheWirv So interestingly, we've been getting the error you noted since we started using fastlane.  I just went back as far as January this year and looked at build logs on our Jenkins system and still saw it there, when we were on fastlane 2.137.0.  It's never had an impact on builds for us.  The new error in this issue does start shortly after that one though.  I've reverted back to 2.

[2020-09-02 12:02] CovertLeopard commented on #17122
@nitrique @TheWirv @joshdholtz I can confirm that 2.156.0 does build our app fine.  That said, we are now back to the same issue we started seeing Monday morning randomly when using pilot to deliver apps to apple:

[code]

I'll search other bugs and try to figure out why this suddenly broke in our environment.

[2020-09-02 13:04] lolucosmin commented on #17084
Any news on this issue?

[2020-09-02 13:29] joshdholtz commented on #17122
@CovertLeopard Do you have a full stacktrace that you can send me?

[2020-09-02 13:42] CovertLeopard commented on #17122
@joshdholtz See below.

[code]

[2020-09-02 13:58] joshdholtz commented on #17122
@CovertLeopard Thank you! I was able to reproduce it now. I will have a fix out later today 💪

And for your ITMSTransporter issues, can you try setting this ENV? 👇
[code]

I wonder if you are having issues with DAV and need to use Aspera or Signiant

[2020-09-02 14:18] gtsifrikas opened #17132 "spaceship undefined method `build_params'"
### New Regression Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Regression Information

- Breaking version: [2.157.2]
-

[2020-09-02 14:28] CovertLeopard commented on #17122
@joshdholtz Thanks for the tip on the ENV.  We had it set to just

```DELIVER_ITMSTRANSPORTER_ADDITIONAL_UPLOAD_PARAMETERS=-t DAV```

It was working like that since version 2.104.0 (late 2019) when we added the env variable due to a bug in that version.  It just suddenly started failing on Monday. We do white label apps and apparently we could upload using DAV on some ITC Teams as recently as yest

[2020-09-02 14:31] joshdholtz commented on #17122
Feel free to open another issue and mention me in it! I do know that the App Store Connect API was having issues on Monday but I don’t think its still happening 🤔 Maybe try creating a new application specific password? But I’d be happy to discuss more on another issue!

[2020-09-02 15:00] ozgur opened #17135 "`get_provisioning_profile` does not honor `FASTLANE_ITC_TEAM_ID`"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

First of all, this might be related to htt

[2020-09-02 18:33] gfpacheco commented on #17132
Same here, output of my `fastlane env`:

<details><summary>🚫 fastlane environment 🚫</summary>

### Stack

| Key                         | Value                                                          |
| --------------------------- | -------------------------------------------------------------- |
| OS                          | 10.15.5                                                        |
| R

[2020-09-02 18:40] CovertLeopard opened #17137 "pilot and deliver both fail to upload binary file to Apple using"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
On Monday morning, our app delivery process

[2020-09-02 18:41] CovertLeopard commented on #17137
@joshdholtz We tried multiple different things and were unable to figure out a resolution for this, so per our conversation earlier, I've logged this issue.

[2020-09-02 18:43] joshdholtz commented on #17137
@CovertLeopard Did you end up trying to create a new Application Specific Password to see if that fixes it?

[2020-09-02 18:49] #17116 closed

[2020-09-02 18:49] #17122 closed

[2020-09-02 18:52] CovertLeopard commented on #17137
@joshdholtz We did not, but it's worth noting we've never had one setup either. We use Jenkins for CI/CD and it passes in Apple account credentials at the time of the build. I can work on setting up an application specific password, but may need to change our build process to get it to utilize it. Here is the related Jenkins output showing that we successfully log in, then it fails to upload.

[co

[2020-09-02 18:57] joshdholtz commented on #17137
@CovertLeopard That is actually interesting information! There was an App Store Connect API outage on Monday and I wonder if they now require accounts to have 2FA and/or Application Specific Password for binary uploads.

I _know_ they've been trying to force 2FA but maybe a migration happened on Monday that prevents binary upload with just username and password? 🤔

This is just a hunch though. I m

[2020-09-02 19:09] CovertLeopard commented on #17137
@joshdholtz We use `pilot` and `deliver`, depending on if it's a beta/testing release vs a full release. The build account doesn't have 2FA on it, but it's the same build account that is working for other apps on other developer accounts as well. We can't see a difference between I'll try to run the iTMSTransporter command manually with the `--verbose` flag turned on.

[2020-09-02 19:11] joshdholtz commented on #17137
@CovertLeopard I can't remember what you said but does downgrading to `2.156.0` fix the upload issue?

Sorry if you already said! I have lots of threads I participate in and hard to keep track of 😇

[2020-09-02 19:59] CovertLeopard commented on #17137
@joshdholtz the rollback to `2.156.0`  was to fix the problem `match failed with "[!] You need to instantiate this module with provisioning_request_client"`.  It does not fix the upload issue.

[2020-09-02 20:00] joshdholtz commented on #17137
Thanks for clarifying! I will dig up an account that doesn't have 2FA to look into this transporter issue. I will report back soon!

[2020-09-02 22:36] joshdholtz commented on #17137
@CovertLeopard Are you able to post anymore of your logs from when the iTMSTransporter stuff started? 😇

[2020-09-02 22:59] #17125 closed

[2020-09-02 23:30] alcarvalho commented on #17066
Same issue on 2.157.2.

Current stack trace:

<details>

[code]

</details>

[2020-09-03 02:45] #17094 closed

[2020-09-03 02:55] tache commented on #17066
Same here ...
```gems/fastlane-2.157.2/spaceship/lib/spaceship/connect_api/api_client.rb:176:in `handle_response': [!] undefined method `status' for nil:NilClass (NoMethodError)```

[2020-09-03 05:05] kashif789us opened #17139 "Getting Server error got 500 while downloading and uploading of screenshots"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

When I download or upload screenshots, I a

[2020-09-03 05:06] fahimk commented on #17122
@joshdholtz I used the joshdholtz-fix-match-spaceship-connect-auth-issues branch in my Gemfile but still seeing the issue

[08:03:44]: Installing provisioning profile...
[08:03:44]: You need to instantiate this module with provisioning_request_client

[code]

[2020-09-03 06:08] ravichandra-ayla commented on #16739
I am still getting this issue.

`🔗  You can ⌘ + double-click on links to open them directly in your browser.
Traceback (most recent call last):
	25: from /usr/local/bin/fastlane:23:in `<main>'
	24: from /usr/local/bin/fastlane:23:in `load'
	23: from /Library/Ruby/Gems/2.6.0/gems/fastlane-2.157.2/bin/fastlane:23:in `<top (required)>'
	22: from /Library/Ruby/Gems/2.6.0/gems/fastlane-2.157.2/fastlane

[2020-09-03 07:14] milk531 opened #17140 "App Store Connect API issues: `release_to_all_users`, download_dsyms, get_version_number"
[code]
will get error `{"data"=>nil, "messages"=>{"warn"=>nil, "error"=>["Not Found"], "info"=>nil}, "statusCode"=>"ERROR"}` , I look into the code in here https://github.com/fastlane/fastlane/blob/40fdd512072c4711011e727d22ca74a4281044f6/spaceship/lib/spaceship/tunes/tunes_client.rb#L1225
It seems that this url in this code is not avaliable any more?

[2020-09-03 08:23] Adolf-L opened #17141 "The request could not be completed because: Access forbidden"
I want to get provisioning profile with fastlane. so write the command line as below

`fastlane cert -u rnthking@gmail.com team_id:"5X25QACUX3"`

then the result as you can see!

<details><summary>🚫 fastlane environment 🚫</summary>

### Stack

| Key                         | Value                                                   |
| --------------------------- | ----------------------------------

[2020-09-03 09:10] bvirlet commented on #17140
I confirm a similar error in a custom script, using fastlane 2.152.0, Ruby 2.6.5.

[code]

[2020-09-03 09:23] EverMe commented on #17066
Same here...
/usr/local/lib/ruby/gems/2.6.0/gems/fastlane-plugin-pgyer-0.2.1/lib/fastlane/plugin/pgyer/actions/pgyer_action.rb:70:in `run': [!] undefined method `[]' for nil:NilClass (NoMethodError)

[2020-09-03 09:34] mbogh commented on #17066
@EverMe it seems your issue is not related to `deliver` but the plugin/action `pgyer`.

[2020-09-03 09:55] hstorz commented on #17140
For me as well. Yesterday the build was ok, today I got this error.

[2020-09-03 10:07] matt-l-w commented on #17140
Same for me this morning.

[code]

<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                         | Value                                                                    |
| --------------------------- | ------------------------------------------------------------------------ |
| OS                          | 10.15.2

[2020-09-03 10:54] AlbertMontserrat commented on #17140
Same on my side. Also in the get version call...

[code]

Also yesterday it was fine.

[2020-09-03 11:03] AlexTheLost commented on #17140
Similar problem today. Probably change in apple api.
[code]

[2020-09-03 11:42] joshdholtz commented on #17140
Will look into today!

[2020-09-03 11:45] joshdholtz commented on #17122
Hmmm 🤔 Thanks for letting me know! I will look into this a little bit deeper today!

[2020-09-03 12:04] joshdholtz commented on #16739
@ravichandra-ayla It looks like you are still using stuff in `Spaceship::Tunes` 🤔 You need to use the things in `Spaceship::ConnectAPI`. There are examples in this PR - https://github.com/fastlane/fastlane/pull/16742

[2020-09-03 12:27] ravichandra-ayla commented on #16739
@joshdholtz I saw the examples in the given PR and is still using below API's.

Spaceship::Tunes.login(email)
Spaceship::Tunes.select_team(team_name: team_name)

I am also using those API for login. Let me know how to use connectAPI for login and I will try to modify. Thanks.

[2020-09-03 12:41] TewWe commented on #17066
I think I've found the root problems here, from I think there are 2:
1. The error is thrown when you do a step which your API key is not entitled to (for example, in our case, we use a Developer scope key, but  `fastlane pilot` tries to update the beta app review info). The `patch_beta_app_review_detail` call results in a `403 Forbidden` status code, but this is not handled correctly by fastlane :

[2020-09-03 12:46] raphaelcruzeiro commented on #17066
@TewWe  In my case the key has all the permissions needed. This works just fine on 2.156.1 but breaks on 2.157.X

[2020-09-03 13:31] joshdholtz commented on #17140
So this is actually already in the _fastlane_ codebase but I don’t have any apps that I can test this sample code on 🤷‍♂️
Can somebody give this a try? 😊

[code]

If this works, I can make a better helper method for something like `app.release` or `version.release`

[2020-09-03 14:06] matt-l-w commented on #17140
@joshdholtz - getting an undefined method for `Spaceship::ConnectAPI.login` and I can't see it [here])https://github.com/fastlane/fastlane/blob/master/spaceship/lib/spaceship/connect_api.rb) at all. Is it off `master`?

[2020-09-03 14:08] joshdholtz commented on #17140
Yup yup, this should be on the latest release! https://github.com/fastlane/fastlane/blob/master/spaceship/lib/spaceship/connect_api/spaceship.rb#L80

You might need to add `require ‘spaceship’` before all of that 😊

[2020-09-03 14:12] matt-l-w commented on #17140
Great - got it, thanks.

App found okay but the call to `get_pending_release_app_store_version` returns `nil`

[2020-09-03 14:14] joshdholtz commented on #17140
@matt-l-w Hmmm 🤔 What does the status of your app say on the App Store Connect dashboard?

[2020-09-03 14:15] matt-l-w commented on #17140
@joshdholtz - was just troubleshooting that myself. Now it seems obvious! 🙈
There is no pending version as fastlane bombed out before even being able to build/upload anything.

Other methods e.g. `get_latest_app_store_version` work fine.

[2020-09-03 14:15] TewWe commented on #17066
That is strange @raphaelcruzeiro, because the Appstore Connect API was only introduced in 2.157.0. https://github.com/fastlane/docs/blob/master/docs/app-store-connect-api.md Are you sure you are using this?

Nevertheless, you can quite easily debug what's your exact error:
1. Download and start Charles webproxy: https://www.charlesproxy.com/latest-release/download.do
2. Set debug for your shell se

[2020-09-03 14:17] raphaelcruzeiro commented on #17066
Unfortunately this is just something I cannot do right now as I already have all the correct images on AppStore Connect (for me it was failing only when uploading screenshots)

[2020-09-03 14:28] joshdholtz commented on #17140
@matt-l-w OHHHHH, I thought you were trying to release to all users 😱 Are you all good then with `get_latest_app_store_version `? 😇

But if you have any other questions about `Spaceship::ConnectAPI`, the Discussions is a good spot to look for and ask questions about it there. Feel free to ping me in the Discussion!

I _really_ need to get to updating docs but other things keep coming up 🤷‍♂️

[2020-09-03 14:32] TewWe commented on #17071
@jbachand I'm quite sure, this is the same issue as I've tried to investigate a little bit: https://github.com/fastlane/fastlane/issues/17066#issuecomment-686462098

[2020-09-03 14:33] matt-l-w commented on #17140
@joshdholtz No worries, I realised the context I was in too after I reread your ask!

Yeah, we can make use of this and the pointers to the methods on this `Spaceship::ConnectAPI::App` instance should sort us out for now. Thanks!

[2020-09-03 14:50] tache commented on #17066
FYI - I am using the Developer level key. I noticed that the docs did not state which to use, so I went with that one.

[2020-09-03 14:52] joshdholtz commented on #17140
@ccalabro Nooooo, that broke too?! I will look into that as well!

[2020-09-03 14:54] joshdholtz commented on #17140
I’ll try and get a release out by end of day but I’ll keep you all update!

[2020-09-03 14:55] joshdholtz commented on #17135
This _should_ be fixed in https://github.com/fastlane/fastlane/pull/17136 but its not released yet 🤞

[2020-09-03 14:56] joshdholtz commented on #17135
@ozgur  Would you be able to switch your `Gemfile` to point at _fastlane_’s master branch to see if this fixes it for you? 😇

[2020-09-03 14:59] joshdholtz commented on #17139
I will look into today! Seems like there were some recent API changes that may have gone through that are effecting us 🤷‍♂️

[2020-09-03 15:05] joshdholtz commented on #17141
@Adolf-L Do you have some console output you can attach to this issue? I’m not able to replicate this issue 🤔 Also... I think your command might need to be `fastlane cert -u rnthking@gmail.com --team_id "5X25QACUX3" `

[2020-09-03 15:28] mhleiftaylor opened #17143 "Deliver Error: An app cannot have CUSTOM distribution but no organizations or users."
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

When running deliver on a new version of a

[2020-09-03 15:29] fahimk commented on #17122
@joshdholtz after reverting the Gemfile back to using the main "fastlane" instead of your branch, I then ran

[sudo] bundle update
and ran fastlane with bundle exec fastlane

and now it seems to be working again

[2020-09-03 15:33] joshdholtz commented on #17122
@fahimk Can you send me what your `Fastfile` looked like or what command you were using? I’m want to make sure I can try to replicate what you were seeing 🤔

[2020-09-03 15:36] joshdholtz commented on #16739
@ravichandra-ayla Can you try this? 👇

[code]

But can you also send me what your `Fastfile` looks like too? That might help me get a better understanding of what’s going on!

[2020-09-03 15:37] fahimk commented on #17122
@joshdholtz was just running "fastlane beta" with this Fastfile

[code]

[2020-09-03 16:38] kashif789us commented on #17139
Thank you.

[2020-09-03 17:06] Kaspik commented on #17140
Just posting here if it helps to debug. :)

[code]

[code]

[2020-09-03 17:12] matt-l-w commented on #17140
@Kaspik for reference this is what we've updated to in our Fastfile

[code]

This is the equivalent to the first half of your script where you're using the `live_version` method. We were also using this.

[2020-09-03 17:31] #16945 closed

[2020-09-03 17:31] #16943 closed

[2020-09-03 17:31] #16941 closed

[2020-09-03 17:32] #16940 closed

[2020-09-03 17:32] #16790 closed

[2020-09-03 17:32] #16513 closed

[2020-09-03 17:43] joshdholtz commented on #17140
✨  Update

I’ve got `download_dsyms` fixed and now I’m working on `get_version_number`. After this I’ll be doing a codebase wide search for any actions that reference `live_version` or `edit_verson` and also fixing those things as well.

Sorry again about any interruptions this is causing!

[2020-09-03 18:14] alcarvalho commented on #17066
Nailed it, @TewWe! A new key with "App Manager" role solved the problem for me. But the error handling should probably be addressed. And maybe it is being addressed by #16974.

[2020-09-03 18:20] CovertLeopard commented on #17137
@joshdholtz The first time it failed, the output was identical to the output I've shown above in this comment: https://github.com/fastlane/fastlane/issues/17137#issuecomment-685931388

We had an issue in a production system for a different project come up yesterday so I haven't been able to run the iTSMTransporter command manually yet to collect the `--verbose` output.  I just now started looking

[2020-09-03 18:33] joshdholtz commented on #17140
✨ Updates

Both `download_dsyms` and `app_store_build_number` are both working again! Just need to update all the tests now 😝

PR should be up in about 45 minutes. New release probably a couple hours after that.

[2020-09-03 18:52] CovertLeopard commented on #17137
@joshdholtz I found the location and was able to run it manually.  Below is the command ran and the output (sanitized to not share sensitive details)

[code]

[2020-09-03 18:54] joshdholtz commented on #17137
@CovertLeopard Thanks for trying that! So it looks like its not working for you even outside of _fastlane_? 🤔

[2020-09-03 18:57] CovertLeopard commented on #17137
@joshdholtz It looks like that is correct.  At this point, I think it has to be an account-related issue, just not sure what! We can use this same account to upload to other Apple accounts (But not all other accounts that we build for) just fine.  It's the most bizarre thing.  I think at this point since fastlane is ruled out, we can close this?  Not sure we will get anywhere with it.

[2020-09-03 19:50] wahmedswl opened #17146 "IPAD 25 character UDID, not getting added to provisioning profiles"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Device list has been updated and new devic

[2020-09-03 19:54] wahmedswl commented on #17146
```add_devices``` and ```match(app_identifier: app_identifier, type: match_profile, force_for_new_devices: true)``` is called within same Lane.

[2020-09-03 21:01] bensig opened #17147 "PROMO_GRAPHIC images are no longer supported."
[12:57:36]: fastlane finished with errors
[!] Google Api Error: badRequest: PROMO_GRAPHIC images are no longer supported. - PROMO_GRAPHIC images are no longer supported.

[2020-09-03 21:03] joshdholtz commented on #17140
🚀 Fix is up in https://github.com/fastlane/fastlane/pull/17148 and ready to test if anybody is able to test 🙏

### Testing Steps

Update `Gemfile` and run `bundle update fastlane`, `bundle update`, or `bundle install`

[code]

[2020-09-03 21:05] joshdholtz commented on #17137
I hope you are able to figure it out! Good luck and hit me up if you run into anything else!

[2020-09-03 21:05] #17137 closed

[2020-09-03 21:08] joshdholtz commented on #17141
@Adolf-L Do you also have admin privileges to that team? That might also result in "Access forbidden"

[2020-09-03 21:26] ccalabro commented on #17140
@joshdholtz `download_dsyms` works perfectly except for one thing, it always pulls versions from AppStore instead of Testflight, using this configuration:

`download_dsyms(version: 'latest', wait_for_dsym_processing: true)`

There are newest builds on TestFlight than on AppStore but it tries to download always the AppStore one. Something that wasn't doing before this change.

[2020-09-03 21:27] joshdholtz commented on #17139
@kashif789us I did not run into any 500 errors on my side. I wonder if you there was a snag in the App Store Connect API when you tried 🤔 Are you able to try again?

[2020-09-03 21:45] joshdholtz commented on #17140
@ccalabro Thanks for letting me know! I will look into 😊

[2020-09-03 21:53] wormoworm commented on #17084
Also getting this issue, using Fastlane 2.157.2 and API 29 on Github Actions (macos agent).

[2020-09-03 21:55] joshdholtz commented on #17140
@ccalabro Hmmm, I'm a bit confused because the this is what was previously there before my changes 👇

[code]

It got the builds filtered from this version 👆 Is your current "edit version" matching with the version you are testing in TestFlight?

[2020-09-03 22:16] ccalabro commented on #17140
@joshdholtz it's a little odd how it's configured. It's actually an application that is submitted only to Tesflight for internal testers. The AppStore version is 1.0 but isn't used (never submitted), TestFlight version is 0.1 and the current build number is 548 (and growing). It'd make sense as v1.0 is greater than v0.1, but it was working before these changes.

[2020-09-03 22:19] joshdholtz commented on #17140
@ccalabro Huh... I'm honestly not sure how that was working before 😬 This did migrated from the old iTunesConnect API to the new App Store Connect API so it sounds like those API might end up returning builds in different ways 🤔 Are you able to change the App Store version to `0.1`? That should fix things for you

[2020-09-03 22:29] joshdholtz commented on #17143
@mhleiftaylor Weird! It totally shouldn't do that 😱 I'm trying to set a Business ID and Organization Name but I don't exactly know what value to put there to test this out 😬 Do you know how I get a value to put there or do you have a value I can test out with?

[2020-09-03 22:33] ccalabro commented on #17140
@joshdholtz yep, that works. Thanks for your help!

[2020-09-03 22:34] joshdholtz commented on #17140
@ccalabro Thanks for testing it out!!

[2020-09-03 22:36] joshdholtz commented on #17143
Nevermind, I got it! Going to try to get a fix for this in for you 💪

[2020-09-03 22:39] StarLard commented on #17139
I'm also having this issue

[2020-09-03 22:47] Adolf-L commented on #17141
No, I don't have privileges account. but my goal is to achieve the feature which XCode did, XCode cloud get provisioning profile even if you don't have privileges account and I want to use fastlane to make it happen!

[2020-09-03 23:12] rpassis commented on #17140
Not sure if this is the best issue to comment on but it looks like we are missing `app.create_version!` on the new `ConnectAPI::App`

[2020-09-03 23:25] joshdholtz commented on #17140
@rpassis Here ya go! https://github.com/fastlane/fastlane/blob/master/spaceship/lib/spaceship/connect_api/models/app.rb#L59-L69

[2020-09-03 23:27] joshdholtz commented on #17140
@rpassis We idon'thave that exact one right now but you can use this 👉 https://github.com/fastlane/fastlane/blob/76f9fc411118d51c2b715152d6926d273978e3dc/spaceship/lib/spaceship/connect_api/models/app.rb#L165-L181

[2020-09-03 23:28] iliao58 commented on #17140
@joshdholtz what is the replacement for `release_to_all_users` in `Spaceship::ConnectAPI` ?

[2020-09-03 23:39] joshdholtz commented on #17140
@iliao58 See my comment from up above 🙂

https://github.com/fastlane/fastlane/issues/17140#issuecomment-686493328

[2020-09-03 23:40] joshdholtz commented on #17140
I'll try to get updated doc out next week!

[2020-09-03 23:43] iliao58 commented on #17140
@joshdholtz I started a discussion back then https://github.com/fastlane/fastlane/pull/16765#issuecomment-665211485 and https://github.com/fastlane/fastlane/discussions/16961 . `post_app_store_version_release_request` seems to work for full release without going through phased release. if an app is under phased release, I dont think this api would work. But I could be wrong as I haven't tested nei

[2020-09-03 23:53] joshdholtz commented on #17140
@iliao58 I actually cannot confirm at the moment 😬 I don't have an app that is in a state for me to test that out 😔

[2020-09-04 00:01] #17132 closed

[2020-09-04 00:01] #17140 closed

[2020-09-04 00:01] joshdholtz commented on #17139
@StarLard Do you have console output wth a stack trace that you can send me?

[2020-09-04 01:30] timothycosta opened #17150 "Precheck - Unspecified error"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
Fastlane is giving me an error when I submi

[2020-09-04 03:02] qibinWang opened #17151 "app.live_version get error"
### get response error
{
{"data"=>nil, "messages"=>{"warn"=>nil, "info"=>nil, "error"=>["Not Found"]}, "statusCode"=>"ERROR"}
Traceback (most recent call last):
	5: from /Users/027/Desktop/ipa_shell_center/app_build_status.rb:29:in `<main>'
	4: from /Users/027/.rvm/gems/ruby-2.6.5/gems/fastlane-2.157.3/spaceship/lib/spaceship/tunes/application.rb:126:in `live_version'
	3: from /Users/027/.rvm/gems

[2020-09-04 03:34] kashif789us commented on #17139
Still the same error. Could this be app specific?

I tried uploading screenshots directly on AppstoreConnect and they are not uploading, getting stuck during upload :|

[2020-09-04 05:38] philCc opened #17152 "Please provide your Apple Developer Program account credentials"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

<details><summary>✅ fastlane environment ✅</summary>

### Stack

[2020-09-04 06:28] Hiroto-N commented on #17151
Seems like Apple has killed a few of the APIs around the old Tunes::Application - see https://github.com/fastlane/fastlane/issues/17140

You'll also need to replace any actions you're doing on the live_version to the new models as well

[2020-09-04 06:33] qibinWang commented on #17151
@Hiroto-N
      Thank you very much. I have noticed this problem. I am updating the code for verification

[2020-09-04 07:50] vandammeb commented on #16700
@joshdholtz we are still experiencing this issue with fastlane version 2.157.2, any update on this?

[2020-09-04 08:15] Katsz opened #17153 "Match asking for account credentials even though they are already provided"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

Duplicates #17152 in more details

### Match asking for account c

[2020-09-04 08:25] SchneMa commented on #17039
I'm having the same problem running `snapshot` or `ios screenshots`. with Fastlane 2.157.3.
Running commands with sudo leads to the following error:
**[!] File /Users/admin/Library/Developer/CoreSimulator/Devices/DD9D3F42-AA53-4551-9617-BD7BC444D376/device.plist not readable!**
I tried it on several devices and with options: erase_simulator, clean, and reinstall_app.

any news on this?

[2020-09-04 08:30] bhruszka commented on #17151
I've updated to 2.157.3 and it seems like `Spaceship::Tunes::Application.latest_version` still doesn't work unfortunately.

[2020-09-04 08:33] fatihyildizhan commented on #17039
@SchneMa Can you please share your Snapfile too. It can be helpful.

I still couldn't fix it. I am manually taking the screenshots.

[2020-09-04 08:35] fatihyildizhan commented on #17084
There is a similar problem with iOS Snapshot.

https://github.com/fastlane/fastlane/issues/17039

[2020-09-04 08:57] SchneMa commented on #17039
[code]

[2020-09-04 08:59] qibinWang commented on #17151
@bhruszka
### You can try this code

Spaceship::ConnectAPI.login("xxxxx", "xxx")

app = Spaceship::ConnectAPI::App.find("com.xxxx.app")
version = app.get_latest_app_store_version(platform:Spaceship::ConnectAPI::Platform::IOS)

puts version.app_store_state

it works for me

[2020-09-04 09:14] nellthu commented on #17140
I can confirm `download_dsyms` wasn't working for me either for the same reason but it is working now in 2.157.3. Thank you for the quick fix!

[2020-09-04 09:37] Katsz commented on #17153
Hey @joshdholtz 👋 , don't mind taking a look?

[2020-09-04 10:10] ravichandra-ayla commented on #16739
@joshdholtz I tried  Spaceship::ConnectAPI.login for login and it's working fine as expected, along with I was also using Spaceship for getting current App Store version string unfortunately I suppose to get it in app.edit_version, where now with new API it's broken.

sample code
`app = Spaceship::ConnectAPI::App.find(bundle_id)
puts "app = #{app}"
puts "app.bundle_id = #{app.bundle_id}"
puts "app

[2020-09-04 10:34] sneps85 opened #17154 "match does not select team_id since 2.157.3"
I think this commit caused the issue:
https://github.com/fastlane/fastlane/commit/00863a5c305605c4eb14d70ef34a03807d1f049a

I am using match the same way, but since 2.157.3 it goes in error as i call it from jenkins and am not able to select the team by user input.

The error I get is:

_Verifying that the certificate and profile are still valid on the Dev Portal...
The current user is in 7 teams.

[2020-09-04 10:57] paulsjohnson91 opened #17155 "Bad Request on fastlane match"
May be related to [17116](https://github.com/fastlane/fastlane/issues/17116) however I'm not running `produce enable_services` first.

When running `fastlane match appstore`, after putting in credentials I'm getting

[code]

My fastlane env:
[code]
</details>

**No Appfile found**

### fastlane gems

| Gem      | Version | Update-Status      |
| -------- | ------- | ------------------ |
| fastlane

[2020-09-04 12:07] xxsnakerxx opened #17157 "Spaceship::ConnectAPI - undefined method `team_id'"
### New Regression Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Regression Information

- Breaking version: `2.157.3`
-

[2020-09-04 12:28] noxo opened #17158 "Precheck fails (Spaceship::UnexpectedResponse)"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
fastlane precheck command fails

##### Comm

[2020-09-04 12:42] stefanomondino commented on #17153
same problem here. 2.157.2 is working but 2.157.3 isn't.

[2020-09-04 12:45] rmtchop commented on #17153
+1

[2020-09-04 12:59] polmum commented on #17140
Hey,
I have an app in phased release, and the solution proposed by @joshdholtz  [here](https://github.com/fastlane/fastlane/issues/17140#issuecomment-686493328) doesn't seem to work.
First, the app is not considered as pending release, but as live, so I had to use the get_live_app_store_version method.
Second, calling post_app_store_version_release_request returns the following error:
`Spaceship::

[2020-09-04 13:19] TewWe commented on #17154
We are also encountering this bug. Pls. note that you can work it around, if you set the `FASTLANE_TEAM_ID`env variable.

[2020-09-04 13:19] TewWe commented on #17154
Also, I think this is a duplicat of #17153

[2020-09-04 13:30] joshdholtz commented on #17140
@polmum Thanks for trying! I don't have an app in a phased release state myself so I will see how soon I can get one of my personal apps reviewed to the state.

I really only have one chance to observe the request but that should be enough for me to adjust _fastlane_ to work. So hopefully the app will get approved for that early next week 🤞

I'm going to create a new issue for phased release.

[2020-09-04 13:31] joshdholtz commented on #17153
Looking into! Sorry about issue 😔

[2020-09-04 13:31] joshdholtz commented on #17154
Looking into! Duplicate of #17153. Sorry, fam 😔

[2020-09-04 13:31] #17154 closed

[2020-09-04 13:32] joshdholtz commented on #17155
Looking into right away. Sorry fam 😔

[2020-09-04 13:32] joshdholtz commented on #17157
Looking into right away!

[2020-09-04 13:38] joshdholtz commented on #17152
Duplicate of #17153. Working on now. Sorry about issue 😔

[2020-09-04 13:44] joshdholtz commented on #17153
I think I got a fix but I'm doing a bit more testing. I should have a PR out in about 20 minutes for testing. Sorry about about the issue 💔

[2020-09-04 13:49] noxo commented on #17158
looks similar as #17150

[2020-09-04 13:51] HimaniPatelTH commented on #17147
@bensig  i am facing same issue in android . any luck for solution ?

[2020-09-04 13:57] Katsz commented on #17158
Got same exact error by calling `Spaceship::Tunes::Application::latest_version`

[code]

It seems like apple messing with API as it was working few hours ago at `2.149.1` as well as `2.157.2`.

[2020-09-04 15:05] joshdholtz commented on #17153
Hey fam! Got a fix in PR #17160. Instructions below if you are able to test if this fixes it for you 👇

My apologies and ❤️s for causing this!

### Testing Steps

Update `Gemfile` and run `bundle update fastlane`, `bundle update`, or `bundle install`

[code]

[2020-09-04 15:12] joshdholtz commented on #17155
This should be fixed in `2.157.3` but might also want to wait until #17160 gets merged 😇

[2020-09-04 16:23] mikedoubintchik opened #17161 "latest_testflight_build_number receiving error: [!] no implicit conversion of Integer into String"
### New Regression Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Regression Information

- Breaking version: [e.g. `2.157

[2020-09-04 16:28] mdyson commented on #17151
I have a similar issue happening when I upload builds using pilot, when I'm uploading my build to app store connect it succeeds and does show up in app store connect, but fastlane reports it as an error. The only thing I've recently changed was updating to the latest version of fastlane (2.157.3).

[code]

[2020-09-04 16:38] mikedoubintchik opened #17162 "latest_testflight_build_number receiving error: [!] no implicit conversion of Integer into String"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

latest_testflight_build_number receiving e

[2020-09-04 16:38] mikedoubintchik commented on #17161
Closing in favor of this bug: https://github.com/fastlane/fastlane/issues/17162

[2020-09-04 16:46] mikedoubintchik commented on #17162
Was a ruby usage error. Just had to wrap the lines in #{}

[2020-09-04 16:46] #17162 closed

[2020-09-04 17:05] #17153 closed

[2020-09-04 17:05] #17155 closed

[2020-09-04 17:05] #17157 closed

[2020-09-04 17:19] paulsjohnson91 commented on #17155
Thanks for the quick turnaround!

[2020-09-04 17:32] #16952 closed

[2020-09-04 17:33] tedgonzalez commented on #16184
Activity

[2020-09-04 17:48] joshdholtz commented on #17152
This should be fixed in `2.157.4` which was just released!

[2020-09-04 17:48] #17152 closed

[2020-09-04 17:55] vsharp commented on #17158
Getting the same error when checking for latest version.

[2020-09-04 17:58] joshdholtz commented on #17158
I got this fixed in a local branch and will have a PR up in a few hours! Most of `Spaceship::Tunes` is no longer working and everything is getting migrated over to `Spaceship::ConnectAPI`.

[2020-09-04 18:03] joshdholtz commented on #17161
Will look into!

[2020-09-04 18:15] joshdholtz commented on #17151
Hello! Most things in `Spaceship::Tunes` (legacy private API) are being deprecated are being switched over to `Spaceship::ConnectAPI`(official public API). I will be working on getting a doc up next week of the equivalent calls and what is all actually migrated.

[2020-09-04 18:26] NicholasIoanJones opened #17164 "screengrab Unable to get a screenshot storage directory"
- [X] Updated fastlane to the latest version
- [X] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [X] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [X] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
Running screengrab through fastlane but getting "Unable to capture s

[2020-09-04 18:55] ElectrifyPowr commented on #16604
We are also having this issue.
It is not just Arabic, Korean, Japanese, and Thai. Following are the language-codes/locales that result in unexpected framed screenshots:

- hy
- zh
- ja
- ko
- hi
- am
- th
- ar
- bn
- fa
- gu
- ka
- km
- kn
- lo
- ml
- mr
- my
- ne
- pa
- si
- ta
- te

The only workaround we found so far was to remove the `keyword.strings` file. This results in no text in the scree

[2020-09-04 19:35] polmum commented on #17140
Hey @joshdholtz,
I added the needed methods and api request, tested it successfully with my app, and created a pull request #17165. Let me know if the changes work for you.

[2020-09-04 19:37] joshdholtz commented on #17140
OMG MY HERO! Thank you 😊 I will review and get released as soon as possible! I'll still try to get one of my apps in a state to test this out early next week 😉

[2020-09-04 19:49] polmum commented on #17140
Sure, sounds good!
I forgot to mention how it would be used. I did not create any helper methods, so you have to update the phased release object:
[code]

You can also call `pause` and `resume`

[2020-09-04 20:10] devzhr commented on #17069
my problem is:

Fastlane code:
[code]

error:

` Missing username, and running in non-interactive shell
`

[22:02:01]: fastlane finished with errors
 Looking for related GitHub issues on fastlane/fastlane...
 ➡️  Fastlane Pilot fails after successfully uploaded and submission due to missing password
     https://github.com/fastlane/fastlane/issues/17069 [open] 5 💬
     3 days ago
 ➡️  Could not re

[2020-09-04 20:11] joshdholtz commented on #17139
@kashif789us Can you inspect the requests in your browser to see if you see any 500s happening there too? 🤔

[2020-09-04 20:30] joshdholtz commented on #17161
@mikedoubintchik  Ahhhh... it looks like build number was returned as a string in the legacy API and now an int in the App Store Connect API 😱 I did not realize that 😔

[2020-09-04 20:38] mikedoubintchik commented on #17161
They always changing things on us!

[2020-09-04 20:41] reshadf commented on #17147
we have the same issue. Tried to release today and bumped into this.

[2020-09-04 20:43] joshdholtz commented on #17161
Keeps us on your toes! 😇

[2020-09-04 20:55] joshdholtz commented on #17161
@mikedoubintchik I'm actually confused here 😱

`app_store_build_number` (which `test_flight_build_number`) uses has this 👉  https://github.com/fastlane/fastlane/blob/master/fastlane/lib/fastlane/actions/app_store_build_number.rb#L18-L22

It says `# Convert build_nr to int (for legacy use) if no "." in string` so now I'm confused on what it was doing and what its supposed to be doing 🤔

[2020-09-04 20:58] mikedoubintchik commented on #17161
Why would a build number have a dot in it? Very strange indeed

[2020-09-04 21:06] mikedoubintchik commented on #17161
I think it's ok to leave it as is. I got it working by wrapping any usage of these functions like this `#{latest_testflight_build_number.to_i}`

[2020-09-04 21:32] joshdholtz commented on #17161
Cool cool! Thanks for being so flexible 😊 I'll close this for now then! Hit me up if you notice anything else 💪

[2020-09-04 21:32] #17161 closed

[2020-09-04 21:51] #17150 closed

[2020-09-04 21:51] #17158 closed

[2020-09-05 04:41] fatihyildizhan commented on #17164
There is a similar problem with iOS Snapshot. https://github.com/fastlane/fastlane/issues/17039

[2020-09-05 10:20] Adolf-L commented on #17141
fastlane doesn't suppport this feature ( personal account)!  so don't try do this.  I would closed this issue

[2020-09-05 10:20] #17141 closed

[2020-09-05 15:08] iBotPeaches commented on #17014
Adding a comment as I believe this is what I've tracked down.

My blob

[code]

The error
[code]

As digging into it, it is exactly as mentioned above. I started looking at the code and it looks like it is inverted accidentally, since if `app_id_equals_bundle_id` it seems like you wouldn't want to edit the xcodeproj. If they were different (like they are for me) then we do need to switch it out.

[2020-09-05 15:49] mikedoubintchik opened #17170 "This bundle is invalid. The value for key CFBundleShortVersionString in the Info.plist file must contain a higher version"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

I have my CFBundleShortVersionString set t

[2020-09-05 16:47] TonyStarkBy commented on #16365
v2.158.0 - Same here.

Install v2.138: `sudo gem install fastlane:2.138`
Use it: `fastlane _2.138.0_ frameit`

[2020-09-05 17:31] #16958 closed

[2020-09-05 17:31] #16690 closed

[2020-09-05 17:32] #16610 closed

[2020-09-05 17:32] #15834 closed

[2020-09-06 00:54] rogerluan commented on #16956
I'd like to encourage us to keep this discussing on going here https://github.com/fastlane/fastlane/discussions/17059

[2020-09-06 01:45] qibinWang commented on #17151
@joshdholtz
  Thank you very much.  I will try next week after the doc update

[2020-09-06 01:49] qibinWang commented on #17151
@mdyson
Some old API  are being deprecated. you can update to the latest API.  just like @joshdholtz  said

[2020-09-06 05:39] frontenddeveloping commented on #16991
Same issue

[2020-09-06 05:42] kashif789us commented on #17139
I am receiving the following error when screenshot fails to upload on Appstore Connect:

<img width="2045" alt="Screenshot 2020-09-06 at 10 41 14 AM" src="https://user-images.githubusercontent.com/2913187/92319040-ae7f6300-f02d-11ea-9841-c0057e9d83b4.png">

[2020-09-06 07:29] fzyzcjy opened #17171 "error: exportArchive: exportOptionsPlist error for key 'uploadBitcode': cannot upload bitcode because bitcode is imbalanced"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

When building, the following error happens

[2020-09-06 08:07] fzyzcjy opened #17172 "`Match` creates Provisioning Profiles with wrong "Enabled Capabilities""
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

I use `fastlane match appstore` to create

[2020-09-06 09:01] cguentherTUChemnitz commented on #16996
Fastlane bot please please do not close this issue. This is still important for me.

[2020-09-06 09:42] rubenstolk commented on #16991
Same issue

[2020-09-06 10:40] RaminAfhami993 commented on #16075
same issue in win10. Is there any update?

.............................

[2020-09-06 10:41] RaminAfhami993 commented on #16075
same issue in win10. Is there any update?

[2020-09-06 11:47] kadam840 commented on #16075
No. But solved it by modifying the library. I did comment the code where it
was checking for executable file.

On Sun, 6 Sep, 2020, 4:11 pm RaminAfhami993, <notifications@github.com>
wrote:

[2020-09-06 19:12] Faltenreich opened #17174 "[screengrab] Screenshots copied to wrong directory on Windows"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
Screenshots seem to be copied to a temporar

[2020-09-06 21:32] SankalpSharmaSDET opened #17175 "No version: provided when calling the `ensure_xcode_version` action"
Environment Details:

macOS Cataline 10.15.6

Xcode 11.6
Build version 11E708

carthage --version
0.35.0

$ swiftlint version
0.39.2

$ ruby --version
ruby 2.6.3p62 (2019-04-16 revision 67580) [universal.x86_64-darwin19]

$ fastlane --version
fastlane installation at path:
/Users/username/.gem/gems/fastlane-2.158.0/bin/fastlane
-----------------------------
[✔] 🚀
fastlane 2.158.0

----------------

[2020-09-07 02:45] rogerluan commented on #16854
We still need this, bot 😇

[2020-09-07 02:47] rogerluan commented on #16799
Closing this issue.
Current workaround: https://github.com/fastlane/fastlane/issues/16799#issuecomment-657170824
Future improvement: https://github.com/fastlane/fastlane/issues/16854

[2020-09-07 02:47] #16799 closed

[2020-09-07 04:59] RaminAfhami993 commented on #16075
thanks.

I did this to library!!

[code]

[2020-09-07 07:03] noxo opened #17176 "Precheck fails (undefined method `copyright' for nil:NilClass (NoMethodError))"
### New Issue Checklist

- [x ] Updated fastlane to the latest version
- [ x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x ] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x ] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
precheck fails in v2.158.0

##### Comma

[2020-09-07 08:08] Katsz commented on #17172
Strictly speaking you can't disable Game Center and In-app Purchase capabilities anymore. They are automatically added when you creating new bundle id. But they don't affect your app in any way, so you may just neglect them.

[2020-09-07 08:59] TPXP opened #17177 "Match should also take into account FASTLANE_SESSION when checking for certificates validity"
🔑

### New Issue Checklist

- [x] Updated fastlane to the latest version - same issue with the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
I'm

[2020-09-07 09:11] fzyzcjy commented on #17172
@Katsz Thanks very much!

[2020-09-07 09:11] #17172 closed

[2020-09-07 09:56] vadimleonov opened #17178 "upload_to_play_store_internal_app_sharing not uploading the build."
### Issue Description
I'm following [this lane](https://docs.fastlane.tools/actions/upload_to_play_store_internal_app_sharing/#parameters-legend-dynamic) written by @andrewhavens to upload Android build to the Internal App Sharing.

Everything works fine, the output always is like:

[code]

But after copy-pasting the URL to the browser it returns me: `Not Found Error 404` and seems that the link i

[2020-09-07 10:12] joshdholtz commented on #17176
Will look into right away!

[2020-09-07 13:11] lolucosmin commented on #17164
Similar, contains also the reproduced steps(config): #17084

[2020-09-07 14:41] SEGVeenstra commented on #17066
I have the same issue. I use an API KEY that has App Manager level but it still fails to upload.
[code]

[2020-09-07 17:31] #16977 closed

[2020-09-07 17:32] #16924 closed

[2020-09-07 17:32] #16594 closed

[2020-09-07 17:32] #16548 closed

[2020-09-07 21:30] JohanBeumer opened #17181 "Return actual error message when action upload_to_testflight runs on error"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
I want to be able to get the error I get fr

[2020-09-08 01:35] seanrogs commented on #17089
This still isn't working for me. Can anyone else confirm?

[2020-09-08 02:36] meiry opened #17183 "Fastline can't find file , also ignuring colon in string from AzureDevOps pipline"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
executing from azure DevOps pipeline
this i

[2020-09-08 05:10] iollllllloi opened #17185 "Error Domain=IDEFoundationErrorDomain Code=1 "ipatool failed with an exception: #<CmdSpec::NonZeroExitException"
2020-09-08 05:01:11 +0000 [MT] Step failed: <IDEDistributionPackagingStep: 0x7ff31b1af740>: Error Domain=IDEFoundationErrorDomain Code=1 "ipatool failed with an exception: #<CmdSpec::NonZeroExitException: $ /Applications/Xcode.app/Contents/Developer/usr/bin/python3 /Applications/Xcode.app/Contents/Developer/usr/bin/bitcode-build-tool -v -t /Applications/Xcode.app/Contents/Developer/Toolchains/Xcod

[2020-09-08 05:20] iollllllloi commented on #17185
<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                         | Value                                                          |
| --------------------------- | -------------------------------------------------------------- |
| OS                          | 10.15.6                                                        |
| Ruby                        | 2.6.3

[2020-09-08 06:39] HimaniPatelTH commented on #17147
@reshadf  that solution worked . Thank you 👍

[2020-09-08 06:45] labolado commented on #16911
I meet this problem. My account is admin.

Fastlane version:  2.158.0

my deliver config:
[code]

error message:
[code]

[2020-09-08 06:52] labolado commented on #16911
It will be ok if I comment this line:
 automatic_release: false

[2020-09-08 09:13] vinksnojoqs commented on #16604
I also shared the Fastlane environment to help you to figure it out. If there is something to solve this issue, we would like to help you too.

[2020-09-08 09:29] ravichandra-ayla commented on #16739
@joshdholtz  any update on this? Our build process is struck now. Would be great if you can help to resolve this issue.

[2020-09-08 09:31] lolucosmin commented on #17084
Yes, but if you downgrade to fastlane: 2.154.0 and API 29 will works. Weird issue. I am waiting a new fastlane release, I hope they will fix this major issue.

[2020-09-08 10:34] Skoti commented on #16749
so the fix for this issue in #16774 - is actually the workaround for #13718
it's good to know the reason though 😄  thanks!

[2020-09-08 15:08] andrewclaus commented on #16739
I use the edit_version to release what I have pending for developer for release, and I found this here that might work for me: https://github.com/fastlane/fastlane/blob/76f9fc411118d51c2b715152d6926d273978e3dc/spaceship/lib/spaceship/connect_api/models/app.rb#L233

There is also another method above that something that seems like the edit_version: https://github.com/fastlane/fastlane/blob/76f9fc41

[2020-09-08 15:27] ISDr opened #17187 "fastlane deliver - automatic_release always on true - new app submissions only"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
When submitting a new app for the first tim

[2020-09-08 16:14] thejeff77 opened #17188 "Fastlane Env outputs email, team id, developer id, app id. Cannot remove from github's closed issues"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [X] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [X] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Hey there! I've submitted bugs here before

[2020-09-08 16:19] thejeff77 commented on #17188
Yep this is on purpose fastlane bot! The bug is a report about this sort of behavior...

[2020-09-08 17:24] mhleiftaylor commented on #17143
@joshdholtz Thank you very much for following up with this!

[2020-09-08 20:51] #17183 closed

[2020-09-08 20:51] meiry commented on #17183
in the end, i use Fastfile and it eliminated me most of those unclear problems, but opened new ones....

[2020-09-08 21:12] meiry opened #17189 "In Azure DevOps Pipeline : Getting : security: SecKeychainItemImport: The specified keychain could not be found , reports finished successfully"
### New Issue Checklist

- [ x] Updated Fastlane to the latest version
- [x ] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x ] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x ] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
i trying to use Fastlane only for build

[2020-09-08 22:42] billibala commented on #17113
I think I ran into the same issue. In my case, I ran `fastlane pilot add` command.

[code]

[2020-09-09 01:30] srockytfl opened #17192 "Plugin works locally, but not on gitlab pipeline (plugins not loaded)"
Hi, I'm doing a simple Android pipeline with GitLab. I just add two simple plugins like get_version_code e increment_version_code and everything works well on my machine. But in the gitlab pipeline I have this error:
It seems like you wanted to load some plugins, however they couldn't be loaded
ERROR [2020-09-08 18:06:15.55]: Please follow the troubleshooting guide: https://docs.fastlane.tools/plu

[2020-09-09 04:01] njoyjoy commented on #17151
Hi.  I'm a bit lost.  Fastlane no longer works for us.  Is this the same error as here:

bundler: failed to load command: fastlane (/usr/local/bin/fastlane)
Spaceship::UnexpectedResponse: [!] {"data"=>nil, "messages"=>{"warn"=>nil, "error"=>["Not Found"], "info"=>nil}, "statusCode"=>"ERROR"}
  /Library/Ruby/Gems/2.6.0/gems/fastlane-2.158.0/spaceship/lib/spaceship/client.rb:719:in `parse_response'

[2020-09-09 07:48] meiry commented on #17189
also added log_output:true to the import_certificate
and its show me :
[code]
but when i do :
ls -la /Users/runner/Library/Keychains/
i can see the file :
[code]

[2020-09-09 08:05] #17062 closed

[2020-09-09 08:08] max-ott commented on #17185
Hi there, not sure what your issue is. Please re-open it with a clear description following our issue templates.

[2020-09-09 08:08] #17185 closed

[2020-09-09 08:15] max-ott commented on #17175
Hi there, I'm not sure what the problem is. Could you please re-open a new issue following our issue templates with more information? What are you doing?

[2020-09-09 08:15] #17175 closed

[2020-09-09 08:17] max-ott commented on #17170
If you open the project / workspace in Xcode, what version / build numbers are shown?

[2020-09-09 08:19] max-ott commented on #17151
@njoyjoy Without showing what commands you actually run, this is not very helpful. To keep things on-topic please only provide useful information related to the issue. If you think this is a different problem, open a new issue. 🙏

[2020-09-09 08:20] #17147 closed

[2020-09-09 08:26] max-ott commented on #17113
A lot of stuff is still affected from the recent App Store Connect API changes. I'm not sure if @joshdholtz already advanced to the depths of TestFlight. In general I would advice to remove any ``Spaceship::Tunes`` calls and replace them properly with the new ``ConnectAPI``ones.

[2020-09-09 08:26] #17100 closed

[2020-09-09 08:28] #17082 closed

[2020-09-09 08:30] max-ott commented on #17074
Please follow our issue templates and add all relevant / requested information.

[2020-09-09 08:30] #17074 closed

[2020-09-09 08:31] max-ott commented on #17069
Could you please update all to the latest Fastlane version and check if the issue persists? Please always include your Fastlane environment.

[2020-09-09 08:31] #17069 closed

[2020-09-09 08:33] max-ott commented on #17066
@SEGVeenstra Did it work in the end with your EDIT 2?

[2020-09-09 08:35] SEGVeenstra commented on #17066
Yes

[2020-09-09 08:52] #17066 closed

[2020-09-09 08:59] hollanderbart commented on #16545
I got the same issue. You're not able to create new AppleIDs without 2FA auto-enabled. And there's no way to disable 2FA after it's enabled.
What a mess :-(

[2020-09-09 09:04] max-ott commented on #16545
It's no longer possible to create Apple IDs without 2FA. @joshdholtz is working hard to enable authentication across the board with the new App Store Connect API, which allows authentication through the key etc.

[2020-09-09 09:41] elmartino commented on #16991
Yep, same issue here

[2020-09-09 11:05] chiformihai opened #17193 "snapshot works locally, but not on CircleCI"
### New Issue Checklist

- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] Updated fastlane to the latest version
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Hello, I'm trying to automate the screensh

[2020-09-09 12:22] hzeraat2 commented on #17151
@max-ott we are having the same issue with a few iOS Fastlane commands such as:
**latest_testflight_build_number**

[2020-09-09 13:25] mikedoubintchik commented on #17170
They are the correct ones in xcode, matching the info.plist file

[2020-09-09 14:14] qibinWang commented on #17151
@max-ott
When I got a build from the get_builds API, I couldn't find the property to get the build number,like "1.0.0"
![image](https://user-images.githubusercontent.com/18628138/92609865-9f2c3e00-f2e9-11ea-808f-78b3653f4c52.png)

how can i get the  "CFBundleShortVersionString" version.
I looked at the code “build,rb” and didn't seem to find anything available 。

![image](https://user-images.githu

[2020-09-09 15:13] tmaly1980 commented on #17193
From what it sounds like, it's almost as if your devices parameter to snapshot is a string, rather than an array. Even though I see how you assign it as an array prior. Have you tried running "UI.message devices" (prior to calling snapshot, to confirm it's an array) or hardcoding the device list inside snapshot()?

[2020-09-09 15:17] tmaly1980 commented on #17164
I'm experiencing this problem at least on CircleCI, with zero explanation. Any ideas? Is this due to changes in fastlane?

[2020-09-09 15:20] chiformihai commented on #17193
I am currently passing the devices to snapshot, but I also tried specifying them in Snapfile and a combination of both and still get the same error.

I also tried executing the action using `bundle exec fastlane snapshot --devices [] ...` and then passing the parameters there, with the same result.

I saw that fastlane is using Simctl for booting up devices and I used it too to list all the device

[2020-09-09 15:30] tmaly1980 commented on #17084
Thanks for the suggestion, I'm attempting this now. I'm noticing the issue specifically only on CircleCI - locally I don't believe it's a problem.

[2020-09-09 15:41] messeb commented on #17069
It still fails in the same way with version **2.158.0**.

### Environment

<details>
### Stack

 | Key                         | Value                                                                 |
 | --------------------------- | --------------------------------------------------------------------- |
 | OS                          | 10.15.4

[2020-09-09 16:15] pronebird opened #17198 "erase_simulator does not work with Xcode 11.6"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [ ] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [ ] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

It looks the `erase_simulator` & `reinstal

[2020-09-09 16:24] chiformihai commented on #17193
One other thing that I tried was to run **scan** with _derived_data_path_  and _build_for_testing: true_ and then to execute **snapshot** with _test_without_building: true_ but with this method it fails @ **scan** with

error

Again, this method worked perfectly fine on my local machine

[2020-09-09 16:27] tmaly1980 commented on #17193
This is basically what I'm running:

[code]

I don't follow your last comment, can you show specifics (ie code)?

[2020-09-09 16:33] chiformihai commented on #17193
`scheme = "ScreenshotsScheme"
    workspace = "./ios/app.xcworkspace"
    path = "~/Library/Developer/Xcode/DerivedData/AppDevelopment"
    devices = [
      "iPhone 11"
    ]

    scan(
        build_for_testing: true,
        code_coverage: false,
        derived_data_path: path,
        devices: devices,
        scheme: scheme,
        workspace: workspace,
        reset_simulator: true,

[2020-09-09 17:23] chmiiller commented on #17193
Do you think that https://github.com/fastlane/fastlane/issues/12986 is related? Someone is mentioning there that:

Don't know, just trying to help 😬

[2020-09-09 17:27] chiformihai commented on #17193
I just got it working with a different XCode image set up on Circle. I tried only with the most recent ones, but **11.2.1** seems to be the winner.

We're limited on using node version 10 or 12 due to some dependencies in our project, so this Xcode image is the most recent that comes with node 12, for the other ones I had to manually install node 10 during Circle setup and maybe I was messing some

[2020-09-09 17:31] #16981 closed

[2020-09-09 22:10] Tobrek commented on #17003
Any news at this issue?

[2020-09-10 00:31] ricardopereira opened #17202 "download_dsyms: 'Could not find latest bulid for version' error but version exists in App Store Connect"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

I'm trying to download the latest dSYM fil

[2020-09-10 01:27] kevinmun commented on #17202
I actually have some similar error, but getting

`INFO [2020-09-10 09:26:03.43]: Login successful
INFO [2020-09-10 09:26:04.08]: Looking for latest version...
INFO [2020-09-10 09:26:06.05]: --------------------------
INFO [2020-09-10 09:26:06.05]: --- Step: notification ---
INFO [2020-09-10 09:26:06.05]: --------------------------
WARN [2020-09-10 09:26:06.29]: Lane Context:
INFO [2020-09-10 09:26

[2020-09-10 01:37] gligorkot opened #17203 "[action] last git tag with pattern intermittently doesn't return expected tag when commit has multiple tags"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

When a commit is tagged with multiple tags

[2020-09-10 02:20] timothycosta commented on #17150
Looks good!

[2020-09-10 06:14] ravichandra-ayla commented on #16739
@andrewclaus great thanks. I got an API where I can get edit version string. Thanks.

`latest_app_version = app.get_app_store_versions.first.version_string`

Anyway connect API uses get_app_store_versions API inside get edit version API so I am directly using it to get version string.

[2020-09-10 07:26] pronebird commented on #17198
I have tried to erase sims manually with this script:

[code]

So it might be the same issue with fast lane. I then manually killed everything that said "Simulator" in the Activity Monitor,  then `xcrun simctl erase all` worked

[2020-09-10 08:05] pronebird commented on #17198
Closing because I had a pre-action hook that booted the sim to clean the status bar, which seems like it caused some sort of conflict. The newer Fastlane also supports `override_status_bar` too. 👍

[2020-09-10 08:05] #17198 closed

[2020-09-10 09:45] ameffert commented on #16975
Same problem 7 weeks later:

ERROR [2020-09-10 11:38:40.54]: The request cannot be fulfilled because of the state of another resource. - Submit for review errors found.
App screenshot missing (APP_IPAD_PRO_3GEN_129). - A screenshot with type ipadPro129 is required but was not provided

[2020-09-10 11:36] MarMarIV opened #17208 "undefined method `get_app_info_localizations' for nil"
I get fastlane error, when using this command:

fastlane precheck -u mail@domain.com -a app_ident

Any suggestions to solve problem?

**Log:**
INFO [2020-09-10 13:05:18.47]: Successfully logged in
INFO [2020-09-10 13:05:18.47]: Checking app for precheck rule violations

Looking for related GitHub issues on fastlane/fastlane...
Search query: undefined method `get_app_info_localizations' for nil

UR

[2020-09-10 11:41] lyf571321556 opened #17209 "Fastlane match fails to import private key into keychain"
fastlane 2.154.0

encrypt step:

openssl pkcs12 -nocerts -nodes -out key.pem -in xxxx.p12 -password pass:$MATCH_PASSWORD
openssl aes-256-cbc -k $MATCH_PASSWORD -in key.pem -out $CERT_ID.p12 -a
openssl aes-256-cbc -k $MATCH_PASSWORD -in xxxx.cer -out $CERT_ID.cer -a

fastlane match log:
INFO [2020-09-10 11:24:53.93]: $ security import /var/folders/17/5mc7816d3mndxjqgplq6057w0000gn/T/d20200910-9738-

[2020-09-10 11:43] lyf571321556 commented on #17209
╰ fastlane env
[✔] 🚀
[19:42:33]: Get started using a Gemfile for fastlane https://docs.fastlane.tools/getting-started/ios/setup/#use-a-gemfile
[19:42:36]: Generating fastlane environment output, this might take a few seconds...
<details><summary>🚫 fastlane environment 🚫</summary>

### Stack

| Key                         | Value                                       |
| ------------------------

[2020-09-10 13:33] Thangaraj-M commented on #16991
Getting the same issue

[2020-09-10 17:32] #16681 closed

[2020-09-10 18:04] ConfusedVorlon opened #17214 "Auto Setup (fastlane init) doesn't work for MacOS app"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

I ran `fastlane init` for my MacOS app, ch

[2020-09-10 19:15] #17203 closed

[2020-09-10 21:08] radko93 commented on #17140
Anyone would be able to point out what privilege API key has to have to run `download_dsyms`?

[2020-09-10 22:09] invoodoo commented on #17202
Me too, having the same issue.

Fetching App Version on iTunes Connect...
+------------------+--------+
|       Lane Context        |
+------------------+--------+
| DEFAULT_PLATFORM | ios    |
| PLATFORM_NAME    | ios    |
| LANE_NAME        | ios tf |
+------------------+--------+
[15:08:25]: {"data"=>nil, "messages"=>{"warn"=>nil, "error"=>["Not Found"], "info"=>nil}, "statusCode"=>"ERROR"}

[2020-09-10 23:15] algorithminflux opened #17217 "'Unexpected token' error when attempting to use App Store Connect API JSON file"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the Contribution Guidelines
- [x] I read docs.fastlane.tools
- [x] I searched for existing GitHub issues

### Issue Description

I'm trying to publish my iOS app to TestFlight on the App Store using Azure DevOps. I first tried with username and password, but I couldn't get 2FA working. Then I saw App Store Connect A

[2020-09-11 00:18] lewchuk-span opened #17219 "Not Found error during login or latest_testflight_build_number"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
I am using a lane that has the step `latest

[2020-09-11 02:26] billibala commented on #17113
I find that session cookie seems to expire a lot faster now. In my case, I was able to get the same command working by supplying a new session cookie using `fastlane spaceauth`

[2020-09-11 06:53] suren-singh commented on #17151
@joshdholtz @max-ott I am having issue in resolution_center.
My Code is,
`Spaceship::ConnectAPI.login(ENV['FASTLANE_USER'],ENV['FASTLANE_PASSWORD'])`
`app = Spaceship::ConnectAPI::App.find(ENV['BUNDLE_ID'])`
`liveVersion = app.get_latest_app_store_version(platform:Spaceship::ConnectAPI::Platform::IOS)`
`editVersion = app.get_edit_app_store_version(platform: Spaceship::ConnectAPI::Platform::IOS)`
`

[2020-09-11 07:25] Theodoroyb commented on #17135
Thank you for posting something like this

[2020-09-11 08:14] saltyskip commented on #17029
Bump

[2020-09-11 10:08] talasnaly commented on #15270
Your blog is simply amazing, congratulations on your great work!

[2020-09-11 12:17] GitMAM commented on #16892
I have the same issue on version `2.159.0`

`[21:56:07]: ----------------------------------
[21:56:07]: --- Step: upload_to_testflight ---
[21:56:07]: ----------------------------------
[21:56:07]: Login to App Store Connect (xxx@xxx)
[21:56:09]: Login successful
[21:56:12]: Ready to upload new build to TestFlight (App: XXX)...
[21:56:13]: Fetching password for transporter from environment variabl

[2020-09-11 12:51] mcfarljw commented on #16991
I'd say this happens nearly 50% of the time when trying to run the bit of code referenced below which updates the release notes and version. Even when it fails with the `Cannot update languages - could not find an editable version for 'IOS'` error App Store Connect seems to show the updated metadata and version so I'm not sure what is failing since it seems to be successful. The problem is when I

[2020-09-11 13:35] NicholasIoanJones commented on #16997
I am not seeing this error anymore, possibly due to latest fastlane version, possibly because of configuration changes in my environment.

[2020-09-11 13:35] #16997 closed

[2020-09-11 13:38] aln787 commented on #16992
@fastlane-bot it appears this issue hasn't been resolved.

[2020-09-11 15:59] jmbrocal opened #17222 "Fastlane.swift crashes after first installation"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
Hi folks!

It is my first time using Fastla

[2020-09-11 16:34] AnD010 opened #17223 "Problem with git"
### Issue Description
Hi I have two errors with integration git in my lane

[code]
##### Command executed
the first error is when using
`ensure_git_status_clean`
**[!] Git repository is dirty! Please ensure the repo is in a clean state by committing/stashing/discarding all changes first.**
But I don´t have files without committed
[code]
And the other  error when  I comment  #ensure_git_status_clea

[2020-09-11 17:36] lewchuk-span commented on #17219
Seems like this may have been resolved on Apple's side? A build this morning with 159 succeeded at `Friday, September 11, 2020 8:00:18 AM GMT-07:00`. If others are also no longer hitting the issue we can probably close it. Is there a status page/issue tracker for the app store connect apis?

[2020-09-11 17:40] sanpoChew commented on #17219
all green according to this https://developer.apple.com/system-status/

I'm getting 500 errors from latest_testflight_build_number which I assume is the same issue

[2020-09-11 18:17] patreu22 commented on #16939
Hey @max-ott

Did you do anything else to make that snippet work? An app with an up-and-running app that is marked as "Ready for sale" in AppStoreConnect returns a nil for the app_store_version. I updated to the most recent fastlane version 2.159.0.

[2020-09-11 18:20] lewchuk-span commented on #17219
@sanpoChew I've confirmed for both my CI and my local setup that I no longer have this issue. My output doesn't have any status code in it, but it looked like a pretty standard `<h3>Not Found</h3>` page so I'd have expected it would be a 404 not 500.

[2020-09-11 20:50] withzombies commented on #17202
I'm having the same error when fetching the current version of one of my apps

[code]

[2020-09-11 20:51] abraaolevi opened #17224 "Failed to open TCP connection to appstoreconnect.apple.com:443"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

After updated fastlane to the latest versi

[2020-09-11 22:36] patreu22 opened #17225 "[frameit] Wrong background image is used for Screenshot generation"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

I'm using the frameit feature of Fastlane

[2020-09-12 02:51] chriswilke commented on #16991
fastlane 2.159.0

Mine also dies ~50% of the time using this configuration.

    deliver(submit_for_review: true,
            skip_binary_upload: true,
            skip_app_version_update: false,
            skip_screenshots: "true",
            force: true,
            app_rating_config_path: "./fastlane/metadata/rating_config.json",
            metadata_path: "./fastlane/metadata/#{ENV['SCHEME']

[2020-09-12 09:35] EmDee commented on #15959
AFAIK it is not fixed.

[2020-09-12 10:29] sanpoChew commented on #17219
ah might have been a separate issue then, not getting 500's anymore though

[2020-09-12 13:39] matcartmill commented on #17202
Same issue here.

[code]

[2020-09-12 14:37] benkane commented on #17202
I had the same issue when uploading to TestFlight, skipping processing, then uploading to app store while skipping the binary upload (i.e. update the app store listing).

The new version exists pending submission, TestFlight upload succeeded, but updating the app store listing failed. I chalked it up to needing to explicitly set an app_version at first, but it was checking for the correct version.

[2020-09-12 14:47] benkane commented on #17202
Potentially fixed by 17148?

[2020-09-12 15:55] patreu22 commented on #17225
Just to give a better example, this is how the latest screenshots look for the iPhones:
![image](https://user-images.githubusercontent.com/11362357/92999423-fd8f3180-f520-11ea-8478-91f47c2a3da0.png)

That's how they look for the iPad Pro (3rd generation):
![image](https://user-images.githubusercontent.com/11362357/92999434-18fa3c80-f521-11ea-980d-7ee2a84d12e6.png)

And that's how they look for the

[2020-09-12 16:50] rogerluan commented on #16991
@joshdholtz I quickly debugged this and my guts tell me this is a race condition between "new app version creation" and "reading the app versions" - either on our end or Apple's. Hopefully it's on our end. Do you know if this line executes synchronously or async? https://github.com/rogerluan/fastlane/blame/master/spaceship/lib/spaceship/connect_api/tunes/tunes.rb#L760

A next testing step would be

[2020-09-12 17:30] ozgur commented on #17135
@joshdholtz sorry for the late reply.

It looks like the problem has been resolved after I updated fastlane using **master** branch:

[code]

Thank you for your effort.

[2020-09-12 17:30] #17135 closed

[2020-09-12 17:32] #16984 closed

[2020-09-12 17:32] #16980 closed

[2020-09-12 17:52] dotdoom commented on #17046
This regression is still present with the latest fastlane.

[2020-09-12 20:30] notRly commented on #17202
didn't work for me

[2020-09-13 17:32] #16625 closed

[2020-09-13 17:35] #16881 closed

[2020-09-14 05:10] khawkins commented on #17151
@suren-singh As near as I can tell, API access to Resolution Center was not ported by Apple to the public App Store Connect API. There's no mention of such facilities in Apple's docs, beyond the initial App Store submission process.

[2020-09-14 08:19] jenskuhrjorgensen opened #17231 "export_options causing mismatch on export_method"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
`build_ios_app` fails when I use `export_op

[2020-09-14 08:32] muccy opened #17232 "Spaceship: Analytics Gathering Script Stopped To Work"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Hi folks,
the script I wrote to gather dat

[2020-09-14 10:33] jopicornell commented on #17208
I'm facing the same problem. Any Idea why is this happening? Seems like Apple has changed some endpoint making the endpoint for localizations fail

[2020-09-14 13:50] ppamorim commented on #16991
@rogerluan Any update on this?

[2020-09-14 13:55] rogerluan commented on #16991
Nope @ppamorim , I'm waiting to see if @joshdholtz can shed some light 🤞

[2020-09-14 14:02] joshdholtz commented on #16991
Hello, I’m here starting my workday now! It seems like there could be a race condition. I’ve experience a few things like this before with our latest App Store Connect API migrations. I fixed it in another place but I will add in a retry loop that this morning that _hopefully_ fixes this!

I’ll work on the fix now and get a branch out for you all to try!

[2020-09-14 14:22] rogerluan commented on #16991
Awesome @joshdholtz 😊 thanks for the update! Out of curiosity, though, do you know whether the line I highlighted is executed sync or async? (I have no idea how I'd check that myself, hence why I got blocked 🙈 )

[2020-09-14 14:30] joshdholtz commented on #16991
@rogerluan Everything is sync but the data on the App Store Connect API backend needs some time to process (from what I’ve experienced) so that could be what is happening here.

[2020-09-14 14:34] rogerluan commented on #16991
Got it! In that case, I must agree that retrying sounds like the only way to go for now, unfortunately 😅
They added 200+ new APIs but there's still so much functionality to be added! hehe

Thanks for the clarification 💪

[2020-09-14 15:02] andreaslindahl opened #17234 "Updating FastlaneSwiftRunner fails"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
After updating fastlane to version 2.159.0

[2020-09-14 16:31] mikemike396 commented on #17202
Didn't work for me either. It fixed the other bug ({"data"=>nil, "messages"=>{"warn"=>nil, "error"=>["Not Found"], "info"=>nil}, "statusCode"=>"ERROR"}) but now "Could not find latest bulid for version" is showing up.

[2020-09-14 17:04] joshdholtz commented on #16991
Hey fam! I wasn’t able to reproduce this exact case when running in my test projects but I _think_ I have a fix for this in #17235 👇

If somebody is able to test this out and see if it works that would be ❤️

### Testing Steps

Update `Gemfile` and run `bundle install`, `bundle update fastlane`, or `bundle update`

[code]