[2018-03-28 13:05] joshdholtz commented on #12055
@vincedev Did `deliver` actually upload a new version for you?! I couldn't get `gym` to build a `.pkg` file, only a `.app`. Does `gym` build a `.pkg` for you?

[2018-03-28 13:05] #12086 closed

[2018-03-28 13:07] RM335 commented on #10805
I faced the same problem and used ImageMagick CLI to resize the image to the required screenshot specifications. First I copied the images to a device specific folder and than run the command.

The iPhone 8 Plus:
`convert -gravity center "*.png" -resize 1242x2208 -extent 1242x2208 resized.png`

iPhone X:
`convert -gravity center "*.png" -resize 1125x2436 -extent 1125x2436 resized.png`

Eventually

[2018-03-28 13:27] joshdholtz commented on #12081
@Istered Got the email!! Will look into this today/tomorrow 🙃

[2018-03-28 13:47] joshdholtz commented on #12163
Ummm... I will need to look into this more 🙃

[2018-03-28 13:58] fjcaetano commented on #12139
Awesome! Kudos! 🎉

[2018-03-28 14:14] #11057 closed

[2018-03-28 14:31] joshdholtz commented on #12154
@stein-fabricio This seams to be a "feature" of iOS. If the name you are trying to display is too long for the, it will be smart to try to remove spaces and then add a "..." if it doesn't fit (see my example images below) This doesn't appear to be a fastlane problem (as I was able to replicate this just using Xcode) and I think the only real solution would be to choose a shorter name 😊

## Just ri

[2018-03-28 14:31] #12154 closed

[2018-03-28 14:31] RishabhTayal opened #12188 "[action] New action for `update_plist`"
This is a follow up issue for https://github.com/fastlane/fastlane/issues/12088.

After having a discussion with @joshdholtz we decided to add a new action called `update_plist`. The existing action `update_info_plist` is going to use this action internally.

[2018-03-28 14:31] RishabhTayal commented on #12088
Closing in favor of https://github.com/fastlane/fastlane/issues/12188

[2018-03-28 14:31] #12088 closed

[2018-03-28 14:44] joshdholtz commented on #12177
Hey everyone! The solution to this is to specify a target in the options with `target: "your-target-name"`. We had to make an internal change to how `get_latest_version` worked.

## History time (it worked but not correctly)
`get_lastest_verson` used to use `agvtool` under the covers to get the versions of all the targets. This required that weird setup In "Build Settings" (which seemed a little u

[2018-03-28 14:59] vincedev commented on #12055
I didn't try this actually, I'm using deliver only to upload the app's metadatas to ITC.

[2018-03-28 15:03] vincedev commented on #12055
But this time deliver didn't complain about my app identifier, so I guess it's all good.

[2018-03-28 15:08] joshdholtz commented on #12055
@vincedev Oh interesting! That should work then.

I discovered during this that `gym` doesn't actually build a `.pkg` for uploading so I got that "solved " right now 😝 I need to make the code prettier now but soon you will **actually** be able to call `gym` on a Mac app again 🙃

How are you packing your Mac app right now? Would you be able to test my code change for me when I got it ready?

[2018-03-28 15:12] mueller-ma opened #12189 "Unable to capture screenshots with UiAutomatorScreenshotStrategy"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
No screenshots are captured when using UiAu

[2018-03-28 17:31] #11772 closed

[2018-03-28 17:31] #11768 closed

[2018-03-28 18:35] anwarhamr commented on #12175
That did it!  thank you @joshdholtz

[2018-03-28 18:52] trackvia-ios commented on #10778
@joshdholtz  FYI still experiencing this against `'fastlane', '2.85.0'`.

- `development` archiving and submission to Crashlytics working correctly with gym:

**Gym call:**

[code]

**Console log:**

[code]

- `ad-hoc` archiving fails due to provisioning with gym:

[code]

**Console log:**

[code]

Also not sure why my develop profiles get returned in the adhoc case since I'm not explicitly specif

[2018-03-28 20:21] Katorias commented on #11160
Also experiencing the same issue, any workarounds?

[2018-03-28 20:27] janpio commented on #11160
Interesting. @funnel20 knows quite a bit about that code, maybe they can help.

[2018-03-28 20:30] Katorias commented on #11160
That would be awesome, looking to use this on our CI server, but the funny looking iPhone X screenshots are preventing us from doing so.

[2018-03-28 21:43] funnel20 commented on #11160
My first guess: this is related to parameter `show_complete_frame`.
The difference between the 2 screenshots in the original issue is that
the iPhone SE screenshot is created with parameter `show_complete_frame` enabled. And iPhone X not.
But I assume the value in your Framefile.json is equal for all devices and set to `true`.

If this is the case, the issue is that iPhone X doesn't respect the va

[2018-03-28 21:47] IchHabRecht commented on #11160
Hi @funnel20,

Thank you for your input. Just for clarification, both screenshots were framed in the same run with the same options.

[2018-03-28 21:49] funnel20 commented on #11160
Thanks @IchHabRecht , that confirms my thought. So ich habe Recht too :-)

[2018-03-28 22:08] markhu commented on #11859
As someone who is new to Fastlane, can I take this as a clue that Fastlane is targeted mostly towards developers working locally in MacOS?  In other words, not much of Fastlane will work on a cloud (Linux) Jenkins?

[2018-03-28 22:15] janpio commented on #11859
Yes and no. Yes, Fastlane is/was focused on macOS. No, not locally but also on cloud servers (e.g. CircleCI). But you should get pretty far with Linux as well (at least as long as you don't require any macOS specific tooling in your actions like Xcode etc.) We are currently working on improving and most importantly documenting that support: https://github.com/fastlane/fastlane/issues/11687

[2018-03-28 22:15] Katorias commented on #11160
@funnel20 Your assumptions we're correct, the values in Framefile.json we're equal for all devices and show_complete_frame was set to false and all devices we're framed in the same call to frameit. The same issue was also mentioned here #10805

[2018-03-28 23:00] trackvia-ios commented on #10778
Upgrading to Fastlane `2.88.0` resulted in some more promising logs, but still resulted in the same error state :(

[2018-03-28 23:23] dehlen commented on #12184
@hjanuschka any other ideas for me ?

[2018-03-29 02:40] #12175 closed

[2018-03-29 06:17] Frinkey commented on #12183
@KrauseFx what's going on here?
Issue closed but even if I create a new Single View application with Crashlytics installed by Pods and rename main scheme to something different from target name (checkbox "Shared" are checked for project/workspace - don't matter) it's not working. It's alway trying to build scheme named like target name. All my previously worked projects now can't be build with fas

[2018-03-29 08:16] funnel20 commented on #10805
2 users have confirmed this original issue has been fixed in `2.64.0`, so I propose to close this issue:

- https://github.com/fastlane/fastlane/issues/10805#issuecomment-342327370
- https://github.com/fastlane/fastlane/issues/10805#issuecomment-342737291

Some users mention the issue that iPhone X ignores `show_complete_frame = false`, this can be followed in #11160.

[2018-03-29 09:06] funnel20 commented on #11160
**Background before iPhone X**
Consider the iPhone SE in this example with:

- `show_complete_frame` = `true`
- `padding` = 0

![iphone se-01_remotetab_framed](https://user-images.githubusercontent.com/2139844/38078791-af965dde-333d-11e8-8fc9-8b1f0aae00e5.png)

The device screenshot (green area) has a specific aspect ratio. For iPhone SE this is 1136/640 = 1.78.
The device frame (red dotted box) h

[2018-03-29 09:23] shrinandhini2801 opened #12193 "Archive failed when fastlane command is executed in jenkins. But works fine when i run in terminal. Code signing issues."
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

##### Archive fails using fastlane in jenk

[2018-03-29 09:27] shrinandhini2801 commented on #11968
I am facing similar issue, but with code signing . Below is the error.

Copying /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/lib/swift/iphoneos/libswiftPhotos.dylib to /Users/Shared/Jenkins/Library/Developer/Xcode/DerivedData/ProjectTemplate_iOS-hebfaqtjajwcniafztpaurbrmnmx/Build/Intermediates.noindex/ArchiveIntermediates/ProjectTemplate_iOS/InstallationBuildP

[2018-03-29 10:03] funnel20 commented on #11160
Yes, by why would users expect or desire that the iPhone X frame will be cut down? If it fits within the image borders, it fits.

[2018-03-29 10:43] joshdholtz commented on #10778
@trackvia-ios Can you try removing `method: "ad-hoc",` from your `export_options`?

[2018-03-29 10:51] joshdholtz commented on #12181
@shailesh2208 Can you try running these for me and send me the output so I can have some more information to try to replicate your scenario?
[code]

[2018-03-29 11:22] atitovdev opened #12194 "Skip two factor authentication"
- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Hi, I use many client accounts and sometimes there 2FA is enabled.

[2018-03-29 11:34] saitjr commented on #11968
@shrinandhini2801 seems like keychain been locked or don't have permission to access codesign command.

[2018-03-29 11:37] zilppuri commented on #12183
If the correct scheme is being unreachable, I believe it should definitely cancel the build instead of simply selecting the 'default' scheme. I have been accidentally building the wrong scheme & uploading to Crashlytics without even noticing. Once I noticed it took quite some digging to see those two red lines in the fastlane logs.

[2018-03-29 11:53] shrinandhini2801 commented on #11968
Yeah @saitjr . You were right . I unlocked that in jenkins's login and finally made it work .

[2018-03-29 11:55] shrinandhini2801 commented on #12193
I have resolved that issue by logging in Jenkins user(a new Mac user that gets created after installing jenkins) and tried running fastlane in terminal. It prompted to enter passphrase for the certificates . I entered that . Then it prompted the keychain password . After that it succeeded.

[2018-03-29 14:00] vincedev commented on #12055
I have been using Xcode to archive and upload the app on ITC, but I suppose Xcode is doing a `.pkg` out the archive with the app ?

Sure, tell me how to do the test though :)

[2018-03-29 14:27] janpio commented on #11160
Because they are obvisouly using `show_complete_frame = false` as `hide lower part of device so it looks a specific way = true`.

[2018-03-29 14:36] tbaranes commented on #11980
What's the status here? Is ont of the PRs gonna be merged? It would be great to have match for macOS as well!

[2018-03-29 15:30] joshdholtz commented on #12055
@vincedev I have a PR here - https://github.com/fastlane/fastlane/pull/12195

1. Change your `Gemfile` to be
[code]
2. Run `bundle install` to pull down my specific branch
3. Configure `gym` like...
[code]

This _should_ be all you need to do. You can get those names of the certs from `Keychain Access`. Let me know if you have any questions or issues! ❤️

[2018-03-29 16:57] funnel20 commented on #11160
They can also use `show_complete_frame = false` as:
`make the framed device as wide as possible and accept the consequence that the lower part of the device is clipped`.

Based on the implementation this is the intended purpose from the _frameit_ author.

With the introduction of iPhone X this purpose has no meaning anymore as clipping doesn't occur due to the new aspect ratio. Hence values `true`

[2018-03-29 18:02] zuqiu123 commented on #12143
fastlane env
[✔] 🚀
[02:00:37]: Get started using a Gemfile for fastlane https://docs.fastlane.tools/getting-started/ios/setup/#use-a-gemfile
[02:00:38]: Generating fastlane environment output, this might take a few seconds...
<details><summary>🚫 fastlane environment 🚫</summary>

### Stack

| Key                         | Value                                       |
| --------------------------- |

[2018-03-29 20:08] IchHabRecht commented on #11160
Hi @funnel20 and @janpio,

Thanks for your information so far. Just for the record (as I'm the issue owner). As an user I would expect to get same screenshots for each device. For me it's the same if I have to use `show_complete_frame` or any other (new) setting. But I really like to be able to produce framed screenshots without the whole device shown. For now IHMO `show_complete_frame=false` is/w

[2018-03-29 21:04] jwilson85 commented on #12152
So in the logs, it looks like it was looking for FASTLANE_PASSWORD. I added that ENV with the same password I was using for MATCH_PASSWORD. And bamboo was then able to build. I have no idea why it worked in Terminal and not bamboo. Whatever it works now but that is very weird.

[2018-03-29 21:04] #12152 closed

[2018-03-29 22:59] joshdholtz commented on #10724
@CihanBoz Correct, it throws an error because `match` doesn't really know (right now) if it was revoked manually by someone, expired, or if some other error occurred. `match` prompts for the error because it doesn't want to do anything unknown/dangerous to the user and their certs

That being said... I think we _could_ create an option to recreate cert (mini nuke) if something like this occurs (so

[2018-03-29 23:34] lblast opened #12200 "Fastlane not setting provisioning profiles correctly in *.xcodeproj"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Hello. I am building Unity projects throug

[2018-03-30 01:58] cavega commented on #11808
@joshdholtz Thanks for the feedback. We'll try that. 👍

[2018-03-30 02:18] saitjr commented on #12143
朋友。。。你这都 put it into your clipboard，issue 里面没有有用的信息啊

[2018-03-30 02:20] saitjr commented on #12143
@zuqiu123 朋友，重新输出的这个日志里面，都 copied markdown into your clipboard，没有有用信息啊

[2018-03-30 05:02] alexanderritola opened #12202 "fastlane match does add iOS distribution certificate to the Debug/development provisioning profile"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Our development team is having an issue wh

[2018-03-30 05:45] saitjr commented on #12202
Generate .cert and .p12, push to git repo. When you run match in local, pull from git repo. So it is same certificate for each team member.

[2018-03-30 07:34] revolter commented on #11578
This was most probably fixed by #12047.

[2018-03-30 07:34] #11578 closed

[2018-03-30 07:40] Frinkey commented on #12183
How I can help with resolving this issue? Maybe reinstalling some tools can help or something like this?

[2018-03-30 08:39] Matsepura commented on #10778
Same issue since 2.62.0 + versions =(

[2018-03-30 09:26] vincedev commented on #12055
Hi @joshdholtz

After switching to your branch and tried, I got the following error :

[code]

And we called `gym` this way :

[code]

[2018-03-30 09:29] vincedev commented on #12055
I also tried again `deliver`, this time without specifying the `platform` parameter, I got the same error as previously.

[2018-03-30 11:31] #10589 closed

[2018-03-30 11:31] nicolasbraun commented on #10589
Thanks for your help, I made a test run and it seems to work with @jgavris solution 🚀
I will test it soon on a  fresh new machine

[2018-03-30 11:34] funnel20 commented on #11160
`show_complete_frame` does still what it does, also for iPhone X.
Only the effect will be shown when the 'lacking' space of the bezels is filled with text.
Here is an example with padding = 10 and multi-line text.

`show_complete_frame` = false:
![iphone x-01_remotetab_framed](https://user-images.githubusercontent.com/2139844/38136339-094449a0-341e-11e8-9db5-3c385ff9140f.png)

`show_complete_frame

[2018-03-30 11:38] funnel20 commented on #11160
The implementation of `show_complete_frame` is all based on padding. Either respect vertical top and bottom padding (`true`) or sacrifice top/bottom padding and respect side padding (false).
As we now learned, the latter might not always occur at iPhone X, because it has more free vertical space due to the lack of bezels.

**Solution**
Users demand a clipped iPhone X when `show_complete_frame` = `

[2018-03-30 12:04] funnel20 commented on #11160
@janpio can you ask the team how they feel about this?
If this is the desired behaviour for `show_complete_frame` or that we have to create a new parameter?

[2018-03-30 12:07] gokulraja commented on #12029
@joshdholtz this is one of the best tools out there. Are you on gitter or slack to discuss a couple of small items which will help the process

[2018-03-30 12:18] sgara commented on #11980
Hi guys,
Now that [CircleCI 2.0 only supports match for codesigning](https://circleci.com/docs/2.0/ios-codesigning/), I'd also love to see match working for macOS projects!
@lacostej can we do something to make that happen?

[2018-03-30 13:02] atitovdev opened #12203 "Disable pilot action fancy output"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
Hi, how to disable fancy rocket output on p

[2018-03-30 14:25] joshdholtz commented on #12055
@vincedev OMG, I have no idea how that happened 😱 How embarrassing... I just pushed a fix. Can you try again whenever you get a chance? 😊

[2018-03-30 14:31] joshdholtz commented on #12029
@gokulraja Glad you like it! And thanks for using it 🙃 Feel free to create an issue with a `[Discussion]` or `[Proposal]` in the name and we can have the conversation here and allow anybody else to throw in any ideas or thoughts 💪

[2018-03-30 14:33] joshdholtz commented on #12203
@atitovdev Can you try setting an environment variable for`FASTLANE_DISABLE_ANIMATION=true` to see if that does it for you?

[2018-03-30 15:14] joshdholtz commented on #11980
@tbaranes @sgara Hoping to get around to this soon! I have a PR that allows `gym` to actually package Mac apps again (https://github.com/fastlane/fastlane/pull/12195) so jumping into this would totally benefit `gym` and go along with my current train of though 🙃

[2018-03-30 15:18] trackvia-ios commented on #10778
@joshdholtz @KrauseFx  I've removed `export_method` from all places and still seeing the exact same results. Seems to be adding `ad-hoc` automatically:

[code]

It seems undesired for it to be adding my **Develop** provisioning profiles in with my Beta profiles, perhaps that's what's causing error? I'm ONLY specifying beta options in my export_options mapping.

Also to note, I'm NOT using an expor

[2018-03-30 15:28] joshdholtz commented on #11980
Good to know 👌 I'm not a macOS app professions yet so I don't fully know all the ins and outs but really wanna get this working 💪

Side note: if anybody here would like to test my `gym` PR for building macOS apps that would be 💯 (https://github.com/fastlane/fastlane/pull/12195)

[2018-03-30 15:42] eAi commented on #9363
I am also having this issue. The build that it is complaining about the conflict with is not actually the last build that was uploaded. It allowed one build with two APKs to be uploaded fine, then another build with identical manifests failed with this error. Uploading manually via the Google Play website works fine.

[2018-03-30 15:56] trackvia-ios commented on #10778
It seems even if I completely remove everything from my Gymfile, and strip Gym to the following:

[code]

I see more red error output regarding:

[code]

But it's still using the same generated plist file...

I'm going to try creating a static plist file and load that to see if it doesn't auto-set the "method"

[2018-03-30 16:28] ReggaePanda commented on #12200
have same issue

[2018-03-30 17:00] trackvia-ios commented on #10778
Doing some digging, it appears the `package_command_generator_xcode7` is always setting the `export_method`:

[code]

I set `method` to an empty string in my exportOptions, but it seems no matter what I do, it still gets method `ad-hoc`, everytime.

Any other suggestions as to what to try?

[2018-03-30 17:36] alexanderritola commented on #12202
@saitjr thanks for the response! I'm not sure how to do that... I can't seem to explicitly tell match to use a specific certificate for a specific provisioning profile. Currently I'm generating certificates like this....

[code]

And developers are retrieving them on their local machines like this...

[code]

It seems like what I'd want to would look something like this...

[code]

[2018-03-30 18:15] joshdholtz commented on #10778
@trackvia-ios Are you running either `match` or `sigh` before you call `gym`?

[2018-03-30 18:38] joshdholtz commented on #10805
@funnel20 Thanks for the comment! I will close this issue since that new issue is opened up 😊

[2018-03-30 18:38] #10805 closed

[2018-03-30 19:02] Apocryphon opened #12204 "How to use fastlane to submit xcarchive files to the App Store?"
My usual workflow is to create an Archive in Xcode, then Upload to App Store via Organizer. Looks like `deliver` uploads ipa files to the App Store. Is there anything different involved in submitting an ipa, as opposed to submitting an xcarchive file? Would it make sense to use the `xcarchive` action instead of `deliver`?

[2018-03-30 19:03] joshdholtz commented on #12119
@WildStudio
[code]

[2018-03-30 19:21] trackvia-ios commented on #10778
Thanks for getting back, @joshdholtz  and yes, just for reference we have had all of our deployments working in the past for Development, Ad Hoc, and App Store using Fastlane previously.

[code]

Is type `adhoc` here causing problem?

[2018-03-30 19:24] joshdholtz commented on #12202
@alexanderritola `match` does not have the ability to select a certain certificate. Any `development` profiles in `match` will be made with the the user's "Development Certificate". Only `adhoc` and `appstore` will get made with a "Distribution Certificate"

[2018-03-30 20:02] joshdholtz commented on #12200
I have never used Unity myself so I don't know what weird stuff goes on but you can always try to run this plugin - https://github.com/faithfracture/update_provisioning_profile_specifier

[code]

Happy fastlaning 🚀

[2018-03-30 20:20] trackvia-ios commented on #10778
I think this line:

`Actions.lane_context[SharedValues::SIGH_PROFILE_TYPE] = profile_type`

inside `sync_code_signing.rb` is the one that's automatically assigning type "ad-hoc" based on the match provisioning?

[2018-03-31 09:56] LUJYM opened #12205 "How to set up the inside purchase in Appstore With fastlane"
hello I have some problem,How to set up the inside purchase in Appstore With fastlane

[2018-03-31 14:36] atitovdev commented on #12203
@joshdholtz Thanks! Works like a charm!

[2018-03-31 14:36] #12203 closed

[2018-03-31 16:51] m-vdb commented on #10945
Today I had the same issue and it had really bad consequences. 200+ users ended up signing up on the demo environment instead of the production environment because the **wrong build** was chosen by `deliver`. The only resort I have to that is to submit a new version on a Saturday and ask Apple nicely for an expedited review (which I have little chance to be granted). My startup is small, pre-fundi

[2018-03-31 16:57] Katorias commented on #11160
@funnel20  I'd really love to see that as a parameter if it's possible, though I admit it does seem difficult to integrate with the current functionality of `show_complete_frame`. If it is possible and it's something the team is willing to implement, I like your idea of distributing the orange space between the yellow and pink areas equally, it makes the most sense.

[2018-03-31 17:00] superandrew commented on #11586
it is unbelievable that I had a working system and now a broken one and I could choose between adding a rbenv I don't need (adding a fixed path to my .zshrc profile which is awkward and prone to future problems) OR use sudo everytime I have to launch `fastlane beta`. Wow. And now I will have to loose hours JUST to get back to a working fastlane. Which as someone else said, is very cool, but it is

[2018-03-31 18:12] janpio commented on #11160
There is no "team" to ask on this, we can just create a new issue with a feature proposal and see what responses trickle in from the community (and maybe some people that are on the team list).

To recap:
So obviously some users would like to have a way to consistently get this style of end result (screenshot in device frame, result shown a bit hidden on the lower end). As `show_complete_frame` do

[2018-03-31 22:35] joshdholtz commented on #12135
@palusik86 What was the exact terminal command you were using that was working?

@tootsweet @ladislas Are your issues fixed with the latest version (2.88.0)? If not, can you try making sure your schemes are marked as “Shared” and see if that helps?

[2018-04-01 02:32] taquitos commented on #11586
@superandrew spending hours on this is totally not our idea of easier 😞 You could also use `homebrew` to install fastlane and that should just work out of the box. We like to suggest `rbenv` because it helps keep your environments contained a bit, and generally reduces the amount of time you have to spend debugging weird gem issues, and _usually_ requires very little time to setup. Is there someth

[2018-04-01 06:30] superandrew commented on #11586
when using rbenv one must add initialization and exporting variables in its shell profile. Which could work if not, as far as I understand, I must export the specific version of rbenv used when installing fastlane.

But the main question is: if there is a brew option, since brew setup in my opinion is the easiest generally, why isn't that the preferred setup?

The fabric setup has been lovely for

[2018-04-01 09:29] palusik86 commented on #12135
This is output from gym:
`set -o pipefail && xcodebuild -workspace workspace.xcworkspace -scheme Appl\ Name\  -configuration Release -destination 'generic/platform=iOS' -archivePath /Users/(User)/Library/Developer/Xcode/Archives/2018-04-01/App\ Name\ 2018-04-01\ 11.15.26.xcarchive -derivedDataPath './build/App Name Scores.DerivedData' clean archive | tee /Users/(User)/Library/Logs/gym/App\ Name\ -

[2018-04-01 17:33] #11895 closed

[2018-04-01 17:33] #11884 closed

[2018-04-01 17:33] #11883 closed

[2018-04-01 17:33] #11879 closed

[2018-04-01 17:33] #11865 closed

[2018-04-01 17:34] #11827 closed

[2018-04-01 17:34] #11812 closed

[2018-04-01 17:34] #11797 closed

[2018-04-01 17:34] #11795 closed

[2018-04-01 17:34] #11778 closed

[2018-04-01 17:34] #11756 closed

[2018-04-01 17:35] #11742 closed

[2018-04-01 17:35] #11696 closed

[2018-04-01 17:35] #11667 closed

[2018-04-01 17:36] #11428 closed

[2018-04-01 17:36] #11406 closed

[2018-04-01 17:36] #11372 closed

[2018-04-01 17:36] #11371 closed

[2018-04-01 17:37] #11369 closed

[2018-04-01 17:37] #11368 closed

[2018-04-01 17:37] #11359 closed

[2018-04-01 17:37] #11357 closed

[2018-04-01 17:37] #11354 closed

[2018-04-01 17:37] #11348 closed

[2018-04-01 17:37] #11337 closed

[2018-04-01 17:37] #11324 closed

[2018-04-01 17:37] #11319 closed

[2018-04-01 17:38] #11311 closed

[2018-04-01 17:38] #11309 closed

[2018-04-01 17:38] #11297 closed

[2018-04-01 17:38] #11292 closed

[2018-04-01 17:38] #11280 closed

[2018-04-01 17:38] #11275 closed

[2018-04-01 17:38] #11239 closed

[2018-04-01 17:38] #11233 closed

[2018-04-01 17:39] #11231 closed

[2018-04-01 17:39] #11228 closed

[2018-04-01 17:39] #11201 closed

[2018-04-01 17:39] #11170 closed

[2018-04-01 17:39] #11168 closed

[2018-04-01 17:39] #11166 closed

[2018-04-01 17:39] #11158 closed

[2018-04-01 17:40] #11156 closed

[2018-04-01 17:40] revolter commented on #11824
We really need this ❤️

[2018-04-01 17:40] #11138 closed

[2018-04-01 17:40] #11136 closed

[2018-04-01 17:40] #11135 closed

[2018-04-01 17:40] #11130 closed

[2018-04-01 17:40] #11116 closed

[2018-04-01 17:40] #11114 closed

[2018-04-01 17:40] #11111 closed

[2018-04-01 17:41] #11101 closed

[2018-04-01 17:41] #11046 closed

[2018-04-01 17:41] #11026 closed

[2018-04-01 17:41] #10997 closed

[2018-04-01 17:41] #10917 closed

[2018-04-01 17:42] #10849 closed

[2018-04-01 17:42] #10808 closed

[2018-04-01 17:42] #10802 closed

[2018-04-01 17:43] #10785 closed

[2018-04-01 17:43] #10784 closed

[2018-04-01 17:43] #10781 closed

[2018-04-01 17:43] #10775 closed

[2018-04-01 17:43] #10772 closed

[2018-04-01 17:43] #10771 closed

[2018-04-01 17:43] #10764 closed

[2018-04-01 17:43] #10756 closed

[2018-04-01 17:43] #10749 closed

[2018-04-01 17:44] #10748 closed

[2018-04-01 17:44] #10746 closed

[2018-04-01 17:44] #10737 closed

[2018-04-01 17:44] #10734 closed

[2018-04-01 17:44] #10733 closed

[2018-04-01 17:44] #10713 closed

[2018-04-01 17:44] #10701 closed

[2018-04-01 17:45] #10693 closed

[2018-04-01 17:45] #10691 closed

[2018-04-01 17:45] #10685 closed

[2018-04-01 17:45] #10684 closed

[2018-04-01 17:45] #10644 closed

[2018-04-01 17:45] #10602 closed

[2018-04-01 17:45] #10557 closed

[2018-04-01 17:45] #10499 closed

[2018-04-01 17:45] #10489 closed

[2018-04-01 17:46] #10475 closed

[2018-04-01 17:46] #10466 closed

[2018-04-01 17:46] #10452 closed

[2018-04-01 17:46] #10419 closed

[2018-04-01 17:46] #10394 closed

[2018-04-01 17:46] #10381 closed

[2018-04-01 17:46] #10292 closed

[2018-04-01 17:46] #10271 closed

[2018-04-01 17:47] #10268 closed

[2018-04-01 17:47] Sega-Zero commented on #11951
@KrauseFx any ETA on this?

[2018-04-02 07:06] HamGuy opened #12206 "update plist file with set_info_plist_value action in terminal"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

How could I update update plist file with

[2018-04-02 07:39] sannyo commented on #10324
I think I am having the same issue/or limitation.

I have multiple app already published in the store under the same acoount, but when I try to update any other app beside the "default" app. (Assume the first app in that account) I get
[!] Google Api Error: applicationNotFound: No application was found for the given package name.

I am pretty sure that the app is there, on the supply summary I can

[2018-04-02 08:15] revolter opened #12207 "Remove require_tools and fork_usage from plugins' rubocop config file"
When creating a plugin, its `.rubocop.yml` file is actually the same as fastlane's one:

https://github.com/fastlane/fastlane/blob/82a57d8e72022c4d2f3fd56f1088bd0d5fccb370/fastlane.gemspec#L12

but:

1. The `rubocop-require_tools` cop gem dependency is not added to the `*.gemspec` file
2. The local `fork_usage` cop is not added to the plugin

We should either add them to the plugin either remove t

[2018-04-02 08:19] m-vdb commented on #9974
nope @fastlane-bot keep this open!!!

[2018-04-02 08:55] mofneko opened #12208 "[Question] Does fastlane have automatic license agreement implemented?"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

I want to automate some iOS product applic

[2018-04-02 10:38] IchHabRecht commented on #10786
I can confirm the screenshot directory is missing. I created It manually while tests were re-running and screenshots were taken and moved correctly afterwards.

[2018-04-02 10:41] saitjr opened #12209 "archived-expanded-entitlements is removed in Xcode9.3"
I find that archived-expanded-entitlements.xcent file has been removed in Xcode9.3. And I don't know why Xcode9.3 do this.
And the resign module still export archived-expanded-entitlements.xcent from entitlements, should it remove just like Xcode9.3 do?

This issue is just a suggestion, close it if you think it is unnecessary.

[2018-04-02 10:43] IchHabRecht commented on #9651
IMHO this issue is still valid. As far as I can see, Apple (now) offers uploads for 10.5'' screens as well. frameit still doesn't support 10.5'' screenshots and skips them.

[2018-04-02 11:12] LUJYM commented on #12205
@fastlane-bot like this code:
app.in_app_purchases.create！（
   类型： Spaceship :: Tunes :: IAPType :: CONSUMABLE，
   版本： {
     ' en-US '：{
       name： “ test name1 ”，
       description： “ Description至少包含10个字符”
    }，
    ' de-DE '：{
       name： “ test name german1 ”，
       description： “德语至少有10个字符”
    }，
    ' da '：{
      名称： “测试名称丹麦语”，
      描述： “德语至少有10个字符”
    }
  }，
  reference_name： “ lo

[2018-04-02 11:13] joshdholtz commented on #10778
@trackvia-ios Can I ask why you are trying to do `export_method: "development"` with `adhoc` profiles? 🙃

[2018-04-02 11:15] Jules2010 commented on #9651
+1

[2018-04-02 12:00] acegreen opened #12210 "Main target build number not incremented"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Running `fastlane swift buildBuildNumber o

[2018-04-02 12:14] joshdholtz commented on #12210
@acegreen Do you have your main target setup properly for `avgtool`? https://developer.apple.com/library/ios/qa/qa1827/_index.html

[2018-04-02 13:05] koenpunt commented on #11792
I think this is still relevant..

[2018-04-02 16:19] sergiocampama opened #12211 "Errors when using an account with 2-Step authentication"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

We're getting errors when using the Fastla

[2018-04-02 16:27] #12071 closed

[2018-04-02 16:35] lblast commented on #12200
I did try several methods mainly:
- Setting export_options with provisioningProfiles (specifying the certificate to use)
- Setting the codesigning_identity to match the keychain

I have mainly been building these with Debug configuration.

[2018-04-02 17:32] #11851 closed

[2018-04-02 17:32] #11829 closed

[2018-04-02 17:32] #11826 closed

[2018-04-02 17:33] #11162 closed

[2018-04-02 17:34] #10782 closed

[2018-04-02 18:46] vinitsample opened #12213 "Scan failing [!] undefined method `request_uri' for #<URI::Generic:0x00007ffe35176188> (NoMethodError)"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

##### Complete output when running fastlan

[2018-04-02 18:51] vinitsample commented on #12213
I am currently using new latest fastlane along with cocoapod and new latest Xcode9.3
The project builds well with Xcode9.3 but the scan keeps failing even after the test succeeds. The same project succeeds with builds  & test on Xcode9.2 . I use jenkins to build the project along with fastlane. Thanks

[2018-04-02 19:36] DuglsYoung opened #12214 "Submitting an approved testflight app with spaceship"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
I'm using spaceship to submit an app to tes

[2018-04-02 20:44] faithfracture opened #12215 ""undefined method `test_target_type?` error with "get_version_number""
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

<details>
  <pre>$ bundle exec fastlane my

[2018-04-02 22:18] AtomicCactus commented on #12215
Same, happening after updating to the latest version

[2018-04-02 23:05] joshdholtz commented on #12215
Fixed in #12212. Making a release tonight 😊

[2018-04-02 23:05] #12215 closed

[2018-04-03 02:06] saitjr commented on #12209
Emmm...............The env

<details><summary>🚫 fastlane environment 🚫</summary>

### Stack

| Key                         | Value                                          |
| --------------------------- | ---------------------------------------------- |
| OS                          | 10.13.4                                        |
| Ruby                        | 2.5.0

[2018-04-03 03:46] LUJYM commented on #11883
@Cerebelus do u solve this problem? I have the same problem~~~

[2018-04-03 06:58] Cerebelus commented on #11883
Hello! No I didn't solved it. I suspect that is has something to do with my ruby/fastlane. If run 'which ruby' and 'which fastlane' I get '/usr/local/bin/ruby' and '/usr/local/bin/fastlane' instead of the RVM. Somehow I messed up the ruby/fastlane and I can't change back to RVM(I get some errors of some sort, I don't remember what was exactly).

[2018-04-03 07:45] tootsweet commented on #12135
Hello,

Updating doesn't fix it.
The "Shared" option maked it work on both versions (2.86.2 and 2.89.0).

[2018-04-03 09:34] funnel20 commented on #11160
As an addendum to your recap: `show_complete_frame` is NOT doing for iPhone X what users expect when set to `false`.

So I would prefer to not add a new parameter, but just implement my suggestion from above for `show_complete_frame = false` (as confirmed by @Katorias):
For iPhoneX, move the frame down until the bottom bezel is cut off, while evenly distributing the text(s) above.
And something op

[2018-04-03 11:16] palusik86 commented on #12135
I should add here, that all common mistakes/issue is know for me (like shared scheme). Double checked everything that I'm aware of.

[2018-04-03 11:48] dalemyers commented on #12060
We are still seeing this issue, so I'm reopening.

[2018-04-03 17:30] #11913 closed

[2018-04-03 17:30] #11912 closed

[2018-04-03 17:31] #11909 closed

[2018-04-03 17:31] #11905 closed

[2018-04-03 17:31] #11841 closed

[2018-04-03 17:32] #11708 closed

[2018-04-03 17:32] #11527 closed

[2018-04-03 17:32] #11514 closed

[2018-04-03 17:32] #11390 closed

[2018-04-03 17:33] #10833 closed

[2018-04-03 17:33] #10824 closed

[2018-04-03 17:33] #10679 closed

[2018-04-03 17:33] #10431 closed

[2018-04-03 19:15] alexanderritola commented on #12202
Thanks @joshdholtz !

[2018-04-03 19:15] #12202 closed

[2018-04-03 19:37] kballard opened #12221 "app_store_build_number should return version number too"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

The `app_store_build_number` action has an

[2018-04-03 20:00] nliz77 opened #12222 "Thank"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [ ] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [ ] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

##### Complete output when running fastlan

[2018-04-03 20:01] nliz77 opened #12223 "Thank"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [ ] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [ ] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

##### Complete output when running fastlan

[2018-04-03 20:01] nliz77 commented on #12223
Thank

[2018-04-03 21:36] joshdholtz commented on #12222
Closing this cause no info 😊

[2018-04-03 21:36] #12222 closed

[2018-04-03 21:36] joshdholtz commented on #12223
Closing this cause no info 😊

[2018-04-03 21:36] #12223 closed

[2018-04-03 21:52] joshdholtz commented on #11792
@koenpunt I'm curious about @janpio's question above as well. Is this different than what we are already using iTMSTransporter for?

[2018-04-03 23:27] joshdholtz commented on #12213
@vinitsample Can you verify that the `slack_url` that you are passing into `scan` is a valid URL? The only reason this would happen is if the slack url is passing in is invalid which happens when `URI.parse` is called - https://github.com/stevenosloan/slack-notifier/blob/master/lib/slack-notifier.rb#L17

[2018-04-03 23:29] joshdholtz commented on #12211
@sergiocampama Has two step worked for you in the past? In other words, did this error just start happening?

[2018-04-03 23:32] joshdholtz commented on #12209
@saitjr Does including the `archived-expanded-entitlements.xcent` breaking anything at all now for you with the resign? Or is it just extra / not necessary?

[2018-04-03 23:35] joshdholtz commented on #12208
@mofneko fastlane does not have automatic license agreement implemented as this would probably cause some legal issues 😊 fastlane will just stop whatever it is doing until the license agreement is manually read and accepted

[2018-04-03 23:35] #12208 closed

[2018-04-03 23:41] joshdholtz commented on #12206
@HamGuy You can do the following...
[code]

[2018-04-03 23:41] #12206 closed

[2018-04-03 23:43] joshdholtz commented on #12205
@LUJYM This should most likely go in your `Fastfile`

[2018-04-03 23:45] joshdholtz commented on #12204
@Apocryphon `deliver` will only upload an `.ipa` to the App Store. I _think_ the App Store only accepts IPA 🙃 Organizer takes the `xcarchive` and creates a `.ipa` for it and uploads it to the App Store

[2018-04-03 23:46] DuglsYoung commented on #12214
Yes, I understand the different tracks here. We are not using a fastfile. We're using fastlane integrated with our own build/deployment backends (at LinkedIn), so other than using deliver with cmd-line options to upload, we're using spaceship for everything. In this case, I'm submitting the build for testflight, and it's being submitted for testflight review. But once apple approves it, we still h

[2018-04-03 23:52] joshdholtz commented on #12135
@palusik86 Can your lane with `--verbose` and paste the whole output from start to finish? Its hard to see what is all going on with only snippets 🙃

[2018-04-03 23:53] joshdholtz commented on #12135
@tootsweet So just to clarify, things _are_ working for you now?

[2018-04-03 23:54] joshdholtz commented on #12200
@lblast My bad! `update_provisioning_profile_specifier` is a plugin that you need to install 😊 https://github.com/faithfracture/update_provisioning_profile_specifier

[2018-04-03 23:56] joshdholtz commented on #12194
@atitovdev Your best option is to have your client create a new account that **only** fastlane will use. This is one of that best approaches so that your client doesn't need to share their credentials and so that you don't have to use 2FA

[2018-04-03 23:56] lblast commented on #12200
I believe I had version 1.3.0 installed.

[2018-04-04 00:49] joshdholtz commented on #12214
@DuglsYoung Got it got it, sorry about that. I misunderstood. I don't remember the exact steps that happen after a build gets reviewed and approved for beta but I will send a build through so I can figure what we can do to help you out 👍

[2018-04-04 00:52] joshdholtz commented on #12200
@lblast You will need to run `fastlane add_plugin update_provisioning_profile_specifier` and then modify your `Fastfile` to look something like...
[code]

[2018-04-04 00:53] joshdholtz commented on #12193
@shrinandhini2801 Glad you got it solved! 😊

[2018-04-04 00:53] #12193 closed

[2018-04-04 01:04] joshdholtz commented on #12184
@dehlen This is way out of my realm but have you tried setting `skip_archive` and/or `skip_build_archive` to `true`?

[2018-04-04 01:05] joshdholtz commented on #12179
Fixed in `2.89.0`

[2018-04-04 01:05] #12179 closed

[2018-04-04 01:06] joshdholtz commented on #12166
Looks like a mistake issue 😊

[2018-04-04 01:06] #12166 closed

[2018-04-04 01:09] joshdholtz commented on #12164
@vizllx Is this error happening within `gym`? If so, it looks like you tried setting `disable_xcpretty: sure`. Did this not fix it at all?

[2018-04-04 01:40] joshdholtz commented on #12164
@vizllx Also, did you try setting all the locale environment variables from **within** your Jenkins job? Maybe Jenkins isn't picking up your bashrc and whatnot? Can you also try setting them at the top of your `Fastfile`?

[2018-04-04 01:48] joshdholtz commented on #12160
@Swolebrain Glad you got things working! Creating an account only for fastlane to use is definitely the easiest option 😊 Going to close this issue for now but feel free to comment back here or open another issue if something pops back up

Happy fastlaning 🚀

[2018-04-04 01:48] #12160 closed

[2018-04-04 01:52] vizllx commented on #12164
Well, I will be closing this issue as I solved it by adding "LC_ALL=en_US.UTF-8" in the Execute Shell option of Jenkin's job, just before calling the fastlane action. Thanks @joshdholtz for your reply.

[2018-04-04 01:52] #12164 closed

[2018-04-04 02:16] gaofengtan commented on #12011
Has the problem been solved?

[2018-04-04 02:30] mofneko commented on #12208
Thank you for your reply. I understood the gist of the implementation.

[2018-04-04 02:35] joshdholtz commented on #12155
@SeanRobinson159 TIL about "New Build System" 🙃 You should be able to do...
[code]

[2018-04-04 02:46] nliz77 opened #12224 "Nice"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [ ] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [ ] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

##### Complete output when running fastlan

[2018-04-04 02:47] nliz77 opened #12225 "U"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [ ] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [ ] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

##### Complete output when running fastlan

[2018-04-04 02:47] nliz77 commented on #12225
Like

[2018-04-04 04:36] eygraber opened #12226 "upload_to_play_store metadata release track"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

I want to be able to upload metadata for c

[2018-04-04 05:53] shailesh2208 opened #12227 "Working with flavor using fastlane"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

fastlane screengrab shows all the apk for

[2018-04-04 06:46] saitjr commented on #12209
It doesn't break anything, just not necessary from now on. I don't know why Xcode9.3 remove it.

[2018-04-04 06:49] Zidail opened #12228 "AdHoc Beta Entitlements Missing"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Previously, about 1-2 weeks ago, everythin

[2018-04-04 06:52] saitjr commented on #12228
Dose profile still valid on Apple ?

[2018-04-04 07:12] KrauseFx commented on #12011
It isn't a problem, the error message describes how to solve it exactly 👍

[2018-04-04 07:12] palusik86 commented on #12135
@joshdholtz
Here you go:

<details>
https://paste.ofcode.org/L2LZCyTHhGKMvrKdNY49jk
</details>

[2018-04-04 07:34] vincedev commented on #12055
Hi @joshdholtz, sorry for being this late, still getting the error though :/

[2018-04-04 07:44] Zidail commented on #12228
@saitjr All the profiles are still valid. Tried it out on a coworker's computer that didn't update their command line tools and it worked. I added an update to the issue.

[2018-04-04 07:46] micnguyen opened #12229 "Git Branch is always HEAD on GitLab CI"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

`:git_branch` always returns HEAD as the b

[2018-04-04 07:58] bguidolim commented on #12229
It's probably how GitLab CI is cloning the repository, same in Jenkins, using Git SCM plugin you need to say that you want to checkout an specific branch name, otherwise the SCM will checkout and detach the commit.

[2018-04-04 07:58] wberger commented on #8053
@joshdholtz Sorry for not responding, I have been on vacation. As I can see from the changelogs, this seems to be fixed now. Thank you!

[2018-04-04 08:53] chinmaygit commented on #12228
+ 1, updated Xcode recently. it was working perfectly fine before the update to xcode 9.3.

[2018-04-04 08:55] fdrouet commented on #12228
I have the same problem than @Zidail everything was working fine last Friday and I have the same errors since Xcode was (automatically) updated.

I already tried to recreate my provisioning profile but it doesn't change anything.
My next try will be to re-install Xcode 9.2

[2018-04-04 09:09] Katorias commented on #11469
Upgrade to High Sierra recently and it appears to have solved the problem, I'm now able to use snapshot without any issues 👍

[2018-04-04 09:38] YTFDoing opened #12230 "Found no FastlaneRunner. Xcodeproj"
I started the project with the command "fastlane init swift" and found no FastlaneRunner. Xcodeproj file.

### Stack

| Key                         | Value                                       |
| --------------------------- | ------------------------------------------- |
| OS                          | 10.13.4                                     |
| Ruby                        | 2.5.0

[2018-04-04 10:01] Dev-Crea commented on #12011
I'm resolved my problem with disable ENV variables configured in my .zshrc.

TRAVIS and CI varaible it's defined and create conflit with fastlane process.

I created an alias:
[code]
A good idea it's write this ENV variable in fastlane env command for diagnostic ?

[2018-04-04 10:24] shailesh2208 opened #12231 "How we can increase the version code in android apk using fastlane"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
I want to know that any method for android

[2018-04-04 10:42] taman123 commented on #11990
<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                         | Value                                                          |
| --------------------------- | -------------------------------------------------------------- |
| OS                          | 10.13.4                                                        |
| Ruby                        | 2.3.3

[2018-04-04 12:22] ivmos opened #12233 "RuntimeError: Unsupported workspace file reference type `self` (running fastlane ios beta)"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

I'm getting [!] Unsupported workspace file

[2018-04-04 13:14] justMaku commented on #12228
I tried looking more into this, and it seems like that only App Store provisioning profiles contain that entitlement.

[2018-04-04 13:46] joshdholtz opened #12234 "Remove use of `verify_block` in some actions to set environment variables"
## Issue
Using action options `verify_block` can have some unintended side effects that will break the rules of [Priorities of parameters and options](https://docs.fastlane.tools/advanced/#priorities-of-parameters-and-options)
1. CLI parameter (e.g. gym --scheme Example) or Fastfile (e.g. gym(scheme: 'Example'))
1. Environment variable (e.g. GYM_SCHEME)
1. Tool specific config file (e.g. Gymfile c

[2018-04-04 13:49] deftangel commented on #12228
+1, I'm getting the same problem in Xcode 9.3.

I also tried manually exporting an archive using the xcodebuild command and got the same complaint re: the beta-reports-active entitlement being missing. This also applies to the Organiser GUI when you select the Ad Hoc profile.

Regenerating the profile from the developer portal manually didn't add this entitlement to an Ad Hoc profile and as I unde

[2018-04-04 13:52] justMaku commented on #12228
It is possible in the "automatic" codesigning mode using Xcode Organizer. I understand this doesn't solve the issue at hand, but if you have to do an Ad-Hoc release right now, this is a viable option.

You could also build an App Store IPA and resign them with Ad-Hoc provisioning profile and certificate.

[2018-04-04 13:54] tootsweet commented on #12135
@joshdholtz / Yes it does

[2018-04-04 13:57] MobilityEngineer commented on #12069
@joshdholtz I give you an example. I intentionally did a typo error. The error message in the jenkins console log looks like this:

**Expected Error message**
<details>
<pre>

[x] /Users/Shared/Jenkins/Home/workspace/ios-test-build-pipeline/testci/ViewController.swift:22:5: expected declaration

h
    ^

** ARCHIVE FAILED **

The following build commands failed:
CompileSwift normal armv7
CompileSw

[2018-04-04 14:02] joshdholtz commented on #12146
@rs-georg Got a PR made for your issue ^

[2018-04-04 14:04] terje commented on #11929
I tested this using the latest Fastlane 2.89.0 now and the test still fails as described. I have updated the referenced GitHub repo to use this latest Fastlane version.

[2018-04-04 14:15] alexmaslov commented on #11663
Same issue. expiring certificates don't get renewed, but remain in the match repo until manually removed.

[2018-04-04 14:29] rs-georg commented on #12146
Cool, thanks!

[2018-04-04 14:57] chinmaygit commented on #12228
@fdrouet How did you downgrade to 9.2. for me it is still showing the same error.

[2018-04-04 15:28] deftangel commented on #12228
Thanks. I'm very reluctant to turn on automatic codesigning as we have a lot of white label apps across disparate developer accounts etc. and I am not very trusting :) For now, I've just rolled back to 9.2 but adding a resigning step is probably just as good a workaround.

[2018-04-04 16:39] codeNgamer opened #12236 "Fastlane match cant push back to git (exit status: 1)"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x
[fastlane.env.log](https://github.com/fastlane/fastlane/files/1876661/fastlane.env.log)
[fastlane.log](https://github.com/fastlane/fastlane/files/187666

[2018-04-04 17:08] kaiyisg commented on #11134
That's expected output as of fastlane `2.89.0`

[2018-04-04 17:24] DuglsYoung commented on #12214
Thanks, appreciate any suggestions. For product releases, I just use app.edit_version.release! But I don't see any equivalent for testflight.

[2018-04-04 17:35] postmechanical commented on #10894
Still needs to be implemented.

[2018-04-04 18:00] jkmassel commented on #11944
This seems to be resolved (at least for me) on Google's end in the latest version of the Admob SDK (but that's not to say that something else in the future couldn't cause this bug)

See v7.29?

[2018-04-04 18:30] kballard commented on #12221
@joshdholtz Is that label supposed to suggest to me, the issue author, that I should try doing this? Or is it just a cute way of saying "this is easy"?

[2018-04-04 20:35] ckuether opened #12237 "java.lang.RuntimeException: Unexpected error: java.security.InvalidAlgorithmParameterException: the trustAnchors parameter must be non-empty"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

So I tried to get to the root of my issue

[2018-04-04 21:17] sergiocampama commented on #12211
Yes, it worked initially, but then stopped working.

[2018-04-04 21:55] ryancarlson commented on #11201
I'm still having this issue... anyone else?

[2018-04-04 21:57] jeffmcfadden commented on #11828
Same, in 2.89.0

[code]

[2018-04-04 23:34] #11497 closed

[2018-04-04 23:39] joshdholtz opened #12238 "Bump screengrab version and update docs for falcon addition"
For https://github.com/fastlane/fastlane/pull/11535

[2018-04-05 04:16] #12238 closed

[2018-04-05 05:04] mgrebenets opened #12242 "version_get_podspec returns invalid version for podspec with swift version"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

The `version_get_podspec` returns invalid

[2018-04-05 06:26] Acumen004 commented on #12230
Here is the output of fastlane env

<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                         | Value                                                          |
| --------------------------- | -------------------------------------------------------------- |
| OS                          | 10.13.3                                                        |
| Ruby

[2018-04-05 06:58] fdrouet commented on #12228
I just download Xcode 9.2 on Apple Dev portal and install it next to the upgraded Xcode app (there is a lot of tutorials for that).
Don't forget to launch `xcode-select -p /Applications/Xcode9.2.app`

[2018-04-05 07:46] jhandguy commented on #11929
The same problem occurs to me as well, would be really nice to get this fixed.

[2018-04-05 09:40] chinmaygit commented on #12228
It is working magically, I just restarted the mac. Thank you.

[2018-04-05 10:03] ivmos commented on #12233
I did this as workaround but no idea why I need it...

[code]

[2018-04-05 10:43] deftangel commented on #12228
I filed a radar for this issue, someone else beat me to it as well;-

https://openradar.appspot.com/39203918

[2018-04-05 10:46] deftangel commented on #12228
Also, a handy site was launched very recently for getting hold of old Xcode releases;-

http://xcodereleases.com

[2018-04-05 10:57] justMaku commented on #12228
Yeah, I filed a radar for this yesterday:
https://openradar.appspot.com/39177635

Please dupe it so it gets more attention from .

[2018-04-05 11:15] rahulmodu commented on #12173
i am getting this error in latest version of fastlane ,but i was install 2.66.1 version of fastlane then its worked in 2.66.1.

[16:09:27]: [31mexecution expired[0m

+------+---------------------+-------------+
|             [32mfastlane summary[0m             |
+------+---------------------+-------------+
| Step | Action              | Time (in s) |
+------+---------------------+-------------

[2018-04-05 11:28] nubek commented on #11221
hey @janpio, some reply would be nice!

[2018-04-05 11:35] micnguyen commented on #12229
That would make sense. I could pass the GitLab environment variable for the branch from the GitLab YML file to Fastlane just for this, but the built in `scan` Slack Action uses the `:git_branch` so I would need to override that Slack payload and use the parameter. I've tried looking around the GitLab Settings to see if I could alter the way it checkouts the repo but there is nothing.

[2018-04-05 11:56] joshdholtz commented on #12164
@vizllx Woot, glad you got it! Looks like Jenkin's doesn't inherit stuff from .bashrc (and similar) 🙃 Happy fastlaning 🚀

[2018-04-05 12:00] joshdholtz commented on #12055
@vincedev Ahhhh, looks like I made the change locally but forgot to push 😱 I swear I know what I'm doing 🙃 NOW.... the fix should be there - https://github.com/fastlane/fastlane/pull/12195/commits/5f6ba6caef7b2316597d07f54c4608f289a8130f

[2018-04-05 12:03] joshdholtz commented on #12069
@MobilityEngineer That is output coming directly from the `xcodebuild` tool which cannot be nicely formatted into a Ruby exception with stacktrace

[2018-04-05 12:05] joshdholtz commented on #12221
@kballard Could mean both 🙃 We are always happy to accept PRs if this is something you want to try but also a good way for other to find a task that has low complexity

[2018-04-05 12:26] brunoarueira opened #12243 "onesignal action is missing the firebase cloud messaging sender id"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

After create a lane to configure an onesig

[2018-04-05 12:27] joshdholtz commented on #12135
@palusik86 It looks this _may_ be an issue with generating the dSYM with your derived data? Reasons being that the "Archived failed" error is happening right having "Touching .dSYM". Maybe try one or multiple of these solutions?
1) Make sure you `derived_data_path` is correct
2) Look at this issue - https://github.com/fastlane/fastlane/issues/6456#issuecomment-254888665 (This error occurred with s

[2018-04-05 12:27] rkrisztian opened #12244 "Need option to mark a Beta upload as Released in HockeyApp"
### New Issue Checklist

- [ ] Updated fastlane to the latest version: **I do not fully control the updates, and takes time to test a new upload. I'm using version `2.84.0`.**
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https

[2018-04-05 12:57] #11951 closed

[2018-04-05 14:04] janpio commented on #11134
hm?

[2018-04-05 14:05] gauravagarwalr opened #12246 "Unable to upvote a comment on github issue"
Hi,

I was wondering if it would be possible to restrict a issue but be able to allow for voting emojis to comments?

I really think the last comment on this issue needs to be up voted, as it has solved my issue:
https://github.com/fastlane/fastlane/issues/6866 .

I can't do that since the "@fastlane-bot fastlane-bot locked and limited conversation to collaborators on 22 Jun 2017"

I wasn't sure h

[2018-04-05 14:09] barrault01 commented on #12133
@joshdholtz any news about this issue I am not able to create an adhoc provisionning profile :(, if no one is looking at it, I can try to do a fix.

[2018-04-05 14:32] acegreen commented on #12210
@joshdholtz as far as I can tell yes, and I spent time to ensure its the same as the project for which it works (down to the Project folder structure)

[2018-04-05 15:24] #12243 closed

[2018-04-05 17:04] codesinghanoop opened #12248 "could not locate gemfile or .bundle/ directory"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
I use fastlane command in the post build sc

[2018-04-05 17:19] faithfracture commented on #11094
Tried with the latest Fastlane and this appears to have been resolved.

[2018-04-05 17:19] #11094 closed

[2018-04-05 17:31] #11928 closed

[2018-04-05 17:32] #11508 closed

[2018-04-05 17:32] #11323 closed

[2018-04-05 17:32] #11095 closed

[2018-04-05 17:33] #10855 closed

[2018-04-05 17:33] #10845 closed

[2018-04-05 17:33] #10834 closed

[2018-04-05 17:33] #10567 closed

[2018-04-05 17:34] #10176 closed

[2018-04-05 17:56] vanniktech commented on #9825
Still isn't solved.

[2018-04-05 18:28] acegreen commented on #12210
**NOT working:**
![screen shot 2018-04-05 at 2 26 33 pm](https://user-images.githubusercontent.com/10794609/38384586-8fd7444a-38dd-11e8-92df-db07e3c5ccfd.png)
![screen shot 2018-04-05 at 2 26 24 pm](https://user-images.githubusercontent.com/10794609/38384584-8fc3688a-38dd-11e8-8da9-755833b64aa1.png)
![screen shot 2018-04-05 at 2 26 41 pm](https://user-images.githubusercontent.com/10794609/38384588

[2018-04-05 18:40] logancautrell commented on #12133
As a work around, you can manually modify `production.all` to `in_house.all` in `fastlane-2.86.2/sigh/lib/sigh/runner.rb`:

[code]

That is how I've been working around the issue :)

[2018-04-05 18:51] jeffmcfadden commented on #11828
Update: Today Fastlane works fine, no changes made. This error seems to be coming from iTC itself, and not because Fastlane is doing something wrong, so far as I can tell now.

[2018-04-05 19:07] mueller-ma commented on #12189
`fastlane env` output added

[2018-04-05 21:34] Alarson93 commented on #11952
I would still appreciate some input on this.
Basically I want to be able to add internal testers to a given app. Is that possible in the current version of Fastlane and, if not, is it a feature that could be added in a future release?

[2018-04-05 21:59] thunky-monk commented on #11396
Could it possibly be related to having a non-iOS device registered, like an Apple TV? If you have X devices registered including Y non-iOS devices. The iOS provisioning profiles will include X - Y devices. Thus, the "device count" could be interpreted as changed?

[2018-04-06 11:25] joshdholtz commented on #12133
@barrault01 Ah sorry, this issue got lost in the shuffle! I 💯 agree this is misleading. I **will** look into fixing this one.

And @logancautrell's temporary solution will solve this (for now) 👌 Thanks for commenting that!

[2018-04-06 11:30] squarefrog opened #12249 "Snapshot doesn't take screenshots in Xcode 9.3"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

When I run `snapshot` using `fastlane snap

[2018-04-06 11:41] joshdholtz commented on #12210
@acegreen Can you try running it manually with `agvtool next-version -all` or `agvtool new-version -all <your_specific_version>`? That is what this action calls under the hood... If this doesn't work then its a configuration issue with your project and not a fastlane issue 🙃

[2018-04-06 11:54] squarefrog commented on #12249
If I delete my `snapfile`, then screen shots are taken and copied. I'll start with a fresh `snapfile` and see if I can see what is causing it to fail.

[2018-04-06 11:54] #12249 closed

[2018-04-06 12:09] revolter commented on #11985
Bot, please, don't 😢

[2018-04-06 12:33] squarefrog commented on #12249
Turns out i was missing a call to `setupSnapshot(app)` in the setup. Worth mentioning incase anyone else is using a very very old `Snapfile`!

[2018-04-06 12:41] elviin opened #12250 "Reuse existing"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

A client who is also an owner of a apple d

[2018-04-06 15:24] barrault01 commented on #12133
I forced returned Spaceship.certificate.in_house.all in place of Spaceship.certificate.production.all on the last else of the part @logancautrell quote. It fixed it for the moment.

[2018-04-06 16:04] kiril-pirozenko-home24 commented on #10378
Recently we also started to see this issue. Can't reproduce it reliably, sometimes it works, other times it doesn't. Environment is the same, credentials are the same, but sometimes it will crash while waiting for build to become available in iTunes Connect.

[code]

[2018-04-06 16:52] JesseScott commented on #12231
Check out the various plugins from this user --> https://github.com/Jems22

[2018-04-06 17:07] saoudrizwan opened #12251 "New update causes iPad snapshot automation to fail when running alongside other iPhone snapshot automations"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

I've been using snapshot automation for we

[2018-04-06 17:13] DuglsYoung commented on #12214
The extra step of setting the test group seems to have done the trick. So I basically do:

build.test_info.whats_new = "bug fixes, etc"

build.submit_for_testflight_review!

default_group = Spaceship::TestFlight::Group.default_external_group(app_id: build.app_id)

unless default_group.nil?
  build.add_group!(default_group)
end

[2018-04-06 17:13] #12214 closed

[2018-04-06 20:34] hborders commented on #8053
I'm looking at the [`upload_symbols_to_crashlytics.rb` source](https://github.com/fastlane/fastlane/blob/0a655cdc78741cbfffe1849aa4d8d272456a780d/fastlane/lib/fastlane/actions/upload_symbols_to_crashlytics.rb#L96), and it still looks like we don't fail the `upload_symbols_to_crashlytics` task if the shell command fails.

Would you accept a PR that adds an option to make `upload_symbols_to_crashlyt

[2018-04-06 21:30] slovz7 opened #12252 "Readmd"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [ ] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [ ] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

##### Complete output when running fastlan

[2018-04-07 00:33] dotku opened #12253 "Packaging NodeJS and Java Application?"
I'm not sure if it is a proper space to discuss this question, but dose NodeJS support java app wrapper? I want to run Java application inside a node app, eg I do have a Java App called JA.jre. I have a NodeJS Electron App called NEA, I want NEA to have full access on JA (access function, memory and ect, is it possible?)

[2018-04-07 02:28] artetinho opened #12254 "fastlane skipped exporting ipa file after archiving succeeded"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
fastlane command used:

[code]

After archi

[2018-04-07 05:44] ming-chu commented on #11883
I guess somethings wrong for action last_git_commit[.....],
it works after I remove related actions in Fastfile

[2018-04-07 06:45] YvesDelcoigne commented on #11659
Preliminary tests indicate that this issue should be solved, will confirm after further tests!

[2018-04-07 07:00] matteocollina commented on #10745
This is my beta lane and it works
`
get_provisioning_profile(
		  adhoc: true,
		  force: true
)
increment_build_number
gym(export_method:"ad-hoc",
	        scheme: "MyScheme",
	        workspace:"MyScheme.xcworkspace",
	        export_xcargs: "-allowProvisioningUpdates"
 )
`

[2018-04-07 10:02] aastlind commented on #11800
I think that https://github.com/fastlane/fastlane/pull/12134 will fix this. Not able to try right now, but will try next week and see if it works with the latest release.

[2018-04-07 12:46] orta opened #12255 "Supper hyperlinking in the changelog diff per version"
🔑

### New Issue Checklist

- [ ] Updated fastlane to the latest version: n/a
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Want to know what the cool kids are doing nowadays?

<img width="727" alt="screen shot 2018-04-07 at 8 38 03 am" src="https://user-images.githubusercontent.com/49038/38454967-0bf2ed1a-3a3f-

[2018-04-07 17:55] daniel-beard commented on #10793
Issue is not resolved.

[2018-04-08 06:41] YTFDoing opened #12257 "I started the project with the command "fastlane init swift" and found no FastlaneRunner. Xcodeproj file."
I started the project with the command "fastlane init swift" and found no FastlaneRunner. Xcodeproj file.

### Stack

| Key                         | Value                                       |
| --------------------------- | ------------------------------------------- |
| OS                          | 10.13.4                                     |
| Ruby                        | 2.5.0

[2018-04-08 09:56] #12251 closed

[2018-04-08 11:56] MobilityEngineer commented on #12069
@joshdholtz okay thanks for clarification. I think then its the best way to just link to the console output in Jenkins...

Nevertheless it would be so great if we could have a meaningful error message.

[2018-04-08 20:14] slovz7 opened #12258 "Existing"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [ ] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [ ] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

##### Complete output when running fastlan

[2018-04-08 21:33] cpk1 commented on #11902
@taquitos made PR that isn't quite complete yet to keep the ball rolling, let me know if it's good to keep working on or not!

[2018-04-08 22:36] hammadzz opened #12260 "match decrypted cert p12 file password does not work"
I followed how to decrypt certs and provisioning profiles from the repo:
`openssl aes-256-cbc -k "<password>" -in "<fileYouWantToDecryptPath>" -out "<decryptedFilePath>" -a -d`

But I am unable to use the p12 file after decrypting as the password does not work on it. I checked that I have the correct password from KeyChain. I am trying to use this certificate in a CI environment outside of fastlan

[2018-04-09 00:43] hammadzz commented on #12260
Looks like the decrypted p12 file is corrupt, fails when trying to convert it to pem

`openssl pkcs12 -in 28S6549VX7.p12 -out certificate.pem -nodes`

gets errors
[code]

[2018-04-09 01:47] fabiogomezdiaz opened #12261 "How to code sign and use multiple configurations for snapshot"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
https://github.com/KrauseFx/krausefx.com/bl

[2018-04-09 05:13] GiritharanHubbell opened #12262 "Generate .ipa using jenkins and fastlane"
Hi i am trying to generate .ipa using Fastlane and Jenkins.
In Fastlane i can able to generate ipa in terminal.
But i could not able to run fastlane in Jenkins Command Shell.
I tried almost all tutorial like this (https://medium.com/@cherrmann.com/continuous-integration-and-delivery-for-ios-with-jenkins-and-fastlane-part-1-3b17f1901a73).
But still i could not able to solve.Please help me.

Thanks

[2018-04-09 06:12] saitjr commented on #12262
Could you paste the logs?

[2018-04-09 06:28] GiritharanHubbell commented on #12262
Started by user xxx
Building in workspace /Users/Shared/Jenkins/Home/workspace/Git Practice

Fetching changes from the remote Git repository

Fetching upstream changes from https://github.com/xxx/Jenkins-Test.git

Checking out Revision 1dfd4e11b2e176550ea5f6e6033975ded81790d8 (refs/remotes/origin/master)

Commit message: "changes made with spaces"

Capturing environment variables produced by 'rvm

[2018-04-09 07:01] henningBunk commented on #12169
Does somebody has an idea how to fix the `no such file or directory` error? Or can hint me to the source of the problem. Thanks!

[2018-04-09 07:21] iosBob opened #12263 "fastlane gym error： Unable to locate Xcode"
### New Issue Checklist

➜  Test4All fastlane gym
[✔] 🚀

[!] **Unable to locate Xcode. Please make sure to have Xcode installed on your machine**
➜  Test4All

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

<details>
  <pre>
</pre>
</details>

### Environment

<details>
  <pre>
xcode 9.3

</pre>
</details>

[2018-04-09 07:41] silwar commented on #11687
Looking forward to Ubuntu 16.04 support.

[2018-04-09 08:32] edwinveger opened #12264 "Frameit: print progress in console with every rendered frame"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

In our project, we have approximately 30 l

[2018-04-09 08:56] saitjr commented on #12262
You should solve the ruby version in Jenkins.

[2018-04-09 09:54] iosBob commented on #12263
need add  match(type: "adhoc") first

[2018-04-09 11:25] joshdholtz commented on #12069
@MobilityEngineer Being able to parse the `xcodebuild` output for exactly the most meaningful message is easier said than done 🙃 The output has thousands of lines of code and really could be anything. We have some higher priority things to fix but if you would like to take a stab at this and submit a PR with what you are expecting to show, we would be happy to accept up 👍

[2018-04-09 11:25] bdominguez commented on #12228
Same here...

[2018-04-09 11:33] baturorkun opened #12265 "is it a bug?"
That is my code :
[code]

[2018-04-09 11:39] baturorkun commented on #12265
This is right behaviour.

▸       ^
[14:36:21]: ▸ ** BUILD FAILED **
[14:36:21]: ▸ The following build commands failed:
[14:36:21]: ▸ CompileC /Users/c2mmini/Library/Developer/Xcode/DerivedData/xyz-fasotvfvolkqerclpjwigtcdhwcx/Build/Intermediates.noindex/xyz.build/Debug-iphonesimulator/xyz.build/Objects-normal/x86_64/AppDelegate-C33BA34F5C2EF560.o PSDtoIOS/AppDelegate.m normal x86_64 objective-c c

[2018-04-09 11:44] EugeneDisiak commented on #12228
Faced with the same problem last Friday, after updating Xcode on CI machine. Downgrade is not an option for me, unfortunately.

[2018-04-09 11:53] deftangel commented on #12228
I had a response from Apple Engineering to my radar;-

In my case, the only entitlements I had specified in a plist file was for the push APS Environment. It seemed a little nonsensical as typically one does not add the beta-reports-active entitlement manually, it is usually specified in the App Store provisioning profile.

This prompted me to look at the embedded.mobileprovision in the archive. I

[2018-04-09 11:56] vincedev commented on #12055
Hi @joshdholtz . Yes this time it's there and I think we made progress.
Still getting an error but a different one :

[code]

Here is the stack :

[code]

[2018-04-09 12:03] MobilityEngineer commented on #12069
@joshdholtz yea I got that point. My original question was more related to the issue #6292 - so I thought there would be already a way to receive detailed error messages..

[2018-04-09 12:25] joshdholtz commented on #12055
@vincedev Ah yes! I did mean that 😊 I pushed a fix but this will still probably error out since it won't it looks like its not finding your plist file from your project settings properly 😔

[2018-04-09 12:29] joshdholtz commented on #12069
@MobilityEngineer Yeah, I don't think we put the `xcodebuild` output in that error that gets raised because it would be hundred or thousands of lines long. You may have to do something a little more custom to get that working.

[2018-04-09 12:52] vincedev commented on #12055
@joshdholtz you are welcome, no problem.

BTW, I just retried and it now looks like `gym` can't find the `Info.plist` file, although I did put its path in the environment.

[code]

The plist file in fact is a level lower deep in the hierarchy in `App macOS/App macOS/Supporting Files/Info.plist` (the path specified in the environment)

[2018-04-09 15:27] justMaku commented on #12228
That's correct @deftangel. I was able to reproduce it locally when setting the provisioning profile manually to "Ad Hoc" one.

For now the fix is to use "Ad Hoc" profile for the "Release" configuration in Xcode or to create a new AdHoc configuration in the project (keep in mind that might not work nicely with manual project dependencies - you'd have to create that configuration for each subproject

[2018-04-09 15:27] ThatBulgarian opened #12267 "How to disable dSYM?"
Hi,
Fastlane is crashing when touching the dSYM file and since I'm not using that, I just want to know how I can turn it off in code(not through the xcode ui)?

[2018-04-09 15:44] akamud commented on #11139
This has not been fixed and there is a code proposed as fix. It looks to me that a maintainer has to decide if it makes sense to add that code.

[2018-04-09 16:07] ThatBulgarian commented on #12267
preferably it would be through one command line instead of needing a fastfile

[2018-04-09 16:56] ZaidSA opened #12268 "How to write export_options in gym command, instead of Gymfile"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

How can I write below `export_options` in

[2018-04-09 17:32] #11969 closed

[2018-04-09 17:32] #11961 closed

[2018-04-09 17:32] #11954 closed

[2018-04-09 17:32] #11950 closed

[2018-04-09 17:32] #11949 closed

[2018-04-09 17:32] #11945 closed

[2018-04-09 17:32] #11942 closed

[2018-04-09 17:33] #11937 closed

[2018-04-09 17:33] #11936 closed

[2018-04-09 17:33] #11933 closed

[2018-04-09 17:33] #11930 closed

[2018-04-09 17:33] #11925 closed

[2018-04-09 17:33] #11872 closed

[2018-04-09 17:33] #11863 closed

[2018-04-09 17:33] #11844 closed

[2018-04-09 17:33] #11747 closed

[2018-04-09 17:34] #11513 closed

[2018-04-09 17:34] #11443 closed

[2018-04-09 17:34] #11440 closed

[2018-04-09 17:34] #11434 closed

[2018-04-09 17:34] #11413 closed

[2018-04-09 17:34] #11408 closed

[2018-04-09 17:35] #11403 closed

[2018-04-09 17:35] #11399 closed

[2018-04-09 17:35] #11335 closed

[2018-04-09 17:35] #11271 closed

[2018-04-09 17:35] #11200 closed

[2018-04-09 17:35] #11183 closed

[2018-04-09 17:35] #11131 closed

[2018-04-09 17:36] #10873 closed

[2018-04-09 17:36] #10871 closed

[2018-04-09 17:36] #10870 closed

[2018-04-09 17:36] #10869 closed

[2018-04-09 17:36] #10868 closed

[2018-04-09 17:36] #10865 closed

[2018-04-09 17:37] #10862 closed

[2018-04-09 17:37] #10822 closed

[2018-04-09 17:37] #10806 closed

[2018-04-09 17:37] #10798 closed

[2018-04-09 17:37] #10779 closed

[2018-04-09 17:37] #10725 closed

[2018-04-09 17:37] #10543 closed

[2018-04-09 17:38] #10226 closed

[2018-04-09 17:38] pandu17 commented on #11933
this was still a problem and i never received a solution/suggestion to this.

[2018-04-09 17:38] #8530 closed

[2018-04-09 18:13] kdbertel opened #12269 "What is a lane?"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [X] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [X] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

I would like to know what a `lane` is, and

[2018-04-09 18:26] #12146 closed

[2018-04-09 18:50] RishabhTayal commented on #12248
@codesinghanoop Do you have a `Gemfile` in your project folder? If you are not using `Gemfile` you should run without `bundle exec`.

[2018-04-09 19:01] RishabhTayal opened #12271 "[deliver] fails when age_rating is set"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

When running `deliver` for the first time

[2018-04-09 19:24] codesinghanoop commented on #12248
@RishabhTayal i removed bundle exec and it works great. Please can you tell me the reason behind this ?

[2018-04-09 19:27] RishabhTayal commented on #12248
Awesome. You could use fastlane as a bundled gem i.e. using `Gemfile`. If you use `Gemfile` you would be using `bundle exec` command. More info here in the [docs](https://docs.fastlane.tools/getting-started/ios/setup/#use-a-gemfile)

[2018-04-09 19:27] #12248 closed

[2018-04-09 21:29] SeanRobinson159 commented on #12155
That did work.
It would be a nice feature to add to fastlane to honor the project file setting for the build system though.

[2018-04-09 22:14] Ruenzuo commented on #12269
Have you seen https://docs.fastlane.tools/advanced/? I agree, the definition of Lane is somewhat missing, or I can't find it either.

[2018-04-09 22:47] kdbertel commented on #12269
I read through that, and at best I could learn that a `private_lane` was a `lane` that you couldn't call from the command line. And some other incidental details about a `lane`, but no good, clear definition or API for it.

I originally discovered this when I went to look up what `desc` was and how its API worked, and my first reaction was to go look up `lane` since I figured it would be mentioned

[2018-04-10 03:09] iosBob commented on #12263
![2018-04-10 11 06 34](https://user-images.githubusercontent.com/17870969/38534183-692ea6f0-3caf-11e8-9ec9-c92628a6e0e5.png)

check this option to solve my problem.

[2018-04-10 03:09] #12263 closed

[2018-04-10 04:45] cmckni3 opened #12275 "Can't enter 2 factory code"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Picked up iOS development again. Started f

[2018-04-10 11:07] joshdholtz commented on #12055
@vincedev Ahhh, weird! I will look into 😊 Thanks again! My project found the plist find but I also have the most basic macOS project possible 😛

[2018-04-10 11:59] joshdholtz commented on #12226
@eygraber You can totes do this 👌 My example is probably a little bit explicit with all the options I used but this worked for me by following https://docs.fastlane.tools/actions/supply/#changelogs-whats-new:
[code]

[2018-04-10 12:04] joshdholtz commented on #12227
@shailesh2208 You can use `Dir.glob` to find the APK that you want with something like this...

[code]

[2018-04-10 12:36] ppamorim opened #12276 "[screengrab] Start a specific device/emulator by AVD name"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

I noticed I need to set the `specific_devi

[2018-04-10 13:33] doruvil commented on #11747
I have been trying to pass parameters to lane as it was presented by @juliengdt and @taquitos but it's not working as it is described in this issue tickets.
For that reason I have documented here the whole process:
https://medium.com/@doruvil/fatlane-continous-integration-swift-version-b8851f1f38b6
There are some changes needed still for  **LaneFileProtocol**

[2018-04-10 13:36] joshdholtz commented on #12229
@micnguyen Yeah, you may have to do some manual overrides since what `scan` is reporting is "technically" correct 🙃 Can we close this issue for now since this is an issue more with the CI?

[2018-04-10 13:39] joshdholtz commented on #12231
@JesseScott Thanks for that comment! Going to close this issue for now since that is the accept answer and any issue with those plugins should be handled on those repositories 😊 Happy fastlaning 🚀

[2018-04-10 13:39] #12231 closed

[2018-04-10 13:51] doruvil opened #12277 "Pass args to swift lanes from command line"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
In order to pass arguments to a swift lane

[2018-04-10 13:53] joshdholtz commented on #12233
@ivmos This is super weird... "self" is not a type of option available 🤔 Does your dropdown look different than mine?

![screen shot 2018-04-10 at 8 52 21 am](https://user-images.githubusercontent.com/401294/38561007-8a4ec8d2-3c9c-11e8-942c-4192a1beb7db.png)

[2018-04-10 13:57] joshdholtz commented on #12236
@codeNgamer Can you try just manually cloning and pushing back up some small change to your repo? It looks there is an error that is being eaten up by fastlane that may not be getting displayed to you on why you can't push. Might be push access revoked or something? But if you manually clone your repo from GitHub and just add a new junk text file, I'm guessing you should be able to see your error

[2018-04-10 14:01] joshdholtz commented on #12237
@ckuether Are you able to build this app successfully from Android studio? At a high level, this seems to be an issue more whatever grade is trying to build than fastlane running grade. If you could let me know if this builds successfully in Android studio, I should be able to help you out more 😊

[2018-04-10 14:03] joshdholtz commented on #12244
@rkrisztian Is the `status` option not working? https://docs.fastlane.tools/actions/hockey/#parameters

[2018-04-10 14:04] joshdholtz commented on #12246
@gauravagarwalr Not sure why that got lock but I unlocked it for you to upvote it 👍

[2018-04-10 14:04] #12246 closed

[2018-04-10 14:10] rkrisztian commented on #12244
I left it on default, which is: _"2" = Available for download (only possible with full-access token)_. And yes, `Rights` have always been set to `Full Access`.

[2018-04-10 14:13] joshdholtz commented on #12250
@elviin So, `match` will reuse a certificate if its installed (public and private key) on the local machine (as the private key isn't stored by Apple). If the private key isn't installed, it will attempt to create a new one because otherwise it wouldn't be able to sign. (This may be known to you but just dropping this here for others).

That being said, `match` was initially designed for a full te

[2018-04-10 14:13] rkrisztian commented on #12244
To be exact, I got a configuration like this:

[code]

[2018-04-10 14:14] joshdholtz commented on #12252
Looks like this was created in mistake 🙃

[2018-04-10 14:14] #12252 closed

[2018-04-10 14:15] joshdholtz commented on #12253
@dotku Heyyy 👋 I think this is the wrong place for this 😊 I don't think your question has much intersection with fastlane as we are a building/automation tool for iOS, Android, and macOS apps

[2018-04-10 14:15] #12253 closed

[2018-04-10 14:17] eygraber commented on #12226
@joshdholtz thanks.

And if `track` was `beta` then the listing would only be updated for my users in the beta, and users in the `production` track wouldn't see the new listing information?

[2018-04-10 14:18] joshdholtz commented on #12254
@artetinho Are you able to paste your entire output from your command here so I have some more information to go on? 😊 Thanks!

[2018-04-10 14:27] joshdholtz commented on #12257
@YTFDoing Things seem to work for me 🙃 Can you run `fastlane init swift --verbose` and paste your whole output here so I can see what's going on?

[2018-04-10 14:27] joshdholtz commented on #12258
Looks like this was created in mistake 🙃

[2018-04-10 14:27] #12258 closed

[2018-04-10 14:32] joshdholtz commented on #12260
@hammadzz Heyyy 👋 It looks like you were able to get this working, correct?

[2018-04-10 14:36] joshdholtz commented on #12267
@ThatBulgarian You can change your build settings to just be "DWARF" 🙃
![screen shot 2018-04-10 at 9 35 47 am](https://user-images.githubusercontent.com/401294/38563464-92e5ac12-3ca2-11e8-8bc2-795250efe611.png)

[2018-04-10 14:38] joshdholtz commented on #12269
@kdbertel `desc` is just a way for you to "describe" your lane. Its not required at all 😊

A `lane` is real similar to a `Rakefile`'s `task` if that helps at all - http://jacobswanner.com/development/2013/rake-file-tasks/

[2018-04-10 15:09] ThatBulgarian commented on #12267
I feel like you just read the title and not the comments I put. Anyways, I found out how myself.

[2018-04-10 15:09] #12267 closed

[2018-04-10 16:51] hammadzz commented on #12260
@joshdholtz yes. Perhaps this needs to be added to the documentation as the current documentation although is correct is overly simple and misleading. It should be clear the p12 file is the private key only .

[2018-04-10 17:31] kdbertel commented on #12269
@joshdholtz Can I do multi-line `desc`s? If so, how? How does variable interpolation work when the `desc` strings are grabbed for output by `fastlane list`?

It would be helpful if the documentation included information that discussed the similarity of a `lane` to a `task`, instead of it being buried in a Github issue. (Along with a link to what a `task` is, for people who don't know `rake` trying

[2018-04-10 17:31] #11971 closed

[2018-04-10 17:31] #11709 closed

[2018-04-10 17:32] #11438 closed

[2018-04-10 17:32] #10989 closed

[2018-04-10 17:32] #10901 closed

[2018-04-10 17:32] #10881 closed

[2018-04-10 17:32] ethanjdiamond commented on #10462
@joshdholtz fwiw, just the change you've done so far would be valuable to my team. When we push up a build when one's already processing, it fails because it doesn't take into account the processing build's number. It looks like your change would fix that issue.

[2018-04-10 17:32] #10875 closed

[2018-04-10 17:32] #10810 closed

[2018-04-10 17:33] #10336 closed

[2018-04-10 18:07] FeoSilva opened #12279 "Gym problem finding scheme with diacritic"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

A problem was introduced in version `2.86.

[2018-04-10 18:32] acegreen commented on #12210
Thanks for the help, doing it manually exposed the issue. Even though the project was pointing to the correct info.plist location, in the Build Settings, the location was hardwired incorrectly.

[2018-04-10 18:42] lblast commented on #12200
It seems that the plugin has a bug (or I'm using it incorrectly?).

I tried several versions of my fastfile:

`lane :dev do
  update_provisioning_profile_specifier(
    new_specifier: 'match Development com.###.###',
    configuration: 'Debug'
  )
  gym
end`

`lane :dev do
  update_provisioning_profile_specifier
end`

Sorry I don't know how to format the code block nicely like you...

Both of thes

[2018-04-10 18:45] svanzoest commented on #10796
Is anyone working on this? I still think it is very useful to have.
If no one is, I'll see if I can take a stab at it.

[2018-04-10 23:47] joshdholtz commented on #11139
Hey all 👋 I made what I think is a fix for how `match` will handle enterprise adhoc-ness ^ If you want to check it out that would be ❤️

[2018-04-11 00:30] micnguyen commented on #12229
That's right, it is more of an issue with the CI as opposed to Fastlane. If anyone stumbles onto this, the quickest hack solution is to provide the `$CI_COMMIT_REF_NAME` variable from `gitlab-ci.yml` into Fastlane as a parameter and use that as necessary. :)

Closing.

[2018-04-11 00:30] #12229 closed

[2018-04-11 04:51] mmdumi commented on #10462
@joshdholtz Were you able to find a fix for this issue ?

[2018-04-11 05:00] mofneko opened #12282 "[Question] About fastlane deliver"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

I have some questions about fastlane deliv

[2018-04-11 07:40] mofneko commented on #12282
The following questions self-solved
"Is it necessary to set automatic_release to ture when using this parameter?
"
https://github.com/fastlane/fastlane/blob/master/deliver/lib/deliver/options.rb#L140

if you do not mind
Please tell me what parameters are required to submit the application to the store review using delivery immediately after creating plain app in iTunes Connect
In that case, automa

[2018-04-11 09:05] baturorkun commented on #12265
<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                         | Value                                                          |
| --------------------------- | -------------------------------------------------------------- |
| OS                          | 10.13.4                                                        |
| Ruby                        | 2.3.3

[2018-04-11 10:15] ZaidSA commented on #12268
I ended up with using `ExportOptions.plist` file already added, and then referenced in following command.

`fastlane gym --scheme "<Scheme Name>" --export_options "/<Path-To-File>/ExportOptions.plist" --verbose`

Here is how my `ExportOptions.plist` looks like,

[code]

[2018-04-11 10:15] #12268 closed

[2018-04-11 10:35] Wojcik opened #12283 "update_availability is not working. Apple has changed mandatory fields."
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
Getting ** ~/.rvm/gems/ruby-2.4.1/gems/fast

[2018-04-11 11:46] morlombakop opened #12284 "Fastlane Snapshot is try to read the devices.plist of a simulator that does not exist"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [ ] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [ ] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
When i try the capture screenshot, i have a

[2018-04-11 12:40] joshdholtz commented on #12226
@eygraber That is correct 👌

[2018-04-11 12:47] joshdholtz commented on #12269
@kdbertel The `Fastfile` is simple a ruby file so interpolation works how any other ruby file would...
[code]

We probably won't do a link to `rake` and what a `task` is since those aren't used at all within fastlane (I was just using that as an example incase you were familiar with `rake`). But can you create an issue over at https://github.com/fastlane/docs with what you want to see for lane doc

[2018-04-11 12:51] joshdholtz commented on #10462
Heyyy 👋 My WIP PR _kind of_ fixed it but there was still an issue with it not showing all the builds it was supposed to. I was being limited by the iTC API somehow but I don't remember why/how exactly. 🤔 I will try to revive this PR for you all and get things solved 💪

[2018-04-11 12:52] joshdholtz commented on #10462
Oh, that was it! We are able to see the "manually expired" ones but the iTC API doesn't show us the "processing error" ones 😱

[2018-04-11 12:56] joshdholtz commented on #12260
@hammadzz Do you want to take a stab at updating the documentation with what you want to be there? 🙃 This is the file that needs to be changed - https://github.com/fastlane/fastlane/blob/master/fastlane/lib/fastlane/actions/docs/sync_code_signing.md

[2018-04-11 13:25] SuperBarracuda commented on #12228
I had the same issue with Xcode 9.3. My issue was caused by the notification extension target specificing the "App Store profile" but the main target specified adhoc. Admittedly im using custom scripts for the export archive process. Once archived my script exports ad-hoc + appstore ipa's. This works as long as the xcode project specifies adhoc provisioning profile when archiving. Hope this is of

[2018-04-11 13:34] henningBunk commented on #12276
When you are working with emulators you could get rid of `adb devices -l`. The result will only be a combination of `emulator-` and the port number.
So you could start your emulator with `-port 5554` to be certain about the port number and start fastlane with `--specific-device emulator-5554`.

But I agree the documentation is pretty sparse.

[2018-04-11 15:48] #12226 closed

[2018-04-11 19:19] joshdholtz commented on #12221
@RishabhTayal
- rename `AppStoreBuildNumberAction` to `AppStoreInfo` have it return all the things
- create `AppStoreBuildNumberAction` which just grabs the build number (for backwards compatibility)
- no need to create `AppStoreVersionNumberAction` cause people can just use `AppStoreInfo`

[2018-04-11 19:50] joshdholtz commented on #12283
@Wojcik This is good to know! I will add "pre-order" a thing 😊 Thanks for finding this ❤️

[2018-04-11 20:15] lblast commented on #12200
After some additional work I think the plugin is working as intended.

When building I get the following:

+-----------------------+--------------------------------------------------+
|                         [32mSummary for match 2.89.0[0m                         |
+-----------------------+--------------------------------------------------+
| git_url               | git@bitbucket.org:###/ios-c

[2018-04-11 21:26] joshdholtz commented on #12283
@Wojcik I _think_ the actual solution here is to call `data.delete("preOrder")`

The data object contains...
[code]

so it was trying to reset the `appAvailableDate` (which is why you were getting that error). Instead of overwriting this value completely, I'm going to change this up to delete the `preOrder` key completely so that it won't get updated to anything

[2018-04-11 21:44] RishabhTayal commented on #11525
Any updates on this one? I have been seeing this more than often now.

[2018-04-12 02:51] artetinho commented on #12254
Oh, there was an incorrect configuration for the release config that used macOS for base SDK instead of ios, it led to the issue I mentioned above.
I'll close the issue ticket as invalid. Thanks everyone for look over.

[2018-04-12 02:51] #12254 closed

[2018-04-12 03:31] illl48 commented on #12060
any updates? appreciate it.

[2018-04-12 03:34] ggallotti opened #12288 "Fastlane init not getting correct Schema name for workspace"
### Issue Description

Fastlane is not getting the correct Scheme name from my Workspace.
(Used to work before)

xcodebuild: error: The workspace named "Betting_UI_InZone_AppQuiniela" does not contain a scheme named "Betting_UI_InZone_AppQuiniela".

My Schema Name is: AppQuiniela

##### Complete output when running fastlane, including the stack trace and command used

<details>
  <pre>GonzaMacBook

[2018-04-12 07:59] onato opened #12289 "Command `addvideo` deprecated. Use `addmedia` instead."
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
The `add_video` Snapshot setting produces t

[2018-04-12 10:51] elwerene opened #12291 "fastlane match creates lots of random private keys in keychain"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

I'm using fastlane match in a cd environme

[2018-04-12 13:36] lukaskukacka commented on #10378
I started encountering this issue as well using `fastlane pilot` to upload IPA to iTunesConnect.
IPA is uploaded, but `fastlane` crashes at some point of waiting for the build to appear.

- The issue started happening to me somewhere last week of March 2018.
- `fastlane pilot` never succeeded for me since then.

### last week of March 2018, fastlane v 2.85.0
Crashes stared March 2018 were appearin

[2018-04-12 14:51] joshdholtz opened #12292 "Verify that user is logged in to ruby gems in `verify_env_variables` private lane"
`fastlane release` will fail if not logged into ruby gems (which happens at very end). This should get checked in the beginning in `verify_env_variables`

Idea from @revolter 😊

[2018-04-12 17:09] gradha opened #12293 "lane_manager.rb:106:in `choose_lane': [!] uninitialized constant Fastlane::LaneManager::Terminal (NameError)"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

After upgrading fastlane from 2.87-0 to 2.

[2018-04-12 17:11] johnknapprs commented on #12291
I've experienced the same thing.  Though it inconsistently happens across machines.  One build machine will get buried in these keys while others running the same job do not.

I'll clear them out, then after awhile see it happen on another.  It's even happened on development machines.  Not sure what's going on but I think it might come from the match keychain password being passed to unlock.

[2018-04-12 17:31] #11976 closed

[2018-04-12 17:32] #11878 closed

[2018-04-12 17:33] #11484 closed

[2018-04-12 17:33] #11462 closed

[2018-04-12 17:33] #11433 closed

[2018-04-12 17:33] #11402 closed

[2018-04-12 17:33] #11363 closed

[2018-04-12 17:33] #11105 closed

[2018-04-12 17:34] #10907 closed

[2018-04-12 17:34] #10906 closed

[2018-04-12 17:34] #10905 closed

[2018-04-12 17:34] #10902 closed

[2018-04-12 17:35] #10689 closed

[2018-04-12 17:35] #10595 closed

[2018-04-12 18:11] YissacharB opened #12294 "character content of element "file_name" invalid; must be a string matching the regular expression "[^/: ]"
### New Issue Checklist

- [ X] Updated fastlane to the latest version
- [ X] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [ X] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [ X] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
I have an app with an Hebrew name.
It w

[2018-04-12 18:52] aric87 commented on #12294
Same issue with an app name with a space in it. Looks to be the same issue as this https://github.com/fastlane/fastlane/issues/10373

[2018-04-12 20:52] mebowen commented on #11534
I am also seeing this issue

[2018-04-12 20:53] mebowen commented on #11454
I'm also seeing this issue.

[2018-04-12 20:54] mebowen commented on #11220
I'm also having this issue with XCode 9.2

[2018-04-12 22:27] sureshjoshi commented on #11586
Thanks for the instructions guys! Just a note, I needed to also run this command, since I had something in my local/bin directory

    rm /usr/local/bin/fastlane

[2018-04-12 22:31] taquitos commented on #11586
@sureshjoshi thanks for the note, I updated the instructions to mention that a symlink might be there 👍

[2018-04-12 23:48] sushant40 commented on #12293
I have the same issue. I upgraded from 2.89.0

[2018-04-12 23:56] sushant40 commented on #12293
hi @gradha ... you can downgrade by using following command...

`sudo gem install fastlane -v 2.89.0`

then remove the bad version using...

`sudo gem uninstall fastlane`

[2018-04-13 00:22] Apocryphon opened #12295 "Crashlytics cannot handle relative directories for IPA path"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

All of my app builds are to a specific dir

[2018-04-13 00:33] Apocryphon commented on #12295
When I replace the tilde with my home directory path, `crashlytics` is satisfied, but then it fails thusly:

[code]
Where `$api_secret` in the error page is the string of my actual API key, the result of `sh("echo $api_secret")`. So is it even possible for to invoke environmental variables in Crashlytics when passing in the key and secret?

[2018-04-13 00:45] Havi4 opened #12296 "Use "bundle exec pod install " it says "Could not find CFPropertyList-3.0.0 in any of the sources""
<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                         | Value                                       |
| --------------------------- | ------------------------------------------- |
| OS                          | 10.13.3                                     |
| Ruby                        | 2.4.0                                       |
| Bundler?

[2018-04-13 00:47] Havi4 commented on #12296
Hi guys, when use "bundle exec pod install", I get the fail "Could not find CFPropertyList-3.0.0 in any of the sources", but the "CFPropertyList" had installed in my gem. can anyone help me?

[2018-04-13 02:31] danielbowden commented on #11572
Same comment as my last one above..

In the meantime I'm using the following in my Fastfile but it's not as clean as the previous action.

[code]

[2018-04-13 02:32] CavalcanteLeo commented on #12294
It's happen to me to after o upgraded to 2.9, I will downgrade too

[2018-04-13 03:49] jsauve commented on #10324
Have you first manually uploaded an AdHoc-signed APK to the Google Play Console? This has to be done first before any subsequent APKs can be sent via Deliver (or any other means that uses the new Google Play deployment mechanism).

[2018-04-13 05:00] ashishpatill opened #12297 "Could not find `fastlane`"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Hello i am trying fastlane for first time.

[2018-04-13 05:01] ashishpatill commented on #12297
updated with issue checklist

[2018-04-13 07:48] revolter commented on #12293
Or if you use `bundler`, you can specify the version like:

[code]

then run:

[code]

After this, you can remove the version.

[2018-04-13 07:54] raulrom13 commented on #12293
I have the same issue with version 2.90.0.

`Looking for related GitHub issues on fastlane/fastlane...

➡️  lane_manager.rb:106:in `choose_lane': [!] uninitialized constant Fastlane::LaneManager::Terminal (NameError)
    https://github.com/fastlane/fastlane/issues/12293 [open] 3 💬
    a minute ago

➡️  S3 Action is not able to find Access Key and Secret Access Key
    https://github.com/fastlane/f

[2018-04-13 08:01] revolter commented on #12293
A fixed version will hopefully be released soon.

[2018-04-13 09:12] damoncoo commented on #12283
@joshdholtz how did you add pre-order data? I am not quite familiar with the usage

[2018-04-13 09:53] revolter commented on #12297
Does https://github.com/fastlane/fastlane/issues/729 help you?

[2018-04-13 09:56] revolter commented on #12297
Also, it would be easier to help you if you would describe the issue in the description instead of the title 😅

[2018-04-13 10:27] DanToml commented on #12297
Updated the title/issue for readability.

[2018-04-13 11:00] YissacharB commented on #12294
Mine has space too, and it seems that ia not the character in Hebrew but the space.

[2018-04-13 11:12] zapjonny commented on #12293
Me too!

[2018-04-13 11:30] zapjonny commented on #12293
If I ran `fastlane custom_lane` it worked. Just running `fastlane` crashes though.

[2018-04-13 11:40] #12293 closed

[2018-04-13 11:44] DanToml commented on #12297
@ashishpatill Hey, to be able to help you here, we need some more information:

- How did you install fastlane?
- What is the output of `echo $PATH`
- What is the output of `which ruby`
- What is the output of `which fastlane`
- What is the output of `gem list`

Thanks!

[2018-04-13 12:14] joshdholtz opened #12300 "adb_spec fails when `ANDROID_SDK_ROOT` is set on local machine to something else"
- Might need to also check other Android environment variables besides `ANDROID_SDK_ROOT` 😊

[code]

[2018-04-13 17:20] pesterhazy opened #12301 "`ensure in take_off': uninitialized constant Fastlane::VERSION"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Running on Circle CI, we auto-update fastl

[2018-04-13 17:32] #11995 closed

[2018-04-13 17:33] #11516 closed

[2018-04-13 17:33] #11485 closed

[2018-04-13 17:34] #11411 closed

[2018-04-13 17:34] #10916 closed

[2018-04-13 17:37] #3334 closed

[2018-04-13 17:38] luongm commented on #11189
The PR made by @byohay should have fixed this issue. Although free trial is still broken because it was migrated after Introductory Pricing too, but that can be a separate issue

[2018-04-13 17:55] invoodoo opened #12302 "[Transporter Error Output]: The filename .ipa_0bd16aa42f3bc516f51b0b7c4136697e2398c40e0b46cf16acbeb98321b8ba5f.ipa in the package contains an invalid character(s)"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

After latest update of fastlane it started

[2018-04-13 18:49] SlaunchaMan commented on #12301
I am also seeing this [in Xcode 7 images](https://travis-ci.org/AFNetworking/AFNetworking/jobs/366239284) in Travis.

[2018-04-13 19:01] pesterhazy commented on #12301
One data point: going back to (randomly chosen) 2.88 fixes things for me:

[code]

[2018-04-13 19:10] SlaunchaMan commented on #12301
Yep, our 2.88 builds worked just fine.

[2018-04-13 21:00] joshdholtz opened #12303 "lane_context does not have :hash_with_strings return type so laneContext() in Swift doesn't work"
This is not documented and may or may not be broken 🙃

[2018-04-13 21:35] jeromediaz commented on #11773
I have had to do something like that and what I finished doing wasn't to try launching only a specific test, but using launch arguments at the start of each test to exit it if it is not the targeted test

[2018-04-13 21:38] jeromediaz commented on #11469
Don't know if it might help, but trying to take screenshots on an iPhone 4s (simulator) running 9.1 I had the issue, but not anymore when I upgraded the simulator to iOS 9.3.

[2018-04-14 00:42] thankmelater23 opened #12304 "Getting errors when running snapshot, don't know whats wrong."
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
<H1>Getting errors when running snapshot, d

[2018-04-14 08:27] #12194 closed

[2018-04-14 09:55] TargetNoBug opened #12305 "RVM detected, forcing to use system ruby Now using system ruby"
[17:52:31]: ⬆️  Check out the few lines of raw `xcodebuild` output above for potential hints on how to solve this error
[17:52:31]: 📋  For the complete and more detailed error log, check the full log at:
[17:52:31]: 📋  /Users/yuweiliu/Library/Logs/gym/XIDIAN-XIDIAN.log
[17:52:31]:
[17:52:31]: Looks like fastlane ran into a build/archive error with your project
[17:52:31]: It's hard to tell what's

[2018-04-14 09:56] TargetNoBug commented on #12305
gem source is https://gems.ruby-china.org/ that is correct  in china

[2018-04-14 10:56] TargetNoBug commented on #12305
Exit status: 70

[2018-04-14 11:09] suryakant-t-yadav commented on #12301
I am also going through the same issue. fastlane-2.91.0.
any help regarding this.

[2018-04-14 15:36] HarrisHan opened #12306 "Code Signing Error: "xxxxx" requires a provisioning profile."
<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                         | Value                                                          |
| --------------------------- | -------------------------------------------------------------- |
| OS                          | 10.13.4                                                        |
| Ruby                        | 2.3.3

[2018-04-14 17:32] #11531 closed

[2018-04-14 17:32] #11530 closed

[2018-04-14 17:32] #11515 closed

[2018-04-14 17:32] #11366 closed

[2018-04-14 17:33] invoodoo commented on #12302
Everything is ok, double checked. The problem with IPA name, after last update it with incorrect symbol in the name.

[2018-04-14 23:27] thankmelater23 opened #12309 "Can't gym app. No profiles for 'com.app' were found"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
<h3>
error: exportArchive: No profiles for

[2018-04-14 23:52] thankmelater23 opened #12310 "Blank screen shots on Snapshot"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

##### Complete output when running fastlan

[2018-04-15 13:52] emilkarl commented on #12294
Same here

[2018-04-15 14:02] joshdholtz commented on #12283
PR has been made ^ 😊

[2018-04-15 17:31] #12009 closed

[2018-04-15 17:31] #12008 closed

[2018-04-15 17:32] #12005 closed

[2018-04-15 17:32] #11735 closed

[2018-04-15 17:32] #11538 closed

[2018-04-15 17:32] #11520 closed

[2018-04-15 17:33] #10944 closed

[2018-04-15 17:33] #10943 closed

[2018-04-15 17:33] #10880 closed

[2018-04-15 17:33] #10403 closed

[2018-04-15 17:33] #10236 closed

[2018-04-15 18:03] joshdholtz commented on #12133
Heyyy 👋 I have an open PR out for this fix ^

[2018-04-15 18:15] joshdholtz commented on #11062
@spanage Heyyy 👋 Is this still an issue for you? I tried this with multiple group names with spaces in them and it has worked for me every time 🙃

[2018-04-15 18:47] CavalcanteLeo commented on #12294
I've downgraded to 2.9.0 and now it's working again

[2018-04-15 18:51] spanage commented on #11062
Hey! No longer an issue! Thanks :-)

Sent from my iPhone

[2018-04-15 19:15] joshdholtz commented on #12110
@nikitaame Heyyy 👋 Are you still experiencing this issue? I tried for a while today and I could not replicate 😔

[2018-04-15 19:16] joshdholtz commented on #10378
Are you all seeing this issue pretty much 100%. of the time? Or is it just flakey? I tried for a while today and I was not able to replicate at all 😔

A few questions that might help me out there... Are your IPAs that you are uploading super large? What is the role of your iTC account that you are all uploading with? Thanks ❤️

[2018-04-15 20:38] #12283 closed

[2018-04-15 20:54] joshdholtz commented on #12261
@fabiogomezdiaz Can you send a screenshot or put the output here for what you mean by...

I'm not exactly sure what you are seeing with this but if you can show me I may be able to help out more 😊

[2018-04-15 20:58] joshdholtz commented on #12262
@GiritharanHubbell This is not a fastlane issue and a configuration issue (as of right now based upon your output). Your Jenkins script could not determine which Ruby version to use which means it wasn't able to touch fastlane. Please look into on how to first solve by finding your Ruby version while running Jenkins 😊

[2018-04-15 20:58] #12262 closed

[2018-04-15 21:00] joshdholtz commented on #12265
@baturorkun This may be an issue with signing? Is there a reason you are using `xcodebuild` instead of `gym` or `build_ios_app`? They provide more magic to help you build your app 😊

[2018-04-15 21:05] joshdholtz commented on #12271
@RishabhTayal Do you have a code example of this? I can't find anything in the project that matches `age_rating` so I'm not exactly sure how to help right now 😊

[2018-04-15 23:41] #12303 closed

[2018-04-16 00:36] owurman commented on #12233
I have the same issue after updating.

It's unclear from the error which file it's having an issue with, but the target I'm running on has the files as Relative to Group.

[2018-04-16 00:46] RishabhTayal commented on #12271
@joshdholtz The age rating can be set through the `app_rating_config_path` option. I am sorry if I misrepresented the problem. Now that I read the description it sounds confusing.

Actually you can set the app rating of the app using the `app_rating_config_path` option. However you can only set this option the very first time. After the app rating is set on iTunes connect, this option will throw a

[2018-04-16 01:03] owurman commented on #12294
I had to downgrade to 2.81.0 to get around this.

[2018-04-16 02:09] RishabhTayal commented on #12271
@joshdholtz I figured out what the issue was. The issue is not with the `app_rating_config_path`. I was sending wrong value for the `metadata/trade_representative_contact_information/country.txt` file. This requires a valid country name.

Closing this now.

[2018-04-16 02:09] #12271 closed

[2018-04-16 02:49] dayjer opened #12314 "[Screengrab] to [Supply] locale ID (Indonesian)"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

The Google Play locale for Indonesian is "

[2018-04-16 03:13] dayjer commented on #12314
Moreover, I forgot to delete the "in" folder that was created and got the following error running
[code]
Error:
[code]

[2018-04-16 03:48] dimmduh commented on #12293
2.91 does not fix for me
"uninitialized constant Terminal"

[2018-04-16 03:49] zapjonny commented on #12293
2.91 fixed it for me.

[2018-04-16 04:04] dimmduh commented on #12293
@zapjonny I'm not rube programmer, may be something wrong in my code
29 line

`module Fastlane
  module Actions
    class UnityAction < Action
      def self.run(params)
	    executablePath = params[:executable]
		executablePath["{version}"] = params[:unity_version]

        build_cmd = "#{executablePath}"
        build_cmd << " -projectPath #{params[:project_path]}"
        build_cmd << " -batchm

[2018-04-16 06:45] emilkarl commented on #12294
I went down to `2.89.0` and it works fine!

[2018-04-16 06:51] nverinaud commented on #10378
On friday 13th it worked well for me...
My IPA is not large and the iTC account I use has the App Manager role.
I guess it really is a problem at Apple from time to time.
Thanks for your response 😉

[2018-04-16 07:26] kiril-pirozenko-home24 commented on #10378
Last time we have encountered this issue was 6th of April. Since then all is working fine. Also, recently we have disabled automatic changelog upload, so this issue should not impact us anymore.

[2018-04-16 08:16] punksta opened #12315 "unlock_keychain fails on gitlab runner with 51 status code."
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
I run fastlane on gitlab runner. I use team

[2018-04-16 08:48] revolter commented on #12293
@dimmduh, Try adding `require 'terminal-table'` at the top of your file.

[2018-04-16 09:08] baturorkun commented on #12265
hi joshdholtz
i want to build at first, then run tests and then upload.
I need three steps.

[2018-04-16 09:23] FabienLydoire opened #12316 "Scan : Take screenshots of failed UI Tests"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
The issue #1932 "App screenshots of failed

[2018-04-16 09:48] EugeneDisiak commented on #12228
I had this problem with our Fastnale. We need to provide Crashlytics builds using AdHoc profile. For now as _temporary_ (?) solution I did create another file with Fastlane configuration and used **Debug** (instead of **Release**) as Archive Configuration. So for me I did avoid creation of new scheme inside the project.

[2018-04-16 10:12] alexmngn opened #12317 "Can't upload to play store using internal track"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

I'm trying to use the `internal` track of

[2018-04-16 11:10] cmartin81 commented on #12294
Same issue her also...

[2018-04-16 11:47] lukaskukacka commented on #12294
Same issue here with `fastlane-2.91.0`

[2018-04-16 12:36] rusty21 commented on #12301
Also seeing this issue on mac, v2.91.0

[2018-04-16 12:42] AndyDunn commented on #12294
Is there an easy work around for this using a config parameter of Fastfile? I'd rather not have to change anything in Xcode.

[2018-04-16 13:34] lefoy commented on #12228
Same issue here.. the AD Hoc export is not working since I upgrade to xcode 9.3

[2018-04-16 15:28] kdbertel commented on #12269
Good call. I didn't realize there was a different issues set over there. I'll get it migrated over.

[2018-04-16 16:09] lukaskukacka commented on #10378
@joshdholtz thanks for looking into this.

Sorry for late answers and not so many run samples. Unfortunately I cannot run specific process with the same settings too often for various external reasons and each test takes 2+hrs.

## Tests

I though I was having failure every time, but today I had mixed results.
All tests done with `fastlane-2.89.0` (because latest `fastlane-2.91.0` has issue #12294

[2018-04-16 16:47] chrisjingram commented on #12301
I'm also seeing this on Mac OS (CircleCI), Fastlane v2.91.0

[2018-04-16 17:31] #12018 closed

[2018-04-16 17:32] #11886 closed

[2018-04-16 17:32] #11503 closed

[2018-04-16 17:35] n1mda commented on #11886
@joshdholtz thank you for the response. But doesn’t nuking the certs mean that installed applications will stop working?

[2018-04-16 17:47] joshdholtz commented on #12276
@ppamorim Made a PR to allow using device names ^ it _will_ require that `telnet` be installed, however, to get device names for emulators

[2018-04-16 17:50] #12300 closed

[2018-04-16 19:26] alejandrodau commented on #12228
I implemented the workaround suggested by @justMaku by using the `automatic_code_signing` action in my ad-hoc ipa builder lane. Copying it here in case it is useful to somebody else:

[code]

[2018-04-16 19:30] lefoy commented on #12228
I reinstalled xcode 9.2 and it's working again

[2018-04-16 20:14] samwarfield opened #12319 "Latest Testflight build number not parsed into Int..."
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Using the Swift tool
The latest Testflight

[2018-04-16 20:48] cpk1 commented on #12301
Just to add some further details...
If I use RVM to switch to Ruby 2.4.1 which I don't use I can gem install fastlane and "fastlane --version" will work. However using the environment I typically work in - Ruby 2.0.0 using "bundle install --path custom/gem/path" I get:

[⠸] 🚀 bundler: failed to load command: fastlane (/custom/gem/path/ruby/2.0.0/bin/fastlane)
NameError: uninitialized constant Fast

[2018-04-16 21:09] sarsonj opened #12320 "xCode build works, fastlane one not"
### Issue Description

I have project using Cocoapods and also development pods. The development pod is created using J2Objc - Java to Objective-C transformer. Till now, I have no problem with building using xCode and Archive, however, fastlane build fails.

Is there anything, that is different in build made by fastlane from that build in xCode?

##### Complete output when running fastlane, includ

[2018-04-16 22:04] #12204 closed

[2018-04-16 22:43] joshdholtz commented on #11792
@koenpunt Ahhhhhh, I see now 😊 This is would be a pretty large change **but** probably _could_ be a good one since official and documented like you said. I will take a look at and weigh things out 😇 Thanks for linking this!

[2018-04-16 22:48] joshdholtz commented on #12265
I would still suggest trying to run `run_tests ` and `build_ios_app` (at least at first) 😇. This tools have are meant to run tests and build apps and will have more documentation and do more magical things for you that could help you out

[2018-04-16 22:50] KrauseFx commented on #11792
So if I'm not mistaken, https://help.apple.com/itc/appsspec/#/itc6e4198248 is just describing the format of the iTunes Transporter. We consciously stopped using transporter for app metadata & screenshots, as lots of companies faced issues when they had firewalls or proxies setup. So if this is using the transporter, I see no reason for now to make a switch. If it's something else, it might be wort

[2018-04-16 22:57] joshdholtz commented on #12294
Looking into this right now!

[2018-04-16 23:00] #12320 closed

[2018-04-17 00:09] cpk1 opened #12322 "Fastlane fails with "duplicated argument name""
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
I use Fastlane with Ruby 2.0.0 (the Ruby sh

[2018-04-17 00:13] #11139 closed

[2018-04-17 00:13] #12133 closed

[2018-04-17 00:33] cpk1 commented on #12301
If I check out master and point my gemfile to use the local repo I don't get this error...

[2018-04-17 01:08] #12294 closed

[2018-04-17 01:12] joshdholtz opened #12324 "testing if regression works"
This is just a test ⚠️

[2018-04-17 01:12] #12324 closed

[2018-04-17 01:13] joshdholtz commented on #12319
@samwarfield Will look into for you!

[2018-04-17 04:03] onato commented on #12289
Bump

[2018-04-17 04:07] joshdholtz commented on #12294
Hey everyone! Sorry about this issue. This should be fixed now in `2.92.0` 😊

As a side note: please feel free to put the word "regression" in the title if something like this happens again. The issue will pop out a little bit more to the team and get fixed right away 🙃

[2018-04-17 04:21] onato opened #12325 "HardwareKeyboardFix.patch no-longer work with Xcode 9.3"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
The "Connect Hardware Keyboard" setting has

[2018-04-17 06:50] koenpunt commented on #11792
@KrauseFx thanks for chiming in; did Fastlane previously used the ITMSTransporter program? Or did just using those api endpoints cause issues already?
Because the above mentioned endpoints can be used without the ITMSTransporter

[2018-04-17 08:40] HarrisHan commented on #12306
found action `update_project_provisioning`

[2018-04-17 08:40] #12306 closed

[2018-04-17 09:19] erdem-inan opened #12327 "undefined method `in_house?' for nil:NilClass with fastlane 2.92"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Impossible to run a lane with the new vers

[2018-04-17 10:04] satheeshkumarf commented on #12327
+1

[2018-04-17 10:46] GaborWnuk commented on #12327
+1

[2018-04-17 11:11] wanyakun commented on #12305
+ 1

[2018-04-17 11:12] wanyakun commented on #12305
In my jenkins some jobs are ok, and some jobs have the error: RVM detected, forcing to use system ruby.....

[2018-04-17 11:16] fburel commented on #12327
Same here,
Seems the problem comes from match...
When I run match directly, it informs me that Apple updated it's licence agreement and that I have to go to the website to approve them.
I did, but the problem is still here.

`
[13:12:28]: undefined method `in_house?' for nil:NilClass

+------+----------------------------+-------------+
|                fastlane summary                 |
+------+--

[2018-04-17 11:44] Reyske commented on #12296
have you tried:
`gem update --system`
`gem install bundler`
`bundle install`

[2018-04-17 13:02] michalciurus commented on #12327
+1

[2018-04-17 13:29] Dids commented on #12327
Disabling `readonly` is not really a fix though.

[2018-04-17 13:33] satheeshkumarf commented on #12327
I just reverted my fastlane version to 2.91.0 in my Gemfile and the issue is not there in that version. So, until its fixed, I think we need to use the previous version.

[2018-04-17 14:13] joshdholtz commented on #12327
Looking into 😬

[2018-04-17 14:25] #12327 closed

[2018-04-17 14:26] joshdholtz commented on #12327
Reverted the breaking PR and making bump for `2.92.1`

[2018-04-17 14:50] erdem-inan commented on #12327
@joshdholtz Thanks !

[2018-04-17 14:56] joshdholtz commented on #12327
Okay, `2.92.1 is out! Would you be able to give it a try to make sure it works for you all? 🙃

[2018-04-17 15:10] yakimant commented on #12209
There is an Apple thred, fyi:
https://forums.developer.apple.com/thread/99923

[2018-04-17 15:53] joshdholtz commented on #12322
@cpk1 Thanks for the report! Will look into 👀

[2018-04-17 16:16] bcorrea2-luizalabs commented on #12327
I had same problem here, after the update everything is fine again! Tk you very much!!!

[2018-04-17 17:32] #11553 closed

[2018-04-17 17:32] #11544 closed

[2018-04-17 17:32] #11421 closed

[2018-04-17 17:32] #10966 closed

[2018-04-17 17:32] #10962 closed

[2018-04-17 17:32] #10949 closed

[2018-04-17 17:32] #10936 closed

[2018-04-17 17:33] #10895 closed

[2018-04-17 17:33] #10200 closed

[2018-04-17 17:34] Cyberbeni commented on #11642
fixed

[2018-04-17 17:34] #11642 closed

[2018-04-17 18:00] kerwinAPG opened #12331 "xcpretty: command not found"
### New Issue Checklist

- [x ] Updated fastlane to the latest version
- [x ] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x ] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x ] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
I am getting the xcpretty: command not

[2018-04-17 19:55] jshier commented on #12295
You should access the environment variables directly using `ENV["name"]`. Better yet, export them using the names the `crashlytics` action expects (`CRASHLYTICS_API_TOKEN` and `CRASHLYTICS_BUILD_SECRET`) and it will pick them up automatically.

[2018-04-18 00:11] joshdholtz commented on #12317
@alexmngn I just successfully upload to "internal" track with `2.92.1` 🤔

What version of _fastlane_ are you running? Can you run `fastlane env` and paste the response here? Can you also paste your whole console to output as well if you don't mind so I can see a stacktrace?

[2018-04-18 00:34] tristandl opened #12332 "download_dsyms fails when there are builds that were marked as invalidBinary"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

I have some invalid binaries in iTunes Con

[2018-04-18 00:34] tristandl commented on #12332
oh, and --capture_output didn't work - not sure why (I got no output), so i copied and pasted the output manually. hope that's ok

[2018-04-18 01:24] jrreed commented on #10163
This is still broken for me, unfortunately.

[2018-04-18 01:31] jrreed commented on #10163
Sorry, I guess I should add some more details....

I tried upgrading to `2.86.0`, as well as `2.92.0` (need to be at least on version behind the latest to test), and still received the upgrade notification.

[2018-04-18 02:08] cHaLkdusT commented on #10949
Hi all,

I would like to re-open this since there's no activity/reply for this issue.

Thanks,

[2018-04-18 02:08] invoodoo commented on #12302
@joshdholtz just checked, still the same issue. 2.92.1 version of the fastlane

[2018-04-18 02:24] joshdholtz commented on #12302
@invoodoo What does your `PRODUCT_NAME` value look like in your Xcode project's build settings?

[2018-04-18 02:25] joshdholtz commented on #12296
@Havi4 Can you try adding `gem "cocoapods"` to your `Gemfile` if it isn't there?

[2018-04-18 02:30] joshdholtz commented on #12295
@Apocryphon Using `~` will sometimes cause errors. In that case, I sometimes call `File.absolute_path('~/something/something')` to get the absolute path to pass to things.

And @jshier is right, you should use `ENV['name']` to access environment variables. You could also make use of `.env` files to store your environment variables - https://docs.fastlane.tools/advanced/#environment-variables

[2018-04-18 02:34] joshdholtz commented on #12291
@elwerene This is really strange - I have never seen _match_ make that many private keys before 🤔 If you could share your `Fastfile` that would be great

[2018-04-18 02:35] joshdholtz commented on #12289
@onato Thanks for the find! Backwards compatibility is something that we definitely need to maintain. Would you still be comfortable making this PR? If not, I can totally do it 😊

[2018-04-18 02:39] joshdholtz commented on #12288
@ggallotti Can you take a screenshot of the "Edit Scheme..." modal from Xcode so we can see what all schemas should be available? Your console output show the "AppQuiniela" scheme. Is this the scheme that you actually want?

[2018-04-18 02:43] invoodoo commented on #12302
http://drops.invoodoo.com/ru37c9 "Free"

[2018-04-18 02:48] joshdholtz commented on #12236
@codeNgamer Yeah, this is super strange 🤔 Is this running in a CI environment or over SSH or anything?

[2018-04-18 02:52] joshdholtz commented on #11886
@n1mda That is correct. The apps would have stopped working already though if the certs have expired. But I create a new cert and push new apps out before the the old cert expired so there is an overlap in certs and no downtime for my users 😊

[2018-04-18 03:04] joshdholtz commented on #12302
@invoodoo I see where in the code that could fix this but I'm confused on how this is happening for you 🤔 I'm going to make a PR for this that will be available in a few days in `2.93.0`

[2018-04-18 03:08] joshdholtz commented on #12284
@morlombakop Can you paste your whole console output in here for me? 😊 Thanks!

[2018-04-18 03:09] invoodoo commented on #12302
@joshdholtz thanks, let me know if I can help you somehow.

[2018-04-18 03:09] TargetNoBug commented on #12305
### Stack

| Key                         | Value                                       |
| --------------------------- | ------------------------------------------- |
| OS                          | 10.13.4                                     |
| Ruby                        | 2.4.1                                       |
| Bundler?                    | false                                       |

[2018-04-18 03:11] TargetNoBug commented on #12305
@wanyakun many error in here whose commit is similar to yours

[2018-04-18 03:14] joshdholtz commented on #12302
@invoodoo Can you try changing your `Gemfile` to the following to see if this works for you?
[code]

[2018-04-18 03:16] joshdholtz commented on #12305
@TargetNoBug Thanks for the env! Can you also paste all the output from the fastlane command that you were running so that I have some more information to go on?

[2018-04-18 03:17] joshdholtz commented on #12304
@thankmelater23 Hmmm... Did `snapshot` work for you before? Or is this the first time you are trying to use it in this project?

[2018-04-18 03:32] joshdholtz commented on #12302
@invoodoo Ah sorry, I was assuming you had a `Gemfile` already. If you did have a `Gemfile`, you will need to run `bundle install` or `bundle update` before running `bundle exec fastlane <your lane>`.  Did you have a `Gemfile` already?

If not, you will need to also run `gem install bundler` before running `bundle install` or `bundle update`.

Don't worry if its too much trouble 🙃

[2018-04-18 03:36] joshdholtz commented on #10163
@jrreed How are you trying to use `FASTLANE_SKIP_UPDATE_CHECK`?

[2018-04-18 03:42] thankmelater23 commented on #12304
It’s the first time. It says successful the images are just blank.

	ANDRE VILLANUEVA
IOS DEVELOPER
BANG BANG STUDIOS	Mobile: 323-989-2306
Email: Andre@AndreVillanueva.com
Skype: THANKMELATER23
Website: www.AndreVillanueva.com
Address: LOS ANGELES, CA
Status: AVAILABLE FOR HIRE

Sent from my iPhone

[2018-04-18 03:43] invoodoo commented on #12302
@joshdholtz I have a gemfile, forgot about bundle install/update. I have done steps. And now it works.

[2018-04-18 03:44] invoodoo commented on #12302
@joshdholtz why it started to ask me select

--------------------------------
[20:43:31]: --- Step: get_version_number ---
[20:43:31]: --------------------------------
What target would you like to use?
1. Free
2. Paid

[2018-04-18 03:44] joshdholtz commented on #12332
@tristandl Heyyyyy 👋 So good news is you did download some dSYMs 😊 Bad news is there isn't anything we can do about those `Error accessing dSYM file for build` because they builds were invalid binaries. We print those out for you so we know you we tried but couldn't do it 🙃

[2018-04-18 03:48] #12177 closed

[2018-04-18 03:49] joshdholtz commented on #12302
@invoodoo What version were you upgrading from? We also had to recently make a change `get_version_number` to make things more stable going forward. We were using `agvtool` which had sketch output and recently replaced it with using the `xcodeproj`. More info can be seen here - https://github.com/fastlane/fastlane/issues/12177#issuecomment-376912765

The answer though is to do something like...
[c

[2018-04-18 03:50] invoodoo commented on #12302
@joshdholtz thanks for explanation.

[2018-04-18 03:53] joshdholtz commented on #12304
@thankmelater23 Ah, so fastlane is finishing successfully? Your original comment looked like it the fastlane command was failing in a weird spot. Did you write some UI tests to move through your app and wait for the proper views to show before taking the screenshots?

[2018-04-18 03:54] joshdholtz commented on #12302
@invoodoo Not a problem! The way `get_version_number` behaved before was technically wrong so wanted to fix it going forward 😇 But were you able to get my new branch pulled down? Is that working for you now?

[2018-04-18 03:57] invoodoo commented on #12302
pilot works now very well ;)

[2018-04-18 03:57] joshdholtz commented on #12331
@kerwinAPG I have never run Xcode server but it looks like this might be a configuration issue with your machine. It looks like one of your things is installed as/with a root account and the other is running with your user account?

[2018-04-18 03:58] joshdholtz commented on #12302
@invoodoo Woot woot! This PR will go out sometime later this week with the next release. Thanks for working on this with me 😊

[2018-04-18 03:59] invoodoo commented on #12302
@joshdholtz  sure, fastlane is awesome it is always a pleasure to help make it even better :)

[2018-04-18 03:59] #12302 closed

[2018-04-18 04:37] jrreed commented on #10163
As mentioned above...

"I set FASTLANE_SKIP_UPDATE_CHECK=1 in my fastlane/.env file that I was
expecting to have been loaded by *fastlane*.

I can confirm that by manually setting FASTLANE_SKIP_UPDATE_CHECK=1 when
running my fastlane command the update check *is* skipped."

On Tue, Apr 17, 2018, 8:36 PM Josh Holtz <notifications@github.com> wrote:

[2018-04-18 05:47] saitjr commented on #12209
@yakimant Thanks, for now I use:

[code]

[2018-04-18 05:50] mofneko commented on #12282
@joshdholtz I appreciate your reply.
I looked into some actions. Strangely, although DeliverFile has parameters called metadata path and appicon path, even if it is not mentioned, it will be automatically affected when the target file is placed under the fastlane directory.
It is amazing. Do you have other files that behave like this? I expected ScreenShot to do it, but it did not work.

[2018-04-18 06:33] tristandl commented on #12332
sorry, my bad - I thought these errors were killing my build, but it was actually the next step where i had a problem with my crashlytics key not being read from the info.plist correctly 😬

at least i learnt a bit about fastlane today! looks great!

[2018-04-18 06:33] #12332 closed

[2018-04-18 07:42] CihanBoz commented on #10163
I have the same problem with 2.89.0! I am using export FASTLANE_SKIP_UPDATE_CHECK=1

[2018-04-18 07:47] erdem-inan commented on #12327
@joshdholtz It is fixed ! Thanks !

[2018-04-18 08:54] BubiDevs commented on #12275
Same problem here.

Session token expired, Fastlane requires for a new one but It can't give me the time to insert the code.

[2018-04-18 10:00] yakimant commented on #12209
@saitjr, yes. xcent file is redundant.

[2018-04-18 10:11] limXInfi commented on #12209
@saitjr yes, but you can not checkt entitlements at runtime this way...

[2018-04-18 11:55] gtatgh opened #12336 "nexus_upload does not support Nexus 3 upload"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
The action `nexus_upload` does not support

[2018-04-18 14:15] #12317 closed

[2018-04-18 14:15] alexmngn commented on #12317
Found out there were 2 versions of fastlane with 2 ruby, a clean up and an upgrade and everything works

[2018-04-18 15:59] Wojcik commented on #12305
Hey, having the same issue when trying to build from microsoft vsts server. There was no such error before migration to rvm. How can I help to find out what's wrong?

[2018-04-18 16:59] codeNgamer commented on #12236
@joshdholtz Yeah can we leave this open for a while and I'll post my solution when I find one. Thanks

[2018-04-18 17:35] cpk1 commented on #12301
Oops sorry for the confusion, I'm am getting this locally! Let me know if you want me to make another issue.
I have script that I use to start fastlane that does a "bundle install" and then "bundle exec fastlane".
Behavior I am seeing is if my gemfile has "gem 'fastlane'" I run into this, if I use "gemspec path: File.expand_path('/local/fastlane/master/checkout')" or "gem 'fastlane', '2.89.0'" I h

[2018-04-18 17:41] KrauseFx commented on #11792
We used `ITMSTransporter` in the past, but many users had issues with it, due to firewalls and proxies

[2018-04-18 17:51] gerbil802 commented on #10564
I have it too. I have a videos for all required sizes on iTunes Connect. This happens when I don't upload a preview though, just screenshots.

[2018-04-18 19:31] macdoum1 opened #12337 "Some usages of list-keychains clobber the list of keychains"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

[Resign](https://github.com/fastlane/fastl

[2018-04-18 21:40] lblast commented on #12200
Any ideas?

[2018-04-18 23:34] joshdholtz commented on #12304
@thankmelater23 The error is happening at https://github.com/fastlane/fastlane/blob/master/snapshot/lib/snapshot/update.rb#L9 when looking for the helper 🤔 But it the error is...

[code]

Its trying to look in your build directory (probably because where you have it configured in your system) and its going crazy with that super super super long path? I would maybe suggest try moving your build dir

[2018-04-18 23:38] joshdholtz commented on #12282
@mofneko A lot of the tools have things similar like that.

### Some samples
- _snapshot_ has `Snapfile` https://docs.fastlane.tools/actions/snapshot/#snapfile
- _match_ has `Matchfile`
- `Appfile` is used by many fastlane things - https://docs.fastlane.tools/advanced/#appfile

[2018-04-18 23:38] joshdholtz commented on #12332
@tristandl Not a problem! It is a little be spooky at first - I am not afraid to admit that 😇 Happy fastlaning 🚀

[2018-04-18 23:51] joshdholtz commented on #10163
@jrreed @chnbz Made a fix for this here - #12338

[2018-04-18 23:51] joshdholtz commented on #12327
@erdem-inan Woot, glad it works for you! Sorry about that 🙃

[2018-04-19 00:26] joshdholtz commented on #12291
@elwerene Nothing really jumps out as odd here. Are you able to upload a screenshot of what those certs with strange labels? I'm curious as to what these certs look like that are being created

[2018-04-19 00:34] joshdholtz commented on #12209
Below are references to archived-expanded-entitlements.xcent in `resign.sh`. The hard part about this is that this will still need to be backwards compatible with Xcode 9.2 and older (if we wanted to make this change)
- https://github.com/fastlane/fastlane/blob/master/sigh/lib/assets/resign.sh#L615
- https://github.com/fastlane/fastlane/blob/master/sigh/lib/assets/resign.sh#L822
- https://github.c

[2018-04-19 00:39] joshdholtz commented on #12336
@gtatgh Heyyy 👋 I have required a free trial on the Nexus platform so that I can work on making this change  but if you would like to take a tab at implementing this change that would also be great 😊

[2018-04-19 00:41] thankmelater23 commented on #12304
What would you suggest I do?  I have no why the path is repeating itself like that.  Here’s the build location settings in the project.

	ANDRE VILLANUEVA
IOS DEVELOPER
BANG BANG STUDIOS	Mobile:  323-989-2306
Email:Andre@AndreVillanueva.com <mailto:Andre@AndreVillanueva.com>
Skype: THANKMELATER23 <https://webapp.wisestamp.com/sig_iframe?origin=mac-mail&signature_id=4536824381308928&t=0.64325371384

[2018-04-19 00:43] #12322 closed

[2018-04-19 00:48] joshdholtz commented on #12236
@codeNgamer Have you tried the "Instructions" in this section - https://docs.fastlane.tools/advanced/#manually-manage-the-fastlane-match-repo ?

[2018-04-19 00:56] thankmelater23 commented on #12304
Update to the error im now getting.

$ fastlane gym
[✔] 🚀
[18:39:53]: fastlane detected a Gemfile in the current directory
[18:39:53]: however it seems like you don't use `bundle exec`
[18:39:53]: to launch fastlane faster, please use
[18:39:53]:
[18:39:53]: $ bundle exec fastlane gym
[18:39:53]:
[18:39:53]: Get started using a Gemfile for fastlane https://docs.fastlane.tools/getting-started/ios/s

[2018-04-19 01:06] joshdholtz commented on #12301
@cpk1 I can't seem to think of anything that would be causing this 🤔 Can you try running `bundle update fastlane` instead when you `Gemfile` has `gem 'fastlane'` in it and see what happens?

[2018-04-19 01:55] mofneko commented on #12282
@joshdholtz Thank you very much.
However, the details of my question are to visit the file which loads automatically even if you do not mention the path in GymFile such as .txt file placed under metadata rather than the configuration file (eg GymFile) specific to fastlane It was.

[2018-04-19 01:59] mofneko commented on #12282
I am interested in reflecting on iTC when executing the fastlane deliver command by placing the file called AppIcon.jpg in the fastlane directory.

[2018-04-19 02:16] joshdholtz commented on #12337
@macdoum1 This is an interesting find 🤔 I will volunteer my keychains as tribute to duplicate and fix this issue

[2018-04-19 02:33] joshdholtz commented on #12304
@thankmelater23 I hate saying this but I don't exactly know what the exactly solution is here 😔 The only thing I have concluded is it looks like there is some weird circular path going on. Maybe try deleting derived data? I don't know if that will do it or not.

My next usual steps if something like this happens to me would be create a new sample project that works and start doing things to it unt

[2018-04-19 02:35] TargetNoBug commented on #12305
I find thatMy app with the full certificate is perfectly complete when fastlane is packaged

At 2018-04-18 23:59:49, "Ant" <notifications@github.com> wrote:

Hey, having the same issue when trying to build from microsoft vsts server. There was no such error before migration to rvm. How can I help to find out what's wrong?

—
You are receiving this because you were mentioned.
Reply to this email di

[2018-04-19 02:41] ileitch opened #12339 "`xcodebuild -showBuildSettings` called twice."
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Scan runs `xcodebuild -showBuildSettings`

[2018-04-19 02:42] joshdholtz commented on #12200
@lblast So it looks like using the plugin set your profile to the profile name that you wanted correctly but it doesn't look like that profile is installed. So from what I can tell, it looks like you either most likely...

1) Didn't type the correct profile name into `update_provisioning_profile_specifier`
or
2) Didn't install the profile through `match`, `sigh`, or manually

Hopefully this helps

[2018-04-19 03:15] mofneko commented on #12282
I'm sorry my question was not in the correct format.

For example, DeliverFile has an option to describe a directory storing information such as metadata_path, screenshot_path, app_icon.
However, if metadata information is stored in the directory fastlane / metadata, it will be loaded at deliver time without description.

[2018-04-19 03:15] mofneko commented on #12282
I'm sorry my question was not in the correct format.

For example, DeliverFile has an option to describe a directory storing information such as metadata_path, screenshot_path, app_icon.
However, if metadata information is stored in the directory fastlane / metadata, it will be loaded at deliver time without description.

[2018-04-19 03:46] barnaclebarnes commented on #11703
@joshdholtz Yes I did. The `no implicit conversion of Symbol into Integer` message was bugging me though. So I used byebug to pause the execution:

[code]

I have passed export options in as a link to the file as per the docs:

[code]

It seems that you can't do that. You have to pass a hash.

I'm now getting further by passing a hash to gym:

[code]
I still get this issue though:

[code]

[2018-04-19 04:40] ziruozimi commented on #12228
same issue.

[2018-04-19 07:37] nrazvan87 opened #12340 "/Users/user/.fastlane/bin/bundle/lib/ruby/gems/2.2.0/gems/fastlane-2.92.1/fastlane_core/lib/fastlane_core/ui/interface.rb:121:in `crash!': [!] No code signing identity found and can not create a new one because you enabled `readonly` (FastlaneCore::Interface::FastlaneCrash)"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [ ] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

[10:26:20]: Set output directory path to:

[2018-04-19 07:44] fburel commented on #12327
Perfect! It is fixed :)

[2018-04-19 08:40] matiasvillaverde commented on #11160
Still have the same issue, is not possible to set the iPhone X at the same level as the rest of the devices.

[2018-04-19 11:07] gtatgh commented on #12336
Hello @joshdholtz have you had the chance to give it a try? If so how far are you?

[2018-04-19 15:05] priitlatt opened #12342 "Match won't terminate in non-interactive mode without Match password"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

When `MATCH_PASSWORD` environment variable

[2018-04-19 16:30] doruvil commented on #12303
My fastlane env:
### Stack

| Key                         | Value                                       |
| --------------------------- | ------------------------------------------- |
| OS                          | 10.13.4                                     |
| Ruby                        | 2.3.1                                       |
| Bundler?                    | false

[2018-04-19 17:31] #12019 closed

[2018-04-19 17:32] #11487 closed

[2018-04-19 17:32] #10986 closed

[2018-04-19 17:32] #10978 closed

[2018-04-19 17:32] #10976 closed

[2018-04-19 17:32] #10891 closed

[2018-04-19 17:33] #10841 closed

[2018-04-19 17:33] #10740 closed

[2018-04-19 18:34] macdoum1 commented on #12337
@joshdholtz here is an example of the behavior on macOS 10.12.6
[code]

As you can see my `/Users/mmacdougall/Library/Keychains/login.keychain-db` keychain gets clobber. It appears that the system keychain is immune to this behavior

[2018-04-19 18:54] mbogh opened #12343 "Scan/run_tests will succeed if build fails"
🔑

### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

We are using `danger` and the `danger-j

[2018-04-19 19:12] cpk1 commented on #12301
Doesn't seem to make a difference.
Tried doing
bundle install --path  ~/github/Fastlane/vendor/bundle
bundle update fastlane
No clue what's going on but both locally and on jenkins we need to pin to 2.89.0, which is OK for now but I imagine at some point we are going to want to update :P.
I'll try to poke around some more 🤷‍♂️

Here's the top of bundle exec fastlane env if more info helps
### Stac

[2018-04-19 19:56] joshdholtz commented on #12336
@gtatgh I am still working with them to get me setup on a free trial 😇

[2018-04-19 21:46] kerwinAPG commented on #12331
I found a fix for this was to add to my trigger script the following:

   PATH="/usr/local/bin:$PATH"

and then as the Fastfile invokes gym, that the scripts will search the usr/local/bin/ for commands rather than the default usr/bin/ location.  This is necessary for Xcode Server where a test user is created.  I credit Honza Dvorsky for this solution.  This fix was an adaptation of one he suggeste

[2018-04-19 22:28] cpk1 commented on #12301
Alright so after poking around some more it looks like the version of rubygems that is used to package the gem might be causing the issue? I am not familiar with how gems get packaged up and everything but I see that 2.90.0-2.92.1 (do not work for me) were all packaged with rubygems 2.4.5.5 whereas 2.89.0 (works for me) was packaged with 2.5.2.2 and 2.93.0.beta (works for me) was packaged with 2.5

[2018-04-19 22:39] nthegedus commented on #11735
Same issue here.

I've tried to upload manually and it worked fine.

Any idea if it's a bug?

Here's the error:

+------+------------------+-------------+
|           fastlane summary            |
+------+------------------+-------------+
| Step | Action           | Time (in s) |
+------+------------------+-------------+
| 1    | default_platform | 0           |
| 2    | gradle           | 3

[2018-04-20 00:35] joshdholtz commented on #12291
@elwerene Ahh, I see! How many different teams are you making builds for? My key list about 20 long but it doesn't grow when I run `match` for a team that I already ran `match` for?

[2018-04-20 02:15] garyhooper opened #12344 "match: SSL_connect returned=1 errno=0 state=error: certificate verify failed (unable to get local issuer certificate"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### match will not connect using my Apple ID. gives SSL_connect e

[2018-04-20 02:51] garyhooper commented on #12344
Updating certs resolved it.

[2018-04-20 02:51] #12344 closed

[2018-04-20 08:15] elwerene commented on #12291
I think it's a total of 5 Teams.

[2018-04-20 09:11] garyhooper opened #12345 "ios build failing: App requires a provisioning profile with the Push Notifications feature"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [ ] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [ ] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
I am using match for certs/provisioning pro

[2018-04-20 10:59] DominikBucher12 opened #12346 "[Documentation request] Fastlane scan without parameters default behaviour"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)
- [x] I googled like hell.

### Issue Description

## I would like

[2018-04-20 11:43] J-Jamet commented on #10874
@tobiasKaminsky how do you know that it works with a flavor folder, i do not see anything in the doc?

[2018-04-20 13:06] joshdholtz commented on #12289
@onato Created a PR for this ^

[2018-04-20 13:08] joshdholtz commented on #12291
@elwerene Something definitely seems fishy. I build stuff for 10ish teams and don't see the same issue at all. Are you nuking the `match` repo before every run? Nuking is the only way I could see where it would keep adding more keys

[2018-04-20 13:13] joshdholtz commented on #12303
@doruvil Are you able to send me what your `Fastfile.swift` looks like? I want to try and duplicate your situation

[2018-04-20 15:59] elwerene commented on #12291
Nope, no nuking.--------- Original Message ---------
From: Josh Holtz
To: fastlane/fastlane
Date: Fri Apr 20 15:08:34 GMT+02:00 2018
Subject: Re: [fastlane/fastlane] fastlane match creates lots of random private keys in keychain (#12291)

@elwerene Something definitely seems fishy. I build stuff for 10ish teams and don't see the same issue at all. Are you nuking the match repo before every run? Nu

[2018-04-20 16:26] acecilia commented on #11659
Using 2.92.1. The issue is still not resolved.

1 - When using match, I have the certificate and private key in a customCreated-locked keychain (not in login keychain).
2 - During gym, I am asked access to the locked keychain, and I reject it, and fastlane fails.
3 - When removing the certificate and key from the custom keychain and running the lane again, the certificate and key are added to the

[2018-04-20 17:31] #11943 closed

[2018-04-20 17:31] #11866 closed

[2018-04-20 17:32] #11575 closed

[2018-04-20 17:32] #11536 closed

[2018-04-20 17:32] #11521 closed

[2018-04-20 17:33] #11444 closed

[2018-04-20 17:33] #11273 closed

[2018-04-20 17:33] #11016 closed

[2018-04-20 17:33] #11007 closed

[2018-04-20 17:33] #11000 closed

[2018-04-20 17:33] #10980 closed

[2018-04-20 17:34] #10924 closed

[2018-04-20 17:34] #9857 closed

[2018-04-20 18:05] mbogh commented on #12343
Sad to disappoint you @fastlane-bot but it is not 😀

[2018-04-20 21:38] #12289 closed

[2018-04-20 23:27] chrisballinger opened #12349 "scan with result_bundle cannot be run twice: xcodebuild resultBundlePath existing file"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

When running scan with `result_bundle` (wh

[2018-04-21 00:56] SepiaGroup opened #12351 "Issue deploying the React Native sample app to HockeyApp and running on a iPhone provisioned device"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

I have create the sample React Native app

[2018-04-21 08:58] exavi commented on #11586
Running all of the above steps broke completely my fastlane install and now I've reverted to doing everything the manual way.

Using the system ruby version I got this error when running the command
```sudo bundle update```
error message:
[code]
tried installing rbenv and running that mess separately, which resulted in rbenv not really working and trying to install stuff to the system provided rub

[2018-04-21 09:38] exavi commented on #11586
Small update, this is probably a horrible workaround but worked for me, after trying the three methods above.

I installed the latest version of ruby through brew, edited my $PATH to point to brew's version earlier in the binary searchpath, tried to install bundler again and it all worked.

I have just submitted a new version of an app through this newly installed fastlane and everything seems goo

[2018-04-21 17:10] SepiaGroup commented on #12351
This was not an issue with Fastlane.
The issue is that in order to deploy to a device you need to update the AppDelegate file to embed the js bundle.

[2018-04-21 17:10] #12351 closed

[2018-04-21 17:32] #11981 closed

[2018-04-21 17:32] #11623 closed

[2018-04-21 17:32] #11615 closed

[2018-04-21 17:33] #11599 closed

[2018-04-21 17:33] #11573 closed

[2018-04-21 17:33] #11560 closed

[2018-04-21 17:33] #11024 closed

[2018-04-21 17:33] #11021 closed

[2018-04-21 17:33] #10948 closed

[2018-04-21 17:33] #10929 closed

[2018-04-21 17:34] #10468 closed

[2018-04-22 09:36] gerbil802 commented on #11022
Same here.

[2018-04-22 17:35] vanniktech commented on #11813
I'm hitting this too. Although probably in a different way. Whats even weirder is that it successfully got the screenshots and then errors:

[code]

It's probably the `ls permission penied` that's causing this. It seems to work nonetheless though.

[2018-04-22 17:35] aamct2 opened #12352 "Add `disable_xcpretty` option to `scan`"
🔑Guidelines read

### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Debugging CI can be a ch

[2018-04-22 21:05] MEnnabah opened #12353 "ERROR ITMS-90161: Invalid Provisioning Profile"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

What happended is I ran into an [issue similar to this](https://github.com/fastlane/fastlane/issues/4621) and I followed its solution, I ran `fastlane

[2018-04-22 22:37] Cyberbeni commented on #11943
Just use the full path to the executable then instead of adding it to PATH and then only using the name.
`~/.rvm/gems/ruby-2.4.1/bin/fastlane custom_lane`

[2018-04-23 08:11] dral3x opened #12354 "Couldn't automatically detect the provisioning profile mapping"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

If the workspace contains files (at root l

[2018-04-23 08:15] uoveu789 opened #12355 "[!] Could not retrieve response as fastlane runs in non-interactive mode (FastlaneCore::Interface::FastlaneCrash)"
### Stack

| Key                         | Value                                       |
| --------------------------- | ------------------------------------------- |
| OS                          | 10.13.4                                     |
| Ruby                        | 2.4.1                                       |
| Bundler?                    | false                                       |

[2018-04-23 08:47] JienLee opened #12356 "[iTMSTransporter error] The filename {product_name}_fb5d9d0d3763874019285b6a3261ea84e77f598be9bb109d9f718fe15edddd8b.ipa in the package contains an invalid character(s)."
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

##### Complete output when running fastlan

[2018-04-23 09:26] joshdholtz commented on #12291
@elwerene Huh.... I am not sure then what would be causing all of these keys to get created. I'm sure you've looked into this but is there anything else on this machine that could be causing this? Something not fastlane? I can't seem to replicate this or see how this could happen 😔

[2018-04-23 09:31] simonhoye commented on #11454
Same issue

[2018-04-23 09:47] #12349 closed

[2018-04-23 10:28] joshdholtz commented on #12155
@SeanRobinson159 This probably won't get added as an option to fastlane since Xcode will most likely end up using the new system transparently in a new version which would make the change not necessary 🙃 But thanks for bringing this issue up so that others can find a solution 🙌

[2018-04-23 10:28] #12155 closed

[2018-04-23 10:50] joshdholtz commented on #12228
I'm not sure if this will help anyone out but I was able to duplicate this error and "get around" this error with the following setup:

## To Reproduce
1. Set provisioning profile in Xcode project to an "app-store" type
2. Build fastlane using "ad-hoc" type

This causes the IPA export to THINK its an App Store build which is causing it to go 💥 when it can't find the beta entitlements

## To "Get A

[2018-04-23 10:57] doruvil commented on #12303
@joshdholtz
I have simplified the Fastfile.swift
as much as possible in order to help you detect the problem.
[Fastfile.swift.zip](https://github.com/fastlane/fastlane/files/1937810/Fastfile.swift.zip)Please replace the:
- HockeyApp API Token
- keychain password
- project name
- Xcode scheme
- bundle id -> provisioning profile matching

[2018-04-23 10:57] joshdholtz commented on #12301
@cpk1 That is a really interesting find 🤔 I will make the next release with `2.5.2.3` so see that helps you when version `2.93.0` gets build and pushed out later today/tomorrow

[2018-04-23 11:50] tobiasKaminsky commented on #10874
@J-Jamet I know it, because I created a merge request for this in fdroid ;-)
You are right that this is not yet documented...

[2018-04-23 14:29] caguilar187 commented on #12291
What happens if you run fastlane with `--verbose` on? In particular on the match calls? I was seeing this line `security: SecKeychainItemImport: User interaction is not allowed.` But it was just silently happening but the builds still worked so I never noticed it. I recently was trying to run the command that match uses under the hood `security set-key-partition-list -S apple-tool:,apple: -k '' /U

[2018-04-23 15:16] henningBunk commented on #11813
@vanniktech I hat the same message but could get rid of it by rooting the emulator first. See here: https://github.com/fastlane/fastlane/issues/12169

The problem for me though is, that the error message just got exchanged for a new one 😆 Maybe you've got more luck.

[2018-04-23 15:18] silkimen commented on #11220
Same here, see logs:

[code]

[2018-04-23 15:46] iliakukharev opened #12362 "[Snapshot] Capture languages simultaneously with different devices"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

I'm not a coder but I use fastlane deliver

[2018-04-23 15:54] MyRuBI opened #12363 "the problem is "Incorrect, or missing copyright date-> using a copyright date that is any different from this current year, or missing a date""
<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                         | Value                                                          |
| --------------------------- | -------------------------------------------------------------- |
| OS                          | 10.13                                                          |
| Ruby                        | 2.3.3

[2018-04-23 15:55] MyRuBI commented on #12363
the fastlane env is

<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                         | Value                                                          |
| --------------------------- | -------------------------------------------------------------- |
| OS                          | 10.13                                                          |
| Ruby

[2018-04-23 15:55] #12188 closed

[2018-04-23 17:33] #12061 closed

[2018-04-23 17:33] #12053 closed

[2018-04-23 17:33] #12042 closed

[2018-04-23 17:33] mvandervelden commented on #12356
I encounter a similar issue with pilot today. The error message is:
`Return status of iTunes Transporter was 1: The filename .ipa_5538e9f0bd5ed2254d8adef3a465c7bd2b9530b1cd21b2dab75d13db6be0f3ac.ipa in the package contains an invalid character(s).  The valid characters are: A-Z, a-z, 0-9, dash, period, underscore, but the name cannot start with a dash, period, or underscore`
I was first running it

[2018-04-23 17:33] #11648 closed

[2018-04-23 17:34] #11435 closed

[2018-04-23 18:10] mueller-ma commented on #12159
Still broken

[2018-04-23 20:35] IchHabRecht commented on #10786
Bump. Is there anyone who can quick fix calling prepare_for_launch (or at least re-generate the screenshots directory) to solve the problem and make retries usable again?

[2018-04-23 21:22] kkw4 opened #12366 "Spaceship auto release date value is not reflected in iTunes Connect"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

When looking at this previous issue (https

[2018-04-23 21:50] nebiros commented on #10902
Same as @cyupa:

[code]

[2018-04-24 00:49] JienLee commented on #12356
@fastlane-bot No that's not code signing issue. Because 'gym' running is success.
When 'pilot' run it shows the iTMSTransporter error.

[2018-04-24 05:03] cpk1 commented on #12301
@joshdholtz Todays release works! Thank you! Hopefully this fixes it for those folks on Circle CI as well.

[2018-04-24 05:09] fans3210 opened #12367 "no appfile found for fastlane swift"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Everytime I would like to run a command, I

[2018-04-24 07:42] baturorkun opened #12369 "Three stages Upload"
I want to use three stages. At first Just build, then test without build then just archive and upload testflight. But now, every stage build the code again. I want to use first build to test and upload.

My codes:

For Build
[code]

For Test
[code]

For Upload
[code]

[2018-04-24 09:28] joshdholtz commented on #12354
@dral3x Can you create a sample project/workspace that duplicates this error that you can send to me? 🙃

[2018-04-24 09:44] dral3x commented on #12354
Thanks @joshdholtz 💪

Here it is an example project
https://www.dropbox.com/s/hg8elqj17eqgttt/fastlane-issue-12354-ExampleProject.zip?dl=0

Just run `fastlane build` in the main folder and you'll get the error 👍

[2018-04-24 09:51] JienLee commented on #12356
Today build the 2.93.0 pilot is success. (on CircleCI). So I close this issue.

[2018-04-24 09:51] #12356 closed

[2018-04-24 09:54] joshdholtz commented on #12301
@cpk1 Glad to hear!

[2018-04-24 10:00] joshdholtz commented on #12301
@pesterhazy Does the latest release (`2.93.0`) solve this issue for you?

[2018-04-24 10:01] Salierik commented on #12301
@joshdholtz It works! Thank you very much!

[2018-04-24 10:06] joshdholtz commented on #12369
@baturorkun Hey 👋 I don't think that you will be able to make the first build work for both your test **and** upload (unless I am mistaken) as you usually need you upload as `configuration: 'Release'` using `upload_test_testflight`

So right now (based upon your code), your app is going to build 3 times. The easiest thing would be to drop the `xcodebuild` and just use `scan` and `build_ios_app` (w

[2018-04-24 10:28] joshdholtz commented on #12301
@cpk1 By the way, how were you able to view what version of ruby gems each version was packaged with? 🙃

[2018-04-24 10:32] KrauseFx commented on #12354
[code]
you can always manually provide the mapping, check out https://docs.fastlane.tools/codesigning/xcode-project/#xcode-9-and-up

[2018-04-24 10:36] dral3x commented on #12354
I know @KrauseFx but that's not the problem. I correctly configured the provisioning profiles in the project so that GYM is able to get the correct ones.
The problem here is just related to handling the `.md` files in the workspace as `.xcodeproj` ones.

If I removed the md file from the workspace (or just move the xcodeproj as first element), gym will build and archive the app without any problem

[2018-04-24 10:37] gin7758258 opened #12371 "`fastlane pilot find` return error: undefined method `latest_build'"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

##### Complete output when running fastlan

[2018-04-24 10:42] joshdholtz commented on #12367
@fans3210 So you have an `Appfile.swift` in your `fastlane` directory? Does it have content similar to...
[code]

[2018-04-24 11:05] Statusgman commented on #10865
I have this issue in fastlane scan 2.93.0
This parameter is still interpreted like a bool value instead of actual path

[2018-04-24 11:08] baturorkun commented on #12369
hi joshdholtz
i want to build and produce derived data, then use derived data for testing.

[2018-04-24 11:36] ima747 opened #12372 "Google Api Error: invalid: Rollout fraction may only be used on production track."
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

When running supply to the alpha track it

[2018-04-24 11:53] Nick-Lucas commented on #12372
+1 we're blocked by this too

[2018-04-24 12:05] barrynorman commented on #12372
Same here!

[2018-04-24 12:31] joshdholtz commented on #12372
Heyyyy 👋 Looking into right now!

[2018-04-24 12:34] mindofai commented on #12372
Same issue.

[2018-04-24 12:44] joshdholtz commented on #12372
Got the solution! Doing a bit more testing then we will get a new version released for your all 👍

[2018-04-24 12:46] maxired commented on #12372
awesome @joshdholtz .
maybe we can also patch locally to test it ?

[2018-04-24 12:49] baturorkun commented on #12369
What's wrong below?

Build:

  clear_derived_data
  xcodebuild(
      		workspace: "ios/XYZ.xcworkspace",
      		scheme: "XYZ",
          build: true,
          #configuration: 'Development',
      		destination: "platform=iOS Simulator,name=iPhone 8",
          derivedDataPath: "/Users/batur/Library/Developer/Xcode/DerivedData/batur1"
       )

Test

 scan(
     workspace: "ios/XYZ.xcworkspace",

[2018-04-24 13:03] joshdholtz commented on #12372
@maxired For sure! If you could change your `Gemfile` to...
[code]

and run `bundle install` and let me know if things worked that would be 💯  😊

[2018-04-24 13:07] joshdholtz commented on #12372
I'm not sure if that thumbs up means "You understand" or "it worked" lol 🙃

[2018-04-24 13:08] maxkomarychev commented on #12372
@joshdholtz any way to install gem from specific branch for those who aren't using gemfile?

[2018-04-24 13:09] joshdholtz commented on #12372
@maxkomarychev Not easily 😔 Requires pulling down the source, building a gem from it, and installing it 😬

[2018-04-24 13:10] maxired commented on #12372
@joshdholtz sorry, meant currently testing ;) seems to work, but let me retry with a full build

[2018-04-24 13:16] henningBunk commented on #12144
In the mean time you can try the ubuntu subsystem for windows and install and start fastlane from the bash shell. Works for me.

[2018-04-24 13:27] markwk commented on #12372
Fix worked for me on Bitrise build with Fastlane. Great and fast work @joshdholtz Much thanks!

[2018-04-24 13:35] #12372 closed

[2018-04-24 13:42] elwerene commented on #12291
@joshdholtz I'm not entirely sure, because we use the same machine for Android Fastlane builds as well. But as far as I know, Android builds don't use the keychain. I'll update our continuous deployment task to include --verbose and will post an update once I find something suspicious!

[2018-04-24 13:55] joshdholtz commented on #12372
Until `2.93.1` is able to be released, you can all change your `Gemfile` to...
[code]

[2018-04-24 14:26] Nick-Lucas commented on #12372
Hey @joshdholtz when do you expect `2.93.1` to be released? Our build system is tricky to change this, so we want to figure out priorities.

Thanks a lot for your fast work on the issue!

[2018-04-24 14:27] joshdholtz commented on #12372
@Nick-Lucas The process is happening right now. Should be within 10 minutes 😁

[2018-04-24 14:30] ks32 commented on #12372
@ima747 same error for Internal track on Google Play Store

[2018-04-24 14:32] joshdholtz commented on #12372
Alright alright alright! `2.93.1` is released now with the fix for this 👞 🐛

[2018-04-24 15:02] joshdholtz commented on #12366
@kkw4 It looks like you are doing it correctly but I will look into 👌

[2018-04-24 16:12] estebansolis commented on #12372
same error for internal track :(

[2018-04-24 16:14] joshdholtz commented on #12372
@estebansolis Upgrading to `2.93.1` (released about 2 hours ago) should solve this for you

[2018-04-24 16:39] estebansolis commented on #12372
You @joshdholtz  are a genius.

[2018-04-24 17:31] #12058 closed

[2018-04-24 17:31] #11789 closed

[2018-04-24 17:32] #10967 closed

[2018-04-24 18:36] viniciusoh commented on #12372
It also solved the erroneous error message "[!] Google Api Error: rolloutNotCompleted: Cannot modify the production track until you complete the rollout." on 2.80.0 (fastlane-2.80.0)

Thank you! 😄

[2018-04-24 19:16] acevif commented on #12296
@Havi4 Where is ruby? What's the version of ruby?
[code]

I think I've fixed similar problem by setting correct `$PATH` environment variable.

[2018-04-24 23:50] DamascenoRafael opened #12375 "`Unsupported directory name(s)` when using a fonts directory"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Using a specific directory for custom font

[2018-04-25 00:38] cpk1 opened #12376 "Amazon Developer Publishing API Support"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
Is there any interest in supporting Amazon?

[2018-04-25 03:04] acecilia commented on #12260
Hi:
Couldnt avoid to chip in. I am using [this](https://github.com/michaelhenry/fastlane-match-certificates-boilerplate/blob/master/encryptor.sh) to manually create the match repo, which is including the .p12 file obtained from the keychain (cert+key) and encrypting it straight away (without extracting the key to a .pem file). This is working for me: cert and key are added to the keychain and gym

[2018-04-25 07:59] qaisammari commented on #12372
faced the same issue, applied the fix and it is working fine now , thanks

[2018-04-25 08:01] deepeeess commented on #12372
Yeah this fix works 💯

[2018-04-25 08:11] baturorkun opened #12379 "build-for-testing"
i can make a normal build but i have an error by "build-for-testing"

** TEST BUILD FAILED **

  xcodebuild(
      		workspace: "ios/XYZ.xcworkspace",
      		scheme: "XYZ",
      		destination: "platform=iOS Simulator,name=iPhone 8",
                derivedDataPath: "/Users/batur/Library/Developer/Xcode/DerivedData/batur",
                 xcargs: "build-for-testing"
    )

[2018-04-25 08:47] hjanuschka commented on #9826
@jgongo  the api is not 💯  it think, as i remember, it fails with a generic operation_failed when you do not set
`review_notes` and `review_screenshot`  before calling `save!`

so
[code]

might do the trick, sorry for the troubles i might have introduced.

[2018-04-25 08:54] Dharmarajm opened #12380 "Could not find action, lane or variable 'folder'"
I'm getting the below error. I don't know what i'm missing in fastlane file.

+---------------------+------------------------------------------------------------------------------------+
11:04:09 |                                               [33mLane Context[0m                                               |
11:04:09 +---------------------+------------------------------------------------------

[2018-04-25 09:45] hjanuschka commented on #12184
@dehlen ok i tried the test app and your fastfile.

problem is the PR's for adding "native" support for - build-for-testing to gym have been reverted/not-accepted.   https://github.com/fastlane/fastlane/pull/7131

taken the sample from here:
https://github.com/hjanuschka/fastlane-plugin-aws_device_farm
using `xcodebuild` itself, you can achieve what you want.

changing your `gym` call to:

[code]

[2018-04-25 09:49] hjanuschka commented on #11829
@taquitos we stopped using emulators, because they suck, and running multiple is just a pain in the ass.

we decided to go with real-hw all attached to CI via usb at the same time.

and then something like:

[code]

[2018-04-25 10:54] hjanuschka commented on #12380
can you share your fastfile.

or as mentioned in the issue template:

you can manually redact sensitive data, but it helps alot to troubelshoot the issue

[2018-04-25 11:07] Dharmarajm commented on #12380
Sorry for rising this error. Actually I forgot to hash the line in fastlane file.

Thanks for your comments hjanuschka.

[2018-04-25 11:08] #12380 closed

[2018-04-25 11:10] manish0282 commented on #10543
@robindirksen1 I had the same issue and your solution worked like charm.

[2018-04-25 11:47] joshdholtz commented on #12379
@baturorkun Can you send the output of 1) `fastlane env` and 2) the whole output when you run this

This gives us a lot of info to go on otherwise we are not able to help 🙃

[2018-04-25 11:49] alexnivanov commented on #12173
Same here with fastlane-2.93.1 :(

[2018-04-25 11:57] joshdholtz commented on #12376
@cpk1 Thanks for bringing this to our attention! Issue #1963 had a discussion about this already and the conclusion looked like this should be added as a plugin - https://github.com/fastlane/fastlane/issues/1963#issuecomment-304130555

I am not sure yet if it should be an official fastlane plugin supported under the fastlane organization or not yet so let me get back to you on that 🙃

[2018-04-25 12:20] haritowa opened #12381 "Handle lane errors in Swift"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
Hello, I am new to fastlane swift, is there

[2018-04-25 12:56] lacostej commented on #12376
I keep waiting on Amazon to offer a non restricted API. See #1963 for history

Their API is still restricted.
https://developer.amazon.com/docs/dev-publishing-api/devpubapi-create-and-submit-a-new-app.html#preconditions

[2018-04-25 13:29] hammadzz commented on #12260
@acecilia its not necessary that a p12 file will have both the cert and private key. In this case it definitely only has the private key. I believe there are github issues on manually setting up match repo that reflect the same.

[2018-04-25 14:07] singletondejan commented on #12372
2.93.1 fixed the issue. Thanks!

[2018-04-25 14:43] Dharmarajm opened #12384 "Code Signing Error: Signing for "Mobcom" requires a development team. Select a development team in the project editor"
I'm getting Exit status: 65 and Code Signing Error: Signing for "Mobcom" requires a development team. Select a development team in the project editor.

17:16:03 [17:16:03]: ▸ [35m--- xcodebuild: WARNING: Using the first of multiple matching destinations:[0m
17:16:03 [17:16:03]: ▸ [35m{ platform:iOS, id:dvtdevice-DVTiPhonePlaceholder-iphoneos:placeholder, name:Generic iOS Device }[0m
17:16:03 [

[2018-04-25 14:51] joshdholtz commented on #12381
@haritowa That is a good question! I have been making some improvements to swift lately but I have not come across this yet so I will look into this for you! 🙃

[2018-04-25 15:06] acecilia commented on #12260
@hammadzz from your comments I get that, as you say, the p12 can contain the key only without the cert (and also explained [here](http://macoscope.com/blog/simplify-your-life-with-fastlane-match/#migration)). But as far as I tested (a lot) I can not make it work.

I can not find the code where match extracts the key form the p12(cert+key) file. Do you know where to find it?

[2018-04-25 17:04] sergiocampama commented on #12070
still open