[2016-10-17 10:25] SpacyRicochet commented on #6577
Yeah, we're working out how to best ensure new developers don't have to jump through a lot of hoops or learn new habits. I'll try both of these out.

Thanks!

[2016-10-17 10:25] #6577 closed

[2016-10-17 10:29] callmephilip commented on #6565
I have read and re-read it and while it never states explicitly that each Matchfile should point to a new repo, I somehow got a (wrong) impression that this was the case. In any case, this thread definitely clarifies things. Thank you

[2016-10-17 10:37] joamafer commented on #6553
I had the same problem and I fixed by doing the following:
1) Follow the instructions here (https://developer.xamarin.com/guides/testcloud/calabash/configuring/osx/updating-ruby-using-rbenv/) to install _rbenv_ and _ruby-build_.
2) Run `$ rbenv install 2.3.1` and `rbenv global 2.3.1`.
3) Reinstall fastlane `gem install fastlane`.
4) Restart the build server.

[2016-10-17 10:39] medslt commented on #6553
I fixed the problem by updating ruby:

brew install rbenv ruby-build

# Add rbenv to bash so that it loads every time you open a terminal
echo 'if which rbenv > /dev/null; then eval "$(rbenv init -)"; fi' >> ~/.bash_profile
source ~/.bash_profile

# Install Ruby
rbenv install 2.3.1
rbenv global 2.3.1
ruby -v

[2016-10-17 11:03] thecb4 commented on #6567
Is it transporter breaking?

[2016-10-17 11:35] vbresults commented on #5421
Experiencing this: ```
SSL_connect SYSCALL returned=5 errno=0 state=SSLv2/v3 read server hello A
[code]

[2016-10-17 11:44] nicoaldegheri commented on #5421
Same issue since this morning with Match.
OpenSSL update to date and Fastlane too.

[2016-10-17 12:17] danielbas commented on #6553
@thecb4 Thanks! It works!

[2016-10-17 12:19] tomhag opened #6579 "Cannot install Fastlane on MacOS 10.11"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Cannot install Fastlane on MacOS 10.11 (Mac that cannot be upgraded to 10.12)

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Configuration

[2016-10-17 12:30] dosgroup commented on #6553
Doesn't work for me. It continues to use Ruby version 2.0.0 (system):

/System/Library/Frameworks/Ruby.framework/Versions/2.0/usr/lib/ruby/2.0.0/net/http.rb:921:in `connect': [!] Connection reset by peer - SSL_connect (Faraday::ConnectionFailed)

[2016-10-17 12:31] tomhag commented on #6579
Solved after installing x-code-select

[2016-10-17 12:31] #6579 closed

[2016-10-17 12:31] GandjaFuzz commented on #5421
have this problem. please help

[2016-10-17 12:32] thecb4 commented on #6553
@dosgroup install local gems and use bundler with local installs.  That was the only way it worked for me.

[2016-10-17 12:34] joamafer commented on #6553
@dosgroup have you tried to install Ruby 2.3.1 following the instructions above? Don't forget to call this command too: `rbenv global 2.3.1` and check the version with `ruby -v`

[2016-10-17 12:34] alexandreblin commented on #6567
I am unable to upload to TestFlight using pilot too. pilot doesn't fail but the build never appears on iTunes Connect.

If I try to reupload the same, I get the error saying that a build with the same build number already exists. I double checked everywhere, no trace of the build (even in the Activity tab, no processing build at all).

Uploading the same archive through Xcode works. I know this is

[2016-10-17 12:41] GandjaFuzz opened #6580 "[deliver][spaceship] SSL_connect SYSCALL returned=5 errno=0 state=SSLv3 read server hello A"
error: SSL_connect SYSCALL returned=5 errno=0 state=SSLv3 read server hello A
in time deliver
log
[code]

[2016-10-17 12:48] hjanuschka commented on #6580
possible duplicate of https://github.com/fastlane/fastlane/issues/6553

[2016-10-17 12:55] dosgroup commented on #6553
@thecb4 @joamafer I solved by using rvm. Thanks anyway!

[2016-10-17 12:56] micnguyen commented on #6553
rbenv trick works!

[2016-10-17 13:00] thecb4 commented on #6567
I am stuck since the error message isn't telling me anything.  It seemed to work when I switched from testflight to pilot, but now errors again.

[2016-10-17 13:02] hjanuschka commented on #6553
for rvm users.

replace with your ruby version

[code]

[2016-10-17 13:07] hjanuschka commented on #5542
we are using IDFA too - and with following `submission_info`  a submit works
my pitfall was the missing `export_compliance_available_on_french_store` and missing `app_review_infomation`

[code]

[2016-10-17 13:09] sharkusmarkus commented on #6553
Thanks to all for the steps on upgrading Ruby. Two of my boxes did not exhibit the issue, one did, and of course it was the build server! Ran a quick test post ruby and fastlane update and it seems to be fixed.

[2016-10-17 13:35] flaushi commented on #6553
I'm lost here.
Tried medslt's rbenv commands, no luck.
brew installed ruby, no luck. now all my gems are gone and i can't install new ones, only getting
$ sudo gem install fastlane
ERROR:  While executing gem ... (TypeError)
    no implicit conversion of nil into String

[2016-10-17 13:38] rafaelnobrepd commented on #6553
Not working here either. Upgrade to 2.3.1 ruby from brew and tried using rbenv instead, but still get
`/System/Library/Frameworks/Ruby.framework/Versions/2.0/usr/lib/ruby/2.0.0/net/http.rb:921:in `connect': [!] Connection reset by peer - SSL_connect (Faraday::ConnectionFailed)`

[2016-10-17 13:40] micnguyen commented on #6553
Just a heads up - for those that are installing rbenv, make sure you reinstall gem install fastlane after switching to rbenv.

[2016-10-17 13:41] vkaltchev commented on #6553
Same here. Tried brew, rbenv, rvm.
Now, when trying to gem install fastlane:
ERROR: While executing gem ... (TypeError)
no implicit conversion of nil into String

[2016-10-17 13:43] rafaelnobrepd commented on #6553
Ok, that was it. `gem install fastlane` right after upgrading ruby did it.

[2016-10-17 13:44] Antoine4011 commented on #6541
Yes I already took a look and Xcode 8 automatic code signing is of course disabled.
The workaround for this is to actually delete the provisioning profile on the shared git repo. That way, it's being regenerated.

[2016-10-17 13:47] hjanuschka commented on #6553
also check that openssl is up to date, and has recent root-ca's

[code]

[2016-10-17 13:47] flaushi commented on #6553
Sorry, that does not work for me:
$ gem install fastlane
ERROR:  While executing gem ... (Errno::EACCES)
    Permission denied @ rb_sysopen - /usr/local/lib/ruby/gems/2.3.0/gems/commander-4.4.0/.gitignore

sudo gem install fastlane
Password:
ERROR:  While executing gem ... (TypeError)
    no implicit conversion of nil into String

[2016-10-17 13:51] vkaltchev commented on #6553
@flaushi had the same error when I was also adding the directory - gem install -n /usr/local/bin fastlane, when I ran just "gem install fastlane" it worked fine... Are you sure you're not adding something too?

[2016-10-17 13:57] Antoine4011 opened #6583 "Gym is failing but archive and .ipa are fine"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

When I use the `gym` command it fails. But the archive is in the Xcode Organizer, I can export it via Xcode to make a valid ipa files or directly upload it to Crashlytics. So I don't get why it'

[2016-10-17 13:58] flaushi commented on #6553
Yes I am. But I am not experienced with ruby.
When I tried that rbenv-thing, I had to edit my .bash_profile, where I saw these entires, maybe they influence my problems:
PATH=/usr/local/sbin:~/code/android-sdk-macosx/platform-tools:~/.gems/bin:$PATH
GEM_HOME=~/.gems

[2016-10-17 14:00] rafaelnobrepd commented on #6553
@flaushi try `sudo chown -R $(whoami) /usr/local/lib/ruby/gems`

[2016-10-17 14:10] flaushi commented on #6553
Hmm, there seems to be a larger system change involved.
My old (ruby 2.0.0) gems were located at /Library/Ruby/Gems/2.0.0/gems/
After brew install ruby, it tries to install them to  /usr/local/lib/ruby/gems/2.3.0/gems/

[2016-10-17 14:12] hjanuschka commented on #6553
@flaushi system ruby uses `/Library/`  brew ruby uses `/usr/local/` thats normal

[2016-10-17 14:15] jk2K commented on #6553
@zineer, the error is automatically gone, now it work for me, thanks

`/usr/local/Cellar/ruby/2.3.1_2/lib/ruby/2.3.0/net/http/response.rb:120:in `error!': [!] 504 "Connection failed" (Faraday::ConnectionFailed)`

[2016-10-17 14:21] tamastimar commented on #6553
Will it be addressed in a @fastlane release or it should be solved by updating the env?

[2016-10-17 14:24] flaushi commented on #6553
Ok, more information,
$ gem install fastlane --debug --backtrace --verbose
NOTE:  Debugging mode prints all exceptions even when rescued
Exception `LoadError' at /usr/local/Cellar/ruby/2.3.1_2/lib/ruby/2.3.0/resolv.rb:171 - LoadError
HEAD https://api.rubygems.org/api/v1/dependencies
200 OK
GET https://api.rubygems.org/api/v1/dependencies?gems=fastlane
200 OK
Exception `Resolv::DNS::Config::NXDomai

[2016-10-17 14:43] kd8ssq commented on #6553
Thanks @joamafer for the steps.  They worked great!

[2016-10-17 14:59] nmonasterio commented on #6455
Thanks for this, @zineer ! So, what you're saying is that, even with your existing `submission_information` payload (before this issue), you were able to just keep trying and trying and it would eventually work?

[2016-10-17 15:04] Firfi commented on #6516
Settings ENV["GYM_PROJECT"] in Fastfile works for me as a workaround.

[2016-10-17 15:07] LeoBakerHytch commented on #6071
@dusek @TKBurner I would definitely appreciate this, both for using with `stamp_changelog`, and for a custom Android version bump action I have.

[2016-10-17 15:17] flaushi commented on #6553
ok, i got it.
brew uninstall ruby # not using homebrew's ruby

rm -rf ~/gem
rm -rf ~/gems
rm -rf ~/rbenv
brew install rbenv ruby-built
# Add rbenv to bash so that it loads every time you open a terminal
echo 'if which rbenv > /dev/null; then eval "$(rbenv init -)"; fi' >> ~/.bash_profile
source ~/.bash_profile

# Install Ruby
rbenv install 2.3.1
rbenv global 2.3.1

# close teminal and re-open it
r

[2016-10-17 15:34] mfurtak commented on #6289
Hi all,

The CocoaPods folks are tracking this problem and trying to work around it in [Xcodeproj](https://github.com/CocoaPods/Xcodeproj).

As noted here: https://github.com/CocoaPods/Xcodeproj/issues/426#issuecomment-251804075 please see if upgrading to `xcodeproj` 1.3.2 and then using the ENV variable `FORK_XCODE_WRITING=true` when running fastlane gets things working again in the short term.

[2016-10-17 15:35] mfurtak commented on #6278
Hi all,

The CocoaPods folks are tracking this problem and trying to work around it in [Xcodeproj](https://github.com/CocoaPods/Xcodeproj).

As noted here: https://github.com/CocoaPods/Xcodeproj/issues/426#issuecomment-251804075 please see if upgrading to `xcodeproj` 1.3.2 and then using the ENV variable `FORK_XCODE_WRITING=true` when running fastlane gets things working again in the short term.

[2016-10-17 15:47] asfalcone commented on #6552
@rstupek Can you please describe your request further? Why do you need _supply_ and _produce_ to share a directory structure? Are your Android and iOS projects in the same directory?

[2016-10-17 15:47] KrauseFx commented on #6570
Reopening this until https://github.com/fastlane/fastlane/pull/6573 is merged

[2016-10-17 15:47] PetrosIchor commented on #6583
It states right at the end of Gym's run why it failed:

[2016-10-17 15:52] asfalcone commented on #6580
@GandjaFuzz Going to close as a duplicate. Please follow #6553 as @hjanuschka mentions.

[2016-10-17 15:52] #6580 closed

[2016-10-17 15:56] asfalcone commented on #6567
@thecb4 Did you give the StackOverflow post that @alexandreblin linked to a try?

[2016-10-17 16:13] klundberg commented on #6278
great, thank you for the update and the related bug @mfurtak! This works for me and solves the original bug that I encountered.

[2016-10-17 16:24] AliSoftware opened #6585 "[Internal] Add specs for `badge` action"
The `badge` action doesn't have any specs yet

See also https://github.com/fastlane/fastlane/pull/6568#issuecomment-254102564

[2016-10-17 16:45] zineer commented on #6455
@nmonasterio Correct. I noticed that (at least in my case) after Deliver failed with "Unexpected Error", logging into iTunesConnect in my browser to view the new app would also throw errors, but within a minute or so I would be able to view the app. Then trying to view the version would throw another error, but it also went away within a couple minutes and I was able to see the build that was deli

[2016-10-17 16:45] KrauseFx commented on #6553
Thanks @zineer for providing a solution, could everyone try the following and let us know if that fixes the issue for you?

[code]

If so, we'll update fastlane, to properly catch the error, and tell the user to run the above shown command.

[2016-10-17 16:46] DBocksteger commented on #6574
Hi @hjanuschka , bitcode is not enabled, but manually building with Xcode creates the BCSymbolMaps directory.

[2016-10-17 16:47] jinsumv opened #6587 "Not working in jenkins"
### New Issue Checklist
- [yes ] Updated fastlane to the latest version
- [yes ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

Snapshot is working fine locally but not working in Jenkins.
Through Jenkins noticed three issues below:
1. Build fails after signing identity
2. App crashes when it tries to launch
3. Log

[2016-10-17 17:13] hjanuschka commented on #6574
have you tried enabling it? or using `xcargs: "ENABLE_BITCODE=1"` on gym?

[2016-10-17 17:20] rstupek commented on #6552
The reason it would be convenient that they coexist is that the settings
for android and ios apps are mostly the same and if they can co-exist in
the same directory you wouldn't have to have two separate directory
structures for both.  As it is now, it is necessary to setup two separate
directories for the same app destined for the two stores since you can't
use the same for both apps.

On Mon, Oc

[2016-10-17 17:39] wilrnh commented on #6553
I just ran the above with much success 👍

[2016-10-17 17:45] ryanmeisters commented on #6289
ah! That made me realize that since fastlane is forcing system ruby it's using an outdated xcodeproj.. I should have realized that before. I updated and now I'm having trouble getting update_app_identifier to find my project file.. will play with it some more and report back

[2016-10-17 17:48] KrauseFx commented on #5733
Hey, we actually just merged https://github.com/fastlane/fastlane/pull/6550, however currently you have to do one TestFlight release manually yourself, and from then on you can use _pilot_ 👍

[2016-10-17 17:48] ericertl commented on #6553
@flaushi instructions worked great.
The only issue I had was while running `rbenv install 2.3.1`
Looks like when I updated xcode, I didn't install xcode command line tools, so running `xcode-select --install` fixed it

[2016-10-17 17:51] mfurtak commented on #6151
Hi folks,

Is anyone able to share a full output and stack trace for this? We'd like to dig in deeper.

Thanks! 👍

[2016-10-17 18:17] ohwutup commented on #6455
Hi everyone!

We are going to hold off on trying to write a fix/workaround for this for the time being as this is something that is happening on Apple's end (given that they are displaying 500's on the web) and we expect them to fix it in the not-so-distant future.

In the mean time, we would encourage you to submit issues to iTunesConnect's support center with reports that this happens even when

[2016-10-17 18:17] ohwutup commented on #6425
We are going to close this as it appears to be a dupe of: https://github.com/fastlane/fastlane/issues/6455

[2016-10-17 18:17] #6425 closed

[2016-10-17 18:25] PavelChernyshov commented on #6553
Using ruby 2.0.0 and spaceship 0.36.0.

Wrote a small script. In my case only the download profile phase fails.
[code]
Output:
[code]

Hope this helps.

[2016-10-17 18:26] santoshshetty2612 opened #6588 "Errors after fastlane deliver update"
Hi,

I updated the deliver and there after am facing lots of issues with fastlane.
I got the error  "Could not find 'commander'" when running my lane.

Then I updated fastlane to latest verion 1.105.2, but so success with the error.

Then I installed gem commander. But it started complaining for highline.
Once highline was installed, its now started complaining for terminal-table.

Need help relat

[2016-10-17 18:26] #5655 closed

[2016-10-17 18:34] arunks commented on #6553
Thanks @KrauseFx updating ruby fixes this.

[2016-10-17 18:55] julestburt commented on #6553
thx - was solved with:
brew install ruby
gem install fastlane

[2016-10-17 19:01] sungjin0213 commented on #6553
If you run into issue of "brew" hanging, then you might want to try:
/usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"

It seems like core package somehow got messed up in my case, and all brew commands were hanging.

[2016-10-17 19:14] santoshshetty2612 commented on #6588
Issue has been resolved. I just uninstalled and then installed again Ruby 2.3.0

[2016-10-17 19:14] #6588 closed

[2016-10-17 19:17] rsiu opened #6589 "fastlane stopped working after Xcode 8 Swift 2.3 upgrade, using legacy build"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

fastlane stopped working after Xcode 8 Swift 2.3 upgrade with use_legacy_build_api on.

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Con

[2016-10-17 19:21] lnhrdt commented on #5620
@KrauseFx I've been through this a few times in organizations where we don't have permissions to create provisioning profiles, etc. The blog article @richardszalay linked has bailed be out, but I see the justification for match to support this workflow! Any thoughts?

[2016-10-17 19:32] asfalcone commented on #6341
@yn5 Were you able to get git setup correctly so that _match_ is working for you now? We'd like to close this issue if it was an environment problem.

[2016-10-17 19:35] asfalcone commented on #6587
@jinsumv Can you provide your Fastfile and the full output of running fastlane, the crash and build failure that you mention?

[2016-10-17 19:37] hjanuschka commented on #6589
as in the log: `toolchain: :swift_2_3` try setting this in gym

[2016-10-17 19:41] rsiu commented on #6589
I did that too.  It fails immediately when I try that.

[code]

[2016-10-17 19:48] rsiu commented on #6589
Thanks @hjanuschka - I had tried that, but missed the extra colon before "swift_2_3".  Works now, thanks!

[2016-10-17 19:48] #6589 closed

[2016-10-17 19:50] hjanuschka commented on #6589
@rsiu  glad it helped - yeah unusual to use symbols in the params 😄

[2016-10-17 20:19] ethanmay opened #6591 "`fastlane beta` fails after successful archive creation. [!] Error packaging up the application"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

Running `fastlane beta --verbose` results in the error displayed below. The gym error log doesn't show an error, the last line is `** ARCHIVE SUCCEEDED **`. I was able to successfully build and

[2016-10-17 20:27] KrauseFx commented on #6591
Please share the complete output

[2016-10-17 20:31] ethanmay commented on #6591
[code]

[2016-10-17 20:56] asfalcone commented on #6289
I'm going to close this as a dupe of #6278.

Working on a fix that will incorporate the above mentioned environment variable and suggest that users upgrade to `xcodeproj` 1.3.2

[2016-10-17 20:56] #6289 closed

[2016-10-17 21:12] enozero opened #6592 "Allow for iOS territory updating with Spaceship"
### New Issue Checklist
- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

Currently, you can specify pricing through Spaceship; however, if you want to change the territories, there does not appear a way to do this. Spaceship could expose, as part of pricing (since th

[2016-10-17 21:17] TKBurner commented on #6499
@Preau @humblehacker Do you think this issue will be resolved if that cocoapods issue is cleared up? Thanks!

[2016-10-17 21:20] TKBurner commented on #6519
@hjanuschka Can you email me at burner@twitter.com? I want to ask you something on a private channel. Thanks!

[2016-10-17 21:20] TKBurner commented on #6523
@olarivain Very interesting! We'll check this out. I'm going to leave it open as a feature request. Thanks!

[2016-10-17 21:21] TKBurner commented on #6539
@choiks14 Follow along on this PR https://github.com/fastlane/fastlane/issues/6398. We will update soon 👍

[2016-10-17 21:22] humblehacker commented on #6499
@TKBurner That's my expectation, but I have no evidence to back it up.

[2016-10-17 21:22] TKBurner commented on #1199
@katunch Thanks for the feedback. We'll leave this open as a feature request 👍

[2016-10-17 21:23] TKBurner commented on #6325
@spirosoik Awesome! Let me know if you have any questions about contributing 👍

[2016-10-17 21:25] TKBurner commented on #6289
With the latest Xcodeproj release (1.3.2) you can use an ENV var which people report as fixing this: FORK_XCODE_WRITING=true

[2016-10-17 21:26] TKBurner commented on #6237
@faithfracture Let me know how it goes. Also are you able to reproduce this on a blank Xcode project? Thanks!

[2016-10-17 21:27] TKBurner commented on #6488
@tinder-ayu Can you share the 50 or so lines before and after the crash? Thanks!

[2016-10-17 21:29] TKBurner commented on #6458
@lucatorella Are you able to set devices in xcargs? Is the xcbuild command alone successful? Thanks!

[2016-10-17 21:32] TKBurner commented on #6507
@icecrystal23 Thanks for following up. This is expected behavior for the time being but I want to leave this open as a feature request for discussion. Thanks!

[2016-10-17 21:34] lalunamel opened #6595 "Screengrab: Screenshots not copied to local filesystem from android device after test failure"
### Issue Description

When running screengrab in our Android UI Automation tests, Screengrab fails to copy screenshots taken from the android device to the local filesystem.
##### Complete output when running fastlane, including the stack trace and command used

[code]
### Configuration Files

Please copy the complete content of your `Fastfile` and any other configuration files you use below:

Fa

[2016-10-17 22:56] enozero commented on #6592
I'm already working on this change now...

[2016-10-18 00:04] thecb4 commented on #6567
[code]

and the push marketing_to_appstore lane

[code]

and push app to store

[code]

[2016-10-18 00:48] spanage commented on #4027
I was seeing this exact same issue. Doing both of the following fixed it for me:

1. Updating to Crashlytics 3.8.0
2. Passing my Crasylytics token via the env variable CRASHLYTICS_API_TOKEN.

[2016-10-18 00:50] KrauseFx commented on #6553
Thanks everyone for your help resolving this. @mfurtak pushed a new release of _fastlane_core_, which will print out the following: https://github.com/fastlane/fastlane/pull/6593

There is no other way than to update or re-install Ruby, as OpenSSL is compiled into your Ruby environment. Let us know if you have any more issues 👍

[2016-10-18 00:50] #6553 closed

[2016-10-18 01:38] diaojunxian opened #6600 "when pilot upload,it reports that `operation not permitted`"
When use the command `pilot upload --username ${username} --app_identifier ${bundle_id}`,it repoerted below
[code]
Why it happened?It worked yesterday,but it did not work now.What can I do to solve it?

[2016-10-18 02:49] KrauseFx commented on #6600
Do you have write access to `/tmp/spaceship1476754088_23199.log`?

[2016-10-18 03:05] choiks14 commented on #6539
@TKBurner  Thank you. 👍

[2016-10-18 03:30] diaojunxian commented on #6600
@KrauseFx Sorry,I don not know how to confirm ,I can't find `/tmp/spaceship1476754088_23199.log`

[2016-10-18 06:11] KrauseFx commented on #6398
Closed with https://github.com/fastlane/fastlane/pull/6597/ 👍

[2016-10-18 06:11] #6398 closed

[2016-10-18 06:14] KrauseFx commented on #6539
I'm actively working on a re-write of _frameit_ that supports all the latest devices with https://github.com/fastlane/fastlane/pull/6597, please subscribe to the pull request to stay up to date. We hope to have a new version ready this week  🚀

[2016-10-18 06:14] #6539 closed

[2016-10-18 06:14] KrauseFx commented on #6362
I'm actively working on a re-write of _frameit_ that supports all the latest devices with https://github.com/fastlane/fastlane/pull/6597, please subscribe to the pull request to stay up to date. We hope to have a new version ready this week  🚀

[2016-10-18 06:14] #6362 closed

[2016-10-18 06:14] KrauseFx commented on #5805
I'm actively working on a re-write of _frameit_ that supports all the latest devices with https://github.com/fastlane/fastlane/pull/6597, please subscribe to the pull request to stay up to date. We hope to have a new version ready this week  🚀

[2016-10-18 07:30] MattCheetham commented on #6525
@TKBurner Providing that parameter and removing the --team_id one spits out the error
`Multiple iTunes Connect teams found, please enter the number of the team you want to use:
Note: to automatically choose the team, provide either the iTunes Connect Team ID, or the Team Name in your fastlane/Appfile:`

Proivding both --team_id and --itc_provider also still errors

`ERROR [2016-10-18 08:27:09.65]:

[2016-10-18 07:32] Antoine4011 commented on #6583
@PetrosIchor Yes but I don't understand if code sign is failing, why can I still send the archive to Crashlytics and export the ipa? Plus all code signing is handle with match, cert, and sigh...
It was working fine prior Xcode 8.

[2016-10-18 07:36] lucatorella commented on #6458
The `xcbuild` command itself is successful and, to be clear, also `fastlane develop` is successful. It's just `bundle exec fastlane develop` that keeps failing. (I haven't tried with 1.11.3, I'm still on 1.11.1).

I'm not sure how to set devices in `xcargs` ☺️

[2016-10-18 07:44] lucatorella commented on #6458
I just updated to gym 1.11.3 and now `bundle exec fastlane develop` is also working! 🚀

[2016-10-18 09:30] hjanuschka commented on #6583
there where a few vhanges to the whole signing in xcode8 - have a look at https://docs.fastlane.tools/codesigning/xcode-project/

on how to setup xcode for manual signing using fastlane 😎

[2016-10-18 10:19] vkislicins opened #6603 "Setting up CI on BitBucket using match"
I'm having issues with my setup and the documentation is a bit too high level for me. Would appreciate any help as I've already spent a few days trying to make fastlane work with cert and sigh, so match is my last hope!

[code]

I'm using bitbucket for my repo and as far as I understand `match` should be using my public key to access the repo, but it keeps looking for the password. I've tried ssh

[2016-10-18 10:28] vbresults commented on #5421
@KrauseFx IIRC, spaceship forces the TLS version to something -- maybe Apple's server is no longer compatible with whatever that is?

[2016-10-18 10:58] diaojunxian commented on #6600
@KrauseFx It worked now,I had checked the answer and solved it`http://stackoverflow.com/questions/32659348/operation-not-permitted-when-on-root-el-capitan-rootless-disabled`

[2016-10-18 11:06] hjanuschka commented on #6603
the key is used to access the git repo - this can be tested using:

`git clone git@repo.url.com:repo.git`  - with your ssh key loaded, this is the key that the CI should also have loaded.

the error above is about `MATCH_PASSWORD`  - wich has nothing todo with git itself.
it is the `secret` used to encrypt & decrypt your whole repo. as all keys/certs are crypted.

so in your case, you should set t

[2016-10-18 11:07] vkislicins commented on #6603
Thanks for the response @hjanuschka

What if I didn't encrypt my repo? Do I have to encrypt it?

[2016-10-18 11:09] hjanuschka commented on #6603
it will be automatically encrypted.
just follow this guide, https://github.com/fastlane/fastlane/tree/master/match#usage basically watch the GIF 🍭

in worst-case, if something is screwed with your repo, you could create a new one, as profiles & certs can easily be restored

[2016-10-18 11:41] yn5 commented on #6341
@asfalcone Unfortunately I did not have time to work on the project anymore but the last time I did the problem was still there. Is it ok to leave the ticket open a little while longer?

[2016-10-18 11:56] lucabartoletti commented on #6541
+1 same problem for me

When i add a new device than match fails to repair the provision. It creates a duplicated provisioning

[2016-10-18 12:09] vkislicins commented on #6603
Hmm.. I was looking at this issue here: https://github.com/fastlane/fastlane/issues/4020

and someone there (pkoder) suggested following http://macoscope.com/blog/simplify-your-life-with-fastlane-match/ to add the keys to the repo (Migrate Existing Certificates part). So I found my certificate and the keys, extracted, encrypted, uploaded to the repo, and retried. I'm still getting  `Couldn't decry

[2016-10-18 12:32] vkislicins commented on #6603
Looks like that error was related to my provisioning profiles. Although I've encrypted them the same way, strange... So I've removed those from the repo and now I'm presented with `Could not create another Distribution certificate, reached the maximum number of available Distribution certificates`

[2016-10-18 13:42] vkislicins commented on #6603
The saga continues.. I've used the nuke and trying to rely on match to create the certs, however, It's failing. If I use 'readonly', then I get ` No code signing identity found and can not create a new one because you enabled `readonly`` and if I remove `readonly`, it fails with `No value found for 'keychain_path'`

[2016-10-18 14:00] #6570 closed

[2016-10-18 14:03] liamogierussell1 opened #6604 "Simulator failing to launch every second build"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

I am using scan to run UI and unit tests as part of my fastfile. Since updating to XCode 8 i get the following error when attempting to launch the iOS 10 simulator. Watching the simulator, when

[2016-10-18 14:15] vkislicins commented on #6603
Ok, I've recreated all certificates, uploaded them to the repository again. `match` is running decryption on all certificated and provision profiles successfully, but then the problems start. I get a warning `Couldn't find a valid code signing identity in the git repo for distribution... creating one for you now[`, this initiates `cert`(which shouldn't really run cause those are valid certificate

[2016-10-18 14:17] mfurtak commented on #6272
@KrauseFx is actively working on a re-write of frameit that supports all the latest devices with #6597, so please subscribe to that pull request to stay up to date. We hope to have a new version ready this week 🚀

[2016-10-18 14:17] #6272 closed

[2016-10-18 14:19] vkislicins commented on #6603
[code]

[2016-10-18 14:47] TKBurner commented on #6318
@fcamaster Awesome! So glad to hear you are up and running 👍

[2016-10-18 14:47] #6318 closed

[2016-10-18 14:47] TKBurner commented on #6203
@pixelrevision Awesome! 👍

[2016-10-18 14:52] 0xced commented on #6203
It has been fixed in bundler 1.13.4, see https://github.com/bundler/bundler/pull/5010

[2016-10-18 15:01] TKBurner commented on #4150
@allaire Follow along on the PR, I think it'll fix your issue. Thanks!

[2016-10-18 15:06] TKBurner commented on #5066
@kumariswarnim It looks like there is a ruby config issue on your system. Can you run `rvm get head`?

Thanks!

[2016-10-18 15:08] kumariswarnim commented on #5066
Hi Todd,

Sorry I forgot to mention you that I had fixed the issue. You are right
that I had problem with ruby on my system.

Thanks,
Swarnim

On Tue, Oct 18, 2016 at 4:06 PM, Todd Burner <notifications@github.com>
wrote:

[2016-10-18 15:15] mfurtak commented on #6585
Implemented in #6605 👍

[2016-10-18 15:15] #6585 closed

[2016-10-18 15:15] TKBurner commented on #6463
@jwilliams-handy Thanks for following up. Do you still see this issue if you use ruby 2.3+? Thanks!

[2016-10-18 15:31] lalunamel commented on #6595
https://github.com/fastlane/fastlane/pull/6606#pullrequestreview-4694936

[2016-10-18 15:56] allaire commented on #4150
@TKBurner I don't see any fix 🤔

[2016-10-18 16:00] petitmat opened #6607 "Languages"
Just a question about this file : https://github.com/fastlane/fastlane/blob/master/fastlane_core/lib/fastlane_core/languages.rb

Why don't you use the code_languages of iTunes Connect and Google Play Console ? Moreover, why supply isn't available in estonian or in polish for example ?

Thanks,

[2016-10-18 16:06] jeremangnr commented on #6553
Just a comment, after running `brew install ruby` I had to restart my terminal instance so changes got propagated correctly (`ruby -v` was still saying 2.0.0 before restarting it). Then everything worked OK for me

[2016-10-18 16:36] lucabartoletti commented on #6336
Verified that it doesn't

[2016-10-18 16:36] #6336 closed

[2016-10-18 16:47] JustinJiaDev commented on #6124
@TKBurner Any updates on this? iMessage Screenshots are like Apple Watch Screenshots. They are different from the app screenshots and currently deliver doesn't support uploading them.

[2016-10-18 16:48] pascalhuynh commented on #5379
@KrauseFx: I noticed the same issue - "the problems seem to be with pem. When we use the "pem" command it invalidates all provisioning profile. When we run match again, it does not fix these provisioning profile."

[2016-10-18 16:58] JustinJiaDev commented on #6091
@TKBurner

The naming convention won't work. According to https://github.com/fastlane/fastlane/blob/master/deliver/lib/deliver/upload_screenshots.rb

[code]

[2016-10-18 17:32] skywinder opened #6608 "[supply] Doesn't upload apk, if there is other apk in build folder"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
If there is another apk in my build folder: `/app/build/outputs/apk/` - then lane doesn't' work properly and gets error during upload build.

It caused because all apk stored in `GRADLE_ALL_APK

[2016-10-18 17:42] JustinJiaDev commented on #6091
@TKBurner It seems like Apple Watch screenshots support is based on image resolution. But iMessage screenshots have the same resolution.

[2016-10-18 19:11] fassko commented on #6533
Hi all,

I run in this issue while building in Travis CI. Finding a solution for several hours I removed all certificates from my locale machine and I found out that it didn't build because development cert was missing.

So I found solution to download all certs (development, appstore, adhoc) before running gym.

Maybe it helps someone.

P.S. I'm not using automatic code signing.

[2016-10-18 19:14] TKBurner commented on #6457
Hi @rogomantik Thanks for following up. Can you try installing ruby 2.3+? That should clear this up.

[2016-10-18 19:19] TKBurner commented on #6351
@diaojunxian Check out the help here, https://github.com/fastlane/fastlane/blob/master/spaceship/docs/DeveloperPortal.md

Thanks!

[2016-10-18 19:19] Azenet commented on #6544
Thanks a lot @hjanuschka, figured it out with your comment.

Since I want to be able to build with a new xcodeproj every time, here is my solution for anyone that would have the same problem (using `xcodeproj` gem):

1. Create a file named YourApp.entitlements containing what @hjanuschka posted above
2. Add to your Fastfile a step to copy your file to a folder named YourApp that's in the same fold

[2016-10-18 19:19] #6544 closed

[2016-10-18 19:20] TKBurner commented on #5190
@xserver What OS are you using? Were you able to get up and running? Thanks!

[2016-10-18 19:26] TKBurner commented on #6400
@biolinh Hope you are doing well! Can you let me know if the account developers@360.com is associated correctly in the developer portal? You might be using different email addresses for iTC and developer portal. Thanks!

[2016-10-18 19:26] Allansk2 commented on #6533
Just update ruby solve my problem

1) Follow the instructions here (https://developer.xamarin.com/guides/testcloud/calabash/configuring/osx/updating-ruby-using-rbenv/) to install rbenv and ruby-build.
2) Run $ rbenv install 2.3.1 and rbenv global 2.3.1.
3) Reinstall fastlane gem install fastlane.
4) Restart the build server.

[2016-10-18 19:28] jacobvanorder commented on #6553
🐄  Holy cow. 🐄

For anyone using Bamboo as their CI solution, I had to install [Bamboozled](https://marketplace.atlassian.com/plugins/com.alienfast.bamboozled.ruby.bamboozled-ruby-plugin/server/overview), a Bamboo plugin, to get Bamboo to use something **other** than the system Ruby.

This plugin will use Bundler along with Bundler `exec`. It was a combination of this that allowed me to use Ruby 2

[2016-10-18 19:31] TKBurner commented on #6202
Hi @Sreilys Thanks for following up. What code signing do you have set up in Xcode. It looks like the gym step is probably introducing a different code signing identity and this is the cause of the problem. Thanks!

[2016-10-18 19:32] TKBurner commented on #338
@brunobrunkow Thanks for sharing that 👍

[2016-10-18 19:32] honghaoz commented on #6516
We also met this issue.
The problem is the current working directory is changed to parent directory after `update_project_provisioning` action.

Here is related fastlane code:
[code]

The output is
[code]

The workaround for us is `Dir.chdir "fastlane"`, which corrects the working directory.

[2016-10-18 19:34] TKBurner commented on #6538
@hjanuschka Thanks for stepping in.

@breakline87 Because of our gem dependency we don't support Windows.

[2016-10-18 19:34] #6538 closed

[2016-10-18 19:34] KrauseFx commented on #5190
@xserver what do you have in your Fastfile on line 2? You didn't share your Fastfile, but it seems like you have an error there

[2016-10-18 19:37] KrauseFx commented on #6457
@rogomantik You're using an outdated version of deliver, as shown in your output

[2016-10-18 19:37] #6457 closed

[2016-10-18 19:37] KrauseFx commented on #6457
Please update to the latest release

[2016-10-18 19:38] TKBurner commented on #6551
@AnthonyMDev Thanks for reaching out. Can you provide your other fastfile? Has this worked previously or is this a new setup? Thanks!

[2016-10-18 19:44] williamsjj opened #6610 "NSMutableAttributedString in hierarchy causes snapshot run to stall & fail."
### New Issue Checklist

- [ X ] Updated fastlane to the latest version
- [ X ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Basically, if you have an NSMutableAttributedString anywhere in your view hierarchy, UI Testing (and snapshot) will hang on any call that inspects the view tree: https://forums.developer.a

[2016-10-18 19:46] TKBurner commented on #6112
@jeffreyjackson Right now we only support Swift 2 but we are working on this. Thanks!

[2016-10-18 19:50] KrauseFx commented on #6336
Perfect, thanks for letting us know and confirming @lucabartoletti 👍

[2016-10-18 19:51] KrauseFx commented on #6523
Interesting, thank for letting us know. I wasn't aware of this approach, however I don't see a reason changing this in _snapshot_, as it works without problems with the current approach 👍
I appreciate you letting us know about this, in case something breaks in the future, this would be a great solution.

[2016-10-18 19:51] #6523 closed

[2016-10-18 19:52] TKBurner commented on #6559
@erikjthomas I haven't tried this config, but we'll leave this open in case someone can help you.

[2016-10-18 19:54] TKBurner commented on #6558
Hi @destructionglacialcyclicalperplexing1 You should try rvm, this will prevent you from needing to use sudo. Thanks!

[2016-10-18 20:01] AnthonyMDev commented on #6551
This is a new setup.

The second `Fastfile` is just:

[code]

[2016-10-18 20:05] #4114 closed

[2016-10-18 20:17] TKBurner commented on #6564
@besi Thanks for the suggestion. I'm marking this as a feature request to see if others are interested in it. Thanks!

[2016-10-18 20:18] TKBurner commented on #6419
@Gawetaner Are you still running into this? Thanks!

[2016-10-18 20:19] TKBurner commented on #6514
@tadelv Thanks for contributing! 👍 👍 👍 💯 Email me at burner@twitter.com, I want to ask you something on a private channel.

[2016-10-18 20:31] TKBurner commented on #6579
@tomhag Awesome! So glad you got up and running 👍

[2016-10-18 20:33] williamsjj opened #6612 "Delivery support for upload/download App Store metadata to OneSky for translation."
It would be really awesome if delivery supported uploading the App Store metadata to OneSky for translation and then was able to download the translations when available.

[2016-10-18 20:35] erikjthomas commented on #6559
Thanks!

Erik Thomas
Chief Architect
Office: 541.247.2995 / Mobile: 303.304.1466

http://linqto.com <http://linqto.com/>

This email may contain confidential and privileged material for the sole use of the intended recipient. Any review or distribution by others is strictly prohibited. If you are not the intended recipient, please contact the sender and delete all copies.

[2016-10-18 20:48] TKBurner commented on #6552
@rstupek Thanks for following up. I don't think we intend to make this change as it would be breaking others setups.

[2016-10-18 20:48] dusek commented on #6419
Some interesting data from two our builds running 5 days ago very near to each other:

- 2016-10-13, 3:41 PM GMT+0200: PASS
- 2016-10-13, 4:08 PM GMT+0200: FAIL with:

[code]

Both builds running fastlane 1.105.1.

Note that the FAILed build did in reality get distributed to testers.

[2016-10-18 20:54] marija17 commented on #6269
@KrauseFx Could you elaborate on using the Gemfile to fix this?  Do you put a particular json version in the Gemfile?

I've tried

[code]

and I'm still getting the same error as above.

[2016-10-18 21:01] #6278 closed

[2016-10-18 21:26] chappejw commented on #6553
I had luck getting all my fastlane tools to work again after mysteriously encountering this error after making use of a web debugger named Charles ( which seemed to have changed my OpenSSL )

The step that made the difference for me was in symlinking my Open SSL so I was using the correct version

    `ln -s /usr/local/Cellar/openssl/1.0.2j/bin/openssl /usr/local/bin/openssl`

found at this site
h

[2016-10-18 21:26] TKBurner commented on #6588
@santoshshetty2612 Awesome! So glad to hear you got up and running 👍

[2016-10-18 21:29] TKBurner commented on #5620
@lnhrdt I don't think we intend to do this, as the setup steps require new certs be made. Glad to hear @richardszalay link helped.

Thanks @richardszalay 👍

[2016-10-18 21:37] TKBurner commented on #6591
@ethanmay Does this build succeed if `clean: true`?

[2016-10-18 21:38] TKBurner commented on #6499
@humblehacker Looks like it'll be fixed on their next release, can you update this thread at that point? Thanks!

[2016-10-18 21:40] TKBurner commented on #6592
@enozero Awesome! We'll work with you there 👍

[2016-10-18 21:44] TKBurner commented on #6567
@thecb4 Have you tried setting any of the submission information that is commented out?

[2016-10-18 21:44] TKBurner commented on #4027
@spanage Thanks for sharing! Really glad you got up and running 👍

[2016-10-18 21:47] xaphod opened #6618 "snapshot gets stuck at Build Succeeded"
### New Issue Checklist

- [X] Updated fastlane to the latest version (`gem update fastlane`)
- [X] Updated SnapshotHelper to the latest version (`snapshot update`)
- [X] Cleared derived data in xcode 8 (when I ask snapshot to do this it says `No derived_data_path`)
- [X] reset all simulators -- argh i hate this, it takes me ages to make them all again because snapshot doesn't make all the iOS 8 a

[2016-10-18 21:51] TKBurner commented on #6525
@MattCheetham Does this account have an admin role on iTC?

[2016-10-18 21:55] TKBurner commented on #6458
@lucatorella Awesome! Is there any outstanding issue here? Just want to make sure before closing out. Hope you have a great week!

[2016-10-18 21:58] TKBurner commented on #6618
@xaphod Thanks for reaching out. What happens if you don't set the device type or include others? What happens if you erase your simulators?

[2016-10-18 22:01] TKBurner commented on #5421
@cargath @nicoaldegheri @vbresults Can you share your full input and output?

[2016-10-18 22:02] xaphod commented on #6618
@TKBurner I erased all my simulators, derived data, and every other option snapshot has. Didn't make a difference.  I tried commenting out the devices in the Snapfile (so snapshot by default tries to do 9 runs), didn't make a difference.

[2016-10-18 22:03] ethanmay commented on #6591
@TKBurner unfortunately no. It produces the same output as above.

[2016-10-18 22:04] #6600 closed

[2016-10-18 22:05] TKBurner commented on #6591
@ethanmay Does running `/usr/bin/xcrun /Users/EMACHINE/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/gym-1.11.3/lib/assets/wrap_xcodebuild/xcbuild-safe.sh -exportArchive -exportOptionsPlist '/var/folders/sc/fy57tffn13xcq_r57v8yjf140000gn/T/gym_config20161017-76675-cay011.plist' -archivePath /Users/EMACHINE/Library/Developer/Xcode/Archives/2016-10-17/Harvest2Hand\ 2016-10-17\ 16.08.39.xcarchive -e

[2016-10-18 22:05] TKBurner commented on #6341
@yn5 Definitely! Let us know when you have an update.

[2016-10-18 22:09] kirillzh opened #6619 "How to collect screenshots in HTML report via xcpretty?"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

`xcpretty` has [`screenshots`](https://github.com/supermarin/xcpretty/blob/4b90228e80dd74dbdb209553668178023447ff85/bin/xcpretty#L65) option, how do I enable it using `scan`?
I see [there is](ht

[2016-10-18 22:09] TKBurner commented on #6541
@Antoine4011 @lucabartoletti Has this behavior changed? It seems inline with the expectations here: https://github.com/fastlane/fastlane/tree/master/match#run

[2016-10-18 22:11] TKBurner commented on #6604
@liamogierussell1 Have you set a device directly on scan?

[2016-10-18 22:12] TKBurner commented on #6516
@honghaoz Did you try the other workaround?

[2016-10-18 22:14] TKBurner commented on #6603
@vkislicins What happens if you set a `keychain_path` on match?

[2016-10-18 22:16] TKBurner commented on #6553
@chappejw @jacobvanorder Glad to hear you guys got up and running. Let me know if there are any changes we can make to improve this.

[2016-10-18 22:18] TKBurner commented on #5066
@kumariswarnim Awesome! Really glad you got up and running. Thanks for using _fastlane_ 🚀

[2016-10-18 22:21] TKBurner commented on #6595
@lalunamel Thanks for the PR, we'll work with you over there 👍 👍

[2016-10-18 22:22] TKBurner commented on #4150
@allaire Did you pull down the PR locally? Thanks!

[2016-10-18 22:23] TKBurner commented on #6607
@petitmat Do you run into an issue when you try to upload in those languages? Thanks!

[2016-10-18 22:24] TKBurner commented on #6124
@JustinJiaDev Followed up with the team. We'll work with you here.

[2016-10-18 22:25] TKBurner commented on #5379
@pascalhuynh Thanks for following up. I looped in the core team so we can take another look 👍

[2016-10-18 22:27] TKBurner commented on #6608
@skywinder Can you share your full input to this lane? I want to take a look at what variables you are setting. Also can you run `fastlane run update_fastlane` we pushed an update that has more debugging info.

[2016-10-18 22:29] TKBurner commented on #6091
@JustinJiaDev Followed up on our other issue. 👍

[2016-10-18 22:29] TKBurner commented on #6544
@hjanuschka Thanks for stepping in here 👍 👍 👍 😻

[2016-10-18 22:30] TKBurner commented on #6533
@Allansk2 Awesome! So glad to hear you got up and running 👍

[2016-10-18 22:30] #6533 closed

[2016-10-18 22:33] TKBurner commented on #6610
@williamsjj I'm not sure we can be of much help. Let me know if you find a viable workaround 👍

[2016-10-18 22:33] #6610 closed

[2016-10-18 22:35] TKBurner commented on #6612
@williamsjj This would be a great plugin. Have you checked out our plugin ecosystem?

[2016-10-18 22:35] #6612 closed

[2016-10-18 22:40] TKBurner commented on #6269
@marija17 I think you might need to use a Gemfile.lock https://richonrails.com/articles/how-does-the-gemfile-lock-file-work

[2016-10-18 22:42] TKBurner commented on #6619
Hi @kirillzh You can set it using the `xcargs` parameter. Let me know how it goes!

[2016-10-18 22:42] TKBurner commented on #6618
Hi @xaphod Can you add the --verbose flag to your run of snapshot? That'll hopefully provide more information.

[2016-10-18 22:43] kirillzh commented on #6619
@TKBurner, do you mean something like that `--xcargs 'screenshots'`?
I'm getting `xcodebuild: error: Unknown build action 'screenshots'` error.

[2016-10-18 22:44] TKBurner commented on #6419
@dusek Can you run `fastlane run update_fastlane` and then share the full output of your lane? We've added new debugging output today.

[2016-10-18 22:46] TKBurner commented on #6551
@AnthonyMDev Check out the steps here, https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Advanced.md#importing-another-fastfile

[2016-10-18 22:54] xaphod commented on #6618
I tried that. No additional information.
On Tue, Oct 18, 2016 at 6:43 PM Todd Burner <notifications@github.com>
wrote:

[2016-10-18 22:54] rstupek commented on #6552
You can make the change and convert old format to the new. I'm surprised
they weren't already compatible

On Tuesday, October 18, 2016, Todd Burner <notifications@github.com> wrote:

[2016-10-18 22:55] xaphod commented on #6618
@tkburner
I tried that. No additional information.

[2016-10-18 23:00] AnthonyMDev commented on #6551
@TKBurner Thanks. I had already looked at that in the first place. That looks to be what I'm doing though and it's not working. (Hence the issue submission :) )

[2016-10-18 23:07] vbresults commented on #5421
I am almost certain now that this is an issue caused by having ruby 2.0.0 in combination with Apple recently dropping SSL in favor of TLS.  Testing this now.

[2016-10-18 23:39] olarivain commented on #6523
Fwiw, I've now implemented this in our app.
Huge gotcha is that you cannot pass any data at all with this method. I tried registering for all notifications, and then embed the screenshot name in the notification name (e.g "screenshot|my_screenshot").
That's not an option. Darwin notification are a very basic IPC system.

I got around it by passing the screenshot name
In environment variables (see

[2016-10-19 00:28] JustinJiaDev commented on #6124
@TKBurner Is there anything I can help? I'm willing to provide any information. I read the `spaceship` source code and it seems like iTunes Connect uses a different API (or JSON key) for iMessage screenshots? But I couldn't find any documentation online.

[2016-10-19 00:52] KrauseFx commented on #6269
@marija17 Yes, create the `Gemfile` in your project's directory, and run `bundle install`. From then on use `bundle exec fastlane [something]` to run _fastlane_ 👍

[2016-10-19 00:56] KrauseFx commented on #6619
Could you clarify on what you want to do?

[2016-10-19 00:58] kirillzh commented on #6619
@KrauseFx, sure, essentially I want to pass argument to `xcpretty` while running tests using `scan`.

[2016-10-19 01:00] MaximusMcCann opened #6620 "No APK S3 upload?"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Wondering why the APK option was removed from `s3`.  I see it here: https://github.com/joshdholtz/fastlane-plugin-s3/blob/master/lib/fastlane/plugin/s3/actions/s3_action.rb
Is there an alterna

[2016-10-19 01:16] koxon opened #6621 "Speed up Gym"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

When running gym, it compiles all my dependencies each time (Pods).
I would like, the same way XCode does it, to only build my source code and not all the libraries that comes with it.

If possi

[2016-10-19 01:20] KrauseFx commented on #6621
Sorry, that's how `xcodebuild` works, and I don't think there is much we can do to speed up the process. You can try manually running the generated `xcodebuild` command, but you'll see that's just how fast it is 👍
Let us know if you have any ideas

[2016-10-19 01:43] xaphod commented on #6618
After leaving it spinning 1 core at 100% via xcodebuild for ages, I got this:

[code]

@TKBurner What's that about? the log file it mentions has nothing exciting:

[code]

[2016-10-19 02:05] koxon commented on #6621
XCode uses xcodebuild though correct? And when I compile my project in it and start it in the simulator it doesn't go over the entire build process again and compiles only the changed files.
That is something we cannot replicate?

Thanks @KrauseFx

[2016-10-19 02:06] KrauseFx commented on #6499
Could you update to the latest _fastlane_ release and let us know if that solves the problem? 👍

[2016-10-19 02:07] KrauseFx commented on #6620
You can use @joshdholtz's fastlane plugin if you want Android support, check out the documentation on how to start using this plugin: https://github.com/joshdholtz/fastlane-plugin-s3

[2016-10-19 02:12] xaphod commented on #6618
.. I tried removing the fabric run script to see if that had any effect -- nada.
I am confused as to why xcodebuild is running AFTER it says build succeeded.

[2016-10-19 02:28] williamsjj opened #6624 "Unsupported screen size for iPhone SE (4inch) screenshot with deliver."
### New Issue Checklist

- [ X ] Updated fastlane to the latest version
- [  X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Deliver is refusing to upload valid (320x568) iPhone SE screenshots.

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Configuration Fil

[2016-10-19 02:30] koxon commented on #6621
What about DerivedData @KrauseFx?
Isn't this option supposed to help with this?

[2016-10-19 02:35] zake1989 commented on #6180
@danleechina do it as follow image, in your project-> just press + button, and rename the one you want to duplicate!!
<img width="715" alt="1" src="https://cloud.githubusercontent.com/assets/5278866/19503647/9d981fe0-95e7-11e6-8807-9cd0ef5aa1e5.png">

[2016-10-19 02:47] zake1989 commented on #6180
@TKBurner I was assigning to another team for short support for last two weeks, and I check my fastfile again, when I got back to CI team. It turns out I made a silly mistake by setting the configurations in lowercase, and the setting in Xcode 8 is case-insensitive. By setting the right name, it works. I will test it with enterprise account with the new doc here. https://docs.fastlane.tools/codesi

[2016-10-19 03:03] bl4design commented on #6618
I update Fastlane and started experiencing issues with Snapshot including hanging when calling 'fastlane snapshot'
fastlane version (run fastlane -v):
fastlane 1.105.3

Do you use bundler to execute fastlane (i.e. bundle exec fastlane)?
No

Do you use a Ruby environment manager (e.g. chruby, rbenv, rvm)?
No
ruby 2.3.1

What Xcode version do you use (e.g. 7.3, 8.0)
8.0

Code is newly converted to S

[2016-10-19 03:35] JustinJiaDev commented on #6124
@TKBurner Some updates:

Using Apple's iTMSTransporter, I got a XML file of my iMessage app which looks like this:

[code]

I think position 2 is for iMessage screenshots.

[2016-10-19 06:02] whlsxl opened #6625 "Add ENV support to Pilot"
### Issue Description
##### Complete output when running fastlane, including the stack trace and command used

pilot builds --env [some_env]

[code]

Does  it necessary to add environment support in other gem like Pilot.

I use ENV to separate different targets. Sometimes I use `pilot builds` to check the all the binary, but command line ask me to input my `App Identifier`.

I think if I can just

[2016-10-19 06:43] youngrafi commented on #4783
At least some of this seems to be covered in https://github.com/fastlane/fastlane/pull/5455

[2016-10-19 07:05] Preau commented on #6499
Hi @KrauseFx

Everything seems to work again for me! Thanks!

[2016-10-19 07:12] Onejjy commented on #6560
Closed since it's merged :)

[2016-10-19 07:12] #6560 closed

[2016-10-19 08:02] kylejm commented on #6591
I'm getting this same problem. I've just run the command as @TKBurner suggested, but I an error still:

[code]

LMK if there's anything I can do to help you debug. This is quite a blocker for our process.

[2016-10-19 08:49] ChristopherDrum commented on #6591
Just came in to say I started getting this error just now for the first time.

[code]

[2016-10-19 09:11] esttorhe opened #6626 "Failures due to presence of FASTLANE_PASSWORD"
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

When `FASTLANE_PASSWORD` is present as an env var (configured on `.zshrc` or `.bashrc`) `fastlane` ignores the password inputed when asked on the terminal.
### Environment

fastlane version (run `fastlane -v`):
`1.105.

[2016-10-19 09:40] vkislicins commented on #6603
Thanks for your reply, @TKBurner . I'm not sure if it's possible to to set `keychain_path` on match. From what I understood it only takes `keychain_name` argument, not the path one. Or am I missing something?

[2016-10-19 10:07] lucatorella commented on #6458
yes, it can be closed. Thanks 👍

[2016-10-19 10:10] lucabartoletti commented on #6541
My understanding is that is suggested to nuke before using match for the first time

My problem is that every time I add a device and than i run match I get duplicated provisionings. The old are invalid the new one are valid.

My expectation in this case is that match should repair the existing provisioning adding the new devices

[2016-10-19 11:09] Antoine4011 commented on #6583
@hjanuschka This is my signing config for Xcode 8. It seems right according your doc.

<img width="637" alt="github" src="https://cloud.githubusercontent.com/assets/1278363/19516551/c85ff6e8-95fc-11e6-914a-77d3f168eefe.png">

[2016-10-19 11:38] liamogierussell1 commented on #6604
Hi @TKBurner , ya i tried setting the device in scan using devices: ["iPhone 7"] which didn't help. Iv since found that using a script to reset the simulator content and settings between builds I am able to successfully run unit tests every build. However UI tests continue to fail on subsequent builds.

[2016-10-19 11:58] Muthukathiravan opened #6627 "How to change the screenshot storage directory ?"
### New Issue Checklist
- [ ] Updated fastlane to the latest version
- [ ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description
##### Complete output when running fastlane, including the stack trace and command used

[code]
### Configuration Files

Please copy the complete content of your `Fastfile` and any other configur

[2016-10-19 12:02] hjanuschka commented on #6583
can you go to build-settings and filter on `signing`  and make a screenshot of that expanding all dictionarys?

[2016-10-19 12:05] hjanuschka commented on #6603
can you post your fastfile, would be interessting from where the `keychain_path missing` is comming.

also run the fastlane with `--verbose`  to hopefully get a reasonable stacktrace.

[2016-10-19 12:05] yn5 commented on #6341
@TKBurner @KrauseFx Git is successfully cloning again, I can run `match nuke` and all other commands without any problems but, I'm back to square one (the exact problem described in the opening post).

The order of commands I'm executing now is:
[code]

Output from the last `pilot` step:

[code]

[2016-10-19 12:11] hjanuschka commented on #6621
try `derrivedData` and `clean: false` parameter.

[2016-10-19 12:14] vkislicins commented on #6603
Well if I'm reading this log correctly, `keychain_path missing` is coming from `cert`. And match takes only `keychain_name` parameter.

Sure, my fastfile looks like this (I've replaced emails and ids with <...>):

[code]

[2016-10-19 12:19] vkislicins commented on #6603
I'm running in `--verbose` mode however, stack trace I get is for the error `Could not create another Distribution certificate, reached the maximum number of available Distribution certificates`. But as I understand it should never even try to do that cause it should use the stuff it decrypted from the repo.. I think the problems comes from:

` WARN [2016-10-19 13:13:29.47]: [33mCouldn't find a v

[2016-10-19 12:56] ChristopherDrum commented on #6591
**Update**:
Installing fastlane_core 0.52.2 appeared to work. However, I then got an error from iTunes Connect saying that I couldn't upload an older version of the app... which was strange because the build number went from 4.0.5.6890 to 4.0.5.7010. I personally think this was an iTunes Connect false error.

Run the build again (Travis CI -> Restart Job)
Original problem returned... so I'm not su

[2016-10-19 13:17] hjanuschka commented on #6603
i have pretty much the same setup - except i am not setting the keychain stuff on `match`
i set it via `ENV` maybe you could give it a try. have you tried revoking one of your certifictates manually on itunesconnect? - so match could create a new one? - maybe something is messed up in the repo it self.

[code]

[2016-10-19 13:23] asfalcone commented on #6499
Thanks for the update @Preau 👍

[2016-10-19 13:23] #6499 closed

[2016-10-19 13:23] asfalcone commented on #6627
@Muthukathiravan Please provide additional information about your question. For example, what tool are you using?

[2016-10-19 13:25] asfalcone commented on #6626
@esttorhe Thanks for the report! Can you share your Fastfile so we can see which tools you're using?

[2016-10-19 13:28] asfalcone commented on #6608
@skywinder you can also try
[code]
to clean the other apks from the directory before building the apk you want to upload.

[2016-10-19 13:30] hjanuschka commented on #6341
have you tried disabling `use_legacy_api` ? - and maybe you need to set `toolchain: :swift_2_3` on gym.

[2016-10-19 13:31] Sajjon commented on #4946
@reallyseth Hi! Did you manage to solve it? I too am keen on using Xcode Server with match (I am thinking as a pre trigger script, to run match.

Actually I am using XcodeServerSDK and it seems possible to add the script to the `scriptBody` variable in the [TriggerConfig struct](https://github.com/buildasaurs/XcodeServerSDK/blob/master/XcodeServerSDK/Server%20Entities/Trigger.swift)

I recently po

[2016-10-19 13:33] tadelv opened #6628 "[pilot] update build description immediately"
### New Issue Checklist
- [☑️] Updated fastlane to the latest version
- [☑️ ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

I want me and my internal testers to receive the changelog in the email as soon as the build changes it's status to processing (after validation) instead of when it's being submitted for revi

[2016-10-19 13:33] asfalcone commented on #6501
@belawaeckerlig I'd prefer not to change the `rollout` option. Can you give it a better description so that its purpose is more clear?

Thanks for the great discussion on this change @belawaeckerlig and @sschendel! You're both awesome ❤️  I'm looking forward to reviewing #6502, please @ me on that PR when it is complete!

[2016-10-19 13:35] rafaelnobrepd opened #6629 "Match/cert/sigh support for Mac Apps"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Is it possible for generation/storage of certificates and provisioning on the Mac Dev center ? It seems match cannot locate Mac app ids. I searched the docs and issues but couldn't find anythi

[2016-10-19 13:36] hjanuschka commented on #6466
ok i got some spare time left for this, and redid it as a fastlane plugin

  * https://github.com/hjanuschka/fastlane-plugin-cryptex

its early proof-of-concept, let me know what you think

[2016-10-19 13:50] TKBurner commented on #6466
@hjanuschka Awesome! Thanks for doing this work 👍

[2016-10-19 14:13] vkislicins commented on #6603
If I don't set the keychain in match, it attempts to use `login.keychain` that doesn't exist for jenkins user. I've tried your suggestion but no luck unfortunately

I've also tried to 1) revoke and delete everything from repo and run match to create the certificates and 2) revoke and recreate everything manually - didn't work.

[2016-10-19 14:24] Muthukathiravan commented on #6627
I m using fastlane tool for grab the screenshots .

[2016-10-19 14:27] asfalcone commented on #6627
@Muthukathiravan `screengrab` or `snapshot`? Can you provide your Fastfile?

[2016-10-19 14:29] Muthukathiravan commented on #6627
screengrab

[2016-10-19 14:30] asfalcone commented on #6627
Are you looking to change the storage directory on the device or on your computer?

[2016-10-19 14:30] Muthukathiravan commented on #6627
my computer

[2016-10-19 14:33] yn5 commented on #6341
@hjanuschka Thanks for your help!
I've tried the following gym configs without any luck, the problem stays exactly the same as in the opening post:

[code]
[code]
[code]

[2016-10-19 14:35] asfalcone commented on #6627
You can also run "fastlane action screengrab" to see a list of all of the options you can pass to screengrab 👍

[2016-10-19 14:37] Muthukathiravan commented on #6627
I have two fastfile one in myproect and another one in lib where I can add

[2016-10-19 14:39] TKBurner commented on #6551
@AnthonyMDev Is your PushPodFastfile nested that many layers below the directory that your initial Fastfile is? Or, are you giving the path from root?

[2016-10-19 14:40] asfalcone commented on #6627
Add it to whichever Fastfile you've configured _screengrab_ inside of.

Please try a few things and if you're not able to get it working, provide the configuration you're using and the output of running _fastlane_

[2016-10-19 14:40] TKBurner commented on #5421
@vbresults Have you tried the steps described here: https://github.com/fastlane/fastlane/blob/master/fastlane_core/lib/fastlane_core/ui/fastlane_runner.rb#L90-L116 Thanks!

[2016-10-19 14:41] #6458 closed

[2016-10-19 14:43] fwartner opened #6630 "pem don´t work"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Configuration Files

Please copy the complete content of your `Fastfile` and any other conf

[2016-10-19 14:45] Muthukathiravan commented on #6627
I am using the fastlane screengrab github example

[2016-10-19 14:48] false commented on #1825
I had this issue for a month ; It was indeed fixed by using the "use legacy build" arg, but unfortunately the built IPAs were marked as unsigned for the AppStore (-> hence I could not upload them to iTunes Connect).

The real issue was my distribution certificates marked as "always trust" in my keychain. When I set my certificates back to system default, the "No 'teamID' specified ..." issue was g

[2016-10-19 14:48] Muthukathiravan commented on #6627
For that example project i need to change .can you tell me which fastfile in that

[2016-10-19 14:50] #6630 closed

[2016-10-19 14:51] hjanuschka commented on #6341
can you give
http://stackoverflow.com/a/38930579 a try
--
Helmut Januschka
Sent with Airmail

Am 19. Oktober 2016 um 07:33:47, Younes Riad (notifications@github.com(mailto:notifications@github.com)) schrieb:

[2016-10-19 14:51] asfalcone commented on #6627
Add it to the Screengrabfile https://github.com/fastlane/fastlane/blob/master/screengrab/example/fastlane/Screengrabfile
[code]

[2016-10-19 15:02] tdorsey commented on #5341
@fotiDim Similar issues here related to cordova, similar lack of ruby experience. Would be willing to pitch in if you need hands.

[2016-10-19 15:06] yn5 commented on #6341
@hjanuschka Thanks for chiming in! This is all I see when I search the target's Build Settings for embed (I'm on Xcode 8.0):

<img width="1400" alt="screen shot 2016-10-19 at 17 02 17" src="https://cloud.githubusercontent.com/assets/1705585/19524419/f02a383e-961d-11e6-822d-28a5ccb7103c.png">

[2016-10-19 15:19] Muthukathiravan commented on #6627
i gave output_directory "assets" like this not working

[2016-10-19 15:39] Muthukathiravan commented on #6627
screengrab --output_directory "your/directory/here" this one worked.. Thanks
But i can store only in app or outside directory?

[2016-10-19 15:42] Muthukathiravan commented on #6627
How to create directory programatically? How images/phoneScreenshots these path  to reduce?

[2016-10-19 15:53] xaphod commented on #6618
Getting desperate here: completely uninstalled xcode including erasing user Developer folder and all Application support subfolders, reinstalled xcode -- no change. Even if I just run the xcodebuild command that snapshot is running (manually from the command-line), it also hangs. I realize this means it is not a snapshot bug, it's something with xcode... but how can I debug?

[2016-10-19 15:57] AnthonyMDev commented on #6551
It's there. Not giving path to root. If I change the path I get a different error that it can't find the imported fast file so I'm pretty certain that's right.

[2016-10-19 16:05] koxon commented on #6621
Thanks Helmut,

It's still compiling all my Pods though, each time.

derived_data_path: /var/tmp/derived_data
clean: false

So not much improvement. What is derived data supposed to do ?

thanks

On Wed, Oct 19, 2016 at 8:11 AM, Helmut Januschka <notifications@github.com>
wrote:

--
Nicolas Menciere
Co-founder and CTO
https://www.bfansports.com <http://bfansports.com>

[2016-10-19 16:27] TKBurner commented on #6552
@rstupek We'll leave this open as a feature request.

[2016-10-19 16:28] TKBurner commented on #6523
@olarivain Thanks for the update. 👍

[2016-10-19 16:30] TKBurner commented on #6619
@kiliankoe Thanks for following up. Sorry for the confusion, xcargs actually points to xcodebuild so that's why that didn't work. I'm not certain there is a good way to do this.

[2016-10-19 16:39] TKBurner commented on #6624
@williamsjj Thanks for reaching out. Can you please run `fastlane run update_fastlane` and then add the --verbose flag your run of deliver? Thanks!

[2016-10-19 16:40] TKBurner commented on #6180
@zake1989 Thanks for letting me know. I'll leave this open for the time being. Hope you have a great day!

[2016-10-19 16:43] TKBurner commented on #6621
@koxon There isn't much further you can go within fastlane. However you can always try and pass --xcargs to see if you can improve processing time for your specific app. Thanks!

[2016-10-19 16:43] TKBurner commented on #6124
@JustinJiaDev Thanks that'll help when we have a chance to action this!

[2016-10-19 16:46] igorstimoli commented on #6455
For the moment I applied this inelegant change to the SubmitForReview class in deliver/submit_for_review.rb

[code]
it's based on @zineer script concept, but applied directly to deliver source code

@ohwutup waiting for a better solution from your side I want to let you know that trying this with four apps the average waiting time has been 5 minutes before deliver was able to select the build and

[2016-10-19 16:52] TKBurner commented on #6625
Hi, @whlsxl Try something like `ENV_NAME="123" fastlane beta`

[2016-10-19 16:52] Antoine4011 commented on #6583
<img width="779" alt="fastlane" src="https://cloud.githubusercontent.com/assets/1278363/19528612/03658818-962d-11e6-89a2-c192d35058a0.png">

I noticed than Provisioning Profile (Deprecated) were on none for AdHoc and Release configuration, so I put the right match provisioning profile but same result...

[2016-10-19 16:55] petitmat commented on #6607
`/Users/matthieu/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/google-api-client-0.9.15/lib/google/apis/core/http_command.rb:211:in `check_status': [!] unsupportedListingLanguage: Listing language pl is not supported. (Google::Apis::ClientError)
`

Yes I ran it, with supply command, and in my metadata folder I have two languages en-US and pl

[2016-10-19 16:59] TKBurner commented on #6618
@xaphod Does this persist on all projects or just one specific project? I read another report the other day related to an nsunmutable in the test files.

[2016-10-19 17:01] TKBurner commented on #6604
@liamogierussell1 Thanks for following up. Can you provide the full output of your run when it fails?

[2016-10-19 17:09] kiliankoe commented on #6619
You probably meant to mention @kirillzh instead of me, I got a bit confused there for a moment :D

[2016-10-19 17:15] xaphod commented on #6618
@TKBurner this rabbit hole is endless. I just realized that even after completely reinstalling xcode (including defaults delete, plist delete, compelte purge), in this project I cannot run any UItests in xcode. The second I click the little arrow next to the test, xcode hangs. In another project it's fine...

[2016-10-19 17:19] kdawgwilk opened #6632 "register_devices action is broken due to Spaceship::Client::UnexpectedResponse"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I have a cmd that scans for devices plugged into the computer and then gets their UDID and adds it to the Apple Dev Portal using the `register_devices` action but it seems to be broken right n

[2016-10-19 17:19] #6477 closed

[2016-10-19 17:20] TKBurner commented on #6591
Hi @ChristopherDrum are you able to not use system ruby on Travis? It seems like this is related to your ruby setup.

[2016-10-19 17:25] TKBurner commented on #6629
@rafaelnobrepd It's not possible to do this at this time. I'm going to mark this as a feature request so we can look into it more. Thanks!

[2016-10-19 17:30] xaphod commented on #6618
@TKBurner small progress: If I delete the dependency between my main target and my apple watch target, then the hang disappears.

[2016-10-19 17:35] TKBurner commented on #6628
@tadelv Thanks for sharing. This was previously not possible, but it is now. Glad to hear you implemented it. Where is the PR?

[2016-10-19 17:39] hjanuschka commented on #6583
try to delete the deprecated provisioning settings - mark it and hit backspace :)
not 100% sure if it fixes your problem - but always start by fixing the little ones first.

--
Helmut Januschka
Sent with Airmail

Am 19. Oktober 2016 um 09:52:41, Antoine Gamond (notifications@github.com(mailto:notifications@github.com)) schrieb:

[2016-10-19 17:40] TKBurner commented on #6603
@vkislicins Thanks for following up. Can you go on the developer portal and delete at least one of your distribution certificates? Thanks!

[2016-10-19 17:42] TKBurner commented on #6618
@xaphod Nice! Is your test target also having that dependency, that might be the problem. I believe it **should**

[2016-10-19 17:42] TKBurner commented on #6619
Sorry about that 👍

[2016-10-19 17:43] TKBurner commented on #6341
Hi @yn5 can you make sure you have the most recent version of xcode command line tools installed?

[2016-10-19 17:48] cmartinhas commented on #6456
I was able to figure out what the issue was. The situation @zhonghuiwen described (thank you!!) got me to dig deeper into the XCode GUI and even though I had ignorable png call outs in there that I was able to archive with, it turns out that was the problem for the command line build.

The route cause for me was Unity was compiling Android plugin png assets into the XCode project by default and th

[2016-10-19 17:48] #6456 closed

[2016-10-19 18:03] TKBurner commented on #6456
@cmartinhas Awesome! So glad you got up and running. Hope you have a great week!

[2016-10-19 18:06] TKBurner commented on #6551
@AnthonyMDev Thanks for following up. If you run lane on the file directly does it have the proper output? I want to isolate where this issue is.

[2016-10-19 18:06] TKBurner commented on #6627
@Muthukathiravan You could do something like `sh mkdir nameofdir`

[2016-10-19 18:17] TKBurner commented on #6632
@kdawgwilk Thanks for reaching out. Does this affect a new blank project or just your existing project? This will help us look into it. Thanks!

[2016-10-19 18:23] TKBurner commented on #6607
@petitmat I reached out to the core team about this. Hope you have a great day!

[2016-10-19 18:24] thecb4 commented on #6567
@TKBurner it appears there's an issue with Transporter on the build machine.  Identified that last night. I'll be looking into it more this evening.

[2016-10-19 18:27] koxon commented on #6621
Ok thanks guys!

On Wed, Oct 19, 2016 at 12:43 PM, Todd Burner <notifications@github.com>
wrote:

--
Nicolas Menciere
Co-founder and CTO
https://www.bfansports.com <http://bfansports.com>

[2016-10-19 18:32] TKBurner commented on #6567
@thecb4 Thanks! Let me know how it goes 👍

[2016-10-19 18:36] xaphod commented on #6618
@TKBurner Yes, dependencies are the obvious - test->main->watch.
Now to figure out why my watch target hangs for all UITests.

[2016-10-19 18:48] lemonkey commented on #5379
I'm also seeing what @pahnev is seeing (https://github.com/fastlane/fastlane/issues/5379#issuecomment-252570741), except for normal provisioning profiles (not apns related).

Instead of regenerating invalid profiles, new duplicate profiles with a randomish number is appended to the profile name when force=true. Sometimes I'm seeing dupes being created even if the original profiles aren't invalid a

[2016-10-19 18:52] TKBurner commented on #6541
@lucabartoletti Is this reproducible on a blank project? Can provide exact steps? I want to send this out to the core team 👍

[2016-10-19 19:12] yn5 commented on #6341
@TKBurner
[code]
And the App Store does not have any updates available.

@hjanuschka @TKBurner @KrauseFx Just noticed I never mentioned the app we're discussing is a [react-native](https://facebook.github.io/react-native/) app. In case that could help figuring out what is going on here.

[2016-10-19 19:19] codeOfRobin opened #6633 "Carthage update instead of bootstrap"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

So, I want Fastlane to run `carthage update` instead of `carthage bootstrap`, but I can't seem to get it to work. It seems to run `carthage bootstrap` (after running `pod install` irrespective

[2016-10-19 19:24] codeOfRobin commented on #6633
Never mind. Fastfile was in the wrong directory 😓

[2016-10-19 19:24] #6633 closed

[2016-10-19 19:30] xaphod commented on #6618
@TKBurner OK I figured it out: my watch extension has a dependency on Watch, and that for some reason destroys UITests. I removed that, and now it gets a tiny bit further.

Next error is exactly https://github.com/fastlane/fastlane/issues/5964 ...
seems like fastlane really doesn't wanna work for me yesterday or today.

[2016-10-19 19:30] #6618 closed

[2016-10-19 19:44] xaphod commented on #5964
I am having this issue on XCode 8. I don't use Travis at all.

[2016-10-19 20:20] TKBurner commented on #6618
@xaphod Thanks for following up. 👍

[2016-10-19 20:31] kdawgwilk commented on #6632
Well I just tried with the Spaceship interactive shell and the `create!(name: "Device Name", udid: "XXXX")` succeeded just fine...so I am not sure where the problem is now...

[2016-10-19 20:32] KrauseFx commented on #6560
Thanks again 👍

[2016-10-19 20:36] #1730 closed

[2016-10-19 20:41] KrauseFx commented on #6632
Maybe it was a temporary server error?

[2016-10-19 21:20] reallyseth commented on #4946
@sajjon Frankly I gave up on the issue. From what I understand, with the new macOS Sierra Server, Xcode server can now run under a proper user account. It's not restricted to the _xcsbuildd account. So hypothetically, using match on Xcode server should be able to function just like it would on a non-server setup, as you'll be able to get access to the keychain and the shell profile script (things

[2016-10-19 21:21] reallyseth commented on #4946
Excuse me, gave up isn't quite right, I found a workaround originally and decided to wait till macOS Sierra Server. Since it's been out though, I haven't had time to test it out. Hoping it will work a lot easier though.

[2016-10-19 21:22] kdawgwilk commented on #6632
@KrauseFx indeed it was!  Everything is all good now 👍

[2016-10-19 21:22] #6632 closed

[2016-10-19 21:26] #5227 closed

[2016-10-19 22:02] KrauseFx commented on #6625
Are you talking about .env? If so, you should use fastlane and call pilot from there?

[2016-10-19 22:13] fbomb111 opened #6636 "Unable to get all apps from iTunes"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

In a rails app I am running:

[code]

It returns the blank error every time.  I have no other feedback to offer. :/

However, if I change this around slightly, for example getting teams, this

[2016-10-19 22:15] #5644 closed

[2016-10-19 22:26] #1635 closed

[2016-10-19 22:27] sunboshan commented on #6455
ITC returns 500 when uploading an icon and save.

The JSON for icon looks like this:

    "largeAppIcon": {
            "value": {
                "assetToken": "Purple71/v4/cd/f9/f6/cdf9f60d-8c39-4c29-e5b4-c49a664714ad/pr_source.png",
                "sortOrder": null,
                "type": null,
                "size": 80012,
                "width": 1024,
                "height": 1024,

[2016-10-20 00:07] enozero commented on #6592
Sounds great!

[2016-10-20 00:26] nmonasterio commented on #6455
@sunboshan Interesting. I did compare the payloads last week and didn't see anything different per se. I hadn't thought about newly required fields. Have you tested passing the extra parameters? If so, what did you base your `checksum` hash on? (The other three should be easy additions.)

It should be an easy PR, unless @KrauseFx wants to handle it directly.

Good find!

[2016-10-20 00:56] thecb4 commented on #6567
@TKBurner It appears that similarly to #6237 testflight fails as part of a lane, but when I run it alone it completes.  I have also noticed that my account gets locked on the itunes connect web page after a few attempts also, but transporter still works as a standalone run even though my account is locked.

[2016-10-20 01:19] cdunkel commented on #6455
I did speak to a member of Apple developer support, especially since I was getting 500 errors in the iTC web UI whenever I would try to view my apps immediately after a Fastlane failure.  He did confirm that they have been speaking with other developers who were seeing a similar issue, so they were reasonably confident that it was a systemic issue on their end.  It does seem to be intermittent, th

[2016-10-20 01:23] hjanuschka commented on #6341
i have `2345.1`  - so maybe you should remove xcode and reinstall it - from appstore.
or use  xcode-install -> https://github.com/KrauseFx/xcode-install

[2016-10-20 01:24] zake1989 commented on #6180
@TKBurner I think I got the issue you mentioned before. And I got a temporary solution. The problem is when I using match to create an App Store provisioning profile with enterprise account. The file in App Store folder is start with InHouse. So other team member can never fetch it with match. I just replace the InHouse with  AppStore. Actually the the enterprise account should have a in-house typ

[2016-10-20 01:57] williamsjj commented on #6624
Here ya go:

[code]

[2016-10-20 02:01] williamsjj commented on #6624
Nevermind. My fault...since snapshot isn't working (NSMutableAttributedString bug in UI Testing), I took these screenshots manually in the simulator and the scale was 50%.

[2016-10-20 02:01] #6624 closed

[2016-10-20 03:18] MaximusMcCann commented on #6620
Took me a while, but finally realized I needed to manually have fastlane source from the git repo. [Note 1]

However, I'm now receiving `Plugin 'S3' overwrites already loaded action 's3'`.  Full error:
[code]

Appreciate all the help!!

1.
[code]

[2016-10-20 03:32] xserver commented on #5190
@TKBurner
macOS 10.12 & Ruby 2.3 Error.
macOS 10.12 & Ruby 2.0 Success.

@KrauseFx
line 2 are `require 'mail'`
Ruby 2.3 cannot load such file -- mail (LoadError)

so, the error from require mail (Ruby 2.3).

[2016-10-20 04:34] sunboshan commented on #6455
@nmonasterio the `checksum` should be based on the binary of the image file(not 100% sure though). Yet you don't need to get those information by yourself. After upload the image by sending POST request to https://du-itc.itunes.apple.com/upload/image, you will get response like this:

[code]

@KrauseFx already has the fix for screenshot files in #6423, need to do similar fix for icon files. This h

[2016-10-20 04:46] Muthukathiravan commented on #6627
@TKBurner its creating automatically when I gave new directory..Thanks for suggestions .

[2016-10-20 06:53] madhu-b opened #6638 "Assertion: Trigger script exited with code: 127"
### Issue Description

When i run fast lane beta from from After integration trigger i get following error.
##### Complete output when running fastlane, including the stack trace and command used

Bot Issue for Mumo Bot (trigger error)
Integration #23 of Mumo Bot
Open in Xcode: xcbot://Liftoff’s MacBook Pro/botID/1328fcde84c1b9a245f92f401601bef4/integrationID/45e1a5f4b5963b9223c391bb6100e77d

Asse

[2016-10-20 07:07] hjanuschka commented on #6638
have you installed fastlane, looks like the xcbot couln't find the fastlane binary 😢
see here: https://github.com/fastlane/fastlane#installation

[2016-10-20 07:13] madhu-b commented on #6638
Yes.
I really appreciate your help. Thanks for the reply

*Logs from My user*
which fastlane

/usr/local/bin/fastlane

Liftoffs-MacBook-Pro:Mumo liftoff$ fastlane -v

fastlane 1.105.3

*Logs from xcsbuidd*

sudo su - _xcsbuildd

Password:

Liftoffs-MacBook-Pro:~ _xcsbuildd$ which fastlane

/usr/local/bin/fastlane

Liftoffs-MacBook-Pro:~ _xcsbuildd$ fastlane -v

/System/Library/Frameworks/Ruby.fram

[2016-10-20 07:23] hjanuschka commented on #6638
you first of all have to upgrade your ruby as this looks like the built-in apple one, wich is heavily outdated and has ssl issues.

[code]

after that - try again to install fastlane:
(should work with any user)
[code]

the best would be if you go with a bundler based solution, but its not required, see documentation on how to go with bundler: https://docs.fastlane.tools/getting-started/ios/setup/

[2016-10-20 08:24] madhu-b commented on #6638
I did install bundle and my script looks like this

bundle install

bundle update

cd Mumo

bundle exec fastlane beta

1.

Bot Issue for Mumo Bot (error in Mumo-Bridging-Header.h:21)

Integration #29 of Mumo Bot

Open in Xcode: xcbot://Liftoff’s MacBook
Pro/botID/1328fcde84c1b9a245f92f401601bef4/integrationID/45e1a5f4b5963b9223c391bb61039bb0

Assertion: 'Branch/Branch.h' file not found

File: Mumo

[2016-10-20 08:59] madhu-b commented on #6638
*bundle: command not found :(*

Bot Issue for Mumo Bot (trigger error)
Integration #31 of Mumo Bot
Open in Xcode: xcbot://Liftoff’s MacBook
Pro/botID/1328fcde84c1b9a245f92f401601bef4/integrationID/45e1a5f4b5963b9223c391bb610462e5

Assertion: Trigger script exited with code: 127
/var/folders/sn/_y1l8_217370xt3g12sh637r000087/T/4D8923E8-FCA3-4E94-B939-15E6504D1BDF-22714-00000D71820A4F67:
line 2: bun

[2016-10-20 09:19] ChristopherDrum commented on #6591
I'll give it a shot. Honestly, the ruby version was set that way for reasons that have been lost to time and turnover. LOL
However, this has never been a problem before, and is not exhibiting similar issues with the Fabric Beta distributions... although Beta distributions have other build issues that are unresolved at this time. Hmm... could this Ruby environment have been the root cause this whol

[2016-10-20 09:51] Daredevilll commented on #5125
+1    having the same issue.
Upload of a new version to an old app.

"[!] Error receiving the newly uploaded binary, please check iTunes Connect"

[2016-10-20 09:56] GeovationMax commented on #6455
Thank you for the insight, @sunboshan . I can confirm that by leaving out the app_icon option from deliver the submission succeeds without any errors. Would be great if this could get fixed.

[2016-10-20 10:56] yn5 commented on #6341
@hjanuschka I've tried reinstalling Xcode trough the app store as well as with the latest version (2.0.7) of xcode-install. But `xcode-select -v` keeps returning 2343. Are you sure you are on OSX 10.11(.6) too?

[2016-10-20 10:57] speedy-afr opened #6639 "Hockey Upload failing with proxy"
### New Issue Checklist
- [ x ] Updated fastlane to the latest version
- [ x ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

We are operating behind a proxy and have created the env variable SPACESHIP_DEBUG=1 in .evn. This works fine for cert and sigh, but the action hockey fails with Broken pipe - SSL_connect. We

[2016-10-20 11:15] joshdholtz commented on #6620
@MaximusMcCann Looks like I never got around to pushing that to gem out 😇  Thanks for the reminder! I will get that done.

[2016-10-20 11:43] fotiDim opened #6640 "Please enter the app's bundle identifier under Xcode Bot"
### New Issue Checklist
- [Y] Updated fastlane to the latest version
- [Y] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

When running multiple lanes through Xcode Server Bots the Testflight action fails because of "Please enter the app's bundle identifier:". If I execute the same command from command line everythi

[2016-10-20 11:47] tadelv commented on #6628
@TKBurner hey, here's the link to the associated pr: #6631 :)

[2016-10-20 12:22] igorstimoli commented on #6281
@TKBurner Sorry for the big delay answering to this.
The app did appear after a while with not metadata in it
Btw I didn't get this error anymore

[2016-10-20 12:49] Muthukathiravan commented on #6627
@asfalcone Make sure you've used Screengrab.screenshot() in your tests and that your expected tests are being run. these error will return while run the test cases

[2016-10-20 12:53] Muthukathiravan commented on #6627
@asfalcone I have to add fastfile ,appfile,screengrab file for my project.I just copied the screengrab file,fast file and appfile from example to my project..But thats not working how to configure the file into my project..

[2016-10-20 12:53] Muthukathiravan commented on #6627
@asfalcone I have to add fastfile ,appfile,screengrab file for my project.I just copied the screengrab file,fast file and appfile from example to my project..But thats not working how to configure the file into my project..

[2016-10-20 13:24] Muthukathiravan opened #6641 "Make sure you've used Screengrab.screenshot() in your tests and that your expected tests are being run."
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description
##### Complete output when running fastlane, including the stack trace and command used

[code]
### Configuration Files

Please copy the complete content of your `Fastfile` and any other configur

[2016-10-20 13:29] MaximusMcCann commented on #6620
Many thanks!!

[2016-10-20 13:43] asfalcone commented on #6607
Have you tried `pl-PL` as the language code?

from google play console:
![image](https://cloud.githubusercontent.com/assets/1848683/19562249/99c03e76-96a9-11e6-8950-101de95abef8.png)

I don't believe that _supply_ uses `languages.rb`.

[2016-10-20 13:44] damienmollard opened #6642 "Unable to add both adhoc:false and development:true"
Hello,

My old build doesn't work for these commit : https://github.com/fastlane/fastlane/commit/7fcd9ec4405174ae4fd8a96bf33631d21717ac0e

I call the method sigh with both adhoc and development with ternary condition :
    sigh(
          app_identifier: my.identifier.com,
          adhoc: ENV["PROV_TYPE"]=="Adhoc" ? "true" : "false",
          development: ENV["PROV_TYPE"]=="Dev" ? "true" : "fals

[2016-10-20 13:47] TKBurner commented on #6627
@Muthukathiravan Can you provide your full input and output? Are you running into a specific error? It'll help a lot if we can reproduce this on our end. Thanks so much for working with us 👍

[2016-10-20 14:35] xaphod opened #6643 "Frameit: Add option to Framefile.json to skip adding frame ie. ONLY add text"
### New Issue Checklist
- [X ] Updated fastlane to the latest version
- [X ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

I'd like to be able to define in my `Framefile.json` (in the "data" section) that certain screens ONLY have the text added to the top -- the frames don't get added. This is because it is popul

[2016-10-20 14:40] ericertl opened #6644 "Use sigh variables in plugin"
### New Issue Checklist
- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

Hi. I'm trying to create a new plugin to delete invalid or expired provisioning profiles, reusing the code for repair_all in sigh.
We used to name profiles as "App name App Store", but as some a

[2016-10-20 14:49] hjanuschka commented on #6341
i am on 10.12 actually, have you tried reinstalling the cli tools: `xcversion install-cli-tools`

[2016-10-20 14:50] yn5 commented on #6341
@hjanuschka Yes I've tried that too.

[2016-10-20 14:56] #5727 closed

[2016-10-20 14:57] TKBurner commented on #6628
@tadelv Thanks!

[2016-10-20 15:00] TKBurner commented on #6281
@igor-makarov Thanks! It sounds like it was related to processing time. Please do let me know if you run into this again!

[2016-10-20 15:05] igor-makarov commented on #6281
You meant @igorstimoli, @TKBurner...

[2016-10-20 15:16] #5705 closed

[2016-10-20 16:08] hernangonzalez commented on #1164
Hi, i am getting this error using `crashlytics(crashlytics_path: "./Pods/Crashlytics/"` :
[code]
If I use `crashlytics(crashlytics_path: "./Pods/Crashlytics/Crashlytics.framework"` it reports ok, though it does not upload anything.

This is my configuration there:
[code]

Any idea what's wrong here? Thank you.

[2016-10-20 16:31] dkk commented on #6376
Same here, doesn't work with iPhone 7 (using Snapshot 1.16.2)

[2016-10-20 16:40] hernangonzalez commented on #1164
I got it to work by including the ipa path as well:
[code]

[2016-10-20 16:54] TKBurner commented on #6636
Hi @fbomb111 Does the command work when you run it directly from interactive spaceship? Also, you should note only active apps will appear. Thanks!

[2016-10-20 16:56] TKBurner commented on #6567
@thecb4 Is this reproducible on a blank Xcode project? I just want to see if this is project specific or environment specific. We haven't had any other reports.

[2016-10-20 17:12] sameer-ahmed commented on #1164
i am using correct alias for group,  and i am also using

`crashlytics_path: "./Pods/Crashlytics/"`

still same issue, its says uploaded successfully but binary not actually uploaded to fabric

[2016-10-20 17:16] #4717 closed

[2016-10-20 17:18] TKBurner commented on #6180
@zake1989 Match doesn't have official support for Enterprise profiles, so this does seem to explain your issue. Thanks!

[2016-10-20 17:19] TKBurner commented on #5190
@xserver Can you install fastlane?` sudo gem install fastlane`?

[2016-10-20 17:20] fbomb111 commented on #6636
@TKBurner Your time and help is extremely appreciate here.

That was a great idea.  I ran irb in terminal and executed only two commands:
[code]

It worked perfectly.

Knowing these 3 things:
1) those 2 commands do work in irb (not an iTunes account problem)
2) those 2 commands do not work when using them in my rails app
2) 2 similar commands do work in my rails app in the exact same method (not a

[2016-10-20 17:21] TKBurner commented on #6638
@madhu-b Thanks for following up. This doesn't seem like a fastlane specific issue but a ruby issue. I'm not sure we are the best to help. Can you run `which ruby` and also run `ruby -v` and share the output?

[2016-10-20 17:22] TKBurner commented on #6591
@ChristopherDrum Thanks! Please do let me know how it goes 👍 Hope you have a great weekend coming up.

[2016-10-20 17:24] TKBurner commented on #5125
@Daredevilll Can you share your full output of the error after running `fastlane run update_fastlane` I want to take a look.

[2016-10-20 17:39] AnthonyMDev commented on #6551
Yes, running the original fast file's `push_pod` lane works just fine. The issue only occurred when I tried to import the fast file in another fast file. I want to use this fast file in multiple projects so I need to import it.

The error is saying `Could not find action or lane 'book'.` but I have no reference in either of my fast files to the word `book` anywhere, so I'm assuming this is an inte

[2016-10-20 17:43] TKBurner commented on #6455
Hi @GeovationMax Thanks for following up. I notified the core team that this issue is still present. 👍

[2016-10-20 17:45] #5677 closed

[2016-10-20 17:45] TKBurner commented on #6341
@yn5 Can you reproduce this on a blank project? I want to see what we can do to help. Thanks!

[2016-10-20 17:47] TKBurner commented on #6643
@xaphod Thanks for reaching out. Right now this isn't possible as you've noted. I've made this a feature request. Are you interested in working on this as a PR? Thanks!

[2016-10-20 17:55] #5700 closed

[2016-10-20 18:05] xaphod commented on #6643
@TKBurner at the moment i'm slammed, but in a month or two I might be able to, who knows.

[2016-10-20 18:13] mpirri commented on #5125
@damirstuhec @Daredevilll I've noticed an error in my suggestion from way back on July 6 to fix this problem. 😳

If you set `PILOT_WAIT_FOR_NEW_BUILD_TRAINS_ON_ITUNES_CONNECT=1` before executing _fastlane_, does that help?  (I had mistakenly given the wrong environment variable name before)

So, do this:
```PILOT_WAIT_FOR_NEW_BUILD_TRAINS_ON_ITUNES_CONNECT=1 fastlane beta```

Thanks, and apologies

[2016-10-20 18:39] mpirri commented on #5125
For what it is worth, you will know it is working when you see this message appear in the `pilot` logs:
```New application; waiting for build train to appear on iTunes Connect```

[2016-10-20 18:56] #5616 closed

[2016-10-20 19:06] #5614 closed

[2016-10-20 19:15] #5538 closed

[2016-10-20 19:25] #5114 closed

[2016-10-20 20:01] StevePotter opened #6646 "Android on danger device_grid"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I am building an app via react native and have fastlane directories for each of those projects.  I'm also using the danger device_grid plugin to render iOS.  I'd like to also include android i

[2016-10-20 20:15] simformsolutions opened #6647 "Bitbucket Pipeline support"
Do fastlane support bitbucket pipeline integration ? If not are you planning to support that in near future ?

[2016-10-20 20:26] Muthukathiravan commented on #6627
Just in the emulator..its shows these error..but in data folder of phone screenshots stored..

[2016-10-20 20:28] wangxf1030 commented on #169
@KrauseFx
Sorry one more question regarding Fastlane android, is there any Fastlane command/action to query the status of an app? For example, Draft, Published, Pending.

[2016-10-20 21:26] odrobnik opened #6648 "iTC now using "no" for Norwegian"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

We added Norwegian as app store description on iTunes Connect and downloaded the metadata. A folder `no` was created.

However, in Xcode `nn` is used for Norwegian. `no` is an unsupported langua

[2016-10-20 21:28] kylejm commented on #6591
I'd be really surprised if it's the ruby env as this problem is still happening for me both on CI and on my local machine. On my machine I'm using rbenv with ruby 2.3.1.

I've tried using the versions that @ChristopherDrum recommends (fastlane 1.105.2, gym 1.11.0, fastlane_core 0.52.1) but it hasn't worked.

Here's my verbose output after the archive succeeding:

[code]

I've checked the logs at `

[2016-10-20 21:40] summera commented on #6455
I've also been seeing the same errors: 500s and "We can't process your request." pages for some of the apps we update/create.

I've been submitting for review manually to see if that helps. However, today I'm starting to see newly created apps take exceptionally long to appear on ITC. I've had the counter in `Produce::ItunesConnect#create_new_app` run out and throw `Couldn't find newly created app

[2016-10-20 22:07] KrauseFx commented on #6646
Sorry, device grid is currently only available for iOS apps

[2016-10-20 22:07] #6646 closed

[2016-10-20 22:11] rocco commented on #6317
@TKBurner how about an automatically generated .xcodeproj e.g. by Cordova then - this cannot be built on a CI/build server (without opening XCode in general)?

[2016-10-20 22:33] jwilliams-handy commented on #6463
@TKBurner failed again with the same output

[2016-10-20 22:42] KrauseFx commented on #169
@wangxf1030 Sorry, currently no
@kdawgwilk I honestly don't know, I'm usually running around more on the iOS side.

[2016-10-21 00:24] KrauseFx commented on #6455
Hey everyone, thanks for all the reports, and sorry it took so long. Thanks to @sunboshan, it was easy to reproduce the issue and provide a fix. I've just pushed https://github.com/fastlane/fastlane/pull/6652, which we'll merge and release as soon as possible :rocket:

We'll update this GitHub issue once the new version is live ✨

[2016-10-21 01:02] wiedem opened #6653 "Gym doesn't escape output parameters properly for xcpretty calls"
### Issue Description

Gym does not escape paths inside the `pipe` function [build_command_generator.rb#86](https://github.com/fastlane/fastlane/blob/master/gym/lib/gym/generators/build_command_generator.rb#L86) which causes a malformed call of `xcpretty` if the paths to the output files (`xcpretty_report_json`, `xcpretty_report_junit`, `xcpretty_report_html`) contain any whitespace:

[code]

As y

[2016-10-21 01:37] sibljon opened #6654 "Access to the common name of `match`'s managed certificate"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

_Omitted because I assume it not to be relevant, since I am asking a question rather than troubleshooti

[2016-10-21 01:43] JustinJiaDev commented on #1542
Actually I really like this idea. I would like to see `deliver` supports yml.

[2016-10-21 04:16] hjanuschka commented on #6654
you could set the signing identity using `xcargs` - > `CODE_SIGN_IDENTITY='iPhone Developer: Josh'

[2016-10-21 04:19] hjanuschka commented on #6653
nice catch - i did a PR with your proposed solution https://github.com/fastlane/fastlane/pull/6655

[2016-10-21 04:52] colinyip commented on #4675
same happened to me, i know it could be fixed with gradle clean, or setting apk_paths to ["RELEASE_APK_PATH"] instead of apk. But the sounds like more of a problem about the "apk_paths" setting. Shouldn't the default value be empty when apk is specified already? 😃

[2016-10-21 07:46] remcohaszing opened #6656 "deliver download_all doesn't append newlines to text files."
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines]

### Issue Description

`deliver download_all` doesn't append newlines to text files.

Some philosophies say that a line in a text file end with a newline. This makes the files created by Deliver technically not text files.

Many editors add a newline when saving a file, making cha

[2016-10-21 08:05] falcon283 commented on #6419
It started failing to me as well.
I started receiving the same error 3 days ago. It's curious that yesterday I had a build with no error but the next one started receiving it again.
In any cases TestFlight build is available and installable on devices.

Any news about how to solve it?

[2016-10-21 08:11] Sajjon opened #6657 "Checking at archiving time if archive was initiated by gym or manually - in xcconfig file"
### New Issue Checklist
- [x ] Updated fastlane to the latest version
- [ x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

In an xcconfig file (I am still not sure which is the correct syntax for conditional variables, [I just asked on StackOverflow](http://stackoverflow.com/q/40171376/1311272) I want to determine

[2016-10-21 08:59] madhu-b commented on #4864
running same issues? any solution?

[2016-10-21 09:10] vkislicins commented on #6603
@TKBurner I've tried that already with no luck.. Maybe I took a wrong step somewhere. Can you please suggests the steps to take just to be 100% sure.

[2016-10-21 09:43] whiskey commented on #6564
+1 at least for getting the build number

[2016-10-21 10:21] kylejm commented on #6591
Just to give an update, I've found that our occurrence of this issue is happening within xcodebuild every single time. Whether through gym, Xcode 8, or xcodebuild directly.

There's a thread about it [here on the  dev forum](https://forums.developer.apple.com/thread/54445]. I still haven't found what's causing it for me, but there seems to be several solutions on there to try.

This issue is stop

[2016-10-21 10:22] vbresults opened #6658 "Feature Request: Push Certificates in Match"
It would be a great help if we could store, retrieve and use all of the associated parts of push certificates just like other certificates managed by match, simple has the same benefits.

[2016-10-21 10:57] kylejm commented on #6591
FOUND THE PROBLEM!! It was mentioned in [that  thread](https://forums.developer.apple.com/thread/54445).

PR to a dependancy of ours linked to above fixes this issue for us.

Fixed by following zirinisp's comment:

[code]

[2016-10-21 12:05] yn5 commented on #6341
@TKBurner @KrauseFx @hjanuschka @asfalcone I indeed concluded that it must be my code base. I'm currently rebuilding the project from scratch and releasing in between every addition in order to figure out what the problem is. And I have indeed managed to get a very rudimentary version in TestFlight.

Thanks all a million for your help! I think the issue can be closed, unless you'd like me to updat

[2016-10-21 12:29] wiedem commented on #6653
Thanks for the PR, didn't find the time yet to create one on my own.

However, I think [L80](https://github.com/fastlane/fastlane/blob/master/gym/lib/gym/generators/build_command_generator.rb#L80) and [L83](https://github.com/fastlane/fastlane/blob/master/gym/lib/gym/generators/build_command_generator.rb#L83) need to be changed as well.

[2016-10-21 13:08] hernangonzalez commented on #1164
Yes, actually it is randomly working for me now (like 50% of times). I am thinking this might be actually the submit tool on Crashlytics framework, and not a fastlane issue really.

[2016-10-21 13:15] hjanuschka commented on #6653
@wiedem  thx for the hint - fixed it

[2016-10-21 13:20] dusek commented on #6419
I will try, though I cannot say how soon that I will manage to do that.

[2016-10-21 13:21] skywinder commented on #6608
Clean do the trick. Thanks!

[2016-10-21 13:21] #6608 closed

[2016-10-21 13:37] mfurtak commented on #5913
After researching some ideas from the community, we found a built-in language construct that can help!

[code]

produces:

[code]

As you can see, the `next` keyword skips the rest of the lane, but allows _fastlane_ to complete normally, so the `after_all` block is still run.

Hope that helps 🚀

[2016-10-21 13:53] fabiobh opened #6660 "Can`t install `deliver` tool on Ubuntu Linux (running inside Virtual Box using Windows as a Host)"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Configuration Files

I didn`t use any fastfile, just want to install the deliver tool

Fast

[2016-10-21 13:57] asfalcone commented on #6341
Thanks for the update @yn5 👍

[2016-10-21 13:57] #6341 closed

[2016-10-21 13:58] fabiobh commented on #6660
I discover the problem.

The ruby versions that I install was not the ruby-dev version. I just run the command
sudo apt-get install ruby-dev

After that, it works.

[2016-10-21 13:58] #6660 closed

[2016-10-21 14:01] bjornoss commented on #6648
Just a quick comment.
We use two language codes in Norway, `nb` (NO-nb, Bokmål) and `nn` (NO-nn, Nynorsk).
`nb` is the preferred written standard.
We use only nb i our projects.

[2016-10-21 14:38] falcon283 commented on #6419
Ok Guys I should have found the solution. At least right now I just had a clean successful build.
Thank to this thread
https://forums.developer.apple.com/thread/64988
and what "matthart" written i figured out the solution.

Basically the issue is that your Project Capabilities switch state does't reflect the Provisioning Portal AppID Services.

[2016-10-21 15:01] hjanuschka commented on #6653
@wiedem  PR just got merged 👏

[2016-10-21 16:00] StevePotter commented on #6646
Thanks @KrauseFx.  I have another question then.  What's the ruby command for me to run a lane from a fastfile I specify?  I tried:
result = Fastlane::FastFile.initialize("ios/fastlane/Fastfile").runner.execute(:myaction) but got an error.  Is there something else I need to do?

[2016-10-21 16:09] Onejjy opened #6661 "Better Developper/ITC Teams display"
Here is my situation, as many freelancers, I'm a member of a lot of Apple Developer teams (and many Itunes Connect). I often have fastlane outputs like this:

[code]

I don't know the ids of all my teams, so it's not easy to know directly which one is concerned.

I think it would be a lot more user-friendly to display the name of the team beside the `team_id`. It would give something like this:

[

[2016-10-21 19:38] KrauseFx commented on #6661
Ah, nice idea, so you're talking about the summary of each tool that is being shown when you launch it, right? The team selection itself is okay?

[2016-10-21 19:50] hjanuschka commented on #6656
@remcohaszing  there is no `download_all` on `deliver` - you mean the `download_metadata` ?

[2016-10-21 20:01] asfalcone commented on #6425
_deliver_ 1.14.3 has been released to fix this! 🚀

[2016-10-21 20:01] asfalcone commented on #6455
_deliver_ 1.14.3 has been released with the fix! 🚀

[2016-10-21 20:10] KrauseFx commented on #6656
Thanks @hjanuschka, this got merged and will be ready with the next release  🚀

[2016-10-21 20:13] hjanuschka commented on #6654
ok got it you want to retrieve the exact value you require for `CODE_SIGN_IDENTITY` from a .cert?
i am not 100% sure how to do this, but i ll try to have a look

@TKBurner maybe you have an idea?

[2016-10-21 21:34] KrauseFx commented on #5913
@mfurtak thanks for posting this here. Maybe that's something we should mention in `Advanced.md`?

[2016-10-21 22:04] bl4design opened #6668 "Snapshot Failing Tests"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

Running 'fastlane snapshot' results in failing tests because a Pod dependency. I've tried setting the "Use" for the UITests target to "Yes" but it will not solve the issue.

![image](https://clo

[2016-10-21 23:24] Onejjy commented on #6661
So, I'll do it. But I have a huge schedule on the next 8 days (I'm doing a tour in China). I'll submit my PR just after :)

About your question, are you talking of this menu ?
[code]

If yes, it seems perfect to me !

[2016-10-21 23:57] KrauseFx commented on #6661
Alright cool, enjoy your trip @Onejjy 👍 Let us know if you need any help with this

[2016-10-22 00:22] bl4design commented on #6668
After removing the dependencies from my Podfile that were causing some of the Swift 3 errors Snapshot is now just hanging.

I've deleted tagappTests.xctest so Im not sure why it's still being referenced?
[code]

[2016-10-22 00:23] KrauseFx commented on #6646
@StevePotter What's the error? You didn't share any details. Also, could you submit this in a new issue, as it's not related?

[2016-10-22 01:07] KrauseFx commented on #5729
Is this issue still relevant? 👍

[2016-10-22 01:07] MaximusMcCann commented on #6620
Unfortunately, still having troubles here.  Overwrite issues :/
There's a difference in outcomes between running `fastlane update_plugins` & `bundle exec fastlane update_plugins` [Note 1]
First one hard crashes while second completes (albeit with warnings).  When I then try to run my lane I receive the same errors/warnings respectively.  Using `bundle exec` gets further, but then defaults to using

[2016-10-22 02:01] KrauseFx commented on #6644
[code]
Basically those 2 lines are the problem: you're trying to access `Sigh.config`, which doesn't exist. Try using `params[:username]` instead.

make sure to define this option in the `available_options` method in your action

[2016-10-22 02:24] xaphod opened #6671 "Perf improvement: frameit takes 10 mins but only uses 15% CPU"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Frameit is great.
But it takes a lllooooong time, and there's only 15% CPU usage going on. Could this be better parallelized?

[2016-10-22 06:05] #5630 closed

[2016-10-22 06:59] xserver commented on #5190
using `gem install mail` resolve it.

The Error From Ruby can not load 'mail'

[2016-10-22 08:04] ptmt commented on #6456
@TKBurner Thanks for a suggestion, it helped me too!

[2016-10-22 11:52] nickeyzzz opened #6673 "Is there a way to deliver .app file for MacOS to iTunes Connect?"
### New Issue Checklist
- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

For me gym makes .app file for MacOS by default, no PKG file.
This issue is explained here https://github.com/fastlane/fastlane/issues/1234

As far, as I understand (am I mistaken?) there are tw

[2016-10-22 13:03] fbomb111 commented on #6636
Updated to Spaceship 0.36.1.  No difference.

[2016-10-22 16:39] WANGjieJacques opened #6675 "Could not find a .xcodeproj in the current repository's working directory."
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

When my iOS project path is something like `xxxPods/myProjectName`,  `commit_version_bump` could not find a .xcodeproj in the current repository's working directory.
##### Complete output when r

[2016-10-22 17:51] remcohaszing commented on #6656
Yes, I meant `download_metadata`. Thanks for the quick fix!

[2016-10-22 20:26] #5753 closed

[2016-10-22 22:10] justinmakaila commented on #5125
@mpirri Set the environment flag like you recommended, and I'm currently stuck in a loop here:

[code]

[2016-10-23 02:45] scottrhoyt commented on #6553
For those of you attempting the `brew install ruby` method and when you `gem install fastlane` you get the error:

[code]

Try updating your rubygems system with `gem update --system`.

[2016-10-23 02:55] KrauseFx commented on #5913
Thanks @mfurtak for the writeup: https://github.com/fastlane/fastlane/pull/6674 🚀

[2016-10-23 03:56] yokoe commented on #6673
You can not upload .app file itself to iTunes and unfortunately gym still doesn't support exporting .pkg file.

At least in Xcode 8, we can create .pkg file from xcarchive in the same way exporting ipa file from iOS project using xcodebuild with "--exportArchive" option.
So I think very small change may add support for exporting pkg file.
In fast, I could confirm .pkg file exported by just adding

[2016-10-23 04:49] hjanuschka commented on #6654
@sibljon  ok took me a while - since i am on a business trip in a different timezone.
anyway - i guess your best way should be - relying on `match`  setting the right env vars.

so with match you get an output like this.

[code]

in that case - you could use following on `gym`

[code]

or you set it directly in the xcode proj. - by setting the "Other" and entering `$(sigh_krone.at-fivexfive_appsto

[2016-10-23 05:23] scottrhoyt opened #6683 "Sigh downloads latest profile. Gym doesn't use it. (Xcode8)"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

Hi there. Prior to Xcode 8, the instructions in the code signing guide gave predictable results when using `sigh` to select the correct provisioning profile. However, after following the project

[2016-10-23 07:46] whlsxl commented on #6625
@KrauseFx @TKBurner Thanks for reply
I have another question, I don't know how to use `pilot builds` in `Fastfile`.

[2016-10-23 10:44] ikovalisko commented on #5686
Seems like adding English localization for Testflight builds (on the web) removes the duplicated Norwegian. I think that was an issue in iTunesConnect creating these duplicates. I haven't investigated it deeper as it worked for me and I could proceed with ongoing work.

[2016-10-23 13:41] santoshshetty2612 commented on #6588
Probably the reason for the issue was that inside a particular ruby version, I updated fastlane and deliver using sudo command.
When updating gems inside a particular ruby version (which I installed through RVM), one should not use sudo.

[2016-10-23 13:55] santoshshetty2612 opened #6684 "match generates new profiles instead of repairing old ones"
Hi,

I have the profiles all well set up and working.
**match AdHoc com.myapp.alpha** is the name of the profile on the Apple developer profile generated by fastlane match.

For ease of use for my fellow developers, I have mentioned the name of the profile in XCode 8 project settings. (Also Xcode 8 don't have the automatic option for profiles.)

I use match with force_for_new_devices:true

Then I

[2016-10-23 15:13] hjanuschka commented on #6654
@sibljon  ok after a few hours of sleep:

not 100% sure if this will work out for you - but you could use spaceship - to query the live certificates at itunesconnect
[code]

![bildschirmfoto 2016-10-23 um 08 05 17](https://cloud.githubusercontent.com/assets/2891702/19627250/849f8786-98f7-11e6-94a5-5813fb9c8ba5.png)

![bildschirmfoto 2016-10-23 um 08 05 32](https://cloud.githubusercontent.com/asset

[2016-10-23 15:16] hjanuschka commented on #6683
could you please - upgrade fastlane and fastlane_core to its latest version, and re-run the `fastlane env` - as this will help to troubleshoot the issue. many thx

[2016-10-23 17:12] scottrhoyt commented on #6683
Thanks for the assistance, @hjanuschka. Unfortunately, `fastlane env` doesn't seem to be working for me:

[code]

[code]

[2016-10-23 21:25] #4969 closed

[2016-10-23 22:08] evilDave commented on #5239
I am still hoping to work on this some time in the future.

[2016-10-24 02:34] biolinh commented on #6055
That is weird that when I configured
[code]
in Gymfile, it build forever with Jenkins and take me 5h11m in local (running in my laptop).

Gymfile:
[code]

Fastlane: 1.105.3

[2016-10-24 02:38] biolinh commented on #6400
@TKBurner: thank you for keep track it. the account  developers@360.com  is associated correctly in the developer portal.

[2016-10-24 03:08] biolinh commented on #6118
That is weird that when I configured

 "xcargs "PROVISIONING_PROFILE_SPECIFIER='#{ENV["PROVISIONING_PROFILE_SPECIFIER"]}'""
in Gymfile, it build forever with Jenkins and take me 5h11m in local (running in my laptop) to build app.

Gymfile:
[code]
Fastlane: 1.105.3

[2016-10-24 07:29] zake1989 commented on #6118
@KrauseFx @TKBurner Is there any way to specify the target when I set provisioning profile with provisioning_profile_specifier? Because I got extension in side my project, each target should be set with one unique provisioning profile, separately.

below is my gym content, I got it working for those projects without multiple targets. And I already try the action update_project_provisioning, which

[2016-10-24 07:54] mangofever commented on #6191
I'm experiencing this issue. I don't use match and just set automatically manage signing. And it works uploading ipa file via organazer.

[2016-10-24 08:46] cybertk commented on #1911
This feature is still missing in latest **pilot v1.11.0**

[2016-10-24 09:36] ivanicspeter92 commented on #6553
+1

[2016-10-24 09:45] lyptt commented on #5604
This still happens with the latest version of Fastlane

[2016-10-24 11:15] fotiDim commented on #6640
I have worked around the issue using the following Fastfile:

Fastfile:
[code]

[2016-10-24 11:24] remcohaszing opened #6687 "deliver download_metadata requires the ipa file to exist if specified"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

`deliver download_metadata` requires the ipa file to exist if it's specified in the Deliverfile. It shouldn't require this.
##### Complete output when running fastlane, including the stack trace

[2016-10-24 12:33] akkhilns opened #6688 "Deliver failed to read accented characters ("\xC3" on US-ASCII)"
Deliver command failed to read accented characters from the description.txt file.
Please look these output.

/metadata/en-US/description.txt'...
INFO [2016-10-24 17:57:20.23]: Activating language en-US...
INFO [2016-10-24 17:57:24.92]: Uploading metadata to iTunes Connect

Looking for related GitHub issues on fastlane/fastlane...
Search query: "\xC3" on US-ASCII

URL: https://api.github.com/search

[2016-10-24 13:23] akkhilns opened #6689 "How to add special charecters in description on deliver command"
How to add special characters in description on deliver command. I got error on adding special characters on description.

ERROR [2016-10-24 18:52:21.02]: Error with provided 'description'. Must be a hash, the key being the language.

[2016-10-24 13:46] #5653 closed

[2016-10-24 13:59] mpirri commented on #5125
@justinmakaila , very strange.  Did you go to iTunesConnect to see if the build had appeared in that time?

[2016-10-24 14:14] #5093 closed

[2016-10-24 14:26] patricks opened #6690 "snapshot creates empty screenshots.html page"
I have setup snapshot, which generates 2 screenshots for me. These screenshots are generated in 2 different languages (en-US, de-DE). The screenshots are places in the folders: de-DE/ and en-US. But the screenshots.html file is always blank (white). There are some html tags written in this file, but I think the imported part is missing. This is how the current image screenshots.html looks like:

[

[2016-10-24 14:49] honghaoz commented on #6516
@TKBurner I didn't try `GYM_PROJECT`, since I didn't want to use hard-coded environment value. But since it worked before. the problem may cause by `update_project_provisioning ` action.

[2016-10-24 15:54] tcurdt commented on #4954
[code]

Gives me a "Provider listing". Now what?

I just uploaded a build minutes ago - now it does not work anymore. *sigh*

[2016-10-24 16:12] tcurdt commented on #4954
downgrading to `1.105.2` solved it for me
[code]

[2016-10-24 16:37] justinmakaila commented on #5125
@mpirri Yeah, turns out that Apple was sending me emails mentioning the issue; it had to do with permissions and lacking the proper strings in the `Info.plist`. After fixing those issues, setting the environment variable, and running `pilot` again, it worked fine.

[2016-10-24 18:12] fbomb111 commented on #6636
Running just

[code]

Gives me IOError (not opened for reading) line 58 (render)

[2016-10-24 18:54] guidomb opened #6696 "Different behavior of require and base path on fastlane and match"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

I've been trying to include external ruby files in Matchfile, Appfile and Fastfile and I found that `require` behaves differently depending if I am using `fastlane` o `match` from the command li

[2016-10-24 18:55] esetnik commented on #6419
For what it's worth i'm now receiving the same error on the third build I uploaded today. I'm pretty sure that it's related to an iTunes Connect outage and not something wrong with my build because I currently cannot load the Testflight builds section of the iTunes Connect website. I get a 500 error with the same message as reported in this issue in the browser.

[2016-10-24 18:58] huminzhi opened #6697 "how to pass scheme from scan to xcov"
I basically want to run scan then xcov and let the user to pick a scheme during scan..
However, I don't want the usr to select scheme again in xcov,  it should just use the scheme I picked for scan before..

how to achieve this? Really appreciate!

[2016-10-24 19:11] flightlyverduyn opened #6698 "frameit version 3.0.0 missing iPhone7 offsets"
frameit version 3.0.0 is missing iPhone7 from https://fastlane.github.io/frameit-frames/latest/offsets.json

[code]

Doing

[code]

Did not help because it's missing from https://fastlane.github.io/frameit-frames/latest/offsets.json

I'm using version 3.0.0
[code]

### Environment

[code]

I have two versions of frameit version 2.8.0 and version 3.0.0

I'm unable to uninstall frameit version 2.8.0

[2016-10-24 19:23] falcon283 commented on #6419
I have two different builds of the same project. One for beta builds and one for releases on two different ITC accounts. One was failing, the one I mistakenly updated the capabilities by Xcode 8, and the other don't. As soon as I updated the capabilities of the target matching the one are in the provisioning portal the error disappeared.
Let's see if it's the same for you.
If you are still in the

[2016-10-24 19:28] jlubeck commented on #6553
I know this is not fastlane specific but I'm running out of options. I managed to update everything These are my current versions:

[code]

And I'm still getting the same `Connection reset by peer - SSL_connect error`.

Any idea what else I might try?

Thank you

[2016-10-24 19:28] sibljon commented on #6654
@hjanuschka thanks so much for looking into this for me, and for the detailed response!

I think the custom keychain will work best for us, as we have apps in our team that we haven't been able yet to migrate to use `match`. Thanks for the idea of using Spaceship as well, as I'm sure that may be helpful for us in the future (or perhaps for a future reader of this PR), but I agree that the ideal so

[2016-10-24 19:31] geraldWilliam commented on #6553
@jlubeck If you're using rbenv, I made sure that my openssl and ruby were on the correct versions and still got the "Connection reset by peer error" until I ran `rbenv rehash`. That fixed it.

[2016-10-24 19:38] mpirri commented on #5125
@justinmakaila, thanks for that info. I'm not sure if we can detect the iTunesConnect failure, but we should probably not wait forever. Awesome info, though - glad it (eventually) worked for you, though!

[2016-10-24 19:43] postmechanical opened #6699 "Remove fastlane dependency on ruby"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

I know it sounds crazy but putting the hassle of managing non-system rubies on users of the tool is ridiculous. Package a ruby binary with fastlane itself or rebuild it on top of a macOS tool or

[2016-10-24 19:54] esetnik commented on #4027
I'm getting a similar issue with the same error message. Looks like it's trying to find the Crashlytics api token inside my Carthage framework dependencies.

[code]

I will experiment with manually specifying the crashlytics api token.

[2016-10-24 19:55] kylejm commented on #6419
I'm also having this issue. Some points align with what others have said, some not.

With our issue:

- All builds in iTunes Connect are now *not* visible after this error occurred
- We received an email saying that the build had finished processing, but it was no where to be seen
- Happens while pilot is waiting for build to process
- When uploading manually with `gym` and `pilot` on the command

[2016-10-24 19:56] jlubeck commented on #6553
@geraldWilliam still no luck for me :(

[2016-10-24 20:06] #5650 closed

[2016-10-24 20:11] GandjaFuzz commented on #6698
having this problem too

[2016-10-24 20:30] GandjaFuzz commented on #6698
[code]

[2016-10-24 20:33] KrauseFx commented on #6698
Oh wow, nice catch, I'll push an update in a minute 👍

[2016-10-24 20:35] KrauseFx commented on #6698
I just pushed the new version, could you run
[code]
and let me know if that works for you?

[2016-10-24 20:36] KrauseFx commented on #6698
@GandjaFuzz you have a different issue, could you submit a separate issue for this? Make sure to run `fastlane env` to share your Ruby environment.

[2016-10-24 20:45] flightlyverduyn commented on #6698
works thanks!

[2016-10-24 20:45] #6698 closed

[2016-10-24 20:46] GandjaFuzz commented on #6698
<details><summary>🚫 fastlane environment 🚫</summary>

### Stack

| Key                 | Value                                       |
| ------------------- | ------------------------------------------- |
| OS                  | 10.12                                       |
| Ruby                | 2.3.1                                       |
| Bundler?            | false

[2016-10-24 20:48] GandjaFuzz opened #6700 "frameit 3.0 not work in FastFile"
i install frameit 3.0.0, but write that not upgrade
frameit install 3.0.0, but write that not upgrade
[code]

having this error
[code]

[2016-10-24 20:49] fbomb111 commented on #6636
Solved it.

This method: http://www.rubydoc.info/gems/spaceship/Spaceship/Tunes/Application#all-class_method

Does not return an array, at least not one that can be serialized into json.  Calling apps.to_s works while apps.to_json gave me this 5 day wild goose chase.

[2016-10-24 20:53] jlubeck commented on #6553
mmm that's weird.... didn't do anything new after my last post, and now it's working!

[2016-10-24 21:04] divyekhanna commented on #6419
+1 @kylejm Exact same thing happening with me now.

[2016-10-24 21:08] divyekhanna commented on #6419
Additionally, when I try to install this app in TestFlight, I get an error:

Title: Could not install LuvGuru.
Description: The encryption information is unavailable. Try again.

[2016-10-24 21:08] stevekohls commented on #6139
Hey @TKBurner Yes, this is something I could work on, but it may be some time before I get to it. If I take it on, I'll let you know.

[2016-10-24 21:15] KrauseFx commented on #6700
Thanks for reporting this, I'll push a fix in a minute 👍

[2016-10-24 21:22] KrauseFx commented on #6700
https://github.com/fastlane/fastlane/pull/6701
https://github.com/fastlane/fastlane/pull/6702

Almost ready

[2016-10-24 21:23] #6700 closed

[2016-10-24 21:24] KrauseFx commented on #6139
Actually I think at that point we don't know which service it is. However I didn't take a closer look. If you find the time, we're more than happy to review a PR for this 👍

[2016-10-24 21:32] GandjaFuzz commented on #6700
big thanks!!!

[2016-10-24 21:38] KrauseFx commented on #5379
Thanks @pahnev, I can reproduce the issue, and will work on a fix 👍

[2016-10-24 21:39] KrauseFx commented on #6700
Cool, does it work for you now?

[2016-10-24 21:39] KrauseFx commented on #6698
Awesome, glad to hear 👍

[2016-10-24 22:14] #6654 closed

[2016-10-24 22:24] KrauseFx commented on #5379
I just pushed https://github.com/fastlane/fastlane/pull/6703, which implements an auto-repair system for profiles.
I'll now look into why provisioning profiles are invalidated when creating a push certificate.

[2016-10-24 22:28] KrauseFx commented on #5379
I just checked, generating a push notification profile on the Apple Developer Portal manually also invalidated all associated provisioning profiles. I'll submit a radar for this.

[2016-10-24 22:39] KrauseFx commented on #5379
I filed a radar for Apple that push notifications invalidate certificates: https://openradar.appspot.com/radar?id=4956030156931072, feel free to dupe.

The next _match_ release should be able to automatically repair invalidated provisioning profiles 👍

Thanks everybody for your help on this, and providing the information on how to reproduce the problem.

[2016-10-24 22:39] #5379 closed

[2016-10-24 22:51] KrauseFx commented on #6684
Hey @santoshshetty2612, thanks for the report. This should be fixed with https://github.com/fastlane/fastlane/pull/6703. Feel free to give the branch a try, or wait for the official release tomorrow morning 👍

[2016-10-24 22:56] lalunamel commented on #6595
Hey @TKBurner, any thoughts here?
Do any modifications need to be made, or does this go against Fastlane's philosophy, or are we good to merge?

[2016-10-24 22:58] #6684 closed

[2016-10-24 23:00] KrauseFx commented on #6683
The latest fastlane version is 1.106.1 (https://rubygems.org/gems/fastlane), seems like `gem update` didn't work. Could you try `sudo gem update fastlane`? How do you usually update fastlane?

Have you followed the [Xcode 8 docs](https://docs.fastlane.tools/codesigning/xcode-project/#xcode-8-and-up) you linked? Can you share a screenshot of your Xcode project's build settings

[2016-10-24 23:10] gagaJay opened #6705 "screengrab: device 'adb' not found"
### New Issue Checklist
- [ ] Updated fastlane to the latest version
- [ ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

Recently Im trying to take device screenshot with screengrab, but it gets the below error message. I looked into the screengrab rugby code (https://github.com/fastlane/fastlane/blob/master/scree

[2016-10-24 23:15] nikitaame opened #6706 "tvOS with extension Linker Error"
### New Issue Checklist
- [✅] Updated fastlane to the latest version
- [✅] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

When trying to make a build of a tvOS application with a TopShelf extension, I keep running into linking error.
##### Complete output when running fastlane, including the stack trace and command

[2016-10-24 23:33] ryancstack commented on #6419
iTunes connect seems to be experiencing issues right now

[2016-10-24 23:54] scottrhoyt commented on #6683
I did follow the instructions on the Xcode 8 page, by disabling automatic management and selecting my profiles manually. Here's what the build settings look like (sorry I had to redact things for legal reasons):

<img width="1805" alt="screen shot 2016-10-24 at 4 42 53 pm" src="https://cloud.githubusercontent.com/assets/4259250/19668104/30e7b94c-9a0a-11e6-9def-76a00ca1ddf6.png">

Just did another

[2016-10-24 23:59] scottrhoyt commented on #6683
By the way, when this happens to me, my workaround is to just nuke my installed provisioning profiles on my machine. So, sigh is correctly downloading and installing the right profile. And gym uses it when it's the only option.

[2016-10-25 00:06] #5696 closed

[2016-10-25 02:10] lemonkey commented on #5379
Thanks for the work on this.

[2016-10-25 02:32] ldiqual opened #6710 "Deliver fails with `invalid request body`"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

When trying to deliver my app to iTunes connect, I get the following error:

[code]

Deliver is used as part of a lane, and I'm retrying using `bundle exec deliver`.

##### Complete output whe

[2016-10-25 02:37] summera opened #6711 "Spaceship::TunesClient::ITunesConnectError: invalid request body"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Receiving `Spaceship::TunesClient::ITunesConnectError: invalid request body` when calling `Spaceship::Tunes.select_team`. The request to set the team id on [line 88](https://github.com/fastlane

[2016-10-25 02:37] henrykwan82 commented on #6710
I just tried uploading a build to test flight and i am also running into this error.

[2016-10-25 02:38] summera commented on #6710
Also running into this. See: https://github.com/fastlane/fastlane/issues/6711. Think I found the cause

[2016-10-25 02:39] ldiqual commented on #6711
@summera I'm sure the fastlane team will react promptly, but in the meantime is there a workaround besides patching the gem?

[2016-10-25 02:44] JoelMason27 commented on #6710
I am also hitting the exact same error.

[2016-10-25 02:46] luskin commented on #6710
same here...

[2016-10-25 02:53] thaiduy commented on #6710
Could be a TestFlight error? Earlier this morning we uploaded an update to TestFlight, but can not update/install it to our devices. TestFlight keeps saying "Could not install <app name>. The encryption information is unavailable. Try again"

[2016-10-25 02:56] summera commented on #6711
I'm not quite sure what the dsId is yet because I can't even load ITC right now haha. Maybe its the user's ID? So I'm not sure if Spaceship provides a way to obtain this ID already. As far as I can tell this needs to be in the request for it to work now. So immediate fix would be patching.

[2016-10-25 02:58] summera commented on #6710
@thaiduy this is different and occurs on selecting team. See #6711

[2016-10-25 03:06] chakming commented on #6711
@summera ITC seems updated, have a new login page layout now

[2016-10-25 03:22] orira commented on #6710
Same here

[2016-10-25 03:25] summera commented on #6711
@chakming yea ITC was telling me it was down for a few and now login page looks a little different. I think everything else seems to be the same and error still exists though.

dsId is different for each user. If you go to your Personal Details for your account it's the id at the end of that URL... https://itunesconnect.apple.com/WebObjects/iTunesConnect.woa/ra/ng/users_roles/#{dsid}

[2016-10-25 03:27] irace commented on #6710
Also seeing this.

[2016-10-25 03:27] ChrisVolentine commented on #6710
Also getting this. Happens when trying to select a team

[2016-10-25 03:29] ToroLiu commented on #6710
Same here ...

More ...

Execute `pilot list`,  get `invalid request body` too. Failed when logging into iTunes Connect.

[2016-10-25 03:34] chakming commented on #6711
@summera found one interesting thing: if I use another `dsId` which is not refer to my user account, it still works

[2016-10-25 03:39] summera commented on #6711
Ha. You're right. Just putting a random ID does work. This worked for me:

[code]

[2016-10-25 03:40] ldiqual opened #6714 "Expose `device_grid` as a standalone gem"
Right now `danger-device_grid` depends on the danger's plugin system to function. I'd like to be able to use `device_grid` outside of the Danger library so that I can publish my app to Appetize with different triggers.

A couple examples:
- CircleCI doesn't trigger a build when creating a private pull request, so builds only trigger when pushing commits and there might not be any pull request open

[2016-10-25 03:42] ChrisVolentine commented on #6711
@summera I added a random dsId to my request body like you have, and it started working again for me as well

[2016-10-25 03:45] ChrisVolentine commented on #6710
Looks like there's a potential 'fix' in #6711

[2016-10-25 03:45] summera commented on #6711
I found that the actual dsId can be obtained from the user detail request in [TunesClient#user_detail_data](https://github.com/fastlane/fastlane/blob/master/spaceship/lib/spaceship/tunes/tunes_client.rb#L537) inside the `sessionToken` json object. It's just not parsed from the response in the current implementation.

[2016-10-25 03:53] luskin commented on #6711
where is this file located?

[2016-10-25 04:01] luskin commented on #6711
^ worked for me as well!

[2016-10-25 04:01] webpolis commented on #6710
why is Fastlane so fragile? Every week my builds break! :(

[2016-10-25 04:01] KrauseFx commented on #6711
Hey everyone, thanks for the reports, I can reproduce the issue, I'm working on a fix 🚀

[2016-10-25 04:01] KrauseFx commented on #6710
Hey everyone, thanks for the reports, I can reproduce the issue, I'm working on a fix 🚀

[2016-10-25 04:04] summera commented on #6711
@KrauseFx just came up with this:

https://github.com/summera/fastlane/commit/7f8adc36d990abe6039bfcccf0fd967d2fdec965

I can open PR if you'd like.

[2016-10-25 04:09] KrauseFx commented on #6711
Awesome, thank you @summera, I pushed this via https://github.com/fastlane/fastlane/pull/6716. Preparing a new release in a minute

[2016-10-25 04:17] LeBlaaanc commented on #6710
@webpolis seems like there's a pretty straightforward answer to that question... if Apple exposed a formal API Fastlane would be less problematic.

[2016-10-25 04:19] #6711 closed

[2016-10-25 04:29] richardszalay commented on #5824
I'm working on the PR :)

[2016-10-25 04:30] KrauseFx commented on #6710
Hey, thanks for your patience everyone, we were able to push new releases for _spaceship_, _pilot_ and _deliver_, please update to the latest release using `[sudo] gem update deliver` or `[sudo] gem update pilot`. If you're using `bundler` use `bundle update` instead 👍

Special thanks to @summera for providing a super fast fix, and @milch for reviewing all the required version bumps and dependency

[2016-10-25 04:31] KrauseFx commented on #6711
Hey, thanks for your patience everyone, we were able to push new releases for _spaceship_, _pilot_ and _deliver_, please update to the latest release using `[sudo] gem update deliver` or `[sudo] gem update pilot`. If you're using `bundler` use `bundle update` instead 👍

Special thanks to @summera for providing a super fast fix, and @milch for reviewing all the required version bumps and dependency

[2016-10-25 04:47] webpolis commented on #6710
@LeBlaaanc yeah, I just noted that Fastlane was doing web scraping under the hood. I wish I don't have to build anything for Apple, but it's still causing nightmares to all developers worldwide :)

[2016-10-25 05:09] KrauseFx commented on #6710
@webpolis It's actually not web-scraping, _fastlane_ uses [spaceship](https://spaceship.airforce), which an HTTP client that directly communicates with Apple's API endpoints, including the Apple Developer Portal and iTunes Connect 👍

[2016-10-25 05:14] ldiqual commented on #6710
@KrauseFx Updated my bundle and now the build uploads correctly. Thank you so much for your reactivity! Have a great night.

[2016-10-25 05:14] #6710 closed

[2016-10-25 05:15] mangofever commented on #6710
Wow!! Great work! Thanks, @KrauseFx

[2016-10-25 05:15] choiks14 opened #6725 "Rubygems error: `check_version_conflict': can't activate json-2.0.2, already activated json-1.8.3"
i did "**fastlane run update_fastlane**"

but i got error.

<pre>
/Users/choiks14/.rbenv/versions/2.3.1/lib/ruby/2.3.0/rubygems/specification.rb:2274:in `check_version_conflict': can't activate json-2.0.2, already activated json-1.8.3 (Gem::LoadError)
        from /Users/choiks14/.rbenv/versions/2.3.1/lib/ruby/2.3.0/rubygems/specification.rb:1403:in `activate'
        from /Users/choiks14/.rbenv/v

[2016-10-25 05:55] janiduw commented on #6710
@KrauseFx , thank you so much for the quick turnaround on this. Amazing work !

[2016-10-25 07:15] balajitringapps commented on #6627
@TKBurner How to create the output directory for flavors dynamically..

[2016-10-25 08:03] MattCheetham commented on #6525
@TKBurner We have the "App Manager" role on that account

[2016-10-25 08:03] r-massanet commented on #6710
Thanks a lot for the quick fix!

[2016-10-25 08:11] mychaelgo opened #6727 "fastlane supply timed publishing"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

Can "fastlane supply" upload APK with manual release?

[2016-10-25 08:30] revolter commented on #5781
@vpolouchkine, Did you manage to update the docs?

[2016-10-25 08:49] bartverhavert commented on #5318
@sylvek what did you do to make it work on ruby 2.1.0? I'm running ruby 2.3.1 using rbenv with fastlane at 1.105.0 and I'm having the same issue: `uninitialized constant Fastlane::Actions::AppaloosaAction::Net`

Any ideas?

[2016-10-25 08:55] sylvek commented on #5318
hi @bartverhavert , nothing special .. i just upgraded the version.
presently i use it everyday and it works like a charm

this is my own code…
[code]

Gemfile

[code]

[2016-10-25 09:01] bartverhavert commented on #5318
Hi @sylvek, thanks for the quick response. I've updated ruby and fastlane but that didn't seem to fix it. I'll keep looking. Thanks anyway!

[2016-10-25 09:38] bartverhavert commented on #5318
FYI, it was a stupid rookie mistake. Even though `ruby -v` showed I was on 2.3.1 and I had installed fastlane for ruby 2.3.1 as well, running the fastlane command would still use the fastlane installation on the default ruby installation (2.0.0). I fixed it by removing all fastlane installations in the default ruby installation, so when now running `fastlane`, the fastlane installation of ruby 2.3

[2016-10-25 09:54] Aaron81 commented on #6699
<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                 | Value                                                          |
| ------------------- | -------------------------------------------------------------- |
| OS                  | 10.12                                                          |
| Ruby                | 2.0.0

[2016-10-25 10:08] kylejm commented on #6419
All working for me this morning (BST) :tada:. You'll likely need to update fastlane/spaceship/pilot/deliver to fix a new issue that seems to have appeared after these iTC problems:

https://github.com/fastlane/fastlane/issues/6711

[2016-10-25 10:15] ivanicspeter92 commented on #6553
My issues were resolved by executing the following commands
`brew update && brew install ruby
sudo gem install fastlane
sudo gem update produce
sudo gem update sigh`

[2016-10-25 10:22] Aaron81 commented on #6699
brew uninstall ruby # not using homebrew's ruby

rm -rf ~/.gem
rm -rf ~/.gems
rm -rf ~/.rbenv
brew install rbenv ruby-built

Add rbenv to bash so that it loads every time you open a terminal

echo 'if which rbenv > /dev/null; then eval "$(rbenv init -)"; fi' >> ~/.bash_profile
source ~/.bash_profile

Install Ruby

rbenv install 2.3.1
rbenv global 2.3.1

close teminal and re-open it

ruby -v # shou

[2016-10-25 10:29] Muthukathiravan opened #6728 "How to use fastlane Screenshots for product flavours in android?"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Environment

Please run `fastlane env` and copy the output below. This will help us help yo

[2016-10-25 10:40] kylejm commented on #6427
Got a moment to play around this morning. Here's where I got to:

### Uploading to iTC with fastlane without waiting for build to process to submit a changelog

1. Upload using `pilot` without waiting for processing
2. Get build from spaceship:
    1. login using spaceship
    2. get the app using the bundle id
    3. get the build train for the version you’re building (`app.build_trains["0.9.21”]

[2016-10-25 10:57] lieliefengzheng opened #6729 "pilot script：The call to the iTMSTransporter completed with a non-zero exit status"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
I entered :
pilot upload -u xxx@xxx -a xxx -i ${ipapath} -s -z

in the terminal, and then the output below
[code]
[18:38:18]: Going to upload updated app to iTunes Connect
[18:38:18]: This migh

[2016-10-25 12:13] rpzzzzzz commented on #6710
Thanks a lot!

[2016-10-25 12:19] ethante opened #6730 "Trying to activate more language with fastlane and deliver"
### New Issue Checklist
- [ ] Updated fastlane to the latest version
- [ ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

i have one app on iTC that is prepare for submision that have 1 language: en-US and
when i try to releaze to appstore whit en-US and da-DK it fails, right after it try to activate language, even

[2016-10-25 12:21] ethante commented on #6730
im running lane 3

[2016-10-25 12:25] dzungpv opened #6731 "undefined method `<<' for nil:NilClass"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
I update to Mac 10.12.1 and cannot run fastlane.
##### Complete output when running fastlane, including the stack trace and command used

[code]

### Environment

Please run `fastlane env` and

[2016-10-25 12:45] Muthukathiravan commented on #6728
@asfalcone I have three product flavors ,wanna run at single comment and store the all flavors screen shot in as per the flavor name in directory..

[2016-10-25 12:56] A1iAshoor commented on #1164
@henriquegemignani same here, I thought maybe the file size is large here 200mb but when I do it manually it work fine from fabric.app

[2016-10-25 13:00] Jianbo-Zhu commented on #6731
Hi I'm having a similar issue on ubuntu 14.04 while doing `deliver init`.

[12:53:06]: Writing to 'fastlane/metadata/nl-NL/keywords.txt'
[12:53:06]: Writing to 'fastlane/metadata/nl-NL/release_notes.txt'
[12:53:06]: Writing to 'fastlane/metadata/nl-NL/support_url.txt'
[12:53:06]: Writing to 'fastlane/metadata/nl-NL/marketing_url.txt'
[12:53:06]: Writing to 'fastlane/metadata/nl-NL/name.txt'

/var/

[2016-10-25 13:18] DBocksteger commented on #6710
is the version in the current gem including this fix, too?

[2016-10-25 13:44] PetrosIchor commented on #6725
It states right in the error you have 2 versions of json conflicting.  That needs resolved to continue.

[2016-10-25 14:05] santoshshetty2612 commented on #6711
updated to latest version of deliver and fastlane. Invalid request body error is resolved now.
But getting the following error:

ruby-2.3.0/gems/deliver-1.14.4/lib/deliver/setup.rb:63:in `block in generate_metadata_files': [!] undefined method `<<' for nil:NilClass (NoMethodError)
	from .rvm/gems/ruby-2.3.0/gems/deliver-1.14.4/lib/deliver/setup.rb:57:in `each'

[2016-10-25 14:08] TKBurner commented on #5824
@richardszalay Awesome! 👍 We'll work with you there .

[2016-10-25 14:14] choiks14 opened #6733 "is there frameit android version?"
is there frameit android version?

[2016-10-25 14:16] nazeehshoura commented on #6710
Thanks a lot for the quick fix!

[2016-10-25 14:17] TKBurner commented on #5239
@evilDave Thanks for following up! We'll leave this open 👍

[2016-10-25 14:18] #6656 closed

[2016-10-25 14:19] TKBurner commented on #5190
@xserver Awesome! So glad to hear you got up and running 👍

[2016-10-25 14:27] TKBurner commented on #6733
@choiks14 Thanks for reaching out. Right now there isn't a tool for frameit on Android. But I'll put you down as a +1 on this feature request. Thanks!

[2016-10-25 14:27] #6733 closed

[2016-10-25 14:31] TKBurner commented on #6400
@biolinh Thanks for following up. Can you run `fastlane run update_fastlane` and then share your new output of the error? Thanks!

[2016-10-25 14:32] TKBurner commented on #5686
@ikovalisko Very interesting. Thanks for sharing.

[2016-10-25 14:33] TKBurner commented on #6671
@xaphod Great question! Right now this isn't possible but it's an interesting idea. I'll talk to the core team about it. Thanks!

[2016-10-25 14:33] #6671 closed

[2016-10-25 14:34] cjwirth commented on #6731
Seems to be caused by https://github.com/fastlane/fastlane/pull/6665 . It worked when I commented out the lines that were added there. I haven't investigated any more than that, though.

[2016-10-25 14:37] TKBurner commented on #6191
@mangofever Thanks for reaching out. We don't currently support automatic signing and this could be the source of your problem. Also, can you let me know the full input and output of your error? Thanks!

[2016-10-25 14:42] TKBurner commented on #6118
@zake1989 I think you'll need to setup manual code signing in Xcode for your project and then it'll work properly with gym. Let me know how it goes!

[2016-10-25 14:44] choiks14 commented on #6733
👍

[2016-10-25 14:45] TKBurner commented on #6625
Hi @whlsxl You can set these at the top of your fastfile or in your shell enviroment.

[2016-10-25 14:48] TKBurner commented on #6055
@biolinh Are you using automatic code signing in Xcode on this project? That could be the issue.

[2016-10-25 14:51] TKBurner commented on #6673
@yokoe We'd love to see a PR from you. Let me know if you need any help getting started 👍

[2016-10-25 14:56] #5152 closed

[2016-10-25 14:58] cytryn commented on #6248
I just downloaded all my profiles using match.

But a few minutes later I added a new phone to my XCode and it popped asking if I wanted to add to memberCenter. I hit yes and now I am trying to make match one profile again but I get this error msg:

    [12:54:31]: Exit status: 128
    [12:54:31]: Error cloning certificates repo, please make sure you have read access to the repository you want to

[2016-10-25 15:03] TKBurner commented on #6675
@WANGjieJacques Can you share a screenshot of your directory structure for your project?

[2016-10-25 15:06] WANGjieJacques commented on #6675
Why you need that? I have already created a pull request for this issue.

[2016-10-25 15:11] TKBurner commented on #6620
@MaximusMcCann Did you end up getting up and running? Let me know if you are still running into any issues. Thanks!

[2016-10-25 15:12] TKBurner commented on #6668
@bl4design Thanks for reaching out. Can you let me know if the command:

`set -o pipefail && xcodebuild -workspace ./tagapp.xcworkspace -scheme tagapp -derivedDataPath '/var/folders/yp/qhz625bn5d5crnkq2g2tlb6m0000gn/T/snapshot_derived20161021-13485-bhc5n9' -destination 'platform=iOS Simulator,id=0C02AE7D-8204-491D-B944-5AC8FC135A71,OS=10.0' FASTLANE_SNAPSHOT=YES build test | tee /Users/bl/Library/

[2016-10-25 15:22] TKBurner commented on #6648
@odrobnik @bjornoss Thanks for sharing this. I reaching out to the core team so we can fix this. Let me know if either of you is interested in submitting a PR. Thanks!

[2016-10-25 15:23] TKBurner commented on #6660
@fabiobh Awesome! So glad to hear you got up and running. Always feel free to reach out with any thoughts or questions.

[2016-10-25 15:24] TKBurner commented on #6658
Thanks for the suggestion. What functionality would you like to see the most?

[2016-10-25 15:27] TKBurner commented on #6603
@vkislicins Check out this page: https://developer.apple.com/library/content/documentation/IDEs/Conceptual/AppDistributionGuide/MaintainingCertificates/MaintainingCertificates.html#//apple_ref/doc/uid/TP40012582-CH31-SW26

Thanks!

[2016-10-25 15:35] TKBurner commented on #4864
@madhu-b Can you please submit a new issue? I'd love to help 👍

[2016-10-25 15:35] TKBurner commented on #4675
@colinyip Interesting suggestion. Right now we are going to stick with it the way it is as to not break others setups.

[2016-10-25 15:36] TKBurner commented on #1542
@JustinJiaDev Awesome! We'll reopen this 👍

[2016-10-25 15:40] TKBurner commented on #6591
@ethanmay Did you try the above workaround? Let me know if it works for you. Thanks!

[2016-10-25 16:01] TKBurner commented on #6317
@rocco Very interesting. Are you not able to setup the manual code signing on this generated project? Unfortunately, that's the only way to get it to work properly.

[2016-10-25 16:02] TKBurner commented on #6647
Hi @simformsolutions I haven't seen anyone doing this, but I'd be curious if you are running into any specific errors. Thanks!

[2016-10-25 16:02] TKBurner commented on #6643
@xaphod Thanks for following up. I'll leave this open for the time being.

[2016-10-25 16:03] JustinJiaDev commented on #1542
We have several apps and currently I wrote a generator to generate fastlane folders from CSV. Using YML can simply this process.

[2016-10-25 16:06] TKBurner commented on #6551
@AnthonyMDev I looped in some other team members to get some input here. We'll work with you on this thread. Thanks!

[2016-10-25 16:08] TKBurner commented on #6376
@dkk Thanks for following up. We are still looking into this. 👍

[2016-10-25 16:11] AndyIsaacson opened #6736 "scan: report generation takes a rather long time"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

When I run `scan`, the final step to generate test reports take a very long time to complete.  My project is complicated to compile, but (unfortunately) there are not a ton of tests.  To give an

[2016-10-25 16:21] TKBurner commented on #6595
@lalunamel Thanks for following up. We haven't had time to do a code review yet, but someone from the team will follow up soon. Hope you have a great day!

[2016-10-25 16:22] TKBurner commented on #6636
@fbomb111 Awesome! Really glad you got up and running!

[2016-10-25 16:22] #6636 closed

[2016-10-25 16:25] TKBurner commented on #4027
@esetnik Thanks for following up. Crashlytics always needs the api key in your info.plist. That is probably the source of your issue. Let me know how it goes!

[2016-10-25 16:27] TKBurner commented on #6697
@huminzhi Thanks for reaching out. Right now, scan doesn't set this for xcov, but we'd be interested in a PR to make this possible.

[2016-10-25 16:34] esetnik commented on #4027
@TKBurner thanks for the tip. I didn't realize their installation instructions changed since I originally integrated Fabric. Interesting that everything seemed to work re. crash reporting / Fabric SDK initialization without the api token. I just reintegrated against their latest documentation and it's working fine now.

[2016-10-25 16:55] KrauseFx commented on #6711
@santoshshetty2612 That's a separate issue, I'll provide a fix in a minute 👍

[2016-10-25 17:10] TKBurner commented on #5964
@xaphod Thanks for following up on this. Do you have any nsunmatablestrings in your tests? There is a bug with these hanging.

[2016-10-25 17:14] markffrench opened #6738 "Automatic signing issue"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I'm unable to use gym to compile in XCode 8 and macOS Sierra. I am running gym during a jenkins build, on an xcodeproj created by Unity3D. Because the xcodeproj gets created at compilation I d

[2016-10-25 17:21] asfalcone commented on #6728
@Muthukathiravan this isn't currently supported by _screengrab_ itself. you could use _fastlane_ to build each debug and test variant per flavor, then run _screengrab_, specifying a different output folder. Hope this helps 👍

[2016-10-25 17:21] #6728 closed

[2016-10-25 17:24] TKBurner commented on #6642
Hi @damienmollard Thanks for following up. Did this previously work? I think you'll need to place the logic around the whole adhoc/development lines.

[2016-10-25 17:28] TKBurner commented on #6640
@fotiDim Hope you are doing well! You'll need to pass the bundle ID to the testflight action for this to work properly. We use sane defaults but it looks like there might be something project specific here. Thanks!

[2016-10-25 17:36] TKBurner commented on #6639
@speedy-afr Thanks for reaching out. Can you add the --verbose flag to your lane and share the output? It looks like you might have an issue with openssl on your machine. I'd suggest investigating this.

[2016-10-25 17:36] gokeji commented on #6731
@cjwirth Good find. I also removed the changes from that commit and now `download_metadata` is working.

[2016-10-25 17:48] markffrench commented on #6738
I have, but that advice only works if you are able to manually open the xcodeproj and switch signing to manual, as far as I can tell.

[2016-10-25 18:01] stevekohls opened #6739 "Feature: Retrieve Developer Program information"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

I manage multiple iOS Developer Program accounts, and I would like to be able to retrieve the information for each program. Specifically, I am interested in the Expiration Date. From looking at

[2016-10-25 18:12] meyskens commented on #6455
Can confirm it works here.

[2016-10-25 18:18] madhu-b commented on #6638
Thank you

here is the ruby details

Liftoffs-MacBook-Pro:Mumo liftoff$ which ruby

*/usr/local/bin/ruby*

Liftoffs-MacBook-Pro:Mumo liftoff$ ruby -v

*ruby 2.3.1p112 (2016-04-26 revision 54768) [x86_64-darwin15]*

Liftoffs-MacBook-Pro:Mumo liftoff$

Thanks & Regards

Madhu.

On Thu, Oct 20, 2016 at 10:51 PM, Todd Burner <notifications@github.com>
wrote:

[2016-10-25 18:25] sylvek commented on #5318
:+1:

Le mar. 25 oct. 2016 11:39, Bart Verhavert <notifications@github.com> a
écrit :

[2016-10-25 18:27] pascalhuynh commented on #5379
Thanks for the good job !
—

Pascal HUYNH

Co-Founder & Software Engineer

+33 6 26 43 30 03

pascal.beyowi

75 quai de la Seine, 75019 Paris

http://www.beyowi.com <http://www.beyowi.com/>

[2016-10-25 18:44] mpirri commented on #6376
An update: we've been able to produce this on our end, and are looking into the issue further. Thanks again for all the info on this!

[2016-10-25 18:46] xaphod commented on #5964
@TKBurner Rebooting fixed this for me. No idea why.

[2016-10-25 18:53] bsqdev commented on #5758
We update the Root.plist with the version number.  Looking forward to utilizing this proposed change.

[2016-10-25 18:55] PetrosIchor commented on #6738
Fastlane provides their recommended way to handle app signing. If you plan to use another methodology, you will need to do research and implement what works for you.  My uses require manual signing as well. Through a couple plugins and self created actions, it's easy to setup.

[2016-10-25 19:00] markffrench commented on #6738
Could you point me in the direction of what you're using?

[2016-10-25 19:17] markffrench commented on #6738
Also, I don't think I'm using fastlane in a way that is that unusual, I've been able to compile newly created xcode projects using gym for well over a year, and it's only Apple's changes to XCode 8 that are breaking my CI setup.

[2016-10-25 19:17] markffrench commented on #6738
Also, I don't think I'm using fastlane in a way that is that unusual, I've been able to compile newly created xcode projects using gym for well over a year, and it's only Apple's changes to XCode 8 that are breaking my CI setup.

[2016-10-25 19:32] steddyman commented on #6731
Confirmed.  Fixes it for me too.  Change needs reverting.

[2016-10-25 19:48] benjaminsnorris opened #6742 "Is it possible to disable xcpretty in scan?"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

I am having a problem with my iOS project that code coverage data from UI tests is not reported. I have tried using Slather and directly with Codecov, as well as just looking locally, and no dat

[2016-10-25 19:56] wimbledon opened #6743 "iTunesConnect app submission error"
### Issue Description
The issue start occuring on Tuesday, Oct. 25th, 2016 when I tried to submit new app update via iTunesConnect, I get following error message:
"New apps and app updates must be built with the public (GM) versions of Xcode 6 or later, macOS, and iOS SDK. Don't submit apps built with beta software including beta macOS builds."
![image](https://cloud.githubusercontent.com/assets/3

[2016-10-25 21:00] PetrosIchor commented on #6738
First thing is to read the release notes and documentation. Specifically around the new signing process.  Xcode8 brings a heavy handed automatic signing to the client. They've also depreciated some values like PROVISIONING_PROFILE.

You'll need to find a way to update your setup to accommodate your apps needs. For me, it was disabling automatic signing, injecting the new expected values, and updat

[2016-10-25 21:08] KrauseFx commented on #6731
This is fixed with https://github.com/fastlane/fastlane/pull/6737, sorry for introducing this issue. Preparing a new release now 👍

[2016-10-25 21:08] #6731 closed

[2016-10-25 21:15] rocco commented on #6317
@TKBurner the Cordova/Ionic project contains only

    attributes = {
        LastUpgradeCheck = 510;
    };

in its PBXProject section after you freshly generate it. The `TargetAttributes` key is missing there. My solution currently is to run

    xcproj = Xcodeproj::Project.open(xcodeprojpath)
    xcproj.build_configurations.each do |item|
        item.build_settings['DEVELOPMENT_TEAM'] = Creden

[2016-10-25 21:24] KrauseFx commented on #6699
Hey @postmechanical, thanks for the suggestion, I completely agree with you to the dependency to Ruby is a tough one, especially since Apple bundles a really old version of Ruby in macOS.

We actually worked on some bundled Ruby support with the Fabric app for now (you can download the Fabric Mac app to give it a try).

While we don't actively work on it right now, we're definitely interested in p

[2016-10-25 21:27] #5070 closed

[2016-10-25 21:41] postmechanical commented on #6699
@KrauseFx Thank you for considering it. As a user I don't care how the tools are implemented unless I have to deal with managing any dependencies that make the tools work at which point I do care because I have to care about ruby, which I don't, in order to just be able to use the tools. Looking at the history of support for third-party scripting languages on macOS, though, I would seriously cauti

[2016-10-25 21:59] TKBurner commented on #6706
Hi @nikitaame Can you share your full input and output? I want to take a look at what command runs before your error. Thanks so much!

[2016-10-25 22:03] TKBurner commented on #6683
@scottrhoyt Thanks for reaching out about this. Are your provisioning profiles set manually in your build settings? Fastlane isn't compatible with automatic code signing introduced in Xcode 8.

[2016-10-25 22:04] TKBurner commented on #6714
@ldiqual Thanks for your suggestion. I've marked it as a feature request so we can see if others are interested. Were you interested in implementing this yourself?

[2016-10-25 22:04] MaximusMcCann commented on #6419
Just had this happen again.  Believe everything is the latest version as well :/

[code]
but then
[code]
[code]

Versions:
[code]

[2016-10-25 22:05] TKBurner commented on #6627
@balajitringapps Just copy paste the ouptput when your run fastlane. Thanks!

[2016-10-25 22:05] TKBurner commented on #6525
@MattCheetham Can you try with an account with admin privileges and let me know if that clears things up for you? Because of certain API permissions beyond our control you might need to be in this role. Thanks!

[2016-10-25 22:08] TKBurner commented on #6727
@mychaelgo Thanks for reaching out. Are you running into a specific error? You should be able to do this. Thanks!

[2016-10-25 22:08] TKBurner commented on #5781
@revolter Thanks for reaching out. You can now localize the simulator. Let me know if that meets your needs. 👍

[2016-10-25 22:10] TKBurner commented on #5318
@bartverhavert Awesome! Are you still running into your issue at this point or did the update fix things? Thanks!

[2016-10-25 22:11] 0xced commented on #6454
And here’s the second PR: **[scan] Handle single scheme Xcode projects** #6637

[2016-10-25 22:15] TKBurner commented on #6419
@MaximusMcCann Thanks for following up. Can you run `fastlane env` and share the output? Thanks!

[2016-10-25 22:15] TKBurner commented on #6553
@ivanicspeter92 Awesome! Glad to hear you got up and running.

[2016-10-25 22:24] nordfogel commented on #6743
I guess it is related to the security update 2016-002 which you might have downloaded. It is still marked as beta as long as the itunes connect team does not whitelist 10.11.6 plus security patch 2016-002.

sources:
https://forums.developer.apple.com/thread/64697#185895
https://forums.developer.apple.com/thread/50064

[2016-10-25 22:25] TKBurner commented on #6699
@postmechanical Thanks for the suggestion. We are definitely looking into packaging a ruby version with fastlane. Let me know if there are any first steps we can take now to make things better for you. 👍

[2016-10-25 22:26] revolter commented on #5781
@TKBurner, this issue was left open to add [this warning](https://github.com/fastlane/fastlane/issues/5781#issuecomment-242298434) in the README.

What do you mean by this? What exactly was changed?

[2016-10-25 22:34] MaximusMcCann commented on #6419
Hmm, so apparently I do not have the latest according to that command.
The above was after deleting the Gemfile.lock and running `bundle install`.   I believe I was having su/non-su issues.  Running now, and you can probably disregard.

... Beautiful command btw! `fastlane env`

[code]
</details>

### fastlane gems

| Gem                 | Version | Update-Status       |
| ------------------- | --

[2016-10-25 22:39] KrauseFx commented on #6419
@MaximusMcCann Can you run `bundle update` to update to the latest release of _spaceship_?

[2016-10-25 22:40] MaximusMcCann commented on #6419
@KrauseFx had to run `sudo bundle update`.  But have and ran `fastlane env` with all green checkmarks and have re-pushed.  Cheers!

[2016-10-25 22:45] blackm00n commented on #5912
Hi @TKBurner, I got the same problem. It doesn't seem like an intentional behaviour to me. Single plist file is being omitted and the rest 5 files been added to the commit. I didn't add any of them manually so it's not the "commit changes that have been added by the user" behaviour.

[2016-10-25 22:59] TKBurner commented on #6728
@Muthukathiravan Thanks for reaching out. You'll need to run screengrab three times in the same lane. Let me know if you have any questions.

[2016-10-25 23:00] swl367 opened #6747 "Deliver - Issues submitting to iTunesConnect via ruby script"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description
##### Complete output when running fastlane, including the stack trace and command used

[code]
### Environment

Please run `fastlane env` and copy the output below. This will help us help you :+

[2016-10-25 23:00] TKBurner commented on #1164
@A1iAshoor Are you seeing this 100% of the time? Thanks for working with me.

[2016-10-25 23:09] hjanuschka commented on #6727
on CI we run `fastlane android_publish_beta`  - in order to have the latest apk in beta train.

[code]

and once we decide to release - we do `fastlane android_promote_beta`  to move the latest beta to production train.

[2016-10-25 23:23] markffrench commented on #6738
Thanks for your detailed response :) It's sod's law, but this issue cropped up just as we're trying to ship!

[2016-10-25 23:23] #6738 closed

[2016-10-25 23:44] MaximusMcCann commented on #6620
@TKBurner I solved the problem and put out a pull-request here: https://github.com/joshdholtz/fastlane-plugin-s3/pull/1

Cheers

[2016-10-26 01:16] PetrosIchor commented on #6583
Do a search for your appID in you xcodeproj and plist files.  Look for all the ones you use internally and externally.  I just had an issue where an appID was introduced but not linked correctly.  Fastlane would build without it and fail signing.  Xcode would pass though, I think it's auto caching or correcting the value, whereas xcodebuild was not.

The errors did not give me enough info to easil

[2016-10-26 02:45] klundberg commented on #6747
I've had the same issue today, here's my stacktrace:
[code]

[2016-10-26 02:47] chris-armstrong commented on #5662
I can confirm that I'm experiencing this issue on AWS Elastic Beanstalk too with the boarding app (I'm working around it by creating and chown/chmod the /home/webapp directory). It seems that a library shouldn't assume it has access to the current user's home directory - is there not a standard directory for writeable filesystem access in rails apps?

[2016-10-26 04:39] wimbledon commented on #6743
The problem is now resolved by Apple!

[2016-10-26 04:39] #6743 closed

[2016-10-26 04:49] mychaelgo commented on #6727
@TKBurner  @hjanuschka Thanks for reaching out, but "fastlane supply" manual release i mean is google play timed publishing, is fastlane support it?

[2016-10-26 05:13] bartverhavert commented on #5318
Hi @TKBurner, updating Fastlane and Ruby to their latest versions, as well as making sure the Fastlane installation of the rbenv managed Ruby version was used, made it all work. Thanks!

[2016-10-26 05:35] antulik commented on #6533
Above solutions didn't work for me, but the solution in the blog below did

https://dpogue.ca/articles/cordova-xcode8.html

[2016-10-26 05:50] vbresults commented on #6658
@TKBurner Simply storing the certificate components in the repository, and being able to fetch them as a drop-in replacement for pem, the same way match does it for sigh.

I do use PEM right now.

I'd like to see `match(type: "apns", app_id:"my.example.app" p12:true cer:true pem:true)` generate the push certificate for that app id, save it in the repo, and drop a copy of specific parts of the cert

[2016-10-26 06:55] mangofever commented on #6191
@TKBurner.
As you said, it was because of automatic signing.
After I changed back to manual signing, the error just disappeared.
We are currently using 2 different Apple accounts. (One is for App Store, and another for Enterprise)

Input is just a username of App Store account like...
pilot(
     username: APP_STORE_ACCOUNT
)

[Error output]
[17:05:15]: -------------------
[17:05:15]: --- Step: pi

[2016-10-26 08:04] prolog3001 opened #6748 "Mac Apps category will not update in store"
I have noticed that when uploading to the Mac App store, these two values do not work:

primary_category "Travel"
secondary_category "Reference"

It stays empty on store.

Anyone knows why?

[2016-10-26 08:06] prolog3001 opened #6749 "Feature: Deliver upload App store 30 sec. video clip"
Will there be any solution to upload the 30 sec. clip vis fastlane?...

[2016-10-26 08:07] MattCheetham commented on #6525
@TKBurner Hmm I'll give it a try. Curious as to why that would affect one specific app on the account where all the other submit fine with the same account permission setup.

It's a client's account so will need to get them to bump us to admin and then I'll get back to you.

[2016-10-26 08:15] A1iAshoor commented on #1164
@TKBurner I'd say now it's 100% but it used to work on the second time I push the build, now it's not even working on the second push. The only way it works when I do it through their Fabric.app

This is what I'm using.. crashlytics v.3.8.3 (latest)

[code]

[2016-10-26 08:27] Jules2010 opened #6750 "Errors after installing Xcode 8.1 GM while already have Xcode 7.3.1 installed?"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Environment

Please run `fastlane env` and copy the output below. This will help us help yo

[2016-10-26 08:46] ff-ahumberston opened #6751 "undefined method `[]=' for nil:NilClass for sigh manage"
### New Issue Checklist
- [Y] Updated fastlane to the latest version
- [Y] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

Error received when attempting to run sigh manage
##### Complete output when running fastlane, including the stack trace and command used

[code]
### Environment

Please run `fastlane env` and c

[2016-10-26 08:53] AlexTatarinchik opened #6752 "Match always updates all the encrypted files in git"
### Issue Description

Openssl encryption operation change the hash of file. When I run match command with development type, the git commit diff contains changes of all certs and profiles. Is it possible to push only updated files?
### Environment

<details><summary>

✅ fastlane environment ✅</summary>

### Stack

| Key | Value |
| --- | --- |
| OS | 10.11.5 |
| Ruby | 2.3.1 |
| Bundler? | false |

[2016-10-26 08:59] AlexTatarinchik opened #6753 "[Feature] Disabling encryption/decryption for Match"
### Issue Description

Add parameter to disable encryption/decryption operations for match.
### Environment

<details><summary>

✅ fastlane environment ✅</summary>

### Stack

| Key | Value |
| --- | --- |
| OS | 10.11.5 |
| Ruby | 2.3.1 |
| Bundler? | false |
| Xcode Path | /Applications/Xcode.app/Contents/Developer/ |
| Xcode Version | 8.0 |
| Git | git version 2.8.4 (Apple Git-73) |
| Installat

[2016-10-26 09:10] dzungpv commented on #6731
But how can i build fastlane, i am not know any about ruby. I want run but this fix version but it not release

[2016-10-26 09:28] kylejm opened #6754 "Run `match nuke` from Fastfile without asking for confirmation"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

Is there a way to run `match nuke` without it asking you for confirmation as below?

[code]

I tried running with force but the question is still asked:

[code]

[2016-10-26 11:05] esttorhe commented on #6626
Hi @asfalcone, can't share the `Fastfile` but we are using `gym`, `match`, `sigh`, `pem`, `pilot`

Let me know if this is not enough or if there's anything specific you need

[2016-10-26 11:17] dmitry7887 commented on #6690
same for me on sierra 10.12.1

[2016-10-26 11:52] kylejm commented on #6427
Okay, I was able to upload the changelog using `spaceship` before the build had finished processing, but, but it failed (`ITC.response.error.BUILD_NOT_FOUND`) the first few moments after the build had been uploaded. Used the following code:

[code]

I noticed that the call worked after two events:
1. I viewed the build in iTC
2. The following fields in the `build` attributes had changed:
    - `id

[2016-10-26 12:35] cunneen commented on #6133
This worked for me:
open XCode, and deselecting "automatically manage signing" from General -> Signing

[2016-10-26 12:54] kd8ssq opened #6755 "Deliver: https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
When trying to run deliver, I receive the error: "https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md"

##### Complete output when running fastlane, including the stack trace and c

[2016-10-26 12:55] #6755 closed

[2016-10-26 13:14] Muthukathiravan opened #6756 "How to change the last three directories to store the screen shots.example en-US/images/phoneScreenshots"
### New Issue Checklist
- [ ] Updated fastlane to the latest version
- [ ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description
##### Complete output when running fastlane, including the stack trace and command used

[code]
### Environment

Please run `fastlane env` and copy the output below. This will help us help you :+

[2016-10-26 13:36] bes opened #6757 "Match: Development Provisioning Profile only contains one certificate"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Our team uses match to manage provisioning profiles, but since we switched to XCode 8 we have started using manually managed signing for Debug & Release, as recommended by the [Fastlane Docs](h

[2016-10-26 14:15] asfalcone commented on #6751
@ff-ahumberston Thanks for the report. I wasn't able to immediately reproduce this error.

Could you do `ls ~/Library/MobileDevice/Provisioning\ Profiles/` and let me know the output?

The _sigh_ code that is failing is here: https://github.com/fastlane/fastlane/blob/master/sigh/lib/sigh/local_manage.rb#L130 I'm wondering if you've got a profile that isn't parsable by `security` for some reason.

[2016-10-26 14:19] asfalcone commented on #6748
@prolog3001 Hey thanks for the report. If you set the values on itunes connect and then do a `deliver init` Can you see the values that are set for the category and secondary category?

[2016-10-26 14:22] asfalcone commented on #6747
@klundberg I think the behavior you're seeing is different, and is expected. If you're running _deliver_ on CI you'll need to pass `force` so that you aren't prompted to confirm that the screenshots look good.

[2016-10-26 14:23] ff-ahumberston commented on #6751
output of command
`ls ~/Library/MobileDevice/Provisioning\ Profiles/
10192b18-3e06-4e40-9986-6a25dea618ae.provisionprofile   7ff853ab-e679-4aac-9040-52adcf687473.mobileprovision    c2dded3c-2152-4ed0-94d7-01a3715010fe.provisionprofile
25370d02-b7f8-4601-9c24-512772d60db7.provisionprofile   a96fea62-0d62-4596-b8bd-2a175550df4f.provisionprofile   cc55d165-5bb9-43c9-8edb-ccd04873c5fe.provisionprofile

[2016-10-26 14:24] MHPtbehrens opened #6758 "cert fails with error 'Connection reset by peer - SSL_connect'"
### New Issue Checklist
- [X ] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

Unfortunately cert terminates with the error below.

I went through all the motions and updated the ruby version on my machine.

It might be that cert uses the wrong ruby version.

Running
  ru

[2016-10-26 14:24] asfalcone commented on #6747
@swl367 Passing `ipa` to _deliver_ should be enough for it to gather the `app_identifier`

Can you confirm that the ipa you're passing to _deliver_ has `CFBundleIdentifier` in the plist?

[2016-10-26 14:32] swl367 commented on #6747
@asfalcone yes. I've been using deliver for a while now on over 200 apps. It's been working up until now! All of the projects I'm working on have the `CFBundleIdentifier` property.

[2016-10-26 14:38] summera commented on #5662
@chris-armstrong Agreed, but we can't assume we are in a rails environment either. I think a good place to store would be `/tmp` or `/var/tmp` since it's fairly safe to assume we are on a unix filesystem.

[2016-10-26 15:20] gabzsa commented on #1346
I am having the same issue. Build uploads fine to crashlytics, but no notifications are sent.

[code]

fastlane 1.106.2

[2016-10-26 15:22] bruno-rocha-movile commented on #6533
I got it to work by disabling automatic signing entirely. It's not the best solution, but it solves my problem for now.

[2016-10-26 15:27] tomachi commented on #5125
Had the same issue now.
This is my pilot:
`pilot(
    	skip_submission: false,
    	ipa: "STORE_BUILD/xxx.ipa",
    	apple_id: "xxxxxxxxxxx",
    	team_id: "xxxxxxxxxxxx",
    	distribute_external: false,
    	changelog: options[:changelog],
    )`

Also I have the "App Uses Non-Exempt Encryption" (ITSAppUsesNonExemptEncryption) flag in plist.

Received this error from fastlane:

Checking in iTune

[2016-10-26 15:51] bguidolim commented on #5341
It's already done, please run `fastlane action increment_build_number`, you will see all parameters supported, one of them is `xcodeproj`. So, on your lane `dev`, you can do this:

[code]

[2016-10-26 16:14] mcapelle commented on #5421
I have the same issue with cert.

@TKBurner I have executed the `brew update && brew install ruby` command.

I am using :
- fastlane 1.106.2
- cert 1.4.3
- ruby 2.3.1p112

Don't know if it helps.

[2016-10-26 17:00] KrauseFx commented on #6731
@dzungpv Did you update to the latest version of _deliver_?

[2016-10-26 17:30] Muthukathiravan commented on #6641
@TKBurner most of the devices does not have sdcard in above api level 21,so ly the screenshots can not retrive from the particular path..so this issue happened

[2016-10-26 17:59] faithfracture commented on #6237
I have updated to Fastlane 1.106.2 and Pilot 2.0.0. So far I have had 2 tvOS projects successfully upload to TestFlight when pilot is used in a lane, so this may have been fixed? I won't have an opportunity to upload an iOS bulid for a while, so I cannot yet comment as to whether or not this is specific to iOS projects or not.

How exactly would one test this with a blank Xcode project? Seems like

[2016-10-26 18:03] KrauseFx commented on #5662
@summera storing it in /tmp sounds reasonable to me, let me know if you find the time to prepare a PR for this 👍

[2016-10-26 18:44] danieljimenez commented on #6553
Is it not possible to get this working with the macOS system ruby? I'm running El Cap and am running into this issue.

[2016-10-26 18:51] #6750 closed

[2016-10-26 19:05] ohwutup commented on #6648
Hey @odrobnik! Thanks for submitting the issue... I tried reproducing this and found that using `nb` as @bjornoss stated is the best approach. While there a number of Norwegian localization options in Xcode, Norwegian Bokmål is the preferred standard and works alongside _deliver_ with screenshots and metadata being saved into `./fastlane/screenshots/no/` and `./fastlane/metadata/no/` directories r

[2016-10-26 19:11] summera commented on #5662
@KrauseFx submitted https://github.com/fastlane/fastlane/pull/6759

[2016-10-26 19:27] TKBurner commented on #6743
@wimbledon Awesome! Glad to hear you got up and running 👍

[2016-10-26 19:27] TKBurner commented on #6620
@MaximusMcCann Awesome! Thanks 👍

[2016-10-26 19:27] #6620 closed

[2016-10-26 19:30] TKBurner commented on #5662
@summera Awesome! Thanks, we'll work with you there 👍

[2016-10-26 19:31] TKBurner commented on #6533
@bruno-rocha-movile For now we don't support automatic signing with fastlane. Glad to hear you got up and running.

[2016-10-26 19:34] TKBurner commented on #6749
@prolog3001 Great idea! Right now it's not supported but I'm marking this as a feature request so we can see if anyone else is interested. Thanks!

[2016-10-26 19:35] TKBurner commented on #5318
@bartverhavert Awesome! So glad to hear you got up and running 👍

[2016-10-26 19:57] nubbel opened #6761 "[gym] `xcargs` ignored in export phase"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

When running gym with the `xcargs` option (e.g. `gym xcargs: 'MYARG=myvalue'`) these arguments are only passed to the first call to `xcodebuild`, i.e. the "archive phase", but not to the second

[2016-10-26 20:26] nikitaame commented on #6706
Hey @TKBurner thanks for the response. I'm working on putting together a sample project to post on here but in the meantime here is some more info on the error:

[12:52:23]: ▸ Linking Prod\
[12:52:23]: ▸ ❌  ld: library not found for -lPods-Prod - [APP_NAME] - TopShelf
[12:52:23]: ▸ ❌  clang: error: linker command failed with exit code 1 (use -v to see invocation)
[12:52:23]: ▸ ** ARCHIVE FAILED **

[2016-10-26 20:32] nikitaame commented on #6706
Here's my Fastfile. A very similar one works 100% for the iOS version of the app. The tvOS app seems to not be building with the TopShelf extension being included.

[code]

[2016-10-26 20:35] gvarela commented on #6237
Last build I did to testflight worked for me on latest Fastlane.

[2016-10-26 20:55] odrobnik commented on #6648
@ohwutup When you use languages no, does it pass nb as locale to Simulator?

[2016-10-26 21:38] stevekohls commented on #6739
I just discovered I can retrieve this information using Spaceship:

[code]

It would be a nice feature to retrieve this information via one of the tools. Perhaps `produce`?

[2016-10-26 21:53] KrauseFx commented on #6648
@odrobnik _snapshot_ doesn't modify the language codes, so it would just pass whatever you provide in your `Snapfile`.

You can also provide 2 values for one language, to define its exact locale (not sure if that helps):

[code]

[2016-10-26 21:54] KrauseFx commented on #6739
Hey @stevekohls, great idea, however this seems to not be something the majority of _fastlane_ users would use, therefore it shouldn't be part of any of the tools. The best solution is to build a [fastlane plugin](https://docs.fastlane.tools/plugins/create-plugin/) for this and provide it for everybody to use 👍

Let me know what you think.

[2016-10-26 21:56] michaelpetrov commented on #6758
I also ran into this issue today and looks like it was caused by my `sigh` cli utility using the system Ruby 2.0. I switched to rvm, reinstalled the fastlane gems, and it started working.

[2016-10-26 21:57] KrauseFx commented on #6427
@kylejm this looks awesome, thanks for sharing your findings. I'd love it if _pilot_ didn't have to wait for minutes for the build to process before setting the changelog.

Check out what values _pilot_ is currently setting after processing, and see if we can set all those values before already.

Distributing the build to beta testers still requires the build to be finished processing, right?

[2016-10-26 22:03] KrauseFx commented on #6758
Have you followed the instructions in your build output?

[code]

[2016-10-26 22:03] stevekohls commented on #6739
Thanks @KrauseFx. I'll look into creating a plugin. Right now I'm writing some Ruby scripts to automate our deployment processes. We manage Developer Program accounts for *many, many* customers, and it's useful for us to ping them when their developer program is about to expire.

[2016-10-26 22:31] timothy-volvo opened #6765 "Download of crashlytics-devtools.jar fails behind proxy"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

When using the crashlytics action without specify the crashlytics_path path, crashlytics_helper.rb attempts to download the jar, but fails when running behind a proxy. It appears 'Net::HTTP.get(

[2016-10-26 23:16] nikitaame commented on #6706
After doing some research, I'm feeling like this might be an issue with fastlane and extensions. I know cocoapods wasn't working with extensions until 1.1.0. Could their more recent fix to the issue not have been accounted for in fastlane?

[2016-10-26 23:34] vbresults commented on #5421
@TKBurner I got it resolved by installing ruby 2.3.1 with rbenv.

[2016-10-27 00:33] kevinnguy commented on #5066
I'm still getting this error with `gym 1.11.3`

[code]

[2016-10-27 00:37] chappejw commented on #6553
A couple key steps which are not mentioned here are that after updating your Ruby to version 2.3.1 etc ( at the time of this writing ), you will need to uninstall all of your ruby gems and re-install them to ensure everything is compatible, make sure you set your path to the new ruby in your .bash_profile or .bashrc, then re-install executable-hooks with the following command

`sudo gem install --

[2016-10-27 00:44] KrauseFx commented on #4002
I just pushed https://github.com/fastlane/fastlane/pull/6766, which will add instructions on how to fix the error right in the build output 👍

[2016-10-27 00:44] KrauseFx commented on #1873
I just pushed https://github.com/fastlane/fastlane/pull/6766, which will add instructions on how to fix the error right in the build output 👍

[2016-10-27 03:10] MHPtbehrens commented on #6758
I did.

[2016-10-27 03:11] MHPtbehrens commented on #6758
Well. I switched to ruby 2.3.1 via rvm and reinstalled fastlane. Did not help.

[2016-10-27 03:43] biolinh commented on #6055
@TKBurner no, I already set manual sigining in General tab in Xcode

[2016-10-27 06:29] liftoff-deploy commented on #1239
i'm facing this issue

Bot Issue for Mumo Bot (trigger error)
Integration #50 of Mumo Bot
Open in Xcode: xcbot://Liftoff’s MacBook Pro/botID/1328fcde84c1b9a245f92f401601bef4/integrationID/7d0a0cb167f6669a4afc3cd279062e0f

Assertion: Trigger script exited with code: 1 /usr/local/lib/ruby/gems/2.3.0/gems/fastlane-1.106.2/lib/fastlane/fast_file.rb:20:in `tr!': [31m[!] incompatible character encoding

[2016-10-27 06:51] odrobnik commented on #6648
@KrauseFx i.e. If the language in Snapfile is either nn or nb, then the sim language should be that, but the output folder name needs to be no

[2016-10-27 06:57] lieliefengzheng commented on #6729
the problem is solved.
pilot upload -u xxx@xxx -a xxx -i ${ipapath} -s --skip_submission true

[2016-10-27 06:57] #6729 closed

[2016-10-27 08:19] mcapelle commented on #5421
Installing ruby 2.3.1 with rbenv doesn't help for me.

[2016-10-27 08:41] speedy-afr commented on #6639
This is already the output of the verbose mode. When we connect the machine via a personal hotspot and disable the proxy the upload works fine.

[2016-10-27 08:53] iv-mexx opened #6768 "Match - 2FA - Fixnum is not a String"
### New Issue Checklist
- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

I've just activated 2FA for my apple account.
At first try, `match` worked fine (requesting the 2FA code), but `pilot` did not.

In https://github.com/fastlane/fastlane/issues/6171 I found a pro

[2016-10-27 09:11] iv-mexx commented on #6768
✅ Yes, I've seen the Code Signing Guide and thats why I'm using match.
❌ Its not a code signing issue, its an issue with 2FA

[2016-10-27 11:11] ildarsharafutdinov opened #6769 "error: No applicable devices found"
fastlane 1.106.1
Xcode 8

[code]

Here is the error:
[code]

However, if I copy and run the command manually in terminal export succeeds!
[code]

Any idea what goes wrong?

[2016-10-27 12:00] fotiDim opened #6770 "Find the currently published build number on App Store"
### New Issue Checklist
- [Y] Updated fastlane to the latest version
- [Y] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

This is a feature request I suppose. I need a way to be able to get the **currently published build number** on App Store. `Latest_testflight_build_number` returns the latest build number from m

[2016-10-27 12:12] hernangonzalez commented on #1164
I've been getting 100% of the time, so went ahead and run it manually. It fails for me with groups, so I created an `.sh` to run it with emails. Seems to be working all the time so far.
[code]
Issue is definitely within the Crashlytics submit tool in its framewok.

[2016-10-27 12:28] nubbel commented on #5824
It is pretty common to build the archive once and export multiple ipas, i.e. one for adhoc, one for in-house, and one for App Store distribution.
I would love to have to separate actions for that `gym_archive` and `gym_export`.

Better yet, gym would detect that the archive has already been built and skips that step. This would allow me to define the following sequence of actions:
[code]
Only the

[2016-10-27 12:31] prolog3001 commented on #6749
Thanks.
Because nowadays we make video clips that present the app functionality, and it is a real burden to open Safari... upload... save... wait... it ruins the great automatization process that fastlane has given us!

[2016-10-27 12:32] prolog3001 opened #6771 "Supply - as a deliver file"
will Supply ever have a deliver file rather than the meta folder and .txt files?

[2016-10-27 12:37] prolog3001 commented on #6748
That was a great idea!
Thank you.

[2016-10-27 12:39] tomachi opened #6772 "Supply - wait for "Update is live in the store" response from Google Play"
### Issue Description

Is there an option for supply to add a flag for waiting until the app hits the Play Store (same like in pilot you can wait for processing to be done).
Usually it can take couple of hours and we would like to send an automated email from jenkins to our testers when the app is live in the store.

Fastlane 1.105.3