[2015-08-03 14:09] skywinder commented on #468
@kohtenko opos, I just want to post it in #463. thanks. let's continue this discussion there.

About verison revert: Yep, it works. I uninstall 1.14.0 and install 1.13.1. and it works as expected!

[2015-08-03 20:35] alexsinger commented on #432
@barbelith can I take a look at your run script build phase?

[2015-08-03 22:53] #468 closed

[2015-08-04 01:05] thoughtcroft opened #469 "Error when running fastlane_update action"
fastlane_update action generated an exception "undefined method `version' for nil:NilClass"

See gist: https://gist.github.com/thoughtcroft/d00f88b628401f78d5b7

[2015-08-04 04:28] thoughtcroft opened #470 "commit_version_bump fails on updating marketing version"
It would be useful to be able to commit changes made using increment_version_number as well as increment_build_number but the former fails because the project.pbxproj file is not changed.

[code]

Can this be an optional file to be changed or not so that this useful action be used when incrementing either build or version numbers?

[2015-08-04 06:13] barbelith commented on #432
@alexsinger I'm using Fabric integrated via CocoaPods as explained here http://docs.fabric.io/ios/fabric/cocoapods.html

My build phase is:
./Pods/Fabric/Fabric.framework/run XXX XXX

[2015-08-04 08:22] fastlane-bot opened #1606 "Failed to submit"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/6879514?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @gianghd - Imported from <a href='https://github.com/fastlane/deliver/issues/295'>fastlane/deliver#295</a>
        </td>
      </tr>
    </table>

Hi,
I got this error when submit. How to fix it!!!
![error](https://cloud.g

[2015-08-04 09:02] KrauseFx commented on #470
[code]

[code]

Does the `force` option solve your problem?

[2015-08-04 09:07] KrauseFx commented on #469
Thanks for reporting @thoughtcroft

The issue is caused by
[code]

Maybe @milch could take a quick look at this?

[2015-08-04 09:57] mark5422 commented on #460
I added this and it didn't fix my issue. Building directly on the machine that runs Jenkins gave me a different error. It seems like it's down to an issue of sigh not finding the manually created profiles and making its own. It finds those just fine each time, just not the ones that were created for the project.

I'm having to do the signing with sigh and inject them into the project directly as i

[2015-08-04 11:13] KrauseFx commented on #460
@mark5422 I assume you don't have the private key and certificate on your Jenkins machine installed. How does `Jenkins` run? As its own user? Did you take a look at the Jenkins guide in the docs section of this repo?

[2015-08-04 11:15] besi opened #471 "Can't create a beta build"
When I upload my beta build I get the following error:

    fastlane beta

I did a couple of builds and only one of them was successful:

<img width="916" alt="screen shot 2015-08-04 at 19 18 44" src="https://cloud.githubusercontent.com/assets/160412/9059565/b6a74a26-3add-11e5-9f31-d4dc913ed673.png">

I have an `AppStore_XY.mobileprovision` file which I can run through:

     security cms -D -i Ap

[2015-08-04 11:21] KrauseFx commented on #471
@besi As far as I know the build should still work, it's just a warning. Can you verify that?

[2015-08-04 11:24] besi commented on #471
The build seems to work, that is true, but my testers can't test the new builds unless they contain the BETA Entitlement.

[2015-08-04 12:17] walsht opened #472 "Images removed on deliver"
What is the proper commands, just to send the build to Testflight? Anyway to just update the meta data without updating the screenshots?

I am using these commands and it is removing my screenshots because I removed the screenshots form the directory.  Once I put the screenshots back, I only get Chinese screenshots in the English localization.

[code]

[2015-08-04 14:02] mark5422 commented on #460
Jenkins runs as its own user. I did take a look at the Jenkins guide. Everything runs so long as I don't try and use a specific profile or build using a configuration that requires one. As soon as I do either I get the problem.

What I'm seeing right now is this

Code Sign error: Provisioning profile does not match bundle identifier: The provisioning profile specified in your build settings (“Sync

[2015-08-04 17:58] walsht commented on #472
Actually found that if I set the screenshots_path in the Deliverfile and put my screenshots there, everything works correctly.

[2015-08-04 17:58] #472 closed

[2015-08-04 22:12] fastlane-bot opened #1777 "Failure on 'send_login_request' from Jenkins job"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/5141862?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @trvslhlt - Imported from <a href='https://github.com/fastlane/sigh/issues/151'>fastlane/sigh#151</a>
        </td>
      </tr>
    </table>

I am unable to successfully connect to the developer center. I have confirmed th

[2015-08-05 05:43] #458 closed

[2015-08-05 09:23] milch commented on #469
Unless some tool changed its name with an update, I don't really see how this could cause a problem. `updated_tool` can't be nil, and the information from `highest_versions` is used to update in the first place.

[2015-08-05 09:25] sebastianmass commented on #460
Got the same issue, worked like a charm few days ago, did update and have this problem.

[2015-08-05 09:48] KrauseFx commented on #458
@cyupa How did you fix the issue?

[2015-08-05 11:00] KrauseFx commented on #471
@besi I worked on a new tool called [gym](https://github.com/fastlane/gym), if you have some time try building using `gym` and uploading the resulting ipa file.

[2015-08-05 12:29] Intellicode commented on #456
@kylejm, @KrauseFx  I found a solution

Instead of
[code]

Use
[code]

It seems that the blocks are not properly separated into platform/lane when they are defined in the way as described in the documentation. Unfortunately I don't know enough about the project so I wouldn't know where to look how these blocks are used and why the documented method doesn't work.

https://github.com/fastlane/creden

[2015-08-05 13:09] fastlane-bot opened #1605 "Feature: Screenshots downloading progress"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/1385441?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @bartl-git - Imported from <a href='https://github.com/fastlane/deliver/issues/296'>fastlane/deliver#296</a>
        </td>
      </tr>
    </table>

Is it posible to show screenshots downloading progress?
E.g. something li

[2015-08-05 13:09] fabiomassimo commented on #456
@Intellicode thanks for your feedback.

I'll look into this. Since last time I've worked on it version 0.7.0 has been released I just time to have an heads up about the changes and I'll figure out what is going wrong asap.

I'll keep you post.

[2015-08-05 13:15] besi commented on #471
@KrauseFx Thanks, I did revoke all the certificates and provisioning profiles again and now I have another "valid" beta build.

Can I test `gym` with fastlane already? I assume I just add an `sh` call to my `Fastfile`?

[2015-08-05 13:15] #471 closed

[2015-08-05 13:31] kylejm commented on #456
Thanks @Intellicode, I can confirm that this has fixed the problem.

And thanks @fabiomassimo for looking in to it further 😁

[2015-08-05 14:19] KrauseFx commented on #471
@besi Yes, there is no integration yet, so you'll have to call it from via the `sh` command :+1:

[2015-08-05 14:19] KrauseFx commented on #456
Was the some documentation still using the old syntax

[code]

or where do you have this code from?

[2015-08-05 14:20] KrauseFx commented on #456
Oh, it's right [here](https://github.com/KrauseFx/fastlane/blob/master/docs/Advanced.md#the-appfile). @fabiomassimo is this an easy thing to fix or do we update the documentation?

[2015-08-05 14:29] fabiomassimo commented on #456
@KrauseFx I'm going work on this in a couple of hours. Aiming to deliver later this evening.
I'll do my best to make this fix in next release (__1.14.2__)

[2015-08-05 15:35] rrecio opened #475 "Crash on put_build_into_beta_testing!"
![screen shot 2015-08-05 at 12 33 14 pm](https://cloud.githubusercontent.com/assets/52694/9089979/513c3c64-3b6e-11e5-8911-d9abcceff96b.png)

[2015-08-05 18:25] mark5422 commented on #454
The part I don't really understand is how to use the variables as it's not something I have experience with. Though at the moment because my requirement to do this is so infrequent I'm just changing it in the Appfile as needed.

Thanks.

[2015-08-05 18:25] #454 closed

[2015-08-05 20:40] fabiomassimo commented on #272
+1

[2015-08-05 21:31] rrecio commented on #475
happened again

![screen shot 2015-08-05 at 6 27 13 pm](https://cloud.githubusercontent.com/assets/52694/9098399/0ebb9eac-3ba0-11e5-9d46-f77c7efeb1e5.png)

[2015-08-06 09:38] KrauseFx commented on #475
Sorry, submitting the app for review is not very stable right now as it doesn't use `spaceship` yet, I'm already working on it: https://github.com/KrauseFx/deliver/pull/259

[2015-08-06 22:15] ignacioalles opened #477 "Set aps-environment entitlement to production"
When submitting an IPA to Apple Store aps-environment entitlement has to be set to production.
The error returned is:
ITMS-90046: "Invalid Code Signing Entitlements. Your application bundle's signature contains code signing entitlements that are not supported on iOS. Specifically, value 'development' for key 'aps-environment' in 'Payload/appname.app/appname' is not supported."]

resign.sh script s

[2015-08-07 07:05] fabiomassimo commented on #455
`lane :"release iap" do`
I'd suggest to change it to `lane :release_iap do` .

Same goes for `:"beta iap"`, which I'd suggest to change into `lane :beta_iap do`

Could you try this?

[2015-08-07 09:17] KrauseFx commented on #455
@fabiomassimo very good point, that will probably be the issue as we're converting the lane name to a symbol somewhere in the process.

I'll add some error handling showing a nice message when there is a space or special character in the lane name.

[2015-08-07 09:22] Khronoss opened #479 "Fastlane's error output"
Hello :)

I've been stuck for a while on build failure using Fastlane. In fact, everything went great when I tried using it on my local computer, but when I launched a build on a distant server, the build directly failed each time.
It seems you override the ipa's error output tu write yours :
[code]

But actually, this time it wasn't caused by a bad provisioning profile ! (Yes, it can happen some

[2015-08-07 09:40] KrauseFx commented on #456
This should be resolved when updating `sudo gem update credentials_manager` :+1:

[2015-08-07 10:24] KrauseFx commented on #479
Thanks for reporting this @Khronoss. You will be very happy to hear, that is exactly what I've been working on the last few days/weeks with [gym](https://github.com/fastlane/gym). `gym` will soon replace `shenzhen` does shows you exactly those kind of error messages.

Please try `gym` and let me know how it works for you :+1:

[2015-08-07 10:37] Khronoss commented on #479
Oh great ! :D I didn't see the doc of Gym until now =X

I can't promise you now for testing Gym, because (as an internship) I don't really want to take the risk of breaking the building process of our apps. But I'll talk about it to my tutor :)

Thank you ! \o

[2015-08-07 11:44] KrauseFx commented on #479
@Khronoss `gym` is not announced yet, that's why it's not in the docs. You don't need to integrate it into the build process - instead just run it manually for your project just by running `gym -s "scheme"`

[2015-08-07 12:01] Khronoss commented on #479
Okay, why not ? :)

[2015-08-07 12:06] bhagyas opened #480 "Introduce an automated translation toolchain"
The new tool in the fastlane chain should add translation and localization support for the existing apps and app store publishing process.

At minimum, it should support for the following.
- Defining languages to be translated into in configuration.
- Configuration of Google Translate API keys.
- Extraction of Strings from code for localisation.
- Modifying code to support localizable strings.
- C

[2015-08-07 12:15] KrauseFx commented on #479
Cool, thanks! I'll close this issue for now, feel free to add comments here :+1:

[2015-08-07 12:15] #479 closed

[2015-08-07 12:22] KrauseFx commented on #477
Have you tried deleting and re-generating your provisioning profile?

[2015-08-07 13:04] fastlane-bot opened #1604 ""deliver upload_metadata" doesn't create new version"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/1385441?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @bartl-git - Imported from <a href='https://github.com/fastlane/deliver/issues/298'>fastlane/deliver#298</a>
        </td>
      </tr>
    </table>

[2015-08-07 14:24] KrauseFx commented on #480
Thanks for your suggestion, but this feature is currently not planned. I'll close this issue for now, feel free to submit another issue :+1:

[2015-08-07 14:24] #480 closed

[2015-08-07 14:47] marcelofabri opened #481 "[Feature] Add overlay image on icons action"
I created an action to apply overlay images on icons as a part of our build process.

The result can be seen here:

![](https://www.dropbox.com/s/ar1wcm49s7o7tlz/playkids-icons.png?dl=1)

I posted the action on a Gist (https://gist.github.com/marcelofabri/ac3884d6170ee6414257) to gather feedback before creating a PR. It's not very generic yet because we don't need it now.

[2015-08-07 14:57] KrauseFx commented on #481
This looks nice :+1:

Some notes:
- You can remove `ADD_ICON_OVERLAY_CUSTOM_VALUE`
- `mini_magick` should be added as dependency for `fastlane` in the `fastlane.gemspec`
- If the path to `appiconset_path` is wrong, this will modify and replace all the `png` files there, right?

How do you use it? Do you store the resulting image in git? Or do you use this action and then do a `git reset` afterward

[2015-08-07 15:07] marcelofabri commented on #481
Yep. Any ideas to make it better?

I don't store them, doing a git reset after. This is because each lane can use a different overlay, so it doesn't make sense for us to commit. Only the "clean" version is versioned.

[2015-08-07 15:08] kylejm commented on #456
This fixes it! \o/

[2015-08-07 15:08] fabiomassimo commented on #456
🚀

[2015-08-07 15:10] KrauseFx commented on #456
Yeah, so great to hear this is resolved! Thanks again @fabiomassimo :+1:

[2015-08-07 15:33] ignacioalles commented on #477
Mi provisioning profile has aps-environment set to production but the IPA I was resigning was generated with development value.

As far as I can see in resign script, most of entitlements is preserved from IPA, isn't it?

[2015-08-07 15:37] #455 closed

[2015-08-07 15:38] KrauseFx commented on #455
I just pushed https://github.com/KrauseFx/fastlane/commit/62f46132cb70a4b1ad893ed5560374e861a7e6cf which improves the error handling of lane names :+1:

[2015-08-07 15:46] angelolloqui commented on #331
Same issue here! I was also expecting an archive operation. @KrauseFx, when you say you are working now in a new tool, do you expect it within weeks time or months time to be released? I am setting up a new CI server and I would love to see this in there :)

Thank you so much for your awesome work!

[2015-08-07 18:19] mmlittle opened #482 "Trying to upload to Testflight Beta and getting permission denied error..."
Hi,

So first off I'm new to Fastlane, so pardon stupid stuff.

I'm trying to push to TestFlight with "fastlane ios beta",  The app builds ok but fails when connecting to iTunes Connect.  I did this successfully with another app yesterday, so I'm just looking for help narrowing down the possible problems.  And yes, I did the DELIVER_USER and DELIVER_PASSWORD environment variables.  Thx

[13:14:46]

[2015-08-07 18:22] KrauseFx commented on #482
Could you please share your `Appfile`, `Fastfile` and let me know how you set the environment variables?

[2015-08-07 18:25] mmlittle commented on #482
app_identifier "cx.xxxxxxx.Bxxxx" # The bundle identifier of your app
apple_id "gxxxx@wxxxxxxxxxe.com" # Your Apple email address

# You can uncomment any of the lines below and add your own
# team selection in case you're in multiple teams
team_name “xxxxxxx xxxx, LLC”
team_id "4xxxxxxxxH"

# you can even provide different app identifiers, Apple IDs and team names per lane:
# https://github.com/K

[2015-08-07 18:29] mmlittle commented on #482
<img width="640" alt="fas" src="https://cloud.githubusercontent.com/assets/2903463/9142899/5bd055ca-3d08-11e5-8991-ca6a21df6b65.png">

[2015-08-07 18:32] mmlittle commented on #482
I set my environment variables by adding these two lines to my ~/.bash_profile.  And yes, I did restart the terminal window.

export DELIVER_USER=xxx@xxxxxxxxxx.com
export DELIVER_PASSWORD="xxxxxxx xxxxxxxxxx xxxx xxxxx!"

[2015-08-07 18:51] mmlittle commented on #482
Here's the tail of the log.

[13:49:22]: Permission denied - /tmp//0.itmsp//metadata.xml

+------+-------------------------------------+-------------+
|                     fastlane summary                     |
+------+-------------------------------------+-------------+
| Step | Action                              | Time (in s) |
+------+-------------------------------------+-------------+
| 1

[2015-08-07 19:02] KrauseFx commented on #482
This is the same issue as https://github.com/KrauseFx/sigh/issues/147#issuecomment-126211994

You have to change the `"`, let me know if you need help doing that :+1:

[2015-08-07 20:43] mmlittle commented on #482
Thanks, I got that one fixed but still having this issue.

<img width="1290" alt="log" src="https://cloud.githubusercontent.com/assets/2903463/9145571/10e091d4-3d1b-11e5-9ff3-00f7bcab7161.png">

[2015-08-07 22:05] KrauseFx commented on #482
I'm confused, where does the `[[APP_VERSION]]` and `[[APP_IDENTIFIER]]` come from?

[2015-08-08 09:41] robertjpayne opened #484 "dsym_zip action should allow zipping of all dsyms, not just the app dsym"
Currently if you feed an xcarchive to `dsym_zip` action it will only pull out the app dsym. With iOS 8 and prevalence of dynamic frameworks there's typically loads of dsyms that need to be included for proper symbolication.

Was curious if this is something that should be a flag `all: true` or just a default?

[2015-08-08 09:47] KrauseFx commented on #484
Sounds good, the action can be found [here](https://github.com/KrauseFx/fastlane/blob/master/lib/fastlane/actions/dsym_zip.rb) if you want to add this functionality :+1:

[2015-08-08 09:48] KrauseFx commented on #484
Probably a `all: true` would be a good idea as we don't want to break/change existing setups.

[2015-08-08 10:12] robertjpayne commented on #484
@KrauseFx done via the PR, it's an optional and defaults to false.

[2015-08-08 10:32] #484 closed

[2015-08-08 10:33] KrauseFx commented on #484
Thanks for the pull request @robertjpayne! Fastest response time :rocket:

[2015-08-08 10:45] KrauseFx commented on #331
@angelolloqui You can already give the new tool a try [here](https://github.com/fastlane/gym). Let me know of anything that should be improved before the initial release :+1:

[2015-08-08 11:21] robertjpayne opened #486 "Action.sh destroys any stdout formatting from subprocess"
Using `xctool` because it has superior formatting and less buggy than `xcpretty` with Fastlane results in `xctool` having its output formatting stripped quite a bit.

Would it be reliable to allow a stdout pipe rather than reformatting the log line by line?

[2015-08-08 13:19] robertjpayne commented on #326
@KrauseFx think this is still broken, I just had to clear out `/tmp/spaceship_api_key.txt` :(

[2015-08-08 13:28] robertjpayne commented on #326
@KrauseFx this still exists, there's some issues with how the certificates are trying to be loaded on a multi-user system, I'm still getting build errors too:

[code]

[2015-08-08 19:50] rrecio opened #488 "Problem running fastlane from crontab"
It works fine in Terminal, but when running in crontab I get this:

![screen shot 2015-08-08 at 4 49 12 pm](https://cloud.githubusercontent.com/assets/52694/9151975/8dd7407a-3ded-11e5-830f-57954e34b0e1.png)

[2015-08-08 21:56] KrauseFx commented on #488
Your shell environment is not correctly configured
Instead of UTF-8 your shell uses US-ASCII
Please add the following to your '~/.bashrc':
[code]
You'll have to restart your shell session after updating the file.
If you are using zshell or another shell, make sure to edit the correct bash file.
For more information visit this stackoverflow answer:
http://stackoverflow.com/a/17031697/445598

[2015-08-08 22:16] fatuhoku commented on #477
+1 I've run into this issue as well just now.

[2015-08-08 22:37] fatuhoku commented on #477
I don't understand enough about what on earth `aps-environment` is supposed to be. It's not a configuration setting, you can find anywhere...  all I know is that it's something related to push notifications.

[2015-08-08 22:39] fatuhoku commented on #477
I am pretty sure that the provisioning profile I'm working with is not outdated (i.e. generated before the Push Notifcation certificate was generated); because it's worked for me in the past.

[2015-08-08 22:50] fatuhoku commented on #477
I think Xcode might have built the IPA with code signing for `Development` in mind (see my explanation in fastlane/examples#2) and therefore included development entitlements (???) into the IPA, which `resign` doesn't pick up on. Is that how it works? :S

[2015-08-09 04:25] robertjpayne commented on #326
So the really TLDR; of this is Codesigning via Jenkins is REALLY hard to get right. It seems sometimes it'll just 'work' but most of the time it'll just fail. My solution was to:

* Ensure Jenkins is running with a user session, so default keychains are mounted
* Create a custom `codesign.keychain` in `~/Library/Keychains` and ensure this keychain is the top in the left hand list of keychains in K

[2015-08-09 07:10] mmlittle commented on #482
Um.. Dunno, I didn't write this.

I'm still getting this - any idea?

THx

Retina:BTS mike$ fastlane ios beta
[01:59:51]: -------------------------------------------------
[01:59:51]: --- Step: Verifying required fastlane version ---
[01:59:51]: -------------------------------------------------
[01:59:51]: fastlane version valid
[01:59:51]: ------------------------------
[01:59:51]: --- Step: defa

[2015-08-09 08:37] mmlittle commented on #482
When I try to just run deliver this is what I get.

Retina:BTS mike$ deliver testflight
Could not automatically find the app ID, please enter it here (e.g. 956814360):  45XXXXXXVH
[03:30:23]: Ready to upload new build to TestFlight (com.wexxxxxxe.BradleyTest - 45XXXXXXVH)
[03:30:23]: Uploading ipa file to iTunesConnect
[03:30:23]: Going to upload updated app to iTunesConnect
[03:30:23]: This might

[2015-08-09 09:03] robertjpayne commented on #272
Looks like this is caused because `xcodebuild` exporting from the CLI doesn't archive in the `archived-expanded-entitlements.xcent` file that Xcode itself does.

I'm looking at solutions but a build action running this seems to do a better job of not touching the package.

`/usr/bin/xcrun -sdk iphoneos PackageApplication -v /Path/To/Archive/name.xcarchive/Products/Applications/name.app -o /Path/To

[2015-08-09 10:36] #486 closed

[2015-08-09 14:40] tomassliz commented on #465
I tried to create a new clean application and everything seems to work. I need to figure out what I'm doing wrong in my app.

[2015-08-09 19:44] fastlane-bot opened #1603 "Existing screenshots sometimes is not downloaded properly"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/1385441?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @bartl-git - Imported from <a href='https://github.com/fastlane/deliver/issues/300'>fastlane/deliver#300</a>
        </td>
      </tr>
    </table>

There is black areas at the bottom of screenshots.

I attach one such fil

[2015-08-09 20:12] fabiomassimo commented on #272
nice catch @robertjpayne .
I've found this interesting too: http://stackoverflow.com/questions/23682083/xcodebuild-not-copying-file-from-app

The winning answer cleared up my mind a little bit.

[2015-08-10 10:19] fastlanebot opened #2067 "Support for Passbook (Pass Type IDs, certificates)"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/1743753?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @estebanbouza - Imported from <a href='https://github.com/fastlane/spaceship/issues/88'>fastlane/spaceship#88</a>
        </td>
      </tr>
    </table>

For what I have seen, spaceship does not support the creation of Pas

[2015-08-10 10:22] KrauseFx commented on #272
As you know I've been working on [gym](https://github.com/fastlane/gym) which uses the latest API to build and sign your app. Please give it a try by passing a valid provisioning profile and let me know if that works for you.

[2015-08-10 10:34] fabiomassimo commented on #272
In case someone is interested I'm currently implementing the `xcrun` export command on my `gym` fork.
It's currently under test with my projects but in case you want to give it a spin: https://github.com/fabiomassimo/gym

[2015-08-10 13:43] Intellicode commented on #456
Unfortunately, the fix broke the other method of specifying the lane/platform specific configs in app files.

[code]

When using the following construct with version `0.7.1`:

[code]

The following worked:
[code]

[2015-08-10 13:48] fabiomassimo commented on #456
Interesting.
Could you try to use

[code]

[2015-08-10 14:20] Intellicode commented on #456
That seems to work too, thanks!

[2015-08-10 14:22] fabiomassimo commented on #456
I wonder how this bug passed the internal tests.
I'll take care to look up what is going wrong with your configuration.
Thanks for your feedback.

[2015-08-10 16:21] angelolloqui commented on #331
I just tried and I get an error:

[code]

but the nice thing about your tool vs shenzhen is that I got a better message just before this error:

[code]

So at least it is providing me with valuable feedback... I will continue checking why this happens later this week (I have no time now).

Thanks!

[2015-08-10 22:24] KrauseFx commented on #331
@angelolloqui yes, that was the goal of `gym`: You get a minimal output when everything works fine and get as much relevant information as possible if the build fails.

[2015-08-10 23:15] mark5422 commented on #455
I think this issue ultimately ended up being trying to run fastlane via ssh which didn't work.

[2015-08-11 06:15] Srthk opened #492 "Produce not fetching app_name automatically from Fastlane"
On running `fastlane deploy app_name:McDonaldsZom version:1.0`, the fastlane detects the app_name automatically but the produce command prompts for the app_name again as seen in the screenshot. On explicitly provide app_name inside `produce ( ... )`, it detects the app_name. So, is it possible to pass the app_name directly via fastlane deploy or is the app_name stored somewhere in an Environment v

[2015-08-11 10:08] KrauseFx commented on #492
You didn't share your `deploy.sh` or `Fastfile`, but I assume: Try passing the name to the `produce` action:
[code]

[2015-08-11 10:26] KrauseFx commented on #456
@fabiomassimo do you want to add a test and a fix for it or should I do it?

[2015-08-11 10:30] fabiomassimo commented on #456
In the official docs https://github.com/KrauseFx/fastlane/blob/master/docs/Appfile.md
We discourage that kind of syntax, therefore I do not see this as a major issue.
I'd like to take care of this but I won't work on it before tomorrow evening.

[2015-08-11 10:32] KrauseFx commented on #456
The problem is that we previously had this in the documentation so existing setups still use this kind of syntax. I'll work on a fix today

[2015-08-11 10:47] iainsmith commented on #481
I was hoping someone had already built this. 😀

It can also be very helpful to add either the first few characters of the sha-1 or the build number. That way everyone can easily see exactly what build they have.

[2015-08-11 11:19] simoncoulton commented on #401
Also coming here to mention this is affecting me as well, building from Xcode works fine however. I can submit new builds to TestFlight in my `fastlane ios beta` command, but `fastlane ios deploy` seems to give the original issue that @skywinder mentioned. `agvtool what-marketing-version` does return the correct version number as well.

[code]

[code]

Using @skywinder's workaround above does seem

[2015-08-11 11:21] KrauseFx commented on #401
@simoncoulton

Could you clarify? What's different?

[2015-08-11 11:30] simoncoulton commented on #401
The output_path's are different, `certificates` vs `../certificates` in the `beta` lane. If I made them the same, I got an error about one of the directories not existing (it would create the cert one within /fastlane/certificates, where as sigh would create it in the parent of /fastlane).

@skywinder's original issue is occurring with the latest fastlane and deliver.

[2015-08-11 13:36] Intellicode commented on #456
Actually, when we tested (on 0.7.1)
[code]
it ignored the app_identifier, instead we use `for_lane "ios beta" ` now for my coworker who is on 0.7.1

[2015-08-11 13:45] czechboy0 opened #494 "Add multiple choice selection to the Prompt action"
Used in [`line_manager`](https://github.com/KrauseFx/fastlane/blob/5e9510c98481388d75d8b519357a711e4f15187a/lib/fastlane/lane_manager.rb#L97), it'd be nice to add this utility to the Prompt action. The goal is to be able to call `selection = prompt(text: "Which cat?", choices: ["happy", "fluffy", "furry"])` and have the user be able to just input the index of the choice, getting back `fluffy` if I

[2015-08-11 13:54] KrauseFx commented on #494
Ah, back then I was still young, there is a much cooler way to do that: https://github.com/fastlane/gym/blob/master/lib/gym/detect_values.rb#L62-L63

But yes, having this as a `fastlane` action as past of `prompt` sounds great! :

[2015-08-11 19:26] rrecio commented on #488
This helped with the encoding problem, also had to run `rvm cron setup` so `update_fastlane` and `cocoapods` actions could run without ruby environment problems.

I'm still stuck on this code signing error:

![screen shot 2015-08-11 at 4 21 31 pm](https://cloud.githubusercontent.com/assets/52694/9207727/b68332ea-4045-11e5-9f27-784c9580cfbd.png)

[2015-08-11 20:15] bartoszj opened #495 "Blocks / loops no longer works in Appfile"
In previous version of Fastlane (0.15.0) I was able to use blocks / loops to make something like:

[code]

But since version 0.16.0 I'm receiving this error:
[code]

[2015-08-11 20:21] rrecio commented on #488
I'm stuck in sigh asking for Password:
Even though I have added `DELIVER_USER` and `DELIVER_PASSWORD` to crontab environment

[2015-08-11 20:43] rrecio commented on #488
Unlocking keychain using `security unlock-keychain -p password ~/Library/Keychains/login.keychain` seems to resolve sigh asking for password.

[2015-08-11 20:45] rrecio commented on #488
Even though I'm still stuck on the error in the screenshots below. It may be related to the environment because it runs fine in my user shell.

![screen shot 2015-08-11 at 5 39 13 pm](https://cloud.githubusercontent.com/assets/52694/9210081/908b021a-4050-11e5-9b57-b346c969494a.png)

[2015-08-12 05:02] Srthk commented on #492
Thanks. Adding this to my fastfile worked -
`lane :deploy do |options|
    #cert
    produce(
    app_name: options[:app_name]
    )`

[2015-08-12 13:02] DenHeadless commented on #457
@KrauseFx Latest fastlane(1.16.0) works correctly and updates What to test section in TestFlight.

Thank you!

[2015-08-12 13:02] #457 closed

[2015-08-12 14:01] rrecio commented on #488
The only workaround I figured is to don't execute sigh in the lane that runs on crontab.

[2015-08-12 19:19] crylico opened #498 "Resuming a lane that got cancelled"
Hey, I think it would be pretty neat to have the ability to start off after the last successful action.

For example, if a lane looks like

    lane :beta do
        increment_build_number
        sigh(....)
        gym(....)
        crashlytics(....)
    end

and for some reason, crashlytics fails (perhaps the network request failed due to poor connection), it would be awesome if you could resume

[2015-08-12 19:20] KrauseFx commented on #457
Great to hear :+1:

[2015-08-12 19:22] KrauseFx commented on #492
Great to hear :+1:

[2015-08-12 19:22] #492 closed

[2015-08-12 19:22] KrauseFx commented on #495
That's not good, I'll look into it as soon as possible.

[2015-08-12 19:28] KrauseFx commented on #498
I love the idea. I'd have to carefully think about any side effects that may occur, e.g. restoring the lane context and the environment variables (which may contain sensitive data).

I really like the idea, thanks for letting me know :+1:

[2015-08-13 06:04] simoncoulton commented on #456
Currently failing for me too (on the latest fastlane), and doesn't give me the correct app identifier.

[code]

Each of those lanes does use a private lane as well

[code]

Wondering if the private lane is somehow overriding it? Is what I'm doing a bit of an edge case?

[2015-08-13 09:23] KrauseFx commented on #456
@simoncoulton You are specifying the `for_platform` block but seem to not have a platform in your `Fastfile`? Could you try to wrap the lanes in a `platform` block?

[2015-08-13 11:12] simoncoulton commented on #456
Apologies, it's already in a for_platform block, I should have been clearer in that respect. Also using default_platform.

[2015-08-13 11:44] KrauseFx commented on #495
I can reproduce this issue and am working on a fix.

[2015-08-13 14:34] gdunnjr opened #499 "Signing without logging into to dev account"
It appears that in order to use ipa and sigh for signing apps, I would have to provide my apple developer account username and password and store them in environment variables on the build server. Since we are going to use a cloud based CI Server this is a security concern.

Using CircleCI I was able to write shell scripts to create a keychain using the specific signing cert and private cert I had

[2015-08-13 16:24] KrauseFx commented on #488
Please share the output below the `fastlane finished with errors`

[2015-08-13 21:00] ellucianBret opened #500 "beta_pa path is relative to the fastlane directory, not the project directory"
To have deliver(beta: true) pick up my ipa file that was exported to ./build by xcexport. I had to set beta_ipa in Deliverfile and its path was relative to the ./fastlane directory.

I had to use "../build/My App.ipa"

Also, I see that xcexport sets Actions.lane_context[SharedValues::IPA_OUTPUT_PATH], however it doesn't seem to get picked up by Deliver. Should it?

[2015-08-14 02:56] fastlane-bot opened #1793 "Error on produce step"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/6879514?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @gianghd - Imported from <a href='https://github.com/fastlane/produce/issues/70'>fastlane/produce#70</a>
        </td>
      </tr>
    </table>

Here is my logs.
Maybe ithis problem is "Unauthorized access" but I don't kno

[2015-08-14 10:19] sduperron-viadeo opened #501 "Get current build number and current version number"
In our workflow, I want to be able to tag git using the current version and build numbers, then increment the build number.
Right now, it is not possible in fastlane to access these informations without incrementing first.

In my Fastfile, I have setup a workaround using these (hacky) functions:
[code]

It would be nice to have these as actions in fastlane (e.g. `get_build_number` and `get_version

[2015-08-14 10:27] KrauseFx commented on #501
Great idea, you can follow this short [guide](https://github.com/KrauseFx/fastlane/tree/master/docs#extensions), let me know if you need any help :+1:

[2015-08-14 11:29] bartoszj commented on #495
There is a small progress since version `0.17.0`. Now when I'm running Fastlane I'm receiving:

[code]

It is asking me for Apple ID, but I've just provided it in the Appfile.

When I remove `for_platform` and use only `each` block with `for_lane` everything starts working.

[2015-08-14 16:38] fatuhoku opened #503 "Action to inject a specific properties file to override one in an IPA?"
Staging and production builds only differ by a few string values.

The build process (cocoapods, ipa / gym) is virtually identical in the most part.

It'd be great if it's possible to break open an IPA, replace a `server-keys.properties` file, and then off the IPA goes to a different `deliver` process!

[2015-08-14 21:02] Liquidsoul opened #506 "'fastlane test' failing"
Hi @KrauseFx !

I have this error when I run `fastlane test` in `fastlane` repository or in `gym`:

[code]

It's a permission issue when trying to install the gem. Executing `sudo fastlane test` works.

But I'm wondering if I may be missing something else or if it could be possible for the script to ask for `su` permission when reaching this step ?

[2015-08-15 04:51] Froelund commented on #394
I encountered this exact issue. When the fastlane tools got to the ipa step, it just got stuck.
I fixed this by making my Scheme shared
Xcode -> Product -> Scheme -> Manage Schemes...

[2015-08-15 09:08] KrauseFx commented on #394
Also, check out the new project [gym](https://github.com/fastlane/gym) which makes building much easier :+1:

[2015-08-15 09:11] KrauseFx commented on #506
You will need to setup `rvm` to enable the `sudo less` installation. If you don't want to install `rvm`, `sudo fastlane test` is the way to go :+1:

[2015-08-15 09:11] #506 closed

[2015-08-17 05:28] fastlane-bot opened #1602 "How to change IDFA value to 'Yes' using Deliver in final step of submit for review?"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/7152922?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @Srthk - Imported from <a href='https://github.com/fastlane/deliver/issues/306'>fastlane/deliver#306</a>
        </td>
      </tr>
    </table>

By default the options after "Submit For Review" are select as "No" by Fastla

[2015-08-17 10:28] Liquidsoul opened #508 "Cannot have access to cross-platform lanes"
I have set up some cross-platform (aka general) lanes, but I cannot call them.
If I call `fastlane general_lane` I have this error:
`Could not find lane 'ios general_lane'. Available lanes: ios platform_lane, general_lane`

If I call `fastlane` it only prompts me for the ios lane:
[code]

And the lane `platform_lane` can be called using `fastlane platform_lane` with no error.

Here is the Fastfile

[2015-08-17 10:30] KrauseFx commented on #508
Thanks for reporting this. Was this introduced with one of the last updates?

[2015-08-17 11:53] Liquidsoul commented on #508
I don't think so. I tried with version 1.15.0 and it has the same issue.

[2015-08-17 12:28] lukaskubanek commented on #281
Hi @KrauseFx, at the last CocoaHeads meeting in Dresden I've heard that it should be possible to run actions without the need to create a lane. I'd like to ask whether this feature has already been implemented, because I can't find any documentation about it.

[2015-08-17 12:59] KrauseFx commented on #281
@lukaskubanek It's not possible, but now you can also pass parameters to your lanes from the CLI.

[2015-08-17 13:19] lukaskubanek commented on #281
Thanks for the info!

[2015-08-17 13:22] Liquidsoul commented on #470
I ran into a similar issue here:
[code]
My tests `Info.plist` did not change because it does not contain versioning information.

I think the problem may be that the action expects that _all_ files must change during the process while it should check for changes in a subset of these files.

`force` can be used as a workaround.

[2015-08-17 16:54] KrauseFx commented on #470
Thanks, this will be fixed in the next update :+1:

[2015-08-17 16:54] #470 closed

[2015-08-17 16:59] Liquidsoul commented on #508
The problem seems to come from `default_platform :ios`.
If I remove this I can access all the lanes.
However, I have to be explicit for `ios` lanes (e.g. `fastlane platform_lane`).

[2015-08-18 02:57] coreyfloyd commented on #349
Just had this issue today. I am at home, not behind a fire wall.

The same setup worked yesterday - so I was confused. I was using a very old version of Sigh (0.5.2). I updated everything to the latest, and I immediately started to get the 400 Bad Request Error.

After reading this thread, I made a few changes to my Sigh command:

[code]
to
[code]
After that it worked!

However, I wanted to be sur

[2015-08-18 03:13] coreyfloyd commented on #481
@marcelofabri Awesome work!

As for improvements, I agree with @iainsmith - It would be great to pass arbitrary text and maybe a color so we can customize the overlay at build time.

I currently have something like this in my Xcode build phases. We use image magic to overlay the build number and the build type (beta/alpha/etc…).

It looks something like this:

[code]

[2015-08-18 09:36] KrauseFx commented on #481
@coreyfloyd agreed, instead of providing multiple images, passing a color + text and maybe a font should be the way to go :+1:

[2015-08-18 12:16] pvegh opened #510 "Fastlane should stop at the first error"
For example:
[code]

I think since the first line produces an error, everything below it should not be executed (Building a pod, processing and compiling).
It seems to be a waste of time since the build is broken anyway. I'm not sure exactly how fastlane works, so it may not be possible or I might be reading the output incorrectly, but I thought it is worth opening an issue.
Fail fast!

[2015-08-18 12:25] pvegh commented on #258
Thanks!

[2015-08-18 13:38] KrauseFx commented on #510
@pvegh I agree. Can you share more information about your setup? Do you use the `ipa` or the `gym` action to build your app? Also, it looks like you're using an outdated version of `fastlane`, can you share `fastlane -v`?

[2015-08-18 13:43] KrauseFx commented on #508
This is definitely something I want to fix, please remove the `default_platform` for now to make it work, it will probably take a few more weeks until I can get this resolved.

[2015-08-18 13:58] KrauseFx commented on #500
Regarding the `IPA_OUTPUT_PATH`: does that work in the latest version for you?

About the folder: Yes, that's an issue I'm aware of, I'm not sure if I should change that behaviour, as there are existing setups that might break.

When `fastlane` passes paths, like the `ipa_output_path` it usually resolves the path to be absolute to not run into this issue.

[2015-08-18 13:59] KrauseFx commented on #503
I assume that should be part of [gym](https://github.comf/astlane/gym), right?

[2015-08-18 13:59] KrauseFx commented on #503
So you want to modify an existing ipa file (extract, modify and compress again) to replace/change just a few files?

[2015-08-18 14:06] Liquidsoul commented on #508
I'll do that. :+1:
I tried to see if I could make the fix, but I do not feel comfortable enough to make it because of all the potential side effects.

[2015-08-18 14:09] KrauseFx commented on #508
Thanks, but you're right, it's code that's very near the core of `fastlane` :+1:

[2015-08-18 14:27] sreilly commented on #460
This is a jenkins and not a fastlane issue, so it can be closed.  One solution is to set the locale environment variables at the beginning of the shell script step.

[2015-08-18 17:04] ellucianBret commented on #500
How about adding an ENV variable with the full path?

Though I am not sure it works to use a ENV var in the Deliverfile. Does it?

[2015-08-18 17:28] KrauseFx commented on #460
:+1:

[2015-08-18 17:28] #460 closed

[2015-08-18 18:34] fatuhoku commented on #503
Yes. It's a use-case that could potentially optimize on calling fastlane once rather than twice (I currently do this manually!).

[2015-08-19 03:36] besi commented on #310
Same problem here, it takes two minutes to display the version (!):

[code]

[2015-08-19 07:00] besi commented on #385
I am now using the full fastlane suite and I can successfully build my ipa and upload it. But once it is uploaded Apple rejects it and tells me this:

    Return status of iTunes Transporter was 1: ERROR ITMS-90161: "Invalid Provisioning Profile. The provisioning profile included in the bundle com.company.myapp [Payload/myapp.app] is invalid. [Missing code-signing certificate]. A Distribution Prov

[2015-08-19 08:05] yuriy-tolstoguzov opened #511 "Oclint action fails when provided regex for excluding classes from Pods?"
I use fastlane-1.17.1, but will try to update it soon. I created next lane for testing my code:
[code]

Regex I took from this answer: http://stackoverflow.com/a/406408/2122979
I've tried also `/^((?!Pods).)*$/` with same result. It works fine if I comment select_regex line.

It fails
[code]

[2015-08-19 08:34] yury-taustahuzau commented on #511
Tried on `fastlane-1.18.0`. Still does not work

[2015-08-19 08:36] KrauseFx commented on #310
Sorry about that @besi, but there is not much I can do except adding notes to the documentation.

[2015-08-19 08:37] KrauseFx commented on #385
@besi Please follow the code signing guide: https://github.com/KrauseFx/fastlane/blob/master/docs/CodeSigning.md

[2015-08-19 09:47] besi commented on #310
@krausefx: not a problem. I just thought I post my case and copy the solution into this issue.

[2015-08-19 09:56] pvegh commented on #510
Let's not worry about this right now, I think I will just switch to gym, the description is very promising.
All I wanted to say with the issue is the tool should fail faster and print better errors, which is exactly what gym is all about :)

[2015-08-19 11:41] KrauseFx commented on #510
Okay, great to hear :+1: I'll close the issue then

[2015-08-19 11:41] #510 closed

[2015-08-19 11:43] fastlane-bot-helper opened #1870 "Is there a way to hide some of the warnings"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/24282?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @lacostej - Imported from <a href='https://github.com/fastlane/gym/issues/48'>fastlane/gym#48</a>
        </td>
      </tr>
    </table>

Now that I got to see what a clean output is, I want more!

I have a project containin

[2015-08-19 12:47] fastlane-bot opened #1601 "Use same screenshots for all languages"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/5758694?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @osmanertem - Imported from <a href='https://github.com/fastlane/deliver/issues/308'>fastlane/deliver#308</a>
        </td>
      </tr>
    </table>

Hi,
Thank you for developing great tools like deliver. I really apprecia

[2015-08-19 13:55] KingOfBrian opened #514 "set_build_number_repository implementation"
First off, I'm a fan of using the git sha as the build number. I don't like that the current implementation modifies the `.plist` files though. Is there any chance this could be converted to a build variable -- like $BUILD_NUMBER which could then be passed into the build process?

I like this better because the build is not changing the source code, and if the `.plist` files were committed by acci

[2015-08-19 14:56] KrauseFx commented on #514
I'm not using SVN myself, feel free to submit a pull request to extend the integration. Please make sure to not break any existing setups if you do so. If you prefer, you can use `fastlane new_action` to create your own local action, which might be easier :+1:

[2015-08-19 15:22] BobObiPayleven commented on #400
it happened to me just delete the app and recreate it on hockey and you are done

[2015-08-19 18:04] fastlane-bot-helper opened #1869 "Add Symbols folder to the ipa"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/680442?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @CraigSiemens - Imported from <a href='https://github.com/fastlane/gym/issues/51'>fastlane/gym#51</a>
        </td>
      </tr>
    </table>

It would be great if there was an option to add the `Symbols` folder to the `ipa`

[2015-08-19 21:46] fastlane-bot-helper opened #1921 "possible to retrieve just latest version number for app?"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/504052?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @jonsajdak - Imported from <a href='https://github.com/fastlane/pilot/issues/20'>fastlane/pilot#20</a>
        </td>
      </tr>
    </table>

 pilot builds --apple_id DDDDDDD  -u first.last@domain.com

This returns a nice

[2015-08-20 07:58] orschaef commented on #258
Perfect!

[2015-08-20 09:36] mark5422 opened #516 "pilot and fastfile"
Can you tell me if pilot can be used within a fastfile? I’m seeing action not found errors when I try to do so.

[2015-08-20 10:05] KrauseFx commented on #516
Sorry, that's not implemented yet: https://github.com/fastlane/pilot/issues/18

What would you want to use it for? Uploading builds to TestFlight?

[2015-08-20 10:12] mark5422 commented on #516
Yes, sending build to TestFlight.

At the moment I’m using the testflight command within the fastfile though the docs suggest using pilot to upload builds to testflight now which is why I was trying to use that instead.

[2015-08-20 10:14] mark5422 commented on #516
What sent me down this path was also an error I’m getting uploading a build to TestFlight that transporter claims doesn’t have the correct bundle identifier.

I have two targets in the same project that use different bundle identifiers so was hopeful that pilot would make it easier to do that or fix my issue.

[2015-08-20 10:15] mark5422 commented on #516
For reference here’s the error -

[11:06:27]: ------------------------
[11:06:27]: --- Step: testflight ---
[11:06:27]: ------------------------
[11:06:33]: Got all information needed to deploy a new update ('') for app 'com.infinitekind.sketch-to'
[11:06:33]: Beta builds don't upload new metadata to iTunesConnect
[11:06:33]: Uploading ipa file to iTunesConnect
[11:06:34]: Going to upload updated

[2015-08-20 11:08] cyupa commented on #458
I somehow ended up not having an json-compilation file on the build machine it was linked to cleaning of the actual workspace in Jenkins rather than a fastlane issue.

[2015-08-20 13:28] orschaef opened #519 "Generated .ipa size too big"
Using Xcode 7 Beta 5, Swift 2.0 and fastlane 1.19.0 our generated .ipa file size has increased from 9.8 MB to 60 MB.
Picking the archive produced by fastlane in Xcode Organizer and exporting for enterprise deployment the target .ipa file has the expected size of 9.8 MB.

After inspecting the small and big ipa it turns out that the big one has duplicated dylib files

[code]
(this is taken from here

[2015-08-20 14:34] staminajim commented on #349
FYI this just happened to me today.   Out of the blue sigh started failing with the 400 error - and the only way to get it to succeed was to remove `force`.

I'm not sure what triggered it since nothing changed with my configuration.  Other colleagues with the same version of fastlane aren't getting the error.

[2015-08-20 14:41] samuel-mellert commented on #519
Same problem here. The ipa seems to contain the swiftlibs (although not the identical binaries) twice.

[2015-08-20 15:47] ravishtiwari opened #520 "Beta true set but Fastlane trying to upload to App Store"
I am using Fastlane to build, sign and deliver my app to test flight. I've a lane named 'beta' which do following:
[code]

However, when I do ```fastlane beta```, it upload the new IPA to test flight, however, before new build is uploaded to App Store, it try to check it in US App Store, for example:

[code]
Shouldn't this upload directly to TestFlight? I am not sure why it is trying to check if a

[2015-08-21 04:13] vinnybad commented on #481
@coreyfloyd @KrauseFx it would be great if the commit hash were also on the app icon in case we need to identify the exact commit.  I've found it useful on some of my projects.  Here's a quick way to do it:

commit=`git rev-parse --short HEAD`

[2015-08-21 06:24] fastlane-bot-helper opened #1811 "Undefined method `strip' for nil:NilClass"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/1597309?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @nemoeslovo - Imported from <a href='https://github.com/fastlane/cert/issues/32'>fastlane/cert#32</a>
        </td>
      </tr>
    </table>

I use to set up username field in cert action and DELIVER_PASSWORD as env variab

[2015-08-21 08:04] aloifolia opened #523 "No codesigning identities found"
When I try to deploy my app with fastlane I get the following error message (I replaced the actual profile name by a dummy name):

    Code Sign error: No codesigning identities found: No codesigning identities (i.e. certificate and private key pairs) that match the provisioning profile specified in your build settings (“eu.company.app XXXX”) were found.

Why is fastlane not able to find the ident

[2015-08-21 08:30] KrauseFx commented on #520
TestFlight is iTunes Connect. The only difference is that for the App Store you have to select the build as production build, while for testing you select it as beta build :wink:

It checks for the US App Store, just because it tries to fetch the App ID based on the App Identifier.

[2015-08-21 08:31] KrauseFx commented on #523
You can follow the code signing guide https://github.com/KrauseFx/fastlane/blob/master/docs/CodeSigning.md that should help you resolve this issue :+1:

[2015-08-21 08:32] KrauseFx commented on #519
This is definitely an issue I want to resolve. I'm working on a new version of `gym`: https://github.com/fastlane/gym/pull/47, which requires the new Xcode beta. If you find a better solution that also works with older versions of Xcode, please let me know.

[2015-08-21 08:59] aloifolia commented on #523
Well, this is what I did which is why I added the link to this page at the end of my post. Any further ideas?

[2015-08-21 09:13] KrauseFx commented on #523
What have you set as the code signing identity value in the project file? Select your code signing identity and try if that helps :+1:

[2015-08-21 09:58] xfreebird opened #524 "Running unit tests in parallel on the same machine"
Hi,

Thanks for this beautiful tool.
When running iOS tests on a machine the iOS simulator is used.
And on the same machine can run only one instance of iOS simulator at a time.

Does fastlane tackle this case somehow ?
Does it support concurrent testing on the same machine ?

For example I have two iOS projects on the same machine, and I start in different terminals fastlane.

Terminal 1, project

[2015-08-21 10:57] ravishtiwari commented on #520
Thanks @KrauseFx I was worried that it might push to App Store if app was there. Thanks for wonderful tool :+1:

[2015-08-21 10:57] #520 closed

[2015-08-21 11:18] aloifolia commented on #523
I just checked the signing identities and saw that for the Release build, the signing entities were set to iPhone Developer instead of iPhone Distribution. So I changed it to the latter:

![bildschirmfoto 2015-08-21 um 13 12 57](https://cloud.githubusercontent.com/assets/1295054/9407038/21a3a8ee-4806-11e5-83cf-6d91799c2c39.png)

However, the error message remains.

Also, I noticed that fastlane (s

[2015-08-21 11:21] KrauseFx commented on #523
Can you also run `cert`? You seem to not have the code signing identity installed that's required to sign your application.

Make sure you have the certificate + private key installed which is used in the provisioning profiles.

[2015-08-21 11:21] KrauseFx commented on #520
:+1:

[2015-08-21 11:22] KrauseFx commented on #524
You can only run one simulator instance at a time. `fastlane` itself can be run multiple times in parallel, but it's not recommended, since some integrations like the simulator tests can only be executed once.

[2015-08-21 11:29] xfreebird commented on #524
Thanks @KrauseFx.

Then something like simulator locking would be handy (e.g. processes from lanes would wait until other processes from other lane finished using the simulator).

I think the same is valid and for CocoaPods, if two fastlane processes are updating the same pod would brake the pod cache on the build machine

[2015-08-21 12:06] KrauseFx commented on #524
Agreed, but that's not something `fastlane` can do right now.

[2015-08-21 13:13] aloifolia commented on #523
Ok, with `cert` fastlane does not show this error message any more. When reading the cert guide I wondered whether I should actually use `sigh(force: true)`. Wouldn't  this option clutter up the list of provisioning files in Member Center?

[2015-08-21 15:57] aloifolia opened #525 "auto-increment build version number: There does not seem to be a CURRENT_PROJECT_VERSION"
Usually, we use the Jenkins build number also for the app build. So, for instance, the version 1.2.3 would get the build number 53. Now if I use fastlane on a different machine than the Jenkins server, e.g. my own laptop, for testing purposes I would like to use an arbitrary build number (the actual upload for the release would later on be managed by Jenkins). Therefore, I used the following setti

[2015-08-21 18:12] KrauseFx commented on #523
No, the `:force` option will re-use existing profiles, but will make sure to re-generate the profile (under the same name) to have the most up to date code signing identity.

[2015-08-21 21:38] mark5422 opened #526 "lane support within the deliver file?"
Is there support for lanes within the deliver file? I want to submit two different build identifier IPAs within the same fastlane set up. What I’m looking for is setting up a deliver file to use certain details when using one of these IPAs based on what lane I’m running fastlane on and want to know if that’s possible.

Thanks

[2015-08-21 22:39] fastlane-bot opened #1743 "Ignore files"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/2652260?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @lferro9000 - Imported from <a href='https://github.com/fastlane/frameit/issues/45'>fastlane/frameit#45</a>
        </td>
      </tr>
    </table>

Certain files may not be needed to be processed.

Having a way to indicate

[2015-08-21 22:41] fastlane-bot opened #1742 "Source, target and configuration folders"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/2652260?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @lferro9000 - Imported from <a href='https://github.com/fastlane/frameit/issues/46'>fastlane/frameit#46</a>
        </td>
      </tr>
    </table>

To allow more flexible workflows, it would be a good idea to be able to st

[2015-08-22 08:01] Liquidsoul commented on #525
Hi @aloifolia!
Why wouldn't you use `commit_version_bump` and `push_to_git_remote` to share the increments from your Jenkins configuration ?
This way, you can track your releases in your repository and will be able to deploy new releases from different computers :smiley:

[2015-08-22 08:34] mortenholmgaard commented on #381
@KrauseFx could you add an argument to gym to export an .app?

[2015-08-22 08:56] KrauseFx commented on #381
I recommend you use the new `gym` action instead of the `ipa` one.

@mortenholmgaard Sorry, that feature is not planned. You can easily unzip a `ipa` file and get the containing `.app`

[2015-08-22 09:06] mortenholmgaard commented on #381
Okay - I didn't know - I will look into that.

[2015-08-22 12:15] KrauseFx commented on #495
I just pushed a new version, please update using `sudo gem update credentials_manager` :+1:

[2015-08-22 12:15] KrauseFx commented on #495
Let me know if that works for you

[2015-08-22 12:15] KrauseFx commented on #456
I just pushed a new version that should fix those issues, please update using `sudo gem update credentials_manager` :+1:

[2015-08-22 12:16] KrauseFx commented on #445
I just pushed a new version that should fix those issues, please update using `sudo gem update credentials_manager` :+1:

[2015-08-22 14:42] bartoszj commented on #495
Yes, it works. Thanks!

[2015-08-22 14:42] #495 closed

[2015-08-22 18:01] KrauseFx commented on #495
Perfect :rocket:

[2015-08-23 07:59] KrauseFx commented on #526
Sorry, no lanes in the `Deliverfile`. You can easily pass information from the `Fastfile` to the `Deliverfile` using environment variables:
[code]

Does that help? :+1:

[2015-08-24 07:03] masa-beheim opened #529 "cocoapods command and Pods not git-ignored"
Running `cocoapods` after `ensure_git_status_clean` makes `commit_version_bump` fail since `pod install` at minimum changes the `project.pbxproj`. I have projects where the pods need to be checked in. So in that case I am doing:
[code]
Is there a better way? I had a look at the examples but they are using plain `cocoapods` so I am wondering what I am missing here.
I'd love to have something like:

[2015-08-24 07:45] vittoriom opened #530 "Build number is correctly set but not correctly propagated to environment variables"
Not sure what I'm doing wrong, but I get this output after setting the build number:

[code]

This is correct, and the build number is correctly set in the info.plist

Later, though:

[code]
As you can see the build number is set to **2015** instead of **2015.8.24.8.57**

This results in the wrong tag being pushed when the `add_git_tag` step is executed. Do you know if I should correct something h

[2015-08-24 07:54] KrauseFx commented on #530
Are you using the `increment_build_number`, right?

[2015-08-24 07:55] KrauseFx commented on #530
Found the issue!

[2015-08-24 07:57] #530 closed

[2015-08-24 07:57] vittoriom commented on #530
Yes, I'm doing

[code]

[2015-08-24 07:57] KrauseFx commented on #530
Fixed it, this will be in the next release :+1:

[2015-08-24 07:57] vittoriom commented on #530
wow, that was fast! Thanks a lot ^^

[2015-08-24 07:57] KrauseFx commented on #530
In the mean time, you can pass the new version number to the `git_tag` action :+1:

[2015-08-24 08:04] KrauseFx commented on #529
It wouldn't make sense for the `cocoapods` action to commit something, this could be quite dangerous in my opinion.

How about you first `ensure_git_status_clean`, then the version bump, then the `commit_version_bump` then the `cocoapods`? This way the commit will work without any problems.

[2015-08-24 08:49] masa-beheim commented on #529
Thanks for the input. You are right, changing the order makes `commit_version_bump` go through, but I still have to commit manually after `cocoapods`, which is my point.

For me it makes sense to commit, as long as a clean git state is ensured at entry. So you are only tracking changes caused by `cocoapods`. And I (have to) trust `pod install` and its changes (speaking about dangerous). This would

[2015-08-24 09:05] fastlane-bot opened #1753 "Crash in various stages of pem generation (`sysread_nonblock': end of file reached (Faraday::ConnectionFailed))"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/366059?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @muffe - Imported from <a href='https://github.com/fastlane/pem/issues/66'>fastlane/pem#66</a>
        </td>
      </tr>
    </table>

I've gotten that error so far when logging in, when choosing my team and when generating

[2015-08-24 13:27] aloifolia opened #532 "ERROR ITMS-90189: "Redundant Binary Upload. There already exists a binary upload with build '8888' for version '1.3.4'""
When I try to deploy my App with fastlane Transporter complains as soon as the .ipa upload becomes relevant:
[code]
Weird about this message is the fact that afterwards the binary actually appears in iTunesConnect. So I guess that fastlane tries to upload the file twice. Is this possible?

This is my config:
[code]

[2015-08-24 13:42] shams-ahmed opened #533 "Help with setting up Fastlane with Circle-CI"
am having a issues with fastlane not outputting console logs while using it with a CI platform like Circle-CI... is there any parameter i could use to force output to console or debug this issue?

<img width="893" alt="screen shot 2015-08-24 at 11 18 38 am" src="https://cloud.githubusercontent.com/assets/2887472/9441347/7602ddec-4a6d-11e5-82f9-1b419ae841d5.png">

[code]

[2015-08-24 13:45] aloifolia commented on #525
@Liquidsoul: Thank you for this hint. I will try this as soon as I get [another thing fixed](https://github.com/KrauseFx/fastlane/issues/532).

[2015-08-24 14:08] fastlane-bot opened #1600 "Can't upload to itunesconnect test flight beta when password contains special characters"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/1316785?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @mattdelves - Imported from <a href='https://github.com/fastlane/deliver/issues/312'>fastlane/deliver#312</a>
        </td>
      </tr>
    </table>

When trying to upload an ipa to test flight beta, I'm seeing that the in

[2015-08-24 14:19] KrauseFx commented on #533
I'd have to take a closer look at this, but maybe setting `STDOUT.sync = true` on the top of your `Fastfile` helps?

[2015-08-24 14:54] kylejm opened #534 "ensure_git_branch with regex"
This would be super useful for ensuring branches that are suffixed (e.g. `hotfix/__VERSION__` or `release/__VERSION__`)

[2015-08-24 14:57] KrauseFx commented on #534
:+1:

[2015-08-24 15:50] dogo commented on #382
I was able to build using the jenkins user after add one step to unlock the keychain

![screen shot 2015-08-24 at 12 49 00 pm](https://cloud.githubusercontent.com/assets/1487375/9444718/a050cb4a-4a5e-11e5-8f98-e6252db49bbf.png)

[2015-08-24 16:08] mark5422 commented on #526
It does, thanks

[2015-08-24 16:08] #526 closed

[2015-08-24 16:10] mark5422 commented on #516
My error was having the apple_id specified incorrectly and I see that pilot is now usable in fastlane so closing this issue. Thanks

[2015-08-24 16:10] #516 closed

[2015-08-24 16:11] mark5422 commented on #452
This is no longer an issue but I’m also not sure how I fixed it.

[2015-08-24 16:11] #452 closed

[2015-08-24 17:33] shams-ahmed commented on #533
@KrauseFx still no output

[2015-08-24 18:24] KrauseFx commented on #533
Is there a way to increase the timeout time on CircleCI? You may want to ask support why it doesn't fetch the latest terminal output.

[2015-08-24 18:24] KrauseFx commented on #452
It was probably a temporary server issue.

[2015-08-24 18:43] fastlane-bot opened #1599 "Deliver is changing $stdout to STDOUT"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/3052811?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @andrewpage - Imported from <a href='https://github.com/fastlane/deliver/issues/313'>fastlane/deliver#313</a>
        </td>
      </tr>
    </table>

Encountered an issue with deliver recently. I'm using the exposed delive

[2015-08-24 20:19] koglinjg opened #536 "bundle_install wont run if 'Gemfile' doesn't exists in current directory"
bundle_install will only run when there is a 'Gemfile' in the local directory. There is an option to specify an alternate location for the gemfile but it is not considered when determining if bundle install should run.

[2015-08-24 21:35] fastlane-bot-helper opened #1920 "How to start testing with selected internal tester(s)?"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/11852044?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @billypchan - Imported from <a href='https://github.com/fastlane/pilot/issues/21'>fastlane/pilot#21</a>
        </td>
      </tr>
    </table>

Hello Felix,
Thank you very much for your great job!
I have a question: Is it

[2015-08-25 04:34] fastlane-bot opened #1792 "Getting SSL_CONNECT SYSCALL error with "Produce""
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/13447764?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @NikhilRyan - Imported from <a href='https://github.com/fastlane/produce/issues/72'>fastlane/produce#72</a>
        </td>
      </tr>
    </table>

Yesterday I updated fastlane and since then i'm getting this error.
![scr

[2015-08-25 05:05] moses-gangipogu opened #538 "getaddrinfo: nodename nor servname provided, or not known"
Sorry, we have to wait for iTunesConnect, since it's still processing the uploaded ipa file
If this takes longer than 45 minutes, you have to re-upload the ipa file again.
You can always open the browser page yourself: 'https://itunesconnect.apple.com/WebObjects/iTunesConnect.woa/ra/ng/app/appid/pre/builds'
Passed time: ~6 minute(s)

[10:26:55]: getaddrinfo: nodename nor servname provided, or not

[2015-08-25 07:12] KrauseFx commented on #536
Thanks for the pull request, let's move further discussion to #537 :+1:

[2015-08-25 07:12] #536 closed

[2015-08-25 08:18] shams-ahmed commented on #533
i increased the timeout for "fastlane beta" to 1.5 hours, no output at all... project not too big on my personal workspace it takes under 10 minutes to complete

[code]

[2015-08-25 09:15] KrauseFx opened #539 "import_from_git doesn't correctly pull"
The action doesn't seem to correctly pull the changes when it's already cloned. Also it seems like there are too many subfolders when cloning.

[2015-08-25 09:15] KrauseFx commented on #539
[code]

[2015-08-25 10:29] Gimungagap opened #540 "How do i sign build using identity having name with single quotes"
I want to sign an IPA file via GYM with a specified local provisioning profile. This requires code signing identity to work. I tried to do it this way (from Fastfile):

[code]

The build succeeds but when code signing begins, the the codesign parameter looks like this:

[code]

There are no quotes so identity is not found. I tried escaping quote marks with \ and \\\ and  so the first way didn't ch

[2015-08-25 11:52] fastlane-bot-helper opened #1868 "Gym creating IPA with "Invalid code signing entitlements""
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/13871413?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @luisafonsoribeiro - Imported from <a href='https://github.com/fastlane/gym/issues/66'>fastlane/gym#66</a>
        </td>
      </tr>
    </table>

Decided to update our Fastfiles to start using Gym and had some issues wit

[2015-08-25 12:42] KrauseFx commented on #540
Where do you have the `--sign iPhone Distribution: My Company Ltd.` from?

The code I found in `gym`:
[code]

[2015-08-25 12:50] KrauseFx commented on #532
Did it work before?

[2015-08-25 13:07] Gimungagap commented on #540
I mean console output. It looks like this:

[code]

[2015-08-25 13:15] KrauseFx commented on #540
That's a tool that is built-in into Xcode. I'll take a look, maybe we can patch that too /cc @fabiomassimo :+1:

[2015-08-25 13:15] KrauseFx commented on #540
You can take a look at the [code signing guide](https://github.com/KrauseFx/fastlane/blob/master/docs/CodeSigning.md) to update your project to make this work :+1:

[2015-08-25 13:35] Gimungagap commented on #540
Actially the problem is:
What I write and what is passed to codesign util:
[code]
See the difference? The quotes are removed somewhere inside gym or one of its components.
I didn't understand, you mean patching codesign itself or something inside gym that uses it?

For now I found a solution by use of update_project_provisioning but I'm afraid of using it because it translates project into JSON fo

[2015-08-25 15:06] aloifolia commented on #532
Yes, it did

[2015-08-25 15:11] fabiomassimo commented on #540
The way `codesign` tool takes the scene is through an ad hoc patched version of PackageApplication, a Perl script used by Xcode under the hood when exporting an IPA from an archive.

The quotes are removed indeed but I'm not sure that could actually be the problem.

@Gimungagap why do you specify the codesign identity to `gym`? Will it suit you to just specify it in the project build settings?

@K

[2015-08-25 18:36] fastlane-bot-helper opened #1867 "Specify Gymfile"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/3853006?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @Reedyuk - Imported from <a href='https://github.com/fastlane/gym/issues/68'>fastlane/gym#68</a>
        </td>
      </tr>
    </table>

At the moment, i want to have multiple gym files so that i have a different configura

[2015-08-25 21:19] Liquidsoul commented on #539
Hey @KrauseFx!

I've looked into this and I have performed some `git` tests to make sure why the current implementation behaves this way.

The fact that the `pull` is failing is because of the `-n`. Even if the repository is not checked-out – meaning here the folder starts empty except from `.git` – the git status is dirty because the folder is missing all the _not-checkout_ files. While this does

[2015-08-26 09:30] moses-gangipogu opened #543 "unable to toggle beta test flight"
`Sorry, we have to wait for iTunesConnect, since it's still processing the uploaded ipa file
If this takes longer than 45 minutes, you have to re-upload the ipa file again.
You can always open the browser page yourself: 'https://itunesconnect.apple.com/WebObjects/iTunesConnect.woa/ra/ng/app/972066031/pre/builds'
Passed time: ~47 minute(s)`

and this keeps on going the app is update to iTunes conne

[2015-08-26 09:33] pmhood opened #544 "Recommendations on how to share custom actions"
Hi, I'm looking into how we can share custom actions across various apps so that I can make updates in one central location. I'm thinking I need to put the actions in a separate repo and clone that using the "sh" action?  Has anyone done this before?

Thanks!

[2015-08-26 09:55] KrauseFx commented on #543
If you want to upload builds to TestFlight I recommend using the `pilot` action instead, more information `fastlane action pilot` :+1:

[2015-08-26 09:57] KrauseFx commented on #544
Something like that is already built in:
[code]

You put the `Fastfile` (can be empty) and the `actions` folder on any of the repos (can be its own repo).

The action will fetch the latest version :+1: `fastlane` tools are deployed using `fastlane` too and use this technique: https://github.com/KrauseFx/deliver/blob/master/fastlane/Fastfile

Let me know if that helps :+1:

[2015-08-26 11:51] Gimungagap commented on #540
My goal is Fastlane usage by CI on several build nodes so I'd like to use commited provisioning profile because it seems to be easier to maintain.
I saw `sigh` util but didn't like it because as I understood the idea, the profiles are generated and downloaded each time. Also I couldn't find options for inhouse distribution.

I found a solution by using `resign` tool. It doesn't remove quotes and d

[2015-08-26 13:39] RomainBoulay opened #545 "update_fastlane"
Hey,

Is there a difference between `update_fastlane` and `gem update fastlane` ?

Cheers,
Romain

[2015-08-26 13:57] barrettj opened #546 "After installing Xcode 7 Beta 6 fastlane won't run"
I get the following:

[code]

[2015-08-26 17:59] kylejm commented on #266
I'm having a similar issue to this now @KrauseFx. It worked this morning but now I keep getting:

[code]
Is this some issue that's cause by a state that iTunes Connect temporarily gets into??

Here's all the other stuff that was spat out if that helps:

[code]

[2015-08-26 19:29] pmhood commented on #544
Thanks, I'll give it a shot and reopen if necessary!

[2015-08-26 19:29] #544 closed

[2015-08-26 21:08] edwardvalentini commented on #546
i dont have this exact problem - but the problem I get now with Xcode7 beta 6 is that fastlane can't login to itunesconnect anymore when i am trying to deploy a beta app to testflight:

[code]

also fastlane displays this error photo:

![error1440623102](https://cloud.githubusercontent.com/assets/1571326/9506254/da02a450-4bfb-11e5-8f98-9fe51522bbfd.png)

[2015-08-26 21:52] KrauseFx commented on #266
@kylejm I assume your error message came from the `deliver` project?

[2015-08-26 21:53] kylejm commented on #266
Yes :)

[2015-08-26 21:54] KrauseFx commented on #545
Hey,

`update_fastlane` is an action you can add to your `Fastfile` to automatically update `fastlane` if required, while `gem update fastlane` is executed by you manually.

Does that make sense?

[2015-08-26 21:57] barrettj commented on #546
My issue may be the result of files (selected apparently at random) on my system having their owner chanted to root and no longer being world accessible.  I'm guessing it might have been some random HFS+ corruption or something.

[2015-08-26 22:33] RomainBoulay commented on #545
Sure but my question is more : is the result of both command identical?

[2015-08-26 22:43] fastlane-bot opened #1741 "Font size adjustment"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/1105813?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @guidev - Imported from <a href='https://github.com/fastlane/frameit/issues/48'>fastlane/frameit#48</a>
        </td>
      </tr>
    </table>

Hi,
sometimes the titles are too small on some devices (iPad),
it would be nic

[2015-08-26 22:52] edwardvalentini commented on #543
the example Fastfile shows deliver... is there an example to use pilot in the Fastfile?

[2015-08-26 23:08] edwardvalentini commented on #546
answering my own question - using pilot instead of deliver fixes this problem for me.

[2015-08-27 05:20] alexargo commented on #266
I'm getting this in codes as well:

[code]

[2015-08-27 05:32] alexargo commented on #266
Also getting this error in latest version of deliver.

[2015-08-27 08:04] KrauseFx commented on #545
It should be, yes.

[2015-08-27 08:18] purplepeng opened #547 "Error logging in user xxx with the given password. Make sure you entered them correctly."
fastlane finished with errors error: Error logging in user xxx with the given password. Make sure you entered them correctly.
I use `fastlane deploy`, and input the correct password,but it output the above message. What's wrong with it?

[2015-08-27 08:19] cemo commented on #547
+1

[2015-08-27 08:20] RomainBoulay commented on #545
Thanks

On Thu, Aug 27, 2015 at 10:04 AM, Felix Krause <notifications@github.com>
wrote:

[2015-08-27 08:23] cemo commented on #547
https://github.com/KrauseFx/deliver/issues/305

[2015-08-27 08:37] fastlanebot opened #2066 "how do you set the prefix of a AppID when you create an new AppID"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/3065847?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @sfransen - Imported from <a href='https://github.com/fastlane/spaceship/issues/96'>fastlane/spaceship#96</a>
        </td>
      </tr>
    </table>

This is more of a question . How do I set the prefix of the create AppID

[2015-08-27 08:41] purplepeng commented on #547
@cemo Thank you.

[2015-08-27 08:54] aloifolia commented on #266
@KrauseFx I am seeing the same error message as @alexargo does, here (also, for deliver). I get this screenshot:
![fastlane](https://cloud.githubusercontent.com/assets/1295054/9516598/f49b8db4-4ca9-11e5-8c34-5eddcfdd890c.png)

[2015-08-27 08:58] JohannesNevels commented on #266
I also experience the same issue!

[2015-08-27 09:02] sandman4sure commented on #266
same issue here! Same screenshot as well.

[2015-08-27 10:02] zeroel commented on #266
@KrauseFx I also get a same error message as @aloifolia and @alexargo. Deliver were working fine yesterday.
Please help to fix, Thanks!

[2015-08-27 10:16] gamlin777 commented on #266
I'm getting this issue as well. It's definitely not a login credentials issue either.

[2015-08-27 10:19] KrauseFx commented on #266
Sorry for the troubles. I'm working on a new version of `deliver` https://github.com/KrauseFx/deliver/pull/259 which fixes all these problems by upgrading to `spaceship`.

If you only want to upload a binary, you can always use the new [pilot](https://github.com/fastlane/pilot) tool :+1:

[2015-08-27 10:20] KrauseFx commented on #266
Moving further discussion to https://github.com/KrauseFx/deliver/issues/315

[2015-08-27 10:35] cemo opened #548 "s3 action"
It would be nice to backup ipa file on s3.

[2015-08-27 11:15] purplepeng commented on #547
beta lane in my Fastfile:
[code]
I use `fastlane beta`
but output log below
[code]

[2015-08-27 11:40] fastlane-bot-helper opened #1866 "Explicit provisioning_profile_path not used?"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/2075915?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @vittoriom - Imported from <a href='https://github.com/fastlane/gym/issues/69'>fastlane/gym#69</a>
        </td>
      </tr>
    </table>

I'm using `gym` to build an enterprise version of our app. Just for this task it sh

[2015-08-27 12:00] Yspadadden opened #549 "sigh No login data provided"
I tried to create a lane that builds an internal version of the app. I use sigh to generate the provisioning profile. But I don't have a company wide email to use for the developer account. So I want each developer to use his own account.

I managed that by setting `apple_id ''` to empty. Sigh then prompts me for the login and the password if the password is not already in the keychain. But then s

[2015-08-27 14:13] KrauseFx commented on #548
You mean something like the `s3` action? https://github.com/KrauseFx/fastlane/blob/master/docs/Actions.md#aws-s3-distribution

[2015-08-27 14:59] guidev opened #550 "In-App Purchase"
Is it possible to create and/or manage In-App Purchases using fastlane?

[2015-08-27 15:23] KrauseFx commented on #546
@edwardvalentini You have a different error, I just pushed an update of deliver, please update to `deliver` 0.13.2 using `sudo gem update deliver`

[2015-08-27 15:26] KrauseFx commented on #547
I just pushed an update of `deliver`, please update to `0.13.2` using `sudo gem update deliver`

I'm working on a brand new version of `deliver` that uses `spaceship` to communicate with iTunes Connect (you can follow the progress here: https://github.com/KrauseFx/deliver/pull/259), in the mean-time please try the latest release and let me know if that works for you :+1:

[2015-08-27 15:26] #545 closed

[2015-08-27 15:26] KrauseFx commented on #545
:+1:

[2015-08-27 15:26] KrauseFx commented on #543
I just pushed an update of `deliver`, please update to `0.13.2` using `sudo gem update deliver`

I'm working on a brand new version of `deliver` that uses `spaceship` to communicate with iTunes Connect (you can follow the progress here: https://github.com/KrauseFx/deliver/pull/259), in the mean-time please try the latest release and let me know if that works for you :+1:

[2015-08-27 17:24] cemo commented on #548
yes, thanks.

[2015-08-27 17:24] #548 closed

[2015-08-27 20:55] ide commented on #445
@KrauseFx thanks!

[2015-08-27 20:55] #445 closed

[2015-08-28 06:42] purplepeng commented on #547
I updated `deliver` to 0.13.2, the Fastfile is same as above; and i used `fastlane beta` again. The log is ```
[13:53:02]: [Transporter Warning Output]: WARNING ITMS-90191: "Missing beta entitlement. Your app does not include the beta-reports-active entitlement. If you intend to distribute this build via TestFlight for beta testing, please re-build this app with a newly generated provisioning prof

[2015-08-28 07:58] KrauseFx commented on #547
@purplepeng That's a different issue. To be honest, I didn't even know it's possible to upload a build which doesn't have TestFlight enabled. Did you take a look at the [Code Signing Guide](https://github.com/KrauseFx/fastlane/blob/master/docs/CodeSigning.md)?

[2015-08-28 08:00] KrauseFx commented on #540
@Gimungagap `sigh` only creates the profile if it doesn't exist yet. If it's there it gets downloaded. Of course `sigh` also supports Enterprise Profiles, it's very clearly shown on the landing page: https://github.com/krausefx/sigh#features

[2015-08-28 08:00] #540 closed

[2015-08-28 09:20] purplepeng commented on #547
@KrauseFx   I use `Best Solution: Using environment variables` solution, and solve it. Thank you for your tools, it' great!

[2015-08-28 09:21] #547 closed

[2015-08-28 10:26] KrauseFx commented on #547
Great to hear and thanks for letting me know @purplepeng :+1:

[2015-08-28 10:29] KrauseFx commented on #266
Please update using `sudo gem update fastlane_core` @alexargo @gamlin777 @zeroel @sandman4sure @JohannesNevels

[2015-08-28 10:29] KrauseFx commented on #546
@barrettj Is your permission issue resolved?

[2015-08-28 10:34] KrauseFx commented on #549
Seems like it's the same issue as https://github.com/KrauseFx/sigh/issues/161

Did you try passing the Apple ID using environment variables? Each developer can then store the Apple ID to use in the `.bashsrc` to automatically fill-in the username.

[2015-08-28 10:34] KrauseFx commented on #549
Sorry for the troubles, I'm working on a re-write on the credentials manager, as I'm aware there are some issues with certain setups.

[2015-08-28 10:41] KrauseFx commented on #550
That's not possible right now, but would be part of the [deliver](https://github.com/KrauseFx/deliver) project.

[2015-08-28 10:45] fastlane-bot-helper opened #1865 "Show provisioning profile and cert used"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/3853006?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @Reedyuk - Imported from <a href='https://github.com/fastlane/gym/issues/70'>fastlane/gym#70</a>
        </td>
      </tr>
    </table>

A nice to have, when you use the Xcode build command then it outputs the cert and pro

[2015-08-28 11:06] Yspadadden commented on #549
I did not try the env variable option. But I might look at it, if it becomes an issue. Right now, I'm the main guy who builds this particular project. It just would be nice, if it would work at some point in the future. But no hurry.

[2015-08-28 11:10] moses-gangipogu commented on #543
sure thank you

[2015-08-28 11:10] #543 closed

[2015-08-28 11:28] guidev commented on #550
Great!

[2015-08-28 13:07] barrettj commented on #546
Yeah, if no one else had this issue when they installed beta 6 then it was likely just coincidental timing with my permissions issue.

[2015-08-28 13:07] #546 closed

[2015-08-28 13:21] KrauseFx commented on #550
Closing in favour of https://github.com/KrauseFx/deliver/issues/35, please subscribe to https://github.com/KrauseFx/deliver/issues/35

[2015-08-28 13:21] #550 closed

[2015-08-28 16:47] fastlane-bot-helper opened #1864 "Custom output_name variables"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/1669949?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @mmajewski - Imported from <a href='https://github.com/fastlane/gym/issues/71'>fastlane/gym#71</a>
        </td>
      </tr>
    </table>

It would be nice if I could add to output_name number of build. In my script from b

[2015-08-29 10:03] mark5422 opened #551 "pilot using wrong log in credentials for iTunes connect"
I have two separate projects that both use different iTunes connect logins. When using testflight/deliver the upload works just fine. When using pilot to try and do the same thing the upload fails stating that the log in credentials are wrong.

It seems like in the case of their being two deliver entries in the keychain that pilot is just pulling the first one it comes to and using that to try and

[2015-08-29 10:12] fastlane-bot-helper opened #1919 "Feedback on Pilot from a Sysadmin perspective"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/70908?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @jedi4ever - Imported from <a href='https://github.com/fastlane/pilot/issues/22'>fastlane/pilot#22</a>
        </td>
      </tr>
    </table>

We've exchanged some time ago, the fact that I like the functionality of the fast

[2015-08-29 19:47] edwardvalentini commented on #543
so should we be using deliver or pilot in the Fastfile?

[2015-08-30 06:08] KrauseFx commented on #543
@edwardsdl I know the current documentation is not 100% clear in that regard. For TestFlight build uploads please use `pilot`, for App Store builds + metadata use `deliver`

[2015-08-31 13:39] #151 closed

[2015-08-31 13:44] KrauseFx commented on #151
The release is ready: https://github.com/KrauseFx/deliver/releases/tag/0.13.3

[2015-08-31 16:48] besi commented on #385
I did change Provisioning Profiles to

    PROVISIONING_PROFILE = "$(PROFILE_UDID)";

And In my Fastfile I am now using

[code]

I also tried

[code]

But this got me a 404 error:

[code]

[2015-08-31 18:04] besi commented on #385
I think the culprit might be `sigh(adhoc: true)`, because when I remove that parameter I get the `beta-reports-active` property in the provisioning profile.

I did think that `sigh(adhoc:true)`  and `delivery(beta:true)` were related but this seems to be wrong.

[2015-08-31 18:23] #385 closed

[2015-09-01 06:55] sneps85 commented on #538
I have exactly the same problem

[2015-09-01 07:05] sneps85 commented on #538
Seems that itunesconnect.apple.com was down...

[2015-09-01 07:12] #523 closed

[2015-09-01 07:13] aloifolia commented on #266
@KrauseFx It works now, thank you!

[2015-09-01 07:14] aloifolia commented on #532
I have no idea why, but it works now.

[2015-09-01 14:00] skydivedan opened #555 "is there documentation on how this could be used with post-build scripts in an Xcode Bot?"
I just got my projects building with Xcode Server. I've got a handful of bots working, and I like the web page that shows the list of projects, and the data about the warnings, code-coverage, etc.

Is there documentation about how some fastlane features could be used in a post-build script of an Xcode Bot?

I was thinking some things, like changing the signing of an app from ad-hoc to distribution

[2015-09-01 14:13] ynnt opened #556 "Can fasten work with OS X app?"
Hello,

I try to download provision profiles for Mac application and get this message:
`Could not find app with bundle id: <bundle id of Mac app>`

Fasten doesn't work with non iPhone app?

[2015-09-01 15:37] KrauseFx commented on #556
Right now, only some of the tools work with mac apps: `deliver`, `fastlane` and `codes`.

[2015-09-01 15:37] #556 closed

[2015-09-01 15:37] KrauseFx commented on #532
Probably a temporary server issue, thanks for letting me know :+1:

[2015-09-01 15:37] #532 closed

[2015-09-01 15:39] KrauseFx commented on #538
Thanks for letting me know :+1:

[2015-09-01 15:39] #538 closed

[2015-09-01 15:42] czechboy0 commented on #555
Hi @skydivedan, I actually wrote an article on scripts in Xcode Server and used fastlane as an example: http://honzadvorsky.com/articles/2015-08-17-17-30-xcode_server_tutorials_3_prebuild__postbuild_scripts/ Is this what you're looking for?

[2015-09-01 16:44] skydivedan commented on #555
yes, sorry about that. I should've read more closely on that.

[2015-09-01 16:44] #555 closed

[2015-09-01 20:14] fastlane-bot-helper opened #1863 "'keychain-access-groups' has value not permitted by provisioning profile"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/833072?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @marcelofabri - Imported from <a href='https://github.com/fastlane/gym/issues/73'>fastlane/gym#73</a>
        </td>
      </tr>
    </table>

I've updated my Fastfile to use `gym` instead of `xcarchive` and `xcodebuild`, bu

[2015-09-02 04:54] fastlane-bot opened #1805 "RSA Private Key given PKCS12 File Extension"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/1036145?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @doapp-nick - Imported from <a href='https://github.com/fastlane/cert/issues/34'>fastlane/cert#34</a>
        </td>
      </tr>
    </table>

I spent a few hours debugging an issue related to the generation of new signing

[2015-09-02 07:52] ankitgupta1309 opened #558 "fastlane ios analyze does not work"
@KrauseFx : I am attaching this screenshot. Everything works fine till 'fastlane test'. After that, it starts showing errors on commands. I am not able to understand how to go about taking the screenshots.

<img width="907" alt="screen shot 2015-09-02 at 1 18 09 pm" src="https://cloud.githubusercontent.com/assets/6194315/9625628/239f2fec-5175-11e5-95da-0ed734b92a79.png">

[2015-09-02 08:52] fastlane-bot opened #1508 "Outdated fastlane_core causes issues."
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/24282?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @lacostej - Imported from <a href='https://github.com/fastlane/fastlane_core/issues/31'>fastlane/fastlane_core#31</a>
        </td>
      </tr>
    </table>

I've noticed that users have issues when they use an old fastlane_

[2015-09-02 09:57] souravray opened #559 "installation issue"
I did
[code]
but it got stuck here forever
[code]
Looks like some kind bad dependency.

Disclaimer: I'm not a Ruby guy

[2015-09-02 09:59] souravray commented on #559
md fix

[2015-09-02 10:46] fastlanebot opened #2065 "spaceship submission.export_compliance_encryption_updated is not working"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/1730047?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @OlofT - Imported from <a href='https://github.com/fastlane/spaceship/issues/100'>fastlane/spaceship#100</a>
        </td>
      </tr>
    </table>

Using the following to submit a build:

[code]

Results in the following:

[2015-09-02 17:39] KrauseFx commented on #559
Is that the complete output? Could you run `ruby -v`? Did you install any other ruby environment using `homebrew`, `rbenv` or `rvm`?

[2015-09-02 17:40] KrauseFx commented on #559
The output was generated by appending `--verbose` right?

[2015-09-02 17:40] KrauseFx commented on #558
Could you also share your `Fastfile`?

[2015-09-02 20:08] jhassine commented on #349
Hi,

I can confirm that this error relates somehow to the network and it can be replicated in those situations with "--adhoc --force" or "--development --force" settings.

With home network:
✗ sigh --adhoc --force --trace
[22:48:36]: Starting login
[22:48:38]: Successfully logged in
[22:48:38]: Fetching profiles...
[22:48:43]: Found 1 matching profile(s)
[22:48:43]: Updating the profile to include

[2015-09-02 23:47] bmctigue opened #561 "Can't login to itunes connect, password is bad."
Fastlane gets all the way through uploading my app except when the deliver tries login to itunesconnect. I have the password set in the DELIVER_PASSWORD env and I know it's correct. I ran deliver init separately and have the same issue. Here's the complete output from running deliver init.:

[code]
Thanks for the help.

[2015-09-02 23:52] KrauseFx commented on #561
Sorry, this part of `fastlane` wasn't yet updated to use `spaceship`. I'm very actively working on it.

This issue is just a time-out, have you tried running it again?

[2015-09-03 00:01] bmctigue commented on #561
yep, it fails every time now. thanks for the reply. Anything I can do?

[2015-09-03 00:56] sfransen commented on #561
I had this problem with codes but sudo gem update fastlane_core solved my problem
You can try that

Sent from my iPhone5

[2015-09-03 01:46] ankitgupta1309 commented on #558
I haven't made any changes to the *FastFile* as such.
<img width="754" alt="screen shot 2015-09-03 at 7 14 26 am" src="https://cloud.githubusercontent.com/assets/6194315/9648938/95902e58-520b-11e5-86cf-ec19c5fb92c9.png">
<img width="609" alt="screen shot 2015-09-03 at 7 14 40 am" src="https://cloud.githubusercontent.com/assets/6194315/9648939/959aaa40-520b-11e5-9306-1ee45169f7b6.png">

[2015-09-03 03:36] souravray commented on #559
yes I used --verbose. The complete output is just an infinite log of the same o/p.
Ruby version output looks like bellow
[code]
never set any other ruby environment using homebrew, rbenv or rvm kowingly.

[2015-09-03 07:31] Liquidsoul commented on #558
Hi @ankitgupta1309

I think you may misunderstand how Fastlane works.
If you want to be able to call `fastlane ios analyse`, you need to have a lane `analyze` in the `platform :ios`section of your Fastfile. Something like this:
[code]
However, as you can see in my code snippet, I am not aware of any direct command to execute `analyze` on a project from Fastlane. I think something can be done using

[2015-09-03 08:20] aloifolia opened #562 "deliver(beta: true) not working"
'deliver' fails if I use it to manage Testflight. After the upload, when the program tries to activate the new version, I get the following error message:
[code]

[2015-09-03 09:41] bkrijgsman opened #563 "Using fastlane with multiple schemes"
Hi,

Is it possible to use fastlane with multiple schemes? I've searched the documentation and tried some different things, but it couldn't find the answer. Maybe i have to create the deliver file each time i want to upload by myself?

I'm using the same xcodeproject for multiple apps (and they have different app ID's).

Thank you for your help!

Regards,
Bas

[2015-09-03 11:46] fastlane-bot-helper opened #1862 "Gym not using bundle identifier automatically?"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/7558064?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @vCrespoP - Imported from <a href='https://github.com/fastlane/gym/issues/74'>fastlane/gym#74</a>
        </td>
      </tr>
    </table>

Hi again dear Krause,

I have this code like this:
[code]

But gym asks me to select

[2015-09-03 14:18] bmctigue commented on #561
Thx for the suggestion! I updated the core gem, but the problem persists. I appreciate the help.

[2015-09-03 17:16] KrauseFx commented on #563
Hi Bas,

Does this guide help you? https://github.com/KrauseFx/fastlane/blob/master/docs/FAQs.md#multiple-targets-of-the-same-underlying-app

In general @joshdholtz is an expert in that field :+1:

Also, check out this example `fastlane` setup: https://github.com/fastlane/examples/tree/master/SunApps

[2015-09-03 17:18] KrauseFx commented on #558
Thanks for jumping in @Liquidsoul :+1:

[2015-09-03 17:19] KrauseFx commented on #559
@souravray Have you tried letting the `install` command run for a longer time? Are you connected to a fast internet connection?

[2015-09-03 17:22] joshdholtz commented on #563
I am an expert in that field :grin: That FAQ should be enough but let me know if you have any other questions on it :blush:

[2015-09-03 17:24] KrauseFx commented on #563
@joshdholtz Is there anything different between schemes and targets when using this setup?

[2015-09-03 17:27] joshdholtz commented on #563
@KrauseFx Depends on how you have your Xcode project setup :innocent: I, personally, just keep `Debug` and `Release` as targets for all my different schemes so I never have to set that in my `.env` files

[2015-09-03 17:51] KrauseFx commented on #90
This is now possible using [produce](https://github.com/fastlane/produce) :+1:

[2015-09-03 17:51] #90 closed

[2015-09-03 17:53] KrauseFx commented on #88
I'll close this issue for now, thanks @joshdholtz for providing the documentation on how to solve this problem :+1:

[2015-09-03 17:53] #88 closed

[2015-09-03 17:53] #74 closed

[2015-09-03 17:55] KrauseFx commented on #162
This is now done by `gym`

[2015-09-03 17:55] #162 closed

[2015-09-03 18:07] KrauseFx commented on #561
@bmctigue

I see you're using `fastlane_core 0.11.1`. Do you have a `Gemfile`?

[2015-09-03 18:07] KrauseFx commented on #561
Please also update `deliver`

[2015-09-03 18:38] bmctigue commented on #561
Thanks guys, I needed to delete the Gemfile.lock and run bundle install. The gems looks correct now and I was able to run deliver init with no problems. No issue logging into itunesconnect. Thanks for the help and sorry about the false alarm.

[2015-09-03 18:59] KrauseFx commented on #561
Great, thanks for letting me know :+1:

[2015-09-03 18:59] #561 closed

[2015-09-03 19:19] Liquidsoul commented on #534
The regex support has been released in 1.23.0. Maybe this issue can be closed @KrauseFx ? :rocket:

[2015-09-03 19:23] Liquidsoul commented on #525
@aloifolia: with #532 closed, did you have time to test this ? :smiley:

[2015-09-03 19:29] #501 closed

[2015-09-03 19:53] #534 closed

[2015-09-03 19:53] KrauseFx commented on #534
Thanks @Liquidsoul :+1:

[2015-09-03 19:54] KrauseFx commented on #534
@Liquidsoul Can you drop me a super short email (you can find it on my profile)

[2015-09-03 20:15] xfreebird opened #565 "Podfile in a different folder"
Hi,

I'm trying to figure out how can I tell fastlane to run cocoapods (e.g. pod install) in different folder than the current location.
By default it is expecting it to find in the current location.

Any pointers would be helpful.

Cheers,
Nicolae

[2015-09-03 20:19] xfreebird opened #566 "Unlocking an exisiting keychain"
Hi,

I've been looking through documentation and I haven't seen a way to unlock a specified keychain.
To unlock the keychain a password is required.

Is this action available ?

Usually on CI server the keychain gets locked, especially when the session is run through ssh (despite the fact that the ssh daemon runs in the user ui session).

Any pointers would help.

Cheers,
Nicolae

[2015-09-03 20:27] Liquidsoul commented on #565
Hi @xfreebird
From the [current implementation](https://github.com/KrauseFx/fastlane/blob/master/lib/fastlane/actions/install_cocoapods.rb#L5-L18) I do not think it's possible right now. You need to have your `Podfile` located alongside your `fastlane` folder.

However, note that I may be missing some clever Ruby trick :art:

[2015-09-03 21:18] bkrijgsman commented on #563
Ah thats a great example thank you! I'll try to make it work ;)

[2015-09-03 21:18] #563 closed

[2015-09-04 01:09] KrauseFx commented on #563
@bkrijgsman Great to hear :+1:

So where would you expect this part of the documentation? Anything I can improve to make it easier for new users?

[2015-09-04 01:10] KrauseFx commented on #565
@xfreebird Correct, you can easily solve this using some very basic Ruby, basically you add this to your `Fastfile`

[code]

[2015-09-04 01:11] KrauseFx commented on #566
I haven't done this myself, but basically you can use the shell command to unlock your Keychain

From https://github.com/KrauseFx/fastlane/blob/80c57b452052e3f89dc646747fac4ccf542e8058/lib/fastlane/actions/create_keychain.rb#L22

[code]

[2015-09-04 01:11] KrauseFx commented on #566
You can just add this to your `Fastfile`

[2015-09-04 03:53] xfreebird commented on #566
Thanks @KrauseFx, I am aware of the command line option.
Since there are several existing keychain fastlane actions,
I think it would be great to have and this one in place.

Cheers,
Nicolae

[2015-09-04 03:59] xfreebird commented on #565
Thanks @KrauseFx, I think in this case it would be reasonable to add an option to the cocoapods action.
Something similar to what there is in TavisCI,
podfile, that would point tot the location of the Podfile.
If not defined then one from the current location would be used.

In meantime I could just use the basic Ruby code.

Cheers,
Nicolae

[2015-09-04 04:10] souravray commented on #559
@KrauseFx I tried letting the install run for good 30-45min on a 100 MBPS connection.

[2015-09-04 04:28] KrauseFx commented on #565
:+1:

[2015-09-04 04:40] xfreebird commented on #524
Hi @KrauseFx ,

I was thinking about a possible solution for this case.
But since I know very little ruby, it will take some time for me to make it.

My general  general idea is to have something like this:

[code]

and runexclusive might look like this:

[code]
Is this something that looks reasonable ?

Cheers,
Nicolae

[2015-09-04 05:48] bkrijgsman commented on #563
A link to the SunApps example :)

[2015-09-04 06:20] Liquidsoul commented on #565
@xfreebird I'll try to work on that feature today 🔧

[2015-09-04 06:26] xfreebird commented on #565
@Liquidsoul thanks !

[2015-09-04 07:00] haemi opened #567 "how to update on El Capitan?"
I get informed that I'm using a pretty old version:

[code]

but if I try to update:

[code]

[2015-09-04 08:44] aloifolia commented on #525
@Liquidsoul Thank you, it seems to work now. I did not acutally test it with Jenkins, but on my local machine the process behaves as expected. I guess, it will also do so on the server.

[2015-09-04 08:44] #525 closed

[2015-09-04 13:56] lacostej commented on #567
This appears to be an OSX 10.11 security change. See https://github.com/CocoaPods/CocoaPods/issues/3680

I wouldn't go for disabling rootless, but instead try making gem install the gems under /usr/local, which appears unaffected.

Maybe with

[code]

You may need to reinstall all gems for that version of ruby you are working with. No idea if gems can update a gem and change gem_dir at the same ti

[2015-09-04 16:36] KrauseFx commented on #567
Uh, I'm sure this will cause a lot of problems once the release is public... :disappointed:

@lacostej thanks for researching a solution. Should I add this to the FAQ?
@haemi Please let me know if that solves your problem :+1:

[2015-09-04 16:39] KrauseFx commented on #525
:rocket:

[2015-09-04 17:43] Liquidsoul commented on #514
I am wondering if you're using the `sha` for iOS builds?
If so, how do you use it in your `info.plist`?
Because, to upload builds to iTunesConnect, you need to have a build number which is incremented for every new release of a given version (when using TestFlight for example).

[2015-09-04 20:18] fastlanebot opened #2064 "ITC.apps.preReleaseBuild.validationErrors.significantChangeMissing"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/287288?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @soheil - Imported from <a href='https://github.com/fastlane/spaceship/issues/101'>fastlane/spaceship#101</a>
        </td>
      </tr>
    </table>

I can't set this param when submitting for Beta Review significantChangeM

[2015-09-04 20:59] Liquidsoul opened #571 "version_bump_gemspec action"
The idea is to have an action that could bump the patch/minor/major version of files like cocoapods' `podspec` for example or `fastlane`'s version in its `lib/fastlane/version.rb`.

[2015-09-04 21:01] Liquidsoul commented on #571
I'll work on that I soon as I can 🔧

[2015-09-05 10:10] fastlane-bot-helper opened #1918 "Switch TestFlight off for apps in iTunes Connect?"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/13449138?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @sarthak03 - Imported from <a href='https://github.com/fastlane/pilot/issues/25'>fastlane/pilot#25</a>
        </td>
      </tr>
    </table>

Is there a way `pilot` can be used to switch off TestFlight for selected apps

[2015-09-06 10:57] souravray commented on #559
@KrauseFx tried to run installation using a different connection (intact slower than the earlier one), and it was successful. So it was a network problem :)

[2015-09-06 10:57] #559 closed

[2015-09-06 10:58] chaitanyakuber commented on #169
+1 on waiting paitently... we are looking at using fastlane for our iOS app and would love to use it for android as well

[2015-09-06 14:58] toshi0383 opened #575 "set_github_release action says the release already exists"
Here is my app's [repo](https://github.com/toshi0383/LGTM) .
`fastlane mac release` gives me below.

What's wrong here ? I didn't push any tags named '20' .

[code]

thanks !

[2015-09-06 16:07] KrauseFx commented on #575
I ran into the same issue just 2 days ago and thought it was a networking issue cc @czechboy0

[2015-09-06 16:08] KrauseFx commented on #575
Oh, you're using the new assets feature already? :rocket:

[2015-09-06 16:43] czechboy0 commented on #575
Yeah I know what it is, basically it happens when you don't pass `commitish` (the branch to create the tag on). I'll PR a fix in a sec.

[2015-09-06 16:45] KrauseFx commented on #575
So falling back to `master` by default it should work?

[2015-09-06 16:45] czechboy0 commented on #575
Yeah the problem is it's passing `nil` instead of not including the `commitish` key. Let me fix it.

[2015-09-07 19:12] mchiesa opened #581 "Upload increment_build_number or increment_version_number programatically"
Hi KrauseFx, I want to update build number or version number depending a boolean value

Here is my fastlane file :

[code]

Everything works fine, but build/version number is not updating.. What is wrong?

Thanks a lot,
Martin

[2015-09-07 19:18] KrauseFx commented on #581
You don't pass anything to the `build_app` lane inside the `beta` lane

[code]

Then call the lane using

[code]

or

[code]

:rocket:

[2015-09-07 19:19] KrauseFx commented on #581
The only thing I changed it

[code]

to

[code]

Let me know if that works for you :+1:

[2015-09-08 05:08] Liquidsoul commented on #565
@xfreebird : the `podfile` option is available in version 1.25.0 of `Fastlane` :rocket:

[2015-09-08 05:09] xfreebird commented on #565
Thanks !

[2015-09-08 05:12] xfreebird commented on #566
This was implemented with #580.

[2015-09-08 05:12] #566 closed

[2015-09-08 05:12] #565 closed

[2015-09-08 05:14] KrauseFx commented on #566
Great, thanks again for your contribution :+1:

[2015-09-08 05:14] KrauseFx commented on #565
:rocket:

[2015-09-08 05:59] xfreebird commented on #533
@shams-ahmed  I think it is looking for keychain access, and the keychain is locked. I think sigh manages only the provisioning profiles, but you might also need to provide the signing certificate in a keychain.

[2015-09-08 07:48] yuriy-tolstoguzov opened #582 "commit_version_bump hangs indefinitely"
I use fastlane 1.25.0

My lane is:
[code]

I don't know what happenning but `commit_version_bump` action hangs indefinitely
Logs from Jenkins:
[code]

[2015-09-08 07:53] yuriy-tolstoguzov commented on #511
http://stackoverflow.com/questions/32102786/fastlane-oclint-cocoapods-integration-error-when-excluding-pods-folder

Eventually I just replaced regex with positive one: `/\/Classes\//`

[2015-09-08 08:20] yuriy-tolstoguzov commented on #582
After some dancing with tambourine goes through this line and hangs on next `git diff --name-only HEAD` within `commit_version_bump` action. Probably it related to git client or jenkins then, I don't know

[2015-09-08 09:28] shams-ahmed commented on #533
@xfreebird am using the following script to unlock the keychain.

[code]

am finding it difficult to debug the issue as i cant see any logs

[2015-09-08 10:37] mtford90 commented on #329
Just facing this issue myself - should this really be closed? My team commit the project file and if I hardcode the plist path within project settings this is going to break the project for other members of my team. Why can't fastlane expand environment variables such as $(SRCROOT)?

[2015-09-08 10:44] mtford90 commented on #118
+1 e.g. would be nice for a "bump" lane for bumping version numbers in a similar way to what is achievable in js projects via a gulp file

[2015-09-08 11:47] Pr0Ger commented on #329
@mtford90 I still using a relative path to this file, but without using $(SRCROOT) variable. In this case, Xcode and other tools will resolve full path to file from project root directory. This is how my project file looks like (I strip some lines because this parameter is duplicated for all configurations):
[code]

[2015-09-08 12:16] yuriy-tolstoguzov commented on #582
Found solution!

It showed warning after aborting the build:
[code]

So I added next line before executing lane:
[code]

And now it works without any problems.

[2015-09-08 12:16] #582 closed

[2015-09-08 12:48] helgetan commented on #567
@lacostej suggestion did not work on my side, anybody else ?

[2015-09-08 13:38] mdeandreis commented on #581
Hi KrauseFx, it´s me again

I´m triying to update build number or version number depending a boolean value using fastlane

If I do this I can´t achieve what I want

before_all do
    # ENV["SLACK_URL"] = "https://hooks.slack.com/services/..."

    # cocoapods
    gym # Build your app - more options available
    # xctool # run the tests of your app
  end

  private_lane :build_app do |options|

[2015-09-08 13:43] natanrolnik opened #583 "Using crashlytics and settings notifications to "NO" or false, triggers notifications"
Using the latest fastlane (v. 1.25.0), after building the app with gym, I call the following:

[code]

Strangely, I end up receiving the e-mail notifications (and the groups parameter works as expected). Am I doing something wrong here, or maybe it's a bug?

[2015-09-08 14:15] fousa commented on #582
I seem to have the same problem since version 1.25.0.

[code]

[2015-09-08 15:10] worldpay-cse-mobile-support commented on #533
I think I see the problem, but not 100% sure.
First it would be sufficient to run:

[code]
This will add the keychain to the search list.

No need for
[code]

Secondly, make sure you don't have bash special chars in $IOS_CI_KEYCHAIN_PASSWORD, like "$`"

If these didn't help, you also might want to to use the xcodebuild action to see the exact error. It seems gym with xcpretty is hiding the real er

[2015-09-08 15:11] xfreebird commented on #533
I think I see the problem, but not 100% sure.
First it would be sufficient to run:

security unlock-keychain -p "$IOS_CI_KEYCHAIN_PASSWORD" "$KEYCHAIN_NAME"
security set-keychain-settings "$KEYCHAIN_NAME"
open "$KEYCHAIN_NAME"
This will add the keychain to the search list.

No need for

security list-keychains -s "$KEYCHAIN_NAME"
Secondly, make sure you don't have bash special chars in $IOS_CI_KEY

[2015-09-08 16:56] KrauseFx commented on #583
Could you try passing a boolean instead?

[code]

[2015-09-08 16:56] KrauseFx commented on #583
Did some part of the documentation state to use `"NO"`?

[2015-09-08 16:58] KrauseFx commented on #567
@helgetan I assume you tried using `sudo`? If nothing works, you can always start using [rvm](https://rvm.io/) to have a "sudo-less" installation of `fastlane` and the other gems.

[2015-09-08 18:03] KrauseFx commented on #118
Thanks, this is now implemented :rocket:

[2015-09-08 18:03] #118 closed

[2015-09-08 18:35] natanrolnik commented on #583
I just tried using a boolean now, and it fired the emails.

The documentation [here](https://github.com/KrauseFx/fastlane/blob/master/docs/Actions.md#crashlytics-beta) just mentions about notifications, without specifying parameters. So I checked the crashlitycs.rb [action these lines](https://github.com/KrauseFx/fastlane/blob/master/lib/fastlane/actions/crashlytics.rb#L29-L43) and concluded that

[2015-09-08 19:53] fousa opened #585 "commit_version_bump seems to hang"
When running `fastlane deploy`, the commit_version_bump seems to stop working for some reason...

Here is my `Fastfile`:
[code]

Here is the command line output:
[code]

[2015-09-08 20:01] KrauseFx commented on #585
What happens when you run the printed commands manually?

[2015-09-08 20:01] kevboh commented on #321
Seeing the same thing:

[code]

The `pbxproj` and `plist` files are correct. If I run `git diff --name-only HEAD` I get:

[code]

And `git ls-files --other --exclude-standard` is empty, so I don't see where `.` is coming from.

[2015-09-08 20:03] kevboh commented on #321
Wait... looking at the source, I think the `.` is just part of the error message. So I'm not sure where the difference is.

[2015-09-08 20:04] fousa commented on #585
The `git rev-parse --show-toplevel` return the path to my project.

And running `git diff --name-only HEAD` returns 2 files (the relative plist path and the pbxproj path) with a big (END) below it.

[2015-09-08 20:23] KrauseFx commented on #585
I'm curios why there is

[code]

Did this work before? It might be an issue that I introduce with the last `fastlane` update

[2015-09-08 20:23] fousa commented on #585
It worked without changing anything in the fastlane configuration...

[2015-09-08 20:26] KrauseFx commented on #585
Yes, that's my fault then. I'll push a fix, thanks for letting me know.

[2015-09-08 20:30] fousa commented on #585
\o/

Love the support speed btw.!!

[2015-09-08 20:38] KrauseFx commented on #585
The problem is that `git diff --name-only HEAD` opens up in full screen mode kind of thing. With the last update of `fastlane` this will never exit. I'll have to find a way around it.

When piping it over to `cat` it will lose the color information...

[2015-09-08 20:41] fousa commented on #585
Is this closed issue related? #582

[2015-09-08 20:42] KrauseFx commented on #585
Could you give it a try?

[code]
Also could you try using a different terminal/computer?

[2015-09-08 20:46] fousa commented on #585
Didn't work for me...

[2015-09-08 22:10] RandyAdams commented on #349
Felix

Any thoughts about doing Fastlane for the Google Play Store?

Regards,

Randy

[2015-09-08 22:16] djkitsch commented on #349
I'm having the same issue as @staminajim, and with the same resolution. Failure with normal use, and success if I remove `--force`.

[2015-09-09 01:57] rrecio opened #586 "sh helper hang after update from 1.22 to 1.25"
It was working fine before updating :(

<img width="1440" alt="screen shot 2015-09-08 at 10 55 25 pm" src="https://cloud.githubusercontent.com/assets/52694/9751573/dc746e0e-567c-11e5-87db-0ec4380addbf.png">

[2015-09-09 01:59] rrecio commented on #586
I run it as

`ENV['DELIVER_WHAT_TO_TEST'] = sh("git log --oneline #{version_number}-1..HEAD")`

[2015-09-09 06:07] lacostej commented on #519
The swift fixes fails to protect against that very problem:
[code]

[2015-09-09 11:34] fastlane-bot opened #1791 "produce associate_group returns a 400 error"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/3940780?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @mashour - Imported from <a href='https://github.com/fastlane/produce/issues/75'>fastlane/produce#75</a>
        </td>
      </tr>
    </table>

When trying to associate an app with an app group using the following command

[2015-09-09 13:04] toshi0383 commented on #575
Is this fix in 1.25.0 ? I'm still experiencing this issue.
I created a sample repo [here](https://github.com/toshi0383/fastlane-playground).
On master branch, do `fastlane mac release` to reproduce.

[code]

[2015-09-09 15:00] ksm opened #587 "set_github_release keeps reporting release on tag already exists"
`set_github_release` has stopped working for me as expected for two of my previous fastlane deployments.

What my lane does:
1) `commit_version_bump`
2) `add_git_tag tag: v1.0`
3) `push_to_git_remote`
4) `set_github_release` where I pass `v1.0` to `tag_name` parameter

This results in an error in the `set_github_release` step:
`Release on tag v1.0 already exists!`

A while ago these steps worked a

[2015-09-09 21:32] bkrijgsman commented on #563
I successfully used the tools of fastlane and all the functions with multiple schemes.

Only one strange thing is happening: i can't upload anymore.

I got the following error message:

Return status of iTunes Transporter was 1: ERROR ITMS-4064: "File extension of file '7831df527cc49504cd3b301167effc05' is invalid for this software; use 'zip,ipa' instead."

I opened the .itmsp file in the /tmp/ fo

[2015-09-09 22:21] KrauseFx commented on #563
`7831df527cc49504cd3b301167effc05`, that's odd, it should be `7831df527cc49504cd3b301167effc05.ipa`.

Did this work before? Are you using `gym` with `deliver`?

[2015-09-09 22:24] bkrijgsman commented on #563
Yes i do. If i change the name of the output ipa (instead of ./.ipa --> test.ipa) this bug is somehow fixed.

[2015-09-09 23:31] KrauseFx commented on #563
So does it work now in an automated manner? Or do you need to manually update it?

[2015-09-10 00:58] KrauseFx commented on #587
I actually ran into the same issue a few days ago, as seen here: https://github.com/KrauseFx/fastlane/issues/575

Have you updated to the latest version of fastlane?

[2015-09-10 00:58] KrauseFx commented on #587
Let's move further discussion to https://github.com/KrauseFx/fastlane/issues/587

[2015-09-10 00:58] #587 closed

[2015-09-10 00:59] KrauseFx commented on #575
It's been working for me today. The latest release should have this patch already.

[2015-09-10 01:00] KrauseFx commented on #586
Thanks for reporting, I'm aware of this issue and hope to push a new version today.

[2015-09-10 01:16] KrauseFx commented on #586
I just pushed a new version, please let me know if that works for you :rocket:

[2015-09-10 01:16] #586 closed

[2015-09-10 01:16] KrauseFx commented on #585
I just pushed a new version, please let me know if that works for you :rocket:

[2015-09-10 02:31] toshi0383 commented on #575
still got error on 1.25.1 ...

[2015-09-10 05:25] fousa commented on #585
Works! Thanks man!

-- 
Jelle Vandebeeck
http://fousa.be

On 10 Sep 2015 at 03:16:56, Felix Krause (notifications@github.com) wrote:

I just pushed a new version, please let me know if that works for you

—
Reply to this email directly or view it on GitHub.

[2015-09-10 06:05] #585 closed

[2015-09-10 06:05] KrauseFx commented on #585
Yeah :rocket:

[2015-09-10 06:25] DamianSheldon opened #588 "'Math.h' file not found"
▸ Compiling MBPolygonView.m

⌦  /Users/dongmeiliang/Documents/HJKApp/srsApp/Pods/MBCalendarKit/MBCalendarKit/CalendarKit/Core/MBPolygonView.m:9:9: 'Math.h' file not found

#import <Math.h>
^

▸ Building Pods/AJFrame [Release]

...

▸ Compiling AJData.m
▸ Compiling AJCallTag.m
** ARCHIVE FAILED **

The following build commands failed:
CompileC /Users/dongmeiliang/Library/Developer/Xcode/DerivedData

[2015-09-10 06:41] #588 closed

[2015-09-10 09:58] bkrijgsman commented on #563
It's the automated. I had some problems with the code signing.
I used --xcargs PROVISIONING_PROFILE = "{UUID}" to automatically select the right profile.

I used this script to find the UUID:
def profile_uuid(provisioning_profile_path)
  profile_contents = File.open(provisioning_profile_path).read
  profile_contents = profile_contents.slice(profile_contents.index('<?'), profile_contents.length)

[2015-09-10 10:15] ksm commented on #587
Thanks. Updating now. Will let you know if it continues.

[2015-09-10 15:25] toshi0383 commented on #575
I think I figured out.
If I put `committish` , it always gives the error ?

[code]

[2015-09-10 16:46] czechboy0 commented on #575
@toshi0383 `commitish` must be a name of a branch on which to create the tag. If it's not supplied, GitHub creates the tag on the default branch. Here you have `commitish` as `4`... is that a branch name?

[2015-09-10 16:47] czechboy0 commented on #575
The problem seems to be that you're supplying an invalid `commitish`, which GitHub responds to with the same error as when the tag already exists (dumb, I know).

[2015-09-10 18:25] KrauseFx commented on #587
Sorry, wrong link before, I mean https://github.com/KrauseFx/fastlane/issues/575. Please subscribe to the other issue or add a comment to join the discussion :+1:

[2015-09-10 22:48] fastlane-bot-helper opened #1861 "gym ignores configuration flag when doing archive name"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/1556000?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @romk1n - Imported from <a href='https://github.com/fastlane/gym/issues/77'>fastlane/gym#77</a>
        </td>
      </tr>
    </table>

Hi,

Something weird is happening. We want to use fastlane and trying to get `gym` wor

[2015-09-11 00:11] toshi0383 commented on #575
If I put 'master' to committish, it worked fine. Thanks for the advice !!

[2015-09-11 00:32] czechboy0 commented on #575
Happy to help!

Might be an improvement - to validate the commitish and print error if no commit or branch can be found. That would allow for much more accurate error message in this case.

[2015-09-11 04:24] phatblat commented on #227
Just ran into this issue when running fastlane from a Jenkins build. Setting `LC_ALL=en_US.UTF-8` in the Jenkins configuration resolved the issue.

![jenkins-environment-variable](https://cloud.githubusercontent.com/assets/28851/9807026/6c9aaf8c-580a-11e5-8be9-e0ed7ed7ce56.png)

[2015-09-11 08:06] forhot2000 opened #589 "update_project_provisioning action says undefined method `product_type'"
I have used [Mogenerator](https://github.com/rentzsch/mogenerator) to generate entity classes, and it added a target named Mogenerator in project, but it not have productType. So, when I use target_filter, it is failed to update project provisioning profile.

Part of my Fastfile:

[code]

Error report:

[code]

[2015-09-11 16:04] KrauseFx commented on #589
It is recommended to use the new solution for code signing: https://github.com/KrauseFx/fastlane/blob/master/docs/CodeSigning.md

[2015-09-11 16:05] KrauseFx commented on #589
Could you switch to the recommended way? Or is there a reason you're using `update_project_provisioning`?

[2015-09-11 20:28] orta opened #591 "Typo in variable dump"
Export?

[code]

[2015-09-11 20:47] KrauseFx commented on #591
Could you run
[code]
manually and check the output? I think the spelling mistake is on Apple's side.

[2015-09-11 20:48] orta commented on #591
[code]

Doesn't look like it

[2015-09-11 20:54] KrauseFx commented on #591
But this text is nowhere in the `fastlane` repos, it must be from outside...

[2015-09-11 20:55] KrauseFx commented on #591
[code]

where does this come from? Can you share the stack trace?

[2015-09-11 21:22] orta commented on #591
You're right! Definitely an Apple bug: http://www.markschabacker.com/blog/2013/01/04/agvtool_with_new_projects/

[2015-09-11 21:22] #591 closed

[2015-09-11 21:56] KrauseFx commented on #591
Radar time :bug:

[2015-09-11 21:56] orta commented on #591
Hah, good joke.

[2015-09-12 02:21] rrecio commented on #586
@KrauseFx yeah it woked :+1:  thanks.

[2015-09-12 08:50] Liquidsoul commented on #571
:rocket:

[2015-09-12 08:50] #571 closed

[2015-09-12 08:51] Liquidsoul commented on #539
I think we can close this @KrauseFx :wink:

[2015-09-12 09:03] Liquidsoul commented on #529
Hi @masa-beheim !

Maybe I am wrong, but I think @KrauseFx's point is that it would be dangerous to do that automatically in your CI workflow. And I agree with this because I think you need to have full control over the evolution of your dependencies.

However, I suppose that, because you're checking in your pods, you want to have a `fastlane` lane that do a `pod install` to update your pods and t

[2015-09-12 14:10] rrecio opened #593 "After Transporter is finished, fastlane says I do not have access to the apps."
It happened twice.

I'm using El Captain GM + Xcode 7 GM + fastlane 1.25.1

![fastlane error](https://cloud.githubusercontent.com/assets/52694/9831886/ba3a2274-593e-11e5-97cc-4f41862e5bcc.png)

[2015-09-12 17:29] xfreebird commented on #524
Hi @KrauseFx,

I've been looking on how to implement the locking mechanism so that only one cocoapods or xctest is running on a given machine.

My approach is quite simple and generic. The basic idea is to have a lock file with the pid of the process that created it. In this way it will guarantee than only one instance of that action is being run currently on a machine.

My only problem right now

[2015-09-13 03:11] KrauseFx commented on #593
Sorry, this is a problem of `deliver`, if it's okay to only upload the builds and not submit them for review, feel free to use the skip_deploy action.

I'm working on a new version of `deliver`, which will fix this issue: https://github.com/KrauseFx/deliver/pull/259

[2015-09-13 03:12] KrauseFx commented on #539
Thanks :+1:

[2015-09-13 03:12] #539 closed

[2015-09-13 03:56] xfreebird opened #595 "fastlane develop branch is far behind"
Hi @KrauseFx,

What's with the develop branch ?
It is almost 200 commits behind the master.

Cheers,
Nicolae

[2015-09-13 04:05] KrauseFx commented on #595
Not using it right now, will update it :+1:

[2015-09-13 04:05] KrauseFx commented on #595
Done :rocket:

[2015-09-13 04:05] #595 closed

[2015-09-13 17:04] thorstenhuhn opened #596 "[Feature] Add support for hidden -increment-minor-version option in increment_build_version action"
Apple's `agvtool` has a hidden option `-increment-minor-version` I use to bump my build version.
[code]
will bump 35.3 to 35.4, while the default behaviour would bump to 36.

I would love to see a `minor: true|false` option in the `increment_build_version` action. It might be useful for others too.

[2015-09-13 19:16] rrecio commented on #593
Actually, what matter for me most is filling up "What To Test"

[2015-09-13 23:10] schickling commented on #349
Can confirm this is a network related issue. I'm based in the UK using Virgin Media. It fails the following command but works when using a VPN proxy server: `sigh -df`

[2015-09-14 07:37] masa-beheim commented on #529
I understand what you guys mean now. I agree. And your input got me thinking. Obviously I do not need to run `pod install` at all on the server when checking pods in. This was my misunderstanding. Thank you @KrauseFx and @Liquidsoul for the help. You can close this now.

[2015-09-14 09:26] fastlane-bot-helper opened #1917 "Transporter transfer failed"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/6689319?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @arasu01 - Imported from <a href='https://github.com/fastlane/pilot/issues/31'>fastlane/pilot#31</a>
        </td>
      </tr>
    </table>

[18:32:01]: Waiting for iTunes Connect transporter to be finished.
[18:32:01]: iT

[2015-09-14 10:44] ianwhite2 opened #597 "Multiple target or Multiple branded app"
Hi @KrauseFx
First of all this tool has surely saved my lots of time !! Thanks for this awesome tool.

How can I run multiple scheme in a lane means If one lane is completed it should automatic start the other lane which has different scheme

Any guidance for this ?

Thanks

[2015-09-14 12:43] truth3 commented on #596
One thing I am doing in the, is setup two different lanes for bumping the build number and minor version as I am not quite sure I want to bump the version / build number for each target I build (since there is close to 40 of them) :)

[2015-09-14 13:06] truth3 commented on #597
Hey Ian, if you want to keep separate lanes you can pass something like this through the command line.

fastlane lane1 && fastlane lane2

Otherwise, you can
![screen shot 2015-09-14 at 9 05 47 am](https://cloud.githubusercontent.com/assets/7986768/9850315/d0f28588-5abf-11e5-9bca-d94ccd0d42c9.png)
 just call gym several times within the same lane and pass in a different scheme in each one

[2015-09-14 13:07] toshi0383 commented on #575
:+1:

I think it's nicer to have instruction error messages as you suggest.

Because.. today I got another case.
If I comment-out description parameter as below, I get the error saying "Release on tag 6 already exists!".

[code]

[2015-09-14 15:41] KrauseFx commented on #529
Great to hear :+1:

[2015-09-14 15:41] #529 closed

[2015-09-14 15:50] KrauseFx commented on #597
@ianwhite2 I assume you have more than a few apps you want to run through, right?

You can easily do something like this in your `Fastfile`:

[code]

Also, check out [this guide](https://github.com/KrauseFx/fastlane/blob/master/docs/FAQs.md#multiple-targets-of-the-same-underlying-app) about having multiple targets/schemes

[2015-09-14 15:51] KrauseFx commented on #597
@truth3 You can use the GitHub flavored markdown to add code blocks, so you don't have to create and upload screenshots :smiley:

[2015-09-14 17:31] truth3 commented on #597
Thanks @KrauseFx , you are always looking out for everyone's best interest :+1:

[2015-09-14 18:34] ianwhite2 commented on #597
@KrauseFx thanks ,you are the best ,Yes I have multiple target/Scheme and m new to ruby and this so sorry for the noob question.
["Scheme1", "Scheme2", "Scheme3"].each do |scheme_name|
  gym(scheme: scheme_name)

this will just create the build as per my understanding but how can I taking snapshot and deliver the ipa using this for loop ?

[2015-09-14 19:16] lemonkey commented on #338
Worked for me as well.

[2015-09-14 21:34] fastlane-bot-helper opened #1860 "iOS 9 Invalid Swift Support"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/337986?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @djtarazona - Imported from <a href='https://github.com/fastlane/gym/issues/81'>fastlane/gym#81</a>
        </td>
      </tr>
    </table>

Has anyone been able to successfully submit a build to iTC / TestFlight for iOS 9 w

[2015-09-15 05:58] ChenJing000 opened #598 "Why can't install fastlane"
$ sudo gem install fastlane --verbose
GET https://rubygems.org/latest_specs.4.8.gz
302 Moved Temporarily
ERROR:  Could not find a valid gem 'fastlane' (>= 0), here is why:
          Unable to download data from https://rubygems.org/ - Errno::ECONNRESET: Connection reset by peer - SSL_connect (https://rubygems.org/latest_specs.4.8.gz)
GET https://rubygems.org/prerelease_specs.4.8.gz
302 Moved Tempo

[2015-09-15 07:11] ChenJing000 opened #599 "Can't solve dependency problem between fastlane and deliver"
During installation of "gem install fastlane", finally it got:

ERROR:  While executing gem ... (Gem::DependencyError)
    Unable to resolve dependencies: fastlane requires deliver (< 1.0.0, >= 0.13.2); frameit requires deliver (> 0.3)

I also cannot install deliver alone, what should I do?

My Email is: jing000@gmail.com. I am waiting for the solution anxiously, could you please help me solve thi

[2015-09-15 07:16] xfreebird commented on #598
Hi @ChenJing000, is that always reproducible ?
On my side all works just fine.
Try using a different internet connection and see if that helps.

[2015-09-15 07:21] xfreebird commented on #599
@ChenJing000 may be this is somehow related to your issue #598 ? Have you solved #598 ?

[2015-09-15 07:24] xfreebird commented on #597
Hi @ianwhite2, I think you could just add the deliver and snapshot in that block:

[code]

[2015-09-15 07:35] ChenJing000 commented on #598
This issue has been solved by changing the mirror, but it finally failed as issue 599: Can't solve dependency problem between fastlane and deliver

[2015-09-15 07:37] ChenJing000 commented on #598
When I git clone the "deliver", during installation of deliver, it failed by dependency on fastlane, so it is a cycling dependency between fastlane and deliver!

[2015-09-15 07:38] ChenJing000 commented on #599
When I turned to clone and install deliver, it finally failed as it depend on fastlane, what should I do?

[2015-09-15 07:51] xfreebird commented on #599
Try removing all gems and start from beginning.

[code]

[2015-09-15 08:02] ChenJing000 commented on #599
sudo gem uninstall --all
Password:
ERROR:  While executing gem ... (Gem::CommandLineError)
    Please specify at least one gem name (e.g. gem build GEMNAME)

[2015-09-15 08:05] xfreebird commented on #599
Try this one
[code]

[2015-09-15 08:15] ChenJing000 commented on #599
After uninstalling, I gem install fastlane again and encountered the same issue,: Unable to resolve dependencies: fasten requires deliver (<1.0.0, >= 0.13.2), framed requires deliver (>0.3)

[2015-09-15 08:16] ChenJing000 commented on #599
After uninstalling, I gem install fastlane again and encountered the same issue,: Unable to resolve dependencies: fastlane requires deliver (<1.0.0, >= 0.13.2), frameit requires deliver (>0.3)

[2015-09-15 08:43] ChenJing000 commented on #599
I  failed at this stage:

...
GET http://rubygems-china.oss.aliyuncs.com/quick/Marshal.4.8/unf_ext-0.0.7.1.gemspec.rz
200 OK
ERROR:  While executing gem ... (Gem::DependencyError)
    Unable to resolve dependencies: fastlane requires deliver (< 1.0.0, >= 0.13.2); frameit requires deliver (> 0.3)

[2015-09-15 08:59] ianwhite2 commented on #597
@xfreebird  but how to i pass the scheme name to snapshot file ?,or does it automatically takes care of it

[2015-09-15 09:30] xfreebird commented on #599
Hi @ChenJing000  just to make sure few things:

- which ruby are using (e.g. are you using system ruby or a different one installed through rvm or other means) do you have ```.rvm``` in you ```$HOME``` folder ?
- what version of OS X are you using ?

[2015-09-15 09:31] ChenJing000 commented on #599
$ ruby -v
ruby 2.0.0p481 (2014-05-08 revision 45883) [universal.x86_64-darwin14]

I am using Mac OS X 10.10.5

[2015-09-15 09:37] xfreebird commented on #597
You could create a Snapfile file per scheme:

[code]

and in the ```Fastfile```:

[code]

May be there are easier ruby tricks to pass the Scheme name to snapshot, but I'm not aware of it.

[2015-09-15 09:40] xfreebird commented on #599
You said before you had to change the ruby gem mirror, how did you change it ?

[2015-09-15 09:43] xfreebird commented on #599
what does ```gem list``` return for you ?

[2015-09-15 09:44] ChenJing000 commented on #599
$ gem sources --remove https://rubygems.org/
$ gem sources -a http://ruby.taobao.org/

This way I changed the mirror into local URL ruby.taobao.org

[2015-09-15 09:44] ChenJing000 commented on #599
$ gem list

*** LOCAL GEMS ***

aws-sdk (1.65.0)
aws-sdk-v1 (1.65.0)
bigdecimal (1.2.0)
CFPropertyList (2.2.8)
commander (4.3.5)
dotenv (2.0.2)
faraday (0.8.10)
faraday_middleware (0.10.0)
highline (1.7.3)
io-console (0.4.2)
json (1.8.3, 1.7.7)
libxml-ruby (2.6.0)
mini_portile (0.6.2)
minitest (4.3.2)
multipart-post (1.2.0)
net-sftp (2.1.2)
net-ssh (2.9.2)
nokogiri (1.5.6)
plist (3.1.0)
psych (2.0

[2015-09-15 09:57] ChenJing000 commented on #599
Another colleague who has cloned the latest version of code yesterday has luckily gone through the installation, and but when he try to run "deliver", it has succeeded once (uploaded meta data successfully without ipa), but always encountered this error (he didn't change any configuration between the time of success and the failure):
[17:16:53]: Logging into iTunesConnect
[17:17:20]: Looks like yo

[2015-09-15 10:06] xfreebird commented on #599
About your issue with sudo ```gem install fastlane``` it is related to your ruby setup and mirror. The mirror you are using is replicating the official ruby gems repository.

At least it is working flawless for me.

The iTunes part, that is a different issue, please open a new issue or find and existing one.
Nevertheless I suppose the userzhangxinyi0104@163.com is not allowed to access apps in iTu

[2015-09-15 10:10] xfreebird commented on #598
From http://ruby.taobao.org/index_en.html:

```Due to network issues in China (you understand)，there are intermittent connection failures when accessing to rubygems.org and the files hosted on Amazon S3.```

It could be that you got a corrupted cache or if you are using http://ruby.taobao.org mirror, it hasn't finished to sync all gems.

[2015-09-15 10:18] ChenJing000 commented on #599
About the issue of logging iTunesconnect, yes the account works always, that's what we have been using for app store, and it can pull all the information including the screenshots from the app store which were uploaded long time before we use fastlane, therefore it means this account/password is correctly entered into the config of fastlane.

[2015-09-15 13:19] clooth commented on #400
I had this problem as well, but it went away when I gave the `hockey` action the application's `public_identifier` parameter.

[2015-09-15 14:12] jjepsen commented on #400
I had the same error message and public_identifier worked for me too. Thanks!

[2015-09-15 15:31] svartalfheim commented on #338
thanks!

[2015-09-15 15:57] KrauseFx commented on #597
Even better:

[code]
and in your `Snapfile`:
[code]

This will use an environment variable to pass the scheme from `fastlane` to the `Snapfile`, so you only need one `Snapfile` :rocket:

[2015-09-15 15:59] KrauseFx commented on #598
Thanks @xfreebird for jumping in.

Closing in favor of https://github.com/KrauseFx/fastlane/issues/599

[2015-09-15 15:59] #598 closed

[2015-09-15 15:59] xfreebird commented on #597
:+1:

[2015-09-15 16:08] KrauseFx commented on #400
Great to hear :+1:

[2015-09-15 16:08] #400 closed

[2015-09-15 16:16] thorstenhuhn commented on #596
Well, I need those two parts of the build version for organizational reasons but I can workaround this "issue" by doing the calculation on my own and using the `increment_build_number(build_number: <calculated value>)` syntax. I could also call `agvtool` directly.

The remaining question is, if it makes sense to support a hidden (and maybe deprecated?) feature.
If yes, `bump_type: "minor"` would r

[2015-09-15 17:15] Liquidsoul commented on #596
Hi @thorstenhuhn

Does adding the possibility to trim the version number to the part you want in `increment_version_number` would solve the problem ?
Because right now, if you respect the `major.minor.patch` version format you can bump any part using the corresponding `bump_type`.
I was thinking about adding a `trim` option to this to be able to remove zeroed trailing parts in a version number (e.

[2015-09-15 21:22] pieisgood opened #600 "Fastlane fails on IDFA step on itunes connect"
If there are options for setting the IDFA requirements for an app, in the deliver file or otherwise I'm not aware of them. Not having these options for apps that use the IDFA causes a crash when submitting to Apple. Not the biggest issue, and likely born of ignorance on my part. Any help would be Baller.

[2015-09-15 22:09] KrauseFx commented on #600
Sorry, it seems like there is an issue with that: https://github.com/KrauseFx/deliver/issues/306

In the mean-time you'll have to manually submit the app for review, you can still upload everything using `deliver` using the `--skip-deploy` flag.

[2015-09-16 02:53] forhot2000 commented on #589
Hi, KrauseFx
I used update_project_provisioning in Travis-CI. I don't like to set my apple account in travis, it not very safe for account security, so I can't use sigh command here.

[2015-09-16 02:56] kdawgwilk commented on #420
I'm also experiencing slowness and `gem cleanup` didn't solve it for me ;(

[2015-09-16 03:46] fastlane-bot-helper opened #1859 "xctest action fails with custom output dir when build/reports dir does not exist"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/7799267?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @kdawgwilk - Imported from <a href='https://github.com/fastlane/gym/issues/82'>fastlane/gym#82</a>
        </td>
      </tr>
    </table>

Kept failing and then after I created the directory it worked
[code]
Here is the tr

[2015-09-16 08:09] ksm commented on #575
Just reporting in that `set_github_release` worked fine for me yesterday (Fastlane 1.26.0).

How I call it:

    set_github_release(
      tag_name: prefixed_version,
      name: "#{prefixed_version} (#{build_number})",
      description: release_notes,
      is_prerelease: true,
      api_token: github_token,
      repository_name: repo_name,
    )

Thank you @czechboy0 and @KrauseFx.

[2015-09-16 09:04] czechboy0 commented on #575
@toshi0383 Oh, I'll take a look at that later - it's possible that when you don't provide some of the params then GitHub rejects the JSON (which is the same error as when the release already exists).

[2015-09-16 09:43] ianwhite2 commented on #597
Thanks a  lot @KrauseFx  and @xfreebird - This tool is great and so you guys are :). I will also contribute to this community soon :)

[2015-09-16 09:43] #597 closed

[2015-09-16 14:31] myrddinus opened #601 "Command ipa set by default sdk : iphoneos, which failed with watch app 2"
I noticed that the command ipa set by default the sdk to "iphoneos". But watch os 2 need the sdk set to "watchos".
I need to remove the --sdk option to build my ipa.
On the shenzen repository : https://github.com/nomad/shenzhen/blob/master/lib/shenzhen/commands/build.rb
we have this line:
@sdk = options.sdk || 'iphoneos'

There is a way to remove that ?

[2015-09-16 16:20] KrauseFx commented on #597
:smiley:

[2015-09-16 16:43] KrauseFx commented on #589
You don't have to run `sigh`, you can just use this action:
[code]

instead of using `update_project_provisioning`

[2015-09-16 16:45] KrauseFx commented on #601
Yes, please use the new tool called [gym](https://github.com/fastlane/gym) instead of `shenzhen` and let me know if that works for you :+1:

You'll be able to pass all kinds of parameters using `fastlane action gym`

[2015-09-16 21:19] myrddinus commented on #601
I didn't have time to switch to gym, I'm actually using the 1.3 :) I'm going to migrate soon. So I used xcodebuild(...) to make the job. Thank you.

[2015-09-16 21:21] #601 closed

[2015-09-17 11:21] fdovila commented on #227
I had the same error message, my locale was not UTF-8, I tried this from https://stackoverflow.com/questions/7165108/in-osx-lion-lang-is-not-set-to-utf8-how-fix and solved the issue:

1) Modified/created a '.profile'

    nano ~/.profile

2) added these two lines to .profile:

    export LC_ALL=en_US.UTF-8
    export LANG=en_US.UTF-8

change en_US.UTF-8 to whatever country you are, just check firs

[2015-09-17 11:36] fastlanebot opened #2063 "Unauthorized access"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/2652260?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @lferro9000 - Imported from <a href='https://github.com/fastlane/spaceship/issues/105'>fastlane/spaceship#105</a>
        </td>
      </tr>
    </table>

This is my code:

[code]
And this is the error that i get:
[code]

A

[2015-09-17 14:24] ricardopereira opened #602 "Fastlane fail with: Invalid code signing settings"
I'm always getting `Your project settings define invalid code signing settings`. Locally it's working but not on the CI server. I think I have everything fine but something is missing:
[code]

I used _Code Signing: Best Solution - Using environment variables_ approach.

**Version**
`Successfully installed fastlane-1.26.0`

**Fastfile**
[code]

**Gymfile**
[code]

**Log**
[code]

**Build log**
[cod

[2015-09-17 15:16] fastlane-bot-helper opened #1858 "Changing Scheme Name"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/1481908?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @ovuncmetin - Imported from <a href='https://github.com/fastlane/gym/issues/84'>fastlane/gym#84</a>
        </td>
      </tr>
    </table>

Hi,

Can I change the schema name with gym or add PRODUCT_NAME that i can use with

[2015-09-17 16:49] KrauseFx commented on #602
This seems to be caused by your project settings. Make sure to have set the provisioning profile to use to `$(PROFILE_UDID)` and the code signing identity to the correct certificate you want to use.

[2015-09-17 17:59] ricardopereira commented on #602
Do I need to set the provisioning profile to `Pods.xcodeproj` as well?

[2015-09-17 18:01] KrauseFx commented on #602
No, that shouldn't be necessary.

[2015-09-17 18:10] ricardopereira commented on #602
Which certificate is chose when sigh creates a new provisioning profile?

[2015-09-17 18:22] KrauseFx commented on #602
The first one, but it will show you in the output how to specify the certificate you want to use.

[2015-09-17 18:43] ricardopereira commented on #602
I think that's the problem. It selects the wrong certificate.
Which output?
Sigh doesn't show how to select the correct one:
[code]

[2015-09-17 18:44] ricardopereira commented on #602
This one:
`[10:13:42]: Follow this guide: https://github.com/KrauseFx/fastlane/blob/master/docs/CodeSigning.md`?

[2015-09-17 18:59] KrauseFx commented on #602
Oh, it will choose the certificate which is available on the local machine.

You can pass the certificate to use using

[code]

You can get this information running `sigh --help`

[2015-09-17 19:00] KrauseFx commented on #602
So you can run `sigh --cert_id "xyz"` or `sigh --cert_owner_name "Felix Krause"

[2015-09-17 19:40] fastlane-bot-helper opened #1857 "The following build commands failed: PhaseScriptExecution Run\ Script status: 65"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/14180110?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @mdeandreis - Imported from <a href='https://github.com/fastlane/gym/issues/87'>fastlane/gym#87</a>
        </td>
      </tr>
    </table>

I´m running fastlane beta to upload a new version to iTunes Connect and Crashlyti

[2015-09-17 20:03] ricardopereira commented on #602
Oh, now I see. I don't need to run `cert` action because I've created one already.
It is working on my local machine but it fails on the CI server, so I need to download the certificate.

The information I get when I run `sigh --help`:
[code]

Nothing about `cert_id` or `cert_owner_name `.

[2015-09-17 21:06] KrauseFx commented on #602
Which version of `sigh` do you use? I assume a very old one, it should look like this:

[code]

[2015-09-17 22:01] ricardopereira commented on #602
Thanks in advance for your patience with me.
How can I get the certificate id?

![screen_shot_2015-09-17_at_22_58_33](https://cloud.githubusercontent.com/assets/3541185/9947161/f995815c-5d8f-11e5-8b7a-7a73fb0aace7.png)

[2015-09-18 06:54] fastlane-bot opened #1740 "Can not generate a framed screen with a title."
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/303121?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @olutsenko - Imported from <a href='https://github.com/fastlane/frameit/issues/49'>fastlane/frameit#49</a>
        </td>
      </tr>
    </table>

Hello,

I am trying to get the example working. I want to have two screensho

[2015-09-18 07:54] ricardopereira commented on #602
I made some changes.

[code]

The build failed again with the same message but the certificate is fine.

Log:

[code]

`⌦  Code Sign error: No code signing identities found: No valid signing identities (i.e. certificate and private key pair) matching the team ID “(null)” were found.` 😔

[2015-09-18 09:30] mehulmind123 opened #603 "Beta Entitlement Error in iTunes Testflight"
I am getting following error on iTunes "To use TestFlight Beta Testing, build XX must contain the correct beta entitlement. For more information, see the FAQ."  while using following sequence of command.

	produce
	cert
	sigh(adhoc: true)
	ENV["PROFILE_UDID"] = lane_context[SharedValues::SIGH_UDID]
	gym
	ENV["PILOT_IPA"] = ENV["IPA_OUTPUT_PATH"]
	pilot(skip_submission: true)

Anyone can let me kno

[2015-09-18 10:01] ricardopereira commented on #602
I set up `GYM_CODE_SIGNING_IDENTITY` and `GYM_PROVISIONING_PROFILE_PATH` and still get the same message:

[code]

Do you have any suggestion?

[2015-09-18 10:32] pbrooks opened #604 "Getting options in before_all"
As simple as it sounds,
For my gym call in before_all, I'd like to pass in the project path from the command line.

The use of:
platform :ios do
  before_all do |options|

    # ENV["SLACK_URL"] = "https://hooks.slack.com/services/..."

    # increment_build_number

    gym(project:options[:project]) # Build your app - more options available

    # xctool # run the tests of your app
  end

Fails o

[2015-09-18 12:55] GlaucoNeves commented on #169
+1! Expecting it since Google Play API doesn't allow you to create new apps.

[2015-09-18 17:58] KrauseFx commented on #603
Could you try deleting your provisioning profile and letting `sigh` create a new one for you?

[2015-09-18 17:59] KrauseFx commented on #604
Sorry, the `before_all` and `after_all` blocks don't support parameters right now. Instead, move shared code into a `private_lane` and call it from the other lanes.

Does this make sense?

[2015-09-18 20:03] fastlane-bot-helper opened #1916 "Pilot should use Deliverfile user for authentication"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/512264?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @tompowered - Imported from <a href='https://github.com/fastlane/pilot/issues/33'>fastlane/pilot#33</a>
        </td>
      </tr>
    </table>

Since iTunes Connect doesn't support multiple teams, I often use one Apple ID t

[2015-09-18 20:03] fastlane-bot opened #1739 "Doesn't work with new Apple product images"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/2164738?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @moesalih - Imported from <a href='https://github.com/fastlane/frameit/issues/50'>fastlane/frameit#50</a>
        </td>
      </tr>
    </table>

Using frameit with the latest product images from Apple doesn't work anymore

[2015-09-18 22:11] pbrooks commented on #604
I used envy parameters instead, fits my purpose

Sent from my iPhone

[2015-09-18 22:12] KrauseFx commented on #604
Perfect :rocket:

[2015-09-18 22:12] #604 closed

[2015-09-18 23:39] lemonkey opened #605 "Builds archived with Gym 0.6.2 no longer appear in Xcode 7 Organizer"
However, the .xcarchive file is in the proper location in the file system (~/Library/Developer/Xcode/Archives/<date>).

One thing I did notice was the following in the logs:

[16:31:00]: set -o pipefail && xcodebuild -workspace 'XXX.xcworkspace' -scheme 'XXX' -configuration 'AppStore-Beta' -destination 'generic/platform=iOS' -archivePath '/Users/xxx/Library/Developer/Xcode/Archives/2015-09-18/org.

[2015-09-18 23:43] lemonkey commented on #605
Nevermind. The organizer eventually showed the new build. There was definitely a few minutes where it wasn't showing when it was in the file system.

[2015-09-18 23:43] #605 closed

[2015-09-19 05:41] mehulmind123 commented on #603
I tried it, but did not work.
However i have noticed log of sign and discovered, it is performing following steps every time, even if there is profile on folder.

Successfully logged in
[11:03:03]: Fetching profiles...
[11:03:13]: Found 1 matching profile(s)
[11:03:13]: Downloading provisioning profile...
[11:03:15]: Successfully downloaded provisioning profile...
[11:03:15]: Installing provisioni

[2015-09-19 08:43] hufkens opened #606 "Error after upgrading to fastlane"
After upgrading I get this error and can't submit Test Flight and Crashlytics builds.

[code]

[2015-09-19 15:09] fastlane-bot-helper opened #1855 "Xcode 7 export archive error"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/904596?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @SpacyRicochet - Imported from <a href='https://github.com/fastlane/gym/issues/89'>fastlane/gym#89</a>
        </td>
      </tr>
    </table>

I'm trying to build a ad hoc version. After upgrading to Xcode 7, my fastlane se

[2015-09-19 20:00] fastlane-bot opened #1738 "Unable to frame images if custom font not given"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/893050?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @ayushgoel - Imported from <a href='https://github.com/fastlane/frameit/issues/51'>fastlane/frameit#51</a>
        </td>
      </tr>
    </table>

In case I do not specify a custom font in `Framefile.json` i.e. comment out

[2015-09-19 21:59] fastlane-bot-helper opened #1915 "Pilot sometimes dies when waiting for testflight to finish processing the build:"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/843213?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @vetrovosk - Imported from <a href='https://github.com/fastlane/pilot/issues/35'>fastlane/pilot#35</a>
        </td>
      </tr>
    </table>

I think 3 of 5 uploads finish like this for us:

[code]

It looks like this erro

[2015-09-19 23:06] ricardopereira commented on #602
I finally figured out what is wrong.

[code]

`CODE_SIGN_IDENTITY` is missing on the xcodebuild command.

I set up the Gymfile with `codesigning_identity "iPhone Distribution: X Lda (2C58BZR8M3)"`but it doesn't appear on the command.

I tested with `xcodebuild -workspace './X.xcworkspace' -scheme 'X' -destination 'generic/platform=iOS' -archivePath '/Users/ricardopereira/Library/Developer/Xcode/Ar

[2015-09-20 02:03] DigitalRogues commented on #606
I'm seeing this error also, with version 1.27.0 and I have multiple targets, ios app with a watchOS 2 app/extension.

[2015-09-20 03:37] KrauseFx commented on #603
Have you tried the same using the latest version of `gym`?

[2015-09-20 03:51] KrauseFx commented on #602
Oh, I thought you followed the guide at https://github.com/KrauseFx/fastlane/blob/master/docs/CodeSigning.md and set the code signing identity in your project.

I'm looking into how I can work that into `gym`.

[2015-09-20 03:57] KrauseFx commented on #602
Added https://github.com/fastlane/gym/commit/288e998cc768da1bc15998434aca1467a22f354e
and https://github.com/fastlane/gym/commit/44d9b5ce12f281c60a4a76f2aa1bce791b7e9e2e

Bundling up a new release now.

[2015-09-20 03:57] KrauseFx commented on #602
Is this issue ready to be closed?

[2015-09-20 04:08] KrauseFx commented on #606
I just pushed a fix, please update and let me know if that works for you :rocket: https://github.com/fastlane/gym/releases/tag/0.7.0

[2015-09-20 06:35] xfreebird commented on #602
Just jumping in, do we have something similar and for ```PROVISIONING_PROFILE``` Xcode env variable to specify the UDID of the provisioning profile ?

Reading that guide for the first time, I didn't expect that we have to configure the project and use a different variable name for that:
[code]

I understand that I can pass that through ```GYM_XCARGS```, still would be nice to have that in "traditi

[2015-09-20 07:00] hufkens commented on #606
Yes, it's working again. Thanks

[2015-09-20 08:58] ricardopereira commented on #602
@KrauseFx It's working but I run `gem install fastlane` and `Gym` wasn't on version 7.0. I have to run `gem install gym`. Thank you so much.

@xfreebird `Gym` has a subcommand for the Provisioning Profile but I don't know if it's working. My problem was only with the certificate.

[code]

[2015-09-20 09:01] ricardopereira commented on #602
@KrauseFx `codesigning_identity` is deprecated on Xcode 7?

[2015-09-20 10:06] xfreebird commented on #602
@ricardopereira yeah, that is something more related to my case

[2015-09-20 14:00] DigitalRogues commented on #606
working for me also, thanks a bunch @KrauseFx !

[2015-09-20 15:18] fastlane-bot opened #1708 "Instruments Usage Error: Ambiguous device name/identifier 'iPhone 6 Plus (9.0)'"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/7348507?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @bb-git - Imported from <a href='https://github.com/fastlane/snapshot/issues/198'>fastlane/snapshot#198</a>
        </td>
      </tr>
    </table>

I always receive this error on running snapshot, for all languages, also f

[2015-09-20 17:57] KrauseFx commented on #606
Yeah, great to hear :rocket:

[2015-09-20 17:57] #606 closed

[2015-09-20 17:58] KrauseFx commented on #602
@ricardopereira No, I corrected this. Instead only the `provisioning_profile_path` is deprecated.

[2015-09-20 21:27] #602 closed

[2015-09-21 04:55] mehulmind123 commented on #603
Yes, I tried after updating gym also.

[2015-09-21 06:34] mehulmind123 commented on #603
Its working now. Cheers!

There was no update on fastlane, but i have updated gym and pilot separately and its working now,

Thanks

[2015-09-21 13:05] fastlane-bot-helper opened #1854 "Gym and xcodebuild -showBuildSettings"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/201351?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @xfreebird - Imported from <a href='https://github.com/fastlane/gym/issues/94'>fastlane/gym#94</a>
        </td>
      </tr>
    </table>

By default gym is calling ```xcrun xcodebuild -showBuildSettings -scheme 'DemoApp' -

[2015-09-21 16:33] KrauseFx commented on #583
I worked on an updated version of the `crashlytics` action - will push an update later today!

[2015-09-21 16:33] KrauseFx commented on #583
Sorry it took so long.

[2015-09-21 16:49] KrauseFx commented on #603
Great to hear :+1:

[2015-09-21 16:49] #603 closed

[2015-09-21 17:06] natanrolnik commented on #583
Fantastic, thanks for fixing it!
What exactly was the problem there?

[2015-09-21 18:29] KrauseFx commented on #583
I don't know I just rewrote the whole integration :wink:

[2015-09-21 19:02] xfreebird opened #608 "import_from_git clone folder name collision"
Hi @KrauseFx could you please change the ```import_from_git``` action so that it would use a unique location when cloning.

[code]

Cloning to the same location is prone to collision when running multiple ```fastlane``` instances. I would do it myself but it seems the master branch fails some git tests.

Thanks for this great tool ! :+1:

[2015-09-21 19:25] fastlane-bot-helper opened #1914 "Communication error. You need to have outbound access to TCP port 443. Time out. But the build is visible in itunesconnect"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/2159166?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @KozTv - Imported from <a href='https://github.com/fastlane/pilot/issues/36'>fastlane/pilot#36</a>
        </td>
      </tr>
    </table>

Hi,

I'm getting this error. However the build is visible in iTunes Connect then.

[2015-09-21 22:39] mikeandike commented on #397
Any update about this?

I got the same error

[2015-09-21 22:46] kylejm commented on #397
I too just got this error after upgrading to 1.27.0

[2015-09-21 22:55] kylejm commented on #397
It's working again now though, after another try. ¯\_(ツ)_/¯

[2015-09-21 23:44] KrauseFx commented on #583
Could you update to the latest release and make sure it works as expected? :+1:

[2015-09-21 23:57] lemonkey opened #609 "Issues building with fastlane in a Jenkins job"
Not sure what exactly is going on, but the same fastlane lane that builds and archives an iOS app that is using Cocoapods (0.35 for iOS 7 support) from the command line fails to find the pod targets during the linking phase when executed in the context of a Jenkins job:

ld: library not found for -lPods-xxx

Has anyone else experienced this? There isn't that much special going on in terms of the g

[2015-09-22 00:08] KrauseFx commented on #609
Is your scheme shared? Do you use the `cocoapods` action in `fastlane`?

[2015-09-22 00:33] lemonkey commented on #609
The scheme is shared, but I'm not using a cocoapods action in fastlane as the Pods folder is under source control.

I did just confirm from a fresh repo clone that the xcodebuild command being issued by Fastlane does fail on its own if done on the command line similar to how it fails in Jenkins, but not when executed within Fastlane.

set -o pipefail && xcodebuild -workspace 'XXX.xcworkspace' -sch

[2015-09-22 01:24] lemonkey commented on #609
Ok I think I know what's happening. A certain script wasn't running ahead of time.

[2015-09-22 01:24] #609 closed

[2015-09-22 02:35] fastlane-bot-helper opened #1853 "Improve the output for non-fatal crashes"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/197446?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @mattyohe - Imported from <a href='https://github.com/fastlane/gym/issues/96'>fastlane/gym#96</a>
        </td>
      </tr>
    </table>

`gym 0.7.2`

This might be a part of a larger cleanup of error handling and display,

[2015-09-22 04:36] simoncoulton commented on #519
Occurring on our builds as well, with roughly a 50mb increase in size.

gym 0.7.2

[2015-09-22 04:47] KrauseFx commented on #519
@simoncoulton I didn't document this anywhere yet, but try exporting your binary using Xcode to an ipa file, you'll end up with the same size. This is a change introduced with the new version of Xcode. The good news is, the resulting file to download is smaller again, since 

[2015-09-22 04:49] simoncoulton commented on #519
Ahh no worries, thanks for the update (and super quick replies, much appreciated!).

[2015-09-22 05:13] forhot2000 commented on #589
good, it is solved my problem, thanks @KrauseFx

[2015-09-22 05:13] #589 closed

[2015-09-22 06:34] ChenJing000 commented on #599
Finally the problem disappeared, don't know why. Thanks anyway!

[2015-09-22 06:34] #599 closed

[2015-09-22 11:29] lietu opened #612 "Fastlane does not support fastlane directory to be a symlink"
If you run `fastlane` in a location where `fastlane/Fastfile` is available but the `fastlane` directory is a symbolic link (`ln -s ~/fastlane .` or such) you get an error:

[code]

If replacing `ln -s ~/fastlane .` with e.g. `cp -a ~/fastlane .` it works fine.

Tested on Max OS X 10.10.5.

[2015-09-22 13:54] alliannas opened #613 "[Feature] Allow uploading dSYM only for hockey app."
Hi there,

this is a simple feature request :)

##### Feature request

According to the [hockey app docs](http://support.hockeyapp.net/kb/api/api-versions#upload-version) it is allowed to only upload the dSYM.

The HockeyAction should be able to be configured to allow that as well.

##### Reasoning behind the feature

You want to get crash reports for your live app (thats in the app store) BUT you

[2015-09-22 15:28] mattyohe opened #615 "Use Apple's method of Verifying Xcode for `verify_xcode`"
https://developer.apple.com/news/?id=09222015a

[2015-09-22 16:29] KrauseFx commented on #615
Thanks, I'm already on it! :rocket:

[2015-09-22 16:40] KrauseFx commented on #615
Done https://github.com/KrauseFx/fastlane/commit/dfb5c46d78c41c96a9fd8b24b5811374cbd9a84e

[2015-09-22 16:40] #615 closed

[2015-09-22 17:25] kylejm opened #616 "Running one lane after the other within a lane doesn't seem to reload Appfile"
I've got a lane like this:

[code]

My app file like this:

[code]

If I run `fastlane all` the first lane (`prod`) within the `all` lane gets its bundle ID loaded from the Appfile, but then when the second lane (`staging`) runs fastlane crashes at `deliver` because the Bundle ID doesn't match iTC. On inspection, the Bundle ID that deliver is being given to upload `staging` is the Bundle ID of `pr

[2015-09-22 17:38] postmechanical commented on #18
Just discovered that this has been happening for one of my CI builds since the beginning of September. In my case both `sigh` and `fastlane` are using the same username. Using `fastlane` version `1.27.0`.

[2015-09-22 19:37] KrauseFx commented on #612
The error message is

[code]

Are you sure this has something to do with the symlink?

[2015-09-22 20:51] daneov opened #618 "Fastlane + Amaro help"
I’ve been trying to get a project created by [Amaro Bootstrap](https://github.com/crushlovely/Amaro) to successfully build, but I’m failing rather hard at this.

Amaro does a lot, including configuring your project with 3 different targets and bundle id's, one for staging, production and AppStore.

I’d like the staging id (com.example.app.staging) to be an alpha, the prod id (com.example.app.prod)

[2015-09-22 21:26] KrauseFx commented on #169
@chaitanyakuber @Khronoss @spidfire @mRs- @joonty I'm curios on why and how you'd want to use fastlane for Android.

The most established solution for Android projects is `gradle` which is basically something similar to `fastlane`. It lets you define different steps to execute.

Or do you only need tools like `deliver` and `snapshot` for Android, but not `fastlane` itself?

[2015-09-22 21:33] spidfire commented on #169
@KrauseFx for me it's mainly for delivery to the play store but `snapshot` would be nice for android.
But currently I've created my own solution for delivery because we have many similar apps who need to be delivered and one central database. I'm also interested if someone can figure out a way to put new apps into the play store (saves me time).

[2015-09-22 21:48] gregpassmore commented on #169
I would love to unify tool chains. There is a google play upload library,
there is the Square snapshot stuff, but it would be nice to have
same/similar expectations, directory structures, the text files for deliver
are really nice. I just like the idea of 1 tool chain, even if it defers to
gradle for the actual building etc.

On Tue, Sep 22, 2015 at 2:33 PM, Spidfire <notifications@github.com> wro

[2015-09-22 22:44] rafaortiz opened #619 "lcov .gcda files in x86_64 build folder"
Hi,

I'm trying to use  the lcov action to generate code coverage reports, but i'm getting this error:

Capturing coverage data from /Users/rortiz/Library/Developer/Xcode/DerivedData/roproject-fcachpkjymhnigcbynpuoxckbwyt/Build/Intermediates/roproject.build/Debug-iphonesimulator/roproject.build/Objects-normal/i386/
Found gcov version: 7.0.0
Found LLVM gcov version 3.4, which emulates gcov version

[2015-09-22 23:06] KrauseFx commented on #618
Take a look at the list of available actions here: https://github.com/KrauseFx/fastlane/blob/master/docs/Actions.md

For push notifications you basically use [PEM](https://github.com/krausefx/pem)

To give you better idea on how `fastlane` setups might look like, check out the [fastlane examples](https://github.com/fastlane/examples)

[2015-09-23 00:29] KrauseFx commented on #616
The thing is: `fastlane` will always load the information from the `Appfile` from the lane you called from the terminal. This means it will *always* try to fetch `all` from your `Appfile` which you don't have so it falls back to `com.my.app` as app identifier.

[2015-09-23 02:21] fastlanebot opened #3188 "Build fails with IDEDistributionErrorDomain Code=1"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/577325?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @drpancake - Imported from <a href='https://github.com/fastlane/gym/issues/100'>fastlane/gym#100</a>
        </td>
      </tr>
    </table>

Hello,

Google isn't turning up anything for this one and I can't seem to find any

[2015-09-23 06:53] daneov commented on #618
Ok, but I still need the provisioning profiles for an adhoc built, so I need sigh, right ?
I'm double checking my project configuration because I just received :
`Code Sign error: No matching provisioning profiles found: No provisioning profiles with a valid signing identity (i.e. certificate and private key pair) matching the bundle identifier “be.company.poc” were found.` , but I specified the `

[2015-09-23 07:43] lemonkey commented on #616
I have a similar situation where if I want to export a build for both the TestFlight and TestFairy, I need to be able to use the "app-store" archive export method for TestFlight while using "ad-hoc" for TestFairy. This currently results in two separate calls to gym in the same overall lane. Both calls to gym generate the expected IPA with the correct filename (where I'm appending the export method

[2015-09-23 08:01] adurdin opened #620 "verify_xcode will okay tampered Xcode when GateKeeper disabled"
Using `spctl` to verify Xcode will not verify the code signature when GateKeeper is set to “Allow apps downloaded from Anywhere” (i.e. disabled):

    $ spctl --assess --verbose ~/Applications/Xcode-tampered.app
    /Users/andy/Applications/Xcode-tampered.app: accepted
    override=security disabled

Using `codesign --verify` will identify invalid signatures regardless of GateKeeper settings:

[2015-09-23 08:03] fastlane-bot opened #1776 "Sigh fails to login if using non-admin AppleId"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/6439273?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @SemenovAlexander - Imported from <a href='https://github.com/fastlane/sigh/issues/169'>fastlane/sigh#169</a>
        </td>
      </tr>
    </table>

This issue was originally #162, but  because of my misunderstanding of p

[2015-09-23 08:28] fastlane-bot opened #1707 "Blurry none retina images used"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/223741?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @sandman4sure - Imported from <a href='https://github.com/fastlane/snapshot/issues/199'>fastlane/snapshot#199</a>
        </td>
      </tr>
    </table>

When I use Xcode 7 to compile and test my app on the Simulator, every

[2015-09-23 10:19] alliannas commented on #613
The current stratgey I have is this:

[code]

where `upload_dsym_only` is a new option, defaulting to `false`.

Any thoughts on this implementation before I do a PR?

[2015-09-23 10:25] corristo opened #621 "Add raw log option to xcodebuild action"
Recent addition of raw build log support to `gym` is cool and it would be cool to do the same for `xcodebuild` as well.

[2015-09-23 10:29] ksm commented on #575
The problem just resurfaced for me. Here's part of the log:

[code]

[2015-09-23 12:21] daneov commented on #618
Turns out I had an issue in my packaging options that'd archive with the default bundle identifier. (Build settings -> packaging settings -> Bundle identifier.)

I did come along a different issue which I've logged @sigh's repo.

Issue can be closed as far as I'm concerned. Thanks anyway!

For other people perhaps :

[code]

[2015-09-23 12:22] daneov commented on #618
Turns out I had an issue in my packaging options that'd archive with the default bundle identifier. (Build settings -> packaging settings -> Bundle identifier.)

I did come along a different issue which I've logged @sigh's repo.

Issue can be closed as far as I'm concerned. Thanks anyway!

For other people perhaps :

[code]

[2015-09-23 12:22] #618 closed

[2015-09-23 15:03] ksm opened #622 "clean_build_artifacts doesn't remove all *.mobileprovision's"
I'm using two `sigh` actions in my fastfile to download two provisioning profiles: one for the main app, and one for the app's share extension.

I'm on Fastlane 1.29.0.

Here's two excerpts from my fastlane log:

[code]

[code]

cc @lmirosevic

[2015-09-23 16:13] timgshi opened #623 "s3 action doesn't respect specified region"
in `self.upload_plist_and_html_to_s3`, the region specified in the s3 options isn't used. it's causing an error for my plist upload because I'm not using the default s3 region

[2015-09-23 16:29] ksm commented on #575
@czechboy0 Worked around the above regression by explicitly passing in the `commitish`.

[code]

[2015-09-23 16:57] KrauseFx commented on #618
Thanks for sharing your configuration @daneov :+1:

[2015-09-23 17:01] KrauseFx commented on #620
@adurdin Thanks for submitting this issue and letting me know.

So should `fastlane` use both GateKeeper (recommended by Apple) and `codesign --verify`? If so, this step will take around 5 minutes.

Correct me if I'm wrong, but since the `spctl` command returns `override=security disabled` the `fastlane` action `verify_xcode` will fail.

How did you modify your Xcode to let your verification fail?

[2015-09-23 17:32] KrauseFx commented on #613
Simplified: :+1:
[code]

[2015-09-23 17:33] KrauseFx commented on #621
This is for `xcodebuild`. I assume you mean to also cover the second `xcodebuild` which packages up the application? The raw output of the second command is displayed in the terminal anyway, as it's not piped through `xcpretty`.

[2015-09-23 17:33] KrauseFx commented on #621
Why would you want to use it?

[2015-09-23 17:34] KrauseFx commented on #622
That's correct, right now the `sigh` path variable can only hold one path.

[2015-09-23 17:37] KrauseFx commented on #623
I don't have anything to test, but it should be okay to switch the following?

[code]
to
[code]

[2015-09-23 17:45] KrauseFx commented on #575
@ksm @czechboy0 I added the output of the raw error message, which makes things much easier now:

[code]

@ksm Apparently GitHub doesn't like your `prefixed_version` tag

[2015-09-23 17:45] KrauseFx commented on #622
It would make sense to store multiple paths, I'll update this right now.

[2015-09-23 18:08] KrauseFx commented on #622
Done, this will be in the next release :+1:

[2015-09-23 18:08] #622 closed

[2015-09-23 18:23] corristo commented on #621
@KrauseFx I'm using `xctest` to build the app & run tests and I'd like to use [Jenkins Warnings Plugin](https://wiki.jenkins-ci.org/display/JENKINS/Warnings+Plugin).

This plugin supports Clang/LLVM output & works well with raw `xcodebuild` output, but it doesn't seem to like xcpretty output, unfortunately.

[2015-09-23 18:26] KrauseFx commented on #621
There is no more `xcpretty` output. Building will now show you the `xcpretty` output, but will also export the raw content in your `~/Library/Logs/gym`. You should be able to use that file.

[2015-09-23 18:33] rafaortiz commented on #619
Just to be clearer, here is the script i'm using:

  lane :beta do
    xctest(
      workspace: "roproject.xcworkspace",
      scheme: "roproject",
      destination: "platform=iOS Simulator,name=iPhone 5s",
      sdk: "iphonesimulator",
      destination_timeout: 120,
      build_settings: {
        "GCC_INSTRUMENT_PROGRAM_FLOW_ARCS" => "YES",
        "GCC_GENERATE_TEST_COVERAGE_FILES" => "YES"

[2015-09-23 18:34] corristo commented on #621
@KrauseFx but I'm not using gym, I'm using xctest.

[2015-09-23 19:28] adurdin commented on #620
No, I’m wrong: I overlooked the final `output.include?...` tests in `verify_xcode`. I saw that you were looking for “accepted” which is present—and missed the `source=…` which is not present. You’re right that `verify_xcode` will flag Xcode as invalid in this case.

The modification I made to Xcode was to (temporarily) rename `/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xcto

[2015-09-23 19:28] #620 closed

[2015-09-23 19:53] jvanzummeren opened #625 "IPA not signed with Ad Hoc profile"
I'm trying to use Fastlane to distribute builds to Crashlytics. It's sending the .ipa succesfully to Crashlytics, but it keeps getting signed with an Appstore provisioning profile instead of Ad Hoc. I'm not sure wether this is a bug or if i'm doing something wrong. It does download the Ad Hoc profile correctly, but doesn't seem to be using it to sign the ipa.
This is the script i'm running:
[code]

[2015-09-23 20:13] KrauseFx commented on #625
Could you try to use the following command for `gym`:

[code]

This will make sure you app gets signed as Ad Hoc app

[2015-09-23 20:15] KrauseFx commented on #620
Cool, thanks for taking a closer look at the integration, really appreciate your feedback @adurdin :+1:

[2015-09-23 20:52] KrauseFx commented on #625
Also, I pushed this update https://github.com/KrauseFx/fastlane/releases/tag/1.29.1
This should now work automatically :+1:

[2015-09-23 21:06] jvanzummeren commented on #625
Cool, both solutions work perfectly! Thanks!
The only issue i still have is "400 Bad request" when generating a Ad Hoc profile when it doesn't exist yet. I guess this is related to #349. Is this an unresolved vague issue?

[2015-09-23 21:59] KrauseFx commented on #625
Great! :+1:
The other issue you mentioned has something to do with your internet connection.

[2015-09-23 22:00] natanrolnik commented on #583
Something is failing for me, so I'm not getting to the crashlytics action. Opened an issue here https://github.com/fastlane/gym/issues/104

[2015-09-23 22:29] KrauseFx commented on #583
So we can close this issue now, right?

[2015-09-23 22:29] #583 closed

[2015-09-23 23:49] natanrolnik commented on #583
Yay, the new action worked like a charm, without notifications 😃
Viva Felix!

[2015-09-23 23:55] KrauseFx commented on #583
:rocket:

[2015-09-23 23:57] JustGr00ve opened #627 "IPad “gem install bundler” invalid byte sequence in US-ASCII"
Hello every-time i run the command "gem install bundler" on my IPad i end up getting this message. ERROR: While executing gem ... (ArgumentError)
invalid byte sequence in US-ASCII

Please help me, I cant seem to find a way around this

[2015-09-24 00:00] KrauseFx commented on #627
on your iPad?

Anyway, just add this to your `~/.bash_profile `

[code]

[2015-09-24 00:03] JustGr00ve commented on #627
![untitled111](https://cloud.githubusercontent.com/assets/11280701/10062186/09645868-622e-11e5-87ff-376d842e24af.png)

I don't really understand. I'm Kinda new to this and I was following a youtube video. But then i got that message and now i'm stuck.

[2015-09-24 00:05] KrauseFx commented on #627
@JustGr00ve what YouTube video? What are you trying to do?

[2015-09-24 00:06] JustGr00ve commented on #627
@KrauseFx https://www.youtube.com/watch?v=5Df3_UAqV1o, Trying to add metasploit to ipad

[2015-09-24 00:18] KrauseFx commented on #627
Sorry, you're wrong here. This is a repository for `fastlane` a tool for iOS developers and has nothing to do with the YouTube video you linked. I'll close this issue :+1:

[2015-09-24 00:18] #627 closed

[2015-09-24 00:31] HurtleHD opened #628 "“gem install bundler” invalid byte sequence in US-ASCII"
Hello I keep seeing a fix for this, And it involves putting this

export LANG="C.UTF-8"
export LC_ALL="C.UTF-8"

Can someone tell me how to do this?

[2015-09-24 00:55] HurtleHD commented on #628
@KrauseFx

[2015-09-24 04:12] KrauseFx commented on #628
Add this to your `~/.bash_profile `

[code]

and restart your Terminal.

[2015-09-24 09:18] jschmid opened #629 "Run sh commands from the root folder"
I have a Makefile that contains predefined actions, and for now I don't want to translate them into a Fastlane action.

Therefore I tried to run:

    sh "make identifiers"

However, since Fastlane is executed from the `fastlane` folder, `make` does not find the `Makefile` and fails. One solution could be:

    sh "cd .. && make identifiers"

But I don't find it very pretty. My question is broader

[2015-09-24 12:18] fastlane-bot-helper opened #1852 "Flag for simple std output"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/2544447?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @mr-const - Imported from <a href='https://github.com/fastlane/gym/issues/105'>fastlane/gym#105</a>
        </td>
      </tr>
    </table>

Is it possible to add some flag for simple log output? We use Jenkins for builds a

[2015-09-24 13:43] fastlane-bot-helper opened #1851 "Wrong mobile provision profile"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/2544447?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @mr-const - Imported from <a href='https://github.com/fastlane/gym/issues/106'>fastlane/gym#106</a>
        </td>
      </tr>
    </table>

I'm building project using jenkins with following flags:
[code]
Before update to 0

[2015-09-24 16:56] HurtleHD commented on #628
@KrauseFx Sorry to bother, Its that im kinda new,, How do i add that to my bundler,

Thats the gem im trying to install

[2015-09-24 16:58] KrauseFx commented on #629
I'd use either one of the these solution:

- Move the `Makefile` into the `fastlane` folder
- You can use Ruby to go a folder up:

[code]

Sorry that this is not ideal, but this is not something I can change now, as people already use it with the current behavior.

[2015-09-24 17:18] KrauseFx commented on #628
You don't need to add this to your bundler, you need to add this to your `~/.bash_profile` file

[2015-09-24 17:21] HurtleHD commented on #628
Okay, every-time i run the command i get this.   "No such file or directory"

[2015-09-24 17:35] KrauseFx commented on #628
Oh, it's not a command. You need to edit the text file at `~/.bash_profile`, e.g. `nano ~/.bash_profile` and then add the 2 lines I posted above :+1:

[2015-09-24 17:37] HurtleHD commented on #628
ugh illl drop this. i cant seem to figure this out thanks though sorry for wasting your time.

Cant seem to find where bash_profile is

[2015-09-24 17:48] HurtleHD commented on #628
@KrauseFx ![untitled](https://cloud.githubusercontent.com/assets/14813453/10081437/e5463b1e-62c2-11e5-9003-ba4eff3ce3bd.png)

[2015-09-24 18:23] KrauseFx commented on #628
It seems like you're on the wrong repo. This is the `fastlane` repo which is a tool for iOS developers.

Duplicate of https://github.com/KrauseFx/fastlane/issues/627

How did you come to this repo when trying to install something on your iPad?

[2015-09-24 19:29] HurtleHD commented on #628
@KrauseFx Dont really know. Just clicked on new issue... Is there a way u can move this to the right repo?

[2015-09-24 20:00] jschmid commented on #629
Alright! I wondered if I had missed something. I'll use the Ruby way then.

Thanks!

[2015-09-24 20:00] #629 closed

[2015-09-24 20:05] #628 closed

[2015-09-24 20:05] KrauseFx commented on #628
@HurtleHD Sorry, that's not how GitHub works. I have nothing to do with the thing you want to do with your iPad.

[2015-09-24 20:34] ianwhite2 opened #630 "ItunesConnect UI change causing error"
Hi all,

As the itunesconnect UI has been changed so it giving error after "Opening detail page for app"
 Couldn't find element '.page-subnav' after waiting for quite some time

Any Help on this ?

[2015-09-24 20:35] KrauseFx commented on #630
I'm very aware of this https://twitter.com/KrauseFx/status/647146432911114240 and work on a fix right now.

[2015-09-24 20:37] ianwhite2 commented on #630
Oh sorry Will close it Wi

[2015-09-24 20:38] KrauseFx commented on #630
You can leave it open, no problem. Thanks for reporting this issue :+1:

[2015-09-24 20:39] ianwhite2 commented on #630
Ok Cool

[2015-09-24 21:53] JustGr00ve opened #631 "ERROR: While executing gem ... (Errno::ECONNREFUSED)"
gem install bundler -r --source http://rubygems.org/

ERROR:  While executing gem ... (Errno::ECONNREFUSED)
    Connection refused - recvfrom(2)

[2015-09-24 21:59] #631 closed

[2015-09-24 23:27] mhjb commented on #338
me to :)

[2015-09-25 09:11] xfreebird commented on #619
Try enabling "Gather coverage data" in ```Scheme -> Test step -> Test```
![Image of Xcode](https://cdn.pbrd.co/images/TQBU2vd.png)

[2015-09-25 13:35] kylejm commented on #616
@KrauseFx could I request the feature that Fastlane reloads the Appfile when switching lanes, or do you see this causing problems?

[2015-09-25 14:47] fastlane-bot-helper opened #1850 "Single Brackets on app name brakes gym command"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/1299301?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @lucoceano - Imported from <a href='https://github.com/fastlane/gym/issues/107'>fastlane/gym#107</a>
        </td>
      </tr>
    </table>

When my app name has single brackes this command fails:

[code]
the stacktrace:

[2015-09-25 17:24] rafaortiz commented on #619
Hi @xfreebird, this option is already enabled.

Looking at lcov action, looks like the script supports only i386 architecture, the path for find the files .gcda it is fixed code

[code]

@KrauseFx Has some way to detect the architecture and replace in the end_path?

Thanks!

[2015-09-25 17:39] KrauseFx commented on #619
@rafaortiz Sorry, I'm not using the `lcov` action myself.

[2015-09-25 17:41] KrauseFx commented on #616
I'll take a closer look at this over the days. As always I need to make sure it doesn't break any existing setups.

[2015-09-25 19:16] rafaortiz commented on #619
I created a pull request to we can specify the architecture in `lcov`

See in:
https://github.com/KrauseFx/fastlane/pull/633#1

[2015-09-25 22:13] fastlane-bot opened #1706 "Failed to install using "sudo gem install snapshot""
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/500339?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @plam4u - Imported from <a href='https://github.com/fastlane/snapshot/issues/203'>fastlane/snapshot#203</a>
        </td>
      </tr>
    </table>

Plamens-Mac-Pro:~ plam$ sudo gem install snapshot
Password:
Fetching: addre

[2015-09-26 02:30] chrism21 commented on #567
@helgetan I was getting the exact same error with El Capitan. I fixed it by logging into the root user:

`sudo su`

You know you have logged into the root user if you see `sh-3.2# ` or something similar instead of your OS X username. Then run the install command:

`sudo gem install fastlane --verbose`

Then exit the root fast :)

`exit`

This should work with updates as well. If not, I would sugge

[2015-09-26 12:08] zhuhan1236 commented on #338
me too

[2015-09-26 12:08] czechboy0 commented on #575
@ksm Can you confirm whether this helped please?

[2015-09-26 15:49] czechboy0 commented on #575
@ksm I see in your fastlane output above that you're adding the tag in a separate step first. You **don't need** to do that. The `set_github_release` action creates the tag for you on the branch passed as `commitish` (could also be a commit, but branch name is a more common case).

Try to remove the `add_git_tag` action and try again with your original parameters.

[2015-09-26 18:03] KrauseFx commented on #575
@czechboy0 Very good point! @ksm please confirm that this solves your issue.

[2015-09-27 05:52] KrauseFx commented on #475
Check out https://github.com/KrauseFx/deliver/releases/tag/1.0.0.beta as this will fix your issue :+1:

[2015-09-27 05:52] #475 closed

[2015-09-27 05:54] rrecio commented on #475
Thanks. You're amazing!

[2015-09-27 05:56] KrauseFx commented on #593
Do you want to distribute builds to your beta testers? If so, please switch to [pilot](https://github.com/fastlane/pilot)

[2015-09-27 05:57] rrecio commented on #593
Thanks. I'll do it

[2015-09-27 05:57] KrauseFx commented on #593
Cool :+1: For App Store and metadata you can use `deliver`

[2015-09-27 05:57] #593 closed

[2015-09-27 05:58] KrauseFx commented on #475
That's what I'm here for :rocket:

[2015-09-27 05:59] KrauseFx commented on #266
https://github.com/KrauseFx/deliver/releases/tag/1.0.0.beta :rocket:

[2015-09-27 20:08] fastlane-bot opened #1598 "Transporter: freeze"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/1625272?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @meyskens - Imported from <a href='https://github.com/fastlane/deliver/issues/342'>fastlane/deliver#342</a>
        </td>
      </tr>
    </table>

Sometimes the Transporter fails to connect (a serious issue Apple may need

[2015-09-28 05:32] fastlane-bot-helper opened #1913 "REGARDING_PILOT"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/7186437?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @parthitheindian - Imported from <a href='https://github.com/fastlane/pilot/issues/39'>fastlane/pilot#39</a>
        </td>
      </tr>
    </table>

Hi All,
         Am trying to upload a IPA file to TestFlight through PIL

[2015-09-28 06:10] philipengberg opened #635 "Slack integration does not format code blocks"
New to fastlane (:heart: it); Not sure if this is the right place to open this issue.

When sending a message like:
[code]
the backticks are also printed in slack and the text within is thus not formatted correctly.

[2015-09-28 06:33] KrauseFx commented on #635
Thanks! I have experienced the same issue with markdown code in general (e.g. lists)

I'm not sure if that's a `fastlane` or Slack issue.

[2015-09-28 07:06] philipengberg commented on #635
According to [this documentation](https://api.slack.com/docs/formatting#message_formatting) Salck *does* support markdown in API messages.

[2015-09-28 07:40] kylejm commented on #616
Awesome! Thx :smile:

Could `deliver` pickup the Bundle ID from the `Info.plist`?

[2015-09-28 08:24] vendruscolo opened #636 "Hockey: upload just the dSYM?"
Shenzhen allows us to upload just the dSYM to HockeyApp. I plan to use HockeyApp for crash reports (no app distribution), so skipping the ipa upload would make the process faster.
I don't know if fastlane already supports this (if it does, how can I set it up?), but if it doesn't it would be a welcome addition 😉
Perhaps [this Shenzhen issue](https://github.com/nomad/shenzhen/issues/43) can help.

[2015-09-28 09:40] masa-beheim commented on #176
@coreyfloyd I can confirm your observations. Fastlane seems to always forward a configuration to `xcodebuild`. I was experiencing it with shenzen/ipa and still am with gym. Running `xcodebuild -scheme the-scheme` will export the configuration that is attached to the scheme automatically.
@KrauseFx I think if a scheme without configuration is provided the configuration should not be set by Fastlane

[2015-09-28 11:10] Liquidsoul commented on #636
Hi @vendruscolo
Fastlane does not support this out of the box yet but maybe this is being addressed because this feature was already requested in #613

[2015-09-28 17:18] KrauseFx commented on #176
The `ipa` action is deprecated and you should use the `gym` action instead. Do you have the same problem with it?

[2015-09-28 17:19] KrauseFx commented on #616
@kylejm yes it does, but I haven't yet implemented this into `deliver 1.0.0.beta1`

[2015-09-28 17:20] KrauseFx commented on #635
Yes, already got the reply on Twitter @KrauseFx code blocks are supported with `code` or ```pre``` if you include "mrkdwn": true in your request body. https://t.co/iypxUHAtDD

[2015-09-28 17:20] KrauseFx commented on #635
Yes, already got the reply on Twitter https://twitter.com/SlackAPI/status/648518636647378944 :+1:

[2015-09-28 17:21] philipengberg commented on #635
Beautiful :+1:

[2015-09-28 17:27] KrauseFx commented on #635
Fixed https://github.com/KrauseFx/fastlane/commit/ec149c455f2912b31d1e79b41190fd1af6c6e235. This will be in the next release

[2015-09-28 17:27] #635 closed

[2015-09-28 21:52] kylejm commented on #616
@KrauseFx I've come up with a solution using `pilot`:

[code]

:blush:

[2015-09-28 22:00] KrauseFx commented on #616
Looks good :+1:

[2015-09-28 23:36] alliannas commented on #613
Thanks for the tip :)

[2015-09-29 08:06] masa-beheim commented on #176
Yes, I am still experiencing this with `gym`. If a configuration is not specified in `gym` and the `Release` configuration exists, `Release` will be set, even though the scheme itself points to a different configuration. Have a look here: [detect_values.rb#L161](https://github.com/fastlane/gym/blob/921b94be0fd814df5cfb9235b6ee2c2b6ddae9eb/lib/gym/detect_values.rb#L161)
I am also using the same wor

[2015-09-29 08:45] fastlane-bot opened #1597 "Spaceship::TunesClient::ITunesConnectError in 1.0.0 beta3"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/3891310?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @The-Guru - Imported from <a href='https://github.com/fastlane/deliver/issues/348'>fastlane/deliver#348</a>
        </td>
      </tr>
    </table>

Hi there,

I would like to thank you personally for this amazing tool that

[2015-09-29 09:57] fastlane-bot opened #1596 "Unauthorized access (Spaceship::TunesClient::ITunesConnectError) 1.0.0 beta3"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/3891310?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @The-Guru - Imported from <a href='https://github.com/fastlane/deliver/issues/349'>fastlane/deliver#349</a>
        </td>
      </tr>
    </table>

Hi Felix,

It seems there is another issue with deliver/spaceship. I have

[2015-09-29 10:16] fastlane-bot opened #1595 "Deliver missing features 1.0.0 beta3"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/3891310?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @The-Guru - Imported from <a href='https://github.com/fastlane/deliver/issues/350'>fastlane/deliver#350</a>
        </td>
      </tr>
    </table>

Hi Felix,

Some missing features that would be fantastic that the new deli

[2015-09-29 13:20] maurobender opened #639 "Setup Deliver configurarion from 'fastlane init' command fails"
When running __'fastlane init'__ with no previous Deliver configuration created the init process fails with the next error:

[code]

Running __'deliver init'__ first seems to solve the problem because there's not need to create the Deliver configuration from the __'fastlane init'__ command.

Running __fastlane 1.29.2__.

[2015-09-29 15:16] ksm commented on #575
Confirming that it works. Thank you. :bowtie:

I don't want to remove the `add_git_tag` action from my Fastfile, because I feel like keeping it there makes it explicit that the lane creates a tag. IMO one Fastlane action should have one responsibility.

[2015-09-29 16:48] KrauseFx commented on #575
@ksm so you're saying you want to create only the GitHub release without a tag? A GitHub release is just a tag with text appended.

[2015-09-29 16:49] KrauseFx commented on #639
I assume you installed the `deliver` beta? If so, `fastlane` was not yet updated to use the new beta.

[2015-09-29 17:16] KrauseFx commented on #176
@masa-beheim So what does `gym` to do differently to make it work? Just not set it to `Release` by default?

[2015-09-29 17:40] masa-beheim commented on #176
Yes, as proposed at the top, it should not pass configuration at all if not specified.

[2015-09-29 18:29] Liquidsoul commented on #636
Seems like #638 contains the feature. Will be available in the next Fastlane release :rocket:

[2015-09-29 19:14] vendruscolo commented on #636
👍 fantastic news.

Thank you.

[2015-09-29 19:16] KrauseFx commented on #636
Yes, this will be in the next release :+1: I'll close this issue already, feel free to re-open if you run into any problems.

[2015-09-29 19:16] #636 closed

[2015-09-29 21:17] KrauseFx commented on #639
I just pushed [deliver 1.0.0](https://github.com/KrauseFx/deliver/releases/tag/1.0.0) and [fastlane 1.30.0](https://github.com/KrauseFx/fastlane/releases/tag/1.30.0). Please update using `sudo gem update fastlane` and let me know if everything works for you.
Also, make sure to follow the new [Migration Guide to 1.0](https://github.com/KrauseFx/deliver/blob/master/MigrationGuide.md).