[2017-04-20 17:04] alaincaltieri commented on #8924
Facing the very same issue. Looks like it's caused by a small change of naming in the response from iTC:
` supportURL` => `supportUrl`
`marketingURL` => `marketingUrl`

This does not affect privacyURL afaik

[2017-04-20 17:19] mfurtak commented on #8924
A fix was merged in #8930 and will be shipped in the next release 👍

[2017-04-20 17:19] #8924 closed

[2017-04-20 17:38] jayczech23 opened #8937 ".fastlane/bin/bundle/lib/ruby/site_ruby/2.2.0/rubygems/core_ext/kernel_require.rb:55:in `require': cannot load such file -- shenzhen (LoadError)"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

After running Fastlane, I get this error. I have been able to replicate it on 2 machines. I recall seeing this issue  after I run `bundle install` command

	from /Users/jay/Desktop/drivemode/f

[2017-04-20 18:58] rickyying commented on #8932
I have the same problem just starting this morning. Nothing changed in my environment.
Try update to the latest version did not help.

[2017-04-20 18:59] summera commented on #8891
@KrauseFx I'm looking to update to the latest Fastlane version to get the latest fix that was merged today but just wanted to check in on this to get your thoughts. Really appreciate it!

[2017-04-20 19:32] #8128 closed

[2017-04-20 19:39] lkraider commented on #8150
According to docs [1] [2] this is still not possible

[1] https://github.com/fastlane/fastlane/blob/master/deliver/Deliverfile.md
[2] https://github.com/fastlane/fastlane/blob/master/deliver/Reference.md

[2017-04-20 20:12] GitKelley opened #8940 "Undefined method 'add_external_tester!'"
### Issue Description

When using Spaceship to attempt to add an external user, a NoMethodError is displayed.

[code]

Steps:
1) Launch IRB
2) require "spaceship"
3) Log in
4) Set app variable
5) app.add_external_tester!

Expected outcome:
Specified user is added to iTunes Connect list of external Testers

Actual Outcome:
NoMethodError is display

### Environment

<details><summary>🚫 fastlane envi

[2017-04-20 21:23] #5963 closed

[2017-04-20 22:15] lyndsey-ferguson commented on #8935
This should be closed and tracked at [here](https://github.com/lyndsey-ferguson/fastlane_plugins/issues/7)

[2017-04-20 23:13] gmorao commented on #8922
Working now
Thanks!

[2017-04-21 00:12] evilDave commented on #8932
See #8922 supposed to be fixed, I'm trying it now.

[2017-04-21 00:31] evilDave commented on #8922
Confirmed fixed in 2.28.1. Awesome work. Thanks so much!

[2017-04-21 00:31] #8922 closed

[2017-04-21 00:32] evilDave commented on #8932
Yep, fixed in latest release of fastlane.

[2017-04-21 00:32] evilDave commented on #8932
@rickyying you must have missed the 2.28.1 release by minutes!

[2017-04-21 01:36] JalenChen commented on #8501
There may be something wrong with `require 'excon'` and "openssl".

[2017-04-21 01:43] evilDave commented on #8260
This does not seem to be resolved:

INFO [2017-04-21 10:27:42.76]: Submitting the app for review...
INFO [2017-04-21 10:28:11.07]: Successfully submitted the app for review!

app not submitted for review.

Just to be clear, this issue is with the reporting of success when not successful, not the failure - I assume that if I correct the problem in the deliver call (thanks @LucasVanDongen for the in

[2017-04-21 01:53] rounak opened #8944 "Is there a way to just do a build using gym without the actual ipa process?"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I just wanted to see if a certain target compiles or not, even if I don't have the signing credentials for that particular target, nor do I want the IPA file.

[2017-04-21 02:17] taquitos commented on #8944
There is now, @rounak  :) https://github.com/fastlane/fastlane/pull/8734

[2017-04-21 04:15] LKTheMaster commented on #8837
the same

[2017-04-21 04:37] frederic-adda commented on #8932
Yep, working for me! Thanks!

[2017-04-21 04:37] #8932 closed

[2017-04-21 07:27] GandjaFuzz commented on #8793
@hjanuschka Yes, thank you, this is more than enough! =)

[2017-04-21 07:47] tutipeti commented on #8492
I think the issue is that match uses the distribution cert with adhoc, but you can actually create adhoc profiles on an enterprise account too.

[code]

[2017-04-21 08:13] taisukeh opened #8946 "pilot submit build to review for external testers while `distribute_external=false`"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

When using pilot to attempt to upload & distribute for internal testers, a `Failed to submit build for review` message from iTunesConnect is displayed.

[code]

pilot options.
[code]

I think

[2017-04-21 08:39] #8935 closed

[2017-04-21 10:12] matthiasp42 opened #8947 "Typo in Carthage documentation"
Sorry not to post my environment etc.
In version 2.28.2 there is a typo.
If you trigger the Carthage documentation via `fastlane action carthage`, the one key is called "fraeworks", not "frameworks"

[2017-04-21 10:28] matthiasp42 commented on #8947
Ok, this seems to be weirder than thought, so here's my environment:
[code]

I'm missing a lot of 'm's but not all of them. Here is the output for the 'pilot' documentation:

[code]

As you can see there are a lot of 'm's missing like in "tea_nae", "last_nae", ... but the "email" parameter is fine.

[2017-04-21 11:04] m-ruhl opened #8949 "Use fastlane-plugin as dependency in plugin"
Hey guys,

I created a [fastlane-plugin](https://github.com/NovaTecConsulting/fastlane-plugin-brew) to execute brew commands.

Now I'm writing a second plugin to install Android-SDK, which has dependency to the fastlane-plugin-brew.

The problem is, the dependent plugin will not automatically listed in the Gemfile nor Pluginfile, so fastlane won't load the Action and this fails:
`Actions::BrewActi

[2017-04-21 11:24] mertkahraman42 opened #8950 "Fastlane Beta problem: date mismatch error"
Hi,

We've been trying to use fastlane beta to beta release on Testflight. My colleague's setup works somewhat fine, it ends up with an error on the fastlane beta command's session, but Testflight build succeeds.

On the other hand, my setup is not working properly. We tried numerous things including updating fastlane, reinitializing it etc.

We believe the error is due to this part on the upload&

[2017-04-21 11:31] mfurtak commented on #8947
I think this is a bug introduced with #8830. I'll work on a fix.

[2017-04-21 11:47] mertkahraman42 commented on #8950
Here is the fastlane env output:

<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                         | Value                                       |
| --------------------------- | ------------------------------------------- |
| OS                          | 10.12.3                                     |
| Ruby                        | 2.2.4

[2017-04-21 11:49] mbogh commented on #8332
We have run into this problem as well.

[2017-04-21 11:52] toreolsensan commented on #8626
Hi @jwaldrip! Did you use Xcode 8.3 when you experienced this problem? I recently tried building a beta with fastlane and Xcode 8.3, which failed with a `Code signing is required…` message. After reverting back to Xcode 8.2 the build succeeded.

I'm doing builds via circleci, not travis. If you can get this to work with 8.2 perhaps we're on to something.

[2017-04-21 12:58] avish07 opened #8952 "Error while implementing Fastlane"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

[INSERT OUTPUT HERE]

### Environment

Please run `fastlane env` and copy the output below. This will h

[2017-04-21 13:37] MartijnSchoemaker opened #8954 "Error ITC.apps.tf.build.test.info.missing.whats.new while `distribute_external=false`"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

When running 'pilot' with parameter distribute_external on 'false'. I get this error:
{"code"=>"ITC.apps.tf.build.test.info.missing.whats.new", "description"=>"Missing what's new info."}

Dis

[2017-04-21 14:04] m-ruhl commented on #8949
Found a solution:
`require "fastlane/plugin/brew"`

[2017-04-21 14:04] #8949 closed

[2017-04-21 14:05] #8947 closed

[2017-04-21 14:26] cvedovat opened #8955 "fast lane Pilot: undefined method `local_variable_get' error"
### New Issue Checklist

- [x ] Updated fastlane to the latest version
- [ x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
**undefined method `local_variable_get'  when running Pilot**
Mobile iOS app uploads correctly to iTuneConnect and start TestFlight however the "Fastlane distribute" command fails with error

[2017-04-21 14:36] Vkt0r commented on #8954
Same issue here!!! Build was deployed too to internal testers

[2017-04-21 14:41] avsmirnov567 commented on #8954
Same for me, was deployed for internal, also.

[2017-04-21 14:42] wryphonedev commented on #8895
Duplicated issue: #8768 #8766 #8733 #8755
This issue was also addressed in PR #8791

[2017-04-21 16:13] louiesanyu opened #8956 "Match Question"
Have a question!
Is match operation default download all certs and profiles from AppDeveloper or revoke old files then create new certs and profiles ?

[2017-04-21 16:39] rickyying commented on #8932
@evilDave  Thanks. Working for me now.

[2017-04-21 17:07] jdee opened #8958 "rubocop violations when using fastlane new_plugin"
### New Issue Checklist

- [x ] Updated fastlane to the latest version
- [x ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

A new plugin generated using `fastlane new_plugin` does not pass rubocop without modifying .rubocop.yml.

- It wants the Fastlane-generated gemspec to be snake case (fastlane_plugin_my_new_a

[2017-04-21 17:10] erikvillegas commented on #8955
I'm also seeing this issue on 2.28.2.

[2017-04-21 17:48] #8099 closed

[2017-04-21 20:28] esetnik commented on #8954
Same issue here

[2017-04-21 20:54] troystump commented on #8955
I believe the root cause is line 133 in spaceship/lib/spaceship/test_flight/client.rb:
`if binding.local_variable_get(name).nil?`

where binding.local_variable_get is support in Ruby 2.1+.

[2017-04-21 21:07] tache commented on #8954
ditto - builds uploads just fine ...
[code]

[2017-04-21 22:43] deglseder opened #8964 "Pilot - Error when distributing build to external group"
### New Issue Checklist

- [ X ] Updated fastlane to the latest version ( 2.28.3 )
- [ X ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
I am using Jenkins/fastlane to automate my iOS build. My pilot action has been working but this week, I tried adding an external testing group.  I have been trying to resolve the

[2017-04-22 00:54] PetrosIchor commented on #8956
No.  Check the docs, check the readme, and play around with it to see which features meet your needs.

https://github.com/fastlane/fastlane/blob/master/match/README.md

[2017-04-22 00:56] PetrosIchor commented on #8952
Please explain your issue and follow paying guidelines. It helps you get a valuable response.  The error you attached explains the problem, you have permissions issues in a path.  You'll need to ensure that file/directory has the correct permissions set.

[2017-04-22 02:28] KrauseFx commented on #8156
That's not possible, as only you have the private key, which is needed to generate a pem file

[2017-04-22 03:22] cherpake opened #8965 "Feature request: use deliver to manage apps bundle metadata and screenshots"
Currently deliver only support managing metadata and screenshots for the apps (requiring app bundle identifier to work).

It would be great if it could be used to manage metadata and screenshots for app bundles (like this: https://itunes.apple.com/us/app-bundle/remote-essentials-for-mac-2017/id1109755897?mt=8).

I haven't looked into App Store "API" its using but if its possible to replace bundle

[2017-04-22 03:31] cherpake commented on #8965
<details><summary>🚫 fastlane environment 🚫</summary>

### Stack

| Key                         | Value                                           |
| --------------------------- | ----------------------------------------------- |
| OS                          | 10.12.4                                         |
| Ruby                        | 2.2.4                                           |
| Bundl

[2017-04-22 03:46] KrauseFx commented on #8956
_match_ kind of requires you to first nuke your existing profiles and certificates before using it.

[2017-04-22 03:48] KrauseFx commented on #8955
Thanks for reporting this, we already prepared a fix: https://github.com/fastlane/fastlane/pull/8963
This is related to the Ruby version you're running, if you want to use _fastlane_ over the weekend, you can upgrade your Ruby version, or wait until the new release is live 🚀 Alternatively you can also patch your local fastlane installation according to #8963 👍

[2017-04-22 12:29] #8955 closed

[2017-04-22 14:16] louiesanyu commented on #8956
OK，thanks for your response.

[2017-04-22 14:16] #8956 closed

[2017-04-22 14:50] thehorbach opened #8967 "When I'm trying to upload my app, fastlane crashes"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Hi, when I'm trying to upload my ipa to itunes connect - fastlane finished with errors. Thank you 🙏

##### Complete output when running fastlane, including the stack trace and command used

Co

[2017-04-22 14:58] thehorbach commented on #8967
I've just remembered that Apple is currently updating their servers, so they are in maintenance mode. I'll try again, once they're back online.

[2017-04-22 15:13] #6525 closed

[2017-04-22 20:22] mkozjak commented on #8833
Also, how are iOS and Android projects supposed to be prepared for fastlane to start using them?

[2017-04-22 22:33] thatjuan commented on #8954
Sounds like you have to fill this.. it may be a new testflight requirement

![screenshot 2017-04-22 17 31 46](https://cloud.githubusercontent.com/assets/389677/25308762/a8aac320-2781-11e7-80d6-b07d78b4668e.png)

[2017-04-22 23:18] tiferrei opened #8969 "Scan failing for macOS target"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
fastlane fails to run scan for macOS target, even though it runs perfectly (and passes tests) on Xcode. iOS target (`fastlane ios test`) runs perfectly. The issue seems to be incorrect simulato

[2017-04-23 02:42] Lida opened #8970 "Spaceship can't resend invite to testers"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

tunes_client has a reinvite_members but no reinvite_testers.

The REST call currently look something like this:

https://itunesconnect.apple.com/testflight/v1/invites/APP_ID/resend?testerId=TE

[2017-04-23 04:09] agordeev commented on #8954
Sounds like a weird requirement for internal testing.

[2017-04-23 06:24] dfujiwara commented on #8046
@KrauseFx and/or @tsafrir, I am also running into this issue where PEM thinks I need to create a new certificate even if one of the registered certificates are valid.

`[!] You already have 2 active push profiles for this application/environment. You'll need to revoke an old certificate to make room for a new one`

Looking at the code in pem/lib/pem/manager.rb, it seems like we can check more than

[2017-04-23 08:49] nmdias commented on #729
@AdrianBinDC did you manage to overcome this issue?

I also set run `export PATH="$HOME/.fastlane/bin:$PATH"`, and it work after that.

But **after closing** the terminal window, I have to set it again.

[2017-04-23 08:55] nmdias commented on #729
Scratch that, I managed to get it working.

I had to **manually create** the `.bash_profile`file, in my `~/`folder:

[code]

Then manually edit the file:

`nano .bash_profile`

With the export:

`export PATH="$HOME/.fastlane/bin:$PATH"`

It's working now.

[2017-04-23 09:27] kekearif opened #8972 "Provisioning profile "match AppStore com.MyCompany.MyApp-test 1492764177" doesn't include signing certificate "iPhone Developer: Bob Trotter (JM345FJUTSB)""
### New Issue Checklist

- [✅ ] Updated fastlane to the latest version
- [✅ ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Hey, I seem to be having issues with `fastlane match`. I am currently running the command `fastlane beta`:

[code]
My match file contains this:
[code]

My Appfile contains:

[code]

I end wi

[2017-04-23 11:03] KrauseFx commented on #8970
What is the re-invite feature used for? For sending another email reminder?

[2017-04-23 14:23] #6480 closed

[2017-04-23 15:23] #8114 closed

[2017-04-23 17:57] Lida commented on #8970
Correct, to send another email reminder. The use case is in boarding, if a user re-enters their info, then we should resend invite since they missed it previously.

[2017-04-23 19:41] tache commented on #8954
Yep - seems strange to need the external info for the internal build.

[2017-04-23 19:53] #7646 closed

[2017-04-23 20:17] ergunkocak commented on #8314
It could be better in my opinion at least to have a flag for not to recompiling

[2017-04-23 23:14] jerolimov commented on #8954
Same error with external testing and this pilot setup:

[code]

[2017-04-23 23:50] jdouglas-nz opened #8973 "PROVISIONING_PROFILE_SPECIFIER and PROVISIONING_PROFILE changes in Xcode 8.3 causing white labelled app to fail to sign"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Since the migration from XCode 8.2.1 -> 8.3, our white labelled app (which we parameterize app identifier and app name among other things) now fails to sign.

The relevant piece of our _Fastfil

[2017-04-24 01:27] eskerber commented on #8946
Same issue here. I imagine it is not related to Fastlane as I get the same error using iTunes Connect itself.

<img width="665" alt="screen shot 2017-04-23 at 8 26 24 pm" src="https://cloud.githubusercontent.com/assets/75236/25319396/270fb338-2863-11e7-8c78-37938d9ee653.png">

<img width="1165" alt="screen shot 2017-04-23 at 8 26 39 pm" src="https://cloud.githubusercontent.com/assets/75236/2531940

[2017-04-24 01:50] eskerber commented on #8946
@taisukeh I fixed this. You need to go into the "App Information" tab within TestFlight and fill out all the fields. I needed to fill in my Privacy Policy as our Apple Pay entitlements required it.

[2017-04-24 04:06] taisukeh commented on #8946
@eskerber Thank you for your feedback. I could upload a build same way as you do, but the build  was distributed to external testers without `distribute_external: true` option 😢

![image](https://cloud.githubusercontent.com/assets/282077/25321846/bf88a848-28ec-11e7-8df5-371b3b44b33e.png)

[2017-04-24 04:43] eskerber commented on #8946
@taisukeh That looks right. I believe internal testers get "everything" automatically.

[2017-04-24 05:15] arasu01 commented on #8327
I ran into same issue today. After updating to latest version.

<details><summary>🚫 fastlane environment 🚫</summary>

### Stack

| Key                         | Value                                           |
| --------------------------- | ----------------------------------------------- |
| OS                          | 10.12.3                                         |
| Ruby

[2017-04-24 05:48] lailibo8 opened #8975 "Could not find proper version of fastlane (2.28.3) in any of the sources"
Could not find proper version of fastlane (2.28.3) in any of the sources
Run `bundle install` to install missing gems.

[2017-04-24 06:19] pixel4 commented on #8327
For me turned out that Xcode was failing to build due to a Segmentation Fault 11, and that was stopping the build process and outputting that error message which doesn't make sense. Try building in Xcode, with same parameters and see if you can successfully build.

[2017-04-24 07:03] tringManoj opened #8976 "Could not find proper version of fastlane (0.0.1) in any of the sources"
Fastlane was working fine till I updated my gem. Now every time when I try to run fastlane. Am getting the following error.

Could not find proper version of fastlane (0.0.1) in any of the sources
Run `bundle install` to install missing gems.

Fastlane Path : /Users/ManojR/.rvm/rubies/ruby-2.4.0/bin/fastlane

[2017-04-24 07:58] taisukeh commented on #8946
@eskerber I don't think so. Previously pilot did not submit build to review for external testers, the state of "External Testers" was not `Waiting for Review` but `Ready to Submit`. For internal testers, [Beta App Review](https://help.apple.com/itunes-connect/developer/#/devdc42b26b8) is not required.

Previously the state was `Ready to Submit`
![image](https://cloud.githubusercontent.com/assets/2

[2017-04-24 07:58] janbednar commented on #8184
I am having the same problem

<details><summary>🚫 fastlane environment 🚫</summary>

### Stack

| Key                         | Value                                         |
| --------------------------- | --------------------------------------------- |
| OS                          | 10.12.4                                       |
| Ruby                        | 2.3.1

[2017-04-24 09:39] giginet opened #8977 "Hook each steps on deliver"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Motivation

I want to notify to Slack when deliver executes each steps. (Starting uploading Binary, Starting Processing, Updated Processing state, etc...)

### Solution

How about this interface?

[code]

[2017-04-24 09:45] tsafrir commented on #8046
@dfujiwara I think it will be a great fix.

[2017-04-24 09:55] giginet opened #8978 "xcexport is not working for Xcode 8.3"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I use `xcexport` action.

[code]

But following error is raised.

[code]

This issue seems to be caused by this changes on Xcode 8.3

[code]

https://developer.apple.com/library/content/releas

[2017-04-24 10:03] #8171 closed

[2017-04-24 10:13] #7950 closed

[2017-04-24 11:35] Edwhis commented on #8726
Sorry, for not responding so long. Here's my log:

[code]

[2017-04-24 13:33] runloop opened #8979 "Pilot: Cannot remove testers from app / list ignores group"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I am able to remove testers from an app group, but not from the app completely. They still appear under the All Testers tab on ITC. This perhaps would not be an issue, but when I do `fastlane

[2017-04-24 13:35] #8964 closed

[2017-04-24 14:24] mrgerh commented on #8954
Same error `{"code"=>"ITC.apps.tf.build.test.info.missing.whats.new", "description"=>"Missing what's new info."}`
when `Distributing new build to testers: 1.1.0 - 8`
Our pilot call:
[code]

[2017-04-24 14:31] mpirri commented on #8954
We are looking into this now - thanks for all the info. We'll update just as soon as we have a sense of what we need to do to get this fixed.

[2017-04-24 16:27] taglia3 opened #8981 "fastlane command not found"
### New Issue Checklist

- [v] Updated fastlane to the latest version
- [v] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
I'm unable to use Fastlane, after I've installed it using brew cask uninstall fastlane I get always: -bash: fastlane: command not found

I've tried to run the command export PATH="$HOME/.fastla

[2017-04-24 18:05] ohayon commented on #8979
Hey @runloop, wanted to give you a quick heads up, we are working on a fix for this and should get it out pretty shortly!

[2017-04-24 18:57] mpirri commented on #8864
A question for you: do you need to be using `update_build_info_on_upload: true`? Currently we have a bug in that logic that prevents it from working with the latest TestFlight. You can work around the issue by removing that line from the `pilot` invocation.

We are working on fixing support for `update_build_info_on_upload` currently.

[2017-04-24 19:26] mpirri commented on #8954
@jerolimov - a question for you. Which version of _fastlane_ are you using? I am able to reproduce @mrgerh 's issue (`update_build_info_on_upload: true` is currently broken with new TestFlight) as well as the @MartijnSchoemaker 's original issue (`distribute_external: false` is currently being ignored...).  You aren't using either of these flags (and I cannot currently reproduce what you are seein

[2017-04-24 19:58] ohayon commented on #8979
Hey @runloop [this PR](https://github.com/fastlane/fastlane/pull/8983) fixes _pilot_ to remove testers from the app-level when no groups are specified.

[2017-04-24 19:58] ohayon commented on #8979
Feel free to reopen this issue if you are still having problems! Thanks! 🚀

[2017-04-24 20:04] jschank commented on #8946
I get this error too.
I see that the console output indicates that the upload is complete, and processing is complete
[code]
But I have instructed pilot to *not* distribute to external testers.

[code]

NOTE: I changed the values before posting - but the actual values do seem to work.
Mostly, I am wondering if I can use the boolean false, instead of a string 'false' or if it matters.

Thanks

[2017-04-24 20:24] tache commented on #8954
follow-up : I have all the information on ITC TestFlight filled in for the external release. I now see this
`INFO [2017-04-24 16:21:35.74]: {"code"=>"ITC.apps.tf.build.test.info.missing.feedback", "description"=>"Missing feedback email."}`
The TestFlight build is uploaded.

[code]

[2017-04-24 20:31] ohayon commented on #8981
Hey @taglia3, it looks like the _fastlane_ binary needs to be added to your `PATH`. Could you share the output of `echo $PATH` with us? Also, do you have a `~/.bash_profile` and/or a `~/.bashrc` file on your machine? Thanks! 🐙

[2017-04-24 20:32] jerolimov commented on #8954
@mpirri

### fastlane gems

| Gem      | Version | Update-Status |
| -------- | ------- | ------------- |
| fastlane | 2.28.3  | ✅ Up-To-Date  |

<details><summary>🚫 fastlane environment 🚫</summary>

### Stack

| Key                         | Value                                       |
| --------------------------- | ------------------------------------------- |
| OS                          | 1

[2017-04-24 20:35] ohayon commented on #8952
Hey @avish07, I am going to close this issue as there is no issue mentioned here. If you could, please submit a new issue with the error output and any other information you can provide. Thanks!

[2017-04-24 20:35] #8952 closed

[2017-04-24 20:39] ohayon commented on #8940
Hey @GitKelley, when Apple pushed out some new TestFlight updates a couple of weeks ago they broke this functionality. You now need to add testers directly to external testing groups in the scope of an app. You can do this by getting the `Spaceship::Tunes::Application` and then getting the groups for that app by using `Spaceship::TestFlight::Group.all(app_id: app.apple_id)` and then calling `add_t

[2017-04-24 20:39] #8940 closed

[2017-04-24 20:43] ohayon commented on #8967
Hey @thehorbach could you confirm if this is fixed or not?

[2017-04-24 20:45] #8944 closed

[2017-04-24 20:45] thehorbach commented on #8967
@ohayon sorry, forgot - yes it was Apple Servers :]

[2017-04-24 20:45] ohayon commented on #8944
@rounak let us know if you are still having issues and we would be happy to help! 🚀

[2017-04-24 20:45] #8967 closed

[2017-04-24 20:49] ohayon commented on #8967
WOOT 🚀

[2017-04-24 20:58] ohayon commented on #8975
Hey @lailibo8, I'm not sure I understand this issue. Could you provide a bit more information about when you are seeing a problem and what it is?

[2017-04-24 21:43] Sega-Zero commented on #8955
Caught that one in Travis CI 10 minutes ago. Any ETA on releasing the fix?

[2017-04-24 22:02] jerolimov commented on #8954
@mpirri Maybe I'm wrong and this fails with `distribute_external: false` for me, too.

Here is the end of the build process. Will trigger the external build now. If you make a release with your changes this would be great. Would test it asap.

<details><summary>Log:</summary>
[23:49:27]: -------------------
[23:49:27]: --- Step: pilot ---
[23:49:27]: -------------------
[23:49:27]: Login to iTunes

[2017-04-24 23:36] cvedovat commented on #8955
Thank you. I also found out that putting the following line in the fastlane file lane solves the problem:
skip_waiting_for_build_processing:true

Sent from my Verizon, Samsung Galaxy smartphone

-------- Original message --------
From: Felix Krause <notifications@github.com>
Date: 4/21/17 11:48 PM (GMT-05:00)
To: fastlane/fastlane <fastlane@noreply.github.com>
Cc: cvedovat <merenghero@hotmail.com>

[2017-04-25 01:05] NachoSoto commented on #8906
I was going to verify that this is now fixed, but now I'm running into #8955.
I'll verify once the fix for that is live too.

[2017-04-25 01:18] Danbana opened #8986 "frameit: multiple line titles not working"
I'm running the latest everything, using a strings file

[2017-04-25 01:22] Danbana commented on #8986
Actually it's only when the number of lines is 3. For 2 lines, it looks decent

[2017-04-25 01:24] Danbana commented on #8986
<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                         | Value                                                          |
| --------------------------- | -------------------------------------------------------------- |
| OS                          | 10.12.4                                                        |
| Ruby                        | 2.0.0

[2017-04-25 01:32] taisukeh commented on #8946
It will be Fixed in the Next Release.
https://github.com/fastlane/fastlane/pull/8984/files

[2017-04-25 01:41] Danbana commented on #8986
2 only looked decent because I had sufficient padding

[2017-04-25 02:29] thasegaw commented on #8946
Related issue https://github.com/fastlane/fastlane/issues/8954

[2017-04-25 02:58] purplepeng opened #8987 "Which tool can i use to manage devices?"
Which tool can i use to manage devices? Thank you.

[2017-04-25 03:16] purplepeng commented on #8987
<details><summary>🚫 fastlane environment 🚫</summary>

### Stack

| Key                         | Value                                                          |
| --------------------------- | -------------------------------------------------------------- |
| OS                          | 10.12.4                                                        |
| Ruby                        | 2.0.0

[2017-04-25 03:18] purplepeng commented on #8987
Thanks, I just want to add other device's uuid into the certificates, and then update the profile.

[2017-04-25 06:38] tringManoj commented on #8976
Removed gem. Reinstalled gem and fastlane. Now it's working.

[2017-04-25 06:38] #8976 closed

[2017-04-25 06:44] KrauseFx commented on #8977
This sounds a lot like github.com/krausefx/fastlane-plugin-slack_train, hehe 😃

The thing you proposed might be more complicated than it looks like, as deliver has its own options. I don't think it's a good idea.

[2017-04-25 07:21] talezion opened #8989 "invalid option: --env when trying to fastlane deliver download_metadata --env app1"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

No output when running `fastlane deliver download_metadata --env app1 --capture_output`!

### Environme

[2017-04-25 08:51] talezion commented on #8989
I have found a solution by setting up a `download_metadata` lane and executing a shell script file.

the fastlane lane

[code]

The `app1` .env file, i'e, `.env.app1` contains the shell script file path.

[code]

The .sh file contains a couple of commands to download the **metadata** and **screenshots**

[code]

## Executing the lane

[code]

[2017-04-25 08:56] Kaelzzs opened #8990 "It seems like you wanted to load some plugins, however they couldn't be loaded"
### New Issue Checklist
<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                         | Value                                       |
| --------------------------- | ------------------------------------------- |
| OS                          | 10.12.4                                     |
| Ruby                        | 2.4.0                                       |

[2017-04-25 09:32] jerolimov commented on #8954
@mpirri Ok tested it again with internal and external distribution. External: true works, but the external: false doesn't work. So, if you fixed this issue, you can release it and close this issue.

Thank you 👍

[2017-04-25 09:39] m-ruhl opened #8991 "Testflight Error: ITC.apps.tf.build.test.info.missing.feedback"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Since fastlane 2.28.0 our internal testflight distribution fails.
The Feedback email is set in iTunesConnect.

[code]

### Environment

<details><summary>✅ fastlane environment ✅</summary>

##

[2017-04-25 10:36] jcampbell05 commented on #4676
bump

[2017-04-25 11:25] mrgerh commented on #8864
If I remove `update_build_info_on_upload: true`, then the changelog will not be set, I guess.
This is useful functionality for sure. So, I will wait until it will be fixed.

Good idea, will do that to prevent `pilot` from crashing.
Thanks for your work!

[2017-04-25 13:06] stoneman1 commented on #8990
Same error here. Anyone else having problems?

[2017-04-25 13:14] GitKelley commented on #8940
Ah thanks man. I was able to get around it similarly to the way you described. I opened up the invite_controller.rb file for Boarding to find how you guys are doing it in there, and found the method to add someone to the default group, which happens to work perfectly for my use case.

[2017-04-25 13:18] younatics commented on #8991
+1

[2017-04-25 13:49] mpirri commented on #8864
To be clear - the changelog will still be set when `update_build_info_on_upload: true` is not specified. The `update_build_info_on_upload` setting has to do with WHEN the changelog is set. If `update_build_info_on_upload` is set to true, the changelog and other build info will be set right after the build is uploaded. If not set, the build info will be set after the build is done processing (like

[2017-04-25 14:10] kambala-decapitator commented on #8837
FYI: no issues with Xcode 8.3.2 and fastlane 2.28.3 for me

[2017-04-25 14:28] wrutkowski opened #8992 "snapshot reset_simulators (domain=com.apple.CoreSimulator.SimError, code=161): Incompatible device"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
When running `fastlane snapshot reset_simulators --ios_version 9.3,10.2 --force` on some of the build machines I'm getting error:

[code]

##### Complete output when running fastlane, including

[2017-04-25 14:31] tache commented on #8954
Adding the following to pilot helps it along a but, but then crashes on `undefined method 'export_compliance_missing?'` ... I think the export issue might be addressed in #8980, so I will check when the next release is out.
[code]

[2017-04-25 14:36] tache commented on #8991
See #8954 for full thread ... errors due to TestFlight changes ... you need to add the following to pilot ... but you will hit another issue further downstream
[code]

[2017-04-25 15:08] edoreld opened #8993 "deliver script：The call to the iTMSTransporter completed with a non-zero exit status: 1. This indicates a failure."
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I have fastlane installed with brew on macOS Sierra. I have an ipa that was generated with Phonegap Build.

I entered:
`deliver -f -i <path-to-ipa> -u <email_address>`

I got
[code]
### Enviro

[2017-04-25 15:09] adasGit commented on #8672
@lferro9000 saved my struggle!! Thanks a lot :)
I was lost with the following issue,
binary ends up in the organizer inside the "Other items" and marked as a "Generic Xcode Archive"!
Sub project: Change to
Skip Install: Yes

[2017-04-25 15:39] giginet commented on #8977
I'm considering the interface. 🤔
I wish to use `slack_train` on `deliver`.

Does anyone have another idea?

[2017-04-25 15:46] edoreld commented on #8993
Fixed by prefixing the deliver command with:
`DELIVER_ITMSTRANSPORTER_ADDITIONAL_UPLOAD_PARAMETERS="-t DAV"`
as per https://github.com/fastlane/fastlane/issues/4544.

[2017-04-25 15:46] #8993 closed

[2017-04-25 15:56] doppelganger9 opened #8995 "[question] [match] Fastlane Match : add an option to specify the name of provisionning profile"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

Also :
- [x] I have read the [CodeSigning Guide](https://docs.fastlane.tools/codesigning/xcode-project/).
- It might be related to : https://github.com/fastlane/fastlane/issues/8761

### Issue Description

I need an

[2017-04-25 17:02] callmephilip opened #8997 "Gym does not generate an IPA (Xcode 8.2.1)"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Description

I have a React Native project that I am trying to build and send to Testflight. ```fastlane beta``` fails saying there is not ipa file generated (which i can confirm by looking inside ./build direct

[2017-04-25 17:28] hjanuschka commented on #8977
i like the core idea of, however i also think it makes the interface too complicated for users.
i had a similar need of this, and i thought maybe doing it with a bit extended plugin interface.

like doing (of course not only in deliver):

[code]

the `dispatch_event` might look something like:

[code]

in the plugin it can look like (e.g in an action - which only servers as a event receiver):

[co

[2017-04-25 17:44] ohayon commented on #8940
Great! FWIW we are going to be making some changes to how boarding works to support the new groups too.

[2017-04-25 17:45] Danbana commented on #8986
I'd love to work on the gem, but am not sure how.
gem unpack frameit
edit that code
then how do i get it to build?

[2017-04-25 18:03] mpirri commented on #8954
Hi folks! Update to the latest version of _fastlane_ and see if you are still having problems. I'm confident we have resolved the issues that you are all suffering from.

I'm going to close this issue; please feel free to open another issue if you are still having difficulty!

Thanks!

[2017-04-25 18:03] #8954 closed

[2017-04-25 18:12] glesage commented on #8821
Hey @SiberianCMS thks for the tips!

Unfortunately fastlane does not seem to be changing the app identifier correctly.. in the verbose logs of the build process it still seems to use the app identifier that I see on xcode.. instead of the new identifier I'm passing with match

[2017-04-25 18:17] asfalcone commented on #8990
Can you share the output of running _fastlane_?

[2017-04-25 18:19] asfalcone commented on #8986
@Danbana please take a look at https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md and https://github.com/fastlane/fastlane/blob/master/YourFirstPR.md Thanks

[2017-04-25 19:23] glesage commented on #8973
Been having the same issue https://github.com/fastlane/fastlane/issues/8821#issuecomment-292876401

[2017-04-25 20:29] cvermilion opened #8999 "pilot fails to add internal tester due to no "default external group""
🔑

### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I'm trying to add internal testers to an app that we are not externally testing yet, but getting an error about not having a "default external group". I'm not sure why this would be necessa

[2017-04-25 20:43] mpirri commented on #8999
Thanks for letting us know about this - it is likely this is related to the new TestFlight changes we just rolled out. We will dig into this further and let you know what we find!

[2017-04-25 20:44] mpirri commented on #8991
@m-ruhl @younatics Can you update to the latest version of _fastlane_ and see if this is still happening for you?  You will probably need to add a `beta_app_feedback_email` if you do not have one, but I'm curious to know if that is required or not.

Thanks so much!!

[2017-04-25 20:45] mpirri commented on #8864
We just shipped the release of _fastlane_ with this fix in it. If you update to the latest, does this work any better for you?

Thanks!

[2017-04-25 20:47] mpirri commented on #8946
This issue is fixed in the release of _fastlane_ that was shipped earlier today. Closing this issue now - if you are still having difficulty, please open another issue and we will look into it.

Thanks!

[2017-04-25 20:47] #8946 closed

[2017-04-25 20:50] mpirri commented on #8906
@NachoSoto Can you give it a try now? I'm optimistic this should work with the version of _fastlane_ we shipped earlier today.

Thanks!

[2017-04-25 20:52] mpirri commented on #8884
We have recently rewritten `pilot` to be compatible with the new version of TestFlight that Apple rolled out about 2 weeks ago. I'm curious to know if you are still seeing these issues with the newest version of _fastlane_. Can you update and then try again?

Thanks so much!

[2017-04-25 20:59] mpirri commented on #8999
A quick question: have you ever had success with this before? The expected use case for `pilot` is to work with external testers, and I'm somewhat surprised this actually worked before with the "old" TestFlight, given the difference between internal and external testers (internal testers must have associated iTC accounts, for instance).

[2017-04-25 21:20] cvermilion commented on #8999
I think yes -- it took me a little CI spelunking because deploying new internal apps automatically (ie, apps that don't already have testers set up) is a feature we've been working on sporadically over the last month or so. I can see at least one successful run using v2.18.3, before the latest iTC changes, and oddly enough, at that point, I was creating the app with `produce`, adding testers, and

[2017-04-25 21:52] casz commented on #7768
Just add to the 403

Also why did fastlane start to strip out '/' from company since ours is Widex A/S on 🍎

[code]

[2017-04-25 21:53] NachoSoto commented on #8906
I was now bitten by #8991 🙃, so I'll verify when I upload the next build.

[2017-04-25 22:12] #8249 closed

[2017-04-25 22:22] jerolimov commented on #8954
Works fine (on our CI server ;)). Thank you! :+1:

[2017-04-25 22:38] jdouglas-nz commented on #8973
@glesage, thanks for the ref! I did have a look at your ticket before creating one, and it didn't seem that @SiberianCMS was discussing about the `ProvisioningStyle = Manual;` stuff was related.

Only if you update both the `PROVISIONING_PROFILE` and `PROVISIONING_PROFILE_SPECIFIER` to the profile of the newly updated `PRODUCT_BUNDLE_IDENTIFIER` which is altered by running `update_app_identifier`

[2017-04-25 23:18] thasegaw commented on #8991
I tested it  in fastlan-2.28.4 after I filled test information on testflight.

### success
[code]

### fail
#### set only `changelog`
[code]
##### result
pilot require `beta_app_feedback_email` parameter
[code]

#### set only `beta_app_feedback_email`
[code]
##### result
pilot require `changelog` parameter.
[code]

Is this a bug in `update_build_information`?
These parameters are optional in `upda

[2017-04-26 00:28] ahmedgharib commented on #8884
Hey there! Thanks for getting back to me. I just tried it with 2.28.4 and it crashed:

$  fastlane pilot remove testerEmail-a myApp-u myemail --verbose
INFO [2017-04-25 17:25:40.68]: Login to iTunes Connect (myemail)
Looking for iTunes Connect Team with ID myTeamId
INFO [2017-04-25 17:25:43.79]: Login successful
ERROR [2017-04-25 17:25:44.67]: User myemail(Team ID myTeamId) doesn't have enough per

[2017-04-26 01:26] Kaelzzs commented on #8990
the title is my fastlane ouput.

[2017-04-26 03:38] glesage commented on #8973
I see, I think what you posted is actually a step further than I was at the time (:

I'll have to do the regex approach as well for now

[2017-04-26 06:36] grEvenX commented on #8797
I worked around this by creating a new keychain with a password and setting the `KEYCHAIN_PATH` and `KEYCHAIN_PASSWORD` environment variables.

[2017-04-26 06:43] stoneman1 commented on #8990
<details><summary>🚫 fastlane environment 🚫</summary>

### Stack

| Key                         | Value                                       |
| --------------------------- | ------------------------------------------- |
| OS                          | 10.12.4                                     |
| Ruby                        | 2.2.4                                       |
| Bundler?

[2017-04-26 08:47] hjanuschka commented on #8977
PR: https://github.com/fastlane/fastlane/pull/9000

[2017-04-26 09:28] MartijnSchoemaker commented on #8954
Same for me; it's working again. :tada:

[2017-04-26 09:35] IamAlchemist commented on #8792
same error

[2017-04-26 09:45] lferro9000 commented on #8704
This is now sorted.

[2017-04-26 09:45] #8704 closed

[2017-04-26 11:48] KrauseFx commented on #8990
Sorry you're running into issues @kaelzzs, could you share the complete output when running fastlane, including the command you ran? Also, please share your `Gemfile` and `Pluginfile`, if you have one :+1: Thanks

[2017-04-26 11:48] Daredevilll commented on #8991
I already added beta_app_description and beta_app_feedback_email parameters to my pilot.
Still I had this error :

`{"code"=>"ITC.apps.tf.build.missing.primary.test.info", "description"=>"Missing primary test info."}`

-> Adding changelog parameter to pilot resolved my issue  👍

`changelog: "Test Test",`

[2017-04-26 11:52] Daredevilll commented on #8954
Mine now works fine too. 👍.

My solution was to add "changelog" parameter to pilot.

[2017-04-26 12:00] callmephilip commented on #8997
I am able to manually package the app and submit it to the App Store using Xcode interface so I assume code signing works just fine in this case

[2017-04-26 12:00] doppelganger9 commented on #8995
I found another one that might relate to my request : #3420

[2017-04-26 12:34] soxjke opened #9001 "Simultaneous builds from single folder"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

When executing few simultaneous builds from the same checkout folder, they might interrupt each other. This is especially useful, when the project has more than one application target OR tests

[2017-04-26 13:21] ohayon commented on #8999
Hey @cvermilion, thanks for all of that output. It would be really helpful to know how you are calling the add tester action that is producing that output. Also, is it safe to assume that the user you are trying to add is already an iTuneConnect user and you are just trying to assign them to the app to be able to test it?

[2017-04-26 13:23] ohayon commented on #9001
Hey @soxjke, thanks for creating the issue! That does sound like a cool idea. I think it would be best for now to create a [_fastlane_ plugin](https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Plugins.md) for this! 🚀

[2017-04-26 13:23] #9001 closed

[2017-04-26 14:23] NachoSoto commented on #8906
Confirmed fixed.

[2017-04-26 14:23] #8906 closed

[2017-04-26 14:35] punksta commented on #8999
Hello! I have similar issue. I want to create app, create cert, add internal tester and start testing from ci server. it was working before testflight updates. So before build user was added to itunes-connect users and I haven't start testing of that app.

[code]

[code]

[2017-04-26 14:51] PetrosIchor commented on #8997
Update your fastlane install.  Your waaaaaay behind.

[2017-04-26 14:56] ohayon commented on #8999
Hi @punksta and @cvermilion, we are currently working on a fix here: https://github.com/fastlane/fastlane/pull/9002. Thanks for your patience!

[2017-04-26 14:59] callmephilip commented on #8997
@PetrosIchor
### fastlane gems

| Gem      | Version | Update-Status |
| -------- | ------- | ------------- |
| fastlane | 2.28.3  | ✅ Up-To-Date  |
| gym      | 2.0.0   | ✅ Up-To-Date  |
| match    | 1.0.0   | ✅ Up-To-Date  |
| pilot    | 2.0.0   | ✅ Up-To-Date  |

[2017-04-26 16:02] #8062 closed

[2017-04-26 16:07] cvermilion commented on #8999
Here's the command I was using to add a tester in the run that was successful:

    fastlane pilot add -e "$email" -u "$ITUNES_CONNECT_ACCOUNT" -a "$bundle_id" --distribute_external=false

(having set up credentials in a prior step with `fastlane fastlane-credentials`).

And yes, these are existing iTC users, just want to assign them to the app so they get an email automatically. Obviously it's no

[2017-04-26 16:12] cvermilion commented on #8999
Ah, looks like a fix has already landed! I will take a look as soon as that's in a release. Or is there a straightforward way to update my local version to the latest `master`? (I couldn't find anything in the docs.)

Thanks for the quick turnaround!

[2017-04-26 16:14] philipacrowe opened #9003 "Gym not recognising specified scheme"
I have a target called "Fusion" on my iOS project, when I run the following:

`fastlane gym —-workspace “Base.xcworkspace” —-scheme “Fusion” --clean
`
I get asked to select a scheme:

[code]

If I then choose "Fusion" then FastLane will create the ipa ok. But I need fastlane to recognise the scheme from the bash script without the need for manual selection. Why is it not recognising the selected s

[2017-04-26 16:37] soxjke commented on #9001
Hey @ohayon , thanks.

I'll follow through plugin instruction seems to be straightforward.

[2017-04-26 17:42] PetrosIchor commented on #8997
Oh, you're exporting for app-store.  The app store doesn't accept IPA files for uploading.

Well, it does in a sense.  When you upload via xcode it creates the artifact for delivery.  However, when exporting for app store it doesn't create an IPA.  I believe it's assuming your using the organizer for upload instead of pilot.

[2017-04-26 17:46] PetrosIchor commented on #8821
There are a number of actions and plugins to inject your app identifier into you project.  I use this flow with our whitelabel products to provide the specific ID depending on target.

Fastlane flow looks like this:
- inject ID, version, name, and disable automatic signing
- match to pull signing assets
- gym to build

[2017-04-26 18:03] ohayon commented on #8999
Thanks for the follow up @cvermilion! So, two things:

1. using the `--distribute_external` flag is probably unnecessary in when running `fastlane pilot add ...` it is more meant for when distributing apps to testers, specifying to which groups they are being sent. And even with that said, the new TestFlight changes have made it so that wont even be the case moving forward because for apps that we

[2017-04-26 18:53] #6099 closed

[2017-04-26 19:12] mpirri commented on #8991
@thasegaw Awesome observations. I believe you are correct - `beta_app_feedback_email` should only be required for external testing.  `changelog` as well.  I will do some testing to see if my observations match yours.

These errors are coming from the iTunesConnect backend so it means either:
- Apple changed the rules and requires things that we previously thought were optional
- We are calling an

[2017-04-26 20:01] jjacquet commented on #8909
Setting

worked for us too, but it would be nice to get that back when looking for back traces upon a crash to determine code or simulator.

[2017-04-26 20:23] mpirri commented on #8991
@thasegaw We just shipped _fastlane_ 2.28.5 with changes to internal testing - I'm not currently able to reproduce the behavior you observed above using this release. Can you try again and see if you are still able to reproduce the behavior when you call `pilot` with only `changelog` or `beta_app_feedback_email`?

Thanks!

[2017-04-26 20:35] ZevEisenberg commented on #8909
Weirdly, removing `include_simulator_logs` from our Fastfile did _not_ fix it for us.

[2017-04-26 20:51] Vkt0r commented on #8954
Nice job !!! Working again with the latest release 🎉🎉🎉

[2017-04-26 22:03] Cyclic commented on #8412
@bzSega, thank you for your answer. Can you please provide a little more detail or a screenshot where you set your alpha testing method? I created the user list and remember choosing closed beta, but I don't see anywhere to modify the setting.

[2017-04-27 01:32] thasegaw commented on #8991
@mpirri I observed following pattern in _fastlane_ 2.28.5.
1. `pilot` with only `changelog`
2. `pilot` with only `beta_app_feedback_email`

The result is that same error has occurred in both of them.

[2017-04-27 01:46] Kaelzzs commented on #8990
<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                         | Value                                       |
| --------------------------- | ------------------------------------------- |
| OS                          | 10.12.4                                     |
| Ruby                        | 2.4.0                                       |
| Bundler?

[2017-04-27 01:48] Kaelzzs commented on #8990
i can't anderstand my error
error:
It seems like you wanted to load some plugins, however they couldn't be loaded
[09:39:08]: Please follow the troubleshooting guide: https://github.com/fastlane/fastlane/blob/master/fastlane/docs/PluginsTroubleshooting.md
Gemfile：
# For more information about this configuration visit
# https://github.com/fastlane/fastlane/tree/master/gym#gymfile

# In general, you

[2017-04-27 01:50] Kaelzzs commented on #8990
@KrauseFx

[2017-04-27 03:18] Kaelzzs opened #9006 "[!] Could not find action, lane or variable 'pgyer'."
### New Issue Checklist

- [✅ ] Updated fastlane to the latest version
- [ ✅] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

[11:09:56]: Successfully exported and compressed dSYM file
[11:09:56]: Successfully exported and signed the ipa file:
[11:09:56]: /Users/zhouzuosong/Desktop/fastlane/FastlaneTest/FastlaneTes

[2017-04-27 07:06] philipacrowe commented on #9003
<details><summary>🚫 fastlane environment 🚫</summary>

### Stack

| Key                         | Value                                                          |
| --------------------------- | -------------------------------------------------------------- |
| OS                          | 10.12.1                                                        |
| Ruby                        | 2.0.0

[2017-04-27 07:28] thebugcode commented on #9006
Hi,
Can you post the contents of your lane (masking the sensitive data). I think it might be referencing the [pgyer plugin](https://github.com/shishirui/fastlane-plugin-pgyer)

[2017-04-27 07:44] thebugcode commented on #8987
If on iOS, there is no way right now to list connected device. I use `instruments -s` and scan used to used to do this https://github.com/fastlane/fastlane/issues/8782 to list devices

[2017-04-27 07:49] thebugcode commented on #8972
This is a code signing issue.  Your developer certificate is not included in the provisioning profile.

If you're trying to create an ipa for the appstore, then you need the distribution certificate in your keychain.

[2017-04-27 07:55] thebugcode commented on #8902
Hi. Since bundle id's are kept in info.plist files maybe you can use `update_info_plist` action to set the bundle ID for each target?

[2017-04-27 08:00] thebugcode commented on #8880
Try running this command: `fastlane snapshot --xcargs "'-only-testing:TestFileName'"`

[2017-04-27 08:04] thebugcode commented on #8855
Hi.
I've experienced the same issues. To solve `Timed out waiting 120 seconds` issues please run
`killall "Simulator" || true` so that if there are no simulators to kill your jenkins job continues.

[2017-04-27 08:48] urimagisto commented on #8864
removing update_build_info_on_upload from pilot script still sets the changelog, however --beta_app_description is left empty(regression)

[2017-04-27 10:27] sivakaruprolu commented on #6791
Eventhough i am updating a newer version into beta path still i have been facing this error from many days,have gone through many links still facing the issue. My main issue is i have uploading the apk with 136 version Code but in error it was showing 116.please let me know if u have cracked the bug.For reference please go through the below error message

Preparing apk at path './app/build/outputs

[2017-04-27 10:33] callmephilip commented on #8997
@PetrosIchor i am pretty sure gym generates an ipa (unless explicitly asked not to) - https://github.com/fastlane/fastlane/blob/master/gym/lib/gym/runner.rb#L8

I had this working fine with Xcode < 8 and an older version of fastlane - updating to the latest version + Xcode unfortunately broke that

[2017-04-27 10:41] RyogaK commented on #6791
@sivakaruprolu I'm facing same problem just now without supply. It may not supply's fault. We should probably contact to Google rather than here.

[2017-04-27 10:43] m-ruhl commented on #8991
I can confirm @thasegaw observations.

[2017-04-27 10:51] thasegaw opened #9008 "'xcodebuild -showBuildSettings' without 'clean' timed-out"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
`xcode -showBuildSettings` without `clean` is slower than `xcode -showBuildSettings` with `clean`.
Because most of our project spend over 10 sec on executing this, _fastlane_ fail to build due

[2017-04-27 11:30] nishitsplashmath commented on #9008
I am facing the same issue. I am using snapshot to automate the snapshot generation. This is what i get in my test report "[!] xcodebuild -showBuildSettings timed-out after 10 seconds and 3 retries. You can override the timeout value with the environment variable FASTLANE_XCODEBUILD_SETTINGS_TIMEOUT, and the number of retries with the environment variable FASTLANE_XCODEBUILD_SETTINGS_RETRIES". I t

[2017-04-27 12:09] awBSH commented on #7991
+1
I am facing the same challenge. I want to export an .ipa from an already existing .xcarchive and I am trying to use gym with skip_build_archive:true
Why do I need to provide a Schema?

[2017-04-27 12:12] awBSH commented on #7991
@t089 Have you solved this meanwhile? Are you able to create an .ipa from an .xcarchive with gym?

[2017-04-27 13:49] awBSH opened #9009 ""Archive invalid" with gym(skip_build_archive: true)"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I want to create an .ipa from an existing .xcarchive with **gym**.
I use **gym** with `skip_build_archive: true` and provide the path to .xcarchive with `archive_path`. Before this, I use **ma

[2017-04-27 14:12] BobString commented on #6791
Are you using multiple apk in the play store? Or even if you are using one apk but use the splits gradle function, that is considered "multiple" apk to the play store. I think that error can be avoided using a version code scheme like the one described here, although I haven't tried it out myself:  https://developer.android.com/google/play/publishing/multiple-apks.html#VersionCodes

[2017-04-27 14:48] t089 commented on #7991
Nope, been using custom bash script instead and then switched from using fastlane/bash/jenkins to sign up with buddybuild instead.

[2017-04-27 15:56] awBSH commented on #7991
Hmm... ok thanks for the info. Too bad this hasn't been solved...
**fastlane** looks really promising (in the first place)

[2017-04-27 16:33] joshuamyers opened #9010 "Any way to get the grade compile error sent to slack?"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
A little new here, so please excuse my ignorance.  I'm having difficulties getting a compile error message to be sent to slack.  I've tried googling to see if there was a quick solution, but I

[2017-04-27 16:49] t089 commented on #7991
Oh, make no mistake: fastlane is awesome.

[2017-04-27 17:08] taquitos opened #9011 "App Manager role unable to add testers to app"
- [x] Updated fastlane to the latest version

iTunesConnect users with only App Manager role can't add external testers due to "Forbidden" response on `https://itunesconnect.apple.com/WebObjects/iTunesConnect.woa/ra/users/pre/ext`

[code]

API response:
[code]

[2017-04-27 17:36] pranavgupta27 opened #9012 "Could not find build (FastlaneCore::Interface::FastlaneCrash)"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

fastlane deliver --ipa "./appjDHlek0904.ipa" --submit_for_review --skip_metadata --skip_screenshots
[22

[2017-04-27 17:36] pranavgupta27 commented on #9012
Also i got this email from App Store Team

Dear developer,

We have discovered one or more issues with your recent delivery for "B1 submit". To process your delivery, the following issues must be corrected:

Missing Info.plist key - This app attempts to access privacy-sensitive data without a usage description. The app's Info.plist must contain an NSBluetoothPeripheralUsageDescription key with a s

[2017-04-27 19:01] ugenlik commented on #7871
Update:  moving certificate to System in keychain only worked a couple of times.
adding the following before `gym` worked for me

[code]

[2017-04-27 19:08] thebugcode commented on #9012
@pranavgupta27 You need to follow the app store suggestion and include a description in your info.plist under the key NSBluetoothPeripheralUsageDescription. This doesn't seem to be a fastlane issue, but an issue with your app

[2017-04-27 19:23] robbykim commented on #8855
awesome! that fixed the issue. thanks!

[2017-04-27 19:42] thebugcode commented on #8997
@callmephilip is this still an issue for you? If so, can you please try running the following command:
`fastlane gym --scheme Tidy --project ".ios/Tidy.xcodeproj" --export_method app-store`

This gym command invokes xcodebuild under the hood and produces an ipa. In the end it should say something like, successfully exported ipa, dsym and show you their paths. Please post the output of this invocat

[2017-04-27 19:43] robbykim commented on #8855
Ahhh actually that didn't help. Another issue came up that made it seem like it was helping but I'm still getting `Timed out waiting 120 seconds for simulator to boot, current state is 1`

[2017-04-27 19:49] thebugcode commented on #8855
Do you have access to the machine running this? Can you try running this on it?
`fastlane scan --project "myproject.xcodeproj" --devices "iPhone 7" --clean`

Rationale: Its obvious simulators wont start. That is either because they are corrupted (Try `fastlane run reset_simulator_contents`) or because they are missing. What CI are you running on?

[2017-04-27 19:53] thebugcode commented on #8855
Also, try with different simulators. If you can run tests from Xcode on this machine, you can also do so with fastlane.
One more thing I know is that if your mac is slow, you will also get this timetout. HDD Mac mini's are often slow.

[2017-04-27 20:04] aksswami opened #9013 "`brew cask install fastlane` fails in install script"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Installing `fastlane` with `brew-cask` fails. fastlane files are getting copied to home_dir but after that install script exit with <signal 13>. This results in brew cask reporting that fastla

[2017-04-27 20:12] aksswami commented on #9013
The installer is working fine, if I download the zip and execute it with option `-u -p -b`.

[code]

[2017-04-27 20:25] robbykim commented on #8855
@thebugcode so I ran the `fastlane scan ...` command on the machine and it works perfectly fine. It seems like its only when its trigger through the CI that is having the issues. Tests work on Xcode, with iPhones 6, 7, 6 Plus, 7 Plus. The computer is a MacPro with a SSD so slowness _shouldn't_ be an issue though it very well might.

We're using Jenkins as our CI tool

[2017-04-27 21:00] ohayon commented on #9012
@pranavgupta27 I believe that @thebugcode is correct. I am going to close this for now, but let us know if there are more issues. 🚀

[2017-04-27 21:00] #9012 closed

[2017-04-27 21:06] aksswami commented on #9013
Dump with `--debug` flag.

[code]

[2017-04-27 21:13] tmm1 opened #9014 "FASTLANE_DISABLE_COLORS not working with pilot anymore"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Using `pilot` to add testers and perform other operations now outputs with colors, even if colors are disabled.

##### Complete output when running fastlane, including the stack trace and comm

[2017-04-28 00:22] pranavgupta27 commented on #9012
@thebugcode @ohayon I am able to upload the same app manually. If it has been an issue with the app i would have observed the same issue.

Is there something i might be missing here

[2017-04-28 00:37] cvermilion commented on #8999
It's looking good on master for me now! 🎉

And indeed, dropping the `--distribute_external` flag doesn't break anything. So I guess an existing iTC user is added as internal by default?

As a tangential suggestion, I don't use Ruby and `rubygems` for much other than a few tools like `fastlane`, so the `Gemfile` approach to using master wasn't at all obvious to me -- it might be worth adding that t

[2017-04-28 03:34] nerd0geek1 commented on #7395
Now, I'm working on this issue.

[2017-04-28 04:31] petersuwara commented on #6989
Are people still having problems with this issue ?

[2017-04-28 06:28] Kastet commented on #8792
I have the same error but in my case, Dev Portal and iTunes Connect are two different Apple IDs. Any suggestions?

[2017-04-28 06:29] stoneman1 commented on #8990
For some reason my pluginfile was tried to load from the rootDir/fastlane when it should have load it from rootDir/android/fastlane

[2017-04-28 07:15] biocross commented on #8902
You're right, my extension's plist was weirdly named, so I couldn't find it. Hence I thought app extensions didn't have one. Thanks for you help. Closing this.

[2017-04-28 07:15] #8902 closed

[2017-04-28 07:18] useeless37 opened #9015 "scan doesn't use gpx"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines]

### Issue Description
Hi scan is running the tests but not including scheme options Test Location

##### Complete output when running fastlane, including the stack trace and command used
### Captured Output
I couldn't include it because it is too long, but basically my scan action

[2017-04-28 07:28] thasegaw commented on #8991
It seems that this function change value to null when the parameter does not set.
https://github.com/fastlane/fastlane/blob/master/spaceship/lib/spaceship/test_flight/build.rb#L151

[code]

[2017-04-28 07:39] acalism commented on #8797
My solution,
clean all imported p12 item about your project,  and remove all mobileprovision file ( or just related mobileprovision with this project).
An absolute truth is, old mobileprovision might cause new mobileprovision file be not in effect.

Hope it will help someone.

[2017-04-28 07:54] thebugcode commented on #8855
In that case if fastlane can boot the simulator and run tests, and we can pinpoint this issue to only when running from Jenkins I would suggest this. Can you check and confirm that the user on which this command is executed is logged in. (In your case that seems to be the jenkins user)

Also, another hunch is to look carefully into the following log file `/Users/jenkins/Library/Developer/Xcode/Der

[2017-04-28 08:19] thebugcode commented on #9015
Hi @useeless37. Can you try the following fix with the simulator and see if it fixes the problem?
https://github.com/fastlane-old/snapshot/issues/333#issuecomment-185296068

[2017-04-28 09:30] useeless37 commented on #9015
Hi thanks for checking! sorry we need to use series of locations (like gpx) not just one coordinate

[2017-04-28 09:41] thebugcode commented on #9015
I understood. It looks like this feature isn't currently supported by scan, as far as I can tell but I do think this very similar thread will give you a workaround https://github.com/fastlane/fastlane/issues/1678

[2017-04-28 11:15] KrauseFx commented on #9014
Thanks for reporting this, I can reproduce the issue. I'll look into resolving it.

[2017-04-28 11:45] KrauseFx commented on #9014
Just pushed https://github.com/fastlane/fastlane/issues/9016 👍

[2017-04-28 12:13] #7361 closed

[2017-04-28 14:32] Mr-Pearce opened #9018 ""Transporter Error Output" Your Apole ID or password was entered incorrectly"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
I have a Team Fondation Server 2017(Express(Update1) with installed App Store [Extension wich uses Fastlane](https://marketplace.visualstudio.com/items?itemName=ms-vsclient.app-store)
but I Cann

[2017-04-28 14:52] ohayon commented on #8999
Thanks for following up @cvermilion! 🚀

The behavior for adding testers is that it tries to find an iTC user first by the email address and if it finds that, it will add it to the app otherwise, it will create a new external and add it to the specified groups in the app or, if no groups are specified, it will try to find the default external group (which is not available for apps added to TestFlig

[2017-04-28 14:52] #8999 closed

[2017-04-28 15:33] viacheslavleonov opened #9019 "fastlane doesn't set scheme name for xcodebuild during init"
### Issue Description
When run `fastlane init`, fastlane doesn't set scheme name for `xcodebuild` when tries to create app in developer portal, thus receives error from `xcodebuild` and can not get correct application name and  uses 'App' instead of real application name 'test'
[code]

### Captured Output

Command Used: `init`
<details><summary>Output/Log</summary>

[code]

</details>

<details><s

[2017-04-28 16:32] callmephilip commented on #8997
@thebugcode here is what i see - still no signs of ipa

[code]

[2017-04-28 16:56] slackfarmer commented on #8332
Giving an account App Manager role instead of Developer is wrong for uploading to testflight.

Maybe there is an easy fix for this.

[2017-04-28 17:06] lkraider commented on #7377
Same error here:
[code]

The actual issue is that there was no development provisioning profile in the Member Center. Running without `readonly` created the profile and fixed the issue.

[2017-04-28 18:09] taquitos opened #9023 "Removing tester without specifying app raises exception"
### Issue Description
executing:
`fastlane pilot remove <tester>`
removes the tester, even if they are on an app, which is great, but then raises an exception:
[code]

Tracked it down to `tester_manager.rb:58` we have a nil app
[code]

[2017-04-28 19:00] vongohren commented on #8139
Not have had time to investigate @mfurtak?

[2017-04-28 19:02] mpirri commented on #8991
@thasegaw We just shipped _fastlane_ 2.28.6 with a fix for the bug in the `Build` model object you describe above.  Can you give it a try to see if it works better for you? Thanks again!

[2017-04-28 19:04] mpirri commented on #8864
@urimagisto Can you test with _fastlane_ 2.28.6, which we just shipped?  It changes how that logic works and I'm optimistic it will fix your issue.  Thanks!

[2017-04-28 19:04] ammichael commented on #8872
@npomfret Hi there

Have you found a solution for your problem? I'm having the same issue.

[2017-04-28 20:13] #7290 closed

[2017-04-28 20:50] mfurtak commented on #8139
No, I haven't. I'm sorry. I'd love some help from the community on this one, so I'll mark it as such!

[2017-04-28 22:16] thasegaw commented on #8991
@mpirri Thank you for your PR! I confirmed this bug was fixed in _fastlane_ 2.28.6. 👍
[code]

[2017-04-28 22:56] tmm1 opened #9024 "BuildWatcher is broken in 2.28.6"
https://github.com/fastlane/fastlane/pull/8962#pullrequestreview-35456897

[code]

[2017-04-28 23:09] mpirri commented on #8991
Great news! I'm going to close this issue now, but please let us know if you encounter any other difficulty with this.

[2017-04-28 23:09] #8991 closed

[2017-04-28 23:11] mpirri commented on #9024
PR to fix this: https://github.com/fastlane/fastlane/pull/9025

[2017-04-29 08:17] npomfret commented on #8872
I did.  I needed to adjust my fast file certificate stuff as I was only including my main app and not my new share extension.  Something like:

[code]

[2017-04-29 10:20] mpirri commented on #9024
@tmm1 Thanks so much for bringing this to our attention! The fix was released in _fastlane_ 2.28.7.  When you have a spare moment, can you verify that this is working better for you? 🙌

[2017-04-29 11:13] useeless37 commented on #7361
for my case:
target names are:

this worked:
`get_version_number(xcodeproj: proj, target:"RideDriverEnterprise")`

returns

using the real target as target doesn't work

writing the name of plist works

[2017-04-29 12:07] jaimeagudo commented on #9024
I experienced the same issue as @tmm1 on 2.28.6, the fix on 2.28.7 is working for me. Many thanks for the super fast fix @mpirri 👍

[2017-04-29 12:33] #8072 closed

[2017-04-29 14:43] anishparajuli555 opened #9029 "fastlane command not found"
### Fast lane command not found Error while running from Xcode bot

### Issue Description

I have successfully setup fast-lane in my project.I have tried running fast-lane action from terminal and it works correctly.

<img width="683" alt="eqjgw" src="https://cloud.githubusercontent.com/assets/7752578/25556299/d0891386-2d19-11e7-81c7-d0f0127b993d.png">
And on Trigger i am adding the same command o

[2017-04-29 14:53] #9014 closed

[2017-04-29 21:24] glesage commented on #7736
This does seem to have fixed itself now.. possibly due to fastlane updates. Thanks!

[2017-04-29 21:24] #7736 closed

[2017-04-30 09:27] alphatroya commented on #8384
I think it implemented, thanks

[2017-04-30 09:27] #8384 closed

[2017-04-30 12:43] #8307 closed

[2017-04-30 12:43] #8216 closed

[2017-04-30 21:05] KrauseFx commented on #8306
Hey @SpacyRicochet, sorry for not coming back earlier. Do I understand correctly that you don't have those screenshots as _snapshot_ doesn't run on 3.5" devices?

[2017-05-01 01:13] KieranHarper commented on #8969
Are you running back-to-back scans with other targets first? I have noticed it will only succeed if the first scan is for the mac target (specifying no devices), then the subsequent scans are the other targets with devices specified. Might be nicer if we could specify "Mac" as the device tho.

[2017-05-01 14:41] mpirri commented on #9024
I'm optimistic that this issue is resolved, so I'm going to close this ticket now. @tmm1 if you are still having problems, let us know and we can dig deeper.

Thanks!

[2017-05-01 14:41] #9024 closed

[2017-05-01 15:45] freak4pc commented on #6968
I'm seeing this issue when trying to set up Travis for RxStarscream. No fastlane so it is definitely not fastlane specific. I'm really not sure what it is, I've tried everything and running the command locally works absolutely fine.

https://travis-ci.org/freak4pc/RxStarscream/builds/227625861

https://github.com/freak4pc/RxStarscream/blob/feature/travis-ci/.travis.yml

[2017-05-01 17:43] AndyDunn commented on #8964
So what was the result of this? Is this the correct way to supply the :groups parameter?

`groups: ["MyExternalGroupNameAsSpecifiedIniTunesConnect"]`

[2017-05-01 17:52] RichardGuion commented on #6968
I've seen this error and tracked it down to different problems each time (none with Fastlane):

- A crash when the app initially starts up on the simulator; this is actually a great error to find if you running tests on a PR - will prevent developers from committing this crash.
- The app could not be loaded because a library was missing (example: Library not loaded: @rpath/libswiftXCTest.dylib). I

[2017-05-01 18:10] PetrosIchor commented on #9029
I personally haven't integrated into xcode build steps, but you may want to specify the path of fastlane.

Find the path with `which fastlane` or use what's described in your env output (`~/.fastlane/bin/bundle/bin/fastlane`)

[2017-05-01 18:41] deglseder commented on #8964
@AndyDunn yes.  It would be nice if they updated the documentation to reflect that this should be an array.

[2017-05-01 18:56] KrauseFx commented on #9029
Yeah, Xcode by default, doesn't set the required environment / path variables to make it work. One way to solve it is what @PetrosIchor said 👍

[2017-05-01 20:17] tzm41 commented on #8728
Thanks! Seeing the issue and hoping the fix could be merged soon.

[2017-05-01 20:53] KrauseFx commented on #8969
Actually _fastlane_ isn't optimized for macOS apps unfortunately, you'll run into issues 😢

[2017-05-01 21:00] Allenlandser opened #9033 "Not able to clone remote git when passphrase is not empty"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

When I trying the fastlane cert command with a non-empty passphrase key, the terminal stucks at `Cloning remote git repo...` at the fastlane is obviously waiting for the user to input the passphrase for the git.

##

[2017-05-01 22:10] KrauseFx commented on #9033
Can you run it manually once, so you're asked for the credentials, which are then stored in the keychain?

[2017-05-01 23:01] pav1790 opened #9035 "hockey step not able to create app entry on hockeyapp"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
If the application is not created on hockey app the action hockey does not create it. My fastfile is provided with environment with values replaced with xxxxxxx for privacy.

##### Complete out

[2017-05-02 01:54] anishparajuli555 commented on #9029
@PetrosIchor  @KrauseFx  I just tried and still not working.Tried setting the path in Environmental variable.

[2017-05-02 04:09] htooaunghlaing commented on #8108
Ok, Thanks @hjanuschka

[2017-05-02 05:55] hjanuschka commented on #8108
@htooaunghlaing your issue has been solved? if so can you close this issue?

[2017-05-02 06:51] KrauseFx commented on #9035
_fastlane_ doesn't create a new hockey app for you, you can either create it manually using the hockey web UI, or you can use Crashlytics beta, which creates the app automatically on the first run 👍

[2017-05-02 08:14] KrauseFx commented on #4301
Hey @bladebunny, this should be resolved in the most recent _fastlane_ version, check out the [Appfile docs](https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Appfile.md) for more information.

To your question, _produce_ accesses both iTunes Connect and the Apple Developer Portal. So it will use both teams, the `itc_team_id` for iTunes Connect, and the `team_id` for the Dev Portal. C

[2017-05-02 08:14] #4301 closed

[2017-05-02 08:17] KrauseFx commented on #4676
I actually like the idea, too bad we can't change the default behavior. What I'd suggest, we can have a new action called
[code]
at the top of the `Fastfile`, to set the output path for all other _fastlane_ action that generate and store a file.

Is that something you'd be interested in working on?

[2017-05-02 08:18] KrauseFx commented on #6191
Also, for all code signing related questions, please also check out our docs for code signing: https://docs.fastlane.tools/codesigning/getting-started/

[2017-05-02 08:20] thebugcode commented on #9029
@anishparajuli555 Try setting `~/.fastlane/bin/bundle/bin/fastlane inc_build` instead of just `fastlane in_build` or if you have an older installation of fastlane try `/usr/local/bin/fastlane inc_build`
One of them should work.

Also, Xcode server is a huge pain, if you're looking for alternative CI servers, try Jenkins + fastlane.

[2017-05-02 08:33] thebugcode commented on #9019
Hi @viacheslavleonov
As a workaround I would suggest creating the app manually (since you only do it once) and then automating your processes with fastlane.

[2017-05-02 08:43] KrauseFx commented on #9019
This looks like a bug, and something we should fix. Could you share a screenshot of your project directory, and its xcodeproj and xcworkspace file? Do you know what's the best way for us to reproduce the problem? How many schemes does your project have?

[2017-05-02 09:02] viacheslavleonov commented on #9019
I tested this bug on a new empty project with empty cocoapods integration just to create workspace. One scheme, one target.
I've added project in attachment.
[FastLaneTest.zip](https://github.com/fastlane/fastlane/files/969933/FastLaneTest.zip)

[2017-05-02 09:35] KrauseFx commented on #9019
@viacheslavleonov Thanks for providing the sample project, I can reproduce the issue now 👍

[2017-05-02 09:55] KrauseFx commented on #9019
Hey @viacheslavleonov, I just pushed a PR that will fix this 👍 https://github.com/fastlane/fastlane/pull/9037

Basically you have to mark your scheme as `Shared` in Xcode. Let me know if that fixes the issue  🚀

On the next release, this should be indicated by the error message, and also we automatically fetch the first scheme

[2017-05-02 10:11] viacheslavleonov commented on #9019
I've checked with shared scheme as well and it didn't help.

[2017-05-02 12:39] jcampbell05 commented on #4676
Sure do you know which vars I need to set?

[2017-05-02 13:16] tychop opened #9038 "Feature request for sigh"
Can we have "fastlane sigh --force" not only add all the devices to the profile, but also all certificates?

[2017-05-02 15:27] runloop commented on #8979
Just updated to 2.28.7 and I'm still getting issue if I try and remove a tester from an app that doesn't have a default group when specifying no groups.

[code]

[2017-05-02 15:31] mpirri commented on #8867
@intari Can you confirm if this issue is still happening with the latest version of _fastlane_? I'm optimistic that the changes in `pilot` to support the new TestFlight should have fixed this.

Thanks much!

[2017-05-02 15:42] anishparajuli555 commented on #9029
@thebugcode  I tried it...Now the error is as command not found..It has successfully reached to the path of fastlane but cannot get the command inc_build
<img width="779" alt="screen shot 2017-05-02 at 9 23 03 pm" src="https://cloud.githubusercontent.com/assets/7752578/25626033/ef84b6a8-2f7d-11e7-859f-68d9876f37aa.png">
<img width="733" alt="screen shot 2017-05-02 at 9 23 18 pm" src="https://cloud

[2017-05-02 15:42] #8329 closed

[2017-05-02 16:03] KrauseFx commented on #8979
@runloop are you running the most recent release? Can you run `fastlane -v` to ensure it's up to date?

[2017-05-02 16:03] iDams opened #9039 "ld: framework not found Branch"
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
When running `fastlane beta` IPA is not created so I get the error that fastlane could not find ipa file at path...
I tried to run only `gym` with this commande `fastlane gym --scheme CCRebornApp  --project "CCRebornAp

[2017-05-02 16:04] KrauseFx commented on #9038
That's not always possible, as depending on the profile type, there might only be one certificate allowed.

[2017-05-02 16:04] #9019 closed

[2017-05-02 16:06] runloop commented on #8979
[code]

[2017-05-02 16:12] iDams commented on #9039
Not related to code signing.
I'm getting `Successfully exported and signed the ipa file`

[2017-05-02 16:21] thebugcode commented on #9029
Okay. So this is not a fastlane issue, it's just Xode Server can't find fastlane. I suggest following this stackoverflow answer http://stackoverflow.com/a/39256822/978510 and my best bet is that you need to call this before calling `fastlane inc_build`:
`export PATH="/Users/Anish/.fastlane/bin:$PATH"`

[2017-05-02 16:36] ammichael commented on #8872
Didn't work for me :(

But thanks anyway! ✌️

[2017-05-02 16:51] #9029 closed

[2017-05-02 16:53] pav1790 commented on #9035
Thanks for the quick response. And yes, apologies. I should have worded this clearly. I am aware that fastlane does not do it as yet - I directly invoke the hockeyapp api to create the application.

I was wondering if such a functionality could be requested or even submitted by us. That is to say, are there any "guiding principles" that oppose "app creation" from within this fastlane action?

[2017-05-02 17:02] santoshshetty2612 opened #9040 "fastlane taking too much time to create or regenerate profiles"
Hi,

From past few days I have observed that fastlane is taking too much time to create or regenerate profiles.

Most of the time its stuck on the line:
Verifying that the certificate and profile are still valid on the Dev Portal...

To generate some 10 profiles it took more than 20 hours.

Seems something has changed on Apple end.

I am using match with array of App Ids.

Everything worked well t

[2017-05-02 17:26] KrauseFx commented on #9040
Could you share the complete output too, so we can see the time stamps next to the output?

[2017-05-02 17:27] KrauseFx commented on #9035
Oh, I understand now. Currently no, and it's probably nothing we will work on, as we're currently focusing on other areas on _fastlane_.

[2017-05-02 17:29] KrauseFx commented on #8979
Could you also share the stack trace when running _fastlane_? You can get it using `--verbose` at the end of your fastlane call. This will help us fix the issue 👍

[2017-05-02 17:31] santoshshetty2612 commented on #9040
sure @KrauseFx Is there a way I can send the output privately. It contains my app ids which I would prefer to keep it private.

[2017-05-02 17:39] KrauseFx commented on #4676
I think this is a pretty good list already: https://github.com/fastlane/fastlane/blob/master/fastlane/lib/fastlane/actions/setup_jenkins.rb#L4-L18

Some things are not applicable, like the code signing identity.

[2017-05-02 17:46] tychop commented on #9038
Hi Felix. It's been a long time since we talked 😉

We need it for de dev profiles.
Our situation: The CI process renews the dev profile and includes all the devices. Nice!! But it also throws away all the certificates except the one used on the build server. And since XCode now manages the profiles itself, it just downloads the latest one (with the 1 wrong certificate) to the dev machine.
This mak

[2017-05-02 17:50] pav1790 commented on #9035
Could I give it a go?

[2017-05-02 18:16] agentilela opened #9041 "As an IOS developer, I would like to use fastlane for provisioning with a personal (free) Apple ID."
### New Issue Checklist

- [x] Updated fastlane to the latest version (v2.28.7 at the time of writing)
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

[code]

### Environment

<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                         | Value

[2017-05-02 18:46] Sega-Zero opened #9042 "produce: certificate verify failed on travis-ci with ruby 2.1.5"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Trying to build my app on a travis instance with `rvm: 2.1.5`.
The build fails at the produce part with an error: `SSL_connect returned=1 errno=0 state=SSLv3 read server certificate B: certifi

[2017-05-02 20:33] #7136 closed

[2017-05-02 21:07] Maxdw opened #9043 "snapshot always runs in english (does not switch language)"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Snapshot always runs the simulator in English (same as OS language I suspect?). After defining languages in the snapfile (included below) I expected snapshot to run the simulator in the proper

[2017-05-02 21:10] GouriKumari commented on #7768
Hello, Fast lane is being used to submit  test apps to iTunesConnect  and some tests are failing due to the following error. Is there any way to debug or fix this issue?
<html>
<head><title>502 Bad Gateway</title></head>
<body bgcolor=“white”>
<center><h1>502 Bad Gateway</h1></center>
<hr><center>nginx</center>
</body>
</html>

[2017-05-02 21:56] shiroganee opened #9044 "Two Factor Authentication - token always expired"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Because of Two Factor Authentication I run through spaceauth to get the token which later is included in FASTLANE_SESSION. Eventho I did what is written in docs the message that is below is sti

[2017-05-02 22:08] the-mace opened #9045 "Pilot fails with "Your Apple ID or password was entered incorrectly" with valid login"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Starting a couple weeks ago, Fastlane started failing with pilot with a "Your Apple ID or password was entered incorrectly". This is after it claims to successfully log into iTunes connect. En

[2017-05-03 00:26] timothycosta commented on #8348
If it's not possible to make this work for other sizes, maybe the error could explicitly mention 640x960?

[2017-05-03 03:14] #8402 closed

[2017-05-03 05:32] urimagisto commented on #8864
i am on fastlane 2.28.7 now, beta_app_description is still left empty(regression)

[2017-05-03 08:10] davidhan256 opened #9048 "fastlane init not prompting for Apple Id"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Following installation of fastlane, when I run _fastlane init_  in root folder of a Xcode project I am not getting prompted for my Apple Id as expected. Not sure what I am doing wrong.

##### C

[2017-05-03 08:30] KrauseFx commented on #9048
The error says `Could not retrieve response as fastlane runs in non-interactive mode`. Are you running this in your default shell? Is it interactive?

[2017-05-03 08:37] davidhan256 commented on #9048
I am running in default shell. I believe it is interactive:

C02RL26QG8WN:HelloWorld r595879$ if tty -s; then echo interactive; fi
interactive

[2017-05-03 08:48] KrauseFx commented on #9048
Can you check the Ruby variable `$stdout.isatty`? Also do you have any of the following environment variables set
[code]

[2017-05-03 08:58] davidhan256 commented on #9048
irb(main):007:0> $stdout.isatty
=> true

The only environment variable I have set is JENKINS_HOME (/Users/r595879/bin/jenkins)

[2017-05-03 08:59] KrauseFx commented on #9045
The error message is raised by the iTunes Transporter CLI:
[code]

Do you have 2 factor enabled? Do you have a password set in `DELIVER_PASSWORD` or `FASTLANE_PASSWORD` env variables? Does your password contain any special characters like a dollar symbol? Have you tried changing it to a password containing just characters and numbers, but having a longer one?

We would love to fix this, however we

[2017-05-03 09:00] KrauseFx commented on #9044
Hey @shiroganee, thanks for submitting this issue. What CI system do you use? Can it be that it's related to the environment variable being somehow escaped, and therefore not properly used?

[2017-05-03 09:02] KrauseFx commented on #9043
Can you share your UI test files? Do you call the `setupSnapshot` method in the correct part of the UI Test?

[2017-05-03 09:11] #9039 closed

[2017-05-03 09:15] Maxdw commented on #9043
Yes that was the problem, it correctly switches languages now. I did not call setupSnapshot at all and was banging my head over what I had missed. Thanks for the help and the great library.

[2017-05-03 09:15] #9043 closed

[2017-05-03 09:17] ChristopherStephan commented on #6791
I am using beta lane only for test releases and got the same error message. "Fixed" it by changing the track to alpha in my script, then moving the apk manually to beta track and finally switching back to the beta track in my script.

Google Api Error: multiApkShadowedActiveApk: Version 89 of this app can not be downloaded by any devices as they will all receive APKs with higher version codes.

[2017-05-03 09:45] KrauseFx commented on #9038
Hey @tychop 👍

Yeah, check out the new [code signing docs](https://docs.fastlane.tools/codesigning/getting-started/#xcode-8-and-up) that explain how you can use the automatic code signing for development builds, and fastlane for distribution builds 🚀 Let me know if that works for you.

[2017-05-03 09:45] KrauseFx commented on #9043
Glad to hear it got resolved 👍

[2017-05-03 09:46] KrauseFx commented on #9039
Great to hear 👍

[2017-05-03 09:46] KrauseFx commented on #9048
Yeah, because you set `JENKINS_HOME`, _fastlane_ thinks you're running `fastlane init` on Jenkins, which doesn't work. Could you run `unset JENKINS_HOME`, just for this session, so you can setup _fastlane_? Once _fastlane_ is set up, you can use it with the `JENKINS_HOME` variable set 👍

[2017-05-03 09:47] KrauseFx commented on #9042
[code]

There is the list of our recommended ways to solve the issue. Basically you have to make sure to use a Ruby with an up to date OpenSSL version 👍

[2017-05-03 09:47] iDams commented on #9039
Yep! Xcode was messing up with my scheme

[2017-05-03 09:49] KrauseFx commented on #9041
Sorry, _fastlane_ doesn't support personal Apple IDs for now, as it requires a paid Apple Developer account. The main focus for _fastlane_ is to automate the App Store and Beta distribution of builds, not so much Development builds.

[2017-05-03 09:49] KrauseFx commented on #9035
Sure thing. Check out how to get started (https://github.com/fastlane/fastlane/blob/master/YourFirstPR.md) and this is the action that needs to be modified https://github.com/fastlane/fastlane/blob/master/fastlane/lib/fastlane/actions/hockey.rb

Let me know if you need any help 👍  Thanks for your contribution

[2017-05-03 09:50] KrauseFx commented on #9044
Do you mind sharing how the problem was solved, so others can learn from it too? 👍

[2017-05-03 09:51] #8722 closed

[2017-05-03 09:52] shiroganee commented on #9044
https://discuss.bitrise.io/t/two-factor-authentication-for-apple-id-itunes-connect-testflight-deploy/1180/14

This link has whole discussion (as I find it more useful to actually copy the link rather than long discussion). Big kudos to Viktor for really quick responses.

but tl;dr for anyone having same problem: it is better to copy FASTLANE_SESSION directly in Bitrise.yml rather than use the UI e

[2017-05-03 09:56] davidhan256 commented on #9048
Thanks for this! This has resolved issue. Can I suggest that this workaround is added to the documentation?

[2017-05-03 10:00] Antondomashnev opened #9049 "Improving the output of EnsureGitStatusCleanAction"
🔑

### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

While executing the `ensure_git_status_clean` on the CI, I'm getting the error message:
[code]
I think it would be a good improvement to output or at least provide an option to output exact

[2017-05-03 10:20] jontelang opened #9050 "Fastlane Deliver failing after "activating languges""
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

When running deliver (via a fastlane lane), it fails after the output "activating languages".

##### Complete output when running fastlane, including the stack trace and command used

### Capt

[2017-05-03 10:46] Julyyq commented on #8837
+1

[2017-05-03 10:54] shiroganee commented on #9044
and for clarying the problem still occurs @KrauseFx  but this one is only related to

And it seems like it is Fastlane related / 2FA related.

[2017-05-03 12:12] stevewallis commented on #9040
I am using cert & sigh, rather than match, but I have observed the same behaviour for the past ~2 weeks.
I am currently working on removing cert & sigh from my standard adhoc build and placing them in an optional lane (and caching their results) because they take approx 2 hours to run now.

Here is a sample output from an adhoc build with timestamps:
[code]

Note, the slow calls are not always the

[2017-05-03 12:26] KrauseFx commented on #8837
This seems like something _fastlane_ should detect and automatically fix. Do you remember with what application the file was created? When you re-save the app icon as PNG (which is the recommended file format from Apple), does it work?

[2017-05-03 12:27] KrauseFx commented on #9050
That's interesting, thanks for the report. Yeah, _deliver_ thinks `review_information` is a language. Why did you create a `review_information` folder? Is that mentioned somewhere in the docs? What does it contain?

[2017-05-03 12:29] KrauseFx commented on #9048
@davidhan256 To me that seems more like something that should be printed out when _fastlane_ fails, as otherwise people don't find it in the docs if they run into this problem 👍

[2017-05-03 12:29] KrauseFx commented on #8722
Thanks for contributing @Antondomashnev, this is great 👍

[2017-05-03 12:30] KrauseFx commented on #9049
Sounds like a great idea. Is that something you'd want to work on? I see you already contributed multiple patches and improvements to fastlane 👍

[2017-05-03 12:32] davidhan256 commented on #9048
Agreed. That would be a better solution.

[2017-05-03 12:49] Antondomashnev commented on #9049
Hey @KrauseFx, sure, I would love to contribute the improvement, but not sure how fast I can prepare the PR.

[2017-05-03 13:08] runloop commented on #8979
Here you go.

It's worth noting this happens on my app where I had mistakenly deleted the default External Testers group.

[code]

[2017-05-03 13:11] ohayon commented on #8979
Thanks for that output @runloop! We will definitely look into this, thats super helpful.

[2017-05-03 13:28] stevewallis commented on #9040
Okay, we've done some more investigating.
It seems it is an Apple server problem, but not with all their servers.
I am in France, and by default, my `developer.apple.com` is resolving to a block of servers in Amsterdam eg
`nlams2-vip-bx-001.aaplimg.com`, `nlams2-vip-bx-002.aaplimg.com` etc
I forced my server to resolve it to a US West coast block of servers eg
`ussjc2-vip-bx-001.aaplimg.com` etc
a

[2017-05-03 13:33] Sega-Zero commented on #9042
solved an issue by specifying rvm: 2.3.1 in .travis.yml

[2017-05-03 13:33] #9042 closed

[2017-05-03 13:35] mpirri commented on #8864
@urimagisto Can you send us the code for `pilot` invocation you are using? Thanks so much!

[2017-05-03 13:36] santoshshetty2612 commented on #9040
Hi @stevewallis Is there a way in fastlane I can point to the US West coast block servers?

[2017-05-03 13:38] mpirri commented on #8864
@mrgerh Have you had a chance to try with the latest version to see if you are still seeing the problem?  Thanks!

[2017-05-03 13:42] ohayon commented on #8979
Hey @runloop, is the tester that you are trying to remove inside of a group (albeit not a default external group)?

[2017-05-03 13:44] urimagisto commented on #8864
Hi @mpirri

fastlane pilot upload --verbose --skip_submission --changelog 'my great release notes' --beta_app_description 'my great description'
-u ${USER} -a "${APP_IDENTIFIER}" -i ${PATH_TO_IPA}"

[2017-05-03 13:49] runloop commented on #8979
No, I can only see them on iTunesConnect under the All Testers tab.

But the other side to this issue is that when exporting testers with ```fastlane pilot export``` it's the All Testers 'group' that gets exported.

So I'm running through that list and comparing against my mailing list and trying to remove those that are not on both.

[2017-05-03 13:49] jaybowong commented on #9008
Same here. I got this timeout issue A LOT. I've already updated fastlane to v2.28.7.

It's wired to me that this simple command `xcodebuild -showBuildSettings -workspace MyApp.xcworkspace -scheme MyApp` would lead to a timeout. Maybe my MacBook is too slow?

Would it be a simple solution to increase the 10s timeout to 30s?

[code]

[2017-05-03 13:50] ohayon commented on #8979
Ahhh, got it. Thanks for the quick reply. Taking a look now.

[2017-05-03 13:51] Mr-Pearce commented on #9018
I Could Solve this myself...
I had two factor authentificator before and still had filled the two factor VARIABLES filled.
I removed them and now it works.

[2017-05-03 13:51] #9018 closed

[2017-05-03 13:55] ohayon commented on #8979
@runloop and just to confirm, this is within an app, not from the Users and Roles section of iTC right?

[2017-05-03 13:57] runloop commented on #8979
Yes, these users are listed under iTunesConnect -> My App -> TestFlight -> Testers & Groups -> All Testers

[2017-05-03 14:01] ohayon commented on #8979
Cool, so one of the things that is causing this issue is that a couple weeks ago Apple really muddied the waters between the testers that are visible in Users and Roles and the ones that are visible in the app level. The `pilot export` command has not been updated to support the new app-level stuff quite yet. So I think there is a disconnect between the list that you are getting when you call `exp

[2017-05-03 14:05] mdio opened #9051 "ITC.apps.tf.build.test.info.missing.feedback when beta_app_feedback_email not set"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
When shipping an internal build to TestFlight with fastlane 2.28.7, Spaceship recieves an error.
Calling pilot and just providing a changelog results in this error.
[code]

However providing th

[2017-05-03 14:06] runloop commented on #8979
They are definitely listed under the All Testers section within the app. But they are no longer in my external testers group.

[2017-05-03 14:17] ohayon commented on #8979
Are they also listed under iTunes Connect Users?

[2017-05-03 14:18] the-mace commented on #9045
Hi, thanks for the fast response!

1) 2 factor is not on on my iTunes Connect account.
2) I saw other bug reports about password characters so one of the things I tried (and the way my password still is) is without anything but alpha numeric.
3) No password set in FASTLANE_PASSWORD or DELIVER_PASSWORD. Should there be one?

[2017-05-03 14:19] runloop commented on #8979
No, they were once external testers. Never internal testers.

[2017-05-03 14:22] #8284 closed

[2017-05-03 14:27] manuelblum commented on #9040
Thanks @stevewallis ! I had the same problem.

adding folowing line to /etc/hosts temporary solves my issue
`17.253.5.201    developer.apple.com`

[2017-05-03 14:36] mpirri commented on #8864
@urimagisto Thanks so much for that command-line - made it very easy for us to reproduce the problem on our end. Working on a solution now, we'll let you know as soon as we have something!

[2017-05-03 14:36] stevewallis commented on #9040
Yeah, I also had to hack it with `/etc/hosts` for now, which is not a good solution, but at least my builds are working again. Hopefully apple resolves the issue with the NL servers.

[2017-05-03 14:41] the-mace commented on #9045
One thing I just thought of is that I'm working on multiple apps. Different directories but all using Fastlane. One of my other apps which I just deployed via Fastlane about the same time this app started breaking is on an account that has 2 factor authentication.

I looked through my changes and found I had an environment variable, FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD, set for the other a

[2017-05-03 14:44] ohayon commented on #8979
Would you mind trying something out to try to isolate the issue? Could you in your terminal run `irb` and then do:
[code]

This should confirm that the tester is in fact being returned by the API. Hopefully this can help us figure out why the tester is nil when attempting to remove it from the app. Thanks again for all of your help!

[2017-05-03 14:47] runloop commented on #8979
[code]

[2017-05-03 14:47] ohayon commented on #8979
And to ask one more question, because I just had a thought that maybe their API is paging, about how many testers do you have in the All Testers section?

[2017-05-03 14:48] runloop commented on #8979
There are about 450 testers.

[2017-05-03 14:49] ohayon commented on #8979
hmmmm... that could be it. Im going to try to add a bunch of testers to my test app to see if i can reproduce it that way. That code that I had you run in `irb` _should_ bet getting back all of the testers listed in the All Testers section, but it seems like its not if you are seeing the one there that you are trying to remove

[2017-05-03 14:52] runloop commented on #8979
Could be. I just tried with the first email in the list and that was found. I scroll down with a few loads and tried another and it was nil.

[2017-05-03 14:56] runloop commented on #8979
In fact, it can only find the first 5 users in the All Testers list.

[2017-05-03 14:57] KrauseFx commented on #9049
Cool, no worries 👍

[2017-05-03 14:58] ohayon commented on #8979
Interesting. Thats great information to have. In my test app, I have only about 15 testers and I am able to find them all I believe, so clearly something is happening when there is a number of testers reached.

[2017-05-03 15:02] runloop commented on #8979
I was able to find the first 14 testers from within my External Testers group. Then it starts returning nil.

[2017-05-03 15:12] #8168 closed

[2017-05-03 15:13] ohayon commented on #8979
Cool. I am running a script now that is adding 100 testers to my app to try to reproduce this.

[2017-05-03 15:37] ohayon commented on #8979
Ok, so, it looks like we are going to be able to fix this pretty easily by adding a `limit` param on to our call to the iTC API. Just doing some more testing and then will get this fix pushed. We might need to do the same for groups based on what you mentioned about only seeing the first 14 in your group.

[2017-05-03 16:02] KrauseFx commented on #9040
Thanks for sharing the details, this is super interesting. Do you think that will be resolved soon? Should we build some kind of check for this into _fastlane_?

[2017-05-03 16:12] KrauseFx commented on #8441
Hey @ripperhe ,
Thanks for submitting your idea, this sounds like a great idea.
We recently introduced the new [fastlane plugin system](https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Plugins.md#create-your-own-plugin) that allows you to distribute and maintain your own plugins, and still be exposed to `fastlane` users.
Is that something you'd imagine building a plugin for? 👍
Please

[2017-05-03 16:24] RishabhTayal opened #9052 "Running pilot and deliver together"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Is there a way to run `pilot` and `deliver` together in a `lane`? I want to submit the build for TestFlight distribution and same build for App Store review.

[2017-05-03 17:12] ohayon commented on #8979
Hey @runloop, when you said

How did you go about getting only the ones from the group? Or is that whats in your "All Testers" list?

[2017-05-03 17:47] #8979 closed

[2017-05-03 17:51] ohayon commented on #8979
@runloop, if you're familiar with how to run _fastlane_ off of master, feel free to clone it and give that a shot, otherwise, we will push a release out shortly and would love to hear back if it fixes your issue. Thanks again for being so responsive and helpful! 🚀 🐙

[2017-05-03 19:11] santoshshetty2612 commented on #9040
worked for me too after adding 17.253.5.201 developer.apple.com in  /etc/hosts

[2017-05-03 20:11] mpirri commented on #9051
This appears to be a bug in TestFlight to me, but perhaps you could try this test and see if you agree?

Okay, so in iTC/TestFlight, click into your app, and then click "Test Information" on the left edge of the window. I'm expecting that in there "Feedback Email" will be empty. Also, you might have a message at the top of the window warning you that "Complete test information is required to submi

[2017-05-03 21:28] mpirri commented on #9051
A follow-up on the above: we just shipped 2.28.8 of _fastlane_ with the change mentioned above.

[2017-05-03 21:29] amenon commented on #9050
I have a fix for this in #9057

@KrauseFx, the `review_information` folder structure was implemented in https://github.com/fastlane/fastlane/pull/8175 and enables sending the review information using `fastlane deliver`. Another option would be to reimplement this so that the `deliver` can accept a JSON file for the review_information (similar to the `app_rating.json` implementation)

[2017-05-03 22:02] #8330 closed

[2017-05-03 22:24] PetrosIchor commented on #9052
Essentially they are uploaded to the same place, so you can't sent 2 of the same build.

However, you can use one to deliver the app and the other to take an action on that build with a skip_upload option.

That said, apple has a processing time for builds where you can't do tasks until it's complete. That might cause disruptions in your CI flow

[2017-05-03 22:30] RishabhTayal commented on #9052
Will try with skip upload option. We are waiting for processing time in Fastlane.

[2017-05-03 22:58] lakamsani opened #9058 "unable to get fastlane supply init to work"
### New Issue Checklist

- [X ] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

[INSERT OUTPUT HERE]
[code]

Running with bundle gives the same failure but does not print the message

[2017-05-04 00:14] weitzel926 opened #9059 "Added push notification entitlement, won't sign"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I have a project with two targets.  The two targets each push two different apps with two different app IDs tied to two different iTunes accounts.  This was working all fine until we flipped

[2017-05-04 07:04] jontelang commented on #9050
The `review_information` was created automatically when setting up Deliver during the download phase. It contained files like "first_name" and demo account for reviewers to login to our app.

I did set stuff up with only Deliver and not the recommended "Fastlane Deliver". After that I did setup "Fastlane". At that point it moved the metadata folder and such into a new folder and re-started the dow

[2017-05-04 07:40] hite commented on #8234
@flyeek` export LANG="en_US.UTF-8"` save my whole day

[2017-05-04 09:12] tychop commented on #9038
I'ld love to try the whole fastlane suite, but there is just no quick read or examples on how to do Enterprise development, Enterprise distribution, storing xcarchives, storing dsyms, git tagging, etc etc.
I've tried reading all the seperate readme's but that does not give me the overview I need. Also I need to be REALLY REALLY sure fastlane will not even think of touching our enterprise certifica

[2017-05-04 09:51] Dids commented on #8498
Xamarin.Forms now also supports macOS (in Preview), and once that goes stable, macOS development will most likely increase dramatically.

[2017-05-04 10:00] lferro9000 opened #9060 "Broken Pipe after uploading to itunesconnect marks build as failure"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

The build is fine and the upload to itunesconnect finishes with success. However, some after upload task requires a connection and the connection was droped in the meantime (Broken pipe error)

[2017-05-04 10:10] KrauseFx commented on #8498
Hey everyone, unfortunately we don't support macOS apps for now, see https://github.com/fastlane/fastlane/commit/1b85d6f180722bd96a1d0cc8493c6c1bb36f0ce5

[2017-05-04 10:10] #8498 closed

[2017-05-04 10:17] KrauseFx commented on #8979
We also just pushed a new release, make sure to update to the most recent one 🚀

[2017-05-04 10:19] KrauseFx commented on #9058
The error message indicates that your access token doesn't have the permission to access your apps on Google play. Could you revoke this one, and try to create a new one to ensure everything's valid?

[2017-05-04 10:20] KrauseFx commented on #9059
Hey @weitzel926, I don't know enough about data protection myself to be able to help you. If you create those profiles manually, does it work then?

[2017-05-04 10:26] KrauseFx commented on #9040
Thanks everyone, that's very interesting.

To sum up, the Developer Portal servers in Europe are slower than the ones in the U.S. by a factor of about 100. To directly access the U.S. based Developer Portal servers, you have to edit your `/etc/hosts` files using `sudo nano /etc/hosts` (or any other text editor) and append

[code]

Please make sure to remove that entry again in a few days/weeks, de

[2017-05-04 10:44] stevewallis commented on #9040
@KrauseFx no idea for a fix time, got an apple contact? Hopefully it's just a one off issue and it will be resolved.

re: a fastlane fix -
Currently, it tries to make the SSL connection but gets stuck in SYN_SENT, with no ack coming back, so i guess that means their server is ignoring the packets for some reason.
I suppose you could check after x amount of time if the connection has received 0 byt

[2017-05-04 10:45] KrauseFx commented on #9050
Ah, interesting, thanks for confirming @jontelang. @amenon Thanks for the fix, I replied on the PR 👍

[2017-05-04 11:01] KrauseFx commented on #9038
Hey @tychop, thanks for the feedback regarding the docs, I completely agree. We worked on a new docs.fastlane.tools page, but we never finished migrating all the docs to one central space.

Have you seen our example fastlane setups? https://github.com/fastlane/examples/

We currently don't have a super easy overview, I'd recommend watching my talk on https://fastlane.tools and going from there 👍

[2017-05-04 11:08] runloop commented on #8979
I just updated and everything looks to be working now. Thanks for the work on this. This tool really does save me a lot of time managing my beta testers.

[2017-05-04 11:27] tychop commented on #9038
Thnx Felix, I'll see if I can get some spike time from our scrum master to figure out how we can use fastlane to improve our build system.

[2017-05-04 11:27] #9038 closed

[2017-05-04 12:21] bsarrazin opened #9061 "How to document a lane? Is there a better mechanism than `desc "some description here"`"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Is there a mechanism in place so that we can use `--help` at the end of the lane call in order to see what options can be passed?

For example:

[code]

The lane above would be called as such:

[2017-05-04 12:29] KrauseFx commented on #9061
Great idea @bsarrazin, thanks for sharing this. For now that's not something we plan on building. If you feel like it, you can contribute to _fastlane_ add add this functionality, however it is important to not add any complexity for the user 👍

[2017-05-04 12:30] tier777 commented on #8837
@KrauseFx Yes, I re-saved icon in png (using Sketchapp) and it works.

[2017-05-04 12:32] sergiulucaci opened #9062 "Disable automatically manage signing doesn't work."
Hello guys, first of all, I wanna say that you're doing a great job here, I really appreciate it!

I'm trying to use 'automatic_code_signing' but this doesn't seem to work until first I manually deselect the checkbox below.

![image](https://cloud.githubusercontent.com/assets/16645155/25704197/2339761e-30e1-11e7-86b8-bd2ecf147ae1.png)

After I manually deselect the checkbox, running this script fr

[2017-05-04 12:45] KrauseFx commented on #9062
Mh, hard to say, maybe @hjanuschka knows more about this?

[2017-05-04 12:54] tirrorex commented on #8723
Fixed the issue by using the zip folder which contains proper method to uninstall a previous failed install of fastlane

[2017-05-04 12:54] #8723 closed

[2017-05-04 14:08] JagCesar commented on #8498
:(

It's the correct decision though :) Keep up the good work!

PS. For anyone not agreeing, I bet the fastlane team would gladly approve a PR that fixes macOS support :D .DS

[2017-05-04 14:20] Dids commented on #8498
While a PR would work, it would also have to be maintained in a timely fashion.
I'm wondering if a plugin would be better, although I have no idea if plugins could extend match functionality.

[2017-05-04 14:22] mpirri commented on #8864
@urimagisto We shipped _fastlane_ version 2.28.8 yesterday which I am hoping will fix your issue. Can you give it a try and see if it helps out?

Thanks!

[2017-05-04 14:53] #6898 closed

[2017-05-04 15:21] reshadf opened #9064 "CI tests using Gitlab and Fastlane timeout."
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

When running scan ( test lane ) manually by using `fastlane test`, everything works nice and smoothly. however, when the CI ( gitlab ) is trying to do this on my machine it stops just before r

[2017-05-04 15:24] arjpaiva opened #9065 "How to release build after has been approved and submission status."
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Hi, I'm new to fastlane and I have been trying to find out how to release a build to live after it has been approved by Apple. The only information i've found so far is to use the key: automati

[2017-05-04 15:27] KrauseFx commented on #9064
Is your scheme marked as Shared?

[2017-05-04 15:30] KrauseFx commented on #8498
It's not really possible to build this as a plugin unfortunately.

[2017-05-04 15:30] KrauseFx commented on #9065
I don't think that's currently possible with _fastlane_. Only setting the `automatic _release` to true before submitting your app for review.

You can do that using [spaceship](https://spaceship.airforce)

[2017-05-04 15:32] KrauseFx commented on #7704
Creating a scheme is the best and easiest way for now to do that 👍

[2017-05-04 15:41] IcyEagle opened #9066 "fastlane pilot upload crashes with "invalid byte sequence in UTF-8""
Hi!

I'm trying to upload an application to AppStore with:
`fastlane pilot upload --app_identifier "com.myapp" --skip_submission`
 but have the error "_invalid byte sequence in UTF-8_" just after authentication.

I tried to reproduce the same on the laptop (MacOS) and it worked fine even with out-of-date fastlane version (2.1.3). Is it possible to upload IPA files to AppStore from Ubuntu at all?

[2017-05-04 15:42] arjpaiva commented on #9065
Thank you Krause!

[2017-05-04 15:50] KrauseFx commented on #9065
Can we close this issue?

[2017-05-04 15:50] KrauseFx commented on #9066
So you're saying that this works on one mac, but doesn't on a different one?

[2017-05-04 15:53] IcyEagle commented on #9066
@KrauseFx correct. I have macOS Sierra 10.12.4 (16E195) on laptop and Ubuntu 16.04 on remote machine.

[2017-05-04 16:03] ruigoncalo opened #9067 "[Screengrab] Issue when running on Wear API 25 emulator"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I'm trying Screengrab on my instrumented tests for an Android Wear 2.0 app. I'm running an Wear API 25 emulator.

I set the default screenshot strategy as UiAutomator `setDefaultScreenshotStra

[2017-05-04 16:14] eman6576 opened #9068 "When setting up Match in Fastlane, will provisioning profile update when `readonly` is set to true when adding new device"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Hello,

I have a question on Fastlane behavior. I have Fastlane setup on Bitrise for deploying to Fabric and to the App store with no issues from following the setup guide for match. My questi

[2017-05-04 16:15] IcyEagle commented on #9066
@KrauseFx here is [my IPA](https://drive.google.com/open?id=0B-v7cOJbeXRGOTFIWEZCT3l1WXM) file which may be successfully loaded using _fastlane pilot upload_ from Mac but doesn't work when I try to do the same command on Ubuntu.

[2017-05-04 16:17] KrauseFx commented on #9045
I just pushed https://github.com/fastlane/fastlane/pull/9069 to print out when the env variable is used.

fastlane works without env variables, but try to load them, as the user might provide one to (e.g. on CI systems)

[2017-05-04 16:21] eman6576 commented on #9068
Silly @fastlane-bot. Code signing is all good. 😜

[2017-05-04 16:22] KrauseFx commented on #8435
Hey @luisherranz, sorry for the delay on my side, looking into this now 👍

[2017-05-04 16:43] IcyEagle commented on #9066
I've found Mac-related command call in [fastlane-core](https://github.com/fastlane/fastlane/blob/master/fastlane_core/lib/fastlane_core/ipa_file_analyser.rb#L43) component. Probably this is the root cause.

[2017-05-04 17:08] lakamsani commented on #9058
Hi, I missed steps 12-14 in the setup instructions. That was the problem. We can close this.

[2017-05-04 17:08] #9058 closed

[2017-05-04 17:20] KrauseFx commented on #8435
I just pushed https://github.com/fastlane/fastlane/pull/9072 👍

[2017-05-04 17:42] KrauseFx commented on #9068
Haha, @fastlane-bot is just doing its job 😉

It can't be updated if the readonly parameter is set. You can also use the `force_for_new_devices` option to generate a new profile when a new device is added 👍

[2017-05-04 17:43] KrauseFx commented on #9066
Oh, _fastlane_ doesn't support Linux, sorry about that. There will be various tools and actions that don't properly run on Linux.

[2017-05-04 18:07] KrauseFx commented on #9067
Hey @ruigoncalo, currently we don't support Android wear with screengrab, sorry about that.

[2017-05-04 18:28] agustindc-rga opened #9073 "unlock_keychain fails using Jenkins - exit status 181"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
On a mac with macOS Sierra, running jenkins.
**unlock_keychain** is failing with a exit status of 181. Performing the same commands via terminal (as the jenkins user) works correctly.
This also

[2017-05-04 19:31] IcyEagle commented on #9066
Got it. Thanks!

[2017-05-04 19:31] #9066 closed

[2017-05-04 19:35] eman6576 commented on #9068
Alright, I suspected that. Because I am running on a CI server, I would have to then create a lane for updating the provisioning profile locally when adding a new device then since the CI server can't write to the repo where we store the provisioning profile and certificates then. Or is there a better way to handle this?

[2017-05-04 20:52] fulldecent commented on #7704
I had this project open for a while now. If I completely remove fastlane and then re-set it up will it set up a new scheme for me to do this?

[2017-05-04 21:18] lyndsey-ferguson commented on #8648
I'm the author of the `setup_fragile_tests_for_rescan` plugin and as we're moving towards using 'bluepill', our code is no longer using that and using `scans` `:only_testing` option with a list of the failed tests retrieved from the report.xml file. This is custom code in our private repo.

I am considering creating a plugin that you can use to simply get the failed and passing tests in the format

[2017-05-04 21:27] lyndsey-ferguson commented on #8779
I'm not sure if this is the same issue, but my tests were failing because `xcodebuild` gave up waiting on the Simulator to start on a slower Mac Mini. I fixed the issue by asking `scan` to start up the simulator before it ran `xcodebuild`:
[code]

[2017-05-04 22:03] Antondomashnev commented on #8779
@lyndsey-ferguson hah, maybe that would work, thanks.

[2017-05-04 22:23] agustindc-rga commented on #9073
Some more information:

If I run the following commands instead of **unlock_keychain** then **match** seems to work correctly and the build continues successfully.

[code]

[2017-05-04 22:32] Luke-SF commented on #6099
This is still happening, please reopen... maybe it should wait 10s, then 100s?

[2017-05-04 22:57] KrauseFx commented on #9068
Yes, that sounds correct. You can even have this be one lane, and pass `force_for_new_devices: !is_ci` which means that it's only forced on non-CI systems, and only if there is a new device 👍

[2017-05-04 23:36] mvayngrib commented on #9049
it would also be good to have an option to ignore untracked files

[2017-05-05 01:53] #6818 closed

[2017-05-05 04:38] weitzel926 commented on #9059
@KrauseFx Thanks.  So, it turns out that I got burned by app IDs spread across multiple accounts.  When you flip an entitlement in Xcode, you must likewise flip it in every app id on Itunes that uses that target.  So, this is not a fastlane issue.  Thanks!

[2017-05-05 04:38] #9059 closed

[2017-05-05 05:22] LegNeato opened #9074 "Unable to reuse options from built-in actions in plugins"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I am creating my own custom plugin that takes the same options as the builtin `supply` action. In my plugin I basically call the `SupplyAction` logic:

[code]

When I run `bundle exec fastlane

[2017-05-05 05:28] LegNeato commented on #9074
Hmmm, it isn't working for manually specified options either. Maybe I pulled a bad master rev. I'll close and repoen once I know it is real.

[2017-05-05 05:28] #9074 closed

[2017-05-05 06:06] Antondomashnev commented on #9049
@mvayngrib to my mind that could lead to misalignment with the `ensure_git_status_clean` name and could make it not as self-descriptive as it is right now. What is the main use case to ignore files?

[2017-05-05 07:09] ndbroadbent opened #9076 "Better log message for "Due to the limit of the Google Play API supply can't download your existing screenshots...""
Same as #3375

I was confused by this message, and I thought there might be something wrong with how I set up the account (something to do with access limits). I agree with @mingle2 and @krispypen in #3375.

"limit" needs to be changed to "limitation", to make it clear that it has nothing to do with API access rate limiting. I think the message should also make it clear that it's impossible to dow

[2017-05-05 07:14] reshadf commented on #9064
Yes, all my schemes are marked as shared. @KrauseFx

[2017-05-05 07:17] luisherranz commented on #8435
Awesome, thanks @KrauseFx!

[2017-05-05 07:31] hjanuschka commented on #9062
@sergiulucaci can you share your output when `automatic_code_signing` fails?
is your project upgraded to the lates 8.x version?

inside your `.xcodeproj` there is a `.pbxproj` - could you check that file for sensitive data (and redact it) - and share it with me - so i could test it locally?

[2017-05-05 07:55] sergiulucaci commented on #9062
@hjanuschka thank you for response. The output it doesn't fail. Take a look:

[code]

After running the above command, the current project from xCode refreshes, but the 'Automatically mange signing' checkbox isn't unchecked, while the value of `use_automatic_signing` is false.

Here is the [pbxproj.txt](https://github.com/fastlane/fastlane/files/978370/pbxproj.txt) (sorry, I had to change its exte

[2017-05-05 08:10] hjanuschka commented on #9062
@sergiulucaci thats a weird one.
for what ever reason, your main target `ZingFit_Starter_Test3`  is not in the pbxproj declared.
thats the reason its fallsback to default, which is auto-signing.

when you disable auto-signing manually it is created inside the pbxproj. and from there on the toggling via fastlane works.

i don't see a real way on how fastlane can fix this, i guess that the problem i

[2017-05-05 08:42] sergiulucaci commented on #9062
@hjanuschka, yeah, the project had an upgrade right before running this command. Got it now.
Thank you for the hint, right now I'm doing something similar with your suggestion.

@KrauseFx, I think you can close this issue.

You guys rock!

[2017-05-05 08:53] hjanuschka commented on #9064
gitlab-ci user here 👍  - so you run the gitlab-ci-runner locally? and when gitlab starts the build it hangs?

can you get the `captured-output`  from the one the CI launches?

i bet on something like "unlock_keychain" missing and gitlab-runner fails to access keychain.

[2017-05-05 08:54] hjanuschka commented on #9062
glad to hear that now everything works 🚀 ! - xcode auto-upgrades are always kinda scary.

[2017-05-05 09:17] reshadf commented on #9064
@hjanuschka hi

Yes I run the gitlab-runner locally.
how do I get the captured-output from the CI? I was thinking about something with the keychain involved to this issue but I didn't know how to set this up honestly.

[2017-05-05 09:29] umeshkadam opened #9078 "Fastlane fails to create an app on iTunes Connect"
### New Issue Checklist

- [x] Updated fastlane to the latest version - Updated
- [ ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Fastlane fails to create a new app using fastlane produce

##### Complete output when running fastlane, including the stack trace and command used

Dev-Deployment-Mac-mini.local (14:5

[2017-05-05 09:40] arjpaiva commented on #9065
Is there any plan on adding the release to live feature into fastlane in the near future?

Thank you.

[2017-05-05 10:12] mdio commented on #9051
Sorry for the late reply, we had some other (hardware related) issues with our deployment.
Thank you for the detailed instructions. Of course it was exactly like you anticipated.
So this is basically a weirdness on Apple's side.

For now we'll try to remove the beta_app_feedback_email from the pilot call and provide it in the general "Test Information" screen of the app.

I'll let you know if that

[2017-05-05 11:03] choiks14 opened #9080 "import_certificate is always success"
### New Issue Checklist

- [*] Updated fastlane to the latest version
- [*] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

import_certificate is always success

i executed below code by command line.And my password was wrong.
Correct password is 123456.

But always return success status.

How can i?
Please help me

[2017-05-05 11:45] pranavlathigara opened #9081 "is fastlane free to use for android dev or Plan Pricing.?"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

[INSERT OUTPUT HERE]

### Environment

Please run `fastlane env` and copy the output below. This will h

[2017-05-05 12:42] ndbroadbent opened #9082 "Request: Support for Achievements and Leaderboards for both Google Play and iTunes"
It would be really awesome if I could update translations and images for my achievements and leaderboards in both Google Play Game Services, and Game Center on iTunes Connect.

Right not I have to open up 20 tabs to update all of these manually. This is going to get really out of hand when I start adding translations.

I found these issues:

* https://github.com/fastlane-old/deliver/issues/327
* h

[2017-05-05 12:50] mvayngrib commented on #9049
@Antondomashnev sure, and i guess my suggestion is only for people (like me) that are sometimes lazy about adding things to .gitignore or .git/info/exclude , so maybe we shouldn't encourage that

[2017-05-05 13:25] mfurtak commented on #9076
Hi @ndbroadbent - that sounds like a good change to me. I'd be happy to review such a PR if you want to make one :+1:

[2017-05-05 13:35] ndbroadbent commented on #9076
@mfurtak ok thanks, I opened a PR: #9083

[2017-05-05 13:57] tiferrei commented on #8969
So fastlane stopped supporting macOS apps?
Is it only macOS apps that are not supported or also watchOS, tvOS?

[2017-05-05 14:18] Antondomashnev commented on #9049
I'm going to close the issue as the PR is merged. @mvayngrib I think even if you have a doubt about whether it makes sense to have the option to ignore untracked files or not you can open an issue and discuss with other contributors and members 😄

[2017-05-05 14:18] #9049 closed

[2017-05-05 14:31] KrauseFx commented on #8430
Yeah, as @mfurtak said, it would mess with other setups that assume the file name. I'll close the issue for now 👍

[2017-05-05 14:31] #8430 closed

[2017-05-05 14:34] mfurtak commented on #9081
_fastlane_ is free, open-source software. 🚀  There is no pricing plan :smile: Enjoy!

[2017-05-05 14:34] #9081 closed

[2017-05-05 14:36] mfurtak commented on #9076
Looks like it got merged - thanks! 🎉

[2017-05-05 14:36] #9076 closed

[2017-05-05 14:37] stevewallis commented on #9040
Update - we notified Apple, and they sent us back a message to retry the Amsterdam servers and they seem to be working again, so you can all probably remove that hack from /etc/hosts.

[2017-05-05 15:04] hernangonzalez opened #9086 "Changelog plugin not loading"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I am having problems using the `changelog` plugin. It just fails at load. I raised an issue here as well https://github.com/pajapro/fastlane-plugin-changelog/issues, though not sure where shou

[2017-05-05 15:20] mfurtak commented on #9086
@hernangonzalez You'll get the best help for questions about plugins by raising issues in the plugin repository like you did. :100:  I'll close this one here to make it easier for folks to find the right place to discuss 👍

[2017-05-05 15:20] #9086 closed

[2017-05-05 15:22] hernangonzalez commented on #9086
Sure. I'll wait for help on the other issue. Thanks.

[2017-05-05 15:27] Funi1234 opened #9087 "undefined method `[]' for nil:NilClass (NoMethodError)"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Using Fastlane with a a .env and a .env.vmqa file. When i run `build --env vmqa` It fails with the stack trace below.

It seems to be picking up the env vars fine, I'm not sure why it's failin

[2017-05-05 15:55] KrauseFx commented on #9087
Thanks for filing this bug report. I can't seem to find your `Fastfile`. There error is in your `Fastfile` on line 70 according to your stack trace.

[2017-05-05 16:03] KrauseFx commented on #9086
Yes, I can confirm that this is an issue with the actual plugin, not with _fastlane_ 👍

[2017-05-05 16:03] KrauseFx commented on #9040
Awesome, thanks for confirming @stevewallis

[2017-05-05 16:07] KrauseFx commented on #9059
Great to hear 👍

[2017-05-05 16:08] KrauseFx commented on #9074
Cool, just re-open if you're still experiencing issues

[2017-05-05 16:10] fulldecent commented on #7704
Understood, thank you

[2017-05-05 16:10] #7704 closed

[2017-05-05 16:11] #8444 closed

[2017-05-05 16:11] ruigoncalo commented on #9067
I though you'd support because the device type "wear" is included:
https://github.com/fastlane/fastlane/blob/master/screengrab/lib/screengrab/options.rb#L06

But, after some debugging I found out the issue is in the `UiAutomation.takeScreenshot()`. Let's see how this can be fixed :)

Thanks

[2017-05-05 16:11] #9067 closed

[2017-05-05 16:13] LegNeato commented on #9074
Turns out there is a difference between `Actions` and `Commands` I was not aware of. Using my plugin as an `Action` in the `Fastfile` does indeed use the options.

I need to figure out how to make my plugin support `Commands` like `supply` (for example, `fastlane supply init` or `fastlane supply run`). Any pointers would be great if you have them handy!

[2017-05-05 16:14] KrauseFx commented on #9078
Thanks for reporting this, I can see the problem, and will work on a fix 👍

[2017-05-05 16:30] KrauseFx commented on #9078
This will be fixed with https://github.com/fastlane/fastlane/pull/9089/files

[2017-05-05 16:31] KrauseFx commented on #9078
It seems like you're running an old version of fastlane. Can you please run `gem cleanup` and install _fastlane_ again? Make sure that `produce` isn't installed any more.

[2017-05-05 16:32] KrauseFx commented on #9065
Let's leave this issue open and see if other people ask for this feature. If others find it useful we can build it 👍  Or maybe someone wants to submit a PR

[2017-05-05 16:33] KrauseFx commented on #9080
Are you talking about the exit code when using `fastlane run [action_name]`?

[2017-05-05 16:35] KrauseFx commented on #9082
@ndbroadbent thanks for submitting this issue. If you have the time and experience, a PR would be awesome, I'm sure lots of people will be thankful. I don't know if the Google Play API allows to upload leaderboards, but for iTC that should be possible 👍 Check out [this doc](https://github.com/fastlane/fastlane/blob/master/ToolsAndDebugging.md) on how to build this.

Let us know if any questions co

[2017-05-05 16:35] KrauseFx commented on #9076
Thanks for this 👍

[2017-05-05 16:35] KrauseFx commented on #9040
I'll close this issue for now

[2017-05-05 16:35] #9040 closed

[2017-05-05 16:37] KrauseFx commented on #7925
I'll close this for now, let's continue the discussion on the PR 👍

[2017-05-05 16:37] #7925 closed

[2017-05-05 16:38] KrauseFx commented on #7408
I'll close this issue for now due to inactivity. Please feel free to re-open or submit a new one if you have any more questions 👍

[2017-05-05 16:38] #7408 closed

[2017-05-05 16:38] KrauseFx commented on #8148
I'll close this issue for now due to inactivity. Please feel free to re-open or submit a new one if you have any more questions 👍

[2017-05-05 16:38] #8148 closed

[2017-05-05 16:39] KrauseFx commented on #8112
Most _fastlane_ users use System Ruby as they're iOS and Android developers and often not familar with Ruby.

I'll close this issue for now, thanks everyone for helping on this

[2017-05-05 16:39] #8112 closed

[2017-05-05 16:40] KrauseFx commented on #8075
I just tried running this on one of my sample apps and it seemed to have worked. Can you provide some more information on how to reproduce?

[2017-05-05 16:40] KrauseFx commented on #8064
This should work as expected, do you still have a problem with this?

[2017-05-05 16:41] KrauseFx commented on #8064
I'll close this issue for now due to inactivity. Please feel free to re-open or submit a new one if you have any more questions 👍

[2017-05-05 16:41] #8064 closed

[2017-05-05 16:41] KrauseFx commented on #8056
There has been lots of bigger changes in TestFlight and pilot recently, could you update and try again?

I'll close this issue for now due to inactivity. Please feel free to re-open or submit a new one if you have any more questions 👍

[2017-05-05 16:41] #8056 closed

[2017-05-05 16:44] KrauseFx commented on #7944
Mh, I'd have to dig in deeper to see why the emoji isn't printed. However this doesn't seem like super high priority. I'll close the issue for now, as the basic functionality works now 👍

[2017-05-05 16:44] #7944 closed

[2017-05-05 16:45] KrauseFx commented on #7928
Sorry, spelling mistake on my side, you can use `fastlane match nuke distribution`, as the error message indicates 👍

[2017-05-05 16:45] #7928 closed

[2017-05-05 16:47] KrauseFx commented on #8268
That's not possible, as the push certificate needs a private key, which is only stored on your machine. We've actually received this request many times, e.g. https://github.com/fastlane/fastlane/issues/7158#issuecomment-262745836

[2017-05-05 16:47] #8268 closed

[2017-05-05 16:48] KrauseFx commented on #8237
I'll close this issue for now due to inactivity. Please feel free to re-open or submit a new one if you have any more questions 👍

[2017-05-05 16:48] #8237 closed

[2017-05-05 16:48] KrauseFx commented on #8210
This is not a fastlane issue, please follow Apple's instructions:

[2017-05-05 16:48] #8210 closed

[2017-05-05 16:48] #8435 closed

[2017-05-05 16:48] KrauseFx commented on #8435
I'll close this for now, please re-open if you still experience the issue after the next release 👍

[2017-05-05 16:49] KrauseFx commented on #8464
Could you try with the most recent fastlane? We re-wrote how _pilot_ works 👍

[2017-05-05 16:49] KrauseFx commented on #8456
This should be resolved now 👍  Thanks everybody

[2017-05-05 16:49] #8456 closed

[2017-05-05 16:50] cherpake commented on #8073
Hey, getting this error for my Mac app:

Could not find app with app identifier 'com.cherpake.strings.manager' in your iTunes Connect account (d314127481@gmail.com - Team: 2028706)

Even though it exists and available on the Mac App Store.

[2017-05-05 16:51] KrauseFx commented on #8530
Thanks for sharing. This should probably be mentioned in the docs. Do you want to submit a PR adding this? 👍

[2017-05-05 16:51] KrauseFx commented on #8560
This is resolved now, right? Thanks 👍

[2017-05-05 16:51] #8560 closed

[2017-05-05 16:52] KrauseFx commented on #8495
Sorry I don't understand the question, could you clarify?

[2017-05-05 16:53] KrauseFx commented on #8690
I'll close this issue for now due to inactivity. Please feel free to re-open or submit a new one if you have any more questions 👍

[2017-05-05 16:53] #8690 closed

[2017-05-05 16:53] KrauseFx commented on #8626
If it helps, check out a working fastlane setup on GitHub + Travis using fastlane and match: https://github.com/wwdc-family/app/

[2017-05-05 16:55] KrauseFx commented on #8969
Some tools still support macOS, however we don't actively work on them, and test them on every release. So it comes without guarantee

[2017-05-05 16:59] KrauseFx commented on #8792
For those cases it's probably best to set up _fastlane_ yourself, based on the [docs](https://docs.fastlane.tools) and the [example setups](https://github.com/fastlane/examples) 👍

[2017-05-05 16:59] KrauseFx commented on #8793
I'll close this issue, let's continue the discussion on the PR 👍

[2017-05-05 17:00] #8793 closed

[2017-05-05 17:00] KrauseFx commented on #8795
I'll close this issue for now due to inactivity. Please feel free to re-open or submit a new one if you have any more questions 👍

[2017-05-05 17:00] #8795 closed

[2017-05-05 17:24] Aw79 commented on #8064
Thanks, meanwhile I have started from scratch and this problem is not reproducible anymore.

[2017-05-05 17:26] the-mace commented on #9045
Ok thanks!

[2017-05-05 17:26] #9045 closed

[2017-05-05 18:13] KrauseFx commented on #8073
Sorry, _fastlane_ doesn't support macOS apps for now 😢

[2017-05-05 18:35] choiks14 commented on #9080
@KrauseFx Yes
i want to action by command.
```fastlane run import_certificate```

[2017-05-05 18:43] hjanuschka commented on #9064
first of all you'd need some secure ENV variables on your gitlab project, under settings->ci/cd...

![bildschirmfoto 2017-05-05 um 20 33 48](https://cloud.githubusercontent.com/assets/2891702/25759323/3a65d4a8-31d2-11e7-8020-2738ba052b95.png)

the following envs work for me:

[code]

another approach would be to set the envs directly in the runner.

sample config:

[code]

id recommend the project

[2017-05-05 18:45] hjanuschka commented on #9064
to retrieve the captured-output, you'd need to add the parameter `--capture_output`  inside `.gitlab-ci.yml` under the right stage on the fastlane command, if you could share the current file, i could show you where.

[2017-05-05 19:41] Aw79 commented on #9009
This is still not working. I have tried with different xcarchive (build locally on Xcode or taken from the build-server).

Is anyone able to use ``gym``with an xcarchive?

[2017-05-05 21:59] #9087 closed

[2017-05-05 23:04] erikvillegas commented on #7768
I too am getting 502 Bad Gateway errors while trying to submit my app.

[2017-05-05 23:10] erikvillegas commented on #7768
Third time is the charm, I am no longer getting this after a few retries.

[2017-05-05 23:29] mkuhnsbuildfire opened #9092 "Fastlane produce create - Service Unavailable."
### New Issue Checklist

- [X ] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Fastlane produce create is working in one of my environments, but not in another. I have included both environments. I have redacted some of the more sensitive info

##### Complete output when

[2017-05-06 04:04] cherpake commented on #8073
Hey,

I guess I got confused by this sentence:
"fastlane is a tool for iOS, Mac, and Android developers to automate tedious tasks like generating screenshots, dealing with provisioning profiles, and releasing your application."

Here:
https://github.com/fastlane/fastlane <https://github.com/fastlane/fastlane>

-E

[2017-05-06 09:35] KrauseFx commented on #8073
ohhh, thanks for pointing this out, we'll fix the documentation. In the past we supported macOS for some of our tools.

[2017-05-06 18:22] lyndsey-ferguson commented on #9073
You wrote that Jenkins fails to do this. Usually Jenkins is setup to run as a different user. Are you the using the Jenkins account when you get the error? Also, Jenkins will usually log into a slave with a different shell environment than a regular user, are you certain that you are using the same environment (in terms of which ENV variables are setup).

[2017-05-06 20:36] joshsnelling opened #9094 "Supply and Screengrab can create inconsistent locale directory names in Android metadata"
🔑
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I've noticed a discrepancy between the locale directory names that are created after running `fastlane supply init` and those that are created after running `fastlane screengrab`. This only

[2017-05-06 22:06] oklivePOP opened #9095 "bitrise code signing problem (local working)"
### New Issue Checklist

- [v ] Updated fastlane to the latest version
- [v ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

hey,
i  my fastlane work best local without problem when i'm using bitrise i get problem with code signing
the problems (agin local work best)
1.Installing certificate...
security: SecKeychainSearchCopyNext: The s

[2017-05-07 09:15] kylejm opened #9097 "git_user_name and git_user_email Match options not working"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

#8550 added the ability to pass git commit user name and email, which is awesome for people like me who use their git config to enforce setting your email for each repo.

However, I can't seem

[2017-05-07 14:13] #8026 closed

[2017-05-07 15:44] bolom opened #9098 "Spaceship, returns an error when you tried to test with apple id without membership"
ruby 2.4.0

### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

When i have tried to connect with apple id without membership i have got this error

[code]
##### Complete output when running fastlane, including the stack trace and command used

[2017-05-07 16:43] #7781 closed

[2017-05-07 16:43] #7778 closed

[2017-05-07 16:43] #7764 closed

[2017-05-07 16:43] #7747 closed

[2017-05-07 16:43] #7744 closed

[2017-05-07 19:03] invoodoo commented on #8937
I'm experience the same issue and command "fastlane env" gives that output:

/usr/local/lib/fastlane_lib/bundle/lib/ruby/site_ruby/2.2.0/rubygems/core_ext/kernel_require.rb:55:in `require': cannot load such file -- xcodeproj (LoadError)
	from /usr/local/lib/fastlane_lib/bundle/lib/ruby/site_ruby/2.2.0/rubygems/core_ext/kernel_require.rb:55:in `require'
	from /usr/local/lib/fastlane_lib/bundle/lib/

[2017-05-07 19:04] invoodoo commented on #8937
And I have:

rvm rubies

=* ruby-2.4.0 [ x86_64 ]

Not sure if it is helpful.

[2017-05-07 19:45] thetomester13 opened #9100 "Upload Hosted Content for In App Purchases?"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
This is more of a new feature request. While I can use `deliver` to upload packages for an app, or `spaceship` to create new in app purchases in iTC, I'd like to be able to upload a `.pkg` file

[2017-05-07 21:53] #7936 closed

[2017-05-07 21:53] #7866 closed

[2017-05-07 21:53] #7865 closed

[2017-05-07 22:03] #7933 closed

[2017-05-07 22:03] #7932 closed

[2017-05-07 22:54] amesandy opened #9101 "Is it possible to split one scheme into 2 simulators?"
Split an Scheme into 2 simulators to run different test at the same time.

I would like to split my scheme into 2 or more simulators( same ios version) and run different test cases from same scheme at the same time.

Is it possible?

[2017-05-07 23:22] amesandy commented on #9101
fastlane version 2.22.0

[2017-05-07 23:54] sunnycn2013 commented on #8365
I updated the latest Fastlane, I built a new iOS project on my computer using Fastlane init is successful, but I have failed in our online project has been prompted, can you help me ...

error:

[code]

[2017-05-07 23:54] sunnycn2013 commented on #8365
@fastlane-bot  thinks

[2017-05-08 05:29] urimagisto commented on #8864
@mpirri
Thank u Mark, it fixed the issue, appreciated

[2017-05-08 07:00] zxcq99 commented on #9009
Same problem here :(

[2017-05-08 07:36] mdio commented on #9051
We finally did a deployment and even using fastlane 2.28.7, everything worked fine after providing the feedback e-mail in general "Test Information" screen of the app (and not as beta_app_feedback_email in the pilot call).

Thanks a lot for your quick and detailed response, helping to solve this issue. :)

[2017-05-08 07:36] #9051 closed

[2017-05-08 08:26] dawnnnnn opened #9104 "It let me input passphrase when I run match on a different machine"
### New Issue Checklist

- [✅] Updated fastlane to the latest version
- [✅] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
 I run `fastlane match ...` in my personal Mac first, it completed. But I run it in my work Mac it will show follow block. I'm sure that my passphrase is right.
[code]

### Environment

<detail

[2017-05-08 08:27] KrauseFx commented on #9100
Hey, thanks for letting us know about this. We'd love to have every _fastlane_ feature work for macOS apps, however we're currently focusing our time to make _fastlane_ the best tool for iOS and Android apps. Some of the features might work for macOS apps, however not all of them.

Thanks for understanding.

[2017-05-08 08:28] KrauseFx commented on #8937
Seems like you're using a really old version of _fastlane_. Can you run `gem uninstall fastlane fastlane_core credentials_manager` and then `gem cleanup` (with `sudo` if needed). Afterwards install _fastlane_ again 👍

[2017-05-08 08:30] KrauseFx commented on #9104
You can read the password from your personal Mac by opening up the Keychain and searching for `match` 👍

[2017-05-08 08:32] KrauseFx commented on #9098
There is something wrong with the imports happening. It looks like you're using _fastlane_ from `rails`, right? Can you try adding `require 'fastlane_core'`?

[2017-05-08 08:32] KrauseFx commented on #8470
Hey, thanks for letting us know about this. We'd love to have every _fastlane_ feature work for macOS apps, however we're currently focusing our time to make _fastlane_ the best tool for iOS and Android apps. Some of the features might work for macOS apps, however not all of them.

Thanks for understanding.

[2017-05-08 08:33] KrauseFx commented on #9101
With _fastlane_ that's currently not possible. Check out [blue pill](https://github.com/linkedin/bluepill) by LinkedIn (not a fastlane tool)

[2017-05-08 08:33] #9101 closed

[2017-05-08 08:35] KrauseFx commented on #8018
Hey everyone, I understand why this feature is useful. If you have some extra time, feel free to submit a PR to _fastlane_, as this would probably help many others too.

The reason why _snapshot_ only copies the screenshots after the test runs finishes, is that I didn't want to overwrite the previously generated screenshots if the new ones didn't succeed.

[2017-05-08 08:37] KrauseFx commented on #7871
Hey everyone, thanks for sharing your setups and outputs, however I see various completely different errors that shouldn't be mixed. Please submit a new issue if you're having build problems.

**Please make sure you can successfully build using Xcode** before you submit an issue 👍 Always share your Fastfile, _fastlane_ output and the complete Xcode build log, so we can help you  🚀

Thanks

[2017-05-08 08:37] #7871 closed

[2017-05-08 08:38] KrauseFx commented on #8327
Hey @zoufishanmehdi, have you had the chance to try @pixel4's instructions?

[2017-05-08 08:39] KrauseFx commented on #8362
Hey @haoshuncheng, I'll close this issue due to inactivity now. Feel free to re-open it, or submit a new one if you have the chance 👍 Thanks

[2017-05-08 08:39] #8362 closed

[2017-05-08 08:39] KrauseFx commented on #8895
This issue is now resolved with the most recent release, right?

[2017-05-08 08:39] KrauseFx commented on #8733
This issue is now resolved with the most recent release, right?

[2017-05-08 08:40] #8895 closed

[2017-05-08 08:40] #8733 closed

[2017-05-08 08:40] KrauseFx commented on #8768
This issue is now resolved with the most recent release, right?

[2017-05-08 08:40] #8768 closed

[2017-05-08 08:40] KrauseFx commented on #8766
This issue is now resolved with the most recent release, right?

[2017-05-08 08:40] #8766 closed

[2017-05-08 08:44] dawnnnnn commented on #9104
@KrauseFx  Yes, I have read the password, but it still show me that is not correct. 💔

[2017-05-08 08:44] derpixeldan opened #9105 "New action for Mobile Center (HockeyApp)"
With the current development of Mobile Center (the next generation of HockeyApp) we'd like to contribute a new action to fastlane. We’ve adapted the current Hockey action to meet the new requirements and target the new portal at https://mobile.azure.com.

With your commitment we'd like to do a PR for further review.

[2017-05-08 08:49] dawnnnnn commented on #9104
And if I create new git repo for match git_url, and run first in my work Mac, it show me a different infomation, like followed:

[code]

[2017-05-08 08:53] benjabrons09 opened #9106 "Following the #5507"
Hi, i'm working on an Android app generator and i'm asking if you have found a way to automate the creation of an app on google store?

I'm using Supply but i need to create my apps on the store before running it...
Does someone have any ideas?

Thanks.

[2017-05-08 09:34] KrauseFx commented on #8010
We'd recommend using _match_ as it would take care of exactly this.

Could you tell me a little more about why `cert_id` doesn't work?

[2017-05-08 09:38] KrauseFx commented on #8073
Working on this now 👍

[2017-05-08 09:48] polac24 commented on #8010
Thanks @KrauseFx  for reply!

`cert_id` workaround works, but I was afraid that _sigh_ introduced regression (with unintended behaviour). Since you recommend _match_, you can close this issue

[2017-05-08 10:36] richlong opened #9109 "Unable to connect to itunes connect - Environment issue"
### New Issue Checklist

- [/ ] Updated fastlane to the latest version
fastlane 2.28.7

- [/ ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

Hi, hope you can help. I don't seem to be able to connect to itunes connect via fastlane, in this case using 'fastlane cert' or using a lane.

Error:

[10:59:16]: getaddrinfo: nodename nor servnam

[2017-05-08 11:22] rompic commented on #8075
just tested it again (changed the first_name attribute) today and it still does not update, while it is correctly reflected in the deliver summary (| app_review_information.first_name    | New FirstName                    |

:(

[2017-05-08 11:24] KrauseFx commented on #9109
Hey @richlong, thanks for submitting this issue

[code]

this is an internet connection issue, and isn't caused by _fastlane_. Please make sure to fix your project settings.

[2017-05-08 11:32] richlong commented on #9109
Hi @KrauseFx , thanks for the reply.

As I mentioned, I have an internet connection which I've tested with a curl command and cocoapods is able to download and install via CLI and fastlane. The issue seems to be isolated to fastlane.

[2017-05-08 11:33] thetomester13 commented on #9100
Hey KrauseFx, thanks for the response. I'm actually talking about in app purchases for iOS apps :)

[2017-05-08 12:06] nekrich opened #9110 "pilot doesn't respect wait_processing_interval parameter"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

`pilot` doesn't respect `wait_processing_interval` parameter and even doesn't use the default value.
The issue is that `BuildWatcher`'s [`wait_for_build_processing_to_be_complete`](https://git

[2017-05-08 12:11] KrauseFx commented on #9110
Ahhh, yeah, we stopped using it when we re-wrote the whole TestFlight stack. Why did you use it, and why did you want to set this option? Should we deprecate and remove it?

[2017-05-08 12:29] KrauseFx commented on #8479
Hey @djbrooks111, thanks for reporting this 👍

So if you just specify `output_style` to be `rspec` things work as expected?

[2017-05-08 12:30] KrauseFx commented on #9100
I didn't know you could host a pkg file, isn't that used for macOS apps only?

[2017-05-08 12:31] KrauseFx commented on #9109
We're using the `faraday` networking library, and don't set any proxys. To my knowledge the system proxy isn't automatically used by Ruby libraries.

[2017-05-08 12:32] KrauseFx commented on #8075
@rompic could you confirm the version of _fastlane_ you're using?

[2017-05-08 12:32] KrauseFx commented on #8010
Sounds good 👍  What regression do you refer to?

[2017-05-08 12:32] #8010 closed

[2017-05-08 12:33] #8073 closed

[2017-05-08 12:33] djbrooks111 commented on #8479
If you add both `--output_style rspec` and have the `--formatter 'xcpretty-json-formatter'` the rspec will actually cause the formatter to fail as they are conflicting in terms of syntax. The console output is `rspec` style, which is expected, but the formatter, which is supposed to generate a .json file, is unable to do so because it is reading in the wrong format. The formatter is expecting `xcp

[2017-05-08 12:37] polac24 commented on #8010
before https://github.com/fastlane/fastlane/pull/6518/files/52c57be3c345baa7a0d7d1ac300fe4fec9ad41b1
`sigh(force:true, ...` **always** generated provisioning profile with exactly the same `cert_id`.

Nowadays it may select different `cert_id` if you are unlucky (so behaviour has changed).

[2017-05-08 12:53] TiTaTomte commented on #8563
@harryblam I followed your edit on @nafu ´s post. but I get always the 65 error telling me, that App Extensions have to be code signed. I think that gym is not aware of embedded extensions. How do you let fast lane build an app including an extension?

[2017-05-08 12:56] KrauseFx commented on #9105
Hey @derpixeldan,

Thanks for submitting this issue. First off, congrats on getting the Mobile Center out, looks great 🎉

Updating the `hockey` action sounds good, however in this case, the plugin system is the way to go. Check out the [plugin docs](https://docs.fastlane.tools/plugins/create-plugin/) for a quick overview of how they work.

By publishing an official `mobile_center` fastlane plugin,

[2017-05-08 12:58] KrauseFx commented on #8479
Mhh, interesting. Is that something you'd be interested in working on a patch? We have some really nice docs on how to submit your first Pull Request to _fastlane_: https://github.com/fastlane/fastlane/blob/master/YourFirstPR.md 👍

[2017-05-08 12:58] KrauseFx commented on #9106
Hey @benjabrons09, unfortunately that's not possible due to the API limitation of Google Play.

[2017-05-08 13:00] KrauseFx commented on #9092
Hey @mkuhnsbuildfire, thanks for raising this. It seems like it's a temporary server issue, can you try again today?

[2017-05-08 13:00] thetomester13 commented on #9100
Nope, I've been using this for non consumable IAP for my app. In my use case, Apple hosts JSON files for me that are downloaded through an in app purchases and then ingested through the app. More here: https://developer.apple.com/library/content/documentation/LanguagesUtilities/Conceptual/iTunesConnectInAppPurchase_Guide/Chapters/CreatingInAppPurchaseProducts.html#//apple_ref/doc/uid/TP40013727-CH

[2017-05-08 13:00] benjabrons09 commented on #9106
Alright, thanks @KrauseFx

[2017-05-08 13:01] rompic commented on #8075
fastlane 2.28.9
deliver 2.28.9

[2017-05-08 13:09] djbrooks111 commented on #8479
Sure, I can take a whack at it

[2017-05-08 13:25] nekrich commented on #9110
I used it to make log a little bit smaller. But it will be ok if you deprecate and remove it.

[2017-05-08 13:25] mfurtak commented on #9094
Hi @joshsnelling - thanks for the great write-up. 💯  I'd be happy to review a PR for this!

[2017-05-08 13:42] KrauseFx commented on #9104
[code]
Mh, that means _fastlane_ doesn't have access to your Keychain, can you verify that

[2017-05-08 13:43] KrauseFx commented on #8448
This seems to be fixed now, thanks 👍

[2017-05-08 13:43] #8448 closed

[2017-05-08 13:46] mpirri commented on #8864
@urimagisto So glad to hear it is working for you now!

I'm going to close this issue - if anyone else is having similar problems, please open a new issue and we will look into it as quickly as possible.  Thanks!!

[2017-05-08 13:46] #8864 closed

[2017-05-08 14:26] mpirri commented on #8884
We are currently working on supporting this functionality - you can follow this PR to see the progress of our work:
https://github.com/fastlane/fastlane/pull/9046

Thanks so much for your patience with this!

[2017-05-08 14:26] lferro9000 commented on #9060
Updated the whole stack to latest versions and same thing happens.

[2017-05-08 14:29] derpixeldan commented on #9105
Hey @KrauseFx,

still in beta but we're doing our best to improve day by day!

Thanks for clarifying, our first intention was to do it the same way as for `hockey`. Moving it to a plugin sounds like the better solution and some voices just told me "you" have already chatted about this last year at WWDC.

It just takes us a tad longer to get things sorted.

Thanks,
Dan

[2017-05-08 14:42] #8275 closed

[2017-05-08 14:43] #7809 closed

[2017-05-08 15:34] invoodoo commented on #8937
Thanks KrauseFx, I coudn't install yesterday it was a time out, did it today. Works perfect.

[2017-05-08 16:31] mkuhnsbuildfire commented on #9092
Thanks for the response. I see what you are saying with trying again and it being temporary, but I reran this over and over and it repeatedly failed. This also doesn't happen on all Fastlane Produce calls.
I downgraded from 2.28.9 to 2.28.8 and it seems to be working. Perhaps there was a regression in the latest version?
I really like what you guys are doing, let me know if you need any other info

[2017-05-08 16:55] mpirri commented on #9110
@nekrich We just merged a PR to fix this - we'll let you know as soon as it ships.  Thanks for letting us know about this!

[2017-05-08 16:59] wimbledon commented on #9092
I'm having the same issue with 2.28.9 as well.
@mkuhnsbuildfire, how did you downgrade to 2.28.8? What are the specific command you used?

[2017-05-08 17:06] eman6576 commented on #9095
Do you have the `readonly` set to true?

[2017-05-08 17:15] eman6576 opened #9112 "Issue providing device file"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Hello again,

I am having an issue providing a device file for `register_devcies`. When using a file that has a `.deviceids` extension, i get this error: `[!] Illegal quoting in line 1`. I als

[2017-05-08 17:21] wimbledon commented on #9092
I realized that the same issue happens in 2.28.8. It does not happen all the time though, it happens half of the time.

[2017-05-08 17:24] eman6576 commented on #9112
Now after playing with the text file for a while using the standard `TextEdit` app, i was able to get it to work. Perhaps when editing the file using `Atom` is the cause of the issue since a tab in `TextEdit` isn't the same as in `Atom`

[2017-05-08 17:26] agustindc-rga commented on #9073
Yes the errors occur both when triggering the jenkins job (which runs as the jenkins user) and also when acting the the jenkins user in the terminal (via `su jenkins`).

[2017-05-08 17:26] agustindc-rga commented on #9073
I've also found the using the following fastlane commands also work since they mirror the commands mentioned in a previous comment:

[2017-05-08 17:27] lyndsey-ferguson commented on #9073
Can you run `printenv` for the Jenkins user and a user that can run this command without the failure and post the results here (taking out any sensitive info)?

[2017-05-08 18:27] Alesete commented on #6757
Hello everyone! are there any plan to support multiple apple id to match?

The policy in my company is that every developer should have their own apple id, so their accounts can be easily managed and deactivated when they eventually leave the company. Also, we can manage the admin permissions only for trusted people.

It would be very nice that everybody store their apple ID locally in their machi

[2017-05-08 18:53] bes commented on #6757
@Alesete I think it is better if you open a new issue, because it was a long time since someone from the fastlane team commented here. Feel free to reference this issue when you do.

[2017-05-08 21:22] #7415 closed

[2017-05-08 21:22] #7382 closed

[2017-05-08 21:39] pav1790 commented on #9035
Looking into it now.  I ll comment with the PR when i am done.

[2017-05-09 00:09] timothycosta commented on #8563
@TiTaTomte Here's my latest fastlane provisioning code.  I had to add a bit more to get this working after I got errors similar to yours.  After this, you need to run `match` or `sigh` to generate new certificates that include your services, and of course, make sure those certificates are available in your project file.

[code]

[2017-05-09 01:52] #8382 closed

[2017-05-09 02:12] #8372 closed

[2017-05-09 02:22] #8388 closed

[2017-05-09 02:22] #8338 closed

[2017-05-09 02:22] #8182 closed

[2017-05-09 02:22] #7974 closed

[2017-05-09 02:23] #7949 closed

[2017-05-09 02:23] #7938 closed

[2017-05-09 02:56] ahmedgharib commented on #8884
Thanks Mark.

-Ahmed

Sent from Outlook<http://aka.ms/weboutlook>

________________________________
From: Mark Pirri <notifications@github.com>
Sent: Monday, May 8, 2017 7:26:18 AM
To: fastlane/fastlane
Cc: Ahmed Gharib; Author
Subject: Re: [fastlane/fastlane] Pilot supporting remove from other roles (#8884)

We are currently working on supporting this functionality - you can follow this PR to see

[2017-05-09 05:01] urimagisto opened #9114 "pilot crashed Could not set changelog: 784: unexpected token in interface.rb:150"
### New Issue Checklist

- [ yes] Updated fastlane to the latest version
- [ yes] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

/usr/local/bin/fastlane pilot upload --verbose --skip_submission --changelog http://beast.magisto

[2017-05-09 07:02] timothycosta opened #9115 "Can't update in-app purchase with spanish language"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

When using spaceship to update my in app purchases, I cannot include `es-ES` in the `versions` hash.  `es-MX` and `es-US` work fine, so it would seem that the problem is not the values themsel

[2017-05-09 07:02] jasonz1987 opened #9116 "how to update associated domains"
i enable associated domains capabilites in xcode because i used ios universal link service in my app.

![image](https://cloud.githubusercontent.com/assets/7090036/25839008/69975faa-34c8-11e7-949a-eb2958ebb3c2.png)

but how can i set different Associated Domains value with fastlane

any tools or any plugins,pls help me.

[2017-05-09 08:06] Alesete commented on #6757
@bes You are right!

[2017-05-09 08:29] santoshshetty2612 commented on #8839
Any update on this issue? Even with the latest fastlane I am facing this issue.

The request could not be completed because:
	Phone number cannot be longer than 20 bytes There are one or more errors on the page.[0m

The phone number is iTunes is correct and less than 20 bytes

[2017-05-09 08:42] hjanuschka commented on #9115
@timothy-volvo thats wierd - according to the web-ui in itunesconnect it should be 'es-ES'.
i will have a look once i am at home.

could you try to patch https://github.com/fastlane/fastlane/blob/master/spaceship/lib/spaceship/tunes/iap_detail.rb#L159 and debug/output `raw_data` and check if it is `es-ES` there?

[2017-05-09 09:11] seivan commented on #8573
@mfurtak So what's the solution here? I mean which team id is required where? We even have  `export_team_id` as well as a `FASTLANE_ITC_TEAM_ID` which goes where?

Right now just using `FASTLANE_ITC_TEAM_ID` will still fail, asking us to chose between two other team ids. But picking them still fails.

[2017-05-09 10:54] taisukeh commented on #9092
Same issue by insigh action with 2.28.7.

[2017-05-09 11:01] timothycosta commented on #9115
@hjanuschka I'd be happy to but can you elaborate a little bit?  I updated line 158 and tried the following but I'm guessing that's not quite what you wanted.

[code]

[2017-05-09 11:04] Edwhis commented on #8726
Any news ?

[2017-05-09 11:04] Alesete opened #9118 "Match: add support for multiple apple id per team"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Hello everyone! are there any plan to support multiple apple id with match?

The policy in my company is that every developer should have their own apple id, so their accounts can be easily ma

[2017-05-09 11:11] KrauseFx commented on #9092
[code]

I just tried it with the most recent _fastlane_ version and things work as expected. In which country are you based?

[2017-05-09 11:12] KrauseFx commented on #9035
We just received an issue from the Microsoft team, maybe you should talk with them first before spending time on this task 👍  https://github.com/fastlane/fastlane/issues/9105

[2017-05-09 11:14] KrauseFx commented on #9105
@derpixeldan Providing a plugin would be great, and we're more than happy to help with that. `hockey` is a one of the most popular _fastlane_ actions, so it would be great to give you and your team full control over it. If you prefer, let's start an email thread, just email me at microsoft@krausefx.com and we can go from there, and and maybe schedule a video call with the team 👍

[2017-05-09 11:15] KrauseFx commented on #9118
Hey @Alesete, thanks for submitting this, however _match_ was designed to share one Apple ID, as described in [codesigning.guide](https://codesigning.guide). There is no plan currently to change that. Thanks for the suggestion 👍

[2017-05-09 11:15] #9118 closed

[2017-05-09 11:16] KrauseFx commented on #9116
To my knowledge there is nothing out there yet. Under the hood this is just a plist entry, right? If so, you can use `update_info_plist` or similar actions to update it

[2017-05-09 11:17] KrauseFx commented on #9112
Yeah, TextEdit has some issues with `"` and similar characters. Did you get it resolved?

[2017-05-09 11:17] #9112 closed

[2017-05-09 11:18] KrauseFx commented on #8726
Hey @Edwhis, is this related to https://github.com/fastlane/fastlane/issues/9094?

[2017-05-09 11:21] KrauseFx commented on #8573
@seivan

- The `FASTLANE_ITC_TEAM_ID` will be used to access the iTunes Connect service and select the build
- The `export_team_id` will be used in _gym_ when archiving and exporting your application

These 2 values might be different, and you'll have to fetch them. Sorry that it isn't easier, but that's how it currently is.

[2017-05-09 11:22] KrauseFx commented on #9114
This seems to be a temporary server error of iTunes Connect, can you try again?

[2017-05-09 11:22] KrauseFx commented on #8937
Yeah, great to hear 👍

[2017-05-09 11:22] #8937 closed

[2017-05-09 11:23] KrauseFx commented on #8471
This should be resolved with the most recent release 👍

[2017-05-09 11:23] #8471 closed

[2017-05-09 11:24] KrauseFx commented on #8480
You're doing this correctly, can you share the generated `report.xml` with me, so I can take a look?

[2017-05-09 11:25] KrauseFx commented on #8479
Cool, thanks @djbrooks111, let me know if you have any questions 👍

[2017-05-09 11:27] KrauseFx commented on #9106
I'll close this issue for now, as there is not much we can do currently.

[2017-05-09 11:27] #9106 closed

[2017-05-09 11:28] KrauseFx commented on #9100
Interesting. That's not something you can currently do with _fastlane_, sorry. You're actually the first one to request this, so I'll leave this issue open and we can see if other people are interested in it as well.

[2017-05-09 11:29] seivan commented on #8573
@KrauseFx is the export_team_id part of the iTunes connect or developer profile? I've solved for now but it was a lot of trial and error. The problem happened when another iTunes connect was attached to the account that we use on the CI server. Thanks for clarifying it.

[2017-05-09 11:30] KrauseFx commented on #9009
Can you try setting `Skip install` to `YES`?

[2017-05-09 11:30] KrauseFx commented on #8365
This issue is quite old already, I'll close it for now, @sunnycn2013, please submit a new one with some more information about your setup 👍

[2017-05-09 11:30] #8365 closed

[2017-05-09 11:31] KrauseFx commented on #2006
This is now implemented btw 👍

[2017-05-09 11:33] KrauseFx commented on #9097
I can see that `Add git user config to local git repo...` is missing in the output you shared, will take a closer look now 👍 Thanks for reporting this @kylejm, when do we meet again? :)

[2017-05-09 11:34] KrauseFx commented on #9097
Oh, the output you shared is from the `nuke `command

[2017-05-09 11:35] KrauseFx commented on #9097
I don't think the `git` options are implemented for the `nuke` command currently. I found the error, will push a fix soon.

[2017-05-09 11:41] KrauseFx commented on #9097
Just pushed https://github.com/fastlane/fastlane/pull/9120, this will be fixed in the next release, thanks for the report 👍

[2017-05-09 11:41] KrauseFx commented on #9097
And sorry for the late reply

[2017-05-09 11:48] kylejm commented on #9097
🔥 🔥 🔥  nice! Thanks @KrauseFx!

Hopefully meet again soon 😊. I'm not at WWDC this year, but @fabiomassimo is going (🌟). Goes without saying, but let me know if you're ever in London, I'll do the same for SF.

[2017-05-09 11:51] KrauseFx commented on #9080
I think currently we don't report an exit status as all as it seems. Let me check on this

[2017-05-09 11:54] KrauseFx commented on #9080
<img width="835" alt="screen shot 2017-05-09 at 1 53 56 pm" src="https://cloud.githubusercontent.com/assets/869950/25849490/f9cc0e9a-34be-11e7-822b-1b2923a75404.png">

Could you share the complete output and the exit code? This is how it works for me

[2017-05-09 11:55] KrauseFx commented on #8290
I'll close this issue due to inactivity now. Feel free to re-open it, or submit a new one if you have the chance 👍 Thanks

[2017-05-09 11:55] #8290 closed

[2017-05-09 11:55] KrauseFx commented on #8373
Thanks @hjanuschka!

I'll close this issue due to inactivity now. Feel free to re-open it, or submit a new one if you have the chance 👍 Thanks

[2017-05-09 11:55] #8373 closed

[2017-05-09 11:59] seivan commented on #8573
@KrauseFx So it's part of the developer profile and not itunes connect. Cool! Thanks.

[2017-05-09 12:30] klappradla opened #9121 "Cannot retrieve correct prices for auto-renewable subscriptions via Spaceship"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

First of all, thanks a ton for providing this awesome set of tools 🙏

I'm trying to retrieve the actual prices _(in their respective currency)_ for in app purchases of the type `Auto-Renewable

[2017-05-09 13:18] KrauseFx commented on #8573
Yeah :+1:

[2017-05-09 13:19] KrauseFx commented on #9121
Hey @klappradla, thanks for reporting this. I don't use in-app purchased myself, but maybe @hjanuschka can help with that 👍

[2017-05-09 13:22] klappradla commented on #9121
I just made a tiny edit to the description: examining the iTunes Connect Angular app, I can retrieve the data I need in JSON as well. But I'm not sure if identifiers in there are actually *"valid"* and not just used for simplifying how to render the table.

[2017-05-09 13:39] #9097 closed

[2017-05-09 14:18] biterchus commented on #8867
Hi!, it would be nice to have be able to set the export compliance checks, as I currently have CI pipeline broken, as I have to manually provide that information to TestFlight :(

Thanks.

[2017-05-09 14:28] hjanuschka commented on #9115
how'd you installed fastlane, in the stacktrace ther should be the path to `iap_details.rb`
editing it and looking for the line `159`  (atleast on master)

above there should be this line:

[code]

and right below the line adding
[code]

this should reveal the json which is sent to apple - and then we can compare it - to the json that is sent when you edit the iap via itunesconnect.

[2017-05-09 14:46] hjanuschka commented on #9121
@klappradla  🙌 thx for using the api and providing top notch feedback!

`https://itunesconnect.apple.com/WebObjects/iTunesConnect.woa/ra/apps/<APP_ID>/iaps/pricing/matrix/recurring `

from a quick look the endpoint seems legit - so would you like to go on and do a PR - adding a method to `iap_detail` to load the json, and return a IAPTier object containing the

[code]

values in fastlane manor? i

[2017-05-09 14:47] hjanuschka commented on #9121
also as a sidenote: `Spaceship::Tunes::PricingTier` should not be changed, because i fear that it would break a couple of things. keeping the whole IAP thing seperated should be the ultimate goal. (therefore the IAPTier approach)

[2017-05-09 14:57] klappradla commented on #9121
Yes, makes total sense 👍
I'll see what I can come up with. I'm a bit busy the next days *(see you at the conference 👋  )* but maybe it's raining on the weekend 😉

[2017-05-09 15:02] hjanuschka commented on #9121
@klappradla ahh awesome, see you there we can talk if want, you can DM on twitter if you need.

[2017-05-09 15:18] reshadf opened #9123 "Error setup program ( permission )"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

when trying to setup a new fastlane environment after a fresh install of fastlane through homebrew, I get the following error:

### Environment
<details><summary>✅ fastlane environment ✅</summ

[2017-05-09 15:21] vbresults commented on #9092
Using the latest version and maybe only 1 out of 20 requests will go through successfully, the rest show this Service Unavailable message.

[2017-05-09 16:13] KrauseFx commented on #9123
[code]
_fastlane_ doesn't have a permission to this folder, can you make sure you can run `mkdir -p ~/.fastlane/spaceship`

[2017-05-09 16:14] reshadf commented on #9123
yep, it tells me I need sudo to perform the action, is that a good practice?

[2017-05-09 16:32] #7522 closed

[2017-05-09 16:43] bolom commented on #9098
@KrauseFx same error

[code]

[2017-05-09 16:47] mkuhnsbuildfire commented on #9092
@wimbledon sudo gem install fastlane -v 2.28.8.

This downgrade seems to have address some of my issues, but not all. I process a lot of apps for different developers and I am based in the US. For some of the logins, this consistently fails. So if I immediately run again, it fails. If I wait an hour, it still fails. This seems to be an edge case for certain logins.

I could provide examples, but I

[2017-05-09 17:10] KrauseFx commented on #9123
No, that means you'll have to fix the permissions for that folder, maybe try to use Disk Utility to repair your disk's permissions, or manually fix it using the terminal.

[2017-05-09 17:11] KrauseFx commented on #9098
Can you update the file at path `/Users/Michelin/.rvm/gems/ruby-2.4.0/bundler/gems/fastlane-fc00d68e667c/spaceship/lib/spaceship/globals.rb` and replace line number 7 with

[code]
and run again, without running `bundle update` or `bundle install`?

[2017-05-09 17:16] pav1790 commented on #9035
Thanks Felix! I think they might want to include this change- given what they are planning to offer.

[2017-05-09 17:18] bolom commented on #9098
it's returns me an UnauthorizedAccessError however I am not sure if it's correct.  When i am logged directly i have got that

![capture d ecran 10](https://cloud.githubusercontent.com/assets/72155/25863441/e474dc16-34b9-11e7-8c4b-ff040b217d8d.png)

[code]

[2017-05-09 17:34] KrauseFx commented on #9098
That error doesn't seem related to the original one, right?

[2017-05-09 17:42] Jules2010 opened #9124 "FrameIt: iPad2 screenshots appear offset with the iPad2 regular device frames."
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
When using frameit with the screenshots created by snapshot, the iPad2 screenshots are offset within the iPad2 devices frame.

However all other framed screenshots for other devices I have are

[2017-05-09 17:43] bolom commented on #9098
I think so.

**Test one**

[code]

Error

[code]

**Test two**

[code]

Error returned
[code]

[2017-05-09 18:06] GoodMirek commented on #5259
Additional info, which might help to someone, as I spent a good deal of time chasing this issue.
The problems described in this issue #5259 and in issue #6993 are not identical, although both can be solved by manually reordering the keychain search list from GUI, as described in #6993.
However, if keychain is recreated before each CI build and deleted afterwards, manual reordering of the search li

[2017-05-09 19:22] #8243 closed

[2017-05-09 19:32] #8183 closed

[2017-05-09 20:47] tommeier commented on #9092
We're seeing this also lately, I don't believe it has anything to do with latest fast lane. In particular I'm seeing it on match requests for provisioning profiles, if multiple builds all request at the same time one will get through and the others return the dreaded 'Service Unavailable' error. A wild guess from the patterns I've been seeing is that Apple have changed their API and throttling on

[2017-05-09 21:39] thetomester13 commented on #9100
That sounds good, thanks for the consideration!

[2017-05-09 23:03] getaaron commented on #9104
@dawnnnnn On a similar issue, I had to use the _fastlane_ `unlock_keychain` action to allow passwords to to be saved. I had to unlock mine manually because macOS doesn't automatically unlock the keychain if you SSH in, or if the keychain password is different from your login password.

I passed it in as an environment variable and added this to my `Fastfile`:

[code]

Then you can test if this res

[2017-05-10 02:29] choiks14 commented on #9080
hmm..
ok i'll try again.
And I'll report soon.

Thanks.

[2017-05-10 04:52] #8259 closed

[2017-05-10 04:53] urimagisto commented on #9114
tried again, still happening

[2017-05-10 06:46] lacostej commented on #8832
This is supposed to be closed. Thanks a lot @CatalinPrata !

I had no use of dSYM upload in our `create_update` use case and completely forget to put it in the original implementation.

[2017-05-10 06:46] #8832 closed

[2017-05-10 06:50] zxcq99 commented on #9009
@KrauseFx It won't create .xcarchive properly with SKIP_INSTALL set to NO. Its size is 0 bytes and I am getting error in fast lane::

[08:35:39]: The generated archive is invalid, this can have various reasons:
[08:35:39]: Usually it's caused by the `Skip Install` option in Xcode, set it to `NO`

[2017-05-10 07:34] carya opened #9125 "custom the commit log when execute match"
Is there a way to custom the commit log to push to remote git repo when execute `match nuke` or `match development` command?

[2017-05-10 10:36] orta opened #9126 "Fastlane match infinite loop when not set up correctly"
👋

### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I once read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

When a password isn't given to Match for opening the encrypted data then it starts an infinite loop until Ruby crashes due to a deep stack.

[Here's my Fastfile at the time](https://github.

[2017-05-10 10:41] orta commented on #9126
I am the bot master, don't mess with me @fastlane-bot

[2017-05-10 11:23] timominous opened #9127 "Fastlane finished with error: "Could not set changelog""
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Fastlane is giving out an error that it could not set the changelog when uploading an ipa via `pilot`.

[code]

The actual changelog is:

- [🐛] Default to zero if fee is nil
- [✏️] Typo in tag

[2017-05-10 12:19] shashankwadi opened #9128 "Revoke certificate issue for two different apps in same account"
I have two different apps from one dev account
I've set up separate repo for certificates for each app and everything else which needs to be done
the only problem I am facing is when i run faslane match nuke command on one repo it recreate the development certificate and the build on hockey for repo 2 cant be downloaded.(because the certificate does not exist anymore).
and vice versa with repo 1

[2017-05-10 14:04] derpixeldan commented on #9105
@KrauseFx thanks again for the help, we've released the mobile-center plugin right here https://rubygems.org/gems/fastlane-plugin-mobile_center. Let's take everything else off.

[2017-05-10 14:04] #9105 closed

[2017-05-10 14:11] derpixeldan commented on #9035
@pav1790 thanks for your interest. We've just published the new [Mobile Center](http://www.rubydoc.info/gems/fastlane-plugin-mobile_center) plugin and you can expect the create option to be added soon.

[2017-05-10 16:25] asidden commented on #8797
for those, who search for the answers (because this threads pops up in the top of google search results)

in my case, the keychain contained 3 iOS Developer certificates for a single dev team, so I had to revoke them manually, delete from keychain and create a new one. These steps, resolved my issue immediately.

[2017-05-10 16:32] getaaron opened #9129 "Better error message for locked keychain issues"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Sometimes keychain actions fail because the keychain is locked. We currently show only marginally helpful error messages like:

It would be more helpful to show an error like:

[2017-05-10 16:48] getaaron commented on #9129
Thanks for the suggestion, @fastlane-bot, but I don't think that's relevant here.

[2017-05-10 17:30] VolkerSchiewe opened #9131 "produce enable_services does not work for Push Notifications"
When i try to use `produce` to enable push notifications for an AppID and the Service is already enabled and has some certificates, this service gets disabled instead and all the APN Certificates get revoked.

[2017-05-10 18:03] likedanf opened #9132 "train.update_testing_status Failing"
### Issue Description

Since Apple update testFlight, train.update_testing_status!(true, 'internal', train_build) constantly return error.

[2017-05-10 18:54] likedanf commented on #9132
In our case, we're only using spaceship module but not Fastlane.

[2017-05-10 19:27] kciarnie commented on #6099
please fix this, --clean false should not add clean to the xcodebuild statement

[2017-05-10 20:43] semireg commented on #8797
Our Jenkins build server is also having this problem. Curiously, "fastlane mylane" builds and successfully generates a signed IPA if I'm logged in to desktop as user jenkins. But if I try running from jenkins it fails with:

`Code Signing /Users/Shared/Jenkins/Library/Developer/Xcode/DerivedData/MyApp_Mobile-dgutwijgjsaamffoginrqioxpmvb/Build/Intermediates/ArchiveIntermediates/MyApp Mobile/Install

[2017-05-10 21:32] semireg commented on #8797
I fixed it using advice from [Apple forums](https://forums.developer.apple.com/thread/64101).

I removed `/Users/Shared/Jenkins/Library/Developer/Xcode/DerivedData/MyApp_Mobile-dgutwijgjsaamffoginrqioxpmvb`

Yip yip!

[2017-05-10 23:46] timothycosta commented on #9115
@hjanuschka I think I've got it now.  I pulled from master and added `puts...` at 159.  I misunderstood you the first time and thought there should new debug output in master already.  Here's my output after that change:

[code]

[2017-05-11 00:10] PetrosIchor commented on #9128
Match nuke is primarily to revoke all signing assets on the apple developer account.  Since you're storing in separate branches, don't use the nuke option.

Either store them in the same branch or only regenerate what you need and leave the rest.

[2017-05-11 03:52] markpar commented on #6791
I'm running into a situation where when we skip the beta deployment (alpha -> prod), the next time we try to deploy to alpha, we're getting this error.

E.g.:
v1 -> alpha via Fastlane deploy.
v1 -> beta via Google Play Console
v1 -> prod via Google Play Console
(this is our usual flow)

Now....

v2 -> alpha via Fastlane deploy.
v2 -> directly to prod via Google Play Console

v3 -> alpha via Fastla

[2017-05-11 06:26] shashankwadi commented on #9128
'match nuke development' nukes development certificate.
What do u mean by 'only regenerate what you need and leave the rest'
If I don't run match nuke and build app then i get this error

Certificate 'GKN9QMXXXX' (stored in your git repo) is not available on the Developer Portal
Make sure to use the same user and team every time you run 'match' for this
Git repository. This might be caused by revo

[2017-05-11 07:20] jgongo opened #9134 "fastlane init fails while connecting to iTunes"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

When running _bundle exec fastlane init_ I get an error while trying to connect to iTunes. The error says the following:

`Ran into error while trying to connect to iTunes Connect / Dev Portal

[2017-05-11 07:29] nwalde commented on #8792
I had the same error, I found that the app name I'm using was already available on iTunesconnect.
Try creating with a unique name which is not available on iTunesconnect and it will work.
Cheers! 👍

[2017-05-11 08:36] #8779 closed

[2017-05-11 08:53] #7959 closed

[2017-05-11 09:03] #8422 closed

[2017-05-11 09:21] #9062 closed

[2017-05-11 10:38] KrauseFx commented on #9134
This is weird, I just tried this locally and things work as expected. Can you try following the manual installation and see if that works?

[2017-05-11 11:12] funnel20 commented on #8339
Multiple users want to have this ID removed.

[2017-05-11 11:12] hypery2k commented on #6791
you have to have a version in beta. Just move a new alpha to beta

[2017-05-11 11:20] jgongo commented on #9134
What do you mean with manual installation? Creating Appfile and Fastfile by hand? If that's what you mean I did it and fastlane is working properly. Anyway I had to get the iTunes Connect team id manually (a pain until I found a way to do it reading a JSON endpoint in another issue)

[2017-05-11 11:27] KrauseFx commented on #9131
For push notifications, you should use [pem](https://fastlane.tools/pem) 👍

[2017-05-11 11:36] KrauseFx commented on #9132
There is new methods available you can use now. Check out the `build_manager.rb` file, in particular the following

[code]

I hope that helps 👍

[2017-05-11 11:43] #7643 closed

[2017-05-11 11:44] KrauseFx commented on #9126
Thanks for submitting this issue @orta. Your issue is very important to us. Thanks for treating the bot nicely. I'm not a bot. I just pushed https://github.com/fastlane/fastlane/pull/9137.
To fix, please use the `MATCH_PASSWORD` environment variable. Thx

[2017-05-11 12:02] #8391 closed

[2017-05-11 14:24] VolkerSchiewe commented on #9131
Sure, thats what I'm doing right now as work around. But the bug remains...

[2017-05-11 15:21] igorstimoli opened #9140 "set_trade_representative_contact_information: undefined method `chomp' for nil:NilClass"
### Issue Description
Just update fastlane to 2.29.1 and I'm getting `undefined method 'chomp' for nil:NilClass` for all my apps

##### Complete output when running fastlane, including the stack trace and command used
[code]
### Environment

<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                         | Value                                       |
| -------------

[2017-05-11 15:31] AimenJoe commented on #9140
Same problem here!

[2017-05-11 15:33] #8298 closed

[2017-05-11 15:36] aric87 opened #9141 "Updating to 2.9.1 caused failure in deliver step"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
When using 2.29.0, I didn't have any screenshots or metadata, and everything still worked. After updating to 2.29.1, I get a chomp error, but the script continues to run. At the end, I don't ha