[2016-04-18 16:16] saruye opened #4249 "build randomly fails with error code 65"
### Issue Description

I migrated our manual buildscript to fastlane some time ago and I am very happy in general. The only problem I have left, is random build failures. In average every second build fails with error code 65 without any more information. Before using fastlane, I didn't have these errors.
I googled a lot, but couldn't find anything that helped me. My experience with ios is limited

[2016-04-18 17:56] hardikdevios commented on #4249
For me too
Here is the same thing
![screen shot 2016-04-18 at 11 12 25 pm](https://cloud.githubusercontent.com/assets/6657591/14613688/36e94be6-05bb-11e6-87d8-28316e4b3cf6.png)

So i was thinking where i am wrong so i started scrolling on top and see this

The following build commands failed:
Clean.Remove clean **path of that file or framework**

**Now i have two questions**

1) If CLEAN FAILED th

[2016-04-18 18:08] carlosefonseca commented on #4241
@KrauseFx How about the fields on the iTunes Connect's Build page? These are annoying because somehow I HAVE to put something in there. The checkbox on the AppStore tab is unchecked. Can't find a way to use Spaceship to set those fields 😕.

![screen shot 2016-04-18 at 19 03 11](https://cloud.githubusercontent.com/assets/14120/14614356/c4570cf2-0598-11e6-91f8-2341cc25a9b8.png)

[2016-04-18 18:11] fabioknoedt commented on #4247
I could fix the issue passing the `PATH` as an environment variable in the `Bamboo` plan:
`PATH="/usr/local/bin"`

<img width="718" alt="screen shot 2016-04-18 at 20 01 13" src="https://cloud.githubusercontent.com/assets/5463775/14614420/69be754c-05a1-11e6-84e8-72c9526b7198.png">

But it's very weird that `Fastlane` couldn't find `cocoapods` even with `PATH` defined in the `~./profile` and `~./bas

[2016-04-18 18:14] carlosefonseca commented on #4241
@KrauseFx If I do this…

[code]

I end up with this
[code]

[2016-04-18 18:29] lacostej commented on #4241
@carlosefonseca the fix will be in 0.26 I think not 0.25.1 which you appear to be running.

if have you checked if the field on the App Front page is checked or not ?

![screen shot 2016-04-18 at 20 28 48](https://cloud.githubusercontent.com/assets/24282/14615061/42f19ae0-05a4-11e6-95e9-6db2af2d9989.png)

[2016-04-18 18:34] carlosefonseca commented on #4241
@lacostej I said on my first comment "The checkbox on the AppStore tab is unchecked." 🙂
Although that version isn't yet live. Maybe that makes some difference…
But I have apps just for testing that will never be live, so I kind of need a way to set the Demo Account for the uploaded build via Spaceship… (until Apple notices they messed up those builds)

[2016-04-18 19:10] lacostej commented on #4241
@carlosefonseca

I looked at the code on Apple's side and here's what I see
[code]

[code]

So I am sending #4250 as tentative to work around Apple server side issue.

[2016-04-18 19:22] gran33 commented on #4241
@carlosefonseca U can simply submit the app using the `deliver` flags, in your case
`--skip_binary_upload` Skip uploading an ipa or pkg to iTunes Connect
Anyway u can see all flags, just type `deliver -h`

[2016-04-18 19:32] SunilProgramobil opened #4251 "Cert and Sigh fails always"
### New Issue Checklist

- [x ] Updated fastlane to the latest version
- [x ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Configuration Files

Please copy the complete content of your `Fastfile` and any other co

[2016-04-18 19:48] SunilProgramobil commented on #4207
Couldn't figure out a way for it. I am still facing the same issue

[2016-04-18 20:08] bigyanthapa commented on #3885
Thank you @mfurtak , I appreciate your help. I will try to integrate the library again.

[2016-04-18 20:39] bgerstle opened #4252 "Use match to sync OS X "Developer ID Application" certificate?"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Is it possible to manage "Developer ID" certificates for OS X applications with match?  Seems like there are a couple things potentially complicating this:

- Under OS X section of the account

[2016-04-18 21:03] carlosefonseca commented on #4241
@lacostej Thank you! Seems about right. Will try to test it! I did look into the raw_data but I didn't figure out how to apply the modifications.

[2016-04-19 03:15] Ashton-W opened #4253 "Lane alias or Hidden lanes"
I want to rename a lane, but create an alias for the old name so CI keeps going without creating a failure on this change.

Some way to define lane aliases would need to be added, or a variant of the existing `private_lane` could be made.

We have `private_lane`s, but this makes lanes only callable from other lanes.
I want to hide a lane from commands like `lanes`, `list`, and `docs`, but still be

[2016-04-19 06:17] dgoyaldiksha commented on #1600
@TKBurner  When trying to upload an ipa to test flight,It throws below error,I have special characters in itunes password.

Transporter transfer failed.
[11:42:21]:
[11:42:21]:
[11:42:21]: Return status of iTunes Transporter was 1:
[11:42:21]: Return status of iTunes Transporter was 1:
[11:42:21]: Password contains special characters, which may not be handled properly by iTMSTransporter. If you ex

[2016-04-19 06:19] senfi commented on #4216
I am observing the same with the same configuration/environment.

[2016-04-19 07:09] dgoyaldiksha opened #4254 "Can't upload to itunesconnect test flight when password contains special characters"
When trying to upload an ipa to test flight,It throws below error,I have special characters in itunes password.

Transporter transfer failed.

11:42:21: Return status of iTunes Transporter was 1:
11:42:21: Return status of iTunes Transporter was 1:
11:42:21: Password contains special characters, which may not be handled properly by iTMSTransporter. If you experience problems uploading to iTunes Co

[2016-04-19 08:43] KrauseFx commented on #4253
Sorry, that's currently not possible and not something I plan on implementing, as it's a really advanced feature.

[2016-04-19 08:43] #4253 closed

[2016-04-19 08:48] ayushgoel opened #4255 "Upload for testflight without demo account details"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

My app does not need any demo account details. When submitting for testflight, `pilot` tries to fill the demo details and thus, exits with error.

##### Complete output when running fastlane,

[2016-04-19 08:55] niamhpower commented on #4205
Cheers, will try out that solution, somehow couldn't find that whilst searching!

[2016-04-19 11:06] elhachmi-walid opened #4256 "Newsstand App"
i would like to use Fastlane tools to add Newsstand app in my app store and issues to this my Newsstand app. How can i do it ?

[2016-04-19 11:22] ConfusedVorlon commented on #1550
I think I have everything set correctly - but still got this error today.

extract from my log:

[code]

the app was not submitted for review. No error was shown.

[2016-04-19 11:58] #4225 closed

[2016-04-19 12:08] MortenGregersen commented on #1579
I experienced the same issue with my screenshots in _da-DK_ folder. Deliver found the screenshots when I reneamed it to _da_.

[2016-04-19 12:26] lcoderre opened #4257 "Help with importing actions from git"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I am trying to import **actions** from a remote git.  Importing **lanes** seems to work, but **not actions**. Down in the example below, if I were to move the three `carthage` calls directly i

[2016-04-19 13:00] cybertk commented on #1911
+1, this feature is still missing in latest **pilot v1.5.0**. Is there any update on this topic?

[2016-04-19 13:15] beyerss commented on #4143
@mfurtak - I'm running into this same issue. I've created an app-specific password but I'm not sure where to enter it because I'm not being prompted for a password anywhere.

[2016-04-19 13:17] beyerss commented on #4143
Correction - i'm actually receiving the error with pilot not deliver

[2016-04-19 13:41] TKBurner commented on #1314
@fabioknoedt Thanks for letting me know the solution you found. Closing this out for housekeeping. Thanks! 👍

[2016-04-19 13:41] #1314 closed

[2016-04-19 13:47] TKBurner commented on #4088
Thanks for following up. We are still looking into this over here and will update on this thread. 👍

[2016-04-19 13:48] TKBurner commented on #4226
@DevellMen Let us know if you had any problems getting up and running. Closing this out for now 👍

[2016-04-19 13:48] #4226 closed

[2016-04-19 13:54] TKBurner commented on #1846
Thanks for updating @cybertk. Let us know how it goes! 👍

[2016-04-19 13:58] tadija commented on #1199
Hello, I'm having similar problem, my output from `fastlane init` is reported in Issue #4236.

[2016-04-19 14:09] adri opened #4258 "Match: Configure repository branch"
Would it be advisable to not create a new repository when using `match` but reusing an existing repository? One where the app is in for example?

If that would be possible, I think the [branch should be configurable](https://github.com/fastlane/fastlane/blob/9c0494ef5e7d71afc51c73fe0b141b02e8991d9c/match/lib/match/git_helper.rb#L60) so that a branch like `certificates` can be passed in.

[2016-04-19 14:23] TKBurner commented on #4204
Hi @freynolds! Great to hear from you. You can use two different lanes for these two different build types. Let me know if you have any questions about getting up and running, I'd love to help. 👍

[2016-04-19 14:23] #4204 closed

[2016-04-19 14:24] TKBurner commented on #4205
Hi @niamhpower! Hope you are doing well. Are you able to run the command xcrun xcodebuild -list -workspace './*.xcworkspace' outside of Fastlane? Let me know the output.

Thanks! 👍

[2016-04-19 14:25] TKBurner commented on #4207
@SunilProgramobil Thanks for updating. I'll make sure the team takes a look 👍

[2016-04-19 14:27] buscarini commented on #4255
They changed the ui and added a switch that must be turned off in this case, so probably that's the reason

[2016-04-19 14:28] TKBurner commented on #4208
@etaiklein Thanks for reaching out. Sorry to hear you are seeing these linker errors with gym. We are going to take a look over here and will follow up soon 👍

[2016-04-19 14:30] TKBurner commented on #3891
@Imperiopolis Thanks for following up. We are going to take a look at this as a team and will follow up. Hope that you have a wonderful day! 👍

[2016-04-19 14:31] mfurtak commented on #4225
Hi @slhodson969 - This fix has gone out in [`credentials_manager` 0.15.1](https://github.com/fastlane/fastlane/releases/tag/credentials_manager/0.15.1) 🔑 ✨

[2016-04-19 14:31] TKBurner commented on #4212
Thanks for opening up this proposal for a pull request. I'm going to mark this as 'help wanted' so people can take a look. I'm also going to add this to our internal review so we can let you know what we think.

Thanks! 👍

[2016-04-19 14:34] TKBurner commented on #4214
@vikram1234 Thanks for following up. We are going to look over this here and see what could be causing this. Thanks! 👍

[2016-04-19 14:35] TKBurner commented on #4022
@dodikk Let me know if you got up and running! Thanks 👍

[2016-04-19 14:36] TKBurner commented on #1006
@mosesoak Thanks for following up. This all depends if you want to use Fastlane on system ruby or with RVM.

[2016-04-19 14:37] TKBurner commented on #4218
Hi @jakunico Thanks for reporting this can you let me know if this is the same behavior described in #3886

[2016-04-19 14:38] TKBurner commented on #4220
Hi @cnmongrel. Thanks for following up. It seems like there is an issue in your system keychain. Can you look there and see if there are duplicates? Thanks!

[2016-04-19 14:40] TKBurner commented on #4197
@cwmacken Thanks for following up. We are still looking into this over here. We'll update on this thread 👍

[2016-04-19 14:42] TKBurner commented on #4221
@jblack10101 Hope you are doing well. What happens when you set: provisioning_name in your sigh command in your Fastfile? Thanks!

[2016-04-19 14:45] TKBurner commented on #4222
Hi @pedrosanta Thanks for following up. What happens when you manually set the apk_path parameter on the Crashlytics action?

Thanks 👍

[2016-04-19 14:59] jblack10101 commented on #4221
Sigh is already pulling the correct provisioning profile in the logs above, but I tried adding provisioning_name anyway and it still ends up with the wrong provisioning profile in the ipa.

[2016-04-19 15:07] osrufung commented on #4197
@TKBurner I've been making some tests, and I guess the problem is when the archive file needs to be exported. It generates de archive (I've seen this file appear on file system), but disappear when try to export.

[2016-04-19 15:27] KrauseFx commented on #1490
Should be fixed with https://github.com/fastlane/fastlane/pull/3944, right? 👍

[2016-04-19 15:27] #1490 closed

[2016-04-19 15:28] KrauseFx commented on #4166
I took a closer look at this with @asfalcone, and we need some more information from you:

Please share the **complete** output with the variable dump and the stack trace, so we can take a closer look at that!
In particular, I'd like you to also share the output when running the command with `-terse` and once with `-terse1`

[2016-04-19 15:34] KrauseFx commented on #4170
Does that work for you @bmctigue?

[2016-04-19 15:38] mfurtak commented on #4227
Hi @meyskens - thanks for the report! 👍

If you set the environment variable `FASTLANE_ITUNES_TRANSPORTER_USE_SHELL_SCRIPT` equal to `1` and then run **deliver** are you back in business?

[2016-04-19 15:55] pberanger commented on #1331
@benoittgt : Just tested to upload an ipa with appaloosa an same issue again

![image](https://cloud.githubusercontent.com/assets/866266/14645915/dae0c25a-0657-11e6-9a7b-95577d146425.png)

[2016-04-19 15:57] benoittgt commented on #1331
@pberanger thanks for the report. We will take a look.

[2016-04-19 16:02] benoittgt commented on #1331
@pberanger Could you attach the crash report ?

[2016-04-19 16:02] KrauseFx commented on #4241
New release is live https://github.com/fastlane/spaceship/releases/tag/0.26.0. Let us know how that works for you

[2016-04-19 16:03] ayushgoel commented on #4255
I don't see any flag that can help me set that switch up. Check [set_review_information](https://github.com/fastlane/fastlane/blob/master/deliver/lib/deliver/upload_metadata.rb#L164).

[2016-04-19 16:12] pberanger commented on #1331
@benoittgt : Voilà !

[sentry_579eaad191d67a7418c19ac4690419dd.json.zip](https://github.com/fastlane/fastlane/files/226300/sentry_579eaad191d67a7418c19ac4690419dd.json.zip)

[2016-04-19 16:23] etaiklein commented on #4208
Awesome. Let me know if you need more information or if there's anything I can do to help.

[2016-04-19 17:43] jakunico commented on #4218
Hi @TKBurner, it doesn't seem to be the same issue.

If I run `scan` alone, tests pass correctly:

[code]

This issue arises when I have `cocoapods` *and* `scan` actions together in a lane.

[2016-04-19 17:54] mfurtak commented on #4257
Hi @lcoderre 👋

While it is possible to call actions from another action, it is not recommended, so that simple example you've shown will not work.

A simpler solution for code reuse within your `Fastfile`s is to use a [private lane](https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Advanced.md#private-lanes).

[code]

Let me know if that works for your needs! 👍

[2016-04-19 17:54] jacobvanorder opened #4263 "After using `import_from_git`, `after_all` and `error` being called from imported Fastfile instead of main Fastfile"
### New Issue Checklist

- [ √ ] Updated fastlane to the latest version
- [ √ ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

When using `import_from_git`, I expect the `after_all` and `error` method to be called on the original Fastfile, not the imported Fastfile. In essence, I expect Fastlane to cruise back to

[2016-04-19 18:04] lcoderre commented on #4257
Oh I see.  In that case, would it be possible to separate all my private lanes in different fastfiles but import them all once?

[2016-04-19 18:12] jgafni commented on #3886
@TKBurner , I have tried a bunch of suggestions. The one that resolved it was from @bencollier [here](https://github.com/fastlane/fastlane/issues/4059) that the spaces in **all** scheme names be removed, not just the active scheme.  When I changed something like `MySchemeName - MyTests` to `MySchemeName-MyTests`, I stopped receiving the failure.  This wasn't an issue when running fastlane locally,

[2016-04-19 18:16] Cyclic commented on #1869
@KrauseFx, sorry if this issue is addressed elsewhere, but after running fastlane beta, submitting the app to the app store, and then viewing crashes, I am unable to see the line numbers in the Crashes section of Windows > Organizer. According to Apple, it should be possible to navigate to the crash line number in Xcode. We also use Rollbar. Is there a recommended way for users to get at the line

[2016-04-19 18:18] mfurtak commented on #1448
Hi @palaniraja - this shipped as part of [`deliver` 1.11.1](https://github.com/fastlane/fastlane/releases/tag/deliver%2F1.11.1)! 🚚 ✨

[2016-04-19 18:18] #1448 closed

[2016-04-19 18:35] mosesoak commented on #1006
I think I uninstalled RVM because I don't use Ruby enough to make it worth the potential issues, so I'm just doing system Ruby for now...

[2016-04-19 19:02] mfurtak commented on #4257
Sure, I think that could work. Let me know what you find! 🙌

[2016-04-19 19:16] mfurtak commented on #3639
Hi @swilkeni - I had mentioned in this in passing earlier, but can you check that the `screengrab` version for the command line tool **and** Android AAR are identical?

There are portions of code between them that need to be kept in lock-step, so we will always ship a release of one to match the version of the other. 👍  The latest release is [0.3.2](https://github.com/fastlane/fastlane/releases/ta

[2016-04-19 19:21] asfalcone commented on #1065
@nmayafit Can you provide an example project where this is reproducible? I cannot reproduce the problem you described by running `get_build_number` on a project with a non-integer build number.

![image](https://cloud.githubusercontent.com/assets/1848683/14652443/59b1cbda-0642-11e6-8065-67643ffd0cac.png)

[2016-04-19 19:28] chappejw opened #4265 "Spaceship is unable to add_external_tester!"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

`Spaceship::Tunes.login(userName, userPassword)`
After successfully logging in with spaceship, we find the app we want to work with
`app = Spaceship::Tunes::Application.find("com.company.appna

[2016-04-19 19:28] asfalcone commented on #4088
As @s0mmer mentioned, this is related to the `xcodeproj` version. Please follow check out resolution [in this issue ](https://github.com/fastlane/fastlane/issues/3945#issuecomment-202529688).

Thanks for the detailed report. I'm going to close this one as a duplicate.

[2016-04-19 19:28] #4088 closed

[2016-04-19 19:30] asfalcone commented on #1065
@nmayafit Actually I think this is related to Xcode 7.3 changes and the version of `xcodeproj` that you have installed. I was able to reproduce after running `update_app_identifier` on my project. Check out the resolution to this issue [here](https://github.com/fastlane/fastlane/issues/3945#issuecomment-202529688).

[2016-04-19 19:53] carlosefonseca commented on #4241
Expanded @lacostej's fix to also work on `update_build_information`.

[2016-04-19 20:28] gbejarano01 commented on #4088
@asfalcone I don't use and I don't have a `Gemfile`, not sure if that's the solution for my problem.

The issue you're referring us to is about the ìncremene_build_number`while the issue I was referring to is on the `update_app_identifier` action.

Does that make any sense?

[2016-04-19 20:39] asfalcone commented on #4088
@gbejarano01 Yes sorry I wasn't more clear. I believe the underlying problem to be with the `xcodeproj` [gem](https://rubygems.org/gems/xcodeproj/). Both issues relate to that gem and using xcode 7.3 (and there is a detailed description of why we can't up the minimum version of xcodeproj required by fastlane in that issue).

Can you try updating to the beta version with `gem update xcodeproj --pre

[2016-04-19 20:56] giinnga commented on #4237
Anyone here?

[2016-04-19 21:59] vpolouchkine commented on #4229
Can you post your Fastfile please?

[2016-04-19 22:01] vpolouchkine commented on #1373
@edwardmp Thanks for the report. Looks like everyone is up and running.

[2016-04-19 22:01] #1373 closed

[2016-04-19 22:02] vpolouchkine commented on #4158
@vancex Glad to hear you've managed to find the culprit.

[2016-04-19 22:02] #4158 closed

[2016-04-19 22:24] vpolouchkine commented on #4237
How did you enable CloudKit?

[2016-04-19 22:27] vpolouchkine commented on #4265
What's the role of the user you're logging in with?

[2016-04-19 22:28] TKBurner commented on #1790
@ashfurrow  Awesome! I'm gonna go ahead and close this issue out until we get an update that users are still affected. Thanks! 👊

[2016-04-19 22:28] #1790 closed

[2016-04-19 22:30] TKBurner commented on #4132
@qzhao-retrieve and @rolandkakonyi Thanks for your reports! Glad to hear you are both up and running. Going to go ahead and close this issue out 👊

[2016-04-19 22:30] #4132 closed

[2016-04-19 22:30] vpolouchkine commented on #4263
Thanks for the sample project. 👍

[2016-04-19 22:31] TKBurner commented on #4150
@kikolobo Hope you are doing well. Let me know how it went if you got a chance to try again! 👍

[2016-04-19 22:31] TKBurner commented on #4135
@LizCira Glad to hear you got up and running. I'm going to go ahead and close this issue out. Thanks for using Fastlane! Always feel free to reach out or contribute 👍

[2016-04-19 22:31] #4135 closed

[2016-04-19 22:46] vpolouchkine commented on #4258
We recommend creating a separate repo.

[2016-04-19 22:48] vpolouchkine commented on #1911
Thanks for bumping, we'll evaluate this.

[2016-04-19 22:50] vpolouchkine commented on #1579
Valid language codes are listed here: https://github.com/fastlane/fastlane/tree/master/deliver#available-language-codes

[2016-04-19 22:50] #1579 closed

[2016-04-19 22:51] vpolouchkine commented on #1550
@ConfusedVorlon Can you format your report per https://github.com/fastlane/fastlane/blob/master/ISSUE_TEMPLATE.md? Thanks!

[2016-04-19 22:55] vpolouchkine commented on #4256
I believe a vanilla fastlane installation would work: https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Guide.md

[2016-04-19 22:56] vpolouchkine commented on #4254
Can you please format your issue per https://github.com/fastlane/fastlane/blob/master/ISSUE_TEMPLATE.md? Thanks!

[2016-04-19 23:02] jacobvanorder commented on #4263
@vpokiuchkine, I had to double check my own insanity. 😜

[2016-04-19 23:07] vpolouchkine commented on #4252
I don't believe it's possible.

[2016-04-19 23:12] vpolouchkine commented on #4251
Can you inspect the provisioning profile path that is printed out for you and see what the file looks like and share the content?

[2016-04-19 23:14] vpolouchkine commented on #4247
Thanks for the report, we'll take a look.

[2016-04-19 23:16] vpolouchkine commented on #4249
@saruye Can you please post the full log? Thanks.

[2016-04-19 23:16] SunilProgramobil commented on #4251
The file have is a proper provisioning profile and no issues with it. I will give you a setup walkthrough. I installed jenkins in my machine (macbook prob) as different user in shared and running it.I see this problem only when I run it through jenkins if I run fastlane command in normal user it works fine. If that helps you.

[2016-04-19 23:19] vpolouchkine commented on #4251
Perhaps you can leverage the `setup_jenkins` action, see https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Jenkins.md#setup_jenkins

[2016-04-19 23:23] jacobvanorder commented on #4263
@vpolouchkine I need to confirm my own insanity! 😜

[2016-04-19 23:24] vpolouchkine commented on #4248
What happens when you run `frameit setup`?

[2016-04-19 23:31] vpolouchkine commented on #4244
`match` creates a single pair (cert + provisioning profile).

[2016-04-19 23:37] vpolouchkine commented on #4232
Looks like the `crashlytics` action wasn't able to create a temp file to hold the `notes`.

[2016-04-19 23:38] SunilProgramobil commented on #4251
Thanks for the suggestion will try and see. Right now I am running into weird issue with Cocoapods.

 Variable Dump:
[19:37:40]: {:DEFAULT_PLATFORM=>:ios, :PLATFORM_NAME=>:ios, :LANE_NAME=>"ios beta"}
[19:37:40]: Exit status of command 'pod install' was 1 instead of 0.

――― MARKDOWN TEMPLATE ―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――

### Command

[code]

### Report

* What did yo

[2016-04-19 23:39] SunilProgramobil commented on #4251
That happens when I run fastlane command from jenkins user

[2016-04-19 23:41] vpolouchkine commented on #4232
Can you try specifying it using `notes_path` directly?

[2016-04-19 23:46] vpolouchkine commented on #4243
Are you running against an enterprise account?

[2016-04-19 23:48] vpolouchkine commented on #3902
@fisch0920 Good job tracking this down! 👍

[2016-04-19 23:48] #3902 closed

[2016-04-20 00:29] chappejw commented on #4265
The user's role is Technical

[2016-04-20 00:57] giinnga commented on #4237
hey @vpolouchkine, so I first created the project without enabling CloudKit and used `match development`. After data, it was decided to use CloudKit to the project, and i enabled it just like the Apple site recommends it (https://developer.apple.com/library/ios/documentation/DataManagement/Conceptual/CloudKitQuickStart/EnablingiCloudandConfiguringCloudKit/EnablingiCloudandConfiguringCloudKit.html#

[2016-04-20 00:59] twobitlabs commented on #265
Docs moved. Updated link to [Advanced#SwitchingLanes](https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Advanced.md#switching-lanes).

[2016-04-20 01:08] giinnga commented on #4237
I just saw that I forgot to enable `key-value storage`. But even with it enable I have the following error in the capabilities screen:

![image](https://cloud.githubusercontent.com/assets/7843637/14660387/4cf7d19e-067b-11e6-9146-b7ab99105650.png)

[2016-04-20 01:18] self-creative opened #4267 "OpenSSL error"
ruby-2.0.0-p598/lib/ruby/2.0.0/net/http.rb:918:in `connect': SSL_connect returned=1 errno=0 state=SSLv3 read server certificate B: certificate verify failed (Faraday::SSLError)

[2016-04-20 02:01] jstart opened #4269 "New Action: JIRA Comments"
Simple action to allow adding a comment to JIRA tickets. We use this to attach build URLs, test reports, etc. to specific bug tickets.
https://github.com/fastlane/fastlane/pull/4268

[2016-04-20 02:36] MickeyHub commented on #4267
#1418

[2016-04-20 03:05] sfransen opened #4270 "PLEASE HELP!!! So as of Aprile 18, 2016 I am getting a timeout now in the Spaceship.provisioning_profile.all.each do |profile|"
### New Issue Checklist

- [X ] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
 Can someone please guide me how to all Add Devices to all Provision Profiles  without calling this command as it doesn't work.
 I can run my code on a small license and I have no problem.
PLE

[2016-04-20 04:23] jonlong commented on #4143
Also running into this issue with `pilot`, and the output is basically identical to the `deliver` case above:
- Successful login to iTunesConnect
- Transporter transfer failed
- "please generate app-specific password"

Just to rule it out, I tried replacing my AppleID password in my Keychain with the app-specific password, but the iTunesConnect login fails there.

[2016-04-20 04:42] dgoyaldiksha commented on #4254
yup sure! Here it is

### Issue Description

Whenever I try to upload build to testflight,It always throw below error.the command as well as output are below:

`Dikshas-MacBook-Pro:DrivingStyleEstimation diksha$ pilot upload
[10:02:52]: Login to iTunes Connect (Apple ID)
/Library/Ruby/Gems/2.0.0/gems/security-0.1.3/lib/security/password.rb:88: warning: Insecure world writable dir /usr/local in PAT

[2016-04-20 07:06] buscarini commented on #4255
Yes, that's my point, that pilot (and deliver too, which is where I have the issue) is missing that flag and it should be added to fix this.

[2016-04-20 08:00] thekeshavgoel commented on #4255
I'm facing the same thing with deliver submit_build. And it is by default checked for all apps.
Please have a fix asap!!!

[2016-04-20 08:37] elhachmi-walid commented on #4256
Thanks for your answer. but i didn't find how to submit Newsstand app category or how to add issues in my newsstand app in itunes connect automatically. can you help me to do it?

[2016-04-20 08:39] sirhans opened #4271 "My team 'match nuke's each other's certificates every few days to resolve errors. What are we doing wrong?"
### Issue Description

**Here's what I'm doing:**
   I have five apps using match.  All five apps are sharing profiles and certs on a single git repo. Each one has its own Matchfile in its XCode project folder.  When I want to make sure the certs are up to date, I cd to the app project folder and type 'match development'.  I have a team of five people, all sharing that same git repo for certs and

[2016-04-20 09:01] KrauseFx commented on #4248
Could you try moving the `Framefile.json` to `./fastlane/`?

[2016-04-20 09:09] KrauseFx commented on #4271
Does anybody in your team still click the `Fix Issue` button in Xcode? You could try changing the credentials and only accessing the Dev Portal using `match`.

[2016-04-20 09:11] #4258 closed

[2016-04-20 09:12] sirhans commented on #4271
Felix, you are right.  One member of the team was using that Fix Issue button.  Thank you.  Match is a great tool.  I was waiting four years for apple to make something like it.

[2016-04-20 09:12] #4271 closed

[2016-04-20 09:15] ConfusedVorlon commented on #1550
New Issue Checklist

Y Updated fastlane to the latest version
Y I have read the Contribution Guidelines
Issue Description

fastlane says it submitted, but iTunes connect still shows ‘prepare for submission’

Complete output when running fastlane, including the stack trace and command used
[code]

Configuration Files

Please copy the complete content of your Fastfile and any other configuration fil

[2016-04-20 09:42] neonichu commented on #4271
Always click "Fix Issue" 👍

[2016-04-20 09:47] KrauseFx commented on #4271
To never run into this in the future, I can recommend using [FixCode](https://github.com/neonichu/FixCode).
In particular, add this to your `Fastfile`
[code]
so that never happens again 👍

[2016-04-20 09:54] KrauseFx commented on #4241
Thanks to @carlosefonseca I just pushed https://github.com/fastlane/spaceship/releases/tag/0.26.1, could you update and give it a try? 👍

[2016-04-20 09:54] KrauseFx commented on #4211
Just pushed another release https://github.com/fastlane/spaceship/releases/tag/0.26.1, let me know how it goes 👍

[2016-04-20 11:08] KrauseFx commented on #4255
This is now fixed, please update using `sudo gem update spaceship` or `bundle update` (if you use bundler) and let me know if that works for you. There is no change in the configuration necessary.

[2016-04-20 11:28] sirhans commented on #4271
Thank you.

On Wed, 20 Apr 2016 at 5:47 PM, Felix Krause <notifications@github.com>
wrote:

[2016-04-20 11:36] bluefallsky commented on #4211
Success upload ipa with spaceship0.26.1
Thanks to update 👍

[2016-04-20 11:48] gran33 commented on #4241
Just to make it clear, I use `deliver` and Not `spaceship` directly.
The default demo account is uncheck or check?

As far as I checked (using `deliver` latest version (`1.11.1`) which uses the latest `spaceship` version `0.26.1`) the error still occur. **Do I need to change the way I use `deliver`?**

I use `deliver` like this:
`bundle exec deliver --skip_binary_upload --skip_screenshots --skip_m

[2016-04-20 12:03] #3670 closed

[2016-04-20 12:28] thekeshavgoel commented on #4255
It doesn't work yet for Deliver.

[2016-04-20 12:40] jschoolcraft opened #4277 "Doc path is wrong for CodeSigning.md and Platforms.md"
Needs a /fastlane/ in the path.  PR #4235

[2016-04-20 12:49] henriklundstedt opened #4278 "sigh is using old app id"
### Issue Description

I'm running fastlane on a Jenkins build server. The intial setup was made with an app id which is no longer used. I've deleted it from the App Dev Center and created a new one. I've set the new app id as "app_identifier" in Appfile, and I've have even tried to pass it as a parameter to sigh in my Fastfile, but still sigh picks upp the old app id:

+--------------------------

[2016-04-20 13:16] apouche commented on #432
The issue is that Fabric now uses the Fabric app to process dsym uploads. (Also the submit path was changed but that was already taken care of by the fastlane team). So, obviously, if you are going through a CI machine, it won't work. Just make sure that you add the `upload_symbols_to_crashlytics` action after the `crashlytics` one.

Example
[code]

[2016-04-20 13:17] kikolobo commented on #4150
@TKBurner  I Removed all certificates including apple intermediate certificate. Re install certs and it works now.

Thanks you for your support!

[2016-04-20 13:26] kikolobo commented on #4150
Huh.. Weird.. Just as I posted this... I got the same error again!

It did a successful Fastlane process for test flight delivery. Fixed some code on another computer, pushed git.. Tried another fastlane process and failed with the same Rsync error!

Comments? (Still the same Fastfile as shown in this error)

[2016-04-20 13:54] marcelloceschia commented on #1600
same on my side. We are using strong passwords that includes some special characters e.g. ^ } &

[2016-04-20 13:56] asfalcone commented on #432
Thanks @apouche! I'm going to close this issue now since folks can use `upload_symbols_to_crashlytics` to upload dsyms now.

[2016-04-20 13:56] #432 closed

[2016-04-20 13:58] asfalcone commented on #4267
Closing as a duplicate of #1418. If you are running into addition problems please submit another issue that follows is the [ISSUE TEMPLATE](https://github.com/fastlane/fastlane/blob/master/ISSUE_TEMPLATE.md)

[2016-04-20 13:58] #4267 closed

[2016-04-20 14:09] MaximSt opened #4280 "[New feature] Provisioning profiles searching"
Hey guys.
The account I am working with has almost 2000 provisioning profiles. So method `Spaceship::Portal::ProvisioningProfile.find_by_bundle_id` working so long for me.
The apple developers portal supports searching capabilities. In case of provisioning profiles, it is just one additional parameter in `Spaceship::PortalClient#provisioning_profiles`
something like
[code]

This works faster than

[2016-04-20 14:09] mfurtak commented on #4254
Hi @dgoyaldiksha - thanks for the report! 👍

Despite the `pilot`'s speculation about your password (which we've had problems with in the past), I think another error message indicates that this is a network connectivity problem:

[code]

Can you try the work-around mentioned in #235 and let me know if it works for you? If not, please include the `--verbose` flag when you run, and post your output

[2016-04-20 14:11] asfalcone commented on #1617
Closing because this has been open for a long time waiting for reply.

[2016-04-20 14:11] #1617 closed

[2016-04-20 14:19] TKBurner commented on #4255
@ayushgoel Can you confirm if the fix corrected your issue?

@thekeshavgoel Did you update spaceship? Can you share your full output?

[2016-04-20 14:20] carlosefonseca commented on #4241
@gran33 Yeah, it seems `deliver` isn't yet aware of the checkbox. Check PR #4281.

[2016-04-20 14:32] TKBurner commented on #4236
Hi @tadija! Thanks for reaching out. Fastlane init is not built around a specific app scheme. Can you share the full output if you say yes to the command?

Thanks!

[2016-04-20 14:36] TKBurner commented on #4257
Closing this issue out. Happy coding @lcoderre! 👊

[2016-04-20 14:36] #4257 closed

[2016-04-20 14:40] TKBurner commented on #4256
Hi @elhachmi-walid! Thanks for following up. Is this not set in your metadata? Can you give me the output of when you run 'deliver submit_build latest'? Thanks 👍

[2016-04-20 14:42] TKBurner commented on #4254
@dgoyaldiksha Thanks for reaching out. We are aware of this issue and our current solution is this error message. This has to do with the way Spaceship communicates with ITunes Connect. If your password fails you should consider changing it to something with only alpha numeric characters. I'm closing this out because we aren't able to take action right now. However, rest assured we are aware of th

[2016-04-20 14:44] TKBurner commented on #4254
This is a duplicate of #1600. Closing out for housekeeping. We'd still love to look into this over there 👍

[2016-04-20 14:44] #4254 closed

[2016-04-20 14:47] dodikk opened #4282 "[question] How to run unit tests for a static library?"
### New Issue Checklist

- [x ] Updated fastlane to the latest version
- [x ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Build fails if the project does not contain any runnable targets.
The tests run successfully both from xcodebuild CLI and from xcode GUI.

[code]

[code]

##### Complete output when running

[2016-04-20 14:47] TKBurner commented on #1600
Hi @dgoyaldiksha and @marcelloceschia  - thanks for the report! 👍

@marcelloceschia Can you share your full output?

Per @mfurtak comment:

Despite the pilot's speculation about your password (which we've had problems with in the past), I think another error message indicates it's possible this is a network connectivity problem:

[Transporter Error Output]: Could not start delivery: all transports

[2016-04-20 14:49] TKBurner commented on #1655
@pedro380085 Thanks for reaching out. Can you share your full output so I can have a look?

Thanks! 👍

[2016-04-20 14:50] dodikk commented on #4022
@asfalcone , not sure how I can apply this information.

We used `copy_artifacts` action to achieve the results.
`setup_jenkins` is no more used in our builds.

Sorry for replying this much late.

[2016-04-20 14:51] TKBurner commented on #4027
@jorystiefel Thanks for following up. Can you share the output of fastlane -v? Also can you share your output of running this lane with the --verbose flag? Thanks!

[2016-04-20 14:53] mfurtak commented on #4143
It looks like @KrauseFx is working on a solution with https://github.com/fastlane/fastlane/pull/4276

[2016-04-20 15:05] TKBurner commented on #4158
@vancex Thanks for letting us know. Glad to hear you got up and running. Hope that you have a wonderful day! 👍

[2016-04-20 15:07] TKBurner commented on #4240
Hi @neil-wu Thanks for reaching out. Can you share the full information requested in the issue template? https://github.com/fastlane/fastlane/issues/new Thanks! 👍

[2016-04-20 15:10] TKBurner commented on #4239
Hi @mywander! Thanks for reaching out. I'm pretty sure this is expected behavior since deliver sets some preferences. I'm going to have someone take a second look to make sure. 👍

[2016-04-20 15:12] TKBurner commented on #1418
@MickeyHub Thanks for reaching out. Can you send over your full output using this template https://github.com/fastlane/fastlane/blob/master/ISSUE_TEMPLATE.md

Thanks!

[2016-04-20 15:27] TKBurner commented on #4059
@fcy Thanks for following up! Good point 👍

[2016-04-20 15:40] bmctigue commented on #4170
Hi,
Thanks for the follow up. That command did not work for me. I did find a fix for me though. This command is now working (generated by fastlane) xctool --workspace 'betterup.xcworkspace' --scheme 'betterup-testflight' --reporter json-compilation-database:compile_commands.json clean build. I had to apply this obscure fix to Xcode to get this to run:
https://forums.developer.apple.com/thread/2524

[2016-04-20 15:49] mfurtak commented on #4128
Hi @alpersenyurt - we're still looking into this 👍

This step is unfortunately required for `use_legacy_build_api`. Is turning legacy build API on required for your build? Does it work without it?

The command outputs you gave me... were they for your Jenkins machine, your local machine, or both? Is there any difference in those outputs between those machines?

[2016-04-20 15:55] TKBurner commented on #3921
@jshier Thanks for following up. We are going to look into this over here. We'll update on this thread 👍

[2016-04-20 15:56] TKBurner commented on #3888
@ravron Thanks for following up. Did you get a chance to check out the pull request and see if the fix works for you? Thanks! 👍

[2016-04-20 15:58] mfurtak commented on #4170
Got it. Glad to hear you're back up and running! 👍

[2016-04-20 15:58] #4170 closed

[2016-04-20 16:09] TKBurner commented on #4046
@vikram1234 Thanks for following up. Did you add the jcenter repo?

[2016-04-20 16:16] TKBurner commented on #4229
@goodcyg Great to hear from you! Does the info.plist file exist at fastlanedemo/info.plist? Let me know! Thanks 👍

[2016-04-20 16:23] tadija commented on #4236
Hi @TKBurner, thanks for looking into this.

I don't quite understand how is init not related to any scheme when output data in "Detected Values" is definitely coming from one of my shared schemes, but just not the right one (I can't stop thinking that command line argument for choosing specific scheme on init would solve all problems of this kind, something like `fastlane init --scheme "Productio

[2016-04-20 16:33] TKBurner commented on #1550
Hi @ConfusedVorlon! Thanks for following up. We are going to look into this over here. Thanks! 👍

[2016-04-20 16:38] TKBurner commented on #4252
@bgerstle I'm going to mark this as a feature request for our team to review. Thanks!

[2016-04-20 16:41] TKBurner commented on #4147
@girishnair12345 Thanks for following up. It sounds like your config is correct. We are going to take a look into this over here and update you! Thanks 👍

[2016-04-20 16:47] TKBurner commented on #4194
@pavm035 Thanks for following up. We are going to take a look at this as a team and will follow up on this thread with our findings. Thanks! 👍

[2016-04-20 16:51] TKBurner commented on #4237
@giinnga Thanks for following up. Are you able to refresh your provisioning profiles with match nuke? Thanks!

[2016-04-20 16:53] TKBurner commented on #4238
Hi @billypchan! Great to hear from you. Can you use the --verbose flag so we can see a little more output? Thanks!

[2016-04-20 16:58] TKBurner commented on #4020
Hi @GantMan! Hope you are doing well. Can you send over the full output? Thanks!

[2016-04-20 17:02] giinnga commented on #4237
@TKBurner I avoid using nuke, I will try a manual approach at the Apple developers website later, and post here if I can find / fix the situation. But I don't think this is a match problem.

[2016-04-20 17:13] TKBurner commented on #3900
@gauravdaxini Thanks for following up. Are you still getting the too many certificates error? This seems like it is related to your Apple developer account. Let me know 👍

[2016-04-20 17:14] TKBurner commented on #1417
@fisch0920 Hey Travis! We are working on speed improvement. What Ruby version are you using? Thanks!

[2016-04-20 17:15] TKBurner commented on #3902
@fisch0920 Thanks for following up. Have you tried the steps at fabric.io/kits followed by a build and run prior to running this on a bundle ID?

Thanks!

[2016-04-20 17:16] TKBurner commented on #1164
@fisch0920 Followed up with you on our other ticket 👍

[2016-04-20 17:16] asfalcone commented on #4251
@SunilProgramobil Can you please open an issue with cocoapods since that error is coming from the cocoapods gem? Seems like a permissions problem (Errno::EACCES - Permission denied). Maybe you need to give that user more permissions?

Their error output includes the following:

Search for existing GitHub issues similar to yours:
https://github.com/CocoaPods/CocoaPods/search?q=Permission+denied+-+%

[2016-04-20 17:19] asfalcone commented on #4022
You need to add `output_directory` param to `setup_jenkins` [here](https://gist.github.com/dodikk/aefa4db8a5532cb220027cb7b29c3f54#file-fastfile-rb-L7) and set it to something other than "./output" which is where gym is already putting the .ipa. Let me know if setting that changes the behavior. 👍  Thanks.

[2016-04-20 17:23] SunilProgramobil commented on #4251
@asfalcone That last issue which i mentioned with cocoapods makes sense and will take care of it coming back to the original issues raised. @vpolouchkine  mentioned to use setup_jenkins to get it resolved but it didnt work.  I get this always Error parsing provisioning profile

[2016-04-20 17:26] TKBurner commented on #4234
@jschoolcraft Thanks for reaching out. Can you let me know what happens when you run fastlane init?

Thanks!

[2016-04-20 17:28] TKBurner commented on #4247
@fabioknoedt Glad to hear you got around this with an environmental variable. It seems like the reason you need to pass this is a config on your local machine. For now keep passing the podfile as a parameter. Thanks! 👍

[2016-04-20 17:28] #4247 closed

[2016-04-20 17:31] tternes opened #4283 "Enhancement: Option to skip unsupported frames"
**Enhancement:** Add an option to skip unsupported device frames (such as 3.5" devices).

The current behavior of `frameit` for unsupported device frames is to produce images that are clipped and potentially less desirable than plain screenshots, sans frame and title.

It would be helpful if `frameit` could be instructed to skip unsupported device frames (or just copy the plain files to "framed" v

[2016-04-20 17:32] mfurtak commented on #4227
@meyskens I've reproduced your situation locally, and will be working on making the current logic more robust to failure.

In the mean time, I'm curious if the work-around above helps. If you have time to check it out, please let me know! 👍

[2016-04-20 17:38] fisch0920 commented on #3902
@TKBurner yes, that works.. BUT the entire point of fastlane is to automate this process and when we're working with hundreds of white-labeled enterprise apps that are auto-generated, manually running each new client build before uploading to crashlytics is a PITA.

Fabric.io doesn't help with this.

[2016-04-20 17:50] ravron commented on #3888
@TKBurner I'm pretty sure it will work, but I'd like to also add some tests along with the change, so I've forked and am working on some tests now. The actual code changes will be mostly the same, but I'll be sure that 1) there is test coverage, 2) the tests pass, and 3) my issue is resolved before submitting a PR.

Tangentially, my ideal workflow would have been to commandeer or update #3940, but

[2016-04-20 18:07] giinnga commented on #4237
@TKBurner after manually configuring the container in the Apple Developer Center Website, deleting the existing provisioning profiles and running `match development --force`, it doesn't show any more errors.

[2016-04-20 18:09] giinnga commented on #4237
@TKBurner sorry, I don't know if this whole process should have been taken care by match, so I will leave it open until an answer.

[2016-04-20 18:22] jschoolcraft commented on #4234
I think I'm mostly good at this point.  Lots of little setup errors on my
part.  e.g. created the app_id in the wrong account and not realizing it,
bundle id wrong in a target.  Lots of things.

On Wed, Apr 20, 2016 at 1:26 PM, Todd Burner <notifications@github.com>
wrote:

[2016-04-20 18:22] #4234 closed

[2016-04-20 18:41] GantMan commented on #4020
This occurred because I was storing my files in the same repo as the project.

Somehow, moving this to a separate repo entirely fixed this.   I'm not sure if this is related, but I'm going to suggest this in the future.

It seems standard to use a separate repo, but in some cases I can see that not being a need.  It would be nice to store certs/provisions in the same repo as the app.

[2016-04-20 18:56] cnmongrel commented on #4220
Hi @TKBurner, I only have 1 Distribution and 1 Developer cert installed and I don't see any duplicates of any other certs. I have checked and I don't have any expired certs either. Also, I've tried this from two different Macs and get the same error from `sigh` on both. What other kind of duplicate should I be looking for? Thanks!

[2016-04-20 19:13] mfurtak commented on #4227
I've shipped #4284 as an improvement to the silent failure problem as part of [`fastlane_core` 0.4.3](https://github.com/fastlane/fastlane/releases/tag/fastlane_core/0.41.3) 🚀

[2016-04-20 19:44] asfalcone commented on #3934
Hi @PitchLabsAsh! The value passed to the `resign` action for the 'provisioning_profile' option must be a hash of provisioning profile name => file names. This is different than the `-n` param to the `sigh` tool which is the provisioning profile name (and -n is not applicable to `resign`).

If that doesn't fix things up for you, can you paste you Fastfile in here so we can see what commands are be

[2016-04-20 20:19] SunilProgramobil commented on #4251
I can run fastlane on normal user when switch to jenkins user I am facing and issue that code sign error. @asfalcone @vpolouchkine

[2016-04-20 20:58] ssteinerx commented on #674
I'm having the same issue, but there are no new terms or conditions.  First time trying fastlane, existing dev account on which we have published apps (MacOS only).

[2016-04-20 22:08] vpolouchkine commented on #4265
What happens if you login as an Admin?

[2016-04-20 22:17] chappejw commented on #4265
I will check and post back here.

[2016-04-20 22:23] mgrebenets opened #4287 "[sigh] AppIdentifierPrefix entry not updated by resign command"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

While resigning `.ipa` file with `resign` command and underlying `resign.sh` bash script, the `AppIdnetifierPrefix` entry in the resigned app's `Info.plist` is not updated.

As a result, after

[2016-04-20 22:30] mgrebenets opened #4288 "[sigh] Inconsistent shell syntax in resigh.sh script"
### New Issue Checklist

- [x] Updated sigh to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Current version of `resign.sh` script is using `=` to pass entitlements path to `codesign` command.

[code]

This is inconsistent with the rest of the shell script.
It doesn't match the `codesign`

[2016-04-20 22:33] vitalyp commented on #4280
Nice work, bro!

[2016-04-21 01:11] Fudge0952 commented on #3735
Hi @TKBurner. I got the same error. I attempted to log into [https://appleid.apple.com/](https://appleid.apple.com/) first and then try again but still got the same error. (printed error below and running on pilot version 1.5.0)

[2016-04-21 02:37] jianpx opened #4290 "Why gym build the ipa file with SwiftSupport folder in it but my app does not using any swift code?"
### Issue Description

I am using gym (version is 1.6.2) to build my app, my app is using only objective c code, not using any swift code, but gym build an ipa file with an empty “SwiftSupport” folder on the same level of folder “Payload”.
I think the “SwiftSupport” folder is not necessary, but I can not find an option to specify my app is an objective c app.
And when I use another command to buil

[2016-04-21 02:57] fdstevex opened #4291 "frameit not working with current iPad Air 2 simulator and screenshots"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Screenshot taken with current (Xcode 7.3) simulator not matching with the downloaded device frames.

##### Complete output when running fastlane, including the stack trace and command used

[c

[2016-04-21 04:28] lacostej commented on #4136
@TKBurner @mfurtak @KrauseFx  will this be merged ?

[2016-04-21 05:25] ayushgoel commented on #4255
The upload succeeds but now fails with a different error:

[code]

Questions:

1. Can I submit an uploaded build for external testing via `pilot`? `pilot --distribute_external` doesn't work and from help, I couldn't guess how to refer to a build number.
2. How to give `pilot, `What to test` and `Review Notes`?
3. Is `changelog` same as `What to test`?
4. Is there a documentation reference on how t

[2016-04-21 05:26] eha11 commented on #3888
@ravron re the tangential: you can fork https://github.com/sikolo/fastlane make your change on top of that and then submit a PR directly back to fastlane from your fork

[2016-04-21 06:12] cbcadmin opened #4293 "Help on taking screenshot(Snapshot) using other then UI test"
Hi,

We have apps which are being generated from XML using an exporting server, so in order to take screenshot for these apps we need to parse the XML and generate the output file that snapshot framework needs to make the right screenshot of the app. So could you please help us here to find the solution.

Thanks

[2016-04-21 06:31] saruye commented on #4249
Hi I uploaded the outputs of a successful build and a failing one. I don't see much difference between the 2 logs :/
When I was researching the error I found that some people had a problem with a failing script. I checked some of them and I don't think that they fail. I also checked the build log (/Users/marketing/Library/Logs/gym/coolApp-coolApp\ Release.log) for more detailed information and the

[2016-04-21 08:11] sopig opened #4294 "9cc436abbbbe11c78811ffd6727b11a2"
[sentry_9cc436abbbbe11c78811ffd6727b11a2.json.zip](https://github.com/fastlane/fastlane/files/229477/sentry_9cc436abbbbe11c78811ffd6727b11a2.json.zip)

### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastl

[2016-04-21 08:14] osrufung commented on #4197
Finally, I suspect that gym is more restrictive than Xcode in order to evaluate the output of xcodebuild archive.

xcarchive file is generated, but some errors Xcode evaluates as "non blockers errors" are blocking for Gym. I can send you an project example @tkburner

[2016-04-21 08:50] katunch opened #4295 "S3 Action is not able to find Access Key and Secret Access Key"
### New Issue Checklist

- [✅ ] Updated fastlane to the latest version
- [ ✅] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
S3 Action does not find AWS Key and Secret Access Key. The error is `[!] uninitialized constant Fastlane::Actions::S3Action::AWS (NameError)`

##### Complete output when running fastlane, inc

[2016-04-21 10:10] lucasfeliciano commented on #4181
Having the same issue.

I see the fix was merged but even if I upgrade fastlane I still get this issue

[2016-04-21 10:18] mladjan opened #4296 "Executing match development if you have multiple targets will stuck"
### Issue Description
Until you specify exact target, it will stuck and user will not know what to do.

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Configuration Files

Please copy the complete content of your `Fastfile` and any other configuration files you use below:

Fastfile: It's not used.

### Environment

fastlane 1.81.0
match 0.4.0

[2016-04-21 10:22] fdstevex commented on #4291
Oops.  Had saved a screenshot at 75% resolution. Would be nice if frameit supported this but it's not a bug, or even worth keeping as an enhancement request.  Closing this.

[2016-04-21 10:22] #4291 closed

[2016-04-21 10:25] iPavel92 commented on #4241
I've checked the @carlosefonseca patch, it isn't working for me.
Steps I've done:
1. updated to lastest deliver (1.11.1) and spaceship (0.26.1)
2. uninstalled old versions of deliver and spaceship via "gem cleanup"
3. locally patched upload_metadata.rb like [this](https://github.com/fastlane/fastlane/pull/4281/files)
Tried with different configs:
[code]
and
[code]
Still getting

[code]

[2016-04-21 11:30] ssteinerx opened #4298 "Creation of apps of this type is not available"
497d538665f7812ecb4e49cc588ecaae

### Issue Description

I have one Apple ID belonging to two different teams.

One team is set up to create IOS apps, the other is a personal, expired, development account.

Even though I've given the team_id of the active team, I am always getting the "Creation of apps of this type is not available"

The app was successfully created in the correct account,

Which

[2016-04-21 12:02] alper commented on #4023
I implemented this parameter ([API documentation](https://support.sonatype.com/hc/en-us/articles/213465818-How-can-I-programatically-upload-an-artifact-into-Nexus-)).

[2016-04-21 12:19] KrauseFx commented on #4241
I just pushed a new release, could you try https://github.com/fastlane/deliver/releases/tag/1.11.2

[2016-04-21 13:12] TKBurner commented on #4023
@alexeychirkov Thanks for reaching out. We'll review this as a feature request and follow up on this thread. In the meantime you should check out @alper's solution!

@alper Thanks for stepping in 👍

[2016-04-21 13:16] TKBurner commented on #4298
Hi @ssteinerx Thanks for reaching out. Can you share the full output with all the commands that were entered? It looks like we only see the Slack action here which won't give a ton of useful information. Also, I don't see Slack in your Fastfile. Thanks! 👍

[2016-04-21 13:18] TKBurner commented on #4291
@fdstevex Thanks for following up and letting us know. Hope that you have a wonderful week! 👍

[2016-04-21 13:22] TKBurner commented on #4296
Hi @mladjan Thanks for reaching out. Can you format your issue per this template? https://github.com/fastlane/fastlane/blob/master/ISSUE_TEMPLATE.md

Also, make sure to include exact repro steps if you think this is a bug.

We'd love to take a look 👍

[2016-04-21 13:24] TKBurner commented on #4181
Hi @lucasfeliciano! Great to hear from you. Can you run cert --verbose and share the output? That'll help us have a look. Have a great day!

[2016-04-21 13:40] mladjan commented on #4296
Updated

[2016-04-21 13:53] ssteinerx commented on #4298
I have left out all proprietary information (like the slack link with embedded API).

I figured out that my account didn't have access to iTunes Connect on the account on which I was publishing.

Some sort of output around this area (when running with --verbose), letting me know where exactly fastlane failed would have saved me a couple of hours of digging around.  Printing out the API return code

[2016-04-21 13:58] dgoyaldiksha commented on #1600
I have installed Spaceship and after that i am receiving below issues:

Also i am not able to generate screenshots,for that it throw some another Exceptions.

spaceship --verbose
Logging into to iTunes Connect (mahendra.kumar@paxcel.net)...
/Library/Ruby/Gems/2.0.0/gems/security-0.1.3/lib/security/password.rb:88: warning: Insecure world writable dir /usr/local in PATH, mode 040777
Successfully log

[2016-04-21 13:58] SunilProgramobil commented on #4251
The only problem I am facing now is accessing certificates and provisioning profiles using fastlane from Jenkins User.
Here is some insight on how Jenkins is setup.

XXXX is the admin user of the mac and I installed Jenkins in /Users/Shared/
if that helps

[2016-04-21 14:03] TKBurner commented on #1006
Thanks for following up @mosesoak! Because you are using the system Ruby, for now you'll need to add this extra info to the command. If you type 'which ruby' into a command line, you can see that the path is the same.

[2016-04-21 14:05] TKBurner commented on #1869
@Cyclic Thanks for reaching out. Are you using Bitcode in your app? It seems like this issue is more related to Apple, but if you are using Bitcode, it'd be interesting to check and see if all your dSYM files are available via iTunes connect. Thanks!

[2016-04-21 14:05] mfurtak commented on #1600
Hi @dgoyaldiksha - thanks for the report, but this feels unrelated to the original subject of this issue. Can you please start a new issue with your question? Thanks! 👍

[2016-04-21 14:06] TKBurner commented on #3886
@jgafni Glad to hear you got up and running. We are still looking into the root cause of this, but this seems like a viable workaround.

[2016-04-21 14:08] ssteinerx opened #4301 "team_id does not automatically select correct team when provisioning in iTunes Connect"
### Issue Description

My Apple ID belongs to two teams.  I have specified the team_id I wish to use in my Appfile.  It seems that there is no matching between the team_id and the iTunes Connect access corresponding to the team.

I searched for some way to indicate the correct iTunes Connect id (which is different from the team_id), but did not find one.
##### Unexpected output when running fastla

[2016-04-21 14:09] TKBurner commented on #4218
@jakunico Thanks for following up. I'm going to circle back with the team here so we can look into this. Hope that you have a great day! 👍

[2016-04-21 14:20] TKBurner commented on #4208
Hi @etaiklein! Hope you are doing well. I was wondering if I can get you to run gym --verbose? We want to take a look and see what's going on under the hood. Thanks for working with us 👍

[2016-04-21 14:23] TKBurner commented on #4221
Hi @jblack10101 Have you tried setting codesigning_identity and  provisioning_profile_path in gym? That should work. 👍

[2016-04-21 14:23] SunilProgramobil commented on #4251
[31m❌  Code Sign error: No provisioning profiles found: No non–expired provisioning profiles were found.[0m

[2016-04-21 14:24] TKBurner commented on #1331
@benoittgt Thanks for working on this. Let me know if you need anything on our end 👍

[2016-04-21 14:29] TKBurner commented on #4263
@jacobvanorder Thanks for working with us. We are going to look into this. Hope that you have a great day! 👍

[2016-04-21 14:33] TKBurner commented on #4269
@jstart Thanks for reaching out. This is an interesting idea. We are going to take a look at it as a feature request and follow up on this thread if we have any updates. Hope that you have a wonderful week! 👍

[2016-04-21 14:35] TKBurner commented on #4270
@sfransen Great to hear from you! Sorry to hear that you are running into this issue. Can you share the full output including the commands you entered? It'll help our team identify what's causing this. If you can provide exact repro steps, we'll be able to prioritize this better 👍

[2016-04-21 14:35] jacobvanorder commented on #4263
@TKBurner No problem! Thanks for looking into it!

[2016-04-21 14:38] TKBurner commented on #4211
@bluefallsky Awesome! So glad to hear you got up and running 👊

[2016-04-21 14:39] TKBurner commented on #3670
Thanks for following up @jeeftor! We'll have a look at this as a feature request. Hope that you have a wonderful week! 👍

[2016-04-21 14:41] TKBurner commented on #4277
@jschoolcraft Thanks for being part of our community and keeping us updated! Hope that you have a wonderful weekend coming up 👍 Going to close this out. Let me know if you have a new PR.

[2016-04-21 14:42] TKBurner commented on #4278
Hi @henriklundstedt! Thanks for reaching out. You should be able to set the App identifier manually as a parameter. Can you try that? Thanks!

[2016-04-21 14:44] nprail commented on #4211
Will this work for the standalone pilot cli? I updated it and it still doesn't work.

[2016-04-21 14:44] TKBurner commented on #4150
@kikolobo Great to hear from you again. Can you run gym --verbose and send over the full output from where you entered the command onward? It'll really help us identifiy what's causing this 👍

[2016-04-21 14:48] TKBurner commented on #4283
@tternes Interesting idea! I'm going to mark this as a feature request so we can look it over as a team. Glad to have you using Fastlane. Hope you have a great day! 👍

[2016-04-21 14:54] TKBurner commented on #3902
Thanks @fisch0920! This is actually a limitation on the Fabric side that has been longstanding.  The recent Cocoapods addition, /kits/ and some upcoming Unity work have all been moving toward this automated onboarding you are looking for. I'll bring this up with the Crashlytics team. Thanks!

[2016-04-21 14:54] mgrebenets opened #4302 "[sigh] Missing support for long options in resign.sh script"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

The `resign.sh` script used by `sigh` has great value and can be used on its own. However, the use of `getopts` utility limits all argument options to be short (`-p`, `-e`, etc.).

New options

[2016-04-21 14:55] TKBurner commented on #4237
@giinnga Thanks for following up. It sounds like someone clicked 'fix issue' which causes Match to fail. Glad to hear you got up and running! 👍

[2016-04-21 14:55] #4237 closed

[2016-04-21 14:56] TKBurner commented on #4234
@jschoolcraft Glad to hear you got up and running! Even happier that you are checking out Fastlane 👍

[2016-04-21 14:59] TKBurner commented on #4020
@GantMan Thanks for following up. Right now match is designed to work with it's own repo. In the instruction we say to use a NEW private repo. So glad to hear you got up and running! Thanks for working with us and have a great weekend 👍

[2016-04-21 14:59] #4020 closed

[2016-04-21 15:02] iPavel92 commented on #4241
Having the same error on 1.11.2

[2016-04-21 15:03] gran33 commented on #4241
I m with @iPavel92, Same demo account error

[2016-04-21 15:06] TKBurner commented on #4282
Hi @dodikk! Great question. Right now we can only run scan on executable projects.

HPReminderRealmStorageTest is not a runnable scheme. Let me know if you have any other questions. Thanks!

[2016-04-21 15:06] #4282 closed

[2016-04-21 15:08] TKBurner commented on #4236
Hi @tadija! Thanks for following up. Fastlane init runs the development scheme. However, I'm going to have the team look into this as a feature request. Thanks for working with us. We'll provide any updates here. Thanks! 👍

[2016-04-21 15:09] TKBurner commented on #4220
@cnmongrel Have you looked on iTunes connect to see if there are duplicates listed there? It seems like we aren't able to parse the file. Also, can you try removing the spaces from the name, I think this might be the root cause of what we are seeing. Thanks!

[2016-04-21 15:14] dodikk commented on #4282
Is this feature on the project's roadmap?
Which ticket should I subscribe to in order to watch the status?

[2016-04-21 15:19] TKBurner commented on #4251
Hi @SunilProgramobil Thanks for following up. Can you run cert --verbose and share the output? We really want to look into this!

Thanks! 👍

[2016-04-21 15:21] TKBurner commented on #674
Hi @ssteinerx! Thanks for reaching out. Really glad you are trying out Fastlane. Can you go to https://appleid.apple.com/ and sign in and then try again? Sometimes this fixes issues with Spaceship.

Thanks!

[2016-04-21 15:23] TKBurner commented on #4265
Thanks @chappejw! We look forward to hearing back  👍

[2016-04-21 15:25] TKBurner commented on #4287
@mgrebenets Thanks for reaching out. Can you share the full reproduction steps? I want to send this over to the team as a bug, but we'll need exact repro steps to start work! Thanks! 👍

[2016-04-21 15:28] TKBurner commented on #4288
@mgrebenets Thanks for pointing this out. We'll take a look and provide feedback on this thread before going ahead with the PR. Thanks!

[2016-04-21 15:29] TKBurner commented on #4280
@MaximSt Thanks for sharing! We are going to take a look at this and see about integrating it directly into Spaceship. Hope that you have a wonderful week! 👍

[2016-04-21 15:57] TKBurner commented on #3735
Thanks for following up @Fudge0952. We are going to look into this over here! 👍

[2016-04-21 15:59] TKBurner commented on #4290
@jianpx Thanks for reaching out. We are going to look into this over here, however it'd be helpful to know if there are any contents to the SwiftSupport folder.

Thanks!

[2016-04-21 16:05] TKBurner commented on #4277
Hey @jschoolcraft! We'd love to see you contribute to our repo, let me know if you still need any help making your docs commit 👍 ❤️

[2016-04-21 16:06] TKBurner commented on #4136
Thanks @lacostej as always really really appreciate what you are doing by working with us 👍

[2016-04-21 16:11] vpolouchkine commented on #4249
@saruye Thanks for the logs. Can you isolate the `gym` call and confirm if you still see the issue? If so, can you try building your app using `xcodebuild`? Do you see the same behavior?

[2016-04-21 16:12] TKBurner commented on #4255
Hi @ayushgoel. Thanks for following up. You need to pass distribute_external a boolean. You can pass all these values as parameters in a Fastfile and then by running a lane.

Pass them like this in the fastfile:

lane :deploy do
  snapshot
  sigh
  gym
  deliver(force: true)
  # frameit
end

Thanks!

[2016-04-21 16:14] TKBurner commented on #3888
@ravron Thanks for following up. Let us know how it goes! Hope that you have a great day!

@eha11 Thanks for sharing that and for working with the Fastlane team 👍

[2016-04-21 16:15] TKBurner commented on #4293
HI @cbcadmin Great to hear from you! You are going to need to generate a snapfile, which you can read about here, https://github.com/fastlane/fastlane/tree/master/snapshot#snapfile. Let me know how it goes 👍

[2016-04-21 16:15] #4293 closed

[2016-04-21 16:16] TKBurner commented on #4294
Hi @sopig! Great to hear that you are using Fastlane. Can you provide more details about the issue you are experiencing so we can look into it. Fill in each part of the template above.

Thanks!

[2016-04-21 16:18] TKBurner commented on #4197
Thanks @osrufung That'd help out team. Can you send one over and the exact repro steps? It'll mean we can look into this faster.

Thanks!

[2016-04-21 16:19] SunilProgramobil commented on #4251
@TKBurner  I was closely working on it and after so much digging into the folder structure of Jenkins User I found that there is no folder MobileDevice/Provisioning Profiles in Library of Jenkins User.
I am guessing fastlane is trying to find profiles from or installing into this folder. So I had to manually create those folders in Jenkins User and then run sigh command in the following path /User

[2016-04-21 16:21] TKBurner commented on #4295
@katunch Thanks for reaching out. We are going to look into this over here. I hope that you have a wonderful day! 👍

[2016-04-21 16:27] jschoolcraft opened #4305 "Issue for PR 4304 to fix some doc paths"
A few urls to Platforms.md and CodeSigning.md are missing the master/fastlane/docs **fastlane** bit.  PR #4304

[2016-04-21 16:28] vpolouchkine commented on #4301
Can you please still share the Fastfile so we're on the same page? Thanks!

[2016-04-21 17:05] ssteinerx commented on #4301
[code]

[2016-04-21 17:07] ssteinerx commented on #4301
Appfile:

[code]

[2016-04-21 17:16] mfurtak commented on #4136
Addressed in #4292

[2016-04-21 17:16] #4136 closed

[2016-04-21 17:45] niranjani23 commented on #4169
I gave the following in my slather.yml file but I still see references to those ignored files in my cobertura.xml:

# .slather.yml

coverage_files_to_ignore = [
    'Pods/*',

]

slather(
    cobertura_xml: true,
    xcodeproj: /ios/abcd.xcodeproj,
    scheme: scheme,
    source_directory: /ios/project,
    output_directory: /reports,
    ignore: coverage_files_to_ignore,
)

Any thoughts as to why

[2016-04-21 17:51] fwal commented on #4241
Just out of curiosity and clarification: have anyone tried setting demo_user and demo_password to non-empty strings?

[2016-04-21 17:55] brockboland commented on #4169
@niranjani23 the sample code I posted was for use in `Fastfile`, not `.slather.yml`. If you look closely at the fastlane output, there's probably an error about having an invalid or unreadable `.slather.yml`, since that isn't valid YAML. If you'd like to include the configuration for ignored files there, take a look at the sample `.slather.yml` in the Slather readme: https://github.com/SlatherOrg/

[2016-04-21 18:05] niranjani23 commented on #4169
@brockboland Thanks for the follow up. I did try with the slather readme and my slather.yaml file is as follows:

# .slather.yml

coverage_service: cobertura_xml
xcodeproj: /ios/abcd.xcodeproj
scheme: scheme
source_directory: /ios/project
output_directory: /reports
ignore:
- AsyncDisplayKit/*
- Pods/*

The **command** I use for slathering is:
slather coverage -x --output-directory /reports --works

[2016-04-21 18:08] brockboland commented on #4169
Since you're running `slather` directly, this is not a fastlane issue. I'd recommend you open a support issue on the slather repo.

That said: you could try changing `Pods/*` to `ios/Pods/*`. Since your project file is inside an `ios` directory, I'm guessing that's where your Pods directory is too.

[2016-04-21 18:22] mfurtak commented on #4194
Hi @pavm035 - thanks for the report!

This action and its behavior has seen a number of changes due to people's different expectations about how it should work. That may be because the description, **"Get the most recent git tag"** is pretty broad. Because of that history, we would prefer not to make another change to its behavior right now.

If the current behavior is not working out for your nee

[2016-04-21 18:22] #4194 closed

[2016-04-21 18:23] Cyclic commented on #1869
@TKBurner no, we're not using Bitcode yet.

[2016-04-21 18:26] manuyavuz commented on #4232
Hi all,

I've faced with the same error. My problem turned out to be having a long release note. Following is the output of manually running `submit` script:

[code]

[2016-04-21 18:27] osrufung commented on #4197
@tkburner i can prepare it, but you can use this Sample project wich contains the "bad code" who makes the error happen -> https://github.com/idnow/de.idnow.ios/tree/master/Sample-Bitcode

In order to repro the error, you will need to setup gym for an archive. Does this help? ;)

[2016-04-21 18:28] KrauseFx commented on #4211
@nprail Make sure to update using `sudo gem update spaceship`

[2016-04-21 18:31] niranjani23 commented on #4169
Sure, thanks @brockboland. But changing to ios/Pods/* also doesn't help. I posted in the slather repo as well.

[2016-04-21 18:33] slashmo commented on #4232
@vpolouchkine Sorry for the late answer ✌🏻 Where can I set the ```notes_path```?

[2016-04-21 19:04] tabuchid commented on #4166
Any update on this? @KrauseFx Is there more information I can share too?
Sent what I get from running the action directly.

[2016-04-21 19:05] asfalcone commented on #4288
Thanks! Merged. 👍

[2016-04-21 19:05] #4288 closed

[2016-04-21 19:08] sfransen commented on #4270
any command all fails with time
if you look at my branch of the code.
 you will see you are doing the Spaceship.provisioning_profile.all.each do |profile| way too many times.

my way is better of not doing the Spaceship.provisioning_profile.all.each do |profile| for each provision profile you download . but still if timing out now. As mine license size has gotten to large with devices and provison

[2016-04-21 19:11] sfransen commented on #4270
# Logfile created on 2016-04-21 10:59:18 -0700 by logger.rb/41954
[10:59:18]: >> POST:
[10:59:18]: >> GET: https://itunesconnect.apple.com/itc/static-resources/controllers/login_cntrl.js
[10:59:18]: << GET: https://itunesconnect.apple.com/itc/static-resources/controllers/login_cntrl.js: 'use strict';

define(['app'], function (staticApp) {
    var loginController = function($scope, $rootScope, $lo

[2016-04-21 19:32] nprail commented on #4211
@KrauseFx I have run `sudo gem update pilot` and `sudo gem update spaceship` but it is still not working. The command I am running is `pilot upload -u iahesocial@gmail.com -a net.iahe.app`.

Here most of the output besides quite a few of `Waiting for iTunes Connect to process the new build`.
[code]

[2016-04-21 20:05] palaniraja commented on #1448
Thanks for the heads up. Sorry I didn't get a chance to check this week. I'll update if I see any issue.

Thank you all for the fix.

[2016-04-21 20:36] sfransen commented on #4270
# Logfile created on 2016-04-21 12:45:57 -0700 by logger.rb/41954
[12:45:57]: >> POST:
[12:45:57]: >> GET: https://itunesconnect.apple.com/itc/static-resources/controllers/login_cntrl.js
[12:45:57]: << GET: https://itunesconnect.apple.com/itc/static-resources/controllers/login_cntrl.js: 'use strict';

define(['app'], function (staticApp) {
    var loginController = function($scope, $rootScope, $lo

[2016-04-21 21:15] jcampbell05 opened #4308 "When error is thrown - error is very verbose."
When we get a error thrown such as ENV property set as true rather than a string or we try to use an argument that doesn't exist for an action.

We get a long stack trace with a generic error message which points me to open the sentry log.

These errors are issues with my `Fastfile` rather then my tools, instead an error message like this would have been more helpful:

`[!] Fastfile:19 - Can't con

[2016-04-21 21:16] marcomorain opened #4309 "Download P12 certs using PEM action in every build."
I'd love to be able to download exiting P12 certs using `pem`.

Currently we use PEM to create new certs, and we upload the cert to our server when a new cert is created. If the upload fails for any reason, the cert is created, but we don't have a copy on our server. I then have to manually download the cert from the developer portal.

This would be awesome if PEM would download the cert if it doe

[2016-04-21 21:33] sfransen commented on #4270
I hope this helps.

[2016-04-21 21:36] pedro380085 commented on #1655
hi @TKBurner, it started working again two days ago. Don't know what happened.

[2016-04-21 22:10] vikram1234 commented on #4046
Thanks @TKBurner for the reply, i am able to fix that by adding this repo but keep getting another error.

03:36:03]: ▸ INSTRUMENTATION_STATUS: id=ActivityManagerService
[03:36:03]: ▸ INSTRUMENTATION_STATUS: Error=Unable to find instrumentation info for: ComponentInfo{com.pap.pkg.test/android.support.test.runner.AndroidJUnitRunner}
[03:36:03]: ▸ INSTRUMENTATION_STATUS_CODE: -1
[03:36:03]: ▸ androi

[2016-04-21 22:16] chappejw opened #4311 "Can Spaceship determine somehow if a build is Newsstand ?"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Can Spaceship be used to determine if a build is Newsstand ? Unfortunately, I need to support at least one backwards compatible version in this case iOS 8, which still supports Newsstand. I nee

[2016-04-21 22:28] chappejw commented on #4265
Ok, I am confirming that using the account with App Manager role the Pilot tool and Spaceship ( which I believe is used by Pilot ) are able to invite external testers. Admin role also works.

[2016-04-21 22:38] vikram1234 commented on #4046
All set now.... thanks @TKBurner

[2016-04-21 22:51] fulldecent opened #4312 "Deploying screenshots -- incremental upload"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Test case:

Deploy an app with lots of screenshots and (for some reason) a binary that wont be accepted.

Expected:

On the second time deploying, screenshots which were already uploaded do no

[2016-04-21 23:14] mgrebenets commented on #4287
@TKBurner OK, I'll try to come up with some sample project.
The original project where we observe this issue is something I can't share.

[2016-04-22 00:43] mgrebenets commented on #4287
@TKBurner I have added `Reproduction Steps` section to the issue description. It outlines the problem in details.

[2016-04-22 04:16] bassrock commented on #1875
Just want to add here I am experiencing the

[code]

My builds error out here, but then a minute or two later Testflight email and notifies me that the build is available and was processed.  Sentry error ```d97a326ac9feaf70f87815992003f49b```

[2016-04-22 04:21] jianpx commented on #4290
@TKBurner the SwiftSupport folder is empty.

[2016-04-22 04:52] jakunico commented on #1896
I hate to open old issues but I'm facing this exact same issue. @siemensikkema were you able to find a workaround?

I get error logs but then I see the build correctly on iTunes Connect:

[code]

[2016-04-22 04:58] saruye commented on #4249
I extracted the `set -o pipefail && xcodebuild -workspace './fileee.xcworkspace' -scheme 'fileee Release' -destination 'generic/platform=iOS' -archivePath '/Users/marketing/Library/Developer/Xcode/Archives/2016-04-22/fileee 2016-04-22 06.40.09.xcarchive' archive | tee /Users/marketing/Library/Logs/gym/fileee-fileee\ Release.log | xcpretty`
and did run it for a couple of times. I did see the same b

[2016-04-22 05:49] SebastianOsinski opened #4314 "List of testers doesn't contain Latest Version and Latest Install Date info"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

`pilot list` contains names and emails of internal testers, but there are 0 devices listed and both 'Latest version' and 'Latest Install Date' columns are empty
##### Complete output when runn

[2016-04-22 06:00] sfransen commented on #4280
@MaximS how to I add this to my code so I can try it out I keep getting timeout errors right now.
I am hoping this will solve my problems. I have a huge account also.
thanks

[2016-04-22 06:01] cbcadmin commented on #4293
Hi @TKBurner, Thanks for coming back on this, but what i meant was I am able to take screenshots for an app but we have multiple Xcode projects being generated for similar kind of apps and for each project we have to add UI test target and write the test-case for each of these apps, so we wanted to generalise this and wanted help on how can we achieve this.

[2016-04-22 06:20] ayushgoel commented on #4255
Done 👍

In my `Fastfile` I added this line

[code]

And it succeeded.
Thanks for the support .

[2016-04-22 06:20] #4255 closed

[2016-04-22 07:31] siemensikkema commented on #1896
@jakunico I have not encountered this issue anymore so I didn't need a workaround. I doubt it will be easy to find one because it is due to a bug in the transporter.

[2016-04-22 09:23] bartoszj opened #4316 "scan crashes on master branch"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

The `scan` crashes on the master branch. The main problem is that, the `:formatter` parameter with short version `:t` is conflicting with the `-t` / trace argument from `fastlane_core`. Second

[2016-04-22 09:41] ravishtiwari commented on #169
@KrauseFx document link available on : https://github.com/KrauseFx/fastlane/releases/tag/1.34.0 for Android is broken/publicly inaccessible (https://github.com/KrauseFx/fastlane/blob/master/docs/Android.md), I am getting 404.

[2016-04-22 09:43] alexeychirkov commented on #1393
@micnguyen I have the same issue

I'm using setup from [here](https://github.com/fastlane/fastlane/tree/master/match) with `$(sigh_<bundle_identifier>_<profile_type>)`

*match* downloads and installs the fresh provisioning profile (I see it in the logs, also file appears in _Provisioning Profiles_ directory). Then `gym` builds the app but with the random valid profile which it can find in the _Pro

[2016-04-22 09:53] TienNM opened #4318 "match reports: could not find the newly generated certificate installed"
### Issue Description

I can code sign using Xcode (using the fix issue button) but when I use,

match nuke development
match development -a com.xxx.appname,

I get an error:
Couldn't find a valid code signing identity in the git repo for development... creating one for you now
...
 Could not find the newly generated certificate installed

The full output is shown below

##### Complete output when

[2016-04-22 10:19] serluca opened #4319 "Show the default value when running fastlane action [tool_name]"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Some actions have required parameters marked with the `*` but they also have the default value.
Would be nice to know the default value of the parameters when executing  fastlane action [tool_n

[2016-04-22 10:35] lucasfeliciano commented on #4181
I made this changes #4115 straight to my installed gem and it is working now.

Just saying that you should release the new version of the gem with that fix. :)

[2016-04-22 10:44] Dahlgren commented on #4181
That code is already in the released gem, make sure to update your Gemfile.lock if you use bundler and that all your gems are updated.

[2016-04-22 10:50] sirhans commented on #4318
Hi, I'm from the same team as the original poster.  We just solved this problem.  Here is the solution:

On another team member's machine, where match was working properly:

[code]

On the machine where match was not working:

[code]

We had entered a wrong password and git saved it.  We logged into our git server so many times with wrong password that we got locked out and required to enter a CAP

[2016-04-22 10:50] wgywgy opened #4320 "Why I need add use_legacy_build_api: true when use gym build project?"
Why I need add use_legacy_build_api: true when use gym build project?
I used Xcode 7.3 and gym 1.6.2,
I build a new Projct(OC or swift is same),
Below is error output:

[code]

[2016-04-22 10:51] sirhans commented on #4318
You can close this issue now.

[2016-04-22 12:34] mortenholmgaard commented on #3892
I have a very similar issue for version 1.70 of fastlane:
[14:22:35]: -----------------------------
[14:22:35]: --- Step: update_fastlane ---
[14:22:35]: -----------------------------
[14:22:35]: Looking for updates for cert, credentials_manager, deliver, fastlane, fastlane_core, frameit, gym, match, pem, pilot, produce, scan, screengrab, sigh, snapshot, spaceship, supply...
ERROR:  Loading comman

[2016-04-22 13:25] dgoyaldiksha opened #4321 "Could Not Execute Commands with Spaceship."
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Hi,I want to upload build to testflight with "### Pilot".Since I got some password issue and then as suggested using Spaceship command,again it is throwing some error again listed under:

####

[2016-04-22 13:27] dgoyaldiksha commented on #1600
Hi @mfurtak Please check out the thread [#4321](https://github.com/fastlane/fastlane/issues/4321),please help as am not able to upload build

[2016-04-22 13:58] mfurtak commented on #4316
Resolved with #4317

[2016-04-22 13:58] #4316 closed

[2016-04-22 14:03] MaximSt commented on #4280
@sfransen you can add cde above to initializer like spaceship.rb

[2016-04-22 14:05] TKBurner commented on #4255
@ayushgoel Awesome! So glad to hear you got up and running 👍

[2016-04-22 14:07] MaximSt commented on #4280
Thank you @TKBurner

[2016-04-22 14:12] TKBurner commented on #4305
Thanks @jschoolcraft! We really appreciate you working to help us 👍 Hope you have a great weekend!

[2016-04-22 14:12] #4305 closed

[2016-04-22 15:39] jsonfellin commented on #1164
I'm having a similar issue with publishing to Crashlytics.  Here's the crash report number from the output: "01f5059bb3773a89438d678a73ac4ac6".  It's not the group name issue described above.  Also, it seems to publish about 50% of the time without fail.  I am in Italy and my IPA is 135 MB, I'm guessing these could be an issue?  Thanks for any help.

[2016-04-22 16:24] FelixII commented on #4108
There is also an issue with vertical iPad Pro screenshots:

![frameit_ipad_pro](https://cloud.githubusercontent.com/assets/5102728/14747919/5457a2fa-08b7-11e6-8f59-81b8e32cbe3a.png)

[2016-04-22 17:40] brurend opened #4327 "Add -report to Scan"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Not really an issue, its more of a suggestion. Would be great if Scan could generate  a json-compilation-database report, in a similar way to xctool to use with oclint/swiftlint.

Also fastlan

[2016-04-22 17:49] i2amsam commented on #4114
@winkelsdorf Thanks for the detailed report, super useful 💯 !  I can verify that the text sizing is different with descenders than without, I expect the difference is in this [trim](https://github.com/fastlane/fastlane/blob/master/frameit/lib/frameit/editor.rb#L251) call.  I don't see a obvious quick-fix right now but I'll keep this in mind for the next `frameit` update.  In the meantime I'm addin

[2016-04-22 17:57] i2amsam commented on #4108
Possibly related to https://github.com/fastlane/fastlane/pull/3845

[2016-04-22 18:06] TKBurner commented on #4321
Hi @dgoyaldiksha! Great to hear from you. Have you tried setting the following information for your app prior to submitting?

Spaceship::TunesClient::ITunesConnectError: You must provide copyright information for the app you are adding. You must select the level of frequency for each Apple content description in the Ratings section. You must provide an app description for English. You must enter o

[2016-04-22 18:11] TKBurner commented on #3892
Hi @mortenholmgaard! Great to hear from you. What happens if you add sudo to the beginning of your gem update commands?

Thanks!

[2016-04-22 18:12] TKBurner commented on #4318
@sirhans Awesome! So glad to hear you got up and running. Always feel free to reach out with any questions or thoughts for the team. Hope that you have a wonderful weekend :)

[2016-04-22 18:12] #4318 closed

[2016-04-22 18:22] TKBurner commented on #4320
@wgywgy Thanks for reaching out. This has to do with an issue with the way your app builds your archive. If the legacy method works for you then just leave this parameter in place in your lane.

Thanks!

[2016-04-22 18:22] #4320 closed

[2016-04-22 18:25] TKBurner commented on #4181
@lucasfeliciano Thanks for following up. We've now merged this change. Really glad to have you using Fastlane! 👍

[2016-04-22 18:25] #4181 closed

[2016-04-22 18:28] jshier commented on #3921
@TKBurner I've been encountering the `scan` hang issue on our local Jenkins bots. I know the simulator works on those machines as I can run them manually. There is no simulator timeout, just this:
[code]
Retrying the job usually gets it to work.

[2016-04-22 18:30] TKBurner commented on #4319
Hi @serluca Great to hear from you. We are going to evaluate this as a feature request and will follow up on this thread as relevant. Thanks for working with us! 👍

[2016-04-22 18:39] TKBurner commented on #1393
@alexeychirkov Great to hear from you. What happens when you set the provisioning_profile_path parameter for gym?

Thanks!

[2016-04-22 18:43] cbowns commented on #1393
@alexeychirkov Also, read up on @nickoneill's issues in https://github.com/fastlane/fastlane/issues/1999 at https://github.com/fastlane/fastlane/issues/1999#issuecomment-208521543 . It sounds related.

[2016-04-22 18:44] TKBurner commented on #169
Thanks for letting us know @ravishtiwari! The proper link is now: https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Android.md

[2016-04-22 18:46] TKBurner commented on #1896
Hi @jakunico! Thanks for reaching out. Can you let me know if logging in at https://appleid.apple.com/  fixes the issue?

Thanks!

[2016-04-22 18:51] justin commented on #4248
@vpolouchkine every time i run `frameit setup` in my fastlane folder it acts like I don't have the `~/.frameit` set up, even though I have all the device frames in that folder.

![screen shot 2016-04-22 at 12 33 32 pm](https://cloud.githubusercontent.com/assets/1384/14751297/6f4e3a82-0886-11e6-9180-5fee31deb48b.png)

@KrauseFx tried moving the `Framefile.json` to `./fastlane/` and still the same o

[2016-04-22 18:54] TKBurner commented on #4293
@cbcadmin Thanks for following up. Right now this isn't possible directly through our tools but if you wire something up please do share! Thanks!

[2016-04-22 18:56] serluca commented on #4319
Hi @TKBurner thanks to get back to me, I know that when the command runs I can see the parameters but doesn't help when writing the fastfile.

[2016-04-22 18:57] TKBurner commented on #4314
Hi @SebastianOsinski! Thanks for reaching out. Are you able to duplicate this issue from another bundle ID? I want to see if we can get exact repro steps so we can investigate. Thanks!

[2016-04-22 19:00] TKBurner commented on #4249
Hi @saruye! Thanks for following up. If your build fails when you use xcodebuild it isn't an issue with Fastlane. Are you able to build your app in Xcode itself? Thanks!

[2016-04-22 19:04] TKBurner commented on #4290
Hi @jianpx! Thanks for following up. Right now this is expected behavior. I'm going to mark this as a feature request and we'll review it. Thanks!

[2016-04-22 19:11] TKBurner commented on #1875
Thanks for sharing @bassrock!  We'll take a look, but can you also provide full output? Thanks!

[2016-04-22 19:19] TKBurner commented on #4312
@fulldecent Thanks for reaching out. We are going to treat this as a feature request since right now you are seeing expected behavior. We'll update on this thread as relevant. Thanks!

[2016-04-22 19:27] TKBurner commented on #4296
Hi @mladjan! Thanks for following up. It looks like there might be something wrong with the cert you are using to access bitbucket. See the error: INFO [2016-04-21 09:24:21.72]: ▸ The authenticity of host 'bitbucket.org (104.192.143.3)' can't be established.
INFO [2016-04-21 09:24:21.72]: ▸ RSA key fingerprint is somekey

Thanks!

[2016-04-22 19:35] TKBurner commented on #4298
@ssteinerx Thanks for following up. I'm glad to hear you figured out what was causing this. We'll work on the error messaging. Hope that you have a great weekend 👍

[2016-04-22 19:35] #4298 closed

[2016-04-22 19:37] asfalcone commented on #1751
I'm going to close this issue since it has been open for a while without follow up.

[2016-04-22 19:37] #1751 closed

[2016-04-22 19:44] TKBurner commented on #4302
@mgrebenets Thanks for reaching out. We'll review this as a feature request and update this thread as releveant. Hope you have a great weekend 👍

[2016-04-22 19:47] TKBurner commented on #4251
Hi @SunilProgramobil Thanks for following up. Glad to hear you were able to get up and running with parameters. Can you share the output of when you run with Jenkins so I can take a look? Thanks 👍

[2016-04-22 20:10] mortenholmgaard commented on #3892
Same results:

Update command:

[2016-04-22 20:12] TKBurner commented on #4301
Hi @ssteinerx! Thanks for following up. Can you pass the team_id as a parameter to produce directly? This should clear up your issue 👍

[2016-04-22 20:15] TKBurner commented on #4241
@iPavel92 Thanks for following up. Have you tried entering a non-empty string as suggested above? We are still going to look into this. Thanks!

[2016-04-22 20:16] simonarcher opened #4330 ""undefined method `strip' for nil:NilClass" during init"
### New Issue Checklist

- [YES] Updated fastlane to the latest version
- [YES] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Installing Fastlane for the first time. Installation appears to have been succesfull.
Trying to add Fastlane to project, getting setup errors

##### Complete output when running fastlane,

[2016-04-22 20:17] TKBurner commented on #1869
@Cyclic Thanks for following up. It seems like you should file a radar with Apple. Can you update this thread when you hear back from their team? Thanks!

[2016-04-22 20:23] TKBurner commented on #4197
@osrufung Thanks for following up. We'll look into this and see if we can see what's going on 👍

[2016-04-22 20:28] TKBurner commented on #4232
Hi Slashmo, Thanks for following up. You can set it as a parameter in your fastfile. "notes_path: path/to/notes"

Let me know how it goes!

[2016-04-22 20:28] #4232 closed

[2016-04-22 20:30] alpersenyurt commented on #4128
I have tried with  use_legacy_build_api and  without use_legacy_build_api . Both of them is same I had error too. Yes the machine which was have error  is Jenkins machine

[2016-04-22 20:30] TKBurner commented on #4166
@tabuchid Thanks for following up. Can you share the output that Felix asked for above? Thanks!

[2016-04-22 20:33] TKBurner commented on #4211
Hi @nprail! Thanks, we'll follow up on this and #4211. Have you tried the workaround of using a non-empty string in those fields? Thanks!

[2016-04-22 20:37] TKBurner commented on #4308
Thanks for reaching out about this @jcampbell05! We are always looking to improve error messaging. I'll bump this as a priority with the team, but since this isn't a specific feature I'm going to close this ticket out.

[2016-04-22 20:37] #4308 closed

[2016-04-22 20:38] mladjan commented on #4296
But it works without any problem when you add -a com.stellup.mobile
On Fri, Apr 22, 2016 at 9:28 PM Todd Burner <notifications@github.com>
wrote:

[2016-04-22 20:44] TKBurner commented on #4309
@marcomorain Thanks for reaching out. I'll let the team know about this idea. Hope that you have a great weekend 👍

[2016-04-22 20:47] marcomorain commented on #4309
👍👍😎

--
Marc O'Morain
marc@marcomorain.com

On Fri, 22 Apr 2016, at 21:44, Todd Burner wrote:

Links:

  1. https://github.com/marcomorain
  2. https://github.com/fastlane/fastlane/issues/4309#issuecomment-213582705

[2016-04-22 20:48] TKBurner commented on #4311
Hi @chappejw Thanks for reaching out. I think this is set in the app metadata so you should look there.

Thanks!

[2016-04-22 21:05] jblack10101 commented on #4221
Thanks, setting the codesigning_identity worked.

[2016-04-22 21:09] ssteinerx commented on #4301
The thing is, the team_id and the iTunes Connect ids are not the same; should there be two different ones in the Appfile?

[2016-04-22 21:15] tabuchid commented on #4166
@TKBurner @KrauseFx
[code]

[2016-04-22 21:58] mfurtak commented on #4128
Hi @alpersenyurt - I'm not sure how to help any further, so I'm going to try to get some additional 💪 power!

[2016-04-22 22:01] JoeFerrucci commented on #1566
I had successfully uploaded my app version 2.0.2 build **33** to TestFlight.
I had to make a change, now I'm trying to upload version 2.0.2 build **34** to TestFlight, but I'm getting this error:

` [Transporter Error Output]: ERROR ITMS-90062: "This bundle is invalid. The value for key CFBundleShortVersionString [2.0.2] in the Info.plist file must contain a higher version than that of the previou

[2016-04-22 22:03] JoeFerrucci opened #4332 "Error uploading to TestFlight - CFBundleShortVersionString - Info.plist file must contain a higher version than that of the previously approved version"
I had successfully uploaded my app version 2.0.2 build **33** to TestFlight.
I had to make a change, now I'm trying to upload version 2.0.2 build **34** to TestFlight, but I'm getting this error:

` [Transporter Error Output]: ERROR ITMS-90062: "This bundle is invalid. The value for key CFBundleShortVersionString [2.0.2] in the Info.plist file must contain a higher version than that of the previou

[2016-04-22 22:06] truth3 commented on #4332
@JoeFerrucci You haven't released version 2.0.2 of your application yet have you?

[2016-04-22 22:07] JoeFerrucci commented on #4332
No, its not released yet.

[2016-04-22 22:12] truth3 commented on #4332
Thats odd, as the message back from Apple seems to say that your current public version is 2.0.2 Do you get the same error if you build and push through Xcode?

[2016-04-22 22:14] JoeFerrucci commented on #4332
2.0.2 is Pending Developer Release. That's likely the problem then?

[2016-04-22 22:16] truth3 commented on #4332
@JoeFerrucci Yep.. I think that would be the case.. if you bump the version to 2.0.3 I bet it will go through just fine.

[2016-04-22 22:17] mfurtak commented on #4319
Accepted in #4331 🚀

[2016-04-22 22:17] #4319 closed

[2016-04-22 22:17] JoeFerrucci commented on #4332
I'm sure you're correct. I'll probably just pull 2.0.2 and resubmit it when ready. Thanks for helping me resolve this issue.

[2016-04-22 23:43] jakunico commented on #1896
@TKBurner negative, issue still continues after logging in

[2016-04-23 01:39] goodcyg commented on #4229
Directory structure is like this
/Users/xxx/Desktop/iOSMake/ios_ci_fastlane_demo-master/fastlanedemo/fastlanedemo/Info.plist
 /Users/xxx/Desktop/iOSMake/ios_ci_fastlane_demo-master/fastlanedemo/build.sh
I changed this way
../fastlanedemo/Info.plist replace ./fastlanedemo/Info.plist
it is work.
../  Isn't it back to the top? Don't understand???

[2016-04-23 03:11] cnmongrel commented on #4220
@TKBurner, thanks for your reply. Do you mean duplicate mobile provisioning profiles in the Apple Dev portal or duplicate app entries setup for the app store in iTunes Connect?

There is only one app entry in iTunes Connect, and this behavior happens whenever there is 1 existing provisioning profile using the app id. If no provisioning profile for the app id exists, sigh will create it the first t

[2016-04-23 05:29] gran33 commented on #4241
@TKBurner and @fwal I entered this:
[code]

[2016-04-23 05:52] jianpx commented on #4290
hi， @TKBurner , I am wondering if the empty SwiftSupport folder has side effect on the submit to App Store .

[2016-04-23 08:06] bassrock commented on #1875
@TKBurner here is the relevant pilot output:

[code]

[2016-04-23 08:17] SebastianOsinski commented on #4314
@TKBurner I tested it with another project (which has no fastlane integrated but I just ran `pilot list` and chose iTunes Connect team for this project) and those columns are filled there.

[2016-04-23 08:40] hanjt opened #4333 "build succeeded but can't archive with jenkins"
Hi, I build my project and archive and upload  the .ipa file with terminal. It seems work good. But I use jenkins it not good. Could you help me?

The log likes this,
d/Debug-iphoneos/LianjiaNG.build/LJPEHelperViewController-PartialInfo.plist -additionalcontentfile /Users/Shared/Jenkins/Library/Developer/Xcode/DerivedData/LianjiaNG-bgelmdyiwhoytqcbbzkuglhahlzh/Build/Intermediates/LianjiaNG.build/D

[2016-04-23 08:53] dgoyaldiksha commented on #4321
Hi @TKBurner ,Actually first i have tried uploading build using xcode server but i get no success.So i then searched about fastlane,it seems to be powerfull tool.I got the ipa,provisioning profile but i am receiving error while uploading the build,also got stuck with screenshots.

[2016-04-23 11:29] ssteinerx commented on #1661
Is anyone working on this?  I have a great need and could help.

[2016-04-23 12:02] iPavel92 commented on #4241
@fwal never tried. It wouldn't help because of this condition: https://github.com/fastlane/fastlane/pull/4266
`build_info['reviewAccountRequired']['value'] = ((review_user_name || "").to_s + (review_password || "").to_s).length > 0`

[2016-04-23 12:05] saruye commented on #4249
hi,
building with Xcode doesn't produce these issues. I suspected it might not be fastlane directly. I posted it here since I didn't have the issue before migrating to fastlane and I am totally stuck and don't know where else to look for the cause of these random failures. Can you hint me at some other place where to look? Or some command to run?
Thanks!

[2016-04-23 16:30] #4333 closed

[2016-04-23 16:38] hanjt commented on #4208
Hi, @TKBurner , I got the same error as @etaiklein when I used Jenkins and archived .ipa file in the Jenkins document. But I archived successful in other document. The error message like this:
** ARCHIVE FAILED **

The following build commands failed:
PhaseScriptExecution Copy\ Pods\ Resources /Users/hanjiatong/Library/Developer/Xcode/DerivedData/LianjiaNG-bgelmdyiwhoytqcbbzkuglhahlzh/Build/Interm

[2016-04-23 16:50] hanjt commented on #4208
This is the crash report.
{
  "event_id": "bd8bcce2ab797caa079292e9cec09866",
  "message": "Errno::EACCES: Permission denied - ./fastlane/README.md",
  "timestamp": "2016-04-23T16:27:02",
  "time_spent": null,
  "level": 40,
  "project": null,
  "platform": "ruby",
  "logger": "",
  "culprit": "fastlane/documentation/docs_generator.rb in write at line 39",
  "server_name": "hanjiatongdembp.lan",

[2016-04-23 17:04] prnewman commented on #1347
I have to echo tomassliz's comments. According to the CredentialsManager documentation, FASTLANE_USER and FASTLANE_PASSWORD are accessible as environment variables:

https://github.com/fastlane/fastlane/tree/master/credentials_manager

How do we access these environment variables in lanes? I get an error if I add this to a lane:

puts ENV['FASTLANE_USER']

Is this documented somwehere?

Fastlane i

[2016-04-23 17:32] etaiklein commented on #4208
@hanjt `"message": "Errno::EACCES: Permission denied - ./fastlane/README.md",` makes it seem to me like you have a different root cause.
- Have you googled that message?
- What does your fastfile file look like?
- Are you using the [jenkin docs?](https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Jenkins.md)

[2016-04-23 17:52] hanjt commented on #4208
@etaiklein

- I have googled the message, but all answer didn't use for me.

- my fastlane file look like this,

fastlane_version "1.81.0"

default_platform :ios

platform :ios do
  before_all do
    # ENV["SLACK_URL"] = "https://hooks.slack.com/services/..."
  end

  desc "Runs all the tests"
  lane :test do
    scan
  end

  lane :adhoc do
    gym(export_method: 'ad-hoc')
  end

  desc "Submit a

[2016-04-23 17:55] etaiklein commented on #4208
@hanjt
```if you paste the contents of your json file in a markdown code block then it's easier to read```
https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#code

[2016-04-23 17:57] etaiklein commented on #4208
Regardless, it looks like your setup is sufficiently different that maybe you should create a different issue for it? It might have something to do with your jenkins setup since you can get it to run fine locally.

[2016-04-23 18:06] hanjt commented on #4208
Sorry, I will create a different issue.

[2016-04-23 18:36] mfurtak opened #4335 "Improve `actions_list.rb`"
I'd like to make some improvements to `actions_list.rb`:

1. Refactor the code a bit to improve readability and remove the need for rubocop violation suppressions
2. Improve the handling of "broken" actions

----

Currently `actions_list.rb` gives good feedback to action creators if they create a class in the `Fastlane::Actions` namespace but forget to have it subclass `Action`. It does this by li

[2016-04-23 19:39] etaiklein commented on #4208
fyi, I'm blocked on running `gym --verbose` right now- but I'll get to it ASAP.
Should that have a different output from `fastlane --verbose`?

[2016-04-23 20:19] ravron opened #4336 "Integer ConfigItems always default to zero"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines] (https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md) 🔑

### Issue Description

`ConfigItem` incorrectly causes all instances with `data_type` `Integer` to default to `0`.

The issue is the [`auto_convert_value` method on `ConfigItem`][1]. If the `data_type` is `Intege

[2016-04-24 01:29] inturbidus opened #4337 "[!] Apple provided the following error info: authentication.failed Your session has expired. Please log in."
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Fastlane does not crash for me, but I do get the authentication error that many others have gotten.  However, logging in to https://appleid.apple.com did not resolve my problem, and my account

[2016-04-24 01:30] markcarroll commented on #4166
I've been looking into this too. It seems that if you replace `-terse` with `-terse1` it works as expected.

[2016-04-24 01:45] inturbidus commented on #4337
Apparently my user was not an iTunes connect user.  My fault!

[2016-04-24 01:45] #4337 closed

[2016-04-24 03:00] TechGuyVN opened #4338 "Fastlane [supply] - how to auto create new app in Google Play like Procedure module"
Hi,

Thanks for the best auto build framework in IOS,
But in Android how to auto create new app in Google Play like Procedure module ,
Thanks for supporting :)

[2016-04-24 06:39] gran33 commented on #4241
If I add `--skip_metadata` flag, the review information skip to? I suspect it skip both.

[2016-04-24 06:56] KrauseFx commented on #4335
This is great!

[2016-04-24 07:26] bassrock commented on #1875
Ok so some updates on this on my end at least:

The train issue I believe is do to you uploading a version that already exists on the app store. The Transporter GUI actually returns the following which is not displayed in the Pilot output:
![screen shot 2016-04-24 at 12 20 59 am](https://cloud.githubusercontent.com/assets/1010384/14766082/70110ddc-09b2-11e6-82d4-b450e738fb02.png)

The reason I was

[2016-04-24 07:55] KrauseFx commented on #4128
@alpersenyurt It seems like your version of Xcode has a modified `PackageApplication` script as @mfurtak pointed out.
Could you try completely uninstalling Xcode and installing it again?
Alternatively please disable the legacy build API by making sure to not include the `use_legacy_build_api` flag in your `Gymfile` or `Fastfile`.

By disabling the legacy build API the `PackageApplication` won't be

[2016-04-24 09:37] nAviram opened #4339 "Could not upload binary to iTunes Connect"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
uploading ipa file with gym fails - followed by this error:
##### Complete output when running fastlane, including the stack trace and command used

The call to the iTMSTransporter completed wi

[2016-04-24 09:38] lacostej commented on #4312
@fulldecent @TKBurner this feature is implemented and it undergoing review. See #3755

[2016-04-24 09:41] lacostej opened #4340 "Small inconsistency in selecting app/SYMs"
See conversation on #4325

We sometimes to `.last` and sometimes `.first`

https://github.com/fastlane/fastlane/blob/6c4472beb5f3597dea6b0eaff7009d64ff8bec99/gym/lib/gym/generators/package_command_generator_legacy.rb#L48-L63

[2016-04-24 12:52] KrauseFx commented on #4320
This issue is related to how `xcodebuild` works, it's out of our control unfortunately.

[2016-04-24 19:42] win2l opened #4342 "Frameit. Replace iPhone 5S images with iPhone SE"
Hi, team. Thank your for your great products.

After iPhone SE came to the world, Apple replaced iPhone 5S images with images of SE on their [App Store Marketing](https://developer.apple.com/app-store/marketing/guidelines/#images) page.

We need a little update of *frameit* to use these new resources.

[2016-04-25 00:26] vegather commented on #1655
Alright, I've had no issues since the last time I wrote here (about three weeks age), but now I just got the same problem again. Stuck on "Check Dependencies". Here's the call trace, but I'm pretty sure it's the same that everyone else has posted:

[code]

It worked a couple of hours ago, so I'm trying to retrace what I've changed since then. Here's a list of the thing I know I changed:

- Removed

[2016-04-25 00:53] ravron commented on #3888
@TKBurner I've submitted a PR to fix this, #4343. It grew a bit larger in scope than I had expected; as a result, I opted not to use @eha11's suggestion, and simply redid the work in #3940.

[2016-04-25 01:39] kaomte commented on #4241
Yes, I'm in the same boat as @iPavel92.

Getting this error. I don't have demo_user or demo_password set in app_review_information.  On deliver 1.11.2.
[code]

[2016-04-25 04:33] mgrebenets opened #4344 "[sigh] entitlements option is missing in resign action help message"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

`resign` action supports `entitlements:` option but it's not listed in the help message.

### Environment

sigh version: `1.6.1`
Do you use bundler to execute sigh: `yes`
Do you use a Ruby env

[2016-04-25 04:44] mgrebenets opened #4346 "[sigh] Ask user for entitlements file path if more than one option is available"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

If entitlements path was not explicitly specified, `sigh` will attempt to find entitlements file automatically.

When there's more than one `.entitlements` file in the project, `sigh` will pic

[2016-04-25 05:43] evercry opened #4347 "Shell command exited with exit status 1 instead of 0. with crashlytics"
### New Issue Checklist

- [V] Updated fastlane to the latest version
- [] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

14:33:34]: -------------------------
[14:33:34]: --- Step: crashlytics ---
[14:33:34]: -------------------------
[14:33:34]: Uploading the build to Crashlytics Beta. Time for some ☕️.
[14:33:43

[2016-04-25 06:31] ch8908 commented on #3996
Same issue here, plz fix it.

[2016-04-25 06:32] TC94615 commented on #3996
Same issue here.

[2016-04-25 06:42] bassrock commented on #1533
@samrobbins Is this in the future? Or is there anything that the community could start work on to get it in?

[2016-04-25 07:14] tsafrir commented on #4280
@MaximSt  I have the same situation as you do - this is great, thank you!
In the account that I manage, I have deleted tons of profiles managed by Xcode (with fastlane spaceship) and that speed up things. I also avoid configuring that account in Xcode so it won't create that managed profiles again.

[2016-04-25 07:58] sschlein opened #4349 "New Action: Upload to DISTRIBUTOR"
Hi,

I've already created a pull request for this action (and then got the notification to create an issue first ;-) )

Distributor is my service for beta and enterprise app distribution and creation of private app stores for clients who don't have mobile device managemebt systems and just need someone who can manage their applications.

PR: https://github.com/fastlane/fastlane/pull/4348

[2016-04-25 11:02] alexeychirkov commented on #1393
@TKBurner with `use_legacy_build_api:false` even if I set `provisioning_profile_path` to direct path of profile that is installed by `match` - it still adds random profile to _ipa_ package:

[code]

If `use_legacy_build_api:true` - its always correct profile in _ipa_ even without `provisioning_profile_path`

[2016-04-25 12:50] mgrebenets opened #4350 "[sigh] Resign action 'version number' option is not fully documented and is too limiting"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

The `version number` option to resign action changes both `CFBundleShortVersionString` and `CFBundleVersion`, while the description says `Version number to force resigned ipa to use`.

`Versio

[2016-04-25 13:57] sfransen commented on #4280
Problem is that I have hundreds of developers and I have no control over their system
I didn't have a change to test this yet
I hope to find time today to test this

Where do I place this code by the way
Thanks

Sent from my iPhone5

[2016-04-25 14:33] katunch commented on #4295
Hey Guys i did some investigation on this issue.

I think since I have installed the [AWS Commandline tools](https://aws.amazon.com/cli/) this S3 Action is broken.

I could solve it by replacing the following require statement in `s3.rb:201`
[code]
is replaced with
[code]

BTW: `gem list aws` will output the following
[code]

[2016-04-25 14:43] asfalcone commented on #1758
closing as a dupe of #1779

[2016-04-25 14:43] #1758 closed

[2016-04-25 14:45] mfurtak commented on #4296
Hi @mladjan - thanks for the report! 👍

From the same machine in the same directory, what happens if you just run the git command:

[code]

Does it prompt you for username/password credentials, perhaps?

[2016-04-25 14:57] skywinder commented on #1976
It would be really nice, since certificates could be shared between multiple apps

[2016-04-25 15:00] asfalcone commented on #4287
PR is merged. Will go out in the next `sigh` release! 💯

[2016-04-25 15:00] #4287 closed

[2016-04-25 15:01] asfalcone commented on #4344
PR is merged. Will go out in the next `sigh` release! 💯

[2016-04-25 15:01] #4344 closed

[2016-04-25 15:05] i2amsam commented on #1678
Thanks for this report, and the work-arounds @olutsenko and @ClementPadovani! It looks like there isn't a simple broadly applicable option for this right now, so I'm going to close this issue as something that `snapshot` currently does not support, but I'm adding a "help-wanted" tag to it in case anyone wants to take a stab at adding this functionality.

[2016-04-25 15:05] #1678 closed

[2016-04-25 15:14] samrobbins commented on #4203
Hey @alper! I believe if you switch to a shared scheme you won't have any settings written to xcuserdata/. I've never come across a use case for having user defined schemes and think Apple should default them to shared. Let me know if this helps, happy coding!

[2016-04-25 15:41] benoittgt commented on #1331
@TKBurner @pberanger it seems this error happen when server returns an HTTPForbidden and the fastlane action try to parse the failure answer. I've updated the code to get a better feedback when this happen. Also fix an error with SSL. Tested on production and it's work.

Thanks a lot for reporting this issue.

[2016-04-25 16:01] jacao commented on #4301
I had a similar issue, resolved it by setting the following environment variable at the start of my fastfile:

ENV["FASTLANE_ITC_TEAM_ID"] = "< iTunes Connect Id>"

[2016-04-25 16:08] goodcyg opened #4354 "invalid option: -c"
$ set -o pipefail && krausefx-ipa build -c "Release" -s "fastlanedemo" -d "./build" --ipa "fastlanedemo_1.2.2.22_InHouse.ipa" --no-archive --verbose | xcpretty
[00:01:05]: ▸ invalid option: -c
[00:01:05]: ▸ /Users/Jackson/.rvm/rubies/ruby-2.2.4/lib/ruby/site_ruby/2.2.0/rubygems/core_ext/kernel_require.rb:54:in `require': cannot load such file -- aws-sdk (LoadError)
[00:01:05]: ▸ from /Users/Jackso

[2016-04-25 16:26] ssteinerx commented on #4301
@jacao Had you found that documented somewhere?  I'm just getting started with fastlane and that wasn't mentioned in any of the tutorials I've seen so far...

[2016-04-25 17:50] #1634 closed

[2016-04-25 17:53] flexaddicted commented on #1066
@RishabhTayal can you share you Fastfile? In addition, where is your ent certificate located? Mine has been inserted into login.keychain. What I'm missing are the profile path and the export method. The first shoul be optional, as per doc. @KrauseFx any suggestion?

[2016-04-25 17:54] mfurtak commented on #1643
Merged #4313 from @st3fan to improve this 👏

If there are more desired improvements here, let's start a new issue to continue the discussion 👍

[2016-04-25 17:54] #1643 closed

[2016-04-25 17:55] flexaddicted commented on #1066
Typo: your Fastfile

[2016-04-25 18:26] TKBurner commented on #1066
Hi @flexaddicted! Can you let me know what command you are using and share the full output of your error message? I definitely want to take a look 👍

[2016-04-25 18:31] TKBurner commented on #4301
Hi @ssteinerx can you let me know if setting the env variable resolves your issue. Thanks!

[2016-04-25 18:55] asfalcone commented on #880
I'm going to close this issue since it has been open for a while without follow up for the original author.

[2016-04-25 18:55] #880 closed

[2016-04-25 18:59] asfalcone commented on #1757
The error from apple is `Invalid deviceClass for profile type`. Please address that issue and see if you're still running into the crash.

[2016-04-25 19:02] vikram1234 commented on #4214
@TKBurner - could you please update if were able to find something? or anything i should look on...

[2016-04-25 19:03] asfalcone commented on #1759
Going to close this out since there aren't any reproducible steps here and no action for us to take right now. 👍

[2016-04-25 19:03] #1759 closed

[2016-04-25 19:05] asfalcone commented on #1761
I'm going to close this issue since it has been open for a while without follow up.

[2016-04-25 19:05] #1761 closed

[2016-04-25 19:16] asfalcone commented on #1760
Seems also releated to https://github.com/fastlane/fastlane/issues/1763. Different error message but both trying to download wildcard provisioning profiles.

[2016-04-25 19:22] RishabhTayal commented on #1066
@flexaddicted

[code]

[2016-04-25 19:23] TKBurner commented on #4354
Hi @goodcyg! Thanks for reaching out. Sorry to hear that you are running into this issue. Can you provide the full set of commands you are running? What are you expecting the -c option to do?

Thanks!

[2016-04-25 19:25] TKBurner commented on #1331
Hi @benoittgt! Thanks for following up. I'll make sure we get some eyes on your pull request. Thanks!

[2016-04-25 19:26] #4203 closed

[2016-04-25 19:29] asfalcone commented on #1763
I was unable to reproduce this with a wildcard development profile. Going to close for now. If anyone else runs into this, please open a new issue with reproducible steps and we'll take a look!

![image](https://cloud.githubusercontent.com/assets/1848683/14796264/6845e8f4-0afa-11e6-86d9-874ac0cd9cab.png)

[2016-04-25 19:29] #1763 closed

[2016-04-25 19:32] TKBurner commented on #1976
@skywinder Thanks for following up on this. I'll make sure we revisit this feature request as a team. Thanks!

[2016-04-25 19:37] TKBurner commented on #4295
@katunch Thanks for reporting this! I'm glad you were able to track this down to an incompatibility. I'm going to flag this so the team here can look into it a little more. Hope that you have a great day!

[2016-04-25 19:42] mfurtak commented on #3996
I've merged #4355 as a fix. Please give it a try - I'll push it out with the next release 🚀

[2016-04-25 19:42] #3996 closed

[2016-04-25 19:47] asfalcone commented on #1765
This should be fixed as of `spaceship 0.24.0`. Now we do a better job at displaying the error message from apple! 👍

[2016-04-25 19:47] #1765 closed

[2016-04-25 20:00] TKBurner commented on #4350
@mgrebenets Thanks for reaching out. Since we are already helping you merge this PR I'm going to close this ticket out 👍

[2016-04-25 20:00] #4350 closed

[2016-04-25 20:03] asfalcone commented on #1766
This isn't really an issue with fastlane, but with the underlying openssl library which impacts many other projects. [This issue](https://github.com/google/google-api-ruby-client/issues/235) has a lot of suggestions and things that fix the issue for many people, specifically [this comment](https://github.com/google/google-api-ruby-client/issues/235#issuecomment-169956795) seems to help the most! I

[2016-04-25 20:03] #1766 closed

[2016-04-25 20:06] TKBurner commented on #1393
@alexeychirkov Thanks for following up. We are going to look into this a little more and see what could be causing this. 👍

[2016-04-25 20:08] TKBurner commented on #1533
@bassrock Thanks for bumping this. I'm going to follow up with the team so we can update this thread as relevant.

[2016-04-25 20:09] bassrock commented on #1533
@TKBurner sounds good. If a general guideline is developed on how it should be done I would be happy to work on this as I have an app that I would like to make use of this with.

[2016-04-25 20:11] asfalcone commented on #1767
Going to close this out as a feature request and not something we're going to change at this time. Thanks!

[2016-04-25 20:11] #1767 closed

[2016-04-25 20:13] TKBurner commented on #4347
Hi @evercry! Great to hear from you. Are you sure you are using the distribution group slug in your Fastfile and not the long name for the group?

Thanks!

[2016-04-25 20:14] asfalcone commented on #1768
You can use `ENV["FASTLANE_SKIP_UPDATE_CHECK"]` to skip update checking if that will help!

[2016-04-25 20:14] #1768 closed

[2016-04-25 20:16] TKBurner commented on #4346
@mgrebenets Thanks for filling out the PR proposal. It looks like we went ahead with your PR. I'm going to close this out for housekeeping 👍

[2016-04-25 20:16] #4346 closed

[2016-04-25 20:18] TKBurner commented on #4241
@kaomte Thanks for following up. We will have a look and update on this thread. Thanks!

[2016-04-25 20:19] TKBurner commented on #3888
Awesome @ravron thanks for following up! I'll make sure we get some eyes on your PR. Thanks again 👍

[2016-04-25 20:21] asfalcone commented on #2057
I'm going to close this issue since it hasn't been updated in a while and we've improved the error output from Apple error messages.

[2016-04-25 20:21] #2057 closed

[2016-04-25 20:23] TKBurner commented on #1655
Hi @vegather! Thanks for following up. What happens if you use 'no' as your language code rather than no-NO? Thanks!

ALL_LANGUAGES = ["da", "de-DE", "el", "en-AU", "en-CA", "en-GB", "en-US", "es-ES", "es-MX", "fi", "fr-CA", "fr-FR", "id", "it", "ja", "ko", "ms", "nl", "no", "pt-BR", "pt-PT", "ru", "sv", "th", "tr", "vi", "zh-Hans", "zh-Hant"]

[2016-04-25 20:33] TKBurner commented on #4342
Hi @win2l Thanks for reaching out about this. We are working on this and you should see these changes soon 👍

[2016-04-25 20:40] TKBurner commented on #4340
Hi @lacostej Thanks for pointing this out. We are going to use this ticket to track reports of issues related to this. For now, no action necessary. Thanks!

[2016-04-25 20:40] vegather commented on #1655
Hi @TKBurner! Thanks for getting back to me. I tried using "no" instead of "no-NO", but it didn't seem to make any difference. What did help though, was to click "Reset Content and Settings..." in the simulator or run the app from Xcode while Snapshot was stuck. Sometimes this got it through one step of the process (screenshots for one device in one language), other times it didn't do anything at

[2016-04-25 20:41] TKBurner commented on #4312
Thanks for pointing this out @lacostej! Always awesome to see your contributions. I'm going to close this out since we are working on implementing this on the PR right now 👍

[2016-04-25 20:41] #4312 closed

[2016-04-25 20:42] TKBurner commented on #4339
Hi @nAviram! Thanks for reaching out. This is a known issue. Have you tried the solution offered in the error message:
Set your env:

FASTLANE_ITUNES_TRANSPORTER_USE_SHELL_SCRIPT=1

Let me know if that clears things up for you. Hope that you have a great day! 👍

[2016-04-25 20:57] TKBurner commented on #1875
@bassrock Thanks for looking into it. I'll let the team know what you found out! 👍

[2016-04-25 20:58] TKBurner commented on #4338
@TechGuyVN Thanks for reaching out. Check out Supply here https://github.com/fastlane/fastlane/tree/master/supply for our Android tools 👍

[2016-04-25 20:58] #4338 closed

[2016-04-25 20:59] hufkens commented on #1533
Same here. I have 2 universal tvOS/iOS apps. So I'm happy to test it out. So used to my fastlane setup, that not using it feels weird.

[2016-04-25 20:59] TKBurner commented on #4337
@inturbidus Thanks for letting us know! Really glad to have you using Fastlane 👍

[2016-04-25 21:11] akaralar commented on #4211
@nprail that issue is because the builds also require an encryption question to be replied, you can bypass this by adding `ITSAppUsesNonExemptEncryption` key to the `Info.plist` file and set it's value to whether your app uses encryption, https included. Check this answer for more info on this: http://stackoverflow.com/a/16080233/568529

[2016-04-25 21:20] ZevEisenberg opened #4356 "Detect whether snapshot is running in build phase script"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

When running `snapshot`, you can determine whether you are capturing snapshots at run time using

[code]

I would also like to detect whether I'm currently capturing snapshots in a script in a

[2016-04-25 21:44] KrauseFx commented on #4216
Thanks for reporting this issue, taking a look at it now 👍

[2016-04-25 22:01] mfurtak opened #4357 "Running `latest_testflight_build_number` fails after team selection"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Configuration Files

Please copy the complete content of your `Fastfile` and any other conf

[2016-04-25 22:12] TKBurner commented on #4166
@tabuchid Thanks for following up with that. We are going to look into this a little more 👍

[2016-04-25 22:18] TKBurner commented on #4336
@ravron Thanks for reaching out about this and including such detailed investigation. We are going to investigate this over here. But, if anyone wants to submit a PR we can have preliminary discussions about that here too. Thanks! 👍

[2016-04-25 22:21] TKBurner commented on #4208
Hi @etaiklein! It'll help isolate the source of your issue a lot. We can return to this once you get a chance. Thanks!

[2016-04-25 22:25] TKBurner commented on #1347
@tomassliz Thanks for following up. I'm going to follow up with Felix about the specifics of this and we'll update this thread. 👍

[2016-04-25 22:28] TKBurner commented on #4249
@saruye Thanks for following up. I'm going to close out this issue, because it looks like you are seeing the same problem as #4197. We are going to work through this over there. Thanks!

[2016-04-25 22:28] #4249 closed

[2016-04-25 22:30] TKBurner commented on #1661
@ssteinerx Thanks for reaching out. Right now we aren't working on this internally. It's not trivial for us to add this support but if you are interested in approaching it you can propose your approach here before making a PR. Thanks! 👍

[2016-04-25 22:32] TKBurner commented on #4321
Hi @dgoyaldiksha Thanks for following up. Did you run 'fastlane init' on this project? Thanks! 👍

[2016-04-25 22:36] TKBurner commented on #4314
@SebastianOsinski Thanks for following up. Since you can't reproduce reliably this it's going to be a lot harder for us to investigate. Were all the testers added through Pilot for this app? A mix? Or all through Testflight directly? Can you test those states?

[2016-04-25 22:37] TKBurner commented on #4290
@jianpx Thanks for following up. Since it's an artifact of using the Xcode APIs it's unlikely it'd affect your app review. Let me know if you find out otherwise! Thanks 👍

[2016-04-25 22:37] #4290 closed

[2016-04-25 22:38] flexaddicted commented on #1066
@RishabhTayal Thanks for sharing. Is there any particular reason you commented out the signing identity?

@TKBurner here the detailed you asked for. Thanks.

- Error (The **enterprise** certificate is correctly installed in the **login.keychain**)

- Used command (the **ENV** variables are contained into a *.env* file)

[code]

- Xcode configuration

<img width="592" alt="xcode" src="https://cloud

[2016-04-25 22:41] TKBurner commented on #4220
Hi @cnmongrel Thanks for following up. Are you putting your provisioning profile in your gitignore? Definitely seems like something weird is happening but I haven't seen any other reports so it appears it's a config issue. I'll keep working with you on this 👍

[2016-04-25 22:44] TKBurner commented on #4229
Hi @goodcyg Thanks for following up. It looks like you are actually missing an entry in your info.plist

Set: Entry, ":ChannelID", Does Not Exist

Do you use Urban Airship?

[2016-04-25 22:45] TKBurner commented on #1896
Hi @jakunico Do you use any special characters in your password, if you change it to alphanumeric does it work? Thanks!

[2016-04-25 22:47] TKBurner commented on #4332
@truth3 Thanks so much for stepping in! Yup @JoeFerrucci that seems to be the reason you are seeing this. Really glad to have you using Fastlane 👍

[2016-04-25 22:47] #4332 closed

[2016-04-25 22:48] jakunico commented on #1896
Hi Todd, I already changed to alphanumeric as I was receiving warnings from
it. The warning went away but the issue persisted.
On Mon, Apr 25, 2016 at 5:46 PM Todd Burner <notifications@github.com>
wrote:

[2016-04-25 22:52] Luke-SF opened #4358 "Gym exporting the wrong app to ipa"
I have updated to the latest version of gym, on Mac OS 10.11.4, and I'm noticing a serious error where it would export the wrong .ipa file. When I went to Application Loader to upload an ipa, I saw it had the logo of another app.

Looking through all the open terminals, I found something interesting - the one that was overwritten happened to be started the same minute that another started. In one

[2016-04-25 23:03] #1566 closed

[2016-04-25 23:03] TKBurner commented on #4221
Awesome @jblack10101 so glad to hear you are up and running 👍

[2016-04-25 23:11] TKBurner commented on #4248
Hi @justin, thanks for following up. We're going to look into this and I'm also going to mark it help wanted in case anyone from the community wants to chime in. Thanks 👍

[2016-04-25 23:12] flexaddicted opened #4359 "Code signing error even when enterprise certificate is in login.keychain"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Fastlane fails when I try to export an ipa using an enterprise certificate. The enterprise cert is correctly installed in the **login.keychain**. If I move the enterprise certificate into the

[2016-04-25 23:37] ravron commented on #4336
@TKBurner No problem. A note: though this issue affects pilot, it's really more of fastlane_core bug, so that label might be more appropriate. Of course, I defer to your judgement.

[2016-04-26 00:37] goodcyg commented on #4229
Hi  @TKBurner Thanks. I modified the a problem.（Set: Entry, ":ChannelID", Does Not Exist）
mac book air OS X EI Captian 10.11.14

[2016-04-26 00:48] goodcyg commented on #4354
Hi @TKBurner  thanks
 I use this demo
https://github.com/everettjf/ios_ci_fastlane_demo
Modify the corresponding configuration  build.sh appfile and fastfile
To the project directory， run  sh build.sh 1.2.2 44
Above errors

mac book air OS X EI Captian 10.11.14
xcode 7.2.1
gem 2.5.1
ruby 2.2.4

[2016-04-26 02:53] BlaineOmega commented on #4197
Is there an update on this? I see it's closed, but wondering if there was any resolution.

[2016-04-26 03:18] gtokman commented on #567
I am still getting the issue trying to install Fastlane on El Capitan 10.11.4. Same error message:

[code]

I have tried @entropid and @lacostej suggestions.

[2016-04-26 03:36] gtokman commented on #567
I was able to find a solution from a different issue.

[code]

[2016-04-26 04:19] dgoyaldiksha commented on #4321
Hi @TKBurner Yes I had run "fastlane init" on this project.

[2016-04-26 05:00] mgrebenets commented on #4302
The PR is merged, closing this one. Thanks 👍

[2016-04-26 05:00] #4302 closed

[2016-04-26 05:19] RishabhTayal commented on #1066
I believe I have set the code signing identity in Xcode configuration that’s why I did not need it. You may use it though.

[2016-04-26 08:08] jacao commented on #4301
@ssteinerx I couldn't see it in the documentation, ended up searching the codebase and found that this variable was the way to do it, did it work?

[2016-04-26 10:08] phpmaple commented on #1400
I also have problem

[2016-04-26 10:43] mindrunner commented on #4049
Looks like my problem (at least this one) is gone.

[2016-04-26 11:19] nAviram commented on #4227
Hi @mfurtak !
I'm also with Xcode 6.4 - and I have the same issue - and I tried to set the environment variable FASTLANE_ITUNES_TRANSPORTER_USE_SHELL_SCRIPT equal to 1

but it didn't work.

[2016-04-26 11:21] nAviram commented on #4339
Hi @TKBurner ! Thanks for your reply!
I tried
**_FASTLANE_ITUNES_TRANSPORTER_USE_SHELL_SCRIPT=1
_**
but with no good - still the same error.

I've found this issue in another thread:
https://github.com/fastlane/fastlane/issues/4227

suggesting there that this issue should work out in XCode 7... so I hope at least once I'll upgrade it would be fine...

meanwhile - any solutions \ workarounds are we

[2016-04-26 11:49] onmyway133 commented on #656
@edwardvalentini just curious, why would you want to disable sending app symbol? Isn't it necessary for Apple to generate correct dSYM for bit code enabled app?

[2016-04-26 12:08] gauravdaxini commented on #3900
Hi @TKBurner! Unfortunately, we are unable to find an issue in our Apple Developer account. The manual app builds are working properly and we are able to generate the provisioning profile certificate manually through our developer account. Is there anything else we are missing?

[2016-04-26 12:11] flexaddicted commented on #4359
@TKBurner and @KrauseFx Using the command generated by `gym`

[code]

The archive and the app are generated correctly.

[code]
Any suggestions?

[2016-04-26 12:47] mgrebenets opened #4361 "[sigh] Feature request: add resign action options to modify short version string and bundle version"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Feature Request

Current version of sigh supports only `version` option (`-x|--version_number `in `sigh resign` executable, `-n|--version-number` in `resign.sh`).

This option, however, changes both `CFBundleSho

[2016-04-26 13:20] meyskens commented on #4227
@nAviram thanks for testing. I replaced the itms (the java libs) folder within Xcode 6 with the content of Xcode 7 therefore was not able to quickly test them without reverting my workaround.

[2016-04-26 13:24] nmayafit opened #4363 ""fastlane run ssh" not working properly"
### Issue Description
Trying to run "fastlane run ssh username:"xxx" password:"yyy" host:"zzz" will result with a crash.
Also, when trying the same with "commands" param it will give an error "[!] 'commands' value must be a Array! Found String instead." although I put "commands:["ls"]". Tried all kinds of types with no luck.

##### Complete output when running fastlane, including the stack trace a

[2016-04-26 13:28] funkenstrahlen opened #4364 "How can I do 'snapshot --configuration "Debug"' from Fastfile?"
I would like to add `snapshot` to my Fastfile as a task.

How can I use `snapshot --configuration "Debug"` in my Fastfile task? Like this?

[code]

[2016-04-26 13:31] vmalyi commented on #1463
+1.

I have following Fastfile and use fastlane 1.81.0:
[code]

Relevant fastlane output doesn't seem to have issues:
[code]

[2016-04-26 13:33] nAviram commented on #4227
hey @meyskens -  Did the replacement work? are you able to upload now?

[2016-04-26 13:51] yeradis commented on #4166
I´m experiencing the same problem, `get_version_number` does not return anything

At the CLI i can see : agvtool what-marketing-version -terse
with multiple lines as output, different .plist with its versions

On the other hand : agvtool what-marketing-version -terse1
return just one .plist and the version

Extra info: The current project i´m working on has two schemes.

[2016-04-26 13:52] TKBurner commented on #4330
Hi @simonarcher Do you have a .xcodeproj file in this folder? If not, are you able to run the command:

xcrun xcodebuild -list -workspace './xxxx.xcworkspace'

It looks like this issue is either with your config or further up the chain. Thanks

[2016-04-26 14:00] simonarcher commented on #4330
Hi @TKBurner , when I run 'fastlane init' i do indeed have a .xcodeproj in my folder.

this is my folder when i run 'fastlane init' (and when I get the errors)

<img width="206" alt="image" src="https://cloud.githubusercontent.com/assets/10696147/14820689/fa2ccb98-0bc7-11e6-9884-7135d09f3112.png">

[2016-04-26 14:01] TKBurner commented on #3892
Hi @mortenholmgaard! Thanks for following up. Can you ruby -v for me? Also, have you tried not using the system ruby? Thanks!

[2016-04-26 14:07] TKBurner commented on #3921
@jshier Thanks for bumping this. I'll flag this to the team 👍

[2016-04-26 14:11] mfurtak commented on #4339
Hi @nAviram - thanks for the report!

I'm going to close this as a duplicate of #4227, and I'll work on keeping that issue updated with more information as we go 👍

[2016-04-26 14:13] TKBurner commented on #4327
@brurend Great suggestion. I'm going to mark this as help wanted in case anyone from the community wants to work on it. 👍

[2016-04-26 14:16] TKBurner commented on #1164
Hi @jsonfellin! Thanks for reporting those additional details. It seems like it could be a network issue, do you run into this when you submit directly through the Fabric Mac app?

Thanks!

[2016-04-26 14:18] mfurtak commented on #4339
Actually, I've thought better of it :) This ticket is more clearly about the problem with Xcode 6, so I'll use this ticket to post further updates on that situation. 👍

[2016-04-26 14:19] cdunkel opened #4366 "setupSnapshot() Causing AWS Failure"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

This is an issue I'm running into while setting up XCode 7 UI Tests to support the latest version of Snapshot.  I have been following the [UI Tests Quick Start guide](https://github.com/fastla

[2016-04-26 14:19] mfurtak commented on #4227
Hi all - I'm going to close this issue since the silent failure part has been addressed.

I'll use #4339 to make further updates about the Xcode 6 situation. 👍

[2016-04-26 14:19] #4227 closed

[2016-04-26 14:31] TKBurner commented on #4366
Hi @cdunkel. Thanks for reaching out about this. Are you using any type of special transport security with your S3 bucket or just direct SSL? The reason I ask is because this error suggests that there is some sort of request signature that's being altered from it's expected value. Thanks!

[2016-04-26 14:36] TKBurner commented on #4330
Thanks for following up @simonarcher. Are you able to run
xcrun xcodebuild -list -workspace './xxxx.xcworkspace'?

Thanks!

[2016-04-26 14:39] TKBurner commented on #4166
@yeradis Thanks for additional info. 👍 Does it work on other projects?

[2016-04-26 14:43] TKBurner commented on #1463
@vmalyi Thanks for following up. Can you run pilot --verbose? Thanks!

[2016-04-26 14:47] TKBurner commented on #4364
Hi @funkenstrahlen Thanks for reaching out. Yup this is the way you'd set up a lane called screenshots. You might want to use single quotes on your scheme name. Thanks!

[2016-04-26 14:47] #4364 closed

[2016-04-26 14:47] cdunkel commented on #4366
@TKBurner I'm not doing anything special.  All of the transport security is wrapped up in the AWS iOS SDK that I'm using, which has fairly terrible documentation, so I'm not sure exactly what they're using under the covers.  I'm simply providing an access key and a secret key.

[2016-04-26 14:51] TKBurner commented on #4363
Hi @nmayafit! Thanks for reaching out. Can you let me know if you are able to run this in a lane? I want to see if it's a command line issue or an issue with the actual params.

Thanks!

[2016-04-26 14:51] funkenstrahlen commented on #4364
Thank you.

[2016-04-26 14:56] TKBurner commented on #4361
@mgrebenets Thanks for filing this issue for your PR. We'll leave this thread open for discussion about the value of this feature. Thanks!

[2016-04-26 14:58] nmayafit opened #4368 "SSH will not run command"
### Issue Description
Trying to run SSH commands will fail with an error.
I'm trying to run:
`ssh(
    	host: "10.8.1.29",
    	username: "user",
	    password: "password",
		commands:
			[
				"cd /Users/user/Desktop/Shared/automation_mobile",
				"python flow.py "+ lane_context[SharedValues::HOCKEY_DOWNLOAD_LINK] + " ios"
			],
    )`

But the second command ("python...") always fail although it

[2016-04-26 15:01] nmayafit commented on #4363
@TKBurner  I opened another bug a min ago regarding ssh as it seems I can't run specific commands in ssh. I'm not sure its related, but if I try to run simple ssh command (like cd or ls) from lane it will work.

[2016-04-26 15:04] simonarcher commented on #4330
Sure, @TKBurner !

this is the output.. (running this after the fastlane init fails and it deletes the fastlane files from my project folder)

`$ xcrun xcodebuild -list -workspace './MyApp.xcworkspace'
2016-04-26 17:02:49.753 xcodebuild[41288:525742] [MT] PluginLoading: Required plug-in compatibility UUID ACA8656B-FEA8-4B6D-8E4A-93F4C95C362C for plug-in at path '~/Library/Application Support/Devel

[2016-04-26 15:05] ryanjohnstone commented on #4221
Hi, I'm having a similar issue but setting codesigning_identity doesn't help. It seems Gym is somehow using the provisioning profile stored in Library/MobileDevice/Provisioning Profiles rather than the one stored locally from running Sigh, even though Gym summary shows it using the correct profile...

[2016-04-26 15:20] TKBurner commented on #4359
Hi @flexaddicted! Great to hear from you. Can you share where you set your ENV codesigning_identity? What happens if you don't set it manually?

[2016-04-26 15:42] flexaddicted commented on #4359
@TKBurner I tried also manually but it does not work. I tried to set up a mini project and it seems working in the correct. Since I'm using also React Native the problem could rely on that. But not sure. I will back to you with when I will set up React Native in that dummy project. Anyway, using `xcodebuild` directly it works.

[2016-04-26 16:13] vpolouchkine commented on #1400
@phpmaple Could you fill in some details per https://github.com/fastlane/fastlane/blob/master/ISSUE_TEMPLATE.md? Thanks.

[2016-04-26 16:21] vpolouchkine commented on #4265
Glad to hear you're up and running.

[2016-04-26 16:21] #4265 closed

[2016-04-26 16:21] #4221 closed

[2016-04-26 16:47] TKBurner commented on #3900
Hi @gauravdaxini Thanks for reaching out. You developer account password is stored in your keychain. If you remove that entry are you able to run the cert command alone? Thanks!

[2016-04-26 16:48] TKBurner commented on #4301
@jacao Thanks for sharing! We'll make sure to update the docs 👍

[2016-04-26 16:52] TKBurner commented on #4321
Hi @dgoyaldiksha Thanks for following up. Have you tried using deliver rather than spaceship directly?

Thanks!

[2016-04-26 16:53] TKBurner commented on #567
Awesome @gtokman! Really glad to hear you are up and running 👍

[2016-04-26 16:54] TKBurner commented on #4197
Hi @BlaineOmega Thanks for reaching out. We are still looking into this. It's open to reflect that 👍

[2016-04-26 16:57] TKBurner commented on #4354
Hi @goodcyg Thanks for following up. Is there a reason you aren't using gym to build your app? What happens if you run gym?

Thanks!

[2016-04-26 16:57] ssteinerx commented on #4301
@jacao Haven't been back to that project yet.  @TKBurner are you going to add a separate value to the config file for handling this?  Very helpful if so!

[2016-04-26 16:57] TKBurner commented on #4229
Hi @goodcyg! Awesome, are you did that resolve this error?

[2016-04-26 16:59] TKBurner commented on #4336
@ravron Thanks for following up. I'll mark it that way 👍

[2016-04-26 17:03] TKBurner commented on #4358
Hi @Luke-SF! Great to hear from you. You can set the parameters manually and that should allow you to act with duplicates. Run fastlane actions gym to see the list of parameters.

Thanks!

[2016-04-26 17:03] #4358 closed

[2016-04-26 17:05] TKBurner commented on #1896
Thanks for following up @jakunico! Unfortunately, we aren't getting the information we need from iTunes Transporter to give you the proper error messaging. Does your build succeed but displays this error?

Thanks!

[2016-04-26 17:13] TKBurner commented on #4216
@rmccamish Thanks for sharing this report. We've seen another report like this and are going to look into it. Did you create the testers using Pilot? Thanks!

[2016-04-26 17:17] TKBurner commented on #4356
Hi @ZevEisenberg! Great to hear from you again. Right now you'll have to wire this up yourself as there isn't a built in way to detect this. Let me know how it goes and if you uncover anything. Thanks!

[2016-04-26 17:19] TKBurner commented on #4211
Thanks for stepping in @akaralar! @nprail let me know how it goes!

[2016-04-26 17:21] jakunico commented on #1896
You're correct @TKBurner, the `pillot` action fails but the build is actually uploaded to iTunes and correctly processed later.

[2016-04-26 17:22] TKBurner commented on #1655
@vegather Awesome! So glad to hear you got up and running. Can someone still affected by this issue bump the thread so we can get some more info 👍

[2016-04-26 17:30] marcelofabri opened #4371 "Make it easier to call another action from a custom action"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I'm trying to call an action (`cocoapods`) from a custom action I've created.

In order to do it, this is what I had to do:

[code]

This seems quite complex and required some knowledge on how

[2016-04-26 17:30] TKBurner commented on #4214
Hi @vikram1234 Thanks for following up. Do you still see this issue if you only have en-US as a listed language? The error messaging is suggesting that one of your language codes isn't working. Thanks!

[2016-04-26 17:32] jsonfellin commented on #1164
Thanks for responding, I haven't had any trouble with uploading via the Fabric app though it does take awhile, around 20 minutes.  On my latest release with fastlane I connected to a US VPN and it did manage to go through just fine.  I'll post further crash reports here as they come up.  Thanks again for the great tool!

[2016-04-26 17:36] marcelofabri opened #4372 "Make it possible to use .slather.yml on slather action"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

The [slather action](https://github.com/fastlane/fastlane/blob/master/fastlane/lib/fastlane/actions/slather.rb) requires a `:proj` key. However, it's possible to define a project in a `.slathe

[2016-04-26 17:40] marcelofabri opened #4373 "Danger action should support DANGER_GITHUB_API_TOKEN and --verbose"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

The new `danger` action should support sending `--verbose` flag to `danger`. It also should be possible to send a token that should be set to the `DANGER_GITHUB_API_TOKEN` env var that danger

[2016-04-26 17:41] vikram1234 commented on #4214
Hi @TKBurner - thanks for your reply, i have removed all folders except "en-US" from fastlane/metadata folder and still getting same issue, do i have to change something else to reflect only "en-US??

[2016-04-26 17:43] cnmongrel commented on #4220
Thanks @TKBurner. The provisioning profile is not included in a gitignore. This behavior also happens with Xcode projects that are not under any version control at all. Would it help if I shared the actual Fastlane fastfile and other configs (if that can be done in a secure way)?

[2016-04-26 17:58] marilyn commented on #1963
Looks like Amazon has opened a preview of their Developer Publishing API:

https://developer.amazon.com/public/community/post/Tx246RO6NR41HWC/Announcing-the-Developer-Publishing-API-Preview

[2016-04-26 18:09] rmccamish commented on #4216
No the users already existed.

Thx!

Ron....

On Apr 26, 2016, at 1:14 PM, Todd Burner <notifications@github.com<mailto:notifications@github.com>> wrote:

@rmccamish<https://github.com/rmccamish> Thanks for sharing this report. We've seen another report like this and are going to look into it. Did you create the testers using Pilot? Thanks!

—
You are receiving this because you were mentioned.
Rep

[2016-04-26 18:10] #1519 closed

[2016-04-26 18:11] #1520 closed

[2016-04-26 18:11] #1521 closed

[2016-04-26 18:11] #1522 closed

[2016-04-26 18:12] philipshurpik commented on #3888
What is the progress with this issue?
We have it for couple of weeks.
It shows "Waiting for iTunes Connect to process the new build" and after build was processed not finishes successfully, but still shows "Waiting for iTunes Connect to process the new build" and fails by timeout

[2016-04-26 18:19] vpolouchkine commented on #1528
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-26 18:19] #1528 closed

[2016-04-26 18:19] vpolouchkine commented on #1530
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-26 18:19] #1530 closed

[2016-04-26 18:20] vpolouchkine commented on #1531
@skywinder Is this still an issue for you?

[2016-04-26 18:20] mfurtak commented on #4339
I have reproduced this problem locally.

[2016-04-26 18:22] vpolouchkine commented on #1532
Has this been shipped?

[2016-04-26 18:30] vpolouchkine commented on #1535
This is not available via an action, see https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Actions.md#download_dsyms

[2016-04-26 18:30] #1535 closed

[2016-04-26 18:31] vpolouchkine commented on #1536
@martinjuhasz is this still an issue for you?

[2016-04-26 18:33] vpolouchkine commented on #1538
@sarthak03 is this still an issue for you?

[2016-04-26 18:34] vpolouchkine commented on #1539
@jpaas is this still an issue for you?

[2016-04-26 18:40] mfurtak commented on #4339
Hi @nAviram 👋

It is true that the Java setup for the iTMSTransporter has changed significantly from Xcode 6.4 to 7.x.

However! Using the environment variable `FASTLANE_ITUNES_TRANSPORTER_USE_SHELL_SCRIPT=1` allows things to work properly for me. When using Xcode 6.4 and my `beta` lane to upload to TestFlight, I can run fastlane like this:

[code]

And that allows things to work OK. Can you give

[2016-04-26 18:42] vpolouchkine commented on #1543
@skywinder is this still an issue for you?

[2016-04-26 18:44] vpolouchkine commented on #1544
@lilidotshi is this still an issue for you using latest `deliver` and `spaceship`?

[2016-04-26 18:48] vpolouchkine commented on #1546
@sarthak03 is this still an issue for you? see https://github.com/fastlane/fastlane/issues/1546#issuecomment-193382631

[2016-04-26 18:49] vpolouchkine commented on #1547
@siburb is this still an issue for you?

[2016-04-26 18:49] #1548 closed

[2016-04-26 18:50] vpolouchkine commented on #1549
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-26 18:50] #1549 closed

[2016-04-26 18:50] vpolouchkine commented on #1551
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-26 18:50] #1551 closed

[2016-04-26 18:51] vpolouchkine commented on #1553
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-26 18:51] #1553 closed

[2016-04-26 18:51] vpolouchkine commented on #1552
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-26 18:51] #1552 closed

[2016-04-26 18:52] vpolouchkine commented on #1554
@iPavel92 is this still an issue for you using latest `deliver` and `spaceship`?

[2016-04-26 18:56] vpolouchkine commented on #1556
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-26 18:56] #1556 closed

[2016-04-26 18:56] vpolouchkine commented on #1558
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-26 18:56] #1558 closed

[2016-04-26 18:56] vpolouchkine commented on #1559
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-26 18:56] #1559 closed

[2016-04-26 18:56] vpolouchkine commented on #1560
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-26 18:56] #1560 closed

[2016-04-26 18:57] vpolouchkine commented on #1561
@superarts is this still an issue for you?

[2016-04-26 18:57] vpolouchkine commented on #1562
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-26 18:57] #1562 closed

[2016-04-26 19:00] vpolouchkine commented on #1564
@kaoskorobase is this still an issue?

[2016-04-26 19:01] vpolouchkine commented on #1557
Looks like this was fixed.

[2016-04-26 19:01] #1557 closed

[2016-04-26 19:01] vpolouchkine commented on #1565
@mgamber is this still an issue?

[2016-04-26 19:02] #1567 closed

[2016-04-26 19:02] vpolouchkine commented on #1568
@lacostej is this still an issue?

[2016-04-26 19:03] vpolouchkine commented on #1569
@facundomedica is this still an issue?

[2016-04-26 19:03] vpolouchkine commented on #1570
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-26 19:03] #1570 closed

[2016-04-26 19:04] vpolouchkine commented on #1571
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-26 19:04] #1571 closed

[2016-04-26 19:12] lacostej commented on #1963
@marilyn just saw that.

Registered. Doubt I will be selected though !

"Right now, this service is only available for free apps. If you are selected to participate, we will contact you with next steps."

Thanks!

[2016-04-26 19:12] facundomedica commented on #1569
I don't know, I haven't been using Fastlane in the last months

[2016-04-26 19:14] vpolouchkine commented on #1569
Alright, feel free to open a new issue if you run into this again.

[2016-04-26 19:14] #1569 closed

[2016-04-26 19:42] jpaas commented on #1539
@vpolouchkine No it seems to have gone away. Probably on some upgrade of fastlane a while back. Thanks for following up.

[2016-04-26 19:59] vpolouchkine commented on #1539
Music to my ears. 💯

[2016-04-26 19:59] #1539 closed

[2016-04-26 20:15] sebastianbachmann commented on #3925
Hi,

i am running into the same issue trying to ```fastlane init``` a newly created app. I am able to _fix_ this problem, adding the app in _iTunes Connect_ as well.

Error Message:
_Could not find app with app identifier 'com.example.appname' in your iTunes Connect account (xxx@example.com) - Team: 84880800) An error occured during the setup process.  Falling back to manual setup!_

[2016-04-26 20:19] mfurtak commented on #4339
I have merged #4375 to make shell script execution the default choice if we detect that you're using Xcode 6.x. That will go out in the next release! 🚀

[2016-04-26 20:44] amosrivera commented on #1844
If it helps anything I just had the same issue and it turns out it had to do with my Fish terminal. I noticed you're using Fish as well and started suspecting. I rebooted my zsh setup and everything started working again. @contra

[2016-04-26 21:31] #4336 closed

[2016-04-26 21:31] asfalcone commented on #4336
This will go out in the next release of `fastlane_core`

[2016-04-26 21:43] asfalcone commented on #4347
Can you also try running your lane again with `--verbose`? Thanks @evercry!

[2016-04-26 21:47] asfalcone commented on #4335
Closing as the PR was merged and released! 🚗

[2016-04-26 21:47] #4335 closed

[2016-04-26 23:18] superarts commented on #1561
This issue is not spotted recently.

[2016-04-26 23:19] drunknbass commented on #3928
any updates?

[2016-04-26 23:51] vpolouchkine commented on #1561
Great, I'm going to close this, but feel free to open a new issue if you hit this again.

[2016-04-26 23:51] #1561 closed

[2016-04-27 01:21] goodcyg commented on #4229
Hi @TKBurner  resolve this error thanks。

[2016-04-27 01:24] goodcyg commented on #4354
Hi @TKBurner thanks
At the present I will not use GRM。Do not know GRM package syntax

[2016-04-27 01:24] goodcyg commented on #4354
Hi @TKBurner thanks
At the present I will not use GYM。Do not know GYM package syntax

[2016-04-27 02:32] siburb commented on #1547
Hi @vpolouchkine. Unfortunately I'm no longer involved with the project that was having this issue, and am not currently using frameit/deliver in any of my other projects.

Apologies for not responding earlier - if you feel that it was solved in December, then it is probably safe to just close this issue.

[2016-04-27 04:25] pavm035 commented on #4194
@mfurtak @TKBurner  Looks like promising workaround will give a try. 👍

[2016-04-27 04:59] jakunico commented on #1896
Output from tonight:

[code]

One little detail is that I always upload using my iPhone's 4G connection with Personal Hotspot through USB.

[2016-04-27 06:25] rpowelll opened #4377 "Add `message` option to the `add_git_tag` action"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I'd like to propose that the `add_git_tag` should accept a `message` option to specify a custom tag message. Right now, this action uses the tag's name with _(fastlane)_ appended. So if the ta

[2016-04-27 07:13] dholdaway opened #4378 "double sized ipa file"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

.ipa file is larger than when i run ipa build its double the size.

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Configuration Files

Pl

[2016-04-27 07:17] lacostej commented on #1568
@vpolouchkine I think there are some remaining issues with the tools and relative paths, whether they are run from fastlane or on command line. I had one with supply yesterday very similar to that one above. I haven't tested the one above but I haven't seen anything that would have hinted me at this is solved.

[2016-04-27 07:17] martinjuhasz commented on #1536
i think this was fixed in #568

[2016-04-27 07:21] martinjuhasz commented on #1536
no, i think i fixed this in https://github.com/fastlane/deliver/pull/568 (not finding the copied pull request in new monorepo)

[2016-04-27 07:29] dholdaway commented on #4378
we are building swift

[2016-04-27 07:44] dholdaway commented on #4378
i tried adding

sh "zip -d \"$IPA_OUTPUT_PATH\" \"SwiftSupport/*\""

but it only reduced it slightly

xcode - > archive > export -> gives me 10mb ipa
shenzhen ipa build -> gives me --> 33mb ipa
gym -> gives me --> 66mb

[2016-04-27 08:51] funkenstrahlen opened #4379 "How can I only upload metadata with deliver in a Fastfile?"
I want to call deliver in a Fastfile lane. However **it should only update the metadata**. I do not want to upload the `ipa` again as I want to use the `ipa` I already tested via Testflight. So it's already uploaded to iTC.

[code]

I found out the only way to prevent `ipa` uploading is to **not define the path to the ipa** when calling deliver. However when using `fastlane` **it automatically det

[2016-04-27 09:01] kordziu commented on #4347
Hi,
I have the same issue. Realized there is a problem with "notes" variable. When I get rid of it in crashlytics action call uploading works well.

best,
pawel

[2016-04-27 09:03] Ashton-W commented on #4372
`slather` looks for the config file in the working dir, which in the built-in action can be `fastlane/` instead of your project root.

[2016-04-27 09:34] funkenstrahlen commented on #4379
Is it just `skip_binary_upload: true`? Why is this so hard to find?

[2016-04-27 09:37] johanandersson commented on #1679
I was seeing this happening sporadically when having a scheme with multiple test targets. However last week I tried breaking it up into multiple schemes with one test target per scheme, and running Scan multiple times, since then I haven't seen this issue.

[2016-04-27 09:42] funkenstrahlen opened #4381 "My name from app_review_information in Deliverfile is displayed outside boxes in ITC"
### New Issue Checklist

- [done] Updated fastlane to the latest version
- [done] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I have added this to my `Deliverfile`:

[code]

After running `fastlane deliver` I see this in ITC:

![screen shot 2016-04-27 at 11 38 13](https://cloud.githubusercontent.com/assets/1441

[2016-04-27 10:00] nAviram commented on #4339
Hi @mfurtak  - I'm using **Deliver**...
The command I'm using is:
deliver --skip_metadata --skip_screenshots --ipa fileToUpload.ipa

The output I'm getting is the same, after I'm doing the workaround:
 FASTLANE_ITUNES_TRANSPORTER_USE_SHELL_SCRIPT=1
and running deliver - I'm getting this error:

[14:13:28]: The call to the iTMSTransporter completed with a non-zero exit status: 1. This indicates a f

[2016-04-27 10:54] bitomule opened #4382 "Redundant Binary Upload but using increment_build_number and Archive is in right version"
### New Issue Checklist

- [ x] Updated fastlane to the latest version
- [x ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I'm trying to upload a new build to testflight but I get:

`ERROR ITMS-90189: "Redundant Binary Upload. There already exists a binary upload with build '10' for version '1.0.7'"`

Version is

[2016-04-27 11:13] vmalyi commented on #1463
@TKBurner, yes, sure!

Here is the verbose output:

[code]

[2016-04-27 11:50] bitomule commented on #4382
Ok, after a few times it worked. Didn't change anything and worked.

[2016-04-27 11:50] #4382 closed

[2016-04-27 12:22] ben-lings-tessella commented on #4347
We are seeing the same problem:

[code]

when running the `crashlytics` action:

[code]

We run fastlane with `bundler`. Have updated to Fastlane v1.81 . This has only started happening in the last day or so.

[2016-04-27 12:50] gauravdaxini commented on #3900
Hi @TKBurner! We tried to run the cert command on the remote build server(in the workflow). However, we are not able to set the developer password in the command. Is there a parameter for password that we can add to the following command?

cert -u test@gmail.com

[2016-04-27 13:01] TKBurner commented on #4382
@bitomule Glad to hear you are up and running! Thanks for closing this out for us 👍

[2016-04-27 13:03] vamshikrishna-iitbhu opened #4383 "Multliple apps' automation"
I am able to finish the entire process using fastlane for a single app. Is it possible to do the same for a set of apps (say 30-35) ?

[2016-04-27 13:04] TKBurner commented on #4229
Closing this out! 👍

[2016-04-27 13:04] #4229 closed

[2016-04-27 13:16] crazyjooe opened #4384 "Snapshot isn't always waiting for loading indicator to disappear"
After generating snaps with Snapshot 1.12.1, I found out that sometimes it randomly skips waiting for loading indicator in status bar to disappear, which leads to screenshots with placeholders, not the desired images.
I'm using SnapshotHelper's snapshot method, which by default should wait for indicator to disappear.
Most confusing part is that there is no pattern for that, it happened randomly on

[2016-04-27 13:19] urimagisto commented on #1894
I am facing the same pilot issue for not being able to upload the changelog into "What to test" field, however when manually adding in ITC site i am able to see it reflected in testFlight app via my mobile(after the build is already uploaded). Is there anyone who managed to solve it?

I am using:
pilot 1.5.0
Xcode 7.3
EL capitan 10.11.4

[2016-04-27 13:28] urimagisto commented on #698
I am facing the same pilot issue for not being able to upload the changelog into "What to test" field, however when manually adding in ITC site i am able to see it reflected in testFlight app via my mobile(after the build is already uploaded). Is there anyone who managed to solve it through pilot fastlane tool?

I am using:
pilot 1.5.0
Xcode 7.3
EL capitan 10.11.4

running: pilot --verbose upload

[2016-04-27 13:29] Syrou opened #4385 "gradle output shows signing passwords in cleartext"
### New Issue Checklist

- [ x] Updated fastlane to the latest version
- [ x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
When running:

[code]

the variables will be printed in cleartext, this is specificly bad in CI enviroments as it's also saved in the build logs. There needs to be a way to make the gradle co

[2016-04-27 13:46] fancy42 commented on #4197
I also get this exit code.
This is the end of my log:

[code]

[2016-04-27 13:46] TKBurner commented on #3900
Hi @gauravdaxini Thanks for following up. The password is stored in the system keychain or login keychain. If you aren't being prompted for it, it is already stored on the machine, can you delete that entry?

[2016-04-27 13:48] TKBurner commented on #4347
@ben-lings-tessella Thanks for reaching out about this. Can you share the output of your lane if you add the --verbose flag to it? It'll help us look under the hood 👍

[2016-04-27 13:50] mfurtak commented on #4216
I have reproduced this locally, and will look into it. Thanks! 👍

[2016-04-27 13:53] TKBurner commented on #1463
@vmalyi Thanks for following up. We are going to look into this and see what's going on. Thanks! 👍

[2016-04-27 13:55] TKBurner commented on #4339
Hi @nAviram! Thanks for following up. @mfurtak's PR should resolve your issue. Can you update once we've made our next release?

[2016-04-27 13:58] TKBurner commented on #4381
@funkenstrahlen Thanks for reaching out. This seems like it is related to the way the page is rendering an not a Fastlane issue. Does it work on an app that you haven't used Fastlane for? Thanks!

[2016-04-27 13:59] TKBurner commented on #1679
@johanandersson Glad to hear you got up and running. I'm going to close this issue out. If we have any additional reports of Exit Code 65 in Scan please open a new issue 👍

[2016-04-27 13:59] #1679 closed

[2016-04-27 14:00] nAviram commented on #4339
Sure thing! looking forward to it... please update me when it's done.

[2016-04-27 14:01] TKBurner commented on #4379
Hi @funkenstrahlen! Thanks for following up. Yup, that's how you do it. To see the options available for an action just type fastlane action 'action name'. For example: fastlane action deliver

Thanks!

[2016-04-27 14:01] #4379 closed

[2016-04-27 14:02] asfalcone commented on #4347
Hey folks, anyone who was running into problems just in the last 6 hours or so, I know that there was a problem with the Crashlytics backend and some uploads were impacted. You can see http://status.fabric.io/ for more details, but definitely give another try to see if that resolves the issue for you!

[2016-04-27 14:06] TKBurner commented on #4372
@marcelofabri Thanks for the idea. Let's see if we get any +1's 👍

[2016-04-27 14:07] funkenstrahlen commented on #4381
I am sorry I can not test that. I only have this app in ITC at the moment.

[2016-04-27 14:08] TKBurner commented on #4378
Hi @dholdaway Thanks for reaching out. Can you share the output of when you run this lane with the --verbose flag? It'll help us look into this 👍

[2016-04-27 14:09] TKBurner commented on #1536
@martinjuhasz Awesome! Thanks for working with us 👍

[2016-04-27 14:09] #1536 closed

[2016-04-27 14:16] dgoyaldiksha commented on #4321
Hi @TKBurner Yes,I have tried deliver before spaceship,am getting issues there as well.

[2016-04-27 14:29] KrauseFx commented on #4378
That's a duplicate of https://github.com/fastlane/fastlane/issues/519, right?

[2016-04-27 14:41] TKBurner commented on #1568
@lacostej Thanks for following up, and sorry to hear that this still exists. We are going to look into this over here, but I'm also going to mark this as help wanted in case anyone wants to take a look in the community. Thanks!

[2016-04-27 14:43] TKBurner commented on #4377
@rpowelll Thanks for the idea. I'm going to mark this as a feature request and also ping the team so they know you are proposing a PR. We can discuss the idea here. Thanks! 👍

[2016-04-27 14:46] TKBurner commented on #1896
@jakunico Thanks for following up. Right now we can't take action on this since our error message is triggered by transporter's status. I'll let the team know that we should clean up this error messaging.

Thanks!

[2016-04-27 14:48] TKBurner commented on #1547
@siburb Thanks for letting us know. I'm going to close this for housekeeping purposes. Thanks! 👍

[2016-04-27 14:48] #1547 closed

[2016-04-27 14:51] TKBurner commented on #4354
Hi @goodcyg,

Can you run:
set -o pipefail && krausefx-ipa build  -s "fastlanedemo" -d "./build" --ipa "fastlanedemo_1.2.2.22_InHouse.ipa" --no-archive --verbose | xcpretty

[2016-04-27 14:55] TKBurner commented on #3928
@drunknbass Thanks for following up. We are still working on this and will update on this thread 👍

[2016-04-27 14:57] dholdaway commented on #4378
yes

[2016-04-27 14:58] TKBurner commented on #1844
Hey @Ricowere, can you let me know if you are still seeing this. I'm going to close it out for the time being. Thanks!

[2016-04-27 14:58] #1844 closed

[2016-04-27 14:59] mfurtak commented on #4339
Hi @nAviram - please give it a try by combining the environment variable with your deliver command, like:

[code]

🐚 ✨

[2016-04-27 14:59] TKBurner commented on #3925
Thanks for letting us know @sebastianbachmann! If you run into this again can you try the manual setup and share the output so we can take a look? Post that in a new issue. I'm going to close out this one as it's stale. 👍

[2016-04-27 14:59] #3925 closed

[2016-04-27 15:25] TKBurner commented on #4366
@cdunkel Thanks for following up. I'm not too familiar with AWS iOS SDK either. This seems like it's something related to your integration. Check out this page for some info on that specific error:
http://docs.aws.amazon.com/general/latest/gr/signature-v4-troubleshooting.html and this issue in their github repo https://github.com/aws/aws-sdk-js/issues/86

[2016-04-27 15:31] TKBurner commented on #4368
Hi @nmayafit Thanks for reaching out. What happens when you pipe the python command into the first cd command.

Something like cd /Users/... | python

Also, can you share the output when you run 'python flow.py https://upload.hockeyapp.net/apps/0336ea95sdgf45gtwrfg72b86 android'

Thanks!

[2016-04-27 15:32] TKBurner commented on #4363
@nmayafit Thanks for following up. I'm going to work with you on that ticket and close this one out. Let me know if you have a separate issue and we can open this one back up 👍

[2016-04-27 15:32] #4363 closed

[2016-04-27 15:35] TKBurner commented on #4330
Hi @simonarcher! Thanks for following up. This seems like it is a config issue.

 Required plug-in compatibility UUID ACA8656B-FEA8-4B6D-8E4A-93F4C95C362C for plug-in at path '~/Library/Application Support/Developer/Shared/Xcode/Plug-ins/FuzzyAutocomplete.xcplugin' not present i

Do you use FuzzyAutocomplete? We simply implement xcrun so it seems like it's not Fastlane related.

Thanks!

[2016-04-27 15:37] TKBurner commented on #4359
Hi @flexaddicted Thanks for following up. Can you add the --verbose flag to your lane and share the full output? It could be react related, but if your project is able to build in Xcode Fastlane should handle it.

[2016-04-27 15:39] TKBurner commented on #4301
@ssteinerx Thanks for following up. What exactly would you like to see, I want to make sure I fully understand before circling back with the team 👍

[2016-04-27 15:39] Nailer commented on #4166
Having this same issue since the unit test target has a version number as well.

It seems to me, even though the [initial feature request here](https://github.com/fastlane/fastlane/issues/501) correctly used -terse1, the final implementation does not.
Is this something that was lost in copy-pastery?

[2016-04-27 15:40] TKBurner commented on #4371
@marcelofabri Great suggestion, though this is obviously a serious task. We'll mark this as a feature request and see if it gets any traction 👍

[2016-04-27 15:41] mfurtak commented on #4216
Hi folks! 👋

The issue here is that Apple returns different data depending on how you ask for tester information. Counter-intuitively, when asking for a list of testers outside of the context of an app, you will find that the last three columns are filled with data.

(from someplace outside of your app directory)
[code]

[code]

The version and install data is actually relative to a particular app

[2016-04-27 15:41] TKBurner commented on #1164
@jsonfellin Thanks for letting us know. There is a timeout in the crashlytics action that is proabably what you are running into. I'm glad the VPN helped. What country is your local IP in?

[2016-04-27 15:42] TKBurner commented on #4373
@marcelofabri Great suggestion! We'll mark this as a feature request and see if it gets any traction. Hope that you have a great day and thanks for using Fastlane 😃

[2016-04-27 15:43] vpolouchkine commented on #1894
@urimagisto Can you please format your comment per https://github.com/fastlane/fastlane/blob/master/ISSUE_TEMPLATE.md? Thanks! That will help to debug this.

[2016-04-27 15:45] marcelofabri commented on #4372
@Ashton-W The problem is that the `:proj` key is required (and not that the configuration file is not found). It should be easy do to something like `cocoapods` action: https://github.com/fastlane/fastlane/blob/master/fastlane/lib/fastlane/actions/cocoapods.rb#L8

@TKBurner I'll try to create a PR in the next few days.

[2016-04-27 15:47] TKBurner commented on #4214
Hi @vikram1234 Thanks for following up and testing that. I'm going to send this around to see what could be causing this 👍 Have a great day.

[2016-04-27 15:51] TKBurner commented on #4220
Hi @cnmongrel Thanks for following up. What happens when you set: ignore_profiles_with_different_name: true

Thanks!

[2016-04-27 15:54] vpolouchkine commented on #4385
What if you pass `--quiet` to the `flags` argument?

[2016-04-27 15:55] vpolouchkine commented on #4383
Yes, `fastlane` supports multiple apps.

[2016-04-27 15:56] vpolouchkine commented on #4384
Can you please format your issue per https://github.com/fastlane/fastlane/blob/master/ISSUE_TEMPLATE.md? Thanks!

[2016-04-27 15:56] TKBurner commented on #3888
Hi @philipshurpik Thanks for following up. We will review @ravron PR soon 👍

[2016-04-27 15:57] tabuchid commented on #4166
It seems to me like `-terse1` only works if the version is the same for all of your targets. For me thats usually the case but I'm sure others have more complex workspaces.
Setup a test comparing the output of agvtool with different flags. I think the most robust solution would involve figuring out which plist to use by inspecting the scheme and then using parsing the correct version from the `-te

[2016-04-27 16:06] cdunkel commented on #4366
@TKBurner Thanks for the response!  I had actually come across the doc you referenced previously, but not the issue.  That could be helpful!  I will spend some time today or tomorrow and see if I can get some more logs from my app that might shed some light onto why the `setupSnapshot(app)` call might be causing issues.

[2016-04-27 16:14] manuyavuz opened #4387 "[Core] checking certificates fails because full path is not used"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
WWDR certificate can't be found because `cert_checker.rb` gives just the file name of the found keychain file. However, `security` command requires the full path.

PS: I've submitted a simple P

[2016-04-27 16:14] Syrou commented on #4385
While this will hide the output from gradle, it won't hide the input shell command, which is where the problem is :)

Currently this command is being issued by Action.sh(command) in the [https://github.com/fastlane/fastlane/blob/c74aced9fe5d7c1f948dd16bd200a2167ff5534f/fastlane/lib/fastlane/helper/gradle_helper.rb](url)

Possibly, this should be updated to become Actions.sh(command, log: optionabl

[2016-04-27 16:19] asfalcone commented on #4214
@vikram1234 have you tried to not specify the `metadata_path` to `supply`? That shouldn't be neccessary unless the metadata is in an unusual directory.

Can you also share a screenshot of your directory structure? Just like this please:
![image](https://cloud.githubusercontent.com/assets/1848683/14859465/3d18f968-0c72-11e6-9d7e-48f2cc6866f6.png)

[2016-04-27 16:23] Ricowere commented on #1844
@TKBurner No issues in any of our machines.

Jenkins machine: Ruby 2.2.1, terminal app, bash.
My machine: Ruby 2.2.3, iTerm, oh my zsh.

Timeout set: 600ms

[2016-04-27 16:32] asfalcone commented on #4166
This code recently [changed](https://github.com/fastlane/fastlane/commit/d95adbc306f0fd214795f4827e372c8e36143793). I'd love to get @rs17b's take on this issue to see if we can figure out a way to support all cases!

[2016-04-27 16:33] mfurtak commented on #3996
Hi folks! #4355 has been shipped as part of [`match` 0.5.0](https://github.com/fastlane/fastlane/releases/tag/match/0.5.0) 🚀

[2016-04-27 16:50] vikram1234 commented on #4214
![photo on 25-04-16 at 3 11 am 2](https://cloud.githubusercontent.com/assets/11531441/14860401/44fcf842-0cc6-11e6-8252-5e414354b2a9.jpg)

[2016-04-27 16:51] vikram1234 commented on #4214
![screen shot 2016-04-27 at 10 19 45 pm](https://cloud.githubusercontent.com/assets/11531441/14860413/5ab0daa0-0cc6-11e6-9070-5b338c08c12b.png)

[2016-04-27 16:59] kikolobo commented on #4150
I am not Baleares to fix this again. Even with new profiles... The gym command finishes successfully with no issues. The problem is with xcrun "error packaging the application"

Any clues?

[2016-04-27 17:45] asfalcone commented on #4214
@vikram1234 Thanks, that all looks fine. Curious though, what do the different colors mean in your output?

Were you able to give it a try without the `metadata_path` param?

[2016-04-27 18:03] ssteinerx commented on #4301
Just as we have:
[code]

We should have:

[code]

[2016-04-27 18:03] mfurtak commented on #4339
I've shipped [`fastlane_core` 0.42.1](https://github.com/fastlane/fastlane/releases/tag/fastlane_core/0.42.1) which contains the fix to handle Xcode 6.x automatically. 🚀

If you run `gem update fastlane_core` you should be able to pull that down, and then I believe it should work for you with no work-arounds required 🙌

Please let me know what you see!

[2016-04-27 18:03] #4339 closed

[2016-04-27 18:11] MP0w opened #4390 "Build on travis broke without changes"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Not sure if it's a fastlane bug, the build broke at some point without changes. Works when using iOS 8.3 but not on iOS 9.3.
I tested on my local machine and works perfectly but on travis the

[2016-04-27 18:16] vamshikrishna-iitbhu commented on #4383
Simultaneously? Through a single terminal window?

[2016-04-27 18:30] vikram1234 commented on #4214
thanks a lot @asfalcone, if i comment "#metadata_path: "./fastlane/metadata/" it worked to me and i can see all en-US metadata too. Is that right way?
Different colors are just Atom editor...

My lane code -

  lane :deploy do
    #gradle(task: "assembleRelease")
    #supply --apk "./build/outputs/apk/proapp.apk" --track

    supply(
        apk: "./build/outputs/apk/app_release.apk",
        #met

[2016-04-27 19:00] mfurtak commented on #4385
@Syrou Thanks for reporting this 👍

We're treating this as a high priority problem, so we'll be in touch when we have a solution.

[2016-04-27 19:09] funkenstrahlen opened #4391 "[spaceship] No support for new technique for 2 step"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

[code]

after downgrade to 0.4.0 the same happens.

[2016-04-27 19:13] mortenholmgaard commented on #3892
It results in:

Regarding not using the system ruby, I havn't because I don't even know the difference (and if I am using system ruby). I have only done what it takes to get fastlane running, and my lanes is the only ruby I have written. My only priority with ruby is to get fastlane working.

[2016-04-27 19:18] funkenstrahlen commented on #4391
I know now what changed! I enabled two factor authentication!

[2016-04-27 19:24] funkenstrahlen commented on #4391
I could fix it by disabling 2 factor again. I really would like to keep 2 factor enabled!

[2016-04-27 19:45] iwasrobbed commented on #1790
As an FYI, this happened to me during setup but the next time I tried sigh it seemed to work just fine. ¯\_(ツ)_/¯

[2016-04-27 20:00] asfalcone commented on #4214
@vikram1234 yes, it looks like "./fastlane/metadata/" is not the correct path to your metadata relative to where fastlane is being run from. Glad you're up and running. 👍

[2016-04-27 20:00] #4214 closed

[2016-04-27 20:31] asfalcone commented on #3934
@PitchLabsAsh I'm going to close this out for now. Drop a comment here and let me know if my above suggestion works for you (and if not, please your Fastfile in here so we can see what commands are being invoked)

[2016-04-27 20:31] #3934 closed

[2016-04-27 20:34] asfalcone commented on #4088
@gbejarano01 Let me know if you get a chance to try out my suggestion from above! Thanks! 👍

[2016-04-27 20:45] asfalcone commented on #4361
This PR has been accepted. Just waiting to merge since it requires a coupled `sigh` and `fastlane` release.

[2016-04-27 20:47] toolboxash commented on #3934
I have tried that and it still doesn't work

fastlane_version "1.8.1"

default_platform :ios

platform :ios do
  before_all do
    # ENV["SLACK_URL"] = "https://hooks.slack.com/services/..."
  end

  desc "Runs all the tests"
  lane :test do
    cocoapods
    scan
  end

  desc "Submit a new alpha build to crashlytics"
  lane :alpha do
	match(app_identifier: "com.autologic.vinsupport.dev", type: "

[2016-04-27 20:53] vikram1234 commented on #4214
@asfalcone @TKBurner .. thanks a lot you guys.

[2016-04-27 20:54] asfalcone commented on #3934
`"com.autologic.assistmobile" => "match AppStore com.autologic.assistmobile"`
I think this needs to be
`"com.autologic.assistmobile" => "com.autologic.assistmobile_AppStore.mobileprovision"` or whatever the actual name of the file on disk is, not the **name** but the **file name**.

Let me know if that makes any different 😸

[2016-04-27 20:58] PitchLabsAsh commented on #3934
How do we locate the filename on disk?

All the profiles are synced by “match”.

ls ~/Library/MobileDevice/Provisioning\ Profiles/

gives..

BuildServer:629cad12c28e13ae build$ ls ~/Library/MobileDevice/Provisioning\ Profiles/
02d246fd-3d3b-40df-9805-0f609104f7bc.mobileprovision	8a4cc17a-d5cf-4125-b1f3-712b71233eb4.mobileprovision
080a7922-1136-4cd9-8bfe-fc56999737e9.mobileprovision	8d12dbbe-cf3d-

[2016-04-27 21:00] toolboxash commented on #3934
sigh manage produces this..

so after performing match, how do we know the filename from the profile name?

[code]

[2016-04-27 21:02] mfurtak commented on #4385
We've merged a solution in https://github.com/fastlane/fastlane/pull/4393, and expect to release `fastlane` tomorrow to make it available for you! 🚀

[2016-04-27 21:07] silviu-geronimo opened #4394 "Gym export failed"
Hello, I have a fail message when I try to make an archive with gym. I managed to make several archived and upload to itunes connect but I think this error appeared after I updated to the last version of fastlane.

Do you know how can I fix it? Thanks!

Fastlane version: 1.82.0
Gym version: 1.6.2

### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribu

[2016-04-27 21:18] ancienttottenham opened #4395 "spaceship: Revoking certificates"
First of all, thank you for your great job! Its awesome!
I want to ask, is there a way to revoke certificates?

I created certificate exactly like in guide
[code]
but how I can revoke this certificate (or other ones)?

Thank you.

[2016-04-27 21:27] LizCira opened #4396 "New Sigh feature/ PR request: Option to download profiles with original Apple Dev portal names"
Hi, me again! :) I've got this running locally and would like to submit a PR. We're using "sigh download_all" and cron to sync our profile management on multiple build servers. There are reasons we can't set up a full "match" profile repo just yet. The is a simple flag that, when used, will keep the same profile names as those used in the Apple Developer portal.

Current behavior:
"UTT Enterprise.

[2016-04-27 21:28] vpolouchkine commented on #4383
Sequentially. You can specify different bundle ids for each tool in the Fastfile.

[2016-04-27 21:31] vpolouchkine commented on #4395
Can you try

[code]

[2016-04-27 21:32] vpolouchkine commented on #4394
Can you please format your issue per https://github.com/fastlane/fastlane/blob/master/ISSUE_TEMPLATE.md? Thanks!

[2016-04-27 21:32] gbejarano01 commented on #4088
@asfalcone Unfortunately we didn't have time to try, since we've found a workaround this is second priority now.

If it happens that we try, I'll let you know.

Thanks for helping us!

[2016-04-27 21:49] toolboxash commented on #3934
I was able to get this to work eventually by fully specifying the path to the provisioning file.

[code]

I was able to get the filename from looking at the uuid reported from match..

[code]

This is a bit cumbersome having to use the full pathname, especially when match may well update the profile.

Is there an easy script to build the filename using the environment variable "sigh_com.autologic.

[2016-04-27 22:03] vpolouchkine commented on #4390
Can you repro this with a vanilla project?

[2016-04-27 22:07] toolboxash commented on #3934
Update:

After running match it is possible to resign using the environment variable it assigns which means the resign will still work even if the profile is updated.

Here is a simplified version of the script Im using to make it clear how the path should work.
In my full version I have the profile folder in an ENV var.

It would be helpful if resign action could take the profile name rather than

[2016-04-27 22:34] ancienttottenham commented on #4395
Ah, i've figured out.
[code]

[2016-04-28 00:09] m1357l commented on #3886
@TKBurner any breakthrough on this issue? I'm am also seeing this issue, but don't know what I can do to work around it.

[2016-04-28 01:56] mgrebenets opened #4397 "[sigh] Resigning without explicit entitlements looses keychain access group information"
### New Issue Checklist

- [x] Updated sigh to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

#### Scenario 1: Resigning Expired Enterprise IPA

Input:
- Expired IPA built for Enterprise distribution (provisioning profile has expired)
  - IPA was codesigned with entitlements that included

[2016-04-28 04:23] vamshikrishna-iitbhu commented on #4383
Can I get any case studies on getting this done? I am not able to see this Fastfile anywhere actually.

[2016-04-28 05:00] MP0w commented on #4390
Actually is working again now... No idea what was going wrong

[2016-04-28 05:24] saruye commented on #4249
Thanks for looking into this! If I can test something or be of any help, let me know. Looking forward to this issue being resolved :)

[2016-04-28 05:47] julianhirt commented on #4387
Exactly same issue here.

[2016-04-28 05:57] julianhirt commented on #4387
I just have had the same issue here but I could resolve it locally.
As you I have had multiple keychains. Within your logs you can see it receives to different keychains:

[code]

Can you check if these keychains both exist? For me there was only a weird reference within the 'keychain access'. I removed the reference and it worked fine.

[2016-04-28 06:52] jsonfellin commented on #1164
I'm in Italy.  I did another release yesterday on the VPN and it worked fine.  I'll keep you posted.  Thanks!

[2016-04-28 08:03] Syrou commented on #4385
Awesome work! 👍

[2016-04-28 08:19] silviu-geronimo commented on #4394
I updated the initial message. I apologise for not doing this from the beginning.

[2016-04-28 08:35] Lcrnice commented on #3886
Occasionally happen the similar issue, I only create a empty project, but **Test execution failed. Exit status: 65** appear when UI test running

[2016-04-28 08:51] ben-lings-tessella commented on #4347
Thanks @asfalcone - looks like it was a problem with the Crashlytics backend service. I've re-run the build (without changing anything) and it's working for me now.

[2016-04-28 09:20] bencollier commented on #4059
We hit this again in a different project, again running on Jenkins. Trying all these things fixed it;

- Unticking show on all of the schemes that aren't actively used (for example, all the pods)
- Unticking `Shared` on all the shared schemes
- Reticking `Shared` on all the shared schemes
- Changing some of the Scheme settings (like the targets that should be built)

It seems that sometimes the pr

[2016-04-28 09:59] nAviram commented on #4339
it works!
thanks!!!
👍

[2016-04-28 10:17] aengel12 opened #4399 "Environmental Variables with Jenkins Slave"
### New Issue Checklist

- [Y] Updated fastlane to the latest version
- [Y] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
When i start fastlane with jenkins on an jenkins slave, it doesn't find the env variables. If i start the same command on the server, there is no problem.
If i write "export XXX=abc" in the jen

[2016-04-28 10:30] KrauseFx commented on #3934
You should have access to the full absolute path to the new profile using

[code]

Let me know if that works for you

[2016-04-28 10:33] KrauseFx commented on #1568
@lacostej Can you reproduce it? If so, could you work on a fix? 👍

[2016-04-28 10:39] rpowelll commented on #4377
Closing this as it's resolved by #4398

[2016-04-28 10:39] #4377 closed

[2016-04-28 12:52] rmccamish commented on #4216
Makes sense to me - thanks for looking into it.   I'll run pilot outside of the context of an app and filter the data.

Again, thanks!

Ron....

On Apr 27, 2016, at 11:41 AM, Michael Furtak <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi folks! 👋

The issue here is that Apple returns different data depending on how you ask for tester information. Counter-intuitively, when as

[2016-04-28 13:06] iamramin commented on #4088
Updating the xcodeporj gem using `gem update xcodeproj --pre` does indeed fix this issue (the `update_app_identifier` no longer turns `project.pbxproj` into XML), but now we've got the versioning issue with cocoapods 😞

[2016-04-28 13:23] KrauseFx commented on #4339
Glad to hear you got it resolved @nAviram 👍

[2016-04-28 13:55] TKBurner commented on #4088
Hi @iamramin Thanks for letting us know. Can you file a different ticket for this Cocoapods issue if you haven't found a solution. Thanks

[2016-04-28 13:55] TKBurner commented on #4216
Awesome @rmccamish! I'm going to go ahead and close this issue out 👍

[2016-04-28 13:55] #4216 closed

[2016-04-28 14:03] TKBurner commented on #4347
@ben-lings-tessella Thanks for following up. I'm going to go ahead and close this out. Hope you have a wonderful day!

[2016-04-28 14:03] #4347 closed

[2016-04-28 14:04] TKBurner commented on #3886
@m1357l Thanks for following up. Can you let me know if you are able to get this working when you don't have multiple targets within a scheme? Thanks!

[2016-04-28 14:06] #4385 closed

[2016-04-28 14:08] TKBurner commented on #4361
@mgrebenets Thanks again for all the work you do with us. I'm going to close this out since we accepted your PR 👍

[2016-04-28 14:08] #4361 closed

[2016-04-28 14:27] etolstoy commented on #4347
I'm still experiencing the same issue, even after multiple retries. :(

[code]