[2016-10-27 13:44] asfalcone commented on #6748
@prolog3001 Could you share the values? We might be able to update the code to include them correctly 👍

[2016-10-27 13:51] #6501 closed

[2016-10-27 13:58] asfalcone commented on #6727
@mychaelgo Take a look at the [Google API](https://github.com/google/google-api-ruby-client/tree/master/generated/google/apis/androidpublisher_v2) we use. If this API has support for timed publishing, then it is something that could be added to _supply_

[2016-10-27 14:14] ohwutup commented on #6648
@odrobnik I think we would want to keep the output folder matching the code that is in your Snapfile for consistency. While Xcode uses `nb`, we found through our testing that `no` works when passed to the simulator and on iTC.

[2016-10-27 14:14] yokoe commented on #6673
I created a small PR #6774 . This PR just adds support for exporting pkg file to gym.
Some additional PRs for deliver or fastlane will be required to support entire pkg upload process in fastlane though.

[2016-10-27 14:19] ildarsharafutdinov commented on #6769
This seems to be the reason:

[code]

[2016-10-27 15:12] asfalcone commented on #6771
@prolog3001 At this time we don't have a plan to change the structure of the _supply_ metadata. Could you describe why you'd prefer that?

[2016-10-27 15:14] asfalcone commented on #6772
@tomachi thanks for the feature request. We use the [Google Api Client](https://github.com/google/google-api-ruby-client) for interacting with Google Play. If there is a api for knowing when a version is live, this is something that we'd accept a PR for. 👍

[2016-10-27 15:41] odrobnik commented on #6648
Then there IS still a problem. If I pass no in Snapfile the sim runs in English. If I pass nn, the it runs in nn, but the folder name for delivery is incorrect!

Von meinem iPhone gesendet

[2016-10-27 15:49] bjornoss commented on #6648
We use `no` in the Snapfile and the simulator runs in Norwegian as expected.
We save our strings in the `nb.lproj` folder.

[2016-10-27 15:59] ohwutup commented on #6648
@odrobnik we see the same situation as @bjornoss. Is there any chance you could provide us with a sample project that demonstrates that issue?

[2016-10-27 16:15] odrobnik commented on #6648
The problem is not with nb, but with nn. If you pass no to sim, it does not pick up the nb localization. Our workaround will probably have to be that we switch to use nb as well.

[2016-10-27 17:17] #5637 closed

[2016-10-27 17:26] KrauseFx commented on #5066
@kevinnguy can you share the complete output?

[2016-10-27 18:31] kevinnguy commented on #5066
[code]

I've stubbed out the hash, serial number, bundle identifier, portal team ID, and bundle identifier. I can share you my log file too if needed.

Like everyone else, this works fine when I use `use_legacy_build_api`. Thanks for helping me @KrauseFx!

[2016-10-27 18:38] GabrielCartier commented on #6632
I'm getting that same exact error today. Also tried with Spaceship shell directly with no success.
[code]

[2016-10-27 18:45] kdawgwilk commented on #6632
@GabrielCartier probably due to dev portal updates?

[2016-10-27 18:47] GabrielCartier commented on #6632
Could be, in that case, Spaceship have to update their code too no?

[2016-10-27 18:52] kdawgwilk commented on #6632
With my issue it resolved itself, I would try again in a few hours

[2016-10-27 18:53] KrauseFx commented on #6632
Make sure to use the latest release of _spaceship_ 👍

[2016-10-27 18:55] KrauseFx commented on #5066
@kevinlondon

[code]

Are you using _match_? Can you submit a new issue on GitHub and run `fastlane env` to share your environment 👍  Thanks

[2016-10-27 18:57] GabrielCartier commented on #6632
I'm at `0.36.2` for _spaceship_. Also been like this the whole day. I can keep the issue alive if the issue resolve itself.

[2016-10-27 19:00] Sega-Zero commented on #6419
Just ran into the same error with all the latest fastlane tools (1.106.2) in travis instance. Had about 35 minutes of status polling, and then failed with
[code]

[2016-10-27 19:01] esetnik commented on #6419
Me too @Sega-Zero but it's because iTC is down again.

[2016-10-27 19:04] Sega-Zero commented on #6419
https://developer.apple.com/system-status/ says all systems are functional + web interface shows me my build is processing. That doesn't seem like being down.

[2016-10-27 19:08] esetnik commented on #6419
@Sega-Zero it's the same issue they were having a few days ago. It's intermittent 500 errors coming from their apis. Most of the site is working and builds will still process but when the fastlane tools are polling they will get intermittent 500 errors. Maybe we need to make the fastlane polling more forgiving. We could implement some exponential backoff and retry logic to prevent a single 500 err

[2016-10-27 19:19] kevinnguy commented on #5066
I'm not using `match` or `fastlane`. This is the command I'm using:
`gym --workspace "hero.xcworkspace" --scheme "Production"`

[2016-10-27 19:20] Sega-Zero commented on #6419
Meanwhile the build has been successfully processed, but now I have to download the symbols manually...

[2016-10-27 19:23] LeBlaaanc opened #6779 "Running `match` with appstore type is using enterprise certificate."
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

I have a lane for provisioning only, when I try to run `match` with `type: 'appstore'` it tries to use the enterprise certificate in my certificates git repo instead of what's in the distributio

[2016-10-27 19:32] kevinnguy opened #6780 "Export fails with gym - IDEDistributionSigningAssetsStep"
My output from `gym --workspace "hero.xcworkspace" --scheme "Production"`
My builds works fine when I use `use_legacy_build_api`. I'm not using `match` or `fastlane` to automate my builds (for now).

[code]
### Environment

<details><summary>

✅ fastlane environment ✅</summary>

### Stack

| Key | Value |
| --- | --- |
| OS | 10.11.6 |
| Ruby | 2.1.5 |
| Bundler? | false |
| Xcode Path | /Applicat

[2016-10-27 19:32] kevinnguy commented on #5066
https://github.com/fastlane/fastlane/issues/6780

[2016-10-27 20:06] MaximusMcCann opened #6781 "fastlane env --quiet option or --force"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Would like to run `bundle exec fastlane env` on our CI box.  piping in 'n' results in the same error.  Would like a --force option if possible :)

##### Complete output when running fastlane,

[2016-10-27 20:12] richardszalay commented on #5824
@nubbel Even more so for us. We have an app with 3 (and counting) sub brands, and our deployment process is 3-phased (testing using test APIs, testing using live APIs, app store). Using a single build artifact reduces a full deployment cycle from over an hour to 20 minutes, and we could drop that further by taking advantage of the new multiple-identifier support in match.

We currently use unsigne

[2016-10-27 20:14] mpirri commented on #5125
@tomachi Just to be clear - did you also set the PILOT_WAIT_FOR_NEW_BUILD_TRAINS_ON_ITUNES_CONNECT=1 before calling _fastlane_ to distribute your build?

[2016-10-27 20:16] mpirri commented on #6376
This issue should be fixed in the latest release of _snapshot_, version 1.16.3.  If you are still not able to generate iPhone 7/7+ screenshots with that version, let us know. I'm going to close the issue for now, however.

[2016-10-27 20:16] #6376 closed

[2016-10-27 21:12] nitindhar7 commented on #6711
@KrauseFx thanks for the fast fixes! works perfectly for me :)

[2016-10-27 21:42] KrauseFx commented on #6768
It seems like the content of `FASTLANE_SESSION` is somehow invalid, can you share how it looks like using `ENV | grep "FASTLANE"`, feel free to remove some characters of the actual content of the cookies.

[2016-10-27 21:43] KrauseFx commented on #6781
Oh wow, nice catch, thanks 👍  Working on this right now

[2016-10-27 21:48] KrauseFx commented on #6781
I just pushed https://github.com/fastlane/fastlane/pull/6782  🚀This will be in the next release

[2016-10-27 21:48] #6781 closed

[2016-10-27 21:53] syky27 commented on #5125
Hi I had same issue but when I used `PILOT_WAIT_FOR_NEW_BUILD_TRAINS_ON_ITUNES_CONNECT=1` It solved it self.

Thank you

[2016-10-27 22:06] johnknapprs commented on #6780
Could you explain your problem?  You said the build completes correctly with the legacy_api flag on. Is there a reason you do not use it?

Also similar errors have been posted to the issues board before: https://github.com/fastlane-old/gym/issues/100

[2016-10-27 22:31] KrauseFx commented on #6780
Please share the complete output when running _fastlane_

[2016-10-28 02:50] xserver commented on #5190
@TKBurner fastlane is so beautiful.

[2016-10-28 03:12] PetrosIchor commented on #6780
Could you explain your problem better?  You said the build completes correctly with the legacy_api flag on. Is there a reason you do not use it?

Also similar errors have been posted to the issues board before: https://github.com/fastlane-old/gym/issues/100

[2016-10-28 03:51] kevinnguy commented on #6780
@PetrosIchor I'm not using `use_legacy_build_api` because I saw the new gym update and this issue is based off of https://github.com/fastlane/fastlane/issues/5066#issuecomment-256742487

[2016-10-28 04:13] kevinnguy commented on #6780
@KrauseFx this is my output after running `fastlane`

[code]

Seems like my provisioning profile isn't found for some reason. This isn't a blocker for me since I can still build with `use_legacy_build_api ` but I wanted to bring up my issue since I thought `use_legacy_build_api` was discontinued after the latest gym release.

[2016-10-28 05:38] edwardlafoy commented on #6758
Having the same problem. Tried updating and openssl, no luck.

[2016-10-28 05:47] edwardlafoy opened #6784 "gym: incompatible character encodings: ASCII-8BIT and UTF-8"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

I keep getting encoding errors whenever I run a lane that has `gym`:

[code]
##### Complete output when running fastlane, including the stack trace and command used

[code]

[2016-10-28 05:48] VladimirSozin commented on #6758
I hgave the same problem

[2016-10-28 05:51] edwardlafoy commented on #6784
I'm not positive, but it looks like it's dying on the code introduced in this commit? https://github.com/fastlane/fastlane/commit/4a3eed038ced3a06e599a9e1fa3d2cf27c7be1de

[2016-10-28 06:56] hjanuschka commented on #6770
ok i am not 100% sure if this is the most elegant way to solve it but i tested it on 5 apps apps.

[code]

[2016-10-28 07:25] ildarsharafutdinov commented on #6769
In case someone else faces the issue, make sure you use default system ruby.

I had to uninstall ruby 2.3.0 in order to make fastlane work.

[2016-10-28 07:25] #6769 closed

[2016-10-28 08:06] iv-mexx commented on #6768
Sure:

[code]

To be clear: thats exactly the output I get from `spaceauth`.

In comparison with the example in https://github.com/fastlane/fastlane/tree/master/spaceship#2-step-verification, it seems that I have two additional cookies.

If manually remove the other two cookies, `match` works, but pilot fails with `[Transporter Error Output]: Please sign in with an app-specific password. You can c

[2016-10-28 08:29] nubbel commented on #5824
@richardszalay Oh wow, cool setup!

Exporting multiple ipas from a single archive is not only convenient and saves a lot of time, it is also a guarantee that the binary that goes to QA is exactly the same as the one that lands in the App Store.

[2016-10-28 08:30] fotiDim commented on #6770
@hjanuschka you sir are wonderful. Worked like a charm. I only had to alter `Spaceship::Tunes.login("email@icloud.com")` to include my ITC email and not ask for login interactively.

I really think this should be a fastlane feature.

[2016-10-28 08:45] hjanuschka commented on #6770
nice to know it helps - you can set the right env vars to get arround the fixed email@icloud.com - fastlane should named them

[2016-10-28 09:00] hjanuschka commented on #6770
@KrauseFx  i am not sure on how to add this to spaceship - so `app.live_version`  has the key's set - any idea where to start from? - after it is in spaceship - i think it would be easy  to add an action like `latest_live_build_number` - or modify `Latest_testflight_build_number` to be also capable to return the production build nr.

[2016-10-28 09:18] hjanuschka commented on #6770
ok got it -  here is the PR to add spaceship support for the build_number https://github.com/fastlane/fastlane/pull/6785

[2016-10-28 09:25] richardszalay commented on #5824
Exactly! I see you're a fan of Continuous Delivery?

[2016-10-28 13:05] Almouro commented on #6779
Same issue for me here since updating to the latest version
But we actually had a `MATCH_FORCE_ENTERPRISE='0'` in our `.env`
Removing it fixed the issue :)
Could it be related?

[2016-10-28 13:10] mcapelle commented on #5421
I have fixed my issue.
The problem happened because I have installed fastlane with the default ruby version installed on Sierra.
Even after installing the last version of ruby, fastlane was using the mac os version of ruby because the path to ruby is hardcoded in the binary.

So I have reinstalled fastlane making sure it was using the right version of ruby and now it is ok.

For those who still ha

[2016-10-28 14:15] TKBurner commented on #5421
@mcapelle Thanks for letting me know. Yes, we've seen some issues with system ruby lately. We are looking into a longer term plan for this. Thanks!

[2016-10-28 14:15] TKBurner commented on #6779
@LeBlaaanc Thanks for reaching out. Are you using the `MATCH_FORCE_ENTERPRISE` option? Thanks!

[2016-10-28 14:25] TKBurner commented on #6769
@ildarsharafutdinov Thanks for letting us know. We've seen this frequently lately and are looking into a longer term solution. Hope that you have a great weekend coming up. 👍

[2016-10-28 14:33] fedmeloni opened #6786 "jazzy: unable to find utility "xcrun", not a developer tool or in PATH"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description
##### Complete output when running fastlane, including the stack trace and command used

[code]
### Environment

Please run `fastlane env` and copy the output below. This will help us help you :+

[2016-10-28 14:38] asfalcone commented on #6765
@timothy-volvo Thanks for the report and the solution! I'd be happy to review a PR if you'd like to submit one! 👍

[2016-10-28 14:44] TKBurner commented on #6784
@edwardlafoy Can you run the `fastlane env` command and share the output? Thanks so much for working with us and using _fastlane_ 👍

[2016-10-28 14:46] TKBurner commented on #6758
@MHPtbehrens @edwardlafoy @VladimirSozin Hi! Sorry to hear about this. Can you share your full output so I can see what version of ruby is running. We've had a few bits of issues between system and managed rubies lately. Also, are you using Sierra? Did you recently upgrade? Thanks so much 👍

[2016-10-28 14:47] MaximusMcCann commented on #5125
Would really like to see that Env Var in `fastlane action pilot` :)
Cheers

[2016-10-28 15:00] TKBurner commented on #5125
@syky27 Awesome! Glad that helped 👍

[2016-10-28 15:05] TKBurner commented on #6419
@esetnik @Sega-Zero Are either of you interested in implementing something to improve our stability in the face of end point instability? That's the type of work we'd love to see 👍

[2016-10-28 15:09] Sega-Zero commented on #6419
I'd love to make a PR, but have no experience in ruby yet :(
Planning to learn it, make some practice and then try to improve some of the issues I need in fastlane.

Right now I'm ready to help with testing if you need it

[2016-10-28 15:17] TKBurner commented on #6632
@GabrielCartier Thanks for following up. Can you let me know if you are still running into this issue? It seems intermittent for the other affected users. Hope you have a great weekend coming up. 👍

[2016-10-28 15:17] esetnik commented on #6419
I don't have time at the moment but I'll look into it as soon as I can.

[2016-10-28 15:26] TKBurner commented on #6648
@odrobnik Thanks for working with us. If you can provide a sample project we'll be able to action this a lot faster. Is your workaround working for you?

[2016-10-28 15:26] edwardlafoy commented on #6784
@TKBurner https://gist.github.com/edwardlafoy/db55d21a45980f61346c83a51530beb8

[2016-10-28 15:27] TKBurner commented on #1911
@cybertk Thanks for following up on this. We'll leave it open 👍

[2016-10-28 15:34] LeBlaaanc commented on #6779
@TKBurner I use MATCH_FORCE_ENTERPRISE =1 in .env.default. What's the proper use going forward?

[2016-10-28 15:36] TKBurner commented on #6769
@ildarsharafutdinov Thanks for reaching out. Can you set the `workspace` parameter on xcexport?

[2016-10-28 15:38] TKBurner commented on #6673
@yokoe Awesome! We'll work with you there. To set an expectation, we have had a backlog of PRs lately so it might take a little while, but we will definitely address it. I really appreciate you contributing 👍

[2016-10-28 15:56] mpirri commented on #5125
@MaximusMcCann Good feedback - we think of `PILOT_WAIT_FOR_NEW_BUILD_TRAINS_ON_ITUNES_CONNECT` as a "hidden" feature flag that we are using to validate a new behavior before making it the default (and only) option. We will probably release a new version of `pilot` shortly that sets this behavior by default at which point this environment variable will go away.

[2016-10-28 15:59] TKBurner commented on #1164
@A1iAshoor Are you using cocoapods or the frameworks to integrate Crashlytics?  Does it succeed if you remove notes? Thanks!

@hernangonzalez Can you share your full input and output? I want to take a look. Thanks so much!

[2016-10-28 16:00] TKBurner commented on #6770
@fotiDim The only way to do this is through spaceship directly. Let me know if you run into any issues once you try that 👍 Have a great weekend!

[2016-10-28 16:01] TKBurner commented on #6770
@hjanuschka Nice! Thanks so much for your continued help with this 👍

[2016-10-28 16:02] triplef commented on #6673
In case it helps anyone, here’s what I came up with to enable uploads of Mac apps to iTunes Connect and also allow them to be exported using Developer ID. In both cases I’m using `xcexport` to package / sign the app, and I also had to fix a couple of paths as they were set incorrectly. Sorry I haven’t been able to track down and report the root causes of these issues.

[code]

[2016-10-28 16:05] TKBurner commented on #6639
Hi @speedy-afr Thanks for letting me know. Can you reach out to hockey about preferred proxy settings? It doesn't seem like this is a fastlane issue. Thanks!

[2016-10-28 16:06] TKBurner commented on #5421
@mcapelle Thanks for following up. Can you run `gem install fastlane` and share the full output now that you've changed your ruby version? Thanks!

[2016-10-28 16:09] TKBurner commented on #6055
@biolinh Why do you need to use the option for `provisioning_profile_specifier`? If you have manual code signing setup, what function is it serving? Thanks so much and hope you have a great weekend 👍

[2016-10-28 16:10] odrobnik commented on #6648
I moved my nn localization to nb. Snapfile has nb. output arrives in no. Works for me.

Your problem is, if nb is the only localization and you put nb in Snapfile output is put into nb.

[2016-10-28 16:10] GabrielCartier commented on #6632
Yup, today it's working! 👍

[2016-10-28 16:15] TKBurner commented on #6553
@danieljimenez On El Cap you should be able to get it to work with system ruby following the steps by @ivanicspeter92. You might need to use bundler (like `bundle exec fastlane beta`) in some cases. Let me know how it goes.

@chappejw Great point, are you using a tool to manage ruby like rvm or rebnev?

[2016-10-28 16:19] danieljimenez commented on #6553
@TKBurner running `brew install ruby` is no longer the system ruby. I mean the shipping ruby with macOS.

[2016-10-28 16:20] TKBurner commented on #6706
@nikitaame Thanks for following up. I want to send this out to the core team, but I want to make sure they can take action if possible. Can you create the most simple possible sample project that this is impacted by and share the complete project with us? That way we can dive right in.

To be specific, is this TVos specific extensions that are affected?

[2016-10-28 16:21] jlubeck commented on #1896
I'm sorry for the lack of response. I just got it again, but forgot to add the verbose... :( The problem is that it only seems to happen when you create a new version of the app inside itunes connect. And that doesn't happen quite often... I just had to do it, and missed the opportunity to get logs... sorry about that. I hope I remember next time

[2016-10-28 16:23] TKBurner commented on #6739
@stevekohls Awesome! Yeah, we'd love to see something like this in our plugin ecosystem. Hope that you have a great weekend coming up 👍

[2016-10-28 16:26] TKBurner commented on #6237
@faithfracture Thanks for following up. Did you run into this issue again? You are correct, but if you shared the project including the fastlane folder with us, we'd be able to get it tested on our end. Let me know if you still need help.

@gvarela Awesome! Let mek now if you run into this issue again.

Are there any currently affected users? We'd love to look into this. 👍

[2016-10-28 16:35] TKBurner commented on #6553
@danieljimenez Sorry, I meant the last three commands, and `xcode-seclect --install`.  Do you still get errors? Can you run `fastlane env` and past the output? Thanks so much 👍

[2016-10-28 16:36] TKBurner commented on #6641
@Muthukathiravan Thanks for following up. Did you find a viable workaround? If not share your full input and output. Hope that you have a great weekend!

[2016-10-28 16:37] TKBurner commented on #5341
@bguidolim Thanks for pointing this out!

[2016-10-28 16:37] #5341 closed

[2016-10-28 16:49] TKBurner commented on #1346
@gabzsa Do the users receive notifications when you distribute through the fabric app? Thanks for working with me on this. Hope that you have a great day!

[2016-10-28 16:58] TKBurner commented on #6747
@swl367 Did updating with` force: true` resolve your issue?

[2016-10-28 17:13] swl367 commented on #6747
@TKBurner is this separate from setting --force in my deliver prompt? Where should I set force: true for my fastfile?

[2016-10-28 17:16] ohwutup commented on #6648
Thanks for confirming that @odrobnik! Out of curiosity, is there a reason why you were using `nn` in the first place?

[2016-10-28 17:18] faithfracture commented on #6237
@TKBurner I have not had this problem again so far. I have pushed a few more tvOS builds since my last post, all of which have been successful in running pilot as part of a lane. I haven't had a chance to try it with an iOS project yet (and I probably won't for a couple weeks). My feeling is that this issue has been resolved, but if you are OK will leaving this open for a while until I'm able to t

[2016-10-28 17:22] justinmakaila commented on #5125
I mean, FWIW, once you get a build up on iTunes connect, it goes through pretty flawlessly. I just needed to use the env variable to get that initial build up

[2016-10-28 17:24] timothy-volvo commented on #6765
Sure, I see 5 other locations that use the same/similar call, should I include the fix for them as well?

$ grep -r HTTP.get *
fastlane/lib/fastlane/actions/appaloosa.rb:        presign_form_response = Net::HTTP.get_response(uri)
fastlane/lib/fastlane/actions/appaloosa.rb:        url_for_download_response = Net::HTTP.get_response(uri)
fastlane/lib/fastlane/actions/download.rb:          result = Ne

[2016-10-28 17:25] mpirri commented on #5125
@justinmakaila Thanks for info! This makes sense - the problem is that when posting a new release, iTunes connect takes a little bit of time to post the new version, and this environment variable enables special behavior that makes `pilot` wait for new releases.

Thanks again!

[2016-10-28 17:27] Sega-Zero commented on #5125
Shouldn't it be turned on by default?

[2016-10-28 17:28] TKBurner commented on #6657
@Sajjon Thanks for reaching out. Couldn't you use a naming convention on your archives to determine if it was build by gym?

[2016-10-28 17:29] mpirri commented on #5125
@Sega-Zero Yes, and it will be shortly.  This is new functionality and we wanted to be sure it worked correctly before enabling it for everyone.

[2016-10-28 17:29] asfalcone commented on #6765
I'd leave the others for now, unless you're able to test them all to confirm they're still working 👍

[2016-10-28 17:30] TKBurner commented on #6729
@lieliefengzheng Are you still running into this issue? It looks like a temporary issue with the endpoint on Apple's side. I'd love to look into this if you are seeing it consistently still. Thanks!

[2016-10-28 17:31] #4217 closed

[2016-10-28 17:32] TKBurner commented on #6705
Hi @gagaJay Thanks for reaching out. Can you run fastlane env and attach the output? Thanks. Are you still running into this issue? What happens if you don't set device_type?

[2016-10-28 17:34] odrobnik commented on #6648
@ohwutup I cannot tell you why I ended up with `nn` probably just picked one that sounded reasonable to me, as I don't know which is the more predominant language in Norway.

[2016-10-28 17:36] TKBurner commented on #6730
@ethante Thanks for reaching out about this. Can you let me know if you have been able to add other languages previously? It looks like your meta data for this new language might be structured improperly. If you add the `--force` flag does it succeed? Thanks!

[2016-10-28 17:38] TKBurner commented on #6725
Hi @choiks14 what happens if you run gem update and try again? Can you send the full output?

[2016-10-28 17:38] TKBurner commented on #5604
@lyptt Thanks for letting us know. I'll make sure we leave this open 👍

[2016-10-28 17:40] jlubeck commented on #1896
Alright! I had to upload a quick bug, and I actually got this again even on a non-new version.

Here are the full logs of the pilot step @TKBurner :

[code]

[2016-10-28 17:41] TKBurner commented on #6687
@remcohaszing Thanks for letting me know about this. Can you set your .ipa path in your Fastfile instead? That seems like the most viable workaround. I agree this isn't optimal though, are you interested in submitting a PR to get this working? Thanks!

[2016-10-28 17:43] TKBurner commented on #6688
@akkhilns Thanks for reaching out about this. Are you able to share your deliver file? That'll help a lot. Thanks!

[2016-10-28 17:43] #6689 closed

[2016-10-28 17:44] TKBurner commented on #6689
Followed up with you on the duplicated issue.

[2016-10-28 17:45] TKBurner commented on #6690
@dmitry7887 Thanks for reaching out. Can you run `fastlane run update_fastlane` and then share the output of `fastlane env`? We made a change the other day that should have fixed this. Thanks!

[2016-10-28 17:47] TKBurner commented on #6516
@honghaoz Interesting. I think that is the case. You should be able to manually set this in your build settings. You can else use the `provisioning_profile_specifier`

[2016-10-28 17:48] TKBurner commented on #4954
@tcurdt Does this problem still exist on the latest version of all tools? I'd love to look into it if it is.

[2016-10-28 18:03] TKBurner commented on #6696
@guidomb Thanks for reaching out. The behavior you are seeing is expected and not specific to your ruby setup. I've marked this as a feature request because I think finding a way to make these behave similarly would be nice, however it's important to note we can't break any existing set ups.

[2016-10-28 18:04] TKBurner commented on #6463
@jwilliams-handy Can you uninstall and reinstall the json gem to version 1.8? Thanks!

[2016-10-28 18:05] TKBurner commented on #6675
@WANGjieJacques Thanks for letting me know. Can you link your PR here? Thanks!

[2016-10-28 18:11] TKBurner commented on #6248
Can you check your repo link your match file? Is the repo empty other than the match information? Thanks!

[2016-10-28 18:15] TKBurner commented on #6736
@AndyIsaacson  Thanks for reaching out. Can you add the --verbose flag to your run of this to see if we get any more details on why the report is taking a long time to generate? Have you tried working with the --output_style option? Thanks!

[2016-10-28 18:17] TKBurner commented on #4027
@esetnik Thanks for following up. Is it at the path, /Users/xxx/Carthage/Build/iOS/Alamofire.framework/Info.plist or is that a framework plist?

Does it open in the viewer in Xcode successfully?

[2016-10-28 18:23] TKBurner commented on #5964
@xaphod Awesome! Really glad you got up and running. Ruby environments are a little odd sometimes.

[2016-10-28 18:32] TKBurner commented on #6638
@madhu-b Can you share your full input and output of the error message? I want to figure out what command is being run that is resulting in this error. Thanks for working with me and I hope you have a good weekend.

[2016-10-28 18:34] TKBurner commented on #6742
Hi @benjaminsnorris right now that's not possible in scan but it'd be an interesting PR. Would you be interested in contributing to our repo? We'd love that 👍

[2016-10-28 18:37] TKBurner commented on #5758
@jdee Did you end up submitting a PR? Hope you are doing well 👍

[2016-10-28 18:38] TKBurner commented on #6317
@rocco That's really cool. Is there a way we can integrate this into _fastlane_ so others will have an easier time too? Thanks!

[2016-10-28 18:39] TKBurner commented on #6454
@0xced Thanks! We'll work with you there 👍 👍 Have a wonderful weekend!

[2016-10-28 18:41] esetnik commented on #4027
@TKBurner that path is for the `carthage` frameworks in my project. The actual plist containing the aforementioned Crashlytics APIKey is my application's `Info.plist` and is located at the root of my project. It seems that `upload_symbols_to_crashlytics` is doing a recursive search for all frameworks in the project. Note that the `upload_symbols_to_crashlytics` still works despite logging those er

[2016-10-28 18:42] jeffremer commented on #6541
This happens for us as well and it's been consistent since we started using `match` (switched from `sigh`). Every time I want to add a device we have to nuke all the existing profiles and certificates because calling `match` (from `fastlane`) results in a new profile being added rather than just adding the device to the existing profiles.

Here are excerpts from our `Fastfile`:

[code]

We have fi

[2016-10-28 18:42] TKBurner commented on #5781
@revolter Sorry about that. I'll make sure we update the readme. Thanks!

[2016-10-28 18:43] TKBurner commented on #6419
@esetnik @Sega-Zero Awesome! Let me know if there is anything I can do to help 👍

[2016-10-28 18:45] TKBurner commented on #5912
@blackm00n Can you share the output? Also is this happening on all projects or just one specific project? Thanks for working with me and hope you have a great day!

[2016-10-28 18:55] AndyIsaacson commented on #6736
Hi @TKBurner !  Unfortunately, nothing extra comes when I add --verbose (assuming I'm doing it right `bundle exec fastlane scan --verbose`).  I haven't tried the `output_style` option, but TBH, I've been trying to figure out where the docs for these options are, and short of scouring source, haven't found a good reference.  Is there a spot where those options are documented?

[2016-10-28 18:56] brurend commented on #6786
I had a similar problem with xcrun and it was caused because I have two different versions of xcode installed (8.1 and 7.3.1).

I fixed it with `sudo xcode-select -switch /Applications/Xcode.app/`

[2016-10-28 19:15] TKBurner commented on #6756
Hi @Muthukathiravan Thanks for reaching out. You can use the --output_directory parameter to set the output, however we will still use our folder structure. You might need to run screengrab for each language separately. Thanks!

[2016-10-28 19:17] TKBurner commented on #6427
@kylejm I think this is the sort of change we'd like to see so if you are interested in submitting a PR based on your observation about id changes that could be great. Thanks!

[2016-10-28 19:20] TKBurner commented on #6626
@esttorhe Can you share the full output of one of your lanes and also share the output of `fastlane env`

[2016-10-28 19:23] TKBurner commented on #6583
@PetrosIchor Thanks so much for stepping in with help! Hope you have a great weekend 👍

[2016-10-28 19:26] TKBurner commented on #6658
@vbresults Those are great ideas. I think it's possible to store your certificate in your repo. However, you'll still need to use pem to access it.

[2016-10-28 19:29] kylejm commented on #6427
Sorry for slow response, busy preparing 2.0 release at work.

@KrauseFx I'd imagine you'll have to wait to submit still, yes. Okay cool, I'll take a look when I can :)

[2016-10-28 19:36] WANGjieJacques commented on #6675
@TKBurner  https://github.com/WANGjieJacques/fastlane/commit/62b890b1a1e1672472874020fadcc201e3a607aa
here it is.

[2016-10-28 19:52] rocco commented on #6317
@TKBurner I am not quite sure yet how _match_ fits into the picture here. I use **two** _match_ calls just before the code block above - one with type "development" and one with type "adhoc" to get appropriate provisioning profiles and ENV vars, then I am setting these provisioning profile's values to "Signing (Debug)" and "Signing (Release)" sections (as called in Xcode) using similar code as abo

[2016-10-28 20:12] fedmeloni commented on #6786
Tried this method, but no solution!!

[2016-10-28 20:13] gabzsa commented on #1346
Thanks for the reply. Yes, they do receive notifications when I do it through the Fabric app.

[2016-10-28 20:18] hjanuschka commented on #6770
@fotiDim there we go here is the PR to include a fastlane action for this 👍
https://github.com/fastlane/fastlane/pull/6790

[2016-10-28 20:21] TKBurner commented on #6191
@mangofever Really glad to hear you got up and running. We are looking into improving the way this fails. Thanks!

[2016-10-28 20:23] TKBurner commented on #6525
@MattCheetham Interesting. That shouldn't be the case, but maybe something is weird here. Let me know what happens with the change. Thanks!

[2016-10-28 20:25] TKBurner commented on #6752
Hi @AlexTatarinchik Thanks for your question. Right now this isn't possible but I'll mark this as a feature request. Hope you have a great weekend.

[2016-10-28 20:26] TKBurner commented on #6753
@AlexTatarinchik Thanks for your idea. Right now we aren't planning on implementing this. Can you let me know your use case, I'd be interested.

[2016-10-28 20:34] KrauseFx commented on #6753
Why do you want to enable/disable encryption for _match_?

[2016-10-28 20:40] KrauseFx commented on #6752
This is currently not the case, as OpenSSL will encrypt the file every time, with a different hash. Why is this a problem?

[2016-10-28 20:46] TKBurner commented on #6780
@kevinnguy Are you using manual code signing? Are you able to successfully export in Xcode? Thanks and have a great weekend 👍

[2016-10-28 20:47] KrauseFx commented on #6648
Great to hear this got resolved 👍

[2016-10-28 20:48] KrauseFx commented on #6541
Hey everyone, we just pushed a new release of _match_, that should automatically repair provisioning profile. Let us know if that works 👍

[2016-10-28 20:54] AlexTatarinchik commented on #6752
Before adding of coma separated input for app_identifier, I had a big bash script with more than 300 match calls for every bundleID and type(adhoc, development, appstore). The git history was grown in size. The repo cloning time was grown. Every match call was re-encrypting all repository items. I think that is good approach to see in git commit only the real file changes.

Thank you for coma sepa

[2016-10-28 20:56] AlexTatarinchik commented on #6753
The profiles and certificates are  stored on the private secure git server. Nobody have access to this git server without permission. Why I should use additional security level to protect profiles an certs?

[2016-10-28 21:49] kevinnguy commented on #6780
@TKBurner I manually assign my provisioning profiles in Xcode and I'm able to successfully export in Xcode. This is what my Fastfile looks like:

[code]

[2016-10-28 21:50] #5909 closed

[2016-10-28 22:12] KalebKE opened #6791 "Google Play Store APK version code conflicts between tracks..."
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

**TLDR->** I expect APK's with a higher versionCode to automatically deactivate versions in preceding tracks with a lower versionCode.

S'pose the APK in Alpha has versionCode 1. I want to uploa

[2016-10-28 22:37] MaximusMcCann commented on #1550
Same thing... Still see
![image](https://cloud.githubusercontent.com/assets/1643285/19824449/2a2832c0-9d35-11e6-8e38-f0205828e92b.png)

My Deliverfile

[code]

### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when runni

[2016-10-28 22:39] MaximusMcCann commented on #5542
Same thing... Still see
![image](https://cloud.githubusercontent.com/assets/1643285/19824449/2a2832c0-9d35-11e6-8e38-f0205828e92b.png)

My Deliverfile

[code]

### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when runni

[2016-10-28 23:27] jdee commented on #5758
@TKBurner I haven't yet. I did something for this at work and wanted to clear it with management first, just to be certain. There's not too much to it. Once I get the go-ahead, which sounds almost certain, I should be able to finish it off quickly.

[2016-10-28 23:45] vbresults commented on #6658
@TKBurner so match to store it, then `pem(match:true)` or something similar?

[2016-10-28 23:46] dtzar commented on #6758
I am also experiencing this exact problem on the latest updated/patched Mac OSx.  It appears when you do a run brew update && brew install ruby and then run sigh again, it doesn't try to use the latest version of ruby. Exact same output as @MHPtbehrens

[2016-10-29 07:21] JustinJiaDev commented on #6124
@TKBurner Any update? Currently we are using fastlane to manage 40+ iMessages sticker pack apps. It would be great if we can also use fastlane to upload iMessage screenshots!

I tried to use `Surge` to monitor the network requests.

[code]

[2016-10-29 08:22] remcohaszing commented on #6687
Commenting out the ipa path worked for that single occasion I've ever needed this so far. :wink:

I've never written any Ruby except for Fastlane configuration files. So no, sorry, I won't be able to make a PR.

[2016-10-29 08:33] JustinJiaDev commented on #6170
Same issue. I managed to workaround it by specifying all the required submission information. But I think it's `fastlane`'s bug. Maybe `fastlane` should default everything to `false`.

[2016-10-29 09:32] bes commented on #6757
Any help on this would be greatly appreciated!

[2016-10-29 13:40] tcurdt commented on #4954
@TKBurner haven't dared to upgrade since.

What is the latest version of pilot? Was there another release since 1.11.0?

[2016-10-29 14:07] #4162 closed

[2016-10-29 19:33] lakamsani opened #6795 "how to get XCode user defined settings in a lane"
### New Issue Checklist
- [X ] Updated fastlane to the latest version
- [ X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

How can I get the value of a user defined setting in my Xcode project for use in a lane? Let's call it MY_CUSTOM_ID for discussion. It is printing the variable in the gym log file (under ~/Lib

[2016-10-29 22:15] GoodMirek opened #6796 "sigh: ambiguous option: -f"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
sigh's help says -f should work as --force
However, it is not the case. While --force works, -f does not.

##### Complete output when running fastlane, including the stack trace and command use

[2016-10-30 04:32] b3ll commented on #6768
+1 can't use travis without this happening

[2016-10-30 04:35] renannery commented on #6791
The same error here `Google Api Error: multiApkShadowedActiveApk: Version 1320055 of this app can not be downloaded by any devices as they will all receive APKs with higher version codes`

[2016-10-30 07:29] hypery2k commented on #6791
having the same error

[2016-10-30 07:46] A1iAshoor commented on #1164
@TKBurner hey man, I used to use the framework but when it started to fail, I switched to cocoapods `crashlytics_path: "./Pods/Crashlytics"`

I haven't tried without notes, will give is a shot now, otherwise I'll use @hernangonzalez approach, thanks for sharing mate.

[2016-10-30 08:15] patricks commented on #6690
@TKBurner it looks like version 1.16.3 of snapshot fixes the problem 👌.

[2016-10-30 16:13] Urkman commented on #6758
I have the same problem...
Still no fix?

[2016-10-30 18:36] #5615 closed

[2016-10-30 18:46] #5396 closed

[2016-10-30 19:06] #5916 closed

[2016-10-30 19:07] #5381 closed

[2016-10-30 19:11] KrauseFx commented on #6796
[code]

[code]

doesn't list `-f`, I'll add it for the `:force` parameter 👍

[2016-10-30 20:06] #5811 closed

[2016-10-30 20:16] #5754 closed

[2016-10-30 20:26] #5796 closed

[2016-10-30 20:35] #5786 closed

[2016-10-30 20:45] #5707 closed

[2016-10-30 20:56] #4821 closed

[2016-10-30 22:50] GoodMirek commented on #6796
`sigh manage --help` documents it.

[code]

[2016-10-30 23:03] pedro380085 opened #6799 "Register new Pass Type ID"
Following this question https://github.com/fastlane/fastlane/issues/2067, is it possible to register new Pass Type IDs using fastlane? I'm aware that there is support to build upon already registered ids, but how can I create them automatically for every new app? Thanks,

[2016-10-31 01:16] #6796 closed

[2016-10-31 03:18] samcheuk commented on #6758
Got same issue when I updated openssl ...

[code]

[code]

P.S. I got success `sigh` in another mac
[code]

[2016-10-31 04:00] GabLeRoux commented on #4208
Same problem here, I think this is a problem when running `gym` with a custom a `project` parameter specified.

When I run from my `Fastfile`, I get the following:

But when I cd into my custom build folder (`builds/ios/`), I run

    gym

Asks me which scheme to use:

And it succeeds. Sounds like there's still a problem whit paths

[2016-10-31 04:05] derrickshowers commented on #6171
I'm running into the same issue as @emendamus when using Fastlane with my CI tool ([Bitrise.io](https://github.com/bitrise-io/steps-deploy-to-itunesconnect-deliver)) so I don't really have the option to modify anything locally. Are there any work arounds for this?

Two Factor needs enabled for anyone wanting to use the new unlock macOS via Watch feature on Sierra, so this bug will soon be occurrin

[2016-10-31 04:13] #5962 closed

[2016-10-31 04:17] GabLeRoux commented on #5341
I was looking for this too. I use fastlane to automatically sign and send an ios project generated by Unity3D. I was able to use it like this:

[code]
[code]
Worked 🎉

Thanks to bguidolim answer, I also looked at other commands. I found that `gym` uses the parameter `project`.

[code]

But looks like the linker fails for me with this custom `parameter` as described here:
https://github.com/fastlan

[2016-10-31 07:11] Urkman commented on #6758
For me, I get the same error as above. Showing, that it uses "/Library/Ruby/Gems/2.0.0".

But here are my versions:
 - ruby --version
ruby 2.3.1p112 (2016-04-26 revision 54768) [x86_64-darwin13]

 - openssl version
OpenSSL 1.0.2h  3 May 2016

[2016-10-31 07:15] bobbeat commented on #6758
@samcheuk
# Load rbenv automatically by appending
# the following to ~/.bash_profile:

eval "$(rbenv init -)"

[2016-10-31 07:35] hirad opened #6801 "Scan completely changes the project.pbxproj file"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Running scan completely modifies the project file. This side effect is unexpected from a tool aimed at testing. Also, the regenerated project file causes issues with `increment_build_number` b

[2016-10-31 09:17] akkhilns commented on #6688
`The diacritic letters ä, ö and ü are used to indicate the presence of umlauts (frontalizations of back vowels).`

This is the content in my description.txt file. Accented characters in the description file. Without this characters they are working fine.

[2016-10-31 09:27] A1iAshoor commented on #1164
Not working `sh "./Pods/Crashlytics/submit XXX XXX -ipaPath ./XXX.ipa -emails XXX -notifications YES"` :(

[2016-10-31 11:58] dmitry7887 commented on #6690
It works after update. Thank you

[2016-10-31 12:05] jeeftor opened #6802 "Could not find proper version of fastlane"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

When ever i run fastlane it says:

I know this is a ruby issue:

[code]

Any idea where my missing reference to 1.101.0 would be??  I'm confused.  Thanks!

This also only occurs in ONE of my f

[2016-10-31 13:39] esttorhe commented on #6626
@TKBurner `fastlane env` doesn't seem to be a recognisable thing

[code]

[2016-10-31 14:33] bes commented on #6757
![Hello?](https://media.giphy.com/media/TAqYM2x2WHoT6/giphy.gif)

[2016-10-31 14:36] ribbon-libs opened #6803 "Gym exit status 134 - Xcode 8.1 - Sierra 10.12.1"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Fastlane worked perfect from last 3 weeks ago, but after upgrade everything it's very hard for release my App to AppStore.

And now when I run 'fastlane release' gym exit with status code is 1

[2016-10-31 14:46] marbetschar opened #6804 "Couldn't find bundle identifier"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

If i run `fastlane` it always fails with complaining the app does not exist. Unfortunately It also can't create it if I use the produce statement, since then it complains that the app name is

[2016-10-31 14:48] marbetschar commented on #6804
And if I run the suggested `produce -u apple@mandelkind.swiss -a org.mandelkind.Valletti.watchkitapp.watchkitextension --skip_itc` I receive the following. Don't know which App Name to use in order to finish the command correctly (everything I've tried failed):

[code]

[2016-10-31 15:30] cargath commented on #6758
I'm having the same issue. Tried it on multiple Macs, with multiple Ruby / OpenSSL configs, works on some, but i can't get it to work with one of the working configurations. Using Ruby via Homebrew, i get

    gem install fastlane
    ERROR:  While executing gem ... (TypeError)
        no implicit conversion of nil into String

[2016-10-31 16:28] allaire commented on #4150
@TKBurner I only see this, which is unresolved: https://github.com/fastlane/fastlane/issues/6520

[2016-10-31 16:42] suzhaev opened #6805 "Application specific password seems wrong"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I turned on 2fa auth for my apple id.
I tried running my fastlane script this evening and received this error:

##### Complete output when running fastlane, including the stack trace and comma

[2016-10-31 17:01] xNekOIx opened #6806 "Match can't find foreign branch when shallow clone option used"
fastlane 1.106.2

### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Generate new signings using Match in the not default branch.
`bundle exec match appstore --git_branch not_default_branch`

Install them with `--shallow_clone` option.
`bundle

[2016-10-31 17:08] xNekOIx commented on #6806
Suppose issue is in this line
https://github.com/fastlane/fastlane/blob/1.106.2/match/lib/match/git_helper.rb#L126

When shallow clone repo `git branch --list origin/#{branch.shellescape} --no-color -r` returns nothing.

Related info:
http://stackoverflow.com/questions/23708231/git-shallow-clone-clone-depth-misses-remote-branches

[2016-10-31 17:41] edwardlafoy commented on #6784
Any ideas here? @TKBurner

[2016-10-31 17:56] nikitaame commented on #6706
I've figured out what the problem was.

When running pod install,  -lPods-Prod - [APP_NAME] - TopShelf.a was being generated in the Frameworks folder of the project workspace. When deleted the fastlane build would work once again, until pod install would be run.

[2016-10-31 18:02] TKBurner commented on #6690
@patricks @dmitry7887 Awesome! Glad to hear you got up and running 👍 👍

[2016-10-31 18:17] KrauseFx commented on #6802
I assume you have a `Gemfile` somewhere? Can you run `[sudo] bundle install`?

[2016-10-31 19:45] hjanuschka commented on #6805
have you read the error message, telling you what todo for 2fa enabled accounts?

see here https://github.com/fastlane/fastlane/tree/master/spaceship#2-step-verification for a detailed howto on using 2fa - even on CI

[2016-10-31 20:13] hjanuschka commented on #6804
@marbetschar you can use whatevername you want it to be - it is used to find the app  inside apple developer app id portal.

in your case  i would use something like `Valletti watchkitextension`

[2016-10-31 20:23] marbetschar commented on #6804
@hjanuschka that's exactly what I've tried yesterday - but it didn't worked.
Today it does, I don't have any clue why...!?

[2016-10-31 20:23] #6804 closed

[2016-10-31 20:25] hjanuschka commented on #6804
maybe the itunes api was down? - would be nice to get the full output of produce in the error-case.

[2016-10-31 20:26] marbetschar commented on #6804
maybe. I'll post the entire output if the error occurs again. As up now, everything seems to be back at normal again...

[2016-10-31 20:33] reidmain commented on #6249
Sorry @TKBurner for not responding to this. We were in the middle of a Swift 3 migration and I had no time to look at anything else. Now that things have settled down and everything is building again against Xcode 8.1 I'll try to run this command today.

[2016-10-31 20:38] hjanuschka commented on #6795
i think that the `export` inside the log is printed by `xcodebuild` itself - wich is not a part of fastlane (atleast not directly) - i guess.

can you provide a trimmed-to-essentials sample project? so we can see where you set `MY_CUSTOM_ID` ?

[2016-10-31 20:48] hjanuschka commented on #6757
we are actually using - automatic codesigning for development - and set the prov.-profile-specifier to `$(sigh.....)` match env. var for `release` configuration.

having "auto codesigning" checked - development works on all dev-stations 👍
on CI - we toggle the checkmark to off - so it uses manually signing - and then the `$(sigh....)`  comes into the game - wich sets the prov-profiles to the ones

[2016-10-31 21:00] hjanuschka commented on #6626
you should upgrade fastlane - the `env` is only available since **1.106.1**  -> https://github.com/fastlane/fastlane/releases/tag/1.106.1

is your `FASTLAN_PASSWORD`  maybe set to value that is just wrong?

[2016-10-31 21:01] lakamsani commented on #6795
@hjanuschka  you may be right. The nice thing is that xcodebuild is doing the required scheme specific variable expansion (in this case NEW_RELIC_ID) that I 'm unable to get via the get_info_plist_value action even if I can get past the problem of dynamically building the target specific plist path.

Trimmed project is a bit of work but here are 3 semi-anonymized screenshots that might convey my s

[2016-10-31 21:07] lakamsani commented on #6795
I should add that if Fabric is much better at handling multiple apps compared this New Relic complication with multiple keys but our apps need this data in  both for various reasons.

[2016-10-31 21:27] suzhaev commented on #6805
@hjanuschka yes, i did it before. After success auth and run fastlane i'we got an error

`[00:24:47]: Fixnum is not a String

+------+------------------+-------------+
|           fastlane summary            |
+------+------------------+-------------+
| Step | Action           | Time (in s) |
+------+------------------+-------------+
| 1    | default_platform | 0           |
| 2    | cocoapods

[2016-10-31 21:32] hjanuschka commented on #6795
ok got you, yeah me too thinks that fabric is eaysier to handle, but anyway - its not the tool you use so - lets try it  👏

you can use the `xcodeproj` gem - than something like this would work (i guess, as said without a sample project wich i can clone - its hard to 100% verify)

[code]

you have to adjust the target and config - and probably use `.inspect` on `data.target('example').config('Rele

[2016-10-31 21:33] akaralar commented on #6805
I'm having trouble with a 2FA protected bitbucket account as well. Reading and writing to remote both via https and ssh works ok with the match repo when I do `git clone`, but fastlane can not authenticate. The interesting thing is I was able to authenticate a few hours ago.

[2016-10-31 22:02] reidmain commented on #6249
@TKBurner nope I have the same issue. This command looks like what happens if I have `skip_build: false` set which I don't. In accordance with @mc7h's comment about I added `skip_build: true` to my Fastfile which made it so that I don't build the app twice before running the tests.

[2016-10-31 22:26] #5617 closed

[2016-10-31 22:29] lakamsani commented on #6795
Thanks for that suggestion. Somehow your code does not work in a lane. Gives an error like this:

Fastfile:398:in `block (2 levels) in parsing_binding': [!] undefined method `target' for #<Xcodeproj::Project:0x007fee8b99f7d8> (NoMethodError)
Did you mean?  targets

If I change it to targets it says I need to supply a integer index into it. I looked up docs but didn't find much. After some trial an

[2016-10-31 22:36] hjanuschka commented on #6795
hmmm - ok seems to be i was reffing to another gem :D `xcodeproject` instead of `xcodeproj` - seems to be a fork - bet

[code]

[2016-10-31 22:40] lakamsani commented on #6795
yes. that works. thanks.

[2016-10-31 22:41] hjanuschka commented on #6795
awesome 🚀 , glad it helped!

[2016-10-31 22:46] milch commented on #6768
@iv-mexx I'm trying to replicate your issue, however `match` always seems to be working for me. Can you try clearing `~/.spaceship/<email>/cookie` and running `spaceauth` again?

Also, are you using Two Factor Authentication (set up on an iOS device or the System Preferences on macOS) or Two Step Verifitcation (set up on the appleid.apple.com)?

[2016-10-31 23:21] milch commented on #6803
It seems there is something weird going on with your `ruby` environment, since both `2.3.0` (installed via `rvm`) and `2.0.0` (provided by macOS) are present in your backtrace. Could you run `fastlane env` and provide that output please?

[2016-10-31 23:46] #5593 closed

[2016-11-01 00:05] jdee commented on #5758
@TKBurner It was approved, and I have a branch ready to go with basic functionality. I was about to submit a PR when I read that Fastlane doesn't accept new actions, which is what I had planned here. Do I need to set this up as a Plugin? That looks like it means a separate gem. The branch is here https://github.com/jdee/fastlane/tree/update-settings-bundle.

[2016-11-01 00:37] jdee commented on #5758
I opened a PR. Please close it if need be, and I'll set up a plugin.

[2016-11-01 02:37] ribbon-libs commented on #6803
@milch Thanks for your reply!

Result of 'fastlane env' was entered above, please checking end of post!

I think issue is belong ruby environment but I don't know how to fix that, do you have any suggestion?

[2016-11-01 02:52] zaumreit commented on #5629
@KrauseFx @TKBurner Thank you for your kindly help. We will try fastlane again when my team decide to adopt fastlane in the near future. :)

[2016-11-01 03:22] nicbarker commented on #1655
Just an FYI, I'm using react-native and discovered that it comes pre bundled with a standard unit test called `- (void)testRendersWelcomeScreen` - For me it was actually this test that was hanging, not the unit tests. Deleting the unit testing target fixed the problem for me.

[2016-11-01 04:31] lakamsani commented on #6795
@hjanuschka  while that worked in a test lane, the xcodeproject gem seems to trigger a conflict in another lane where gym is used. here's the error. I have gym 1.11.3. I 'm going to stay with my solution of parsing the gym build log for now. You might be able to reproduce this easily in a test project. Just try to invoke gym with the xcodeproject-0.3.13 gem installed. If you remove xcodeproject ge

[2016-11-01 04:38] lakamsani commented on #6795
Seems like xcodeproject is somewhat older and not actively maintained.
https://rubygems.org/gems/xcodeproject/versions (last version at 0.3.13 in dec, 2014)

whereas xcodeproj seems to be more actively maintained.
https://rubygems.org/gems/xcodeproj/versions (last version 1.4.0 a couple of days ago).

Sounds like that older xcodeproject doesn't play well with gym. I will look into solving this (lo

[2016-11-01 05:12] lakamsani commented on #6795
Here is another approach that does not involve importing anything extra and does not involve parsing gym log file.

[code]

[2016-11-01 05:12] #6795 closed

[2016-11-01 05:21] sainttail opened #6810 "Call update_info_plist follow by set_info_plist_value result in bplist plist file"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

When I run actions

[code]
Somehow it changes normal xml `plist` to `bplist` and causes the consequence action that related to reading `plist` file broken

If I either run only one of the abov

[2016-11-01 07:15] lakamsani opened #6811 "is it possible to supply a file to the notes field in app_review_information of deliver?"
### New Issue Checklist

- [x ] Updated fastlane to the latest version
- [ x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Is it possible to set notes in the app_review_information hash of deliver to a file say with File.read('file.txt')?  Most examples shown show in line text.
[code]
##### Complete output when

[2016-11-01 07:28] Muthukathiravan commented on #6641
some times if device does not have any sdcard means,its search for remote object location.sometime its not search any location.really its confusing..

[2016-11-01 08:20] hlung commented on #4621
@philipshurpik omg your suggestion works! delete pp and recreate

[2016-11-01 09:39] shrutigoyal7032 opened #6813 "What is the pricing scheme for Fastlane ?"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Environment

Please run `fastlane env` and copy the output below. This will help us help yo

[2016-11-01 09:52] GavinRooney opened #6814 "Missing password for user running in non-interactive shell"
### New Issue Checklist

- [-] Updated fastlane to the latest version
- [-] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I am trying to use jenkins with a master/node config. The build is to happen on the node machine. Fastlane is installed on the node machine. I ran fastlane env and added details below from nod

[2016-11-01 09:58] prolog3001 commented on #6771
Many of our app data just need some simple text replace... and on a single file it is much much easier.

[2016-11-01 11:07] lucabartoletti opened #6815 "Match stuck cloning repo"
### New Issue Checklist

- [x ] Updated fastlane to the latest version
- [x ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

If i run any match command it get stuck trying to clone the signing repo.

For example if I run `match nuke development --verbose`

[code]

This is what i see when i kill match

[code]

If o

[2016-11-01 11:23] ConfusedVorlon commented on #6333
any word on this?

[2016-11-01 12:34] hjanuschka commented on #6815
can you run the clone manually?

[code]

to see if there is any git error behind it.

[2016-11-01 12:35] tcurdt commented on #5125
I already have builds in iTunes Connect - just none for that version yet.
I am also seeing this with fastlane `1.106.2`:

[code]

The upload went fine and is now available in iTunes Connect - only fastlane failed.

[2016-11-01 12:36] lucabartoletti commented on #6815
Yes, As i wrote in the description above, If open another terminal and i run the same clone command than it works.

I can see this problem on my laptop and on the CI machine. Same behaviour

[2016-11-01 13:23] lucabartoletti commented on #6815
Update now it started to work again. But is still stuck for a long time (an hour) on

`remote: Counting objects: 120918, done.`

If I run the git clone command manually it works smoothly

[2016-11-01 13:24] lucabartoletti commented on #6541
Thanks, I'll test it soon

[2016-11-01 13:24] jeeftor opened #6816 "What is Artifactory - Artifact properties hash"
@koglinjg I was interested in using the Artifactory plugin but I'm unclear how to set properties.  The documentation just says "Artifact properties hash" - could you explain what this means.  What hash algorithm do I use etc?

[2016-11-01 13:51] sogko commented on #5100
Hi @vpolouchkine

I'm wondering if there is a chance that this might get another look, it seems that something has changed since the last time this issue was reviewed.

I've investigated into the requests for enabling/disabling services in the Dev Portal (via `/account/ios/identifiers/updateService.action` and found the following services maps to the `featureType` value

Service Name | `featureTyp

[2016-11-01 14:06] sogko commented on #5614
cc @vpolouchkine
Related to #5100

[2016-11-01 14:10] suzhaev commented on #6768
@milch same issue.
Two Factor Authentication

Okay. I cleaned cookie. Run spaceauth again, then run fastlane:

[code]

[2016-11-01 14:31] gcamp opened #6818 "Pilot : submit for external review crashes when it's currently in review or already approved"
I'm using `Pilot::BuildManager.new.distribute(config)` directly in my Fastfile. Not sure if this is bad practice but it was my best way to reuse code from Pilot and not re-implement everything myself using spaceship.

There's a problem with how pilot is handling the submit for external review part. Here is the current timeline of events :
- Submit a beta for a new build train.
  - The call for `cl

[2016-11-01 14:33] mpirri commented on #5125
@tcurdt Can you clarify what was on the `...` lines? You should have seen something like `New application; waiting for build train to appear on iTunes Connect` there if you properly set the `PILOT_WAIT_FOR_NEW_BUILD_TRAINS_ON_ITUNES_CONNECT` environment variable.

[2016-11-01 14:42] tcurdt commented on #5125
@mpirri there was just the variable dump along the lines of:

[code]

Why do I need to set `PILOT_WAIT_FOR_NEW_BUILD_TRAINS_ON_ITUNES_CONNECT` - I didn't have to do that before. And what is "properly set"?

[2016-11-01 14:48] mpirri commented on #5125
@tcurdt We have some prototype code to fix this issue in the released version of `pilot`. To enable it, you set the `PILOT_WAIT_FOR_NEW_BUILD_TRAINS_ON_ITUNES_CONNECT` environment variable.  We will be releasing a version of `pilot` with this code enabled by default shortly.

[2016-11-01 14:51] jlubeck commented on #5125
hey @mpirri I wonder if this ticket is related? I know it's a different error, but also related to uploading with pilot: https://github.com/fastlane/fastlane/issues/1896

[2016-11-01 14:52] falcon283 commented on #6419
I'm again receiving the error "ITC.response.error.OPERATION_FAILED"
My fastlane build waited 20 minutes the processing and then I received the ITC error and fastlane failed, but the test flight build is on test flight as usual.

I just disabled the pilot build validation (PILOT_SKIP_WAITING_FOR_BUILD_PROCESSING) and submitted another build and all is good.

Any news about it?

[2016-11-01 14:54] mpirri commented on #5125
@jlubeck Interesting thought - I think probably not the same problem, because in that ticket the upload doesn't succeed, whereas here, the upload is successful, but the build never appears on iTunes Connect.

[2016-11-01 14:58] jlubeck commented on #5125
@mpirri, on that ticket the upload IS successful. Not the first one, but the retry. That is what the bug is about, that even though it eventually succeeds, pilot is still throwing an error.

[2016-11-01 15:02] mpirri commented on #5125
@jlubeck Okay, let me look into that one a bit further. I still suspect that the line `ERROR [2016-10-28 13:27:40.06]: The file, c65c990af6831864010a0b1b8f09739c.ipa, did not complete its upload.` implies a different error, but I'll see what I can learn.

[2016-11-01 15:09] TKBurner commented on #6784
@edwardlafoy Thanks for following up. Can you let me know if you are passing any special characters into the plist? It looks like that is the problem here. 👍

[2016-11-01 15:14] edwardlafoy commented on #6784
@TKBurner No - I think it's just trying to create the content here:
[code]

[2016-11-01 15:24] TKBurner commented on #6806
@xNekOIx Hope you are doing well! Any chance you want to submit a PR to fix this? We'd be really interested. Thanks!

[2016-11-01 15:28] xNekOIx commented on #6806
@TKBurner I'd glad to. but have no idea how to fix it so far. 😿

[2016-11-01 15:44] hjanuschka commented on #6815
hmmm can you run it with `--verbose` - i guess there are many files in it. and the decryption takes time ?

[2016-11-01 15:59] TKBurner commented on #6805
Hi @suzhaev Check out https://github.com/fastlane/fastlane/tree/master/spaceship#2-step-verification for steps of setting this up. Thanks!

[2016-11-01 16:02] TKBurner commented on #4150
@allaire Sorry about that. It looks like this is on the endpoint side. Follow along on our other thread. Thanks!

[2016-11-01 16:05] suzhaev commented on #6805
@TKBurner already read it

[2016-11-01 16:06] TKBurner commented on #6758
@cargath Thanks for following up. Are you on Sierra? Can you run `fastlane env` and share the output? Can you try using system ruby rather than a managed ruby? Thanks! We are looking into a longer term solution and should have updates soon 👍

[2016-11-01 16:13] TKBurner commented on #6803
@ribbon-libs Thanks for following up. Can you install open-ssl 0.9.8 and let me know how it goes? Thanks!

[2016-11-01 16:15] bes commented on #6757
Thank you @hjanuschka! I saw your answer/post in another similar thread while googling (before posting my question), I will implement it that way for now.

I still have the feeling that this should be addressed by the fastlane team, especially since I followed all the guides properly (or at least that's what I think).

Some ways to address this issue, from the fastlane team, would be:
* Update the

[2016-11-01 16:16] #5866 closed

[2016-11-01 16:16] TKBurner commented on #6626
@esttorhe Run `fastlane run update_fastlane` first. Thanks!

[2016-11-01 16:18] esttorhe commented on #6626
I will do that but I think you guys are deviating from the issue; this has been present since A LONG time ago and I'm almost 💯 the issue is still there unless someone actually addressed it.

I'll update and try to post the new stuff in here but I doubt that's going to be today since we are almost at our EOD.

[2016-11-01 16:22] TKBurner commented on #1164
@A1iAshoor Thanks for following up. Can you add the --verbose flag to your command so I can take a look at the output? Thanks!

[2016-11-01 16:23] TKBurner commented on #6688
Thanks! Can you provide a sample project effected by this issue so I can send this over to the core team? Thanks!

[2016-11-01 16:26] #5233 closed

[2016-11-01 16:28] bes commented on #6757
A-ha! It HAS been updated, but it has been done under the (my...) radar!

I just went in to check the XCode8 section of the fastlane docs, and reading it I discovered that it had a new section addressing my problems.

https://github.com/fastlane/docs/pull/170

[2016-11-01 16:28] TKBurner commented on #6801
@hirad Thanks for reaching out. Can you let me know if this happens everytime or just the first time you run scan. Are you able to make the changes listed in the output? Thanks!

[2016-11-01 16:29] bes commented on #6757
Please close this issue

[2016-11-01 16:46] #5735 closed

[2016-11-01 17:06] milch commented on #6813
`fastlane` is free and Open Source (under the [MIT license](https://tldrlegal.com/license/mit-license)). You can keep using fastlane forever and never pay a dime.

Let me know if that answers your question!

[2016-11-01 17:36] ribbon-libs commented on #6803
Thanks, I will create another app and install open-ssl 0.9.8. I don't remember old version of open-ssl, before I got this issue, I got another issue with TSL 1.2 and I did all suggestion steps in fastlane.

I will post my result after downgrade open-ssl!

[2016-11-01 17:50] hirad commented on #6801
@TKBurner : This is happening every time now. Not quite sure when it started - I think it was after an update a few weeks ago.

Re. making the changes: If you're referring to adding `CURRENT_PROJECT_VERSION` to the project, it *is* there initially. What I'm really confused about is that at some point during running `scan`, the entire `project.pbxproj` file is regenerated (ie. if I do a `git diff D

[2016-11-01 18:10] #6813 closed

[2016-11-01 18:32] TKBurner commented on #6171
@derrickshowers Thanks for reaching out. Can you run `fastlane run update_fastlane` and then share the output of `fastlane env`? Did you use the spaceauth workaround above? Thanks!

[2016-11-01 18:33] TKBurner commented on #4208
@GabLeRoux Glad to hear you got up and running. Hope you have a great day!

[2016-11-01 18:38] mpirri commented on #5125
We just shipped `pilot` 1.11.2 which enables this new application fix by default (no more environment variable). If you are still seeing this issue with `pilot` 1.11.2 or later, please let us know. But we are optimistic, so I'm going to close this issue now. 🚀

[2016-11-01 18:38] #5125 closed

[2016-11-01 18:42] Kendaren commented on #5125
Thanks for the fix!  Next time we push to iTunesConnect / Testflight, I will let you know how it goes.

[2016-11-01 18:49] mohakpatel65 opened #6821 "ITC.response.error.INVALID_REQUEST when distribute an app using pilot"
### New Issue Checklist

- [x] Updated fastlane to the latest version
fastlane 1.106.2
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Getting ITC.response.error.INVALID_REQUEST when executing "`pilot distribute --verbose`", "`pilot distribute --distribute_external false --verbose`"

##### Complete output when

[2016-11-01 18:50] TKBurner commented on #6799
@pedro380085 This is not currently possible but I'll mark it as a feature request to see if others are interested. Thanks!

[2016-11-01 18:59] jdee commented on #5758
I'll be making a plugin out of this. I'll post a link here to a new repo once that's ready, for community feedback before publishing the gem and doing the fastlane integration. That'll probably be a couple of days.

[2016-11-01 19:02] TKBurner commented on #6791
@KalebKE @renannery @hypery2k Thanks for reaching out about this. I sent it out to the core team for a comment. Hope you have a great day!

[2016-11-01 19:05] derrickshowers commented on #6171
@TKBurner I think this can be disregarded. I talked to the bitrise.io support team and it looks like I was not signing the build in the archive step correctly to be uploaded to the app store. I ended up creating another user for uploads which fixed the issue.

[2016-11-01 19:05] milch commented on #6802
Also, can you run `fastlane env` and attach that output to this issue? Preferably it'd also include the `Fastfile` from the project where the problem occurs.

[2016-11-01 19:08] mlostekk opened #6822 "Snapshot html summary with multiple iPads broken"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
When using snapshot for multiple iPads, all of those iPads are summed in one "iPad" in the summary html. Not like the iPhones that are grouped by device, the iPad screenshots sum up all in the

[2016-11-01 19:31] TKBurner commented on #4954
Hi @tcurdt The most recent release is 1.11.2. Let me know if you get a chance to test out. Thanks!

[2016-11-01 19:40] TKBurner commented on #6170
@steddyman You'll need to set these two pieces of submission information in order to get it work automatically. Thanks!

[2016-11-01 19:41] TKBurner commented on #6706
@nikitaame Awesome! Glad to hear you found a workaround.

[2016-11-01 19:44] JustinJiaDev commented on #6124
@TKBurner I opened a pull request: https://github.com/fastlane/fastlane/pull/6823

[2016-11-01 19:46] TKBurner commented on #6687
@remcohaszing Thanks for following up. We'll leave this open in case anyone is interested in contributing. 👍

[2016-11-01 19:47] TKBurner commented on #6124
@JustinJiaDev Awesome! We'll work with you there 👍 👍

[2016-11-01 19:55] TKBurner commented on #6658
@vbresults Correct, provide the path to the push cert.

[2016-11-01 19:56] TKBurner commented on #5758
@jdee Sounds good! Hope you have a great week!

[2016-11-01 20:11] marbetschar commented on #6553
@TKBurner I'm running into the exact same issue running El Cap on the CI machine. Running locally using macOS Sierra everything works as expected.

[2016-11-01 20:17] marbetschar commented on #6553
@geraldWilliam @TKBurner using `rbenv rehash` did the trick! Thank you!!!!

[2016-11-01 20:37] StevePotter commented on #6658
+1

[2016-11-01 21:30] mfc19 commented on #6011
@TKBurner I am getting this same error.  what basic metadata needs to be filled out in iTC?  I feel I have filled it out and still getting the error.

[2016-11-01 21:46] milch commented on #6011
@mfc19 Did you fill out the fields described in the error? You should be able to find them by going into iTunes Connect -> TestFlight -> External Testing and then clicking on "Add Build to Test". When you select a build there should be a pop up with "Test Information" where you can enter all the required fields.

[2016-11-01 22:49] steddyman commented on #6170
Those settings did fix it for me. Thanks for your help.

[2016-11-01 22:55] jwilliams-handy commented on #6463
@TKBurner same error. the following are the relevant gem versions I just tried with.

fastlane (1.105.0)
deliver (1.14.5)
spaceship (0.36.2)
json (1.8.0)

[2016-11-01 23:00] claesjacobsson opened #6824 "numberOfLines and textBelowImage ?"
It would be cool if we could choose the number of lines for the text + if the text could be placed below the image.

[2016-11-01 23:20] GoodMirek commented on #6725
The same issue happened to me after running `sudo gem update`
Removal of json 2.0.2 helped.
After that, I have tried to update the gems again:
`sudo gem update`
and it worked this time.
[code]
No idea what made the difference.

[2016-11-02 00:06] milch commented on #6725
Sometimes this just happens. The simplest possible fix is to run `gem cleanup` after upgrading fastlane.

I'm closing this as it is actually an issue with Rubygems: https://github.com/rubygems/rubygems/issues/1309

[2016-11-02 00:06] #6725 closed

[2016-11-02 00:15] koglinjg commented on #6816
See [fastlane/lib/fastlane/actions/artifactory.rb#L19](https://github.com/fastlane/fastlane/blob/a094c54e152dc1a2e960e1290c696007d5442a48/fastlane/lib/fastlane/actions/artifactory.rb#L19)

This is just calling to `Artifactory::Resource::Artifact#upload`. See https://github.com/chef/artifactory-client/blob/v2.5.0/lib/artifactory/resources/artifact.rb#L514

An example in fastlane would be:
[code]

@

[2016-11-02 00:40] zilinskas commented on #6699
If you are using system ruby and seeing the version 2 but have 2.3 installed with ruby -v then try...

gem update --system

[2016-11-02 00:59] GoodMirek commented on #6699
With system ruby on MacOSX fastlane does not work. It is because Apple developer portal forces usage of a newer TLS ciphers and system ruby uses pretty old openssl.

What has helped is installation of a newer ruby with a newer openSSL.
[code]
Adding following lines to $HOME/.bash_profile, this way the system ruby is masked:
[code]
Verify which version of openssl is used by ruby:
[code]
# Reboot th

[2016-11-02 01:24] postmechanical commented on #6699
@GoodMirek Thanks for the suggestion but you miss the point of the issue. As a user of fastlane, I am not interested in maintaining a ruby installation in order to use fastlane.

[2016-11-02 01:25] johndolljr commented on #6811
notes: File.read("./fastlane/notes.txt")

path is relative to where you execute fastlane from.

[2016-11-02 01:30] GoodMirek commented on #6699
@postmechanical Hi, I believe I understand the point. I agree my comment is off-topic. Though this is one of the best tickets related to the issue I have found, so maybe my suggestion can help someone. It took me a couple of hours to figure out how to make fastlane working, I am complete Ruby and Macosx newbie.

[2016-11-02 01:46] sogko commented on #5100
Awesome, the related PR #6820 that allows you to enable/disable Apple Pay services just got merged

[2016-11-02 01:48] sogko commented on #5614
For reference, PR #6820 that allows `produce` to enable/disable In-App Purchase service has been merged.

[2016-11-02 02:14] renannery commented on #6791
Just for the record, I kind of figure out the issue. I was getting this error because I was splitting my apks with `x86` ABI set as the first build and the store was showing up some warns related to issues with ABI compatibility and version code.

I do recommend to change this configuration on your gradle file

Here is my current setup for ABI split
`project.ext.versionCodesABI = ['armeabi-v7a':1,

[2016-11-02 02:19] kd8ssq opened #6826 "deliver: there is no web session to update"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
All the sudden this evening when I try to run the deliver command I receive the error "there is no web session to update".  I was running it fine this afternoon.  Not sure what the problem is.

[2016-11-02 02:35] cocotutch commented on #6826
I don't think this is a Codesigning issue. Builds were working yesterday for me with `deliver 1.14.5` and today they are not with this cryptic error upon iTC Login.

[2016-11-02 02:41] kd8ssq commented on #6826
I agree with @cocotutch.  I normally run sigh -> cert -> pem->gym -> deliver.  I didn't receive any errors until I got to the deliver step.  I even tried to update a separate app and received the same error.  I was able to update 7 apps earlier this afternoon, now nothing.

`[21:49:59]: [32m------------------------------[0m
[21:49:59]: [32m--- Step: default_platform ---[0m
[21:49:59]: [32m---

[2016-11-02 02:50] cocotutch commented on #6826
**Update:** Apple's iTunes Connect web portal is also down. Not loading in _Safari_, _Google Chrome_, _Firefox_ or even _Edge_.

This could be the cause of our issue.

[2016-11-02 02:52] kd8ssq commented on #6826
@cocotutch I logged out of the portal and back in.  While it took a second for the login screen to come up, it did come up and let me login.  I'm not having any problems navigating ITC.

[2016-11-02 02:53] cocotutch commented on #6826
Huh, I'm seeing a spinning wheel with nothing else happening ever, with a cryptic Javascript string at the bottom of the page after about 30sec.

Could be unrelated. But still, likely worth mentioning. iTC is pretty patchy at the best of times lo. @kd8ssq

[2016-11-02 03:03] dmakovec commented on #6826
@cocotutch I'm seeing exactly what you're seeing.  I suspect there's an ITC auth issue at the moment, my browser console is showing "olympus.itunes.apple.com" can't be resolved, which probably has something to do with it.  I *could* get into ITC by clearing cookies, going to https://developer.apple.com/account, signing in there, then jumping back to https://itunesconnect.apple.com - so it looks li

[2016-11-02 03:09] tildedave commented on #6826
Also seeing this

[2016-11-02 03:15] lukethoene commented on #6826
Woah...I just got logged into someone else's Itunes Connect account.  All Japanese games.

Something seriously bad going on with iTc

[2016-11-02 03:17] lukethoene commented on #6826
And now it's back

[2016-11-02 03:56] kukushi opened #6827 "version_bump_podspec only recognize x.y.z version in podspec"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Calling `version_bump_podspec` failed, when it try to parse a podspec file which version number is `1.0.0-beta1`.

##### Complete output when running fastlane, including the stack trace and co

[2016-11-02 04:06] agentlewis commented on #6826
Same issue here :(

[2016-11-02 04:06] cocotutch commented on #6826
@dmakovec That workaround let me access iTC. Thanks for that, I was able to proceed with an External TestFlight deployment. Manual upload with Xcode for the time being by the looks.

[2016-11-02 04:17] UltraRabbit commented on #6826
Just checked the Apple's system status page at https://developer.apple.com/system-status/.  The iTC had some issue from 10AM till now.  Hope they could fix it soon this afternoon.

[2016-11-02 04:22] manicmaniac commented on #6826
Even after iTC has recovered, the same issue is continuing.

[2016-11-02 04:32] mohakpatel65 commented on #6826
Also observing same issue.. :(

[2016-11-02 04:45] rfajarachmad commented on #6826
I also encounter the same issue when upload the binary to TestFlight

[code]

[2016-11-02 04:52] hypery2k commented on #6791
@renannery actually doesn't work for me:
[code]

still the same error

[2016-11-02 05:03] mychaelgo commented on #6826
any workaround?

[2016-11-02 05:06] monotv commented on #6826
Itunesconnect went totally bonkers. Couldn't use web UI for a couple of hours and now can't release new build. Not a fastlane issue though I guess.

[2016-11-02 05:23] dmakovec commented on #6826
I see that olympus.itunes.apple.com is resolving again (I guess somebody screwed up their DNS), so ITC is back up, and it looks like I can manually submit my FL-built app using Application Loader after scp'ing the IPA from our build server to my desktop.  I wonder if this is still a temporary Apple glitch, or if they've changed the auth process so Spaceship and friends will need an update to work

[2016-11-02 05:39] davidvpe commented on #6826
I typed deliver init since it is my first time but no luck so far, having the same issue as everybody

<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                 | Value                                           |
| ------------------- | ----------------------------------------------- |
| OS                  | 10.12.1                                         |
| Ruby

[2016-11-02 05:47] SebastianBO commented on #6826
Same issue here

[2016-11-02 05:52] zakhej commented on #6826
Also got this error

[2016-11-02 05:57] shiratsu commented on #6826
I have a same error.

[2016-11-02 06:49] muqq commented on #6826
same error

[2016-11-02 06:49] dekatotoro commented on #6826
I have a same error.

[2016-11-02 06:57] jordanjun commented on #6826
same one too

[2016-11-02 07:02] jeremiahScribblePost commented on #6826
Me too! :(

[2016-11-02 07:03] urimagisto commented on #6826
Same issues, what the cause for it?

[2016-11-02 07:10] arpwal commented on #6826
same issue.

[2016-11-02 07:14] wittkamp commented on #6826
Same here.

[2016-11-02 07:22] mcany commented on #6826
+1

[2016-11-02 07:23] hellovoidworld commented on #6826
+10086

[2016-11-02 07:25] Onejjy commented on #6661
So, after digging into the code, it seems to be a bad idea :/.

Indeed, each time we display summaries like above, it's just a dump of the passed parameters. If we want to be able to display the team name, we would have to make a web request for that. IMHO, it doesn't worth it/

Sorry for making you lose time.

[2016-11-02 07:25] #6661 closed

[2016-11-02 07:31] tokinonagare commented on #6826
+1

[2016-11-02 08:04] Onejjy opened #6828 "Inappropriate message when using fastlane_version action with bundler"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

When using `fastlane_version` action in a bundler environment (with `bundle exec fastlane`), the update message is not appropriate:

[code]

It should ask the user to do a `bundle update fastl

[2016-11-02 08:05] laptobbe commented on #6826
Have the same issue, although I was able to upload the archive fastlane built via Xcode.

[2016-11-02 08:08] gregk8288 commented on #6826
+1

[2016-11-02 08:15] ened commented on #6826
Guys, no more +1, please. Mark your reaction to the original post, then subscribe for notifications. Thx.

[2016-11-02 08:22] urimagisto commented on #6826
should be ok now guys

[2016-11-02 08:24] jordanjun commented on #6826
Yeah. it is OK now.

[2016-11-02 08:25] agentlewis commented on #6826
looks like the takeaway is that itc was down. do we think that the error message could be better? eg "Itunes Connect is having a coffee break and will be back soon"

[2016-11-02 08:43] Daredevilll commented on #6826
Also observing same issue.. :(

[2016-11-02 08:45] shiratsu commented on #6826
Yeah.I can upload now.

[2016-11-02 09:13] cargath commented on #6758
@TKBurner Yes, i am on Sierra. I have coworkers who are on Sierra but don't get this error, though.

I got the "Connection reset by peer - SSL_connect" error with system Ruby, then reluctantly followed the advice from the error message to install Ruby via Homebrew (i feel like working around the outdated system Ruby often leads to other problems down the road), which lead to the "no implicit conve

[2016-11-02 09:17] claesjacobsson commented on #6824
Another possibility could be a fixed font size option, which would adjust the number of rows automatically.

[2016-11-02 09:23] choiks14 commented on #6725
thank you!!

[2016-11-02 09:45] dekatotoro commented on #6826
Yeah, I was also able to upload now!

[2016-11-02 09:52] LanfordCai opened #6832 "Got Code signing is required for product type 'Application' in SDK 'iOS 10.1"
### New Issue Checklist

- [✅] Updated fastlane to the latest version
- [✅] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Hi, I tried to build my app by gym, but I got `“Code signing is required for product type 'Application' in SDK 'iOS 10.1’”` and process failed. I have read #6519 , but the solution not work fo

[2016-11-02 10:08] peterholcomb commented on #6814
I am also interested in resolving a similar issue.  Trying to use fastlane on bitrise.io to upload builds to itunes connect via the testflight action.  We don't need to do codesigning since our builds are produced out of Phonegap Build.

[2016-11-02 10:31] lanebrain commented on #6826
This issue could prob be closed - not a fastlane issue - was broken most of day, but was on the other side.  Success in upload here now as well.  🎉

[2016-11-02 12:05] iv-mexx commented on #6768
@milch I'm using 2FA, the one where I'm getting a 6-digit code to my iPhone.

Btw, I noticed that [this guide](https://github.com/fastlane/fastlane/tree/master/spaceship#2-step-verification) seems to confuse the terms as well: The headline talks about "2 Step Verification", but the text then talks about "2 Factor Verification".

Anyway: Clearing `~/.spaceauth` fixed the Problem with `match` crashi

[2016-11-02 12:09] #4921 closed

[2016-11-02 12:50] mfc19 commented on #6011
Yes I know I can enter the fields there but isn't that the point of the automation? So we don't have to go into the UI to fill them out?  I am populating those fields in my script.

[2016-11-02 12:56] kd8ssq commented on #6826
I can confirm that deliver now works as it should.  Since it seemed to be an issue with ITC and others can confirm that it's working again, I'm going to close this ticket.

[2016-11-02 12:56] #6826 closed

[2016-11-02 13:37] Johnafriedman commented on #6784
I'm having the same problem. I am having problems removing the color and including the stack trace from the my output. Here is the output of fastlane env:
<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                 | Value                                                 |
| ------------------- | ----------------------------------------------------- |
| OS

[2016-11-02 14:28] SAVeselovskiy commented on #5890
@TKBurner, it will be cool if there is support for the format "A.B". In our team we use this format for some projects. Hope this feature will be released somewhen.

[2016-11-02 14:36] hjanuschka commented on #6832
please read the codesigning guide - about how to sign on xcode8.

also the action `update_project_provisioning` is not working for xcode8 and above as another variable is used inside the project file.

please see - and maybe +1 this PR - wich adds a param `provisioning_profile_specifier` to set the new variable inside the `update_project_provisioning` action.

https://github.com/fastlane/fastlane/

[2016-11-02 14:45] TKBurner commented on #5542
@MaximusMcCann Thanks for following up. What happens if you move your deliver parameters to the fastfile instead of the deliver file? Thanks!

[2016-11-02 15:01] TKBurner commented on #6780
@kevinnguy What does the output look like if you don't use the legacy build api? It looks like you might need to run sigh, cert, or match before you run gym. Thanks!

[2016-11-02 15:02] gcamp commented on #6821
I think this is a duplicate of https://github.com/fastlane/fastlane/issues/6818

[2016-11-02 15:04] TKBurner commented on #6753
@AlexTatarinchik Thanks for following up. We'll leave this open for now in case other users are interested in this use case. We'd be interested to know. Hope that you have a great week!

[2016-11-02 15:04] Sajjon commented on #6365
@marcocattai  I have got the same problem as you! Did you manage to solve it?

[2016-11-02 15:05] TKBurner commented on #6752
@AlexTatarinchik Thanks for following up. This is interesting, how long is your run taking at this point? 👍

[2016-11-02 15:07] TKBurner commented on #1346
@gabzsa Is this distributing to the same group? Can you add the --verbose flag to your run of the action. (You might need to remove your api keys from the output) I want to take a look what is going on. Thanks!

[2016-11-02 15:11] TKBurner commented on #6786
@fedmeloni It looks like this is an xcrun issue. I'd suggest asking in that repo. Thanks!

[2016-11-02 15:12] TKBurner commented on #6317
@rocco Thanks for the idea. I agree, we are seeing more and more people with several match commands in a row.  I want to leave this open as a feature request and we'll see if others are interested too 👍

[2016-11-02 15:33] TKBurner commented on #6736
@AndyIsaacson Thanks for  following up. There isn't a good resource for the documentation except by running `scan help`. Can you try erasing your simulators? I just want to make sure we optimize your experience. Thanks!

[2016-11-02 15:45] TKBurner commented on #4027
@esetnik Are you getting any breaking errors at this point? Can you share the full output? Thanks so much and hope you have a great day!

[2016-11-02 15:47] TKBurner commented on #1896
@jlubeck Did the new fix by @mpirri resolve this for you? Thanks!

[2016-11-02 15:49] jlubeck commented on #1896
I'll have to wait until I have a new build to push. Will let you know, although he mentions on that ticket that he believes it was a different problem...

[2016-11-02 15:54] TKBurner commented on #6237
@faithfracture We'll leave this open until we get an update or it auto-closes (3 months). Really glad to have you testing this for us. Hope you have a great day!

[2016-11-02 15:56] TKBurner commented on #6747
@swl367 I meant in your deliver file. You can try setting it on the deliver action in your fastfile but that shouldn't make a difference. Can you try running that command not in a script and share the full output, I want to see what is prompting you for user input. Thanks!

[2016-11-02 15:56] TKBurner commented on #6673
@triplef Thanks for sharing that, I'm sure it'll help others 👍

[2016-11-02 16:07] TKBurner commented on #6779
@LeBlaaanc Thanks for following up. Can you move it to the top of your Fastfile just to test? Can you run `fastlane run update_fastlane` and then let me know if the error persists? If it does, can you then run `fastlane env` and share the output here. Thanks so much and have an awesome day!

[2016-11-02 16:08] TKBurner commented on #6768
@iv-mexx Thanks for following up. I looped in the core team so they can take a look. Hope you have a great day!

[2016-11-02 16:11] TKBurner commented on #1239
@liftoff-deploy Sorry to hear you are running into this. Can you share your full input and output, as well as the results of `fastlane env`. Thanks!

[2016-11-02 16:13] TKBurner commented on #6761
@nubbel Awesome! That seems to be a useful feature for us. I think it'd be good for you to show us your PR and we'll work with you there. Thanks for submitting an issue first! Hope you have a great day 👍

[2016-11-02 16:16] TKBurner commented on #6751
@ff-ahumberston Thanks! We are going to look into this 👍

[2016-11-02 16:21] TKBurner commented on #6754
@kylejm There isn't a way to programmatically nuke right now. Can you explain your use case? Thanks!

[2016-11-02 16:23] nubbel commented on #6761
@TKBurner Thanks for your feedback! I'm happy to submit the PR soon.
Would you go for the more explicit `export_xcargs` or use `xcargs` for both archive and export?

[2016-11-02 16:24] TKBurner commented on #1896
@jlubeck I see. I'll mention this again to the team since I know it's pretty important to distribution with the recent endpoint instability.

[2016-11-02 16:26] TKBurner commented on #6365
@Sajjon Can you run `fastlane run update_fastlane` and then let me know if you still hit this error? If you do run `fastlane env` and share the output. Thanks!

[2016-11-02 16:28] TKBurner commented on #6821
@mohakpatel65 This is a duplicate. We'll work with you both there and on a PR with @gcamp 👍

[2016-11-02 16:29] TKBurner commented on #6818
@gcamp I think these make sense as changes. Can you submit a lightweight PR to address this first in spaceship? And then ask in that PR about Pilot? We really appreciate you working with us 👍 Thanks!

[2016-11-02 16:29] postmechanical commented on #6699
@GoodMirek And therein lies the problem.

[2016-11-02 16:30] TKBurner commented on #5890
@SAVeselovskiy Thanks for following up on this. I bring it up with the team.

[2016-11-02 16:33] TKBurner commented on #6784
@edwardlafoy Did this setup previously work? Can you let me know where you are passing this infomration into fastlane?

@Johnafriedman Can you let me know what lane you are running? And share the output? Thanks!

[2016-11-02 16:33] TKBurner commented on #6826
Awesome! Really glad to hear this worked out. Thanks all for working with us!

[2016-11-02 16:35] TKBurner commented on #6011
@mfc19 Thanks for reaching out. Do you have to do this once per app or each time you upload a build? You can use the submission_information in `deliver` to setup most of this.

[2016-11-02 16:39] iv-mexx commented on #6768
Thanks @TKBurner 👍

[2016-11-02 16:45] joeydong commented on #6818
I've also run into this workflow problem. The beta app review can take 24-48 hours so it's unreasonable to keep `pilot` running in the background like we currently do while waiting for the build to be processed.

I agree once we have the right information coming from Spaceship, we can provide a cleaner exit code for `pilot`. Then it will be up to the user to run `pilot distribute` once they get an

[2016-11-02 16:47] TKBurner commented on #6814
@GavinRooney @peterholcomb Have you tried setting the `FASTLANE_PASSWORD` enviromental variable at the top of your fastfile? Thanks!

[2016-11-02 16:48] TKBurner commented on #6824
@claesjacobsson Thanks for the ideas! We'll leave this open as a feature request 👍

[2016-11-02 16:49] TKBurner commented on #6828
@Onejjy Can you share your fastfile? Thanks!

[2016-11-02 16:49] TKBurner commented on #6661
@Onejjy No problem! Always great to work with you 👍

[2016-11-02 16:50] TKBurner commented on #5614
@sogko Thanks!

[2016-11-02 16:50] TKBurner commented on #5100
@sogko Thanks for updating this thread 👍

[2016-11-02 16:55] claesjacobsson commented on #6824
Great! Haven't done any Ruby dev before, or I would take a stab at it. Perhaps this is when I learn Ruby ;-)

[2016-11-02 16:57] TKBurner commented on #6758
@cargath Are you using a ruby version manager? Can you try switching to ruby 2.3.2 and then installing fastlane again? We are trying to make longer term solution and you'll see that soon 👍  Thanks!

[2016-11-02 16:59] TKBurner commented on #6699
@postmechanical @GoodMirek We are looking into the possibility of having fastlane manage it's own ruby so these issues won't occur. We'll update once we have something more concrete. Thanks!

[2016-11-02 17:16] santoshshetty2612 opened #6833 "Fastlane match getting stuck up when cloning from bitbucket"
Hi,

I never faced this issue on my build server which is on a very good network. But since morning today am constantly facing this issue.

Sometimes the cloning and fetching of profiles works fine. But most of the time it gets stuck and finally fails :

INFO [2016-11-02 18:08:26.08]: Cloning remote git repo...
INFO [2016-11-02 18:08:26.08]: [4m[36m$ GIT_TERMINAL_PROMPT=0 git clone 'git@bitbucke

[2016-11-02 17:28] Onejjy commented on #6828
Sure, here is a sample `FastFile`:
[code]

Actually, I know that version `8.8.8` is irrelevant. It's just to demonstrate the issue.

[2016-11-02 17:41] KrauseFx commented on #6828
Thanks for submitting the PR, we replied 👍

[2016-11-02 17:42] KrauseFx commented on #6661
Thanks for looking into this @Onejjy and letting us know :rocket;

[2016-11-02 17:45] TKBurner commented on #6827
@kukushi This is expected behavior. I'll mark this as a feature request. Thanks!

[2016-11-02 17:47] TKBurner commented on #6811
@lakamsani Did you get up and running? Thanks!

[2016-11-02 17:48] TKBurner commented on #6816
@koglinjg Thanks so much for helping 👍 👍 👍

[2016-11-02 17:53] TKBurner commented on #6463
Hi @jwilliams-handy Can you run `fastlane env` and send me the output? Thanks!

[2016-11-02 17:53] TKBurner commented on #6170
@steddyman Awesome! Really glad you got up and running 👍

[2016-11-02 17:54] TKBurner commented on #6553
@marbetschar Awesome! So glad to hear you got up and running. Always feel free to reach out. 👍

[2016-11-02 17:55] TKBurner commented on #6822
@mlostekk Thanks for reaching out. It looks like the html is correct. Do you see something that'd make it overlap? Can you share a screenshot of the result so I can see it? Thanks!

[2016-11-02 17:56] TKBurner commented on #6171
@derrickshowers Thanks for letting me know! Hope you have a great week, and so glad to hear you got up and running 👍

[2016-11-02 17:59] hjanuschka commented on #6826
olympus.itunes.apple.com 😆  i hope someone at apples operations center shouted out "olympus has fallen"

[2016-11-02 18:04] steddyman commented on #6826
Still not working for me, but returning a different error:

Looking for related GitHub issues on fastlane/fastlane...

Found no similar issues. To create a new issue, please visit:
https://github.com/fastlane/fastlane/issues/new
/Users/stepheneddy/.rvm/gems/ruby-2.3.1@global/gems/spaceship-0.36.2/lib/spaceship/client.rb:400:in `parse_response': [!] <head><body> This object may be found <a HREF="ht

[2016-11-02 18:05] jeeftor commented on #6816
Thanks. Does it also support API key based logins?

Sent from my iPhone

[2016-11-02 18:05] KrauseFx commented on #6826
This is related to iTunes Connect being down (see [Apple's Status Page](https://developer.apple.com/system-status/)), so there is not much _fastlane_ can do. Please wait until the issue is resolved and try again once the servers are back up again.

Please don't add more comments to this thread, as this triggers lots of email notifications 👍

[2016-11-02 18:20] pxm8436 opened #6834 "gym fails with undefined method `each_with_object' for nil:NilClass"
### New Issue Checklist

- [x ] Updated fastlane to the latest version
- [ x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### gym fails with undefined method `each_with_object' for nil:NilClass

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Environment

Please run `fastlane env`

[2016-11-02 18:21] Sega-Zero commented on #734
Couldn't get it working. Would be very thankful if you share some sample project

[2016-11-02 18:28] mfc19 commented on #6011
it happens for every app I try to submit for beta review

[2016-11-02 18:30] mfc19 commented on #6011
This is what I am using:
def submit_beta(app, config, build_train)
      build_train = app.build_trains[config.version]
      raise 'No build train found for version ' + config.version + ' of ' + config.identifier if !build_train

      latest_build = build_train.latest_build
      raise 'No build found for version ' + config.version + ' of ' + config.identifier if !latest_build

      reviewInfo

[2016-11-02 18:45] TKBurner commented on #6801
Hi @hirad Thanks for following up can you run `fastlane run update_fastlane` and let me know if the error persists. If it does send me the output of `fastlane env`

Also have you followed the steps here: https://developer.apple.com/library/content/qa/qa1827/_index.html

If you run a lane with just scan and increment_build_number do you see this error? Thanks!

[2016-11-02 18:46] TKBurner commented on #6803
@ribbon-libs Awesome! Let me know how it goes!

[2016-11-02 18:47] TKBurner commented on #6626
@esttorhe Thanks! If you can provide a sample project affected by the issue that'll help us dig in. 👍

[2016-11-02 18:49] TKBurner commented on #6805
@suzhaev Can you share your current full input and output? It looks like this is a different issue now that 2-factor is setup.

[2016-11-02 18:53] TKBurner commented on #6419
@falcon283 Thanks for reaching out. There are issues on the endpoints right now that might be causing this. Has this app previously worked? Can you run `fastlane env` and share the output? Thanks!

[2016-11-02 18:57] TKBurner commented on #6333
@ConfusedVorlon Thanks for following up. Check out the docs here, https://docs.fastlane.tools/codesigning/xcode-project/#using-match-development-or-xcode-automatic-provisioning

[2016-11-02 18:59] TKBurner commented on #6249
@reidmain Thanks! I'm glad that's a viable solution. Hope you have a great day!

[2016-11-02 18:59] TKBurner commented on #5629
@zaumreit Awesome! Let us know how it goes 👍 👍

[2016-11-02 19:00] TKBurner commented on #1655
@nicbarker Thanks for the information. Glad you got up and running! 👍 👍

[2016-11-02 19:01] TKBurner commented on #6810
Hi @sainttail Can you share the full output when this happens? I want to take a look.

[2016-11-02 19:02] TKBurner commented on #4621
@hlung Awesome! Glad to hear you got up and running. Thanks @philipshurpik 👍 👍 💯

[2016-11-02 19:05] TKBurner commented on #6771
@prolog3001 We'll leave this open as a suggestion 👍

[2016-11-02 19:07] TKBurner commented on #734
@Sega-Zero Can you show me your fastfile. Do you have a run script build phase in the project? Does the info.plist get the update of the crashlytics key?

Thanks!

[2016-11-02 19:08] TKBurner commented on #6816
@jeeftor I don't think it does at current implementation. Thanks!

[2016-11-02 19:09] TKBurner commented on #6824
@claesjacobsson That'd be really cool 👍 👍

[2016-11-02 19:09] TKBurner commented on #6761
@nubbel I think it might make sense to separate them so the input stays simple.

[2016-11-02 19:11] esetnik commented on #6419
There's an outage right now fyi. https://developer.apple.com/system-status/

[2016-11-02 19:13] TKBurner commented on #4027
@esetnik To clarify are you missing dSYMs after this or just seeing an error in your output? Thanks for working with me on this 👍

[2016-11-02 19:13] esetnik commented on #4027
Just an error in the output. The dSYM upload is working just fine. Thanks!

[2016-11-02 19:13] TKBurner commented on #6833
Hi @santoshshetty2612 Can you run `fastlane env` and share the output? It looks like this could be an issue with your permissions on bitbucket but I want to investigate. Thanks!

[2016-11-02 19:17] TKBurner commented on #6834
Hi @pxm8436 Thanks for reaching out. It looks like you might have better luck if you manage your ruby version through something like rvm. That way you can use 2.3.2 for fastlane. Let me know how it goes!

[2016-11-02 19:19] TKBurner commented on #6011
Hi @iCarambaa You should use deliver directly. Let me know how it goes.

[2016-11-02 19:21] TKBurner commented on #4027
It looks like we are querying the plist for an API key, and then falling back to the info.plist. I'll let the team know, but I'm not sure how fast we'll be able to action this. Thanks!

[2016-11-02 19:29] enozero commented on #6592
Is anyone available to review the change?

[2016-11-02 19:47] #5261 closed

[2016-11-02 19:51] TKBurner commented on #6592
@enozero We are a little backed up on PRs right now, but rest assured, we will work with you. In the meantime, if you see any other threads related to this, get them to pull down your PR to test it for us. Thanks!

[2016-11-02 19:59] mpirri commented on #6551
@AnthonyMDev Sorry for the delay in getting back to you about this.

I set up a simple folder hierarchy that, from what I can tell, should match your directory structure.  Here's what I have:
![image](https://cloud.githubusercontent.com/assets/1190389/19945044/aaf74a98-a114-11e6-9b7e-483f24d0abdd.png)

`PushPodFastfile` contains the 94 lines from your initial issue posting
`Fastfile` contains the

[2016-11-02 20:42] grioja commented on #5374
@TKBurner having the same problem as @PitchLabsAsh

The problem is that xcode builds using a name of the profile now, which is bad because everytime match regenerates a profile (and uses the same name), the old profiles remain. So you end up with several old profiles alongside the new profile, and since it goes by name... it does not pick the newest profile, and thus exports via gym with the "wron

[2016-11-02 20:45] TKBurner commented on #5374
@grioja Have you tried using the `provisioning_profile_specifier`?

[2016-11-02 20:47] grioja commented on #5374
@TKBurner yes we use that to specify the profile name.. but the problem is that it is too vague for xcode...

this was tricky to track down in our CI process... we did a manual export ourselves via xcode and then upload to crashlytics and it worked for our new devices... but everything we tried gym will not export with the correct profile.

[2016-11-02 20:54] grioja commented on #5374
I think xcode walks the directory (which is sorted alphabetically by UDID) and finds the first match given the provisioning_profile_specifier name.

We need some way to clear out the "old profiles" to rid ourselves of false positive profile matches.

[2016-11-02 21:11] grioja commented on #5374
@TKBurner confirmed this behavior: we wiped out all our profiles on our build machine and ran a clean build (with a match adhoc readonly) and the export with a fresh pull of the profiles works. So there is absolutely a problem with old profiles being left around that confuses xcodebuild

[2016-11-02 21:21] edwardlafoy commented on #6784
@TKBurner Took a deeper look, and think I may have found the problem: https://github.com/fastlane/fastlane/pull/6835

[2016-11-02 21:23] koglinjg commented on #6816
Actually it does. See: https://www.jfrog.com/confluence/display/RTF/Artifactory+REST+API#ArtifactoryRESTAPI-Authentication

Where you would supply your password, you can instead use your API key.

[2016-11-02 21:35] PitchLabsAsh commented on #5374
I'm having less problems with this now.

Xcode does use the name but the documentation I'm sure claims that it uses the  most recent if there are duplicates.

The Xcode project now has both a provisioning profile and "deprecated" provisioning profile setting. I found I had to fully delete the deprecated setting and make sure only the new field was set, after that Xcode seemed to use the correct pr

[2016-11-02 22:13] kevinnguy commented on #6780
@TKBurner https://github.com/fastlane/fastlane/issues/6780#issuecomment-256832229

Sorry for the confusion, my current Fastfile has `use_legacy_build_api` enabled in order for me to archive my build. Yeah, seems like I need to set up sigh, cert, and match to get gym to run properly. Thanks for all the help, fastlane team :)

[2016-11-02 22:13] #6780 closed

[2016-11-02 22:44] #6765 closed

[2016-11-02 23:41] Ro-M commented on #6533
Hi,
I also ran into this locally and on travis after updating to Xcode8.
- make sure "Code Signing Identity" -> "Release" and "Any iOS SDK" is set to "iOS Distribution"
- set provisioniong profile correctly like @hjanuschka mentioned (although i think the correct suffix is just "_appstore" ....?)
- set a Development Team (shouldn't this only be required for automatic signing?)

That's what helped

[2016-11-03 00:29] stark525 opened #6842 "How to specify working directory for git commands"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
I have a Fastfile in the root of my project.  I'm trying to run `fastlane` and execute git Actions from this directory, using my machine and a Jenkins OSX build slave.  However, it bombs out be

[2016-11-03 02:39] sainttail commented on #6810
@TKBurner I update the description and include the gif file thanks.

[2016-11-03 03:44] jordanjun commented on #6814
@TKBurner I have the same problem.I use the CredentialsManager instead of FASTLANE_PASSWORD enviromental  to add credentials for the security reason in jenkins. But it prompt the error:"Missing password for user xxx@xxx.com, and running in non-interactive shell[0m (RuntimeError) too.

[2016-11-03 03:51] nicbarker opened #6843 "Supply: Google Api Error: developerDdaNotAccepted: This developer accounts owner has not accepted the latest Developer Distribution Agreement."
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

When trying to run `supply`, I get the following error:
`[!] Google Api Error: developerDdaNotAccepted: This developer accounts owner has not accepted the latest Developer Distribution Agreeme

[2016-11-03 04:24] hlung commented on #4621
But I think `match` should be able to ask to recreate if the provisioning if not found on dev portal (y/n). The first thing that came to my mind at that time was to nuke everything (recreate the certs) :(.

[2016-11-03 05:39] santoshshetty2612 commented on #6833
Hi @TKBurner, please find the output of fastlane env.

<details><summary>🚫 fastlane environment 🚫</summary>

### Stack

| Key                 | Value                                                   |
| ------------------- | ------------------------------------------------------- |
| OS                  | 10.12                                                   |
| Ruby                | 2.3.0

[2016-11-03 07:00] biolinh commented on #6055
@TKBurner: Because our code is used for build many app with many different identifier therefore we must change it when branding with Jenkins. And I follow a suggestion in https://github.com/fastlane/fastlane/issues/6324

[2016-11-03 08:04] melakamc commented on #6758
@TKBurner Couldn't find ruby version 2.3.2 on rbenv.

Any other solution?

[2016-11-03 09:01] angelmic commented on #6419
I have same issue with login successful.

The error log
[code]

[code]
<details><summary>🚫 fastlane environment 🚫</summary>

### Stack

| Key                 | Value                                       |
| ------------------- | ------------------------------------------- |
| OS                  | 10.11.6                                     |
| Ruby                | 2.3.1

[2016-11-03 09:01] ConfusedVorlon commented on #6333
Hi @TKBurner thanks for the response.

The docs seem to imply that we can use automatic signing if we're only developing on a single computer.

That works for me with some apps - but not with others. Is that now a bug I should report separately?

[2016-11-03 09:03] santoshshetty2612 commented on #6833
I am cloning multiple profiles. It works fine for some profiles but get stuck up randomly.

[2016-11-03 09:22] gabzsa commented on #1346
Sure, can I send you the output in private?

[2016-11-03 09:31] gabzsa commented on #1346
Nevermind, I've edited out the ipa name.

[code]

[2016-11-03 10:27] vutiet commented on #6191
Hi,
I'm facing this issue, too. My project has "Automatically manage signing" enabled and when it ran _pilot_ I has exact error as **mangofever** posted above.
May I ask that you guys will have update soon? Or I have to go with manual signing? Thanks

[2016-11-03 10:32] rocco commented on #6317
It would help if the type: key in _match_ would accept an array - similar to app_identifier:

[2016-11-03 10:37] #1464 closed

[2016-11-03 11:04] virusman opened #6844 "Screengrab doesn't work on Android 7"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

When trying to capture a screenshot on API >= 24 (Android 7), it fails with the following error:

`
java.lang.RuntimeException: Unable to capture screenshot.
at tools.fastlane.screengrab.FileW

[2016-11-03 12:09] jeeftor commented on #6816
Thanks guys!!!

[2016-11-03 12:09] #6816 closed

[2016-11-03 12:10] JohannesDeml commented on #6095
Not quite sure if this issue is still relevant. For me it was necessary to create an app -specific password in order to use e.g. pilot.

You can create the password here:
https://appleid.apple.com/account/manage
![bildschirmfoto 2016-11-03 um 13 02 55](https://cloud.githubusercontent.com/assets/4518980/19965340/d8f17c36-a1c6-11e6-9f2c-957e9b0b267d.png)

Thanks for supporting the process even with

[2016-11-03 12:41] Johnafriedman commented on #6784
@TKBurner @edwardlafoy 's PR fixed the problem for me. Thanks

[2016-11-03 13:19] faithfracture commented on #6237
@TKBurner Sounds good. I should be able to update in a few days.

[2016-11-03 13:24] tabrindle commented on #6753
A different use case might be to be able to directly inspect the certificates/profiles inside the repo if you clone them down manually, without having to manually decrypt them.

Sometimes I get an error where a profile in my repo is no longer available on the portal, and I would like to be able to see the UUID, devices, etc. The CLI tool suggests nuke, but all the profiles on the portal are valid,

[2016-11-03 13:44] IvanProdaiko94 commented on #6365
The same error.
The most interesting part that if I call xcbuild directly - it works.

` /usr/bin/xcrun /usr/local/lib/ruby/gems/2.3.0/gems/gym-1.11.3/lib/assets/wrap_xcodebuild/xcbuild-safe.sh -exportArchive -exportOptionsPlist '/var/folders/tr/_lmsx9210vscqg_hpdwb85000000gn/T/gym_config20161103-4654-cnxjdk.plist' -archivePath /Users/SinceTV/Library/Developer/Xcode/Archives/2016-11-03/CutCuts\ 20

[2016-11-03 13:49] #5405 closed

[2016-11-03 13:54] Sajjon commented on #6365
@TKBurner Hi thanks for your reply.

So I wanna use fastlane on my Mac Mini and start fastlane as part of CI (letting Mac mini act as Team City agent).

This is my `Gemfile`:
[code]

I am running fastlane with `bundle exec fastlane ios beta` (after having run `sudo bundle update` (directly via CLI on Mac mini, not using Team City)) and the exporting part of `gym` actually finishes but takes almost

[2016-11-03 13:55] Sajjon commented on #6365
This is the output from `bundle exec fastlane env`
[14:38:32]: Generating fastlane environment output, this might take a few seconds...
<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                 | Value                                       |
| ------------------- | ------------------------------------------- |
| OS                  | 10.12.1

[2016-11-03 13:56] Sajjon commented on #6365
@IvanProdaiko94 does your export step actually fail? Or is it extremely slow (~20 min) as mine?

[2016-11-03 13:59] TKBurner commented on #6784
@Johnafriedman Awesome! 👍 👍

[2016-11-03 13:59] TKBurner commented on #6095
@JohannesDeml Thanks for letting me know that it worked. So once you input the app specific password it was stored to your keychain or did you set it with an ENV?

[2016-11-03 14:00] esttorhe commented on #6626
@TKBurner :( i feel like you guys are not actually reading the description of the issue.

There's no project specific setting I can provide you to reproduce other than this:

- Set up a `FASTLANE_PASSWORD` env var on your `~/.zshrc` or `~/.bashrc` or your `rc` file of choice for your shell with a value of `WRONG_PASSWORD`
- Launch a `fastlane` integration that requires the use of a username and pa

[2016-11-03 14:01] TKBurner commented on #6844
Hi @virusman Can you please run `fastlane run update_fastlane` and then let me know if the error presents itself again. If it does, send over the full input and output and the output of `fastlane env`

I'd love ot take a look! Thanks 👍

[2016-11-03 14:04] TKBurner commented on #6191
@vutiet You should go with manual signing to have the most control. Here are our docs on automatic signing: https://docs.fastlane.tools/codesigning/xcode-project/#using-match-development-or-xcode-automatic-provisioning

Thanks!

[2016-11-03 14:05] TKBurner commented on #6758
@melakamc Can you use a version of ruby greater than 2.3.0? Thanks!

[2016-11-03 14:11] cargath commented on #6758
@TKBurner As i said, when Ruby via Homebrew didn't work i tried installing Ruby via RVM, but that failed during the installation. I think `no implicit conversion of nil into String` might be a bug in Ruby 2.3.1, but it's the newest version available via Homebrew and RVM doesn't install for me. It would help a lot, if we could just use system Ruby and not introduce another dependency that breaks al

[2016-11-03 14:24] Sajjon commented on #6365
Running the very same command on my Mac book pro (posting fastlane env below) it takes under 1 minute. So 1 (Macbook Pro) vs 20 (Mac mini) minutes

[code]

The result of `bundle exec fastlane env`:

<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                 | Value                                       |
| ------------------- | ------------------------------------------

[2016-11-03 14:28] virusman commented on #6844
<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                 | Value                                             |
| ------------------- | ------------------------------------------------- |
| OS                  | 10.12.1                                           |
| Ruby                | 2.3.1                                             |
| Bundler?            | false

[2016-11-03 14:30] virusman commented on #6844
The issue is in the screengrab Android java library, fastlane toolchain is very unlikely to be related.

[2016-11-03 14:33] Sajjon commented on #6365
So maybe I should try to uninstall `ruby` somehow? And also uninstall `bundle` and `fastlane`... Will try to investigate that.

[2016-11-03 15:06] yakimant opened #6845 "snapshot reset_simulators: Can't reset 10.0 sims using Xcode 8.1 environment"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

[code]

But I can create device manually:
[code]

[2016-11-03 15:17] #2082 closed

[2016-11-03 15:47] ollieatkinson commented on #6834
I am getting the same error,

[code]

<details><summary>🚫 fastlane environment 🚫</summary>

### Stack

| Key                 | Value                                                   |
| ------------------- | ------------------------------------------------------- |
| OS                  | 10.11.6                                                 |
| Ruby                | 2.0.0

[2016-11-03 15:48] ollieatkinson commented on #6834
I had the same error before, make sure you have the export options plist available.

[2016-11-03 16:28] reidmain commented on #6249
It's not technically a solution it is more of a workaround. I am still concerned with the Simulator status is being queried and is `Shutdown` at a point when it shouldn't be.

[2016-11-03 16:28] #6249 closed

[2016-11-03 16:32] youlianqi opened #6846 "fastlane init fail"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

[INSERT OUTPUT HERE]

### Environment

Please run `fastlane env` and copy the output below. This will h

[2016-11-03 16:57] #5900 closed

[2016-11-03 17:51] hjanuschka commented on #6626
@esttorhe  i think now i got it :)

i tried reproducing as you said with following lane:

[code]

running it with (pw is wrong):  `FASTLANE_PASSWORD=1234 fastlane demo`
ends with:

[code]

and does not ask - for password. can you share your fastfile (or the relevant part atleast)?

[2016-11-03 18:09] #6687 closed

[2016-11-03 18:12] santoshshetty2612 commented on #6833
private_lane :syncprofiles_for_app_identifier do |options|
	match(type: "development", readonly: !options[:admin], app_identifier: options[:app_identifier], force_for_new_devices: true)
	sleep 4
	match(type: "adhoc", readonly: !options[:admin], app_identifier: options[:app_identifier], force_for_new_devices: true)
	sleep 4
	match(type: "appstore", readonly: !options[:admin], app_identifier: option

[2016-11-03 19:26] jeeftor commented on #1802
i have this same issue - when i run cert it breaks things

[2016-11-03 20:00] mlostekk commented on #6822
Hey @TKBurner

Here is an upload. I have colored the images related to the device they belong too (thats the only thing manually changed)

http://nomad5.com/data/dev/screenshots/bug/screenshots.html

[2016-11-03 20:14] faithfracture commented on #6237
@TKBurner I was able to run all my iOS & tvOS builds today. They all completed successfully, including running Pilot as part of my build lanes.

I would say it is safe to assume this is resolved and can be closed.

[2016-11-03 20:17] #1911 closed

[2016-11-03 20:17] #6136 closed

[2016-11-03 20:36] #6828 closed

[2016-11-03 20:42] #6784 closed

[2016-11-03 20:50] akaralar commented on #6095
@TKBurner I found out that my problem was related to apple 2fa as well, not bitbucket as I have stated previously. I resolved it by going through the spaceship 2 step verification part. Thanks!

[2016-11-03 20:53] #6761 closed

[2016-11-03 21:12] pxm8436 commented on #6834
@ollieatkinson Thanks a lot. I had the same problem. Added the export options plist back in the right location. Closing this.

[2016-11-03 21:12] #6834 closed

[2016-11-03 21:12] pxm8436 commented on #6834
Fixed. export options plist was not in the right location.

[2016-11-03 22:25] JohannesDeml commented on #6095
@akaralar I can approve, the problem occurred to me as well, because of 2fa for the apple account.

@TKBurner I guess it was stored in my keychain, I didn't really have to do anything other than enter the password once I was prompted to do so. Really awesome experience. 👍

[2016-11-03 22:38] dtzar commented on #6758
None of these have worked:
rbenv which says the global version is set to 2.3.1
rvm osx-ssl-certs update all then
rvm reinstall ruby-2.3.1 --with-openssl-dir=/usr/local

Sigh command still gives this error even though it is able to successfully login to my apple account.

Any ideas of workarounds?

[2016-11-03 23:08] KrauseFx commented on #6758
@dtzar are you using rbenv or rvm?

[2016-11-03 23:13] KrauseFx commented on #6753
Interesting, I can see the use-case. If you feel like it, feel free to work on this feature, however it's not something we can invest time in. Personally I'm not sure if it's worth the effort.

[2016-11-04 00:28] dtzar commented on #6758
@KrauseFx I've tried both, but can't get either working even though both say I'm using 2.3.1.  I'd prefer rbenv if possible.  One thing I realized which might be contributing to the problem is that even though I have the latest version of openssl via brew in my /usr/local/Cellar/openssl/1.0.2h_1 dir AND I've done a ln -s /usr/bin/openssl /usr/local/Cellar/openssl/1.0.2h_1 when i do a openssl versi

[2016-11-04 02:08] RyanCopley opened #6859 "Apple 302 redirect causing failure"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] sudo gem update fastlane
sudo ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

302 apple error. I dunno what it is but it's stopping my build from happening ¯\_(ツ)_/¯

##### Complete output when running fastlane, including the stack trace

[2016-11-04 02:15] mkismy commented on #6859
I'm getting the same problem on `Step: sigh`

[2016-11-04 03:08] mdubs commented on #6859
We were getting this issue but it has suddenly started working

[2016-11-04 06:03] tringManoj opened #6860 "Is there a way to run multiple scheme from single config file? - SNAPSHOT"
I have multiple targets for my app and I have single snapshot file. I have mentioned all the schemes there but it's taking only the very first scheme. Is there way to accomplish this?

If it's not possible, please let me know how to run them all.

[2016-11-04 06:04] tringManoj opened #6861 "Option to Run the SNAPSHOT on device rather than simulator"
Hi,
 Now it only runs the app on simulator and it takes time to launch the simulator. Is there way so I can run it on my device?

[2016-11-04 06:49] hjanuschka commented on #6846
can you copy&paste what you see on your screen ?! - stacktrace, output and please add `--verbose` at the end of your command.

[2016-11-04 06:51] MichaelMagnoli commented on #6275
I came across this exact error and this solution fixed my issue:
http://stackoverflow.com/a/17980786

[2016-11-04 06:51] mpateck opened #6862 "Jenkins/Deliver: Operation timed out - connect(2)"
Hi there,

i hope you can help me out.
Since my company introduced a new proxy, i had many problems getting my ci back to work.
Till now, everything works, except the deliver via my jenkins to itunesconnect.

I upgraded everything, set the proxy for gem, npm, git, itunestransporter.

This is what jenkins says after firing:

DELIVER_ITMSTRANSPORTER_ADDITIONAL_UPLOAD_PARAMETERS='-t DAV' pilot upload

[2016-11-04 07:05] Urkman opened #6863 "Fastlane install fails"
### New Issue Checklist

- [ ] Updated fastlane to the latest version

### Issue Description

I simply try to install fastlane

##### Complete output when running fastlane, including the stack trace and command used

sudo gem install fastlane
Password:
Building native extensions.  This could take a while...
ERROR:  Error installing fastlane:
	ERROR: Failed to build gem native extension.

    curre

[2016-11-04 08:34] Sajjon commented on #6365
I do believe [this thread about slow xcrun](https://github.com/fastlane/fastlane/issues/1844) can be related, since it is the `xcrun` command that takes 20 minutes:
[code]

I will investigate if the problem is related to `scheme` [mentioned here](https://github.com/fastlane-old/gym/issues/143#issuecomment-158388533).

[2016-11-04 08:46] hjanuschka commented on #6863
it seems - that you use the `ruby` from your `MAMP` installation.
can you post your `$PATH`

[code]

do you use rbenv or rvm? - i think the path of rvm/rbenv should be prepended to $PATH so `gem` and ruby et-all will be used from there not from MAMP.

[2016-11-04 08:59] hjanuschka commented on #6862
maybe same as this: https://github.com/fastlane/fastlane/issues/6765
wich is not addressed in https://github.com/fastlane/fastlane/blob/master/spaceship/lib/spaceship/client.rb#L109

how do you set your proxy?

@KrauseFx @mfurtak  how proxy settings are handled inside spaceship right now?

[2016-11-04 09:01] tringManoj opened #6865 "Adding Multiple device for snapshot"
snapshot --scheme "somescheme" --devices (["iPad Pro (12.9 inch)", "iPhone 7 Plus"])

This is not working. Can you please help how to send the multiple device command for snapshot?

[2016-11-04 09:31] hjanuschka commented on #6865
i am not sure if it is possible to passthrough arrays via commandline flag.

you can set the `devices` inside your `Snapfile`

if you need to change them - via commandline.
i would preferr a ENV based solution like this.

[code]

and then running it with (in your case):

[code]

let me know if this works for you

[2016-11-04 09:38] tringManoj commented on #6865
Thank you. I got it working by this command

--devices "iPad Pro (12.9 inch), iPhone 7 Plus"

[2016-11-04 09:38] godrei opened #6866 "Keychain prompts for permission to use private key regardless of access control settings on sierra"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Fastlan gym hangs on `xcodebuild archive` commands.

Keychain prompts for permission to use private key regardless of access control settings on sierra this cases a hang on build servers when

[2016-11-04 09:53] PlayDevelop commented on #6751
I have the same issue, and this begun after Sierra installation is the problem only exists when is over ssh .  Locally on client it works

[2016-11-04 09:55] godrei commented on #6866
All of these builds was working fine before sierra, all of these builds are failing on the same part of `xcodebuild archive` calls (when it uses `codesign`).

Based on the openradar issue i mentioned previously and on our tests, it seems without calling `security set-key-partition-list ...` you can not avoid to keychain prompt for permission (on sierra), even if you installed the certificate corre

[2016-11-04 09:56] mpateck commented on #6862
Hi @hjanuschka ,

there was only http_proxy set on the jenkins directory.
If fixed that and after a restart of the server everything worked fine.

Thank you very much!

[2016-11-04 09:56] #6862 closed

[2016-11-04 10:03] Sajjon commented on #6365
Actually my schemes where in the correct place, in the `XXX.xcodeproj/xcshareddata/xcschemes/` folder (added to git)

[2016-11-04 10:09] tringManoj opened #6867 "Remove the defualt device name and launch option from screenshot"
Why every screenshot name is appended with DEVICE NAME and LAUNCH Arguments?

iPadPro(12.9inch)--animation NoAnimation-MyCustomName

I just want it to be named - "MyCustomName"

[2016-11-04 10:17] ff-ahumberston commented on #6751
I can confirm that the issue occurs when running over ssh with Sierra, running locally works as desired.

[2016-11-04 10:24] lakamsani commented on #6811
@johndolljr  thanks for that suggestion. I was trying relative path because that is how it works with crashlytics,  notes_path: File.expand_path("beta-release-notes.txt"), and  pilot changelog : File.read("tf-changelog.txt"). After the initial failure I tried with "./fastlane/notes.txt" and even direct notes string but they all failed as ITC seems to be in a inconsistent state for that app. So I r

[2016-11-04 10:45] hjanuschka commented on #6865
ahh nice - arrays work too, thx for the info

[2016-11-04 10:45] hjanuschka commented on #6865
ahh nice - arrays work too, thx for the info

[2016-11-04 10:45] hjanuschka commented on #6865
ahh nice - arrays work too, thx for the info

[2016-11-04 10:45] hjanuschka commented on #6865
ahh nice - arrays work too, thx for the info

[2016-11-04 10:45] hjanuschka commented on #6865
ahh nice - arrays work too, thx for the info

[2016-11-04 10:45] hjanuschka commented on #6865
ahh nice - arrays work too, thx for the info

[2016-11-04 10:45] hjanuschka commented on #6865
ahh nice - arrays work too, thx for the info

[2016-11-04 11:35] shivam-ucreate commented on #6758
Hey @KrauseFx
I am using rbenv with latest ruby version :
ruby 2.3.1p112 (2016-04-26 revision 54768) [x86_64-darwin15]

I am trying to use sigh -o "~/Certificates/"
But facing this issue :
Connection reset by peer - SSL_connect

[2016-11-04 11:58] bes commented on #6757
Here's what I did and what is working for us at the moment...

# Update your development provisioning profiles on developer.apple.com
Go to your account on https://developer.apple.com: `Certificates... > Provisioning Profiles > Development`

For all your match profiles update them (Edit) and add the certificates of all the developers on the team. (Why can't this be done by match itself? @KrauseFx

[2016-11-04 11:59] Sajjon commented on #6365
@TKBurner Any idea? Is it `xcrun` that's slow? Or is it the script `xcbuild-safe`? How can I determine that?

[2016-11-04 12:52] wacheski commented on #6136
A beautiful thing. Works great. Thanks!

[2016-11-04 13:02] besi commented on #1621
@vpolouchkine I checked my builds on iTunes Connect and found out that they don't have any symbols attached.

When I get crashes, the `dSYM` is an indispensable resource. So it would be very handy if fastlane could upload them to iTunes Connect.

<img width="513" alt="screen shot 2016-11-04 at 14 02 01" src="https://cloud.githubusercontent.com/assets/160412/20006337/50c63ad2-a297-11e6-93c4-a40ddcb

[2016-11-04 13:58] davidkennedysc commented on #5105
Should fastlane depend on a later version of xcodeproj? Just encountered this issue, not sure what the minimum version of xcodeproj I should upgrade to (I'm running old cocoapods so don't want to use the latest one)

[2016-11-04 14:16] i-schuetz commented on #3900
@KrauseFx

I'm getting this error after running match:

[code]

[2016-11-04 14:18] RyanCopley commented on #6859
It appears to be working now, but more info on this error would be appreciated

[2016-11-04 14:20] kwoylie commented on #6866
I'm having the exact same issue too

[2016-11-04 14:24] nicolasbraun commented on #6191
Personally my projects settings are in Automatic by default for developers and I change to manual using simple regexp on the pbxproj (for delivery jobs by Jenkins using fastlane)

[2016-11-04 14:31] mpirri commented on #1896
@jlubeck Thanks for verifying if that fix helps, but as I said, I don't think it will make much of a change. It looks to me like we are parsing the return value from iTunesTransporter incorrectly - it reports an error, and then retries; but, when `pilot` parses the result, we see the error and then abort without parsing further. We are looking into ways to fix this now, but, of course, it is hard

[2016-11-04 15:59] TKBurner commented on #6859
@RyanCopley @mdubs Thanks for following up. This looks like an issue on the endpoint side. I sent it out to the team to take a look to be sure. Thanks!

[2016-11-04 16:42] 0xced commented on #6454
`FASTLANE_EXPLICIT_OPEN_SIMULATOR` is now working fine with single scheme setups and scan 0.14.1. 😀

[2016-11-04 16:42] #6454 closed

[2016-11-04 17:38] mpirri commented on #6626
@esttorhe Just to +1 what @hjanuschka said above - can you provide a simple lane that can demonstrate the issue. Specifically, what is your `Fastfile` calling that allows the password to be entered after it has been found to be invalid? I've tried a few things to try to reproduce the behavior you described, but the tools fail because of the invalid password and don't ask for the password to be re-

[2016-11-04 17:52] santoshshetty2612 commented on #6833
I found the reason for the issue.
The issue is with Bitbucket. Even through command line when we try to clone the repo it stucks sometime though this frequency is less.
I tried both ssh and https, but the result was same.

I have shifted to gitlab to store the match certificates and profiles. gitlab is not as fast as bitbucket when cloning and pushing to the repo but is behaving quite consistent t

[2016-11-04 17:52] #6833 closed

[2016-11-04 18:10] esttorhe commented on #6626
Have you tried match?

If I'm not mistaken this happened with match.

–
Esteban Torres
CraftKollective (http://craftkollective.com) Co-Founder

Phone: (+506)8813-0934 (tel:(+506)8813-0934)
Skype: esteban.a.torres.hernandez
Twitter: @esttorhe (https://twitter.com/esttorhe)

On 4 Nov 2016, 18:38 +0100, mpirri <notifications@github.com>, wrote:

[2016-11-04 18:13] mpirri commented on #6626
@esttorhe when using `match`, was it with your git password or AppleID password?

[2016-11-04 18:14] i-schuetz commented on #5684
I'm getting this error with CircleCI. Circle uses "circle" instead of login keychain, could this be related?

[2016-11-04 19:24] Glidos commented on #6758
I had this problem with fastlane v 1.106.2, but just tried 1.107.0 and all is well again.

[2016-11-04 20:08] i-schuetz opened #6872 "Fastlane match not working on CircleCI"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Hello,

I'm trying to get `fastlane match` working in CircleCI.

Have a curious problem: if I ssh the building machine and run `fastlane match` it works correctly. If it's done as part of the

[2016-11-04 20:21] kashifangus commented on #6553
I was running El Capitan 10.11.6 and ran into this problem today too.

I just installed brew and did:
- brew update
- brew install ruby
Ran my CI build script and it worked.

I should say that my fastlane tools (and other gems) are part of my gem file that get installed/updated via bundler every time I do a build, so I didn't have to manually update those gems.

[2016-11-04 20:53] tabrindle opened #6873 "Invalid sticker pack: non-compliant or prerelease tools"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Fastfile:
[code]

Command:
`fastlane beta`

Results in:

Email form iTunes Connect:
_Invalid iMessage App - Your iMessage app contains an invalid sticker pack. The app may have been built or s

[2016-11-04 21:03] i-schuetz commented on #6872
(Notifying) Note: I edited the original post to replace the fastlane environment output (during build) with the correct one. In the previous I had `fastlane env` before updating the gems so it was showing a lot of errors because of old versions. Not match is also in the Fastfile, not in circle.yml. Still have the same problems.

[2016-11-04 21:34] nikitaame commented on #6706
If anyone else ever has this problem:

```project: settings['project']```

needs to be

```workspace: settings['workspace']```

in the fastfile.

[2016-11-04 23:08] JackieQi commented on #6219
My experience here. I used use_legacy_build_api. it failed using wrong provisioning file. So i turned off automatic signing. and manually picked provisioning file for different configuration. Then everything works perfectly fine. Tested release build with push notification.

[2016-11-05 00:44] 0xced commented on #6119
I had the same issue because I did not import the right *bridging header* file. The quick start says

I think the use of the *bridging header* word is a bit misleading since you must `#import "My_App_UI_Tests-Swift.h"`, which is **not** the `My App UI Tests-Bridging-Header.h` file generated by Xcode when you added the first swift file to your project.

You have to guess the `My_App_UI_Tests-Swift.

[2016-11-05 04:44] rgarib commented on #5729
Yes, it is

[2016-11-05 06:31] lakamsani commented on #6811
Just tried notes: File.read("./fastlane/notes.txt") and it does not work.

[code]

[2016-11-05 11:11] hjanuschka commented on #6626
@esttorhe  i really wan't to help you,and find the bug.
but i am unable to reproduce it.

tried match via fastfile

[code]

results in:

[code]

and commandline
[code]

[2016-11-05 13:59] meirtz4 commented on #1896
@mpirri won't killing the connection and then reconnect will reproduce it? I can test if i can reproduce easily it if needed...

[2016-11-05 19:15] LeBlaaanc commented on #6779
@TKBurner that didn't do much of anything.

[code]
</details>

<details><summary>`./fastlane/Appfile`</summary>

[code]

[2016-11-05 21:31] Jules2010 opened #6874 "UI Test output at snapshot command line?"
This is not so much an issue.

But I am having difficulty getting a test to work with snapshot without failing.

Therefore I'm trying to add some kind of output which will show in the command line to try and determine where the problem occurs.

The line number isn't shown in the error.

I've tried NSLog and tried an assertion, but only failed assertions are shown.

Any suggestions?

[2016-11-05 23:00] barnaclebarnes opened #6875 "deliver download_metadata always prompts to overwrite the folder"
### New Issue Checklist

- [* ] Updated fastlane to the latest version
- [* ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

running `deliver download_metadata` always prompts to overwrite the folder even when it doesn't exist. This means that you cannot run the command unattended. It will always ask to overwrite

[2016-11-06 03:21] melakamc commented on #6758
@TKBurner  - Tried with ruby 2.3.0 - same result

[2016-11-06 06:07] #5734 closed

[2016-11-06 07:16] Urkman commented on #6863
Thanks... That was the case...
I resorted the PATH and everything works fine.

[2016-11-06 07:16] #6863 closed

[2016-11-06 09:51] GoodMirek opened #6878 "Set 'log: true' while calling 'Fastlane::Actions.sh' if CLI option --verbose"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
I found it difficult to troubleshoot errors like:
<br>`ERROR [2016-11-06 03:34:20.16]: Shell command exited with exit status 48 instead of 0.`<br>
which are returned while running action e.g. `

[2016-11-06 10:01] GoodMirek opened #6879 "How is --capture_output supposed to work?"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
I run fastlane from shell session established over SSH. When I use command line option `--capture_output` it does nothing. No output is generated on STDOUT nor STDERR nor any file with markdown

[2016-11-06 10:47] hjanuschka commented on #6879
the `capture_output` should basically capture all the output produced by fastlane - so you can get a easy copy paste-able - markdown - for easier trouble -shooting.

sadly, and i applogize, there is right now  a error in the release `fastlane` gem as - it lacks of https://github.com/fastlane/fastlane/blob/master/fastlane_core/lib/fastlane_core/helper.rb#L29 this function, it should be availaible w

[2016-11-06 10:50] GoodMirek commented on #6879
@hjanuschka Thanks for response. Will the output of `--capture_output` go to a file or clipboard only or depends on terminal (tty versus X11) ?

[2016-11-06 11:01] GoodMirek opened #6880 "cert supports path to custom keychain, but create_keychain does not"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
cert supports path to custom keychain, but create_keychain does not.
Use case is to create a temporary keychain in working directory by CI process. The working directory is always cleaned up, t

[2016-11-06 11:04] hjanuschka commented on #6879
the behaviour is the same as - fastlane env - the only difference is - that capture output also includes the full stdout/stderr of the run command

you can try it.
on interactive terminals (only on osx) it will ask you for putting it into pasteboard, otherwise it just prints it to the terminal.

--
Helmut Januschka
Sent with Airmail

Am 6. November 2016 um 11:50:15, GoodMirek (notifications@github

[2016-11-06 11:09] GoodMirek opened #6881 "Add 'force' option to create_keychain"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Use case: for continuous integration, I prefer to create a new temporary keychain for every build to ensure maximum reproducibility. If the keychain already exists on the CI system it needs to

[2016-11-06 12:11] mortenholmgaard commented on #5388
@KrauseFx please reopen this issue - and please fix it. I experience the exact same thing. I also have targets that does not have a specific folder to the target like this:

[2016-11-06 12:23] viktorbenei commented on #6866
Practically this issue means that fastlane hangs at any point which requires code signing, on a clean macOS Sierra, in a non interactive environment (CI),  because of the permission popup.

[2016-11-06 14:51] GoodMirek opened #6882 "create_keychain with 'default_keychain: true' fails when no default keychain exists"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Use case - automated CI build. When the previous build fails, the CI worker cleans up all its artefacts including temporary keychain. While leaving no default keychain in place, then create_key

[2016-11-06 16:48] GoodMirek commented on #6879
Thanks. I will definitely try it once it works for me.

[2016-11-06 17:56] #5883 closed

[2016-11-06 18:06] #5903 closed

[2016-11-06 18:15] #5886 closed

[2016-11-06 18:37] #5025 closed

[2016-11-06 18:57] #5896 closed

[2016-11-06 20:12] i-schuetz commented on #5585
I would like to change the name because it has my name and since it's shared, it would be better if it has the company name?

[2016-11-06 20:12] i-schuetz commented on #5585
@KrauseFx I would like to change the name because it has my name and since it's shared, it would be better if it has the company name?

[2016-11-06 20:19] #5891 closed

[2016-11-06 20:35] i-schuetz opened #6883 "Can't remove certificates"
I'm troubleshooting some issues I'm having with match (not relevant for this question), with this: https://docs.fastlane.tools/codesigning/troubleshooting/ specifically the part to check that there's a private key for the certificate in my keychain. My problem: There are 3 development certificates with the same name / userId and no one has private key.

I think this may be related with the fact th

[2016-11-06 22:26] KrauseFx commented on #5469
Done thanks to @hjanuschka with https://github.com/fastlane/fastlane/pull/6582 🚀

[2016-11-06 22:26] #5469 closed

[2016-11-06 23:40] KrauseFx commented on #6878
Yeah, I like the idea of having log being true if not specified otherwise 👍
Do you think there will be any side-effects?

[2016-11-06 23:40] KrauseFx commented on #6878
For actions like the keychain, we can't just print the output, as it also contains the password. This shouldn't show up in build logs, even for `verbose` mode

[2016-11-07 02:45] KrauseFx commented on #6866
Is this something that was recently introduce by _fastlane_? Did it work before?

[2016-11-07 02:47] viktorbenei commented on #6866
This is a change in macOS Sierra - the same fastlane build works on El Capitan, but "hangs" on Sierra, waiting for the user to click the "Allow" popup for code signing. See the related radar: https://openradar.appspot.com/28524119

[2016-11-07 05:09] #6865 closed

[2016-11-07 07:46] savage7 commented on #6754
It's easy to do this with any command line script:
yes | ./script
This passes y, to pass n:
yes n | ./script

It use this with match when I automatically renew our dev certs on Jenkins, before renewing I always do a nuke.

Reference:
http://askubuntu.com/questions/338857/automatically-enter-input-in-command-line

[2016-11-07 09:20] cwilhelm commented on #5976
👍 for newer releases.

[2016-11-07 09:31] GavinRooney commented on #6814
HI @TKBurner Have you got an example of how the fastlane password is to be added? Ill give that a go cheers

[2016-11-07 10:37] GandjaFuzz opened #6885 "[match][bug] match = git clone --depth=1"
when work match he clone repo with full history it is very slow. history size - 1GB. but last version size ; 1.8MB.
Please add in match on git clone action additional parameter - "--depth=1"

[2016-11-07 10:40] #6885 closed

[2016-11-07 10:58] Sajjon commented on #6365
I tried a vanilla archiving and exporting on the Mac mini from Xcode, using the cert and PP downloaded via match (i.e. not using fastlane gym) and that was equally slow.

So the problem I am having is not related to `gym`, so I am very sorry for my misleading comments.

[It seams like I am not the only one having problems with slow exporting in Xcode 8](http://stackoverflow.com/a/40313078/1311272)

[2016-11-07 12:12] hjanuschka commented on #6365
@Sajjon i hade same troubles on a few CI machines, after sierra upgrade, i ended up creating a new blank keychain, and setting this to default.

[2016-11-07 13:03] hjanuschka commented on #6754
@kylejm  here is a PR wich should add support for `--force`  on match.

https://github.com/fastlane/fastlane/pull/6886 (lets see if this is going to be merged)

@TKBurner i see a use case where you wan't to have a clean run on CI or something like that.

[2016-11-07 13:07] hjanuschka commented on #6878
how about adding `--troubleshoot` - wich enforces `true` on the `sh` action and also sets `verbose` - so you can manually choose it.

[2016-11-07 13:32] hjanuschka commented on #6880
@GoodMirek - i love the "maximum reproducibility" - see this PR: https://github.com/fastlane/fastlane/pull/6887 - maybe you +1 it for me.

[2016-11-07 13:35] hjanuschka commented on #6881
i don't think a `force`  option is good in this case. i bet there are users out there accidentally deleting there `login` keychain.

cant you do something like.

[code]

[2016-11-07 13:45] hjanuschka commented on #6882
https://github.com/fastlane/fastlane/pull/6887 should fix it - please +1 it.

[2016-11-07 13:46] JulianKingman opened #6888 "Installing on Sierra"
In order to install on Sierra (maybe El Capitan, too), you have to install it locally, as it won't install in root (you'll get an error about `usr/bin/commander`).

Here's the required command:
`sudo gem install -n /usr/local/bin pem`

I suggest adding it to the readme

[2016-11-07 14:50] hjanuschka commented on #6888
this is not really fastlane specific - this happend somwhere in el-capitan.
you can also add:

[code]

to your `~/.gemrc` file.
or the better use `rvm/rbenv` to manage your ruby versions - as the one that apple ships is pretty old and has a lot of issues (e.g: ssl)

[2016-11-07 14:51] riyaz opened #6890 "Unknown characters in jenkins build log"
### New Issue Checklist

- [ x] Updated fastlane to the latest version
- [x ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Android build in jenkins is getting non formatted logs, even changelog_from_git_commits action has same issue.

No issues locally.

20:12:00 [20:12:00]: [32m--------------------------------

[2016-11-07 15:06] GoodMirek commented on #6878
I like the `--troubleshoot` option.

If even more safety was desired, we could impose interactive user confirmation asking the user whether they really desire to display sensitive info, like the confirmation required in case of `match nuke`.
Also, the `--troubleshoot` option might be ignored if is_ci is true.

[2016-11-07 15:20] GoodMirek commented on #6881
Thanks for response. I will also need to remove the keychain from search list.
I understand the good reason for not having the simple `force` option. Maybe if there was a special check to never delete login.keychain?

[2016-11-07 15:23] hjanuschka commented on #6881
i got you, but i still think there should be no "auto-delete if existing" in a `create`  function like this.
can't you just call `delete_keychain` before creating it? - if it fails handle the exception in a `rescue`

[2016-11-07 15:25] GoodMirek commented on #6881
Will try, thanks.

[2016-11-07 15:25] #6881 closed

[2016-11-07 15:57] riyaz commented on #6890
Never mind, after installing Ansi plugin issue is fixed.

[2016-11-07 15:57] #6890 closed

[2016-11-07 16:06] petitmat opened #6891 "`encode': [31m[!] "\xE2" on US-ASCII[0m"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Hello, when I run Deliver I got this error. But I haven't it before and it worked properly. I am using a DeliverFile (because we use fastlane only for delivering our apps (hundreds every year)

[2016-11-07 16:08] mpirri commented on #6754
Merged the PR, thanks so much @hjanuschka !

[2016-11-07 16:08] #6754 closed

[2016-11-07 16:18] Sajjon commented on #6365
@hjanuschka I actually found out that OS X server had generated up 357 certificates in my keychain!

[So indeed this StackOverflow answer was right](http://stackoverflow.com/questions/39934254/xcode-8-preparing-archive-takes-forever/40313078#40313078)

Deleting duplicate certificates decreased time from 21 minutes to less than 4 minutes.

[2016-11-07 16:37] KrauseFx commented on #6881
Thanks for helping @hjanuschka 👍

[2016-11-07 16:45] riyaz opened #6892 "changelog_from_git_commits -> crashlytics has [m in it"
### New Issue Checklist

- [ X] Updated fastlane to the latest version
- [ X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I'm generating changelog using changelog_from_git_commits and pass it to crashlytics, I tried writing it a file and send to crashlytics using notes_path path param still no use.

##### Fastf

[2016-11-07 16:46] viktorbenei commented on #6866
To highlight, the solution we found is to do this: https://github.com/bitrise-io/steps-certificate-and-profile-installer/blob/master/main.go#L569 - `"security", "set-key-partition-list", "-S", "apple-tool:,apple:", "-k", configs.KeychainPassword, configs.KeychainPath`, after `"security", "import", cert, "-k", configs.KeychainPath, "-P", pass, "-A"`

Have to be done only on Sierra, this command wou

[2016-11-07 17:44] asfalcone commented on #6892
@riyaz what should `pretty` format you're using (pretty: '*%d%Creset %s<%an>%Creset') look like?

[2016-11-07 17:46] riyaz commented on #6892
yes

[2016-11-07 18:11] PetrosIchor commented on #6583
No problem!  I've saved hours searching solved issues on this project.  Need to pay it forward. :-)

[2016-11-07 19:20] TKBurner commented on #6758
@JulianKingman @melakamc Thanks for following up. This is an enviromental config issue related to Ruby, openssl, and your OS. I've seen the most success with rvm and rebenv. Brew installed ruby doesn't seem to be as successful. How did you install ruby?

Also, wanted to let you know that we are working on this internally and will reach out again in the coming days with another workaround.

[2016-11-07 19:24] TKBurner commented on #6553
@cogentParadigm We are still looking into a better long term solution. Expect and update on this thread in the coming week. Thanks!

[2016-11-07 19:28] #5663 closed

[2016-11-07 19:36] TKBurner commented on #6883
@i-schuetz Thanks for reaching out. So are you still running into an issue? You should be able to delete the unused profiles without any issues. Thanks!

[2016-11-07 19:37] TKBurner commented on #5585
@i-schuetz Thanks for following up. We'll track this as a feature request.

[2016-11-07 19:46] phubert-handy commented on #6463
Hi @TKBurner @jwilliams-handy is out at the moment but I've been encountering the same issue. Here's my (slightly cleaned ) output from `fastlane env`:

<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                 | Value                                             |
| ------------------- | ------------------------------------------------- |
| OS                  | 10.11.

[2016-11-07 19:53] TKBurner commented on #5388
@mortenholmgaard Thanks for reaching out about this. Can you provide a sample project that is affected by this issue? If you can provide that and repro steps, I'd love to loop in the core team.

Thanks!

[2016-11-07 20:07] #5880 closed

[2016-11-07 20:25] TKBurner commented on #6875
@barnaclebarnes What happens if you set `force: true`? That should prevent this.

[2016-11-07 20:27] TKBurner commented on #6874
@Jules2010 Have you tried adding --verbose to your run of snapshot? If you have Xcode open does your debug output appear in the console?  Thanks!

[2016-11-07 20:30] menriquez commented on #6874
you need to add a sleep() command after every button push

[2016-11-07 20:32] TKBurner commented on #6779
Hi @LeBlaaanc as noted, we don't officially support Enterprise profiles in match so this is going to be tough to troubleshoot. I'll leave this open in case others can help

https://github.com/fastlane/fastlane/tree/master/match#enterprise-profiles

[2016-11-07 20:37] TKBurner commented on #5729
@rgarib Thanks for following up. Can you provide exact repro steps for this. I'd love to look into it. Thanks!

[2016-11-07 21:00] Jules2010 commented on #6874
Yeah thanks, added more sleep intervals.
Just not always straight forward to figure out where the issue occurs when no line number is provided in the error.
I know this isn't an issue with snapshot.
Just hoping I could add more output to the command line instead.

[2016-11-07 21:15] CareerFairPlus opened #6897 "Add options to disable the printing of lane context and fastlane summary table"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
This is an enhancement/feature request to please add a configuration option that gives users the ability to disable fastlane from outputting the lane_context during an error.  Also, please add

[2016-11-07 21:31] TKBurner commented on #5684
@i-schuetz Have you passed a keychain_name? Thanks!

[2016-11-07 21:40] LeBlaaanc commented on #6779
@TKBurner it's related to this https://github.com/fastlane/fastlane/commit/84bfb1fef62cc8bb0c6a33e20effcfe1c482fe7e maybe @KrauseFx can chime in on what was changed here and more importantly the proper way to specify appstore vs. enterprise with match.

[2016-11-07 22:11] TKBurner commented on #6873
@tabrindle Thanks for reaching out. Can you confirm if this happens on all projects or just one? Are you able to make this happen consistently? I've reached out to the core team to have them take a look. Thanks!

[2016-11-07 22:12] TKBurner commented on #6872
@i-schuetz Thanks for reaching out. Have you tried the keychain_name parameter? This should get things working as expected. Thanks!

[2016-11-07 22:31] barnaclebarnes commented on #6875
@TKBurner I tried that and it doesn't work.

[code]

Still asks for:

`Do you want to overwrite existing metadata on path '/Users/barnacle/Documents/mytours/mytours-ios/downloads/metadata/1036'? (y/n)`

Any other settings I can try?

[2016-11-07 22:40] barnaclebarnes commented on #6875
Another datapoint. Setting `--force` on the command line updates the summary but still prompts for overwriting the files:

[code]

[2016-11-07 22:44] craigho opened #6898 "Sigh: Add option to save provision profiles by name rather than by app ID"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
I'm using fastlane (sigh) to manage a large list of provisioning profiles. It is easier for my purposes to have `sigh download_all` pull down the provision profiles by name, rather than app ID.

[2016-11-07 22:45] claesjacobsson opened #6899 "frameit offsets not quite right"
I'm having problems with offsets placing the screenshot slightly wrong in the frame. Historically, I believe this has been caused by Apple changing their device frames. Is this a known problem in the latest version of frameit?

[2016-11-07 22:50] fabiomassimo opened #6900 "[match] Import code signing certificate to match repo"
# What

As `match` user I love that all my certificates and provisioning profiles can be automated, although when using `match` it is not possible to import an existing code signing certificate to the repo.
The suggested solution is to use `match nuke` to remove all certificate not managed by `match`, since creation, and recreate them. Although this is a valid solution, that aims to keep consisten

[2016-11-07 22:56] craigho opened #6901 "Sigh: Add option to update provision profile with a single UDID"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
I'm using fastlane (sigh) to manage a large list of UDIDs. It is easier for my purposes to have sigh add a single UDID to a provision profile, rather than pulling in all available UDIDs.

I am

[2016-11-08 02:01] milch commented on #6897
Can you go into a bit more detail why that would be useful for you, and how other users could benefit from this change?

[2016-11-08 02:08] milch commented on #6878
Yes, I very much agree. Some users might not realize, enable it on CI (or wherever) and leak information. There's also the issue of people wanting to be helpful and copying the output with `--troubleshoot` to their issue/PR.

- When running on CI, I wouldn't ignore the option, but fail and let the user know that this option needs to be disabled on CI
- Otherwise there should be an interactive conf

[2016-11-08 07:49] hjanuschka commented on #6873
please see the sample app - with a sticker-pack extension using fastlane 👍

https://github.com/hjanuschka/sticker-pack-with-fastlane

be sure to not use `use_legacy_build_api`  - and also ensure that you remove the sim. frameworks with a custom script phase.

[code]

[2016-11-08 07:53] fabware commented on #6095
Same issue here, 2FA enabled.

Only I need to know is how to input  app specific password,  frustrating.

[2016-11-08 08:17] #5134 closed

[2016-11-08 08:56] hjanuschka commented on #6892
can you try removing `%Creset` - as this forces ansi color reset.
wich is not displayable by crashlytics changelog (seems to be)

without '%Creset' it works on my machine.

i guess you tried to disable colored `git log` - to disable coloring see: https://git-scm.com/book/tr/v2/Customizing-Git-Git-Configuration#Colors-in-Git

[2016-11-08 08:59] ooopscc opened #6904 "new check for imagemagick fails ci even when graphicsmagick install"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

new check for imagemagick fails ci even when graphicsmagick install
minimagick works on both imagemagick and graphicsmagick

related pr: https://github.com/fastlane/fastlane/pull/6568/commits

[2016-11-08 09:15] hjanuschka commented on #6904
i did a PR right now - to also support graphicsmagick
https://github.com/fastlane/fastlane/pull/6905

[2016-11-08 09:27] riyaz commented on #6892
@hjanuschka 👍 that fixed the issue thanks, closing the issue too.

[2016-11-08 09:27] #6892 closed

[2016-11-08 09:44] ooopscc commented on #6904
@hjanuschka 👍 very fastlane.

[2016-11-08 09:56] Anthony1993123 commented on #338
Thanks a lot!

[2016-11-08 11:36] claesjacobsson commented on #6899
Is it correct that Apple sometimes changes the positioning of the device frames and that this has caused problems in the past?

[2016-11-08 12:29] JohannesDeml commented on #6095
@fabware I had to fill it out once I ran pilot. It was a simple prompt in the commandline, nothing special to do here.

[2016-11-08 12:41] lucatorella opened #6906 "Code signature it's taking ages"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Since a few days (maybe since I updated to macOS Sierra 10.12.1 or Xcode 8.1) fastlane is taking a lot time, in particular code signing is taking ages. I checked if there are multiple copies o

[2016-11-08 13:54] CareerFairPlus commented on #6897
Sure.  This would be very useful for us because our Fastfiles are setup to deploy multiple different apps at once (like tens of apps at a time).  We have our CI server running our builds with fastlane and the logs get ginormous.  The major driver of the size of the logs is build output, fastlane summary table output and fastlane lane context output.  Being able to turn off the summary and the lane

[2016-11-08 13:55] alickbass commented on #6419
I have the same

<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                 | Value                                                |
| ------------------- | ---------------------------------------------------- |
| OS                  | 10.12.1                                              |
| Ruby                | 2.3.1                                                |
|

[2016-11-08 14:00] posaunehm commented on #6872
I have exactly same issue and setting `keychain_name` paramater doesn't help...

[2016-11-08 14:20] CareerFairPlus commented on #6897
Just to further clarify, I'm referring to the "fastlane summary" table at the end of execution, _**not**_ the individual lane summary tables (like produce, pem, etc.)

[2016-11-08 14:33] yogiben commented on #6516
I added `ENV["GYM_PROJECT"] = "/Users/gringo/dev/project/project-app/0.31.0/ios/Project.xcodeproj"` to the `Fastfile` but get the same prompt.

The path works when entered in the command line prompt.

[2016-11-08 14:38] i-schuetz commented on #6419
Also just got this, exactly the same behaviour as described by @falcon283. Building from CI. Using Fastlane 1.107.0.

[2016-11-08 14:43] bapsteks opened #6908 "Adding the target for xCode automatically."
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I understand that Fastlane may have been built to maintain 1 App? However we are looking to automate the submission of over 800 Apps, is there a way of automatically adding the target for Snap

[2016-11-08 14:48] hjanuschka commented on #6908
hello @bapsteks  this is probably the same as here:

  * https://github.com/fastlane/fastlane/issues/6365#issuecomment-258881646

wich points to following stackoverflow solution:

  * http://stackoverflow.com/questions/39934254/xcode-8-preparing-archive-takes-forever/40313078#40313078

after the upgrade the keychains get  messed up (sometimes)
so either create a new one using `create_keychain` - o

[2016-11-08 14:49] hjanuschka commented on #6906
hello @lucatorella   this is probably the same as here:

  * https://github.com/fastlane/fastlane/issues/6365#issuecomment-258881646

wich points to following stackoverflow solution:

  * http://stackoverflow.com/questions/39934254/xcode-8-preparing-archive-takes-forever/40313078#40313078

after the upgrade the keychains get  messed up (sometimes)
so either create a new one using `create_keychain`

[2016-11-08 14:51] patrykmol opened #6909 "Deliver upload error"
### New Issue Checklist

- [x ] Updated fastlane to the latest version
- [x ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Executing `deliver` fails with following error.

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Environment

Please run `fastlane env` an

[2016-11-08 14:52] hjanuschka commented on #6908
so you want to end up with a single project with 800 targets?

what is your goal?
for example - we have a single project - and depending on the git branch - we change the app-identifier and generate another app out of it :)

example:

[code]

[2016-11-08 14:54] hjanuschka commented on #6909
can you please share your `Deliverfile` - seems to be some wrong variable inside

[2016-11-08 14:57] patrykmol commented on #6909
[code]

[2016-11-08 15:02] TKBurner commented on #6866
@viktorbenei Thanks for working with us on this. I've circled back with the core team to see what we can do to improve this 👍

[2016-11-08 15:03] bapsteks commented on #6908
We will have around 800 individual Apps that will be checked out one by one in git, each having a new xcode project associated with it. When we check these new Apps out they will not have the target needed to create screenshots via snapshot and adding this in manually takes away from the automation that I am trying to achieve. The entire apps are unfortunately completely different so we won't be a

[2016-11-08 15:08] yokoe commented on #6673
Updated the PR #6774.

[2016-11-08 15:09] lucatorella commented on #6906
So I already checked the keychain and it contains just few certificates. I'll anyway try to create a new keychain.

[2016-11-08 15:12] hjanuschka commented on #6908
got you - you can try using `xcodeproj` gem.

[code]

untested - but it should be a good starting point,  you may need to digg a bit into the xcodeproj-api.

[2016-11-08 15:15] bapsteks commented on #6908
That's brilliant, relatively new to Ruby so all of this is new to me but this appears to be a step in the right direction. Thanks a lot :)

[2016-11-08 15:24] petitmat commented on #6891
I fixed it !

It was because I'm using Jenkins and it doesn't support utf-8 by default. You have to add :

export LANG=en_US.UTF-8
export LANGUAGE=en_US:en

in your build step before calling your script.

[2016-11-08 15:24] #6891 closed

[2016-11-08 15:40] JMCPH opened #6910 "Resign error, when using match xcode 8"
### New Issue Checklist

- [X ] Updated fastlane to the latest version
- [X ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

[16:36:10]: Successfully exported and compressed dSYM file
[16:36:10]: Successfully exported and sign

[2016-11-08 15:42] TKBurner commented on #6419
@i-schuetz Are you consistently experiencing this. Usually when we see this it's an issue with iTC. Thanks!

[2016-11-08 15:44] TKBurner commented on #6516
Hi @yogiben can you also set the GYM_WORKSPACE? Thanks!

[2016-11-08 15:48] viktorbenei commented on #6866
Thanks @TKBurner , let us know if we can help with anything else!

[2016-11-08 15:49] TKBurner commented on #6872
@posaunehm Can you share your full input and output for the error? I want to take a look. Thanks for working with me 👍

[2016-11-08 15:49] i-schuetz commented on #6872
I finally switched to using "normal" fastlane instead of match, i.e. uploading my key to Circle as described in the instructions there.

From what I remember, I tried keychain_name out and it didn't work.

Further, the reason that it worked correctly in the ssh session was the point of time where the session was created, which was after fastlane match ran already. I opened a session before this st

[2016-11-08 15:51] TKBurner commented on #6095
@fabware Did you get up and running? You should just enter it when prompted for your password in pilot.

[2016-11-08 15:53] hjanuschka commented on #6910
is the provisiong profile generated by match?

can you try the following (and post results) (changing the path to your mobile prov):

[code]

can you share your mobileprov?

[2016-11-08 15:53] TKBurner commented on #6899
@claesjacobsson Can you share the output of `fastlane env` and also share some screenshots of the issue you are seeing? I'd love to take a look 👍

[2016-11-08 15:55] TKBurner commented on #6901
@craigho This is an interesting idea. I can understand the use case. If you are interested in a submitting a PR we'd work with you.

[2016-11-08 15:57] TKBurner commented on #6900
@fabiomassimo Thanks for reaching out. I'm bumped this with the core team to see what the interest is. I am really happy to see what you built 👍

[2016-11-08 16:02] TKBurner commented on #6898
@craigho I'm not sure how this will work with implications in _match_. I'm going to leave this open for more feedback 👍

[2016-11-08 16:14] i-schuetz commented on #6419
@TKBurner well, I just started using pilot in Circle today and have gotten it in 2 of 2 attempts, so consistent? Just got it. Tried adding the entitlements file for the push notifications after the first attempt (capabilities tab was showing an error here) but apparently it didn't make a difference. The push notifications also have always worked so not sure if this was really necessary. In any cas

[2016-11-08 16:17] craigho commented on #6901
Thanks @TKBurner, I have submitted my PR.

[2016-11-08 16:18] tabrindle commented on #6873
This happens consistently, on two (cordova) projects with the same configuration. Am going to try disabling `use_legacy_build_api`, sounds like that is the issue. I will reopen if this is not solved with your suggestions. Thank you @TKBurner and @hjanuschka.

[2016-11-08 16:18] #6873 closed

[2016-11-08 16:18] melakamc commented on #6758
@TKBurner Installed using brew. Changed version using rebenv.

Let us know when you guys find a solution. Thanks in advance

[2016-11-08 16:20] milch commented on #6900
@fabiomassimo Thanks for your detailed issue! I am very open to this feature as I've run into this before myself.

However, we always have to be careful when implementing new features. This especially affects core features that could have a big impact on how users are using fastlane, like this one.

In my experience, while it is a nuisance to send out another build that testers need to update to,

[2016-11-08 16:21] dhaligas commented on #6758
I used rvm which finally worked.

Install rvm

Then I followed the steps produce gave me

First run `rvm osx-ssl-certs update all`
Then run `rvm reinstall ruby-2.3.1 --with-openssl-dir=/usr/local

[2016-11-08 16:21] craigho commented on #6898
I considered download_all, plus the renewal scenario. The drawback to this is that some actions require you to reference the app.bundle_id (like --force), so having a bunch of profiles _not_ named by app.bundle_id  makes for a bit of a logistical headache, though the ID can be found inside the file (for adhoc and developer).

[2016-11-08 16:22] JMCPH commented on #6910
I'm getting the following output:

security: failed to add data to decoder: UNKNOWN (-8183(d)
security: problem decoding
Print: Entry, ":Entitlements:application-identifier", Does Not Exist

Do you mean the .mobileprovision file?

[2016-11-08 16:30] claesjacobsson commented on #6899
<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                 | Value                                                          |
| ------------------- | -------------------------------------------------------------- |
| OS                  | 10.12.1                                                        |
| Ruby                | 2.0.0

[2016-11-08 16:31] claesjacobsson commented on #6899
![iphone5s-listscreen_framed](https://cloud.githubusercontent.com/assets/507101/20107518/196b87d2-a5d9-11e6-862f-e812f8a8fd6f.png)
![iphone7-listscreen_framed](https://cloud.githubusercontent.com/assets/507101/20107519/196e7fc8-a5d9-11e6-82dc-179e0a7a4ef9.png)
![iphone7plus-listscreen_framed](https://cloud.githubusercontent.com/assets/507101/20107520/196f036c-a5d9-11e6-9cce-51ae3c9dc93a.png)

[2016-11-08 16:36] fabiomassimo commented on #6900
@milch You are right, this is not an easy feature and I'd like to gather as more feedbacks as possible. Thank you for chiming in.

It is true, `fastlane` makes it possible to create new builds in no time but distributing an app can involve different use cases.
Let's say you distribute your beta apps via Fabric Beta to multiple testers or potential clients. Nuking the distribution certificate could

[2016-11-08 16:39] patrykmol commented on #6909
Updating ruby to 2.3.0 helped ...sort of. Everything works from terminal however when Jenkins invokes `deliver` it still uses 2.0.0. Rebooting build machine didn't help. Closing for now.

[2016-11-08 16:39] #6909 closed

[2016-11-08 16:43] jedi4ever opened #6912 "how to distribute a build to internal tester using spaceship (when using --skip-sumission)"
### Issue Description
I'm coding a cli called `slowlane` - <https://github.com/jedi4ever/slowlane/>

a) To upload an ipa I've looked at the `pilot` code and that works
https://github.com/jedi4ever/slowlane/blob/01fd3a77dd84151c0eba2cb737b3df58096ffe3d/lib/slowlane/itunes/build.rb#L67

b) I skip submission as I use the tool during CI builds and the timeout of apple is high for the build system to c

[2016-11-08 16:46] #4108 closed

[2016-11-08 16:55] TKBurner commented on #6875
@barnaclebarnes What happens if you set up a lane with the _deliver_ command rather than calling the command directly from the command line? Thanks!

[2016-11-08 17:01] TKBurner commented on #6874
@Jules2010 Thanks for the feedback. I added this to our documentation flag. Hope you have a great day!

[2016-11-08 17:06] TKBurner commented on #6463
@phubert-handy Thanks for following up on this. Definitely want to get to the bottom of this. Is this affecting all projects on your system (including a new blank project) or just one? Can you share your output as well? Thanks so much!

[2016-11-08 17:09] TKBurner commented on #6891
@petitmat Thanks for reaching out. I've looped in the core team. Can you let me know if you updated ruby, your OS or open-SSL recently? Thanks!

[2016-11-08 17:13] #6237 closed

[2016-11-08 17:35] JAStanton opened #6913 "gym: "invalid option: -derivedDataPath" after updating"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

This has only started happening to be since updating all my fastlane gems:

[code]
The error:
[code]

### Environment

### Stack

| Key                 | Value

[2016-11-08 17:46] JAStanton commented on #6913
Ah I think I may have figured it out. It seems as if the `-` wasn't being escaped. This was valid before (1.7.0 I think).

from this:
[code]

to this:
[code]

[2016-11-08 18:06] hjanuschka commented on #6910
yeah i mean the *.mobileprovision file - i tried it on my machine and the above command worked.
so my current bet is on a corrupted provisiong profile.

[2016-11-08 18:13] milch commented on #6897
Alright, I can see the value in that. We could add a global `--quiet` option that disables outputs like these - or even disables most of the output except for errors. Does that sound like a good solution to you? Any other things you think would make sense to have muted?

In the meantime, you should also be able to mute the lane_context output using `egrep`:

[code]

[2016-11-08 18:20] JAStanton commented on #6913
So this is the command that eventually runs:
[code]

I suppose thats valid syntax `\-derivedDataPath` but it's not confidence inspiring to see the bask slash :)

[2016-11-08 18:21] jedi4ever commented on #6912
nevermind found it

https://github.com/fastlane/fastlane/blob/714b3a40117f8b59d0d13c7ebd32e7abe46c6b5b/spaceship/lib/spaceship/tunes/build_train.rb#L112

[2016-11-08 18:21] #6912 closed

[2016-11-08 18:25] milch commented on #6900
Right, I hadn't thought about the client use-case.

My concern is that there is a lot that can go wrong while using `import` - basically everything you listed above and more. There's also the fact that people will wonder why they can't import a certificate without having the associated Apple ID (e.g. the developers might not have access to the developer account, also a situation I've experienced).

[2016-11-08 18:39] JMCPH commented on #6910
[provision.mobileprovision.zip](https://github.com/fastlane/fastlane/files/579041/provision.mobileprovision.zip)
There you go. Any suggestions on how i can proceed from here?

[2016-11-08 18:43] fabiomassimo commented on #6900
I see your point and I believe we can deliver this feature without weakening the user experience or tremendously increasing the support-load.

Match has in mind most of the user's use cases and we should take inspiration from the lessons learned and the powerful options at our disposal.

I'll workout a PR that puts out there some code on which we could work/discuss on. I'd really appreciate some p

[2016-11-08 18:46] milch opened #6914 "Add language settings to env output"
We often receive issues that have problems with the language settings, see #6891. Users receive errors like `�[33mencode': "\xE2" on US-ASCII (Encoding::InvalidByteSequenceError)�[0m`, or other, similar ones. To be able to quickly triage/solve these issues, the value of these environment vars needs to be added to the output of `fastlane env`:

- LANG
- LANGUAGE
- LC_ALL

The value of all of these

[2016-11-08 18:47] hjanuschka commented on #6910
this file seems to be crypted  - and is therefore no valid prov. prof. - so i guess this is the error - did you get that from a git repo - wich was populated by match ❓

[2016-11-08 18:49] hjanuschka commented on #6910
yeah than this is the problem :)

you can run `match decrypt` - wich will leave the git repo decrypted somwhere in /tmp (folder will be printed)

[2016-11-08 18:57] JMCPH commented on #6910
Do i have to run this all the time and then change the folder path for the prov file?

[2016-11-08 19:07] hjanuschka commented on #6914
ready for review: https://github.com/fastlane/fastlane/pull/6915

[2016-11-08 19:49] petitmat commented on #6891
@TKBurner

Hi ! I'm using :
ruby 2.2.2p95
OSX 10.11.6
and OpenSSL 0.9.8
Which haven't been update for a while !

[2016-11-08 20:07] TKBurner commented on #6842
@stark525 Hope you are doing well! What directory are you running this from? It needs to be inside of a git repo itself. Thanks!

[2016-11-08 20:09] TKBurner commented on #6810
@sainttail Thanks for following up. Can you let me know if this happens on a blank Xcode project? If it does, if you can provide exact repro steps that'll help. I want to send this out to the core team. Thanks!

[2016-11-08 20:12] caipivara opened #6916 "Add Regex support for crashlytics `apk_path`"
On current `fastlane 1.107.0` version you cant define a regex for apk path, I mean:

[code]

Because apk names can be dynamic if you use `archivesBaseName = "$appVersionName-$appVersionCode"` setup on gradle

[2016-11-08 20:13] TKBurner commented on #6814
@GavinRooney export FASTLANE_PASSWORD = "xxxx"
@jordanjun You should be able to store this in your keychain, is it not storing there?

[2016-11-08 20:18] sebastianludwig opened #6917 "krausefx-shenzhen/plist dependencies"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

[fastlane.gemspec](https://github.com/fastlane/fastlane/blob/master/fastlane/fastlane.gemspec) references `'krausefx-shenzhen', '>= 0.14.10'` as dependency - and it seems to be a bit of a mess

[2016-11-08 20:18] peterholcomb commented on #6814
@TKBurner Setting FASTLANE_PASSWORD worked for me.  Thank you so much.

[2016-11-08 21:12] milch commented on #6900
Yes, thank you!

Just as a general advice for submitting PR's because I saw you changed things in `match` as well as `sigh`. Usually we split up PRs by tool, so there should be a separate `match` and a `sigh` one. It'd also be good if we could work on the docs alongside this and then merge all three in one go.

[2016-11-08 21:23] milch commented on #6917
Hi, thanks for your report!

The `krausefx-shenzhen` gem sources are available at [fastlane/shenzhen](https://github.com/fastlane/shenzhen) in case you want to take a look, or even submit a PR.

When #6858 is merged, we might also be able to pull out some of the dependencies and install them on the fly when needed.

[2016-11-08 21:29] iosdevben commented on #6768
I'm not experiencing the `Fixnum is not a String` issue but spaceauth is not helping.

Initially I was seeing the Fixum error so I tried clearing ~/.spaceship and rerunning spaceauth then setting the FASTLANE_SESSION environment variable again.

Now it's failing with the following errors:
[code]

[2016-11-08 21:36] hjanuschka commented on #6910
i am not sure if there is a easier way to get the profile decrypted - and still managed by `match`

[2016-11-08 21:46] JulianKingman commented on #6758
I tried brew and rbenv, but using rvm actually worked.

[2016-11-08 21:54] sebastianludwig commented on #6917
Oh man,  fastlane/shenzhen was pretty obvious - should have found that. I'll submit a PR and consider this closed 👍

[2016-11-08 21:54] #6917 closed

[2016-11-08 21:55] milch commented on #6917
Thanks for understanding 😄

We are looking forward to your contribution! 🚀

[2016-11-08 22:00] CareerFairPlus commented on #6897
I think that seems reasonable.  The update messages would also seem like a good candidate to filter out if `--quiet` is present.

ex.
[code]

[2016-11-08 22:23] milch commented on #6913
That's interesting - I can reproduce it on my local machine too. I'm guessing for some reason dashes aren't escaped correctly when generating the build command.

However, in your case `derivedDataPath` is actually an option that's supported by gym natively, so this should work for your purposes:

[code]

[2016-11-08 22:35] JAStanton commented on #6913
Oh nice! thanks for this bit of information :)

On Tue, Nov 8, 2016 at 2:23 PM Manu Wallner <notifications@github.com>
wrote:

[2016-11-08 22:36] stark525 commented on #6842
Hi @TKBurner thanks for your response!

I'm running this from within a git repo. My workaround for the time being (which works) looks like this:

[code]

I feel like there must be a way to tell Fastlane to use the PWD for all actions/lanes.  I'm not sure how to debug what the `add_git_tag` and `push_to_git_remote` actions think the working dir is.  I suspect it's `/fastlane`, though.

[2016-11-08 22:41] MaximusMcCann commented on #6419
Can confirm that this is still happening as I have only red builds over the last 4 days, but am still getting the TestFlight updates (it builds, but then they always drop off at the `Waiting for iTunes Connect to finish processing the new build` part).

[2016-11-08 22:47] milch commented on #6866
I'll investigate possible fixes now, expect a PR soon 👍

[2016-11-08 22:48] viktorbenei commented on #6866
Awesome news, thank you @milch !

[2016-11-08 23:11] mandevx commented on #6519
@hjanuschka Could you please help as you suggested I would like to know where to put the following lane :release do
  update_project_automatic_codesigning(path: "App.xcodeproj",use_automatic_signing: false)
  match(git_url: "git@repo.com:certs.git",
          type: 'appstore',
          app_identifier: "krone.at-fivexfive")
  gym(scheme: "AppScheme",
      clean: true,
      workspace: "App.xcwork

[2016-11-08 23:17] jostster commented on #6553
I'm having this exact same issue. I have updated system ruby, installed rbenv and rvm and still nothing is working. My `fastlane env` is

[code]

which clearly says ruby is now 2.3.1, but the SSL_Connect error still says RUBY_VERSION is 2.0.0. I have even rebooted the machine.

[2016-11-08 23:25] claesjacobsson commented on #6899
If Apple keeps changing the device frames: is there a way for MiniMagick to detect the inner transparent frame where we'd like to place the screenshot? If that's possible, screenshots could always be correctly positioned and we could get rid of the offsets.json file.

[2016-11-08 23:29] KrauseFx commented on #6912
👍

[2016-11-09 00:27] jostster opened #6918 "match enterprise support"
I know there was a previous issue about match support for enterprise accounts but it seems to have been closed. Can this be added back in with clear warnings? We currently use a shell script to run our enterprise builds but want to switch to fastlane. However, after finding out we will be unable to use match with this, it seems to be pointless to switch for us.

Could this issue be revisited and a

[2016-11-09 00:34] KrauseFx commented on #6899
No, we actually updated _frameit_ 3.0 to not be influenced by Apple from now on. You can find the `offsets.json` here https://github.com/fastlane/fastlane/blob/master/frameit/frames_generator/offsets.json

Feel free to modify it locally inside `~/.frameit` and send a PR to the JSON file 👍

[2016-11-09 02:59] PetrosIchor commented on #6918
Enterprise is not officially supported. Take a close look at the match repo for ideas on how to solve your problem.  It helped me with creating enterprise parity.

[2016-11-09 03:01] PetrosIchor commented on #6913
Yeah, I started seeing it this week as well.  Thought I broke my environment for a minute haha.

[2016-11-09 06:37] JingWZ commented on #5665
same issue when using match and fixed by switched to ruby 2.3.0

[2016-11-09 06:49] ramrcram opened #6920 "Execute fastlane from web."
### how can i run fastlane deploy from php ?
I am trying to automate the fastlane deploy from a web based. For that i am trying to call “Fastlane deploy” from a php, Unfortunately this is not executing no out put.

Could you please help me to solve this issue.

Thanks in advance.

[2016-11-09 07:18] hjanuschka commented on #6519
you have to put it into your `fastlane/Fastfile` - and yeah you can probabliy remove `match`
but then you have to manage your cert/prov your self.

[2016-11-09 07:38] hjanuschka commented on #6920
can you post your php code?

something like that should do it:

[code]

i think it would be cooler to use ruby to do it - like doing a little `sinatra` app - and embedd fastlane like this (unofficial - unsupported)

[code]

[2016-11-09 07:41] hjanuschka commented on #6916
if you build with `gradle` action - the apk name should be in: `lane_context[SharedValues::GRADLE_APK_OUTPUT_PATH]`

[2016-11-09 08:53] jaroslavas commented on #4621
Confirm, that manually deleting everything from a git repo, fixes the problem. Maybe we should have a possibility to do it via match itself?

[2016-11-09 11:22] lucatorella commented on #6906
So I created a new keychain and deleted the old one and still no improvement. Then I went to ~/Library/Keychains/ and I saw a lot of keychains with unspeakable names. I removed them and now signing is taking a reasonable amount of time.

[2016-11-09 11:22] #6906 closed

[2016-11-09 12:09] claesjacobsson commented on #6899
Ok, great!

[2016-11-09 12:54] ph1lb4 opened #6921 "Match does not find any matching provisioning profiles even though it just created them"
### New Issue Checklist

- [✅] Updated fastlane to the latest version
- [✅] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Match does not find any matching provisioning profiles even though it just created them.

My lane looks like this:

  lane :do_match do
    match(app_identifier: "com.example.identifier", read

[2016-11-09 13:05] i-schuetz opened #6922 "Recommended way to increment the build number in Hockeyapp?"
Hi,

I'm currently using Testflight, where there's an action to increment the build number based on the latest build available in Testflight.

I want to add Hockeyapp support. There doesn't seem to be an equivalent of the Testflight action here.

I'm using CircleCI to build.

So far I see following possibilities:

1) Keep the build number in the app, i.e. Circle will do an additional commit to inc

[2016-11-09 13:45] hjanuschka commented on #6922
we use Gitlab-CI - and there is `ENV["CI_BUILD_ID"]` - wich increments by its own (therefore its safe to use).

| CI platform |   ENV |
| ------------|------|
| Gitlab-CI     | CI_BUILD_ID |
| Circle          | CIRCLE_BUILD_NUM |
| Travis         | TRAVIS_BUILD_NUMBER |

we just do

[code]

and don't commit back, and just ignore the fact that the build id in project is old.

[2016-11-09 14:50] i-schuetz commented on #6922
@hjanuschka

oh this is great! I'll use this. Thanks!

[2016-11-09 14:51] #6922 closed

[2016-11-09 15:14] petitmat opened #6924 "Languages code with Produce ?"
Hello,

I'm asking about PRODUCE_LANGUAGE. Is it possible to use the same language code than in deliver to choose the primary language of the app ?

For example is it possible to use "en-GB" instead of "English_UK" or "pt-BR" instead of Brazilian ? It could avoid me to create useless conversion method...

Thanks

[2016-11-09 15:18] heatherSnepenger commented on #6802
Hey there - @jeeftor were you able to resolve this? I'm running into a similar issue. I've updated fastlane, and after that didn't work, even uninstalled, then reinstalled.

Any solutions?

[2016-11-09 15:44] jostster commented on #6918
@PetrosIchor do you have any tips on adding in this parity? I'm new to fastlane.

[2016-11-09 16:26] claesjacobsson commented on #6899
Submitted PR #6923.

[2016-11-09 17:43] mpirri commented on #1896
Your idea worked 💯 @meirtz4! Looks like we were failing on the presense of an error in the iTMSTransporter output, and not on the status code (see PR to fix this, above).

[2016-11-09 18:19] mpirri commented on #6751
@PlayDevelop & @ff-ahumberston can you clarify what you mean by "running over ssh"?  Do you mean, when connected to your CI machine over ssh, or something different?  Have you tried moving all of the provisioning profiles out of `~/Library/MobileDevice/Provisioning\ Profiles/`, running `sign` to re-download them, and then doing `sign manage` again? I ask because, based on the error you are reporti

[2016-11-09 18:32] KrauseFx commented on #6918
You can enable it manually, see https://github.com/fastlane/fastlane/blob/master/match/lib/match.rb#L31 👍

[2016-11-09 18:34] ZevEisenberg opened #6927 "snapshot reset_all_simulators should have a -f option"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
It would be nice if `snapshot reset_simulators` had a `-f`, `--force`, or similar option to run without prompting. Currently, there is no (easy) way to completely automate the use of this comma

[2016-11-09 18:44] kpogz commented on #6810
i think i am getting the same error:

/Users/scc/.gem/gems/xcodeproj-1.4.1/lib/xcodeproj/plist.rb:84:in `match': [!] invalid byte sequence in UTF-8 (ArgumentError)
       	from /Users/scc/.gem/gems/xcodeproj-1.4.1/lib/xcodeproj/plist.rb:84:in `match'
       	from /Users/scc/.gem/gems/xcodeproj-1.4.1/lib/xcodeproj/plist.rb:84:in `file_in_conflict?'
       	from /Users/scc/.gem/gems/xcodeproj-1.4.1/

[2016-11-09 18:54] hjanuschka commented on #6927
`SNAPSHOT_FORCE_DELETE=1 snapshot reset_simulators`  should do it 👍

[2016-11-09 19:18] ohwutup commented on #6758
Hey everyone, we've been working on a new way to install and use fastlane, all you have to do is to download `fastlane.zip` and double click the `install` file. This will install fastlane with all its Ruby and OpenSSL dependencies, and should all work out of the box.
We just finished building this, and would love your early feedback on this beta. Please let us know how it works for you and if you

[2016-11-09 19:19] jbolter commented on #6057
I would like this feature as well!  Passing a --cert would be easier since we have multiple developers using these build scripts that run match.

[2016-11-09 19:19] ohwutup commented on #6553
Hey everyone, we've been working on a new way to install and use fastlane, all you have to do is to download `fastlane.zip` and double click the `install` file. This will install fastlane with all its Ruby and OpenSSL dependencies, and should all work out of the box.
We just finished building this, and would love your early feedback on this beta. Please let us know how it works for you and if you

[2016-11-09 19:22] ohwutup commented on #6699
Hey everyone, we've been working on a new way to install and use fastlane, all you have to do is to download `fastlane.zip` and double click the `install` file. This will install fastlane with all its Ruby and OpenSSL dependencies, and should all work out of the box.
We just finished building this, and would love your early feedback on this beta. Please let us know how it works for you and if you