[2017-05-11 15:39] aric87 commented on #9141
submitted the same time as another issue. Closing in favor of https://github.com/fastlane/fastlane/issues/9140

[2017-05-11 15:39] #9141 closed

[2017-05-11 15:53] #7962 closed

[2017-05-11 16:21] akmarinov opened #9142 "Snapshot produces an error when product name has special characters"
### New Issue Checklist

- [ X] Updated fastlane to the latest version
- [ X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

My app's name `P&O` contains special characters `&`.

When I run snapshot with the product name in build settings set to `P&O`, snapshot fails with

If I use Xcode to build and run, archive

[2017-05-11 16:57] #9126 closed

[2017-05-11 17:58] hjanuschka commented on #9115
@tiagomartinho   - thx for the dump! it seems like you have a wrong locale set:

if we beautify the JSON:

have a look at this:

[code]

it is in there with `es-ES`, `es-MX` - which both should work (as i tested them) - but for whatever reason, there is `es-US` in there too, which is is an invalid locale, so i guess it is your purchase_pair mapper that is behaving wrong.

can you try to minimize i

[2017-05-11 21:22] likedanf commented on #9132
I've seen this method. I think out use case was that, we need to only modify the state of the beta_tester but doesn't distribute a build in the mean time. That's where we were calling train.update_testing_status!(true, 'internal', train_build). So after the update, there's no way to achieve that?

[2017-05-11 21:26] thebugcode commented on #9127
Afaik, you can't use emojis in testflight release notes, but I might be wrong.

[2017-05-12 01:00] timothycosta commented on #9115
@hjanuschka Same behavior if I just submit `es-ES`.  In the itunes connect website I deleted `es-US` which did look weird (like `ITC.locale.es-us` rather than `Spanish (U.S.)` if I remember correctly).

I just tried this for our core app (`env en` is a branded app) and the same error occurs.

Here's a dump for just `es-ES` in case it helps:

[code]

[2017-05-12 01:10] joshsnelling commented on #9094
@mfurtak - PR submitted!

[2017-05-12 06:01] rajat-deep-singh opened #9151 "Fastlane pilot crashed"
### Issue Description
Pilot crashed error while executing command "fastlane pilot upload -u email@company.com"

##### Complete output when running fastlane, including the stack trace and command used

<details><summary>Console Output</summary>

[11:18:18]: Successfully exported and compressed dSYM file
[11:18:18]: Successfully exported and signed the ipa file:
[11:18:18]: /Users/cs/.jenkins/worksp

[2017-05-12 07:56] talezion opened #9152 "fastlane snapshot update not updating SnapshotHelper.swift file to 1.4 ERR: [!] Please update your Snapshot Helper file"
### New Issue Checklist

Getting `[!] Please update your Snapshot Helper file` error and when updating Snapshot, version is still 1.3, instead of 1.4.

- [-] Updated fastlane to the latest version
- [-] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the stack

[2017-05-12 07:56] gmarques33 commented on #6791
I'm having the same issue

[2017-05-12 08:03] Edwhis commented on #8726
@KrauseFx  I think, it could be, but not 100% sure.

[2017-05-12 08:13] shashankwadi commented on #9128
@PetrosIchor need ur help.

[2017-05-12 08:18] timominous commented on #9127
@thebugcode I don't think that's that case because we have issued Testflight builds before with emoji in the release notes.

[2017-05-12 09:11] shashankwadi commented on #9128
on running fastlane match development this is what i get.

[14:39:25]: Certificate 'GKN9QM6835' (stored in your git repo) is not available on the Developer Portal
[14:39:25]: for the user yopeso@wadi.com
[14:39:25]: Make sure to use the same user and team every time you run 'match' for this
[14:39:25]: Git repository. This might be caused by revoking the certificate on the Dev Portal

[!] To reset

[2017-05-12 11:00] gereons commented on #8797
@semireg In our setup, this is part of the script that Jenkins executes:

[code]

[2017-05-12 12:39] oscahie commented on #8797
I had to deal with this issue years ago, and just today once again after setting up a new mac mini as a Jenkins node, and since using the Keychain app to grant all applications access to the private keys still doesn't really work under an SSH session, I've applied the same solution I had used before: run another `sshd` instance from the local jenkins user and configure Jenkins to connect to that o

[2017-05-12 12:48] yakimant commented on #8112
@KrauseFx, also i've seen with xcode tools if using not system Ruby.

[2017-05-12 13:42] #9094 closed

[2017-05-12 13:56] doapp-ryanp opened #9154 "missing team id in non interactive mode still blocks"
Commenting for https://github.com/fastlane-old/pem/issues/76 is locked so started a new issue here.

Running PEM 2.26.0 in a jenkins non-interactive environment.  The issue above was to request a new feature that allowed a non-interactive program to detect when team ID is not found, and to take corrective action.

I just ran into the problem in v2.26.0:

[code]
PEM then blocks my program as it is

[2017-05-12 14:33] #7660 closed

[2017-05-12 16:17] gcamp commented on #9127
Same problem here.

[2017-05-12 19:42] hjanuschka commented on #9115
@timothycosta 🤚  i finaly got a couple of minutes to dive into this issue.

the following script creates a new IAP with `es-ES` only - and later on modifies it by adding `en-US`

i dont see es-US as an available language code in itunesconnect.
but according to your dump, it seems like you are missing the screenshot.

be sure that `review_notes` and `review_screenshot`  are set. (and notes have atl

[2017-05-12 20:28] PetrosIchor commented on #9128
Have you tired just using Cert and Sigh instead?  It sounds like match isn't a good fit for your requirements.

If you only have 1 account, you don't need to have separate repos for match.  Just use one and have all your accounts certs/profiles stored there with match.  You can also use branches if separating is important.

If that doesn't work for you, then a more granular cert/sigh setup is prob

[2017-05-12 20:54] hjanuschka commented on #9154
hey @doapp-ryanp 🤚 i did a PR -> #9160  maybe you can give it a try, it should now raise an error when team selection is triggered under non-interactive environments.

[2017-05-12 21:01] hjanuschka commented on #9151
hi @rajat-deep-singh  🤚
the error `Missing password for user email@company.com, and running in non-interactive shell`  indicates that there is some authentication error.

[code]

let me know if this helps you.

[2017-05-12 21:08] hjanuschka commented on #9152
can you please upgrade fastlane to the latest version. and later on running:

[code]

should update the SwiftHelper to the latest version.
if everthing goes south you can also grab the latest version here: https://github.com/fastlane/fastlane/blob/master/snapshot/lib/assets/SnapshotHelper.swift

let me know if this helps you.

[2017-05-12 21:12] awBSH commented on #9009
@KrauseFx same here - .xcarchive has size 0 bytes when setting SKIP_INSTALL YES

[2017-05-12 21:22] doapp-ryanp commented on #9154
Thanks @hjanuschka I know very little about Ruby - where do all the .rb files live so that I can hand patch them and test?  running `which PEM` gives me `/Users/dbuilder/.rvm/rubies/ruby-2.2.2/bin/PEM'

[2017-05-12 21:58] joelklabo commented on #8970
I would like this feature also. @KrauseFx do you think this would get merged if I made a pull request? I can just hack my local version but if it's something others want I could work on making a real PR for it.

[2017-05-13 03:45] rajat-deep-singh commented on #9151
@hjanuschka Thanks for your reply. I have already store the credentials of my apple account in Keychain using credential manager, but still I am receiving same error. Can you guide me how can I pass FASTLANE_PASSWORD environment variable? Maybe this can work for me.

[2017-05-13 09:36] vbresults commented on #9092
@KrauseFx This is a showstopper, how do we solve this?

[2017-05-13 11:51] hjanuschka commented on #9154
@doapp-ryanp  you can try it with this helper script: https://gist.github.com/hjanuschka/3040fc6f371f46acff72a5e67f649b27

running it with `./try_pr.sh hjanuschka spaceship_interactive fastlane pem` - should run it from the PR branch.

[2017-05-13 12:53] maszin opened #9161 "Report Generator for Screengrab"
Hi,

Are you going to include Reports Generator (to html) in Screengrab? This would be a great.
I could contribute to this feature and send PR.

[2017-05-13 16:46] lucamaraschi commented on #9044
@shiroganee I never even got to the session expired message but it looks like the ```FASTLANE_SESSION``` is ignored by fastlane...

[2017-05-13 17:24] gersonmendes commented on #9140
@igorstimoli, @AimenJoe: did version 2.30.0 fix this issue?

[2017-05-13 22:29] wilferrel commented on #5259
Just in case anyone follows the above and still receives same error, I was getting this on jenkins so seems like there needs to be a keychain available for jenkins user that resides in the Library directory for it. So I copied my keychain over there and it worked. Jenkins user directory was `/Users/CiUser/.jenkins/Library/Keychains/login.keychain`    My original directory for macOS user is `/Users

[2017-05-14 03:16] KrauseFx commented on #9140
@gersonmendes yes, this should be fixed now. Please let us know to confirm

[2017-05-14 07:56] shiroganee commented on #9044
@lucamaraschi I dunno if that is the case. I would believe that

if ignored would give a different message - I gave it a try, when i didn't include FASTLANE_SESSION it simply asked me about auth code.

Though I created a new account, without 2FA and it worked straight away. So I can asume that it is something with Apple being Apple rather than with Fastlane. To be honest, I truly have no idea what

[2017-05-14 10:04] mmcc007 opened #9162 "Compile succeeds in xCode but currently fails in fastlane while compiling pods"
### New Issue Checklist

- [y] Updated fastlane to the latest version
- [y] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
A demo iOS application of Googles Speech API using gRPC compiles and runs in xCode. I got it to run on a test iPhone. It will convert streaming speech to streaming text in close to realtime.

B

[2017-05-14 11:40] mmcc007 commented on #9162
fixed compile problem

[2017-05-14 11:40] #9162 closed

[2017-05-14 15:54] vanniktech commented on #8901
Gentle bump.

[2017-05-14 15:54] vanniktech commented on #8893
Bump.

[2017-05-14 18:37] lakamsani commented on #8053
This was helpful. In my case I was using `FL_UPLOAD_SYMBOLS_TO_CRASHLYTICS_BINARY_PATH` directly from Fabric installation. The one that didn't work had this version: `upload-symbols 1.1.1 build 5`. The one that worked had this version: `upload-symbols Optional("1.2.1") build Optional("7")`

[2017-05-15 03:52] timothycosta commented on #9115
@hjanuschka I agree that that dump doesn't contain `review_screenshot` but the question is why?  I've been setting that:

[code]

The only difference I can see between my loop and your `modify_iap_demo`
 is `cleared_for_sale`, which I've tried commenting out and `subscription_name` in `values`.  Just in case I've tried creating the hash in place.

The following works when `versions` has `en-US` bu

[2017-05-15 05:11] Orgmir opened #9164 "supply: double "Global Options" in the help description when using `fastlane supply --help`"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

When running `fastlane supply --help`, the `Global Options` section shows duplicate entries. I've tried to figure it out, but my knowledge of ruby is limited and I need some help to point me i

[2017-05-15 05:14] jhon3rick commented on #8653
solved, it install for rubi gem command
terminal
sudo gem install fastlane -NV

[2017-05-15 07:19] tommeier commented on #9092
OK had some time to narrow this down. I focused on `match` as thats where we're seeing it, but you can duplicate this error every time by running:

[code]

And this is triggered in `spaceship/lib/spaceship/client.rb:430:in `send_shared_login_request'`, which is the login request to https://itunesconnect.apple.com/WebObjects/iTunesConnect.woa/wa

My guess would be Apple has put in some more serious

[2017-05-15 07:48] richardszalay opened #9165 "Question: Why was gym :: provisioning_profile_path deprecated?"
#5106 deprecated gym's provisioning_profile_path option, but provided no explanation at all as to why it was happening. Could you clarify?

(We use the option to create an IPA for an xcarchive in a separate build process - we don't keep targets for each of the configurations in the xcodeproj)

[2017-05-15 08:11] igorstimoli commented on #9140
confirm it's fixed

[2017-05-15 08:11] #9140 closed

[2017-05-15 09:02] samratBasra opened #9166 "what is the key difference between Fastlane and xcode?"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

[INSERT OUTPUT HERE]

### Environment

Please run `fastlane env` and copy the output below. This will h

[2017-05-15 09:35] mgrebenets commented on #9165
Hi @richardszalay.

Off the top of my head there's a few reasons why this option is deprecated.

To start with, Apple itself deprecated underlying build setting in favour of provisioning profile specified.

Another one is when you are dealing with nested apps and extensions, this option will apply to **all** nested bundles, not just to the main app bundle. This is actually why we stopped specifyin

[2017-05-15 09:51] smumryak commented on #9166
iOS is operating system, fastlane is a tool for automation of application build and distribution.

[2017-05-15 10:02] samratBasra commented on #9166
My bad. question has been updated.

[2017-05-15 10:04] smumryak commented on #9166
Xcode is an integrated development environment for macOS containing a suite of software development tools, fastlane is a tool for automation of application building and distribution that is using Xcode.

[2017-05-15 10:59] thebugcode commented on #9164
I get the same thing locally. @KrauseFx this looks like bug? I checked and this issue is not present in older versions of fastlane (2.22.0).

[2017-05-15 11:24] Urkman opened #9167 "Unable to build after adding a notification content extension"
I added a notification content extension to my app.
And after that I was not able to build and upload the new version to Apple...

At gym I get "Exit code 70" and "unable to package application".
I tried everything, but nothing helps.

Then I opened Organizer, there I can see every build I've done using fastlane.
I selected the last build and clicked "validate", there everything went fine and I go

[2017-05-15 12:55] MortenGregersen opened #9168 "Gym recompiles all frameworks for every app target"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

We have 12 different apps which shares the same code base. The only difference between the apps are some graphics, texts, bundle identifier, signing identity and a couple of source files.

The

[2017-05-15 13:30] SLambrakis commented on #8839
I just experienced this issue. I discovered that editing the phone number (in iTunesConnect), saving the change, and then changing it back to the previous value, makes the error go away.

[2017-05-15 13:33] santoshshetty2612 commented on #8839
Thanks @SLambrakis, I will give a try and see whether it works.

[2017-05-15 13:34] doapp-ryanp commented on #9154
@hjanuschka how do I roll it back? Don't want to test until I have a sure fire way to get back to where I was in case of problems.

[2017-05-15 13:43] mgrebenets commented on #6968
This issue just started happening for me, but there are things that puzzle me

- The issue started happening on existing project
- The project was using `fastlane scan` for at least a year and this issue was extremely rare
- After I removed 1 file from the project and added 1 pod to it, the issue now happens _every run_
- It occurs both on my local machine as well as on CI
- We have a handful of C

[2017-05-15 13:48] mgrebenets commented on #6968
Update, just tried with fastlane `2.30.2` - same issue.

It's as if the project somehow builds super fast and tries to run tests before simulator is ready.

For some reason `scan` neither waits for simulator to get ready nor does it retry to run the tests at least few more times.

[2017-05-15 14:01] hjanuschka commented on #9154
@doapp-ryanp it doesn't install anything, the `.sh` scripts clones the repo into `tmp` - checks out the branch and runs it.

so if you run it with `fastlane pem` again it will run the real installed version.

[2017-05-15 14:04] ohayon commented on #9151
Hey @rajat-deep-singh - you should be able to prefix your _fastlane_ command like so `FASTLANE_PASSWORD=your_password fastlane ....` Let us know if that helps!

[2017-05-15 14:05] weibel commented on #8572
@ohayon

[2017-05-15 14:08] ohayon commented on #8572
Hey @weibel sorry for the slow response, could you try passing the absolute path to your Podfile, instead of the relative path?

[2017-05-15 14:10] weibel commented on #8572
@ohayon I sent the reply before filling in the details. See above

[2017-05-15 14:11] ohayon commented on #8572
oh great! glad you got it working! 🚀

[2017-05-15 14:11] #8572 closed

[2017-05-15 14:19] mfurtak commented on #9161
Hi @maszin 👋  - Yes, that is something we'd like to have. If you'd like to make the PR, I would be happy to review it 👍

[2017-05-15 14:44] doapp-ryanp commented on #9154
@hjanuschka tried your PR, it crashes:

[code]

[2017-05-15 14:45] mfurtak commented on #8901
Hi @vanniktech - thanks for the report. :+1:

_screengrab_ does not adjust these global settings as part of its operation. It only uses the `--no-window-animation` flag passed to the instrumentation test runner. So, when my test runs complete, my device's animation settings are untouched from where they started at `1.0`.

Can you explain a bit more about why you think this is necessary?

[2017-05-15 14:49] mfurtak commented on #8893
Hi @vanniktech 👋  - this is an interesting idea, but not something we plan to implement right now.

[2017-05-15 14:49] #8893 closed

[2017-05-15 15:00] KrauseFx commented on #8549
Have you tried following https://docs.fastlane.tools/codesigning/common-issues/#debugging-steps-for-no-applicable-devices-found-error?

[2017-05-15 15:00] vanniktech commented on #8901
Maybe it was a hickup but once after taking the screenshots my entire animations were disabled and I had to re-enable them using the commands stated above.

Can this happen when `fastlane screengrab` was quit unexpectedly?

[2017-05-15 15:07] vanniktech commented on #8893
Will this be added to the backlog?

[2017-05-15 15:23] hjanuschka commented on #9154
@doapp-ryanp yeah! thx - yes this should be the fix, before the PR it ended in an endless loop.

[2017-05-15 16:32] ndbroadbent opened #9172 "Windows support, plus support for the Windows Store"
Hello! I've seen #7202, but I think it would be awesome if Windows was a supported platform. Not only to build and upload Android apps, but also to build Windows UWP apps and upload them to the Windows store. I might be missing something, but the Visual Studio integration is not very strong. (If you click "Upload App Packages", it just opens the store webpage where you upload the package.)

I'm wo

[2017-05-15 17:27] KrauseFx commented on #9080
Did you have a chance to verify the behavior is correct?

[2017-05-15 17:27] #8515 closed

[2017-05-15 17:28] #8477 closed

[2017-05-15 17:28] KrauseFx commented on #8477
Thanks again @hjanuschka 👍

[2017-05-15 17:49] lam2558 commented on #6968
I tend to have the simulator up and running first before any test is run.
Can you try to put this in your fastfile::
ENV["FASTLANE_EXPLICIT_OPEN_SIMULATOR"] = "2"

[2017-05-15 17:54] KrauseFx commented on #8970
That sounds reasonable, however I don't know how much work this is, and how much changes would be required within _spaceship_.
Do you want to use this as part of _boarding_, _pilot_ or do you use _spaceship_ directly?

[2017-05-15 18:34] Lida commented on #8970
The REST call looks simple enough so it should be a fairly straightforward implementation. It probably make sense as part of *spaceship* with *boarding* resending invite if user registered previously.

[2017-05-15 18:37] RichardGuion commented on #6968
I recently had the problem where a number of builds failed because the simulator could not be communicated with.

I started running this script before using fastlane scan - to kill the simulator and wipe it clean. It has eliminated much of these errors. It still happens occasionally but much less frequently.

[code]

[2017-05-15 19:37] KrauseFx commented on #8970
Sounds like a great idea. Is that something you can prepare a PR for? More than happy to review and merge the change 👍 Let me know if you need any help getting started.

[2017-05-15 19:39] KrauseFx commented on #9164
Thanks for reporting this, I can reproduce the issue and I'm working on a fix

[2017-05-15 19:43] KrauseFx commented on #9132
I don't think there is unfortunately 😢

[2017-05-15 19:45] KrauseFx commented on #9127
[code]
Can you try setting the same text using the iTunes Connect web UI? It might tell you more about what's not working.

[2017-05-15 19:46] KrauseFx commented on #9152
Mh, I thought the error message says how to update to the new version?

[2017-05-15 19:48] KrauseFx commented on #9165
Thanks, great reply @mgrebenets 👍  in general, also check out our [code signing docs](https://docs.fastlane.tools/codesigning/getting-started/)

[2017-05-15 19:48] KrauseFx commented on #9164
Submitted a PR https://github.com/fastlane/fastlane/issues/9173

[2017-05-15 19:48] #9165 closed

[2017-05-15 19:49] #9154 closed

[2017-05-15 19:54] KrauseFx commented on #9172
Hey @ndbroadbent, thanks for submitting this issue. For now, we don't plan on supporting Windows as a platform. We're working on some really cool features for the iOS and Android platform, so we don't have the resources to build support for a new platform right now.

[2017-05-15 19:54] gcamp commented on #9127
It started working again on my side, I'm guessing it was a temporary iTunes connect bug

[2017-05-15 20:15] ndbroadbent commented on #9172
OK no worries, that makes sense! I might try to build a plugin for this eventually

[2017-05-15 20:15] #9172 closed

[2017-05-15 20:33] PetrosIchor commented on #9167
Sounds like fastlane isn't configured correctly.  Without logs, Fastfile, and environment information I can't provide very good advice.

That said, it sounds like the signing step when packaging your app is incorrect.  While the building is fine, signing prevents it from fully finishing.

Check you signing and projects structure to ensure fastlane is using the same assets.

[2017-05-15 20:47] joelklabo commented on #8970
I think I'll try this @Lida unless you're already doing it?

[2017-05-15 22:55] Lida commented on #8970
@joelklabo I haven't started working on it yet. It's all yours.

[2017-05-15 23:30] joelklabo commented on #8970
It looks like this is a pretty simple addition except for the fact that the base URL is different which makes this hard to use with the same patter as the other URLs.

I might have to make a custom `request` method for this one call. If there is a more obvious way I'd be happy to hear it!

[2017-05-16 00:43] richardszalay commented on #9165
Thanks @mgrebenets, makes sense.

As a follow up, I found that as long as I specify `export_team_id`, `gym` will pick up the environment variables that `match` leaves behind.

[2017-05-16 00:45] mgrebenets commented on #6968
@lam2558 thanks for suggestion, though that didn't make any difference
@RichardGuion

I'm using something similar:

[code]

and then using `FastlaneCore::Simulator` to reset things:

[code]

Probably the logic to reset simulator is missing some bits...

Anyways, I've tried the steps you have suggested.

The main difference is that now the tests fail with the same error, while simulator is showing

[2017-05-16 03:04] #9164 closed

[2017-05-16 03:09] KrauseFx commented on #9129
That's a great idea, I very much agree that the error message should be more clear, and ideally even contain information about how to fix the issue. Is that something you'd want to build? 👍

[2017-05-16 03:26] walker-ll opened #9176 "Unable to submit build. Response code: 0"
# snapshot:

![image](https://cloud.githubusercontent.com/assets/7478867/26088413/b2e76ae0-3a29-11e7-9a92-59cae8c25dd8.png)

# log:
[10:42:53]: Uploading the build to Crashlytics Beta. Time for some ☕️.
[10:44:09]: 2017-05-16 10:42:53.326 submit Crashlytics: Crashlytics.framework/submit 1.3.5 (18)
2017-05-16 10:43:23.470 submit Crashlytics: Added Release Notes Successfully 200
2017-05-16 10:43:24.

[2017-05-16 03:27] walker-ll commented on #9176
i have updated the latest fastlane 2.30.2

[2017-05-16 03:28] ShenJieSuzhou commented on #8502
It solved after I update

[2017-05-16 04:23] joelklabo opened #9177 "Can't run tests with bundle exec rspec"
### New Issue Checklist

- [x ] Updated fastlane to the latest version
- [x ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Having trouble getting the tests to run. Using `bundle exec rspec` in root directory.

Main error I am seeing:
`Could not load native IDN implementation.
LoadError: cannot load such file --

[2017-05-16 04:48] urimagisto commented on #9114
i am on 2.30.2 now, still happening, are u able to see/reproduce it on your side or it just me?

[2017-05-16 05:41] mgrebenets commented on #6968
So, maybe it helps to narrow it down.

In my case adding new pod to main target is what's causing the issue.
Some facts:

- Mix-n-match dynamic framework project (ObjC + Swift)
- No pods for main target until making the change
- Added pod is Swift `Result` pod version `3.2.1`
- After adding the pod I can't run unit tests in Xcode either and getting this error:
![image](https://cloud.githubusercont

[2017-05-16 06:24] intari commented on #8867
@mpirri I can confirm that this issue does not happen on 2.30.2

[2017-05-16 06:59] mgrebenets commented on #6968
OK, so in the end solution for my trouble was re-integrating cocoapods.

`pod deintegrate` then `pod install`.

I've noticed that doing so changes some of the CocoaPods autogenerated files, such as "copy frameworks" shell script and few other xcconfigs.

This may not be the case if you don't use cocoapods though...

[2017-05-16 08:18] remcohaszing opened #9178 "Pilot documentation for usage in a Fastfile is missing"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Pilot is missing documentation on how to use it in a Fastfile. Running adding `pilot` to a lane appears to be the same as running `fastlane pilot upload`. Is it also possible to run the other `

[2017-05-16 08:32] hjanuschka commented on #9178
hi @remcohaszing  🤚

the documentation about the `pilot`action is here: https://docs.fastlane.tools/actions/#pilot

the sub commands of pilot are not directly invocable via fastfile.
however you can run pilot from with fastfile:

e.g.:

[code]

[2017-05-16 10:38] jrmybrault commented on #7691
Any update on this ?

[2017-05-16 11:37] junjielu opened #9179 "How can I scan specific target in single build?"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Since we develop app with different test target, we need to test single target to ensure the target healthy.However, I didn't find a way to use `scan` to test single target.Is there any way to

[2017-05-16 13:03] #8502 closed

[2017-05-16 13:05] remcohaszing commented on #9178
I guess I should've looked there instead of in the Pilot readme. Anyway, thanks for the reply!

[2017-05-16 13:05] #9178 closed

[2017-05-16 13:09] mfurtak commented on #9176
This extra bit of logging is showing that the crash report also failed to be submitted, but to a different service/domain.

`[10:49:13]: No route to host - connect(2) for "clouderrorreporting.googleapis.com" port 443`

This makes me think that network connectivity is not good from that machine. Can you make sure that `curl https://apps.crashlytics.com` can succeed from that machine?

[2017-05-16 13:40] mpirri commented on #8867
@intari Great news - I'll close this ticket then.  Thanks for the update!

[2017-05-16 13:40] #8867 closed

[2017-05-16 14:10] vbresults commented on #9092
@tommeier With root access is there a way to immediately apply this patch to fastlane?

[2017-05-16 15:27] jlfeck opened #9182 "ERROR Failure to decode and install provisioning profile Jenkins"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

INFO [2017-05-16 12:16:07.36]: Installing provisioning profile...
ERROR [2017-05-16 12:16:07.39]: Failu

[2017-05-16 15:53] gtatgh commented on #8567
If someone have the same issue, here is the solution found. I have to set developer team id explicit `DEVELOPMENT_TEAM =  $(sigh_com.mycompany.myapp.watchkitapp_adhoc_team-id)";` for **all** targets.

[2017-05-16 15:53] #8567 closed

[2017-05-16 16:07] longjianjiang opened #9184 "Project first time use fastlane execute script fail?"
fastlane 2.30.2, an empty Swift project.

Then i init fastlane; here is my archive fastlane script:

[code]

But, every time i run `fastlane create_ipa`, it show
### There does not seem to be a CURRENT_PROJECT_VERSION key set for this project.  Add this key to your target's expert build settings.

## Additional
i test another project that upload ipa to iTunes Connect before, i init fastlane and ru

[2017-05-16 16:33] PetrosIchor commented on #9184
The error tells you what is missing. CURRENT_PROJECT_VERSION is not found. Check your project and add that key.

[2017-05-16 16:34] KrauseFx commented on #9184
Thanks @PetrosIchor 👍  Make sure to follow the guide  provides https://developer.apple.com/library/content/qa/qa1827/_index.html

[2017-05-16 16:35] KrauseFx commented on #9178
Thanks everyone 👍

[2017-05-16 16:35] KrauseFx commented on #9179
You can only pass a scheme. You could make a scheme for each target, right?

[2017-05-16 16:49] joelklabo commented on #8970
Hi @KrauseFx I am having some trouble getting the tests to run. I created an issued: https://github.com/fastlane/fastlane/issues/9177

Do you know where I can get some help with getting them running?

[2017-05-16 17:40] jlfeck commented on #9182
Hey, i'm using the match command to import p12, but it's not working to provisioning profile.

Can you help me?

[2017-05-16 19:15] ethanjdiamond commented on #8760
I had an issue very similar to this, which I think was caused by fastlane's bin folder being out of sync or something. To fix it, I installed fastlane as a gem instead of through homebrew.

1. brew uninstall fastlane
2. rm -rf /Users/[User]/.fastlane
3. sudo gem install fastlane

Hope that works for you.

[2017-05-16 21:33] KrauseFx commented on #9166
Thanks for answering @samratBasra, I'll close the issue for now 👍

[2017-05-16 21:33] #9166 closed

[2017-05-16 21:35] stefanhp opened #9190 "TestFlight not publishing to groups?"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Hi,

Not sure this is a bug or a question, did not know where else to ask.

Before the big iTunesConnect refactoring setting distribute_external=true in testflight would publish the build to e

[2017-05-16 22:46] tommeier commented on #9092
@vbresults its more a prototype, being unaware of your setup, but assuming you're using bundler you can simply `bundle open fastlane` and make modifications to see what works for you. Reducing our calls to match from the same IP has worked perfectly for us, we were calling match far too frequently.

[2017-05-16 23:36] weihuali0509 opened #9191 "Running multiple fastlane jobs at the same time"
I am trying to run multiple fastlane jobs at the same time (in parallel). Do you think I will hit any problem? I have tried two fastlane jobs at the same time and it works. I just want to know if there is any problem if I scale the number up.

Thanks!

[2017-05-17 00:54] truth3 commented on #7717
I just ran into this challenge today for a group that only provides a dev cert and provision profile.

They prefer to sign for distribution on their own and not hand that out to anyone. As @redi-wassere mentioned, setting the gym parameter to the following resolved the issue.

`GYM_EXPORT_METHOD = 'development'`

Seems like we could close this now?

[2017-05-17 01:16] vbresults commented on #9092
@tommeier Copying seems to work for everything except `match`, maybe because I'm also doing a write, but that is unavoidable -- and I don't know enough about fastlane to work around this.

[2017-05-17 02:27] xilankong opened #9192 "invalid swift support"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

[code]

### Environment

fastfile
[code]
project:
[code]
Xcode:
[code]

fastlane env
[code]

[2017-05-17 02:48] xilankong commented on #9192
if,use empty project to just run "fastlane gym",it is contain the SwiftSupport folder

[2017-05-17 05:21] yang-guo-2016 opened #9193 "code sign randomly failure"
### Issue Description

[code]

### Environment

fastlane 2.30.2
[13:14:02]: Generating fastlane environment output, this might take a few seconds...
<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                         | Value                                        |
| --------------------------- | -------------------------------------------- |
| OS

[2017-05-17 08:45] hjanuschka commented on #9191
hi @weihuali0509  🤚

in general it should not be a problem for simple lanes, however specially when it comes to xcode/signing/building related stuff, you'll run into issues - and there is no official support for running multiple fastlane lanes in parallel.

e.g.: xcode, it is not built to  build 2 apps at the same time.

so i would not encourage you to run in parallel unless you are sure that your

[2017-05-17 08:50] hjanuschka commented on #8970
https://github.com/fastlane/fastlane/pull/9188 has been merged, should ship with the next release 🚀  many thx @joelklabo

[2017-05-17 08:50] #8970 closed

[2017-05-17 10:20] josercc opened #9195 "Error packaging up the application"
<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                         | Value                                           |
| --------------------------- | ----------------------------------------------- |
| OS                          | 10.12.4                                         |
| Ruby                        | 2.2.4                                           |
| Bundl

[2017-05-17 13:10] huang-kun opened #9197 "in initialize: execution expired (Faraday::ConnectionFailed)"
I run my latest fastlane and get failed. No error happened for built-in action like gym, but when I run any custom lane in Fastfile, I got this output:

[code]

I installed ruby by homebrew in `/usr/local/bin/` and version information is `ruby 2.4.1p111 (2017-03-22 revision 58053) [x86_64-darwin16]` and fastlane is installed from gem and version is `2.30.2`

Any help?

[2017-05-17 14:59] kirua33 opened #9198 "[pilot] Transporter error output"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Hello,
I tried to use fastlane pilot and i have an issue when pilot try to upload the ipa.
I check my password, no special characters.

Thanks for your help :)

##### Complete output when runni

[2017-05-17 16:04] joelklabo commented on #8970
Thanks to you all! Glad I could add a little piece 👏

[2017-05-17 16:46] PetrosIchor commented on #9195
The error states what failed.   Bash and which were not found.  Those are not apart of fastlane but your shell.   Make sure you have you path setup correctly.  Check that `/usr/bin:/usr/sbin:/bin:/sbin` are in your path, if not add them.

[2017-05-17 16:49] PetrosIchor commented on #9193
Without a verbose output and your Fastfile, this is hard to troubleshoot.  Please provide more information such as your Fastfile or command run, verbose output/build log, etc.

[2017-05-17 16:52] PetrosIchor commented on #9192
Please provide more information such as your fastlane env as suggested by the bot.  There isn't enough information here to help diagnose.

That said, if you Google that error, the top result on stackoverflow addresses that question: http://stackoverflow.com/a/34153571/7054813

[2017-05-17 16:55] PetrosIchor commented on #9191
From my experience hjanuschka is correct. While you can technically run in parallel​, you run the risk of unexpected conflicts using other resources.  I generally allow for no more than two fastlane executions on a build machine.  When I've pushed it to 3, there's been failures with other dependencies such as node, xcode, etc.

[2017-05-17 21:12] #6325 closed

[2017-05-17 21:42] weihuali0509 commented on #9191
@hjanuschka @PetrosIchor I am using the gym command (https://github.com/fastlane/fastlane/tree/master/gym) and it is working fine on 4 builds (4 different
 folders) Simultaneously. Can you tell me a little bit more about the node, xcode dependencies? and which part of these dependencies would cause the build to fail?

Here is my fastlane job -
  lane :beta do
    # match(type: "appstore") # more i

[2017-05-17 23:07] danielrees18 commented on #9129
@KrauseFx I'm looking to contribute to this project and I think this would be a pretty good issue to start on. I would appreciate it if you could point me in some direction as to where in the project this change would be.

So far I've located the `*_keychain` actions such as `unlock_keychain` but I'm not sure if I'm looking in the right place. I also cannot find where this error might be produced

[2017-05-17 23:13] getaaron commented on #9129
@danielrees18 Check out how _match_ calls the keychain actions. The error messages aren't from _fastlane_. I think they're from the `security` command.

[2017-05-17 23:18] danielrees18 commented on #9129
@getaaron thanks! I'll take a look

[2017-05-18 00:32] rounak opened #9202 "[Spaceship] Sandbox Tester creation doesn't reflect on iTunes Connect"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I am using spaceship to create a new sandbox tester after logging in using this

[code]

And then creating a sandbox tester using this:

```tester = Spaceship::Tunes::SandboxTester.create!(ema

[2017-05-18 02:26] josercc commented on #9195
@PetrosIchor
➜  GearBest echo $PATH
/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Applications/Server.app/Contents/ServerRoot/usr/bin:/Applications/Server.app/Contents/ServerRoot/usr/sbin:/Users/zhangxing/.rvm/bin

system using zsh

[2017-05-18 02:41] huang-kun commented on #9197
Here is the result of `fastlane env`

<details><summary>🚫 fastlane environment 🚫</summary>

### Stack

| Key                         | Value                                       |
| --------------------------- | ------------------------------------------- |
| OS                          | 10.12.4                                     |
| Ruby                        | 2.4.1

[2017-05-18 04:15] Bae-Ki-Cheol opened #9203 "Ran into error while trying to connect to iTunes Connect / Dev Portal"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

When I used ```fastlane init```, error occurring

##### Complete output when running fastlane, including the stack trace and command used

[13:10:43]: Ran into error while trying to connect to

[2017-05-18 04:59] useeless37 commented on #8495
Hi thanks for checking,

[code]

In the code above, what is "appium/spec"
is it the folder that contains files like `TestXXX.class` ?

If you can show an example that would be great, thanks!

[2017-05-18 05:11] lsps9150414 opened #9204 "Gym failed with Exit status: 65 (ld: file not found)"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
**I have two lans setup:**
- `beta` lane, correspond to my `staging` build
- `release` lane, correspond to my `release` build

**Background:**
- I can successfully build both scheme with Xcode.

[2017-05-18 08:43] reshadf opened #9205 "increment_build_number is not working properly."
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Hi, When I use increment_build_number its not working properly after an update earlier this week from fastlane. The current build nr is 31 and it should increment that but everytime it runs it

[2017-05-18 12:29] jjochen commented on #9203
I get the same error when running `fastlane sigh`
[code]

[2017-05-18 12:33] longjianjiang commented on #9184
thanks guys , i add that key, fastlane works fine!

### But
as i said before, i add fastlane to my old project that be uploaded ipa to iTunes Connect before, this project didn't set this key at all, but fastlane work fine too. i don't know what happen 😂

[2017-05-18 12:58] kirua33 commented on #9198
I'm using match for my provisionning profile and gym for build my ipa. I try to upload it with Application Manager and there is no problem.

[2017-05-18 13:15] tcurdt opened #9206 "[produce] Invalid 2 step response"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I am trying to setup a new app and it's failing as described below.

##### Complete output when running fastlane, including the stack trace and command used
[code]
### Environment
<details><su

[2017-05-18 13:31] jjochen commented on #9203
defining `team_id` in the `sigh` call solved my issue.

[2017-05-18 14:20] Bae-Ki-Cheol commented on #9203
My account is individual account
How to success 'fastlane init'?

[2017-05-18 15:09] tcurdt commented on #9206
changing the code to this gets me further
[code]

but then

[code]

[2017-05-18 15:17] klappradla commented on #9121
Resolved via https://github.com/fastlane/fastlane/pull/9180 👨‍💻

[2017-05-18 15:17] #9121 closed

[2017-05-18 15:19] xilankong commented on #9192
sorry for that,but  as  what i say .

when i build ipa with  ad-hoc（or development） profile，there is only Payload folder  inside the ipa 。

so i can  not  pilot  this  ipa for  testFlight。

if i build with app-store profile, there is SwiftSupport  folder inside the ipa 。

so， i want to know why like this。

[2017-05-18 15:20] xilankong commented on #9192
and  @PetrosIchor  i search this in google yet。 but ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES set to true, do not copy the libswiftAVFoundation.dylib to the target.  it is no help

[2017-05-18 15:30] xilankong opened #9207 "snapshot just crash, scan just crash"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

scan
[code]

project:

empty demoTest.swift

and demoUITest.swift like this

[code]

Xcode:

Version 8.3.2

fastlane env

| Gem      | Version | Update-Status      |
| -------- | ------- | ---

[2017-05-18 15:36] #9207 closed

[2017-05-18 15:38] xilankong commented on #9207
it's my fault。

The Enable Testability build setting should be used only in your Debug configuration, because it prohibits optimizations that depend on not exporting internal symbols from the app or framework

i just test in release scheme

close

[2017-05-18 16:19] tcurdt commented on #9206
Further investigations show the response changes when there are more than one phone numbers registered for 2FA. The `ArgumentError: [!] unknown keyword: enabled_features` is another error.

[2017-05-18 16:37] tcurdt opened #9209 "[produce] unclear option enabled_features"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

The usage information lists
[code]
but none information is given whatsoever what the possible values are and how the syntax should look like to pass them.

##### Complete output when running f

[2017-05-18 16:51] ugenlik commented on #8852
After I had to use deprecated methods to be able to send an email thru Mailgun. I suck at ruby but I will make a pull request.

for now this works

[code]

[2017-05-18 17:13] #8493 closed

[2017-05-18 17:52] mhamel06 commented on #8981
Not sure if something changed with the install but I had to modify the path export to this export PATH="$HOME/.fastlane/bin/fastlane_lib:$PATH" since all the executables are actually in fastlane_lib

[2017-05-18 18:22] ohayon commented on #8981
Hey @mhamel06 that is definitely strange, could you share the output of `ls -l ~/.fastlane/bin`?

[2017-05-18 18:27] mhamel06 commented on #8981
[code]

[2017-05-18 18:35] ohayon commented on #8981
Thanks @mhamel06 that is for sure a bit weird. Did you install _fastlane_ via homebrew?

[2017-05-18 18:38] mhamel06 commented on #8981
No problem. Yeah, just tried via homebrew today and noticed the bin files weren't where I expected them to be.

[2017-05-18 18:39] ohayon commented on #8981
Would you mind for the sake of testing, to just `rm -rf ~/.fastlane` and then run `brew cask reinstall fastlane` and see if the same thing happens?

[2017-05-18 18:41] mhamel06 commented on #8981
Same result.

[2017-05-18 18:47] mhamel06 commented on #8981
yeah no problems after adding that dir. I think this change to the install script would fix the issue:
https://kits-crashlytics-com.s3.amazonaws.com/fastlane/standalone/fastlane.zip
[code]
From
[code]
To
[code]

[2017-05-18 18:50] ohayon commented on #8981
Yeah, thats great. We will definitely fix this. Might require some more testing because I am not able to reproduce it on my machine it ends up in `~/.fastlane/bin/`. Thank you so much for the report and solution. We will take care of this soon! 🚀

[2017-05-18 19:07] mhamel06 commented on #8981
Sounds good. I'm running macOS 10.12.4 in case it is a version specific bug.

[2017-05-18 19:13] KrauseFx commented on #9206
Looking at the logs, you're using a 6 months old versions, please make sure to run `[sudo] gem uninstall fastlane` and `[sudo] gem cleanup`, and then `gem install fastlane` again 👍

[2017-05-18 19:52] tcurdt commented on #9206
Something went horribly wrong here. After cleaning out the `Gemfile.lock` and a clean install the proper code was in place. Weird. Sorry for the noise.

[2017-05-18 19:52] #9206 closed

[2017-05-18 20:33] kigster commented on #8112
Like I mentioned before the issue has been fixed.

Feel free to continue using original `colored` gem, but for those who prefer a more up to date version `colored2` should no longer have any permissions issues, afaik.

Thanks!

[2017-05-18 22:19] wbroek commented on #9203
Same with using `fastlane pem`

[code]

[2017-05-18 22:23] jjacquet opened #9214 "Fastlane: EXPORT FAILED Exit status: 70"
I have went through similar defects and there hasn't been a solution that worked for me. I checked the mycompany.log file and that shows ** ARCHIVE SUCCEEDED **

Here is my log:
[code]

Here is the Fastfile:
[code]

Here is the MatchFile:
[code]

[2017-05-19 00:49] Bae-Ki-Cheol commented on #9203
My personal account to be included company account.
so I leave company account.
I solved my issue.

[2017-05-19 01:49] KrauseFx commented on #9206
Glad to hear you have it resolved 👍  Sorry you ran into this problem.

[2017-05-19 07:22] xilankong opened #9215 "match failed in development"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

[code]

i just run  fastlane match development .and  i just don't  know  what happend

[2017-05-19 07:43] wbroek commented on #9203
If I use the `--team_id` with the right team id it works, so the team chooser does not work atm

[2017-05-19 08:07] xilankong commented on #9215
NO, Code Signing Troubleshooting Guide  can  not solution  my problem

[2017-05-19 09:53] samskiter opened #9216 "[FR] Support for multiple/headless simulators through Bluepill or others"
### Issue Description

This new library has just popped up, supposedly allowing you to run multiple simulators and even run them headless: https://github.com/linkedin/bluepill

Doing this would allow for much more efficient testing on one machine. Rather than using build-for-test to build on one machine, then distributing those artefacts to other machines for actual running (because of the one-sim

[2017-05-19 10:00] samskiter commented on #9216
A little more information about how the tools works:

First you build using build-for-testing. Then you manually find the generated .app and TestScheme files and pass those to bluepill.

Bluepill can read the schemes and tell you the tests to run, it can automatically retry failing tests and a bunch of other cool stuff

Additional nice-to-haves:

Auto sharding of the tests - by listing the tests &

[2017-05-19 15:26] PetrosIchor commented on #9216
https://github.com/tbrand/fastlane-plugin-bluepill

https://github.com/Shashikant86/fastlane-plugin-bluepillar

[2017-05-19 15:27] PetrosIchor commented on #9216
https://github.com/tbrand/fastlane-plugin-bluepill

https://github.com/Shashikant86/fastlane-plugin-bluepillar

[2017-05-19 16:59] mpirri commented on #9190
@stefanhp Does your app have a default external group (usually called simply "External Testers")? If you don't specify a group (and that group exists), that's the group the app will be published for.

To publish to other groups, you can use `PILOT_GROUPS` as you specified, but try dropping the `[` and `]` around the environment variable value.  So:
`PILOT_GROUPS='Group 1','Group2','Group 3'`

You

[2017-05-19 17:19] joshdholtz commented on #9215
@xilankong It seems like this may be a similar issue to what was seen here -
 https://github.com/fastlane/fastlane/issues/5765#issuecomment-240187920

It seems like the solution _might be_ to try deleting the certs from the iOS dev portal **AND** also to manually delete the certs and private keys from your `Keychain Access`. If you could give that a try and let me know how it does that would be gr

[2017-05-19 17:25] joshdholtz commented on #9214
@jjacquet It appears to be a code signing issue.

[code]

The important part in there being...
[code]

Making the archived probably **DID** succeed but the failing is happening during the signing **AFTER** the archive. Hope this helps 😊

[2017-05-19 17:48] joshdholtz commented on #9214
@jjacquet Going to close this for now since this appears to be a code signing issue so feel free to comment back if it still appears to be fastlane related 👌

[2017-05-19 17:48] #9214 closed

[2017-05-19 18:12] joshdholtz commented on #9205
@reshadf Both `get_build_number` and `increment_build_number` worked for me. To test this I created a new Xcode project and followed the following guide (https://developer.apple.com/library/content/qa/qa1827/_index.html) with the following `Fastfile`...

[code]

It seems like it is most likely a project configuration issue. Is your `CURRENT_PROJECT_VERSION` in your build settings out of sync or no

[2017-05-19 18:12] #9205 closed

[2017-05-19 18:18] PetrosIchor commented on #9215
Try rolling back to fastlane 2.30.0.  I ran into something similar and rolling back fixed the problem for me.  In my case it was running match from the CLI and not in a Fastfile.

[2017-05-19 18:20] PetrosIchor commented on #9204
Try deleting your derived data and rebuilding.   I've run into similar issues and it was due to polluted derdata

[2017-05-19 18:21] joshdholtz commented on #9204
@lsps9150414 Hey 👋  It seems like this issue _may_ be related to your scheme including tests in a production release?

[code]

It appears your app is being built and signed correctly but your scheme might still be telling gym to build and link the tests - `Compiling bocaTests.m` and `Linking bocaTests`   - (which are failing when doing a release build). Its hard to know _exactly_ without having th

[2017-05-19 18:44] #9023 closed

[2017-05-19 18:45] taquitos commented on #9011
This has shipped 🎉

[2017-05-19 18:45] #9011 closed

[2017-05-19 18:53] #9203 closed

[2017-05-19 19:58] fmonsalvo opened #9226 "problem parsing options array for TestFairy"
### New Issue Checklist

- [X ] Updated fastlane to the latest version
- [X ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
I'm using Fastlane to distribute my ios and android apps via TestFairy. However I'm failing to pass the options and metrics parameters as they fail during validation.
This is my fastfile cont

[2017-05-19 21:02] chongj615 opened #9227 "sigh --force generate provisioning profile with incorrect Custon/Special Entitlements options"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
When you regenerate a provisioning profile using the force flag to add all new devices, the regenerated provisioning profile doesn't take into account the Entitlements options, instead always c

[2017-05-19 23:00] jaimeagudo opened #9228 "Cannot set `apk_path` dynamically for Crashlytics"
### New Issue Checklist

- [X ] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

The solutions commented here are not longer valid and the documentation is missing https://github.com/fastlane/fastlane/issues/6916

Reviewing the [source](https://github.com/fastlane/fastlan

[2017-05-20 03:20] xilankong commented on #9215
@PetrosIchor   when the xcode check the automatically manage signing .  it will create the development cert and profile. so, each time i test the match development, it always failed.

if i revoke the distribution cert and profile  in  apple development center, match appstore success .

when i run  match  development  ,i get the development cert and profile ,but i can't pass the sign with
them.

so

[2017-05-20 04:33] #8500 closed

[2017-05-20 11:13] #8339 closed

[2017-05-20 11:27] funnel20 commented on #8339
There was activity 9 days ago, what kind of stupid bot are you?
But as nobody seemed to have any intention of fixing this, what's the difference?

[2017-05-20 17:06] mortenholmgaard commented on #8601
Any one please look at this..

[2017-05-20 17:22] mortenholmgaard opened #9229 "increment_version_number & increment_build_number for specific target"
### New Issue Checklist

- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I have multiple targets (10 at the moment) for one project and I am releasing as seperat apps, so I really need to be able to bumb version and build number for a specific target.

Please add a target argument to each method - I will real

[2017-05-20 21:11] hula1 opened #9230 "authentication problems on second user"
I'm using two different apple developer accounts on my jenkins machine (both accounts are gmail)

There is no problems with the first account but unfortunately second user can't login, it seems that fastlane can't retrieve password from the the keychain for the second account

When I run the command in bash there is no problem and password is retrieved successfully
fastlane sigh -a com.myapp -u my

[2017-05-21 00:24] felipeplets opened #9231 "Produce action for Android"
Is there any available option within Fastlane for a "fastlane produce" like feature for Google Play?

[2017-05-21 11:17] mbogh commented on #8788
@johnrufusj I have create a very basic fastlane plugin [teams](https://github.com/mbogh/fastlane-plugin-teams) feel free to contribute to it 🚀

[2017-05-21 16:53] #8508 closed

[2017-05-21 18:56] advantage-software commented on #8499
Can this be added to the roadmap? When you have multiple projects and all the certs are named the same and you're verifying provisioning profiles it's difficult to see if the correct cert is with a specific profile when they're all named the same. Thanks

[2017-05-21 20:23] matthewfowles opened #9232 "Password correct and will not log in"
### Issue Description

When I try to run `fastlane beta` my log in details do not work. I have a password that contains uppercase, lowercase and numbers but no other special characters. When I ran `fastlane init` it worked fine and I can only find issues that pertain to special characters being present. Has any had the same issue?

##### Complete output when running fastlane, including the stack t

[2017-05-21 23:41] KrauseFx commented on #9232
It looks like you have `FASTLANE_PASSWORD` or `DELIVER_PASSWORD` set, can you verify that those values are correct?

[2017-05-22 01:48] PaulMest commented on #7884
Thanks for the reminder @fastlane-bot. I just submitted my logs to @mpirri via email.

[2017-05-22 02:52] kukushi commented on #6827
The issue is still there.

[2017-05-22 03:40] PetrosIchor commented on #9231
To my knowledge Google's APIs do not allow for this functionality.

[2017-05-22 03:42] KrauseFx commented on #9231
We actually have some GitHub issues for this already, e.g. https://github.com/fastlane/fastlane/issues/4215 and https://github.com/fastlane/fastlane/issues/722

[2017-05-22 03:44] #9231 closed

[2017-05-22 05:08] lsps9150414 commented on #9204
@PetrosIchor Thanks for the advice. What exactly are the derived data you mentioned and where are they located?

@joshdholtz I came from react-native and I have limited experience with native app development. I temporary solved the problem by setting the `host application` of my test target to `none` in Xcode. However I don't know if this is the proper way to fix it.

[2017-05-22 08:37] MortenGregersen commented on #9168
It's not releated to code signing.

[2017-05-22 09:14] matthewfowles commented on #9232
Yes i only set `FASTLANE_PASSWORD` to check is was not an issue typing it in. That password is correct

[2017-05-22 10:53] #8419 closed

[2017-05-22 11:12] arohim commented on #6791
I'm facing the same issue.

[2017-05-22 11:35] joshdholtz commented on #9204
@lsps9150414 Derived data- http://stackoverflow.com/questions/38016143/how-to-delete-derived-data-in-xcode-8

And one thing to make sure of is your that only your main target is included in the "Archive" column of your scheme like the below picture...
![screen shot 2017-05-22 at 6 34 26 am](https://cloud.githubusercontent.com/assets/401294/26306401/de691b26-3eb8-11e7-922d-dde399d5325f.png)

[2017-05-22 12:14] gaoneng1989 commented on #9197
I have the same issue and here is my env

<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                         | Value                                       |
| --------------------------- | ------------------------------------------- |
| OS                          | 10.12.5                                     |
| Ruby                        | 2.4.0

[2017-05-22 12:22] gaoneng1989 commented on #9197
@huang-kun do you have any solution to this?

[2017-05-22 13:21] tejas-ardeshna commented on #8464
@KrauseFx  on fastlane_version "2.32.1", still facing same issue.

My app contain following things
1) companion ios app
2) watch app
3) watch app extension
4)  ios app Siri extension
5) watch app Siri extension

[2017-05-22 14:06] doapp-ryanp commented on #9154
Morning @KrauseFx any idea which release this feature/fix is targeted for? I've noticed 3 releases since this was closed so just curious.

[2017-05-22 14:35] lsps9150414 opened #9233 "Wrong Xcode scheme used by gym."
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

My `beta` lane:
[code]

My `boca-staging` scheme is set to use the `staging` build config:
![2017-05-22

[2017-05-22 14:46] mfurtak commented on #9228
Hi @jaimeagudo 👋  - the `apk_path` parameter is optional, and if you do not specify it, we will attempt to pick the right APK from your project directory.

If you use the _fastlane_ `gradle` action as part of your lane, you can give a hint to the `crashlytics` action by only assembling exactly the APK you're looking to distribute. For example, rather than running `clean assemble`, run `clean assem

[2017-05-22 14:53] hjanuschka commented on #9154
@doapp-ryanp this should have been shipped with:

https://github.com/fastlane/fastlane/releases/tag/2.31.0
according to the bot.
https://github.com/fastlane/fastlane/pull/9160#issuecomment-302396633

are you sure you are on 2.31 or higher?

[2017-05-22 14:54] hjanuschka commented on #9154
ohhh to fast reply, the PR got changed, and it only will work / fix the loop once `fastlane_core` is required.

so if you only use spaceship. you should add a `require 'fastlane_core'` so it detects the `FastlaneCore::Helper.is_ci` methods.

[2017-05-22 15:20] lsps9150414 commented on #9204
@joshdholtz Thank you! This solved my problem.

[2017-05-22 15:20] #9204 closed

[2017-05-22 15:22] lsps9150414 commented on #9233
Also, is there any way to test the produced .ipa file before uploading it to testflight/app store so I can make sure it's the correct build first?

[2017-05-22 15:29] #7717 closed

[2017-05-22 15:29] switchawk commented on #8619
No change..

[2017-05-22 15:29] switchawk commented on #8619
This is a Mac target.

[2017-05-22 15:46] jbg opened #9234 "Extant invalid screenshots & metadata prevents making any changes"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

We have 180 or so existing apps which have previously valid, but now invalid, metadata and screenshots on iTunes Connect. Specifically they have app names that are now considered too long, and

[2017-05-22 15:53] #7816 closed

[2017-05-22 16:34] Sandhu412 commented on #9009
@KrauseFx - same issue here too. getting archive_invalid issue. Any thoughts on this?

[2017-05-22 16:35] PetrosIchor commented on #9233
There are many ways to test your app.  What you choose depends on your needs and resources.  If this is Greenfield for you, I'd suggest using the native automated testing tools since they have decent documentation and can work within fastlane.

Regarding your initial question:. Please be sure to read the docs/man pages.  Gym has many abilities.  Configuration defaults to Release unless you change

[2017-05-22 18:07] igordelorenzi commented on #9114
I'm getting a similar error:

My beta script is as follows

[code]

**fastlane version:** 2.32.1

[2017-05-22 18:28] ilandbt opened #9235 "upload to crashlytics 'Failed to upload binary'"
### New Issue Checklist

- [v] Updated fastlane to the latest version
- [v] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Hey i'm trying to upload a build to crashlytics and getting

This worked perfectly till today.

##### Complete output when running fastlane, including the stack trace and command used

### Capt

[2017-05-22 18:35] ohayon commented on #7085
Hey everyone, I am going to close this issue for now as it has been pretty quiet recently and Apple has changed a lot of the way TestFlight works and much _pilot_ has since been refactored to work with the new endpoints from Apple. Let us know if you are still running into issues! 🚀

[2017-05-22 18:35] #7085 closed

[2017-05-22 19:30] ohayon commented on #9092
Hey @tommeier I am working on tracking down the source and a good fix for this issue... To try to reproduce it better, I am curious if you have 2FA enabled on your Apple ID account? /cc: @vbresults and anyone else who would like to chime in! 🐙

[2017-05-22 20:00] ohayon commented on #8638
Hey @masashi-sutou,

It looks like there are some issues with your code signing setup and that could be causing the CocoaPods failure which could be just a red herring. I noticed these types of errors throughout your output:

[code]

[2017-05-22 20:25] mfurtak commented on #9161
Implemented in #9213 🎉

[2017-05-22 20:25] #9161 closed

[2017-05-22 20:26] ohayon commented on #8737
Going to close this as it looks like that awesome docs PR was merged. Thanks for making that happen @iwasrobbed !! 🚀

[2017-05-22 20:26] #8737 closed

[2017-05-22 20:30] mfurtak commented on #9235
The message with a `Response code: 0` usually indicates that the request could not reach the Crashlytics servers. Can you verify that you can reach the Crashlytics servers from your build machine?

[code]

[2017-05-22 20:45] maszin commented on #9161
Thanks 👍

[2017-05-22 20:52] KrauseFx commented on #4641
For people coming from Google, check out the [Guide to use fastlane for apps with multiple targets](https://docs.fastlane.tools/faqs/#multiple-targets-of-the-same-underlying-app).

[2017-05-22 20:52] KrauseFx commented on #8
For people coming from Google, check out the [Guide to use fastlane for apps with multiple targets](https://docs.fastlane.tools/faqs/#multiple-targets-of-the-same-underlying-app).

[2017-05-22 20:52] KrauseFx commented on #597
For people coming from Google, check out the [Guide to use fastlane for apps with multiple targets](https://docs.fastlane.tools/faqs/#multiple-targets-of-the-same-underlying-app).

[2017-05-22 20:52] KrauseFx commented on #341
For people coming from Google, check out the [Guide to use fastlane for apps with multiple targets](https://docs.fastlane.tools/faqs/#multiple-targets-of-the-same-underlying-app).

[2017-05-22 20:57] ilandbt commented on #9235
Hi thanks for the response i get some html for that call

[2017-05-22 21:27] taquitos commented on #8327
Hey @zoufishanmehdi are you able to repro on Xcode 8.3.2? I just tried and I'm not able to.

[2017-05-22 21:36] ilandbt commented on #9235
Now everything works.

I was on a old git branch maybe something work configured wrong there.
after merging in to my master all works fine.

Thanks

[2017-05-22 21:36] #9235 closed

[2017-05-22 22:16] taquitos commented on #6872
Hey @brurend, I know it has been a while, but if you're still having trouble, you should go ahead and open a new issue.

[2017-05-22 22:16] #6872 closed

[2017-05-22 22:22] taquitos commented on #6968
@mgrebenets Xcode 8.2.1 wasn't kind to us, are you still seeing issues using the most current fastlane and Xcode 8.3.2?

[2017-05-22 22:29] tommeier commented on #9092
:wave: @ohayon - no 2fa activated for our match user no - now more time has passed I can also say we haven't seen it once since reducing our match logins, and stopping all concurrent requests.

[2017-05-22 22:49] mfurtak commented on #9235
I think you probably hit a transient network issue there. I'm glad you are back in business! 🚀

[2017-05-22 23:17] btrzupek opened #9237 "pilot - there is no web session to update (on upload)"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
when running "fastlane pilot upload" I get the following error:

**there is no web session to update**

It was working earlier today, and now I get this error every time.

##### Complete output

[2017-05-22 23:18] nikhildaga commented on #9237
I am getting the same error

[2017-05-22 23:20] milesalex commented on #9237
sameeee

[2017-05-22 23:22] KelvinEC commented on #9237
Same

[2017-05-22 23:25] ChrisVolentine commented on #9237
Yep, same here

[2017-05-22 23:28] allewun commented on #9237
Here's my [.fastlane/latest_crash.json](https://github.com/fastlane/fastlane/files/1020493/latest_crash.json.txt). Hope this adds some more context.

[code]

[2017-05-22 23:34] btrzupek commented on #9237
Just to add a bit more context, when I went and manually logged into ITC there was a new modal dialog telling me about some new features Apple introduced in TestFlight.  IIRC, I saw this the other day too, so I am not sure why I am seeing it again or if it is related. However, if you are doing some form or web scraping, perhaps this is a clue to you that they maybe changed something you rely upon.

[2017-05-22 23:48] astrokin commented on #9237
+1

[2017-05-22 23:48] alwindeep commented on #9237
Same issue for me as well.

[2017-05-22 23:52] CesarDominguez commented on #9237
Wow this is really on the fly... I'm getting the same!

[2017-05-23 00:11] jriskin commented on #9237
So sad... no new builds since 3:24pm PST...

[2017-05-23 00:19] nikhildaga commented on #9237
Has anyone been able to upload using xcode? I think it may be a problem with Apple than fastlane

[2017-05-23 00:26] KrauseFx commented on #9237
Hey everyone, thanks for submitting the issue, we'll look into this right now, and will try to have a fix available as soon as possible 🚀 Sorry for the issue

[2017-05-23 01:02] KrauseFx commented on #9237
We just pushed a PR that fixes the problem https://github.com/fastlane/fastlane/pull/9238, we'll ship a new release as soon as possible 🚀 💥

[2017-05-23 01:09] #9237 closed

[2017-05-23 01:58] vbresults commented on #9092
@ohayon No 2FA

[2017-05-23 02:21] btrzupek commented on #9237
@KrauseFx - dude, thanks so much for fixing this - so quickly. We are back in business now. I really appreciate your efforts.

[2017-05-23 03:01] huang-kun commented on #9197
@gaoneng1989 not yet. Even with the latest version!

[2017-05-23 03:24] KrauseFx commented on #9197
Could you update to the most recent release and try again? 👍

[2017-05-23 03:26] lsps9150414 commented on #9233
@PetrosIchor Thank you for the fast reply! So even with my build configuration of the staging scheme set to `staging` inside Xcode, I still need to specify the `configuration` prop for gym?

[2017-05-23 03:57] ufosky opened #9241 "fastlane init error"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
I want to setup fastlane for my project, so I run `fastlane init` in my project directory, but after I enter my Apple ID, the system popup an window like the image below, and the terminal show

[2017-05-23 04:03] KrauseFx commented on #9241
Could you try it again using `--verbose` and share the complete output when running _fastlane_? Thanks 👍

[2017-05-23 04:06] lsps9150414 commented on #9233
**I've changed my lane to:**
[code]
**And here's my scheme settings:**
![2017-05-23 12 03 12](https://cloud.githubusercontent.com/assets/5022617/26338050/d4a05972-3faf-11e7-9b95-47141c0b2b80.png)
(Note that only the `Run` action is using `staging` build config. Should `Profile` and `Archive` be using `staging` as well?)

**Result:**
[code]

[2017-05-23 04:08] ufosky commented on #9241
[code]

[2017-05-23 04:27] KrauseFx commented on #9233
@lsps9150414 can you share the complete output please?

[2017-05-23 04:57] lsps9150414 commented on #9233
@KrauseFx Sure! Here it is:
https://gist.github.com/lsps9150414/b5529dc89321b896ef870968305d8454

[2017-05-23 05:27] KrauseFx commented on #9233
Seems like there is something wrong with your project settings for the provisioning profile. Please make sure to follow: https://docs.fastlane.tools/codesigning/getting-started/ 👍

[2017-05-23 07:42] #8507 closed

[2017-05-23 09:29] falcon03 commented on #7085
So is this issue supposed to be fixed? Is the eventual fix part of the latest stable release?

I’ve been quiet simply because I was waiting for a fix, 2 weeks ago I experienced the issue once again.

 --
 ZE-Light e ZE-Pro: servizi zimbra per caselle con dominio email.it, per tutti i dettagli
Clicca qui http://posta.email.it/caselle-di-posta-z-email-it.php?utm_campaign=email_Zimbra_102014=main_foo

[2017-05-23 09:40] mashour commented on #9237
@KrauseFx thank you so much for the quick fix!

[2017-05-23 11:04] punksta opened #9242 "betaReviewInfo is missing in Pilot"
### New Issue Checklist

### Issue Description

Testflight ask contact information like: email, name, phone. But email is required

![itunescconnect](https://cloud.githubusercontent.com/assets/13404754/26350862/a52a3362-3fbd-11e7-9567-8751aee43a68.png)

If I don't set email manually , I get error dialog:
[code]

same error message from pilot:
[code]
### Code
[code]
### Environment
`'fastlane', '~>

[2017-05-23 12:40] kirua33 commented on #9198
Found !!! Old password in my keychain. clean it and all works fine.

[2017-05-23 12:40] #9198 closed

[2017-05-23 12:51] CesarDominguez commented on #9237
this was very interesting to watch!

[2017-05-23 13:36] ohayon commented on #7085
Hey @falcon03, could you share your terminal output as well as any detail you can about your Fastfile configuration? Thanks!

[2017-05-23 13:54] the4thfloor opened #9243 "Match did not asks for password"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I created a new project, called `fastlane match init` followed by `fastlane match development`.
Fastlane / Match hangs with:

[15:44:56]: Cloning remote git repo...
[15:44:56]: If cloning the

[2017-05-23 13:55] ohayon commented on #9092
Hey @vbresults, I am having a hard time reproducing this issue on my own machine with a handful of test accounts that we use. We did just push and update last night that changes a bit of how auth works. Do you think you could update _fastlane_ and give this another go to see if the changes fixed your issue? Thanks! 🚀

[2017-05-23 13:55] leoMehlig opened #9244 "2 Factor on Travis CI"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
I tried to use `sigh` or `cert` with 2-factor auth on travis, but it keeps saying that the session cookie is invalid. I've tried supplying the `FASTLANE_SESSION` in the Fastfile (ENV[..]=..), i

[2017-05-23 13:56] hammertoe commented on #8909
This still seems to be an issue (Fastlane 2.33.0) and as a workaround I've had to ensure I create the log directory first before it is used. E.g. in my Jenkinsfile I have:

`sh "mkdir -p ${env.WORKSPACE}/build/reports"
`

before attempting to run the tests.

[2017-05-23 14:03] ohayon commented on #8837
Hey @tier777 thanks for the update, I'm glad you're back in a working state. I am going to close this issue for now, but if you come across this again, we would love to see the output from your _fastlane_ execution. Thanks! 🚀

[2017-05-23 14:03] #8837 closed

[2017-05-23 14:13] jalexreyes commented on #9237
Thank you @KrauseFx for all the amazing work.

[2017-05-23 14:20] the4thfloor commented on #9243
Note:
- It works when I use a ssh key and not a password to log in
- It is also not working with `https://...` git url

[2017-05-23 14:29] vbresults commented on #9092
@ohayon Just updated, looks like it's fixed now, thank you (:

[2017-05-23 14:35] ohayon commented on #9092
Amazing. Thanks for giving that a shot! :rocket:!

[2017-05-23 14:35] #9092 closed

[2017-05-23 14:59] ZevEisenberg commented on #8909
Oops, I meant to follow up on this. The default value of `include_simulator_logs` changed to `true` some time after Circle 2.0 launched. You need to explicitly pass `false` in your Fastfile.

[2017-05-23 15:49] ohayon commented on #8597
Hey everyone, glad to see that re-owning your `~/.fastlane` directory has fixed things for you. I am going to close this issue for now, but please let us know if you are still running into this issue! 🚀

[2017-05-23 15:49] #8597 closed

[2017-05-23 16:30] jjnino commented on #9237
Thanks for the quick fix!

[2017-05-23 16:49] LordNali opened #9247 "[snapshot] launch arguments"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

It seems that snapshot doesn't support (anymore?) the launch arguments. Here's my Snapfile:

[code]

then my Fastfile contains this lane (among others):
[code]

The lane itself work's perfectl

[2017-05-23 17:25] jaimeagudo commented on #9228
Thanks a lot for your help @mfurtak but I am afraid I don't understand you :(

By the time I submitted the issue I thought the gradle assemble was already specific
[code]
but if I uncomment the `apk_path` argument I get this warning
` Couldn't find any new signed apk files...`

I guess you meant to `rm` all the `.apk` files but the one I want to distribute but I don't know an efficient way to do i

[2017-05-23 17:36] CesarDominguez commented on #9237
Is it needed to update something on a special form?, I'm still having the issue D:

[2017-05-23 18:23] levibostian opened #9248 "Unable to create Crashlytics Beta release without adding app to Fabric account."
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I have a whitelabeled iOS and Android app that I am developing. I use Fabric/Crashlytics Beta for beta testing for all the beta testing of these mobile app builds.

*Goal:* When a new organiza

[2017-05-23 18:47] salanki commented on #9237
Impressive!

[2017-05-23 18:55] nechmads commented on #9241
I got the same thing and it started after I updated to the latest fastlane. It stopped asking for the results of the 2 factor authentication

[2017-05-23 18:57] nechmads commented on #9241
INFO [2017-05-23 13:56:09.21]: Ran into error while trying to connect to iTunes Connect / Dev Portal: Unauthorized Access
INFO [2017-05-23 13:56:09.21]: Falling back to manual onboarding
ERROR [2017-05-23 13:56:09.21]: Error occurred with the setup program! Reverting changes now!
WARN [2017-05-23 13:56:09.21]: Deleting the 'fastlane' folder

Looking for related GitHub issues on fastlane/fastlane..

[2017-05-23 19:14] mfurtak commented on #9228
Hm. OK. If you insert

[code]

after the `gradle` task, but before the `crashlytics` task. what output do you get? Does it reference the correct APK file?

[2017-05-23 19:22] mfurtak commented on #9248
Hi @levibostian - thanks for the great write-up. 👍

Unfortunately, the short answer is no, that's not possible. Fabric requires that you both build and launch an app in order for the system to recognize it as active and allow you to make a distribution.

Sorry to not have a better answer for you!

[2017-05-23 19:22] #9248 closed

[2017-05-23 19:23] Capyvara commented on #6791
@markpar, @gmarques33, @arohim

I think I found the source of this bug, what happens is that you probably have a version that is shown as _Superseded by production_ on the beta channel:

![image](https://cloud.githubusercontent.com/assets/1027847/26371652/c41bb002-3fd1-11e7-85f1-2cf547719ce5.png)

This means despite the UI not showing, if you use the [Edits.tracks: get](https://developers.google.c

[2017-05-23 19:41] #8909 closed

[2017-05-23 19:43] #8529 closed

[2017-05-23 20:32] KrauseFx commented on #9241
Hey everyone, taking a closer look at this, it seems like this issue might be related to a server in some regions not being updated yet. Are you all based in China? Can you try to use a VPN outside, and see if that fixes the issue?

[2017-05-23 20:43] lsblakk commented on #1963
I have access to the Amazon API and have about 80% of an uploading script written in Python for it.. is this something that can be re-opened?  I'd love to transition to using fastlane for all-in-one mobile release.

[2017-05-23 20:44] taquitos commented on #9247
Hey @LordNali, could you attach your complete output from snapshot as well? That should help us diagnose this stuff.

[2017-05-23 20:50] taquitos commented on #9244
Hey @leoMehlig, please update to the most recent _fastlane_, Apple changes things a lot, especially around the session so it's good to stay up-to-date. Also, we have this 2 factor guide because it's a common pain point for people. Let me know how if this helps fix it!
https://docs.fastlane.tools/best-practices/continuous-integration/#two-step-or-two-factor-auth

[2017-05-23 20:57] taquitos commented on #9243
You can add `--verbose` to the command you are running.
That will show you all the operations it is performing.
You can then look for the output of its `git clone` operation and run that manually on in your terminal. It will ask you for a password and only that once, and from then on it will be stored in your keychain.

[2017-05-23 21:36] leoMehlig commented on #9244
If also checked with the latest version (2.33): The error still occurs, but now it crashes after requesting the 2 factor code.

[code]

[2017-05-23 21:43] lacostej commented on #1963
@lsblakk feel free to start (e.g. as a separate plugin) and refer to it here. I don't think the implementation can be finalized until Amazon completes their API. For example, they only support free apps right now.

[2017-05-23 21:52] taquitos commented on #9229
We use `agvtool` to do this work. It only supports changing the version to the same thing for all targets 😢
To make this work individually for each target, we'd need to build some more custom parsing/updating. Furthermore, Xcode would prefer you to have the same bundle version for each target, but a different marketing version in their respective Info.plists.
You might be able to build this using

[2017-05-23 21:57] taquitos commented on #9242
A work around is that you can use the browser to set this (as you found out). Does it work for you that you can set it once manually and then automate the rest? It's some work for us to pass this through so I'd like to gauge how much of a pain this is for you!

[2017-05-23 22:01] taquitos commented on #9234
Hey @jbg, could you attach your complete output from the tool as well? That should help us diagnose this stuff.

Also, what happens if you do the same thing, manually in itunes connect?

[2017-05-24 00:44] vbresults opened #9251 "[pem] push certificate invalidated when provisioning profile export method changes"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

When I sign an `ad-hoc` app with match, I use pem to create a production/non-sandbox push certificate.  I later use match to sign the same app/bundle id for the `app-store` export method.

The

[2017-05-24 01:11] LordNali commented on #9247
Okay - I just noticed something strange regarding the launch arguments option:
[code]
These are the two arguments I like to set, but this option in the Snapfile results in **two seperate** runs of the whole snapshot toolchain (and in the end I got all screenshots twice). How do I set the launch argument option so that these two arguments are active at the same time - is this even possible?

[2017-05-24 01:24] pbassut commented on #9237
That was really quick. Thanks guys!

[2017-05-24 01:31] reidmain opened #9252 "[Feature Request] Add support for the --path parameter to the SwiftLint action"
I am looking to use SwiftLint on our CI lanes to prevent developers from landing code that triggers warnings. Unfortunately SwiftLint on CI runs at a higher level directory than when it is run via an Xcode build phase.

If we could pass the `--path` parameter into the SwiftLint action we could configure Fastlane to run SwiftLint in the same way that Xcode does.

[2017-05-24 01:40] reidmain commented on #9252
I don't think `fastlane env` will make a difference for a feature request like this @fastlane-bot 😜

[2017-05-24 01:49] reidmain commented on #9252
I apologize it looks like if you provide the `--path` parameter then the `included` section of your configuration file which is not what you want.

It feels like the proper solution to this problem is to either make SwiftLint command run at the same level in both Xcode and Fastlane or update the configuration `included` and `excluded` section to work for both of those possible run locations.

Is t

[2017-05-24 01:52] jeanetienne commented on #9241
@KrauseFx that's it! I'm in Australia and have the same problem. I've connected to Sweden with my VPN and now it works ;)

[2017-05-24 02:01] KrauseFx commented on #9252
Yeah, add the following to your `Fastfile`

[code]

Let me know if that works 👍

[2017-05-24 02:02] KrauseFx commented on #9241
Hey @jeanetienne thanks for confirming that this is dependent on where in the world you're located. Easy fix would be to all relocate to San Francisco I'd say :trollface:, or until this problem is fixed on the server-side, you can use a VPN 👍

[2017-05-24 02:05] jeanetienne commented on #9241
Hehe, I'll stick with the VPN for now ;)
Just curious, is this a case of "You've added support to a change too quickly, before Apple had time to fully roll it out"?

[2017-05-24 02:23] ggallotti commented on #9241
Same problem here.

[2017-05-24 02:27] reidmain commented on #9252
@KrauseFx that is actually what I tried and it works for a custom command but not for the Swiftlint action. It seems that if I do
[code]
it still gets run at the root of the directory where the fastlane command is being run from.

I get the error:
[code]

where `/Users/reidmain/Development/MyCompant/ios/custom_path/.swiftlint.yml` is where the configuration file lives and the command is run via Xc

[2017-05-24 02:57] truebit opened #9254 "[Question] how to set keychain in gym?"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

according to [xcodebuild source file line338](https://github.com/fastlane/fastlane/blob/master/fastlane/lib/fastlane/actions/xcodebuild.rb#L338), we could set `keychain` argument for gym, but

[2017-05-24 03:03] KrauseFx commented on #9247
Check out the docs on launch arguments over [here](https://docs.fastlane.tools/getting-started/ios/screenshots/#advanced-snapshot). You might be able to do that just by having them as one string 👍

[2017-05-24 03:05] KrauseFx commented on #9237
Thanks everyone for confirming, so glad everything is up and running again 👍 I actually worked together with @taquitos on this fix, who joined the _fastlane_ team about a month ago 😺  Expect some cool things he'll be working on 🚀

[2017-05-24 03:06] KrauseFx commented on #9241
@jeanetienne Hehe, I don't think that's the case. What happens when you use iTunes Connect in your browser and switch teams?

[2017-05-24 03:07] KrauseFx commented on #9252
Do you think that's an issue of _fastlane_ then, when `/Users/reidmain/Development/MyCompany/ios/.swiftlint.yml` exists?  The error seems to be coming from swiftline, right?

[2017-05-24 03:08] KrauseFx commented on #9254
Mh, interesting, that seems to be missing. Is that something you'd like to work on? Should be rather easy to add and test it for your setup 👍 Check out this doc for some more information on how to get started https://github.com/fastlane/fastlane/blob/master/YourFirstPR.md 😺

[2017-05-24 03:16] jeanetienne commented on #9241
@KrauseFx I only have one team... I have several App IDs prefixes thought, for some reason..

[2017-05-24 03:17] vbresults opened #9256 "[pem] Support creating JWT-signing keys (.p8 files) in pem"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Re-opening #7848 -- @ohayon there are so many benefits to using the new P8 format over the old one, please consider implementing

[2017-05-24 03:25] duckwaffle commented on #9244
I'm getting the same issue as @leoMehlig where it is crashing with "unauthorized access". I have even tried generating a new websession on my dev machine and using that.

I am using VSTS with a Macincloud agent for releasing to the app store.

[2017-05-24 03:28] truebit commented on #9254
My mistake. I refered to `xcodebuild` action instead of `gym`. In gym this `keychain` option is not included. I tried to include keychain by using the option of `export_xcargs` in `gym`, but the log shows no such argument in xcodebuild command

[2017-05-24 03:33] nechmads commented on #9241
I’m in Chicago...

Shahar Nechmad
Entrepreneur & Explorer
Https://www.facebook.com/nechmads
+1.415.307.5378

On May 23, 2017, 3:32 PM -0500, Felix Krause <notifications@github.com>, wrote:

[2017-05-24 03:35] duckwaffle commented on #9241
I'm getting the same problem on my Macincloud VSTS agent, which I am assuming is located in north america, but I can't be certain.

[2017-05-24 03:43] AmatsuZero commented on #9197
Same issue, waiting for solution...

Here is my env:
<details><summary>🚫 fastlane environment 🚫</summary>

### Stack

| Key                         | Value                                       |
| --------------------------- | ------------------------------------------- |
| OS                          | 10.12.5                                     |
| Ruby                        | 2.4.1

[2017-05-24 03:45] taquitos commented on #9226
It looks like you're passing in the options as an array of strings `options: ["shake"]` I think it's expecting symbols `options:[:shake]` (which is probably something that could be fixed to accept both)

[2017-05-24 03:48] nechmads commented on #9241
I'm in Chicago currently. I tried to connect to a U.S. VPN to check another location and still same result :(

[2017-05-24 04:02] KrauseFx commented on #9241
@nechmads @duckwaffle Just to verify: Are you only experiencing this on `fastlane init` or on any _fastlane_ command that interact with iTunes Connect?

[2017-05-24 04:05] duckwaffle commented on #9241
@KrauseFx I'm only experiencing the issue on `fastlane pilot upload`, as that is all that the VSTS agent is using fastlane for. To be honest, that is all I have ever used fastlane for anyway haha.

[2017-05-24 04:10] nechmads commented on #9241
I'm getting this on all commands. For example: when running "fast lane produce". It asks for my user ID and the moment the 2 factor authentication message box shows up, I also get the error message: "[!] The request could not be completed because:
	Unauthorized Access"

[2017-05-24 04:17] KrauseFx commented on #9256
Hey @vbresults, thanks for bringing up this feature request again, this sounds very interesting. I haven't used the new system myself, so I don't know too much details about it. You don't have to renew the key every year, right? So it's a one-time task for an app, instead of a yearly one? Why do you want to automate it? Do you have a high number of apps, that would need to be setup (including push

[2017-05-24 04:19] KrauseFx commented on #9254
Ah, nice 👍 It's still something that's probably interesting for many people. To my knowledge, many users use the built-in keychain actions to switch the default keychain on CI boxes.

[2017-05-24 04:22] KrauseFx commented on #9197
Hey everyone, thanks for reporting this. Are you based in China? On the first look it seems like you can't reach the crash reporting server, which is hosted by Google, and parts of Google are blocked in China. We'll work on a fix to not crash like this.

In the mean-time, could you connect to a VPN outside of China and see if that fixes the issue for you? Thanks

[2017-05-24 04:33] KrauseFx commented on #9251
There has been some existing issues around this. The summary is that this is out of our control: if you manually create a provisioning profile, and then create a push certificate, it will get invalidated, and you'll have to regenerate it. This is due to the fact that the App ID got modified, and therefore needs a different reference. We actually filed a radar about this rdar://28924969, feel free

[2017-05-24 04:33] #9251 closed

[2017-05-24 04:34] #9226 closed

[2017-05-24 04:35] taquitos commented on #9226
Next release of _fastlane_ will include a fix for this, in the meantime, you can use what I posted above `options:[:shake]` 🎉

[2017-05-24 04:53] AmatsuZero commented on #9197
We did try some actions like cert under VPN environment, but it didn't anyway...

[2017-05-24 05:15] lsps9150414 commented on #9233
@KrauseFx If I have different bundle identifiers for each scheme:
![2017-05-24 1 11 47](https://cloud.githubusercontent.com/assets/5022617/26387782/c364a63a-4082-11e7-84bd-40ac7397d6cf.png)

And I want to upload the beta version (build by the `staging` scheme) to TestFlight, the production version (build by the `release` scheme) to app store. Does this mean I need to use `fastlane produce` to crea

[2017-05-24 06:03] rahul21989 opened #9259 "How can i find all bundle ids related to a particular app group?"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

[INSERT OUTPUT HERE]

### Environment

Please run `fastlane env` and copy the output below. This will h

[2017-05-24 06:20] TuDoudong commented on #9197
Same issue, waiting for solution too ...

Here is my env:

<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                         | Value                                        |
| --------------------------- | -------------------------------------------- |
| OS                          | 10.12.4                                      |
| Ruby                        | 2.4.1

[2017-05-24 06:37] fukazayo opened #9260 "Gym fails IPA export in schema including WatchKit App"
### New Issue Checklist

- [v] Updated fastlane to the latest version
- [v] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I created a simple iOS App with WatchKit App project and try to build using gym.
But gym fails IPA export in a schema including WatcKit App.
(Gym succeeds IPA export in a schema without WatchK

[2017-05-24 07:04] fukazayo commented on #9260
I checked the Code Signing Troubleshooting Guide, but there was no explanation about this issue.

[2017-05-24 08:51] LordNali commented on #9247
Well...I should have read the docs more attentively - writing both launch arguments as **one string** works perfectly - thanks a lot guys.

[2017-05-24 08:51] truebit commented on #9254
I found that I used wrong parameter, `xcargs` is the one to use instead of `export_xcargs`.
I set the keychain like `xcargs  "OTHER_CODE_SIGN_FLAGS=--keychain=\"/Users/Shared/Library/Keychains/login.keychain\""` in Gymfile, and I could see param in xcodebuild command, but xcodebuild  still failed to find certificate.

using built-in action `unlock_keychain` works.

[2017-05-24 08:51] #9254 closed

[2017-05-24 09:44] LordNali commented on #9247
Okay, well now there's another issue - I'm not sure if I should create a new issue for that (let me know): My App uses (NS)UserDefaults during the startup process to setup the App. I noticed none of my defaults are saved in between two testcases from one and the same snapshot call.

Between two snapshots executions this is the wanted behaviour and matches my expectation from using the option `rein

[2017-05-24 09:49] punksta commented on #9242
@taquitos we could make it manually, but in our business process we creates apps automatically from register new app_id in developer portal

[2017-05-24 12:02] vbresults commented on #9256
@KrauseFx Yes to all, quite a high and growing number of apps, spread across different accounts, and not far away from hitting the 100 mark (:

[2017-05-24 12:12] GevaZeichner opened #9261 "Two factor authentication fails iTunes Connect login"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I'm trying to use _fastlane_ and _pilot_ for the first time and seems to have trouble to login. The moment I receive the 6 digits code for iTunes, fastlane fails.
I tried to also set the `FAST

[2017-05-24 13:11] shzshi opened #9262 "gym is failing on No profiles for 'sdasdfasdf' were found: Xcode couldn't find a provisioning profile matching 'asdfasfd'. Code signing is required for product type 'Application' in SDK 'iOS 10.3'"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Below is structure of my project

cert(
		username: 'test@gmail.com',
		team_id: "ABCND",
		force: false
	)

#	import_certificates

	# Handles app provisioning
    sigh(
		adhoc: true,
		force:

[2017-05-24 13:50] a13xb commented on #9241
@KrauseFx I'm getting this with `match`, and it does not depend on the region (using VPN).

[2017-05-24 15:20] jaimeagudo commented on #9228
The output is

[code]

in the original Fastfile I submitted I already tried that option, notice the commented line using `SharedValues::GRADLE_APK_OUTPUT_PATH`

thanks again @mfurtak

[2017-05-24 15:30] #9197 closed

[2017-05-24 15:51] leoMehlig commented on #9244
@taquitos I followed all the steps described in that guide closely.
I've also updated (see my other comment)
Since this problem only occurs on travis, I suppose it has something to do with the encoding by travis. But I can't figure out what is wrong and how to fix it.

[2017-05-24 16:36] fmonsalvo commented on #9226
Thanks @taquitos!

[2017-05-24 16:48] KrauseFx commented on #9197
Thanks @ohayon, this will be fixed in the next release 👍

[2017-05-24 16:52] PetrosIchor commented on #9233
1.  The configuration you specify is what gym uses. If you do not provide a value it defaults to Release.

2.  No.  IDs have to be unique for each store page.

Fastlane is largely an automation tool.  Use it to do heavy lifting for you.  You should know your pipeline from development to production. Once you have your expected flow, use fastlanes tools to do the heavy lifting.

[2017-05-24 16:55] PetrosIchor commented on #9262
As the bot suggested, you should read the code signing guide.  From that error, your signing isn't setup correctly.  Ensure you can build from xcode with the same configuration to troubleshoot

[2017-05-24 17:02] paiv commented on #9261
Well, I have two-factor auth configured some time ago, and it was OK until I tried fastlane today and hit this issue.

Yesterday it was fastlane v2.33 and it was OK.

The only thing changed today is macOS update overnight – https://support.apple.com/en-us/HT207706

[2017-05-24 17:30] KrauseFx commented on #9261
Hey everyone, thanks for reporting this - we can reproduce the issue and are working on a fix. This is actually related to the recent change to how auth works https://github.com/fastlane/fastlane/pull/9238 👍 via @taquitos

[2017-05-24 17:31] KrauseFx commented on #9244
Hey everyone, thanks for reporting this - we can reproduce the issue and are working on a fix. This is actually related to the recent change to how auth works https://github.com/fastlane/fastlane/pull/9238 👍 via @taquitos

Let's move the discussion over to https://github.com/fastlane/fastlane/issues/9261

[2017-05-24 17:31] #9244 closed

[2017-05-24 17:31] KrauseFx commented on #9044
Okay cool, is it ok to close this issue?

[2017-05-24 17:32] #7380 closed

[2017-05-24 17:32] reidmain commented on #9252
Yes the error does look to be coming from SwiftLint https://github.com/realm/SwiftLint/blob/eef39595f6d5027df9aa7a3b1a241f2bd44e4a14/Source/SwiftLintFramework/Models/Configuration.swift#L161. This does sound like it could be either a Fastlane or SwiftLint action bug.

The SwiftLint configuration file is at `/Users/reidmain/Development/MyCompany/ios/custom_path/.swiftlint.yml`

I am currently using

[2017-05-24 17:33] KrauseFx commented on #9241
Hey everyone, thanks for reporting this - this might be related to 2 factor auth after the recent change with #9238 👍 We're trying to work on a fix. via @taquitos

[2017-05-24 19:02] #8556 closed

[2017-05-24 19:16] shzshi commented on #9262
Thank you for reply, but i don't want to you match as I do not have git repo at the moment, i m using cert and sigh with that the certificate gets generated and download and also the profile , but i still keep getting the above error message, so not sure where I am going wrong , I have passed Development Team id as well and do I have to pass codesigning_identity through pdxproj ?

[2017-05-24 19:52] #8510 closed

[2017-05-24 19:55] PetrosIchor commented on #9262
I wouldn't be able to say since I don't know your projects structure.  Before you can run gym, the app needs to be setup with the correct signing.

Troubleshooting steps:
- Check the logs to see which value is being rejected.
- Verify that the project builds in xcode manually. If it does, run your fastlane script and compare the diff afterwards.
- Check out the individual tools man pages/docs to l

[2017-05-24 19:59] PetrosIchor commented on #9259
Lots of ways. Depends on your needs and project structure.

Off the top of my head, https://github.com/lyndsey-ferguson/get_product_bundle_id/blob/master/README.md

If that doesn't work, learn from existing plugins/actions and create your own! We all love new contributions!

[2017-05-24 20:57] shiroganee commented on #9044
ya go ahead @KrauseFx  as this is pretty much unknown how and where the problem lied. probably something with Apple

[2017-05-24 21:35] KrauseFx commented on #9044
Actually we worked on this, which should help https://github.com/fastlane/fastlane/pull/9266

[2017-05-24 21:35] #9044 closed

[2017-05-24 22:44] shzshi commented on #9262
the problem even after running with xcodebuild , i am getting same error

Check dependencies
No profiles for 'com.test.xyz.dev' were found:  Xcode couldn't find a provisioning profile matching 'com.test.xyz.dev'.
Code signing is required for product type 'Application' in SDK 'iOS 10.3'

just could not understand how to find the exact error

[2017-05-24 22:45] shzshi commented on #9262
the sigh is pushing the profiles in profiles folder and also root folder, is there a better way to debug exact issue ?

[2017-05-24 23:52] Capyvara commented on #6791
By the way I've submitted the above #9250 PR that at least in my tests solved the problem, you any of you guys have this problem you can help testing.

[2017-05-24 23:53] shzshi commented on #9262
I think it failing because it not picking up CODE_SIGN_IDENTITY , but i have already set this in pbxproj , but then why is it not picking up.

Build settings from command line:
    TOOLCHAINS = swift_3_0

[2017-05-25 03:04] chrishawkinsnz opened #9268 "[Regression] Scan failing on reading junit_report temp file as of v2.34.0"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

When attempting to run Scan it is failing with an error complaining of not being able to find some JUnit log file. We don't use JUnit as part of our project so this was particularly surprising

[2017-05-25 03:43] #8551 closed

[2017-05-25 03:51] lsps9150414 commented on #9233
Got it! Thanks for all the help!

[2017-05-25 03:51] #9233 closed

[2017-05-25 05:21] SimeonC opened #9269 "Sigh: "Error resolving conflict between options: 'development' and 'adhoc'" is misleading"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Currently if you define both `:development` and `:adhoc` you get a message that states; `Error resolving conflict between options: 'development' and 'adhoc'`. There was a previous issue here #

[2017-05-25 07:23] #8566 closed

[2017-05-25 08:32] sfrag opened #9270 "disable_automatic_code_signing problem: Seems to be a very old project file format - please use xcode to upgrade to atlease 0800"
### New Issue Checklist

- [ x ] Updated fastlane to the latest version
- [ x ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I'm using the new action based on plugin to change with a lane the signing from automatic to manual but when i use it, i have an error that i can't understand and there are no information

[2017-05-25 09:47] shzshi commented on #9262
can anyone help please ? is there way i can pass the CODE_SIGN_IDENTITY through gym

[2017-05-25 10:11] micky2be opened #9271 "[Regression?] ipa file not uploaded once I use crashlytics action in fastlane"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Duplicate of #4885 since the thread is private.
Currently using Fastlane 2.32, all upload to Crashlytics/Fabrix is shown as successful but nothing appear on the dashboard.
The upload happens in

[2017-05-25 10:46] micky2be commented on #9271
The weird things is that it was working yesterday. I believe I was using the version 3.32 at the time.
I'm using `match` for my Provision profiles and everything seems fine.
How can you tell it's related to code signing?

[2017-05-25 10:47] micky2be commented on #9271
I have same problem with uploading an Android build btw.

[2017-05-25 10:56] kalle commented on #8371
I agree with @remcohaszing on this one.

My normal account doesn't have admin rights so I use a special account for that, and now fastlane installs into that user's $HOME. To use homebrew you have to fix the permissions on `/usr/local` etc anyway, so I don't get that argument at all.

Can you please make fastlane work like any other homebrew package again? I was on `1.11.2` when I needed to fix a

[2017-05-25 12:33] maszin opened #9272 "[screengrab] Support for many devices"
Hi :)

Are you going to add support for testing of multiple devices in `screengrab`?
As far as I understand, current version of `screengrab` is mostly used for preparing metadata screenshots, but there is huge potential for testing purposes (i.e. to generate acceptance tests for designers).
If nobody is planning to work on it, I could try to implement this feature :)

[2017-05-25 12:52] realf opened #9273 "scan doesn't show test failures in the output files (reopened)"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

**The issue https://github.com/fastlane/fastlane/issues/8026 still can be reproduced, so I am reopening it by creating this one. Please read the discussion in https://github.com/fastlane/fastl

[2017-05-25 13:02] #9114 closed

[2017-05-25 13:36] mfurtak commented on #9272
Hi @maszin - great question! I agree that there is a lot of potential there :+1:

This is not being worked on right now, so if you would like to make it, that would be great! 🚀

Remember that large PRs are always tougher to get approved than small PRs, so if you can think about ways to break the work into smaller pieces that will help. I'd be happy to discuss design and comment on work-in-progress

[2017-05-25 13:43] #8554 closed

[2017-05-25 14:08] keatongreve commented on #9268
Looking into this.

@chrishawkinsnz After each (failed) run, have you verified that there is no file at the temp file path mentioned in the console? e.g. `/var/folders/dp/qgbyxqt10mxbjw6gg2p72vbw0000gn/T/junit_report20170525-86740-19nw7dm` from your output above (it changes each run). I'm pretty sure it's not there, but wanted to be certain.

Also, could you post the initial output of the `scan` a

[2017-05-25 14:11] keatongreve commented on #9268
Also I noticed you are using a fastfile imported from another git repository:
`import_from_git(url: 'https://tmstash/scm/bt/fastlane.git', path: 'fastlane/SharedFastfile')`
If possible, could you print any contents you are able to share? I believe the lane `runUnitTests` must be defined there.

[2017-05-25 14:51] brunotrox opened #9275 "download_dsyms - Could not find app with bundle identifier"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### download_dsyms - Could not find app with bundle identifier.
But it seems that `upload_symbols_to_crashlytics` works even after `download_dsyms` error.

#
       [10:16:53]: --- Step: download_dsyms ---
       [1

[2017-05-25 14:53] PetrosIchor commented on #9262
Please be patient and polite. People give their free time to work on fastlane and offer support.

From the looks of your problems, they are not fastlane related.  That said, your questions about iOS project configuration have been posted here and other places like StackOverflow many times.

I encourage you to do more research on iOS project signing.  Once you can repeatedly build your project manu

[2017-05-25 15:15] keatongreve commented on #9268
Last request! If possible, could you test my fix (#9276). You should be able to install it like so:
[code]

[2017-05-25 15:38] bencollier commented on #9256
This would be useful for us too. We have some people putting apps together with fastlane / Jenkins that never need to touch the dev centre :)

[2017-05-25 16:00] the4thfloor commented on #9243
okay I fixed it. First I added the ssh key to the remote server and second I added the MATCH_PASSWORD env variable.

now it works, you can close this ticket

[2017-05-25 16:09] #9243 closed

[2017-05-25 16:10] arohim commented on #6791
@Capyvara

Nice!!, Can't wait to test it.

Thank you.

[2017-05-25 16:11] trevor-e commented on #9268
Not sure if it's related, but ever since 2.34.0 `scan` won't generate any test reports for us, causing all Jenkins jobs to fail. I had to downgrade to 2.33.0 for now.

[2017-05-25 16:28] patreu22 opened #9278 "Localization for Snapshot screenshots doesn't work"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Hey, I'm trying to create German and English screenshots, but it doesn't work, the launched App is always in English and the screenshots are English, too.

My Snapfile:
[code]

My fastlane vers

[2017-05-25 16:36] keatongreve commented on #9268
@trevor-e could you also provide the initial output of scan, as well as the parameters you use when calling it? See the example in https://github.com/fastlane/fastlane/issues/9268#issuecomment-304019067.

[2017-05-25 16:46] trevor-e commented on #9268
[code]

When the tests finish you can see it doesn't mention creating the test outputs:

[code]

However, on 2.33.0 (which works) it does:

[code]

[2017-05-25 16:49] keatongreve commented on #9268
thank you @trevor-e, that is very helpful! it appears you have spaces in your paths, and i did not account for that. i'll work on a fix.

[2017-05-25 16:50] KrauseFx commented on #9271
Looks like the upload was successful, but it doesn't show up on the dashboard. Make sure the app didn't show up on another Fabric org or app. I'll ping the folks that can provide more context on the Beta side of things 👍

[2017-05-25 17:03] #8523 closed

[2017-05-25 17:11] mfurtak commented on #9271
Hi @micky2be 👋

Can you confirm that `jp.kkvesper.tablesolution` is the app identifier associated with the app on your Fabric account?

If you are using a new bundle identifier for a new variant of your application, it must be built and run in order register itself as a new app in the Fabric back-end. :+1:

[2017-05-25 17:19] mfurtak commented on #9228
If you leave that logging in, but change your `gradle` command to be:

[code]

What do you see?

[2017-05-25 18:31] taquitos commented on #9275
hey @brunotrox it looks like your AppFile is only passing the needed info into your lane `:testflightinternal` and you are calling `:nightly` you could either duplicate that `for_lane` or you could set up some globals for it 👍
Also, we should probably catch this issue in the `download_dsyms` action

[2017-05-25 18:50] brentleyjones opened #9285 "New scan "Couldn't parse the number of tests from the output""
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

When using 2.35.0 scan can't parse a successful test run, when using raw output.

[code]

#7365 seems to have been what broke it. Running on 2.33.0 works.

Unrelated, it crashes right after as

[2017-05-25 19:05] iamchairs opened #9286 "A user name is required because you selected the option under “Sign-In Information.” A password is required because you selected the option under “Sign-In Information.”"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

When running deliver with `submit_for_review` set to true, I get the following error-

[!] The request

[2017-05-25 19:15] the4thfloor opened #9287 "Match still working?"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I have problems to get Match running :-(

I created all needed certs etc with `match appstore`. After that I try to build the app with `gym`.
The log says me that `All required keys, certifica

[2017-05-25 19:32] the4thfloor commented on #9287
Note: The Xcode project is setup to `automatically manage signing` maybe this is wrong?

[2017-05-25 19:51] brunotrox commented on #9275
@taquitos, Thank you so much!

[2017-05-25 19:51] #9275 closed

[2017-05-25 21:23] KrauseFx commented on #9287
Have you followed the code signing linked by the bot?

[2017-05-25 21:31] KrauseFx commented on #1963
Yeah, a plugin would be a great idea for sure 👍

[2017-05-25 21:45] lakamsani opened #9289 "Running non default actions in a lane like deliver.download_metata"
Is it possible to run a non-default action of deliver like download_metadata or download_screenshots in a lane like this:

[code]

[2017-05-25 21:53] KrauseFx commented on #9216
That's awesome, thanks for sharing @PetrosIchor, I didn't know about these plugins 👍

[2017-05-25 22:39] keatongreve commented on #9285
@brentleyjones I just tested my PR with `output_style: raw`, things are looking good. we're hoping to push this fix soon.

[2017-05-25 22:53] #9268 closed

[2017-05-25 23:25] chrishawkinsnz commented on #9268
I see this has been closed but I just wanted to add that I can confirm @keatongreve's fix did indeed fix my issue.  Thanks!

[2017-05-26 01:33] taquitos commented on #9289
@lakamsani unfortunately no. We don't have an action for `download_metadata`, it's just a command. You could build an action that calls the same code, and then call that.

[2017-05-26 01:56] KrauseFx commented on #9289
Alternatively you can add the following to your `Fastfile`
[code]

[2017-05-26 02:30] micky2be commented on #9271
Yes this is the right app identifier for my app.
I'm using the API key and secret to upload, is there anything else I need to do?

You are saying I need to run the app? Can I run it in the emulator or in debug mode?

[2017-05-26 02:34] taquitos commented on #9271
@micky2be  you can run it in the emulator as long as you make that call to Fabric.with 👍

[2017-05-26 02:44] micky2be commented on #9271
Doesn't seem to do anything more. I try sending logs but I still don't see my app in Fabric's dashboard.

[2017-05-26 02:49] yang-guo-2016 commented on #9193
@PetrosIchor I checked full log from fastlane, the first step to make archive is success, the detail of latest 100 lines log as below: (the log is using 'development' method, not the same as issue since I got the same issue no meeter export method)

[code]
I thought the first 'archive' step should export '.xcarchive' file in xcode 8xx not .app, maybe that is the cause for error I guess

[2017-05-26 02:56] micky2be commented on #9271
Could it possible that is due that I delete the app on Fabric's dashboard a couple days ago?

[2017-05-26 03:00] taquitos commented on #9271
Ooops, that might do it... I think that means we start ignoring incoming data for that, which probably includes uploads.

You can try switching your app id and re-launching the app, then looking at your dashboard. If that shows up, that's probably the reason 😢

Support might be able to help with the app that got deleted.

[2017-05-26 03:44] taquitos commented on #1963
👍 would be a cool addition!

[2017-05-26 03:47] taquitos commented on #9241
Hey all, this should be fixed now. Let us know if this is still failing with the most recent _fastlane_ release

[2017-05-26 03:55] taquitos commented on #9269
So basically because you can only have either `development` or `adhoc` == `true`,  we should be able to define both but just ensure that both are not true or both false. That seems super reasonable.

[2017-05-26 04:13] lakamsani commented on #9289
Tried that but fails due to yes/no prompt. Could use a -force option
(enhancement). Ruby isn't my "first" language but will try the action path
using the source code for the command.

On May 25, 2017 6:57 PM, "Felix Krause" <notifications@github.com> wrote:

Alternatively you can add the following to your Fastfile

lane :beta do
  sh "fastlane deliver download_metadata --app_identifier 'yolo'
--me

[2017-05-26 04:14] taquitos commented on #9270
Yeah, this is a confusing message. What it is saying is that the project file appears to be an older project, and it is too old for _fastlane_ to be able to parse. You can open the project in a newer version of Xcode and let it update the project file. I have opened a new PR to fix the wording: https://github.com/fastlane/fastlane/pull/9291

[2017-05-26 08:11] sfrag commented on #9270
@taquitos The thing is that this is a new project, it's created by gulp task with cordova so with your comment, the only thing that i can imagine it's that the problem is due to cordova version??

[2017-05-26 10:04] OmarPedraza commented on #8615
Sorry, but problem is not gone yet. I've just tried to archive a project having plugged in the computer a device not added into provisioning profile and it crashed.

I know this is not a priority issue but it would be great to solve it.

Thanks!

[2017-05-26 10:48] damoncoo commented on #9176
@mfurtak  I got the same issue sometimes when I run fastlane on jenkins.
The outout of Jenkins is as belows:

[code]

![image](https://cloud.githubusercontent.com/assets/869950/26415847/baa85d76-4068-11e7-8251-5b0f3ded58b3.png)

[32mTo see all new releases, open https://github.com/fastlane/fastlane/releases[0m

[32mPlease update using `fastlane update_fastlane`[0m
fastlane could not check for

[2017-05-26 10:49] shzshi commented on #9262
I am sorry , I did not mean to sound rude, I am just in hurry to fix the problem.  But thank for your help and time, i really appreciate that. I have solved my problem anyway :)

[2017-05-26 11:08] rocboronat opened #9292 "Avoid uploading screenshots.html when running fastlane supply"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

After doing lots of screenshots on lots of terminals with lots of locales, we tried to deploy the screenshots using `fastlane supply`. After 15 minutes uploading things, it crashes cos it does

[2017-05-26 12:58] ffittschen commented on #6968
I also ran into this issue with Xcode 8.3.2 using Cocoapods and the latest fastlane. Following [these notes](https://github.com/onmyway133/TestTarget#3-runpath-search-paths) helped solving the issue! All I had to do is add `$(FRAMEWORK_SEARCH_PATHS)` to the `LD_RUNPATH_SEARCH_PATHS` of the test targets

[2017-05-26 13:10] lyndsey-ferguson opened #9293 "Scan's custom_report_file_name outputs html instead of xml"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Previously, `scan` would output the xml output of the report.junit to the given `custom_report_file_name`. Now it only outputs the html output to that file if the default `output_types` is use

[2017-05-26 13:49] brentleyjones commented on #9285
@keatongreve 2.35.1 fixes our issue as well, thanks!

[2017-05-26 13:49] #9285 closed

[2017-05-26 14:36] mikerunnals opened #9294 "[resign] Enable Nested App bundle_id Update"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Update the Resign Action to accept a Hash of nested app names (APP_PATH basename) to new bundle ids to allow updating all of the bundle ids within an app. This would work similarly to the curr

[2017-05-26 14:59] estebansolis commented on #9237
Sorry guys. What is the update command when you installed fastlane through homebrew?

[2017-05-26 15:05] vanniktech commented on #8901
This might have been a corner case. Since then I've taken a lot of screenshots and this never occurred. I'll close it as I can't reliably reproduce it anymore.

[2017-05-26 15:05] #8901 closed

[2017-05-26 15:24] joshdholtz commented on #9292
@rocboronat Thanks for the report! Do you have a bigger stacktrace that you can provide so I can trace down where in the fastlane code base this is happening from? 😊

[2017-05-26 15:39] kdenney commented on #9292
@joshdholtz This is happening to me, too. Here's the full stack trace from my error (attached). Please let me know if anything would be helpful!

[fastlaneStackTrace.txt](https://github.com/fastlane/fastlane/files/1032328/fastlaneStackTrace.txt)

[2017-05-26 15:41] joshdholtz commented on #9292
@kdenney Perf 👌 I'm out of town today but I will take a look at this for you all when I get back home tonight ✊

[2017-05-26 15:44] mfurtak commented on #9292
This is related to: https://github.com/fastlane/fastlane/pull/9213

[2017-05-26 15:47] KelvinEC commented on #9237
fastalane update_fastlane

[2017-05-26 16:06] KrauseFx commented on #9293
Hey @lyndsey-ferguson, would you mind submitting a PR for this change? 👍

[2017-05-26 17:51] patreu22 commented on #9278
I'm so sorry, little fastlane-bot.

[2017-05-26 17:54] joshdholtz commented on #9292
@mfurtak Ah, thanks! Is that where the bug was introduced?

[2017-05-26 18:21] mfurtak commented on #9292
The HTML report was introduced for the first time in that PR, so I think it's just an oversight of where it is being placed... and how that winds up interacting with _supply_

[2017-05-26 18:52] maszin commented on #9272
Great 😄

Sure. I'll split it into few features and send you their scenarios.

[2017-05-26 19:06] suculent commented on #8645
Dear @fastlane-bot, you can close this issue already as many things have been fixed in the past. And this ticket was just for your information, anyway. Maybe I haven't tagged it properly.

Give my bests to @KrauseFx  for keeping up the good work.

[2017-05-26 19:06] #8645 closed

[2017-05-26 19:31] taquitos commented on #9270
Ohh, interesting, yeah, maybe they don't generate the needed attribute `TargetAttributes`
Try opening the project in Xcode and saving, then try _fastlane_ again.

[2017-05-26 20:10] KrauseFx commented on #8645
❤️

[2017-05-26 20:17] KrauseFx commented on #9289
Try
[code]

[2017-05-26 20:19] KrauseFx commented on #9285
Great to hear, thanks 👍

[2017-05-26 20:57] lakamsani commented on #9289
that worked. thanks.

[2017-05-26 20:57] #9289 closed

[2017-05-26 21:32] taquitos commented on #9176
@damoncoo please update to the newest _fastlane_ release on that machine. We updated recently to fix the issue of not being able to connect to `clouderrorreporting.googleapis.com` That should fix your problem 👍

[2017-05-26 21:37] taquitos commented on #9269
This isn't super easy for us to change, but I was chatting with @KrauseFx and he mentioned you could use some Ruby magic to use a hash and then converting this from hash to parameter using `shift` and that will accomplish the same thing 👍

[2017-05-26 21:48] gblejman commented on #8792
Same here, i had no previous apps, using same log in credentials both in Dev Portal and ITunes
After fastlane init, the app would have been created in Dev Portal but not in ITunes

What i ended up doing was:

- run fastlane init
- manually create missing app on ITunes linking to Dev Center’s bundle id
- delete fastlane folder
- run fastlane init again so it picks metadata about both

[2017-05-26 21:56] taquitos commented on #8615
Hey @OmarPedraza, this might have to do with the options we pass `xcodebuild`. Since you don't specify a `destination` `xcodebuild` is making some assumptions about what destination it thinks you want. It seems like you can pass this option `destination: "generic/platform=iOS"` like:
[code]
to force `xcodebuild` to build your generic iOS platform.

[2017-05-26 22:12] LordNali commented on #9247
Any ideas regarding the UserDefaults behaviour?

[2017-05-26 22:46] taquitos commented on #8615
@OmarPedraza, can you paste your full output when you run _fastlane_? Upon further digging, we actually should be appending `generic/platform=iOS` automatically for you. Once we get your output, we can better see what is going on here.

[2017-05-26 23:01] #9278 closed

[2017-05-27 04:12] truebit opened #9298 "match invoke in Fastfile used arguments in Matchfile instead of match method arguments"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I have a Matchfile configured for development usage, such like
[code]
Then in Fastfile I created a lane for enterprise cert such like `match(type: "enterprise", app_identifier: "com.foobar.ent

[2017-05-27 09:16] kevinrenskers commented on #8674
This is not solved.

[2017-05-27 09:38] Minhlearnsimply commented on #7768
I've retried so many times to submit my app but still got the same error :
 [!] <html>
<head><title>502 Bad Gateway</title></head>
<body bgcolor="white">
<center><h1>502 Bad Gateway</h1></center>
<hr><center>nginx</center>
</body>
</html>

I updated the latest version. Any update for this issue ?

[2017-05-28 11:22] #8586 closed

[2017-05-28 12:21] patreu22 opened #9300 "What happened to PR from issue #6884 (title_below_image option for Frameit)"
Hey guys,
I was looking for a solution to put the title under the screenshot as it is usual for many Screenshot Designs.
I even found that pull request: https://github.com/fastlane/fastlane/pull/6884/

Any idea what happened to that one? Is anybody on a feature like that or implemented it on another way? It would be really nice to use that feature, but I'm a total Ruby noob, so maybe somebody has

[2017-05-28 15:10] jjochen opened #9301 "'invalid byte sequence in UTF-8' after update_info_plist, update_url_schemes"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

running the actions

[code]

changes normal xml plist to bplist and causes the consequence action that related to reading plist file to throw an "invalid byte sequence in UTF-8" error.

#####

[2017-05-28 15:18] jjochen commented on #9301
Seems to be related to https://github.com/fastlane/fastlane/issues/6810

[2017-05-28 21:24] RudolfVonKrugstein commented on #9237
Which version is the one which makes it start working? fastlane 2.35.1 does no work here ...

[2017-05-28 23:44] ZevEisenberg opened #9304 "Problem uploading screenshots with Deliver"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I'm running `fastlane deliver --skip_binary_upload --skip_metadata` to upload some screenshots. I already uploaded the binary, but the screenshot upload failed in the same way as documented in

[2017-05-29 06:22] #8587 closed

[2017-05-29 06:48] tringManoj opened #9305 "Automate to check if New Certificates Were Created"
So far, I have been manually running Lane that fetches certificates.
But is there way to check if new certificates were created ?

### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the st

[2017-05-29 08:46] lacostej opened #9306 "deliver download_metadata requires to force overwrite even if folder didn't exist"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

[code]

This is caused by
[code]

[2017-05-29 08:52] lacostej commented on #6875
Addressed by #9307

[2017-05-29 09:15] BrunoMiguens commented on #9237
This issue still happening at version 2.35.1.

[2017-05-29 12:32] #8143 closed

[2017-05-29 12:42] tsafrir commented on #9304
I got a similar issue.
with skip binary but with metadata.
deliver failed with this message:
`You must add at least one screenshot. You must add at least one screenshot. [en-US]: You must add at least one screenshot. [en-US]: You must add at least one screenshot. There are one or more errors on the page.`

[2017-05-29 12:48] the4thfloor commented on #9287
Okay with the help of one of my colleagues I got it :-)
you can close this ticket

[2017-05-29 12:53] #9287 closed

[2017-05-29 12:53] hjanuschka commented on #9287
@the4thfloor can you provide the working solution?

[2017-05-29 12:57] devdavidkarlsson opened #9309 "fastlane failing to remove report.xml after build task completes"
### New Issue Checklist

- [ x] Updated fastlane to the latest version
- [ x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Suddenly failing to run fastlane from build server, haven't been able to isolate the cause.
I am only running a very simple task, verifying a files content. This has worked before....

**The

[2017-05-29 14:12] the4thfloor commented on #9287
I quess it is not a general solution :-(
- we have deleted all certs and profiles in Apples developer portal
- deleted all certs in the keychain
- created new ones with Match
- finally added the environment variables instead of hard coded profile names, see [Make Sure Everyone Will Use the Same Provisioning Profile](http://macoscope.com/blog/simplify-your-life-with-fastlane-match/)

[2017-05-29 14:25] hjanuschka commented on #9309
@devdavidkarlsson according to the stacktrace you are having permission errors.
check that the `fastlane/report.xml` is owned by the same user that tries to remove it.

[2017-05-29 14:33] romk1n opened #9311 "[match] use default keychain?"
### New Issue Checklist

- [ x ] Updated fastlane to the latest version
- [ x ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Is that possible for match to use default keychain rather then Login one? i.e. if i have created a keychain and set it to be default to use that on rather then specifying exactly ?

Use ca

[2017-05-29 14:58] devdavidkarlsson commented on #9309
The file is created by fastlane I think, it is not checked into the repo. If the fastlane task can create it I would assume that it can remove it if it wants to...

[2017-05-29 17:37] shwetdream11 commented on #9311
@romk1n you should check this out - https://medium.com/@shwetsolanki/ios-fastlane-travisci-92a051dd07bf

I am sure it will solve your concern

[2017-05-29 17:37] shwetsolanki commented on #9311
@romk1n you should check this out - https://medium.com/@shwetsolanki/ios-fastlane-travisci-92a051dd07bf

I am sure it will solve your concern

[2017-05-29 18:44] KrauseFx commented on #9237
@BrunoMiguens We just tried it with the most recent fastlane version, and things are working as expected. Please submit a new issue on GitHub with more information on how to reproduce it 👍

[2017-05-29 19:34] romk1n commented on #9311
my question is really about not passing the arguments to `gym` for default keychain, in the example on the article the keychain name and password is used. however i want the same configuration work on any machine not just travis.

[2017-05-29 20:50] maszin commented on #9272
Hi 🚀

Prepared some features. @mfurtak could you review them?
Not sure, if I went too far with this feature 🤔

[code]

[2017-05-29 23:17] KrauseFx commented on #8660
I'll close this issue for now, let me know if you need further assistance

[2017-05-29 23:17] #8660 closed

[2017-05-29 23:39] #9301 closed

[2017-05-30 02:05] chappejw commented on #8997
I'm also having a huge problem with Fastlane gym. It does not create an ipa file no matter which ever way I have configured Fastfile, Gymfile, or any file at all. I have tried hundreds of times, whether Debug, Release, AdHoc. All valid Distribution Certificates are installed, a provisioning profile generated with a valid certificate is installed my machine. Tried cert && sigh. Tried without cert &

[2017-05-30 05:29] shwetsolanki commented on #9311
@romk1n it will work on any machine, you just need to keep Keychain name and password part of the environment file.
https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Advanced.md#environment-variables

[2017-05-30 05:32] #8598 closed

[2017-05-30 06:40] rahulssoni commented on #8818
Hello, Match command fails to push the certificates on Repo, As repo requires JIRA ID in commit message but Match using default commit message. Whats the solution for this @hjanuschka

[2017-05-30 07:14] hjanuschka commented on #8818
@rahulssoni the commit message is fixed inside the source code: https://github.com/fastlane/fastlane/blob/master/match/lib/match/git_helper.rb#L68

i guess the best solution would be to disable the jira-id requirement on the certificate repo (if that is possible; not a jira user :/).

[2017-05-30 07:24] rahulssoni commented on #8818
hjanuschka - Thanks for your quick reply.

[2017-05-30 08:27] RustyKnight opened #9312 "Fastlane/Match and multiple teams documentation"
I'm looking for documentation on how to setup and manage multiple teams using Match.

I understand I'm suppose to use different branches, but I've not seen any documentation/walkthroughs on how one might actually go about getting it setup.

I currently have a repo setup for a single team and would like to change it to support multiple teams if possible - otherwise simple starting over

[2017-05-30 10:14] rocboronat commented on #9292
Well, actually, Supply could just ignore files not related with the Google's API :·)

[2017-05-30 11:11] jennytick opened #9314 "Gym dSYM.zip contains only main app's dSYM"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
I am using gym to create ipa and dSYM.zip to submit them to hockeyapp. Resulting dSYM file (I checked its contents as advised here https://github.com/fastlane-old/gym/issues/232) contains only

[2017-05-30 11:58] jennytick commented on #9314
Added fastlane env output

[2017-05-30 12:20] Skymax1986 commented on #8332
yeah, we do have the same problem - upload fails with Developer role :(

would be great if there's a possible fix..

[2017-05-30 12:23] #7898 closed

[2017-05-30 12:33] eddnav opened #9315 "Gym project path not working?"
🔑
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
I'm trying to create a setup for Fastlane on a React Native project, as such I would like to have my `fastfile` out of the native project folders, but setting up the path to the project is no

[2017-05-30 12:51] Edwhis commented on #8726
Updated screengrab to the newest version - still the same.

[2017-05-30 13:06] kd8ssq commented on #9292
I'm also experiencing the same issue.  I can confirm that manually deleting the screehshot.html file and running supply works as it should.  I believe either relocating the location of the screenshot file or excluding it from supply trying to upload would be valid fixes.

[2017-05-30 13:33] romk1n commented on #9311
sorry i think i made myself not quit clear, i have to specify the keychain in `match` command the `gym` will work with the default one. i don't see how environment variables will help me, cause i won't be able to know keychain name or password for all the developers.

So it would be good if i have run something like this:

[code]
only on the build machine i won't need to do

[code]

but just do
[c

[2017-05-30 14:04] #9292 closed

[2017-05-30 14:05] joshdholtz commented on #9292
@kd8ssq @rocboronat This fixed was just merged into master in #9297 and should be included in next fastlane release 💪

[2017-05-30 14:07] arjpaiva opened #9316 "Could not find fastlane in current directory - when folder is not called fastlane"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
I have multiple projects so I need to name the folders based on the project name but
when I try to run a lane from the Fastfile inside a project folder that is not called "fastlane" I  get the

[2017-05-30 14:09] lferro9000 opened #9317 "Matchfile not being read"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

When running:

[code]
The content of file 'Matchfile', which is present on the same folder as 'Fastfile' isn't read and present on the match () blocks.

This was working as of last week. Tryin

[2017-05-30 14:10] #9209 closed

[2017-05-30 14:17] KrauseFx commented on #8580
Whops, sorry for not coming back earlier. That seems like something that should be fixed 👍

[2017-05-30 14:47] KrauseFx commented on #8580
I don't know if there is a way to pass wildcards, but something that's potentially a useful change. I'll leave this issue open for now.

[2017-05-30 14:49] lferro9000 commented on #9317
After some tests (of passing the values from Matchfile into Fastfile - which should not be needed), i got match to pass. Now gym is complaining about missing project file.

When i tried to add workspace: "value", i've found the some strange thing:
[code]
It looks like fastlane now is converting the symlink of fastlane into it's target (which may be a reason for some issues finding the project, but

[2017-05-30 14:57] mfurtak commented on #9316
Hi @arjpaiva 👋

You should be able to have project directories named whatever you would like. The important part is that each project directory has a folder named `fastlane` that contains the _fastlane_ configuration files in it (e.g. `Fastfile`)

See: https://docs.fastlane.tools/getting-started/ios/setup/#setting-up-fastlane

[2017-05-30 15:05] tirrorex opened #9318 "Fail to commit_version_bump after pod install"
### New Issue Checklist

I use the latest version

### Issue Description

I would like to know what is fastlane doing, i did a pod install before i ran fastlane precisely to avoid this.
And even so, if fastlane does a pod install and modify files why is it not expecting changes?
This doesn't make sense to me.

[!] Found unexpected uncommitted changes in the working directory. Expected these files

[2017-05-30 15:05] rocboronat commented on #9292
Thanks @joshdholtz ! An issue with a low priority like this, fixed in four days. Congrats! And thanks for your work :·)

[2017-05-30 15:09] KrauseFx commented on #9317
It would help to see the directory tree, or a screenshot of how your folders are set up. This doesn't look like it's a _fastlane_ bug

[2017-05-30 15:27] taquitos commented on #9314
Hey @jennytick, recently I ran into something similar in my own project. It seems like depending on the _configuration_ and/or _export_method_ various dsyms won't be created (sometimes all framework dsyms aren't even created). If I remember correctly, using xcarchive usually exports in `Release` which includes all the dsyms + bcsymbols, which might be why you're seeing this difference in behavior.

[2017-05-30 16:17] RobertoArtiles commented on #9228
I have the same issue after updating android gradle plugin to `com.android.tools.build:gradle:3.0.0-alpha2`. It worked fine with pre-3.0.0 gradle plugin. Right now `SharedValues::GRADLE_APK_OUTPUT_PATH` returns this:
[code]

[2017-05-30 16:24] RobertoArtiles commented on #9228
I also tried changing gradle call to `gradle(task: "clean assembleBeta")` with the same result.

[2017-05-30 16:31] lferro9000 commented on #9317
Hi :)

The problem is that i was trying to add all the profiles inside the fastlane_env. The whole setup works IF the symlinked folders are on the same level as fastlane folder.

Basically, somewhere along the execution, the path is resolved to the absolute path of the fastlane folder (be it a true folder or a symlink).

By using the fastlane_env with the schema1 folder (in case of that target), t

[2017-05-30 16:41] joshdholtz commented on #9318
@tirrorex Can you please include the output from `fastlane env` so I can see your environment and what your `Fastfile` looks like? It is easier to address your issue knowing all of this information.
Thanks!

[2017-05-30 16:46] mfurtak commented on #9228
Oh, interesting. @jaimeagudo, are you also on the 3.0.0-alpha?

[2017-05-30 16:51] RobertoArtiles commented on #9228
@mfurtak Interesting. `print Actions.lane_context[SharedValues::GRADLE_APK_OUTPUT_PATH]` prints out the correct path. Gonna try it out with crashlytics now.

[2017-05-30 16:52] joshdholtz commented on #9312
@RustyKnight You can do this by making use of `dotenv` - https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Advanced.md#environment-variables

You can put multiple `.env` files in the same directory as your `Fastfile`. Example:

## Fastlane/.env.team1
[code]

## Fastlane/.env.team2
[code]

## Running
Whatever is passed in to the `--env` argument will load the corresponding `.env.<envar

[2017-05-30 16:54] RobertoArtiles commented on #9228
`Actions.lane_context[SharedValues::GRADLE_APK_OUTPUT_PATH]` gives the same result.

[2017-05-30 17:08] joshdholtz commented on #9300
@patreu22 It needed some updates and tests from the original author but never received them (https://github.com/fastlane/fastlane/pull/6884#issuecomment-274878117) I can take a look at to possibly reviving this for you as it seemed like this PR was going to be merged 👌

[2017-05-30 17:11] patreu22 commented on #9300
That's great, @joshdholtz , thank you very much! :) I'm sure a lot of people will benefit from this feature.

[2017-05-30 18:19] RobertoArtiles commented on #9228
A temporary workaround for this issue would be hardcoding apk_path like this:
[code]

[2017-05-30 18:51] KrauseFx commented on #8679
I'll close this issue for now, feel free to re-open 👍

[2017-05-30 18:51] #8679 closed

[2017-05-30 22:46] taquitos commented on #9318
@tirrorex when you do a pod install it often updates a number of files in your workspace, especially `xcconfig`  files. This happens most often when you update your version of `cocoapods`

For background:
_fastlane_ explicitly called out it was only expecting
[code]
because when you call `commit_version_bump` it has to change the version number in all those files for the version to be fully "bumpe

[2017-05-30 22:52] taquitos commented on #8332
Thanks all, is this still a problem in _fastlane_ 2.35.1?

[2017-05-30 23:28] emcniece commented on #9241
@taquitos first time user, hitting this issue running `fastlane init` for the first time. I'm in Canada.

Output of `fastlane init`:

[code]

Output of `fastlane env`:

[code]

[2017-05-30 23:58] taquitos commented on #9241
@emcniece this actually looks like a different issue (but seemingly similar issue) could you open a new issue with this attached information?

Also, could you let us know what happens when you login to iTunes Connect with the user from `username` in your browser and switch teams? It seems like _spaceship_ is running into problems selecting what team to use.

[2017-05-31 00:08] emcniece opened #9321 "Fastlane init: Unauthorized Access"
Branched from https://github.com/fastlane/fastlane/issues/9241

Hitting this issue running `fastlane init` for the first time. I'm in Canada.

Output of `fastlane init`:

[code]

Output of `fastlane env`:

[code]

Dump of `~/.fastlane/latest_crash.json`: (wish it showed the API endpoint in here)

[code]

Next step: testing iTunes Connect login and changing teams.

@taquitos when I visit https://it

[2017-05-31 00:12] taquitos commented on #9321
Ohh, interesting, that would suggest that the account you're using doesn't actually belong to a team yet.

Maybe try opening up https://itunesconnect.apple.com in an incognito tab. You might have a cookie set where you're using a different account.

If you're sure you're logging in with the correct account, it would indicate a permission/access control issue.

[2017-05-31 00:39] nechmads commented on #9241
This was fixed for me. I now can enter the 6 digit number and fast lane connects to iTunes Connect

[2017-05-31 00:42] nechmads commented on #9241
Thanks for the fix!! :) 👍

[2017-05-31 02:27] emcniece commented on #9321
[code]

It was a permissions issue! Granting team member access to developer.apple.com does not seem to carry over to itunesconnect.apple.com. After the team agent added my user to iTunes Connect, `fastlane init` worked as expected.

[2017-05-31 02:27] #9321 closed

[2017-05-31 02:40] amirhoein8888gma opened #9324 "huawei"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

[INSERT OUTPUT HERE]

### Environment

Please run `fastlane env` and copy the output below. This will h

[2017-05-31 03:25] truebit opened #9325 "[Question] match still create new cert for the same account with different app id"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
I have an app and used match, it created related certs repo for me, two apple dev accounts used:  one for  development and appstore, and one for enterprise.
I got another app that uses the same

[2017-05-31 03:30] truebit commented on #9325
My current workaround is to copy the corresponding certs from one branch to another branch, then using match to auto generate profiles.

How match decide to create a new cert or not?

[2017-05-31 04:20] #9324 closed

[2017-05-31 05:49] yogesh-nykaa commented on #8112
I have also faced this issue on `2.35.1` version. But after using command `sudo fastlane` it's working fine.

[2017-05-31 07:50] lferro9000 commented on #9317
So basically it is just a case of the whole set of applications that fastlane is / uses that converts the symlink to it's true folder somewhere along the way.

[2017-05-31 07:50] #9317 closed

[2017-05-31 07:58] arjpaiva commented on #9316
Thanks @mfurtak
Any reason why running fastlane directly on the command line doesn't require the folder to be called fastlane while using Fastfile does?

Thank you.

[2017-05-31 08:01] tirrorex commented on #9318
@taquitos you totally missed the point mate sorry, i already know everything you said.
By the way, i would not run a pod update just before building a release, especially in my case when we are still not in swift 3 and are de facto using old versions of the pods ;)

What i want to know is why after running pod install myself (said it in my issue that i ran pod install just before launching fastlan

[2017-05-31 09:10] devdavidkarlsson commented on #9309
This is probably an error from my build server rather than from fastlane itself.

https://github.com/concourse/concourse/issues/1231

[2017-05-31 09:10] #9309 closed

[2017-05-31 09:15] jennytick commented on #9314
@taquitos Thanks a lot! My issue solved 😊

[2017-05-31 10:57] aln787 commented on #7768
I am receiving an error that I think is the same issue.  _(Pilot successfully uploads for internal testers but fails to wait to distribute to external testers using fastlane 2.33.0.)_

Error:
[code]

When I run:
[code]

[2017-05-31 11:07] eurobob opened #9326 "ERROR ITMS-90161: Invalid Provisioning Profile"
### New Issue Checklist

- [✅] Updated fastlane to the latest version
- [✅] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I've nuked development and distribution several times, removed all certificates from keychain access. Tried all sorts of combinations of generating the certificates and always get this error w

[2017-05-31 11:13] #8623 closed

[2017-05-31 11:24] OmarPedraza commented on #8615
Hi @taquitos,
After taking a deeper look to the output I see that the destination is already fixed to  `generic/platform=iOS`. Nevertheless, I put it explicitly in the Fastfile obtaining the same output.

There you have the full output, but if you need something else, please do not hesitate to request it. Thank you so much @taquitos!

<details><summary>Full fastlane output</summary>

[code]
</deta

[2017-05-31 11:46] rckoenes opened #9327 "Default relase note not used."
### New Issue Checklist

- [*] Updated fastlane to the latest version
- [*] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
I've set a default release note in my deliverfile, but I'm always getting the following error:
`[en-US]: You must detail what's new in this version in English (U.S.).`

I have tried but solutio

[2017-05-31 12:24] rckoenes commented on #9327
With more languages configured it will give the error for every language not specific configured.
`
[it]: You must detail what's new in this version in Italian.
[de-DE]: You must detail what's new in this version in German.
[en-US]: You must detail what's new in this version in English (U.S.).
 [es-ES]: You must detail what's new in this version in Spanish (Spain).
[fr-FR]: You must detail what's

[2017-05-31 12:40] joshdholtz commented on #9318
@tirrorex The _only_ thing I can think of without seeing any of your information is that you are _possibly_ using a different version of CocoaPods when running your fastlane setup and `pod install`. I would make sure to prefix both of those commands with `bundle exec` so the same CocoaPods version is being used.

What does the diff in your `Podfile.lock` look like? Does it show its using a differe

[2017-05-31 13:04] harryblam opened #9328 "Deliver wrongly uploading binary to Testflight."
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

When uploading our app to iTunesConnect via deliver, it automatically pushes the same build to TestFlight internal testing. Is there any way to upload to App Store, but not to TestFlight using

[2017-05-31 13:18] tirrorex commented on #9318
Nope, i downloaded the zip for fastlane because from it failed to install with homebrew.
So the zip comes with his own version of cocoapods that is updated independently of the system?
Running pod install prefixed with `bundle exec` will fix this?
If so i can close the issue and thank you for your time :)
I finally get it

[2017-05-31 13:24] joshdholtz commented on #9318
@tirrorex I'm fairly certain that the packaged version of `fastlane` (homebrew or zip) comes with its own version of `cocoapods`. And knowing this know, using `bundle exec` _might_ not fix your issue. One thing you can try to do though is run `fastlane run cocoapods` instead of running `pod install`. This will run `pod install` from **within** the bundled version of `fastlane`.

**Note:** This the

[2017-05-31 13:36] mfurtak commented on #9316
I think this is a result of history from fastlane's early development. @KrauseFx could probably say more :+1:

I'll close this issue for now!

[2017-05-31 13:36] #9316 closed

[2017-05-31 13:39] tirrorex commented on #9318
thanks, i'm gonna make a script for it.
would love to install fastlane through rubygems but it can fails in so many ways :/
Anyway, closing the issue

[2017-05-31 13:39] #9318 closed

[2017-05-31 13:42] joshdholtz commented on #9318
@tirrorex Also so many ways it can succeed 😉  But have fun continuing to fastlane 💪 🚀

[2017-05-31 13:51] tirrorex commented on #9318
I wouldn't calling fun ahah, almost throw my laptop away yesterday :D

[2017-05-31 14:25] taquitos commented on #9321
Yey! Thank you for following up, this is really great information for us to remember next time somebody else has a problem 👍

[2017-05-31 14:32] #9314 closed

[2017-05-31 14:33] ildar-gilfanov-e-legion commented on #8332
@taquitos Yes. I am using 2.35.1 and I have the same issue. I am calling
    deliver(ipa: "./build/app.ipa",
            username: appstore_apple_id,
            team_name: appstore_team_name,
            skip_screenshots: true,
            skip_metadata: true,
            app_version: "",
            submit_for_review: false)

[2017-05-31 14:39] ohayon commented on #9328
Hey @harryblam, thanks for raising the issue. When builds are uploaded to iTunesConnect via _deliver_ or Xcode, they are automatically available for internal testing in TestFlight (after they finish processing). This is the intended behavior of iTunesConnect and therefor _deliver_. The builds will not however be available for external testing until you add external groups to the builds via iTC on

[2017-05-31 14:39] #9328 closed

[2017-05-31 15:00] ildar-gilfanov-e-legion commented on #8332
There is stack trace:

[code]

[2017-05-31 15:02] joshdholtz commented on #9327
@rckoenes Can you paste what your `Deliverfile` looks like? Your `Fastfile` and `Appfile` got copied over okay in the fastlane env output but it doesn't look like your `Deliverfile` did. Just want to make sure I know exactly how you are doing things so I can look into and try to replicate on my end 😇

[2017-05-31 15:09] joshdholtz commented on #9326
@eurobob The `export_method` for `TestFlight` needs to be `app_store` (aka, with a valid distribution profile for app store). You are uploading the IPA to iTunesConnect so gets signed the same way as you do when you do an app store submission.

The `development` export method can be used when doing a HockeyApp or Crashalytics push but not a TestFlight push.

Lemme know if that solves your issue 😊

[2017-05-31 15:12] joshdholtz commented on #9315
@eddnav By just quickly looking at it, it looks like you are setting `project` and `workspace` on the `hockey` actions instead of the `gym` action. These are not valid arguments on `hockey` (you can see if you try running `fastlane action hockey`).

If you try moving `project` **OR** `workspace` to `gym` (you should only need one), it _should_ work for you. Lemme know 🚀

[2017-05-31 15:12] tirrorex commented on #9318
For sure eheh, thanks !

[2017-05-31 15:15] joshdholtz commented on #9325
@truebit Multiple apps should get stored in the same branch. Multiple teams should get stored in different branches. This should solve your issue 😊

See here - https://github.com/fastlane/fastlane/tree/master/match#important-use-one-git-branch-per-team

[2017-05-31 16:09] ohayon commented on #8615
Hey @OmarPedraza, is it possible that the wrong `export_method` is being passed into the command? Could you confirm what export method is being set when you call this lane? Thanks!

[2017-05-31 16:19] ohayon commented on #9241
Hi everyone! I am going to close this issue for now as it seems like the fix works. Let us know if you are running into any more issues!! 🚀

[2017-05-31 16:19] #9241 closed

[2017-05-31 16:24] harryblam commented on #9328
Thanks for the quick reply @ohayon !

Ah right, that kind of sucks! We have one app where we want to distribute internally at the same time as distributing to App Store, however each built with a different configuration.

The alternative I guess would be to have two different bundle ids for the apps but I felt that we shouldn't need that. Can you suggest any other way we can achieve this?

[2017-05-31 16:52] joshdholtz commented on #9306
@lacostej So are you looking for a `force` flag of some sort on `download_metadata` then? 😇

[2017-05-31 17:27] eddnav commented on #9315
@joshdholtz I see, that's quite stupid on my part, I tried tit and it was effectively that. Will be closing this, thanks for the help.

[2017-05-31 17:27] #9315 closed

[2017-05-31 17:30] ohayon commented on #9304
Hey @ZevEisenberg, thanks for raising this issue! According to some of our internal tools, it looks like this was caused by an issue on iTC servers. Are you still seeing this issue? Or have you been able to be successful with this flow since? cc @tsafrir Thanks! 🚀

[2017-05-31 17:42] joshdholtz commented on #9315
@eddnav Not a problem! Happy fastlaning 💪 🚀

[2017-05-31 17:43] joshdholtz commented on #9305
@tringManoj I don't think we have an action to check if there are new certs right now. Curious what would be the benefit of checking over fetching? 😇

[2017-05-31 18:05] ohayon commented on #8615
On second thought, you will need to make sure that the provisioning profile created by _sigh_ is selected in the necessary drop downs in your build settings in Xcode. Checkout our [code signing docs](https://docs.fastlane.tools/codesigning/xcode-project/) for more information!

I am going to close this issue for now, but please let us know if you have more questions! 🚀 🔑

[2017-05-31 18:05] #8615 closed

[2017-05-31 18:13] yamkay commented on #9060
I am also facing this issue.

[2017-05-31 18:48] rckoenes commented on #9327
No problem
`
###################### More Options ######################
# If you want to have even more control, check out the documentation
# https://github.com/fastlane/fastlane/blob/master/deliver/Deliverfile.md

app_review_information(
  first_name: "Remmelt",
  last_name: "Koenes",
  phone_number: "_snip_",
  email_address: "_snip_",
  demo_user: "_snip_",
  demo_password: "_snip_",
  notes:

[2017-05-31 19:07] joshdholtz commented on #9327
@rckoenes Thank you! Have you tried setting each language individually and **not** using `default`? That's not the "proper" solution but curious if that works/worked for you 🤔  Just trying to track down if its an API issue or if its an issue with how `default` has been implemented.

Once I know that I should be able to more easily track down this bug 👌

[2017-05-31 19:30] rckoenes commented on #9327
I've not tried that, since this script is run for multiple targets via .env files. And all languages are set for each target.

[2017-05-31 19:32] #8621 closed

[2017-05-31 19:36] joshdholtz commented on #9327
@rckoenes Not a problem! Just curious if that solution would have worked for you. I will add this to my list of things to look into this week 💪

[2017-05-31 20:16] joshdholtz commented on #9312
@RustyKnight  I _may_ have misunderstood your issue 😇

Have you looked at this? https://github.com/fastlane/fastlane/tree/master/match#important-use-one-git-branch-per-team

You can just use pass your current branch name for your first time and pass a new branch in for you second team - `match` should create that new branch for you in your git repo. Let me know if you have any other issues/questio

[2017-05-31 20:16] #9312 closed

[2017-05-31 20:17] joshdholtz commented on #9306
@ohayon Thanks for the reference 😉

[2017-05-31 20:32] #8625 closed

[2017-05-31 21:47] stefanhp commented on #9190
Hi,

I created new groups and removed the default 'External Testers' group.
I tried dropping the [] but it did not work better.
I'll try using the ```groups:``` argument next. I'll let you know how that goes.

Thanks for the answer!

Stefan

[2017-05-31 22:07] RustyKnight commented on #9312
I "think" I've got it work, still testing

[2017-06-01 02:23] truebit commented on #9325
@joshdholtz but the provision profiles are different due to the different app id, how to resolve that?

[2017-06-01 02:32] joshdholtz commented on #9312
@RustyKnight Awesome! Have fun fastlaning 💪 🚀

[2017-06-01 02:48] ZevEisenberg commented on #9304
@ohayon thanks for checking in. I just updated Fastlane to the latest release and tried again, and I'm sorry to report that I'm still seeing the same issue:

<details><summary>Terminal Output</summary>

[code]

</details>

[2017-06-01 03:27] joshdholtz commented on #9298
@truebit Your understanding is correct but everything seems to be working as expected for me. I created a really simple fastlane test project with the following `Matchfile` and `Fastfile` and the output shows exactly how you thought `match` to work 😊

 - The `git_url` and `username` were taken from the `Matchfile`
- The `type`, `app_identifier`, and `team_id` were taken from the `Fastfile`

### Ma

[2017-06-01 03:30] truebit commented on #9325
Thanks a lot, I know how to organize certificates repo now

[2017-06-01 03:30] #9325 closed

[2017-06-01 03:40] eurobob commented on #9326
@joshdholtz Perfect, thank you!

Is this a recent change? I managed to submit testflight builds with the same fastfile a few months ago. (also, it was app-store, not app_store)

[2017-06-01 03:40] #9326 closed

[2017-06-01 04:11] eurobob commented on #9326
Nevermind, I realised it was because I was using `use_legacy_build_api` and my last build was in march, when the legacy option was removed March 31st. I was in fact using the wrong gym export method!

[2017-06-01 04:29] joshdholtz commented on #9327
@rckoenes I am working on a legit solution but I found a quick solution for you if you need to solve this like right now... 😇

### Legit solution (that I'm working on)
I will add a new configuration in deliver/Deliverfile that allows a full list of languages to "enable" for an application so the quick solution below doesn't need to be used.

### Quick solution
I found this line of code in `Deliver

[2017-06-01 04:32] joshdholtz commented on #9326
@eurobob I have made this mistake myself in a few projects where I also was using the legacy API so I'm glad that my pain could help you 😊 Happy fastlaning 💪 🚀

[2017-06-01 04:33] joshdholtz commented on #9325
@truebit Not a problem! Happy fastlaning 💪 🚀

[2017-06-01 05:58] irshadpc commented on #9060
I have experienced the same issue

[2017-06-01 06:07] tringManoj commented on #9305
Hey @joshdholtz ... Think you have a bunch of targets and each time u end up creating 20+ certificates whenever needed. So when u have "auto install certificates" LANE added to your Build Automation LANE. Each time you call Build LANE to create IPA. This will download and install certificates for all 20+ targets weather or not you've created new certificates. This will be an overhead in this case.

[2017-06-01 07:20] westerlund commented on #9190
@stefanhp I just successfully published to two groups using the `PILOT_GROUPS='Group 1','Group2','Group 3'` syntax. It might not help you, but at least it is working :)

[2017-06-01 07:39] GoodMirek commented on #7768
I got "403 forbidden" from `pilot` while polling for a new build to appear again. Fastlane 2.35.1, with simple patch #9308.
Adjustable retry/error handling would be so great!

[2017-06-01 07:43] ivanbruel commented on #9244
This still seems to be an issue specifically on Travis, I tested a cURL command directly to mimic the request call, and would still not get a 200 status code whereas locally I would.

[2017-06-01 10:04] rckoenes commented on #9327
The problem with this solution is that if the whitelabel app does not have a language in iTunesConnect it will try and add it.
The solution would be to include a metadata directory for each whitelabel app to make sure that it matches client set languages in iTunesConnect.

[2017-06-01 10:09] javascriptlove opened #9335 "Fastfile:3:in `+': [!] no implicit conversion of nil into String (TypeError)"
After updating to the recent fastlane, I seem to get error with a very basic fastfile like this:

[code]

Any idea where to dig for issues? I assume it expects the platform name somewhere, but I couldn't find any information/example in docs about where and how to provide it

### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https:

[2017-06-01 10:26] harryblam commented on #9328
Yeah my thoughts also... The only trouble in the second way you mentioned is that there is no way to differentiate between external and internal builds on the TestFlight app if i'm not mistaken.

Therefore the team will not know if they're downloading the prod or the beta version...

Anyway, thanks for the help on this one @ohayon 👍🏻

[2017-06-01 10:29] MortenGregersen commented on #9168
@KrauseFx Any comments?

[2017-06-01 10:56] javascriptlove commented on #9335
Ok finally found, that was an error in Dir["*.xcodeproj"].first - it returns nil. Ignore this

[2017-06-01 10:56] #9335 closed

[2017-06-01 12:12] hjanuschka commented on #9168
@MortenGregersen 🤚 hey.

can you try setting: `derived_data_path` on `gym`  to a folder that stays available to bypass the random folder name?

also try to set `clean` to false, and see if it improves your build time.
let me know if this helps.

[2017-06-01 14:04] odrobnik opened #9336 "frameIt should support global strings for multiple targets"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

`frameIt` requires that the strings files be positioning inside the `de_DE` folder for the screenshots. The problem is if you have multiple sub-folders for multiple targets like I have. e.g. `

[2017-06-01 15:26] joshdholtz commented on #9327
@rckoenes I totally get it why the empty directory thing would work (but I wanted to give you a temporary solution while I'm working on the actually fix 😇 ). The actually fix will be something like the below in your deliver action or Deliverfile (which I believe should work for you).

### Fastfile
[code]

### Deliverffile
[code]

[2017-06-01 15:29] joshdholtz commented on #9305
@tringManoj Are you talking about "certificates" or "provisioning profiles"? It sounds like you _may_ be talking about provisioning profiles here 🤔

[2017-06-01 15:58] ohayon commented on #9336
Hey @odrobnik, thanks for raising the issue. I'm not totally sure if this is a bug, or a feature request. Is there any way you would want/have some time to submit a PR for this? That would be 💯 ! 🚀

[2017-06-01 16:07] odrobnik commented on #9336
@ohayon Sorry, I am an iOS developer and have no idea how to change ruby code.

[2017-06-01 16:57] ohayon commented on #7768
Hey @GoodMirek! We just merged some retry logic this morning to handle failures while polling. You can try running off master, or we will be pushing out that change in the next release in the next day or two! 🚀

[2017-06-01 17:27] ohayon commented on #9304
Thanks for the update @ZevEisenberg and apologies for the trouble! I think this could have something to do with the `--skip_metadeta` option not being properly supported. Looking into this and will hopefully have a fix for you soon! 🐙

[2017-06-01 18:09] ohayon commented on #9244
Locking this issue to move conversation over to #9261

[2017-06-01 18:13] ivanbruel commented on #9261
As I mentioned on #9244 this issue seems to be a travis related issue. Tried replicating with a cURL command both locally and on travis and locally would get 200 and on travis I would not. (Blacklisted maybe?)

[2017-06-01 19:42] zxcq99 opened #9338 "[resign] allow provisioning identifier as parameter instead of path to file"
### New Issue Checklist

- [x ] Updated fastlane to the latest version
- [x ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
 It would be nice to be able to provide identifier of provisioning profile instead of a path to .mobileprovision file and fastlane/resign will automatically find the matching provisioning pro

[2017-06-02 00:09] trevor-e opened #9340 "Deliver not uploading screenshots"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Screenshots are not being uploaded via deliver. I tried updating a screenshot and noticed it wasn't updated in iTC. When I run deliver I remember it used to output each file that was being upl

[2017-06-02 00:52] jdee opened #9341 "commit_version_bump broken when a project's Settings.bundle is in a group"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I recently had to [fix a problem](https://github.com/jdee/settings-bundle/pull/13) in the settings_bundle plugin that breaks `commit_version_bump` because the same poor assumptions are reflect

[2017-06-02 02:35] truebit opened #9342 "xcodebuild_log_path would be conflict when the same project built simultaneously on CI"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

When one project built in different branches on ci, the `xcodebuild_log_path` would use the [same log path](https://github.com/fastlane/fastlane/blob/master/gym/lib/gym/generators/build_comman

[2017-06-02 02:37] joshdholtz commented on #9340
@trevor-e Do you have your images in a languages folder? Your file structure should look similar to the below example...

[code]

If you do not have your screenshots in a languages folder, it won't find anything to upload (which I tested). Let me know if this doesn't solve your issue - not exactly sure how your screenshots are organized in your `screenshots/<app_name>` folder 😇

[2017-06-02 02:45] joshdholtz commented on #9342
@truebit The reason for no timestamp being on the log file right now is so that all of the gym logs for that project and scheme are all in one file (and a lot of the other tools also use a very similar file naming scheme which I would assume would also cause you issues).

What is happening when you run the projects simultaneously? Do one of the fastlane jobs crash/hang? This probably a good thing

[2017-06-02 02:47] PetrosIchor commented on #9338
From my understanding of the resign action , that would make it overly complicated, brittle, and break a ton of other users setups.  The action would still need to know where to look for the profile, then crack each one open and identity which one it needed.

For any user who uses custom paths, that's an extra parameter they would be required to account for.

Resign is heavily tied to sigh/match.

[2017-06-02 02:48] truebit commented on #9342
The build would fail with exit code 65
And I cannot find any reason on ci log output from xcpretty because the log would be mixed due to same log file

[2017-06-02 02:50] joshdholtz commented on #9342
@truebit Are you cool with testing this from a branch of mine for me when I make a fix for this? Want to make sure it works for you before it would get merged into master.

[2017-06-02 02:53] truebit commented on #9342
my workaround is to set `--buildlog_path` for each build job on ci

[2017-06-02 02:59] joshdholtz commented on #9342
@truebit That's a pretty solid workaround 👌 I'm working on a fix for this issue for you though so you don't have to do which you could put my branch of fastlane in your `Gemfile` if you'd like to give it a try for me when its ready 😊

[2017-06-02 03:12] joshdholtz commented on #9342
@truebit Actually, I _think_ your solution of setting the `buildlog_path` (probably to a temp directory or a directory with the current timestamp) might be the best solution (just saw that that was an option). My solution was going to add a flag to gym to append a timestamp onto the filename but setting a different `buildlog_path` is already built in is probably a more elegant/flexible solution.

[2017-06-02 03:12] #9342 closed

[2017-06-02 03:25] trevor-e commented on #9340
Yes, I do have the screenshots for each app in language folders.

[2017-06-02 05:11] zxcq99 commented on #9338
Good points :) I think my request can be rejected

[2017-06-02 05:11] #9338 closed

[2017-06-02 06:13] jerrylee007 commented on #9261
any workaround for this issue? currently I'm blocked on this.

[2017-06-02 07:08] WangGuibin opened #9343 "How can I do for solve the problem???"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

DDYSdeMacBook-Pro:~ Wangguibin$ brew cask install fastlane
==> Downloading https://kits-crashlytics-com.s3.amazonaws.com/fastlane/standalon
####################################################

[2017-06-02 07:32] hjanuschka commented on #9343
hey @WangGuibin 🤚
 looks like your harddisk is out of space
`No space left on device`  - try making some MB/GB free and retry the installation

let me know if this helps

[2017-06-02 07:44] odrobnik commented on #9336
If I were to investigate how to fix that... how can I modify an `.rb` file and have that be used instead of the installed gem's version?

[2017-06-02 09:09] tringManoj commented on #9305
You're correct. It's about provisioning profiles. Sorry for the confusion.

[2017-06-02 09:40] lacostej commented on #9306
@joshdholtz I would like ensure_folders_created to not be created before we check if we can overwrite them...

[2017-06-02 10:44] joshdholtz commented on #9306
@lacostej Makes sense! Didn't know you had PR started for this but @ohayon linked me to it so I got it after that 😇

[2017-06-02 10:45] joshdholtz commented on #9305
@tringManoj Got it, that makes more sense 👌  Can look into the feasibility of this for you

[2017-06-02 10:47] joshdholtz commented on #9340
@trevor-e Can you send me a screenshot of your folder or type up a diagramy thing like I did above of what your file structure looks like? I did fairly certain I matched your setup (see my file structure above) and it worked for me so I would like to make sure mine matches exactly what you have 👌

[2017-06-02 11:51] MaikoHermans opened #9345 "utf_ext not found when using gym"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [ ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
I'm trying to use `gym` from Jenkins but every time I did this I get an error saying:

[13:40:27]: ▸ Could not find unf_ext-0.0.7.4 in any of the sources
[13:40:27]: ▸ Run `bundle install` to i

[2017-06-02 13:19] nelsballs commented on #8867
@intari Have you just added `<key>ITSAppUsesNonExemptEncryption</key><false/>` to your Info.plist before running fastlane ? I'm using 2.36 and I still have to manually check false on ITC to start it on TestFlight : /

[2017-06-02 13:34] mikerunnals commented on #9294
This functionality is already supported by resign shell script. Feedback comments on the PR.

tl;dr The bundle ids keys specified in the profiles argument hash should be the existing/old bundle ids in the current ipa. Resign set the new bundle ids to those specified within the new mobileprovision files.

[2017-06-02 13:34] #9294 closed

[2017-06-02 13:47] intari commented on #8867
@nelsballs I added this key long ago. I don't saw any issues with it but right now I only use Fastlane with Internal Testflight

[2017-06-02 13:50] nelsballs commented on #8867
@intari I'm also running it with internal testing, are you also on 2.36 ?

[2017-06-02 14:15] ohayon commented on #9345
Hey @MaikoHermans, thanks for raising the issue! Do you have access to the jenkins machine? Can you get in there and run `gem list unf_ext` to confirm that it is installed?

[2017-06-02 14:19] MaikoHermans commented on #9345
@ohayon

When you take a look at the fast lane environment it also says `unf_ext` was installed.

I did fix the issue just now tho. I ran `printenv` on my build machine en copied the PATH that was specified there into my environment injection in Jenkins.

That fixed it now it runs without any problems

[2017-06-02 14:22] ohayon commented on #9345
👍  Thanks for reporting back!

[2017-06-02 14:22] #9345 closed

[2017-06-02 14:30] ohayon commented on #9336
@oronbz the easiest way to test it would be to clone this repo, and then create a `Gemfile` in your iOS project directory with the contents:
[code]

And then execute your _fastlane_ commands with the prefix `bundle exec fastlane ...`

[2017-06-02 14:42] pbassut opened #9346 "[Transporter Error Output]: An error occurred while uploading a file to Apple's remote server."
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [ ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
I'm getting this error when trying to deploy an iOS app.
I tried it 10 hours ago and now: same error.

Here's the full command output.
<details>

[code]

</details>

### Environment
<details><s

[2017-06-02 14:52] ohayon commented on #9346
Hey @pbassut, thanks for raising the issue! Have you been successful running pilot in the past? This looks like it could be something bad happening on iTC's end.

[2017-06-02 14:55] ohayon commented on #9346
Also, would you mind sharing the rest of your terminal output?

[2017-06-02 14:56] pbassut commented on #9346
@ohayon Thanks for the quick response!
I have. Not sure if this is related to the fastlane upgrade I did. I don't think so.
I tried it 10 hours ago and it didn't work. I also thought it was iTunnes Connect, but they seemed fine when going to their website. No warnings about maintenance were shown too.

[2017-06-02 14:58] ohayon commented on #9346
Hmm. Thats interesting. Good to know you have been successful before with this. Could you share the stack trace that you are getting printed out? You may need to run the command with `--verbose` to get it printed, but that would be super helpful.

[2017-06-02 15:03] pbassut commented on #9346
I just edited it with the rest of the terminal output. I don't know if there's any sensitive information on that output. Please let me know if there is so I can remove it.

As you can see, fastlane is trying to upload again as we speak but it gets the same error.

No stacktraces are raised. You think if I run it with `--verbose` it'll show something even tho it's not an unexpected error(e.g. and i

[2017-06-02 15:08] ohayon commented on #9346
Its been a while since I've been in that part of our code, but I think `--verbose` might help.

[2017-06-02 15:13] pbassut commented on #9346
@ohayon Okay then. I'm running with `--verbose` now. I'll have it in a bit.

[2017-06-02 15:31] pbassut commented on #9346
So, this is the output from the actual transporter.
<details>
INFO [2017-06-02 12:19:41.00]: Successfully exported and compressed dSYM file
INFO [2017-06-02 12:19:41.01]: Successfully exported and signed the ipa file:
INFO [2017-06-02 12:19:41.01]: /Users/patrickbassut/Programming/lavapp/ios/lavapp.ipa
INFO [2017-06-02 12:19:41.02]: -------------------
INFO [2017-06-02 12:19:41.02]: --- Step: pilo

[2017-06-02 15:55] pbassut commented on #9346
It was my network :(

[2017-06-02 15:55] #9346 closed

[2017-06-02 16:04] ohayon commented on #9346
No problem! Glad you got it working!!

[2017-06-02 16:34] oronbz commented on #9336
Hi old friend @ohayon, I think you misspelled the mention (:

[2017-06-02 16:39] trevor-e commented on #9340
@joshdholtz Sure! Sorry it looks like a redacted FBI file... XD

![screen shot 2017-06-02 at 12 36 32 pm](https://cloud.githubusercontent.com/assets/1447798/26735549/5b7d47c4-4790-11e7-98b1-339147ec4266.png)

[2017-06-02 16:49] joshdholtz commented on #9340
@trevor-e Thank you, kind sir! Will look into this today 👀  Is that a complete list of languages you are using? We have a hunch it might be related to a change/addition/removal of a language on Apple's side.

[2017-06-02 16:50] trevor-e commented on #9340
Here is the full list of locales we support:

![screen shot 2017-06-02 at 12 32 20 pm](https://cloud.githubusercontent.com/assets/1447798/26735919/ffe88c00-4791-11e7-8839-ac871061116d.png)

[2017-06-02 16:54] joshdholtz commented on #9340
@trevor-e You are the real MPV here 🏆  I will be working on this today. Thanks for providing that data for me to test with 🙌

[2017-06-02 17:58] pronebird opened #9348 "Sigh stopped pulling distribution certificate from Dev Portal"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

I have distribution certificate created, but fastlane/sigh stopped pulling it from dev portal after upd

[2017-06-02 18:05] pronebird commented on #9348
Running cert helped, but now it created production certificate using my email and two extra distribution profiles for app + widget. Strange it cannot see Distribution certificate that we already have. How does it match it?

[2017-06-02 18:32] ohayon commented on #9336
Oops! Sorry! @oronbz !

[2017-06-02 19:25] joshdholtz commented on #9348
@pronebird Are you running this on a different machine than where the certificate is created/installed? Certificates don't _actually_ get pulled down from the developer center (the provisioning profiles do). When a new cert is created, the private key gets installed in your computer's keychain and the public key gets sent up to the Apple developer center.

The way `sigh` works is it will pull down

[2017-06-02 19:30] pronebird commented on #9348
Same machine but I think what happened is somebody re-created everything from scratch and dropped old distribution profile. I ended up with orphaned private key and expired certificate. That makes sense then. Closing because everything works now.

[2017-06-02 19:30] #9348 closed

[2017-06-02 19:44] joshdholtz commented on #9348
@pronebird Glad you figured it out! Happy fastlaning 💪 🚀

[2017-06-02 20:28] ohayon commented on #9304
Turns out this was an issue with case sensitivity of language codes as directory names and Apple has apparently decided to enforce case sensitivity. We just pushed a fix that will make sure screenshot directories can use case-insensitive language codes.  https://github.com/fastlane/fastlane/pull/9349

[2017-06-02 20:28] ohayon commented on #9304
Thanks to @ZevEisenberg for help debugging!

[2017-06-02 20:28] #9304 closed

[2017-06-02 20:39] tatemz opened #9350 "[sigh] Question: Does sigh support custom keychains?"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Is there a way to select a different keychain (other than default) when using the the `fastlane sigh renew` command?

### Environment

<details><summary>✅ fastlane environment ✅</summary>

###

[2017-06-02 21:05] joshdholtz commented on #9340
@trevor-e Two issues going on!

1. Languages use a `-` (not a `_`). So none of your languages will be seen as valid.
2. Some of your folders are not actually support language codes which means they will get skipped by `deliver`. Supported language codes can be seen here -
 https://github.com/fastlane/fastlane/blob/master/fastlane_core/lib/fastlane_core/languages.rb

So... I am making a change wher

[2017-06-02 21:07] #9050 closed

[2017-06-02 22:27] PetrosIchor commented on #9350
Check out the docs for keychain functionality and actions: https://docs.fastlane.tools/search.html?q=Keychain

[2017-06-02 22:46] trevor-e commented on #9340
@joshdholtz Thanks for the investigation! Better error reporting would be much appreciated. On our end it looks like we changed `snapshot` languages to be:

[code]

You can see we're using the hyphen format for the first language arguments. From the `screengrab` README it gives this example:

[code]

which leads me to believe that we're using it correctly. Is `screengrab` creating the wrong direct

[2017-06-02 23:14] trevor-e commented on #9340
@joshdholtz Not an expert in Ruby or the fastlane codebase, but looks like this might be the problem:

https://github.com/fastlane/fastlane/blob/master/snapshot/lib/snapshot/runner.rb#L213

`snapshot` is preferring locale over language for creating the directory name.

[2017-06-02 23:31] joshdholtz commented on #9340
@trevor-e Huh, interesting... I will add that to my list to look into as well 🤔  Hopefully this information helps you get moving in the meantime 🚀

[2017-06-03 04:30] ohayon commented on #9340
Is this issue similar to https://github.com/fastlane/fastlane/issues/9304 ?

[2017-06-03 07:35] cherpake commented on #8765
yep - I gave up on frameit, and wrote my own tool - performance is better cause its using CoreGraphics, and for those like me suffering from light form of OCD and wanting same font size for all screenshots for specific language & device, it provides a solution.
Can be found here: https://github.com/cherpake/fastframe.git
Still work in progress but you can check results here: https://itunes.apple.c

[2017-06-03 19:49] Katkov opened #9355 "[Version 2.36.0] WARN - Crashlytics halted compilation because it can't extract Crashlytics build info from the APK"
Command: **fastlane beta**
Output:
[code]
### Environment

[2017-06-03 20:26] Katkov commented on #9355
I found a problem. I just forgot to add Crashlytics plugin to my project

[2017-06-03 20:26] #9355 closed

[2017-06-04 04:22] #8655 closed

[2017-06-04 10:13] nafu commented on #8909
@lalunamel @ZevEisenberg @seanooi @jjacquet @hammertoe @DanToml @KrauseFx

Thank you for reporting and supporting. 👍

@lyndsey-ferguson

Thanks for the fix. I've also confirmed this is fixed in my project 🚀

[2017-06-04 11:44] switchawk commented on #8619
This thing keeps happening consistently. Anyone has success clean_build_artifacts for Mac targets?

[2017-06-04 12:42] mshibanami opened #9356 "snapshot without running unit tests?"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

My Xcode project for iOS App has a scheme which contains a UI test and a unit test.
I ran `fastlane snapshot run` to take screenshots. Then both tests ran.

Running UI tests is OK because it's

[2017-06-04 16:02] #8644 closed

[2017-06-04 16:10] mgrebenets commented on #8674
Hi @kevinrenskers

It can't find SwiftLint since it's not in the system `PATH`.

Potentially, a new parameter _could_ be added to `swiftlint` to allow specifying exact executable path... I say "potentially", because this approach may not scale up too good. Any action that uses external tool could have this tool installed in custom location.

I'm not sure on this one, would love to hear from others

[2017-06-04 16:24] mgrebenets commented on #8675
Hi @dzan

Xcode is using `xcodebuild` for building and packaging the app. And `gym` actually uses `xcodebuild` too.

According to `xcodebuild -h` output, bitcode option only applies for App Store exports, same applies for packaging debug symbols too:

[code]

Otherwise app packages do not contain bitcode as far as I know.

If I understand bitcode feature correctly, it is only useful for Apple.
Bit

[2017-06-04 16:38] mgrebenets commented on #8724
hi @andreyslyusar

Sorry for stating the obvious, but the error message says that it couldn't find profile `se.softwerk.strama.liv.prd`.

There's a number of things I would personally check first:

- Do you have this profile in "~/Library/MobileDevice/Provisioning\ Profiles"?
- Do you use `PROVISIONING_PROFILE` or `PROVISIONING_PROFILE_SPECIFIER` build setting?
  - Make sure you migrate to use `PR

[2017-06-04 16:56] mgrebenets commented on #8741
@yageek

Do you have multiple versions of Xcode installed by any chance?

What's the output of `xcodebuild -version` and `swift --version` when you run these commands in terminal?

We had similar issue with `2.3` to `3.0` migration.
But in our case, the issue was happening during Xcode archiving phase, not while compiling and linking the app. We would first build the app with `2.3` and then would

[2017-06-04 18:32] #8670 closed

[2017-06-05 07:59] orj opened #9358 "Scan should have an option to enable capturing screenshots (for UI tests)"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Scan should support recording screenshots for UI Tests.  Supposedly `xcpretty` supports this via the `--screenshots` command line argument.

[2017-06-05 09:06] #9343 closed

[2017-06-05 09:09] WangGuibin commented on #9343
Thank you ,I Has been solved

[2017-06-05 10:09] gelldur opened #9359 "gradle action can't find apk and set GRADLE_ALL_APK_OUTPUT_PATHS"
### New Issue Checklist

- [/] Updated fastlane to the latest version
- [/] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
When i want build & upload my app:

[code]
I see: `Couldn't find any new signed apk files...`

There should be way to set search path for apk not hardcoded one.

##### Complete output when runn

[2017-06-05 10:10] gelldur commented on #9359
I added my custom `findApk` but it should be done other way in gradle action

[2017-06-05 10:35] TayyabDar opened #9360 "fastlane supply jason file issue"
@KrauseFx
@asfalcone
Hello Fastlane team, i m stuck in a strange issue from many days of fastlane supply. i have followed all the steps shown in this link: https://github.com/fastlane/fastlane/tree/master/supply

But my issue is that when i run 'fastlane supply init' in terminal, it says;

To not be asked about this value, you can specify it using 'json_key'
[15:20:40]: The service account json fi

[2017-06-05 14:02] #8613 closed

[2017-06-05 14:55] dombarnes opened #9361 "[Feature Request] Expire previous builds (pilot)"
Now that iTunes Connect has more functionality for testflight build management, a option in Pilot would be useful to expire all previous builds if enabled (off by default).
Currently, all builds are kept available to testers. I would expect that in a lot of cases, expiring all older builds would be preferred.

[2017-06-05 15:20] andreconde21 opened #9362 "Produce not working in non interactive mode"
### New Issue Checklist

- ✅ Updated fastlane to the latest version
- ✅ I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I am using the recent feature on Windows 10 of "Bash on Ubuntu on Windows". I created an app to invoke fastlane through it, being it a non interactive shell (everything passed as argument + set of

[2017-06-05 15:47] Fluzzarn commented on #8463
When creating the Provisioning Profile through the Developer Center, it seems a "template" variable is passed in when a special entitlement is provided. It seems that sigh doesn't pass this variable when creating provisioning profiles. This is the reason why no provisioning profiles created with fastlane have custom entitlements enabled.

[2017-06-05 15:54] Fluzzarn commented on #9227
When creating the Provisioning Profile through the Developer Center, it seems a "template" variable is passed in when a special entitlement is provided. It seems that sigh doesn't pass this variable when creating provisioning profiles. This is the reason why no provisioning profiles created with fastlane have custom entitlements enabled.

[2017-06-05 17:22] lam2558 commented on #9356
Would like to have this option as well.  I use snapshot separate from unittests and would prefer that the setup/running of unittest be disabled as an option

[2017-06-05 17:43] GitRubb opened #9363 "Fastlane supply fails to upload APK with different API Level."
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
I would like to upload multiple APKs to the Alpha stream. I have 1 APK currently uploaded.
APK 1: Currently hosted APK has min API level 22, target 25, versionCode 22001007
APK 2: Has min API le

[2017-06-05 18:13] #8685 closed

[2017-06-05 18:54] Gaia-Nutrition opened #9364 "increment_build_number fails with "agvtool: not found""
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
- I'm trying to deploy the iOS version of my react-native app using Circle CI
- The build works like a charm on local but mysteriously fails on the `before_all` section of my FASTFILE at the `i

[2017-06-05 20:11] l-nawrocki commented on #8797
@gereons When I run `security set-key-partition-list -S apple-tool:,apple:,codesign: -s -k $MATCH_PASSWORD ~/Library/Keychains/fastlane-db` I get `security: SecItemCopyMatching: The specified item could not be found in the keychain.` error message.
Did you have something similar also?

[2017-06-05 20:39] JeffreyGreenII opened #9365 "Produce Apple 302 Detected"
### New Issue Checklist

- [✅ ] Updated fastlane to the latest version
- [✅ ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Tried using fastlane produce for a new app. It looks like Apple has moved whatever page SpaceShip is trying to access. I traced back the page to being somewhere on the Developer Center from

[2017-06-05 20:51] nolanwilson commented on #9365
Can you try running this again? During the WWDC keynote (and slightly afterwards), they had a redirect set up to send you to their maintenance page (which was recently removed). I was experiencing this issue as well but have since been able to create apps without running into this problem.

[2017-06-05 20:56] JeffreyGreenII commented on #9365
I have run again and it seems that it may be working. I included the team id with the -k flag, so I'm not sure which seemed to fix the issue.

[2017-06-05 20:56] #9365 closed

[2017-06-05 21:02] lowki93 opened #9366 "Issue when use create_keychain"
Hello,

i try to run this :

[code]

and i have this error :
[code]

do you have an idea ??

fastlane -v :
[code]