[2014-11-25 17:17] fastlane-bot opened #1632 "Support app video"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/33914?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @vytis - Imported from <a href='https://github.com/fastlane/deliver/issues/34'>fastlane/deliver#34</a>
        </td>
      </tr>
    </table>

At the moment the video uploaded manually to iTunes Connect just gets deleted aft

[2014-11-25 17:18] fastlane-bot opened #1631 "In app purchases upload"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/33914?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @vytis - Imported from <a href='https://github.com/fastlane/deliver/issues/35'>fastlane/deliver#35</a>
        </td>
      </tr>
    </table>

It would useful be very useful to have support for in app purchases. At the momen

[2015-01-16 04:37] sevear opened #6 "Failed to build gem native extension."

[2015-01-16 04:39] #6 closed

[2015-01-18 09:56] nicolaslauquin opened #8 "Multiple target support"
First of all, thank you for the great job.

I have an Xcode proj with 8 targets, each apps has its bundleid, appid and languages. In that case, time saved thanks to fastlane would be even more important for me but how to handle this ? For now I have my custom script and I'm thinking to migrate if there is built-in support in fastlane.

I'd like to create some configuration in a centralized file "A

[2015-01-18 14:59] frranck commented on #8
Hi; I am have a similar project with multiple targets.
When i run
fastlane test I get an error message:

NFO [2015-01-18 15:54:39.38]: Using './Snapfile'
DEBUG [2015-01-18 15:54:39.38]: xcodebuild -workspace xxx' -list
2015-01-18 15:54:40.797 xcodebuild[90191:2392002] [MT] DVTAssertions: Warning in /SourceCache/IDEFrameworks/IDEFrameworks-6611/IDEFoundation/SourceControl/Model/IDESourceControlMana

[2015-01-18 15:11] KrauseFx commented on #8
Honestly I don't think it's correct to abuse Xcode targets to be different Apps, which is why I didn't have this in mind when creating `fastlane` and its tools. Why don't you use different Xcode projects with a shared code base?

Currently the only good solution is to write some Ruby code in your `Deliverfile`, `Fastfile` and `Appfile` to work with all your apps.

[2015-01-18 16:07] frranck commented on #8
Hi, i'm in the same situation; 1 project with (a lot) of multiple targets. That sounds more easy to maintain to me. (?)

[2015-01-19 08:50] bartvandendriessche opened #9 "Fastlane init: password starting with a dash is interpreted as a command option"
Noticed this while playing around with fastlane and running `fastlane init` as described in the GUIDE.

I have an iTunesConnect password that starts with a dash, and got the following warning after which the process stopped:

[code]

[2015-01-19 09:11] nicolaslauquin commented on #8
There are many industrial&service scenarios when we have to create multiple target. I would prefer handle simple project but the reality is that we need to use this kind of solution and it si much more efficient to use target in one project and be able to run into the simulator the wanted project by switching scheme than having to close and find&open the corresponding Xcode proj. Also, imagine you

[2015-01-19 09:14] KrauseFx commented on #8
Okay. What kind of solution would you suggest? How would your perfect 'interface' look like for `fastlane` and its tools?

[2015-01-19 09:24] KrauseFx commented on #9
Mh, I'm escaping the password properly when passing to the transporter: [itunes_transporter.rb:19](https://github.com/KrauseFx/deliver/blob/master/lib/deliver/itunes_transporter.rb#L190)

Would it be possible for you to temporary change the password to not start with a `-`?

[2015-01-19 09:27] nicolaslauquin commented on #8
My vision would be (user point of view):
- centralize all the configuration into one unique file "App" (so it would take care of the redondant information I mentioned before).
- keep a default usage configuration so it still work the same but allow to create some specific configuration "AppXXX" (having an extension would be even better to associate it to its favorite edition tool with associate co

[2015-01-19 09:30] KrauseFx commented on #8
To your points

1) If you init your project, the app_identifier should **only** be stored in the `Appfile`. Older versions of `deliver` also stored it in the `Deliverfile`, not any more.
2) Syntax highlighting can easily be enabled (at least on Sublime Text), since the file name is the extension, if there is no real extension
3) I like that, looks good. This reminds me of this issue: https://githu

[2015-01-19 09:44] nicolaslauquin commented on #8
1) I just did a test from scratch and **confirm** the issue. By doing a ```fastlane init```I got the ```app_identifier``` & ```apple_id``` stored in ```Deliverfile``` and ```Appfile```. I also checked that I'm up to date with fastlane & deliver. If you do not reproduce maybe we can open a new thread for that or I can send you my log by mail.
2) Ok for one but for multiple config app it wont anymor

[2015-01-19 09:46] KrauseFx commented on #8
1) Oh, there must have been an error when merging, it's not there at https://github.com/KrauseFx/deliver/blob/master/lib/assets/DeliverfileExample, but still is at https://github.com/KrauseFx/deliver/blob/master/lib/assets/DeliverfileDefault, I'll push a fix
2) True, I just followed the convention for `Rakefile`, `Gemfile`, `Podfile`, `Makefile`, which all don't have an extension

[2015-01-19 10:17] fastlane-bot opened #1630 "Don't look for Info.plist in subfolders"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/8608?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @siuying - Imported from <a href='https://github.com/fastlane/deliver/issues/73'>fastlane/deliver#73</a>
        </td>
      </tr>
    </table>

I'm using deliver from fastlane. When I try to publish a beta app, I got followi

[2015-01-19 21:15] fastlanebot opened #2779 "frameit crashes while converting psd file"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/132167?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @patricks - Imported from <a href='https://github.com/fastlane/frameit/issues/14'>fastlane/frameit#14</a>
        </td>
      </tr>
    </table>

I just tried frameit the first time. But if I start frameit i get the followi

[2015-01-20 09:59] bartvandendriessche commented on #9
Yeah, I worked around it by using a different password, just thought you'd like to be aware, so I went ahead and created this issue.

[2015-01-22 04:16] AnthonyMyatt opened #10 "Failed to build gem native extension / libiconv is missing"
Before being able to install fastlane, I had to manually install nokogiri using the following command:

sudo gem install nokogiri -- --use-system-libraries --with-xml2-include=/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.10.sdk/usr/include/libxml2

--use-system-libraries allows the install to use the OS X version of libiconv.
--with-xml2= tells it wh

[2015-01-22 09:19] nandodelauni opened #11 "deliver cannot generate ipa due to wrong path"
I've forked fastlane trying to integrate `Crashlytics` distribution action but I am not able to test it because seems that deliver cannot find the proper path to the project:

[code]

The project is in `/Users/miguel/chicisimo` and I don't see any configuration to change this. Can you bring some light?

Thanks!

[2015-01-22 09:33] KrauseFx commented on #10
Building `nokogiri` manually is a pain and sometimes quite tricky to do, that's why I recommend using `homebrew`. Is there a reason you don't want to use it?

[2015-01-22 09:36] KrauseFx commented on #11
@nandodelauni thanks for implementing `Crashlytics Beta`.

You haven't posted your `Deliverfile`. I assume you're using `shenzhen` for building? If so, the `ipa` block in your `Deliverfile` should look like this:
[code]

[2015-01-22 09:37] KrauseFx commented on #11
Oh, why are you running `deliver` anyway? You can disable `deliver` in your `Fastfile`.

To create a new action, check out [this part of the README](https://github.com/KrauseFx/fastlane#extensions).

[2015-01-22 10:04] nandodelauni commented on #11
Thanks! I was using `deliver` in order to generate the ipa. I know that deliver is intented to stuff related with metadata in iTunes connect, there is another way to generate the ipa file? This is my lane:

[code]

In my `crashlytics.rb` implementation (yep I am using `shenzhen`, same approach as `hockey.rb`) I am using the ENV variables for the ipa path but I am not sure if this approach is good

[2015-01-22 10:07] KrauseFx commented on #11
Can you share your `Deliverfile` as well please?

[2015-01-22 10:14] nandodelauni commented on #11
Sorry. I was using the template and only modified the `beta_ipa`:

[code]

You can find the implementation for `crashlytics.rb` here:
https://github.com/chicisimo/fastlane/blob/crashlytics/lib/fastlane/actions/crashlytics.rb

[2015-01-22 10:16] KrauseFx commented on #11
Replace
`"./ad_hoc_build.ipa"`
with
`"../ad_hoc_build.ipa"`

[2015-01-22 17:09] nandodelauni commented on #11
I have been trying out and that's not what I want, I just want `deliver` to generate the `ipa` file in order to populate `ENV["DELIVER_IPA_PATH"]` but I don't see any option for that

[2015-01-24 16:07] crylico opened #14 "sigh action ignores :skip_install parameter"
In my use of fastlane, I don't want the provisioning profile to be installed (or even opened).

I'll be submitting a pull request to skip the Actions.sh() call at the end of sigh.rb if the fastfile has :skip_install.

[2015-01-25 20:18] ergunkocak commented on #11
Could not find project folder i replaced :
    system("ipa build --verbose") # build your project using Shenzhen
with
    system("cd ..; ipa build --verbose") # build your project using Shenzhen

PS : tnx for great project :+1:

[2015-01-26 10:06] KrauseFx commented on #14
Thanks, merged https://github.com/KrauseFx/fastlane/pull/15 :+1:

[2015-01-26 10:06] #14 closed

[2015-01-26 13:59] turowicz opened #17 "sigh timeout"
Running fastlane beta results in a timeout on a sigh step. Is there a way of overriding the timeout setting? Weird error, the dev portal works fine in the browser...

Wojciechs-MacBook-Pro:src wojtek$ fastlane beta
INFO [2015-01-26 13:58:27.69]: Driving the lane 'beta'
INFO [2015-01-26 13:58:27.69]: Step: increment_build_number
INFO [2015-01-26 13:58:27.69]: [SHELL COMMAND]: agvtool next-version -

[2015-01-26 14:29] KrauseFx commented on #17
For easier debugging I recommend running `sigh` directly. Does this happen every time?
What does the generated screenshot show?

[2015-01-26 15:56] vytis opened #18 "Support for different Apple Developer and iTunes Connect accounts"
It seems that `fastlane` is having problems when iTC and developer's AppleID accounts are different. That happened in my case because my AppleID is assigned to multiple teams, but iTC doesn't support more that one account per email. `fastlane` tries to log in my AppleID email to iTC and fails because passwords don't match (even if they did it wouldn't work because that account is for different app

[2015-01-26 17:11] turowicz commented on #17
Turned out the process was failing because it couldn't create the screenshot :open_mouth:

Its going pass that step now, sorting out the delivery.

[2015-01-26 17:11] #17 closed

[2015-01-26 19:25] KrauseFx commented on #17
Can you run `phantomjs -v` and let me know which version you're using?

[2015-01-26 23:30] KrauseFx commented on #10
I'll close this issue for now, let me know if you need any help.

[2015-01-26 23:30] #10 closed

[2015-01-26 23:40] KrauseFx commented on #11
@nandodelauni sorry for the late reply.

`deliver`'s job is not to build your ipa file. Take a look at the Hockey Implementation: [hockey.rb:25](https://github.com/KrauseFx/fastlane/blob/master/lib/fastlane/actions/hockey.rb#L25)

The user of the hockey action needs to pass the path to the ipa file to use. I recommend using [shenzhen](https://github.com/nomad/shenzhen) to build your app. (`ipa bui

[2015-01-27 09:10] nandodelauni commented on #11
Totally. Closing this. I hope to make a PR with crashlytics soon :)

[2015-01-27 09:10] #11 closed

[2015-01-27 09:16] KrauseFx commented on #11
@nandodelauni So, you're still working on this? If not, I'd add the Crashlytics action

[2015-01-27 09:17] turowicz commented on #17
Wojciechs-MacBook-Pro:src wojtek$ phantomjs -v
1.9.8

[2015-01-27 09:19] KrauseFx commented on #17
That looks okay. I wonder why it failed generating the screenshot...

[2015-01-27 09:21] nandodelauni commented on #11
yep, let me come back to you late on the day

[2015-01-27 09:22] KrauseFx commented on #11
Thanks, looking forward to it :+1:

[2015-01-27 09:30] pedrogimenez commented on #11
Hey!

I've just read your comment, I prefer to have one level of abstraction per method and I think that the [guard clause](http://refactoring.com/catalog/replaceNestedConditionalWithGuardClauses.html) makes the code more idiomatic:

[code]

Also, I don't like statement modifiers at the end of long lines.

As it is the methods have only one reason to change, If I put all the asserts in the same me

[2015-01-27 10:04] mhilscher commented on #8
:+1:

[2015-01-27 10:23] turowicz opened #19 "Appfile template"
Hey - I've accidentally messed up my Appfile and I didn't have a previous version commited.

Can someone give me the template of the appfile with the app ide, bundle etc. so I can set my values and carry on? thanks

[2015-01-27 10:25] KrauseFx commented on #19
Sure thing: https://github.com/KrauseFx/fastlane/blob/master/lib/assets/AppfileTemplate

It's a very simple file with just this 2 values.

[2015-01-27 10:57] turowicz commented on #19
Thanks! It's working again :)

Now I have one last issue: I suspect the code signing when building the ipa is either not happening or it's downloading the incorrect certificate.

The last step breaks when uploading to itunes connect.

Problem 1: The file that sigh downloaded looks correct looking QuickLook (app store profile) but when I do "ipa info" it displays my team provisioning profile, along

[2015-01-27 11:23] KrauseFx commented on #19
Problem 1: Mh, not sure what's the problem there. Are you sure this is related to `sigh`?

Problem 2: `sigh` does not access your Xcode project. Are you talking about `snapshot` maybe? It shows the current `step` in the `fastlane` output. If so, you can set the scheme using the [Snapfile Scheme Config](https://github.com/KrauseFx/snapshot#scheme)

[2015-01-27 11:30] turowicz commented on #19
Problem 1: You are right, build settings error (in xcode) - finally managed to upload to itunes connect!!

Problem 2: 'snapshot' commented out (don't need screenshots at this point). Here's the output:
Wojciechs-MacBook-Pro:src wojtek$ fastlane beta --trace
INFO [2015-01-27 11:29:37.83]: Driving the lane 'beta'
INFO [2015-01-27 11:29:37.83]: Step: increment_build_number
INFO [2015-01-27 11:29:37.8

[2015-01-27 11:32] KrauseFx commented on #19
1) Glad to hear it works
2) `Step: deliver`, that means, `deliver` is executed. Could you also post your `Deliverfile`? I'm sure there is some `xcodebuild` or `ipa build` command in the `ipa` block.

[2015-01-27 11:49] turowicz commented on #19
# This is the example Deliverfile
# For more information about each property, visit the GitHub documentation: https://github.com/krausefx/deliver
#
# You can remove those parts you don't need
#
# A list of available language codes can be found here: https://github.com/krausefx/deliver#available-language-codes
#
# Everything next to a # is a comment and will be ignored

# hide_transporter_output #

[2015-01-27 11:51] turowicz commented on #19
# This is the example Deliverfile
    # For more information about each property, visit the GitHub documentation: https://github.com/krausefx/deliver
    #
    # You can remove those parts you don't need
    #
    # A list of available language codes can be found here: https://github.com/krausefx/deliver#available-language-codes
    #
    # Everything next to a # is a comment and will be ignored

[2015-01-27 11:58] KrauseFx commented on #19
Are you using `:beta` in your `Fastfile`? Please post it as well.

[2015-01-27 12:00] turowicz commented on #19
# Customise this file, documentation can be found here:
    # https://github.com/krausefx/fastlane#customise-the-fastfile

    # Change the syntax highlighting to Ruby

    # All lines starting with a # are ignored when running `fastlane`

    before_all do
      # ENV["SLACK_URL"] = "https://hooks.slack.com/services/..."

      # sh "./customShellScript.sh"

      increment_build_number

      co

[2015-01-27 12:00] turowicz commented on #19
I'm calling
    fastlane beta

[2015-01-27 12:01] KrauseFx commented on #19
You use
[code]
which runs `ipa build`, which shows you the scheme selection. Please take a look at the documentation of `shenzhen`.

[2015-01-27 12:02] turowicz commented on #19
Cool thanks, I'll try looking for the answer and if not I'll create an issue there.

[2015-01-27 12:02] #19 closed

[2015-01-27 12:03] KrauseFx commented on #19
It is possible (`ipa build --help`):
[code]

[2015-01-28 20:06] KrauseFx commented on #18
Thanks for your detailed report and sorry for not coming back earlier.

You can remove the first `system('floatsign')`, right?

The problem you described is caused because of
https://github.com/KrauseFx/CredentialsManager/blob/master/lib/credentials_manager/password_manager.rb#L30
[code]
I'll update it to use the parameter first.

[2015-01-28 20:06] KrauseFx commented on #18
Here we go: https://github.com/KrauseFx/CredentialsManager/commit/9d112498391be1b7d7daf231055ce5970094fa66

Please download the `CredentialsManager` as zip and run `sudo bundle install` and `sudo rake install` and try again.

[2015-01-28 22:52] KrauseFx commented on #18
Please try the latest version https://github.com/KrauseFx/fastlane/releases/tag/0.1.2 :+1:

[2015-01-28 23:11] hannesoid opened #20 "fastlane init might be missing dependency multi_json (?)"
When running fastlane-0.1.1 'fastlane init' the first time I had a gem error. After installing multi_json gem it worked.

[code]

[2015-01-28 23:13] #20 closed

[2015-01-28 23:14] KrauseFx commented on #20
Thanks, this is added, seems to be caused by `rvm`, since you're the first to run into this issue.
All the other dependencies and gems worked fine?

[2015-01-29 15:55] vytis commented on #18
I've added the first `system('floatsign')` just in case the `.ipa` was not made with the most up to date profile. Combined with `sigh :skip_install` flag this could easily be the case.

As for the issue, it doesn't seem to be fixed yet. It works good when using `sigh` from command line, but from `fastlane` it's still the same.

I think it happens because here the `user` is empty when the lib is ca

[2015-01-29 22:22] nandodelauni commented on #11
@KrauseFx my colleague @pedrogimenez is opening a PR with Crashlytics support :)

[2015-01-29 22:24] KrauseFx commented on #11
Great! :+1:

[2015-01-30 09:54] rais38 opened #22 "undefined method `[]' for nil:NilClass"
I just update to `0.1.2` and i think something is broken with slack gem.

This is my Fastfile:

[code]

But I have this message in the shell:

[code]

For additional information, I'm using [Bundler](http://bundler.io) with this dependencies:

[code]

[2015-01-30 10:10] KrauseFx commented on #22
Wups, thanks! I'll push a fix in a second, in the mean time just change your Slack call to also include the channel

[code]

[2015-01-30 10:18] KrauseFx commented on #22
Bundling a new release right now: https://github.com/KrauseFx/fastlane/commit/9d320f213cf436bb86c822cdcd5e860bceaadc9b

[2015-01-30 10:32] rais38 commented on #22
Adding it to my `Gemfile`. Amazing this support so fast!!

[2015-01-30 10:34] rais38 commented on #22
@KrauseFx Fixed!!! 👏👏👏👏👏👏👏

[2015-01-30 10:36] #22 closed

[2015-01-30 10:38] KrauseFx commented on #22
@rais38 great to hear. Just published a new version: https://github.com/KrauseFx/fastlane/releases/tag/0.1.3 :+1:

[2015-02-02 07:38] sarunw opened #25 "Where should I keep sensitive data?"
If I want to use hipchat integration which required ENV["HIPCHAT_API_TOKEN"] set in before_all what is the proper way to do this? Hardcode in Fastfile would be security issue right if I commit this into git.

[2015-02-02 07:39] engmsaleh opened #26 "Error in json-1.8.2.gem building"
Here is the trace
=============
Fetching: json-1.8.2.gem (100%)
Building native extensions.  This could take a while...
ERROR:  Error installing fastlane:
	ERROR: Failed to build gem native extension.

    /System/Library/Frameworks/Ruby.framework/Versions/2.0/usr/bin/ruby extconf.rb
creating Makefile

make "DESTDIR="
compiling generator.c
In file included from generator.c:1:
In file included from

[2015-02-02 09:04] engmsaleh commented on #26
I have solved it, it was a matter of updating my Ruby version using RVM and all went good

[2015-02-02 09:18] sarunw opened #27 "Reference XCode variable in actions"
I used to have run script created in build phase which reference XCode variable like $INFOPLIST_FILE. If I want to move this code to custom action, can I still reference these variable?

[2015-02-02 09:42] KrauseFx commented on #25
Since this is an environment variable, you can set it however you want.

You can use [dotenv](https://github.com/bkeepers/dotenv) or any other project to securely store your environment variables.

Does that make sense?

[2015-02-02 09:42] #25 closed

[2015-02-02 09:43] KrauseFx commented on #27
Sorry, I don't quite understand this. You want to create your own action? Or you want to run your existing shell script?

[2015-02-02 09:43] KrauseFx commented on #26
Great to hear :+1:

[2015-02-02 09:43] #26 closed

[2015-02-02 10:08] sarunw commented on #25
Thanks, that make sense.

[2015-02-02 10:10] sarunw commented on #27
I want to move my existing script to actions, but in my script contains XCode variable can ruby code in actions access them?

[2015-02-03 15:44] KrauseFx commented on #27
Are you talking about an `xcodebuild` command? Can you share your existing script?

[2015-02-03 20:30] albertschulz commented on #18
Having the same problem. Would be glad to have a solution for this :+1:

[2015-02-04 20:58] jingx23 opened #30 "sigh 0.2.2 update breaks fastlane"
[code]

[2015-02-04 21:14] KrauseFx commented on #30
That's strange, is this the full output? What command did you use?

[2015-02-04 21:26] jingx23 commented on #30
Ehm of course sry:
Reproduction info:
I updated sigh (sudo gem update sigh)
my beta lane looks like this:

lane :beta do
    sigh
    deliver :skip_deploy, :beta
end

You see i run sigh without additional parameters.

The complete output looks like this:

fastlane beta
INFO [2015-02-04 21:53:13.29]: Driving the lane 'beta'
INFO [2015-02-04 21:53:13.29]: Step: sigh
INFO [2015-02-04 21:53:16.42]: Va

[2015-02-04 21:28] KrauseFx commented on #30
I just pushed a new version of `fastlane`: https://github.com/KrauseFx/fastlane/releases/tag/0.1.7

Could you update using `sudo gem update fastlane` and let me know if it works :+1:

[2015-02-04 21:36] jingx23 commented on #30
hmmm same problem :/

[code]
Output:

[code]

[2015-02-04 21:44] KrauseFx commented on #30
Okay, I hope I fixed it now, please update `sigh` one more time and let me know if it works :+1:

[2015-02-05 08:23] jingx23 commented on #30
Ok, now the phantomjs error seems to be fixed but their seems to be another error oO.
Or should I miss something?

[code]

In sigh-0.2.1 the lane works as expected:
[code]

[2015-02-05 08:48] KrauseFx commented on #30
Fixed with https://github.com/KrauseFx/sigh/pull/38

Sorry about the troubles, please update sigh and let me know if it works :+1:

[2015-02-05 08:52] jingx23 commented on #30
Perfect this release fixed the problem :+1:

[2015-02-05 09:00] #30 closed

[2015-02-05 09:32] KrauseFx commented on #30
Glad to hear, and thanks for helping fixing this problem.

[2015-02-05 15:13] artem-alexandrov opened #31 "Fastlane init: it should ask if I need to enable cocapods"
Right now it's enabled by default, but I don't need it at each build (it's kinda long operation you know..)
is it possible to add a question about cocapods step (like it does for deliver for example)

[2015-02-05 15:32] artem-alexandrov opened #32 "Fastlane init: snapshots directory is messed probably"
I've had SnapFile setup properly before I decided to move to Fastlane.
on init step I've seen such lines:
[code]
But I've found that snapshots directory remains ./deliver/snapshots instead of .snapshots when I open Deliverfile.

I'm not sure whenever it is a bug or not, but looks like this line should be changed.

[2015-02-05 16:10] KrauseFx commented on #31
It only enables CocoaPods if `fastlane` finds a `Podfile` in the current directory.

You can easily just remove the `cocoapods` line from the `Fastfile`. Or is that a problem somehow?

[2015-02-05 16:10] #31 closed

[2015-02-05 16:10] KrauseFx commented on #32
Can you please share your `Snapfile`?

[2015-02-05 16:37] artem-alexandrov commented on #31
Just don't want to touch config files after initial setup) It would be easier to make required settings on initialization

[2015-02-05 16:38] KrauseFx commented on #31
You probably will have to touch the `Fastfile` and the other configuration files. `fastlane` will just help you to setup a sensible default configuration.

[2015-02-05 16:39] artem-alexandrov commented on #32
[code]

[2015-02-05 16:42] KrauseFx commented on #32
Thanks, fixed with https://github.com/KrauseFx/fastlane/commit/a5914ff7db65f17c20cd6bca826e62dcb3e5c34e

[2015-02-05 16:42] #32 closed

[2015-02-05 16:44] artem-alexandrov commented on #32
Man, you are awesome!

[2015-02-05 16:45] KrauseFx commented on #32
Hehe, thanks :smile: Also, really appreciate letting me know, there are so many things changing so fast, it's easy to forget something.

[2015-02-05 22:04] fastlane-bot opened #1781 "Mac app store version of sigh"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/565053?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @rickbdotcom - Imported from <a href='https://github.com/fastlane/sigh/issues/40'>fastlane/sigh#40</a>
        </td>
      </tr>
    </table>

Are there any plans for a Mac app store version of these tools? For the most par

[2015-02-06 18:51] kdawgwilk opened #34 "Permission denied - fork failed"
Trying to run my own custom shell script and I'm getting permission denied:

[SHELL COMMAND]: ./ipa.sh
INFO [2015-02-06 11:43:31.74]: Variable Dump:
INFO [2015-02-06 11:43:31.74]: {:LANE_NAME=>:beta, :START_TIME=>2015-02-06 11:42:01 -0700, :BUILD_NUMBER=>0, :SIGH_PROFILE_PATH=>"path/to/app.mobileprovision"}
FATAL [2015-02-06 11:43:31.74]: Permission denied - fork failed
FATAL [2015-02-06 11:43:31.

[2015-02-06 18:57] kdawgwilk commented on #27
I am trying to do the same thing and I couldn't get it to work so I tried to move it to an external script but it fails with permission denied

I try running:

```sh "./ipa.sh"```

which contains:

[code]

in my fastlane actions for my lane and i get

[code]

[2015-02-06 19:07] kdawgwilk commented on #27
Heres the trace where the error occurred
[code]

[2015-02-06 19:23] kdawgwilk commented on #34
refer to isuse #27

[2015-02-08 10:43] KrauseFx commented on #27
Mh, not sure why it complains about the `$`. Maybe you can just run `puts system("your command")` instead of the `sh`?

[2015-02-08 11:46] KrauseFx opened #35 "Increment Build Number Git"
Right now, the version bump is not commited and pushed.

How can we improve this? One solution is to use the Jenkins Build Number. The problem with this is when you migrate to a new Jenkins, it will be lower than the previous build.

[2015-02-09 22:52] carlosefonseca opened #37 "Missing parameters for snapshot action in fastlane"
Hi!

I can't seem to find a way to tell `snapshot` which `Snapfile` to use inside a lane, like `$ snapshot --snapfile Snapfile1`…
After looking at the action code, I think there is no way to do it. I'm tempted to try the `sh` action to do it.
Using a environment var would work too.

EDIT: sh works :grinning:

[2015-02-10 12:39] KrauseFx commented on #37
Yah, I'm not yet 100% happy with the differences between the CLI of the individual tools and the fastlane integration.

Might need something like:
[code]

[2015-02-11 10:22] tilowestermann opened #39 "Issues with password"
Setting up the Deliverfile, I encountered the following error. It appeared after I entered the the wrong iTunes Connect credentials (I was asked wether I wanted to reenter my credentials, which I answered with yes).

[code]

[2015-02-11 10:31] tilowestermann commented on #39
I tried it again and copied the password from my password manager to make sure that it is correct. Same error. Probably related to #9, although my password doesn't start with a dash (and it doesn't include quotation marks).

[2015-02-11 11:11] KrauseFx commented on #39
Thanks, I'll take a look into it. Since you want to set up `deliver`, can you start by only running `deliver init` and see if you run into the same problem?

[2015-02-11 11:15] tilowestermann commented on #39
Thanks for the quick reply. Running `deliver init` produces the same error. So this issue should be moved to the deliver project.

[2015-02-11 11:16] KrauseFx commented on #39
Okay. So this has to do with your password. This is still a pain and there are some issues about this already: https://github.com/krausefx/deliver/issues?q=password

I haven't found a good solution to make it work :disappointed:

[2015-02-11 11:20] tilowestermann commented on #39
Oh, I see. So having a bad password is actually good ;-)

[2015-02-12 15:39] champo opened #40 "Flexible bundle id config"
I need to be able to switch bundle id (depends on whether I'm doing an internal testing build or a client distribution build, ie.: our developer account vs theirs). Right now the bundle id can only be set through the Appfile. I would have to modify the file before using fastlane, losing the "one command to deploy".

[2015-02-12 18:42] KrauseFx commented on #40
Right now, the only solution is to remove the `app_identifier` information from your `Appfile` and launch the tool by passing your app identifier using the environment or flag.

There a lot of room for improvement, thanks for letting me know :+1:

[2015-02-12 19:10] champo commented on #40
Thing is, the sigh action uses the `AppfileConfig.try_fetch_value` directly ([see here](https://github.com/KrauseFx/fastlane/blob/master/lib/fastlane/actions/sigh.rb#L18)). Just verified what happens and I'm gettting a nice `RuntimeError`:
[code]

[2015-02-12 19:15] KrauseFx commented on #40
Easy solution for now: Change your `Appfile` to

[code]

and set the correct app identifier in each lane:
[code]

[2015-02-12 19:19] champo commented on #40
Awesome! That's the most ruby thing I've seen.

[2015-02-12 20:22] egold opened #41 "Hockey upload fails to find dSYM.zip file if there is a space in the filename"
I have a generated dSYM zip file called

    ./MyAppName Beta.app.dSYM.zip

(note the space in the name)

However, during Hockey upload I get this error:

    Symbols not found on path /Users/eric/my-apps-directory/MyAppNameBeta.app.dSYM.zip. Crashes won't be symbolicated properly

(note the lack of a space in the error's description of the filename)

The .dSYM.zip gets generated just fine. I chec

[2015-02-12 20:25] champo commented on #41
This is wierd, I've just configured hockey to use an app with a space in the name and it doesn't complain. Can you post your Fastile?

[2015-02-12 23:06] KrauseFx commented on #41
`fastlane` uses [shenzhen](https://github.com/nomad/shenzhen) under the hood to upload builds to `hockey`.

[2015-02-13 00:00] egold commented on #41
[code]

[2015-02-13 00:01] egold commented on #41
Ah okay, so this is a shenzen issue. I'll post there. Thanks

[2015-02-13 01:23] egold commented on #41
Actually re-opening, I think it's a fastlane issue in hockey.rb:

[code]

[2015-02-13 09:55] carlosefonseca opened #42 "Wrong new lines on ipa action"
Hi!

I'm doing `sh "ipa…"` on fastlane and I'm getting weird wrapping on the logs… not sure what could be happening…

![](https://dl.dropboxusercontent.com/s/0ifct141e1alq2t/Screen%20Shot%202015-02-13%20at%2009.46.19.png?dl=0)

I am using joshdholtz's pull request but I have my doubts that he touched on print code… also I am aware that you've added an `ipa` command to `Fastfile` but the pull reque

[2015-02-13 10:40] KrauseFx commented on #41
Okay, please just pass the path to your `dsym` to hockey.

[code]

Also, check out the README, there is now an `ipa` action, which uses `shenzhen` to build your app, without having to use `sh 'ipa build'`

[2015-02-13 16:38] KrauseFx commented on #42
Thanks, I saw the same problem, but haven't had the time to look into it (it still works, it just looks odd)

[2015-02-13 17:24] egold commented on #41
OK great, thanks @KrauseFx. I'll check into that

[2015-02-13 18:03] litso commented on #35
What are the cases where you wouldn't want the build number committed to the repo?

[2015-02-15 16:48] KrauseFx commented on #35
I always want this commited, but what happens if the Jenkins job is run for each commit? Also, we can't just commit all changed files, since some setups may modify the project before building the app.

What do you suggest?

[2015-02-16 08:17] KrauseFx opened #45 "[Important] Improve passing of parameters for all tools"
Some tools, like `sigh` can only be passed some of the available command like options, not all of them.

Also, sometimes users want to have a parameter for a tool, for which there is already an environment variable available (https://github.com/KrauseFx/sigh/issues/45)

There needs to be a more unified way:

There are 5 ways to pass configuration to the individual fastlane tools (ordered):

- Comm

[2015-02-16 08:19] KrauseFx commented on #45
This would result in **one** class of each tool, defining all available options, with a short description of what they're for.

We then iterate through all available options and pass it to `commander`

[2015-02-16 08:33] KrauseFx opened #46 "Move out all shared code"
Move all shared code into its own gem:

- [x] Init Poltergeist
- [x] iTunes Connect Login
- [x] Apple Dev Portal Login and Team Selection
- [x] Update Manager
- [x] Available languages (`deliver` and `snapshot`)
- [x] Helper class

[2015-02-16 11:55] rais38 opened #47 "You have to pass a valid version number using the Deliver file. (e.g. 'version "1.0"')"
I'm trying to send version to TestFlight (iTunes Connect) with this `lane`:

[code]

And this `Deliverfile`:

[code]

A few days ago I could upload version without problems ...Now is required to specified the version in `Deliverfile`?

[2015-02-16 16:02] JaniJegoroff opened #48 "Colour codes included in slack message"
Looks like exception message comes through with colour codes. See **[33m** and **[0m** in the screenshot:

![fastlane-slack-color-code](https://cloud.githubusercontent.com/assets/2363231/6214595/97a95eb4-b5f1-11e4-855c-eb926cfa8b4b.png)

Can we somehow prevent it so that STDOUT prints are still coloured?

**Steps to reproduce**
Given I have following Fastfile defined:
[code]
When I execute `bundle

[2015-02-16 16:22] joshdholtz commented on #45
@KrauseFx How does this effect #28 since that is added listening in an the `--env` option? I'm all for improving this! Just curious :grin:

[2015-02-16 17:41] rais38 commented on #47
If I include the version in the `Deliverfile` if it works ... This is correct?

[2015-02-16 21:24] KrauseFx commented on #47
Well, it should fetch the version number from the `ipa` file. Looks like `deliver` has issues detecting the version number.

[2015-02-17 09:12] vidurpunj commented on #26
I have the same problem can you tell me to which Ruby version you have updated to.

[2015-02-17 09:39] KrauseFx commented on #26
Which OS are you using? Can you run `ruby -v`?

[2015-02-17 12:36] KrauseFx commented on #48
That's my fault, I have some code like https://github.com/KrauseFx/fastlane/blob/master/lib/fastlane/fast_file.rb#L8, which adds the `.red` to the error messages.

This was used across all other tools as well.

I like the idea of showing the error message inside the slack message.

How would you suggest can we fix this problem?

[2015-02-17 13:23] JaniJegoroff commented on #48
Yeah, it's a side effect of using gems like `colored`. I had initial look yesterday but could not find a proper solution (yet) where messages are coloured in the console but "plain" inside exceptions.

[2015-02-17 15:01] KrauseFx commented on #47
Might be caused by too many plist files:

https://github.com/KrauseFx/deliver/issues/73

I need more information about the extracted ipa file to solve this problem.

[2015-02-17 15:05] KrauseFx commented on #46
Started: https://github.com/KrauseFx/fastlane_core

[2015-02-17 15:13] rais38 commented on #47
I can see in generated `ipa` file there are some `plist` files:

* For own consumption of the app in the root of `.app` folder
* Inside each storyboards of the app
* In the localization folders (`en.lproj`, `es.lproj`...)
* And only one Info.plist in the root folder with the relevant information `CFBundleShortVersionString`, `CFBundleVersion`...

This information can help you?

[2015-02-17 16:57] KrauseFx commented on #46
Integrate with tools

- [ ] deliver
- [ ] snapshot
- [ ] frameit
- [ ] PEM
- [ ] sigh
- [ ] produce
- [ ] cert

[2015-02-17 17:20] KrauseFx opened #49 "Feature: Xcode Plugin"
Trigger fastlane right inside Xcode and show the output in Xcode.

[2015-02-17 19:02] bassrock opened #50 "Select Xcode Version"
With all the latest Xcode betas it would be great if we could have an option to select the Xcode version to use.

[2015-02-17 19:03] KrauseFx commented on #45
There are 3 ways to pass configuration to the individual fastlane tools:

- Configuration file (only for `snapshot` and `deliver`)
- Command line parameter (e.g. `deliver -u felix@krausefx.com`)
- Environment variables

The user should be able to set every option in all 3 ways.

[2015-02-17 19:04] KrauseFx commented on #50
As far as I know you can set it using `xcode-select --switch <path>`. Does that work for you?

[2015-02-17 19:06] bassrock commented on #50
That could work but I believe that needs to be run as sudo. will fastlane support that?

[2015-02-17 19:07] KrauseFx commented on #50
It should. Can you try: `sh "xcode-select --switch ..."` and run fastlane with `sudo`? If that won't work, try adding `sudo` in front of `xcode-select`.

[2015-02-17 19:32] dfranzi commented on #45
I'm finding this to be particularly important with sigh, as it'd be great to be able to specify the file name and output directory from within fastlane when fetching provisioning profiles.

[2015-02-17 19:34] KrauseFx commented on #45
I completely agree. Any feedback appreciated! I want to get this right when working on this issue.

[2015-02-17 19:42] dfranzi commented on #45
I've just started diving into developing a pipeline with fastlane, so I don't have the best insight into all use cases yet. With sigh in particular, I'd want to be able to define parameters per lane. The usage that I see would involve updating the sigh action to work with parameters in a similar manner to produce. This would enable me to define the parameters inline to the call, or as environment

[2015-02-17 19:49] bassrock commented on #50
AH! better option that can be added to the readme: https://github.com/facebook/xctool/issues/193
Just add the following in the before all:

[code]

[2015-02-17 19:49] #50 closed

[2015-02-17 19:50] KrauseFx commented on #50
Wow, nice find! Where could I add this to the documentation? `fastlane` README?

[2015-02-17 19:50] bassrock commented on #50
Yea probably the best place.

[2015-02-17 19:53] KrauseFx commented on #50
Here we go: https://github.com/KrauseFx/fastlane/commit/ed6e7f493c5a5c7dcee1ac4ceb8e455587d0cd68

Thanks for letting me know :+1:

[2015-02-17 20:12] dfranzi opened #52 "Reduce size of HipChat icon image."
Using the HipChat action, the messages sent include the fastlane icon. This icon is huge and often much larger than the contents of a message, excluding errors with long stack traces. It'd be great to reduce the size of the image used for this to more cleanly fit with more average-sized messages.

![fastlane_hipchat_icon](https://cloud.githubusercontent.com/assets/1900547/6236283/23e45120-b69e-11e

[2015-02-17 21:16] KrauseFx commented on #52
Looking at the code, its width should only be 50px: https://github.com/KrauseFx/fastlane/blob/master/lib/fastlane/actions/hipchat.rb#L30

Maybe @jingx23 can help?

[2015-02-17 21:30] #46 closed

[2015-02-17 21:52] dfranzi commented on #52
A quick test seemed to show that the style section of the img tag was not taking effect. I replaced the tag with:

[code]
and the image was properly resized with the next message. This isn't as future-proof, since it's explicitly setting the dimensions of the height as well, but does the trick.

[2015-02-17 21:58] dfranzi commented on #52
Ah, this is a bit old, but may indicate the issue: https://twitter.com/hipchat/status/309704328229298177

I'll create a pull request with the update.

[2015-02-17 21:59] KrauseFx commented on #52
I think it's quite odd to just put in HTML code. Thanks for providing a pull request :+1:

[2015-02-17 22:23] #52 closed

[2015-02-17 22:30] #42 closed

[2015-02-17 22:35] KrauseFx opened #55 "lane must fail if ipa action fails"
[code]

[2015-02-18 09:56] #55 closed

[2015-02-18 11:54] KrauseFx commented on #45
Right now, it's not clear which environment variables to use: https://github.com/KrauseFx/cert/issues/1#issuecomment-74852448

[2015-02-18 12:43] aafa commented on #39
Can confirm.  Having special characters in password is leading to this error. Alpha-numeric password works fine.

[2015-02-18 13:12] KrauseFx commented on #45
The current plan is to provide a `ConfigurationManager`-Class in the `fastlane_core`, which each individual tool can call with its available options.

From then on, each tool can call the `ConfigurationManager` and ask for specific values. If there was no command line option given, no configuration in the configuration file and no environment variable, it will ask the user for the value and show i

[2015-02-18 16:27] barrettj opened #58 "Support the resign command of Sigh"
It'd be nice if we could use the resign command of sigh without having to call the command manually with system.

[2015-02-18 17:19] XBeg9 opened #59 "undefined method `classify' for custom action"
[code]

After update to latest fasten, I got this:
[code]

[2015-02-18 17:21] KrauseFx commented on #59
Could you run `sudo gem update fastlane_core` and see if that fixes the problem?

[2015-02-18 17:23] XBeg9 commented on #59
@KrauseFx
[code]
current version is fastlane-0.1.9

[2015-02-18 17:32] KrauseFx commented on #59
I just copied your action and it's working fine. Could you post the full stack trace?

[2015-02-18 17:49] XBeg9 commented on #59
@KrauseFx
Sure,
[code]

[2015-02-18 18:08] #59 closed

[2015-02-18 18:08] KrauseFx commented on #59
Great, that helped. I pushed a fix. Please install it using `sudo bundle install && sudo rake install` and let me know if that fixes your problem :+1:

Also, would you like to submit your action as official `fastlane` action?

[2015-02-18 18:59] XBeg9 commented on #59
@KrauseFx yes, thanks for fast fix. I like xcpretty more than xctool, so yes, we can publish it. But first I think we need to polish it a bit.

[2015-02-18 22:41] KrauseFx commented on #59
Just published a release: https://github.com/KrauseFx/fastlane/releases

That sounds interesting. If you don't mind sharing them, I'd be happy to include them in `fastlane`.

[2015-02-18 22:47] dtrenz opened #62 "Deploy to Crashlytics Beta fails."
It appears that some fatal error happens when the Crashlytics plugin is initialized, but I can't seem to figure out anything else based on this error & stack dump. Help is greatly appreciated.

![image](https://cloud.githubusercontent.com/assets/639833/6258373/00851bf8-b796-11e4-9048-ee1817fab350.png)

[2015-02-18 22:48] KrauseFx commented on #62
Does the same happen if you run [shenzhen](https://github.com/nomad/shenzhen) Crashlytics by itself?

[2015-02-18 23:05] dtrenz commented on #62
I figured out the issue. I took ```crashlytics_path: './path', # path to your 'Crashlytics.framework'``` to mean the path to the folder where the framework exists, NOT the path to the framework itself.

[2015-02-18 23:06] KrauseFx commented on #62
But the error message is wrong. It shouldn't say, that it can't find `say_error`

[2015-02-18 23:10] dtrenz commented on #62
I assumed that meant that it was trying to call an error logging method that didn't exist so that it could report that actual error. I agree that this should be fixed.

I will submit a PR to at least clarify slightly the usage of the crashlytics_path param in the README example.

[2015-02-19 18:54] fastlane-bot opened #1756 "Support Web App Ids"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/1010384?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @bassrock - Imported from <a href='https://github.com/fastlane/pem/issues/25'>fastlane/pem#25</a>
        </td>
      </tr>
    </table>

I just tried to download a Web App Push Certificate. It failed when it tried to find

[2015-02-19 21:32] bassrock opened #64 "Submit existing iTC builds to Review instead of uploading a new one"
So when looking at the Fastane configuration, i am not sure if it makes sense with the new Apple TestFlight. The new Apple Testflight lets you take a beta build and then make it the live build.

I propose the beta flow uploads the correct metadata for what the new version will be, with the snapshots and all. And then the App Store flow would basically just auto mark the beta upload to be the live

[2015-02-19 21:34] KrauseFx commented on #64
I agree, it would make sense to submit the same build for review, which you already had in TestFlight.

How would we approach this? Right now, `deliver :testflight` will only upload the `ipa` file, and no metadata or screenshots.

Not sure, if there is a big advantage is submitting the same build?

[2015-02-19 22:23] dtrenz opened #65 ""Complex Fastfile example" omits creation of an *.ipa"
Correct me if I'm wrong, but the ["Complex Fastfile example"](https://github.com/KrauseFx/fastlane#complex-fastfile-example) appears to omit the **ipa** action and will fail to deploy.

[2015-02-19 22:23] KrauseFx commented on #65
Good point, I should add the `ipa` action to the example. Thanks for letting me know :+1:

[2015-02-19 22:24] #65 closed

[2015-02-19 22:25] dtrenz commented on #65
Thanks for the quick response! :hamburger:

[2015-02-20 00:11] bassrock commented on #64
So i think the ```deliver :testflight``` should change so that it does include the metadata, because a test flight push now actually sets up the store page as it would normally.

Then when you do a ```deliver :appstore``` all that would happen is you would get a list of all the "active" builds in iTunes Connect that can be submitted and then you select the one to make app store official. This step

[2015-02-20 09:37] KrauseFx commented on #64
I'm not sure I completely agree. This would also mean, you have to use Apple TestFlight, which many people don't.

[2015-02-20 16:31] bassrock commented on #64
Fair point. But I think this workflow situation should be supported. And for those that don't use test flight it should do the same like ur suggesting by using the same build somehow

[2015-02-20 16:57] iosdeveloper opened #66 "Promo codes"
Since this is so far the only alternative for https://github.com/kovpas/itc.cli that still works, I suggest implementing promo code generation (https://github.com/kovpas/itc.cli/tree/archive#promo-codes). It was really useful and a great time saver.
@KrauseFx @blach

[2015-02-20 17:01] iosdeveloper commented on #66
I'd be more than happy to sponsor this, if anyone wants to take a shot at it.

[2015-02-20 17:14] almassapargali commented on #45
Hello, I think it may be a little late, since we already make a big use of `ENV`, but I'd propose to use `ENV` only for sensitive information.

For other information I think we should take from configuration file, fastlane options, and command line arguments (the latter overwrites former). What do you think of this?

[2015-02-20 17:15] KrauseFx commented on #45
Why wouldn't we also allow passing of **any** information from the environment?

[2015-02-20 17:16] almassapargali commented on #45
I don't know, just think would be nice to have one place of input.

[2015-02-20 17:17] almassapargali commented on #45
Also maybe use something like [this](https://github.com/KrauseFx/produce/blob/master/lib/produce/config.rb) but generalised for all tools?

[2015-02-20 17:17] almassapargali commented on #45
Ok, I'll check out how other established tools (`cocoapods`, `homebrew`, etc.) handles this and write back.

[2015-02-20 18:22] blach commented on #66
I would also be willing to help sponsor this.

[2015-02-21 14:17] KrauseFx commented on #58
Sorry for not answering earlier. Absolutely, I totally agree. This should be fixed once we decided how to further work on the API of all tools: https://github.com/KrauseFx/fastlane/issues/45

[2015-02-21 14:23] KrauseFx opened #67 "[Feature] Add dependencies between actions"
[code]
or
[code]

should raise an exception, since it's obviously the wrong order of tools. I think there should be a new command, which you can put on the top of the `Fastfile`, something like

[code]

which will not raise an exception (in case you have some complex nested calls)

The exception should be raised when running the script and entering the `sigh` action, which sees, `ipa` was already

[2015-02-21 14:25] KrauseFx opened #68 "[Refactor] Remove fastlane context and replace it with environment variables"
Since the environment variables are not passed from `fastlane` to the parent process after execution, we could easily use the `ENV` to store the lane context.

Big advantage is, that all values inside `ENV` are also accessible for all actions. Disadvantages are possible naming conflicts and not being able to store complex objects, but only strings.

[2015-02-21 14:27] KrauseFx opened #69 "[Feature] pass provisioning profile ID from sigh to ipa action"
Use the lane context to pass this value.

[2015-02-21 16:09] champo commented on #67
Maybe commands is not the best idea? Since I could have a custom action that does sigh-like things. But rather, require that actions declare their inputs and outputs, and match those?

[2015-02-21 16:11] champo commented on #69
Isn't this supported already? I've got:
[code]

[2015-02-21 16:13] KrauseFx commented on #69
Currently the lane context is used (a ruby hash).

Instead of writing
[code]

you could write
[code]

or even better, skip that line alltogether.

[2015-02-21 17:24] almassapargali commented on #67
Maybe just don't care and let commands run in there order user declared. And let it fail if some inputs incorrect, like user wants to create push certificate, but not created app yet, etc. :imp:

[2015-02-21 17:48] KrauseFx commented on #67
@almassapargali agree, that's possible the easiest and most stable way. Maybe we should close this issue.

[2015-02-21 17:49] KrauseFx commented on #68
Via @viktorbenei https://github.com/steplib/steplib/issues/68

[2015-02-21 18:32] joshdholtz commented on #68
Hmm, I'm not sure actually. I personally don't think there is anything wrong with either approach. I do like the flexibility that the fastlane context can hold any object 😇

[2015-02-21 18:49] joshdholtz commented on #67
@krausefx I agree. I don't think command dependency is necessary. Sounds like it be over engineering at the moment 😁

[2015-02-21 22:32] milch commented on #68
How about just shadowing the ENV variables in the lane context? This wouldn't sacrifice the lane context's flexibility and would also remove the need to use both everywhere.

[2015-02-21 23:22] KrauseFx commented on #68
How would that handle complex objects in the `fastlane` context?

[2015-02-22 00:58] KrauseFx commented on #66
Thanks @iosdeveloper @blach, we're already in email contact and will finish and release this feature over the next few days :+1:

[2015-02-22 09:26] milch commented on #68
The "new" lane context I'm proposing would have the following logic on key lookup:

- Look up the key in the lane context's Hash
- If there was an object returned, return that
- Look up the key in ENV
- Return the result of that

The complex objects would just be stored in the Hash (and could even overwrite values from ENV)

[2015-02-22 13:15] viktorbenei commented on #68
I like what @milch proposes and I'm not that deeply involved with fastlane tools so far, one thing to consider (based on our project @KrauseFx linked) is how much you care about integration with other tools. What we try to solve with the https://github.com/steplib/steplib project is to connect tools no matter what technology it's built with (can be a bash script, ruby, Go, binary, ...). In that ca

[2015-02-23 12:54] powtac opened #72 "Documentation - ipa vs. ipa (shenzhen)?"
In the Readme.md, in the [list of tools](https://github.com/KrauseFx/fastlane#ipa) there is `ipa` listed. For me it unclear if this referes to a fastlane tool or to [shenzhen](https://github.com/nomad/shenzhen).

![unbenannt](https://cloud.githubusercontent.com/assets/36167/6328046/417b5cfa-bb63-11e4-95cc-1ae39f692c39.PNG)

[2015-02-23 13:00] KrauseFx commented on #72
Good point, I'll make the README clearer. It's `shenzhen` under the hood!

[2015-02-23 13:01] #72 closed

[2015-02-23 13:01] powtac commented on #72
Thanks - good to know! I was searching for the fastlane "ipa" documentation and realized it was not there.

[2015-02-23 13:20] powtac opened #73 "Documenation - add list of fastlane terminology"
I think so far fastlane makes an excellent job of using good terminology for their APIs and documentations. But fastlane also uses several terms that could be understood or are understood differently in other projects. Maybe a list of words, on an extra page, could help a little to define how some terms are understood (differently) in the fastlane universe. Nothing long. But one sentence about wha

[2015-02-23 14:24] KrauseFx commented on #67
Okay, I'll close this issue for now.

[2015-02-23 14:24] #67 closed

[2015-02-23 14:51] KrauseFx commented on #73
I agree. I'm currently not happy with the README, I think I'll move all available actions into its own `.md` file (as it's already the case at the `deliver` project)

When doing this refactoring, we should also add a documentation about those words.

[2015-02-23 14:55] KrauseFx opened #74 "[Feature] Draw branch/version number onto app icon"
There are some great scripts already available.

Running
`fastlane new_action`

and adding the existing scripts should all that's necessary.

[2015-02-23 16:41] KrauseFx opened #75 "[Refactor] Provide a fastlane wide app chooser"
Right now it's still mixed across all tools. Almost every tool needs a specific app ID.

Move all the into `fastlane_core` and also provide a selection of available bundle identifiers. This should be possible by accessing the iTunes Search API and filter by Artist ID.

[2015-02-24 07:22] bassrock opened #76 "Extension Support"
I finally got to getting fasten setup for my Xcode project properly. However when I have the following lane defined:

[code]

Sigh does not download and install the provisioning profiles for my Today View Extension. I had to manually set up the provisioning profile for it and then it would build with fastlane on my local machine.

Is this expected behavior and is it possible to have fastlane make

[2015-02-24 07:35] bassrock commented on #76
Correction to the above: It does not work after getting the provisioning profile manually.

I am getting an error with the validate step of the build process:

[code]

[code]

[2015-02-24 08:06] bassrock commented on #76
Ok weird. something was resetting the CodeSign Identity of the extension and now it has stopped and builds.

Also got the provision profile for the extension installed by:

[code]

Still a way without sh to sigh would be cool! Great job on the tools!

[2015-02-24 10:17] KrauseFx commented on #76
Why do you need to run `sh` for the last posted code snippet?

If it's just because you want a different app identifier, use:

[code]

Does that help?

[2015-02-24 14:36] vytis commented on #18
I have found an easy way to reproduce it with this lane (`.ipa` file is already present in the directory and `Deliverfile` simply points to that file):

[code]

At first `sigh` asks me for Developer's Portal account, but then fails to login to iTunesConnect because it doesn't ask it again but uses the previous account.

[2015-02-24 16:47] bassrock commented on #76
Ah did not realize I could do it like that. Thanks!

[2015-02-24 16:50] #76 closed

[2015-02-25 16:49] dtrenz commented on #39
+1 Also, having this issue with a password that contains the following non-alphanumeric chars: [?{,$=+(

[2015-02-27 15:43] KrauseFx commented on #66
Forgot to update the issue status. The tool is available now: https://github.com/KrauseFx/codes :+1: Thanks again for sponsoring this functionality.

[2015-02-27 15:43] #66 closed

[2015-02-27 15:43] #62 closed

[2015-02-27 15:44] KrauseFx commented on #48
How about for now, just pass a third parameter, which is the error string without the color code, using the code you posted.

[2015-02-27 16:17] fastlane-bot opened #1629 "Missing code-signing certificate"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/2201079?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @bilby91 - Imported from <a href='https://github.com/fastlane/deliver/issues/118'>fastlane/deliver#118</a>
        </td>
      </tr>
    </table>

Hello,

I'm having some issue trying to make deliver work. I build my IPA w

[2015-02-27 16:49] pcardoso opened #79 "Execution fails on fastlane-0.1.14"
I installed the gem without any issues, but executing the fastlane command would fail with this message:

```/Library/Ruby/Gems/2.0.0/gems/fastlane-0.1.14/bin/fastlane:12:in `<class:FastlaneApplication>': uninitialized constant Commander::Methods (NameError)
	from /Library/Ruby/Gems/2.0.0/gems/fastlane-0.1.14/bin/fastlane:11:in `<top (required)>'
	from /usr/bin/fastlane:23:in `load'
	from /usr/bin

[2015-02-27 17:24] KrauseFx commented on #79
That's weird, I'll take a look at it.

[2015-02-27 17:35] joshdholtz commented on #79
@pcardoso Do you have multiple version of Ruby installed at all? Or installed `fastlane` in the wrong gemset? I use RVM and this happens to me sometimes. Not sure if this is the case but just asking to rule it out :grin:

[2015-02-27 23:01] pcardoso commented on #79
@joshdholtz No rvm, just a stock Yosemite install. I haven't yet started to mess with the defaults. :)

[2015-02-27 23:23] KrauseFx commented on #69
Sorry, I misunderstood your recent comment.

What I meant was:

[code]

You can now access the UDID of the provisioning profile, to set it in your Xcode project. This is implemented with the most recent release.

[2015-02-27 23:23] #69 closed

[2015-02-28 09:53] #8 closed

[2015-03-01 14:27] gabu commented on #40
:+1:

[2015-03-02 11:45] JaniJegoroff commented on #48
Suits for me.

[2015-03-02 18:29] bassrock commented on #35
You could keep the version number in some sort of lock file that specifies the commit it was built for. Then when you re commit you only need to commit that lock file. Also fast lane could compare the commit and only build and increment if it was more than the lock file changed?

[2015-03-02 23:09] PaulTaykalo opened #85 "[HOW-TO] Some explanations on signing/certs/provisioning are needed"
Hi there.
Tried fastlane today, read all possible docs :)  Maybe not enough, and I missed somethings
So here's few questions I want to clear out:
Let's say we want to submit an app in the AppStore
1.  Should we create an .ipa first, and then resign in by using `sigh` ?
2.  Now in  provided example https://github.com/KrauseFx/fastlane-example/blob/master/fastlane/Fastfile#L50-L54 we have next code:

[2015-03-03 09:38] KrauseFx commented on #85
I agree with you, there should be a better example. Have you seen this setup? https://github.com/krausefx/fastlane-example

1) You first have to use `sigh` to get the provisioning profile. Then run `ipa` to build and sign the app
2) `deliver` will not do anything building/signing related automatically. Instead check out the available environment variables https://github.com/krausefx/fastlane#lane-

[2015-03-03 10:15] PaulTaykalo commented on #85
Yep, I saw https://github.com/krausefx/fastlane-example :) And some other examples from other guys :)
1) Ok. The reason I was asking - is that in example - ipa build is in before_all section ) So I wasn't sure, if I am missing something
2) I was tried to do this in `Deliverfile`, but I failed (Well, I wasn't able get data from the context)  I added this step into `Fastlane` file. I edned up with t

[2015-03-03 10:43] fastlane-bot opened #1628 "Deliver successfully submits app in AppStore. But think that there was a failure"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/119268?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @PaulTaykalo - Imported from <a href='https://github.com/fastlane/deliver/issues/124'>fastlane/deliver#124</a>
        </td>
      </tr>
    </table>

So `deliver` actually succeeds. But it thinks that there was a failure

[2015-03-03 13:28] lmirosevic commented on #18
:thumbsup: I'm also a member of multiple teams with a single email on the Member Centre on developer.apple.com. And I use different emails for each of the related iTC accounts on itunesconnect.apple.com (out of necessity as iTC doesn't support multiple accounts under one email address).

Would be nice if fastlane would support this use case!

[2015-03-03 14:47] KrauseFx commented on #18
@lmirosevic as far as I know, you can always add a `ENV["DELIVER_USER"] = "email@email.com"` before each of the steps.

[2015-03-03 18:00] eytanbiala commented on #55
Hi, how do you fix the "Check dependencies" issue?

[2015-03-03 18:34] KrauseFx commented on #55
That's an issue of [shenzhen](https://github.com/nomad/shenzhen)

[2015-03-03 18:37] eytanbiala commented on #55
Got it, thanks!

[2015-03-03 22:36] edwardlafoy opened #87 "update_project_code_signing"
ended up tracking this down: `File.write(path, p.gsub(/PROVISIONING_PROFILE = ".*";/, "PROVISIONING_PROFILE = \"#{udid}\";"))`

If no profile is selected this line won't exist

Thoughts on improving this?

[2015-03-03 23:29] KrauseFx commented on #87
I agree, that's why this feature is not listed and documented anywhere yet. I haven't had time to work on a better, cleaner solution yet.

[2015-03-04 00:59] ehlersd opened #88 "Multiple "Branded" Targets of same underlying App"
My first solution was to setup a separate Fastfile for each branded target....but I'm not seeing a way to specify the Fastfile to use with fastlane.

I'll be integrating shortly with Jenkins (just trying to get a manual process working first).

So, what would be your recommendation as to the best way to setup and utilitize fastlane?

Thanks in advance...

[2015-03-04 01:32] joshdholtz commented on #88
Hey @ehlersd ,

I think I should be able to help you out here.

## :warning: Official Answer :warning:
A PR of mine was just merged into master a few days ago (I don't think the gem has been pushed out yet) that allows for multiple environments using `dotenv`.

Ex: `fastlane beta --env brand1` or `fastlane beta --env brand2`
Here is a gist with that example: - https://gist.github.com/joshdholtz/aa

[2015-03-04 01:36] ehlersd commented on #88
Awesome!  Great answer...thx!

[2015-03-04 01:37] joshdholtz commented on #88
**Note:** The `fastlane-env-lanes` also loads the different `.env` files like my PR does. It just loads it differently `:brand` instead of `--env brand`.

Let me know if you need any more help with setting anything up! Always available to help :grin:

[2015-03-04 04:23] jonnyijapan opened #89 "Step by step Jenkins setup for sending .ipa to Apple iTunes Connect Testflight"
I am trying to get Fastlane/Deliver to upload a .ipa to Apple iTunes Connect Testflight... using Jenkins. I have tried lots of options back and forth and have yet to succeed. I can't say even that I got things working 100% from the command line, although I have sometimes seen better success there.

Some things:

- when using Jenkins, we shouldn't really have to use settings files like Deliverfile,

[2015-03-04 04:55] nathanclevenger opened #90 "Adding Application Services/Entitlements"
Hello -

I've got a full fastlane process in place, but there is one gap.  While PEM adds the Push Notification services in addition to just creating the certs, since my app uses a couple of additional application services, including iCloud and Apple Pay, if I don't manually add those prior to sigh executing then deliver fails due to invalid entitlements.

First off, does fastlane have support for

[2015-03-04 05:10] joshdholtz commented on #79
@KrauseFx Is this issue fixed with this commit? https://github.com/KrauseFx/fastlane_core/commit/8325a0dfc2f7f4fd6d8e0a985ee52ef76ccc6ece

[2015-03-04 05:12] joshdholtz commented on #41
@egold Is this issue resolved for you? If not, I can look into it further :grin:

[2015-03-04 05:13] joshdholtz commented on #40
@champo Did that solution work for you? Just curious cause doing some issues cleaning :grin:

[2015-03-04 05:15] joshdholtz commented on #37
@carlosefonseca Just checking in to see if this issue is resolved for you. Felt like doing some issue house cleaning tonight :innocent:

[2015-03-04 09:48] KrauseFx commented on #37
I don't think this is resolved, since the `snapshot` actions in `fastlane` still doesn't allow passing of parameters, right?

But yah, this really is related to https://github.com/KrauseFx/fastlane/issues/45

[2015-03-04 09:49] #40 closed

[2015-03-04 09:49] KrauseFx commented on #40
Yes, this worked, let's leave it like this for now :+1:

[2015-03-04 09:49] #41 closed

[2015-03-04 09:49] KrauseFx commented on #41
Feel free to re-open the issue if you're still experiencing this issue :+1:

[2015-03-04 09:50] KrauseFx commented on #79
I hope so. Let's close the issue for now.

[2015-03-04 09:50] #79 closed

[2015-03-04 09:51] KrauseFx commented on #90
Hey, that's right, the tools do not support the additional services you mentioned. Honestly, I can't tell you where this would belong to, probably `PEM` I guess.
I haven't used those services myself, so it's hard to tell for me. What do you suggest?

[2015-03-04 09:52] KrauseFx commented on #88
@joshdholtz being awesome again :rocket: :grinning: How about putting this information into its own `.md` file in the repository and link to it from the README?

[2015-03-04 10:26] KrauseFx commented on #89
First off, the configuration files do make sense: You store that **once**, but not in the Jenkins job, but in a text file, which is stored in version control. You are then able to run `deliver` or `fastlane` from **any** computer, no matter if it's a CI-server or your local machine.

If you've read through the docs, you probably also found this guide? https://github.com/KrauseFx/fastlane/blob/mast

[2015-03-04 10:28] carlosefonseca commented on #37
If you want you can close this and keep everything on #45.

[2015-03-04 10:29] KrauseFx commented on #37
Probably makes sense, thanks :+1:

[2015-03-04 10:29] #37 closed

[2015-03-04 11:41] nathanclevenger commented on #90
I was leaning towards PEM myself since it already adds the services for Push, and it seems like the right place in the overall workflow (after initial app id creation but before provisioning profile creation).  It will have to call `open_app_page` a second time because you get booted back to the list screen, as well as create an equivalent method to `fetch_cer_file` for the other services.  Finall

[2015-03-04 12:16] joshdholtz commented on #88
@KrauseFx I can do that! :fist: Let's keep this issue open until I do that

[2015-03-04 19:54] egold commented on #41
Yeah things are fine now that I specify the `dsym` param like you suggested above. Thanks! :+1:

[2015-03-04 20:44] jhuggart opened #91 "Dependency issues when calling produce and sigh in a loop."
First, the issue:

I have an array of clients. Each have different assets, bundle id, and app name. The lane that I'm working in looks like this:

[code]

The first time through the loop, everything runs beautifully. However, the second time through the loop, I get:

[code]

The problem is that `FastlaneCore::DeveloperCenter` exists in both `sigh` and `produce` and, as you can see from the stack t

[2015-03-04 20:51] joshdholtz commented on #91
@KrauseFx It appears all code in each tool should be completely wrapped in a separate module so that there is no overlapping in namespacing?

I haven't touched this part of the toolchain yet but it seems like we could do something like this?

### Example for sigh
[code]

[2015-03-04 20:54] jhuggart commented on #91
@joshdholtz That's what I was thinking. But wasn't sure if it would break anything or not.

[2015-03-04 20:56] joshdholtz commented on #91
@jhuggart Only one way to find out!

@KrauseFx Do you want to give that shot? Or should I? I haven't touched `product` or `sigh` but this seems like an alright time to do that probably :grin:

[2015-03-04 21:01] KrauseFx commented on #91
Just a little background information why this was implemented like this:

There are a lot of helper methods and initialisation in the `DeveloperCenter` class. I guess I got the basic architecture wrong, since I always just include the `DeveloperCenter` from `fastlane_core` when I need it.

I don't know if and how it works if we use a sub-module? Can we still access the helper methods?

[2015-03-04 21:01] joshdholtz commented on #91
@KrauseFx Should be able to... I can play with it later tonight though

[2015-03-04 21:02] KrauseFx commented on #91
This would really help. If you got it to run for one of the tools (`sigh`, `PEM` or `produce`) that would really help :+1:

:rocket:

[2015-03-04 21:03] joshdholtz commented on #91
@KrauseFx Which one has the best unit tests? :innocent: Cause that is the one I will do first

[2015-03-04 21:04] KrauseFx commented on #91
Uiiii :see_no_evil: All the tools which only do web scripting don't have unit tests at all :see_no_evil:

[2015-03-04 21:05] joshdholtz commented on #91
`sigh` it is!

[2015-03-04 21:07] jhuggart commented on #91
@joshdholtz @KrauseFx Thanks for the quick replies. Let me know if I can help out at all.

[2015-03-05 04:01] joshdholtz commented on #91
@jhuggart @KrauseFx I was able to replicate with the `Fastfile` and stacktrace below... So now I can begin to debug/fix it :grin: :tada:

[code]

[code]

[2015-03-05 04:50] joshdholtz commented on #91
@jhuggart @KrauseFx I got my above example to loop through four times and pass (see output below). What I ended up doing was instead of modifying the `fastlane_core` classes, I created classes under the tools' modules (`FastlaneCore::DeveloperCenter` became `Produce::DeveloperCenter`) and extended them with the `fastlane_core` classes (see below)

[code]

## Pull Requests
- `fastlane` PR - https:/

[2015-03-05 09:50] KrauseFx commented on #45
Started with the pull request: https://github.com/KrauseFx/fastlane_core/pull/8

Will take a few more days until fully finished :rocket:

[2015-03-05 10:25] JaniJegoroff opened #93 "Can't find release 0.1.15 from Rubygems"
I can't see latest release (0.1.15) in Rubygems. Did you push it?

[2015-03-05 10:27] KrauseFx commented on #93
Thanks for letting me know, I really forgot to push it :disappointed: I hope the upload worked now, let me know if it's okay

[2015-03-05 10:27] #93 closed

[2015-03-05 10:33] JaniJegoroff commented on #93
Thanks, It's there now. :+1:

[2015-03-05 12:36] jhuggart commented on #91
:+1: Nice work @joshdholtz

[2015-03-05 13:31] KrauseFx commented on #91
Thank you @joshdholtz for finding a great and very simple solution :rocket:

I updated the remaining tools as well:

- https://github.com/KrauseFx/cert/commit/a5972ef454a6f195fe612a1e8c41b4ffdcdb0849
- https://github.com/KrauseFx/codes/commit/300061ab5cd0a2e9852c6abf050a038ddaef98ac
- https://github.com/KrauseFx/deliver/commit/97e0b9926c88a96c523599125f15d41d687c2dfc

I'll release a new version of

[2015-03-05 13:31] #91 closed

[2015-03-05 21:14] dtrenz opened #101 "Allow Shenzhen Crashlytics ENV vars"
The Shenzhen Crashlytics plugin supports ENV vars for:
- CRASHLYTICS_FRAMEWORK_PATH
- CRASHLYTICS_API_TOKEN
- CRASHLYTICS_BUILD_SECRET

The fastlane Crashlytics action requires that all of these are sent in via hash parameter, which negates the ability to use ENV vars. The assert_valid_* methods in the fastlane action should be modified to check for ENV vars as part of the validation.

Reference:

[2015-03-06 10:17] KrauseFx commented on #58
Implemented thanks to @lmirosevic: https://github.com/KrauseFx/fastlane/pull/94 :+1:

Expect a new release soon.

[2015-03-06 10:17] #58 closed

[2015-03-06 10:19] KrauseFx commented on #101
I agree, that needs to be updated.

[2015-03-06 11:23] KrauseFx opened #102 "[Feature] xcpretty integration"

[2015-03-06 18:24] almassapargali commented on #27
Ok, there is a way of getting those variables from command like using following command:
[code]
and you'll get this:
![screen shot 2015-03-07 at 12 12 59 am](https://cloud.githubusercontent.com/assets/1816725/6530903/111edf28-c45f-11e4-9607-57dad1a96f55.png)

Though, I'm not convinced that `fastlane` should handle this. If all you need is $INFOPLIST_FILE, I'd suggest declare it inside that script

[2015-03-06 21:52] cakl opened #103 "Unable to activate sigh-0.4.1"
Today I updated to fastlane x.x.16 and sigh 0.41. After the update I get the following error:

[code]
Is this an issue or what did I wrong?

[2015-03-06 21:54] KrauseFx commented on #103
That was my mistake. Can you run `sudo gem update fastlane`

[2015-03-06 22:01] cakl commented on #103
- Nothing to update

and still the same error (but thx for the awesome response time)

[2015-03-06 23:11] KrauseFx commented on #103
Sorry, maybe `sudo gem update fastlane_core`? Sorry about the troubles :disappointed:

[2015-03-06 23:19] cakl commented on #103
I tried ```sudo gem update``` and waiting on ```Updating cert``` since 20 minutes. Hope that helps. No problem for the troubles, thanks for your support.

[2015-03-06 23:20] KrauseFx commented on #103
20 minutes is far too long. Cancel it and try again please.

[2015-03-06 23:52] cakl commented on #103
```sudo gem update``` helped.

[2015-03-06 23:52] #103 closed

[2015-03-07 00:02] cakl opened #105 "fastlane xctool call with system()"
As there aren't different xctool-args files possible (for test, deploy etc.), I tried to call xctool with system:

[code]

output:
[code]

The xctool command without fastlane works without problems. Do I have to specify a workspace for fastlane or is this a bug?

[2015-03-07 09:34] KrauseFx commented on #105
The problem is probably the directory in which `fastlane` runs. You can add a `sh("pwd")` to get the directory. It is recommended to use `sh` instead of `system`.
The solution is, to just update the workspace to `../Strack.xcworkspace`. I hope that helps.

[2015-03-07 09:50] #45 closed

[2015-03-07 09:50] KrauseFx commented on #45
Everything except for the configuration file is finished :rocket:

[2015-03-07 12:24] #105 closed

[2015-03-07 18:41] stojanovicigi opened #106 "ipa command builds project twice"
I have a lane only with ipa command and my project has been built twice.
Here how lane looks like. I start the build with ```fastlane prod```.
The fastlane version is 0.1.16

[code]

[2015-03-07 21:29] KrauseFx commented on #106
Sorry, what is the problem? `fastlane` uses [shenzhen](https://github.com/nomad/shenzhen) under the hood.

[2015-03-07 21:52] joshdholtz commented on #106
What does your before block look like? I believe it will build twice if you are also using `xctool`

[2015-03-07 23:37] stojanovicigi commented on #106
With ```xctool``` it works good. The block build project only once, as expected.

Here how the block looks like with ```xctool```.

[code]

[2015-03-08 05:30] codesourse opened #107 "Going to download app metadata from iTunesConnect FATAL"
INFO [2015-03-08 13:25:37.78]: Going to download app metadata from iTunesConnect
FATAL [2015-03-08 13:25:37.79]: Could not download metadata from iTunes Connect. Do you have special characters in your password (Like ' or ")?
FATAL [2015-03-08 13:25:37.79]: Error occured with the setup program! Reverting changes now!

anyone can help me?

[2015-03-08 09:35] KrauseFx commented on #107
Does your password contain any special characters? There is an issue for that: https://github.com/KrauseFx/fastlane/issues/39

If not, is there any other error message shown? Is the xcode path set correctly?

[2015-03-08 16:55] KrauseFx commented on #9
I'll close this issue as duplicate of https://github.com/KrauseFx/fastlane/issues/39 and some others.

[2015-03-08 16:55] #9 closed

[2015-03-09 00:13] KrauseFx commented on #106
Sorry, we need more information to debug your issue here. Please post your full `Fastfile` and full stack trace when running `fastlane`.

[2015-03-09 00:14] KrauseFx commented on #88
@joshdholtz I'll assign the issue to you :wink:

I'll be working on the big refactoring of the `fastlane` documentation, so let's wait until that's finished.

[2015-03-09 00:16] KrauseFx commented on #85
Sorry for the delayed reply. I guess it would make sense to pass the profile path to the `ipa` action. The main problem here is, that only setting the profile path, does not make code signing work. You still have to set the code signing settings in your project.

Are there any more questions? Not sure if I missed something now :wink:

[2015-03-09 00:17] KrauseFx commented on #27
What's the current status here? I'll close the issue for now, feel free to re-open if you're still experiencing problems.

[2015-03-09 00:17] #27 closed

[2015-03-09 00:18] KrauseFx commented on #39
I'll close the issue as duplicate of https://github.com/KrauseFx/deliver/issues/79 in the `deliver` branch. Sorry about the hassles :disappointed:

[2015-03-09 00:18] #39 closed

[2015-03-09 02:35] stojanovicigi commented on #106
You can download or checkout [Fastlane Example](https://bitbucket.org/stojanovicigi/fastlane-example/downloads) project. The project has a script which automatically increase build number.

When you download the project, you should setup the project path in .env file before you run  ```fastlane prod``` command. You'll notice that build number increased by 2.

Looks like the ```ipa``` command build

[2015-03-09 09:24] codesourse commented on #107
my password is very simple

Going to download app metadata from iTunesConnect
FATAL [2015-03-09 17:22:40.79]: Could not download metadata from iTunes Connect. Do you have special characters in your password (Like ' or ")?
FATAL [2015-03-09 17:22:40.79]: Error occured with the setup program! Reverting changes now!
INFO [2015-03-09 17:22:40.79]: Deleting the 'fastlane' folder
/Library/Ruby/Gems/2.0.

[2015-03-09 15:45] champo opened #109 "fastlane crashes with gem conflcit"
Just updated to fastlane 0.1.19 and running it I got:

[code]

[2015-03-09 16:13] champo commented on #109
Turns out `gem update fastlane` doesn't update all the tools it depends on. Updating everything got it working.

[2015-03-09 16:33] KrauseFx commented on #109
That's weird, it **should** update the other tools. What tool didn't update? `sigh` or `cert`? The dependency I added should make use of the latest version: https://github.com/KrauseFx/fastlane/blob/master/fastlane.gemspec#L36

Do you know what's wrong?

[2015-03-09 16:35] champo commented on #109
I got that error with frameit, snapshot and pem. I then got tired and simply updated every tool in the fastlane family.

[2015-03-09 16:38] KrauseFx commented on #109
Thanks, I hope to get everything fixed with the next release :+1:

[2015-03-09 16:38] #109 closed

[2015-03-09 19:15] fatuhoku commented on #88
Would love to try this. Wow. iOS tooling has just got even more awesome. :beers:

[2015-03-10 00:52] fatuhoku opened #115 "Document that xctool can also be used to archive as an alternative to 'ipa' (Shenzhen)"
~~I experienced problems with xcodebuild / Shenzhen~~ EDIT: I have since just run xcodebuild and my problems turned out to be provisioning profiles. Sigh.

But still, wouldn't it be great if instead of archiving with shenzhen, you could choose to archive with `xctool` and still benefit from `Deliverfile` understanding `ENV[IPA_OUTPUT_PATH]`?

Or does this already? Does this just need documentation

[2015-03-10 04:38] KrauseFx commented on #115
Does this help you? https://github.com/KrauseFx/fastlane/pull/114/files

Everything except of https://github.com/KrauseFx/fastlane/pull/113 is already released with the latest version.

[2015-03-10 14:28] dtrenz commented on #115
@fatuhoku You can use the new [`xcodebuild`](https://github.com/dtrenz/fastlane/blob/xcodebuild-docs/Actions.md#xcodebuild) action to achieve this.

[code]

Full docs here: https://github.com/dtrenz/fastlane/blob/xcodebuild-docs/Actions.md#xcodebuild

[2015-03-10 15:03] dtrenz commented on #102
Xcpretty was introduced in the gemspec with `xcodebuild`- do we actually need a standalone `xcpretty` integration? Or is the usage in the `xcodebuild` integration suitable?

[2015-03-10 15:09] fastlane-bot opened #1800 "App already exists"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/355048?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @woutergoossens - Imported from <a href='https://github.com/fastlane/produce/issues/19'>fastlane/produce#19</a>
        </td>
      </tr>
    </table>

Hi,

I am trying to add a new application with produce but I am getting

[2015-03-10 15:17] dtrenz opened #116 "Fastfile before_all block runs before each lane."
`before_all` block should run before all lanes, not before each lane.

[2015-03-10 16:37] KrauseFx commented on #102
You are right, this done with your last pull request, thanks :+1:

[2015-03-10 16:37] #102 closed

[2015-03-10 17:12] KrauseFx commented on #116
Are you referring to https://github.com/KrauseFx/fastlane/blob/master/Advanced.md#run-multiple-lanes

You think this should be changed? Why?

I think it makes sense, just imaging having 2 different beta testing services. You will probably want to increase the build number for both, which might be done in the `before_all` block.

[2015-03-10 18:13] dtrenz commented on #116
I think this could be confusing if you are used to using most testing frameworks (i.e. rspec or Kiwi) where `before :all` is run once, and `before :each` is run before every step/test.

I would recommend changing it to `before_each` and maybe adding a `before_all` block that executes only once. I would also considering doing the same with `after_all` for consistency/symmetry.

As an example, I wou

[2015-03-10 18:22] joshdholtz commented on #116
I agree with the `before :all` and `before :each` :+1:

[2015-03-10 18:37] KrauseFx commented on #116
How about switching to also offering `before :all` and `before :each` and still supporting the old `before_all` (with the same behaviour as it's now)

[2015-03-10 18:37] KrauseFx commented on #116
And update the documentation to only make use of the new syntax.

[2015-03-10 18:39] dtrenz commented on #116
:+1:

[2015-03-11 10:25] PaulTaykalo commented on #85
Well, I thought that if put Singing Identitiy via
[code]

and Profile via
[code]

It should work. Well, It works that way. So thing is that I don't want to set code signing settings in the xcode project (At least, I want to have the way that it will use as much data from Fastlane configs)

[2015-03-11 10:55] fatuhoku commented on #115
Ooh. @KrauseFx looks like a fair bit of customization; definitely looks good to me. I solved my problem (not related to IPA, in the end...) and so I think we can close this one. =] :beers:

[2015-03-11 10:55] #115 closed

[2015-03-11 12:10] KrauseFx commented on #115
Great to hear :+1:

[2015-03-11 12:11] KrauseFx commented on #85
@dtrenz @joshdholtz What do you think? I guess it would make sense to automatically use the provisioning profile created/downloaded with `sigh` in both `xcodebuild` and `ipa`.

Is there a reason against it?

[2015-03-11 13:10] stojanovicigi commented on #106
Hi Felix, any news regarding build issue?

[2015-03-11 13:12] joshdholtz commented on #106
@stojanovicigi @krausefx I will look into this one today 😊

[2015-03-11 13:13] stojanovicigi commented on #106
Thanks :)

[2015-03-11 18:26] fatuhoku opened #118 "Support increment PATCH version (e.g. 'Z' in x.y.Z) of semantic version"
I've got a project that works with semantic versions like so:

![screen shot 2015-03-11 at 18 18 53](https://cloud.githubusercontent.com/assets/430233/6603623/256f5344-c81b-11e4-824b-c48068e67338.png)

The build number is set to `DEVELOPMENT` because I'm setting it to the count of git commits, as described here: http://stackoverflow.com/a/24750392/590767. So we can expect `CFBundleVersion` to look

[2015-03-11 18:34] dtrenz commented on #85
WRT `xcodebuild` - You cannot use an uninstalled profile, so it would have to be installed on the build machine. `sigh` could do this if we implement this: https://github.com/KrauseFx/sigh/issues/58

[2015-03-11 18:54] dtrenz opened #119 "xcodebuild WORKSPACE environment var conflicts with Jenkins WORKSPACE env var"
The WORKSPACE environment variable for ` xcodebuild` is overwritten by Jenkins' WORKSPACE environment variable.

[2015-03-11 18:57] KrauseFx commented on #118
Why should `fastlane` change your app version? Not sure I understand the use case. Maybe you just want the build number to be updated? https://github.com/KrauseFx/fastlane/blob/master/Actions.md#increment_build_number

[2015-03-11 19:38] fastlane-bot-helper opened #1812 "[Enhancement] Add certificate alias as cert variable"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/1900547?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @dfranzi - Imported from <a href='https://github.com/fastlane/cert/issues/10'>fastlane/cert#10</a>
        </td>
      </tr>
    </table>

Part of my current workflow requires the certificate alias. It'd be great to add an

[2015-03-12 01:30] joshdholtz commented on #106
@stojanovicigi First, thanks for providing an example project :blush: Makes testing a lot easier

Second, I ran `fastlane prod` and saw this output below. There are two lines that have `xcodebuild` in them. Is that what you are seeing that is making it seem like it is building twice? Or are you seeing two `ipa build` commands being called (which I am not seeing)?
[code]

[2015-03-12 08:30] stojanovicigi commented on #106
@joshdholtz first of all, thank you for your effort.
My fastlane log looks much different then your. You can download the log [from this location](https://bitbucket.org/stojanovicigi/fastlane-example/downloads)

I don't see two ```ipa build``` nor two ```xcodebuild``` commands, but however there are two times
 ```=== BUILD TARGET FastlaneExample OF PROJECT FastlaneExample WITH CONFIGURATION Releas

[2015-03-12 09:08] KrauseFx commented on #106
I took a quick look and found this in the log.
[code]

[2015-03-12 09:34] stojanovicigi commented on #106
@KrauseFx Yes, but unfortenully, I have the same issue with version 0.2.1
I attached [new log file](https://bitbucket.org/stojanovicigi/fastlane-example/downloads) with the newest fastlane.

[2015-03-12 12:21] joshdholtz commented on #106
@stojanovicigi I believe this is an issue with the configuration of your project. In order to get the output I did before, I had to turn off the running of tests in the scheme (see attached image)

![screen shot 2015-03-12 at 7 17 57 am](https://cloud.githubusercontent.com/assets/401294/6617585/15fb1a66-c888-11e4-835e-b0c98e4969c0.png)

What is also going on is that you have the "Bump Version Numb

[2015-03-12 12:28] joshdholtz commented on #106
I get your same response if I call the `xcodebuild` command directly. Not sure exactly what the correct parameters would be though to make that not happen.

[2015-03-12 14:03] KrauseFx opened #120 "[Feature] Specify minimum version number in Fastfile"
We should add something like:

[code]

If it is run by a `fastlane` version below that, it should fail. Reason for that: CI-servers with old versions for example.

[2015-03-13 15:33] #119 closed

[2015-03-13 19:08] KrauseFx commented on #120
https://github.com/KrauseFx/fastlane/commit/00fe7357c7277587a7cbf73b185ae0aa01ed5be5
https://github.com/KrauseFx/fastlane/commit/43ac9aea59e1be85140a05927a81511da1e5991c

[2015-03-13 19:08] #120 closed

[2015-03-13 19:09] #101 closed

[2015-03-13 20:02] KrauseFx opened #123 "[Feature] Provide changelog based on recent commits"
`fastlane` should somehow detect all commits done, since the last build of the current lane and put all the commit messages into one string variable. This should then be provided using the lane context.

[2015-03-14 09:58] KrauseFx opened #126 "[Feature] Send email action"
My original plan was to provide an `email` action to fastlane. There are many examples why this might be useful:

- Teams not using Slack
- sending of finished framed screenshots to the marketing team
- sending an email after an App Store release was successful.
- Or an email with the link to the S3 Distribution download page

I stopped working on it, when I noticed, I'd need a mail server.

Thiag

[2015-03-14 10:40] KrauseFx commented on #107
Could you run `deliver init` instead of `fastlane init` and post the complete output?

[2015-03-14 10:41] KrauseFx commented on #35
This is implemented with the latest release

[2015-03-14 10:41] #35 closed

[2015-03-14 17:41] fastlane-bot opened #1710 "Further segment resulting html"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/607273?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @fishstix - Imported from <a href='https://github.com/fastlane/snapshot/issues/109'>fastlane/snapshot#109</a>
        </td>
      </tr>
    </table>

This is a great tool.  I've produced a script that's generating 30 images

[2015-03-14 20:50] bassrock commented on #35
Awesome. Is there a doc somewhere that describes how to use it with a Jenkins setup? Maybe I'm missing something

[2015-03-14 20:50] bassrock commented on #123
:+1: Another add on for this would be to pass the info to the TestFlight "What To Test"

[2015-03-16 04:16] joshdholtz commented on #106
@stojanovicigi Did you ever get this figured out?

[2015-03-16 08:13] stojanovicigi commented on #106
@joshdholtz Not yet, didn't have time to play with it, but I'll try to figure out something during the week.

[2015-03-16 18:56] KrauseFx commented on #123
Absolutely, this sounds pretty amazing :+1:

[2015-03-16 18:57] KrauseFx commented on #35
@bassrock do you mean something like https://github.com/KrauseFx/fastlane/blob/master/Jenkins.md?

Or how to setup version commits and the other things?

[2015-03-16 18:58] bassrock commented on #35
@KrauseFx yea I already have it setup like that. I mean jenkins setup with the version commit bumps, without running another build for a version bump.

[2015-03-16 19:07] KrauseFx commented on #35
Honestly, I haven't used it myself, but @lmirosevic did probably.

I want to provide a more complex example setup of `fastlane`, not sure when I get the time to do so.

[2015-03-17 08:38] bartoszj opened #130 "[Feature] xcodebuild action build settings"
It would be great if [xcodebuild action](https://github.com/KrauseFx/fastlane/blob/master/Actions.md#user-content-xcodebuild) allows to pass build settings like `CODE_SIGN_IDENTITY`, `PROVISIONING_PROFILE`, `JOBS`, or any other [build settings](https://developer.apple.com/library/ios/documentation/DeveloperTools/Reference/XcodeBuildSettingRef/1-Build_Setting_Reference/build_setting_ref.html).

May

[2015-03-17 09:12] KrauseFx commented on #130
I agree, this looks pretty amazing. But in my experience, setting the provisioning profile from the command line does not work usually. I always have to set it in the project.

[2015-03-17 09:12] KrauseFx commented on #130
@joshdholtz

[2015-03-17 10:46] floskel opened #131 "build number version"
Im not 100% sure this issue is fixable with fastlane. Its more of a question than issue.

The issue is related to build numbers. In iTunesConnect theres no way of differentiating between builds from different lanes. This can be tricky since sometimes you need to send build that are running on ex a staging environment to your testers. Worst case is that you accidentally push to the app store with a

[2015-03-17 11:21] joshdholtz commented on #130
@KrauseFx Looks like you can :8ball: - http://stackoverflow.com/a/1180731. This is gunna change my life :rocket:

I can work on this while I am on the plane this morning :airplane:

[2015-03-18 12:48] #131 closed

[2015-03-18 12:50] #130 closed

[2015-03-19 11:12] seanoshea commented on #35
I've used PListBuddy in the past to drag a build number out of Jenkins. https://medium.com/salesforce-ux/infograin-plistbuddy-is-your-buddy-b969edb642ef has a sample run script that you could add to your Jenkins specific target?

[2015-03-19 13:15] bartoszj opened #138 "[Issue] xcexport - incorrect export path"
When archiving and exporting application to IPA file using:

[code]

It will create `Project.xcarchive` inside `build` folder, but it also creates `build.ipa` file inside project folder.

But when using a little bit different configration:
[code]

It will build `Project.xcarchive` and `Project.ipa` inside `build` folder.

The problem is with:
[code]
The `scheme` parameter is not passed between Xco

[2015-03-19 13:32] KrauseFx commented on #138
@dtrenz Could you take a look at this?

[2015-03-19 13:33] KrauseFx commented on #35
@seanoshea It's not a good idea to use the Jenkins build number, as the number might get reset when you migrate to a new build machine.

[2015-03-19 16:33] seanoshea commented on #35
@KrauseFx I believe Jenkins has the ability of re-setting the initial build number which would help if you moved to a new build machine. Not exactly ideal, but would be one way around it.

[2015-03-19 17:00] bassrock commented on #35
This may be an answer we are looking for: https://github.com/jenkinsci/ci-skip-plugin

Just need to enable this and then make the commit message for a version bump include: "[ci skip]"

[2015-03-19 17:22] bassrock opened #139 "Bundle Support"
Right now I have my fastlane toolset defined in a Gemfile for use with bundler. This is because between different versions of other tools (Cocoapods *cough*) it is needed to maintain consistency and true independence on different machines.

The bundle installs fine, but when I run ```bundle exec fastlane lane``` commands like ```ipa``` or ```pod``` etc, are not found.

I think a good idea would be

[2015-03-19 17:54] esttorhe commented on #139
@bassrock that's weird; I do have the same setup as you and I'm able to use `bundle exec fastlane inhouse` for example; where `inhouse` is a lane that downloads the certificates and provisioning profiles, runs the tests, generates the ipa and uploads it to `HockeyApp` while sending message to `Slack`.

Only tool I was not able to use was `deliver` but it was because of an issue where it was always

[2015-03-19 17:56] bassrock commented on #139
@esttorhe So I thought the same thing as it was working on my local machine. But it fails on my build machine. I noticed the difference is on my local machine I have the bundle, but I also have the tools installed system wide.

Do you also have them installed system wide?

[2015-03-19 18:03] esttorhe commented on #139
mmm, weirdly enough I do have them now…
Wondering why though; in theory the only one I had globally installed was `sigh` but now I do have all the `fastlane tools` :/

[2015-03-19 18:12] KrauseFx commented on #35
That's a pretty neat idea :+1:

[2015-03-19 18:12] dtrenz commented on #138
Yeah, this is a problem.

@bartoszj: What if -- when no SCHEME is passed/set -- `xcexport` used the filename of the `*.xcarchive` as the filename of the IPA? That feels a bit tidier to me.

Example:
[code]

[2015-03-19 18:20] KrauseFx commented on #139
@bassrock A lot of users are using `fastlane` with Bundler just fine. They'll add a comment here soon.

[2015-03-19 18:20] dtrenz commented on #139
Have you tried setting the bundle path/bin as part of your bundle build step? I've had issues with using shared gem/bundle resources on build machines before.

[code]

[2015-03-19 18:32] bassrock commented on #139
@KrauseFx my bad I noticed it adds the gems to the path so i must have something else wrong. Anyways thanks!

[2015-03-19 18:32] #139 closed

[2015-03-19 18:52] bartoszj commented on #138
Agree. This is even simpler solution, more intuitive for the user.

[2015-03-19 19:05] dtrenz commented on #138
OK - I'll get to work on this. Thanks for pointing this out.

[2015-03-21 11:12] #138 closed

[2015-03-23 12:05] serluca commented on #118
Hi @KrauseFx

I was looking for something like this issue.
Usually, I work with gulp project and I really like how I can update the version number of my project with gulp (i.e. [gulp-release-task](https://www.npmjs.com/package/gulp-release-tasks) )

It would be nice to have an equivalent in fastlane.

[2015-03-23 15:11] irvene2000 opened #143 "Keep getting error on "fastlane init""
I've only just installed fastlane and tried to run "fastlane init" from my project dir which was just a default single view application. Reinstalling didn't seemed to help. Screenshot below:

![screen shot 2015-03-23 at 10 10 18 am](https://cloud.githubusercontent.com/assets/2285528/6782914/e469fbfa-d144-11e4-887b-727c960c70d6.png)

[2015-03-24 03:39] cybertk commented on #143
Try to remove local fastline dir? with `rm -rf fastline`

[2015-03-24 03:40] cybertk opened #144 "fastlint init crash"
Output and stack

[code]

[2015-03-24 09:40] KrauseFx commented on #143
Thanks @cybertk. Just delete the `fastlane` folder, as the error message mentions, you already have a folder.

[2015-03-24 09:40] #143 closed

[2015-03-24 09:41] KrauseFx commented on #144
To set up your account, try starting with `deliver` first by running `deliver init`. Does your password contain any special characters? Are you behind a firewall?

[2015-03-24 12:35] cybertk commented on #144
It's succeed after rerun `fastlane init`

[2015-03-24 14:12] #144 closed

[2015-03-24 14:22] irvene2000 commented on #144
I realize what the problem was now. I named the project "fastlane" and the script was getting confused because it tried to generate a fastlane folder and found the project folder there instead.

[2015-03-24 15:22] JaniJegoroff commented on #48
Fixed in release 0.4.1

[2015-03-24 15:22] #48 closed

[2015-03-24 16:04] KrauseFx opened #146 "[Feature] Provide different Appfile configs for each lanes"
As many apps use different bundle identifiers per environment (beta, app store), there should be a way to  define that.

**Current `Appfile`:**
[code]

**Suggestion:**
[code]

The value **inside** the blocks will be used if given, otherwise the value outside.

What do you think?

[2015-03-24 19:13] BrettThePark commented on #146
YES!!!  It would also be great if a "Root" folder could be specified for each lane. For example, I have one large workspace which has five different projects in different folders. I would love to be able to specify the default folder for each lane that way I could have one Fastlane file for the whole workspace.

To facilitate the workspace right now, I need three different fastlane instances with

[2015-03-24 20:31] fastlane-bot opened #1627 "deliver should retry if transport had errors"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/233144?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @alistra - Imported from <a href='https://github.com/fastlane/deliver/issues/150'>fastlane/deliver#150</a>
        </td>
      </tr>
    </table>

    INFO [2015-03-24 21:09:02.33]: This might take a few minutes, please don

[2015-03-25 10:32] patoroco commented on #47
Same here with last fastlane version

[2015-03-25 12:35] KrauseFx commented on #47
Sorry about that, you can pass the version number manually and provide your own automatic detection of the version number using `PlistBuddy` :disappointed:

[2015-03-25 12:53] patoroco commented on #47
It's possible to send version as parameter? Or we should update DeliverFile programmatically?

[2015-03-25 12:55] KrauseFx commented on #47
Yes, of course: https://github.com/KrauseFx/deliver/blob/master/Deliverfile.md#version

Just add
[code]

or something like
[code]

or your own script

[2015-03-25 14:30] patoroco commented on #47
Oh, nice approach! Maybe I'll do one action for that :)

[2015-03-25 15:05] KrauseFx commented on #47
Change it to just

[code]

and remove the `before_all`

:rocket:

[2015-03-25 15:07] patoroco commented on #47
:clap:

[2015-03-25 23:50] KristopherGBaker opened #148 "push_to_git_remote and commit_version_bump examples"
The push_to_git_remote and commit_version_bump examples listed at https://github.com/KrauseFx/fastlane/blob/master/Actions.md don't work as is for me.

For commit_version_bump, I had to change "xcodeproj_path" to "xcodeproj".

For push_to_git_remote, it ignored "local_branch" and "remote_branch".  I had to use "branch" instead.

[2015-03-26 09:26] KrauseFx commented on #148
Maybe @lmirosevic could take a quick look?

[2015-03-26 09:40] lmirosevic commented on #148
Will take a look ASAP

[2015-03-26 14:44] ekinsol commented on #146
A related suggestion would be the ability to set the app_identifier as an argument.

Ex:
fastlane beta -app_identifier com.random.app

This would be very welcome in a white label setup

[2015-03-26 16:24] KrauseFx commented on #146
This make sense and might make the setup easier @ekinsol

[2015-03-26 17:30] ekinsol commented on #146
@KrauseFx indeed, but as you suggested on twitter, might be overkill.

An easy way to get custom app identifiers into the flow:

#open a file that contains a single line with the app identifier
customAppID = open("app_identifier_file").read

With some extension this is enough to drive various lanes from Jenkins etc

[2015-03-26 21:28] #148 closed

[2015-03-26 21:28] KrauseFx commented on #148
Thanks @lmirosevic :+1:

[2015-03-27 08:37] codesourse commented on #107
yes ,i can run "deliver init"

[2015-03-27 19:27] KrauseFx opened #150 "[Feature] AppStore alias for deliver"
It makes more sense from a user's perspective to provide an `appstore` action, which is just an alias for `deliver`, which doesn't allow the `:beta` parameter.

[2015-03-27 19:33] joshdholtz commented on #150
Makes sense to me :+1: I am all about making things as easy as possible

[2015-03-27 19:38] KrauseFx commented on #150
From Victor:

I agree, but this might involve some bigger refactoring of `deliver`. Maybe we could provide a way to pass the mode of `deliver`.

[2015-03-27 21:20] danimal opened #151 "Fastlane cannot init an app with more than 1000 sub-items (IAP)"
Iam one of the engineering team that works on Madefire (http://madefire.com). We have a lot of IAP because we're selling books through our app. We have our own backend system to upload IAP to iTC so we've hit this 1,000 sub-item limit ourselves. Today I went to setup Fastlane (0.4.2) to hopefully simplify our build and submit process. I don’t have a fix right now, but I will look at the code and s

[2015-03-27 21:28] danimal commented on #151
I just realized this should probably be in deliver. Let me know if you want it moved there or if here is still fine.

[2015-03-28 09:23] KrauseFx commented on #151
@danimal Uh, I guess this is something out of our control. For easier debugging for you, you can run `deliver init` directly and migrate to `fastlane` afterwards.

Maybe you can try using different Apple servers, you can pass iTunes Transporter options using
`DELIVER_ITMSTRANSPORTER_ADDITIONAL_UPLOAD_PARAMETERS`

Let me know how it works. Have you submitted a radar already?

[2015-03-28 14:02] victorfigol opened #153 "Provisioning Files Location"
According to the documentation provisioning profiles downloaded with sigh, should be saved under the fastlane folder.

In my case they are saved one folder back at the root folder of my project

[2015-03-28 16:08] #153 closed

[2015-03-28 16:33] aafa opened #155 "sh "pwd" returning ./fastlane directory is somewhat misleading"
I've found that my shell actions beginning with "cd.." is a very common case
[code]

but at the same time other parts have their current directories as I expect -- from project root

[code]

I think it'd be better to have more consistency here one way or another.

[2015-03-28 16:37] KrauseFx commented on #155
Where do you need to do `..`? In the `Deliverfile` and `Snapfile` I guess? Also in new `fastlane` actions?

[2015-03-28 16:44] aafa commented on #155
Fastfile and Deliverfile is number one candidates to me.  But still it would be nice to have single base dir  everywhere.

[2015-03-28 17:06] KrauseFx commented on #155
I agree, there were some mix-ups with the introduction of `fastlane` after the existing tools were already out there.

[2015-03-28 17:06] KrauseFx commented on #155
But changing this now would cause existing configuration files to break, which is probably not something we want.

[2015-03-29 10:01] fabiomassimo commented on #146
@ekinsol I'm not sure the fastlane CLI should include such an option like `app_identifier`. The fastlane platform already gives you a quick way to define a new lane that now is driven with the new `Appfile` configuration loader [feature](https://github.com/KrauseFx/CredentialsManager/pull/4).

[2015-03-29 13:01] aafa commented on #155
I agree, no one would be happy to see their configs broken :) I've been thinking on maybe introduce special ENV variable with base directory, which be defaulted with current one.  But on the other hand that will add additional unnecessary complexity.

So the only plausible solution here, I think, is to emphasize in docs this fact about "sh" - action.

[2015-03-29 19:52] KrauseFx commented on #155
I guess this could be changed with a major version release sometime in the future, but we should leave it as it is for now. Sorry about the troubles, I'm not super happy with it as well.

[2015-03-29 19:52] #155 closed

[2015-03-29 19:52] KrauseFx commented on #146
This is solved now, thanks to the awesome @fabiomassimo :rocket: Thanks again :smile:

[2015-03-29 19:52] #146 closed

[2015-03-30 00:10] bassrock opened #159 "[Feature] Depend/Include Other Lanes"
At this time it appears that you cannot call other lanes from within a lane or depend on another lane running successfully. This would give the ability to separate out the sigh, snapshot or other steps into their own lanes so that they could be run separately and so that you do not have to duplicate items in the fastfile.

[2015-03-30 07:10] KrauseFx commented on #159
Yes, in the mean time, you can just use Ruby functions:

[code]

Does that help?

[2015-03-30 15:57] KrauseFx opened #162 "[Feature] Verify code signing identity in xcodebuild"
When passing an invalid code signing identity in the `xcodebuild` action, verify the input and show available options

from [cert](https://github.com/KrauseFx/cert)

[code]

Print them:

[code]

[2015-03-31 08:50] bartoszj opened #163 "xcodebuild action - multiple destinations"
`xcodebuild` command allows to pass multiple `destination` parameters:

[code]

It is very useful when you want to run test on multiple devices / simulators. Unfortunately `xcodebuild` action doesn't handle this. It would be nice to have `:destination` to support string parameter and array of strings, like:

[code]

[2015-03-31 13:23] skywinder opened #164 "Crash during `fastlane init` with wrong AppleID"
I run `fastlane init`, then answer `y` for all questions.

Here is a crash-log after answer `y` to promt to re-enter user/password:

[code]

[2015-03-31 16:41] danimal commented on #151
@KrauseFx There is no radar to submit, this is the way Apple expects it to work. If the app has more than 1,000 sub-items you have to either get them in blocks or specifically by sku. To get the app information you'd have to `please restrict the lookup by using a subitemtype parameter with one of the following values: GameCenterLeaderboard, None, GameCenterAchievement, InAppPurchase.`

I’ll start

[2015-03-31 18:50] KrauseFx commented on #164
Mh, does it work when you run it again?

[2015-03-31 19:00] fastlane-bot opened #1709 "Apple Watch"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/1010384?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @bassrock - Imported from <a href='https://github.com/fastlane/snapshot/issues/121'>fastlane/snapshot#121</a>
        </td>
      </tr>
    </table>

Ok, I'll be that guy. With submissions now allowed and the guidelines se

[2015-03-31 21:57] skywinder commented on #164
Yes, but next time I set valid user/password combination and it's works as expected.
I can try to reproduce this exception, if it's needed.

[2015-04-01 07:57] KrauseFx commented on #164
Okay, I'll take a look, thanks.

[2015-04-01 08:58] skywinder opened #165 "Can't reinit fastlane"
Can't reinit fastlane

Step to reproduce:

1.  run `fastlane init` and init anything.
2. hard reset to previous state
3.  run `fastlane init` again.

Expected result:

fastlane should initialize all again from scratch

Actual result:

    fastlane init

[code]

[2015-04-01 09:33] KrauseFx commented on #165
Mh, yes, as soon the the `fastlane` directory is there, it won't init again.

[2015-04-01 09:33] KrauseFx commented on #165
Is the folder empty? What do you suggest? The error message shows why it fails, is it unclear? Should the message be updated?

[2015-04-01 10:12] skywinder commented on #164
1. you are close issue, but it reproducible and problem still exists in last version.
2. FYI: It caused by not very clear explanation:
When I saw first time `Your Apple ID:` I though, that script ask about "Apple ID for application".
So probably it's better to add description like  `Your iTunes Connect Apple ID` or  `Your Apple ID (email):`
3. The parameter, that you ask in init `App Identifier` a

[2015-04-01 10:58] skywinder commented on #165
- No. there is empty folder `actions` also. But it doesn't matter. The problem in check https://github.com/KrauseFx/fastlane/blob/master/lib/fastlane/fastlane_folder.rb#L15 - if the folder exists or not

-  imho: `RuntimeError` is not good ending for script execution. Probably it's better show user-friendly explanation of the problem.  Like `pod init` - just show red output  "[!] Existing Podfile

[2015-04-01 22:18] ashfurrow opened #167 "increment_build_number should accept X.Y version numbers"
Currently, it [requires](https://github.com/KrauseFx/fastlane/blob/03c2aa98181974990810c9106e2d27d087bfba87/lib/fastlane/actions/increment_version_number.rb#L30) a version number formatted as `X.Y.Z`.

[2015-04-01 22:23] ashfurrow commented on #167
@orta came and said that I'm wrong. We'll just use `X.Y.Z`:)

[2015-04-01 22:23] #167 closed

[2015-04-01 22:44] orta commented on #167
http://semver.org always indicates x.y.z

[2015-04-02 14:26] KrauseFx opened #169 "fastlane for Android"
#### Important tasks:
- [x] Provide the most important Android related actions:
 - [x] Ruby Wrapper around the Google Play API ([supply](https://github.com/KrauseFx/supply))
 - [ ] Ruby Wrapper around [Spoon](https://github.com/square/spoon)
 - [x] Ruby Wrapper around a build tool to generate and sign an apk
- [ ] Update `fastlane init` to ask for OS
- [x] Extend `Appfile` and `CredentialsManager`

[2015-04-02 14:32] earltedly opened #170 "for_lane doesn't seem to be implemented?"
At the bottom of [Advanced.md](https://github.com/KrauseFx/fastlane/blob/5862df881fe27f21e5c74d812e3616d327b5edda/Advanced.md) it gives an example of using `for_lane` to specify different app_identifiers for each lanes. I'm attempting to use this but I get the following error when I try and run fastlane.

Appfile:
[code]
Error:
[code]

[2015-04-02 14:38] earltedly commented on #170
Aha, I just had a poke around and the method is present in the master branch on CredentialManager but it's not installed on my local machine. I'm guessing the latest fastlane gem doesn't include that code yet?

[2015-04-02 14:46] joshdholtz commented on #169
@KrauseFx Did you want to add a checkbox for `Support for OS X Systems`?

[2015-04-02 14:47] KrauseFx commented on #170
Ohhh, nice catch, I'll make sure the latest version is released right now.

[2015-04-02 14:49] earltedly commented on #170
That’s brilliant - thank you.

Btw, I saw you speak at NSConference. I’ve finally had the chance to check out fastlane. Looks really good so far - nice work :)

[2015-04-02 14:56] mRs- commented on #169
I think supporting windows / linux is obsolete in the first version.
IMHO fastlane will run on an mac anyway to compile apps for iOS. Step back from the features first, it will lead you on the wrong way and is a big task at the beginning.

[2015-04-02 14:58] KrauseFx commented on #170
Thanks @earltedly!

I just pushed the update, please update using `sudo gem update credentials_manager`

Let me know if that solves your problem. Also, thanks to @fabiomassimo

[2015-04-02 15:07] joshdholtz commented on #169
I don't think looking at supporting windows / linux will lead you down the "wrong way" since that is the direction that we would need to go with this eventually. **BUT** it might be good to be conscious of things that won't work in windows / linux so they won't have to be reimplemented later on.

[2015-04-02 15:08] earltedly commented on #170
I've updated and it's no longer terminating with an except. It doesn't seem to be applying the `app_identifier` I specify in the `for_lane` block though.

If I remove the `app_identifier` line from outside the`for_lane` block (leaving the one inside), then fastlane prompts me for the bundle identifier when it tries to run `sigh`.

[code]

[2015-04-02 15:08] CraigSiemens opened #171 "Inconsistent values for IPA_OUTPUT_PATH and DSYM_OUTPUT_PATH"
I'm working on building a custom action and I'm running into a case where it's getting a relative path to the ipa and an absolute path to the dsym.

[code]

It's also weird that the ipa path is relative to the fastlane folder, not the root folder of my project. I tried expanding it using `File.expand_path(ipa_path)` but that doesn't work since it expands relative to the root folder of the project.

[2015-04-02 15:10] fabiomassimo commented on #170
@KrauseFx did you deploy https://github.com/KrauseFx/fastlane/pull/156?

[2015-04-02 15:11] KrauseFx commented on #170
@fabiomassimo I did. Wasn't I supposed to?

[2015-04-02 15:12] KrauseFx commented on #171
I'll update it to store only absolute paths, thanks for letting me know!

[2015-04-02 15:13] fabiomassimo commented on #170
No, it's fine. I just wanted to be sure about that, because latest release of fastlane (0.4.2) was made before my PR got accepted.

[2015-04-02 15:15] KrauseFx commented on #170
Yes, not many users will receive the update, only for new installations and for users who actively update the `credentials_manager`.

[2015-04-02 15:16] KrauseFx commented on #170
Sorry @earltedly, you'll have to wait for the next `fastlane` release to use this feature...

[2015-04-02 15:18] earltedly commented on #170
@KrauseFx that's ok - thanks for trying. Any idea when the next release might get pushed out?

[2015-04-02 15:25] #171 closed

[2015-04-02 15:25] KrauseFx commented on #170
Hopefully today

[2015-04-02 16:11] KrauseFx commented on #170
Here we go: https://github.com/KrauseFx/fastlane/releases/tag/0.5.0
Please update using `sudo gem update fastlane`

[2015-04-02 16:11] #170 closed

[2015-04-02 16:33] dfranzi commented on #169
With the prevalence of cross-platform frameworks for developing mobile applications, I'd advocate for not splitting this distinction across Fastfiles. I'd like to see support for both platforms in one fastlane configuration.

[2015-04-02 17:46] KrauseFx commented on #107
Can you post the complete output?

[2015-04-02 17:46] KrauseFx commented on #106
Any updates on this issue?

[2015-04-02 17:46] #89 closed

[2015-04-02 17:46] KrauseFx commented on #89
Any updates on this @jonnyijapan?

[2015-04-02 17:48] KrauseFx commented on #68
Thanks everyone for the feedback, I'll close this issue for now and won't change how `fastlane` handles the environment.

[2015-04-02 17:48] #68 closed

[2015-04-02 19:19] KrauseFx commented on #169
@dfranzi So specifying the supported OS in the lane like this is okay?
[code]

Since @irgendeinich will work on Linux, we'll get Linux support and we'll drop Windows for now.

[2015-04-02 20:51] jshier opened #172 "Latest fastlane gem is 0.4.2"
Is there a delay between release and the gem repo being updated? Because the latest version I can pull from gem or bundler is 0.4.2. I noticed the same when 0.4.0 was released where the latest was still 0.3.x. If there is a delay, perhaps the release email should be delayed until the gem is actually available?

[2015-04-02 21:06] dfranzi commented on #169
@KrauseFx I think that would work just fine.

[2015-04-02 21:56] KrauseFx commented on #172
Ohhh, I hate myself right now, this happened already before, I just forgot to push the latest version to RubyGems, I'm sorry about that. Please try again, the update is now available.

Thanks for letting me know :+1:

[2015-04-02 21:56] #172 closed

[2015-04-03 10:03] sneps85 opened #174 "saves .png images from ITC as .jpg"
When i am trying to use fastlane deploy, i get the following error for all images, that where previously downloaded automatically from ITC:

ERROR ITMS-9001: "/2fe65325869b498dd8d6975b571f9e42.jpg does not match type JPEG Image because of these validation issues: ; Error=com.apple.jingle.leghorn.fileformat.ValidationError@4f521bee[userString=This file does not start with a start of image marker.]"

[2015-04-03 10:07] KrauseFx commented on #174
Good point, this needs to be fixed!

[2015-04-03 11:23] sneps85 commented on #174
Have you an ETA on when the bug will be fixed?

[2015-04-03 11:27] KrauseFx commented on #174
No, I just took a look, `deliver` doesn't change anything regarding file extension. The easiest way for you is to just rename the file using the built in Finder bulk renamer.

[2015-04-03 11:28] sneps85 commented on #174
so the bug is somewhere else but not in your tools?

[2015-04-03 11:41] sneps85 commented on #174
i think the problem is at the fastlane init point:
Downloading all previously used app screenshots.
as the PNG files are downloaded and stored as .jpg

[2015-04-03 11:43] KrauseFx commented on #174
Here is the source code in case you want to take a look: https://github.com/KrauseFx/deliver/blob/master/lib/deliver/itunes_connect/itunes_connect_screenshot_fetcher.rb

It doesn't seem as I'm modifying the file extension. I'll take a closer look later.

[2015-04-03 11:49] sneps85 commented on #174
i see...
i tried to open the url
https://itunesconnect.apple.com/WebObjects/iTunesConnect.woa/ra/apps/version/[AppleID]
in the web browser, which gave me a JSON response containing the screenshots as .jpg file names.
The URL of the screenshot instead is .png

Here a part of the (obscured) JSON:
{"value":[{"value":{"assetToken":"****/mzl.mwojjmau.jpg","thumbnailAssetToken":"****/screen170x170.jpeg"

[2015-04-03 11:50] sneps85 commented on #174
Looks like you have to use the extension in the URL and not from the given file name to fix this issue.

[2015-04-03 18:41] coreyfloyd opened #176 "ipa action ignores the configuration specified by the scheme"
If you set up Xcode Schemes to reference specific configurations and then use the `ipa` action like so:

[code]

It generates this `ipa` command:

[code]

Which results in this `xcodebuild` command:

[code]

The configuration "Release" is being passed if a configuration isn't specified. Which is overwriting the Schemes specified configuration. To fix this you must pass the Configuration explicitly

[2015-04-04 17:50] orta opened #177 "Consolidate syntax recommendations in docs"
Similar to: https://github.com/artsy/eidolon/pull/412 but for all docs

Choices @ashfurrow and I made:
* Always skip the `{` and `}` for the dictionary params
* If there's two params or less, inline it and remove all other
* IMO there should be a space after a function & before the params, so

[code]

[2015-04-04 17:51] orta commented on #177
These are ruby 2.0 things, which is 10.9 - 10.10, which is all Xcode 6 supports, so using fancy syntax feels reasonable to me.

[2015-04-04 17:55] KrauseFx opened #178 "[Feature] Trigger lane or other command on app status change"
A way to trigger scripts (in particular `lanes`) if the app review status changes.

e.g.

- Send an email to customers when app was released
- Post on Facebook, a new version is available
- Post on Slack the update was rejected

Since I now know how to access the app status via JSON API, it should be possible.

The script has to run in the background and refresh the app status every other minute.

[2015-04-04 17:57] shams-ahmed commented on #178
this sounds good, Hipchat integation would be answsome as well

[2015-04-04 17:58] ashfurrow commented on #177
Happy to do this.

[2015-04-05 07:00] KrauseFx commented on #178
Hipchat is already integrated :wink: https://github.com/KrauseFx/fastlane/blob/master/docs/Actions.md#hipchat

[2015-04-05 08:20] lmirosevic commented on #106
This is actually a problem with Shenzhen. It does a 'clean', then a 'build', then an 'archive'. But of course the 'archive' does a full rebuild so it ends up building your project twice.

I've raised an issue on Shenzhen for this very thing but it hasn't been resolved yet. @stojanovicigi it might help if you confirmed the issue over there: https://github.com/nomad/shenzhen/issues/223

[2015-04-05 08:21] KrauseFx commented on #106
@lmirosevic You should probably re-open the issue on `shenzhen` :+1:

[2015-04-05 08:29] lmirosevic commented on #106
I was hoping @mattt would reopen it. Didn't want to be too bolshy and create a new issue

[2015-04-05 09:56] stojanovicigi commented on #106
@lmirosevic I'll check the issue and confirm it during the day. Thank you guys.

[2015-04-05 15:41] champo commented on #176
`ipa` is not a part of fastlane actually, it's at nomad/shenzhen

[2015-04-05 21:40] KrauseFx commented on #177
Sounds like a good plan. I already require Ruby >= 2.0, so that's not a problem.

I already wrote all examples (e.g. https://github.com/fastlane/fastlane-example) and of course the documentation using the other style :disappointed:

[2015-04-06 15:28] KrauseFx commented on #169
Started with the pull request: https://github.com/KrauseFx/fastlane/pull/179/

[2015-04-07 07:37] sneps85 commented on #174
Could you reproduce the issue?

[2015-04-07 08:06] KrauseFx commented on #174
No, but I'll try to push a fix in a few minutes.

[2015-04-07 08:09] KrauseFx commented on #174
The `assetToken` is **not** the original file format: it's also jpg for me, but I uploaded pngs.

[2015-04-07 08:09] KrauseFx commented on #174
`originalFileName` is the relevant one :+1:

[2015-04-07 08:12] KrauseFx commented on #174
I'm currently using the given file extension:

[code]

where `screenshot['value']['originalFileName']` is `:"***.jpg"` according to your previous comment.

[2015-04-07 08:18] sneps85 commented on #174
no, but the url you're downloading the screenshot from is .png:
"url":"https://is3-ssl.mzstatic.com/image/thumb//mzl.mwojjmau.jpg/640x960ss-80.png"

and you're storing it on it's original filename: "originalFileName":"***.jpg"

so you're storing a .png image with .jpg extension and that causes the issue when the downloaded screenshot will be re-uploaded

[2015-04-07 08:21] KrauseFx commented on #174
So you uploaded a `jpg` back then and Apple converted it to a `png`? Can you send me your URL to test it with?

[2015-04-07 08:26] sneps85 commented on #174
sent it to github@krausefx.com

[2015-04-07 08:26] sneps85 commented on #174
i think that apple converted it, yes...

[2015-04-07 17:47] KrauseFx commented on #177
Another thing which I'm not happy about yet: Sometimes the example docs use `'` and sometimes `"`, which might confuse some users. I guess we should stick with `"`.

[2015-04-07 17:48] orta commented on #177
yeah, imo standardising on `"` means when people try to interpolate with `#{}` they won't get confused.

[2015-04-07 18:52] fastlane-bot opened #1799 "I have literally thousand apps, and the script can't find the app it has just created and crashes"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/777783?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @ericertl - Imported from <a href='https://github.com/fastlane/produce/issues/26'>fastlane/produce#26</a>
        </td>
      </tr>
    </table>

[code]

[2015-04-08 08:18] frobichaud opened #180 "Cannot add_git_tag with my own provided tag name"
Here is the lane I've defined in my Fastfile:

lane :tag do
  add_git_tag tag: "test"
end

When I invoke:
#fastlane tag

I get the following error
INFO [2015-04-08 04:13:51.91]: Driving the lane 'tag'
INFO [2015-04-08 04:13:51.91]: -------------------------
INFO [2015-04-08 04:13:51.91]: --- Step: add_git_tag ---
INFO [2015-04-08 04:13:51.91]: -------------------------
INFO [2015-04-08 04:13:51.91

[2015-04-08 08:25] frobichaud commented on #180
Just realized this feature is brand new and only in master.

[2015-04-08 14:24] patoroco opened #181 "Rollback to 'old-version' if error happens"
Should be good to rollback version number when some exception is raised.

Until now, I use `error do |lane, exception|`, but I think that this should be default behavior, isn't it?

[2015-04-08 17:31] KrauseFx commented on #181
You mean when you use the `increment_build_number` action?

[2015-04-08 17:31] KrauseFx commented on #180
Yes, sorry, there will be a new release today!

[2015-04-08 18:02] aafa opened #182 "pem action for fastlane"
I've created simple pem action as part of my fastlane routines, cause I've found it very convenient to have everything in one place within Fastfile config.

So I'm curious if this action could be useful as addition to main actions?

[2015-04-08 18:25] KrauseFx commented on #182
Absolutely, the only reason why there is no `PEM` action in fastlane is the limit of push profiles: You are only allowed to have 2 push profiles per app. Right now, `PEM` will **always** create a new profile if there is a spot left.

To integrate `PEM` into `fastlane`, it must detect the expiration date to only create a profile if the old one is about to expire.

[2015-04-08 18:50] aafa commented on #182
I see.  In my case I have it in a special lane which creates pem files and passes them to server. Basically running once per new app for now - fastlane config is created with each new app project (as part of a template).

I will look into PEM functionality.

[2015-04-08 19:23] frobichaud commented on #180
Thanks for the version bump

[2015-04-08 19:23] #180 closed

[2015-04-08 19:34] KrauseFx commented on #180
Thanks for letting me know :+1:

[2015-04-08 20:20] patoroco commented on #181
Yes, after use increase build, if the lane crashes, build continue with new version, so if you run newly same lane, build will be update two times.

Until the moment I store bundle version in a variable load in before all method, and if error happens, I set to the old build number, but I think that this behavior should be the default: if something was changed before lane, and it crashes, state sho

[2015-04-08 23:17] frobichaud opened #183 "Exit status of command 'git push origin origin/master:origin/master --tags' was 256 instead of 0."
When using push_to_git_remote in Jenkins, the GIT_BRANCH contains "origin/" which we should strip out of Actions.git_branch

[2015-04-09 00:13] frobichaud commented on #183
In my case, my master branch has no new commits when invoking push_to_git_remote, just new tags. The best would probably be to push HEAD:master by default instead of master:master.
Reference:
http://stackoverflow.com/questions/4181861/src-refspec-master-does-not-match-any-when-pushing-commits-in-git

[2015-04-09 07:39] #183 closed

[2015-04-09 14:54] frobichaud commented on #183
Thanks for the quick review and merge @KrauseFx!

[2015-04-09 18:17] eytanbiala commented on #167
+1

[2015-04-10 10:17] fastlane-bot opened #1626 "Downloaded PNG screenshots are named as JPG"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/110374?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @futuretap - Imported from <a href='https://github.com/fastlane/deliver/issues/170'>fastlane/deliver#170</a>
        </td>
      </tr>
    </table>

I've originally uploaded JPG files using iTunes Connect. `deliver - init`

[2015-04-11 15:30] KrauseFx opened #187 "[Feature] Move Actions.md documentation into classes"
For each action, there should be a description in the source file.

This would enable a cool new command: https://twitter.com/KrauseFx/status/586912096769744897

[2015-04-11 15:31] KrauseFx commented on #187
Related commit: https://github.com/KrauseFx/fastlane/commit/debbeb7983e58facd87bf2891ca01aa763873519

[2015-04-11 19:29] KrauseFx commented on #187
Basically done, just need the actual documentation.

[2015-04-11 19:31] KrauseFx commented on #181
I think that is very specific to the actions you use. You might use actions, that modify something. Every action would have to provide a `revert` method to solve this.

You should run `fastlane` only in a clean state, which is why there is a `ensure_git_status_clean` method.

[2015-04-11 19:41] KrauseFx commented on #87
I'll close this issue for now, as it's not officially supported right now.

[2015-04-11 19:41] #87 closed

[2015-04-13 00:18] coreyfloyd commented on #123
Started working on this in my Fastfile before I attempted to make a full blown action out of it. My solution depends on Jenkins… but was pretty straightforward (added a dependency for "git" to stay in ruby - but you could just execute a shell script)

[code]

Honestly though, I wanted to do better than just dump the commit messages before I submitted a patch… I want to parse the commit messages fo

[2015-04-13 08:36] KrauseFx commented on #123
@coreyfloyd I found 2 things that might help:

- [SSBuild's git changelog code for Jenkins](https://github.com/splinesoft/SSBuild/blob/master/SSBuild.sh#L236)
- [tj's git library to generate a changelog](https://github.com/tj/git-extras/wiki/Commands#git-changelog)

I honestly don't think fetching URL's content should be part of this action.

It would be great to just append all commit messages si

[2015-04-13 15:21] coreyfloyd commented on #123
@KrauseFx SSBuild's changeling code is essentially the same as what I posted above (just bash instead of ruby). If you think that would be useful to others, I could wrap it up into an action.

As far as whether Fastlane should connect to outside URLs to obtain change log information… I've put together automated change logs a few times and it usually evolves from git commit logs to testers wanting/

[2015-04-13 15:38] KrauseFx commented on #123
Yes, just the commit logs would be great :+1:

[2015-04-13 16:08] eytanbiala commented on #123
Having the option to use either the last Jenkins run or the last git tag would be nice!

[2015-04-13 19:21] drupalmodule opened #189 "How to use the [App] variable?"
I have tried to use the [App] variable as it is described in the slack connector docs.  The [App] never gets the app code substituted See:

[code]
I have also tried it on a sh call:
[code]

any thoughts?

[2015-04-13 19:26] KrauseFx commented on #189
There is no such thing as an app variable. This is just a standard markdown link for the slack message.
What value did you expect from this variable?

[2015-04-14 00:20] ashfurrow opened #191 "iOS simulator app installer support"
https://github.com/stepanhruda/ios-simulator-app-installer

Looks so cool. Willing to do this.

[2015-04-14 00:43] drupalmodule commented on #189
Not exactly sure- app bundleid or app name

[2015-04-14 04:26] dhagerty9009 commented on #176
I think that may fall under Xcode's domain. There is an option (I'll have to go find it tomorrow) to have all command line builds be built with the "Release" configuration. That could be causing your issue.

[2015-04-14 05:54] sneps85 commented on #174
any news on this? :-)

[2015-04-14 06:28] coreyfloyd commented on #176
@dhagerty9009 it's not that setting for sure, that was one of the first things I checked.

When you pass a scheme to xcodebuild, it does the "right thing" and uses the configuration specified by the scheme. The setting you are referencing only kicks in if you ommit the scheme and configuration options.

If you look at the issue description, you can see that Fastlane is explicitly passing the relea

[2015-04-14 08:07] chstraube opened #192 "FTP Upload available?"
Hi,

is there an opportunity to use the FTP Upload of [shenzhen](https://github.com/nomad/shenzhen) in fastlane
`$ ipa distribute:ftp --host HOST -u USER -p PASSWORD -P FTP_PATH`

Christoph

[2015-04-14 08:55] KrauseFx commented on #192
Not right now, only AWS S3 distribution is available.

[2015-04-14 08:57] KrauseFx commented on #192
It would be easily possible, if you want to, check out the integrated actions, in particular `s3` and `hockeyapp`, as most of the code can probably just be used for ftp distribution as well.

If you want to, you can always just run shell commands in `fastlane` using

[code]

[2015-04-14 08:58] KrauseFx commented on #174
Sorry, I'm not working on this right now.

[2015-04-14 08:59] KrauseFx commented on #174
If you need this fixed urgently and have some time, I'd be happy to review a pull request :+1:

[2015-04-14 08:59] KrauseFx commented on #189
Okay, good to know, I'll think about it :+1:

[2015-04-14 08:59] #189 closed

[2015-04-14 09:00] KrauseFx commented on #191
Wow, what is this? Black magic? :octopus: I'll take a closer look at this today :+1:

[2015-04-14 09:33] KrauseFx commented on #191
I took a closer look, I have 2 questions:

- What's the use case for integrating this into `fastlane`? What would you use it for at Artsy?
- How would you approach integrating as it's programmed in Swift?

It sure sounds promising, it's just not clear to me yet what to use it for.

I think, integrating [appetize](https://appetize.io/) would be more useful, as you can send it to clients, or employe

[2015-04-14 14:42] duemunk opened #193 "'sh' isn't available in custom actions"
The `sh`doesn't seem to work from custom/own actions.

1. I made a `fastlane new_action`
2. Uncommented the line with `sh "shellcommand ./path"`
3. Got the error `undefined method 'sh' for Fastlane::Actions::TestyAction:Class`

**Stack trace**
[code]

**Fastfile**
[code]

**Actions/testy.rb**
[code]

[2015-04-14 14:57] #193 closed

[2015-04-14 14:57] KrauseFx commented on #193
Ha, I was just updating the template, but haven't updated the super class. This was already implemented but not release yet. Could you try by downloading the latest version and running `sudo bundle install` and `sudo rake install`?

[2015-04-14 15:29] duemunk commented on #193
That works fine!

[2015-04-14 15:52] nicolaslauquin commented on #8
Is this feature available ? Just tested with fastlane 0.7 the default ".env" file is well loaded but using a  specific config file ".env.production" is not working:
```fastlane inhouse --env production```

[code]
The command is working well with the default config file:
```fastlane inhouse```
[code]

Files are present:
[code]

Did I missed something? I followed the doc available here : https://git

[2015-04-14 17:48] KrauseFx commented on #193
Okay, great to hear, so just `sh` works now?

[2015-04-14 17:51] KrauseFx commented on #8
@joshdholtz did the `.env` integration, maybe he can help? :smiley:

[2015-04-14 18:57] duemunk commented on #193
Yep. Thanks!

[2015-04-14 19:45] ashfurrow commented on #191
Artsy doesn't have a use case for this tool, but I can see other companies or developers having one: deploy to a coworker, manager, designer via their Mac over email/whatever. It would be tricky to integrate; any suggestions? Maybe a check similar to `xctool`'s?

[2015-04-14 20:21] KrauseFx commented on #191
Honestly, I'd rather prefer the `appetize` approach for various reasons:

- It's much easier to integrate, only S3 upload and post request
- It can be used by any team member, also non Mac-users and non developers
- It can be sent to a client to review the app

What do you think?

[2015-04-14 20:24] ashfurrow commented on #191
Makes sense to me. Don't really have a stake in this. Could always go with both, or whatever ¯\_(ツ)_/¯

[2015-04-15 17:23] chipaubry opened #194 "highline gem dependency error on both 0.8.0 and 0.8.1"
Anyone else seeing this error? Guessing its my env...but wanted to reach out first.

/System/Library/Frameworks/Ruby.framework/Versions/2.0/usr/lib/ruby/2.0.0/rubygems/specification.rb:1206:in `block in activate_dependencies': can't satisfy 'highline (>= 1.7.1)', already activated 'highline-1.6.21' (Gem::LoadError)

[2015-04-15 17:57] KrauseFx commented on #194
Sorry for the troubles, could you try updating `cupertino` and the other `nomad` tools if you have them installed?

[2015-04-15 18:07] iamjason opened #195 "[Feature] Run fastlane with dynamic folder name"
Is it be possible to add an optional command line parameter to run fastlane from a different folder?

eg:
[code]
I believe ``` FOLDER_NAME ``` is the variable that needs to be dynamic:
https://github.com/KrauseFx/fastlane/blob/master/lib/fastlane/fastlane_folder.rb#L3

Any help would be appreciated!

[2015-04-15 18:10] KrauseFx commented on #195
Yes, I assume so. If you have different folders, why don't you `cd fastlane_app1 && fastlane`?

[2015-04-15 18:50] iamjason commented on #195
Thanks for the fast response!  I don't think I make the problem clear with my question.  Maybe if I explain the problem, you'll have a better alternative.

I have one workspace that has four apps/schemes.  All apps have different bundle IDs, assets, metadata, etc, but share a lot of code. So, the file structure is something like:

./TheApps.xcworkspace
./fastlane_app1
./fastlane_app1qa
./fastlane_

[2015-04-15 20:49] KrauseFx commented on #195
If you plan on extending this to a number x of apps, your solution is absolutely not scalable.

But anyway, back to your problem: why don't you just do something like this:

Appfile
[code]

and call `fastlane` like this: ```APP_IDENTIFIER=com.krausefx.app fastlane beta`

[2015-04-15 20:49] KrauseFx commented on #195
You can do that for all options of course.

[2015-04-15 22:51] shams-ahmed opened #197 "rescue in method_missing'"
version: fastlane 0.9.0
command: fastlane beta

[code]

[2015-04-16 00:05] dhagerty9009 commented on #195
Though the passing of command line arguments could be interesting. Let's say you have different actions to deploy different version numbers of your app, like so:

[code]

It would be nice to condense these into one action since the only differences are the arguments passed to the `increment_version_number` action. The lane could be called via `fastlane deploy major`, and this could allow for some

[2015-04-16 01:52] iamjason commented on #195
@KrauseFx First off, the new fastlane updates look great!

I believe I'm passing the EVN variables correctly, but I am obviously missing something.  The ipa Action in the lane doesn't pass the correct variables.  eg output:  ``` set -o pipefail && ipa build -c "Release" --verbose | xcpretty ```

I've put together a basic example project: https://github.com/iamjason/fastlane-multiple-app-example

T

[2015-04-16 03:48] iamjason commented on #195
I'm definitely getting closer!  I'm currently having an issue with ``` deliver :skip_deploy, :force ```

Found here: https://github.com/iamjason/fastlane-multiple-app-example/blob/master/fastlane/Fastfile#L18

The part of the error message that looks important: ``` No value or block passed to method 'apple_id' ```

More detailed error information: https://gist.github.com/iamjason/d9519c3bb8d7e78e3

[2015-04-16 07:35] sneps85 opened #198 "ERROR Could not find 'highline' on executing ipa command"
i get the following error for the ipa command on a new installed fastlane:
/System/Library/Frameworks/Ruby.framework/Versions/2.0/usr/lib/ruby/2.0.0/rubygems/dependency.rb:296:in `to_specs': Could not find 'highline' (~> 1.6.11) - did find: [highline-1.7.1] (Gem::LoadError)

if i install 1.6.11 i run into the error that it finds 1.6.11 active, but needs 1.7.1

[2015-04-16 07:37] KrauseFx commented on #198
Sorry, I don't know what's wrong, but please update your gems using `sudo gem update`

[2015-04-16 07:41] KrauseFx commented on #195
First off, there is a built-in `sigh` action you can use.
The error message you linked is caused by not providing a value on the `apple_id` block in your `Appfile`.

[2015-04-16 07:42] KrauseFx commented on #195
I'll take a closer look later today.

[2015-04-16 07:42] KrauseFx commented on #197
Please share your Fastfile, as you seem to access a variable there, that does not exist.

[2015-04-16 07:52] sneps85 commented on #198
i updated my gems.
it's working now, thank you

[2015-04-16 08:12] sneps85 commented on #198
but now the command ipa build runs without any output and forever...

[2015-04-16 16:08] kcharwood commented on #197
I'm seeing the same thing here.

[2015-04-16 16:16] kcharwood commented on #197
My current fastfile (scrubbed). Note my project file I am referencing is 2 folders deep from the top level of the repo where the fastlane folder is, but I'm properly referencing its path.

[code]

[2015-04-16 16:17] kcharwood commented on #197
And of course, now it works for me... :)

[2015-04-16 17:35] iamjason commented on #195
Again thanks for your help on this!

Today, after updating all gems ``` sudo gem update ```...  I'm running into a new error.  I tried on another machine, for a sanity check, and got the same message.

[code]

[2015-04-16 19:21] chipaubry commented on #194
uninstalled nokogiri and reinstalled with --use-system-libraries and upgraded fastlane to 0.9.0 and I am back. Thanks for the quick response. Love fastlane!

[2015-04-16 20:06] KrauseFx commented on #195
What happens when you execute ` set -o pipefail && ipa build -w "BothApps.xcworkspace" -c "Release" -s "App2" -d "fastlane/_build_app2" --verbose | xcpretty`?

[2015-04-16 20:37] iamjason commented on #195
It hangs for less than a second and returns to the command line prompt.

[2015-04-16 21:00] iamjason commented on #195
Looking deeper, this second problem was seems like cocoapods corrupted the workspace and the scheme no longer existed.  Running: ``` ipa build -w "BothApps.xcworkspace" -c "Release" -s "App2" -d "fastlane/_build_app2" --verbose ```  Returned a valuable error message ``` Scheme App2 not found ```
Rebuilding the workspace fixes that issue.  Sorry for the tangent...

However, I'm still getting the ``

[2015-04-16 21:09] iamjason commented on #195
So, if the ``` apple_id ``` isn't getting passed correctly, here is where I _think_ I'm passing the ENV value:
https://github.com/iamjason/fastlane-multiple-app-example/blob/master/build_App1.sh#L1

And here is where I _think_ I'm using the value passed:
https://github.com/iamjason/fastlane-multiple-app-example/blob/master/fastlane/Appfile#L1

Do both of those look ok to you?

[2015-04-16 21:36] KrauseFx commented on #195
Can you run it without the `| xcpretty` in the end?

[2015-04-16 21:43] KrauseFx commented on #194
Thanks. Sorry about the dependency troubles.

[2015-04-16 21:43] #194 closed

[2015-04-16 21:43] KrauseFx commented on #197
Yes, the posted `Fastfile` looks correct. Before that, you seem to have accessed `successful` somewhere, but it wasn't defined. I'll try to make the error message more clear.

[2015-04-16 21:44] KrauseFx commented on #197
Oh, sorry, these were 2 different projects/profiles. @shams-ahmed please share your `Fastfile` and I can help you.

[2015-04-16 21:47] iamjason commented on #195
Yeah, it the ``` ipa ``` step is now working with out any errors, the current problem is with the ``` deliver ```

Here is a snippet from the where it's erroring out currently:

[code]

[2015-04-16 21:53] KrauseFx commented on #195
You still haven't provided an `apple_id` in your `Appfile`. Are you sure you're setting one?

[2015-04-16 22:04] iamjason commented on #195
See my note here: https://github.com/KrauseFx/fastlane/issues/195#issuecomment-93840233

I think I'm passing the ``` apple_id ``` with the env variable, but I'm not sure how to debug that.

https://github.com/iamjason/fastlane-multiple-app-example/blob/master/fastlane/Appfile#L1

[2015-04-16 22:17] KrauseFx commented on #195
Okay, after further investigation, it's your `Deliverfile`, where you define a new `apple_id` without providing a value.

[2015-04-16 22:39] shams-ahmed commented on #197
@KrauseFx

[code]

[2015-04-16 22:53] KrauseFx commented on #197
Check out your `after_all` block, the first line is **not** a comment:

```This block is called, only if the executed lane was successful```

change it to

```# This block is called, only if the executed lane was successful```

[2015-04-16 22:55] KrauseFx commented on #197
In related news: https://github.com/KrauseFx/fastlane/commit/fb812c9177db2e72dc359704f3a08b5d47d46b69

[2015-04-16 22:55] #197 closed

[2015-04-16 23:43] iamjason commented on #195
:+1:  That seemed to be the issue!  Thanks again for all of your help.

With that said... I don't entirely understand the _why_ here, because I define it as the same ENV variable in both the ``` Appfile ``` and ``` Deliverfile ```.  But, removing it from the ``` Deliverfile ``` fixed all issues.  So, if there is an explanation shorter than "learn ruby" I'd be interested... Otherwise, don't worry a

[2015-04-16 23:43] #195 closed

[2015-04-16 23:56] KrauseFx commented on #195
Sorry, I can't tell you, if you share your previous `Deliverfile`, I might be able to help.

[2015-04-17 05:17] KrauseFx commented on #169
Let's do this right!
[code]

More details: https://github.com/KrauseFx/fastlane/blob/feature/android/docs/Platforms.md

[2015-04-17 07:36] #182 closed

[2015-04-17 14:24] kcharwood opened #201 "Bamboo Support"
I know there is Jenkins support. Any plans to support [Bamboo](https://www.atlassian.com/software/bamboo) from Atlassian?

[2015-04-17 14:25] KrauseFx commented on #201
I'm sure it already is supported. I just put Jenkins on the project page, as many teams are using it. Just give it a go on Bamboo :+1:

[2015-04-17 14:25] KrauseFx commented on #201
Let me know if it works as expected.

[2015-04-17 14:26] kcharwood commented on #201
Cool. What is the best practice for passing in the bamboo job number to fast lane? Appending it to the env file?

[2015-04-17 14:53] KrauseFx commented on #201
I don't know, sorry, haven't worked with bamboo myself. Why would you need the job number?

[2015-04-17 14:56] kcharwood commented on #201
We currently use the job number as the incrementing build number in our feature branches. When we have parallel branches being developed, its difficult to have a source of truth, so we have bamboo plans spun up for that work and push them to unique hockey app buckets.

Just trying to figure out the slickest way to get into fastlane.

Here is some code showing how we pack a bunch of different infor

[2015-04-17 15:42] cvergeade commented on #107
Hello,
I think it is because your apple Id contains special characters.

[2015-04-18 02:49] eytanbiala commented on #106
@stojanovicigi Were you able to confirm if shenzhen is indeed doing a build and then an archive?

[2015-04-18 05:35] KrauseFx commented on #198
That's probably because you haven't specified a scheme. Try running `ipa build` in your terminal.

[2015-04-18 12:54] KrauseFx opened #204 "Migrate all actions to the new format"
This issue is related to https://github.com/KrauseFx/fastlane/pull/202

All implemented actions must be converted to the new action format. An example is given in the pull request description.

Available options when creating a new `ConfigItem`:

[code]

As this will result in some breaking changes (that's okay), please also update `Actions.md` and the `MigrationGuide.md` to state the changes. The

[2015-04-20 03:46] xareelee opened #209 "Hockey error: 'ipa' value must be a String!"
The fastlane version is `0.12.1`.

I follow [the documentation for fastlane actions](https://github.com/KrauseFx/fastlane/blob/master/docs/Actions.md#hockeyapp) to build a lane for beta testing:

[code]

After performing `fastlane inhouse`, it shows an error message `'ipa' value must be a String!`.

I ensure the value of `ipa` is a string, and I have no idea about why this error could happen.

[2015-04-20 06:11] KrauseFx commented on #209
Could you please share the full output when running `fastlane inhouse`?

[2015-04-20 06:22] xareelee commented on #209
Yeah, sure. Sorry about that.

[code]

[2015-04-20 10:22] shams-ahmed opened #211 "hipchat does not work on any of the supported version"
fastlane version fastlane 0.12.1

using terminal command:
[code]

or using the fastfile:
[code]

[2015-04-20 10:24] JaniJegoroff commented on #209
I see the same issue with versions 0.12.0 and 0.12.1.
IPA is uploaded successfully to iTunesConnect but to HockeyApp.

[2015-04-20 10:27] #211 closed

[2015-04-20 10:28] KrauseFx commented on #211
Thanks for reporting. I just pushed a fix. I publish a new version in a few minutes

[2015-04-20 10:29] shams-ahmed commented on #211
@KrauseFx thanks!

[2015-04-20 10:32] KrauseFx commented on #209
Thanks, I just fixed the issue and will publish a new release in a few minutes :+1:

[2015-04-20 10:43] KrauseFx commented on #209
Please update using `sudo gem update fastlane` and let me know if that fixes your problem :+1:

Sorry for the troubles.

[2015-04-20 10:43] KrauseFx commented on #211
Please update using `sudo gem update fastlane` and let me know if that fixes your problem :+1:

Sorry for the troubles.

[2015-04-20 10:46] shams-ahmed commented on #211
it worked!

[2015-04-20 10:49] KrauseFx commented on #211
Launching :rocket:

[2015-04-20 10:51] JaniJegoroff commented on #209
Fixed! :+1:

[2015-04-20 10:52] xareelee commented on #209
Just update it and it works well. Thanks for your great job! :+1:

[2015-04-20 10:52] #209 closed

[2015-04-20 10:53] KrauseFx commented on #209
Yeah! Great to hear, and thanks again for reporting.

:rocket:

[2015-04-20 13:16] JaniJegoroff opened #213 "ipa uploaded to HockeyApp but download status is disabled"
Not sure if I am missing something but download status is disabled in HockeyApp uploads after started to use `fastlane 0.12.2`. Upload itself works fine after fix for #209 but for some reason download is disabled.

Build 32 is uploaded with `fastlane 0.9.0`
Builds 35 and 36 are uploaded with `fastlane 0.12.2`

See screen captures for details:

![hockeyapp-builds](https://cloud.githubusercontent.co

[2015-04-20 14:23] JaniJegoroff commented on #213
I see, status needs to be set explicitly to enable download.

[code]

[2015-04-20 14:41] JaniJegoroff opened #214 "Symbols not uploaded to HockeyApp automatically"
Symbols used to be uploaded to HockeyApp automatically (if found) in previous releases. Now using `fastlane 0.12.2` and symbols are not uploaded automatically anymore.

Is this something that has been changed on purpose or is it a bug?

Documentation still says symbols should be uploaded automatically: https://github.com/KrauseFx/fastlane/blob/master/docs/Actions.md#hockeyapp

[2015-04-20 14:50] barrettj opened #215 "Error when running fastlane"
I get the following error when attempting to run fastlane:

[code]

This after doing a sudo gem update fastlane (I was previously running 0.5 I believe)

[2015-04-20 16:04] KrauseFx commented on #215
Can you run `sudo gem update`, which will update all your dependencies?

[2015-04-20 16:04] KrauseFx commented on #213
Thanks, I'll fix this with the next release

[2015-04-20 16:15] barrettj commented on #215
That seems to have fixed it, thanks!

[2015-04-20 16:15] #215 closed

[2015-04-20 16:46] KrauseFx commented on #213
Found the issue, I'll publish a release soon :+1:

[2015-04-20 16:53] #213 closed

[2015-04-20 16:59] KrauseFx commented on #214
Sorry about this, fix is on its way. Thanks again for reporting all those issues! :+1:

[2015-04-20 17:03] KrauseFx commented on #214
Fixed with https://github.com/KrauseFx/fastlane/commit/6f0cc953a8cd969ddab615f30b3e33fe5bca87c7

[2015-04-20 17:03] #214 closed

[2015-04-20 17:08] #198 closed

[2015-04-20 17:08] #204 closed

[2015-04-20 17:11] KrauseFx commented on #214
Just pushed the new version :+1:

[2015-04-20 17:36] pbendersky opened #216 "Error after updating to 0.12.3"
I was using 0.10.0 without issues. Today, I updated to 0.12.3, and I with this Fastfile:

[code]
I get the following error when running `fastlane test`:
[code]

Just in case I deleted the entire `fastlane` folder and recreated it using `fastlane init` but the result is the same.

Any hint?

[2015-04-20 17:47] KrauseFx commented on #216
Thanks for reporting, I'll push a fix in a minute!

[2015-04-20 17:48] pbendersky commented on #216
Update: changing the Fastfile to `xctool(Array.new)` or `xctool([])` serves as a workaround, but I think there's a bug in the `xctool` action.

[2015-04-20 17:50] #216 closed

[2015-04-20 17:51] KrauseFx commented on #216
Yes, thanks, I just pushed a fix: https://github.com/KrauseFx/fastlane/commit/81dfa2c33cca5bd3cb3360e5d35b3cabab2fd3ba

A new release will be available later today :+1:

In the mean time, do it like you posted above

[2015-04-20 17:53] pbendersky commented on #216
Thank you @KrauseFx!

[2015-04-20 17:54] KrauseFx commented on #216
Thank you for reporting @pbendersky. Sorry for the troubles with the new version. There were some major changes under the hood.

[2015-04-20 18:34] jhuggart opened #217 "Error when loading custom actions"
I defined a few custom actions. None of them are working after upgrading to fastlane 0.12.3.

I get a `NoMethodError: undefined method 'action_name' for Fastlane::Actions::MyCustomAction::Class`
whenever I try to run the action.

Here is the stack trace:
[code]

Do I need to modify my actions in some way so that they work with the latest release? Thanks!

[2015-04-20 18:54] jhuggart commented on #217
Looks like I just need to inherit from the Fastlane::Action class.

[2015-04-20 19:20] KrauseFx commented on #217
I'll update `fastlane` to not crash if that happens :+1:

[2015-04-20 19:53] KrauseFx commented on #217
The stack trace you posted is actually an error on your `Fastfile`

[2015-04-20 19:56] jhuggart commented on #217
Oh yeah, you're right. It looks like it's swallowing the exception that I posted. The stack trace is caused by calling .any on a nil object in the error lane. Not inheriting from Fastlane::Action in my custom actions is still an issue though.

[2015-04-20 20:02] KrauseFx commented on #217
Yep, just pushed a fix :+1:

[2015-04-20 20:02] #217 closed

[2015-04-20 20:04] jhuggart commented on #217
Awesome. Thanks!

[2015-04-21 07:18] fastlane-bot-helper opened #1925 "Could not store password in keychain"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/804308?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @xareelee - Imported from <a href='https://github.com/fastlane/credentials_manager/issues/5'>fastlane/credentials_manager#5</a>
        </td>
      </tr>
    </table>

I use `cert` and `sigh` in **fastlane**, and it works f

[2015-04-22 08:51] dral3x commented on #163
+1

[2015-04-22 09:06] lmirosevic commented on #18
This can probably be closed. There is `ENV['DELIVER_USER']` and the `email` property in the Deliverfile that would let you select a (different) iTC account.

[2015-04-22 09:42] #18 closed

[2015-04-22 15:34] fastlane-bot opened #1798 "I can't create a new app in itc"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/777783?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @ericertl - Imported from <a href='https://github.com/fastlane/produce/issues/31'>fastlane/produce#31</a>
        </td>
      </tr>
    </table>

I created a lane skipping devcenter and just focusing on create the app in it

[2015-04-22 18:19] eytanbiala opened #224 "`raise_if_conflicts': can't activate mime-types"
I just upgraded to fastlane 0.12.0 and made the necessary migrations for the new config system.
When I try to run a lane now, I am seeing this error:

[code]

I'm not too familiar with Ruby, but do I need to downgrade a gem to make fastlane work?

[2015-04-22 18:22] KrauseFx commented on #224
Can you try: `sudo gem update`

[2015-04-22 18:24] eytanbiala commented on #224
Sorry should have mentioned I tried doing that, everything is up to date:
[code]

[2015-04-22 21:34] eytanbiala commented on #224
I ran `sudo gem cleanup` to remove old gem versions, and then fastlane worked :+1:

[2015-04-23 04:25] wireframe opened #226 "commit_version_bump action errors with "Could not find option for key :force""
I'm not passing `force` as an option to the `commit_version_bump` action, so not sure what to do about this error message.

Fastfile:
[code]

Error log:
[code]

[2015-04-24 09:26] matto1990 opened #227 "invalid byte sequence in US-ASCII (ArgumentError)"
I'm running a lane that works fine on my development machine, but fails on our Jenkins machine. The Jenkins machine has the latest XCode (6.3.1) with ruby setup via rbenv. `bundle install` was run before running fastlane and fastlane was run using `bundle exec fastlane dev`.

The error I'm getting is:

[code]

Any ideas what could be causing this?

[2015-04-24 09:28] milch commented on #227
Can you run `locale` on your CI server and post the results please? Sounds like your `$LANG` is configured incorrectly on that machine.

[2015-04-24 09:30] matto1990 commented on #227
[code]

[2015-04-24 09:40] milch commented on #227
Try setting `export LC_ALL="en_US.UTF-8"`and see if that works for you. If you do a search on [all fastlane repositories](https://github.com/search?q=user%3Akrausefx+invalid+byte+sequence+in+US-ASCII&type=Issues&utf8=✓), this issue has happened quite a few times before with other fastlane tools, but we don't completely know what causes it (other than having a different locale than 'en_US.UTF-8').

[2015-04-24 09:41] matto1990 commented on #227
Interesting... Adding `export LC_CTYPE=en_US.UTF-8` as suggested in https://github.com/supermarin/xcpretty/issues/73 seems to fix the issue, but the values of `locale` are exactly the same on my development machine.

[2015-04-24 10:42] matto1990 commented on #227
Ok, that fix seems to work so I'll close this. Thanks for the help!

[2015-04-24 12:43] dral3x opened #228 "[Feature] New action for saving .xcarchive file elsewhere"
Hi!
I'm working on a new fastlane action that compress the last `.xcarchive` (built in the same line) and save it on a specific folder (other than `/Users/alex/Library/Developer/Xcode/Archives/`).

I almost complete my work but I'm facing a problem. The destination folder is user dependent.
On my machine it is `/Users/alex/BTSync` but my colleagues have that folder in their home (or elsewhere).

I

[2015-04-24 13:10] jeremiegirault opened #229 "for_lane broken by multiple platforms"
I'm not a ruby guy but I played with the source files of credentials-manager

````ENV["FASTLANE_LANE_NAME"]```` now returns something like ````ios inhouse```` with platforms
therefore my ```` for_lane :inhouse ```` does not finds the good block

````for_lane "ios inhouse"```` is also not working  because of the to_sym.
Can you either remove the to_sym or handle the platform in for_lane ?

Thanks

[2015-04-24 13:13] jeremiegirault commented on #229
I workaround with this in my Appfile :
[code]

[2015-04-24 13:14] eytanbiala commented on #228
If you use the xcodebuild action, you can use `archive_path`:
[code]

[2015-04-24 13:15] KrauseFx commented on #229
This is a very nice catch - completely forgot about the `for_lane`, thank you so much for reporting @jeremiegirault.

I'll fix this over the next few days.

[2015-04-24 13:55] dral3x commented on #228
Thanks @eytanbiala but that's not the problem i'm having.
Also I need to compress the archive so expliciting the archive path does not change anything to me.

[2015-04-24 14:00] eytanbiala commented on #228
I guess I misunderstood :)
Are you asking for a way to verify the environment variable is set before continuing? If so, you can do this at the start of a lane, or in your `before_all` if it applies to all of your lanes:
[code]

Here's how you can set environment variables - https://github.com/KrauseFx/fastlane/blob/master/docs/Advanced.md#environment-variables

[2015-04-24 14:01] dral3x commented on #228
That's what i was looking for. Thanks @eytanbiala !

[2015-04-24 14:02] eytanbiala commented on #228
Cool, glad to help :+1:

[2015-04-24 15:45] milch commented on #226
Apparently during the transition to the new config format this parameter was forgotten.

However, in your case, the problem is actually another one: since you are running `commit_version_bump` in the `after_all` block, your git status will most likely be dirty. Try moving it into `before_all` or, alternatively, running the `clean_build_artifacts` action before running `commit_version_bump` should

[2015-04-24 15:47] wireframe commented on #226
you're correct.  my git repo was dirty and adding `clean_build_artifacts` beforehand did fix the issue.

[2015-04-25 01:01] thisiscrazy4 opened #231 "Error if deliver has any parameters"
In my fastlane if I pass any parameters to the deliver command I get this error: `You have to pass the options for 'deliver' in a different way. Please check out the current documentation on GitHub!`

This is all I have:

    lane :deploy do
        sigh
        deliver :force
    end

If I remove the force, then deliver runs successfully but then fails for other reasons (which is why I need to pa

[2015-04-25 03:46] eytanbiala commented on #231
Since version 0.12.0 there is a new way to use deliver:
[code]
Check it out here - https://github.com/KrauseFx/fastlane/blob/master/docs/Actions.md#deliver

[2015-04-25 08:02] thisiscrazy4 commented on #8
So is it possible to have multiple sets of metadata? 1 for each target?

[2015-04-25 08:12] milch commented on #231
Also take a look at the [Migration Guide](https://github.com/KrauseFx/fastlane/blob/master/docs/MigrationGuide.md) in case you have any other issues, everything you need to change should be listed there.

[2015-04-25 14:16] #226 closed

[2015-04-25 17:28] KrauseFx commented on #231
Thanks @eytanbiala and @milch for responding so quickly.

As pointed out, please use the updated syntax posed by @eytanbiala and everything should work as expected :+1:

[2015-04-25 17:28] #231 closed

[2015-04-25 17:29] KrauseFx commented on #226
Thanks again @milch for providing a pull request resolving this issue. In fact, I really forgot to migrate this option and it seems like there was no test for this available parameter.

[2015-04-25 19:30] KrauseFx commented on #227
Thanks @milch for resolving this issue. @milch do you think there is a way to do that automatically within `fastlane`? This issue has been reported around 10 times already. At least when you google for `invalid byte sequence in US-ASCII (ArgumentError)`, the user can easily fix it, but still, it's an annoying thing. Would love to have this resolved.

I also noticed, the nomad tools are facing the

[2015-04-25 20:25] thisiscrazy4 opened #232 "Method similar to screenshots_path for metadata"
My xcode project has about 20 targets, each target is a separate app and so I need to upload a different set of screenshots and metadata for each target. I setup different .env files and in my Deliverfile I use screenshots_path to specify the screenshots path for each target, is there a way to do the same thing for metadata?

[2015-04-28 07:18] milch commented on #227
Since we don't know exactly what causes it I don't know if just straight up setting the locale ourselves would work reliably.

What if we do something similar to what home-brew does if it encounters an error? E.g. search github issues and present the user with some dialog like `fastlane noticed you encountered an error "<<error-text>>", see if it has already been solved in the following Issues: <<

[2015-04-28 16:48] robwithhair commented on #224
I had the same issue giving me the following error.  `sudo gem cleanup` also seems to have fixed it for me.

[code]

Thanks for your post.  @KrauseFx sorry to bother you Felix.

[2015-04-28 22:52] ealeksandrov opened #237 "Show version and build number in log and messages"
I want to display in my HipChat message something like `Deployed build v#{version_number} (#{build_number}) to Apple TestFlight`, but I am unable to find an access to these values.

Tried:
[code]
but they are empty. `agvtool` is useless in my case, because I set build number with `PlistBuddy` this way: [Gist with script](https://gist.github.com/ealeksandrov/3ba818789bf0fd29bb87)

The only way I kn

[2015-04-29 14:01] robwithhair commented on #227
+1 bit by this bug.  Don't know what changed but updating gave me this bug.  Fix above worked fine after I found it.

[2015-04-29 15:50] matto1990 commented on #227
If this got introduced recently maybe it's a good time to use [`git biset`](http://git-scm.com/docs/git-bisect) to narrow down which commit introduced it?

[2015-04-29 15:57] milch commented on #227
If @robwithhair still knows which version he updated from, one of you might indeed be able to `git bisect` this. Any info on this, @robwithhair?

[2015-04-29 19:43] darrarski opened #239 "Can't install builds via crashlytics after updating fastlane to 0.12.5"
After updating fastlane from version 0.12.4 to 0.12.5 builds submitted to Crashlytics Beta can't be installed on device. When downloading the app, alert appears "Unable to Download App. [...] could not be installed this time", which looks like provisioning profile issue.

There are no errors or warnings during lane execution. Everything looks good. My certificates and provisioning profiles setup i

[2015-04-29 20:37] darrarski commented on #239
After further investigation it occurred that my problem is not connected to fastlane directly, as running Crashlytics' submit script from command line doesn't solve it. I am closing this issue, as this isn't the right place to complain :-)

[2015-04-29 20:37] #239 closed

[2015-04-30 12:37] doozMen opened #240 "Fasten lane_manager No live threads left Deadlock?"
Hei I get stage error above. This is after updating to fastlane 0.12.5. I updated all the gems but not sure what the problem is.

[code]

[2015-04-30 17:42] davidrothera opened #241 "Unable to run many fastlane commands"
Hey, fresh OSX install and so reinstalling everything and running into this issue:

[code]

fastlane version is 0.12.5

[2015-04-30 22:21] fulldecent opened #242 "highline dependency error"
When installing the latest version:

[code]

[2015-05-01 01:13] codebreaker01 opened #243 "clean_build_artifacts doesn't clean for multiple sigh app identifiers"
@lmirosevic  I am using multiple sign actions with different app_identifiers which creates multiple provisioning profiles in the directory. I am assuming the SIGH_PROFILE_PATH variable takes into account the last sigh used and only cleans that profile. Any way I could clean all my profiles? Thanks!

[2015-05-01 03:54] lmirosevic commented on #243
In that case I would use the action "reset_git_repo" instead, and in combination with a "ensure_git_status_clean" at the beginning of your lane.

[2015-05-01 14:26] eytanbiala opened #244 "Specify IPA path as a parameter to deliver beta"
Currently it seems that deliver requires the IPA to be produced in the current directory.
Is it possible to provide a path to the IPA?

[2015-05-01 15:11] ChrisGrant commented on #242
This happened for me too but I ran "sudo gem uninstall fastlane" and then installed again and it worked.

[2015-05-01 21:37] fulldecent commented on #242
Sadly for me, not this time

[code]

[2015-05-01 22:14] codebreaker01 commented on #244
@eytanbiala I think there is way checkout this doc https://github.com/KrauseFx/fastlane/blob/master/docs/Actions.md

[2015-05-01 22:16] codebreaker01 commented on #243
@lmirosevic Yup did that. Thanks!

[2015-05-01 22:17] #243 closed

[2015-05-01 22:26] codebreaker01 opened #248 "commit_version_bump error in-spite of expected and actual changes being same"
Got the following error when using commit_version_bump. Even though the expected and actual changes are the same, it still throws an error. Tried using :force, but it leaves out one of the .plist files

[code]

[2015-05-02 19:15] brookstalley opened #249 "can't activate mime-types-2.5, already activated mime-types-1.25.1 (Gem::LoadError)"
Did a gem update and got fasten 0.12.5; pretty sure this was working before.

The full error trace is:

[code]

[2015-05-02 20:44] eytanbiala commented on #249
Try `sudo gem cleanup`. See #224

[2015-05-02 20:46] brookstalley commented on #249
How did I miss that? Sorry for the dupe, and yep that fixed it.

[2015-05-02 20:46] #249 closed

[2015-05-02 21:11] eytanbiala commented on #249
No problem, glad it worked!

[2015-05-03 11:06] KrauseFx commented on #227
This has probably nothing to do with the `fastlane` version as this problem has been around since version 0.1.0 of `deliver`. It's very annoying... at least when you google for it, you find a solution immediately.

[2015-05-03 11:09] KrauseFx commented on #239
Sorry, what was the problem?

[2015-05-03 11:09] KrauseFx commented on #241
Sorry, with the latest version of `commander` the `--help` command of all tools broke, I'm working on a fix :+1:

[2015-05-03 11:12] davidrothera commented on #241
Awesome, thought it was something to do with my fresh Ruby env :+1:

[2015-05-03 11:17] KrauseFx commented on #242
Related https://github.com/KrauseFx/snapshot/issues/140

Sorry for all this, I'll work on a fix and publish a new version today :+1:

[2015-05-03 11:17] #242 closed

[2015-05-03 11:20] KrauseFx commented on #248
@lmirosevic could you take a short look at this?

[2015-05-03 11:40] KrauseFx commented on #244
`
fastlane action ipa
`

You can use the `destination` option.

[2015-05-03 11:40] #244 closed

[2015-05-03 14:34] #240 closed

[2015-05-03 14:34] KrauseFx commented on #240
Fixed with the next version, thanks for reporting :+1:

[2015-05-03 17:13] #248 closed

[2015-05-03 17:14] KrauseFx commented on #248
Thank you @lmirosevic :+1:

[2015-05-03 19:57] #229 closed

[2015-05-03 19:57] KrauseFx commented on #241
Fixed with https://github.com/KrauseFx/fastlane/commit/63757c6dcccaec1f4e23305a1cb5adb959ec8fb9, thanks again for reporting :+1:

[2015-05-03 19:57] #241 closed

[2015-05-03 20:01] KrauseFx commented on #229
This is fixed now, working on a new release :+1:

[2015-05-03 20:02] #224 closed

[2015-05-03 20:04] doozMen commented on #240
Thanks man will try Tomorrow.

[2015-05-03 21:54] davidrothera commented on #241
Im still seeing the same error, what version will this fix be rolled in?

[2015-05-03 22:13] KrauseFx commented on #241
With the latest version of `fastlane`. Did you update? What happens when you run `sigh --help`?

[2015-05-03 22:14] KrauseFx commented on #241
Also, you can run `sigh -v` to make sure you're on `0.5.0`

[2015-05-03 22:15] fulldecent commented on #242
Works great now, thanks!

[2015-05-03 22:28] KrauseFx commented on #242
This makes me very happy to read! Thank you!

[2015-05-03 22:55] #177 closed

[2015-05-03 22:55] KrauseFx commented on #177
Just pushed https://github.com/KrauseFx/fastlane/commit/986375f50569847ec2900b8101f69a98f1461889

I decided to not got for the space after the method name, but to drop the `({` and only have `(` :+1:

[2015-05-03 23:31] davidrothera commented on #241
Ok, looks like I was just being a bit quick off the bat with the gem update, the specs repo just hadn't caught up.

Re-updated and now all looking good :) :+1:

[2015-05-03 23:35] KrauseFx commented on #241
Great to hear :+1:

[2015-05-04 09:13] darrarski commented on #239
@KrauseFx I am almost sure the Xcode was using different provisioning profiles, somehow cached on my computer, even when I removed them permanently from `~/Library/MobileDevice/Provisioning Profiles`. Something was wrong with mobile provisioning, but it's hard to say what exactly. Regenerating the profiles once again solved the problem.

[2015-05-04 13:00] akaralar opened #251 "The guide mentions setting up cocoapods and xctool correctly, but this information is nowhere to be found"
Hey,

Thanks for great toolchain. I want to setup cocoapods and xctool correct way, but don't know how to do so since it is not included in the docs folder. Is there somewhere else that I can learn how to set these up correctly?

[2015-05-04 19:14] sfransen opened #252 "a way of listing the users and access level in the itunesconnect.apple.com and Developer.apple.com"
a way of listing the users and access level in the itunesconnect.apple.com and Developer.apple.com

 I would like an tool that would list the user and access level in the both portals if possible.
 I have to maintain a large list of users in both portals and if someone leaves the company I have to make sure they are removed from the portals.

I just need to list them for now.
 Thanks

[2015-05-04 19:33] dhagerty9009 commented on #251
For xctool, go to the [xctool](https://github.com/facebook/xctool) Github repo.

As for Cocoapods, make sure you've downloaded the latest version of the gem `gem install cocoapods`, and then run `pod init` in the root of your project's directory.

[2015-05-04 19:44] larslockefeer opened #253 "`hockey` no longer supports all available arguments"
The `hockey` command no longer supports all arguments shown [here](http://support.hockeyapp.net/kb/api/api-versions#upload-version). Most notably:

* `teams`
* `mandatory`
* ~~`notes_type`~~

I think that this happened when actions were refactored to introduce `available_options` et al. Is this intended? If not, I can submit a pull request that adds support for these arguments again.

I am current

[2015-05-04 20:12] codebreaker01 opened #254 "add_git_tag doesn't allow parenthesis"
Got the error when explicitly specifying the tag
[code]

[2015-05-04 20:56] akaralar commented on #251
@dhagerty9009 So I don't have to do any fastlane specific setup, just setup cocoapods itself?

[2015-05-04 21:38] dhagerty9009 commented on #251
@akaralar exactly.

[2015-05-04 22:47] akaralar commented on #251
@dhagerty9009 alright makes sense, thanks for the info!

[2015-05-04 22:47] #251 closed

[2015-05-04 22:58] #254 closed

[2015-05-04 22:58] KrauseFx commented on #254
Thanks, I just pushed a fix, this will be in the next version! :+1:

[2015-05-04 23:00] KrauseFx commented on #253
Sorry, that shouldn't happen. The action is in `hockey.rb` in case you find time to add the missing configuration. Make sure to either set a `default_value` or `optional` so the user doesn't get asked for missing values :+1:

[2015-05-04 23:00] KrauseFx commented on #253
Here's the file: https://github.com/KrauseFx/fastlane/blob/master/lib/fastlane/actions/hockey.rb

[2015-05-04 23:01] KrauseFx commented on #251
Thank you @dhagerty9009 for helping :+1:

`fastlane` just works :rocket:

[2015-05-05 02:40] postmechanical commented on #253
`tags` also.

[2015-05-05 07:55] bkockx commented on #240
Fix was not working for us. I created a pull request with a new fix.
https://travis-ci.org/KrauseFx/fastlane/builds/61267159

[2015-05-05 08:15] KrauseFx commented on #240
Thank you @bkockx :+1:

[2015-05-05 13:33] davidrothera commented on #241
Hey, just checking in to say that in cert v0.1.9 I am still seeing the same issues as before :-1:

[code]

[2015-05-05 13:41] KrauseFx commented on #241
Please update using `sudo gem update fastlane_core` and let me know if that works! :+1:

[2015-05-05 13:42] KrauseFx commented on #241
Oh, I didn't update `cert` yet as it seems: https://github.com/KrauseFx/cert/releases

[2015-05-05 13:51] kommen opened #256 "Sigh: Lane specific `team_id` and `app_identifier` not used"
With fastlane `0.13.0` in my `Appfile`

[code]

But in the `enterprise` lane sigh uses the global `appid1` instead of `appid2`. This worked with `0.7.0`.

[2015-05-05 13:56] KrauseFx commented on #256
Sorry, I forgot to add this to the migration guide. With the most recent version I introduced a change to how lanes work. Please see the updated documentation: https://github.com/KrauseFx/fastlane/blob/master/docs/Advanced.md#the-appfile

Basically you now use a string instead of a symbol. In case you also have a platform declaration in your `Fastfile` you can add this to your name as well.

This

[2015-05-05 13:56] KrauseFx commented on #256
This would also enable things like:

[code]

[2015-05-05 14:08] kommen commented on #256
Yep, using a string instead of a symbol makes it work again. Thanks!

But yeah, I would prefer the `for_platform` approach like you suggested.

[2015-05-05 15:13] KrauseFx commented on #256
I'll fix this right now, thanks again :+1:

[2015-05-05 15:22] KrauseFx commented on #256
@fabiomassimo will work on this over the next few days/weeks :rocket:

[2015-05-05 15:51] KrauseFx commented on #253
I'll work on this right now :+1:

[2015-05-05 15:58] postmechanical commented on #253
See this fork: https://github.com/keatongreve/fastlane

[2015-05-05 16:00] KrauseFx commented on #253
I just went ahead and added all that: https://github.com/KrauseFx/fastlane/commit/120f08d405f7da4405ce7f90ff0d8718c66be08e

will be in the next release :+1:

Thanks again everybody.

[2015-05-05 16:00] #253 closed

[2015-05-05 16:16] postmechanical commented on #253
Thank you!

[2015-05-05 16:39] KrauseFx commented on #106
As this is an issue of `shenzhen` or `xcodebuild` I'll close this issue for now. Please refer to https://github.com/nomad/shenzhen/issues/223 for further discussion. All `fastlane` does is to trigger `shenzhen` using the `ipa` command.

[2015-05-05 16:39] #106 closed

[2015-05-05 21:07] orschaef opened #258 "Hockey upload fails with a SSL_connect error"
When reaching the upload to HockeyApp step I get the following output (fastlane version 0.13.0).

[code]

The full stack trace:

[code]
I already tried to update my certificates via

[code]

and also tried the equivalent steps described here
https://rvm.io/support/fixing-broken-ssl-certificates

but I still get the same error.
This issue first appeared after updating fastlane.

[2015-05-05 21:11] KrauseFx commented on #258
As seen on the stack trace:
[code]
it seems to be an issue from [shenzhen](https://github.com/nomad/shenzhen).

[2015-05-05 21:16] KrauseFx opened #259 "[Feature] Dash Support"
Show fastlane action documentation in Dash :+1:

[2015-05-05 21:42] orschaef commented on #258
Gave it another try after updating to fastlane 1.0.0.
Still the same error with shenzhen 0.14.1.

[code]

Can someone confirm that this is an issue related to shenzhen? Or faraday? This error seems to be widespread in the ruby world but there are too many different solutions.

[2015-05-05 23:00] codebreaker01 opened #260 "Additional params for lane"
I don't see this in the docs, but is it possible to add additional params to the lane?
Like for example, ```fastlane deploy patch``` would create a patched build.

[2015-05-06 05:45] dhagerty9009 commented on #260
I haven't found anything like that in the documentation. It's something that would be neat to have. I wonder if you can nest lanes and have it work almost like the multiplatform support, like so:
[code]

[2015-05-06 07:26] milch commented on #259
Ha, you took my comment seriously. :+1: to this feature!

[2015-05-06 07:43] milch commented on #258
Okay, well I think I know where the problem is. The problem doesn't originate in a specific gem, but is tied to the ruby installation itself (since `homebrew` and `rvm` installed rubies don't use the system-supplied CA-certificates).

Can you please post the output of `ruby -ropenssl -e 'puts OpenSSL::X509::DEFAULT_CERT_FILE'`? Also, if you do a quicklook on the file that this outputs, the certifi

[2015-05-06 07:48] milch commented on #258
@krausefx If this works, maybe we should include this in the README or some other part of the documentation, since quite some people have turned up with this error already.

[2015-05-06 08:09] myrddinus commented on #40
I'm used the version 1.0.0 and I can't switch the bundle ID and the team using for_lane in the AppFile.
In the generated ipa, in the info.plist, the bundle id is still that of the beta lane.

[code]

[2015-05-06 08:21] orschaef commented on #258
The command `ruby -ropenssl -e 'puts OpenSSL::X509::DEFAULT_CERT_FILE'` did output the expected line
[code]
So I went on and tried the described solution. But  `brew install curl-ca-bundle` returns with `Error: No available formula for curl-ca-bundle`.
It seems that `curl-ca-bundle` was removed on 25 April 2014 (https://github.com/smdahlen/vagrant-digitalocean/issues/123).

[2015-05-06 08:23] milch commented on #258
What if you just specify the SSL file? `export SSL_CERT_FILE=/usr/local/etc/openssl/cert.pem`

[2015-05-06 08:39] orschaef commented on #258
I had the same thought. But it didn't change anything

[2015-05-06 09:06] orschaef commented on #258
Finally I found a solution that works for me.

I just downloaded a new bunch of CA Certificates via
`$ curl http://curl.haxx.se/ca/cacert.pem -o /usr/local/etc/openssl/ca-cert.pem`
and exported them
`$ export SSL_CERT_FILE=/usr/local/etc/openssl/ca-cert.pem`
`$ echo 'export SSL_CERT_FILE=/usr/local/etc/openssl/ca-cert.pem' >> ~/.bash_profile`

Now everything is fine. Nevertheless it sounds weird b

[2015-05-06 09:15] fastlane-bot opened #1625 "Parallel uploads might fail due to temp file"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/6161006?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @theoriginalgri - Imported from <a href='https://github.com/fastlane/deliver/issues/194'>fastlane/deliver#194</a>
        </td>
      </tr>
    </table>

Today I started up my Jenkins to build new versions for my apps. To

[2015-05-06 09:29] KrauseFx commented on #40
@myrddinus sorry that was my mistake. Depending on your `Fastfile`, you'll probably have to use `for_lane "beta"` with the `ios`. If that doesn't work, please share your `Fastfile`

[2015-05-06 09:29] KrauseFx commented on #259
I take all ideas seriously. I'm very serious :wink:

[2015-05-06 09:29] KrauseFx commented on #259
But I'm not working on this feature, I just added this issue.

[2015-05-06 09:34] KrauseFx commented on #260
I like the idea. With the most recent update, we introduce an additional `platform` layer, but that won't solve your problem.

Right now the only way to pass information is using environment variables or files.

When you using environment variables:

[code]

not as pretty, but should do the job for now. What do you think?

[2015-05-06 09:38] myrddinus commented on #40
@KrauseFx My Fastfile below :

[code]

[2015-05-06 10:01] KrauseFx commented on #40
@myrddinus I'm not sure, but I think you misunderstood what the `app_identifier` option in the `Appfile` is about (I think I could improve documentation on that). The `app_identifier` doesn't change your app's app identifier, but is used for `deliver`, `snapshot` and so on.

[2015-05-06 10:24] myrddinus commented on #40
@KrauseFx Thanks for your response.
I can only do this by resigning the app if I understand.
I believed I could switch the bundle id before launch an ipa action. Resigning may cause some problem with the apple watch.

[2015-05-06 11:03] larslockefeer commented on #253
Great! Thanks guys! :+1:

[2015-05-06 11:54] KrauseFx opened #262 "commit_version_bump should only commit plist and project files"
Otherwise it might commit other things as well, that's not related to the version bump

[2015-05-06 12:49] pvegh commented on #258
Thanks for this hint, exporting the certificate fixed it for me as well.

[2015-05-06 14:37] myrddinus commented on #40
Using custom xcconfig, I can change the bundle ID, the signing identity and the provisioning profile according to the configuration (debug, release, ...).
Then ipa action is working.

[2015-05-06 15:02] duemunk opened #263 "Actions for git-flow support"
[Git-flow](https://github.com/nvie/gitflow)

I might get around to making this one myself.

[2015-05-06 15:28] KrauseFx commented on #263
What do you want to do with it?

[2015-05-06 16:04] KrauseFx opened #264 "Invalid Binary after upload"
Due to a bug in `shenzhen`, we'll need to wait for a new version until this works again: After the upload of a new binary created using the `ipa` action, you'll get a message stating `Invalid Binary`.

You can follow this [issue](https://github.com/nomad/shenzhen/pull/258#issuecomment-99164854)

tldr: `ipa` action doesn’t work due to bug in shenzhen if your app **doesn’t** have a watchkit extensio

[2015-05-06 16:54] duemunk commented on #263
I want to make a lane where I 1) create release branch, 2) increment build, 3) commit, 4) push to test flight, 5) finish release branch.
1 and 5 is related to git-flow.
I could do it with simple git commands, but thought I would wrap it in an action so it could be re-used.

[2015-05-06 17:13] frobichaud opened #265 "Invoking multiple lanes"
Hi,
just upgraded to 1.0.0 and I previously invoked fastlane with multiple lanes on the same line, such as:
[code]
I now get the following:
[code]

Do I need to invoke fastlane multiple times to achieve the same result?
[code]

[2015-05-06 17:14] codebreaker01 commented on #260
@KrauseFx  Sounds good for now.

[2015-05-06 17:16] KrauseFx commented on #265
Unfortunately I had to remove this feature with the addition of multiple platforms. You can now run `fastlane pods && fastlane beta` with the same result :+1:

[2015-05-06 17:24] iMstr opened #266 "Login not working"
Fastlane worked fine till a hour ago we saw the login to fail while the password is correct. The debug gave us the following error:
`DEBUG [2015-05-06 19:20:06.35]: Couldn't find element '.homepageWrapper.ng-scope' after waiting for quite some time`

[2015-05-06 17:26] KrauseFx commented on #266
Strange: https://github.com/KrauseFx/produce/issues/35

Have you tried turning it off and on again? Not sure what's causing this random error.

[2015-05-06 17:31] iMstr commented on #266
Will try, we noticed the terminal was using a lot of memory after running fastlane like 40 times. Even when all windows were closed it stayed. Maybe something in there caused this.

[2015-05-06 17:46] iMstr commented on #266
Still there :disappointed:
[code]

[2015-05-06 17:56] eytanbiala opened #267 "[Feature] Action to add an External Tester to TestFlight"
It would be great to have an easy way to add external tester(s) to TestFlight.
I imagine it would be similar to the `register_devices` action, maybe something like this:
[code]

or passing a csv file with the same info.

[2015-05-06 18:04] KrauseFx commented on #266
I wonder why you don't get a screenshot. I'll take a closer look later.

[2015-05-06 18:31] KrauseFx commented on #267
I just added the required API end point to [itc-api-docs](https://github.com/fastlane/itc-api-docs#register-new-external-beta-tester). Feel free to integrate it into a `fastlane` action if you have some time :+1:

[2015-05-06 19:11] vrao423 opened #268 "Shenzen broken-need to also bump Snapshot version"
I see you downgraded the Shenzen version for fastlane. Now it creates a conflict with snapshot and I cannot bundle.

[code]

[2015-05-06 19:41] frobichaud opened #269 "parameter html_file_name on s3 action is no longer supported"
Should this parameter be whitelisted in s3.rb?

We used it prior to 1.0.0. but now we get:
[code]

[2015-05-06 19:45] frobichaud commented on #265
Thanks, we use a script in our CI environment that invokes fastlane with multiple lanes through an ENV variable.
It used to be
[code]
We now replaced it with the following bash script:
[code]

[2015-05-06 19:46] KrauseFx commented on #265
Sorry for the troubles.

[2015-05-06 19:46] KrauseFx commented on #269
This option really is missing. @joshdholtz could you add it again? :+1:

[2015-05-06 20:01] frobichaud commented on #269
I'm on it, I'll submit a PR shortly.

[2015-05-06 20:14] eytanbiala commented on #237
Currently the VERSION_NUMBER is only set if you use `increment_version_number`, and BUILD_NUMBER is set by `increment_build_number`.

In your versioning script you can set environment variables with the version build and version number, and then in your Fastfile access them like this: `ENV['MY_VERSION_NUMBER']`

Let me know if this helps!

[2015-05-06 22:07] #269 closed

[2015-05-07 07:01] sneps85 opened #271 "Exit status of command was 256 instead of 0."
Exit status of command 'set -o pipefail && ipa build  --verbose | xcpretty' was 256 instead of 0.

This is the error i get. What is wrong?

[2015-05-07 08:36] KrauseFx commented on #271
That means your build failed. Please share your complete output so I can help you!

[2015-05-07 11:01] robwithhair opened #272 "xcarchive and xcexport actions don't seem to sign ipa correctly"
Tried moving over to xcarchive and xcexport to create builds after ipa started triggering watchkit warnings on upload.  The builds I generated did not seem to be signed correctly with the deployment identity created using actions produce, cert, sigh, update_project_code_signing, xcarchive, xcexport.  Got the following error from itunes connect.

ERROR ITMS-90035: "Invalid Signature. A sealed resou

[2015-05-07 12:52] aafa commented on #272
+1 to this.  I'm using xcarchive and xcexport to create ipa and send to iTC with `deliver`.
But in my case I haven't got any errors - everything seems green but no one can install an app from iTC TestFlight.
Seems like signing issue to me.

[2015-05-07 17:27] #260 closed

[2015-05-08 13:21] tcurdt opened #274 "OSX support"
Would be great to have support for OSX apps, too.

[2015-05-08 13:25] KrauseFx commented on #274
They are supported already with `1.0`: https://github.com/KrauseFx/fastlane/blob/master/docs/Platforms.md

`deliver` can already upload Mac screenshots and hockey will be able to upload `.app` files.

[2015-05-08 13:30] pvegh commented on #165
I wouldn't throw an exception nor show a stacktrace either.
It's a known use case, so handle safely and shortly report to the user would be my proposal / wish.

[2015-05-08 15:15] fastlane-bot opened #1624 "Add a tool to 'validate' the Deliverfile"
<table>
      <tr>
        <td>
          <img src='https://avatars0.githubusercontent.com/u/2995710?v=3&s=70' width='35'>
        </td>
        <td>
          Original issue by @kerrmarin - Imported from <a href='https://github.com/fastlane/deliver/issues/197'>fastlane/deliver#197</a>
        </td>
      </tr>
    </table>

Hey,

It would be great to have a tool that can "lint" the Deliverfile 'a

[2015-05-08 17:30] tcurdt commented on #274
Oh cool. I'll give that a try.
Didn't find the docs for it.

[2015-05-08 17:34] KrauseFx commented on #274
Yes, it's still much work in progress. I'm working on providing an example setup.

[2015-05-08 20:26] yuppielabel opened #275 "Lack of feedback when installing fastlane"
When running "sudo gem install fastlane" in the Terminal, there is not much feedback. I aborted a couple of times because I thought the install had stalled for some reason. Would appreciate more feedback like "Starting download", a progress bar or counting up bytes downloaded, a percentage or something, Anything would be better than the long wait..
Besides this, the docs and everything is just gre

[2015-05-08 21:35] KrauseFx commented on #275
Yes, I completely agree with you. Unfortunately the installation process is completely out of my control and is handled by RubyGems.

Do you think a note in the README would also help?

[2015-05-08 23:47] codebreaker01 opened #276 "Error submitting app to iTunes with Automatic provisioning profile or embed option in ipa"
This may/maynot be a Fastlane issue but any help would be appreciated. I am unable to upload the build to iTunes Connect with all the provisioning profiles set to automatic. I tried using the embed option in the ipa action but I receive the same error.

[code]

[2015-05-09 00:09] keatongreve commented on #276
I think the last line in that error is the most informative. It's saying one of your entitlements is incorrect, most likely the entitlement `application-identifier`. Here's an example of what my IPA looks like when I run `ipa info MyApp.ipa` (I changed some values)

[code]

So it sounds like yours is missing the Team ID prefix.

[2015-05-09 07:52] KrauseFx commented on #276
Thanks @keatongreve for helping :+1:

[2015-05-09 08:11] KrauseFx commented on #274
@tcurdt you might want to check out https://github.com/fastlane/examples/tree/master/MindNode

More information following soon.

[2015-05-09 08:11] KrauseFx commented on #274
You can open the `Fastfile` on the top :+1:

[2015-05-09 09:40] iMstr commented on #266
3 days later it magicly started to work! Thanks anyway.

[2015-05-09 14:01] yuppielabel commented on #275
Yeah, you could probably mention something like "Depending on your internet connection, it can take up to 15 minutes before some form of feedback shows up when starting the install."
I can file an issue with RubyGems for some form of feedback right after typing the install command.

[2015-05-11 11:49] rolandleth opened #277 "When building with ipa there is no xcarchive and the dsym file has a wrong name"
[code]
Properly works: .ipa, .xcarchive and dsym.zip are all present, named properly.

[code]
Does not work properly: there is no .xcarchive, the .ipa is named correctly, but the dsym.zip is named `MyAppName.app.dSYM.zip`. Then, of course, this error is raised: `Symbols on path 'project-path/build/Beta.app.dSYM.zip' not found`.

[2015-05-11 11:54] rolandleth opened #278 "When building with ipa and a different mobileprovision, an error occurs"
[code]
Properly works.

[code]

[code]

[2015-05-11 14:49] KrauseFx commented on #278
Duplicate of https://github.com/KrauseFx/fastlane/issues/277?

[2015-05-11 14:56] rolandleth commented on #278
Hmm, not really. #277 is about the output file names, specifically the dsym, this one is about embedding the profile/identity in the ipa, which results in an error.

[2015-05-11 14:58] KrauseFx commented on #278
Oh sorry, they looked so similar on the first glance. I'll take a closer look.

[2015-05-11 14:59] rolandleth commented on #278
They do because I pasted the commands I'm using, which are the same in both cases :)

[2015-05-11 17:12] bgerstle commented on #265
@KrauseFx would it be feasible to specify a platform and then multiple lanes? or at least some syntax to arbitrarily combine them?  for example:

[code]

Or, the ability to declare "multi tasks" a la Rake.  I don't see an enhancement ticket for this, though I recall seeing something similar a while back..  Should I create one?

[2015-05-11 19:08] KrauseFx commented on #265
@bgerstle Thanks for your feedback. There is no ticket for it yet, so I re-opened this one again. Why do you need this exactly? Doesn't chaining multiple lanes generate the same result for you?

[code]

Would like to understand your use case so we can work out a good solution :+1:

[2015-05-11 19:15] bgerstle commented on #265
@KrauseFx it's a minor concern, but things can quickly become verbose if you're using `bundle exec` (as the original reporter was).  Aside from that, Rake-like functionality would be cool:

- [Task prerequisites](http://rake.rubyforge.org/doc/rakefile_rdoc.html#label-Tasks+with+Prerequisites)
- [Multitasks](http://rake.rubyforge.org/doc/rakefile_rdoc.html#label-Tasks+with+Parallel+Prerequisites)

[2015-05-11 20:36] KrauseFx commented on #265
I guess it was not a good idea from me to use a space as a separator for the platform/lane. I'll think about a better solution. :+1:

[2015-05-11 20:58] bgerstle commented on #265
@KrauseFx Actually, Rake does this with [namespaces](http://rake.rubyforge.org/doc/rakefile_rdoc.html#label-Namespaces), if you're looking for inspiration. Can't think of any other tools with similar features off the top of my head.

[2015-05-11 20:58] bgerstle commented on #265
Also, for being so responsive: :cake: :beers: :pizza: :smile:

[2015-05-11 21:10] KrauseFx commented on #265
@bgerstle I have the feeling we should do a bigger rewrite to cover the following:

1) Dependencies between lanes (I think you mentioned that above)
2) Endless nested lanes. Right now it's only 2 levels with the platform + lane

On the other hand we have to keep everything simple, as the target group is non Ruby devs who just want to specify their build steps.

[2015-05-11 22:13] bgerstle commented on #265
Good call on KIS(S).  This seems like it will also break backwards compatibility with a couple things:

- Old syntax of invoking lanes: `fastlane $platform $lane`
- Per-platform/lane config in the Appfile `lane 'ios beta' do ...`

OTOH, I guess a power user could use Rake directly and shell out to fastlane when necessary, but it's suboptimal to use two separate tools.

[2015-05-11 22:17] bgerstle commented on #123
The current approach we're taking at Wikipedia is to grab either the `GIT_PREVIOUS_SUCCESSFUL_COMMIT` env var (from Jenkins Git plugin) or 5 revisions ago (`HEAD^^^^^`).  You can see the code on our [GitHub mirror](https://github.com/wikimedia/apps-ios-wikipedia/blob/master/fastlane/lib/utils.rb#L46), in `fastlane/lib/utils.rb#generate_git_commit_log`.

However, we've been having problems with get

[2015-05-11 22:18] bgerstle commented on #123
Sorry to hijack the thread, I can create a separate issue, but figured it was relevant.

[2015-05-12 08:46] KrauseFx commented on #123
@bgerstle Thanks for sharing your solution on how you get the git commit logs. Really interesting, this could be a great new `fastlane` action :+1:

For not filling in the changelog: The `changelog` option in the `Deliverfile` sets the changelog of the app on iTunes Connect (seen in the App Store), while `DELIVER_WHAT_TO_TEST` should pre-fill the change log for the TestFlight build.

If it's not w