[2016-08-22 17:18] #5791 closed

[2016-08-22 17:36] CareerFairPlus commented on #5813
@asfalcone Please don't forget `create_certificate!` and `create_app!`
Thanks!

[2016-08-22 17:37] mattfred commented on #5800
This was an issue with git. I have it fixed now. Thanks

[2016-08-22 17:37] #5800 closed

[2016-08-22 17:40] JimHowell20 commented on #5827
creating a new app using a developer account, always worked before (last time I tried was a little over a month ago), never works now, only 1 distribution cert. Here is the stack trace:

[2016-08-22 17:56] jmjordan commented on #5649
@TKBurner, no worries. Setting an environment variable for the keychain name isn't a big deal.

[2016-08-22 18:11] TKBurner commented on #5123
@pieisgood @ruehl Can you let me know exact repro steps for this. I noticed we haven't made much progress here, and want to make sure we get this fixed! Thanks 👍

[2016-08-22 18:11] asfalcone commented on #5813
@chrhsmt Can you run `gem update spaceship` and give [0.31.7](https://github.com/fastlane/fastlane/releases/tag/spaceship/0.31.7) a try?

[2016-08-22 18:13] asfalcone commented on #5827
Can you run `gem update spaceship` and give [0.31.7](https://github.com/fastlane/fastlane/releases/tag/spaceship/0.31.7) a try? We think we've fixed the bug for a few of the use cases that people on this thread are running into. 👍

[2016-08-22 18:14] TKBurner commented on #5734
@zhouzerong Thanks for following up. I don't believe this is currently supported in Spaceship.

Checkout the bottom of this page for the full documentation on testers, https://github.com/fastlane/fastlane/blob/master/spaceship/docs/iTunesConnect.md

Thanks!

[2016-08-22 18:15] TKBurner commented on #1655
@jakubprusa Can you let me know what version of Ruby you are using?  Are you able to use other Fastlane tools? Thanks!

[2016-08-22 18:17] TKBurner commented on #5735
Hi @jakubprusa Thanks for following up. After you add it one time do you run into it again with Fastlane?

Thanks!

[2016-08-22 18:20] TKBurner commented on #5035
@bgannin Thanks! We'll work with you on the PR 👍

[2016-08-22 18:20] #5035 closed

[2016-08-22 18:21] TKBurner commented on #5386
Hi @yishuiliunian Thanks for following up on this. Can you let me know if you are still running into this issue if you run `sudo gem update fastlane`?

[2016-08-22 18:22] jlubeck commented on #5817
I'm running into this error as well but when running deliver.

[!] The request could not be completed because:
	Screenshots and app previews for the largest display sizes of your app’s primary localization must be uploaded directly. Screenshots and app previews for the largest display sizes of your app’s primary localization must be uploaded directly. Screenshots and app previews for the largest d

[2016-08-22 18:27] JimHowell20 commented on #5827
Just tried it out, same error and stack trace still :/

[2016-08-22 18:28] TKBurner commented on #5615
@tomachi No problem! I'll mark this as help wanted in case anyone from the community wants to submit a PR. Thanks for using Fastlane!

[2016-08-22 18:32] TKBurner commented on #5649
@jmjordan Thanks for following up. We are going to look into it here, since the release is coming soon. Have a great day!

[2016-08-22 18:35] chrhsmt commented on #5813
@asfalcone that seems to be fixed ! thanks a lot !!!!

[2016-08-22 18:39] TKBurner commented on #4150
@dgoyaldiksha Thanks for letting me know.  Is Xcode or any simulator open on the Jenkins server while gym is being run? Can you share your current --verbose input and output, definitely want to get to the bottom of this.

[2016-08-22 18:40] TKBurner commented on #4983
@scalbatty Thanks for following up. Can you run` sudo gem update fastlane`? Can you login at appleid.apple.com? Also are you using Sierra or El Capitan?

[2016-08-22 18:43] TKBurner commented on #1393
@lkraider It should. Are you able to use it with that functionality?  Thanks!

[2016-08-22 18:44] asfalcone commented on #5813
Great, I'm going to close this issue as it was specific to `repair_provisioning_profile`.

If, after updating to 0.31.7, you are still getting a `Bad Request` error, please follow https://github.com/fastlane/fastlane/issues/5827 where we will continue to look for a fix. 👍

[2016-08-22 18:44] #5813 closed

[2016-08-22 18:45] TKBurner commented on #4241
@simme Did you have a chance to give this a test? You might need to run both commands to get the outcome you are looking for. Hope you have a wonderful day! 👍

[2016-08-22 18:46] asfalcone commented on #5798
@CareerFairPlus `0.31.7` is the latest release.

[2016-08-22 18:47] KrauseFx commented on #5827
@JimHowell20 It can't be the exact same stack trace, can you share the complete stack trace with the latest update, and also send us the complete output when running it using `DEBUG=1 produce ... --verbose` via email? bugreport@krausefx.com

[2016-08-22 18:48] TKBurner commented on #5783
@misteriusdrh Thanks for reaching out. Right now screengrab is not compatible with Windows. That is why you are experiencing this issue. I'll mark this as a feature request. Thanks!

[2016-08-22 18:48] #5783 closed

[2016-08-22 18:48] pieisgood commented on #5123
@TKBurner I don't have logs from the issue, but the issue eventually resolved itself. Are you looking to provide a better error message? Since this seemed to be an issue with apple and not fastlane?

[2016-08-22 18:49] asfalcone commented on #5798
i'm going to close this issue since the origin problem with `cert` and `match` have been fixed.

If, after updating to 0.31.7, you're still seeing `Bad Request` please follow #5827 where we will continue to look for a fix for the remaining issues.

[2016-08-22 18:49] #5798 closed

[2016-08-22 18:50] TKBurner commented on #5784
Hi @teddynewell I saw Felix followed up on your pull request. This would work better as a plugin.  Hope you have a great day!

[2016-08-22 18:50] #5784 closed

[2016-08-22 18:51] sungolo commented on #5827
Same error as well.  Only 1 team and I am admin on the account.

[code]

[2016-08-22 18:51] asfalcone commented on #2049
I'm going to close this issue since it references an old version of `spaceship`. Please update to 0.31.7 and let us know if you're still running into the same issue

[2016-08-22 18:51] #2049 closed

[2016-08-22 18:53] TKBurner commented on #5709
@Stoff81 Thanks for following up. Really glad you found what you were looking for. I'd love to see a docs update 👍

[2016-08-22 18:53] #5709 closed

[2016-08-22 18:54] ConfusedVorlon commented on #5285
I tried making spaceship retry 120 times, rather than the default 5.
It has been retrying for about an hour now and it still gets the error.

I know that restarting deliver within a couple of minutes of a fail results in it uploading screenshots again - so I suspect the limit exists on the session and spaceship will need to restart the session and continue rather than just waiting longer.

[2016-08-22 18:55] TKBurner commented on #5381
@Damnum Did you run sudo gem update fastlane after that? Can you let me know if it still works after that command? Thanks!

[2016-08-22 18:57] ConfusedVorlon commented on #5285
scratch that - I spoke too soon. Uploading has resumed!

[2016-08-22 18:58] Reedyuk commented on #5817
Yes, it seems like Apple have changed something since allowing the 5.5." screen images to automatically down scale for the smaller devices.

[2016-08-22 19:00] TKBurner commented on #5683
Hi @tibo Thanks for following up. Does it work ever on this device? Can you login to appleid.apple.com on that machine?

Thanks!

[2016-08-22 19:01] #5807 closed

[2016-08-22 19:03] TKBurner commented on #4059
Hi @hotbott Are you using Xcode 7 or 8? We are working on merging our PRs, so you'll see this in master soon.

Thanks!

[2016-08-22 19:04] TKBurner commented on #5163
@zqxiaojin Thanks for letting us know. We are working on Xcode 8 support. Thanks!

[2016-08-22 19:07] TKBurner commented on #5125
@andyshephard @sbhklr Did you try the workaround above? PILOT_WAIT_FOR_NEW_BUILD_TRAINS_ON_ITUNESCONNECT=1

[2016-08-22 19:09] asfalcone commented on #5817
@Reedyuk Did you say that the error is fixed in `deliver 1.13.2` ?

[2016-08-22 19:11] Reedyuk commented on #5817
No sorry, the error is still there.

[2016-08-22 19:11] TKBurner commented on #5285
@ConfusedVorlon Thanks! I just updated the core team so we can look into what's going on here.

Thanks!

[2016-08-22 19:12] asfalcone commented on #5817
I believe this is a duplicate of https://github.com/fastlane/fastlane/issues/5643 which we fixed in `spaceship 0.30.0` and `deliver 1.13.2`. Can you update to the latest tools and let me know if it is fixed? If not, please add an updated stacktrace so we can debug further. Thanks 👍

[2016-08-22 19:14] Reedyuk commented on #5817
I'm using 1.13.2, i'm using Bitrise, that is the full log that i am getting.

[2016-08-22 19:15] TKBurner commented on #5797
@CareerFairPlus We are working on a release for pem stay tuned!

[2016-08-22 19:16] asfalcone commented on #5817
The stack trace you posted indicates that `1.11.2` is being used:
[code]

[2016-08-22 19:17] Reedyuk commented on #5817
The original post:
[code]

[2016-08-22 19:17] #1970 closed

[2016-08-22 19:19] jlubeck commented on #5817
As a personal note, the error "Screenshots and app previews for the largest display sizes of your app’s primary localization must be uploaded directly" I'm also getting on Itunes connect directly. So I'm not sure this is a fastlane issue.

[2016-08-22 19:20] TKBurner commented on #5824
Hi @richardszalay Thanks for reaching out about this. I marked this as a feature request to see if the community is interested in this functionality. Thanks!

[2016-08-22 19:20] asfalcone commented on #5817
Ah, I see. The stacktrace you posted does not match the original issue you mentioned @Reedyuk

The error is `Screenshots and app previews for the largest display sizes of your app’s primary localization must be uploaded directly. There is an error for 1 of your localizations.` which, as @jlubeck mentioned is coming from Apple.

[2016-08-22 19:22] CareerFairPlus commented on #5827
I'm still having issues creating new push certificates with PEM.  I'm running the latest versions (fastlane v1.101.0, fastlane-core v0.50.3, pem v1.3.2, spaceship v0.31.7):
[code]

[2016-08-22 19:22] TKBurner commented on #5405
Hi @doapp-nick Thanks for reaching out about this. Are you interested in submitting a PR to change this functionality? I think it'd be interesting. Thanks!

[2016-08-22 19:23] KrauseFx commented on #5827
@sungolo @CareerFairPlus Are these regular Apple Developer accounts, or Enterprise accounts?

[2016-08-22 19:23] TKBurner commented on #5728
@iPavel92 Thanks for letting me know! Glad to hear you are up and running. 👍

[2016-08-22 19:23] Reedyuk commented on #5817
Very odd, i can upload via Xcode fine, but using Deliver, its failing. I do believe it is something Apple's end, but i need more evidence. I have contacted them about it.

[2016-08-22 19:27] CareerFairPlus commented on #5827
Regular Apple Developer account for us.  We have two Distribution certificates and this particular app I'm trying to update has only 1 other Apple Push certificate.

[2016-08-22 19:30] vpolouchkine commented on #5789
Can you please format your issue per https://github.com/fastlane/fastlane/blob/master/ISSUE_TEMPLATE.md? Thanks!

[2016-08-22 19:32] CareerFairPlus commented on #5827
I reduced the default page size (see [this comment](https://github.com/fastlane/fastlane/issues/5827#issuecomment-241353216) above) to 5 in spaceship/client.rb and it seems to be working now, albeit much slower than usual.

[2016-08-22 19:32] vpolouchkine commented on #5821
Thanks for the PR!

[2016-08-22 19:41] sungolo commented on #5827
@KrauseFx, Regular Apple Developer account.

[2016-08-22 19:42] lkraider commented on #1393
In my case I am setting another variable name in the Xcode project in the provisioning profile field, similar to what the screenshot shows but I named it `$PROFILE_UUID`, which I set in the Jenkins build job from the `sigh` output.

In the doc is not clear if I set exactly: `$(sigh_tools.fastlane.app_development)` in the Xcode project, and then set an environment var named `$PROVISIONING_PROFILE_T

[2016-08-22 19:44] vpolouchkine commented on #5757
Can you try setting `export_method: "package"` when you're calling `gym`?

[2016-08-22 19:50] vpolouchkine commented on #5773
Can you try getting the change log from a text file instead?

[2016-08-22 19:57] Mohab1 commented on #5773
I just needed more easy way to include relaese notes while pushing a new build from jenkins.
I changed the approach now to make it take these logs via "options" for each lane it's more convenient than passing it from prompt

[2016-08-22 20:02] sbhklr commented on #5125
@TKBurner Actually I haven't. Thank you for the pointer.

[2016-08-22 20:03] TKBurner commented on #5733
Hi @jaffacake Thanks for following up. What happens if you run deliver before you run pilot?

Thanks!

[2016-08-22 20:06] vpolouchkine commented on #5729
Thanks for the followup and providing more details!

[2016-08-22 20:06] TKBurner commented on #5502
Awesome @tcurdt! Are you interested in submitting a PR for this?

Thanks!

[2016-08-22 20:11] TKBurner commented on #4821
@tcurdt Thanks for following up. It seems like there is a metadata issue, so I think adding deliver will help. Thanks!

[2016-08-22 20:12] TKBurner commented on #1896
@ndbroadbent and @imbaZLN Thanks for reaching out here. Can you provide the full input and output for your lane?

Thanks!

[2016-08-22 20:15] TKBurner commented on #5307
@inteist Thanks for following up. Did you get it working? I think for multiple users you are going to want to use import if you want those fields imported. Thanks!

[2016-08-22 20:15] vpolouchkine commented on #5809
Perhaps @neonichu can provide a workaround, per https://github.com/fastlane/fastlane/pull/5298

[2016-08-22 20:18] TKBurner commented on #5675
@aniaMu Thanks for reaching out about this. It should be corrected now if you run `sudo gem update fastlane`. Let me know how it goes!

[2016-08-22 20:20] tcurdt commented on #5502
@TKBurner sure can do.

[2016-08-22 20:22] vpolouchkine commented on #5796
As a sanity check, can you set `notes` to some string?

[2016-08-22 20:22] TKBurner commented on #5799
@BrianSemiglia Awesome!

[2016-08-22 20:24] vpolouchkine commented on #5795
Can you take a look at https://github.com/fastlane/fastlane/issues/5313 to see if it helps?

[2016-08-22 20:25] vpolouchkine commented on #5603
Thanks for confirming, we'll take a look.

[2016-08-22 20:25] TKBurner commented on #4220
@icecrystal23 What input are you giving to match?

@biolinh skip_fech_profiles prevents it from downloading new profiles. So that is expected. Do you still have an issue, I'd love to help 👍

[2016-08-22 20:29] TKBurner commented on #5707
@lferro9000 Thanks! We'll take a look at this 👍

[2016-08-22 20:30] vpolouchkine commented on #5779
Hey @cojoj, would you be able to provide a repro project? That would help tremendously in debugging this.

[2016-08-22 20:32] vpolouchkine commented on #5786
Thanks for the report; what would expect to see in the log?

[2016-08-22 20:34] tcurdt commented on #5066
FWIW - I switched away from `gym` and are calling `xcodebuild` now directly from a custom action. Smooth sailing since then. I will to write up summary of my custom build action at some stage.

I am pretty sure `gym` needs some fixing - but feel free to close the issue if you feel it's no longer applicable.

[2016-08-22 20:34] inteist commented on #5307
@TKBurner no, I do not think it is possible with the current syntax the `add` command supports.

[2016-08-22 20:37] vpolouchkine commented on #5781
Which tool (within fastlane) are you referring to specifically?

[2016-08-22 20:41] icecrystal23 commented on #4220
My `match` summary.  The only things I set explicitly were development and force, I think.

	+-----------------------+------------------------------------------------------------------+
	|                                 Summary for match 0.6.2                                  |
	+-----------------------+------------------------------------------------------------------+
	| app_identifier        |

[2016-08-22 20:41] neonichu commented on #5809
Unfortunately, I don't think this can really be worked around effectively. Using `RUBY_VERSION` does not work, see [this comment](https://github.com/fastlane/fastlane/pull/5810#issuecomment-241542344) for more information.

IIRC, @segiddins was working on handling this better in rubygems, but even that would not help as long as the goal is to support macOS system ruby, because that also ships with

[2016-08-22 20:45] vpolouchkine commented on #5778
There's an [action](https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Actions.md#update_info_plist) to modify the Info.plist,  but I don't believe there's one for project.pbxproj.

[2016-08-22 20:47] vpolouchkine commented on #2034
@sundbry The original issue is pretty old, would you mind opening a new one and formatting it per https://github.com/fastlane/fastlane/blob/master/ISSUE_TEMPLATE.md? Much appreciated.

[2016-08-22 20:47] #2034 closed

[2016-08-22 20:48] cojoj commented on #5779
Well @vpolouchkine that'd be actually hard... But I suspect it can be CocoaPods related, cause when I change something in our `Podfile` everything seems to work (even with `Debug`). `xcodebuild` is too silent on this one and I cannot make 100% statement on what is actually failing 😭

[2016-08-22 20:48] vpolouchkine commented on #5776
Thanks for the report!

[2016-08-22 20:50] vpolouchkine commented on #5767
Thanks for the report!

[2016-08-22 20:50] vpolouchkine commented on #5295
Thanks for the detailed writeup. Looks like a bug to me!

[2016-08-22 20:55] vpolouchkine commented on #5604
Can you check if your HockeyApp API token is for upload-only?

[2016-08-22 20:55] vpolouchkine commented on #5758
Thanks for the FR, keeping this open for upvotes.

[2016-08-22 20:56] caamorales commented on #5827
Was facing the same issue when using produce, just ran gem update spaceship and it is working now.

[2016-08-22 21:27] zineer commented on #5827
I'm getting the same error. A bit of testing suggests that part of the issue comes from running 'cert' before 'produce'.

My fastfile:
[code]

Output:
[code]

If I remove 'cert' from my fastfile, 'produce' works fine. I'll send a "DEBUG=1... --verbose" trace to bugreport@krausefx.com.

[2016-08-22 21:38] segiddins commented on #5809
I've only been working on fixing it in Bundler.

[2016-08-22 21:40] zineer commented on #5827
I've sent the full output to bugreport@krausefx.com, but for reference here, the last request outputted when doing the DEBUG=1...--verbose output is (with possible identifiers removed ---):

[code]

[2016-08-22 21:47] jaffacake commented on #5733
We only use pilot at the moment as we haven't released our app, we've just
been testing it pre launch.

On Mon, 22 Aug 2016, 21:04 Todd Burner, <notifications@github.com> wrote:

[2016-08-22 21:48] CareerFairPlus commented on #5827
I'm running produce before cert in my Fastfile

[2016-08-22 22:11] neonichu commented on #5809
@segiddins that's actually better, because Bundler doesn't ship with system Ruby, does it?

[2016-08-22 22:14] segiddins commented on #5809
Not yet

[2016-08-22 22:30] vpolouchkine commented on #5773
Glad you were able to work around this.

[2016-08-22 22:30] #5773 closed

[2016-08-22 23:27] micnguyen commented on #1393
I've tried the method of having `use_legacy_build_api: true` in `gym` but the issue still seems to be happening for me. For example, when I add a new device to my developer account, the profile that `match` generates is the correct one (has the extra device - and I can see it in the Provisioning Profiles folder), but `gym` fails to sign it with that profile and instead gets a random older one.

[2016-08-22 23:33] richardszalay commented on #5617
I've finally published my blog series, which might give some context as to why I wanted to do this - https://blog.richardszalay.com/2016/08/22/ios-deploy-pipeline-1-introduction/

[2016-08-22 23:33] richardszalay commented on #5618
I've finally published my blog series, which might give some context as to why I wanted to do this - https://blog.richardszalay.com/2016/08/22/ios-deploy-pipeline-1-introduction/

[2016-08-23 00:10] trustyfrog commented on #5827
I'm experiencing this as well. I get this if I run produce in the terminal. The same script has worked for a bunch of other apps in the last few weeks.

[2016-08-23 00:11] trustyfrog commented on #5728
Same here; apps turned up some time later.

[2016-08-23 02:49] ILI4S commented on #5733
I'm running into the exact same issue as @TKBurner.

We're also just running pilot, and not deliver. Due to the error output described above, we just manually release Testflight builds to external testers through the web GUI. The interesting thing is that in the web GUI, all the relevant fields (e.g. "Beta App Description") are already filled in from previous tests, though "What to test" is blank

[2016-08-23 04:19] cybertk commented on #1911
Is there any updates?

[2016-08-23 04:55] cybertk commented on #5827
Same issue here for running `match 0.6.2`

[2016-08-23 05:20] gregk8288 opened #5849 "PEM [!] 784: unexpected token at 'Bad Request'"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
For the last two days whenever I run PEM as part of Fastlane, I get the following error.
`[07:04:30]: 784: unexpected token at 'Bad Request'`
I am able to see on the developer centre that the p

[2016-08-23 05:59] tomachi commented on #5125
New PR is not getting in? Its more than a month old!

[2016-08-23 06:02] gregk8288 commented on #5849
@fastlane-bot - I don't think this is a code signing issue. Cert and Sign both run without issue:
[code]

[2016-08-23 06:18] evilDave commented on #4241
Is this info used by pilot? I don't think I have seen any such checkbox when adding a build to testflight.

[2016-08-23 06:20] simme commented on #4241
I put the stuff that ConfusedVorlon posted into a Deliverfile (modified for my needs obviously). Didn't work.

There's a checkbox when pushing a build out to external testers.

[2016-08-23 06:23] evilDave commented on #5198
I think this is good to close - as described it was an Apple bug regression that was fixed quite quickly.

[2016-08-23 06:53] revolter commented on #5781
Sorry! I was referring to [snapshot][1]. Should I move this issue there?

  [1]: https://github.com/fastlane/fastlane/tree/master/snapshot

[2016-08-23 07:34] richardszalay commented on #5824
Thanks @TKBurner - I'm happy to look at doing a PR for it.

If you're interested in the usecase, checkout the [blog series I just published](https://blog.richardszalay.com/2016/08/22/ios-deploy-pipeline-1-introduction/) (though I don't mention this issue until the "Closing Thoughts" in part 4.

[2016-08-23 08:29] 365SplendidSuns commented on #5813
Was going to come back to leave my stacktrace but as of the new update it's back to working perfectly. Thanks a million.

[2016-08-23 08:59] ShadeApps commented on #5817
I have the same issue both on iTunes Connect and Deliver and I'm 100% confident it's a bug on Apple's side, been having this issue for the past 2 days and our app is stuck on screenshot upload process permanently.

[2016-08-23 09:20] neonichu commented on #5833
You can set your schemes to shared in the Xcode UI: <https://developer.apple.com/library/mac/recipes/xcode_help-scheme_editor/Articles/SchemeShare.html>

[2016-08-23 09:23] AmauriC commented on #5827
Same here.

Always work before, stop working since some days. Regular account, 1 cert.

[code]

[2016-08-23 09:42] zhouzerong commented on #5734
@TKBurner  Yeah，you mean the "delete" method is not supported on class of Device!   But i want to now when can you add this method ? @KrauseFx

[2016-08-23 09:44] ConfusedVorlon commented on #5285
I spoke too soon. The restart was a temporary reprieve, and after one more batch of updates, it went back to 'temporary failure' and stayed there for about 4 hours.

[code]

[2016-08-23 09:50] zhouzerong opened #5850 "Use spaceship to delete a app, has error!!!"
i use ruby code directly @KrauseFx   the spaceship version is 0.31.7

**# Add a app like this:**
Spaceship.app.create!(bundle_id: "com.yukharekid.ki760", name: "iopName0")
and it's success !!!

**# Now i want to delete it like this:**
app = Spaceship.app.find("com.yukharekid.ki760")
app.delete!
[code]

[2016-08-23 09:57] mrmartineau commented on #5833
Thanks @neonichu, this looks good

[2016-08-23 09:57] #5833 closed

[2016-08-23 09:58] tibo commented on #5683
Hi @TKBurner

It used to work with deliver `1.10.5` and it haven't since I upgrade to `1.13.X`
I can logging on appleid.apple.com without any problem.
Again, if I try to run the same command line from my terminal it work perfectly: the problem is really when it's run by Jenkins.

Thanks!

[2016-08-23 10:06] ConfusedVorlon commented on #5757
@vpolouchkine that doesn't seem to help.

I have added to my gymfile
`export_method "package"`

(I also tried it in the direct call - just in case).

[code]

It doesn't look like the 'package' option is making it into the xcodebuild command.

[code]

[2016-08-23 11:16] dombarnes opened #5851 "Default appstore lane name conflicts with appstore action alias"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Fastlane warns that lane ````appstore```` conflicts with the appstore alias to deliver. Given this is the default lane name on ````fastlane init```` it makes sense to change one of these things

[2016-08-23 11:55] jlubeck commented on #5817
Hey Sergey, (and eveyone else having this issue on iTunes Connect). Call
apple at Developer Customer support and let them know. When I called
yesterday, they told me they were not aware of the situation, so the more
people having it, the faster the'll hopefully fix it.

*_____**_*
Jan Lübeck
Chief Technology Officer
fyrastudio.com

On Tue, Aug 23, 2016 at 4:59 AM, Sergey Grischyov <notifications@g

[2016-08-23 12:30] nikolaykasyanov commented on #5631
@TKBurner I may want to start an ad-hoc build while some intergration/test build (one using iOS Simulator) is running.

[2016-08-23 12:47] cojoj commented on #5779
I couldn't find it anywhere, cause it later goes to Fastlane Core, but maybe `scan` is piping this `xcodebuild -list -workspace ./Jodel.xcworkspace`?

https://openradar.appspot.com/27595098

[2016-08-23 14:10] vani2 opened #5852 "Couldn't find app with 'yyyyyyyyy'"
I try `pilot list -u <my-appleid>`, but it fails. What app name actually using for searching? I disappointed about this error.

[code]

I use

[code]

[2016-08-23 14:16] bartolkaruza commented on #5827
+1
`match appstore` since today

`match -v` > `match 0.6.1`

[code]

[2016-08-23 14:51] asfalcone commented on #5827
#5849 and #5850 are also related to this issue. We're still looking for a fix.

[2016-08-23 15:03] scalbatty commented on #4983
@TKBurner Hi!

I tried updating fastlane, no changesm still hanging after the `CONNECTED` status. I changed my setup so fastlane is now installed in a rvm wrapper by the way, still having the same behavior. (ruby 2.3.0)

The Mac is running El Cap 10.11.6.

By the way, this is the kind of command that is run by Jenkins when invoking a shell script :

[code]

Maybe this can help.

[2016-08-23 16:20] JimHowell20 commented on #5827
running Produce before Cert in my fastfile seems to have fixed the issue for me.

[2016-08-23 16:28] AmauriC commented on #5827
Hum, it solve the issue for produce but now pem fail

[code]

[2016-08-23 16:39] lyptt commented on #5604
The API key is marked as 'Full access'

[2016-08-23 16:59] mrmartineau opened #5856 "gym build error?"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
I have just started using fastlane on a new project and while running `gym` locally to test, I get the below output for part of the task. The `gym` task actually builds an app successfully **bu

[2016-08-23 17:10] ikovalisko commented on #5686
I have a similar issue. `pilot` fails to distribute a fresh build to External testers with the following error:
[code]
However, the Beta App Description is filled in. When I opened build details I found there *two* localisations for the same language:
![screen shot 2016-08-23 at 20 03 06](https://cloud.githubusercontent.com/assets/555642/17901703/3f03bc06-696d-11e6-9974-12a0e8d43258.png)
Both have

[2016-08-23 17:19] GabrielCartier commented on #5066
Using legacy api has worked for me, but only as a temporary solution. Unfortunately I'm running into a lot of trouble when building it for app store. I'll search around to see if other peopel have ran into this problem, but I do feel like this is an important problem.

[2016-08-23 17:36] lluisgerard commented on #5827
Same here, in my case I just by calling `produce` I was able to reproduce the error:
`produce -u myacc -a new_app_id --skip_itc`

(I had to create my new App Id by typing it on Xcode and clicking the "fix issue" button 😆)

[2016-08-23 17:48] joeydong commented on #5686
Oh man that looks super broken. Maybe play around with it until you can access the red "Delete" button. What if you add another localization temporarily? I would also try playing with the HTML to enable the button and see what happens.

[2016-08-23 17:50] mfurtak commented on #5827
@lluisgerard If you run `gem update spaceship` and ensure that you get v0.31.7

[code]

can you then see if your simple `produce` call has the same trouble?

I can reproduce the problem when the installed `spaceship` version is **0.31.1**, but not with **0.31.7** 👍

[2016-08-23 18:06] lluisgerard commented on #5827
@mfurtak don't worry, I just thought this may help others as I thought this was related, excuse me if this was not. After all I solved it and done it all from Apple dev portal (yes I have the last spaceship ver)

[2016-08-23 18:12] CareerFairPlus opened #5857 "Need to detect if PEM created a certificate or not"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
I'm trying to figure out a way to determine - programmatically in my Fastfile - if PEM created a new Push Certificate for my app or if my current certificate is still valid for a while.  I can

[2016-08-23 18:13] sfransen opened #5858 "Installing fastlane on a xcode8 Beta6 Fails Json-1.8.3.gem working fine with Xcode 7"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Configuration Files

Please copy the complete content of your `Fastfile` and any other conf

[2016-08-23 18:14] sfransen commented on #5858
I tried Xcode beta 5 and Xcode beta 6 both fail.

[2016-08-23 18:17] TKBurner commented on #5858
Hi @sfransen Thanks for reaching out. We don't have official support for Xcode 8 yet. However, can you downgrade to json 1.8.1 and let me know how it goes? Thanks!

[2016-08-23 18:36] vpolouchkine commented on #5604
Hm, not sure what's going on here. Perhaps someone who's more familiar with Hockey will be able to chime in.

[2016-08-23 18:44] vpolouchkine commented on #5781
No worries. I believe you can make this work via Launch Arguments (https://github.com/fastlane/fastlane/tree/master/snapshot#launch-arguments).

[2016-08-23 18:51] asfalcone commented on #5827
For anyone still experiencing the Bad Request exception using `spaceship` 0.31.7, if you can change the default `page_size` to 100, it would be really helpful for us to know if this changes the behavior for you. (You can do this by running from source or just modifying the code running in your spaceship gem and [changing this value](https://github.com/fastlane/fastlane/blob/master/spaceship/lib/sp

[2016-08-23 18:52] vpolouchkine commented on #5757
Can you try setting the `--pkg` flag for `deliver`?

[2016-08-23 19:03] ConfusedVorlon commented on #5757
what's the format for doing that in my deliverfile (or fastfile)?

I can only see a .app file being built; no .pkg file, so not sure where I should point deliver

[2016-08-23 19:07] jakubprusa commented on #5735
@TKBurner sorry I forget to answer. If I submited one version manually, then Fastlane pilot works ok.  This is my current config.

[code]

[2016-08-23 19:19] tcurdt commented on #5066
@GabrielCartier sounds like [my comment from above](https://github.com/fastlane/fastlane/issues/5066#issuecomment-225151732)

[2016-08-23 19:24] joshrlesch opened #5859 "scan cannot find device"
### New Issue Checklist

- [ x] Updated fastlane to the latest version
- [x ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
When passing in a device, scan is saying that it cannot find the device.

I know the device exists because when I run
[code]

or run
[code]
##### Complete output when running fastlane, includ

[2016-08-23 19:38] joshrlesch commented on #5859
oops sorry, did not see this is current in the works on being fixed https://github.com/fastlane/fastlane/pull/5746

[2016-08-23 21:01] TKBurner commented on #5857
Hi @CareerFairPlus Thanks for reaching out about this. There isn't a good way to do this. You could force a new cert to always be created, or you could check the created date of the actual file. Thanks!

[2016-08-23 21:04] TKBurner commented on #5686
@ikovalisko Let me know how it goes! Is this affecting the whole app or just a specific version?

Thanks!

[2016-08-23 21:05] TKBurner commented on #5066
@GabrielCartier Did the workaround solve it for you? Thanks 👍

[2016-08-23 21:07] TKBurner commented on #5856
HI @mrmartineau Thanks for reaching out. Do you get any errors when building in Xcode? It looks like these are just warnings from a package you've included. You should be able to safely ignore. Thanks!

[2016-08-23 21:07] #5856 closed

[2016-08-23 21:15] TKBurner commented on #4983
Hi @scalbatty Thanks for following up. What happens if you set --wait_processing_interval to 120?

Thanks for working with me on this. Hope you are doing well 👍

[2016-08-23 21:16] spawrks opened #5860 "command line options being run as a lane and causing error"
### Issue Description
I'm pretty sure this is due to my ignorance rather than a bug, but whenever i pass in a command line option the error block is being triggered because (i think) its trying to run the parameters as a lane.

This is how I pass data to fastlane:
[code]
but I always get a
[code]

Is there a different format I should be using to pass options into the build from the commandline?
##

[2016-08-23 21:18] TKBurner commented on #5852
Hi @vani2 Can you share the full input and output when you run `pilot list`? Also can you provide your fastfile? Thanks!

[2016-08-23 21:23] TKBurner commented on #5779
Hi @cojoj Thanks for following up. Can you add the --verbose flag to see if there is more output to help us out here. Thanks!

[2016-08-23 21:24] TKBurner commented on #5631
@nikolaykasyanov Can you add the --verbose flag, so I can take a look at what is happening again? Thanks so much!

[2016-08-23 21:27] TKBurner commented on #5817
@ShadeApps Can you let me know the error you get from iTC? Just want to make sure it matches up. Thanks all!

[2016-08-23 21:29] TKBurner commented on #5851
@dombarnes Thanks for reaching out about this. So when do you get this error? When you run the lane or on fastlane init? Can you run sudo gem update fastlane? Thanks!

[2016-08-23 21:31] TKBurner commented on #5757
Sorry, I think Val meant ipa. You set that as a parameter of deliver like

ipa: 'path\to\ipa.ipa'

Thanks!

[2016-08-23 21:33] TKBurner commented on #5683
@tibo #4983 Can you update that issue with the details specific to you. Also try the workaround in the last comment and let me know how it goes!

Closing as duplicate

[2016-08-23 21:33] #5683 closed

[2016-08-23 21:34] TKBurner commented on #5833
@neonichu Thanks so much for stepping in here! Really appreciate it. 👍 💯 💯

[2016-08-23 21:34] TKBurner commented on #5198
@evilDave Thanks!

[2016-08-23 21:34] #5198 closed

[2016-08-23 21:35] TKBurner commented on #5125
@tomachi Can you let me know which PR is related to this that is current? I'll bump it with the team. Thanks!

[2016-08-23 21:37] CareerFairPlus commented on #5857
The problem with forcing a new cert to always be created (which is what we do currently) is that PEM won't auto-revoke the oldest push cert and will fail after 2 certs have already been generated.

I think a simpler approach is to add a return value to the pem action: true if a new cert has been created, false if no certs have been created.  It looks like the inner-workings of PEM already does thi

[2016-08-23 21:40] TKBurner commented on #5850
You can follow over on #5827. Closing as duplicate.

[2016-08-23 21:40] #5850 closed

[2016-08-23 21:41] TKBurner commented on #5285
@ConfusedVorlon Thanks for working with us on this. We are looking into this over here to see if it's a rate limit or something else. Thanks!

[2016-08-23 21:43] TKBurner commented on #5734
Hi @zhouzerong Thanks for following up. I marked this as a feature request and labeled it to see if any one is interested in submitting a PR. Thanks!

[2016-08-23 21:44] TKBurner commented on #5813
@365SplendidSuns Awesome! So glad to hear you are up and running! 👍

[2016-08-23 21:45] TKBurner commented on #5824
@richardszalay Very cool! I think it makes sense to add these. If you are interested go for it. We are a little behind on merging PRs so I want to set the expectation that it might be slow going once you prepare something. By making sure you have good test coverage we can hopefully merge faster!

[2016-08-23 21:47] TKBurner commented on #4241
@simme Can you share you full input and output? First run sudo gem update fastlane. Thanks!

[2016-08-23 21:48] TKBurner commented on #5849
@gregk8288 Thanks for reaching out. You can follow along on #5827 As this is related. Thanks!

[2016-08-23 21:48] #5849 closed

[2016-08-23 22:04] ConfusedVorlon commented on #5757
@TKBurner the issue is with a MacOS app here. I don't think that generates an ipa. Am I missing something?

[2016-08-23 22:22] TKBurner commented on #1911
Hi @cybertk We'd love to see an external PR on this, but haven't made any work internally. Thanks!

[2016-08-23 22:24] TKBurner commented on #5733
Hi @ILI4S have you tried running deliver before pilot? Let me know if that fixes it. Thanks!

[2016-08-23 22:24] TKBurner commented on #5728
@trustyfrog Awesome! Glad to hear you are up and running! 👍

[2016-08-23 22:24] TKBurner commented on #5617
@richardszalay Awesome! Thanks so much for sharing.

[2016-08-23 22:25] TKBurner commented on #5502
@tcurdt Awesome! Thanks so much 👍 💯 💯

[2016-08-23 22:25] #5502 closed

[2016-08-23 22:27] TKBurner commented on #5809
Thanks! @segiddins Keep us updated 👍

[2016-08-23 22:46] tcurdt commented on #5502
@TKBurner Please see the question in #5848 to get this merged.

[2016-08-23 22:54] spawrks commented on #5860
ha! fair fastlane-bot, but no its not a codesigning issue.

[2016-08-23 23:36] FodderMK commented on #5593
I'm wondering if the issue could be related to https://github.com/fastlane/fastlane/issues/1805 , which I just banged my head against a little while ago.

[2016-08-24 00:29] revile commented on #5233
I've made a Pull Request that implements this here: #5861

[2016-08-24 00:39] revile commented on #5860
I think your issue is that in the `after_all` section you are referring to `account_id` which is not set, hence it thinks it is a lane. You probably want to change that line to `message: "App #{options[:account]} was successfully released!"`

[2016-08-24 00:44] bolom commented on #5233
@TKBurner yes it's better tks

[2016-08-24 01:53] gaurav17281 commented on #5125
Same Error
`1:51:47]: ------------------------------------------------------------------------------------------------------
[21:51:47]: Successfully uploaded package to iTunes Connect. It might take a few minutes until it's visible online.
[21:51:47]: ------------------------------------------------------------------------------------------------------
[21:51:47]: Successfully uploaded the new bi

[2016-08-24 02:15] zhouzerong commented on #5827
i use ruby code directly  the spaceship version is 0.31.7

# Add a app like this:
Spaceship.app.create!(bundle_id: "com.yukharekid.ki760", name: "iopName0")
and it's success !!!

# Now i want to delete it like this:
app = Spaceship.app.find("com.yukharekid.ki760")
app.delete!

**# there is something wrong,log below:**
/Library/Ruby/Gems/2.0.0/gems/json-1.8.3/lib/json/common.rb:155:in `parse': 757:

[2016-08-24 02:32] KrauseFx commented on #5827
We finally found a way to reproduce the issue and are already working on a fix, stay tuned 🚀

[2016-08-24 02:48] KrauseFx commented on #349
@lxzhh @twobitlabs Thanks for the reports, we already prepared a fix over here https://github.com/fastlane/fastlane/pull/5862 and will push a new release in a few minutes.

Please also subscribe to the original issue https://github.com/fastlane/fastlane/issues/5827 👍

[2016-08-24 02:53] KrauseFx commented on #5827
Hey everyone, thanks for all your help, we just pushed a new version, spaceship 0.31.8. Please try it by running `[sudo] gem update spaceship` or `bundle update` if you're using bundler.

Please let us know if that fixes the issue 👍

[2016-08-24 03:12] KrauseFx commented on #5860
Thanks for jumping in @revile, that's correct 👍

[2016-08-24 03:13] KrauseFx commented on #5852
Where did you set the bundle identifier `yyyyyyyyy`?

[2016-08-24 05:13] zineer commented on #5827
Fix in 0.31.8 works for me. Thanks!

[2016-08-24 05:32] bonzoq opened #5863 "Gym fails when building a Swift 2.3 Xcode 8 project with `libswiftCoreBluetooth.dylib` missing"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

`Gym` fails when building an XCode8 Swift 2.3 project with the following error:

`[!] No such file or directory - /Applications/Xcode-beta-6.app/Contents/Developer//Toolchains/XcodeDefault.xct

[2016-08-24 05:43] revile commented on #4059
I'm having the same issue (using Xcode 7), this is getting pretty frustrating.

[2016-08-24 06:10] zhouzerong commented on #5827
Fix in 0.31.8 does not for me.  I checked the directory of "/Library/Ruby/Gems/2.0.0/gems/" and the spaceship was updated to "spaceship-0.31.8"

The same problem also!!!!!!!!
`/Library/Ruby/Gems/2.0.0/gems/json-1.8.3/lib/json/common.rb:155:in `parse': 757: unexpected token at 'Bad Request' (Faraday::ParsingError)
	from /Library/Ruby/Gems/2.0.0/gems/json-1.8.3/lib/json/common.rb:155:in `parse'
	fro

[2016-08-24 06:15] mortenholmgaard commented on #5827
It fixed the problem for me with produce but PEM now/still fails with this stack trace:

[2016-08-24 07:40] cojoj commented on #5779
@TKBurner `scan` is already running with `--verbose` flage and IMO it's still not telling everything 😜

[2016-08-24 07:45] Reedyuk commented on #5817
![itc-fail](https://cloud.githubusercontent.com/assets/3853006/17922469/0ee06424-69d7-11e6-9426-4d6e90659deb.png)

[2016-08-24 07:46] Reedyuk commented on #5817
it makes me think that this is a bug their end because the error text is repeated, which is something you would generally do for placeholder text.

[2016-08-24 08:02] tibo commented on #5683
Hi @TKBurner

the wait_processing_interval doesn't exist for deliver:
`invalid option: --wait_processing_interval`

[2016-08-24 08:03] tibo commented on #4983
@TKBurner as said in issue #5683

there is no --wait_processing_interval option for deliver so that's not relevant for my case

[2016-08-24 08:08] mrmartineau commented on #5856
No errors in xcode. I'll ignore, thanks.

[2016-08-24 08:11] rspl17 commented on #4711
@vpolouchkine can you tell me what is supported on windows as I am not able to use it on windows 10

[2016-08-24 08:23] scalbatty commented on #4983
@TKBurner Hi! I tried with the `--wait_processing_interval 120` option, same behavior.

[2016-08-24 08:54] dabvid commented on #1393
When forcing enterprise, is there a type I can use instead of $(sigh_tools.fastlane.app_development)?

[2016-08-24 08:56] AmauriC commented on #5827
Same as @mortenholmgaard

pem alone work but not on the full fastfile :/

[code]

[2016-08-24 09:01] vani2 commented on #5852
The problem was wrong branch with another app id, but not `yyyyyyyyy`.Thanks for quick reply.

[2016-08-24 09:01] #5852 closed

[2016-08-24 09:14] bobbeat opened #5865 "match development get 757: unexpected token at 'Bad Request' error"
***:match ***$ match development

+-----------------------+-----------------------------------------+
|                     Summary for match 0.6.2                     |
+-----------------------+-----------------------------------------+
| git_url               | git@***:gzm/matchtest.git |
| type                  | development                             |
| git_branch            | master

[2016-08-24 09:32] Syrou opened #5866 "Supply - json_key_file - Set data with environment variable instead?"
We are setting up a complete buildflow with fastlane, ci & docker, and kind of think this would be a important feature to add into supply.

Keeping credentials is important, and supplying a json file that potentially someone can just get access to by either getting an url or just copying the from the repository file is probably harder to protect than just using the build variables added in most Gi

[2016-08-24 09:50] bobbeat commented on #5865
anyone knows the problem?give me a favor.   Ths!

[2016-08-24 09:53] uny commented on #5865
Same issue.
https://github.com/fastlane/fastlane/issues/5827, https://github.com/fastlane/fastlane/issues/5813 and https://github.com/fastlane/fastlane/issues/2049 does not solve my problem.

[2016-08-24 10:43] ShadeApps commented on #5817
@TKBurner apparently for now the bug is gone and I am able to submit new apps as well as update old ones.

[2016-08-24 11:24] #1347 closed

[2016-08-24 12:06] mrmartineau opened #5867 "Running fastlane on Bitrise - non-interactive mode"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Running a build for a new app (one that has a slightly different stack than previous apps I've setup) in Bitrise and I'm getting a few errors that I haven't before.. Now the first seems fairly

[2016-08-24 12:28] glancashire opened #5868 "Dependency Problem"
When I try to update to the newest version I receive the following error (on two different machines)

[code]

I have tried uninstalling and reinstalling to no avail.

Thanks for your help.

[2016-08-24 12:35] PatrickHeneise commented on #5827
Having the same issue with `match`

[2016-08-24 13:26] CareerFairPlus commented on #5857
Just noticed the new_profile option in the PEM action:
https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Actions.md#pem

[2016-08-24 13:26] #5857 closed

[2016-08-24 13:29] medslt commented on #5865
Same problem here when I run Pem module (https://github.com/fastlane/fastlane/tree/master/pem)

[2016-08-24 13:40] medslt commented on #5827
Having the same issue with Pem

[2016-08-24 13:43] sungolo commented on #5827
it works for produce now but breaks for pems.

[code]

[2016-08-24 14:46] asfalcone commented on #5867
@mrmartineau is fastlane being run from the project directory where there is a Fastfile or a fastlane folder?

[2016-08-24 15:00] asfalcone commented on #5865
Duplicate of #5827

[2016-08-24 15:05] TKBurner commented on #5827
@sungolo @AmauriC @zhouzerong Can you share your full input and output to help us out? I've reach out to the core team so they can take a look. Thanks!

[2016-08-24 15:06] TKBurner commented on #5865
@medslt @bobbeat Thanks for reporting this. Closing as duplicate. Please follow over there. Thanks!

[2016-08-24 15:06] #5865 closed

[2016-08-24 15:07] TKBurner commented on #5857
@CareerFairPlus Thanks for following up on this. Glad you found what you were looking for. Hope you have an excellent day!

[2016-08-24 15:09] TKBurner commented on #5868
Hi @glancashire Thanks for reaching out. Do you use RVM to manage rubies? Also can you uninstall the highline gem and then run `sudo gem update fastlane`?

[2016-08-24 15:11] sungolo commented on #5827
@TKBurner, my stack trace is above, here is the input

[code]

[2016-08-24 15:15] mrmartineau commented on #5867
@asfalcone yes. there is a `fastlane` directory in the root of the project and a `Fastfile` inside that. It is strange that the error occurs because I have setup 2 other apps recently with the same file/folder structure

[code]

[2016-08-24 15:22] glancashire commented on #5868
Dear Todd

I am not using RVM.

I have uninstalled highline and installed fastlane

Both of which worked (highline-1.7.8), w.o. error.

When I try to update, the same error.
As far as I can see commander v4.3 is used which requires highlane 1.6… which causes the problem

…
ERROR:  Error installing fastlane:

conflicting dependencies highline (~> 1.6.11) and highline (>= 1.7.2)
  Activated highline

[2016-08-24 15:27] allenhumphreys commented on #5540
`match nuke development` doesn't help in a mixed match/non-match team environment. It causes excessive amounts of strife by rejecting everyone's personal development certificates. Personally, I have avoided moving my team to an entirely match-based development solution simply because I need to nuke to get things in sync but it's hard to coordinate a change over across 3 continents without disrupti

[2016-08-24 15:36] havoern opened #5871 ".."
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Configuration Files

Please copy the complete content of your `Fastfile` and any other conf

[2016-08-24 15:39] sungolo commented on #5827
@TKBurner here is the full input/output for the flow

[code]

[2016-08-24 15:58] Reedyuk commented on #5817
magically started working for me too. Apple issue

[2016-08-24 15:58] #5817 closed

[2016-08-24 16:08] TKBurner commented on #5779
Hi @cojoj Thanks for following up. Can you run the command `xcodebuild -list -workspace ./Jodel.xcworkspace` on your machine and let me know if it runs successfully?

Thanks!

[2016-08-24 16:08] TKBurner commented on #5817
@ShadeApps @Reedyuk Thanks so much for updating this. Really glad to hear you are up and running. Hope you have a wonderful day! 👍

[2016-08-24 16:11] TKBurner commented on #5866
@Syrou Thanks for reaching out. You should be able to set it as an enviromental variable with the SUPPLY_JSON_KEY key. Let me know how it goes!

[2016-08-24 16:11] TKBurner commented on #5852
@vani2 Really glad to hear you got up and running. Always feel free to reach out with thoughts or questions.

[2016-08-24 16:15] TKBurner commented on #1393
@micnguyen Can you let me know what you have set in your build settings? @lkraider What do you have set there? We used to allow the passing of a provisioning profile in gym but now inherit from the build settings. I don't know if the variable you are working with is affected, but it seems like that may explain this. Thanks!

[2016-08-24 16:16] TKBurner commented on #4711
@rspl17 Currently neither of our Android tools are supported on Windows. Thanks for your interest!

[2016-08-24 16:18] TKBurner commented on #5856
@mrmartineau Awesome! Thanks, hope you have a great week 👍

[2016-08-24 16:19] cojoj commented on #5779
Yes, @TKBurner it always runs successfully 😉

[2016-08-24 16:19] TKBurner commented on #5863
@bonzoq Thanks for reporting this. I've reached out to the core team to let them know. We don't officially support Xcode 8 yet, but they'll want to take a look because it's in the pipeline.

Thanks!

[2016-08-24 16:21] #5860 closed

[2016-08-24 16:23] TKBurner commented on #5233
@revile Awesome! @bolom Did you get a chance to test out the PR? Thanks!

[2016-08-24 16:25] TKBurner commented on #5502
@tcurdt Thanks for following up.  I don't see your question, but I'll make sure Felix follows up on your thread. Thanks!

[2016-08-24 16:26] TKBurner commented on #5859
@joshrlesch Thanks josh! Yup. As a workaround you should be able to delete these simulators before a run. Thanks!

[2016-08-24 16:26] #5859 closed

[2016-08-24 16:27] TKBurner commented on #5757
@ConfusedVorlon Sorry for the confusion. This looks like an actual issue on our end with MacOS apps. We are going to look into it and follow up.

[2016-08-24 16:35] TKBurner commented on #5735
@jakubprusa Thanks for letting me know. Does this still affect new apps? Can you let me know if you are running `fastlane init` prior to this? Thanks!

[2016-08-24 16:39] TKBurner commented on #5125
@gaurav17281 Can you share your full input and output? That'd help. Thanks!

[2016-08-24 16:39] TKBurner commented on #4059
@revile Have you checked out the PR to see if it clears things up for you? Thanks!

[2016-08-24 16:45] TKBurner commented on #4983
@scalbatty @tibo I looped in the core team on this. We'll follow up here. Thanks!

[2016-08-24 16:49] TKBurner commented on #5307
@inteist Correct, you'll need to use the import function instead. Thanks!

[2016-08-24 16:49] #5307 closed

[2016-08-24 16:51] KrauseFx commented on #5757
@ConfusedVorlon Well, as soon as your issue contains some code signing related words, it will link to it. It has helped a lot of people in the past already, who didn't see the new docs for how to setup code signing. Check out the [source code](https://github.com/fastlane/issue-bot/blob/master/bot.rb#L84-L89).

[2016-08-24 16:53] inteist commented on #5307
@TKBurner did you miss the part where I specifically say that the import has inherent issues? Why do you just close a perfectly legitimate idea which was commented by the project leader as being such. That's pretty upsetting the way this got handled. @jaleksynas swings by with an absolutely inadequate suggestion which does not address the problem and then you close the issue without it being resol

[2016-08-24 16:54] TKBurner commented on #4983
@scalbatty @tibo Can you try the steps here:

https://github.com/fastlane/fastlane/tree/master/deliver#firewall-issues

Let me know if that clears things up.

[2016-08-24 16:55] inteist commented on #5307
@KrauseFx, you should choose who you assign the issues to follow up on more carefully perhaps in the future.

[2016-08-24 16:59] TKBurner commented on #4220
Hi @icecrystal23 What happens if you set your git_url manually? Also are you using Sierra by any chance? Thanks!

[2016-08-24 17:01] TKBurner commented on #5123
@pieisgood Thanks for following up. We'd like to improve messaging, however I don't know if we can prioritize. Any chance you'd be interested in submitting a PR for the error messaging? We'd LOVE it! 👍

[2016-08-24 17:03] KrauseFx commented on #5757
Hey everyone, sorry for the troubles, this is something we have to fix. In the mean-time, you can use the following workaround.

Add this to your Fastfile

[code]

[2016-08-24 17:05] TKBurner commented on #1464
Hi @jlubeck Can you share the current output? I'd love to take a look. Thanks!

[2016-08-24 17:07] jlubeck commented on #1464
mmm, is this the output you mean?

[code]

[2016-08-24 17:18] tcurdt commented on #5502
@TKBurner all taken care of by now.

[2016-08-24 17:18] tcurdt commented on #5502
...just hoping for a merge ;)

[2016-08-24 17:19] icecrystal23 commented on #4220
Set it "manually" where?  It is set explicitly in our `Matchfile`
I am not on Sierra. I am running OS X El Capitan 10.11.6 (15G31), but I think we've had this issue since the Yosemite days.  I also have this issue on another project where we are using `sigh` directly.

[2016-08-24 17:50] #5871 closed

[2016-08-24 17:52] KrauseFx commented on #5849
@gregk8288 Have you tried the latest spaceship release 👍

[2016-08-24 18:36] ConfusedVorlon commented on #5757
@KrauseFx  -thanks; that did the trick.

[2016-08-24 18:37] KrauseFx commented on #5307
Thanks for the feedback! I completely understand where you're coming from and we're very grateful for all feedback we receive from the community, it's what makes fastlane so great 😃

Unfortunately, we don't have the ability to tackle every suggestion and idea, which is why we invested time and energy to make the [plugin architecture](https://github.com/fastlane/fastlane/blob/master/fastlane/docs/P

[2016-08-24 18:55] inteist commented on #5307
@KrauseFx, thanks for responding.

Being on a very small team, I totally understand the need for prioritization. My disappointment here is with the fact that the suggestions were not really helpful and/or addressed the problem and the proposed "final solution" said to use what I stated could not be used in the first place. I'd rather have no response here than a response showing that the person re

[2016-08-24 19:03] inteist commented on #5307
P.S. The issue with importing is **very** simple. Import seems to chew up anything you give it, including emails that are not legitimate whilst iTunesConnect would not allow adding such emails to a project and it would not say which one causes an issue.

I did check that even after running (several) regexes to identify illegal email addresses and removing them, there were still some emails that lo

[2016-08-24 19:41] nikolaykasyanov commented on #5631
@TKBurner as far as I can see from the discussion, it was suggested to make sure that all simulators are killed prior to starting a lane (https://github.com/fastlane/fastlane/issues/5631#issuecomment-239281062). Hence my concern about running multiple lanes simultaneously.

[2016-08-24 19:55] asfalcone commented on #5827
For folks still having issues, I have this PR that I'd love for a few people to try out: https://github.com/fastlane/fastlane/pull/5872. Let me know!

[2016-08-24 20:21] mikepsinn commented on #5827
@asfalcone Thanks for that!  I don't have any Ruby experience.  Is there a simple command that will let me install that branch or do I have to clone the repo?

[2016-08-24 20:27] asfalcone commented on #5827
@mikepsinn
[code]

[2016-08-24 20:39] asfalcone commented on #5867
Seems very strange. Can you echo the working directory during your run just to confirm?

[2016-08-24 20:40] jeremymlane commented on #5827
@asfalcone fixed it for me

[2016-08-24 20:40] #5827 closed

[2016-08-24 20:44] asfalcone commented on #5827
@jeremymlane Awesome. I'm going to go ahead with a 0.31.9 release of spaceship then. Should be available shortly.

[2016-08-24 20:50] asfalcone commented on #5827
[`spaceship 0.31.9`](https://github.com/fastlane/fastlane/releases/tag/spaceship%2F0.31.9) has been released. 🚀

Run `gem update spaceship` to get it.

If issues arise, please open a new github issue (feel free to mention it here) so that we can keep the noise level down and focus on what is currently broken for folks on the latest release 👍

Thanks everyone for their patience on this one! 🙌

[2016-08-24 21:18] ILI4S commented on #5733
@TKBurner it doesn't, though is this what you meant by running deliver before pilot?
[code]
Since we're using pilot for uploading the binary and not uploading screenshots or metadata at this point, I thought this configuration might be appropriate, but I still get the same error messages as before Let me know if you had something else in mind.

Here are the relevant portions of my fastfile and bel

[2016-08-24 22:55] KrauseFx commented on #5868
Can you run `gem cleanup` and then `[sudo] gem install fastlane`? 👍

If that doesn't work, you might want to start using a [Gemfile](https://guides.cocoapods.org/using/a-gemfile.html), which is the recommended way to store dependencies in your repo.

[2016-08-24 23:04] bonzoq commented on #5863
@TKBurner Thanks for handling my report. I realized how helpful `fastlane` is for releasing Testflight builds, now that we temporarily can't use it with Xcode 8. Keep up the good work guys.

[2016-08-24 23:14] revolter commented on #5781
I can't get it to work. having set `app.launchArguments += ["-myCustomLanguageId", "2"];` in the `setLanguage` function from the `SnapshotHelper.swift` file, that key is not updated in the user defaults. I don't know how to debug it too. Tried adding an `NSLog` but couldn't find it in the `Console` app. Also, the README mentions `NSProcessInfo.processInfo().arguments` but doesn't provide an exampl

[2016-08-24 23:17] hotbott commented on #4059
@TKBurner We're using *Xcode 7.3.1* but *Xcode 8 beta* still has the same problem.
Thanks

[2016-08-24 23:20] GabrielCartier opened #5874 "Produce gives an error even when successfully creating an app on iTunes Connect"
When running produce to create an app on iTunes connect, it seems like you get an error even though the application was successfully created.

I have ran the test with and without skipping the dev center. Without skipping the dev center, I had a proper output, no error.
Check the output below for the information.

### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I have r

[2016-08-25 01:36] KrauseFx commented on #5874
Interesting, it seems like produce can't find the newly created application. Did this happen before?

[2016-08-25 01:42] biolinh commented on #5400
Thank you for all support. I already fixed it. It is because of itunes_id.rbscript in Action folder when I try to [migrate existing certificate to fastlnae match](http://macoscope.com/blog/simplify-your-life-with-fastlane-match/) . Therefore, when fastlane run, It call this account from it.

[2016-08-25 01:47] biolinh commented on #4730
Thank your for your support.
One day, when I updated fastlane, It run OK with current lane. And now, it run smoothly.

[2016-08-25 01:50] biolinh commented on #4905
Thank @TKBurner, My App name has in double quote "" then Fastlane returns error. And I removed it. It run OK now.

[2016-08-25 01:58] trustyfrog opened #5875 "Produce: undefined method `[]=' for nil:NilClass"
### New Issue Checklist

- [X ] Updated fastlane to the latest version
- [X ] I have read the [Contribution Guidelines)

### Issue Description

Just a pretty bland produce using the same script I've run before. One went through this morning with no problem. This one, and another like it, started failing.

##### Complete output when running fastlane, including the stack trace and command used

[cod

[2016-08-25 02:00] trustyfrog commented on #5875
If I manually create the app in iTC it still fails.

[2016-08-25 02:35] trustyfrog commented on #5875
If I run produce from Terminal I get the same error.

[2016-08-25 02:58] revile commented on #4059
@TKBurner The PR will definitely help. Like others I can reproduce the issue manually in the command line by running the command in question, roughly 20% of the time this will hang in Terminal. Retrying will fix it.

[2016-08-25 04:06] zhouzerong commented on #5827
@asfalcone    update spaceship to 0.31.9 is ok for me!  Thanks!

[2016-08-25 04:11] uny commented on #5827
My problem was also solved. Thank you!

[2016-08-25 04:55] cagataycali commented on #5875
+1

[2016-08-25 04:58] Mentioum commented on #5827
Still have the problem on spaceship 0.31.9 - this is my first time trying fastlane and I cant say it's been terribly pleasant so far :(
[code]

[2016-08-25 05:50] KrauseFx commented on #5875
Hey @trustyfrog @cagataycali, thanks for the report and letting us know. Seems like something has changed on iTunes Connect, and we needed to update spaceship, I just prepared a fix via https://github.com/fastlane/fastlane/pull/5877.

Once the build is green, I'll prepare a new release for you :rocket

[2016-08-25 05:52] trustyfrog commented on #5827
@mentioum Don't give up yet. I've used it to release 50+ apps over the last few months and only recently have things gone wobbly, and I'm not convinced that it is all Fastlane.

[2016-08-25 05:54] trustyfrog commented on #5875
I guessed as much. Thanks for sorting it so quickly.

[2016-08-25 05:54] KrauseFx commented on #5827
Hey @Mentioum, thanks for the report, this really helped, I prepared https://github.com/fastlane/fastlane/pull/5876 for you, which will be in the next release with https://github.com/fastlane/fastlane/pull/5878 in a few minutes 🚀

I'll let you all know once the new version is live ✨

[2016-08-25 05:56] #5875 closed

[2016-08-25 06:03] KrauseFx commented on #5875
Thanks for the patience, the new release is live with spaceship 0.31.10, please update using `[sudo ] gem update spaceship` or if you're using bundler use `bundle update` 👍

Let us know if that fixes the issue for you 🚀

[2016-08-25 06:04] KrauseFx commented on #5827
Hey @Mentioum Thanks for the patience, the new release is live with spaceship 0.31.10, please update using `[sudo ] gem update spaceship` or if you're using bundler use `bundle update` 👍

Let us know if that fixes the issue for you 🚀

Due to the high number of subscribes, I'll lock this issue for now, to avoid triggering to many emails. The initial issue was fixed - there still might be some other

[2016-08-25 06:10] cagataycali commented on #5102
I'm using only deliver module in cli. How can I publish new project in ITC?

produce --app_name Baska
gym --use_legacy_build_api true
deliver -f y --price_tier 0.99 --app_rating_config_path ./fastlane/rating_config.json  -i /Users/cagatay/Desktop/Baska/Baska.ipa

`➜  Baska produce --app_name Baska2

+----------------+------------------------------+
|           Summary for produce 1.2.0           |

[2016-08-25 06:20] KrauseFx commented on #5102
@cagataycali It really just means that the app name is already taken:

[2016-08-25 06:22] cagataycali commented on #5102
@KrauseFx Yes, it is definitely a name to an existing application . But the content is updated , I get this error when I try deliver

[2016-08-25 06:29] KrauseFx commented on #5757
@ConfusedVorlon Great to hear 👍

[2016-08-25 06:30] glancashire commented on #5868
This worked

Thanks for the suggestion I added a gemfile

Graham

[2016-08-25 06:35] KrauseFx commented on #5868
Yeah 🎉

[2016-08-25 06:35] #5868 closed

[2016-08-25 07:03] revolter commented on #5781
Fixed it. Xcode automatically adds a `launch()` call in the `setUp()` function, so after copying

[code]

in the `setUp()` function, I had 2 `launch()` calls. After removing the auto-generated one, the problem went away and the user defaults properly saved.

I also solved my custom localization method by setting a user default based on the variable `deviceLanguage` which `snapshot` adds.

[2016-08-25 07:24] nicolasbraun commented on #5102
Yes but the name you choose (the one displayed on the App Store) is taken

[2016-08-25 08:32] kostiakoval commented on #329
looks like it's an isse in `agvtool` itself. If you try to run ` agvtool next-version -all` you will see the same error.

[2016-08-25 10:26] nikolaykasyanov commented on #5730
I have something like that: https://gist.github.com/nikolaykasyanov/fa9f727a2659450f49825a238546ea8b

@vpolouchkine why do you think it isn't possible?

[2016-08-25 10:31] #5867 closed

[2016-08-25 10:37] tibo commented on #4983
@TKBurner same result for me.
once again it's only happening with jenkins.
When I run the command line on the same machine, with the same configuration (same RVM environment, same connection, same IPA...), everything works fine.

Thanks!

[2016-08-25 10:41] dombarnes commented on #5851
I was getting the error when running my lanes I think. It was more a warning than an error.

Ran ````fastlane init```` on another project not using it yet, I get the default lanes as :beta and :appstore

Ran gem update fastlane and everything is up to date.

[code]
The lane finishes without errors.

[2016-08-25 10:42] nikolaykasyanov opened #5880 "latest_testflight_build_number ignores team_id"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

`latest_testflight_build_number` ignores `team_id` parameter and always asks to pick the team.

Here's how I tried to call it:
- `fastlane run latest_testflight_build_number team_id:<team id>`
-

[2016-08-25 10:49] tibo commented on #4983
@TKBurner forget my previous comment! It's working for me with the `DAV` upload option!

Thanks for digging into this with us!

[2016-08-25 10:51] tibo commented on #5683
updating this issue to just in case.
The solution was to use the `DAV` upload option as described here:
https://github.com/fastlane/fastlane/tree/master/deliver#firewall-issues

Thanks again @TKBurner !

[2016-08-25 11:21] kavyasoni commented on #5797
+1

[2016-08-25 11:41] pronebird opened #5882 "Name of the lane XXX is already taken by the action named XXX"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

It seems that since v1.0 lanes and actions names collide which gives error in console. How to solve that or what's the point?

##### Complete output when running fastlane, including the stack

[2016-08-25 11:55] nikolaykasyanov opened #5883 "latest_testflight_build_number should have option to get latest build number of last *released* train"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

Here's my use case:
- I'm adding new version to iTC.
- I'm trying to upload a build to that new empty release train, and to make sure I won't get build number collision, I'd like to know the ver

[2016-08-25 12:02] chezzdev commented on #4921
Sorry for interruption, but do you know a way to find iTunes Connect team id from UI (e.g. iTunes Connect web-site)?

[2016-08-25 12:12] drorbiran commented on #5874
We have the same issue.
It started today.
produce ver 1.2.0

[code]

[2016-08-25 13:10] mrmartineau commented on #5867
@asfalcone I did on both sides of the fastlane step (from within Bitrise) and the path was always root.. for some inexplicable reason, it is now working. Thanks for your help

[2016-08-25 13:31] tanhuiya opened #5884 "I use fastlane well,but at gitlab-ci failed ,and the gitlab-ci runner is my computer"
## I run  ' fastlane test' in my project well ,but when I submit to gitlab-ci , and the gitlab-ci runner is my local computer , it got errors ,please help me . Before fastlane , I use xcodebuild and xctool command working successful.

[22:12:53]: -------------------------------------------------
[22:12:53]: --- Step: Verifying required fastlane version ---
[22:12:53]: -----------------------------

[2016-08-25 13:31] yokoe commented on #5757
@KrauseFx Does this workaround mean we have to upload binary manually at the moment?

[2016-08-25 13:44] asfalcone commented on #5867
@mrmartineau Glad to hear you're up and running! If there is a step that was required of you, it would be great if you could contribute to the [bitrise fastlane setup repo](https://github.com/bitrise-io/steps-fastlane/issues) so others don't run into the same pain! 👍

[2016-08-25 13:45] asfalcone commented on #5884
@tanhuiya Can you please include the full stack trace in the output? Thanks! 👍

[2016-08-25 13:59] asfalcone commented on #5874
@drorbiran did https://github.com/fastlane/fastlane/pull/5877 fix your issue? Run `gem update spaceship` to get spaceship 0.31.10 and let me know.

[2016-08-25 14:09] tanhuiya commented on #5884
and 33 more at: https://github.com/fastlane/fastlane/search?q=no%20implicit%20conversion%20of%20nil%20into%20String&type=Issues&utf8=✓
/Users/xwl/.rvm/gems/ruby-2.2.2/gems/scan-0.11.3/lib/scan/detect_values.rb:60:in `include?': [!] no implicit conversion of nil into String (TypeError)
	from /Users/xwl/.rvm/gems/ruby-2.2.2/gems/scan-0.11.3/lib/scan/detect_values.rb:60:in `block in default_device_io

[2016-08-25 14:12] jfmyers opened #5885 "Gym Mysteriously Seg Faults after Installing Fabric/Crashlytics"
### Issue Description
I'm working on a React Native iOS app. I've setup Fastlane, which has worked fine, building and uploading my app to iTunes connect. However upon installing Fabric/Crashlytics Gym fails. XCode still is able to build my app successfully. I've followed the Mac client instructions for setting up Fabric.

Fastlane version: 1.101.0
XCode version: 7.2.1
ReactNative version: 0.31.0

[2016-08-25 14:13] nafu commented on #1079
@KrauseFx

Could you check the PR https://github.com/fastlane/fastlane/pull/5864?
I think this can solve this issue.

[2016-08-25 14:42] johntmcintosh commented on #5821
The PR for this was merged this morning, so I'm closing out the issue. Thanks!

[2016-08-25 14:42] #5821 closed

[2016-08-25 15:21] henry42 opened #5886 "Changing the Bundle Id of Apps with WatchApp"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

If changing bundle id of app with watch app, the watch app's bundle id would not be changed together.(`resign --new_bundle_id`)

Is there any plan supporting it?

[2016-08-25 15:28] bencollier commented on #5797
We're hitting this with sigh as well;

[code]

[2016-08-25 15:31] scalbatty commented on #4983
@TKBurner Did it for me as well! Thank you so much for looking into it!

[2016-08-25 15:44] ConfusedVorlon commented on #5757
@yokoe  nope - just add the line and all works as you expect

[2016-08-25 15:59] tanhuiya commented on #5884
@asfalcone  Then I use   gym(scheme: "parent")  in gitlab-ci runner it failed again ,and It works well in the root project .here is the full stack trace , I add my bashrc ,but not worked for me .

/Users/tanhui/.rvm/gems/ruby-2.2.3/gems/xcpretty-0.2.2/lib/xcpretty/parser.rb:383:in `===': invalid byte sequence in US-ASCII (ArgumentError)
from /Users/tanhui/.rvm/gems/ruby-2.2.3/gems/xcpretty-0.2.2/l

[2016-08-25 16:08] KrauseFx commented on #5797
@bencollier you didn't share your full stack trace. Can you check if you have the latest version of spaceship installed? Update using `[sudo] gem update spaceship` or `bundle update` if you're using bundler.

[2016-08-25 16:11] bencollier commented on #5797
Yup updated spaceship beforehand which fixed the produce error :)

Sorry for forgetting the stack trace:

[code]

[2016-08-25 16:13] drorbiran commented on #5874
@asfalcone The update solved it. Thanks!

[2016-08-25 16:15] GabrielCartier commented on #5874
@KrauseFx yes, first time it happened to me. I got some stuff to create and test today, let me try it again with skipping dev center and then I'll tell you if it works or not.
I know exactly the steps I took to try it out.

[2016-08-25 16:19] Kjens93 commented on #5795
Yes, this solved the problem. Thank you.

—iKyler

[2016-08-25 17:06] wolesolana commented on #5592
How did you resolve this? I'm having similar errors in my project

[2016-08-25 17:14] jfmyers commented on #5885
Fixed by upgrading to XCode 7.3.1

[2016-08-25 17:14] #5885 closed

[2016-08-25 17:44] #4147 closed

[2016-08-25 17:49] KrauseFx commented on #5885
Great to hear @jfmyers 👍

[2016-08-25 17:52] CareerFairPlus commented on #5728
I ran into this problem as well just now after updating spaceship to 0.31.10.  My app is not visible on iTC but when running produce, I get the following error message:
[code]

[2016-08-25 18:19] fishercraigj commented on #742
I'm still running into the issue, "sh: xcpretty: command not found" when running fastlane.  The xcsbuildd user has /usr/local/bin xcpretty installed.  I can run it from the xcsbuildd user through terminal.  I have rebooted the server about 5 times.  All my gems are up to date.  The main difference between myself and the rest of what I'm seeing on this thread is that I'm running my CI through Xcode

[2016-08-25 19:14] carlos-maldonado-em opened #5888 "Fails to tap on a table cell"
### New Issue Checklist
- [ ] Updated fastlane to the latest version
- [ ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description
##### Complete output when running fastlane, including the stack trace and command used

[code]

The test runs fine from XCode, the thing is that snapshot doesn't seem to work from Xcode as it do

[2016-08-25 19:20] chrisortman commented on #5663
@KrauseFx is there an example of how to use the pre-processor macro?

[2016-08-25 19:23] chrisortman opened #5889 "Snapshot targets"
### New Issue Checklist

- [x ] Updated fastlane to the latest version
- [ x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

When I run snapshot it does 20 runs and in each run it looks like it is rebuilding my project.

I'm using cocoa pods, so I have a scheme that is my project and then schemes for each of the p

[2016-08-25 19:24] athornz commented on #5025
+1

[2016-08-25 19:32] programmin1 commented on #5261
Possibly related to #4148, there is a url that gives JSON result with all your apps' statuses.

[2016-08-25 19:32] sharplet opened #5890 "`increment_version_number` fails for the default Xcode project starting version of "1.0""
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

New Xcode projects start with a version number of 1.0. I think it would be useful to assume this implies a semantic version of 1.0.0, but the `increment_version_number` action doesn't behave t

[2016-08-25 20:08] programmin1 opened #5891 "Produce gives odd Nil error instead of creating app (can create new app in iTunesConnect)."
### New Issue Checklist
- [X] Updated produce to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

When I use produce to create a new app, it gave an odd error.
I tried it several times, and it does work when I add it manually on iTunesConnect.
##### Complete output when running fastlane, incl

[2016-08-25 20:16] trustyfrog commented on #5728
I've seen this resolve itself anywhere between one and three days. I don't know why, but it seems that it gets into a pending state where it exists but is not visible, but only via the API.

[2016-08-25 20:18] vpolouchkine commented on #5795
Great!

[2016-08-25 20:18] #5795 closed

[2016-08-25 20:21] CareerFairPlus commented on #5728
@trustyfrog Thanks for the heads up.  I hate iTC!

[2016-08-25 20:22] vpolouchkine commented on #5781
Glad to hear you're up and running. I'll re-open this to keep track of the doc update work.

[2016-08-25 20:39] chrissingh opened #5892 "import_from_git undefined method `[]' for nil:NilClass"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

import_from_git failing overtime because of a undefined method.
Just updated to the latest fast lane and started running into issues.
##### Complete output when running fastlane, including the

[2016-08-25 20:47] ghassett opened #5893 "snapshot"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Configuration Files

Please copy the complete content of your `Fastfile` and any other conf

[2016-08-25 20:50] #5893 closed

[2016-08-25 21:21] JoeFerrucci commented on #435
I have `cocoapods(use_bundle_exec: true)` in my Fastfile's `before_all`.
My Gemfile contains:
[code]

I run `fastlane appstore` but it doesn't look like its running the correct version, its running 1.0.1.

What am I doing wrong?

[2016-08-25 21:22] KrauseFx commented on #435
@JoeFerrucci Can you share the complete output, Fastfile and Gemfile?

[2016-08-25 21:25] revolter commented on #5851
I have the same issue. Ran `fastlane init` and `fastlane lanes` and got that error.

[2016-08-25 21:27] JoeFerrucci commented on #435
@KrauseFx Looks like fastlane wasn't picking up the Gemfile when it was in the same directory as Fastlane ($PROJECT_DIR/fastlane/Gemfile). When I moved the Gemfile to just $PROJECT_DIR, it was able to pick it up.

I ran fastlane appstore again, and it started using the bundle exec pod install. This is my output now:

[code]

I'm worried about this line:

`[14:22:54]: ▸ [!] The version of CocoaPods

[2016-08-25 21:45] KrauseFx commented on #5851
Great catch, thanks, I'll look into this 👍

[2016-08-25 21:49] KrauseFx commented on #5851
I just pushed https://github.com/fastlane/fastlane/pull/5895, which will be in the next release, thanks for letting us know. Please rename the lane to something else for now 👍

[2016-08-25 21:50] KrauseFx commented on #5891
Please update to the latest `spaceship` using `[sudo] gem update spaceship`

[2016-08-25 21:59] cooksimo opened #5896 "Question: Should running UI Tests with scan require an executable set in the scheme?"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

When running scan on a default UI Test scheme I get the following error:
##### Complete output when running fastlane, including the stack trace and command used

[code]

The default UITest schem

[2016-08-25 22:11] JoeFerrucci opened #5897 "Cocoapods specific version not working. error: Invalid bitcode version (Producer: '800.0.35.0_0' Reader: '703.0.31_0')"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Configuration Files

My Gemfile:
[code]

My Fastfile:
[code]

### Environment

fastlane ver

[2016-08-25 23:19] revolter opened #5898 "Add snapshot option to skip building"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Is there any possibility to add an option for snapshot to skip the build part? Building my project takes quite a long time, and while trying to integrate snapshot and fiddle with it, it's anno

[2016-08-25 23:39] #5851 closed

[2016-08-25 23:45] KrauseFx commented on #5898
Sorry no, snapshot needs to build the app to run it on the simulator.

[2016-08-26 01:28] tanhuiya commented on #5243
@hedjirog  Hi,I use fastlane in my githun-runner,and the runner is my computer ,I can do well in my project ,as well manully in gitlab-runner .But when I submit to gitlab ,the runner excute failed .here is full stack track

/Users/tanhui/.rvm/gems/ruby-2.2.3/gems/xcpretty-0.2.2/lib/xcpretty/parser.rb:383:in `===': invalid byte sequence in US-ASCII (ArgumentError)
from /Users/tanhui/.rvm/gems/ruby-

[2016-08-26 01:33] KrauseFx commented on #5243
@tanhuiya it tells you how to fix the error right in the error message. If that doesn't help, please submit a separate issue 👍

[2016-08-26 01:51] tanhuiya commented on #5243
@KrauseFx  oh,sorry ,I just add to wrong place ,thank you .
and inivite you to this https://github.com/fastlane/fastlane/issues/5884

[2016-08-26 01:53] tanhuiya commented on #5243
@KrauseFx  Why the error occurs , I just work fine in local. runner did not work with a same bash eniroment ?

[2016-08-26 02:21] tanhuiya commented on #5896
I have the same error with you .

[2016-08-26 04:34] ZacksTsang commented on #5805
@cratrifork Thanks for help

[2016-08-26 05:59] PankeshGupta opened #5900 "When ever i run supply to upload apk.I get this error"
Is a directory @ io_fread - /home/Documents
[11:23:03]: supply failed, but don't worry, you can launch supply using `supply init` whenever you want.

[2016-08-26 06:16] PankeshGupta commented on #5900
Found no similar issues. To create a new issue, please visit:
https://github.com/fastlane/fastlane/issues/new
/usr/lib/ruby/gems/2.3.0/gems/googleauth-0.5.1/lib/googleauth/service_account.rb:75:in `read': [!] Is a directory @ io_fread - /home/pankesh/Documents (Errno::EISDIR)
	from /usr/lib/ruby/gems/2.3.0/gems/googleauth-0.5.1/lib/googleauth/service_account.rb:75:in `read_json_key'
	from /usr/lib

[2016-08-26 06:19] tanhuiya commented on #5884
I solve it by adding this to my .bash_profile
I do not know why, and my ipa file contains Chinese , I occurs on another question seems to be xcpretty, but it works !

export LANG=en_US.UTF-8
export LANGUAGE=en_US.UTF-8
export LC_ALL=en_US.UTF-8

[2016-08-26 06:19] #5884 closed

[2016-08-26 07:08] revolter commented on #5898
So I guess it's not possible to do a hot build or how it's called. So it builds only the modified files, right?

[2016-08-26 07:10] revolter commented on #5851
More exactly, rename it to `release` if you want to match the new `fastlane`'s default name.

[2016-08-26 07:13] revolter commented on #5781
Sorry about closing it.

[2016-08-26 09:24] ejebleed commented on #4691
The bug of missing ExportOptions.plist file is still present. No file is been created.

[2016-08-26 10:34] Matthewspear commented on #1464
Also running into this problem!

[2016-08-26 12:48] timothy-volvo opened #5901 "Scan fails for Logical Unit Test Scheme"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
When passing in a Logical Unit Test Scheme into scan, it fails trying to determine the deployment target as "xcodebuild -showBuildSettings" doesn't return any values for Logical Unit Test Schem

[2016-08-26 13:38] joedaniels29 commented on #5405
+ 1! this would be super!

[2016-08-26 13:43] SandyChapman commented on #4462
@ohwutup : Seems strange to close this issue without a resolution. I'd also like to see this implemented as I've just wasted 3 minutes out of my day finding this ticket in Git and writing a reply that could have been saved has this been had this simple change been implemented.

[2016-08-26 14:46] ziadtamim opened #5903 "784: unexpected token at 'Bad Request'"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

Today whenever I try to run Match, I get the following error:
`[!] 784: unexpected token at 'Bad Request'`
##### Complete output when running fastlane, including the stack trace and command used

[2016-08-26 15:11] ThePredators commented on #2082
Hello,

If you need help i have some time to spend !

[2016-08-26 15:40] TKBurner commented on #5540
@allenhumphreys Thanks for the feedback. Are you deleting the profile in the Apple Developer portal as well in this case? If so, this is expected behavior but I'll make sure to bring it up with the core team. Thanks!

[2016-08-26 15:41] TKBurner commented on #5779
Thanks for following up @cojoj. Is your keychain unlocked? Can you send me your full input to `scan`? I want to take a look. Thanks!

[2016-08-26 15:55] TKBurner commented on #4220
@icecrystal23 Can you share your full input and output for the whole lane that is affected by this issue? Are you deleting profiles on the Apple Developer Portal? Thanks!

[2016-08-26 16:02] TKBurner commented on #5631
@nikolaykasyanov Yup. I was just curious to see what exactly happens on your end when you do this. Thanks!

[2016-08-26 16:32] doapp-ryanp opened #5904 "Team ID and app Prefix mismatch"
fastlane 1.101.0
PEM 1.3.2

I'm running into a strange situation where fastlane is reporting a different team id than what I see when I log into developer.apple.com

Fastlane (via PEM) is reporting that the Team ID my app is in is `EF6TA58Y38`.  When I log into developer.apple.com and go to `Identifiers > App IDs` 8 out of 10 of my apps list the prefix as `EF6TA58Y38`.  The other 2 list a complete

[2016-08-26 16:38] TKBurner commented on #5733
Hi @ILI4S

Currently you can't provide all information from pilot as far as I know. Could you fill in the basic metadata manually on iTunes Connect and then try using pilot again?

Thanks!

[2016-08-26 16:42] doapp-ryanp commented on #5904
Closing this ticket, just found out why there is a mismatch https://developer.apple.com/library/ios/technotes/tn2311/_index.html

tldr: old apps didnt use team id as their prefix

[2016-08-26 16:42] #5904 closed

[2016-08-26 16:42] asfalcone commented on #5900
@PankeshGupta can you please include the full output of running supply as well as your Fastfile? Thanks 👍

[2016-08-26 16:44] asfalcone commented on #5892
@chrissingh can you please share your Fastfile? What are you trying to import from git? Thanks!

[2016-08-26 16:45] asfalcone commented on #5891
@programmin1 can you let us know if `spaceship` 0.31.10 fixes the issue for you?

[2016-08-26 16:50] TKBurner commented on #5400
@biolinh Awesome! Really glad to hear you got up and running. Hope you have a wonderful weekend! 👍

[2016-08-26 16:50] #5400 closed

[2016-08-26 16:50] TKBurner commented on #4730
@biolinh Awesome! Really glad to hear you got up and running. Hope that you have a wonderful weekend! 👍

[2016-08-26 16:55] KrauseFx commented on #4691
@ejebleed Can you create a separate issue with the steps to reproduce? 👍

[2016-08-26 16:56] zats opened #5905 "Persisting plist updating keys using symbols not working, while string constants work fine"
I'm using `update_info_plist` action like so:

[code]

First change is being persisted to the file, second change is not.
It appears there is a bug in [`Xcodeproj::Plist.write_to_path`](https://github.com/fastlane/fastlane/blob/master/fastlane/lib/fastlane/actions/update_info_plist.rb#L45).

I'm using rvm with ruby 2.2.2
Please let me know if I can provide any more information to solve this.

[2016-08-26 16:57] jaffacake commented on #5733
For our app, I've manually populated this data multiple times (but only for
external testing builds) never for release. The data is already pre
populated in iTunes connect but pilot still fails.

On Fri, 26 Aug 2016, 17:39 Todd Burner, <notifications@github.com> wrote:

[2016-08-26 17:09] asfalcone commented on #5882
Thanks for the feedback @pronebird. We added this error messaging so that it is easy to distinguish between lanes and actions in your Fastfile. These are simply warnings, so if you don't want to change your Fastfile, you can just ignore them. 👍  I'm going to close this issue since we don't plan to make any changes to this behavior

[2016-08-26 17:09] #5882 closed

[2016-08-26 17:18] asfalcone commented on #5789
@mariocads You need to have the [itms transporter](https://github.com/fastlane/fastlane/blob/6ceab313410c2ae68bd9f6ee7cf91a73e4f59400/fastlane_core/lib/fastlane_core/helper.rb#L124) on the machine in order to use `deliver`. It is not expected for this to work on Ubuntu.

[2016-08-26 17:18] #5789 closed

[2016-08-26 17:24] ejebleed commented on #4691
This is the gym command line I'm using.

`gym --clean --scheme ${XCODE_PROJECT_TARGET_NAME} --configuration Release --include_bitcode false --archive_path ${BUILDS_DIR}${PACKAGE_NAME}.xcarchive --output_directory $BUILDS_DIR --output_name "${PACKAGE_NAME}.ipa" --xcargs PROVISIONING_PROFILE=$APP_PROVISION_UUID`

As I read from @ChristopherDrum initial issue (5.) then that File should be created by

[2016-08-26 17:31] asfalcone commented on #5507
Duplicate of https://github.com/fastlane/fastlane/issues/3628

You must create the application in Google play before running `supply init`

[2016-08-26 17:31] #5507 closed

[2016-08-26 17:37] asfalcone commented on #1963
Additional API documentation here: https://developer.amazon.com/public/apis/manage/developer-publishing/creating-and-submitting-a-new-app-using-the-developer-publishing-api

[2016-08-26 17:37] ejebleed opened #5907 "ExportOptions.plist file is not created by default."
Documentation claims:
Export options

Since Xcode 7, gym is using new Xcode API which allows us to specify export options using plist file. By default gym creates this file for you and you are able to modify some parameters by using export_method, export_team_id, include_symbols or include_bitcode.

it is not true.

i'm using this command line to build the app:
`gym --clean --scheme ${XCODE_PROJEC

[2016-08-26 17:38] ejebleed commented on #4691
ok i've created this issue: https://github.com/fastlane/fastlane/issues/5907
I hope it helps.

[2016-08-26 17:55] SemenovAlexander commented on #5742
Issue still exists in `fastlane` `1.101.0`, #5744 has nothing to do with this.
As far, as I can see from code in #5640 and @jdhealy corretly mentioned  new logic looks for simulator with exactly the same iOS version, which is found in deployment target, or version, you specified manually in device name.

So, to workaround it I've specified simulator names with versions, e.g. "iPhone 6s (9.3)" in `

[2016-08-26 18:06] mooshee commented on #5779
I'm having the same issue, although it's stuck when I try to run `fastlane init`.

[code]

Running `xcodebuild -list -workspace ./ExampleApp.xcworkspace` from the command line works just fine, spitting out the all of the scheme names.

[2016-08-26 18:18] mfurtak commented on #5739
Merged #5740 to address this! 🚀

[2016-08-26 18:18] #5739 closed

[2016-08-26 18:23] KrauseFx commented on #5903
Hey @ziadtamim, thanks for submitting this issue. We prepared a fix for the problem with https://github.com/fastlane/fastlane/pull/5908. Could you give it a try before we publish a new release?

[code]
and then give it a try again 👍

[2016-08-26 18:50] frisocki opened #5909 "gym: When output_name contains "/" (directory character), export fails"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

When the value of output_name contains a slash(/), xcodebuild will create directories underneath the archive path. Then when gym attempts to export the archive and dSYM, it will potentially fa

[2016-08-26 18:55] JoeFerrucci commented on #5897
I think I have this narrowed down. The issue seems to be when `pod install` runs in `before_all` its running the wrong version of pods. I have two versions of cocoapods installed, 0.39.0, which is the version I **need**, and I also have 1.0.1 installed. In my bash_profile I have `alias pod="pod _0.39.0_` so that I don't need to specify the version each time. Not sure if that affects Fastlane's way

[2016-08-26 18:57] cojoj commented on #5779
@TKBurner firs of all, keychain shouldn't be an issue since I pass all credentials in env variables, so fastlane doesn't have to hit keychain at all.
And regarding exact `scan` inputs. Here you go:
[code]
[code]

[2016-08-26 18:59] mathiasAichinger opened #5910 "Expose the provisioning profile name out of sigh/match to use it for Xcode 8 codesigning"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

With Xcode 8 the way to set the provisioning profile has changed. Instead of using the UUID of the profile, it uses the team_id/profile_name. As we have different environments we need to set the

[2016-08-26 19:11] JoeFerrucci commented on #5897
Latest update:

I added more to my `Gemfile`:

[code]

Everything seems to work now. I think its was `gem 'cocoapods', '0.39.0'` **and**
`gem 'cocoapods-core', '0.39.0'` that needed to be in there.

Not **just** `gem 'cocoapods', '0.39.0'` by itself.

[2016-08-26 19:14] #5897 closed

[2016-08-26 19:56] marcelosalloum opened #5912 "commit_version_bump not committing all files"
### New Issue Checklist
- [x ] Updated fastlane to the latest version
- [ ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

Hey guys,

I've been using `commit_version_bump` but not all my files are being committed. One of my targets, that is an iOS Today Widget, is not having it's Info.plist file committed. Is that

[2016-08-26 19:58] ILI4S commented on #5733
@TKBurner in iTunes Connect, we've already filled in Beta App Description, Feedback Email, Marketing URL, Contact Information, Demo Account, tester emails, etc. and all of these fields remain populated. The only thing we had to add manually to release the build to external testers is" "What to Test" and then "Have you made any significant changes to this build since your previous submission?" yes/

[2016-08-26 21:31] juliangsp opened #5913 "Exit lane"
Is there a way to exit/end/return/quit/abort with success a lane?

### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Configuration Files

Ple

[2016-08-26 22:28] SimonFairbairn opened #5915 "Snapshot Fails with Error 65"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Snapshot fails with status 65 on a particular project.

Running both unit and UI tests works fine both in Xcode and also when running Scan.

Snapshot also runs without issue on my other projec

[2016-08-26 22:36] SimonFairbairn commented on #5915
Scan has started failing, and the log in Scan shows that this was due to a library not being linked correctly.

[2016-08-26 22:36] #5915 closed

[2016-08-26 23:20] TKBurner commented on #5165
@igorsantos07 Hi! Can you let me know what happens when you run `brew install sips`? Thanks!

[2016-08-26 23:23] TKBurner commented on #5910
@mathiasAichinger Thanks for pointing this out! We don't have official support for Xcode 8 yet, but it is something we are working on. We really appreciate the PR and will work with you on it. Thanks!

[2016-08-26 23:26] TKBurner commented on #5905
@zats Hope you are doing well! I wanted to see if you can share the full input and output here? Are you getting any errors or is the plist just not being updated? Thanks!

[2016-08-26 23:29] TKBurner commented on #5907
Hi @ejebleed Thanks for reaching out. Can you run `sudo gem install fastlane` and then share your full input and output with me? I want to take a look. Thanks!

[2016-08-26 23:29] TKBurner commented on #4905
@biolinh Thanks! Really glad to hear you figured this out. I think this is an issue with escaping in Fastlane, we'll take a look! Have a great weekend 👍

[2016-08-26 23:32] TKBurner commented on #4059
@revile Thanks! Are you able to run it locally. We are working to merge our PRs but as you can see there are about 30 right now so it'll be faster for you to use that version until we are able to merge.

Thanks!

[2016-08-27 00:36] lkraider commented on #4793
Shouldn't "skip_submission: true" work with developer permissions?

[2016-08-27 01:31] KrauseFx commented on #5913
Yeah, you can use
[code]
to fail the current lane.

Nothing for finishing a lane, you can always do that using if else blocks

[2016-08-27 02:45] programmin1 commented on #5891
Oddly enough it worked before I updated it today, probably iTunes issue.

[2016-08-27 07:17] ejebleed commented on #5907
Hi @TKBurner
I'm not using the whole fastlane package. I'm using gym only.  Is it safe to install whole fastlane on top of it? I must be sure it will not break any part of my environment here.

I dont know if it matters but that gym command is executed within shell script. So if I want to use it manually then I open terminal (Mac), type sh my_script.sh and it executes that long gym command I state

[2016-08-27 08:41] makeappioseasy opened #5916 "Fastlane deliver new version (1.13.3) error"
### Issue Description

i can use deliver long time , before fastlane update version (1.13.3) .

my localizations can use long time , before fastlane update version (1.13.3) too.

[code]

Looking for related GitHub issues on fastlane/fastlane...

[15:22:50]: Error finding relevant GitHub issues: undefined method `map' for nil:NilClass

[!] The request could not be completed because:
	What's New In

[2016-08-27 11:22] k06a opened #5917 "How to install certificates from repo while Apple maintenance"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Looks like Apple maintenance prevent match to work at all. I there any way to run match to just install certificates from repo and skip profiles check in Apple Dev Center?

##### Complete outp

[2016-08-27 11:41] k06a commented on #5917
Just did `match decrypt` and manually imported all profiles and certificates from repo.

[2016-08-27 12:09] yokoe commented on #5757
I still can not find `Uploading binary to iTunes Connect` in logs.
My understanding is that `deliver` will skip binary upload because `options[:pkg]` is nil.
https://github.com/fastlane/fastlane/blob/master/deliver/lib/deliver/runner.rb#L24

[2016-08-27 12:12] santoshshetty2612 opened #5918 "fastlane reporting apple developer website is down"
Hi,

My fastlane setup suddenly stopped working reporting apple developer website is under maintenance.
Its been a while and am getting the same error. I verified that the apple developer website is working by visiting the website and even downloading the profiles. Am wondering if anything has been broken on fastlane end.

[14:06:24]: [31mfastlane finished with errors[0m

Looking for related Git

[2016-08-27 12:15] santoshshetty2612 commented on #5752
Thanks KrauseFx ,

I have successfully set up fastlane with jenkins. Thanks for all the support.

Thanks and Regards,
Santosh

[2016-08-27 12:37] igorsantos07 commented on #5165
The project was running on Linux. Maybe that's the reason?
I can't help you anymore as I was fired from the project. lol

Igor Santos
-- Desenvolvedor Web
[enviado do meu celular]

On Aug 26, 2016 20:21, "Todd Burner" <notifications@github.com> wrote:

[2016-08-27 13:11] vancex commented on #5918
same....

[2016-08-27 14:21] nafu commented on #5918
I think this is a problem of Apple Developer website although [System status](https://developer.apple.com/system-status/) is all green.
Here is what I got after running Spaceship.select_team 3 times in order for example.
They return errors randomly and sometimes it will succeed.

[code]

[2016-08-27 14:35] guangmingwan commented on #5918
try my temporary solution, will fix:
[code]

[2016-08-27 14:37] nafu commented on #5916
@makeappioseasy

You might want to follow the issue template.

[2016-08-27 14:57] vancex commented on #5918
@guangmingwan
I tried something like this about listProvision...., no use

[2016-08-27 15:12] guangmingwan commented on #5918
@vancex
find function `provisioning_profiles` in portal_client.rb, need change url and params also ...

[2016-08-27 15:36] vancex commented on #5918
@guangmingwan
https://developer.apple.com/services-account/QH65B2/account/ios/profile/listProvisioningProfiles.action

like this?

[2016-08-27 15:37] vancex commented on #5918
@guangmingwan something worse.... 504 gameway  now

[2016-08-27 15:53] npomfret commented on #5123
Still happening for me (2016-08-27).  Getting a mixture of error messages.  Either "504 Gateway Time-out", or a message about the apple developer website being down from maintenance.  But checking https://developer.apple.com/system-status/ there doesn't seem to be anything going on.  Any ideas?

[2016-08-27 16:10] guangmingwan commented on #5918
@vancex
I test the api url  interface for listProvisioningProfiles, call 5 times,  success 4 times, failed 1 times
I think Apple's CDN server may has a bad node. so , wo don't need do anything, just go sleep, the problem will solved.

[2016-08-27 16:52] santoshshetty2612 commented on #5918
Thanks, only option left is to wait for the Apple servers to respond in an appropriate way.

[2016-08-27 17:57] santoshshetty2612 commented on #5918
Things are working smooth again. Thanks for everyone's time and effort.

[2016-08-27 17:57] #5918 closed

[2016-08-27 18:14] #1886 closed

[2016-08-27 18:16] santoshshetty2612 opened #5919 "Broken Pipe error when using fastlane with bitbucket"
Hi,

May be this problem has been discussed many times, but I am not able to get through this error. It doesn't happen on all the machine. But on my mac, I get this error 9 out of 10 times.

I tried a lot of other solutions including increasing the git buffer size. But nothing worked for me.
git config http.postBuffer 52428800

[23:41:31]: Cloning remote git repo...
Cloning into '/var/folders/xm/g

[2016-08-27 18:17] #5752 closed

[2016-08-27 20:02] pajapro opened #5920 "Plugin specs - expectations with Fastlane UI"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
While writing specs for plugin, I want to assert on my action's UI outputs. Example:
[code]

##### Complete output when running fastlane, including the stack trace and command used

[code]

###

[2016-08-27 20:07] pajapro commented on #5920
I just realised that I placed my expectation _after_ executing action. Reversing the order (expectation then action execution) fixed the problem.

[2016-08-27 20:07] #5920 closed

[2016-08-27 22:05] KrauseFx commented on #5920
Glad to hear you got it resolved 👍

[2016-08-28 02:45] vancex commented on #5918
@santoshshetty2612 @guangmingwan is it ok now?
almost 504 gateway.
ping ip?

[2016-08-28 03:20] zats commented on #5905
Hi Todd, how are you?
Sorry for not being clear, I'm not getting any errors, the action reports successful completion, it's just the values assigned using `:symbols` notation are not being persisted to the disk.

[2016-08-28 03:48] KrauseFx commented on #5917
You can run `match --readonly` to not access the developer portal and just use the git profiles 👍

[2016-08-28 03:49] KrauseFx commented on #5916
This is a metadata error, make sure to read and address the error message you received 👍

[2016-08-28 03:50] KrauseFx commented on #1963
Oh wow, this is great news, definitely something that would perfectly into fastlane 👍

[2016-08-28 03:54] KrauseFx commented on #5910
@TKBurner @mathiasAichinger already submitted a PR for this, I'm working together with him to get this merged 👍 Thanks for your contribution

[2016-08-28 07:56] lfarah commented on #4301
I can confirm that it doesn't work.
<img width="566" alt="screen shot 2016-08-28 at 12 55 51 am" src="https://cloud.githubusercontent.com/assets/6511079/18032467/2e3b659a-6cba-11e6-9597-5ac807453447.png">

Appfile:
[code]

[2016-08-28 12:09] tomachi commented on #5125
mpirri's PR:
"If anyone wants to try out this PR, you just need to set the environment variable PILOT_WAIT_FOR_NEW_BUILD_TRAINS_ON_ITUNESCONNECT=1 before executing fastlane/pilot"

[2016-08-28 14:51] santoshshetty2612 commented on #5918
@vancex Its working now. I didn't had to change anything.

[2016-08-28 15:19] nafu commented on #5863
Adding toolchain option will solve this problem.
e.g. https://github.com/fastlane/fastlane/pull/5864

[2016-08-28 15:48] reallistic commented on #5123
@npomfret The status page (for whatever reason) says every thing is fine but it definitely isn't.
The logged in account part of developer.apple.com is **super* slow and thats if it works at all. This has been happening to me both via `match` and the website for about 8 hours now.

[2016-08-28 16:02] nafu commented on #5919
@santoshshetty2612

How about trying this?
http://stackoverflow.com/a/28473869/1884748

[2016-08-28 16:12] vancex commented on #5918
@santoshshetty2612
what is the ip address if you ping developerservices2.apple.com.
17.146.1.142?

[2016-08-28 16:34] #1869 closed

[2016-08-28 17:24] #3720 closed

[2016-08-28 18:04] #5140 closed

[2016-08-28 18:05] k06a commented on #5917
@KrauseFx thanks!

[2016-08-28 18:05] #5917 closed

[2016-08-28 18:07] reallistic opened #5921 "[Match] Manually encrypt and upload manually created certs?"
### New Issue Checklist

- [ x ] Updated fastlane to the latest version
- [ x ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Because of issue #5123 i'm wondering if there is a way to manually encrypt some certs to upload?
My specific scenario is that I need to re-generate the provisioning profiles in order to te

[2016-08-28 18:38] KrauseFx commented on #5921
Hey @reallistic, you can run `match` in readonly mode to just decrypt and install all the certificates

[2016-08-28 18:43] KrauseFx commented on #5123
Thanks for the reports everybody. Not much we can do, however if you're using `match`, you're in luck, just run `match` in readonly mode:

[code]

or
[code]

This will skip the part where it verifies the certificates on the Dev Portal (as described in https://github.com/fastlane/fastlane/issues/5917).

I'll lock this issue for now, as it's a very old one, to avoid email spam. Please submit a new i

[2016-08-28 19:08] reallistic commented on #5921
@KrauseFx I was under the impression I needed to run `match --force_for_new_devices` in order for the new devices to be added to the provisioning profile and/or certs?

[2016-08-28 19:15] KrauseFx commented on #5921
@reallistic Yes, that's correct, but you can't add new devices when the Developer Portal is down, sorry

[2016-08-28 19:29] reallistic commented on #5921
@KrauseFx Thanks for the info.
Does this also mean it isn't possible to manually encrypt the repo to add new (or other) stuff?

[2016-08-28 19:30] KrauseFx commented on #5917
I just pushed https://github.com/fastlane/fastlane/pull/5922, to show the message right when the error occurs

[2016-08-28 19:31] KrauseFx commented on #5921
@reallistic to add a new device, you'll have to access the developer portal, as it all happens on the server-side. You'll have to wait until Apple's servers are up again. Alternatively, you can manually add the device using the Apple Dev Portal website as as far I as know, just the Xcode API is down (which is what spaceship uses)

[2016-08-28 19:31] KrauseFx commented on #5907
@ejebleed Thanks for the report

You said it's not true, how come? What part is not working?

[2016-08-28 19:36] reallistic commented on #5921
I should have further explained that some time ago I messed up my repo by manually adding a provisioning profile.
I've since reverted the commit which now allows readonly to work, but i'm wondering if it is possible for me to manually encrypt that provisioning profile so `match --readonly` can successfully pull it.

I completely understand the limitations of match without the dev portal.

What I n

[2016-08-28 20:04] #4988 closed

[2016-08-28 20:14] #5089 closed

[2016-08-29 00:28] evilDave commented on #5241
According to the SO question linked by @hjanuschka it was an apple bug. I can say that I have not seen this issue again since June.

[2016-08-29 03:31] bobbeat commented on #1979
@dmitry-mochalov Because the name of profile is "InHouse_com.MyApp.*.mobileprovision". it should be "Appstore_com.MyApp.*.mobileprovision".When i change the profile  name (already in repo) to "Appstore_com.MyApp.*.mobileprovision" in manual. "match appstore --readonly" works.

[2016-08-29 03:33] CPPTET opened #5927 "unauthorized for supply uploading metadata to google play"
Tried with two different account with same permission.
one is ok, but another one failed with unauthorized.
command used:
supply --skip_upload_apk --skip_upload_images --skip_upload_screenshots --verbose

Error:
[code]

[2016-08-29 03:41] KrauseFx commented on #1979
Could you submit a new issue for this, so we can track it properly 👍 Thanks

[2016-08-29 04:47] VicHnp commented on #5734
Hi, i also want this feature, sometimes when we test ,you need to add a large of number device,but we need manually remove device when test complete. Thanks you so much if you could support this feature.

[2016-08-29 05:04] samsonpaul87 opened #5928 "undefined method `exitstatus' for nil:NilClass (NoMethodError)"
## New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
getting undefined method `exitstatus' for nil:NilClass (NoMethodError)

##### Complete output when running fastlane, including the stack trace and command used
[code]

### Configuration Files

P

[2016-08-29 05:18] nafu commented on #5927
@CPPTET

Did you follow the setup step in the same way for two accounts?
https://github.com/fastlane/fastlane/tree/master/supply#setup

[2016-08-29 05:22] nafu commented on #5928
@samsonpaul87

Could you ensure this from error messages?

[2016-08-29 05:29] CPPTET commented on #5927
@nafu
I did not choose the Release Manager role for that. But I've checked these permission for both account. And the failed one can perform the Supply init. but if I run "supply --skip_upload_apk --skip_upload_images --skip_upload_screenshots --verbose", it shows unauthorized error. Do you think if I need extra permission for resolving this issue?

<img width="364" alt="screen shot 2016-08-29 at

[2016-08-29 06:02] fafu2008 commented on #5734
I hope add this feature

[2016-08-29 06:19] nafu commented on #5927
@CPPTET

I think so.
It's worth to try giving them release manager permission because it throws [Google::Apis::AuthorizationError](https://github.com/google/google-api-ruby-client/blob/557057c754d446b18f08cf719a84b68d7e55bd15/lib/google/apis/core/http_command.rb#L208).

The flow from supply commands is

1. [Supply::Setup.new.perform_upload](https://github.com/fastlane/fastlane/blob/master/supply/l

[2016-08-29 06:36] jacobjiangwei opened #5929 "Run script in Xcode project didn't print anything"
Here is the jenkins output
13:52:25 [13:52:25]: ▸ [35m[33m>[0m [39;1mRunning script[0m 'Embed Pods Frameworks'[0m
13:52:27 [13:52:27]: ▸ [35m[33m>[0m [39;1mRunning script[0m 'Copy Pods Resources'[0m
13:52:27 [13:52:27]: ▸ [35m[33m>[0m [39;1mRunning script[0m 'Upload To Crittercism'[0m

Is there a way to know what's happening inside? We have our own script running there, please do

[2016-08-29 07:13] ejebleed commented on #5907
@KrauseFx , it is very possible that I misunderstood the documentation, but as documentation says:

`Since Xcode 7, gym is using new Xcode API which allows us to specify export options using plist file.` **By default gym creates this file for you** `and ...`

So I assumed that it would generate the _ExportOptions.plist_ file somewhere. But looks like it did not. At least the directory where the _g

[2016-08-29 07:26] cybertk commented on #4692
Same issue here.

Full error

[2016-08-29 08:30] StephanPartzsch opened #5930 "Handle errors individually?"
Hi,
  is there a way to catch errors and analyse them without breaking the whole process?

We have multiple apps/targets that need to be built and uploaded to iTunesConnect. Sometimes one upload fails, because i.e. some metadata is not correct on iTunesConnect.
The process will fail completely and this is expected.
But if we will run the process again, it may fail because some apps/targets are alr

[2016-08-29 10:26] katgironpe opened #5931 "Stuck creating fastlane folder"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Setup stuck at creating a new folder.

[code]

### Environment

fastlane version (run `fastlane -v`): `1.101.0`

Do you use bundler to execute fastlane (i.e. `bundle exec fastlane`)? NO

Do yo

[2016-08-29 11:00] ziadtamim commented on #5903
Thanks @KrauseFx. It's working now.

[2016-08-29 11:06] mcany commented on #5259
hi all,

I am receiving the same error now. I have tried both on my CI tool Travis and on my local machine but the behaviours are the same. I have checked my keychain and i have the certificate both on Login and System folder. I also checked that the certificate is still valid. I have the latest version of fastlane. Any suggestion would be appreciated. Thanks in advance

[2016-08-29 12:31] mcany commented on #4798
hi all,

I am receiving the same error now. I have tried both on my CI tool Travis and on my local machine but the behaviours are the same. I have checked my keychain and i have the certificate both on Login and System folder. I also checked that the certificate is still valid. I have the latest version of fastlane. Any suggestion would be appreciated. Thanks in advance

[2016-08-29 14:09] asfalcone commented on #5928
@samsonpaul87 Per the new issue checklist, please update to the latest version of `fastlane` and `screengrab` so that we can accurately diagnose the problem you're running into. Thanks 👍

[2016-08-29 14:10] asfalcone commented on #5927
@CPPTET I believe you do need the "Manage Production APKs" checkbox checked. Can you try with that and let us know? Thanks 👍

[2016-08-29 14:14] asfalcone commented on #5919
@santoshshetty2612 It's hard to tell what the problem is from the snippet you posted. Can you please format your issue per the [issue template](https://github.com/fastlane/fastlane/blob/master/ISSUE_TEMPLATE.md) and include a full output as well as your fastfile? Thanks 👍

[2016-08-29 14:54] TKBurner commented on #5102
@cagataycali Thanks for following up. Have you run fastlane init on this project? Thanks!

[2016-08-29 15:54] #4205 closed

[2016-08-29 16:22] samsonpaul87 commented on #5928
ok. I will update and let you know. :)

[2016-08-29 16:52] swl367 commented on #5918
mine is 17.146.1.2

[2016-08-29 16:56] TKBurner commented on #5730
@nikolaykasyanov Thanks for stepping in! Are you interested in adding this as a plugin so users can more easily adopt it? Thanks!

[2016-08-29 16:56] #5730 closed

[2016-08-29 16:57] TKBurner commented on #5683
@tibo Awesome! Really glad you got up and running. Hope you have a wonderful day!

[2016-08-29 17:12] #1667 closed

[2016-08-29 17:35] pajapro commented on #5736
Hi @TKBurner, based on your answer:

I looked a bit around and came up with the following [solution](https://github.com/pajapro/fastlane-plugin-changelog/commit/6a3db9df0f92d64e6d8af892af2d359ba33c09f8) to implement the "installation wizard". It works, but would you mind having a look at that code anyway to see if this is the right place to do it or it won't potentially impact other parts?

[2016-08-29 17:37] TKBurner commented on #5880
@nikolaykasyanov Thanks for doing that research. It looks like you have found the reason for this behavior. I was wondering if you were able to figure out a workaround? Thanks!

[2016-08-29 17:38] TKBurner commented on #5883
@nikolaykasyanov Thanks for reaching out. The behavior you are experiencing is currently expected. I'm going to mark this as a feature request to see if anyone else in the community is interested in enhancing this. Thanks!

[2016-08-29 17:47] TKBurner commented on #1079
@nafu Thanks so much for the work there! Glad to see it got merged 👍 👍 💯

[2016-08-29 17:47] #1079 closed

[2016-08-29 17:48] KrauseFx commented on #5903
Thanks for letting us know @ziadtamim 👍  Great to hear

[2016-08-29 17:49] TKBurner commented on #5886
Hi @henry42 Great idea! Right now that behavior doesn't happen. Can you let me know what happens when you try to take this action at present? Thanks!

[2016-08-29 17:50] TKBurner commented on #4983
@tibo @scalbatty Awesome! Really glad to hear you are up and running. Thanks!

[2016-08-29 17:50] #4983 closed

[2016-08-29 17:57] TKBurner commented on #5797
@bencollier Thanks for letting us know. Can you let me know if you are still seeing this? We are just now pushing out the last of the updates related to this issue. Thanks!

[2016-08-29 18:13] TKBurner commented on #742
Hi @fishercraigj Can you run `which xcpretty`? Also what version of ruby are you using?

Thanks!

[2016-08-29 18:15] TKBurner commented on #5888
@carlos-maldonado-em Thanks for reaching out. Can you send along your full input and output when you run this? Definitely want to take a look. Thanks!

[2016-08-29 18:16] TKBurner commented on #5663
Hi @chrisortman thanks! Check out this thread on stack overflow: http://stackoverflow.com/questions/26928622/add-preprocessor-macro-to-a-target-in-xcode-6

Thanks!

[2016-08-29 18:19] TKBurner commented on #5889
Hi @chrisortman Thanks for reaching out. You can try and create a scheme directly for snapshot. You might run into a linking issue if your frameworks aren't also linked to it. Thanks!

[2016-08-29 18:20] TKBurner commented on #5025
Going to mark this as help wanted in case anyone wants to submit a PR. Thanks!

[2016-08-29 18:27] TKBurner commented on #5890
@sharplet Hi! Hope you are doing well. Right now this is expected behavior. Thanks!

[2016-08-29 18:27] #5890 closed

[2016-08-29 18:28] bgannin commented on #5035
Is there additional work needed or did I just miss this in recent release notes?

[2016-08-29 18:30] TKBurner commented on #5728
@CareerFairPlus Did the app show up eventually? thanks!

[2016-08-29 18:32] sharplet commented on #5890
Do you have a particular reason in mind for not changing the behaviour?

[2016-08-29 18:46] TKBurner commented on #435
@JoeFerrucci Hope you are doing well! Glad to hear you were able to get up and running. Thanks!

[2016-08-29 18:49] TKBurner commented on #5896
@revile Can you try using ruby 2.3+ and let me know if you are still seeing this issue. It looks like you are using system ruby and that might be why you are running into this issue. Thanks!

[2016-08-29 18:53] TKBurner commented on #5805
@cratrifork Thanks so much for stepping in on this and helping out. Hope that you have a great day! 👍

[2016-08-29 18:53] #5805 closed

[2016-08-29 18:55] TKBurner commented on #5884
@tanhuiya Awesome! Really glad to hear you got up and running. Hope you have a great week!

[2016-08-29 18:56] TKBurner commented on #5898
@revolter It's not possible right now. Because we require you build on a test target it's hard to avoid this. Thanks!

[2016-08-29 18:56] #5898 closed

[2016-08-29 18:57] GabrielCartier commented on #5874
I did some other test and didn't run into any issue related to that. Must've been a weird ITC response.

Thanks guys!

[2016-08-29 18:57] #5874 closed

[2016-08-29 19:05] TKBurner commented on #5901
@timothy-volvo Hope you are doing well! Sorry to hear that you ran into this. Any chance you are interested in submitting a PR to correct this behavior? I'm marking this as help wanted in case anyone wants to submit a PR around this. Thanks!

[2016-08-29 19:11] TKBurner commented on #4462
Hi @SandyChapman Thanks for following up on this. I've marked this as help wanted in case anyone from the community wants to submit a PR to clear up this behavior. Thanks!

[2016-08-29 19:17] TKBurner commented on #5904
@doapp-ryanp Thanks for following up with those details. Hope you have a wonderful day! 👍

[2016-08-29 19:21] SandyChapman commented on #4462
@TKBurner : Thanks. If I find some time and don't forget about this, I just may be the one to do it.

[2016-08-29 19:26] TKBurner commented on #5742
@SemenovAlexander Thanks for following up. What happens if you erase your simulators before running scan? That generally fixes this for affected users. Thanks!

[2016-08-29 19:52] TKBurner commented on #5909
Hi @frisocki Thanks for reaching out. This seems like a reproducible issue. Are you interested in submitting a PR to correct this behavior? Thanks!

[2016-08-29 19:58] TKBurner commented on #5779
@cojoj Have you used this setup, https://github.com/bitrise-io/steps-fastlane? Thanks!

[2016-08-29 20:01] TKBurner commented on #5897
@JoeFerrucci Thanks for following up. Really glad you found a workaround. 👍 💯

[2016-08-29 20:01] timothy-volvo commented on #5901
Sure, the only reason I didn't was I wasn't sure the best was to parse the xcscheme (see psuedo code in initial comment). Xcodeproj seems to have a class, but nothing else in fastlane core depends on it so I was hesitant to introduce that dependency. There are some actions that use xcodeproj, but not the core itself.

[2016-08-29 20:04] TKBurner commented on #5912
Hi @marcelosalloum Are you running `git add .` The version bump can only commit what is properly staged. Thanks!

[2016-08-29 20:10] TKBurner commented on #5915
@SimonFairbairn So glad to hear you got up and running. Hope that you have a wonderful day! 👍

[2016-08-29 20:10] #5913 closed

[2016-08-29 20:13] TKBurner commented on #5891
Hi @programmin1 Can you run `spaceship -v` and share the results? Thanks!

[2016-08-29 20:16] TKBurner commented on #4793
Hi @lkraider Thanks for following up. Because of the way the APIs we use have permissions you need to be an admin. Thanks!

[2016-08-29 20:16] #4793 closed

[2016-08-29 20:22] TKBurner commented on #5733
@ILI4S Are you able to submit your app on iTC, or do you run into error messages? Definitely want to shoot this over to the core team. Thanks!

[2016-08-29 20:30] TKBurner commented on #5757
@yokoe Thanks for following up. Can you provide the full input and output with the workaround? I want to take a look. Thanks!

[2016-08-29 20:31] TKBurner commented on #5165
@igorsantos07 Thanks for letting me know. If you run into this issue again always feel free to reach out. Thanks!

[2016-08-29 20:31] #5165 closed

[2016-08-29 20:37] TKBurner commented on #5905
Hi @zats Thanks for following up. Any chance you can provide a sample project or exact repro steps. I want to circle in the core team. Thanks!

[2016-08-29 20:41] TKBurner commented on #4301
@lfarah Thanks for following up on this. Can you please let me know the exact input that you are giving. I'd love to route this to the internal team. Thanks!

[2016-08-29 20:44] TKBurner commented on #5863
@nafu Awesome! Thanks for the PR!

[2016-08-29 20:44] #5863 closed

[2016-08-29 20:46] TKBurner commented on #5921
@reallistic Thanks for following up. Right now it's not possible. The reason is Match checks against Apple to see if the profile is valid when run. Thanks!

[2016-08-29 20:47] TKBurner commented on #5241
@evilDave Awesome! Thanks for following up on this Dave. I'm going to go ahead and close it out, but if anyone sees this pop back up feel free to bump this thread. Thanks!

[2016-08-29 20:47] #5241 closed

[2016-08-29 20:52] TKBurner commented on #5929
Hi @jacobjiangwei Thanks for reaching out. What happens if you add the --verbose flag to your lane? Thanks!

[2016-08-29 20:57] TKBurner commented on #5907
Hi @ejebleed Thanks for reaching out on this. Are you able to specify a export_options plist using that parameter? Thanks!

[2016-08-29 21:03] reallistic commented on #5921
Thanks for the info.

[2016-08-29 21:03] #5921 closed

[2016-08-29 22:40] jacobjiangwei commented on #5929
already did

发自我的 iPhone

[2016-08-29 22:46] zats commented on #5905
Hi Todd, here you go, following is the relevant part of the fastfile

[code]

This is a relevant part. As I mentioned above, the only modification we saw in the plist is `FacebookUrlSchemeSuffix` key is being set to an empty string, value for `CFBundleDisplayName` is  not persisted in the plist

[2016-08-29 23:07] lkraider commented on #4793
Thanks for the info. Would like to have a mode where developer could work without error for uploading.

Actually it does work enough as it is right now, it just exits with error code and "breaks" the build:
[code]

[2016-08-29 23:21] bonzoq commented on #5863
@nafu thanks for solving this!

[2016-08-30 01:28] SandyChapman commented on #213
One thing that caught me with this is that you need to make sure your API token is either "Upload & Release" or "Full Access" if you want the notify and status options to work.

[2016-08-30 02:59] chrisortman commented on #5663
Ahhh, I thought there was something already defined. Thanks!

[2016-08-30 03:00] chrisortman commented on #5889
@TKBurner Do you do this in your projects? Is it common practice?

[2016-08-30 03:07] SandyChapman commented on #5742
@TKBurner : Erasing the simulator prior to running had no effect for me.

[code]

As @SemenovAlexander stated, running with the version (i.e. 'iPad Air 2 (9.3)') works.

[2016-08-30 03:12] lfarah commented on #4301
@TKBurner What information do you want me to provide? [our app is open source](https://github.com/troydo42/kodeo), so you can take a look at the codebase.

[2016-08-30 03:23] CPPTET commented on #5927
@nafu It is fine with release manager. Thanks.
@asfalcone May I know why the "Manage Produciton APKs" permission is needed? Because updating metadata will also update the change logs? Is there an option to disable updating the change log? Thanks.

[2016-08-30 05:10] katgironpe commented on #5931
Closing issue. It's probably because I installed with `sudo`.

[2016-08-30 05:10] #5931 closed

[2016-08-30 05:39] samsonpaul87 commented on #5928
@asfalcone .. can you please take a look into the following. Please help me what I missed.

[code]

[2016-08-30 06:53] chrhsmt opened #5952 "itc_service_key cache directory"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I have some feature of fastlane running on Linux OS, and that itc_service_key cache directory is not valid directory path in default state on Linux.
I guess that it is needed that cache direct

[2016-08-30 07:52] cojoj commented on #5779
Yes @TKBurner I'm using this step.

[2016-08-30 08:11] nikolaykasyanov commented on #5880
@TKBurner yep, I was able to workaround the issue by explicitly setting `FASTLANE_ITC_TEAM_ID` through `env` before calling the action.

[2016-08-30 08:12] nikolaykasyanov commented on #5730
@TKBurner sure I'll try, have to learn how to do plugins first though.

[2016-08-30 08:14] SemenovAlexander commented on #5742
@TKBurner actually nothing happens, and nothing should happen, because of code in #5640 written in such manner.

In my projects I have iOS 8.0 deployment target, and all simulators are 9.3.
All works fine, if I pass device name with actual version, like this `iPhone 6 (9.3)` ([line 49](https://github.com/fastlane/fastlane/pull/5640/files#diff-08afcb1021a2963d22787f399a0d3b7fR49) in `detect_values.

[2016-08-30 09:10] Hansteo commented on #5742
#5640

[2016-08-30 09:31] znerol commented on #1631
Currently it is not possible to submit an IAP for review (no matter whether it was created manually, via iTMSTransporter, ApplicationLoader or any other means). It looks like it would be possible to integrate that into spaceship. The `POST` looks like this:

URL: `https://itunesconnect.apple.com/WebObjects/iTunesConnect.woa/ra/apps/#{@app.apple_id}/iaps/submission`

Request body:

    [
       {

[2016-08-30 09:59] tomaskraina commented on #5066
I have run across this issue as well, this time on bitrise.io. Previously, this issue occured on my local machine too, but I was able to [fix it by installing `CFPropertyList` and `sqlite3` gems](https://github.com/fastlane/fastlane/issues/3184#issuecomment-193548846). Unfortunatelly, this doesn't help in case of running the build on bitrise's CI.

[2016-08-30 10:27] n4me1ess opened #5953 "Scan xcodebuild -list timed-out after 10 seconds"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
 I used Scan for running my XCUI Tests. On the one mac mini i have an error " xcodebuild -list timed-out after 10 seconds. You might need to recreate the user schemes. You can override the time

[2016-08-30 12:00] Mehdzor opened #5954 "Cocoapods verification failed for bundler"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

When cocoapods gem is installed using bundler but not globally, then cocoapods action fails.

Steps to repeat:
- Uninstall cocoapods completely
- Install cocoapods using bundle install
- Run fas

[2016-08-30 12:10] pawelus commented on #5631
@TKBurner I have a Bamboo build agent with 100% reproduction rate ATM.

I've ran `bundle exec sync --verbose` but it doesn't say much:
[code]
A bunch of things I checked that may help:
* Second line is from my Pre-action for Test - this means that pre-action was run correctly
* Application is launched on the simulator screen (I can see it on the agent) but no Unit or UI tests are run - it just han

[2016-08-30 14:32] asfalcone commented on #5927
@CPPTET I'm not 100% sure why certain permissions are required since the authorization and errors are governed by Google. We use this [google api client](https://github.com/google/google-api-ruby-client/) if you want to do more digging.

I'm going to close this issue for now since this is working as expected. The last item in our [setup guide](https://github.com/fastlane/fastlane/tree/master/suppl

[2016-08-30 14:32] #5927 closed

[2016-08-30 15:19] mfurtak commented on #5954
When you say that you "Install cocoapods using bundle install", that implies that you have a `Gemfile`? If so, can you post its contents? 👍

[2016-08-30 15:23] mfurtak commented on #5952
Hi @chrhsmt - Thanks for the report 👍  As you say, this path does seem to be a bit too Mac specific.

/cc @KrauseFx

[2016-08-30 15:43] mfurtak commented on #5930
Hi @StephanPartzsch - good question! Are you using a `Fastfile`?

If so, one way you can manage this with a bit of Ruby exception handling.

[code]

Let me know if that gets you going on your desired behavior! 👍

[2016-08-30 15:48] mfurtak commented on #5928
@samsonpaul87 What is the output if you run `sudo gem which fastlane` and `sudo gem which screengrab`?

[2016-08-30 16:30] nitramb commented on #5952
Hello,

Just thought I would add in that this also is happening on enterprise accounts, which I wouldn't of thought it needed to have a itc_service_key cached, assuming itc is for itunes connect.

Also running on a simpler setup to chrhsmt, linux box on centos 6

[1] pry(main)> require "spaceship"
=> true
[2] pry(main)> Spaceship.login("******************", "**********")
Errno::ENOENT: No such fil

[2016-08-30 16:32] allenhumphreys commented on #5540
@TKBurner

It seems like what happened to me was that when Xcode added a device to the dev portal, it invalidated the match provisioning profile. Once the profile was invalidated (marked yellow on the website), it was either no longer visible to match or match chose to handle it in this way.

Unfortunately, this behavior may have been due to an older version of match. I did get the error mentioned

[2016-08-30 17:26] chrissingh commented on #5892
I was able to resolve my issues on our build server. I reinstalled a few gems. We did realize krausefx-ipa no longer support uploading to UberTesters. So we had to change that command to a CURL upload and everything seems to be working normally again. Thank you for your reply.

[2016-08-30 17:34] #5151 closed

[2016-08-30 17:38] TKBurner commented on #5540
@allenhumphreys Thanks for following up. That seems to make sense as behavior. The profile was invalidated, match ignored it. I think your best bet would have been running `match nuke development`

Thanks!

[2016-08-30 17:38] #5540 closed

[2016-08-30 17:41] allenhumphreys commented on #5540
@TKBurner

I wish there was something a little more fine grained than `nuke`. Like just being able to reset the profiles and not the certificates would be nice.

[2016-08-30 17:42] TKBurner commented on #4692
Hi @cybertk Thanks for reaching out. Can you open a new issue and share your full input and output? I'd love to take a look. Thanks so much!

[2016-08-30 17:43] TKBurner commented on #5259
Hi @mcany Thanks for reaching out. Can you let me know what version of OS X your are using, also will you let me know what versions of Xcode you have installed?

Thanks!

[2016-08-30 17:44] TKBurner commented on #4798
@mcany Followed up on #5259

[2016-08-30 17:44] RishabhTayal commented on #5665
@TKBurner Here is the output with the `deliver --verbose` option. I used `deliver` in this example. But I get the same error when using `fastlane`.

<details>
<summary>Click to see details</summary>
[code]
</details>

[2016-08-30 17:47] TKBurner commented on #5918
@swl367 Are you still running into this issue? There was an issue on the Apple side this past weekend.
Thanks!

[2016-08-30 17:49] swl367 commented on #5918
@TKBurner I was running into the issue since Saturday morning until yesterday night. I tried sigh this morning and it seems like it's working (although it's not as quick as before). It seems to pause on "fetching profiles" for a lot longer than usual.

[2016-08-30 17:50] TKBurner commented on #5736
Looks good to me @pajapro! However, this might make it so fastlane has to be attended during run. You should make sure it can run without human attention.

Thanks!

[2016-08-30 17:58] TKBurner commented on #5890
Hi @sharplet! Thanks for following up. I'm not sure of the history of this, but it's been this way historically within Fastlane. We think the error message is a graceful fail here. If people come in and comment on this thread we'll definitely consider the change.

[2016-08-30 17:59] TKBurner commented on #5874
@GabrielCartier Awesome! Thanks so much for following up. So glad you got up and running.

[2016-08-30 18:00] pajapro commented on #5736
I didn't get that, could you please elaborate on that? How would I ensure that fastlane isn't needed during run?

[2016-08-30 18:12] samsonpaul87 commented on #5928
@mfurtak .. I am getting following output
[code]

[2016-08-30 18:23] KrauseFx commented on #5930
Using the standard Ruby exception handling is the best and cleanest way to do so 👍

[2016-08-30 18:24] #5010 closed

[2016-08-30 18:30] CodeStage commented on #4197
I had this too, for me it was an async test case with an expectation. This test case would crash the test runner when calling waitForExpectationsWithTimeout. Which was super weird because it would only happen on some machines but not all. And the test case had not been touch in months. So I refactored the test case to use GCD locking instead of waitForExpectationsWithTimeout and the problem was go

[2016-08-30 18:32] TKBurner commented on #5736
Hi @pajapro Thanks for following up. This means that you won't be able to add this install step as an automated step. Otherwise should work 100% as expected. Thanks!

[2016-08-30 18:32] #5736 closed

[2016-08-30 18:33] CodeStage commented on #4947
I had this too, for me it was an async test case with an expectation. This test case would crash the test runner when calling waitForExpectationsWithTimeout. Which was super weird because it would only happen on some machines but not all. And the test case had not been touched in months. So I refactored the test case to use GCD locking instead of waitForExpectationsWithTimeout and the problem was

[2016-08-30 18:33] TKBurner commented on #5918
Hi @swl367 Can you run `sudo gem update fastlane` and then share your full input and output. I'd love to take a look. Thanks!

[2016-08-30 18:34] TKBurner commented on #4462
Awesome @SandyChapman!

[2016-08-30 18:41] TKBurner commented on #5901
Thanks @timothy-volvo. I think you can rely on this dependency.

Thanks!

[2016-08-30 18:41] swl367 commented on #5918
@TKBurner

not much to go off on but...

[13:39:15]: Starting login with user 'x@y.com'
[13:39:18]: Successfully logged in
[13:39:18]: Fetching profiles...
[13:39:52]: Found 1 matching profile(s)
[13:39:52]: Downloading provisioning profile...
[13:39:53]: Successfully downloaded provisioning profile...
[13:39:53]: Installing provisioning profile...

You can see that it took 34 seconds to fetch the

[2016-08-30 18:52] TKBurner commented on #5929
Hi @jacobjiangwei Thanks for following up. Are you logging anything to the console during your action? Thanks!

[2016-08-30 19:02] TKBurner commented on #5905
Thanks @zats! I looped in the core team to see if they can take a look. Thanks!

[2016-08-30 19:04] TKBurner commented on #4793
@lkraider Are you interested in submitting a PR to clear up this behavior? I'd love to see something. Thanks!

[2016-08-30 19:04] mfurtak commented on #5928
Thanks! That is very strange.

I'm guessing based on your path... are you using [Ruby Stack](https://bitnami.com/stack/ruby)? If so, I have to wonder whether that's doing something strange...

If you do:

[code]

what is the result? What version is installed? The latest version available on RubyGems is [0.5.1](https://rubygems.org/gems/screengrab)

[2016-08-30 19:16] TKBurner commented on #5663
@chrisortman No problem! Hope you have a great day 👍

[2016-08-30 19:18] TKBurner commented on #5889
Hi @chrisortman Thanks for following up. Generally making it a separate target alone is your better bet.

[2016-08-30 19:19] TKBurner commented on #4301
@lfarah Thanks for following up. Can you share your full command line input and output from this run? Definitely want to get this resolved 👍

[2016-08-30 19:41] rmato commented on #3968
I have this exact same problem.

I followed the steps. Match nuke development and Distribution, then re generated all certificates and profiles with Match appstore and development. And I CAN actually run my app in my computer.
But when I try to do this same thing in any other computer of my team, the error appears, and the other developer cannot run in Xcode.

I do the same steps: match appstore/d

[2016-08-30 19:47] TKBurner commented on #5931
@katgironpe Let me know if you are still running into any issues getting up and running. Thanks!

[2016-08-30 19:50] TKBurner commented on #5779
Hi @cojoj Thanks for continuing to work with me on this.

To confirm: you are able to run xcodebuild -list -workspace ./Jodel.xcworkspace on bitrise?

Also, can you  let me know which scan command is working on bitrise? Thanks!

[2016-08-30 19:51] TKBurner commented on #5880
@nikolaykasyanov Thanks for letting me know. I'm going to leave this open in case anyone from the community wants to step in to make this more clear in the product. Thanks!

[2016-08-30 19:54] rmato opened #5961 "Match: Certificate has either expired/revoked on team member's machines"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I am receiving "Unable to install "app" error whenever I attempt to run the app on Xcode on a machine that is not the creator of the certificates. The complete error is:

Unable to install <ap

[2016-08-30 20:02] TKBurner commented on #5730
@nikolaykasyanov Very cool! 👍 💯

[2016-08-30 20:05] TKBurner commented on #5742
@SemenovAlexander Thanks for following up. I circled back with the core team and we'll update this thread. It seems like this might be expected behavior for now, but certainly isn't desired because it causes lanes to break more often.

[2016-08-30 20:07] postmechanical commented on #5742
The biggest problem, of which this one is a small but significant symptom, is that almost every new version of these tools breaks existing workflows.

[2016-08-30 20:09] TKBurner commented on #1631
@znerol Thanks for sharing!

[2016-08-30 20:13] TKBurner commented on #5961
Hi @rmato Thanks for reaching out. Can you set `force_for_new_devices` to true? Let me know if that clears up things for you. Thanks!

[2016-08-30 20:15] TKBurner commented on #5066
@tomaskraina Can you run `sudo gem update fastlane` on bitrise and then share your full input and output? Thanks!

[2016-08-30 20:15] marcelosalloum commented on #5912
Hi @TKBurner, adding `git_add(path: ".")` before `commit_version_bump` did the trick, thanks.

But wasn't `commit_version_bump` supposed to do that too?

[2016-08-30 20:24] TKBurner commented on #5953
Hi @n4me1ess Here is an example lane with env setup:

[code]

[2016-08-30 20:28] TKBurner commented on #5892
@chrissingh Awesome! Really glad to hear you got up and running. Hope you have a wonderful day!

[2016-08-30 20:28] #5892 closed

[2016-08-30 20:29] TKBurner commented on #5540
@allenhumphreys Thanks for the feedback. I'll make sure to talk to the core team 👍

[2016-08-30 20:32] TKBurner commented on #5665
Hi @RishabhTayal Thanks for following up. Can you take a look at #5476. It seems like he has found a viable solution. Thanks!

[2016-08-30 20:34] TKBurner commented on #3968
@rmato Can you submit a new issue for this? Thanks!

[2016-08-30 20:35] TKBurner commented on #5912
Hi @marcelosalloum Thanks for following up. We want to only commit changes that have been added by the user.

[2016-08-30 20:38] rmato commented on #5961
Hi @TKBurner thanks for the response! I set `force_for_new_devices` to true on every match call and the certificate error persists on the new machine :(

[2016-08-30 20:56] rmato commented on #5961
Ok rephrasing @TKBurner, your suggestion actually worked! I just needed to clean my project first, and the addition of `force_for_new_devices` cleared the code signing error. Thanks again!

[2016-08-30 22:20] lkraider commented on #4793
I'll take a look eventually, it's not a priority as I simply "ignore the error" for now on the build step.

[2016-08-30 22:44] frisocki opened #5962 "[fastlane] Full path to filename (info.plist) is not output when file cannot be found using update_info_plist."
🔑
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

When running the action `update_info_plist`, if the info.plist file does not exist, an error message is displayed

However, the path in the message only contains the filename, and not the full

[2016-08-30 23:23] frisocki commented on #5905
When the existing plist file with the key CFBundleDisplayName is read, it is stored in the hash as the string literal `CFBundleDisplayName`. When you attempt to update that value with the symbol `:CFBundleDisplayName`, 2 entries are created in the hash:

1. String Literal CFBundleDisplayName
2. Symbol :CFBundleDisplayName

Then when the plist file is written, it attempts to write out both keys and

[2016-08-30 23:33] jacobjiangwei commented on #5929
We are using crittercism upload script to upload dSYM files, apparently it logs a few important stuff.

Is fast lane hijacked the console output?

发自我的 iPhone

[2016-08-31 02:16] jacobjiangwei commented on #5929
@TKBurner

[2016-08-31 02:39] mooshee commented on #5779
It appears `fastlane-1.102.0` fixes the issue for me.

[2016-08-31 03:49] KrauseFx commented on #4301
Yeah, you can already specify the Team ID for both the Dev Portal and for iTunes Connect, check out the docs here https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Appfile.md

[code]

[2016-08-31 04:44] KrauseFx commented on #5907
It's generated in a temporary directory, it's all handled for you.

Did you run into any issue while building, or is it just the plist file you're looking for? If you run `gym --verbose`, you'll see the exact commands, including the path to the plist file

[2016-08-31 04:53] ILI4S commented on #5733
@TKBurner using the iTC  web interface, I'm able to submit my app for external beta testing no problem

[2016-08-31 04:57] cojoj commented on #5779
@TKBurner `xcodebuild -list -workspace ./Jodel.xcworkspace` works on bitrise. Actually running tests directly with their flow works as well (so we had to skip `scan` for now).
It's not that some commands work and some don't. It's rather general problem, cause I've faced same issues locally. It's not deterministic... It's like playing russian roulette 😜

[2016-08-31 07:41] matt-digitaliceltd commented on #5910
Do we know when this is likely to be merged? Or I guess more generally, when Xcode 8 will be officially supported?

Cheers
Matt

[2016-08-31 07:42] PycKamil opened #5963 "[scan] When using fastlane scan list devices twice"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

When I call `bundle exec scan`, fetching devices list is called once.
When I call `bundle exec fastlane test`, fetching  devices list is called twice
##### Complete output when running fastlane,

[2016-08-31 07:48] AlexChesters opened #5964 "Timed out trying to set AX messaging timeout"
### New Issue Checklist
- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

When running `scan` on travis-ci.org my builds fail with a strange error (see below). This doesn't happen when  running locally (using Xcode 8 Beta 6).
##### Complete output when running fastlan

[2016-08-31 07:56] StephanPartzsch commented on #5930
Thanks a lot, this is what I was looking for. I had the Ruby exception handling but I missed how to pass the exception to the rescue block. 😉

[2016-08-31 07:56] #5930 closed

[2016-08-31 07:56] mcany commented on #5259
hey @TKBurner thanks for your help. I am currently using OSX 10.11.6 and Xcode 7.3.1. I believe I also updated my fastlane and match versions

[2016-08-31 08:31] tomaskraina commented on #5066
I'm using `Gemfile` so it picks `fastlane`  version from there.

However, `sudo gem update fastlane` outputs the following:

[code]

[2016-08-31 10:18] coco-zj commented on #5813
hi there,
 i got the same issue like this :

/Library/Ruby/Gems/2.0.0/gems/json-2.0.2/lib/json/common.rb:156:in `parse': 743: unexpected token at 'Bad Request' (Faraday::ParsingError)
	from /Library/Ruby/Gems/2.0.0/gems/json-2.0.2/lib/json/common.rb:156:in `parse'
	from /Library/Ruby/Gems/2.0.0/gems/faraday_middleware-0.10.0/lib/faraday_middleware/response/parse_json.rb:11:in `block in <class:Pars

[2016-08-31 10:25] coco-zj commented on #5813
0.32.0 also not ok with this issue

[2016-08-31 10:30] ejebleed commented on #5907
No, I did not run into any issue here. I just noticed that there are no ExportOptions.plist file. I was expecting it to appear in my source code directory where the gym command was executed. Wanted to take it as a sample, modify it and use it again, But now I know that it can be found somewhere in temporary directory. So no problem here. :)
Maybe, documentation could be more specific on file locat

[2016-08-31 11:14] Mehdzor commented on #5954
It does.

# coding: utf-8
source 'http://rubygems.org'
gem 'cocoapods', '1.0.1'

[2016-08-31 13:34] #4423 closed

[2016-08-31 14:02] mfurtak commented on #5954
Ok. My suspicion is that your Bundler gem environment is separated from your system Ruby gems.

If you want to use Bundler to manage your gems, you'll want to tell it about all of your requirements and then use `bundle exec` to run your commands to ensure that your Bundler configuration is respected. 🙌

What happens if you adjust your Gemfile to be the following:

[code]

then run `bundle install`

[2016-08-31 14:31] mfurtak commented on #5905
Hi @zats - thanks for the report 👍

If there is indeed a problem with `Xcodeproj::Plist.write_to_path`, that would probably be best to raise with [CocoaPods/Xcodeproj](https://github.com/CocoaPods/Xcodeproj/).

That said, so far I have not been able to reproduce your experience...  Can you run

[code]

And paste us the output? Thanks!

[2016-08-31 16:34] RishabhTayal commented on #5665
@TKBurner Still getting the same error. Just one observation when I ran the `brew update && brew upgrade openssl` command, I got the following message in the terminal output.

[code]

[2016-08-31 16:43] digitalprecision commented on #4108
Can confirm that @Danbana offsets worked. Thanks!

[2016-08-31 18:05] #3188 closed

[2016-08-31 18:11] zats commented on #5905
Thank you everyone for response

@frisocki's suggestion does make sense and that is probably the case that I had values for aforementioned keys previously set, saying that, I assumed (probably wrongly) that once read into memory plist will coalesce keys whether they are referenced though a symbol or a string.

@mfurtak that's a good point. Definitely doesn't look like a bug in fastlane
Here is the

[2016-08-31 18:14] mfurtak commented on #5905
Hm... odd. Is that all of the output? I'd expect to see lines for `fastlane`, `ffi`, and plist` as well.

[2016-08-31 18:21] zats commented on #5905
Oh, I'm sorry, I didn't copy all of it, here's the full output:
[code]
doesn't seem like I have `ffi` at all?

[2016-08-31 18:33] GabrielCartier commented on #5066
I have ran some tests and confirm that it works on bitrise and without using the legacy API (for App Store deployment).

Thanks for the help guys, was really helpful!

[2016-08-31 18:35] mfurtak commented on #5905
OK, that may be an interesting hint as to why I can't reproduce.

If I'm reading their code correctly, `Xcodeproj` internally chooses between two possible implementations for writing plist data. One attempts to call `CoreFoundation` and `DevToolsCore` code directly through FFI, and the other uses another gem called `plist`.

If you're still interested in experimenting, I might suggest trying to `g

[2016-08-31 18:50] TKBurner commented on #5631
@pawelus Are you running multiple simulators? What happens if you erase your simulators before you run scan? Thanks!

[2016-08-31 18:51] TKBurner commented on #5918
Hi @swl367 Thanks for following up. Can you continue to monitor this? It seems like it's on the API side, but I want to make sure. Thanks!

[2016-08-31 19:13] TKBurner commented on #5961
@rmato Awesome! So glad to hear you got up and running. Hope you have a great week!

[2016-08-31 19:13] #5961 closed

[2016-08-31 19:14] TKBurner commented on #4793
@lkraider Sounds good!

[2016-08-31 19:17] TKBurner commented on #5962
@frisocki Hope you are doing well! Good catch, would you be interested in submitting a PR to update this? Thanks!

[2016-08-31 19:20] TKBurner commented on #5929
@jacobjiangwei Thanks for following up. Fastlane controls the output. It doesn't look like  you are going to be able to log this information directly from the crittercism script. Do you have access to the actual source for the script you are using? Thanks!

[2016-08-31 19:25] TKBurner commented on #5733
@ILI4S Thanks! I've looped in the core team and we'll work with you on this thread. Hope that you have a wonderful day!

[2016-08-31 19:27] TKBurner commented on #5779
@cojoj Any chance you can check out the new update for fastlane? `sudo gem update fastlane`

Thanks!

[2016-08-31 19:32] TKBurner commented on #5963
@PycKamil Thanks for reaching out. Does this error cause a problem? What happens if you erase your simulators first? Thanks!

[2016-08-31 19:34] TKBurner commented on #5964
Hi @AlexChesters Thanks for reaching out. Are you able to build your test target successfully in Xcode? That'll help figure out what's going on here. Thanks!

[2016-08-31 19:40] TKBurner commented on #5259
Hi @mcany Can you look in your keychain and see if there is an Apple Developer Cert? Thanks!

[2016-08-31 19:42] TKBurner commented on #5813
@coco-zj Can you update using `sudo gem update fastlane` and let me know if you are still seeing this error? Thanks!

[2016-08-31 19:46] TKBurner commented on #5907
@ejebleed Agreed! We'll mark this to update our docs. Thanks!

[2016-08-31 19:46] #5907 closed

[2016-08-31 19:50] TKBurner commented on #5665
Hi @RishabhTayal Thanks for following up. I see you are still using Ruby 2.2.1, can you type `rvm use 2.3.2`?

Thanks!

[2016-08-31 19:55] AlexChesters commented on #5964
Hi @TKBurner,

Yes. I can successfully build and run my UI tests in Xcode.

[2016-08-31 19:56] vlad-ionita opened #5969 "New development certificate is created each time match development is run for a new app"
I have few apps in apple developer account.
Each time I run match development, it creates a new development certificate, thus I run out of available certificates

[code]

The configuration files are the default ones.
I'm using fastlane 1.102.0 on rvm 2.3.0

Am I missing something? Should I add some configuration?

[2016-08-31 19:58] TKBurner commented on #5066
@GabrielCartier Awesome! So glad to hear you got up and running. 👍

@tomaskraina Can you let me know if it works now that fastlane 102 is installed? Thanks!

[2016-08-31 20:24] vlad-ionita commented on #5969
Update: all the apps have their own repository for certificates.
What I understand is that when I run `match`, it checks the certificate in the repo, it doesn't see it there and creates a new one.

Doesn't it check the apple developer account as well before creating a new one?
If not, how could I make it use an old certificate?

[2016-08-31 20:42] zats commented on #5905
Oh yes we fixed the issue by replacing everything with strings. But I don't
mind to experiment to get to the bottom of this. Will try to do it shortly
On Wed, Aug 31, 2016 at 9:36 PM, Michael Furtak <notifications@github.com>
wrote:

[2016-08-31 21:01] vlad-ionita commented on #5969
This article explains something similar: [](http://macoscope.com/blog/simplify-your-life-with-fastlane-match/#migration)

I believe `match` just doesn't handle this for now. Thx

[2016-08-31 21:01] #5969 closed

[2016-08-31 21:34] KrauseFx commented on #5969
match requires to create its own set of profiles and certificates and can't use existing ones 👍

[2016-08-31 22:33] ios-ratio commented on #1347
Can anybody from Fastlane confirm if jbg is correct in their assumption? Can this be clarified?

[2016-08-31 22:53] dombarnes opened #5971 "[Request] Add support for specifying files to process in Frameit"
### New Issue Checklist
- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Feature Description

Frameit currently processes all files found un any sub-folder of the current working dir. It would be useful to support specifying options, such as a filename filter, device size, language, et

[2016-09-01 00:15] jacobjiangwei commented on #5929
Here is the script https://github.com/crittercism/crittercism-example-apps/blob/master/ios/Crittercism/dsym_upload.sh

发自我的 iPhone

[2016-09-01 02:33] coco-zj commented on #5813
@TKBurner   error still

xxxxxxxxxx:bin root# gem list |grep fastlane
fastlane (1.102.0)
fastlane_core (0.50.3)
xxxxxxxxxx:bin root# gem list |grep spaceship
spaceship (0.32.0)

[2016-09-01 05:57] danielsmithratio opened #5974 "Logging in to iTunes Connect from after-integration trigger script"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

I am unable to log in to iTunes Connect via Pilot on an after-integration trigger script. I have set up my user password in credentials manager by following the credentials manager documentation

[2016-09-01 07:22] coco-zj commented on #5813
@TKBurner  problem solved! the 0.32.0 version is fine . i just use it in a wrong way. V_V

[2016-09-01 07:47] samsonpaul87 commented on #5928
@mfurtak .. I am getting the following output as per your suggestion. Please have a look. :)

[code]

[2016-09-01 08:40] Mehdzor commented on #5954
Yes.

It fails when run from Fastfile as well.

[2016-09-01 08:41] Mehdzor commented on #5954
I guess the issue caused by a gem verification.

[2016-09-01 08:52] pawelus commented on #5631
@TKBurner All builds are using the same simulator (iPhone 5s - 9.3) and we kill and restart the simulator before we run fastlane with:
[code]

I have restarted that Bamboo agent yesterday and the problem disappeared. This makes me think that it might be some sort of a timeout issue related to deteriorating agent performance.

[2016-09-01 09:58] Nailer commented on #5778
I have the same question. I would like to disable push capabilities for some test versions signed with a generic wildcard provisioning profile.

[2016-09-01 13:03] carlos-maldonado-em commented on #5888
Hi Todd,

The Snapfile is included in the previous comment, but here's the output I get when I run snapshot from the command line. Please, let me know if I you need more info from me.

thanks,
-Carlos

**output:**
$ snapshot
[07:47:12]: xcodebuild -list -workspace ./SDO.xcworkspace
2016-09-01 07:47:12.515 xcodebuild[45769:81714803] [MT] PluginLoading: Required plug-in compatibility UUID ACA8656B-F

[2016-09-01 13:55] mfurtak commented on #5928
OK, so just to tie a bow on this secondary mystery, there seems to be a difference between the gem sets that are being managed by running `gem` vs. `sudo gem` on your machine!

It's great that you got `screengrab` upgraded. 👍  If you now `gem update fastlane` (no `sudo`) does that get onto the latest version as well?

After that, can you confirm that the error is still present? Thanks for your hel

[2016-09-01 14:16] mfurtak commented on #5954
Hm, I'm at a loss. I don't know how to further investigate what you're seeing, so I'm going to mark this as **help wanted** to ask for help from other folks in the community!

[2016-09-01 14:33] znerol commented on #1631
@dbroudy I merged your changes into my iap branch (attributes, delete method). Are you sure about the [URL of the delete action](https://github.com/dbroudy/fastlane/blob/feature/master/iap/spaceship/lib/spaceship/tunes/tunes_client.rb#L843)? I did not check, but I'd expect that the `app_id` might be needed also in the URL?

[2016-09-01 14:38] dbroudy commented on #1631
@znerol Thanks! Yeah, I'm sure about the URL, I used it to delete a bunch of products from one of our apps.

[2016-09-01 15:29] KrauseFx commented on #5954
@Mehdzor In what directory do you have the Gemfile? Can you share your Gemfile.lock with us?

[2016-09-01 15:35] cwilhelm opened #5976 "wrong number of arguments (given 1, expected 2) in snapshot runner.rb:200"
### Issue Description
##### Complete output when running fastlane, including the stack trace and command used

[code]
### Environment

fastlane 1.102.0

[2016-09-01 15:48] znerol commented on #1631
I've added a `submit` method to the addon class in my iap branch. Be warned, this is completely untested.

[2016-09-01 16:19] mdlci commented on #5767
Please try `download_dsyms(platform: "appletvos")`

[2016-09-01 16:26] samskiter opened #5978 "Docs on resign bundle version are wrong"
### Issue Description

Your docs state that the bundle_version and version arguments to `resign` update `CFBundleIdentifier` - that should say `CFBundleVersion` no?

While I'm here, is there any way to set the version through gym? I'd like by builds to be numbered when they are built despite resigning.

[2016-09-01 16:44] danielsmithratio commented on #5974
after some research, I have found that the issue appears to be permissions within the _xcsbuildd user. It is giving me this error when I call fastlane-credentials add --username:
security: SecKeychainAddInternetPassword <NULL>: User interaction is not allowed.

Any idea what would be causing this issue and how I can allow user interaction within _xcsbuildd user?

[2016-09-01 18:34] zats commented on #5905
Interesting enough, even with `ffi` installed, it doesn't quite work for me
Here is the latest output of the `$ gem which fastlane ffi plist xcodeproj `

[code]

I set up a test project here https://github.com/zats/plist-bug
Sadly, when I was creating a test Xcode project, creativity left me and I called it `fastlane`, so don't be surprised to find both Xcode project files and the `Fastfile` in th

[2016-09-01 18:49] danielsmithratio commented on #5974
Ok, figured this out. The culprit is that fastlane-credentials cannot add a user from the terminal. It needs to be added in the after-integration trigger script and it seems like it may need to be removed afterwards. In addition to this, my password did not work with a special character...so, yeah. Don't have special characters, add the username to fastlane-credentials in the after-integration scr

[2016-09-01 19:47] mfurtak commented on #5905
Thanks for the example project, that's 💯 ! I will probably get to have a look tomorrow.

[2016-09-01 21:05] KrauseFx commented on #5952
Thanks for the reports, looking into this right now 👍

[2016-09-01 21:11] KrauseFx commented on #5952
Just pushed https://github.com/fastlane/fastlane/pull/5980, which should fix the issue 👍

[2016-09-01 21:24] #5952 closed

[2016-09-01 21:28] jlubeck commented on #2007
how can the MATCH_FORCE_ENTERPRISE="1" be used inside a lane?
Thanks!

[2016-09-01 21:53] KrauseFx commented on #2007
@jlubeck
[code]

[2016-09-02 02:18] tsheaff commented on #4347
I solved this issue for myself by wrapping `groups:` in an array after updating fastlane.

Previously was `groups: "Everyone",` but became `groups: ["Everyone"],`

[2016-09-02 02:22] devluyy commented on #742
@TKBurner I have a same question with @fishercraigj.
 My ruby version is ruby 2.0.0p645 (2015-04-13 revision 50299) [universal.x86_64-darwin15]

[2016-09-02 03:31] zapjonny opened #5983 "Can't update gym. "gym 1.8.0 is available. You are on 1.7.0.""
### New Issue Checklist

- [ ] Updated fastlane to the latest version
(not using fastlane)
- [v] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
I get the message "gym 1.8.0 is available. You are on 1.7.0." in build logs.
Indeed on command line, "gym -v" says 1.7.0.
However "sudo gem update gym
Updating installed ge

[2016-09-02 03:43] fishercraigj commented on #742
@TKBurner - yes, i can run it just fine from the xcsbuildd user. Sorry for the slow reply.

[2016-09-02 03:44] fishercraigj commented on #742
And I'm on 2.0.3

[2016-09-02 05:04] KrauseFx commented on #5983
Can you try doing so without sudo?

[2016-09-02 05:40] cocotutch opened #5984 "Invalid Argument --scheme"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

NOTE! We are using CIRCLE CI. We supply a `--scheme` option which contains the relevant Xcode scheme wh

[2016-09-02 06:22] xareelee commented on #4243
After updating fastlane, I think this problem has been solved.

[2016-09-02 07:12] #5984 closed

[2016-09-02 07:42] zapjonny commented on #5983
Same. It seems happy at 1.7.0. Well, I don't really have a problem with gym at current version.

[2016-09-02 07:43] zapjonny commented on #5983
No real problem... so I'll just close this for now...

[2016-09-02 07:43] #5983 closed

[2016-09-02 08:12] tbatzakas opened #5986 "gym fails when there is an apostrophe or single quote on scheme name"
gym fails when trying yo build with a scheme name which has an apostrophe or single quote

command used gym
[code]

[2016-09-02 08:20] zake1989 opened #5987 "gym xcargs set multiple user defined values"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

basically, I need to set two user defined values and with some search I find xcargs to set one. However I still couldn't find a way to set multiple values with xcargs

here is one of my gym setting in fastfile
Fastf

[2016-09-02 08:24] ramirantala commented on #5542
It seems we have same/similar issue. Everything looks ok, but the app is not submitted for review. When we do it from itc, only thing that is asked is itc.

[2016-09-02 08:29] kwasny2 opened #5988 "Screengrab timestamp in screenshot name"
### Issue Description

I need possibility to skip time stamp in screenshot name.
Could you implement some parameter to optionally skip it (maybe as part of strategy definition).

Currently I am overriding FileWritingScreenshotCallback to achieve expected behaviour:

[code]

to

[code]
### Environment

screengrab version 0.5.0

[2016-09-02 08:36] devluyy commented on #742
@fishercraigj you can add this code in your script file
export PATH="$PATH:/usr/local/bin:/usr/local/bin:/usr/local/sbin$:"

[2016-09-02 08:37] davideme commented on #4621
Any new solution about this ? I have the same problem, and I can't nuke all ours distribution profile, because only one project is using match. And I only want to nuke this distribution profile.

[2016-09-02 08:37] kwasny2 commented on #5988
We have some static htmls with embedded constant screenshot filenames. It will be very useful if screengrab has possibility to skip timestamp generation, so we can reuse the same htmls every time when new screenshot are generated.

[2016-09-02 08:39] philipshurpik commented on #4621
@davideme You can manually delete profiles (dev and appstore) from your certs repo and then recreate it with
`match development -a com.company.appname`

[2016-09-02 08:48] davideme commented on #4621
I ran in the same issue
[code]

This is a blocker for my usage of fastlane, I can't use it anymore, and `nuke distribution` is not an option.

[2016-09-02 08:56] devluyy opened #5989 "gym: xcodebuild -list timed-out after 10 seconds"
I use this command
 gym --workspace ${workspace_path} --scheme ${scheme} --clean --configuration ${configuration} --archive_path ${archive_path} --export_method ${export_method} --output_directory ${output_path} --output_name ${ipa_name}

then ,i get a isssue
xcodebuild -list timed-out after 10 seconds. You might need to recreate the user schemes. You can override the timeout value with the enviro

[2016-09-02 10:09] Mehdzor commented on #5954
I would provide the lock file later next week.

My personal guess about the issue that problem is about Actions.verify_gem method.
I'm not sure that a Gem::Specification.find_by_name method looks into bundle installed gems.

So when gem is not presented in any way in the system the method fails.

[2016-09-02 11:32] serluca commented on #5028
Hi @mfurtak

I'm having the same issue with all the symbols hidden when using `use_legacy_build_api` to true.
Setting `use_legacy_build_api` to false instead works but most of the time gym fails and suggests to set that flag to true.
Any suggestion on how to fix it?

[2016-09-02 12:09] mcany commented on #5259
hi agian @TKBurner can you make it more clear, there is a developer cert in my keychain but why does it need a developer cert when it signs with release appstore cert? or do you mean a different cert that i didnt understand, maybe from WWDR?

[2016-09-02 12:16] appsandwich commented on #5163
With GM date fast approaching, is there a timeline for when Xcode 8 will be supported?

[2016-09-02 12:35] fer662 opened #5990 "pilot distribute ignoring distribute_external flag"
### Issue Description

If you have an already processed build and you wanted to distribute it internally, you would:
`pilot distribute -a <bundle_id> --distribute_external false`

However, this doesn't work

All these errors are showing up because it's the info needed for an external distribution. Now if you check commands_generator.rb for the distribute command definition around line 70:

You'll

[2016-09-02 12:41] timothy-volvo commented on #5901
As is turns out there might not be an issue here.

When Xcode creates a Scheme for a Unit Test is only has the Test action enable. When only the Test action is enable, xcodebuild -showBuildSettings doesn't show any settings for the build action only the test action as I originally reported.  However, xcodebuild also fails to run the test since no Run action has been defined. Once the Run action is

[2016-09-02 14:11] TKBurner commented on #5978
Hi @samskiter Thanks for reaching out. That is correct? Any chance you want to update the docs in a PR? You might be able to do this in gym using the --xcargs or --xcconfig parameters. Thanks!

[2016-09-02 14:14] samskiter commented on #5978
OK could I submit a feature request to have gym set the version strings?

[2016-09-02 14:18] revolter commented on #5285
@TKBurner, Is there any option to upload only a subset of them? If it fails at `en` for example, I have to upload all the screenshots again, instead of uploading them starting from `en`

[2016-09-02 14:19] samskiter commented on #5978
Done :)

[2016-09-02 14:24] revolter commented on #5285
Also, it stopped the second time with the same error :(

[2016-09-02 14:29] TKBurner commented on #5978
Hi @samskiter Awesome! Thanks 👍 Yes please submit a separate issue with your feature request so I can mark it and we can track it appropriately!

[2016-09-02 14:31] TKBurner commented on #5971
Hi @dombarnes Great idea! I've marked this as a feature request and added the help wanted flag to see if anyone is interested in submitting a PR. Thanks!

[2016-09-02 14:32] mfurtak commented on #5905
Using your project I was able to reproduce the problem. Thank you! 👍

Using a symbol as the key will work, but only if that key is **not present** in the Plist at the time it is read. So, effectively, it will only work the first time 😫  All the reasons are exactly as @frisocki said above.

Because this problem has a simple work-around, I think I'm going to leave this here.

If we wanted to provide

[2016-09-02 14:32] #5905 closed

[2016-09-02 14:45] TKBurner commented on #5929
Thanks @jacobjiangwei! How are you calling this from your lane? Are you using `sh`

[2016-09-02 14:46] TKBurner commented on #5813
@coco-zj Awesome! So glad to hear you got up and running. Hope you have a great weekend coming up 👍 💯

[2016-09-02 14:52] TKBurner commented on #5631
@pawelus Thanks for following up. Very interesting. I'm going to leave this open to see if you run into it again. Thanks!

[2016-09-02 15:19] n4me1ess commented on #5953
Tnx, @TKBurner . Maybe it will help smb, I decide my problem by ` fastlane scan1`, my Fastfile:
[code]

[2016-09-02 15:21] mfurtak commented on #5028
Hi @serluca - I'm sorry, I don't immediately see the connection to this issue. Would it make sense to open a new issue with full details for your problem?

[2016-09-02 15:24] jlubeck commented on #1861
I was about to post this and after I had everything written I found the solution. But I'm posting it anyway in case someone else runs into the issue.

**So first goes the problem**

I'm running into this issue. Using gym 1.8.0 with fastlane 1.102.0
This is my lane:

gym(scheme: "Name", use_legacy_build_api: true, configuration: "QA", export_method: "enterprise", output_directory: "build", output_n

[2016-09-02 15:34] TKBurner commented on #5778
Hi @Nailer, is your goal to do this when using gym? You should check out the xcargs parameter.

Thanks!

[2016-09-02 15:44] revolter commented on #5285
It seems to stop at each localization between retries, as someone pointed it out here.

[2016-09-02 15:55] TKBurner commented on #5888
HI @carlos-maldonado-em Thanks for following up. Can you update using `sudo gem update fastlane`

I see this error:

: Scheme SDO_UITest is not currently configured for the test action.
2016-09-01 07:47:46.143 xcodebuild[46537:81717794] [MT] PluginLoading: Required plug-in compatibility UUID ACA8656B-FEA8-4B6D-8E4A-93F4C95C362C for plug-in at path '~/Library/Application Support/Developer/Shared/Xc

[2016-09-02 16:11] revolter commented on #5285
Can I help you with debugging it? It would imensely help me if it worked ok, and I'm sure others need this to work too.

[2016-09-02 16:20] fulldecent commented on #5285
@revolter yes! When stuff like this happens I just stop releasing. No sense doing things the manual way or banging my head against the wall.

[2016-09-02 16:30] ConfusedVorlon commented on #5285
likewise - I have an app release that has been waiting for a couple of weeks now...

[2016-09-02 16:33] TKBurner commented on #5976
Hi @cwilhelm Thanks for the PR. Can you add testing to it so we can merge faster? We'll work with you there 👍 Thanks!

[2016-09-02 16:34] TKBurner commented on #1631
@znerol Cool! Hopefully another on this thread gets a chance to check it out 👍

[2016-09-02 16:36] TKBurner commented on #5767
@hannseman Did you get a chance to try out that workaround? Thanks!

[2016-09-02 16:37] TKBurner commented on #5974
@danielsmithratio Awesome! So glad you got this sorted. We are aware of the charecters issue and are tracking it on another thread. Can you let me know a little bit more about this after-intergration trigger?

[2016-09-02 16:39] TKBurner commented on #4347
@phantomis @mogui Did you have a chance to check out @tsheaff's comment. I think it could be helpful 👍

[2016-09-02 16:39] TKBurner commented on #4243
@xareelee Awesome! Thanks so much for letting us know. Closing this out.

[2016-09-02 16:39] #4243 closed

[2016-09-02 16:40] Nailer commented on #5778
Yes! Thank you, I'll check that out!

[2016-09-02 16:41] TKBurner commented on #5983
@zapjonny Can you run ruby -v and send the output? Also, does gym update if you run sudo gem update fastlane?

[2016-09-02 16:46] TKBurner commented on #5986
@tbatzakas Thanks for reaching out about this. Why is there an escape before the space as well? Can you share your full input and output? Thanks!

[2016-09-02 16:52] KrauseFx commented on #5976
Perfect, thanks @cwilhelm. I saw that the parameter was missing, however I couldn't cause a crash locally. In what use-cases did this cause an issue? Should we do a release for this change?

[2016-09-02 17:36] samskiter opened #5995 "Allow version to be set through gym"
### Issue Description

Right now I'm using `resign` purely to give my app a different version.

It would be great to be able to do that from Gym instead.

Our requirement for this is because we want to pull in the build numbers from our CI as part of the version and we would like to tie it to the actual build, not resigning.

[2016-09-02 17:36] samskiter commented on #5978
Done https://github.com/fastlane/fastlane/issues/5995

[2016-09-02 17:36] #5978 closed

[2016-09-02 17:41] tbatzakas commented on #5986
Hello, thanks for responding,

it seems that it tries to escape the quote in the -workspace directive but not in -archivePath where there is no escape before ' and I suppose this is where it breaks.

this lane is quite simple it just has this and then I manually select the scheme from the list.

lane :single_update_submit do
  gym(
    workspace: "SocialTasteOrder.xcworkspace",
    clean: true
  )

[2016-09-02 17:43] hannseman commented on #5767
Yes! It worked just fine when specifying the platform as `appletvos`. Thank you!

[2016-09-02 19:17] TKBurner commented on #5767
@hannseman Awesome! Really glad to hear that worked. Hope you have a wonderful day! 👍

[2016-09-02 19:17] #5767 closed

[2016-09-02 19:21] TKBurner commented on #5995
@samskiter Thanks for submitting this. Sounds like a cool idea. I'm going to mark this to get community feedback! Thanks!

[2016-09-02 19:23] TKBurner commented on #1861
@jlubeck Thanks so much for sharing! That makes a ton of sense. Really glad to hear you got up and running. Hope you have a great weekend coming up 👍 💯 💯

[2016-09-02 19:24] tbatzakas commented on #5986
Oh sorry, I just noticed about "before space". File name spaces must be escaped in command line or else they break if they are not contained in quotes.

[2016-09-02 19:29] #5953 closed

[2016-09-02 19:30] TKBurner commented on #5901
@timothy-volvo Thanks for the update. I'm going to close this for now but feel free to ping it and I'll reopen once we have more info. Thanks and have a great weekend! 👍

[2016-09-02 19:30] #5901 closed

[2016-09-02 19:31] TKBurner commented on #5990
@fer662 Do you have at least one external tester setup for this app? That is a requirement on Apple's side. Thanks!

[2016-09-02 19:32] TKBurner commented on #5163
@appsandwich Are you still running into issues with gym on Xcode 8? Thanks for letting me know.

[2016-09-02 19:36] IngmarStein commented on #5163
@TKBurner the bug hasn't been fixed with gym 1.8.0. Projects with Core Data models still hang at `xcodebuild -showBuildSettings`.

[2016-09-02 19:40] TKBurner commented on #5989
HI @devluyy Thanks for reaching out. You can including the ENV command before your gym command in the same line and it'll work. Let me know how it goes!

[2016-09-02 19:41] TKBurner commented on #4621
@davideme What happens if you delete the profile on ADP? It seems like if you delete it in the repo and there you'll be able to get up and running.

[2016-09-02 19:43] TKBurner commented on #742
@fishercraigj You can either use rvm to manage your ruby version or use homebrew to install xcpretty. Let me know how it goes!

[2016-09-02 19:44] TKBurner commented on #5986
@tbatzakas Can you provide your full input and output from your gym command? If you have repro steps from a blank Xcode project that'd help a lot.

[2016-09-02 19:44] frisocki commented on #5987
What does the final xcodebuild command look like that gym outputs in the log?

What build setting is being set and which one is not when you try to specify two?

What is the output from

[code]

[2016-09-02 20:08] TKBurner commented on #5988
@kwasny2 Great idea! I'm going to mark this as a feature request and see if the community is interested in implementing it. Thanks!

[2016-09-02 20:09] TKBurner commented on #5542
@ramirantala Can you add the --verbose flag and share your full input and output. I'd like to look into this. Thanks!

[2016-09-02 20:15] TKBurner commented on #5259
@mcany Can you check out the explanation in #264 it seems like that is relevant here. Thanks!

[2016-09-02 20:19] TKBurner commented on #5285
@revolter @fulldecent Thanks for following up on this. I just bumped it with the core team.

[2016-09-02 20:21] TKBurner commented on #5163
@IngmarStein Just followed up with the core team. We'll look into this. Thanks and hope you have a wonderful weekend!

[2016-09-02 20:36] appsandwich commented on #5163
@TKBurner Thanks, it's the same problem as the root issue - fastlane hangs at xcrun xcodebuild -list

[2016-09-02 21:08] tbatzakas commented on #5986
$ gym SocialTasteOrder.xcworkspace

(after selecting a scheme with ' in the name)

+----------------------+--------------------------------+
|                 Summary for gym 1.8.0                 |
+----------------------+--------------------------------+
| output_directory     | ~/Documents/SocialTasteIPA/    |
| workspace            | ./SocialTasteOrder.xcworkspace |
| scheme               | Ka

[2016-09-02 21:12] jlubeck commented on #2007
Awesome! thanks!

[2016-09-02 22:31] ctaclas commented on #5163
I also have this issue. I find that if I kill the fastlane process with ctrl-c and retry it I can sometimes get it to run to completion. It's an ok workaround for manually building things, but my CI pipeline is pretty much dead until this issue gets resolved.

[2016-09-02 23:00] jacobjiangwei commented on #5929
Yes, sh

发自我的 iPhone

[2016-09-03 14:30] brianmichel opened #5998 "Xcode 8 Unable To Archive With Unknown File Path"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

When running Gym in Fastlane 1.102.0 The archive is unable to be created due to a file path incorrectly attempting to be opened.

##### Complete output when running fastlane, including the sta

[2016-09-03 14:36] brianmichel commented on #5998
It should also be mentioned that our project is using Swift 2.3 which is not the default toolchain for Xcode 8

[2016-09-03 14:39] brianmichel commented on #5998
Ahh maybe I have to manually pass the toolchain ID into Gym. I'll give that a go!

[2016-09-03 14:57] #5318 closed

[2016-09-03 15:00] brianmichel commented on #5998
Passing in the toolchain to Gym does not fix the issue.

[2016-09-03 15:20] brianmichel commented on #5998
It seems like the problem is likely here, https://github.com/fastlane/fastlane/blob/master/gym/lib/gym/xcodebuild_fixes/swift_fix.rb#L30 assuming that the default toolchain is symlinked or something like that to the selected toolchain folder, which doesn't seem to be the case with Xcode 8.

[2016-09-03 15:24] nafu commented on #5998
@brianmichel

Could you show me your complete output when running fastlane, including the stack trace and command used?

[2016-09-03 15:24] brianmichel commented on #5998
@nafu the output is incredibly long and contains many source file names that I can't necessarily redact, but the command used to start the build is `bundle exec fastlane beta`

[2016-09-03 15:26] nafu commented on #5998
@brianmichel

Thanks.

How about the one you tried at https://github.com/fastlane/fastlane/issues/5998#issuecomment-244551203 ?

[2016-09-03 15:29] brianmichel commented on #5998
@nafu I'm attempting to make a sample project to more easily isolate the problem and share with the core engineers.

[2016-09-03 15:35] nafu commented on #5998
@brianmichel

OK, cool :octocat:

I'd like to tell the important point when you use the toolchain option.
In order to use toolchain option, need to set `use_legacy_build_api: false`.

I checked the Fastfile, and it set `use_legacy_build_api: true`.

[code]

[2016-09-03 15:40] brianmichel commented on #5998
@nafu here's a sample project, https://github.com/brianmichel/FastlaneWebKitFailure

[2016-09-03 15:41] brianmichel commented on #5998
I understand this, but isn't using the regular build api still unstable? And does this set of options exclusivity change with Xcode 8 since there are two toolchains built in?

[2016-09-03 15:53] brianmichel commented on #5998
I'm going to try to export w/o the `use_legacy_build_api` option set and see if that works now, as recommended by @nafu

[2016-09-03 16:10] brianmichel commented on #5998
@nafu good news, removing the legacy api flag seemed to have worked! Thanks for talking this out with me, have a nice day.

[2016-09-03 16:12] nafu commented on #5998
@brianmichel

Here is the sample that works with Xcode 8 (Swift 2.3).
Check this out!

https://github.com/nafu/FastlaneWebKitFailure/tree/xcode-8-with-swift2.3

[2016-09-03 16:13] nafu commented on #5998
@brianmichel

https://github.com/fastlane/fastlane/issues/5998#issuecomment-244555091

Nice :tada: Have a great day!

[2016-09-03 16:23] #5998 closed

[2016-09-03 18:26] lakamsani opened #5999 "crashlytics upload fails on occassion"
### New Issue Checklist
- [X ] Updated fastlane to the latest version
- [ X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

Crashlytics upload fails on occassion. Need a retry flag.
##### Complete output when running fastlane, including the stack trace and command used

[code]
### Configuration Files

Please copy t

[2016-09-03 19:36] IngmarStein commented on #5163
PR #5626 provides a workaround.

[2016-09-03 22:42] cdunkel commented on #609
@fanyuRN I'm running into this problem, too.  Can you share what you did to solve it?  Thanks!

[2016-09-04 18:57] summera commented on #5662
@KrauseFx Checking back in on this. One solution would be to change `File.expand_path(File.join("~", ".spaceship", self.user, "cookie"))` to `File.expand_path(File.join("/tmp", ".spaceship", self.user, "cookie"))`. Thoughts on this?

This would put the cookie in the same dir as the `itc_service_key` and allow for compatibility in an environment where `~/` is not an option (like AWS Elasticbeanstal

[2016-09-05 02:14] zake1989 commented on #5987
Problem solved. I just got the syntax wrong, it should be
 "USE_API_SETTING='1' USE_CHANNEL_SETTING='1'" .

[2016-09-05 02:14] #5987 closed

[2016-09-05 02:30] fanyuRN commented on #609
![455a12b1-0ca4-46a4-a418-b9304fc4bcf2](https://cloud.githubusercontent.com/assets/20810414/18235951/a21f3082-7353-11e6-925d-861fcf671411.png)
you should  modify your workspace,

[2016-09-05 05:31] samsonpaul87 commented on #5928
Hi @mfurtak , Can you please check my current output, on running screengrab. Thanks :)

[code]

[2016-09-05 05:48] devluyy commented on #5989
It's work. Sorry for the slow replay!

[2016-09-05 05:48] #5989 closed

[2016-09-05 08:46] PycKamil commented on #5963
@TKBurner I did erase simulators but it didn't change anything.
It doesn't cause any problems but make each build couple seconds longer and logs look like something is messed up so it would be nice to solve it.
I can confirm that this also occurs in other project so you should be able to reproduce it easily.

[2016-09-05 09:14] lfarah commented on #4301
@KrauseFx I used the identifiers above but when getting the ```latest_testflight_build_number```, it won't recognize the ```itc_team_id```:
[code]

## My Appfile
[code]

## My fastfile
[code]

[2016-09-05 09:27] cybertk opened #6002 "gym: error: unable to rename temporary 'xx-yy' to output file 'xx': 'No such file or directory'"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

When running fastlane gym on a VirtualBox VM, it often failed with **error: unable to rename temporary 'xx-yy' to output file 'xx': 'No such file or directory'**

This issue is same as https://g

[2016-09-05 09:29] Nailer commented on #5778
Hm, I couldn't figure out which arguments to pass with xcargs to do this. Any tips?

[2016-09-05 09:42] PlayDevelop commented on #5779
@TKBurner updated to 1.102.0 and solved this problem for me.  Running xcode 7.3.1

[2016-09-05 12:26] cwilhelm commented on #5976
My call of snapshot is
[code]
which fastlane outputs as
[code]
and the before mentioned backtrace. Do you need more information?

[2016-09-05 12:32] pawelus commented on #5631
@TKBurner it didn't take long for the problem to reappear.

I've erased and recreated all simulators before build using:
[code]
but it didn't help. Build still hangs exactly as before.

[2016-09-05 14:23] pawelus commented on #5631
@TKBurner I have noticed that our second project doesn't hang on that agent so I compared their scanfiles.

Scanfile for the failing project:

[code]

Scanfile for the project that doesn't fail:
[code]

Main difference is that the failing project is using 'Localhost' configuration (which is based on 'Debug') while the non-failing one is using 'Debug'.

Second difference is that the failing one is

[2016-09-05 16:42] arunks opened #6003 "GYM fails to package - Toolchain mismatch?"
### New Issue Checklist
- [x] Updated fastlane to the latest version - 1.8.0
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

When running gym with xcode8, and toolchain set to
 --toolchain com.apple.dt.toolchain.Swift_2_3

The app is built fine and it gets to signing and packaging. Here when its trying to incl

[2016-09-05 17:48] #5430 closed

[2016-09-05 17:48] nafu commented on #6003
@arunks

If you could paste gym action, it's very useful for us to help the problem you're facing.

Here is some tips that might help you.
Let me know whether these works for you! Thanks.

## Toolchain option usage

In order to use toolchain option, need to set `use_legacy_build_api: false`.

e.x.

[code]

## Sample woking project

Here is the sample that works with Xcode 8 (Swift 2.3).
Check this

[2016-09-05 20:00] revolter opened #6005 "Custom script in lane not found"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

I can't run a custom script in a lane. The [README](https://github.com/fastlane/fastlane/blob/master/README.md) only has `sh "./customScript.sh"` but it doesn't have more details. Adding a scrip

[2016-09-05 20:02] revolter opened #6006 "Can't run update_fastlane"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Reading through the `fastlane`'s default file, I stumbled upon:

[code]

Trying to run it in terminal exits with not found error. How to run that command?

[2016-09-05 20:08] spilbuildserver commented on #6006
`fastlane run update_fastlane`

[2016-09-05 20:10] iCarambaa commented on #6006
`fastlane run update_fastlane`

[2016-09-05 20:17] revolter opened #6007 "Snapshot man page not clear"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Upon running `snapshot -h`, I stumbled upon `-c, --clean [VALUE]  Should the project be cleaned before building it? (SNAPSHOT_CLEAN)`, but couldn't find in that man page or here on github how

[2016-09-05 20:53] revolter commented on #5364
There is no `~/Library/CoreSimulator` folder on my machine. Did you create that manually?

[2016-09-05 20:56] revolter commented on #6006
Firstly, that command is not documented [here][1], and I strongly believe it should.

Secondly, after running that command, I get this:

[code]

And after running `update_rubygems` I get this:

[code]

I don't think it's safe to run it with `sudo`. And if it was, it, again, should have been mentioned in the first output.

  [1]: https://github.com/fastlane/fastlane/blob/3ec18cafc982e66b14daa8149e3

[2016-09-05 21:28] revolter opened #6008 "Snapshot add_photos destination location"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

The snapshot [README][1] says that you can use the `add_photos` option to add photos to the simulator before running snapshot, but it doesn't tell how to use them, where are they added, how to

[2016-09-05 23:40] bolom opened #6009 "[question] supply is spaceship for android?"
Hi Guys

We are using on our app spaceship to upload and edit the locales , screenshoots. Now we would like to to same with Android

Can we use supply to the same thing. Supply is equivalent of SpaceShip but for android ?

Thanks a lot

[2016-09-05 23:58] KrauseFx commented on #6009
It's not, supply is like deliver for Android. There is an official API client for Google Play for all major languages, you don't need to use fastlane if you want more control 👍

[2016-09-05 23:58] #6009 closed

[2016-09-06 01:27] bolom commented on #6009
@KrauseFx thanks a lot !

[2016-09-06 07:28] cybertk commented on #6002
It's not 100% reproduce, and the error is occurred while compiling source code. So I think it's not problem of code signing.

[2016-09-06 07:37] iCarambaa commented on #6006
For the first part I think you're right that it should be at least mentioned.

The second part simply says that you need a different ruby version. You can use rbenv or whatever to do that.

[2016-09-06 08:17] iCarambaa opened #6010 "Deliver fails if status is "Waiting For Review""
### New Issue Checklist
- [x ] Updated fastlane to the latest version
- [ x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

When delivering an app that is already "Waiting For Review" deliver fails with "Problem processing review submission".

Despite the error message everything is working fine, the old build gets

[2016-09-06 09:03] revolter commented on #6006
I don't have any knowledge of ruby, so as a first time user of `fastlane`, I find it a bit harder to integrate than it could be. I don't say `fastlane` should teach the user about rbenv, but a link to a tutorial would help.

[2016-09-06 09:24] iCarambaa opened #6011 "[pilot] Add support for metadata"
### New Issue Checklist
- [x ] Updated fastlane to the latest version
- [x ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

If you want to distribute a testflight build to external testers you need to provide some metadata like feedback mail or urls. For App Store builds there is the possibility to add metadata dir

[2016-09-06 10:27] phlippieb opened #6012 "[Question] How to persist (string) result of a lane between different runs of fastlane?"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Context: I am trying to improve my Fastfile by taking a lane with several actions and breaking it up into smaller, retry-able lanes. Here is the current lane (the important bits, anyway):

[cod

[2016-09-06 10:52] iCarambaa opened #6013 "[deliver][featurerequest] Use default fallback for screenshots"
### New Issue Checklist
- [x ] Updated fastlane to the latest version
- [x ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

For metadata there's a special language code "default" for resources that are not localized. I think the same does not exist for screenshots. If I create a folder "default" I get `iTunes Conne

[2016-09-06 11:06] josete89 opened #6014 "Unable to run cert and sigh"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Unable to run cert and sigh
##### Complete output when running fastlane, including the stack trace and command used

[code]

### Configuration Files

Please copy the complete content of your `F