[2016-04-06 18:39] imanf commented on #1526
How does one find the iTunes Connect Team ID? I haven't been able to find it displayed anywhere in iTunes Connect.

[2016-04-06 18:57] tpalmer commented on #4087
I'm currently on 0.24.1 of spaceship, so unfortunately there is nothing to update to.

[2016-04-06 19:00] vpolouchkine commented on #4087
OK, would you mind putting back the original issue description for visibility?

[2016-04-06 19:00] jcampbell05 commented on #4047
@TKBurner  That PR above should be ready, so would love for you to take a look at it :)

[2016-04-06 19:08] tpalmer commented on #4087
Sure, I don't know what happened to it - but I've recreated it with a new Sentry ID

[2016-04-06 19:16] gbejarano01 opened #4088 "update_app_identifier is saving the Project.xcodeproj/project.pbxproj in XML format"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

After upgrading to Xcode 7.3, when running fastlane and trying to get the new build number by executing `increment_build_number` action we started getting the error below.

After some research

[2016-04-06 19:37] vpolouchkine commented on #4088
Thanks for the report, we'll look into this.

[2016-04-06 19:38] gbejarano01 commented on #4088
Thanks @vpolouchkine, looking forward to it, as this is blocking our CI process.

[2016-04-06 19:38] mfurtak commented on #2080
Hi @simplysoft - I've been taking a closer look at this lately, and I have a question for you:

Using your work-around, have you ever run into a scenario where you're taking a screenshot early in the lifecycle of a test and you capture something that isn't the app screen? For example, capturing a shot of your home screen, or an incompletely displayed activity?

If so, how have you worked around it

[2016-04-06 19:48] jcampbell05 opened #4089 "https://github.com/fastlane/countdown"
The link to this reoo is broken from the original countdown repo.

https://github.com/fastlane/countdown

[2016-04-06 19:50] #1620 closed

[2016-04-06 19:57] jcampbell05 commented on #4089
Also moved I think is a bit of a lie, its technically be deprecated :)

[2016-04-06 19:58] vpolouchkine commented on #1621
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-06 19:58] #1621 closed

[2016-04-06 20:01] trevor-e commented on #2080
For what it's worth, my screenshot code looks like:

[code]

I haven't noticed either of the issues you described.  I generated ~80 screenshots in my last run and they are all fine.

[2016-04-06 20:04] simplysoft commented on #2080
We don't have noticed such problems, but we only take the first screenshot after some clicks.

[2016-04-06 20:05] vpolouchkine commented on #1623
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-06 20:05] #1623 closed

[2016-04-06 20:55] mfurtak commented on #2080
@trevor-e Cool, that syntax does wind up a little nicer, and it effectively makes the same `UiAutomation.takeScreenshot()` call internally.

Out of curiosity, are either of you using the locale switching capabilities of `screengrab`?

[2016-04-06 20:59] asfalcone commented on #883
Working on fastlane auto completion for lane names! :rocket: Will put up a PR soon!

![image](https://cloud.githubusercontent.com/assets/1848683/14332733/e4ce98bc-fc18-11e5-9b22-85613e9854bf.png)

[2016-04-06 21:02] vpolouchkine commented on #401
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-06 21:02] #401 closed

[2016-04-06 21:03] vpolouchkine commented on #977
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-06 21:03] #977 closed

[2016-04-06 21:06] vpolouchkine commented on #985
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it.

[2016-04-06 21:07] simplysoft commented on #2080
Yes, we are automatically creating screenshots for about 40 locales

[2016-04-06 21:07] vpolouchkine commented on #841
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-06 21:07] #841 closed

[2016-04-06 21:08] vpolouchkine commented on #616
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-06 21:08] #616 closed

[2016-04-06 21:08] vpolouchkine commented on #913
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-06 21:09] vpolouchkine commented on #1012
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-06 21:09] #1012 closed

[2016-04-06 21:09] vpolouchkine commented on #1014
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-06 21:09] #1014 closed

[2016-04-06 21:10] vpolouchkine commented on #1020
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-06 21:10] #1020 closed

[2016-04-06 21:11] vpolouchkine commented on #1023
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-06 21:11] #1023 closed

[2016-04-06 21:12] vpolouchkine commented on #1050
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-06 21:12] #1050 closed

[2016-04-06 21:13] vpolouchkine commented on #1033
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-06 21:13] #1033 closed

[2016-04-06 21:14] vpolouchkine commented on #1055
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-06 21:14] #1055 closed

[2016-04-06 21:14] vpolouchkine commented on #49
There is now a 3rd-party plugin for this: https://github.com/RishabhTayal/Fastlane-Plugin

[2016-04-06 21:14] #49 closed

[2016-04-06 21:15] vpolouchkine commented on #1021
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-06 21:15] #1021 closed

[2016-04-06 21:15] KrauseFx commented on #4049
I just worked on https://github.com/fastlane/fastlane/pull/4091, would you mind giving it a try?

[2016-04-06 21:16] mfurtak commented on #2080
@simplysoft Wow, excellent! I'm glad it's working well for you :+1:

[2016-04-06 21:16] vpolouchkine commented on #1062
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-06 21:16] #1062 closed

[2016-04-06 21:17] vpolouchkine commented on #1069
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-06 21:17] #1069 closed

[2016-04-06 21:18] trevor-e commented on #2080
Yes, I'm also using `LocaleTestRule` and it works great, clever use of test rule + instrumentation args. :)

[2016-04-06 21:18] vpolouchkine commented on #1076
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-06 21:18] #1076 closed

[2016-04-06 21:18] vpolouchkine commented on #1071
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-06 21:18] #1071 closed

[2016-04-06 21:19] vpolouchkine commented on #551
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-06 21:19] #551 closed

[2016-04-06 21:19] vpolouchkine commented on #1083
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-06 21:19] #1083 closed

[2016-04-06 21:20] vpolouchkine commented on #982
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-06 21:20] #982 closed

[2016-04-06 21:20] vpolouchkine commented on #995
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it.

[2016-04-06 21:20] #995 closed

[2016-04-06 21:21] vpolouchkine commented on #804
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-06 21:21] #804 closed

[2016-04-06 21:21] vpolouchkine commented on #1121
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-06 21:21] #1121 closed

[2016-04-06 21:22] vpolouchkine commented on #397
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-06 21:22] #397 closed

[2016-04-06 21:22] mfurtak commented on #2080
@trevor-e Great - thanks! :smile: I guess I need to figure out why I'm getting inconsistent results.

More questions, if you don't mind... are you using emulators or real devices?

[2016-04-06 21:24] vpolouchkine commented on #1005
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-06 21:24] #1005 closed

[2016-04-06 21:24] vpolouchkine commented on #876
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-06 21:24] #876 closed

[2016-04-06 21:24] vpolouchkine commented on #1107
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-06 21:24] #1107 closed

[2016-04-06 21:25] vpolouchkine commented on #1133
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-06 21:25] #1133 closed

[2016-04-06 21:25] vpolouchkine commented on #1149
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-06 21:25] #1149 closed

[2016-04-06 21:25] vpolouchkine commented on #788
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-06 21:25] #788 closed

[2016-04-06 21:27] vpolouchkine commented on #936
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-06 21:27] #936 closed

[2016-04-06 21:27] vpolouchkine commented on #1156
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-06 21:27] #1156 closed

[2016-04-06 21:27] vpolouchkine commented on #1127
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-06 21:27] #1127 closed

[2016-04-06 21:27] vpolouchkine commented on #1204
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-06 21:27] #1204 closed

[2016-04-06 21:32] trevor-e commented on #2080
I have been using a real device, but I think I remember it working fine on an emulator (Genymotion).

[2016-04-06 21:33] vpolouchkine commented on #1259
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it.

[2016-04-06 21:33] #1259 closed

[2016-04-06 21:33] vpolouchkine commented on #948
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-06 21:34] vpolouchkine commented on #1254
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-06 21:34] #1254 closed

[2016-04-06 21:37] vpolouchkine commented on #4089
Yeah, I fixed the link in https://github.com/fastlane/countdown/pull/24

[2016-04-06 21:37] #4089 closed

[2016-04-06 21:41] vpolouchkine commented on #1250
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-06 21:41] #1250 closed

[2016-04-06 21:41] vpolouchkine commented on #1295
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-06 21:41] #1295 closed

[2016-04-06 21:42] vpolouchkine commented on #1206
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-06 21:42] #1206 closed

[2016-04-06 21:44] vpolouchkine commented on #685
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-06 21:44] #685 closed

[2016-04-06 21:51] vpolouchkine commented on #1189
The `crashlytics` action can take a `notes_path` argument to points to the release notes.

[2016-04-06 21:51] #1189 closed

[2016-04-06 21:51] vpolouchkine commented on #1313
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-06 21:51] #1313 closed

[2016-04-06 21:53] vpolouchkine commented on #1315
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-06 21:53] #1315 closed

[2016-04-06 21:56] simplysoft commented on #2080
we are only using the emulator for taking screenshot

[2016-04-06 21:59] vpolouchkine commented on #1405
@LizCira Is this still an issue?

[2016-04-06 21:59] vpolouchkine commented on #1347
@tomassliz Is this still an issue for you?

[2016-04-06 22:00] vpolouchkine commented on #1400
@dombarnes Is this still an issue for you?

[2016-04-06 22:02] vpolouchkine commented on #1006
@ianblair44 Is this still an issue for you?

[2016-04-06 22:03] vpolouchkine commented on #1409
@joecdimas Are you still running into this?

[2016-04-06 22:03] vpolouchkine commented on #1422
@fatuhoku Is this still an issue for you?

[2016-04-06 22:04] vpolouchkine commented on #1424
@RobDay Is this still an issue for you?

[2016-04-06 22:04] #1424 closed

[2016-04-06 22:05] ianblair44 commented on #1006
@vpolouchkine not anymore. When I installed it using scisci's advice it worked just fine.

sudo gem install -n /usr/local/bin fastlane

Maybe a few things I should note. I don't have RVM installed or anything like that, just running default Ruby on OSX. I'm not a Ruby dev, so I don't have much of a reason to go the extra mile to try and get a Ruby environment set up.

[2016-04-06 22:06] vpolouchkine commented on #1234
@mkeiser Are you still running into this?

[2016-04-06 22:08] vpolouchkine commented on #1428
@suchita-sindhi-bs Are you still having issues?

[2016-04-06 22:09] vpolouchkine commented on #1373
@maciekish Are you still hitting this?

[2016-04-06 22:11] vpolouchkine commented on #1377
@Darkreaper101 Are you still running into this?

[2016-04-06 22:13] vpolouchkine commented on #1309
@mrgrauel Did you get a chance to try `skip_build_archive`?

[2016-04-06 22:16] vpolouchkine commented on #1268
@s0mmer Are you still hitting this?

[2016-04-06 22:17] vpolouchkine commented on #1006
OK, great! Thanks for confirming.

[2016-04-06 22:17] #1006 closed

[2016-04-06 22:53] leonardowistuba opened #4092 "Scan error compiling swift sources"
### New Issue Checklist

- [ x ] Updated fastlane to the latest version
- [ x ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
After I run scan using Quick/Nimble I've received this output when trying to compile Nimble sources
<img width="851" alt="screen shot 2016-04-06 at 7 45 15 pm" src="https://cloud.githubuser

[2016-04-06 23:46] samritchie commented on #1526
@imanf If you run a comment like `pilot list` from the command line and supply your apple id but DON’T supply a team, pilot will prompt you to select a team using something like:

    1. "Team Name 1" (567656)
    2. "Team Name 2" (54654654)

The number in parens is the iTunesConnect Team ID. I haven’t been able to find it anywhere in iTunesConnect either.

[2016-04-06 23:55] nickoneill commented on #1999
@KrauseFx I do specify the profile in my build settings and I'm running match before gym. Let me be more specific about what I'm seeing:

* `register_devices` successfully adds devices to the dev portal
* `match` with no forcing options **does not add new devices** to the existing profile and the existing profile in `MobileDevice/ProvisioningProfiles` is replaced with a new one (new file creation

[2016-04-07 00:03] cbowns commented on #1999
@nickoneill Is this all executing as one pipeline of `fastlane` actions? (I'm using `match` more-or-less the same way, but as a standalone lane, and haven't seen the issue you're describing.)

[2016-04-07 00:12] mfurtak commented on #1268
Here's what I understand to be happening:

`fastlane` depends on `spaceship` at a version **>= 0.24.1**
`xcode_install` depends on `spaceship` at _exactly **0.15.1**

These constraints can't be satisfied together, thus the error.

----

Here's what I understand to be the reasoning behind each of these independent decisions:

`fastlane` depends on the latest versions of all the sub-tools in order t

[2016-04-07 00:31] edias commented on #4020
You are welcome, do you guys have any ETA for this issue?

[2016-04-07 01:13] nickoneill commented on #1999
@cbowns I was doing it all-in-one previously, seeing the same result. Currently I'm doing `match` -> `gym` and `register_devices` -> `match` separately.

When you do `force` or `force_for_new_devices` it updates the existing profile? How many profiles for the same app id do you have in `MobileDevice/ProvisioningProfiles`?

[2016-04-07 01:21] #4069 closed

[2016-04-07 02:26] kikolobo commented on #3857
@bolom  Yes I did!

I just added some text to the what to test parameter to the pilot command and set the flag to distribute to externals to true.

Here's the fastFile :

[code]

[2016-04-07 02:40] biolinh commented on #3920
Finally, after reading Fastlane's documentations (Advanced.md), I found the solution. I thought that Fastlane might get  environment  variable but it only get variables in a .env or .env.default file in the same directory as your Fastfile. So I copy my properties file to fastlane/.env and Fastlane can pass my value.
And now, I am facing another issues. What interesting it is when trying a new tool

[2016-04-07 06:26] lacostej opened #4095 "[idea] strategy selection mechanism or implementation guideline in fastlane_core"
This is a spin off of https://github.com/fastlane/fastlane/pull/4048#issuecomment-205461192

Sometimes a feature requires multiple implementations. This is generally solved using the Strategy design pattern. Fastlane defines a default strategy and provides a mechanism for selecting others.

WRT to defining a default strategy and the selection mechanism, we sometimes go for boolean in APIs and an e

[2016-04-07 06:28] bartoszj commented on #4049
Hi,

Unfortunately it didn't help. I'm still getting this issue using `spaceship` **0.25.0**.

Stack trace:
[code]

[2016-04-07 06:33] fabb commented on #985
There is interest for this, as parallelized builds are more than 3 times faster. I guess this could maybe be activated by default? Does it make any problems?

[2016-04-07 06:34] s0mmer commented on #1268
@vpolouchkine Yes, unfortunately I am.

Updating to the latest version of `fastlane` and `xcode-install` I am receiving this error:

[code]

[2016-04-07 06:44] stanislaw commented on #985
+1

That's true: fastlane can be faster 3+ times by default and as I said

so I am looking forward to that moment when someone sends PR for to get this really closed.

[2016-04-07 07:10] tomassliz commented on #1347
I don't know if I fully understand how Fastlane works with `ENV` values. I mentioned in my previous comment a way how to solve my problem with `CredentialsManager` but still I can't read `FASTLANE_PASSWORD` value from the `ENV`. I tried it in the version 1.80.0.

[2016-04-07 07:10] hartbit commented on #4092
Seeing how the errors are on a line with the new `#file` and `#fline` syntax of Swift 2.2, my best guess is that the build tools are not pointing to a Xcode 7.3 version of Xcode. Run the following to check:

[code]

[2016-04-07 07:19] lacostej opened #4096 "Add adb_install action"
I made this action as part of a talk on Fastlane for Android.
Is this interesting to anybody for submission to mainline ?
**Note**: It depends on the `ruby_apk` gem.

[code]

Example usage:
[code]

Full code:

[code]

[2016-04-07 08:05] DenHeadless commented on #985
I've been making builds with this stuff enabled for almost 4 months, and haven't seen any problems. Speed up is really noticeable.

[code]

[2016-04-07 08:16] stanislaw commented on #985
@DenHeadless could you send a PR then?

[2016-04-07 08:18] DenHeadless commented on #985
My solution is local, i'm adding this line to Gymfile and Scanfile, I don't have enough knowledge about fastlane internals to send a PR, unfortunately.

[2016-04-07 09:25] BObereder opened #4098 "download_metaData triggers uploading of local metaData"
+--------------------+---------------------------+
|             deliver 1.11.0 Summary             |
+--------------------+---------------------------+
| screenshots_path   | ./fastlane/screenshots    |
| metadata_path      | ./fastlane/metadata       |
| username           | fastlane.ios@stylight.com |
| app_identifier     | com.stylight.Stylight     |
| skip_binary_upload | false

[2016-04-07 09:27] fluidpixel opened #4099 "Updated App Review information should be submitted earlier during deliver"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Older versions of Apps in iTunes Connect didn't require review information to have the country code for phone numbers. When using deliver it runs through verify_available_languages, which trigg

[2016-04-07 09:38] rpowelll commented on #1199
I'm still encountering this issue on the latest version of fastlane, 1.80.0 as of writing this.

[2016-04-07 09:45] Skornos commented on #1655
@vegather so it was fixed for you just by restarting OS X and reseting content and settings? I have tried these and got stuck on Touching target.xctest again.

My screenshots lane starts with `reset_simulators` but no change.

[2016-04-07 09:52] Darkreaper101 commented on #1377
@vpolouchkine @lacostej It seems the issue has been resolved as far as I can tell, haven't used the specified account in quite a while, but if this issue does come up again I'll open up the issue.

[2016-04-07 09:52] #1377 closed

[2016-04-07 10:18] vegather commented on #1655
@Skornos No that's the thing, I have no idea what fixed the problem. I spent several hours troubleshooting (Reset simulator, delete derived data, restart Xcode, try on different devices, restart OS X, clean build, etc.), and nothing worked. When I got back to it later in the day it suddenly worked, and it still does. I've even tried to reproduce the problem to try to figure out a fix, but no luck.

[2016-04-07 10:31] janandre commented on #1164
@TKBurner It does not change anything. I added the ipa path during later trys, hoping that it could solve the problem. Without it its the same behaviour. Don't upload or create anything on fabrics side, but print success message.

[2016-04-07 10:33] janandre commented on #1164
Right now i stay at Fastlane 1.68 should i update to 1.80?

[2016-04-07 10:35] sgwilym commented on #1164
I had the same problem with crashlytics not uploading the build and reporting a success — this seems to be resolved by removing the `crashlytics_path` param!

[2016-04-07 10:54] jcampbell05 opened #4100 "Feature: Matchfile Matrix"
It is slow and very cumbersome to fetch a bunch of certificates via match, take this example for setting up certificate for a iOS and Watch App for Development, Ad-Hoc and App Store:

[code]

Each time, Match has to clone the repo, decrypt and install. Additionally if I want to renew these manually I have to enter the commands in one by one.

So what I would like to prepose some kind of matrix for

[2016-04-07 11:21] mgasiorowski commented on #1442
Swiftlint always returns `exit 1` when he founds serious violations (https://github.com/realm/SwiftLint/issues/30), but I think it should not fail job on CI. For example Jenkins has plugins for inform about violations (e.g. https://wiki.jenkins-ci.org/display/JENKINS/Checkstyle+Plugin) and swiftlint support custom reporters,
https://github.com/realm/SwiftLint/pull/293/files.

[2016-04-07 11:25] janandre commented on #1164
@sgwilym Tried that too, but than i get this FastlaneCrash like in the screenshot above.

[2016-04-07 13:18] leonardowistuba commented on #4092
Thanks, that's the problem. I'm using the xcode 7.2.1 version because my tests are failing with code 65 in xcode 7.3 too https://github.com/fastlane/fastlane/issues/3886

I will wait for a fix for XCode 7.3 :/

[2016-04-07 13:20] TKBurner commented on #1164
Hi @janandre! Thanks for following up. Can you update Fastlane core and see if your issue is resolved? It looks like your local copy of the gem might be in a bad state.

![image](https://cloud.githubusercontent.com/assets/1987108/14352302/d52e14c6-fca1-11e5-8c38-563f76510fc8.png)

[2016-04-07 13:23] hartbit commented on #3886
@TKBurner It's very weird, I am getting different errors, but more often code 65. For info, this only happens on the CI server. On the local machine, it works fine.

[2016-04-07 13:23] TKBurner commented on #4100
Thanks @jcampbell05! Great to hear from you again. This is a very interesting use case. I'll be sure the team takes a look.  :+1:

[2016-04-07 13:25] TKBurner commented on #1377
@Darkreaper101 Awesome! Glad to hear you are up and running. Please let us know if you see this issue again! Hope you have a great week :+1:

[2016-04-07 13:27] TKBurner commented on #1199
Hi @rpowelll! Great to hear from you! Can you send over the full output when you run 'fastlane init' also can you send the output for fastlane -v.

Thanks!

[2016-04-07 13:28] TKBurner commented on #4099
Hi @fluidpixel! Thanks for letting us know about this. I'll make sure the team here as a look and I'm flagging this as 'help wanted' to see if we can get some community action on a PR :+1:

[2016-04-07 13:30] TKBurner commented on #4098
Hi @BObereder! Thanks for reaching out. Can you send over the full output from running 'deliver'? I want  to have a look and see what's going on. Also, can you send your Deliverfile and Fastfile if you are running a lane.

Thanks!

[2016-04-07 13:39] hartbit commented on #3886
Here's another output with Error 65 this time:

https://gist.github.com/hartbit/943d5a4e565e881e6561d0f85b416c75

[2016-04-07 13:48] TKBurner commented on #1110
@alickbass Thanks for letting me know. I'm glad to hear you are up and running. I'm going to have the team take a look at the central issue and have them think about making these required. I am going to close out this support issue for housekeeping purposes. Feel free to ping if you run into this problem again.

Thank!

[2016-04-07 13:48] #1110 closed

[2016-04-07 13:50] TKBurner commented on #1314
@fabioknoedt Thanks for following up. Correct:

Attackers could use an In-House profile to distribute signed application to a potentially unlimited number of devices. All this would run under your company name and it could eventually lead to Apple revoking your In-House account. However it is very easy to revoke a certificate to remotely break the app on all devices.

Because of the potentially da

[2016-04-07 13:52] TKBurner commented on #4084
Hi @vickymitra786, thanks for reaching out. Can you provide the full output of when you run the affected action or lane? That'd help us out a bunch! Have a great day :+1:

[2016-04-07 13:57] TKBurner commented on #1875
@cjgehinscott Thanks for following up. We're going to look into this a little more on our end. :+1:

[2016-04-07 13:58] TKBurner commented on #4059
@ldiqual Thanks for following up. I'm going to mark this as a feature request so we can triage your idea:

I believe fastlane should have a timeout+retry on the showBuildSettings step, as implemented by other tools (see links above).'

Really glad to have you using Fastlane :+1:

[2016-04-07 14:02] janandre commented on #1164
@TKBurner updated to the newest Version now

<img width="1413" alt="bildschirmfoto 2016-04-07 um 15 58 16" src="https://cloud.githubusercontent.com/assets/9200290/14353504/a441a84a-fcd9-11e5-8a84-3723e6328df0.png">

I think it is the same error.

<img width="1381" alt="bildschirmfoto 2016-04-07 um 16 00 38" src="https://cloud.githubusercontent.com/assets/9200290/14353588/f9aa9896-fcd9-11e5-86e7-e8

[2016-04-07 14:13] asfalcone commented on #4096
@lacostej Thanks for opening an issue to discuss this prior to implementation! I love that you're adding new Android tools! :heart_eyes:

I think we'd prefer to not add additional 3rd party dependencies if possible. `ruby_apk` looks like it hasn't been updated in 2.5 years which is a little worrisome. Can you enumerate what behavior it uses from `ruby_apk`? Is it possible to borrow the desired fun

[2016-04-07 14:14] TKBurner commented on #4020
Thanks for following up @edias! I'm going to flag this as help wanted to see if we can get some community attention. I'm following up internally too :+1:

[2016-04-07 14:17] TKBurner commented on #3857
@kikolobo Awesome! Glad to hear you are up and running. Feel free to ping this issue if you have any questions. Closing for housekeeping :+1:

[2016-04-07 14:17] #3857 closed

[2016-04-07 14:18] TKBurner commented on #3920
@biolinh Glad to hear you got up and running! Always feel free to reach out to our community. Closing this issue for housekeeping :+1: Have a great week!

[2016-04-07 14:18] #3920 closed

[2016-04-07 14:20] TKBurner commented on #4095
Thanks for this feature request @lacostej! I'm going to circulate this with the team so we can provide some feedback. Really to happy to have you as part of the Fastlane community :+1:

[2016-04-07 14:21] hammertoe commented on #913
Yes, it is still an issue. I submitted a PR a while back, but it was never incorporated. The fix is a one-liner:

`--- /Library/Ruby/Gems/2.0.0/gems/fastlane-1.67.0/lib/fastlane/actions/set_info_plist_value.rb	2016-03-23 14:44:18.000000000 +0000
+++ /Library/Ruby/Gems/2.0.0/gems/fastlane-1.68.0/lib/fastlane/actions/set_info_plist_value.rb	2016-03-30 16:23:31.000000000 +0100
@@ -34,6 +34,7 @@

[2016-04-07 14:22] TKBurner commented on #4049
@bartoszj Thanks so much for following up. We are going to look into this!

[2016-04-07 14:28] hammertoe opened #4103 "Can not pass hashes to set_info_plist_value"
Re-opening a clone of ticket that was just closed #913

A PR was submitted but never accepted. Fix is a one-liner (but I think is_string is now deprecated, so not sure how best to handle this as you need to pass in a type and I want it to accept any type).

[code]

[2016-04-07 14:31] TKBurner commented on #1268
Thanks for following up @s0mmer! We are still working on a strategy on our end. :+1:

[2016-04-07 14:32] TKBurner commented on #1347
Hi @tomassliz! Here is the FAQ about ENV values, let me know if you have any other questions :+1:

If you have one code base, but multiple branded applications

Create different .env files for each environment and reference those environment variables in the Deliverfile, Fastfile, etc.

Example: Create a .env.app1, .env.app2, and .env.app3. Define each of these like the following...

DLV_FIRST_NAM

[2016-04-07 14:34] TKBurner commented on #4092
Hi @leonardowistuba. Thanks for following up. We are going to track cod 65 errors on #3886. I'm going to close this issue out as housekeeping. Let me know if you have any questions :+1:

[2016-04-07 14:34] #4092 closed

[2016-04-07 14:36] TKBurner commented on #985
Thanks for following up community! I'm going to mark this as a feature request and circulate it with the Fastlane  team. Thanks for working with us!

[2016-04-07 14:39] TKBurner commented on #1655
@vegather Thanks for following up.
@Skornos We are going to look into this over here and follow up with you. Thanks! :+1:

[2016-04-07 15:15] lacostej commented on #4096
@asfalcone the reason I didn't submit it as a PR is because of the extra dependency. `ruby_apk` allows me to introspect the APK's manifest and identify information needed to install the obb in the correct location. I wouldn't feel to import its code into the action.

A for the obb aware, I would have to think about it.  2 methods can definitively be reused.

I'll try to think of a way to make this

[2016-04-07 15:23] tomassliz commented on #1347
@TKBurner Thank you for this explanation but my question is about something different. What about Fastlane environment? If some Fastlane action saves some variable into `ENV` why code like this  https://github.com/fastlane/fastlane/issues/1347#issuecomment-186440758 does not work?

[2016-04-07 15:37] Skornos commented on #1655
@TKBurner thanks. I got used to fastlane so much that I have completely forgotten that I can do the rest of the devices (iPhone 6/Plus) manually. Thanks for the great work :+1:

[2016-04-07 16:18] vpolouchkine commented on #4103
Thanks for confirming @hammertoe. We'll look into this.

[2016-04-07 16:36] jorystiefel commented on #4084
I am also having this problem with submitting a tvOS app.

[code]

The message I get back from App Store (email):

[code]

config:

[code]

[2016-04-07 16:49] KrauseFx commented on #4100
Looking at this, it seems more complicated for non-Ruby developers, don't you think?

[2016-04-07 17:32] mfurtak commented on #4103
Hi @hammertoe - thanks for the report, and apologies about your previous PR not getting attention.

I've put your patch up as #4106 :+1:

[2016-04-07 17:47] mfurtak commented on #4103
This will go out in the next `fastlane` release! :rocket:

[2016-04-07 17:47] #4103 closed

[2016-04-07 17:48] hammertoe commented on #4103
Awesome thanks! :)

-Matt

—
Matt Hamilton
Quernus
matt@quernus.co.uk
+44 117 325 3025
49b Easton Business Centre
Felix Road, Easton
Bristol, BS5 0HE

Quernus Ltd is a company registered in England and Wales. Registered number: 09076246

[2016-04-07 18:38] fluidpixel commented on #4098
I believe I might have had the same issue and seems to be linked to when you pass in the type into the match() call from fastlane with the latest version (1.80). I've now moved the type into the Matchfile and this doesn't happen.

[2016-04-07 18:47] mfurtak commented on #3639
Hi folks - we've just shipped [`screengrab` 0.3.2](https://github.com/fastlane/fastlane/releases/tag/screengrab/0.3.2) 📷✨ with a fix for this. Please update your Ruby gem as well as your AAR dependency version and let us know how it looks. :+1:

[2016-04-07 18:48] mfurtak commented on #3885
Hi @bigyanthapa - we've just shipped [`screengrab` 0.3.2](https://github.com/fastlane/fastlane/releases/tag/screengrab/0.3.2) 📷✨ which removes a `targetSdkVersion` declaration from the AAR. Please update your Ruby gem as well as your AAR dependency version and let us know how it looks. :+1:

[2016-04-07 18:48] #3885 closed

[2016-04-07 19:10] winkelsdorf commented on #1719
Same here.

Tried with a fresh fastlane gem set with Snapshot & FrameIt installation. If you put the psd files in ```./fastlane/screenshots/device_frames/``` folder the setup (```frameit setup```) is unable to find them.

Copying the folders and PNG files from ```~/.frameit/device_frames/``` works.

Versions from Console:
[code]

BTW:
[code]
Apple Media for 5s is no longer available. And the text

[2016-04-07 19:18] winkelsdorf commented on #2762
Hmm, I would suggest reopening this case. It's a bug in fact.

Following situation: I have several projects, where Build and Derived Data folders are in the same root as the Project (but excluded from git).

Directory Structure
[code]

Now calling frameit from cli, each subpath is searched, including Derived Data, Builds, Intermediates, Assets.

__Well, I would say that's a bug, not a *feature req

[2016-04-07 20:11] loufranco opened #4108 "iPad Pro offsets off with current Apple assets (and non-transparent corners)"
### New Issue Checklist
- [x - frameit 2.5.1 ] Updated fastlane to the latest version
- [ x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

I downloaded the iPadPro images today (4/7/2016). When I run frameit, the screenshots are misaligned (Horizontal / Silver)

I updated my offsets.rb (for landscape) to

[code]

[2016-04-07 20:14] cbowns commented on #1999
@nickoneill I have many tens or hundreds of the same profiles in that folder. I think `force` is creating a new profile on the portal and downloading it… but yeah, i'm confused as to why you're having issues.

Possibly relevant: my `match` to `gym` invocation includes an `ENV` call for setting the profile's UUID. I think I have this from either `fastlane`'s template `Fastfile`, or from the `match`

[2016-04-07 20:31] fatuhoku commented on #1422
@vpolouchkine yes it is. Every deploy I must revert the changes to the file. Not a very major change but it does get a little bit annoying.

[2016-04-07 21:36] nickoneill commented on #1999
Very interesting! I will give this a shot with my next new device and see how it goes. It definitely seems to be pointing in the correct direction though. And something that can be automated if `match` and `gym` are run after one another. Thanks @cbowns!

[2016-04-07 22:31] KrauseFx commented on #4095
That sounds great, I love the idea. We might want a cooler name for the class though. Sometimes related to lanes maybe? :car:

[2016-04-07 22:32] hyphenbash opened #4111 "Action 'testfairy' doesn't support required operating system 'android'"
Hi,

I know that at the moment there's no android support for Testfairy action, or at least that's what I understood. I was wondering if there's any plan on supporting android for this?

Thanks

[2016-04-08 00:05] gavinbunney commented on #1816
The `xcodebuild` action does support the `CODE_SIGNING_REQUIRED` and other build settings through the `build_settings` parameter.... this will at least clean up your script a little bit:

[code]

[2016-04-08 00:13] vpolouchkine commented on #1422
Thanks for confirming @fatuhoku. We'll look into this.

[2016-04-08 00:20] vpolouchkine commented on #1719
Thanks for confirming @winkelsdorf. We'll look into this.

[2016-04-08 00:24] vpolouchkine commented on #4108
Can you please format the issue per https://github.com/fastlane/fastlane/blob/master/ISSUE_TEMPLATE.md? Thanks!

[2016-04-08 00:29] vpolouchkine commented on #4111
We'll see what we can do in a future release. If you (or anyone else) want to tackle this, check out the [contributing](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md) doc.

[2016-04-08 00:39] m00sey opened #4113 "Fastlane init fails."
### Issue Description

I update fastlane, ran `fastlane init` entered my Apple Id and get the following output.

[code]

If I continue with manual setup I get the following:

[code]

fastlane version (fastlane -v): fastlane 1.80.0
Do you use bundler, rbenv or rvm? No

I worked through the suggestions in https://github.com/fastlane/gym/issues/100#issuecomment-184335220, but they appeared to have no

[2016-04-08 02:24] wrightak commented on #1678
+1 from me. @olutsenko 's work around is not working for me.

[2016-04-08 03:24] winkelsdorf opened #4114 "Different position of padded frame due to title's character height"
**Example Situation**
Having two titles for two screenshots (same device, same resolution). One title contains characters with descenders extending the baseline (g, p, j, q, y). The other title does not.

Example titles to reproduce the issue:
"Product" <- no descenders below baseline at all
"Catalog" <- descender to the baseline due to "g"

See https://en.wikipedia.org/wiki/X-height for details a

[2016-04-08 04:53] shingt commented on #4113
Might be fixed by this: https://github.com/fastlane/fastlane/pull/4115/files

[2016-04-08 06:53] CsabaSzabo commented on #4113
Thanks @shingt for the quick fix.

[2016-04-08 07:40] fabioknoedt commented on #1314
Hey @TKBurner, unfortunately I'm still getting the error. It's something about caching or the keychain being there already when creating. I tried to use delete_keychain but it fails when the keychain is not there. Is there a good way to handle that? Below you can see my output.

[code]

[2016-04-08 07:57] Lutzifer commented on #1978
I came up with a solution similar to fastlane/match#93, when trying to limit the number of repositories necessary for building a multitude of apps, which do not have their own project repository in the first place, but will differ in signing. I really would like to avoid the hassle of keeping a patched version of match up and running.

[2016-04-08 08:00] petterikamppuririchie commented on #1978
Very interesting. Does your solution "pollute" or complicate the match tool CLI interface? Meaning, could those changes be incorporated to the main release without making the tool harder to use in the default case (one team)?

[2016-04-08 08:07] jstubenrauch commented on #1464
I would also very appreciate if this could be added. But I think what we need here is support for the itc_team_id not the team_id

[2016-04-08 08:16] yankat commented on #1655
I also encounter this issue!
The UI Test is running well, automatically tapping buttons in the simulator, until it reaches the first snapshot("01") call, where it seems to hang. Nothing happens.
**It stuck on "Running Tests: > Touching ....".**
The simulator doesn't hang. Just waiting for taps..

I tried to reset_simulators but it didn't help.
I even tried it on another computer and the UI Test st

[2016-04-08 08:22] hyphenbash commented on #4111
Thanks @vpolouchkine

[2016-04-08 08:38] Lutzifer commented on #1978
I added an additional parameter to define the branch to use (-B), not using it does not change the default case (tests are running fine). I have not yet looked into how the password is stored, but a common password for all repos is fine for me.

[2016-04-08 09:22] khantthulinn commented on #3368
Hi all, is it okay already? Currently, I am on fastlane 1.8 and using Jenkins. I still got 	from /usr/local/lib/ruby/gems/2.2.0/gems/scan-0.5.2/lib/scan/runner.rb:31:in `block in test_app'

And I have tried to clean and build before I scan. (run by Jenkins).

[2016-04-08 10:36] sjrmanning commented on #4100
+1 for this or something like it! With a WatchKit app component, we're finding match takes so long as we need to cycle through match for the main app ID, the WatchKit app ID and finally the WatchKit extension ID. We're using `match` with `fastlane` and for each ID all settings are the same apart from the ID, but because they run as separate match processes it has to clone, decrypt, validate, etc.

[2016-04-08 10:46] jcampbell05 commented on #4100
@KrauseFx Yes I think so but even having some sort of YAML file with all of the certificates for the project would be great:

[code]

[2016-04-08 11:37] skywinder commented on #1984
Hello there. Is there any updates? How to recreate provision with another certificate, for example?

[2016-04-08 11:45] ClementPadovani commented on #1678
As I previously mentioned, the only workaround that I’ve found to work 100% of the time is the use of `CLSimulationManager` (header: https://github.com/ClementPadovani/aBike/blob/master/aBikeFramework/aBikeLibrary/Additions/CLSimulationManager.h).

I wrap all my code conditional `if`s so I don’t ship with that internal class.

It’s simple to get it working, you can check it out here https://github

[2016-04-08 13:57] bgerstle opened #4121 "fastlane_core: fastlane_runner_spec fails locally, but passes in CI"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
`fastlane_core/fastlne_runner_spec` tests locally failed, but succeeded in CI:

##### Complete output when running tests, including the stack trace and command used

[code]

### Configuration F

[2016-04-08 14:08] lacostej commented on #4095
Now that I think about it, it might be supported using ConfigItem under the hood. They already have some of the features required (validator, environment variable), and you might need to have more logic to instantiate the proper selector.

[2016-04-08 14:16] swilkeni commented on #3639
It got past the original problem, but ends in a similar situation when it apparently can't find and open the directory that it just saved the screenshots too.

DEBUG [2016-04-08 10:12:44.14]: Ending screenshot count is: 2
INFO [2016-04-08 10:12:44.14]: Opening screenshots summary
INFO [2016-04-08 10:12:44.14]: $ open /Users/swilkening/Documents/Android/Bonnie-Android/app/src/cincinnati_bengals/*/i

[2016-04-08 14:26] esusatyo opened #4122 "Feature: Add revoke_expired option in match nuke to nuke only expired certificates and profiles"
When doing `match nuke distribution` or `match nuke development`, we see this preview:

[code]

Sometimes, we are only interested in nuking the `Expired` profiles and certificates. In the example above, we are interested in revoking everything except these two profiles:

[code]

This will save people's time when they have done something like `match appstore` and then realising that their dev porta

[2016-04-08 14:30] mfurtak commented on #4095
Besides the `ItunesTransporter` case, do we have other places the codebase that would benefit from this right now?

It would be great if there were three places where we wanted to use this (just my own rule of thumb for when an abstraction is worth creating) so that we can gather the right requirements for it to be broadly useful.

[2016-04-08 14:38] TKBurner commented on #1678
@ClementPadovani Thanks for stepping in. @wrightak Let me know if you get up and running with this workaround. Thanks! :+1:

[2016-04-08 14:39] lacostej commented on #4095
@mfurtak if that had existed, I would have used it
* here: https://github.com/fastlane/fastlane_core/pull/73/files#diff-1a17eb102986ec3ba794ae32a5e5241bR11 (which is something that might be reimplemented one day)
* here https://github.com/fastlane/fastlane/blob/master/gym/lib/gym/generators/package_command_generator.rb#L49
* in your implementation of the transporter selector

Now those cases are e

[2016-04-08 14:42] TKBurner commented on #1984
@skywinder Thanks for reaching out. The only way to do this is with the nuke option for a specific type:

nuke              Delete all certificates and provisioning profiles
from the Apple Dev Portal
    nuke development  Delete all certificates and provisioning profiles
from the Apple Dev Portal of the type development
    nuke distribution Delete all certificates and provisioning profiles
from t

[2016-04-08 14:42] #1984 closed

[2016-04-08 14:42] mfurtak commented on #3639
Hi @swilkeni - thanks for giving it a try. :+1:

As a short-term work around, you may be able to use the `skip_open_summary` option to skip this problematic step.

I'd like to keep digging in. Can you please post the full command output for your run?

When the run completes, can you give me a sense of what is contained in `/Users/swilkening/Documents/Android/Bonnie-Android/app/src/cincinnati_benga

[2016-04-08 14:48] TKBurner commented on #3368
Hi @khantthulinn. You can track this issue on #3886. Thanks!

[2016-04-08 14:54] TKBurner commented on #1978
@Lutzifer Thanks for following up. We won't be able to merge this PR because of the reason Felix explained above. However, always feel free to use your own branch :+1:

[2016-04-08 14:57] mfurtak commented on #4095
Great, I think calling out the potential places where it might help is useful for discussion, and helps to focus on the requirements. It can also helpful to describe things that are outside of what we want to solve...

For example, these sorts of feature switches are good for changing behavior in a way that is explicitly not a part of the "public API" of the tool as exposed by the actions, command

[2016-04-08 15:01] TKBurner commented on #1655
Thanks @yankat! The team here is looking into this issue. Hope you have a great weekend! :+1:

[2016-04-08 15:03] RocketPop commented on #3976
Or the smart quote removal could just be removed :wink:

[2016-04-08 15:06] lacostej commented on #4095
For the sake of clarity, in https://github.com/fastlane/fastlane/issues/4095#issuecomment-207445906 I meant that the proposed StrategySlector API could be implemented using a `ConfigItem` **not exposed** through `available_options`. That's at least one alternative option.

[2016-04-08 15:09] mfurtak commented on #4095
Yup, I'm following what you're saying there. :+1:

Outside of discussion about ways to implement a solution, I'm still curious if the design principle I outlined above feels right to folks?

[2016-04-08 15:16] palusik86 commented on #1442
Will try, Thanks

[2016-04-08 15:22] umut-genlik commented on #1655
Having exact same issue as @yankat's it was working file till today, but today I got this error message
`Your './fastlane/SnapshotHelper.swift' is outdated, please run `snapshot update`
to update your Helper file`

after I updated it, it seems UI tests are working fine until it hits the take snaphot func

so at `snapshot("Featured")` ui test hangs and doesnt continue to execute. It doesnt fail too

[2016-04-08 15:24] yakimant opened #4125 "Slather: teamcity option"
Slather has added --teamcity option:
https://github.com/SlatherOrg/slather/commit/697f5ac5246119c4055517ece38b9e9efadc66f4

Would be nice to have in fastlane slather wrapper.

[2016-04-08 15:30] zigdanis commented on #329
I've removed $(SRCROOT) path from my INFOPLIST_FILE variable in Xcode.
And now `increment_build_number` works fine!

[2016-04-08 17:00] mfurtak commented on #1442
Hi folks. I've merged #4112, which adds a `ignore_exit_status` option to the [`swiftlint` action](https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Actions.md#swiftlint) that should do what you're looking for.

That will go out in the next release! :rocket:

[2016-04-08 17:31] KrauseFx commented on #4074
@sprint84 I'd recommend you create a `fastlane` directory and just put everything inside there. Also you should start using fastlane using `fastlane init` to get started quickly :+1:

[2016-04-08 17:32] KrauseFx commented on #883
PR https://github.com/fastlane/fastlane/issues/4090
Closing this issue for now :+1:

[2016-04-08 17:32] #883 closed

[2016-04-08 17:34] m00sey commented on #4113
Thanks @shingt all good here.

[2016-04-08 17:34] #4113 closed

[2016-04-08 17:46] vpolouchkine commented on #4125
We'll see what we can do in a future release. If you (or anyone else) want to tackle this, check out the [contributing](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md) doc.

[2016-04-08 17:47] m00sey commented on #4113
Just a note, setup was flawless after that hiccup.

Great work, thanks :)

[2016-04-08 17:47] KrauseFx commented on #4049
@bartoszj Can you try yesterday's `spaceship` and clear your cache by restarting your Mac?

[2016-04-08 17:48] KrauseFx commented on #4072
Let's go with `Remove the message when the archive path is specified.` Do you want to submit a PR/

[2016-04-08 17:48] sprint84 commented on #4074
@KrauseFx Thanks, I do have a fastlane subdirectory, where all fastlane inputs and outputs are located. However, I didn't find an option on deliver to specify the output directory for the Preview.html, so it keeps been generated outside my fastlane directory.
Maybe I'm missing something in the documentation, or the documentation for deliver is missing this piece of information. Either way, I'd be

[2016-04-08 17:48] KrauseFx commented on #4074
Mh, that's weird, it should be created in your `fastlane` directory. This will need some further investigating

[2016-04-08 17:59] vpolouchkine commented on #567
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-08 17:59] #567 closed

[2016-04-08 18:00] vpolouchkine commented on #1344
@nikolaykasyanov Is this still an issue for you?

[2016-04-08 18:03] vpolouchkine commented on #1451
@vikram1234 Is this still an issue for you?

[2016-04-08 18:09] vpolouchkine commented on #1455
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-08 18:09] #1455 closed

[2016-04-08 18:11] TKBurner commented on #4121
@bgerstle Hi! Thanks for sending this over. It sounds like there might be a config issue on your side. Are you able to verify this on another device? Thanks :+1:

[2016-04-08 18:12] vpolouchkine commented on #1448
@palaniraja Is this still an issue using latest versions?

[2016-04-08 18:13] TKBurner commented on #1655
@umut-genlik Thanks for following up. We are still looking into this issue. I'll update as soon as we have any new info :+1:

[2016-04-08 18:14] KrauseFx commented on #3985
Closing this issue for now, please submit a new one

[2016-04-08 18:14] #3985 closed

[2016-04-08 18:15] KrauseFx commented on #494
Agreed

[2016-04-08 18:15] TKBurner commented on #1464
@jstubenrauch Thanks for reaching out. We will look this over soon. Hope you hava a great weekend :+1:

[2016-04-08 18:16] vpolouchkine commented on #1065
@crazyyuan Is this still an issue for you?

[2016-04-08 18:16] KrauseFx commented on #1873
Closing this issue for now due to inactivity

[2016-04-08 18:16] #1873 closed

[2016-04-08 18:17] alpersenyurt opened #4128 "Package Application crashes"
I have a problem with ""Unable to patch the `PackageApplication` for  tvos swift project.I have updated fastlane version.

I have fastlane crashes like this:

[code]

After I call this lane I have got the fastlane crash
My fastfile lane:

[code]
fastlane version (fastlane -v):1.80.0

[2016-04-08 18:21] vpolouchkine commented on #519
@mccarron Did https://github.com/fastlane/fastlane/issues/519#issuecomment-191032710 solve this for you?

[2016-04-08 18:21] vpolouchkine commented on #519
@mccarron Did https://github.com/fastlane/fastlane/issues/519#issuecomment-191032710 solve this for you?

[2016-04-08 18:25] vpolouchkine commented on #349
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-08 18:27] vpolouchkine commented on #1467
@Douvi Is this still an issue for you?

[2016-04-08 18:30] TKBurner commented on #1314
@fabioknoedt Thanks for following up. We are going to have a look into this over here. I'll update you when we have news :+1:

[2016-04-08 18:31] TKBurner commented on #4113
Awesome @m00sey! Glad to hear it. Thanks for helping out @shingt :+1:

[2016-04-08 18:33] vpolouchkine commented on #4128
Please share the full log.

[2016-04-08 18:34] vpolouchkine commented on #1460
It looks like this has been fixed by Apple at this point, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-08 18:35] TKBurner commented on #4114
@winkelsdorf Thanks for reporting this. The team over here is going to have a look. We'll update this thread. Thanks! :+1:

[2016-04-08 18:35] hemal commented on #1370
Just merged a solution, give it a try and let me know what you think!

[2016-04-08 18:35] #1370 closed

[2016-04-08 18:38] #1489 closed

[2016-04-08 18:42] bgerstle commented on #1996
still getting this issue, using spaceship 0.25.1 match 0.4.0 git 2.4.3

[2016-04-08 18:42] bartoszj commented on #4049
Hi,

I've removed `~/.spaceship`, `~/Library/Caches/spaceship_api_key.txt` and restarted my Mac, and it didn't help. I've tested this scenario on three different Macs with the same result.

This Apple ID which I'm using is added to two developer portals and it was never added to iTunes Connect. I don't know what I can write more to help you with this issue.

[2016-04-08 18:42] bgerstle commented on #2054
this may be a dupe of #1996

[2016-04-08 18:47] bgerstle commented on #1996
sorry, I thought the user had iTC & dev accounts, but the iTC invitation wasn't accepted yet. all clear now :tada:

[2016-04-08 18:47] TKBurner commented on #2762
Thanks for following up @winkelsdorf! I'll have the team look over this behavior as a feature request. Hope that you have a great weekend :+1:

[2016-04-08 18:50] vpolouchkine commented on #1491
@gran33 Is this still an issue for you?

[2016-04-08 18:50] TKBurner commented on #4098
@BObereder Can you check and see if @fluidpixel work around solves your issue? Thanks!

[2016-04-08 18:50] vpolouchkine commented on #1492
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-08 18:50] #1492 closed

[2016-04-08 18:51] vpolouchkine commented on #1495
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-08 18:51] #1495 closed

[2016-04-08 18:52] vpolouchkine commented on #1496
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-08 18:52] #1496 closed

[2016-04-08 18:52] #1996 closed

[2016-04-08 18:53] vpolouchkine commented on #1498
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-08 18:53] #1498 closed

[2016-04-08 18:54] vpolouchkine commented on #1504
@lacostej Is this still an issue?

[2016-04-08 18:55] vpolouchkine commented on #1505
Closing as fix was merged.

[2016-04-08 18:55] #1505 closed

[2016-04-08 18:55] TKBurner commented on #913
Thanks for following up @hammertoe! The team here is going to have a look. :+1:

[2016-04-08 18:57] TKBurner commented on #1164
Thanks for following up @janandre! I'm going to have the team here take a look and see what could be causing this. Thanks for working with us! :+1:

[2016-04-08 18:58] hammertoe commented on #913
Actually... as I couldn't re-open I created a new ticket, #4103 which has been dealt with and a fix merged in already. So this ticket can be closed again! Sorry for the confusion!
-Matt

[2016-04-08 18:59] lacostej commented on #1504
@vpolouchkine yes See https://github.com/fastlane/fastlane_core/pull/94/files#diff-db360415c82dc1c3dd5a5c2872d0cd04R167

[2016-04-08 19:01] vpolouchkine commented on #1504
Thanks for confirming.

[2016-04-08 19:02] vpolouchkine commented on #1506
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-08 19:02] #1506 closed

[2016-04-08 19:03] vpolouchkine commented on #1507
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-08 19:03] #1507 closed

[2016-04-08 19:03] vpolouchkine commented on #1508
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-08 19:07] vpolouchkine commented on #1509
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-08 19:07] #1509 closed

[2016-04-08 19:08] vpolouchkine commented on #1511
@gran33 @cybertk Is this still an issue for you?

[2016-04-08 19:09] vpolouchkine commented on #1512
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-08 19:09] #1512 closed

[2016-04-08 19:10] vpolouchkine commented on #1513
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-08 19:11] vpolouchkine commented on #1514
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-08 19:11] #1514 closed

[2016-04-08 19:11] vpolouchkine commented on #1515
It looks like there hasn’t been any recent activity on this issue in some time, so I’m closing it. If this is still a problem, feel free to re-open a new issue and I’d be happy to help :+1:

[2016-04-08 19:11] #1515 closed

[2016-04-08 19:12] vpolouchkine commented on #1516
@afehners Is this still an issue for you?

[2016-04-08 19:13] vpolouchkine commented on #1518
@maxmeyers Is still an issue for you?

[2016-04-08 19:14] #913 closed

[2016-04-08 19:16] bgerstle commented on #4121
@TKBurner i'll give it a go, but you may be right.  My ruby environment is a bit of a mess atm. Will update if I'm able to try it out on another Mac or after I have time to tidy up my env again

[2016-04-08 19:38] LizCira commented on #1405
@vpolouchkine no longer and issue, sorry, I should have closed this.

For completeness, the problem was that my company has an Enterprise and a standard Apple Developer account. The Enterprise profile I'd specified to sign with was being created in the standard account because of incorrect Fastlane configs on my part. We have a six-unit build cluster, and a cron job that syncs profiles across them

[2016-04-08 19:38] maxmeyers commented on #1518
@vpolouchkine Nope, working as expected in 1.11.0.

[2016-04-08 19:42] mccarron commented on #519
@vpolouchkine No we can't use those options because using `use_legacy_build_api` to `false` crashes fastlane in the `gym` step of the build on our CircleCI boxes so we must use `use_legacy_build_api` to make builds happen there.

The crash is also detailed in bugs #3184, #168 and #3193. Probably a few other bugs I'm not aware of as well.

The issue only exists on CircleCI for us due to their envir

[2016-04-08 19:53] Panajev commented on #1978
Still feel like I may be missing something obvious in this discussion as the strong opposition by Felix still does not sound convincing, but as I said it might just be me... So, let's give this ride another go please.

When you talk about storing your certificates/profiles with the code are you talking about the files themselves or the provisioning profile id (code signing name and identity pair)?

[2016-04-08 20:13] qingjie opened #4132 "fastlane1.70.0 doesn't support XCode7.3 and ios9.3.1"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
snapshot can not do screenshots with XCode7.3 and IOS9.3.1

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Configuration Files

Please copy

[2016-04-08 20:28] lacostej commented on #1508
@KrauseFx do you think this should be closed ? It really depends on how you want to manage to releases.

[2016-04-08 20:28] lacostej commented on #1515
ok for me !

[2016-04-08 20:34] mfurtak commented on #1442
This has gone out as part of [`fastlane` 1.81.0](https://github.com/fastlane/fastlane/releases/tag/1.81.0)! :tada:

[2016-04-08 20:34] #1442 closed

[2016-04-08 20:35] winkelsdorf commented on #4114
@TKBurner You're welcome! I hope this doesn't sound like being too pedantic about..

Please let me know, if I may be of any help.

[2016-04-08 20:54] winkelsdorf commented on #2762
@TKBurner You're welcome :)

I perfectly fine with saying it's a feature request, as it doesn't break the usual fastlane workflow. So, it's a low priority issue. Probably easy to fix, by letting frameit start searching in the directory where it picks up the ```Framefile.json``` (that's usually always the screenshot folder)?

I wish you the same, have a great weekend :) And thank you for taking car

[2016-04-08 21:24] cbowns commented on #1999
There's some weird (mis-)spellings of UUID here. Check the `fastlane` source before you set the UDID or UUID variable.

[2016-04-08 21:30] cbowns opened #4134 "Typo in Provisioning Profile UUID keys (from sigh)"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

`fastlane` contains a typo for environment variables and references to provisioning profile UUIDs.

Several places in the docs, this appears ([for example, in the old codesigning guide](https:

[2016-04-08 21:31] cbowns commented on #1999
(filed as https://github.com/fastlane/fastlane/issues/4134)

[2016-04-08 22:10] LizCira opened #4135 "App ID being overwritten with Team ID using gym and specifying profile path"
Using Fastlane 1.42.0 with Ruby 2.1.2 / rvm 1.26.11

We're building on Jenkins using gym, and specifying an existing provisioning profile. For legacy reasons, our bundle ID/ profile's app-ID, and the Team ID associated with the identity we're using are different. However, after compiling with gym, the values are the same.

We've seen this problem building both "QA" and "release" lanes (fastfile pa

[2016-04-09 00:43] yankat commented on #1655
@TKBurner @umut-genlik I found the cause for this issue and a workaround.
The problem is the code in snapshot() function that is waiting for the loading indicator to stop. It seems that it is just waiting endlessly even though there is no loading indicator.

Anyway, the workaround solution is to call:
`snapshot("01", waitForLoadingIndicator: false)`
This suppresses the default waitForLoadingIndica

[2016-04-09 01:24] k3zi commented on #2004
Not sure this is crashing anymore... I get this error when running match:

[code]

Which seems suitable given that you can't create a provisioning profile for development without a device added to it.

[2016-04-09 03:08] KrauseFx opened #4136 "Proposal: Make short option is optional"
[code]

[code]

As @lacostej pointed out, this is not right. In particular this is also required when building a fastlane action (not a CLI) and it would require a short option.

I'd like to remove this `user_error!` call, I just wanted to be sure I didn't forget anything.

cc @mfurtak @lacostej

[2016-04-09 05:20] tariq235 opened #4137 "How to pass password in circleci yml ?"
My YML File

[code]

where FASTLANE_PASSWORD is stored in circleci environment settings.
This is throwing me following error -
[code]

Earlier when i tried only pilot upload -c Debug --username "tariq@gmail.com"
then it was stuck at the following -

[code]

How should i pass the password using the `FASTLANE_PASSWORD` env variable ? I have tried using circleci env variable but looks like it didn't

[2016-04-09 05:46] zhengbuqian opened #4140 "Can I find the name of the certificate managed by match using command line?"
Hi awesome authors, fastlane is a wonderful tool!

#### Short version of my question:

Can `match` tell me the name of the certificate it manages? Name such as "iPhone Distribution: My Name".

#### Long version of my question:

When I am using this tool I ran into a problem so I hope that I can get some help from you, thank you!
What I want is to use command line to archive `.ipa` out of source co

[2016-04-09 05:57] lennyk commented on #749
for posterity:

it seems the way to do this is by using `project_dir`, not `gradle_path`. Updating @kaoskorobase's example:

[code]

[2016-04-09 07:07] #4137 closed

[2016-04-09 07:46] ddengler commented on #1978
First off: Thanks a lot for this awesome toolchain.

This would simplify CI and our multi client setup a lot. This remains one of our biggest pains with client work. I do not see the any issues with supporting branches for this. To clarify one point from this discussion: My intention would not be to store certs with the source code of an app, but to store all team relevant certs in a single repo (

[2016-04-09 09:40] lacostej commented on #4136
@KrauseFx I am not sure why we require `short_options`. I don't see the need to enforce it. Especially as it isn't enforced for Booleans today.

Note that removing this code would fix the rubocop warnings on my PR #4142 :)

[2016-04-09 12:01] esusatyo opened #4143 "Deliver: Can not upload binary to iTunesConnect on accounts with 2FA."
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

🔒 When using deliver with my account (2FA enabled), `deliver` spits out an error, similar to this issue: https://github.com/fastlane/fastlane/issues/1600.

Using `spaceship`, I can log in to i

[2016-04-09 12:59] Ashraf-Ali-aa opened #4144 "Support for building to simulator/device"
It would be really nice to have a tool, where QA testers could build to a device / simulator without having to open Xcode or Android studio. What I was thinking if someone managed to create a wrapper for the PhoneGap tool /Gradle tool this would speed up the time to build and test code.

https://github.com/phonegap/ios-deploy
https://github.com/phonegap/ios-sim

This is the current command am usin

[2016-04-09 15:05] RahulKatariya opened #4145 "Question: How to declare some variables in APPFILE"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I was trying to declare all the constants in the APPFILE by using environments.

[code]
The force variable is giving me error no implicit conversion of true into String
[code]

Is there anothe

[2016-04-09 16:33] bskim45 commented on #1969
any updates about this?

[2016-04-09 16:52] loufranco commented on #4108
@vpolouchkine: Done

[2016-04-09 18:10] girishnair12345 opened #4147 "[gym] Archiving fails via SSH"
When I create and archive using terminal running the following command

`gym --silent -s <TARGET_NAME> -p <XCODEPROJ_PATH> -q Debug --clean`

The build runs fine and creates an archive, but when i try to run it via an SSH the archive always fails

`ssh <USER_NAME>@<IP_ADDRESS> gym --silent -s <TARGET_NAME> -p <XCODEPROJ_PATH> -q Debug --clean`

Is there a way i can run this successfully or am I do

[2016-04-09 19:10] palaniraja commented on #1448
Yes. I still see the %20 in latest (fastlane 1.81.0) too.

![screen shot 2016-04-09 at 8 07 42 pm](https://cloud.githubusercontent.com/assets/124864/14405820/04c22846-fe8f-11e5-94cf-cb9ad9a3f18a.png)

[2016-04-09 21:23] neonichu commented on #1268
I experimented a bit on this problem today and I think there's a somewhat feasible solution, which requires a little bit of extra work for folks wanting to install `xcode-install` on a fresh system.

I have created a fork of `domain_name` without the native dependency with a much higher patch version than the currently released one. Folks which do not want the native dependency can manually instal

[2016-04-09 23:28] skywinder commented on #1984
@TKBurner thanks for the answe. so the providion ptoflr is impossible to delete. So sad, since I have 4 projects, most of all of them has Apple watch, tvos and extenstions, that require additional profile. IAnd I have to rectrate it for all of them manually again. :(

[2016-04-10 00:41] Douvi commented on #1467
Did not have the opportunity to do agin. I will let you know next week

[2016-04-10 02:47] programmin1 opened #4148 "Fastlane spaceship is inefficient when fetching app statuses"
When using spaceship as described here: https://github.com/fastlane/fastlane/blob/master/spaceship/docs/iTunesConnect.md

I can list apps just fine:
all_apps = Spaceship::Tunes::Application.all
all_apps.find_all{|app| app.name == "Name of app"}

However, if I try to filter which apps have an edit_version:
 all_apps.find_all{|app| app.edit_version }

It takes a looong time, and I have to cancel, ct

[2016-04-10 05:56] khantthulinn commented on #3886
I got the same error if I use jenkin. If I run manually from terminal, it is okay.
    from /Library/Ruby/Gems/2.0.0/gems/scan-0.5.2/lib/scan/runner.rb:31:in `block in test_app'

I got  Exit status: 70.

https://gist.github.com/khantthulinn/dcabeb68ee50abf20637b683a8a8306f

[2016-04-10 05:57] khantthulinn commented on #3368
@TKBurner Thanks. I will.

[2016-04-10 06:49] nmayafit commented on #1065
Its still an issue for me. Rather not use Shenzhen only for this tweak.

[2016-04-10 18:38] fabioknoedt commented on #1942
+1 for this feature

[2016-04-10 19:19] philipengberg commented on #1259
I still think it's a relevant improvement though!

[2016-04-10 23:31] mfurtak commented on #4136
I don't know the origin of requiring short options, but I remember it being described to me as working around a problem with Commander.

However, since then, I believe I fixed the bit that was causing problems if short options were not provided. See this commit:

https://github.com/fastlane/fastlane/commit/7f4187d628d175375a5d460d98d7b1b2bd36fa1d

Given that, I think it's OK to make them optional.

[2016-04-10 23:58] m00sey opened #4149 "Question - Scan doesn't find tests."
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I can run tests from xcode with command+u, they pass/fail as expected.

When I run them with scan I get the following success output:

[code]

When I intentionally have a failing test I get a crash with the following

[2016-04-11 02:52] kikolobo opened #4150 "Export Failed - Error Packaging up the application, Rsync failed issues"
### Issue Description
Every time I try to run fastlane the process halts with:
:> ** EXPORT FAILED **
Followed by a:
[!] Error packaging up the application

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Configuration Files

Please copy the complete content of your `Fastfile` and any other configuration files you use below:

Fastfile:
[code]

#

[2016-04-11 03:36] bassrock commented on #4072
@KrauseFx sure!

[2016-04-11 04:46] alpersenyurt commented on #4128
full error log ;

/Library/Ruby/Gems/2.0.0/gems/fastlane_core-0.41.2/lib/fastlane_core/ui/interface.rb:127:in `crash!': [!] Unable to patch the `PackageApplication` script bundled in Xcode. This is not supported. (FastlaneCore::Interface::FastlaneCrash)
	from /Library/Ruby/Gems/2.0.0/gems/fastlane_core-0.41.2/lib/fastlane_core/ui/ui.rb:14:in `method_missing'
	from /Library/Ruby/Gems/2.0.0/gems/gym

[2016-04-11 05:29] KrauseFx commented on #1259
I'm not 100% sold to be honest

[2016-04-11 08:49] s0mmer commented on #1268
Thanks @neonichu for looking into this. Using your described approach, I'm able to use `xcode-install` again in my `fastlane` setup.

[2016-04-11 08:58] neonichu commented on #1268
:beers:

[2016-04-11 09:05] esusatyo commented on #4143
Update: I've just turned off 2FA on my account and it works – I think itunes_transporter does not like 2FA at the moment.

[2016-04-11 09:14] love4soul opened #4153 "Snapshot: Device not in list of available simulators"
Hi,

I have an error `Device 'iPhone 5s' not in list of available simulators ''`. I have reset simulators several times and it didn't help, simulators list is always empty.

[2016-04-11 09:15] nikolaykasyanov commented on #1344
@vpolouchkine I have to check.

[2016-04-11 09:38] #4153 closed

[2016-04-11 09:40] TienNM opened #4154 "match entitlement error"
Step to produce the error :
1. Audio app support IAA.
2. Use match development.
3. Math does not enable IAA automatically on App ID. I have an error about the entitlement everytime i run my app.

### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Descripti

[2016-04-11 10:15] fluidpixel commented on #4145
Have you tried ENV['FORCE'] = "true" ?

[2016-04-11 11:46] krzyzanowskim commented on #3648
I'm using "match" and looks like I have similar issue, at least i looks very similar.

[2016-04-11 12:17] mindrunner commented on #4049
I am facing a similar issue here. I do not really know weather its related or not. My developer account is part of a big organization and in more than one teams. The Account does not have Admin rights, but permissions to manage the apps it is supposed to manage. Downloading provisioning profiles manually seems to  work. Also I can login to Itunes Connect AND developer portal. Though, sigh is alway

[2016-04-11 12:30] bartoszj commented on #4049
Hi @mindrunner
I've figure out what is the problem with "You are not permitted to download this certificate.". You, as a member on developer portal, are not able to download Distribution Certificate and validate provisioning profile. To make this working use `skip_certificate_verification: true` in the Fastfile or `--skip_certificate_verification` from the command line.

[2016-04-11 12:34] KrauseFx commented on #4049
@bartoszj @mindrunner This is not related to the new 2 step verification process, right?

[2016-04-11 12:36] bartoszj commented on #4049
Yes, this is another issue, not related to my original report with:
[code]

[2016-04-11 13:06] pedro380085 commented on #3607
+1

[2016-04-11 13:10] pedro380085 commented on #4150
https://github.com/fastlane/gym/issues/161

[2016-04-11 13:31] mindrunner commented on #4049
@KrauseFx No 2-Factor activated here!
@bartoszj Cheers! Will check that one out!

[2016-04-11 14:07] mfurtak commented on #4143
Hi @esusatyo - thanks for the report! :+1:

If you turn 2FA back on, generate an app-specific password on https://appleid.apple.com, and use that as your password, does it work?

[2016-04-11 14:08] ricka-github commented on #2054
I just started to use match and I'm also getting this error when trying to use a dedicated account for match. It works fine if I use my main account (which I've been using before I started with match).

[2016-04-11 14:28] mfurtak commented on #4073
Reproduced locally. :+1: I'm going to adjust the code to accept the information from the Apple Downloads binary as well.

[2016-04-11 14:32] jorystiefel commented on #4027
I do not believe the update fixed the issue. The script no longer crashes, but there are a bunch of error messages and then it says it was successful.

Notice it still says it is unable to find those two .plist files even though they do exist at those paths. I wonder if it is because these are binary plist files, not XML.

When I log into iTunes Connect, I can download the dSYMs, so they definitel

[2016-04-11 14:40] swilkeni commented on #3639
At the end of the tests, all the screenshots I programmed into the test are saved correctly in the flavor folder of whichever flavor of the app I'm running. I'll attach a screenshot of the directories to this post. As for the full output, the last build I ran is pasted below. Hope it helps. If I'm doing something silly, please let me know!

|                                   Summary for screengra

[2016-04-11 15:21] jab11 opened #4157 "sigh: authentication.failed / Your session has expired. Please log in."
sigh won't even ask for password. It works with a different account I have but not with this one that does not have email address for name. It works fine on developer.apple.com, doesn't work with fastlane. It used to work a few months back.

everything updated, fastlane 1.81.0, no Fastfile

[2016-04-11 15:28] bencollier commented on #4059
We sorted this by moving the test schema up in the list of Manage Schemes. We had some schemes with spaces in - not sure if that could be part of the problem? We moved it above them and it started working.

Similar environment, CI (Jenkins) with rbenv.

Although - might have just been coincidental...

[2016-04-11 15:41] vancex opened #4158 "[spaceship] something wrong with select_team or login"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

All is right but no "app" api when I used 0.21.0 version, but after I updated to 0.25.1 version, I login an apple id which used to generate free ceriticate by xocde, it can not get teams any m

[2016-04-11 16:15] RahulKatariya commented on #4145
Strings are working but what will happen in the fastfile - force = ENV['FORCE'] and i use it in pem(force: force).

[2016-04-11 16:44] mfurtak commented on #4072
Thanks @bassrock :+1:

[2016-04-11 16:44] #4072 closed

[2016-04-11 17:11] bgerstle commented on #2054
@ricka-github does the dedicated account you're using also have an iTunesConnect user associated with it?

[2016-04-11 17:21] aabulkhairov opened #4160 "How to tell deliver only upload specified locale?"
### Use case

I have 10 languages.
I just edited one (japanese). I want deliver to upload only japanese, so that i don't waste time uploading the other languages that are already actual.

[2016-04-11 17:23] ricka-github commented on #2054
No it doesn't. They are only Apple developer accounts. I tried once with an admin account and once as a normal account, and I get the error on both counts.

Here is the output btw:
`+-----------------------+--------------------------------------------------------------------------+
|                                     Summary for match 0.4.0                                      |
+---------------

[2016-04-11 17:55] mikecole20 commented on #1942
I would also like to see this. CircleCI also expects an xml file. I was able to work around it using `mv $CIRCLE_TEST_REPORTS/xcode/report.junit $CIRCLE_TEST_REPORTS/xcode/results.xml`

[2016-04-11 17:57] TKBurner commented on #1491
Closing, please ping and we'll reopen if you are still seeing this issue 👍

[2016-04-11 17:57] #1491 closed

[2016-04-11 17:58] TKBurner commented on #1489
@Clafou Thanks for your feedback. We are always looking to improve. Thanks!

[2016-04-11 17:59] #1460 closed

[2016-04-11 17:59] #349 closed

[2016-04-11 18:04] TKBurner commented on #4074
Thanks for following up @sprint84. We are going to look into this over here. Hope you are having a nice week 👍

[2016-04-11 18:06] TKBurner commented on #329
@almsta and @zigdanis Thanks for posting workarounds!

@vaibhavi-joshi Wanted to see if you are still running into this issue. Thanks!

[2016-04-11 18:08] TKBurner commented on #3976
@puls Let me know if you are interested in submitting a PR about this so we can expose your suggested error message. Thanks!

[2016-04-11 18:10] marcwebbie commented on #329
Worked the same for me as @zigdanis Just updated `.xcodeproj/project.pbxproj` removing the `$(SRCROOT)`

[2016-04-11 18:26] Luke-SF commented on #3481
Just wondering why this issue is "closed" when looking through the documentation it seems there is still no way to release a version?

[2016-04-11 18:28] TKBurner commented on #1996
@bgerstle Awesome! Glad to hear you are up and running. Hope that things are going well with your project 👍

[2016-04-11 18:29] mathiasnagler commented on #1978
Supporting for multiple teams with one repository would also be great for my team. @ddengler's approach seems very sensible to me, especially as it would not harm backwards compatibility.

[2016-04-11 18:32] TKBurner commented on #4122
@esusatyo Great suggestion! The team here is going to look this over and we will go from there. Thanks for working with us!

[2016-04-11 18:39] TKBurner commented on #913
@hammertoe Thanks for letting us know. Hope that you have a great week!

[2016-04-11 18:39] stueccles commented on #4157
I have the same issue with `match` 0.4

``` {"responseId"=>"3a57cd84-e207-47b0-a245-e64da7bfc07c", "resultCode"=>1100, "resultString"=>"authentication.failed", "userString"=>"Your session has expired.  Please log in.", "creationTimestamp"=>"2016-04-11T18:35:10Z", "protocolVersion"=>"QH65B2", "userLocale"=>"en_US", "requestUrl"=>"https://developerservices2.apple.com/services/QH65B2/listTeams.action

[2016-04-11 18:39] TKBurner commented on #4121
Thanks @bgerstle I'll mark this as awaiting reply so you can update in a few days. Thanks!

[2016-04-11 18:56] TKBurner commented on #1405
@LizCira Thanks for following up. I'm glad to hear you got up and running. Really glad to have you using Fastlane 👍

[2016-04-11 18:56] #1405 closed

[2016-04-11 18:57] TKBurner commented on #1518
@maxmeyers Awesome, so glad to hear you are up and running. Closing this issue out 👍

[2016-04-11 18:57] #1518 closed

[2016-04-11 19:00] TKBurner commented on #4132
Hi @qingjie, thanks for reaching out. Can you send over the full output when you run 'snapshot' on your project dir? Can you also send over your Snapfile?

Thanks!

[2016-04-11 19:02] kikolobo commented on #4150
@pedro380085 Not the same issue.

use_legacy_build_api is not an option for me.

I am seeing this issue on one computer only. I think is certificate related on running the packaging command on xcbuild after compiling. It's not the fastlane tools failing, its a process executed on xcbuild failing. I am reinstalling intermediate certificate again to see if this fixes the issue.  I did that about a m

[2016-04-11 19:09] TKBurner commented on #1508
@lacostej Thanks for following up. Opening this back up and we are going to discuss this as a feature request. Thanks!

[2016-04-11 19:15] PitchLabsAsh commented on #3934
This seems to have stopped working with a recent update.

sigh resign ./build/AssistMobile.ipa --signing_identity "iPhone Distribution: Autologic Diagnostics Limited (6BXRV5C384)" -n "match AppStore com.autologic.assistmobile"
Path to provisioning file:

If I run "sigh manage" the name "match AppStore com.autologic.assistmobile" is in list of available profiles.

If i try your other suggestion of

[2016-04-11 19:17] TKBurner commented on #2762
@winkelsdorf Thanks for following up. Really glad to have you on board as a Fastlane developer. 👍

[2016-04-11 19:21] TKBurner commented on #4134
@cbowns Thanks for pointing this out. The team here is going to look over the references. UUID usually refers to a given build and UDID is a device identifier. Thanks!

[2016-04-11 19:21] TKBurner commented on #1999
@cbowns Following up with you on your other ticket. @nickoneill Let me know how it went! Thanks 👍

[2016-04-11 19:24] TKBurner commented on #1655
@yankat Thanks for letting me know, I'm glad to hear you got up and running. @umut-genlik Are you able to get up and running with this work around?

Thanks!

[2016-04-11 19:26] TKBurner commented on #2004
@rcedwards Are you getting a crash now or the error message? Looks like this was cleared up.

[2016-04-11 19:31] rcedwards commented on #2004
Sorry I no longer have a dev account with zero devices to confirm. Thanks

[2016-04-11 19:37] TKBurner commented on #4140
Hi @zhengbuqian Thanks for reaching out. Can you send over your fastfile for this lane? You should be able to add the parameters there. Thanks! 👍

[2016-04-11 19:38] TKBurner commented on #749
@lennyk Thanks for your tip!

[2016-04-11 19:39] PitchLabsAsh opened #4161 "Cant get sigh resign to accept profile"
### Issue Description

sigh resign and fast lane resign action wont correctly locate provisioning profiles even though they are on the relevant machine.

The profile is on the machine, as can be seen here..

sigh manage
[code]

##### Complete output when running fastlane, including the stack trace and command used

fastlane appstore

[code]

### Configuration Files

Please copy the complete conten

[2016-04-11 19:40] TKBurner commented on #1978
Thanks for following up. The team here will revisit this, however due to the added complexity potentially added to Match it's not likely this will be merged. Thanks 👍

[2016-04-11 19:41] nickoneill commented on #1999
After digging into the UDID info a bit, I realized that I didn't have `$(sigh_tools.fastlane.app_development)` configured for my profiles in my project, I'm not sure if I started using Match before it was clearly stated in the docs or if I just missed it entirely while I was reading. I don't appear to require the `ENV["PROFILE_UDID"] = lane_context[SharedValues::SIGH_UDID]` line to properly swap t

[2016-04-11 19:42] TKBurner commented on #4144
@Ashraf-Ali-aa Great idea! I'll be sure to bring this up with the team. We will follow up after that.

Thanks!

[2016-04-11 19:43] TKBurner commented on #1969
@bskim45 Thanks for following up. We are still looking into this. I'll make sure the team has a look this week 👍

[2016-04-11 19:46] TKBurner commented on #4108
@loufranco Thanks for pointing this out. Can you send over some screenshots? I'm going to have the team take a look at this. Thanks for working with me 👍

[2016-04-11 19:50] dpettit opened #4162 "Error building the application: xcodebuild error SDK "iphoneos9.2" cannot be located."
### New Issue Checklist

- [ x] Updated fastlane to the latest version
- [x ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
My goal is to setup a lane that simply builds the application and uploads it to ITC.  So, I setup an "uploadbuildonly" lane in my Fastfile (see full contents below).

When I run Fastlane, I r

[2016-04-11 19:51] msywensky commented on #4157
Also failing for me in sigh.  Tried out in spaceship and am getting the same response as stueccles on the 'playground'.  Was working prior to Apple site update.  Upgraded fastlane to 1.81.0 but did not help.

[2016-04-11 19:54] TKBurner commented on #4147
Hi @girishnair12345 Thanks for reaching out. Can you send over the full output when you run gym via ssh? Thanks!

[2016-04-11 19:56] TKBurner commented on #1448
@palaniraja Thanks for following up. We are going to look this over as a team. Hope that you have a great day! 👍

[2016-04-11 19:57] TKBurner commented on #1984
@skywinder Thanks for following up. We will review this as a feature request. Check out this FR for more info - https://github.com/fastlane/fastlane/issues/4100

Thanks 👍

[2016-04-11 19:57] TKBurner commented on #1467
Thanks @Douvi I'm going to close this out until we get your update. Thanks for working with us 👍

[2016-04-11 19:57] #1467 closed

[2016-04-11 19:59] TKBurner commented on #4148
Thanks for pointing this out @programmin1! We are going to have a look and treat this as a feature request. We will update this ticket once we have more info 👍

[2016-04-11 20:02] TKBurner commented on #3886
@khantthulinn and @hartbit Thanks for following up. We are still looking into this. The info you sent over is really helpful 👍

[2016-04-11 20:04] TKBurner commented on #1942
@fabioknoedt Thanks for the plus 1. We are going to consider this over here. Have a great day!

[2016-04-11 20:06] TKBurner commented on #4136
@lacostej Let us know if you have any thoughts before we consider this as a team 👍

[2016-04-11 20:08] TKBurner commented on #4149
Hi @m00sey. Thanks for reaching out about this. Can you take a look at #3886 and let me know if this is a dupe. We are tracking an issue with scan right now in Xcode 7.3. Thanks!

[2016-04-11 20:16] TKBurner commented on #4128
Hi @alpersenyurt! Thanks for reaching out. Can you let me know if you are able to run gym from command line without getting this error? Definitely want to get to the bottom of this. 👍

[2016-04-11 20:17] TKBurner commented on #1268
@neonichu Thanks so much for stepping in on this!

@s0mmer Glad to hear you got up and running 👍

[2016-04-11 20:18] TKBurner commented on #1344
Thanks @nikolaykasyanov! I'm going to close this until we get an update. Feel free to ping once you have a chance to check. Thanks!

[2016-04-11 20:18] #1344 closed

[2016-04-11 20:19] TKBurner commented on #4153
Hi @love4soul! Were you able to get up and running? Definitely want to help you out if you are still running into any issues. Thanks!

[2016-04-11 20:21] TKBurner commented on #4154
@TienNM Great to hear from you! Can you send over the output of when you run match? Thanks for working with me! 👍

[2016-04-11 20:23] TKBurner commented on #3648
@krzyzanowskim Thanks for reaching out. Can you send over the full output of when you run 'match.' I want to have a look and see what's causing this. Thanks! 👍

[2016-04-11 20:24] TKBurner commented on #3607
Thanks for sending this over @ConfusedVorlon! The team here is going to look this over. Hope that you have a great week!

[2016-04-11 20:26] TKBurner commented on #4150
@kikolobo Thanks for reaching out. The team is going to look into this for you. Can you let me know if you managed to clear things up on your end? Thanks! 👍

[2016-04-11 20:28] TKBurner commented on #4049
@mindrunner Thanks for working with us. The team is still looking into this but we hope to have an update for you soon. Thanks for using Fastlane!

[2016-04-11 20:29] TKBurner commented on #4027
@jorystiefel Thanks for following up. We are going to look into this and will update on this thread. Thanks for using Fastlane 👍

[2016-04-11 20:32] TKBurner commented on #2054
@ricka-github Thanks for following up. We are going to look into this issue. In the meantime, can you let me know if you are getting it consistently or intermittently? Thanks!

[2016-04-11 20:36] TKBurner commented on #3639
@swilkeni Thanks for following up. We are still investigating this over here. Any reproduction steps will help us. Thanks! 👍

[2016-04-11 20:37] asfalcone commented on #4161
Can you please include versions of `fastlane_core` and `sigh`? It would also be super awesome if you could use the [ISSUE TEMPLATE](https://github.com/fastlane/fastlane/blob/master/ISSUE_TEMPLATE.md).

[2016-04-11 20:40] TKBurner commented on #4145
@RahulKatariya Thanks for following up. Were you able to use @fluidpixel's workaround?

Thanks!

[2016-04-11 20:45] TKBurner commented on #4135
Hi @LizCira. Great to hear from you again! Can you let me know the full output when you run gym? I definitely want to get to the bottom of this 👍

[2016-04-11 20:45] ollieatkinson commented on #3188
@TKBurner failure:

[code]

Success using `use_legacy_build_api`

[code]

[2016-04-11 20:47] TKBurner commented on #1065
@nmayafit Thanks for following up. We are going to take another look 👍

[2016-04-11 20:49] TKBurner commented on #519
Thanks for following up @mccarron. We are going to look into this a little more an update on this thread. Thanks for working with us and using Fastlane!

[2016-04-11 20:54] lacostej commented on #4136
@TKBurner I already answered in https://github.com/fastlane/fastlane/issues/4136#issuecomment-207759078

I don't see the need to enforce it. Remove those 3 lines! :+1:

[2016-04-11 20:54] PitchLabsAsh commented on #4161
Sorry will use the template properly in future.

sigh 1.6.1
fastlane 1.81.0

[2016-04-11 20:56] pj4533 commented on #4157
Yep...bit me as well.   Lemme know if I can do anything to help test or provide more information.

[2016-04-11 21:02] cbowns opened #4164 "meta-issue with the new issue checklist: add "chruby" to ruby env managers, clarify ruby Q&A"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

The issue template for `fastlane` asks:
"Do you use bundler, rbenv or rvm?"

This should be split into two questions:
- "Do you use bundler? y/n"
- "Do you use chruby, rbenv, or rvm to manage

[2016-04-11 21:04] pj4533 commented on #4157
I just logged into http://appleid.apple.com  and it prompted me to update my 3 security questions.  After I did that, sigh had no issues.

I was able to log into the dev center with no prompting of questions, only appleid.apple.com

[2016-04-11 21:19] msywensky commented on #4157
Thanks for tip! I logged into appleid.apple.com as well with the account. I did not need to update my security questions. Once I did this, sigh started working again.

[2016-04-11 21:51] i2amsam commented on #4049
@bartoszj could you try the steps from here?  https://github.com/fastlane/fastlane/issues/4157#issuecomment-208559847 sounds like logging in once fixed the problem.

[2016-04-11 21:53] vpolouchkine commented on #3481
@Luke-SF Thanks for the ping, we'll take a look at this.

[2016-04-11 22:01] vpolouchkine commented on #4157
@jab11 Can you logging in per https://github.com/fastlane/fastlane/issues/4157#issuecomment-208566618?

[2016-04-11 22:09] mfurtak commented on #1268
@neonichu Thanks for researching this work around. It sounds like a reasonable suggestion for now! :+1:

[2016-04-11 22:30] vpolouchkine commented on #4162
Looks like it's complaining about https://github.com/neonichu/FixCode. Perhaps @neonichu might know more?

[2016-04-11 22:35] jshier commented on #1816
We use `gym` to build optimized IPAs for Crashlytics upload, and have an issue with archives consuming all of the disk space on the Jenkins bots. Is there really no setting to prevent archiving altogether? I can see why `gym` offers it as a features, but why not make it configurable, as this option doesn't play well with CI setups.

[2016-04-11 22:38] neonichu commented on #4162
Those are only warnings that the plugin isn't being loaded because of the compatibility UUID, it is unrelated to your build failure. There's a missing SDK message, that should be the actual error.

[2016-04-11 22:43] vpolouchkine commented on #2004
Thanks for confirming! Feel free to open a new issue if you run into this again.

[2016-04-11 22:43] #2004 closed

[2016-04-11 22:47] vpolouchkine commented on #4158
Can you please share the full log?

[2016-04-11 23:28] jschneier opened #4165 "Unable to slather with Xcode 7.3 using cocoapods"
Hi.

I use a workspace and Xcode 7.3 on one of my apps and use fastlane to run slather for code coverage. The most recent version of Xcode broke this workspace support so Slather grew a `--workspace` option as of 2.1.0 (released recently). I have opened a pull request to support this option at #4109.

Let me know if I have missed anything.

[2016-04-11 23:52] robegamesios commented on #1065
question about get_build_number(xcodeproj: "test.xcodeproj"), should it get it from the info.plist Bundle version instead of Current Project Version in Build Settings?  My issue is it picks it up from Current Project Version but the Current Project Version does not pick it up from the info.plist Bundle version. And so they are out of sync.  And I don't want to keep updating the Current Projecton V

[2016-04-12 01:02] m00sey commented on #4149
Yes, apologies, it looks like a dupe.

[2016-04-12 01:02] #4149 closed

[2016-04-12 02:47] KrauseFx commented on #4100
I'm not 100% happy with this solution yet, introduces yet another file. Maybe somehow this should even be part of the `Appfile`?

[2016-04-12 02:53] dpettit commented on #4162
I was able to achieve a successful build by changing the Gym setting for sdk from "iphoneos9.2" to just "iphoneos".  I don't know if that is appropriate or not, but it seems to work ok.  Is there any further direction on this, or is there a better/more ideal solution?

Also, when I receive the html page asking if the info is ok, there are no snapshots (intentionally, as I had uploaded the screensh

[2016-04-12 02:54] KrauseFx commented on #1816
@jshier Yah, feel free to write your own clean up

[2016-04-12 03:09] vancex commented on #4158
it's at 0.25.1
[11:05:36]: >> POST: https://developerservices2.apple.com/services/QH65B2/listTeams.action
[11:05:39]: << POST: https://developerservices2.apple.com/services/QH65B2/listTeams.action: {"teams"=>[], "creationTimestamp"=>"2016-04-12T03:05:39Z", "resultCode"=>0, "userLocale"=>"en_US", "protocolVersion"=>"QH65B2", "requestUrl"=>"https://developerservices2.apple.com:443/services/QH65B2/li

[2016-04-12 04:14] ricka-github commented on #2054
I am getting this consistently.

[2016-04-12 04:54] alpersenyurt commented on #4128
Hi @TKBurner  I cant be able to run gym also from command line .I get same error too

[2016-04-12 04:55] gauravdaxini commented on #3900
Hi @TKBurner! We have been facing this issue since last month and are not been able to build the app automatically. We are using Bitrise to auto build the apps. We were able to build the apps before this issue, however suddenly, the app build stopped working at the provisioning profile creation step(Sigh). We have created a Workflow which uses the fastlane tools. Following are the errors that we r

[2016-04-12 05:07] linkrjr opened #4166 "Fastlane doesn't fetch version number"
### Issue Description

I have been trying to get my app version with the get_version_number action but it keeps returning a blank string

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Configuration Files

Please copy the complete content of your `Fastfile` and any other configuration files you use below:

Fastfile:
[code]

### Environment

fas

[2016-04-12 05:07] vaibhavi-joshi commented on #329
@TKBurner resolved issue using workaround given by almsta !
Thank you so much for the support!

[2016-04-12 06:36] petterikamppuririchie commented on #1978
I'd love to see multi team support in Match, as I've said before :) To me different folders feel like more manageable and less surprising solution, though probably more difficult to implement on top of current code.

If someone decides to refactor the tool to be more flexible in it's storage options, I think it would be very wise to decouple the storage portion (paths, repos, branches etc) from th

[2016-04-12 08:43] krzyzanowskim commented on #3648
ok 'match' alone is fine and ends with success

[code]

then when building lane it ends up with

[code]

lane configuration:
[code]

[2016-04-12 08:58] peywen commented on #2054
I got this error too. Clearing credential from cache didn't work either.

[!] Apple provided the following error info:
	authentication.failed
	Your session has expired.  Please log in.

from spaceship log:
[16:54:06]: >> GET: https://itunesconnect.apple.com/WebObjects/iTunesConnect.woa
[16:54:07]: << GET: https://itunesconnect.apple.com/WebObjects/iTunesConnect.woa:
[16:54:07]: >> POST: https://de

[2016-04-12 09:19] love4soul commented on #4153
Hi @TKBurner!
It's working now. I have restarted my Mac and error message disappeared.

[2016-04-12 09:27] tallyho42 commented on #1164
I'm having absolutely the same issue...in my case it's happening only when I use "groups" argument when running crashlytics...if i use emails, or nothing at all everything works just fine...

[code]

the resulting log is identical to the one posted by @janandre previously ...

[2016-04-12 09:36] mr-casual commented on #1816
@gavinbunney thanks ;)

[2016-04-12 10:06] NikhilRyan opened #4167 "Can we remove app using Spaceship from iTunes"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I was trying to remove the app from iTunes using Spaceship and I found that we can't edit app status i.e. "attr_reader :app_status" .
Is this possible to remove the app from sale using Spacesh

[2016-04-12 10:12] alper opened #4168 "Put show_update_message behind a flag to reduce noise"
The fastlane update message displayed by this function is causing way too much noise: https://github.com/fastlane/fastlane/blob/fa5fc3ef7ef22c9e6b760f0e15b7f2498beb151e/fastlane_core/lib/fastlane_core/update_checker/update_checker.rb#L50

Please allow for an option to mute these messages completely. We know that there is a new version.

[2016-04-12 10:52] krzyzanowskim commented on #1973
I have the same situation, please find logs below. The certificate is generated first, then can't be found.

[code]

[2016-04-12 11:28] BObereder commented on #4098
@TKBurner I was using the command right in the console
@fluidpixel I am not using match at all

I updated fastlane today to the newest version and it seems it fixed that issue. everything is working again.
Thanks for your help.

[2016-04-12 11:39] PitchLabsAsh commented on #4161
Updated original comment to use issue template

[2016-04-12 12:22] janandre commented on #1164
@TKBurner Your welcome!
@tallyho42 Thats a good hint! I will try it.

[2016-04-12 12:27] yakimant opened #4169 "slather: --ignore option is multivalued"
slather has --ignore option and it is multivalued:
https://github.com/SlatherOrg/slather/blob/885bb4a8a39b6007ce1128726b183fbd9263f4f8/lib/slather/command/coverage_command.rb

Can we have the same for fastlane action?

[2016-04-12 12:34] leonardowf commented on #3886
We were having this problem in one machine and everything was ok in another one.
With Xcode 7.2.1 scan was perfect in both machines.

After trying so many times with different ruby versions, fastlane and scan updated we decided to run scan's xcodebuild to see what was going on.

Our error 65 problem was related to the iOS Simulator in version 8.4.
Running xcodebuild with a 9.3 simulator solved the

[2016-04-12 14:01] mfurtak commented on #4164
Agreed. What do you think about the following language:

* Do you use `bundler` to execute `fastlane` (i.e. `bundle exec fastlane`)?
* Do you use a Ruby environment manager (e.g. `chruby`, `rbenv`, `rvm`)?

[2016-04-12 14:22] i2amsam commented on #2054
@ricka-github @peywen could you two logging as described in this comment?
https://github.com/fastlane/fastlane/issues/4157#issuecomment-208566618

[2016-04-12 14:23] TKBurner commented on #4169
Thanks for reaching out @yakimant. The team here will have a look at this idea and decide on next steps. Hope that you have a wonderful day 👍

[2016-04-12 14:25] jab11 commented on #4157
So my apple id was not an email address. appleid.apple.com made me change it to an actual email address and that way it works now even without adding any security questions.
I've had that account for almost 7 years and it still worked for the developer center only fastlane had a problem with it.
But yeah, solved.

[2016-04-12 14:25] bmctigue opened #4170 "xctool will not run under fastlane"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

xctool will not run under fastlane. Fastlane is updated to latest gems and xctool is also updated. xctool runs fine locally external to fastlane running the command generated by fastlane.

###

[2016-04-12 14:26] TKBurner commented on #1164
Thanks for following up @tallyho42 and @janandre. Glad we got this pinpointed to the groups argument. We'll follow up once we get a chance to investigate. I'm also going to mark this as help wanted in case someone in the community wants to have a look too 👍

[2016-04-12 14:28] TKBurner commented on #3886
@leonardowf Thanks for sharing! @khantthulinn and @hartbit can you try this workaround? We are still investigating on our end and will follow up. Thanks! 👍

[2016-04-12 14:29] TKBurner commented on #4098
@BObereder awesome! Glad to hear you are up and running. I'm going to close out this issue, but feel free to ping if you see this again 👍

[2016-04-12 14:29] #4098 closed

[2016-04-12 14:32] TKBurner commented on #4059
@bencollier Thanks for documenting your fix!

[2016-04-12 14:42] TKBurner commented on #1999
Thanks for following up @nickoneill. Glad to hear you got up and running 👍 Is anyone still impacted by the issue above?

[2016-04-12 14:53] TKBurner commented on #4149
Thnaks @m00sey!

[2016-04-12 14:55] LizCira commented on #4135
Thank you @TKBurner ! Since it's long, I'm attaching the full gym log with redacted info as a text file.

[gym_log_redacted.txt](https://github.com/fastlane/fastlane/files/215270/gym_log_redacted.txt)

[2016-04-12 14:58] TKBurner commented on #329
Awesome @vaibhavi-joshi! Glad to hear you are up and running. Going to close this issue out 👍

[2016-04-12 14:58] #329 closed

[2016-04-12 14:59] TKBurner commented on #4153
@love4soul So glad to hear you are up and running 👍 Have a great day!

[2016-04-12 15:07] CsabaSzabo opened #4171 "Supply doesn't support apk upload when multiple APKs are supported"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Supply cannot upload APK when multi APKs are used in GooglePlay

[code]

### Configuration Files

I'm calling supply from terminal and not from fastfle:

[code]

### Environment

supply

[2016-04-12 15:28] #4171 closed

[2016-04-12 15:29] CsabaSzabo commented on #4171
It can a misunderstanding of the error log, it's just a versionCode conflict, it's not an issue

[2016-04-12 15:32] vpolouchkine commented on #4158
OK, and which commands are you passing to `spaceship`?

[2016-04-12 15:36] vpolouchkine commented on #1973
@elianfish What happens if you add a device in the Dev Portal and run it again?

[2016-04-12 15:40] vpolouchkine commented on #4157
Glad to hear you're up and running!

[2016-04-12 15:40] #4157 closed

[2016-04-12 15:49] vpolouchkine commented on #1816
Looks like this is more or less resolved.

[2016-04-12 15:49] #1816 closed

[2016-04-12 15:58] hartbit commented on #3886
@TKBurner I was using a clean install of the CI server, so it only have 9.3 simulators and I am using:

[code]

Changing it to:

[code]

Did not change anything.

[2016-04-12 16:01] Zingoer commented on #2505
I think the problem is the sentence:
Add the ./SnapshotHelper.swift to your UI Test target
It will give the developer first impression to create the swift file name SnapshotHelper.swift instead of import it from auto generate fastlane folder into the project.

[2016-04-12 16:10] khantthulinn commented on #3886
@TKBurner I still got same error after I change like this (Exit status: 70)

`    scan(
      configuration: "Debug",
      scheme: "DevelopmentTest",
      device: "iPhone 6 9.3",)`

https://gist.github.com/khantthulinn/e2bd441d234053d876bc54f1a5c49ca0

[2016-04-12 16:12] bskim45 commented on #1969
@TKBurner awesome. I ll look forward to

[2016-04-12 16:13] vpolouchkine commented on #4170
I think you need to pass an xctool action. Take a look at https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Actions.md#xctool

[2016-04-12 16:15] vpolouchkine commented on #4168
Thanks for your feedback, we'll take a look.

[2016-04-12 16:17] bmctigue commented on #4170
Thanks for the response. This used to work until recently without any action. Is there an action for ocLint? I'm not using xctool for testing in this case. Again, xctool runs from the command line just fine with no action.

[2016-04-12 17:08] antonm76 commented on #1790
Any news on that? I'm trying to use match and experiencing this error:

`Verifying that the certificate and profile are still valid on the Dev Portal...
[20:04:06]: 🔒  Successfully encrypted certificates repo
[20:04:06]: Variable Dump:
[20:04:06]: {:DEFAULT_PLATFORM=>:ios, :PLATFORM_NAME=>:ios, :LANE_NAME=>"ios match_development"}
[20:04:06]: {"responseId"=>"bfc432c6-c65e-4450-bbfc-3f944028ef54",

[2016-04-12 17:19] antonm76 opened #4172 "fastlane.match: authentication.failed error occurs"
### New Issue Checklist
fastlane 1.81.0
match 0.4.0

### Issue Description
Authentication error occurs when trying to init match either via fastlane or directly via match.

##### Complete output when running fastlane, including the stack trace and command used

[code]

[2016-04-12 17:20] ricka-github commented on #2054
Simply logging in to appleid.apple.com as described in that comment fixed it for me. Thanks.

[2016-04-12 17:53] jshier commented on #1816
Not really, unless you find one of the various workarounds acceptable. I really don't but I need to write one anyway. I still don't understand why making archiving an option is unacceptable here?

[2016-04-12 18:10] bartoszj commented on #4049
Hi,
I had to add my "Jenkins" Apple ID to the iTunes Connect to fix this issue. Right now I'm not able to reproduce this issue anymore, so lets assume that #4157 fixes my problem. If I have this issue once again I'll just reopen or create new task.

Thanks for your time and help ;)

[2016-04-12 18:10] #4049 closed

[2016-04-12 18:25] girishnair12345 commented on #4147
Hi,

Here is the drop box link, I have created a small Hello World project and attached both the logs
https://www.dropbox.com/s/342mz5li5pi4na5/Executed%20Files.zip?dl=0

My most probable guess is that terminal is not able to access the key chain, hence its not able to access the certificates.
But if that is the case then can i use sigh with gym to automatically create or download provisioning pro

[2016-04-12 18:34] mfurtak commented on #4073
Hi @gbegen - I have merged #4159 to address this, so it should go out in the next release! :rocket:

[2016-04-12 18:49] fcy commented on #4059
I'm having the same problem with a similar environment, my CI is TeamCity and I don't use rbenv (only Bundler). +1000 for timeout+retry

Also the logs should print the command that is being run, instead of the previous one.

[2016-04-12 18:49] bartoszj opened #4173 "Added support for carthage `--derived-data`"
- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Hi,
Since `carthage 0.16` there is a new option, `--derived-data`. I've added support for this option to the `carthage` and `setup_jenkins` actions.

There is already support for derived data folder in the `gym`, `sca

[2016-04-12 18:56] fcy commented on #4059
Should this issue be closed since it is now a feature request?

[2016-04-12 18:59] loufranco commented on #4108
Screenshot:
![ipadpro-10-home](https://cloud.githubusercontent.com/assets/534999/14471976/13f017d8-00bf-11e6-9d59-d9d24e1fa6e6.png)

Framed:
![ipadpro-10-home_framed](https://cloud.githubusercontent.com/assets/534999/14471975/13efe222-00bf-11e6-907d-de7d47c9569f.png)

[2016-04-12 19:18] bartoszj opened #4174 "`scan` support for multiple device / destination"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Hi,

Currently `scan` tool is able to execute tests only on one device / simulator. It would be nice to provide list of `device`s and/or list of `destination`s. `xcodebuild` already provides s

[2016-04-12 19:28] dpettit commented on #4162
After reviewing the documentation again, since I want to avoid deleting existing ITC screenshots, and upload only the .ipa, I revamped my uploadbuildonly lane to only include the following:

-------------------------------------------------
  desc "Deploy a new version of the BUILD ONLY (no metadata) to the App Store"
  lane :uploadbuildonly do
        match(type: "appstore")
        gym
        d

[2016-04-12 19:30] brockboland commented on #4169
@yakimant if you pass an array, this works as expected. I'm using it like this:

[code]

[2016-04-12 19:42] tabuchid commented on #4166
I think I'm hitting this also. Working on verifying but I get the version to create a tag and that started failing today.

[2016-04-12 19:56] TKBurner commented on #4161
@PitchLabsAsh Hi, It looks like your provisioning profile is set wrong. Are you sure you mean to set it as:

provisioning_profile: "match AppStore com.autologic.assistmobile"

[2016-04-12 19:57] TKBurner commented on #4165
@jschneier Thanks for reaching out and for following the steps for a pull request. We'll have a look as a team and provide some feedback. Hope that you have a great week 👍

[2016-04-12 20:01] TKBurner commented on #4167
@NikhilRyan Thanks for reaching out. Right now it's not possible, but the team here will review this as a feature request and provide feedback. Thanks!

[2016-04-12 20:03] TKBurner commented on #2054
Awesome @ricka-github! Thanks for letting us know. I'm going to close this issue out, but if anyone is still affected after trying to log in to https://appleid.apple.com/ once with the email address they are using let us know. 👍

[2016-04-12 20:03] #2054 closed

[2016-04-12 20:04] asfalcone commented on #4165
I just merged #4109! This will be in the next release of fastlane.

[2016-04-12 20:07] TKBurner commented on #3648
Hi @krzyzanowskim! Thanks for following up. When you run Match alone, what parameters are you adding? It looks like if you remove force: false this might clear things up. Thanks!

[2016-04-12 20:08] PitchLabsAsh commented on #4161
If you look at the output of sign manage that is the name that match generated.

sigh manage
[code]

[2016-04-12 20:10] TKBurner commented on #1978
@petterikamppuririchie Thanks for following up. If you or the community are interested, it'd be great to fork Match. If your solution catches on, we could obviously consider merging later.

[2016-04-12 20:12] TKBurner commented on #4166
Thanks for reaching out @linkrjr  and @tabuchid. We are going to look into this over here. Can you provide the full output @tabuchid? @linkrjr Do you get an error after that line you shared of output?

[2016-04-12 20:13] qzhao-retrieve commented on #4132
Sorry, I have downgrade my xcode7.3 to 7.2.1
I do not have that right now.

[2016-04-12 20:15] #4165 closed

[2016-04-12 20:15] TKBurner commented on #3900
Hi @gauravdaxini! Thanks for following up. Can you let me know if you've reviewed the information here:

There are no local code signing identities found. You can run `security find-identity -v -p codesigning` to get this output. This Stack Overflow thread has more information: http://stackoverflow.com/q/35390072/774. (Check in Keychain Access for an expired WWDR certificate: http://stackoverflow.

[2016-04-12 20:17] TKBurner commented on #4128
@alpersenyurt Thanks for following up! We are going to look into this over here! 👍

[2016-04-12 20:20] TKBurner commented on #4158
@vancex Thanks for following up. We are going to look into this over here and follow up soon 👍 Let me know if you discover anything on your end while investigating. Thanks!

[2016-04-12 20:22] TKBurner commented on #4162
Hi @dpettit! Can you send over the full command you are using for gym with parameters? I want to have a look. Thanks!

[2016-04-12 20:23] tabuchid commented on #4166
I get a crash report number of `34267786b3db6c9ad61252f82634b1e0`
[code]

[2016-04-12 20:27] TKBurner commented on #1065
@robegamesios Thanks for following up. We are going to have a look as there have been a couple reports recently 👍

[2016-04-12 20:31] TKBurner commented on #3188
@ollieatkinson Have you tried use_legacy_build_api?

[2016-04-12 20:32] TKBurner commented on #3934
@PitchLabsAsh Thanks for following up. We are going to have a look into this and see what could be causing it?

[2016-04-12 20:34] TKBurner commented on #4160
Great question @aabulkhairov! I'm going to circle back with the team and see what we can do 👍

[2016-04-12 20:36] jshier commented on #1816
Just FYI, created this function to cleanup the archive:
[code]

[2016-04-12 20:38] GantMan commented on #3735
I have this as well.  It fails for a newer app, but works on another one.   Interesting.

[2016-04-12 20:41] dpettit commented on #4162
desc "Deploy a new version of the BUILD ONLY (no metadata) to the App Store"
lane :uploadbuildonly do
match(type: "appstore")
gym
deliver(
skip_metadata: true,
skip_screenshots: true,
submit_for_review: false,
force: false
)

[2016-04-12 20:48] ollieatkinson commented on #3188
@TKBurner I posted both logs above didn't I? use_legacy_build_api does produce a successful build

[2016-04-12 21:05] GantMan commented on #3735
FYI:  787469c2645f95569b870c2c80662507 is the crashlog

[2016-04-12 21:17] jcampbell05 opened #4176 "Unhelpful error when setting ENV to true."
When setting an ENV to `true` I get this ruby error in the sentry log:

[code]

Fastlane spits out a huge stack trace instead of giving a nicer error for this, in this case it would be nice if it was shown like this:

[code]

[2016-04-12 21:19] tabuchid commented on #4166
Verified that my issue doesn't occur in version 1.80 but does in 1.81
Potentially related to https://github.com/fastlane/fastlane/commit/d95adbc306f0fd214795f4827e372c8e36143793 which changes `get_version_number` to take in a scheme.

[2016-04-12 21:21] lacostej opened #4177 "deliver init affected by spaceship change: file name contain prefix and md5"
deliver init is affected by 6accb69b638a4423c69a77040f00182b51ccb050.

The change causes downloaded screenshots to contain the prefix and hash added by spaceship. E.g. of downloaded file name

1_ipadPro_1.ftl_68d4c4b643e9d15a00b716efXXXXXXXX_original_file_name

The problem is here:

https://github.com/fastlane/fastlane/blob/9c0494ef5e7d71afc51c73fe0b141b02e8991d9c/deliver/lib/deliver/download_scre

[2016-04-12 21:29] justin opened #4178 "Upload zip files to S3?"
As part of our deployment process, we upload and archive the xcarchive generated by Xcode as a zip file to S3. I don't believe this is possible currently with the S3 action. It'd be great if there was a file path option of some sort that we could use to provide what we want to upload and where in the bucket it should go.

[2016-04-12 21:32] asfalcone commented on #4166
@tabuchid The stacktrace associated with that crash report blames `add_git_tag`. Can you include your Fastfile for reference? Also, try running the full generated command that you pasted, in your terminal and see if that helps reveal the error!

[2016-04-12 21:39] tabuchid commented on #4166
@asfalcone `add_git_tag` crashes because I'm passing forward the bad value I'm getting out of `get_version_number`
Was able to get at 80 vs 81 comparison hitting the action from the command line

v81 output
[code]

v80 output
[code]

[2016-04-12 21:43] tabuchid commented on #4166
One more example
v81 passing scheme as well
[code]

[2016-04-12 23:15] asfalcone commented on #4166
Thanks @tabuchid for the deets! :+1:

[2016-04-12 23:23] cbowns commented on #1999
@TKBurner I think I'd lobby for some docs updates around this: there's a lot of conflicting and confusing info about provisioning floating around in the new and old `fastlane` and `match` repos. I'd be happy to help write 'em.

[2016-04-12 23:23] cbowns commented on #4164
👍  seems good!

[2016-04-12 23:42] akaralar opened #4179 "Using gym with the profile and certificate created with match in a lane"
I have these two lines in my Fastfile as part of a lane:

    match(type: "appstore", app_identifier: identifier)
    gym(scheme: "VindePass", configuration: "Release", clean: true, include_symbols: true, output_directory: "./build")

For this to work properly I have to select the correct profiles and certificates in the Xcode project settings. Another option is to pass the provisioning profile an

[2016-04-13 01:00] chrisballinger opened #4180 "deliver not loading all languages or metadata"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

When migrating from an older version of deliver, I can't seem to get all of my language metadata to upload anymore. The metadata directory structure from the two versions seems to be identical

[2016-04-13 01:13] linkrjr commented on #4166
@TKBurner,

I don't get an error per se, I just don't get any value out of that method.

[2016-04-13 01:49] peywen commented on #2054
Awesome! This really fixed my issue, too. Thanks.

[2016-04-13 03:48] jpmcglone opened #4181 ""Could not find latest API Key from the Dev Portal - the server might be slow right now""
I'm getting this on Circle CI when running cert, but not locally.
"Could not find latest API Key from the Dev Portal - the server might be slow right now"

[code]

This works locally, and I'm guessing it's because its finding the cert in the cache.

I need it to work on Circle though. Any help would be GREATLY appreciated :D Did something change with the way you guys retrieved the API?  Does Circl

[2016-04-13 05:05] KrauseFx commented on #4157
Thanks @pj4533 for providing a solution that seem to work for most users. I still have to reproduce the issue to show an appropriate error message when that happens.

[2016-04-13 05:31] KrauseFx commented on #1790
@antonm76 You didn't share your stack trace, which makes it hard to help you. Please try to manually login on https://appleid.apple.com/, you probably get a prompt there

[2016-04-13 05:31] KrauseFx commented on #1790
Duplicate of https://github.com/fastlane/fastlane/issues/1790#issuecomment-209010457

[2016-04-13 05:35] KrauseFx commented on #4181
I can't reproduce this error. Does it work locally for you? Could you run the `cert` directly using `cert --verbose` to get a more detailed output?

[2016-04-13 05:43] KrauseFx commented on #4179
Sure, check out the docs here https://github.com/fastlane/fastlane/tree/master/match#setup-xcode-project

[2016-04-13 05:51] codesourse opened #4183 "Can I make a suggestion"
Do these features a MAC applications，it maybe more convenient.

[2016-04-13 06:24] KrauseFx commented on #4183
Thanks for the suggestion, this is definitely something we consider. It's not as easy as it sounds, but we'll think about the best way to do this :+1:

[2016-04-13 06:24] #4183 closed

[2016-04-13 07:10] KrauseFx commented on #4027
@jorystiefel Could you provide the crashlytics API key manually using
[code]

[2016-04-13 07:10] KrauseFx commented on #4027
The error message is basically just an issue with parsing your Info.plist file, which contains the crashlytics token.

[2016-04-13 07:10] KrauseFx commented on #4027
You can also pass the token using the environment variable `CRASHLYTICS_API_TOKEN`

[2016-04-13 07:12] KrauseFx commented on #4134
Thanks for letting us know. I know I made this mistake back in the days, and it's all across the code base. Things like the SIGH_UDID are actually aliases already as far as I know. I'm unsure about how important it is to change this, since it has to stay backwards compatible, to not break any existing setups. I don't think it's worth spending the time on changing this.

[2016-04-13 07:43] KrauseFx commented on #4172
It seems like that's a duplicate of https://github.com/fastlane/fastlane/issues/4157#issuecomment-208559847, could you check if the solution works for you?

[2016-04-13 07:44] niklassaers opened #4186 "Feature request: match nuke adhoc"
At the moment, "match nuke" can choose between development and distribution. Match handles adhoc distribution fine separately from app store distribution, so it'd be really nice if it could also handle this in "match nuke", for instance as "match nuke adhoc"

[2016-04-13 07:45] KrauseFx commented on #519
@mccarron Jumping in on this: do you use a Gemfile and a Gemfile.lock? How do you run fastlane? Using bundle exec? Can you share your circle.yml and Gemfile?

[2016-04-13 09:10] KrauseFx commented on #4176
Please share your configuration file (e.g. `Fastfile`) and command you used to execute this. I don't know where there error comes from.

[2016-04-13 09:11] KrauseFx commented on #1999
@cbowns Thanks for the feedback. If you could submit a separate issue with links to the outdated docs, or maybe even a PR updating the docs, that would be of great help! :+1: Thanks!

[2016-04-13 09:24] KrauseFx commented on #4186
This is by design, since the distribution certificate is shared between Ad Hoc and App Store

[2016-04-13 09:24] #4186 closed

[2016-04-13 09:33] jcampbell05 commented on #4176
@KrauseFx  I'll open a new more helpful issue!

[2016-04-13 09:33] #4176 closed

[2016-04-13 09:35] KrauseFx commented on #4176
Thanks :+1:

[2016-04-13 09:36] KrauseFx commented on #1816
If you read the description of `gym`, it's designed to build and sign ipa files. Thanks for sharing your script

[2016-04-13 09:48] BouGi commented on #1664
I have exactly the same problem :(.. Updated snapshot to latest 1.12.1, Xcodes latest update 9.3... Have anyone found solution for this?

[2016-04-13 10:07] krodak commented on #1762
This happens also for non-enterprise accounts.
For some of the projects I'm using `match`, but some legacy ones are using `cert` + `sigh` and this lane fails, even though there are 2 certificates created and I'm able to add provisioning profiles manually:

[code]

[2016-04-13 12:10] antonm76 commented on #4172
We were using just a word for our team's AppleID, changing it to email and setting security questions solved the problem, thank you.

[2016-04-13 12:11] #4172 closed

[2016-04-13 12:27] truth3 commented on #1905
It seems Apple is now asking for the beta information for all languages (what to test, description, feedback email, marketing URL). Having the same abilities as Deliver to deal with localization would be amazing.

[2016-04-13 12:42] yakimant commented on #4169
Thanks, @brockboland! It's working!

[2016-04-13 12:54] BouGi commented on #1664
Setting up brand new Xcode project with transferring all classes helped, now it works.

[2016-04-13 13:57] ddengler commented on #1978
@TKBurner we will probably give this an internal trial period and post the fork here, if we are satisfied and able to maintain a fork properly. Release cycle of match seems manageable compared to fastlane itself.

[2016-04-13 13:58] TKBurner commented on #4169
Thanks @brockboland for posting this solution 👍 Glad to hear you are up and running @yakimant. I'm closing this issue out.

[2016-04-13 13:58] #4169 closed

[2016-04-13 14:07] TKBurner commented on #4172
@antonm76 Thanks for following up. Glad to hear you got up and running 👍

[2016-04-13 14:13] TKBurner commented on #1664
@BouGi Glad to hear you got up and running! Hope that you have a great day! Closing out this issue 👍

[2016-04-13 14:13] #1664 closed

[2016-04-13 14:32] TKBurner commented on #4179
@akaralar Let us know if you have any other questions. Closing out this issue for now. 👍

[2016-04-13 14:32] #4179 closed

[2016-04-13 14:36] joshrlesch opened #4190 "Run android instrumented tests[new feature]"
In our CI work flow for our Android app, we have a couple different types of automated tests. Unit tests, instrumented unit tests and integration tests. The instrumented unit tests and integration tests rely on an actually emulator to be running in order for them to run as they run against the app and not just in the jvm.

I already created a custom action that we use that creates a new avd, boots

[2016-04-13 14:59] #4164 closed

[2016-04-13 15:08] TKBurner commented on #4073
@gbegen I'm going to close this issue out. Update us after the fix goes live if you still are running into any issues 👍

[2016-04-13 15:08] #4073 closed

[2016-04-13 15:08] TKBurner commented on #4049
@bartoszj Thanks!

[2016-04-13 15:48] mccarron commented on #519
Yes using those, attached below. And yes we are executing fastlane with `bundle exec fastlane circle`. That runs our special `circle` lane that checks which branch we are on and acts accordingly. This way we can also do test only builds with Fastlane vs Circle's tests and thusly save some build time.

**Gemfile**
[code]
(the last two were because of people noting both of these need to be updated t

[2016-04-13 15:54] marcomorain commented on #519
Hi Patrick,

I'm the one that set GYM_USE_LEGACY_BUILD_API to true by default on
Circle.  I made this the default because  gym would crash in the manner
you describe here every time without it.

Like you, I have no idea why gym crashes without it.

Marc

On Wed, 13 Apr 2016, at 16:48, Patrick McCarron wrote:

[2016-04-13 16:35] mccarron commented on #519
@marcomorain Sadly setting GYM_USE_LEGACY_BUILD_API to true makes Swift apps 4x bigger. 90MB vs 22MB. That really kills using Circle for Production deployment for us doing Enterprise deployment, AppStore deployment will strip the builds down considerably but not Enterprise distribution.

The crash seems to do with a gem conflict between p648 Ruby that you have installed on the containers and syste

[2016-04-13 16:53] mindrunner opened #4192 "Best Practice for exporting Frameworks"
I have a fastlane Project containing only an iOS Framework. No executable app. I want to export this framework for distributing the binary without the source code. What is the best practice here? I am calling

 with

 and

 with

Gym seems to always create an ipa-file, but I think this is not what I want. I think I just need some kind of zip-archive. Is fastlane/gym supporting this?

[2016-04-13 17:25] cbowns commented on #4134
I'll track doc updates in a new issue (stemming off of #1999). thanks!

[2016-04-13 17:25] #4134 closed

[2016-04-13 17:50] pavm035 opened #4193 "git_last_tag returns tag from any branch!"
Hi,

When I was checking change log from the current branch it was giving wrong logs, later found that change log computed based on last tag irrespective branch you are on, say I have branch A and B, on A there is tag 1,2 on B tag is 3,4. Next switch to branch A and ask for git_last_tag which should return 2 but it returns 4 which is wrong.

[2016-04-13 17:56] pavm035 opened #4194 "git_last_tag returns from any branch!"
Hi,

When I was checking change log from the current branch it was giving wrong logs, later found that change log computed based on last tag irrespective branch you are on, say I have branch A and B, on A there is tag 1,2 on B tag is 3,4. Next switch to branch A and ask for git_last_tag which should return 2 but it returns 4 which is wrong.

[2016-04-13 18:27] TKBurner commented on #1905
@truth3 Thanks for following up on this. I'll make sure we talk about this as a team and update the thread as relevant. Thanks!

[2016-04-13 18:29] TKBurner commented on #519
@mccarron Thanks for following up on this 👍 We're going to have a look.

[2016-04-13 18:32] TKBurner commented on #4180
@chrisballinger Thanks for reaching out. Can you run deliver with the verbose flag so I can have a look at the output? deliver --verbose 👍

[2016-04-13 18:33] TKBurner commented on #4178
@justin Thanks for reaching out. We'll review this as a feature request and update this thread as relevant. Hope that you have a great day! 👍

[2016-04-13 18:35] TKBurner commented on #4177
@lacostej Always great to hear from you! We'll review this thread before going forward with your pull request. Let us know if you have any other details you want us to think about before approving the discussion of the pull request. 👍

Thanks!

[2016-04-13 18:37] TKBurner commented on #3735
Hi @GantMan. Great to hear from you. Can you try logging into  https://appleid.apple.com/ once with the email address associated with this app? This seems like it could be related to an issue we are seeing. Thanks!

[2016-04-13 18:38] TKBurner commented on #4174
@bartoszj Thanks for sharing this. I'll let the team know what you are thinking about and we'll discuss here before giving you the go ahead to create a PR. Thanks!

[2016-04-13 18:39] TKBurner commented on #4108
@loufranco Thanks for sharing! We are going to have a look over here and will update this thread. Hope that you have a great day! 👍

[2016-04-13 18:42] TKBurner commented on #4059
@fcy Thanks for following up. We'll review this as a team and reply to it as a feature request. Hope that you have a wonderful week!

[2016-04-13 18:43] TKBurner commented on #4173
@bartoszj Great to hear from you! We are going to review this as a feature request and then update this thread. Hope you have a great day!

[2016-04-13 18:46] TKBurner commented on #4147
@girishnair12345 Thanks for following up. What happens if you run cert and sigh before you run gym here? It seems like you having issues with your codesigning identity on your remote computer.

[2016-04-13 18:46] fcy commented on #4059
Forgot to mention that none of the fixes worked for me. It happens constantly I the only that works for me is re-run the CI build.

[2016-04-13 18:48] TKBurner commented on #4170
Hi @bmctigue! Thanks for following up. Can you run xcode-select -v and send me the output?

Thanks!

[2016-04-13 18:49] TKBurner commented on #3886
@khantthulinn and @hartbit Thanks for following up. We are going to investigate this a little more over here and circle back 👍

[2016-04-13 18:54] TKBurner commented on #4135
Hi @LizCira Thanks for following up. Can you let me know if you are building for the right architecture:

This seems to be the relevant part of your logs 👍

 /var/folders/_m/zy6xc12n7bxd8r4lhg1q8btc0000gn/C/com.apple.DeveloperTools/7.2-7C68/Xcode/SharedPrecompiledHeaders/AdManager_Prefix-btarjrgftcixbbfqxhszsjbcxsvy/AdManager_Prefix.pch.pch: No object file for requested architecture

[2016-04-13 19:00] asfalcone commented on #1969
We acknowledge that Supply doesn't work properly on Windows but don't currently have an estimate for when that would be addressed. Thanks.

[2016-04-13 19:01] bmctigue commented on #4170
Here you go...

xcode-select version 2343.

[2016-04-13 19:05] asfalcone commented on #4193
Dupe of #4194

[2016-04-13 19:05] #4193 closed

[2016-04-13 19:18] girishnair12345 commented on #4147
I can't save type the password as it shows
`stty: stdin isn't a terminal`
and I have already mentioned I don't think its the availability of certificates or provisioning profile but the access limitation that is being placed to access private stuff it seems. Can you put an extra argument as` --auto` so that it should automatically download the required certificates or provisioning profiles without

[2016-04-13 19:23] martinohman opened #4195 "Configure Scan with Slack username / icon"
Feature request for more configuration options relating to Slack output from Scan.

I am currently trying to setup an environment where I want to make it so that:
- Messages use the current app's icon as the slack icon
- Messages use a username prefixed by the current app's name / other unique string

This isn't possible currently since both the username and icon are hardcoded for Scan (unless I'm

[2016-04-13 19:51] mfurtak commented on #1448
I have reproduced this problem locally for file names that contain `%20`

[2016-04-13 20:13] mfurtak commented on #1448
I've also verified that `deliver` is not responsible adding `%20` to the file names.

[2016-04-13 20:42] asfalcone commented on #3888
There's a PR open for this #3940 but it needs tests. Is anyone able verify the fix in that PR and to help @sikolo out by writing up a few tests for that PR so we can get it merged?

[2016-04-13 21:13] wrightak commented on #1678
@TKBurner @ClementPadovani Thank you for the reply and for offering a work around. I looked through your code and I don't think the costs associated with integrating something like that are worth the pay off. My app is 100% in Swift. It appears that you're using preprocessor macros and a variety of classes (and some private APIs?) to replace the location manager.

[2016-04-13 21:51] mkeiser commented on #1234
Yes. Does that mean it works for other people?

[2016-04-13 22:10] jpmcglone commented on #4181
Well, the issue only happens when it runs on Circle (and I don't want to risk clearing my caches locally, as its the easiest way for me to push our build).

Is there a way to run just the cert portion of my fastlane w/ verbose on circle?

[2016-04-13 22:12] lemonkey commented on #1499
Still seeing it with 0.1.3 (mainly for apps that haven't had builds in the queue for some time).

[2016-04-14 01:48] cwmacken opened #4197 "Fastlane failing at step gym, getting Exit Status: 65, CodeSign build commands failing"
Hey all,

Sorry if this is a dumb question but this is my first go with fastlane.

I’ve matched up with my coworker but something is blocking my ability to build the app with gym and push it to testflight

I’m running the command:

    fastlane ios beta

and the process is failing in gym, the error is the following:

    The following build commands failed:
	CodeSign /Users/cm/Library/Developer/Xc

[2016-04-14 02:30] pjchavarria commented on #281
+1 Great feature 👏🏻

[2016-04-14 04:01] RahulKatariya commented on #4145
I think my question is misunderstood. My Fastfile is on git https://github.com/RahulKatariya/fastlane. So in local projects i import Fastfile from git. In AppFile i declare all the constants for my workflow. Somehow i am not able to set a Boolean value in the ENV in AppFile.

[2016-04-14 06:47] sovithia opened #4198 "Issue retrieving API KEY (portal_client.rb:31:in `api_key')"
Had that :

/Library/Ruby/Gems/2.0.0/gems/spaceship-0.23.0/lib/spaceship/portal/portal_client.rb:31:in `api_key': [!] Could not find latest API Key from the Dev Portal - the server might be slow right now (RuntimeError)

I figured out apple moved the location of its file and give a 302 redirect on url :
https://developer.apple.com/membercenter/index.action used in portal_client.rb line 20.
Had the

[2016-04-14 06:47] #4198 closed

[2016-04-14 09:33] fluidpixel commented on #3841
I've been looking at bit at this, as I recently had to reject ~30 builds manually before I could use fastlane to successfully re-submit a new build of each app.

Here's the call iTunes connect uses to reject an app that's waiting for submission:
`$http.post(global_itc_path + '/ra/apps/' + adamId + '/versions/' + versionId + '/reject')`

Excuse my ignorance as I've only been playing with the projec

[2016-04-14 10:12] afehners commented on #1516
All fixed now 👍🏻 🚀

[2016-04-14 10:34] alper commented on #3968
@dpettit I'm having the same issue as you and I'm trying to remove everything relevant from my keychain but it doesn't work. Do you have more information?

[2016-04-14 11:14] mindrunner commented on #914
I think we should reopen this. I am facing exactly the same problem and it would be nice to have some kind of solution here.

[2016-04-14 11:22] MattCheetham opened #4202 "Passing array of launch arguments to snapshot command line does not work"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
I'm trying to pass launch arguments to the command line tool as an array. This is so that the snapshots will be run with each of the objects separately as detailed in the documentation. I tried

[2016-04-14 11:33] osrufung commented on #4197
Hi! same problem here with this Gym configuration:
[code]

BTW, @cwmacken ... when you build in Xcode, some warning or error (non blocker) appears? We suspect from the "Loop not vectorized: cannot prove it is safe to reorder memory operations" error (Xcode 7.3)

[2016-04-14 12:26] alper opened #4203 "Certificate has either expired or has been revoked"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I'm reopening this issue: https://github.com/fastlane/fastlane/issues/3968

We have setup match for our team but on my computer I cannot get our app to run on my iPhone anymore.

Trying to do

[2016-04-14 12:47] Dahlgren commented on #4181
Probably related to #4113 which is resolved by #4115. Solved the issue with `Could not find latest API Key from the Dev Portal` for me.

[2016-04-14 13:14] TKBurner commented on #4203
Hi @alper! Hope you are doing well. Have you run match nuke? Thanks!

[2016-04-14 13:16] TKBurner commented on #914
@mindrunner Thanks for following up. We are going to review this as a feature request and then update this thread. Thanks for working with us! 👍

[2016-04-14 13:16] alper commented on #4203
Heya! I did do a **match nuke development** but since the issue seems to be that my Xcode doesn't see the correct certificates (which match does pass around) that didn't help either.

[2016-04-14 13:17] TKBurner commented on #3968
@alper I've followed up with you on #4203. Thanks!

[2016-04-14 13:17] TKBurner commented on #1516
@afehners Glad to hear you are up and running. I'm going to go ahead and close this out. Hope you have a wonderful day! 👍

[2016-04-14 13:17] #1516 closed

[2016-04-14 13:19] TKBurner commented on #4198
@sovithia Thanks for sharing. I'll make sure the team has a look at this 👍

[2016-04-14 13:31] TKBurner commented on #4190
@joshrlesch Great to hear from you! Are you proposing that you could implement this? It's an interesting idea. I'd love to get some community feedback before we consider it here. I'm going to mark this as help wanted so some of our frequent contributors can cruise in and have a look. Thanks! 👍

[2016-04-14 13:34] TKBurner commented on #4192
Hi @mindrunner! Great to hear from you. Right now gym is not built to export this type of file. Let me know if you have any other questions. Closing this out for housekeeping purposes. Thanks!

[2016-04-14 13:34] #4192 closed

[2016-04-14 13:36] TKBurner commented on #4194
Hi @pavm035! Great to hear from you. Can you send over the exact repro steps with the commands you are entering. Also, send over the output of the results so I can have a look. Thanks!

[2016-04-14 13:39] TKBurner commented on #4059
@fcy Thanks for following up 👍 We'll follow up here with relevant updates.

[2016-04-14 13:41] joshrlesch commented on #4190
I am. I have the PR ready, just wanted to reach out to the peeps before opening it.

[2016-04-14 13:42] TKBurner commented on #4170
@bmctigue Thanks for following up. We're going to look into this over here. I'm going to mark this as help-wanted in case anyone from the community has advice!

[2016-04-14 13:44] TKBurner commented on #4128
dupe of #4170. Hi @alpersenyurt  I'm going to mark this a dupe of 4170, close this ticket, and flag the other one to make sure it gets looked over 👍

[2016-04-14 13:46] mindrunner commented on #4192
Cool, thanks for the answer. Our workaround now is to call

instead of

Cheers

[2016-04-14 13:46] TKBurner commented on #4147
Hi @girishnair12345. Can you make sure that your SSH user has access to the keychain on your remote computer? Thanks!

[2016-04-14 13:51] TKBurner commented on #4195
@martinohman Thanks for reaching out. We are going to review this as a feature request and update on this thread. Hope that you have a great day! 👍

[2016-04-14 13:55] TKBurner commented on #1678
@wrightak Thanks for following up. I'm going to make sure we look this over. We'll update on this thread 👍

[2016-04-14 13:56] TKBurner commented on #1234
Thanks @mkeiser! I'm going to look into this a little bit more and follow up with you 👍

[2016-04-14 13:57] TKBurner commented on #1499
@lemonkey Thanks for reaching out. Can you send over your full output and the full command you are running before getting this error? Thanks!

[2016-04-14 13:59] freynolds opened #4204 "Match/sigh question how to set build setings for adhoc and appstore"
Hi, I'm having to change provisioning profile release from $(sigh_<bundle_identifier>_adhoc) to $(sigh_<bundle_identifier>_appstore) in several apps we use this two ways so I can send an update to a client (without any delay) and upload to the appstore in the same process.
Is there any way to change this so I can have just one variable in the Release field and fastlane use one or the other?

My re

[2016-04-14 14:00] TKBurner commented on #4145
@RahulKatariya Thanks for following up. I'm going to look into this a little more. We'll update this thread. Thanks! 👍

[2016-04-14 14:03] TKBurner commented on #3841
@fluidpixel Thanks for following up. Have you had a chance to test out this change?

Thanks!

[2016-04-14 14:07] fluidpixel commented on #3841
@TKBurner Afraid not, I wasn't certain it was the correct approach, so that's as far as I got.

[2016-04-14 14:09] TKBurner commented on #4202
@MattCheetham Have you tried passing it as -languages?

[2016-04-14 14:10] TKBurner commented on #4197
@cwmacken and @osrufung Thanks for reaching out about this. The team is going to have a look. Do you run into this same issue when you run scan? Thanks!

[2016-04-14 14:11] TKBurner commented on #4181
Thanks @Dahlgren for updating! 👍

[2016-04-14 14:12] mindrunner commented on #914
Cool, I stumbled through the [xcode-install](https://github.com/neonichu/xcode-install) source today and figured out that it uses, besides of others, "sudo rm" while installing. I really do not want to allow "sudo rm" NOPASSWD in my build node's sudoers file. Would love to find a solution for this, though. :)

[2016-04-14 14:20] niamhpower opened #4205 "User scheme issue when running scan"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

When running scan, the error shown below is sometimes shown. There appears to be no pattern as to when this happens. I have tried updating fastlane and scan but still get the same issue. I've

[2016-04-14 14:33] LizCira commented on #4135
Hi @TKBurner we never specify the architecture, I double-checked with the project's lead developer and neither of us are sure what "right" architecture would be. I'm attaching a screenshot of the project's architecture settings.
<img width="826" alt="screen shot 2016-04-14 at 4 26 31 pm" src="https://cloud.githubusercontent.com/assets/7120551/14531683/4b382172-022c-11e6-8c97-d830f36ee503.png">

[2016-04-14 14:34] SunilProgramobil opened #4207 "undefined method `fetch' for nil:NilClass"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

While running fastlane without any dependencies it works fine but if we run the same command thorugh jenkins I see the follow ouput

##### Complete output when running fastlane, including the stack trace and command

[2016-04-14 15:31] alper commented on #4203
Hey Todd! This has fixed itself in one way or another by fiddling with the Code Signing Identity on one of the targets' build settings.

I'm not sure whether you can do anything about this, but this just tripped me up even though I'm fairly experienced with this stuff. The problem seems to have to do with the fact that in our .gitignore we have:
[code]
which I guess makes some build related settin

[2016-04-14 15:41] osrufung commented on #4197
@TKBurner yes! same problem with scan. Definitely, some errosr that Xcode tolerates (like the loop not vectorised), for xcodebuild are blockers and make the process to fail.

[2016-04-14 15:55] etaiklein opened #4208 "❌ ld: framework not found -- How to explicitly link a framework in Gym?"
### New Issue Checklist

- [ x ] Updated fastlane to the latest version
- [ x ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

**Explicit linking in Gym? **

I want to build the pod https://github.com/smore-inc/react-native-segment-io-analytics and link the framework Analytics, but linking fails. Workspace builds

[2016-04-14 16:15] pauldowman commented on #4166
+1

[2016-04-14 16:20] MattCheetham commented on #4202
@TKBurner Hey, I realise it looks like I'm trying to set the languages, that's not actually what I want. It's actually an internal value that I need to set via user defaults in our app. The language as en-US is fine.

[2016-04-14 17:07] mfurtak commented on #1448
Hi @palaniraja - we've merged a fix for this in #4196, which will be in the next release! :rocket:

[2016-04-14 17:46] Imperiopolis commented on #3891
Any update on this? Anything else I can try?

[2016-04-14 18:15] nprail opened #4211 "Pilot Demo Account?"
When running `pilot upload -u iahesocial@gmail.com -a net.iahe.app` from Jenkins, I get the error below. It does finish the upload to iTunes Connect but it doesn't release the app to internal testers. Is there a way to specify demo account using the Pilot CLI? I don't even want a demo account to be available.

[code]

[2016-04-14 18:15] mfurtak commented on #1164
@tallyho42 Would you be willing to share the app_identifier of your app so I can dig a little further on our back-end?

[2016-04-14 18:16] jgreubel opened #4212 "No ability to define specific tester groups for TestFairy action"
### Issue Description

There is no way to define the list of tester groups for an upload of a TestFairy build to notify too.  This is useful so that the correct people are notified instead of none. Specifically we have multiple apps that we build and push to TestFairy, this allows us to only send updates to the correct testers for only the apps they should get notifications from.

Currently the 't

[2016-04-14 18:32] mfurtak commented on #1164
Hi everyone! Thanks for the reports :+1: I have a theory about what is going wrong here.

When using the `groups` parameter, it's important to use the group **alias** names for each group you'd like to distribute to. A group's alias can be found in the web UI. If you're viewing the Beta page, you can open the groups dialog here:

![screen shot 2016-04-14 at 2 27 23 pm](https://cloud.githubusercont

[2016-04-14 18:49] timcamber commented on #4211
I'm seeing this same issue, but my app in iTunes Connect actually does not require a demo account.

"A demo account is required to use all the features of the app" in iTunes Connect was actually checked for the app previously, but was a mistake and was subsequently unchecked.

(This setting is in [Your App] -> App Store -> [App Version] towards the bottom of the version's information)

[2016-04-14 18:59] mfurtak commented on #1164
I should note that the original reporter was not using `groups` so I believe the above may help some folks, but doesn't address the original question about inconsistent results when uploading.

[2016-04-14 19:04] vikram1234 opened #4214 "unsupportedListingLanguage: Language not supported."
Fatlane supply team, i am getting following error while submitting APK to google store.
supply version - 0.6.2

I took metadata from existing app which is downloaded by "supply init" and while putting back apk, i getting this error.

/Library/Ruby/Gems/2.0.0/gems/google-api-client-0.9.2/lib/google/apis/core/http_command.rb:202:in `check_status': [!] unsupportedListingLanguage: Language not support

[2016-04-14 19:57] vikram1234 opened #4215 "Create new app account with Supply"
Team,

I am trying to create new App account with Supply and i could not find a way to doing it?

Is this supported or does not?

Regards,
Vikram

[2016-04-14 20:10] rmccamish opened #4216 "`pilot list` doesn't show Devices, Latest Version, or Latest Install Date"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

$ pilot list -p XXXXXXXX

XXXXXX is our apple-id.

First and last name and email are correct.  However, Devices is always 0 and Latest Versions and Install Date are blank.

##### Complete outp

[2016-04-14 20:15] RocketPop opened #4217 "Spaceship ruby docs point to the wrong repo"
The Spaceship pages point you to RubyDoc for the details of the API ( see https://github.com/fastlane/fastlane/tree/master/spaceship#full-documentation )

However these pages links all point to the old repo, so [View on GitHub] links are broken. For example: http://www.rubydoc.info/github/fastlane/spaceship/Spaceship.app and try the [View on GitHub] link

[2016-04-14 20:16] mfurtak commented on #4198
Hi @sovithia - thanks for the report :+1:

This change has been made in the latest `spaceship` code, so please make sure you're running the most recent version of `fastlane` and `spaceship`, and you should be all set :+1:

[2016-04-14 20:26] asfalcone commented on #4022
@dodikk  The underlying error seems to be coming from `gym`, in the `move_ipa` method
[code]
It is trying to move the generated ipa to `Gym.config[:output_directory]` but they're the same.

Hope this helps!

[2016-04-14 20:26] mosesoak commented on #1370
:+1: :+1: :+1: :100: LOVE IT!!! Thanks so much guys!

[2016-04-14 20:28] asfalcone commented on #4215
@vikram1234 you can only update existing Apps in Google Play with supply, due to the Google Play api limitation. You need to manually upload an APK via the web UI to start the process. :+1:

[2016-04-14 20:28] #4215 closed

[2016-04-14 20:28] mfurtak commented on #4128
Hi @alpersenyurt -

Can you run the following commands for me and let me know what the output is for each?

[code]

[code]

Thanks!

[2016-04-14 20:29] mosesoak commented on #1006
@vpolouchkine I hit this as well with a non-RVM machine that lost its connection to fastlane after upgrading to El Capitan. The special gem install command suggested above fixed it for me but I'm hoping that I don't have to do it in the future and can just return to a regular sudo gem install fastlane - time will tell.

[2016-04-14 20:29] RocketPop commented on #4148
I'd like to add that if you're reviewing that area of the code - it would be very helpful to expose the app states:
 waiting for review, in review, rejected, available for sale, removed from sale... whatever the canonical list is

[2016-04-14 20:30] vikram1234 commented on #4215
Thanks a lot @asfalcone for confirming and quick reply too.

[2016-04-14 20:30] mosesoak commented on #1370
![screen shot 2016-04-14 at 1 20 58 pm](https://cloud.githubusercontent.com/assets/24345/14542671/f6a18c66-0244-11e6-844c-3f680bde64b4.png)

[2016-04-14 20:35] hemal commented on #1370
Woot woot, there it is!

[2016-04-14 20:40] jakunico opened #4218 "Scan not working when used with cocoapods"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Whenever execute `cocoapods` and `scan` in the same lane, tests fail.

[code]

BUT! If I remove cocoapods step, everything works perfectly:

[code]

EVEN MORE, if I run the following everythin

[2016-04-14 20:54] chrisballinger commented on #4180
I ended up just manually copy-pasting the What's New to the 20 languages in iTunes Connect. I'll post verbose output when submitting our next point update.. which will probably be soon

[2016-04-14 21:11] mfurtak commented on #4170
Hi @bmctigue - Thanks for the report :+1:

The `xctool` call you're making in your `Fastfile` is calling through to the fastlane `xctool` action, but that should all be the same as it ever was.

Because the `xctool` action is an incredibly thin wrapper around shelling-out to the `xctool` command line tool, there's really not a whole lot that can go wrong on the fastlane side. The error message you

[2016-04-14 23:06] GFunkloostar commented on #4211
Same here. What to do?

[2016-04-15 00:28] cnmongrel opened #4220 "Sigh doesn't find Provisioning Profile it created and tries to create a new one each time"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Sigh doesn't find a Mobile Provisioning Profile after logging into the Dev Portal. It then tries to create a new provisioning profile using the 'com.comp.appname AppStore' pattern, which immedi

[2016-04-15 01:10] cwmacken commented on #4197
Scan completes but there's is a xcode note:
	Conors-MacBook-Pro:ondeck cm$ scan
	[18:04:35]: xcrun xcodebuild -list -workspace './OnDeck.xcworkspace'
	Select Scheme:
	1. OnDeck
	2. AFNetworking
	3. Alamofire
	4. CocoaAsyncSocket
	5. Cosmos
	6. EZLoadingActivity
	7. FLKAutoLayout
	8. HanekeSwift
	9. MDCSwipeToChoose
	10. Mixpanel
	11. NVActivityIndicatorView
	12. ORStackView
	13. Pods-OnDeck
	14. S

[2016-04-15 02:52] jblack10101 opened #4221 "Gym (PackageApplication4Gym specifically) isn't embedding the correct .mobileprovision file in .ipa"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I've been trying to create an enterprise build with gym, but PackageApplication4Gym isn't embedding the correct .mobileprovision file in the resulting .ipa.  The correct .mobileprovision file

[2016-04-15 04:55] PointlessReboot opened #4222 "error when using to upload build to fabric crashlytics"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

[code]

### Configuration Files

Please copy the complete content of your `Fastfile` and any other configuration files you use below:

Fastfile:
[code]

### Environment

fastlane version (run

[2016-04-15 05:00] alpersenyurt commented on #4128
Hi @mfurtak

outputs:

`xcode-select -p`/usr/bin/xcodebuild -version

Xcode 7.3
Build version 7D175

md5 `xcode-select -p`/Platforms/iPhoneOS.platform/Developer/usr/bin/PackageApplication

[2016-04-15 05:40] khantthulinn commented on #3886
For me, I think it is because of Jenkins. I need to set up Jenkins like this to run GUI application like Simulator.
http://www.cimgf.com/2015/05/26/setting-up-jenkins-ci-on-a-mac-2/
After I do that, everything is okay already.

[2016-04-15 06:03] bluefallsky commented on #4211
same here. mac os x el capitan

[2016-04-15 06:07] janandre commented on #1164
@mfurtak  THANKS! For me this fixed the issue! Now it works like a charm :)
Maybe its possible to print out a hint, if it cannot find the group alias. I don't think
that i am the only one who fell over this.

Great team and product!

[2016-04-15 07:14] halbano opened #4224 "Import problem trying to configure my first project"
Hi all,

I'm having a problem using this. The second line fails and doesn't compile.

Maybe I'm missing something regarding the instructions to get it working:
**(Objective C only) add the bridging header to your test class.
#import "MYUITests-Swift.h"
The bridging header is named after your test target with -Swift.h appended.**

Any help is really appreciated.

[2016-04-15 07:23] cybertk commented on #1846
Same issue here.

Both `gym(include_bitcode: "false")` and `gym(include_bitcode: false)` does not work in _Fastfile_

[2016-04-15 09:03] hartbit commented on #3886
@TKBurner ok, I fixed my problem by Resetting the Simulator. That's weird.

[2016-04-15 09:16] slhodson969 opened #4225 "uninitialized constant CredentialsManager::AppfileConfig::Helper"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I keep seeing `uninitialized constant CredentialsManager::AppfileConfig::Helper` in my console but don't understand why. I originally noticed it when running a lane but it happens at the most

[2016-04-15 10:38] tallyho42 commented on #1164
Yepp, that was it :) *facepalm* Thanks a lot, really!

Also, sorry, that we didn't notice this on our own...on our defense though, i haven't found any info about this on fastlane pages...Maybe the error could be more specific or something...

[2016-04-15 11:31] DevellMen opened #4226 "How to build project without scheme?"
How to build project without scheme? Using Targets and Build Configurations.
Now i do it like this:

[code]
But how  can i do it using fastlane?

[2016-04-15 11:36] s0mmer commented on #4088
@gbejarano01 I had a similar problem and after realising that `fastlane` depends on `xcodeproj` I noticed when installing `cocoapods 1.0.0.beta.x` (which I assume ships with a newer version of `xcodeproj`) it started working again.

[2016-04-15 11:53] slhodson969 commented on #4225
Just wanted to add that, due to a company policy, I am not an admin on my laptop. Could that cause this? (it's caused me plenty of issues in the past)

[2016-04-15 12:05] maxbritto commented on #4211
It seems Apple added a checkbox (checked by default) for the demo account username and password. If the box is checked then a demo username and password are needed, if it's not checked, the two fields disappear. If memory serves, this box wasn't there before and the field could be left empty. Now we need to uncheck it if we want to submit an an without a demo account

[2016-04-15 12:07] GFunkloostar commented on #4211
yep, I saw this. And it looks like ITC is not remembering your selection. You have to manually deselect it every time. Both for app store and beta releases...

[2016-04-15 13:11] mrudulp commented on #1314
I am seeing this issue as well...(Fastlane 1.81.0)
Work around was to disable import_certificate and use following two commands --
- Unlocking Keychain
`security unlock-keychain -p <pwd>`

- Importing p12 certificate to relevant(login in my case) keychain(actual command that import_certificate achieves).
`security import <distribution.p12> -k ~/Library/Keychains/login.keychain -P <pwd> -T /usr/bin

[2016-04-15 13:12] meyskens opened #4227 "Deliver: transporter silently fails"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Deliver

[code]

[code]
### Environment

fastlane version (run `fastlane -v`):
1.81.0
Do you use bundler to execute fastlane (i.e. `bundle exec fastlane`)?
No
Do you use a Ruby environment man

[2016-04-15 13:49] fabioknoedt commented on #1314
Just want to share my solution with you guys... my way of fixing it was `try`ing to import the certificate and `rescue`ing when the certificate was already there. So, I just added a `begin`, `rescue` and `end` when executing the `import_certificate` command.

[code]

[2016-04-15 13:50] mfurtak commented on #4128
OK, got it. :+1:

`gym` is failing during a step where we attempt to patch the bad behavior of the `PackageApplication` script to fix arguments given to `codesign`. However, we only attempt to do this if we can verify that it exists in a state we know to be patchable. We do this by checking the MD5 hash value of the file, which is why I asked for you to check that. Unfortunately, the value you gav

[2016-04-15 14:25] mfurtak commented on #1164
Hi folks! Glad you're back up and running! :rocket:

I've updated [the documentation](https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Actions.md#crashlytics-beta) to provide this info as well, so hopefully folks in the future have a better shot. :+1:

As far as making the tool give a better error message... that's a bit trickier, but we'll see what can be done!

[2016-04-15 14:29] pedro380085 commented on #1655
Same bug happens here, it's stuck forever on:
 ▸ Check Dependencies

[2016-04-15 14:46] mfurtak commented on #4225
Hi @slhodson969 - thanks for the report! :+1:

This is a bug. :bug: Also, the symptom you're reporting is a bug.

Interestingly, the code path that is being triggered would imply that your `Appfile` contains so-called "smart quotes" (“ ” ‘ ’ ‛), which we're attempting to correct for you.

These can sneak in if the file gets modified with certain editors (e.g. TextEdit), so you may want to check on

[2016-04-15 16:11] goodcyg opened #4229 "fastlane not work"
Driving the lane 'ios AdHoc' 🚀
[00:06:29]: ---------------------------------------------------------------------------------------------------------
[00:06:29]: --- Step: /usr/libexec/PlistBuddy -c "set :ChannelID AdHoc" ./../fastlanedemo/fastlanedemo/Info.plist ---
[00:06:29]: ---------------------------------------------------------------------------------------------------------
[00:06:29]: $ /

[2016-04-15 16:15] yakubbaev commented on #4020
I'm having the same issue now

[2016-04-15 16:24] vpolouchkine commented on #4229
Can you please format your issue per https://github.com/fastlane/fastlane/blob/master/ISSUE_TEMPLATE.md? Thanks!

[2016-04-15 16:38] vpolouchkine commented on #4227
Looks like we're not looking in the right place for Xcode 6, potentially relevant: http://stackoverflow.com/questions/28461768/xcode-organizer-trying-to-access-transporter-at-wrong-directory-path

[2016-04-15 16:42] vpolouchkine commented on #4211
@nprail Can you please format your issue per https://github.com/fastlane/fastlane/blob/master/ISSUE_TEMPLATE.md? Thanks!

[2016-04-15 16:44] meyskens commented on #4227
The stackoverflow link doesn't seem relevant. `itmstransporter-launcher.jar` doesn't seem to be present. Doing a `find /` to see if it is somewhere present. In meanwhile I am trying to inject the Application Loader 3.0 app into old Xcode to work this around.

[2016-04-15 16:45] vpolouchkine commented on #4226
I believe you can do so by passing `--xcargs` to `gym`.

[2016-04-15 16:46] meyskens commented on #4227
follow up: no `itmstransporter-launcher.jar` found on the entire drive.

[2016-04-15 16:48] vpolouchkine commented on #1846
@cybertk Does https://github.com/fastlane/fastlane/issues/1846#issuecomment-193420186 a feasible workaround for you?

[2016-04-15 16:48] vpolouchkine commented on #4224
Can you please format your issue per https://github.com/fastlane/fastlane/blob/master/ISSUE_TEMPLATE.md? Thanks!

[2016-04-15 16:50] vpolouchkine commented on #4222
FYI I removed the Beta API key and Secret in your post.

[2016-04-15 16:52] vpolouchkine commented on #4222
Try adding `gradle(task: "assembleRelease")` in your `submit_unity_beta` lane.

[2016-04-15 16:53] vpolouchkine commented on #4221
Can you please format your issue per https://github.com/fastlane/fastlane/blob/master/ISSUE_TEMPLATE.md? Thanks!

[2016-04-15 16:56] vpolouchkine commented on #4220
What happens if you remove the `-w` flag?

[2016-04-15 17:27] vpolouchkine commented on #4217
Thanks for the report!

[2016-04-15 17:29] vpolouchkine commented on #4218
Thanks for the report, we'll take a look.

[2016-04-15 17:30] vpolouchkine commented on #4216
Thanks for the report, we'll take a look.

[2016-04-15 17:30] vpolouchkine commented on #4214
Can you please format your issue per https://github.com/fastlane/fastlane/blob/master/ISSUE_TEMPLATE.md? Thanks!

[2016-04-15 17:40] cnmongrel commented on #4220
Same behavior without the `-w` flag, it just takes longer because we have a lot of profiles.

[2016-04-15 17:43] jorystiefel commented on #4027
Thanks guys. Passing in the token manually in Fastfile made no difference.

[2016-04-15 17:46] yakubbaev commented on #4020
It appears that I messed up my passphrase. Everything is ok for me now. Thanks for your great work!

[2016-04-15 17:48] vpolouchkine commented on #4220
Can you let me know what happens if you run `cert` first?

[2016-04-15 17:54] vpolouchkine commented on #4207
Take a look at https://github.com/fastlane/fastlane/issues/360, looks similar.

[2016-04-15 17:56] fcy commented on #4059
One more thing for when you guys discuss it. If adding the auto-retry if not a good idea for you, at least add the timeout to make it fail fast so CI builds don't hang for 10 minutes or more before getting killed.

[2016-04-15 17:59] vpolouchkine commented on #4205
Are your schemes marked "Shared"?

[2016-04-15 18:00] vpolouchkine commented on #4205
Also, take a look at https://github.com/fastlane/gym/issues/188#issuecomment-190320592

[2016-04-15 18:21] LizCira commented on #4135
Hi @TKBurner we've gotten around our problem by adding update_project_provisiong before our gym step and using a chosen profile.

[code]

 We're not 100% sure why this fixes the issue, but now our app ID and our Team ID can be different as-needed.
[code]

[2016-04-15 18:44] mfurtak commented on #4225
We've merged #4228 as a fix for the erroneous logging. It will go out in the next release :rocket:

[2016-04-15 18:57] meyskens commented on #4227
After some futher looking it seems to be since commit ac4d587e67868aa167408257f3a00b7c1cdea829
Only the Xcode 7+ transporter (not even the standalone app) seems to have the Java libraries. Replacing the Xcode 6 itms folder seems to work for deliver but not sure if it broke the code signing (which is in the application loader frameworks).

[2016-04-15 19:04] kikolobo commented on #4150
I haven't @TKBurner  I tried installing intermediate certificate again and I can't get it to work. I haven't given enough time to fix it, but I am going to work on it monday.

Will let you know!
Thanks!

[2016-04-15 19:28] jblack10101 commented on #4221
Updated

[2016-04-15 19:32] cnmongrel commented on #4220
Output with `cert` first:

[code]

[2016-04-15 19:32] vpolouchkine commented on #4227
Thanks for investigating this. We'll take a look on our end as well.

[2016-04-15 19:42] vikram1234 commented on #4214
Issue Description
[01:00:53]: Variable Dump:
[01:00:53]: {:DEFAULT_PLATFORM=>:android, :PLATFORM_NAME=>:android, :LANE_NAME=>"android deploy"}
[01:00:53]: unsupportedListingLanguage: Language not supported.

+------+-------------------------------------+-------------+
|                     fastlane summary                     |
+------+-------------------------------------+-------------+
| Step |

[2016-04-15 19:47] vpolouchkine commented on #4221
Does it work correctly if you use `xcodebuild`?

[2016-04-15 20:08] vpolouchkine commented on #4220
What happens if you pass the profile name via `--provisioning_name` to `sigh`?

[2016-04-15 20:13] vpolouchkine commented on #4214
What languages do you have under ./metadata?

[2016-04-15 20:49] qzhao-retrieve commented on #4132
I have Xcode7.2.1 and 7.3 right now.
it works great, I am going to close this issue.

[2016-04-15 20:50] rolandkakonyi commented on #4132
For me the switching back to iOS 9.2 simulator solved the problem

[2016-04-15 20:56] vikram1234 commented on #4214
de-DE
en-US
fr-FR
it-IT
nl-NL
pl-PL

[2016-04-15 20:58] jshier commented on #3921
This is an issue on TravisCI as well. I suspect the underlying issue is that the simulator can sometimes fail to launch correctly, especially after they've just been created. Usually quitting the simulator and then manually launching it gets it to work. Unfortunately this is obviously impossible in a CI situation you don't control.

[2016-04-15 21:16] ashfurrow commented on #1790
@antonm76 I had the same problem, opening the link Felix has above prompted me to create security questions/answers, and afterward sigh worked.

[2016-04-15 21:18] jblack10101 commented on #4221
Yes, these commands worked:
[code]

[2016-04-15 22:11] vikram1234 commented on #4046
@GarrettStrobel - how it worked, i have below config in gradle build and still have same issue

 repositories {
        mavenCentral()
        jcenter()
    }

Could you suggest what fix you did?

[2016-04-16 00:13] ravron commented on #3888
I've run into this issue with pilot 1.5.0, and am taking a look at #3940 now.

[2016-04-16 00:25] cnmongrel commented on #4220
Output with `--provisioning_name`
[code]

[2016-04-16 02:04] girishnair12345 commented on #4147
It has all the access
Its the admin, even while using sigh for the first time it showed a pop up box for Allowing access to keychain and even that is kept at *Always Allow*. It doesn't ask anything with respect to keychain even if i run in terminal directly or via remote

[2016-04-16 06:52] goodcyg commented on #4229
Error as follows：
zhongxingzhinengdeMacBook-Air:fastlanedemo Jackson$ sh build.sh 1.1.1 10
[14:47:57]: -------------------------------------------------
[14:47:57]: --- Step: Verifying required fastlane version ---
[14:47:57]: -------------------------------------------------
[14:47:57]: fastlane version valid
[14:47:57]: ------------------------------
[14:47:57]: --- Step: default_platform ---
[1

[2016-04-16 07:00] nerd0geek1 commented on #1234
@mkeiser
No, I tried to generate .pkg file with gym 1.6.2, but it won't generate.
I also try to solve this problem with you!

[2016-04-16 08:07] goodcyg commented on #4229
$ /usr/libexec/PlistBuddy -c "set :ChannelID Develop" ./fastlanedemo/Info.plist
[16:04:54]: ▸ Set: Entry, ":ChannelID", Does Not Exist
[16:04:54]: ▸ File Doesn't Exist, Will Create: ./fastlanedemo/Info.plist
[16:04:54]: Variable Dump:
[16:04:54]: {:DEFAULT_PLATFORM=>:ios, :PLATFORM_NAME=>:ios, :LANE_NAME=>"ios Develop"}
[16:04:54]: Exit status of command '/usr/libexec/PlistBuddy -c "set :ChannelID

[2016-04-16 13:40] GarrettStrobel commented on #4046
Try including it in
allprojects {
       repositories {

In your project level gradle file.
On Apr 15, 2016 6:11 PM, "Vikram Singh" <notifications@github.com> wrote:

[2016-04-16 13:46] vikram1234 commented on #4046
@GarrettStrobel thanks for your reply, Its not finding screengrab jar file, its not in android tools too, not sure why it not loading jar or i have to manually
@RunWith(JUnit4.class)
 ^
  symbol: class RunWith
JUnit4StyleTests.java:9: error: cannot find symbol
    public static final LocaleTestRule localeTestRule = new LocaleTestRule();
                        ^
  symbol:   class LocaleTestRule

[2016-04-16 15:04] pedrosanta commented on #4222
I'm also having this issue when trying to submit a Unity built APK using the instructions in the documentation: https://docs.fabric.io/unity/beta/index.html

[2016-04-16 15:07] pedrosanta commented on #4222
I also had to find the `crashlytics-devtools.jar` and download it on the Ant plugin here https://fabric.io/downloads/ant, to reach this point.

[2016-04-16 16:17] pavm035 commented on #4194
Hi @TKBurner  Thank you so much for your quick response, Sorry for not updating reproducible steps before, Please find below of execution phase

SampleXcodeBot kumar.pavan$ fastlane beta
[20:33:05]: -------------------------------------------------
[20:33:05]: --- Step: Verifying required fastlane version ---
[20:33:05]: -------------------------------------------------
[20:33:05]: fastlane versio

[2016-04-16 17:33] pedrosanta commented on #4222
@vpolouchkine I tried adding that task to the `submit_unity_beta` lane, but I didn't really had `gradle` installed (which I did with Homebrew `brew install gradle`) and then `gradlew` couldn't be found (which I fixed running `gradle init`) and then `"assembleRelease"` task wasn't found/defined.

The issue here is that I'm not exporting a full fledged Android project, I'm building an APK through Un

[2016-04-16 18:19] cybertk commented on #1846
I'm not using `Gymfile`, I will give it a shot next week.

[2016-04-16 21:49] mdamjanic7 opened #4231 "authentication.failed error when setting up match"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
I'm trying to set up match with an Apple Enterprise account, but it fails while getting teams. I can log in to developer.apple.com without any prompts or errors.

##### Complete output when run

[2016-04-17 01:50] slashmo opened #4232 "Crashlytics error (method not found)"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines]  (https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
I'm getting the following errors when trying to run Crashlytics from my lane.
My ruby version is **2.3.0**.

##### Complete output when running fastlane, including the stack trace and command

[2016-04-17 03:21] vikram1234 opened #4233 "Compiling issue due to not adding screengrab jar"
Could please suggest that what is missing? its keep throwing compile errors due to not finding jar...

How do i add jars with gradle, i have added dependencies but its not working.

dependencies {
    compile fileTree(dir: 'libs', include: '*.jar')
    // SUB-PROJECT DEPENDENCIES START
    debugCompile project(path: 'CordovaLib', configuration: 'debug')
    releaseCompile project(path: 'CordovaLib

[2016-04-17 04:41] goodcyg commented on #4229
Environment:
fastlane 1.81.0
rvm 1.27.0
xcode 7.2.1
gem 2.5.1
ruby 2.3.0

[2016-04-17 05:27] goodcyg commented on #4229
bundle install

Could not locate Gemfile or .bundle/ directory

[2016-04-17 05:42] vikram1234 commented on #4233
got fixed, please ignore

[2016-04-17 05:42] #4233 closed

[2016-04-17 06:33] Kkhattab commented on #4211
facing similar issue, fastlane ios beta calls pilot and then doesn't finish the rest of my lane.

[2016-04-17 09:00] mdamjanic7 commented on #4231
Duplicate of  #2054

[2016-04-17 09:00] #4231 closed

[2016-04-17 09:15] mdamjanic7 commented on #2054
Hey guys, I'm still having this problem. I created a new Apple ID just for match, and I constantly keep having this issue. Going to [appleid.apple.com](appleid.apple.com) doesn't show anything out of the ordinary (username is an email address, no missing security questions...).
I also tried using my personal account (again, no problems when logging in through [appleid.apple.com](appleid.apple.com)

[2016-04-17 09:17] mdamjanic7 commented on #4172
Hey @TKBurner, unfortunately I'm still having this problem. I created a new Apple ID just for match, and I constantly keep having this issue. Going to appleid.apple.com doesn't show anything out of the ordinary (username is an email address, no missing security questions...).
I also tried using my personal account (again, no problems when logging in through appleid.apple.com), but I keep getting t

[2016-04-17 10:41] nerd0geek1 commented on #1234
I wrote some code as below and confirmed that works fine.
I'll refactor it and submit pull request within 2days.

[code]

Thanks @mkeiser !!

[2016-04-17 13:17] i2amsam commented on #4172
@mdamjanic7 was this previously working and then stopped working, or are you setting things up for the first time? Could you try:

[code]

And try `match` again?  That should help rule out recent changes on the `fastlane` side.

[2016-04-17 14:28] jschoolcraft opened #4234 "Invalid provisioning profile, not sure where Team ID is coming from"
### New Issue Checklist

- [x ] Updated fastlane to the latest version

[code]
- [x ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I'm setting up Fastlane to work with a single codebase that produces apps for different teams on different targets, I'm to the point of submitting it to iTunes (deliver/pilot) and I

[2016-04-17 16:14] tadija opened #4236 "Specify Xcode scheme for `fastlane init` command"
### New Issue Checklist

- [✓] Updated fastlane to the latest version
- [✓] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I have an existing iOS project with multiple Xcode schemes (develop, stage, production) and each scheme builds different bundle ID (ad hoc, in house, app store).

I wanted to do `fastlane init

[2016-04-17 17:13] giinnga opened #4237 "Match + CloudKit"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

While using match, I enabled CloudKit and, after that, updated the provisioning profiles using `match development --force`. Now Xcode says that I don't have valid provisioning profiles.

#####

[2016-04-17 17:46] billypchan opened #4238 "Hockey action: teams and users keys not work as expected"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
I tried to restrict teams/users access with certain ID not work. Try again with HockeyApp's curl API works.

##### Complete output when running fastlane, including the stack trace and command u

[2016-04-17 17:57] kylejm commented on #1984
This is similar to #1976.

I too would love a way to be able to just nuke profiles, not certificates 🙏🏼.

[2016-04-17 17:59] GantMan commented on #4020
I'm seeing this issue.  Seeing @yakubbaev messed up his passphrase,  I figured I will just delete the certs and re-download them, but it appears match is forever trying to ask me to decrypt files I now deleted.   How do I start over?

[2016-04-17 18:03] kylejm commented on #4100
The `Appfile` might be a good place, but I don't think @jcampbell05's original solution would be too complicated for non-Ruby devs. Some clear examples would be enough to help.

I think this issue and #1984 are two key things to solve that would make `match` absolutely killer, IMO 😊.

[2016-04-17 20:06] alpersenyurt commented on #4128
Hi @mfurtak

No I have not manually patched or modified it.Actually I have this error from our jenkins build machine so I dont know  it is modified  anyway.

[2016-04-17 22:42] edwardmp commented on #4158
Encountered same issue today. Occurred with a specially created account for fastlane. I noticed that when going to the developer site I needed to accept some terms for that account. After this was done the issue was still there. What I still needed to do is invite that new account to my development team. Issue was solved then.

[2016-04-17 22:53] edwardmp commented on #1373
Encountered same issue today. Occurred with a specially created account for fastlane. I noticed that when going to the developer site I needed to accept some terms for that account. After this was done the issue was still there. What I still needed to do is invite that new account to my development team. Issue was solved then.

[2016-04-18 01:43] MickeyHub commented on #1418
I frequently got the message `SSL_connect SYSCALL returned=5 errno=0 state=SSLv3 read server session ticket A` recently, and openssl version is 1.0.2g, so what's the wrong?

[2016-04-18 02:09] mywander opened #4239 "Deliver change "Version Release" to "Manually release this version""
### New Issue Checklist

I set the "version release" in itunesconnect to "Automatically release this version". But after I run "deliver run --skip_screenshots" the "version release" changed to "Manually release this version".
Please fix the bug.

- [ ] Updated fastlane to the latest version
- [ ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTIN

[2016-04-18 06:31] gauravdaxini commented on #3900
Hi @TKBurner, we checked for expired WWDR certificate on the build server with the Bitrise team but it is updated.

Also, we tried to run 'cert' in the command line through a workflow script, but not been able to set the developer password in the workflow script.

cert -u test@gmail.com

Please suggest something on this.

[2016-04-18 08:24] neil-wu opened #4240 "Spaceship.login fail sometimes"
Spaceship.login fail in my mac. But it was OK when running in another mac in the same network.

fastlane version is 1.81.0

##### Complete output

[code]

[2016-04-18 08:27] KrauseFx commented on #4234
I assume you set the Team ID somewhere in your project, could you check that?

[2016-04-18 08:35] gran33 opened #4241 "Uncheck Demo account checkbox in iTunesConnect"
### New Issue Checklist

- [x] Updated deliver to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

The submission process failed with this error `Enter a demo account user name and password`, but my app doesn't need demo account. Does `deliver` support in uncheck demo account checkbox?

Stac

[2016-04-18 08:37] gran33 opened #4242 "dfasdf"

[2016-04-18 08:38] #4242 closed

[2016-04-18 09:25] fisch0920 commented on #1417
Yep; I'm seeing this too but only after updating to latest fastlane.

[2016-04-18 09:27] vancex commented on #4158
@vpolouchkine @TKBurner
sorry, I found that this spaceship doesn't support xcode api, account created by xcode can not get teamid by this spaceship api.

My fault~

[2016-04-18 09:29] #1417 closed

[2016-04-18 09:30] KrauseFx commented on #4242
👍

[2016-04-18 10:05] hjanuschka commented on #4211
same here, i set the demo-account info with deliver  (syncing metadata) after doing pilot() fails with the error above, even the testflight gets distributed

[2016-04-18 10:13] fisch0920 commented on #1164
Note that I ran into a similar issue with the `groups` argument to crashlytics.  In general, it is a problem that the crashlytics submit shell action swallows stdout because it just appeared to be crashing until I ran the submit function directly and realized the submit was failing.

[code]

This was failing because of the issue described [here](https://twittercommunity.com/t/add-new-ios-app-to-cr

[2016-04-18 10:14] fisch0920 commented on #3902
This was a problem in that the crashlytics submit shell action swallows stdout because it just appeared to be crashing until I ran the submit function directly and realized the submit was failing.

[code]

This was failing because of the issue described [here](https://twittercommunity.com/t/add-new-ios-app-to-crashlytics-beta-via-command-line/56620), specifically that the project I was trying to u

[2016-04-18 10:36] fisch0920 commented on #4232
Run:
`fastlane --verbose CrashlyticsBeta`

And then take the command that crashlytics runs and execute it yourself to see the `submit` command's output which will tell you the error you're encountering.  For some reason, crashlytics currently swallows the crashlytics submit output.

[2016-04-18 10:45] xareelee opened #4243 "Could not find a matching code signing identity for type 'AdHoc'. You can use cert to generate one:"
I'm using `fastlane 1.81.0` with `match 0.4.0` / `cert 1.4.0` / `sigh 1.6.1`.

I'm using `match` to manage certificates and provisioning profile as recommended. But when I use `match adhoc`, it will fail to create a provisioning profile after creating a new certificate.

I use `Fastfile` to use `match`

[code]

then run the lane:

[code]

Now, for the first time, the match call `cert` and `sigh` t

[2016-04-18 10:52] xareelee opened #4244 "Create too many certificates for each provisioning profile"
I have multiple `app id` in a Apple Dev account. For each provisioning profile (`adhoc`/`appstore`/`enterprise`), match create multiple certificates for those provisioning profiles. And if I use `match` to manage multiple `app id`, it will create too many certificates, and it will fail to create a new one (exceed the maximum numbers of the certificates).

Can make `match` use the same type certifi

[2016-04-18 10:56] iamramin commented on #4088
We're suffering from the same issue. `update_app_identifier` turns the `project.pbxproj` into XML and then `increment_build_number` stops working.

We've swapped the order of these two steps to work around the issue (so now we increment the version number before we update the app id) but would be nice to have this fixed as it really messes up the pbxproj file.

[2016-04-18 11:09] hjanuschka commented on #4211
a log from my latest builds

[code]

[2016-04-18 11:42] jschoolcraft commented on #4234
I `ag PDP8PC5B8F` from the project root and it doesn't turn up anything.

[2016-04-18 12:06] KrauseFx commented on #1234
Awesome, thanks @nerd0geek1 👍

[2016-04-18 12:13] luisherranz commented on #4241
I was **about** to open the very same issue, how great is that :)

To illustrate it a bit further, the apps won't get submitted and if you login manually to iTunes connect this is the reason:
![screen shot 2016-04-14 at 12 48 08](https://cloud.githubusercontent.com/assets/3305402/14603704/91e3637a-056f-11e6-836e-df2da5131fc2.png)

[2016-04-18 12:14] KrauseFx commented on #4241
It seems like this affects every user trying to ship an app with `deliver`, right? I'll take a look into this

[2016-04-18 12:20] slashmo commented on #4232
@fisch0920 I followed your instructions and got this error:

[code]

[2016-04-18 13:01] lacostej commented on #4241
@KrauseFx I had the same problem the other day so I unchecked the demo account (it comes checked by default)

[2016-04-18 13:03] gran33 commented on #4241
@lacostej How could u uncheck the demo account via `deliver` or `fastlane`? (manually doesn't count)

[2016-04-18 13:03] KrauseFx commented on #4241
@gran33 Haha, working on it 😉

[2016-04-18 13:05] luisherranz commented on #4241
@KrauseFx In our case this happens when we want to add the contact information but don't add a demo account. For example:
[code]

[2016-04-18 13:13] KrauseFx commented on #4241
Thanks everyone, already in the middle of writing some code 🚀 I'll keep you up to date

[2016-04-18 13:14] lyptt commented on #4241
This seems to also occur with `pilot` just after logging "Distributing new build to testers"

[2016-04-18 13:18] KrauseFx commented on #4211
Thanks everyone, I'm working on a fix right now, please subscribe to this issue to stay up to date https://github.com/fastlane/fastlane/issues/4241. Closing this as duplicate 👍

[2016-04-18 13:18] #4211 closed

[2016-04-18 13:24] KrauseFx commented on #4241
PR is live, waiting for the build and a PR review https://github.com/fastlane/fastlane/pull/4245 🎉

[2016-04-18 14:00] gbejarano01 commented on #4088
@iamramin @s0mmer Only solution here, at least temporarily, we created different schemes and configurations and set a different bundle id for each one of those.

Instead of changing the bundle id through fastlane we have it there.

[2016-04-18 14:15] hjanuschka commented on #4241
in my case the PR does not fix the error

[2016-04-18 14:17] KrauseFx commented on #4241
@hjanuschka Could you share more information? In particular: is the checkbox currently enabled or disabled? Do you have a demo user and/or password

[2016-04-18 15:01] fabioknoedt opened #4247 "No such file or directory - pod"
Hey guys,

I'm running in a weird error... from time to time `Fastlane` fails to run `cocoapods` in my CI environment (Mac OS X 10.11 using Bamboo agent).
If I run `pod install` outside of `Fastlane`, eveything works fine. When I run `cocoapods` inside of `Fastlane` `lane`, it fails:

[code]

[code]

[2016-04-18 15:03] fabioknoedt commented on #4244
@xareelee remember that `match` does NOT work with `enterprise` profiles.

Reference: https://codesigning.guide

[2016-04-18 15:38] cnmongrel commented on #4220
Any update on this? What other build commands / output can we try to diagnose this issue? Thanks!

[2016-04-18 15:41] justin opened #4248 "Framefile not being read in"
### Issue Description

I spent some time trying to get our app running up on frameit, but was unsuccessful beyond just getting a border wrapped around my images. I punted on even trying to get text showing up for now. I'd just like to get it to accept my background image to start.

When I run `frameit silver --verbose` I don't get any output about a Framefile being read, not found, or anything. It

[2016-04-18 15:42] jschoolcraft commented on #4234
So PDP8PC5B8F is the Team ID of the Team I want to deliver/pilot the app as.  I can use deliver to post screenshots for the app with the correct app/bundle id `com.tjff.tjff2016` and I see them in ITC.

However if I try to use match specifying that Team ID it says:

[code]

And if I try to create the app that already exists:

[code]

I'm not sure how to debug this any further.  I've nuked everythi