[2020-10-15 16:40] rogerluan commented on #17435
Hi @agordeev 👋

By reading [gradle docs](https://docs.fastlane.tools/actions/gradle/), I noticed there are `task` and `tasks` - two different parameters. The first takes a single task (a string), while the second takes an array of tasks (an array of strings).

Can you try using `task: "bundle"`, or `tasks: [clean, bundle]` to see if either of those work? I'm almost sure the first will. If the seco

[2020-10-15 16:48] rogerluan commented on #17384
Could be a regression introduced in https://github.com/fastlane/fastlane/pull/17291

@joshdholtz could you take a look? 🙈 Thanks in advance!

[2020-10-15 16:48] joshdholtz commented on #17384
Can do can do!

[2020-10-15 16:50] rogerluan commented on #16989
Got it!

Have you? 😃

[2020-10-15 16:59] rogerluan commented on #16989
If not, you can update `Gemfile` with the following, and run `bundle install`, `bundle update fastlane`, or `bundle update`:

[code]

to test it! 😊

[2020-10-15 17:08] rogerluan commented on #17137
Believe it or not, I think I had a similar issue about 2 years ago @CovertLeopard 😥 And the same solution fixed it for me 😓

Just Apple ¯\_(ツ)_/¯

[2020-10-15 17:30] rogerluan commented on #16289
Closing as this PR got merged already 🎉 (long time ago heh)

[2020-10-15 17:30] #16289 closed

[2020-10-15 17:36] rogerluan commented on #17400
Removed the "workaround available" label because the workaround is done manually, which defeats the purpose of _fastlane_.

[2020-10-15 17:49] rogerluan commented on #16854
We still need this refactor

[2020-10-15 18:20] anh1979 commented on #17320
Perhaps related to #17400? Just a guess.

[2020-10-15 18:41] FrancisLeigh commented on #17376
@rogerluan no luck I'm afraid, I ran into another error. I can take a look tomorrow at the last error message

[2020-10-15 18:47] firecodeing opened #17444 "Nexus upload does not fail when not having correct access."
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
When uploading a file to nexus with the [ne

[2020-10-15 20:21] AustinFuller commented on #16780
@rogerluan This is a dope idea and I'm a bit embarrassed that I didn't think of it on my own.

Related to deploying in CI, 🚀. I successfully set that up for a while and then my company switched from TravisCI to GitHub Actions. I hadn't had a chance to finish getting it set back up.

Thanks for the reply! I can let @fastlane-bot win this battle now.

[2020-10-15 23:27] luismarquesfreire commented on #15184
I'm having the same problem as well:

`/Library/Ruby/Gems/2.6.0/gems/highline-1.7.10/lib/highline/question.rb:413:in `remove_whitespace': [!] undefined method `strip' for nil:NilClass (NoMethodError)
Did you mean?  String
Did you mean?  String
	from /Library/Ruby/Gems/2.6.0/gems/highline-1.7.10/lib/highline.rb:873:in `get_line'
	from /Library/Ruby/Gems/2.6.0/gems/highline-1.7.10/lib/highline.rb:89

[2020-10-15 23:58] ChristopherDrum commented on #17318
@mathaeus I tried `ja-JP` in a test that day, just in case (I had the same wild guess)
The error that came back was from fastlane, not from App Store Connect. So it is possible that an App Store Connect change (the timing of this error is suspiciously close to the iPhone 12 announcement event) needs to be reflected in fastlane? Again, this is all just speculation.
Trying to access the "App Stores

[2020-10-16 00:00] ChristopherDrum commented on #17371
@Katsz I only don't care for the long-form because the real message it says in fastlane is something like "multiple teams found, defaulting to the first one". That still sounds like it is not respecting my choice, but rather I'm just luckily defaulting to the account I want.

[2020-10-16 02:32] klmitchell2 commented on #16892
I'm experiencing the same and unfortunately fastlane is unusable for uploading to Test Flight for me. This is extremely unfortunate and hoping this gets fixed soon.

`[21:28:14]: [Transporter Error Output]: An un-handled exception occurred: java.net.SocketTimeoutException: Read timed out for (id: CPUSource114/v4/8b/59/c9/8b59c9f9-aab4-c81f-b5e9-83328d5a3ccb/bd382b207e19eee68889eea0a93d0c1e07fc6ce9

[2020-10-16 04:04] Johnson2234 commented on #17225
is there any one who can give solution of it please suggest any solution [MCDVOICE](https://www.mcdvoice.us/)

[2020-10-16 05:18] scibidoo opened #17448 "Fastlane 2.150.0 breaks enterprise use of iTMSTransport (fastlane-plugin-transporter)"
### New Regression Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Regression Information
- Breaking version: 2.150.0
- Las

[2020-10-16 07:11] philCc commented on #17437
@rogerluan
[code]

[code]
to ruby is
`{"key_id"=>"M7947xxx", "key_filepath"=>"fastlane/AuthKey_xxx.p8", "in_house"=>false, "duration"=>1200, "issuer_id"=>"114490e1-9d99-4d8e-8642-xxx"}`

but, ruby need:
`{:key_id=>"M7947xxx", :filepath=>"fastlane/AuthKey_xxx.p8", :in_house=>false, :duration=>1200, :issuer_id=>"114490e1-9d99-4d8e-8642-xxx"}`

[2020-10-16 07:36] davis29r commented on #17146
Thanks for sharing this query with us ,
I faced similar kind of issue last time, I am still searching for some proper solution please suggest any solution for htis IPAD query
[FaceTime](https://www.facetimeapp.net/)

[2020-10-16 07:57] bartsg commented on #17444
Same issue here, +1. The proposed solution seems to be the fix indeed.

[2020-10-16 08:21] agordeev commented on #17435
@rogerluan Thanks for trying to help. I changed my Fastfile to

[code]

but the result is exactly the same. The bundle is built just fine and I'm able to access it on `build/app/outputs/bundle/release/app-release.aab`. I'm using Flutter by the way.

[2020-10-16 09:05] minuscorp commented on #15184
@luismarquesfreire I have doubts about that backtrace bring related to Fastlane.Swift, could you elaborate the crash steps and environment?

[2020-10-16 09:28] wahmedswl commented on #17146
seems like its working fine when ```match(app_identifier: app_identifier, type: match_profile, force: true)```.

[2020-10-16 09:28] #17146 closed

[2020-10-16 09:39] mathaeus commented on #17318
Thanks @ChristopherDrum. I experience the same non-helping help link across different browsers :/

I don't know about the internals of `fastlane` or `deliver` so eventually somebody with more knowledge needs to help :)

[2020-10-16 09:59] Shepard899 commented on #17084
Thanks for sharing this information keep sharing such informative post[ McDVoice Survey](https://www.mcdvoice.onl/)

[2020-10-16 10:30] mtr1012 commented on #17428
Please fix thisssssssss :(

[2020-10-16 10:40] patreu22 commented on #17225
Do you have the same problem @Johnson2234? Maybe @joshdholtz knows who has an eye on frameit?

[2020-10-16 10:41] mtr1012 commented on #17428
You can hotfix by manual create adhoc profile and remove force:true in sigh command @Qwix Q

[2020-10-16 11:35] spherefoundry commented on #17380
Hey @ainame,

I'm facing a variation of the same problem. By looking at the code I think the verification part in `delete_screenshots` has a small logic flaw. It counts screenshots for all locales, even those it didn't even try to delete.

So IMO the behaviour when the `overwrite_screenshots` flag is set should be on of the two:

1) Remove all screenshots for all locales present in AppStore Connec

[2020-10-16 11:55] revolter opened #17451 "match nuke throws error "Neither `files_to_commit` nor `files_to_delete` were provided to the `save_changes!` method call""
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

I'm migrating from `cert` and `sigh` to `m

[2020-10-16 12:29] ainame commented on #17380
Yes, I've recognised this issue. In my opinion, I'd prefer to keep the existing behaviour for existing fastlane users so that PR can get merged without deep discussions. So I would go with 2 (if I understand your description correct). I might implement it as it's been a bit annoying me while testing `deliver`🙂

If you insist 1 is the go-to option, would you be able to convince Fastlane core contri

[2020-10-16 12:30] ainame commented on #17380
@spherefoundry

Yes, I've recognised this issue. In my opinion, I'd prefer to keep the existing behaviour for existing fastlane users so that PR can get merged without deep discussions. So I would go with 2 (if I understand your description correct). I might implement it as it's been a bit annoying me while testing `deliver`🙂

If you insist 1 is the go-to option, would you be able to convince Fast

[2020-10-16 12:48] ryabchikova commented on #17296
My problem fixed update fastlane to 2.163.0, thanks!

[2020-10-16 13:07] ilyakar commented on #16892
I just switched to AppCenter because Fastlane stopped working. Took 20 mins to set up and now a compile and publish happens in the cloud the moment I do a push to Master. This is a godsend.

Sent from my iPhone

[2020-10-16 13:53] jamesdixon commented on #16796
@p-nicolaou I'm also running into the same issue with Fastlane 2.163.0. Were you ever able to resolve the issue?

[2020-10-16 14:03] jamesdixon opened #17452 "expire_previous_builds = true not expiring previous builds in TestFlight"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
Setting `expire_previous_builds = true` on

[2020-10-16 14:04] ainopara opened #17453 "Invalid transport parameter"
### New Regression Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Regression Information

- Breaking version: Since #16774

[2020-10-16 14:16] ainopara commented on #17453
Thank you bot, I know output of `fastlane env` is not included, but I think that is not needed since I already find out the issue and have a solution ( remove the check or remove a `!`).

[2020-10-16 15:41] detectedstealth opened #17454 "Could not resolve package dependencies"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Building project that uses swift packages

[2020-10-16 18:07] hawkinsjb1 commented on #17371
I am also specifying `team_id` and `itc_team_id` in my Appfile and receiving:
[code]
Are there any temporary workarounds I can try until this is resolved?

[2020-10-16 18:07] rzulkoski commented on #17357
Sorry for the delay, this is now working as expected. Thanks!

[2020-10-16 20:26] minuscorp commented on #17454
It seems to me more than a Xcode bug 😪

[2020-10-16 20:58] detectedstealth commented on #17454
Really? Because if I run that command alone outside of anything related to fastlane it has no issues resolving.

I am using Xcode 12.2 beta 3 though.

[2020-10-17 00:05] mvarie commented on #17454
Same here, using Xcode Version 12.0 (12A7209), with Stripe's `stripe-ios` SPM library. Maddening.

[2020-10-17 04:56] Jones934 commented on #17409
I am able to install, because of conflict [myPennMedicine Login](https://mypennmedicine.us/)

[2020-10-17 06:42] Martin-926 commented on #17232
Thanks fort he solution,its work for me [NavyArmyCCU Login](https://www.navyarmyccu.ltd/)

[2020-10-17 10:23] YWD commented on #17415
@rogerluan fastlane use xcode command line command to communicate with appstoreconnect. I can't install xcode command line tool, so I can't use fastlane to test the auth way.

[2020-10-17 10:23] #17415 closed

[2020-10-17 10:57] Paul8490 commented on #17435
Thanks for sharing your reply here keep share your queries here
so anyone from the community who has faced the same issue can also find 
the solution from comments below, keep sharing [ FaceTime for Windows](https://www.facetimeapp.ltd/facetime-for-pc-windows-download/)

[2020-10-17 11:46] firecodeing commented on #17444
@rogerluan I've made a patch for this issue. See:

[code]

[2020-10-17 13:07] thor-jc commented on #17419
After reading that thread I tried setting my BUNDLE_GEMFILE env var but I'm not sure if that was the main part of that thread.   Since I followed many other threads I'm not sure I am in a good state.  E.g. I added a GEM_HOME bc when I tried to install the plugin I ran into permission errors and didn't want to run as sudo.

So my env for GEM looks like ->
<details><pre>
thor@alloa at_base_lib % env

[2020-10-17 13:37] minuscorp commented on #17454
Same project in Xcode 11 works?

[2020-10-17 14:21] detectedstealth commented on #17454
I'm targeting iOS 14 so I can't use Xcode 11 therefor I have never tried. And as stated it doesn't seem like it is an issue with Xcode. Because running the failing command separately in terminal works than after I can run the deploy successfully.

[2020-10-17 16:37] minuscorp commented on #17454
I have used xcodebuild commands raw that were failing on Xcode, it'd be useful to know it this happens in Xcode 11, but I think it is an Xcode issue because, as you said it happens in Xcode but not in raw command. I'd fill a radar

[2020-10-17 17:02] detectedstealth commented on #17454
I think you miss understand what I'm saying. I can build my project in Xcode and I can build my project from the terminal. However when using the fastlane commands to do the same it fails on resolving dependencies.

[2020-10-17 17:32] #17189 closed

[2020-10-17 17:32] #17181 closed

[2020-10-17 17:32] #17176 closed

[2020-10-17 17:33] #17170 closed

[2020-10-17 17:33] #17139 closed

[2020-10-17 17:33] #17090 closed

[2020-10-17 17:33] #17079 closed

[2020-10-17 17:35] minuscorp commented on #17454
I'll check if it Xcode fastlane project supports SPM, on the other hand you can always use the SPM fastlane package instead.

[2020-10-17 17:52] detectedstealth commented on #17454
Ok I'll take a look didn't know there was a SPM fastlane package as it's my other dependancies that are failing with it.

[2020-10-17 20:39] minuscorp commented on #17454
It is still preliminar, didn't have time to add docs

[2020-10-18 01:58] imWildCat commented on #17117
@fastlane-bot I don't think it should be closed. Please re-open.

[2020-10-18 06:00] jenskuhrjorgensen commented on #17231
No bot!

[2020-10-18 23:30] gangadharbonda opened #17461 "Fastlane is not updating to latest version 2.163.0 from 2.152.0"
### New Issue Checklist

- [x ] Updated fastlane to the latest version
- [ x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [ x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [ x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

I am currently trying to update Fastla

[2020-10-19 03:12] KortVea commented on #16129
same problem

[2020-10-19 04:31] ToshikiHata commented on #16627
I still face this problem.
I collected a log with `fastlane run spaceship_logs`.
It seemed that a 500 error occurred at the execution of `ra/apps/{id}/platforms/ios/versions/{id}` API.
(My test app's status is `Prepare for Submission`, is that relevant?)

#### fastlane version:
[code]

#### console output:
[code]

#### excerpt from spaceship log:

[code]

[2020-10-19 07:03] Matthews-92 commented on #17391
Thanks for the information,keep sharing this kind of news [MySainsburys Login](https://www.mysainsburys.me/)

[2020-10-19 08:47] dcacenabes commented on #17283
Ok so this actually worked.
[code]
It scheduled the release to happen not earlier than the given date (which is actually a date in the past). After a couple of minutes waiting the phased release started!!!
So at least we have a workaround 🎉

[2020-10-19 09:01] Walter890 commented on #17443
Thank you so much for the information keep suggesting us such informative post i will recommend this post to others [www.tellpopeyes.com](https://www.tellpopeyes.biz/)

[2020-10-19 12:38] spherefoundry commented on #17380
@ainame

I think both options work for me 😄  If option 2 is easier because of pre-existing behaviour, then I would say we have a winner.

Something that would additionally help us a lot would be to get some more logs around the filtering part, as to understand better which screenshots ware not delated.

BTW: I'm really sorry for not being able to help you our here with a PR of my own. The Contribu

[2020-10-19 14:39] hankinsoft opened #17464 "Screenshots not being generated for all devices."
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
I'm trying to use `fastlane snapshot` and s

[2020-10-19 15:54] FFDeveloper opened #17466 "Is it possible to redirect errors or warning message to a file?"
I need to redirect the fastlane output when something goes wrong in different files. One for warning messages and one for errror messages. These messages should include all the exception stack when it is supported. Is it possible to achieve this using the error lane or should I use other toosl? I need to detect build errors, signing errors, upload errors and so on.

[2020-10-19 16:16] lyndsey-ferguson commented on #16960
@lilyball Can you modify your `Gemfile` per my instructions below, run `bundle install`, and then run your fastlane again (with the `--verbose` flag)?

Pluginfile:
[code]

If there are still problems, please let me know and attach the console output as a text file to this issue (makes it easier for me to review).  If it works, please let me know.

[2020-10-19 16:55] #17400 closed

[2020-10-19 17:31] #17113 closed

[2020-10-19 18:52] #16989 closed

[2020-10-19 19:36] jakubgs commented on #15185
Today #17456 was merged which adds the `:codesign` partition ID when importing the keychain using `security` command in `match` as I requested in #16989. I believe that once this fix is included in a release my Ruby fix proposed in OP will work:
[code]
Once that release is available I will attempt to confirm this indeed works.

[2020-10-19 19:46] Parigi65 opened #17468 "app_store_connect_api_key doesn't work with key_filepath as Environment Variable - Azure Bamboo"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [X] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [X] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
When trying to create an app_store_connect_

[2020-10-20 00:26] yunsun330 opened #17470 "Get the presigned url for the uploaded file on AWS S3?"
Is it possible to get the file download link from aws s3 bucket after upload an android apk?
I would like to get presigned url

[2020-10-20 01:50] philCc commented on #17468
May be, you need change to
[code]

https://github.com/fastlane/fastlane/blob/5d9219e34f21e6e3bb87df87a5e621f1e7e42edc/spaceship/lib/spaceship/connect_api/token.rb#L43-L66

[2020-10-20 04:02] ToshikiHata commented on #16627
↑
I updated fastlane version to 2.164.0 and I confirmed the problem was fixed :bow:

[2020-10-20 04:29] fatihyildizhan commented on #17464
I have the same error since 3 months. I left using fastlane due to this error.

#17039

These errors started with v2.156.0.

[2020-10-20 05:28] agordeev commented on #17435
Can someone remove this spam link from above please? ^^^^

[2020-10-20 08:54] Parigi65 commented on #17468
Unfortunately this not resolve the issue.

Using:
[code]
I receive another kind of error:
[code]

[2020-10-20 09:17] StavrosHacker opened #17471 "Spaceship Ruby script works from terminal, but not from PHP shell_exec"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
I've written a script with spaceship that d

[2020-10-20 09:28] jaderYang opened #17472 "[Fastlane.Swift] bundle exec fastlane customlane always failed."
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

fastlane failed to receive a connection fr

[2020-10-20 09:52] hankinsoft commented on #17464
@fatihyildizhan what are you using for automatic screenshots instead?

[2020-10-20 10:28] Parigi65 commented on #17468
cc: @joshdholtz

After a lot of tests, it is important to say that "app_store_connect_api_key" is working correctly with the following set up:

[code]

"Pilot" also works fine.

But, If for security reasons, the .p8 content file is assigned to a ENV variable (I'm using Azure Bamboo), Pilot is the anomaly, it is not possible to upload the .ipa. I receive this error:

[code]

[2020-10-20 10:45] Parigi65 commented on #17468
I'm working on other tests and I noticed that "Pilot" works fine also when the fastfile is configured as follows:

[code]

${bamboo.ASCAK_KEY_ID} is one of the bamboo environment variables created ad hoc to hide they values, mainly.

So, the main point is if it is secure to set the .p8 content into the fastfile or into the .env file.
If it is possible, with this value, the "key_content", to let ot

[2020-10-20 11:05] Kaspik opened #17474 "[download_dsyms] Wrong build version and dSYMS selected for "latest" version"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues) - yes, existing issues: https://github.com/fastlane/fastlane/issues

[2020-10-20 11:12] Kaspik commented on #17474
@joshdholtz I believe this was introduced in bigger changes like https://github.com/fastlane/fastlane/pull/17148.

[2020-10-20 11:19] fatihyildizhan commented on #17464
@hankinsoft We are doing manually due to this problem. We don't want to spend time to other solutions too. If fastlane can fix this problem then we can start using it again. But, it's been 3 months now.

@joshdholtz added his board https://github.com/fastlane/fastlane/projects/3#card-43620378 We hope they can fix it.

[2020-10-20 11:29] hankinsoft commented on #17039
Me too - #17464 (I'll close that as a duplicate).

[2020-10-20 11:29] #17464 closed

[2020-10-20 17:31] #17119 closed

[2020-10-20 18:07] dagan-arbox commented on #16892
any updates on that matter?
seems like a global issue, no one check it?

[2020-10-20 18:33] lolucosmin commented on #17164
The problem is still persisting.

[2020-10-20 19:33] joshdholtz commented on #17039
Snapshots are working for me 😔  But I'll be looking more into this tomorrow to see if I can replicate what's going on!

[2020-10-20 19:40] joshdholtz commented on #17474
Ohhhhhhhh... I think I see what is going on 😔 Will fix tomorrow!

[2020-10-20 21:19] fatihyildizhan commented on #17039
I have an extra function to take ss Today Widget on SnapshotHelper.swift but when I remove this func, I am not able to get screenshots too.

This may help you to replicate.

[code]

[2020-10-20 21:23] anusebastian opened #17476 "How to update the apple id credentials associated with fastlane.?"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

##### Command executed

##### Complete out

[2020-10-20 22:41] mattinasi commented on #17244
@joshdholtz - thank you! 😸

If I can help test it or review please let me know

[2020-10-21 00:19] nancy-gomez opened #17477 "Spaceship `provisoning_profile.all()` does not support Catalyst profiles"
Hello! We rely on Spaceship to identify invalid profiles from the Apple Developer Portal, the introduction of the Catalyst profiles has been some trouble, and I see that `sigh` now has catalyst as a platform option https://github.com/fastlane/fastlane/blob/master/sigh/lib/sigh/download_all.rb#L41, but don't see the same love in Spaceship!

Would it be possible to also add this support in Spaceship

[2020-10-21 02:20] klmitchell2 commented on #16892
Besides using AppCenter, has any one figured out a work around? Or could some one provide details on how to downgrade to a working version of fastlane/pilot?

[2020-10-21 02:35] shtnkgm commented on #17468
I'm experiencing this problem as well.
When I register a private key in the environment variable, I get "invalid curve name" and it fails.

[code]

CI: Screwdriver.cd
Action: get_provisioning_profile

[2020-10-21 04:25] maykonmichel opened #17479 "The request could not be completed because: Access forbidden"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [X] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [X] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [X] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

When I try to log in on init fastlane, I r

[2020-10-21 04:27] Reeves-82 commented on #17377
Thanks for the information [upsers](https://www.upsers.online/)

[2020-10-21 04:47] gabrieljoelc commented on #16977
I was having a similar where after uploading a build with `fastlane beta ios` an external tester was not getting access the build. The build looked healthy in every way. The next day I received a Apple Connect email saying that my "has been approved for beta testing". After this, the external tester was able to get the build.

[2020-10-21 06:59] gangadharbonda commented on #17461
<details><summary>🚫 fastlane environment 🚫</summary>

### Stack

| Key                         | Value                                                          |
| --------------------------- | -------------------------------------------------------------- |
| OS                          | 10.15.7                                                        |
| Ruby                        | 2.6.3

[2020-10-21 09:57] andemengo opened #17482 "[Fastlane.Swift] `onError` never called."
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Currently, the method `onError` isn't impl

[2020-10-21 10:25] jcharr1 commented on #17208
We're suddenly getting this for the last couple of days or so, too. I tried downgrading fastlane to versions 2.161.0 through 2.163.0 but it didn't make a difference. Maybe something changed or there's some kind of issue on Apple's side?

[2020-10-21 10:41] jcharr1 commented on #17208
Never mind. Whatever the issue on Apple's end was appears to be resolved now.

[2020-10-21 12:49] #17443 closed

[2020-10-21 12:52] xCTAPx commented on #17443
Duplicate has not got answer. Why my issue has closed??

[2020-10-21 12:52] max-ott commented on #17452
Probably related to all the App Store Connect changes. Not sure if everything "propagated" to TestFlight as well.

[2020-10-21 12:52] max-ott commented on #17453
Might be related: https://github.com/fastlane/fastlane/issues/17448

[2020-10-21 12:53] max-ott commented on #17461
Probably has something to do with your local setup. Please use `bundler` or similar.

[2020-10-21 12:53] #17461 closed

[2020-10-21 12:54] max-ott commented on #17466
You'll find the full logs in `tmp/spaceship....log`. They contain the full stack trace and similar.

[2020-10-21 12:54] #17466 closed

[2020-10-21 12:57] max-ott commented on #17471
I don't think this is an error related to `spaceship`, but rather your implementation. Unfortunately we cannot provide generic support here on Github.

[2020-10-21 12:57] #17471 closed

[2020-10-21 12:58] max-ott commented on #17479
Are you sure that you have either access to https://appstoreconnect.apple.com or https://developer.apple.com/account ?

[2020-10-21 13:00] max-ott commented on #17476
Simply delete the following folder containing any cookies: `~/Users/username/.fastlane`

[2020-10-21 13:00] #17476 closed

[2020-10-21 13:03] max-ott commented on #17443
Please be more specific why this issue is different. Linking to a 1 year old log does not help with any debugging.

[2020-10-21 13:05] xCTAPx commented on #17443
I have the same log. Also I added `fastlane env` output log.

[2020-10-21 13:25] joshdholtz commented on #17444
@firecodeing Do you mind making a PR for this with your proposed change? 😇

[2020-10-21 13:52] lyndsey-ferguson commented on #16960
This issue should be closed, as it was already fixed and released as part of [_fastlane_ 2.164.0](https://github.com/fastlane/fastlane/releases/tag/2.164.0) 🚀

[2020-10-21 14:44] maykonmichel commented on #17479
Yes, I do have access to both of them and the account is the holder of the app.

[2020-10-21 15:40] FFDeveloper commented on #17466
Sorry but I have no tmp/spaceship... files or directories. In any cases, I don't want the full output, just the error or warning messages.

[2020-10-21 16:33] joshdholtz commented on #17244
@mattinasi Do you happen to have an `Organization ID` that I can test with? 😬 I'm able to add support for Apple ID but I don't know how to make the request and test for `Organization ID` since these requests are not added to the docs yet. Feel free to send me an email at me@joshholtz.com if you want to communicate over that!

[2020-10-21 16:54] joshdholtz commented on #17244
@mattinasi It also turns out that this is not available in the official App Store Connect API meaning that this will only work over a a web session with Apple ID and not with the App Store Connect API Key (yet) 😔 I'm filing a radar for adding this ability right now.

[2020-10-21 17:02] mattinasi commented on #17244
@joshdholtz Thanks for the info!

I presume we have to do this manually until App Store Connect API supports it and `fastlane` is updated to use it?

[2020-10-21 17:03] joshdholtz commented on #17244
@mattinasi Nope nope! I'm working on adding the models and methods to `Spaceship::ConnectAPI` but it will only work with Apple ID auth for now 🤷‍♂️

[2020-10-21 17:32] #16956 closed

[2020-10-21 19:53] maykonmichel commented on #17479
I just kept trying and it worked.

[2020-10-21 19:53] #17479 closed

[2020-10-21 22:02] anusebastian opened #17484 "Failed to upload to testflight due to 2FA code"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

##### Command executed

##### Complete out

[2020-10-21 22:02] anusebastian commented on #17484
Fastlane is failed to upload build to testflight .Everything this was working fine till my last release a month back.
After changing the apple id password associated with fastlane and phone number everything stopped working.resolved all those problems by updating keychain and delted cookie from ~/fastlane/[email]/cookie.
But the build failed and it is asking for the 6 digit code which I received b

[2020-10-22 04:57] Collette-21 commented on #17171
This is not working please provide us correct solution [paycheckrecords](https://www.paycheckrecords.us/)

[2020-10-22 05:53] Morell9312 commented on #17370
Facing same Error, please help me on [citefast](https://www.citefast.us/)

[2020-10-22 07:47] DDamian commented on #17429
I still have this problem in 2.164.0:

[code]

Any idea?

[2020-10-22 10:27] dagan-arbox commented on #16892
https://discuss.bitrise.io/t/how-to-use-a-specific-version-of-fastlane/1001?u=viktorbenei

[2020-10-22 11:28] grEvenX commented on #17484
@anusebastian 2FA doesn't work very well on CI. You can read more about it here: https://docs.fastlane.tools/best-practices/continuous-integration/#security-code-and-session.

The latest releases of Fastlane supports most of the actions using an [App Store Connect API](http://docs.fastlane.tools/actions/app_store_connect_api_key/#app_store_connect_api_key) Key, so I'd recommend you to update the p

[2020-10-22 13:15] pranjali420 opened #17488 "FastlaneCore::Interface::FastlaneCrash: [!] Could not retrieve response as fastlane runs in non-interactive mode"
### New Issue Checklist

- [ ✅ ] Updated fastlane to the latest version
- [ ✅ ] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [ ✅ ] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [ ✅ ] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

 Getting Following fastlane error

[2020-10-22 14:43] jayypluss commented on #17141
So with my apple account I don't have access to generating certificates, but if they've sent me the .cer and .p12 files, is it not possible to use fastlane with them? In this case I do have to build manually from xcode interface?

[2020-10-22 15:01] BenjaminSAILcloud commented on #17430
Ok, I am unfortunately dependant of the task that I am using but the authors helped me out. I added, on their suggestion, the `-p` param with the value of the apple id from _Apple ID_ property in the **App Information** section in **App Store Connect**, and it works just fine.

The correct command looks like this :
[code]

How to find the Apple ID :
![Screenshot 2020-10-22 at 16 42 21](https://use

[2020-10-22 15:01] #17430 closed

[2020-10-22 17:42] goetzc commented on #16736
Not resolved

[2020-10-22 19:07] minuscorp commented on #16736
Change `MyMdodule` for `::MyModule`, ultimately keep your code in a class, a module seems too much IMO.

[2020-10-22 21:00] joshdholtz commented on #17244
@mattinasi Hey sorry! Got sidetracked by some other things but here is the PR 😊  https://github.com/fastlane/fastlane/pull/17490

I dropped an example of how I tested it. If you want to test that this works for you that would be 💯

[2020-10-22 21:03] anusebastian commented on #17484
@grEvenX   Thanks for your help .
It started working after I created a new session using the command fastlane spaceauth -u user@email.com and updated the same in FASTLANE_SESSION .Also created new app-session password.

[2020-10-22 21:03] #17484 closed

[2020-10-22 21:30] mattinasi commented on #17244
@joshdholtz - I will try and test this in the next day. It looks we will no longer be messing with `availability` and instead doing things on the app, and creating a `CustomAppOrganization`.

What is a `CustomAppUser` used for?

[2020-10-22 21:33] joshdholtz commented on #17244
@mattinasi I guess it's another way to make B2B work? I don't really know to be honest lol... But my app store account had an option to select by "Organization" or "Apple ID" so I added the ability to add both 🤷‍♂

[2020-10-23 05:04] aidandavis opened #17491 "spaceauth token obtained by `fastlane spaceauth -u [username]` doesn't last a day"
### New Issue Checklist

- [ x] Updated fastlane to the latest version
- [ x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [ x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x ] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

I am running a github actions pipeline

[2020-10-23 05:18] Clark-861 commented on #17414
Thanks for the solution [targetehr](https://www.targetehr.us/)

[2020-10-23 07:32] mathaeus commented on #17318
@ChristopherDrum update from my side. It seems to work again for us 🤷‍♂️ .

At least I see the `What's New in This Version` field being filled correctly on `App Store Connect`.
[code]

[2020-10-23 07:46] dharapatel-arrk commented on #17488
Can someone please help me, I'm also facing the same issue.

[2020-10-23 08:27] figengungor commented on #17287
This is is solved on my side. The issue was I just copy pasted example content of Matchfile in the docs(https://docs.fastlane.tools/actions/match/). It was missing  storage_mod git part.

[2020-10-23 08:27] #17287 closed

[2020-10-23 08:41] Tripwire999 opened #17492 "add_git_tag error: No value found for build_number"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
I'm trying to deploy my Android app via Fas

[2020-10-23 09:17] Gomes-89 commented on #17419
Thanks for the information [Omegle](https://www.omegle.ltd/)

[2020-10-23 12:35] max-ott commented on #17491
We don't really have any influence on how long Apple decides cookies / tokens are valid. If possible switch over to using the new App Store Connect API key, if your action supports this.

[2020-10-23 12:35] #17491 closed

[2020-10-23 12:37] max-ott commented on #17488
Does your Apple ID have 2 factor authentication active? Looks like Fastlane wants you to provide the sms code, which is not working in non-interactive modes. If possible switch to an Apple ID without 2factor/step authentication or use the App Store Connect API key where possible.

[2020-10-23 13:28] pranjali420 commented on #17488
Hey @max-ott thanx for the response we have resolve this issue, it is because of we are not able to upload build to app centre through the CI, Which makes total sense for the error that we are getting from the fastlane "Could not retrieve response as fastlane runs in non-interactive mode". now it has been resolve thanks.

[2020-10-23 13:28] #17488 closed

[2020-10-23 14:14] dave-perry commented on #17283
Having the same issue too.

[2020-10-23 15:25] #17428 closed

[2020-10-23 15:39] markreynoso commented on #17468
I had a similar situation. I was using Environment Variables to populate app_store_connect_api_key and receiving "invalid curve name". It turned out that the formatting for the Environment Variables needed to be addressed. In my case there was an extra set of escaped quotes on the string. I was then able to fix this by removing the unwanted characters from the string.

[2020-10-23 17:31] #16996 closed

[2020-10-23 17:38] Kaspik commented on #17300
Needs docs updated. Will try over the weekend.

[2020-10-23 19:08] #17244 closed

[2020-10-23 19:46] mattinasi commented on #17244
Many, many thanks!! 🙏

[2020-10-24 05:28] seeligd commented on #17209
I'm encountering the same issue. Here's the important parts of my  `fastlane env` output

[code]

[2020-10-24 05:47] Landgraf-342 commented on #17423
Thanks for the information [ePayitonline Login](https://www.epayitonline.us/)

[2020-10-24 08:46] Wbqqqq commented on #17394
same issue, How to fix?

[2020-10-24 18:19] kabouzeid commented on #17089
Doesn’t work for me

[2020-10-24 19:07] firecodeing commented on #17444
HI @joshdholtz, I can't because I do not have a google account to sign the CLA.

[2020-10-25 17:31] #17259 closed

[2020-10-25 17:31] #17236 closed

[2020-10-25 17:31] #17223 closed

[2020-10-25 17:31] #17217 closed

[2020-10-25 17:31] #17214 closed

[2020-10-25 17:32] #17193 closed

[2020-10-25 17:36] Taipei168 opened #17495 "Create a new issue"
### New Regression Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [ ] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [ ] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Regression Information

- Breaking version: [e.g. `2.x.x

[2020-10-26 01:42] ChristopherDrum commented on #17371
@joshdholtz Any updates on this issue? You put it in your queue about 3 weeks ago; just curious to know if anything suspicious turned up yet?

[2020-10-26 02:27] joshdholtz commented on #17371
Thanks for friendly ping! This should fall onto my Tuesday or Wednesday of this week! A few things from other fastlane related projects got interested in over the past few weeks along with some radar filing 🤷‍♂️ But nothing looks like it will be popping in this week so I should get to it soon ™️

[2020-10-26 05:24] ChristopherDrum commented on #17318
@mathaeus Then I wonder why fastlane was skipping the `ja` folder 🤔
Thanks for the update. I started wondering about `default` when I saw it doesn't specifically mention `localized` in the message. But I also don't have a `default` folder and only have 3 languages so it seemed at first like a one-to-one; three lines in the logs and three languages.

Thanks for the update and fingers crossed I'll h

[2020-10-26 07:15] Myers-Md commented on #17470
Thanks for the information guys [iMessage on PC](https://www.imessageapp.biz/imessage-app-for-pc-download/)

[2020-10-26 07:25] xilin commented on #17209
Hi @seeligd  :) https://github.com/fastlane/fastlane/issues/12260#issuecomment-379596642 seems to be a manually fix. There is a typo there so I edit here:
[code]

However it would be better if we can find the root cause. Maybe a fix openssl version?

[2020-10-26 07:37] IoT-Tobi commented on #17428
After updating to fastlane 2.165.0 I've tried to sign again and unfortunately I get an similar error.
Now it says undefined method "expires"...

`[08:23:20]: Your Apple ID Username: <username>
[08:26:59]: Starting login with user '<username>'
[08:27:01]: Successfully logged in
[08:27:01]: Fetching profiles...
[08:27:02]: To not be asked about this value, you can specify it using 'app_identifier'
/

[2020-10-26 07:38] mtr1012 commented on #17428
Me same @IoT-Tobi

[2020-10-26 08:39] pke commented on #17317
This is still an issue with the latest fastlane version 1.264.0

[2020-10-26 11:01] Griffin322 commented on #17472
Thanks for sharing your reply here keep share your queries here
so anyone from the community who has faced the same issue can also find 
the solution from comments below, keep sharing 
[ mcdvoice](https://www.mcdvoice.onl/)

[2020-10-26 11:22] webdevbyjoss commented on #16127
This happened to me with 2.164.0 and updating to 2.165.0 fixed the issue.

[2020-10-26 11:27] arthurpalves commented on #16127
@webdevbyjoss `2.165.0` is the latest release. The issue is when updating to a newer version, which right now you don't have.

[2020-10-26 15:24] goodpic commented on #17327
Hello, I am having the same error and there is no promoGraphic in the directory.
If I set to skip uploading metadata and images in Fastfile, I could upload the build without any issue.

Do you know how I can prevent Supply to try to download promoGraphic?

## Workaround in Fastfile
[code]

## Error when "supply init"

[code]

[code]

[code]

[2020-10-26 16:32] JimHowell20 commented on #17380
I keep getting this error on fastlane version 2.164.0.

[2020-10-26 19:05] michaellenaghan commented on #15963
For what it's worth...

I took a closer look at this over the weekend and was able to get everything working, at least for my use case.

My use case is:

 * a Catalyst app
 * using CloudKit.

The CloudKit part matters because it means that I have to specify an `export_option`, `iCloudContainerEnvironment`, when building. (Well, when "exporting" the build.)

I created these four lanes:

[code]

The

[2020-10-26 20:41] andysousa commented on #17178
Were you able to resolve this?  I am seeing the exact same issue.  I created the service account, and it seems to upload my bundle correctly... but when i log into the console that release is nowhere to be found.

Any advice?

[2020-10-26 20:45] rogerluan commented on #16960
Thanks for your contribution @lyndsey-ferguson 🚀
If you still experience issues (or new issues arise), please let us know @lilyball 🤗

[2020-10-26 20:45] #16960 closed

[2020-10-26 20:50] rogerluan commented on #15185
Were you able to confirm this, @jakubgs ? :)

[2020-10-26 23:24] andrewhavens commented on #17178
Pretty sure you aren't supposed to find the upload anywhere in the console. Internal app sharing just gives you a URL.

[2020-10-26 23:30] andysousa commented on #17178
Oh, i thought it would create a release on my internal testing in the play console... is that possibly a different action?

![image](https://user-images.githubusercontent.com/42151009/97239345-c2d81480-17c1-11eb-8d1b-2990143526fe.png)

[2020-10-27 01:27] ChristopherDrum commented on #17318
Found an old .log file which contains the time when release_notes.txt upload success transitioned to failure.

On Sep. 21, v2.157.2 -> success
On Oct. 12, v2.162.0 -> failure (and every version since then)

[2020-10-27 01:34] andysousa commented on #17178
oops, i guess this was just the wrong action for what i was trying to do.  Accomplished what I wanted with
`upload_to_play_store(track: 'internal')`

[2020-10-27 04:31] Natalie298 commented on #17448
Thank you so much for the information keep suggesting us such informative post i will recommend this post to others [mygiftcardsite](https://www.mygiftcardsite.pro)

[2020-10-27 06:13] Fields-hash commented on #17452
It will change in app store,i am not about this as it can propagate [NJMCDirect](https://www.njmcdirect.one/)

[2020-10-27 07:22] mathaeus commented on #17318
@ChristopherDrum that seems to be weird indeed. We also haven't really changed anything about our setup and on Friday it worked. BUT on Friday I executed the according lane locally and not on CI. Although that shouldn't really matter, but who knows. I guess I will see soon, if we keep having the problem on CI.

[2020-10-27 10:01] concuror commented on #16127
Still happens

[2020-10-27 10:37] #17495 closed

[2020-10-27 11:36] Cyberbeni opened #17498 "FASTLANE_DISABLE_COLORS doesn't have any effect when executing a plugin action"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
I'm using the [test_center](https://github.

[2020-10-27 11:50] Cyberbeni commented on #17498
Colors are also not disabled for `bundle exec fastlane add_plugin ...` and `bundle exec fastlane incorrect_lane_name`

[2020-10-27 15:32] nero2009 commented on #17208
Still getting this error

[2020-10-27 15:37] joshdholtz commented on #17371
@ChristopherDrum

## Solving issue with workaround (https://github.com/fastlane/fastlane/issues/17371#issuecomment-704645315)

I think you need to try setting `skip_select_team: false` in your comment from above 👇 That will prevent the output of `The current user is in 2 teams. Pass a team ID or call select_team to choose a team. Using the first one for now.`

This defaults to false so that https:

[2020-10-27 16:51] jcharr1 commented on #17208
After my last post it's been intermittently happening to us too.

[2020-10-27 17:32] #17003 closed

[2020-10-27 18:03] joshdholtz commented on #17448
@scibidoo I think this should do it! Do you mind testing this out? https://github.com/fastlane/fastlane/pull/17502 😊

[2020-10-27 19:07] seanmcneil opened #17503 "Dead link provided when `fastlane run appledoc`"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
The error message shown when running `fastl

[2020-10-28 03:42] destinybonavita opened #17507 "Github Actions: Screenshots are very slow"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
Attempting to take screenshots via Github A

[2020-10-28 09:32] #17414 closed

[2020-10-28 10:29] Overton-ss commented on #17492
Facing same issue but i have included fastlane env, please provide me a solution [MyGiftCardSite](https://www.mygiftcardsite.one/)

[2020-10-28 15:30] joridor opened #17509 "xcode_install fails with "Could not find Xcode with version '12.1 GM seed'"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
When using Xcode_install function in the Fa

[2020-10-28 17:34] destinybonavita commented on #17507
I just updated to include the output of `fastlane env`

[2020-10-28 17:53] joshdholtz commented on #16127
👋 Hey, fam! I was finally able to replicate this error (🥳  but 😔)

It turns out this error (at least for me) is caused when the _fastlane_ instance I'm executing is actually one that is installed from `brew` and not through `gem install`. I was not able to replicate this without the `brew` installation 😬

Are you all using the the `brew` installation?

[2020-10-28 17:54] arthurpalves commented on #16127
Yes @joshdholtz
I'm using `brew`

[2020-10-28 18:27] joshdholtz commented on #16127
@arthurpalves Ahhhh... I think that is the issues because the brew install needs to be updated with `brew upgrade fastlane` 😱

[2020-10-28 18:33] aberaud commented on #17325
This issue is still a problem. Please consider it.

Also `fastlane env` is irrelevant for this bug report.

[2020-10-28 19:06] john-mejia opened #17510 "Spaceship Connect API - select_build not working on app_store_version"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [ x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [ x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [ x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
When working with a build with edit stat

[2020-10-28 19:50] trajano opened #17511 "Fastlane session is expired every day when releasing an app to TestFlight via Azure DevOps"
### New Issue Checklist

- [ ? ] Updated fastlane to the latest version I'm using Azure DevOps
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

Found existing https://github.com/fastla

[2020-10-28 21:56] ChristopherDrum commented on #17371
@joshdholtz Thanks for the explanation. Given what you've said, it does seem that just a documentation update to clarify how/when these parameters are used and recommended best practices would be more than sufficient. I'll update my appfile and fastfile today.

[2020-10-28 21:57] joshdholtz commented on #17371
@ChristopherDrum Sounds great! Let me know the result if you don't mind 😊 I'll update the docs once I hear back from you just to make sure that everything here is 💯

[2020-10-28 22:17] rafagan opened #17514 "Seems to be a very old project file format - please open your project file in a more recent version of Xcode"
I'm experiencing the following error:

[code]

The command which causes the error is:

[code]

Any help?

[2020-10-29 02:28] shtnkgm commented on #17468
I found the following workaround.

Replaces the secret key's newline code with "\n" and registers the string in an environment variable.

e.g.)

[code]

↓

[code]

[2020-10-29 02:29] suztomo commented on #16164
I got the error "Google Api Error: forbidden: The caller does not have permission" and it turned out I didn't specify my app in "app permission" tab:

<img width="1272" alt="Screen Shot 2020-10-28 at 10 28 41 PM" src="https://user-images.githubusercontent.com/28604/97518099-f1deb980-196c-11eb-97fb-66b868ca2ed3.png">

[2020-10-29 04:24] xi1505-akhan opened #17516 "fastlane init gets failed"
App Name: Fastlane Demo
[09:47:39]: Creating new app 'Fastlane Demo' on App Store Connect
[09:47:39]: Sending language name is deprecated. 'English' has been mapped to 'en-US'.
[09:47:39]: Please enter one of available languages: ["ar-SA", "ca", "cs", "da", "de-DE", "el", "en-AU", "en-CA", "en-GB", "en-US", "es-ES", "es-MX", "fi", "fr-CA", "fr-FR", "he", "hi", "hr", "hu", "id", "it", "ja", "ko", "

[2020-10-29 08:21] Parigi65 commented on #17468
After other test I can say that we can close this ticket.

This is my last configuration:

[code]

As you can see, the App Store connect API parameters are now referencing to Environment variables.
In Bamboo it is possible to define them into the Job, so it let the app be signed and uploaded to TestFlight.

Thank you all.

[2020-10-29 08:21] #17468 closed

[2020-10-29 09:09] concuror commented on #16127
@joshdholtz This happened to me when I had `fastlane` installed globally via `gem install` and locally from Gemfile via `bundler`. I did not have the `brew` version installed.

[2020-10-29 10:19] NathHorrigan commented on #17327
@goodpic Did you find a work around for this?

[2020-10-29 10:24] Cyberbeni commented on #17498
From our logs, this used to work with 2.114.0, which was before this change:
https://github.com/fastlane/fastlane/blob/404ca994f8ecd1a8cfec1f1deca445605327fdc9/fastlane/lib/fastlane/cli_tools_distributor.rb#L130
Might not be related. @liamnichols any idea what would cause this?

[2020-10-29 10:41] max-ott commented on #17516
The language names have nothing to do with your environment language. Please also follow our issue templates and post all required information.

[2020-10-29 10:41] #17516 closed

[2020-10-29 10:41] max-ott commented on #17514
Please re-open the issue with complete information as per issue template.

[2020-10-29 10:41] #17514 closed

[2020-10-29 10:43] max-ott commented on #17511
Duplicate of https://github.com/fastlane/fastlane/issues/17491

[2020-10-29 10:43] #17511 closed

[2020-10-29 10:44] max-ott commented on #17510
Please re-open the issue adding all information as per our issue templates.

[2020-10-29 10:44] #17510 closed

[2020-10-29 10:45] max-ott commented on #17507
AFAIK this is the expected behaviour. Taking screenshots does take time. Feel free to refactor the `snapshot` code to speed up the process.

[2020-10-29 10:45] #17507 closed

[2020-10-29 10:53] max-ott commented on #17327
Could you please try using my branch over at https://github.com/fastlane/fastlane/pull/17518 and see if this solves the problem? Unfortunately we're not using `supply`, so I cannot test this. Make sure to use the correct gem in your `gemfile`:

`gem "fastlane", github: "fastlane/fastlane", branch: 'max-ott-patch-2-1'

[2020-10-29 11:11] arthurpalves commented on #16127
Indeed, I've tried again with `gem install` and experienced the same

[2020-10-29 13:10] destinybonavita commented on #17507
@max-ott, but this hasn't always been this slow. It was working fine one build then a few builds after it slowed down

[2020-10-29 13:11] rafagan opened #17520 "Seems to be a very old project file format - please open your project file in a more recent version of Xcode"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [X] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [X] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
I'm experiencing the following error:

[cod

[2020-10-29 14:15] minuscorp commented on #17520
Are you using fastlane Swift? Or..? Provide more information if possible. Thanks!

[2020-10-29 14:20] rafagan commented on #17520
No, I'm using the ruby one.

Ráfagan Sebástian de Abreu
________________________________
De: Jorge <notifications@github.com>
Enviado: quinta-feira, 29 de outubro de 2020 14:15
Para: fastlane/fastlane <fastlane@noreply.github.com>
Cc: Ráfagan Abreu <rafagansa@outlook.com>; Author <author@noreply.github.com>
Assunto: Re: [fastlane/fastlane] Seems to be a very old project file format - please open y

[2020-10-29 14:23] yakimant opened #17521 "Scan error "Couldn't find specified scheme""
I have a scan issue:
[code]

Both
[code]
list `MyScheme` and it is marked as "Shared" in "Manage Shemes..."

I created an issue for xcodeproj, it seems related:
https://github.com/CocoaPods/Xcodeproj/issues/797

Is it possible to workaround in scan other than switching to xcodebuild?

[2020-10-29 14:51] john-mejia opened #17522 "Spaceship Connect API - select_build not working on app_store_version"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
When working with a build with edit status,

[2020-10-29 14:52] joshdholtz commented on #16127
@concuror Thanks for info! I'll give that a try too!

[2020-10-29 16:03] joshdholtz commented on #16127
@concuror Are you executing `fastlane <lane>` or `bundle exec fastlane <lane>` when seeing this issue? I'm struggling to reproduce 😔

[2020-10-29 16:38] joshdholtz commented on #16127
Oh, and one more question for anybody that as seen this! What is your ruby gems version? `gem --version` I'm starting to think that this might be the culprit 🤔

[2020-10-29 16:50] joshdholtz commented on #16127
Okay, last thing since I feel like I'm spamming 😇

Can some of you take 👇  and put it in `test.rb` and run both `ruby test.rb` and `bundle exec ruby test.rb` and copy the output into this issue?

[code]

---

I'm expecting something like...

[code]

Thank you 🙏

[2020-10-29 16:55] trajano commented on #17491
The document should state that it shouldn't last about a month.  But less than a day.

[2020-10-29 16:58] max-ott commented on #17491
There's no official documentation how long this lasts. It's completely in Apple's domain.

[2020-10-29 17:00] trajano commented on #17491
https://docs.fastlane.tools/best-practices/continuous-integration/ says that it can last about a month. You may as well change the wording there saying it is in Apple's domain and note that people may be experiencing it only lasting a day.  Because having it written there will make more people open bugs like this.

[2020-10-29 17:12] #16337 closed

[2020-10-29 17:32] #17046 closed

[2020-10-29 20:24] seanmcneil opened #17524 "[match] Endless loop on CI when MATCH_PASSWORD cannot be found"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
![Screen Shot 2020-10-29 at 1 20 19 PM](htt

[2020-10-29 21:10] goetzc commented on #16736
@minuscorp Using the scope resolution operator produces the same result. For the class/module, the reason is I don't need to keep a state.

[2020-10-29 22:04] kikeenrique commented on #17468
I've had problems with secret "key" on JSON format today (a cryptic error message indicating **invalid curve name**), and fixed it after checking this comment.

So I think part of this comment would help a lot in here (all \n are important). --> http://docs.fastlane.tools/app-store-connect-api/#using-fastlane-api-key-json-file

How can I propose a change for web doc? I didn't find info on contribu

[2020-10-30 04:27] scibidoo commented on #17448
Tested this and it works 👍🏽 thanks @joshdholtz

[2020-10-30 09:33] jgongo opened #17526 "Use of FL_SLATHER_BINARY_BASENAME in Slather action fails with arrays"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

When I try to use an array in the environm

[2020-10-30 09:38] jgongo commented on #17526
As a workaround, I'm including the following parameter:
[code]
in the `slather` action until this gets solved.

[2020-10-30 09:58] Vall0n commented on #16127
Hi @joshdholtz,

first of all, we have to thank you!

**Output while Fastlane is up to date** for `ruby test.rb` and `bundle exec ruby test.rb`
[code]

| Key                         | Value                                            |
| --------------------------- | ------------------------------------------------ |
| OS                          | 10.14.6                                          |

[2020-10-30 10:21] concuror commented on #16127
Hi @joshdholtz
I had to sweat a little to reproduce the environment (since I've had everything updated by hand and tweaked to avoid the problem in my CI/CD), but I managed to reproduce it and confirmed that bug is still present after that.

So here is the result of running `ruby test.rb` :

`Gem::VERSION: 3.1.4
update_needed: [#<Gem::NameTuple fastlane, 2.165.0, ruby>]`

And here is one after runn

[2020-10-30 10:24] joshdholtz commented on #16127
Ahhhhh, so I'm running rubygems 3.0.X but you both have 3.1.X 😱 It seems like that method in my script returns something else for 3.1.X which is why it's breaking and why it was struggling to find it 😅

I have some personal things to take care of today so I'll be away for my computer for most of my day but I'll look into it as soon as I get back.

Thank you so much for the help!! ❤️

[2020-10-30 10:44] joshdholtz commented on #16127
I lied... I got up early to look into this because I was curious. I had a hunch it was the rubygems version yesterday so I ran `gem update --system` but I did that on Ruby 2.5 which I guess doesn't get rubygems 3.1.4? I switched over to Ruby 2.6 and now I'm able to see this same issue.

Thank you again @Vall0n and @concuror for confirm this by running those tests! ❤️ I should have a fix out in the

[2020-10-30 13:56] SEGVeenstra opened #17528 "Uploading ipa to TestFlight with --api_key results in error"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
I'm trying to deploy an ipa to testflight w

[2020-10-30 14:36] jakubgs commented on #15185
@rogerluan I have tested my proposed fix from OP in https://github.com/status-im/status-react/pull/11346 with a small modification to handling the password and IT JUST WERKS™.

The script looks like this:
[code]
And the usage looks like this:
[code]
I consider this a success. This way I can hopefully never again see the dreaded `errSecInternalComponent` and avoid having to use the default user Key

[2020-10-30 16:33] GrayaMax opened #17529 "[Screengrab] Can't get screenshot when debuggable is false"
### New Regression Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Regression Information
- Breaking version: `2.156.0`
- L

[2020-10-30 18:37] minuscorp commented on #16736
Use static or class functions maybe?

[2020-10-30 18:40] minuscorp commented on #17520
Why is trying to open the fastlane Swift's project then?🤔

[2020-10-30 18:54] liamnichols commented on #17498
Hmmm, `load_dot_env` should only relate to anything in your Dotfiles...

Does it work if you create the **.env** file in the root of your repo and add `export FASTLANE_DISABLE_COLORS=1` inside it?

[2020-10-30 19:30] mrchnk commented on #17528
You can try to use `--api_key_path` argument as a workaround

[2020-10-31 01:34] garrettmaring opened #17531 "Broken documentation link"
The first link (Distributing beta builds with Fastlane on Android and iOS) on https://docs.fastlane.tools/getting-started/cross-platform/react-native/ is broken .

[2020-10-31 03:14] aidandavis commented on #17491
I agree with @trajano . I raised this ticket because it doesn't behave as the documentation says.

This ticket should be kept open until it's fixed?

[2020-10-31 08:14] max-ott commented on #17491
I changed the documentation. There is nothing we can „fix“, as we have no influence on how long cookies from Apple last. Please open a radar with Apple if you are not happy with their cookie durations.

[2020-10-31 12:54] Thangaraj-M opened #17534 "[Deliver] - Not able to reject the app version which is in Pending Developer Release"
@joshdholtz

When one version is in Pending Developer release and If set the flag **reject_if_possible** with true, the existing version is not rejected. There was error occurred before the reject method is called. It failed in the verify version method.

**Error:**
INFO [2020-10-31 18:04:16.76]: Making sure the latest version on App Store Connect matches '3.12.0'...
Exception is... The provided e

[2020-10-31 20:55] SEGVeenstra commented on #17528
That means I have to put that json into a `.json` file right? Not just a path to the `.p8`?

[2020-11-01 17:31] #17312 closed

[2020-11-01 17:32] #17311 closed

[2020-11-01 17:32] #17293 closed

[2020-11-01 17:32] #17202 closed

[2020-11-01 17:32] #17029 closed

[2020-11-01 17:33] #16342 closed

[2020-11-02 08:51] Cyberbeni commented on #17498
Having the `.env` file produces the same results as exporting it manually before running fastlane. I had no .env or .env.default file before.

[2020-11-02 09:02] max-ott commented on #17534
Hi there, please include all required data from the issue template and then re-post your issue again.

[2020-11-02 09:02] #17534 closed

[2020-11-02 09:04] max-ott commented on #17531
Fixed via https://github.com/fastlane/docs/pull/1001

[2020-11-02 09:04] #17531 closed

[2020-11-02 09:11] oleg-lola commented on #17488
Hi. Could you describe how have you solved it and what was the root cause ?

[2020-11-02 09:14] max-ott commented on #17488
Running a 2FA enabled Apple ID with CI/CD. As the name says it's a non interactive session. Either use an API key for authentication or an (old) Apple ID without 2FA enabled.

[2020-11-02 10:21] Thangaraj-M opened #17539 "[Deliver] - Not able to reject the app version which is in Pending Developer Release"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [x ] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x ] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x ] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

When one version is in Pending Develope

[2020-11-02 10:22] Thangaraj-M commented on #17539
@joshdholtz  Can you please check this issue?

[2020-11-02 10:23] Thangaraj-M commented on #17534
@max-ott I have created issue https://github.com/fastlane/fastlane/issues/17539

[2020-11-02 10:43] Thangaraj-M commented on #17539
**Spaceship logs:**
INFO  [18:04:16]: >> GET apps/1529770189/appStoreVersions: [undefined body]
DEBUG [18:04:18]: << GET apps/1529770189/appStoreVersions: 200 {"data"=>[], "links"=>{"self"=>"https://appstoreconnect.apple.com/iris/v1/apps/1529770189/appStoreVersions?include=build%2CappStoreVersionSubmission&filter%5Bplatform%5D=IOS&filter%5BappStoreState%5D=DEVELOPER_REJECTED%2CINVALID_BINARY%2CMET

[2020-11-02 11:22] oleg-lola commented on #17488
but we're building android app and tying to upload it to app center only, without running any ios lanes. Moreover same pipeline locally works fine without any interactive

[2020-11-02 11:26] max-ott commented on #17488
@oleg-lola Please open a new issue. This seems to be a different issue.

[2020-11-02 11:27] max-ott commented on #17539
@Thangaraj-M Please don't `@` contributors, this is just rude. Could you please update to the latest fastlane version first?

[2020-11-02 11:32] #16127 closed

[2020-11-02 14:10] Thangaraj-M commented on #17539
I have upgraded the fastlane version 2.165.0 and tried. I have set the flag **reject_if_possible** with true.But still I am getting the same error.

+---------------------------------------------------------------------+---------------------------------------------------------------------+
|                                                          deliver 2.165.0 Summary

[2020-11-02 15:13] Thangaraj-M commented on #17539
In the deliver runner.rb file, inside the run method, verify_version method is invoked before the reject_version_if_possible method.
At the time of verifying the version, if no editable version present in the Appstore connect, it trying to create new version and it failed.
![reject](https://user-images.githubusercontent.com/65262635/97884415-0eec0180-1d4c-11eb-98e3-06889858f907.png)

[2020-11-02 15:33] max-ott commented on #17539
I think there's a logic error in your `verify` part. I seems the script is trying to create a new version, when this is not possible.

[2020-11-02 16:14] Thangaraj-M commented on #17539
This the Fastlane library code. I have taken from that only.

[2020-11-02 16:44] #17448 closed

[2020-11-02 16:59] funnel20 commented on #16854
Yes there is, referring to the source code. See: https://github.com/fastlane/docs/issues/584#issuecomment-409503074

Don't shoot the messenger...

[2020-11-02 17:16] liamnichols commented on #17498
Hmmm this is odd... I created a new directory, added the gem and gave it a go and could not reproduce:

<img width="850" alt="Screenshot 2020-11-02 at 18 11 32" src="https://user-images.githubusercontent.com/482871/97897701-28cf1980-1d37-11eb-9f02-a8d80edbd49b.png">

On the other hand, if I do the same thing in my main project repo it doesn't work:

<img width="1644" alt="Screenshot 2020-11-02 at

[2020-11-02 17:57] #17384 closed

[2020-11-02 18:31] Cyberbeni commented on #17498
I remember having a default platform, while your first try doesn't have it. I'll check tomorrow if that changes anything.

[2020-11-02 20:10] rogerluan commented on #17320
@gilgamesharcadia was this resolved? Could you update _fastlane_ to the latest version and try again? 🙏

[2020-11-02 20:11] joshdholtz commented on #17300
@Kaspik I'm going to make a new `idfa` option this week and fixes this and then I will update the docs and add migration stuff 💪

[2020-11-02 20:11] rogerluan commented on #17376
@FrancisLeigh any update? 🙏

[2020-11-02 20:13] rogerluan commented on #16780
Sweet @AustinFuller , glad we could resolve your problem with minimum engineering efforts 😁 I love when solutions end up being simpler than expected 😊

I'll close this issue before @fastlane-bot annoys us again 😉

[2020-11-02 20:13] #16780 closed

[2020-11-02 20:19] rogerluan commented on #17437
@philCc you're not using `apiKey` right, please refer to the documentation to see how to use it: https://docs.fastlane.tools/actions/match/

[2020-11-02 20:23] Kaspik commented on #17300
Thanksss!

[2020-11-02 20:29] rogerluan commented on #17296
Thanks for confirming @ryabchikova 🤗

[2020-11-02 20:33] rogerluan commented on #17451
@revolter do you actually have anything to be deleted in your match repository?

[2020-11-02 20:34] revolter commented on #17451
Indeed, the repo was empty. But it should gracefully handle this case instead of throwing an error.

[2020-11-02 20:38] rogerluan commented on #17117
Reopening upon request ☝️

[2020-11-02 20:56] rogerluan commented on #15280
The user @xCTAPx is having the same issue as OP.

His `fastlane env`:

<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                         | Value                                                          |
| --------------------------- | -------------------------------------------------------------- |
| OS                          | 10.15.7

[2020-11-02 20:57] rogerluan commented on #17443
@xCTAPx I reopened the original issue, please add more info, following the full issue template as soon as you can, as that's quite helpful: https://raw.githubusercontent.com/fastlane/fastlane/master/.github/ISSUE_TEMPLATE/BUG_REPORT.md
specially with information that differs from the OP.

Let me know if you have issues commenting on that thread (not sure if it's locked for you)

Hope this helps.

[2020-11-02 20:58] jcharr1 commented on #17208
It seems to no longer be intermittent anymore, and now happens all the time since my last post.

[2020-11-02 21:40] rogerluan commented on #17391
@joshdholtz any idea? 🙈 do these fail on your end?

[2020-11-02 21:47] rogerluan commented on #16627
Sweet! 🚀 Thanks for confirming this @ToshikiHata 🤗

Since this is an issue dated back when we were upgrading fastlane to the new App Store Connect APIs, I encourage everyone to simply update _fastlane_ like @ToshikiHata did and check if it's still an issue for you. If so, please create a new issue with updated scenario, stacktrace and we'll sure take a look 💪

✌️

[2020-11-02 21:47] #16627 closed

[2020-11-02 22:18] rogerluan commented on #17435
@agordeev thanks for getting back with the test results - unfortunately I'm out of ideas 😥 need someone else more experienced with gradle action to take a look at this - @joshdholtz do you know someone? 🙇

[2020-11-02 22:55] rogerluan commented on #17482
I'd love to see this working as well! @andemengo if you could open a PR to address this change, that'd be superb! ❤️

[2020-11-03 02:46] ainame commented on #17539
Hi. I tried to interpret your error. Although I couldn't find backtrace logs you should have shared here, I assumed you got the error at this line.
https://github.com/fastlane/fastlane/blob/7add7e9432c351a144809023013bb7ff6c529daf/deliver/lib/deliver/runner.rb#L120

This log, specifically 409 status code, presumably means that you can't create another "App Store Version" with the same version numb

[2020-11-03 03:29] destryteeter opened #17545 "Unexpected json type provided for attribute 'usesIdfa"
<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                         | Value                                                          |
| --------------------------- | -------------------------------------------------------------- |
| OS                          | 10.15.7                                                        |
| Ruby                        | 2.6.3

[2020-11-03 04:11] mtr1012 commented on #17428
Please take a look on this @joshdholtz

[2020-11-03 04:52] imWildCat commented on #17117
@rogerluan Thanks for reopening this one!

[2020-11-03 06:26] Thangaraj-M commented on #17539
Thank you for your analysis. I want to reject the build which is in Pending Developer Release and submit a new version. The version creation happened before the rejection. So the new version creation is failed. I think the order need to be change with the rejection should be done before getting the editable versions.

[2020-11-03 08:20] GrayaMax commented on #17529
I don't know if `faslane env` is really needed for this issue, if you need more informations, don't hesitate to ask :)

[2020-11-03 08:22] Cyberbeni commented on #17498
Ok, it wasn't the default platform. It happens when `gem 'fastlane-plugin-test_center'` is in the Pluginfile

[2020-11-03 09:10] TyrantDante opened #17546 "ios min version 11.0，but still build two archs"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [ ] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [ ] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

##### Command executed

##### Complete out

[2020-11-03 10:39] goodpic commented on #17327
Sorry for my late reply @NathHorrigan and @max-ott
I tried the current master branch which #17518 has been already merged and the issue was solved!
Thank you again for your help.

[2020-11-03 10:53] ainame commented on #17539
You don't need to swap the order. `app.ensure_version!` works as `find or create` with a given version string. It's just missing the app version being "Pending Developer Release" state right now.

[2020-11-03 10:55] Cyberbeni commented on #17498
Aha, test_center is using the colorize plugin as opposed to the colored plugin used by fastlane.

[2020-11-03 10:56] Cyberbeni commented on #17498
Got the fix, just gotta go through the PR checklist

[2020-11-03 11:25] Thangaraj-M commented on #17539
An app with one version 1.2.1 is present in Pending Developer Release state. Now trying to submit new build with another version 3.10.12. If the app is in Pending Developer Release state, we can not edit the version. To edit the version, need to reject that first. Then the state will be changed to Developer Rejected and the version can be editable.
If we add the Pending Developer Release state als

[2020-11-03 12:34] gelodgreat opened #17548 "Internal Server Error when running any fastlane commands"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

##### Command executed

##### Complete out

[2020-11-03 12:37] gelodgreat commented on #17548
https://user-images.githubusercontent.com/20021423/97985813-ba13be00-1e13-11eb-8f9c-76c003bceafd.png
![image](https://user-images.githubusercontent.com/20021423/97986153-47571280-1e14-11eb-86e6-86e5ae915532.png)

[2020-11-03 16:08] Qwix opened #17549 "fastlane sigh ends with error [!] undefined method `expires' for #<Spaceship::ConnectAPI::Certificate:0x00007f9206abd250> (NoMethodError)"
**Summary**: I am trying to use fastlane sigh to update and then download an invalid appstore provisioning profile using a newly created distribution certificate. I am getting an error ```[!] undefined method `expires' for #<Spaceship::ConnectAPI::Certificate:0x00007f9206abd250> (NoMethodError)```

**Note**: This may be similar to https://github.com/fastlane/fastlane/issues/17428 where `owner name

[2020-11-03 19:26] revolter commented on #1816
There is a `skip_archive` parameter now that does exactly this.

[2020-11-04 02:00] ainame commented on #17539
If we add the Pending Developer Release state also in the ensure version, then the version value will not be updated with new one.

Ah, I understood the point👍 That makes sense. I don't know how come it used to work previously though🤔

[2020-11-04 02:33] philCc commented on #17437
@rogerluan thank you!
In swift, the right way to use is like this:
[code]

[2020-11-04 02:36] #17437 closed

[2020-11-04 02:59] ainame commented on #17539
Apparently, it hasn't been working for a while since at some point.

https://github.com/fastlane/fastlane/issues/14154

[2020-11-04 04:49] jay9440 opened #17550 "new issue while uploading apk file"
<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                         | Value                                                          |
| --------------------------- | -------------------------------------------------------------- |
| OS                          | 10.15.6                                                        |
| Ruby                        | 2.6.3

[2020-11-04 06:02] rogerluan commented on #15185
🎉 Woohoo! Good stuff @jakubgs 🚀
Do you think there's anything to be changed in _fastlane_ itself?

[2020-11-04 06:44] tedgonzalez commented on #16215
activity

[2020-11-04 07:59] rogerluan commented on #17429
@DDamian please [create a new issue](https://github.com/fastlane/fastlane/issues/new/choose) so we can help you further 🙏

[2020-11-04 08:09] Tripwire999 commented on #17492
@Overton-ss I don't see your fastlane env? Anyways any news on this issue?

[2020-11-04 08:34] rogerluan commented on #17503
Closing, as https://github.com/fastlane/fastlane/pull/17513 got merged 🚀

[2020-11-04 08:34] #17503 closed

[2020-11-04 08:47] rogerluan commented on #17164
Did this work for you @lolucosmin ?

[2020-11-04 09:06] rogerluan commented on #16892
Does this problem still happens as of https://github.com/fastlane/fastlane/releases/tag/2.166.0?

[2020-11-04 09:13] rogerluan commented on #17453
Your logic seems right to me. The code doesn't seem to match what's on the docs and the code comments. I tried removing the `!` but 10 specs failed. I haven't analyzed whether the specs are fundamentally wrong, or if this needs other type of solution.

@ainopara contributions are welcome! If you decide to take a look at this issue and end up opening a PR, feel free to tag me in! 😊

[2020-11-04 09:31] SEGVeenstra commented on #17528
Your suggestion worked. It's maybe even a more clean solution to what I was trying. Still weird that it didn't work though.

[2020-11-04 11:13] return-main commented on #17529
I had the same issue, the temporary fix is:

In app/build.gradle
[code]

and in the Fastfile
[code]

[2020-11-04 12:23] jakubgs commented on #15185
Truth be told I'd expect Fastlane to do this for me. But you do what you will. I'm happy with my solution for now.

[2020-11-04 17:41] joshdholtz commented on #17539
Will look into!

[2020-11-04 17:49] SuperBarracuda commented on #17526
Im also experiencing this issue we have a project with multiple static frameworks that we'd like to generate coverage for.

https://github.com/SlatherOrg/slather

It's documented slather behaviour.

For multiple modules

If you want to run some modules, but not all (like modules created by CocoaPods) you can do it like this:

`$ slather coverage --binary-basename module1 --binary-basename module2

[2020-11-04 19:08] joshdholtz commented on #17371
@ChristopherDrum Just checking in to see if everything is good for you now 😊

[2020-11-04 20:18] #17328 closed

[2020-11-04 22:44] chanuuuu opened #17554 "Fastlane is not reading macros from Package.Swift (SPM)"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
Fastlane is not reading macros from Package

[2020-11-04 22:51] ChristopherDrum commented on #17371
@joshdholtz Well, I made a rookie mistake last week and put `team_name` in my AppFile rather than `itc_team_name` and had a failure. I should know today (I think) but I'm sure it will be fine.

[2020-11-05 00:24] rogerluan commented on #17419
What's the output now when you run _fastlane_ ?

[2020-11-05 01:44] #17470 closed

[2020-11-05 01:48] rogerluan commented on #17209
Hey 👋

This may have been fixed here: https://github.com/fastlane/fastlane/pull/17456

Since that PR was released 16 days ago in https://github.com/fastlane/fastlane/releases/tag/2.164.0, could you update to the latest version of _fastlane_ and try again? 🙏

[2020-11-05 01:56] rogerluan commented on #17472
Hey 👋 that's very interesting, and very likely to be something different in your setup. Let's try to figure this out.

Are you behind any weird firewall or restricted computer?
Could you add these env vars to your zshrc or bash_profiles?

[code]

Could you run `bundle exec fastlane customlane --verbose` and post the full results here? 🙏

[2020-11-05 02:00] rogerluan commented on #17178
@andysousa @vadimleonov does this solve your problem? 😊 Can we close this issue? :)

[2020-11-05 02:01] andysousa commented on #17178
No issues for me. Can't speak for the OP

[2020-11-05 02:14] rogerluan commented on #17089
Did anyone verify that this works normally with the simulator's command line tool alone (outside of _fastlane_)? Is this issue isolated to _fastlane_, or is this still unknown?

[2020-11-05 03:47] seeligd commented on #17209
@rogerluan thanks for the note - I just deleted the key from Keychain Access and tried with fastlane-2.166.0; keys were encrypted with LibreSSL 2.8.3.

Still getting the error:
ERROR [2020-11-04 19:41:41.81]: security: SecKeychainItemImport: Unknown format in import.

[2020-11-05 04:46] rogerluan commented on #17522
Hey @john-mejia 👋

Are you sure your build has finished processing at the moment you're calling `select_build`?
Did you try passing the `build_id` as parameter? You can get it via e.g. `build = wait_for_build_processing_to_be_complete(app: app, platform: platform, options: options)` (then access via `build.id`) - this also ensures that your build will have already finished processing.

[2020-11-05 04:50] rogerluan commented on #17524
Nice catch, thanks for reporting this corner case!

I've submitted a PR to fix this issue here https://github.com/fastlane/fastlane/pull/17557 - would you mind testing it? 😃

[2020-11-05 04:53] rogerluan commented on #17521
Seems like the issue is within Xcodeproj gem itself.
I don't think we can easily replace Xcodeproj with another gem right now. We should aim to get this long lasting issue fixed in Xcodeproj gem instead.
I asked for more info in the Cocoapods/Xcodeproj issue that you linked, this will help us debug the issue, as it's not every project that has this issue

[2020-11-05 05:06] rogerluan commented on #17325
I think this is a valid request.

I looked into the code and found at least 3 places that are accessing HOME (via `fastlane_user_dir`): analytics (`faslane_core`), frameit tmp folder (`frameit`), and cookies caching (`spaceship`).
As of today you can avoid accessing HOME via`spaceship` by setting the env var `SPACESHIP_COOKIE_PATH`.
You can avoid accessing HOME via analytics by setting the env var

[2020-11-05 05:27] rogerluan commented on #15959
This is a fair request, imo. Although the solution probably won't be that easy to achieve 😅 unless we add a dependency such as the one suggested by @aried3r.
A quick test shows the behavior:

<img width="329" alt="image" src="https://user-images.githubusercontent.com/8419048/98200573-a6984e00-1f0c-11eb-99af-4f64877932a2.png">

This is how ruby _naturally_ sorts things: if it's a number, sort them

[2020-11-05 05:39] ryechus commented on #17521
The problem is definitely in the Xcodeproj gem, but I was able to solve the issue by making sure the scheme was in the `xcshared` folder. I got the idea from this comment https://github.com/CocoaPods/Xcodeproj/issues/607#issuecomment-633546694

I was able to add the scheme to the folder by clicking the "Autocreate Schemes Now" button in Xcode.

[2020-11-05 05:39] rogerluan commented on #17509
That's an issue with xcode-install, unfortunately. You can follow it here: https://github.com/xcpretty/xcode-install/issues/414

[2020-11-05 05:46] rogerluan commented on #17509
Actually, my bad. The issue I linked is similar but not the same as what you're seeing.

Looks like there's no `12.1 GM seed` anymore. Run `xcversion update` and then `xcversion list` to see a list of available Xcode versions. You'll see that the 12.1 is no longer a GM, so it's called simply `12.1` now.

Hope this helps, let me know!

[2020-11-05 09:54] max-ott commented on #17550
Not sure what the issue is. Please re-open a new issue or comment with more useful information.

[2020-11-05 09:54] #17550 closed

[2020-11-05 09:58] max-ott commented on #17546
Not sure what the issue is and how it relates to `fastlane`.  If you want help, please provide some more information and context.

[2020-11-05 09:58] #17546 closed

[2020-11-05 14:50] jakubgs opened #17558 "Resetting default keychain even when it was not modified"
### Description

Fastlane `match` keychain management code appears to re-set the default keychain even if it has not been changed.

### Details

If you look at the code that Creates a keychain, it optionally sets a default if `default_keychain` is `true`:
https://github.com/fastlane/fastlane/blob/5d9219e34f21e6e3bb87df87a5e621f1e7e42edc/fastlane/lib/fastlane/actions/create_keychain.rb#L38-L45
BUT

[2020-11-05 15:06] seanmcneil commented on #17524
Thank you for fixing this. I'd be happy to test, but the scenario that produced it no longer exists.

[2020-11-05 15:50] john-mejia commented on #17522
Trying this led me some more issues. Mainly, it gets stuck on ` Waiting for the build to show up in the build list - this may take a few minutes` even when a build for the app is done processing. I tried passing different params with no luck.

Waiting for the build to process is not something I'd want to do in CI, is there a way to just get the latest available build given a version like it was pr

[2020-11-05 17:31] #16696 closed

[2020-11-05 21:30] leo-pedidosya commented on #17208
Still getting this error

[2020-11-05 23:05] eamonn-alphin commented on #17320
this is an issue for me

[2020-11-06 10:58] squallstar commented on #17380
I am getting the same error on 2.166.

[2020-11-06 12:36] dkk opened #17566 "Badge documentation problems"
### Issue Description

[Badge's documentation](https://docs.fastlane.tools/actions/badge/) shows the parameter **path**. However, it doesn't seem to exist. The output I get is:
`Could not find option 'path' in the list of available options: dark, alpha, alpha_channel, custom, no_badge, badge_gravity, shield, shield_parameters, shield_io_timeout, shield_geometry, shield_gravity, shield_scale, shiel

[2020-11-06 14:20] noefroidevaux commented on #17288
@StefaniOSApps I use this command: `xcodebuild -showBuildSettings | grep -m 1 "BUILD_DIR" | grep -oEi "\/.*" | sed 's/Build\/Products/SourcePackages\/checkouts\/firebase-ios-sdk\/Crashlytics\/upload-symbols/'` to get the path to upload-symbols and I put it in a environment variable:

[code]

After that I use the Ruby ENV constant in the Fastfile to get the path:

[code]

/cc @iOSGeekster

[2020-11-06 14:59] StefaniOSApps commented on #17288
hmm I need a clean solution .. this looks like as a workaround

[2020-11-06 17:14] weakfl opened #17568 "deliver download_metadata skips name/subtitle of pre-release versions"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

`deliver download_metadata` fails to updat

[2020-11-06 17:30] #17326 closed

[2020-11-06 20:41] markreynoso commented on #16233
Yes!!

[2020-11-07 03:43] jaderYang commented on #17472
sure. I will update later.

[2020-11-07 11:02] minuscorp commented on #17472
Is this Xcode or SPM also?

[2020-11-07 12:18] cjohn001 commented on #16892
I am seeing the issue happen with 2.166.0 as well. Even so after timeout it does finish uploading:

[12:53:04]: This might take a few minutes. Please don't interrupt the script.
[13:04:05]: [Transporter Error Output]: An un-handled exception occurred: java.net.SocketTimeoutException: Read timed out for (id: CPUSource124/v4/a7/d8/4c/a7d84c53-47a8-ae84-5174-9c8a5893b2b1/f5b71b143221266d10fac97a25cd6

[2020-11-07 14:41] thor-jc commented on #17419
It still fails - I haven't changed anything since last post.

<details><pre>

thor@alloa android % bundle exec fastlane --verbose beta
[✔] 🚀
DEBUG [2020-11-07 09:34:36.70]: Checking if there are any plugins that should be loaded...
ERROR [2020-11-07 09:34:36.70]: It seems like you wanted to load some plugins, however they couldn't be loaded
ERROR [2020-11-07 09:34:36.70]: Please follow the trouble

[2020-11-07 17:31] #17243 closed

[2020-11-08 07:29] firstzooger commented on #17454
any updates on this one? or workarounds?
I'm having the exact same issue with these dependencies (FIRAnalyticsConnector' , FirebaseAnalytics' , 'GoogleAppMeasurement') after switching from cocoapods to SPM.

[2020-11-08 13:09] minuscorp commented on #17454
In seriously sick ATM, I'll check ASAP when I feel bit better

[2020-11-08 14:58] rogerluan commented on #16854
Thanks for these references @funnel20 ! I didn't know where to find them in the docs, although I had found them in the codebase earlier 😊

I haven't had time to look into implementing this feature, but it's still on my list.

If anyone feels like giving it a stab, please feel free to pick it up before me! I'll be happy to review the PR 😊

[2020-11-08 15:02] detectedstealth commented on #17454
@firstzooger try closing Xcode before running the fastlane command. It seems like it is a timeout issue possibly. I found sometimes I have to run my fastlane command a few times for it to be successful.

Note: I have updated to Xcode 12.2 release candidate and am still having the exact same issue.

[2020-11-08 15:08] rogerluan commented on #17521
Awesome! I realized that my settings already have the "Autocreate schemes" checked, so maybe that's why I never faced this issue.

For future reference, this is the screen we're referring to, which is shown after clicking "Manage Schemes":

<img width="672" alt="image" src="https://user-images.githubusercontent.com/8419048/98468821-f56b0f80-21ba-11eb-8ce1-5812bc58b264.png">

I'm gonna close this i

[2020-11-08 15:09] #17521 closed

[2020-11-08 15:13] minuscorp commented on #17454
SPM package runs fastlane in the background after killing any other process that might be using the fastlane Swift socket port.

[2020-11-08 15:26] rogerluan commented on #17522
I don't know enough to answer that question 😬 I'd assume that if this particular behavior has changed, it may not be possible in the latest API that Apple offers (both official and unofficial ones) 😞

Sounds like the part where you're getting stuck on the main problem here. That seems to be the root cause for the original problem that you reported. However, the code to throw that warning is pretty

[2020-11-08 15:31] rogerluan commented on #17347
I found something in the codebase but I gotta confirm before proceeding.

Meanwhile, could you guys try using `match`'s `git_basic_authorization` parameter instead of the environment variable? 🙏

[2020-11-08 15:42] rogerluan commented on #17451
Sweet, thanks for confirming! I'll take a look at this 💪

[2020-11-08 15:45] rogerluan commented on #17451
Could you help me test this @revolter ? 😃 https://github.com/fastlane/fastlane/pull/17571

[2020-11-08 15:53] revolter commented on #17451
@joshdholtz, do you happen to have a test Apple Developer account with which you would be able to run `match nuke`? 🙈

[2020-11-08 15:54] joshdholtz commented on #17451
I do I do! I will look into this tomorrow!

[2020-11-08 16:08] rogerluan commented on #17320
Seems like fastlane is throwing an issue when parsing your `Matchfile` config file. Could you post its contents here? 🙏
@gilgamesharcadia @eamonn-alphin

[2020-11-08 17:30] #17333 closed

[2020-11-08 19:08] rogerluan commented on #17520
That error means your Xcode project file doesn't contain a `TargetAttributes`. This _may_ be related to Xcode 12.1 - would you mind providing your `project.pbxproj` file for analysis?

[2020-11-08 19:32] destryteeter commented on #17545
Sorry, I meant to close this.  It was a simple type error on my part.

[2020-11-08 19:35] rogerluan commented on #17327
Looks like https://github.com/fastlane/fastlane/pull/17518 resolved this issue 😊 Thanks for contributing, everyone!

[2020-11-08 19:35] #17327 closed

[2020-11-08 21:03] minuscorp commented on #17520
Afaik Xcode is format stable (file wise) since Xcode 9. Anyway seeing the backtrace of the op, I only see Ruby execution issue that's what makes me confused in relation with Swift and Xcode 🤔

[2020-11-08 21:06] rogerluan commented on #16215
I investigated this a bit and it seems to be a misunderstanding of the documentation slash misleading behavior of the actual code. The documentation says:

The way it is consumed in the code is as if this path contained the containing directory of the xcodeproj file. So it will search in this given directory, looking for the first `xcodeproj` that it can find 😅  I agree this is totally misleading,

[2020-11-09 03:10] rogerluan commented on #17548
Please provide the environment info as requested above.

Also, if nothing's changed in your environment between a successful execution and a failed one, it might be a legit issue on Apple's end.

[2020-11-09 03:20] rogerluan commented on #17528
IIRC we don't officially support `Hash` arguments via CLI. Any `Hash` arguments have to be passed via ruby or env vars. That may be the root cause of this bug 😬

Link to 'a' docs page that shows this statement: https://docs.fastlane.tools/actions/clean_build_artifacts/#cli

Sorry for the inconvenience.

----

Since it looks like this issue has been resolved, I'm closing this issue 😊 thanks @mrchnk

[2020-11-09 03:20] #17528 closed

[2020-11-09 04:14] rogerluan commented on #17492
@Tripwire999 I took a stab at this and opened PR https://github.com/fastlane/fastlane/pull/17573 - could you help test it? 😃

Thanks for taking time to report this issue 💪

[2020-11-09 04:58] rogerluan commented on #16215
I've opened a PR fixing this behavior @raptorxcz @tedgonzalez - https://github.com/fastlane/fastlane/pull/17574

Would you mind help testing it? 😃

[2020-11-09 05:25] rogerluan commented on #17520
Which part @minuscorp ? I couldn't spot it

[2020-11-09 05:26] rogerluan commented on #17545
All good @destryteeter ! Thanks for confirming!

Closing now 👍

[2020-11-09 05:26] #17545 closed

[2020-11-09 05:35] rogerluan commented on #17209
@seeligd Any feedback wrt the solution that @xilin posted above? Does that work for you?

[2020-11-09 06:20] rogerluan commented on #17566
Hello @dkk  👋

This looks like a bad configuration on your end, as it _does_ seem to support a `path` parameter. Please follow [the template provided when you open a new issue](https://raw.githubusercontent.com/fastlane/fastlane/master/.github/ISSUE_TEMPLATE/BUG_REPORT.md) and provide the output of your `fastlane env` command as asked above ☝️ that will earn you results faster.

[2020-11-09 07:01] gelodgreat commented on #17548
<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                         | Value                                                   |
| --------------------------- | ------------------------------------------------------- |
| OS                          | 10.15.7                                                 |
| Ruby                        | 2.7.2

[2020-11-09 07:01] gelodgreat commented on #17548
Uploaded my env, I did just remove some of private use

[2020-11-09 09:17] sel38582 opened #17575 "resign can't find signing identity"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
request regarding the resign of an ipa file

[2020-11-09 10:18] sdjm-tessella commented on #15153
I can confirm the bug still exists in Fastlane version 2.166.0

[2020-11-09 11:54] minuscorp commented on #17520
@rogerluan I don't see in the backtrace any reference to this being related to a bad behavior of fastlane. I think that their Xcode pbxproj files are corrupted so fastlane cannot change (it is a simple XML) the signing values. As you called, having the original failing project or the pbxproj file is mandatory to solve the issue, but as I said, there's same compat since Xcode 9, so I _doubt_ Apple

[2020-11-09 14:12] MrBenFTW commented on #17454
I have a slightly different issue, Fastlane keeps re downloading all the packages after each batch of simulators, is there a way for it to just use the cache? I have over 5 gb worth of swift packages and my internet is so slow

[2020-11-09 14:38] MrBenFTW opened #17578 "All devices provided to snapshot should run the same operating system"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Fastlane has an issue with iPad screenshot

[2020-11-09 14:38] MrBenFTW opened #17579 "All devices provided to snapshot should run the same operating system"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [ ] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [ ] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Fastlane has an issue with iPad screenshot

[2020-11-09 14:39] #17579 closed

[2020-11-09 15:16] JaminZhou commented on #17399
If you are using a mac, you can try it.

1. sudo rm -rf /Library/Developer/CommandLineTools
2. xcode-select --install
3. sudo xcodebuild -license accept
4. open /Library/Developer/CommandLineTools/Packages/macOS_SDK_headers_for_macOS_10.14.pkg

[2020-11-09 15:20] Katsz commented on #17575
I'm not sure what is causing the issue but I can suggest you to use identity UUID instead of it's name. It works fine for me
[code]

[2020-11-09 15:24] minuscorp commented on #17454
I think that's an Xcode issue. I recommend to use static number version over ranges, which might cause your issue.

[2020-11-09 16:10] max-ott commented on #17568
Could you please add your fastlane env so we know which version you are on?

[2020-11-09 16:14] weakfl commented on #17568
@max-ott see above

[2020-11-09 16:53] eamonn-alphin commented on #17320
I can't remember how I got it to work, I think I used "fastlane deliver --app-identifier "ca.mycompany.myIdentifier" --force, and oddly I don't have a matchFile...I"m still figuring this stuff out. I've found that using the fastLane standalone command (like fastLane snapshot or Fastlane deliver) BEFORE using my custom fastFile lanes seems to make it work.

[2020-11-09 17:13] sel38582 commented on #17575
Hi, thanks for feedback,  but we have a workaround, it looks to be a problem root certificate chain. Our enterprise certificates generated by match is delivered using  this Root https://www.apple.com/certificateauthority/AppleWWDRCAG3.cer and match looks to install an oldest chain certification. So we just add this command in fastfile to get the good CA and resign is working as expected:
  sh("cur

[2020-11-09 17:31] #17367 closed

[2020-11-09 17:31] #17321 closed

[2020-11-09 17:31] #17297 closed

[2020-11-09 17:38] mrosales commented on #17575
My solution to this was a little bit similar to the solution @Katsz outlined with extracting the identity from the mobileprovision file.

I just posted my personal github the start of a plugin that extracts the bundle id, signing identity and entitlements from the ipa file before using `match` to renew the provisioning profile and then resigns the binary using the existing `resign` action.

https:

[2020-11-09 17:43] rafagan commented on #17520
After recreate the project and configure everything again, fastlane started working again.
On 9 Nov 2020 08:55 -0300, Jorge <notifications@github.com>, wrote:

[2020-11-09 18:16] minuscorp commented on #17520
It seems to me like a corrupted pbxproj can the rest confirm that doing this solves your issues?

[2020-11-09 18:18] #17520 closed

[2020-11-09 19:18] MrBenFTW commented on #17454
Just tried setting exact versions, same issue. Maybe It is not related to the packages. But Fastlane does download something every single time and it is roughly 5gb

[code]

As soon as it prints `loading...` network activity shoots up maxing my internet speed and downloads about 5gb. The simulators have already been opened so It isn't them

[2020-11-09 20:32] minuscorp commented on #17454
Can you retrieve the contents of the project in the Derived Data folder and see what's taking so much memory?

[2020-11-09 22:17] ChristopherDrum commented on #17371
@joshdholtz I'm sorry to say I'm having no success with this. Changing to your suggestion results in consist failures.
[code]

I've set `team_name` and `itc_team_name`, individually and simultaneously. Every time I get this same error. Running fastlane's dsym uploader using `team_name` works perfectly earlier in the script. Trying some other tests this morning to see if there is a magical combinat

[2020-11-09 22:20] joshdholtz commented on #17371
@ChristopherDrum That is weird! If you have some time this week I'd be happy to screenshare or something so we can debug what is going. I'd really love to figure out what is going on here 😊

[2020-11-09 22:22] Katsz commented on #17575
@mrosales it doesn't make sense for me to extract signing identity from IPA to resign it with.. same exact identity. Am I missing something?

[2020-11-09 22:36] mrosales commented on #17575
Yeah I could have clarified there, but the most common use case I've had for `resign` is to sign the same binary with an updated provisioning profile. This use is to support in-house Ad Hoc builds to work around:

1. Adding an additional testing device to the provisioning profile and signing the binary without making a new build
2. Resigning the build to get around the 90day adhoc build expiration

[2020-11-09 22:43] Katsz commented on #17575
But we're getting far off topic here

[2020-11-10 01:30] ChristopherDrum commented on #17371
@joshdholtz OK, exporting `FASTLANE_ITC_TEAM_NAME` worked. I don't mind doing this, but the Appfile is rendered useless. Again, this is fine but it definitely is handy to consolidate things in there, rather than shell scripts on my CI doing exports.

[2020-11-10 01:31] joshdholtz commented on #17371
@ChristopherDrum Can you send me a sample of what your `Fastfile` looks like? I'm curious if something you are doing isn't triggering the `AppFile` to load 🤔

[2020-11-10 08:23] rogerluan commented on #17548
If it works locally, did you see if Bitrise change anything on their end? Maybe they upgraded the machine's OS, dependencies or something else 🤔 ? Have you tried resetting any cache that might exist in the CI?

[2020-11-10 08:36] gelodgreat commented on #17548
@rogerluan , in Bitrise locally it works when using Fastlane, but when I'm using Fastlane directly it doesn't work and the error above shows. I've already reinstall many times my fastlane.

Note:
my fastlane locally is 2.166 the on above while the bitrise locally uses 2.153

[2020-11-10 08:37] rogerluan commented on #15153
@sdjm-tessella I'm able to run this:

With `NSLocalizedString(" µm", comment: "")` in my codebase without being throw any warning (via CLI) 🤔 How's your setup to throw the warning again? 🙏

I'll test using your test.txt now 👍

[2020-11-10 10:38] sdjm-tessella commented on #15153
Hi.  Thanks for your feedback.  I was advised August 2019 (see at the top of this issue) to set up a Fastfile which just calls on the shell to output the contents of the attached `test.txt` file with `cat` so my Fastfile contains the following when I'm testing.  I just run `./bin/fastlane` and choose the `ios` lane and it hits the issue:

[code]

[2020-11-10 10:48] rogerluan commented on #15153
After lots of debugging, I don't know what else to try, this seems to be an issue with Ruby (?) - or maybe just `split` function of ruby.

You can reproduce this issue in `irb` like this:

[code]

I also tried \x00B5 as pointed out here https://unicode-table.com/en/00B5/:

[code]
But it shouldn't print that, it should print the unicode character (micro sign). Like this (https://unicode-table.com/e

[2020-11-10 11:16] rogerluan commented on #17578
Your output is a bit hard to read, but I think your `Summary for snapshot 2.166.0` mentions you're using iPod touch as well. That would cause this error to be thrown, not the iPad.

Can you remove iPod Touches and retry?

[2020-11-10 11:17] rogerluan commented on #17578
I also see that you created this issue https://github.com/fastlane/fastlane/issues/17579 and closed it afterwards - does that mean you figured it out? Can we close this one too? @MrBenFTW

[2020-11-10 11:50] rogerluan commented on #17208
I could reproduce this issue consistently when my app was live and had no edit version available. Can you guys confirm whether you actually have an editable app before calling precheck?

States that we consider to be editable:

[code]

States that are not editable:

[code]

If you guys can validate my assumption, we should improve this by avoiding the crash and throwing a nice error message instea

[2020-11-10 12:08] rogerluan commented on #17548
I'm confused with the terminology 😅 Are there these 3 options?

`bitrise` - unknown ❓
`bitrise local (?)` - Fastlane 2.166 - doesn't work ❌
`your machine` - Fastlane 2.153 - works ✅

Is that right?

[2020-11-10 12:57] joshdholtz commented on #15185
@jakubgs Glad you got this working! _fastlane_ does a lot of things and there are so many use cases that we try to build for but there are only so many contributors and many many more users 🤷‍♂️

That being said... I’ll take look into seeing how we can add better support and/or documentation for this!

One quick question though! Did you try using the `keychain_password` option that `match` provide

[2020-11-10 13:12] gelodgreat commented on #17548
bitrise server - works
bitrise local - Fastlane 2.153 works
fastlane local pc - Fastlane 2.166 - doesn't work ❌

[2020-11-10 14:12] ir2pid commented on #17288
I'm getting this error as well.

[2020-11-10 14:40] sdjm-tessella commented on #15153
I've been meaning to look at this myself for a very long time but haven't yet gotten around to it.  I have my suspicions though that this might be to do with unicode normalisation.  As you've already noticed, there are different ways to represent the micro sign in unicode.  I suspect the one in my `text.txt` file is one kind of them and `split` doesn't like it.  It may be possible to use unicode n

[2020-11-10 15:40] rogerluan commented on #15153
Very interesting @sdjm-tessella I hadn't heard about unicode normalization that until now. Let me know if you findings, if you have the chance the take a look at this before I do!

Also, if anyone's curious to investigate this as well: now that we isolated this issue away from fastlane, we can probably iterate over the problem over irb and bring the solution back into _fastlane_ when we come up wi

[2020-11-10 15:48] fguchelaar opened #17583 "Unsupported screen size [1284, 2778] for path ...."
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
It appears that  changed it's screenshot s

[2020-11-10 15:51] mohamedfarid1993 opened #17584 "Deliver stuck on detecting languages"
**New Issue Checklist**

- [x] Updated fastlane to the latest version
- [x]  I read the Contribution Guidelines
- [x]  I read docs.fastlane.tools
- [x]  I searched for existing GitHub issues

**Issue Description**

deliver action is stuck on for ever on

**Environment**

[17:20:46]: Login successful
+----------------------------------------------+---------------------------------------------------

[2020-11-10 16:22] joshdholtz opened #17585 "Rework policy and bot on auto closing issues"
### Issue Description
Referenced from #17523

There is a lot of frustration that can occur from both users and maintainers with auto closing (and not auto closing) issues. I think the way we auto close issues might need to be reworked. Some of the current frustrations are:
- Closing of issues that haven’t been looked at or had any real response/resolution
- Locking of issues (which can lead to dup

[2020-11-10 16:30] ryang1428 commented on #17549
I am also seeing this on 2.166.0 when attempting to run `sigh` for the same purposes.

[code]

[2020-11-10 17:48] #17566 closed

[2020-11-10 18:39] jakubgs commented on #15185
Actually, I didn't solve it. After clearing the `login.keychain-db` now it's failing again.

[2020-11-10 19:00] jakubgs commented on #15185
Apple iOS signing must be the worst technology I have ever worked with. And that's not an exaggeration. It's so flimsy.

1. Race condition caused by parallel build and `default_keychain: true` resulting in empty default keychain made me disable it
2. Disabling `default_keychain: true` combined with clearing of default `login.keychain-db` started causing build failures
3. Dropping removal of tempor

[2020-11-10 21:10] joshdholtz commented on #15185
@jakubgs Did you try setting the `keychain_password` option in `match`? That option is for preventing that popup so it _should_ work for you 🤔

[2020-11-10 21:18] joshdholtz commented on #17307
@patreu22 I don’t think its the order but it looks like you have a different value for `content_rights_contains_third_party_content` in your example? One was `true` and one was `false`. It seems like for some reason that your app was in some state that doesn’t allow the changing of `contentRightsDeclaration`.

Do you know if you app had a version that was in review or something? I’ll see if I can

[2020-11-10 21:49] joshdholtz commented on #16854
Ah, I need to do this for a few reasons so I should be getting to this probably next week!

[2020-11-10 21:54] joshdholtz commented on #16233
Hello!

`produce` is currently using the legacy private API and it will be writing it soon to use the new App Store Connect API. I will make sure this is included in the rewrite 😊

[2020-11-11 02:06] gelodgreat commented on #17548
it's now fixed, I've discovered that the error originates from my environment variables, Fastlane is not the fault

[2020-11-11 02:06] #17548 closed

[2020-11-11 02:10] jaderYang commented on #17472
Job reported this error occasionally before, but now it is all back to normal. I closed the ticket first, and I will report it again if it happens later.
Thanks all.

[2020-11-11 02:10] #17472 closed

[2020-11-11 02:42] jakubgs commented on #15185
Yes. I have tried all kinds of combinations of this stuff including setting and not setting `keychain_password` in combination with other options. I've been dealing with this nonsense for almost 3 years.

[2020-11-11 03:11] rogerluan commented on #17548
@gelodgreat Great!! 🎉
Mind sharing what was the issue? 😃 This might help other users solve the same problem in the future 🤗

[2020-11-11 09:32] lighthouse16 commented on #16330
For everyone that is looking for a solution... just make two lanes.. one for iOS and one for macOS. Yes you will upload app info twice... you can share metadata :)...

I don't think this issue will ever be fixed...

[2020-11-11 09:32] #16330 closed

[2020-11-11 10:21] Kaspik commented on #17474
@joshdholtz I see you moved this to Doing 15 days ago, any blocker or is everything okay? :)

[2020-11-11 11:31] joshdholtz commented on #17474
@Kaspik Foggy mind from US elections, emergency issues, and life 🤷‍♂️ Haven't forgotten about this though!

[2020-11-11 14:15] crooke opened #17591 "register_device crashes when device already exists"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Running register_device with a device that

[2020-11-11 14:31] crooke commented on #17591
Based on https://github.com/fastlane/fastlane/issues/17429 I rolled back to fastlane 2.162.0 and it works again - I'm able to run register_device with a device that I've already registered without fastlane crashing.

[2020-11-11 14:36] yakimant commented on #17431
@rogerluan, can't check anymore, as we switched xcpretty back as a temporary workaround.

2 things for sure:
1. Only reproduced with xcpretty off
2. Not reprodices with scan rerun

Next time I will switch the xcpretty off - will debug more.

[2020-11-11 15:16] StefaniOSApps commented on #17288
@fastlane-bot reopen ?

[2020-11-11 16:00] joshdholtz commented on #15185
@jakubgs Thanks for the answer! I’ve never seen this error myself so I’m trying to see what could all possibly cause this. Sorry for all the question but I want to try and help here. Some of these may have been asked already but I just want to have a clear snapshot of what is all going on in one place
- What version of macOS are you on?
- This is on your development machine and not a CI, correct?

[2020-11-11 17:31] #17309 closed

[2020-11-11 17:33] ainame commented on #17583
👋

I've tested uploading screenshots locally. It seems that App Store Connect still accepts the old screenshot size  "1242 x 2688" (at least with web session). We would need to keep both old and new sizes supported. So the change shouldn't be just updating existing value but adding the new one with a different constant name?

https://github.com/fastlane/fastlane/blob/7e170280edb64b9941d5c4acd9eb41

[2020-11-11 18:11] stocc opened #17593 "deliver uses SharedValues::IPA_OUTPUT_PATH instead of specified ipa option"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

I am using fastlane to first build the dif

[2020-11-11 21:19] john-mejia commented on #17522
Hey @rogerluan , I just tried this again with a combination of different params and it does not work. I imagine it's working for others since this is pretty key for `deliver`

This is what the lane looks like now, I've tried passing in the version/build numbers with no luck.

[code]

In the activity tab for my app, there is nothing processing.

[2020-11-11 21:24] patreu22 commented on #17307
Yeah you're right, I didn't mean the order but the proper value, but you figured out what I actually meant 🤓  I'm not aware of anything like that, it wasn't supposed to be in review, so hopefully the API team might help us out with some more information :)

[2020-11-11 21:47] klmitchell2 commented on #16892
@rogerluan I am no longer seeing this issue after upgrading to 2.166.0.

[2020-11-11 22:46] ChristopherDrum commented on #17371
@joshdholtz Let do a an audit of sensitive info first. But, I can tell you that
`puts CredentialsManager::AppfileConfig.try_fetch_value(:itc_team_name)`
works fine (for example)

[2020-11-11 22:49] MrBenFTW commented on #17583
I am also getting this error.

[2020-11-12 00:20] ainame commented on #17583
I submitted the PR for this🤞
https://github.com/fastlane/fastlane/pull/17594

[2020-11-12 09:44] anh1979 opened #17595 "Spaceship::Tunes::Application latest_version not working anymore"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

We try to find out whether a certain app v

[2020-11-12 09:46] anh1979 commented on #17595
Even tried `app.latest_version(platform:'iOS')` instead of `app.latest_version`, but same outcome.

[2020-11-12 13:01] cannc4 commented on #17549
Same here.

[2020-11-12 15:47] jakubgs commented on #15185
Sorry, was out yesterday.

* MacOS `10.15.5`
* This is in Jenkins CI
* Yes, in many combinations
* I'm running as a dedicated `jenkins` user
* No, I even removed `login.keychain-db` and re-created it

These issues are very difficult to debug and understand because the whole thing is a black box that either works, or it gives you an utterly useless `errSecInternalComponent`.

[2020-11-12 15:49] jakubgs commented on #15185
Right now the setup that I know works is running the same build as CI but via a VNC connection to the graphical interface and waiting for the `codesign wants to access key ...` prompt to click `Always Allow`, and once that's done all builds afterwards seem to work fine.

The problem is that whenever the keys/certs change, or a host is reinstalled, or a new host is added, this brain-dead procedure

[2020-11-12 16:22] ElectrifyPowr commented on #16604
Please re-open this issue, it's still not solved!

@seanrogs we specifically used the **NotoSans** font since it supports every locale we are using.

@rogerluan for us it has **never worked before** with the aforementioned locales.

[2020-11-12 17:32] #14058 closed

[2020-11-12 18:32] rogerluan commented on #16604
Reopening upon request ☝️

[2020-11-12 18:35] ceeK commented on #17283
@dcacenabes's workaround works for me too, thanks. I wonder if it's worth adopting this as the solution within `create_app_store_version_release_request` (or something similar) until the App Store Connect API adds proper support. In our code we are rounding the last hour to achieve "release this now, please". I.e. calling the code at 12:23 updates the `earliest_release_date` to 12:00 and it'll sta

[2020-11-12 18:47] dave-perry commented on #17283
Could you share that code, please?

[2020-11-12 19:30] #17492 closed

[2020-11-12 19:56] ethan021021 opened #17600 "download_dsyms should respect FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Currently when running the `download_dsyms

[2020-11-12 22:55] rtolar opened #17602 "Documentation issue: Add Apple App Store Connect API to the Continuous Integration page"
The Fastlane docs list various ways that a continuous integration server can authenticate with Apple.

https://docs.fastlane.tools/best-practices/continuous-integration/#authentication-with-apple-services

Issues that I encountered with this documentation:

1) The recommended approach is to create a dedicated Apple ID without 2FA and without the "account holder" role.
I don't believe that this is

[2020-11-13 01:27] MichaelHuy commented on #17595
I am facing this issue. It worked well 2 days ago

[2020-11-13 01:38] buptwsg opened #17603 "Does CredentialsManager work on Linux?"
Hi there,
I want to know if CredentialsManager works on Linux platform. From the document, credentials are added to Keychain. So I'm not sure if it can work on Linux.

Please help me, thanks!

[2020-11-13 09:33] richard1505 commented on #17595
Im getting the same error when using the command
```Spaceship::Tunes::Application.create!(name: app_store_name, primary_language: primary_language, sku: sku, bundle_id: bundle_id, company_name: company_name)```

[2020-11-13 11:41] Salierik opened #17605 "[Supply] Google Api Error: badRequest: User fraction must be lower than one"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

We didn't change anything and use this log

[2020-11-13 11:52] Julesssss commented on #17605
We're seeing the same issue. Haven't been able to test this, but perhaps removing the key entirely could be a workaround?

[2020-11-13 13:03] jgongo commented on #17526
Created PR #17606 addressing this.

[2020-11-13 13:25] Chren opened #17607 "Spaceship::Tunes::Application.find return nil"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

I have been using Spaceship::Tunes::Applic

[2020-11-13 14:42] ceeK commented on #17283
Might not be the most elegant but assuming you're logged in with your App Store Connect key and have the pending developer version:
[code]

[2020-11-13 14:47] dave-perry commented on #17283
Thanks - I'll give that a try :)

[2020-11-13 15:58] ConfusedVorlon opened #17609 "attributes for build_app/catalyst_platform and deliver/platform are inconsistent"
### Issue Description
`build_app` has `catalyst_platform` which requires **ios** or **macos**
`deliver` has `platform` which requires **ios** or **osx**

this is inconsistent and likely to lead to confusion

### Environment

fastlane 2.164.0

[2020-11-13 17:14] tmaly1980 commented on #17595
Yikes! I'm facing this issue as well. I can't switch over to ConnectAPI as I use multiple development teams. I'm not sure how to get around this. All my builds are failing because I can't find the current version in the store/testflight.

Anyone know of a workaround, that doesn't involve ConnectAPI?

[2020-11-13 17:31] #17260 closed

[2020-11-13 17:43] tmaly1980 commented on #17595
If you look at the spaceship logs in /tmp, the overview endpoint returns but when trying to get version specifics, that's where it fails:

[code]

[2020-11-13 17:50] #17451 closed

[2020-11-13 18:12] dcacenabes commented on #17283
You can make it simpler:
[code]

And by the way you can skip seconds, they're of no use

[2020-11-13 18:16] ceeK commented on #17283
Nice! 👍  I thought that there might be a more elegant way.

[2020-11-13 18:18] tmaly1980 commented on #17595
After snooping on network traffic when browsing the Activity tab on AppStoreConnect, it appears the endpoint has changed to:

https://appstoreconnect.apple.com/WebObjects/iTunesConnect.woa/ra/apps/<APPID>/buildHistory?platform=ios

I'm in pretty urgent need of this being fixed so I'll look into creating a patch this weekend.

[2020-11-13 20:47] ethan021021 commented on #17600
Uploaded `fastlane env`

[2020-11-14 03:10] imWildCat commented on #17117
@rogerluan Sorry. After filing a DTS, we found that:
1. Codesign with `--deep` is harmful.
2. We need to export the .app from an archive before notarization.

In summary, this is not a fastlane issue.

[2020-11-14 03:10] #17117 closed

[2020-11-14 11:33] ZhangYingGang666 opened #17612 "Documentation issue:I was using the previous App Store Connect API and suddenly something went wrong"
itunes_app = Spaceship::Tunes::Application.create!(name: appname,
                                        primary_language: app_language,
                                        # version_string: "1.0", # initial version
                                        sku: bundleid,
                                        bundle_id: bundleid)

I didn't have any problems with it until the 12th

Traceback (

[2020-11-14 17:49] rubenstolk commented on #16700
Still doesn't work in latest version!

[2020-11-14 19:25] tbodt opened #17614 "GITHUB_TOKEN provided by Github Action does not work in fastlane action GithubApiAction"
#16618 is still a problem and should not have been auto-closed.

cc @felginep @bguidolim @sjcqs @michaelst

[2020-11-14 19:37] #17498 closed

[2020-11-15 01:25] rogerluan commented on #17355
AFAICT this was fixed here https://github.com/fastlane/fastlane/pull/17538 and just released as part of [2.167.0](https://github.com/fastlane/fastlane/releases/tag/2.167.0) 🚀

Closing this - let me know if the latest version of fastlane doesn't fix this issue for any of you 🤗

[2020-11-15 01:25] #17355 closed

[2020-11-15 03:03] buptwsg commented on #17603
hi, I'm investigating, but I don't have a Linux environment. If I have, I can try it myself. I just want to know if I can use CredentialsManager to save account and password on Linux platform.

Thanks.

[2020-11-15 06:05] #17603 closed

[2020-11-15 06:39] rogerluan commented on #17583
https://github.com/fastlane/fastlane/pull/17594 was merged and released as part of [_fastlane_ 2.167.0](https://github.com/fastlane/fastlane/releases/tag/2.167.0) 🚀

Closing this issue 😊

[2020-11-15 06:39] #17583 closed

[2020-11-15 06:49] rogerluan commented on #15996
@tedgonzalez looks like you're interested in using the `ios_version` option explained here https://docs.fastlane.tools/actions/snapshot/

Have you tried that?

[2020-11-15 08:23] rogerluan commented on #17593
Hi @stocc 👋
Thanks for providing such valuable debugging information. This makes it a lot easier for us to resolve the issues 🙌

I figured out the root cause of the issue and opened a PR https://github.com/fastlane/fastlane/pull/17616
If you wouldn't mind, I'd love if you could help us test it 😃

Appreciate your contribution to _fastlane_! 🚀

[2020-11-15 08:32] rogerluan commented on #16193
@petemounce You seem to raise valid concerns. In fact, if a CI log is not a secure place, a lot of damage can be done there 🤔 I'm curious though, how are you intending to create the temporary file, and delete it immediately afterwards? Can't that "evil person that has access to your CI" dump the file itself in the meantime too? Where is the data of that file coming from?

[2020-11-15 09:22] rogerluan commented on #17605
Hey 👋

After a quick glance at the code, looks like:

1. Omitting `rollout` will likely fix the issue for you. Did you try it like @Julesssss suggested?
2. The only recent changes to the relevant file didn't touch any rollout logic 🤔 the last change to the rollout logic was nearly 1 year ago: https://github.com/fastlane/fastlane/commit/1e081f40f27ec09897585700dc9fa42693d9ae0c#diff-97356a4e0e18355c

[2020-11-15 09:27] rogerluan commented on #17605
It's ready: https://github.com/fastlane/fastlane/pull/17617

@Salierik @Julesssss could you guys help us test it, to see if it solves your issue? 😃 Much appreciated! 🙏

[2020-11-15 09:31] tbodt commented on #17071
Just ran into this issue, posting to make sure it doesn't get auto closed

[2020-11-15 09:58] rogerluan commented on #17612
@ZhangYingGang666 please create a new issue providing all the info that the Issue Template asks for.

[2020-11-15 09:58] #17612 closed

[2020-11-15 10:03] rogerluan commented on #16618
Reopening upon request https://github.com/fastlane/fastlane/issues/17614

[2020-11-15 10:03] #17614 closed

[2020-11-15 10:07] #17609 closed

[2020-11-15 22:42] dan-ryan commented on #17202
"latest" never worked for me. It would return 1.0 where my version was 9.0.3.

This did the trick:
[code]

[2020-11-15 22:48] AshrafYEzouli opened #17620 "bundler: failed to load command: fastlane (/usr/local/lib/ruby/gems/2.7.0/bin/fastlane)"
sudo bundle exec fastlane distribute_to_firebase build_type:Debug

[✔] 🚀
+-------------------------------------------+---------+-----------------------------------------------------------+
|                                                  Used plugins                                                   |
+-------------------------------------------+---------+----------------------------------------

[2020-11-15 22:49] AshrafYEzouli opened #17621 "bundler: failed to load command: fastlane (/usr/local/lib/ruby/gems/2.7.0/bin/fastlane)"
after run this command :
sudo bundle exec fastlane distribute_to_firebase build_type:Debug

I got the below outputs

[✔] 🚀
+-------------------------------------------+---------+-----------------------------------------------------------+
|                                                  Used plugins                                                   |
+-------------------------------------------+

[2020-11-16 07:32] qingfengiOS commented on #16892
I just got this error and I'm on fastlane version 2.166.0

[2020-11-16 07:51] KevinKingCN commented on #16892
I can't upload, too!
The first time:
[code]

The second time:
[code]

My fastlane env:
[code]

[2020-11-16 08:48] dcacenabes commented on #17283
Makes sense. I just updated my original workaround comment with my latest comment so that all the info is in 1 single comment.

[2020-11-16 13:56] Julesssss commented on #17605
Hi @rogerluan, thanks for confirming. As the PR hides the fact that rollout shouldn't be set to 1, we simply removed the `rollout` key instead.

[2020-11-16 16:56] anneWe commented on #17069
I was able to figure out the issue I had: in a previous action a changelog was generated and used for the upload to appcenter. the changelog was written to the shared lane_context and used in the `upload_to_testflight` action. even directly setting the changelog to nil in the action didnt help. with the changelog in place, the `upload_to_testflight` action tried to login after the successful uploa

[2020-11-16 17:30] #17410 closed

[2020-11-16 18:33] gobetti commented on #17431
https://github.com/fastlane/fastlane/issues/16480 has also reported an issue specifically when using `disable_xcpretty`. I'm the author of that flag and I hadn't have issues with it, until today when I had to remove `fail_build: false`. Either omitting or specifying `true` will error with `undefined method `scan' for nil:NilClass`. I'd like to help on this, for now just adding this report in case

[2020-11-16 20:11] iDuuck commented on #17549
I got the same error. Looking at the code, I managed not to find the `expires` attribute/method in the `Spaceship::ConnectAPI::Certificate` model. I only see the expiration_date. However, the last change of the line, which is raising, is 4 years ago, hence I don't think that this is the bad thing about this.

[2020-11-16 20:47] Qwix commented on #17549
@iDuuck the error is coming from line 330 in this file: https://github.com/fastlane/fastlane/blob/master/sigh/lib/sigh/runner.rb

[2020-11-16 20:59] mtessler-fmcc opened #17622 "xip: error: The archive “Xcode_12.2.xip” is damaged and can’t be expanded."
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Unable to install 12.2
Have deleted /Users

[2020-11-17 02:00] tmaly1980 commented on #17595
Weird, this seems to be working fine for me now, nothing changed. Anyone else still experiencing the issue?

[2020-11-17 06:53] anh1979 commented on #17595
Sorry, no - problem still existing in my case!

[2020-11-17 07:03] vimaljake commented on #17595
still facing issue

[2020-11-17 07:07] danielgalasko commented on #17595
Working for us again ¯\_(ツ)_/¯

[2020-11-17 08:14] vimaljake commented on #17595
can you please share the code you using for getting latest version?

[2020-11-17 09:53] iDuuck commented on #17549
I know, that it comes from there. But I am not able to find anything about a `expires` attribute in the model (which is being called there), neither in the current master, nor in any commit in the last months.

What I wanted to say about this is, that there needs to be some contributor having a look at this issue. I wanted to help, but can't unfortunately.

[2020-11-17 09:54] iDuuck commented on #17549
@Qwix However, I managed to get my provisioning profiles created and managed through `match`. Don't know, if this is an option for you until this issue is fixed.

[2020-11-17 10:35] danielgalasko commented on #17595
Sure, in a nutshell

[code]

That was not working and then it started working again last night

[2020-11-17 10:35] danielgalasko commented on #17595
It used to fail on `app_store_build_number` but its all good now for us

[2020-11-17 11:48] max-ott commented on #17621
Duplicate of #17620

[2020-11-17 11:48] #17621 closed

[2020-11-17 11:48] FunnyFzl commented on #17488
I'm also facing the same issue.

[2020-11-17 11:50] max-ott commented on #17607
Please check out https://github.com/fastlane/fastlane/blob/60ce99a5efa04bf80034beeaf014d5935e908987/spaceship/lib/spaceship/connect_api/tunes/tunes.rb#L20

[2020-11-17 12:02] max-ott commented on #17488
@FunnyFzl Please refrain from "me too" comments. Please post your full stack trace and steps to reproduce the issue as it's otherwise not very helpful.

[2020-11-17 12:02] max-ott commented on #17620
Do you have the plugin correctly setup?

[2020-11-17 12:08] max-ott commented on #17595
You should be able to login with the `Spaceship::Tunes` way and still be able to use the `ConnectAPI` without actually using an API key. There is no longer the concept of edit_version vs. live_version. You want to look into something like:

[code]

Should be a good starting point to test out locally with `irb`

[2020-11-17 12:34] vimaljake commented on #17595
Spaceship::UnexpectedResponse (The specified resource does not exist - There is no resource of type 'AppsV1' with id ""
got the above error for the following line
app = Spaceship::ConnectAPI.get_app(app_id: "123456789")

[2020-11-17 13:11] jakubgs commented on #15185
I have fixed my issue(for now...) in https://github.com/status-im/status-react/pull/11410 by not remove the keychain, and making it the default:
[code]
And I cleared all existing keychains from my CI hosts and created new default user keychain using:
[code]
Right now this works, but knowing Apple this will break at some point. In the meantime I'll be sure to sacrifice a goat every week.

[2020-11-17 13:17] jakubgs commented on #15185
One thing I noticed. You can get an error like this:
[code]
When building, if your result of `security list-keychains` looks like this:
[code]
Notice the empty space before the first two visible entries. This is an empty entry that can cause `codesign` to fail to find cert.

[2020-11-17 14:01] oleg-lola commented on #17488
@FunnyFzl
the reason why fastlane  appcenter upload step may fail  is wrong credentials to appcenter.
install appcenter-cli and  log in with `appcenter login` before the actual fastlane run

[2020-11-17 14:49] john-mejia commented on #17522
I thought Deliver might be able to do the build selection for me, since it does it before submitting for review.. It does not actually select the build in this case:

[code]

I imagine since I'm not submitting for review, it's not actually doing the build selection? If `submit_for_review` is `true` it selects the latest build for this version and submits.

@joshdholtz any thoughts on this one?

[2020-11-17 16:04] richard1505 commented on #17595
Solved the issue I had with `Spaceship::Tunes::Application.create!` by switching to `Spaceship::ConnectAPI`

[2020-11-17 17:31] #15997 closed

[2020-11-17 17:46] fingersakimbo commented on #16429
Yes, this is still an issue.

[2020-11-17 22:01] anh1979 commented on #17595
**This was the hint that helped - it was a bit rough to get it working, but finally I can read the appstore version and status again. Many thanks!**

after logging and team selection in via
`
Spaceship::Tunes.login("*************", "("*************")
Spaceship::Tunes.select_team
`
I do the following

`app = Spaceship::ConnectAPI::App.find(bId)    #use the new way even if we logged in the old way

[2020-11-17 22:03] #17595 closed

[2020-11-18 00:57] knewman-chownow opened #17626 "Spaceship::Tunes::AppDetails.save! returning "Not Found""
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
I have a very simple lane that I use when I

[2020-11-18 08:09] petemounce commented on #16193
@rogerluan it's about minimising the risk and layering defenses; the risk is really hard to totally eliminate. This particular ask is about minimising the risk of reasons the secret might be exposed to a CI log, where the potential audience of those is greater than the set of people with access to change how CI or build automation behaves.

(If someone gets _malicious_ access to a CI runner, they

[2020-11-18 11:22] Dinsen commented on #17232
You can also use the AppAnalytics class directly:

[code]

[2020-11-18 14:42] lukeredpath opened #17628 "Option to skip resolvePackageDependencies step"
For some reason Fastlane automatically runs `xcodebuild -resolvePackageDependencies` which means we aren't able to cache our dependencies on CircleCI.

In order to cache our dependencies and speed up our builds, we explicitly call `xcodebuild -resolvePackageDependencies -clonedSourcePackagesDirPath SourcePackages` as part of our CircleCI workflow and this directory gets cached based on the `Packag

[2020-11-18 14:56] eXhausted commented on #17041
I faced the same issue. The build was in processing when I tried to submit it. You need to pass `build_number: "latest"` to the `deliver` if you want to Fastlane to wait for processing. I found only one reference to this function in the submit code: https://github.com/fastlane/fastlane/blob/4a024011bd9ad788346d256d23e2ce28b0189101/deliver/lib/deliver/submit_for_review.rb#L47

[2020-11-18 15:10] max-ott commented on #17626
Please update to the latest `fastlane` version and make sure to use the `ConnectAPI`. Apple killed all old endpoints with their App Store Connect update this summer. Using most `Tunes` endpoints is simply no longer working.

This should get you up to speed:

[code]

[2020-11-18 15:11] #17626 closed

[2020-11-18 17:32] lukeredpath commented on #17628
[code]

[2020-11-18 19:17] #17605 closed

[2020-11-18 19:49] #17593 closed

[2020-11-18 20:09] garrettmaring opened #17632 "Gradle creates debug APK"
If you read the rest of the thread, the most common fix is to manually upload an apk yourself once. After that, fastlane should pick it up.

_Originally posted by @lazerwalker in https://github.com/fastlane/fastlane/issues/14686#issuecomment-517660458_

[2020-11-18 20:13] garrettmaring commented on #17632
I am trying to upload to Google Play. For the first upload, it's failing on package name and the recommendation from #14686 is to upload an APK manually.

I've then run a assembleRelease but am seeing this error when dragging it into the Google Play store.

[code]

![Screen Shot 2020-11-18 at 12 09 40 PM](https://user-images.githubusercontent.com/8270120/99582586-2c99a780-2997-11eb-807e-c1cdea8bf3

[2020-11-18 20:56] #17526 closed

[2020-11-18 22:50] rebirthtobi commented on #16892
Using 2.167.0

Was able to upload once and getting errors after

[2020-11-19 08:53] max-ott commented on #17632
As far as I know the Google Play Publishing API, which `fastlane` relies on, requires you to do the initial setup manually on the Google Play Dev Console. With regards to `gradle`, I recommend checking out their docs and see why you are creating a debug APK.

[2020-11-19 15:28] maxx-cyber opened #17635 "Could not find a version to edit for app 'AppName' for 'IOS'"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

If there is **Ready for Sale** version in

[2020-11-19 16:33] maxx-cyber commented on #17635
As a workaround I've separated deliver command in a lane on two deliver commands, first one for create/update version, next one for uploading screenshots. It works but it leads to double login to App Store Connect.

[2020-11-19 17:22] garrettmaring commented on #17632
@max-ott it does require initial setup through Google Play but that setup requires an initial AAB or APK to be uploaded. This upload requires a release + signed build. Eventually, I just followed https://reactnative.dev/docs/next/signed-apk-android to build the first bundle signed in release mode. With `supply`, I assumed that the signing process was done by fastlane.

[2020-11-19 17:30] #17425 closed

[2020-11-19 20:35] JobGetabu opened #17636 "How to set versionCode for upload_to_play_store pick from gradle automatically"
[code]

[2020-11-19 20:46] #17636 closed

[2020-11-20 01:21] choiks14 commented on #17202
It was solved?

i have same problem

[2020-11-20 01:31] invoodoo commented on #17202
@choiks14

I had to find a workaround to find current Edit or Live version

app = Spaceship::ConnectAPI::App.find($bundle_id)
[code]

[2020-11-20 04:06] kyo504 commented on #17231
I've also faced with this issue. I thought it was quite weird because I thought those two values have the same effect.

[2020-11-20 05:59] ChristopherDrum commented on #17318
OK, I finally had success today. I don't understand why this worked, but it did...
In my `deliver()` parameters for the App Store Connect submission, I had `metadata_dir:` set to the local folder that contained the metadata for each language.

I removed this parameter and let fastlane find the folder on its own. Exact same folder, and I know it was because it found and uploaded every release-notes

[2020-11-20 07:36] EmDee opened #17639 "Deliver error for App containing an App Clip"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Ran `deliver` this morning and got the fol

[2020-11-20 07:57] Echo-Joker opened #17640 "fastlane deliver error"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

##### Command executed
deliver 2.137.0
whe

[2020-11-20 08:10] aprilmintacpineda opened #17641 "fastlane deleted my default keychains"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [ ] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [ ] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

I was trying out fastlane on my local mach

[2020-11-20 09:26] mathaeus commented on #17318
@ChristopherDrum for us it hasn't failed ever since my last comment, and we also have `ja`. So 🤷‍♂️. It stays a mystery.

[2020-11-20 13:33] joshdholtz commented on #17640
@Echo-Joker Hello! Can you try updating to `2.168.0`? There have been major API changes that happened around `2.150.0` that will fix this issue for you 😊

[2020-11-20 13:35] joshdholtz commented on #17641
@aprilmintacpineda So sorry to hear about your keychain 😔 I think the issue was setting `default_keychain: true`. It seems like this replaced you default `login` keychain with your new one that `create_keychain` replacement. I pretty positive that this _shouldn’t_ have deleted your keychain though. Were you able to go check in the file system that your login keychain was still there?

[2020-11-20 13:38] joshdholtz commented on #17639
@EmDee There is not at the moment but I will see what we can do for adding that 😊

[2020-11-20 13:46] joshdholtz commented on #17632
@garrettmaring The `gradle` action is just a wrapper for the `gradlew` CLI command. _fastlane_ does not do any signing with either `gradle` or `supply`. `supply` is the layer that uploads a signed APK to Google Play.

It seems like there might be something missing in your gradle file the is causing `assembleRelease` to not get signed. If you run the CLI command `./gradlew assembleRelease` in your

[2020-11-20 13:53] joshdholtz commented on #17635
@maxx-cyber Heyyy 👋 This is really strange looking 🤔

1. What is the version number that is “Ready for Sale”?
2. The version number is should be creating is `5.4`, correct?
3. Are there other platforms for this app besides `ios`?

Thanks!

[2020-11-20 13:55] joshdholtz commented on #17628
@lukeredpath This is totally a thing that should be allowed 👍 It is not an option at the moment but we can totally get that added for you!

[2020-11-20 13:56] EmDee commented on #17639
Awesome! Thanks for all your amazing work here!

[2020-11-20 14:05] maxx-cyber commented on #17635
1. 5.3
2. Yes
3. No, we use Fastlane for iOS apps only, but we have a lot of iOS apps and this issue is 100% reproducible

[2020-11-20 14:17] maxx-cyber commented on #17635
@joshdholtz also seems this issue is reproducible for uploading metadata as well, but it works correctly if uploading ipa only without screenshots and metadata.

[2020-11-20 14:25] joshdholtz commented on #17635
@maxx-cyber I actually just got a personal app approved so I will run your exact setup again my app to see if I can reproduce 🤞  I’ll try and have an answer to you early next week if that’s okay!

[2020-11-20 14:27] maxx-cyber commented on #17635
ok
BTW uploading ipa without screenshots and metadata works because uploading ipa doesn't relate to app version during uploading

[2020-11-20 17:59] thejeff77 commented on #17188
keep it open fastlane bot

[2020-11-20 18:14] Jaff opened #17645 "fastlane ignores 'fail_build: false' in tests"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

run_tests set to not fail the build, but b

[2020-11-20 22:04] LemonSpike opened #17649 "The version number has been previously used - provided entity error."
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

The provided entity includes an attribute

[2020-11-20 22:08] julpanucci4 commented on #17640
@joshdholtz same issue happening here as well. Just updated to 2.1680 and still getting that same error on deliver

[2020-11-21 03:11] JukuiLiu opened #17650 "The specified resource does not exist - There is no resource of type 'appPrices' with id"
The specified resource does not exist - There is no resource of type 'appPrices' with id

[2020-11-21 09:29] aprilmintacpineda commented on #17641
Yeah, I did saw something called "login-renamed", but it was empty, there's nothing in it, I was able to guess the password and reset my keychains, good thing I still have my old mac with me so I was able to recover my keychains from it. In a way, I got lucky.

[2020-11-22 00:36] fzyzcjy commented on #17171
No it does not work :(

[2020-11-22 17:30] #17434 closed

[2020-11-22 17:30] #17353 closed

[2020-11-22 17:31] #17192 closed

[2020-11-22 17:31] #17124 closed

[2020-11-22 20:03] EmDee commented on #17639
@joshdholtz It looks like the error only occurs the first time around. Subsequent uploads after I've added all the App Clips info in App Store Connect were successful.

[2020-11-23 03:56] Chren commented on #17607
Hi, thanks for reply. After checking, it seems that age_rating_declarations is not used for getting rating, but for getting rating setting in AppStore Connect.
Please check the link below:
https://developer.apple.com/documentation/appstoreconnectapi/app_metadata/age_rating_declarations

Could you please reopen it?

[2020-11-23 07:50] max-ott commented on #17607
Not sure what you mean, please clarify.

[2020-11-23 08:03] Chren commented on #17607
@max
get_age_rating_declaration is not used for getting app store rating, but for getting age rating.

![image](https://user-images.githubusercontent.com/349182/99939497-247da580-2da5-11eb-9c4e-8a0ff6633ce5.png)

What I want is to get app store rating:
![image](https://user-images.githubusercontent.com/349182/99939564-52fb8080-2da5-11eb-986d-203321f5a060.png)

[2020-11-23 08:51] max-ott commented on #17607
Sorry about that, I thought you were looking for the age ratings. As far as I can see this has not been added to `spaceship` yet. Feel free to open a pull request adding this!

[2020-11-23 09:20] Chren commented on #17607
Glad to. But I haven't seen apple connect apis provide such an api. Any suggestion on how to implement it?

[2020-11-23 14:41] tadija commented on #17549
another workaround for this problem is to provide the explicit `cert_id` parameter to `sigh` (**cert_id** can be obtained with [spaceship](https://github.com/fastlane/fastlane/tree/master/spaceship))

[2020-11-23 15:42] nrogness-hs opened #17654 "spaceauth uses 'sms' even though phone's push mode is 'voice'"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Running the spaceauth command prompts for

[2020-11-23 15:43] NicholasIoanJones commented on #17423
Any progress with this? I'm still seeing this problem with Fastlane 2.168.0 and Xcode 12.2

[2020-11-23 17:30] #17323 closed

[2020-11-23 17:31] #16502 closed

[2020-11-23 18:34] anh1979 commented on #17632
I think I encountered this myself, but not 100% sure:
We had an order version of gradle installed and assembleRelease DID put out a signed build. When we switched our system over to use gradle version >= 6.5, assembleRelease did suddenly put out a debug apk instead.

Maybe we could have avoided that by changing the gradle configuration and build.properties - but I didn't want to change that due to

[2020-11-23 20:21] minuscorp commented on #17423
For some reason Apple doesn't want to solve the bug, I'm busy until weekend, but I think I can push a patch this weekend.

[2020-11-23 21:13] mccarron commented on #17288
Thanks for re-opening @joshdholtz. Of note Firebase is tracking the issue as well as it's not as ideal having to find it in the build artifacts. I'd hold off fixing this in `fastlane` until they determine their solution. https://github.com/firebase/firebase-ios-sdk/issues/6864

I for now just decided to follow @iOSGeekster's solution to copy it to `./scripts/upload-symbols`. Also because Fastlane

[2020-11-23 22:01] markreynoso commented on #17640
I'm seeing the same thing in relation to the Spaceship::Tunes::AppVersion. So far, all the version methods appear to fail with the error noted above. I am also on 2.168.0 experiencing this issue.

[2020-11-23 22:12] mrousavy opened #17657 "[React Native] Hermes on iOS (react-native 0.64)"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

React Native 0.64-rc0 was released, which

[2020-11-24 01:51] erikkerber opened #17659 "Spaceship `resend_invitation` no longer works"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

`resend_invite` sends:

[code]

App Store

[2020-11-24 04:27] Azbagheri commented on #17600
We are also encountering the same issue and consequently are not able to use this action in our CI pipelines. It would be amazing if this action can be updated to use FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD and basically to support 2fa for logging in to App Store Connect.

[2020-11-24 05:35] miraclebg opened #17662 "Cannot upload DSYMs go Firebase Distribution"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
Upon trying to download DSYMs from the AppS

[2020-11-24 07:33] tejaskdubal opened #17663 "Execution policy exception registration failed and was skipped: Error Domain=NSPOSIXErrorDomain Code=1 "Operation not permitted" (in target 'Demo' from project 'Demo')"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [ ] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [ ] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
Mac OS - 10.15.7
Xcode - 11.7

Fastfile com

[2020-11-24 08:58] max-ott commented on #17650
Please re-open your issue with a fully filled out issue template as the community will otherwise not be able to help you.

[2020-11-24 08:58] #17650 closed

[2020-11-24 08:59] max-ott commented on #17649
Please include some more context in your issue, like all the commands you ran and the full stack trace.

[2020-11-24 09:00] #17632 closed

[2020-11-24 09:02] #17641 closed

[2020-11-24 09:16] mrousavy commented on #17657
Nevermind, that has nothing to do with fastlane.

I still had the `ram-bundle` enabled in my bundle build phase, you obviously have to remove that when using Hermes. 🤦

[2020-11-24 09:16] #17657 closed

[2020-11-24 10:07] tejaskdubal commented on #17663
Description Updated. @max-ott

[2020-11-24 11:00] drummerjoe opened #17664 "google_play_track_version_codes output has changed"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
2 days ago, the output of google_play_track

[2020-11-24 11:52] tastafur commented on #16700
yes, this not work

[2020-11-24 12:32] julianD77 commented on #17635
We have also experienced this new issue today, however our `deliver` command is already set to skip the metadata and does not upload screenshots:

Error shown from Fastlane output on CI

Delivery Summary

Fastfile snippet

`deliver(
      force: true,
      app_identifier: "xxxxxx",
      skip_metadata: true
    )`

UPDATE: on a retry of the same build/fastlane setup, it worked. Hmmm

[2020-11-24 15:23] Sulivans commented on #17585
To ensure the long-term sustainability of your open source project is vital that you’re able to attract new contributors (all kinds of contributors, not only code contributors) and make sure they first encounter with your project ends up in a high note. Otherwise, you’ll be losing them forever.

[2020-11-24 17:32] erikkerber commented on #17659
Updated

[2020-11-24 18:33] noahsark769 commented on #15963
@EpaL I'd definitely be interested in seeing your solution. If you don't feel comfortable submitting it for a PR, I'd be happy to do it on your behalf, since it seems like I'm running into the same issue. Thanks!

[2020-11-24 18:46] SMA-HP commented on #16892
I still get a lot of these "java.net.SocketTimeoutException: Read timed out for..." messages even with fastlane version 2.168.0 but I was able to upload the app.
BTW: Fastlane version 2.158.0 crashed my Mac several times with a kernel exception during upload retries...

[2020-11-24 23:06] unityfeth opened #17667 "fastlane notarize fails during staple even though the package is approved"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
When I run the `fastlane notarize` command

[2020-11-25 11:17] tastafur opened #17674 "Add new metadata language then if app name is in use if that language is in use, I change the name to a free one and it fails if I do it manually in developer apple it works"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

![Captura de pantalla 2020-11-25 a las 11

[2020-11-25 11:29] EmilioPelaez commented on #16365
It's still happening in 2.168.0

[2020-11-25 11:35] max-ott commented on #17674
This is the expected behaviour. If you try to use an app name that is already taken you cannot save the version/edit. Unfortunately Apple does not give any feedback on which language is concerned. This is 100% the behaviour as you would get it on App Store Connect.

[2020-11-25 11:35] #17674 closed

[2020-11-25 18:27] MuhammadUsman786786 commented on #17516
facing the same issue

[2020-11-25 18:56] firecodeing commented on #17444
@fastlane-bot No this specific issue is not solved in one of the latest fastlane releases.

[2020-11-25 20:00] djbe opened #17675 "`upload_to_testflight` broken unless run with verbose"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Was setting up CI (Bitrise) for a new proj

[2020-11-25 20:22] Jaff commented on #17645
I've run it on the Jenkins build-slave in the correct account, but the Jenkinsfile & Fastfile set additional parameters, so it may not be complete. I'll provide additional detail in follow-up.
[Fastlane_env.txt](https://github.com/fastlane/fastlane/files/5599106/Fastlane_env.txt)

[2020-11-26 00:14] jacque006 commented on #17208
@rogerluan We are encountering this issue on our release for iOS. We haven't modified our `Fastfile` in quite some time so it's perplexing why this is happening now.

Relevant part of our iOS `Fastfile`:
[code]
I was able to manually release by commenting out the call to `check_app_store_metadata`.
Did something change recently where we need to move `check_app_store_metadata` to a later part of ou

[2020-11-26 01:43] jcharr1 commented on #17208
An interesting thing I've noticed that when we run precheck manually after uploading a build to TestFlight it fails with this error. But when it's run when we submit the build for review and it runs precheck as part of deliver, it works.

I typically don't create a new version on App Store Connect until we're ready to submit very soon. @rogerluan I just tried running it with no pending version cre

[2020-11-26 06:24] AsTryE opened #17676 "Please follow the troubleshooting guide"

[2020-11-26 06:24] #17676 closed

[2020-11-26 09:22] tastafur commented on #17674
Thank you very much for your answer @max-ott

[2020-11-26 10:58] gasigo opened #17677 "Download DSYMs action broken"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
I have a Bitrise workflow to download DSYM

[2020-11-26 11:05] kristiyandobrev opened #17678 "Uploading trailer fails"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
I am having the following lane for uploadin

[2020-11-26 11:16] max-ott commented on #17678
You can't simply replace the previous `Tunes` call for getting the edit version with the new `ConnectAPI` calls. As the error message shows, there is no `upload_trailer` method anymore. Please check out https://github.com/fastlane/fastlane/blob/master/spaceship/lib/spaceship/connect_api/models/app_preview_set.rb#L72 for more information.

[2020-11-26 11:16] #17678 closed

[2020-11-26 11:53] kristiyandobrev commented on #17678
@max-ott It makes sense. But then how would I get the edit version where I can call `upload_trailer` ?

[2020-11-26 14:14] MakakWasTaken opened #17679 "FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD not recognised when running 'upload_to_testflight' on CI (Github Actions)"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

I have lately been trying to set up upload

[2020-11-26 15:50] ginterpto opened #17680 "Could not find action, lane or variable 'app_store_connect_api_key'"
### New Issue Checklist

- [v] Updated fastlane to the latest version
- [v] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [v] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [v] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
Using unity cloud build, I added a post bui

[2020-11-26 18:58] Tayphoon opened #17681 "`find_app': [!] undefined method `team_id' for nil:NilClass (NoMethodError)"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
upload_to_app_store fails at this line:

[2020-11-26 19:13] tedgonzalez commented on #17343
🚴🏼‍♂️

[2020-11-27 09:16] EmDee commented on #17639
I'll take the last statement back. For today's upload I got the same error again. The "advanced App Clip experiences" are persisted correctly across updates, but the "standard App Clip" (screenshot, title and action) need to be set with each new app update.

[2020-11-27 10:29] tastafur commented on #17539
So have you tested if this is the solution? "reject_if_possible before verify_version"

[2020-11-27 14:10] vgaidarji commented on #17434
@rogerluan hey. Regarding your comment
https://github.com/fastlane/fastlane/issues/17434#issuecomment-709407707

This change https://github.com/fastlane/fastlane/commit/71d42bb5549313b69a5834764804c24a6c8797a1#diff-10a3804e907e825b3a262ecbe102a182135de576bd1e7720023a9b84b745b05aR169
![image](https://user-images.githubusercontent.com/3036347/100457391-a124c280-30ca-11eb-968e-fd2aa2b710a0.png) broke

[2020-11-27 17:30] #17416 closed

[2020-11-27 22:42] raphaelcruzeiro opened #17690 "Sigh won't include M1 devices on the provisioning profile. (temp workaround: edit /sigh/runner.rb)"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

When running `sigh` to generate the provis

[2020-11-28 12:12] minuscorp commented on #17423
It would be great if someone can try the draft pr and tell me if it works fine 🤗

[2020-11-28 17:31] #17377 closed

[2020-11-28 17:31] #17174 closed

[2020-11-28 17:31] #17039 closed

[2020-11-28 17:32] #16376 closed

[2020-11-28 18:04] rogerluan commented on #17522
Your assumption is correct here, this is the implemented behavior of `deliver`. However, your code (in the issue description) _should_ work since you're manually calling the correct Spaceship methods to select the build on your own instead of relying on `deliver` implementation.

I don't know why it's not working for you, though 😢 I couldn't figure out, after debugging. We need someone else to tak

[2020-11-28 19:10] brianhumphreys commented on #17549
I experienced this issue whenever I created a certificate with the development flag set to true and then attempted to invoke sigh without the development flag (which defaults to false when not specified).  So I changed:

`  lane :cert_sandbox do
    cert(
      username: <username>,
      team_name: <team name>,
      development: true
    )
  end

  lane :sigh_sandbox do
    sigh(
      username:

[2020-11-28 21:58] patreu22 commented on #17225
Hey there, little follow-up for @joshdholtz after this issue still being a thing over 2 month later. Any idea who could be the right person to contact about this?

[2020-11-28 22:01] joshdholtz commented on #17225
Thanks for ping! Will move this to the top of my list for Monday morning

[2020-11-28 22:03] patreu22 commented on #17225
Cheers, enjoy the rest of the weekend 🍻

[2020-11-29 04:40] #17620 closed

[2020-11-30 01:55] ChristopherDrum commented on #17318
Well, the success noted above was short-lived. It worked last week, but this week fastlane decided that the fix wasn't good enough and skipped `ja` release notes again. 🤷
I did update fastlane to `2.168.0` just before that. I don't know; I'm at a loss now.

[2020-11-30 10:18] max-ott commented on #17681
Are you sure that the API key has access to that app / team? APK keys are dependent on the team, not the Apple ID.

[2020-11-30 10:52] Tayphoon commented on #17681
We have a typo in app_identifier and as i understand it try show error but fails. Yes api key has access, after we fix typo script script work as expected.

[2020-11-30 11:34] ainame commented on #17539
[code]

I've got the above error within `ensure_version!` when an app had "Pending Developer Release" state and we tried to resubmit it without bumping a version whilst the original report was trying to bump a version. This is exactly what I expected outcome with the current code at the above comment😞

https://github.com/fastlane/fastlane/issues/17539#issuecomment-720875693

[2020-11-30 12:48] laszloagardi commented on #15595
Do you have an ETA for this issue?

[2020-11-30 14:14] minuscorp commented on #15595
In currently working on another Swift issue, I'll try to work with it ASAP

[2020-11-30 21:59] sroebert opened #17694 "[match] force_for_new_devices incorrectly includes disabled devices"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
When setting `force_for_new_devices` to `tr

[2020-11-30 22:11] #17654 closed

[2020-12-01 04:10] James-Rodriquez commented on #17640
I'm also facing the same, please help me to resolve this issue [tellpopeyes](https://www.tellpopeyes.me/).

[2020-12-01 07:53] minuscorp commented on #17423
Ping @xta

[2020-12-01 09:43] xta commented on #17423
does it need a `try` in front? The [PR](https://github.com/fastlane/fastlane/pull/17687/files) contains the code that worked for me (`try UIImagePNGRepresentation(image)?.write(to: path, options: .atomic)`) without `try`.

I see the else block also has a `try image.pngData()?.write(to: path, options: .atomic)` method.

[2020-12-01 10:15] berdyshev opened #17697 "app_identifier is ignored by `deliver` called from CLI"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
I have two apps developed within a single c

[2020-12-01 10:44] schunlee commented on #17626
@max-ott I get the error => undefined method `fetch_edit_app_info' for #<Spaceship::ConnectAPI::Response:0x00007fa83c874a10> (NoMethodError)

[2020-12-01 10:45] max-ott commented on #17626
Which Fastlane version are you on?

[2020-12-01 12:21] Yd74 opened #17700 "The request could not be completed"
Hi, I got this error:

Its happen after ipa uploaded and its waiting for processing on:
![FastlaneLog](https://user-images.githubusercontent.com/42241451/100739872-72fff500-33e0-11eb-8cc9-237a8f969152.png)

Any idea?

[2020-12-01 13:02] YarinDolev commented on #17700
Fastlane env output:
<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                         | Value                                                          |
| --------------------------- | -------------------------------------------------------------- |
| OS                          | 10.15.6                                                        |
| Ruby

[2020-12-01 14:57] max-ott commented on #17700
Could you please provide the full stack trace? The screenshot is not really helpful.

[2020-12-01 14:59] #17681 closed

[2020-12-01 15:00] max-ott commented on #17680
Please upgrade to the latest fastlane version. You are on 2.142.0. Latest is somewhere at 2.168.0. Support for the ASC API Key was added definitely later.

[2020-12-01 15:00] #17680 closed

[2020-12-01 15:03] max-ott commented on #17679
You're not having the `apple_id` set. Please check out https://docs.fastlane.tools/actions/upload_to_testflight/#use-an-application-specific-password-to-upload and try again.

[2020-12-01 15:03] #17679 closed

[2020-12-01 15:03] rogerluan commented on #17423
@xta , it shouldn't need `try` AFAICT, as `UIImagePNGRepresentation` doesn't throw: https://developer.apple.com/documentation/uikit/1624096-uiimagepngrepresentation

By adding `try`, it also compiles, but it should throw a warning such as:

[2020-12-01 15:03] max-ott commented on #17675
Could you please try to update fastlane and try it again?

[2020-12-01 15:04] max-ott commented on #17622
Please open in issue with the right repo: https://github.com/xcpretty/xcode-install

[2020-12-01 15:04] #17622 closed

[2020-12-01 15:05] #17649 closed

[2020-12-01 15:06] max-ott commented on #17663
Did you check out https://github.com/fastlane/fastlane/issues/15964 ?

[2020-12-01 15:08] ginterpto commented on #17680
Thank you very much for the reply. I have actually managed to figure that
out from your well documented change log. Should have remove the post,
sorry about that.

Best regards.

On Tue, Dec 1, 2020 at 17:00 Max Ott <notifications@github.com> wrote:

[2020-12-01 15:24] YarinDolev commented on #17700
@max-ott
`##[section]Starting: Send to TestFlight - Fastlane
==============================================================================
Task         : Bash
Description  : Run a Bash script on macOS, Linux, or Windows
Version      : 3.151.1
Author       : Microsoft Corporation
Help         : https://docs.microsoft.com/azure/devops/pipelines/tasks/utility/bash
===================================

[2020-12-01 15:38] max-ott commented on #17700
I think this is pretty obvious:

Authentication credentials are missing or invalid. - Provide a properly configured and signed bearer token, and make sure that it has not expired. Learn more about Generating Tokens for API Requests https://developer.apple.com/go/?id=api-generating-tokens‌

Not sure what you are using for authentication, but it seems to fail here.

[2020-12-01 15:43] YarinDolev commented on #17700
@max-ott
its looks obvious, but it succeeds to upload the IPA to TestFlight, and i'm using apple admin API, so why it stops and failed after +-15 minutes?

[2020-12-01 16:02] max-ott commented on #17700
There's no Apple admin API. Simply skip the "wait for build" part: https://docs.fastlane.tools/actions/upload_to_testflight/#parameters

skip_waiting_for_build_processing

[2020-12-01 16:10] YarinDolev commented on #17700
I moved to work with fastlane because I want to wait for processing, why should I skip it?

[2020-12-01 17:00] mintuz opened #17702 "Snapshot not working on iOS 14.2 & XCode 12.2"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
Couple of issues experienced when running `

[2020-12-01 18:47] jvanbrunt opened #17706 "Setting 'Skip Install' to NO generates a invalid archive MacOS"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

When running gym() on a MacOS X project. I

[2020-12-01 19:53] minuscorp commented on #17423
Closing it as new release was done, don't hesitate to reopen the issue if the problem persists 😊

[2020-12-01 19:53] #17423 closed

[2020-12-01 21:14] tomvisions opened #17707 "When running fastlane init --verbose, it is unable to create the app in app connect"
### New Issue Checklist

- [x ] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x ] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x ] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

I ran fastlane init --verbose in the fo

[2020-12-01 21:24] tomvisions commented on #17707
I tried, should be under fastlane environment?

[2020-12-01 22:03] Dinsen commented on #17607
@Chren I just tested this with one of the apps we manage and I get the ratings with your code.

[2020-12-02 00:00] marcos1262 commented on #16892
`[Transporter Error Output]: An un-handled exception occurred: java.net.UnknownHostException: store-037.blobstore.apple.com for (id: CPUSource124/v4/db/8e/b3/db8eb326-7c84-8fd4-1ff9-1036ed5ab9fd/555dd890951576570baaa5df7c967fff713ab40e9688977abded7dca5d376b06.ipa file: 555dd890951576570baaa5df7c967fff713ab40e9688977abded7dca5d376b06.ipa part: 27)
[18:20:45]: [Transporter Error Output]: org.apache.

[2020-12-02 01:47] schunlee commented on #17626
fastlane 2.168.0

[2020-12-02 04:59] 1Pettigrew commented on #17585
I have the very same issue. What is the solution [mykfcexperience](https://www.mykfcexperience.us/).

[2020-12-02 07:13] puls opened #17710 "Old iOS build artifacts interfere with macOS build submission"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

A week ago I submitted version 1.28 of my

[2020-12-02 07:28] max-ott commented on #17626
Are you sure the app has an edit version?

[2020-12-02 10:01] qingfengiOS commented on #16892
[17:49:35]: [32m--- Step: upload_to_testflight ---[0m
[17:49:35]: [32m----------------------------------[0m
[17:49:35]: Login to App Store Connect (xxx.@xxx.com)
Available session is not valid any more. Continuing with normal login.
[17:49:45]: Login successful
[17:49:52]: [32mReady to upload new build to TestFlight (App: 1378956601)...[0m
[17:49:53]: Going to upload updated app to App Store

[2020-12-02 11:35] marudy opened #17712 "[gym] Fails to Export App on xcode 11.7 & 12.x"
# tl;dr: this is not a _fastlane_ issue, but rather a bug in react native mapbox pod. For workaround instructions, check: https://github.com/fastlane/fastlane/issues/17712#issuecomment-803613208

### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastla

[2020-12-02 14:23] j3ski-passion commented on #16233
Hi
@joshdholtz is there any ETA for the `produce` rewrite?

[2020-12-02 14:25] joshdholtz commented on #16233
Hoping to be complete in a few weeks! Turns out it's a whole thing 🤷‍♂️

[2020-12-02 17:34] max-ott commented on #17710
I guess this is the expected behaviour as fastlane was primarily made for iOS and Mac support "patched" later on. I think you can avoid this, by specifically setting the `pkg`(Path to your pkg file) parameter: https://docs.fastlane.tools/actions/upload_to_app_store/#parameters

[2020-12-02 17:34] #17710 closed

[2020-12-02 17:42] max-ott commented on #17707
What authentication method are you using? API key or standard Apple ID + password? As far as I know the API key way does not allow to create an app.

[2020-12-02 18:03] gibertoni opened #17713 "Deliver language detection returning invalid values"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
When I try to update my app's metadata usin

[2020-12-02 18:21] tomvisions commented on #17707
I am using an Apple ID and password. I was able to create the app Id using the same credentials.

[2020-12-02 18:21] tache commented on #17702
I am not seeing any issue with snapshot iOS 14.2 & XCode 12.2 in my normal work stream. Which means I have a Fastfile that configures the environment, has a lane called "screens" to do my snapshots/frames/uploads, where my command is `fastlane ios screens`.

I can - sorta - reproduce this error if I set my scheme target to be my physical device. Sims start, but nothing gets installed, XCTestCase t

[2020-12-02 18:25] max-ott commented on #17707
Could you paste all the steps you did in here? Otherwise it’s hard to repro.

[2020-12-02 19:15] EssentialNRG commented on #17713
I'm experiencing exactly the same issue. It does work on v2.168.0 but not on the latest version v2.169.0.
It could maybe be caused by the refactoring done in PR #17661

[2020-12-02 19:17] ConfusedVorlon opened #17714 "gym/deliver crash on export. 'url should be an instance inheriting from NSURL, but it is nil'"
### Issue Description
My fastlane script to build and upload a macOS app stopped working (a month ago??)
the build seems to succeed, then it crashes on the export archive step

Please help!

[code]

##### Command executed

[code]
with gymfile containing

`output_directory "~/tmp/FastlaneBuild"`

##### Complete output when running fastlane, including the stack trace and command used

<details>
  <p

[2020-12-02 19:32] ConfusedVorlon commented on #17714
update: Xcode is now doing this when I submit manually, so not a fastlane issue.
Any suggestions very welcome nonetheless.

[2020-12-02 19:32] #17714 closed

[2020-12-02 19:38] #17694 closed

[2020-12-02 19:48] mintuz commented on #17702
The only additional information I am seeing is this line for the 37 Simulators instaleld on my Mac.

[code]

[2020-12-02 19:49] gibertoni commented on #17713
Interestingly, when I tried downgrading to v2.168.0 it also failed.  :(

[2020-12-02 20:22] yaronlevi commented on #17178
happens to me as well

[2020-12-02 20:24] markreynoso opened #17715 "deliver content rights declaration server error 500 when using API key"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
When submitting an app with Deliver using A

[2020-12-02 21:53] matthieurouif commented on #17713
Same issue here

[2020-12-03 00:43] tasvir-rohila-carsales commented on #17340
@joshdholtz I'm getting `invalid curve name` error when calling `upload_to_testflight`.
Prior to calling `upload_to_testflight` I get a valid `api_key` from
[code]
I'm using `Fastlane 2.166.0.`

Do I need to manually remove the `\n` from the AppStore Connect Private Key before encoding it to a base64 string ?

Any advise would be highly appreciated.

[2020-12-03 00:52] joshdholtz commented on #17340
@tasvir-rohila-carsales Hey! My first suggestion would be to use the environment variables that `app_store_connect_api_key` has built in so you don't need to manually have all the options being interpolated 😊  Below is the table with a column of the environment variables names and this was generated by running `fastlane actions app_store_connect_api_key`

Secondly if you are Base64 encoding the th

[2020-12-03 01:48] sonjz commented on #17715
hmm strange, about 1-2hrs ago all my builds started to get 500s too on `bundle exec fastlane deliver`
2 hours eariler i had started building multiple white-label without issue (about 7), then all are failing with 500s (about 7 before i stopped it).
i'll keep an eye on this and try upgrade fastlane before commenting further..

[2020-12-03 03:45] tasvir-rohila-carsales commented on #17340
Hey @joshdholtz Thanks for your quick reply.
I tried your suggestions (of using built in `APP_STORE_CONNECT_API_KEY_*` environment variables). However the `api_key` returned by `app_store_connect_api_key()` works well with `match()` action which is performed before `upload_to_testflight` in my `Fastfile`, it fails with the same `invalid curve name` error.

FYI the output of api_key which gets pass

[2020-12-03 03:47] joshdholtz commented on #17340
@tasvir-rohila-carsales

It does not get reset so I'm not sure what going on 🧐 Can you post what your Fastfile looks like so I can see what is all going on?

Thanks!

[2020-12-03 05:26] tasvir-rohila-carsales commented on #17340
Hi @joshdholtz
Here is a basic version of my Fastfile

[code]

[2020-12-03 06:55] puterinorliana commented on #17713
Im also having this kind of issue. How can we do about it? Does anybody know how to resolve it? Does downgrading fastlane version will fix it?

[2020-12-03 07:28] yaronlevi opened #17718 "upload_to_play_store_internal_app_sharing not working"
Hi (-:

I am using the following command to upload an APK to the Internal App Sharing:
[code]
The operation seems to finish successfully:

![image](https://user-images.githubusercontent.com/5398977/100976464-37803a80-3548-11eb-86aa-6176a7d2323d.png)

When opening the link in my mac I get a **404**.
When opening the link on my Android device the Play Store opens and **forever spins**.
On both Mac a

[2020-12-03 07:31] yaronlevi commented on #17718
@fastlane-bot thank you, dear bot.

[2020-12-03 09:27] davlhd commented on #16365
For me too with 2.169.0.

[2020-12-03 09:28] Yd74 commented on #17700
Is there a way to solve this? @max-ott

[2020-12-03 09:31] max-ott commented on #17700
Apple changed a lot when it comes to builds etc. I don’t think it’s still possible to listen to this.

[2020-12-03 10:06] alikaragoz commented on #17713
Same issue here since `v2.169.0` 🤔

[2020-12-03 10:51] Yd74 commented on #17700
@max-ott
Hi max, thanks a lot.
Sometimes it works,  when it's failed, it's just after something like 15 minute of checks, so I think it is possible.
I'm trying to understand why it failed and not keep checking the build status.

[2020-12-03 11:44] max-ott commented on #17715
It's not possible to switch between ASC API key and Apple ID + password authentication and expect everything to work 100%.  Using the ASC API key, the "scope" of `fastlane` is limited to the official ASC API: https://developer.apple.com/documentation/appstoreconnectapi

Currently the official API does not support setting that parameter, therefore you get the `500` server error. Please use [Feedbac

[2020-12-03 11:44] #17715 closed

[2020-12-03 11:46] max-ott commented on #17713
Possible regression cc @joshdholtz @ainame

[2020-12-03 12:04] ainame commented on #17713
@max-ott Thank you. I'll have a look 🙇

[2020-12-03 12:23] ainame commented on #17713
If https://github.com/fastlane/fastlane/pull/17661 caused this issue, you can use 2.168.0 for a while.
On my project, activating languages just worked as expected.

@gibertoni @alikaragoz @mattdelves @puterinorliana @EssentialNRG
Could you please share how the metadata and screenshots folders look like with using `ls` command, like below?

[code]

[2020-12-03 12:33] EssentialNRG commented on #17713
@ainame sure:
<pre>
# ls -la fastlane/metadata
drwxrwxrwx 1 temp temp 4096 Dec  3 12:28 .
drwxrwxrwx 1 temp temp 4096 Dec  3 12:28 ..
drwxrwxrwx 1 temp temp 4096 Dec  3 12:28 android
-rwxrwxrwx 1 temp temp   21 Nov 18 13:37 copyright.txt
drwxrwxrwx 1 temp temp 4096 Dec  3 12:28 default
drwxrwxrwx 1 temp temp 4096 Dec  3 12:28 en-GB
</pre>
<pre>
# ls -la fastlane/screenshots
total 0
drwxrwxrwx 1 te

[2020-12-03 12:38] ISDr opened #17720 "Ability to modify isOptedInToDistributeIosAppOnMacAppStore is no longer working"
### New Issue Checklist

- [ x] Updated fastlane to the latest version
- [ x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [ x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [ x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Ability to modify isOptedInToDistribut

[2020-12-03 13:56] gibertoni commented on #17713
Mine is:

[code]

[code]

[2020-12-03 14:04] ainame commented on #17713
Will try to reproduce the issue on my end tonight 🙇

[2020-12-03 14:17] gibertoni commented on #17713
I did a clean install, and indeed 2.168.0 works fine.
My ruby environments were ixed up and it was always using 2.169.0 when failing.

Thank you ainame!

[2020-12-03 14:38] matthieurouif commented on #17713
Mine is
<img width="500" alt="Screenshot 2020-12-03 at 15 37 27" src="https://user-images.githubusercontent.com/250332/101042462-85fbfc00-357d-11eb-8000-a53c88051463.png">
<img width="825" alt="Screenshot 2020-12-03 at 15 37 17" src="https://user-images.githubusercontent.com/250332/101042478-898f8300-357d-11eb-8d5a-71f50df7954c.png">

[2020-12-03 14:40] matthieurouif commented on #17713
It's probably related to metadata and not screenshots, as I was able to submit all screenshots but couldn't update release notes.

[2020-12-03 14:43] ainame commented on #17713
👍 I see. What I refactored in https://github.com/fastlane/fastlane/pull/17661 is the logic to list up language directories, which is shared by both metadata and screenshots. That's why I asked🙂

[2020-12-03 15:03] tomvisions commented on #17707
I found the error that was causing the issue in a spaceship log file (under /tmp). It was a configuration issue. Appreciate your time.

[2020-12-03 15:03] #17707 closed

[2020-12-03 15:37] deepshah7 commented on #17713
Same issue is happening with us as well. I noticed that if I have the default directory it ends up in an error. If I delete the default directory it goes through.

Fastlane version: 2.169.0

[2020-12-03 15:54] yashwanth-l opened #17725 "default branch from master to main for cocoapods - version_bump_podspec"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

default branch from master to main for Coc

[2020-12-03 15:56] yashwanth-l commented on #17725
https://github.com/CocoaPods/CocoaPods/issues/10263

[2020-12-03 16:12] sonjz commented on #17715
fyi: just an update.  my 500 server event disappeared on `bundle exec fastlane deliver` disappeared on its own this morning. chalking up to something on apple end.

[2020-12-03 17:25] ji-denizturgut opened #17726 "The .ipa filename is incorrect"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
When run the build action it create the wro

[2020-12-03 17:42] Kaspik commented on #17300
@joshdholtz Did this get fixed? :)

[2020-12-03 17:45] joshdholtz commented on #17300
@Kaspik Not yet 😞 I working on finishing up support for the new App Data Usage stuff that is going to be required here soon and then I should be able to get to this

[2020-12-03 19:18] minuscorp commented on #17482
Is this still an issue? @andemengo

[2020-12-03 20:03] fenghuang opened #17727 "Associated Domains not getting populated"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
If I archive my app locally in Xcode and th

[2020-12-03 22:25] nrodruck-gdd opened #17728 "fastlane spaceauth token expires every 24 hours"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

When running `fastlane match` in a jenkins

[2020-12-03 23:59] emilieez commented on #17720
Having the same problem, it was working for me just a few days ago. The code hasn't changed.

[2020-12-04 00:00] JimHowell20 commented on #17720
Yup, i've been getting the exact same error too

[2020-12-04 00:47] ainame commented on #17713
I could reproduce the issue and understand the root cause. I'll submit the fix shortly. As @deepshah7  said, it was "default' directory to cause the issue.

In L417, I should have checked if `lang_folder.language` is `nil` 😞

https://github.com/fastlane/fastlane/blob/97b32959acee268d225ad68d4af10b90dc09dabf/deliver/lib/deliver/upload_metadata.rb#L414-L418

I will fix and cover this by a unit test

[2020-12-04 01:06] ChristopherDrum commented on #17318
Hmm.. #17713 doesn't seem to apply to my case. I just checked my server and it was (still is) on 2.168.0 though the issue mentioned above is on 2.169.0