[2016-09-06 13:05] iCarambaa commented on #734
Hi everyone, are there any news on this?

[2016-09-06 13:31] MiralDesai opened #6015 "How do I sign my apk before upload to Craslytics beta?"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I would like to use fastlane to automate creating builds when I push to master. However it requires a signed APK, and I would like to avoid putting my keystore and keystore password directly i

[2016-09-06 13:53] mfurtak commented on #5928
Got it. Thanks! I think I see the problem.

Your `adb` command is producing a warning ("adb: /home/me/rubystack-2.3.1-4/common/lib/libcrypto.so.1.0.0 ...") as part of its output that is causing _screengrab_ to fail.

I will see if I can fix `screengrab` to be more resilient to this 👍

[2016-09-06 14:12] mfurtak commented on #5928
If you want to try to work around this problem in the meantime, you can try passing `-s e1dbf228` to your `screengrab` command to manually select your device.

[2016-09-06 14:17] MiralDesai commented on #6015
Seems to be iOS only

[2016-09-06 14:55] whootang12 commented on #5163
is an app with core data using fast lane dead in the water until Apple fixes Xcode?  I'm guessing PR 5626 won't be merged?

[2016-09-06 15:00] KrauseFx commented on #6012
You can solve this by using Ruby exception handling
[code]

basically in your rescue block you can call whatever you want 👍

[2016-09-06 15:00] #5986 closed

[2016-09-06 15:01] KrauseFx commented on #5986
Merged with https://github.com/fastlane/fastlane/pull/5997, this will be in the next release 👍

[2016-09-06 15:24] #5252 closed

[2016-09-06 15:31] esetnik commented on #5964
+1 I am facing the same issue. It only occurs when executing tests on travis-ci and my tests pass locally.

[2016-09-06 15:45] mfurtak commented on #5928
Hi @samsonpaul87 - I've just released [`screengrab` 0.5.2](https://github.com/fastlane/fastlane/releases/tag/screengrab/0.5.2) with some changes to  hopefully make this better for you. 🚀

Can you upgrade your `screengrab` gem once more and let me know how it looks? Thanks! 🙌

[2016-09-06 17:34] KrauseFx commented on #6008
This will add the screenshots to the photo library of your iOS simulator, so you can access them from within your app. This is UI Testing related, and not something fastlane would do 👍

[2016-09-06 17:34] #6008 closed

[2016-09-06 17:51] TKBurner commented on #5964
@esetnik @AlexChesters What version of Xcode is being used in Travis? I'm trying to figure out if this relates to Xcode 8 specifically. Thanks!

[2016-09-06 17:53] AlexChesters commented on #5964
Xcode 8

Sent from my iPhone

On 6 Sep 2016, at 6:52 pm, Todd Burner <notifications@github.com<mailto:notifications@github.com>> wrote:

@esetnik<https://github.com/esetnik> @AlexChesters<https://github.com/AlexChesters> What version of Xcode is being used in Travis? I'm trying to figure out if this relates to Xcode 8 specifically. Thanks!

—
You are receiving this because you were mentioned.
Repl

[2016-09-06 17:53] TKBurner commented on #5163
@whootang12 Thanks for following up. Expect a fix for this this week. Thanks!

[2016-09-06 17:57] TKBurner commented on #6015
@MiralDesai Thanks for reaching out about this. You will need to use Gradle to create a signed APK. We don't have any suggestions around this. After that you can use the crashlytics action to upload your build. Thanks!

[2016-09-06 17:59] TKBurner commented on #734
@iCarambaa Thanks for following up on this. Right now you'll still need to onboard with Crashlytics before you can use this action. Thanks!

[2016-09-06 18:03] TKBurner commented on #6013
@iCarambaa Great idea! I'm going to leave this open and mark it as a feature request so we can see what the community thinks!

[2016-09-06 18:06] TKBurner commented on #6011
@iCarambaa Thanks for reaching out. You'll need to fill out basic metadata in iTC before you can use pilot. Let me know how it goes after  you try again. Thanks!

[2016-09-06 18:10] TKBurner commented on #6006
@revolter Thanks for reaching out about this. What happens if you run `sudo gem update fastlane`

Thanks!

[2016-09-06 18:12] TKBurner commented on #6002
Hi @cybertk Can you share you full input to you gym command? I want to take a look. Thanks!

[2016-09-06 18:16] TKBurner commented on #6007
Hi @revolter Thanks for reaching out. If you add the

clean: true

parameter to your snapshot command, it should function as expected. Thanks!

[2016-09-06 18:18] TKBurner commented on #5778
@Nailer I'm going to mark this as help wanted to see if anyone from the community can help. I haven't messed around with xcargs too much.

[2016-09-06 18:21] esetnik commented on #5964
Xcode 8

[2016-09-06 18:24] TKBurner commented on #6005
Hi @revolter Are you running from the project folder or the fastlane folder? Can you try the other? Thanks!

[2016-09-06 18:27] TKBurner commented on #6003
@arunks Can you share your full input and output? I want to take a look at what is going on.

Thanks!

[2016-09-06 18:27] arunks commented on #6003
Thanks for the reply @nafu

I am running GYM command line and have not integrated into the Fastfile yet. Here are the options I am using -

```gym -c -w [***].xcworkspace -m -z -j enterprise -q "Release-Enterprise" -s [***] -y fastlane/xcconfig/debug.xcconfig --buildlog_path Build --use_legacy_build_api --toolchain com.apple.dt.toolchain.Swift_2_3 ```

The xcconfig just has a build_configuration_d

[2016-09-06 18:37] TKBurner commented on #4301
@lfarah Have you tried setting these as ENV? I think that'll cause the expected behavior. Thanks!

[2016-09-06 18:37] KrauseFx commented on #5863
I just pushed https://github.com/fastlane/fastlane/pull/6018, to show a better error message when this happens 👍

[2016-09-06 18:38] TKBurner commented on #5963
Hi @PycKamil Can you share your full input and output? I'd love to take a look. Thanks!

[2016-09-06 18:39] arunks commented on #6003
@TKBurner are you looking for more information?

[2016-09-06 19:08] TKBurner commented on #5999
Hi @lakamsani Any chance you want to implement this in the crashlytics action? We'd love to see a PR 👍

[2016-09-06 19:09] bonzoq commented on #5863
Love how you guys take care of everything @KrauseFx @nafu @TKBurner  👍 🚀 ❤️

[2016-09-06 19:11] TKBurner commented on #6010
@iCarambaa This is expected behavior so we don't overwrite your waiting for review build and cause more waiting time for approval. You can workaround this by bumping the version number.

Thanks!

[2016-09-06 19:13] TKBurner commented on #6014
@josete89 Hi! Hope you are doing well. Can you run `sudo gem update fastlane`? Let me know if that resolves your issue. Thanks!

[2016-09-06 19:23] #2670 closed

[2016-09-06 19:34] #3784 closed

[2016-09-06 21:36] KrauseFx commented on #6014
Hey @josete89, could you run this again using `--verbose`, and share the complete output, including the stack trace with us?

[2016-09-06 21:47] KrauseFx commented on #4301
@lfarah Are you using the latest fastlane release?

[2016-09-06 21:51] josete89 commented on #6014
Hi!

There we go:

Looking for related GitHub issues on fastlane/fastlane...
Search query: The request could not be completed because:
	{}
aa=AD17C0A2B7CA16A2868E9299E63C7DB8B7C0DF2974D98507E0E05D33AF95D983734C68402DB65C0457DA0B1F7B78F24FB77FFF7AE2ED6C7E0BBA49F684F9ECA227C8C65C08CC64DDC0463E402146A7B8790DD9DC827FA2FB41AACF288B5ACCA3215B5E5210FA758DFB73B6B6B7E7DA0BD51AD546BA7D0393C19C8CDC939A28B684

[2016-09-06 21:55] josete89 commented on #6014
Hi @TKBurner @KrauseFx ,

Looks like my password has been expired, I've just renewed the password and now works fine!.

You can close this :)

Thanks for the fast response and sorry for the inconveniences.

[2016-09-06 23:02] lakamsani commented on #5999
sure. if someone has a pointer on where to start that might speed things up. In the meantime I will review the code and try to get started. is there any coding guidelines/PR notes for fastlane?

[2016-09-06 23:03] tsheaff commented on #5779
I'm seeing a similar non-deterministic hang.  It seems to hang about ~70% of the time.  Here's the full print, including stack trace, when I cancel the script during the hang:

[code]

When I print the command in `lib/fastlane_core/project.rb:219` I get `xcodebuild -showBuildSettings -workspace ./Calm.xcworkspace -scheme Calm`. When I run that on its own I get the exact same non-determistic hang b

[2016-09-06 23:05] tsheaff commented on #5779
Re-reading this thread, it looks like my hang is possibly a fully unrelated issue. Let me know if you want me to file a separate issue.

[2016-09-06 23:12] tsheaff commented on #5779
My issue is fixed by https://github.com/fastlane/fastlane/commit/9d18d6ab6e45944dfad606100ec74e7169f24706

[2016-09-07 01:12] Siguza opened #6022 "Sigh support for personal teams"
### New Issue Checklist
- [x] Updated fastlane to the latest version (v1.102.0 at the time of writing)
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

When running `sigh` with an account that isn't in any teams, we get presented with:

[code]

As per issue #2003 and PR #5636, this seems to be by design.
Howeve

[2016-09-07 02:19] zake1989 commented on #4793
Hi I got this error When I trying to upload ipa package to app store and I test the same package with application loader. Application loader can upload the package, however, every time I try to use deliver upload that package, it gives me the same error above.

here is my full output:

[10:09:04]: Login to iTunes Connect (zyk1@meitu.com)
[10:09:19]: Login successful

+--------------------+--------

[2016-09-07 02:35] zake1989 opened #6023 "Distributing new build: The request could not be completed because:Forbidden"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
I'm trying to upload the ipa package to iTunes connect. And I use gym to generate the package, I test the ipa package with application loader. Turns out the package can be uploaded. However whe

[2016-09-07 03:32] lfarah commented on #4301
@TKBurner      ENV["ITC_TEAM_ID"] = "118033180" didn't work:

[code]
@KrauseFx yes, I use ```update_fastlane```

[2016-09-07 03:36] zake1989 commented on #6023
Double check the permission, turns out the role permission should be at least app manager.  Got the solution from here https://github.com/fastlane/fastlane/issues/4899

[2016-09-07 03:36] #6023 closed

[2016-09-07 05:40] cybertk commented on #6002
Full gym parameter is attached,

[code]

[2016-09-07 06:04] mRs- commented on #5631
Newest input from me here. This seems not a problem from scan. Just right now I got the same issue directly in Xcode. It's hanging right at the touch .xctest. Don't know exactly why.

I cleaned my build folder and it's working again like a charm. Maybe we need to clean the project before?

[2016-09-07 06:09] zuoqx opened #6025 "svn"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Configuration Files

Please copy the complete content of your `Fastfile` and any other conf

[2016-09-07 06:12] zuoqx commented on #6025
Does it support svn project?

[2016-09-07 06:48] phlippieb commented on #6012
Handy! 😸

In case someone else is doing the same, I had a concern that if my lane looks something like this:

[code]

then, if gym fails once and then succeeds , `crashlytics` will be called twice - once after the successful gym, and then again when the recursive call returns to the rescue block and continues. In fact, a quick test seems to confirm that this will happen. So I added `exit(0)` right

[2016-09-07 06:56] revolter commented on #6005
I am running from the project folder. Is there any possibility for it to show the full path that it's trying to run? It would help a lot.

[2016-09-07 06:59] revolter commented on #6007
Can you show me an example of a full command? Is it `snapshot clean: true`?

[2016-09-07 07:02] revolter commented on #6006
It correctly updates `fastlane`, or prints

Nothing to update

if it's up to date. Is `update_fastlane` the same thing? I thought it updates configuration files like `snapshot` does. For example, the

[code]

part in the `Fastfile`. Or should I update it manually to `1.102.0`?

[2016-09-07 07:07] revolter commented on #6008
I understand. Do you consider that your answer could find a place in the readme? Or a link to a `UI Testing` documentation that explains the `add_photos`? It would greatly help new users to understand that `fastlane`'s `add_photos` is just a wrapper over a native command.

[2016-09-07 07:11] PycKamil commented on #5963
@TKBurner sure, I have created new project to showcase this bug https://github.com/PycKamil/FastlaneShowcaseProjectDoubleListError.

[code]

[2016-09-07 08:47] GeovationMax opened #6026 "Distribute_external fails when the app version is not yet approved"
### Issue Description

When running pilot with the option distribute_external active and a changelog provided I would expect the app to be submitted for beta app review.

Instead I get an error saying "This build could not be used for external testing because the build is not approved". This is fair enough and understandable. But the process should not fail on this message, but instead provide inf

[2016-09-07 10:46] srudoi commented on #3779
When using 'upload_trailer!' method, I have the following error:

`RuntimeError: iTunes Connect error: Unexpected state: missing device details for iphone6Plus
from /Library/Ruby/Gems/2.0.0/gems/spaceship-0.32.1/lib/spaceship/tunes/app_version.rb:546:in `rescue in container_data_for_language_and_device'`

I am of course specifying device types correctly; what is more, it works perfectly when uploa

[2016-09-07 10:52] BadPitt commented on #4879
You can try: apt-get install android-tools-adb =)

[2016-09-07 11:35] samskiter opened #6027 "Gym skip code signing"
### Issue Description

Could you please add option to skip code signing for gym builds - we just want to build.

We have a test app as a target in our project with a different bundle identifier to our main project - as such we don't have a provisioning profile for it - we just use this project on simulator which XCode handles just fine.

We want to test that this test project compiles as part of o

[2016-09-07 12:14] #1771 closed

[2016-09-07 12:24] #1997 closed

[2016-09-07 12:34] #1994 closed

[2016-09-07 12:44] #5149 closed

[2016-09-07 16:35] thasegaw commented on #6003
I am having similar issue. I think it is caused by this line.
https://github.com/fastlane/fastlane/blob/master/gym/lib/gym/xcodebuild_fixes/swift_fix.rb#L30

In spite of the --toolchain is set to 'com.apple.dt.toolchain.Swift_2_3', the default toolchain folder is used.

[2016-09-07 17:16] bolom opened #6029 "change default directory in supply"
there is a way to setup the output_directory in supply. i would like to be able to save the directory on amazon S3.

if it's possible, could you give me the direction to that? i will try to update the gem

tahnks

[2016-09-07 17:41] bolom commented on #6029
found the solution with metadata_path

[2016-09-07 17:41] #6029 closed

[2016-09-07 18:29] arunks commented on #6003
@thasegaw Yes, I am working with @KrauseFx to address this issue in PR https://github.com/fastlane/fastlane/pull/6018

[2016-09-07 19:08] tomaskraina commented on #1005
I'm having the same issue on hosted CI bitrise.io.

Currently, I'm trying to run `gym` with `use_legacy_build_api: true`, will see if that helps although I had some issues with it in the past too.

[2016-09-07 19:37] mfurtak commented on #4059
Hi all, we've shipped a workaround (#5626) and timeout/retry solution (#5188) as part of [`fastlane_core` 0.51.0](https://github.com/fastlane/fastlane/releases/tag/fastlane_core/0.51.0) 🚀

Thanks very much for your help! Please let us know how it looks 👍

[2016-09-07 19:38] mfurtak commented on #5603
Hi all, we've shipped a workaround (#5626) and timeout/retry solution (#5188) as part of [`fastlane_core` 0.51.0](https://github.com/fastlane/fastlane/releases/tag/fastlane_core/0.51.0) 🚀

Thanks very much for your help! Please let us know how it looks 👍

[2016-09-07 20:13] mfurtak commented on #5163
Hi all, we've shipped a workaround (#5626) and timeout/retry solution (#5188) as part of [`fastlane_core` 0.51.0](https://github.com/fastlane/fastlane/releases/tag/fastlane_core/0.51.0) 🚀

Thanks very much for your help! Please let us know how it looks 👍

[2016-09-07 20:17] mfurtak commented on #5929
@jacobjiangwei What version of `fastlane` are you using?

If you add `sh 'date'` to your lane, can you see the date output during your run?

[2016-09-07 20:18] mfurtak commented on #5779
Hi all, we've shipped a workaround (#5626) and timeout/retry solution (#5188) as part of [`fastlane_core` 0.51.0](https://github.com/fastlane/fastlane/releases/tag/fastlane_core/0.51.0) 🚀

Thanks very much for your help! Please let us know how it looks 👍

[2016-09-07 20:19] mfurtak commented on #5779
We haven't yet updated `gym` and `scan` to depend on this new version of `fastlane_core` directly, so it's possible it won't be pulled in yet. If that's the case, please hang on until we get other confirmation and do releases for `gym` and `scan` 🚀

[2016-09-07 20:46] jeffjk-me commented on #1532
+1

[2016-09-07 20:54] Hansteo opened #6032 "Naked"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Configuration Files

Please copy the complete content of your `Fastfile` and any other conf

[2016-09-07 20:54] Hansteo opened #6033 "Naked"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Configuration Files

Please copy the complete content of your `Fastfile` and any other conf

[2016-09-07 20:57] jeffjk-me commented on #1532
+1 @KrauseFx @ohwutup Have you guys looked into this at all? I'd be happy to work on this issue if it's possible.

[2016-09-07 21:00] mfurtak commented on #4059
To test the latest release, please run `[sudo] gem update fastlane_core` or if you have a `Gemfile`, `bundle update`

[2016-09-07 21:00] mfurtak commented on #5603
To test the latest release, please run `[sudo] gem update fastlane_core` or if you have a `Gemfile`, `bundle update`

[2016-09-07 21:00] mfurtak commented on #5163
To test the latest release, please run `[sudo] gem update fastlane_core` or if you have a `Gemfile`, `bundle update`

[2016-09-07 21:02] #6032 closed

[2016-09-07 21:02] #6033 closed

[2016-09-07 21:05] IngmarStein commented on #5163
Working fine locally and on Travis. Thanks a lot!

[2016-09-07 21:29] jblwilliams opened #6034 "Allow plist file name in s3 action"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

When uploading metadata files such as the plist files I like to have several different versions of them. I do this by giving the plist file a suffix such as #{app_name}-#{version}.plist. Curre

[2016-09-07 21:31] jblwilliams commented on #6034
Proposed solution here https://github.com/fastlane/fastlane/pull/6035

[2016-09-07 21:34] KrauseFx commented on #6027
Sorry, that's not planned, however you can use the `xcodebuild` action in fastlane to just build your app with no code signing 👍

[2016-09-07 21:34] #6027 closed

[2016-09-07 21:36] KrauseFx commented on #6025
Yeah, SVN should just work 👍

[2016-09-07 21:36] #6025 closed

[2016-09-07 21:58] KrauseFx commented on #1532
@jeffjk-me We haven't worked on that yet, this is a great feature you could work on and submit a pull request for 👍

[2016-09-07 22:43] KrauseFx commented on #5976
I tried running it with the exact same parameters and it's working just as expected for me. Could you upload a demo project or get it to fail on the snapshot sample project?

[2016-09-07 22:43] KrauseFx commented on #6029
👍

[2016-09-07 23:01] KrauseFx commented on #5757
I just pushed a fix, this will be in the next release 👍  https://github.com/fastlane/fastlane/pull/6036

[2016-09-07 23:01] #5757 closed

[2016-09-07 23:04] ConfusedVorlon commented on #5757
thanks Felix.

[2016-09-07 23:11] tmm1 commented on #5163
Still having this issue with the latest fastlane_core

[2016-09-07 23:16] pplant commented on #5733
Facing a similar issue here! In my case the localised beta description for Italian is not going to be stored even if I insert it manually and start testing. Once I add a new build for testing Italian description is empty again. Is there any workaround I could consider? Spaceship?

[2016-09-07 23:18] jeffjk-me commented on #1532
Great, thanks!

[2016-09-08 00:56] tmm1 commented on #5163
Specifically, I'm seeing the "The operation requires a selected developer portal team" error message that @Hoderu experience above. Likely a separate issue than the hang which has been fixed.

[2016-09-08 03:11] jacobjiangwei commented on #5929
Are you saying this because it should work or it's just experimenting?

发自我的 iPhone

[2016-09-08 04:36] IngmarStein commented on #5163
The workaround only fixes the hang. The error message printed by `xcodebuild` is more a cosmetic issue and mostly harmless (as far as I can tell).

[2016-09-08 04:40] tmm1 commented on #5163
You're right, the messages were unrelated. I had some codesigning issues that were being masked because of `gym(silent: true)` that I was able to fix by disabling the new "Automatic Signing" feature in Xcode 8.

[2016-09-08 08:41] diaojunxian opened #6037 "How can I change bundleid use fastlane gym?"
This is the first time I used the `fastlane gym`,as I am a testers,I don't know much Xcode and OC.And now I git clone our app's codes,  and would like to use 'fastlane gym' build ipa.But our codes need to change Bundleid,my question is  how can I change bundleid when using`fastlane gym`?

[2016-09-08 08:53] julio6114 opened #6038 "Cant' install gym"
I try to install **gym** by `sudo gem install gym`

I've got this error when installing commander :
[code]

Thanks for your answers

[2016-09-08 09:09] #6038 closed

[2016-09-08 09:49] znerol commented on #1631
So, had a chance to test this. The `TunesClient.submit_iap_addons!` works when fed with the raw data as retreived from the tunes `client`. However,  we currently add the application to the hash before instantiating `Tunes::AppAddon`s from within `Tunes::Application.addons`. When attempting to convert the 'addon.raw_data` back to JSON it blows up:

    ArgumentError: wrong number of arguments (1 fo

[2016-09-08 12:15] hotbott commented on #4059
Thanks for merging! It works :)

[2016-09-08 14:00] mfurtak commented on #5929
The default behavior of `sh` within the lane is to print the output of the command that is run. When I include `sh 'date'` in my lane, I see the date printed out. If you try it, do you see the same?

[2016-09-08 14:03] mfurtak commented on #5163
Great, I'll close this issue for now, but please feel free to continue the conversation as needed! 👍

[2016-09-08 14:03] #5163 closed

[2016-09-08 14:30] i-schuetz commented on #4301
@KrauseFx
@TKBurner

Same here, neither setting itc_team_id in Appfile or ENV["ITC_TEAM_ID"] in Fastfile help. It will ask

Multiple iTunes Connect teams found, please enter the number of the team you want to use:
1) ...
2) ...

[2016-09-08 14:34] MiralDesai commented on #6015
Solved by asking on StackOverflow where a fastlane employee replied: https://stackoverflow.com/questions/39366308/read-jenkins-environment-variables-in-android-project-sign-apk-for-automated-bu/39378213#39378213

For anyone else that comes here.

[2016-09-08 14:34] #6015 closed

[2016-09-08 14:40] i-schuetz commented on #4301
@KrauseFx
@TKBurner
@lfarah

Same here, neither setting itc_team_id in Appfile or ENV["ITC_TEAM_ID"] in Fastfile help. Using 0.51.0. It will ask

My appfile looks like this

[code]

(with my data obviously)

[2016-09-08 14:48] TKBurner commented on #5964
@AlexChesters  @esetnik Thanks! I've circled back with the core team and we'll update on this thread. 👍

[2016-09-08 15:11] TKBurner commented on #6014
@josete89 Awesome! So glad to hear you got back up and running. Hope you have a great weekend coming up! 👍

[2016-09-08 15:11] #6014 closed

[2016-09-08 15:19] TKBurner commented on #5999
Hi @lakamsani Check out this page for some info on contributing https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md. It should have most of the information you need! Thanks!

[2016-09-08 15:23] TKBurner commented on #4793
@zake1989 Thanks for reaching out about this. I want to make sure we get you up and running. Can you add the --verbose flag to your lane and share the full input and output? I'd love to take a look! 👍

[2016-09-08 15:24] TKBurner commented on #6023
@zake1989 Awesome! So glad to hear you got up and running. Hope you have a great weekend!

[2016-09-08 15:26] TKBurner commented on #6002
@cybertk Do you have read and write access to that temporary folder from the command line in VirtualBox? Thanks!

[2016-09-08 15:39] mfurtak commented on #4059
Hi all, [`gym` 1.9.0](https://github.com/fastlane/fastlane/releases/tag/gym/1.9.0) 💪 and [`scan` 0.12.0](https://github.com/fastlane/fastlane/releases/tag/scan/0.12.0) 🔍 have been released to pick up these `fastlane_core` improvements.

To get updated and try them out, please run `[sudo] gem update gym scan` :rocket:

[2016-09-08 15:52] TKBurner commented on #5631
@mRs- Thanks! Anyone that is still affected, please clean your project and run `sudo gem update fastlane`. A new version of scan was released about an hour ago. Thanks!

[2016-09-08 16:34] #3928 closed

[2016-09-08 16:36] jdhealy commented on #5742
@TKBurner @ohwutup @KrauseFx @mfurtak — Any update yet from the core team? Noticed a new version #6041 with this unaddressed and #5746 (which possibly addresses this, depending on what is actually desired) has been waiting on comments or review for a few weeks now…

[2016-09-08 16:54] KrauseFx commented on #4301
Are you sure the team you provided via the Appfile or env variable exists? The TEAM ID must be the actual ID, while the team name must only be the name.

[2016-09-08 16:58] i-schuetz commented on #4301
The team ID exists. Everything works fine if I run the action myself and select the ITC team ID when I'm prompted. The problem now is that I'm running this from Jenkins, so I can't select it. I copy pasted the number which appears in the prompt for the itc_team_id.

[2016-09-08 17:05] AlexChesters commented on #5964
@TKBurner cool, thanks! 👍

[2016-09-08 17:40] pronebird commented on #76
So how do you code sign both app and extension at the same time?

[2016-09-08 17:55] tomaskraina commented on #5066
@TKBurner nope, it does not work, unfortunately.

What might be worth noticing is that I get the following error when running `match` on http://bitrise.io

[code]

And then, in the end of `gym` action:

[code]

Followed by a lot of issues like:

[code]

Full output of that match action:
[code]

[2016-09-08 18:47] samsonpaul87 commented on #5928
@mfurtak ... See my output with  screengrab 0.5.2 . Please help me with this.

[code]

[2016-09-08 19:12] jwilliams-handy commented on #4295
@TKBurner latest version of fastlane has this issue (1.102.0). Ruby version wouldn't fix this because it has to do with the namespace of `AWS` -> `Aws`.

@katunch I resolved by using bundler and pointing `aws-sdk` to the last v1 version which is 1.66.0

[2016-09-08 19:24] i-schuetz commented on #4301
Is there a way to debug this?

[2016-09-08 19:47] KrauseFx commented on #6006
`fastlane_version` will ensure you have a certain version installed, and doesn't actually update itself. It is recommended to use a Gemfile, more information in the [docs](https://docs.fastlane.tools/getting-started/ios/setup/#use-a-gemfile) 👍

[2016-09-08 20:08] mfurtak commented on #5928
Hi @samsonpaul87

For run 1): Can you share your `build.gradle` configuration? Are you specifying a different test runner than `android.support.test.runner.AndroidJUnitRunner`? If so, you will need to tell _screengrab_ about that class using the `test_instrumentation_runner` option, either on the command line

[code]

or in your `Fastfile` as a parameter to the `screengrab` action

[code]

or in y

[2016-09-08 20:34] #5256 closed

[2016-09-08 21:44] kndl opened #6052 "Carthage action does not support project directory option."
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

`carthage` commands have an optional `--project-directory` that can be passed. There is no matching option in the fastlane carthage action.

##### Complete output when running fastlane, includ

[2016-09-08 21:45] kndl commented on #6052
I have done some work around this if you think it'd be useful. It seems pretty straightforward, for whatever that is worth.

[2016-09-08 21:53] jdee commented on #5758
Actually, I suppose the Settings.bundle location needs to come from the project file. I've updated the issue accordingly.

If I can find some time, I'm tempted to submit a PR for this.

[2016-09-08 22:57] KrauseFx commented on #5742
Hey everyone, really sorry there is some difficulties with _scan_. I'm looking into https://github.com/fastlane/fastlane/pull/5746 right now, and make sure all edge cases are covered.

Thanks for your feedback @postmechanical, I can understand your frustration. The goal with fastlane is to never do any breaking changes, unless there is a major version bump involved. We haven't done any breaking re

[2016-09-08 23:50] KrauseFx commented on #5742
Short update on this, I just reviewed and merged https://github.com/fastlane/fastlane/pull/5746 (thanks @jdhealy for providing this PR 👍) and published a follow-up PR with https://github.com/fastlane/fastlane/pull/6054.

Please give the latest version from the `master` branch a try and let me know if that works for you. Once I get a +1 I'll do a new release for this 🚀

[2016-09-09 00:21] JosephDuffy commented on #4606
I am having the same issue here, but neither solution worked for me. I've got my Framefile.json as follows:

[code]

I have also tried removing the `fonts` block:

[code]

However, I still get question marks for Japanese, Korean, and Chinese (simplified). I have also tried multiple fonts, including Arial Unicode, PingFang, SF-UI-Display-Medium, and SFNSText-Medium.

[2016-09-09 00:34] programmin1 opened #6055 "Gym no longer signs with Xcode 8"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
In previous versions, before Xcode 8, the handy thing about Gym was that you didn't have to give it a provisioning profile in command line, it found the right one. (compared to xcodebuild comma

[2016-09-09 04:29] tsheaff commented on #1297
I like @chris-fuller 's proposal of namespaced options without having to add the manual `options` passing in code.  For example `fastlane mylane deliver:skip_screenshots:true` or more generally `fastlane <lane> <action>:<options>:<value>`

I could be wrong, but it seems like this avoids any ambiguity in terms of passing the right options/value pairs to the right actions. For example if there's not

[2016-09-09 04:58] sahandnayebaziz commented on #6055
I am seeing the same on using the Xcode 8 GM on the Sierra GM.

`fastlane -v`: fastlane 1.102.0
`gym -v`: gym 1.9.0

[2016-09-09 05:25] programmin1 commented on #6055
@sahandnayebaziz Interesting, did you find a better solution than going in to Xcode, unchecking auto, going and selecting the provisioing profile?

I was not on Swift, so I don't think that is a cause of the problem.

[2016-09-09 05:32] jverdi commented on #4100
+1 - with the proliferation of new extension types in iOS 10, we are spending a lot more time fetching and decrypting the same certs for a series of app ids. Would love to get some performance back here.

A portion of our Fastfile for ex...
[code]

[2016-09-09 05:34] sahandnayebaziz commented on #6055
@programmin1 I tried unchecking auto and manually selecting a provisioning profile for each of my configurations, but I still can't build with fastlane. So I've been manually archiving/submitting today.

This is the error I see:

[code]

[2016-09-09 06:02] programmin1 commented on #5995
Why don't you change it in the xml plist file before running Gym?

[2016-09-09 06:09] programmin1 commented on #6055
@sahandnayebaziz Are you sure it's not a problem of one of those 3 libraries? Not sure if how it links them in changes in Xcode 8. If a simple example app compiles perhaps that problem should be a different issue.

The natural next question on the provisioning profile problem would be, is there a tool in Fastlane that lists all the mobileprovisions loaded on the machine, so you can set the PROVISI

[2016-09-09 06:20] sahandnayebaziz commented on #6055
@programmin1 True! My problem could be different. I saw your issue reporting the same exit status on Xcode 8 and thought it'd be worth adding my experience. I'll step aside in this thread!

[2016-09-09 06:34] bassrock commented on #5649
Is there an update on this with Sierra and Xcode 8 now GM?

[2016-09-09 08:40] cybertk commented on #5473
Same issue here, as the certificates host is not in  **~/.ssh/known_hosts**.

[2016-09-09 08:43] cybertk opened #6057 "match: Support specify ssh-key used to access certificates repo"
Can we consider add a option like `--key` to match in order to access **certificates.git** easier?

[2016-09-09 08:44] cybertk commented on #6002
Yes, I have. It's reproduce at ~5% percent. So most time it works fine, and I used the same VM snapshot for every build job.

[2016-09-09 09:32] newmarcel commented on #6055
I had the same problem, and I could resolve it by leaving out the `--codesigning_identity` parameter and prefix the gym command with `PROVISIONING_PROFILE_SPECIFIER` in CI without changing to manual signing:

`PROVISIONING_PROFILE_SPECIFIER="Team/1234" gym --clean …`

It works for my setup at least 😉

[2016-09-09 09:32] papauschek commented on #5379
@TKBurner regarding unattended:

As a default behavior, why not simply check whether the certificates are valid, and replace them if they are invalid?

It says it verifies validity:
[code]

But in fact the step completes successfully if the profile exists, but is marked invalid on the dev portal. By checking actual validity this could be automated. Or am I missing something?

[2016-09-09 12:26] lightbow opened #6058 "Default ios_version for snapshot not sensitive to device limitations"
### Issue Description

iPhone 4s only supports up to iOS 9.x, while all the other device types needed for a full iTunesConnect screen size representation will work on iOS 10. For apps that support both iOS 9 and iOS 10, snapshot on the latest Xcode 8 setup doesn't succeed out of the box in a single run without creating custom simulators first. Calling `snapshot reset_simulators` clears everything

[2016-09-09 13:53] geoHeil opened #6059 "No code signing identity found in readonly - and exhausted in default mode"
### Issue Description

The certificates were created and saved to a git repository. Unfortunately fastlane has problem retrieving the keys. In case `--readonl`y is **not** used apple declines to create a new certificate because some were already created

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Configuration Files

I use https://github.co

[2016-09-09 14:08] Antondomashnev opened #6061 "Carthage action doesn't support framework to archive specification"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md) 🔑

### Issue Description

My `xcworkspace` contains multiple frameworks that have to be archived by `Carthage`, but currently, I can only specify the command `archive` in `Carthage` action but not framework name. So

[2016-09-09 14:10] mfurtak commented on #4059
I'm going to close this for now, but please feel free to continue the conversation and we can reopen as needed! 👍

[2016-09-09 14:10] #4059 closed

[2016-09-09 14:11] mfurtak commented on #5603
I'm going to close this for now, but please feel free to continue the conversation and we can reopen as needed! 👍

[2016-09-09 14:11] #5603 closed

[2016-09-09 14:20] muzammil-triffort opened #6062 "Unable to export after Archive"
### New Issue Checklist

I have created a new Lane 'Testing' with following commands:

[code]

While running this lane, all works up to creating archive but after that getting error, unable to export.
##### Complete output when running fastlane, including the stack trace and command used

[code]
### Environment

fastlane version (run `fastlane -v`):  Could not find lane 'ios version'.

Do you use

[2016-09-09 14:29] asfalcone commented on #6052
@kndl Thanks for the report. We'd be happy to review a PR to add this option 👍

[2016-09-09 14:38] mfurtak commented on #5988
Hi @kwasny2 - thanks for the feedback!

You are doing the right thing by overriding the behavior, as the `ScreenshotCallback` is intended to be the way to customize how captured screenshots are stored. 👍

I believe that such customizations are preferable to a set of options that alter the default behavior. Is there some way that this approach didn't meet your needs?

[2016-09-09 14:39] jblwilliams commented on #6034
Issue resolved with https://github.com/fastlane/fastlane/pull/6035

[2016-09-09 14:39] #6034 closed

[2016-09-09 14:56] mfurtak commented on #5995
Hi @samskiter - do any of these actions get you what you need? https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Actions.md#modifying-project

[2016-09-09 14:57] mfurtak commented on #6037
Hi @diaojunxian - Do any of the actions here get you what you need? https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Actions.md#modifying-project

[2016-09-09 15:03] #6012 closed

[2016-09-09 15:13] sahandnayebaziz commented on #6055
thank you @newmarcel 😊 That didn't work for me, but for anyone else that has my problem, specifying the 2.3 toolchain and `use_legacy_build_api` when building 2.3 fixed it!

[code]

[2016-09-09 15:31] lightbow commented on #5285
Same thing happens for me. Using deliver 1.13.3 on the macOS 10.11.6 command line
`deliver --skip_metadata --skip_binary_upload --screenshots_path Store/screenshots --force --app_version 2.5`

It always completes the first language, saves successfully, uploads the next language, and fails to save with `ITC temporary save error received: 'We're temporarily unable to save your changes. Please try ag

[2016-09-09 16:24] ramirantala commented on #5542
Verbose does not help much..

INFO [2016-09-09 17:22:31.86]: Making sure the latest version on iTunes Connect matches '1.0.0' from the ipa file...
INFO [2016-09-09 17:22:35.91]: Successfully set the version to '1.0.0'
INFO [2016-09-09 17:22:35.91]: Loading './fastlane/metadata/de-DE/description.txt'...
INFO [2016-09-09 17:22:35.91]: Loading './fastlane/metadata/de-DE/keywords.txt'...
INFO [2016-09

[2016-09-09 16:26] mfurtak commented on #5964
This seems to happen even without _fastlane_ in the mix https://travis-ci.org/xmartlabs/Eureka/builds/151205338

I think this may be a Xcode8 + Travis thing for now.

[2016-09-09 16:30] downie commented on #5964
@mfurtak Agreed. There's already [an open issue](https://github.com/travis-ci/travis-ci/issues/6519) with the travis-ci team, but I don't think they've followed up with a resolution or a workaround.

I was *hoping* it would just be resolved with the Xcode 8 GM build, but no such luck.

[2016-09-09 16:32] mfurtak commented on #5964
Thanks for linking to that context @downie! 👍

[2016-09-09 18:50] drosenstark opened #6064 "`fastlane actions` and `fastlane init` both fail"
I'm stuck at step 1. Thanks for any help.

### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Stack trace instead of output for `fastlane actions` and `fastlane init`

##### Complete output when running fastlane, including the stack trace and c

[2016-09-09 18:54] drosenstark commented on #6064
Sorry, El Capitan problem. Solved by redoing the install using `sudo gem install -n /usr/local/bin fastlane --verbose`

[2016-09-09 18:54] #6064 closed

[2016-09-09 18:57] drosenstark opened #6065 "all fastlane commands fail"
I managed to get `fastlane` to install on El Capitan using `sudo gem install -n /usr/local/bin fastlane --verbose` but fastlane itself doesn't work. Thanks for any help.

### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Stack trace instead of

[2016-09-09 19:03] craigzour opened #6066 "Cannot start fastlane"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I am unable to start fastlane.

##### Complete output when running fastlane, including the stack trace and command used

[code]

[2016-09-09 19:03] JacobJT commented on #4548
@esetnik do you mind providing some more info on the steps for this workaround? We've expanded our iOS team and have run into a lot of struggles managing provisioning profiles / signing identities, and match seemed so promising  until our builds kept failing due to entitlements. If not for creation, I'd love to use match for provision profile distribution.

[2016-09-09 19:04] esetnik commented on #4548
@JacobJT no problem.

[2016-09-09 19:31] JacobJT commented on #4548
My app requires the following entitlements:

*Push Notifications
*Wallet
*Apple Pay
*In-App Purchase
*Maps
*Background Modes
**Location Updates
**Remote notifications

[2016-09-09 19:49] esetnik commented on #4548
Those are not the same sort of custom entitlements. #4548 is specifically referring to entitlements like `NetworkExtension` API that you need special permission from Apple to enable.

For example:
<img width="708" alt="screen shot 2016-09-09 at 3 07 19 pm" src="https://cloud.githubusercontent.com/assets/664434/18400528/590949a6-76a4-11e6-9606-d7e4424b1099.png">

https://developer.apple.com/library

[2016-09-09 19:54] JacobJT commented on #4548
I see. I got the error saying that the entitlements did not match my provisioning profile, and compared the list of Capabilities and the stuff listen under Enabled Services on the provisioning profile, which appeared to correlate. My apologies for mixing up the issue! I'll do some more googling.  Should I delete these last few comments, then, as they're unrelated to the original issue?

[2016-09-09 20:04] esetnik commented on #4548
The best thing to do is run `match nuke` and make sure everything is synced up. Also ensure that if you're using Xcode 8 GM that you have reconfigured Xcode to use manual signing in the General tab for your app target.

[2016-09-09 20:10] PetrosIchor commented on #6065
I was getting very similar issues a moment ago.  For my, bundler updated to 1.13 (pushed yesterday).   Removing that version and rolling back fixed fastlane and other gem related issues I was having.
So:
gem uninstall bundler -v1.13

[2016-09-09 20:11] PetrosIchor commented on #6066
I was getting very similar issues a moment ago. For me, bundler updated to 1.13 (pushed yesterday). Removing that version and rolling back fixed the fastlane and other gem related issues I was having.
So:
gem uninstall bundler -v1.13

You're not the only one having the issue today. :)

https://github.com/fastlane/fastlane/issues/6065

[2016-09-09 20:19] JacobJT commented on #4548
Nuking was one of the first things I did. I still had all profiles from when I had first started development, many were stale, and push notifications weren't added until later, so I still had all the certs without the APNS cert attached.

Cleaning, then turning off one of my capabilities and back on fixed the issue, though I'd be lying if I told you I understood why.

[2016-09-09 21:12] drosenstark commented on #6066
That worked! I had to do

`sudo gem uninstall bundler -v1.13`

which uninstalled the whole thing, and then a fancier thing for El Cap

`sudo gem install -n /usr/local/bin bundler -v 1.12`

Now I'm up and running. Thanks!

[2016-09-09 21:25] drosenstark commented on #6065
That worked! I had to do

sudo gem uninstall bundler -v1.13

which uninstalled the whole thing, and then a fancier thing for El Cap

sudo gem install -n /usr/local/bin bundler -v 1.12

Now I'm up and running. Thanks!

[2016-09-09 21:25] #6065 closed

[2016-09-10 00:40] programmin1 commented on #6055
It appears fastlane wasn't the problem, it was Xcode 8. Setting all the code signing settings to "Distribution", which worked before, breaks.

If you uncheck the automatic in general settings, then check it again, it sets the correct settings, 2 "iOS Distribution", for code signing, and 2 "iOS Developer" under "Any iOS SDK", in the pbxproj file and in Xcode project build settings.

[2016-09-10 00:40] #6055 closed

[2016-09-10 00:59] KrauseFx commented on #5649
Hey everyone, sorry I don't have Sierra myself yet. Is _fastlane_ actually not working, or is it just the error message that you see?

[2016-09-10 01:01] bassrock commented on #5649
@KrauseFx In sierra the keychain extension changed to keychain-db.  If you manually set the keychain path to use the new extension it works.

[2016-09-10 01:02] jlubeck commented on #5669
So I built my app with gym and sent the IPA to my client. I have no access to how they do the re-signing, but they did came back to me with an error when submitting to the App Store with all the frameworks having the "must be signed with the certificate that is contained in the provisioning profile. frameworks" error.

This is my gym command inside the lane:

    gym(scheme: "Name", use_legacy_bui

[2016-09-10 01:04] edwardvalentini commented on #5649
@KrauseFx if you add something like this to the Fastfile it works:

def keychain_name
  mm=`sw_vers -productVersion | awk -F '.' '{print $2}'`
  if mm.to_i < 12
    "login.keychain"
  else
    "login.keychain-db"
  end
end

[2016-09-10 02:13] jlubeck commented on #5669
Hi @mgrebenets, thanks for your quick reply. This is the contents of my IPA (with my own signing before sending to client):

![Alt text](https://monosnap.com/file/tJE7LVkYFgfizseJ7xt4JChb1PwZuO.png)

There is only one embedded.mobileprovision and it is outside the Frameworks folder. Would that be fine, or is that the problem?

If this is fine and the problem is on their end, like I said, I don´t k

[2016-09-10 02:28] KrauseFx commented on #6005
`sh` is being executed in your project folder, not in fastlane as far as I know. Could you give it a try to prepend the path with `..`?

[2016-09-10 05:27] KrauseFx commented on #5537
Also I just prepared https://github.com/fastlane/fastlane/pull/6068 👍

[2016-09-10 06:19] dusek opened #6069 "`pilot` upload waits forever for processing of an *older* build if that is stuck in processing"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

When a TestFlight build is "processing", and a new build is uploaded with `pilot` without turning off waiting for processing (the default), then `pilot` will wait for the _old_ build to finish p

[2016-09-10 06:34] jverdi commented on #4100
Took a stab at solving this in a PR. Let me know what you guys think of the solution in #6070

[2016-09-10 06:50] dusek opened #6071 "RFC: Introduce `VERSION_BUMP_PATHS` to generalize `commit_version_bump`"
🔑
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description - TL;DR version

Allow actions to specify files to include in the `commit_version_bump` through a new lane context variable, e.g. `VERSION_BUMP_PATHS`.
### Issue Description

Currently, `commit

[2016-09-10 06:58] mgrebenets commented on #5669
That's actually fine. When such a file exists, iTunesConnect returns the error, just like the one you posted.

I can only assume, that the resign script or software, which you client is using, does something like this

[code]

They probably use one of the dozens scripts that can be found online.
I wouldn't be surprised if they are using something they wrote in-house.

You should recommend them to

[2016-09-10 08:21] tmm1 commented on #5163
I was able to re-enable "Automatic Signing" in Xcode 8 once I removed the `codesigning_identity` option from my Gymfile/Fastfile. The actual error message was hidden away in `~/Library/Logs/gym` and not present in the fastlane output, which is why it was so hard to debug the issue.

Once I found the log with all the xcodebuild output, the error was clearly spelled out:

[code]

[2016-09-10 14:51] ILI4S commented on #5733
@TKBurner I'm not getting the error anymore. I think the difference was setting up a Deliverfile--though I am not exactly sure. I also updated to the latest fastlane (1.102.0). The Fastfile configuration is still as specified above (running deliver before pilot with `skip_binary_upload: true, skip_screenshots: true, skip_metadata: true`). The Deliverfile only contains values for `app_identifier` a

[2016-09-10 20:39] jlubeck commented on #5669
Well, glad to hear the problem is not on my side! I´ll try your suggestion. Thanks!

[2016-09-11 03:44] Kaelzzs opened #6073 "i'm requred to install cocoa pods,but i have installed. !"
### New Issue Checklist
- [1 ] Could not find gem 'cocoa pods'.
       You have to install the `cocoapods` gem on this machine
### Issue Description
##### Complete output when running fastlane, including the stack trace and command used

[code]
### Configuration Files

Please copy the complete content of your `Fastfile` and any other configuration files you use below:

Fastfile:

[code]
### Enviro

[2016-09-11 12:36] #5373 closed

[2016-09-11 17:20] muhammet commented on #1744
+ 1 Same Problem

[2016-09-11 18:29] Douvi commented on #4301
Someone found a solutions ? I have the same bug...

[2016-09-12 03:18] SandyChapman commented on #5742
@KrauseFx : Works for me.

[2016-09-12 03:38] KrauseFx commented on #6073
Are you using a Gemfile or bundler?

[2016-09-12 07:46] stovmascript commented on #5437
I'm seeing the same thing and would also like to see all available lanes when executing `fastlane`.

This is my output, when I comment out `default_platform`:

[code]

[2016-09-12 08:01] muzammil-triffort commented on #18
@KrauseFx app_identifier command not found

[2016-09-12 08:11] muzammil-triffort commented on #18
@KrauseFx I have different account ids for apple developer and iTunes connect. My issue is fastlane is using the default apple developer account for publishing on iTunes. So getting error. Please help, how can I add different itunes connect account and also how to update developer account which i setup in the starting?

[2016-09-12 08:19] ChristopherDrum commented on #5490
I'm having similar hanging issues on Travis CI using Xcode 8 build.
Like @IngmarStein reports with Gym: https://github.com/fastlane/fastlane/issues/5163
I see the "failed to expand identifiers" issue with Scan as well.

Like @tspecht reports, Scan hangs, but hangs at a different spot
[code]

which seems to relate to something @tmm1 said about code signing:https://github.com/fastlane/fastlane/issue

[2016-09-12 08:39] simonrice commented on #5999
If it helps at all, a slight workaround I've been doing for the time being is something like this:

[code]

However, it goes without saying a `retry` parameter for the Crashlytics action would be much nicer!  And I'm sure there's a neater version where `retry` has been implemented in other fastlane actions.

[2016-09-12 08:43] Rameshv commented on #5374
the problem is `sigh_com.xxxx.app_adhoc` is not configured properly. It works after correct env variable

[2016-09-12 08:43] #5374 closed

[2016-09-12 09:26] Sea-Eagle commented on #1642
Hi All I'm also facing same issue. I configured snapshot and generated SnapshotHelper.swift, added it to my Test Target and writing following code in Test.m file throws error

XCUIApplication *app = [[XCUIApplication alloc] init];
[Snapshot setupSnapshot:app];
[app launch];

But it is showing error "Use of undeclared identifier 'Snapshot'".
Bridge file <Appname>UITests-Bridging-Header.h is empty w

[2016-09-12 10:59] Devnovaz commented on #2003
It may be helpful knowing that that the error "When no teams exist in your AppleID account" will also occur as a result of an expired membership. Just an fyi

[2016-09-12 11:58] Sea-Eagle commented on #3921
@mr-brandt  have resolved the issue I'm facing same issue

[2016-09-12 12:49] Devnovaz commented on #5387
I am experiencing this same issue.  Please help or give and update @TKBurner

  private_lane :updateApp do |options|
  	deliver(
		username: ENV["DELIVER_USER"],
		app_identifier: ENV["APP_IDENTIFIER"],
		app: ENV["DELIVER_APP_ID"],
		skip_screenshots: true,
		skip_metadata: true,
		force: true,
		release_notes: ({
		  'en-US' => ENV["APP_VERSION"] + " - " + ENV["RELEASE_NOTES"],
		}),
		ipa: ENV[

[2016-09-12 12:54] joseluissb opened #6075 "[pem] Remove/revoke old push certificate if 'force' option selected"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

Allow pem to revoke old certificates before generating new ones. To avoid unnecesary/accidental certificate revocations, make this default only when 'force' option is selected.

PR #4814
Similar

[2016-09-12 13:15] craigzour commented on #6066
@PetrosIchor That worked for me as well ! Thank you !

[2016-09-12 13:15] #6066 closed

[2016-09-12 14:09] ohwutup commented on #5649
Thanks for posting the issue @jmjordan! I am seeing this issue as well, but despite the warning that is printed, everything still works as expected. Is this breaking anyone's current workflow?

[2016-09-12 14:36] #5319 closed

[2016-09-12 14:42] bartoszhernas commented on #3334
The problem starts when you have tests running per branch.

In our case it fails when developer pushes database migration on his branch, tests are successfull and then they fail on my branch when I do not have latest migrations.

Is there a way to do a fresh install when running tests?

[2016-09-12 14:52] TKBurner commented on #6007
Hi @revolter Try `snapshot --clean true`

[2016-09-12 14:58] TKBurner commented on #6008
@revolter We'll add this to our docs requests. Thanks!

[2016-09-12 15:04] TKBurner commented on #5963
@PycKamil Can you run `gem cleanup` and provide a fresh copy of the output? Thanks!

[2016-09-12 15:07] TKBurner commented on #6026
Hi @GeovationMax Thanks for reaching out. Right now this is expected behavior. The lane fails because the version is not available for external testing. Thanks!

[2016-09-12 15:07] #6026 closed

[2016-09-12 15:10] TKBurner commented on #3779
@srudoi Thanks for following up on this. We don't currently directly support trailer upload, but we'd love to see a pull request to improve support. Thanks!

[2016-09-12 15:11] fer662 commented on #5990
@TKBurner yes, sorry. The discussion was mostly going on on the pull request so I missed this.

[2016-09-12 15:17] #5263 closed

[2016-09-12 15:26] #5316 closed

[2016-09-12 15:28] TKBurner commented on #1005
@tomaskraina Were you able to get up and running? Thanks!

[2016-09-12 15:28] mixdesign commented on #5983
The same problem. It doesn't cause the problem but, I like to have latest versions.
I get green message while running lane including gym:
[code]
Gym version:
[code]
Ruby version:
[code]
Fastlane update with sudo
[code]
I use fbenv, so:
[code]
And where is the hidden version 1.8.0?

[2016-09-12 15:46] revolter commented on #6007
I want for it to default to `true` when running `snapshot` (e.g. adding it in the `Snapfile`). Is this possible?

[2016-09-12 15:55] TKBurner commented on #76
Hi @pronebird You are going to need to run sigh twice, once for each target.

[2016-09-12 15:56] TKBurner commented on #5066
@tomaskraina Thanks for following up. You might need to unlock your keychain before running this command. Alternatively you might need to manually provide a keychain path. Thanks!

[2016-09-12 16:15] kelezj opened #6077 "Found 0 screenshots..."
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Configuration Files

Please copy the complete content of your `Fastfile` and any other conf

[2016-09-12 16:16] bre7 commented on #6075
(#4824) Plugins might be the way to go. I'm not sure how to extract the function to a plugin. The code is quite simple since everything needed is already in PEM.

From pem/lib/pem/manager.rb:
[code]

[2016-09-12 16:16] #6077 closed

[2016-09-12 16:46] zapjonny commented on #5983
I'm not sure what happened but I could only update to 1.9.0 by uninstalling then installing again.

[2016-09-12 16:49] kamaljaiswal commented on #4197
with fastlane_version "1.102.0"
if there is RunScript in the Xcode Project. fast lane
** ARCHIVE FAILED **
[22:14:28]: Exit status: 65
Any suggestion how to fix this

[2016-09-12 16:52] mixdesign commented on #5983
There are 1.9.0, 1.8.0 versions. I've uninstalled 1.8.0; But when I running lane with `gym` action I get:
[code]
Running `bundle install` installs old 1.8.0 version.
If I find where fastlane hardcoded that specific version for `gym`, it would be one step to resolve this problem.

[2016-09-12 16:56] KrauseFx commented on #5983
@mixdesign Try `bundle update`

[2016-09-12 17:20] katunch commented on #4295
@jwilliams-handy can you tell me more about using bundler? i'm not very familiar with ruby development.

[2016-09-12 17:23] KrauseFx commented on #6007
Yes, as @TKBurner posted in https://github.com/fastlane/fastlane/issues/6007#issuecomment-245040530 add the following to your Snapfile:

[code]

and then run `snapshot` without parameters

[2016-09-12 17:27] joseluissb commented on #6075
The reason why I brought out the issue is to avoid the "You already have 2 active push profiles for this application/environment. You'll need to revoke an old certificate to make room for a new one" error.

In this case if you no longer have access to the original private key, then you need to manually delete one of the certificates. One approach could be deleting the oldest or both certificates w

[2016-09-12 17:48] maschall opened #6079 "Gym include_bitcode defaults to false, xcodebuild defaults to true"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

If export_options is not defined, we default include_bitcode to false (https://github.com/fastlane/fastlane/blob/master/gym/lib/gym/generators/package_command_generator_xcode7.rb#L146)

However

[2016-09-12 18:33] damonnbc opened #6082 "XCode 8 beta 6 and Swift 2.3 Dont seem to cooperate with fastlane"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Fastlane gives a `Exit status: 65` error when I try building with Xcode 8 Beta 6

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Environmen

[2016-09-12 19:08] TKBurner commented on #1631
@znerol Great question! Hopefully someone from the community can step in for some help. Thanks!

[2016-09-12 19:11] #6006 closed

[2016-09-12 19:12] TKBurner commented on #5758
@jdee That'd be super interesting!

[2016-09-12 19:13] TKBurner commented on #4606
Hi @JosephDuffy Thanks for reaching out. What happens when you remove the font name completely and let the default take over?

[2016-09-12 19:15] TKBurner commented on #5473
@cybertk Can you share your full output with the --verbose flag? Thanks!

[2016-09-12 19:16] TKBurner commented on #6057
@cybertk Great idea! I'm marking it as a feature request to see if there is more interest in the community. Thanks 👍

[2016-09-12 19:17] TKBurner commented on #6002
Hi @cybertk Can you let me know if the issue is ever reproducible by running the command `set -o pipefail && xcodebuild -workspace A/A.xcworkspace -scheme S -destination 'generic/platform=iOS' -archivePath '/Users/vagrant/Library/Developer/Xcode/Archives/2016-05-13/A 2016-05-13 02.22.46.xcarchive' archive | tee /Users/vagrant/Library/Logs/gym/A-A.log | xcpretty`

Thanks!

[2016-09-12 19:20] TKBurner commented on #5379
@papauschek I just reached out to the core team about this. Thanks!

[2016-09-12 19:22] TKBurner commented on #6058
@lightbow Hope you are doing well! Thanks for the clear explanation. I've looped in the core team for them to take a look. Thanks!

[2016-09-12 19:22] doapp-ryanp opened #6083 "cert tool giving SecKeychainItemImport write permissions error"
fastlane 1.102.0
cert 1.4.2

Running `cert` in Jenkins. Jenkins running as the single OSX login user.

`cert` output:

[code]

perms are correct:

[code]

Any idea what may be going on here?

[2016-09-12 19:23] TKBurner commented on #6061
@Antondomashnev Great to hear from you. Right now this isn't possible. I've marked this as feature request. Any chance you'd be interested in contributing a PR? Thanks!

[2016-09-12 19:32] TKBurner commented on #6062
Hi @muzammil-triffort Have you tried setting `use_legacy_build_api: true`?

[2016-09-12 19:35] doapp-ryanp commented on #6083
Closing, didnt have updated WWDR

[2016-09-12 19:35] #6083 closed

[2016-09-12 19:35] TKBurner commented on #5285
@lightbow Thanks for following up. I let the core team know that this is still a problem!

[2016-09-12 19:38] TKBurner commented on #5542
Hi @ramirantala Can you print out the summary of inputs into deliver that prints before this? I'd love to have a look. Thanks!

[2016-09-12 19:39] KrauseFx commented on #5379
_match_ should check if the certificates and profiles are still valid and if they are not, it should automatically repair them. If that doesn't work, that's something we need to fix. Do you have steps to reproduce this?

[2016-09-12 19:41] KrauseFx commented on #6058
What actions are required from our side? Is it just the sample `Snapfile` that needs to be updated, or the default value that is being determined? Can you also share your output when _snapshot_, especially the table summary in the beginning

[2016-09-12 19:43] TKBurner commented on #5163
@tmm1 Thanks!

[2016-09-12 20:08] KrauseFx commented on #1703
Hey @eminisrafil, is this issue still relevant?

[2016-09-12 20:11] KrauseFx commented on #2071
I think this has been resolved with our latest release 👍

[2016-09-12 20:11] #2071 closed

[2016-09-12 20:24] #5109 closed

[2016-09-12 20:33] Antondomashnev commented on #6061
@TKBurner I've already created a custom action to do it, let me clean the code and I'll create a PR=)

[2016-09-12 20:42] pscadiz commented on #5371
This ticket can be closed for now. Cannot test this since I have changed my method. Thank you

[2016-09-12 20:42] #5371 closed

[2016-09-12 20:56] stevekohls opened #6084 "Unauthorized Access on fastlane init"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I have reviewed the existing github issues relating to this error, and none of them seem to show that this issue has been recently noted, or solved. Others address incorrect retry handling, or

[2016-09-12 20:56] KrauseFx commented on #2055
Has this been resolved?

[2016-09-12 20:56] #2055 closed

[2016-09-12 21:09] Bizy-AWS commented on #4914
Seeing the same (or very similar) problem. It did upload correctly and ended up being processed OK.

/Library/Ruby/Gems/2.0.0/gems/spaceship-0.32.1/lib/spaceship/client.rb:446:in `parse_response': [31m[!] <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN"> (Spaceship::Client::UnexpectedResponse)
<html><head>
<title>404 Not Found</title>
</head><body>
<h1>Not Found</h1>
<p>The requested URL /WebObj

[2016-09-12 21:10] stevekohls commented on #6084
Regarding the comment above by __fastlane-bot__, this is not related to code signing.

[2016-09-12 21:53] #5063 closed

[2016-09-12 21:55] KrauseFx commented on #6082
Please share the complete output

[2016-09-12 21:58] KrauseFx commented on #6084
That is weird, you can run `spaceship -u [your email]` to quickly try the login without triggering all of fastlane.

Can you confirm that you can login on the following services:

- Apple Developer Portal, and list all certificates
- iTunes Connect
- Login in Xcode in the settings

[2016-09-12 22:03] KrauseFx commented on #4914
This seems like something we could handle by auto retrying on 404 Not Found

[2016-09-12 22:18] stevekohls commented on #6084
Hi @KrauseFx

When I execute `spaceship -u [my email]`, it does successfully log me in to iTunes Connect and the Developer Portal.

I can log in to the Developer Portal, and login via Xcode works as well.

When I go to log in to iTunes Connect, it shows me a "Getting Started" page, instead of the one I'm used to seeing, when used with other accounts and teams. I believe the problem may be that I a

[2016-09-12 22:24] stevekohls commented on #6084
I was able to verify with one of my co-workers, and he can see me on iTunes Connect, and I am listed as an Admin. Digging further now....

[2016-09-12 22:36] stevekohls commented on #6084
I contacted Apple Developer Support to see if they can fix things. I've seen some mentions on Stack Overflow and elsewhere that other people had the same problems. Contacting DTS fixed the problem.

I don't know if this is a red herring or not. We'll see after I hear back from Apple.

[2016-09-12 22:47] samskiter commented on #5995
@mfurtak I think we might be able to use the update plist action, but the increment version number stuff won't work as we need to set a number from our CI

[2016-09-13 03:18] jwilliams-handy commented on #4295
@katunch bundler allows you to specify specific gem versions that you want to use and clarify your dependencies so when you open up a project you don't have to figure out what gem versions you need to use. when other developers checkout the project they run `bundle install` and will have the exact dependencies they need. instead of having to ad-hoc install gems and having mismatches.

[2016-09-13 04:40] Sea-Eagle commented on #1428
Hey I'm still having the issue. Here is my output
Guest:testApplication Guest$ fastlane init
[10:06:28]: Detected iOS/Mac project in current directory...
[10:06:28]: This setup will help you get up and running in no time.
[10:06:28]: fastlane will check what tools you're already using and set up
[10:06:28]: the tool automatically for you. Have fun!
[10:06:28]: Created new folder './fastlane'.
[10:

[2016-09-13 04:49] mindows opened #6088 "[scan] DEVELOPER_DIR does not work with FASTLANE_EXPLICIT_OPEN_SIMULATOR"
### New Issue Checklist
- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

Setting `FASTLANE_EXPLICIT_OPEN_SIMULATOR=1` to pre-open the simulator doesn't appear to use the right Xcode if you try to override the default Xcode selection by specifying `DEVELOPER_DIR`

I m

[2016-09-13 05:03] Sea-Eagle opened #6089 "Error in fastlane init"
Hey I'm still having the issue, in fast lane init

Here is my output
Guest:testApplication Guest$ fastlane init
[10:06:28]: Detected iOS/Mac project in current directory...
[10:06:28]: This setup will help you get up and running in no time.
[10:06:28]: fastlane will check what tools you're already using and set up
[10:06:28]: the tool automatically for you. Have fun!
[10:06:28]: Created new folder

[2016-09-13 06:36] ram0287 commented on #5379
@KrauseFx Please find below the steps to reproduce

Created a New Dist Cert / Provisioning Profile using match

Generated a new Push Certificate for the App Id using pem ( Enable Push Services )

Existing Provisioning Profile became invalid.

If I run match with force
A new Provisioning profile is created and synced to the git repo

If I run match without force
It is not regenerating the Profile -

[2016-09-13 06:39] ramirantala commented on #5542
| automatic_release                                                          | false               |
| skip_binary_upload                                                         | true                |
| skip_screenshots                                                           | true                |
| build_number                                                               | latest

[2016-09-13 06:44] revolter commented on #6007
Ok, thanks.

[2016-09-13 06:44] #6007 closed

[2016-09-13 08:06] andyh200 opened #6090 "[deliver] issue with bundler 1.13.0"
When attempting to execute deliver (1.13.3) we are seeing the following error relating to bundler (1.13.0)

`/Users/andy/.rvm/gems/ruby-2.3.1/gems/bundler-1.13.0/lib/bundler/rubygems_ext.rb:23:in `source': uninitialized constant Gem::Source (NameError)
Did you mean?  Gem::Source
        from /Users/andy/.rvm/gems/ruby-2.3.1/gems/bundler-1.13.0/lib/bundler/rubygems_ext.rb:65:in `extension_dir'

[2016-09-13 08:30] Harold-D commented on #6058
Perhaps a good addition would be to be able to specify an "ios_version" on a device basis?

This would allow for screenshots which feature "new functionality" of a "higher iOS" version on compatible devices.

For instance the new "CallKit" feature, only available on iOS 10 thus excluding the iPhone 4s. With the ability to specify iOS version per device, you would be able to create screenshots for

[2016-09-13 09:18] PitchLabsAsh commented on #5374
Did this get resolved?

I have seen similar issues many times on our build machine useing

`match(app_identifier: "com.testapp.public", type: "adhoc", readonly: true)`

If I update the profile from another machine to include new devices match will correctly fetch the new profile but the env_var does not seem to update in some way as the build ends up being signed with the previous profile.

I seem

[2016-09-13 09:19] garnett opened #6091 "Deliver does not download iMessage app screenshots"
### New Issue Checklist
- [*] Updated fastlane to the latest version
- [*] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

We have iMessage app bundled with out main app. `deliver download_screenshots` downloads only app screenshots.
### Environment

[code]

[2016-09-13 09:26] krodak commented on #5379
@KrauseFx exactly same reproduction as @ram0287 but set `Associated Domains` as enabled

[2016-09-13 09:44] #5334 closed

[2016-09-13 09:55] znerol commented on #1631
Filed #6092

[2016-09-13 10:28] Sea-Eagle opened #6093 "snapshot: Still getting simulator timeouts"
### New Issue Checklist
- [ ] Updated fastlane to the latest version
- [ ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

Hi I'm new to fastlane, I have created sample project and setting up fastlane for the project to get snapshots.
https://github.com/Sea-Eagle/SnapshotTestApplication.git
1. First Installed fastla

[2016-09-13 11:11] Mehdzor opened #6094 "Bundler fails to install fastlane"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

When running bundler with contents:

[code]

It fails with an error:

[code]

But an installation through simple `gem install fastlane` goes fine.
The issue appears only when a bundle config con

[2016-09-13 12:22] samskiter commented on #3920
Fastlane doesn't seem to be reading from my .env or .env.default files. But will read from .env.test if I specify --env test. Any chance this behaviour has regressed?

[2016-09-13 12:28] bwdowikowski opened #6095 "Support for App-Specific Password or something."
### New Issue Checklist
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] Updated fastlane to the latest version
### Issue Description

I have two-factor authorization on my appleID and I'm trying to work with xcode server and fastlane.
So as post-trigger I've setted lane that goes throu cert,sigh,gym and eventually crashlytics.

[2016-09-13 12:43] jlubeck commented on #5669
Success. Thanks @mgrebenets !

[2016-09-13 12:46] ClementPadovani opened #6096 "[gym] Xcode 8 and In-House Certificates"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

Issue: I work for a mobile app agency, and thus we have an In-House provisioning profile to distribute apps to our clients prior releasing them for production and we use fastlane to help us out.

[2016-09-13 12:55] Dudi00 commented on #6095
No but I will and be back with feedback 👍

[2016-09-13 13:38] Dudi00 commented on #6095
Ok I did read it and there is no word about logging in but I've changed cert and sigh to match :)

But back to issue, are there other solutions than remove two-factor authorization and put apple id password to enviroment?

[2016-09-13 13:55] mfurtak commented on #5995
@samskiter Great! Do you think `update_info_plist` can get your CI-provided version number into the plist?

[2016-09-13 14:21] samskiter commented on #5995
@mfurtak sure. This feature would still be useful. If it's valid to pop it in the resign lane, may was well have it in the gym lane as well?

[2016-09-13 14:26] #5297 closed

[2016-09-13 14:47] stevekohls commented on #6084
@KrauseFx here's an update:

I had my co-worker double-check, and I am __NOT__ a user on iTunes Connect. Even so, if I execute `spaceship -u [my email]` I see the following output:

[code]

Within `spaceship` if I execute `Spaceship::Tunes::Application.all` I see an `Unauthorized Access` error, as I would expect.

[code]

It seems that there are two problems here:

1. `spaceship -u [my email]` inc

[2016-09-13 14:56] isolution-de commented on #6064
Having the same issue, how did you resolve it?

[2016-09-13 15:24] chanricle commented on #6065
Thanks `drosenstark` provide commands! I have tried these command, but when I check bundler version
[code]

The default version of Bundler is 1.13.0. So I ran uninstall command like
[code]

After this, my default bundler version is 1.12.0, and fastlane worked !

[2016-09-13 15:29] drosenstark commented on #6064
@isolution-de  Sorry, I moved the issue here: https://github.com/fastlane/fastlane/issues/6065#issuecomment-246719051  Thanks!

[2016-09-13 16:12] Saurman commented on #734
Hello, i am facing same problem. We have build machine that compiles git branch and replaces info.plist file based on client profile (new bundle id for each client). We are not uploading builds to crashlytics (we use enterprise account and distribute IPA files from our download page). Problem is, in 95% app is not registered by Fabric. I suspect Fabric run script build phase, most likely fastlane

[2016-09-13 16:15] WolfgangD opened #6097 "[snapshot] Simulator not reset or app not reinstalled if `ios_version` is missing"
### Issue Description
Without specifying `ios_version` in Snapfile the simulator's `device_udid` will not be known to `erase_simulator` and `reinstall_app`.

This results in e.g. following call being made which misses the `device_udid`
[code]

No error is reported and the snapshotting continues as normally. In our case the UI test however requires the app to be reinstalled and will fail at a later

[2016-09-13 16:34] programmin1 opened #6099 "Gym always cleans project, no way to set timeout to not be 10s"
### New Issue Checklist
- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

When running gym with the "--clean false" arguments, it still cleans project.
If it takes longer than 10s (on very slow hard drive or while you are unzipping large files, etc.) it will never com

[2016-09-13 16:48] mfurtak commented on #5995
@samskiter While I understand where you're coming from, part of our job needs to be keep each individual tool as sharp and focused as possible. If there's a good way to solve the problem, we should aim to avoid adding more complexity to _gym_ to solve it in another way. 👍

Taking another look at `increment_version_number` and `increment_build_number`, each seems to support specifying an exact valu

[2016-09-13 17:33] isolution-de commented on #6065
On mac OS Sierra I had the same issue.
After updating gems, uninstalling bundler (sudo gem uninstall bundler) with all dependencies and reinstalling (got bundler 1.13.1) it seems to work for now.

[2016-09-13 17:41] brianmichel opened #6101 "Hockey action errantly fails when build is actually uploaded"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description
##### Complete output when running fastlane, including the stack trace and command used

[code]
### Configuration Files

Please copy the complete content of your `Fastfile` and any other configur

[2016-09-13 17:43] brianmichel commented on #6101
I attempted to make an issue on Fastlane's fork of Shenzhen but was unable to do so, so I'm making an issue here.

We also talked with HockeyApp support about this specific issue and here was their response...

[code]

It looks like Shenzhen is currently using `upload.hockeyapp.net` according to https://github.com/fastlane/shenzhen/blob/master/lib/shenzhen/plugins/hockeyapp.rb#L9 would it be possi

[2016-09-13 17:54] KrauseFx commented on #5297
This was fixed with our last scan update, let us know if that works for you 👍

[2016-09-13 17:57] #4349 closed

[2016-09-13 17:57] KrauseFx commented on #3761
This has been "fixed" by telling the user to run it when it's slow

[2016-09-13 17:57] #3761 closed

[2016-09-13 18:01] TKBurner commented on #5398
@Ashton-W Do you still need any help with this? Thanks!

[2016-09-13 18:11] TKBurner commented on #6065
@isolution-de Thanks for letting us know! Really glad to hear you got up and running 👍

[2016-09-13 18:11] TKBurner commented on #6096
@ClementPadovani How do you have your provisioning profile set in your build settings? We inherit from there. Thanks!

[2016-09-13 18:14] TKBurner commented on #6093
@Sea-Eagle What happens if you use the `erase_simulators` action first? Thanks!

[2016-09-13 18:15] nickjwallin commented on #4218
Sorry if this is simply an annoying notification on an old issue, but I was having this exact same issue, and updating to the latest `fastlane` did solve the issue. It was happening to me 100% of the time.

[2016-09-13 18:16] edsanville opened #6103 "Relogin if token has expired"
Hello,

I have dozens of screenshots in over a dozen languages, and deliver's iTunes Connect token times out after exactly 1 hour, but my upload takes longer than an hour because of all the screenshots.

I think deliver should re-login if its token expires during the upload process.

Also, syncing the screenshots, rather than uploading all of them every time would help immensely in my use case.

T

[2016-09-13 18:22] brianmichel commented on #6101
I think some gentle refactoring of that gem would allow people additional flexibility for problems like this, here's a sample diff, https://github.com/brianmichel/shenzhen/commit/f35813ebdbe474674b736856a1af2e70927e7680

[2016-09-13 18:23] TKBurner commented on #6071
@dusek Thanks for reaching out about this! I like the idea and I want to get some feedback from the community before we give you the greenlight to make this change. Thanks!

[2016-09-13 18:25] TKBurner commented on #5733
@pplant Do you have a deliver file in place? @ILI4S It's possible that having the deliver file set some variables that weren't populated previously.

[2016-09-13 18:28] TKBurner commented on #1744
@muhammet Check out https://docs.fastlane.tools/

[2016-09-13 18:29] mcactive opened #6105 "Frameit doesn't make frames on the screenshots in the right directory."
### New Issue Checklist
- [ x ] Updated fastlane to the latest version
- [ x ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

Frameit doesn't frame the right directory, even when saying it does.. Explicitly provide
path: './fastlane/screenshots'

But still starts frameit in the root folder..

Tried a Dir.pwd, it is

[2016-09-13 18:40] TKBurner commented on #5437
@stovmascript Thanks for following up. Does `fastlane lanes` provide the correct output? I'm marking this to see if someone from the community is interested in submitting a PR.

[2016-09-13 18:41] TKBurner commented on #5490
@ChristopherDrum Can you run `sudo gem update fastlane` and then run this again providing the full input and output? I want to get this over to the core team 👍

[2016-09-13 18:42] stovmascript commented on #5437
Yup, that's what I'm currently using to get an overview of all available
lanes.

On Sep 13, 2016 8:40 PM, "Todd Burner" <notifications@github.com> wrote:

[2016-09-13 18:43] TKBurner commented on #5999
@simonrice Thanks so much for sharing!

[2016-09-13 18:44] TKBurner commented on #1642
@Sea-Eagle Can you submit a new ticket for this issue. Thanks!

[2016-09-13 18:45] TKBurner commented on #2003
@Devnovaz Thanks for the info! 👍

[2016-09-13 18:45] TKBurner commented on #3921
@Sea-Eagle Did you try @mfurtak's suggestion? Thanks!

[2016-09-13 18:47] TKBurner commented on #5387
@Devnovaz Can you provide your deliver file, your fastfile and your full input and output including the table with the summary of input values? Thanks!

[2016-09-13 18:51] TKBurner commented on #3334
@bartoszhernas It's not officially possible right now, but you might get some utility out of the erase_simulators action. Thanks!

[2016-09-13 18:53] TKBurner commented on #5990
@fer662 Do you have deliver setup for this project? If you don't can you run deliver init and let me know if you still see these metadata errors? Thanks!

[2016-09-13 18:54] TKBurner commented on #4197
@kamaljaiswal Can you let me know a little bit more about your run script? What does it do? Thanks!

[2016-09-13 18:58] TKBurner commented on #6075
@joseluissb Thanks for following up on this. I'm going to mark this as a feature request to see if there is interest in it being integrated into fastlane core. Otherwise I'd be really interested to see a plugin implementation. Thanks!

[2016-09-13 19:01] TKBurner commented on #6079
Hi @maschall! Interesting, I believe this change will come in the next few months. We chose the default based on common usage.

Thanks!

[2016-09-13 19:03] TKBurner commented on #6069
@dusek Thanks for reaching out about this. I'm going to circulate this with the community to see if anyone is interested in investigating. Thanks!

[2016-09-13 19:06] TKBurner commented on #4301
@Douvi @i-schuetz Thanks so much for working with us on this. I've circled back with the core team. Thanks!

[2016-09-13 19:08] kamaljaiswal commented on #4197
Sure.
1: Run Script connects to newRelic (https://newrelic.com)
2: Connect to Fabric  uploading the archive , which i definitely can move too fastlane file.
But  newRelic does support fastlane yet.

[2016-09-13 19:54] #4390 closed

[2016-09-13 20:11] pietrocaselani commented on #4295
I am facing the same issue `[!] uninitialized constant Fastlane::Actions::S3Action::AWS (NameError)`. Fastlane version is `1.102.0`

[2016-09-13 21:20] samskiter commented on #5995
Fair enough  - those tools will do the trick - will make sure we switch over soon! Thanks 👍

[2016-09-13 21:20] #5995 closed

[2016-09-13 21:33] samskiter commented on #6027
@KrauseFx that's exactly what we did, but annoyingly we had to select a simulator as the destination to force it to stop trying to code sign.

[2016-09-13 21:39] williamsjj commented on #5066
Does automatic code signing management in Xcode 8 just not work with Fastlane? I see in the code signing guide for Fastlane its recommending to disable it and specify provisioning profiles.

[2016-09-14 00:14] Douvi commented on #4301
@TKBurner Basically `itc_team_id` work with `gym`, `pilot` but not with `latest_testflight_build_number()`. When I run `latest_testflight_build_number()` I got

[code]

[2016-09-14 00:22] Ben-G opened #6111 "XCTest Hangs when Used with Scan on Bitrise with Xcode 8"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

When running scan via fastlane on Bitrise with Xcode 8, the unit tests will always hang and fail the build. This issue does not occur on Bitrise when calling `xcodebuild` directly. The issue d

[2016-09-14 00:33] Ben-G commented on #6111
Not related to code signing -  but good guess @fastlane-bot!

[2016-09-14 01:31] ecnepsnai opened #6112 "Swift 3 incompatibilities / specify LEGACY_SWIFT with Snapshot"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

I cannot run `snapshot` on my project because it tries to compile `SnapshotHelper.swift` using Swift 3, and fails to do so. In Xcode I can specify the build setting "Use Legacy Swift Language Ve

[2016-09-14 02:06] maschall opened #6113 "Support -configuration in Project class to get build_settings based on configuration"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

---------

To support development with Push Notifications in a App Store and Enterprise environments, we have setup multiple configurations with different PRODUCT_BUNDLE_IDENTIFIER.

I want to easily check the build

[2016-09-14 03:05] koxon commented on #5780
That's something I wanted to ask as well.
Each time I run gym, all my Pods are being recompiled.

I did change the Derived Data path but it still the same. All my .swift and .m are being compiled each time.

I'm quite new to this, so I may be missing something obvious, either in the configuration of the project itself (which I don't control) or at build time with Gym.

Any help would be appreciate

[2016-09-14 03:59] freesuraj commented on #3685
The certs are being overwritten. Please have a look.

[2016-09-14 04:48] muhammet commented on #6091
How you guys uploading screenshots for iMessage app ? We are named `messages-iPad-*_framed.png`

isnt it right ?

[2016-09-14 06:32] cybertk commented on #6002
I tried to use the underlying scripts (instead of gym) for ~200 times, can not reproduce the issue.

[2016-09-14 06:37] cybertk commented on #5473
[code]

[2016-09-14 07:48] tzq582905 opened #6115 "fastlane:How to support a compilation, and then packaged a-hoc, appstore."

[2016-09-14 07:48] tzq582905 commented on #6115
Now I need to separate the 2 packages.

[2016-09-14 07:50] minhnh94 commented on #4708
meet exactly same issue and I dont use any testing framework.
`snapshot` generates screenshots on iphone 5 with no problem but it always fails on iphone 6/6+.
Searched through hundreds of issues on github but no help :(

[2016-09-14 08:47] samskiter commented on #227
I have the exact same issue as @matto1990 - Works fine locally but doesn't when running from the same machine through my CI (i.e. I have my local machine set up as a CI runner). I'm using gitlab CI multirunner.

If I set the locales through my bash profile it is fixed, but we need keep environment variables within our builds and not globally.

So I'm using a fastlane/.env file but I end up back at

[2016-09-14 09:11] chezzdev opened #6116 "Need fixed title height parameter for frameit"
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

Hello everyone.
I've tried `frameit` for its direct purpose and everything went good (after an hour figuring out parameters and possibilities) except for one thing. I can't set the parameters to get devices frames laid out identically on al

[2016-09-14 09:44] #5343 closed

[2016-09-14 09:44] pernilla commented on #4621
I have also this issue. Very weird. In my case it says:

`Provisioning profile 'a8c3c555-796e-4c36-ae58-963f9b1e3655' is not available on the Developer Portal`

My fastlane script does the following:

`desc "Submits a new Beta Build to Apple TestFlight"
  lane :beta do

    match(type: "appstore")
    gym(scheme: "Beta")
    pilot(app_identifier: "com.myapp.beta")
  end`

In the log when I run fas

[2016-09-14 09:59] pplant opened #6117 "Pilot fails: Beta App Description is required. Validation errors"
### New Issue Checklist
- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

Hi, tried to look through other comparable issues but I couldn't find one describing the same problem I have. When using "pilot" everything is running smooth build gets uploaded and processed. H

[2016-09-14 10:28] mfurtak commented on #5995
Really excellent question - thanks for chatting it out!

[2016-09-14 10:36] mgrebenets commented on #5435
We have just started migrating to Xcode 8 and faced this issue.
It started happening on our TeamCity agents when building with Xcode 8 while previous build was using Xcode 7.3.1.
It is actually quite easy to reproduce on a local machine too.
Let's say you have Xcode 8 installed to `/Applications/Xcode.app` and Xcode 7.3.1. to `/Applications/Xcode7.3.1.app`. The following shell scripts will reprodu

[2016-09-14 11:06] chezzdev commented on #4077
Any news on that? I didn't find the related pull request.

[2016-09-14 11:27] fassko commented on #5380
I have the same error in Travis CI and locally with new iOS10.

[2016-09-14 11:42] garnett commented on #6091
@muhammet wont' speak for everybody, but currently we do it manually.

[2016-09-14 11:43] chrisfsampaio opened #6118 "Specify provisioning profile in Xcode 8 with gym"
With Xcode 8 and manual code signing, a new build parameter is used to specify a provisioning profile to sign with.
It's all covered in [the code signing guide](https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Codesigning/XcodeProject.md#readme), but for the ones that are not yet using `match`, it would be useful to have a `gym` parameter reflecting the change in Xcode. And then our

[2016-09-14 11:45] JagCesar commented on #4077
@chezzdev I haven't had the time to focus on this task. Feel free to take the lead @chezzdev :)

[2016-09-14 11:59] pplant commented on #6117
I tried to dig into Spaceship code and saw that the submit_to_beta_review call is supporting description field however it is not available as an option in pilot. Probably this could do the trick!

[2016-09-14 12:22] Sea-Eagle commented on #6093
I have done Code Signing Troubleshooting Guide and erase_simulators as well but nothing helps me. Can i know why it is the problem actually?

[2016-09-14 12:23] Sea-Eagle opened #6119 "Unable to import/use SnapshotHelper.swift in Objective-C project"
Hi All I'm also facing same issue. I configured snapshot and generated SnapshotHelper.swift, added it to my Test Target and writing following code in Test.m file throws error

[code]

XCode : 7.3.1
Defines Module : YES

Can any one resolved this issue

[2016-09-14 12:23] Sea-Eagle commented on #1642
sure. Thanks

[2016-09-14 12:27] Sea-Eagle commented on #3921
Yes I have tried FASTLANE_EXPLICIT_OPEN_SIMULATOR=1  but for this I'm getting error "Wrong number of arguments (given 1 expected 2)"  even if i try with 2 I'm getting same error

[2016-09-14 13:09] yaochenfeng opened #6120 "how can i know the password created ,and use match by CI"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Configuration Files

Please copy the complete content of your `Fastfile` and any other conf

[2016-09-14 13:42] yaochenfeng commented on #6120
I use match ,but the gym error message is " Code Sign error: No code signing identities found: No valid signing identities (i.e. certificate and private key pair) were found."

[2016-09-14 13:45] yaochenfeng commented on #6120
the file of xx.p12  is created by match ,and i don't  know the password

[2016-09-14 14:02] #6120 closed

[2016-09-14 14:34] yaochenfeng opened #6121 "How can I get the password of match create sign,I want to know the password for .p12"
I use the match create p12 file,and I don't know the password ,how can I get the password

[2016-09-14 14:43] apouche commented on #5998
I'm having the same issue as @brianmichel, I did try the suggested fix which was to disable the legacy api but it didn't work for me:

[code]

As you can see the `xcbuild-safe.sh` seems to crash the terminal session which restarts instantly (this is why you see the Kernel Info, GNU bash...).

I do see the xcodearchive but the IPA file is not created.

I've checked the signing profiles on my projec

[2016-09-14 15:04] apouche commented on #5998
I've copies the xcarchive and plist file and manualy doing

[code]
does trigger the same issue:

[code]

[2016-09-14 15:16] TKBurner commented on #6083
@doapp-ryanp Thanks for letting us know. So glad you got up and running!

[2016-09-14 15:18] WedgeSparda opened #6122 "Permission denied (publickey) when running match"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

When trying to run my lane I can't login to my private repository in **Bitbucket** in order to initiate all the process. Also I noticed that no username and password are added to my keychain but don't know why.

The

[2016-09-14 15:19] TKBurner commented on #6061
@Antondomashnev Awesome! 👍 We'll work with you on the PR 💯 💯

[2016-09-14 15:19] #6061 closed

[2016-09-14 15:20] WedgeSparda commented on #6122
BTW, I'm using XCode 8.

[2016-09-14 15:23] TKBurner commented on #5371
@pscadiz Thanks for updating. Hope you have a great week!

[2016-09-14 15:25] TKBurner commented on #1428
@Sea-Eagle Can you create a new issue for this problem? Thanks!

[2016-09-14 15:27] TKBurner commented on #6088
@mindows Great to hear from you! We'd love to see a PR to change this behavior. Are you interested in contributing? I've marked this to see if the community can help too!

[2016-09-14 15:28] TKBurner commented on #6089
Hi @Sea-Eagle I don't see any problems in your output. Can you let me know what you think the problem is? Thanks!

[2016-09-14 15:29] nafu commented on #5998
I think https://github.com/fastlane/fastlane/issues/5358 would be the relevant one for your case.

[2016-09-14 15:41] TKBurner commented on #5542
@ramirantala Nothing looks odd there. Can you provide exact repro steps using a blank project? I want to circle in the core team. Thanks!

[2016-09-14 15:46] TKBurner commented on #6090
@andyh200 Hi! We are aware of this issue and are working on a fix. It is being tracked elsewhere, but I cannot find it because 'bundler' is in every issue. Thanks!

[2016-09-14 15:57] TKBurner commented on #5374
@PitchLabsAsh Does this happen if you add the force: true parameter to your match command?

[2016-09-14 15:59] TKBurner commented on #5379
@ram0287 @krodak Just looped back with the core team. We'll work with you here. Thanks so much for helping us get to the bottom of this.

[2016-09-14 16:00] TKBurner commented on #1631
@znerol Thanks so much for your contribution!

[2016-09-14 16:04] TKBurner commented on #3920
@samskiter Great to hear from you! This behavior should not have changed. Can you submit a new issue if you are still running into this? Thanks!

[2016-09-14 16:06] TKBurner commented on #5669
@mgrebenets Thanks so much for helping out! @jlubeck So glad to hear you are up and running! 👍

[2016-09-14 16:06] znerol commented on #1631
@TKBurner I do not think that we are done here. PR #6092 only was a minor bugfix.

[2016-09-14 16:15] apouche commented on #5998
mmh yeah it seems like it although I can't use `use_legacy_build_api` otherwise I jump into this current issue (#5998)

[2016-09-14 16:27] TKBurner commented on #6095
@Dudi00 Is your developer account in your login keychain?

[2016-09-14 16:34] TKBurner commented on #734
@Saurman I think you'll find it works better if you use cocoapods. https://fabric.io/kits/ios/crashlytics/install

Thanks!

[2016-09-14 16:42] TKBurner commented on #6097
@WolfgangD Thanks for the PR, I think it's going to help a bunch of people. 👍 💯  We'll work with you there, but if you don't get a response, feel free to bump this and I'll circle back with the core team 👍

[2016-09-14 16:42] #6097 closed

[2016-09-14 16:47] TKBurner commented on #6099
Hi @programmin1 Great to hear from you and sorry that you are running into this. Can you run `gym --clean false` and provide the full input and output? Thanks!

[2016-09-14 16:54] nafu commented on #5998
@apouche

Yes, that is the problem. I'm still working on it! (Actually it is the problem of xcodebuild or framework code signing related)
The problem occurred in AdHoc build or Release build.
You must be able to build for development. (At least, I could for development)

Thank you for reporting!
If you can provide more information, that would be helpful.

[2016-09-14 16:58] nafu commented on #5998
@apouche

It would be better to create new issue for your case!

@TKBurner

Is it OK, right? :octocat:

[2016-09-14 17:32] TKBurner commented on #6112
@ecnepsnai Hi! Great to hear from you. I looped in the core team so we can take a look. Hope you have a great day!

[2016-09-14 17:33] TKBurner commented on #6118
@chrisfsampaio Thanks for reaching out. I want to leave this open for feedback before giving you the go ahead for a PR. The team will take a look here.

[2016-09-14 17:34] TKBurner commented on #4218
@nickjwallin Awesome Nick! Thanks for letting us know. 👍 💯

[2016-09-14 17:43] TKBurner commented on #5998
@apouche Create a new issue, I'd love to help out! 👍 💯

[2016-09-14 17:44] TKBurner commented on #1631
@znerol Reopened, no problem. This is going to be a long term one that we might take up internally. 👍

[2016-09-14 17:45] TKBurner commented on #6122
@WedgeSparda Are you using Sierra too by any chance? Can you try unlocking the keychain before running the rest of the commands? Do you have 2-Factor setup on Bitbucket?

[2016-09-14 17:48] TKBurner commented on #6121
@yaochenfeng The password should match the one you used to encrypt your repo. Let me know if that works. Thanks!

[2016-09-14 17:50] TKBurner commented on #6103
@edsanville Can you let me know what error message you get? I think this might explain some other behavior I've seen recently. Thanks!

[2016-09-14 17:53] TKBurner commented on #6101
Hi @brianmichel Thanks for reaching out. If you are interested in adding this as an option on the Hockey action that'd be good. Let me know!

[2016-09-14 18:05] TKBurner commented on #6105
@mcactive Are you sure you are running from your project directory? What happens when you pass `/fastlane/screenshots` as the path

[2016-09-14 18:06] TKBurner commented on #5437
@stovmascript Thanks! The common usage command is fastlane lanes, but since we have the behavior for running just fastlane it should work there. I think we'd love to see a community PR! Thanks for pointing this out, hope you have a great day!

[2016-09-14 18:09] TKBurner commented on #4197
@kamaljaiswal Thanks for following up. Can you provide the full input and output? That shouldn't cause an issue. Also can you provide a sanitized version of the run script? Thanks so much!

[2016-09-14 18:11] TKBurner commented on #6027
@samskiter Thanks for following up. Are you able to do it with a shell command? That's always a fallback option using the `sh` action. Thanks!

[2016-09-14 18:14] TKBurner commented on #5780
@koxon Can you try the skip_build_archive: true command? Thanks!

[2016-09-14 18:14] TKBurner commented on #3685
@freesuraj If you are running into an issue, can you please submit a new thread? Thanks so much!

[2016-09-14 18:15] TKBurner commented on #4708
Hi @minhnh94 Can you please create a new issue with your full input and output? I'd love to take a look. Thanks so much!

[2016-09-14 18:18] TKBurner commented on #4621
@pernilla Thanks for updating this. Have you run match development for this app previously since the nuke?

[2016-09-14 18:19] TKBurner commented on #3921
@Sea-Eagle Can you share the full input? It should be like `ENV_NAME="123" fastlane beta`

[2016-09-14 18:21] TKBurner commented on #227
@samskiter Can you create a new issue for this? That'd be wonderful! Hope you have a great day! 👍

[2016-09-14 18:24] TKBurner commented on #4295
@pietrocaselani Thanks for following up. I circled back with the core team to take a look on this.

[2016-09-14 18:25] TKBurner commented on #5066
@williamsjj It should work, but we haven't tested against it in all cases. Thanks!

[2016-09-14 18:27] TKBurner commented on #6111
@Ben-G Hope you are doing well! Does this happen in Xcode 8 locally as well or just on Bitrise? Can you share your full input and output? Thanks!

[2016-09-14 18:29] TKBurner commented on #6113
@maschall Thanks for the contribution! We will work with you there.

[2016-09-14 18:29] #6113 closed

[2016-09-14 18:32] TKBurner commented on #6002
@cybertk Thanks for following up. I've marked this to see if we can get some help from the community. 👍

[2016-09-14 18:34] edsanville commented on #6103
@TKBurner I don't have the exact error, because it only occurred once. After that, I broke up my screenshot uploads so it wouldn't time out again. The error message was pretty clear, though: the iTunes Connect token had timed out. And, the timestamp was exactly 1 hour after deliver had logged in.

[2016-09-14 18:42] samskiter commented on #3920
@TKBurner it was actually related to my other problem which is env variables not persisting into child processes properly. Something weird is going on with unicode (raising bug as you asked :) )

[2016-09-14 18:42] Ben-G commented on #6111
@TKBurner Thanks for getting back on this. This only occurs on bitrise. Running on a local machine it works fine. However, I can run tests on bitrise when only using `xcodebuild` and not using fastlane. So this appears to be an issue that only occurs when both tools are combined :|

As for input/output: you can find the full log file of the build [here](https://gist.github.com/Ben-G/92f0c5cedbe23f

[2016-09-14 18:49] apouche commented on #5358
Coming from #5998  I'm having the same issue as well, unfortunately I have to go through `bundler` and because of #5998 I can't use `use_legacy_build_api = true`so I don't have a workaround yet.

I'll just provide some more info here, to me the exact process that crashes is this:

[code]
It causes the whole iTerm session to restart:

[code]

The fact that `teamID(resolved)='(null)'` suggests that

[2016-09-14 18:53] apouche commented on #5998
Thanks a bunch you guys, my issue is, as rightfully mentionned by @nafu, exactly the same as #5358 so instead of writing a duplicate I gave more information on that existing issue but I'd be happy to help more if needed of course.

I'll stay updated on both issues so I can see how it evolves, thanks again.

[2016-09-14 19:18] WedgeSparda commented on #6122
No, still using El Capitan

I tried that but command is asking me for the path to the keychain file and don't know where is this file created.

No

[2016-09-14 19:20] lakamsani commented on #6082
@KrauseFx  seeing the same problem. here is the complete output.

fastlane --verbose jenkins
DEBUG [2016-09-14 12:08:17.50]: Checking if there are any plugins that should be loaded...
INFO [2016-09-14 12:08:17.55]: -------------------------------------------------
INFO [2016-09-14 12:08:17.55]: --- Step: Verifying required fastlane version ---
INFO [2016-09-14 12:08:17.55]: -----------------------

[2016-09-14 19:21] bolom opened #6123 "how i can call supply directly in ruby script"
I am wondering if there is a way to call **supply** directly in ruby script. So far i am doing that

`  result = %x(cd tmp/#{app.package}/ && supply -j 'Google_Play_Android_Developer.json' -p '#{app.package}' 2>&1)`

i have tried to that

`Supply(Google_Play_Android_Developer.json,app.package)`

it's not working :(

[2016-09-14 20:07] hjanuschka commented on #5910
any updates on this one?! currently can't build with xcode8 😢

[2016-09-14 21:13] steddyman commented on #6013
I notice iTunes recently added a checkbox on all of the language pages to use the screenshots from the default language for the app.  I currently have screenshots for 10 languages but they are all the same image.  It takes a long time to generate 6 device screenshots per language, when all I need is one.

It would be great if Deliver can be updated to only upload one set of screenshots for the def

[2016-09-14 21:24] #5107 closed

[2016-09-14 21:38] cagataycali opened #6124 "Category select and iMessage Screenshot upload isn't working."
### New Issue Checklist
- [y] Updated fastlane to the latest version
- [y] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

With new iOS 10.0.1, Apple has new extension for **iMessage sticker package extension**.
- Fastlane can not select properly project category as "Stickers" as well as sub categories.
- Fastlane c

[2016-09-14 21:39] sahin commented on #6124
+1

[2016-09-14 21:43] KrauseFx commented on #6013
That's already possible, have you tried putting screenshots into a `default` directory next to your languages?

[2016-09-14 21:44] KrauseFx commented on #4621
Has everyone clicked the `Fix Issue` button or is this is different error?

[2016-09-14 21:45] muhammet commented on #6124
+ 1 Same problem

[2016-09-14 22:10] maschall opened #6125 "[Circle CI] - Build Failed, but badge shows pass"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Pulled down latest code from Github
Executed `bundle exec rake test_all`

### Results

Finished in 98.003 seconds
2211 examples, 1 failure(s)

==========================================
| 1 re

[2016-09-14 22:41] mcactive commented on #6082
I have the exact same problem..

[code]

[2016-09-14 23:09] KrauseFx commented on #6125
You didn't share all the information that's required by the issue template. Also please share your `.circle.yml`

[2016-09-15 00:09] maschall commented on #6125
You're right, and I now seeing it pass :)

[2016-09-15 00:09] #6125 closed

[2016-09-15 02:02] koxon commented on #5780
Hi Todd,

Thanks for the help.

I tried what you say and end up with the following error:

[21:47:27]: The generated archive is invalid, this can have various reasons:
[21:47:27]: Usually it's caused by the `Skip Install` option in Xcode, set
it to `NO`
[21:47:27]: For more information visit
https://developer.apple.com/library/ios/technotes/tn2215/_index.html
[21:47:27]: Also, make sure to have a

[2016-09-15 02:13] ChristopherDrum commented on #5742
Seems to be working for me as well. 🙇

[2016-09-15 02:26] Sea-Eagle commented on #6089
[10:07:42]: 'snapshot' not enabled.
[10:07:42]: 'cocoapods' not enabled.
[10:07:42]: 'carthage' not enabled.

[2016-09-15 02:46] Sea-Eagle commented on #3921
ENV_NAME="FASTLANE_EXPLICIT_OPEN_SIMULATOR=1" fastlane snapshot
ENV_NAME="FASTLANE_EXPLICIT_OPEN_SIMULATOR=1" fastlane beta

both i have tried.

the output is

The following build commands failed:
Check dependencies
(1 failure)
[08:11:56]: Exit status: 65
[08:11:56]: Tests failed - check out the log above
[08:11:56]: Tests failed, re-trying 1 out of 2 times
[08:11:56]: Patching '/Users/Prajwalkuma

[2016-09-15 02:52] Sea-Eagle commented on #3921
@TKBurner Thanks its working fine now. I just updated my project build settings

[2016-09-15 03:32] kalvish21 opened #6128 "Swift 3 issues"
I'm not able to run snapshot with xcode 8 (final) with Swift 3 as the SnapshotHelper.swift file is not written for it. Is there a compatible version i'm not familiar with?

[2016-09-15 03:45] antgly commented on #6095
Same issue here as @Dudi00. Using two factor auth because of the new Sierra Apple Watch Mac unlock feature requiring it to be on.

[2016-09-15 04:41] henteko opened #6129 "spaceship bug 2 step auth"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Login fail when a Apple Developer Center two-step authentication is enable.

[code]

### Configuration Files

app.rb
[code]

### Environment

* spaceship v0.32.1
* use bundle exec
* use rbenv

[2016-09-15 04:54] photoplyr opened #6131 "gym looking for a library that is no longer present"
Our builds are failing now using gym and Xcode 8.0 set as Swift 2.3

Here is my command line:
`gym --workspace "BusinessApp.xcworkspace" --scheme "BusinessApp" --clean --use_legacy_build_api`

Gym version:
gym 1.9.0

Error Log:

[code]

[2016-09-15 06:15] steddyman commented on #6013
I haven't. Sorry, I couldn't see anywhere in the documentation about how to do it though I did see a mention of it in one of the updates.

How do you configure the Snapfile then? Do you just put the primary language in or use "default"? I thought Deliver relied upon the Screenshots.html created by Snapshot referencing all the files.  I had already tried creating one screenshot then creating the co

[2016-09-15 07:30] Dudi00 commented on #6095
@TKBurner Yes it is

[2016-09-15 08:17] pernilla commented on #4621
I did run match nuke and match development twice, the second time it worked! Weird.  will look at the fix me, not sure yet.

[2016-09-15 09:02] znerol commented on #1631
It looks like iTunes Connect recently got an update and now it seems to be possible to also _create_ new iap products through the api.

The new routes include:
* GET `/ra/apps/#{@app.apple_id}/iaps/#{@iap.type}/template`
* POST `/ra/apps/#{@app.apple_id}/iaps`
* PUT `'/ra/apps/#{@app.apple_id}/iaps/#{@iap.addon_id}`

Not sure how review screenshots can be uploaded/attached though.

[2016-09-15 09:03] lferro9000 commented on #5681
Have been a bit busy latelly... Will get back to this as soon as possible.

[2016-09-15 09:21] WilliamParty opened #6132 "Lane list"
Hi everybody,

I was wondering if there is a way to know what lanes are defined in a specific Fastfile.

Thank you!

[2016-09-15 09:51] CurlyHeir commented on #5163
sill had problem with gym in XCode 8 GM, seems like you cant have opened xcode if you run gym

[2016-09-15 09:52] jalmaas commented on #6131
Seems link the path is set wrong. Double slash after "Developer". I have the same problem

[2016-09-15 10:02] jalmaas commented on #6003
The toolchainpath contains double slash after `Developer`

[2016-09-15 11:40] steddyman commented on #6013
Also, this other requests seems to indicate it does not have this functionality (last post):

https://github.com/fastlane/fastlane/issues/5771

[2016-09-15 12:01] pawelus commented on #5631
@TKBurner unfortunately update to the latest scan version didn't help

[2016-09-15 12:09] lucianomarisi commented on #1931
now that xcodebuild supports the flag `-only-testing:TestBundle/TestSuite/TestCase` for `test`, is it more likely that this feature will be supported by scan in the near future?

[2016-09-15 12:10] truth3 commented on #6132
@WilliamParty You can do the following `fatlane lanes` to expose all the available lanes in your Fastfile.

[2016-09-15 12:23] npomfret opened #6133 "error: exportArchive: The operation couldn’t be completed. (IDEDistributionErrorDomain error 3.)"
I updated to the latest fastlane  today and my build has started failing.  Any idea what this error means:

[code]

[2016-09-15 12:34] kmpnz commented on #6082
Exactly the same error here:
[code]
 Setup:
[code]

[2016-09-15 13:26] freynolds opened #6134 "Language settings for new app"
fastlane 1.103.0

Hello, I'm skipping most of the common issue template because this is something I've been searching in the docs and can't find.
When creating an app with produce, it normally creates it with the default language English. Since most of my apps are only in spanish, I need to configure this so that I can set the default language to spanish and delete completely the english one. Is t

[2016-09-15 13:32] npomfret commented on #6133
Hmm, I think it was because I now need to use xCode is - is that correct?  Anyway, I've upgraded it and now get a different error:

`Exit status: 65`

Thats it!  Can't see any other error.

[2016-09-15 13:33] npomfret commented on #6133
Ah, thi was hidden way up in the log:

[code]

[2016-09-15 14:05] npomfret commented on #6133
Switched off xocde and it started working

[2016-09-15 14:05] #6133 closed

[2016-09-15 14:39] RobertNNms commented on #6118
+1

[2016-09-15 14:56] WilliamParty commented on #6132
Thank you @truth3 ! Very much appreciated ;)

[2016-09-15 15:34] #5049 closed

[2016-09-15 16:18] brianmichel commented on #6101
@TKBurner I'm happy to take this on, I assume I'll have to patch both shenzhen (at the previous comment mentions) and provide an update to the Hockey action within Fastlane to offer this as an option, correct?

Are there any other details I'm missing?

[2016-09-15 16:48] apouche commented on #5358
I tried without using bundle, but I had the exact same issue

[2016-09-15 16:52] Brett-Best commented on #5358
@apouche I found the logs inside of `/var/folders/sp/wjlf5_qx3034g7g29xhhy5c80000gn/T/CaptainJet_2016-09-14_17-01-31.485.xcdistributionlogs` to be helpful. Feel free to DM me.

[2016-09-15 16:56] #5358 closed

[2016-09-15 16:57] jeremymlane commented on #1529
@nolanwilson It works as intended for me.

+1 on this issue. It'd be nice if Deliver did this automatically.

[2016-09-15 17:01] rmato commented on #4197
Same here, the problem appeared when upgrading Fastlane

[2016-09-15 17:05] dhoskins opened #6135 "scan fails on scheme with quote in name (')"
### New Issue Checklist
- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

I have created a test lane in my fastfile, pointing to my scheme whose name contains a single quote `'`.  Fastlane generates a command which is piped to `tee`, which fails to escape the quote.
#

[2016-09-15 17:36] bpham711 opened #6136 "Pilot - Is there a way to add a tester to a Group?"
### New Issue Checklist
- [ x] Updated fastlane to the latest version
- [x ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

We have many different groups and I'd like a way to add new testers to specific groups in TestFlight. Is there a way to do that with Pilot?

[2016-09-15 17:57] sylvek commented on #4197
working perfectly with XCode7.3 but i have this issue with all of my projects under XCode8.

[2016-09-15 18:09] KrauseFx commented on #6128
Currently you could probably just migrate the file locally on your machine, until we provide a fix 👍

[2016-09-15 19:25] maschall opened #6137 "[Sigh] recreating provision profiles even with valid certificate"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description
##### Complete output when running fastlane, including the stack trace and command used

[code]

sigh version (run `fastlane -v`): 1.10.2

Do you use bundler to execute fastlane (i.e. `bundle exe

[2016-09-15 19:27] #6123 closed

[2016-09-15 19:49] NicosKaralis commented on #6058
Question, could we solve this problem using a more dynamic way to select the simulator?

I managed to solve this problem updating the following ``snapshot-1.14.0 lib/snapshot/test_command_generator.rb # L81``

    def find_device(device_name, os_version = Snapshot.config[:ios_version])
      devices = FastlaneCore::DeviceManager.simulators.select do |sim|
        sim.name.strip == device_name.stri

[2016-09-15 19:52] maschall commented on #6137
Verified with Charles, that the certificateIds is returning an empty array

[2016-09-15 20:02] tehnoir commented on #6137
Confirmed here as well. Adding a device to a profile an updating results in a new profile being generated that only contains that single device.

[2016-09-15 20:14] harshabonthu commented on #6137
I am facing a similar issue as well. I was getting multiple profiles created when ever new device is added so did some testing and noticed as below.

I did `'match nuke distribution'` and then `'match adhoc'`

If I run `'sigh download_all'` I see a message ```Skipping invalid/expired profile 'match AdHoc com.appname' ``` even though the profile is still valid on portal.

I see multiple provisionin

[2016-09-15 20:21] CraigSiemens commented on #6137
Running into the same issue as well.

`sigh download_all` reports that all provisioning profiled are invalid/expired but developer.apple.com shows them all as being active.

[2016-09-15 21:05] stevekohls commented on #6084
So I'm in iTunes Connect now, and everything is working great. I'm closing this issue and will be opening two more for the items I mentioned above.

[2016-09-15 21:05] #6084 closed

[2016-09-15 21:57] stevekohls opened #6138 "spaceship incorrectly reports "Successfully logged in to iTunes Connect" for a user who is not in iTunes Connect."
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

`spaceship -u [my email]` incorrectly reports "Successfully logged in to iTunes Connect" for a user who is not in iTunes Connect.

When initializing  a new project using `fastlane init --verbose

[2016-09-15 22:03] stevekohls opened #6139 "Show the name of the service which reports an "Unauthorized Access" error"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

I initialized a new project using `fastlane init --verbose` and I am received an "Unauthorized Access" error. This happened because I was not a user in my company's iTunes Connect account.
It wo

[2016-09-15 22:15] raven commented on #6118
+1

[2016-09-15 23:23] #6129 closed

[2016-09-15 23:23] #6132 closed

[2016-09-15 23:23] KrauseFx commented on #6132
Thanks for your help @truth3 👍

[2016-09-15 23:53] stevenbaker commented on #6137
Seeing same thing as @CraigSiemens and @maschall above.

I'm not a fastlane developer, so my hunches may be off, but I have a strong suspicion that `developerservices2.apple.com` is returning bad data.  Somebody please double check my work here.  :-)

At the commandline, I performed the following:

[code]

Within the logger output, I see ...

[code]

Crazy thing is, when I open this _same exact pr

[2016-09-15 23:54] mgrebenets opened #6140 "[gym] gym swallows dependency errors in Xcode 8 builds"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Code signing issues are not printed to stdout by fastlane after migrating to Xcode 8.
The archive fails with error code `65` and `fastlane` properly reports the failure.
However, `fastlane` do

[2016-09-16 00:20] KrauseFx commented on #6137
Thanks for the reports everybody, we're looking into the issue right now 👍

[2016-09-16 00:35] KrauseFx commented on #6137
Could you try running sigh using
[code]
or
[code]

and see if that works for you? Still working on a fix, I'm trying to find the spot in _sigh_ that's causing the problem 👍

[2016-09-16 00:39] maxydon opened #6141 "Sigh download_all Skipping invalid/expired profile"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue description
sigh download_all -> "Skipping invalid/expired profile" even though sigh manage and developer.apple.com said all provisioning profiles were valid

##### Complete output when running fastlane, i

[2016-09-16 00:46] maschall commented on #6137
It still has the issue, because the problem is on this [line](https://github.com/fastlane/fastlane/blob/master/sigh/lib/sigh/runner.rb#L68) and the check for skip_certificate_verification is below that.

I was going to try removing the `certificate_valid?` call [here](https://github.com/fastlane/fastlane/blob/master/spaceship/lib/spaceship/portal/provisioning_profile.rb#L382) and see if it works w

[2016-09-16 01:00] KrauseFx commented on #6137
Alright, thanks, I noticed the error is somewhere else, so please ignore my last question

[2016-09-16 01:23] KrauseFx commented on #6137
I have prepared https://github.com/fastlane/fastlane/pull/6143, which will access a separate API to get the list of certificates for a provisioning profile to detect if it's valid. If you have a minute, please try installing it and let me know if it works for you 👍

[2016-09-16 01:43] triage commented on #6141
we're having this issue as of today as well. our profiles are definitely valid and not expired.

[2016-09-16 01:46] maschall commented on #6141
This sounds like the same issue as #6137

[2016-09-16 01:58] mgrebenets commented on #4397
Fixed in #5130.

[2016-09-16 01:58] #4397 closed

[2016-09-16 02:02] maschall commented on #6005
@KrauseFx in our Fastfile, we have to do the following `sh 'cd ..; pod update'` for it to work properly (pod update can be ran from any subfolder, but our post_install required from the project folder).

[2016-09-16 02:18] stevenbaker commented on #6137
@krausefx @maschall Works for me!

[code]

Thanks so much!  Great work.

:shipit:

[2016-09-16 03:09] SandyChapman opened #6144 "sigh: Cannot create or download AdHoc provisioning profile with Enterprise account"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I'm attempting to download an existing AdHoc provisioning profile (not InHouse!) from my Enterprise account. However, whenever I try to use the `--adhoc` flag the operation fails. Without the

[2016-09-16 03:19] SandyChapman commented on #6144
@fastlane-bot : Thanks, but no. I can properly build my app with the existing profile and identity.

[2016-09-16 03:26] SandyChapman commented on #6144
Also, I should note, this was working within the last couple months, so it's been broken fairly recently.

[2016-09-16 04:34] zhonghuiwen commented on #1860
I managed to solve this issue by setting the toolchain to use swift 2.3
[http://stackoverflow.com/a/39523759/2490135](url)

[2016-09-16 05:26] kostiakoval commented on #5998
I have the same issue (Xcode8, Swift 2.3). Disabling `use_legacy_build_api` kinda solved the problem but now I get the other problem
[code]
Looks like it's the same error as #5358
BTW @nafu I can't run the example project, https://github.com/nafu/FastlaneWebKitFailure/tree/xcode-8-with-swift2.3 it requires match certificates or just fails

[2016-09-16 05:55] Dudi00 commented on #6095
@antgly So at this moment you did remove two factor auth?

[2016-09-16 06:04] gmogames commented on #6144
This is not just happening on Enterprise, I'm having the same problems with a regular developer account.

This was working fine last month, all of a sudden I went to the developer portal and found out that I had hundreds of provisioning profiles created while I was expecting sigh to download the existing one as it was doing before.

I ran
[code]

But everytime I run `sigh --app_identifier com.mybu

[2016-09-16 06:29] fitch commented on #3876
I seem to be getting the same error with `fastlane 1.103.0`. I have a `"` in my password.

[2016-09-16 06:59] antgly commented on #6095
I have. I'll try again this weekend.

[2016-09-16 07:11] KrauseFx commented on #6005
@maschall yeah, that sounds about right 👍

[2016-09-16 07:12] nafu commented on #5998
@kostiakoval

You need to change [Appfile](https://github.com/nafu/FastlaneWebKitFailure/blob/xcode-8-with-swift2.3/fastlane/Appfile) to your values. Also you need to create your own app on provisioning portal before.
Let me know whether it works. :innocent:

[2016-09-16 07:14] KrauseFx commented on #6137
Thanks everybody, I just pushed https://github.com/fastlane-old/sigh/releases/tag/1.10.3, let me know if that works for you 🚀

[2016-09-16 07:54] andyh200 commented on #6090
This looks to be resolved now with deliver 1.13.3 and bundler 1.13.1

[2016-09-16 07:54] #6090 closed

[2016-09-16 08:17] aral opened #6149 "Snapshot error: Xcode 8: Failed to expand identifiers … The operation requires a selected developer portal team"
### Update

OK, so those were *warnings* not errors and the real reason the snapshot was failing was because the UI test code hadn’t been updated to Swift 3.

Closing this.

### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Running Snapshot o

[2016-09-16 08:34] ConfusedVorlon commented on #5285
Interesting thing here - after hitting this with deliver, I then tried to make a change and save manually within iTunes connect. I hit the same error.

Logging out and in again seemed to reset it.

Do you guys have any relationship with the iTunes connect team? It seems that they have just put in rate limiting on the assumption that we're going to share screenshots between device families, rather

[2016-09-16 08:44] #6149 closed

[2016-09-16 08:57] geoHeil commented on #6059
In case I run match nuke clearly the certificate is listed and found in the repository.

[2016-09-16 09:18] yakimant commented on #5684
I have the same error, when there are no codesigning identities in keychain.

[2016-09-16 09:42] jcampbell05 commented on #4928
Perhaps you could move this into a plugin to be developed seperatley ?

[2016-09-16 10:57] pahnev commented on #5730
I turned @nikolaykasyanov 's gist into plugin. https://github.com/pahnev/fastlane-plugin-latest_hockey_build_number
I guess it needs some tests before it can be added to the main plugin repo, but this works for me now.

[2016-09-16 11:08] eysteinbye commented on #4197
I get this issue on all my XCode 8 projects
Using: fastlane 1.103.0 , sigh 1.10.3 and gym 1.9.0
It works when I archive from XCode, but not Fastlane

[code]

[2016-09-16 11:23] nikolaykasyanov commented on #6144
Same here, this started happening today.

[2016-09-16 11:47] etolstoy commented on #4197
Same here, on all of our projects.

[2016-09-16 12:08] apouche commented on #5358
Thanks @Brett-Best I'm curious to know exactly how you fixed this beucause I could. I tried upgrading ruby (using RVM) to 2.2.3 but still get the same error message.

As you suggested, I removed all unwanted certificates and prov profiles and I had a clean output but with no real breakthrough

[code]

Which the proper certificate is selected. But I still this in the critical log:

[code]

The stan

[2016-09-16 12:34] Brett-Best commented on #5358
Hi @apouche did you want to DM me on [Twitter](https://twitter.com/brettbestaus)?

[2016-09-16 12:39] SandyChapman commented on #6144
Some more details. I reproduced the exact set of gems that was successful two months ago and its failing now too. My guess is that Apple has changed the API in someway that breaks spaceship. I think this is a deeper issue than just sigh.

[2016-09-16 12:46] romanr commented on #6137
After this update ```sigh download_all``` works.
But the problem with endless regeneration of profiles still there, on each run sigh generates newer profile with new timestamp:

[code]
On each run it generates newer profile with new timestamp: ```Creating new provisioning profile for '<app>' with name '<app> AdHoc 1474029713'```

[2016-09-16 13:22] PitchLabsAsh commented on #1393
Using xcode8 I also still get the same problems when trying to use env_var to specify the profile.
I have to delete any old profiles off the machine to get it to pick the correct one.

[2016-09-16 13:28] wilrnh commented on #6144
Agree. Same here for Adhoc and Inhouse (Enterprise) builds. Doesn't seem to affect tvOS builds, however (yet?)

[2016-09-16 13:29] PitchLabsAsh commented on #5374
Yes it still happens with force: true.

See issue https://github.com/fastlane/fastlane/issues/1393

[2016-09-16 13:35] banaslee commented on #1740
@TKBurner @phynet as of v2.7.0, I could only make the entries on my .strings files to be recognised work if I set them to UTF-16 **(not Little-Endian)**.
I used iconv to check the encoding and Xcode to change it.

[2016-09-16 13:52] SandyChapman commented on #6141
Same thing as #6144 too, I think.

[2016-09-16 14:27] wilrnh commented on #6144
Seems to be affecting tvOS builds now :(

[2016-09-16 14:30] bkrijgsman commented on #6082
** ARCHIVE FAILED **

Same here

The following build commands failed:
Check dependencies
(1 failure)
[16:23:04]: Exit status: 65

When i try to archive in Xcode i get the following fault:

Code signing is required for product type 'Application' in SDK 'iOS 10.0'

This can be fixed by adding a provisioning file manually. I think this error has something todo with code signing.

[2016-09-16 14:34] jlubeck commented on #1896
Still getting this randomly. Sometimes it succeeds, others it doesn't. I got this yesterday:

[code]

As you can see, it says it fails ([17:24:47]), but then it says it succesfully completed the job ([17:25:00]). And effectively, the file is in iTunes after this. Maybe you can give a little timer or something to see if you get that success before throwing an error?

[2016-09-16 14:36] mfurtak commented on #6058
That makes sense to me. What do folks think about the following syntax?

[code]

If you have no need for devices that aren't on the latest/configured OS version, we could still allow the following to work:

[code]

[2016-09-16 15:01] bkrijgsman commented on #6118
@chrisfsampaio Thank you so much, this was exactly what i needed.
No I can enjoy my friday afternoon drinks 👍

[2016-09-16 15:01] bkrijgsman commented on #6082
This fixed my issue! https://github.com/fastlane/fastlane/issues/6118

[2016-09-16 15:07] apouche commented on #5358
I didn't want to bother you, I was able to fix this issue on my CI machine (although from all the changes made I'm not sure which one triggered the fix). But it's still failing on my local machine. This is a little less important now even though I still dont get fully what's going on here.

[2016-09-16 15:11] Brett-Best commented on #5358
@apouche it would be no trouble at all. Hmm that's annoying, are you running the same version of everything on both machines?

[2016-09-16 15:25] mcactive commented on #6082
Thanks @bkrijgsman fixed it for me too!

[2016-09-16 15:35] mcactive opened #6151 "Issues with deliver, can't upload binary / IPA"
### New Issue Checklist
- [ X ] Updated fastlane to the latest version
- [ X ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

Having issues uploading the app to iTunes with deliver. First everything worked using `FASTLANE_ITUNES_TRANSPORTER_USE_SHELL_SCRIPT=1` but for some developer accounts it doesn't seem to work

[2016-09-16 16:16] jserviss commented on #6144
I am seeing the same issue.
[09:53:18]: Starting login with user 'xxxxxx@xxxxx.com'
[09:53:20]: Successfully logged in
[09:53:20]: Fetching profiles...
[09:53:21]: No existing profiles found, that match the certificates you have installed locally! Creating a new provisioning profile for you

[2016-09-16 16:50] mfurtak commented on #6058
I chatted with @KrauseFx about this, and he has a different solution in mind 😄

[2016-09-16 17:05] RishabhTayal commented on #5665
The latest version of ruby is `2.3.1`. I willl try to use the latest version and check again.

[2016-09-16 17:06] lightbow commented on #6058
You guys are wonderful, and sorry I didn't check the thread right after your reply. I have no strong opinions on syntax.

[2016-09-16 17:16] tehnoir commented on #6137
After updating sigh, spaceship, and fastlane, I'm still seeing the same symptoms when using Spaceship to add devices to profiles. When selecting a profile by name with `"Spaceship.provisioning_profile.all.find { |p| p.name == "Nick Fastlane Test" }"` it reports devices as an empty array: `devices=[]`.

If I push a new device to that profile and do an update, the profile will only contain that sing

[2016-09-16 18:16] apouche commented on #5358
Yes everything is exactly the same, it's the kinda of issues that can drive someone to insanity. Fortunately it's working on the CI so that's the main point though.

[2016-09-16 18:27] fraserhess opened #6152 "Deliver fails to create a new version in iTunes Connect for a Mac App"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

Deliver fails to create a new version in iTunes Connect for a Mac App.
In `spaceship/lib/spaceship/tunes/tunes_client.rb:254` the platform is defaulted to 'ios'. The callers do not override. Cha

[2016-09-16 19:02] chshapiro opened #6153 "Missing_method"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

When I try to run any fastlane commands, I get the following error:

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Configuration Files

P

[2016-09-16 19:40] KrauseFx commented on #6118
Thanks 👍 How does this work if you have multiple targets?

[2016-09-16 20:15] KrauseFx commented on #6137
Thanks @tehnoir @romanr I'm looking into this. Looks like I only fixed the `valid?` problem, looking into devices right now 🚀

[2016-09-16 20:17] NicosKaralis commented on #6058
I strongly dislike the syntax provided by Michael. It feels dirty and complex.

The point of fastlane is to save time in a elegant way. If fastlane can (and should) find the correct device without user input then the choice is obvious.

On Xcode 6 I had some simulators named like "iPhone 4s (8.4)". On Xcode 8 you can add any device with any sdk installed with any name you want.
Fastlane should be

[2016-09-16 20:26] mfurtak commented on #6058
That's OK @NicosKaralis - @KrauseFx strongly disliked it as well 😄

[2016-09-16 20:43] KrauseFx commented on #6137
I was doing more research

https://twitter.com/KrauseFx/status/776881915366219777
https://twitter.com/KrauseFx/status/776882447132745728
https://twitter.com/KrauseFx/status/776883600604004352

I tried to avoid downloading the profile for performance reasons
since we now have to send one request for each profile, just to detect its type
and we can’t do a lazy loading, since we need the class type
n

[2016-09-16 20:59] KrauseFx commented on #6137
And more discoveries https://twitter.com/KrauseFx/status/776887607456178177

[2016-09-16 21:06] thiagofelix opened #6154 "March integration with StackExchange/blackbox"
Is there any plan to strengthen match cryptography process by integration with tools like https://github.com/StackExchange/blackbox?

Does anyone thinks it is a good idea at all?

I think the idea is move from a shared passphrase (OpenSSL key) and start using individuals Public/Private pairs instead.

[2016-09-16 21:07] KrauseFx commented on #6154
Thanks for the idea, however we don't plan on doing so. git itself already handles the public private key encryption, and you have fine control over who gets access to the git repo itself 👍

[2016-09-16 21:07] #6154 closed

[2016-09-16 21:14] KrauseFx commented on #6137
@tehnoir I just pushed https://github.com/fastlane/fastlane/pull/6155 which should fix the device issue you mentioned. Could you give it a try?

[2016-09-16 21:35] KrauseFx commented on #6137
@romanr I couldn't reproduce your issue, do you think you can find a way to send me some steps to reproduce?

[2016-09-16 21:40] tehnoir commented on #6137
@KrauseFx I can confirm that fixes my issue. Now when finding a profile by name, the device list is no longer empty. Also, when adding a new device to a profile and updating the profile, it now adds the new device while preserving all existing devices on the profile.

[2016-09-16 21:44] lakamsani commented on #6082
The solution suggested in https://github.com/fastlane/fastlane/issues/6118 works if you are not using match and are OK with the new 'Automatic' code signing feature in XCode8. On the other hand if you are using match (like I 'am) I got a setup to build using the 'Manual' approach where you need to supply PROVISIONING_PROFILE to xcargs instead of PROVISIONING_PROFILE_SPECIFIER. Also with Xcode8 we

[2016-09-16 22:13] KrauseFx commented on #6137
I just added some final touches to https://github.com/fastlane/fastlane/pull/6155, @tehnoir I'd appreciate if you could give it one more try, just to make sure this is working before we push a new version 👍

[2016-09-16 22:14] owurman commented on #6137
I'm experiencing this and happy to try the fix, but I'm brain farting and can't figure out how to apply the patch? I'm synced up to the latest gem.

[2016-09-16 22:16] KrauseFx commented on #6137
@owurman are you using bundler?
If not, please clone the repo, check out the `fix-spaceship-again` branch, and run `cd spaceship; bundle install && rake install`

You might have to run `[sudo] gem install bundler` first

[2016-09-16 22:17] drosenstark opened #6157 "How to use `increment_build_number` to change build number?"
How do I get my `Current Project Version` to be the actual build number in my Xcode target for iOS?

## `increment_build_number` updates this
![Current Project Version](https://dl.dropboxusercontent.com/s/lrj5z1oevi2oxv5/Screen%20Shot%202016-09-16%20at%206.14.46%20PM.png?dl=0)

## `increment_build_number` does not update this
![](http://dr2050.com/automatic-images/BuildNumberForReal.png)

(I reali

[2016-09-16 22:21] owurman commented on #6137
Have not been using bundler to my knowledge. I'll install it and clone the repo, and let you know. Anything I need to specify in my environment to run the cloned version rather than the gem-installed version, or should explicitly running the cloned version of fastlane be enough?

[2016-09-16 22:22] KrauseFx commented on #6137
@owurman you should be fine, follow the instructions above, clone the repo, check out the branch, and run the command I sent you 👍

[2016-09-16 22:30] owurman commented on #6137
Unfortunately, didn't go so smooth. fastlane now crashes:
/Library/Ruby/Gems/2.0.0/gems/bundler-1.13.1/lib/bundler/rubygems_ext.rb:45:in `full_gem_path': uninitialized constant Bundler::Plugin::API::Source (NameError)
...

I think something screwed up in my setup when I ran the installation.

[2016-09-16 22:30] programmin1 commented on #6099
Ok. Sometimes clean works, sometimes it doesn't (you can nearly guarantee it will timeout if you are unzipping a 1gb file on the same hard disk while trying this):

It would be great to have a timeout or a --clean false that disables the clean step..

[code]
 ...and then it either completes successfully, or keeps timing out because build clean doesn't happen in ten seconds!

[2016-09-16 22:34] owurman commented on #6137
Oh OK, I shouldn't have run rake install with sudo, I think, but it fails without it:
spaceship 0.32.3 built to pkg/spaceship-0.32.3.gem.
rake aborted!
Couldn't install gem, run `gem install /Users/oded/fastlane/spaceship/pkg/spaceship-0.32.3.gem' for more detailed output

Running the gem install manually (without sudo) gives me
ERROR:  While executing gem ... (Gem::FilePermissionError)
    You do

[2016-09-16 22:35] drosenstark commented on #6157
Some of my targets were actually updating and others weren't. It turns out that the top syntax works for Xcode but not for `avgtool`... so you have to replace in your `.pbxproject`

![](https://dl.dropboxusercontent.com/s/sr748orl2xs7gtd/Screen%20Shot%202016-09-16%20at%206.34.43%20PM.png?dl=0)

[2016-09-16 23:03] drosenstark commented on #6157
Okay, that solved it. So the answer was "run avgtool and see what's up" or something like that.

[2016-09-16 23:03] #6157 closed

[2016-09-16 23:09] KrauseFx commented on #6137
We just pushed the new release: https://twitter.com/FastlaneTools/status/776920815522553856, let us know if that fixes the issue for you 👍

[2016-09-16 23:30] lemonkey commented on #4220
Is this still an issue with the latest fastlane release?

[2016-09-16 23:51] mgrebenets opened #6164 "[match] Match does not recognize profiles created by previous version"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I've used match to create certificate and profile in ADP.
The match version was `0.6.2`
All worked well for a while and people on the team we able to use read-only mode to install certificate

[2016-09-16 23:53] owurman commented on #6137
Unfortunately, whatever I did with bundle/rake isn't fixed by a gem update. I have to figure it out and clean it up.

[2016-09-17 00:22] tehnoir commented on #6137
@KrauseFx Sorry for the belated response. Just did another pass with the latest push, and all is still working well for me. Thanks for the quick fix.

[2016-09-17 00:23] owurman commented on #6137
OK, the issue is actually with bundler v1.13.1 which I installed, assuming I didn't have bundler at all. I rolled back to 1.12.5 and everything is fine now. The fix seems to work but I'll verify on another app in a moment.

[2016-09-17 00:27] jpmcglone commented on #4197
Same here. Xcode 8

[2016-09-17 00:37] jpmcglone opened #6165 "Error with gym; Exit Status: 65"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

Trying to build an ENTERPRISE build that will get distributed on Crashlytics or HockeyApp.

Maybe this error is easy for some of you:

[code]
### Environment

fastlane version (run `fastlane -v`

[2016-09-17 00:41] SandyChapman commented on #6144
Looks like they've fixed this issue on #6137.

[2016-09-17 00:41] #6144 closed

[2016-09-17 00:51] gmogames commented on #6144
Actually it didn't, I've updated to the new version, same problems

[2016-09-17 00:57] gmogames commented on #6144
Nevermind, The update didn't work, but now it's fine. Thanks!

[2016-09-17 01:40] owurman commented on #6137
Confirmed, works on the other app, too.

[2016-09-17 10:20] bkrijgsman commented on #6118
We don't use fastlane, only the fastlane tools (deliver / match / gym) to deliver our apps. In gym we specify the parameters manually for each target.

[2016-09-17 13:07] zjhiphop opened #6167 "'itc_service_key': [!] undefined method `[]' for nil:NilClass"
### New Issue Checklist

- [ ] Updated fastlane to the latest version  ( No, i tried to update, but got nothing to update like: )
[code]
- [x] I have read the [Contribution Guidelines] (https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Configuration Files

Pl

[2016-09-17 13:24] akshaynhegde opened #6168 "Unable to add new lanes - Any edit in the fast file are not recognised."
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Any change I make in the fast file are not recognised. The new lane am trying to adding is not getting recognised. I added an empty lane called "tryout", and am unable to run that lane because

[2016-09-17 14:20] samsonpaul87 commented on #5928
@mfurtak ... Sorry for the late reply. I was on a vacation.

I just got it working on my sample project :) .

I did the following

- upgraded screengrab to latest version
- added missing permissions in debug manifest file
- updated my gradle version

That's it :+1:

Till now, I was working on only screengrab file. Right now, I am trying to move it to fastfile so that I can take screenshots and upl

[2016-09-17 16:16] steddyman opened #6170 "Submit for Review not working but reports it has"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

I am trying to fully automate submission of my apps to the app store and I am 99% of the way there, but the Submit for Review option is not working.  The output from the command indicates it has worked, however I hav

[2016-09-17 16:42] ConfusedVorlon commented on #5285
I have submitted this as an iTunes Connect bug #28351542

[2016-09-18 05:25] victoraugustolls opened #6171 "Apple TwoStep Verification"
### New Issue Checklist
- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

When using pilot with CircleCI, I'm prompted to input my two-step verification code from Apple. This is not an issue and this is supposed to happen, I'm just wondering if there is a way around i

[2016-09-18 06:31] #6121 closed

[2016-09-18 06:31] rompic commented on #4856
would also love to see this to run scan without "test" in order to analyze using oclint on a legacy project without tests

[2016-09-18 07:48] zake1989 commented on #4197
Same error with match, Xcode 8

[2016-09-18 09:19] etolstoy commented on #5910
Waiting for this fix - can't build with Xcode8.

[2016-09-18 11:35] hamid-rocket opened #6172 "Stdc++ library issue for installing fastlane on Fedora 24"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

I cannot install fastlane on Fedora 24.
it seems it cannot find stdc++ even though I have already installed the library:

##### Complete output when running fastlane, including the stack trace a

[2016-09-18 12:15] pikaboo commented on #4220
I am getting this issue as well, and it is new, Before last week I never had problems, now I cannot build at all.

It seems that "skip_fetch" and "skip_install" don't actually work

**If I delete the profile on iTunesConnect manually, This is my result:**
[code]

**but the immediate second run yields**

[code]

[code]

Configuration file - i am using command line command
[code]

Appfile

[code]

D

[2016-09-18 15:04] #5362 closed

[2016-09-18 15:50] ben73 commented on #6165
Same issue.
In ~/Library/Logs/gym/<my_build_name>.log
[code]

[2016-09-18 17:24] #5363 closed

[2016-09-18 17:28] ben73 commented on #6165
https://docs.fastlane.tools/codesigning/XcodeProject/

[2016-09-18 17:43] lexorus commented on #4197
Same error. Xcode 8.

[2016-09-18 18:44] #5333 closed

[2016-09-18 20:19] Saurman commented on #734
@TKBurner it is using cocoa pods but i am still not seeing apps on web site. Steps to reproduce:
1) create new project and setup fabric using cocoa pods and common installation manual
2) build and run to make sure it works
3) setup fastlane to produce IPA file
4) change bundle ID
5) run fastlane and install created IPA
6) run app - nothing happens, app is not registered on fabric web site

[2016-09-18 21:07] s2imon commented on #6013
I've tried "That's already possible, have you tried putting screenshots into a default directory next to your languages?", but this gave me an error indicating this issue?

[2016-09-18 22:34] KrauseFx commented on #6167
@zjhiphop The file exists for me. Did this work before? Have you tried waiting a few hours and trying to fetch the URL again?

[2016-09-18 22:54] KrauseFx commented on #6121
You can open the Keychain on the mac you already used _match_ on and search for "match" 👍

[2016-09-18 22:55] KrauseFx commented on #5380
[code]

is that the reason?

[2016-09-18 22:58] KrauseFx commented on #6171
Does this section in the docs help? https://github.com/fastlane/fastlane/tree/master/spaceship#2-step-verification

[2016-09-18 23:02] KrauseFx commented on #5383
Hey @kalvish21, could you also share your Fastfile please? 👍

[2016-09-18 23:16] #5383 closed

[2016-09-19 00:19] josephmisiti opened #6174 "Fast Lane Has Issues Building iOS Projects Using CoreData"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I started a new ios project (obj c) from scratch and checked "use core data" as the option. The ran `fastlane init` and `fastlast gym` and see the following output

[code]

### Environment

fa

[2016-09-19 00:21] owurman commented on #4431
Updating my submission_information seemed to fix the same issue for me, too. What I had was slightly outdated. So if you are hitting this and thinking to yourself "but I have my submission information set up already!"... double check.

[2016-09-19 01:15] KrauseFx commented on #6174
This is a compiler error. I assume it has something to do with a new Version of Xcode, but still using Swift 2 or something similar?

[2016-09-19 01:27] KrauseFx commented on #5383
Was this resolved?

[2016-09-19 01:29] kalvish21 commented on #5383
Yes. My AppFile had some invalid arguments that were creating the issue.

[2016-09-19 01:30] KrauseFx commented on #6168
I just gave your Fastfile a try it's working just expected. Are you sure you're editing the right file?

[2016-09-19 01:54] KrauseFx commented on #6059
Could you post the complete tree (all files and folders) of your git repo that contains your certificates and profiles?

[2016-09-19 02:04] victoraugustolls commented on #6171
Actually it does, I'm sorry for not searching for it better! And thanks for pointing me into the right direction!

[2016-09-19 02:22] mfurtak commented on #6167
The "squid" mentioned in the error message is probably: http://www.squid-cache.org/

Given the note about excessive load, and not being able to create a socket, this feels like perhaps Apple's servers are being DDoS attacked in your region, or are otherwise under stress.

I don't think it is an issue with _fastlane_. My suggestion would be to wait a little while and see if it clears up 👍

[2016-09-19 03:06] mfurtak commented on #5928
Glad you are up and running! 🚀

[2016-09-19 03:06] #5928 closed

[2016-09-19 03:35] jk2K opened #6176 "supporting store configuration in Pemfile for pem"
### New Issue Checklist

- [ x ] Updated fastlane to the latest version
- [ x ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

supporting store configuration in Pemfile for [pem](https://github.com/fastlane/fastlane/tree/master/pem)

### Environment
fastlane 1.103.0

[2016-09-19 04:19] geoHeil commented on #6059
That would be
[code]

[2016-09-19 04:46] akshaynhegde commented on #6168
Its the same fastfile that got created in after fastlane init. I just included it in the xcode project and editing it.  So yes, it must be the same file.

[2016-09-19 05:06] nickeyzzz commented on #4197
I've had this issue with XCode8, everything started working after I checked the code signing identity, Development team and provisioning profiles on my project's target - they where set incorrect or had missing values.

[2016-09-19 05:16] akshaynhegde commented on #6168
Hey Felix,
Just deleted the entire fastlane folder. Re run `fastlane init` . Here is the output (only last few lines)

[code]

Then I see a fastlane folder in my repo. Included it in teh xcode project. Just modified the description of one of the lanes. And when I run `fastlane lanes` , I see only the default generated lanes and none of my modifications

[code]

So, am I missing something here?

[2016-09-19 05:17] josephmisiti commented on #6174
@KrauseFx i downloaded xcoded beta from the developer site and started a new project. it was objective C, not swift.

[2016-09-19 06:44] #5347 closed

[2016-09-19 08:02] zjhiphop commented on #6167
Thanks guys. I already resolved this issue, the problem is caused by the Squid Cache.

[2016-09-19 08:02] #6167 closed

[2016-09-19 08:04] emendamus commented on #6171
One more question. How can I use spaceauth?
If I enter spaceauth, I'll get as a result: command not found.

[2016-09-19 08:18] fassko commented on #5380
For me the problem was with certificates. I was using old approach. Now with **match** it works like a charm. Thanks!

[2016-09-19 08:32] smaky opened #6178 "Snapshot with erase simulator and add photo duplicates photos in camera roll photos."
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

After `
snapshot --erase_simulator --add_photos fastlane/test_img.jpeg --ios 9.2 --scheme iOSApp --devices 'iPhone 6s'
` in camera roll i have got all  images duplicated.

Proper solution should

[2016-09-19 09:34] whlsxl commented on #1676
Same issue!

[2016-09-19 10:52] dusek opened #6179 "pilot: "What to test is required" when passing "\n" as the `changelog` parameter"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

Pilot upload and build processing succeeds (iTunes Connect sends the "build finished processing" email, even pilot itself logs that "Successfully finished processing the build"), but `pilot` sti

[2016-09-19 11:32] Anders123fr commented on #5782
I have the same issue.

Can this commit fix it?
https://github.com/futuretap/fastlane/commit/d719893d881c7f717b04a861e1ce52b517cb2109

[2016-09-19 11:50] zake1989 opened #6180 "Xcode8 export failed with exit status: 70 when having two match account"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

I got two match accounts for enterprise distribution sign and App Store distribution sign separately. Before Xcode8 it works fine. After I update to Xcode 8, I have to change all those code sign

[2016-09-19 12:06] thiagofelix opened #6181 "device_grid broken markdown after post to Github"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Although the markdown preview generated on the stdout by the plugin looks correct, for some reason it seems to be breaking when uploaded to github. (see image below)

I believe it is because i

[2016-09-19 12:31] zake1989 commented on #6180
I already follow the guild and try the PROVISIONING_PROFILE_SPECIFIER doesn't work~~

[2016-09-19 12:32] zake1989 commented on #6180
The thing is  gym don't use the provision file I specify in the project.

[2016-09-19 14:31] chrisfsampaio commented on #6118
@KrauseFx with multiple targets, this would set the same provisioning profile for every target under the selected scheme. We can make that explicit in the parameter documentation.

In this particular case it works well because we only have one main target, which I would guess is the setup for most of the apps. Once it gets more complex, with multiple targets and different configurations (e.g. AppS

[2016-09-19 14:34] cepages commented on #4197
Guys I had the same problem with XCode 8, I fixed it when I checked the tab General ( in the target ) and selecting the right Provisioning profile in Signing ( Debug ) and Signing ( Release )

I tried to do the same in Build and Setting and it didn't work.

Also make sure Automatically manage signing is **deactivated**

I hope this helps :)

[2016-09-19 14:45] mfurtak commented on #3876
Hi @fitch - If you're still having trouble, do you mind opening a new ticket and providing your setup info and output from your run? Thanks 👍

[2016-09-19 16:03] icecrystal23 commented on #4220
Yes, this is still an issue.  The problem is this code in `sigh/lib/sigh/runner.rb`

    def fetch_profiles
        UI.message "Fetching profiles..."
        results = profile_type.find_by_bundle_id(Sigh.config[:app_identifier]).find_all(&:valid?)

Specifically the filter for `valid` entries at the end.  It is ignoring invalid profiles, which are specifically the ones we need to regenerate.  @Krau

[2016-09-19 17:18] lemonkey commented on #4220
Cool thanks for info about the workaround.

[2016-09-19 17:37] KrauseFx commented on #6171
@emendamus Ah, nice catch, I just pushed https://github.com/fastlane/fastlane/pull/6184 to fix this. In the mean-time, could you clone the repo and run `./spaceship/bin/spaceauth` until the next version is released?

[2016-09-19 18:04] JLZ commented on #4295
I'm having the same issue here. Fastlane version `1.103.0`. aws-sdk version `2.6.1`.

[2016-09-19 18:08] asfalcone commented on #5285
Thanks for keeping this issue going. We see that it's a problem but don't have the resources to address it this week. If anyone is able to submit a PR to upload the images in groups (maybe by language) that would be really helpful 🚀

[2016-09-19 18:25] gcamp commented on #5295
Having the same problem here

[2016-09-19 18:31] gcamp commented on #5295
Actually got it working simply by ```enable_services --app-group``` before ```associate_group```. It would however be better that ```associate_group``` returns an error or enable the service when that call is done.

[2016-09-19 18:36] dirkoswanepoel opened #6185 "ls"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Configuration Files

Please copy the complete content of your `Fastfile` and any other conf

[2016-09-19 18:51] rmato commented on #4197
I tried @cepages recommendation and the ‘gym‘ command worked, but now ‘pilot‘ failed instead.
There's some problem with the provisionings and certificates. By the way, I'm using: ‘match‘ + ‘gym‘ + ‘pilot‘

Output:

‘‘‘
[15:35:34]: Ready to upload new build to TestFlight (App: 1044835201)...
[15:35:35]: Going to upload updated app to iTunes Connect
[15:35:35]: This might take a few minutes. Please

[2016-09-19 19:00] carlosefonseca commented on #6137
I saw that @KrauseFx was concerned about the number of requests to Apple endpoints but could it be possible to optimize something on the simple case of fetching a profile?

For instance, I call `sigh -a com.company.example` or `sigh(app_identifier:com.company.example)` on my scripts/fastfile and I get this

[code]

[2016-09-19 19:10] #6185 closed

[2016-09-19 19:50] KrauseFx commented on #6137
@carlosefonseca Thanks for letting us know, we're aware of the issue and we're trying to figure out a better approach, however it doesn't seem to be an easy fix

[2016-09-19 19:59] lemonkey commented on #5910
Same.

[2016-09-19 20:01] KrauseFx commented on #6059
Yeah, but that's why it's not working. You have to run _match_ without readonly, so that it can create the missing development certificates and profiles 👍

[2016-09-19 20:29] lakamsani commented on #5295
@gcamp  thanks for that workaround.

[2016-09-19 20:38] mfurtak commented on #4220
@pikaboo Is it possible that you don't have the private key or certificate in your local default keychain? The issue is that _sigh_ can't find the certificate from the developer portal installed locally.

Could you make sure that the certificate under "My Certificates" has "Imported Private Key" under the disclosure triangle in Keychain Access?

If possible, check out [_match_](https://github.com/

[2016-09-19 21:32] KrauseFx commented on #6164
Hey @mgrebenets, thanks for taking the time to report this issue.
We'd need some more information to work on a fix for this:

1. The complete output when running _match_, including the table of parameters
1. The complete tree of your _match_ repo that contains the certificates and profiles

[2016-09-19 23:00] i-schuetz commented on #4301
Can confirm the problem is `latest_testflight_build_number`

[2016-09-19 23:00] poolqf opened #6191 "Pilot, Xcode 8 and Automatic signing. ERROR ITMS-90161"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

It has been impossible to upload a build with Pilot, using Xcode 8 and automatic signing. It continuously says `ERROR ITMS-90161: "Invalid Provisioning Profile. The provisioning profile included

[2016-09-19 23:10] KrauseFx commented on #6191
Please follow the code signing guide posted by the bot, we recommend disabling automatic code signing and letting fastlane manage the certificates for you

[2016-09-20 01:34] zake1989 commented on #6180
Think I find out the problem, when gym start archive it sill use the configuration in the image below
<img width="573" alt="3" src="https://cloud.githubusercontent.com/assets/5278866/18654646/6a86fc4a-7f15-11e6-9c18-7f0f9c39d9a7.png">
so now the problem will be  how to change that configuration

[2016-09-20 02:58] KrauseFx commented on #5910
Hey everyone, so @mfurtak and I worked on this today, and added support for exposing those values with https://github.com/fastlane/fastlane/pull/6189.
However I'm surprised on why you can't build with Xcode 8. Did you follow the code signing guide for Xcode 8? https://docs.fastlane.tools/codesigning/XcodeProject/

[2016-09-20 03:41] williamsjj commented on #5066
@TKBurner Caused by invalid Provisioning Profiles that need to be re-issued...even though the error is hard to parse about what's going on.

[2016-09-20 05:07] geoHeil commented on #6059
So I need to nuke it first?
Because apple tells me the number of certificates is exhausted...
Felix Krause <notifications@github.com> schrieb am Mo. 19. Sep. 2016 um
22:01:

[2016-09-20 05:29] KrauseFx commented on #6059
Yeah

[2016-09-20 05:34] aarsland commented on #5910
Great, @KrauseFx! In our case we do builds for different customers from a base xcode project, so we need to set both teamId´s and provisioning profiles dynamically from the Fastfile, that’s why we needed this change.

[2016-09-20 06:47] MBaldo83 commented on #2670
This is an issue that I'm also having, I would like to know if there is a way that fast lane can update 'PRODUCT_BUNDLE_IDENTIFIER', as from Xcode 7 release notes, this is the recommended place to set the bundle id, not directly in the Info.plist, as Fastlane appears to do. Unless I've missed something.

[2016-09-20 07:27] WedgeSparda commented on #6122
Anyone can help with this? :(

[2016-09-20 07:30] mcany commented on #5259
@TKBurner No chance, it is not related to our case. We are trying yet still not able to fix the issue.

[2016-09-20 09:33] WilliamParty opened #6195 "Sigh is slow fetching profiles"
Hi everybody,

as of today I am experiencing slowdowns when sigh fetches profiles, some output:

[code]

As you can see ~8 minutes has passed since 'Fetching profiles' message and the 'found' messages.
After that it stucks on updating profiles. (as of now 30 minutes has passed since the Updating profiles message)

I'm running this on a blank app. The same behavior happens when sigh is launched eit

[2016-09-20 09:43] Po-Chang commented on #6118
@chrisfsampaio In my project, my share extension target and app's target using different provisioning profile, how can I use your solution?

[2016-09-20 09:55] ChristopherDrum commented on #5163
Xcode 8 GM, gym 1.9.0
Continuing issue with builds on Travis CI. Works locally just fine.
The dreaded "check dependencies" when trying to do automated builds for Fabric Beta distribution (Enterprise builds)

Using @tmm1 's advice, I spit out the gym log and finally see something that explains the situation

[code]
Oddly enough, I don't see anything in my own keychain that matches this either, but

[2016-09-20 11:15] poolqf commented on #6191
Moving to `match` fixed the issue, but would be interesting to have support for automatic signing. Is this on the roadmap?

[2016-09-20 11:38] chrisfsampaio commented on #6118
@marcuswu0814 The short answer is you can't 😕. Unfortunately `xcodebuild` doesn't provide an API to manipulate build settings per target.

If you want to "manually" manage code signing, you need to provide the correct provisioning profile names for each target in Xcode on the Build Settings tab.
You can also use [match](https://github.com/fastlane/fastlane/tree/master/match#readme) if you're worki

[2016-09-20 12:23] Seanyhorny77 opened #6196 "I'm not going anywhere else but here! Take comfort from my threads of a few parts too pull up on my mind awaiting a response!"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Configuration Files

Please copy the complete content of your `Fastfile` and any other conf

[2016-09-20 13:24] emendamus commented on #6171
Thank your for your response, I managed to to use spaceauth and exported the cookie as an environment variable.
But unfortunately I am still asked to enter the app-specific password.
But you are able to use it without any problems?

[2016-09-20 13:58] gregk8288 commented on #6195
I started having the exact same issue yesterday. Thought it was my internet connection.

`[15:49:44]: Starting login with user 'greg@hellocrowd.net'
[15:49:47]: Successfully logged in
[15:49:47]: Fetching profiles...
[15:54:31]: No existing profiles found, that match the certificates you have installed locally! Creating a new provisioning profile for you`

[2016-09-20 14:02] WedgeSparda commented on #6122
So finally I figured out my problem.

I needed a SSH Key from Bitbucket in order to login to my repository. So i followed these steps https://confluence.atlassian.com/bitbucket/set-up-ssh-for-git-728138079.html and finally I managed to log in to my repository from match.

[2016-09-20 14:02] #6122 closed

[2016-09-20 14:15] KrauseFx commented on #6195
Hey @WilliamParty, thanks for taking the time to report this issue. We're aware of the problem and are already investigating a good solution for this. We can't promise anything, but we're trying our best 🚀

[2016-09-20 14:21] mfurtak commented on #5163
Hi @ChristopherDrum - could you please start a new issue for your problem? We'd love to try to help 👍

[2016-09-20 14:22] WilliamParty commented on #6195
Thank you, keep up the good work! 🚀

[2016-09-20 14:27] KrauseFx commented on #6118
This is all actually described in https://docs.fastlane.tools/codesigning/GettingStarted/, in the [Xcode docs](https://docs.fastlane.tools/codesigning/XcodeProject/) it is described how you can set up code signing for multiple targets 👍

[2016-09-20 14:27] #6118 closed

[2016-09-20 14:28] KrauseFx commented on #6118
I'll close the issue for now, as fastlane's recommended setup is to specify either the profile in Xcode 8, or to use environment variables in Xcode 7 and below

[2016-09-20 14:30] lyndsey-ferguson opened #6199 "Import Certificate Action Log_Output cannot accept a value"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

There is a problem where the `log_output` parameter is a boolean, but not specified as such, so it picks up the default parameter type which is string. If one actually tries to use this, you g

[2016-09-20 14:30] lyndsey-ferguson commented on #6199
I have an open [PR](https://github.com/fastlane/fastlane/pull/6198)

[2016-09-20 14:30] chrisfsampaio commented on #6118
👍

[2016-09-20 14:35] KrauseFx commented on #6082
Have you all seen the updated code signing documentation for Xcode 8? https://docs.fastlane.tools/codesigning/XcodeProject/

Basically you have to make sure to select a provisioning profile in your `General` tab in the Xcode project 👍

[2016-09-20 14:46] Seanyhorny77 opened #6200 "Fast lane latest version"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Configuration Files

Please copy the complete content of your `Fastfile` and any other conf

[2016-09-20 14:48] Palleas commented on #6082
In our case we can't: we build with an enterprise certificate developer don't have (nor need?) on their machine, so we need to be able to set it via Fastlane.
Also, we have this app that results in 6 different apps on the App Store, so we change the bundle id  and sign the build with different certificates.

[2016-09-20 14:51] Seanyhorny77 commented on #6082
Directions easily translated into tired grumpy man looking for his application to download an app? I keep bumping into brick walls not finding much better if you want to help?

[2016-09-20 14:56] Seanyhorny77 opened #6201 "App download made simple for Apple iOS I phone user?"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Configuration Files

Please copy the complete content of your `Fastfile` and any other conf

[2016-09-20 15:03] rmato opened #6202 "Fastlane failing at step Pilot with Xcode 8"
### New Issue Checklist
- [ x ] Updated fastlane to the latest version
- [ x ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

Fastlane fails at step `pilot`. I'm using `match` ( with certificates and provisioning profiles stored in a private repo) + `gym` + `pilot`. Previously I had an error 65 on step `gym` with "

[2016-09-20 15:24] nicolasbraun commented on #6164
I had the same issue, updating to match 0.7.0 (from 0.6.4) seems to fix it

[2016-09-20 15:37] rowets opened #6203 "fastlane init fails with `full_gem_path': uninitialized constant Bundler::Plugin::API::Source (NameError)"
Hi guys

I'm new to fastlane and I've just been following the setup instructions to install and init fastlane, here are the commands I've run:

sudo gem install fastlane --verbose

I then go into the project directory which holds the ios .xcodeproj file and try to create the init file with the following:

fastlane init

However, it falls over straight away with the message below, does anybody know

[2016-09-20 15:56] martnst commented on #5457
I actually had the video being dropped again working with iTC directly. Hence it's probably not related to fastlane.

[2016-09-20 15:56] #5457 closed

[2016-09-20 15:57] mfurtak commented on #6058
Hi all, there's a change for this staged over on #6204. If you are able to pull that branch and give it a try, that would be very helpful!

[2016-09-20 16:49] PaulTaykalo commented on #6174
@josephmisiti Make sure that you're using correct `xcodebuild`
- is pointing to the correct Xcode version
See what `xcode-select -p` gives you, and make sure that this one gives you expected Xcode version
also, make sure that you're passing params to the gym (like .xcworkspace, for example)

Does the project coplies in Xcode?

[2016-09-20 16:52] jdivittorio3 commented on #4197
Getting the same errors for Xcode 8. Same versions as `@eysteinbye` (fastlane 1.103.0 , sigh 1.10.3 and gym 1.9.0)

Have the correct provisioning profile for debug/release with `iPhone Distribution` selected as well.

[2016-09-20 17:04] wuaschtikus commented on #6203
I just hit the same issue after I did a gem update

[2016-09-20 17:35] rompic commented on #6195
+1

[2016-09-20 17:37] ElChapitan commented on #6203
I ran into the same problem, found a solution here:  https://github.com/fastlane/fastlane/issues/6066

[2016-09-20 17:42] wuaschtikus commented on #6203
Thank God!
for me it was version 1.13.1

`gem uninstall bundler -v1.13.1`

[2016-09-20 17:45] rowets commented on #6203
Thanks, for me it was also 1.13.1...I can get on with learning fastlane now!

[2016-09-20 17:45] #6203 closed

[2016-09-20 18:00] mfurtak commented on #6058
[_snapshot_ 1.15.0](https://github.com/fastlane/fastlane/releases/tag/snapshot/1.15.0) was released with the changes from #6204. Please upgrade with `gem update snapshot`, and let us know how it looks 🚀

[2016-09-20 18:12] KrauseFx commented on #6195
You can follow the progress over here https://github.com/fastlane/fastlane/pull/6206  🚀

[2016-09-20 18:40] xhairbait commented on #5285
I think what the problem may be, is if you are only uploading screenshots to iPhone 5.5 and iPad Pro screenshots, but your ITC languages are setup to still use the smaller resolutions. This is where it times out.

I just tested uploading iPhone 5.5 and iPad Pro screenshots while all my languages (a grueling task and probably a nice feature request for deliver options :) ) it uploaded just fine.

M

[2016-09-20 18:59] ConfusedVorlon commented on #5285
@xhairbait I have been uploading for all resolutions and hitting the problem.

[2016-09-20 19:05] xhairbait commented on #5285
@ConfusedVorlon And you aren't defaulting to use any device resolutions while uploading? Example, you're defaulting iPhone 3.5 to use iPhone 5.5 resolution, and you're trying to upload an iPhone 3.5 photo.

[2016-09-20 19:20] dirkoswanepoel opened #6207 "latest_testflight_build_number doesn't consider Invalid Binaries"
OS X 10.11.6
fastlane 1.103.0
ruby 2.0.0p648 (2015-12-16 revision 53162) [universal.x86_64-darwin15]

This is not a crash and there is nothing of real value in the Fastfile, or the scripts output. This is easiest to explain as follows:

The Fastfile gets the latest build number from testflight using latest_testflight_build_number.
This value is 14.
The value is incremented and a build is made and

[2016-09-20 19:28] Mehdzor commented on #4197
Fails at Xcode 7.3.1 and Xcode 8.

Why the issue is closed? Its still there.

[2016-09-20 19:34] KrauseFx commented on #6082
Hey @Palleas, you can actually do that with [today's release](https://github.com/fastlane/fastlane/releases/tag/match%2F0.7.0) 👍

In particular check out the `Set using environment variables` section of the docs: https://docs.fastlane.tools/codesigning/XcodeProject/#set-using-environment-variable

Even without the _match_ update, you can already set all of those values by passing the name of the p

[2016-09-20 19:37] KrauseFx commented on #6082
Also I updated the docs to also mention how to set and use the environment variables for your Xcode project https://github.com/fastlane/docs/pull/113

[2016-09-20 19:40] josephmisiti commented on #6174
@PaulTaykalo @KrauseFx it looks like upgrading to the latest version of xcode fixed this problems! thanks

[2016-09-20 19:40] #6174 closed

[2016-09-20 19:48] Palleas commented on #6082
I'll have a look, thanks! 👍

[2016-09-20 19:59] #6195 closed

[2016-09-20 20:17] KrauseFx commented on #6195
We just pushed a new release, please update to the latest release of _sigh_ and let us know how it works for you 🚀

[2016-09-20 20:47] xhairbait commented on #5285
I just tested it with all resolutions for all languages (but english uploading with no screenshots so it gets skipped) defaulting to iPhone 5.5 and iPad Pro. I feel like that's the key to the upload issues.

[2016-09-20 20:49] ConfusedVorlon commented on #5285
@xhairbait nope - no defaults. Everything is generated by screenshot, and the media manager doesn't have any 'default to' options selected.

[2016-09-20 20:50] KrauseFx commented on #4220
We just shipped a new version of _spaceship_, _sigh_ and _match_, could you all give it a try if everything is still working as before? 👍

[2016-09-20 20:52] KrauseFx commented on #6164
@nicolasbraun Could you also try the latest release from today? 👍

[2016-09-20 21:02] mfurtak commented on #4295
Hi folks 👋  I have some changes in #6216 that should make the `s3` action a bit more clever about finding the v1.x API.

It would be a big help if some folks could give that branch a try to let me know how it looks before we ship. 🚀  Thanks!

[2016-09-20 21:24] KrauseFx commented on #6128
We just prepared https://github.com/fastlane/fastlane/pull/6218, this will be in the next _snapshot_ release 👍
In the mean-time you can already download the updated template from the PR

[2016-09-20 21:24] #6128 closed

[2016-09-20 21:52] xhairbait commented on #5285
Make sure you're not missing any screenshots, or that they are the correct resolution. It seems like if you're missing screenshots it'll error out. At least that happened to me.

[2016-09-20 22:04] NicosKaralis commented on #6058
@mfurtak Its working for me

[2016-09-20 22:05] nicolasbraun commented on #6164
That's ok for me too on 0.8.0 🚀

[2016-09-20 22:46] #5408 closed

[2016-09-21 01:15] lakamsani commented on #6082
@KrauseFx the match 0.8.0 enhancements look good but don't seem to fix this problem. I still have to pass in the following to gym otherwise it fails with the same 65 error (this is with match 0.8.0 and 1.103.0 on macOS Sierra with Xcode8. Note that PROVISIONING_PROFILE_SPECIFIER does not work with manual mode in Xcode8. It needs to be PROVISIONING_PROFILE.

xcargs: "PROVISIONING_PROFILE=profile DE

[2016-09-21 01:51] KrauseFx commented on #6164
Perfect, I'll close the issue for now, feel free to re-open 👍

[2016-09-21 01:51] #6164 closed

[2016-09-21 02:27] ChristopherDrum opened #6219 ""Check Dependencies" error when building with Gym : Gym bug? Xcode 8? Travis? Human error?"
### New Issue Checklist
- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

When building on Travis CI, I continue to get "check dependencies" errors when doing builds for Fabric Beta distribution (Enterprise builds), with 2 of the 8 dependencies reporting a problem. Th

[2016-09-21 02:32] blackxored opened #6220 "How to use with pem, apple pay certs"
I've a push notification cert generated by manually running `pem`, I've also an Apple Pay cert that was also manual cause lack of support. Intermittently those don't seem to be part of my provisioning profile (specially the push cert which gives me a warning from Apple after upload occasionally), I'm fairly new can someone point me to how to fix this?

[2016-09-21 02:46] ChristopherDrum commented on #6219
@fastlane-bot Yeah, I know it is. And the troubleshooting guide hasn't helped me get through this yet. Thanks for the assist though, you're doing a bang-up job 👍

[2016-09-21 02:48] ChristopherDrum commented on #6219
And while we're at it, the information I dump to console in the ~/Library/logs/gym/etc.... was absolutely the most useful information so far. Why doesn't that get dumped to console normally, even when --verbose is set on gym? Knowing that would have saved me SOOOO much time in investigations. 🙇

[2016-09-21 03:05] ChristopherDrum commented on #6165
I have done all of the things recommended by the fastlane code signing guide.
Still having problems with code signing **some** subprojects.
Made a big, explanatory ticket here: https://github.com/fastlane/fastlane/issues/6219

[2016-09-21 03:08] ChristopherDrum commented on #6140
Most frustrating was that the hidden gym log contained the **most** useful debugging information I've seen so far. Why it isn't output to console, I don't know.

[2016-09-21 04:29] yaochenfeng opened #6221 "Why do I archive ipa gig file for 20M?"
Why do I archive ipa gig file for 20M?I need help.

[2016-09-21 05:24] rompic commented on #6195
thx!

just to check: It downloads the Appstore profile now:

[code]

with the previous version we got:

[code]

with the previous version (sigh 1.10.4). Is this correct behaviour? (just remindes me of your recent tweets about the difference of the profiles)

[2016-09-21 05:27] rompic commented on #6195
seems to be a naming issue? the file itself seems to be an adhoc profile with all devices.

[2016-09-21 05:34] yaochenfeng commented on #6221
I use the gym to archive ipa bigger  than xcodebuild build ipa.

[2016-09-21 06:37] hardikdevios opened #6222 "`Helper.gem_path` is deprecated"
`Helper.gem_path` is deprecated. Use the `ROOT` constant from the appropriate tool module instead.
How can i solve this ?

[2016-09-21 06:57] dirkoswanepoel commented on #6207
[Transporter Error Output]: ERROR ITMS-90189: "Redundant Binary Upload. There already exists a binary upload with build '15' for version '1.1'"

[2016-09-21 07:12] wuaschtikus opened #6223 "Error Domain=IDEDistributionErrorDomain Code=14 "No applicable devices found.""
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

After doing a system update and a cleanup of ruby after I installed XCode 8, I get an error message.
I also tryed to install `sqlite3` `CFPropertyList` as stated in #3184. Build seems to work wh

[2016-09-21 07:28] eysteinbye commented on #4197
The problem *was signing* (even tho the error does not explain it so well). Signing has changed in XCode 8.

In my `~/Library/Logs/gym/PROJECT.log` I could see that I had conflicting provisioning profiles. I turned off *Automatically manage signing* in the general tab. And select the provisioning profiles manually.

In the *Build settings* tag I set Debug=iPhone Developer and Release=iPhone Distri

[2016-09-21 07:30] superpeteblaze commented on #4197
Thanks, will try this.

[2016-09-21 07:38] wuaschtikus commented on #6223
I already forced match to create new provisioning profiles.
I deactivated "Managed Code Signing" and defined a Development Team. The provisioning profiles also have this new identifier.

[2016-09-21 07:58] WilliamParty commented on #6195
Works like a charm!
Thank you guys.

[2016-09-21 08:02] pernilla commented on #4621
We haven't run fis issue button and yesterday I ran match nuke again and match development/appstore/adhoc and it worked as long I was in the same repo. This morning when I check out the source code in a new folder and try to run it (even my colleague) we receive

[code]

Also, trying the source that worked yesterday resulted in:

[code]
Full log:

[code]

[2016-09-21 08:40] wongzigii commented on #5665
I am getting this error.

[2016-09-21 09:00] iONsky commented on #5398
Isnt' this the same as described at #1270?
It seems that this behaviour is by design and currently not supported in the way you want it to work.

[2016-09-21 09:12] wasa1234 opened #6224 ""sigh download_all" and Profile naming"
Hi,

i updated sigh to version 1.11.0 and now all profiles are prefixed with "AppStore_" instead "AdHoc_".

I use "sigh download_all".

Can anyone help me?

[2016-09-21 09:15] pernilla commented on #4621
Our fastfile:

[code]

[2016-09-21 09:25] rompic commented on #6195
please see #6224 for the problem I stated

[2016-09-21 09:30] iONsky opened #6225 "Override lanes and call parent lane with parameters"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Currently I'm using fastlane with a number of apps and the Fastfile configuration is always almost the same. The only major difference are the scheme and name of the project.

So I tried to put

[2016-09-21 09:40] davide-ensini commented on #6170
I also had a "false positive", with deliver saying "succesfully submitted" and the app staying in the "prepare for submission" status.

I was able to submit for review when I replaced "export_compliance_uses_encryption" with "export_compliance_encryption_updated", @steddyman I think this could work for you too

[2016-09-21 09:51] rompic commented on #6224
I have the same problem using sigh with adhoc:true (see the ticket I mentioned)

[2016-09-21 11:19] craigmarvelley opened #6226 "Submitting an app for review via deliver fails because iTunes Connect expects a specific language code."
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

When submitting a build to iTunes Connect for app review, I'm getting the following error:

`You must detail what's new in this version in English (U.K.).`

I have followed the instructions at

[2016-09-21 13:40] KrauseFx commented on #6195
I can reproduce the issue, thanks 👍

[2016-09-21 13:49] KrauseFx commented on #6224
We just pushed https://github.com/fastlane/fastlane/pull/6228, pushing a new release right now 🚀

[2016-09-21 13:49] KrauseFx commented on #6195
We just pushed https://github.com/fastlane/fastlane/pull/6228, pushing a new release right now 🚀

[2016-09-21 13:50] KrauseFx commented on #6225
Sorry, there is no way to call the parent lane, and we don't plan on adding this, as it adds a lot of complexity. There are various solutions, the easiest is probably to have a shared lane that is being called from other lanes.

[2016-09-21 13:57] KrauseFx commented on #6222
Could you share the complete output when running fastlane? Do you call Helper.gem_path anywhere in your project?

[2016-09-21 13:58] DiogoLG opened #6230 "Disable gym to find relevant Github issues"
### New Issue Checklist

- [x] Updated gym to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

We are using `gym` to build our apps using Jenkins. Our CI servers can't access the internet due to security reasons. When a build fails gym trys to check if there are any issues in github. Is it p

[2016-09-21 13:59] #6224 closed

[2016-09-21 16:46] podkovyrin commented on #5649
Same here with release version of Sierra. If you do clean install then keychain name is login.keychain-db, if update from previous OS X - login.keychain

[2016-09-21 17:14] steddyman commented on #6170
Great.  Thanks David.  I'll give that a go.

[2016-09-21 17:48] jshier opened #6233 "FastlaneCore::ProvisioningProfile.install(profile) fails on macOS 10.12"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

Attempting to run `FastlaneCore::ProvisioningProfile.install(profile)` on macOS 10.12 results in an error for every profile attempted.

[code]

This seems similar to [this issue](https://github.

[2016-09-21 17:52] GandjaFuzz opened #6234 "[produce] not make app in itunes connect"
Hello. i cannot make app through produce. see log
if i make this actions by hand it is make very fast and all good.
but if i make through produce it is SUCCESS make in dev center, and make an opportunity in ItunesConnect. But when run make app in ItunesConnect it is freeze, apps dont make in itunesconnect and i dont can make app in future with this bundle_id forever in itunecconnect and in future

[2016-09-21 18:52] tinder-ayu opened #6235 "Use of unresolved Identifier 'setupSnapshot'"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Seeing Use of unresolved Identifier 'setupSnapshot' when i compile
What i have done:
- add "SnapshotHelper2-3.swift" to project
- set SWIFT_VERSION in build settings to 2.3 from 3.0
- i add set

[2016-09-21 19:13] johndoran commented on #6066
fwiw I had the same issue, I use rvm so had to do an additional
`rm -rf ~/.rvm/gems/ruby-2.0.0-p647/gems/bundler-1.13.1`

[2016-09-21 19:30] podkovyrin commented on #5649
Found temporary workaround: `ln -s ~/Library/Keychains/login.keychain-db ~/Library/Keychains/login.keychain`

[2016-09-21 19:30] KrauseFx commented on #6233
Did you find out how the command has changed in 10.12 and how we have to update _fastlane_?

[2016-09-21 19:35] #6234 closed

[2016-09-21 19:35] GandjaFuzz commented on #6234
i fix this

[2016-09-21 19:37] jshier commented on #6233
Reading other bug reports about it it doesn't seem the command has changed but there's some sort of internal bug. There isn't anything new since the Sierra release yesterday.

[2016-09-21 19:53] tiferrei opened #6236 "Fastlane fails to run on macOS 10.12"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

fastlane fails to run on macOS 10.12, tried installing and reinstalling, nothing seems to work, tried in different computers.

##### Complete output when running fastlane, including the stack

[2016-09-21 20:34] faithfracture opened #6237 "Pilot fails to upload as part of a lane, but works when run on its own"
### New Issue Checklist
- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

If I have pilot run as part of a lane, it fails with
"The call to the iTMSTransporter completed with a non-zero exit status: 1. This indicates a failure:

If I run pilot immediately after runnin

[2016-09-21 20:35] faithfracture commented on #6237
I have seen https://github.com/fastlane/fastlane/issues/4738 with the same title, but the error is not the same.

[2016-09-21 20:48] diogot opened #6238 "Actions `increment_version_number` and `commit_version_bump` have different behaviour for `xcodeproj` parameter"
### New Issue Checklist
- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

Actions `increment_version_number` and `commit_version_bump` have different behaviour for `xcodeproj` parameter

[increment_version_number](https://github.com/fastlane/fastlane/blob/master/fastl

[2016-09-21 20:52] KrauseFx commented on #4621
@pernilla You're using an old version of _match_, could you update to the latest one?

[2016-09-21 21:18] chshapiro opened #6239 "Removing users on Pilot"
Is there a way to completely remove a user form my list of Users and Roles using Pilot, or can I only remove from the list of external testers for my specific app.

Thanks!

[2016-09-21 23:12] tiferrei commented on #6236
Aaaaand now it suddenly started working!

[2016-09-21 23:12] #6236 closed

[2016-09-21 23:15] gagaJay opened #6240 "Unsolved conflict between options: 'apk_paths' and 'apk'"
### Issue Description

Hi, I have a few questions about apk_path parameter. apprecated if you can answer them. cheers!
1. what is the correct format of inputing 'apk_paths'? is it something like:
apk_paths: ["/app/build/outputs/apk/app-release-unaligned.apk", "/app/build/outputs/apk/app-release-unaligned.apk"] ?
2. Is it not allowed to manually set parameters for 'apk_paths' and 'apk' at the same

[2016-09-22 00:23] jflinter commented on #2043
@KrauseFx - I'd like to investigate implementing this; would you be open to a PR were I to do so?

[2016-09-22 07:08] 0xced commented on #6203
This bundler issue is tracked on https://github.com/bundler/bundler/pull/4981

[2016-09-22 07:36] 0xced commented on #6203
And here's how to fix this error on Travis (works with any macOS image):
[code]

[2016-09-22 08:03] xta commented on #6119
I'm also getting `"Use of undeclared identifier 'Snapshot'"` issue following the [Quick Start](https://github.com/fastlane/fastlane/tree/master/snapshot#quick-start)

Note: I'm using the Xcode 8 Bridging-Header helper when adding the SnapshotHelper.swift file

[2016-09-22 08:13] donnib opened #6241 "Use match without recreating certificate and provision profiles ?"
Is it possible to use Match without creating new provision profiles and new certificates ? I mean we already have all that in place but i'd like to use Match to put all stuff in git and be able to distribute it to developers. I am afraid of running the command to find out it have re-created everything. That will not be popular.

[2016-09-22 08:19] WilliamParty opened #6242 "Reading project build settings from a lane"
Hello,

I wonder: is there a way to read project build settings from a lane?

By the way: I don't know if this is the right place for this kind of questions, so just let me know if I'm off topic here.

[2016-09-22 08:46] savage7 opened #6243 "match: Keychain not found under 10.12"
### New Issue Checklist

- [x ] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I use the create_keychain action to create a custom keychain, where I put all the certificates during the build process. This worked well before upgrading to 10.12.

Since the upgrade the sec

[2016-09-22 08:55] mathiasAichinger opened #6244 "[Action] Action to toggle the "Automatically manage signing" flag of Xcode 8"
### New Issue Checklist

- [ x ] Updated fastlane to the latest version
- [ x ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
To use "Automatically manage signing" during development, I need an action to disable this flag on the build server

[2016-09-22 09:02] mathiasAichinger commented on #6244
Realized that Actions are not accepted ATM. Need to rewrite it as a Plugin.
https://github.com/mathiasAichinger/fastlane/tree/update-project-automatic-codesigning-action

[2016-09-22 09:04] #6243 closed

[2016-09-22 09:04] savage7 commented on #6243
Its a duplicate of https://github.com/fastlane/fastlane/issues/5649

[2016-09-22 09:20] haydus commented on #6010
I had the same issue and tried using a different version thinking it would overwrite my existing waiting submission.
The result, somewhat un-expected, was that my 'Waiting for Review" version was updated with the new version number, build, screenshots, etc., BUT deliver failed to complete complaining it can't because the status is "Waiting for Review".
I think that if your can't re-deliver if stat

[2016-09-22 09:22] emendamus commented on #6171
@KrauseFx  Just wanna know if the 'FASTLANE_SESSION' trick is still working because I am still unable to manage it. Thanks!!

[2016-09-22 11:22] cyupa commented on #6219
@ChristopherDrum Have you managed to find the root cause of this?

I have the exact same issue

[code]

[2016-09-22 11:23] MarkMolina commented on #6219
Yep, +1, me as well. Keep you updated.

[2016-09-22 13:27] puttin commented on #6219
You guys should check gym log normaly in your `~/library/logs/gym/xxx.log`

For our project, it's the codesign problem.

And we solve that by manual setting in Xcode 8 build setting with developer team and the provisioning profile specifier.

like

DEBUG:
"AwesomeApp Dev"
RELEASE:
"AwesomeApp AppStore"

these are the name in your developer portal profiles

and you can use Fastlane to change the pr