[2017-08-30 16:06] zoul commented on #10133
Same situation here. What helped was to add `export_options: { compileBitcode: false }` to `gym` options.

[2017-08-30 16:11] PetrosIchor commented on #10189
An easier solution is to ditch git import.  Add a submodule with the standard import.  Then use submodules to version/branch you fastlane pipelines.

[2017-08-30 16:24] proorlov commented on #10200
@ohayon do you understand me and my task?
Is there problem in source code or i do something wrong?
Thank you!

[2017-08-30 16:41] emmajam opened #10201 "Apple Developer Creds (for produce/cert/sigh) fail in Travis CI"
### New Issue Checklist

- [x ] Updated fastlane to the latest version
- [x ] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x ] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x ] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Credentials fail when attempting to si

[2017-08-30 16:56] janpio opened #10202 ""Ran into error while trying to connect to iTunes Connect / Dev Portal: `bundle_id` parameter must not be nil""
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

From my googling this seems to be an old e

[2017-08-30 17:06] jpca999 commented on #10196
nope, i haven't . @ohayon

so i created the file   fastlate/Fastfile
is it Fastfile.rb ?

[2017-08-30 17:34] janpio opened #10205 "[produce] Define `app_name` in `Appfile`?"
When I run `fastlane produce` with a default `Appfile` it prompts me for the `app_name` and informs me that I could supply it to not be prompted:

[code]

But when I try to set it in `Appfile` I get this error and it can't read any values from there:

[code]

Seems this can only be supplied as a command line parameter.

Is there a way to set `app_name` for `fastlane produce` in `Appfile` or anothe

[2017-08-30 17:38] gylee2011 opened #10206 "Spaceship - IAPList status returns nil when in "developerRemovedFromSale" status"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Here are log from Spaceship Playground
[co

[2017-08-30 17:41] ohayon commented on #10090
Looks like iTC has changed the data they return from that endpoint. Here is a PR with a fix: https://github.com/fastlane/fastlane/pull/10207 🚀

[2017-08-30 17:50] ohayon commented on #10200
I'm not totally sure I understand the situation, but could you try passing the app's bundle ID? That is what the code is expecting, but there could be an issue with that too..

[2017-08-30 17:56] proorlov commented on #10200
I don't have app and app's bundle ID. I don't need create iOS app development certificate.
How I should create "Pass Type ID Certificate" using existing "Pass Type ID"?

[2017-08-30 17:58] ohayon commented on #10196
Ah, my bad @jpca999 - Could you create, in your project directory, a directory called `fastlane` and within that directory, make a file called `Fastfile` with no extension, that should get things working for you hopefully ! 🚀

[2017-08-30 18:02] jpca999 commented on #10196
@ohayon  Wow, It seems like its doing the magic..   How do i change the the code if i have to upload it to the android store ?

[2017-08-30 18:24] ohayon commented on #10193
Hey @huanling713 apologies for the issues youre seeing. We have some docs around handling proxies. Take a look at https://github.com/fastlane/fastlane/tree/master/deliver#firewall-issues and let us know if you have any more issues! 🚀

[2017-08-30 18:25] #10090 closed

[2017-08-30 18:33] ohayon commented on #10205
Hey @janpio could you try adding `app_name "Your App Name"` to your Appfile and see if that works? 🚀

[2017-08-30 18:35] ohayon commented on #10196
Glad to see thats working for you 🎉  🚀 !! If you want to upload to the Play store have a look at our docs for _supply_ here: https://github.com/fastlane/fastlane/blob/master/supply/README.md

[2017-08-30 18:36] ohayon commented on #10196
I am going to close this issue as it seems like your iOS setup is 💯  now. Please feel free to continue talking about `pilot` here if you'd like, and if you have any questions about supply, feel free to open up a new issue! Thanks again! 😄

[2017-08-30 18:36] #10196 closed

[2017-08-30 18:42] #9555 closed

[2017-08-30 19:01] ohayon commented on #10142
Hey everyone, I have just tried to reproduce this with my own app and everything is working as expected for me. Given that Apple changes things around all the time, could you all give this a shot and see if it's still an issue? If so, could you please share some reproduction steps as detailed as possible so we can test it out on our end? Thanks!! 👍  🚀

[2017-08-30 19:03] ohayon commented on #10202
Hey @janpio would you mind running this in verbose mode to get us some more context around the crash? Thanks!

[2017-08-30 19:11] ohayon commented on #10088
Hey everyone, just want to make sure that we are all talking about the same issue here, @Sulfkain and @twobitlabs would you both mind sharing the output of your fastlane execution? I just want to see if it is the same thing that @petrmanek is seeing where there is a long time elapsed between the upload and the setting of the changelog. Thanks!! 🐙

[2017-08-30 19:16] ohayon commented on #10191
Hey @nremond, would you mind running this in verbose mode and sharing the output? Might help us see some more context about what is going on. Also, I noticed that you are calling `sigh` directly, could you also share the output of `gem which sigh`? I want to see if you might have an old version of `sigh` that is getting called instead of a newer version that is inside of fastlane. Thanks! 🚀

[2017-08-30 19:18] ohayon commented on #10151
Hey @tejas-ardeshna - Thanks for sharing that output, but I am not seeing the logs from the `gym` execution, could you maybe try running with `--verbose`? Thanks!

[2017-08-30 19:22] ohayon commented on #10177
Hey @biolinh, could you try setting the `active_days_limit` parameter to a reasonable number of days? That is supposed to default to 30, but I'm curious if something may be going wrong in there. Thanks! 🚀  🐙

[2017-08-30 19:24] ohayon commented on #10185
Hey @dantman - this is definitely a wild issue and for some reason I am not able to reproduce it on my own apps. Out of curiosity, are you running against Xcode 8 or a 9 beta?

[2017-08-30 19:28] iamsarathi opened #10208 "Operation timed out - connect(2) for "kits-crashlytics-com.s3.amazonaws.com" port 443"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
I'm getting below warning in one machine wh

[2017-08-30 19:46] iamsarathi commented on #10208
But I dont know why this is failing only in particular machine.

[2017-08-30 19:47] nremond commented on #10191
I have this issue with `fastlane beta` and I have been able to reproduce by simply calling `sigh`. The command is calling fastlane though:

[code]

Here is the verbose output:

[code]

Thank you

[2017-08-30 19:52] iamsarathi commented on #10208
I have also tried `https://docs.fastlane.tools/codesigning/getting-started/#using-xcodes-code-signing-feature` but getting same error

[2017-08-30 20:27] rick-cape commented on #10187
Thanks for the quick response, @ohayon ! Here is the Fastfile snippet:
[code]

Then if I do a `fastlane test` I observe the issue I describe above.  I don't think I'm doing anything else out of the ordinary.

Please let me know if you need anything else.

[2017-08-30 20:47] ohayon commented on #10185
Ah! I just was able to reproduce this issue, I missed the place where you were setting `reinstall_app: true`. Seems like that param causes some issues that we should look into fixing. Just curious: is there a particular reason you are using that flag?

[2017-08-30 20:53] ohayon commented on #10208
Hmmm - @iamsarathi thanks for submitting the issue! Is it possible that your Xcode project does not have a teamID set in the project settings? Would you mind taking a look at that. It looks like that is why the export to ipa may have failed. 🐙

[2017-08-30 21:09] janpio commented on #10205
Sorry, seems I forgot that part in my initial issue: This is exactly what I did to get the second output with `undefined method `app_name' ...`. I got this when I defined an `app_name` in my `Fastfile`.

[2017-08-30 21:15] janpio commented on #10202
I added `--verbose` to the command I ran:

[code]

Doesn't really look like much additional output. Did I miss anything?

[2017-08-30 21:35] luketomlinson commented on #10167
I'm having the same issue. It seems incorrect that the default group would be included if I explicitly specify a group array.

[2017-08-30 22:12] edwardmp commented on #10181
@ohayon
Yes, the error will keep reappearing until (seemingly) I kill/restart the master process running this.

This happens on my Heroku dyno.

ActiveJob is just a Rails abstraction for an asynchronous task, not really relevant for this discussion.

[2017-08-30 22:53] dantman commented on #10185
@ohayon Still using XCode 8. I want to make sure tests start with a clean install (not using the release version, not already logged in, etc...).

[2017-08-31 01:27] fishcharlie opened #10211 "Snapshot iPhone 4s Xcode 9 Error"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

For some reason I'm getting an error when

[2017-08-31 02:35] huanling713 commented on #10193
@ohayon Thanks for your reply. I use the following command:
fastlane deliver run -i xxx.ipa --skip_metadata --skip_screenshots -x false -u xxx@xxx.com DELIVER_ITMSTRANSPORTER_ADDITIONAL_UPLOAD_PARAMETERS="-t DAV -Dhttp.proxyHost=myproxy_ip -Dhttp.proxyPort=8080"

Then the error info is still exist and not changed. Is there someting missing for config network? Thanks.

[2017-08-31 02:37] wd commented on #10197
Sorry, I was frustrated yesterday. Here is the detailed output. `fastlane-plugin-yafirim` is a plugin write by me,

[code]

[2017-08-31 02:40] wd commented on #10197
Is there a way that I can disable the 'send the crash report' behavior of fastlane? I have tried `fastlane disable_crash_reporting`, but get lane not found error.

[2017-08-31 04:27] isolatedperson commented on #1963
@LegNeato Any plans to share this plugin with community?

[2017-08-31 04:51] biolinh commented on #10177
Hi @ohayon. Thank you for your respond.

I try to renew Push Certificate of the app expired in 10 days (Sep 09, 2017)
![screen shot 2017-08-31 at 10 38 56 am](https://user-images.githubusercontent.com/1267094/29905414-bbbccbac-8e38-11e7-8669-731ae0f193a2.png)

with the command:
``` pem --generate_p12  true -p 'xxxxxx' --pem_name  "magento-test" --force  false —active_days_limit 30 ```

**CASE 1:**

[2017-08-31 05:01] biolinh commented on #10177
<h2>**CASE 4:**  </h2>Make a lane, it verified that the expired date more than 30 days and no need to create a new one

I got

[11:41:14]: -----------------
[11:41:14]: --- Step: pem ---
[11:41:14]: -----------------

+-------------------+--------------------------------+
|               Summary for PEM 2.54.4               |
+-------------------+--------------------------------+
| generate_p12

[2017-08-31 07:02] tejas-ardeshna commented on #10151
@ohayon I have attached gym output file(gym.pdf).
[gym.pdf](https://github.com/fastlane/fastlane/files/1266122/gym.pdf)

[2017-08-31 07:24] gtatgh commented on #10119
Exactly my opinion. There is no definition of standardised interfaces.

I have to learn this by try and error too, but I think this is a better approach, as the exception error `undefined method `map'`. By the way someone can improve the description, which explain to not to use spaces after commas and maybe some examples.

[2017-08-31 08:50] vspac opened #10213 "[Question] Android supply automatic release"
Hi guys,

Can someone confirm that you cannot release an **ANDROID** app using fastlane `supply` but you have to manually click the **Review** button from the desired track? I have looked into the android publisher API and indeed there is no support for this, but I'm thinking maybe you guys found another way to do it.

Also, is there a way to retrieve the app status (Approved, rejected, etc)?

Tha

[2017-08-31 09:23] molind opened #10214 "snapshot crashes on Xcode 9"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

snapshot crashed on Xcode 9. Sometimes if

[2017-08-31 09:25] casz commented on #10174
Same issue.

Even with `fastlane snapshot reset_simulators --ios 10.3` it stills deletes my ios 11 simulators 👎

[2017-08-31 09:32] #9252 closed

[2017-08-31 09:32] molind commented on #10214
thank's @fastlane-bot, but it's not. :)

[2017-08-31 09:35] chandankumar-mob-incedo commented on #10180
<details><summary>🚫 fastlane environment 🚫</summary>

### Stack

| Key                         | Value                                       |
| --------------------------- | ------------------------------------------- |
| OS                          | 10.12.6                                     |
| Ruby                        | 2.4.1                                       |
| Bundler?

[2017-08-31 10:11] shellyjaglan commented on #10176
@ohayon- Here is my fastlane output-

 --- Step: Verifying required fastlane version ---
[14:29:23]: -------------------------------------------------
[14:29:23]: Your fastlane version 2.53.1 matches the minimum requirement of 1.81.0  ✅
[14:29:23]: ------------------------------
[14:29:23]: --- Step: default_platform ---
[14:29:23]: ------------------------------
[14:29:23]: Driving the lane 'ios

[2017-08-31 11:00] mmenu-mantano opened #10216 "Editing In-App Purchase fails with ITC.response.error.OPERATION_FAILED"
### Issue Description

Editing an IAP with fastlane fails with an ITC error "OPERATION_FAILED". I tried from within a custom action, as well as running the interative spaceship shell. Here's a minimal example:

[code]

Retrieving IAP products and creating new products is working properly.

### Environment

<details><summary>🚫 fastlane environment 🚫</summary>

### Stack

| Key

[2017-08-31 11:01] Sulfkain commented on #10088
Hi @ohayon, I have tried again an upload and the what_new was changed correctly without any error.

This is the output, Which is the "death time" elapsed between upload and setting the changelog?
Maybe this time, the app uploaded faster?

[code]

[2017-08-31 11:04] janpio opened #10217 "[supply] Dry run option to test `json_key_file`?"
Is there a "dry run" option for `fastlane supply` that doesn't do anything locally or remotely but just tests the `json_key_file` value from `Appfile` contains valid data and it can use the "API" so you can check if the file you just created actually works?

<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                         | Value

[2017-08-31 13:26] jozsefmihalicza commented on #10174
The root cause is that the format of the output of `xcrun simctl list runtimes` has changed from (8.3.2)
`iOS 10.3 (10.3 - 14E269) (com.apple.CoreSimulator.SimRuntime.iOS-10-3)`
to (9.0)
`iOS 11.0 (11.0 - 15A5361a) - com.apple.CoreSimulator.SimRuntime.iOS-11-0

and the regexp in https://github.com/fastlane/fastlane/blob/e93b397900bbea5aa626ea2c44b45c172e444d1c/snapshot/lib/snapshot/reset_simulator

[2017-08-31 13:41] MegaManX32 commented on #10008
same issue here, installed via "brew cask install fastlane". Interestinglly on one mac fastlane is working correctly, but on this one, i don't have fastlane command

[2017-08-31 14:07] ohayon commented on #10205
Ah, my bad @janpio, I think for now the best way to do this is to put your call to `produce` in a Fastfile and you can pass it to that call like so:
[code]
Or, alternatively you could pass it on the command line like: `fastlane produce -q "Your App Name"` 🐙

[2017-08-31 14:16] ohayon commented on #10202
Nope, I don't think you missed anything... I took a closer look at the code and it looks like we might have a bug in there where we should be asking for your bundle ID, out of curiosity, could you confirm whether or not when you run ` xcodebuild -showBuildSettings | grep PRODUCT_BUNDLE_IDENTIFIER ` you have a bundle ID in that field? Thanks @janpio !! 🚀

[2017-08-31 14:22] ohayon commented on #10167
Hey everyone- so this is an issue based on some changes that iTC made to TestFlight a few months back. For apps that have been in TestFlight for longer than about 4-6 months, it is likely that there is a group that is marked as a Default External group. In order to preserve existing functionality for users who have been using the `distribute_external` flag, we want to make sure that the default gr

[2017-08-31 14:29] ljesus commented on #10211
I also get this error when trying to run fastlane snapshot on the iPhone 4s. Is it possible to specify the OS version? Since iPhone 4s does not have iOS 11 I think that might be the issue.

[2017-08-31 14:31] casz commented on #10174
I think the work already started for using the json format for simctl #9610
Though it would properly be faster to fix the regex.

[2017-08-31 14:45] emmajam commented on #10201
Bash was interpreting the special characters in my variable for the password. Need to escape these within the string 🙄  🤙

[2017-08-31 14:45] #10201 closed

[2017-08-31 14:47] franckclement commented on #8855
@robbykim I'm facing the same issue with Jenkins,
I encounter Simulator timeout when running scan on CI, Simulator icon shows up on the slave macOS but the application is not loading, no Simulator window is visible.

FYI my macOS Jenkins slave is connected to the master through Java Web Start, because SSH connection does not have GUI context, so can not open the Simulator.

Do you solved it ?

[2017-08-31 14:53] robbykim commented on #8855
@franckclement I haven't been able to fix it and went with a work around but the problem with the work around is that it only tests it on one type of iPhone simulator (i.e. iPhone 7) which isn't the greatest but for what I needed it does the job...

[2017-08-31 15:02] janpio commented on #10202
I indeed don't seem to have one (iOS project is generated by Cordova and quite outdated, but generally still works):

[code]

(Without the `grep` it returns quite a lot of stuff, one of that being a `PRODUCT_NAME`for example)

What exactly *is* this bundle identifier anyway?
(I am not a real iOS developer or even Mac user...)

[2017-08-31 15:04] janpio commented on #10205
Ok.

But you agree this would be a useful feature for `produce` and also other parts to be able to define this in `Appfile`? (Maybe someone *caugh*me?*cough* can cobble this together... [without even knowing ruby])

[2017-08-31 15:42] iamsarathi commented on #10208
adding `export_team_id: ` in fastlane file worked. Many Thanks @ohayon

[2017-08-31 15:43] #10208 closed

[2017-08-31 15:44] air720boarder commented on #9775
Any updates on previews being supported? With iOS11 on the horizon they seem more important than ever to include.

[2017-08-31 15:53] janpio opened #10218 "[supply] Choose app from Play Console list if package_name not found"
`fastlane supply init` currently only works if there already is an app with the exact `package_name in the Play Console - otherwise it doesn't know what to download:

[code]

This means that for a new app the user not only has to create it manually, but also upload a first APK (e.g. in the alpha lane) so the Play Console connects the app to the `package_name`. (Or is there another way to do this t

[2017-08-31 15:55] janpio commented on #10218
Yeah, or maybe not:

https://developers.google.com/android-publisher/edits/

and also (unrelated, but still meh):

There also is no API to list the apps from an account as far as I could find, so you can only work on apps who are already connected to a `package_name` anyway.

[2017-08-31 16:01] janpio commented on #10217
Having looked at the code for another issue, here is the actual logic for `init`:

https://github.com/fastlane/fastlane/blob/master/supply/lib/supply/setup.rb#L3-L26

Problem is that starting an edit already crashed if e.g. the `package_name` is not found in the Play Console account.

Solution would be to modify this so it a) actually exits out before starting/inserting an edit or b) executes some

[2017-08-31 16:12] #9541 closed

[2017-08-31 16:12] #9216 closed

[2017-08-31 16:13] luketomlinson commented on #10167
@ohayon Thanks for the response. I don't think that will work because groups aren't processed unless that `distribute_external` flag is set. https://github.com/fastlane/fastlane/blob/master/pilot/lib/pilot/build_manager.rb#L137

[2017-08-31 16:28] janpio commented on #10213
As far as I know `supply` only uses Google's Ruby API which, as you said, doesn't support this.

[2017-08-31 16:42] ohayon commented on #10181
Ohhh, interesting! Thats pretty cool that you have this running in Heroku! Aside from this issue, I would love to hear more about that.

Can you share the logs where you are seeing the UnauthorizedAccessError? Our could _should_ be retrying the request a few times, but its possible something is wrong in there.

[2017-08-31 16:44] ohayon commented on #10197
Hey @wd, you can disable crash reporting by setting the `FASTLANE_OPT_OUT_CRASH_REPORTING=1` 🚀

[2017-08-31 16:54] ohayon commented on #10177
Hmm, I think that this has something to do with the fact that by calling `produce` first, and enabling push notifications, that it is changing the state of the certs on the developer portal. Is there a reason why you are calling produce every time?

[2017-08-31 17:32] #9561 closed

[2017-08-31 17:33] ohayon commented on #10119
We could put something in the verify block to make sure that it is in the right format and print out a nice message if it's not. The only issue would be making sure that we are checking for all of the different permutations of arrays in strings?

[2017-08-31 17:48] ohayon commented on #10214
Hey @molind - thanks for submitting the issue! I just pushed up a change above that should make sure it doesn't crash in this case! 🚀

[2017-08-31 17:55] ohayon commented on #10180
Hey @chandankumar-mob-incedo - thanks for writing in, if I understand correctly, you are looking for a way to respond to different events within the fastlane execution? Currently we don't support that type of workflow, but there is a PR that does something similar that we might get merged in the future. https://github.com/fastlane/fastlane/pull/9000 🚀  🐙

[2017-08-31 17:59] ohayon commented on #10176
Hmmm, im sorry @shellyjaglan I should have asked before, would you mind running the command with `--verbose`?

[2017-08-31 18:01] ohayon commented on #10216
Hey @mmenu-mantano - It looks like Apple endpoints are currently having some issues. Would you mind trying this again in a couple hours and letting us know if it is still an issue? 🐙

[2017-08-31 18:02] ohayon commented on #10088
Hmm thats entirely possible. It also looks like there have been a few outages in the iTC API over the past few days so its also possible something was happening on their end too? Let's wait until everyone has confirmed that they are successful before closing the issue. Thanks for reporting back @Sulfkain !! 🚀

[2017-08-31 18:05] ohayon commented on #10008
@MegaManX32 could you share the output of your `$PATH` variable? It's possible you need to add a line to your shell configuration to append it into your path to make it accessible. 🐙

[2017-08-31 18:09] ohayon commented on #10211
Hey everyone! Yeah currently iPhone 4s is a bit of an issue with Xcode 9 because of iOS 11. The way that the new concurrency in snapshot for Xcode 9 works, it builds once per execution so by building for iOS 11, it wont run in an iOS 10 simulator. Open to suggestions about how we can fix this though! 🚀

[2017-08-31 18:11] ohayon commented on #10174
Yup! This is something that is definitely on our radar! We would be happy to review a PR if anyone wants to make the fix before we get to it! 🚀

[2017-08-31 18:14] ohayon commented on #10202
Hey @janpio - ohh its great to know that you are using Cordova. The bundle identifier is just a unique string that gets used by the App Store to make sure that there are no collisions when installing apps with similar names. For example, I have an app in the app store with the bundle id: `com.thirty-one-parkton.PitaFace`, it's usually in reverse-domain name structure to help keep it unique. 🐙

[2017-08-31 18:16] ohayon commented on #10205
Hahahaha yes, definitely it should be readable from the Appfile or somewhere else. We will make sure we get that change in at some point soon! 😄

[2017-08-31 18:29] fishcharlie commented on #10211
@ohayon Not sure how it works on the tech side of things. But could Fastlane Snapshot detect iPhone 4s and other devices this is an issue for and delay those till the end, then at the end change it from running multiple tests at one time to just running the iPhone 4s one at a time?

Might need to think about language support as well. So in my example I have 3 languages. So run all the other device

[2017-08-31 18:30] ohayon commented on #10217
Hey @janpio we don't currently have a notion of "dry runs" in fastlane at the moment but it is definitely something that we've talked about. We would love to review a PR with this type of concept implemented here if you want to give it a shot? 🏎

[2017-08-31 18:32] ohayon commented on #10167
Ahh- touché! You're totally right about that 😄 ! We will get a fix in the works to make sure that you can get it to groups without the `distribute_external` flag. 🐎

[2017-08-31 18:34] #10214 closed

[2017-08-31 18:38] ohayon commented on #10211
Yeah it's definitely an option to do something like that. Although, I wonder if maybe by copying the iOS 10 SDK into the Xcode 9 `/Applications/Xcode.app/Contents/Developer/Platforms/iPhoneOS.platform/DeviceSupport/` directory, if that would end up allowing it to work? Or some workaround that wouldnt require any changes to fastlane?

[2017-08-31 18:49] fishcharlie commented on #10211
@ohayon No idea. I mean in `/Applications/Xcode-beta.app/Contents/Developer/Platforms/iPhoneOS.platform` I have folders for like `10.0` `10.1` `10.2` `10.3`, goes as far back as `8.0`

[2017-08-31 18:56] ohayon commented on #10167
Here is a PR to fix this issue! https://github.com/fastlane/fastlane/pull/10220 🏎

[2017-08-31 19:11] #9573 closed

[2017-08-31 20:20] twobitlabs commented on #10088
We're still reliably getting it on one of our projects (but not on the other project):

`
[12:59:52]: Login successful
[12:59:53]: Ready to upload new build to TestFlight (App: 1200115798)...
[12:59:54]: Going to upload updated app to iTunes Connect
[12:59:54]: This might take a few minutes. Please don't interrupt the script.
[13:03:55]: iTunes Transporter successfully finished its job
[13:03:56]:

[2017-08-31 20:24] casz commented on #10174
I believe I have fixed the issue with #10215 👍 with https://github.com/fastlane/fastlane/pull/10215/commits/9a1e001cb92e81d88a278abab7fa0d575388bd7a

[2017-08-31 20:31] #9360 closed

[2017-08-31 20:37] petrmanek commented on #10088
Interesting. We are uploading builds to TestFlight every second night at 4am CET. This is still happening consistently for us.

[2017-08-31 21:17] twobitlabs commented on #10088
One thing to note is that the project that fails is owned by another developer account and we've been added to their team. On the projects that succeed, we're logging into the account that owns the app. Are others on this thread in the same position? I feel like it's caused permissions problems for us in the past.

[2017-08-31 21:36] julestburt commented on #8530
I have the same issue - I have a gem file and added gem 'pry' and then bundle update...but still same error? Do I need to uninstall fast lane. I possibly installed with brew originally?

[2017-08-31 21:50] istvanp commented on #9182
I had a similar output but from TeamCity:
[code]

You need to make sure your Jenkins daemon or agent is using the **`SessionCreate`** key set to **`true`** and the `security` command should no longer complain about write issues. The `UserName` should be set also. Your launch daemon file should look similar to this:

[code]

Credit to this answer from StackOverflow (where the issue was with Jenkins

[2017-08-31 22:12] istvanp commented on #9415
Please try and see if this https://github.com/fastlane/fastlane/issues/9182#issuecomment-326429922 or this https://github.com/fastlane/fastlane/issues/326#issuecomment-218441605 work for you.

[2017-08-31 22:24] petrmanek commented on #10088
That might be it. Our CI account does not own the app in ITC. It was merely granted Developer role and restricted to only access the app in question. We will try to expand its permissions for tonights's build and get back to you tomorrow.

[2017-09-01 01:39] huanling713 commented on #10193
@KrauseFx Can you give me a advice?
Thanks.

[2017-09-01 02:56] wd commented on #10197
@ohayon  ok, thanks.

[2017-09-01 02:56] #10197 closed

[2017-09-01 03:01] Otbivnoe commented on #10158
@ohayon Hey! Any ideas? :( I've also tried to accomplish it by some helper functions, [but without results](https://stackoverflow.com/questions/45840991/fastlane-cannot-load-file-by-require-command).

[2017-09-01 03:46] biolinh commented on #10177
@ohayon

Yes, I create a lane to create a application for first publishing.  and I set a rule if input is 1 then call the createnewapp lane but input isnot 1, it doesn't call it. but my enduser usually forget that.

Beside that, in previously, if they forget that it doesn't force to renew Push certificate.

 if publishing == '1'
      createnewapp
    end
...

      sh "fastlane-credentials add --

[2017-09-01 04:17] graemechristie commented on #10163
@PetrosIchor I had tried all purmutations of quotes, no quotes, export vs set etc .. that example was just the last iteration. I was using the latest version, which is clearly displayed in the command output I posted.

[2017-09-01 04:22] graemechristie commented on #10163
[code]

[2017-09-01 04:44] Dershowitz011 opened #10225 "An OPTION to change app display name while resigning."
### New Issue Checklist

- [ x] Updated fastlane to the latest version
- [x ] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [ x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [ x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

##### Complete output when running fas

[2017-09-01 06:08] chandankumar-mob-incedo commented on #10180
Hi @ohayon thanks for your response and yes you got it correctly. It's really a very great feature, I will wait for this :)

[2017-09-01 08:22] untitaker opened #10226 "Spaceship ITC service key caching is surprising and undocumented"
In https://github.com/fastlane/fastlane/blob/e93b397900bbea5aa626ea2c44b45c172e444d1c/spaceship/lib/spaceship/client.rb#L497-L499, spaceship caches the iTunes Connect service key in a global file. While there may be valid reasons for Spaceship to do this:

* writing to global state like that isn't something you would normally expect from a library
* it isn't documented anywhere as far as I can tel

[2017-09-01 08:38] lumo2707 opened #10227 "Install provisioning profile not working"
Hi,

the installation via the fastlane aciton "update_project_provisioning" is not working.
The profile was not installed before manually.
How is it possible to install a provisioning profile at a path?

With my implemented gym command i got the following error:
- Code signing is required for product type 'Application' in SDK 'iOS 10.3'

[2017-09-01 08:50] jonasecandersson commented on #9589
I have the exact same issue. Xcode 9 beta, automatic signing. Feels like this is quite urgent as XCode 9 is about to go public.

[2017-09-01 09:41] untitaker commented on #10226
Shouldn't matter for this issue.

[2017-09-01 09:43] janpio commented on #10202
Ok, so `bundle_id` will be `app_identifier` in my `Appfile` and is actually prompted after this failure as "App Identifier". Let me see if this is somewhere else in my Cordova .xcodeproj - I think it should be.

[2017-09-01 09:53] janpio commented on #10217
After letting this sit over the night, what I am looking for is not even a real "dry run" but just a "confirm json_key_file is valid and successfully connects to Google Play".

A real "dry run" normally does the same thing as a real run, but only outputs the result to the command line instead of doing the actual modifications. This would be overkill for my need.

I also think I found a workaround:

[2017-09-01 10:58] arjpaiva commented on #9947
Hi,

I'm still getting this error.
I have updated fastlane version:
fastlane installation at path:
/Library/Ruby/Gems/2.0.0/gems/fastlane-2.55.0/bin/fastlane

Anyone else experiencing this issue?

Thank you,
Rita

[2017-09-01 11:15] fishandphil opened #10228 "Deliver - fails to deliver"
We used to love using FastLane Deliver and it used to work perfectly.
Here we init Deliver and then push and it breaks directly.

We can make it work when skipping the screenshots. However, we really need it to upload our screenshots.. Otherwise there is no point using it.

Thank you

### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](h

[2017-09-01 11:55] mikkeljuhl opened #10229 "Incorrect error message when updating provisioning profile that does not have a distribution certificate connected to it"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

If I have 1 provisioning profile and 2 dis

[2017-09-01 12:02] shellyjaglan commented on #10176
[Fastlane-log.txt](https://github.com/fastlane/fastlane/files/1270131/Fastlane-log.txt)

[2017-09-01 12:07] shellyjaglan commented on #10176
Sure, here is the output-

INFO [2017-09-01 16:17:50.76]: Ready to upload new build to TestFlight (App: 1171775851)...
DEBUG [2017-09-01 16:17:50.99]: App Platform (ios)
INFO [2017-09-01 16:17:53.02]: Wrote XML data to '/var/folders/kx/qc1jp79j2lx6nk2nvb6_57cc0000gn/T/d20170901-77424-1lkfdnl/1171775851.itmsp'
INFO [2017-09-01 16:17:53.18]: Going to upload updated app to iTunes Connect
INFO [2017-0

[2017-09-01 12:12] shellyjaglan commented on #10176
Sure, here is the output-

[Fastlane-log.txt](https://github.com/fastlane/fastlane/files/1270143/Fastlane-log.txt)

ITunes transporter succeeds, getting no error message from fastlane but still getting the same mail from apple.

[2017-09-01 13:40] thelvis4 commented on #9558
The functionality was implemented in #9912 and released in version `2.55.0`.
Give it a try! 😉

[2017-09-01 14:20] taglia3 opened #10230 "Archive failed while touching DSYM"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

We've been using fastlane for an Enterpris

[2017-09-01 16:33] janpio commented on #10202
`xcodebuild -showBuildSettings` does indeed **not** return my package name at all.
But Xcode does show it in the "Bundle Identifier" field in "General" and "Info -> Custom iOS Target Properties".
Seems to come from my `*-Info.plist` where I found an entry:
[code]

Is this different in current projects?

[2017-09-01 17:07] afh opened #10231 "SnapshotHelper.swift from fastlane 2.55.0 fails to compile using Xcode 8"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

`SnapshotHelper.swift` fails to compile us

[2017-09-01 17:22] masteranza opened #10232 "Pilot logins but Transporter fails (-20283) wrong password"
So I have this weird issue that I suspect (after reading some posts here) might be connected with special characters in my password, that is "!!" one after another.  Deliver on the other hand seems to work fine.

### Issue Description

DEBUG [2017-09-01 19:15:26.31]: [Transporter]: DBG-X:   parameter Version = 1.9.3
DEBUG [2017-09-01 19:15:26.31]: [Transporter]: DBG-X:   parameter iTMSTransporterM

[2017-09-01 18:05] masteranza commented on #10232
Solved it! Turns out it was not related to special characters.
When I've modified the method  `load_password_for_transporter` to only use the third method (standard iTC password) then it worked flawlessly!

So this error seems to be related to `FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD` which I have setup for a different team (and different apple_id). It would be great to be able to indicate th

[2017-09-01 18:58] Dershowitz011 opened #10233 "Resign with entitlements."
### New Issue Checklist

- [x ] Updated fastlane to the latest version
- [ x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x ] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [ x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
How do I sign with entitlements? I did

[2017-09-01 19:24] PetrosIchor commented on #10233
Can you be more specific?  Are you trying to resign with the existing entitlements or different ones?  Does the IPA already include entitlements or are you trying to add new ones to an existing app?

The resign option supports using existing and modified entitlements files.

[2017-09-01 19:31] Dershowitz011 commented on #10233
Thank you for your quick response. I'm trying to sign with new ones. Just give me the command please. I checked the entire doc. Like I said. I couldn't find anything. Do help. Thanks.

[2017-09-01 19:42] PetrosIchor commented on #10233
If you are ever stuck on an actions functionality, check the source: https://github.com/fastlane/fastlane/blob/master/fastlane/lib/fastlane/actions/resign.rb

Reading that you can determine using new entitlements requires you to provide a path (the docs reference this as well).
[code]

[2017-09-01 19:51] castus opened #10234 "Is there a way to include in after_all information about how long whole process took?"
Is there a way to include in `after_all` information about how long whole process took?
If yes, how to do it?

Thanks, KR

[2017-09-01 20:10] LiorApp opened #10236 "[deliver] "Insufficient privileges" error when Developer role user tries to upload a new-nonexisting app version to ITC (does work when u/led manually through Xcode)"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

* Using fastlane 2.54.0 we are unable to u

[2017-09-01 20:35] LiorApp commented on #10236
I'm afraid it's not a code signing issue, we're using the same credentials on both ways.

[2017-09-01 21:00] cytryn commented on #8904
I also have this issue? Is it something related to zsh path?

[2017-09-01 21:01] janpio opened #10237 "[deliver] runs `precheck` on `init`"
Running `fastlane deliver init` gives the following output:

[code]

Running `precheck` doesn't really make sense, when it is clear that I don't even have any local file structure, correct?

<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                         | Value                                       |
| --------------------------- | ----------------------------------

[2017-09-01 21:05] janpio opened #10238 "Duplicate information in Appfile, Deliverfile etc. - Can we get rid of one of them?"
After using `fastlane deliver init` I get a new `Deliverfile` that contains the same `app_identifier` and `username` (there as `apple_id`) that I already have in `Appfile`.

One comment also says `# Feel free to remove the following line if you use fastlane (which you should)`.

Does this mean I can get rid of this duplicate information?
Can I get rid of this whole file?

[2017-09-01 21:46] clozach commented on #10183
Oh, you're absolutely right. I'd assumed that the --capture_output flag would include the full console output. At any rate, here's an excerpt including the full output from `pilot`:

[code]

[2017-09-01 21:49] cytryn opened #10239 "Missing 'gem' cocoapods' from Gemfile"
I know that there are a lot of issues about the Gemfile here, but none of those had a real answer to my problem.

Here is what I get if I run `bundle exec fastlane run cocoapods`
[code]

I tried updating everything, but still have this issue. Even recreated Gemfile and installed bundle again. Nothing works.

Any tips?

### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I r

[2017-09-01 23:34] taquitos opened #10240 "gym deletes project if target is same name as enclosing project folder 😵"
1. Create new project "DontDeleteMe"
2. call `fastlane gym -p DontDeleteMe/DontDeleteMe.xcodeproj` from folder that contains the `DontDeleteMe` folder (in this case, I created a project in ~/Downloads and I ran _gym_ from $~/Downloads
3. after your default target is built, it kills the "DontDeleteMe" folder.

<details><summary>🚫 fastlane environment 🚫</summary>

### Stack

| Key

[2017-09-01 23:59] cytryn commented on #10239
Found a solution :)

I had fastlane installed by brew cask, with the correct path on .zshrc. So I uninstalled that by running:
`brew cask uninstall fastlane`

Then I installed via gem command and now it works.
`sudo gem install fastlane -NV`

Hope it helps

[2017-09-01 23:59] #10239 closed

[2017-09-02 05:36] cbowns opened #10241 "[Is this possible?] Running tasks in parallel, e.g. pilot + zip upload"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

I'm looking at parallelizing a couple of s

[2017-09-02 10:05] oskarn97 opened #10242 "[Supply] Remove App from Sale, getting version name, list developer apps"
Hey,

I wanted to check whether the following features are possible with supply but could not find any information about that:
- Suspending / unreleasing an already released app from the Play Store
- Getting the version name (for example v3.2.1, not the APK version code)
- List available apps on an developer account

Thanks!

[2017-09-02 11:52] #9195 closed

[2017-09-02 11:52] #9192 closed

[2017-09-02 12:12] #9269 closed

[2017-09-02 12:21] #9550 closed

[2017-09-03 13:12] #9454 closed

[2017-09-03 14:14] Dershowitz011 commented on #10233
I'm not very god in understnanding codes. Please give me the correct comand to use to sign with:

 1. **NEW** entitlements
 2. **Old** entitlements.

[2017-09-03 16:21] alexbuicescu opened #10244 "Provisioning profile "match AppStore old.bundle.identifier" has app ID "old.bundle.identifier", which does not match the bundle ID "new.bundle.identifier""
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
I have **Multiple targets of the same under

[2017-09-03 19:01] PetrosIchor commented on #10233
I did.  I'm sorry, I don't think I'll be able to help you.  Resigning packaged applications requires you provide more information.  Maybe someone else will know how to handle your question.

[2017-09-04 06:57] melbic commented on #8972
I have the same problem, with the development certificate though. Should match add the certificate to the keychain?

[2017-09-04 12:37] untitaker commented on #10226
Hello @KrauseFx @ohayon if you could give quick feedback on the suggestions above then we can start working on PRs.

[2017-09-04 13:42] #9009 closed

[2017-09-04 13:42] #8638 closed

[2017-09-04 14:07] Sulfkain opened #10247 "Pilot uploaded a copied ipa with hash name, not original one"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
I see that on iTunes, the name of the uploa

[2017-09-04 15:08] Sulfkain commented on #9682
@KrauseFx, any advice? Do you want this as action? as method on Spaceship?

Thanks!

[2017-09-04 15:25] gtatgh commented on #10119
The verification idea may not solve the string input but will surely help preventing errors. Any forecast on a fixing ?

[2017-09-04 16:45] taher-mosbah commented on #9589
Same issure here

[2017-09-04 17:41] appcelerate opened #10249 "Fastlane uses cocopods 1.2.1 instead of 1.3.1"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [ ] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [ ] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [ ] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

"▸ [!] The version of CocoaPods used to generate the lockfile (1.

[2017-09-04 18:02] #9580 closed

[2017-09-04 19:52] #9228 closed

[2017-09-04 20:17] castus commented on #10234
<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                         | Value                                                          |
| --------------------------- | -------------------------------------------------------------- |
| OS                          | 10.12.6                                                        |
| Ruby                        | 2.0.0

[2017-09-04 20:42] #9487 closed

[2017-09-04 20:47] KrauseFx commented on #10249
https://github.com/fastlane/fastlane/blob/master/fastlane/lib/fastlane/actions/cocoapods.rb#L85-L87

Hey @appcelerate, please make sure to [use a Gemfile](https://docs.fastlane.tools/getting-started/ios/setup/#use-a-gemfile) if you want to use a specific version of CocoaPods 👍

[2017-09-04 20:51] #9522 closed

[2017-09-05 06:22] Sulfkain commented on #9682
@KrauseFx, any advice? Do you want this as action? as method on Spaceship?

Thanks!

[2017-09-05 08:37] reshadf opened #10251 "App packaging is returning an error"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
When using fastlane beta, I keep getting an

[2017-09-05 09:07] reshadf commented on #10251
Cert and Sigh don't seem to be working for me.

[2017-09-05 10:40] MortenGregersen commented on #9168
@hjanuschka Is there anything I can do to help this issue forward?

[2017-09-05 11:52] tejas-ardeshna commented on #10151
@ohayon  any update on this?

[2017-09-05 13:39] chriscombs commented on #9809
I am also running into this same problem. The `resign` action runs fine and succeeds, and the app can be installed, but it crashes as soon as it launches. Actually it crashes before it launches, So there is no crash log or anything useful in the console output.

[2017-09-05 13:41] janpio commented on #10242
There are not API methods for this:
https://developers.google.com/apis-explorer/#p/androidpublisher/v2/

Same for the non-ruby API description: https://developers.google.com/android-publisher/

[2017-09-05 14:03] agordeev commented on #8530
I'm having the same issue:

[code]

And my Gemfile is:
[code]

I ran `bundle install`

[2017-09-05 14:32] appcelerate commented on #10249
@KrauseFx thanks for this hint :)
i tried to setup the gemfile

`source "https://rubygems.org"

gem "fastlane"
gem "xcode-install"
gem 'cocoapods'`

but when i run then `bundle exec fastlane lanename` dann kommt beim `match` ein openssl error. But if i add `openssl` in the gemfile then i get a bundle error.

`undler could not find compatible versions for gem "ruby":
  In Gemfile:
    ruby

    ope

[2017-09-05 14:55] Yaldo425 commented on #9809
@chriscombs A few days after I had this issue I went to my device's logged and it turned out that it did not sign a framework properly so I looked for other resigning tools since they didn't want to fix fastlane :/

[2017-09-05 18:39] bolom opened #10254 "Kids Mode with Spaceship"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

How i can set Enable for Kid with Spaceshi

[2017-09-05 19:48] LMojica opened #10255 "dowload_dsyms with version: 'latest' does not download from the latest version"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
The lane download_dsyms with the parameter

[2017-09-05 21:31] sgleisner commented on #9671
Nope. I have not found a solution to this issue yet.

[2017-09-05 23:33] dayjer opened #10259 "[snapshot] 'iPad Pro (12.9-inch)' screenshot size 1 pixel off when running via iOS11/Xcode9"
### New Issue Checklist

- [ X] Updated fastlane to the latest version
- [ X] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [X ] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [X ] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

When running snapshot with Xcode 9 build tools & the latest F

[2017-09-05 23:36] dayjer commented on #10231
Stuck here as well, can't use Xcode 9 due to https://github.com/fastlane/fastlane/issues/10259 and can't use Xcode 8.

[2017-09-06 03:35] MessageDream commented on #10169
+---------------+------------------------------+
|              Build environment               |
+---------------+------------------------------+
| xcode_path    | /Applications/Xcode-beta.app |
| gym_version   | 2.55.0                       |
| export_method | development                  |
| sdk           | iPhoneOS11.0.sdk             |
+---------------+------------------------------+

[11:16:

[2017-09-06 06:56] Dershowitz011 opened #10260 "Ability to sign the app bundle."
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

##### Complete output when running fastlan

[2017-09-06 07:59] juli1quere commented on #10260
Hello,

Did you take a look at [resign](https://docs.fastlane.tools/actions/resign/#resign) ?

[2017-09-06 08:56] jeeftor opened #10261 "Confusion about setting SSL Options"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [ x I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

I am behind a self-signed corporate certif

[2017-09-06 09:01] Dershowitz011 commented on #10260
Ummm yes I did. Doesn't say anything signing .**app** files. Please give me the **full command** to sign an app bundle (.app) please. Let's see.

[2017-09-06 09:16] juli1quere commented on #10260
Indeed, resign do not handle `.app` files but `.ipa` ! I guess the easiest solution would be to review your workflow to have an IPA file as input.

Otherwise: I don't see any solution with the current `sigh`.

[2017-09-06 09:19] Dershowitz011 commented on #10260
That's what. If only sigh can be slightly updated to accept a .app file and resign it, it'd be mind blowing. Try adding the tag "enhancement" to this as this really is a brilliant enhancement. Lmk when it's added by commenting here please. Thanks.

[2017-09-06 09:35] adath opened #10262 "After upgrading to macbook sierra rvm is not working as expected"
I am getting the below error after trying to run a ruby script. This used to work fine before I upgraded my OS to sierra.

/Users/alok/.rvm/rubies/ruby-2.2.2/lib/ruby/site_ruby/2.2.0/rubygems/core_ext/kernel_require.rb:54:in `require': cannot load such file -- os (LoadError)
	from /Users/alok/.rvm/rubies/ruby-2.2.2/lib/ruby/site_ruby/2.2.0/rubygems/core_ext/kernel_require.rb:54:in `require'
	from

[2017-09-06 09:45] adath commented on #10262
I am sorry. I am new to git and I am getting the below error for when I try out that command.

-bash: fastlane: command not found

[2017-09-06 09:53] midhun-murali commented on #10170
can somebody help me in this issue please

[2017-09-06 11:23] MetaImi commented on #6968
For me the problem was that the test target was not running locally either, because of missing cocoapods framework

[2017-09-06 13:03] bes commented on #10195
@ohayon I submitted a PR for multithreaded upload of dSYM files, I hope it looks OK.

Regarding "app being built twice", what I mean is this:

My lane looks like this:
[code]

First every Swift file is compiled by the `scan` step, then every file is compiled AGAIN in the `gym` step, which is very annoying (coming from Java/Android development).

[2017-09-06 14:11] #9611 closed

[2017-09-06 14:11] #9607 closed

[2017-09-06 14:12] #9595 closed

[2017-09-06 14:12] #9556 closed

[2017-09-06 14:12] #9548 closed

[2017-09-06 14:12] #9510 closed

[2017-09-06 14:12] #9393 closed

[2017-09-06 14:27] janpio opened #10265 "[deliver] unsupported languages check breaks for people also using `supply` at the same time because of `android` folder"
In #9351 a check for unsupported languages in `fastlane/metadata` was added.
In #10122 an additional option to ignore this check was added because the feature broke custom file and folder structures.

Unfortunately it also breaks when using both `supply` and `deliver` in the same project (as e.g. multi platform projects built with Cordova or Ionic might want to do). Using `supply` to download Andr

[2017-09-06 14:40] janpio commented on #10265
Looking through the code there are already two sets of folders that are handled differently: Some "special language" folders and some "exception" folders:

https://github.com/fastlane/fastlane/blob/e5e394918641ec735bcb933066549c5380f34647/deliver/lib/deliver/loader.rb#L11-L13

The `SPECIAL_DIR_NAMES` are added as pseudo languages, and `EXCEPTION_DIRECTORIES` are removed to not throw an error as th

[2017-09-06 14:41] plougsgaard opened #10266 "Fastlane Gym breaks in XCode 9 Beta 6"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Everything works fine in XCode 8.3.3 but w

[2017-09-06 15:03] janpio opened #10268 "[deliver] Add option to allow listed folders to pass unsupported languages check"
In #9351 a check for unsupported languages in fastlane/metadata was added.
In #10122 an additional option to ignore this check was added because the feature broke custom file and folder structures.

For all people using non-standard directory and file structures, this option, of course, makes usage of `deliver` possible again, but they lose the very useful unsupported languages check.

I suggest a

[2017-09-06 15:27] iliakukharev opened #10269 "App name alt"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

I know what this error means, but it would

[2017-09-06 15:41] bolom commented on #10254
someone at least can give me the direction to implement this feature?

[2017-09-06 15:43] janpio opened #10270 "[deliver] html preview doesn't include content from privacy_url.txt"
`fastlane deliver init` creates a `privacy_url.txt`. `fastlane deliver` also sets this privacy URL in the iTunes Connect interface for your app. But the HTML preview you can review before uploading the metadata doesn't show the value of this file.

If there is no good reason why this is, the privacy URL should also be output.

[2017-09-06 15:51] janpio commented on #10270
Let's see if I can figure the code behind this out:

Template for preview lives here: https://github.com/fastlane/fastlane/blob/master/deliver/lib/assets/summary.html.erb
File is rendered here: https://github.com/fastlane/fastlane/blob/master/deliver/lib/deliver/html_generator.rb#L33-L50
(privacy_url would probably be part of `options` I guess)
HtmlGenerator is called here: https://github.com/fast

[2017-09-06 15:57] janpio opened #10271 "[precheck] run before uploading metadata?"
Right now `precheck` is run by `fastlane deliver` only after the metadata is uploaded to the App Store. It would be quite practical to be able to use `precheck` on the local metadata before uploading.

Is this just the way `precheck` is built or could this be done somehow?

[2017-09-06 16:51] #9620 closed

[2017-09-06 17:01] janpio opened #10273 "[supply] init could create required images"
Seems `icon.png` and `featureGraphic.png` in `fastlane/metadata/android/xx-XX/images/` are actually needed for the app to be published. Wouldn't it make sense to create them as empty 0 byte images when `fastlane supply init` is executed and creates all the empty .txt files locally?

It already tries to download them:
[code]
but as they of course don't exist on new apps, they just seem to be skippe

[2017-09-06 17:08] janpio commented on #10238
I tested this for the `Deliverfile` that got created when I ran `fastlane deliver init` with duplicated variables from `Appfile` - I could `fastlane deliver` and also `fastlane deliver init` again (after deleting the previous files).

So my guess is you don't actually need this file if the correct values are also in your Appfile and you don't need any additional configuration options to be active.

[2017-09-06 17:10] janpio commented on #10269
Question then is if the API used actually returns this or just a list of error messages...

[2017-09-06 17:10] janpio commented on #10262
So you are not using `fastlane`?

[2017-09-06 17:14] adath commented on #10262
No, I'm not. Please let me know if I have raised this question in a wrong
queue.

-Alok

On Sep 6, 2017 22:41, "Jan Piotrowski" <notifications@github.com> wrote:

[2017-09-06 17:30] janpio commented on #10262
Yes, this is a Github repository for the `fastlane` tool which can be used to automate things for building mobile apps.

You should probably post your problem in a ruby forum or maybe on StackOverflow.

Please close this issue.

[2017-09-06 17:31] #10262 closed

[2017-09-06 17:55] clozach opened #10274 "Docs confusion: `testflight` vs `pilot`"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [X] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [X] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

The first sample code given in the docs, b

[2017-09-06 18:17] janpio commented on #10202
Ok, I confirmed how this works with a "normal" Xcode project:

[code]

The `PRODUCT_BUNDLE_IDENTIFIER` also exists, so this is why it works:

[code]

So this is an edge case with Cordova projects.

A slightly better workflow would be if Fastlane checked for the `PRODUCT_BUNDLE_IDENTIFIER` earlier and added a simple prompt if it doesn't find it, but then continues as it does for a proper Xcode proj

[2017-09-06 19:10] KrauseFx commented on #10274
Hey @clozach, thanks for the feedback, we're well aware of the confusion, and we're working on moving everything to docs.fastlane.tools, e.g. with https://github.com/fastlane/fastlane/pull/10209 👍

[2017-09-06 19:16] KrauseFx commented on #10266
Seems like the output tells you more about the error

[code]

[2017-09-06 20:00] raulriera opened #10276 "[Scan] Multiple devices produce an empty reports file"
When using the new multiple devices options, the reports folder just have an empty reports html and junit. If I just test for one device then the reports are back.

Do we need another argument when using more than one device in the `devices` argument?

## Multiple devices
![screen shot 2017-09-06 at 3 58 05 pm](https://user-images.githubusercontent.com/24159/30131896-6ac4e084-931c-11e7-93c0-21133e

[2017-09-06 20:05] raulriera commented on #10276
Possibly just this https://github.com/supermarin/xcpretty/issues/295

[2017-09-06 20:12] GoodMirek commented on #8366
Here is the related snippet of code I use in `Fastfile`:
[code]

However, it is first time I experience HTTP status 302 from Apple developer portal since I have implemented the above and `match` action now fails even in read-only mode, with following error:
[code]
It is correct that the `match` action failed above, as it could not download WWDR certificate. I use fresh new and empty keychain for e

[2017-09-06 20:16] GoodMirek commented on #8366
Regarding `register_devices` action, which precedes `match` action in my `Fastfile`, I use following code to ignore an error:
[code]
Frequency of someone putting spaces instead of tabs into `devices` file is roughly same as Apple being down 😆

[2017-09-06 20:17] KrauseFx commented on #10183
Can you share the output with `--verbose` enabled?

[2017-09-06 20:40] CareerFairPlus commented on #8366
I'm seeing this issue today while running `produce`.  Is it showing up for others as well?

[2017-09-06 20:41] #9625 closed

[2017-09-06 20:53] hnryjms commented on #8366
Yeah, developer.apple.com/account takes you to their maintenance screen rn.

[2017-09-06 21:01] castus commented on #10234
Really, no one? :(

[2017-09-06 21:01] #9630 closed

[2017-09-06 21:32] GoodMirek commented on #8366
@CareerFairPlus Definitely many parts of North America and Europe see the outage. I guess that the Apple Developer Portal is down for the whole world. It is just few hours now, my experience is that they will fix it by tomorrow.

[2017-09-06 21:40] KrauseFx commented on #9365
Hey everyone, if you find this via Google: This error means that Apple's web services are unavailable. If you're using match, you can use the `readonly` flag to not try to access the Apple back-end

[2017-09-06 21:41] #9434 closed

[2017-09-06 23:41] #9623 closed

[2017-09-07 00:30] AWrightIV commented on #9908
My team will also benefit from adding support for these. I've attached a screenshot below with an example of the Developer Apple site where the entitlement option is offered. All names and unique identifiers are obfuscated.

![provisioning profile with entitlements](https://i.imgur.com/dQxSfd9.png)

[2017-09-07 03:24] baby03201 commented on #9589
I use Xcode 9 beta and manually upload to Store, it stated that only non-beta version is allowed. Is that the reason for this problem?

[2017-09-07 07:08] dayjer opened #10277 "Feature: showing language for failed deliver (copy of #6948)"
It states:

"It would be nice to see the language, which failed. For example in such cases:

[!] The request could not be completed because:
        App Name must not contain control characters (for example, null, new lines, carriage returns, escape, and other invisible characters). App Name must
 not contain control characters (for example, null, new lines, carriage returns, escape, and other inv

[2017-09-07 07:43] plougsgaard commented on #10266
@KrauseFx

It works fine (with the same settings) when I use XCode 8.3.3 to run the Fastlane with. From the docs it seems it should just work with the same configuration.

Do you have any ideas of what I could try?

[2017-09-07 10:42] Jef-Jkn opened #10279 "Connection reset by peer - SSL_connect"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [X] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [X] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
After reading all other issues and trying w

[2017-09-07 10:52] #9615 closed

[2017-09-07 11:34] tomislav commented on #10183
I get the same thing. Are you using XCode-beta? I'm in a rush right now to ship a build to QA for iOS 11 release so I couldn't debug it, but uploading using Application Loader by hand works fine.

[2017-09-07 12:01] navjotbedi commented on #10169
I am also facing the same issue after updating the fastlane to 2.55.0

[2017-09-07 13:34] janpio opened #10280 "fastlane init: both iOS and Android in same project?"
I would very like to be able to type some commands to create a `Fastfile` with lanes for iOS and Android, also having `package_name` and `app_identifier` both created. This would be useful for projects that have both a iOS and Android app like Cordova projects.

Right now you have to choose if this is an iOS application or not on `fastlane init`. When the files already exist you can't call it agai

[2017-09-07 14:51] janpio commented on #10202
Looked up where exactly this PRODUCT_BUNDLE_IDENTIFIER is actually stored:

[code]

which is

[code]

[2017-09-07 14:53] janpio commented on #10202
So...

To make this work for Cordova projects `fastlane` could read `CFBundleIdentifier` from the `*-Info.plist` file (I know some other code already does similar things) as a fallback before throwing this error. Does this make sense?

[2017-09-07 14:58] janpio commented on #10202
Some background on the difference between those values:
https://stackoverflow.com/a/33122728/252627
(CFBundleIdentifier is old, PRODUCT_BUNDLE_IDENTIFIER is new and should be used)

[2017-09-07 16:17] taquitos commented on #10271
_precheck_ is built to pull from the source of truth (ITC). We considered reading metadata locally, but decided that sticking with the source of truth was the best move for the V1. I think it would be a great addition to check all the metadata locally instead of ITC as an option 👍

[2017-09-07 16:18] taquitos commented on #10237
Yeah, precheck probably shouldn't be run during `deliver init`

[2017-09-07 17:26] #10237 closed

[2017-09-07 17:28] RishabhTayal opened #10282 "Deliver app submission failing"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Getting error while submitting the app for

[2017-09-07 17:50] kselman commented on #10133
The suggestions here helped with the same issue I was having with Jenkins.

    xcodebuild -exportArchive -archivePath archive/myapp.xcarchive -exportPath archive -exportOptionsPlist adHoc.plist
**ERROR: Segmentation fault: 11 xcodebuild ...**

I had to add my provisioning profiles to my export.plist

    <key>provisioningProfiles</key>
	<dict>
	    <key>com.company.myapp</key>
	    <string>myapp

[2017-09-07 17:52] #9614 closed

[2017-09-07 18:08] taquitos commented on #9798
@rpranata is this still an issue? We released a fix that should encompass this issue.

[2017-09-07 18:25] fishcharlie commented on #10211
@ohayon Any updates on this?

[2017-09-07 18:27] #10036 closed

[2017-09-07 19:22] KrauseFx commented on #10169
Please share the complete output when running fastlane

[2017-09-07 19:24] KrauseFx commented on #10280
Sorry, right now you'll have to init per platform, and manually merge those Fastfile's to whatever you want to do with it :)

[2017-09-07 19:24] KrauseFx commented on #10237
Thanks for reporting this 👍

[2017-09-07 19:25] KrauseFx commented on #10282
Sorry, you'll have to provide more information here, in particular how to reproduce and your complete output

[2017-09-07 19:26] RishabhTayal commented on #10282
I will close this issue, I think it was intermittent. I am not able to reproduce it anymore. Maybe something went wrong with the iTC API.

[2017-09-07 19:26] #10282 closed

[2017-09-07 19:27] KrauseFx commented on #10133
So is the `compileBitcode` required now? Should we set it to `false` by default?

[2017-09-07 19:27] KrauseFx commented on #10211
Does this happen with the most recent release also?

[2017-09-07 19:29] KrauseFx commented on #10266
This is probably a new requirement with Xcode 9 I guess, make sure to address the error messages. Also, can you build & sign with the Xcode UI?

[2017-09-07 19:30] KrauseFx commented on #10277
Uh, I thought that's already the case, can you share the complete output when running this with `--verbose` enabled, so we have the stack trace

[2017-09-07 19:32] janpio commented on #10280
Ok, at least I didn't miss it.

Would you be interested in having enabled/implemented this somehow?

[2017-09-07 19:32] KrauseFx commented on #9589
Everyone, please read the complete output. Only one person here shared their output, and it clearly explains the error
[code]

please read the output, or share it here, so we can help

[2017-09-07 19:32] KrauseFx commented on #9589
Also, this does not seem like it's an issue with fastlane

[2017-09-07 19:33] KrauseFx commented on #9908
We recently merged https://github.com/fastlane/fastlane/pull/9912, does that help?

[2017-09-07 19:33] KrauseFx commented on #10279
[code]

[2017-09-07 19:37] KrauseFx commented on #8366
Hey @GoodMirek, sorry for not coming back earlier on this one. I agree we could do some magic, however it's pretty weird that we have to do add all those workarounds just because the servers are down so often. Instead we currently recommend people to use the `readonly` option in match, which can be injected without modifying the Fastfile using an environment variable

[2017-09-07 19:38] KrauseFx commented on #10234
You can build something using
[code]

Let me know if that works

[2017-09-07 19:39] KrauseFx commented on #10280
Not sure how this could work, how do you know you want to create one for both platforms?

[2017-09-07 19:39] KrauseFx commented on #10276
Yep, should be followed-up on on https://github.com/supermarin/xcpretty/issues/295 👍 Thanks for reporting

[2017-09-07 19:39] #10276 closed

[2017-09-07 19:50] fishcharlie commented on #10211
@KrauseFx Yes, as of Fastlane version 2.55.0 this issue still exists.

[2017-09-07 20:04] #10195 closed

[2017-09-07 20:06] GoodMirek commented on #8366
Hi @KrauseFx, thanks for responding to this issue. `readonly` option injected via environment variable  is a great recommendation, it did not came to my mind. However, itself it is not sufficient in our use case. It is also necessary to switch off `force` option and take care of failing installation of Apple WWDR certificate. Furthermore, the injection requires manual intervention to CI, what mean

[2017-09-07 20:06] KrauseFx commented on #10262
Thanks for helping out @janpio 👍

[2017-09-07 20:08] KrauseFx commented on #10273
Oh interesting, do you mind submitting a PR for this? :)

[2017-09-07 20:09] KrauseFx commented on #10238
Yeah, it's a little confusing, you can delete your `Appfile` or `Deliverfile` or keep using them. You can have everything in your `Fastfile` if you want.

[2017-09-07 20:10] KrauseFx commented on #10270
Ah interesting, so the upload works, but you were surprised that the privacy URL isn't visible on the HTML report? I guess that's because you rarely change your URL, as opposed to screenshots or metadata

[2017-09-07 20:11] KrauseFx commented on #10254
I don't think that's possible right now, sorry. You can implement it as part of spaceship. Check out https://github.com/fastlane/fastlane/blob/master/ToolsAndDebugging.md on how to get started working on _spaceship_ 👍

[2017-09-07 20:13] KrauseFx commented on #8366
Mh, I'm not sure how much complexity this would add to the code base, if it's a few `if` `else` blocks only, I'd be ok with it

[2017-09-07 20:21] GoodMirek commented on #8366
The biggest part will probably be saving Apple WWDR cert in `match`'s repo while servers are working and using it from there if `curl` command in method `install_wwdr_certificate` in file [cert_checker.rb](https://github.com/fastlane/fastlane/blob/master/fastlane_core/lib/fastlane_core/cert_checker.rb) fails.

Does that makes sense to you?

[2017-09-07 20:29] KrauseFx commented on #10231
Oh interesting, do you mind submitting a PR fixing this? :)

[2017-09-07 20:29] KrauseFx commented on #10259
That's weird, anything fastlane snapshot can do to fix it? We just take a screenshot from the device using the xcodebuild command line tools

[2017-09-07 20:30] KrauseFx commented on #9611
That's awesome, would love to see this as a plugin for sure ❤️  Sorry for the late reply

[2017-09-07 20:32] KrauseFx commented on #10255
Mh, what's the best way for us to reproduce the problem?

[2017-09-07 20:34] KrauseFx commented on #10249
which one?
don't add `openssl`, instead make sure Ruby has proper OpenSSL installed, check out https://github.com/fastlane/fastlane/blob/master/fastlane_core/lib/fastlane_core/ui/fastlane_runner.rb#L176 👍

[2017-09-07 20:37] KrauseFx commented on #8366
oh yeah, sounds like a great idea if that's easily posisble

[2017-09-07 20:38] KrauseFx commented on #10251
[code]

That's the error message 👍

[2017-09-07 20:38] janpio commented on #10270
Yes, I expected the preview to display _all_ metadata so I can check if I filled all the files. Question is how the feature was intended to work...

[2017-09-07 20:40] KrauseFx commented on #10270
Uh, not sure if we really need all metadata to be honest, but yah, we could easily do that, check out the `deliver/html_generator.rb` file for the implementation 👍

[2017-09-07 20:40] KrauseFx commented on #9682
Can you provide this as a plugin maybe?

[2017-09-07 20:41] janpio commented on #10238
Ah, even the `Appfile` can go, interesting.
I actually like the setup with `Appfile` and `Fastfile` - app information and variables in the former, lanes in the latter, so different project can use the same `Fastfile`.

Will this setup work?

[2017-09-07 20:42] janpio commented on #10273
I can try (after I fix the other PR that I seem to have messed up 😃 )

[2017-09-07 20:43] KrauseFx commented on #10270
Uh yah, in the beginning it was just screenshots & app description + title, and nowadays it does more. I'd be ok with it showing all the metadata it is going to upload :)

[2017-09-07 20:44] KrauseFx commented on #10273
Sounds great 👍 Thanks @janpio

[2017-09-07 20:44] KrauseFx commented on #10238
Yeah they can use the same Fastfile, also check out https://github.com/fastlane/examples

[2017-09-07 20:45] janpio commented on #10280
Hmm, several ideas:

a) Replace the "Is this project an iOS project?" prompt with a multi selection:
[code]
(No idea if this concept already exists anywhere in Fastlane though.)

b) Add a parameter that skips the `fastlane is already set up at path` test in setup.rb and allows so the second run to add to the files instead of creating them.

c) New `is_cordova` check in setup.rb that checks for exi

[2017-09-07 20:47] KrauseFx commented on #10226
Why do you prevent spaceship from making request?

That's not the only thing fastlane caches, we're doing more, including the derived data, session cookies, etc. Or do you mean the fact that it's in `/` instead of `~/Library/Cache`?

it's only needed for the login, the cache wouldn't help if we were to clear it on every login

In general, the API key seems to never change, but we're not allowed to

[2017-09-07 20:53] KrauseFx commented on #9947
Thanks for reporting this, and sorry for the late reply. The error is in this code sample:
[code]

`app` is nil, so it probably just can't find your app, make sure the `options[:bundle_id]` value was properly provided, and the app exists for the team you logged into 👍

Also, we'd recommend not to pass the password as parameter, but let spaceship ask for the password for you and store it in the key

[2017-09-07 20:53] KrauseFx commented on #9558
That's so awesome, thanks again everyone @thelvis4

@joeybaker hehe, yah :) the bot didn't know about the PRs :P

[2017-09-07 20:54] #9558 closed

[2017-09-07 20:55] KrauseFx commented on #10230
Please share the complete output when trying to build

[2017-09-07 20:55] GoodMirek commented on #8366
[Here](https://gist.github.com/GoodMirek/56391c2ae24df004742a44a7788b6685) is my `Fastfile` resilient to Apple Developer Portal errors, if anyone is interested.

[2017-09-07 20:56] KrauseFx commented on #10232
That's super weird, how can we fix this?

[2017-09-07 21:07] KrauseFx commented on #8904
Did you run `bundle update`, and then run fastlane using `bundle exec fastlane`?

[2017-09-07 21:07] KrauseFx commented on #10240
Can you please format the issue properly? 😉

[2017-09-07 21:08] KrauseFx commented on #10239
Awesome :+1:

[2017-09-07 21:08] KrauseFx commented on #10241
Sorry, currently not possible, you could hack something together using the normal Ruby syntax using `Thread.new`, but this might have side effects, I'd advice against it

[2017-09-07 21:12] KrauseFx commented on #9542
I think this is something we want to work on, right?

[2017-09-07 21:12] #9678 closed

[2017-09-07 21:13] KrauseFx commented on #10176
Mh that's not the complete output, please run using `--verbose`, and share everything, in particular also the stack trace

[2017-09-07 21:13] KrauseFx commented on #10244
This is related to your project setup, make sure to follow the code signing guide on how to setup code signing in your Xcode project 👍

[2017-09-07 21:14] KrauseFx commented on #10229
Do you want to use a launcher? Instead we'd recommend using
[code]

[2017-09-07 21:17] KrauseFx commented on #10228
Awesome, thanks for the report, I just pushed https://github.com/fastlane/fastlane/pull/10287

[2017-09-07 21:17] #10228 closed

[2017-09-07 21:19] KrauseFx commented on #10280
Mh, I'd favor on leaving it as is for now, maybe we can have more optimized setups for react native and other cross platform apps, but usually iOS and Android code bases are separated

[2017-09-07 21:20] KrauseFx commented on #10227
We don't recommend using the `update_project_provisioning` action any more, check out our code signing guide linked by the bot 👍

[2017-09-07 21:20] KrauseFx commented on #10225
Sorry that seems very specific and probably not something we want in the fastlane code base for now, however feel free to build a plugin or location for this :)

[2017-09-07 21:22] KrauseFx commented on #10163
[code]
You seem to be calling a super super old version of fastlane sigh, please prefix the tool by using `fastlane sigh`, that will do the trick. Make sure to run `gem uninstall sigh deliver match` and `gem update fastlane`, or remove all non-fastlane gems from your `Gemfile` if you have one

[2017-09-07 21:24] KrauseFx commented on #10158
instead of
[code]
could you just try
[code]

with `...` being the other parameters.

[2017-09-07 21:25] KrauseFx commented on #10193
Yah this is a firewall issue, can you try connecting with a VPN or using your iPhone as internet hotspot?

[2017-09-07 21:46] masteranza commented on #10232
@KrauseFx I think that we'd need to determine whether or not it is a two-factor-authentification group first. Because right now the logic goes right this: 1. try two-factor auth 2. try app-specific keychain auth 3. try the regular keychain auth.

I'm also amazed how the solutions to one problem got so many solutions... I'd propose using only keychain for everything including two-factor auth with t

[2017-09-07 22:05] Blackjacx opened #10288 "`brew install git-flow`fails with error"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

##### Complete output when running fastlan

[2017-09-07 22:23] AWrightIV commented on #9908
@KrauseFx That looks relevant. I'll do some testing and confirm.

[2017-09-07 22:33] cbowns commented on #10241
that's what I figured.

[2017-09-07 22:33] #10241 closed

[2017-09-07 22:51] clozach commented on #10183
@tomislav I have Xcode-beta, but I'm using the release version for this project:

`Found Xcode version 8.3.3 at /Applications/Xcode.app satisfying requirement ~> 8.0`

Good idea to try the Application Loader. (It'd been so long I forgot it even existed!) Result, which probably explains the underlying iTMSTransporter issue, in which case I think I know how to proceed:

`ERROR ITMS-90497: "Invalid I

[2017-09-07 23:12] clozach commented on #10183
@KrauseFx Thanks for getting back to me! If you still need it, here's the verbose output, with some substitutions for private data like team ID', URLs and such. Cheers! 👻

[code]

[2017-09-07 23:33] clozach commented on #10183
# Personal Resolution

* I fixed the error reported by `Application Loader.app`
* I re-ran fastlane…no change
* Tried just the failing command verbatim (see below) but with the correct value for the `-p` password flag & got the "no main manifest attribute" error as shown 👇
* Tried `Application Loader.app` again and it worked 🎉

@KrauseFx I'll leave it to you to close or not.

[code]

[2017-09-08 02:10] KrauseFx commented on #10288
Why do you run `brew install git-flow` as part as your Fastfile? is that in your config? I'd recommend not to install dependencies on the fly as part of your deployment

[2017-09-08 02:10] KrauseFx commented on #9908
Awesome, thanks 👍

[2017-09-08 02:49] akshaynhegde commented on #10133
Enabling bitcode on xcode too just makes it crash. So I am thinking it's mostly an issue with Xcode beta, which might get resolved in the next version. Release is due in few days. So may be we can wait it out.

Regards,
Akshay Hegde

On Sep 8, 2017, 12:57 AM +0530, Felix Krause <notifications@github.com>, wrote:

[2017-09-08 03:18] Brandt1981 commented on #9908
It selected the correct entitlement for the profile.

[2017-09-08 03:20] Dershowitz011 commented on #10225
Try adding the feature of signing the app bundle **(.app)** file at least. That'd be extremely useful. Do oblige. Thanks.

[2017-09-08 03:47] LMojica commented on #10255
For me this is reproducible by uploading a fresh binary to iTunes Connect, and then running the  `refresh_dsyms` lane after the binary has been uploaded. I don't do anything else with the newly uploaded binary, I just upload it to iTunes Connect using Fastlane and I leave it alone.  Fastlane will attempt to download the dsyms from the binary that is currently on the App Store instead of the one I

[2017-09-08 05:30] afh commented on #10231
I may find time to have a look, yet I prefer the person introducing the changes revise and amend them.

[2017-09-08 05:48] taquitos commented on #10240
Y̶͖̐͑͆̀̾̒͘è̶̟̺͔̮̪̻̖͒̾͒̋͐̆̄̉̓͌̈́͝͠͝a̷̺̘̾̑́̀͐͂̽̆ḩ̷̢̥͎̦̗̯͔̪̳͖̪͚͕̐̓̐̇̕,̴̛̙͉̙͉̱̣̫̭̇̂ ̸̼̦̘̱̿̂̀̒̄͒̒̐͊̀̓̇͂̔i̶͕̯̩͇̓̊̆͂͒̌s̸̡͍̩̼̫̹͎̻͓̣̱̬̳̻̓̋́̏ ̷̫͙͙̠̖͔͖͎͚̗̥̬͓̩̐t̴̨̢̘̺̭̰̹̖̰̖̩̮̗͕̟̃̒̐̉͐̃̎͛̃͐͘̚͠h̸̢̡̨̯͖̜̖̰͂̋̋ͅi̷̡̫̦̯̩̪̼͙͓̥̥͐̓̄̋̾͒͌̇͛̄̚̚͠s̵̨̛̹͓̭͈͓̘͇̙͕̗̝͓̙̐̈́̉̏̏̍ ̸͈̙̫̭̭̤̆̋̊̂ͅb̴̓͆̓͂̔̀͝ͅę̵̰̗̫̰̉̉͗̿́ẗ̵̘͉̙͎̯͙̘̎͑̃́̉͌́̄͌̀̀̅̈́ţ̷̲͇͉̝̤͇̲͎̃e̸͖̪̭̐̅ŗ̶̲̱̬̣̬̤̼̽͛̂̊͂͒̚͜͠?̸̨͕̗͙̤̞̹̳͙̹̺̱̑͋̓͂͌͒͐̓́

[2017-09-08 06:27] dayjer commented on #10259
Might go away with xcode 9.0 release, should we just keep this open till then? I'll check next Xcode update if it's resolved.

[2017-09-08 06:28] corneliu-serediuc commented on #10279
<details><summary>🚫 fastlane environment 🚫</summary>

### Stack

| Key                         | Value                                                          |
| --------------------------- | -------------------------------------------------------------- |
| OS                          | 10.12.6                                                        |
| Ruby                        | 2.0.0

[2017-09-08 07:37] komarekw opened #10289 "WARNING: CFMachPortSetInvalidationCallBack() called on a CFMachPort with a Mach port"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Hi all,

we are using since more than one

[2017-09-08 07:39] Reedyuk commented on #9589
Strange, as i managed to get the app to upload via Xcode from the same machine and it worked.
I then ran the fast lane failing command from the terminal but with -allowProvisioningUpdates and it succeeded.

[2017-09-08 07:44] Reedyuk commented on #9589
[code]

[2017-09-08 08:15] petrmanek commented on #10088
So far, there has been no improvement whatsoever. After removing the restriction to only manage specific apps, the CI account in iTC (with Developer role) still consistently fails to set the changelog after uploading new builds with same error as before.

I will attempt to give it Admin permissions but I'm not too confident. In the meantime, is there something else we can do or try?

[2017-09-08 08:52] vineethvijay commented on #9741
I'm little bit new to this whole iOs build thing. Made the build with Xcode UI (also xcodebuild) and sized to 25 mb. Same with fastlane gym , it sized up to 150 mb!!

From few thread, there was mention to "bitcode". But I was getting same size with and without enabling it.

In between I made some changes in the config and created a export.plist file and used with gym for my "ad-hoc" build type. Th

[2017-09-08 11:34] pmiaskiewicz commented on #9589
This issue also affects my project.
As soon as I switch to Xcode9 I see same errors even though source code, fastlane and provisioning profiles/certs are same.

One tip, I use "Automatically manage signing" option, maybe in new xcodebuild it's required to pass -allowProvisioningUpdates to achieve same thing, so maybe there should be an option to pass it with fastlane?

[2017-09-08 11:52] #8332 closed

[2017-09-08 11:55] untitaker commented on #10226
Only in our tests! We use [vcr](https://relishapp.com/vcr/vcr/) to record all requests spaceship makes once and then replay them. This makes it easier to adjust the tests should a new spaceship version use different APIs (you have to just rerecord the requests).

From my perspective it doesn't matter whether it's in either `/` or `~/Library/Cache`. Either way it is state that I have to clean up if

[2017-09-08 12:00] untitaker commented on #10226
I forgot to respond to this:

In that case, would you accept a PR that adds a method to spaceship's public API to clear all of those caches?

[2017-09-08 14:07] Blackjacx commented on #10288
Yep I need it as part of my deployment since I have local changes in my project after the deployment that I want to be committed and built. For that I use the gitflow tool. It proper handels version increments and changelog updates.

[2017-09-08 14:12] mooshee commented on #9589
@Reedyuk Instead of `xcargs` use `export_xcargs`.  I tried the following with success `export_xcargs: "-allowProvisioningUpdates"`

[2017-09-08 14:36] Reedyuk commented on #9589
where do i use export_xcargs?
Would it be like this?
gym(scheme: "purple-monkey-dishwasher", export_xcargs: "-allowProvisioningUpdates")

[2017-09-08 15:44] Otbivnoe commented on #10158
@KrauseFx it works, awesome! Thanks! :)

[2017-09-08 15:44] #10158 closed

[2017-09-08 15:50] Reedyuk commented on #9589
Actually, i can confirm that has done the trick.
Thanks @mooshee

[2017-09-08 16:12] tomislav commented on #10183
This is my error log

[code]

Stack trace
[code]

[2017-09-08 16:41] RishabhTayal opened #10291 "Spaceship: Add function to post review on an app rating"
This is a feature request. It would be nice to have a function in `spaceship` to add a developer response to a user review on an app. In future it will be also nice to have a 'edit response' and 'delete response' features.

I have already completed the implementation for this. Will create PR soon. Really fun to work with `spaceship` development. 👍

[2017-09-08 17:01] romk1n opened #10292 "show upload progress for hockey app crashlytics"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

Feature request to show upload progress when uploading files to h

[2017-09-08 17:07] KrauseFx commented on #10291
Hey @RishabhTayal, thanks for the idea and thanks for preparing a PR. We've actually already had a PR for this with https://github.com/fastlane/fastlane/pull/9036 by @hjanuschka and decided not to go ahead with it, as it's going to be abused by developers. I'll close the PR for now, as it's not something we want to have in the fastlane code base for now 👍

[2017-09-08 17:07] #10291 closed

[2017-09-08 17:11] RishabhTayal commented on #10291
😢

[2017-09-08 17:30] RishabhTayal commented on #10291
@KrauseFx I understand your concern about adding this feature to the `fastlane` code base. However I still want to you this method using `spaceship`. I maintaining a feature branch in my forked repo which contains this feature. Is there a way for me to point my projects `Gemfile` to this feature branch in my forked `fastlane` repo?

[2017-09-08 17:31] herberzt opened #10294 "Can't Update Fastlane to Latest Version"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
I was trying to install a plugin for Cordov

[2017-09-08 18:08] reshadf commented on #10251
Do I pass it like this?

```fastlane beta -allowProvisioningUpdates```

[2017-09-08 19:09] castus commented on #10234
OMG! I'm so embarrassed that I do not figure it out by myself :P Thanks a lot @KrauseFx!

[2017-09-08 19:25] KrauseFx commented on #9908
Wohooo 🚀 I'll close the issue for now then

[2017-09-08 19:25] #9908 closed

[2017-09-08 19:27] KrauseFx commented on #10226
Mh, you're actually the first one to mention this, so it doesn't seem like a big problem for most users. Could you add a feature to delete the file as part of your setup (e.g. in your Fastfile)

[2017-09-08 19:30] KrauseFx commented on #10289
Are you using the right API key for the right org?

[2017-09-08 19:30] KrauseFx commented on #10259
Sounds great :+1:

[2017-09-08 19:52] petrmanek commented on #10088
Have some news. Adding the *Admin* role to the CI account seems to have made all the difference! Since Admin is equivalent to all the roles available, I will now try incrementally remove the roles one by one and repeat my experiment. Hopefully, I can identify the bare minimum of roles Pilot can work without breakage.

[2017-09-08 20:15] untitaker commented on #10226
We use spaceship as a client library for iTunes connect. We are not involved
with writing the actual app. Therefore no Fastfile exists.

Again, we already delete the file ourselves, that was never the point. The
(aesthetic) issue I have with this is that we have knowledge of Spaceship's
internals (cache paths) in our own codebase which we shouldn't have.

On Fri, Sep 08, 2017 at 12:27:39PM -0700,

[2017-09-08 21:13] KrauseFx commented on #10234
Glad to hear that helped 👍

[2017-09-08 21:13] #10234 closed

[2017-09-08 21:14] KrauseFx commented on #10294
You're using a really old version of fastlane, please make sure to update using `[sudo] gem update fastlane`, or if you have a Gemfile, use `bundle update`

[2017-09-08 23:09] Anthony-SF opened #10295 "Primarily Child-Directed option"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Google recently added a required option to

[2017-09-09 07:11] #8806 closed

[2017-09-09 17:22] StobyWan commented on #9270
Agreed same issue on Ionic Cordova

[2017-09-09 19:07] superandrew opened #10297 "Xcode 9 can't do `xcodebuild -showBuildSettings`"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
Xcode 9, fastlane 2.55. Two appid with two

[2017-09-09 21:23] herberzt commented on #10294
I think that worked! thanks a bunch

[2017-09-09 21:23] #10294 closed

[2017-09-10 13:53] col commented on #8973
I'm having the same issue as this and, at least in my case, it cannot be resolved by using `sigh` as I do not have direct access to the ADC account.

Are there any other ways to set the 'PROVISIONING_PROFILE_SPECIFIER' in the .xcodeproj correctly?

[2017-09-10 14:02] col commented on #8973
I'm pretty sure the `update_project_provisioning` action needs to be updated to set the `PROVISIONING_PROFILE_SPECIFIER` as well as `PROVISIONING_PROFILE`.

See: [update_project_provisioning.rb](https://github.com/fastlane/fastlane/blob/master/fastlane/lib/fastlane/actions/update_project_provisioning.rb) Line 66

Can someone else validate that this is the right approach? I can put a PR together bu

[2017-09-10 14:21] col commented on #8973
Ok, I've found a workaround but to be honest I'm pretty surprised how difficult it is to build an app with a different set of signing details. Here's what I have now that "appears" to be working. (The real test will be tomorrow when I _actually_ upload to the AppStore).

[code]

I definitely think there is room here for a specific fastlane action that handles all of this mess. Something like:

[co

[2017-09-10 15:48] col commented on #9177
@joelklabo I'm having the same issue trying to run the tests. Did you resolve this issue? If so, how?

[2017-09-10 15:55] huanling713 commented on #10193
@KrauseFx Thanks，I will consider anther network enviorment.

[2017-09-10 15:55] #10193 closed

[2017-09-10 15:57] sharat commented on #10232
I think I am facing a similar problem where I had 2FA enabled for my account and specified `FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD` in the environment variable. Fastlane complains that I need to specify `FASTLANE_PASSWORD` as to continue to login. I have given app specific password as `FASTLANE_PASSWORD` as well and login failed. I think if `FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD` is a

[2017-09-10 16:21] sharat commented on #10232
I think I am facing a similar issue.

`load_password_for_transporter` tries to load `TWO_FACTOR_ENV_VARIABLE` (`FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD`) before attempting any other method of login. I am not quite sure why I was prompted to enter Apple ID password though  `FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD` is already setup.

In addition, it also requires FASTLANE_PASSWORD to attem

[2017-09-10 18:49] sharat opened #10299 "FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD is ignored and requesting FASTLANE_PASSWORD for 2FA enabled accounts in CI environment"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
Fastlane ignores `FASTLANE_APPLE_APPLICATIO

[2017-09-10 20:51] tkanzakic commented on #10231
The helper class for Xcode 8 is still in the repo as [SnapshotHelperXcode8.swift](https://github.com/fastlane/fastlane/blob/master/snapshot/lib/assets/SnapshotHelperXcode8.swift).

I think we have two options:
1. update the documentation to point to the appropriate file depending on the Xcode version being used and let developers decide.
2. have only one file with the implementation for both Xcode

[2017-09-11 03:40] bizibizi opened #10300 "how to update dSYM only for the last testFlight version?"

[2017-09-11 05:05] y-a-n-n opened #10301 "gradle command handles some standard Android tasks incorrectly"
### New Issue Checklist

- ✅ Updated fastlane to the latest version
- ✅ I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- ✅ I read [docs.fastlane.tools](https://docs.fastlane.tools)
- ✅ I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

I have an android product with multiple product fl

[2017-09-11 05:54] liaogz82 opened #10302 "Getting previously run fastlane lane name"
How do I get the previous fastlane name? is there a command for that

[2017-09-11 06:07] iOkay opened #10303 "403 Error when delete test group"
I got [403 Error](https://stackoverflow.com/questions/46149001/got-403-when-i-touch-group-with-delete-method-in-testflight) when I touch group with url directly. Does any one have idea?

<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                         | Value                                       |
| --------------------------- | --------------------------------------

[2017-09-11 06:09] officina-build commented on #10297
Problem solved with update to last Xcode 9 beta 6. and it wasn’t related to code sign in anyway, it popped out when I updated fast lane on an existing project

[2017-09-11 06:18] komarekw commented on #10289
Hi,
yes. I checked it several times.

Thanks,
Werner

[2017-09-11 06:31] gtatgh commented on #10119
@ohayon Any update in this?

[2017-09-11 08:44] Fosile commented on #10301
Since today i discover a similar Problem, last Week everything worked fine.

This is not working anymore:
[code]

[2017-09-11 10:53] appcelerate commented on #10249
Ok, i am now its working! THANKS!

[2017-09-11 10:53] #10249 closed

[2017-09-11 12:20] frey1esm commented on #7691
Any update on this?

[2017-09-11 12:40] Cyberbeni opened #10306 "Fastlane using system version of OpenSSL instead of the one in fastlane env"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
`fastlane env` shows `OpenSSL Version | Ope

[2017-09-11 15:52] tschob commented on #10088
I got the same error and scenario as @petrmanek. I'm surprised the error is about the change log as we don't set the `changelog` option. @petrmanek do you use this option?

[2017-09-11 16:34] GuilhermeMachado commented on #10169
I was having the same problem, try this:
[code]

[2017-09-11 16:41] ohayon commented on #9270
Hey everyone, not having too much experience with Ionic and Cordova, I'm wondering if this is something that is very straightforward to reproduce? I am going to try making a sample project to reproduce this but if anyone has one to share that would be 💯! Thanks! 🚀

[2017-09-11 18:11] KrauseFx commented on #10306
Hey @Cyberbeni thanks for reporting this. Are you on macOS High Sierra?

[2017-09-11 18:14] KrauseFx commented on #10299
Could you share the complete output when running _fastlane_?

[2017-09-11 18:14] KrauseFx commented on #10299
Oh, right, the `FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD` can only be used by the iTunes Transporter, you'll still have to provide the password + the 2 factor SMS code to use iTunes Connect and the Apple Dev Portal

[2017-09-11 18:16] kylebrowning commented on #9732
This resolved for me.

[2017-09-11 18:17] Cyberbeni commented on #10306
No, I'm on the latest version of Sierra: 10.12.6

[2017-09-11 19:19] SiarheiFedartsou opened #10308 "Actions running from `cocoapods` `error_callback` block are running from wrong working directory"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Simple lane:

[code]
will produce(if first

[2017-09-11 19:40] sharat commented on #10299
@KrauseFx

See the screenshots attached

My beta lane is simple and default. Just `gym` and `pilot`. It works well in a local machine because my keychain has credentials and app specific password will be automatically taken. In the CI, this is not available. Hence it prompts me for 6 digit code. I tried removing `FASTLANE_USER` and `FASTLANE_PASSWORD` to see if it can work with `PILOT_USER` and `F

[2017-09-11 20:29] ohayon commented on #10211
Hey @fishcharlie thanks for reporting back with the contents of directory. I think you're right that we will need to fix this in _fastlane_. I will take a closer look at this situation this week. 😄

[2017-09-11 20:32] fishcharlie commented on #10211
Awesome. Thanks @ohayon

[2017-09-11 21:05] ohayon commented on #9177
Hmm, apologies if this is a stupid question, but could you try running `bundle update` to make sure that `rack/mount` is available to your bundle? Let us know if you are still having issues after doing that and we will be happy to help! 😄  🐙  🚀

[2017-09-11 21:14] ohayon commented on #10211
Hey @fishcharlie this might be a really naive question, but: how did you get an iPhone 4s simulator in Xcode 9? When I try to do it I get this incompatible device error.
<img width="573" alt="screen shot 2017-09-11 at 5 13 07 pm" src="https://user-images.githubusercontent.com/2587018/30297124-aa0e26a0-9714-11e7-8b93-785817a1ca6d.png">

[2017-09-11 21:19] ryang1428 commented on #9380
I am still seeing this issue in Xcode 9 beta 6. Archives fine locally-- but fails with these same errors when running `gym`. @davidchristiandy I see you maybe fixed this in a fork last week? Should I create a new issue? Anyone else experiencing this still?

[2017-09-11 21:19] fishcharlie commented on #10211
@ohayon No such thing as a bad question. I honestly can't remember. If you go into Xcode Preferences  and under Components do you have the correct simulator installed? I have 9.3 and 8.4 installed. I should probably install the latest iOS 10 one also.

[2017-09-11 21:26] ohayon commented on #10211
Ohh that might be my issue: I only have the newest version of iOS 10 installed. I might need to fix that up.

[2017-09-11 21:42] RishabhTayal opened #10310 "spaceship - Get only 'live' apps from itc"
What's the most efficient way to get the list of live apps from the `spaceship` apis? There seems to be one method `live_version` which could be possibly used to get the live version but I am not sure if this is the efficient way because calling `live_version` would iterate through list of all application objects and call network API ([reference](https://github.com/fastlane/fastlane/blob/master/sp

[2017-09-11 21:42] ohayon commented on #10232
Thanks everyone for chiming in here. We have seen issues with the transporter a few times. Is there anyone that would want to submit a PR for this and beat us to the punch? 🚀

[2017-09-12 02:35] sgtsquiggs commented on #10133
I have this same issue. I am not using bitcode; it is disabled in Xcode, and I tried setting `export_options: { compileBitcode: false }` in the gym call. No dice.

[code]

<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                         | Value                                            |
| --------------------------- | ------------------------------------------------

[2017-09-12 02:44] saitjr opened #10311 "Call fastlane in ruby"
Is there any way to call fastlane in ruby directly?

such as `match`, I have to write like this:

[code]

But this method doesn't have any return value, all provision informations is included in ENV. And there is no easy way to call `gym`, so I have to use Fastfile 😭😭😭😭😭:

[code]

[2017-09-12 05:57] dayjer commented on #10277
Will do when I generate them again in a couple days.

[2017-09-12 06:16] dayjer commented on #10277
I didn't have any invisible characters handy, but I post some bad ones and got this back.

[code]

Will that work?

[2017-09-12 06:39] Sulfkain commented on #9682
I will take a look how to do a plugin.
I will try my best :D

[2017-09-12 07:58] KrauseFx commented on #10299
Yeah, separate user always works great. Check out https://docs.fastlane.tools/best-practices/continuous-integration/#two-step-or-two-factor-auth also 👍

[2017-09-12 08:00] KrauseFx commented on #10310
Calling `live_version` doesn't query all application objects from my understanding, but instead sends this request https://github.com/fastlane/fastlane/blob/master/spaceship/lib/spaceship/tunes/tunes_client.rb#L316-L332

[2017-09-12 08:20] RishabhTayal commented on #10310
It doesn't query all applications. My code looks like this.

[code]

This will send request in a loop. Is this the correct way?

[2017-09-12 08:20] #10303 closed

[2017-09-12 08:24] KrauseFx commented on #10311
You can, but it's not recommended, check out `cli_distributor` in fastlane. Again, I would recommend against it, instead please use multiple lanes, as you can call other lanes from within a lane. Let us know what you want to do, so we can have a better understanding of the use-case :)

[2017-09-12 09:06] saitjr commented on #10311
Thank you for your reply 😀.

We have a huge workflow:
[code]
And each step may raise an error, and I want to cache these errors at command's entrance, not every fastfile's error lane.

Is there any great idea ?

[2017-09-12 12:00] Blackjacx commented on #10288
OK @KrauseFx I changed my workflow how I release the app. Now I don't need t change my repo inside the script anymore. So this can be closed.

But still it should be possible to install 3rd party dependencies, i.e. for a CI machine that runs a VM which has nothing initially...

[2017-09-12 12:00] #10288 closed

[2017-09-12 12:01] ChristopherStephan commented on #10236
We are experiencing exactly the same problem as described. When changing the role to 'app manager' the ipa file upload to iTunes Connect succeeds.

[2017-09-12 13:49] ryang1428 commented on #6968
My team has been running into this issue quite a bit on our Jenkins builds. We have to constantly restart the simulators, then the builds until they pass.

[2017-09-12 14:54] Blackjacx opened #10314 "No symbolication on Crashlytics"
### Issue Description

When I build with gym and upload with the Crashlytics action there are always dSYM's missing on Crashlytics. Why can't it simply upload it along with the IPA since that works perfectly. Even setting include_symbols to true in the gym action does not help. I'm always left with the unsymbolicated warnings.

[code]

### Environment

<details><summary>🚫 fastlane environment 🚫</s

[2017-09-12 15:25] ohayon commented on #10300
Hi @bizibizi, could you provide a bit more context about the issue youre having?

[2017-09-12 15:26] ohayon commented on #10302
Hey @liaogz82, could you provide a bit more information about what youre trying to do? Thanks! 🚀

[2017-09-12 15:27] ohayon commented on #10297
This was a bug in an earlier beta version of Xcode 9 but we thought it was resolved 😱 . @superandrew could you tell us which version of Xcode beta you are using? 🐙

[2017-09-12 15:30] ohayon commented on #10119
Hey @gtatgh, I'm not sure if that is the right direction as we are going to have to have a map of every different string-based array permutation and it seems like it could be a bit messy. Would you have any interest in giving this a shot and submitting a PR and we can talk about it more once we have something to look at? 🐙

[2017-09-12 15:32] 0xpablo opened #10315 "[gym] (Xcode 9 b6) Generated exportOptionsPlist bundle identifiers contain variables instead of actual bundle identifiers"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

It seems that the generated exportOptionsP

[2017-09-12 15:38] ohayon commented on #10301
Thanks for the update @Fosile ! @y-a-n-n could you see if that works for you too? 🐙 🚀

[2017-09-12 15:42] ohayon commented on #10169
Thanks for following up with the update @GuilhermeMachado ! 🚀

[2017-09-12 15:42] ohayon commented on #10169
@MessageDream does this work for you as well?

[2017-09-12 15:44] ohayon commented on #9732
@kylebrowning are you still on the old version of fastlane? Have you tried updating to more recent versions?

[2017-09-12 15:55] superandrew commented on #10297
I *was* using beta 5. Now I am on beta 6.

[2017-09-12 16:25] kylebrowning commented on #9732
I am on the latest version. I feel like this may have been an issue with a `"` in my FastFile.

[2017-09-12 16:51] ohayon commented on #10133
Hey everyone, would people mind trying out the GM that will likely be released later today at the Apple event to see if this issue is still happening with newer versions of Xcode? 🚀

[2017-09-12 17:18] petrmanek commented on #10088
@tschob Yes, we do. Turns out that **giving CI iTC account the App Manager role fixes the issue**

[2017-09-12 19:53] ohayon commented on #10310
Hey @RishabhTayal that is what I would say to do for now. I don't believe there is a way to get just all the live versions from iTC directly sadly :( .

[2017-09-12 20:03] ohayon commented on #10311
Hey @saitjr is that something you might be able to do in a `before_each` and/or `after_each` block in a Fastfile? https://docs.fastlane.tools/advanced/ 🚀

[2017-09-12 20:40] janpio opened #10317 "YourFirstPR.md: "Test the changes for your application" - How to undo?"
I followed https://github.com/fastlane/fastlane/blob/master/YourFirstPR.md#test-the-changes-for-your-application to use my local Fastlane checkout as the `fastlane` for my test project to confirm a PR I created.

Is it enough to just delete the `Gemfile` to undo this?

[2017-09-12 20:49] ohayon commented on #10314
Hey @Blackjacx is it possible you have bitcode enabled? 👍

[2017-09-12 20:51] ohayon commented on #6968
Hey @ryang1428 what version of Xcode are you using?

[2017-09-12 20:56] ohayon commented on #10297
Are you still seeing the issue in 6 @superandrew ?

[2017-09-12 20:58] officina-build commented on #10297
No, everything seems fine.

[2017-09-12 21:02] RishabhTayal commented on #10310
@ohayon for my apps I am getting exception in [here](https://github.com/fastlane/fastlane/blob/master/spaceship/lib/spaceship/client.rb#L588) when I access the ```live_version```.

Here is the ```all_apps``` array in my case.

<details><summary>all_apps</summary>

[code]
</details>

[2017-09-12 21:04] ohayon commented on #9732
Amazing! I am going to close this issue for now. Thanks for following up! 🚀

[2017-09-12 21:04] #9732 closed

[2017-09-12 21:09] #10265 closed

[2017-09-12 21:11] ohayon commented on #10317
Yup! That should work, or if you simply do not run the command with the `bundle exec` prefix.  🌤

[2017-09-12 21:12] ohayon commented on #10297
👍  🎉  Thanks everyone for chiming in! Going to close this now but let us know if it is still an issue for anyone! 🚀

[2017-09-12 21:12] #10297 closed

[2017-09-12 21:13] ohayon commented on #10310
Hey @RishabhTayal, would you mind sharing the entire output from the command line? Would be helpful to see all of the context.

[2017-09-12 21:15] RishabhTayal commented on #10310
@ohayon How can I get the entire output if I am running `spaceship` from `irb`?

[2017-09-12 21:32] DreierF commented on #9974
+1

[2017-09-12 22:34] Blackjacx commented on #10314
Hey @ohayon, actually I have! But my app isn‘t on iTunes yet and I need Crash reporting for my beta tests. So I just upload to Crashlytics and cannot download any symbols from Apple. I also execute the upload_symbols_to_crashlytics action directly after the crashlytics action. From the logs I can see that the dsym of my main target is uploaded and on Crashlytics the uploaded version is treated as

[2017-09-12 22:38] austinlouden commented on #9528
I'm still seeing this issue, using fastlane 2.56.0.
It looks like everything returns 1, even for versions that don't exist.

This should return 11:
`[15:35:23]: Login successful
[15:35:24]: Fetching the latest build number for version 6.34
[15:35:30]: Latest upload is build number: 1`

This should return an error possibly?
`[15:35:46]: Login successful
[15:35:47]: Fetching the latest build number

[2017-09-12 23:44] y-a-n-n commented on #10301
@ohayon: No, that definitely doesn't solve my problem. @Fosile 's problem was not the same as mine. The gradle command works fine for me; the issue is the way that fastlane actually constructs the name of the gradle task from the build_type and flavor parameters.

To reiterate:
There is a standard Android gradle task called `assembleAndroidTest`.
For each build flavor defined in the build.gradle f

[2017-09-13 00:23] sgtsquiggs commented on #10133
This is no longer an issue for me with the GM 👍

[2017-09-13 00:24] grifotv commented on #10227
@KrauseFx why should we avoid using `update_project_provisioning`?

I checked the code signing guide and I'm already using `match`, but can't figure out how to update app identifier and project provisioning with Fastlane.

[2017-09-13 00:43] ryang1428 commented on #10315
We have been seeing a similar issue when trying to run `gym` to create dev builds using the Xcode 9 GM

[code]

This works fine if i select Xcode 8.3.3, and on Xcode 9, the provisioning is all set correctly, and you can actually archive locally with no issues.

I found this similar issue that has been closed: https://github.com/fastlane/fastlane/issues/9380

[2017-09-13 02:25] saitjr commented on #10311
I thought about this actually, but this could lead to a large Fastfile. Cause I have to parse project informations before fastlane command not only before lane (such as find dir of .xcodeproj, and copy/paste Fastfile into the dir. After this step, chdir and run fastlane command).

[2017-09-13 05:32] Xcode1994 opened #10319 "Slather command "source-files" is wrong"
[Slather/Command.rb](https://github.com/SlatherOrg/slather/blob/master/lib/slather/command/coverage_command.rb)

Line 32
You can see `option ["--source-files"], "SOURCE_FILES", "A Dir.glob compatible pattern used to limit the lookup to specific source files. Ignored in gcov mode.", :multivalued => true`

So the option --source-files is Array not String

But in your source code [lib/fastlane/action

[2017-09-13 05:45] thasegaw commented on #10315
related issue https://github.com/fastlane/fastlane/issues/10172

[2017-09-13 06:55] Orgmir commented on #10236
I'm experiencing the same issue trying to upload with an account with Developer Role. Maybe iTunes Connect permissions where updated without us noticing?

[2017-09-13 08:37] useeless37 commented on #10169
this works for me as well, to my Xcode 8
`sudo xcode-select --switch <path to your xcode 8>`

thanks @GuilhermeMachado !

[2017-09-13 09:22] #9670 closed

[2017-09-13 10:36] emu-pl opened #10320 "Resigning does not remove unused entitlements"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Issue most likely related to (or even caus

[2017-09-13 11:05] 0xTim commented on #10133
I'm still getting the issue with the GM 😞

[2017-09-13 11:14] tomislav commented on #10183
Works fine with Xcode 9 GM

[2017-09-13 11:51] Ruenzuo commented on #10297
I noticed this happening again in Xcode 9 GM. Anyone else?

[2017-09-13 13:20] sampsakuronen commented on #10033
I managed to fix this in my case by adding a dummy alpha-channel release with a hand-built APK.

We didn't have any app releases in the Play store. I think this is why some API call returned something unexpected to `supply`.

[2017-09-13 14:01] barbaramartina opened #10322 "The request could not be completed because: there is no web session to update"
### New Issue Checklist

- [X ] Updated fastlane to the latest version
- [ X] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [ X] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [ X] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Since today morning we're getting the

[2017-09-13 14:10] adellibovi commented on #10315
Experiencing the same problem also same log. What other info can we provide to better debug this?

[2017-09-13 15:21] jgavris commented on #10133
Still getting the segfault with `compileBitcode: false` in the plist.

[code]

[2017-09-13 15:24] sgtsquiggs commented on #10133
Ok for me this still occurs on one computer but not another. I won't be able to get more details until Monday.

[2017-09-13 15:30] Sega-Zero opened #10323 ""curl: (22) The requested URL returned error: 403 Forbidden" in Travis-CI"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Today my travis builds fail randomly with

[2017-09-13 15:44] kselman commented on #10133
@sgtsquiggs, if you've had multiple Xcode's on that machine (Beta, Release Ver), double check your path

print out current path

     kselman:~ kselman$ xcode-select -p
    /Applications/Xcode.app/Contents/Developer

set new path

    xcode-select -s /Applications/Xcode.app/Contents/Developer/

[2017-09-13 16:31] alexbuicescu commented on #10244
Looks like my issue might be a duplicate of https://github.com/fastlane/fastlane/issues/8973. @col workaround worked for me.

[2017-09-13 16:31] #10244 closed

[2017-09-13 16:32] rockneverdies55 commented on #9853
Come on google! :open_mouth:

[2017-09-13 16:39] mbuchetics commented on #10133
Same issue on the GM, disabling compileBitcode fixes it. Also in Xcode.

[2017-09-13 16:42] #9648 closed

[2017-09-13 16:52] #9686 closed

[2017-09-13 16:52] #8992 closed

[2017-09-13 17:26] joel-yc commented on #9745
Adding: ENV["FASTLANE_EXPLICIT_OPEN_SIMULATOR"] = "0"  to 'before_all' in the Fastfile fixed this issue for me.

[2017-09-13 17:28] kumarashish-tudip opened #10324 "No Application was found for the given package name"
### New Issue Checklist

- [ ✅] Updated fastlane to the latest version
- [ ✅] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [ ✅] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
I installed the fastlane and updated the FastFile according to the steps provided https://docs.fastlane.tools/getting-started/android/setup/ here and

[2017-09-13 17:28] tabrindle commented on #10280
Multiplatform setup is perhaps something I think we should look into, given how popular react native and Cordova are and that `fastlane init` definitely does not support this right now. I imagine this change would not be trivial, however if you want to take a stab at it, I'm sure @KrauseFx would appreciate a PR, assuming it does not impact the average user.

That being said, it is possible to merg

[2017-09-13 17:37] janpio commented on #10280
Thanks, I have this working as well (let `init` do the iOS stuff, add Android things manually to the two files) but am currently writing a tutorial on how you, the average user, can do this yourself (instead of just copy/pasting examples you don't really understand) - and there having a "both" option or the Cordova project recognized automatically could really improve the workflow.

If I have the

[2017-09-13 18:29] adelmojunnior commented on #8904
@KrauseFx The same thing happened to me. Any workaround?

[2017-09-13 20:30] maxmeyers opened #10325 "Enterprise provisioning profiles no longer included in export options plist"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

We use two separate Developer Teams for di

[2017-09-13 20:35] humblehacker commented on #10255
I think this code has the logic reversed:

[2017-09-13 21:07] maxmeyers commented on #10325
Thanks @fastlane-bot, but I think this is specific to the changed Fastlane version. When I revert back to 2.47, it works again.

[2017-09-13 21:53] maxmeyers commented on #10325
Note that a workaround is to specify the provisioning profiles in a `Gymfile`, but it's really much nicer to not have to duplicate the information that's already in the Xcode project.

[2017-09-13 22:30] RishabhTayal commented on #10310
@ohayon Any update here?

[2017-09-14 00:22] #9677 closed

[2017-09-14 01:29] zhouzichao0709 commented on #10088
wow. We are seeing similar error with an little bit different error message.

|              fastlane summary               |
+------+------------------------+-------------+
| Step | Action                 | Time (in s) |
+------+------------------------+-------------+
| 1    | default_platform       | 0           |
| 2    | ensure_git_status_cle  | 0           |
|      | an                     |

[2017-09-14 01:33] zhouzichao0709 commented on #10088
Update: The user does have Admin role already. Still seeing this issue, will try using another user.

[2017-09-14 01:41] zhouzichao0709 commented on #10088
Never mind. I am glad I took a look there.

So apparently this is checking on the "Beta Testing" info in TestFlight where I don't have a Phone number filled out. Although I am really only releasing to Internal Testers with the upload.

Seems Apple took down the "What's new" for Internal Testers for a while.

[2017-09-14 03:27] twobitlabs commented on #10088
It appears adding the App Manager role has resolved it for us as well

[2017-09-14 06:32] amitkot commented on #9974
@ohayon Will an MVP initial contribution along the lines of #6509 be accepted, or would you require some more massive refactoring of the code?

[2017-09-14 07:35] molind commented on #9974
Tried it on real life iOS project. Unfortunately there is far more we have to do with text, background and screenshot itself: text shadows, bold words, different text colors, continuous background. Ended with Sketch template + 2 automation scripts in CocoaScript. One inserts screenshots into symbols, another exports all images to correct places. Text positions and look and feel, device frames, bac

[2017-09-14 08:44] #9691 closed

[2017-09-14 08:48] adellibovi commented on #10315
Looks like this is more a Xcodeproj issue, as a workaround we can specify provisioningProfiles in Fastlane file.

[2017-09-14 08:49] adellibovi commented on #10325
I think this is related to #10315

[2017-09-14 08:52] #9697 closed

[2017-09-14 09:03] lferro9000 opened #10327 "Deliver fails to upload binary"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Upload runs fine if one uses Application L

[2017-09-14 09:07] lferro9000 commented on #10327
The offending line is:
2 | deliver | 5

There is no way the upload to take 5 seconds only. Normally it takes minimal 30 seconds to 1m30s depending on network performance at the time.

Are there any logging that is not captured by fastlane that can be useful to trace this issue?

[2017-09-14 09:13] joncursi commented on #10033
I still have this issue on `2.56.0` when uploading metadata during `supply`:

[code]

[2017-09-14 09:24] joncursi commented on #10033
I was also able to get by this by uploading a dummy build to my `Beta` channel, which was previously empty

[2017-09-14 09:30] col commented on #10244
If you’re using the workaround in [#8973](https://github.com/fastlane/fastlane/issues/8973) it’s no longer required. I ended up fixing the core issue in update_provisioning_profile and it was released in fastlane 2.56.0. No need to use xcargs. 👍

[2017-09-14 09:35] scottire commented on #10200
Were you able to get any success with this? Looking to generate Pass Type ID Certificate using fastlane too

[2017-09-14 10:02] proorlov commented on #10200
No. Looking for solution for automated creating Pass Type ID Certificate.

[2017-09-14 11:40] darren1982 opened #10328 "increment_build_number increase version number instead of build number"
### New Issue Checklist

- [ x ] Updated fastlane to the latest version
- [ x ] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [ x  ] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [ x ] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
I added increment_build_number to

[2017-09-14 12:21] lukaszmargielewski opened #10329 "[match] How to setup to use existing certificates?"
### New Issue Checklist

- [ x] Updated fastlane to the latest version
- [ x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x ] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x ] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

When I try to run:
`match enterprise -

[2017-09-14 14:02] #9687 closed

[2017-09-14 14:03] cinemast commented on #9717
I am having the same problem.

[2017-09-14 14:10] cinemast commented on #9717
[16:03:20]: Get started using a Gemfile for fastlane https://docs.fastlane.tools/getting-started/ios/setup/#use-a-gemfile
[16:03:22]: Generating fastlane environment output, this might take a few seconds...
<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                         | Value                                       |
| --------------------------- | ------------------

[2017-09-14 14:37] PetrosIchor commented on #10329
To my knowledge Match can't manage existing certificates because it didn't create the originals.  If you needed to use existing, check out Cert and Sigh.  They are the backbone of match and can handle existing or more complex signing flows.

[2017-09-14 15:42] scottire commented on #10200
It seems the bundle_id string is just for push profiles.
[Docs](http://www.rubydoc.info/github/fastlane/spaceship/Spaceship/Certificate#create_certificate_signing_request-class_method)
`bundle_id (String) — (optional): The app identifier this certificate is for. This value is only needed if you create a push profile. For normal code signing certificates, you must only pass a certificate signing re

[2017-09-14 16:04] ohayon commented on #10314
Hmmm. So, a couple of things:

Do you mean the _fastlane_ logs? So like we are showing you that everything work even though when you log onto the Crashlytics site it looks like it didnt work? But also, you mentioned that Crashlytics does in fact show that you have dSYM files? Sorry I think I might be a bit confused about that.

and...

Yup!! 😄  It should definitely work in a CI environment! Please

[2017-09-14 16:13] ohayon commented on #10227
Hey @grifotv, could you provide a bit more information around what you are trying to do, the more context we have the better! 😄 !

[2017-09-14 16:17] ohayon commented on #10301
Ahh, thanks for the clarification @y-a-n-n! Is there any chance you would want to submit a PR to fix this problem on master? That would be 💯 ! 🏎

[2017-09-14 16:20] ohayon commented on #10311
Yeah, I can understand that it is not totally ideal. Maybe its something that you could implement in a [_fastlane_ plugin](https://docs.fastlane.tools/plugins/create-plugin/)?

[2017-09-14 16:23] ohayon commented on #10319
Hey @Xcode1994! Thanks for writing in an identifying the fix. Is there any way you would want to submit a PR with that change? We would love to review it! 🚀

[2017-09-14 16:26] ohayon commented on #9926
Hey everyone! As of now, we have not updated screengrab to support Kotlin yet 😞 . We would love it if some people from the community would like to step in and beat us to the punch here! Would anyone like to submit a PR with Kotlin support? 🙏  🚀

[2017-09-14 16:31] ohayon commented on #10169
Glad to hear you all are working! I am going to close this issue for now, but please feel free to reopen if anything comes up. 🚀

[2017-09-14 16:31] #10169 closed

[2017-09-14 16:32] ohayon commented on #10183
Oh great! Thanks for the update @tomislav. @clozach Is this working for you as well?

[2017-09-14 16:52] BigPike commented on #9389
i've the same problem too

[2017-09-14 17:00] ohayon commented on #10322
Oh no! Thanks for reporting the issue @barbaramartina! We were seeing some outages on Apples end yesterday. Its possible that maybe that was involved. Could you share the output from your command line with us so we can have more context? Thank you!! 🚀

[2017-09-14 17:02] ohayon commented on #10323
Hey @Sega-Zero! Would you mind sharing the output of running that same lane with `--verbose` so we can see the stack trace and some more context around the issue? Thank you!! 🚀

[2017-09-14 17:02] #9260 closed

[2017-09-14 17:05] ohayon commented on #10133
Hey @mbuchetics are you pointing to the right version of Xcode with `xcode-select`?

[2017-09-14 17:11] Sega-Zero commented on #10323
This happens very random. Caught that 4 times yesterday and none today. Cannot turn on `--verbose` forever, travis log drops all info after 10k lines, that's not comfortable for my team.

[2017-09-14 17:13] ohayon commented on #10324
Hey @kumarashish-tudip, apologies for the issue! Would you mind sharing the entire output from your command line so we can see all of the context involved? Thanks!

[2017-09-14 17:32] ohayon commented on #10255
Hey everyone! Apologies for the issue! @humblehacker, is there any way you would want to submit a PR with this fix?? 😄  🚀

[2017-09-14 17:33] ohayon commented on #10310
Ah, apologies, I didnt realize that you were using `irb`. But you should see a stack trace in `irb` right?

[2017-09-14 17:34] ohayon commented on #9974
@amitkot, I think an MVP would be fine here at first! We would love to see android support for frameit, so please feel free to submit anything and we can iterate on it moving forward! 🚀

[2017-09-14 17:36] RishabhTayal commented on #10310
Any special parameter I need to pass while running irb? By default I don't see the stack trace.

[2017-09-14 17:44] ohayon commented on #10325
Hmm, apologies for the issues! @maxmeyers, have you tried the most recent version of _fastlane_ with the Xcode 9 GM? Just curious to hear if you are seeing the same issue. Thanks! 🐙

[2017-09-14 17:56] RishabhTayal commented on #10310
@ohayon This is the complete error I get in the stack trace.

<details><summary>Error</summary>

[code]
</details>

[2017-09-14 18:00] maxmeyers commented on #10325
Yes, this is with Fastlane 2.56 and Xcode 9 GM.

[2017-09-14 18:26] ohayon commented on #10327
Hey @lferro9000 could you share the output of the command when you run it using `--verbose` so we can see the whole context? Thanks! 🚀

[2017-09-14 18:55] barbaramartina commented on #10322
hi @ohayon , Im afraid the outages are not the cause since we have run the lane several times & I just did one more time now with the same output.
Here's the console output I can share, hope this help. We've also signed in again in the new XCode installation (which I read could be a problem for the session issue, but did not help either).

bundle exec fastlane testflight_beta
Couldn't verify that

[2017-09-14 19:05] ohayon commented on #10328
Hey @darren1982, the `CFBundleVersion` key does in fact point to your build number. The version number itself is assigned to the `CFBundleShortVersionString` see some more docs here: https://developer.apple.com/library/content/technotes/tn2420/_index.html

Let us know if that doesn't make sense or if there is anything else we can do to help! 🐙  🚀

[2017-09-14 19:05] #10328 closed

[2017-09-14 19:09] ohayon commented on #9717
Hey @cinemast! Yeah totally it is a lot of output but we don't want to overwrite what is in your clipboard in case you have something important saved in there. I know I have lost many important values like passwords or one-time generated API keys by programs that copy to clipboard automatically.

Would you mind sharing the output of your terminal command? It would be helpful to have some more cont

[2017-09-14 19:11] ohayon commented on #10200
Yeah, I believe @scottire is right here. Apologies for misunderstanding the issue a while back. We do not currently support Pass Type IDs in spaceship at the moment but we would definitely love to review a PR with that addition. Let us know if you would want to submit one! 🐙

[2017-09-14 19:17] ohayon commented on #9389
Hey everyone! Apologies for the issues, I'm curious, is this something you have been able to do successfully via the Fabric Android Studio plugin? 🐙

[2017-09-14 19:19] ohayon commented on #10323
Ah totally understand that that is really frustrating. Apple's APIs have been having intermittent issues this week. Probably due to some internal changes they are making for the new releases. I'm glad to hear that you are not getting it today. I am going to close this issue for now, but please reopen it with the stack trace when if/when it reproduces. Thanks a lot! 🐙

[2017-09-14 19:19] #10323 closed

[2017-09-14 19:21] Blackjacx commented on #10314
Yup, the fastlane logs tell me that the `upload_symbols_to_crashlytics` lane actually uploads the dsym files - all of them. Thats fine! Crashlytics also does not complain and is satisfied with that dsyms. BUT as long as I have bitcode enabled I see (on Crashlytics) method calls of my App as hidden whereas calls from UIKit are correctly displayed.... Here is the crash with bitcode (top two hidden):

[2017-09-14 19:23] ohayon commented on #10322
Ah! I'm sorry @barbaramartina! I forgot to mention, could you run the command with `--verbose` so that we can see the stack trace as well? Thanks! 🐙

[2017-09-14 19:23] #10033 closed

[2017-09-14 19:51] mbuchetics commented on #10133
@ohayon Yes, and Xcode also crashes when selecting "compile bitcode" from Xcode 9's GUI when exporting and adhoc or enterprise build.

[2017-09-14 20:06] phips28 commented on #9589
`export_xcargs: "-allowProvisioningUpdates"` works for me!

[2017-09-14 20:13] RishabhTayal commented on #10310
This seems like an issue with a particular app in my iTunes account. The app is returned in the `	Spaceship::Tunes::Application.all` list, but the app is not showing up in the iTunes connect dashboard portal website. I think there was some corrupted data in the Apple database which is causing this error. Nothing wrong with `spaceship`. I have contacted Apple regarding this issue and expecting to h

[2017-09-14 20:31] #9060 closed

[2017-09-14 20:46] barbaramartina commented on #10322
@ohayon  no problem, here it goes.

 bundle exec fastlane testflight_beta --verbose
Couldn't verify that spaceship is up to date
DEBUG [2017-09-14 22:14:28.94]: Checking if there are any plugins that should be loaded...
DEBUG [2017-09-14 22:14:28.94]: Loading 'fastlane-plugin-wait_xcrun' plugin
INFO [2017-09-14 22:14:29.02]: gem 'fastlane-plugin-wait_xcrun' is already installed
DEBUG [2017-09-14 2

[2017-09-14 21:11] #9612 closed

[2017-09-14 22:57] getaaron commented on #10329
There is no supported way to do this. However, if you want you can manually create the repo structure and encrypt it, and match will work from there.

See https://docs.fastlane.tools/advanced/#manually-manage-the-fastlane-match-repo

[2017-09-15 01:04] RishabhTayal commented on #9886
Having this issue too.

[2017-09-15 01:44] Neonkoala commented on #10315
I am also getting this issue. It correctly detects the AdHoc provisioning profile but then tries to add a redundant AppStore profile on too.

`Detected provisioning profile mapping: {:"us.frollo.Frollo.Continuous"=>"match AdHoc us.frollo.Frollo.Continuous", :"$(BUNDLE_ID_PREFIX)"=>"match AppStore $(PRODUCT_BUNDLE_IDENTIFIER)"}`

Can't seem to override this in Fastfile even.

[2017-09-15 01:48] francisfernando commented on #10116
Hi All
I will closed this issue is already resolved from my last build. Thanks fastlane support.

[2017-09-15 01:48] #10116 closed

[2017-09-15 03:01] RishabhTayal opened #10331 "import_from_git failing"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

`fastlane` failing when using `import_from

[2017-09-15 03:09] Xcode1994 commented on #10319
@ohayon hahahahahhhh, I am not familiar with Ruby, But I will try to fix it

[2017-09-15 04:54] saitjr commented on #10311
Wow, that's cool, I'll try it. Thank you very much.

[2017-09-15 06:31] Sulfkain commented on #10247
This will be solved on the new version

[2017-09-15 06:33] #10247 closed

[2017-09-15 06:46] tmm1 commented on #9589
Had the same issue, adding `export_xcargs "-allowProvisioningUpdates"` to `Gemfile` fixed it.

[2017-09-15 07:14] Sulfkain commented on #10311
@saitjr Maybe you could call other scripts (ruby scripts for ex. ) on that lane, to make Fastfile cleaner.
Even on our project we have splitted the Fastfile on various files.
You just need to use `import 'your path file'`
https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Advanced.md#importing-another-fastfile

Hope this helps!

[2017-09-15 07:34] tomasebrennan commented on #10325
@maxmeyers We're having a very similar problem. You said a workaround was to specify provisioning profiles in a `Gymfile` however I can't find any examples of how to do this online. Would you mind showing an example?

Cheers

[2017-09-15 08:22] darren1982 commented on #10328
Hi @ohayon ,

My existing build number is actually 10. I verified from xcode, Info.plist does show as below as 10.
	<key>CFBundleVersion</key>
	<string>10</string>

However, when I run fastlane beta, increment_build_number, it retrieves my version number 1. Increment it by 1. Then set it to my build number instead. So my build number changed from 10 to become 2. I checked my version number, it inc

[2017-09-15 08:34] joncursi commented on #8655
React native `View`s support a `testID` prop. You can give a view a `testID` and then in your UI Test script, tell the simulator to tap on that view by ID.

[code]

[code]

[2017-09-15 09:09] andreaskeller commented on #10295
I think you only need to check this once in the [Google Play Console](https://play.google.com/apps/publish) under Store presence - Pricing & distribution - Primarily Child-Directed.

[2017-09-15 09:22] BigPike commented on #9389
Fabric does not work for me as fatlane  :(

[2017-09-15 10:26] saitjr commented on #10311
Maybe. I'm not sure about the error catching, cause I want to catch them in one place. But I'll try this solution.  Wait for my good news and thank you very much.

[2017-09-15 10:33] msand opened #10334 "The call to the iTMSTransporter completed with a non-zero exit status: 1. This indicates a failure."
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

##### Complete output when running fastlan

[2017-09-15 12:26] isolatedperson opened #10335 "[iOS] Alternative Solution to Could not retrieve response as fastlane runs in non-interactive mode"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [ ] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [ ] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Hi there,

I'm trying to write a small app

[2017-09-15 12:32] deepaksahu-mob-ibtech opened #10336 "Cron job failed to execute fastlane setup"
I am able to run the fastlane setup via terminal as expected and result success but when i run same setup using crontab it has thrown many errors.
I tried number of things but still not success

After the below command execution within the fastlane thrown error
**xcodebuild -showBuildSettings -workspace ./AppManager.xcworkspace -scheme** AppManagerUITests

I tried to run cron job using below combi

[2017-09-15 14:34] humblehacker commented on #9177
I'm having the same problem, and `bundle update` did not update anything.

[2017-09-15 14:52] ohayon commented on #10314
Hey @Blackjacx - I think this might be an issue on the Crashlytics side of things. Would you mind reaching out to support@fabric.io with your bundle ID so they can help you out? Thanks! 🚀

[2017-09-15 14:53] ohayon commented on #10310
Thanks @RishabhTayal ! Going to close this issue for now! Let us know if you are still running into issues! 🚀

[2017-09-15 14:53] #10310 closed

[2017-09-15 14:55] Blackjacx commented on #10314
OK I will, thanks a lot :-)

[2017-09-15 15:03] deepaksahu-mob-ibtech commented on #10336
1. I included **fastlane dev**  in scripts so command return fastlane: command not found
2. When I added completed path in script **/usr/local/bin/fastlane env** it;s wokring with below error

<details><summary>🚫 fastlane environment 🚫</summary>

### Stack

| Key                         | Value                                                          |
| --------------------------- | -------------

[2017-09-15 15:03] ohayon commented on #10322
Hey @barbaramartina - is there any chance you could share your Gemfile with us? We have seen this issue before and it often has something to do with referencing older versions of our gem which could happen by accident if the Gemfile references our other tools besides fastlane, _or_ if you still have some of those gems installed on your machine. Would you also mind running `gem list pilot` to see i

[2017-09-15 15:08] RishabhTayal commented on #10310
**Update on this issue:**

Apple responded to me saying I deleted this particular app 2 years back that's why it's not showing up in the iTC dashboard.

I am not sure how you can delete the app from App Store. Is there a feature to delete the app from itc? Even if there is, why they are returning this app in the api response when called from `spaceship`.

[2017-09-15 15:13] ohayon commented on #10331
Hey @RishabhTayal, I believe that the URL you are using is not a valid repo URL. Could you try to use `https://github.com/fastlane/fastlane` and see if that works? Thanks! 🐰

[2017-09-15 15:17] RishabhTayal commented on #10331
This works. Need to change this in the docs. I will update it and create a PR. 👍

[2017-09-15 15:17] #10331 closed

[2017-09-15 15:21] ohayon commented on #10328
Hmm. that is interesting. Is your project set up to use [Apple Generic Versioning](https://developer.apple.com/library/content/qa/qa1827/_index.html)?

[2017-09-15 15:23] ohayon commented on #10295
Thanks for chiming in @andreaskeller ! @Anthony-SF, let us know if you are still having issues with this based on @andreaskeller's answer! Thanks! 🚀

[2017-09-15 15:27] barbaramartina commented on #10322
hey @ohayon  sure, here is the Gem file & the result of the command:

# GemFile
source "https://rubygems.org"
gem 'cocoapods', '1.2.1'
gem 'fastlane', '2.56.0'
gem 'xcode-install'
gem 'spaceship', '1.0.0'
gem 'fastlane-plugin-wait_xcrun', '~> 0.1.1'

plugins_path = File.join(File.dirname(__FILE__), 'fastlane', 'Pluginfile')
eval(File.read(plugins_path), binding) if File.exist?(plugins_path)

# Com

[2017-09-15 15:35] ohayon commented on #9389
It sounds like some parameters being sent through to the API might not be properly formatted. @piresbruno could you share what the `emails` variable you have looks like?

@BigPike and @kirakik, would you both share the code that you have that is calling the crashlytics action? Thank you!!

[2017-09-15 15:37] ohayon commented on #9776
Hey @KOmyself - are you still running into this issue? Apologies for the delay in responding to you! 👍

[2017-09-15 15:40] ohayon commented on #10334
Hey @msand are you building your app in Xcode 9 or 8? 🐙

[2017-09-15 15:43] ohayon commented on #10335
Hey @isolatedperson, as of now, the `fastlane init` action is expecting that it will be run in interactive mode so that it can ask the user for relevant values. That being said, I think maybe you could try to make a template Fastfile that you could then write a script to fill in variables in the template as it copies and sets up new projects. Does that make sense at all? Let us know if we can help

[2017-09-15 15:47] ohayon commented on #10336
Hey @deepaksahu-mob-ibtech, I am not so familiar with running fastlane as a cron job, but could you share some of the output from the job so that we can see some more context? Thank you! 🚀

[2017-09-15 15:53] #10314 closed

[2017-09-15 15:53] ohayon commented on #10310
Yeah thats pretty bizarre that they are doing that. I didnt realize you could even delete an app from iTC hahaha.

[2017-09-15 15:55] ohayon commented on #10322
Okay! Great. So, could you try removing the `gem 'spaceship'` line from your Gemfile, and also do a `gem uninstall pilot` on your command line and then give this another shot?

The reason for this is that a while back we moved from having many gems to just one so that dependency management was easier it looks like this is the culprit, but please let us know if you are still having issues!

[2017-09-15 15:58] isolatedperson commented on #10335
@ohayon thank you for your prompt reply.

I can do template thing as i did for Android, however i have a confusion about it.
As you know that Fastlane has deep support for iOS, including create app in iTunes Connect + Apple Developer, creating certs etc, uploading meta, and finally binary.

So my confusion is does Fastlane create app in itunes DURING asking these questions OR after that Fastlane f

[2017-09-15 16:07] wootwoot1234 commented on #8655
@aj0strow Thanks!  Works like a charm!

@joncursi Thanks!  For some reason, it doesn't work if I add a `testID` to a component that is generated in the `<ListView />`'s `renderRow` method.  It works fine on components outside of the `<ListView />`.  Any idea why?

[2017-09-15 17:17] ohayon commented on #10335
Yeah, so fastlane does create the app in iTC during this whole process. And that is something that you would be missing by using a template. That being said, you could, in the script call `fastlane produce` with the necessary variables so that it will create the app in iTC along the way.

Happy to help more feel free to ask questions!

[2017-09-15 17:21] #10174 closed

[2017-09-15 17:32] ryang1428 commented on #10315
We do not use a Fastlane file, we call from the command line- not sure if that workaround would help us. We currently have to do manual builds for our iOS 11 releases 😞

[2017-09-15 17:35] ohayon commented on #10315
Hey @ryang1428 - Is there any reason why you are not using a `Fastfile`? We definitely recommend using one for _fastlane_ execution, but I would be curious to hear if there is a specific reason why youre not using one. 😄

[2017-09-15 17:39] ohayon commented on #10297
Hey @Ruenzuo, I am not able to reproduce this issue with any of my projects, is it possible that `xcode-select` is still pointed at a beta version? Could you share the output from running `xcode-select -p`? Thanks!

[2017-09-15 17:41] ohayon commented on #10236
Hey everyone, I have a feeling that @Orgmir is correct. Can other people confirm that the App Manager role can upload?

[2017-09-15 17:47] RishabhTayal commented on #10254
@KrauseFx any direction on where to start the implementation? I would be happy to contribute.

[2017-09-15 18:15] NachoSoto opened #10338 "[scan] Question: what's the correct way of specifying iOS version in scan?"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
I'm using `scan(device: "iPhone 7 Plus (10.

[2017-09-15 18:22] PetrosIchor commented on #10336
I'm haven't had much experience either with cron, but this is something I've been looking into to solve some scheduling needs.

https://github.com/javan/whenever

It's a ruby based cron utility.  Being that fastlane is also ruby, I feel like it would bring benefits by sharing the same language/dependencies.  Personally, I try to avoid increasing the requirements for my CI (practicing KISS and DRY

[2017-09-15 18:53] RishabhTayal commented on #10134
Created a PR for this. 👍

[2017-09-15 19:14] ohayon commented on #10254
Hey @RishabhTayal - that link that Felix put above is a great way to get started with the implementation, likely the network call to set the value would be in the Tunes::Client object or somewhere similar. 💯

[2017-09-15 19:17] ohayon commented on #10338
Hey @NachoSoto, I could be wrong here, but I don't believe there currently is a way to specify OS version 😞.

[2017-09-15 19:18] RishabhTayal commented on #10254
@ohayon I mean where to start with logic implementation part.

[2017-09-15 19:21] ohayon commented on #10254
The `Spaceship::Tunes::Client` might be a good place to start looking I believe.

[2017-09-15 19:22] paiv commented on #10251
My (temporary?) workaround to this was to force build with Xcode 8

    before_all do
        ENV['DEVELOPER_DIR'] = '/Applications/Xcode8.app/Contents/Developer'
    end

In this project I have Provisioning Profile set to `Automatic` for all builds.

[2017-09-15 19:53] NachoSoto commented on #10338
`xcodebuild` allows specifying a platform like `'platform=iOS Simulator,name=iPhone SE,OS=10.1'`. Are you saying that `scan` doesn't support it (yet)?

[2017-09-15 20:13] NachoSoto commented on #10338
Oh I could get this to work using `scan -d 'platform=iOS Simulator,name=iPhone 7 Plus,OS=10.3.1'`.
Any chance we could get another parameter, parallel to `-a` (device), that helps disambiguate it when there are multiple devices with different iOS versions?

[2017-09-16 00:11] KatkayApps opened #10340 "Deliver downloading the wrong type of application"
I have an app is a solely Apple TV app. I was creating an update for that app but by mistake I have added the update as being an iOS update. This app will never have an iOS update because like I said it is a tvOS app but thanks to the draconian iTunesConnect I was able to add an updated iOS version of an AppleTV app that I will never be able to delete.

Now I have created a new directory on my dis

[2017-09-16 00:17] KatkayApps commented on #10340
I have discovered by chance that Apple miraculously allow you to delete the incorrect update I have added. Anyway this issue probably persists for those that truly have an app that from the same entry delivers iOS and tvOS versions.

[2017-09-16 00:36] faithfracture opened #10341 "gym is chosing the wrong provisioning profile and ignoring export_options"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
For whatever reason, Gym is selecting my Ap

[2017-09-16 03:41] faithfracture commented on #10341
I managed to find a workable solution.

First, some more info on my project structure:
I have a workspace that has several projects in it. One of the projects is an iOS project and another is a tvOS project. These projects share a significant amount of code and have other dependent projects in the workspace, so it is quite a lot easier to work with them by having them all in the same workspace.

I

[2017-09-17 03:21] #9658 closed

[2017-09-17 07:01] onevcat commented on #9589
The issue here with Xcode 9 and `export_xcargs "-allowProvisioningUpdates"` works for me too.

It turns out that Xcode 9 will not prompt you to allow keychains access until you set "allowProvisioningUpdates". After doing that, the prompt shows up and everything goes fine by allowing the access.

[2017-09-17 08:50] isolatedperson commented on #10335
@ohayon If i understand correctly, then after creating a hand made template fastlane folder, i can later call produce and other commands seperatly to create app in itunes and update meta data etc?
If thats so i think it can be done, ill try and let you know

[2017-09-17 12:02] KrauseFx commented on #10338
@NachoSoto I think using the `destination` parameter, you should have full control, and it should be passed over directly to `xcodebuild`. Is that not the case?

[2017-09-17 17:28] #9786 closed

[2017-09-17 17:28] mmun commented on #9786
We gave in and created a separate cert.

[2017-09-17 23:35] soheil commented on #10259
Happening here too, running xcode 9. My iPhone 6 Plus screenshots are 3 pixel taller than what they should be.

[2017-09-17 23:52] soheil opened #10342 "iPad & iPhone screenshots wrong size on XCode 9"
My iPhone screenshots >5s are 3 pixels shorter than what they should be and iPad screenshots 1 pixel shorter. I am using the latest version of fastlane and the screenshot helper and XCode 9 GM.

This is related to issue https://github.com/fastlane/fastlane/issues/10259

[2017-09-18 02:13] kielgillard commented on #10334
We're using Xcode 9 and getting an iTMS uploader error like this:
[code]
However the .ipa is simply named `kiosk.app`.

[2017-09-18 02:31] kielgillard commented on #10327
We're using Xcode 9 and getting an iTMS uploader error like this:
[code]
However the .ipa is simply named `kiosk.app`.

[2017-09-18 06:59] gtatgh commented on #10119
Sorry for the late answer. I have a lot of work to do at the moment.
I would do not worry about different array permutations. We could parse in the format like  `SCAN_DEVICES="iPhone 7,iPhone 6"`. All other throws an exception, with an example of right format in description.

[2017-09-18 07:08] gtatgh commented on #10119
Sorry for the late answer. I have a lot of work to do at the moment.
I would do not worry about different array permutations. We could parse in the format like  `SCAN_DEVICES="iPhone 7,iPhone 6"`. All other throws an exception, with an example of right format in description.

[2017-09-18 07:09] KrauseFx commented on #10342
Let's move discussion over to https://github.com/fastlane/fastlane/issues/10259

[2017-09-18 07:09] #10342 closed

[2017-09-18 07:11] KrauseFx commented on #10319
Merged with https://github.com/fastlane/fastlane/pull/10333 :+1: Thanks everyone

[2017-09-18 07:16] #9801 closed

[2017-09-18 07:25] KrauseFx commented on #10334
@kielgillard your issue doesn't seem to be related, for some reason the ipa file is being renamed to `kiosk(9f262739838070af272a2934173f8f246dec8e2311670aea428210e8f4501e5b).ipa` instead of just `9f262739838070af272a2934173f8f246dec8e2311670aea428210e8f4501e5b.ipa`, I wonder why this is happening - what version of fastlane are you using, and how did you install it?

[2017-09-18 07:25] KrauseFx commented on #10327
@kielgillard your issue doesn't seem to be related, for some reason the ipa file is being renamed to `kiosk(9f262739838070af272a2934173f8f246dec8e2311670aea428210e8f4501e5b).ipa` instead of just `9f262739838070af272a2934173f8f246dec8e2311670aea428210e8f4501e5b.ipa`, I wonder why this is happening - what version of fastlane are you using, and how did you install it?

[2017-09-18 07:26] KrauseFx commented on #10327
Yeah, we'd need the `--verbose` output to fix the issue @lferro9000

[2017-09-18 07:27] KrauseFx commented on #10340
Awesome, glad to hear 👍

[2017-09-18 07:27] #10340 closed

[2017-09-18 08:21] #9392 closed

[2017-09-18 08:23] kumarashish-tudip commented on #10324
Hi @ohayon , I have already shared the entire output. It just says no application found and nothing else.

fastlane supply init
sh: /Library/Developer/CommandLineTools//usr/bin/xcodebuild: No such file or directory
[22:43:25]: undefined method `split' for nil:NilClass
[!] Google Api Error: applicationNotFound: No application was found for the given package name.

[2017-09-18 08:56] jiangnbu commented on #9589
Aha, `export_xcargs "-allowProvisioningUpdates"` works for me !

[2017-09-18 08:58] jonasecandersson commented on #9589
Works for me too now. export_xcargs "-allowProvisioningUpdates" and set bitcode-flag to NO.

[2017-09-18 08:59] juli1quere opened #10343 "Snapshot report ignores new iOS devices"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

When running `snapshot`, the report genera

[2017-09-18 09:02] robertslowley opened #10344 "docker pull doesn't work?"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

##### Complete output when running fastlan

[2017-09-18 09:09] KrauseFx commented on #10344
Please submit a separate issue on the fastlane/boarding repo. I haven't used docker myself for boarding, we'd recommend using the one click Heroku deployment button instead 👍

[2017-09-18 09:09] #10344 closed

[2017-09-18 09:17] KrauseFx commented on #9589
Alright, thanks everybody, this is super useful, I prepared this little PR https://github.com/fastlane/fastlane/pull/10345 which will enable `-allowProvisioningUpdates` by default for all Xcode 9 gym builds. I really appreciate everybody helping on this - this will be on by default with the next fastlane release 🚀

Thanks ❤️

[2017-09-18 11:11] vineethvijay commented on #8821
Following might work for you people. I do it this way. Uses sigh to download install a new ad-hoc profile with all the latest devices added, and those profile (SIGH_UUID) is passed to gym with xcargs.

[code]

[2017-09-18 11:21] #8917 closed

[2017-09-18 11:27] juli1quere opened #10347 "Snapshot do not supports multiple Apple TV"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
In snapshot: as soon as we have multiple Ap

[2017-09-18 13:20] kd8ssq opened #10348 "App Store Name lookup"
Question for the group.

Is there a way to do a lookup in the app store to see if an app store name is unique outside of running produce or deliver?  This new app store name character limit of 30 characters is really causing a problem for me and my customers.  Just trying to see if anyone has or knows of a way to do a lookup before running through the entire deployment process.

[2017-09-18 13:31] ryang1428 commented on #10315
@ohayon Its on my big list of things to do with our Jenkins server 😁 That being said, even if we had one, we have a pretty complicated Jenkinsfile that supports several production apps so it would still not be ideal to have to specify the provisioning profiles for all schemes for several apps (we regularly build dev/beta).

Is this something you could see getting fixed in a future released?

Thank

[2017-09-18 14:19] lferro9000 commented on #10327
The verbose output is very similar, but here it goes:

### Command actually used was: `fastlane  --verbose --capture_output --troubleshoot ios upload --env=Store`

### Captured Output

Command Used: `ios upload --env=Store`
<details><summary>Output/Log</summary>

[code]

</details>

<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                         | Value

[2017-09-18 14:32] lferro9000 commented on #10327
.env
FASTLANE_SKIP_UPDATE_CHECK=on

.env.default
APPLE_ID=user@example.com #dev portal email

# Developer Portal Team ID
TEAM_ID=#devportalid#
TEAM_NAME=#devportalteamname#
SCHEME=#targetname#
GIT_URL=git@match:matchrepo/match-certificates.git
GIT_BRANCH=#repo-branch-for-team#
FASTLANE_WORKSPACE=MyApp.xcworkspace
TEAM=#itunesteamid#
USERNAME=user@example.com #itunesconnect email
SCAN_SCHEME=#unit-

[2017-09-18 15:00] kamleshkatios opened #10349 "delivery init fails on screenshots download"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Fastlane delivery init fails when download

[2017-09-18 15:17] sander-m commented on #9589
For `-allowProvisioningUpdates` to work, do we need to authenticate an Xcode user? Is this something that can be done in a CI environment?

[2017-09-18 15:20] #10343 closed

[2017-09-18 15:25] ohayon commented on #10119
Thats a good point @gtatgh! Would you want to submit a PR to make this fix and make sure to add the documentation to the description about how we want this string to be formatted?

[2017-09-18 15:28] ryang1428 commented on #10341
Related issue: https://github.com/fastlane/fastlane/issues/10315

[2017-09-18 15:35] ohayon commented on #10347
Thanks @juli1quere! We would love to review that PR!

[2017-09-18 15:39] #10255 closed

[2017-09-18 15:43] RishabhTayal opened #10351 "Github link formatting issue"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

I am running `fastlane deliver download_me

[2017-09-18 16:05] skullet commented on #10236
We are running into the same issue. Cert things haven't changed in a week and this issue showed up toward the end of last week. Build account is Developer not App Manager.

[2017-09-18 16:23] NachoSoto commented on #10338
Yeah see my last comment, I got it working with `-d`, but see my question:

[2017-09-18 17:41] paul-bonneville opened #10354 "Running 'snapshot reset_simulators' in Xcode 9 GM deletes all sims but does not reinstall them"
### New Issue Checklist

- [x ] Updated fastlane to the latest version
- [x ] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x ] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x ] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Running 'snapshot reset_simulators' in

[2017-09-18 18:25] edwardmp commented on #10181
@ohayon what kind of logging do you wish to see aside from a stack trace?

Regarding our use case: we currently have an app we wish to test in a relatively small group (not public), but still large enough (few thousand testers) that we do not wish to add people manually to iTunes Connect. We already have all the needed data, that's why every time someone signs up for the pilot of our service I try

[2017-09-18 19:01] #9530 closed

[2017-09-18 19:30] RishabhTayal opened #10355 "Gemfile bundle update failing"
I am using `Gemfile` for `fastlane` installation. I am posting the gem to local fastlane repo path. When running `bundle update` I get following error.

[code]

Here is the `Gemfile`:

<details><summary>Gemfile</summary>

[code]

</details>

[2017-09-18 19:58] fnazarios opened #10356 "Pilot generate filename with special characters"
### Issue Description
With new 2.57.0 fastlane version, pilot crashes with this log:
[code]
### Environment
<details><summary>🚫 fastlane environment 🚫</summary>

### Stack

| Key                         | Value                                       |
| --------------------------- | ------------------------------------------- |
| OS                          | 10.13

[2017-09-18 20:06] dtrukr commented on #10327
I'm actually seeing exactly the same error. Also using Xcode 9 GM and fastlane 2.57.0. Deliver fails with the following error:
`[22:04:49]: The filename da(79a6c24a88310adf91490fa32eaa7e15dd91ee2d9d8139dfe86ac76320d04eac).ipa in the package contains an invalid character(s).  The valid characters are: A-Z, a-z, 0-9, dash, period, underscore, but the name cannot start with a dash, period, or undersc

[2017-09-18 20:13] dtrukr commented on #10327
I'm not sure if it's relevant, but if I look at ipa_upload_package_builder.rb, there is following code:
` def copy_ipa(ipa_path)
      ipa_file_name = "#{File.basename(ipa_path, '.ipa')}(#{Digest::SHA256.file(ipa_path).hexdigest}).ipa"
`
This actually appends SHA256 digest to the original ipa name and copies it to transporter package. The resulting name of the file will be "ORIGINAL_IPA_NAME(SHA25

[2017-09-18 20:36] nbrice88 opened #10358 "[Regression] "no implicit conversion of nil into String" in match during cert install after updating to 2.57"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

After updating to version 2.57 the `match`

[2017-09-18 20:37] dtrukr commented on #10334
@kielgillard This seems to be related to https://github.com/fastlane/fastlane/issues/10327

[2017-09-18 20:39] danielmhanover commented on #10358
+1

[2017-09-18 20:40] dtrukr commented on #10356
Seems to be related to https://github.com/fastlane/fastlane/issues/10327

[2017-09-18 20:41] mebowen commented on #10358
+1

[2017-09-18 20:46] loyaltyarm commented on #10358
Also affected by this when running workflows with `match`

[2017-09-18 20:48] benanderson1 commented on #10358
+1

[2017-09-18 20:58] IzzatBamieh commented on #10358
+1

[2017-09-18 21:01] gasthana0 commented on #10356
I am also seeing this error on 2.57.0. Pilot is working fine with 2.56.0.

[2017-09-18 21:03] rick-cape commented on #10358
+1: I'm getting this with `sigh`as well.  Version 2.57.0

[2017-09-18 21:04] Vivekxk commented on #10358
+1 Yup, we're getting that as well

[2017-09-18 21:11] dtrukr commented on #10348
You mean you want to get name of one of your apps in iTunes Connect? If yes, you can have something like that in Fastfile:
`
Spaceship::Tunes.login(CredentialsManager::AppfileConfig.try_fetch_value(:apple_id))
app = Spaceship::Tunes::Application.find("com.xxx.xxx")
`

`app.latest_version.languages` will have an array of hashes with localised metadata

[2017-09-18 21:12] zarzonis commented on #10358
+1 I'm getting this with match and sigh.

[2017-09-18 21:28] batesyuk commented on #10315
Also getting this issue in Xcode 9 GM

[2017-09-18 21:34] nbrice88 commented on #10358
Comparing with `--verbose` output from 2.56 the last few lines here may be the issue:
[code]

`SecKeychainItemSetAccessWithPassword: The user name or passphrase you entered is not correct.`
Fastlane should have my account password and be configured with permissions to access the default login keychain. However, this output makes it seem like something is failing. The `match` command still succeeds

[2017-09-18 21:37] samfu commented on #10358
+1

[2017-09-18 21:40] ctotheameron commented on #10358
+1

[2017-09-18 21:41] GandjaFuzz commented on #10358
+1

[2017-09-18 21:56] vchirino commented on #10358
+1. Same issue using Xcode 9

[2017-09-18 22:05] CooperCodeComposer commented on #10358
+1

[2017-09-18 22:06] Vivekxk commented on #10358
We just ended up downgrading to 2.56 and everything worked again. I suggest trying this if anyone else is stuck.

[2017-09-18 22:07] jonathanneilritchie commented on #10358
+1

[2017-09-18 22:25] carlosefonseca commented on #10015
I'm looking into replacing the action with the plugin but I think I'm missing something… I read #10127 about the deprecation of the action but adding the plugin and removing the gem still seems to use the action.

On running fastlane I get this
[23:11:22]: Plugin 'Badge' overwrites already loaded action 'badge'
[…]
[23:11:25]: -------------------
[23:11:25]: --- Step: badge ---
[23:11:25]: -------

[2017-09-18 22:27] phips28 commented on #10358
+1

works with 2.56

[2017-09-18 22:29] codyrotwein commented on #10356
Ditto

[2017-09-18 22:36] DerekBounceChat commented on #10358
+1

Is there a clean way to downgrade fastlane installed via the installer script?

[2017-09-18 22:53] nbrice88 commented on #10358
@DerekBounceChat if you're using a Gemfile and bundler just add the version to the fastlane line:
`gem "fastlane", "2.56"`
then `bundle install`

If your just using the default gem `sudo gem install fastlane --version 2.56` will do the trick.

IDK a good way if you're using homebrew or some other way.

[2017-09-18 23:05] g-liu commented on #10358
+1 when running `fastlane certs`.

[2017-09-19 00:02] pajama commented on #10358
No luck downgrading to 2.56 for me.

[2017-09-19 00:04] snelson21 commented on #10358
An if keychain conditional was left out of the code.

In file fastlane_core/lib/fastlane_core/cert_checker.rb
change line 48 from
`keychain = File.expand_path(keychain)`
to
`keychain = File.expand_path(keychain) if keychain`

After changing that match went back to working perfectly.

Someone should make a pull request.

[2017-09-19 00:16] pixelmatrix commented on #10327
It looks like this PR is what introduced the issue: https://github.com/fastlane/fastlane/commit/d15b3fdbe4b6c39aa2dd3a8d9533a1c4eedaf600

[2017-09-19 00:20] g-liu commented on #10358
@pajama I also had to run
[code]

then when you run `fastlane --version` it should say you are using 2.56 which should work.

[2017-09-19 01:08] pkadams67 commented on #10358
+1

[2017-09-19 01:08] lingdu0001 commented on #10358
+1

[2017-09-19 01:40] txaiwieser commented on #10358
+1

[2017-09-19 01:50] nbrice88 commented on #9177
Unfortunately I'm having the identical problem to the original poster, running `bundle update` did not solve the issue.

Output of `bundle exec rspec` from the fastlane root is below:
[code]

Any thoughts @ohayon ?

[2017-09-19 01:56] zhentan commented on #10358
+1

[2017-09-19 01:58] kylealwyn commented on #10358
No need for more +1's. Just give a thumbs up on the initial issue report if you're experiencing the same. It will be handled soon.

[2017-09-19 02:10] nbrice88 commented on #10358
Thanks @snelson21, I've submitted a PR: https://github.com/fastlane/fastlane/pull/10359, with your suggested change.

[2017-09-19 02:12] txaiwieser commented on #10358
Any workarounds?

[2017-09-19 02:42] wangjinyu opened #10360 "Exit status: 139"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

[INSERT OUTPUT HERE]

### Environment

<details><summary>✅ fastla

[2017-09-19 03:18] ryanoconnor7 commented on #10354
I too am having this issue, except in my case, I see iPhone2017-A/B/C in place of 8/8 Plus/X when I try to re-add the simulators. Additionally, iOS 11 does not appear in components download section.

[2017-09-19 03:28] Q14 commented on #10358
+1

[2017-09-19 05:26] dtrukr commented on #10356
OK, so I needed deliver/pilot to work again locally earlier today, so I made a PR to fix this: https://github.com/fastlane/fastlane/pull/10357

[2017-09-19 05:58] CasperMok commented on #8904
I get the same issue.
fastlane-2.57.0
pod 1.3.1

[2017-09-19 06:18] jkammerer opened #10361 "Server error (Google::Apis::ServerError)"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [X] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [X] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

I get a "Server error" during upload. I tr

[2017-09-19 06:26] johnrogers commented on #10358
+1

[2017-09-19 06:32] jdrouet commented on #10358
+1

[2017-09-19 06:33] wkoszek commented on #10358
+1

[2017-09-19 06:33] Jothikenpachi1989 commented on #10358
Is there workaround available for now

[2017-09-19 06:34] kylealwyn commented on #10358
Workaround: Downgrade to 2.56

[2017-09-19 06:56] gtatgh commented on #10119
I can do that, but in some point in the future. As I sad, I have a lot of work to do at the moment.

[2017-09-19 07:12] darren1982 commented on #10328
Hi @ohayon ,

Yes. My project is using Apple Generic Versioning. I think I figure out why. Once I run agvtool next-version -all 3 times, I checked on the diff of the files that are changed in my repo, I notice that project.pbxproj is changed from "CURRENT_PROJECT_VERSION = 1;” to
"CURRENT_PROJECT_VERSION = 4”;

I think that’s the reason why it doesn’t work on first run. It appears that agvtool nex

[2017-09-19 07:16] jonasecandersson commented on #10358
Is there a way to smoothly downgrade fastlane?

[2017-09-19 07:16] Jothikenpachi1989 commented on #10358
is there pod command to downgrade fastlane

[2017-09-19 07:47] agfa555 commented on #10358
how to downgrade with brew cask? can't upload build with major bug... :'(

[2017-09-19 07:50] jonasecandersson commented on #10358
Is it possible to get a hold of the installer zip for fastlane 2.56.0 ?

[2017-09-19 07:56] agfa555 commented on #10358
Check this:
https://devforgalaxy.github.io/en/2016/11/05/use-homebrew-cask-to-downgrad-or-install-en.html

Change version line to:
version '2.56.0'

[2017-09-19 08:07] casz commented on #10358
The real issue is here: https://github.com/fastlane/fastlane/blob/c9b5cdbd7ec2d8714723cb737985fd07134c8f0c/match/lib/match/runner.rb#L89
it is not passing the `params[:keychain_name]`
https://github.com/fastlane/fastlane/blob/6aa27ae3cd2ca62d19825a13d64dd9aaf3ede8b9/match/lib/match/options.rb#L42-L46

Causing nil since the `installed?` methods defaults to nil keychain.
https://github.com/fastlane/

[2017-09-19 08:11] #8314 closed

[2017-09-19 08:18] Jothikenpachi1989 commented on #10358
whether its fixed

[2017-09-19 08:22] casz commented on #10358
PR #10362 and PR #10359 are created to hopefully fix the issue.

[2017-09-19 08:30] agfa555 commented on #10358
Is it possible to get a hold of the installer zip for fastlane 2.56.0 ?

[2017-09-19 08:38] casz commented on #10358
@agfa555
[code]

[2017-09-19 08:40] GoodMirek commented on #10358
As mentioned above the simplest fix is to reinstall fastlane 2.56. If you for any reason do not use bundler, then following commands can do the job:
[code]

[2017-09-19 08:44] agfa555 commented on #10358
I have installed through brew cask cause through gems it caused errors...
Any way for a standalone version zip??

[2017-09-19 08:49] HristiyanZahariev commented on #10358
I suppose that version 2.57 is broken for both match and cert 😄

[2017-09-19 08:50] GoodMirek commented on #10358
@agfa555 I am not familiar with "standalone zip version" nor installation of fastlane through `brew cask`. Unless anyone else is able to help you, I suggest to try the workaround mentioned by @casz and me just above. If that does not work, you may try to put `sudo` in front of the commands. I do not know how your gems are installed, for system ruby the `sudo` might be necessary.

[2017-09-19 08:51] casz commented on #10358
@agfa555 consider using gemfile https://docs.fastlane.tools/getting-started/ios/setup/#use-a-gemfile

@HristiyanZahariev it should work for cert otherwise please post the error stack.

[2017-09-19 09:05] agfa555 commented on #10358
@casz & @GoodMirek thank you, but I had to upload through altools instead...

cert is failing too:

`8:in `expand_path': [!] no implicit conversion of nil into String (TypeError)
	from /Users/agfa555/.fastlane/bin/bundle/lib/ruby/gems/2.2.0/gems/fastlane-2.57.0/fastlane_core/lib/fastlane_core/cert_checker.rb:48:in `list_available_identities'
	from /Users/agfa555/.fastlane/bin/bundle/lib/ruby/gems/

[2017-09-19 09:11] #10351 closed

[2017-09-19 09:13] vmalyi commented on #10356
Downgrading Fastlane to 2.56.0 helps.

[2017-09-19 09:14] KrauseFx commented on #10358
Hey everyone, I'm incredible sorry this happened - we should have reacted faster. Unfortunately we didn't receive any Twitter messages that would ping us outside of working hours, so I only saw that just now 😢

I reverted the commit that caused the error with https://github.com/fastlane/fastlane/commit/36f18a568a48eaca615a0998f0cb85f293e29493 and I'm pushing a new release **right now**.

Again sup

[2017-09-19 09:14] vmalyi commented on #10327
Downgrading Fastlane to 2.56.0 helps.

[2017-09-19 09:23] KrauseFx commented on #10356
Thanks y'all for reporting this, and sorry for breaking it in the first place, this is now fixed with the most recent release, please update 👍

[2017-09-19 09:23] beloso commented on #10015
I have the same issue

[2017-09-19 09:23] KrauseFx commented on #10327
Thanks for reporting this, this should be fixed with the most recent release, sorry about that

[2017-09-19 09:23] KrauseFx commented on #10358
Alright, new release is live, please update and let me know if that works for you 👍

[2017-09-19 09:24] agfa555 commented on #10358
@KrauseFx no worries!!!! your system is awesome, it happens to the best of us...

[2017-09-19 09:26] kevin-hirsch commented on #10015
I am also facing the issue where it's writing in console:
[code]

But the badge action that is used is the badge plugin.

[2017-09-19 09:29] omerfarukyilmaz commented on #10356
Confirmed 2.57.1 fixes the issue.

Thanks @dtrukr for the fast work and all fastlane developers for the quick approves and merge!

[2017-09-19 09:32] KrauseFx commented on #10356
Thanks for all your support ❤️

[2017-09-19 09:47] KrauseFx commented on #10361
Did this work before? Have you tried running it on a different Mac?

[2017-09-19 09:50] KrauseFx commented on #9177
Are you trying to run the unit tests of fastlane?

[2017-09-19 09:50] KrauseFx commented on #10348
Awesome, thanks for your help @dtrukr 👍

[2017-09-19 09:51] KrauseFx commented on #10334
Yeah, seems like you were using the nightly build, that predicated something being broken once we ship, which we shipped yesterday, and broke everything, hehe :)

[2017-09-19 09:52] jkammerer commented on #10361
It worked before, many times. No, not tried on a different Mac.

[2017-09-19 09:55] KrauseFx commented on #10349
Seems like that's an error with your internet connection, can you try it from a different connection and different Mac, maybe with a VPN?

[2017-09-19 09:55] KrauseFx commented on #9589
Yeah, let's continue the conversation over at https://github.com/fastlane/fastlane/pull/10345 👍

[2017-09-19 09:56] KrauseFx commented on #10255
Awesome, thanks for your contribution :+1:

[2017-09-19 09:57] KrauseFx commented on #10181
Very often those error will also happen due to server errors on Apple's side 😢

[2017-09-19 09:57] KrauseFx commented on #10355
Can you `rm Gemfile.lock` and try again?

[2017-09-19 10:01] #9657 closed

[2017-09-19 10:07] joshtobin commented on #10356
Awesome, this was breaking my builds 1 hour ago, I went to a meeting and came back and it had been fixed. Thanks for the quick fix!

[2017-09-19 10:14] HazAT commented on #10015
Hey, I've just released version `1.0.0` which renames the plugin action to `add_badge`, this should resolve the conflict you guys are having with the old `badge` action.
Please upgrade and use `add_badge` then everything should work fine :)

[2017-09-19 10:14] KrauseFx commented on #10015
Wohooo, awesome, thanks @HazAT ❤️

[2017-09-19 10:16] beloso commented on #10015
🎉  thank you

[2017-09-19 10:52] fassko commented on #10327
Thanks @KrauseFx this did fix the issue!

[2017-09-19 10:55] zapjonny commented on #10315
I see something similar... not sure what's going on. This worked with latest Xcode 8, but now with Xcode 9 GM...

[code]

In Xcode this target uses manual provisioning.
Despite all this, the profile that is set for debug builds is selected for the adhoc build.

[2017-09-19 11:17] zapjonny commented on #10315
Sorry for that last comment, `app_identifier => provisioning_profile_name` should have been `app_identifier: provisioning_profile_name`.

[2017-09-19 11:27] zapjonny commented on #10315
Hmm.. actually with this it looks like I arrived where you guys are...

[code]

It looks like the format in my fastfile is incorrect... it looks like variables aren't replaced properly, just like you note.

[2017-09-19 11:31] #9707 closed

[2017-09-19 11:52] zapjonny commented on #9890
Xcode 9 GM broke my setup and I ended up here... For some reason **Detected provisioning profile mapping {...}**  where ... is incorrect mappings. It uses debug profiles where adhoc/inhouse profiles are needed. This worked with latest Xcode 8.x...

[2017-09-19 11:59] diederikh commented on #10360
We were able to solve this by disabling Bitcode on the Xcode project.

[2017-09-19 12:01] #9684 closed

[2017-09-19 12:02] p-schneider commented on #10358
I can confirm it now works fine with version 2.57.1 (at least in our case)

[2017-09-19 12:09] edwardmp commented on #10181
@KrauseFx that might explain some of it but not all imho. Often Rollbar would notify me of an `UnauthorizedAccessError`, I would then spin up a new heroku dyno (heroku run rails c) and run this job manually and it would work fine. Does seem this has to do something with some cookie expiring.

[2017-09-19 12:11] zapjonny commented on #9890
Sorry, this is still an issue and should be opened...

[2017-09-19 12:13] KrauseFx commented on #9890
Please create a new issue, with the complete output of `fastlane env` instead of commenting on older, closed ones :+1:

[2017-09-19 12:28] zapjonny opened #10363 "Xcode 9 GM: Gym auto selects provisioning profile mapping wrong in an Xcode project with multiple configs"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

[code]

Basically like https://github.com/

[2017-09-19 12:34] zapjonny commented on #10363
Yes and https://docs.fastlane.tools/codesigning/xcode-project/#xcode-9-and-up does not work. It ignores that `export_options` setting.

[2017-09-19 12:39] lferro9000 commented on #10327
Updated to 2.57.1, still same result.
Tried with some older versions with the same result.
My only conclusion is that something fundamental changed that is pervasive between versions (ex. Apple api changes) that is making the upload to fail and that changing versions of fastlane has absolutly no effect.

I will try to do a clean setup from "scratch" without my complicated environment later this we

[2017-09-19 12:44] fassko commented on #10327
@lferro9000 Hmmm. What is in your gym call?

Mine is just like this:

[code]

[2017-09-19 12:58] kd8ssq commented on #10348
@dtrukr thanks for the response.  I'm looking for a way to query the global list of App Store Apps to find out if a name I want to use is unique.  I would like to find out if the name is already used before running produce or deliver, that way I can go back to my customers and have them come up with a new one.

[2017-09-19 12:59] svendr commented on #10133
<key>compileBitcode</key><false/> fixes this for me too for an enterprise export with Xcode9 GM. xcodebuild -exportArchive Ironically still produces a correct IPA with proper arm64 and armv7 slices, although the original app bundle was generated with bitcode enabled. Which makes me doubt this setting at all. What is it even good for if we can set it to false for every export-method?

[2017-09-19 13:00] ryang1428 commented on #10363
Related: https://github.com/fastlane/fastlane/issues/10315

[2017-09-19 13:02] zapjonny commented on #10363
So, I'll try to explain a bit more:

I use a workspace (initially because cocoapods demanded one)

It includes a couple of projects, only of which ones is a real iOS app. (have a few command line tools there in the form of projects too) (I think this should be pretty irrelevant)

Have a couple of schemes. Most are for the iOS app - debug, release, adhoc and appstore schemes. There are schemes for

[2017-09-19 13:12] RishabhTayal commented on #10355
I tried that. It only fails when I point my Gemfile to local fork.

[2017-09-19 13:29] zapjonny commented on #10363
Fun fact: the current problematic lane uses gym setting export_method: enterprise

[2017-09-19 13:41] zapjonny commented on #10363
I but of summary of the above, I get the feeling that Gym sometimes:

- Selects incorrect bundle id at sign time (not the one that should be related to the scheme>target)
- Maps an incorrect prov profile to an incorrect bundle id, for instance uses a debug profile for a bundle id that belongs to a adhoc/inhouse/enterprise build.

[2017-09-19 14:05] zapjonny commented on #10363
Also, in line with other ongoing discussions, this setup (specifically including **export_xcargs: '-allowProvisioningUpdates',**) seems to be working well, if I change said target to use automatic provisioning inside Xcode:

gym(scheme: thescheme,
      export_method: theexportmethod, # export_methodが必要がどうかは・・・

      export_options: {
        provisioningProfiles: {
          "#{app_identifier}"

[2017-09-19 14:52] thasegaw commented on #10363
Hi @zapjonny,

Which Configuration do you set in default? (Is it Debug?)

<img width="713" alt="xcodeproj" src="https://user-images.githubusercontent.com/8136032/30598418-99ce603a-9d94-11e7-9792-1530ecfe4ba7.png">

If you do not specify Configuration at `gym`, this value will be used.
Therefore I think you should specify correct Configuration like this
[code]

[2017-09-19 15:31] #10347 closed

[2017-09-19 15:42] KrauseFx commented on #10348
Oh yeah, great question, check out `itunes_search_api.rb`:

[code]

for searching for the app identifier, we're using the URL `https://itunes.apple.com/lookup?id=#{id}#{suffix}`. So I'm pretty sure there is also an iTunes API that works based on the app title, just check out the  docs and you'll probably find something 👍

I'll close this issue for now, as it's not a fastlane question :)

[2017-09-19 15:42] #10348 closed

[2017-09-19 15:47] KrauseFx commented on #10172
@lkraider no, you can only provide the `provisioningProfiles` hash via either a `Fastfile` (recommended) or a `Gymfile`, both located inside the `fastlane` directory.

[2017-09-19 15:47] Lutzifer commented on #10327
In my case, I was calling fastlane from inside fastlane from inside fastlane. Updating **all** fastlanes to 2.57.1 fixed it.

[2017-09-19 15:53] KrauseFx commented on #10315
Hey everyone,

Thanks y'all for the reports, this is pretty useful. Some of you only shared a small comment, or parts of your config. Please share your **complete output** and the `fastlane env` command output, otherwise we're having a hard time understanding the problem and working on a fix.

I tried things locally, and everything works as expected (making it really hard to work on a fix)

What I

[2017-09-19 15:59] KrauseFx commented on #10315
<img width="847" alt="screen shot 2017-09-19 at 5 58 52 pm" src="https://user-images.githubusercontent.com/869950/30602234-49b3674c-9d64-11e7-9b8a-8356c198e296.png">

How can I set up a project to use a `$(...)` variable, so I can try to reproduce the issue?

[2017-09-19 16:02] KrauseFx commented on #10315
Please note that nice rocket on my terminal, it's the best

[2017-09-19 16:03] ndonald2 commented on #10315
@KrauseFx You can set `PRODUCT_BUNDLE_IDENTIFIER` to `my.product.domain.$(PRODUCT_NAME:rfc1034identifier)` in either the Xcode build settings or a config file. I could be wrong, but I believe this used to be an Xcode default for new projects, but is no longer.

[2017-09-19 16:10] KrauseFx commented on #10315
Mh, that doesn't work unfortunately. I also just tried creating a new project, and it doesn't use the `$(...)` notation any more.

For your setup, can you change it to be a constant bundle identifier, or do you need the dynamic ones for something?

[2017-09-19 16:12] ndonald2 commented on #10315
For my use case, It can be made constant. Using the variable was nice for producing builds in separate configs using slightly different names and bundle ID's as not to overwrite each other (e.g. having a separate "debug" build alongside the production build on the same device).

[2017-09-19 16:26] juli1quere opened #10365 "Missing Apple TV device into Snapshot report generator"
After PR #10346 ( [especially this comment](https://github.com/fastlane/fastlane/pull/10346#discussion_r139600834) ) it looks that sometimes the old Apple TV is designated by Xcode as `Apple TV 1080p`, and sometimes as `Apple TV`.

So, we should fix this by editing `xcode_9_and_above_device_name_mappings` method in `snapshot/lib/snapshot/reports_generator.rb`.

A PR for this is coming :)

[2017-09-19 16:31] santoshshetty2612 commented on #10131
@ohayon This solution won't work out as the builds can be fired anytime. So builds might end up calling xcodebuild -showBuildSettings at around the same time.

It would be better if fastlane handles this.

[2017-09-19 16:44] batesyuk commented on #10315
This also allows you to have a "base" bundle identifier and then just append extension identifiers onto the end so as to avoid human error in making them all match. i.e. `com.team.app.notifications`, `com.team.app.imessage` would be achieved with `BASE_BUNDLE=com.team.app` `$(BASE_BUNDLE).notifications` and `$(BASE_BUNDLE).imessage` etc.

If you wanted to change all these for build reasons you wou

[2017-09-19 16:59] #10365 closed

[2017-09-19 17:16] nbrice88 commented on #10358
@KrauseFx confirmed fixed for me in 2.57.1. Closing issue and thanks for jumping on this! This tool is wonderful.

[2017-09-19 17:16] #10358 closed

[2017-09-19 18:31] Panajev commented on #10315
@KrauseFx this is quite important for our code as our application lines can have 2 to 11 applications (plus widgets potentially soon) being built with the same codebase.
In the apps where we are not using gym, we have templated **ExportOption.plist** as well as **Entitlements.plist** files (that Fastlane could maybe add to the project, we then run an Xcode pass where we export the environment/proj

[2017-09-19 18:35] lkraider commented on #10172
Thanks, I'll look into dynamically generating the Gymfile during the build then.

[2017-09-19 18:35] #10172 closed

[2017-09-19 20:28] casz opened #10370 "[deliver] handles keywords.txt incorrectly"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Deliver is not uploading keywords.txt file

[2017-09-19 20:55] fassko commented on #10358
With newest beta problem exists. When I switched to 2.57.2 it's OK.

[2017-09-19 21:25] casz commented on #10370
This is the regular battery of fixes I found against translations issues.
[code]

[2017-09-19 22:01] oxozle commented on #10133
Set this to Build settings
`ENABLE_BITCODE = NO` in XCode GM works for me

[2017-09-19 22:37] chauvincent opened #10373 "Error : [Transporter Error Output]: ERROR ITMS-3000: "Line 7 column 116: character content of element "file_name" invalid; must be a string matching the regular expression"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

##### Complete output when running fastlan

[2017-09-19 22:45] wanglinsong commented on #9987
I, too, have this issue. Any solution yet?

[code]

[2017-09-19 23:05] johnrogers commented on #10358
Still getting this issue with the beta version I'm on: 2.58.0.beta.20170919010003.

I have tried downgrading to 2.57.2 but for some reason Ruby Gem won't play well and uninstall the beta version. Can this push be fixed out to the nightly?

[2017-09-19 23:38] cooksimo commented on #10315
@KrauseFx we are running in to this issue too. We have a wildcard in the bundle identifier for similar reasons to @ndonald2 - so that we can have multiple versions of the app on a single device.

Our set up is as follows:
In build settings, the bundle identifier is defined as:
`nz.co.company.app${BUNDLE_ID_SUFFIX}`

And then we have a user defined item in the build settings:
<img width="504" alt="

[2017-09-19 23:41] skladek opened #10374 "Could not find app with app identifier '[Bundle Id]' in your iTunes Connect account ([Team Email Address] - Team: [Team Number])"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [X] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [X] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

I am trying to use appstore to push a buil