[2018-05-28 13:34] salmanasiddiqui opened #12629 "SIGINT shouldn't return status code = 0"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

If fastlane is running a lane and user pre

[2018-05-28 13:39] RishabhTayal commented on #11809
@joshdholtz any plan on merging the PR?

[2018-05-28 17:41] dantman commented on #9825
Again, the code has not changed at all the issue is not resolved.

[2018-05-28 18:30] joshdholtz commented on #12627
@raghuhit Heyyyy 👋 Thanks for the detailed feature request! I really appreciate the time and effort put into it ❤️

However, we are currently not accepting any new actions directly into fastlane that involve integration into third party services at this moment. Most third party integrations like this should be created as plugins (https://docs.fastlane.tools/plugins/create-plugin/) that are availab

[2018-05-28 18:34] joshdholtz commented on #12624
@Bijiabo How are you running this? If you are running something like `fastlane <lane>` then doing a CONTROL+C should kill everything for you. Are you running this a different way if this isn't working for you?

[2018-05-28 18:36] santoshshetty2612 commented on #12601
Hi @joshdholtz

I created a lane

lane :linkLatestBuildInitunes do
			appId="#{ENV["APP_ID"]}"
			iTunesUser="#{ENV["ITUNESCONNECT_USER"]}"
			Spaceship::Tunes.login(iTunesUser)
			app = Spaceship::Tunes::Application.find(appId)
			version = app.edit_version
			latest_build = version
			.candidate_builds
				.sort_by(&:upload_date)
				.last
			version.select_build(latest_build)
			version.save!
e

[2018-05-28 21:39] #12589 closed

[2018-05-28 21:54] joshdholtz commented on #12625
@GandjaFuzz I am not able to reproduce this on my end at all 😢

1) Does this happen for you every time you run this?
2) Do thing still "work" but a warning is just showing? Or does this make things break?
3) Can you add `--verbose` to your command you are using to run this and paste the entire output here?
4) Can you run `fastlane env` and paste that here as well?

Thanks!!

[2018-05-28 22:02] joshdholtz commented on #12622
@salmanasiddiqui Heyyyy 👋 So I was able to run the exact code you posted above and it work 💯 for me 😬 Which I guess is good news and bad news. Good news because things work but bad news is that it makes it hard to debug your situation now.

Your error above says `In order to save your changes, all 5.5&quot; displays must be a .jpeg, .jpg, or .png file that is 2208x1242 or 1242x2208 pixels, at leas

[2018-05-28 22:05] joshdholtz commented on #12621
@sprabhuanand Sorry about the issue but thanks for the detail ❤️ I think I've seen a report of this before but I didn't know that this was caused by `skip_waiting_for_build_processing`. I will look into this 💪

[2018-05-29 01:58] stvmachine commented on #12617
### fastlane gems

| Gem      | Version | Update-Status |
| -------- | ------- | ------------- |
| fastlane | 2.96.1  | ✅ Up-To-Date  |

### Loaded fastlane plugins:

| Plugin                                          | Version | Update-Status |
| ----------------------------------------------- | ------- | ------------- |
| fastlane-plugin-upgrade_super_old_xcode_project | 0.0.2   | ✅ Up-To-Date  |

[2018-05-29 02:36] simonbuchan commented on #12291
Seems `security list-keychains -s match.keychain` and `security unlock-keychain -p match-password match.keychain` is enough for match to work with under CI with a custom keychain (which also means you don't have to have the build agent or project settings know the account login keychain password).

The other thing I ran into is that I have the CI running under a LaunchDaemon, not a LaunchAgent, an

[2018-05-29 05:58] Bijiabo commented on #12624
@joshdholtz I wrote a script in Node.js to run shell command, not type command in command line. My target is building a automatic workflow to change project content and build the project into .ipa and .apk file.

In this scene, if the workflow run the `fast lane <lane>`, need to stop it when the program receive a stop message. So, need a clear way to realize it.

Thanks.

[2018-05-29 05:59] qing-song opened #12633 "The request could not be completed"
<details><summary>🚫 fastlane environment 🚫</summary>

### Stack

| Key                         | Value                                       |
| --------------------------- | ------------------------------------------- |
| OS                          | 10.13.4                                     |
| Ruby                        | 2.2.4                                       |
| Bundler?

[2018-05-29 07:03] raghuhit commented on #12627
@joshdholtz  I really appreciate the quick response.

However, I want to emphasize on how it can add value to current beta action list. While the current list solves the problem of app distribution in beta, it lacks actions that helps developers test on multiple devices.

It is a problem faced by majority of Android & iOS developers in small to large organisations and solves a critical aspect of a

[2018-05-29 08:49] salmanasiddiqui commented on #12622
🙁 it was working for me aswell till May 24th, but not anymore.

I am able to add `fr-FR` to my apps via iTunesConnect website directly. Screenshot/metadata is all valid otherwise apple wouldn't let me upload it for already activated languages right? Something is wrong while activating/deactivating languages, but I am not really able to figure out what.

Also, before May 25th, for some apps which h

[2018-05-29 10:56] kamranahmedse opened #12636 "Archive failed with Exit Status 65"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Keeps failing with exit code 65 when archi

[2018-05-29 11:20] KinGwaL opened #12637 "ARCHIVE FAILED Using Jenkins"
### Question Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

#### Question Description
Sorry guys but i got a problem when i ca

[2018-05-29 12:04] joshdholtz commented on #12627
@raghuhit I completely understand how important an action of this can be to a user 😊 We have things similar in the repo right now (`hockey`, `crashlytics`, etc), these are in here mainly for legacy support right now. _fastlane_ used to accept all actions but it ended up making maintenance/support on the core maintainers much more difficult/time consuming since all of these third party services nee

[2018-05-29 12:06] joshdholtz commented on #12624
@Bijiabo This might not be the best place to get a solution for this answer if you are wrapping a fastlane call in a custom Node.js script 😔 _fastlane_ processes do properly get interrupted/killed if CONTROL+C is called so I would suggested maybe asking this question about a Node.js specific forum or IRC channel

[2018-05-29 12:08] joshdholtz commented on #12622
@salmanasiddiqui Do things work for you if you try downgrading to _fastlane_ `2.95.0`?

[2018-05-29 12:10] joshdholtz commented on #12613
@nihp _match_ is working for me right now 🤔 Can you maybe try creating a brand new repository (just as a test) and see if things work with that?

[2018-05-29 12:52] kamranahmedse commented on #12636
Got it to work. If it may help anyone, I am using react native, all I had to do was

[code]
and revoke my certificates and provisioning profiles

[code]

[2018-05-29 12:52] #12636 closed

[2018-05-29 12:58] m-vdb commented on #10945
honestly @fastlane-bot we should keep this open. This has been critical in my case...

[2018-05-29 14:25] raghuhit commented on #12627
@joshdholtz , thanks for your response, I will create a plugin for that.

[2018-05-29 14:25] #12627 closed

[2018-05-29 14:30] pajato1 opened #12638 "Add app analytics support to Spaceship"
### Feature Request

#### Motivation Behind Feature
It would be helpful if Spaceship provided access to application analytics, like app units, active devices, sessions, active devices, and crashes.

#### Feature Description
This feature has already been implemented:

https://github.com/fastlane-old/spaceship/pull/190

It just wasn't merged, before all the Fastlane projects were consolidated in one

[2018-05-29 14:58] YamiDaisuke commented on #12608
Hello! thanks for the reply, I was able to make it work but I needed to add excludes for android support library there was a conflict 'cause I was using a different version of the support library for my project

[code]

[2018-05-29 14:58] #12608 closed

[2018-05-29 16:04] joshdholtz opened #12641 "[match] improve educational experience when initializing and using match"
### Feature Request

#### Motivation Behind Feature
- To provide a clearer understanding and educate new users to _match_ on how certificates are handled to prevent less confusion and issues and create more productivity for all 🎊

#### Feature Description/Tasks
- [ ] Give users a consent style prompt so they can acknowledge they know (or will learn how) _match_ works
  - Rough idea: a “consent” st

[2018-05-29 16:21] taquitos commented on #12641
Yeah, I would also maybe even make a call out to that their private key is the problem here, and then link them to our documentation that talks about how that private key actually works at https://codesigning.guide

[2018-05-29 17:27] ConfusedVorlon opened #12642 "Pilot should check that groups is set at start of process if distribute_externally requested"
### Feature Request

Pilot should inform you that
`'You must specify at least one group using the `:groups` option to distribute externally'`
Before building, uploading and waiting for the build to process
(currently it builds, uploads, waits for processing, then spits out an error)

#### Motivation Behind Feature

The build / upload / wait process can take a long time (mine was just 30mins).
The

[2018-05-29 18:32] kevinlevelex opened #12643 "sign download_all crash"
### Issue Description
When running bundle exec fastlane sigh download_all --verbose --download_xcode_profiles we are seeing a crash downloading provision profiles.   It appears that it has to do with a default keychain, but the crash does not appear on a fresh reboot.  Unclear what is missing or changing

Issue started recently ~4/25/2018

##### Complete output when running fastlane, including the

[2018-05-29 18:58] kumichou opened #12644 "New Action Request: itc_team_name"
### New Action Request: itc_team_name

#### Motivation Behind Request
Fastlane has a built-in team_name action that internally sets the environment variables FASTLANE_TEAM_NAME and PRODUCE_TEAM_NAME. These can then be used instead of hard-coding a team_id (or setting FASTLANE_TEAM_ID) in a project when interacting with Produce, Deliver, and Match.

There doesn't appear to be an iTunes Connect equi

[2018-05-29 19:00] sprabhuanand commented on #12621
Thanks @joshdholtz , looking forward for the fix.

[2018-05-29 20:19] BackdoorBANDIT opened #12645 "[Regression] /n in title.strings file not converted to line breaks in frameit"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
/n in title.stings file(s) were translated

[2018-05-29 20:30] kevinlevelex commented on #12643
It appears that UE4 may be interfering with something fastlane is depending on.

Reboot OSX Machine
Build using fastlane on OSX machine = Success
Remote build UE4 project on OSX machine
Build using fastlane on OSX machine = security crash

[2018-05-29 20:45] jpghelfi opened #12646 "Android: A problem occurred configuring project ':app'. > java.lang.NullPointerException (no error message)"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
When running `fastlane build` I get this er

[2018-05-29 20:53] joshdholtz commented on #12645
@BackdoorBANDIT What is the last fastlane version this worked in?

[2018-05-29 20:57] joshdholtz commented on #12645
@BackdoorBANDIT Also, isn't a new line "\n", not "/n"?

[2018-05-29 21:42] EdwardDrapkin opened #12647 "How do I disable the changelog spam from the command line?"
We're not pacing Fastlane's latest release cycle because it's difficult, and Fastlane takes over stdout with its changelog.

Is there anyway to turn off this super-obnoxious behavior?  This is the sort of thing that makes users want to find alternatives that are less pushy and obnoxious and understand the enterprise release cycle isn't always the bleeding edge.

[2018-05-29 21:58] BackdoorBANDIT commented on #12645
apologies, you are correct.  \n would be correct.  i went through the frames and some worked while other didn't.  turns out i copied over bad strings with /n from our internal team.  thanks for pointing that out to me.  I'll close this out.

[2018-05-29 21:58] #12645 closed

[2018-05-29 22:12] furick1 opened #12648 "Snapshot and Docker"
### Question Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Question Subject
Running fastlane snapshot in docker

#### Que

[2018-05-29 22:17] joshdholtz commented on #12647
I think this is what you are looking for 😊 https://docs.fastlane.tools/advanced/#hide-changelog-information-at-the-end-of-running-fastlane

[2018-05-29 22:17] #12647 closed

[2018-05-29 23:53] scollings commented on #10411
We're similar to @mjovkovic - It's not persistent, we can get this error a few times then it will work.

[2018-05-30 01:12] #12609 closed

[2018-05-30 02:32] evilDave commented on #12433
I am kind of having the same issue, testflight builds that are submitted to not automatically go into review. It seems like both the email for feedback is missing, AND in our case, no external testers group has been selected for the build. Should there be somewhere to specify those things? Preferably in a config file rather than in the pilot command...

[2018-05-30 03:05] salmanasiddiqui opened #12649 "upload_to_app_store should have a flag to not wait for build processing"
### Feature Request

#### Motivation Behind Feature

I am automating our ios delivery process, we have around 200 apps to build and submit. I used sidekiq for concurrency and have divided the process into 3 workers.

1.  BuildAppWorker (this executes a lane which calls `gym` action and generates ipa)
2. UploadAppWorker (this executes a lane which calls `upload_to_app_store` action and uploads ipa

[2018-05-30 04:28] kamleshgk commented on #12433
@evilDave I still have not found a solution, nearly four weeks after encountering this issue.
I have a requirement to create an app, upload build, add an external tester automatically and notify them once they are added.  Sadly 'pilot' throws this error.
At this point am looking at making an extension to fastlane...

[2018-05-30 05:26] bernaferrari commented on #12569
How is this different from #12568?

[2018-05-30 05:50] Sparow199 commented on #12569
Hello @bernaferrari, the two issues was  opened in the same date. Android app bundle support was released on Supply. It's time to close my issue.

[2018-05-30 07:14] #12637 closed

[2018-05-30 08:00] #12569 closed

[2018-05-30 08:07] ItsNoHax opened #12650 "Fastlane pilot - TestFlight upload gets stuck randomly"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
Our Jenkins CI build runs fastlane to uploa

[2018-05-30 09:50] vanniktech opened #12651 "Publish screengrab on mavenCentral()"
### Feature Request

It would be nice if screengrab would be hosted on mavenCentral. Currenlty it's only in jcenter()

The motivation behind that is to have a stable source as jcenter / bintray have been flaky lately.

[2018-05-30 11:01] kai60 opened #12652 "undefined method `compact' for nil:NilClass (NoMethodError)"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

##### Complete output when running fastlan

[2018-05-30 11:08] kai60 commented on #12652
I know there no "compact" method why would this happen anyhelp? I am not familiar with ruby

[2018-05-30 12:06] aabanaag commented on #12500
Replicated the issue but found a solution for it.

`sudo fastlane init` did the trick for me. found it [here](https://github.com/fastlane/fastlane/issues/12560)

[2018-05-30 12:29] sushant40 commented on #12493
I get no output. I got some screenshots that I need to use the home screen/springboard for but I cant - I think because the simulator is not visible

[2018-05-30 16:17] jamesgmorgan commented on #12577
I had to logout and login again to see the notice but acknowledged it and everything works again.  Way not to do GDPR, Apple :-/

[2018-05-30 16:28] jereanon commented on #12584
I'm also experiencing this issue. For circleCI 2.0 users, you can add the following to your configuration.

Fastlane is now taking ~20 minutes to update! ouch!

(eval):129: warning: character class has ']' without escape
(eval):134: warning: else without rescue is useless
(eval):138: warning: else without rescue is useless
(eval):145: warning: else without rescue is useless
(eval):148: warning: el

[2018-05-30 17:28] salmanasiddiqui opened #12654 "how can I use fastlane to build for different teams?"
### Question Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Question Subject

I am automating builds for apps in various t

[2018-05-30 17:34] #12297 closed

[2018-05-30 17:35] #11586 closed

[2018-05-30 17:36] #11189 closed

[2018-05-30 17:58] scalessec commented on #10945
Agreed. We're only using `deliver` to submit builds when one binary has been uploaded. We just can't trust it otherwise.

[2018-05-30 18:00] scalessec commented on #10793
Chill @fastlane-bot, it's still not resolved.

[2018-05-30 18:58] zaventh commented on #10945
We ran in to this issue recently when our CI happen to run a TestFlight deployment and an App Store deployment simultaneously. The TestFlight build ended up actually being published to the App Store.

[2018-05-30 19:07] taquitos commented on #12652
@kai60 I'm wondering if the AppleID you're using to sign might not have an iTunes Connect account
- Can you try manually logging into Apple Developer Center and iTunesConnect on the Web and confirm that works?

[2018-05-30 19:08] jpghelfi commented on #12646
Any ideas @KrauseFx ?  thanks in advance

[2018-05-30 20:25] jmarkoff opened #12655 "Add create Play Store listing for Android to supply"
### Feature Request
Add create option to the supply action to facilitate creating Play Store listings.

I work with large enterprises that have to migrate apps to Managed Google Play. Some of these enterprises have 100+ internal applications and this process is quite painful to do this manually. I would love to steer them towards fastlane.

#### Motivation Behind Feature
Adding "create play store

[2018-05-30 20:35] joshdholtz commented on #12655
@jmarkoff 👀 ... _pushes everything off desk_... Investigating now 💪

[2018-05-30 20:48] Medeuz commented on #12646
Probably gradle can not locate your jdk, or it is version higher than 8.
Try to provide it in gradle.properties file.

Example for Mac:
org.gradle.java.home=/Library/Java/JavaVirtualMachines/{your jdk}/Contents/Home

[2018-05-30 20:54] ulfgebhardt commented on #12551
https://cdn.discordapp.com/attachments/385901951881052161/451462859814207498/Bildschirmfoto_2018-05-30_um_21.11.37.png

Confirming that this works.

Great job @RishabhTayal

[2018-05-30 20:56] RishabhTayal commented on #12551
🕺 woot woot

[2018-05-30 21:22] jpghelfi commented on #12646
Yes, I have version 9.0.1.

So, as you said, I include it in the `gradle.properties`

`org.gradle.java.home=/Library/Java/JavaVirtualMachines/jdk-9.0.1.jdk/Contents/Home`

no luck, now the error is:

`* What went wrong:
Could not determine java version from '9.0.1'.`

[2018-05-30 21:42] getaaron commented on #12641
Why not allow them to import the private keys if they already have them in their keychain?

I run into this a lot for work - I’m hired to write an app, the company already has 6 apps and both App Store certs are in use, so I have to take the existing key and manually create a match repo

[2018-05-30 21:44] getaaron commented on #12641
😈

[2018-05-30 21:51] Medeuz commented on #12646
as I said, you should install 8 jdk then.

[2018-05-30 22:18] joshdholtz commented on #12641
Linking to a thing about importing keys that @KrauseFx wrote years ago - https://github.com/fastlane/fastlane/pull/9752#issuecomment-320373291

[2018-05-30 23:43] kkw4 commented on #12366
@joshdholtz Just following up, are there any updates on this? Were you able to test this on your side as well? We're still seeing the same issue. Thanks

[2018-05-31 02:17] kai60 commented on #12652
@taquitos YES, I am  sure  I can login in the Apple Developer Center and  iTunes Connect，but still the same error. At first，I am able to login in Apple Developer Center  and create certificates and profile but can not get to   iTunes Connect ，the fastlane just shows "can not login and need to acknowledge to Apple's Apple ID and Privacy statement",after, I solved the iTunes Connect stuff and acknow

[2018-05-31 05:16] myusuf3 commented on #12004
@nidegen any luck here facing the same issue here and no matter what i try it wont accept the info.plist i pass in, works fine in XCode.

[2018-05-31 06:12] aravind1os opened #12656 "Test target JustDeployUITests encountered an error (Early unexpected exit, operation never finished bootstrapping - no restart will be attempted)"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [ ] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [ ] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

##### Complete output when running fastlan

[2018-05-31 06:48] spandanabatchu commented on #11396
Im having the same issue. I can confirm that the provisioning profile exists in my repo. But it says :
Found 1 matching profile(s)
Recreating the profile
While it does that, it doesnt use the cert that in my match repo. It picks a different cert that's on the dev portal.

[2018-05-31 08:09] anand-sape opened #12657 "snapshot fails, but successed in xcode"
<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                         | Value                                                          |
| --------------------------- | -------------------------------------------------------------- |
| OS                          | 10.13.4                                                        |
| Ruby                        | 2.3.3

[2018-05-31 08:14] FabienLydoire commented on #12316
I did manage to get a decent report with screenshots using "result_bundle" in scan parameters and passing the bundle to TitouanVanBelle/XCTestHTMLReport
The automatic screenshots taken by Xcode are displayed in the HTML report.

[2018-05-31 08:14] #12316 closed

[2018-05-31 08:51] zyhou opened #12658 "Fastlane IOS Universal Links / Associated domains"
### Question Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Question Description

We are using fastlane in Travis with fas

[2018-05-31 09:29] rkrisztian commented on #12550
After updating my MacOS + XCode to the latest versions, I was not asked for the password anymore. => Assuming it is okay now.

[2018-05-31 11:18] joshdholtz commented on #12655
@jmarkoff Heyyyy 👋 I tried giving this a go but I kept running into `Google::Apis::ClientError: [!] applicationNotFound: No application was found for the given package name.` when trying to create the edit. The Java example you linked looks like it is creating the insert in a similar way. It only sets the package name and nothing else. Both of these routes also do a `POST` to `<package_name>/edits

[2018-05-31 11:24] joshdholtz opened #12659 "Show failed point of lines in configuration file needs some safety checks"
Report of this happening - https://github.com/fastlane/fastlane/pull/11946#pullrequestreview-124540756

[2018-05-31 12:03] joshdholtz commented on #11396
@spandanabatchu Do you have `force` set to `true`? `match` currently uses "newest" cert to make a profile (I'm hoping to change this soon). Best bet is to expire that cert and recreate it within match or import it into `match` manually 😬

[2018-05-31 12:07] joshdholtz commented on #12658
@zyhou Heyyy 👋 I can't give a lot of help with the information that are able to provide but it sounds like maybe your fastlane setup isn't building with the proper set of entitlements? 🤔 I would probably start look around there by comparing the build output by fastlane has the same set of entitlements as the build output by Xcode

[2018-05-31 12:09] joshdholtz commented on #12657
@anand-sape Going to close this issue since the standard issue template was not used with all the requested information. Please open another issue following the issue template and I will be able to look into further 😊

[2018-05-31 12:09] #12657 closed

[2018-05-31 12:12] joshdholtz commented on #12656
@aravind1os Going to close this issue since the standard issue template was not used with all the requested information. Please open another issue following the issue template and I will be able to look into further 😊

[2018-05-31 12:12] #12656 closed

[2018-05-31 12:15] aravind1os opened #12660 "error: exportArchive: No profiles for 'com.xxxxxx.yyyyyyy' were found"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [ ] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [ ] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

##### Complete output when running fastlan

[2018-05-31 12:30] salmanasiddiqui commented on #12654
thank you for your reply.. but i am not having issues with profile selection. `match` is doing that perfectly and `gym` is picking it up.. issue is coming in selection of correct `distrubution certificate`.

[2018-05-31 12:40] joshdholtz commented on #12652
This is super weird 😔 I am not able to get any account to show a `nil` for `body["availableProviders"]`. We could default the array to an empty array but this shouldn't be `nil` to begin with.

@taquitos What are your thoughts on `(body["availableProviders"] || []).compact`?

[2018-05-31 12:47] joshdholtz commented on #12651
@vanniktech Thanks for the suggestion! It looks like we can easily sync to maven central from within jcenter but we just need to acquire the maven account and namespace - which looks like its a whole process 😬 I can start looking into this though 💪

[2018-05-31 12:48] vanniktech commented on #12651
Yes exactly. You need to open a Jira ticket to claim the domain and after that as long as you use the same group id you're fine. If you need any help - let me know.

[2018-05-31 12:59] joshdholtz commented on #12651
Ticket has been opened - https://issues.sonatype.org/browse/OSSRH-40189

[2018-05-31 13:04] vanniktech commented on #12651
They always ask you whether you own the domain - https://fastlane.tools/ - or not. You can safely say that you do though.

[2018-05-31 13:07] joshdholtz commented on #12654
@salmanasiddiqui Ohhhh, sorry! I must have misunderstood 😊 As long as your build setting for `CODE_SIGN_IDENTITY` is set to `iOS Distribution` and `DEVELOPMENT_TEAM` is set to the same team as what your profile/cert belong to, `gym` should pick up the correct one.

Do you have some output `gym` that you could paste here that show the build errors? That always helps when trying to debug from my end

[2018-05-31 13:10] joshdholtz commented on #12660
@aravind1os Going to close this issue since the standard issue template was not used with all the requested information. Please open another issue following the issue template and I will be able to look into further 😊

[2018-05-31 13:10] #12660 closed

[2018-05-31 13:15] joshdholtz commented on #12649
@salmanasiddiqui Heyyy 👋 Quick question on your feature request. If `wait_for_build_processing: false` and `submit_for_review: true` and the build is not yet processed, are you expecting the action to fail?

[2018-05-31 13:18] Speakus commented on #12316
@FabienLydoire could you share the link to solution?

[2018-05-31 13:26] joshdholtz commented on #12646
@jpghelfi Heyyy 👋 The `gradle` action simple shells out to a gradle bash command so I would first start by trying to manually build your app using bash directly with gradle -  `$: ./gradlew clean assembleAA2000Release`

Once you get this working it should work with _fastlane_ 💪

[2018-05-31 13:27] ItsNoHax commented on #12650
@joshdholtz Don't think so, this has been happening for months. Problem is the build doesn't timeout or anything so get's really annoying.

[2018-05-31 13:31] joshdholtz commented on #12644
@kumichou We are limiting the addition of new actions but I think maybe we could add two options onto the existing `team_name` action? We could add `dev_portal` (defaults to `true`) and `itc` (defaults to `false`). Thoughts? I would totally be down for accepting this PR if you would like to do this 🤗

[2018-05-31 13:37] jpghelfi commented on #12646
You are right, the same issue. So I should start from that

[2018-05-31 13:40] joshdholtz commented on #12650
@ItsNoHax Huh... I see it very seldom and just running it again "fixes" it for me. Your output ends with a request sent to apple but no response (other requests end with `Apple's web service operation return value:`). It seems like the response is getting lost somewhere either on Apple's side (and there is no timeout) or an error in _transporter_ itself.

After a build gets stuck on your CI, does

[2018-05-31 13:41] joshdholtz commented on #12646
@jpghelfi Yup yup! Once you get that going it should be 💯 I'm going to close this issue for now but feel free to open another one later if things don't work for you once you get the bash gradle command manually working 👌 Happy fastlaning! 🚀

[2018-05-31 13:41] #12646 closed

[2018-05-31 13:43] VarunRaj94 opened #12662 "Unable to locate Xcode. Please make sure to have Xcode installed on your machine"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [ ] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [ ] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

##### Complete output when running fastlan

[2018-05-31 13:44] ItsNoHax commented on #12650
@joshdholtz Yeah but the next build is a gamble too. I've had to retry up to 4 times before.

[2018-05-31 13:46] joshdholtz commented on #12643
@kevinlevelex I can't tell from this but if this is being down from an SSH session, keychains are usually not accessibly. But it does look like something is removing your default keychain from your keychain path.

Does `security list-keychains` list `login.keychain-db` before your UE4 build and but after?

[2018-05-31 13:46] joshdholtz commented on #12650
@ItsNoHax That does sound super frustrating 😔 Do you have these same issues if you make a build on a dev machine? (Not on a CI)

[2018-05-31 13:53] joshdholtz commented on #12662
@VarunRaj94 You need to select a version of Xcode for Xcode Command Line Tools to use. This can be done two ways:
- CLI -`$: sudo xcode-select -switch /Applications/Xcode.app/Contents/Developer`
- Xcode - https://github.com/fastlane/fastlane/issues/12263#issuecomment-379959724

[2018-05-31 13:53] #12662 closed

[2018-05-31 13:55] joshdholtz commented on #12642
@ConfusedVorlon Thanks for this request 😊 I agree with this 👌

[2018-05-31 13:56] salmanasiddiqui commented on #12654
hmm so I have to modify the `DEVELOPMENT_TEAM` in xcode project settings?
I was looking for a way so that I can set `DEVELOPMENT_TEAM=""`, and then just by using `gym` I would pass it on the fly.

yeah i will add information to this issue in few hours, sorry for not providing it already, but its like spending 10 mins on build lane to get that error.. and then I also want to share the output of som

[2018-05-31 14:02] salmanasiddiqui commented on #12649
Yes, I am expecting it to fail.

[2018-05-31 14:08] joshdholtz commented on #12649
@salmanasiddiqui Cool cool, just wanted to make sure.  I will think about this one 🤔 I'm not sure if this should be built directly into `upload_to_app_store` since this seems kind of niche but this should also be possible for you to do with _spaceship_ directly. I will look into both options and let you know what is best here. If its the _spaceship_ option, I will give you example code that can do

[2018-05-31 14:11] joshdholtz commented on #12654
@salmanasiddiqui No problem at all! I know how things go 😊 You _could_ also try setting the `export_team_id` option in `gym` to see if that does it for you? Its optional but it looks like it might work in your case

[2018-05-31 14:16] ItsNoHax commented on #12650
@joshdholtz I will have to get back to you tomorrow about that. I don't develop on our mac and I got a couple issues to finish today.

[2018-05-31 14:18] salmanasiddiqui commented on #12649
oh yes this can be done with `spaceship` and I know how I can do that, will do it once I get rid of other blockers i keep getting 😓  (you probably know as you have commented on other issues of mine)..

I was just thinking that it should be part of fastlane too, also I too think it should be a separate action than `upload_to_app_store`. And there should just be a comment in the documentation of `up

[2018-05-31 14:36] salmanasiddiqui commented on #12654
Thanks alot @joshdholtz I will give that a try. But before I do that, I would like to confirm `export_team_id` takes iTunesConnect team id or Dev Portal team id?

[2018-05-31 14:48] bradpayne opened #12663 "Cannot successfully set the appicon using appicon method before making a signed ipa from an xcarchive file"
### Question Checklist

- [ ] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Question Subject

Question: Can the appicon method be used to

[2018-05-31 14:54] aravind1os opened #12664 "no such module 'FBSDKLoginKit'"
![screen shot 2018-05-31 at 8 15 56 pm](https://user-images.githubusercontent.com/39641155/40789650-8cee88ec-6510-11e8-8c7d-4ee363363bfd.png)
![screen shot 2018-05-31 at 8 15 50 pm](https://user-images.githubusercontent.com/39641155/40789671-99894556-6510-11e8-9f58-264c521b2191.png)

### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I read the [Contribution Guidelines](ht

[2018-05-31 15:13] joshdholtz commented on #12654
@salmanasiddiqui This should be the Dev Portal team id 💪

[2018-05-31 15:19] joshdholtz commented on #12650
@ItsNoHax No probs! Just mentioned me when you have an answer 🙃

[2018-05-31 15:21] joshdholtz commented on #12649
@salmanasiddiqui We are trying to limit the addition of actions right now as its more of us to maintain but it _does_ seem like this would be a better fit for an action 🤔 I will throw that into my thinking session as well of where this best fits 👍

[2018-05-31 15:31] taquitos commented on #12652
Oh boy, I think we can actually delete that code. I just did a search and we don't use `available_providers` anymore.

[2018-05-31 16:16] RishabhTayal commented on #12664
@aravind1os This doesn't seem like a fastlane issue. Are you able to compile your project manually through Xcode?

[2018-05-31 16:28] salmanasiddiqui commented on #12654
oh god man, thank you so much.. by using `export_team_id` I have successfully build ipa for different teams. Going to upload one just to confirm it is signed correctly.
I was trying to make use of `codesigning_identity` parameter of `gym` to resolve my problem but it introduced some more.
Can you explain me the use of `codesigning_identity` parameter? I know its not the right thread to ask this, b

[2018-05-31 16:59] kumichou commented on #12644
@joshdholtz Fair enough. Since this is more about overriding settings outside of the Appfile/Matchfile/etc, would something like this work:

`team_name(team: 'Company X')` is the current logic, not setting iTC related env vars
`team_name(team: 'Company X', itc: true)` would be current logic and also set iTC env vars
`team_name(team: 'Company X', dev_portal: false, itc: true)` would skip current lo

[2018-05-31 17:32] #12363 closed

[2018-05-31 17:32] #12362 closed

[2018-05-31 17:33] #12353 closed

[2018-05-31 17:33] #12282 closed

[2018-05-31 17:33] #11813 closed

[2018-05-31 17:34] #11220 closed

[2018-05-31 17:58] joshdholtz commented on #12654
@salmanasiddiqui TBH, I don't know if I have ever used that myself 🙃 But I'm pretty sure its just for dynamically overriding the `CODE_SIGN_IDENTITY` in your build settings 🤔

[2018-05-31 17:59] joshdholtz commented on #12652
Aye aye, I will 💣 it

[2018-05-31 18:13] joshdholtz commented on #12644
@kumichou That is exactly what I mean 😊 That looks 💯 to me!

[2018-05-31 23:03] furick1 commented on #12648
ok, ill keep at it reviewing past issues and applying path changes or figuring out how to deal with long startup on sim.

[2018-06-01 05:31] selvakumar1994 opened #12666 "It is possible to UPLOAD android apk file to google play store (Beta or Production) release Using Fastlane tool."
I need some sample solutions with code.

[2018-06-01 05:57] krin-san commented on #12316
Xcode makes screenshots automatically but in `.jpg` format. Current implementation of xcpretty [filters out non-png file](https://github.com/supermarin/xcpretty/blob/7a072a1ec930ae3ab1b9ef4b8df5bc9a69ba0db0/lib/xcpretty/reporters/html.rb#L71). So right now I'm searching for a way to inject custom shell script between scan and xcpretty to convert jpg files to png.

@FabienLydoire, how do you manage

[2018-06-01 06:43] ankitr432 opened #12667 "Is it possible to use fastlane pem for mac (osx) platform?"
### Question Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

####
I am trying to use `pem` to generate Push certificates for my

[2018-06-01 07:50] molind commented on #12493
I've managed to get the image from simulator by recording screen. :)

example:
`xcrun simctl io "iPhone 5s" recordVideo --type=mp4 test.mp4`
or
`xcrun simctl io booted recordVideo --type=mp4 test.mp4`

[2018-06-01 08:07] kai60 commented on #12652
@taquitos @joshdholtz @kommen @cbowns @andrew sorry guys, because,I don't actually own the AppleID，I just check the AppleID can login in the ITC，but I didn't find that the AppleID has no right to create an application，just can login! when i get the right permission, problem solved! It's my fault,thankyou，guys.

[2018-06-01 10:18] FabienLydoire commented on #12316
Seen in this article [Mobile Automation Testing: Running iOS tests in parallel](https://medium.com/@akifev/mobile-automation-testing-running-ios-tests-in-parallel-d68bcb574fc4).

Install [XCTestHTMLReport](https://github.com/TitouanVanBelle/XCTestHTMLReport).
Update Fastfile to generate a report using xchtmlreport.

[code]

In your ```./fastlane/test_output/MyXcodeProject.test_result``` you will h

[2018-06-01 10:29] 1b0t commented on #12496
@Jparrgam  did you manage to resolve this? I ran into the same issue 😞

[2018-06-01 10:54] aravind1os opened #12669 "no such module 'FBSDKLoginKit'"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [ ] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [ ] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

##### Complete output when running fastlan

[2018-06-01 12:01] Looveh opened #12670 "Response 'Internal Server Error' when saving TestFlight build"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

When calling `Spaceship::TestFlight::Build

[2018-06-01 12:02] 1b0t commented on #12496
I think explicitly settings the java version to 1.8 fixed it for me.

You can test this by installing jdk 1.8 and running `export JAVA_HOME=`/usr/libexec/java_home -v 1.8`` before fastlane beta.

[2018-06-01 12:08] romk1n commented on #12557
have kind of the same issue

[2018-06-01 12:36] romk1n opened #12671 "export fails when trying to sign with different bundle id"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

We need to sign an app with different bund

[2018-06-01 13:50] ConfusedVorlon opened #12672 "Pilot sends wrong message when notifying testers"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Pilot sends the update email before saving

[2018-06-01 15:18] taquitos commented on #12652
No problem at all! You helped us find a bug in our code too, so that's great! Now we can handle this situation with a more friendly error message 🎉

[2018-06-01 15:32] salmanasiddiqui commented on #12622
@joshdholtz I am not sure at all but this might be related https://github.com/fastlane/fastlane/pull/11555

As I have given up on modifying languages and currently just went with what was activated by default, I will need some time to reproduce the issue as the above PR suggest.

[2018-06-01 17:42] mikrohard commented on #10786
If there is no activity it doesn’t mean the issue is fixed. It just means that nobody took the time to look into it.

[2018-06-01 17:59] mueller-ma commented on #12159
Issue still present

[2018-06-01 20:14] #11750 closed

[2018-06-01 22:16] #12536 closed

[2018-06-02 00:32] kdaker commented on #12537
Thanks @joshdholtz! In addition to that I had to delete the development certificate generated by xcode, but it works now.

[2018-06-02 00:32] #12537 closed

[2018-06-02 03:06] garyhooper commented on #12577
I continue to get an error: "Need to acknowledge to Apple's Apple ID and Privacy statement. Please manually log into https://appleid.apple.com (or https://itunesconnect.apple.com) to acknowledge the statement".

I have logged into both (and developer.apple.com) multiple times from different networks. No statement is presented to acknowledge, yet fastlane produces the error above.

[2018-06-02 03:16] garyhooper opened #12675 "Continue to get error: I continue to get an error: "Need to acknowledge to Apple's Apple ID and Privacy statement.""
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Even though I have accepted the privacy st

[2018-06-02 03:41] cytryn commented on #12597
@joshdholtz no, there is nothing that we didnt do before. No VPN, nothing.
I used to run fastlane from home and from home, same as him.

[2018-06-02 03:56] inturbidus commented on #12577
I had to switch browsers from Chrome to Safari. Logout and log back in to ITC.

[2018-06-02 04:09] garyhooper commented on #12577
I tried that, different browser on a different computer. Still no joy.

[2018-06-02 06:36] getaaron commented on #12577
@garyhooper are you logging in with the same Apple ID specified in `fastlane/Appfile`? A few users with your issue have been logging in with a personal account while fastlane is configured to use a machine account.

[2018-06-02 06:44] garyhooper commented on #12577
Yes, I have verified that they are the same.

[2018-06-02 11:11] mueller-ma commented on #12159
I found the reason for this issue: Android uses depricated language codes for some languages, see https://developer.android.com/reference/java/util/Locale (under `Legacy language codes`).
It would be nice if fastlane would throw a warning when unsupported language codes are found.

[2018-06-02 11:46] mtrezza commented on #12042
@joshdholtz I can't send you the files but the fonts are:
ar: Bahij Myriad Arabic Bold
pt,..: Helvetica Neu

[2018-06-02 17:32] #12384 closed

[2018-06-02 17:32] #12376 closed

[2018-06-02 17:32] #12296 closed

[2018-06-02 17:33] #12260 closed

[2018-06-02 17:33] #12173 closed

[2018-06-03 02:17] mpdifran opened #12676 "Frameit - Specify device frame in Framefile.json"
### Question Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Question Subject
Frameit - Device frame in Framefile.json

###

[2018-06-03 14:29] #12628 closed

[2018-06-03 17:31] #12396 closed

[2018-06-03 17:32] #12388 closed

[2018-06-03 17:33] #11703 closed

[2018-06-04 05:33] Aravindios opened #12677 "The generated archive is invalid, this can have various reasons"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [ ] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

##### Complete output when running fastlan

[2018-06-04 07:42] bguidolim commented on #12671
Hi @romk1n

When you need to switch between Appstore <-> Enterprise, you should change the bundle id of your app.

The best practice is create a new app target and scheme, so you can deal with it easily. But if you need to use the same target, so you'll need to create a combination for your specific case using these actions.

 - [update_app_identifier](https://docs.fastlane.tools/actions/update_ap

[2018-06-04 09:12] shiratsu opened #12678 "FastlaneCore::Interface::FastlaneError: [!] Invalid password passed via 'MATCH_PASSWORD'"
### Question Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### match doesn't work
I tried match command,but it doeesn't work

[2018-06-04 10:12] Aravindios opened #12679 "The bundle uses a bundle name or display name that is already taken"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [ ] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [ ] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

##### Complete output when running fastlan

[2018-06-04 12:45] Aravindios opened #12680 "ERROR ITMS-90129: "The bundle uses a bundle name or display name that is already taken"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [ ] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [ ] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

##### Complete output when running fastlan

[2018-06-04 13:58] RishabhTayal commented on #12680
@Aravindios This error is thrown by Apple iTunes Connect. The app name you are trying to use is already taken by someone else. You need to choose another app name that is not already taken. This is not a fastlane issue.

[2018-06-04 13:59] #12346 closed

[2018-06-04 13:59] DominikBucher12 commented on #12346
Thanks for clarification! :)

[2018-06-04 14:43] lolgear opened #12681 "Unable to set fastlane folder in fastlane CLI"
Simple setup:

Common/CI
TargetOne/
TargetTwo/
Gemfile
Gemfile.lock

Common/CI
Common/CI/fastlane
Common/CI/after_upload_to_testflight.sh
Common/CI/after_upload_to_app_store.sh

I would like to pass folder parameter for fastlane cli-utility.

Now I have this hack.
[code]

I do not find any option in `fastlane -h`.

[2018-06-04 15:26] mmysliwiec opened #12682 "[snapshot] Add parameter to not use headless simulator"
### Feature Request

#### Motivation Behind Feature
Xcode 9 introduced headless mode for UI testing. It's used by default when no simulator is running. But Snapshot is killing simulator by default to fix some issues (https://github.com/fastlane/fastlane/issues/2533). Unfortunately, this will always use headless simulator while taking screenshots. It's an issue in rare circumstances when headless s

[2018-06-04 15:29] mmysliwiec commented on #12493
It's a big issue for me since headless simulator is ignoring geolocation setup and my screenshots show different location than I want. Check my feature request https://github.com/fastlane/fastlane/issues/12682 describing the issue and solution.

[2018-06-04 17:32] #12284 closed

[2018-06-04 17:32] #12277 closed

[2018-06-04 17:32] #12184 closed

[2018-06-04 17:33] #11968 closed

[2018-06-04 17:33] #11944 closed

[2018-06-04 17:57] EdwardDrapkin opened #12683 "`match` failing due to Apple 302 errors"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [X] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [X] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
Apple 302 error is preventing me from signi

[2018-06-04 18:31] shkn-not-strrd commented on #12683
Having this issue as well. Apple's status page showing
"Certificates, Identifiers & Profiles - Maintenance In Progress"
so hopefully if it's on their end it will be wrapped shortly.

[2018-06-04 18:51] mstralka commented on #12683
I think this is happening because WWDC is going on right now and they probably disabled this system temporarily.

[2018-06-04 19:44] shkn-not-strrd commented on #12683
Issue has resolved itself for me, seems it was indeed all Apple.

[2018-06-04 19:54] jpghelfi commented on #12646
That was the problem. I set JDK 8 as my default in worked

[2018-06-04 20:15] furick1 commented on #12648
So, I played with snapshot and have it working in xcode and via fastlane from command line but haven't been able to get it to work with gitlab CI as I do for build, sign, and testflight. I did the following:

- ensured separate schema and proper build targets set for each schema
- set sims to not run concurrently
- reset simulators before running

Should i be using scan instead of snapshot? I got

[2018-06-04 20:22] EdwardDrapkin commented on #12683
Back to working for me again... does seem to have been on apple's end, so I guess the maintenance page was slow to update with their downtime.

Can the error message for this specific case be changed to something more friendly?

Old: "Apple 302 detected - this might be temporary server error, check https://developer.apple.com/system-status/ to see if there is a known downtime"

Suggested: 'Invalid

[2018-06-04 21:22] ybeapps commented on #12316
## For those who copy @FabienLydoire's script..

When coping the following:
[code]

Don't forget to change **MyXcodeProject** with your scheme name

[2018-06-05 00:10] shiratsu commented on #12678
I could resolve by myself.
I create new git repository.
then i re-create new certificate and provisioning profile.

Actually i don still understand why previous repository couldn't be used.
But it's OK.

[2018-06-05 00:10] #12678 closed

[2018-06-05 00:37] mpdifran commented on #12676
<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                         | Value                                       |
| --------------------------- | ------------------------------------------- |
| OS                          | 10.13.4                                     |
| Ruby                        | 2.2.4                                       |
| Bundler?

[2018-06-05 04:13] ankur-sardar opened #12686 "Code Signing Error: No signing certificate "Mac Development" found"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

I use Fastlane to upload the app to App St

[2018-06-05 06:47] krin-san commented on #12316
I'd like to share another idea of improvement here. Sometimes, when `scan` fails with compile exception it won't leave any files `xchtmlreport` could so it will throw it's own exception. If you want the `scan` exception to prevail in logs, wrap `xchtmlreport` execution and re-throw original exception like that:
[code]

[2018-06-05 07:01] Aravindios opened #12687 "No such file or directory"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

##### Complete output when running fastlan

[2018-06-05 07:34] FabienLydoire commented on #12316
@ybeapps : thanks, I didn't catch it since my scheme and project have the same name
@krin-san : thanks for the proposal, great improvement !

[2018-06-05 08:38] vmalyi opened #12688 ""Spaceship::UnexpectedResponse" when uploading metadata to App Store Connect"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
"/Users/malyi/.rvm/gems/ruby-2.4.2/gems/fas

[2018-06-05 09:11] mikemee commented on #10564
Also seeing this.  I have preview videos for some sized phones, but not all.  I also do not have the videos in my screenshots directory, but they're already uploaded from the prior release.

I wonder if I should put the videos into the fastlane screenshot folder.  I also wonder if it fastlane requires all phones to have videos?

[2018-06-05 09:14] mikemee commented on #10564
Perhaps this is a clue: https://github.com/fastlane/fastlane/issues/11022#issuecomment-371282782

It suggests removing all preview videos before trying to upload new screenshots.

[2018-06-05 09:32] Gregoirevda opened #12689 "Could not find a version to edit for app 'AppName'"
### Issue Description
We suddenly have an error `[!] Could not find a version to edit for app 'AppName'` without changing our fastlane config.
We were wondering if this could be due to itunes connect recent update?

##### Complete output when running fastlane, including the stack trace and command used
<details>
  <pre>[!] Could not find a version to edit for app 'AppName'</pre>
</details>

### En

[2018-06-05 09:38] gerbil802 commented on #10564
Yes this will solve it, but obviously that's a workaround, not a solution...

[2018-06-05 11:07] ankur-sardar commented on #12686
The setting was changed in some script of one pod. Fixed it, closing this issue as it is not related to fastlane

[2018-06-05 11:07] #12686 closed

[2018-06-05 13:18] stonedauwg commented on #12060
Also seeing this. Used to only see it once in a while but has gotten worse. About 3 out of 4 testflight fastlane operations this occurs now. Fastlane will never see that iTC has finished (it has) and eventually fail the CI due to taking too long (3 hrs)

[2018-06-05 13:21] stonedauwg commented on #12650
Sounds similar to #12060 which we are experiencing as well

[2018-06-05 13:54] pballartzinio opened #12690 "FastlaneRunner keeps processes running"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

After running several times fastlane I sta

[2018-06-05 14:29] firatakandere opened #12691 "Gymfile does not work as described in the documentation"
### Question Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

#### Question Description

In the end of export_options documentat

[2018-06-05 15:11] pballartzinio opened #12692 "Fastlane Swift xcov action broken"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

When running fastlane swift and invoking t

[2018-06-05 16:05] cjo666 commented on #12476
Were you able to find a solution to this?  We've been experiencing the same issue and we are on fastlane 2.96.1.  There seems to be about a 70% chance that Apple will not send the notifications.  Also, if I login to Itunes Connect and go to the Testflight tab it will immediately send the notifications.

[2018-06-05 16:48] mpdifran opened #12693 "FrameIt - Ability to automatically remove unframed screenshots"
### Feature Request

#### Motivation Behind Feature
Most of the time, when you're running frameit to frame screenshots, you don't need the original screenshots. All they do is clutter up the directory.

#### Feature Description
There should be an option for frameit to automatically move the original screenshots to the trash when they've been framed.

[code]

There are no drawbacks, because the fea

[2018-06-05 17:14] srikanth-vm opened #12694 "Any way to extract tests results without looking at the generated reports ?"
We are not using slack and I was looking for a cleaner way to post test results and code coverage to our chat.

[code]

Is there any way to fetch output as above to post them else where ?

[2018-06-05 17:49] BrandonShega commented on #12603
No, I thought maybe it was a version of match I was using or something.  I tried resetting my branch but then I get the hsa error (I think that's it) then after upgrading fastlane I start getting this error again.

[2018-06-05 18:38] Shadester commented on #10561
Hopefully something can be done for this.

[2018-06-05 18:40] sprabhuanand opened #12695 "Upload Dsym to hockey"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
I'm trying to upload the dsym file to hocke

[2018-06-05 19:13] garyhooper commented on #12577
Sill not working. I am running under Jenkins...is anyone else?  More detail under #12675.

[2018-06-05 19:28] #12495 closed

[2018-06-05 21:28] getaaron commented on #12675
I’m totally stumped on this one. What happens if you run the lane locally? Can you try running it with the `--verbose` flag and see if anything interesting prints?

[2018-06-05 22:12] garyhooper commented on #12675
It fails in every scenario that I try: (1) as a regular user from cmd line; (2) as Jenkins user from cmd line; (3) from Jenkins triggrered build. To check acceptance of privacy statement, I am logging in to itunesconnect from the same machine using the apple_id in my fastlane/Appfile; it displays its normal dashboard.

Verbose output:
<details>
  <pre>ERROR [2018-06-05 15:08:55.12]: fastlane finis

[2018-06-05 23:18] zapjonny commented on #11221
BTW I think the point of APNS auth keys is that they do not time out after a year. Which means this is something you do once (per development program!) and then almost never again. There is likely hardly a need to automate it and thus probably no need to support in fastlane. Then again i do not have a lot of experience with the apns keys so I might not be 100% accurate.

[2018-06-06 01:04] getaaron commented on #12694
The `run_tests` (aka `scan`) action has an `output_directory` param for reports. See also the other params beginning with `output_` to configure the type of report you want. https://docs.fastlane.tools/actions/scan/

Once you have the report file you can upload it somewhere depending on your CI software support or what you have available locally. For example on CircleCI you can use the `store-test

[2018-06-06 01:04] #12694 closed

[2018-06-06 05:14] srikanth-vm commented on #12694
Hey @getaaron ! thanks for looking at this. As of now I have configured to spit out HTML reports, but I was looking for a way to get just that summary out so that I could ping on our chat rooms. I have put it a workaround by reading files, but thought that there might be a better way to do. Any ideas ?

[2018-06-06 08:03] quadir1188 opened #12696 "Read json from API"
I want to read JSON from API and then use its value to change in xcode config file (android: string, build and colors file).Is there any plugin for this or I need to write script?

[2018-06-06 08:10] quadir1188 commented on #12696
I want  to read JSON from API and then use its value to change in xcode config file (android: string, build and colors file).Is there any plugin for this or I need to write script?

[2018-06-06 08:49] xwartz commented on #10796
Is anyone working on this?

[2018-06-06 10:04] baichaohua opened #12697 "How to specify a target when I use gym ?"
Hi,

I have  8 targets in one workspace .  The fisrt one is my APP tartet , the others are just framework for the first target .
And now ,when my Fastfile like this :
[code]
Then I got the error like :

[code]

I want the `export_options` and `xcargs` just for the first target , but in fact , they works for all targets .

Is there any solution to this problem ?

[2018-06-06 10:36] R4ein opened #12698 "projectNotLinked: The project id used to call the Google Play Developer API has not been linked in the Google Play Developer Console."
### New Issue Checklist

- [x] Updated fastlane to the latest version: 2.97.0
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

https://github.com/fastlane/fastlane/issues/12596 — Probl

[2018-06-06 12:46] Aravindios opened #12699 "Couldn't automatically detect the provisioning profile mapping"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

##### Complete output when running fastlan

[2018-06-06 15:31] #12691 closed

[2018-06-06 15:36] coneman commented on #12577
Login to https://appstoreconnect.apple.com/ instead of https://itunesconnect.apple.com to accept the privacy statement.

[2018-06-06 17:16] garyhooper commented on #12577
fastlane is still failing.

When logging in to https://appstoreconnect.apple.com/, no privacy statement acceptance was presented; it went straight to the dashboard.

[2018-06-06 17:33] #12371 closed

[2018-06-06 18:16] arnaudWasappli commented on #12445
Sorry bot, don't know why no one seems interested by my issue

[2018-06-06 18:58] iozz commented on #12445
I have the same problem with other functions such as `prompt()`, I can't get the return value either...

[2018-06-06 19:00] idelfonsog2 opened #12700 "issues with match: Itunesconnect changed to appstoreconnect.apple.com"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [X] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [X] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

##### Complete output when running fastlan

[2018-06-06 19:16] idelfonsog2 commented on #12700
no longer happening

[2018-06-06 19:16] #12700 closed

[2018-06-06 21:38] theFluterr commented on #12650
Also experiencing this issue with my Jenkins setup, the fastlane process was stuck there for around 8 hours. Hope it gets resolved, since it is just impossible to do pilot.

[2018-06-06 21:46] reidmain opened #12701 "Can the sh action output to the console in real time?"
### Question Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Question Subject
This is a question about the [sh action](http

[2018-06-07 00:20] walshie4 commented on #11570
Just ran into this issue.  Logging in on ITC on the affected account I see a 401 coming back on one of their requests.  Apple must've introduced some sort of bug in the recent update.

![image](https://user-images.githubusercontent.com/945703/41071638-f4bd3666-69ad-11e8-97ac-405c05352704.png)

[2018-06-07 01:52] HarrisHan opened #12702 "After match how can we specified the profile to the project?"
When I user `cert` & `sigh` for code signing I use `update_project_provisioning ` to update the project to use the right profile.

Now I want to use a more easy way such as `match` for code signing  The question is after match installed the cert & profile how can I update it to the project?

[2018-06-07 05:08] Aravindios opened #12703 "There is more than one bundle with the CFBundleIdentifier value 'com.xyx.Dxxyyu' under the iOS application 'xxxxxxx.app"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

##### Complete output when running fastlan

[2018-06-07 06:30] d4ex opened #12704 "Fastlane Pilot stucks on '... dosent show up in build list'"
- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
I have the following problem:
- Our build stucks on **'Build doesn't

[2018-06-07 06:48] tonyzp commented on #12704
I meet this issue too !

[2018-06-07 07:08] srikanth-vm opened #12705 "Total test cases are not always consistent."
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
Total test cases being captured in the repo

[2018-06-07 08:28] goingreen commented on #12704
+1

[2018-06-07 08:44] radko93 commented on #11570
Also got this, seems like it started after WWDC.

[2018-06-07 09:02] chnbz commented on #12355
And what do I do on Jenkins? Any ideas? When I run my unit tests with Jenkins, fastlane is throwing this issue. When I call the unit test via terminal on my slave everything works fine.

[2018-06-07 09:55] marcelelements opened #12706 "fastlane match stuck: git prompts not accessible to the user"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
The issue has been seen prior in #9243 - On

[2018-06-07 10:00] the4thfloor opened #12707 "gym ignores Dir.chdir"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
I change the working directory with `Dir.ch

[2018-06-07 10:14] the4thfloor commented on #12707
It looks the `apk` option of the `hockey` command ignores `Dir.chdir` too.

`hockey` fails with:
[code]

[2018-06-07 10:32] HarrisHan opened #12708 "Precheck question"
### Question Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Question Subject
There's some question confuse me about the ac

[2018-06-07 11:01] MIyulong opened #12709 "Add device issue"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Register a new device with method of "Spac

[2018-06-07 11:05] tiagomartinho commented on #11570
I'm also experiencing this issue.

[2018-06-07 11:06] tiagomartinho commented on #11570
After some retries it works

[2018-06-07 11:52] franco640 commented on #12055
Currently using fastlane-2.97.0 and I'm using the terminal command "fastlane deliver init" but I am currently getting the "Could not find app with app identifier" . I'm trying to get the metadata from a Mac App not iOS app. I get the following in your iTunes Connect account (******* - Team: 108936). I am admin and the bundle id is correct from the iTunes connect.  Please note that I am not uploadi

[2018-06-07 11:58] elviin commented on #11570
I also see that in my builds. Before lunch (I had only one nonalcoholic beer) it was working fine for me. No I get this error.

[2018-06-07 12:01] trevphil commented on #11570
I had a similar problem. When logging into iTunes Connect in a web browser, I had to accept Apple's new Terms & Conditions. This was likely what was causing an error for fastlane. It worked after I accepted the Terms & Conditions.

[2018-06-07 12:30] Blackjacx opened #12710 "Add Tester Group To Previously Uploaded Build"
Hey there,

since the processing by apple takes very long, I disabled distribution/set_changelog after processing. Now my plan is to create a script that uses fastlane [pilot | whatever] to attach a group of testers to a specific build that is already uploaded and processed. We need that since we build a whitelabel product with a shared codebase and each time we build all of our apps we need to at

[2018-06-07 13:04] Villar74 commented on #12473
got that error. In docker it doesn't working.

[2018-06-07 13:12] zedtux opened #12711 "Scan element detection timeout set to 600 seconds. How to change it?"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

When I run `bundle exec fastlane ios tests

[2018-06-07 13:14] Blackjacx commented on #12710
OK I found out that it is possible by invoking this command from the command line:

[code]

BUT: It assigns the testers simply to the newest build and I didn't find a solution to specify the build where fastlane should assign the testers to.

Is this somehow possible?

[2018-06-07 13:21] davidbucka commented on #11570
I'm also experiencing this issue since today. After some tries I could build the app this morning but now its back again.

[2018-06-07 13:22] jcharr1 commented on #11570
I'm having the same problem when match tries to verify my profile on the dev portal. It seems to have just started a little while ago for me. I already accepted the new terms and conditions before this started. It seems to be intermittent. It fails most of the time but sometimes it randomly works.

[2018-06-07 14:00] okonon commented on #10724
@KrauseFx @robertjpayne any way you can shed some lite on this feature? seems pretty critical for reviewing soon to expire certs ahead of time.

[2018-06-07 14:01] okonon commented on #10502
@KrauseFx @robertjpayne any way you can shed some lite on this feature? seems pretty critical for reviewing soon to expire certs ahead of time.

[2018-06-07 14:19] elviin commented on #11570
I can not even log in IC.

[2018-06-07 14:33] elviin commented on #11570
https://developer.apple.com/system-status/ looks fine.

[2018-06-07 15:19] mbogh commented on #12343
@joshdholtz any progress on this or maybe you can give me a pointer towards how to best solve this.

[2018-06-07 15:40] marekpridal commented on #11570
Same error. First time it has failed during checking if build has been processed and now it fails during Login to iTunes Connect. But I cannot see any pattern. It definitely ends up with fail but in different stages.

[2018-06-07 16:12] stonedauwg commented on #12704
+1

[2018-06-07 17:34] #11022 closed

[2018-06-07 17:38] jpghelfi opened #12712 "CI machine: Is there a way to tell fastlane to use a certificate and provisioning that are in the repository ? (I don´t want to use Match)"
### Question Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Question Subject
CI machine: Is there a way to tell fastlane t

[2018-06-07 17:42] reidmain commented on #12701
@fastlane-bot my environment should not matter for a question like this but I shall paste a trimmed down version of it anyway.

<details><summary>🚫 fastlane environment 🚫</summary>

### Stack

| Key                         | Value                                           |
| --------------------------- | ----------------------------------------------- |
| OS                          | 10.13.4

[2018-06-07 17:43] #12712 closed

[2018-06-07 17:56] elorz007 commented on #10793
I talked to the Apple engineers today at WWDC to try to get some answer to this problem. Because I suspect that even if fastlane moves to the new API, we will still get problems with one Apple ID logging in many times in a some minutes or logging in from different machines.

They told me that because Fastlane is a third party tool, they can only look into the issue if the login problems also occur

[2018-06-07 18:17] Blackjacx commented on #12464
Has anybody something to say here?

[2018-06-07 19:11] fabb opened #12713 "Add Support for the new App Store Connect API"
In a few weeks, Apple will release a new API for managing apps and users in the Appstore. This can be used instead of a few current workarounds in Spaceship.

In the first release there will be API for managing provisioning profiles, users, distribute betas and receive analytics. In further releases, metadata and submission should be possible.

For more information see „Automating App Store Connec

[2018-06-07 19:52] invoodoo opened #12714 "app_store_build_number"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

When it is an initial build and not app in

[2018-06-07 22:42] elorz007 commented on #10793
According to the new WWDC session ["Automating App Store Connect"](https://developer.apple.com/videos/play/wwdc2018/303/) the authentication to the API will be done like this:
1. Create API key pair. Public key will be stored on Apple. Keys will be created in the itunes connect website. Private keys are generated by apple (wtf!) and you will be able to download them from the page once.
2. Generate

[2018-06-07 23:53] s-hocking opened #12717 "version_get_podspec does not support pre-release version numbers, e.g. 2.0.0-beta"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

When using the `version_get_podspec` actio

[2018-06-08 06:07] startupthekid commented on #11139
Addressed in #12467

[2018-06-08 06:50] salmanasiddiqui commented on #12481
`match` supports multiple teams
https://docs.fastlane.tools/actions/match/#important-use-one-git-branch-per-team

[2018-06-08 06:58] salmanasiddiqui commented on #12534
Hey @PaulDevelter ,
https://docs.fastlane.tools/actions/resign/
the above action supports `bundle_id` parameter which should do what you need.

[2018-06-08 07:01] taisukeh commented on #12704
+1

[2018-06-08 08:10] tseglevskiy commented on #12293
Folks, I have this problem for all versions from 2.90.0 till last one (2.97.0), 2.89.0 works fine. Seems like for most of you problem was fixed in 2.91.0. Is there any ideas, what to do? Is it problems with my environment?

[2018-06-08 08:27] tseglevskiy opened #12718 "uninitialized constant Fastlane::PluginSearch::Terminal crash (again)"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

[code]

I found workaround for me: I adopt

[2018-06-08 08:30] elviin commented on #11570
I still experience the issue with four different teams. I have accepted the terms.

[2018-06-08 09:28] insanity13 commented on #12704
+1

[2018-06-08 09:36] lexd5 commented on #12704
+1

[2018-06-08 09:36] Kazinaki commented on #12704
+1

[2018-06-08 09:37] saragulov commented on #12704
+1

[2018-06-08 09:44] Slavazavr commented on #12060
I have the same issue.  In Jenkins console output "Build doesn't show up in the build list anymore, waiting for it to appear again (check your email for processing issues if this continues)" long time and new build don't appear in the Testflight. But when go to iTunes Connect and open my app, new build immediately appear in the Testflight. In Jenkins console:
[11:58:10]: [32mSuccessfully finished

[2018-06-08 10:22] Demmy27 commented on #12704
+1

[2018-06-08 11:15] franco640 opened #12719 "Could not find app with app identifier '[Bundle Id]' in your iTunes Connect account ([Team Email Address] - Team: [Team Number])"
Hi

I hope someone can really help with me issue.

I have seen several posts with the same issue but they are closed and I'm currently having the same issue and all pointers seem to go past my head in resolving this issue.

Rundown of the steps

In terminal using

fastlane deliver init
I enter Apple ID username
Enter the bundle identifier of the app - Now this is a Mac app not an iOS app.

Then ge

[2018-06-08 12:21] Villar74 commented on #12473
problem was in versionCode. docker automatically created apk with wrong vC

[2018-06-08 12:41] fasci commented on #11454
I'm still seeing this issue with fastlane 2.97.0 on macOS 10.13.5.

[2018-06-08 13:04] DavidWiesner commented on #12704
+1
When I manually login into https://appstoreconnect.apple.com and navigate to the app and than to "TestFlight" the app will be distributed and fastlane immediately will stop waiting and finish the build

[2018-06-08 14:31] johnknapprs commented on #12707
https://docs.fastlane.tools/advanced/#directory-behavior

[2018-06-08 14:35] lluisgerard commented on #12421
I'm also having this issue with CircleCI 2.0 (`security: SecKeychainSearchCopyNext: The specified item could not be found in the keychain.`).

I added a `security` command after match and I do get the expected results:

[code]
results:
[code]

But the next step `deploy_crashlytics` returns `Shell command exited with exit status 48 instead of 0.` when trying to run `setup_circle_ci `.

I've also tr

[2018-06-08 15:10] garyjohnson commented on #12704
@DavidWiesner I'm seeing the same issue. My TestFlights builds started getting stuck and a visit to the "TestFlight" tab in the app on App Store Connect will immediately trigger the app release.

[2018-06-08 16:01] 40x opened #12721 "Changes for App Store Connect"
### Feature Request

#### Motivation Behind Feature

Major changes were announced at WWDC to the apple app store, would love to see Fastlane be the first to market with the automation tooling around that

https://developer.apple.com/videos/play/wwdc2018/301/

Also, I am not a 100% sure how Fastlane works internally and if any changes are necessary, but if they are, would love to continue using Fas

[2018-06-08 16:14] 40x commented on #12721
Duplicate. My bad.

[2018-06-08 16:14] #12721 closed

[2018-06-08 17:04] nneuberger1 opened #12722 "Can't decrypt fastlane match repository using an Enterprise account"
We're having issues with decrypting the fastlane match repository due to unexpected issues.  We're in a lost password state BUT we're using the Apple Enterprise option (not a standard account).  When running our builds we have the following error (via Bamboo CI) usage:

We we're using keychain usage.

Here are some of the errors:
"Couldn't decrypt the repo, please make sure you enter the right pas

[2018-06-08 17:06] nneuberger1 commented on #12722
My initial thought is to just init a brand new repository and new password and allow fastlane to pull everything down again, but I don't know exactly what it will do during the process.

[2018-06-08 17:18] nneuberger1 commented on #12722
Here's another error occuring on our build boxes that we think may help triage the issue.

'password has been deleted.'

Here's the full output just running a simple command:  "fastlane match development"

[11:35:04]: Enter the passphrase that should be used to encrypt/decrypt your certificates
[11:35:04]: This passphrase is specific per repository and will be stored in your local keychain
[11:35:

[2018-06-08 17:21] paladocy commented on #12704
+1
I'm experiencing the same issue. Visiting TestFlight seems to immediately release the version to testers.

[2018-06-08 19:59] mrh-is commented on #12577
I just solved this by checking all three of:
1. [appleid.apple.com](https://appleid.apple.com/)
    - I had to log into a device with the Apple ID in question before I could log into Apple ID in the browser, heads up
2. [developer.apple.com](https://developer.apple.com/)
3. [appstoreconnect.apple.com](https://appstoreconnect.apple.com/)

[2018-06-08 21:03] BJap opened #12723 "Support for test-only runs for Snapshot using test binary only"
### Feature Request

#### Motivation Behind Feature
For larger apps, it makes sense to split localization testing into multiple CI projects. Xcode 9 allows for a build to create a test binary at a provided derived data path, and upload that artifact for use in other jobs. It is undesirable to build for every single one of them, and, the version control system is not build to handle such a load. Es

[2018-06-08 22:43] garyhooper commented on #12577
I have logged into each of https://appleid.apple.com, https://developer.apple.com, https://itunesconnect.apple.com, and https://appstoreconnect.apple.com from multiple browsers (including Safari) and from multiple (mac) computers.  No privacy acceptance is required (completed several days ago), yet `fastlane certs` still fails.

@mrh-is, can you clarify what you mean by "I had to log into a device

[2018-06-08 22:49] mrh-is commented on #12577
@garyhooper I wan't able to log into [appleid.apple.com](https://appleid.apple.com/) until I had already logged into an iOS device with that Apple ID.

[2018-06-08 22:59] garyhooper commented on #12577
on an iOS device, i have logged into both itunesconnect app and website, plus app store.  for all i logged out and back in again.  still fails.

[2018-06-08 23:05] svanzoest commented on #10796
I haven't yet unfortunately.

[2018-06-08 23:20] getaaron commented on #12577
I think @mrh-is meant sign in via Settings - iCloud on iOS or something. But I doubt that will fix anything.

At this point the only two things I can think of are:

1. logging the exact HTTP response headers & body in case there’s some info there. You could try running the Ruby commands via IRB, or making a curl request

2. Logging into https://iforgot.apple.com/ and going through the account unlo

[2018-06-09 01:00] garyhooper commented on #12675
RESOLVED. All members associated with the team must accept that privacy statement, regardless of which user's account is used to get the certificates.

[2018-06-09 01:01] #12675 closed

[2018-06-09 01:01] garyhooper commented on #12577
RESOLVED. All members associated with the team must accept that privacy statement, regardless of which user's account is used to get the certificates.

[2018-06-09 01:03] inturbidus commented on #12577
So glad. No more notifications for this issue! Hahaha.

[2018-06-09 02:05] getaaron commented on #12577
@garyhooper I’m pretty sure that’s not it since there are definitely people on my team who haven’t accepted it, but glad to hear you got it working. Maybe you have something overriding the account specified in the Appfile?

[2018-06-09 02:19] garyhooper commented on #12577
I don’t see anything overriding the Appfile. I have 4 emails associated with the team. 2 had accepted, including the appfile id. Accepting the other two resulted in success.

[2018-06-09 16:20] joshdholtz commented on #12713
@fabb This is definitely on our radar to do! I was at WWDC this week with a few other core contributors and we ended up attending the App Store Connect API session and talked to some of the Apple engineers. This API will get released near the end of summer and will contain a subset of APIs that we use.

How these APIs will get used within _fastlane_ is still up for discussion. The authentication a

[2018-06-09 17:33] #12430 closed

[2018-06-09 17:33] #12428 closed

[2018-06-09 17:33] #12423 closed

[2018-06-09 17:35] #11637 closed

[2018-06-10 11:49] imodeveloper opened #12725 "Test execution failed. Exit status: 1 after tests finish with success."
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
I'm running this lane

<img width="427" alt

[2018-06-10 14:06] max-ott opened #12726 "[spaceship] upload_trailer! method not working"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
upload_trailer! method is not working and g

[2018-06-10 17:33] #12439 closed

[2018-06-10 17:33] #12424 closed

[2018-06-10 17:33] #12422 closed

[2018-06-10 17:34] #12412 closed

[2018-06-10 17:34] #12340 closed

[2018-06-10 23:10] nneuberger1 commented on #12722
Bump.  Any ideas on this?   Is it just as simple as creating a new git repository locally "init"? and then allowing fastlane to recreate it?

I'm really needing some expert guidance I may just need to not use fastlane, OR at least the gym aspect of it.

if it helps here's some of the Fastfile configuration:

`
fastlane_version "2.51.0"

xcversion(version: "~> 8.3.0") # Selects the latest installed

[2018-06-11 08:08] franco640 commented on #12719
<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                         | Value                                       |
| --------------------------- | ------------------------------------------- |
| OS                          | 10.11.6                                     |
| Ruby                        | 2.2.4                                       |
| Bundler?

[2018-06-11 08:31] lluisgerard commented on #12421
@fishcharlie can you close the issue?

My case might be different, will post separately. In short:
I call two lanes: `match` and `deploy_to_crashlytics`.
If I add `setup_circle_ci` to `before_all` it crashes on the second lane.
If I call it only on the `match` lane, `deploy_to_crashlytics` cannot find the signing certificate.

[2018-06-11 09:29] lluisgerard commented on #12421
Ok, solved my issue. In my case the problem was `setup_circle_ci` on `before_all` meant that I called it twice on the same session. Leaving it here in case anyone is having the same issue, be sure to call it just once.

[2018-06-11 09:54] franco640 commented on #12719
Using another process to get around this. To help anyone that hard this issue.

Looking at the documentation

I've used **fastlane deliver download_metadata** instead.

The readme doc from https://docs.fastlane.tools/actions/deliver/

[2018-06-11 10:59] joshdholtz commented on #11570
I just saw this comment on a similar thread - https://github.com/fastlane/fastlane/issues/12675#issuecomment-395927914

Not sure if related but might be a thing to try / look into? 🤔 This would be not great if this was a solution

[2018-06-11 11:12] #12718 closed

[2018-06-11 11:35] Abgaryan opened #12728 "Couldn't find any new signed apk files."
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

##### Complete output when running fastlan

[2018-06-11 11:38] Abgaryan opened #12729 "Couldn't find any new signed apk files."
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [ ] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [ ] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

##### Complete output when running fastlan

[2018-06-11 11:38] #12729 closed

[2018-06-11 11:57] joshdholtz opened #12731 "reset_simulators no longer works"
- Reported in #12284
- Also reported by @danielbowden (in person)

@danielbowden's workaround solution:
[code]

[2018-06-11 12:19] joshdholtz commented on #12296
@Havi4 This is probably a bit late but it should work if you add `use_bundle_exec: true` in your `cocoapods` action 😊

[2018-06-11 12:56] doruvil commented on #12277
@joshdholtz sorry for the delayed reply.
There are some changes needed.
For the following Fastfile.swift:
https://github.com/doruvil/FastlaneSwift/blob/testing-fastlane-swift-limits/FastlaneSwift/fastlane/Fastfile.swift

The feedback provided in case of wrong lane signature is different from the result of
`fastlane lanes` action:

[2018-06-11 13:00] doruvil commented on #12277
![screen shot 2018-06-11 at 14 55 00](https://user-images.githubusercontent.com/4958872/41232923-1ff2f694-6d88-11e8-92e2-0119ceb6ed2d.png)

[2018-06-11 13:00] doruvil commented on #12277
![screen shot 2018-06-11 at 14 55 16](https://user-images.githubusercontent.com/4958872/41232928-2550cca6-6d88-11e8-93c6-e2934e0e2f59.png)

[2018-06-11 13:04] doruvil commented on #12277
I have tested of course using the latest version of fastlane: 2.97.0

[2018-06-11 13:28] Sajjon commented on #11220
I too get this error

[2018-06-11 13:30] Sajjon commented on #11534
Using Bundler with fastlane `2.97.0`, I too get error `[Transporter Error Output]: description length:4443917`

[2018-06-11 14:16] DanielCasadoCrisalix commented on #12698
I have exactly the same Issue here!..

[2018-06-11 15:33] nthegedus opened #12733 "upload_to_play_store(track: 'beta') sent APK to production"
Here is my lane, that I'm using:
  <pre>lane :betaStore do
    bump_version_code
    gradle(task: 'clean', project_dir: "./")
    gradle(
      task: "assemble",
      build_type: "Release",
      flavor: "prod",
      system_properties: {
        "ENVFILE": ".env.prod"
      },
      project_dir: "./"
    )
    upload_to_play_store(track: 'beta')
  end</pre>

It used to work very well until last

[2018-06-11 15:56] ben-lings-tessella commented on #12486
This issue isn't yet resolved

[2018-06-11 15:57] ben-lings-tessella commented on #12488
This issue isn't yet resolved

[2018-06-11 17:06] Bersaelor opened #12734 ""Malformed version number" when iOS12 simulators are installed"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
Two weeks ago `fastlane` was working fine o

[2018-06-11 17:34] #12441 closed

[2018-06-11 17:34] #12436 closed

[2018-06-11 17:36] #10378 closed

[2018-06-11 20:36] invoodoo commented on #12714
it is related to newly created version and usage of app_store_build_number funciton

[2018-06-11 22:41] mosesoak commented on #12552
@sirghi we ran into this problem as well with our enterprise cert, not sure if someone messed with something in the apple dev portal to cause it, or if it was an incorrect setup for match.

The way we found match to always work right after adding device was `readonly: false, force: true`. The flag `force` will recreate the provisioning profile even if the device is not being added for the first ti

[2018-06-12 06:58] petterikamppuririchie commented on #12650
We're seeing pilot uploads getting stuck as well.

`fastlane pilot upload --skip_submission` is stuck.

I believe something happens when going to the new App Store Connect web site and accessing the TestFlight tab. That immediately triggers push notifications for new TestFlight build being available and pilot upload task proceeds forward.

Pilot upload succeeds, but it can't properly enable the bu

[2018-06-12 07:36] iOSleep commented on #12557
same to me

[2018-06-12 08:34] Zidail commented on #12228
After updating to Xcode 9.4, the issue resolved itself. So if you're having this issue *use Xcode 9.4+*

[2018-06-12 09:16] sirghi commented on #12552
Hi @mosesoak
Thanks for jumping in on this. Unfortunately, neither `readonly: false, force: true` did the trick for us. And in the end we also went with something similar to your second approach: we just deleted the said profile from the repo, pushed, then ran `match` again with `readonly: false`, and it worked.
I do agree, this approach is still rather simple.
Cheers

But still, hoping we can get

[2018-06-12 17:34] #12451 closed

[2018-06-12 17:36] #9542 closed

[2018-06-12 19:24] SoCohesive commented on #12734
Hello I am experiencing the same error. Have you found a solution?

[2018-06-12 22:46] Gi0rgi0s commented on #12233
Has there been any progress on this? thanks

[2018-06-13 02:00] joshdholtz commented on #10786
Getting a fix out for this

[2018-06-13 02:41] scollings commented on #10411
I looked over this code (I'm no expert though): https://github.com/fastlane/fastlane/blob/7171725879ab8d4e78d501fbc663d0e59a0490eb/spaceship/lib/spaceship/tunes/tunes_client.rb

It looks like candidate builds list comes from here:
https://itunesconnect.apple.com/WebObjects/iTunesConnect.woa/ra/apps/#{app_id}/versions/#{version_id}/candidateBuilds

When we hit it (after replacing the variables) we

[2018-06-13 03:01] #12336 closed

[2018-06-13 03:58] KjellConnelly opened #12738 "Add callback before waiting for done uploading, but waiting for processing"
### Feature Request
I haven't used gotten around to uploading to app store yet, and am still focusing on uploading to Testflight, but this feature could work for both: Add a callback so that once a build has been created and uploaded to the appropriate server, we can run some custom code of our own.

#### Motivation Behind Feature
I have a pipeline where I have 6 different apps that all share code

[2018-06-13 06:15] Roc0010 opened #12739 "Can't change exportPath"
### Question Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Question Subject

I can't change the xcodebuild exportPath par

[2018-06-13 07:02] IchHabRecht commented on #10787
Still an open issue

[2018-06-13 07:22] tedgonzalez opened #12740 "match couldn't commit or push changes back to git... No password supplied"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [X] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [X] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

fastlane match appstore
[09:19:13]: Couldn

[2018-06-13 08:01] raghuhit commented on #12627
@joshdholtz I have created the fastlane plugin for browserstack at https://github.com/browserstack/browserstack-fastlane-plugin as discussed, and published it too.
Can you tell me, what should I do so that it would appear at https://docs.fastlane.tools/plugins/available-plugins/

[2018-06-13 08:02] tedgonzalez commented on #12740
git repo passphrase is required.

[2018-06-13 08:02] #12740 closed

[2018-06-13 11:21] IchordeDionysos opened #12741 "Getting No profiles for '...' were found"
### Question Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Question Subject

I have a question about `match` and why it d

[2018-06-13 11:42] tedgonzalez commented on #11999
I had to manually send the testflight build for review, then pilot has Successfully finished processing the build

[2018-06-13 11:44] joshdholtz commented on #12728
Going to close this issue since no issue information, `fastlane env`, or _fastlane_ output was provided. Please open another issue with all requested information and I will be happy to look into 😊

[2018-06-13 11:44] #12728 closed

[2018-06-13 11:49] joshdholtz commented on #12722
@nneuberger1 Heyyy 👋 How long ago was your _match_ repo created? And what version of open ssl do you have installed? Open ssl changed their default algorithm from MD5 to SHA256 when bumping from 1.0 to 1.1. fastlane _should_ handle this for you (see https://github.com/fastlane/fastlane/blob/master/match/lib/match/encrypt.rb#L84-L130) but maybe there is an issue going on with that 🤔

If you could l

[2018-06-13 11:55] joshdholtz commented on #12714
@invoodoo I will fix the code to handle this more gracefully but it looks like this is happening because there is no "live" version of the app that you are looking for 🤔 I am able to replicate with an app that is in iTunesConnect (I guess now App Store Connect) that hasn't officially be approved and released yet. Can you verify the state of approval of your app with me?

[2018-06-13 12:07] ryanbaldwin commented on #10949
This is something I would like to do as well (use fastlane as the foundation of sane CI/CD environments for Framework projects). Can this be done?

[2018-06-13 12:15] joshdholtz commented on #12733
@nthegedus This is really strange 🤔 My `track: 'beta'` does straight to the Beta track like it should. Can you please provide `fastlane env` and output of you terminal (using `--verbose`) like the issue template suggests so I have more information to go? 😊

[2018-06-13 12:46] thijsonline commented on #12704
+1
Another workaround to trigger the app release is to execute `fastlane pilot builds`

[2018-06-13 12:58] jmillan commented on #12233
Same its happening here.

[2018-06-13 13:07] jmillan commented on #12233
Worked with @ivmos workaround: https://github.com/fastlane/fastlane/issues/12233#issuecomment-378884704

[2018-06-13 13:26] pkalinowski opened #12743 "Get fastlane tests result output in bamboo"
### Question Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Question Subject

Integration tools: Atlassian Bamboo server +

[2018-06-13 14:02] thorstenschiffer commented on #12704
Same problem here, I get an email that the processing is done but pilot is stuck

[2018-06-13 15:12] nneuberger1 commented on #12722
@joshdholtz I created the original repository Aug 1, 2017 and has been updated via fastlane through May 28, 2018.

If it helps, a developer accidentally changed one of the "match" provisioning profiles via the Developer Portal and broke things because of that.

[2018-06-13 16:38] invoodoo commented on #12714
Awesome if it could give a nil or something else so I can manager situation and still make a build.

I fetch version and build number from AppStore and checking live or edit version. And if there is no live it crashes :(

[2018-06-13 17:15] donald-m-ritter opened #12744 "Switch environment when switching lanes"
### Question Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Question Subject
What tool/action do you have a question about

[2018-06-13 22:07] StuSchwartz opened #12745 "Frameit without a title produces incorrect sized framed file"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

When you use frameit on screenshots for th

[2018-06-14 00:31] wugeorgeq opened #12746 "[feature_request] ensure_git_status_clean to ensure branch is up-to-date"
### Feature Request
I want to add an action (or add a parameter to ensure_git_status_clean.rb, but seems less clean) so that I can check if local branch is up to date with remote.

#### Motivation Behind Feature
Prevents the case of distributing a build and realizing immediately that another PR was merged in that short time window.

#### Feature Description
Pretty simple, if the team thinks this i

[2018-06-14 00:32] wugeorgeq commented on #12746
obviously the PR would look different but this is my code snippet for desired behavior
[code]

[2018-06-14 06:41] pkalinowski commented on #12743
`fastlane env`:

[code]

[2018-06-14 10:53] lolgear opened #12747 "Add support for new iTunes Connect API to fetch release app build number and version."
Hi!

I would like to fetch build number metadata and version metadata for latest iOS released app to put version tag in git.

I can not be sure that version that I put in test flight "as release" will be release version in case of beta-testers or any other circumstances.

I could make a daemon which will run fetch of iTunes connect every day or just run this phase of release validation on each bui

[2018-06-14 13:58] MayeuldP opened #12748 "[React-Native] - Fastlane screenshots, recorder throw "Timestamped Event Matching Error...""
### Question Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Question Subject
Question about setting up the wanted screensh

[2018-06-14 15:07] ben-lings-tessella commented on #12734
Possibly related to https://github.com/fastlane/fastlane/issues/12488 ?

[2018-06-14 15:25] lolgear opened #12749 "Add support to read file version at specific commit"
It would be nice to have an ability to read file content in git history.

E.g. I would like to read file at specific commit:

[code]

Especially, I would like to read it with native functions like `get_info_plist_by_key()` or similar.

[2018-06-14 15:31] RishabhTayal opened #12750 "Question - How to add an Internal Tester to app?"
### Question Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Question Subject
action: `pilot`

#### Question Description
Th

[2018-06-14 16:01] #10786 closed

[2018-06-14 16:11] #12714 closed

[2018-06-14 16:52] shardulsrivastava opened #12751 "build_ios_app stuck after 'Running script 'Bundle React Native code and images''"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

I am using build_ios_app action in my fast

[2018-06-14 17:35] #12460 closed

[2018-06-14 17:37] RishabhTayal commented on #12750
After discussing with @joshdholtz, seems like we need a new method to get the internal users from App Store Connect. After the new method is available we can use the following code to get the app store connect users and add them to the internal testers group.

[code]

I am sure there is a better way to write the above code. Not a ruby expert. Would like to hear how we can improve the above code sn

[2018-06-14 17:56] tedgonzalez commented on #10744
I had this issue when my developer account has some terms and conditions to accept in app store connect.

[2018-06-14 18:07] pronebird opened #12753 "Name of the lane 'testflight' is already taken by the action named 'testflight'"
Omg I just updated from some ancient fastlane to the latest and it says `Name of the lane 'testflight' is already taken by the action named 'testflight'` and goes into recursion if I run such lane. How can I fix this. Do I have to rename my actions? 🆘

[2018-06-14 18:18] shardulsrivastava commented on #12753
@pronebird can you paste your fastfile here??

[2018-06-14 18:30] pronebird commented on #12753
@shardulsrivastava it's quite large, but offending lanes share the same name as action, i.e:

[code]

`mogenerator` is also an action.

[2018-06-14 19:02] joshdholtz commented on #12753
@pronebird You do have to rename your lanes so they don't match actions 😇 Having lanes and actions have same names causes confusion on what is _actually_ getting called since they can both get called the same way.

[2018-06-14 19:05] joshdholtz commented on #12751
@shardulsrivastava I have to ask but do things build/export as expected when using Xcode directly (and not fastlane)?

[2018-06-14 19:15] joshdholtz commented on #12749
@lolgear Heyyyy 👋 We currently are trying to limit the number of actions that are included into _fastlane_ itself. I would suggest that you either:
1. just run this with `sh("git show commit:./Info.plist")`
2. create your own custom action for this in your project
3. make this a plugin (if you would like to maintain this yourself and let other people to install this as well)

If there is bigger de

[2018-06-14 19:15] #12749 closed

[2018-06-14 19:31] joshdholtz commented on #12747
@lolgear Heyyy 👋 If you could please use one of the four provided issue templates from now on (there is one for "Feature Request") that would be 💯 This makes it easier for us maintainers to parse information about the feature request.

What you are looking to do can be done with `Spaceship` directly...
[code]

[2018-06-14 19:31] #12747 closed

[2018-06-14 19:37] lolgear commented on #12749
@joshdholtz
It seems that "this" approach ( by directly using git ) is broken in case of complex projects.
Git folder structure  doesn't directly mapped into project structure.

Also, reading 'whole" file is not ok, because I need to process it later to retrieve specific info from it. ( Like version number ).

Fastlane has only ( as far as I know ) one plist method that reads key from existing pli

[2018-06-14 19:42] antons81 opened #12755 "Cannot run fastlane"
Hi, trying to run build after fastlane init and getting following error

[code]

[2018-06-14 19:55] joshdholtz commented on #12746
@wugeorgeq Thanks for using the feature request template 😊 ❤️

- I don't think they should be its own action within fastlane (we are trying to limit the amount of actions we merge in as it increases the amount of time for support/maintenance)
- I also don't think it necessary fits within the naming of `ensure_git_status_clean` since the proper way to check if its up to date with a remote is by run

[2018-06-14 20:11] wugeorgeq commented on #12746
Thanks for the correction! I'm out of the office today but will definitely look into the 3rd party route to see how it works and if the functionality exists (new to fast lane)

[2018-06-14 20:28] joshdholtz commented on #12746
@wugeorgeq Sounds good and welcome to fastlane! 😊 🚀 Docs are creating a plugin can be found here - https://docs.fastlane.tools/plugins/create-plugin/ 💪

[2018-06-14 23:11] joshdholtz commented on #12744
@donald-m-ritter Heyyyy 👋 I might need a little more clarification on your question. By "switching environments", are you talking about passing arguments to your `test` lane to test different schemes/targets?

If so, you could do something like...
[code]

This solution above though requires your Xcode project to have schemes call `test-ios`, `test-watchos`, `test-tvos`, and `test-macos` that do th

[2018-06-14 23:14] joshdholtz commented on #12755
@antons81 Heyyyy 👋

1) If you could please use one of the provided issue templates next time you create an issue that would be 💯 This helps the maintainers better help you out
2) It looks like you are trying to use Fastlane.swift, is this correct?
3) Has this worked for you before? Or is this your first time trying this out?

[2018-06-14 23:17] joshdholtz commented on #12748
@MayeuldP Heyyy 👋 This sounds like its not related to your `Fastfile` but instead related to your UI tests. It sounds like you are trying to specific an element by name/key in your UI tests (that control the screenshots) and the element you are specifying by name/key doesn't exist - either because its not on screen or its not configured properly.

I think that is all that I am able to help you sin

[2018-06-15 03:47] shardulsrivastava commented on #12751
@joshdholtz surprisingly in xcode it works just fine

[2018-06-15 05:03] whitechdevs commented on #10945
We also run into this problem every now and then. This last time was even worse because we we're trying to submit for review version 18.4.0 of our app but the version that ended up submitted was 7.9.1. Now after we run our CI/CD pipeline we have to manually go an check if the correct build was submitted for review. This is a critical issue that needs to be looked at.

Here's the deliver log where

[2018-06-15 05:16] antons81 commented on #12755
Hi. I think I resolved this issue, need to run with sudo

[2018-06-15 05:16] #12755 closed

[2018-06-15 06:14] toco1001 opened #12756 "[Deploygate][Crashlytics Beta] - How can I get the revision number of deploygate / crashlytics beta?"
### Feature Request

#### Motivation Behind Feature
Hi. I'd like to comment the revision number of deploygate / crashlytics beta by using `Jira` action to do the manual test for in-house.  But it seems I can't get both revision number now by fastlane.

#### Feature Description
 - Extend deploygate/crashlytics action to get the revision number.

#### Alternatives or Workarounds
For now I write the

[2018-06-15 07:04] MinuteCode commented on #10411
Same error here, getting this issue everytime I upload a binary to the store.

The build appears on the activity section of the app store connect but then disappears and fastlane fails to wait for processing.

![capture d ecran 2018-06-15 a 08 58 12](https://user-images.githubusercontent.com/7716391/41454636-6e1dd1c8-707a-11e8-8a80-8a3f32427e57.png)

[code]

[2018-06-15 07:41] timoa commented on #12704
+1

[2018-06-15 08:39] jaroslavas opened #12757 "`read_from_path': cannot load such file -- nanaimo"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

On `gym` and `commit_version_bump` command

[2018-06-15 09:48] mikkoj commented on #12757
Same here. Noticed the issue after XCode updated to 9.4.1.

[2018-06-15 10:10] MayeuldP commented on #12748
@joshdholtz Hello, thank for your help, indeed, it worked for few components by adding `testID="identifier"` as props.
However. for others elements, even if there's a testID props, I got this as a return, `app.otherElements.matching(random stuff)` instead of `app.buttons["indetifier']` for example, so then, running `fastlane screenshot` doesnt work, and display that `No matches found for Find:`...

[2018-06-15 10:40] ViktorBylbas opened #12758 "Fastlane snapshot. Exit status: 65. Test failed"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

##### Complete output when running fastlan

[2018-06-15 11:19] joshdholtz commented on #12741
@IchordeDionysos Heyyy 👋 This is a bit strange because this _looks_ like it should work 🤔 We have an action called `setup_travis` which does similar stuff to what your `before` block does where it setups up a keychain and sets `match` to readonly - https://docs.fastlane.tools/actions/setup_travis/. The only thing different hear is that our built in action sets the password to an empty string. I do

[2018-06-15 11:30] pronebird opened #12759 "set_build_number_repository cannot update path containing $(SRCROOT)"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [ ] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [ ] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

##### Complete output when running fastlan

[2018-06-15 11:34] #12753 closed

[2018-06-15 11:34] joshdholtz commented on #12739
@Starlight-Roc So, we don't have a way to set the `-exportPath` but this following code will get you the `-exportPath` that `Gym` uses and copies the `DistributionSummary.plist` into your project's `fastlane` directory 💪

[code]

[2018-06-15 11:34] joshdholtz commented on #12759
@pronebird Going to close this issue since no issue information, `fastlane env`, or _fastlane_ output was provided. Please open another issue with all requested information and I will be happy to look into 😊

[2018-06-15 11:34] #12759 closed

[2018-06-15 13:21] mschary932 opened #12760 "Fastlane build with Manual Certs and Profiles"
### Question Checklist

- [Yes ] Updated fastlane to the latest version
- [Yes ] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [ Yes] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [ Yes] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Question Subject

Is there a way to use manually c

[2018-06-15 13:34] mschary932 opened #12761 "Fastlane build with WatchOS app integration"
### Question Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Question Subject
How do I build an App with WatchOS2 extension

[2018-06-15 14:32] pronebird opened #12762 "Changelog between two release tags"
### Feature Request

#### Motivation Behind Feature

Hi,

When deploying I usually already have a tag in place, so I'd expect `changelog_from_git_commits` to collect the changelog between two most recent release tags, but instead it goes between `head` and the last tag. Which works great for beta builds where the tag is not in place yet, but doesn't for release deployments.

There is also only one

[2018-06-15 15:15] RishabhTayal commented on #12675
I am getting this error with one of my Apple developer account. I checked developer.apple.com, appstoreconnect.apple.com, appleid.apple.com. There is no privacy statement popup shown there. I can successfully login on all three sites.

[2018-06-15 15:19] garyhooper commented on #12675
Whether it was the cause or not, fastlane started working again for me when all members associated with the team had logged in and accepted the privacy statement.

[2018-06-15 15:29] jaleksynas commented on #12731
It would be wonderful is this action worked again:
https://github.com/fastlane/fastlane/blob/master/fastlane/lib/fastlane/actions/reset_simulator_contents.rb#L5-L8

[2018-06-15 15:34] RishabhTayal commented on #12675
@garyhooper I only have one person in the team.

[2018-06-15 16:09] PAlkisP commented on #12760
Is there a reason you aren't using fastlane/Match?

[2018-06-15 17:33] #12471 closed

[2018-06-15 17:34] #12459 closed

[2018-06-15 17:50] mschary932 commented on #12760
Yes. I know Match can do this stuff for automatic certs and profile setups. Basically, I want to achieve two workflows - one with Match, where I can share apple account and git repo details and it's creating certs and profiles one the fly. Successfully I am able to get this done. Now, I am looking to extend this for second flow, if user can share existing certs that he might installed local dev bo

[2018-06-16 01:38] blesson3 commented on #10176
@jhergott How did you end up resolving this?

[2018-06-16 17:33] #12482 closed

[2018-06-16 17:34] #12354 closed

[2018-06-16 18:02] shardulsrivastava commented on #12751
@joshdholtz  can you please help..

[2018-06-16 20:01] IchordeDionysos commented on #12741
Yeah I know @joshdholtz.

I just followed along a medium article with the exact same steps.

The thing which confuses me is that the error says, "could not find any APP DEVELOPMENT provisioning profiles" I just have matched the App Store provisioning profile, as I want to test first and then distribute to the app store.

Do I need to specify that I want to build for distribution?

[2018-06-16 20:07] IchordeDionysos commented on #12741
I followed the steps in this article: https://jakubturek.com/continuous-delivery-with-travis-and-fastlane/

[2018-06-17 04:17] viamatt commented on #12704
+1

[2018-06-17 17:34] #12480 closed

[2018-06-17 17:36] #10259 closed

[2018-06-17 17:36] #9520 closed

[2018-06-17 17:48] vanniktech commented on #12516
This is still an issue.

[2018-06-17 19:00] evaleirasclapps commented on #12698
I have exactly the same issue here!

[2018-06-18 01:12] StuSchwartz opened #12764 "When capture_screenshots test retry succeeds lane still fails"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

I had in one lane call capture_screenshots

[2018-06-18 07:38] tharak opened #12765 "Is this a good approach for project with various targets?"
Hello, I started to use fastlane in my company and I'm not sure if this is the best approach for our scenario.
We have three white label apps that have more then 30 clients where every client is a target, some clients have their own itunes account (team_id and itc are different).
New versions of the apps are sent according to client requests (We don't update all the apps at the same time).
Right k

[2018-06-18 09:35] amlcurran opened #12766 "Plugin pitch: generate build secrets as part of build"
### Feature Request

#### Motivation Behind Feature
We've recently built a new application using fastlane as our build process. There are keys for various SDKs that need to be kept out of the repo for security, and are supplied by the CI environment. Currently, getting these into a iOS app is not trivial and would be a nice (optional) addition to the build system. We have built a custom "plugin" a

[2018-06-18 10:43] mschary932 commented on #12761
It looks like, we dont have provision to set different profiles for different targets? Though I created certificates for multiple identifiers using match and defined provisioningProfiles map hash, Fastlane still considering same app-id profile across all targets.

Is there a way to set this or did I miss any configuration?

[2018-06-18 10:49] amlcurran commented on #12766
@joshdholtz hey! This is part of it, however our use case is to _then_ generate a Swift file containing those keys so they can be accessed in code. For example given we have an `ENV` containing `apiKey` and `crashlyticsKey`, it would generate a file:

[code]

This way, we can access those values in the app, and we also get a compile error when the file is missing.

We also have some cleverness as

[2018-06-18 10:57] joshdholtz commented on #12766
@amlcurran Ahhhh, I see I see! You are looking for these secret for your iOS app too (not just for your fastlane implementation). I would probably suggest that this get created as a third-party plugin (and not as a _fastlane_ action) as we are currently limiting the amount of new actions that we are allowing to get merged into _fastlane_ 😊

Create your own plugin doc - https://docs.fastlane.tools/

[2018-06-18 11:31] joshdholtz commented on #12765
@tharak Heyyy, using `.env.target` is a pattern that I follow as well!  I usually do this for different environments (dev, staging, production) but essentially same concept 👌

- You could also add `FASTLANE_USER` so you don't need to see `apple_id` in your `Appfile`
- You could also try setting `PRODUCE_APP_IDENTIFIER` so you don't need to set `app_identifier` in your `Appfile`

💪

[2018-06-18 11:33] joshdholtz commented on #12764
@StuSchwartz Hello! This was a bug that was fixed in a PR that was merged into master last week - https://github.com/fastlane/fastlane/pull/12737

This will be released in `2.98.0` later today 💪

[2018-06-18 11:33] #12764 closed

[2018-06-18 12:14] joshdholtz commented on #12762
@pronebird I _think_ this already works as expected 🙃

I ran `fastlane run changelog_from_git_commits between: "2.95.0,2.94.0"` on the _fastlane_ repo and it looks like it returned only the commits between `2.95.0` tag and `2.94.0` tag for me 🤔

[2018-06-18 12:19] pronebird commented on #12762
@joshdholtz try running `changelog_from_git_commits()`.

[2018-06-18 12:27] amlcurran commented on #12766
@joshdholtz yup exactly!

Perhaps I misunderstood then, are plugins not part of the fastlane project themselves, but separate repos?

[2018-06-18 12:32] joshdholtz commented on #12766
@amlcurran Correct correct!

`actions` are built into _fastlane_ directly and `plugins` are similar to actions but as external gems/repos 👍

[2018-06-18 12:38] joshdholtz commented on #12762
@pronebird `fastlane run changelog_from_git_commits` is the same thing as calling `changelog_from_git_commits` from the CLI instead of `Fastfile` - it passes the same info and runs the same code 😊

What parameters are you passing to `changelog_from_git_commits`?

[2018-06-18 12:46] joshdholtz commented on #12760
@mschary932 _fastlane_ can 100% use manually created certs and profiles. You will need to manually set the provisioning profile mapping like...
[code]

^ This is what `match` and `sigh` set for your automatically but you can do this yourself

[2018-06-18 12:46] amlcurran commented on #12766
@joshdholtz cool thanks! Then I'll implement this plugin and will close this issue. Thanks for your help :)

[2018-06-18 12:46] #12766 closed

[2018-06-18 12:51] mschary932 commented on #12760
Thanks @joshdholtz for the update.

But How do I set the profile path to explicit location for the fastlane to pick, I don't want to copy it to "~/Library/MobileDevice/Provisioning Profile/" path.

[2018-06-18 12:51] pronebird commented on #12762
@joshdholtz Pretty cool, I didn't know that!  👏

I think you misunderstood my feature request though. Basically I have two scenarios when I use the changelog.

1. Shipping TestFlight builds
In this scenario running `changelog_from_git_commits` without parameters is fine since it picks up everything between `HEAD:last_git_tag`. I don't usually tag TestFlight builds so that works fine.

2. Shipping

[2018-06-18 12:55] joshdholtz commented on #12758
@ViktorBylbas The error you are getting is `Error getting main window -25215` which usually means your tests aren't setup properly. Based upon your `UITests`, it doesn't look like you are launching the application properly. Your tests should look like...

[code]

[2018-06-18 13:15] joshdholtz commented on #12762
@pronebird Ohhhh, I totally misunderstood your question 🙃 I thought you were saying that we needed to implement `changelog_from_git_commits` to work with two tags 😝

I _think_ your approach is probably the recommended for now. I feel like opening up an option for two most recent tags might open up requests for more options for other types of custom configurations which makes maintenance/debugging

[2018-06-18 13:19] joshdholtz commented on #12760
@mschary932 You don't need to give the path. With `provisioningProfiles` keys above, you just need to specify the name of the profile where the name matches what is in the iOS Developer Portal.

If you _do_ want to use the profile path (which isn't the recommend solution these days), you could use this action - https://docs.fastlane.tools/actions/update_project_provisioning/

[2018-06-18 13:23] pronebird commented on #12762
I see. Just trying to give the feedback after using Fastlane in my rudimental flow. Really nothing fancy in my scripts. Felt like certain things were harder than they should be. 👍

[2018-06-18 13:35] joshdholtz commented on #12757
@mikkoj Are you also using `brew` to install _fastlane_?

@jaroslavas This looks to be an issue with using `brew` to install _fastlane_ and the how which gem dependencies are installed. Based upon your issue, it doesn't look like the `nanaimo` gem is properly installed (or installed in a way which `xcodeproj` (a gem that fastlane uses) can't find the `nanaimo` gem)

Can you try running `gem which

[2018-06-18 13:39] joshdholtz commented on #12762
@pronebird I 100% appreciate the feedback! I definitely understand how not having an option for "latest two tags" can make things harder but we need to walk the fine line between having options that make things most flexible/extensible and not having too many options that makes things more confusing for users and harder for maintainers 😊

Being able to compose a the ability you need for your workf

[2018-06-18 13:41] #12551 closed

[2018-06-18 13:42] tharak commented on #12765
@joshdholtz where did you get this PRODUCE_APP_IDENTIFIER? I searched in the docs but could not find it.
Is there a list of all the possible environment variables?

[2018-06-18 13:43] ViktorBylbas commented on #12758
@joshdholtz now I get this error:

All tests
Test Suite appUITests.xctest started
appUITests
✗ testExample, Application com.test.helloworld.app is not running

appUITests.appUITests
testExample, Application com.test.helloworld.app is not running
SnapshotHelper.swift:267

         Executed 1 test, with 1 failure (0 unexpected) in 6.332 (6.334) seconds

[16:08:23]: Exit status: 65
[16:08:23]: Tests

[2018-06-18 13:55] Kollerb04 opened #12767 "Upload to testflight fails constantly"
Using fastlane  2.93.1 xcode 9.4 and upload_to_testflight(), Fastlane upload fails for both:
DAV:
`unable to verify WebDAV transport: sun.security.validator.ValidatorException: PKIX path building failed: sun.security.provider.certpath.SunCertPathBuilderException: unable to find valid certification path to requested target
An error occurred while connecting to the transport host https://itmsdav.app

[2018-06-18 14:38] shardulsrivastava commented on #12751
@skathayat i doubt that this is because of recent update to fastlane. Did you find any workaround ?

[2018-06-18 15:11] StuSchwartz commented on #12764
Great! Thanks for the update Josh.

[2018-06-18 16:04] mschary932 commented on #12760
thanks again @joshdholtz.

So if 'update_project_provisionin'g is not the recommended solution, then how to manually specify my p12 cert and profile details to fastlane. Like I mentioned, I am not going to have GitHub access to store these assets and also I am not going to have apple account to get or create certs on-fly. I guess Match and Sigh both serve these two options. But to meet my requirem

[2018-06-18 16:05] mschary932 commented on #12761
any inputs please?

[2018-06-18 17:33] #12504 closed

[2018-06-18 17:34] #11807 closed

[2018-06-18 17:34] marcomorain commented on #12556
Still an issue 👍

[2018-06-19 01:41] Starlight-Roc commented on #12739
@joshdholtz Thank you.I'm trying.

[2018-06-19 06:59] #12696 closed

[2018-06-19 07:06] skathayat commented on #12751
@shardulsrivastava Not yet! It was working with fastlane 2.93.1 few days ago and no local upgrade in fastlane recently. So not sure why it stopped working now!

[2018-06-19 07:12] shardulsrivastava commented on #12751
@skathayat  i managed to make it work by using xcodebuild and xcexport actions.

## My Old Fastlane File
[code]

## My New Fastlane File

[code]

I created the **exportOptions.plist** file manually for the export to work :

[code]

[2018-06-19 07:16] skathayat commented on #12751
@shardulsrivastava Thanks a lot for sharing!

[2018-06-19 09:48] SharadGoyal opened #12769 "Resign ipa while iCloud services are ON in app, fails app to upload with errors"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
Getting error while uploading resigned ipa

[2018-06-19 12:14] mikkoj commented on #12757
@joshdholtz Thanks for the clarifications. I now got it working running with `bundle exec fastlane ...`

For me `gem which nanaimo` returns:
`/usr/local/lib/ruby/gems/2.5.0/gems/nanaimo-0.2.5/lib/nanaimo.rb`

It's possible the wrong version of nanaimo is picked up using only `fastlane`. I'll try to reinstall fastlane without `brew` (cannot recall if installed it with `brew` initially)

[2018-06-19 12:38] opotapov-sygic commented on #12734
same issue here also on 2.98.0

[2018-06-19 12:44] joshdholtz commented on #12765
@tharak You can see environment variables by executing `fastlane action <action_name>` in the CLI 😊

![screen shot 2018-06-19 at 7 44 24 am](https://user-images.githubusercontent.com/401294/41598010-9ef392de-7394-11e8-9296-e3942cef6518.png)

[2018-06-19 12:51] joshdholtz commented on #12767
@Kollerb04 I have never seen this error message before 😱

1) Are you able to successfully upload an IPA manually using Xcode or Application Loader?
2) What were the versions of fastlane and Xcode the last time this worked?
3) Did the network you are on change any security setting (or something) that could effect?
4) Does uploading work if you are outside of the network that uploading failed on?

[2018-06-19 12:53] joshdholtz commented on #12760
@mschary932 My recommend solution (without using `match` or `sigh`) is still the solution I commented here - https://github.com/fastlane/fastlane/issues/12760#issuecomment-398042007 😊

As long as:
1) The certificate is installed on your machine
2) The profile is installed on your machine
3) And you manually specify the profile mapping in `gym`

It _should_ build 👌

[2018-06-19 13:04] joshdholtz commented on #12758
@ViktorBylbas Is the simulator launching at all when you try to run `snapshot`?

And what happens if you run your UI tests directly from Xcode? The simulator should launch and the tests should pass (but no snapshots should be taken). Is that the behavior that you see?

[2018-06-19 13:18] joshdholtz commented on #12761
@mschary932 You can explicitly pass multiple app identifiers into `match` and then match will automatically create a `export_options.provisioningProfiles` mapping so that you don't have to.

Example:
[code]

[2018-06-19 13:21] joshdholtz commented on #12757
@mikkoj Glad you got it working with `bundle exec` 🙌  If you were running it without that before then Ruby may have been just picking up the `nanaimo` gem from who knows where 🙃

`bundle exec` is always the safest way to run things so that you know **exactly** what the dependencies that _fastlane_ is running with (defined by the `Gemfile` and which then can be seen in the `Gemfile.lock`)

[2018-06-19 13:47] joshdholtz commented on #12751
This is super strange that it works with `xcodebuild` and `xcexport` but not `gym` 🤔 I have a RN project that builds without getting stuck at this phase...

Did you recently update to a new RN version? What version of Node and RN are you on?

[2018-06-19 14:01] mschary932 commented on #12761
@joshdholtz,

Do I need to remove PROVISIONING_PROFILE_SPECIFIER in  ENV['GYM_XCARGS'] in my above code to get this worked? When I use this specifier it is not figuring watchkit target profiles.  It stop referring main app profile.

If I remove this, its prompting to mention profile map using export options. I even added this hash map, still getting some exception like signing identity  not found

[2018-06-19 14:07] skathayat commented on #12751
@joshdholtz  I have RN .53.3. Tested with node 10x and 8x and same results

[2018-06-19 14:14] quadir1188 opened #12770 "Unable to take screenshot"
10timess-MacBook-Air-2:eapp_master 10times$ fastlane screengrab
[✔] 🚀

+-----------------------------+------------------------------------------+
|                     Summary for screengrab 2.98.0                      |
+-----------------------------+------------------------------------------+
| tests_package_name          | com.tentimes.eApp_demo.test              |
| android_home

[2018-06-19 14:37] shardulsrivastava commented on #12751
@joshdholtz  i am also using the same version as @skathayat

[2018-06-19 15:40] 04n0 commented on #12734
We ran into the same issue and what has helped was to reset all the Simulator devices.

We've ended up using a method based on the `:erase_simulator` lane as mentioned in https://github.com/fastlane/fastlane/issues/11572#issuecomment-381002708

[2018-06-19 16:00] mschary932 commented on #12760
thanks. When you say 'The profile is installed on your machine', I dont want to place (or install) .mobileprovision file under '~/Library/MobileDevice/Provisioning Profile'. I will place in some random location, and want to pass that file path to fastfile. possible?

[2018-06-19 17:34] #12508 closed

[2018-06-19 17:37] #9775 closed

[2018-06-19 21:11] mschary932 commented on #12761
Once I added with below fastlane script, I am getting exception like - '  Code Signing Error: "KWatchOS2 Extension" requires a provisioning profile. Select a provisioning profile for the "Debug" build configuration in the project editor.'

KWatchOs2 is my watch extension target.

`match(app_identifier: [ "com.myapp", "com.myapp.watchkitapp", "com.myapp.watchkitapp.watchkitextension"], force_for_ne

[2018-06-19 22:34] SoCohesive opened #12771 "Fastlane snapshot - error : Early unexpected exit, operation never finished bootstrapping"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
Hello!
I updated fastlane this morning and

[2018-06-19 22:52] kumichou commented on #12644
@joshdholtz OK, so had to handle some other stuff before coming back to this. So, with the announcement of the updated API for App Connect, does this make any sense to do this? I'm all for contributing the solution but don't want to submit it if the new API will be available and supported in say 2 months or some other short time frame. Thoughts?

[2018-06-19 23:06] simonbromberg opened #12772 "deliver puts the Preview.html file in the root project folder rather than in the fastlane folder."
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
I just noticed that `deliver` puts the Prev

[2018-06-20 00:41] adamgrossman opened #12773 "Fastlane and Circle CI"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

I am currently in the process of migrating

[2018-06-20 05:52] SharadGoyal commented on #12769
Hi,
Fastlane env output.

Note : Everything is working fine if not using *iCloud services*.

----------------------------------------------------------------------------------------
<details><summary>🚫 fastlane environment 🚫</summary>

### Stack

| Key                         | Value
                   |
| --------------------------- |
--------------------------------------------------------------

[2018-06-20 05:55] SharadGoyal commented on #12769
Hi,
I think it is not an issue with code signing, because I am able to submit
this build from Xcode, also if I disable iCloud services then Fastlane app
upload is working fine. The issue is with .xcent file that it generates if
iCloud services are ON.

On Tue, Jun 19, 2018 at 11:02 PM, fastlane bot <notifications@github.com>
wrote:

--
Regards,
Sharad Goyal,
Sr. Software Engineer,
Mob. 7503801553

[2018-06-20 06:05] nishantdesai opened #12774 "Upload symbol to crashlytics action uploads the first dSYM file it finds."
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

When using the `upload_symbols_to_crashlyt

[2018-06-20 10:08] markisme opened #12775 "Fastlane error because 'increment_build_number' stack in infinite loop ...."
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

When run `fastlane increment_build_number`

[2018-06-20 10:58] skathayat commented on #12751
@KrauseFx Any idea why gym fails here?

[2018-06-20 11:03] Kollerb04 commented on #12767
@joshdholtz
1.I guess yes
2.9.3 and fastlane 2.93.1
3.I'm afraid yes
4. Actually DAV upload worked on the outside nework, yes.

So where do I supply the ssl certificate for this?

[2018-06-20 11:27] joshdholtz commented on #12761
@mschary932 Can you paste your whole output for me here?

[2018-06-20 11:29] joshdholtz commented on #12767
@Kollerb04 There isn't a place to supply an SSL certificate. I don't know anything about your network setup or if you are within a company network but sounds like to me like your network admins could potentially be blocking something here if this used to work and still works outside of the network 😬 The best bet is to probably talk to them to open stuff up to get things resolved.

[2018-06-20 11:32] joshdholtz commented on #12760
@mschary932 Should be possible with https://docs.fastlane.tools/actions/update_project_provisioning/. One of the parameters is `profile` which in the doc says `profile`

[2018-06-20 11:35] joshdholtz commented on #12751
@skathayat @shardulsrivastava Just curious but how long did you wait for for `Running script 'Bundle React Native code and images'` to complete while using `gym`?

[2018-06-20 11:43] joshdholtz commented on #12741
@IchordeDionysos For the `could not find any APP DEVELOPMENT provisioning profiles`, are you Xcode build settings setup correctly to look at distribution / release / appstore profiles?

Also, does this fastlane script also work/build locally for you?

[2018-06-20 11:44] #12767 closed

[2018-06-20 11:44] joshdholtz commented on #12739
@Starlight-Roc Did this end up working for you?

[2018-06-20 11:52] mschary932 commented on #12761
@joshdholtz ,

**Here is my code snippet:**

`
platform :ios do
  before_all do
	create_keychain(name: ENV["MATCH_KEYCHAIN_NAME"], password: ENV["MATCH_KEYCHAIN_PASSWORD"], unlock: true, timeout: false)
    sh("security list-keychains -d user")
    sh("security set-keychain-settings #{ENV["MATCH_KEYCHAIN_NAME"]}")

    automatic_code_signing(path: ENV["FL_PROJECT_SIGNING_PROJECT_PATH"])
    update

[2018-06-20 12:17] skathayat commented on #12751
I waited about a day before I ca cancel it (left it running at the end of the day and come back next day and it was still running...)

BTW, I can also verify that the approach mentioned by @shardulsrivastava works for me too.

Moreover, specifying export_options in Gymfile (and gym actions) does not work either!!

[2018-06-20 12:35] joshdholtz commented on #12738
@KjellConnelly Thanks for using the feature request template! ❤️ I totally get your reasoning for having a callback.

Are you talking about adding a callback after:
1) the app is uploaded?
or
2) after the app is uploaded and successfully processed?

My biggest concern with either of these approaches is that fastlane runs thing synchronously and waits for all actions to finish before starting the n

[2018-06-20 12:38] joshdholtz commented on #12751
@skathayat Thanks for the quick response! I'm creating an RN version with `0.53.3` now to see if I can replicate this. Are you using system node? Or using something like `nvm`?

[2018-06-20 12:42] joshdholtz commented on #12761
@mschary932 So just to confirm, you were able to successfully build an IPA by using `update_project_provisioning`?

[2018-06-20 12:44] joshdholtz commented on #12760
@mschary932 Glad you were able to make this work! Going to close this issue for now but feel free to mention me here or open another issue if you have any other questions/issues 😊

[2018-06-20 12:44] #12760 closed

[2018-06-20 12:50] mschary932 commented on #12761
yes @joshdholtz. I am able to successfully build it. But I am not sure if this is correct way?

To make this script more reliable, I want to make those app-identifers list and target_filters also to be  retrieved programatically.  Do you think it is possible to get that to level?  Because, today it is watchkit app, I know target name and it;s bundle identifier.  If I want to add any other new exte

[2018-06-20 13:13] MayeuldP commented on #12748
@joshdholtz Yeah indeed I succeed to make it works, concerning `derived_data_path` and `test_without_building`.
Concerning ReactNative, I think, it's hard to make it work properly with fastlane. Do you guys plan to integrate fastlane for react-Native ?
Else, do you suggest or know, any tools for generate all the screenshots for a react-native app for itunes connect ?

Thanks for your help.

[2018-06-20 13:23] meyer-solutions commented on #12488
In Xcode preferences (Locations tab) try to set "Command line tools" back to 9.4.1.
That works for me.

[2018-06-20 13:35] joshdholtz commented on #12725
@imodeveloper Heyyyy! Can you test something for me? 😊 Can you run this with `--verbose` at the end? I'd like to see if there is anything else getting printed out that can help us debug this

[2018-06-20 13:41] joshdholtz commented on #12748
@MayeuldP We do try to support whatever our users are using and it seems like either RN is gaining popularity 😊 I would like to add more docs for RN and possibly some better onboarding in tools and such but there is also a fine line on how to manage our resources 🙃

That being said, I would love to hear all your pain points when integrating fastlane in RN 🙏 I have an RN app that I maintain but I h

[2018-06-20 13:44] joshdholtz commented on #12761
@mschary932 One thing you _might_ be able to do to prevent these errors:
[code]
... is to set "Don't Code Sign" for your `Release` config. I think these errors are coming from the "build" part of `gym` and not the "signing" part. If you tell your `Release` config to not code sign, it should make it through that ***and then** it will use the the `provisioningProfile` mapping that `match` generates.

[2018-06-20 13:50] MayeuldP commented on #12748
Would be so cool indeed.
Yeah I was planing to use fastlane only for the screenshots. Well, actually, since there's no documentation for RN on fastlane, I needed to go search for informations here and there on internet. There's several tutorials about how managing release and automatic deployments, but never about the screenshots, since UI tests on Xcode for RN Project is not well supported.
I suc

[2018-06-20 13:56] skathayat commented on #12751
@joshdholtz I am using nvm. I have tested with RN .55x and same result!

[2018-06-20 14:29] SebastianBoldt commented on #12354
+1

[2018-06-20 15:29] kedio opened #12776 "addGitTag - Missing lane name in context"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

With fastlane swift when calling `addGitTa

[2018-06-20 15:38] 04n0 commented on #12734
Seems like new `simctl` gem fixes this issue (`gem install simctl -v 1.6.5`). More info in PR https://github.com/plu/simctl/pull/30

@Bersaelor @SoCohesive  Could you confirm?

[2018-06-20 16:00] Dictory opened #12777 "Register Launch Screen in project"
### Question Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Question Subject
Launch Screen

#### Question Description
Hell

[2018-06-20 16:07] vincentkjj commented on #12704
+1

[2018-06-20 16:12] alekes commented on #12751
I run into the same error today.
Added fastlane to a new React Native (RN 55.4) project and the build immediately stuck at "Running script 'Bundle React Native code and images'"

I switched to an already released RN project (RN 54.2) which didn't had any code changes for at least one month and... same error.

Both projects build fine in Xcode.

The error is gone since I installed the latest node v

[2018-06-20 17:13] rlam3 commented on #11586
Just curious, but what was the reason behind getting rid of fabric's way of installing fastlane?

[2018-06-20 19:17] sprabhuanand opened #12778 "Fastlane builds and submits app inspite of error"
### Question Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Question Subject
I have a weird behavior. When building/compil

[2018-06-20 19:22] imodeveloper commented on #12725
@joshdholtz Hi!, this is all I got as result.

[code]

[2018-06-21 07:13] skathayat commented on #12751
@alekes Same here. Node 10.4.1 does the trick!

[2018-06-21 07:33] HarrisHan commented on #12702
Hi @sepbot have you use match for ur development alse?

[2018-06-21 08:31] cooksimo commented on #12704
This is happening for me too, and today logging in didn't fix it either. It triggered TestFlight to distribute the build but fastlane still thinks the build is missing

[2018-06-21 10:38] joshdholtz commented on #12751
@alekes Thanks for that find!

@shardulsrivastava Can you see if using Node 10.4.1 solves it for you too?

[2018-06-21 10:48] alexito4 opened #12780 "scan log output not showing warnings or analyser issues"
### Question Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Question Subject
`scan` log output not showing warnings or ana

[2018-06-21 10:48] joshdholtz commented on #12748
@MayeuldP I created an issue in doc for me to take a look at later - https://github.com/fastlane/docs/issues/626

And thanks again for the feedback! Cool if I close this issue for now since it seems like this issue is solved now? 😊

[2018-06-21 10:58] joshdholtz commented on #12722
@nneuberger1 Ah okay, so it most likely sounds like its _not_ an issue with the OpenSSL 👌

If an developer accidentally delete changed one of the match provisioning profiles it shouldn't have caused a "couldn't decrypt repo" error unless that file was manually committed back to the repo in an unencrypted state.

I wouldn't suggest using fastlane's "nuke" option as it also 💣s the certificates (whic

[2018-06-21 11:13] MayeuldP commented on #12748
Thank you, nice,
yeah it's fine.

[2018-06-21 11:13] #12748 closed

[2018-06-21 11:45] joshdholtz commented on #12725
@imodeveloper Quick question! It looks like you have `open_report: true` set. Does the report end up opening during this execution? Also, do things work if you set `open_report: false`?

[2018-06-21 11:47] alekes commented on #12751
@joshdholtz I'm using my own git repo as a project template which I fork and run react-native-rename afterwards. But the base of that repo was a react-native init project once (No Expo).

The only update I did lately was from Sierra to High Sierra including all that Xcode stuff (Xcode 9.4).
I'm quite sure that something messed up Node in my case, but I have no proof.

The gym log didn't mention an

[2018-06-21 12:08] imodeveloper commented on #12725
@joshdholtz Interesting mention, no it doesn't open.

[2018-06-21 12:14] IchHabRecht commented on #9651
Any solution available yet @Jules2010 @KrauseFx

[2018-06-21 13:44] alekes commented on #12751
I tried to reproduce it with node 10.0.0, but the build is still successful.

What "Build Phase" script do you mean? I did run `fastlane MY_LANE --verbose` previously, when I still got that error, but there wasn't any other information in the log.

[2018-06-21 17:33] #12401 closed

[2018-06-21 17:36] sprabhuanand commented on #12778
it fails well before that, did not reach code-signing part

[2018-06-22 03:09] shardulsrivastava commented on #12751
@joshdholtz  i tried with latest node version and it worked for me as well however i tried on a different machine .
In the machine where i am facing this issue i didn't upgrade because i am afraid i may not be able to reproduce this error.This is the place where its getting stuck with gym
[code]

so i checked the command its running

[code]

i compared the commands run by both **build_ios_app** an

[2018-06-22 05:38] shardulsrivastava commented on #12778
@sprabhuanand  can you paste your entire log, to see the error clearly??

[2018-06-22 05:56] shardulsrivastava commented on #12751
here is my versions in the environment, where its not working

[code]

[2018-06-22 06:51] dral3x commented on #12354
There was no recent activity but the problem is still there @fastlane-bot ... You have no heart :)

[2018-06-22 06:52] dral3x commented on #12354
@joshdholtz have you check the example project I made? Have you been able to reproduce the issue?
Thank you

[2018-06-22 09:58] OlyRice opened #12784 "Could Not Determine Installed IOS SDK"
** Sorry just spotted that I should have used a template for this question **

Hi
Just installed a fresh version of Fastlane on my Mac and Xcode 9.4 to take screenshots and after following the guide I get the following error message.

Automatic init failed and after a few attempts I decided to opt for a manual file to see if that would work but I am still getting the same error. I have installed X

[2018-06-22 11:02] foxsofter opened #12785 "Waiting iTunes Connect processing for build got 504"
/Users/foxsofter/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/gems/fastlane-2.98.0/spaceship/lib/spaceship/client.rb:597:in `parse_response': [31m[!] <html>
 (Spaceship::UnexpectedResponse)
<head><title>504 Gateway Time-out</title></head>
<body bgcolor="white">
<center><h1>504 Gateway Time-out</h1></center>
<hr><center>nginx</center>
</body>
</html>
[0m

<details>
  <pre>/Users/foxsofter/.rbenv/ver

[2018-06-22 12:23] mschary932 commented on #12761
hey @joshdholtz,

Sorry I given different error output. Following is the exception I see with the actual code that I shared above.

Code Signing Error: Provisioning profile "match Development com.myapp.afdemo" has app ID "com.myapp.afdemo", which does not match the bundle ID "com.myapp.afdemo.watchkitapp.watchkitextension".
Code Signing Error: Provisioning profile "match Development com.myapp.afde

[2018-06-22 12:31] Joachimdj opened #12786 "compile error with Firebase firestore"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
Trying to deploy a beta to fabric via Fastl

[2018-06-22 16:30] Alec321 commented on #12355
@chnbz I am having this same issue. Did you figure out how to fix this?

[2018-06-22 17:33] #12525 closed

[2018-06-22 17:33] #12485 closed

[2018-06-22 18:23] JimHowell20 commented on #11221
+1 this would be nice to have for people that make lots of different apps.

[2018-06-23 10:49] yusuftor commented on #12786
I get the same! Did you find a fix to this?

[2018-06-23 13:13] hhanesand commented on #12786
How is this related to fastlane?

[2018-06-23 13:51] RobertSasak commented on #12748
@MayeuldP Would you mind to share how you have solved the issue with *testID* for most of your components? I keep getting *Timestamped Event Matching Error: Failed to find matching element* error.

[2018-06-23 14:38] Falken42 opened #12789 "Rare crash on startup in fastlane_folder.rb: in `join': no implicit conversion of nil into String"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
We currently run fastlane-2.96.0 on a build

[2018-06-23 17:33] #12469 closed

[2018-06-23 18:14] pvinis commented on #12438
an answer would be nice. unless Boone knows and we can simplify?

[2018-06-24 17:33] #12535 closed

[2018-06-24 17:34] #12081 closed

[2018-06-24 17:35] #10778 closed

[2018-06-24 17:39] mrjohntin opened #12790 "Issue"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [ ] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [ ] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

##### Complete output when running fastlan

[2018-06-25 07:13] breezertwo commented on #9651
It's an issue for me as well. Hope there is a solution soon.

[2018-06-25 09:53] Aravindios opened #12791 "Can we build iOS project in Jenkins by using docker in fastlane."
### Question Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Question Subject
  docker inside  Jenkins can we use fast lane

[2018-06-25 10:14] NikhilRyan opened #12792 "It looks like there is no iOS project in the current directory [Android]"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues/11606)

### Issue Description
On running _fastlane init_ in an Andr

[2018-06-25 13:06] FouadAstitou commented on #12704
+1

[2018-06-25 14:48] xudong98 opened #12793 "Will fastlane offer the function to upload attachment files when submit ios info to itunes/appstore connect."
### Question Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Question Subject

#### Question Description

[2018-06-25 14:49] xudong98 commented on #12793
i want to use fastlane to upload attachment files very much. hope you develop it soon.

[2018-06-25 14:57] txuslee commented on #12506
Still reproducible on:

fastlane 2.98.0 & FastlaneRunnerAPIVersion [0.9.21]

[2018-06-25 15:02] dachev commented on #12506
Please don't close this issue again. It's one thing not make progress because you have your hands full, but closing an issue 4 times is just insulting.

[2018-06-25 16:14] 93cantero opened #12794 "Match is not working with multiple projects in same repository"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

For example: https://github.com/fastlane/fastlane/issues/11101 or

[2018-06-25 17:34] #12548 closed

[2018-06-25 17:34] #12546 closed

[2018-06-25 17:34] #12532 closed

[2018-06-25 17:34] #12529 closed

[2018-06-25 17:34] #12522 closed

[2018-06-25 17:34] #12520 closed

[2018-06-25 17:34] #12515 closed

[2018-06-25 17:35] #12503 closed

[2018-06-25 17:35] #12502 closed

[2018-06-25 17:35] #12498 closed

[2018-06-26 10:07] bartekhugo commented on #12784
Do you have set your Command line tools pointing to current version?

[2018-06-26 10:43] Farbod29 opened #12796 "ssh-rsa files and keys access public by other users. security - privacy (.key .ca ,crt )"
I work recently on the open source project that is publicly accessible and  needs to configure  and make these files:
**-host.key.pub              start file with===>    ssh-rsa AAAAB3NzaC1y
-host.key                     start file with===>     empty
-nodeworkbench.ca   start file with===>     ssh-rsa AAAAB3NzaC1yc2EAAAADAQAB
-webworkbench.crt.   start file with===>     -----BEGIN CERTIFICATE----M

[2018-06-26 11:03] sirnacnud opened #12797 "Add support to snapshot for result_bundle"
### Feature Request

#### Motivation Behind Feature
When running UI tests for `snapshot` it would be helpful to get the test results for analysis with report generating tools, like https://github.com/TitouanVanBelle/XCTestHTMLReport, to better determine failures.

#### Feature Description
Both `gym` and `scan` already support a `result_bundle` boolean option which saves the test results to the out

[2018-06-26 11:19] terje commented on #11929
Updated Fastlane to 2.98.0 in the linked repo. The bug is still present.

[2018-06-26 12:05] #12762 closed

[2018-06-26 13:17] jdotnguyen opened #12798 "Handling specific iTunes Transporter errors"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
ERROR ITMS-90101: "This bundle does not sup

[2018-06-26 14:01] MayeuldP commented on #12748
Hi @RobertSasak sorry for the late answer, so basically, few react native's components got this props => [testID](https://facebook.github.io/react-native/docs/view#testid) which allow you to do UITesting.
It's done like this for example :
[code]
Then in your testFile on xcode for example, just do like this for the UITest sequence =>
[code]
However the `testID` props doesn't work for every componen

[2018-06-26 14:13] bes commented on #11572
Would love to have this issue fixed as well =)

[2018-06-26 14:17] RobertSasak commented on #12748
Thank you for your reply. From my experience *testID* does not work on most of the element. I managed to successfully used it only on `<Text>` element. I hope that more and more libraries will support *testID* out of the box.

If anybody out there is also trying to use *testID* for taking screenshots with *fastlane*. I end up creating a custom component which works as "remote control". Remote cont

[2018-06-26 14:21] MayeuldP commented on #12748
@RobertSasak yeah did the same tricks when I wasn't able to find the testID. Works well too :)

[2018-06-26 15:00] wolffan commented on #12725
We are experimenting similar problems.
what is the content of `report.xml`?
Can this be some issues with ruby versions/permissions (we haven't solved it yet).
We updated ruby to 2.5 but still the same isuse

[2018-06-26 15:14] YannickSteph opened #12800 ".xccoverage not found"
Xcov of fastlane not found the file .xccoverage, i try some many change but all the time not work..

i have this error
[code]

This is my env

[code]

This is my fastlane file

[code]

My config file is good i check.

[2018-06-26 17:34] #12558 closed

[2018-06-26 17:37] grote commented on #9974
Can somebody turn off this aggressive bot?

[2018-06-26 17:50] jdotnguyen commented on #12798
Figured fastlane env is not relevant or necessary for this issue. Would there be a fastlane log that's output after the error so I could read that instead?

[2018-06-26 18:44] adamvandenhovenfm opened #12801 "Add options to generated readme"
### Feature Request

#### Motivation Behind Feature

If you read [Advanced Fastlane](https://docs.fastlane.tools/advanced/#passing-parameters), you discover that you can pass parameters into Lanes. This is a great feature for more complex build/deploy situations when you're trying to fit into an existing build sequence, or you have a large number of effectively identical builds and want to reuse l

[2018-06-27 10:27] ViktorBylbas opened #12803 "Cannot find symbol class UiAutomatorScreenshotStrategy"
### Question Checklist

- [X] Updated fastlane to the latest version
- [X] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [X] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [X] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Cannot find symbol class UiAutomatorScreenshotStrategy

#### T

[2018-06-27 10:52] pborbas commented on #10744
I had the same error. The cause for me was that I had an admin account on [apple developer site](https://developer.apple.com/account) but not on [appstore connect](https://appstoreconnect.apple.com/). After our agent created an account for me on appstore connect and I logged in and accepted its terms all started to work.

[2018-06-27 11:18] ViktorBylbas commented on #12803
I fixed.

In dependencies:
`androidTestCompile 'tools.fastlane:screengrab:1.2.0'`

[2018-06-27 11:18] #12803 closed

[2018-06-27 12:00] Jerrot commented on #12704
+1
visiting the TestFlight tab on Appstore Connect triggered the build to re-appear for fastlane.

[2018-06-27 13:35] jaroslavas commented on #12757
OK, I had `fastlane` installed into `~/.fastlane`, not sure how it was done. Deleting it and installing via bundle did the trick. Thanks!

[2018-06-27 13:35] #12757 closed

[2018-06-27 13:39] vasvf commented on #12250
There will be good to have build-in initializer to export all existing certificates to git repo.

The steps are, for example, described here:
https://medium.com/@jonathancardoso/using-fastlane-match-with-existing-certificates-without-revoking-them-a325be69dac6

Fastlane could just fetch all certificates using Spaceship to get their cert_ids, then extract all identities existing in keychain accordi

[2018-06-27 14:13] ViktorBylbas opened #12804 "Unable to capture screenshot"
### Question Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Question Subject

java.lang.RuntimeException: Unable to captur

[2018-06-27 15:24] ericmarkmartin opened #12805 "fastlane init for taking screenshots sets up iTunes connect uploading for the wrong target"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

I'm following the prompts for `fastlane in

[2018-06-27 17:41] adamvandenhovenfm commented on #12801
I'm not sure any of this is relevant to the ticket but...

<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                         | Value                                       |
| --------------------------- | ------------------------------------------- |
| OS                          | 10.13.5                                     |
| Ruby                        | 2.4.2

[2018-06-27 19:55] peterhav opened #12806 "Be able to configure the exact location of screengrab images output"
### Feature Request: be able to configure the exact location of screengrab images output

#### Motivation Behind Feature
Plugins such as https://github.com/Triple-T/gradle-play-publisher do use a fixed 'play' artifacts structure in which the information that will be uploaded to Google Play should be stored. This folder structure differs from the default folder structure that is provided by the scr

[2018-06-27 20:47] ericmarkmartin commented on #12772
+1

[2018-06-27 21:31] johnknapprs commented on #12801
If I'm not mistaken, the `desc` feature accepts markdown so you can definitely get creative with how data is loaded into it when generated.

Personally, I migrated away from complex lane logic.  To me, a lane should be simple and straight forward.  Passing data between them only increases complexity. (That's why there's `lane_context`)

The way that I solved the documentation problem is two fold:

[2018-06-27 22:57] deathByLiche opened #12807 "pod_push requires array for 'Sources', but Swift implementation only allows String which throws error"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

The [pod_push](https://docs.fastlane.tools

[2018-06-28 06:18] xudong98 opened #12808 "can i upload icon of iap by fastlane?"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

##### Complete output when running fastlan

[2018-06-28 07:22] pkalinowski commented on #12743
@atlassian can I ask you for help?

[2018-06-28 12:07] #12604 closed

[2018-06-28 13:43] joshdholtz commented on #12725
@imodeveloper I have no idea if this will do it but can you try setting your `LANGUAGE` environment variable to `en_US.UTF-8`? Also, what was the result of setting `open_report: false`? Did the fastlane execution succeed?

Your fastlane environment you pasted above doesn't show that its set. I really don't think this is the solution but have to ask/try anyway 🙃
<img width="341" alt="screen shot 20

[2018-06-28 13:43] joshdholtz commented on #12725
@wolffan Can you paste your output and `fastlane env` here too so I can try and match things up?

[2018-06-28 13:47] wolffan commented on #12725
Here is @joshdholtz
[code]

[2018-06-28 13:58] joshdholtz commented on #12725
@wolffan When was the last time this worked for? Was it a previous fastlane version? A previous Xcode version?

[2018-06-28 14:16] joshdholtz commented on #12751
@shardulsrivastava Thanks for testing that out! After you manually run that command, can you run `$? ` to get the exist code of that command? I'm curious if its not actually `0` which might be messing something up

And also, would you possibly be able to test out one more thing for me? Can you manually run the `xcodebuild` command that `gym` generates? Trying to see if its actually because of fast

[2018-06-28 14:36] wolffan commented on #12725
@joshdholtz this is my partner setup, it never used fastlane before, it was a fresh install hence my surprise.

TBH I think the problem was he had to use sudo for most ruby stuff, so I thought it was a ruby problem and ask him to first remove fastlane, then update ruby to 2.5 and reinstall fastlane, but it didn't seem to fix it

[2018-06-28 17:07] aindran commented on #12355
I'm seeing this issue when uploading metadata only to iTunesConnect using a Jenkins job and fastlane deliver run..
I've also managed my itunes credentials using the Bindings (username and password). @KrauseFx any idea what else could be the issue?

[2018-06-28 17:34] #12570 closed

[2018-06-28 17:35] #12563 closed

[2018-06-28 17:35] #12435 closed

[2018-06-28 17:35] #12434 closed

[2018-06-28 17:35] vishaldandge opened #12810 "Error cloning certificates repo in Nevercode"
### Question Subject
 What tool/action do you have a question about?
- Nevercode
Is this a question about documentation?
No

Trying to generate build through nevercode, but its failing with **Error cloning certificates repo**

[2018-06-28 17:36] #11525 closed

[2018-06-28 19:40] joshfriend commented on #12566
please re-open

[2018-06-28 19:48] vincentbrison commented on #12566
This is still an issue, it needs to be re-open.

[2018-06-28 22:04] joshdholtz commented on #12770
@quadir1188 It looks like you need to give your app the proper permission according to your output from above ^ `[!] The needed permission(s) android.permission.READ_EXTERNAL_STORAGE, android.permission.WRITE_EXTERNAL_STORAGE, android.permission.CHANGE_CONFIGURATION could not be found in your app APK`

[2018-06-28 22:06] joshdholtz commented on #12771
@SoCohesive Does `snapshot` work again if you downgrade to the previous version of fastlane that you had? 🤔

[2018-06-28 23:08] joshdholtz commented on #12772
@simonbromberg PR created for this ^

[2018-06-28 23:22] joshdholtz commented on #12773
@adamgrossman It looks like you are doing things right? The weird part is...
[code]

It appears that a cert can't be installed because the WWDR cert is expired??? This might be a thing to talk to CircleCI about and/or open an SSH session into the box and run `security find-identity -v -p codesigning` to see what is actually going on? Its gunna hard to see without having access to everything 😬

[2018-06-28 23:28] joshdholtz commented on #12774
@nishantdesai `upload_symbols_to_crashlytics`is definitely supposed to upload multiple dsym files which can be seen here - https://github.com/fastlane/fastlane/blob/master/fastlane/lib/fastlane/actions/upload_symbols_to_crashlytics.rb#L17-L37

Can you verify that you have all the paths that you are expecting in your `Actions.lane_context[SharedValues::DSYM_PATHS]`?

[2018-06-28 23:30] joshdholtz commented on #12778
@sprabhuanand Can you also post your `Fastfile` as well as what @shardulsrivastava is requesting?

[2018-06-29 00:37] btate opened #12813 "Distribute APK with Installr"
### Feature Request

#### Motivation Behind Feature
To manage both platform distributions with Installr

#### Feature Description
The Installr API supports the ability distribute an apk or an ipa but the Installr plugin only supports ipa files.

#### Alternatives or Workarounds
Manually distributing apk with installr

[2018-06-29 04:16] joshdholtz commented on #12777
@Dictory There is not a built in fastlane action to do this but you might be able to do something more custom if you use the `xcodeproj` gem - https://github.com/CocoaPods/Xcodeproj

[2018-06-29 04:18] Dictory commented on #12777
@joshdholtz ok thanks for answer

[2018-06-29 04:18] #12777 closed

[2018-06-29 04:22] joshdholtz commented on #12791
@Aravindios fastlane will only be able to build an iOS app in an macOS environment. So if you docker container is using macOS then you should be able to do that. I don't know how much more I am able since this sounds like a pretty specific use case 😊

[2018-06-29 05:20] shardulsrivastava commented on #12751
@joshdholtz i ran the command generated by gym in console and it also gets stuck.
here is the command
[code]

[2018-06-29 06:33] nishantdesai commented on #12774
Oh right it already has that ability. The way I was using it was that I wasn't supplying any `dsym_path` parameter since the dsym files were already in the default location.

Also, I'm not sure that how can I verify this.

[2018-06-29 06:35] shardulsrivastava commented on #12791
@Aravindios we also explored the possibilities of this. but stopped since it was not worth the effort.

If you want to explore on this, you may want to look at this

https://github.com/jkingyens/docker4xcode

It implements a REST API to simulate a docker server.

[2018-06-29 06:47] shardulsrivastava commented on #12784
@OlyRice can you run `fastlane env` and provide the output. It will helpful to understand the issue here.

[2018-06-29 08:32] SimonCY commented on #12689
I got the same error . Have you solve it ? please...

[2018-06-29 08:53] emersonf opened #12815 "Create metrics for current App Store review and publishing delays"
### Feature Request
Automatically and anonymously collect statistics from fastlane users to track how long Apple is currently taking to review apps and make them available on the App Store.

#### Motivation Behind Feature
Sitting around waiting for Apple sucks, and not knowing what to tell your clients sucks more. The volatility in the time it takes Apple to review apps or propagate Ready for Sale

[2018-06-29 09:34] LeeroyDing commented on #11525
Am I the only one thinking this is still an issue?

[2018-06-29 09:43] jaumevn opened #12816 "Get supply action output"
### Question Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Question Subject
Get supply action output if there is an error

[2018-06-29 10:36] #12785 closed

[2018-06-29 12:07] hamon-e opened #12817 "Profile not matching"
### Question Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Question Subject

#### Question Description

I'm trying to bui

[2018-06-29 13:28] btate commented on #12813
Nevermind. This is a bug with the fastlane ionic plugin having the wrong path for `CORDOVA_ANDROID_RELEASE_BUILD_PATH`

[2018-06-29 13:28] #12813 closed

[2018-06-29 13:33] #12800 closed

[2018-06-29 13:37] YannickSteph opened #12818 "Unable to find any .xccoverage file."
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
I have this error `Unable to find any .xcco

[2018-06-29 14:46] marian19 opened #12819 "Export archive takes more than 1 hour"
### Issue Description
Export archive takes more than 1 hour
Xcode 9.2

cert
  sigh(force: true)
build_app(
  scheme: "###",
    workspace: "###.xcworkspace",
    output_directory: "./fastlane/Archives",
    silent: true,
      clean: true,
      export_method: "enterprise",
include_bitcode: false,
    export_options: {
      method: "enterprise",
      compileBitcode: false,
uploadBitcode: false,

[2018-06-29 15:08] SergeMaslyakov opened #12820 "Can't upload `ipa` in Fabric with new Crashlytics iOS SDK"
Hi.

I have update 'Crashlytics-SDK' for iOS. After that `fastlane` couldn't upload `ipa`.

Error message with empty exit status
`Shell command exited with exit status  instead of 0.`

`Crashlytics.framework/submit 1.3.5 (18)`
`Fabric.framework/run 1.7.0 (208)`

With previous version of SDK all works fine.

Logs are here:

[code]

[2018-06-29 15:16] kluufger opened #12821 "Any match command hangs if the git server is not in known_hosts"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [ ] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
When running `bundle exec fastlane match nu

[2018-06-29 16:31] rlester commented on #12820
I am seeing this as well. Same SDK versions.

[2018-06-29 17:35] #12585 closed

[2018-06-29 17:35] #12582 closed

[2018-06-29 17:35] #12573 closed

[2018-06-29 17:35] #12521 closed

[2018-06-29 17:50] angly-cat commented on #12584
In the end, I wasn't able to make `fastlane` respect `gemrc`, so I removed `fastlane update_fastlane` from `Fastfile` and added `gem install fastlane --no-document --quiet` as a command to my CI script, which dramatically reduced update time. From minute in the past (and dozens of minutes with `2.96.0`) to mere seconds.

Also, plugins specified in `Pluginfile` usually take ~minute to install, but

[2018-06-29 17:50] #12584 closed

[2018-06-29 18:22] RishabhTayal commented on #12221
@joshdholtz Can you please review the PR https://github.com/fastlane/fastlane/pull/12286

[2018-06-29 19:59] yfedin commented on #11525
No - you're not the only one. My build jobs fail continuously due to "Could not login to iTunes Connect" and "503 Service Temporarily Unavailable" issues.

I am on the latest fastlane version (2.98.0). I am using SPACESHIP_COOKIE_PATH pointing to a folder shared between CI nodes. Even when there is a valid cookie (successfully generated minutes ago) - "bundle exec fastlane spaceauth" starts failin

[2018-06-29 22:31] sprabhuanand commented on #12621
Well, i'm waiting to hear on this issue. Not sure what am supposed to do :(

[2018-06-29 22:35] sprabhuanand commented on #12778
Its a compiling issue, so it fails there.

⚠️  /Users/Shared/Jenkins/Home/workspace/ios-build/mindstrongtasks/node_modules/react-native/React/CxxModule/RCTNativeModule.mm:65:93: lambda capture 'callId' is not used [-Wunused-lambda-capture]

dispatch_block_t block = [weakBridge, weakModuleData, methodId, params=std::move(params), callId] {

[2018-06-29 22:47] spaquet commented on #12820
I have the same issue
Same version
Fastlane v 2.98.0
Ruby v 2.4.3p205
Xcode : 9.4.1 (9F2000)

[2018-06-30 09:17] Bersaelor commented on #12734
@04n0 the problem disappeared after installing Xcode 10 Beta 2.
I didn't even get to try `simctl vs 1.6.5`.

[2018-06-30 14:15] spaquet commented on #12820
For ow the only solution I found is to downgrade to version 3.10.2 which is working perfectly fine.

[2018-06-30 14:19] joshdholtz commented on #12774
@nishantdesai Are you using the `download_dsyms` action? This action sets the `DSYM_PATHS` context automatically for you. If you are, just put the following line before your call to `upload_symbols_to_crashlytics` to see what the value is. It should be an array of paths.

[code]

And if you aren't supplying any `dsym_path` to it, it will default from the `Actions.lane_context[SharedValues::DSYM_PA

[2018-06-30 14:28] joshdholtz commented on #12778
@sprabhuanand I don't think just having this portion of your output will allow me to help you out at all. In order to get a better understanding of what is going on it would be best to have the whole output (from start to finish) and what your complete `Fastfile` looks like.

_fastlane_ won't execute anything after an action (like `gym`) fails so there is no way that **IF** you are calling `delive

[2018-06-30 14:34] joshdholtz commented on #12784
@OlyRice It sounds like you may need to run `sudo xcode-select -switch /Applications/Xcode.app/Contents/Developer`

The output you are getting is coming from _fastlane_ executing `xcodebuild -version -sdk` and trying to parse that to get all the info it needs for what version of iOS and things you have installed. _fastlane_ isn't able to successfully execute that command so it sounds like that you

[2018-06-30 14:44] milch commented on #11824
Josh the rebel

[2018-06-30 14:49] joshdholtz commented on #12801
@adamvandenhovenfm Heyyyyy 👋 I totally understand this feature request because I created a similar issue about a few months back for this - #11824

Do you want to move this discussion over there? I don't think this is a highly requested or highly used feature (which is why I haven't put this in yet) but it could provide some nice API / self-documentation level to users running your _fastlane_ setu

[2018-06-30 17:34] #12586 closed

[2018-06-30 17:56] vanniktech commented on #12651
Is this already done?

[2018-06-30 21:40] shardulsrivastava commented on #12819
@marian19 it will be helful if you paste the logs as well, it will help us to understand the problem.

I also faced an issue somewhat similar to yours but in my case it got stuck forever.

Once work around will be to try to use xcodebuild and xcexport actions
[code]

[2018-07-01 09:11] aamct2 commented on #12352
This is still an issue.

[2018-07-01 10:33] yusuftor opened #12826 "Using fastlane with an app that uses a notification extension"
I am using fastlane to build and send my app to testflight. This worked until I added a Notification Extension. Now it always gives me the error:

Everything is supposed to be handled automatically on Xcode, and my fastfile looks like this:

[code]

My bundle identifier for my app is like com.myapp.ios and my bundle identifier for my notification service is like com.myapp.ios.notificationservice.

[2018-07-01 10:43] ayoubkhayatti commented on #12260
I'll add this because it might be helpful for someone.

After decrypting repo i got two files in the distribution folder. A .cer file and a .p12 file.

To be able to use .p12 in app center you'll have to first get a .pem out of the .cer.
Then combine .p12 and .pem file to generate a new .p12 file that can be used in app center.

note that i'm setting an empty password using `--passout` argument.

[2018-07-01 15:09] gerbil802 opened #12827 ""Release Version" functionality"
### Feature Request

Hi,
I'm interested in the ability to release a version with fastlane. i.e. when a version is submitted, reviewed and approved I'd like a lane that simply releases the app to the App Store.

#### Motivation Behind Feature
This allows to automate timely releases regardless to whenever they were submitted.

#### Feature Description
I would think deliver is the tool for this, howe

[2018-07-01 15:38] filmhomage commented on #12820
Same problem.

Current solution. 👍🏻

[2018-07-01 17:16] danpe commented on #11687
Any linux support?

[2018-07-01 18:04] slxl commented on #12820
have the same problem.

guys, @filmhomage & @spaquet - _what_ should I downgrade to 3.10.2? :) isn't obvious from context

[2018-07-02 01:35] onato commented on #12325
This is still an issue.

[2018-07-02 05:06] vovkaprigarin commented on #12820
Hm... path to submit script is incorrect. Need use` {PODS_DIR}/Crashlytics/submit` instead `{PODS_DIR}/Crashlytics/iOS/Crashlytics.framework/submit`. Fix it pls:)

[2018-07-02 05:15] spaquet commented on #12820
@slxl : just updated my comment to make it easier to understand.

[2018-07-02 05:54] nishantdesai commented on #12774
@joshdholtz, Thank you! Eended up using `download_dsyms` action so everything is working as expected. Although, I still have a doubt.

I have a bunch of frameworks integrated so a few dSYM files are generated. https://github.com/fastlane/fastlane/blob/master/fastlane/lib/fastlane/actions/upload_symbols_to_crashlytics.rb#L147 <- I think this is unable to find anything from the context so it's just

[2018-07-02 07:50] spaquet commented on #12820
@svilon I have no notes or notes_path in my fastlane script and nothing works when I'm using Crashlytics v 3.10.3, while all previous versions are working like a charm

[2018-07-02 08:51] mbuchetics commented on #11663
We just experienced this issue as well.

[2018-07-02 09:07] mbuchetics commented on #12613
We just experienced the same issue. Match keeps asking for a password and even though it's the correct one, it does not get accepted.

[2018-07-02 09:08] mbuchetics commented on #12554
We just experienced the same issue.

[2018-07-02 12:06] zapjonny commented on #12820
When uploading builds through my script, since today I get

Not sure if same, but will also try downgrading. Just upgraded to latest crashlytics today.

[2018-07-02 12:13] zapjonny commented on #12820
Btw so it's a bug in Crashlytics SDK? I think we're in the wrong issue tracker :-)

[2018-07-02 12:19] vovkaprigarin commented on #12820
@zapjonny no, fastlane use incorrect path to submit script.

[2018-07-02 12:20] marian19 commented on #12819
what's the exportOptions.plist?

[2018-07-02 12:25] marian19 commented on #12819
what's the exportOptions.plist?

[2018-07-02 12:26] Aravindios opened #12830 "Replacing existing signature --unknown error -1=ffffffffffffffff"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

##### Complete output when running fastlan

[2018-07-02 12:35] joshdholtz commented on #12780
@alexito4 Heyyyyy 👋

You _should_ be able to show warnings with _xcpretty_ by specifying a custom formatter - https://github.com/supermarin/xcpretty/blob/master/lib/xcpretty/formatters/formatter.rb

[code]

[code]

I _think_ you should be able to use Danger to look for this message format then ^ 😊

[2018-07-02 12:46] joshdholtz commented on #12774
@nishantdesai I _think_ that make sense since the action options is named singular `dsym_path` but that doesn't make things for easy for if you do have a multiple dSYM that you need to upload.  I think I will change this up because it is a bit confusing 🤔

[2018-07-02 12:53] ViktorBylbas opened #12831 "Screengrab doesn't work on Android 7.0"
### Question Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Unable to capture screenshot.

#### Question Description

Erro

[2018-07-02 14:43] Morse-Code commented on #12820
@zapjonny can you confirm fixing the path resolves the issue? @svilon indicated that this does not work.

[2018-07-02 14:48] zapjonny commented on #12820
Ok I will have to confirm. Going back to 3.10.2 and I could submit again.

[2018-07-02 14:49] zapjonny commented on #12820
Btw things stopped working after upgrading Crashlytics and not fastlane so kind of feels like a problem with crashlytics but anywhoo

[2018-07-02 14:51] Morse-Code commented on #12820
@zapjonny agreed.

[2018-07-02 15:14] Morse-Code commented on #12820
Interestingly, nothing regarding installation paths changed between my projects previous Crashlytics installation (3.9.3) and 3.10.3. So, I doubt the path is incorrect in Fastlane. Also, if you notice there is a submit executable at both `{PODS_DIR}/Crashlytics/iOS/Crashlytics.framework/submit` & `{PODS_DIR}/Crashlytics/submit`. If you run a diff on these two files you'll see they are actually the

[2018-07-02 15:36] zapjonny commented on #12820
I find three submit binaries

Crashlytics/submit
Crashlytics/Crashlytics.framework/submit
Crashlytics/iOS/Crashlytics.framework/submit

But as you say it doesn't look like these paths changed since previous version.

[2018-07-02 15:39] zapjonny commented on #12820
Next to
Crashlytics/Crashlytics.framework/submit
there is a
Crashlytics/Crashlytics.framework/README
saying

We've now combined all our supported platforms into a single podspec. As a result, we moved our submit script to a new location for Cocoapods projects: ${PODS_ROOT}/Crashlytics/submit. To avoid breaking functionality that references the old location of the submit, we've placed this dummy sc

[2018-07-02 15:41] vovkaprigarin commented on #12820
@Morse-Code yes, try manually use submit script from .framework and from directory of Crashlytics. You will catch a error in the first case.

[2018-07-02 15:51] zapjonny commented on #12820
Yes, tried this, and @svilon is right, sending notes and

[code]
if I remove notes, submit succeeds.

[2018-07-02 17:32] #12567 closed

[2018-07-02 17:32] #12560 closed

[2018-07-02 17:36] pbeast opened #12833 "Error when calling provisioning profile update!:Invalid deviceClass for profile type."
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
Steps to reproduce:
1. Fetch existing profi