[2020-09-14 17:32] #16978 closed

[2020-09-14 17:38] goetzc commented on #16736
Not resolved.

[2020-09-14 18:59] rogerluan commented on #16991
Guys, remember that for the fix above to be effectively tested, you must switch to the testing environment (i.e. modify Gemfile and run `bundle install`) BEFORE facing the error. Once you face the error, the next attempt will likely simply just work even if you don't switch to the testing env. So if you wait until you face the error to switch to the testing environment, the testing would be pointl

[2020-09-14 21:13] lucaFaverio commented on #17089
They are not working for me either. The headless was working on Xcode 11.3 but not on the latest Xcode 11.7. Unfortunately, I can't say which version broke them since I've skipped some updates

[2020-09-14 21:17] gregggreg opened #17236 "screenshot errors out when using iPod touch simulators with iPhone simulators"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

If you attempt to mix an iPod touch simula

[2020-09-14 22:08] jaircampos opened #17237 "Spaceship: permission denied after correct login"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
When running `fastlane spaceauth -u [userna

[2020-09-15 02:34] vignesh-sankaran commented on #17234
I am running into this issue as well

[2020-09-15 02:48] chrisballinger opened #17239 "APP_STORE_CONNECT_API_KEY should redact key from logs"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

When using `pilot` with the new App Store

[2020-09-15 09:32] ppamorim commented on #16991
@joshdholtz Feels like this is not working, take a look:

![Screenshot 2020-09-15 at 10 24 26](https://user-images.githubusercontent.com/5521682/93193096-525bc380-f73e-11ea-8cfc-6b71d8eb06dd.png)
![Screenshot 2020-09-15 at 10 25 50](https://user-images.githubusercontent.com/5521682/93193100-538cf080-f73e-11ea-8c05-798300ab7051.png)

My script to request the review is:

[code]

[2020-09-15 12:01] euthimis87 commented on #17202
We have the same issue using 'latest' as the value of `version` parameter.
However, we solved it by getting the latest version first of the project and set it as the version in download_dsyms

[code]

[2020-09-15 15:02] joshdholtz commented on #16991
@ppamorim Thanks for the feedback! It looks like you have `skip_app_version_update: true`... I think that is the reason its not create the new version for you 🤔

[2020-09-15 16:06] ppamorim commented on #16991
@joshdholtz It's not clear what `skip_app_version_update` I suspect it's there to prevent the change of an already set value, should be this?

[2020-09-15 16:08] joshdholtz commented on #16991
@ppamorim The [docs](http://docs.fastlane.tools/actions/deliver/#deliver) describe it as `Don't update app version for submission`. This is for when users submit only binaries with `deliver` and don’t want the version number to be updated. If you set this to `false` you should see the the versions be created or updated for you when you submit!

[2020-09-15 16:13] joshdholtz commented on #16991
I think I will update the description to read as `Don’t created or update the app version that is being prepared for submission`

That reads much better 😇

[2020-09-15 16:22] joshdholtz commented on #17140
@radko93 Are you talking about using the official App Store Connect API Key? If so... `download_dsyms` does not work with that yet. It still requires an Apple ID. I have a radar into the App Store Connect API team to add an endpoint for downloading of dsyms 🤞

[2020-09-15 19:00] exavi opened #17243 "deliver issue: "Waiting for screenshot to appear before uploading...""
### New Regression Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Regression Information

- Breaking version: [e.g. `2.x.x

[2020-09-15 19:35] sezabass commented on #16342
Still not fixed

[2020-09-15 19:59] ISDr commented on #17187
Could not replicate with same version of fastlane today. I'm closing this.

[2020-09-15 19:59] #17187 closed

[2020-09-15 20:30] mattinasi opened #17244 "Availability and B2B information through ConnectAPI?"
We have automation scripts to publish custom-branded apps in our customers' B2B stores. The final publishing had been working fine but has stopped, due to a change in how App Store availability works since the big API change a couple months ago.

Currently there are 3 Availability options on the App Store Connect website:

1. Available on the App Store, for volume purchasing on Apple Business Mana

[2020-09-15 21:49] lewchuk-span commented on #17219
One one else has chimed in that this is still an issue so I'm going to close.

[2020-09-15 21:49] #17219 closed

[2020-09-15 22:51] GleidsonDaniel opened #17245 "I selected internal lane, but the app was published for production"
My code:

[code]

Why was the app published in production and not in beta?

[2020-09-15 22:56] #16991 closed

[2020-09-16 03:06] nafu commented on #17140
@joshdholtz `post_app_store_version_release_request` works 👍

[2020-09-16 03:07] joshdholtz commented on #17140
@nafu Perfect, glad to hear! Thanks so much for reporting back 😊

And hope all is well with you! ❤

[2020-09-16 03:31] nafu commented on #17140
@joshdholtz

Can I try to add helper method?
I'd like to discuss which is better. `app.release`, `version.release` or both? (Maybe we should discuss in different place? 😅 )

[2020-09-16 03:32] joshdholtz commented on #17140
@nafu For sure! Want to create a Discussion and mention me in it?

[2020-09-16 03:39] nafu commented on #17140
@joshdholtz Yes ✨ My first time GitHub Discussion :octocat:

[2020-09-16 11:30] razor313 commented on #17234
+1

[2020-09-16 12:44] pranavraj219 opened #17252 "download_dsyms actions Net::readtimeout error while downloading dsyms"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

- While using download_dsyms action, I was

[2020-09-16 12:58] #17245 closed

[2020-09-16 13:50] pal commented on #17048
FYI: I got this error due to creating an API Key with the Developer role. When I created a new key with role Admin, it went well!

[2020-09-16 15:12] alexisbronchart opened #17253 "Issue while updating FastlaneSwiftRunner on Xcode 12 GM"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
When running any lane after a fastlane upda

[2020-09-16 17:32] #16918 closed

[2020-09-16 17:32] #16095 closed

[2020-09-16 18:18] khallmark commented on #17208
Also getting this error.

[2020-09-16 18:53] TewWe commented on #17066
@max-ott could you please explain why did you close this? The main cause of the problem is what I've described a few comments up in this issue (https://github.com/fastlane/fastlane/issues/17066#issuecomment-686522374) which still persists, even in 2.160.0 - that is pilot wants to update release notes while nobody asked it, and the error does not clearly states the problem if the user is just has D

[2020-09-16 18:54] TewWe commented on #17048
@pal, yes the root cause is described here https://github.com/fastlane/fastlane/issues/17066#issuecomment-686522374, I hope we can keep it on topic, because it's still there.

[2020-09-16 18:58] invoodoo commented on #17202
For me still a problem, didn't fix in the latest release.

[2020-09-16 19:10] rogerluan commented on #17239
I opened a PR for this @chrisballinger, could you help test it? 🙏

https://github.com/fastlane/fastlane/pull/17256

Testing instructions in the PR 👍

[2020-09-16 20:19] pyrtsa commented on #17047
The fix works now. Thank you!

[2020-09-16 20:19] #17047 closed

[2020-09-16 20:43] rogerluan commented on #15184
Still happens in the latest version.

<img width="961" alt="image" src="https://user-images.githubusercontent.com/8419048/93390373-f8ddbc80-f843-11ea-85b6-821011d9395b.png">

[code]

[2020-09-17 00:13] john-mejia opened #17258 "[Spaceship] Running commands in lane returns: `You need to instantiate this module with test_flight_request_client`"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
Spaceship commands through custom lane retu

[2020-09-17 06:27] Edwar1d commented on #17193
Thanks for the update and quick reply. I'll be sure to keep an eye on this thread [tellthebell](https://tellthebell.ltd/).

[2020-09-17 08:17] 1oo7 opened #17259 "Fastlane wraps tables badly"
To wit:

https://github.com/fastlane/fastlane/blob/f32b007ff45e648b37b6c9c2037ac481f36b7780/fastlane_core/lib/fastlane_core/print_table.rb#L101

causes horrific bad wrapping:

<img width="1401" alt="Screen Shot 2020-09-17 at 1 15 01 AM" src="https://user-images.githubusercontent.com/58536853/93439333-44638b00-f883-11ea-9212-9f843c48997d.png">

btw, the table function is getting its width from TTY:

[2020-09-17 08:34] max-ott commented on #17066
@TewWe Please check out this.

[2020-09-17 08:39] SEGVeenstra commented on #17066
However, I was not the OP. It might have another cause?

[2020-09-17 08:40] max-ott commented on #17244
I don't think this is added / supported yet. I'm sure @joshdholtz can shine more light on it.

[2020-09-17 08:44] max-ott commented on #17237
Could you please update to the latest `fastlane`? It seems you are on `fastlane-2.28.3` and we're now on `2.159`+

[2020-09-17 08:46] max-ott commented on #17232
`Spaceship::Tunes` is now more or less deprecated and after Apple's changes has broken a lot of things. I don't think this is added yet. More than happy to review any PR using the new `ConnectAPI`.

[2020-09-17 08:47] max-ott commented on #17224
Did you try this on different machines / networks?

[2020-09-17 08:48] muccy commented on #17232
Thank you very much. It is what I was fearing of. I will look into it, bye

[2020-09-17 08:49] max-ott commented on #17217
Could you please verify that the file is working locally before using it in CI/CD?

[2020-09-17 08:51] max-ott commented on #17208
I don't think this is yet using the new `ConnectAPI` and therefore fails. More than happy to look into any PR.

[2020-09-17 10:48] abraaolevi commented on #17224
@max-ott in fact, the problem was in my network's DNS.

When I ran `ping appstoreconnect.apple.com`, the output was `ping: cannot resolve appstoreconnect.apple.com: Unknown host`.

So I updated the public DNS server from my machine and it works now. 🎉

[2020-09-17 10:48] #17224 closed

[2020-09-17 13:05] redreceipt opened #17260 "Android versionCode isn't being set by grade properties"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

I'm setting my versionCode in the gradle p

[2020-09-17 14:12] jaircampos commented on #17237
@max-ott Thank you for your reply. I'm so sorry for my errors. This is my fault.

It seemed like during my development I made a mistake in the install process of fastlane. I thought I had updated, but I had a version of fastlane that wasn't updated. How I fixed this is reinstalling fastlane.

I ran

`rm -r ~/.fastlane/`

and then

`gem install fastlane`

and this fixed my issue.

[2020-09-17 14:12] #17237 closed

[2020-09-17 14:20] marvin-yorke commented on #17202
`fastlane (2.159.0)` same problem for me

[2020-09-17 14:35] joshdholtz commented on #17258
@john-mejia Hey! There are new ways to auth into `Spaceship::ConnectAPI` and I will be writing up more doc next week for all of this! But this is what you are are probably wanting to do 👇

## Simple call

[code]

## Complex call

This login call is slightly complex because the `Spaceship::ConnectAPI` needs to handle both web sessions to the portal and tunes. Each of these also has different team i

[2020-09-17 15:16] john-mejia commented on #17258
Thanks @joshdholtz - this works now.

[2020-09-17 15:16] #17258 closed

[2020-09-17 16:45] MCanhisares commented on #17202
For anyone coming here from the cli related issues:

I was able to solve this problem using the ConnectAPI on fastlane 2.159.0 by using the following:

[code]

[2020-09-17 17:32] #17019 closed

[2020-09-17 17:32] #16883 closed

[2020-09-17 17:41] pranavraj219 commented on #17252
Have opened a PR #17262 for this.
Will do the necessary changes if needed.

[2020-09-17 18:17] invoodoo commented on #17202
My case a little bit different but I was able to find an answer thanks to your idea. Actually what I see documentation isn't the same that is in the code. edit_version or live_version aren't a part of App class in ConnectAPI.

[2020-09-17 18:40] joshdholtz commented on #17239
@chrisballinger Heyyyyy 👋 Long time no talk and hope all is well ❤️ Thanks for catching this!

@rogerluan And thanks for opening the PR! I'll also test and make sure this also gets out quick!

[2020-09-17 19:04] Drarok commented on #16620
Is there a way to _not_ auto-close this? I don't know when Apple stopped allowing accounts without 2FA, but that does indeed appear to be the case now.

`latest_testflight_build_number` appears to _require_ a username and password (and therefore 2FA token) – it refuses to use the API key supplied by `app_store_connect_api_key`.

[2020-09-18 02:18] lukemcgregor opened #17266 "upload_to_play_store succeeds but build doesnt show up (XCode v12)"
### New Issue Checklist

- [y] Updated fastlane to the latest version
- [y] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [y] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [y] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
I have a build pipeline in github actions t

[2020-09-18 02:50] manhpham90vn commented on #17266
same here

[2020-09-18 04:22] ribamarsantos commented on #17266
Same for me. I got on --versbose mode
`undefined metho get_app_info_localizations for nil`

[2020-09-18 06:50] nickyleach commented on #17266
App Store Connect has been having issues today:
https://developer.apple.com/forums/thread/660664

[2020-09-18 06:59] alexisbronchart commented on #17234
This seems identical to https://github.com/fastlane/fastlane/issues/17253

[2020-09-18 07:00] alexisbronchart commented on #17253
Happens in version 2.160.0 as well.

[2020-09-18 08:31] tealshift opened #17268 "Binaries are uploading but never appear as builds in App Store Connect"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [X] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [X] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
Fastlane uploads my IPAs but the build does

[2020-09-18 09:20] tianjyan commented on #17268
I have the same issue here. Self-Hosted Jenkins with fastlane 2.160.0 and Xcode 12 always prints `Waiting for the build to show up in the build list - this may take a few minutes (check your email for processing issues if this continues)`. But my Azure pipelines works properly with fastlane 2.151.2 and Xcode 11.7 (I use [macOS-10.15](https://github.com/microsoft/azure-pipelines-image-generation/bl

[2020-09-18 10:48] wahmedswl commented on #17146
Hi, is there any place to dig into this issue any hint etc

Thanks

[2020-09-18 11:10] myAngerle opened #17271 "vipf"
<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                         | Value                                                          |
| --------------------------- | -------------------------------------------------------------- |
| OS                          | 10.15.6                                                        |
| Ruby                        | 2.6.3

[2020-09-18 11:12] myAngerle commented on #17271
<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                         | Value                                                          |
| --------------------------- | -------------------------------------------------------------- |
| OS                          | 10.15.6                                                        |
| Ruby                        | 2.6.3

[2020-09-18 13:57] samuelpetroline commented on #17066
Just happened to me:

[code]

The problem is on `patch_beta_app_review_detail `

[2020-09-18 15:11] LemonSpike opened #17272 "Could not create another Development certificate, reached the maximum number."
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
I tried running `bundle exec fastlane match

[2020-09-18 16:08] tealshift commented on #17268
Yes, you're right!

[2020-09-18 16:08] #17268 closed

[2020-09-18 18:06] Tobrek commented on #17003
Thanks to @DunbarXX
A fix was released as part of fastlane 2.159.0

[2020-09-18 20:41] alexisbronchart commented on #17253
It looks like this issue has been fixed in https://github.com/fastlane/fastlane/pull/16844
Somehow I still had an old version of the FastlaneSwiftRunner code in my fastlane folder.

However I'm now clearly running into https://github.com/fastlane/fastlane/issues/17222

[2020-09-18 20:41] #17253 closed

[2020-09-18 21:06] rogerluan commented on #17234
I'm on 2.160 Xcode 11.5 and it happens as well.

[2020-09-18 21:42] rogerluan commented on #17234
After some investigation, I observed that:

- We changed the declarations to be `public` to add support to SPM, in which the declaration of functions, protocols, etc have to be `public`
- Since these are public, the declaration of your local-defined protocols (e.g. Gymfile.swift, Matchfile.swift, Deliverfile.swift, etc) have to be declared as `public`.
- These are being correctly generated with `p

[2020-09-18 22:24] rogerluan commented on #17271
@myAngerle please provide context to your issue: a descriptive title, and follow the template provided by GitHub when opening an issue 🙏

[2020-09-18 22:32] rogerluan opened #17275 "[swift] 784: unexpected token at '' when running any lane in Fastlane Swift"
### New Regression Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Regression Information

- Breaking version: 2.159.0
- La

[2020-09-18 22:41] rogerluan commented on #17234
After applying those changes ☝️ it will start compiling, but it will crash any lane executed if you're not using SPM. I filed a report with more details here: #17275

I fixed this issue here: https://github.com/fastlane/fastlane/pull/17276

If you want to test my fix, edit your `Gemfile`:

[code]

[2020-09-19 01:57] nafu commented on #17140
@joshdholtz Created discussion 👍 https://github.com/fastlane/fastlane/discussions/17246

[2020-09-19 08:31] csc-EricWu opened #17278 "Spaceship::Client.remove_testers_from_testflight(app_id: spaceship_app.id, tester_ids: testers_ids) Not available"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

##### Command executed

##### Complete out

[2020-09-19 08:32] csc-EricWu commented on #17278
I've tried many methods, but they can't be called. Can anyone fix it?

[2020-09-19 12:54] LemonSpike commented on #17272
I first nuked my certificates and provisioning profiles, since these were invalid, and started fresh with an empty GH repo to let fastlane generate the certs and profiles. I then cleared out the `deliver` password in Keychain Assistant, and the `match` password. Now everything works automagically. 🚀

[2020-09-19 12:54] #17272 closed

[2020-09-20 03:09] csc-EricWu commented on #17278
https://appstoreconnect.apple.com/iris/v1/apps/1515410222/relationships/betaTesters

I found the corresponding interface, and it changed. I don't know how to change Ruby code. Who can tell me.

[2020-09-20 04:57] StefaniOSApps opened #17279 "Problem with upload_symbols_to_crashlytics by using SPM Firebase Crashlytics"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
 I may be describing more of a question tha

[2020-09-20 05:11] csc-EricWu commented on #17278
#17280

[2020-09-20 08:42] blastrock commented on #17164
Same problem here, found a workaround: https://stackoverflow.com/a/56809469/1810193

tl;dr: Set a target API level < 29

[2020-09-20 11:48] da-mian commented on #17243
Same issue

[2020-09-20 17:32] #17043 closed

[2020-09-20 17:32] #17036 closed

[2020-09-20 17:32] #17030 closed

[2020-09-20 17:32] #16740 closed

[2020-09-20 23:55] lukemcgregor commented on #17266
All my builds started showing up on Saterday, so I guess the issue was apple.

[2020-09-20 23:55] #17266 closed

[2020-09-21 08:57] kevcrooks commented on #16700
We're seeing the same problem with fastlane `2.160.0`, which should have included your fix @joshdholtz ?

I'm attaching metadata with the `metadata_path` in fastlane, and just `release_notes.txt` contained inside `en-GB` (which is the primary language for our app in AppStoreConnect).

Is there something we're doing wrong in the submission? The app upload part works fine, just the error:
`The provi

[2020-09-21 09:06] eme-p opened #17282 "bank fi"
### New Regression Checklist

- [ ] Updated fastlane to the latest version
- [ ] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [ ] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [ ] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Regression Information

- Breaking version: [e.g. `2.x.x

[2020-09-21 09:11] dcacenabes opened #17283 "Release app version using new AppStoreConnect API fails for phased release ( The URL path is not valid - The resource 'appStoreVersionReleaseRequests' does not exist )"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
We are trying to release a new version of t

[2020-09-21 09:54] max-ott commented on #17066
`pilot` manages all things related to TestFlight therefore it's just a logical consequence that it needs to have the correct rights for  `patch_beta_app_review_detail`. Please adjust to the correct right.

[2020-09-21 09:57] #17282 closed

[2020-09-21 09:58] max-ott commented on #17279
Please use discussions for questions: https://github.com/fastlane/fastlane/issues/16811

[2020-09-21 09:58] #17279 closed

[2020-09-21 09:59] #17271 closed

[2020-09-21 10:00] max-ott commented on #17260
Simple question: Should it not be `-P versionCode=197 and -P versionName`?

[2020-09-21 11:26] RobertSasak commented on #17084
@lolucosmin @wormoworm As screengrab is very sensitive to different version of both fastlane, Android SDK would you mind to share your Github Action or Travis configuration. I realise that it would be much easier to create screenshot on build server in a stable environment. I think the whole community would benefit from it.

[2020-09-21 13:12] figengungor opened #17287 "match is not working"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

When I run any match command I get the fol

[2020-09-21 15:53] StefaniOSApps opened #17288 "upload_symbols_to_crashlytics did not handle SPM Crashlytics Solution"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
`upload_symbols_to_crashlytics` not working

[2020-09-21 17:32] #17041 closed

[2020-09-21 22:21] AbdullahDiaa opened #17292 "Not Found error during produce & upload_to_testflight on itunes connect"
### New Issue Checklist

- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] Updated fastlane to the latest version
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Running `produce` command fails for itc, r

[2020-09-21 22:32] skrivitsky commented on #17292
I have the same issue.

[2020-09-21 22:34] lukewlms opened #17293 ""The requested page could not be found." HTML error returned when running download_dsyms"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
I get a full HTML page error as a result wh

[2020-09-21 22:40] tgalg commented on #17292
I am seeing a similar error when just executing `client.teams`

`Traceback (most recent call last):
        9: from /usr/bin/irb:23:in `<main>'
        8: from /usr/bin/irb:23:in `load'
        7: from /Library/Ruby/Gems/2.6.0/gems/irb-1.0.0/exe/irb:11:in `<top (required)>'
        6: from (irb):4
        5: from (irb):4:in `rescue in irb_binding'
        4: from /Library/Ruby/Gems/2.6.0/gems/fast

[2020-09-21 22:40] StefaniOSApps commented on #17292
#17293

[2020-09-21 22:50] reubits commented on #17293
I'm having the same issue with the `pilot upload` command

[2020-09-21 23:04] StefaniOSApps commented on #17292
I think the bug is gone. It works again for me. I'm not sure if it has something to do with doing the following:
[code]

[2020-09-21 23:21] AbdullahDiaa commented on #17292
I can confirm too bug has been fixed, seems to be **an issue on apple servers** and they fixed it.

[2020-09-21 23:21] #17292 closed

[2020-09-21 23:22] AbdullahDiaa commented on #17293
issue should be fixed now, it seems to be an issue with Apple servers.

[2020-09-22 01:55] seanrogs commented on #17089
I've just updated to the Xcode 12 GM, and `override_status_bar` is now working. `headless` still doesn't work for me though.

[2020-09-22 02:04] 954708775 commented on #16864
Same issues here, so it have been solved?

[2020-09-22 02:27] AustinFuller commented on #16780
fastlane-bot and I are battling. Let's see who wins.

[2020-09-22 07:59] patreu22 commented on #17225
Any chance somebody might look into that?

[2020-09-22 09:03] rubenstolk commented on #16700
Facing the same issue for a regular app update... (`2.160.0`)

[2020-09-22 09:07] RobertSasak commented on #16943
Issue still exist. Quick fix. Add two "parent" into
/Library/Ruby/Gems/2.6.0/gems/fastlane-2.154.0/frameit/lib/frameit/screenshot.rb
[code]

[2020-09-22 09:18] cambrantskv commented on #17208
Thank you for the information and advice!

[2020-09-22 10:32] ryabchikova opened #17296 "build_ios_app fails after update xCode from 11.7 to 12.0"
Before update xcode to 12.0 my fastlane script for Firebase distribution works without errors.
Now I have error for build_ios_app action:

bundler: failed to load command: fastlane (/usr/local/bin/fastlane)
ArgumentError: [!] same file: /var/folders/_3/bvmbdcnd5q5fpxdmzf50d69c0000gq/T/gym_output20200922-26715-1nxriiz/Касса.ipa and /var/folders/_3/bvmbdcnd5q5fpxdmzf50d69c0000gq/T/gym_output20200922

[2020-09-22 11:18] iOSGeekster commented on #17288
I guess you should try to find where SPM stores the package files and the `upload-symbols` script.

I've been on projects, using Carthage, where we'd supply the binary_path: `Carthage/Build/iOS/Crashlytics.framework/upload-symbols`

[2020-09-22 13:39] lukewlms commented on #17293
Can confirm this is working for me now.  I'd suggest adding a more descriptive error message here in Fastlane so it's not just an abstract webpage error result if Apple server can't be contacted.

[2020-09-22 13:47] meiry opened #17297 "No profile for team 'XXXXXX' matching 'XXX XX XX' found: Xcode couldn't find any provisioning profiles matching 'XXXXXX/XXX XX XX'."
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
executing Fastlane fastfile gives me the er

[2020-09-22 14:11] mhleiftaylor commented on #17143
Any update on this fix?

[2020-09-22 14:13] max-ott opened #17298 "[Spaceship] Resolution Center no longer working"
Try to get information from Resolution Center using this code:

[code]

And got this error:
`2.159.0/spaceship/lib/spaceship/client.rb:719:in` `parse_response': {"data"=>nil, "messages"=>{"warn"=>nil, "info"=>nil, "error"=>["Not Found"]}, "statusCode"=>"ERROR"} (Spaceship::UnexpectedResponse)`

I've got this error since September 4th.

Please, advise me, what should I do fix in my code.
Used the l

[2020-09-22 15:20] mhleiftaylor commented on #17244
We used to do it this way as well @mattinasi
I think the old Tunes object hasn't been keeping up with the Appstore Connect changes.
We are having to do all the B2B stuff manually right now. Big PITA for our ci.cd pipeline.

[2020-09-22 15:28] joshdholtz commented on #17244
@mhleiftaylor Sorry about that! I can start looking into this this week and try to get it fixed for you 💪 I'm not too familiar with B2B so I may have some questions for you along my journey if that's okay.

[2020-09-22 17:32] #16442 closed

[2020-09-22 19:39] iwasrobbed-ks commented on #17122
Also seeing this (even on latest v2.160.x) during the `sync_code_signing` step

[code]

Stack trace:

[code]

[2020-09-22 19:41] iwasrobbed-ks commented on #17122
Apologies for the earlier post; seems my gem wasn't updating properly so it kept erroring

✅ This seems resolved as of v2.160.x releases

[2020-09-22 20:31] dave-perry commented on #17243
Also seeing the same issue.

[2020-09-22 22:33] mmdock commented on #17283
I literally just used the following and it worked just fine:
[code]

The only key differences are the older style  `Spaceship::Tunes.login(ENV["APPLE_ID"])` (which I have been too lazy to change) and I use `ConnectAPI::App.find` instead of `ConnectAPI::App.get`

I don't know why my code would work when yours do not, but hope it helps in debugging yours

[2020-09-22 22:56] Kaspik opened #17300 "[deliver] IDFA settings for new AppStore Connect API should be changed to top-level Bool param"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
I think it would be nice to change how `deli

[2020-09-22 22:58] Kaspik commented on #17300
Let me know @joshdholtz what you think about this or if I'm missing something. :)

[2020-09-23 05:44] chandler-jose commented on #17151
I faced similar kind of issue last time, I am still searching for some proper solution [My Balance Now](https://www.mybalancenow.us/)

[2020-09-23 05:46] Michasells commented on #17232
The Real-Time reports help troubleshoot your Google Analytics setup and show all current activity on your site. If you have active visitors on your website and you don’t see any data in your Real-Time reports, your tracking code is not sending any information to your Google Analytics account.

[2020-09-23 06:53] TragedyStar commented on #17283
I run into this too

here is my code
[code]
and I got this error
[code]

I can't find appStoreVersionReleaseRequests in official App Store Connect API [docs](https://developer.apple.com/documentation/appstoreconnectapi) and [open API spec(download)](https://developer.apple.com/sample-code/app-store-connect/app-store-connect-openapi-specification.zip), I'm not sure whether it is a private API.

[2020-09-23 07:30] dcacenabes commented on #17283
Hi @mmdock, your current approach is how we had it before. The old "Tunes" way works of course. We are in the process of migrating to the "new" App Store Connect API, for which fastlane [is adding support at the moment](https://docs.fastlane.tools/app-store-connect-api/).

[2020-09-23 07:36] dcacenabes commented on #17283
Hi @TragedyStar ,
Exactly, that is nowhere to be found in the official documentation. Furthermore, I could not find in the official docs which are the endpoints you're supposed to call in order to change a version from "Pending developer release" to "Ready for sale"

[2020-09-23 07:40] dcacenabes commented on #17283
Which version of Fastlane are you using?

[2020-09-23 07:42] TragedyStar commented on #17283
Yes, me too. Maybe, it is a private API which is captured by fastlane authors using Charles and App Store Connect API team refactor it recently.

[2020-09-23 08:05] max-ott commented on #17300
It's definitely already implemented with the new `ConnectAPI`: https://github.com/fastlane/fastlane/blob/ab1c5a59cdf3bebd765d976eaaae5b50517bb451/spaceship/lib/spaceship/connect_api/models/idfa_declaration.rb

Docs need a rework on every end, so any support is welcome! 🙏

[2020-09-23 09:40] max-ott commented on #17298
I can confirm that this is still working. `resolution_center` is independent from the version of the app.

[code]

[code]

Is the incorrect bit, as `app.live_version` and `app.edit_version` are no longer working / supported by Apple.

cc @Jannyss

[2020-09-23 09:40] #17298 closed

[2020-09-23 09:58] dcacenabes commented on #17283
I have been looking and this was introduced in:
https://github.com/fastlane/fastlane/pull/16765

[2020-09-23 10:00] max-ott commented on #17232
The old code still works (nothing changed on the Analytics part really so far), but it breaks in `spaceship`, as we currently have a check if there's a `live_version` (there are no data for `edit_version` only apps)

Specifically this line is breaking as the check no longer works: https://github.com/fastlane/fastlane/blob/master/spaceship/lib/spaceship/tunes/application.rb#L146

As a walk-around i

[2020-09-23 10:19] dcacenabes commented on #17283
This is maybe related to this: https://github.com/fastlane/fastlane/issues/17140

[2020-09-23 10:22] dcacenabes commented on #17283
@TragedyStar does your app have a phased release configured? Or you release to 100% of the users?

[2020-09-23 10:29] max-ott commented on #17151
Closing and locking this issue. Please open individual issues for your problems.

- `app.live_version` and `app.edit_version` is no longer supported by Apple. Please use the new `ConnectAPI` code: `app.get_live_app_store_version` and `app.get_edit_app_store_version`

- `app.get_builds` works as intended. You'll need to filter by version or similar to get more information

- Resolution center still

[2020-09-23 10:29] #17151 closed

[2020-09-23 10:33] TragedyStar commented on #17283
Yes, phased release configured and app in pending developer release state

[2020-09-23 10:46] lanyutc opened #17303 "[deliver] Is there a way to set empty string for metadata ?"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
No change for the appStore, when I set an e

[2020-09-23 11:13] max-ott commented on #16992
https://github.com/max-ott/fastlane/commit/7fa72df295866c4c8d7c5cadffcb47ac22eac405 adds support from adding & removing users. Will try to get this merged with the next release. cc @joshdholtz

[2020-09-23 17:15] TheWirv opened #17307 "[deliver] Spaceship::UnexpectedResponse: An attribute value is not acceptable for the current resource state."
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

After updating to 2.160.0, I am getting th

[2020-09-23 17:27] LamourBt opened #17308 "Match failed to download certificates within CircleCi var directory"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [X] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [X] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Match is failing when cloning the repo des

[2020-09-23 18:15] ton1n8o commented on #17202
Worked like a charm! I've just set the version as suggested by @euthimis87 and it worked 👍
Extra info here, I didn't have to update Fastlane to its latest version, I'm using `2.147.0`.
In the end, I've used it as `download_dsyms(version: "3.23")`

[2020-09-23 18:29] LamourBt commented on #17308
Using [Adding a User key to CircleCi Project](https://circleci.com/docs/2.0/ios-codesigning/#adding-a-user-key-to-the-circleci-project) solve the issue.

[2020-09-23 18:29] #17308 closed

[2020-09-23 19:13] reishka opened #17309 "AppStore demo account data not persisting with deliver"
Running fastlane version 2.160.0

Our apps require a demo account for apple review. We do not store the demo account credentials in our repository, and we don't supply the credentials along with metadata. Previously, when we did not supply a demo username or password, the existing username and password carried over to the edit version from the live version. This worked well for us.

Now, it seems

[2020-09-23 22:46] orlandogrodriguez commented on #17293
I'm glad it was just an Apple issue, but I recall checking their (useless) system status page when I ran into these issues a couple of days ago and everything was green. A more descriptive message would be awesome, considering Apple's tendency to flake intermittently without letting anyone know.

[2020-09-24 02:00] seanrogs commented on #16604
What fonts are you using in your Framefile? Not all fonts have the full Unicode character set.

[2020-09-24 02:12] seanrogs opened #17311 "Fix or remove Arabic support in Frameit"
I am having the same issue as https://github.com/fastlane/fastlane/issues/7522

A fix was proposed but that was not accepted: https://github.com/fastlane/fastlane/pull/8131

This is still an issue and if there is no easy solution I feel Arabic support should be removed from Frameit altogether. This is producing incorrect results that developers without knowledge of Arabic would not be aware of. If

[2020-09-24 04:57] gregorskii opened #17312 "PRODUCE_APPLE_ID not available after produce with an app that is already created."
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [X] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [X] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [X] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

PRODUCE_APPLE_ID is not available on subse

[2020-09-24 09:10] jhandguy commented on #17275
Also experiencing this issue, cannot update to `2.159.0` 😱
This is quite a critical one actually @joshdholtz & @minuscorp you might want to take a look at the linked PR 🚀

[2020-09-24 10:03] max-ott commented on #17312
Are you sure that this is not a scoping problem?

[2020-09-24 10:08] max-ott commented on #17309
AFAIK this is a change from Apple with the "new" App Store Connect. Username and Password do not seem to get persisted anymore. (Observed on ASC without using `deliver`). So I don't think this is a `fastlane` issue, but rather how Apple is handling this now.

[2020-09-24 10:09] max-ott commented on #17307
What are the full commands (lane or similar) your are using?

[2020-09-24 10:10] max-ott commented on #17303
Please use discussions as per #16811 for questions.

[2020-09-24 10:10] #17303 closed

[2020-09-24 11:00] TheWirv commented on #17307
@max-ott That's a bit complicated to answer. In general, I just execute `bundle exec fastlane deploy_apps lane:${LANE}` with `LANE == 'release' | 'beta'` set in the env. But I pasted a thorough breakdown into the "Complete output when running fastlane, including the stack trace and command used" section. Does that help, or do you need any additional information?

[2020-09-24 11:51] minuscorp commented on #17234
I'm unavailable right now, but there're changes to be made to the instances of those protocols, should be open instead of just public and see how Swift loads all the code from there, it's tricky. Meanwhile please bear in mind that SPM support was preliminar.

Thank you for your comprehension.

[2020-09-24 11:53] minuscorp commented on #15184
Will need a bit of time before I can tackle this issue and see the root of the problem but thanks for the heads-up @rogerluan 🤗

[2020-09-24 12:18] reishka commented on #17309
@max-ott I'm actually not experiencing that same behaviour. If I log into ASC and create a new edit version from a live version that has demo account credentials & the "sign in required" box ticked, the credentials get carried forward along with the other metadata. (I reconfirmed this just now)

I also notice that if I set demo account credentials in an edit version (& tick the sign-in box), and t

[2020-09-24 12:38] rogerluan commented on #15184
Awesome! 🚀 appreciate the feedback!

[2020-09-24 12:46] rogerluan commented on #17222
@jmbrocal I opened a PR to fix this issue, it will probably be in this week's release 🙏 thanks for your report!

[2020-09-24 12:47] rogerluan commented on #16566
This can be closed @joshdholtz @minuscorp since #16844 was released 🚀

[2020-09-24 12:50] rogerluan commented on #17029
@On1Key please follow the guidelines on how to open an issue. I have no context on what you were trying to accomplish when this happened. Also, updating to the latest version of fastlane might help you.

@saltyskip could you share your experience as well, please? What were you doing when you faced the issue, and what's your environment like (`[bundle exec] fastlane env`) 🙏

This will enable us to

[2020-09-24 13:38] gregorskii commented on #17312
I tried it immediately after running produce on an app that has already been created in the store.

Would you be able to provide some advice as to when you should call it?

It's right below the 'produce' that has been working for about a year.

[2020-09-24 14:04] #16566 closed

[2020-09-24 17:29] gregorskii commented on #17312
Looking at the source I do not see where `produce` sets env values, is this somewhere else?

[2020-09-24 19:46] tylerjames commented on #17030
Having the same issue. It appears to have been uploaded according to the terminal output, but the changelog never appears anywhere in TestFlight or AppStoreConnect

[2020-09-24 20:02] LamourBt commented on #16892
I'm having the same issue as well on version `2.160.0`

[2020-09-24 20:49] pke opened #17317 "ios: aborted upload disturbs increment_version_number"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

When an ios approval fails (due to missing

[2020-09-24 21:10] mackoj commented on #17243
same here

[2020-09-24 21:34] rubenstolk opened #17318 "Deliver to App Store fails on missing "whatsNew" attribute for app updates"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
Sending an app update using `Deliver` fails

[2020-09-25 02:45] StuSchwartz commented on #17039
I am having the same issue with 2.160.0
Right now screenshots are dead.

[2020-09-25 02:46] StuSchwartz commented on #17084
I am having the same issue with 2.160.0
Right now screenshots are dead.

[2020-09-25 07:18] jakubgs commented on #15185
No.

[2020-09-25 07:23] mateuszjablonski-slabs commented on #17297
I have exactly the same issue. Even created a separate project to double-check. Plain new project, `match`, `gym` - and still getting "no profile found", even though the log 15 lines above says, "All profiles installed"

[2020-09-25 07:45] myanime commented on #16911
This is probably related to the "Make available for pre-order" flag in appstore connect. If you disable that option, you should be able to upload with fastlane. @joshdholtz do you have any idea how this could be fixed in fastlane?

[2020-09-25 12:19] meiry commented on #17297
i saw allot of errors like this one in the net , its wired one ... in desktop xcode there is no problem, only when i use Fastlane on cloud  build

[2020-09-25 12:51] gilgamesharcadia opened #17320 "Fastlane match development -> undefined method `com' for nil:NilClass\e[0m (NoMethodError)"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

##### Command executed
```fastlane match d

[2020-09-25 13:38] sergeykochanov opened #17321 "[!] Cannot update languages - could not find an editable info - when trying to upload metadata"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

I'm trying to upload metadata (what's new

[2020-09-25 15:42] jamesdixon commented on #17297
Are you running this on CI by chance?

[2020-09-25 15:50] mateuszjablonski-slabs commented on #17297
@jamesdixon do you mean any particular CI? I am using local Jenkins slave, but the problem occurs both on my dev computer and CI machine.

[2020-09-25 16:00] john-mejia commented on #16502
@strongbox-mark I'm having this same issue, did you ever get around this?

[2020-09-25 16:02] strongbox-mark commented on #16502
I'm afraid not, I got tired of trying to keep the issue open too :)

You only get a week or so to update and I haven't uploaded in the last week, I'm afraid this issue got closed and I don't have the option to re-open. :(

[2020-09-25 16:04] john-mejia commented on #16502
@joshdholtz is it worth creating a new issue for this or can this be re-opened?

[2020-09-25 16:07] #16944 closed

[2020-09-25 16:09] joshdholtz commented on #16502
Thanks for ping! Reopened and will look into!

[2020-09-25 16:39] tedgonzalez commented on #16215
activity

[2020-09-25 17:32] #16951 closed

[2020-09-25 17:32] #16704 closed

[2020-09-25 17:33] #15252 closed

[2020-09-25 17:49] reishka commented on #16696
I discovered why this continually spins in our environment.

Our public version number is often times different from the internal version number. Previously, we could supply a version number, and automatically select the most recently uploaded build (whatever version that happened to be).

Now, when we supply a version number (this gets set as the public version number in the edit version), it loo

[2020-09-25 19:03] meiry commented on #17297
I'm using azure Mac agent , I'm using fastlane
To be platform independent

On Fri, Sep 25, 2020, 6:50 PM Mateusz Jabłoński <notifications@github.com>
wrote:

[2020-09-25 20:53] stephengilroy-grx commented on #17243
Anyone have any insight on this one? Blocking us as well.

[2020-09-25 22:03] thiagodelmotte-mb commented on #16129
Same problem here.

[2020-09-25 23:34] jamesdixon opened #17323 "upload_testflight fails when trying to submit for review + distribute to external groups"
### New Issue Checklist

- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
I'm attempting to upload my app to testflig

[2020-09-26 02:31] kovkev commented on #16892
I just got this error and I'm on fastlane version `2.160.0`

[2020-09-26 13:02] Ben834 commented on #17243
We get the same issue here for all of our apps.

[2020-09-26 16:10] rogerluan commented on #17243
Hey guys, I faced this issue and dug into it a little bit to figure out _a_ solution.

### Observation

Apparently this happens only when there are already screenshots in App Store Connect, and you're trying to upload more.

### Hypothesis

I think this is happening because it can't upload more than 10 screenshots to App Store Connect.
So if you had e.g. 7 screenshots, trying to upload 7 screensho

[2020-09-26 16:19] rogerluan commented on #16975
Hey, I was facing this issue as well, and following [the docs](https://docs.fastlane.tools/actions/deliver/#uploading-screenshots-for-ipad-pro-129-inch-3rd-generation) helped me make it work. I called my 3rd gen screenshots `ipadPro129-3rd-gen-<number from 1 to 10>`, and all the other screenshots can have any naming.

I'm on latest fastlane version FWIW, v2.160.0

@reishka not sure what could be c

[2020-09-27 15:06] aberaud opened #17325 "Fastlane crashes if HOME is not accessible"
### Issue Description
**What's happening**: Fastlane crashes if HOME is not accessible or even just not writable.

**Expected behavior**: While this behavior might be relevant for "hand-made" runs of fastlane, fastlane is an automation tool that should have an appropriate behavior for CI systems.

The expected behavior is that fastlane should **fallback properly without crashing** if the HOME dire

[2020-09-27 15:17] aberaud commented on #17325
Relevant issues: https://github.com/fastlane/fastlane/issues/16012 https://github.com/fastlane/fastlane/issues/15989

[2020-09-28 02:24] rogerluan commented on #16604
Ping @fatihyildizhan @vinksnojoqs @ElectrifyPowr ☝️

Also, is this a regression, or has it never worked before?

[2020-09-28 07:32] PatrickDotStar opened #17326 "download_dsyms action with `version: 'latest'` parameter only includes app store version"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
When passing `version: 'latest'` to the `do

[2020-09-28 09:49] pal opened #17327 "supply init throws Google Api Error: Invalid value at 'image_type' (TYPE_ENUM), "promoGraphic""
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
I'm trying to setup supply using the guide

[2020-09-28 14:13] ivanichoo opened #17328 "[WWDC Enterprise Certificate / CircleCI] SecKeychainSearchCopyNext: The specified item could not be found in the keychain."
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Hello,

CircleCI fails to sign in enterpri

[2020-09-28 16:12] joshdholtz commented on #17243
I think @rogerluan's solution to use `overwrite_screenshots: true` is the current best workaround.

But I will look into to see if I can replicate and figure out what's going on.

@ainame Have you seen this over on your end at all? Or have any idea what could be causing this? 😇

[2020-09-28 16:23] #17239 closed

[2020-09-28 16:27] max-ott commented on #17318
@joshdholtz Did you change the name of the `whats_new`/`release_ note` property?

[2020-09-28 16:36] joshdholtz commented on #17318
@max-ott The App Store Connect API has the name as `whats_new` but `release_notes` should map back into that! I will take a look right now

[2020-09-28 16:38] aried3r commented on #15959
I'm considering working on this (no promises!), but I have a few questions. @janpio, in https://github.com/fastlane/fastlane/issues/14785#issuecomment-503469720 you mentioned that the order of uploads mattered, however uploads can be multithreaded, can an order even be guaranteed then? Or is Apple sorting the screenshots by filename on their side? I'm not sure which of the moving parts is responsi

[2020-09-28 16:40] joshdholtz commented on #17318
@rubenstolk Are you setting which languages you are using in your `Deliverfile` or in your `metadata/` directory at all?

http://docs.fastlane.tools/actions/deliver/#default-values says... 👇 [

Just want to make sure you have either of these set!

[2020-09-28 16:53] TheWirv commented on #17307
One other potentially crucial piece of information is that I get this error for uploading an update to an app that has been on the App Store for multiple years (at least 5-6), and hasn't been updated for 3.5 years. Maybe there is some deprecated configuration value that had been set back in the day and now causes trouble or whatever. Curiously, as I mentioned before, I was able to submit the updat

[2020-09-28 17:06] TheWirv commented on #17260
@redreceipt I'm not even sure, if you could just use the `properties` for that. I can wholeheartedly recommend [`versioning_android`](https://github.com/beplus/fastlane-plugin-versioning_android). We've successfully been using it in production for over a year now and it works flawlessly. Just be sure to keep fastlane's [special directory behavior](https://docs.fastlane.tools/advanced/fastlane/#dir

[2020-09-28 18:06] Panajev opened #17330 "Exception occurred when creating MZContentProviderUpload for provider. (1004)"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

[code]

##### Command executed

`bundle ex

[2020-09-28 18:09] joshdholtz commented on #16502
@strongbox-mark @john-mejia I think this might be because you have `skip_metadata: true` 🤔 This is technically metadata so that needs to be `false` in order for it to update 😬

[2020-09-28 18:13] joshdholtz commented on #17330
@Panajev I believe this is temporary issue. If you could try uploading again and/or use a different provider (👇) that would be great!

[code]

[2020-09-28 18:17] Panajev commented on #17330
@joshdholtz  no problem, it happened to two different builds of two different apps. Might provide that parameter as a variable to the job later 👍

[2020-09-28 18:17] #17330 closed

[2020-09-28 18:20] joshdholtz commented on #16627
Is this still an issue that you are consistently receiving? I'm not really sure what could be causing this be the looks of those logs 😔

I'm not sure if this is something you are able to run but running `fastlane run spaceship_logs` after this failure and sending me that file would be a big help here (if you are able to get it). Its the raw API requests and responses.

[2020-09-28 18:26] joshdholtz commented on #17307
@TheWirv I wish we could have gotten back a more useful error from the API there. Did you have any issues showing to you in the dashboard at all when submitting?

Your logs showed that it failed during the update of submission information (which is 👇 from your logs above)
[code]

Is this all true? Did you have to adjust any of these settings when you submitted through the dashboard?

And future th

[2020-09-28 18:27] joshdholtz commented on #16911
@mogbot @myanime Ahhhhh, I think there are issues with this when its an "Apple Arcade" app and also "pre-order" 😱

I will look into how to best fix this while providing backwards capability for other users 🤔 Yell at me if you don't hear from me in a day or two 😉

[2020-09-28 18:36] #17275 closed

[2020-09-28 18:36] #17222 closed

[2020-09-28 18:56] sergeykochanov commented on #17321
I investigated the issue a bit and found out that tunes.get_app_infos() returns two objects:

[code]

Please note it doesn't contain actual new iOS version which is currently PREPARE_FOR_SUBMISSION. So, that's the reason why fetch_edit_app_info() is empty. However, I didn't get why we need fetch_edit_app_info instead of fetch_live_app_info. I replaced app.fetch_edit_app_info to app.fetch_live_app_

[2020-09-28 19:01] TragedyStar commented on #17309
@reishka I found the bug, and created a pr #17302

[2020-09-28 19:06] TragedyStar commented on #17283
@valerio-castelli we need help 🥺

[2020-09-28 19:14] corban123 opened #17332 "Receiving AccessForbiddenError when using upload_to_app_store"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
When running upload_to_app_store, the comma

[2020-09-28 19:21] bsiegel commented on #16874
Still reproduces with fastlane-2.160.0

[2020-09-28 19:21] john-mejia commented on #16502
Will give that a try @joshdholtz  - Thanks. Could this also explain why my test user/password stopped persisting from older versions after the connectAPI changes?

[2020-09-28 19:26] ainame commented on #17243
Let me have a look 👀  I personally have been using `overwrite_screenshots: true`, so that' why I haven't seen it?

[2020-09-28 19:27] joshdholtz commented on #16502
@john-mejia It shouldn't have stopped persisting 😬 I don't have any issues over here with mine persisting 🤔 But there are to things at play here.

1. The session is stored in `~/.fastlane/spaceship/<email>` directory
    - There could be some issue with this not getting stored? Maybe?
2. The password for you Apple ID is stored in Keychain access
    - This is what gets looked at after the session

[2020-09-28 19:31] john-mejia commented on #16502
Sorry my credentials, I'm talking about the beta user and password that we have to provide Apple to test the app during review. I've never had this in the metadata folder but the App Store kept the previously used credentials.After the changes it no longer has them.

I know I can solve this buy adding the beta_user/pw file in metadata, just haven't gotten around to it.

[2020-09-28 19:31] corban123 commented on #17332
I am also able to upload manually (Archive and then go through appstore connect) with this user.

[2020-09-28 20:03] robmaceachern commented on #16502
@joshdholtz FWIW we are also (trying) to use `phased_release: true` with `skip_metadata: true` and running into this problem. We don't really want Fastlane to touch the other metadata. What's the safest way to configure this?

Maybe leaving the `metadata` directory empty and `phased_release: true, skip_metadata: false`?

[2020-09-28 20:05] joshdholtz commented on #16502
@robmaceachern Making meta data empty and setting skip to false is the correct work around right now 🤔 I'll look into moving this outside of metadata though! I just need to make sure its backwards compatible enough to make that change 😬

[2020-09-28 20:06] joshdholtz commented on #16502
@john-mejia Oh interesting.... Can you create a new issue for that and mention me in it? That does sound like a regression that I might have missed 😬

[2020-09-28 20:25] john-mejia opened #17333 "App Review information not persisting from previous version"
### New Regression Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Regression Information

- Breaking version: After Connec

[2020-09-28 20:26] john-mejia commented on #17333
@joshdholtz, as requested [here](https://github.com/fastlane/fastlane/issues/16502#issuecomment-700253322) - Let me know if you need more details here. I didn't think the environment would be too helpful for this one.

[2020-09-28 20:26] ainame commented on #17243
I haven't figured it out yet but I feel like at first, we should log error messages getting from `rescue` block.

https://github.com/fastlane/fastlane/blob/53ce1fab1f616b981fc80d3abd97320f65187ba7/spaceship/lib/spaceship/connect_api/models/app_screenshot.rb#L100-L115

When I see the message "Waiting for..." on my local, it seems that the error is "500" error which is, of course, not good and would

[2020-09-28 20:27] joshdholtz commented on #17333
@john-mejia Greatly appreciated it! I won't be able to look in to anymore today (I got some family stuff to do) but I will look into tomorrow (or Wednesday at latest) for you!

[2020-09-28 20:29] joshdholtz commented on #17243
Oh goodness! I don't know if your results make me feel better or worse 😝

I'll try to replicate on my side and see which of these errors (if any) I get 😬

[2020-09-28 20:46] sergeykochanov commented on #17332
Try to update fastlane to 2.160.0.

[2020-09-28 22:28] xanderbuck opened #17334 ""NoMethodError: [!] undefined method `status' for nil:NilClass" error received when using upload_to_testflight(api_key: api_key) action"
cc: @joshdholtz

### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
I'm trying to use the new

[2020-09-28 22:29] joshdholtz commented on #17334
Thank you!

[2020-09-28 22:43] lilyball commented on #16960
/cc @lyndsey-ferguson

[2020-09-28 22:49] lyndsey-ferguson commented on #16960
This is how I would solve it, by allowing simulator arguments: https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/issues/286

[2020-09-29 00:09] ainame commented on #17243
I think I might understand what is going on.

https://github.com/fastlane/fastlane/blob/53ce1fab1f616b981fc80d3abd97320f65187ba7/deliver/lib/deliver/upload_screenshots.rb#L131-L148

The above check code "index >= 10" still works without "overwrite_screenshots: true" if you append images to only the end of the set. But in the scenario below, "index" will kind of make a contradiction...

Let's say w

[2020-09-29 00:54] dinhnhat0401 commented on #17178
@andrewhavens Could you please check this action?

[2020-09-29 01:08] rogerluan commented on #17243
I happen to remember what I did when I faced this issue, and it sounds a lot similar to your explanation @ainame :

I uploaded 7 images, named whatever. I didn't submit the app for review.
Then I renamed all the images (same assets, just renamed), and ran the lane again. It attempted to upload them all again, of course. But since `overwrite_screenshots` wasn't `true`, it uploaded only 3 of them, a

[2020-09-29 01:42] mikemike396 commented on #17326
https://github.com/fastlane/fastlane/issues/17202

[2020-09-29 04:52] pranavraj219 commented on #17252
Fixed and released in https://github.com/fastlane/fastlane/releases/tag/2.161.0

[2020-09-29 04:52] #17252 closed

[2020-09-29 07:05] dedmeatz opened #17335 "set_info_plist_value asks for value even though it has been provided"
### Issue Description
My Fastfile has a step that uses set_info_plist_value() and defines the values as:
plist_path = './AppName/Info.plist'
set_info_plist_value(path: plist_path, key:"CFBundleShortVersionString", value: options[:version])

When the fastfile runs and comes to this step, the terminal says:

"To be not asked about this value you can specify it using  'value'
Value to be setup: _ "

[2020-09-29 07:12] #17335 closed

[2020-09-29 07:13] dedmeatz commented on #17335
User Error :( Sorry

[2020-09-29 08:34] mateuszjablonski-slabs commented on #17297
After some research, I found out, that a `match`+`gym` lane doesn't update `.xcodeproj` settings (`CODE_SIGN_IDENTITY`, `DEVELOPMENT_TEAM`, `PROVISIONING_PROFILE_SPECIFIER`), and doesn't pass these values to generated `xcodebuild` command, thus creating a problem.

@meiry if you want a quick fix for this issue, you can use `update_code_signing_settings` action right after `match` and right before

[2020-09-29 09:17] jhandguy opened #17337 "[Fastlane.Swift] beforeAll method not called"
### New Regression Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Regression Information

- Breaking version: `2.161.0`
-

[2020-09-29 09:26] meiry commented on #17297
@mateuszjablonski-slabs
Thanks
but as i have written and as it shows in the logs in my original post i don't use match and not gym ( well maybe it is updated in the background )
is this will work also ?

[2020-09-29 10:14] aried3r commented on #16874
@bsiegel, does this happen to you only on CI or also locally? Locally on macOS I do not face this problem and I cannot reproduce it locally. But we are also wondering if the output is wrong or if analytics are indeed not disabled.

[code]

but on GitHub actions we do:

[code]

[2020-09-29 10:54] mateuszjablonski-slabs commented on #17297
@meiry yes, it should help in any case regarding this error. Put this step right before `build_app`.

[2020-09-29 11:06] Sega-Zero opened #17339 "[regression] firebase_app_distribution action is broken in 2.161.0"
### New Regression Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Regression Information

- Breaking version: `2.161.0`
-

[2020-09-29 11:09] SEGVeenstra opened #17340 "app_store_connect_api_key doesn't work with key_content"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
When trying to create an `app_store_connect

[2020-09-29 11:22] rubnov commented on #17339
I'm having trouble with the `firebase_distribution_plugin` as well. Getting this error in the console:

[code]

I removed the `notes` field from `firebase_app_distribution` call in my Fastfile but it made no difference. Still getting the same error. Not sure if this is a Fastlane or Firebase plugin issue though.

[2020-09-29 11:24] Priyankakum opened #17341 "I am not able to commit the code changes as well as tag using git command from fastlane script. it was working fine with bitbuket but now i am using azure devops repo."
desc "Commits and Pushes Build Version Bump & adds GIT Tag"
lane :commit_bump do
	if(lane_context[SharedValues::PLATFORM_NAME].to_s.include? "ios")
		commit_version_bump(message: "Build version bump #{ENV["BUILD_TAG"]}.", force: true, xcodeproj: ENV["XCODE_PROJECT"])
	end
	 add_git_tag(tag: ENV["BUILD_TAG"])
	 sh("git push --all origin")
	 sh("git push --tags")

[2020-09-29 11:39] PatrickDotStar commented on #17339
Same issue here. Also getting `Faraday::BadRequestError: [31m[!] the server responded with status 400`

[2020-09-29 11:41] barchinsky commented on #17339
I'm also experiencing the same issue with with 0.2.2

[2020-09-29 11:58] FrancisLeigh commented on #17192
Getting this to, would be great to get some more visibility on what is causing this issue!

[2020-09-29 12:12] LemonSpike commented on #17339
Same here

[2020-09-29 12:13] jasin755 commented on #17339
+1

[2020-09-29 12:24] olbartek commented on #17339
+1

[2020-09-29 12:32] l1ghthouse commented on #16330
The issue still exists with the current fastlane version 2.160.0

[2020-09-29 12:49] viikufa commented on #17339
+1

[2020-09-29 12:49] jasin755 commented on #17339
Downgrade to 2.160 helps

[2020-09-29 12:57] ChawkiOS commented on #17339
+1

[2020-09-29 12:57] leHomard commented on #17339
+1

[2020-09-29 12:59] Asuard commented on #17339
+1

[2020-09-29 13:29] garry-jeromson commented on #17339
And another.

[2020-09-29 13:58] yurijdvornyk commented on #17339
+1

[2020-09-29 14:00] nthegedus commented on #17339
+1

[2020-09-29 14:15] georgegal commented on #17339
I have a similar issue AppCenter plugin.
[code]

[2020-09-29 14:25] theomendes commented on #17339
+1

[2020-09-29 14:30] chadrickman commented on #17339
+1

[2020-09-29 14:49] nthegedus commented on #17339
I'm using
[code]

This is the error response after running **firebase_app_distribution**
`the server responded with status 400`

But in Firebase App Distribution console, the APKs are appearing like the image below, and I have to release manually.
The release notes are not working as expected too

<img width="713" alt="firebase" src="https://user-images.githubusercontent.com/1063383/94574298-58c36

[2020-09-29 15:15] 8of commented on #17339
Can confirm what @nthegedus stated.
The same behavior for android (.apk) and iOS (.ipa) files.

[2020-09-29 15:21] joshdholtz commented on #17339
Looking into what could have caused this! Will try to have a fix soon.

[2020-09-29 15:27] joshdholtz commented on #17339
I think this might be the cause - https://github.com/fastlane/fastlane/pull/17218

This was a fix to another problem but it looks the firebase plugin might have been relying on this 🤔 I’m unsure but that is what I’m going to look into first.

[2020-09-29 15:28] ainame commented on #17243
I've got a fix for this on my forked repo. Will submit a PR soon🙂
https://github.com/fastlane/fastlane/compare/master...ainame:fix-deliver-upload-screenshots

While working on it, I thought about a few things.

* Skipping screenshots uploads is cool but involves confusions to fastlane-users
  * I think the scenario rogerluan described can easily happen and people may tend to not update the option

[2020-09-29 15:38] Strate commented on #17296
@ryabchikova hello, did you manage somehow this issue?

[2020-09-29 15:55] sbo-nemlig commented on #17339
Also have this issue but this, started this morning also on older versions of fastlane. Looks to be a issue on firebase end

[2020-09-29 16:02] brownoxford commented on #17339
This is an issue with the monkey patch for net http request. Previous version had this:

[code]

Note that there is never any default content type supplied... the code returns if one is already set and does nothing otherwise.

New code is this:

[code]

Note the call to `super`, which sets a default content type of `application/x-www-form-urlencoded` if none is already set. This is probably "corre

[2020-09-29 16:03] joshdholtz commented on #17339
@sbo-nemlig @brownoxford Yup yup, I’m working on a fix for this right now! I’ll keep you all updated when I have something ready

[2020-09-29 16:22] xanderbuck commented on #17334
@joshdholtz I think we can close this issue, turns out I was using an old P8 file that was expired. My bad 😅.  Used the correct P8 and it successfully uploaded the build to TestFlight.

Thank you again for all the help the past few days. This was my first time using Fastlane and being exposures to its community. Really pleased with how friendly and helpful you were. Cheers!🍻

[2020-09-29 16:22] joshdholtz commented on #17339
Fixed in https://github.com/fastlane/fastlane-plugin-firebase_app_distribution/pull/160 by @brownoxford ❤️  I will comment when the new gem is out.

[2020-09-29 16:48] lfkellogg commented on #17339
The fix is now available in plugin [v0.2.3](https://github.com/fastlane/fastlane-plugin-firebase_app_distribution/releases/tag/v0.2.3).

[2020-09-29 16:59] #17339 closed

[2020-09-29 17:12] sleman commented on #17339
Running `fastlane update_plugins` doesn't show the update for me.

[code]

[2020-09-29 17:17] Sega-Zero commented on #17339
Confirm the fix. Thanks!

[2020-09-29 17:32] #16762 closed

[2020-09-29 17:50] joshdholtz commented on #17340
@SEGVeenstra I’m glad `key_filepath` works but `key_content` should be working too! How are you trying to load it? Are you trying to load it from an environment variable or a string? One thing you will need to make sure that you do is that you keep the new lines (`\n`) in there.

We should actually probably catch this error and spit out something a bit more useful 🤔

[2020-09-29 17:57] joshdholtz commented on #17334
@xanderbuck I think I’m going to keep this open and see if we can provide some more useful feedback when the P8 is bad 😊  I’m sure there will be more reports of this if we don’t... which is totally fair 😉

And welcome to community! So happy to have you 😊 Glad you had a good experience! Hopefully we see (and don’t see you) more 😝

[2020-09-29 18:25] tedgonzalez opened #17343 "[Fastlane.Swift] get_provisioning_profile error: You can't enable both :developer_id and :adhoc"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
Using sample lane
[code]
You'll get error
[

[2020-09-29 18:25] fatihyildizhan commented on #16604
I tried with many fonts. It never worked.  @rogerluan

[2020-09-29 18:28] tedgonzalez commented on #17343
### Workaround

Update `Fastlane.swift` file
[code]

[2020-09-29 18:54] ryechus opened #17344 "match import fails when using s3 storage method"
### Issue Description
When I try to import existing `.cer` and `.p12` files using the s3 storage method an error is thrown about a missing required option. I am specifying my S3 credentials, region, and bucket name in a Matchfile.

[code]

##### Command executed

    fastlane match import --storage-mode=s3

##### Complete output when running fastlane, including the stack trace and command used

<d

[2020-09-29 19:09] joshdholtz commented on #16992
This was fixed and merged in https://github.com/fastlane/fastlane/pull/17315. This should be out in the next fastlane version this week!

[2020-09-29 19:09] #16992 closed

[2020-09-29 19:25] ryechus commented on #17344
It looks like the problem is with this code https://github.com/fastlane/fastlane/blob/master/match/lib/match/importer.rb#L18-L35

The params `s3_bucket` parameter needs to be passed into the underlying storage class. None of the S3 specific params are being passed into the `S3Storage` class instance.

[2020-09-29 20:09] joshdholtz commented on #17344
@ryechus Thanks for reporting this! I _think_ this is fixed in https://github.com/fastlane/fastlane/pull/17291 but I will verify and fix it if it isn’t 😊

This new match changes _should_ be going out this week (maybe early Thursday morning)

[2020-09-29 21:31] bsiegel commented on #16874
I verified in the code base that the opt-out is in fact honored, only the message is shown. Check the logic in `AnalyticsSession#action_launched`. It happens locally for me, I have not attempted to use fastlane in CI.

To clarify, this only happens the first time the command is run, because once the message is shown, the file `~/fastlane/.did_show_opt_info` is created which [suppresses the message

[2020-09-30 00:22] ainame commented on #17243
Submitted https://github.com/fastlane/fastlane/pull/17346 🙂

[2020-09-30 00:26] ainame commented on #17243
@rogerluan

I feel like this isn't exactly the same scenario as I expected. Because renaming file shouldn't change its file's MD5 checksum at all so that deliver should recognise the same file uploaded on App Store Connect even if the file name is different.

[2020-09-30 00:26] redreceipt opened #17347 "Match Auth Error: fatal: could not read Username for 'https://github.com': terminal prompts disabled"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Will not authenticate when passing `MATCH_

[2020-09-30 00:56] dinhnhat0401 commented on #17178
@vadimleonov I also had the same issue with the link.
But I realized that the internal app sharing APK is actually uploaded to the Google Play store successfully.
What I missed is add the tester email as an Internal Tester.
You can do it via Google Play Console.
This 404 error will be return if one of the bellow condition is correct:
- test device is not supported
- the account is not a tester acc

[2020-09-30 01:34] rogerluan commented on #17243
@ainame I initially thought so as well, however, first I thought that the checksum would change because of the metadata (filepath) change - but in fact it doesn't (I verified this via bash and not ruby, but should be the same behavior I hope 😇 )

[code]

Then, on a second thought, although the checksums match - aren't we using the filepath as an identifier for the cache? 🤔 I didn't dig much into t

[2020-09-30 04:24] Priyankakum commented on #17341
The above command is committing back to the azure repo **tag** folder but not on the current building branch commit.

below i have tried to checkout branch and then push the commit to current building branch but not worked for me:
desc "Commits and Pushes Build Version Bump & adds GIT Tag"
lane :commit_bump do
if(lane_context[SharedValues::PLATFORM_NAME].to_s.include? "ios")
sh("git checkout $GIT_

[2020-09-30 04:27] Priyankakum commented on #17341
And if i use suggested command for git push like below it is absouloutly working fine as expected commiting in the current building branch and tag :

sh("git push origin HEAD:<name-of-remote-branch> --follow-tags")

For your info above $GIT_BRANCH is pipeline environment variable for the globally building branch.

[2020-09-30 04:43] Priyankakum commented on #17341
Classification: HCL Internal
Attached command working but not committing the tag back to the current building branch.(from git local the command is working fine with azure repo as expected)
Now I have tried the below command:

below i have tried to checkout branch and then push the commit to current building branch but not worked for me:
desc "Commits and Pushes Build Version Bump & adds GIT Tag"

[2020-09-30 06:36] Defoor commented on #17332
Isn’t there a better way? If only you could run a single command that took all your screenshots on all your supported devices, in every supported language automagically. If only there were a single command to upload those screenshots.

[2020-09-30 07:10] kishaniosdev opened #17348 "Keep getting An App ID with Identifier '<bundle_identifier>' is not available"
On running fastlane create_app. I'm keep getting "An App ID with Identifier '<bundle_identifier>' is not available". Can anyone please on this.

[2020-09-30 07:13] kishaniosdev commented on #17348
<details><summary>🚫 fastlane environment 🚫</summary>

### Stack

| Key                         | Value                                                          |
| --------------------------- | -------------------------------------------------------------- |
| OS                          | 10.15.6                                                        |
| Ruby                        | 2.6.3

[2020-09-30 07:22] kishaniosdev commented on #17348
Ok. I figured it out.

[2020-09-30 07:22] #17348 closed

[2020-09-30 09:19] AAverin opened #17349 "Not an "iOS App Store" profile"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)
https://github.com/fastlane/fastlane/issues/16191

### Issue Descr

[2020-09-30 10:47] sdjm-tessella commented on #15153
I can confirm the bug still exists in Fastlane version 2.161.0

[2020-09-30 10:47] strongbox-mark commented on #16502
Thanks a million @joshdholtz for looking into this. I will be uploading a new version of my app in a few days and will come back and let you know how it goes...

[2020-09-30 10:55] TheWirv commented on #17307
@joshdholtz Thanks for getting back to me on this!

First of all, no. I didn't have any problems whatsoever when submitting through the dashboard.

Secondly, regarding the `submission_information`: To be honest, I don't really know and just assumed that all of this is true since that's the submission info I have been using for our other apps (which have been deployed via fastlane from the start, w

[2020-09-30 12:41] SEGVeenstra commented on #17340
I'm setting an environment variable. The response (in 1.60) returned the key and it looked correct, but somehow didn't work.
Loading the same key with the path did.

I found some other suggestions like explicitly putting the `\n` in there after copying it from the file. Someone suggested to escape the `\n` by doing `\\n`, but that didn't help either.

The way I got the key in the env var was with

[2020-09-30 12:48] #17278 closed

[2020-09-30 13:20] albinekb commented on #16892
I'm having the same error multiple times, it seems to work in the end though. `fastlane-2.160.0`
[code]

[2020-09-30 16:40] ainame commented on #17243
@rogerluan  `deliver` only relies on checksum to match up. There's no caching at all. It's just to classify "Skip uploading" or "Upload", in reality🙂

https://github.com/fastlane/fastlane/blob/818b4e34edeb090fbc7d8c5bab9d3e45ce0483f0/deliver/lib/deliver/upload_screenshots.rb#L137-L138

[2020-09-30 18:07] joshdholtz commented on #17340
@SEGVeenstra Thanks for reply! I haven’t tested it on Azure DevOps myself yet 🤔 Putting `\n` in there _should_ work as of `2.161.0` (which it looks like you are on).  I’m not sure how Azure DevOps handles the insert of multi-line test.

I don’t know if this is how you added the `\n` but I would maybe deleting the lines in a text editor and replacing them with `\n` before copying them into Azure.

[2020-09-30 18:17] joshdholtz commented on #17307
@TheWirv You _should_ be able to switch it both ways (in my experience) but I’m there could be some secret rules that we don’t know about 🤔

So if your app has “This app has the necessary rights to its third-party content.” then maybe you need to set `submission_information.content_rights_contains_third_party_content: true `

This was changed up in the latest App Store Connect update so I’m person

[2020-09-30 18:35] katiany commented on #17071
I'm facing the same issue here, even being an Admin user in the AppStore account and after updating to fastlane 2.161

I noticed that after manually deleting existing screenshots in AppStore before running it, fastlane could handle the upload without errors. However, new screenshots weren't uploaded.

Anyone have any clues on this?

[2020-09-30 18:35] katiany commented on #17071
I'm facing the same issue here, even being an Admin user in the AppStore account and after updating to fastlane 2.161

I noticed that after manually deleting existing screenshots in AppStore before running it, fastlane could handle the upload without errors. However, new screenshots weren't uploaded.

Anyone have any clue on this?

[2020-09-30 18:54] meiry commented on #17297
@mateuszjablonski-slabs
it didn't help but i found the problem, maybe after i know the course we can find "Fastlane" solution.
The problem is that in the file : project.pbxproj
The PRODUCT_BUNDLE_IDENTIFIER and the PROVISIONING_PROFILE_SPECIFIER keys never updated to the given identifier
Wherein Xcode they both changed to the profile identifier when i update it manually.
currently, I'm doing the c

[2020-09-30 19:03] meiry opened #17350 "How to change in manifest.plist file the title name ( in the <dict>)"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
in my fastline file i can modify :
appURL
d

[2020-09-30 19:12] #16874 closed

[2020-09-30 20:28] bdovaz commented on #16127
Still happens

[2020-09-30 20:44] evgeniisage commented on #17027
I'm running app resigning and upload to App Store on a MAC agent hosted by Azure DevOps. The session token is added to an environment variable and service connection settings. Yesterday I updated the session token as it was due to expire and performed an upload of an app and it worked like a charm. Today when I tried to upload another app, I got the error message about the token being invalid. Aft

[2020-09-30 20:44] joshdholtz commented on #16127
Hey sorry! This one slipped my eyes. I’ll be looking into!

[2020-09-30 22:46] corban123 commented on #17332
I feel like a fool, thanks @sergeykochanov

[2020-09-30 22:46] #17332 closed

[2020-09-30 23:16] michaellenaghan commented on #15963
I'm running into the same problem, though my situation might be a bit different. I'm trying to automate `development` builds of a Catalyst app. I want the app to use the `Production` iCloud environment.

This:

[code]

produces this error:

[code]

If I add:

[code]

then it succeeds, but the resulting app is using the `Development` iCloud environment.

I'm still poking around, but the problem see

[2020-09-30 23:25] michaellenaghan commented on #15963
No, that's not right. In fact, if I use the original command-line, including `xcbuild-safe.sh`, it succeeds:

[code]

So the problem seems to be with how whatever follows interprets the result of that command?

[2020-10-01 00:08] EpaL commented on #15963
This looks like the same issue. When `skip_package_pkg: false`, it will fail because the current Fastlane code only recognize a .pkg output from the build process. If you're building a .app, it will fail because it can't find YourApp.pkg and so the build fails. Adding `skip_package_pkg: true` works around this issue, but means you skip the export process, and your production signing and environmen

[2020-10-01 00:10] michaellenaghan commented on #15963
I think the error is getting triggered [here](https://github.com/fastlane/fastlane/blob/86f9ea1696fb167b796531f98c409a95bc647450/gym/lib/gym/runner.rb#L144):

[code]

There's a lot I don't know about here, so I could be off base, but I think the problem is that that isn't where the output goes; it's actually in `-exportPath`, which in the above examples is under `/var/folders/...`.

Still poking..

[2020-10-01 06:19] SEGVeenstra commented on #17340
Correct, I saw the change that was made recently so I tried that.

This is exactly how I did it ;)

That sounds like a solid solution.

[2020-10-01 06:28] ryabchikova commented on #17296
No, it doesn't work yet. We are back to xCode 11.7 in our CI environment.

[2020-10-01 08:17] muccy commented on #17232
Thank you very much Max, I've just tried the workaround and in fact it worked.

[2020-10-01 08:57] SEGVeenstra opened #17353 "Lane 'validate' was defined multiple times!"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
I've created a lane (called validate) that

[2020-10-01 09:07] max-ott commented on #17349
Could you please upload to the latest `fastlane` version?

[2020-10-01 09:10] max-ott commented on #17341
Could you please open a new issue putting all relevant information together? Also a little bit of formatting would help.

[2020-10-01 09:10] #17341 closed

[2020-10-01 09:12] max-ott commented on #17333
Is this for complete app review information or only username/password? (Possible duplicate of https://github.com/fastlane/fastlane/issues/17309)

[2020-10-01 09:24] AAverin commented on #17349
@max-ott
Same error so far:
[code]

[2020-10-01 09:25] AAverin commented on #17349
<details><summary>🚫 fastlane environment 🚫</summary>

### Stack

| Key                         | Value                                                          |
| --------------------------- | -------------------------------------------------------------- |
| OS                          | 10.15.3                                                        |
| Ruby                        | 2.6.3

[2020-10-01 09:32] AAverin commented on #17349
@max-ott FYI, I have updated from brew, so if latest fastlane is not yet published there I will not have the latest latest version

[2020-10-01 09:35] AAverin commented on #17349
Even though brew says it's 2.161, for some reason 2.149.1 is still being run, even if I restart the terminal

[2020-10-01 11:14] kungfuslippers commented on #17339
I'm still seeing a similar issue after the fix when using fastlane 2.161.0 and fastlane-plugin-firebase_app_distribution 0.2.3 where I get a 403 Forbidden.

How do you downgrade to fastlane 2.160 ?

[2020-10-01 11:28] Priyankakum commented on #17341
Classification: HCL Internal
I am not able to push the git tag in azure repo using Fastlane.

Below is the command:
desc "Commits and Pushes Build Version Bump & adds GIT Tag"
private_lane :commit_bump do
                if(lane_context[SharedValues::PLATFORM_NAME].to_s.include? "ios")
                                commit_version_bump(message: "Build version bump #{ENV["BUILD_TAG"]}.", force: tr

[2020-10-01 12:02] kungfuslippers commented on #17339
Have tried downgrading to fastlane 2.160.0 with fastlane-plugin-firebase_app_distribution 0.2.3 and still get the same issue with a 403 forbidden

Here is my fastlane env updated to the most recent version.

<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                         | Value                                       |
| --------------------------- | -----------------

[2020-10-01 12:22] rogerluan commented on #17027
@ir-fuel @alex-benoit heads up that the App Store Connect API and _fastlane_ now support [JWT auth](https://docs.fastlane.tools/app-store-connect-api/#use-return-value-and-pass-in-as-an-option), it replaces the need for user/pass credentials, and thus 2FA :)

[2020-10-01 12:24] AAverin commented on #17349
I did `bundle update` to 2.161, but error is still the same

[2020-10-01 12:32] kungfuslippers commented on #17339
Doesn't work for me.

[2020-10-01 12:32] katanaBoy opened #17355 "fastlane match enterprise giving an error for new generated certificate "Could not find the newly generated certificate installed""
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

I can't find newly generated certificate a

[2020-10-01 13:06] lfkellogg commented on #17339
@kungfuslippers This looks like a different issue: a 403 generally indicates an authentication problem, and it looks like it's failing on a request that wasn't affected by this bug.

Can you confirm that the Google account you are authenticating with has access to the Firebase app? You can also create a new issue in the plugin repo and we'll figure out what's going on: https://github.com/fastlane/

[2020-10-01 13:22] john-mejia commented on #17333
It's just the username/password as far as I've noticed. It looks like this is indeed a duplicate of #17309

[2020-10-01 13:55] Tapchicoma commented on #17318
We are facing the same problem. In our case `release_notes.txt` are placed inside `metadata/` folder for each supported language + `default`.

[2020-10-01 14:36] reishka commented on #17309
@TragedyStar That appears to have fixed an issue with uploading demo credentials, but existing credentials in an edit version still get wiped out if I upload metadata that doesn't contain a demo username/password. Just tried with fastlane ver 2.162.0

[2020-10-01 16:31] curt-tophatter commented on #17327
I am encountering this error as well.

[2020-10-01 16:34] michaellenaghan commented on #15963
I don't (yet) know enough about Fastlane internals to fix the problem correctly. I have to move on to other things right now, so here's what I know so far:

 * [this](https://github.com/fastlane/fastlane/blob/86f9ea1696fb167b796531f98c409a95bc647450/gym/lib/gym/runner.rb#L48) line skips what follows if `skip_package_pkg` is `true`. That's why setting it succeeds — and it's also why setting it avoi

[2020-10-01 18:19] dazwin commented on #17124
ping

[2020-10-01 19:51] tmaly1980 commented on #16233
Has anyone made any progress with this?

[2020-10-01 19:54] tmaly1980 commented on #16233
@SiberianCMS Did you ever get anywhere with this?

[2020-10-01 19:54] jjochen commented on #16233
Same here

[2020-10-01 21:20] rzulkoski opened #17357 "api_key_path doesn't work with sigh download_all"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
When running the download_all command for s

[2020-10-01 21:21] rzulkoski commented on #17357
@joshdholtz here's that issue you requested. Thanks!

[2020-10-01 21:51] patreu22 commented on #17334
I'm also receiving this error uploading to testflight. Weirdly, the lane `Successfully finished processing` and also appears in AppStoreConnect, but the lane crashes eventually with the same error.

[2020-10-01 23:33] rabbitinspace commented on #17283
So, I have the same issue after migrating to ASC token. The only endpoint I see in the docs that may work (gonna try it soon) is modify phased release: https://developer.apple.com/documentation/appstoreconnectapi/modify_an_app_store_version_phased_release

My guess is creating a phased release and moving it in `ACTIVE` state and then in `COMPLETE` state should do the trick. Want to try this when w

[2020-10-02 06:46] felginep opened #17359 "SnapshotHelper.swift fails on tvOS"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

When I run my UITests on Apple TV, I get t

[2020-10-02 07:54] AAverin commented on #17349
Resolved in https://github.com/fastlane/fastlane-plugin-firebase_app_distribution/issues/163

[2020-10-02 07:54] #17349 closed

[2020-10-02 08:25] mateuszjablonski-slabs commented on #17297
@meiry
`update_code_signing_settings(profile_name: PROFILE_NAME)` to update `update_code_signing_settings(profile_name: PROFILE_NAME)`
`update_app_identifier(app_identifier: APP_IDENTIFIER)` to update `PRODUCT_BUNDLE_IDENTIFIER`

[2020-10-02 11:32] athith-sybo opened #17363 "Fastlane DELIVER does not have the option to specify api_key_path"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
The Fastlane Deliver action does not an opt

[2020-10-02 11:45] rogerluan commented on #17363
Hey @athith-sybo !
Updating _fastlane_ will fix your issue. Your report above shows you're at v2.28.3, and the API you're looking for is available in the latest version of _fastlane_.

[2020-10-02 11:56] #17363 closed

[2020-10-02 12:29] athith-sybo commented on #17363
Hi @rogerluan ,
I have updated Fastlane still the same error. Can you please post the exact key name which needs to be used in CLI

[2020-10-02 12:31] rogerluan commented on #17363
It's still `api_key_path` https://docs.fastlane.tools/actions/deliver/#parameters

By the version you were running, you're probably running the wrong CLI command, such as confusing `fastlane deliver` with `bundle exec fastlane deliver` or vice versa.

What is the exact full command you're entering @athith-sybo ?

[2020-10-02 13:43] sergeykochanov commented on #17321
@joshdholtz Could you please take a look on this? If my assumption is correct I can make a PR with this change. Thanks!

[2020-10-02 14:22] athith-sybo commented on #17363
I maintain my deliver parameters in the deliverfile which has the following values:
app_version '1.5.5'
automatic_release false
skip_binary_upload true
metadata_path './metadata'
screenshots_path './screenshots'
submit_for_review false
overwrite_screenshots true
skip_screenshots false
api_key_path ./AppstoreConnect_API_KEY/fastlane.ios.json

and then i go to the path where my meta-content, screens

[2020-10-02 14:23] athith-sybo commented on #17363
But anyways i will update my fastlane version and try

[2020-10-02 14:52] AndreVasilev opened #17365 "ArgumentError: [!] same file"
### Issue Description

Just after updating to Xcode 12 and Fastlane 2.162 my builds started to fail
Projects with Bundle name in Russian fails, but projects with English bundle names are ok. Seems to be the main reason of the issue.

##### Command executed
build_app(scheme: "myscheme")

##### Complete output when running fastlane, including the stack trace and command used
[code]

### Environment

[2020-10-02 15:25] joshdholtz commented on #17365
@AndreVasilev Would you have an example of a Russian name that we can use to debug this? Thanks!

[2020-10-02 15:34] AndreVasilev commented on #17365
Yes, this is my app's bundle name in RU locale

[2020-10-02 15:42] joshdholtz commented on #17321
@sergeykochanov Ahhhhhh, that is a weird issue! If you want to make a PR that would be great 😊 I’d be happy to test it out!

[2020-10-02 15:42] joshdholtz commented on #17365
Cool cool! I’ll take a look at this next week and see what we can do 😊

[2020-10-02 15:55] niklassaers opened #17367 "deliver: is macOS apps supported with deliver? devliver init fails"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [ ]x I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
My impression is that deliver supports mac

[2020-10-02 15:57] joshdholtz commented on #17334
@patreu22 Are you using the API Key on a CI too? Or are you doing something different?

[2020-10-02 16:04] patreu22 commented on #17334
No, I was using the `upload_to_testflight` manually, but using the `app_store_connect_api_key` action in the before_all method to ensure the usage of the new API wherever possible. In case it matters my `*.p8` key looks like this one and was not formatted to a one-liner:

[code]

[2020-10-02 16:07] joshdholtz commented on #17334
@patreu22 Are you doing something like this with your `app_store_connect_api_key` action? 👇

[code]

[2020-10-02 16:08] patreu22 commented on #17334
Yes, actually it's this chunk:
[code]

[2020-10-02 16:14] joshdholtz commented on #15963
@EpaL If you want to a submit a PR for this I’ld be happy to work with you and getting it ready to merge!

[2020-10-02 16:31] joshdholtz commented on #17334
@patreu22 Huh... I’m a bit confused on how you would receive this error unless your key someone got revoked 🤔 I’ll do some digging into!

[2020-10-02 16:35] patreu22 commented on #17334
That makes us two! Just ran the lane again, everything worked out. If I can provide you with any helpful information, just let me know. Here's some relevant output so far:

[code]

[2020-10-02 18:43] minuscorp commented on #15997
Is this still an issue?

[2020-10-02 19:08] Lucashuang0802 commented on #17332
encountered the same issue and work after upgrading to 2.162.0

[2020-10-02 22:41] Brandon-T commented on #17340
I had this issue.. I just solved it by doing:

[code]

That `gsub` function replaces all `\n` with an escaped `\\n`.. I haven't tested with Azure, but for Github secrets, we pasted the key exactly as we got it from Apple's developer portal, and I passed it as an ENV variable to Fastlane from Github secrets..

Then I invoke the above as the very first thing before my build runs. Finally, I do:

[co

[2020-10-02 22:44] Furman950 commented on #17339
Hey guys I'm using

- fastlane 1.60.0
- fastlane-plugin-firebase_app_distribution 0.2.3

but I am still getting back `[!] the server responded with status 400 (Faraday::BadRequestError)`

do you guys have any suggestions?

[2020-10-03 11:59] tedgonzalez commented on #16193
activity

[2020-10-03 12:00] tedgonzalez commented on #15996
activity

[2020-10-03 14:14] aidandavis commented on #15184
I have this same error on a deploy today after no change to the fastlane config or github actions script. I haven't seen this error previously.

The app build properly but seems to be an issue uploading to testflight.

[2020-10-03 14:24] rogerluan commented on #15184
@aidandavis sounds like your issue is unrelated to this one, could you [file a new Issue](https://github.com/fastlane/fastlane/issues/new/choose)?

[2020-10-03 14:43] aidandavis commented on #15184
You're right, but the error message linked directly to this issue.

[2020-10-03 15:20] whalemare commented on #17365
Have the same issue. Suppose, this caused by cyrillic symbols

[2020-10-03 17:06] minuscorp commented on #15184
Just to clarify things out, does the example provided crash fastlane in the latest version? To avoid fixing an issue that has been solved😅

[2020-10-03 17:32] #17088 closed

[2020-10-03 17:35] rogerluan commented on #15184
It was last tested in 2.160.0, I'll test again now in 2.162.0 @minuscorp

[2020-10-03 17:38] rogerluan commented on #15184
Yes, it still happens as of 2.162.0 @minuscorp 😅

[2020-10-03 19:00] rogerluan commented on #17334
I'm facing the same issue described above.

This is the stack trace I get:

[code]

Key differences that might help debugging:

1. I'm sure my set of issuer ID, key ID and key are correct, I even re-generated them in another organization just make sure.
2. For the key contents, I tried using both env var and filepath. Same results.
3. I added verbose logging and realized that:
  a. Spaceship clien

[2020-10-03 19:12] minuscorp commented on #15184
Your example of still usable isn't it? It's SPM, Xcode or both? @rogerluan

[2020-10-03 19:21] rogerluan commented on #15184
I don't understand your first question 😅
It's Xcode, not SPM.

To replicate:

1. Initiate a brand new fastlane swift project.
2. Create a test lane like `func testLane() { }` that does nothing, just for testing purposes. Here you can attest that it works fine.
3. Create a swift file, a group, and move the swift file into the group. Like this:

<img width="461" alt="image" src="https://user-images.

[2020-10-03 19:24] minuscorp commented on #15184
Alright thank you very much for the example!🤗

[2020-10-03 19:33] rogerluan commented on #17334
EDIT: Nevermind 🤦🤦🤦

Autocomplete screwed me - I was sending `spaceship_connect_api_key` instead of `spaceship_connect_api_key_id` in the `key_id` field 😭

It's working as expected now.

I'll think how we can improve error recovery via this flow, since what Josh said is 100% correct: people will stumble upon errors in this flow left and right 😅

[2020-10-03 20:00] rogerluan opened #17370 "[spaceship] AppStoreVersion properties are different between iTunes credentials VS App Store Connect API token"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

I have a standalone ruby script that uses

[2020-10-04 01:05] TragedyStar commented on #17309
Oh, yes. We need another fix. The review attachment also be wiped out if upload metadata doesn't contain it.

I don't use `--skip_metadata` because I need create a phased release.

[2020-10-04 14:12] fingersakimbo commented on #16429
This is still an issue in the latest version (`fastlane 2.162.0`)

[2020-10-04 16:58] mikeblanton commented on #17365
I've got the same issue, with greek characters. I'm my case, it's failing with a bundle name that has 'Δ' in it.

[2020-10-04 17:31] #17086 closed

[2020-10-04 17:32] #16164 closed

[2020-10-04 20:39] Woit commented on #16700
Solved that with forced set release notes in lane.
But be aware that i not uploaded any build and just try to deploy fresh version from TestFlight to AppStore Review.
(and i hope it will works in other similar cases)

`desc "Send last build from TestFlight to AppStore review"
  lane :public_deploy do
    deliver(
      build_number: "#{latest_testflight_build_number}",
      submit_for_review: tru

[2020-10-04 21:32] patreu22 commented on #16700
I'm having the same issue. Actually it's happening for the release_notes, but also the other other option by providing a general `changelog.txt`. This one is ignored as well. I also noticed that my `promotional_text.txt` files are ignored as well. Also the `copyright.txt` was ignored. Setting it via the `copyright` attribute of the deliver method works. All the other metadata is provided as expect

[2020-10-04 21:33] joshdholtz commented on #16700
@patreu22 Will look into tomorrow morning and get back to you then!

[2020-10-05 01:24] ChristopherDrum commented on #17153
Hmm... I'm having this exact same issue, which started with my submission on September 25.
This past Friday the issue occurred with Fastlane v2.162.0
Not entirely sure which version started the problem for me.
I will open a new issue, as requested above.

[2020-10-05 01:59] ChristopherDrum opened #17371 "ITC Team ID specified in AppFile isn't being passed to connect_api; now I get "Multiple Teams found; unable to choose""
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
#17153 says it fixed this issue, but to mak

[2020-10-05 06:56] SEGVeenstra commented on #17340
@Brandon-T Thank you, but I already have a work around.
It would be nice if it gets a proper solution though.

[2020-10-05 09:02] katanaBoy commented on #17347
same here

[2020-10-05 09:46] arsolisGen commented on #17355
I have the same problem, in my keychain the certificate appears as "certificate is not trusted" but i see that the certificate is created in the apple dashboard and seems to be ok. Fastlane doen't push anything to the repository.

[2020-10-05 09:53] dcacenabes commented on #17283
Hi @rabbitinspace ,

I have attempted that, but it does not work.
I have an existing phased release object, which is set to INACTIVE. I retrieve it using `phasedRelease = version.fetch_app_store_version_phased_release`, and then I do `phasedRelease.resume`. This triggers the following error:

`An attribute value is not acceptable for the current resource state. - You cannot change the state of a p

[2020-10-05 09:57] arsolisGen commented on #17355
I solve the issue reinstalling apple intermediate certificates. You can download it here:

https://developer.apple.com/certificationauthority/AppleWWDRCA.cer
https://www.apple.com/certificateauthority/AppleWWDRCAG3.cer

Hope it helps!

[2020-10-05 10:23] Priyankakum opened #17375 "push_to_git_remotes not working from pipeline to commit the changes and tags to the current building branch"
### New Regression Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [ ] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Regression Information

- Breaking version: [e.g. `2.160

[2020-10-05 10:25] FrancisLeigh opened #17376 "GITLAB CI: Could not retrieve response as fastlane runs in non-interactive mode"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues) ✅ ✅ ✅ ✅ ✅ ✅

### Issue Description
`fastlane install_plugins` scri

[2020-10-05 10:30] FrancisLeigh commented on #17376
@fastlane-bot i did

[2020-10-05 10:44] jgongo opened #17377 "Nested import won't work"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
If I use `import` with a relative path in a

[2020-10-05 11:28] jgongo commented on #17377
I have just found out that `import_from_git` has a `dependencies` parameter, that seems to be used to import several files from a given repository. I get the behaviour I want if I do the following:

In `./fastlane/Fastfile` use `import_from_git` instead of `import`, with list of dependencies:
[code]

In `../../fastinclude/fastlane/Fastfile` remove the local `import`

This causes the behaviour I wa

[2020-10-05 11:40] Priyankakum commented on #17375
Classification: HCL Internal
2020-10-05T11:31:24.1242060Z <details><summary>ðŸš« fastlane environment ðŸš«</summary>
2020-10-05T11:31:24.1242520Z
2020-10-05T11:31:24.1242700Z ### Stack
2020-10-05T11:31:24.1242830Z
2020-10-05T11:31:24.1243120Z | Key                         | Value                                              |
2020-10-05T11:31:24.1243960Z | --------------------------- | -----------

[2020-10-05 12:11] katanaBoy commented on #17355
Oh thank you! Will try this too.

[2020-10-05 12:18] Katsz commented on #17371
I don't believe #17153  is somehow related. `conflicting chdir during another chdir block` sounds suspicious  though. Can you double check you are running `fastlane whatever` in root directory of your project and there is `./fastlane` folder inside?

[2020-10-05 12:25] Katsz commented on #17371
You also may try to run something like
[code]
If `itc_team_id` is present then something broke between 2.157.4 and 2.162.0.

[2020-10-05 12:31] felginep opened #17379 "Ruby extension on base class (`String`, `Hash`) undefined in Fastfile"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Let's take this contrived example:

[code]

[2020-10-05 12:56] kungfuslippers commented on #17339
Yes, I think you were right about the authentication. I suspect the firebase_cli_token had become invalidated somehow as when I commented it out in the  firebase_app_distribution(..) section of my fastfile it attempted to use a cached version and completely successfully.

[2020-10-05 12:57] frozenzia commented on #17327
We have this problem as well, but don't have a promographic.png in metadata which we could delete. Any other ideas?

[2020-10-05 13:02] anh1979 commented on #16911
I also get "An attribute value is not acceptable for the current resource state." (but only that message) - it seems as if that is the really last step when putting our apps in review, it may be a run condition?

No Apple Arcade and no pre-order here! Also no changes in submission_information values or other flags. Just delivering a new version of our app with updated screenshots and metadata...

[2020-10-05 13:08] minuscorp commented on #17379
For extensions, I put them in a separate file and require them whenever they're needed, that might help you.

[2020-10-05 13:16] felginep commented on #17379
Indeed the following trick works:

[code]

[code]

But I still don't get why I need to use the `require` like this.

[2020-10-05 13:25] lfkellogg commented on #17339
@Furman950 There are some other cases where the API can return 400, I suspect there might be something else going on. Can you please open up a new ticket in the plugin repo (https://github.com/fastlane/fastlane-plugin-firebase_app_distribution), and include the full fastlane output and the `fastlane_app_distribution` action call in your Fastfile?

[2020-10-05 13:27] katanaBoy commented on #17355
@arsolisGen Thank you soo much you are a life saver!!  That solved the problem

[2020-10-05 13:35] dlakes-hx opened #17380 "Deliver fails to delete screenshots that don't yet exist when overwrite_screenshots is true"
Noticing an issue with how `deliver` is sending along screenshots. Looking through issues saw lots of activity around screenshots recently such as #17346, #16972, and #16842, but nothing that directly correlated.

### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [X] I

[2020-10-05 14:16] minuscorp commented on #17379
Fastfile is not a common Ruby file and don't follow the same rules, so it is a common approach to split fastlane code from Ruby one

[2020-10-05 15:55] #17379 closed

[2020-10-05 16:07] squallstar commented on #17380
I am having the same issue:

[code]

[2020-10-05 17:02] curt-tophatter commented on #17327
FWIW the graphic I deleted was actually named `promoGraphic.jpeg`.

[2020-10-05 17:17] joshdholtz commented on #17344
This should be fixed in latest release! ❤️  Feel free to let me know if you run into any other issues!

[2020-10-05 17:17] #17344 closed

[2020-10-05 18:47] rogerluan commented on #17347
Hey @redreceipt @katanaBoy 👋  Did this break recently, or is it the first time you're trying to run it?

There have been some changes that affect `match` recently, make sure you're on the latest version before trying again 🙏

[2020-10-05 18:55] banane commented on #17330
This is occurring for me, as well

[2020-10-05 18:56] rogerluan commented on #17376
Hey @FrancisLeigh 👋
I know it sounds obvious, but have you tried going through the [action troubleshooting docs](https://docs.fastlane.tools/plugins/plugins-troubleshooting/)? 🙏

[2020-10-05 19:06] redreceipt commented on #17347
First time I’ve used it.

Sent from my iPhone

[2020-10-05 19:10] rogerluan commented on #17380
Tagging the screenshot :ninja: here: @ainame 😇

[2020-10-05 19:13] felginep commented on #17379
Ok so I made some digging and found the explanation.

Behind the hood, fastlane uses a [`Fastlane::FastFile`](https://github.com/fastlane/fastlane/blob/master/fastlane/lib/fastlane/fast_file.rb) class that reads the Fastfile. During the parsing, a call to `eval` is [made](https://github.com/fastlane/fastlane/blob/55c2ad14205d53bceec783cbc577342ab791a171/fastlane/lib/fastlane/fast_file.rb#L61) with

[2020-10-05 19:19] #17357 closed

[2020-10-05 19:20] joshdholtz commented on #17330
I believe this is an issue on the upload server’s side so keep trying again after a little bit and it _should_ fix itself 🤞

[2020-10-05 19:20] ainame commented on #17380
Haha thank you for tagging me. This sounds strange though🤔

@dlakes-hx

Did you have some existing screenshots in the previous version? Or did you add/remove regions to support screenshots?

In any cases, manually cleaning up screenshots on App Store Connect should resolve the issue for the time being, I believe.

[2020-10-05 19:24] joshdholtz commented on #17340
@SEGVeenstra This should have a proper solution in `2.162.0` - https://github.com/fastlane/fastlane/blob/master/fastlane/lib/fastlane/actions/app_store_connect_api_key.rb#L22

The `app_store_connect_api_key` has that same gsub that @Brandon-T mentioned ☝️

[2020-10-05 19:26] joshdholtz commented on #17340
Oh wait... I did already comment on this about that OMG

I think I will add a base64 encoded option though because why not

[2020-10-05 19:39] dlakes-hx commented on #17380
@ainame yes, the prior (reviewed and released) version did have screenshots attached. We're attempting to perform a minor version bump, and the new minor release has no assets in the submission yet. We're not able to delete the screenshots for the prior version, because it's already through the submission process.

[2020-10-05 20:05] rogerluan commented on #17375
Hey @Priyankakum 👋

Looks like you're in a detached HEAD state, and not in an actual branch. If you checkout to an existing branch, does the problem gets fixed?

[2020-10-05 20:10] ainame commented on #17380
@dlakes-hx

Does this mean that the new release you are preparing with `deliver` hasn't succeeded?

I can't tell you if this is the case for you, but there is a tricky behaviour in `overwrite_screenshots` option. If your current local screenshots' directory misses a language/region that was previously uploaded for, `deliver` will skip the deletion for `overwrite_screenshots`. So please check what

[2020-10-05 20:15] joshdholtz commented on #16911
Hey, fam! 👋

I made a fix for this over at https://github.com/fastlane/fastlane/pull/17383. `automatic_release` is now optional (which is a slightly breaking change but I think this is how it should behave). If you are an Apple Arcade, a Pre Order, or just don’t this to be set you can either 1) not set this or 2) explicitly set it to `nil` and you should be good 👍

This decision was made because w

[2020-10-05 20:48] rogerluan commented on #17347
After some digging, looks like the issue you guys are facing is not related to fastlane, but git itself, in the environment you're working on.

Have you tried any of these?

https://github.com/tschaub/gh-pages/issues/230#issuecomment-368868268

(it's generally better to use ssh instead of https anyway, otherwise you might also face 2FA issues).

Or: https://github.com/tschaub/gh-pages/issues/230#i

[2020-10-05 21:06] dlakes-hx commented on #17380
Yes @ainame it is failing in the `deliver` step. The only assets on the prior release are for `en-US`, and also the same on the pending release in the `fastlane/screenshots/en-US` folder.

Sorry I didn't append the fastlane summary

[code]

fastlane summary
----------------------------------------------------------------------------------
| Step | Action

[2020-10-05 21:29] ainame commented on #17380
@dlakes-hx

Can you please elaborate on what changes/diffs you are trying in screenshots updates?
For example,

[code]

I'm a bit confused because your prior description's log shows 35 images not deleted but the summary you posted at last shows 7 remained...

Again, if you remove all the screenshots on App Store Connect manually, it should resolve the issue for the time being. Make sure screenshot

[2020-10-05 21:50] barnaclebarnes opened #17384 "Error when creating certificates - ENTITY_ERROR.ATTRIBUTE.TYPE"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Creating a certificate from `sync_code_sig

[2020-10-05 23:30] joshdholtz commented on #17371
Adding this to my queue to look into this week!

[2020-10-06 02:29] rabbitinspace commented on #17283
@dcacenabes thanks for checking it! That's really unfortunate. I hope it's possible to change manual release to automatic one after a review. If so, then there's [this](https://developer.apple.com/documentation/appstoreconnectapi/modify_an_app_store_version) API to set an automatic release date (now + 5min). If not, looks like going back to Apple ID auth is the only way :(

[2020-10-06 03:13] Priyankakum commented on #17375
@rogerluan if i used this command(sh("git checkout $GIT_BRANCH")) and try to checkout the branch using environment variable GIT_BRANCH it is also not working. i dont want any hardcoded branch name in my script i just want to automatically pick the current building branch and commit back to the branch.

[2020-10-06 03:15] Priyankakum commented on #17375
Can you please suggest that how the HEAD detached is happening in my script. this should not to be happen.

[2020-10-06 03:43] sarunw opened #17385 "Shared App Store Connect API value in lane context only work with pilot"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

From [App Store Connect API](https://docs.

[2020-10-06 04:14] #17375 closed

[2020-10-06 04:39] userException opened #17394 "Fastlane upload to testflight is failing"
**Version:** 2.162.0

Error:  Build is not in an externally assignable state.

**Full trace:**

Traceback (most recent call last):
	34: from /usr/local/bin/fastlane:23:in `<main>'
	33: from /usr/local/bin/fastlane:23:in `load'
	32: from /Library/Ruby/Gems/2.6.0/gems/fastlane-2.162.0/bin/fastlane:23:in `<top (required)>'
	31: from /Library/Ruby/Gems/2.6.0/gems/fastlane-2.162.0/fastlane/lib/fastlane

[2020-10-06 05:47] FrancisLeigh commented on #17376
@rogerluan yeah I have read through the troubleshoot guide but to no avail. I'll double check my fastlane version on the CI when I get into work. I don't explicitly set a DEFAULT_GEMFILE_PATH either

[2020-10-06 08:29] victormihaita commented on #17334
I get the same error with my implementation. Any updates on this? @joshdholtz

[2020-10-06 10:54] dcacenabes commented on #17283
That is actually a good idea. We have a 1 week release train, so I can't test this until next Monday. I'll give it a shot and update this thread.

[2020-10-06 11:26] patreu22 commented on #16700
@joshdholtz Any chance to reproduce or debug that, Josh?

[2020-10-06 12:52] rogerluan commented on #17375
I don't know enough about your environment to be able to tell - are you running in a CI? Each CI has its own way of doing things. I use Travis, and Travis has an env var `TRAVIS_BRANCH`, but I don't even have to use it to checkout, if I do `git status` I'll know that I'm already in the current branch. Are you doing a shallow clone? Or customizing the git clone process in any way?

(Also, since you

[2020-10-06 13:01] rogerluan commented on #17376
I'm digging into this now.

You're seeing the confirmation screen because of the error `It looks like fastlane plugins are not yet set up for this project.`. This verification is done by checking whether your `Gemfile` includes the content necessary to run the plugin.

That part is explained in the troubleshooting docs here: https://docs.fastlane.tools/plugins/plugins-troubleshooting/#gemfile-and-

[2020-10-06 13:03] rogerluan commented on #17376
Also, equally important, do you know where your Pluginfile is located at? The code above will look for the Pluginfile at the same path as your Gemfile, and your Gemfile is in a weird tmp location (not sure why). Maybe it is looking up at the wrong Gemfile. Gemfiles are usually in `./Gemfile` (i.e. the same directory as your project), and not in `/tmp/Gemfile` (which looks like a system path, which

[2020-10-06 13:05] rogerluan commented on #17334
@victormihaita what's your setup like? key filepath, or key contents? If key contents, did you explicitly add  `\n` to your key contents?

[2020-10-06 13:18] dlakes-hx commented on #17380
@ainame  I'll try and unpack each bit:

Yes, you're correct. I pulled that second log entry from a different app build, my apologies for the confusion. We do whitelabel builds, and I just picked the wrong log output. But all our builds are showing the same symptoms.

For the original example

* v 4.0.0 (released) has 35 screenshots spread among several device sizes
* v 4.0.1 (preparing) is going t

[2020-10-06 13:53] katanaBoy commented on #17347
First time for me too.
I use MATCH_GIT_BASIC_AUTHORIZATION=XXX with
match(type: "enterprise", app_identifier: "bundle_id", keychain_name: "some.keychain", keychain_password: "pass") in a lane and that works for me fine.
But when I tried  'fastlane match nuke enterprise' got similar error.

[2020-10-06 14:05] FrancisLeigh commented on #17376
@rogerluan Yes i've read through the troubleshooting and haven't had any luck.

See below the relevant files.

*fastlane directory*
`[project root]/fastlane`
![Screenshot 2020-10-06 at 15 02 02](https://user-images.githubusercontent.com/10357801/95211825-f0462980-07e4-11eb-8964-bfc5663b15e8.png)

*[project root]/Gemfile*
[code]

*[project root]/fastlane/Pluginfile*
[code]

Let me know if you need

[2020-10-06 14:18] ainame commented on #17380
@dlakes-hx

Thank you for the explanations!

I think this is not expected behaviour. In your cases, once you deleted all the images for v4.0.1 on App Store Connect somehow, there shouldn't be any deletions. As far as I'm aware, you don't need to do this >  we need to perform a deliver init and check image count beforehand

The thing I see strange in your situation is that even you have no images o

[2020-10-06 14:23] rogerluan commented on #17376
Hum I just replicated your folders locally and it seems everything's correct:

[code]

I suspect that this function https://github.com/rubygems/bundler/blob/master/lib/bundler/shared_helpers.rb#L19 is fetching the wrong Gemfile path for you. Instead of looking at `[project root]/Gemfile`, it's reading `/tmp/Gemfile` (which I don't think it's the same path as your project root).

Can you try settin

[2020-10-06 15:12] FrancisLeigh commented on #17376
@rogerluan it looks like the Gemfile @ `/tmp/Gemfile` is used [here](https://github.com/mingchen/docker-android-build-box/blob/master/Dockerfile#L180) by the `mingc/android-build-box:latest` docker image.

My `.android` yaml now looks like.
[code]

Going to wait and see how that builds...

[2020-10-06 15:13] rogerluan commented on #17385
Hey @sarunw ! 👋

Took me awhile to figure out where to inject this context, but I opened a PR to resolve this issue, could you help me by testing it? 🙏

[2020-10-06 15:20] rogerluan opened #17391 "5 broken specs in master"
### New Regression Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Regression Information

- Breaking version: latest (2.16

[2020-10-06 15:22] rogerluan commented on #17376
Really really nice catch! That must be it!
Hopefully your change won't break existing functionality of that docker image 😅

[2020-10-06 15:42] scottiedog45 commented on #17334
@rogerluan curious about this `\n` as I'm running into the same issue. Are you saying if your key is:

[code]
change it to...?
[code]

Weirdly the `api_key` seems to work for my `match` command but not for `upload_to_testflight`.

[code]

[2020-10-06 15:50] dlakes-hx commented on #17380
@ainame hopefully this provides some insight

<details>
<summary>Verbose error output</summary>
<pre>
INFO [2020-10-06 11:23:00.10]: ---------------------
INFO [2020-10-06 11:23:00.10]: --- Step: deliver ---
INFO [2020-10-06 11:23:00.10]: ---------------------
INFO [2020-10-06 11:23:00.10]: Login to App Store Connect (REDACTED)
Reading keychain entry, because either user or password were empty
Loa

[2020-10-06 16:27] ainame commented on #17380
@dlakes-hx

Assuming you have set `--verbose` option properly to run your submit-command, what I can see from the logs is that `deliver` doesn't even try to delete screenshots. It should have contained logs like this if it's trying to delete some.

[code]

https://github.com/fastlane/fastlane/blob/5ee9f2e1f1d602e2af129e94eec2313091448abf/deliver/lib/deliver/upload_screenshots.rb#L76

As I told in

[2020-10-06 18:17] joshdholtz commented on #17334
Hello! Working on a solution for this today 😊 Got side tracked by some other emergency issues that came up 😬

[2020-10-06 18:18] #16911 closed

[2020-10-06 18:35] joshdholtz commented on #17334
BTW... I’m thinking of adding a Base64 option of some sort onto `key_content` so that you don’t need to deal with weird new lines and stuff 🤷‍♂️

[2020-10-06 18:52] thiagodelmotte-mb commented on #16129
Not resolved.

[2020-10-06 19:10] rogerluan commented on #17334
💯 totally in favour of this! 💪

[2020-10-06 19:38] joshdholtz commented on #17334
Got a fix here that will actually show the message that I’ve been expecting it to show this whole time 😊 ☝️

[2020-10-06 19:44] patreu22 commented on #17334
Great you found a fix for that! But that means sth. like my approach within the before_all block doesn't seem to generate a proper token yet, right?

[2020-10-06 19:48] joshdholtz commented on #17334
@patreu22 I’m not sure what is going on with yours 😔 Did you verify that your `issuer_id` is correct for that key and that its not revoked? I’m sure you did but I have to ask 😇

[2020-10-06 19:55] patreu22 commented on #17334
Yeah, double-checked it again, all fine with the credentials. The action seems to be ignored and Fastlane uses the regular way instead of the AppStore Connect API. But maybe the change for the key file will fix this, too

[2020-10-06 20:16] dlakes-hx commented on #17380
@ainame It looks like this may be a matter of "fixed the bug".

Our builds have a shared workspace, so I think when you asked about the directory structure last time I must have been seeing structure from a subsequent build, and not realized it.

I bumped up logging on the call, and it appears for that particular build, the directory is:
`fastlane/screenshots`. *However* it has no contents, includ

[2020-10-06 21:35] joshdholtz commented on #17334
@patreu22 Can you post your whole `Fastfile` here so I can try to replicate?

[2020-10-06 21:54] ainame commented on #17380
Haha, It's my pleasure🙂

[2020-10-07 00:13] barnaclebarnes commented on #17384
Running this from the command lane seems to work OK though:

`bundle exec fastlane match appstore --verbose --storage_mode=git --git_branch="ABCDEYKK6" --git_url="git@github.com:certs/certificates.git" --team_id="ABCDEYKK6" --username="someuser@stqry.com" --app_identifier="com.mytoursapp.someapp" --keychain_name="/Users/barnaclebarnes/Library/Keychains/appstore.keychain-db" --keychain_password="se

[2020-10-07 00:37] ChristopherDrum commented on #17371
@Katsz Well, please remember that this was all working fine until two weeks ago, with no changes on my part.
Agreed about the chdir part, but that is in a file I don't control 🤷 I'm not sure what I'd do about that.
I'll try your CredentialsManager fetch trick and see what it turns up.

[2020-10-07 01:47] tmaly1980 commented on #17334
I'm getting this issue, and I'm not using the AppConnect API. I also pass include_bitcode: false, include_symbols: false . No help. The response it's getting is nil.

[2020-10-07 01:52] ChristopherDrum commented on #17371
Running today, nokogiri seems to be the offender of the `chdir` issue 🤔
[code]

bundler is very very out of date, I see now.
`bundler (1.17.2 < 2.1.4)`

That said, CredentialsManager did properly return the value for itc_team_id, as set in the Appfile.

[2020-10-07 02:13] joshdholtz commented on #17334
@tmaly1980 I believe it would? 🤔 I think that makes sense but I haven't tried. I merge a fix into master. Are you able to test out master and see if that has a different behavior for you?

[2020-10-07 02:36] tmaly1980 commented on #17334
@joshdholtz yes, it looks like it works for me. Thanks! This is my Gemfile:

gem 'fastlane', git: "https://github.com/fastlane/fastlane", ref: "48151291f2c4949c3b1b9919ba2cc81a7cc33293"

[2020-10-07 04:01] nafu commented on #17048
Thank you for reporting and helping each other 😄

I think we can fix this problem with latest fastlane version 👍
I'd appreciate if you could update fastlane version to [2.162.0](https://github.com/fastlane/fastlane/releases/tag/2.162.0) and try the deliver command again 🙏

I hope it works well 🤞

[2020-10-07 07:30] CaptionBarbosa opened #17396 "Possible to specify different provisioning profiles for build/archive and export in gym?"
Good day,

I'm running into an issue with gym when trying to build an iOS app that uses extended entitlements (in this case for Apple Pay) and manual signing. The issue here is that during signing in the build phase, the provisioning profile needs to be a development one, while during export it either needs to be Ad-Hoc or App Store.

In this case gym just uses the same for both phases, so either

[2020-10-07 07:57] mollyIV commented on #17365
Hey 👋

I gave it a shoot and created the pull request with the fix: https://github.com/fastlane/fastlane/pull/17397.

[2020-10-07 10:12] CaptionBarbosa commented on #17396
As is usual with these sorts of things, I found a solution around an hour after posting. So for anyone who might waste as much time as I did with this in the future, if you need to specify two different provisioning profiles for build and then export, you can do so like this:

settings_to_override = {
  :BUNDLE_IDENTIFIER => "Bundle_Identifier",
  :PROVISIONING_PROFILE_SPECIFIER => "Provisioning_P

[2020-10-07 10:13] #17396 closed

[2020-10-07 10:31] strongbox-mark commented on #16502
Can confirm that emptying metadata directory and setting skip_metadata=false workaround works. Thank you :)

It would be great to have this switch separate from metadata entirely. Cheers! Feel free to close out.

[2020-10-07 10:53] kiri11ko opened #17398 "Same file error with IPA"
[code]
</details>

<details><summary>`./fastlane/Appfile`</summary>
[code]
</details>

### fastlane gems

| Gem      | Version | Update-Status |
| -------- | ------- | ------------- |
| fastlane | 2.162.0 | ✅ Up-To-Date  |

### Loaded fastlane plugins:

| Plugin                     | Version | Update-Status |
| -------------------------- | ------- | ------------- |
| fastlane-plugin-diawi      | 2

[2020-10-07 10:59] Layne25 commented on #17350
Thanks for sharing this valuable information with me like to see some more posts here
keep sharing such posts [https://www.aessuccess.us/]aessuccess(url)

[2020-10-07 11:31] iadeelzafar opened #17399 "An error occurred while installing digest-crc (0.6.1), and Bundler cannot continue."
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

I'm trying to Install Fastlane on Ubuntu v

[2020-10-07 11:33] iadeelzafar commented on #17399
@iur-kaia @joshdholtz @rogerluan @kishikawakatsumi

[2020-10-07 11:41] iur-kaia commented on #17399
@iadeelzafar
Apparently my issue was related to a specific VM image on CircleCI. The ruby version there was somehow broken. What I had to do was to change the ruby version to >2.7.0 on that image. CircleCI since then also has updated the image so I don't encounter the issue anymore.

[2020-10-07 11:54] iadeelzafar commented on #17399
So the primary issue was ```/usr/lib/ruby/2.7.0/mkmf.rb:471:in `try_do': The compiler failed to generate an executable file. (RuntimeError)``` as you can see in the logs.

Fixed it after installing [these](https://github.com/travis-ci/travis.rb/issues/558#issuecomment-355962361) dependencies and also `sudo apt-get install build-essential g++`

[2020-10-07 11:54] #17399 closed

[2020-10-07 12:43] sarunw commented on #17385
@rogerluan Sure, I can test it out for `match`.

[2020-10-07 13:40] kmatskevich opened #17400 ""\x82" from ASCII-8BIT to UTF-8"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
Hi to all!
I've faced an issue with certifi

[2020-10-07 14:13] ilyakar commented on #16892
Any updates on this?

[2020-10-07 14:42] joshdholtz commented on #17340
Added new `is_key_content_base64` in #17401 which should fix some of their issues with setting the key content in ENV and CI 🤞

[2020-10-07 15:15] rogerluan commented on #17398
Hey @kiri11ko 👋 Could you please fill out [the appropriate form for reporting issues](https://raw.githubusercontent.com/fastlane/fastlane/master/.github/ISSUE_TEMPLATE/BUG_REPORT.md) in _fastlane_? That way we can assist you better and faster. By looking at your issue description and logs, I can't tell what went wrong for you. Thanks.

[2020-10-07 15:55] joshdholtz commented on #17365
I ❤️ @mollyIV

[2020-10-07 16:30] jefernandez commented on #17394
We have now an old issue: https://github.com/fastlane/fastlane/issues/16596

This is my log:
DEBUG [2020-10-07 17:33:38.36]: /Applications/Xcode.app/Contents/SharedFrameworks/ContentDeliveryServices.framework/Versions/A/itms/java/bin/java -Djava.ext.dirs=/Applications/Xcode.app/Contents/SharedFrameworks/ContentDeliveryServices.framework/Versions/A/itms/java/lib/ext -XX:NewSize=2m -Xms32m -Xmx1024m

[2020-10-07 16:34] pedro380085 commented on #16700
Maybe we should use whats_new instead of release_notes?

[2020-10-07 16:35] Strate commented on #17398
#17365

[2020-10-07 16:47] Strate commented on #17296
#17398

[2020-10-07 17:32] #16763 closed

[2020-10-07 18:00] jamesmcmenamin commented on #16700
This affects Azure > Apple Store as well as AppCenter > Apple Store (in app center you can choose input changelog notes or txt file)

[2020-10-07 18:31] jamesmcmenamin commented on #17318
This affects Azure > Apple Store as well as AppCenter > Apple Store (in app center you can choose input changelog notes or txt file)

[2020-10-07 19:17] minuscorp commented on #17398
This is kinda of a duplicate of the linked one or you can provide more information for us to track down the possible bug? 🤗

[2020-10-07 20:34] francofadini commented on #16892
Same problem here. I wait for more than 2 hours, and it doesn't end yet.

[2020-10-07 22:13] #17350 closed

[2020-10-07 22:31] rogerluan commented on #17398
The previous title looks very similar to the error that is being discussed in #17365 so I linked the PR that fixes that one, to this issue, at least until OP can help us understand more about their context 🙏

[2020-10-07 22:44] rogerluan commented on #16892
This was very helpful! Now the review scope is limited to https://github.com/fastlane/fastlane/compare/2.150.0...2.150.2

I'll try to take a look at this later.

[2020-10-08 04:14] taschik commented on #17355
Thanks @arsolisGen for the solution. This also works if you get the error that I got:

[code]

[2020-10-08 07:36] kiri11ko commented on #17398
Yes, I also have the name of the application in Russian. Same problem as in #17365

[2020-10-08 08:45] anneWe commented on #17069
Hi, i have the same issue with fastlane version 2.162.0. Are there any solutions to the issue?

<details>
<summary>The output</summary>
<pre>
<code>
[08:07:34]: --- Step: upload_to_testflight ---
[08:07:34]: ----------------------------------
[08:07:34]: Ready to upload new build to TestFlight (App: XXX)...
[08:07:37]: Fetching password for transporter from environment variable named `FASTLANE_APP

[2020-10-08 08:49] colondeethpark opened #17409 "conflicting dependencies faraday (~> 0.12) and faraday (~> 1.0) Activated faraday-1.0.0"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [ ] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [ ] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

##### Command executed

##### Complete out

[2020-10-08 09:13] max-ott commented on #17400
You'll have to set your console to UTF-8 to avoid this as it has nothing to do with `fastlane` itself.

[2020-10-08 09:17] max-ott commented on #17370
What kind of "role" does your App Store Connect API key have? (yes, that's a thing, learned it just a few weeks ago!)

[2020-10-08 09:17] Panajev commented on #16233
@joshdholtz right now this is auto-closed, but is the project taking this into a future roadmap or is it a consideration for a "Won't Do" list which I think is helpful like the Swift project's commonly rejected proposals list? Seriously, fine with either approach, not trying to put pressure which already abounds :).

[2020-10-08 09:56] regetskcob opened #17410 "exportArchive: Symbols tool failed"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Since we updated to Xcode 12 we can't depl

[2020-10-08 10:44] kmatskevich commented on #17400
Hey @max-ott
Thanks for the suggestion, but it already setted to UTF-8, the console - the standard macOS terminal with the default settings. I've double-checked it and all looks fine, the screenshots:
[https://prnt.sc/uvdr99](url)
[https://prnt.sc/uvdrqr](url)

Any other suggestions?

[2020-10-08 11:36] Rosemary8330 commented on #17385
Thanks for sharing your query I'm having the same problem as the others.

pleased to see your issue as I think I have the same problem [MyGreatLakes ](url=https://www.mygreatlakes.me/)

[2020-10-08 12:50] rogerluan commented on #17355
I just found this https://developer.apple.com/support/expiration/

Maybe you guys had the certificates that were issued before September 1st 2020, and thus got expired when these new ones came out (maybe?)

Could anyone share what the process of "reinstalling apple intermediate certificates" looks like? Is it just downloading those 2 certs and putting them into your keychain? I'm asking because we

[2020-10-08 13:02] rogerluan commented on #17398
Sweet, thanks for confirming @kiri11ko ! That PR will likely be merged soon enough. Meanwhile, you can use its contents by modifying your Gemfile:

[code]

[2020-10-08 13:20] katanaBoy commented on #17355
@rogerluan Hey, that would be awesome. Yes that was the solution for me. On the CI I just use few commands to add it in the keychain.

[2020-10-08 13:50] alyssawolejko commented on #17394
I'm also having the same issue with Fastlane 2.162.0 and XCode 12

[code]

<details><summary>🚫 fastlane environment 🚫</summary>

### Stack

| Key                         | Value                                       |
| --------------------------- | ------------------------------------------- |
| OS                          | 10.15.6                                     |
| Ruby

[2020-10-08 13:54] arsolisGen commented on #17355
yes, that would be great, thank you!

[2020-10-08 15:18] taschik commented on #17355
I have added the certificate to the repository and adding it to the keychain on CI builds like this:

[code]

this way you can make sure you always have the certificates needed to build up the chain. I hope this helps.

[2020-10-08 17:08] tmaly1980 commented on #16233
Besides simply enabling Sign in With Apple for an app (which I believe can be done through the new AppStoreConnect API), what about the private key generation required for verifying the user's token?

https://github.com/invertase/react-native-apple-authentication/blob/master/docs/INITIAL_SETUP.md

We're specifically using white labeled apps via one developer account part of many developer teams, a

[2020-10-08 17:32] #17114 closed

[2020-10-08 18:10] polmum commented on #17385
Hey!
I can confirm sigh works correctly.

[2020-10-08 21:51] rogerluan commented on #17409
Hey @colondeethpark 👋

First, I highly encourage you to use bundler instead of installing fastlane directly in the system. It's a lot easier to manage dependencies 👍
However, to fix your issue, I see that you probably need to update more dependencies other than fastlane so that their requirements don't conflict with each other. Try updating `google-api-client` to the latest version for instance (I

[2020-10-08 22:01] rogerluan commented on #17370
@max-ott It has an `admin` "access":

<img width="117" alt="image" src="https://user-images.githubusercontent.com/8419048/95517927-5d4df080-0998-11eb-96f2-06016fc9c4b3.png">

[2020-10-08 22:12] rogerluan commented on #16233
@Panajev thanks for bringing this up again.

I agree this is something that should be implemented. There're a few capabilities that _fastlane_ is behind, I believe they should all be supported: `"NETWORK_CUSTOM_PROTOCOL", "COREMEDIA_HLS_LOW_LATENCY", "SYSTEM_EXTENSION_INSTALL", "USER_MANAGEMENT", "APPLE_ID_AUTH"`

I'm reopening this issue!

[2020-10-08 22:38] rogerluan commented on #17400
@kmatskevich I have this in my zsh profile:

[code]

I see that yours looks like this:

<img width="288" alt="image" src="https://user-images.githubusercontent.com/8419048/95520438-ace2eb00-099d-11eb-8d4a-89d7363875ed.png">

I know you're using German language, so maybe try setting both LC_ALL and LANG to `de_DE.UTF-8` to see if it works? If not, could you also test `en_US.UTF-8`? So we can narrow

[2020-10-08 22:43] rogerluan commented on #17385
Sweet, thanks for testing my PR and confirming @polmum 🚀

[2020-10-09 03:35] YWD opened #17414 "Error installing fastlane: faraday requires Ruby version >= 2.3."
I don't know if fastlane installed correctly on my mac, and I do have a .fastlane folder in my user directory, and ./bin/fastlane command etc. below is the detail:
![1](https://user-images.githubusercontent.com/8605395/95540383-3f799d80-0a23-11eb-85a9-17ecee4c2834.png)
![2](https://user-images.githubusercontent.com/8605395/95540396-46081500-0a23-11eb-812f-467f7c203d20.png)
![3](https://user-images

[2020-10-09 04:11] YWD opened #17415 "Two-factor authentication"
It seems that I can't use fastlane with my apple id to connect to appstoreconnect, since I've use apple's Two-factor authentication, which can not turn off.

[2020-10-09 04:13] YWD commented on #17414
It seems fastlane is already installed correctly on my mac, but why there is an error print?

[2020-10-09 06:49] userException commented on #17394
I shifted to an older successful commit for my code and it worked. What I can see is from the moment I updated an SDK which requires MixPanel as a dependency to be included via pods, I see this error. If I go back to the commit when this SDK didn't require MixPanel everything worked fine.

[2020-10-09 08:46] Everett12 commented on #17377
i would ecommend this post to others 

I'm having the same problem as the others.

pleased to see your issue as I think I have the same problem

[2020-10-09 08:49] victormihaita commented on #17415
Same issue here. The CI for deploying doesn't work anymore. I use Bitrise, I've tried the Fastlane step, I've tried to use script to trigger my fastlane step and the Bitrise 'Deploy to iTunes Connect step'. None of them work because it requires to confirm the 2FA

[2020-10-09 10:56] danielgindi opened #17416 "Can't install 2.160 due to conflicts"
### New Issue Checklist

- [~] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

For quite some time I tried to update *fas

[2020-10-09 11:07] rogerluan commented on #17416
Hi @danielgindi !

Please check my reply here and see if that helps 🙏  https://github.com/fastlane/fastlane/issues/17409#issuecomment-705842653

[2020-10-09 11:21] danielgindi commented on #17416
@rogerluan Dammit. I searched the issues but didn't find this one.
It's so weird that `gem` does not at least offer upgrades to other components in order to solve this. It's really that much of a "gem"...

Anyway, sadly this did not help. I've upgraded all dependencies the issue still exists.

The main issue is faraday. Fastlane depends apparently on an older version of faraday.

[2020-10-09 11:23] #17334 closed

[2020-10-09 11:26] ianbytchek commented on #17380
Thanks for reporting this and investigating @dlakes-hx!

Hey @ainame, this is apparently the same thing I mentioned in #16972. I changed the default locale from en-GB to en-US awhile ago and looks like that's precisely what causes the issue as you guys have established. I think one bit that can be improved if `screenshots` could support `default` locale like metadata does. My metadata looks like f

[2020-10-09 11:37] Pinto88 commented on #17380
Thanks for the information keep suggesting such informative post [my prepaid center](url=https://www.myprepaidcenter.us/)

[2020-10-09 13:43] mathaeus commented on #17318
Any update on that? :)

We didn't change anything about our setup and it started to fail last week as my colleague mentioned [above](https://github.com/fastlane/fastlane/issues/17318#issuecomment-702153063).

<img width="396" alt="Screenshot 2020-10-09 at 14 41 33" src="https://user-images.githubusercontent.com/5389635/95590252-bcb20c00-0a3d-11eb-955f-a0382c311ace.png">

[2020-10-09 16:16] thor-jc opened #17419 "firebase_app_distribution plugin not working"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
Similar to other closed issues I am having

[2020-10-09 17:11] kevint727 opened #17421 "Deliver fails with no error message if setting metadata"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

If I do not skip the metadata update with

[2020-10-09 17:34] #16642 closed

[2020-10-09 17:35] #16380 closed

[2020-10-09 20:03] TPXP commented on #17177
I believe this is still an issue, it could be solved in my case if match supported app store connect api keys.

[2020-10-09 20:33] jamesmcmenamin commented on #17318
Suppose at some point someone should probably pull-down Fastlane and see what they changed the dang var to... cause someone changed something lol

[2020-10-09 21:43] ainame commented on #17380
@ianbytchek

Glad to hear that you figured out your issue. Hope you are okay with it now🤞
Regarding your suggestion, it would be definitely possible to implement, I guess.

Since I'm not a core contributor at all, I can decide nothing for new functionalities. You should create a feature request ticket. If the spec is fixed and people agree with it, I can pick it up to implement.

Unlike metadata's

[2020-10-09 22:09] ainame commented on #17421
@kevint727

Hi, I checked your `Fastfile` you shared but it looks like yours wrapped `deliver` with `begin` and `rescue`,  which prevents you from getting backtrace logs when fastlane crashes. Backtrace logs will definitely help to address your issue but without that I think we don't have enough information to get any clue of the cause from this description.

So please try removing `begin` and `re

[2020-10-09 22:17] fzyzcjy commented on #17171
No it does not work :(

[2020-10-10 06:20] taylor988 commented on #17409
I faced similar kind of issue last time, I am still searching for some proper solution
I have exactly the same problem.  Anyone got a suggestion?  [Mypascoconnect](https://www.mypascoconnect.website/)

[2020-10-10 10:57] Rosemary8330 commented on #17414
Thanks for the info <a href="https://www.mygreatlakes.me/">MyGreatLakes</a>

[2020-10-10 11:31] Wray888 commented on #17343
Thanks for the info [pupilpath](https://www.pupilpath.us/)

[2020-10-10 13:26] minuscorp commented on #17343
I guess this gets automatically updated, as all Swift interface, with each update of the core.

[2020-10-10 22:14] scottiedog45 commented on #17048
@nafu thanks for the recommendation- I am still getting this error while using `2.162.0`. What information could I provide that would be helpful to you?

Thanks 🙌

[2020-10-11 10:02] xta opened #17423 "[Fastlane.Swift] SnapshotHelper.swift has Swift Compiler Error"
### New Regression Checklist

- [X] Updated fastlane to the latest version
- [X] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [X] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [X] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Regression Information
I'm using fastlane (2.162.0) & Xc

[2020-10-11 12:48] patreu22 commented on #17307
Hey @joshdholtz 👋

I stumbled upon the same error and had the chance to run the spaceship_logs, so here is the crucial part:

[code]

I think @TheWirv might be right. I actually realized I had selected that I am using third-party content and now I had it set as
[code]

Furthermore, I don't see the option to change this on AppStoreConnect, so it's probably a one-way street.

[2020-10-11 14:10] patreu22 commented on #16700
I found in another issue, that my AppStore API Key was only set to "Developer", but at least "App Manager" is necessary. So the changelog is submitted now. What is still not working is the `promotional_text.txt`. It's just ignored.

[2020-10-11 17:32] minuscorp commented on #17423
Thank you for reporting this, I'll work on this ASAP.

[2020-10-11 20:00] bb-git opened #17424 "Deliver doesn't delete old screenshots"
The latest version of fastlane doesn't delete old screenshots. The html file for verification looks fine, but then the message
[code]
appears for every language.
I'm using fastlane 2.162.0

[2020-10-12 06:05] Zebrowski88 commented on #17377
Thnaks ,
I faced similar kind of issue last time, I am still searching for some proper solution about nested import
please suggest me if you find any solution[ L Brands Aces](https://www.acesetm.us/)

[2020-10-12 07:21] meiry opened #17425 "How to couse fastline to fail when Session loaded from environment variable is not valid , when expired"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
Im using CI process to execute fastlane whe

[2020-10-12 11:24] mrvisser commented on #14983
I experienced a similar issue where I would archive and distribute to the app store with xcode and it worked fine, but distributing through fastlane would result in the app crashing during startup.

I have a watchOS companion app and as a result I have 2 separate schemes: one for the iPhone app and the Watch app. I would normally use the watchOS scheme to archive and distribute, however when I ini

[2020-10-12 12:32] anh1979 commented on #17400
The same here, unfortunately. Trying out "en_US.UTF-8", but no luck, either - any ideas?
What changed? Last week the same scenario worked fine.

Please help.

[2020-10-12 12:44] ryabchikova commented on #17296
I tried to test with
gem 'fastlane', :git => 'https://github.com/mollyIV/fastlane.git', :branch => 'gym-fix-building-projects-with-unicode-characters-in-name'

But met another problem, like this https://github.com/CocoaPods/CocoaPods/issues/9884
So, I'll waiting for all the fixes and releases.

One one clarification: out project has Display name and Product name on Russian ("Касса"), but project n

[2020-10-12 13:22] rogerluan commented on #17400
AFAICT nothing changed related to this in _fastlane_ 😥 Can you post your `fastlane env` after your changes @anh1979 ?

[2020-10-12 14:01] rogerluan commented on #17355
Awesome, thanks for the input everyone! And thanks for the snippet @taschik 🤗

I'll add this to my list, with a low priority. If anyone feel like contributing, all PRs are welcome! Please tag me in your PR if you end up opening one 😊

[2020-10-12 15:00] rogerluan commented on #17415
Hey @YWD & @victormihaita 👋

Please see https://github.com/fastlane/fastlane/discussions/17059
The comment marked as the answer of that discussion is the state of the art regarding Apple Authentication. I advise you to update your workflow to use JWT.

If that doesn't suffice your needs, please let me know. 🤗

[2020-10-12 15:04] rogerluan commented on #17188
Hey @thejeff77 👋

I appreciate you taking time to post your concerns.

Regarding changing the default behavior of _fastlane_, sometimes this kind of information does help us debugging, for example when the reported issue is related to different teams and such. Plus, all of those info except the email are harmless to be exposed AFAICT, but I understand your concerns.

We already hide actual sensiti

[2020-10-12 15:11] rogerluan commented on #17416
_fastlane_ actually depends on a newer version of it @danielgindi - by analyzinfg the `fastlane env` logs that you posted earlier, looks like you have `faraday-0.17.0, faraday-0.15.4`, and fastlane requires `faraday >= 1.0`. Try upgrading faraday on its own and retry updating _fastlane_ 🙏 For reference, these are my versions of the conflicting softwares:

[code]

[2020-10-12 15:40] danielgindi commented on #17416
I removed *all* packages mentioned, in all versions.
The output stays exactly the same!

[2020-10-12 16:03] rogerluan commented on #17318
If it is of any help, I just ran _deliver_ and it picked up my `release_notes.txt` and submitted to the App Store just fine.

My folder structure:

<img width="265" alt="image" src="https://user-images.githubusercontent.com/8419048/95767565-4c98c580-0c8b-11eb-8f4d-2e3fce063dcd.png">

[2020-10-12 16:05] rogerluan commented on #17177
In that case, would you mind testing my PR? :) https://github.com/fastlane/fastlane/pull/17390

[2020-10-12 16:14] #17340 closed

[2020-10-12 16:20] victormihaita commented on #17415
@rogerluan thanks for replying.
I have the same issue with the Bitrise step: ‘Deploy to iTunes’. They are also using Fastlane for this, and is failing for that step because is asking for 2FA auth..
if that doesn’t work it means that is an issue on their side or Fastlane?

[2020-10-12 17:14] #17296 closed

[2020-10-12 17:14] #17365 closed

[2020-10-12 17:14] #17398 closed

[2020-10-12 17:16] #17177 closed

[2020-10-12 17:16] #17385 closed

[2020-10-12 17:21] #17359 closed

[2020-10-12 17:32] #17070 closed

[2020-10-12 19:33] rogerluan commented on #17174
It's interesting that during the console prints up there, sometimes it prints the path using forward slashes, sometimes using backslashes 😅

I narrow down the possible place of issue to:
https://github.com/fastlane/fastlane/blob/4753b8dea25c9f9d9b7fc49101b4ee1e4590cb80/screengrab/lib/screengrab/runner.rb#L351

That line should be replacing the temp path with the `@config[:output_directory]` and ap

[2020-10-12 19:34] anh1979 commented on #17400
Other apps build and upload without problems - I checked the certificates and profiles and found out that there is no entry in profiles for THIS app - should be, but isn't.

Last output in my build log is
_Creating new provisioning profile for 'com.aaaaaaa.ffffff' with name 'match AppStore com.aaaaaaa.ffffff' for 'ios' platform_

The last step, which seems to be executed is beginning in line 182 i

[2020-10-12 19:55] rogerluan commented on #17424
Hey @bb-git 👋

Could you follow the [right issue template](https://raw.githubusercontent.com/fastlane/fastlane/master/.github/ISSUE_TEMPLATE/REGRESSION.md) to submit useful information? This will help us track down the bug faster.

@ainame I wonder if you'd be curious to take a look at this issue? 😁🙏

[2020-10-12 20:00] rogerluan commented on #14983
Very interesting scenario  @mrvisser thanks for sharing. Any clue why building & archiving for watchOS is the right choice here? Is this still the case as of Xcode 12? 🤔

[2020-10-12 20:02] Qwix opened #17428 "repairing a provisioning profile with 'fastlane sigh' ends with a spaceship error"
**Summary:** I am trying to use fastlane sigh to update and then download an invalid appstore provisioning profile using a newly created distribution certificate.  I am getting an error ```/usr/local/lib/ruby/gems/2.6.0/gems/fastlane-2.162.0/sigh/lib/sigh/runner.rb:306:in `block in certificates_to_use': undefined method `owner_name' for #<Spaceship::ConnectAPI::Certificate:0x00007fc3c198c5b0> (NoM

[2020-10-12 20:25] rogerluan commented on #17415
@victormihaita there are a few ways to still keep using 2FA with _fastlane_, as you can see in the Discussion I linked above ☝️ e.g. application-specific password, creating a session and passing it as an env var, or if user interaction is enabled (non-CI envs), you can enter the 2FA code manually upon request.

From _fastlane_ point of view, these tools seem to be working correctly as long as you'

[2020-10-12 20:33] JimHowell20 commented on #17423
I'm getting the same error as well.

[2020-10-12 20:49] mrvisser commented on #14983
I'm not sure which is the "right" scheme for archiving an iOS app with a watch companion, they both appear to do the same thing when it comes to archiving.

I just actually had a misconfiguration in my iPhone app scheme that caused an issue. Once I knew it wasn't fastlane at fault I managed to track down the issue in my iPhone app scheme (the Archive task in the scheme had "Debug" build configurat

[2020-10-12 21:28] rogerluan commented on #14983
Got it! Thanks for the explanation @mrvisser 😊 that makes sense!

[2020-10-12 23:01] ChristopherDrum commented on #17318
Just encountered this issue last night with our Japanese release notes. `en-US` and `es-MX` uploaded without error, but `ja` did not. Suspicious part of the log is here:
[code]
The line which appears to correspond to the `ja` version looks malformed?

We have three localizations and the logs before this show proper handling of all three release_notes.txt files up to this point.
Fastlane metadata f

[2020-10-12 23:45] ainame commented on #17424
On top of the template info, to clarify your situation, can you elaborate on what change you were going to apply to screenshots?
So example -
* The app has x screenshots for 6.5-inch screenshots on each region on the current released version
* The next version was going to replace those all screenshots with completely new ones
* etc...

There are a few cases where `deliver` may miss such deletions

[2020-10-12 23:46] ainame commented on #17424
@bb-git

On top of the template info, to clarify your situation, can you elaborate on what change you were going to apply to screenshots?
So example -
* The app has x screenshots for 6.5-inch screenshots on each region on the current released version
* The next version was going to replace those all screenshots with completely new ones
* etc...

There are a few cases where `deliver` may miss such

[2020-10-12 23:59] rogerluan commented on #17071
Hey everyone!

As of release [v2.163.0](https://github.com/fastlane/fastlane/releases/tag/2.163.0), we released some fixes related to how the API key is handled, and this should provide better errors when they occur when using _spaceship_ (so instead of seeing only `handle_response': [!] undefined method `status' for nil:NilClass` you should see a more user-friendly error from Apple's API), and it

[2020-10-13 00:07] rogerluan commented on #17048
Hey everyone, the specific issue that the OP posted () has been effectively fixed here https://github.com/fastlane/fastlane/commit/64c68243be59088e3eea732ec34d5d99dd2846f2#diff-c473cd2cf13e9a3f4cf920239dd67c6e2eed357858f64207d2b031dcd050c5b7R138 and released on [2.156.1](https://github.com/fastlane/fastlane/releases/tag/2.156.1)

I'm gonna close this issue for now. If you're still experiencing iss

[2020-10-13 00:07] #17048 closed

[2020-10-13 00:46] rogerluan commented on #17343
@joshdholtz I think I figured this out. Relevant code:

https://github.com/fastlane/fastlane/blob/4753b8dea25c9f9d9b7fc49101b4ee1e4590cb80/sigh/lib/sigh/options.rb#L12-L38

Turns out that in Swift, by omitting the arguments, since they're nonnull Bools, it forwards to ruby as non-optional `False`, so ruby detects as if the user was providing all the options.

IMO a reasonable solution would be to

[2020-10-13 01:06] rogerluan commented on #17428
The reason behind this is that in this line (the offending line):

https://github.com/fastlane/fastlane/blob/4753b8dea25c9f9d9b7fc49101b4ee1e4590cb80/sigh/lib/sigh/runner.rb#L306

We used to use `spaceship/lib/spaceship/portal/certificate.rb` and now we're using `spaceship/lib/spaceship/connect_api`, and the later doesn't have any reference to the owner of the certificate (e.g. `owner_type` or `ow

[2020-10-13 01:12] scottiedog45 commented on #17048
turns out I'd miscopied an env variable- everything is working smoothly for me. thanks for your work and follow up @rogerluan 🥇

[2020-10-13 01:20] rogerluan commented on #17400
Looks like it's crashing when writing the certificate contents to file:

[code]

I couldn't find any more resources to help you @anh1979 - is setting `:skip_certificate_verification` to `true` a possibility? If you skip certificate verification, that code would be skipped thus it wouldn't crash. Maybe it's a valid option for you. Let me know otherwise 🙏

[2020-10-13 03:24] Qwix commented on #17428
Thanks for the reply @rogerluan .  Unfortunately that gives the same error :(
It fails right after the line `[23:10:16]: Available Code Signing Identities for current filters:`
I am happy to keep trying if you have other suggestions though!

**Input:**
`fastlane sigh --username <username> --team_id <team_id> --app_identifier <application_identifier> --provisioning_name <profile_name> --ignore_prof

[2020-10-13 04:15] bb-git commented on #17424
Thanks for the hint! I didn't have the `overwrite_screenshots` option included. As I used the lane for years, I didn't even consider something like this. You saved me a lot of time :).

[2020-10-13 04:15] #17424 closed

[2020-10-13 05:46] Alvarado67 commented on #17353
Thanks for the information keep sharing such information [talktowendys](https://www.talktowendys.us/)

[2020-10-13 06:09] anh1979 commented on #17400
@rogerluan
Thanks for your answer - I am using match in my Fastfile, so I am not able to set that param directly - match doesn't accept it (I tried, if it will be passed through).
I'd like not to change my whole setup to using cert and sigh by myself - as I wrote above, several apps build in the same configuration (same Fastfile, different bundleId, same codebase) and are finished with success, bu

[2020-10-13 06:22] YWD commented on #17415
Hi @rogerluan I can't get xcode-select installed, do you have any ideas about this? or you can close this issue since later I can use 'App Store Connect API' to communicate with applestoreconnect.
![1](https://user-images.githubusercontent.com/8605395/95822962-6acff580-0d5f-11eb-9a5a-7adf507b6d45.png)

[2020-10-13 06:35] anh1979 commented on #17400
By the way - I tried
`fastlane sigh repair` and
`fastlane sigh manage -e` and both are failing. I don't know if this is related...

Message on **fastlane sigh manage -e**
Going to repair 39 provisioning profiles
Repairing profile 'match AdHoc de.kkkkkkkk.test.app'...

Traceback (most recent call last):
	8: from /Users/administrator/.rbenv/versions/2.6.3/bin/fastlane:23:in `<main>'
	7: from /Users/

[2020-10-13 07:23] victormihaita commented on #17415
Thanks @rogerluan. I reported the issue on Bitrise side and shored with them the docs that you linked and your answer. Looking forward to see what they can do about it 👍

[2020-10-13 08:30] mathaeus commented on #17318
@ChristopherDrum unfortunately I don't have the CI job handy to check if we get the same message, but since we also have `ja` I would assume so.

So maybe `deliver` (or something else) expects `ja-JP` instead of `ja`?
Although [here](https://docs.fastlane.tools/actions/deliver/#available-language-codes) the supported available language codes explicitly list `ja` as well.

[2020-10-13 08:40] antonioned opened #17429 "[Regression] register_devices fails in Fastlane 2.163.0"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

We are using the `register_devices` action

[2020-10-13 08:43] antonioned commented on #17429
Forgot to add, reverting to fastlane `2.162.0` in the Gemfile does not produce this error and everything works properly.

[2020-10-13 08:51] Dele88 commented on #17409
I faced similar kind of issue last time, I am still searching for some proper solution similar error with conflict dependencies faraday please suggest any answer , keep share[ TellPopeyes Survey ](https://www.tellpopeyes.buzz/)

[2020-10-13 09:48] Arrington88 commented on #17370
Thanks for clarifying the difference between appstore version prperties and itunes credentials vs appstore connect api token keep suggesting such informative post [www.myaccountaccess.com](https://www.myaccountaccess.us/)

[2020-10-13 09:56] BenjaminSAILcloud opened #17430 "[Apple 2FA] Session loaded from environment variable is not valid"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

The 2FA app-specific password does not wor

[2020-10-13 10:13] yakimant opened #17431 "Your shell environment is not correctly configured"
I have an issue with locale, which is correctly set on the build agents:
[code]

Scan is failed with exception
`Error building/testing the application. See the log here: 'path_to_log_file.log'.`

After running again in the same Fastfile, there is no locale issue.

After reading the file
`https://github.com/fastlane/fastlane/blob/master/scan/lib/scan/error_handler.rb`
it's possible, that it's not a

[2020-10-13 10:27] yakimant commented on #17431
This issue is only reproduced with xcpretty disabled (by `disable_xcpretty` or `output_style='raw'`).

[2020-10-13 11:34] andwaal commented on #17416
Not solution to come with, but want to chime in that I am struggling with exact same issue as @danielgindi.
Hopefully this can get fixed as an upgrade seem to be the fix for #17332

[2020-10-13 11:42] boeingjr commented on #17429
I saw the same problem today as well.  I made a build using bundle exec fastlane build successfully. fastlane asks me to upgrade, which I do successfully, then minutes later I try to build again, and receive the same behaviour antonioned describes.  My use case seems identical, but I'd like to add that my 'devices.txt' file is afaik generated by the appcenter_fetch_devices plugin and looks like th

[2020-10-13 12:43] minuscorp commented on #17343
I'm with you @rogerluan, Optional Booleans are not a good practice in Swift. That being said we have to use a type that accepts `nil` and any other type, because `Either` doesn't solve the issue with `nil` unless we give it some sense that I can't see right now, I'd use Optional types. It can spread to other use cases in the Swift codebase and this is something that will be treated internally by t

[2020-10-13 13:25] augie09 commented on #17328
I am having the same issue, and see the line of code in cert_checker.rb causing this issue.
To recap
1. Cert logs in with ADP
2. Cert generates a new iOS Enterprise Certificate (In-House and Ad Hoc profile in ADP)
3. Cert downloads Enterprise Cert and adds to Keychain
4. Cert downloads the wrong WWDR intermediate certificate
5. Error shows that no local code signing identities found.

Starting Sep

[2020-10-13 14:16] zmeggyesi commented on #16603
Any movement on this?
I'm using Fastlane to deploy a Flutter application to both iOS and Android simultaneously, via Gitlab CI, and being able to supply a generated changelog to both, without having to resort to various workarounds would be great.

[2020-10-13 15:18] rogerluan commented on #17429
cc @joshdholtz 🤗 maybe an issue with:

https://github.com/fastlane/fastlane/blob/4753b8dea25c9f9d9b7fc49101b4ee1e4590cb80/fastlane/lib/fastlane/actions/register_devices.rb#L53

And the logic underneath it? 🤔

[2020-10-13 15:29] joshdholtz commented on #17429
My apologies! I’ll look into a get a fix out right away 👍

[2020-10-13 15:31] joshdholtz commented on #17428
Will look into today and report back!

[2020-10-13 15:36] addbrick commented on #17428
@joshdholtz I think I figured it out. `owner_name` was removed, I added a helper to concat `requester_first_name` and `requester_last_name` which I believe is the equivalent. See https://github.com/fastlane/fastlane/pull/17432

[2020-10-13 15:37] joshdholtz commented on #17428
Oh perfect! I will give that a review 😊 Thank you!

[2020-10-13 17:10] joshdholtz commented on #17429
@antonioned @boeingjr Do either of you know if your UDID’s happen to have different case (upper and lower) A through F? 🤔 It looks like mine setup is detecting duplicates fine so I’m curious if that is what is happening? Maybe there is a uppercase/lowercase issue.

[2020-10-13 17:31] #17014 closed

[2020-10-13 17:44] antonioned commented on #17429
@joshdholtz I must say that the error occurs for me on an already existing device. But this is not happening on version 2.162.0, no error is thrown. Are you suggesting that if a device in the devices.txt file is already registered in App Store Connect devices, this error is valid?

[2020-10-13 17:53] joshdholtz commented on #17429
@antonioned Yeah yeah, I was getting the error on an existing device too. My _guess_ is the UDID that the new API returns to use (that we switched to in 2.162.0) might have different case then what you are trying to register with.

Example: `00008006-001573C02EE2002E ` vs `00008006-001573c02ee2002e`

We were not doing a case insensitive compare previously but we might need to now with the new API.

[2020-10-13 18:00] antonioned commented on #17429
Thanks a bunch @joshdholtz looking forward to that PR.

[2020-10-13 18:36] jakubgs commented on #16989
Absolutely not.

[2020-10-13 18:43] joshdholtz commented on #17429
@antonioned PR and instructions on how to use are here! https://github.com/fastlane/fastlane/pull/17433

Hoping this solves it for you 🙏

[2020-10-13 18:52] JimHowell20 commented on #17423
Updating the swift version from Swift 4.1 to Swift 5 in the xCode build settings for the build target fixed this error for me:  <img width="635" alt="Screen Shot 2020-10-13 at 2 48 27 PM" src="https://user-images.githubusercontent.com/7559768/95902886-6c9bb800-0d63-11eb-983b-acbfb24bcb43.png">

[2020-10-13 19:45] minuscorp commented on #17423
Do you have an older code version (I.e. 11.X) where you can select version 4 and check if it fails? Thank you!

[2020-10-14 05:10] boeingjr commented on #17429
@joshdholtz I checked the various UDID's in the file against the ones in the portal, and the offending UDID did indeed have different case, while the others had the same case.

I also tried out your fix branch, and now it works!  Thank you very much!

[2020-10-14 07:34] Green577 commented on #17318
Thanks for sharing this question ,
i was also looking for the answer keep suggesting such informative post keep sharing with us here so we can also gain some knowledge glad to have you hare [iMessage](https://www.imessageapp.org/)

[2020-10-14 07:58] lpaulusLohr opened #17434 "Fastlane promote failed"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
Problem on fastlane pipeline when promoting

[2020-10-14 08:08] antonioned commented on #17429
It works like a charm @joshdholtz. Thanks again!

[2020-10-14 10:06] mariana288 commented on #17434
I have faced this problem you can try [expresshr](https://www.expresshr.me/)

[2020-10-14 10:20] Goodwin7788 commented on #16780
Thanks for the information keep suggesting such informativw post would like to see some more post like this keep suggesting
with us [how to download facetime on windows ](https://www.facetimeapp.net/facetime-for-pc/)

[2020-10-14 10:20] agordeev opened #17435 "Gradle GRADLE_AAB_OUTPUT_PATH is null"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Here's my `Fastfile`

[code]

The output I

[2020-10-14 11:20] lpaulusLohr commented on #17434
@mariana288  What has expresshr to deal with fastlane and my problem ?

[2020-10-14 11:35] philCc opened #17437 "Match: wrong number of arguments (given 1, expected 0)"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

- fastlane/Fastlane.swift
[code]
- fastlane/swift/Fastlane.swift

[2020-10-14 18:10] kevint727 commented on #17421
Thanks ainame and sorry for the delay on the response but I was unavailable for a couple of days. I have removed the begin and rescue and am running again. I will post my results shortly.

[2020-10-14 18:12] kevint727 commented on #17421
@ainame  I am now seeing the following, which is much more helpful I would imagine:

bundler: failed to load command: fastlane (/usr/local/bin/fastlane)
Spaceship::UnexpectedResponse: [!] The provided entity includes a relationship with an invalid value
The provided entity includes a relationship with an invalid value
  /Library/Ruby/Gems/2.6.0/gems/fastlane-2.162.0/spaceship/lib/spaceship/connect

[2020-10-14 18:51] kevint727 commented on #17421
I figured out it was a problem with some filler text in the secondary cat metadata files. Left over from previous fastlane version. I removed that and then fixed an additional problem. Will report result shortly.

[2020-10-14 19:06] NPadrutt commented on #16700
I have the same problem with azure and the latest fastlane version. After reading through this thread I found out that it works when I add the language directly (for example in a folder "en-GB"), but it doesn't use the ones in the folder "default" as fallback.

@patreu22 have you managed to get it working with a default value or do you only have your primary language / direct values for every lang

[2020-10-14 19:08] pedro380085 commented on #16700
I found the solution today for my case.

The issue was that I had 2 languages on the developer portal but only one language mapped on the deliver file. When I removed one of the languages from the portal, the submission worked out fine.

[2020-10-14 19:10] anh1979 commented on #17400
Hey @rogerluan / fastlane developers - we also encounter this problem now in newly created apps (app with a bundleId that is newly created on the portal and AppStoreConnect)!! - It seems as if we cannot create new provisioning profiles anymore - please help **as this might get urgent soon**.

Latest fastlane update - done ☑️

Any ideas appreciated!

[2020-10-14 19:17] kevint727 commented on #17421
I was able to successfully run through my lane and submit an app update for review. Thanks so much again to @ainame for suggesting removing the error handling I had in the lane. Was the game-changer. Closing this now.

[2020-10-14 19:17] #17421 closed

[2020-10-14 19:31] CovertLeopard commented on #17384
@barnaclebarnes We just ran into this same error on 2.163.0.

We use this in a CI environment so we can't necessarily run a manual command each time we need to create certs.  Have you had any luck figuring it out since you logged this?  We are kind of stuck right now.

[2020-10-14 19:54] DwieDima commented on #16892
I also have this issue.
I've waited another 10 minutes and it suddenly worked with following message:
`Although errors occurred during execution of iTMSTransporter, it returned success status.`

[2020-10-14 20:24] NPadrutt commented on #16700
After some more experimenting I found that the reason for that the default wouldn't work is  that I didn't submit a list of supported languages. I tried to pass it via an additional parameter like this or all kinds of different variations without success.

`--languages "[\"fi\", \"de-DE\"]"`

So I resorted back to just create a folder for all my languages in my release pipeline. In case someone ca

[2020-10-14 20:54] anh1979 commented on #17400
Perhaps this is helpful, too:

I opened a terminal and tried to use spaceship manually - [as shown here](https://github.com/fastlane/fastlane/blob/master/spaceship/docs/DeveloperPortal.md#provisioning-profiles).

I login, then I have to select a team, because my user is in multiple development teams.
After that I try
[code]

This is weird, because there is a valid cert, which I can see in "Certifi

[2020-10-14 21:54] ainame commented on #17421
@kevint727 It doesn't matter if you use `rescue` to catch errors and collect error logs in your Fastfile as long as the errors caught are re-raised as the same error again.

[code]

In fastlane, there are lots of places using  `UI.user_error!` internally to log error messages and stop the flow to handle exceptions. It is supposed to stop the whole flow in Fastfile as it's not recoverable in most o

[2020-10-15 00:36] CovertLeopard commented on #17384
This is a regression. We reverted Fastlane from 2.163.0 to 2.161.0 and it
resolved the issue. Based on this issue info, the breaking version appears
to be 2.162.0

On Wed, Oct 14, 2020, 3:31 PM CovertLeopard <notifications@github.com>
wrote:

[2020-10-15 00:54] rogerluan commented on #17415
@YWD sorry, what do you need xcode-select for? 🤔 Is that still related to this issue?

[2020-10-15 01:01] rogerluan commented on #17431
@yakimant is this actually your code?

[code]

If so, it's missing the opening quotes 🤔

[2020-10-15 02:37] philCc commented on #17400
I have the same problem, but I fixed it by regenerate the cert
`fastlane match adhoc -u USERNAME -r GIT_URL -a com.id1,com.id2 -b TEAM_ID --force_for_new_devices true --readonly false`

[2020-10-15 04:45] White336 commented on #17232
Thanks  to share this piece of information here , we are glad to have some knowledge about spaceship analytics  through your post
keep suggesting such informative post [AlaskasWorld](https://www.alaskasworld.me/)

[2020-10-15 06:50] philCc commented on #17400
I have the same problem

[2020-10-15 07:06] anh1979 commented on #17400
Workaround:
I found a way to generate the provisioning profile manually (in Apple Developer) and importing it into my git repo after encrypting it via command line with this command:

`openssl aes-256-cbc -k myMatchPassword -in online_created_and_downloaded.mobileprovision -out AppStore_my.bundle.id.mobileprovision -a`

[Credits to this page](http://macoscope.com/blog/simplify-your-life-with-fastl

[2020-10-15 07:48] Truelove66 commented on #17124
Thanks sorry but i could not help you as i am not so aware of what discussion is between you all [targetpayandbenefits](https://www.targetpayandbenefits.me/)

[2020-10-15 08:08] oleksiisedun commented on #16911
The issue is fixed, thank you @joshdholtz!

[2020-10-15 10:10] tedgonzalez commented on #16184
Activity

[2020-10-15 10:12] Prater33 commented on #16289
Thanks for sharing such information with us keep sharing such informative post glad to see such post [provitalize](https://www.provitalize.us/)

[2020-10-15 11:48] Katsz commented on #17371
I think it's related to ongoing migration from old whatever API to ConnectAPI...
I guess you are stuck with this long-form thing for the time being 🤷‍♂️

[2020-10-15 12:18] CovertLeopard commented on #17137
I know this is closed, but I wanted to follow up in case anybody else had issues.  Somehow there was a sudden issue with the link between the build account we had been using for years and our root Apple developer account.  The build account showed as an admin on the team and could even log into the console and change things on the root account (certs and whatnot), but it couldn't upload.  Ultimate

[2020-10-15 12:45] lyndsey-ferguson commented on #16960
FYI: I've prioritized this feature and am working on it now.

[2020-10-15 12:49] lyndsey-ferguson commented on #16960
@lilyball FYI, it looks like the other developer wants to be able to spawn independent activities in the simulator, and you just want to be able to limit the logs collected to the current session. So, this feature, here would be simply note down the start date  of the current session of `scan` and then collect the logs starting from that date. It would seem that that should be the _default_ and an

[2020-10-15 13:25] willnix86 commented on #17234
+1

[2020-10-15 13:58] rogerluan commented on #17430
Hi @BenjaminSAILcloud 👋

I strongly recommend upgrading to JWT if your account already has 2FA enabled. This will solve all your authentication issues by avoiding auth/pass/session/2fa workarounds 🎉
You can find more information here: https://github.com/fastlane/fastlane/discussions/17059#discussioncomment-88437

Please let me know if that works out for you! 🙏

[2020-10-15 14:06] rogerluan commented on #17343
@minuscorp not sure if I follow your comment - do you mean we could create an optional Bool type, like `enum OptionalBoolean { case true, false, notSet }`? 🤔

I think the solution `1` I posted above would be the best one if possible, and the solution `3` would be the 2nd best imo hehe these validations usually cause more problems than solve from the little experience I've had with them 😬

[2020-10-15 14:13] rogerluan commented on #16365
Looks like this is still an issue, I'd like to keep this issue open as it seems to be affecting too many people 😥

[2020-10-15 14:35] xCTAPx opened #17443 "I have some issue. It is the same https://github.com/fastlane/fastlane/issues/15280"
I don't know how to solve this problem and didn't find anything useful. I hope that someone give me some hints or advices how to avoid this error. Thanks in advance. It is the same https://github.com/fastlane/fastlane/issues/15280, but there aren't solution.

Complete output also almost like: https://gist.github.com/vincentnavetat/17adcdf4cd410f52e30e410d457d656f

My `fastlane env` output:

<detai

[2020-10-15 14:49] rogerluan commented on #17423
I don't understand, `image.pngData()` should be the Swift version of `UIImagePNGRepresentation(image)`, which is in Objective-C. If you see [pngData docs](https://developer.apple.com/documentation/uikit/uiimage/1624096-pngdata) you will see it's not deprecated. @minuscorp does this still make sense to you? I initially thought it'd just be a matter of replacing one with the other, but `pngData` loo

[2020-10-15 14:50] minuscorp commented on #17343
A custom enum is not ideal but might work. I'm quite unsure that we can interpret as a truth that if the value is false, shouldn't be skipped and not checked against conflicting value. I think we should use nil as an empty value that is there easiest way to do or as a not ideal solution the enum.

[2020-10-15 15:00] rogerluan commented on #17318
Not sure if `ja-JP` is the right code. It's marked as deprecated since September 2015 in _fastlane_ codebase 🤔 `ja` should be the most up-to-date one, although that may have changed in recent Apple API changes

[2020-10-15 15:01] minuscorp commented on #17423
This is domain of Swift 4, but the SPM package starts from Swift 4.2 so I'm afraid that a `#if Swift(<5.0)` is needed here. Anyway, this is something that it is going to be deprecated sooner than later.

[2020-10-15 15:08] mathaeus commented on #17318
@rogerluan tbh that was just a wild guess from my side.

@joshdholtz did you have any chance to look into this again?

[2020-10-15 15:11] rogerluan commented on #16780
Hey @AustinFuller 👋

Interesting request :) Personally, when I used to upload the build from my machine, I used to have 2 repo directories. When I needed to deploy, I'd `cd` to the secondary one and run _fastlane_ from there. Then I can `cd` to the primary repository and use it normally meanwhile (xcodebuild doesn't seem to conflict at all with this setup). The only limitation I think there is, is

[2020-10-15 15:13] #17429 closed

[2020-10-15 15:17] xCTAPx commented on #17443
That is my `fastlane env` output:

<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                         | Value                                                          |
| --------------------------- | -------------------------------------------------------------- |
| OS                          | 10.15.7                                                        |
| Ruby

[2020-10-15 15:20] xCTAPx commented on #17443
My `fastlane env` output:

<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                         | Value                                                          |
| --------------------------- | -------------------------------------------------------------- |
| OS                          | 10.15.7                                                        |
| Ruby

[2020-10-15 15:26] rogerluan commented on #17437
Hey @philCc 👋

Can you include the full output, as prompted in the [issue template](https://raw.githubusercontent.com/fastlane/fastlane/master/.github/ISSUE_TEMPLATE/BUG_REPORT.md)? You omitted two of the most important parts: your env, and the error stacktrace.

This will help us reach a solution faster.

[2020-10-15 15:34] rogerluan commented on #17434
The issue here is on _precheck_, on this line:

https://github.com/fastlane/fastlane/blob/61cbd91e48f34a7a951642928dbc9b138fb04c8c/precheck/lib/precheck/rule_processor.rb#L177

`app_version` was nil there. It was nil there because this variable returned nil:

https://github.com/fastlane/fastlane/blob/61cbd91e48f34a7a951642928dbc9b138fb04c8c/precheck/lib/precheck/runner.rb#L186-L189

@lpaulusLohr a

[2020-10-15 15:43] jakubgs commented on #16989
That case was related to a CI environment that had other CI jobs running which were also modifying the keychain search list.
The issues I was having back then were related to main user keychain changing search list in middle of builds due to multiple executors. As far as I can tell adding the `:codesign` partition ID does help with specifically the `errSecInternalComponent` due to lack of interact

[2020-10-15 15:48] #17337 closed

[2020-10-15 15:53] rogerluan commented on #17434
Actually this is a duplicated issue of https://github.com/fastlane/fastlane/issues/17176

[2020-10-15 16:29] rogerluan commented on #17376
Did it work, @FrancisLeigh ? 😃

[2020-10-15 16:30] rogerluan commented on #17192
Hey @srockytfl 👋

Francis and I discussed some solution [here](https://github.com/fastlane/fastlane/issues/17376#issuecomment-704339770), could you check it out to see if that's what's happening in your case as well? 😃

[2020-10-15 16:31] rogerluan commented on #17419
@thor-jc your logs say:

And your `fastlane env` printed:

This looks similar to https://github.com/fastlane/fastlane/issues/17192.
Francis and I discussed some solution [here](https://github.com/fastlane/fastlane/issues/17376#issuecomment-704339770), could you check it out to see if that's what's happening in your case as well? 😃