[2016-11-09 19:31] postmechanical commented on #6699
@ohwutup Thanks! Long term you're going to want to distribute this via a signed installer package. Also, the install script borked the `~/.bash_profile` update for me by writing literally `\nexport PATH="$HOME/.fastlane/bin:$PATH"\n` into my profile, resulting in:

[code]

[2016-11-09 19:48] caipivara commented on #6916
@hjanuschka I didn't understand what you mean by that :P, can you try to explain again?

what is `lane_context` and `SharedValues` in _FastLane_?

[2016-11-09 19:50] caipivara opened #6930 "Add gradle params support for Gradle Action"
The idea is to be able to call something like:

```$ ./gradlew assemble --stacktrace -PdisablePreDex --no-daemon -Dscan```

Something like:

[code]

I don't find a way to add `--PdisablePreDex` and others to _gradle action_.

[2016-11-09 19:52] KrauseFx commented on #6921
Has this worked before or was this issue introduced recently?

[2016-11-09 19:53] hjanuschka commented on #6916
@caipivara some actions store values in a `lane_context`

gradle for example stores the path of the compiled apk in the above variable

so you could do stuff like this.:

[code]

[2016-11-09 19:55] hjanuschka commented on #6930
use
[code]

[2016-11-09 20:07] ohwutup commented on #6699
Hey @postmechanical we updated the build, would you mind giving it another shot?

[2016-11-09 20:08] postmechanical commented on #6699
@ohwutup Same link? http://kits-crashlytics-com.s3.amazonaws.com/fastlane/standalone/bundle-1.107.0.zip

[2016-11-09 20:08] ohwutup commented on #6699
yup!

[2016-11-09 20:14] claesjacobsson commented on #6899
How did you avoid being influenced by Apple's device images, by the way?

[2016-11-09 20:15] postmechanical commented on #6699
@ohwutup The `install` script needs to `cd` to its parent directory, otherwise the `cp -R "fastlane_lib/" $FASTLANE_DIR` command at line 63 fails silently.

[2016-11-09 20:29] ohwutup commented on #6699
Thanks for going through the trial and error @postmechanical ! We just cleaned that up again and it should be working properly. Mind giving it another shot?

[2016-11-09 20:30] JMCPH commented on #6910
Ah okay.. My question might sound more like this then:
How can i use match and resign, without decrypting? It seems a bit non automatic to me, or i'm I able to set an output path for the decrypted prov file? :)

[2016-11-09 20:55] hjanuschka commented on #6910
ok - i got you

i think you can do it with one of the following scenarios:

## Scenario 1

decrypt the mobile provision manually with:

[code]

you should end up with an decrypted file in

`/path/where/decrypted/file/will/end.mobileprovision`

## Scenario 2

  * run match to generate validate and all the stuff.
  * later on use the `profile_name` env , and use spaceship to download the prov.prof f

[2016-11-09 21:11] ZevEisenberg commented on #6927
@hjanuschka that worked! Thanks. It would still be nice if there were a discoverable option via `snapshot --help`.

[2016-11-09 21:18] ph1lb4 commented on #6921
It worked well a while ago. However last time I checked was at least 1-2 months ago.

[2016-11-09 21:31] KrauseFx commented on #6899
By using Facebook's image resources 👍

[2016-11-09 21:43] milch commented on #6802
We just finished building this, and would love your early feedback on this beta. Please let us know how it works for you and if you run into any problems :+1:
Download the latest version [here](https://kits-crashlytics-com.s3.amazonaws.com/fastlane/standalone/latest.zip).

Since this issue is unrelated, I would recommend you try out the fastlane bundle we've been testing. Let me know if this works

[2016-11-09 22:01] JMCPH commented on #6910
Thanks, i'll look into it tomorrow morning (Copenhagen time) and let you know. Thanks!

[2016-11-09 22:02] postmechanical commented on #6699
@ohwutup Working well now.

[2016-11-09 22:03] ohwutup commented on #6699
Amazing! Thanks @postmechanical !! :rocket:

[2016-11-09 22:05] #1842 closed

[2016-11-09 22:05] #2023 closed

[2016-11-09 22:06] #2021 closed

[2016-11-09 22:06] milch commented on #6699
Thanks for helping us test @postmechanical!

[2016-11-09 22:06] #2020 closed

[2016-11-09 22:06] #1902 closed

[2016-11-09 22:08] KrauseFx commented on #6861
_snapshot_ is designed to generate screenshots for the App Store, so it just uses simulators for now 👍

[2016-11-09 22:08] #6861 closed

[2016-11-09 22:08] KrauseFx commented on #6860
You should use _fastlane_ with a `Fastfile` for this, you call _snapshot_ multiple times from there

[2016-11-09 22:09] KrauseFx commented on #1649
Sorry for not coming back to this earlier, is this issue still happening with the latest _fastlane_ release?

[2016-11-09 22:09] #1649 closed

[2016-11-09 22:10] KrauseFx commented on #1653
Sorry for not coming back to this earlier, is this issue still happening with the latest _fastlane_ release?

[2016-11-09 22:10] #1653 closed

[2016-11-09 22:10] KrauseFx commented on #1668
Sorry for not coming back to this earlier, is this issue still happening with the latest _fastlane_ release?

[2016-11-09 22:10] #1668 closed

[2016-11-09 22:10] KrauseFx commented on #1685
Sorry for not coming back to this earlier, is this issue still happening with the latest _fastlane_ release?

[2016-11-09 22:10] #1685 closed

[2016-11-09 22:10] KrauseFx commented on #1692
Sorry for not coming back to this earlier, is this issue still happening with the latest _fastlane_ release?

[2016-11-09 22:10] #1692 closed

[2016-11-09 22:12] KrauseFx commented on #1700
Sorry for not coming back to this earlier, is this issue still happening with the latest _fastlane_ release?

[2016-11-09 22:12] #1700 closed

[2016-11-09 22:12] KrauseFx commented on #1712
Sorry for not coming back to this earlier, is this issue still happening with the latest _fastlane_ release?

[2016-11-09 22:12] #1712 closed

[2016-11-09 22:12] KrauseFx commented on #1715
Sorry for not coming back to this earlier, is this issue still happening with the latest _fastlane_ release?

[2016-11-09 22:12] #1715 closed

[2016-11-09 22:15] KrauseFx commented on #1726
Sorry for not coming back to this earlier, is this issue still happening with the latest _fastlane_ release?

[2016-11-09 22:15] #1726 closed

[2016-11-09 22:15] KrauseFx commented on #1720
Sorry for not coming back to this earlier, is this issue still happening with the latest _fastlane_ release?

[2016-11-09 22:15] #1720 closed

[2016-11-09 22:15] KrauseFx commented on #1721
Sorry for not coming back to this earlier, is this issue still happening with the latest _fastlane_ release?

[2016-11-09 22:15] #1721 closed

[2016-11-09 22:15] KrauseFx commented on #1743
Sorry for not coming back to this earlier, is this issue still happening with the latest _fastlane_ release?

[2016-11-09 22:15] #1743 closed

[2016-11-09 22:15] KrauseFx commented on #1788
Sorry for not coming back to this earlier, is this issue still happening with the latest _fastlane_ release?

[2016-11-09 22:15] #1788 closed

[2016-11-09 22:16] KrauseFx commented on #1828
Sorry for not coming back to this earlier, is this issue still happening with the latest _fastlane_ release?

[2016-11-09 22:16] #1828 closed

[2016-11-09 22:16] KrauseFx commented on #1897
Sorry for not coming back to this earlier, is this issue still happening with the latest _fastlane_ release?

[2016-11-09 22:16] #1897 closed

[2016-11-09 22:16] KrauseFx commented on #1884
Sorry for not coming back to this earlier, is this issue still happening with the latest _fastlane_ release?

[2016-11-09 22:16] #1884 closed

[2016-11-09 22:16] KrauseFx commented on #1880
Sorry for not coming back to this earlier, is this issue still happening with the latest _fastlane_ release?

[2016-11-09 22:16] #1880 closed

[2016-11-09 22:16] KrauseFx commented on #1904
Sorry for not coming back to this earlier, is this issue still happening with the latest _fastlane_ release?

[2016-11-09 22:16] #1904 closed

[2016-11-09 22:16] KrauseFx commented on #1936
Sorry for not coming back to this earlier, is this issue still happening with the latest _fastlane_ release?

[2016-11-09 22:16] #1936 closed

[2016-11-09 22:17] KrauseFx commented on #2035
Sorry for not coming back to this earlier, is this issue still happening with the latest _fastlane_ release?

[2016-11-09 22:17] #2035 closed

[2016-11-09 22:19] KrauseFx commented on #2025
Sorry for not coming back to this earlier, is this issue still happening with the latest _fastlane_ release?

[2016-11-09 22:19] #2025 closed

[2016-11-09 22:19] KrauseFx commented on #2041
Sorry for not coming back to this earlier, is this issue still happening with the latest _fastlane_ release?

[2016-11-09 22:19] #2041 closed

[2016-11-09 22:19] #2072 closed

[2016-11-09 22:20] KrauseFx commented on #2079
Sorry for not coming back to this earlier, is this issue still happening with the latest _fastlane_ release?

[2016-11-09 22:20] #2079 closed

[2016-11-09 22:20] KrauseFx commented on #3238
Sorry for not coming back to this earlier, is this issue still happening with the latest _fastlane_ release?

[2016-11-09 22:20] #3238 closed

[2016-11-09 22:21] KrauseFx commented on #6094
Hey, we've been working on a new way to install and use fastlane, all you have to do is to download `fastlane.zip` and double click the `install` file. This will install fastlane with all its Ruby and OpenSSL dependencies, and should all work out of the box.
We just finished building this, and would love your early feedback on this beta. Please let us know how it works for you and if you run into

[2016-11-09 22:30] #6899 closed

[2016-11-09 22:33] #6914 closed

[2016-11-09 22:53] pedro380085 commented on #4301
thanks @TKBurner and @KrauseFx for your support 👍

If I may add a suggestion, I think it would be a cool addition to the docs that, if you are in two teams, you must specify both the team_id and itc_team_id at https://github.com/fastlane/fastlane/blob/505ce4f462a4d9083a5334c81a6aaac8fa302aee/fastlane/docs/Appfile.md
When I was reading it for the first time I thought I only needed to choose one of

[2016-11-09 22:54] mandevx commented on #6533
@Ro-M  Thanks for the reply and the suggestion but could you please guide me a bit that where do I do this bit as below and other points you mentioned if it needs to be done by opening the project first in xcode gui then its an issue because I requirement is purely command line or fastlane opening the project manually to set such will be a problem for my situation .
"make sure "Code Signing Identi

[2016-11-09 23:34] Czajnikowski opened #6937 "Check if the project fulfils iTC fantasies as a first step in deliver"
### New Issue Checklist

- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] Updated fastlane to the latest version

### Issue Description

I'm just disappointed on how iTunes Connect submission process works.
First we need to build the app (I don't know why, but it takes ages for me atm - never mind, it's a different thing), vali

[2016-11-09 23:49] milch commented on #6866
This is now done, once the PRs are merged we'll release versions of the fastlane tools where this is fixed 🚀

[2016-11-09 23:50] viktorbenei commented on #6866
Awesome news, thank you! 🎉

[2016-11-10 01:03] fabware commented on #6095
@JohannesDeml @TKBurner Yes, I got it running JUST ENTER THE PASSWORD after enable app specific password in appleid.apple.com. It rock and running, thank you guys for such great product.

This information comes too pricy, after poke around with several obsolete fastlane-old issues which circularly linked each other, and after blindly following spaceship instructions, and finally accidentally get i

[2016-11-10 02:36] KrauseFx commented on #6937
Do you know a way to verify a build beforehand?

[2016-11-10 02:38] jdee commented on #5758
Apologies for the delay. I had an app in the store that was in desperate need of an update. Anyway, I finally put something together:

https://github.com/jdee/settings-bundle
https://github.com/jdee/settings-bundle/tree/master/SettingsBundleExample
https://github.com/jdee/settings-bundle/tree/master/fastlane-plugin-settings_bundle

Please use this issue for general discussion: https://github.com/j

[2016-11-10 03:05] iblacksun commented on #6269
@KrauseFx  Same issue here, if i run ```fastlane init``` in a new project, should i create gemfile first?

[2016-11-10 03:53] caipivara commented on #6916
@hjanuschka got it now, thanks!

[2016-11-10 03:53] #6916 closed

[2016-11-10 04:37] KrauseFx commented on #6269
Hey everyone, we've been working on a new way to install and use fastlane, all you have to do is to download `fastlane.zip` and double click the `install` file. This will install fastlane with all its Ruby and OpenSSL dependencies, and should all work out of the box.
We just finished building this, and would love your early feedback on this beta. Please let us know how it works for you and if you

[2016-11-10 04:40] KrauseFx commented on #5665
Hey everyone, we've been working on a new way to install and use fastlane, all you have to do is to download `fastlane.zip` and double click the `install` file. This will install fastlane with all its Ruby and OpenSSL dependencies, and should all work out of the box.
We just finished building this, and would love your early feedback on this beta. Please let us know how it works for you and if you

[2016-11-10 05:22] tringManoj commented on #6867
iPhone7Plus-MyCustomName.png . This how screenshot images are names. But I Don't want the Device Name which is appended before the image name. I just want it like MyCustomeName.png

[2016-11-10 05:29] tringManoj commented on #6860
I have single snapfile file. Can you tell me how to call snapshot multiple times? My single snap file takes only the first scheme bcaz the command is String not Array SCHEME.
So can you tell me
1) how to add multiple SCHEMES? on single file OR
2) Should I add multiple snapfiles OR
3) If should I call snapshot multiple times, plz advice me with the steps how to do this on fastlane file please.

[2016-11-10 05:53] KrauseFx commented on #6866
Thanks @viktorbenei and @godrei for providing all this information, it was super helpful 👍

[2016-11-10 08:10] cargath commented on #6758
@ohwutup That worked 🎉 (the last time i said that, it stopped working again the next day, but let's be optimistic 😀).

[2016-11-10 08:42] ff-ahumberston commented on #6751
@mpirri
When connecting to the CI machine over SSH the error is evident, when accessing from the console we do not see the error.

[2016-11-10 09:14] hjanuschka commented on #6860
Fastfile:

[code]

this will run snapshot 2 times with different schemes, be  sure to check the other options from your snapfile - and add them in fastfile

[2016-11-10 10:13] ruslanfutureuniverse commented on #4760
So any success here?

[2016-11-10 10:34] ruslanfutureuniverse commented on #5752
@KrauseFx But is there a way to read env var from match and pass it outside? I need it to set up Unreal Engine project on Jenkins.

[2016-11-10 10:53] ruslanfutureuniverse commented on #5752
@santoshshetty2612 how did you manage to pass env vars from Match to Jenkins shell?

[2016-11-10 11:03] Czajnikowski commented on #6937
It's a bit problematic, as app icon info is holed up in .pbxproj.

Here's how it looks like:

[code]

We'll need to get `ASSETCATALOG_COMPILER_APPICON_NAME` and check if any of target's .xcassets file has the necessary icon files.

[2016-11-10 11:39] santoshshetty2612 commented on #5752
Hi @ruslanfutureuniverse  I passed the environment variables from Jenkins to fastlane.
I copied the Jenkins environment variables into .env file and copied it into fastlane folder.

When fastlane runs, it will read the value from this .env file.

[2016-11-10 11:44] hjanuschka commented on #6751
have you unlocked your keychains ?  `unlock_keychain` - i think this is one major difference in ssh over local terminal

[2016-11-10 12:03] rewislam opened #6944 "Cannot build a "Command Line Tool" project."
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I'm trying to build a "Command Line Tool" project using fastlane, however it seems it expects a mac app.

Would be great if this was possible.

<details><summary>Crash stack</summary>

[code]

[2016-11-10 12:15] PlayDevelop commented on #6751
I have also tried unlock_keychain with no result.  Also tried manually unlock with security -v unlock-keychain.

[2016-11-10 12:17] ruslanfutureuniverse commented on #5752
@santoshshetty2612 ah yeah, understand. But are there any way to pass _match_  job results to env var? If new profile was generated here, I need to pass it to Jenkins script.

[2016-11-10 12:23] santoshshetty2612 commented on #5752
@ruslanfutureuniverse
Consider your project Folder -> fastlane
Inside which you have fastfile.

Now you can run the fastlane you can write the variables in a file (example fastline.properties)

In Jenkins, you can read this file and load it using the inject environment variable step passing the path to fastline.properties.

[2016-11-10 12:32] ruslanfutureuniverse commented on #5752
@santoshshetty2612 wow. I see...
Could you please write a snippet, how to write _match_ values to file and read from it?

[2016-11-10 12:33] mandevx commented on #6519
@hjanuschka Thanks alot for your reply, well when you say I will have to manage my cer/prov profile myself do you mean between multiple machines as I believe match is to sync these on multiple dev and build machines in my case I only have one dev and build machine there is not place need to sync between multiple or do you mean I will some way have to tell fastlane which cert and profile I want to

[2016-11-10 12:47] hjanuschka commented on #6519
if the machine has the right signing identiy already installed you just can remove the match.

[code]

you probably want to have a look at `cert` and `sigh` - as a plan-b to `match`

[2016-11-10 13:19] 0xced opened #6945 "Copying `fastlane env` to clipboard fails with [!] undefined method `create' for Tempfile:Class (NoMethodError)"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I launched `fastlane env` and in the end I tried to copy the results to the clipboard but it failed.

##### Complete output when running fastlane, including the stack trace and command used

$

[2016-11-10 13:36] tadelv commented on #6628
a new PR is tracking this issue now: #6946

[2016-11-10 13:45] hjanuschka commented on #6945
seems to be some weird bug because of ruby 2.0 - see http://stackoverflow.com/questions/35919011/undefined-method-create-for-tempfileclass

[2016-11-10 14:10] 0xced commented on #6945
@hjanuschka Actually, Tempfile::create is simply [not available on ruby 2.0.0](http://ruby-doc.org/stdlib-2.0.0/libdoc/tempfile/rdoc/Tempfile.html).

[2016-11-10 14:22] PlayDevelop commented on #6751
This post saved me:
https://www.quernus.co.uk/2016/10/10/ssh-keychain-changes-macos-sierra/

1. On my CI machine, added my id_rsa.pub to ~/.ssh/authorized_keys
All good now.

[2016-11-10 14:32] 0xced commented on #6758
Thank you @ohwutup, this worked fine on El Capitan.

[2016-11-10 14:34] CurlyHeir commented on #6191
@nicolasbraun
could you write about this solution somewhere?

[2016-11-10 14:38] #5971 closed

[2016-11-10 14:52] ff-ahumberston commented on #6751
I'm manually connecting to my host via an SSH connection, the suggestion would mean adding my id_rsa.pub to the same accounts ~/.ssh/authorized_keys

(I've tried it and the problem still persists)

[2016-11-10 14:59] PlayDevelop commented on #6751
@ff-ahumberston  just to verify.
1.On your client,  copy your ida_rsa.pub created at ~/.ssh/authorized_keys
2.On your ssh host `vim ~/.ssh/authorized_keys` and paste from step1
3.Logout from host, reconnect.

If you:
`security list-keychain`
on your ssh host. What do you get?

[2016-11-10 15:15] ff-ahumberston commented on #6751
I'm using a Windows 10 host to connect using SSH to my Sierra host.

I've created public/private keys on Windows host and I can now successfully run
admin$ security list-keychain
    "/Users/admin/Library/Keychains/login.keychain-db"
    "/Library/Keychains/System.keychain"

sigh manage also works successfully

Thanks for your help Martin @PlayDevelop

[2016-11-10 15:29] ff-ahumberston commented on #6751
I guess we can mark this as closed, may be useful if sigh could give a pointer.

[2016-11-10 15:33] seanscal commented on #1679
We have 3 separate build machines all which run the same code, I am getting this error on the newest mac we just got which has the same specs as another which the builds pass on.  All running exact same fastfile etc.  I assume something must be up with my build on the computer.  All are running xcode 8.1.  Any advice?

[2016-11-10 15:36] #5954 closed

[2016-11-10 15:47] #5028 closed

[2016-11-10 15:48] fotiDim commented on #6770
I think this issue can be closed now. Just a question for the sake of curiosity. I am executing this code:
`   require 'spaceship'
    Spaceship::Tunes.login("user@icloud.com")
    app = Spaceship::Tunes::Application.find("com.org.app")
    build_trains = app.build_trains.keys
    puts build_trains`

which returns
`1.3.3 1.4`

Is it this?
<img width="1427" alt="screen shot 2016-11-10 at 17 45 28"

[2016-11-10 15:57] #5888 closed

[2016-11-10 15:57] #6930 closed

[2016-11-10 16:14] #6751 closed

[2016-11-10 16:14] Siguza commented on #6022
Still the same for sigh 1.11.2.

[2016-11-10 17:04] danielsaidi commented on #6779
We have the exact same problem since match 0.10.0. We have one repository with Development and AppStore certificates, and one repository with Enterprise certificates.

In Fastfile, we set `ENV["MATCH_FORCE_ENTERPRISE"] = "0"` before running match for Development and AppStore. When running match for Enterprise, we set `ENV["MATCH_FORCE_ENTERPRISE"] = "1"` before calling match, then `ENV["MATCH_FORC

[2016-11-10 17:06] yakimant opened #6948 "Feature: showing language for failed deliver"
It would be nice to see the language, which failed. For example in such cases:
[code]

[2016-11-10 17:21] KrauseFx commented on #6937
It's never a good idea to do validation yourself, as validation rules change and it's hard to keep them in sync. Instead we should always rely on Apple's verification process. If you find a faster way to verify the `ipa` with Apple's rules, let me know, however I don't think that's possible.

[2016-11-10 17:21] #6937 closed

[2016-11-10 17:37] #6945 closed

[2016-11-10 17:48] petitmat commented on #6924
I don't understand why I have to add it because, it's an asking about a feature and not about an issue...

[2016-11-10 18:06] TKBurner commented on #6921
@ph1lb4 Thanks for following up. It looks like the string '-Dev' is being appended to your profiles,  'Development_com.example.identifier-Dev.NotificationContentExtension.mobileprovision''

Do you know of a reason why this would be happening? Thanks!

[2016-11-10 18:13] milch commented on #6921
That is weird, especially looking at the output here:

[13:40:15]: No matching provisioning profiles found for **'Development_com.example.identifier'**
[13:40:15]: A new one cannot be created because you enabled readonly
[13:40:15]: Provisioning profiles in your repo for type development:
[13:40:15]: - 'Development_com.example.identifier-Dev.mobileprovision'
[13:40:15]: - 'Development_com.example.

[2016-11-10 18:14] ph1lb4 commented on #6921
We append '-Dev' for the staging version of our app. This means that we have every provisioning profile as normal and as -Dev.

So this is wanted behaviour from our side. Does this cause any trouble?

[2016-11-10 18:15] ph1lb4 commented on #6921
@milch that's troubling us the most. We can see that the right profile is listed, however match does not find it.

[2016-11-10 18:35] milch commented on #6921
@ph1lb4 It shouldn't be a problem, as the correct provisioning profile seems to exist.

The relevant code from `match` is here:

[code]

I don't really see anything that could be going wrong here once the name is already correct, and I'm not able to reproduce it on my machine. Could I ask you to `git clone` your repo into some folder on your local machine, run the following code snippet (e.g. in `

[2016-11-10 18:36] milch commented on #6921
Also just to make sure, what OS are you running this on?

[2016-11-10 18:52] hjanuschka commented on #6770
yes those are the build trains.

this is how `latest_testflight_build_number` works.:

[code]

[2016-11-10 19:00] KrauseFx commented on #6948
Are you using the latest version? This should already be the case now 👍

[2016-11-10 19:04] KrauseFx commented on #6891
Hey @petitmat, could you give this a try? https://kits-crashlytics-com.s3.amazonaws.com/fastlane/standalone/latest.zip

[2016-11-10 19:08] phubert-handy commented on #6463
@TKBurner We only have the one project that ends up on the App Store. We'll look into testing with a blank project and update after that.

[2016-11-10 19:19] #6770 closed

[2016-11-10 19:21] KrauseFx commented on #6770
Awesome, thanks @hjanuschka 👍

[2016-11-10 19:32] petitmat commented on #6891
Hi I've installed it and my scripts seem to run correctly on Jenkins and upload on Itunes Connect without problems. What this package is supposed to do ?

Just surprise about my fastlane env output :

<details><summary>🚫 fastlane environment 🚫</summary>

### Stack

| Key                 | Value                                             |
| ------------------- | ----------------------------------

[2016-11-10 19:34] danielsaidi commented on #6779
I can confirm that this is still a problem in match 0.11.0.

[2016-11-10 20:00] jwilliams-handy commented on #6463
@TKBurner I just created a new blank project. Getting stuck on the last step this last step for deliver though.

[code]

I have updated these fields in iTunes Connect and saved them but everytime I run fastlane with a new build it clears those mandatory fields out.

[2016-11-10 20:05] ph1lb4 commented on #6921
I will do that first thing tomorrow morning and post the result here.
Running on latest version of osx 10.11 el capitan as well as latest version osx 10.12 sierra

[2016-11-10 20:12] hjanuschka commented on #6463
can you try to configure the entry once on itunes connect by hand - so that it works submitting new apps.

than - backup your `fastlane/metadata/` - or probably better just the whole `fastlane` folder.
and run:

[code]

maybe you find the differences between the new stuff inside metadata - compared to the backup one.

[2016-11-10 20:50] KrauseFx commented on #6930
Awesome, thanks @hjanuschka  🚀

[2016-11-10 21:09] jwilliams-handy commented on #6463
@hjanuschka thanks, that got me past that step. had forgotten about that step in configuring `deliver`

@TKBurner after completing that metadata step I was able to upload successfully with `deliver` in a blank project.

<details><summary>🚫 fastlane environment 🚫</summary>

### Stack

| Key                 | Value                                                                   |
| ---------------

[2016-11-10 21:28] jwilliams-handy commented on #6463
@TKBurner Actually sorry I take that back. It says it submitted in console but when I just went to check in iTunes Connect it didn't actually submit although the build was uploaded and the console output said it was.

[code]

[2016-11-11 00:37] bootstraponline opened #6951 "fastlane_require 'posix/spawn' Unable to resolve dependency"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Fastlane require fails on posix spawn. The gem is called `posix-spawn`.

[code]

[code]

### Environment

Please run `fastlane env` and copy the output below. This will help us help you :+1:
I

[2016-11-11 02:07] KrauseFx commented on #6951
Did this work before? Does it work when you use `require` instead of `fastlane_require`?
Can you share the complete output with stack trace?

[2016-11-11 05:42] jlubeck commented on #6758
Installing from the zip fixed it for me on Sierra

[2016-11-11 05:48] sainttail commented on #6810
@TKBurner I've already attached the repo in the comment section lol.

[Here](https://github.com/sainttail/TestFastlane) is it

[2016-11-11 05:58] sainttail commented on #6810
@TKBurner I think it happens with the blank repo [here](https://github.com/sainttail/TestFastlane).

For this repo,
1. Create a blank project
2. Add `fastfile` which have that two actions
3. Run `fastlane lane`
4. Plist change!

PS. Seem like this will not happen on my colleagues machine. Look like it is the problem of combination of ruby gem or ruby version.

[2016-11-11 06:34] hjanuschka commented on #6463
this usually happens because of:
   * unanswered questions on itc.
   * like export compliance and stuff.
   * idfa usage

here is what we use - this accepts a upload:
(please adjust to your needs)

[code]

[2016-11-11 07:44] hjanuschka commented on #6927
@ZevEisenberg  PR is here: https://github.com/fastlane/fastlane/pull/6954

enables `snapshot reset_simulators --force`

[2016-11-11 08:07] thaiduy commented on #6632
Don't know if you guys still encounter this issue or not, but I still, even after 2 weeks since the first time I ran into it.
I called `register_devices` and received the same error line:

    (Spaceship::Client::UnexpectedResponse)eship-0.37.0/lib/spaceship/client.rb:400:in `parse_response': [!] <html>

I'm using spaceship 0.37.0, match 0.11.0
I tried using spaceship interactive shell and succeed

[2016-11-11 08:22] jordanjun commented on #6814
@TKBurner I have checked it is stored in my login keychain. When I search "deliver", I can see the keychain. And this error doesn't occur every time. The error log is as below:

+ sigh
+-------------------------------------+-----------------------------------+
|                         [32mSummary for sigh 1.11.2[0m                         |
+-------------------------------------+---------------

[2016-11-11 08:23] jordanjun commented on #6814
@TKBurner I have checked it is stored in my login keychain. When I search "deliver", I can see the keychain. And this error doesn't occur every time. The error log is as below:

+ sigh
+-------------------------------------+-----------------------------------+
|                         [32mSummary for sigh 1.11.2[0m                         |
+-------------------------------------+---------------

[2016-11-11 08:24] jordanjun commented on #6814
@TKBurner I have checked it is stored in my login keychain. When I search "deliver", I can see the keychain. And this error doesn't occur every time. The error log is as below:

+ sigh
+-------------------------------------+-----------------------------------+
|                         [32mSummary for sigh 1.11.2[0m                         |
+-------------------------------------+---------------

[2016-11-11 08:24] jordanjun commented on #6814
@TKBurner I have checked it is stored in my login keychain. When I search "deliver", I can see the keychain. And this error doesn't occur every time. The error log is as below:

+ sigh
+-------------------------------------+-----------------------------------+
|                         [32mSummary for sigh 1.11.2[0m                         |
+-------------------------------------+---------------

[2016-11-11 08:24] jordanjun commented on #6814
@TKBurner I have checked it is stored in my login keychain. When I search "deliver", I can see the keychain. And this error doesn't occur every time. The error log is as below:

+ sigh
+-------------------------------------+-----------------------------------+
|                         [32mSummary for sigh 1.11.2[0m                         |
+-------------------------------------+---------------

[2016-11-11 08:24] jordanjun commented on #6814
@TKBurner I have checked it is stored in my login keychain. When I search "deliver", I can see the keychain. And this error doesn't occur every time. The error log is as below:

+ sigh
+-------------------------------------+-----------------------------------+
|                         [32mSummary for sigh 1.11.2[0m                         |
+-------------------------------------+---------------

[2016-11-11 08:24] jordanjun commented on #6814
@TKBurner I have checked it is stored in my login keychain. When I search "deliver", I can see the keychain. And this error doesn't occur every time. The error log is as below:

+ sigh
+-------------------------------------+-----------------------------------+
|                         [32mSummary for sigh 1.11.2[0m                         |
+-------------------------------------+---------------

[2016-11-11 08:24] jordanjun commented on #6814
@TKBurner I have checked it is stored in my login keychain. When I search "deliver", I can see the keychain. And this error doesn't occur every time. The error log is as below:

+ sigh
+-------------------------------------+-----------------------------------+
|                         [32mSummary for sigh 1.11.2[0m                         |
+-------------------------------------+---------------

[2016-11-11 08:24] jordanjun commented on #6814
@TKBurner I have checked it is stored in my login keychain. When I search "deliver", I can see the keychain. And this error doesn't occur every time. The error log is as below:

+ sigh
+-------------------------------------+-----------------------------------+
|                         [32mSummary for sigh 1.11.2[0m                         |
+-------------------------------------+---------------

[2016-11-11 08:24] jordanjun commented on #6814
@TKBurner I have checked it is stored in my login keychain. When I search "deliver", I can see the keychain. And this error doesn't occur every time. The error log is as below:

+ sigh
+-------------------------------------+-----------------------------------+
|                         [32mSummary for sigh 1.11.2[0m                         |
+-------------------------------------+---------------

[2016-11-11 08:24] jordanjun commented on #6814
@TKBurner I have checked it is stored in my login keychain. When I search "deliver", I can see the keychain. And this error doesn't occur every time. The error log is as below:

+ sigh
+-------------------------------------+-----------------------------------+
|                         [32mSummary for sigh 1.11.2[0m                         |
+-------------------------------------+---------------

[2016-11-11 08:24] jordanjun commented on #6814
@TKBurner I have checked it is stored in my login keychain. When I search "deliver", I can see the keychain. And this error doesn't occur every time. The error log is as below:

+ sigh
+-------------------------------------+-----------------------------------+
|                         [32mSummary for sigh 1.11.2[0m                         |
+-------------------------------------+---------------

[2016-11-11 08:24] jordanjun commented on #6814
@TKBurner I have checked it is stored in my login keychain. When I search "deliver", I can see the keychain. And this error doesn't occur every time. The error log is as below:

+ sigh
+-------------------------------------+-----------------------------------+
|                         [32mSummary for sigh 1.11.2[0m                         |
+-------------------------------------+---------------

[2016-11-11 08:57] Glidos commented on #6758
Worked for me on El Capitan, which is where I originally had the problem. For Sierra using brew worked.

[2016-11-11 09:05] jordanjun commented on #6814
@TKBurner look. After I just executed "sigh" on the node machine directly, then let jenkins to run "sigh", it succeeded in gotting the provisioning profile again.  I don't know when it will occur again. Could you find the cause? The log is as below:

+ sigh
+-------------------------------------+-----------------------------------+
|                         [32mSummary for sigh 1.11.2[0m

[2016-11-11 09:05] jordanjun commented on #6814
@TKBurner look. After I just executed "sigh" on the node machine directly, then let jenkins to run "sigh", it succeeded in gotting the provisioning profile again.  I don't know when it will occur again. Could you find the cause? The log is as below:

+ sigh
+-------------------------------------+-----------------------------------+
|                         [32mSummary for sigh 1.11.2[0m

[2016-11-11 09:05] jordanjun commented on #6814
@TKBurner look. After I just executed "sigh" on the node machine directly, then let jenkins to run "sigh", it succeeded in gotting the provisioning profile again.  I don't know when it will occur again. Could you find the cause? The log is as below:

+ sigh
+-------------------------------------+-----------------------------------+
|                         [32mSummary for sigh 1.11.2[0m

[2016-11-11 09:05] jordanjun commented on #6814
@TKBurner look. After I just executed "sigh" on the node machine directly, then let jenkins to run "sigh", it succeeded in gotting the provisioning profile again.  I don't know when it will occur again. Could you find the cause? The log is as below:

+ sigh
+-------------------------------------+-----------------------------------+
|                         [32mSummary for sigh 1.11.2[0m

[2016-11-11 09:05] jordanjun commented on #6814
@TKBurner look. After I just executed "sigh" on the node machine directly, then let jenkins to run "sigh", it succeeded in gotting the provisioning profile again.  I don't know when it will occur again. Could you find the cause? The log is as below:

+ sigh
+-------------------------------------+-----------------------------------+
|                         [32mSummary for sigh 1.11.2[0m

[2016-11-11 09:19] jordanjun commented on #6814
@TKBurner look. After I just executed "sigh" on the node machine directly, then let jenkins to run "sigh", it succeeded in gotting the provisioning profile again.  I don't know when it will occur again. Could you find the cause? The log is as below:

+ sigh
+-------------------------------------+-----------------------------------+
|                         [32mSummary for sigh 1.11.2[0m

[2016-11-11 10:18] Damnum commented on #6269
Awesome, I had the same problem, installed the package, and it works like a charm. Thanks, very handy!

[2016-11-11 10:33] mandevx commented on #6519
@hjanuschka I added the above code it gave me following error
[05:06:00]: ------------------------------
[05:06:00]: --- Step: default_platform ---
[05:06:00]: ------------------------------
[05:06:00]: Driving the lane 'ios autorelease' 🚀
[05:06:00]: Variable Dump:
[05:06:00]: {:DEFAULT_PLATFORM=>:ios, :PLATFORM_NAME=>:ios, :LANE_NAME=>"ios autorelease"}
[05:06:00]: Could not find action or lane

[2016-11-11 10:36] hjanuschka commented on #6519
@mandevx did you install the plugin? `update_project_codesigning`

i think you should rename `update_project_automate_codesigning`  to `update_project_codesigning`  (was a type from me in the previous post.

[2016-11-11 10:40] arrrnas commented on #6736
same issue:
[code]
Would be cool to reduce the time from `[12:33:02]: ▸ Test Succeeded`  to `[12:34:11]: fastlane.tools finished successfully 🎉` since that's about 25% of the test running time.  this is with
[code]
and running with `bundle exec` if that changes anything.

[2016-11-11 10:41] mandevx commented on #6519
@hjanuschka Yes that what I did first error disappeared by installing plugin and removing the _automatic as you suggested but the signing error is back again pasted below, is there a way to see of plugin installed properly and being used also are there some other trouble shooting methods to see if actually automatic signing has been turned off and what provisioning profile and cert in use etc etc

[2016-11-11 10:48] hjanuschka commented on #6519
you can append `--capture-output`  to your fastlane call, wich should give the full output in your clipboard.

you can also try to locate your gym logfile (should be printed where it is).

and you could also share your `*.xcodeproj/project.pbxproj` file - after you'v run the signing update

[2016-11-11 10:51] mandevx commented on #6519
@hjanuschka noticed that plugin and suggested code works to atleast tell xcode not to do automatic , this is what I did opened projects in xcode and click the checkbox to enable automatic signing and then saved and close xcode and later run fastlane command-line with suggested code and plugin and opened project again in xcode and saw that automatic signing was disabled so at-least disable part wor

[2016-11-11 11:51] suihan opened #6956 "Uncaught Exception: Couldn't posix_spawn: error 7"
### New Issue Checklist

### Issue Description
when I use fastlane to create Inhouse package，sometimes it fail with few info，like that：

![image](https://cloud.githubusercontent.com/assets/5337010/20214268/0aebb030-a848-11e6-96fe-b79f7a636200.png)

I try to google to find solution bug got nothing

[INSERT OUTPUT HERE]

### Environment

### Stack

| Key                 | Value

[2016-11-11 12:43] suihan commented on #6956
### Stack

| Key                 | Value                                              |
| ------------------- | -------------------------------------------------- |
| OS                  | 10.12                                              |
| Ruby                | 2.2.4                                              |
| Bundler?            | false                                              |
| Xc

[2016-11-11 12:55] suihan commented on #6956
for more info,the log is end with touch -c  ...dsym action, maybe it is break when calculate the saving time?:

Touch /Users/***/Library/Developer/Xcode/DerivedData/***-ddjjjuzjryqajchchcbdfvtaqtsc/Build/Intermediates/ArchiveIntermediates/***-WithoutWatch/BuildProductsPath/CI-iphoneos/***.app.dSYM
    cd /Users/***/Jenkins/workspace/***
    export PATH="/Applications/Xcode.app/Contents/Developer/P

[2016-11-11 12:57] suihan commented on #6956
on the same machine,it maybe work success,but sometimes fail, it confuse me

[2016-11-11 13:08] bootstraponline commented on #6951
No.

Yes, require works fine. Only fastlane_require breaks.

Sure, here is the complete Fastfile that can repro the issue.

[code]

[code]

[2016-11-11 13:21] hjanuschka commented on #6519
@mandevx  ok - please check https://github.com/fastlane/fastlane/issues/6519#issuecomment-253716386 - that everthing is configured right.

again, would help if we can get a `--capture_output` and the *.pbxproject

[2016-11-11 13:55] hjanuschka commented on #6956
try disabling: `use_legacy_build_api`  in most cases this is the culprit.
otherwise it seems like a xcode crash - can you build via xcode?

[2016-11-11 13:55] suihan opened #6957 "fastlane sometimes stop in loadding status."
### Issue Description
  fastlane sometimes keep loadding but not fail,it may take 5 hours and still in loadding status.
my question is that,what does fastlane do when it output the info? if fastlane should now visit some foreign url, it maybe fail in china. so may i set the fastlane not to visit the site？if it is not necessary.thank you.

![image](https://cloud.githubusercontent.com/assets/5337010

[2016-11-11 14:04] hjanuschka commented on #6957
not recommended - but you can add - at top of your fastfile:

[code]

this should disable update check. as described here -> https://github.com/fastlane/fastlane/blob/0cd59ddaec2671e7434d843698dec5be847f5188/fastlane/README.md#statistics

[2016-11-11 14:57] suihan commented on #6956
I had try remove use_legacy_build_api setting,and execute fastlane Inhouse,but the result is fail too.and it can be build via Xcode

[2016-11-11 15:21] petitmat opened #6958 "Why snapshot isn't building once"
### Issue Description

Hi, I'm doubtful about how Snapshot is working, I don't understand why it needs to recompile the project for each device type. We used previously an intern tool to make our screenshots (using .js) and we now want to adopt fastlane. But this tool needs to build only once and then run this build on different device types... So screenshots take 5 minutes for 4 device types inst

[2016-11-11 15:21] mt81 opened #6959 "Match doesn't save the distribution certificate on the git repo"
### New Issue Checklist

- [ x] Updated fastlane to the latest version
- [x ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Match doesn't save the distribution certificate on the git repo, match try to recreate the certificate each time and it always fails after the first successful build.

After a while I have c

[2016-11-11 15:22] suihan commented on #6957
thanks! I will try to use that ENV.
and you means another question I ask for fail reason? I will try it,but we have 2 branches for the project,one can use fastlane successful and another is fail always. I think if I can see what fastlane is doing when break, maybe helps to find the reason

[2016-11-11 15:23] PycKamil commented on #5963
Sorry for keeping you waiting. Here is log after gem cleanup.
[code]

As you can see still commands are doubled.

[2016-11-11 15:37] suihan commented on #6956
Touch /Users/mogujie/Library/Developer/Xcode/DerivedData/Mogujie4iPhone-ddjjjuzjryqajchchcbdfvtaqtsc/Build/Intermediates/ArchiveIntermediates/Mogujie4iPhone-WithoutWatch/InstallationBuildProductsLocation/Applications/Mogujie4iPhone.app
    cd /Users/mogujie/Jenkins/workspace/Mogujie4iPhone
    export PATH="/Applications/Xcode.app/Contents/Developer/Platforms/iPhoneOS.platform/Developer/usr/bin:/Ap

[2016-11-11 15:38] suihan commented on #6956
the whole log is too much, here is the last part,is it useful?

[2016-11-11 15:39] suihan commented on #6956
after touch dSYM,there is no more log,i do not know what fastlane is doing now,is just break.

[2016-11-11 15:42] suihan commented on #6957
I use "wc -l" to count the log line,got 107991,it is too big

[2016-11-11 15:42] suihan commented on #6956
I use "wc -l" to count the log line,got 107991,it is too big

[2016-11-11 16:01] TKBurner commented on #6844
@virusman Thanks for following up. Can you let me know if this affects all projects including a new blank one? We haven't heard any other reports of this. Thanks!

[2016-11-11 16:06] ph1lb4 commented on #6921
The output is really weird. The last line does return an empty array. I think this is bad?

[code]

[2016-11-11 16:08] TKBurner commented on #1802
HI @jeeftor can you submit a new issue? I'd love to help 👍 Thanks!

[2016-11-11 16:09] ph1lb4 commented on #6921
I do not understand how this is possible. In the folder "profiles" -> "development" I can see that there is the needed profile available. The name of the file is "Development_com.example.identifier.mobileprovision"

[2016-11-11 16:18] suihan commented on #6956
according to the log,the dSYM file had been created,but then something happened

[2016-11-11 16:22] suihan commented on #6957
for this situation，maybe fastlane can add a timeout logic to avoid .

[2016-11-11 16:24] ph1lb4 commented on #6921
@milch I found the problem thanks to your code snippets. The directory of our git repo looks like this

[code]

If I move the profiles folder up to the toplevel your scripts work. Is this something we have introduced or did you change that recently? I do not remeber anyone in our team messing around with the folder structure. Also can we change that manually?

[2016-11-11 16:42] ph1lb4 commented on #6921
Sorry I had a blackout, I was running your commands in the wrong directory. Actually they are returning the right profile, the array is not empty.

[2016-11-11 16:55] #6758 closed

[2016-11-11 17:32] jwilliams-handy commented on #6463
@hjanuschka thank you, that resolved the issue of the sample project submitting. Unfortunately, our actual app is still encountering the same input error. `IOError: [!] not opened for reading`

One thing I did observe which seemed weird was the Content Rights section. It is missing from our main app but was present when I created the brand new app in iTunes Connect. Not sure if related but figured

[2016-11-11 17:40] Desnoo opened #6960 "Produce crashes while app creation"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

When I run produce to create a new app and it already exists, produce will crash after the existence check.
Seems like an error to me.

##### Complete output when running fastlane, including t

[2016-11-11 18:05] hjanuschka commented on #6463
@jwilliams-handy  what is the reason of

[code]

in your fastfile ?  - can you try it without that?! - stacktrace is full of active_support entrys, maybe some problem with that.

[2016-11-11 18:15] jcampbell05 commented on #4100
Please don't close this

[2016-11-11 18:25] hjanuschka commented on #6956
@suihan i am just blind guessing here, lets see if we can break it down one by one.
can you check if you have "Custom Scripts" running - under "Build Phase" - and disable one after another everytime testing if it works?

maybe there is one script - with a `*` as a parameter wich results in too many arguments , wich is a possibility for the spawn_error (according to mach docs)

[2016-11-11 18:28] thecb4 commented on #6567
Not sure what was changed, but the latest build 1.108 has fixed the issue.  Everything uploads with no failures.
I am using fastlane inside of gitlab-ci multi runner

[2016-11-11 18:32] mt81 commented on #6959
Am I bad? Yes! I found the problem, was Git related.

[2016-11-11 18:32] #6959 closed

[2016-11-11 18:52] TKBurner commented on #6843
@nicbarker Can you login and accept the developer terms on Google Play? That looks like the problem here. Thanks!

[2016-11-11 18:54] virusman commented on #6844
I found the cause. I've been running the tests with others, without Screengrab. The app didn't have a runtime permission to write to external storage, so Screengrab runtime couldn't save the screenshots. Running screengrab fixes this, since it adds the permission via adb.

[2016-11-11 18:54] #6844 closed

[2016-11-11 18:57] TKBurner commented on #1679
@seanscal Thanks for reaching out. Can you submit a new ticket for this questions? I'd love to help 👍

[2016-11-11 19:07] seanscal commented on #1679
yeah for sure, thank you!

[2016-11-11 19:14] JMCPH commented on #6910
Hi again, this seems to fix the issue, by using the solution 2

Would it be possible in future releases of fastlane to add a the resign feature to be using the match provisioning profile, where it automatically decrypts it?

[2016-11-11 19:15] TKBurner commented on #6944
@rewislam Hi! Hope you are doing well! We don't currently support command line projects, but if you could let me know a little bit more about your requirements, I can mark this as a feature request. Thanks!

[2016-11-11 19:22] Fluzzarn opened #6961 "Creating Pushkit Cert"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Hello,
    I am currently wondering if there is a way to generate a new Pushkit/VOIP Cert using fastlane.  Looking at Spaceship it looks like there is an abstract class def for a VOIP Cert, but

[2016-11-11 19:29] SPDEX opened #6962 "[Spaceship] Automatically checkbox use 5.5-Inch Display for (4.7-Inch Display)"
Automatically enable use 5.5-Inch Display for (4.7-Inch Display, 4-Inch Display, 3.5-Inch Display) and Use 12.9-Inch Display for (9.7-Inch Display) with confirmation box, this feature will be useful to users.

Thank you

[2016-11-11 19:32] SPDEX opened #6963 "[Spaceship] App with issues, display messages"
Retrieve apps with issues, messages and display them from Resolution Center.

[2016-11-11 19:36] SPDEX opened #6964 "[Spaceship] Process, display App Analytics Data"
[Spaceship] Process, display App Analytics Data

[2016-11-11 19:40] hjanuschka commented on #6910
i think the problem here is that `match` and `resign` are two independant `actions`- binding the one to the other takes away a alot of abilities of either option.

i think it would be cooler to have an action like:

`get_provisioning_profile_from_itunes(app_id: "krone.at-fivexfive", output: "raw.provisioning")`
doing the above scenario2 code.

or as a second variation - a action arround (`match de

[2016-11-11 20:03] TKBurner commented on #6867
@tringManoj Hi, right now it's not possible to config this. Let me know if you have any other questions :)

[2016-11-11 20:03] #6867 closed

[2016-11-11 20:04] TKBurner commented on #5758
@jdee Awesome!

[2016-11-11 20:05] TKBurner commented on #6095
@fabware Thanks for following up. Glad to hear you got up and running 👍

[2016-11-11 20:15] mpirri commented on #1896
This issue should be fixed by `fastlane_core` 0.55.0, which shipped 2 days ago. Anyone who is still experiencing this issue should upgrade to the latest _fastlane_ (which has this version of `fastlane_core` as a dependency). Please let us know if you are still having difficulty. Closing this issue - thanks for you help, all!

[2016-11-11 20:15] #1896 closed

[2016-11-11 20:17] psamhaber opened #6965 "FrameIt beginner question"
### New Issue Checklist

- [x ] Updated fastlane to the latest version
- [x ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
I want to get frameit to frame my osx app screens (2304x1440px) with either one of the latest macbook frames. I reinstalled fastlane and downloaded the new frames.
Simply running `frameit` on

[2016-11-11 20:19] tinder-ayu opened #6966 "Why no screenshot even with just 1 failure"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
"If any error occurs while running the snapshot script on a device, that device will not have any screenshots"

Can you tell us the logic behind this? For each language, i get at least 1 random

[2016-11-11 20:42] brockboland commented on #6944
I ran into that very problem yesterday. In case anyone wants more data for this in the future, here's the code and CI output:

- https://github.com/vokal/Cat2Cat/pull/36
- https://travis-ci.org/vokal/Cat2Cat/jobs/174922173

For the time being, I'm using `xcodebuild`

[2016-11-11 20:44] tinder-ayu commented on #6966
fastlane env:

/usr/local/lib/ruby/site_ruby/2.3.0/rubygems/specification.rb:2278:in `check_version_conflict': can't activate json-2.0.2, already activated json-1.8.3 (Gem::LoadError)
	from /usr/local/lib/ruby/site_ruby/2.3.0/rubygems/specification.rb:1404:in `activate'
	from /usr/local/lib/ruby/site_ruby/2.3.0/rubygems/core_ext/kernel_require.rb:89:in `block in require'
	from /usr/local/lib/ruby/

[2016-11-11 20:46] Jules2010 opened #6967 "Snapfile device independent scales ?"
Hi,

Is there a setting to adjust the scale of the ipad pro as a snapfile setting?

Thanks.

Jules.

[2016-11-11 20:48] seanscal opened #6968 "Test target x encountered an error (Early unexpected exit, operation never finished bootstrapping - no restart will be attempted)"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
We have 3 separate build machines all which run the same code, I am getting this error on the newest mac we just got which has the same specs as another which the builds pass on. All running ex

[2016-11-11 20:58] JMCPH commented on #768
I get the same error after changing the GoogleService-Info.plist and then resigning the .ipa file. What were the fix to get it to work with resign? It seems like it does not sign the cocoa pods too.

[2016-11-11 21:37] ChrisVolentine opened #6969 "Possible to set "Use 5.5 Display" setting when uploading screenshots?"
I have a very large number of existing apps that don't have the "Use 5.5 Display" setting checked. I am wanting to update screenshots for all of these apps.

Is it possible to upload only iPhone 6s Plus and iPad Pro screenshots, and automatically set the remaining to use those 5.5/12 inch displays?

[2016-11-11 21:48] JMCPH commented on #6910
The `match_decrypt(path: "/where/to/put/decrypted_git_stuff");` looks interesting! 🏂

I've ran into the following error when i'm resigning the app with the provisioning profile, which i just decrypted. Seems like it does not code sign the cocoa pods we are using?

[code]

[2016-11-11 22:22] jwilliams-handy commented on #6463
@hjanuschka Wow, that was it! Removing that fixed the error. I was using it for a couple `.blank?` calls but I'll use an alternative now. Thanks for the suggestion!

[2016-11-11 23:29] 0xced opened #6971 "Can’t pass options containing a space for all fastlane tools"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

It looks like there’s a problem parsing option containing spaces. Here are two examples where the part after the space is ignored:

[code]
or
[code]

Another example with scan:
[code]

### Env

[2016-11-11 23:39] 0xced commented on #6971
This looks like a bug specific to the self-contained version of fastlane. Tools installed with gem are fine:
[code]

[2016-11-11 23:42] 0xced commented on #6971
@ohwutup Any idea where this is coming from?

[2016-11-11 23:54] 0xced commented on #6971
I found the problem: most of the fastlane tools wrapper scripts forget to quote the argument forwarding, i.e. it should be
[code]
instead of
[code]
Notice the quotes!

[2016-11-12 02:30] nicbarker commented on #6843
Hi @tkburner, unfortunately I've already tried that. On my primary account I've been presented with and accepted the developer terms, only to get this message. After trying many different things, I finally resorted to making (and paying for) a brand new developer account. Logged in, accepted the developer license, still get this problem. Unsure really what to do at this point.

[2016-11-12 02:42] hirad commented on #6801
@TKBurner Thanks for looking into this. It seems I had misdiagnosed the problem. It's running `pod install` that causes the changes in the project file, which is baffling to me at the moment. It's also only happening on our development branch.

Anyway, false alarm here. Thanks for your time.

[2016-11-12 02:42] #6801 closed

[2016-11-12 02:47] suihan commented on #6956
ok,i will try it

[2016-11-12 02:52] suihan commented on #6956
we have a custom script like that:

if command -v convert >/dev/null 2>&1; then
    echo "do not copy ci icon"
else
    echo "copy ci icon"
    if [ ${CONFIGURATION} == "CI" ]
    then
            cp Mogujie4iPhone/TestIcon/* Mogujie4iPhone/Images.xcassets/AppIcon.appiconset/
    fi
fi

I will try to remove it and execute fastlane first.

[2016-11-12 04:02] suihan commented on #6956
not good,when I run via jenkins,it seems custom script is done:

eqcyrotwhhexwwbwnomyrifxqtlm/TRAE_iOS_StaticLib-Prefix.pch.pch: No such file or directory[0m
[33m/data/rdm/projects/22380/app/TRAE_Lib/TRAE_StaticLib/build/TRAE_iOS_StaticLib-Prefix-ehakbxkmwzfygfarurttjvpojorg/TRAE_iOS_StaticLib-Prefix.pch.pch: No such file or directory[0m
[33mUnsupported attribute form in cloneAttribute. Droppi

[2016-11-12 04:15] suihan commented on #6956
I had remove all custom script，the left looks created by cocoapods：
![image](https://cloud.githubusercontent.com/assets/5337010/20235621/bd7572b6-a8d1-11e6-8adb-60e10b2a62bd.png)

[2016-11-12 06:00] suihan commented on #6956
![image](https://cloud.githubusercontent.com/assets/5337010/20236025/2a492c12-a8e0-11e6-8c41-8a184db617c2.png)
the same code,if I execute fastlane local,it success,and it always fail on server,maybe zip error?the dSYM file is 422M size.

[2016-11-12 06:56] zwang commented on #6815
I have the same problem. Just set up the a new git repo and stuck at the cloning steps like forever. The git repo is self hosted behind a VPN. Here are the logs:

`➜  Pla git:(task/automate-build) ✗ sudo match development --verbose
Password:
INFO [2016-11-11 22:47:56.82]: Successfully loaded '/Users/zhao/workspace/Pla/fastlane/Matchfile' 📄

+----------------------+---------------------------------

[2016-11-12 09:14] suihan commented on #6956
[17:13:15]: ▸ /var/folders/rw/q2c3bg810hj6j_j8kv86pp0r0000gn/T/SchemeScriptAction-UrvDJd: line 2: /usr/bin/python: Argument list too long

[2016-11-12 09:14] suihan commented on #6956
I update fastlane to last version , it seems fixed the issue

[2016-11-12 09:55] Patrickuang commented on #742
@devluyy add `export PATH="$PATH:/usr/local/bin:/usr/local/bin:/usr/local/sbin$:"` in script file works for me. Thanks.

[2016-11-12 10:56] fabiomassimo commented on #6900
Sorry,my bad, the `sigh` changed files were inherited from another PR still awaiting for approval.

I reverted those and started to share my code in the PR, working on the docs now.

[2016-11-12 12:21] suihan commented on #6956
here is the new log,when I execute "fastlane Inhouse",the logs like below,but if I run via jenkins,it turn tobe fail.
[code]

[2016-11-12 13:21] suihan commented on #6956
what can I do now?is there anything I can do?
maybe because my project is too heavy?how to fix it?

[2016-11-12 15:23] zwang opened #6973 "Have to run "sudo" to run fastlane"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Have to run "sudo fastlane" everytime. Otherwise having the error like below:

Ignoring bigdecimal-1.2.7 because its extensions are not built.  Try: gem pristine bigdecimal --version 1.2.7
Igno

[2016-11-12 15:55] DavidSporer commented on #6799
Refistering Pass Type IDs would be especially useful if you could also create a certificate for it.

[2016-11-12 17:02] IvanProdaiko94 commented on #6365
Unfortunately it's not my issue. When I call xrun directly it works like a charm. And I tried to wait a lot, nearly a few hours, and it also didn't help :( will dig it bit later today

[2016-11-12 17:49] masteranza commented on #6152
I have the same issue as @jorgemanrubia

[2016-11-12 18:13] hjanuschka commented on #6956
would be interessting what `SchemeScriptAction` is - that invokes a python with a too long arg list - wich is as i think a `*` resolving to too many files - or as it works locally - being run in wrong path.

have you tried wipeing all data from the jenkins user?

[2016-11-12 18:14] hjanuschka commented on #6815
@zwang  but normal cloning works ?

`git clone  https://git.pla.net/pla/iOSCertificates.git  test`

[2016-11-12 18:16] hjanuschka commented on #6463
@jwilliams-handy  glad it helped - and got you guys rolling again!

[2016-11-12 18:36] hjanuschka commented on #6973
have you tried

`brew doctor`  - maybe the permissions on some folders are messed up.

[2016-11-12 19:03] tbatzakas opened #6974 "gym cannot find non-latin (greek) scheme from Fastfile"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

When trying to run my lane containing schemes in greek like the one mentioned below "Πορφυρός" I get a message that the scheme cannot be found. If I try to select it from scheme list, gym esca

[2016-11-12 21:23] waroo opened #6976 "Documentation for deliver price_tier (Alternate Price Tiers)"
Further documentation needed for possible values to enter into price_tier.  Current help states:

`-r, --price_tier [VALUE] The price tier of this application`

Some of the examples use --price_tier 0 and --price_tier 5 which makes sense for the standard price tiers.

However, I could not find what values to use when selecting Alternate Price Tier A or B or Alternate Price Tiers 1 - 5.

[2016-11-12 23:54] GoodMirek commented on #6796
@KrauseFx Unfortunately, it still does not work:
[code]

[2016-11-13 00:11] GoodMirek commented on #6882
Retested with following versions, result: PASSED.
DN:~ admin$ fastlane -v
fastlane 1.108.0
DN:~ admin$ match -v
match 0.11.0

Thanks @hjanuschka !

[2016-11-13 00:11] #6882 closed

[2016-11-13 00:40] ohwutup commented on #6971
Thanks @0xced we will definitely fix this up ASAP!

[2016-11-13 00:51] bitops opened #6977 "Getting 'invalid username and password combination'"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I set up fastlane on one of my workstations and everything works great. I am able to do a beta build and push it to Hockey without issue. I am now trying to run `fastlane beta` on my other wor

[2016-11-13 03:26] zwang commented on #6815
@hjanuschka  yes. Sorry. Forgot to mention this.  It works normally, took a couple of seconds. I have tried most of the solutions I can find in this repository, but has no luck..

[2016-11-13 03:30] zwang commented on #6973
@hjanuschka  Thanks for the help. I did try `brew doctor` and it shows my system is ready to brew. Still having the same problem. I guess it is because of this issue: https://github.com/rbenv/rbenv/issues/947

I have to do `sudo` to use `gem`

[2016-11-13 05:33] suihan commented on #6956
so how can I check where SchemeScriptAction code is？may I remove some code from fastlane？It seems some code is unnecessary and have some bug。

[2016-11-13 12:08] prolog3001 opened #6978 "PLAY Store content rating"
Will there ever be a fastlane solution for the annoying IARC content rating needed to fill for each app?

Thnkx.

[2016-11-13 12:16] suihan commented on #6956
or how to wipe all data from the jenkisn user?

[2016-11-13 12:42] kylejm commented on #6866
Hey all, thanks for the hard work on this!

I'm still experiencing this problem after upgrading `gym` to 1.12.0 and `match` to 0.11.0.

My logs are basically the same as Log 2 and Log 3 above.

Running on Bitrise with Xcode 8.1 on macOS 10.12 (Sierra).

Anything I could be missing or not updated? All the rest of our fastlane gems are up to date too.

[2016-11-13 15:21] bkpawlowski commented on #6660
@TKBurner
I've encountered the same issue on Ubuntu 16.04. I had already ruby and ruby-dev(both in version 2.3.0) installed but I was still unable to compile one of this ruby plugins. Thing that helped was installing `build-essential` package. Perhaps appropriate `linux-headers` package is also required  - but i'm not sure, it was already there - as gem does stuff using gcc.

Best regards!

[2016-11-13 18:01] hjanuschka commented on #6815
tbh. i have no clou, do you have any chances using ssh instead of https?
the stacktrace clearly says that it hangs during clone.

[2016-11-13 18:07] hjanuschka commented on #6956
i still bet on any "build phase" script - have you checked all targets?
the error states "/usr/bin/python: Argument list too long" so there must be a script wich invokes python, with too many (>1000) arguments.   this can only happen if there is a `*`  in the arg list, wich resolves to more than 1000 files.

i am not a jenkins ninja, but i think you can find a folder on the ci server where the sou

[2016-11-13 18:19] hjanuschka commented on #6977
you either have set a ENV variable with wrong password:
 like: `FASTLANE_PASSWORD` or `DELIVER_PASSWORD` - or you have a faulty keychain entry.

you can check that when you go to your "Keychain Acess.app"  and search on all objects for `deliver.sebastian@bitops.io` - you can delete it or change the pw directly from keychain app :)

let me know if this helps you.

[2016-11-13 19:47] bitops commented on #6977
@hjanuschka that did help, thank you! Removing the `deliver.sebastian@bitops.io` entry from Keychain Access did the trick. However, I would *never* have figured this out if I hadn't filed this issue.

I think it would be nice to include a helpful error message that suggests this as a fix if the stored username/combo doesn't work.

[2016-11-13 19:57] hjanuschka commented on #6977
glad it worked, @bitops  i had to look at the source tbh. can you close the issue.
you are right that it should be documented somwhere.

[2016-11-13 20:38] Jules2010 opened #6981 "Deliver `upload_screenshot!': [!] sort_order must be higher than 0"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines]

### Issue Description
I'm getting the following error when delivering

##### Complete output when running fastlane, including the stack trace and command used
[code]
### Environment

<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                 | Value

[2016-11-13 20:58] #5364 closed

[2016-11-13 21:01] milch commented on #6866
What's your `fastlane_core` version?

Also `match` needs to have re-downloaded the certificates at least once for it to work, so try removing the certs manually and re-running `match`

[2016-11-13 21:02] GoodMirek opened #6982 "lane executes in current directory, but action 'sh' executes in ./fastlane/"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

lane executes in current directory, but action 'sh' executes in ./fastlane/ subdirectory
Is that correct and expected?

### Environment

Please run `fastlane env` and copy the output below. Th

[2016-11-13 22:20] waroo commented on #6976
I figured out that Alternate Tier B is value 530

[2016-11-14 02:36] suihan commented on #6956
yeah，I had check all run phase，there is no python code，only shell。maybe because the sourcefile is overthan 1000？

[2016-11-14 03:37] suihan commented on #6956
I archive with Xcode and it success always.

[2016-11-14 04:07] barnaclebarnes commented on #6875
@TKBurner Maybe a dumb question but how do you run the `download_metadata` action in the `deliver` command? i.e:

[code]

If I only want to download the metadata, what options do I send?

[2016-11-14 04:36] nolanwilson commented on #6981
+1. We're seeing this issue happen for all of our apps using the `overwrite_screenshots` flag

[2016-11-14 05:03] zwang commented on #6815
I tried SSH before. Having the same issue. I am wondering if it is because the git repo is behind the VPN..

[2016-11-14 06:39] prolog3001 commented on #6978
Thank you.
Can you help some more and link me to instructions how include the output of fastlane env?

[2016-11-14 06:51] suihan commented on #6956
I think I had found it，there is a Python script In scheme script，which can only be found via edit scheme. so that is why I had check all my build phases and nothing help. Thank you for your help.

[2016-11-14 07:02] mychaelgo commented on #6978
@prolog3001 it means you must incluce your fastlane env when posting an issue, like this https://github.com/fastlane/fastlane/issues/6982#issue-188994796

[2016-11-14 08:33] nicolasbraun commented on #6191
Sure !
What we do:

* Enable automatic codesign for the target
* Use our bundle for all configuration but Distribution https://i.imgur.com/SNrRveD.png

Automatic codesign is commited for development so the developers do not have to worry about it, only the PMs for developer or the CI servers.

At the beggining of the Fastlane flow, we:

**Switch to Manual codesign**

To do that I have a simple fun

[2016-11-14 08:37] kylejm commented on #6866
fastlane_core is at 0.55.0.

I'm running on CI and the cheers are re-downloaded by `match` on every build.

[2016-11-14 08:55] nolanwilson commented on #6981
Thanks for the update @Jules2010. That's a good workaround for the meantime but I would love to see this fixed as otherwise I'll have to go in and do that for each and every app update that we have.

[2016-11-14 10:39] ruslanfutureuniverse commented on #1775
Any updates here?

[2016-11-14 11:01] suihan commented on #6956
I think I had found it，My project had a scheme script，which was not in build phases，but only can be found by edit scheme，and the python run error will cause the issue.
Furthermore,I think the python script push some wanning which made fastlane thought it is been failed.

[2016-11-14 11:16] hjanuschka commented on #6956
so you managed to solve it? - can you close the issue then?

[2016-11-14 12:49] yogiben commented on #6516
@TKBurner that did it. thanks :)

[2016-11-14 12:49] #6516 closed

[2016-11-14 12:56] psamhaber opened #6985 "frameit (iPad Air 2 frames have different offsets)"
**Problem:**
The space gray iPad Air 2 frame artwork has a different offset than the rose gold / silver ones
Space gray: 111px/...
Rose gold: 112px/...

**Result:**
Space gray framing works fine
The other colors are off by one pixel

I downloaded and checked the original uncropped device pngs from facebook.design, and the Space gray version is simply 1px wider ( only the ipad artwork outer, not th

[2016-11-14 13:16] ruslanfutureuniverse opened #6986 "Resign can not find provision profile at path '~/Library/MobileDevice/Provisioning Profiles/'"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Resign fails to find provisioning profile at path '~/Library/MobileDevice/Provisioning Profiles/something.mobileprovision'. But '/Users/user/Library/MobileDevice/Provisioning Profiles/something

[2016-11-14 13:17] gigi-mohemian commented on #6269
Worked like a charm for me as well 👍

[2016-11-14 13:29] psamhaber opened #6987 "frameit (Landscape detection not working as expected)"
**Problem:**
Landscape screenshots of iPhone and iPad frames are not framed correctly, see attached.
It seems the landscape detection part doesn't seem to understand the offset/widths correctly?

**Specs:**
- Running frameit directly from the console
- Version: frameit 3.0.0;
- Screenshot sizes are correct (iPhone 750x1334px, iPad 2048x1536px)
- I'm using the latest frames version

![ipad-horz-max

[2016-11-14 13:55] kexoth commented on #6269
I had the same issue with mismatches on json & I solved it with `gem cleanup` & now I use only the newest gems & don't have any issues. 😉

[2016-11-14 14:42] herberzt opened #6988 "Integrating phonegap build with fastlane"
I've been digging around looking to see if there is a way to integrate PhoneGap build into Fastlane. Our application is a Ruby on Rails app and not written in a native mobile language. From what I can see Gym is were the IPA or APK come from, is there a way to get Gym to run the PhoneGap APIs instead?

[2016-11-14 14:43] hjanuschka commented on #6986
just a blind guess - have you tried removing: the `\ `  for the space?
as it seems that `shellescape` is done here: https://github.com/fastlane/fastlane/blob/master/sigh/lib/sigh/resign.rb#L30 so in your case this will result in a double shell escape 💥

[2016-11-14 14:46] prolog3001 commented on #6978
Got it! here:

<details><summary>🚫 fastlane environment 🚫</summary>

### Stack

| Key                 | Value                                                          |
| ------------------- | -------------------------------------------------------------- |
| OS                  | 10.11.6                                                        |
| Ruby                | 2.0.0

[2016-11-14 14:49] hjanuschka commented on #6988
what is `Phonegap Build`? the cloud based building service?
can you provide a sample app?

you can always shell out to run normal console commands with `sh "echo 124"` - so if you can build from commandline you can do it from fastlane too.

i'v seen samples (using ionic framework; should be comparable) -> https://github.com/fiahfy/ionic2-fastlane-sample

where you get a real xcodeproject, therefor

[2016-11-14 14:58] orkenstein commented on #6986
@hjanuschka thanks for suggestions.
Tried both. No, that's not the case.

[2016-11-14 15:04] jniemin opened #6989 "Gym doesn't compile core data generated classes"
### Issue Description

Trying to build my app but it randomly fails for following error

[code]

From time to time it builds but most of the time it doesn't. Even if I haven't changed anything, just ran builds one after another. After build if I check the directory, the file actually exists in the dir. Also when compiling through xcode, the build is fine.

### Environment

<details><summary>✅ fast

[2016-11-14 15:25] TKBurner commented on #1775
@ruslanfutureuniverse Are you still running into this? Can you submit a new issue? Thanks!

[2016-11-14 15:26] TKBurner commented on #6191
@nicolasbraun Thanks so much for sharing!

[2016-11-14 15:27] #6463 closed

[2016-11-14 15:28] herberzt commented on #6988
@hjanuschka yes, the cloud-based building service. essentially with Phonegap I can upload a project to the web-based interface they provide and it will shoot out and IPA and APK file this can be achieved by calling their API directly as well.

[2016-11-14 15:39] hjanuschka commented on #6988
ok i dont think there is currently a phonegap action or plugin for fastlane.
if i get this right, you have to configure your git repo on phonegap build site.

and then you can trigger build by calling this rest api:

`http://docs.phonegap.com/phonegap-build/developer-api/write/#_post_https_build_phonegap_com_api_v1_apps_id_build`

right?

so you could do a plugin/action around it to use `RestClien

[2016-11-14 15:58] herberzt commented on #6988
Okay, well hopefully I can figure it out and get it submitted for other people to use. Thanks

[2016-11-14 16:04] hjanuschka commented on #6988
i am not quite into phonegap at-all - but let me know if i can assist you somewhere, could you provide a sample app and maybe a account i can play arround with?

[2016-11-14 16:12] herberzt commented on #6988
@hjanuschka there is this. it might help. I don't want to give away our specific project. https://github.com/phonegap/phonegap-start

[2016-11-14 16:17] Desnoo commented on #6960
The problem was that the user had no access to the itunes connect. Sorry for bothering.

[2016-11-14 16:18] #6960 closed

[2016-11-14 16:19] hjanuschka commented on #6988
ohhh i see do you have https://github.com/phonegap/phonegap-cli installed?

`phonegap remote build`  try this from your terminal. :)

[2016-11-14 16:21] hjanuschka commented on #6989
can you try adding:

[code]

right before the call to `gym` - maybe this helps.

[2016-11-14 16:22] perroyverde opened #6990 "Deliver Error: iTMSTransporter completed with a non-zero exit status: 1 | XCODE 8"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines]

### Issue Description

Getting error trying to Deliver app with XCode 8 and alphanumeric password.

[code]

`deliver(force: true, app_identifier: ENV["APP_IDENTIFIER"], metadata_path: "./metadata", verbose: true, skip_screenshots: true)`

I've tried using `FASTLANE_ITUNES_TRANSPOR

[2016-11-14 16:27] hjanuschka commented on #6986
ahhh ok - i think i was reading the issue too fast 👍  and missed the point with the `~`.
seems that resign does not do `expand_path` on it

can you try it like this (as a work around):

[code]

[2016-11-14 16:35] orkenstein commented on #6986
It's kinda works, but prints some strange errors:
[code]

The second question is, how to check if new entitlements actually exist in re-packaged .ipa?

[2016-11-14 16:36] menriquez commented on #6988
we are currently using Ionic built apps with fastlane but doing so locally, not with the phonegap cloud-build system, and it requires a good amount of custom scripting to tie all the pieces together, as would be expected.

my guess would be just skip the `gym` part of `fastlane`, do a `phonegap remote build`, and use `deliver`  and `supply` to submit the app to the stores.

[2016-11-14 16:38] hjanuschka commented on #6986
use the ipa gem
or just open it in finder - or unzip it

--
Helmut Januschka
Sent with Airmail

Am 14. November 2016 um 17:36:14, orkenstein (notifications@github.com(mailto:notifications@github.com)) schrieb:

[2016-11-14 16:43] orkenstein commented on #6986
Yep, unzipped it.
Not sure, where to look in particular?

[2016-11-14 17:24] herberzt commented on #6988
@menriquez seems like a decent approach. How do you manage to do screenshots?

[2016-11-14 17:50] #5662 closed

[2016-11-14 18:37] #5778 closed

[2016-11-14 19:01] Jules2010 opened #6992 "Build once ?"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

When using screenshot it builds for each device, surely it should only need to be built once and copied to the next simulator ?

##### Complete output when running fastlane, including the stac

[2016-11-14 19:09] TKBurner commented on #6986
Hi @orkenstein Are you providing the path relative to your directory or relative from the home directory of your user? Thanks!

[2016-11-14 19:17] kylejm commented on #6866
Can this one be re-opened please? It's quite a blocker for us, stopping any submissions on CI via `fastlane`. 😢

[2016-11-14 19:18] TKBurner commented on #6978
@prolog3001 Thanks for following up. Are you using deliver? Can you share your output? For new apps you'll have to set some initial content data.

[2016-11-14 19:20] TKBurner commented on #6981
@Jules2010 @nolanwilson I flagged this for the core team to take a look 👍

[2016-11-14 19:27] TKBurner commented on #6815
@lucabartoletti Was your repo behind a network as well or is it hosted on Github? Thanks!

[2016-11-14 19:28] KrauseFx commented on #6981
This was introduced with https://github.com/fastlane/fastlane/pull/6540, and should only happen when you set the `overwrite_screenshots` flag. Definitely a bug that should be fixed. I'm surprised that this ever worked before cc @giginet

[2016-11-14 19:34] nolanwilson commented on #6981
We've disabled this option for now and I'll just be manually checking screenshots to make sure they are removed in the mean time. Thanks @TKBurner @KrauseFx for the prompt reply as always!

[2016-11-14 19:37] Alarson93 opened #6993 "Could not install WWDR certificate"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
I'm attempting to resolve some issues with our build box. Everything was working fine and dandy up until we updated to Sierra and Xcode 8. Initially, I was having issues with Fastlane picking t

[2016-11-14 19:52] TKBurner commented on #6875
@barnaclebarnes Thanks for following up. This is not possible you can only sync the data between the two without an interactive shell. Sorry for the confusion.

[2016-11-14 20:03] TKBurner commented on #6982
Hi @GoodMirek Hope you are doing well! Has this behavior changed or is this your first time noticing this behavior? Thanks!

[2016-11-14 20:04] TKBurner commented on #6660
@bkpawlowski Glad to hear you got up and running! We're working on a bundled version of ruby with Fastlane that should have prevented this issue. Thanks!

[2016-11-14 20:07] TKBurner commented on #6973
@zwang Has this worked before? Are you on Sierra? How do you manage your ruby versions? Thanks!

[2016-11-14 20:13] TKBurner commented on #6796
Thanks for reporting this @GoodMirek I've sent this out to the core team to take a look. Thanks 👍

[2016-11-14 20:16] TKBurner commented on #6974
@tbatzakas Thanks for reaching out. I've let the team know about this issue, but I'm not sure how fast it can be prioritized. Can you rename your schemes for the time being? Thanks!

[2016-11-14 20:25] hjanuschka commented on #6796
@GoodMirek i think you ll have to wait for the next update of `sigh` - then the commit should be included.

[2016-11-14 20:25] TKBurner commented on #6365
@IvanProdaiko94 How did it go? Let me know if you are still running into this issue!

[2016-11-14 20:30] TKBurner commented on #6843
Hi @nicbarker Thanks for letting me know. This isn't expected, can you provide exact repro steps on a blank android project? Thanks!

[2016-11-14 20:32] TKBurner commented on #768
Hi @JMCPH Can you submit a new issue for this? Thanks!

[2016-11-14 20:35] orkenstein commented on #6986
@TKBurner relative to the home:
[code]

[2016-11-14 20:36] hjanuschka commented on #6986
@orkenstein  here is a explanation on how to get entitlements: http://stackoverflow.com/a/12851886/1945875

[2016-11-14 20:38] zwang commented on #6973
@TKBurner Yes, I think it works before without `sudo`. I am on Sierra, macOS X 10.12.1.  I use rbenv and ruby-build to manage ruby dependencies. It feels like a rbenv ruby-build issue as I linked here:
https://github.com/rbenv/rbenv/issues/947

[2016-11-14 20:39] JustinJiaDev commented on #6124
@TKBurner I have submitted my PRs last week. Is there anything else I should do to get them merged? Thanks!

[2016-11-14 20:40] tbatzakas commented on #6974
of course, that's my current approach and it works just fine. As a matter of fact this is a workaround that causes no issues at all, so I believe that even if this remains unfixed it will be just fine, but at least a warning about non-latin scheme names would help other developers reach a solution quickly.

[2016-11-14 20:44] orkenstein commented on #6986
@hjanuschka Yes, it's there. Thanks a lot!
Despite that not very clean solution with `File.expand_path` and some weird `SecPolicySetValue` warnings, I think the issue is fixed.
The reason I needed to resign the `.ipa` file is 'cause I assemble build from Unreal Engine Editor and I get APNS-entitlement warning from Apple:
http://stackoverflow.com/questions/14807129/missing-push-notification-entitle

[2016-11-14 21:08] milch commented on #6866
Did you provide the `keychain_password` param to `match`?

[2016-11-14 21:24] kluepfel opened #6994 "How to group multiple lanes in config files (e.g. Appfile)"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
We have two versions of our app, a "regular" one and a "beta" one. We have multiple lanes for each, for running tests, distributing testflight builds, and releasing regular builds. Do I have to

[2016-11-14 21:26] petitmat commented on #6992
Interested about the answer :)

[2016-11-14 21:29] kluepfel opened #6995 "Retry app store upload (pilot/deliver)"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

The App Store is pretty flaky recently. Submitting from Xcode or using fastlane sometimes just fails for no particular reason. Just retrying usually does the trick.

Is there a way to make the

[2016-11-14 21:33] kylejm commented on #6866
No, but I didn't think you'd have to if the item was added by `match`? I don't know what the password would be for keychain on our CI if I were to have to do this. Maybe @godrei or @viktorbenei can advise if it comes to that.

[2016-11-14 21:44] milch commented on #6866
@kylejm The keychain password is (unfortunately) required by the `set-key-partition-list` command, even if the keychain is already unlocked. Usually for the (default) login keychain the password is the user's account password.

As a workaround, you could create a temporary keychain with a known password and use that to import your certificates. The only thing you'd have to take care of is creating

[2016-11-14 22:12] LyndseyS commented on #4905
I suspect there's still an issue with escaping in fast lane:

&#x27;mZone Poker&#x27; is not a valid identifier for an app.  Please choose an identifier containing only alphanumeric characters, dots, asterisk and that does not start with pass.

[2016-11-14 22:26] hborders opened #6996 "Require Xcode Version"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Since we can use `fastlane_version` to require a specific `fastlane` version, we should be able to use `xcode_version` to require a specific Xcode version.[ I realize we can use `xcode-select`

[2016-11-14 22:36] mlostekk commented on #6822
It seems like the html code is grouped for the ipads

[2016-11-14 22:40] KrauseFx commented on #6992
Are you talking about _snapshot_?

[2016-11-14 22:41] KrauseFx commented on #6993
Hey, thanks for taking the time to file this issue. Have you see the existing questions around this topic? https://github.com/fastlane/fastlane/issues?utf8=%E2%9C%93&q=%22Could%20not%20install%20WWDR%20certificate%22

[2016-11-14 22:42] petitmat commented on #6992
@KrauseFx yes I think he's talking about snapshot

[2016-11-14 22:43] KrauseFx commented on #6996
Do you mean something like `xcversion`? https://docs.fastlane.tools/actions/#xcversion

[2016-11-14 22:43] KrauseFx commented on #6996
Or even `ensure_xcode_version` 👍

[2016-11-14 22:46] KrauseFx commented on #6995
Could you share the full output and stack trace when that happens? _fastlane_ should already cover some of those issues.

[2016-11-14 22:47] kpogz opened #6998 "invalid byte sequence in UTF-8 when using update_info_plist"
### New Issue Checklist

- [x] Updated fastlane to the latest version - yes, 1.08 as of nov 14 2016
- [x] I have read the [Contribution Guidelines] - yes(https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

i thought id try the fastlane advice of adding gemfile to speed things up ect. i followed the instructions and now the update_info_plist action is now throw

[2016-11-14 22:48] KrauseFx commented on #6994
You can always pass the `app_identifier` to each action in your Fastfile too, so it looks something like
[code]

[2016-11-14 23:17] hborders commented on #6996
Thanks! `ensure_xcode_version` is exactly what I wanted. I swear I googled this before I asked. :)

[2016-11-14 23:27] ConfusedVorlon commented on #6124
@vpolouchkine again:  #4628
I have certainly given up on pull requests. It would be nice if you could work to stop @JustinJiaDev doing the same.

[2016-11-15 00:38] mono0926 commented on #6866
@milch

Thanks, the problem resolved 👍
I was troubled by hangs as well as @kylejm yet, but it work again now 🎉

## Bitrise:

Defined `MATCH_KEYCHAIN_NAME` and `MATCH_KEYCHAIN_PASSWORD`.

<img width="375" alt="screen shot 2016-11-15 at 8 26 51" src="https://cloud.githubusercontent.com/assets/1255062/20287071/a0193f16-ab0d-11e6-97f6-cd66b98af622.png">

## fastlane:

Defined this and call it before `

[2016-11-15 00:42] milch commented on #6866
@mono0926 Thanks for posting your solution!

@kylejm Let me know if that resolves it!

[2016-11-15 01:01] JustinJiaDev commented on #6124
@ConfusedVorlon Thanks for the friendly bump XD

The issue was opened 2 months ago. I provided some information to the team a month ago. Without any sign of progress (I assumed they were busy), I decided to implement the feature myself. It's a pretty big change (300+ lines of code added). I spent a couple days working on it and finished everything two weeks ago. I split my changes into two PRs as

[2016-11-15 01:15] suihan commented on #6956
ok

[2016-11-15 01:15] #6956 closed

[2016-11-15 01:19] ConfusedVorlon commented on #6124
yup - it's certainly a feature I'd like to use.
fingers crossed that someone gets to it eventually.

I think it is a crying shame to leave people who contribute this kind of code frustrated and ignored. Unfortunately, fastlane under new management doesn't seem equipped to work with third party contributors effectively.

[2016-11-15 01:23] milch commented on #6514
Closing this as a duplicate of #6113.

[2016-11-15 01:23] #6514 closed

[2016-11-15 01:33] kdawgwilk opened #6999 "[Feature] Sync multiple profiles and certs with a single repo download"
It would be nice if you could give match a list of provisioning profiles and it would download the cert/profile repo once rather than once for each item

[2016-11-15 01:38] KrauseFx commented on #6999
You can now provide a list of app identifiers and it will do so 👍

[2016-11-15 01:39] #6999 closed

[2016-11-15 01:41] barnaclebarnes commented on #6875
@TKBurner OK - So the issue still stands that `--force` true does not force overwriting of the metadata folder.

[2016-11-15 01:47] #6996 closed

[2016-11-15 01:47] KrauseFx commented on #6996
👍

[2016-11-15 01:59] barnaclebarnes opened #7000 "Ability to return information about a Membership and Contracts"
### Issue Description

We manage over 150 different client apps on our platform and we often find that client let their Apple Developer memberships lapse and fail to agree to new developer agreements. We would like to automate a check on the developer and iTunes Connect portal to:

* Return Membership information (i,.e. Program Type, Entity Type, Phone, Address, Expiration Date, Device Reset Date,

[2016-11-15 02:34] enozero opened #7001 "Allow for uploading iTunes Connect export compliance documentation"
### Issue Description
Uploading of iTunes Connect export compliance is not yet implemented in Spaceship. Let's get it implemented!

[2016-11-15 02:34] enozero commented on #7001
I'll start working on this issue.

[2016-11-15 02:44] barnaclebarnes commented on #6875
I got it to work using this:

`DELIVER_FORCE_OVERWRITE=true deliver download_metadata`

Looks like it is not checking the `--force` argument or the `force` keyword in the file. Maybe just a documentation change is needed?

https://github.com/fastlane/fastlane/blob/652a1b3d0628572ae0bcece9a94b7db60fa16139/deliver/lib/deliver/commands_generator.rb#L130

[2016-11-15 03:15] Jules2010 commented on #6992
Yes snapshot

[2016-11-15 04:44] mono0926 commented on #6866
I wrote the article (in Japanese, sorry).
[Bitrise Xcode 8.1などのSierra製CIマシンとfastlaneの組み合わせでビルドが出来ない問題が解決🎉 – Swift・iOSコラム – Medium](https://medium.com/swift-column/fastlane-bitrise-ef1125a1d89a#.4qayqhx1n)

[2016-11-15 06:25] giginet commented on #6981
Thank you, notify me about this.
I apologize for the inconvenience.

[2016-11-15 07:52] hjanuschka commented on #6994
a bit more in detail you can do it like this:

[code]

call it from commandline with:

`fastlane demo app_identifier:hello.world.app``

or from within fastfile you can call it with:

[code]

let me know if this helps @kluepfel

[2016-11-15 07:53] rewislam commented on #6944
Hi @TKBurner we're using fastlane throughout our projects (our CI heavily relies on it). While most of our work involves iOS and Mac apps, we do sometimes also create Command Line Tools which we'd like to serve from our CI as built products. Ideally it would be awesome to simple continue to use fastlane to do this rather than call xcodebuild commands directly.

[2016-11-15 07:55] hjanuschka commented on #6990
i think you should not use `FASTLANE_ITUNES_TRANSPORTER_USE_SHELL_SCRIPT` source-code states that it is something for xcode6 and below?!

can you try setting this on top of your fastfile:

[code]

most of the issues with transporter are based on apples own transport protocol having problems with firewalls/vpns..., the above option disables this.

[2016-11-15 07:57] hjanuschka commented on #6986
@orkenstein i don't think that the `expand_path` is really unclean, but you'r right - resign itself should do it. ( i ll do a PR for that - i guess)

the `SecPolicySetValue` warning, i don't know right now where this comes from, having this on a few ci machines, but not all - so its kinda os related.

the real solution in your case should be, Unreal Engine Editor exporting it correctly, so maybe c

[2016-11-15 08:04] hjanuschka commented on #6986
@orkenstein  PR is here: https://github.com/fastlane/fastlane/pull/7004

[2016-11-15 08:20] mcactive commented on #6951
Having the same issue with `fastlane_require 'open-uri'`

Just normal `require 'open-uri'` works..

`[09:18:47]: Installing Ruby gem 'open-uri'...

Looking for related GitHub issues on fastlane/fastlane...

Found no similar issues. To create a new issue, please visit:
https://github.com/fastlane/fastlane/issues/new
Run `fastlane env` to append the fastlane environment to your issue
/Users/roadmap/

[2016-11-15 08:25] perroyverde commented on #6990
@hjanuschka Thank you so much. It's working now!

[2016-11-15 08:39] vincentsaluzzo commented on #6866
Hello there,

I've trying all your solution but nothing works for me.
My build on bitrise still block when running `carthage copy-frameworks` command in run script phase.
The fix was release in the fast lane 1.108 tool suite ?

[2016-11-15 08:40] prolog3001 commented on #6978
Not deliver... using "supply" for Play Store.

[2016-11-15 08:44] hjanuschka commented on #6944
@rewislam @brockboland @TKBurner
here is a PR https://github.com/fastlane/fastlane/pull/7005 trying to add commandline app support.

anyone of you can try this?

[2016-11-15 08:47] hjanuschka commented on #6990
@perroyverde  🎉  awesome!
can you close this issue?

[2016-11-15 08:49] vincentsaluzzo commented on #6866
Mmmh I write a bad character in bitrise environment variable sorry.

[2016-11-15 08:50] #6990 closed

[2016-11-15 08:55] ruudk opened #7006 "Deliver - "Could not find option 'itc_team_id' in the list of available options""
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I'm trying do deliver my created IPA to the appstore but it fails.

### Captured Output

Command Used: `release`
<details><summary>Output/Log</summary>

[code]

</details>

<details><summary>✅

[2016-11-15 09:28] remcohaszing opened #7007 "The sh action is undocumented."
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

The `sh` action is undocumented. I was looking for it on https://docs.fastlane.tools/actions/, because I was hoping to find a way to disable the colored output. I have no clue if this is possi

[2016-11-15 09:30] DNACore opened #7008 "Resigned iOS App Crashed On Launch when it's a Swift app."
### New Issue Checklist

- [Y] Updated fastlane to the latest version
- [Y] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [Y] I have tried several apps, the sample app is MS OneDrive jailbreak Version.
- [Y] <font color=red>Objc apps are OK.</font>

### Issue Description

##### Complete output when running fastlane, including the stac

[2016-11-15 09:45] ruslanfutureuniverse commented on #6986
@hjanuschka thanks for swift support!

[2016-11-15 09:45] #6986 closed

[2016-11-15 10:07] wema1043 commented on #6553
@ohwutup I tried your solution, but still getting same isue

[2016-11-15 10:07] kluepfel commented on #6995
There's no stack trace. I've been trying to reproduce the error with --verbose, but so far it succeeds every time I used --verbose :/

Here's the full output:
[code]

Basically what I'm looking for is a way to check "did the last action succeed?", and an way to perform an action depending on that. Something like

[code]

[2016-11-15 10:17] 0xced opened #7009 "[deliver] submit_for_review does not actually submits for review"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I used fastlane/deliver to submit an app to the App Store, I set the `submit_for_review` option to true, the log said

but when I check on iTunes Connect, the app is still in the *Prepare for

[2016-11-15 10:22] 0xced commented on #7009
Turns out this is a duplicate of #5542.

[2016-11-15 10:22] #7009 closed

[2016-11-15 10:25] DNACore commented on #7008
@fastlane-bot i've added the external message.

[2016-11-15 10:26] xfreebird opened #7010 "How to write unit tests for local/private actions"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Hi,

I want to write unit/integration tests for my local fastlane actions.
Currently I'm not sure what is the best (less friction) setup.

What is the simplest way to do it in terms of env set

[2016-11-15 11:38] hjanuschka commented on #7010
i would preffer (we do so) - create a plugin, e.g.: fastlane-plugin-mycompany - have my actions in there, and in the plugin skeleton there is a `rspec` sample setup. (see here: https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Plugins.md#create-your-own-plugin)

we don't even use the pluginfile, just put a `require "fastlane/plugin/mycompany"` at the top of my fastfile, and ensure the

[2016-11-15 11:41] hjanuschka commented on #7007
good point, btw to disable colored output set `FASTLANE_DISABLE_COLORS` to 1

in your fastfile (on top):
[code]

[2016-11-15 11:45] hjanuschka commented on #7006
you should use `team_id`  in your deliver file - instead of `itc_team_id`

[2016-11-15 12:35] hjanuschka commented on #6995
see PR: https://github.com/fastlane/fastlane/pull/7012

[2016-11-15 12:45] ruudk commented on #7006
Ouch, so stupid. I didn't understand that all the parameters in the Deliverfile would be passed onto the deliver function. Thanks!

[2016-11-15 12:45] #7006 closed

[2016-11-15 14:01] hjanuschka commented on #5542
@MaximusMcCann have you tried providing: `app_review_information` as in my comment above?

[2016-11-15 14:02] GoodMirek commented on #6796
Thanks, I did not realize that sigh was not updated as part of fastlane
1.108.

On Mon, Nov 14, 2016, 21:25 Helmut Januschka <notifications@github.com>
wrote:

[2016-11-15 14:06] hjanuschka commented on #6796
each gem gets released one by one. - so with the next sigh release, and the following fastlane update  - it should be included.

[2016-11-15 14:08] Jianbo-Zhu opened #7013 "[Feature] Use snapshot to create screenshots for apache cordova apps"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

fastlane is a great tool, we have done a lot with it. Now we want to use snapshot for creating screenshots. However, the instructions below are for Xcode projects. How can I do for apache cord

[2016-11-15 14:32] hjanuschka commented on #7013
according to the documentation - https://cordova.apache.org/docs/en/latest/guide/platforms/ios/index.html

you just could open the xcode project, and follow the normal snapshot integration guide here => https://github.com/fastlane/fastlane/tree/master/snapshot#ui-tests

[2016-11-15 14:36] tomekc commented on #5066
I just recovered from this issue: enabling `legacy_build_api` did help, but build was missing "beta entitlements" and it was not possible to distribute via TestFlight.

One important setting which I missed was to actually use "app-store" build types instead of "ad-hoc".
So my "Beta" lane looks like below:

[code]

[2016-11-15 14:37] GoodMirek commented on #6982
Hi @TKBurner
No idea whether it worked before. As quite new user, this is my first time noticing the behavior. The issue is that while sh('env') returns $PWD as the current top level directory of the project, the sh('command') command actually executes in ./fastlane/ subdirectory. Therefore, I cannot call `sh("./script.sh")` but has to call `sh("#{ENV['PWD']}/script.sh")`. This is inconsistent UX

[2016-11-15 14:37] Sajjon opened #7014 "Refence build (IPA) on iTC for `pilot` command (i.e. skip IPA uploading)"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

`fastlane pilot` - uploads IPA to iTC for TestFlight purposes
`fastlane deliver` - uploads IPA to iTC for new App Store release

What I want is to use the `pilot` tool to start (external) Test

[2016-11-15 14:39] kluepfel commented on #6994
Awesome, thanks! Passing options into fastlane actions was the key to solving this.

Our Fastfile looks like this now:

[code]

[2016-11-15 14:39] #6994 closed

[2016-11-15 15:00] cargath commented on #6758
How do we update the version from the .zip, though?

    cargath@myMac ~/Documents/Git/MyProject develop fastlane --version
    fastlane 1.107.0

    #######################################################################
    # fastlane 1.108.0 is available. You are on 1.107.0.
    # It is recommended to use the latest version.
    # Update using 'sudo gem update fastlane'.
    ###################

[2016-11-15 15:12] MaximusMcCann opened #7016 "Deliver: [en-US]: You must detail what's new in this version in English (U.S.)."
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

[code]

but I have clearly entered `release_notes`.  I also edited the fastlane/metadata/en-US/release_notes.text to not be blank, but still no luck.
[code]

##### Complete output when running

[2016-11-15 15:25] hjanuschka commented on #7013
here is a cordova sample - with fastfile + snapshot:
  * https://github.com/hjanuschka/fastlane-cordova-sample

steps i did:
  * create a new cordova app
  * add ios platform
  * open xcode project
  * add new XCUITest Target
  * `fastlane init`(on cordova root folder)
  *  `snapshot init` ( in platforms/ios/)
  *  in xcode - added `SnapshotHElper.swift`  to XCUITest Target -> say yes on Bridging

[2016-11-15 15:31] ohwutup commented on #6758
Hey @cargath! Sorry for the misleading instructions, we are working on those before we release this to the entire world, but for now you can run `fastlane update_fastlane` and that should update the version of _fastlane_ that you have installed.

[2016-11-15 15:38] nicolasbraun opened #7017 "download_dsyms + hockey_app : how to ?"
Hi,

I am trying to implement the `download_dsyms`download feature and then upload the dsym to HockeyApp.

The problem is since this dSYM upload is done async from the build, HockeyApp can not know to which build I am trying to attach the symbol file. The `hockey` action uses the [`POST /api/2/apps/APP_ID/app_versions/upload`](https://support.hockeyapp.net/kb/api/api-versions#-u-post-api-2-apps-ap

[2016-11-15 15:46] ohwutup commented on #6553
Hey @wema1043 could you share your output? And also confirm that `which fastlane` points to `~/.fastlane/...` instead of a gem-installed version?

[2016-11-15 15:52] ChrisVolentine commented on #6969
In case anyone has the same issue - solved this by creating a Spaceship script which clears existing screenshots, sets the "Use x Display" for each screen size, then uses fastlane to deliver the new screenshots:

[code]

[2016-11-15 15:52] #6969 closed

[2016-11-15 16:00] Sajjon commented on #6779
I have also misunderstood the use of the `MATCH_FORCE_ENTERPRISE` env variable.

I am using match in fastlane and had some code similar to this
[code]

As @Almouro [suggested](https://github.com/fastlane/fastlane/issues/6779#issuecomment-256915112) it is still a problem using `	ENV["MATCH_FORCE_ENTERPRISE"] = '0'`

My idea is to change the method in `match.rb` called `  def self.enterprise?` to th

[2016-11-15 16:07] revolter commented on #6350
`brew switch readline 6.3.8`

[2016-11-15 16:13] hjanuschka commented on #6779
@Sajjon  cant you just unset the `MATCH_FORCE_ENTERPRISE`?

 like

[code]

[2016-11-15 16:15] Sega-Zero commented on #6419
Caught that again today on the latest fastlane

[2016-11-15 16:20] Sajjon commented on #6779
@hjanuschka hehe yes that is actually what I was looking for, so true!

As I said, not the biggest Ruby pro!

But wouldn't my suggestion be an improvement? Since it makes it possible to write

`ENV['MATCH_FORCE_ENTERPRISE']=false` as well?

But the interesting part here is that I have had the code

`ENV["MATCH_FORCE_ENTERPRISE"] = '0'` for like over a year, and it has been working! Pretty sure of

[2016-11-15 16:38] revolter commented on #6917
But [this][1] says that `gym is a replacement for shenzhen`, so why does fastlane has shenzhen as a dependency?

  [1]: https://github.com/fastlane/fastlane/tree/master/gym#whats-gym

[2016-11-15 16:42] sebastianludwig commented on #6917
For backwards compatibility and historical reasons (I guess). There's the `ipa` action which still uses `shenzhen`. The removal of `shenzhen` is discussed in #6991.

[2016-11-15 16:48] masteranza opened #7018 "[Feature request] Planning price changes through fastlane?"
Is it currently possible? Perhaps I could help a little with some minimal guidance?

[2016-11-15 16:48] jdee commented on #5758
I think the settings_bundle plugin is nearly there. I mainly want to get community feedback before it's released and maybe release it this weekend. @dombarnes Have you seen the new plugin? I'd be very interested to know how it works in your case (or any case other than apps I work on).

Anyone with thoughts on this, please comment in that repo, on https://github.com/jdee/settings-bundle/issues/1 o

[2016-11-15 17:21] RishabhTayal opened #7019 "screengrab error on Android"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Getting following error while running `fastlane screenshots` lane.

[code]

### Captured Output

Command Used: `screenshots`
<details><summary>Output/Log</summary>

[code]

</details>

<detail

[2016-11-15 17:36] TKBurner commented on #7018
Hi @masteranza Right now IAP changes aren't available through fastlane. I'll leave this open as a feature request. Thanks!

[2016-11-15 17:37] kpogz commented on #6998
i dont think it is related to codesigning. codesigning and a lane that allowed a full deploy to itc was already implemeneted by my coworker.

[2016-11-15 17:43] MattKiazyk commented on #6802
@milch had the same issue as @jeeftor stated above. The `fastlane.zip` file worked perfectly, and all my problems have disappeared.

[2016-11-15 18:03] milch commented on #6802
@MattKiazyk Thanks for reporting back!

I'll close this issue for now. @jeeftor and @heatherSnepenger let me know if you still experience problems, then we'll reopen this.

[2016-11-15 18:03] #6802 closed

[2016-11-15 18:28] jlubeck opened #7021 "How can I reuse same signing certificates on different apps?"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Up until now I was lucky enough to always use fastlane on different developer accounts, so I never ran into this situation.

But today I had to create a new App inside the same account. And wh

[2016-11-15 18:40] jlubeck commented on #7021
Yes, it is a code signing issue, but I couldn´t find my specific use case in the guide. And I don´t think the output of fastlane is relevant to this question. Thanks!

[2016-11-15 18:41] hjanuschka commented on #7017
can you look at this PR -> https://github.com/fastlane/fastlane/pull/638

i think a combination of `upload_dsym_only: true`, and `dsym: /path/to/dsym.dSYM`

something like this:
(according to docs, DSYM_PATHS holds: "An array to all the zipped dSYM files")
[code]

untested,unofficial -> but i think its the right direction?

[2016-11-15 18:49] milch commented on #6998
@kpogz Interesting, thanks for reaching out. Could you post your `Info.plist` for reference?

Btw I edited your original issue description since you included the `fastlane env` output multiple times and that made it kinda hard to follow.

[2016-11-15 19:04] hjanuschka commented on #7021
as you use different repo's - its intended to to generate new signing identies, as they are not found in the git repo.

you should use one git repo per itunes account - you can have dozens of apps in one match repo.

[2016-11-15 19:07] jlubeck commented on #7021
Mmm, ok... so, as I didn´t know that before, the repo with the certificates is named after the project, and not the account. If I just clone the repo to a new one, and point match to that repo, should everything work as expected moving forward?

[2016-11-15 19:07] TKBurner commented on #7019
@RishabhTayal Thanks for reaching out. Can you run `fastlane run update_fastlane` and let me know if you still hit this issue? It looks like your version of screengrab is out of date. Thanks!

[2016-11-15 19:08] hjanuschka commented on #7021
can't you just rename the git repo (instead of clone, wich should work too.)? and then change the git url in your fastfile.

[2016-11-15 19:09] RishabhTayal commented on #7019
Quick question: in my project structure, where should I install `fastlane`? in the first level folder or inside `app` folder?

![screenshot 2016-11-15 13 09 26](https://cloud.githubusercontent.com/assets/2100166/20319706/c9649e2a-ab34-11e6-9782-08b646fc6ab6.png)

[2016-11-15 19:10] hjanuschka commented on #7019
i think its supposed to be in first level folder!

[2016-11-15 19:11] kpogz commented on #6998
thanks for the edit! Ill post the plist - although i am having some issue viewing it - it seems it got converted to a bplist . On other plists in xcode (such as test targets), i have option to 'open as-> source code' but the main plist is all hex now. shows the xml tags in finder preview but just hex when i open in sublime :s
i did the xcode quick view, but it doesnt allow copy paste??
would scree

[2016-11-15 19:12] masteranza commented on #7018
I didn't have IAP in mind, I've meant the price of the whole app without uploading a new version.

[2016-11-15 19:12] RishabhTayal commented on #7019
Updated screengrab. Still getting same error.

[code]

[2016-11-15 19:15] kpogz commented on #6998
oh - give me a moment while i try to get it using plutil

[2016-11-15 19:16] jlubeck commented on #7021
Yup, that worked too, and everything is running fine now. Thanks!!

[2016-11-15 19:16] #7021 closed

[2016-11-15 19:17] FranciscoAmado opened #7023 "scan fail_build set to true exits with error"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

According to `fastlane action scan`, **fail_build** default value is set to true and yet, when running on a lane `scan(fail_build: true)`, it exists with an Error.
I'm no expert in **Ruby** bu

[2016-11-15 19:19] kpogz commented on #6998
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Health Storylines</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleGetInfoString</key>

[2016-11-15 19:19] kpogz commented on #6998
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Health Storylines</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIcons<

[2016-11-15 19:22] milch commented on #6998
That might be your issue (it being a binary plist would mean that it could contain sequences that are undefined in UTF-8, which is exactly what the exception states), I'd suggest converting it back to xml. A quick google search turned up that `plutil -convert xml1 Info.plist` should work.

[2016-11-15 19:22] hjanuschka commented on #7019
@RishabhTayal i think you are missing the `adb` command.
can you post the output of the following commands:

[code]

`ANDROID_HOME` - should be somthing like: ` ~/Library/Android/sdk/`

and inside your path there should be something like: `~/Library/Android/sdk/platform-tools/`
as there is the `adb`

[2016-11-15 19:26] RishabhTayal commented on #7019
Here is my output:
[code]
Seems like my `ANDROID_HOME` is empty. How do I update my `$PATH` and `$ANDROID_HOME`

[2016-11-15 19:29] kpogz commented on #6998
indeed that might be part of it. i was able to use plutil to provide the xml above. after rerunning however, i face a new issue but seems to be related to update_info_plist:
`/Users/scc/.rbenv/versions/2.0.0-dev/lib/ruby/gems/2.0.0/gems/xcodeproj-1.4.1/lib/xcodeproj/plist.rb:23:in `read_from_path': cannot load such file -- nanaimo (LoadError)
       	from /Users/scc/.rbenv/versions/2.0.0-dev/lib/r

[2016-11-15 19:30] hjanuschka commented on #7019
* install android-studio (if not already)
    * https://developer.android.com/studio/install.html

run following commands before running fastlane:
[code]

you can also add the two ENVs to your `~/.profile` (and restart your terminal) - then those 2 env-vars are always available.

[2016-11-15 19:35] RishabhTayal commented on #7019
@hjanuschka Awesome! now I am not getting the `adb` error. But now getting ` There are no connected and authorized devices or emulators`.

[2016-11-15 19:37] milch commented on #6998
Seems like you're missing the `nanaimo` gem, try installing it manually using `gem install nanaimo`.

Anyway, I also see you're using ruby version `2.0.0`, which we don't really support. We are slowly rolling out a new installation method which has everything you need to run fastlane in a self-contained bundle. If you want, you could try installing the fastlane bundle from [this link](http://kits-

[2016-11-15 19:40] hjanuschka commented on #7019
@RishabhTayal we are getting there.
do you have an device attached by usb?

you can try to restart adb-server
[code]

and then list devices - like:
[code]

if you are intended to use an emulator you should create one by starting the avd-manager

[code]

this will bring up the AVD you can create a emulator - and launch it - once it is launched it should be listed in `adb list` - and from that point

[2016-11-15 19:45] RishabhTayal commented on #7019
Should I already have an emulator in the avd since I have been debugging and running my app on emulator?

[2016-11-15 19:45] milch commented on #6917
@revolter: Yes, @sebastianludwig is correct

[2016-11-15 19:47] RishabhTayal commented on #7019
I already had an avd. Just needed to launch it. I will go through the remaining tutorial. Thanks for the help!

[2016-11-15 19:58] RishabhTayal commented on #7019
@hjanuschka I am kinda stuck here. I don't have UI test in my project. Do I need to add that for `screengrab`?

[2016-11-15 20:00] hjanuschka commented on #7019
@RishabhTayal  yes you require to have a AndroidTest - see https://github.com/fastlane/fastlane/tree/master/screengrab#tips and https://developer.android.com/training/testing/ui-testing/espresso-testing.html

then you'll have to have atleast one uitest - that at some point will call:

[code]

wich actually produces the screenshot

[2016-11-15 20:07] milch commented on #7023
Good catch, thanks! This was definitely an unexpected bug.

[2016-11-15 20:10] RishabhTayal commented on #7019
Thanks. You can close this issue now.

[2016-11-15 20:10] #7019 closed

[2016-11-15 20:41] owurman commented on #4241
I'm just starting up with Pilot so I might be doing something wrong, but I'm also still hitting this. I uncheck the Demo Account checkbox it explicitly in my uploaded (and approved) TestFlight builds, but when creating the next one with Pilot, the checkbox is always there.
`fastlane actions pilot`
doesn't indicate there's any way of setting this, or of passing app_review_information via the equiva

[2016-11-15 20:46] #7023 closed

[2016-11-15 20:48] evilDave commented on #4241
I too have just pushed a build to TestFlight and the checkbox has become checked. I do have the entries in the deliverfile that prevent the box from being checked by deliver.

[2016-11-15 20:49] hjanuschka commented on #6995
as the PR got closed, you should better do it like this: (should work for pilot & deliver)

[code]

untested/unofficial - but  hopefully this works for you.
for sure this one will retry 3 times if there is a error with the binary - like  "ITMS-XXX"

[2016-11-15 20:53] danielsaidi commented on #6779
Yeah, your currently not working setup has been working until 0.10.0. We could generate and use dev, prod and enterprise certs and pps without problem until then.

I suspected that perhaps the evaluation of the env variable had changed in a way that would make '0' be regarded as `is set`, which would then equal to `true`, while before it perhaps was int parsed and thus regarded as `0`.

I therefor

[2016-11-15 20:57] TKBurner commented on #6822
@mlostekk Thanks for following up. I sent this out to the core team to take a look. Thanks!

[2016-11-15 21:02] TKBurner commented on #6973
Hi @zwang Can you share your full output? It looks like your fastlane is using system ruby.

[2016-11-15 21:03] kluepfel commented on #6995
Great, thanks! I'll give it a try and let you know how it goes.

[2016-11-15 21:06] TKBurner commented on #6419
@Sega-Zero Thanks for letting us know. Is this still happening intermittently or is it consistent for multiple days? Thanks!

[2016-11-15 21:09] Sega-Zero commented on #6419
Appeared twice for today only, but became normal on a third attempt.

[2016-11-15 21:10] TKBurner commented on #7017
@nicolasbraun Thanks for reaching out. I'm not aware of a way to clean this up. Crashlytics associates the UUID with the dSYM and therefore can take a random stream of dSYMs and apply them to the appropriate build. Thanks!

[2016-11-15 21:14] TKBurner commented on #7016
Hi @MaximusMcCann Thanks for reaching out. Can you provide your full output? It looks like you might need to login and setup some intial information in iTC but I want to make sure.

Thanks!

[2016-11-15 21:52] menriquez commented on #6988
@herberzt ahhh yes....the screenshots,,,the final yet-unfinished piece to our fully automated Ionic./Cordova build system.  First, a little background....we are a small company that services the pharmacy industry, and in that capacity we write the websites and prescription refill software that our clients require. Of course, they all want mobile apps nowadays (rightfully so), so we chose Ionic to

[2016-11-15 21:57] TKBurner commented on #6822
Hey @mlostekk @hjanuschka Pointed out this might be an issue with your naming scheme. Can you delete your screenshots and name them using the snapshot naming conventions? Thanks!

[2016-11-15 22:00] hjanuschka commented on #6822
@mlostekk and before you run snapshot, reset your simulators, `snapshot reset_simulators`
as i guess you have a simulator called "iPad2" - wich generates a screenshot like `iPad2-01_00_SETTINGS_OPEN.png`  - and later on on generating the html, snapshot looks in a table, mapping simulator names to pretty names, and there is no ipad2.

so after the reset you should have working names, also you need

[2016-11-15 22:10] kpogz commented on #6998
i was experimenting with ruby 2.0.0 today but i actually use 2.2.2. i also just install 2.3.0-dev to see if it would make a difference but no luck yet. i installed nanaimo gem... i think its an intermittent thing not really the real issue.

thanks for sticking with me!
what i found was that by running plutil, i can revover the plist file into xml and it becomes readable as xml in sublime. BUT as s

[2016-11-15 22:22] milch commented on #6866
@vincentsaluzzo So is it working for you now?

[2016-11-15 22:25] kylejm commented on #6866
I'm not quite sure why this solution of creating a new keychain needs to used when @viktorbenei gives a [solution that works without needing to do so](https://github.com/fastlane/fastlane/issues/6866#issuecomment-258889886). @milch could you clarify that for me, I think I'm missing something. :)

I'll try the solution given by @mono0926.

[2016-11-15 22:28] milch commented on #6866
@kylejm I'm guessing that since @viktorbenei is a cofounder of bitrise.io and posted code taken from the bitrise source, they can read the keychain password for the login keychain from their configuration.

[2016-11-15 22:32] viktorbenei commented on #6866
For reference, the login keychain password is `vagrant`, which can also be retrieved from the `$BITRISE_KEYCHAIN_PASSWORD` env var - you can use this env var as the match keychain password.

[2016-11-15 22:35] #6628 closed

[2016-11-15 22:40] milch commented on #6866
Ah, thanks @viktorbenei! I'll close this, then.

[2016-11-15 22:40] #6866 closed

[2016-11-15 22:42] milch commented on #6986
The `SecPolicySetValue` definitely is environment related, I've also seen it on a couple machines before. Nevertheless, I'm glad it works despite the warning! 🚀

[2016-11-16 00:47] zwang commented on #6973
@TKBurner  it is actually the full output. It just stops there. Before I install rbenv and ruby-build, it is using the system ruby, which is version 2.0. Here is the output regarding ruby version:

[code]

[2016-11-16 03:12] micahnap opened #7038 "how to infer build number with ipa output name"
### Issue Description
Just migrated from Shenzhen to using gym. Much happier. I was wonder if it is possible to include the build number into the output name using some syntax?

[2016-11-16 03:17] #7038 closed

[2016-11-16 05:45] JustinJiaDev commented on #7018
@masteranza It is possible. Set everything to false (upload binary, upload screenshot, and upload meta). You will only update app icon and price (without the need to create a new version). However, I wish `delver` could allow me to modify meta without uploading new version (this is possible through iTC website).

[2016-11-16 06:04] nicolasbraun commented on #7017
Hello @hjanuschka @TKBurner, thanks for stepping in.

I am already using #638 for my store builds and surely intend to use it for what I am trying to do here.
I will share my work in this post if anyone wants to use ii / clean it

Thanks

[2016-11-16 06:23] revolter commented on #6917
Thanks!

[2016-11-16 07:51] wema1043 commented on #6553
Hei @ohwutup,
I Tried your solution with newest fastlane version from your `.zip` 1h later and everything worked fine.
Don't know what happened before.

[2016-11-16 08:45] cargath commented on #6758
@ohwutup When i run `fastlane update_fastlane` i get the dreaded `no implicit conversion of nil into String` error again :/ I downloaded the .zip again and reinstalled fastlane from there, which seems to have installed the newest available version. Not the best long-term solution, though.

[2016-11-16 09:44] app-buzz opened #7039 "[Feature Request] Specify Provisioning Profile Name"
Sigh allows us to specify the name of the provisioning profile, however, there doesnt seem to be a way to specify the name for match. Unless im missing something!?

[2016-11-16 10:43] kluepfel commented on #6995
It's missing a `begin`, otherwise it works fine. Thanks!

[code]

[2016-11-16 10:43] #6995 closed

[2016-11-16 10:59] psamhaber commented on #6987
Can anyone reproduce this?

[2016-11-16 11:41] hjanuschka commented on #6995
@kluepfel thx for feedback ;) - and glad you got it working! closed/resolved issues are the best issues 👏

[2016-11-16 12:08] hjanuschka commented on #7039
i think match is supposed and required a own naming format. - and profile name is somewhat you don't have to care about.

[2016-11-16 14:06] #5929 closed

[2016-11-16 15:02] TKBurner commented on #7014
@Sajjon You should use `pilot distribute` for this. Run `pilot help` for the full list of commands.

Thanks!

[2016-11-16 15:16] TKBurner commented on #6982
Hi @GoodMirek Hope you are doing well! I'm marking this as a feature request. It's expected behavior for now. Thanks!

[2016-11-16 15:17] TKBurner commented on #5066
@tomekc Thanks for sharing 👍

[2016-11-16 15:22] TKBurner commented on #7008
@DNACore Can you share your reproduction steps with Fastlane? I am curious to know what steps you are taking before this. Thanks!

[2016-11-16 15:23] TKBurner commented on #6944
@hjanuschka As always we really appreciate it! The team will take a look and work with you on the PR 👍 👍 💯

[2016-11-16 15:25] TKBurner commented on #6978
@prolog3001 Thanks for following up. If this is possible to add we'd love to see a PR. Let me know if you are interested!

[2016-11-16 15:28] TKBurner commented on #6951
@bootstraponline @mcactive Thanks for sharing this! I've reached out to the core team to have them take a look. Thanks!

[2016-11-16 15:29] Jianbo-Zhu opened #7041 "Can I get the password of the p12 file generated by cert"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

My app is build with 3rd party platform, telerik, I'm going to create the certificate with cert, and import the p12 file into telerik. However, I don't know the password of this p12 file. Plea

[2016-11-16 15:29] TKBurner commented on #6992
@Jules2010 Can you share your full output from a run of snapshot? I think this is expected behavior but I'd love to take a look. Thanks!

[2016-11-16 15:31] TKBurner commented on #6875
@barnaclebarnes We'll look into this and see what's going on. Thanks!

[2016-11-16 15:31] TKBurner commented on #7001
@enozero Sounds like a plan! Really happy to have you contributing 👍

[2016-11-16 15:34] TKBurner commented on #7000
@barnaclebarnes Are you interested in submitting a PR for this? I'll mark it as a feature request for now 👍

[2016-11-16 15:39] TKBurner commented on #6758
@cargath Thanks for following up. Right now we are just testing this solution! Can you confirm `which fastlane` points to ~/.fastlane/... instead of a gem-installed version?

[2016-11-16 15:49] eighthave commented on #1542
YAML would be better than text for the source files.  [XLIFF](http://docs.transifex.com/formats/xliff/) would be even better.  Yes, I know, XML sucks, but XLIFF allows very useful extra data like character limits and per-string notes from the developer to the translator.  For example:
https://github.com/guardianproject/Ripple/blob/0.2.1/description/source.xlf

The big problem with using plain text

[2016-11-16 15:50] TKBurner commented on #7041
@Jianbo-Zhu Are you using `match`? Thanks!

[2016-11-16 15:58] TKBurner commented on #6987
@psamhaber I think I've seen another report elsewhere so we are going to test on our end. Thanks!

[2016-11-16 15:58] TKBurner commented on #6973
Hi @zwang Can you run `which ruby` Thanks!

[2016-11-16 16:03] TKBurner commented on #4241
@evilDave Thanks for reaching out. Does this occur every time and on multiple apps? Thanks!

[2016-11-16 16:04] TKBurner commented on #6419
@Sega-Zero This seems like endpoint instability on the iTC side. We can't do much about this right now.

[2016-11-16 16:21] enozero commented on #7001
Thanks @TKBurner! iTC does Export Compliance almost like a build, so I'll be taking that into account along with uploading during the submission phase.

[2016-11-16 16:32] TKBurner commented on #6152
@masteranza Are you interested in submitting a PR to add this functionality? We'd love to see it!

[2016-11-16 16:35] TKBurner commented on #6022
@Siguza Thanks for letting us know! We'll leave this open to track interest!

[2016-11-16 16:36] TKBurner commented on #6924
@petitmat Great idea! I've marked this as a feature request so we can track interest 👍

[2016-11-16 16:38] TKBurner commented on #6779
@danielsaidi I put this on the radar of the core team, and we'll work with you here!

[2016-11-16 16:38] TKBurner commented on #6632
@thaiduy Do you still get this error 100% of the time? Are you able to create a spaceship session successfully? Thanks!

[2016-11-16 16:39] TKBurner commented on #4100
@jcampbell05 We'll leave this one open! Thanks 👍

[2016-11-16 16:43] TKBurner commented on #6966
@tinder-ayu Can you uninstall the json gem and then reinstall version 1.8.3 thanks!

[2016-11-16 16:44] netbe commented on #5863
Got this error with Xcode 8.1 on a swift 2.3 project.  `toolchain: :swift_2_3` did solve the issue

[2016-11-16 16:46] kivannc commented on #6632
@TKBurner I am getting this error all the time. I am able to crate at spaceship session successfully. I am using register devices like below. and the devices.txt was created by fabric app.

 `register_devices(
    devices_file: "devices.txt",
    team_id: "XXXXXX",
    team_name: "XXXXXXX XXXXX",
    username: "xxx@xxx.xxx"
  )`

[2016-11-16 16:46] TKBurner commented on #6965
@psamhaber Check out the steps here: https://github.com/fastlane/fastlane/tree/master/frameit#mac

You do need to provide the offsets yourself. Thanks!

[2016-11-16 16:46] TKBurner commented on #6567
@thecb4 Awesome!

[2016-11-16 16:46] #6567 closed

[2016-11-16 16:49] TKBurner commented on #5963
@PycKamil Can you provide a list of your simulators?

[2016-11-16 16:51] TKBurner commented on #6958
@petitmat Thanks for reaching out. Can you provide your full output so I can take a look? I think this is expected behavior but I'd love to take a look. Thanks!

[2016-11-16 16:53] TKBurner commented on #6814
@jordanjun Thanks for letting us know. If you can provide exact repro steps we'll be able to investigate. Let me know if you see this again. Thanks!

[2016-11-16 16:55] TKBurner commented on #6736
Thanks for following up! If anyone from the community is interested in looking into this, we'd be interested in a PR. Thanks!

[2016-11-16 16:56] TKBurner commented on #6968
@seanscal Can you erase the simulators on the machine in question? That should clear this up in most cases. Thanks!

[2016-11-16 17:02] owurman commented on #4241
@TKBurner Is it expected that pilot will pick up the app_review_information from the Deliverfile?

[2016-11-16 17:17] cargath commented on #6758
Yes, it's pointing to `~/.fastlane/bin/fastlane`.

[2016-11-16 17:23] seanscal commented on #6968
@TKBurner this has just started happening with one of the other builds on different machines as well.  It happens every time on the one machine with all of our builds that run tests, and then sporadically is happening on the other machines as well now within the last two or three days

[2016-11-16 17:24] seanscal commented on #6968
also, do you mean reset all the simulators or uninstall then reinstall

[2016-11-16 17:38] masteranza commented on #7018
@JustinJiaDev that would be great! Also thank you for the tip, but how can you tell iTunes to set a planned price change? Say, "20 Nov set the price to 0.99$ then 22 Nov set it to back to previous price"?

[2016-11-16 17:39] masteranza commented on #6152
Of course, I'll try that.

[2016-11-16 19:35] JustinJiaDev commented on #7018
I don't think deliver currently supports this.

[2016-11-16 19:44] JustinJiaDev commented on #6749
If I understand if correctly, spaceship already supports uploading app trailer. Only deliver needs to be updated?

[2016-11-16 19:46] JustinJiaDev commented on #6976
Just a side note: Alternative Tier A is 510.

[2016-11-16 19:48] prolog3001 commented on #6749
Correct. We dont use spaceship, so adding it to deliver would be awesome!

On Nov 16, 2016 9:44 PM, "Justin Jia" <notifications@github.com> wrote:

[2016-11-16 20:23] herberzt commented on #6988
Me and another dev will be tackling this task tomorrow. We are gonna have to probably do some custom scripting and monkeying around so it probably won't be the cleanest but I will try and share what we come up with. It looks like we manage apps the same way a number of customers all using the same code base just different branding

[2016-11-16 20:50] owurman commented on #5735
@TKBurner I'm hitting this with a "new" app (in that it's new to testflight). It is not populating my contact information or review notes under "Beta App Review Information", which I'm guessing is the issue. Here is my Deliverfile, which seems to actually work in regard to unchecking the Demo Account when ENV["DEMO_PASSWORD"] is unset (see https://github.com/fastlane/fastlane/issues/4241)

[code]

[2016-11-16 21:52] mfurtak commented on #6951
Hi @bootstraponline - thanks for the report :smile:

As `fastlane_require` is written right now, it doesn't appear to me to be a drop-in replacement for Ruby's `require`. Meaning, you shouldn't use `fastlane_require` everywhere you'd normally use `require`.

`fastlane_require` tries to ensure that a Gem matching the provided name is installed before attempting to later require it. This doesn't mak

[2016-11-16 22:02] petitmat commented on #6958
Hi @TKBurner,
This issue is related with  https://github.com/fastlane/fastlane/issues/6992

I don't really want to copy/paste my input with all the classes built of my company... I'm just asking why the code is recompiled entirely between all devices (4 times if I want screenshots of iphone 4s, iphone 5s, iphone 6s and iphone 6s plus). And why it isn't compiled once at the beginning and the ipa in

[2016-11-16 22:02] petitmat commented on #6992
Hi @TKBurner,
This issue is related with  https://github.com/fastlane/fastlane/issues/6958

I don't really want to copy/paste my input with all the classes built of my company... I'm just asking why the code is recompiled entirely between all devices (4 times if I want screenshots of iphone 4s, iphone 5s, iphone 6s and iphone 6s plus). And why it isn't compiled once at the beginning and the ipa in

[2016-11-16 22:04] bootstraponline commented on #6951
[posix-spawn](https://github.com/rtomayko/posix-spawn) is not a system library.

Fastlane is telling people to break their code...

[17:02:20]: You require a gem, please call `fastlane_require 'posix/spawn'` before to ensure the gem is installed

This is a bug in `fastlane_require` related to gem names. Fastlane is not able to determine that `posix/spawn` is a valid require for the `posix-spawn` g

[2016-11-16 22:06] mfurtak commented on #6951
Thanks for the clarifications - my initial tests to try to understand were insufficient! 👍

[2016-11-16 22:08] bootstraponline commented on #6951
If you look at [posix-spawn.rb](https://github.com/rtomayko/posix-spawn/blob/master/lib/posix-spawn.rb) it just runs `require "posix/spawn"` so there are two valid ways to require the gem.

My work around for now is to do ` fastlane_require 'posix-spawn'` instead of `fastlane_require 'posix/spawn'`. Both work with regular require. The bug is that both should also work with fastlane_require.

[2016-11-16 22:16] masteranza commented on #6152
@TKBurner how do I make my local copy of deliver use ALL the source code instead of my installed fastlane-core? I'm running fastlane/deliver/bin/deliver but deliver itself calls core located at /usr/local/ instead of the one under source control.

[2016-11-16 22:41] owurman commented on #4241
To answer my own question after looking at the code, it seems that pilot does **not** read in the Deliverfile. So where exactly are we supposed to set the demo account info assuming we actually have one? Perhaps there needs to be a Pilotfile?

[2016-11-16 23:13] jverdi opened #7046 "The unlock_keychain action is unaware of the new Sierra keychain location"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
In `fastlane/fastlane/lib/fastlane/actions/unlock_keychain.rb`, the new Sierra keychain path of `~/Library/Keychains/login.keychain-db` is not included in the possible keychain locations. This

[2016-11-17 00:25] milch commented on #6998
What do you mean?

Oooh, so that's a different issue. I will close this one for now since it's a duplicate of this other, underlying issue. We can track the progress there. If you are still interested in setting up the fastlane bundle, feel free to continue posting to this issue.

[2016-11-17 00:25] #6998 closed

[2016-11-17 00:39] bryanjclark commented on #6690
Heya! I'm running v1.16.3 and this issue is happening for me - are we sure this was fixed?

[2016-11-17 01:40] johnboiles commented on #5379
@KrauseFx: Is there a similar fix in the works for `sigh` as well? I just ran `sigh` (from my Fastfile) on some distribution and ad-hoc profiles that had been invalidated, and duplicate profiles got created (instead of having the invalid profiles repaired).

[code]

[2016-11-17 03:01] mpirri commented on #6768
Hello all, sorry for the delay in getting back to you about this!

So, we just shipped a new version of `fastlane_core` (version 0.56.0) that should fix this issue.  Specifically, now when you get the "Please sign in with an app-specific password." message, you will be properly asked to enter that password.

To get this new fix, do `gem update fastlane_core` and you should upgrade to 0.56.0. At th

[2016-11-17 03:01] #6768 closed

[2016-11-17 03:25] owurman commented on #6026
@TKBurner This may be expected behavior but I respectfully disagree that it's **best** behavior. When using fastlane as part of a larger script, there is no way to tell between a real failure (something went bad and I need to intervene) and the app simply being submitted for review rather than pushed to testers. Perhaps an argument can be added to allow submitted for review to be considered a non-

[2016-11-17 05:47] tringManoj commented on #6860
For snapfile and scanfiles I have "SNAPSHOT" & "SCAN" commands. Whats the
command  "FASTFILE" ?

R.Manoj
Sr.Software Developer - Mobile | tringapps research labs Pvt Ltd,
Unit 2-5 (Ground Floor), Zenith Building,
Ascendas IT Park, CSIR Road, Taramani,
Chennai 600 113, Tamil Nadu, India.
*E-Mail:* *manoj.r@tringapps.com <manoj.r@tringapps.com>*

On Thu, Nov 10, 2016 at 2:44 PM, Helmut Januschka <no

[2016-11-17 06:30] evilDave commented on #4241
@TKBurner yes it's happening on a few projects. I do believe that I've found that once you go into iTunes connect and manually uncheck the box, new builds have it unchecked.
I second the notion that what we probably need is a pilotfile with the appropriate section in it.

[2016-11-17 06:40] tringManoj commented on #6860
cool. Got it working. No worries

R.Manoj
Sr.Software Developer - Mobile | tringapps research labs Pvt Ltd,
Unit 2-5 (Ground Floor), Zenith Building,
Ascendas IT Park, CSIR Road, Taramani,
Chennai 600 113, Tamil Nadu, India.
*E-Mail:* *manoj.r@tringapps.com <manoj.r@tringapps.com>*

On Thu, Nov 17, 2016 at 11:16 AM, Manoj Ramakrishnan <manoj.r@tringapps.com>
wrote:

[2016-11-17 07:05] hjanuschka commented on #7046
on my machines i symlinked the keychain 😢  - anyway here is the PR - for adding `-db`  to availaible paths.

https://github.com/fastlane/fastlane/pull/7048

[2016-11-17 07:25] DNACore commented on #7008
@TKBurner Thank you for your reply. And you mean the cmd I used?

[2016-11-17 08:02] dzungpv commented on #5782
I like fix font size too, now it difference each image @TKBurner  please add this to release, i don't know how to build fastlane

[2016-11-17 08:52] biolinh commented on #6758
When I run
``
sudo gem update fastlane
Password:
Updating installed gems
Nothing to update
``
Then, I run
``
fastlane update_fastlane
Could not find fastlane in current directory. Would you like to set it up? (y/n)
n

#######################################################################
# fastlane 1.109.0 is available. You are on 1.107.0.
# It is recommended to use the latest version.
# Update u

[2016-11-17 08:52] a83988029 opened #7049 "So many password and I do not know which is which"
The most headache problem is the password.
I just don't know which password fastlane want.
I check the issues list and I found many fastlane users alse met password problem.
Just a thought .
Wish you better.

[2016-11-17 09:40] GeovationMax commented on #6026
@TKBurner I agree with @owurman. Ideally I aim to not have to go to iTunes connect at all and it would be good if this would be handled gracefully and not as an error.

[2016-11-17 09:48] revolter opened #7050 "Pem: Add option to download push certificate if it exists"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Trying to create an already existing push certificate throws there warnings:

It would be great if there was an option that would let you only download it, if it exists. So something like:

##

[2016-11-17 10:02] pernilla commented on #6758
Thanks @ohwutup. I can also confirm that the zip works (same problem as everyone else in this thread). This would be a really good solution if you can bundle it with the install. Cause rbenv hasn't really worked for me either with apple installing it's own ruby and pointers to correct versions has been a true hazzle (see my [stackoverflow](http://stackoverflow.com/questions/40376062/error-while-ex

[2016-11-17 11:07] vishal901 opened #7051 "fastlane requires for windows os ?"
this tool working for window os??

[2016-11-17 11:27] vishal901 commented on #7051
I have study for https://docs.fastlane.tools/ ,

System Requirements:
 fastlane requires macOS or Linux with Ruby 2.0.0 or above.
https://docs.fastlane.tools/

this tool support for windows 7 etc. or not????

[2016-11-17 12:04] hjanuschka commented on #7051
there are a few gems used, that just don't work on windows. i think `pty` for example - so as for now it seems not to be supported.

[2016-11-17 12:51] hjanuschka commented on #7050
good point, i invalided mine a few times just to get a p12 file 😝
here is a PR: https://github.com/fastlane/fastlane/pull/7052 trying to add a download existing certificates, lets see if it gets merged, maybe you 👍  it

[2016-11-17 12:51] pernilla commented on #6758
But with the latest fix match seems to have a problem. In our fastfile we have:

[code]

And running it gives us the following error:

[code]

The full stack trace:
[code]

We're running the zip provided above.

[2016-11-17 12:55] hjanuschka commented on #7041
@Jianbo-Zhu  i am not sure if they are pw protected anyway, can you post a screenshot of the pw prompt? - probably it is from the keychain  - wich should be your accounts password?!

[2016-11-17 13:35] Jules2010 commented on #6992
@TKBurner  here you go... I've snipped out a lot of repetition and only the first couple of devices, hope thats ok.

[code]

[2016-11-17 14:38] grisevg opened #7053 "[Feature Request] Disable/enable devices in spaceship?"
Hey guys,

Is there a way to Disable/Re-enable devices in spaceship? Couldn't find anything in docs or source-code.
I have an account with tons of devices and was thinking of writing a script to manage it nicer.

UPDATE:
I've looked through chrome tools and these are the requests I've seen:

To disable device:
`POST` to `https://developer.apple.com/services-account/QH65B2/account/ios/device/delete

[2016-11-17 14:56] #5988 closed

[2016-11-17 14:58] #6860 closed

[2016-11-17 15:02] revolter opened #7054 "Appfile: git recommandation"
Why is Appfile recommended to be commited to git? I noticed it contains my `apple_id`, so it makes no sense at all to commit it as it is. Though the `team_id` could be commited.

Is there a way to split this file? As every team member has a different Apple ID.

In my case, `app_identifier` makes no sense too because I have 33 bundle identifiers for the same project. Can this be omitted?

### Envir

[2016-11-17 15:11] #6037 closed

[2016-11-17 15:17] #5974 closed

[2016-11-17 15:36] jverdi commented on #7046
Yup, as a workaround, a symlink works, as does supplying the full path to the new keychain to your Fastfile's `unlock_keychain` action. But, this should work out of the box.

[2016-11-17 15:58] TKBurner commented on #5863
@netbe Thanks for sharing, glad you got up and running!

[2016-11-17 16:08] TKBurner commented on #7053
@grisevg Thanks for reaching out. Would you be interested in implementing this in a PR? Thanks!

[2016-11-17 16:15] mikecole20 commented on #6269
`gem cleanup` solved the problem for me, too. Thanks, @kexoth!

[2016-11-17 16:34] cepages commented on #6378
@jaroslavas what was the problem for you, I have the same problem, maybe your solution helps me :)

[2016-11-17 16:54] jerome-cp opened #7058 "Upload Android APK to S3"
At Chauffeur Privé, we are big fans of fastlane tools so we propose a simple plugin to be able to upload an APK to amazon S3.

The current s3 upload plugin is very helpful but unfortunately it doesn't handle very well APKs.. so we decided to create a S3 APK plugin inspired by the actual s3 plugin.

The plugin is available here :
https://github.com/transcovo/fastlane-plugin-s3-android

Feel free to

[2016-11-17 16:55] Fluzzarn opened #7059 "Error when creating VoipPush cert"
### New Issue Checklist

- [:white_check_mark:] Updated fastlane to the latest version
- [:white_check_mark:] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Trying to create a VoipPush cert results in an error from the Apple Servers

	There were errors in the data supplied. Please correct and re-submit.
	No value w

[2016-11-17 16:57] grisevg commented on #7053
@TKBurner Yeah sures

[2016-11-17 17:21] grioja opened #7061 "[Match] app_identifier ignored in lane"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

When running this lane, the app_idenitifer is ignored:

[code]

Matchfile contents:

[code]

It seems to be a regression from behavior on Monday when I originally set this up.

##### Complete

[2016-11-17 17:24] jverdi commented on #6101
+1 seeing these failures fairly consistently as of late. Any luck throwing a PR together @brianmichel ?

[2016-11-17 18:23] hjanuschka commented on #7061
i tried to reproduce it, with Matchfile, Appfile, and even with `MATCH_APP_IDENTIFIER` as a env. set - i cannot reproduce it, could you be so kind sharing your `Fastfile`?

and/or run `fastlane your_lane --capture_output` - and share this with us?

also - please try to upgrade all gems.

[2016-11-17 18:40] milch commented on #6779
Hey everyone -

Yeah, we recently changed some things going on with the `MATCH_FORCE_ENTERPRISE` variable, now simply setting it to something 'truthy' will turn the option on. As far as ruby is concerned, `"0"` is truthy, so that's why you've been seeing those problems. Setting it to `nil` or `false` or something similar would've turned it off.

That being said, since apparently this has been work

[2016-11-17 18:54] grioja commented on #7061
Getting rid of app_identifier in Appfile prompted me to input an app_idenitifier when running the lane. So it seems the app_identifier being given to match is still being ignored.

[2016-11-17 18:55] grioja commented on #7061
Updated fastlane and it is fixed now

[2016-11-17 18:59] grioja commented on #7061
Also updated to latest gems

[2016-11-17 19:00] #7061 closed

[2016-11-17 19:40] #6779 closed

[2016-11-17 20:05] grisevg commented on #7053
@TKBurner done

[2016-11-17 20:35] Alarson93 commented on #6993
Thank you for your prompt reply.

I did check out the other issues, but only a couple of them contained the line:
"SecKeychainItemImport: The specified keychain could not be found."

(I updated the post - I didn't realize that this detailed info was left out.)

In those threads I, there were users that had suggestions such as "Make sure the WWDR cert is in both the login and System keychain" and w

[2016-11-17 20:37] #4548 closed

[2016-11-17 21:26] RishabhTayal opened #7070 "switching wi-fi network before uploading to iTunes Connect"
### New Issue Checklist

- [x ] Updated fastlane to the latest version
- [x ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

Is there a way to switch the wi-fi network before uploading to iTunes Connect?

[2016-11-17 21:30] hjanuschka commented on #7070
you want to turn wifi of your mac off? or off and on again, i don't get it.
whats the reason for it - maybe there is another fix for your problem? - i think this a bit out of scope from fastlane

anyway this should work (maybe you have to adjust `en0` - to your setup) :

[code]

[2016-11-17 21:34] RishabhTayal commented on #7070
@hjanuschka  I have wi-fi 'A' and wi-fi 'B'. I am usually on wi-fi 'A', which is under firewall and it blocks the iTunes Connect ports. In order to upload to iTunes Connect, I need to manually switch to wi-fi 'B' each time. I am sure there are other solutions for this but just wanted to check if fastlane supports this since there is so much awesome things it can do. 😄

[2016-11-17 21:40] hjanuschka commented on #7070
@RishabhTayal try adding the following on top of your fastfile

[code]

fixes most of the firewall issues.

anyway here is a way to switch network (adjust ssid and pw) 👍

[code]

[2016-11-17 21:41] hjanuschka commented on #7070
@RishabhTayal try adding the following on top of your fastfile

[code]

fixes most of the firewall issues.

anyway here is a way to switch network (adjust ssid,pw and en0) 👍

[code]

[2016-11-17 21:42] RishabhTayal commented on #7070
I will try the `DELIVER_ITMSTRANSPORTER_ADDITIONAL_UPLOAD_PARAMETERS` option. Thanks.

[2016-11-17 21:50] RishabhTayal commented on #7070
@hjanuschka I can not believe I missed on this option till now. I have been looking for this option for over 8 months. Super amazing. 💯

Works like a charm.

[2016-11-17 21:55] hjanuschka commented on #7070
so you did wifi-switch (by hand) for 8 months - poor you.
nice to know it works for you.
can you close the issue.

[2016-11-17 21:56] RishabhTayal commented on #7070
well I did not use `fastlane` for uploading to iTunes Connect till now. But now...

[2016-11-17 21:56] #7070 closed

[2016-11-17 21:58] mpirri commented on #6768
An update!  _fastlane_ 1.110.0 has this change in it, so you can just update to the latest fastlane (or `deliver` or `pilot`) and you will get the fix. Thanks again!

[2016-11-17 22:23] mrubin opened #7071 "Update Product Bundle Identifier When Using update_info_plist (part 2)"
I'd like to revisit the question posed in #2670.

Starting with Xcode 7, update_info_plist should be updating the bundle identifier in the project file, not in Info.plist.

(I am blocked by this in relation to code signing.. I'm switching teams and bundle IDs for certain builds and Xcode 8 does not pick up the change to the bundle id when it's modified via the Info.plist. Even though you can open

[2016-11-17 22:42] lalunamel commented on #6595
Hey @TKBurner, any thoughts here?

[2016-11-17 22:45] mrubin commented on #7071
I'm trying something like this.. and it looks like I got past the code signing issue with xcodebuild. It's building now.

Now we need something like `update_project_team` which does this.

[code]

[2016-11-18 00:23] tristanbbq opened #7072 "Can't specify a custom dotenv .env file location"
According to [docs](https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Advanced.md), I can specify custom .env files to load when running fastlane, but unfortunately it does not seem possible to specify a custom .env file **location**.

For example, I already have a `.env` file at the root of my project. I'd like to load that exact same file instead of having a duplicate in my /fastlan

[2016-11-18 00:24] zwang commented on #6973
Sure, it is
[code]
I think it points to the ruby 2.3.1, which is the only version I installed.
Thank you.

[2016-11-18 02:25] pscadiz opened #7073 "Fastlane Supply not respecting apk parameter, tries to upload all APKs generated"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I have a lane to build an android APK and submit to the store. The lane does four things:
1 - Build the APK, with output app-release-unsigned.apk
2 - Sign the -unsigned APK, with output app-re

[2016-11-18 02:35] biolinh opened #7074 "Produce: You must choose a primary language. You must choose a primary language."
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Run produce to create new app in ItunesConnect, it cannot create new app due to missing primary language although i already specific the language.
#####
18:40:16]: [32m--- Step: produce ---[0

[2016-11-18 04:38] #6375 closed

[2016-11-18 05:15] evilDave commented on #1596
I am sorry to resurrect this but...

I am getting exactly the same error now.
Has this been identified as an issue with iTuneConnect?

$ fastlane --version
fastlane 1.110.0

It's a couple of apps that I don't often update the screenshots for - I do just need to put up ipad pro screenshots now.

I've tried with two apps, one with 800 or so screenshots in total, it fails. Another with only about 30

[2016-11-18 05:43] evilDave commented on #6730
Hi. Just commented on another issue that I can no longer find... But have now found this one which looks like the same thing.
I am trying to run a screenshot only deliver lane. I can do it on 4 apps with one or a few languages, but we have one with lots and it has the above error.
Here is my version of the error:

[code]

the lane itself if pretty simple:

[code]

[2016-11-18 05:46] #5776 closed

[2016-11-18 06:32] vutiet commented on #6191
Thanks guys, a lot of insights but unfortunately I couldn't make it with manual signing because my project has extension app (i.e. watch app). So, I had a workaround as using automatic signing to export .ipa file then using _resign_ to sign it with production provisioning profile before upload it to testflight.

[2016-11-18 07:38] hjanuschka commented on #7074
please see https://github.com/fastlane/fastlane/tree/master/deliver#available-language-codes available language codes.
can you try changing "Dutch" to `nl-NL` - maybe that works.

[2016-11-18 07:48] hjanuschka commented on #7054
@revolter i just have "demo.app" in all my Appfiles :D - and set `app_identifier` on the other tools directly like `match`, `deliver`....

about the apple_id - we use one "fastlane" apple-id accross all devs. - but you can also set it to a dummy account, and set the account name on the tools - like with app_id.

[code]

you can also use ".env" files. as described here: https://github.com/fastlane/

[2016-11-18 07:58] revolter commented on #7054
Immensely, this should be in the docs in a section named something like "Dealing with multiple apple ids/bundle identifiers".

Though, can apple id and bundle identifier be removed safely from that file?

[2016-11-18 08:00] hjanuschka commented on #7054
@revolter  i am not sure - just try it.
let me know if you found a solution for your issue - and please close the issue if so.

[2016-11-18 08:35] jniemin commented on #6989
No help from adding clear_derived_data. Still won't compile

[2016-11-18 08:56] hfossli opened #7079 "Support incremental builds"
Currently `gym` builds an archive. Building archives is not incremental (it basically doesn't care about the derivedData). Building and uploading feature builds while developing locally can take quite some time. The whole app is built from ground up as it seems to me.

Would it be possible to support incremental builds?

[2016-11-18 08:59] suprie opened #7080 "Scan in Jenkins to real device"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

In my Jenkins setup, i want to able to run tests on real device. But currently, it's always said that need to sign the apps.  I've tried using match to managed provisioning profile still no lu

[2016-11-18 09:01] hfossli commented on #7079
In `gym` what's the point of the `clean` option when building to archives which isn't incremental anyways? :)

[2016-11-18 09:14] suprie commented on #7080
Yes, but it seems will work if i use `gym` but not `scan`. Is `scan` able to use certificated downloaded by `sigh`, `cert` or `match` ?

[2016-11-18 09:21] drakar4ik commented on #7074
Have same problem, but only for 1 app. All other apps creates normally.
Our command for creating apps in itunes:
export FASTLANE_PASSWORD='%@'; /usr/local/bin/produce run --skip_devcenter --username \"%@\" --app_name \"%@\" --app_identifier '%@' --app_version '%@' --company_name '%@' --sku '%@'

I see only one difference that app with error from other apps: apple user is new and have no apps in it

[2016-11-18 09:50] drakar4ik commented on #7074
+----------------+----------------------------------+
|             Summary for produce 1.3.0             |
+----------------+----------------------------------+
| skip_devcenter | true                             |
| username       | ******             |
| app_name       | VHW Visit Verification Form      |
| app_identifier | ****** |
| app_version    | 1.0.0                            |
| compan

[2016-11-18 10:06] weibel opened #7081 "latest_testflight_build_number parameter error"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

When trying to obtain the latest build number on iTunes Connect Fastlane says
`FastlaneCore::Interface::FastlaneError: [!] 'live' value must be a String! Found TrueClass instead.`

This happen

[2016-11-18 10:22] hjanuschka commented on #7081
sorry for your problems, thx for the report - this PR should fix it: https://github.com/fastlane/fastlane/pull/7082

[2016-11-18 10:23] hjanuschka commented on #7081
in the meanwhile if you require the latest build number from live version.

you can use:

[code]

both are quite the same action.

[2016-11-18 10:32] Desnoo commented on #7074
Same error here.
[code]

[2016-11-18 10:39] cepages opened #7083 "Provide passphrase for Travis using match in fastlane"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Is there any way to pass the passphrase in match via fastlane. I'm using match for travis and I always stop asking for the passphrase:

This is my current command:

```match(type: "adhoc", app_

[2016-11-18 10:49] cepages commented on #7083
I think I found the solution:

I need to use `MATCH_PASSWORD` to use the passphrase.

Sorry, I hope this is useful for someone in the future :)

[2016-11-18 10:49] #7083 closed

[2016-11-18 11:23] SAVeselovskiy opened #7085 "Pilot doesn't set requiring metadata for external testing"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
I try to upload build to TestFlight and submit it to External Testing, but got this error in terminal

![screen shot 2016-11-18 at 10 50 44](https://cloud.githubusercontent.com/assets/7031311/2

[2016-11-18 12:42] SAVeselovskiy commented on #7085
There are no code signing issues. All profiles was generated week ago. No code signing error log in Xcode, no error logs in terminal.

[2016-11-18 12:47] aresundnes commented on #1891
Any update on this? Im still getting ```This provisioning profile is not compatible with iOS apps.```when building with gym and submitting with deliver to tvOS

[2016-11-18 13:16] nicolasbraun commented on #6191
Hi @vutiet

I also have some projects with extensions. Can you elaborate on what is blocking you?

[2016-11-18 13:41] samskiter opened #7086 "[Feature Request] Add support for build-for-testing and test-without-building"
### Issue Description

XCode 8 added build-for-testing and test-without-building commands to xcodebuild - we could potentially use these to greatly speed up our CI system. It would be great if fastlane had a native way to support this.

[2016-11-18 13:44] KITSTABLucianoMarisi commented on #7071
Removing the `PRODUCT_BUNDLE_IDENTIFIER` altogether works as before, i.e. picking the `CFBundleIdentifier` modified by `update_info_plist`.

Probably a temporary solution though.

[2016-11-18 14:23] vutiet commented on #6191
Hi @nicolasbraun,
my project settings are as below:
- iPhone app has bundle id com.companyname.iphoneapp with provisioning profile AppStore_com.companyname.iphoneapp
- watchkit extension has bundle id com.companyname.watchkitextension with provisioning profile AppStore_com.companyname.watchkitextension
- watch app has bundle id com.companyname.watchapp with provisioning profile AppStore_com.compan

[2016-11-18 14:35] greencoppercompany commented on #6992
Hi! Seeing same behaviour here. There is a build step for each device but IIRC building only one binary for simulator (i386) should be enough to start each device?

[2016-11-18 15:34] mfurtak commented on #7053
Merged in #7067 🎉

[2016-11-18 15:34] #7053 closed

[2016-11-18 15:56] sainttail commented on #7059
I think based on the line [here] (https://github.com/fastlane/fastlane/blob/485199c8757113f2fdd1eee3448a0e0f3cd6d4e7/spaceship/lib/spaceship/portal/certificate.rb#L145)

There is no `certificate_type_id` for `VoipPush`. That's why maybe it displays that error.

I also don't know how to get that `certificate_type_id` and want to know how to get them myself either.
My speculation is that if we manag

[2016-11-18 17:13] nicolasbraun commented on #6191
What we do is use eVar in xcode:

$PROFILE_UDID for the app https://i.imgur.com/huI88lS.png
$PROFILE_UDID_EXT0 / EXT1 for the watch app and extension. https://i.imgur.com/UGhNU7l.png

We then run match 3 times and set the correct eVar fort each and 🚀 .

That said we have to do this because we have several bundle for internal development and for the release on our client's account. I believe since

[2016-11-18 17:24] samingle commented on #6553
Had all sorts of trouble getting this working following the homebrew-based instructions from the error output. If you were previously running the system ruby, and you upgraded to homebrew's ruby using the provided instructions, **and** you're using bundler to manage fastlane, you'll need to reinstall bundler once your ruby version has been upgraded (`sudo gem install bundler` did the job for me),

[2016-11-18 18:22] owurman commented on #1676
Leave this open for now. I may yet get to it.

[2016-11-18 18:25] Fluzzarn commented on #7059
@sainttail

As previous research into creating the cert, I outputted all of the certs currently on the account and VOIP Certificates corresponded with [E5D663CMZW](https://github.com/fastlane/fastlane/blob/485199c8757113f2fdd1eee3448a0e0f3cd6d4e7/spaceship/lib/spaceship/portal/certificate.rb#L154). So it might be that the VoipPush class doesn't have a key in IOS_CERTIFICATE_TYPE_IDS  so when .crea

[2016-11-18 18:44] hjanuschka commented on #7086
how about using the `xcodebuild` action?

[code]

[2016-11-18 19:14] TKBurner commented on #7059
@Fluzzarn Thanks for reaching out. Right now this isn't possible so I'm going to mark this as a feature request. I'd love to see a PR.

[2016-11-18 19:42] hjanuschka commented on #7074
@biolinh @drakar4ik @Desnoo as its hard to reproduce, i tried it with English, Dutch ... and right now we are unable to reproduce it, but i still have a small bet on the PR, can someone of you be so kind to try the PR out?

[code]

this should use the local forked version including the PR - later on please share the generated output (you'll be asked to auto-copy-paste it)

[2016-11-18 19:46] #7081 closed

[2016-11-18 20:00] hjanuschka commented on #7059
the key was there  E5D663CMZW - but had the wrong class, changing from WebsitePush to VoipPush solved it - see pr #7087

[2016-11-18 20:03] TKBurner commented on #7071
@mrubin Does that workaround work for you? Thanks!

[2016-11-18 20:12] TKBurner commented on #1891
@aresundnes Thanks for following up on this. Can you create a new issue if you are running into this still? Thanks!

[2016-11-18 20:13] TKBurner commented on #7085
@SAVeselovskiy Thanks for following up. Does this happen on each build or only once per app? There is some initial data you'll need to set up.

[2016-11-18 20:15] fhperuchi opened #7088 "Error code signing using fastlane after migration from xCode 7 to xCode 8.1"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Hi! It was working with xCode 7 but is not working after I migrated to **xCode 8**. Please help me! It's driving me crazy.

### Error

❌  Code signing is required for product type 'Application

[2016-11-18 20:16] inktrapbot opened #7089 "Fastlane with Bitrise: Multiple schemes found but you haven't specified one"
Hey

I am getting the following error when building using Fastlane on Bitrise,

[code]

I have specified the `scheme` option in my Fastfile:

[code]

This works fine locally, any suggestions?
Thanks

[2016-11-18 20:31] fhperuchi commented on #7088
@fastlane-bot yes. I saw this link content, but I didn't help me.

[2016-11-18 20:42] RishabhTayal opened #7092 "Error Uploading to iTunes Connect"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Environment

<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                 | Value                                           |
| ------------------- | -----------------------------------

[2016-11-18 20:45] hjanuschka commented on #7088
can you have a look at this issue-comment, https://github.com/fastlane/fastlane/issues/6832#issuecomment-257883114 hopefully this will help you. please let me know.

[2016-11-18 20:48] hjanuschka commented on #7092
first of all try to remove: `use_legacy_build_api`  and `export_method`  from gym, and see if it works then.

[2016-11-18 20:48] RishabhTayal commented on #7092
@fastlane-bot I have followed the guide. I am using `match` to generate the provisioning profiles and storing them on private repo. The issue is that it's selecting `development` as code signing identity. If I specify the code signing identity in `gym` as `iPhone Distribution`, I get another error.

[2016-11-18 20:49] hjanuschka commented on #7092
@RishabhTayal see me post above, watchkit is not supported by `use_legacy_build_api`

[2016-11-18 21:03] RishabhTayal commented on #7092
@hjanuschka That worked. Thanks. Closing now.

[2016-11-18 21:03] #7092 closed

[2016-11-18 22:01] tmtrademarked opened #7094 "Supply should support a dry run option"
I recently had an issue where I managed to break my master build on CI due to a failure to upload to Google Play. (I had stupidly left an APK as debuggable - d'oh!) This wasn't caught by my tests, since non-master branches don't run my deploy step.

The Google Play Publisher API supports a "validate edit" feature. This can be used to verify that the edit is valid without actually changing the data

[2016-11-18 22:05] tmtrademarked commented on #7094
I'm a terrible person, and decided to just create a sample pull request to see what it would take. But my ruby is very weak - so please feel free to ignore this if it's not a good way to fix this problem!

[2016-11-18 22:12] #6124 closed

[2016-11-18 22:14] JustinJiaDev commented on #6091
@milch This can be closed as well.

[2016-11-18 22:15] milch commented on #6091
@JustinJiaDev Great, thanks for letting me know!

[2016-11-18 22:15] #6091 closed

[2016-11-18 22:22] Desnoo commented on #7074
@hjanuschka I tried it with another bundle ident and other name then it worked.
I can now say that the error happens if the app name is not unique. This was the case at my side.

[2016-11-18 22:58] milch commented on #7094
Aww, don't be too hard on yourself. We love all our contributors equally! ❤️

That does indeed sound like a very good idea. I'm gonna take a look at your PR now 🚀

[2016-11-18 23:30] milch commented on #7046
Linking back from here to the other 3 PRs -> #7075, #7076, #7077

[2016-11-18 23:57] haitaox commented on #7089
having exactly the same issue. I've specified "scheme" in Fastfile while it complains I haven't specified one.

[2016-11-19 01:43] ConfusedVorlon commented on #6124
excellent. thanks @JustinJiaDev

[2016-11-19 01:55] mrubin commented on #7071
It does.

[2016-11-19 11:32] hjanuschka commented on #7074
@Desnoo you mean if an app with the same name already exists?

[2016-11-19 14:21] fhperuchi commented on #6832
Thank you @hjanuschka ! It solved my problem. :+1:

I had to implement this way:

[code]

[2016-11-19 14:21] fhperuchi commented on #7088
Thank you @hjanuschka ! It solved my problem. :+1:

I had to implement this way:

[code]

[2016-11-19 15:28] andersennl opened #7097 "Snapshot only generates screenshots with english localization"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
The topic basically describes the issue. The `screenshots` folder contains the folders `en-US` and `de-DE`. The screenshots in the `de-DE` folder have english localization, though. There don't se

[2016-11-19 15:33] hjanuschka commented on #7088
good to hear ! can you close the issue?

[2016-11-19 15:53] GUL- commented on #7089
Double check the scheme is shared and pushed to git.

[2016-11-19 15:55] viktorbenei commented on #7089
We have a (troubleshooting) guide for shared schemes, might help : http://devcenter.bitrise.io/v1.0/docs/scheme-cannot-be-found

[2016-11-19 19:19] 365SplendidSuns commented on #7074
Since updating fastlane 2 days ago I'm getting a problem with languages / localisations too. I have set my language as English in produce and have my metadata in deliver for en-US (Same as I always have) but deliver is failing with this error message.

[en-GB]: You must provide an app description for English (U.K.). [en-GB]: You must enter one or more keywords for your app in English (U.K.). You m

[2016-11-20 00:12] #7094 closed

[2016-11-20 00:37] milch commented on #7088
@fhperuchi Since your problem seems to be solved, I'm going to close this. @hjanuschka thanks for the help!

[2016-11-20 00:37] #7088 closed

[2016-11-20 00:43] milch commented on #7097
Have you tried setting snapshot's `localize_simulator` option to true?

[2016-11-20 04:38] kobkrit commented on #878
@bassrock I have tried your proposed solution. My versionCode is not bump. It seems like gradle do not follow the versionCode in the properties at all. Here is my Fastfile
`
lane :beta do
    # Get the last version code and increment it.
    versionCode = File.read("metadata/versionCode").to_i
    versionCode = versionCode+1

    f = File.new("metadata/versionCode", "w")
    f.write(versionCode)

[2016-11-20 07:52] andersennl commented on #7097
Thanks for you quick help @milch, that was it. I've overlooked this option when I looked through snapshot's help in the terminal.

If I'm not mistaken, the default generated [snapfile](https://github.com/fastlane/fastlane/blob/master/snapshot/lib/assets/SnapfileTemplate#L12) has already set some to-translate locales. This made me think that the screenshot localization is activated per default.

[2016-11-20 08:19] anantsaraswat commented on #5990
@TKBurner I am very new to Fastlane, But I am using pilot to deliver the app, So i have used the following command, Which successfully uploaded my app on iTunes connect.

pilot upload -u XXX@gmail.com -a XX.CCCC.DEV -i MYAPP.ipa --distribute_external false --wait_processing_interval 90 --verbose

Now I want it to enable automatically for internal testing. So I tried the following command, But it l

[2016-11-20 09:35] anantsaraswat commented on #5650
I am facing the same... Do anyone have update on this ?

[2016-11-20 10:36] anantsaraswat commented on #5990
@TKBurner  I got it running :dancer: , I think I have taken it so much seriously earlier.

I have used the following command.

pilot upload -u XXX@gmail.com -a XX.CCCC.DEV -p XXXXX67 -i MYAPP.ipa  --verbose

Thanks @TKBurner

[2016-11-20 12:54] santoshshetty2612 opened #7099 "match always syncs the certificates/profiles on git repo"
Hi,

I have been using fastlane quite successfully.
But I have this question in mind from some time now.

I use match with force_for_new_devices true for all my profiles "dev, adhoc and store".
Every time when the build runs and I call match, it does some modifications to the certificates and profiles and syncs it to the git repo. I get a new git commit every time when match runs. This is happenin

[2016-11-20 13:12] santoshshetty2612 commented on #7099
<details><summary>🚫 fastlane environment 🚫</summary>

### Stack

| Key                 | Value                                                   |
| ------------------- | ------------------------------------------------------- |
| OS                  | 10.12                                                   |
| Ruby                | 2.3.0                                                   |
| Bundl

[2016-11-20 13:21] sebastianludwig opened #7100 "`rake bundle` does not update gem bundles"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

While working on a PR I pulled the latest commits from master. To be sure everything was still working, I ran `rake` to run all unit tests. A few failed, indicating gem version mismatches. To update everything, I ra

[2016-11-20 13:28] sebastianludwig commented on #7100
[code]

[2016-11-20 14:31] Desnoo commented on #7074
@hjanuschka Yes that is what I meant.

[2016-11-20 15:16] #3779 closed

[2016-11-20 15:49] #1532 closed

[2016-11-20 19:43] #6962 closed

[2016-11-20 19:46] #6062 closed

[2016-11-20 20:26] #1703 closed

[2016-11-20 22:16] #4914 closed

[2016-11-20 23:02] ldantona opened #7104 "Gym step always results in Travis-CI stall"
Hello everybody!

### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

The following gym step always results in a Travis-CI stall running script '[CP] Embed Pods Frameworks':

[code]

Here's the last part of the logs:

[21:47:33]: ▸ Check Depend

[2016-11-21 04:14] yukiasai opened #7105 "[sigh] Even if using wildcard provisioning profile, WKAppBundleIdentifier is rewritten"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I'm using app groups with iOS and Today extension. so I'm building with following configuration.

* iOS app
  * bundle identifier is `com.my.app`
  * use `com.my.app` provisioning profile. (Sa

[2016-11-21 04:32] biolinh commented on #7074
@drakar4ik It only happen with new account which there don't have any app.

[2016-11-21 05:12] cybertk commented on #6002
This issue is still there on latest gym 1.12.0

[2016-11-21 05:31] yukiasai opened #7106 "xcodebuild: error: option '-configuration' may only be provided once"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

The same error occurs in **gym**, **scan** and **snapshot**.

✅ Issue Description ✅

#### gym

[code]

#### scan

[code]

#### snapshot

[code]

### Environment

<details><summary>✅ fastlane e

[2016-11-21 05:57] zapjonny opened #7111 "Conditionals in fastfile"
Is the fastfile written in ruby?

I'm not very used to ruby, so I have to ask, how do I add conditionals to my fastfile?

With a lane sending a **gym** built file to testflight using **pilot**, that lane ultimately asks for username when it hits the pilot command. Which is a lot later than when the lane starts. So I would like to have it check and/or ask for username already before the gym step. I

[2016-11-21 06:10] zapjonny commented on #7111
I got it, like this:

  lane :sendtestflight do |values|

	theusername = values[:username]

	if theusername.nil?
  		puts "Please specify username like this: fastlane ios sendtestflight username:myusername@company.com"
  	else
	  	puts "Sending to testflight, username is '#{theusername}'"

[2016-11-21 06:10] #7111 closed

[2016-11-21 06:54] jordanjun commented on #6814
@TKBurner OK. I can show you the exact repro steps.
First I create the jenkins job.
After get the code from git, I check the "Keychains and Code Signing Identities".
Then I execute the shell as below :
 bundle install
 sigh
And it always failed while sighing, with the log as below:
Bundle complete! 1 Gemfile dependency, 78 gems now installed.
Use `bundle show [gemname]` to see where a bundled gem

[2016-11-21 08:20] nicolasbraun commented on #7017
Here it is

Find the **build** ID that matches your version and buildnumber :

[code]

Upload the dSYM

[code]

[2016-11-21 08:20] #7017 closed

[2016-11-21 09:07] nicolasbraun commented on #7017
FYI https://support.hockeyapp.net/discussions/problems/65576-automatic-detection-of-app-or-build-when-upload-dsym-files

[2016-11-21 09:13] ldantona commented on #7104
Regarding code signing everything seems to be fine.
I've switched back from cocoapods 1.1.0.rc.3 to 1.0.1 and now the building process goes through.

[2016-11-21 09:27] stockninja commented on #7074
I had exactly this same problem -- as a new iTunesConnect developer making first app.

I created a dummy app in iTunes connect, and after that the bug disappeared.

[2016-11-21 10:36] SAVeselovskiy commented on #7085
@TKBurner, i have submitted build for beta review with filled fields (build 1) and tried to submit new build (2) via Pilot and phone number and email fields were filled correctly (but it didn't go for review cause 1 build still was "waiting for review", it's expected behaviour). After this i removed 1 build from review. I tried to upload build 3 via Pilot (info in previous builds were filled), but

[2016-11-21 12:35] bapsteks commented on #6908
Just incase anybody runs into the same issue, I was able to overcome this eventually by editing the xcodeproj file itself every time the App is built to always include that target.

[2016-11-21 12:35] #6908 closed

[2016-11-21 14:37] iForests commented on #878
@kobkrit I think you should change you build.gradle to something like this:

    versionCode project.hasProperty('versionCode') ? project.property('versionCode') as int : 1

[2016-11-21 14:42] gitig commented on #7074
I have the same problem.
+----------------+------------------------------+
|           Summary for produce 1.3.0           |
+----------------+------------------------------+
| username       | xxxxxxxxxxxxxxxxxxxxxxxxx    |
| app_identifier | xxxxxxxxxx                   |
| app_name       | mYNiceGotGame4               |
| language       | English_UK                   |
| app_version    | 1.5

[2016-11-21 15:51] revolter commented on #7054
Seems to work. I'll reopen if anything comes up. Thanks!

[2016-11-21 15:51] #7054 closed

[2016-11-21 15:57] asfalcone commented on #7074
Has anyone been able to verify the fix from the PR that @hjanuschka put together? https://github.com/fastlane/fastlane/pull/7084 through the process he [describes in this comment?](https://github.com/fastlane/fastlane/issues/7074#issuecomment-261623278) Let me know so we can get a fix merged!

[2016-11-21 16:04] revolter opened #7114 "Contradicting console warnings"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

When running `fastlane` commands, sometimes, this warning gets printed:

But when an update is available, this warning gets printed:

Shouldn't it mention something like:

?

### Environment

[2016-11-21 16:41] kpogz commented on #6810
Is this still being looked into? I've been stuck on this for awhile, my fastlane deployment is halted :(
sorry if this is kinda dumb but what does the 'action' label mean?
let me know if theres anything i can do to help!

[2016-11-21 16:41] TKBurner commented on #7071
@mrubin Awesome! I'm going to mark this to see if anyone is interested in creating a longer term solution. Hope you have a great day!

[2016-11-21 16:41] TKBurner commented on #6832
@hjanuschka As always thanks so much for helping out 👍 Hope you are having a great week!

[2016-11-21 16:42] TKBurner commented on #7097
@andersennl Thanks for following up. Localize simulator was implemented after the ability to localize the apps content based on your settings. This is why they are separate.

[2016-11-21 16:42] #7097 closed

[2016-11-21 16:44] TKBurner commented on #5650
@anantsaraswat Right now it's not possible to implement this but if you find a way please do let us know! 👍

[2016-11-21 16:45] TKBurner commented on #5990
@anantsaraswat Awesome! So glad to hear you got up and running. Always feel free to reach out or search our issues  👍

[2016-11-21 16:47] TKBurner commented on #7100
@sebastianludwig Thanks for following up. I saw someone with a similar issue resolve this by reinstalling bundler. Apparently there is a linking issue when installed before _fastlane_. Let me know if this clears it up for you and we'll investigate more. Thanks!

[2016-11-21 16:47] mRs- commented on #5631
Still broken sometimes.

Von meinem iPhone gesendet

[2016-11-21 16:48] TKBurner commented on #7099
@santoshshetty2612 I believe this is a product of the encryption, but will leave this open in case anyone as more insight. Thanks!

[2016-11-21 16:51] TKBurner commented on #7105
@yukiasai Thanks for contributing! We are a little behind on pull requests but will work with you soon over there. I hope you have a wonderful week!

[2016-11-21 16:51] #7105 closed

[2016-11-21 16:52] TKBurner commented on #6002
@cybertk Sorry to hear that! We'll leave this open until we've confirmed this issue is no longer affecting anyone. Thanks!

[2016-11-21 16:53] TKBurner commented on #7106
@yukiasai Thanks again for contributing! We'll work with you on the PRs soon! 👍

[2016-11-21 17:06] TKBurner commented on #6814
Hi! @jordanjun Can you run export FASTLANE_PASSWORD="XXXXX" before you run sigh? Thanks!

[2016-11-21 17:12] TKBurner commented on #7104
@ldantona What happens if you run the `cocoapods` action first? Let me know how it goes!

[2016-11-21 17:14] hassanmah commented on #7089
@viktorbenei than you, your answer worked

[2016-11-21 17:16] TKBurner commented on #7085
@SAVeselovskiy Thanks for following up. It sounds like most of this is behavior on the Apple side. Let me know if you find a distinct pattern so we can take a look 👍

[2016-11-21 17:16] #7089 closed

[2016-11-21 17:18] TKBurner commented on #7114
@revolter Thanks for pointing this out. Are you interested in submitting a PR to change this error message? Thanks!

[2016-11-21 17:18] juliangsp commented on #5913
Thanks @mfurtak 👍  it's good info shared and great if it's documented.

[2016-11-21 17:42] revolter commented on #7114
I think this is wrong, as I forgot to use `bundle exec fastlane`, in which case [the correct message][1] would have been printed out.

  [1]: https://github.com/fastlane/fastlane/blob/master/fastlane_core/lib/fastlane_core/update_checker/update_checker.rb#L78

[2016-11-21 17:42] #7114 closed

[2016-11-21 18:25] odrobnik commented on #6648
@KrauseFx @ohwutup Now something weird happened. I ran `snapshot` and even though I have `nb` in the languages, the screenshots did end up in the `nb` folder. `deliver` - freshly updated - did not pick up the screenshots in there, but showed a confirmation page with empty `no` screenshots.

I have to copy screenshots from `nb` into `no` for it to work.

snapshot is 1.6.3
deliver is 1.15.1

[2016-11-21 18:27] #6096 closed

[2016-11-21 18:29] mfurtak commented on #7106
Reproduced locally. :+1: I'll reopen this until we merge and ship the fixes.

[2016-11-21 18:49] #5999 closed

[2016-11-21 18:50] mfurtak commented on #7106
Your fixes have been merged, and will go out in the next _snapshot_, _scan_, and _gym_ releases. Thanks very much! 🎉

[2016-11-21 18:56] #5490 closed

[2016-11-21 19:04] TKBurner commented on #6632
@kivannc Can you send me the output of `fastlane env` I want to check your openssl information and make sure you are up to date on our gems.

[2016-11-21 19:07] #6079 closed

[2016-11-21 19:12] AnthonyMDev commented on #6551
@mpirri Sorry I didn't get back to you for a while. I've been on vacation!

I've set up a simple folder hierarchy just like you've described, and I'm still getting the same error.

[2016-11-21 19:13] TKBurner commented on #6976
@waroo Are you interested in submitting a PR to update this for us? We'd LOVE that!

[2016-11-21 19:15] asfalcone commented on #7073
@pscadiz Could you try setting `apk_paths: nil` to explicitly clear the value in apk_paths?

I am surprised that it gets to the point up uploading multiple apks when you are explicitly passing the `apk` param because there should be [code to handle](https://github.com/fastlane/fastlane/blob/master/supply/lib/supply/options.rb#L72) that (and raise an exception).

Can you also include the output of

[2016-11-21 19:16] TKBurner commented on #6152
@masteranza The recommended methods are described here: https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md#developing Thanks!

[2016-11-21 19:17] #5387 closed

[2016-11-21 19:19] erikjthomas opened #7115 "Pointers to use Spaceship to select existing ITC members as internal testers..."
Can anyone share pointers for how I can use Spaceship to add existing ITC users as INTERNAL TestFlight testers for an app, select the latest version, and kick off an internal test?

Note the following:
* I do NOT need to create internal testers. They already exist in our account.
* I cannot use external testers because of the review delay.

Reading about Pilot I see it is not going to do this for

[2016-11-21 19:19] TKBurner commented on #6993
@Alarson93 Have you searched on Google for the instructions for removing and reinstalling this certificate? Also can you set a CURRENT_PROJECT_VERSION key for this project

[2016-11-21 19:21] asfalcone commented on #7058
Thanks @jerome-cp 👍

I'm going to close this issue since there isn't action we can take here. We'll be sure to include this plugin in the available plugins list on our next release 🚀

[2016-11-21 19:21] #7058 closed

[2016-11-21 19:22] #7049 closed

[2016-11-21 19:24] TKBurner commented on #6595
@lalunamel We are chopping down the PR backlog this week, we should have feedback soon. Thanks so much for contributing! We really appreciate it 👍

[2016-11-21 19:24] TKBurner commented on #6973
@zwang Can you re-install bundler? Thanks!

[2016-11-21 19:24] asfalcone commented on #7013
@hjanuschka Thanks for this awesome response! 🙏

@Jianbo-Zhu I'm going to close this issue since it looks completely answered 👍

[2016-11-21 19:24] #7013 closed

[2016-11-21 19:25] asfalcone commented on #7051
Going to close as a duplicate of #2082

[2016-11-21 19:25] #7051 closed

[2016-11-21 19:26] TKBurner commented on #7049
@a83988029 Thanks for the feedback! I'll make sure we talk about this as a team 👍

[2016-11-21 19:27] asfalcone commented on #7007
Thanks @hjanuschka 👍

[2016-11-21 19:27] #7007 closed

[2016-11-21 19:28] Chiliec opened #7116 "Using only env variable for password, not keychain. Is it normal behavior?"
### New Issue Checklist

- [x ] Updated fastlane to the latest version
- [x ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I have password in env variable `FASTLANE_PASSWORD`, but for another apple_id. And have password for apple_id in keychain (created with **credentials_manager**). Fastlane only try to use env

[2016-11-21 19:28] TKBurner commented on #6968
@seanscal Is it occurring more on a slower machine? It looks like a timeout of some sort. Thanks!

[2016-11-21 19:31] TKBurner commented on #6992
@greencoppercompany Thanks for following up. I believe this has been the behavior before so we are going to mark this as a feature request. It is a time saver so we'd love to see a PR.

[2016-11-21 19:35] lam2558 commented on #6968
I had this issue occur, but mine might be a little different. I'll list my issue and solution in case it might help you out.
I had a test bundle with empty test. Whenever scan ran on it, it would just timeout there.
- What i did was disable the bundle.
- Before running any test, i would boot up the simulator first, then wait to give it time to load.
- Then clean out any previously install app on i

[2016-11-21 19:36] TKBurner commented on #5735
@owurman Thanks. So this workaround is allowing you to not have to set this the first time you submit an app? 👍

[2016-11-21 19:38] owurman commented on #5735
@TKBurner Actually, it did not, since the Deliverfile is not read. I had to manually read in the Deliverfile from the Fastfile, and hack several of the gem files to add an app_review_information argument to pilot, like the one for deliver.

[2016-11-21 19:38] TKBurner commented on #6958
@petitmat

 @hjanuschka is going to look into this when he has some time. We are going to track this on #6992. , so closing this issue. Thanks!

[2016-11-21 19:38] #6958 closed

[2016-11-21 19:42] greencoppercompany commented on #6992
Ok, well noted! Thanks for your feedback.

[2016-11-21 19:55] erikjthomas commented on #7115
OK, I figured out how to do the first part of this and it's just too easy! You fastlane contributors rock!

Spaceship::Tunes.login(admin_email, password)
app = Spaceship::Tunes::Application.find(bundle_id)
tester = Spaceship::Tunes::Tester::Internal.find(tester_email)
tester.add_to_app!(app.apple_id)

Voila! Excellent. Now I need to spelunk Spaceship code to find how to kick an internal test...

[2016-11-21 19:57] TKBurner commented on #5379
Hi @johnboiles Thanks for following up. I'm not sure there is active work toward this. Is there a reason why you can't use match?

[2016-11-21 20:01] TKBurner commented on #7080
@suprie Can you try setting the `PROVISIONING_PROFILE_SPECIFIER` enviromental variable? Thanks!

[2016-11-21 20:03] TKBurner commented on #7079
Hi @hfossli this isn't a currently supported use case. We will track it as a feature request. Thanks!

[2016-11-21 20:06] TKBurner commented on #7072
@tristanbbq Thanks for reaching out. Right now this isn't possible but we'd be interested in seeing this added. Let me know if you are interested in submitting a PR.

Also, have you tried using imports? Thanks!

[2016-11-21 20:08] TKBurner commented on #1596
@evilDave Thanks for following up. This does seem to be an issue with the API side, but you should be able to upload a couple hundred. It also varies by internet connection and receiving server speed.

[2016-11-21 20:14] tristanbbq commented on #7072
@TKBurner: it'd be happy to contribute - not very familiar with the ruby world but I'll definitely give it a shot if it's not fixed anytime soon. Please keep me updated if it gets added in the meantime.

[2016-11-21 20:24] TKBurner commented on #6730
@evilDave Thanks for following up on this. What happens if you add force: true?

[2016-11-21 20:25] TKBurner commented on #6989
@jinjorge Can you try manually setting the derived_data_path?

[2016-11-21 20:27] evilDave commented on #1596
Sorry, I meant to follow up again. I had wrongly assumed that a language "default" was supported for screenshots like it is for text metadata. (I had a default directory for one project in many languages but not the others with only a few supported languages.) It looks like the store has some checkboxes now for using the default language in other languages. The message from iTC could probably be b

[2016-11-21 20:30] TKBurner commented on #7008
@DNACore It looks like old-embedded-profile.plist doesn't exist, can you check that file out? Thanks!

[2016-11-21 20:31] asfalcone commented on #7116
@Chiliec Yes, this is expected behavior. If the environment variable is set then it is [assumed to be the the correct one](https://github.com/fastlane/fastlane/blob/master/credentials_manager/lib/credentials_manager/account_manager.rb#L27).

If you are using multiple accounts, you should unset that environment variable and so that _fastlane_ will only get passwords from the keychain. 🔑

[2016-11-21 20:32] evilDave commented on #6730
Hi. I just commented on the other issue (hard to link to from my phone sorry). As you can see in the output, I have a "default" language which is not valid for screenshots.

[2016-11-21 20:32] TKBurner commented on #6690
@bryanjclark Can you share the output of `fastlane env`? Thanks!

[2016-11-21 20:34] TKBurner commented on #4241
@evilDave I've marked this with a few more flags to see if anyone is interested in implementing this. Thanks for working with us!

[2016-11-21 20:51] asfalcone commented on #7105
@yukiasai The PR looks good but it would be great to get some verification from the community that this meets their signing needs before merging. 👍

[2016-11-21 21:06] jinjorge commented on #6989
@TKBurner I think you meant ^^ for @jniemin

[2016-11-21 21:15] fabioknoedtbcgdv commented on #7106
@mfurtak any guess when is going to be the next release? this bug is currently breaking my CI & CD.
any advices how to avoid that for now? reverting any of the versions to an earlier one? gym, fastlane_core, scan? Thanks!