[2016-04-28 14:28] TKBurner commented on #4378
@dholdaway We'll work on that ticket. Thanks for reporting this. Closing this out for housekeeping 👍

[2016-04-28 14:28] #4378 closed

[2016-04-28 14:30] #4373 closed

[2016-04-28 15:00] #4395 closed

[2016-04-28 15:33] justin opened #4405 "Can't upload downloaded dSYM to Crashlytics"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I am trying to get Fastlane to automate downloading the Bitcode dsyms from iTunes Connect and uploading them to our Fabric install. I can't seem to figure out what it wants though.

Specifical

[2016-04-28 15:38] vpolouchkine commented on #1542
A PR for this would be :100:

[2016-04-28 15:44] jcampbell05 commented on #1542
So I propose we allow people to be able to specify their own formatters they can define in a folder like we can with actions.

[2016-04-28 16:08] TKBurner commented on #4399
Hi @aengel12! Great to hear from you. Can you share the full output when you run a command that you'd expect these variables to be inherited. Also can you share your your .env file or are you only using a .bashrc file?

[2016-04-28 16:10] TKBurner commented on #4059
Hi @bencollier Thanks for following up. Can you let me know if it works consistently if you only have one target per scheme? Thanks!

[2016-04-28 16:11] TKBurner commented on #4394
Hi @silviu-geronimo Thanks for reaching out. It looks like there isn't a valid provisioning profile. Can you set the path manually as a parameter of gym if it exists? Thanks!

[2016-04-28 16:13] TKBurner commented on #1164
@jsonfellin Glad to hear you got up and running. Do you have other connectivity issues ever? If this is consistent, email support[at]fabric.io since it seems like a Beta upload issue. Thanks!

[2016-04-28 16:13] mfurtak commented on #4216
I've merged changes in #4401 to make the list output better reflect the data we have available in each circumstance. This will go out in the next `pilot` release 🚀

[2016-04-28 16:13] asfalcone commented on #4405
@justin The `upload_symbols_to_crashlytics` action relies on the Fabric mac app or submit binary being installed on the machine.

https://github.com/fastlane/fastlane/blob/master/fastlane/lib/fastlane/actions/upload_symbols_to_crashlytics.rb#L78 By default, it looks in a few places for it, but otherwise you'll need to provide the binary path. 👍

[2016-04-28 16:15] justin commented on #4405
OOoh. That binary. I thought it wanted the app binary. Too early I suppose. Cheers.

[2016-04-28 16:22] TKBurner commented on #4387
Thanks for stepping in @juliangrosshauser! @manuyavuz Let me know if this keychain advice helped out 👍

[2016-04-28 16:33] vpolouchkine commented on #4390
Alright, feel free to re-open if you run into this again and we'll dig some more.

[2016-04-28 16:35] vpolouchkine commented on #4383
Take a look at https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Guide.md or some real-world examples https://github.com/fastlane/examples

[2016-04-28 16:35] #4405 closed

[2016-04-28 16:38] vpolouchkine commented on #4397
Thanks for the detailed writeup, we'll take a look.

[2016-04-28 16:43] botmane opened #4406 "Fetch data from Itunes Connect Analytics"
Hello,

Is it possible to use Spaceship to query Itunes connect Analytics Data: For example "Daily Number of downloads"?

Thank you,

Otmane

[2016-04-28 16:45] esteluk commented on #1945
This would be incredibly useful to have, even if it just takes the form of a custom message.

[2016-04-28 16:48] TKBurner commented on #4391
Hi @funkenstrahlen Thanks for pointing this out. Can you add the --verbose flag and run your lane and send over the output? That'll help. Thanks!

[2016-04-28 17:04] mfurtak commented on #4385
Hi @Syrou 👋

This shipped as part of [`fastlane` 1.83.0](https://github.com/fastlane/fastlane/releases/tag/1.83.0) 🚀

Once you update you should be able to better control `gradle` action output by using the `print_command` and `print_command_output` options!

[2016-04-28 17:13] lakamsani opened #4407 "Crashalytics/Fabric upload fails with Shell command exited with exit status 1 instead of 0."
### New Issue Checklist

- [x ] Updated fastlane to the latest version
- [ x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Crashalytics/Fabric upload fails with the error:
[!] Shell command exited with exit status 1 instead of 0.
##### Complete output when running fastlane, including the stack trace and command u

[2016-04-28 17:33] marcelofabri opened #4408 "Create a `set_pod_key` action"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

There's already a `verify_pod_keys` action today, but no `set_pod_key` one. We should fix that! 🔑

If this is a wanted addition to fastlane, I can work on this on the next few days.

### Envir

[2016-04-28 17:42] TKBurner commented on #3892
Hi @mortenholmgaard Thanks for following up. Can you run sudo gem update --system ? Let me know the full output of that command. Thanks!

[2016-04-28 17:43] TKBurner commented on #4301
@ssteinerx Thanks! I'll surface this with the team 👍

[2016-04-28 17:49] TKBurner commented on #4150
Hi @kikolobo! Thanks for following up. Are you able to manually run that command and share the output? This seems like an issue with your app running, so it might be further up the chain.

Thanks!

[2016-04-28 17:50] TKBurner commented on #1844
@Ricowere Awesome! Thanks so much for letting us know 👍

[2016-04-28 17:50] TKBurner commented on #4366
@cdunkel Awesome! Let me know how it goes 👍

[2016-04-28 18:08] TKBurner commented on #4372
@marcelofabri Awesome! Thanks for stepping in :) Since there is a PR now I'm going to go ahead and close this issue out 👍

[2016-04-28 18:08] #4372 closed

[2016-04-28 18:09] TKBurner commented on #4321
Can you share the output of running deliver --verbose? I want to take a look and see what's going on.

Thanks!

[2016-04-28 18:10] TKBurner commented on #4381
@funkenstrahlen Thanks for following up. Can you let me know if it affects other browsers? If it doesn't can you let me know what browser you are using. Thanks!

[2016-04-28 18:28] funkenstrahlen commented on #4381
I just checked. It happens both in Safari (Version 9.1 (11601.5.17.1)) and Chrome(50.0.2661.86).

[2016-04-28 18:31] funkenstrahlen commented on #4391
@TKBurner So it *should* work? I thought 2 factor might just not be supported yet.

[2016-04-28 19:05] truth3 commented on #3696
Draft day bump 🏈

[2016-04-28 20:29] kikolobo commented on #4150
@TKBurner No doubt is something of the configuration of my server... But not the app, because the app runs and archives fine manually.   this has something to do with the archiving process.

I will try to run and share output.

[2016-04-28 21:07] mortenholmgaard commented on #3892
This is the output of _sudo gem update --system_:

[2016-04-28 21:09] etolstoy commented on #4407
+1, the same problem.

[2016-04-28 23:00] kikolobo commented on #4150
@TKBurner

This is the response when running the command from the command prompt in terminal:

/usr/bin/xcrun /Library/Ruby/Gems/2.0.0/gems/gym-1.6.2/lib/assets/wrap_xcodebuild/xcbuild-safe.sh -exportArchive -exportOptionsPlist '/var/folders/_8/gyq8wg7x5cbb9rgb6wqdwrsh0000gp/T/gym20160428-66576-1907uzq_config.plist' -archivePath '/Users/administrator/Library/Developer/Xcode/Archives/2016-04-28/Ven

[2016-04-29 02:06] maximkhatskevich opened #4413 "exportArchive: Symbols tool failed"
When I use "gym", it archives my build, says "Archive Succeeded", but then I'm getting an error and lane stops execution. See screenshot attached. Archive on it's own seems to be fine, it appears to be full-size in Finder.

![screen shot 2016-04-28 at 19 01 36](https://cloud.githubusercontent.com/assets/2624646/14906746/02665fba-0d74-11e6-878b-cbbdff121e94.png)

Any ideas what happens? I never had

[2016-04-29 02:07] oysta opened #4414 "Allow xcode_select to use a version requirement"
### Issue Description

At Atlassian we have build agents that have multiple versions of Xcode installed and projects that build on these agents that have different Xcode version requirements. There's a single reference in the existing Fastlane documentation that refers to using a `version` parameter with `xcode_select`, however that action does not support such a parameter (the `xcode_install` act

[2016-04-29 07:04] aengel12 commented on #4399
The output is configured by myself, if there is no var it prints "set the var XYZ"
I have no .env file, i use the ~/.bash_profile
and there is only
export XYZ=test
thanks a lot

[2016-04-29 07:11] alexeychirkov commented on #4166
I have the same problem

Default scheme:
[code]

Beta scheme
[code]

[2016-04-29 08:05] pcl-ext commented on #1331
@benoittgt Thanks ! I'm using your fork with your recent modifications. But still having an error while trying to upload to Appaloosa :

![capture d ecran 2016-04-29 a 09 59 19](https://cloud.githubusercontent.com/assets/17179351/14910837/3b2c8090-0df1-11e6-8f6a-9fd81ede277d.png)

My API token and store ID are OK, so I don't really understand where this error comes from.

[2016-04-29 08:27] benoittgt commented on #1331
@pcl-ext can you join the support on our frontpage with intercom ?

[2016-04-29 08:43] Ashton-W opened #4415 "Add action for writing 'properties' files"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Needed an action to output a Java properties file for consumption by external tools and Jenkins.

Here's one I prepared earlier #4380

[2016-04-29 08:45] pcl-ext commented on #1331
@benoittgt Yes, I will do it now

[2016-04-29 08:48] Ashton-W commented on #4356
`-FASTLANE_SNAPSHOT YES` is always present in `launch_arguments`. It is added by the `SnapshotHelper.swift`

[2016-04-29 09:01] Ashton-W commented on #4356
#4416

[2016-04-29 09:02] L1bre commented on #4108
Just to complement @loufranco's answer:
The offsets for portrait that worked in the offsets.rb for me are:

[code]
I used the iPhone SE screen for the iPhone 5s, just renamed the files.
Additionally I also had to delete the white corners but now it's looking as expected.

[2016-04-29 09:09] benoittgt commented on #1331
@vpolouchkine I think this issue can be close. The problem was related to credentials given to Fastlane not fastlane itself.

Thanks in advance.

[2016-04-29 09:16] dkk opened #4417 "Snapshot compiles the project twice (for 1 device/language)"
Snapshot seems to compile the whole project twice (I only have only one device and one language
configured). It seems to me that it first compiles the main project for the main target and then it compiles it again for the testing target since the files from the testing target are the only ones that only get compiled once.

Do I have to configure my scheme differently? Right now, my scheme, in buil

[2016-04-29 09:23] kalle commented on #3921
I have similar problems with `snapshot` and I think fastlane/snapshot has something do to with it and not only xcode.

1. When running `env SNAPSHOT_DERIVED_DATA_PATH=~/tmp/snapshots_ostl snapshot` an empty (black only) simulator is opening of the same kind that the last open one (if I had iPad2 open but want to run run tests on iPhone6, the iPad2 one opens) and I get the "120 seconds timeout" err

[2016-04-29 09:33] iPavel92 commented on #1554
Can't try full pipeline now because of https://github.com/fastlane/fastlane/issues/4241

[2016-04-29 09:46] #1331 closed

[2016-04-29 09:59] dgoyaldiksha commented on #4321
- [ ] Updated fastlane to the latest version
- [ ] I have read the [Contribution Guidelines]

### I have updated latest fastlane version,using deliver --verbose command i am getting below error.

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Environment

fastlane version (run `fastlane -v`):fastlane 1.83.0

[2016-04-29 11:15] manuyavuz commented on #4387
Hi,

As @lkraider pointed [here](https://github.com/fastlane/fastlane/pull/4386#issuecomment-215524061), Xcode Server looks has a different path for keychains, and `security` command seems to look for ~/Library/Keychains by default. Using the full path indeed works.

Therefore, I think with the merged PR, the issue has been solved.

Thanks for quick feedbacks!

[2016-04-29 11:15] #4387 closed

[2016-04-29 12:41] materik commented on #2012
this doesn't seem to be an issue for me anymore with the latest version...

[2016-04-29 13:56] johanandersson commented on #1679
@TKBurner Had a good couple of days, but started seeing this issue again.

[2016-04-29 14:00] rs17b commented on #4166
After reading through this issue, I think the first problem is using the term ```scheme``` as opposed to ```target``` @alexeychirkov and @tabuchid problems should be solved by passing in a ```target``` name instead of a ```scheme``` name. Schemes can obviously be different from targets and that escaped me when authoring this breaking change.

So I propose changing ```scheme``` to ```target```. It

[2016-04-29 14:01] TKBurner commented on #1679
Hi @johanandersson Thanks for following up. Do you have multiple targets set up per scheme? I had a few people resolve this issue by setting this up with one target per scheme. Let me know if that's what is causing your issue. Thanks! 👍

[2016-04-29 14:04] TKBurner commented on #2012
@materik Thanks for letting us know. I'm going to go ahead and close this out. If anyone sees similar errors please open a new issue 👍

[2016-04-29 14:04] #2012 closed

[2016-04-29 14:06] TKBurner commented on #4387
@manuyavuz Awesome! Thanks for following up 👍

[2016-04-29 14:12] TKBurner commented on #1331
@benoittgt Thanks for keeping us updated and being part of our ecosystem 👍 Hope you have a wonderful weekend!

[2016-04-29 14:13] cnmongrel commented on #4220
Doesn't `ignore_profiles_with_different_name: true` have to be used in conjunction with `provisioning_name`? Do you want me to try with or without `provisioning_name`... or both?

[2016-04-29 14:15] TKBurner commented on #4108
@L1bre Thanks for following up with that info. I circled back with the team to see if we can update this 👍

[2016-04-29 14:16] TKBurner commented on #4356
@Ashton-W Thanks for linking this to your PR! I'll make sure the team takes a look 👍

[2016-04-29 14:19] #4383 closed

[2016-04-29 14:21] johanandersson commented on #1679
I've tried both setups. When having one scheme it seemed to be random which one of my two targets would fail. However now it seems like it's always the second scheme I run Scan on. It still seems random to when it happens.

I usually see either

[code]
or
[code]

I will keep looking for something that might cause it.

[2016-04-29 14:23] TKBurner commented on #4347
Hi @etolstoy! Thanks for reaching out. Can you share the full output of your attempt at running this action  with the --verbose flag on?

Thanks!

[2016-04-29 14:49] TKBurner commented on #4406
Hi @botmane Thanks for reaching out. You can see all fields available by running this command:

![image](https://cloud.githubusercontent.com/assets/1987108/14919705/0583cbf4-0df8-11e6-9fef-7e25051d0089.png)

[2016-04-29 14:49] #4406 closed

[2016-04-29 14:50] TKBurner commented on #1945
@esteluk Thanks for following up. I'm going to send out your PR so we can get some eyes on it. 👍

[2016-04-29 14:52] TKBurner commented on #4408
@marcelofabri Thanks for suggesting this! I'm going to send it out to the team as a PR proposal 👍

[2016-04-29 14:52] asfalcone commented on #4166
Thank you @rs17b for taking a look. 👍

We'd love for someone to submit a PR to fix this (including tests for cases that have been missed) and for a few others to help out with the review and testing to make sure we're handling all of the use cases! Let me know who is up for it! 😎

[2016-04-29 14:53] TKBurner commented on #4381
@funkenstrahlen Thanks for following up. If this isn't reproducible on our end it's going to be hard to investigate. Can you test again with a blank app? You can always remove it from iTC later.

Thanks!

[2016-04-29 14:54] TKBurner commented on #4391
Hi @funkenstrahlen Thanks for following up. 2 Factor with Github and Bitbucket is supported. 2 Factor with iTC is not fully supported at this time 👍

[2016-04-29 14:59] funkenstrahlen commented on #4391
I only had the problem after enabling 2 factor for my apple Id. So you might want to close this because I think the festure request for this already exists?

[2016-04-29 15:08] TKBurner commented on #3892
Hi @mortenholmgaard Thanks for following up. This isn't a Fastlane issue at this point. Are you on El Capitan? The other reports I found on StackOver flow of similar issues with other gems suggests that this folder is no longer writable in El Capitan. You'll need to install Ruby via Homebrew or RVM.

Thanks!

[2016-04-29 15:09] TKBurner commented on #4407
Hi @lakamsani. Can you run your lane with the --verbose flag and share the output of the Crashlytics action? I want to take a look if this is a network issue or something else. Thanks!

[2016-04-29 15:10] asfalcone commented on #4278
@henriklundstedt Were you able to get this working with @TKBurner's suggestion? Thanks.

[2016-04-29 15:14] TKBurner commented on #4150
@kikolobo Thanks for following up. I'm circling back with a few people that work on Gym and we'll update on this thread. Hope that you have a great weekend 👍

[2016-04-29 15:15] asfalcone commented on #3726
Hi @iphil. I believe this functionality was implemented as part of https://github.com/fastlane/fastlane/pull/4362. 👍

[2016-04-29 15:15] #3726 closed

[2016-04-29 15:17] TKBurner commented on #4413
Hi @maximkhatskevich Thanks for reaching out. Can you add the --verbose flag to your lane and share the output? That'll help looking into this 👍

[2016-04-29 15:22] TKBurner commented on #4414
@oysta Thanks for reaching out. I think we'd be happy to see a PR on this 👍 I'm going to circulate it to see if there is any other feedback from the internal team. Have a great weekend!

[2016-04-29 15:24] TKBurner commented on #4399
Hi @aengel12! Thanks for following up. I'd suggest using an .env file as it's more reliable and will definitely suit your use case. Can you try that out and let me know how it goes?

[2016-04-29 15:34] kikolobo commented on #4150
Thanks. Appreciated very much.

[2016-04-29 15:37] esteluk commented on #1945
Ta :)

[2016-04-29 15:39] TKBurner commented on #4415
Hi @Ashton-W! Thanks for reaching out. I'm going to circulate this with the internal team and then we'll update on this thread. We really appreciate you being part of our community 👍

[2016-04-29 15:41] TKBurner commented on #3921
@kalle Thanks for sharing those additional details. I'm going to bump this thread internally. 👍

[2016-04-29 15:43] TKBurner commented on #1554
@iPavel92 Thanks for letting us know. We'll leave this open for the time being while that issue gets sorted. Thanks!

[2016-04-29 16:05] TKBurner commented on #4321
Hi @dgoyaldiksha Thanks for reaching out! I'm seeing a connection error. Are you behind a proxy or firewall?

[code]

[2016-04-29 16:08] TKBurner commented on #4417
Hi @dkk! Thanks for reaching out. I only see Snapshot compile once in the output. Also can you include your input command? Thanks 👍

[2016-04-29 16:33] i2amsam commented on #4342
@win2l done with https://github.com/fastlane/fastlane/pull/4411 check it out and let me know what you think!

[2016-04-29 16:33] #4342 closed

[2016-04-29 16:42] i2amsam commented on #4108
Thanks for this report. 👍

Looks like there are two issues with the new iPad screenshots:
1. They have white backgrounds.  I added a fix to the iPhone SE's backgrounds in https://github.com/fastlane/fastlane/pull/4411 but the same solution didn't work for these iPad ones, so that needs to be improved to work in more cases.
2. They have different offsets than before, this is the same issue as https

[2016-04-29 16:43] lakamsani commented on #4407
Hi @TKBurner thanks for the flag. That produced some extra output that might help.

==
INFO [2016-04-29 09:41:45.31]: Successfully exported and signed the ipa file:
INFO [2016-04-29 09:41:45.31]: /Users/me/Development/MyApp/MyApp-ios/archives/Pods_MyAppiPhone.ipa
INFO [2016-04-29 09:41:45.31]: -------------------------
INFO [2016-04-29 09:41:45.31]: --- Step: crashlytics ---
INFO [2016-04-29 09:41

[2016-04-29 16:45] i2amsam commented on #1713
This is a great idea 👍 but I'd be afraid we'd risk Apple rejecting folks who were not using their supplied frames.  I'm going to close this, although it would solve a bunch of problems in terms of versioning and consistency :-/.

[2016-04-29 16:47] ConfusedVorlon commented on #1713
My suggestion was really around expanding support for Android.
You already have android support for snapshot - so some android frames for frameit would make sense.

No risk of apple rejecting things that are submitted to google play!

[2016-04-29 16:50] i2amsam commented on #4248
@justin the prompts in `frameit setup` always indicated you were setting up the first time, even if you already had frames in `~/.frameit`.  Could you try lowercasing `Framefile.json` to `framefile.json`?

[2016-04-29 17:41] cnmongrel commented on #4220
Here is the output using `ignore_profiles_with_different_name`:

[code]

[2016-04-29 17:52] suparng-medallia commented on #1517
@chrisamanse , I am having almost the same issue. The current build in the appstore is 2.15.1(9) and I am trying to push a new build 2.15.1(15) but deliver throws an error that version number has been previously used. Do I need to add the app_version flag?

[2016-04-29 18:02] maximkhatskevich commented on #4413
Okay, will do that shortly. Small note: the archive is available in Xcode Organizer, but gym does not export it target folder (I specified custom path to export dSYM and ipa).

[2016-04-29 19:13] maximkhatskevich commented on #4413
It looks like "gym_output" failes, not "gym" core. Here is the part of output that contains error description.

`
INFO [2016-04-29 12:07:26.07]: $ /usr/bin/xcrun /Users/maxim/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/gym-1.6.2/lib/assets/wrap_xcodebuild/xcbuild-safe.sh -exportArchive -exportOptionsPlist '/var/folders/74/mqryd6310bn_tzwy1jh_9sb80000gn/T/gym20160429-2263-1vsm7vd_config.plist' -

[2016-04-29 19:46] satbirjhuti opened #4422 "Supply throws titleAlreadyUsed exception when trying to update an existing App"
### Issue Description
I was trying to update an existing App on the Play Store using Supple. It errored out with  `titleAlreadyUsed: You need to choose a different title for your app. This one is already used by another app. (Google::Apis::ClientError)`.

Crash report Number: c29b05f26e1952b9616d501f4638c0b7

##### Complete output when running fastlane, including the stack trace and command used

[2016-04-29 21:12] leandrodemarco opened #4423 "Snapshot run fails not finded libraries installed via pods"
### Issue Description
I've set up my project to use snapshot as indicated in it's github repo. So I created a new target, namel PainntUITests and added it to xcode. I managed to get the tests (and the app itself) run in my device by tapping on the "Rec" button in xcode. However, when trying to run snapshot I get an error from the compiler saying it could not find AFNetworking library, which is one

[2016-04-29 23:43] NicosKaralis opened #4424 "Screenshots not being sent to itunes connect"
### Issue Description

Screenshots are not being sent to itunesconnect even when the logs says they have been uploaded:

[code]

The output log is for the `snap` lane with the snapshot action commented out. The files exist and they are in the correct folder. Can someone help me?

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Configuration File

[2016-04-30 07:50] Ged2323 commented on #1748
Yes I'm getting this problem too.

[2016-04-30 15:33] kaoskorobase commented on #1564
Sorry, I don't know, we're not using deliver at the moment. If temporary files are not generated randomly with name collision detection, I would assume it's still an issue.

[2016-04-30 15:49] dulaccc commented on #1655
I had this issue too, I solve this issue by fixing something else ^^ my unit tests. Actually in my case, the unit tests were failing but the `snapshot` command wasn't handling the failing well and got stuck.
Now that the unit tests are 100% green, snapshot is working perfectly well.

[2016-04-30 16:01] chrisamanse commented on #3422
I encountered the same problem when I nuked all my certificates. `match` fails because Extensions are not really included in App IDs.

Letting Xcode fix this issue solves this problem - by adding a wildcard team provisioning profile. AFAIK, this profile is not synced with git, thus `match` would not be able to sync this profile with other machines. It would be problematic for new machines especial

[2016-05-01 00:56] chrisamanse commented on #1517
@suparng-medallia, if you're using `deliver` without `fastlane`, specifying the `--app-version` will make it work.

[2016-05-01 06:09] Ged2323 commented on #1701
Has anyone found a fix for this?

[2016-05-01 08:53] dgoyaldiksha commented on #4321
Hi @TKBurner Thanks for debugging.Finally uploaded the build.

A great team (y).

[2016-05-01 09:39] bassrock opened #4427 "[Pilot] Multiple Platform Build Support/tvOS Universal Apps"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
When uploading builds to a universal tvOS app, I constantly run into the issue:
[code]

When traced down I believe a contributing factor is I can submit two ipas, with the same build number, ve

[2016-05-01 09:54] tariq235 opened #4428 "Fastlane init issue"
My developer account is associated with one of the team
But itunesconnect account is different for that Organization

So when I typed - `bundle exec fastlane init` It has asked me to enter my apple id. I got multiple options like

Multiple teams found on the Developer Portal, please enter the number of the team you want to use:
[code]

So I tapped 2 and enter. Then it gave following warning on the

[2016-05-01 10:25] nmayafit commented on #4368
Same result:
-----------------
[13:03:20]: --- Step: ssh ---
[13:03:20]: -----------------
[13:03:21]: [SSH COMMAND]: cd /Users/local/Desktop/Shared/automation_mobile | python flow.py https://upload.hockeyapp.net/apps/92d8axxxeb2a23 ios
[13:03:21]: SSH Command failed 'cd /Users/local/Desktop/Shared/automation_mobile | python flow.py https://upload.hockeyapp.net/apps/92d8axxxeb2a23 ios' Exit-Code:

[2016-05-01 11:49] mortenholmgaard commented on #3892
Okay I got it working now - thanks!

[2016-05-01 14:08] TaopaiC opened #4430 "only set default crashlytics_path value for ios"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines]
(https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I have a react-native project for both android and ios apps.
The default value of `crashlytics_path` always got "ios/Crashlytics.framework" even if I build for android platform.
Another issue

[2016-05-01 14:25] nAviram opened #4431 "Deliver - submit for review"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

I just tried to deliver with --submit_for_review parameter - which didn't work.
I tried it with differe

[2016-05-01 14:43] nAviram opened #4434 "GYM - Conflict with the provisioning profiles"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

I've found out there is a conflict with the existing provisioning profiles.

when I used the command:

[2016-05-01 16:33] itinance commented on #4181
Having the same issue right now. Why is this one closed?

[2016-05-01 17:37] tariq235 commented on #4428
Solved it by adding team account to itunesconnect.

[2016-05-01 17:37] #4428 closed

[2016-05-01 19:21] KrauseFx commented on #3422
@chrisamanse What's the best way to reproduce the issue?

[2016-05-01 19:28] KrauseFx commented on #4178
@justin Thanks for submitting this issue. You're right, currently the `s3` action is limited to `ipa` files with their `plist` files, which will not change in the future. I'd recommend taking a look at the `aws-sdk` provided by Amazon and building your own script to fit your needs.
You should be up and running in no time. I'd recommend building this as its own action using `fastlane new_action`, s

[2016-05-01 19:29] KrauseFx commented on #4248
@justin First off, really sorry you run into these issues. Unfortunately we're a bit behind with `frameit` compared to the other tools.

The documentation of this is not clear right now, sorry about this. Running `frameit setup` will launch the assistant that tells you how to download and use the latest device frames from Apple => `frameit setup` is just for setting up your machine, not your app f

[2016-05-01 20:14] bassrock commented on #4427
Ok so I think I found the line that is causing the issue:
https://github.com/fastlane/fastlane/blob/master/spaceship/lib/spaceship/tunes/build_train.rb#L54

In my app I like to keep the Major, Minor version the same on iOS and on tvOS so the above line is overriding the selected app train, not taking into account the applications platform.

[2016-05-01 20:16] bassrock commented on #4427
And actually I think it goes down to adding a platform attribute to the tunes/application.rb

[2016-05-01 20:35] SebastianOsinski commented on #4314
@TKBurner All te testers were added through iTunes Connect website. Not sure if its relevant, but the account I use with pilot has `App Manager` role, not `Admin`.

[2016-05-01 21:46] KrauseFx commented on #4405
Updated the documentation with https://github.com/fastlane/fastlane/pull/4442, thanks @justin 👍

[2016-05-01 23:07] chrisamanse commented on #3422
Steps to reproduce the issue:

1. Nuke all development and distribution profiles
- In the Apple Developer certificates page, delete all profiles that are managed by Xcode
- Run `match` in the app with an extension (the bundle identifier of the app should match an App ID)
- Again, run `match` but with the bundle identifier of the extension

Unfortunately, I was not able to observe how Apple and Xco

[2016-05-02 01:52] programmin1 opened #4443 "Upload limit, and broken build isn't handled well by deliver command."
It seems Fastlane Deliver not only does not give an appropriate message where it hits the upload limit (try again in 1 day message). Furthermore it fails, continually trying again when later trying to submit-for-review a version that was uploaded, hit the upload limit, and requires a new version number because the current version is "duplicate" when uploaded, yet never shows up in the builds activ

[2016-05-02 04:41] cbcadmin commented on #4293
@TKBurner Thanks for the Info, will let you know if i find something.

[2016-05-02 05:16] urimagisto opened #4444 "Submitting Changelog/Whats_toTest/Whats_New with Fastlane/Pilot didn't work"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used
I am facing the same pilot issue for not being able to upload the changelog into "What to test" field, h

[2016-05-02 05:21] urimagisto commented on #1894
Thanks @vpolouchkine

https://github.com/fastlane/fastlane/issues/4444

[2016-05-02 05:31] rpowelll opened #4445 "`git_commit` action doesn't escape its `message` option"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

The `git_commit` command passes any text passed via its `message` option to the underlying `git commit` command via the `-m` command line flag, but neglects to escape characters that have spec

[2016-05-02 07:02] nmayafit commented on #4368
Got it working with ";" instead of "|".

[2016-05-02 07:16] gauravdaxini commented on #3900
Hi @TKBurner! We do not have the access to keychain as we are using the Bitrise CLI. It would be great if you could provide us some alternative/fix to create the provisioning profile certificate as we not been able to generate the same using the Sigh.

[2016-05-02 08:12] aengel12 commented on #4399
it works great, thanks
also i found a way to use the .bash_profile
i have t run the command
source ~/.bash_profile
this also run
thanks a lot for the help

[2016-05-02 08:34] KrauseFx commented on #4408
@marcelofabri Are you working on this? If so we can remove the `help wanted` tag, so that nobody works on it on the same time

[2016-05-02 09:25] henriklundstedt commented on #4278
After deleting the jenkins build and creating a new one, the new app id was picked up.

[2016-05-02 09:25] #4278 closed

[2016-05-02 09:31] henriklundstedt opened #4450 "Error uploading to Crashlytics"
I'm running a Jenkins build to distribute my app through Crashlytics, but I get an error at the final uploading step.

[31mfastlane finished with errors[0m
/Library/Ruby/Gems/2.0.0/gems/fastlane_core-0.42.1/lib/fastlane_core/ui/interface.rb:139:in `user_error!': [31m[!] Shell command exited with exit status 1 instead of 0.[0m (FastlaneCore::Interface::FastlaneError)
	from /Library/Ruby/Gems/2.0

[2016-05-02 10:22] phynet commented on #1740
I know this issue is closed, but I will like to add the steps to resolve the problems with frameit with titles in top:

1) copy files **keywords.string** and ** title.string** from [https://github.com/fastlane/examples/tree/master/MindNode/screenshots/en-US]
2) open and edit with **TextWrangler**, make sure the file is  **UTF-16 Little-Endian**
3) use Frameit.json from the same example and update

[2016-05-02 11:55] dkk commented on #4417
Hi @TKBurner.
My input command is just `snapshot`. I run it in the Terminal (OSX El Capitan 10.11.4). The output is rather long, that's why I cut part of it.

I think all the compilings end with a test, this are the tests:
[code]

If I search for a file in my project, for example `AGBRequest.swift`, I always get two results (At the times `EM-MyApp.app` is getting compiled):
[code]

As I interpret

[2016-05-02 12:42] iltempo opened #4453 "Fix session token header for 2fa"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Apple renamed the session headers from `X-Apple-Web-Session-Token` to `X-Apple-Id-Session-Id` for two factor authentication requests. 2FA is broken as mentioned in #4391 and #4330.
PR:  #4452

[2016-05-02 12:59] lucasfeliciano commented on #4181
I realised that I was using my system version of ruby instead of the ruby from the RVM.
So when I tried to update fastlane **without `sudo`** I received a message that fastlane was already up to date. Which I don't think it should be the expected behaviour.

Once I ran the update command using `sudo` it was updated and the bug was fixed.

[2016-05-02 12:59] dkk commented on #4417
PS: @TKBurner I cannot remove the awaiting-reply label

[2016-05-02 13:11] robertjpayne opened #4458 "xcbuild-safe needs support for rbenv/bundler"
🔑
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

The xcbuild-safe wrapper adds vital wrapping support for users using rvm but not rbenv. Furthermore it doesn't undo the environment variable setup damage from Bundler.

##### Complete output

[2016-05-02 13:12] robertjpayne commented on #4458
#4456 resolves this issue

[2016-05-02 14:00] rs17b commented on #4166
@asfalcone  I can create the PR.

@tabuchid can you explain the architecture of your project a bit?

Are ```percolate_internal``` and ```percolate_production``` different targets in your project? Is ```percolate``` a project name or target name or something else?

[code]

Thanks!

[2016-05-02 14:06] mkaiser30 opened #4460 "Unlock_keychain results in exit status 36 when running through jenkins"
### Issue Description

I run fastlane on a jenins node. If I log in as user jenkins via ssh, fastlane does the job and builds the app. If the jenkins server logs in through ssh, the job fails and reports that unlock keychain fails with exit code 36. Does anyone has an idea how to solve this issue?

##### Complete output when running fastlane, including the stack trace and command used

[ios_contin

[2016-05-02 14:13] tabuchid commented on #4166
@rs17b We actually have multiple projects in a workspace. A bunch of internal libraries, and the main app project. The main app project has three targets. Prod, internal, and tests. Generally we keep their versions in sync using the `increment_version_number` action but I changed the internal one in the above example to showcase the difference of `--terse` and `--terse1`

[2016-05-02 14:31] rs17b commented on #4166
@tabuchid So when you want to get a version number, you would want to request based on a target, correct? As in, when you're building, you would want the ```percolate_production``` target's version number to be returned, correct?

In the example, ```terse1``` would return the ```percolate_internal``` version number. I'd image this probably isn't ideal for you, as I assume you want ```percolate_pro

[2016-05-02 14:33] henriklundstedt commented on #4450
Removing the groups argument solved the issue.

[2016-05-02 14:33] #4450 closed

[2016-05-02 14:49] marcelofabri commented on #4408
@KrauseFx Yes, I'm working on this 👍

Expect a PR soon!

[2016-05-02 14:50] tabuchid commented on #4166
@rs17b Yes those are the target names. I'm not sure what all you can get from target vs the scheme. In my case the scheme and the target names are the same.
The plist is specified in the target per build configuration so that is the source of truth for that info but if its more convenient for people to specify the scheme, then it looks like you can get the build configuration and the target from t

[2016-05-02 15:32] Sajjon commented on #1974
hi! I too had this problem, what is the status here? :)

[2016-05-02 15:46] tsmith1024 commented on #3886
I've been watching this issue for a while, as I've been seeing the same problem, but more focused on Snapshot use. Tests were failing with status: 65 and preventing all the screenshot magic from finishing. When I have only one test target in my scheme, everything appears to work as expected. Hope this helps figure out the real cause of things, and thanks for all the info so far!

[2016-05-02 16:02] Palleas opened #4462 "Unable to use fastlane init without an Apple Developer id"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
It is not possible to use `fastlane init` without an Apple Developer id. As we don't use match or any of
the magic tools to generate provisioning profiles and signing certificates, it would be

[2016-05-02 16:02] #4368 closed

[2016-05-02 16:12] ashanawebb commented on #4166
Thank you,

[2016-05-02 16:14] ashanawebb commented on #4166
native targets...
Looking for marketing version (CFBundleShortVersionString) in native targets...

Found CFBundleShortVersionString of "1.0.1" in "percolate.xcodeproj/../percolate/supporting_files/percolate_internal-Info.plist"
Found CFBundleShortVersionString of "1.0" in "percolate.xcodeproj/../percolate/supporting_files/percolate_production-Info.plist"
Found CFBundleShortVersionString of "1.0" i

[2016-05-02 16:15] ashanawebb commented on #4166
Schemes can obviously be different from targets and that escaped me when authoring this breaking change.

So I propose changing scheme to target. It seems to me the parsing code can stay the same as we are just checking for the existence of a substring.

For what it's worth, we could also revert to the--...?

[2016-05-02 16:29] mfurtak commented on #4445
Hi @rpowelll - thanks for the report! 👍

As you are finding, it is a mistake for these actions to wrap their command parameters in single quotes. For example:

[code]

Instead, these command parameters should be escaped using the `shellwords` module's `shellescape` method _without_ trying to wrap the values in quotes. For example:

[code]

Do you think you can adjust your fix in #4446 to try this

[2016-05-02 17:12] dkk opened #4465 "Custom sections for the resulting HTML"
### Feature Description

There already is a nice distinction for different settings, such as languages and devices, but I think it would be nice to be able to define your own sections.

I was thinking about extending the snapshot function in SnapshotHelper.swift from
`snapshot(name: String, waitForLoadingIndicator: Bool = true)`
to something like
`snapshot(name: String, waitForLoadingIndicator: Bo

[2016-05-02 17:39] KrauseFx commented on #1527
You can easily build this using [spaceship](https://spaceship.airforce), but we currently don't plan to build this into `fastlane` itself.

Check out the code of `deliver`: https://github.com/fastlane/fastlane/blob/master/watchbuild/lib/watchbuild/runner.rb#L29-L30
and `watchbuild` https://github.com/fastlane/fastlane/blob/master/deliver/lib/deliver/submit_for_review.rb

Let us know how it goes.

[2016-05-02 17:39] #1527 closed

[2016-05-02 17:45] #1534 closed

[2016-05-02 17:47] jakunico commented on #1896
Well, today I uploaded a new build and it worked correctly. As I mentioned earlier, I usually use my iPhone's Personal Hotspot to upload builds as it has much faster upload speed. Today instead I just used my home internet.

I'm not sure if it's the Personal Hotspot that is making this fail or if it was something else.

[2016-05-02 17:57] vpolouchkine commented on #1585
You can use `spaceship` as a workaround.

[2016-05-02 17:59] vpolouchkine commented on #1635
Is there something that you need on a device that the simulator does not provide?

[2016-05-02 17:59] asetiyadi opened #4466 "Issue # f969b436554c93438db4a4967a981a6c: Error using frameit"
### New Issue Checklist

- [ x ] Updated fastlane to the latest version
- [ x ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
I install the latest ImageMagick and frameit, but it throws an error

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Configuration File

[2016-05-02 18:00] vpolouchkine commented on #1534
We have made a lot of updates to `spaceship` to improve error reporting, but we will look into this.

[2016-05-02 18:05] vpolouchkine commented on #1639
We would love a PR for this 💯 . Please post here to discuss your proposed solution!

[2016-05-02 18:38] timcamber opened #4468 "Issue 9d4acb17ddb18dba04990af308e0ba0e - Error with Slack messaging and Unusual Character?"
### New Issue Checklist

- [ x ] Updated fastlane to the latest version
- [ x ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Had an error when sending Slack message (I think?). All steps completed successfully and then I had an error / crash when sending the Slack command.

I see ":beta:Symbol" mentioned in the c

[2016-05-02 18:49] mortenholmgaard opened #4469 "Gym or deliver fails - because of a danish symbol in the ipa filename"
### Issue Description
Gym or deliver fails - It  is because of a danish symbol in the ipa filename, because after the error I added the following argument to the gym command and then it works:
`output_name: "#{configuration}"`

##### Complete output when running fastlane, including the stack trace and command used
Crashreport: 49b20c8e96ee45921654799f735cbc73

[code]

### Configuration Files

Plea

[2016-05-02 19:23] irace opened #4470 "Is `register_devices` usage documented anywhere?"
I am trying to understand how to run this from the command line. It seems as though there is a version that takes a file but it's unclear to me how this file is to be formatted.

[2016-05-02 19:50] JamaicanRumCream opened #4471 "Snapshot: know which language is being used?"
Is it possible to know what language is being used in each Snapshot run instance easily? I could try to query the app instance's NSLocale setting via HSTestingBackchannel but that seems unnecessarily complicated.
I really need to do a lot of switching on languages for every screenshot and other data.
would be nice:
let currentLanguage = snapshot.currentLanguage()

[2016-05-02 19:56] vpolouchkine commented on #1585
As of now, our model of metadata syncing is based on full updates, but you can leverage `spaceship` to achieve this behavior.

[2016-05-02 19:56] #1585 closed

[2016-05-02 19:56] rodbegbie opened #4472 "frameit depends on newer version of Mini Magick"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Frameit is crashing for me with the new iPhone SE images.  Seems like it's depending on a Mini Magick call that was added in [v4.2.0](https://github.com/minimagick/minimagick/releases/tag/v4.2

[2016-05-02 19:58] vpolouchkine commented on #1646
This is a valid feature request, but we don't think that solving this for one tool makes a ton of sense.

[2016-05-02 19:58] #1646 closed

[2016-05-02 19:59] #4470 closed

[2016-05-02 20:03] vpolouchkine commented on #1894
Closing in favor of https://github.com/fastlane/fastlane/issues/4444

[2016-05-02 20:03] #1894 closed

[2016-05-02 20:08] vpolouchkine commented on #4444
I believe the current workaround is to use `spaceship` directly.

[2016-05-02 20:09] KiranPanesar commented on #3928
As a workaround, we are specifying the `archive_path` on `gym` and then accessing the dSYM directly from the xcarchive, like so:

[code]

Be sure to add `*.xcarchive` to your `.gitignore`.

[2016-05-02 20:09] squarefrog commented on #4444
Do you have an example of this workaround that could be used in a lane?

[2016-05-02 20:11] vpolouchkine commented on #1564
Alright, as there has been numerous versions of `delivered` released between your original report and now, I'm going to close this; feel free to re-open if you run into this again. Thanks!

[2016-05-02 20:11] #1564 closed

[2016-05-02 20:16] jonlong commented on #4143
Looks like this got merged and released, but I'm running into the issue with 1.83.0. Is it still under development?

[2016-05-02 20:34] ffittschen commented on #4444
@vpolouchkine The feature request, which would resolve this issue is already existent: #3240

@squarefrog In a comment in the original issue https://github.com/fastlane/fastlane/issues/1894#issuecomment-193424453 I described why this issue is occuring. The links are broken because of the transition to the monorepo, so here is a corrected version:

If there will be support for asynchronous actions

[2016-05-02 20:53] squarefrog commented on #4444
There has been a few mentions of workarounds, but after the shift to the monorepo it's really hard to find again. Most mention spaceship, but none give an example of how you would do this from within a lane.

There was a [Pull Request](https://github.com/fastlane/pilot/pull/88) on the `pilot` repo that looked hopeful. There is also an open [Pull Request](https://github.com/fastlane/fastlane/pull/3

[2016-05-02 21:59] fcy commented on #4059
Thanks for sharing @bencollier. FWIW I tried and none of that solved it for me.

[2016-05-02 23:21] JeffersonBe commented on #4143
@jonlong Running the command "spaceship" reinitialise login and password. Updating Fastlane to the latest version is not enough.

[2016-05-03 00:33] mfurtak commented on #1428
I'm going to close this due to lack of activity. Please feel free to continue the conversation if you'd like, and we can always reopen. 👍

[2016-05-03 00:33] #1428 closed

[2016-05-03 01:48] onato opened #4475 "The Crashlytics Actions path should be to submit and not necesarily to Crashlytics.framework"
I followed the documentation to get the Crashlytics action to upload my binary. It failed (with a success message).

After adding --verbose I could see the command that was generated. I tried this directly and got the following message:

The documentation is currently misleading. The path is specified so that the action can find the submit binary. As the error above states this is no longer in the

[2016-05-03 03:02] goodcyg opened #4476 "app_identifier can't change"
build.sh

#!/bin/sh
versionNumber=$1 # 1.0.0
buildNumber=$2 # 2000

rm -rf build

basicLanes="InHouse"
for laneName in $basicLanes
do
    fastlane $laneName version:$versionNumber build:$buildNumber
done

appfile.h

app_identifier "org.test.the1111111111"
apple_id "jack@126.com"
team_id "Q2CBPJ58CA"

# 1.inhouse
for_lane :InHouse do
    app_identifier "org.test.apple"
    apple_id "tom@126.co

[2016-05-03 03:04] goodcyg commented on #4354
after update ruby ,it is work.

[2016-05-03 05:17] urimagisto commented on #4444
**@vpolouchkine** Someone from fastlane team can please show one working workaround or any clear ref for such?

[2016-05-03 06:13] bgannin opened #4477 "Update README"
### Issue Description

🔑

The README.md file does not have listings for the scan and supply tools. A bit of sorting/organization might be nice as well for iOS/Android pairings. The issue(s) call to action isn't linked.

### Environment

fastlane 1.83.0

_Do you use bundler to execute fastlane (i.e. `bundle exec fastlane`)?_ no
_Do you use a Ruby environment manager (e.g. `chruby`, `rbenv`, `rvm`)?

[2016-05-03 06:38] bgannin commented on #4477
Working on this currently in a fork for a PR. Will submit once I've completed a thorough pass.

[2016-05-03 06:54] vamshikrishna-iitbhu commented on #4383
This is my Fastfile while I tried to push single app (Rana Motors):

desc "Deploy a new version to the App Store"
  lane :appstore do
    # match(type: "appstore")
    # snapshot
    gym(scheme: "Rana Motors") # Build your app - more options available
    deliver(force: true)
    # frameit
  end

And then I edited the Fastfile as below:  (added one more app Pratham Cares)

desc "Deploy a new versi

[2016-05-03 08:01] kikolobo commented on #4150
No news?

[2016-05-03 08:12] KrauseFx commented on #4477
Nice catch, thanks for submitting a PR 👍

[2016-05-03 08:41] ekolesnikov opened #4479 "Frameit has invalid mini_magick dependency in gemfile"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

There seems to be invalid mini_magick dependency declaration ('~> 4.0.2').
frameit attempts to use 'details' attribute of MiniMagick::Image class which is not present in 4.0.x.

After updating

[2016-05-03 09:04] ekolesnikov commented on #4479
Added pull request for your convenience.
https://github.com/fastlane/fastlane/pull/4480

[2016-05-03 10:17] ekolesnikov opened #4482 "frameit picks up mock frames if fastlane cloned on the same level with ios project"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
If fastlane is cloned at the same level with iOS project, i.e.:
/Users/me/projects/fastlane
/Users/me/projects/my_ios_project

then frameit will pick mock frames from fastlane/frameit/spec/fixt

[2016-05-03 10:29] ekolesnikov commented on #4482
FYI: there's new file name convention in latest Apple mockups:

iPhone_6_Vert_Slvr_sRGB_0914.png
iPhone_6_Plus_Vert_SpaceGray_sRGB_0914.png

etc

[2016-05-03 12:50] i2amsam commented on #4479
Thanks for the report @ekolesnikov !  This will go out in the next release.

[2016-05-03 12:50] #4479 closed

[2016-05-03 13:05] i2amsam commented on #4472
Thanks for the report! This will be fixed in the next release with https://github.com/fastlane/fastlane/pull/4483

[2016-05-03 13:32] i2amsam commented on #4479
@ekolesnikov I just shipped this fix out this with `frameit` 2.6.1, could you give it a try and let me know?

[2016-05-03 13:33] i2amsam commented on #4472
@rodbegbie this just went out with `frameit` 2.6.1, could you give it a try and let me know if it fixed it for you? Thanks!

[2016-05-03 13:33] #4472 closed

[2016-05-03 13:34] i2amsam commented on #4466
Thanks for the report @asetiyadi 👍 , I just pushed a fix for this in `frameit` 2.6.1, could you give it a try and let me know if it fixes the problem?

[2016-05-03 13:34] #4466 closed

[2016-05-03 14:12] TKBurner commented on #4166
@rs17b Thanks for stepping in on this! We'll work with you on your pull request 👍

[2016-05-03 14:13] micnguyen commented on #4444
I too am still getting this issue. There's a lot of confusion around the terminology of what's new, changelog, what to test etc.

[2016-05-03 14:17] TKBurner commented on #4460
Hi @mkaiser30! Great to hear from you. Sorry to hear that you are running into this issue. Can you share the full output when you run this lane with the --verbose flag? I want to take a look and see what could be causing this. Thanks!

[2016-05-03 14:20] TKBurner commented on #4458
Hi @robertjpayne! Thanks for doing this work! We'll work with you on the PR. 👍

[2016-05-03 14:24] TKBurner commented on #4417
Hi @dkk Thanks for following up. I'll need the full output to investigate. Can you let me know if the simulator opens twice? Thanks!

[2016-05-03 14:26] TKBurner commented on #4181
Hi @lucasfeliciano Awesome, glad to hear the update resolved this for you. Thanks for using Fastlane 👍

[2016-05-03 14:28] mkaiser30 commented on #4460
Hi @TKBurner! Thanks for your response. Here is the output generated by executing this lane through jenkins.

INFO [2016-05-03 16:20:11.84]: [32m-------------------------------------------------[0m
INFO [2016-05-03 16:20:11.84]: [32m--- Step: Verifying required fastlane version ---[0m
INFO [2016-05-03 16:20:11.84]: [32m-------------------------------------------------[0m
INFO [2016-05-03 16:

[2016-05-03 14:29] TKBurner commented on #4453
@iltempo Awesome! Thanks so much 👍 Really happy to see this fix come through. We'll work with you on the PR. Have a great day!

[2016-05-03 14:29] #4453 closed

[2016-05-03 14:30] TKBurner commented on #1740
@phynet Thanks for sharing. I'm going to let the team know about this UTF-16 solution, I'm sure that'll help us improve going forward. 👍

[2016-05-03 14:31] #1740 closed

[2016-05-03 14:32] TKBurner commented on #4450
Hi @henriklundstedt! Thanks for following up. If you use the short group name from your dashboard (web safe slug) then the groups argument should work too. Thanks!

[2016-05-03 14:33] TKBurner commented on #4278
@henriklundstedt Nice! Glad to hear you got up and running 👍

[2016-05-03 14:34] TKBurner commented on #4408
@marcelofabri Thanks for letting us know and for working on this 👍 We'll work with you on the PR!

[2016-05-03 14:34] TKBurner commented on #4399
@aengel12 Awesome! So glad to hear you are up and running. Thanks for checking out Fastlane!

[2016-05-03 14:34] #4399 closed

[2016-05-03 14:41] TKBurner commented on #3900
Hi @gauravdaxini! Thanks for following up. Do you have the password for the system keychain or login keychain? That's where we store the password. Can you run cert --verbose and share the full output?

Thanks!

[2016-05-03 15:11] Damnum commented on #1750
Had the same problem. Had to upgrade Ruby to the latest version to make it work.

[2016-05-03 15:11] TKBurner commented on #4444
Hi @urimagisto, Great to hear from you. The release notes are an attribute of the App Version. You can see the code here: https://github.com/fastlane/fastlane/blob/master/spaceship/lib/spaceship/tunes/app_version.rb

Thanks!

[2016-05-03 15:27] louislarry opened #4486 "appetize action does not support android platform"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Appetize action does not support android platform.

### Environment

fastlane version (run `fastlane -v`):
fastlane 1.84.0
Do you use bundler to execute fastlane (i.e. `bundle exec fastlane`)?

[2016-05-03 15:53] TKBurner commented on #3422
Thanks for those repro steps @chrisamanse! We are going to look into this over here and will follow up on this thread. Thanks!

[2016-05-03 15:55] etaiklein commented on #4208
Hi @TKBurner here's the output of `gym --verbose`

[code]

[2016-05-03 15:57] TKBurner commented on #4314
Hi Sebastian, This is a dupe of #4216.

Hi folks! 👋

The issue here is that Apple returns different data depending on how you ask for tester information. Counter-intuitively, when asking for a list of testers outside of the context of an app, you will find that the last three columns are filled with data.

(from someplace outside of your app directory)

pilot list -p your@apple.id
+----------+----

[2016-05-03 15:57] #4314 closed

[2016-05-03 16:01] TKBurner commented on #4427
@bassrock Always great to hear from you. Thanks for the PRs we'll work on them with you to get them merged 👍

[2016-05-03 16:06] #4178 closed

[2016-05-03 16:12] TKBurner commented on #4434
Hi @nAviram! Great to hear from you. It looks like you must be setting your provisioning profile path incorrectly. Are you sure the path you provided is the right one?

Thanks!

[2016-05-03 16:14] TKBurner commented on #4431
@nAviram Great to hear from you again. Can you try setting this parameter to true rather than just including it as a flag? That should get you up and running 👍

[2016-05-03 16:20] TKBurner commented on #4430
Hi @TaopaiC! Thanks for reaching out. We'll work with you on your pull request! 👍

[2016-05-03 16:21] TKBurner commented on #3892
@mortenholmgaard Awesome! Glad to hear that 👍 Hope you have a great day!

[2016-05-03 16:22] TKBurner commented on #4321
@dgoyaldiksha Awesome! Glad to hear you are up and running 👍

[2016-05-03 16:22] #4321 closed

[2016-05-03 16:25] TKBurner commented on #1517
@chrisamanse Can you let us know if setting the app-version solved this issue for you?

Thanks!

[2016-05-03 16:36] asetiyadi commented on #4466
Hi Sam,

I uninstall frameit then reinstall following the steps from Github

When I ran frameit after the install was complete, now it does not show the Apple page to download the images.  Instead it shows log output as shown below.

Appreciate any advice on how to proceed.

Regards,
Andi

[2016-05-03 16:51] i2amsam commented on #4466
@asetiyadi I think you forgot to attach the output.  Could you check the version of frameit you're running with `frameit -v` and post that?

Also, you'll need to run `frameit setup` again to convert the PSDs, but you can skip the first two steps if you already downloaded the frames from Apple.

[2016-05-03 16:59] asetiyadi commented on #4466
Hi Sam,

Thank you for the direction, the version that I have now is 2.6.1.  I ran “frameit setup” and got directed to download the psd files.  The “frameit” command now producing the screenshots with iPhone frame on it.  My follow up question, how do I pick whether I want to use the the black or white/silver iPhone for the frame?

Regards,
Andi

[2016-05-03 17:03] asetiyadi commented on #4466
Also .. I just ran “deliver”, iTunesConnect rejected the screenshot stating incorrect size.  Did I miss anything?

This is the screenshot it tries to push to iTunesConnect.

Regards,
Andi

[2016-05-03 17:42] i2amsam commented on #4466
Andi, you can run `frameit silver`, see the [readme](https://github.com/fastlane/fastlane/tree/master/frameit).

For the problem with `deliver` I'm not sure, your attachment doesn't seem to have been attached.  Could you open a new issue with that, the screenshot that was rejected and the output from the run?

[2016-05-03 17:44] TKBurner commented on #1679
Hi @johanandersson Thanks for following up. Can you send me the full lane you are running? Also send over the full output. It might be that you are setting the parameters wrong on the second scheme (or it's inheriting the wrong ones and you need to manually override). Thanks! 👍

[2016-05-03 17:45] TKBurner commented on #4391
Thanks @funkenstrahlen! We just merged a change that should fix this. Can you try pulling down that fix manually? Thanks!

[2016-05-03 17:49] TKBurner commented on #4150
@kikolobo Thanks for following up. We are still looking into this but I wanted to check if I can get you to add the clean: true parameter to your gym command? Thanks! 👍

[2016-05-03 17:51] funkenstrahlen commented on #4391
I can report back if it works however I will only have time to test it next week.

[2016-05-03 17:53] TKBurner commented on #4108
Going to mark this help wanted to see if we can get some help from the community in the form of a PR. Thanks! 👍

[2016-05-03 17:56] TKBurner commented on #4407
Hi @lakamsani! Thanks for following up. Can you change your notes parameter to 'notes_path'? Let me know if that clears things up on your end! Thanks!

[2016-05-03 17:58] TKBurner commented on #1713
Thanks for following up @ConfusedVorlon! I've reopened this feature request and added the help wanted flag. Let's see if anyone else in the community is interested in this idea 👍

[2016-05-03 18:06] TKBurner commented on #4220
Hi @cnmongrel Thanks for following up. In your ITC account, do you have multiple apps with this same name? It looks like the error is coming from iTC. Thanks!

[2016-05-03 18:13] kikolobo commented on #4150
Gym finishes successfully every time. Either by terminal directly or by fastlane.

It's the next command that packages up the app that most of the time when ran by fastlane, doesn't finish successfully. (xcrun).

However if I run the xcrun command directly in terminal it packages up the app successfully everyime. It's either artifacts left by fastlane, or I really can't tell why.

I will add the c

[2016-05-03 18:15] TKBurner commented on #4422
Hi @satbirjhuti! Thanks for reaching out. Can you let me know what happens if you set package name directly rather than using an environmental variable? Thanks!

[2016-05-03 18:42] TKBurner commented on #4423
Hi @leandrodemarco! Thanks for reaching out. Can you run
`
set -o pipefail && xcodebuild -scheme 'Painnt' -project './Painnt.xcodeproj' -derivedDataPath '/var/folders/zz/zyxvpxvq6csfxvn_n0000000000000/T/snapshot_derived20160429-39364-1u8518j' -destination 'platform=iOS Simulator,id=85503EF9-3CF2-4163-8AE9-DF4868F7CE03,OS=9.3' build test | tee /Users/lea/Library/Logs/snapshot/Painnt-Painnt.log | xc

[2016-05-03 18:48] TKBurner commented on #4424
Hi! Thanks for reaching out @NicosKaralis! Can you run deliver --verbose and share the full output so I can take a look? Thanks for working with me!

[2016-05-03 18:52] TKBurner commented on #1748
Hi @Ged2323! Thanks for following up. We are tracking this issue over on #4108. Can you follow up on that thread 👍

[2016-05-03 18:52] #1748 closed

[2016-05-03 18:52] NicosKaralis commented on #4424
Sorry, no need, I found the problem. I've used the default Snapfile and it wrongly uses ``['pt', 'pt_BR']`` for brasilian portuguese when it should be ``['pt', 'pt-BR']``

I just needed to fix this.

    languages [
      ["pt", "pt-BR"] # Correct Portuguese with Brazilian locale
    ]

Could be nice if someone updated the initial Snapfile to reflect that

[2016-05-03 18:52] #4424 closed

[2016-05-03 18:55] TKBurner commented on #1701
Hi @Ged2323 Thanks for following up. We are still looking into adding this functionality. Can you track this on #1642? Thanks (closing as duplicate) 👍

[2016-05-03 18:55] #1701 closed

[2016-05-03 19:01] TKBurner commented on #4443
Hi @programmin1! Thanks for reaching out. Can you run deliver --verbose and send the full output. Definitely want to take a look 👍

[2016-05-03 20:33] mfurtak commented on #4216
These changes have shipped as part of [`pilot` 1.5.1](https://github.com/fastlane/fastlane/releases/tag/pilot%2F1.5.1)! ✈️

[2016-05-03 20:35] rodbegbie commented on #4472
Thanks!  Sadly, bundler is unhappy because it clashes with the mini_magick version requested by `badge`  Guess I'll have to file a bug on their repo.

[code]

[2016-05-03 20:43] asetiyadi commented on #4466
Hi Sam,

For the incorrect image size issue, I think this is the issue with “frameit”.  The size of the screenshots produced by “frameit” are rejected by iTunesConnect.  For example the image file for iPhone 6 with frame, is 613 x 1255.  It should be 750 x 1334.

Regards,
Andi

[2016-05-03 21:03] asfalcone commented on #4397
@mgrebenets This explanation is 💯 ! It would be awesome if you put up a PR for this.

Getting some input on the proposed solution (as well as the PR) from @baarde, @lacostej, or @zats would be great, as they have some history with this code.

[2016-05-03 21:49] adamhrz commented on #1738
@KrauseFx How would one go about installing the fonts or specifying existing system fonts?

[2016-05-03 22:17] mgrebenets commented on #4397
I'm trying to put up a PR together. Will share after testing it internally with our app.

[2016-05-03 22:20] ekolesnikov commented on #4479
@i2amsam Tested 2.6.1, confirmed the issue to be resolved.
I believe there may be an issue with badge now that still depends on 4.0.x - bundler may complain about two incompatible versions of the same dependency.

[2016-05-03 23:56] adamhrz commented on #1738
@KrauseFx Just to follow up for anyone looking into this - I found a script you can run that generates an XML file of fonts on your system you can store at the user level and it resolved my issue of reading the font:
http://stackoverflow.com/questions/2650882/make-imagemagick-recognize-a-font

[2016-05-03 23:59] fcy commented on #4059
Finally! PR #4492 fixes the problem once and for all. I hope it gets merged.

[2016-05-04 00:21] lakamsani commented on #4407
@TKBurner  when I ran  with the --verbose option to generate the error details in my last post I actually had the notes field commented out like this:

#notes: change_log

I tried with the following and still the same error.

notes_path: "/tmp/notes.txt"

[2016-05-04 00:53] mfurtak commented on #4445
Accepted as #4446 - thanks! 🚀

[2016-05-04 00:53] #4445 closed

[2016-05-04 01:00] vfog commented on #4427
Just want to add that the issue with Spaceship is having impacts elsewhere as well. For example after uploading a tvOS build to test flight any calls to the `latest_testflight_build_number` action are now returning the latest tvOS build rather than the latest iOS build.

[2016-05-04 01:03] bassrock commented on #4427
@TKBurner sounds good! Let me know what I need to do to get these merged!!

[2016-05-04 01:26] corydolphin opened #4495 "Update READMEs to include screengrab and supply"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

1. Fastlane README.md does not contain references to screengrab and supply.
2. The banner on all tools' readmes listing all of the fastlane tools also omit them.

##### Complete output when ru

[2016-05-04 01:56] maximkhatskevich commented on #4413
Any updates on this please?

[2016-05-04 02:11] leandrodemarco commented on #4423
@TKBurner will do tomorrow and post it. Thanks for the reply!

[2016-05-04 02:38] goodcyg commented on #4476
help help help?

[2016-05-04 03:31] tommeier opened #4497 "[Proposed] Cocoapods self healing repo update"
With Cocoapods 1.x very close [(RC1 available now)](https://github.com/CocoaPods/CocoaPods/blob/master/CHANGELOG.md#100rc1-2016-04-30) the new pattern is for `pod install` to _not_ run `pod repo update` for performance reasons.

I've implemented a self-healing pattern in my `Fastfile` to automatically update and retry if the error message matches, this way CI and everything else continues to work.

[2016-05-04 04:43] bgannin commented on #1236
Where should the access details live? Where might I find the applicable values for the account to use? Thanks!

[2016-05-04 05:10] MickeyHub opened #4498 "uninitialized constant InhouseAction"
[code]

[2016-05-04 05:29] urimagisto commented on #4444
Hi @TKBurner, great to hear from you too. Thanks for trying to help here! I carefully scrutinized the link you sent and didn't find any usage example or clue to the whats_new/release_notes/changelog issue workaround, just lot of code. How should i use it?

what is attr_reader :release_notes?
Is it the changelog that should be filled within ITC "What to Test" field? If so, then where is the respons

[2016-05-04 07:04] chrisamanse commented on #1517
@TKBurner Yes, `deliver` creates a new version in iTunes Connect when I set the app version.

[2016-05-04 08:48] joeabouassi opened #4500 "Screengrab issue on Circle-Ci"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

When running screengrab command on Circle-Ci through fastlane's fastfile I get a list of "No such file or directory" for all project files.
Circle-Ci link to the build: https://circleci.com/gh

[2016-05-04 09:28] denbec opened #4501 "fastlane 1.84.0 breaks badge action"
### New Issue Checklist

- [x] Updated fastlane to the latest version

### Issue Description

There is a conflict in mini_magick. I don't have enough knowledge of ruby and gems to know if I could fix this by myself.

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Configuration Files

Fastfile:
[code]

### Environment

fastlane version (run `fas

[2016-05-04 10:53] richsage commented on #4186
Bit late to this issue, but it would probably be useful to mention this in the output. I've just looked at a failing Fastlane deploy which has "adhoc" listed as the type when I use `match` as part of the deploy process... but then `match nuke adhoc` just tells me I can only use development or distribution. Would you accept a PR for a tweak to the output? :)

[2016-05-04 11:04] alpersenyurt commented on #4128
@KrauseFx  @mfurtak

Thanks it works after reinstalled xcode

[2016-05-04 11:14] alpersenyurt opened #4503 "tvOS invalid sdk value"
I use gym to create ipa for my TVOs project. my gym is like that

private_lane :build_app do |options|

 gym(
    provisioning_profile_path: options[:profile],
    codesigning_identity: options[:codesigning_identity],
    export_method: options[:export_method],
    export_team_id: "*******”,
    use_legacy_build_api: true,
    destination:"generic/platform=tvOS”,
    output_directory: options[:out

[2016-05-04 11:18] gauravdaxini commented on #3900
Hi @TKBurner! Getting the following error when I execute the cert --verbose in a Bitrise workflow.

[code]

[2016-05-04 11:23] dkk commented on #4417
Here is the log (I had to replace a few other things (like filenames), but it hopefully is good enough): [snapshot_log.txt](https://github.com/fastlane/fastlane/files/248637/snapshot_log.txt)

The simulator only opens once, after the first compiling of EM-MyApp.app, but the UI Tests don't execute until the end

[2016-05-04 13:24] nmayafit opened #4504 "SSH will not show console logs in runtime"
### Issue Description

Using ssh will work fine, but instead of showing the console logs in runtime it will show them only when job is done. You cannot see the progress of the ssh through logs.
Using regular ssh to that machine using terminal do show the console logs with the progress.

##### Complete output when running fastlane, including the stack trace and command used

Command used: ssh

[cod

[2016-05-04 13:30] bolom commented on #1455
@vpolouchkine i have got the same error

1.84.0

[Transporter Error Output]: ERROR ITMS-90161: "Invalid Provisioning Profile. The provisioning profile included in the bundle tv.expertise.webinars [Payload/webinars.app] is invalid. [Missing code-signing certificate]. A Distribution Provisioning profile should be used when submitting apps to the App Store. For more information, visit the iOS Develop

[2016-05-04 13:46] mfurtak commented on #4128
Great! Glad you're back in business 💪

[2016-05-04 13:46] #4128 closed

[2016-05-04 13:48] MarkMolina commented on #1943
Same here :(

[2016-05-04 13:51] TKBurner commented on #1455
Hi @bolom! Great to hear from you. Can you add cert and sigh to your lane? This will guarantee you pull down a valid code signing identity and have a provisioning profile bundled with your app. Let me know how it goes!

[2016-05-04 13:53] TKBurner commented on #4504
Hi @nmayafit! Great to hear from you. Can you add the --verbose flag to your lane and see the output? I think that'll solve your issue. Thanks!

[2016-05-04 13:56] bolom commented on #1455
ok @TKBurner but i thoudh we should use match

[2016-05-04 13:59] TKBurner commented on #4417
@dkk Thanks for following up. Can you let me know if setting clean to false changes the output? Thanks!

[2016-05-04 14:00] bolom commented on #1455
https://github.com/fastlane/fastlane/tree/master/cert#installation

i am confuse i should use cert or match

[2016-05-04 14:01] nmayafit commented on #4504
How do I add it to the fastfile?

[2016-05-04 14:03] TKBurner commented on #3900
Hi @gauravdaxini! Thanks for following up. Can you try setting a ENV variable in Fastlane for the FASTLANE_PASSWORD? For more info see this page: https://github.com/fastlane/fastlane/blob/9c0494ef5e7d71afc51c73fe0b141b02e8991d9c/fastlane/docs/FAQs.md

Thanks!

[2016-05-04 14:09] TKBurner commented on #4503
Hi @alpersenyurt! Thanks for reaching out. Can you set the SDK to 9.2 as an option on gym?

sdk: "9.2"

Thanks!

[2016-05-04 14:22] i2amsam commented on #4501
Hi @denbec thanks for the report!  This is a conflict between frameit's `mini_magick` dependency and `badge`'s.  Badge merged a compatibility PR this morning  https://github.com/HazAT/badge/pull/22 it should be fixed in the next release.

If you're not using `frameit` you should be able to downgrade:

[code]

In order to get unblocked.

[2016-05-04 14:24] TKBurner commented on #4186
Hi @richsage! Yes, if you want to clarify this in the output we'll be happy to review a PR. Thanks!

[2016-05-04 14:33] alpersenyurt commented on #4503
Hi @TKBurner

 gym(
    provisioning_profile_path: options[:profile],
    codesigning_identity: options[:codesigning_identity],
    export_method: options[:export_method],
    export_team_id: "*******”,
    use_legacy_build_api: true,
    destination:"generic/platform=tvOS”,
    output_directory: options[:output_directory],
    output_name: options[:build_id],
    sdk: "9.2"

)
When I set sdk: "9.

[2016-05-04 14:34] TKBurner commented on #4500
Hi @joeabouassi! Great to hear from you. Are you able to run this command?

adb -s emulator-5554 shell echo \$EXTERNAL_STORAGE

It looks like that is where you are seeing the failure. Thanks!

[2016-05-04 14:36] TKBurner commented on #1517
@suparng-medallia Can you let me know if you got up and running? Thanks!

[2016-05-04 14:43] TKBurner commented on #4444
@urimagisto Thanks! I'm going to circle back with some of the people that worked on Pilot/spaceship so I can get some clarification. I'll circle back on this thread 👍  Thanks!

[2016-05-04 14:47] TKBurner commented on #4498
@MickeyHub Thanks for reaching out! Can you format your issue according to our new issue template? https://github.com/fastlane/fastlane/blob/master/ISSUE_TEMPLATE.md Thanks 👍

[2016-05-04 14:52] TKBurner commented on #1236
Hi @bgannin! Great to hear from you. Are you considering a PR for this? Thanks!

[2016-05-04 15:00] KrauseFx commented on #1236
There already is a `twitter` action, however we decided not to auto-tweet, since we usually attach screenshots to the tweets.

[2016-05-04 15:00] #1236 closed

[2016-05-04 15:06] dkk commented on #4417
Hi @TKBurner, unfortunately it makes no difference.

[2016-05-04 15:11] iphil commented on #3835
Thank you @asfalcone!

[2016-05-04 15:11] #3835 closed

[2016-05-04 15:23] TKBurner commented on #4497
Hi @tommeier! Thanks for reaching out. I marked this as help wanted so we can see if anyone in the community is also interested in this PR. I'll send it out to the internal team too as a PR proposal. Thanks! 👍

[2016-05-04 15:28] TKBurner commented on #4476
Hi @goodcyg! Great to hear from you. Can you post the full output as well as any error messages you are getting? I'm not quite sure I understand what issue you are hitting, but I'd love to help. Thanks! 👍

[2016-05-04 16:19] TKBurner commented on #4413
Hi @maximkhatskevich! Thanks for following up. Can you run

` /usr/bin/xcrun /Users/maxim/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/gym-1.6.2/lib/assets/wrap_xcodebuild/xcbuild-safe.sh -exportArchive -exportOptionsPlist '/var/folders/74/mqryd6310bn_tzwy1jh_9sb80000gn/T/gym20160429-2263-1vsm7vd_config.plist' -archivePath '/Users/maxim/Library/Developer/Xcode/Archives/2016-04-29/Vango-Staging_6

[2016-05-04 16:20] TKBurner commented on #4495
Thanks @corydolphin! Hope you are enjoying SF! 👍

[2016-05-04 16:20] #4495 closed

[2016-05-04 16:36] TKBurner commented on #4407
@lakamsani  Hi, Can you try manually setting the crashlytics_path? I want to see if this clears things up for you. Thanks for working with me 👍

[2016-05-04 16:38] TKBurner commented on #1896
Hi @jakunico! Thanks for following up. It sounds like there might be a timeout happening with your personal hotspot or the connection isn't reliable. Let me know if you keep seeing this issue on multiple networks 👍

[2016-05-04 16:40] TKBurner commented on #4059
Thanks @fcy! I'm going to bump that pull request internally so we can hopefully merge soon 👍

[2016-05-04 16:58] mfurtak commented on #3422
Hi folks! :wave:

We investigated this and were able to reproduce the problem locally. The way we were able to resolve it was to use the provided `produce` command to create an app for the Today Extension on the developer portal:

[code]

Note that this skips creating an app with that identifier on iTunes Connect. Having an app with the same identifier as your extension on the _developer portal_ i

[2016-05-04 17:05] asetiyadi opened #4508 "Frameit producing incorrect image size for iTunesConnect"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
I used `frameit silver` to create screenshots with frame however it produced incorrect image sizes for iTunesConnect.

##### Complete output when running fastlane, including the stack trace and

[2016-05-04 17:22] leandrodemarco commented on #4423
@TKBurner Here's the output.
[code]

Running same command with sudo fails complaining that set command is not found

[2016-05-04 17:42] i2amsam commented on #4501
`badge 0.4.1` is released now, you should be able to get it with `gem install badge`

[2016-05-04 18:31] TKBurner commented on #1738
@adamhrz Awesome! Glad to hear you got up and running. Hope that you have a wonderful day!

[2016-05-04 18:31] #1738 closed

[2016-05-04 18:39] TKBurner commented on #4466
Hi @asetiyadi! Thanks for following up. Are you using titles on these frames? The output will only be the correct dimensions if you include a title. Thanks!

[2016-05-04 18:39] TKBurner commented on #4472
Hi @rodbegbie! Thanks for following up. Badge pushed a change this morning, can you check against that? Thanks!

[2016-05-04 18:46] TKBurner commented on #4424
Thanks @NicosKaralis! Glad to hear you got up and running. I'll let the team know about the error in the initial snapfile. Thanks!

[2016-05-04 18:53] TKBurner commented on #4465
Hi @dkk! Great to hear from you again. I'm going to mark this as help wanted to see if anyone else in the community is interested in this feature. If there is enough interest we will work with you on this thread.

Thanks! 👍

[2016-05-04 18:53] ndbroadbent commented on #237
For anyone else who finds this issue while Googling, this is how you can get the build and version numbers:

[code]

[2016-05-04 19:01] TKBurner commented on #4462
Hi @Palleas! Thanks for reaching out. Have you tried entering any string in that field and proceeding? You should be able to get up and running without this account. Thanks!

[2016-05-04 19:03] TKBurner commented on #3886
@tsmith1024 Thanks for following up. This seems to fit into the pattern other users have reported. We are still looking into this and will update on this thread. Thanks!

[2016-05-04 19:04] Palleas commented on #4462
Indeed, but that seems like a weird hack, I'd rather have a flag or be able to enter an empty string.

[2016-05-04 19:05] TKBurner commented on #1974
Hi @Sajjon Thanks for reaching out. Can you share the full output of your lane? I want to have a look and see what could be causing this. Thanks!

[2016-05-04 19:06] TKBurner commented on #4150
Hi @kikolobo! Hope you are doing well. Can you let me know how it went with that added command? Thanks!

[2016-05-04 19:07] TKBurner commented on #4391
@funkenstrahlen No problem! Let me know how it goes 👍

[2016-05-04 19:10] TKBurner commented on #4208
Hi @etaiklein! Thanks for following up. I notice a few issues running specific commands. I'd like to see if you can run them manually:

set -o pipefail && xcodebuild -scheme 'Debug' -project './ios/SpaceStation.xcodeproj' -destination 'generic/platform=iOS' -archivePath '/Users/eklein/Library/Developer/Xcode/Archives/2016-04-14/SpaceStation 2016-04-14 11.36.52.xcarchive' clean archive | tee /Users

[2016-05-04 19:17] TKBurner commented on #4486
Hi @louislarry! Thanks for working with us on your pull request. Because we are already working with you there, I'm going to go ahead and close this ticket out. Thanks!

[2016-05-04 19:17] etaiklein commented on #4208
Hi @TKBurner

The first command runs into the same error. The Ld commands run into file not found errors.

[code]
$ Ld /Users/eklein/Library/Developer/Xcode/DerivedData/SpaceStation-filkfhqcbygjcjctcztpfgxkmghv/Build/Intermediates/ArchiveIntermediates/Debug/IntermediateBuildFilesPath/SpaceStation.build/Debug-iphoneos/SpaceStation.build/Objects-normal/armv7/SpaceStation normal armv7
ld: file not fo

[2016-05-04 19:17] #4486 closed

[2016-05-04 19:18] TKBurner commented on #1750
@Damnum Thanks for sharing and really glad you got up and running!

[2016-05-04 19:25] TKBurner commented on #4460
Hi @mkaiser30! Thanks for following up. Can you let me know if you still run into this issue when you set the parameters manually in the unlock keychain action rather than using env? Thanks!

[2016-05-04 19:45] TKBurner commented on #4482
Hi @ekolesnikov! Great to hear from you. The fastlane folder is expected to be within the project directory. Is there a reason you are storing it one folder up? Thanks!

[2016-05-04 19:47] TKBurner commented on #4383
Hi @vamshikrishna-iitbhu Thanks for following up. You'll need to run deliver twice once for each ipa. Let me know how that goes 👍

[2016-05-04 19:47] TKBurner commented on #4354
Awesome @goodcyg! Really glad to hear you got up and running. Thanks!

[2016-05-04 19:47] #4354 closed

[2016-05-04 19:54] TKBurner commented on #4475
Thanks for your pull request @onato! I see Felix is working with you on it. Can you investigate a little bit more about the path and update on the PR? Thanks!

[2016-05-04 19:54] #4475 closed

[2016-05-04 19:55] TKBurner commented on #4143
@jonlong Let me know how it goes with @JeffersonBe's comment! Thanks 👍

[2016-05-04 19:58] vikram1234 opened #4511 "Metadata"
Supply Team, need one small clarification if there is way to specify following details though metadata?

I can not find that in documentation.
-----------------
You need to add a feature graphic. [English (United States) – en-US]
You need to select a category.
You need to select a content rating.
You need to acknowledge that this application meets the Content Guidelines.
You need to acknowledge th

[2016-05-04 20:00] TKBurner commented on #4471
Hi @JamaicanRumCream! Great to hear from you. The language's parameter should be printed to your output when snapshot runs. Let me see the full output if you are still running into any issues.

[2016-05-04 20:02] TKBurner commented on #4469
Hi @mortenholmgaard Thanks for pointing this out. I'll let the team know about it, but it seems like you've found a viable solution. We'll continue to improve language support on an ongoing basis. Thanks!

[2016-05-04 20:04] TKBurner commented on #4468
Hi @timcamber! Hope you are doing well. I wanted to know if you've tested without this symbol? That'll help us track down the cause of this. Thanks!

[2016-05-04 20:04] denbec commented on #4501
Perfect, is working again. Thank you guys.

[2016-05-04 20:04] #4501 closed

[2016-05-04 20:08] jonlong commented on #4143
@TKBurner Yep, it works! Took me a minute b/c I kept expecting a separate prompt for a an app-specific password, but just entering one at the regular prompt is all it takes.

Thanks!

[2016-05-04 20:55] asfalcone commented on #4511
@vikram1234 Thanks for the question. Of the things you listed [supply](https://github.com/fastlane/fastlane/tree/master/supply) is able to handle the feature graphic. 👍

[2016-05-04 20:55] #4511 closed

[2016-05-04 21:15] mfurtak commented on #3921
Hi folks! 👋

I'm working on investigating this right now. Here's my system setup:

[code]

Just starting with the most recent info (which was about snapshot, not scan):

When running `env SNAPSHOT_DERIVED_DATA_PATH=~/tmp/snapshots_ostl snapshot` against one of my local projects, I do not have any problems 😞

My steps were:

1. Run the app on an iPad 2 simulator through Xcode
1. Quit the simulator

[2016-05-04 21:18] bgannin commented on #1236
👍 Thanks for the update.

[2016-05-04 21:26] vikram1234 commented on #4511
Thanks a lot @asfalcone for reply, so i would not able to upload all that info using supply?

Also, how to Publish the app, do i have to do that manually?

[2016-05-04 21:37] programmin1 commented on #4443
Here are the steps -
1) Upload a build that happens to trigger the "Upload limit reached". Let's say it were some version "1.2.3". Now the build 1.2.3 shows nowhere on iTunes Connect yet you can't upload that version ("Redundant Binary Upload").
2) Run:
[code]

Instead of detecting that this isn't even showing up on iTunesConnect, and showing that you have to create a new version number, deliver w

[2016-05-04 21:54] mfurtak commented on #3886
Hi folks!

We still want to get to the bottom of this. Here's my system setup:

[code]

So far no combination of:

* Schemes with spaces in the names
* Targets with spaces in the names
* Multiple targets per scheme
* Specifying a particular simulator

has been able to help us reproduce the problem. 😞

What would be really _really_ helpful would be if someone was able to **share a small test projec

[2016-05-04 22:14] kikolobo commented on #4150
@TKBurner  Same result.   Error Packaging the Application.  Nothing changed. 😕

[2016-05-04 23:38] mgrebenets commented on #4397
So to recap there’s a mismatch between entitlements extracted from provisioning profile (left) and entitlements from the app (right)

![entitlementsdiff](https://cloud.githubusercontent.com/assets/350654/15032040/de4ed134-12a0-11e6-812c-2a8a991ab75e.png)

As seen in the diff, entitlements from profile have nothing but wildcards, while the app has concrete values.

To avoid this issue a developer s

[2016-05-05 00:50] goodcyg commented on #4476
appfile

app_identifier "org.test.the1111111111"
apple_id "jack@126.com"
team_id "Q2CBPJ58CA"

#1.inhouse
for_lane :InHouse do
app_identifier "org.test.apple"
apple_id "tom@126.com"
end

fastfile
def update_app_bundle_id(app_id)

    update_info_plist(
        xcodeproj:PROJECT_FILE_PATH ,
        app_identifier:app_id,
        plist_path:"#{PLIST_FILE_PATH}"
    )
     update_app_identifier(

[2016-05-05 01:07] asfalcone commented on #4511
Yes only metadata and images are uploaded by supply at this time.

You can select the [track](https://github.com/fastlane/fastlane/blob/master/supply/lib/supply/options.rb#L13) to uplaod to, but the publishing happens via the Google Play console directly.

[2016-05-05 02:13] jshier commented on #4497
Self healing is nice, but the current `cocoapods` action defines a `repo_update` flag that says: `Run `pod repo update` before install`. This doesn't currently work. So the self healing would be great, but I think a manual flag should be there as well.

[2016-05-05 02:16] lakamsani commented on #4407
@TKBurner  added this line:

  crashlytics_path: "./Crashlytics.framework/"

The Crashlytics framework is in the same(current) directory where I run the fastlane beta command. 'ls' shows this:

===
✗ ls Crashlytics.framework
Crashlytics* Headers/     Info.plist   Modules/     run*         submit*      uploadDSYM*
✗
====

But I still get the same error. I tried upgrading to fastlane 1.85 .0 without

[2016-05-05 03:16] tommeier commented on #4497
@jshier absolutely, the current action would need to be updated to remove the unused actions in 1.x, this is more for the future one when released, and could have a `release_candidate: true` to enable in the interim. I agree a manual forced flag should definitely be there too, now it's 2 seperate steps anyway.

[2016-05-05 03:32] MickeyHub commented on #4498
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Configuration Files

Fastfile:
[code]

### Environment

fastlane version (run `fastlane -v`

[2016-05-05 05:22] ipapamagic commented on #4347
Hi
I have the same issue

here is my output with --verbose flag on

INFO [2016-05-05 13:11:42.07]: -------------------------
INFO [2016-05-05 13:11:42.07]: --- Step: crashlytics ---
INFO [2016-05-05 13:11:42.07]: -------------------------
INFO [2016-05-05 13:11:42.08]: Uploading the build to Crashlytics Beta. Time for some ☕️.
DEBUG [2016-05-05 13:11:42.08]: ./Pods/Crashlytics/iOS/Crashlytics.fram

[2016-05-05 06:58] joeabouassi commented on #4500
hi @TKBurner, the command works on its own and prints "/storage/sdcard" before calling bundle exec fastlane deploy.
I'm assuming it has something to do with the path in which screengrab is being executed, because it works on my local macbook pro (circle-ci uses a linux VM for android).
I couldnt install fastlane using "sudo gem install" so instead I used gem install for it to work and I even tried

[2016-05-05 07:49] hartbit commented on #3886
Have you done your tests through a CI build server?

[2016-05-05 08:49] lukemaster commented on #338
Thanks!!!

[2016-05-05 09:13] ekolesnikov commented on #4482
Hi @TKBurner

Apologies for the confusion. In this case "fastlane folder" is a git clone of fastlane repository (as in 'git clone https://github.com/fastlane/fastlane.git'), as opposed to fastlane configuration folder within the project directory.

I was chasing an issue in frameit, cloned fastlane repo to investigate and suddenly started seeing screenshots framed in mock frames (green rectangles)

[2016-05-05 09:38] dholdaway opened #4513 "Tagging github releases with Version.Build number."
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

its not really an issue, i was just looking for an answer / point in the right direction.

i have looked at all the fastlane examples.

my number versioning is working

so my release part look

[2016-05-05 09:48] fouadbakour commented on #4321
Hello
Im trying to create and submit my iOS App for Review using circle ci and fastlane but this is what i got

 The request could not be completed because:
	You must select the level of frequency for each Apple content description in the Ratings section. You must provide a Support URL. You must upload a large app icon. You must provide a first name in the Contact Information section. You must pro

[2016-05-05 11:33] kalle commented on #3921
Hello @mfurtak

Thanks for looking into this!

I have created a simple project that have the same problems as my real project and the workaround with `open -a Simulator ...` etc works. You can find it at https://github.com/kalle/FLbug.

Perhaps this is locale based? I use Swedish locale which uses `,` (comma) instead of `.` (dot) as decimal separator. I tried to set `LANG`, `LC_*` and `__CF_USER_T

[2016-05-05 12:07] chrisamanse commented on #3422
Hi @mfurtak,

Confirmed working. After creating the App ID using `produce`, `match` now works for that App ID. Thanks!

[2016-05-05 12:37] KrauseFx commented on #4430
Fixed with https://github.com/fastlane/fastlane/pull/4429

[2016-05-05 12:37] #4430 closed

[2016-05-05 12:41] #4408 closed

[2016-05-05 13:29] vikram1234 commented on #4511
Thanks @asfalcone, just one more small clarification, the other metadata is not supported by Supply or no way with google play store api's?

[2016-05-05 13:30] etolstoy commented on #4407
My problem is solved - it just began to wok normally. Thanks everyone.

[2016-05-05 14:17] asfalcone commented on #4511
The other metadata is not supported by supply. Check out the [google-api-ruby-client](https://github.com/google/google-api-ruby-client) to see what else is available in the api 👍

[2016-05-05 14:18] mfurtak commented on #3422
Glad to hear it, @chrisamanse! 🎉

[2016-05-05 14:18] #3422 closed

[2016-05-05 14:19] bolom opened #4519 "Invalid Provisioning Profile"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Configuration Files

Please copy the complete content of your `Fastfile` and any other conf

[2016-05-05 14:36] designzoo-peter opened #4520 "Installing xcode command line tools on Linux server"
### New Issue Checklist

- [Y] Updated fastlane to the latest version
- [Y] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
I want to use _sigh_ on a linux server, but I don't know how to install the xcode command line tools on a centos linux server. I know this isn't an issue with fastlane itself, but I think here

[2016-05-05 14:38] mfurtak commented on #3921
@kalle Fantastic! Thank you! I will take a look at it.

[2016-05-05 14:58] mfurtak commented on #3921
This is excellent! It reproduces every time with this project. Thank you so much! 🎉

I will post updates about my investigation here.

[2016-05-05 15:59] mogui commented on #4347
I'm still having this issue too :(

[2016-05-05 16:22] ConfusedVorlon commented on #1642
I hit exactly this issue.

@CareerFairPlus  the bridging header created in the UITests bundle is not the header required for snapshot.

In order for this to work for me, I had to create a new scheme based on the UITest target
(scheme dropdown / new scheme / select UITest target)
now run this scheme

this builds the dependencies, and seems to build or find the bridging header for snapshot.
Once thi

[2016-05-05 16:23] qingjie opened #4521 "[deliver] undefined method `to_i' for false:FalseClass Did you mean? to_s"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
[code]

##### Complete output when running fastlane, including the stack trace and command used

[code]

[code]

### Environment

fastlane version (run `fastlane -v`):
1.86.1

Do you use bundle

[2016-05-05 16:23] kalle commented on #3921
@mfurtak That is great news! I was almost certain that it was something outside the project itself.

Also, I just updated to `Xcode 7.3.1, Build version 7D1014`, but still got the same problem.

[2016-05-05 16:33] pedro380085 opened #4523 "[Transporter Error Output]: Could not start delivery: all transports failed diagnostics"
Since yesterday, all calls to deliver to upload the binary are failing. Is there something new or iTC just slow?

[code]

[2016-05-05 17:10] andreif commented on #1877
According to https://github.com/fastlane/fastlane/blob/master/spaceship/lib/spaceship/tunes/tunes_client.rb#L78-93 the env var names should be `FASTLANE_ITC_TEAM_ID` and `FASTLANE_ITC_TEAM_NAME`

[2016-05-05 17:14] brockboland opened #4524 "fastlane 1.85.0 crashing on Travis due to Ruby update"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Yesterday morning, fastlane worked fine on Travis. Today, it's segfaulting, without any changes to fastlane config or `.travis.yml`. It's because Travis [updated their xcode7.3 image](https://b

[2016-05-05 17:36] macbaszii opened #4525 "Get stuck with this error when pilot"
I always have got this error since yesterday.
from the error. Should I update fastlane to latest version ?

I use CircleCI for build tools. my circle.yml file looks like this

[code]

in `pre` label, That's mean I force to update fastlane every times I build the app.

##### Complete output when running fastlane, including the stack trace and command used

[code]

[2016-05-05 18:06] sweetmandm commented on #4222
@PointlessReboot it can be enlightening to run the Crashlytics command manually. Fastlane seems to suppress the errors and just say `Shell command exited with exit status 1 instead of 0.` I caught two errors this way that were not discernible from the fastlane output -- one where my crashlytics group alias was wrong and another where I had gone into fabric.io and disabled the build number that I w

[2016-05-05 18:16] sweetmandm commented on #4407
@lakamsani In my experience the fastlane crashlytics command will not show specific error details, even with --verbose. you might try running the Crashlytics command manually. The `submit` command will live in a different place based on how you've installed Crashlytis (Pods vs. drag-n-drop), For me, my command looked like:
[code]
This will print out the descriptive crashlytics errors, and when I s

[2016-05-05 18:27] mfurtak commented on #3921
OK, I have found that if I introduce an `open -a Simulator ...` call to open the correct simulator before executing the `xcodebuild` command, that the simulators will not fail to boot, and the tests will pass.

This is not a wholly satisfying solution because it doesn't really explain what is causing the combination of `xcodebuild` and the simulators to get into a bad state without this.

That bei

[2016-05-05 19:46] ohwutup commented on #4462
Hey @Palleas. thanks for raising this issue after our little discussion in Slack! For right now, we are going to keep this working as-is. You can definitely get fastlane up and running without running `init` by manually creating the necessary files. We will update this issue as soon as we get a chance to make the enhancement to accept a flag to skip the step or an empty string there. Thanks !!

[2016-05-05 19:46] #4462 closed

[2016-05-05 19:58] sweetmandm commented on #4407
@lakamsani the error output should be improved by https://github.com/fastlane/fastlane/pull/4526, which is in fastlane-1.86.0. If you update fastlane to the new version and try the command again, you might get some more descriptive error information.

[2016-05-05 19:58] sweetmandm commented on #4222
@PointlessReboot the error output should be improved by https://github.com/fastlane/fastlane/pull/4526, which is in fastlane-1.86.0. If you update fastlane to the new version and try the command again, you might get some more descriptive error information.

[2016-05-05 20:14] lakamsani commented on #4407
@sweetmandm thanks for your feedback. Your comment made me look closely at the debug logs and instead of focussing the ruby exception stack trace I looked a few lines above and noticed this.

===
/Pods/Crashlytics/iOS/Crashlytics.framework/submit <key> <secret> -ipaPath '/Users/me/Development/MyApp/myapp-ios/archives/Pods_MyAppiPhone.ipa' -notifications YES -debug NO
2016-05-05 12:56:40.998 submit

[2016-05-05 20:14] #4407 closed

[2016-05-05 20:26] jcampbell05 opened #4533 "Improve error output for fastlane"
# Tasks

- [ ] Wrap Ruby Standard Error with Fastlane Error.

# Description

This is an umbrella task for improving the user friendliness of the output of Fastlane. Currently fastlane has the current issues when there is an error:

- If an error occurs you need to re-run it in `verbose` mode in order to get all the steps, for some builds this means a 30 minute turnaround time.
- Some trivial error

[2016-05-05 21:00] kalle commented on #3921
Sure, I can test it if you provide me with detailed instructions on how to build etc (not a ruby guy).

Yeah, this is more of a workaround than a proper solution.

I still find it odd that this is project specific though. If you recreate my project from scratch on your machine would you still get the problem? It is just a "single page app" project, the only "weird" thing I did was to make the test

[2016-05-05 21:25] Sega-Zero commented on #4197
Having the very same issue. Occured today with no reason. Same sources were archived fine yesterday.

[2016-05-05 21:31] tabrindle commented on #3899
I can confirm that the solution @markuswinkler posted works. I think this ticket can be closed; this is nothing more than the openssl issues posted in the FAQ.

[2016-05-05 21:41] flexaddicted commented on #4359
@TKBurner Sorry for the delay. I'll close the issue since I started a new branch from scratch and the problem is not there anymore. I can confirm there was something wrong with my build settings (but I did not investigate about it). I can also confirm that the `gym` configuration I am using is correct.

[2016-05-05 21:41] #4359 closed

[2016-05-05 21:51] mfurtak commented on #3921
OK, getting a Ruby dev environment together is not always easy, so I won't ask you to do that just yet. :smile:

I find it odd as well, but yes. I just created a brand new Objective-C Single View project, brought in the SnapshotHelper and Swift bridge, and set up some simple snapshots. My project does not have any problems, but I can switch to yours and reproduce it no problem 😞

I'll definitely b

[2016-05-05 21:53] vpolouchkine commented on #3899
Closing as this seems to be solved.

[2016-05-05 21:53] #3899 closed

[2016-05-05 21:58] vpolouchkine commented on #4525
You're on a pretty old version of `fastlane`, I recommend upgrading as the first step.

[2016-05-05 21:59] vpolouchkine commented on #4524
Thanks for the report!

[2016-05-05 21:59] matthijs2704 opened #4534 "[Snapshot on Travis CI] UI Testing tests fail on empty screens"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Our project has a very weird issue with snapshot just now. The failed UI tests are run on (still) empty screens which currently do nothing (and don't have anything runnable inside them). Snaps

[2016-05-05 22:08] vpolouchkine commented on #4523
Can you please format your issue per https://github.com/fastlane/fastlane/blob/master/ISSUE_TEMPLATE.md? Thanks!

[2016-05-05 22:16] vpolouchkine commented on #4521
Can you please post the full log and the command you're running?

[2016-05-05 22:40] KrauseFx commented on #4533
I'm a bit unsure about how much value we get with Sentry, I'm thinking about just removing it, since we usually tell users to post their stack trace anyway.

[2016-05-05 22:47] rodbegbie commented on #4472
Everything looks great now  Thanks for the help!

[2016-05-05 22:49] kaomte commented on #4241
@TKBurner I finally got things working on my end. I misunderstood how the fix worked. I was thinking that during the app submission that deliver would uncheck the box. Now I realize the the box is checked/unchecked when the build information is updated, not during submission. I had updated build information with an older version of deliver and after the fix was submitting with the latest version o

[2016-05-05 22:56] KrauseFx commented on #4241
Yeah great to hear @kaomte 👍

[2016-05-05 22:56] #4241 closed

[2016-05-05 23:52] solarce commented on #4524
If this is wide-spread, we can revert our 7.3 image to `2.0.0-p643` but it would be helpful to know whether it's systemic or not

[2016-05-06 00:19] Sega-Zero commented on #4197
OK, I've located my problem. `xcodebuild` fails to compile PromiseKit on a new Travis xcode 7.3.1 image with a [segmentation fault 11](https://gist.github.com/Sega-Zero/301712764e74ee4e9733c7184ff774de)

Killed `Foundation` subspec dependency and all the rest code was built fine.
When compiling with xcode and `Debug` scheme - no error occurs.

----

Edit: That seems to be a [regression of XCode 7.

[2016-05-06 03:40] macbaszii commented on #4525
@vpolouchkine yeah, the version on CircleCI is 1.66 by default. I tried to update before run everything (did you see `pre` label in `circle.yml` ?) It is not updated even I wrote the force update command. I don't know why.

[2016-05-06 03:55] drdesai03 commented on #4222
Facing the same issue while uploading to beta store. below are --verbose from my run.
[code]

Below is my fastfile

[code]

[2016-05-06 04:51] sweetmandm commented on #4222
@drdesai03 it looks like you're on an old version of fastlane, and the new version should have better error output to help you see what's going wrong. Try updating fastlane ([sudo] gem update fastlane) and see if it helps you figure out what's going on. In my experience the cause of failure is often something wrong in the config and not with fastlane itself, but the version of fastlane you're usin

[2016-05-06 05:16] drdesai03 commented on #4222
@sweetmandm my fastlane is already updated. I have update it using gem update fastlane. Which config file you are talking about. Can you point me where I am doing wrong.

[2016-05-06 06:29] pabloromeu commented on #1877
`pilot -h´ say:

`    -q, --team_id [VALUE] The ID of your team if you're in multiple teams (PILOT_TEAM_ID) `

[2016-05-06 06:42] mgrebenets opened #4539 "[sigh] Invalid options --short-version and --bundle-version, should use underscore"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

The options `--short-version` and `--bundle-version` are invalid, appratently dashes in the middle of the option name are not supported. It must be underscore: `--bundle_version` and `--short_

[2016-05-06 08:02] kviatkowsky opened #4541 "Failed to submit for review with spaceship, but no error."
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Submitting the app for review with ruby script using spaceship has no effect, although there is no error. App has still `Prepare for Submission` status. I tried it on 2 apps. Here is what the

[2016-05-06 08:31] jcampbell05 commented on #4533
@KrauseFx we should probably look into pre-filling a template like CocoaPods does and perhaps copying to to the clipboard so users can post directly into an issue.

Maybe @orta from that team can point to how they did that.

[2016-05-06 08:31] kviatkowsky commented on #4541
OK, it's a new app, so Export Compliance needs to be set too.
`Adding submission.export_compliance_uses_encryption = false` solved the issue.
@KrauseFx is it possible to detect if some fields that are obligatory are not set?

Anyway, issue can be closed.

[2016-05-06 09:44] kalle commented on #3921
I made a new repo for you: https://github.com/kalle/FLBug2

It is a swift single page project with UI testing that I didn't modify in any way other than adding a `Snapfile`. It will probably make it easier for you to figure out the difference between my project and yours.

[2016-05-06 09:54] xylone commented on #4523
I can confirm the same issue.

Updated fastlane to the latest version    CHECK
I have read the Contribution Guidelines CHECK

[11:45:04]: Activating language nl-NL...
[11:45:06]: Uploading metadata to iTunes Connect
[11:45:07]: Successfully uploaded initial set of metadata to iTunes Connect
[11:45:08]: Price Tier unchanged (tier 0)
[11:45:08]: Uploading app icon...
[11:45:17]: Uploading binary to

[2016-05-06 10:57] xylone commented on #4523
And it looks like a problem with the servers, because it is working again. So it is not a bug or problem and can be closed.

[2016-05-06 11:37] i2amsam commented on #4508
@asetiyadi thanks for this report! I tired and was unable to reproduce, could you post your `Framefile.json`?

[2016-05-06 11:40] joeabouassi commented on #4500
I installed fastlane by using sudo on circle-ci and re-ran screengrab command with no luck, still gives the same "No such file or directory" error for all project files. @TKBurner

[2016-05-06 12:06] pedro380085 commented on #4523
Yes, it started working again now. I thought it was weird, because it took so many hours to come back online.

[2016-05-06 12:41] orta commented on #4533
We use the same thing in Danger, where we wrap the standard error [with our own](https://github.com/danger/danger/blob/master/lib/danger/standard_error.rb#L63) - also [gh-issues-inspector](https://github.com/orta/gh-issues-inspector) can improve that experience

[2016-05-06 13:28] KrauseFx commented on #4533
We actually already wrap all of our exceptions in our own classes (https://github.com/fastlane/fastlane/blob/master/fastlane_core/lib/fastlane_core/ui/interface.rb#L114-L120), but don't have custom printing yet.

We don't do that for actual Ruby crashes though, only when we raise one

[2016-05-06 13:58] sweetmandm commented on #4222
@drdesai03 Sorry, by 'config' I mean the crashlytics options in the Fastfile.
It looks like the version of fastlane you're on is not up-to-date based on the log output you posted, which says:
[code]
The helpful error messaging is in version 1.86, and it looks like you're using 1.85. Try this command to make sure you're on 1.86.1:
`fastlane --version`

After you update fastlane, I think fastlane wi

[2016-05-06 14:05] gentwo opened #4543 "Match tries to decrypt unrelated files in the code sign repo"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I added a separate directory to the codesign repo called apns_pems to allow me to store my apns pems that I generated using PEM. This broke match as it tried to decrypt those files and failed

[2016-05-06 14:16] jcampbell05 commented on #4533
@KrauseFx As a first step maybe wrap the standard error ?

[2016-05-06 15:10] asetiyadi commented on #4508
Hi Sam,

Not sure if you can receive a .zip attachment, attached is the FastlaneTest.zip that consists of fastlane and UITest folder.
It will include all the configuration files.

Regards
Andi

[2016-05-06 15:11] i2amsam commented on #4508
@asetiyadi hrm, no, zip attachments don't seem to come through on Github.

[2016-05-06 15:35] asetiyadi commented on #4508
Hi Sam,

Upon entering my config file, I found some discrepancies on how I named my UI test and the config in title.strings.  I set them straight and that's it, now I got the title, the frame and the size correctly.  Previously since the title not showing up, the frame size got messed up and producing incorrect size.  All good now.  Thank you for your superb response on this issue.

Regards,
Andi

[2016-05-06 15:42] sgsabbage commented on #3886
I also have this problem, and found that running xcodebuild with the same settings, I had no 'Test case:' output for anything to pick up on.

I'm using KIF for my tests, however, and found this pull request, which may be related for some people? https://github.com/kif-framework/KIF/pull/819

[2016-05-06 16:24] i2amsam commented on #4508
@asetiyadi great to hear!  Glad you're back up and running 👍

[2016-05-06 17:00] mfurtak commented on #3921
I'm still focused on `snapshot` at the moment, but here's what I've found:

The offending behavior that triggers the `xcodebuild` + Simulator lockup is the `killall` we apply to the Simulators. We kill all open simulators so that our zoom and keyboard fixes (which are `defaults write`s) get picked up by the next Simulator launch. I've confirmed that if I remove the `killall` there is no hang and t

[2016-05-06 17:12] asfalcone commented on #4539
@mgrebenets Thanks! What is the current behavior for people using `sigh` does this only fail if they try to use these options? Trying to decide is if I should do a hotfix right now! 👍

[2016-05-06 17:17] asfalcone commented on #4525
Underly issue is here
[code]

[2016-05-06 17:33] ConfusedVorlon opened #4544 "Don't give up so easily!"
### New Issue Checklist

- [y ] Updated fastlane to the latest version
- [ y] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

deliver (through fastlane) has been failing a lot today.
approx 3/4 attempts fail.

My internet connection seems fine. The exact same command with the exact same configuration (fastfile/deli

[2016-05-06 17:56] qingjie commented on #4521
13:24:22]: Loading './fastlane/build/2493/metadata/en-US/description.txt'...
[13:24:22]: Loading './fastlane/build/2493/metadata/en-US/keywords.txt'...
[13:24:22]: Loading './fastlane/build/2493/metadata/en-US/release_notes.txt'...
[13:24:22]: Loading './fastlane/build/2493/metadata/en-US/support_url.txt'...
[13:24:22]: Loading './fastlane/build/2493/metadata/en-US/marketing_url.txt'...
[13:24:22]

[2016-05-06 18:08] kalle commented on #3921
OK, I see.

After you have done `killall` do you wait until the killed simulator has reached state `Shutdown` (as reported by `simctl list`) before starting again? `killall` sends a `SIGTERM` by default and the simulator is closing down in an orderly fashion for a few seconds (is in state `Shutting down` or similar).

[2016-05-06 18:14] i2amsam commented on #4525
@macbaszii hrm, this is odd.  Nothing I see in `fastlane` depends on `fastimage-1.9.0`, so I suspect that this is getting added by `circle` somehow, perhaps this is also why `fastlane` is out of date despite the `pre` block.  I'd suggest adding a `Gemfile` to your project, for example:

[code]

and then doing `bundle install` where you are doing `gem install`, and

[code]

where you are calling it

[2016-05-06 18:16] mfurtak commented on #4544
Hi @ConfusedVorlon - thanks for the report 👍

Do you mind trying the following? Prefix your `fastlane` call like:

[code]

and see if that is more successful? I have also found the default **Signiant** transport protocol to be very unreliable lately.

[2016-05-06 18:21] mfurtak commented on #3921
@kalle I've released [`snapshot` 1.12.2](https://github.com/fastlane/fastlane/releases/tag/snapshot%2F1.12.2) that includes the previously discussed workaround behind a feature switch.

Could you please upgrade your `snapshot` with:

[code]

and then try running:

[code]

and let me know if allows your test runs to succeed? Thanks! 🚀

[2016-05-06 18:23] qingjie commented on #4521
{
  "event_id": "eac8cf3859fd9245c2fe732761ec60fa",
  "message": "NoMethodError: undefined method `to_i' for false:FalseClass\nDid you mean?  to_s",
  "timestamp": "2016-05-06T17:24:25",
  "time_spent": null,
  "level": 40,
  "project": null,
  "platform": "ruby",
  "logger": "",
  "culprit": "spaceship/tunes/app_version.rb in block in update_rating at line 273",
  "server_name": "qingjies-macbook

[2016-05-06 18:34] ConfusedVorlon commented on #4544
current builds have gone up now - but I'll try this next time. Thanks.

[2016-05-06 19:18] mfurtak commented on #4544
Cool. We're having discussions about having core support for making operations timeout & retry, but we don't have any plans to change this operation in the short term.

[2016-05-06 19:18] #4544 closed

[2016-05-06 19:23] marcelofabri opened #4546 "Incorrect time in summary when using other_action"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

When calling an action from another action using `other_action` (https://github.com/fastlane/fastlane/pull/4441), the inner action shows in the summary, in a way that you'd think that it took th

[2016-05-06 19:24] KrauseFx commented on #4546
Great report, thanks. I'll take a look at this

[2016-05-06 19:59] KrauseFx commented on #4520
Sorry, `sigh` requires Mac OS X, you can use `spaceship` on Linux to download provisioning profiles 👍
What do you want to do with it on Linux?

[2016-05-06 19:59] #4520 closed

[2016-05-06 20:02] KrauseFx commented on #4519
[code]

This is related to how you set up your project code signing settings. Did you follow the Xcode guide in the [match README](https://fastlane.tools/match)

[2016-05-06 21:48] bolom commented on #4519
oh yes @KrauseFx  tks

[2016-05-06 21:48] #4519 closed

[2016-05-06 22:00] jpmcglone opened #4547 "hockey says complete, gives me a download url that doesn't work."
[code]

I get a download url... its an older version?
Also, if I take the generated ipa and upload it manually, it works, so Idk what is wrong.

[2016-05-06 22:14] wilrnh opened #4548 "Support custom entitlements"
### New Issue Checklist
- [ x] Updated fastlane to the latest version
- [ x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

This is probably more of a feature request. Really, I'd like match to be able to create profiles with custom entitlements.

However, I'd be OK with being able to force match to download profil

[2016-05-06 22:15] wilrnh commented on #4548
#3471

[2016-05-06 22:35] wilrnh commented on #4548
Does match do a full delete and create of the profile when re-generating a profile? If not, I could probably create my own profile with custom entitlements, using the naming format that match uses (match Adhoc com.myappid) and from then on, match would only ever use that profile, regenerating off of it when new devices are added, or a cert is regenerated.

possible?

[2016-05-06 23:53] mgrebenets commented on #4539
Yes, it only fails when trying to use one of these new options, so it doesn't break any existing scripts.

[2016-05-06 23:54] TechGuyVN opened #4549 "deliver how to update an app ( lack what news info )"
Hi

I want to update exist app, and the error say :

Can you  add "what's new" in metadata so we can add info each update on it.

[2016-05-07 00:01] mjohnson12 commented on #4150
I'm also getting this error after successfully exporting previously.  It happens every time now.

[2016-05-07 01:05] mfurtak commented on #4543
Hi @gentwo - thanks for the report! 👍

Unfortunately `match` expects to be in complete control of its associated git repository, so storing extra data that `match` does not manage in your repo is not a supported use case right now. 😞

We'll do our best to let you know if something changes about that!

[2016-05-07 01:05] #4543 closed

[2016-05-07 02:48] qingjie commented on #4521
the log is updated,here is the full log

[2016-05-07 07:41] kikolobo commented on #4150
I re-installed the mac, worked fine for a couple of times, then got the error back.

[2016-05-07 09:40] ekolesnikov opened #4553 "Frameit fails on iPhone5 when executed from fastlane lane"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Frameit fails on iphone5/5s screenshots when executed as a part of the lane.
Works fine when run standalone using frameit command.

##### Complete output when running fastlane, including the s

[2016-05-07 09:44] ekolesnikov commented on #4553
So I used byebug to figure out what was going on. A bit unexpected behaviour.
Running standalone:
[code]

Running 'fastlane rc':
[code]

Will keep you guys posted as I get deeper into it.

[2016-05-07 09:51] ekolesnikov commented on #4553
Ok, it seems that this happens when running frameit script, but there is no initialiser when frameit is executed as a part of the lane:

[code]

[2016-05-07 10:59] ekolesnikov commented on #4553
Ok, so apparently there are quite a few ways to do this, I would need a piece of advice before creating a pull request. Add to frameit.rb?

[2016-05-07 11:23] CraigMason commented on #1544
A simple switch to specify a list of languages would be very helpful.

I've been adding `zh-Hans` localization to an app which already has around 15 localization. Having to re-send 15x20 sets of screenshots over a 4G link 3 times is a huge waste of bandwidth (and time!). I've had this fail on our office connection a number of times, when all I really needed was to submit release notes all language

[2016-05-07 11:32] alpersenyurt commented on #4503
Hi @TKBurner
Any news ?

Error says **LC_VERSION_MIN_IPHONEOS**   I think Gym didnt detect which is TVOS project

[2016-05-07 12:39] kalle commented on #3921
@mfurtak Yes! Your change did work! Thank you so much! 👍

[2016-05-07 13:32] SiarheiFedartsou opened #4554 "commits_count key for changelog_from_git_commits action"
#4555 Hi! There is very useful changelog_from_git_commits action. But sometimes I need just a changelog from last N commits(for example in some of my cases I don't know what commits should I use for :between key). So, I've added new key to changelog_from_git_commits called :commits_count.

[2016-05-07 13:49] gentwo commented on #4543
Yes, I did realize that. Would be great if match could a) support handing push notification certificates as well and b) simply be configurable to operate in a path within the repo so it didn't have this requirement of having a dedicated repo with nothing else in it.

[2016-05-07 17:37] KrauseFx commented on #4521
Can you share your rating file? The error is caused when setting the app rating

[2016-05-07 22:57] qingjie commented on #4521
{"CARTOON_FANTASY_VIOLENCE": 0, "REALISTIC_VIOLENCE": 0, "PROLONGED_GRAPHIC_SADISTIC_REALISTIC_VIOLENCE": 0, "PROFANITY_CRUDE_HUMOR": 0, "MATURE_SUGGESTIVE": 0, "HORROR": 0, "MEDICAL_TREATMENT_INFO": 0, "ALCOHOL_TOBACCO_DRUGS": 0, "GAMBLING": 0, "SEXUAL_CONTENT_NUDITY": 0, "GRAPHIC_SEXUAL_CONTENT_NUDITY": 0, "UNRESTRICTED_WEB_ACCESS": false, "GAMBLING_CONTESTS": false}

[2016-05-07 23:29] qingjie commented on #4521
Should I set "UNRESTRICTED_WEB_ACCESS": 0, "GAMBLING_CONTESTS": 0?

[2016-05-07 23:36] darwind opened #4559 "reset_git_repo renders Android Studio project useless"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
When I run reset_git_repo in an Android Studio project, the project breaks completely and can't be correctly loaded in Android Studio.

I've tried with several projects and it's the same issue.

[2016-05-08 18:16] macbaszii commented on #4525
Thank you everyone. I have figured it out.
I have to put `sudo gem cleanup fastlane` after updated command.

It will remove default version and replace with latest version in CircleCI's machine.

[2016-05-08 22:41] raven commented on #3990
So, I filed a radar, and Apple got back to me, the issue was the timestamp of the files was incorrect. The CI box had an incorrect datetime set. Resolving the timestamp led to a successful transporter upload 👍

Closing this issue now.

[2016-05-08 22:41] #3990 closed

[2016-05-09 01:33] phantomis commented on #4347
same issue here!

[2016-05-09 02:15] jpmcglone commented on #4547
I upped my build number from 1 to something larger, and it started working. /shrug

[2016-05-09 02:15] #4547 closed

[2016-05-09 06:09] dgoyaldiksha commented on #1655
Hi,am getting same issue while generating screenshots

Dikshas-MacBook-Pro:DrivingStyleEstimation diksha$ snapshot
/Library/Ruby/Gems/2.0.0/gems/snapshot-1.12.1/lib/snapshot/dependency_checker.rb:11: warning: Insecure world writable dir /usr/local in PATH, mode 040777
[11:09:19]: xcrun xcodebuild -list -project './DrivingStyleEstimation.xcodeproj'

+----------------------------+-------------------

[2016-05-09 06:12] MickeyHub commented on #4498
is anybody here?

[2016-05-09 06:46] skywinder commented on #1543
@vpolouchkine Just checked. Yes. (`deliver 1.11.3`)
BTW, The only one application has this issue.
`--verbose` still doesn't get any additional info..

[2016-05-09 06:53] skywinder commented on #1531
@vpolouchkine I fixed bundle, so can't reproduce it anymore. But it's just workaround.
Just want to mention, that this behaviour, that deliver throw error but fastlane consider, that everything is ok could cause problems for CI systems.

[2016-05-09 06:54] designzoo-peter commented on #4520
That's ok, thanks for the reply! I wanted to resign an ipa file.

[2016-05-09 08:10] mkaiser30 commented on #4460
Hi @TKBurner,

yes, unfortunately I get still the same error.

[2016-05-09 11:58] voydz commented on #314
@JaviSoto Hey, we are also working with a plain Xamarin stack. Previously using a custom Rake build to streamline our basic CI stuff (beta testing and so on), we are desperately looking for a tool like fastlane.

We would really appreciate further consideration on this topic. For now I will peak through fastlane's source and see how this may be done, tinkering around myself.

[2016-05-09 12:44] alexanderjrobinson commented on #3921
After much research, my issue with the simulator time out was due to using launchd to launch the build agent for my CI server. As of Xcode 6 processes started from launchd can't connect to the simulator because they don't have a GUI context. If anyone is having the same issue here are some related posts that I used to fix my issue.

http://www.openradar.appspot.com/18282084
https://gist.github.com

[2016-05-09 13:16] qingjie commented on #4521
works great,thanks KrauseFx.

[2016-05-09 13:22] #4521 closed

[2016-05-09 13:43] TKBurner commented on #4500
@joeabouassi Thanks for following up. Can you try setting the android_home value and build_tools_version? It looks like we are having an issue running gradle. Let me know how it goes!

[2016-05-09 13:46] TKBurner commented on #3921
@alexanderjrobinson Thanks for sharing!

Based on the release above I'm going to mark this awaiting reply. If we don't get any new reports we'll close this out 👍

[2016-05-09 13:50] TKBurner commented on #4541
@kviatkowsky Thanks for following up on this. We'll continue to improve our error messaging, if you are interested in submitting a PR for this that'd be great 👍

[2016-05-09 13:50] #4541 closed

[2016-05-09 14:00] TKBurner commented on #1877
@pabloromeu Hope you are doing well! Can you let me know if setting them as ENV using

FASTLANE_ITC_TEAM_ID and FASTLANE_ITC_TEAM_NAME

works in your setup? Thanks!

[2016-05-09 14:17] TKBurner commented on #4539
Hey @mgrebenets! Just wanted to let you know that Andrea merged a fix for this and it'll be released soon 👍  Closing this out, feel free to ping and I'll reopen if you still see it after a new version of sigh has been released. Thanks!

[2016-05-09 14:17] #4539 closed

[2016-05-09 14:17] sschendel opened #4563 "Supply feature to promote APK between Play tracks"
Add a feature to promote existing track APK to next track.
Documented in old repo here: https://github.com/fastlane-old/supply/issues/48

[2016-05-09 14:19] asfalcone commented on #4563
Thanks @sschendel!

[2016-05-09 14:23] #4508 closed

[2016-05-09 14:26] i2amsam commented on #4553
👍 Thanks for the detailed report @ekolesnikov !  I'm going to take a look at this.

[2016-05-09 14:28] TKBurner commented on #4222
@drdesai03 Were you able to update Fastlane? We added some logging recently so you might get a more specific error message. Also can you set debug: true in your Crashlytics action? Thanks!

[2016-05-09 14:32] TKBurner commented on #4525
@macbaszii Awesome! So glad to hear you got up and running. I'll close out this ticket 👍

[2016-05-09 14:32] #4525 closed

[2016-05-09 14:35] pabloromeu commented on #1877
Yes! It does the trick @TKBurner !

IMHO If FASTLANE_ITC_TEAM_ID/FASTLANE_ITC_TEAM_NAME should be set instead of PILOT_TEAM_ID/PILOT_TEAM_NAME I think it should be stated at help.

[2016-05-09 14:39] TKBurner commented on #4197
@Sega-Zero Thanks so much for sharing that info. I'm glad to hear you found a viable solution. We will continue to work on performance at our part of the chain. Thanks! 👍

[2016-05-09 14:44] jkammerer opened #4564 "supply stops with unsupportedListingLanguage"
### Issue Description
Getting error "unsupportedListingLanguage: Language not supported." while uploading screenshots with supply. I have 56 languages. I skip everything else.

##### Complete output when running fastlane, including the stack trace and command used

supply --json_key <keyfile>.json --skip_upload_apk --skip_upload_images --skip_upload_metadata --verbose --package_name <package>
[cod

[2016-05-09 14:46] TKBurner commented on #4524
Hi @brockboland! Are you still seeing this issue when you update fastlane using fastlane run update_fastlane?

Thanks!

[2016-05-09 14:48] TKBurner commented on #4472
@rodbegbie Awesome! So glad to hear you are back up and running 👍

[2016-05-09 14:51] ravinggenius opened #4565 "Spaceship::Tunes::AppVersion#url uses hard-coded app id"
### New Issue Checklist

- [✓] Updated fastlane to the latest version
- [✓] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

`Spaceship::Tunes::AppVersion#url` uses a hard-coded app ID. I looked at the diff, and it used to use `application.apple_id` until last September. See https://github.com/fastlane/fastlane/blob

[2016-05-09 14:54] TKBurner commented on #4534
Hi @matthijs2704! Great to hear from you. I wanted to see if you can run the command:

set -o pipefail && env NSUnbufferedIO=YES xcodebuild -scheme 'WWDCScholars' -project './WWDCScholars.xcodeproj' -destination 'platform=iOS Simulator,id=C2DFA409-9034-4F2B-984F-DE52EBE6FFEE' test | tee '/Users/travis/Library/Logs/scan/WWDCScholars-WWDCScholars.log' | xcpretty -f `xcpretty-travis-formatter`

This

[2016-05-09 14:57] TKBurner commented on #4359
Thanks for letting us know @flexaddicted! Glad to hear you are back up and running 👍

[2016-05-09 14:58] TKBurner commented on #4407
@lakamsani Awesome! Glad to hear you are up and running. Hope you have a great week!

[2016-05-09 14:59] orff commented on #4280
While search might be a better option, this change, to enable pagination on the profiles works for our team, we have > 1000 profiles and well and our devs are adding more all the time:

[code]

[2016-05-09 15:15] TKBurner commented on #4397
@mgrebenets Thanks so much for working on this! Let us know when you are ready for a PR review 👍

[2016-05-09 15:17] nAviram commented on #4431
@TKBurner  - I just tried now again, added this line with the flag to the Deliverfile:
**_submit_for_review true
_**

I run the **deliver** command - and the deliver started to run, all looking good (screenshots, metadata, etc') and even wrote the submission succeeded:
**_[18:07:28]: Saving changes
[18:07:42]: Successfully uploaded screenshots to iTunes Connect
[18:07:42]: Price Tier unchanged (ti

[2016-05-09 15:17] TKBurner commented on #4208
Hi @etaiklein! Thanks for working with me on this. Are you sure the Analytics framework is properly linked to your test target? It looks like that is where the error is being thrown. Fastlane is only running the command, so the error is somewhere in the chain. Thanks!

[2016-05-09 15:18] TKBurner commented on #237
@ndbroadbent Thanks for sharing! Hope you have a great week 👍

[2016-05-09 15:21] TKBurner commented on #4423
Hi @leandrodemarco! Thanks for following up. Can you make sure you have read and write access to the file /var/folders/zz/zyxvpxvq6csfxvn_n0000000000000/T/snapshot_derived20160429-39364-1u8518j/Logs/Build/Cache.db? It looks like you might not have the right permissions and that is why you are seeing this error. Thanks for working with us 👍

[2016-05-09 15:22] alper commented on #1635
I'm having a similar issue trying to run scan on a physical device.

[2016-05-09 15:26] TKBurner commented on #4417
@dkk Thanks for following up. We are going to look into this a little more over here and then I'll follow up on the thread. Hope you have a great day! 👍

[2016-05-09 15:29] TKBurner commented on #4503
Hi @alpersenyurt! Thanks for following up. What SDK do you have set in your info.plist and build settings? Thanks for working with me on this 👍

[2016-05-09 15:30] TKBurner commented on #4504
Hi @nmayafit Thanks for following up. You can just add the --verbose flag at the end of the command you are using to run the lane. Let me know how it goes and the output. Thanks!

[2016-05-09 15:34] mfurtak commented on #3921
@jcampbell05 I've released [`scan` 0.6.1](https://github.com/fastlane/fastlane/releases/tag/scan%2F0.6.1) that includes this speculative workaround behind a feature switch.

Could you please upgrade your `scan` with:

[code]

and then try running:

[code]

and let me know if allows your test runs to succeed? Thanks! 🚀

[2016-05-09 15:35] nAviram commented on #4434
Hi @TKBurner !
I doubled checked - and the provisioning profile path is set correctly.
but I noticed 2 things:
1. The gym is building the app even if the distribution certificates weren't open into the keychain resulting  its unable to install it after downloading the app from TestFairy
2. (and this I still didn't figured out) - I think that for accounts with several apps, it still creates this co

[2016-05-09 15:42] asfalcone commented on #4397
PR is in review #4512 👍

[2016-05-09 15:42] walsht commented on #4108
I am having this same issue, where on my Mac can I change the offsets.rb file?

Thank you,
Tim

[2016-05-09 15:49] esetnik commented on #4523
I had the same issue and it resolved after a few hours. I guess the moral of the story when it comes to iTunes Connect is "just keep trying".

[2016-05-09 15:58] saruye commented on #4197
@TKBurner
My problem (https://github.com/fastlane/fastlane/issues/4249) seems to be something different. We are using Xcode 7.2.1. Also the crash is not occurring every time. Sometimes it crashes, sometimes it doesn't.
@Sega-Zero  how did you find this error. Was it in the normal log file or did you need to run it differently? I couldn't find any errors so far explaining the failure :/

[2016-05-09 16:19] sainttail opened #4570 "update_info_plist does not update CFBundleName"
When I use `update_info_plist` like this

[code]

Only `CFBundleDisplayName` is updated as in the code [here](https://github.com/fastlane/fastlane/blob/master/fastlane/lib/fastlane/actions/update_info_plist.rb#L27)
Shouldn't it update both `CFBundleDisplayName` and `CFBundleName`?
or can just expose `name` params passing to `update_info_plist`

I know this maybe a little bit off and we can manuall

[2016-05-09 16:25] Sega-Zero commented on #4197
@saruye I don't remember, was the error present when I run gym with `verbose:true`. But I've noticed the error when running xcodebuild separately, without `tee` and `xcpretty`

[2016-05-09 16:36] jcampbell05 commented on #3921
@TKBurner this report this applies to `scan`, please could you wait until we confirm the fix for scan works then we can close :)

[2016-05-09 17:10] rs17b commented on #4166
1.87.0 has PR #4463 included so everyone should update and hopefully all your problems are taken care of.

Specifying no ```scheme``` or ```target``` should now work as it did before the initial change occurred. And if you're using the ```scheme``` option, please use the ```target``` option instead.

[2016-05-09 17:12] alpersenyurt commented on #4503
Hi @TKBurner

Base sdk is in build settings
"Latest tvOS(tvOS 9.2)"

[2016-05-09 17:20] etaiklein commented on #4208
Hi @TKBurner it works for me locally.  See the steps in the section 'Installation Instructions for Framework Analytics (how to translate this into Gym?)' from my original post.
Only while running fastlane do I get this error. Any ideas where to look?

Any ideas where to start looking?

[2016-05-09 17:51] TKBurner commented on #1455
@bolom Thanks for following up. If you'd like to stick to match that's great. Can you provide your matchfile or the output of match init?

Thanks!

[2016-05-09 17:52] TKBurner commented on #1943
Hi @MarkMolina Thanks for reaching out. Can you share the full output from running scan --verbose? I want to take a look. Thanks! 👍

[2016-05-09 17:53] TKBurner commented on #1642
@ConfusedVorlon Thanks for sharing that is really helpful. @CareerFairPlus can you let me know if this resolves your issue?

Thanks!

[2016-05-09 17:55] TKBurner commented on #4347
Hi @phantomis and @mogui! Hope you are doing well! Can you let me know if it succeeds if you remove the group parameter from the upload? Can you share your full command so I can take a look. (Make sure to remove API key and build secret) Thanks!

[2016-05-09 17:57] TKBurner commented on #4520
@designzoo-peter Thanks for following up. You should be able to accomplish this still using Spaceship, you'll need to look through the codebase to get the exact commands etc. 👍

[2016-05-09 18:02] TKBurner commented on #4321
Hi @fouadbakour Thanks for reaching out. Can you share the full output from where you submit the app including any commands you entered? That'll help investigating this issue a lot. Definitely want to get to the bottom of this. Thanks!

[2016-05-09 18:04] TKBurner commented on #4513
Hi @dholdaway! Have tried something like:

build   = get_build_number()
version = get_version_number()

Thanks!

[2016-05-09 18:10] TKBurner commented on #4482
@ekolesnikov Thanks for following up. We are going to try and repro this over here and will update on this thread. I hope that you have a wonderful day! 👍

[2016-05-09 18:15] TKBurner commented on #4498
Hi @MickeyHub! Thanks for working with us. Can you send the full output prior to the stack trace? I want to see which lane you are running and where the error happens. Thanks and have an awesome day!

[2016-05-09 18:20] TKBurner commented on #4476
Hi @goodcyg! Thanks for working with me on this. You should be able to set up your app with multiple targets using env. Check out the help on this page for more info, https://github.com/fastlane/fastlane/blob/9c0494ef5e7d71afc51c73fe0b141b02e8991d9c/fastlane/docs/FAQs.md.

Thanks!

[2016-05-09 18:20] #4476 closed

[2016-05-09 18:25] KrauseFx commented on #4476
For some reason the link was to a version from a specific commit, here's the latest one from master: [FAQs.md](https://github.com/fastlane/fastlane/blob/master/fastlane/docs/FAQs.md)

[2016-05-09 18:28] KrauseFx commented on #4482
Yeah, that's because instead of storing your frames in `~/.device_frames`, you can also store it in your git repo, this way it works on any machine. The only thing I can say is that you shouldn't close the fastlane repo inside your project

[2016-05-09 18:41] bolom commented on #1455
@TKBurner i was able to resolve my issue.

[2016-05-09 18:48] wilrnh commented on #4548
Seems like match actually checks if the profile it currently has is in the dev console, and if it isn't creates a new one. Also, if a profile already exsists with the format match uses (match AdHoc com.myappid) it just creates a new one with a unix-timestamp appended :(

So, no-go on that workaround...

[2016-05-09 18:49] asfalcone commented on #4559
@darwind If there are certain files you would like the `reset_git_repo` action to not reset then check out the [`skip_clean`](https://github.com/fastlane/fastlane/blob/master/fastlane/lib/fastlane/actions/reset_git_repo.rb#L71) or the [`exclude`](https://github.com/fastlane/fastlane/blob/master/fastlane/lib/fastlane/actions/reset_git_repo.rb#L82) params! 👍

[2016-05-09 18:49] #4559 closed

[2016-05-09 19:08] CareerFairPlus commented on #1642
Thanks, @ConfusedVorlon and @TKBurner!  I'll check if this fixes our issue and report back.

I'm hoping that maybe this solves another issue we've been having [running Snapshot with AWS](https://github.com/fastlane/fastlane/issues/4366).

[2016-05-09 19:21] joeabouassi commented on #4500
@TKBurner Ive set both values accordingly (23.0.2 and  /usr/local/android-sdk-linux) same error occurred.
I also switched to Travis-Ci and tried the whole procedure, it got me another error this time:

[code]

First I tried installing fastlane and running screengrab, then I tried installing screengrab alone, both cases produced the same error. although it worked once by mistake while fixing a path

[2016-05-09 19:27] asfalcone commented on #4166
Thanks @rs17b for the fix and updating this issue.

I'm going to close it out now but feel free to let us know if this doesn't solve the original problem 👍

[2016-05-09 19:27] #4166 closed

[2016-05-09 19:34] TKBurner commented on #4549
Hi @TechGuyVN Thanks for reaching out. This is a duplicate of #4444 and we will continue to work there. Thanks!

[2016-05-09 19:34] #4549 closed

[2016-05-09 19:37] TKBurner commented on #4150
@kikolobo and @mjohnson12 Thanks for following up. I reached out to the team and we'll follow up on this thread. 👍

[2016-05-09 19:40] TKBurner commented on #1544
@CraigMason Thanks for following up. I'm going to mark this as help wanted so we can see if the community wants to help out. Your use case makes sense. Thanks!

[2016-05-09 19:43] TKBurner commented on #4554
@SiarheiFedartsou Thanks for working with us. I see we've already engaged you on the PR. I hope you continue to work with us there. Thanks!

[2016-05-09 19:43] #4554 closed

[2016-05-09 19:47] TKBurner commented on #4543
@gentwo Thanks for following up. Right now we aren't considering adding the ability of the match repo to store more. The reason for this is for the security of the repo itself. Thanks!

[2016-05-09 19:48] TKBurner commented on #3990
@raven Thanks for letting us know! Really glad to hear you are back up and running 👍

[2016-05-09 19:49] TKBurner commented on #4547
@jpmcglone Awesome! Really glad to hear you got up and runnign 👍

[2016-05-09 19:52] TKBurner commented on #1655
Hi @dgoyaldiksha! Great to hear from you again. Can you send me the error message? I don't see one in your output. Thanks!

[2016-05-09 19:57] TKBurner commented on #1543
Hi @skywinder:

Can you run the command:

`/Applications/Xcode.app/Contents/Applications/Application\ Loader.app/Contents/itms/java/bin/java -Djava.ext.dirs=/Applications/Xcode.app/Contents/Applications/Application\ Loader.app/Contents/itms/java/lib/ext -XX:NewSize=2m -Xms32m -Xmx1024m -Xms1024m -Djava.awt.headless=true -Dsun.net.http.retryPost=false -classpath /Applications/Xcode.app/Contents/App

[2016-05-09 19:58] TKBurner commented on #1531
@skywinder thanks for following up. What'd you change in the bundle? Thanks!

[2016-05-09 19:58] #1531 closed

[2016-05-09 20:07] TKBurner commented on #4460
Hi @mkaiser30! Thanks for working with me. Can you share the output if you run fastlane run unlock_keychain? I want to see if this action fails on it's own or if it's due to context. Thanks!

[2016-05-09 20:09] TKBurner commented on #314
@voydz Thanks for following up. We are aware of Xamarin support as a feature request. However, any steps you'd normally take care of in Xcode should still work on your Xamarin app. Thanks!

[2016-05-09 20:13] TKBurner commented on #1877
Thanks @pabloromeu! Really glad to hear you got up and running. I'm going to mark this as a doc todo so we can address it in our documentation. Hope that you have a wonderful day!

[2016-05-09 20:13] #1877 closed

[2016-05-09 20:13] samrobbins commented on #1544
There is some potentially interesting work going on over [here](https://github.com/fastlane/fastlane/pull/3755) with regards to limiting bandwidth. Let me know if this would fit your needs @lilidotshi and @CraigMason and we can move this discussion there. Thanks!

[2016-05-09 20:15] TKBurner commented on #4564
Hi @jkammerer Thanks for reaching out. Can you share a screenshot of your directory structure for this metadata. It looks like you might have one of the language codes incorrect. Thanks!

[2016-05-09 20:17] #4565 closed

[2016-05-09 20:18] TKBurner commented on #4565
@ravinggenius Thanks for pointing this out and working with us on the PR! Hope you have a great week 👍

[2016-05-09 20:20] TKBurner commented on #4431
@nAviram Thanks for working with me. Can you add the --verbose flag on to the end of your command. I want to see what could be causing this issue. Thanks!

[2016-05-09 20:21] TKBurner commented on #1635
@alper Thanks for reaching out. Can you explain your use case for wanting to run scan on a physical device? Do your tests run successfully on the device if run from Xcode? Thanks!

[2016-05-09 20:25] wilrnh commented on #4548
Went down the rabbithole on this one:

Seems that match uses sigh to create the profiles, and sigh uses spaceship to interact with the dev console. So this feature would require changes across spaceship, sigh, and match.

https://github.com/fastlane/fastlane/blob/master/match/lib/match/generator.rb#L43
https://github.com/fastlane/fastlane/blob/master/sigh/lib/sigh/runner.rb#L113
https://github.com

[2016-05-09 20:34] TKBurner commented on #4434
Hi @nAviram Thanks for following up. Are you using cert and sigh OR match before this? That'll help make sure the right provisioning profile is bundled. Let me know how it goes!

[2016-05-09 20:35] TKBurner commented on #4523
@esetnik Glad you got up and running! Let me know if you see this again consistently. Thanks 👍

[2016-05-09 20:38] TKBurner commented on #4570
Hi @sainttail! Great to hear from you. Right now CFBundleName is handled via your language support.

CFBundleName (String - iOS, OS X) identifies the short name of the bundle. This name should be less than 16 characters long and be suitable for displaying in the menu bar and the app’s Info window. You can include this key in the InfoPlist.strings file of an appropriate .lproj subdirectory to provi

[2016-05-09 20:40] TKBurner commented on #4197
Can anyone still seeing this issue please share the output of gym --verbose? Thanks!

[2016-05-09 20:43] TKBurner commented on #4503
Thanks for sharing that @alpersenyurt! I've just sent out this to the team to see if we can get you up and running. We'll update on this thread 👍

[2016-05-09 20:46] TKBurner commented on #4208
@etaiklein Thanks for following up. Do you have libAnalytics.a and libRNSegmentIOAnalytics.a  linked to your test target? It looks like this is the issue. Thanks!

[2016-05-09 20:49] TKBurner commented on #1455
@bolom Awesome! So glad to hear you got up and running. Have a great week!

[2016-05-09 20:52] TKBurner commented on #4548
Hi @wilrnh Thanks for doing this work. I think this will get very complicated and is not in the spirit of match at this time. Have you tried using sigh and cert directly? Thanks 👍

[2016-05-09 21:26] alper commented on #1635
Xcode does try to run the tests on the phone but does not succeed because of a provisioning issue (which I'll probably be abel to fix). Scan does not get that far since it says my iPhone is not one of the simulators (which is true).

About the use case: I'm not sure. It is something we thought of that should be in theory possible and we wanted to try out. Googling around this does not look very po

[2016-05-09 21:37] wilrnh commented on #4548
@TKBurner I'm currently using sigh to distribute profiles, but then again, loosing all the goodies that match provides. It's currently not able to create profiles with custom entitlements either (ultimately due to spaceship's lack of support.)

Just curious, but why do you think this feature would be too complicated to implement? I get that custom entitlements needs to be implemented in spaceship

[2016-05-09 22:08] vikram1234 opened #4581 "IPA Submit issue"
### New Issue Checklist

- [ fastlane 1.81.0] Updated fastlane to the latest version
- [ ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Keep giving ratings error, even rathings.json is in fastlane/metadata/ratings.json as below

[
  { "comment": "Cartoon or Fantasy Violence", "level": 1 },
  { "comment": "

[2016-05-09 23:00] cnmongrel commented on #4220
Hi @TKBurner. I don't have multiple apps with the same name. This behavior happens with every bundle id and can be replicated with a newly created bundle id.

Thanks!

[2016-05-09 23:16] ekolesnikov commented on #4482
@KrauseFx @TKBurner
Apologies for reopening this, but I would like to emphasise the fact that fastlane repo was NOT inside the project.

I would really appeciate it if you could have a closer look into this - I believe this is unintended side-effect.

As per the original report:

**~/work/my-ios-project** -- this is the main project folder

**~/work/my-ios-project/fastlane** -- this is fastlane co

[2016-05-10 00:06] ekolesnikov commented on #4553
Thanks for looking into this @i2amsam!

//off-topic mode on: could you ask Mr @TKBurner to have another look at https://github.com/fastlane/fastlane/issues/4482 please? I believe there was a bit of confusion there - not sure what would be the right github process to follow up.

[2016-05-10 01:12] #4581 closed

[2016-05-10 01:12] vikram1234 commented on #4581
Able to move over but other issue..

[2016-05-10 01:50] MickeyHub commented on #4498
[KRA-FIRE-JOB1-446.txt](https://github.com/fastlane/fastlane/files/256224/KRA-FIRE-JOB1-446.txt)

[2016-05-10 02:26] vikram1234 commented on #1513
I restarted it and again same issue to me, here are logs -
[06:38:43]: You can tweet: "iTunes Connect #iosprocessingtime 8 minutes"
[06:39:14]: Selecting build 1.8.0 (2)...
[06:39:15]: Successfully selected build
[06:39:15]: Submitting the app for review...

#######################################################################
# deliver 1.11.3 is available. You are on 1.11.0.
# It is recommended

[2016-05-10 02:29] vikram1234 commented on #1513
Also i am not providing any version, whatever in IPA "<key>CFBundleShortVersionString</key>
<string>1.8.0</string>" Is being selected automatically. Should it be "<key>CFBundleVersion</key>
<string>2</string>" ?

[2016-05-10 03:53] bassrock commented on #4427
@KrauseFx looks like this got closed by #4448, however that didn't actually resolve this as it requires 3 pull requests dude to modifying 3 of the fastlane gems.

[2016-05-10 04:23] mywander opened #4586 "Crash report '12a1c09307721d0e83740014b50fef37' when "deliver run --skip_screenshots -f" response.rb:357:in `finish': [!] buffer error (Zlib::BufError)"
Successfully submitted a crash report. If this is a problem with one of the tools specifically,
please submit an issue on GitHub and attach the following number to it: '12a1c09307721d0e83740014b50fef37'
The crash report has been stored locally '/tmp/sentry_12a1c09307721d0e83740014b50fef37.json'
/System/Library/Frameworks/Ruby.framework/Versions/2.0/usr/lib/ruby/2.0.0/net/http/response.rb:357:in `f

[2016-05-10 04:43] dockusan commented on #4339
Hi. Thank for great library. I have same problem but I use deliver in fastfile. How to add FASTLANE_ITUNES_TRANSPORTER_USE_SHELL_SCRIPT as option in deliver?
[code]

[2016-05-10 04:49] dgoyaldiksha commented on #1655
Hi @TKBurner  it get hangs up on check dependecies and never proceed.

[2016-05-10 07:13] mkaiser30 commented on #4460
Hi @TKBurner,

thanks for helping me with this issue.

Here's the output, it's not too different from the above:
[code]

Again, the output if executed on an interactive shell session is different:
[code]

[2016-05-10 07:25] jkammerer commented on #4564
Hi @TKBurner http://jaumo.me/113B3k2v103u Thanks, Jens

[2016-05-10 07:51] joeabouassi commented on #4500
While searching for similar issues I found the following: [https://github.com/fastlane/fastlane/issues/2077](url)
I reverted to fastlane_core version 0.38.0 while also reverting supply to version 0.5.2 (coz the latest version required fastlane_core >= 0.40.0) which fixed the issue and screengrab worked.
The issue mentioned earlier was closed, but it seems that it hasn't been completely fixed.
@TKB

[2016-05-10 08:09] liuyuanming commented on #4586
[16:05:03]: fastlane finished with errors
Successfully submitted a crash report. If this is a problem with one of the tools specifically,
please submit an issue on GitHub and attach the following number to it: 'cf233aaa441f0aa835033fc5bab621bf'
The crash report has been stored locally '/tmp/sentry_cf233aaa441f0aa835033fc5bab621bf.json'
/System/Library/Frameworks/Ruby.framework/Versions/2.0/usr/lib

[2016-05-10 08:22] liuyuanming opened #4587 "something wrong with login apple id"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Configuration Files

Please copy the complete content of your `Fastfile` and any other conf

[2016-05-10 08:38] jcampbell05 commented on #3921
@mfurtak  @TKBurner
I can confirm this works when:

- Ran with no simulator running and scan was able to launch it.
- Ran with a simulator previously booted and scan was able to use it.
- Ran with a simulator previously booted but a different device and scan was able to switch to a different simulator.

Closing since this seems to be fixed, thanks for all your hard work everyone, @alexsup and I ow

[2016-05-10 08:38] #3921 closed

[2016-05-10 08:40] prgnshptlklp opened #4588 "Pem not using updated username and app_identifier from Appfile(Updated using ENV variable) when creating pem for 2 different accounts in same lane"
I am using produce, pem and sigh actions for 2 different accounts in same lane.
I am using ENV variables to update apple_id and app_identifier in AppFile
All other actions(produce, sigh) are using new AppFile settings while pem is using old settings of Appfile.

[2016-05-10 09:06] WolfgangD opened #4589 "Appetize's action build_and_upload_to_appetize can't find .app file"
### Issue Description
When setting _Build Location_ in Xcode (Settings, Locations, Derived Data Location, Advanced) to _Custom_ the action `build_and_upload_to_appetize` is unable to find the build product (.app).

Reason is that the build product will be stored in the set build location and won't be in the derived data folder.

##### Complete output when running fastlane, including the stack trac

[2016-05-10 09:08] vancex opened #4590 "something wrong with login apple id"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
I can't login into apple id now,  it lasts for hours
/System/Library/Frameworks/Ruby.framework/Versions/2.0/usr/lib/ruby/2.0.0/net/http/response.rb:357:in `finish': buffer error (Zlib::BufError

[2016-05-10 09:15] mkaiser30 commented on #4460
I enabled log in unlock_keychain method for line 27. Now the output is the following (shortened):

[code]

So it seems that security set-keychain-settings is failing.

[2016-05-10 09:17] vegather commented on #1655
Try resetting the simulator or re-running the project while it hangs. Worked for me not at first, but after a few tries.

[2016-05-10 09:21] Wojcik opened #4592 "Feature [Spaceship] : App primary language"
Hi. We have 100+ apps in the app store and that apps delivered with 4+ languages. All of them have different primary languages. It would be great if the Spaceship will be able to retrieve which language is set as primary so fastlane will set it on app update.

[2016-05-10 09:26] rizwankce commented on #4590
I am also having the same issue. Report id:`59be9115b81676a433a3f3a4f91b0add`

[2016-05-10 09:40] vancex commented on #4590
@rizwankce
what do u think causes this problem, something changed by the apple protocol side?

[2016-05-10 10:36] huguesbr commented on #1790
👍

[2016-05-10 10:49] jcampbell05 commented on #1655
There was a discussion based on #3921 to create isolated simulators for test runs perhaps would increase the stability of test runs.

[2016-05-10 11:19] nmayafit commented on #4504
Its still the same.
This is my command: "fastlane test username:user --verbose"
Also added verbose:true into the ssh params in fastfile (in case it can help).

[2016-05-10 11:24] mkaiser30 commented on #4460
If I try to unlock other keychains than login.keychain, unlock_keychain does not fail. So it must be something special with login.keychain.

I tried with a newly created keychain (jenkins.keychain), and it went throu, but then gym didn't found the identity.

I also recreated login.keychain from scratch, but then it failed again with the same error.

[2016-05-10 11:50] TheAdamBorek commented on #3602
Hey!
I've had the same problem with my fastlane configuration. I've just solved it, but the fix is very strange.

At my fastlane configuration I also use `update_app_identifier` action. If the `increment_build_number` action is **below** the `update_app_identifier` action then the fastlane **doesn't** increase the build number. On the other hand, it** has stared to work** after I had moved the `in

[2016-05-10 12:33] gauravdaxini commented on #3900
Hi @TKBurner! I have already used the FASTLANE_PASSWORD inside the fastfile and already running the lanes on the Bitrise build server. When I try to run the lane that uses sigh, I get the following error.

[code]

Following is the Fastfile content

[code]

Please help to sort this issue asap.

[2016-05-10 12:43] appfamily commented on #1969
I run Supply on Windows using Cygwin, works (most of the time - experiencing some issues when pusing lots of screenshots).

[2016-05-10 12:46] douglasalexandre opened #4593 "Someone help me with this error when trying to send app for testflight via pilot?"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [ ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

pilot upload
[09:42:36]: Login to iTunes Connect (Myappleid@xxxxxx.com.br)
-------------------------------------------------------------------------------------------
😨  An error occured. Plea

[2016-05-10 13:35] mfurtak commented on #4339
Hi @dockusan :wave:

FASTLANE_ITUNES_TRANSPORTER_USE_SHELL_SCRIPT should be used as an environment variable. If you're calling `fastlane` and you want to specify it, you can run:

[code]

[2016-05-10 13:57] mfurtak commented on #3886
Hi folks - I've released [`scan` 0.6.1](https://github.com/fastlane/fastlane/releases/tag/scan%2F0.6.1).

This ticket has wound up collecting a lot of different kinds of problem reports, but if you're having trouble with simulators that fail to boot, could you please upgrade your `scan` with:

[code]

and then try running:

[code]

or

[code]

depending on how you run `scan`, and let me know if al

[2016-05-10 13:59] kcharwood commented on #4523
Seeing this error this morning for the last hour+

[2016-05-10 14:03] #4553 closed

[2016-05-10 14:10] rubnov opened #4594 "snapshot error ld: library not found for -lPods-AppName (using Cocoapods 1.0.0.rc.2)"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I am new to fastlane and snapshot. I followed the README and created a new UI testing target with a short swift file. Ran the test project from Xcode successfully (CMD+U). Also created a separ

[2016-05-10 14:10] nAviram commented on #4431
I tried it again with --verbose.
log is attached:
[Log-submit_for_review.txt](https://github.com/fastlane/fastlane/files/257340/Log-submit_for_review.txt)

And I want to rise my question once again - there is no parameters for "What's New in This Version" and also parameters regarding submission: Export Compliance, *Advertising Identifier...

I also noticed that there are 'missing beta entitlement

[2016-05-10 14:30] dholdaway commented on #4513
after i have incremented the number how do i get it to save at the moment i seem to be going around in circles with version numbers

the project is set to 1 > travis ci > fastlane > version set to 2

do i need to do a git commit on the project? to remember the version?

[2016-05-10 14:48] leandrodemarco commented on #4423
Hi @TKBurner, thanks for reaching out again. I had not a snapshot_derived20160429-39364-1u8518j folder. Anyway, I updated to version 1.12.2 and ran
`snapshot --verbose` without the 'sudo'. Output is exactly as posted here except that now this lines looked like these:

`INFO [2016-05-10 11:33:17.18]: ▸ The following build commands failed:
INFO [2016-05-10 11:33:17.18]: ▸ Ld /var/folders/9m/_ypzh_tx

[2016-05-10 14:54] ricardopereira opened #4596 "Fastlane `init` error: Unable to activate deliver-1.11.3"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Environment

fastlane version (run `fastlane -v`): fastlane 1.87.0
Do you use bundler to ex

[2016-05-10 15:02] eintopf commented on #1631
+1, also for Game Center

[2016-05-10 15:09] TKBurner commented on #3900
@gauravdaxini Thanks for following up. What happens if you add cert in front of your sigh command? Let me know! Thanks 👍

[2016-05-10 15:18] i2amsam commented on #4553
@ekolesnikov I just released this fix with `fastlane 1.87.1` could you give it a try and let me know if it fixed the problem for you?  I'll ping @TKBurner about the other ticket.

[2016-05-10 15:30] etaiklein commented on #4208
@TKBurner - I have both of these files linked to my target. Do I need to create a new target for fastlane?
<img width="1351" alt="screen shot 2016-05-10 at 11 29 25 am" src="https://cloud.githubusercontent.com/assets/4458476/15152262/8ff785ca-16a2-11e6-9a16-d4abf91de7d6.png">

[2016-05-10 15:31] vpolouchkine commented on #4593
Does this help? https://github.com/fastlane/fastlane/blob/master/fastlane/docs/FAQs.md#im-getting-an-ssl-error

[2016-05-10 15:33] vpolouchkine commented on #4588
Can you please format your issue per https://github.com/fastlane/fastlane/blob/master/ISSUE_TEMPLATE.md? Thanks!

[2016-05-10 15:34] vpolouchkine commented on #4587
Can you please format your issue per https://github.com/fastlane/fastlane/blob/master/ISSUE_TEMPLATE.md? Thanks!

[2016-05-10 15:34] vpolouchkine commented on #4586
Can you please format your issue per https://github.com/fastlane/fastlane/blob/master/ISSUE_TEMPLATE.md? Thanks!

[2016-05-10 15:35] eha11 commented on #3888
Any more update on this issue? Is there something more that needs to be done with @ravron's fix

[2016-05-10 15:36] markuswinkler opened #4599 "Snapshot: Looks like the number of screenshots (3) doesn't match the number of names (6)"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

When I run snapshot it executes the UI test successfully but somehow thinks it should have double the screenshots.

snapfile is the default one.
UI test is setup in the most basic way.

    ove

[2016-05-10 16:26] nextorlg commented on #4160
11 locales here... I really need this feature otherwise for small changes I have to do it manually in itunesconnect to save time (and later in the deliver files to keep consistency).

It would be nice to have the option to select one locale but also to skip the screenshots, for example when you only want to update the description.

[2016-05-10 16:43] funkenstrahlen commented on #4391
I just updated to the newest version. The crash from above is now gone, but I see another error:

I see my phone prompting to verify the login, but on my macbook where I run `match` I do not see a popup asking for the 2 factor confirmation code.

[code]

[2016-05-10 16:59] vpolouchkine commented on #4590
Can you provide repro steps for this? What command are you running?

[2016-05-10 17:00] vpolouchkine commented on #4589
Thanks for the writeup, we'll take a look.

[2016-05-10 17:03] vpolouchkine commented on #3602
Thanks for the report @TheAdamBorek. Glad you're up and running. The OP didn't post here in a while, so I'm going to close this.

[2016-05-10 17:03] #3602 closed

[2016-05-10 17:07] vancex commented on #4590
just spaceship.login，I have found that something is wrong when  get https itunes.apple.com/xxxxx for getting itc service key，i can not remember how to spell it exactly。
i sloved it by hardcode a key，and next steps go fine

[2016-05-10 17:13] badeleux commented on #4523
Same for me.

[2016-05-10 17:45] rubnov commented on #4594
Rolled back to Cocoapods 0.39 and everything seems to work fine, so it looks like Snapshot doesn't work with Cocoapods 1.0 yet?

[2016-05-10 18:15] KrauseFx commented on #4589
@vpolouchkine there is already a PR submitted and referenced 😃 https://github.com/fastlane/fastlane/pull/4591

[2016-05-10 18:15] KrauseFx commented on #4592
Thanks for the suggestion. This is not something we plan on working, however feel free to extend spaceship to expose this value, and submit a pull request. We're more than happy to merge this into the `fastlane` repository 👍

[2016-05-10 18:15] #4592 closed

[2016-05-10 18:33] kcharwood commented on #4523
After another hour, it started working for me again

[2016-05-10 18:40] kylejm opened #4603 "Call Fastlane actions from another class"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I'm writing some helpers for use in our Fastfile and need to call some actions in a class. With the help of @KrauseFx I've got the following working:

[code]

But I can't get this to run:
[cod

[2016-05-10 19:10] kcharwood commented on #4523
And its failing again

[2016-05-10 19:16] TKBurner commented on #4460
Hi @mkaiser30! Thanks for following up. Are you accessing the keychain from the right account on your system? It looks like the permissions on your keychain might not be letting us read. Let me know what you find out! 👍

[2016-05-10 19:21] TKBurner commented on #4504
Hi @nmayafit! Thanks for following up. Right now this is by design.

You can access the output via the output variables.

`+------------------+-------------------------------------------+
|                     ssh Output Variables                     |
+------------------+-------------------------------------------+
| Key              | Description                               |
+----------------

[2016-05-10 19:24] TKBurner commented on #1655
@dgoyaldiksha Did you have a chance to look at #3921 on how to get around this issue. Let me know how it's going 👍

[2016-05-10 19:29] TKBurner commented on #4564
Hi @jkammerer! Thanks for following up. Can you check and make sure all your languages are on this list:

[2016-05-10 19:32] TKBurner commented on #4427
@bassrock Great to hear from you again! Thanks for pointing this out. Reopened until your two other PRs get merged. Really glad to have you working with us 👍

[2016-05-10 19:34] bassrock commented on #4427
Thanks @TKBurner! What needs to be done to get the rest of this in?

[2016-05-10 19:38] gokeji commented on #1655
I've been experiencing the exact same issue, with the same stack trace as stated above by @vegather. The snapshot process got through iphone 5s and iphone 6s simulators fine, with all 23 languages that I'm using, but always gets stuck on zh-Hant_TW on the iPhone 4s simulator with `Check Dependencies`.

Has there been any luck finding an explanation to this?

[2016-05-10 19:41] TKBurner commented on #1513
Hi @vikram1234 Thanks for following up on this. Can you make sure your .ipa version and reported version are the same? We've had users in the past with similar issues resolved by fixing this. Thanks!

[2016-05-10 19:52] TKBurner commented on #4581
@vikram1234 Thanks for following up. I updated your other thread. 👍

[2016-05-10 19:53] TKBurner commented on #4482
@ekolesnikov Thanks for following up. What directory level are you running frameit from? It was meant to be run from at the project level. (One above Fastlane dir) Thanks! 👍

[2016-05-10 19:55] morgz commented on #4523
Failing for me too with:
[Transporter Error Output]: Could not start delivery: all transports failed diagnostics

[2016-05-10 19:55] TKBurner commented on #4220
Hi @cnmongrel! Thanks for following up. It looks to me that you have the wrong code signing identity. You code signing identity is matching to an app in iTC however it doesn't match your local one. Can you add cert and send the output of these two actions run in sequence. Thanks! 👍

[2016-05-10 19:59] vikram1234 commented on #1513
@TKBurner - thanks for your reply, i have these two keys in Plist file for IPA version "CFBundleShortVersionString" (minor 1.8) and "CFBundleVersion" (major-2), and when build is being published its selected 1.8 as well if you see logs. What is mean reported version? i am not reporting anything, its all being selected from fastlane.

[2016-05-10 20:00] TKBurner commented on #4548
Thanks for following up @wilrnh! I'll leave this as help wanted in case anyone wants to fork us and take a shot. We'll look at it, but can't guarantee that we can merge it. 👍

[2016-05-10 20:01] TKBurner commented on #1635
@alper Nice catch! Were you able to get it working in the end? Thanks 👍

[2016-05-10 20:03] TKBurner commented on #4498
Hi @MickeyHub! Thanks for following up. I noticed the error:

here does not seem to be a CURRENT_PROJECT_VERSION key set for this project.  Add this key to your target's expert build settings

Can you check this in your build settings? Thanks! 👍

[2016-05-10 20:07] TKBurner commented on #4500
Hi @joeabouassi Thanks for following up. To confirm if you run fastlane run update_fastlane, your screengrab will get the error again? Which specific error are you getting at this point. Thanks! 👍

[2016-05-10 20:30] nmayafit commented on #4504
Sorry, but when you state that this is by design you mean that I should receive all the console output only when ssh is finished and not while its in the process? So its not a bug or anything wrong I'm doing? If I cannot see the console logs in runtime for a process taking me 20 min on a remote machine I really cannot use this action.
Please approve so I know if to remove ssh from my fastfile and

[2016-05-10 20:34] LizCira opened #4605 "Adding pagination to "sigh download_all" to enable downloading large accounts"
Issue discussed here: https://github.com/fastlane/fastlane/issues/4280

The problem is that for accounts with 300+ profiles, Apple's pagination kills the connection and "sigh download_all" fails.

Works successfully with this commit, which modifies both spaceship and sigh:
https://github.com/LizCira/fastlane/commit/2cead22aebb108955e36e1e7d479b3f3919a494f
(That commit also adds a flag to keep orig

[2016-05-10 21:05] LoganWright opened #4606 "Character languages showing ??? for screenshot"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

On character languages, for this specific screenshot, I can't get anything but question marks (screen redacted for client)

![iphone6-3-firmwareupdate_framed](https://cloud.githubusercontent.c

[2016-05-10 22:30] ekolesnikov commented on #4482
Hi @TKBurner

I can confirm that frameit is executed from the project folder:

[2016-05-10 23:40] ekolesnikov commented on #4553
@i2amsam confirmed frameit now working with iPhone SE frames from the lane. Thanks!

[2016-05-11 01:07] KrauseFx commented on #4553
Awesome work @i2amsam 🚀

[2016-05-11 01:08] KrauseFx commented on #4606
I'm pretty sure this has something to with your font `"font": "./fonts/GothamSSm-Bold.otf"`, can you try removing the custom font from your Framefile and see if that works

[2016-05-11 01:17] liuyuanming commented on #4587
I'm so sorry for the first come! I'm has formated my issue.please help me again.thanks very much.

[2016-05-11 01:26] anthonylau commented on #1631
I have reverse engineered the iTMSTransporter web service and written a lib with Python in my company. It's upload "package" with metadata.xml via WebDAV. It's work while there is delay in the process or you need to package everything in the metadata.xml and upload it. For example, if you deliver your app description via fastlane and deliver in-app purchase with iTMSTransporter's web service, your

[2016-05-11 01:53] siburb commented on #3602
Thanks for your help @vpolouchkine & @TheAdamBorek. I'm no longer involved with the project where I was seeing that issue, and it is working perfectly on my current projects, so hopefully it was just a "one off"! Definitely safe to close this.

[2016-05-11 02:39] jonnyijapan commented on #4523
Failing for me now. Same error. Was working just some hour ago. Now repeatedly fails.

[2016-05-11 03:18] puttin commented on #4498
We just update our `Fastfile` to avoid the `CURRENT_PROJECT_VERSION` problem in error section `Variable Dump`.

We have used Fastlane for some months, the `uninitialized constant InhouseAction` problem happens just these days.

It only happens when `cert` or `sigh` action is running.

[2016-05-11 03:43] dockusan commented on #4339
I will try. Thank you so much.

[2016-05-11 04:01] vancex commented on #4590
I dig the problem, it's happens when GET https://itunesconnect.apple.com/itc/static-resources/controllers/login_cntrl.js for itc_service_key,.
when request itc_service_key, it will causes the crash showed in the backtrace above, and I tried that not to get itc_service_key instead I write a key value down for the widgetKey, it goes fine now, but I don't understand when will the key changes

[2016-05-11 04:05] rizwankce commented on #4590
@vancex please let me know how can i fix this issue and login into iTunes connect?

[2016-05-11 04:28] vancex commented on #4590
@rizwankce leave me a email

[2016-05-11 06:46] rpplusplus commented on #4586
I have same problem. My Crash Report id is: f63e7c56090f8786b8bf82bf58cd4fbb

[2016-05-11 07:30] wuaschtikus opened #4607 "[Question] Are there any drawback installing fastlane without sudo?"
Hi guys,

I am using fastlane at home without any problems using a sudo installation. Coming to my workplace it is a NOGO to install command line tools with sudo. I am working in a high security environment without any chance to get sudo / elevated rights on my CI. This is definitely a DEV OPS topic, but it also addresses security specific issues.

My question is - does anyone has experience using

[2016-05-11 09:20] joeabouassi commented on #4500
@TKBurner update_fastlane has no effect coz fastlane will be installed each time the build runs using gem install fastlane which downloads the latest version of all gems. I get the same error:

[code]

[2016-05-11 09:38] bobish31 commented on #1648
Hi Krause,
I am currently using snapshot to take screenshots and to create reports for my client about UI testing after each integration. I include these screenshots generated by Snapshot into my reports.

But the problem appears only when one test fail for a device, I don't have any screenshots for other tests that passed for the same device. Is there a way to get screenshots from tests that pass

[2016-05-11 10:46] vamshikrishna-iitbhu commented on #4383
Hi @TKBurner I am stuck at this error.
**_[Transporter Error Output]: Could not start delivery: all transports failed diagnostics
[16:12:10]: Transporter transfer failed.
[16:12:10]:
[16:12:10]: Could not start delivery: all transports failed diagnostics
[16:12:10]: Could not start delivery: all transports failed diagnostics
Return status of iTunes Transporter was 1: Could not start delivery: all

[2016-05-11 11:19] kylejm commented on #4603
Okay, my Ruby Dev colleague @jac33k ( 🌟 )  helped me solve the problem be doing the following to create the helpers I wanted:

[code]

Config can look like this:

[code]

And lanes can look like this:

[code]

[2016-05-11 11:19] #4603 closed

[2016-05-11 11:48] stefreak commented on #326
@robertjpayne what does the first point mean exactly?

[2016-05-11 12:14] stefreak commented on #326
OK I found out. for me this simply meant `mv /Library/LaunchDeamons/org.jenkins-ci.plist /Library/LaunchAgents/org.jenkins-ci.plist` and reboot (more info on this on https://nickcharlton.net/posts/installing-jenkins-osx-yosemite.html)

[2016-05-11 12:28] silviu-geronimo opened #4609 "Invalid Code Signing Entitlements"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Received Transporter Error about Provisioning profile. I managed to make an archive and upload it to itunes connect via Xcode but with fastlane it's not working no more. It worked for the last

[2016-05-11 13:39] harryzhao2015 commented on #4590
i also have the same issue when run 'sigh' directly. report id: 5ac329096a857ff750fbee51d1b08563

[2016-05-11 13:47] LoganWright commented on #4606
@KrauseFx Removing that font seems to have fixed the problem, but now the standard alphabetic frames are not in the desired font.

Is there a workaround where I could have both? If not, I can check w/ design about whether or not the alternative default font is acceptable.

[2016-05-11 13:52] harryzhao2015 opened #4610 "sigh got 'buffer error'"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
run sigh directly, login with my Apple ID, then got error as below:

/System/Library/Frameworks/Ruby.framework/Versions/2.0/usr/lib/ruby/2.0.0/net/http/response.rb:357:in `finish': [!] buffer e

[2016-05-11 14:35] jackrex commented on #4610
same issue

[2016-05-11 15:45] dholdaway commented on #4174
any update on this ?

would be a really handy feature.

[2016-05-11 15:56] cnmongrel commented on #4220
Output with cert first:
[code]

[2016-05-11 16:02] joecdimas opened #4611 "Cannot update from 1.84 to 1.87.1"
### Issue Description
When I try to to update fastlane, it tells me that thats its updating, then there is nothing to update.
I tried
`` sudo gem update fastlane ``
and
`` sudo gem cleanup fastlane ``

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Configuration Files

Fastfile:
[code]

[2016-05-11 17:17] vpolouchkine commented on #4609
Can you try setting the provisioning profile when you call `sigh`?

[2016-05-11 17:25] vpolouchkine commented on #4607
I'm not super familiar with jenkins, but it's certainly possible to use fastlane without sudo.

[2016-05-11 17:27] vpolouchkine commented on #4599
Can you provide a sample repro project?

[2016-05-11 17:39] vpolouchkine commented on #4590
Thanks for the reports, we'll take a look.

@vancex What value are you hardcoding?

[2016-05-11 17:44] #4589 closed

[2016-05-11 17:45] markuswinkler commented on #4599
Hmm, I created a new project with a similar setup. Everything seems to work fine.
Tricky problem. Unfortunately I can't share the code base where the problem originated.
Any advise?

[2016-05-11 18:07] vpolouchkine commented on #4587
Thanks, please share the full log as well.

[2016-05-11 18:08] jules2689 commented on #116
If anyone is looking for `before_each` or `after_each` blocks - it was just merged here: https://github.com/fastlane/fastlane/pull/4264

[2016-05-11 18:17] vpolouchkine commented on #1648
@bobish31 The report is only generated when all screenshots succeeded. Feel free to open a new issue to discuss this further and we'll mark it a feature request. Thanks!

[2016-05-11 18:17] #1648 closed

[2016-05-11 18:24] vpolouchkine commented on #4523
Can you peeps try the suggestion in https://github.com/fastlane/fastlane/issues/4544#issuecomment-217519255?

[2016-05-11 18:30] vpolouchkine commented on #4599
What happens if you change the Snapfile to only target a single sim?

[2016-05-11 18:49] markuswinkler commented on #4599
same result. the first device it tries I get the result from above.

[2016-05-11 19:39] mauriciomeirelles opened #4616 "Missing enableAddressSanitizer option"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
I'm migrating the shell script that we use today at the company to Fastlane (YAY!). But we use `enableAddressSanitizer` when testing and scan don't have this option yet.

[2016-05-11 20:10] asfalcone commented on #4586
Same error as #4610. Possibly related.

[2016-05-11 20:14] asfalcone commented on #4564
@jkammerer I think there is a problem with your directory structure.

The error is here `[2016-05-09 16:38:31.66]: Preparing to upload for language 'Icon`. Icon isn't a language code.

Your directory structure should look like this:
![image](https://cloud.githubusercontent.com/assets/1848683/15194902/50d2cebc-1793-11e6-81fc-8427e8aba9be.png)

It looks like you don't have the **android** directory

[2016-05-11 20:30] williamsjj opened #4618 "Refresh dsyms without Crashlytics beta"
### New Issue Checklist

- [x ] Updated fastlane to the latest version
- [ x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

How can I set my Crashlytics API key without uploading to Crashlytics beta? All I want to do is refresh bitcode dsyms.

[2016-05-11 21:01] mkujalowicz commented on #1939
I had the same problem until I figured out that it wasn't a problem with fastlane but with xcodebuild. After upgrading to cocoapods 1.0 my unit tests stopped working due to problems with rpaths and dynamic module dependencies. After fixing it, scan automatically was able to finish the process.

[2016-05-11 21:44] #4611 closed

[2016-05-11 21:45] joecdimas commented on #4611
I was able to go around this issue by doing  sudo gem update fastlane --remote

[2016-05-11 22:55] KrauseFx commented on #4618
Please share your `Fastfile`. You can upload files without providing an api key

[2016-05-11 22:55] KrauseFx commented on #1451
Closing due to inactivity

[2016-05-11 22:55] #1451 closed

[2016-05-11 22:56] KrauseFx commented on #1268
Thanks again @neonichu, I'm closing this issue for now 👍

[2016-05-11 22:56] #1268 closed

[2016-05-11 22:59] Drarok opened #4620 "Snapshot runs multiple (6) times, produces many copies of same screenshot"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I'm attempting to use Snapshot, but for some reason it takes my screenshots multiple times. Seemingly 6 times currently – I've gone as far as commenting out all but one screenshot in order for

[2016-05-11 23:13] KrauseFx commented on #1581
This should be fixed with the most recent release, let me know if that's still an issue

[2016-05-11 23:13] #1581 closed

[2016-05-11 23:13] KrauseFx commented on #1586
Is this still an issue? Feel free to re-open if so

[2016-05-11 23:13] #1586 closed

[2016-05-11 23:13] luisrodrigo opened #4621 "Provisioning profile 'xxxxxxx' is not available on the Developer Portal"
### New Issue Checklist
- [ ] Updated fastlane to the latest version
- [ ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

I'm develop one app in iOS and I have a problem with the match option, when I put the "match development" this show me a error: (I send you an image with this error)

I do not know which is the reason or what I have

[2016-05-11 23:13] #1595 closed

[2016-05-11 23:20] KrauseFx commented on #4620
You didn't share your actual UI tests

[2016-05-11 23:24] Drarok commented on #4620
[code]

[2016-05-11 23:30] neonichu commented on #1268
🔑

[2016-05-11 23:46] Drarok commented on #4620
I've tried `snapshot reset_simulators`, which removed a lot of sims, but hasn't fixed the issue.

[2016-05-12 00:03] Drarok commented on #4620
Ah _ha!_

[code]

[code]

This is [treated as a set](https://github.com/fastlane/fastlane/blob/master/snapshot/lib/snapshot/runner.rb#L36), resulting in the following calls:

[code]

This fixes it, but should launch_arguments cause multiple launches, or is that a bug?

[code]

[2016-05-12 00:28] Drarok commented on #4620
Furthermore, the filename has the launch arguments in when using the above workaround. I've moved all my launch arguments into my UITest launch code instead.

[2016-05-12 00:57] liuyuanming commented on #4587
Last login: Thu May 12 08:53:30 on console
peters-iMac:~ peter$ cd /Users/peter/Desktop/FastlaneDemo
peters-iMac:FastlaneDemo peter$ fastlane beta
You use deprecated syntax 'ios beta' in your Appfile.
Please follow the Appfile guide: https://github.com/fastlane/fastlane/blob/master/docs/Appfile.md
[08:56:42]: -------------------------------------------------
[08:56:42]: --- Step: Verifying require

[2016-05-12 01:07] mfurtak commented on #4616
Accepted in https://github.com/fastlane/fastlane/pull/4615 - thanks very much! 🎊

[2016-05-12 01:07] #4616 closed

[2016-05-12 01:40] mfurtak commented on #4621
Hi @luisrodrigo 👋

One possible explanation is that you're using a different account or team than was used when originally setting up this app with `match`. Please confirm that you have the right account info! 👍

Another possibility is that the provisioning profile that `match` created for you was deleted from the developer portal. This could happen if someone used the Fix Issue button in Xcode.

[2016-05-12 01:43] MickeyHub commented on #4498
obviously, `CURRENT_PROJECT_VERSION` is not the reason.

[2016-05-12 01:54] MickeyHub opened #4623 "increment_version_number & increment_build_number"
Scenario:
I have two target: one is main target, the other is test target.
when I want to increase the version number and build number, I mean the main target's, but these two actions change all target.
can these actions expose more params like `:target` ? although I can workaround to use update_info_plist action.

[2016-05-12 01:57] MickeyHub opened #4624 "Cocoapods 1.0 --repo-update"
CocoaPods has release 1.0 version,  `pod install` do not update repo by default, so the `cocoapods` action will update ? although we can use sh "pod install --repo-update".

[2016-05-12 04:49] jaysonjh commented on #4610
same issue

[2016-05-12 05:31] sebasbad opened #4626 "fastlane 1.88.0 crash when executed without parameters"
### Issue Description
Crash when running fastlane without parameters
##### Complete output when running fastlane, including the stack trace and command used
[code]

### Configuration Files

Please copy the complete content of your `Fastfile` and any other configuration files you use below:

Fastfile: not relevant

### Environment

fastlane version (run `fastlane -v`): fastlane 1.88.0

Do you use b

[2016-05-12 06:14] siemensikkema commented on #1199
I have the same issue on 1.88.0.

[2016-05-12 07:14] jcampbell05 commented on #4624
Could you explain what the problem is more clearly ?

[2016-05-12 08:24] hartbit commented on #3886
It seems to have fixed the problem for me! :D So happy. Will keep this issue updated if the problem re-appears.

[2016-05-12 09:13] skywinder commented on #1531
@TKBurner the problem was in Apple's provision profile hell. 😉

[2016-05-12 09:18] skywinder commented on #1543
@TKBurner got output:
[code]

[2016-05-12 10:04] pjechris commented on #3886
Still not working for me.
Runned xcpretty manually:

[code]
and got an empty html report, so I guess issue is on xcpretty side?

[2016-05-12 11:28] alpersenyurt commented on #4503
@TKBurner  I am waiting for  your good news

[2016-05-12 13:41] ConfusedVorlon opened #4628 "admin: would be great if you could set some expectations around pull request timing"
### Issue Description

what is the expectation for a response from the fastlane team to a pull request?

to take my own example, I sent a pretty simple and (I think) non-controversial pull request nearly two weeks ago.

other than somebody adding a label to show which project it hits (frameit), I haven't had any communication at all.

I don't know whether this is a perfectly normal timeline and I

[2016-05-12 13:43] jcampbell05 commented on #4628
Would adding a dynamic badge that looked at the average response times help?
http://issuestats.com/github/fastlane/fastlane

[2016-05-12 13:50] ConfusedVorlon commented on #4628
that would certainly give some indication - but it only really shows that some pull requests take many months to close, rather than showing anything about expected time to get some engagement.

if the fastlane team were willing to post an expectation (we try to comment in x days), then that is more actionable.

at x*2 days, I can know that something is amiss and bump/prod/give up/ appropriately.

[2016-05-12 14:10] TKBurner commented on #326
@stefreak Really glad to hear you got up and running! 👍

[2016-05-12 14:11] TKBurner commented on #4603
@kylejm Awesome! Really glad to hear you got it working. Thanks for sharing your results it'll help other developers 👍

[2016-05-12 14:15] TKBurner commented on #4500
@joeabouassi Thanks for working with me on this. I just reached out to the rest of the core team to get some more eyes on this. We'll follow up on this thread. Hope that you have a wonderful day! 👍

[2016-05-12 14:22] TKBurner commented on #4498
Hi @MickeyHub

Thanks for following up. What happens if you change out the line 'inhouse' in the fire lane to

  sh "fastlane inhouse"

Thanks!

[2016-05-12 14:29] TKBurner commented on #1631
If anyone is interested in doing work on this, let us know so we can work with you on what type of approach would be best. Thanks!

[2016-05-12 14:38] TKBurner commented on #4482
@ekolesnikov Thanks for following up. I bumped this with the core team to get more eyes on it. I still haven't been able to reproduce this behavior. We will follow up on this thread. Thanks!

[2016-05-12 14:44] MickeyHub commented on #4498
I use `sh "fastlane inhouse"` instead `inhouse`, the result is same before.
[code]
[KRA-FIRE-JOB1-460.txt](https://github.com/fastlane/fastlane/files/261549/KRA-FIRE-JOB1-460.txt)

[2016-05-12 14:52] joeabouassi commented on #4500
Thank you for your cooperation @TKBurner !

[2016-05-12 15:06] znerol commented on #1631
I did piece together something which currently fits my needs (works with iTunes Connect + Google Play, non-consumables only, no support for multiple languages etc.): [restock](/znerol/fastlane/tree/feature/master/restock/restock)

[2016-05-12 15:10] asfalcone commented on #4563
This is merged and will be released in `supply` 0.7.0 🚀

[2016-05-12 15:10] #4563 closed

[2016-05-12 15:21] TKBurner commented on #4605
@LizCira Thanks for pointing this out. So to be clear does your commit fix this or do you still get the error? I looped in the core team so we can take a look 👍

[2016-05-12 15:23] TKBurner commented on #4504
@nmayafit Thanks for following up. I'm going to mark this as help wanted since it's currently not a supported use case but I can see multiple users taking value. If you are interested in submitting a PR let me know, otherwise hopefully someone from the community takes a look at making this an option.

Thanks! 👍

[2016-05-12 15:26] TKBurner commented on #1513
Hi @vikram1234 Thanks for following up. Can you run fastlane run update_fastlane. Let me know if you still see this error in the most current version. Thanks for working with me on this 👍

[2016-05-12 15:27] TKBurner commented on #1655
Hi @gokeji Thanks for pointing this out. Can you add the --verbose flag to snapshot and share the full output. I'd love to look into this! Thanks for working with me 👍

[2016-05-12 15:30] TKBurner commented on #4427
@bassrock Thanks for following up. I sent a message out to the core team so we can keep these moving. We are always really happy to work with you! (You've become a hero of sorts among the core team 👍 )

[2016-05-12 15:31] TKBurner commented on #4594
@rubnov Thanks for following up. We don't test against 1.0 yet, so we might have some issues. However, your linker error suggests there is a problem linking a library against your test target. Can you have a look there? Thanks for working with me 👍

[2016-05-12 15:34] TKBurner commented on #4391
Hi @funkenstrahlen Thanks for letting me know. Can you run fastlane run update_fastlane and then add the --verbose flag to match and share the output? If possible can you repro this on a fresh project? The more repro steps we have the more people I can pull into working on this. Thanks! 👍

[2016-05-12 15:35] etolstoy commented on #1911
+1

[2016-05-12 15:35] TKBurner commented on #4160
@nextorlg Thanks for following up. For now this is a feature request because we don't support single language upload. However, we will leave this open as it's seems to be a more common use case than we predicted. I'll also mark this as help wanted in case anyone is interested in helping 👍

[2016-05-12 15:36] TKBurner commented on #3888
@eha11 Thanks for following up. Did you pull down @ravron's branch? It'd be interesting to know if this solved it for you. Thanks for working with us!

[2016-05-12 15:40] TKBurner commented on #4208
@etaiklein Thanks for following up.

Let's start working on this command:

set -o pipefail && xcodebuild -scheme 'Debug' -project './ios/SpaceStation.xcodeproj' -destination 'generic/platform=iOS' -archivePath '/Users/eklein/Library/Developer/Xcode/Archives/2016-04-14/SpaceStation 2016-04-14 11.36.52.xcarchive' clean archive | tee /Users/eklein/Library/Logs/gym/SpaceStation-Debug.log | xcpretty

C

[2016-05-12 15:41] TKBurner commented on #4383
Hi @vamshikrishna-iitbhu! Thanks for working with me on this. Can you send me the full deliver commands you are using? I'd love to take a look. Thanks!

[2016-05-12 15:43] TKBurner commented on #4596
Hi @ricardopereira! Thanks for reaching out. Can you install the ruby gem plist 3.1.0? It looks like you have a version conflict. Thanks for working with me! 👍

[2016-05-12 15:46] TKBurner commented on #4423
Hi @leandrodemarco! Thanks for working with me on this. Can you run snapshot reset_simulators? That should clear up your issue. Let me know how it goes!

[2016-05-12 15:49] TKBurner commented on #4513
Hi @dholdaway! Thanks for following up. Can you share the full set of commands you are using. We also have a command increment_version_number. You shouldn't need to make the commit unless you are pushing up to Travis. In that case you'll need to add the new files and commit, but this isn't related to Fastlane. Let me know how it goes 👍

[2016-05-12 15:55] TKBurner commented on #4431
Hi @nAviram! Thanks for working with me. Have you tried deliver --submit_for review true?

[2016-05-12 15:55] etaiklein commented on #4208
Hi @TKBurner
[code]

**clean gym**

[code]

[2016-05-12 16:03] TKBurner commented on #3886
Hi @pjechris! Thanks for following up. What error are you getting with Scan? I want to take a look 👍

[2016-05-12 16:08] TKBurner commented on #1543
@skywinder Thanks for following up. Can you let me know how big your .ipa is? I just want to get an idea of what could be causing this timeout. Also, can you go to  https://appleid.apple.com and signin and try again? Thanks for working with me on this!

[2016-05-12 16:09] TKBurner commented on #4624
Hi @MickeyHub! Great to hear from you again. Can you fill out the issue template, https://github.com/fastlane/fastlane/blob/master/ISSUE_TEMPLATE.md

The more details you provide the faster we'll be able to research this 👍

[2016-05-12 16:12] TKBurner commented on #1631
@znerol Cool! If anyone has a chance to take a look, let us know what you think!

[2016-05-12 16:14] TKBurner commented on #4606
@LoganWright Thanks for letting us know. It looks like there might be something unexpected with the font file. We'll keep this on our radar but it's going to be hard to fix until we get more reports. Really glad you are using Fastlane and always feel free to reach out with any questions 👍

[2016-05-12 16:14] #4606 closed

[2016-05-12 16:18] WilliamParty opened #4633 "getting uninitialized constant Spaceship::Client::ITunesConnectError while running cert"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Hi everybody!
I'm using fastlane for quite a while now, but today I'm getting the following issue out of the blue

Thank you for your time!

##### Complete output when running fastlane, includi