[2017-12-19 20:08] shuhrat10 commented on #11220
I was able to upload successfully. But I still getting error [Transporter Error Output]: description length:2866414

[code]

[2017-12-19 21:12] watt commented on #10796
Near as I can tell there is still no way to do this in the latest version of fastlane.

[2017-12-19 22:32] jrreed commented on #10163
@KrauseFx, yes that's exactly what I'm doing. I set `FASTLANE_SKIP_UPDATE_CHECK=1` in my `fastlane/.env` file that I was expecting to have been loaded by _fastlane_.

I can confirm that by manually setting `FASTLANE_SKIP_UPDATE_CHECK=1` when running my fastlane command the update check _is_ skipped.

Is this a case where I'm using it wrong? (In which case it might be worth mentioning this in [the

[2017-12-19 22:41] getaaron commented on #11101
Are you trying to use the same certificate repo for 2 different apps?

[2017-12-19 22:52] chadlwilson commented on #10163
Using the environment variables externally to fastlane itself is working okay for me, but I agree it's a bit confusing, and I prefer to minimise this kind of external environment setup in my CI pipelines where possible.

As a side note, it'd be nice if there was an action to use to opt out of this, similar to what we have for opting out of crash reporting and usage - to give a consistent way to tu

[2017-12-20 00:15] PetrosIchor commented on #11272
To echo krausfx, I would say build it twice.  From my experience, it's the easiest, most stable way I've found.

[2017-12-20 02:01] janpio commented on #10796
Can you maybe expand your initial issue text a bit so a developer could start from reading your description only to implement this change maybe?

Right now there are lots of steps one first would have to research or aleady know ("use the -itc_provider argument with iTMSTransporter", "fastlane-documented way", "manually run iTMSTransporter with -m provider and just read", "run that command and pars

[2017-12-20 03:10] svanzoest commented on #10796
When you have multiple accounts, I basically need to collect 3 pieces of information.

1. `team_id` which is the 10-character string
2. `itc_team_id` which is the numeric itunes connect team id
3. `itc_provider_id` which newer accounts matches `team_id`, but older accounts is a slug for the business name. (e.g. `AwesomeOrgLLC`)

[code]

This was also asked in #10710
This sort of relates to #9858 a

[2017-12-20 03:39] svanzoest commented on #11135
Just an active user here, but...

This means it could not find the certificate from the keychain.  It maybe that it tried to install it in the wrong keychain, or that it does not have permission to install it. I do find that I wasn't able to find all the places where I needed to set the keychain, so I had to be sure that it was the default keychain for everything to work.

The code signing during

[2017-12-20 07:11] anticafe commented on #9389
@dms90  Is there any solution to upload app without need to install Fabric plugin?

[2017-12-20 08:34] ahmgeek commented on #11169
Sorry for the delay, will propose something here and we can discuss it further later. I am currently trying to patching #11189 first before Christmas, so it's a bit busy days 😢

[2017-12-20 09:26] lukaleli commented on #11201
+1 but having the same issue with export_method "ad-hoc"

[2017-12-20 09:47] mbaldassarri opened #11292 "Set Development Team for specific Target"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
I created a Notification Service Extension

[2017-12-20 09:50] KrauseFx commented on #10795
This seems like it's not a fastlane issue, make sure your permissions are correct, and also [search for the error string](https://www.google.at/search?q=Unauthorized+(Google::Apis::AuthorizationError)+&gws_rd=cr&dcr=0&ei=WjI6Wt_IN8jSwQLTvaTYBw) 👍

[2017-12-20 09:57] KrauseFx commented on #10163
Hey everyone, I took a quick look, and I can confirm this is a bug, and it's not something you're doing wrong.

It's a fastlane bug that can be resolved, the problem is: We start looking for updates [here](https://github.com/fastlane/fastlane/blob/master/fastlane/lib/fastlane/cli_tools_distributor.rb#L34), and then at a later stage, we load the `.env` files over [here](https://github.com/fastlane/

[2017-12-20 09:58] KrauseFx commented on #11292
Does the [update_app_identifier](https://docs.fastlane.tools/actions/update_app_identifier/) action do what you need?

[2017-12-20 10:05] ptrocki commented on #10543
I had the same error on my local machine (I run this using gitlab CI on local mac mini(server)). I resolve this running command on local server and allowing keychain to get this pp.

[2017-12-20 10:08] Voxar commented on #11220
I have been battling this error for a few hours over 2 days now and finally got a breaktrough after noticing the itmsTransporter command that is executed has not only the "-t DAV" parameter supplied by DELIVER_ITMSTRANSPORTER_ADDITIONAL_UPLOAD_PARAMETERS, but also "-t Signiant".

Manually executing the command line that includes "-t DAV -t Signiant" produces the error while executing the command w

[2017-12-20 10:12] IchHabRecht commented on #10787
Hi @ohayon which output do you mean?

[2017-12-20 10:16] mbaldassarri commented on #11292
Hello @KrauseFx ! Thanks for your fast reply.
Actually I was able to change the app identifier, what I can't do is to change the Development Team for the embedded target (Notification Service Extension).
I can do this by going to the embedded target general settings in XCode and manually switching the Team to the parent target team.

![image](https://user-images.githubusercontent.com/7142465/34202

[2017-12-20 10:54] Hapeki opened #11294 "Failed to register devices in devices.txt"
- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Running `register_devices` after adding new devices in `devices.txt

[2017-12-20 10:58] Hapeki commented on #11294
The fix is to edit the devices.txt from another texteditor **(not from within Xcode)**. I got it working by using **Sublime Text** and setting a single tab between the UDID and device name. I tried TextEdit but this also resulted in a non working devices.txt file.

More info: It turns out that Xcode editor translates the tab between the UDID and device name into 4 spaces - resulting in a broken de

[2017-12-20 13:01] tangzzz-fan opened #11295 "Support for iOS Today Widget Extension?"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

##### Complete output when running fastlan

[2017-12-20 15:33] clehew commented on #11276
I'm seeing this issue as well.  I don't think it's a code signing issue, the app build works fine if it's the first action.

[2017-12-20 15:54] #11262 closed

[2017-12-20 16:05] janpio opened #11297 "[supply] Recheck API limitations"
`supply` outputs two error messages that it can not download the feature graphic and screenshots, see #11296 where those are improved a bit.

Someone should recheck if this is actually still true and we do indeed not get these files.

[2017-12-20 16:12] janpio commented on #9574
The PR #10927 is now merged and will be included in the next release.

[2017-12-20 16:22] janpio commented on #10532
#11159 has been merged and should be included in the next release.

[2017-12-20 16:29] colincameron commented on #11276
Yes I've managed to build and upload to TestFlight by running multiple times, commenting out one action each time.

[2017-12-20 17:06] janpio commented on #11294
Awesome you figured it out.

Not much _fastlane_ can do about that, right?

[2017-12-20 17:06] #11294 closed

[2017-12-20 17:31] bguidolim commented on #10499
Hello all!

`upload_dsym_only` didn't work correctly because it's not calling the correct URI to do that.

The [plugin](https://github.com/justin/fastlane-plugin-upload_symbols_to_hockey) actually use the correct URI, but not the correct parameter.

I've opened a pull request fixing that: https://github.com/justin/fastlane-plugin-upload_symbols_to_hockey/pull/1

But probably is better open a new P

[2017-12-20 18:12] #9962 closed

[2017-12-20 18:14] janpio commented on #10499
Good catch @bguidolim. Would be awesome if you could open a PR for that.

[2017-12-20 18:17] bguidolim commented on #10499
@janpio working on that now.

[2017-12-20 18:28] KrauseFx commented on #11220
Mh, it doesn't look like it's a _fastlane_ issue, but some server issues on Apple's side. Does this also happen when you use Xcode or the iTunes Transporter app to upload?

[2017-12-20 18:29] KrauseFx commented on #11292
[update_project_team](https://docs.fastlane.tools/actions/update_project_team/) maybe? You can find a full list of actions over here https://docs.fastlane.tools/actions/, also check out the available plugins on the docs page

[2017-12-20 18:30] KrauseFx commented on #11295
Sorry I'm a little unsure what you're asking. Can you share more information about your setup, the complete output when running _fastlane_ and the error message?

[2017-12-20 18:31] KrauseFx commented on #9574
🚀

[2017-12-20 18:33] shuhrat10 commented on #11220
It's doesn't happen when I upload new build via Xcode. I'm using Xcode 9.2

[2017-12-20 18:56] taquitos commented on #11276
Taking a look at this

[2017-12-20 19:02] janpio opened #11302 "[Ubuntu/CircleCI] Create Docker container with our dependencies"
Quoting @DanToml in [this PR comment](https://github.com/fastlane/fastlane/pull/11242/files#r158092394):

"these" refers to:
* `sudo apt-get install shellcheck`
* #11280, `xar`
* probably #11268, `iTMSTransporter`

[2017-12-20 19:09] janpio opened #11303 "[CircleCI] "Uploading test results" is failing"
Example: https://circleci.com/gh/fastlane/fastlane/12636
[code]

[2017-12-20 19:16] taquitos commented on #11276
does this reproduce for you if your lane is just:
[code]
?

Also, could you pass in `--verbose` when you run the command and post that output?

[2017-12-20 19:42] janpio commented on #11303
Learning #1:

`CIRCLE_TEST_RESULTS`
which we use
https://github.com/fastlane/fastlane/blob/5250b1ab760ae688c0a99d4373b607b02100c345/.circleci/config.yml#L8

is **NOT equal** to

`CIRCLE_TEST_REPORTS`
which the Circle CI docs refer to in one place https://circleci.com/docs/2.0/collect-test-data/ (besides Circle CI 1.0 where this was common) and we use https://github.com/fastlane/fastlane/blob/5250b

[2017-12-20 20:10] janpio commented on #11303
Learning 2:

This all doesn't work on Circle CI 2.0 anyway:

https://circleci.com/docs/2.0/configuration-reference/#store_test_results

Is this a temporary thing or am I just wasting time?

[2017-12-20 20:41] colincameron commented on #11276
Ok so that gives the same issue - only the first action is run.

See output:

[code]

[2017-12-20 21:03] taquitos commented on #11276
Thank you, that is super helpful @colincameron

[2017-12-20 21:48] taquitos commented on #11276
Ok, I was able to repro, looks like when you don't use `bundler` sometimes the `json` library that is used is the built-in json library, instead of the json library that is defined in the gemspec.
I have a PR on the way that will work with both.

[2017-12-20 22:06] taquitos commented on #11276
Ok, so I would suggest using `bundler` with a gemfile, we have some instructions for that
https://docs.fastlane.tools/getting-started/ios/setup/#use-a-gemfile

[2017-12-20 22:13] revolter commented on #9814
@CostraciMihail, Can you try with the latest `2.70.2` version? It works correctly for me, with `bundler` and without it.

[2017-12-20 22:15] watt commented on #10796
I can definitely elaborate some more.

The ITC provider ID is sometimes required in order to upload binaries to Apple when you have multiple accounts. I'm not sure of the exact circumstances that make it necessary or not. As svanzoest wrote, the provider ID is distinct from the developer portal team ID and the iTunes Connect team ID.

The [documentation for `upload_to_app_store`](https://docs.fast

[2017-12-20 22:24] #11276 closed

[2017-12-20 22:25] watt commented on #10796
The output of `iTMSTransporter -m provider` looks like this. The provider ID is the "Short Name" column. You can see how in this case it is a mix of team IDs from newer accounts and slugs from older accounts. (You can also see where the interactive password prompt was.)

[code]

There is already code to find and invoke `iTMSTransporter` in [itunes_transporter.rb in fastlane_core](https://github.co

[2017-12-20 23:38] janpio commented on #11303
Next:
- The env variable in the `Rakefile` didn't get replaced, I had to change it so ruby does it already. Then it works.
- `store_test_results` _does_ work, it shows the summary in the "Test Summary" tab. But otherwise the data doesn't seem to be used, that's probably what that sentence means.

Replacing the usage of an $FOO with the explicit path fixes the problem though and it can upload the t

[2017-12-21 01:18] tangzzz-fan commented on #11295
I want to know how to archive app what has a today widget extension. I think maybe I don't know how to config my fastfile.
here is part output info when running fastlane
[19:38:32]: [35m[33m▸[0m [39;1mTouching[0m findproperty.app[0m
[19:38:33]: [35m[33m▸[0m [39;1mRunning script[0m '[CP] Copy Pods Resources'[0m
[19:38:34]: [35m[33m▸[0m [39;1mSigning[0m /Users/Paranora/Library/Devel

[2017-12-21 02:48] zhenMZ opened #11309 "match don`t work in a new machine"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

##### Complete output when running fastlan

[2017-12-21 06:24] EugeneGoloboyar opened #11310 "Upload to Fabric doesn't work since 2.70.2. How to downgrade to 2.70.1?"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
Upload to Crashlytics doesn't work anymore.

[2017-12-21 07:47] EugeneGoloboyar commented on #11310
Think it can be closed. Issue is supposed to be related to the bad connection.
Because now managed to upload.
Is it possible to improve error logging about this?)

[2017-12-21 10:17] colincameron commented on #11276
Thanks for the quick solution. I can confirm that using bundler with a gemfile fixes this.

[2017-12-21 11:54] janpio commented on #11309
Your screenshot doesn't include any error message or problem. What is going wrong?

[2017-12-21 12:49] kapfab commented on #11059
I confirm this is now fixed in 2.70.0.

[2017-12-21 12:50] kapfab commented on #10637
This issue is fixed in 2.70.0.

[2017-12-21 12:51] kapfab commented on #10497
This issue has been actually fixed in 2.70.0.

[2017-12-21 13:31] Justinemmerich commented on #11273
![image](https://user-images.githubusercontent.com/10778265/34257718-4b00a016-e65b-11e7-9ef5-610377253020.png)

These are some example. I put the init dimensions as a title, check the framed dimensions they are changed.

[2017-12-21 13:32] Justinemmerich commented on #11273
![5 5 inch - 1242 x 2208_framed](https://user-images.githubusercontent.com/10778265/34257811-c0d3d4e8-e65b-11e7-8df3-3b36bd6db326.png)
![5 5 inch - 1242 x 2208](https://user-images.githubusercontent.com/10778265/34257812-c0f259a4-e65b-11e7-974c-79bb6eff3891.png)
![5 8 inch - 1125 x 2436_framed](https://user-images.githubusercontent.com/10778265/34257813-c10c8c2a-e65b-11e7-87e8-613116d7f516.png)
![

[2017-12-21 13:32] Justinemmerich commented on #11273
These are some example. I put the init dimensions as a title, check the framed dimensions they are changed.

[2017-12-21 13:34] Justinemmerich commented on #11273
terminal command: fastlane frameit (in screenshot directory)

[2017-12-21 13:35] alaincaltieri commented on #11189
Had no chance to have a look at it yet, sorry :(

[2017-12-21 13:42] janpio commented on #11273
https://docs.fastlane.tools/actions/frameit/#usage

So I think this might actually be expected behaviour.

To get App Store screenshots you probably could add a white background with 0 padding and not text? Not sure, but that is what I would try.

[2017-12-21 15:14] #11252 closed

[2017-12-21 15:29] ahmgeek commented on #11189
I already fixed id 🤗  will send a PR tomorrow.

[2017-12-21 15:33] krosti commented on #11009
I'm having the same issue. Any news on this?

[2017-12-21 15:38] ignazioc opened #11311 "Mute fastlane output keeping lane's output."
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
As user of `fastlane` I would like to be ab

[2017-12-21 15:38] KrauseFx commented on #11295
[code]

Looks successful to me, could you tell us more about what the error is?

[2017-12-21 15:41] KrauseFx commented on #10808
Could you give it a try on a Mac without a strict firewall, e.g. on an iPhone hotspot?

[2017-12-21 15:41] KrauseFx commented on #11059
That's awesome, thanks for confirming @kapfab 👍

[2017-12-21 15:41] #11059 closed

[2017-12-21 15:41] KrauseFx commented on #10637
Yesss 🚀

[2017-12-21 15:41] #10637 closed

[2017-12-21 15:43] jackmead515 commented on #11238
If you mean in XCode, yes. I have and it gives me the error above. I suppose this is an error related to this thread that I am participating in...

https://github.com/Microsoft/react-native-code-push/issues/662

Although I still have the issue, we can close this thread.

I do have one last question though... when I change my lane to such...

`
match(type: "appstore")
gym(
 scheme: "TesseractMobile

[2017-12-21 15:43] KrauseFx commented on #11311
Interesting - thanks for filing an issue first. What's the reason you feel strongly to want to hide those?

From my side, I'm ok with adding those env variables, but I'm not 100% sure yet I understand why it's necessary.

[2017-12-21 15:51] mlabraca commented on #11276
Also worked for me. Thanks!

[2017-12-21 16:05] janpio commented on #11238
Ok, so if you get the same error in Xcode then there is not much fastlane can do.

About how the provisioning profile / match type influences this... no idea. That seems pretty strange tbh.

[2017-12-21 16:05] #11238 closed

[2017-12-21 16:06] tangzzz-fan commented on #11295
my app has a today widget extension. but cannot found it in my app, which is archived by fastlane.
so, i want to know whether need other configuration for app including today extension. thanks.

[2017-12-21 16:29] taquitos commented on #11276
Thank you for confirming!

[2017-12-21 17:07] imanf commented on #10793
I'm also running into this issue after upgrading Fastlane to 2.70.2, when trying to run an action across multiple teams. Sample code snippet is below. Essentially, I have several teams/accounts that are linked together, and I have a properties file where team details are stored, so `ENV['FASTLANE_USER']` will always be the same. When I run my lane, after the loop iterates through a couple of the t

[2017-12-21 17:34] casz commented on #10793
We have a similar setup to @imanf :) Just a lot bigger.

All of our teams with all our app identifiers in an array and we run that each time anyone adds a new bundle id 😢
In this Fastlane repo, we also have all our devices.
Using all of the information together with produce, match, register_devices depending on the state 💜

[code]

[2017-12-21 17:41] sungjin0213 commented on #10793
This is still occurring for me. When I try to use `fastlane pem` multiple times in a row, this is happening.

[2017-12-21 17:45] ignazioc commented on #11311
Thanks @KrauseFx .
Mostly for human readability of the output of some lanes.
I have few lanes with short output that's somehow lost between the standard output of `fastlane`

[2017-12-21 18:14] KrauseFx commented on #11276
Yessss @taquitos 🚀 ❤️

[2017-12-21 18:20] KrauseFx commented on #11311
Sounds good, yah feel free to submit a PR with the new option 👍 Thanks for your contribution

[2017-12-21 19:03] #11303 closed

[2017-12-21 19:15] acegreen commented on #11266
How about getVersionNumber()?

[2017-12-21 19:32] taquitos commented on #11266
@acegreen you want the world, don't you 😜
PR incoming

[2017-12-21 19:41] acegreen commented on #11266
@taquitos I changed it on my end, was going to do a PR. No rush, if you don't get to it, I'll do it

[2017-12-21 19:49] acegreen opened #11317 "Error running fastlane swift"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines]
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Ran into the following while executing the new fastlane swift.

![screen shot 2017-12-21 at 3 27 02 pm](http

[2017-12-21 19:50] taquitos commented on #11266
@acegreen thanks, the fix just got merged. Let me know if you find anything else, I had a feeling a few of these might slip through.

[2017-12-21 20:02] acegreen commented on #11317
NEVERMIND

[2017-12-21 20:22] janpio opened #11319 "[Ubuntu] Investigate mismatch in number of tests vs. macOS"
See the Circle CI test runs here: https://github.com/fastlane/fastlane/pull/11284

macOS:

Ubuntu:

Also in the "bundle exec fastlane test" step:

macOS:

Ubuntu:

The "pending" tests are expected right now. But the mismatch between the total number of tests?

How and why is this happening?

[2017-12-21 20:33] acegreen commented on #11266
@taquitos I see a bunch of get....() methods that have no return in that file. I would return String for all of them

[2017-12-21 20:38] taquitos commented on #11266
That's a great point. One thing that prevented me from doing that is some of those only store a file somewhere, or they save an object in the lane context for later use. Maybe in those cases we could return a path, or update the action to return the value too.

[2017-12-21 22:06] RishabhTayal commented on #11111
I am getting the same error when signing with `Release` `build_type`.

[2017-12-21 22:09] RishabhTayal commented on #11111
I just added `gradle(task: 'clean')` before my `gradle` command in the lane and now it works! Here is the complete lane.

[code]

[2017-12-21 22:10] RishabhTayal commented on #11166
I just added `gradle(task: 'clean')` before my `gradle` command in the lane and now it works! Here is the complete lane.

[code]

[2017-12-22 01:20] #11295 closed

[2017-12-22 01:37] getaaron commented on #11295
@tangzzz-fan Did you figure it out? I think you need to include it in your target specification.

[2017-12-22 01:55] janpio commented on #11049
Some notes for myself:
* App Services in `produce` = https://github.com/fastlane/fastlane/blob/27aa175503e172c4045ad90f78b8feeba94fe531/produce/lib/produce/service.rb#L19:17
* How do normal provisioning profiles include these? How does `match` learn about it?

[2017-12-22 07:50] tangzzz-fan commented on #11295
Today. I tried again, I found it appeared in my app, I didn't change any configuration.(Specified different provision file for each identifier) Further, I wanna know how to include it in my target specification.can you share with me?

[2017-12-22 08:09] mbaldassarri commented on #11292
This is a good plugin but it is not exactly what I need, because it changes the entire project team. I need to change a specific target development team only.
Only this way the Service Extension can work, because it has to have the same dev team set up as the parent one.
I checked out the whole actions page and googled it but didn't find anything useful for my purpose.

[2017-12-22 09:03] Justinemmerich commented on #11273
even with a Framefile.json this is not working. I got the same dimension output as described above.

Framefile.json:
`{
  "device_frame_version": "latest",
  "default": {
    "show_complete_frame": false,
    "stack_title": false,
    "background": "./background.jpg",
    "padding": 0
  },
  "data": []
}
`

[2017-12-22 10:52] bolom opened #11323 "SystemStackError (stack level too deep):"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
 in rails environement.  gem 'rails', '5.1.

[2017-12-22 11:48] devboy opened #11324 "Bundle Identifier should not be an array"
For some reason the bundle identifier of my app is turned into an array at some point...

### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fa

[2017-12-22 12:09] untitaker commented on #11189
@aht's PR partially fixes this by using the new API endpoint where the pricing information moved to. However, we've noticed another change wrt how trials are represented in ITC.

Spaceship's IAPDetails currently maps the `freeTrialDurationType` key to `subscription_free_trial`, but since everything is an initial offer now, this key is no longer used and always set to `null`.

I don't see an easy w

[2017-12-22 13:26] milch commented on #11323
It seems like you have a second JSON gem installed (`fog-json`), is it possible that is causing the issue by interfering with the regular JSON gem?

Another thing is that it seems you haven't set up your locale settings correctly. Check out the docs here: https://docs.fastlane.tools/getting-started/ios/setup/#set-up-environment-variables

Also the crash log you posted seems to be a system crash lo

[2017-12-22 14:17] janpio commented on #11273
Ok, but you agree that the docs indicate that without Framefile you are getting what is documented?

Now on to the framefile: Can you test with padding and some text?

[2017-12-22 14:30] acegreen commented on #11266
Ah true, just to keep it simple for now, maybe for the obvious ones return String. And in the future, more use-cases it will be clear what to do with the exceptions you mentioned

On a side note, I noticed fast lane swift doesn't have a deploy_to_fabric equivalent, I thought it would be something like uploadToFabric(...)

[2017-12-22 15:27] #11084 closed

[2017-12-22 15:31] KrauseFx commented on #10187
Is this actually a fastlane issue? If you set this flag, all it does is append

[code]
to your build command, I'm not sure where those flags come from, but yah. How do we need to change the flags to make it work? I haven't used it myself.

Sorry for the late response also

[2017-12-22 15:34] KrauseFx commented on #11292
You can check out the implementation of it [over here](https://github.com/fastlane/fastlane/blob/master/fastlane/lib/fastlane/actions/update_project_team.rb). Since _fastlane_ can't do this specific thing right now, you can submit a PR adding the functionality to this action, or you can build & publish a fastlane plugin 👍

[2017-12-22 15:36] KrauseFx commented on #11324
Yah, under the hood it's handled as an array to iterate over it. Can you share your configuration files so we can take a look?
Also we need the complete output of when you run it, in particular the summary table when running _match_. Thanks 👍

[2017-12-22 15:45] KrauseFx commented on #10822
Hey @nickolas-pohilets, really sorry for the delay here, we must have missed your proposal. Is this still an issue, and is this still something you're interested in preparing a PR for? Also, what's the best way for me to reproduce the issue?

[2017-12-22 16:05] milch commented on #11302
I have some experience with Docker, I can do that 👍🏼

[2017-12-22 16:10] janpio commented on #11302
Wow, that would be awesome.

#11242 is merged, so you should be able to edit the `circle.yml` and see results of using the Docker container on Circle CI directly.

[2017-12-22 16:11] #11317 closed

[2017-12-22 17:25] dms90 commented on #9389
@anticafe it seems that is fixed now. Which version of Fastlane are you using?

[2017-12-22 18:06] KrauseFx commented on #11267
Thanks for reporting this, taking a look at it now, I'll keep you posted https://twitter.com/Cocoanetics/status/944266078120759298

[2017-12-22 18:56] cpetzel commented on #10806
I am seeing this problem as well.

[2017-12-22 20:56] dougsuriano commented on #11324
Also seeing errors regarding identifying build identifiers when using `match` ... did a little debugging.

I think this change 36b56785a6bebfa54ee727ac170228f0eb4ce24d is causing the [Match runner](https://github.com/fastlane/fastlane/blob/master/match/lib/match/runner.rb#L28) to always think the `app_identifier` is an array. As a result, when passing in only 1 bundle identifier, `Spaceship.app.fi

[2017-12-22 21:12] taquitos commented on #11324
I'm taking a look at this, it was supposed to be fixed in that commit @dougsuriano 😭

[2017-12-22 21:13] dougsuriano commented on #11324
@taquitos No worries! Lemme know if I can be of any help. Happy Holidays!

[2017-12-22 21:20] taquitos commented on #11324
@dougsuriano thank you, you too!

[2017-12-22 21:22] KrauseFx commented on #11324
We shipped https://github.com/fastlane/fastlane/pull/11212 a few days ago, are you on the latest fastlane release?

[2017-12-22 22:01] taquitos commented on #11324
Ok, I'm going to submit a patch that should fix this, it's just temporary though. A better fix is to address `ConfigItem`s that have parameters with multiple `type`s , for example, 'app_identifier' can be a `String` or `Array`.

I want to unblock folks though, so I'm noting it in the code and on this issue. I wouldn't normally do this since I believe in fixing it right, the first time, but I just

[2017-12-23 09:44] fruitcoder commented on #11119
I also get an error. This is the verbose output:

[code]

[2017-12-23 10:05] rogerkerse commented on #11101
No seperate repos

[2017-12-23 11:13] christian-smith commented on #10426
I had this fail again and I noticed that in Terminal if I didn't cd into the directory using the exact casing fastlane would fail.  So if your directory is ReactNative make sure to $ cd ReactNative/ios before running fastlane.  For example $ cd reactnative/ios would change the cwd  to all lowercase instead of the proper casing on the directory.  There must be a really picky function call when chec

[2017-12-23 13:23] KrauseFx commented on #10834
Yeah, agreed, having react native docs would be awesome. Unfortunately I don't have any React Native experience, so I'm not in a position where I'd feel comfortable defining those best practices

[2017-12-23 15:38] janpio commented on #10834
Hey @kaelumania, do you have experience with React Native?
If yes, could you maybe create an example repository `react-native-fastlane` that follows the suggestions of this article and what you yourself learned about using fastlane? That would be a good start to jump start any documentation  effort.

[2017-12-23 17:37] janpio opened #11335 "Speed up Circle CI builds"
This is an issue to collect ideas how to speed up the builds on Circle CI. Right now it takes 10/5 minutes on macOS/Ubuntu to run a build, which is not bad but could still be much better.

[2017-12-23 17:38] janpio commented on #11335
@milch started work on this with https://github.com/fastlane/fastlane/pull/11334 where he enabled the rubocop cache which saved ~40 seconds.

[2017-12-23 17:45] milch commented on #11335
I had some more ideas:

- It seems around ~1 min is taken up by checking the docs repo. That step is not using the gem cache, so it is (needlessly) re-done and gems are re-installed. If the same cache would be used there, or even a separate cache could be used, we'd be able to save that time.
- On macOS a lot of the time is taken up by things like homebrew updating. Maybe that can be cached or avo

[2017-12-23 17:56] milch commented on #11335
Obviously the most time is taken up by RSpec, at least on Ubuntu. Looking at CPU usage of RSpec on my laptop it seems like it's not parallelized at all, so that should be another way to speed it up.

[2017-12-23 18:01] eballeste commented on #10426
Thank you @christian-smith!! I finally got this to run and it was because more than one of the directories had caps in them.

[code]

correct case-sensitive path:
[code]

[2017-12-23 18:23] milch commented on #11335
Did some quick smoke testing using the [`parallel_tests`](https://github.com/grosser/parallel_tests) gem, on my laptop I get a pretty big speedup: 137 seconds for parallel_tests vs. 321 seconds without. Seems like a worthwhile thing to explore

[2017-12-23 18:34] janpio commented on #11335
If analysis of the timings in the one **big** test step tells us that several of the sub-steps take a considerable amount of time, it might be worth splitting this into multiple steps - that might be parallelized on Circle CI itself:
https://circleci.com/docs/2.0/parallelism-faster-jobs/
https://circleci.com/docs/2.0/sample-config/#sample-configuration-with-parallel-jobs
(We are already using this

[2017-12-23 18:38] janpio commented on #11335
Running tests on newer machines is usually faster. Circle CI has an option to choose the Ubuntu version: https://circleci.com/gh/fastlane/fastlane/edit#build-environment But I am not sure if this affects our container at all with the way it is setup right now.

[2017-12-23 18:42] milch commented on #11335
Ah, good point. I think the rubocop step only has to be done once, same with checking the docs repo, so both could be done separately from the macOS/Ubuntu tests.

Also yeah, I believe when running docker containers that setting doesn't do anything

[2017-12-23 18:52] janpio commented on #11335
We could run rubocop on Docker, then only start the tests on Docker and macOS.
One could think about running the docs testing stuff while the tests are still running (but we would have to split those out in their own step for that).

[2017-12-24 07:23] odrobnik commented on #11267
@krausefx nice work!

[2017-12-24 10:37] nickolas-pohilets commented on #10822
For our project, I solved this by calling xcodebuild directly, without scan(). To reproduce the issue, you can run `scan()` for UI tests with SUT doing NSAssert(NO).

I wrote a simple C program that copies data from stdin to stdout, while monitoring activity of stdin in a background thread. It takes two arguments - a timeout in seconds (180), and a command to execute (`xcrun simctl shutdown DEVICE

[2017-12-24 11:25] Jules2010 opened #11337 "Can scan use the same ui tests used in snapshot and capture autolayout runtime errors?"
This isn’t a bug, but an implementation question.

I use snapshot with a uitest, which has the screenshot function calls.

I’d like to reuse this ui test to capture any autolayout runtime issues.

Is this possible, if so can someone provide me with some guidance and sample configuration?

Thanks.

[2017-12-24 12:00] milch commented on #11335
I'd split rubocop, docs verification both into separate steps, and then have only the tests run on Docker and macOS. It's cleaner that way, plus `rubocop` is gonna slow down a bit once my missing require checker is merged in

[2017-12-24 14:29] getaaron commented on #10822
I think you should be able to write that in Ruby. Would be nice to avoid introducing additional languages if possible.

Will this rerun the test that didn’t finish?

[2017-12-24 20:17] nickolas-pohilets commented on #10822
No, test manager will move to the next test.

[2017-12-24 22:31] grosch commented on #10847
I just gave up on using this, sorry.

[2017-12-24 22:31] #10847 closed

[2017-12-25 10:44] pbeast commented on #11162
Guys, any updates?

[2017-12-25 19:57] Stas-Buzunko opened #11342 "Suggestion for docs"
Maybe it's obvious for other people, but I've been fighting with proxyError for 4 hours.

https://docs.fastlane.tools/actions/deliver/#http-proxy

1) I'm a new mac user and it took me a lot of time to find out how to open xcode's contents
2) When I found net.properties I switched java.net.useSystemProxies to true, that didn't help
3) It took me some time to guess I needed to use 443 port

My sugge

[2017-12-25 22:31] vanniktech commented on #10878
Nope. Does not.

[2017-12-26 12:16] chandankumar-mob-incedo opened #11343 "While using sign_apk.rb I am facing /.rvm/rubies/ruby-2.3.3/lib/ruby/2.3.0/open3.rb:199:in `spawn': [!] wrong first argument"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

While using sign_apk.rb I am facing /.rvm/rubies/ruby-2.3.3/lib/r

[2017-12-26 12:19] odrobnik opened #11344 "Pilot should report Transporter Error Output if it succeeds"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

There's a red error line from iTunes Trans

[2017-12-26 12:49] odrobnik commented on #11344
No, not a code signing issue. @KrauseFx I added further info, that I suspect empty beta test infos being the problem.

[2017-12-26 16:28] taquitos commented on #11162
I'm having a difficult time reproducing this with my own account. Any chance you could you run this script and capture the request and response that is being made? I think that would point us in the right direction. There must be some piece of data that the server doesn't like.

[2017-12-26 16:42] bolom commented on #11323
I have remove it. I have got same error. :(

[2017-12-26 16:55] KrauseFx commented on #11342
Sounds like a great idea, would you mind submitting a pull request to add the information that's currently missing? https://github.com/fastlane/fastlane/blob/master/fastlane/lib/fastlane/actions/docs/deliver.md 👍

[2017-12-26 18:32] KrauseFx commented on #11344
There are already GitHub issues for this problem, duplicate of https://github.com/fastlane/fastlane/issues/11220. Closing this for now, and continuing the discussion over there

[2017-12-26 18:32] #11344 closed

[2017-12-26 18:55] odrobnik commented on #11220
For me this appears if I haven't filled out the external BETA required fields.

[2017-12-26 19:46] bdavid68 opened #11345 "Not working for cocoapods project."
I am going to use Fastlane for my React Native project.
Everything was working perfectly. But after I update the project to cocoapods project, it's not working.
Here is my log.

Found no similar issues. To create a new issue, please visit:
https://github.com/fastlane/fastlane/issues/new
Run `fastlane env` to append the fastlane environment to your issue
/Users/admin/.fastlane/bin/bundle/lib/ruby/g

[2017-12-26 21:48] KrauseFx commented on #10877
Sorry for not coming back earlier. We're happy to review a PR for this, it seems like this would be a useful action to be built-in :)

[2017-12-27 01:46] kapfab commented on #11085
After a few adaptations, our internal tests seem conclusive.
It's now time for the rest of the world to make sure PR #11346 makes `resign` work as they expect!

[2017-12-27 01:48] kapfab commented on #11125
If someone wants to share his thoughts about PR #11346…

[2017-12-27 06:22] tobiasKaminsky commented on #9974
@adellibovi have you started already? :-)
(mainly asking because of the bot...)

[2017-12-27 07:42] chandankumar-mob-incedo commented on #11343
@KrauseFx Please give your input on this issue.

[2017-12-27 08:05] KrauseFx opened #11348 "Running the fastlane tests will cause one of the fixture Xcode projects to be modified"
Run
[code]
and run
[code]

This should be fixed by either not changing the project, or reverting those changes

[2017-12-27 08:32] allen8300 opened #11349 "Call 'fastlane' fail when in bash scrip"
I'm working with AppleScript, it's calling my bash script:
![screen shot 2017-12-27 at 4 41 25 pm](https://user-images.githubusercontent.com/1751906/34376059-d0754008-eb24-11e7-9c3d-c1755adb2951.png)

And here is my bash script:
![screen shot 2017-12-27 at 4 31 03 pm](https://user-images.githubusercontent.com/1751906/34375801-5f313d76-eb23-11e7-87c5-857ace5abcc5.png)

But I got error:
![screen sho

[2017-12-27 08:43] allen8300 commented on #11349
@fastlane-bot
Thanks so much man, I updated my question.

[2017-12-27 09:34] KrauseFx commented on #11349
Seems like Apple script doesn't access your shell environment. You can try the following

1. Run this in the terminal manually `which fastlane`
1. Copy the full path and use that in your Apple script

[2017-12-27 09:39] KrauseFx commented on #11345
You seem to have forgotten to share your `fastlane env` output, in particular the `Fastfile`. It seems like you're using the `automatic_code_signing` action, and passed no path, or an invalid path.

[2017-12-27 09:39] KrauseFx commented on #11343
Mh, seems like `sign_apk` isn't a fastlane action, but a third party action or plugin? If so, make sure to reach out to the original author

[2017-12-27 10:18] Panajev commented on #11349
Try this:

[code]

Depending on how your shell is setup, this may do the trick.

if that fails too try to use bash --login to invoke your shell script from AppleScript.

[2017-12-27 10:57] #11345 closed

[2017-12-27 12:51] KrauseFx opened #11350 "fastlane docs deployment doesn't work"
[code]

### Stack

| Key                         | Value                                                    |
| --------------------------- | -------------------------------------------------------- |
| OS                          | 10.12.6                                                  |
| Ruby                        | 2.3.0                                                    |
| Bundler?

[2017-12-27 13:06] pbeast commented on #11162
The call to `profile.update!` leads to the following requests sequence: `https://developer.apple.com/services-account/QH65B2/account/ios/certificate/listCertRequests.action` followed by 25 identical calls to `https://developer.apple.com/services-account/QH65B2/account/ios/profile/regenProvisioningProfile.action`: (I masked potentially sensitive information with `????`)

**Request:**
`POST /service

[2017-12-27 13:24] #11350 closed

[2017-12-27 13:26] KrauseFx commented on #11162
Can you try adding a `profile.reload` before you run `profile.update!`?

[2017-12-27 13:32] pbeast commented on #11162
`Fastfile:1622:in 'block in parsing_binding': [!] undefined method 'reload' for #<Spaceship::Portal::ProvisioningProfile::Development:0x00007f917fb5b978> (NoMethodError)`

fastlane version: 2.71.0

[2017-12-27 15:29] jaumevn opened #11354 "Update Xcode Code Signing"
### Issue Description
I have a white-label app project on iOS that needs to use different provisioning files and certificates for specific environments. I've successfully integrated `match` with a git repo and different branches per each project, it creates the new certificates and provisioning if needed, otherwise fastlane download and install them.

The issue I have is that when fastlane is comp

[2017-12-27 17:19] andrey-lisovskiy opened #11355 "How to help match choose provisioning profiles automatically?"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Hi,

I have one project with a multiple ta

[2017-12-27 17:35] taboulot opened #11356 "GYM output filename is not correct."
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

I recently update fastlane to the last ver

[2017-12-27 18:14] chshapiro opened #11357 "Match Certificates"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
What happens when a certificate on the Appl

[2017-12-27 20:55] anushkmittal commented on #9589
I'm using `match` but facing the same problem. Is it necessary to generate the .plist manually?

Here's my current lane:

[code]

[2017-12-27 21:20] pav1790 commented on #11356
Am I right in assuming that you mean app.ipa.ipa? Can you share your output? I am not deeply familiar with it but it looks like it should be removing the .ipa file at the end. There are tests to check that as well.

In the meantime, can you try to just give the file name without ipa?

[2017-12-27 21:21] casz commented on #9589
with Match in hand, you should not need to specify export_method or export_options. Match will set the proper options for export

[2017-12-27 22:19] pav1790 commented on #11348
@KrauseFx Can you see if the fix above would be okay?

[2017-12-27 23:40] pav1790 commented on #11357
https://github.com/fastlane/fastlane/blob/master/match/lib/match/spaceship_ensure.rb#L40

**_I believe_** this would get called everytime. It checks if the certificate exists. If not, it will error out.

[2017-12-28 00:30] Luke-SF opened #11359 "Fastlane deliver always saying it failed"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

The end of fastlane deliver script is now

[2017-12-28 05:17] bsyg opened #11360 "[!] undefined method `build_settings' for nil:NilClass (NoMethodError)"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

##### Complete output when running fastlan

[2017-12-28 07:21] bsyg commented on #11360
@fastlane-bot yes, it is the problem of code signing.it has resolved.Thank you very mach!

[2017-12-28 07:21] #11360 closed

[2017-12-28 08:51] bolom commented on #11323
I have created an new project with the basic gem and fastlane.

I have got the same error. My only solution so far is to call an external ruby script in Rails with the same code :(

[2017-12-28 10:11] sehmus opened #11361 "Fastlane Exit Status 65 Error"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
Hello,
I have many projects and I'm using f

[2017-12-28 10:26] ycoupe opened #11362 "Fastlane with multiple apps"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

It's possible to use screengrab for multip

[2017-12-28 11:04] andrey-lisovskiy opened #11363 "Cannot import testers to pilot"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
Hi,

I cannot import testers from .csv file

[2017-12-28 11:06] andrey-lisovskiy commented on #11355
Was able to do this by adding following to fastlane.

[code]

[2017-12-28 13:23] BAndonovski commented on #11220
Got the same issue, partially solved it by disabling the firewall on macOS.
I say partially because I still get the error `[Transporter Error Output]: description length:1656206`, but the uploads are successful.

[2017-12-28 14:26] GandjaFuzz opened #11364 "[Deliver] cannot set price"
When upload app having this error after upload screenshot
[code]

[2017-12-28 14:54] blindmonkey opened #11365 "Help: Can't get build to work with different App ID"
### New Issue Checklist

- [ ] Updated fastlane to the latest version (I'm avoiding doing this because things work with a different App ID and this is likely an error on my part)
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](ht

[2017-12-28 15:24] miixell opened #11366 "undefined method for Spaceship::TestFlight::Tester"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
Hello!
So I'm trying to find and then remov

[2017-12-28 16:50] EricNetsch commented on #11364
same issue here. started happening yesterday.
I'm currently using :
`price_tier: 0`

[2017-12-28 16:59] taboulot commented on #11356
Yes you right. The ouput filename is really app.ipa.ipa.

The solution we found is, like your suggest,  removing the .ipa file at the end of the GYM_OUTPUT_NAME variable => It works now.

'.ipa' seems to be no longer removed.

An other team updated  fastlane to 2.71 and they have experimented the same issue ...

[2017-12-28 18:06] gerbil802 opened #11367 "Specifying 'release notes' when metadata is in a custom folder"
Hi,

Is there a way to use Deliver with a custom metadata folder, yet specify the _release notes_ in a  parameter? The reason I'm asking is because I don't want to edit the `release_notes.txt` file for each localization.

In other words, is it possible to specify default release notes when there are localizations in the metadata folder?

[2017-12-28 18:21] choiks14 commented on #11105
same here.

[2017-12-28 19:33] filograno commented on #11364
I have the same issue.

[2017-12-28 21:02] EricNetsch commented on #11364
The issue was introduced in release 2.71.0.
I just backdated to release 2.70.3 and everything works as expected again.

@filograno  @GandjaFuzz @KrauseFx
I suggest backdating to get around this issue until further notice.

[2017-12-28 21:35] itinance commented on #10183
I ran into this issue with a specific project, not the others. Any ideas? I've upgraded fastlane to latest version. I run XCode Version 9.0 (9A235) on MacOS Sierra.

[2017-12-28 22:52] imanf commented on #10793
Are there any updates on this? I'm including another example where this is happening. I'm creating 10 provisioning profiles using sigh. The first 9 were created successfully, but the 10th one failed with a 503 error.

[code]

[2017-12-29 04:05] willbt opened #11368 "There is no route for the path 'apps/App_ID/pricing' error"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [ ] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [ ] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

/Users/distiller/.gem/ruby/2.3.5/gems/fast

[2017-12-29 04:13] mgrebenets opened #11369 "[scan] Scan fails with error when unavailable simulator is in Booted state"
#

### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

`scan` fails with error when I happen t

[2017-12-29 05:34] potemkinaleksey opened #11370 "Passing parameters to Swift lane"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Hello. Thank you for Swift support for wri

[2017-12-29 08:16] allen8300 commented on #11349
@KrauseFx @Panajev
Yes, it works, I did it like this:
#fastlane env
export PATH="/Users/XXX/.rbenv/versions/2.4.3/bin:$PATH"
Thanks so much, man.

[2017-12-29 08:16] #11349 closed

[2017-12-29 08:48] LiuLian1992 opened #11371 "Ran into error while trying to connect to iTunes Connect"
### Issue Description
Ran into error while trying to connect to iTunes Connect / Dev Portal: {"data"=>nil, "messages"=>{"warn"=>nil, "error"=>["insufficient privileges"], "info"=>nil}, "statusCode"=>"ERROR"}
##### Complete output when running fastlane, including the stack trace and command used
  ImageMagick_iphone git:(master) ✗ fastlane init
/Library/Ruby/Gems/2.0.0/gems/fastimage-2.1.0/lib/fast

[2017-12-29 11:27] KrauseFx opened #11372 "[Swift] notify users to update their Swift files for fastlane.swift"
This isn't built yet, as `fastlane.swift` is still in beta. With most fastlane releases, the Swift files actually change, so we need to notify the user + let them know how to update. Ideally this looks like:

1. Show a message that updated Swift header files are available, ask the user if they want to update
2. Update the files for them
3. Ask the user to commit the changes

[2017-12-29 12:53] andrey-lisovskiy commented on #11355
Still searching solution to choose provisioning profile automatically on Jenkins.

[2017-12-29 14:02] KrauseFx commented on #11355
The [Xcode guide](https://docs.fastlane.tools/codesigning/xcode-project/) didn't help? It covers that..

[2017-12-29 14:41] KrauseFx commented on #11370
Hey @potemkinaleksey, it might not be possible right now - however feel free to dive into the code base and look into this, it's probably a really useful feature :)

[2017-12-29 15:20] taquitos commented on #11370
Really useful but not possible right now. I don’t think it would take a lot of effort to do, it might just look like taking a map of key/value pairs in the lane. I think they’d need to be Strings.

[2017-12-29 15:31] postmechanical commented on #10894
Still broken

[2017-12-29 17:47] pbeast commented on #11162
Guys, the issue is still there :-)
The problem could be fixed by rolling back the following piece of code:
`@csrf_cache ||= {}` to `@csrf_cache || {}` (Introduced in 'Ensure CSRF tokens are cached #10720')

I understand that cancels the CSRF tokens caching idea, but looks like, tokens are being updated by server more frequent than you thought.

[2017-12-29 18:13] KrauseFx commented on #11162
Hey @pbeast, sorry it's not something we can investigate on our side unfortunately, since it doesn't seem to affect any of the _fastlane_ tools, but only in certain ways _spaceship_ is used. However feel free to prepare a PR and we're happy to review & merge it. I'd not like to see a revert of the PR, but instead a fix of the actual problem that's cause the request to fail.

[2017-12-29 19:06] pav1790 commented on #11368
@willbt Check out the conversation here : https://github.com/fastlane/fastlane/pull/11314

[2017-12-29 19:45] KrauseFx commented on #10894
Hey @postmechanical, sorry for not coming back earlier. Just to confirm: it probably works fine when you have a `Fastfile` and pass an array there, right? It seems like it's just the way command line parameters are handled right now, as they don't seem to support arrays. I could imagine this is caused by the code in `one_off.rb` 👍

[2017-12-29 19:46] KrauseFx commented on #11371
[code]

Looks like your account doesn't have enough permission to access your applications.

[2017-12-29 19:47] KrauseFx commented on #11349
Awesome 👍

[2017-12-29 19:48] KrauseFx commented on #10793
Hey everyone, sorry we're not actively working on this right now. We've reported the issue with Apple, but haven't heard back.

For now as a temporary workaround, can you use `sleep(10)` in-between calls to make it work? Or is that not enough?

[2017-12-29 19:49] KrauseFx commented on #10793
It does seem like many people are affected by this... can you confirm the above workaround doesn't work, and I'll see if I can find a better solution for this.

[2017-12-29 19:49] KrauseFx commented on #11367
Yes, passing the value via a parameter as part of the `Fastfile` will do the trick :)

[2017-12-29 19:55] KrauseFx commented on #11356
<img width="719" alt="screenshot 2017-12-29 08 55 02" src="https://user-images.githubusercontent.com/869950/34446354-929c6f88-ecda-11e7-84d4-2de4c00858c4.png">

Seems like it works using CLI, let me try with env variables

[2017-12-29 19:56] KrauseFx commented on #11356
Yep, only doesn't work using env variables, I'll push a fix in a minute

[2017-12-29 19:59] KrauseFx commented on #11356
Thanks for the report, this will be fixed in the next release 👍 https://github.com/fastlane/fastlane/pull/11377

[2017-12-29 19:59] KrauseFx commented on #11359
Please share the complete output and config files

[2017-12-29 20:00] KrauseFx commented on #11357
You mean when you revoke an existing one? Yah, _match_ will help you resolve it, or even resolve it for you 👍

[2017-12-29 20:00] KrauseFx commented on #11348
Awesome, thanks @pav1790

[2017-12-29 20:01] KrauseFx commented on #9589
I'll lock this issue for now as the original problem was resolved - if you're running into the same problem please submit a new issue, so we can help you 👍

[2017-12-29 20:02] KrauseFx commented on #11354
The code signing guide above should yield the answers you're looking for

[2017-12-29 20:02] KrauseFx commented on #11361
Please share the complete output, thanks 👍

[2017-12-29 20:03] KrauseFx commented on #11362
I'd recommend using a `Fastfile`, which you get when you run `fastlane init`, and then have 2 different lanes, each for one app 👍

[2017-12-29 20:04] #10884 closed

[2017-12-29 20:06] KrauseFx commented on #11337
It depends on if your tests cover those issues, fastlane itself just runs tests using Xcode

[2017-12-29 20:08] KrauseFx commented on #10878
Sorry for the late reply 🎄  Yeah, this sounds like a great area to get started contributing, check out https://github.com/fastlane/fastlane/blob/master/screengrab/lib/screengrab/page.html.erb, which is where the HTML page gets generated 👍

Let me know if you need any help getting started

[2017-12-29 20:37] imanf commented on #10793
Yes, that workaround does work and would be fine for a temporary
workaround. Thanks!

On Fri, Dec 29, 2017 at 2:49 PM, Felix Krause <notifications@github.com>
wrote:

[2017-12-29 21:19] postmechanical commented on #10894
@KrauseFx Correct. It works fine in a `Fastfile`, but that's not the use case of this issue.

[2017-12-29 22:10] mattmanske commented on #11243
Having the same issue on v 2.71.0 - dropping to v 2.68.2 worked though

[2017-12-29 23:38] kylebrowning commented on #11071
Im getting this as well. Which config.rb file?

[2017-12-30 13:09] adellibovi commented on #9974
Hi @tobiasKaminsky, not really :) but I would still like to work on it

[2017-12-30 16:25] #11356 closed

[2017-12-30 17:48] KrauseFx commented on #11071
@kylebrowning Please submit a new issue and share your configuration files, thanks 👍

[2017-12-30 17:54] KrauseFx commented on #11243
Thanks everyone for reporting, I'd love to resolve this issue for you, but nobody shared their configuration file with me 😢

Related commits it seems:
- https://github.com/fastlane/fastlane/commit/36b56785a6bebfa54ee727ac170228f0eb4ce24d
- https://github.com/fastlane/fastlane/commit/0151fd557bd7e8d48f7bbdbc8afe747d8dc07e55

Related issue
- https://github.com/fastlane/fastlane/issues/11324

[2017-12-30 17:55] KrauseFx commented on #11243
I'm happy to work on and ship a fix for this, but I do need a way to reproduce the problem. Thanks :)

[2017-12-30 18:07] KrauseFx commented on #11162
Sounds like a great approach to me :) Wanna submit a PR for it? 👍

[2017-12-30 18:10] pbeast commented on #11162
Will do

Regards,
Pavel Yankelevich

On 30 Dec 2017, 20:07 +0200, Felix Krause <notifications@github.com>, wrote:

[2017-12-30 18:25] KrauseFx commented on #11162
Thanks @pbeast  ❤️ 🚀

[2017-12-30 23:03] danstepanov commented on #11243
@mattmanske How did you drop to v 2.68.2? I tried using `sudo gem install fastlane --version 2.68.2` but upon running `fastlane --version` afterwards, it still says 2.71.1 :(

@KrauseFx Which config file are you referring to? My project doesn't seem to have anything like a fastlane.config or anything like that.

[2017-12-30 23:05] danstepanov commented on #11243
Steps to recreate on my end, specific to my project are to run `fastlane match`, specify my git url that contains my certificates, pick my individual dev account, pass in the bundle id for my app and then this error appears.

[2017-12-30 23:09] danstepanov commented on #11243
Figure out how to downgrade fastlane `sudo gem uninstall fastlane` and then just pick the version to uninstall, in this case 2.71.1

[2017-12-31 02:55] akamud commented on #11009
I can confirm this is happening to me too. Fastlane 2.71.1.

[2017-12-31 10:36] Jules2010 commented on #9651
Although as mentioned above this isn't required by itc, I think frameit should still provide it.

[2017-12-31 15:36] KrauseFx commented on #11243
@danstepanov Where do you define the app identifier? Do you have a Fastfile, Appfile or Matchfile? If none of them, do you use an environment variable? If not, do you let _fastlane_ automatically detect the bundle identifier?

[2018-01-01 17:25] Jules2010 opened #11390 "Snapshot, no ui script errors produced with concurrent_simulators"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
When using snapshot by default and when usin

[2018-01-02 07:37] tbaranes commented on #9775
I don't think that issue is solved even if @pedrodelavega's answer is helping. That feature still need real documentation.

[2018-01-02 10:26] andrey-lisovskiy commented on #11355
@KrauseFx Hi, the app has one Universal target and bundle id is changing by _update_app_identifier, update_info_plist_ each time.  How can I set provisioning profiles automatically, without choosing manually _match Appstore Foo_?

[2018-01-02 10:46] KrauseFx commented on #11355
Check out the available actions https://docs.fastlane.tools/actions/#code-signing

Looks like https://docs.fastlane.tools/actions/update_project_provisioning/ might help?

[2018-01-02 11:11] palusik86 commented on #11310
Same problem here, `crashlytics` action is completed with success, but build is not visible in Fabric, I'm on 2.6.4, Will try to update and check once again.

[2018-01-02 11:47] andrey-lisovskiy commented on #11355
Sorry, how can I found path for provisioning profile on Jenkins?

[2018-01-02 12:10] andrey-lisovskiy commented on #11355
So, as I understand:
I should download provisioning using `get_provisioning_profile`
Provide path to provisioning profile in `update_project_provisioning`
Right?

[2018-01-02 12:52] chandankumar-mob-incedo commented on #11343
@KrauseFx Yes correct. It's a third party plugin. I will check with the original author. Thanks for your response.

[2018-01-02 13:59] ima747 commented on #11343
I am seeing the same behavior as well after updating to 2.71.1. Will investigate the custom action. @chandankumar-mob-incedo please update if you find anything and of course I will do the same.

[2018-01-02 14:41] sharplet commented on #11343
I also had this issue with a custom action in my project, and the ultimate cause was a change to the `Fastlane::Actions#sh` signature: https://github.com/fastlane/fastlane/commit/bb42e90bfc84bb64f1bb77470d4b558c5e47a773#diff-1199e480ea97c3165a58c7afdc48f00d.

Basically, you now need to pass a variadic argument list to `sh`, rather than an array. This is consistent with Ruby's various process launc

[2018-01-02 18:08] andrey-lisovskiy commented on #11355
Was able to do this with above.

[2018-01-02 18:08] #11355 closed

[2018-01-02 18:25] fjcaetano commented on #10877
@KrauseFx no problem. It's not a big deal if it seems there won't be much use for it, or if you think there are already too many actions.

I'll start working on it then, if you think there's room for it. I thought of a few commands for it:

- *build*: to build the swift project.
- *test*: to run tests target.
- *clean*: to clean the project before building.
- *reset*: to wipe the cache/build folde

[2018-01-02 18:41] ima747 commented on #11343
Changing line 30 linked by @sharplet above to

Fastlane::Actions.sh(sign_cmd.join(" "))

Appears to fix it for me.

I had to make similar modifications to the zipalign action I'm also using. Search for Fastlane::Actions.sh and modify the array args to join with spaces and it should be good. I dropped the log: true/false values everywhere since it's now a couple different log args and default is ve

[2018-01-02 18:46] hjanuschka commented on #10944
hey @pablog ✋

i think, it is because `spaceship` itself is not bound to the Appfile/Deliverfile/Whateverfile.
there is only 2 places in the code where `try_fetch_value` is used, `playground` and `spaceauth` - both some special edge-cases. (hope i am not wrong @KrauseFx )

so as in your PR https://github.com/Wolox/fastlane-mobile/pull/1 i think its correct to add the team selection code at that pl

[2018-01-02 18:48] cthos opened #11392 "Gym: Same File Error when Project name is in Cyrillic"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

There is actually an existant issue with a

[2018-01-02 18:54] KrauseFx commented on #11355
Awesome, glad to hear 👍 Have fun @andrey-lisovskiy, and welcome to the fastlane community

[2018-01-02 19:00] cthos commented on #11392
Alas, I wish it were that simple, @fastlane-bot.

[2018-01-02 19:04] hjanuschka commented on #11131
@alexrs  the underlying issue is that the gradle.run does not support the `error_callback` block that is used in `sh_helper.rb` - there for it just bails out with `shell_error!("msg")` throwing the "generic" `FastlaneShellError`  without any further information.

the change itself, would be a bit more work.
however maybe one of the following paths solves your issue, and gets you rolling again

# c

[2018-01-02 19:08] sharplet commented on #11343
I'd recommend `*sign_cmd` rather than `sign_cmd.join(" ")`, as that will handle escaping correctly.

[2018-01-02 19:10] hjanuschka commented on #11392
@cthos can you rerun your lane with `--verbose` so we'd get to see the stacktrace of gym?
maybe the `same_file`  is not the real issue.

like:

`fastlane --verbose ios dev`

*keep in mind to remove sensitive information*

[2018-01-02 19:12] hjanuschka commented on #11343
@jdee, @KrauseFx  i wonder if we can support both `variadic`  and `array` arguments, as this seems to break plugins. ?

[2018-01-02 19:15] KrauseFx commented on #10877
I haven't used SPM myself, so I can't say too much about the specifics here. Maybe someone with more experience wants to chime in?

[2018-01-02 19:15] KrauseFx commented on #11343
@hjanuschka did we break this, or is this just an extra way we'd support?

[2018-01-02 19:17] cthos commented on #11392
Ah, yeah that's my fault for forgetting to redirect stderr to my output file.

<details><summary>Details</summary>

# Output

``

[code]
</details>

[2018-01-02 19:24] KrauseFx commented on #9389
Hey everyone, it seems like this happens when you haven't fully on-boarded your app to Fabric. Can you make sure you can deploy a new Beta build using the Fabric Mac app, and then try it again with _fastlane_?

[2018-01-02 19:25] orta commented on #10877
Those are basically all the commands I use in SPM when working on Danger Swift

[2018-01-02 19:26] gabceb commented on #9389
I have not tried this for at least a month but unless something has changed I can successfully upload via the Android Studio plugin but not via Fastlane

[2018-01-02 19:26] hjanuschka commented on #11392
ok i think i got it:
fastlane/gym/lib/gym/generators/package_command_generator_xcode7.rb (:62)
[code]

i think the `downcase` is the culprit. are you capable of editing fastlane and running modified code?

i'd try:
[code]

[2018-01-02 19:28] cthos commented on #11392
Sure, I've not forked Fastlane before, but I can give that a shot right quick.

[2018-01-02 19:30] hjanuschka commented on #11392
you can also try passing `force`  according to docs, this should also work. http://ruby-doc.org/stdlib-2.0.0/libdoc/fileutils/rdoc/FileUtils.html#method-i-move  and ignore the fact that they are the same, but i am not 100% sure

like:

[code]

[2018-01-02 19:33] ima747 commented on #11343
@sharplet I tried that first but it didn't work for no reason I could figure out (my Ruby skills are virtually non existant). Maybe I'll assume fat fingers and give it another try.

@KrauseFx It was definitely a change in Fastlane. My build process has been working fine with these custom actions for at least 5 months, just updated Fastlane today after the holidays and boom. It looks like the sh ac

[2018-01-02 19:36] hjanuschka commented on #11343
@KrauseFx yes i think we broke it, https://github.com/fastlane/fastlane/commit/bb42e90bfc84bb64f1bb77470d4b558c5e47a773#diff-1199e480ea97c3165a58c7afdc48f00dL30  - removed the `kind_of?(Array)` stuff, not sure how to fix it right now with the `*`.

[2018-01-02 19:45] cthos commented on #11392
@hjanuschka - So:

[code]

Works fine, and eliminates the error.

Passing `:force =>` to mv does not work, but I'm not exactly sure why. Issuing a standard `mv -f` to the filesystem works without complaint:

[code]

[2018-01-02 19:49] jdee commented on #11343
I guess I broke that. Apologies. It's hard to support both forms without ditching something. Supporting an array would prevent this kind of usage: https://github.com/fastlane/fastlane/blob/master/fastlane/spec/helper/sh_helper_spec.rb#L49. I don't know if that's something Fastlane really needs to support, but one of the benefits of this approach is that it removes code and just allows you to do an

[2018-01-02 19:50] cthos commented on #11392
Same problem if I do it directly from `irb`:

[code]

[2018-01-02 20:09] hjanuschka commented on #11392
@cthos ok seems that we are getting close to an fix.

can you try:

[code]

i think `.downcase` was missed the lefthandside in `path`

[2018-01-02 20:12] hjanuschka commented on #11392
ohh infact this might crash/fail on systems with insenstive systems.

[2018-01-02 20:13] cthos commented on #11392
@hjanuschka - Confirmed that adding the `.downcase` on the left-hand side produces a successful build.

[2018-01-02 20:14] cthos commented on #11392
Yeah, I think the default for APFS is case-insensitive - and it's what Travis-CI is running (which is where I first noticed this problem). 🤔

[2018-01-02 20:22] cthos commented on #11392
Though for what it's worth, it looks like both cases will properly point to the same file:

[code]

[2018-01-02 20:23] jdee commented on #11343
#11393 will address this issue, but after taking a closer look, I'm concerned about this usage. Nevertheless, it has to be fixed for now.

[2018-01-02 22:56] #11343 closed

[2018-01-02 22:58] jdee commented on #11343
Apologies again for the trouble. This is fixed in the master branch. You can try it out with a Gemfile by adding `gem "fastlane", git: "https://github.com/fastlane/fastlane"` to your Gemfile and running `bundle install`. I'm sure it won't be long until it's released.

[2018-01-02 23:01] hrushie commented on #10795
@mrkd Can you please let me know what permissions you have to give? Thanks

[2018-01-03 06:15] shiyj commented on #11271
It's not fastlane's problem. I had a similar error when I updated to xcode 9.2 and macOS 10.13.2, and I solved it by downgrading my cocoapods from 1.3.1 to 1.2.1.

[2018-01-03 11:09] basvankuijck commented on #11200
Yeah this would be great.
Some of the actions in 'our' fastlane repository we import using `import_from_git` have other gem requirements (nokogiri for instance).
The only way not to fail during fastlane initialization because of a missing gem, is to add `gem "nokogiri"` to every project's `Gemfile`.

Which is a bit of a hassle if we create a new action which needs another not yet specified gem, th

[2018-01-03 11:15] KrauseFx opened #11394 "[Swift] Error message when lane can't be found is unclear"
[code]

In this case, I forgot to append `Lane` at the end of the lane name my my Swift file. This is a common error, and should be handled more nicely, similar to how we handle it in the Ruby version:

[code]

[2018-01-03 11:17] alexrs commented on #11131
👋 @hjanuschka Thanks for the answer! Your suggestions may work. I'll try them.
Anyway, IMHO, the real problem here is that I expected `GradleAction#run` to return the exit status of the command (or whether it has been successful or not), so I can decide how I want to handle that failure.

[2018-01-03 11:19] rogomantik opened #11395 "fastlane deliver error with ruby 2.5.0"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
fastlane deliver error

##### Complete outp

[2018-01-03 11:34] buscarini opened #11396 "Fastlane match keeps recreating the provisioning profile"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

fastlane keeps recreating the provisioning

[2018-01-03 11:44] KrauseFx opened #11397 "[Swift] fastlane lanes command doesn't work for Swift setups"
[code]

doesn't print out any lanes if you use a `Fastfile.swift`

[2018-01-03 12:04] janpio opened #11399 "Add test to verify that incomming parameter is untouched after method call re #11385"
@hjanuschka suggested:

Didn't have the time before mergin that PR, but will do this later via this issue.

[2018-01-03 13:15] KrauseFx commented on #11395
Looks like there is a syntax error in your Deliverfile, can you share it with us?

[2018-01-03 13:18] IchHabRecht commented on #10786
This issue is still valid. After any re-run no screenshots are copied.

[2018-01-03 13:37] rogomantik commented on #11395
Here

app_identifier "The.Iden-tifier" # The bundle identifier of your app
username "myemail@icloud.com" # your Apple ID user

copyright "#{Time.now.year} D&veloper."

automatic_release true

[2018-01-03 14:04] KrauseFx commented on #11395
[code]

mh, weird, something is wrong, maybe because of the `&` in your `Deliverfile`?

[2018-01-03 15:32] rogomantik commented on #11395
I just tried removing the line that contains & but the problem persists
worked before the ruby update to 2.5.0 using rbenv
It worked with version 2.4.x
fastlane gives the warning at start
/gems/commander-fastlane-4.4.5/lib/commander/user_interaction.rb:334: warning: constant ::Data is deprecated
I also checked /.rbenv/versions/2.5.0/lib/ruby/2.5.0/erb.rb for the syntax error, unexpected ')'
But Su

[2018-01-03 15:48] kapfab opened #11402 "[gym] Useless check of Xcode project when using `skip_build_archive`"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

`gym` expects to find an Xcode project fil

[2018-01-03 15:49] KrauseFx commented on #11396
[code]
interesting, the `force` parameter is true for your _sigh_ call. I wonder why that is, it shouldn't be the case. Can you look through the environment variables you set and see if there is something there?

[2018-01-03 15:50] KrauseFx commented on #11396
It looks like the provisioning profile isn't stored in your git repo, can you confirm that that's the case?

[2018-01-03 16:02] KrauseFx commented on #11402
Could you help me resolve this by running it again without the dummy project, with `--verbose`, and then when you get asked for the path, cancel with `control + c`, and share the output + stack trace? Thanks 👍

[2018-01-03 16:03] rogomantik commented on #11395
Just installed ruby 2.4.3 and works

[2018-01-03 16:08] radko93 commented on #11243
I have a similar issue with fastlane `2.72.0`. I tried passing one or multiple app identifiers. Seems that fastlane has a problem with parsing app identifiers (I use the CLI interface to pass indentifiers). All I get is:

[2018-01-03 16:11] andrey-lisovskiy opened #11403 "How to upload .pem file to git"
Hi! I need to upload _.pem_ file to specific git url. How it can be done using **fastlane**?

[2018-01-03 16:22] taquitos commented on #11397
@KrauseFx can you share your Fastfile.swift?

[2018-01-03 16:46] #11397 closed

[2018-01-03 16:48] KrauseFx commented on #11397
confirmed, error on my side

[2018-01-03 17:15] #8327 closed

[2018-01-03 17:16] KrauseFx commented on #11403
Nothing built-into fastlane for now, but you can easily use your own Ruby or shell scripts from within fastlane that do that 👍

[2018-01-03 17:53] imodeveloper commented on #10793
@KrauseFx I have similar problem with deliver.

[code]

[2018-01-03 18:20] jordanpwood opened #11406 "Match can't push certificate changes to remote repo"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
I am trying to setup `match` for the first

[2018-01-03 18:23] taquitos commented on #11243
@radko93, can you confirm how you're calling match to get this error?

is it like: `fastlane match development -a ["bundle.id.1", "bundle.id.2"]` ?

[2018-01-03 18:51] hborders commented on #10745
I just changed from using `PROVISIONING_PROFILE` to `PROVISIONING_PROFILE_SPECIFIER` in my Xcode project. Additionally, I upgraded from Xcode 8.2.3 to Xcode 9.2, and `gym` started failing to automatically detect my provisioning profile settings. I tried using [`ryang1428`'s workaround](https://github.com/fastlane/fastlane/issues/10745#issuecomment-340848177), but I got the following error:
[code]

[2018-01-03 19:24] hborders opened #11408 "Would you accept a PR to add sigh option install a provisioning profile from the local filesystem?"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

When I run my `fastlane` lanes, I want to

[2018-01-03 19:34] hjanuschka commented on #11408
@hborders ✋

not 100% sure about the PR, for me it sounds like you are looking for a tool to manager provisioning profiles. take a look at _match_  https://docs.fastlane.tools/actions/match/#easily-sync-your-certificates-and-profiles-across-your-team-using-git

it stores prov.profs and certs secure and encrypted in a git repo.

let me know if that helps you.

[2018-01-03 19:37] hjanuschka commented on #11406
check your `.gitignore` file according to the log you have something like `./cert/*` in it, which results in ignoring the certs.

[2018-01-03 19:40] hborders commented on #11408
Thanks for your prompt response! I'm aware of `match`, but my team already has a standardized secrets database in which we store all company-wide secrets, including our private keys, so I can't use `match` for this purpose. I'm simply trying to avoid having a dependency on the Apple Developer Center with every build since the Apple Developer Center sometimes goes down. Most of the time, we simply

[2018-01-03 20:32] jordanpwood commented on #11406
I would think that the `.gitignore` in question would be generated by `match` in the local certificates repo (just a theory). My certificate repo has no `.gitignore` in it.  My project `.gitignore` file has `certificates/`, but no reference to `cert/*`.

[2018-01-03 21:00] mdurban commented on #9363
Why is this closed? It seems like it is not solved.

[2018-01-03 22:02] kballard opened #11411 "`sudo gem install fastlane` fails installing jwt on macOS 10.12"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
The fastlane installation says `sudo gem in

[2018-01-03 22:02] KrauseFx commented on #11243
Thanks everyone, please **do** share the exact notation of how you call _match_, how do you pass the app identifier? Otherwise we can't reproduce the problem... @taquitos' PR should fix things, but we can't say for sure without a reproducible example

[2018-01-03 22:04] danstepanov commented on #11243
I just call `fastlane match` and use a github repo with my certificates, then i supply the app identifier manually.

[2018-01-03 22:06] KrauseFx commented on #11243
@danstepanov

There are 7 ways in fastlane to pass a parameter. Can you tell us more how? :) Ideally the complete code call

[2018-01-03 22:19] kballard opened #11413 "undefined method `install_gem' for #<Gem::Commands::InstallCommand:0x007ff878992ed8> (NoMethodError)"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
`fastlane` throws an error on macOS 10.12 w

[2018-01-03 22:19] KrauseFx opened #11414 "Small docs tweak on top of each page"
Inject `New to fastlane` button on each `Getting Started` guide on the docs page

[2018-01-03 22:22] taquitos commented on #10082
Updated our issue template: https://github.com/fastlane/fastlane/pull/11412

[2018-01-03 22:25] KrauseFx commented on #10082
Awesome 👍 Fixed with https://github.com/fastlane/fastlane/pull/11412

[2018-01-03 22:25] #10082 closed

[2018-01-03 22:28] KrauseFx commented on #11413
Hey @kballard, thanks for the report. That's interesting, could you try updating your RubyGems system environment?

First please run
[code]
and share the output with us, so that we can fix it 👍

then run
[code]
^ The above commands might require `sudo`, depending on your setup 👍

[2018-01-03 22:29] kballard commented on #11413
`gem -v` prints `2.0.14.1`. I should be using the stock RubyGems that ships with macOS 10.12; I don't recall ever updating rubygems on this machine. I'll try updating it in a minute.

[2018-01-03 22:33] kballard commented on #11413
Looks like `update_rubygems` is not possible to run on the stock rubygems that ships with the system. Even with `sudo` I get `Errno::EPERM`, so I imagine that `/System/Library/Frameworks/Ruby.framework/Versions/2.0/usr/bin/gem` is protected by SIP.

[2018-01-03 22:37] kballard commented on #11413
I also just got a similar error at the very end of a fastlane build (I installed `xcode-install` manually to work around the initial error) when trying to install another gem:

[2018-01-03 22:38] kballard commented on #11413
Although I did try running the rubygems update stuff while the fastlane build was going on, which may not have been a good idea. In any case, I ran `gem update --system` and `gem -v` now prints `2.7.4`. I don't know what `update_rubygems` was supposed to do, since I couldn't run it.

[2018-01-03 22:40] kballard commented on #11413
Uninstalling `xcode-install` and re-running `fastlane` no longer throws the error (now that I have gem 2.7.4). Of course, it throws a different error, which is that installing gems requires `sudo` >_< And of course I don't want to run all of `fastlane` with sudo. But that's a different issue.

[2018-01-03 22:42] kballard commented on #11413
Oh dear. `sudo gem install xcode-install` now tries to install the `xcversion` binary in `/usr/bin` (which is blocked by SIP) instead of `/usr/local/bin`. Apparently updating rubygems actually just broke my rubygems installation such that I can't install binaries anymore >_<.

Any idea how to fix this?

[2018-01-03 23:09] gooner22 commented on #9804
spent few hours tackling same issue.
after upgrading to **xcode 9**, **xcrun** took ~8 mins.

fixed by adding extra export option -> **compileBitcode:false** to **gym command**
[code]

In my case issue was reproducible even if I run **xcrun** individually outside **fastlane** context

[2018-01-03 23:18] hjanuschka commented on #11406
after `match` fails. can you check the temp folder where it cloned the current repo into?
and have a look if there is a .gitignore? - very strange behaviour.

[2018-01-03 23:22] scalessec commented on #10945
Chill @fastlane-bot, it's still broken.

[2018-01-03 23:26] danstepanov commented on #11243
@KrauseFx

[code]

[2018-01-03 23:31] taquitos commented on #11243
Awesome, thank you @danstepanov

[2018-01-04 03:39] taquitos commented on #11394
Yeah, this isn't great.

[2018-01-04 08:19] andrey-lisovskiy commented on #11403
Thanks for response!
Could you please navigate me to some example?
I am not familiar with ruby (yet).

[2018-01-04 08:28] ambientlight opened #11420 "Spaceship::Tunes::AppVersion.current_build_number is incorrect"
AppVersion `current_build_number` doesn't return the latest submitted build.
Specifically it takes the very first candidate build for edit version and candidate builds are not upload-time sorted (it turns out).

https://github.com/fastlane/fastlane/blob/7171725879ab8d4e78d501fbc663d0e59a0490eb/spaceship/lib/spaceship/tunes/app_version.rb#L315-L323

probably something like:
[code]

[2018-01-04 08:35] tbaranes opened #11421 "[Pilot] Localized "Beta app description" and "What to test""
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Duplicate of #9621 which has been auto-clo

[2018-01-04 09:39] buscarini commented on #11396
It seems to be there, inside profiles/appstore/InHouse_[REDACTED].mobileprovision

[2018-01-04 10:12] kapfab commented on #11402
Of course, there it is:
[code]
And there is our test Fastfile:
[code]

[2018-01-04 11:42] KrauseFx commented on #11403
You can use shell scripts (or any other language) by shelling out in fastlane using

[code]
as part of your `lane` 👍

[2018-01-04 12:08] KrauseFx commented on #11243
Ah alright, so this is a different error then, when you get asked for the missing value, taking a look now

[2018-01-04 12:19] KrauseFx commented on #11243
Alright, thanks everyone, I was able to reproduce the issue, and provide a fix for it: https://github.com/fastlane/fastlane/pull/11423

[2018-01-04 12:19] KrauseFx commented on #11243
This will be live with the next releas

[2018-01-04 12:20] ppamorim commented on #10923
For me returns always 0.

[2018-01-04 12:24] ppamorim commented on #11420
What number is this returning? Here is always zero.

[2018-01-04 12:28] KrauseFx commented on #11420
Ah nice catch, would you mind submitting a PR for this and testing if the new code works?

[2018-01-04 12:36] ambientlight commented on #11420
@ppamorim here you mean for your version?. I use `app.latest_version` which would use `candidate_builds` when there is no app-store submitted build in this version.

@KrauseFx
sure. We actually use it in a custom action that retrieves the build_num from itunesconnect.

[2018-01-04 14:23] sidlauskaslukas commented on #11235
As @KrauseFx told the solution is to use schemes e.g.:

`gym(scheme: "App") ` or `gym(scheme: "AppDev") `

Target names App and AppDev are basically your schemes

[2018-01-04 14:23] #11235 closed

[2018-01-04 14:49] janpio opened #11428 "Test multiple Ruby versions on CI"
It would make sense to test multiple ruby versions in CI, starting with 2.0 up to current versions people might use.

Research:
- AppVeyor/Windows: https://mattbrictson.com/how-to-test-ruby-windows
- Circle CI: https://jtway.co/run-tests-against-multiple-ruby-versions-on-circleci-60e1e523e245

[2018-01-04 16:05] Gp2mv3 opened #11429 "[frameit] Android support"
Why is Android not supported by Frameit ?
I saw issue #9974 which is now closed but there is no clear answer...

Thanks a lot for your work guys !

[2018-01-04 16:34] cthos commented on #11392
@hjanuschka - Any further ideas here? I've pointed my travis builds to my fork for now and haven't noticed any issues _so far_ but I'm not testing on case-sensitive filesystems.

[2018-01-04 17:05] jordanpwood commented on #11406
Is the temp folder you mean `/var/folders/d5/ntx8rq7n05j1_0z1hbk7y09c0000gp/T/d20180103-2944-1mco2pw/` from the above output?  That directory is gone after match finishes running.  Is there a way for me to keep that from being cleaned up, or is there a different place I should be looking?

Thanks!

[2018-01-04 18:06] janpio commented on #11429
#9974 is not closed, but several people are talking about maybe creating a PR to add this functionality. Until now nobody did, so there is no support for Android in `frameit` yet.

[2018-01-04 19:08] kimdv opened #11431 "[Swift] Documentation for how to start developing on the Swift project"
🔑
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

It would be awesome to have a descriptio

[2018-01-04 19:23] daniel-beard commented on #10793
@KrauseFx that workaround does not work for me when using more than a single account. Seems to still be an issue with multiple accounts :(

[2018-01-04 20:34] janpio commented on #11183
Building `xar` with cygwin might theoretically be possible, I failed though.

Alternative: Branch by OS in the code and use 7zip from the command line.

[2018-01-04 20:43] furick1 commented on #10895
Just for the record there is no answer to this solution and while it doesn't surprise me, fastlane can't do both kinds of builds (enterprise and in-house) within the same project. You may be able to do it by creating different schemes and copy code but at the point it is not much different than having two projects and somehow forking and keeping parts in sync via version control. In my case using

[2018-01-04 20:58] #11243 closed

[2018-01-04 21:05] hjanuschka commented on #11392
@cthos  i came up with more robust approach (hopefully) can you give this pr: https://github.com/fastlane/fastlane/pull/11432 a try?

[2018-01-04 21:05] danstepanov commented on #11243
Thanks @KrauseFx and @taquitos!

[2018-01-04 21:20] cthos commented on #11392
@hjanuschka - I pulled down your PR and it successfully built against the aforementioned test project. 👍

[2018-01-04 21:23] hjanuschka commented on #11392
@cthos  awesome! thx for your help to tackle down the issue.

[2018-01-04 21:24] cthos commented on #11392
@hjanuschka - Thank you for the quick solution! Cheers. 🎉

[2018-01-04 22:24] rick-cape commented on #10745
@hborders thanks for the tip!  Unfortunately, changing from the ":" to "=>" syntax in `export_options` did not solve the problem (I have the same issue, where specifying the `export_options` seems to be ignored by CircleCI). I wasn't expecting it to work, because I do see this in the CI logs:

`Detected provisioning profile mapping: {:"com.myapp.iosapp.dev"=>"MyApp Ad-Hoc Profile" ... } `

However

[2018-01-04 23:19] #10848 closed

[2018-01-04 23:22] milch commented on #11335
One more idea just came to me, for macOS: We're running `brew install` which automatically updates the Homebrew repo. This takes a looooong time so we should try to cache the `/usr/local/Homebrew` folder to save ~1min

[2018-01-05 00:48] abuturla commented on #10802
@KrauseFx Can you clarify the following:

Will Fastlane work if 2 factor auth is enabled? What do you mean by **control where this account has access to**?

[2018-01-05 01:18] robinkunde opened #11433 "increment_build_number doesn't check if agvtool only partially succeeded"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

For some reason, the path for the plist of

[2018-01-05 01:29] cfis opened #11434 "765: Unexpected token at 'Bad Request' when calling to provisioningProfile.delete!"
Fastlane 2.72.0
This is likely related to #11162

Basic code:

profile = ::Spaceship::Portal.provisioning_profile.find_by_bundle_id(bundle_id: app.app_id).first
if profile.status == 'Invalid'
  profile.delete!
end

The root cause is Spaceship::PortalClient#provisioning_profiles_via_xcode_api

Line 590 in portal_client_id.rb:

      csrf_cache[Spaceship::ProvisioningProfile] = self.csrf_tokens

The

[2018-01-05 03:25] chikitin opened #11435 "'build_id' is a required parameter on download_dsyms process"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
+------+-----------------------------------

[2018-01-05 03:33] chikitin commented on #11435
I don't think so, my app was uploaded, but when trying to download and upload my dsyms files, it crashes.

desc "Refresh Dsyms"
  lane :refresh_dsyms do
    download_dsyms                  # Download dSYM files from iTC
    upload_symbols_to_crashlytics   # Upload them to Crashlytics
    clean_build_artifacts           # Delete the local dSYM files
  end

[2018-01-05 10:06] casz commented on #11395
Got very similar result:

[code]

[2018-01-05 10:17] lacostej commented on #11395
The `if @options[:trade_represe` comes from deliver/lib/assets/summary.html.erb

The preceding `);` is suspicious. Have we run automated tests under ruby 2.5.0? It should excercise some of it.

[2018-01-05 10:41] lacostej commented on #11395
I installed ruby 2.5.0

[code]

definitively a ruby 2.5.0 incompatibility

[2018-01-05 11:24] BuXY commented on #8530
Hey guys, i just found a solution!

Actually, there are **two** installations of ruby and its gems. One is in `/Library/Ruby/Gems/2.0.0` (at least on my computer), and that is why sudo is required to install in normal conditions.

But my Fastlane has installed itself to `~/.fastlane` and thus created a private gem library. So you must install pry in _this ruby gem library_, like: `gem install pry

[2018-01-05 11:25] BuXY commented on #10699
Please take a look at [my solution](https://github.com/fastlane/fastlane/issues/8530#issuecomment-355533052).

[2018-01-05 11:26] mkozjak opened #11438 "Can't update code signing on cli to manual with action 'automatic_code_signing'"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

##### Complete output when running fastlan

[2018-01-05 11:48] mkozjak commented on #11438
Might be related to CocoaPods/Xcodeproj#233.
Once I try opening pbxproj file manually with xcode, it kinda fixes the file, but adds a new line which fastlane also doesn't like: `Xcodeproj doesn't know about the following attributes {"name"=>"Compile Sources"} for the 'PBXSourcesBuildPhase' isa. (RuntimeError)`

[2018-01-05 14:30] AntoineAugusti opened #11440 "Spaceship: Ratings cannot be split by version ID"
Hey,

This method suggests that we can get reviews by version ID.
https://github.com/fastlane/fastlane/blob/76d977f44e6291127f90a8860f9a277442a2e7be/spaceship/lib/spaceship/tunes/application.rb#L133-L137

I tried to play with it, but unfortunately I always got the latest number of reviews back.

Sample code:
[code]

Which outputs
[code]

The Itunes Connect documentation seems to suggest that we ca

[2018-01-05 15:51] carlosefonseca opened #11441 "Loading Indicator and Jenkins"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Recently (#11378) Deliver was updated with

[2018-01-05 16:57] cpetzel commented on #10806
I fixed this by removing the ```manifestPath``` in the crashlytics config of my build gradle.

[code]

This was causing crashlytics to always use the old manifest file which doesn't have the version_code and version_name in it. Gradle slaps those in as a build artifact in ``app/build/intermediates/manifests/...```

So by removing this line from our config, crashlytics will then use the correctly g

[2018-01-05 17:51] #11302 closed

[2018-01-05 18:09] #11394 closed

[2018-01-05 19:58] fxfactorial commented on #11441
This is exactly what I was talking about in my comments on the PR that introduced this feature originally.

[2018-01-05 20:37] janpio opened #11443 "CI: Paralellize rubocop checks"
Subtask to #11335

Using CI to test PRs can be quite frustrating when you have to "start over" because of a `rubocop` fail. Of course it would be best to use `rubocop` locally before each commit, but... yeah.

Parallelizing the rubocop check would make it possible to see if the tests pass anyway, then just add to the last commit with the rubocop required fix.

Rubocop could probably appear as its

[2018-01-05 20:46] scorpion35 opened #11444 "Spaceship - Tunes Client - Cannot create user with apps"
Hello,

I cannot seem to create new user with only few apps. I am using Spaceship library directly.

**Works:** Can create user with empty "apps" array. User gets access to "All Apps"

**Does not work:** When specifying few apps in "apps" array, it doesn't work. I have tried passing just an array of strings. Also obtained a proper "application" object, and tried passing it to the array, no dice.

[2018-01-05 21:01] janpio commented on #11443
Currently takes around 1 min:

[code]

[2018-01-05 21:03] scorpion35 commented on #11444
[fastlane-env.txt](https://github.com/fastlane/fastlane/files/1607895/fastlane-env.txt)

[2018-01-05 21:21] janpio opened #11445 "CI: Parellelize `verify_docs`"
Subtask to #11335

Normal fastlane tests check out the docs and run their tests. As this also runs `bundle install` for them, this takes >1 min on platforms that have to builde the gem with native extensions (Ubuntu). On macOS it still adds 20 seconds to the test run.

As with #11443 this could probably be parallelized (this time to another macOS box as it is faster there) and be an individual che

[2018-01-05 22:36] iwasrobbed commented on #11344
@odrobnik Can you elaborate what you mean by "empty beta test infos"? (Possibly w/ a screenshot)

[2018-01-05 22:40] iwasrobbed commented on #11220
Ran into this issue as well; the unfortunate side is it says it succeeds but then nothing ever shows up on iTunes Connect.

Some others have said it's related to missing keys from info.plist or internet connection.

Has anyone else been able to figure this out? (being this is a 20+ day old issue by now)

[2018-01-05 22:49] julestburt commented on #10945
We also just experienced a similar issue. Except pilot actually submitted the entirely wrong version - which arguably is way worse than the wrong build above, but not really!

We had built 3.8.4(1) already on TestFlight. We then built 3.8.5(1).

Then we subsequently used deliver to submit 3.8.5 for review - but the 3.8.5(1) build had failed so deliver submitted 3.8.4(1) under a 3.8.5 iTunes versio

[2018-01-05 23:36] carlosefonseca commented on #11441
Yeah, I saw the PR but missed the Issue and the discussion. I'm gonna close this one. See #11416.

[2018-01-05 23:36] #11441 closed

[2018-01-06 00:34] krazik commented on #11009
+1 seeing this

[2018-01-06 00:35] #11395 closed

[2018-01-06 03:13] CliffCawley commented on #10926
Anyone except the bot able to respond?

[2018-01-06 08:48] KrauseFx commented on #11420
Awesome, thanks 👍 Keep me posted, and let me know if you need any help

[2018-01-06 08:56] KrauseFx commented on #11402
Awesome, thanks, that was super helpful, I just pushed a PR that should fix it: https://github.com/fastlane/fastlane/pull/11449

Could you clone the repo and check out the branch and confirm that this change will make the setup work for you?

[2018-01-06 09:18] KrauseFx commented on #10926
Sorry for the late response @CliffCawley, somehow missed the notification on this one. There is no built-in action to do that currently. You could build that using [spaceship](https://spaceship.airforce), but none of the fastlane tools can release an existing build for now. Instead what you can do is to submit a new build and set the `automatic_release` flag to `true`. Let me know if that helps

[2018-01-06 09:24] odrobnik commented on #11344
I mean when you haven't filled in any information for external beta test:

<img width="1045" alt="bildschirmfoto 2018-01-06 um 10 24 21" src="https://user-images.githubusercontent.com/333270/34638451-d0c50986-f2cb-11e7-806c-a9f281a58a77.png">

[2018-01-06 10:31] KrauseFx commented on #11414
Fixed with https://github.com/fastlane/docs/pull/515

[2018-01-06 10:31] #11414 closed

[2018-01-06 14:49] milch commented on #11335
I just discovered [`test-queue`](https://github.com/tmm1/test-queue) which seems to work better than `parallel-test`. Similar speedups there as well

[2018-01-06 14:50] iwasrobbed commented on #11344
Thanks @odrobnik!

[2018-01-06 15:08] RishabhTayal opened #11453 "Spaceship returning wrong testers"
I am trying to get testers for a specific app using `bundle_id`.

Here is how I am trying to get:

[code]
This return testers for some other app; Not for the app specified by `bundle_id`. Am I doing it wrong?

[2018-01-06 16:43] DouglasHennrich opened #11454 "[Transporter Error Output]: description length:591376"
I'm getting an error when I'm trying to upload my app to `Pilot`. I does upload successfully.

[code]

### Environment

<details><summary>🚫 fastlane environment 🚫</summary>

### Stack

| Key                         | Value                                       |
| --------------------------- | ------------------------------------------- |
| OS                          | 10.13.2

[2018-01-06 19:05] lkraider commented on #10424
Same issue here with `gym 2.73.0`. I am trying to set PROVISIONING_PROFILE_SPECIFIER using xcconfig but gym does not pass that to the profile detection command:

First, detecting from the project directly _(identifiers redacted)_:
[code]

Now, trying to pass a xcconfig file with the following contents _(identifiers redacted)_:
[code]

[code]

It should be calling instead:
`xcodebuild -showBuildSet

[2018-01-06 19:34] ericwolter opened #11457 "Snapshot does not change language, all screenshots in simulators system language"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

All screenshots are always in the default

[2018-01-06 22:41] cmilr opened #11461 "Snapshot Runs Without Error, But No Screenshots Created"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
Basically, the title says it all: I run sna

[2018-01-07 02:20] CliffCawley commented on #10926
Ah no worries, thanks for the info :)

[2018-01-07 02:20] #10926 closed

[2018-01-07 02:30] takuyama29 commented on #10973
We changed the type of provisioning profile according to standard workflow.

This problem is resolved.
Thank you for supporting me!

[2018-01-07 02:31] #10973 closed

[2018-01-07 02:43] cmilr commented on #11461
Thanks bot. Pretty sure it's not related to code-signing.

[2018-01-07 03:00] joncursi opened #11462 "[actions]: Ability to access / paste from clipboard"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Within my `Fastfile`, I'm trying to paste

[2018-01-07 03:03] joncursi commented on #11462
To help clarify:

[code]

[2018-01-07 09:05] #10877 closed

[2018-01-07 09:20] vburojevic opened #11463 "`fastlane match nuke` doesn't support enterprise accounts"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

I didn't see anywhere in the docs that mat

[2018-01-07 09:45] ericwolter commented on #11457
Really seems like the launch arguments are not passed at all to the application. I have added a UILabel that will get the value of "-AppleLanguages" and it always stays at "en-US" in my case even when running for "de-DE".

The same label works correctly when used manually via setting the value via the run scheme. I don't know, however, how this works/interacts with the UITests.

The other thing I

[2018-01-07 09:50] ericwolter commented on #11457
Just making sure because I read this in another issue, I do call "setupSnapshot" in my test setup.

    override func setUp() {
        super.setUp()
        continueAfterFailure = false

        let app = XCUIApplication()
        setupSnapshot(app)
        XCUIApplication().launch()
    }

[2018-01-07 10:57] ericwolter commented on #11457
Puh, as expected it was my fault...

Incorrect:

    let app = XCUIApplication()
    setupSnapshot(app)
    XCUIApplication.launch()

Correct:

    let app = XCUIApplication()
    setupSnapshot(app)
    app.launch()

[2018-01-07 10:57] #11457 closed

[2018-01-07 22:07] cmilr commented on #11461
Well, as I assumed, this problem was just human error—somehow I had missed an entire section of the Snapshot page in the docs.

I had never recorded the actual UI tests and included the snapshot tag, like so: `snapshot("01MasterScreen")`

Everything appears to be working fine now. Thanks, and please mark this as closed.

[2018-01-07 22:07] #11461 closed

[2018-01-07 23:06] jkleroy opened #11464 "[frameit] Title has very small font and aligned to right"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

I recently updated fastlane on my mac and

[2018-01-07 23:40] janpio commented on #11464
@milch is it normal that it has empty output for "Force orientation"?

@jkleroy
What is your configuration for `frameit`?
Does this also happen if you only try to frame 1 screenshot? Can you upload it so we can reproduce?
Are the error messages in the output new or did you get them before as well?

[2018-01-07 23:50] jkleroy commented on #11464
I remember seeing some errors when I was framing screenshots a few months ago but not the "Force orientation" message.

Here is the frameit configuration folder.
@janpio Please let me know if you reproduce.

[frameit_folder_jkleroy.zip](https://github.com/fastlane/fastlane/files/1610332/frameit_folder_jkleroy.zip)

[2018-01-08 00:28] scorpion35 commented on #11453
@RishabhTayal The below works for me all the time,

[code]

[2018-01-08 00:44] RishabhTayal commented on #11453
@scorpion35 how did you login in spaceship? What happens if there are multiple teams?

[2018-01-08 00:49] scorpion35 commented on #11453
@RishabhTayal Updated the code above.

[2018-01-08 00:57] RishabhTayal commented on #11453
@scorpion35 `select_team` is not supposed be used on CI system or sever? It requires user input.

[2018-01-08 01:03] scorpion35 commented on #11453
@RishabhTayal Updated code above.

[2018-01-08 03:31] #11453 closed

[2018-01-08 08:59] gtatgh commented on #10119
Fixed with https://github.com/fastlane/fastlane/pull/10839

[2018-01-08 08:59] gtatgh commented on #10119
Fixed with https://github.com/fastlane/fastlane/pull/10839

[2018-01-08 08:59] #10119 closed

[2018-01-08 09:42] pedpess commented on #9363
This issue seems to be bothering quite many people :o... I got the same error today. I'm trying to figure out something but as an ad-hoc solution, the manual uploading is solving the issue (unfortunately).

[2018-01-08 11:18] lukewakeford commented on #11049
@janpio I just had a really obvious thought/question..

What if.. **Instead** of trying to pass the entitlement in to the profile creation, I create the profile as usual without the custom entitlement then enter the provisioning portal and add the entitlement to the match generated profile.

**Can** I then force Match to download that modified profile and run in read only?

I think this would solv

[2018-01-08 11:23] janpio commented on #11049
Please try, that sounds like a very nice workaround which we then would only have to document a bit.

[2018-01-08 11:41] lukewakeford commented on #11049
I think the problem with this approach is that `--readonly` means that match only pulls down from the git repo instead of also checking the dev portal.

I need it to pull down from dev portal and store in git repo but **NOT** generate any profiles.

[2018-01-08 12:33] mkozjak commented on #11438
Also, check CocoaPods/Xcodeproj#535.

[2018-01-08 13:58] revolter commented on #10933
@bharathreddy-97, Did my previous message help you?

[2018-01-08 14:33] coverback commented on #10561
We ended up using https://github.com/KrauseFx/trainer as a fastlane plugin to at least get JUnit reports in Jenkins while xcpretty isn't fixed.

[2018-01-08 14:34] colincameron opened #11468 "[Regression] undefined method `to_sym' since updating to 2.74.0"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

After updating to 2.74.0 from 2.73.0, I ca

[2018-01-08 14:39] janpio commented on #11464
I can reproduce the problem, although only with `fastlane frameit` as I have a plain gem installation of fastlane I just created:

[code]

I looked into frameit's code a tiny bit, I think the `Force orientation: ` has nothing to do with it but should probably be fixed in a new PR as this output looks quite a bit odd.

The real problem seems to occur when `.identify` is called on the image, here: h

[2018-01-08 14:40] AMatecki commented on #11468
I'm getting a similar error:

`$ fastlane
[⠙] 🚀 /Users/arek/.rvm/rubies/ruby-2.3.3/lib/ruby/gems/2.3.0/gems/fastlane-2.74.0/spaceship/lib/spaceship/base.rb:137:in `remove_method': method `app_id' not defined in Spaceship::TestFlight::Build (NameError)
	from /Users/arek/.rvm/rubies/ruby-2.3.3/lib/ruby/gems/2.3.0/gems/fastlane-2.74.0/spaceship/lib/spaceship/base.rb:137:in `block in attr_mapping'
	fr

[2018-01-08 14:54] janpio commented on #11464
@jkleroy If you are in a hurry, try to install fastlane 2.68.0 and see if it works there. This would also help us pinpoint the problem, #11124 was released in 2.69.0.

[2018-01-08 14:55] AmitMY opened #11469 "Error 65: Timed out waiting for AX loaded notification"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
Kind of similar to #8365
Running snapshot,

[2018-01-08 14:57] jkleroy commented on #11464
I am in a hurry, I was just about to ask you which version to install 👍
Sorry for my ignorance, how do I revert back to an older version of fastlane?

[2018-01-08 14:57] janpio commented on #11464
No idea myself, but StackOverflow says: https://stackoverflow.com/questions/17026441/how-to-install-a-specific-version-of-a-ruby-gem

[2018-01-08 15:07] imanf commented on #10989
I'm having the same issue as well.

[2018-01-08 15:14] wmcbain commented on #10378
@khallmark Are you referring to the apple_id referred to in the Appfile?

[2018-01-08 15:39] funnel20 commented on #11464
My https://github.com/fastlane/fastlane/issues/10440#issuecomment-348762239 shows that I have verified it with:

This was before the final implementation with the new Trimbox class, so I should double-check.

[2018-01-08 15:56] RishabhTayal opened #11470 "spaceship - create_app_level_tester not working"
I am trying to create an app level tester using ruby code. It's returning html error in response.

Here is how I am creating tester:

[code]

<details><summary>Error:</summary>

[code]
</details>

[2018-01-08 16:32] funnel20 commented on #11464
I have done several tests with version 2.68.0 (without my fix for #10440) and 2.72.0 (with fix).

In both cases when using NO _keywords.strings_ file, it works as expected; only the title is horizontally centred.
However, when using a _keywords.strings_ file with an empty string (e.g. `"01" = "";`), the issue occurs due to my fix.
When running it with 2.68.0 a warning from MiniMagick is shown (but

[2018-01-08 16:37] janpio commented on #11464
Awesome, thanks for taking a look @funnel20!

[2018-01-08 16:37] colincameron commented on #11468
Nope, not code signing related!

[2018-01-08 16:49] jkleroy commented on #11464
@funnel20 thank you very much. 👍
I just noticed this issue with another project that didn't have any keyword.strings file.
But the Framefile.json was full of empty keyword references. Removing these references also corrected the issue.

[2018-01-08 16:55] lukewakeford commented on #11049
@janpio I think this should technically be possibly already by using `--readonly` and `--force` flags in match.

I'm going to raise this as a separate issue. and reference this.

[2018-01-08 16:56] colincameron commented on #11468
@AMatecki that looks like a separate issue to me. The error I'm getting seems to be related to the new file command_parser.rb introduced in PR #11419. Unfortunately I don't know any Ruby to be able to investigate why something is nil that shouldn't be.

[2018-01-08 17:11] kapfab commented on #11402
You're welcome!
I'm afraid this change is not as straightforward as I expected…

I had to set the optional `output_name` parameter to prevent an error in `gym/lib/gym/detect_values.rb` (it tries to remove the ".ipa" extension from a null string, as output name can not be retrieved from the project file).

I have another error in `gym/lib/gym/runner.rb` (which makes use of `Gym.project.ios`, `Gym.p

[2018-01-08 17:23] KrauseFx commented on #11402
@kapfab do you feel like it's worth the work + risk introducing the change, or is it good enough for your to have a dummy project for now?

[2018-01-08 17:26] lukewakeford opened #11471 "Match does not find matching profiles in readonly mode."
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

When using `--readonly` and `--force` at t

[2018-01-08 17:33] kapfab commented on #11402
Well, it’s a quite ugly workaround but it seems to work for our current use cases and I guess there are more urgent issues for you to work on…
We will play on our side with the additional changes I’ve listed above and come back to you in a few days once I’ve made my mind regarding the complexity and risk.

[2018-01-08 17:42] tkrajacic commented on #11468
I am getting the exact same error when using fastlane after updating to 2.74.0

[2018-01-08 18:04] KrauseFx commented on #11468
Thanks everyone, working on a fix on this right now

[2018-01-08 18:07] KrauseFx commented on #11468
Actually the one and only @taquitos works on a fix, sorry for breaking it, we should have a release out ASAP

[2018-01-08 18:52] KrauseFx commented on #11468
PR with a fix is live https://github.com/fastlane/fastlane/pull/11475, we're working on shipping a release now 👍 Thanks for your patience

[2018-01-08 19:22] #11468 closed

[2018-01-08 20:04] michaelgmcd commented on #11468
After updating to 2.74.1, I'm still getting the same exact error that @AMatecki posted when running any fastlane command (even `fastlane --help`)

[2018-01-08 20:16] KrauseFx commented on #11402
Yah, sorry that this happened, and sorry I don't have a better solution for your right now

[2018-01-08 20:26] taquitos commented on #11468
Hey @michaelgmcd thanks for reporting this. It would help to submit a new issue (and you can ping me there) with your `fastlane --verbose` output instead of commenting here, that way we can gather some more info about what you're experiencing.

[2018-01-08 20:36] KrauseFx commented on #11017
There was change with this recently, can you check if it works now?

[2018-01-08 20:45] michaelgmcd opened #11481 "[Regression] method `app_id' not defined in Spaceship::TestFlight::Build (NameError)"
In versions 2.74.* I get the following error:
spaceship/lib/spaceship/base.rb:137:in `remove_method': method `app_id' not defined in Spaceship::TestFlight::Build (NameError)

### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://doc

[2018-01-08 20:50] taquitos commented on #11481
I'm trying to repro this now

[2018-01-08 21:00] taquitos commented on #11481
@michaelgmcd I can't repro on my setup, maybe you can try:
`rvm cleanup all` and followed by
`rvm all-gemsets do gem cleanup`
this might be caused by stale gems.

[2018-01-08 21:01] taquitos commented on #11468
@AMatecki we're looking in your issue in: https://github.com/fastlane/fastlane/issues/11481

[2018-01-08 21:03] julestburt commented on #10945
Scarily, we're also seeing this with Deliver grabbing later version numbers and submitting those also.
Really, Deliver should NEVER be doing that. Are we doing something fundamentally wrong???

?
---------------------------
Fastlane version:
$ bundle "exec" "fastlane" "--version"
fastlane installation at path:
/usr/local/lib/ruby/gems/2.4.0/gems/fastlane-2.61.0/bin/fastlane
-----------------------

[2018-01-08 21:28] michaelgmcd commented on #11481
Interesting. After running your commands, I still get the error. This has occurred on two mac machines and after installing in an ubuntu docker image.

[2018-01-08 21:39] taquitos commented on #11481
@michaelgmcd could you provide some simple docker setup instructions on how I can repro this? I'm a docker newb.

[2018-01-08 21:43] itruf commented on #11481
Same problem right now 👎

MBP-Ivan-2:client itruf$ fastlane env
[⠋] 🚀 /Users/itruf/.rvm/rubies/ruby-2.3.3/lib/ruby/gems/2.3.0/gems/tty-screen-0.6.3/lib/tty/version.rb:3: warning: already initialized constant TTY::Screen::VERSION
/Users/itruf/.rvm/gems/ruby-2.3.3@global/gems/tty-screen-0.6.3/lib/tty/version.rb:3: warning: previous definition of VERSION was here
[⠹] 🚀 /Users/itruf/.rvm/rubies/ruby-2

[2018-01-08 21:46] taquitos commented on #11481
@itruf have you tried cleaning all your gems? There were some big changes around how files are required last release, so if there is any cruft laying around, it could interfere.

[2018-01-08 21:47] itruf commented on #11481
@taquitos tried:` rvm cleanup all `and followed by
`rvm all-gemsets do gem cleanup`

[2018-01-08 22:16] tatemz commented on #11411
Same here. Is there any version of Fastlane that is known to work with Ruby 2.0?

[2018-01-08 22:22] joshfriend commented on #9389
`fastlane beta` failed for me until I had onboarded with the android studio plugin and submitted at least one build.

Passing the `notes` parameter is still breaking the build as @gabceb mentioned in his [earlier comment](https://github.com/fastlane/fastlane/issues/9389#issuecomment-334990346).

Omitting the `notes` allows the fastlane command to succeed, but the build does not appear on fabric.

[2018-01-08 22:33] KrauseFx commented on #11481
And can you confirm that this is happening only with the most recent release and it worked before? I could imagine it might be related to the change of how we require files (cc @milch) as I don't think we've changed any code in _spaceship_

[2018-01-08 22:42] zenrobin commented on #11481
seeing this as well with latest. I tried the rvm cleanup and it didn't help.  It all started when I did a sudo gem fastlane update to 2.74.1.

[2018-01-08 22:47] zenrobin commented on #11481
sudo gem install fastlane -v 2.71.1      and then  sudo gem uninstall fastlane  and pick 2.74.1  and I'm back up and running.

[2018-01-08 23:16] #11267 closed

[2018-01-09 00:47] sobakasu opened #11484 "Accessing deviceLanguage from objective c ui test"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

I couldn't work out how to access `deviceL

[2018-01-09 00:54] Blackjacx commented on #10915
OK, I can confirm that this works!

[2018-01-09 02:52] ciathyza opened #11485 "remove_method: method app_id not defined in Spaceship"
Updated to latest Fastlane today, now getting this error when trying to launch fastlane:

$ fastlane

/Users/user/.rvm/rubies/ruby-2.4.0/lib/ruby/gems/2.4.0/gems/fastlane-2.74.1/spaceship/lib/spaceship/base.rb:137:in `remove_method': method `app_id' not defined in Spaceship::TestFlight::Build (NameError)

Haven't changed anything else on the system other than the fastlane update. What was changed

[2018-01-09 07:18] Banknaraknaju opened #11486 "### New Issue Checklist"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [ ] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [ ] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [ ] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

##### Complete output when running fastlan

[2018-01-09 07:18] #11486 closed

[2018-01-09 07:38] trusk89 commented on #11411
Same.

[2018-01-09 07:57] karosLi opened #11487 "Compile error when build sqlcipher by using fastlane"
### Issue Description
As project's requirement, I have added `pod 'WCDB' `, which is a database solution based on sqlchiper, and I can use xcode to build it. But once use fastlane to build, it will happen following compile error, so how could I resolve this issue?

##### Complete output when running fastlane, including the stack trace and command used
** ARCHIVE FAILED **

The following build comm

[2018-01-09 08:30] ciathyza commented on #11485
nevermind. problem disappeared by itself after a while.

[2018-01-09 08:39] miloslavskacel commented on #11485
[code]

[2018-01-09 09:39] AbeiOS commented on #11485
I have the same problem. how to fix it?

[2018-01-09 09:53] andrey-lisovskiy commented on #11363
I had to add name of group for each tester in **.csv** file:
_John,Appleseed,appleseed_john@mac.com, **Testers_**

After that testers added successfully.

[2018-01-09 09:57] andrey-lisovskiy commented on #11363
How to call import+send invites inside lane?

[2018-01-09 10:22] funnel20 commented on #11464
@jkleroy I'm glad you have a temporary work-around.
Of course my intention is to find a proper solution to handle empty keyword strings (either in _Framefile.json_ or _keywords.strings_).

[2018-01-09 10:30] rafalszastok commented on #10108
I'm facing this issue again. I had this issue on December, but after update it was resolved by itself. Now I'm facing the same issue. Signing hangs for over 20 minutes.

[2018-01-09 13:21] NateZ7 opened #11492 "Error installing on device app_store version"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

After building a iOS ipa using app_store m

[2018-01-09 13:31] KrauseFx commented on #11411
The awesome @jdee actually worked on a PR for this one https://github.com/fastlane/fastlane/pull/11374

Can you confirm that you're on Sierra, and not on High Sierra yet?

[2018-01-09 13:34] trusk89 commented on #11411
I can confirm my CI machine that has this issue is on Sierra.

[2018-01-09 13:36] KrauseFx commented on #11485
@miloslavskacel looks like a different error, check out and subscribe https://github.com/fastlane/fastlane/issues/11481

[2018-01-09 13:37] NateZ7 commented on #11492
@fastlane-bot  It's full of sensitive info. I hope I can get an answer as it is right now. Thanks !

[2018-01-09 13:46] KrauseFx commented on #11481
I just pushed a PR that hopefully fixes the problem, gonna do a hotfix release with this change today: https://github.com/fastlane/fastlane/pull/11493

[2018-01-09 13:49] KrauseFx commented on #11492
Yah, that's the idea of App Store builds, you can't run them on devices. They have to be submitted to Apple for review

[2018-01-09 14:04] #11481 closed

[2018-01-09 14:07] funnel20 commented on #11464
The most elegant solution that I can think of is to ignore empty strings in either _Framefile.json_ or _keywords.strings_. Than my existing code will just ran fine, similar to when no _keywords.strings_ exists.

The location I want to do this is in `def fetch_text(type)` which returns the configuration text from:

**_keywords.strings_**
This is the line where it returns the string from _keywords.s

[2018-01-09 14:14] NateZ7 commented on #11492
@KrauseFx  Thank you for the answer. I changed my jenkins flow accordingly. Closing

[2018-01-09 14:14] #11492 closed

[2018-01-09 14:26] HarriesChen opened #11495 "undefined method `login' for Spaceship::Tunes:Module"
[code]
</details>

<details><summary>`./fastlane/Appfile`</summary>

[code]
</details>

### fastlane gems

| Gem      | Version | Update-Status |
| -------- | ------- | ------------- |
| fastlane | 2.75.0  | ✅ Up-To-Date  |

### Loaded fastlane plugins:

**No plugins Loaded**

<details><summary><b>Loaded gems</b></summary>

| Gem                       | Version      |
| ------------------------- |

[2018-01-09 14:27] irfanG opened #11496 "`login': [!] undefined method `login' for Spaceship::Tunes:Module (NoMethodError)"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
I get this error when trying to make build

[2018-01-09 14:32] Eeyore741 commented on #11495
+

[2018-01-09 14:33] HarriesChen commented on #11495
I can upload IPA using pilot 20mins ago. but When I update fastlane to the most new, got an error while uploading IPA

[2018-01-09 14:40] Eeyore741 commented on #11495
Same here after update from 2.74.1 to 2.75.0.

[2018-01-09 14:44] irfanG commented on #11496
need to add
get_certificates           # invokes cert
get_provisioning_profile

[2018-01-09 14:44] #11496 closed

[2018-01-09 14:47] HarriesChen commented on #11495
can I back to 2.74.1 ?

[2018-01-09 14:49] andrey-lisovskiy commented on #11495
same

[2018-01-09 14:53] andrey-lisovskiy commented on #11496
doesn't help

[2018-01-09 14:53] Macarse opened #11497 "[screengrab] Adding Falcon as a ScreenshotStrategy"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

I have been using fastlane+screengrab to t

[2018-01-09 15:03] irfanG commented on #11496
you need to create certificates etc as per described in the https://codesigning.guide guide. Once that is done properly, then your lane needs to look something like:
[code]

[2018-01-09 15:09] kurtheiligmann commented on #11496
I am having the same issue when trying to download metadata; no certificate involved.
Possible duplicate of #11495

[2018-01-09 15:09] kurtheiligmann commented on #11495
I see this when trying to download metadata also.

[2018-01-09 15:27] KrauseFx commented on #11411
Looks like the only solution for now is

[code]

or define the `1.5.6` dependency if you use a `Gemfile`

[2018-01-09 15:33] #11142 closed

[2018-01-09 15:35] mouhcine commented on #11160
I'm having the same issue

[2018-01-09 15:42] jdee commented on #11411
You don't need to do anything special with a Gemfile. The Bundler automatically accounts for the Ruby version and will install the right jwt version. You don't need to explicitly declare jwt at all in your Gemfile. Just

[code]

And then `bundle install` or `bundle update`.

The problem is that RubyGems and the Bundler are two halves to the solution. The `gem install` command is basically a lower-

[2018-01-09 15:42] rygood commented on #11495
Same here after updating. :(

[2018-01-09 15:45] Tayphoon commented on #11485
When this fix will be released, all my fastlane builds broken :(

[2018-01-09 15:45] strano666 opened #11498 "Where is stderr?"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
With previous version of fastlane, i used t

[2018-01-09 15:46] rygood commented on #11495
@HarriesChen you can go back by [installing a specific version of a gem. ](https://stackoverflow.com/questions/17026441/how-to-install-a-specific-version-of-a-ruby-gem)

[2018-01-09 16:00] KrauseFx commented on #11498
I don't think we changed anything. Does this have something to do with the loading indicator you think? Can you try setting the `FASTLANE_DISABLE_ANIMATION` variable to hide the loading indicator?

[2018-01-09 16:00] janpio commented on #11464
Your length check is working, the problem is that before `result` was already filled with that array/hash/map (whatever it is called in ruby):
https://github.com/fastlane/fastlane/blob/a8ff50981d5f9162ca8971d6b9cf242a90063191/frameit/lib/frameit/editor.rb#L444-L445
Maybe use another variable name in 444+445? That is not the result anyway, but an array that includes the result...

[2018-01-09 16:03] KrauseFx commented on #11495
Ugh, so sorry to hear that. We'll try to resolve this ASAP

[2018-01-09 16:03] KrauseFx commented on #11495
I can reproduce, working on a fix now 👍

[2018-01-09 16:09] KrauseFx commented on #11495
Just pushed https://github.com/fastlane/fastlane/pull/11499, we hope to have a fix out within about 20 minutes 👍

[2018-01-09 16:10] strano666 commented on #11498
Yep. The problem was there!
With
`export FASTLANE_DISABLE_ANIMATION=1`
`stderr` is captured correctly.

[2018-01-09 16:11] KrauseFx commented on #11498
That's sub-optimal, I'm gonna look into this

[2018-01-09 16:15] KrauseFx commented on #11498
https://github.com/piotrmurach/tty-spinner/issues/28

[2018-01-09 16:15] KrauseFx commented on #11485
Shipping in about 10 minutes, really sorry about that

[2018-01-09 16:21] #11495 closed

[2018-01-09 16:22] KrauseFx commented on #11496
Sorry about that, shipping a new release right now 👍

[2018-01-09 16:23] KrauseFx commented on #10915
Awesome, thanks @Blackjacx 👍

[2018-01-09 16:23] #10915 closed

[2018-01-09 16:23] KrauseFx commented on #11463
In case someone finds this issue, discussion happened on Twitter https://twitter.com/vburojevic/status/949941658644250624

[2018-01-09 16:24] KrauseFx commented on #11462
Hey @joncursi,
Great idea.

We recently introduced the new [fastlane plugin system](https://docs.fastlane.tools/plugins/create-plugin/) that allows you to distribute and maintain your own plugins, and still be exposed to `fastlane` users.
We'd love this new action to be a `fastlane` plugin so people who want to use it, can easily add it to their project.
Please let us know how the integration goes

[2018-01-09 16:29] KrauseFx commented on #11495
Just shipped the new release, thanks everybody for helping out. Please update and let us know if that fixes the issue 👍

[2018-01-09 16:35] kurtheiligmann commented on #11495
So far so good Thanks for the quick response!

[2018-01-09 17:01] snatchev commented on #11481
I am at a loss of how a method returned by `public_instance_method` can also be undefined when attempted to be removed. I suppose anything is possible with ruby tho. I think @KrauseFx's PR takes a safe approach to what is attempted. 👍

[2018-01-09 17:03] Eeyore741 commented on #11495
Works like a charm

[2018-01-09 17:07] snatchev commented on #11481
It does not appear that `app_id` was defined with an `attr_accessor` before it was mapped in this particular instance in `build.rd`. If that is the case, then we do not need to "replace" the method with the call to `remove_method`.

[2018-01-09 17:47] saeros opened #11503 "fastlane gym produces error: method `to_plist' not defined in Array"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

On latest version of fastlane, I cannot bu

[2018-01-09 18:06] scorpion35 commented on #11470
@RishabhTayal  App ID and Bundle ID are different.

![image](https://user-images.githubusercontent.com/18679225/34735559-dde53f7c-f53d-11e7-9897-66ebca226c20.png)

[2018-01-09 18:38] milch commented on #11503
Hi @saeros, sorry for that issue! Can you try `rvm @global do uninstall fastlane` and report back? Is it possible that you previously installed fastlane with `@global` and later without?

[2018-01-09 19:00] milch commented on #11503
Alright, I managed to reproduce this issue by using rvm and installing fastlane with

[code]

and also

[code]

Afterwards running `rvm @global do fastlane action gym` would throw the same error you posted. I fixed it by uninstalling fastlane completely:

[code]

And then reinstalling:

[code]

Afterwards I could use fastlane normally.

[2018-01-09 19:08] saeros commented on #11503
Hello @milch,

Thank you for the commands, it worked \o/

[code]

Then I ran `bundle update` in my project folder and now it is working correctly.

[2018-01-09 19:09] carrchr commented on #11503
@milch I am having the same error but I use `rbenv`. I just installed `ruby 2.4.2p198 (2017-09-14 revision 59899) [x86_64-darwin16]` using `rbenv`. I'm on Mac OS 10.12.6
I tried installing `2.74.1` of fastlane but got a _different_ error message

[2018-01-09 19:09] milch commented on #11503
Great, thanks for reporting back, and I'm glad this fixed it for you!

[2018-01-09 19:11] carrchr commented on #11503
Perhaps this is the real cause of my problem: `You passed invalid parameters to 'gym'.`

[2018-01-09 19:14] milch commented on #11503
@carrchr Did you also have multiple fastlane versions installed that might be interfering with each other, or is this a completely fresh install?

[2018-01-09 19:16] saeros commented on #11503
Ture, the `You passed invalid parameters to 'gym'.` is what got me to report the issue in the first place, I forgot about that.

[2018-01-09 19:20] RishabhTayal commented on #11470
@scorpion35 Can't believe I overlooked that. I thought `create_app_level_tester` also takes both `app_id` and `bundle_id`. Thanks.

[2018-01-09 19:20] #11470 closed

[2018-01-09 19:20] carrchr commented on #11503
I am not a Ruby expert but if I understand how `rbenv` works it _should_ be considered as a "fresh install" when I installed the updated version of Ruby. I had to run `gem install fastlane` after I installed Ruby 2.4.2 using rbenv

[2018-01-09 19:21] milch commented on #11503
Can you post the backtrace for your error?

[2018-01-09 19:25] carrchr commented on #11503
[code]

[2018-01-09 19:26] rushsimonson commented on #11454
Same issue.
[code]

[code]

[2018-01-09 19:27] milch commented on #11503
Hmm, it seems you have 2 versions of 2.4.2 also:

- `/opt/boxen/rbenv/versions/2.4.2/`
- `/opt/rubies/2.4.2/`

With fastlane in both. If you do `which -a fastlane`/`which -a gem` you should be able to find out where the other one is coming from, and uninstall fastlane there.

[2018-01-09 21:03] carrchr commented on #11503
I reverted to using Ruby 2.1.2 and fastlane 2.59.0 and switched to using Bundler to run fastlane and it appears to have resolved my issue
`rbenv` via Boxen has been a headache for us but I don't have any time to troubleshoot further

[2018-01-09 22:57] dkondratovych commented on #11218
I do have the same issue,
[code]

But it's not visible on fabric under Tools -> Beta

[2018-01-09 23:20] michaelScoff commented on #10805
This is not being fixed, I would like to bring this up.

[2018-01-09 23:39] euler0 commented on #11105
Maybe you’ve to use the new screenshot strategy. ([Improved screenshot capture with UI Automator](https://docs.fastlane.tools/actions/screengrab/#improved-screenshot-capture-with-ui-automator))

I’ve solved the same issue by adding the below code:
[code]

[2018-01-09 23:56] KrauseFx opened #11508 "Deprecate pre-mono-gem releases"
Pre mono gem times, @milch helped with a lot of the migration. We still have people being confused about this: https://twitter.com/julianjuko/status/950643214641332224

Would love to solve this once and for all.

A few approaches I was thinking about:
1) Write a script that yanks all the versions of all the individual gems
2) Push a new release for all those old gems, that replaces the code base w

[2018-01-09 23:57] KrauseFx commented on #11508
Maybe yanking might not be a good idea, as it would remotely break `bundle update`. Seems like it's better to just replace the code with a big `raise`

[2018-01-10 01:08] brunobar79 opened #11509 "[PRECHECK] - undefined method `client' for Spaceship::Tunes:Module (NoMethodError)"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
I'm getting the following error with the la

[2018-01-10 01:21] a455455b commented on #11485
emmmmm,Is this bug fixed? all my fastlane builds broken :( ):

[2018-01-10 05:09] jbelkins opened #11511 "[regression] Fastlane 2.74.0 breaks CircleCI archiving"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

I have a fastlane task that archives an iO

[2018-01-10 05:44] Luis7a commented on #11021
According to [this](https://docs.fastlane.tools/actions/deliver/#default-values) section, deliver can also use metadata saved in files (including the release notes) but it looks like it is version independent, compared to supply which requires a folder per version.

[2018-01-10 05:45] corymayer commented on #11021
According to [this](https://docs.fastlane.tools/actions/deliver/#default-values) section, deliver can also use metadata saved in files (including the release notes) but it looks like it is version independent, compared to supply which requires a folder per version.

[2018-01-10 09:35] janpio commented on #11021
Maybe Google and Apple handle these differently in their UI as well?

[2018-01-10 09:35] christoff-1992 commented on #11220
Im also seeing this error, @Voxar I am also providing, `DELIVER_ITMSTRANSPORTER_ADDITIONAL_UPLOAD_PARAMETERS="-t DAV" fastlane beta`

Looking in iTunes connect the application has uploaded successfully.

If I find anything today I will update the post.

**Output:**

[code]

[2018-01-10 09:44] colincameron commented on #11468
I wasn't in work yesterday to test this but just checked and it's all good now.

Awesome job getting a fix out so quick. You guys are amazing! @KrauseFx @taquitos

[2018-01-10 10:17] andrey-lisovskiy opened #11513 "Add internal tester"
Hi, I have new app and want to add **_internal_** testers to it.
Tried:
_fastlane pilot add -e XXXX -u XXXX -a XXXX --distribute_external=false_

but **fastlane** keeps throwing an error:

_You must provide 1 or more groups (with the `:groups` option)_

How can I achieve this?

### Environment

<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                         | Value

[2018-01-10 10:39] funnel20 commented on #11464
@janpio Excellent observation, thanks.

I have refactored that particular `result` to `text_array`. And the other `result` (that is used in the return) to `text`, as the name of the function is `fetch_text()`.
Now I can nest the criteria for a non-empty string inline.

Besides from this particular issue, I enhanced the UI logs:

1. Moved this above the line that actually performs it and added the

[2018-01-10 11:02] janpio commented on #11464
Awesome. Can't wait to review that PR.

If you really want to hit it out of the park, you could also create a few (additional?) tests that check make these cases will work in the future as well.

[2018-01-10 11:04] saeros opened #11514 "Adding `-allowProvisioningUpdates` to the `export_xcargs` option of `gym` doesn't work"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

On latest version of fastlane, code signin

[2018-01-10 11:09] funnel20 commented on #11464
**Verification**
I use the following requirements:

1. The `title` can be defined in either the _Framefile.json_ or in _title.strings_
2. The `keyword` can be defined in either the _Framefile.json_ or in _keyword.strings_
3. The definition in the _*.strings_ file takes precedence over the definition in _Framefile.json_
4. The `title` is mandatory. When no `title` is found in both files, or an empt

[2018-01-10 11:24] vinayakparmar92 commented on #10740
[This](https://blog.bitrise.io/new-export-options-plist-in-xcode-9) seems to be the reason for this error.

[2018-01-10 11:39] milch commented on #11508
How about this timeline:

- Update all gems to show an error message at the beginning and end. Set a date when the gems will turn non-functional (e.g. +1 month from now)
- On that date, replace the executable with `raise "Please use fastlane instead, this will be removed on x date"` (e.g. +1 month again)
- Yank the gems at that time

[2018-01-10 11:40] saeros commented on #11514
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Another example with an other app.

#####

[2018-01-10 12:41] lulushen opened #11515 "fastlane init need input Apple ID .Can be an enterprise account with ID？"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

##### fastlane init prompt message “What w

[2018-01-10 12:51] funnel20 commented on #11464
**Conclusion**
The 2 fails are NOT present in this fix, while all REQs are met.
So this solution does not only repair this reported issue (small title in top right corner) but also an unreported issue that an empty title wasn't reported as erroneous.

[2018-01-10 13:01] janpio commented on #11464
Oh wow - I hope you are really good with Markdown tables and didn't spend a few hours on this (as I would have to...).

I actually thought of a `_spec` file in here: https://github.com/fastlane/fastlane/tree/master/frameit/spec

[2018-01-10 13:01] bhawin-bigstep opened #11516 "undefined local variable or method `launch_arguments'"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
sudo fastlane snapshot

error:
undefined lo

[2018-01-10 13:02] funnel20 commented on #11464
@janpio While working on this file _editor.rb_ I have one suggestion for refactoring.
Several variables are called `title_image` or `title_images`, see for example: https://github.com/fastlane/fastlane/blob/d70c7d5b65c822a7d4546ac0b7d365b4f94ba71c/frameit/lib/frameit/editor.rb#L265-L269

These are often used in a loop or struct, while it contains the data for either the keys "title" and "keyword".

[2018-01-10 13:07] janpio commented on #11464
Makes absolute sense - probably one was added after the other and the variables not renamed properly. Would be a second, separate PR though to not mix stuff together.

(If your first PR touches the same code, you might want to a) wait with creating the second one until this is merged or b) create the branch from the branch from the first PR (which will make it's PR commit history a bit messy until

[2018-01-10 13:30] funnel20 commented on #11464
OK, I'll choose option a).

I want to refactor a function name. How can I ensure that the current function name isn't used in any other file inside Fastlane?

[2018-01-10 13:38] janpio commented on #11464
1. Run the test suite with `bundle exec fastlane test` (see https://github.com/fastlane/fastlane/blob/master/YourFirstPR.md) - if something fails, look into it
2. Search the code for the function name (manual style)
3. Maybe there is also a ruby IDE that can help with that - I am just using VS Code (and breaking stuff all the time, so I might not be the best person to ask...)

[2018-01-10 13:38] funnel20 commented on #11464
@janpio Is that `_spec.rb` for the automatic circle test?
Is there any documentation on how to:

- write such as file
- test such a file locally

[2018-01-10 13:41] trusk89 commented on #11411
@jdee I'm doing a gemfile with fastlane and it doesn't install the correct version.

[2018-01-10 13:49] janpio commented on #11464
- Yes, these are Rspec tests, commonly used for ruby testing.
- I "learned" it by looking at other test files and lost of copy pasting.
- To run one specific file you use e.g. `bundle exec rspec .\fastlane\spec\fastlane_require_spec.rb`.

[2018-01-10 13:52] funnel20 commented on #11464
Awesome. I'll postpone that, so we can get this fix out first.
At least we have my table with the tests here for reference.

Shall I make the PR?

[2018-01-10 13:53] janpio commented on #11464
Yep, sounds good to me.

[2018-01-10 14:16] fwal opened #11519 "Swift: Using getProvisioningProfile with adhoc = true creates conflict"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Using `getProvisioningProfile` with `adhoc

[2018-01-10 14:22] fwal opened #11520 "Swift: Bool prompts returns different values if ci or not"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

The resulting value from `prompt` is incon

[2018-01-10 14:46] hamdullahshah commented on #10424
I'm in the same situation, having multiple bundle identifiers for same target using xcconfig.
Which needed different provisioning profiles.

@lkraider @pkostenko

Do you guys have any temporary solution for this ?

[2018-01-10 15:20] KrauseFx commented on #11511
Can you share
[code]

[2018-01-10 15:22] andrey-lisovskiy commented on #11513
@KrauseFx is it possible at all?

[2018-01-10 15:55] avalanched opened #11521 "Cannot find team with Name (but its in the list)"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

i have the following output
[code]

becaus

[2018-01-10 16:09] jbelkins commented on #11511
@KrauseFx [AppName-AppNameAlpha.log.zip](https://github.com/fastlane/fastlane/files/1619547/AppName-AppNameAlpha.log.zip)

[2018-01-10 16:11] #11509 closed

[2018-01-10 16:29] vburojevic commented on #11463
I've decided to use UI confirmation instead of global env var.
I think this a better way to handle this, but let me know if this is not ok for you, I can adjust it to use the env var.

PR reference: #11522

[2018-01-10 16:44] Caspain commented on #11429
I will take a shot at it. Any advice upfront first?

[2018-01-10 16:49] janpio commented on #11429
Have fun and just ask questions here if anything pops up! You can also create a PR with `[WIP]` in the title quite early to get feedback from CI and maybe some other contributors.

[2018-01-10 16:59] jlubeck commented on #10740
@vinayakparmar92 did you figure out a way to fix this on fastlane?

[2018-01-10 17:10] KrauseFx commented on #11485
Yep, new release is live. Does it not work @a455455b? Did you update?

[2018-01-10 17:45] lkraider commented on #10424
@hamdullahshah I have a workaround which you may be able to adapt.

Basically, you need to create a plist file containing the profile names you want to use for each bundle id, then pass that as a command line option for gym.

 In my Jenkins build, I use an exec script step with this:
[code]
(you may need more key/value entries for projects with multiple bundle ids)

Then call gym like this:
[code]

[2018-01-10 19:27] lsblakk commented on #11366
I'm having this issue as well - and it does look like fastlane env has been included by the OP

[2018-01-10 19:30] danielpunkass opened #11524 "Improve setup command timeout to increase odds of success"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

(I tried to use capture_output but I don't

[2018-01-10 19:43] ethansinjin opened #11525 "Use one Apple Developer auth session for entire `fastlane match` session"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

When using `fastlane match` (optionally wi

[2018-01-10 19:55] akamud opened #11527 "Invoke Snapshot ReportsGenerator without XCode Project"
- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

I understand `Snapshot` uses XCode UI Tests at the moment, but I'm

[2018-01-10 22:12] invoodoo opened #11528 "undefined method `login' for Spaceship::Tunes:Module"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

used this code to update dsyms for the lat

[2018-01-10 23:18] revolter commented on #11370
Could this be closed now? (Wonder why didn't GitHub do it automatically)

[2018-01-11 00:34] #11370 closed

[2018-01-11 09:06] jkammerer commented on #11022
Had the same. I removed the default language folder (in my case en-US) and then the upload worked fine.

[2018-01-11 10:50] hamdullahshah commented on #10424
@lkraider thanks 👍 will give it a try.

[2018-01-11 11:37] #11464 closed

[2018-01-11 11:38] janpio commented on #11464
So @funnel20's PR to fix this was just merged and will be released with the next update. Follow #11518 to get notified when this happens

Thanks @funnel20!

[2018-01-11 12:06] Caspain commented on #9974
Whats the status , have anyone started workijg on it. I plan to start?

[2018-01-11 13:10] TwiterZX commented on #10187
Hi @KrauseFx
**$(inherited)** is an xcode environment variable that checks the same variable from the project level.
The error comes from here, because it is replaced by xcode before executing the build step, it must not be present from the command line.
**-Xfrontend** is for telling xcode to display a UI warning (in the editor)
**-debug-time-function-bodies** is for enabling the compilation timin

[2018-01-11 14:06] Amokrane opened #11530 "Activity under test is started twice"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

When the capture_screenshots task, we have

[2018-01-11 14:18] funnel20 commented on #11464
@janpio I want to make a 2nd PR with the proposed renamed variables.
Forgive me my newbie question, but how can I update my forked repo to the latest master?
My common work-around is to delete my fork completely and fork again, but I hope this can be more easy.

[2018-01-11 14:28] janpio commented on #11464
See here:
https://stackoverflow.com/a/13273853
Here is an alternative with the Github web UI: https://www.sitepoint.com/quick-tip-sync-your-fork-with-the-original-without-the-cli/

(But I still often just get rid of my old fork to be honest... One of the nicest things of becoming a contributor here was that I can create branches on `fastlane/fastlane` directly :)) )

[2018-01-11 15:42] VolkerSchiewe opened #11531 "[BUG] all_processing_builds is crashing"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
app.all_processing_builds is crashing when

[2018-01-11 16:01] funnel20 commented on #11464
@janpio Thanks, I'll try them next time, because somehow I destroyed my fork (again).

[2018-01-11 16:01] funnel20 commented on #11464
I created PR #11532, can you please review it?

[2018-01-11 16:03] oromis300 opened #11533 "Invalid request with fastlane deliver"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

##### Complete output when running fastlan

[2018-01-11 16:16] yotavm opened #11534 "pilot description length error and stuck on waiting for iTunes"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
hi,
when Fastlane start pilot i get descrip

[2018-01-11 16:37] Macarse commented on #11497
ping?

[2018-01-11 16:48] janpio commented on #11497
Sounds like a great idea!

I also had to add delays to get my screenshots working but assumed it was my apps fault.

Looking forward to review a PR.

[2018-01-11 16:49] janpio commented on #11464
Haha, I know the feeling. Happens to me all the time, even with normal branches...

[2018-01-11 18:05] funnel20 commented on #11464
Yup. I'm used to Subversion and somehow I can't get Git into my system. Will follow some course, because I'm feeling quite stupid 🤔

[2018-01-11 18:12] KrauseFx commented on #11528
Can you add a
[code]
to the top of your file?

[2018-01-11 18:20] invoodoo commented on #11528
it works, thanks.

[2018-01-11 18:49] itruf commented on #11481
Thanks @KrauseFx! Good job, it works.

[2018-01-11 19:13] KrauseFx commented on #11481
Glad to hear, thanks 👍

[2018-01-11 19:29] #11528 closed

[2018-01-11 19:29] KrauseFx commented on #11528
Great to hear 👍

[2018-01-11 20:46] sadiq81 opened #11536 "Language 'en-US' is not activated / available for this app version."
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

##### Complete output when running fastlan

[2018-01-11 20:59] piotrmurach commented on #11498
@strano666 Could you please update the tty-spinner either by running `gem install tty-spinner -v 0.8.0` or if you're using bundler `bundle update tty-spinner`? Any redirects, whether `stdin` or `stderr` should be clear of any spinner output and work as expected. Please let me know if this fixes your issue?

[2018-01-11 21:23] ronakpatel619 commented on #10933
@bharathreddy-97 : How did you create a .env file?

[2018-01-11 22:12] bitomule commented on #10805
Any update on this?

[2018-01-11 22:48] Guacaswole commented on #10770
as of `2.75.1` i'm still getting this which is strange

[2018-01-12 03:54] RishabhTayal commented on #11525
I am seeing the same issue.

[2018-01-12 04:56] taisukeh commented on #11503
I encountered the same problem.
In my case, `cfpropertylist.rb` loaded twice because of this issue https://bugs.ruby-lang.org/issues/10222.

[2018-01-12 07:16] onevcat opened #11537 "Output to console when using Fastfile.swift"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

In Ruby version, we could use [`puts` acti

[2018-01-12 07:22] JienLee opened #11538 "Notification action -execute command not working."
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

I need notification action to notify the e

[2018-01-12 07:23] mkalmes commented on #11147
Fixed w/ `fastlane` v2.64.0 or newer and `xcodeproj` v1.5.4. 🎉

[2018-01-12 07:23] #11147 closed

[2018-01-12 08:28] JienLee commented on #11538
@fastlane-bot Sorry, but I think that's not Code Signing Issue.
Because when I upload this issue, I removed the Appfile - package_name value.

In my project repo and local file is set correct value to package_name.

fastlane's notification action is working. But when I click the notification in my mac, `execute: COMMAND` is not working...

[2018-01-12 09:30] sadiq81 commented on #10236
I'm experiencing a similar problem #11536

[2018-01-12 10:00] sadiq81 commented on #11536
I have attached the json i'm sending to ITC, retrieved from charles.

[11536.txt](https://github.com/fastlane/fastlane/files/1625598/11536.txt)

[2018-01-12 10:05] sadiq81 commented on #11536
I have just tried the same command with and admin user, it worked. Shouldnt App Manager have access to edit data on ITC for an app.

[2018-01-12 10:14] oromis300 commented on #11533
My bad. I had invisible char in my metadata file. They provoked the error.

[2018-01-12 10:14] #11533 closed

[2018-01-12 11:51] ahmgeek opened #11539 "Updating to last version breaks Enumerable"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
Updating to the last version breaks the spe

[2018-01-12 11:51] zilppuri opened #11540 "register_devices documentation links to an unsafe website"
The documentation for register_devices (https://docs.fastlane.tools/actions/register_devices/) points to an website: https://devimages.apple.com.edgekey.net/downloads/devices/Multiple-Upload-Samples.zip

However, this websites certificate has been expired.

Is there are reason for not providing an example a standard UDID export .txt file syntax within the documentation without linking to external

[2018-01-12 12:03] andrey-lisovskiy opened #11541 "Combine deliver() and Deliverfile"
Hi, is it possible to combine properties from **deliver()** command and **Deliverfile**?

[2018-01-12 12:09] janpio commented on #11540
Seems this is/was an official site from Apple, which is also available under the "safe" URL: http://devimages.apple.com/downloads/devices/Multiple-Upload-Samples.zip

I kind of assume that this isn't part of the documentation as the system fastlane is using for that (generate it from the action code itself automatically) is not very well equipped to handle such situations.

I create a PR to at lea

[2018-01-12 12:24] janpio commented on #11539
What OS are you working on?
Did this work before?
If so, what changed besides updating fastlane?
Anything local?
Do you know what changed inside fastlane? Dependencies or code?

[2018-01-12 12:56] #11471 closed

[2018-01-12 12:56] lukewakeford commented on #11471
if anyone else is looking for a way to use custom entitlements, look at this PR - https://github.com/fastlane/fastlane/pull/9912

[2018-01-12 12:57] lukewakeford commented on #11049
@janpio looks like someone already fixed this but it's called templates?
 - https://github.com/fastlane/fastlane/pull/9912

[2018-01-12 13:02] ahmgeek commented on #11539
Hey @janpio, here's the steps:

from inside on the project  `bundle update fastlane --conservative`
then `git diff --unified=0`

<details><summary>Click to toggle contents of `diff`</summary>

[code]
</details>
then `rspec` and the error in my issue pops up.

-  you can find details in the issue env but here's it too
[code]
That failed on my co-worker linux/ubuntu/jRuby machine too.

I tried to `b

[2018-01-12 13:29] janpio commented on #11049
Oh wow!

Does it work for you as expected?

[2018-01-12 13:33] janpio commented on #11539
Nah, there it says "UNKNOWN" ;)

Yes, if you also changed something in your environment.

My current understanding is that newer fastlane uses a newer dependency that doesn't work on your jRuby environment, agree?

[2018-01-12 13:37] reshadf opened #11543 "Code signing error due to automatic signing"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

when the CI runs the fastlane beta lane it

[2018-01-12 13:40] andrey-lisovskiy commented on #11541
It works good, had some errors.

[2018-01-12 13:40] #11541 closed

[2018-01-12 14:10] ahmgeek commented on #11539
ok, maybe my issue was a bit vague, so does fastlane works as expected with jRuby, can you please
just try to bundle install and run tests with jRuby?
bundle install has issued with gems which doesn't work with jRuby.
and I am not sure if tests will pass too.

[2018-01-12 14:35] pablog opened #11544 "Get latest `all_build_train_numbers`"
I have a script that fetches the latest version number uploaded to Itunes Connect.

It does this (only the relevant lines of the script):

[code]

This has a big problem, which is that [`all_build_train_numbers`](http://www.rubydoc.info/gems/spaceship/0.31.1/Spaceship%2FTunes%2FApplication:all_build_train_numbers) is just an array of strings, so `max` considers `1.1.9` to be higher than `1.1.10`.

[2018-01-12 15:09] Tayphoon commented on #11503
Same here:
/Users/Tayphoon/.rvm/gems/ruby-2.3.3@global/gems/fastlane-2.75.1/fastlane_core/lib/fastlane_core/core_ext/cfpropertylist.rb:16:in `remove_method': [!] method `to_plist' not defined in Array (NameError)
	from /Users/Tayphoon/.rvm/gems/ruby-2.3.3@global/gems/fastlane-2.75.1/fastlane_core/lib/fastlane_core/core_ext/cfpropertylist.rb:16:in `block in <top (required)>'
	from /Users/Tayphoon/.

[2018-01-12 15:27] #11540 closed

[2018-01-12 15:28] milch commented on #11503
@Tayphoon I also see multiple installed versions of ruby/fastlane in your backtrace. Did you try the commands I posted [here](https://github.com/fastlane/fastlane/issues/11503#issuecomment-356380798)?

[2018-01-12 15:33] Tayphoon commented on #11503
@milch Yes, i've try completely remove fastlane and install agin

[2018-01-12 15:48] milch commented on #11503
And both `rvm @global do fastlane` and `fastlane` crash for you? Are you using bundler?

I'm currently working on the complete fix here #11507, but it might take a bit longer as it's a lot of work. Essentially the issue happens because of a bug in ruby as per the issue that @taisukeh linked. In the meantime upgrading ruby to 2.5.0 should fix it, or downgrading to an older version of fastlane

[2018-01-12 15:51] Tayphoon commented on #11503
I use rvm. This is not trivial task to remove all ruby versions

[2018-01-12 15:56] KrauseFx opened #11546 "[proposal] Create a Gemfile for the user when running `fastlane init`"
Users using system Ruby without a `Gemfile` cause a lot of our incoming support tickets.

@milch has some good opinions (some would even say the best opinions)

Currently we support the following installation methods (the % is the number of executions done by each installation method)

### Using a `Gemfile` (49%)

Currently we classify this as a more advanced setup, and don't recommend this out of

[2018-01-12 16:04] BenRx opened #11547 "interactive mode error with CircleCI v1.0"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description and Environment

Hello !
We have encounted

[2018-01-12 16:08] lukewakeford commented on #11049
Yup it works!

[2018-01-12 16:13] milch commented on #11546
We can do it during init, we can also do it any time fastlane is run when `!Helper.contained? && !Helper.bundler? && !FastlaneCore::FastlaneFolder.path.nil?` (or deMorgan'd `!(Helper.contained? || Helper.bundler? || FastlaneCore::FastlaneFolder.path.nil?)`) as an interactive step, i.e. before anything else is done: `fastlane is recommended to be run *only* with Bundler as dependency manager, which

[2018-01-12 16:13] milch commented on #11546
I'm in favour of that

[2018-01-12 16:22] janpio commented on #11049
Awesome!

Now I'm happy I didn't get to it, as I really would not have connected the dots here.

Left some comments on the PR - thanks for directly creating one.

[2018-01-12 16:23] taquitos commented on #11546
Yeah, totally in favor of trimming out the hard-to-support methods of installation. I think if we start to get more support issue around these methods, we should plan on deprecating and removing. As is, if we aren't actively seeing issues, I'm in favor of keeping them around. The idea being, if we do start seeing more issues, we can prioritize dropping them and migrating people.

[2018-01-12 17:11] RishabhTayal opened #11550 "[question] forcefully fail fastlane"
I am using `xcodebuild` to run the tests in my lane.

`sh("xcodebuild test -workspace ./../MyWorkspace.xcworkspace -scheme MyScheme -sdk iphonesimulator  -destination 'platform=iOS Simulator,name=iPhone 6' | xcpretty")`

Even though if the unit test fails the fastlane lane returns successfully. I am expecting the lane to fail when the unit test fails with above command. How can we do that?

[2018-01-12 17:29] janpio commented on #11546
Thanks @taquitos. They only mention gem install and the app on their site though, right?
https://guides.cocoapods.org/using/getting-started.html#installation
https://guides.cocoapods.org/using/troubleshooting#installing-cocoapods

They don't have the `Gemfile` problem we have?

[2018-01-12 17:33] taquitos commented on #11546
Yeah, they only mention those bethods on their site, but you can still install it from `homebrew` I'm not sure if they have the gemfile problem, but I've certainly had issues in the past that were ruby-related.

[2018-01-12 18:12] KrauseFx commented on #11550
It should fail. But either way, you should use [run_tests](https://docs.fastlane.tools/actions/run_tests/)

[2018-01-12 18:19] KrauseFx commented on #11546
As @milch said though, CocoaPods doesn't have any dependencies

[2018-01-12 18:22] fechy commented on #11310
Same here since 2.75.1
Getting:
[code]

[2018-01-12 18:50] RishabhTayal commented on #11550
I have been having issues with scan for my project and it's really hard to find the issue so I decided to use xcodebuild.

It doesn't fail lane when xcodebuild fails.

[2018-01-12 18:52] RishabhTayal commented on #11550
Will share output here.

[2018-01-12 19:08] gerbil802 commented on #11367
Thanks @KrauseFx. The default value didn't trigger for me and I realized that I have release_notes.txt in the localization and Deliver preferred _it_ over default in the parameters. That part was confusing at first :-)

[2018-01-12 19:08] #11367 closed

[2018-01-12 19:40] KrauseFx commented on #11540
Thanks everyone 👍

[2018-01-12 21:05] rajeejones commented on #10479
I have the exact same issue but with ruby 2.5.0

@dunyakirkali can you tell me what you did?

[2018-01-12 21:47] superarts commented on #10702
I can confirm the the latest version works. Forgot what I did to successfully update though, `brew` didn't do it for me - need some manual work.

[2018-01-12 21:52] trevor-e commented on #10479
@fastlane-bot  I'm still seeing this issue.

[2018-01-12 21:58] saeros commented on #11543
Same here (see #11514)

[2018-01-12 22:22] mrtnrst commented on #11547
I've seen this problem on and off with the CircleCI environment I work with. I was able to resolve the issue by creating a generic keychain and setting that as the default for match:

`    create_keychain(
      name: 'Generic-keychain',
      default_keychain: true,
      password: ENV['MATCH_PASSWORD'],
      unlock: true,
      timeout: false,
      lock_when_sleeps: true
    )
`

and after the

[2018-01-12 23:16] DuglsYoung opened #11553 "Can't access app.build_train"
I'm using fastlane 2.75.1 and trying to follow the train example at https://github.com/fastlane/fastlane/blob/master/spaceship/docs/iTunesConnect.md

I'm just using spaceship, no fastfile.  app.all_build_train_numbers returns a list of builds but app.build_trainss[version] doesn't return anything useful. What am I doing wrong?

require 'spaceship'
Spaceship::Tunes.login(login, password)
app = Spac

[2018-01-12 23:18] deepumukundan commented on #11525
Same here. This has been a recurring issue in the past as well.

[2018-01-13 10:43] hjanuschka commented on #11550
have you tried removing the `|xcpretty`  and see if it fails then? maybe xcpretty is messing up the exit code.
because as @KrauseFx  mentioned  `sh`  ususually fails/exists if the command fails.

[2018-01-13 10:45] emes commented on #11119
Encoding::UndefinedConversionError: [!] "\xF7" from ASCII-8BIT to UTF-8

[2018-01-13 12:05] RomanVolkov commented on #8053
Having the same problem at High Sierra

[2018-01-13 12:14] RomanVolkov commented on #9840
@taquitos where I can get api_token now in case Crashlytics is a part of Firebase now?

[2018-01-13 12:26] milch commented on #11544
@pablog If you do `require 'rubygems/version'` you can wrap it in `Gem::Version`:

![screen shot 2018-01-13 at 13 23 22](https://user-images.githubusercontent.com/279407/34906036-029b7118-f865-11e7-93f0-55ab624b73bc.png)

`fastlane` also has a thin wrapper around `Gem::Version` with `FastlaneCore::TagVersion`. You can use that instead if you `require 'fastlane_core/tag_version'`

[2018-01-13 14:35] milch commented on #11553
Hmm, it seems the documentation is wrong there. I believe when you do `build_trains[<version>]` it returns an array with all the builds in the version, at least according to the tests: https://github.com/fastlane/fastlane/blob/master/spaceship/spec/test_flight/build_trains_spec.rb#L44

[2018-01-13 16:07] pablog commented on #11544
Perfect @milch this is very useful! I'll do that!

[2018-01-13 17:10] macecchi commented on #10378
I'm still experiencing this issue as well. This appears to be a problem with Apple, as logging in to iTC with the CI user (with App Manager role) and trying to edit the changelog manually gives an error.

When pressing save on iTC page, it displays an alert and redirects to the home of iTC. Inspecting the network requests shows the 403 error there as well:

<img width="588" alt="screen shot 2018-0

[2018-01-13 18:03] KrauseFx opened #11557 "[Test Only for peril]"
This is a regression in fastlane

Not really though cc @orta

[2018-01-13 20:19] RishabhTayal commented on #11550
@hjanuschka Removing the `| xcpretty` from the command is failing the lane. Is there a way to fail lane and use `| xcpretty` as well?

[2018-01-13 20:22] RishabhTayal commented on #11550
Found more info on [`xcpretty`](https://github.com/supermarin/xcpretty#usage).

using `sh("set -o pipefail && xcodebuild test -workspace ./../PersonalShopper.xcworkspace -scheme PSClient -sdk iphonesimulator  -destination 'platform=iOS Simulator,name=iPhone 6' | xcpretty")` works.

[2018-01-13 20:22] #11550 closed

[2018-01-14 10:50] strano666 commented on #11498
@piotrmurach updating tty-spinner everything works!

[2018-01-14 12:08] sadiq81 commented on #11536
I have recorded the entire conversation between ITC and fastlane via Charles. If you give me an email i can send it to you.

[2018-01-14 13:48] piotrmurach commented on #11498
@strano666 Great! I do appreciate that fastlane uses tty-spinner for its functionality and I can improve it to work even better.

[2018-01-14 13:54] albgz commented on #9966
Any news?

[2018-01-14 22:32] #11498 closed

[2018-01-15 02:20] karosLi commented on #11487
any reply pls?

[2018-01-15 03:06] #10889 closed

[2018-01-15 04:32] #6519 closed

[2018-01-15 06:35] anshuliOSDeveloper commented on #10933
@ronakpatel619 are you able to create .env file, if yes, then please share the steps with me as I am also facing the same issue.
@revolter Can you also help me in creating .env files for different targets ?

[2018-01-15 06:39] ronakpatel619 commented on #10933
@anshuliOSDeveloper Sorry. I am not yet able to do so. Actually, I would like to do the same to create .env files for individual targets. I will keep you posted if I get a solution.

[2018-01-15 08:58] ahmgeek commented on #11539
@janpio @KrauseFx any updates about this 😭  ?

[2018-01-15 09:00] Tony89 opened #11559 "Fastlane with circleci build error: Code Signing Error: No profile for team matching provision"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
I using circleci 2.0 and fastlane 2.75.1
Wh

[2018-01-15 09:04] revolter commented on #10933
You simply create a file named `.env` inside the `<root>/fastlane` folder.

[2018-01-15 09:08] biolinh opened #11560 "fastlane match: Unauthorized Access"
### New Issue Checklist

- [] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [ ] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [ ] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
Using Fastlane match to build app, I got the

[2018-01-15 09:13] Tony89 commented on #11559
I was following 'Using match', but It couldn't work as I expected. Can everyone help me resolve this issue. It's take me many working days :(

[2018-01-15 10:06] janpio commented on #11539
Fastlane is not tested with jRuby, so no idea. (Also: I personally don't know anything about it)

[2018-01-15 10:14] #11362 closed

[2018-01-15 10:42] grifas opened #11561 "Crash on real device"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

##### Complete output when running fastlan

[2018-01-15 10:45] heach commented on #11048
Running `gem cleanup` solved this issue for me.

[2018-01-15 10:58] agordeev opened #11562 "Badge is deprecated"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- *] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Why `badge` is deprecated? https://docs.fas

[2018-01-15 11:02] carloscuesta commented on #10978
This is because Travis CI runs on a detached head state @mrand01

[2018-01-15 11:06] vinayakparmar92 commented on #10740
@jlubeck Yea. Providing **export_options** parameter in gym fixed this issue for me. Below is my code snippet from Fastfile.

`gym(scheme: 'Production',
       export_method: 'app-store',
       export_options: {'signingStyle' => 'manual', provisioningProfiles:
      {
        "com.*****.production" => "***** Production",
        "com.*****.production.OneSignalNotificationServiceExtension" => "One

[2018-01-15 12:08] janpio commented on #11562
https://github.com/fastlane/fastlane/blob/master/fastlane/lib/fastlane/actions/badge.rb#L5-L7

[2018-01-15 12:34] dantman commented on #9825
The code in question has not been changed, the bug will not have disappeared in the latest version.

[2018-01-15 12:41] vanniktech commented on #9825
I don't even know why the `fastlane-bot` is questioning this issue since there's a `type: bug` label on it and it hasn't been closed.

[2018-01-15 13:17] skagedal opened #11563 "Fastlane snapshot requires simulator names to include the device type"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

When I run `fastlane snapshot`, I get the

[2018-01-15 13:42] skagedal opened #11564 "Fastlane creates an empty screenshots.html file"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

When running a simple test project, Fastla

[2018-01-15 13:43] skagedal commented on #11564
[ScreenshottedApp.zip](https://github.com/fastlane/fastlane/files/1631797/ScreenshottedApp.zip)

[2018-01-15 13:45] skagedal commented on #11564
Apologies for the poor stripping of ANSI color codes in the above output. The suggested `--capture-output` did not work, so I did a `script` to capture it and then stripped the codes with [strip-ansi](https://github.com/chalk/strip-ansi-cli), which doesn't seem to have done a great job. The output is also in the attached zip as `fastlane.log`.

[2018-01-15 14:00] MoMannn opened #11565 "Service account actor - deprecated"
In the supply docs there is a mistake. https://docs.fastlane.tools/actions/supply/
Step 6: Click Select a role and choose Project > Service Account Actor
The service account actor cannot be selected as it is deprecated https://cloud.google.com/iam/docs/service-accounts

The Service Account Actor role
This role has been deprecated. If you need to run operations as the service account, use the Servi

[2018-01-15 14:22] janpio commented on #11565
Thanks for the note!

Did you try it with a "Service Account User" role account and did everything work? Or does it also take the "Service Account Token Creator"`role?

[2018-01-15 14:25] MoMannn commented on #11565
I just checked both. I was able to do all the other steps and get the supply. But I cannot say if this effects any other aspects since I just started using fastlane.

[2018-01-15 15:16] grifas commented on #11561
What is the connection with my issue ?

[2018-01-15 15:29] grifas commented on #11561
It can't find `SIMULATOR_HOST_HOME` on real device:

[code]

so it throws the error.

[2018-01-15 16:58] scorpion35 commented on #10793
@KrauseFx My account just got locked too :(

I am using fastlane version `2.75.1`, and tried to use `Spaceship::Tunes.login("my apple id")` and received `503 Service Temporarily Unavailable` error.

Please help.

[2018-01-15 17:12] dagio opened #11569 "undefined method `strip' error when using appetize action with a URL"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

[code]

[code]

### Environment

<details>

[2018-01-15 17:18] #11561 closed

[2018-01-15 17:33] benp313 opened #11570 "Fastlane cert fails with 'Unauthorized Access'"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Running fastlane dies in 'cert' with Unaut

[2018-01-15 21:32] danielbowden opened #11572 "Reset simulator Xcode 9.2+"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Hi,
Just a quick question, what is now the

[2018-01-15 21:38] scorpion35 commented on #11444
Anyone? Help, please!

@KrauseFx @taquitos Sorry to mention you guys directly, I am just hoping someone would help me. Many thanks in advance!

[2018-01-15 21:50] scorpion35 commented on #11513
@andrey-lisovskiy Not sure with fastlane, but you can do it with Spaceship. Check my answer here - https://github.com/fastlane/fastlane/issues/11453.

If you want to add new user, using Spaceship,
[code]

[2018-01-15 22:49] scorpion35 commented on #11521
@avalanched Team name would be "company 8"

[2018-01-15 23:21] pav1790 commented on #11536
1. Is the said app manager added to this app?
2. Is the same user with app manager privilege able to do it manually?

[2018-01-16 05:02] #11562 closed

[2018-01-16 05:57] sadiq81 commented on #11536
1. Yes for all apps
2. Yes

[2018-01-16 07:05] Tayphoon commented on #11503
Remove rvm with all ruby versions fix this issue.

[2018-01-16 08:06] zuil7 opened #11573 "Fastlane 2.75.1 not showing in fabric app"
Issue Description
Fastlane 2.75.1 not showing up in fabric application

<details><summary>🚫 fastlane environment 🚫</summary>

### Stack

| Key                         | Value                                           |
| --------------------------- | ----------------------------------------------- |
| OS                          | 10.13.1                                         |
| Ruby

[2018-01-16 08:43] slhodson969 commented on #10793
@scorpion35 For next time maybe, we found that if we turned on our VPN we could get around the issue....until it gets blocked too.

We have now added `sleep(15)` in between our multiple `pem` calls also to try and avoid this happening at all and so far it seems to have worked.

[2018-01-16 09:43] #11539 closed

[2018-01-16 10:22] BenRx commented on #11547
@mrtnrst Hello !
First of all, thanks for your reply. I've just added your code in my fastfile but the problem still  seems to be there :/

[code]

Any idea ? 🙏

[2018-01-16 10:52] thomasjoulin opened #11574 "Fastlane match prompts for Keychain access "Always Allow" on CI"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

We're using fastlane match, and on CI if t

[2018-01-16 11:09] Jesusz0r opened #11575 "Error signing apps even with team_id and team_name defined"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

##### Complete output when running fastlan

[2018-01-16 13:18] Justinemmerich commented on #11273
I don't want to padding or text. This is still a Bug, because Images can not be used directly after for example`fastlane frameit silver`

[2018-01-16 13:35] Justinemmerich commented on #11273
<img width="802" alt="bildschirmfoto 2018-01-16 um 14 32 30" src="https://user-images.githubusercontent.com/10778265/34991589-7aaffaf4-faca-11e7-86ae-3528f6dd00c0.png">

[2018-01-16 13:36] Justinemmerich commented on #11273
<img width="635" alt="bildschirmfoto 2018-01-16 um 14 35 36" src="https://user-images.githubusercontent.com/10778265/34991626-9735839c-faca-11e7-8ea9-c725a48b5a88.png">

[2018-01-16 13:41] andrey-lisovskiy commented on #11513
@scorpion35 Thanks for response, but this adds **external** user, not **internal** (iTunes Connect user).

[2018-01-16 13:42] janpio commented on #11273
Why is this a bug when the docs tell you:

docs.fastlane.tools/actions/frameit/#usage

You of course could say that you want it to work otherwise or an option to work it this way.

Yes, but I don't want to replicate all this although I don't have a problem and just want to help you. So please add some padding and text to confirm that it works the way it should if those are present. Then we have a

[2018-01-16 14:57] scorpion35 commented on #10793
@slhodson969 Yea tried VPN option as well yesterday, didn't seem to work. That's the reason I had to go with changing my password and updated Fastlane to `2.75.1`. All is fine now!

Thank you, everyone, for amazing work on Fastlane/Spaceship and bug fixes!!

[2018-01-16 15:16] revolter opened #11578 "FASTLANE_USER is ignored for app_store_build_number"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Running `bundle exec fastlane run app_stor

[2018-01-16 15:45] henningBunk opened #11579 "Obstacles building fastlane on ubuntu/linux"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

Hi!
It took me a while to get fastlane to

[2018-01-16 16:24] borut-t opened #11583 "Scan - Exit status 65 - Linting"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

I'm getting linting errors on fastlane cla

[2018-01-16 17:36] RishabhTayal commented on #10686
There is an open PR #10722

[2018-01-16 17:43] scorpion35 commented on #11513
@andrey-lisovskiy Fixed the code above! Hopefully it works for you.

`Spaceship::TestFlight::Tester::crea**` -> `Spaceship::TestFlight::Tester::Internal::crea***`

[2018-01-16 18:21] rajeejones commented on #10479
@trevor-e @dunyakirkali I have fixed my issue.

I updated my Bundle & Bundler to 1.16.1 and made sure I said "yes" to overwrite the system bundler.

I also updated my Fastlane to latest version, 2.76.0 and now everything is working for me!

[2018-01-16 18:21] shubham-gupta-bs opened #11584 "undefined local variable or method `method_to_use'"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
/usr/local/lib/ruby/gems/2.3.0/gems/fastlan

[2018-01-16 18:28] JosephDuffy opened #11585 "frameit not shrinking text for multiline titles"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description

After an update to my app is re-ran my `cr

[2018-01-16 18:30] taquitos commented on #11573
@zuil7 sorry about that, can you check again? It should now be up to 2.76.0