[2016-10-05 10:45] diaojunxian commented on #6351
@TKBurner sorry,I have uploaded the ipa to the testflight,and operated to publish the ipa by web in  itunesconnect testflight,I found a interesting question that when released testing ipa in external testing,like picture below![canvas](https://cloud.githubusercontent.com/assets/19700467/19109881/ea4c1260-8b29-11e6-8d4e-46e0794deddc.png)。
App developer and I don't know where  the language "ITC.loca

[2016-10-05 11:19] biolinh opened #6400 "Match cannot find certificate in new server."
### New Issue Checklist
- [ ] Updated fastlane to the latest version
- [ ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

I brand app by using match in a server.
match 0.8.0
When I switch to other server. It shows the error: (match 0.6.3)
##### Complete output when running fastlane, including the stack trace and co

[2016-10-05 12:07] fotiDim commented on #5341
@TKBurner from project folder. Moving workspace to the same level as the project file did the trick but it would be nice not to have that restriction.

[2016-10-05 12:44] gersonmendes commented on #1789
Any workaround to this? Or I need to create and associate the container manually?

[2016-10-05 12:55] tabrindle commented on #6335
Thanks @KrauseFx - I didn't realize read only meant it didn't log in at all.

[2016-10-05 13:05] #4907 closed

[2016-10-05 14:04] lukewakeford commented on #6320
@TKBurner Which work around is that? - using the flag MATCH_FORCE_ENTERPRISE="1" makes no difference when i have match set to readonly - I have had to allow my CI machine git write permissions and set readonly to false when using enterprise provisioning.

@jlubeck Can you advise how to ensure the flag is used when reading and writing? I am just adding it above match in my Fastfile.

    MATCH_FORC

[2016-10-05 14:31] #5649 closed

[2016-10-05 14:37] #6314 closed

[2016-10-05 14:37] #6382 closed

[2016-10-05 14:41] akaralar commented on #6310
Hey @TKBurner , thanks for showing interest. I can build the iOS App target with `use_legacy_build_api: true` but I also happen to have watchkit app and extension targets, and those can't be built with that flag :(

I'll post the log shortly.

[2016-10-05 15:11] asfalcone commented on #6337
@belawaeckerlig thanks for reporting this issue. I'm going to put together a fix that adds shellescaping to the apk paths 👍

[2016-10-05 15:22] akaralar commented on #6310
here is the complete input and output:
[code]

[2016-10-05 15:29] #6337 closed

[2016-10-05 15:33] asfalcone commented on #6377
Glad that the issue is resolved for you after fixing up your .xcodeproj 👍

[2016-10-05 15:33] #6377 closed

[2016-10-05 16:25] wkwyatt commented on #6381
I'm not sure how to install from GitHub, but are there notifications I can sign up for so that I know when the new releases happen?  Thx

[2016-10-05 18:02] rvi commented on #6397
Are you on OS X Sierra? Might be related to #6389

[2016-10-05 19:01] KrauseFx commented on #6381
@wkwyatt Best is to follow us on Twitter [@fastlanetools](https://twitter.com/fastlanetools) 👍

[2016-10-05 19:11] KrauseFx commented on #6397
Have you followed the code signing guide? https://docs.fastlane.tools/codesigning/getting-started/# in particular make sure you set up the Xcode project the right way

[2016-10-05 19:28] rodrigoreis22 commented on #5368
@mikepsinn sorry, i don't really recall.. but I think my test target had some basic configuration problem.

[2016-10-05 19:42] #6317 closed

[2016-10-05 19:55] mikepsinn commented on #5368
@rodrigoreis22 Got it. Thanks, anyway!

[2016-10-05 20:13] rcgilbert commented on #6330
I'm having the same issue as well.  Using RVM.

[2016-10-05 20:35] #5317 closed

[2016-10-05 21:33] KrauseFx commented on #5789
Sorry, Linux is currently not officially supported by _fastlane_

[2016-10-05 21:37] KrauseFx commented on #6341
You didn't properly set up git, run `--verbose` and make sure the `git clone` command succeeds

[2016-10-05 21:51] KrauseFx commented on #5919
This is probably due to your internet connection. I'll close this issue for now, feel free to re-submit if you still experience this problem

[2016-10-05 21:51] #5919 closed

[2016-10-05 21:56] KrauseFx commented on #6398
Thanks for the PR 👍

[2016-10-05 22:00] wkwyatt opened #6419 "Binary upload invalid / [!] {"data"=>nil, "messages"=>{"warn"=>nil, "error"=>["ITC.response.error.OPERATION_FAILED"], "info"=>nil}, "statusCode"=>"ERROR"}"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description
##### Complete output when running fastlane, including the stack trace and command used

`fastlane ios beta --verbose`

[code]
### Configuration Files

Please copy the complete content of your `F

[2016-10-05 22:07] KrauseFx commented on #6419
Interesting, seems like a server error. Has this worked before for you?

[2016-10-05 22:22] wkwyatt commented on #6419
Yes, it has worked perfectly in the past.  Also all of the previous builds in iTunes Connect were removed when I ran the command.

[2016-10-05 22:23] kirillzh commented on #1942
`--custom_report_file_name STRING Sets custom full report file name`
Is this report filename for HTML or XML report? Also, why is it still `report.junit` and not `report.xml`? 😕

[2016-10-05 22:24] wkwyatt commented on #6419
I've tried updating the build version number as well, it is still not working.

[2016-10-05 22:26] #5512 closed

[2016-10-05 22:35] #5483 closed

[2016-10-05 22:45] #5470 closed

[2016-10-05 22:55] #5376 closed

[2016-10-05 23:05] #5367 closed

[2016-10-05 23:13] mtxmichael commented on #6419
Interesting,  I received the exact same "The binary you uploaded was invalid." error when uploading a simple ipa through the Application Loader within the last 90 minutes.  (I created my ipa through PhoneGap using a process I have used dozens of times before so I am not thinking that there was an actual problem with the file.)    Since I received that message,  there are no builds showing in the T

[2016-10-05 23:15] #5286 closed

[2016-10-05 23:25] #5266 closed

[2016-10-05 23:35] #5179 closed

[2016-10-05 23:45] #5168 closed

[2016-10-05 23:55] #5160 closed

[2016-10-06 00:05] #5157 closed

[2016-10-06 00:15] #5147 closed

[2016-10-06 00:25] #5131 closed

[2016-10-06 00:35] #5120 closed

[2016-10-06 00:43] amjad0 commented on #6419
Google this error, it looks like people all over the world are facing the same issue. But the app can be seen in iTunes Connect however.

[2016-10-06 00:45] #5077 closed

[2016-10-06 00:55] #5054 closed

[2016-10-06 01:05] #5030 closed

[2016-10-06 01:25] #5021 closed

[2016-10-06 01:29] wkwyatt commented on #6419
@amjad0 Would you post a link to whatever articles or posts you read that gave you that impression.  I haven't found this to be a common issue.

[2016-10-06 01:35] #5014 closed

[2016-10-06 01:46] #5012 closed

[2016-10-06 01:55] #5005 closed

[2016-10-06 02:05] #4909 closed

[2016-10-06 02:15] #4850 closed

[2016-10-06 02:25] #4824 closed

[2016-10-06 02:28] amjad0 commented on #6419
@wkwyatt

http://stackoverflow.com/questions/39883352/app-store-upload-gives-warning-warning-itms-90686-the-binary-you-uploaded-was

https://forums.developer.apple.com/thread/64988

https://forums.developer.apple.com/thread/65023

https://forums.developer.apple.com/message/185968

[2016-10-06 02:35] #4788 closed

[2016-10-06 02:40] cagataycali commented on #4523
Return status of iTunes Transporter was 1:
The call to the iTMSTransporter completed with a non-zero exit status: 1. This indicates a failure.

I'm getting same one

[2016-10-06 02:46] #4786 closed

[2016-10-06 02:55] #4748 closed

[2016-10-06 03:05] #4743 closed

[2016-10-06 03:15] #4661 closed

[2016-10-06 03:25] #4605 closed

[2016-10-06 03:35] #4533 closed

[2016-10-06 03:45] #4469 closed

[2016-10-06 03:54] biolinh commented on #6397
@rvi I have 2 mac run fastlane
1 is OS X Sierra
1 is OS EI Capitan
The error happened in OS EI Capitan
Then, I switch to another mac with OS X Sierra, it got the error (https://github.com/fastlane/fastlane/issues/6400)

Note: Before, it run normally without any problems

[2016-10-06 03:55] #4458 closed

[2016-10-06 04:05] #4396 closed

[2016-10-06 04:11] biolinh commented on #6397
I already run match nuke appstore and run match appstore  on both servers

[2016-10-06 04:15] #4391 closed

[2016-10-06 04:25] #4283 closed

[2016-10-06 04:36] #4280 closed

[2016-10-06 04:45] #4252 closed

[2016-10-06 04:55] #4236 closed

[2016-10-06 05:06] #4195 closed

[2016-10-06 05:15] #4168 closed

[2016-10-06 05:25] #4167 closed

[2016-10-06 05:34] KrauseFx commented on #4168
You can use the `FASTLANE_SKIP_UPDATE_CHECK` environment variable for this 👍

[2016-10-06 05:35] #4148 closed

[2016-10-06 05:45] #4140 closed

[2016-10-06 05:55] #4125 closed

[2016-10-06 06:06] #4122 closed

[2016-10-06 06:15] #4095 closed

[2016-10-06 06:25] #4074 closed

[2016-10-06 06:35] #4023 closed

[2016-10-06 06:47] #3998 closed

[2016-10-06 06:55] #3987 closed

[2016-10-06 07:05] #3956 closed

[2016-10-06 07:15] #3878 closed

[2016-10-06 07:25] #3841 closed

[2016-10-06 07:35] #3834 closed

[2016-10-06 07:45] #3774 closed

[2016-10-06 07:55] #3696 closed

[2016-10-06 08:05] #3682 closed

[2016-10-06 08:10] deiucanta commented on #6361
@TKBurner correct, that's what I'll do — keep the match with the readonly flag active and have a different lane for the actual sync

thanks

[2016-10-06 08:10] #6361 closed

[2016-10-06 08:11] muzammil-triffort commented on #6263
@TKBurner Thank you for your help. I fixed the issue, it was due to using KIF in my project.

[2016-10-06 08:12] damirjuretic commented on #6387
@KrauseFx fix that you have made is not working.

Message:`security: SecPolicySetValue: One or more parameters passed to a function were not valid.`
Is not piped to STDERR so fix with 2>/dev/null won't work.

A message is piped to STDOUT so the only solution would be analyzing STDOUT and removing the unnecessary message.

[2016-10-06 08:15] #3679 closed

[2016-10-06 08:25] JustinJiaDev opened #6425 "Uploading App Icon Causes iTunes Connect 500"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

A successful `fastlane release` will make subsequent `fastlane release` fail. iTunes connect will return `Error: 500 Internal Server Error`. After a few minutes iTunes connect will recover. Th

[2016-10-06 08:25] #3630 closed

[2016-10-06 08:25] muzammil-triffort commented on #6263
If anyone unable to distribute build with test users, use this command:

`pilot(distribute_external: true, skip_waiting_for_build_processing:true, skip_submission:false, changelog: changelog)`

where changelog can be define as:

` changelog = prompt(text: "What is new in this version?: ", multi_line_end_keyword: "END")
`

[2016-10-06 08:35] #3607 closed

[2016-10-06 08:46] #3529 closed

[2016-10-06 08:55] #2772 closed

[2016-10-06 09:05] #2762 closed

[2016-10-06 09:15] #2513 closed

[2016-10-06 09:25] #2067 closed

[2016-10-06 09:35] #2066 closed

[2016-10-06 09:45] #2026 closed

[2016-10-06 09:51] askielboe opened #6426 "deliver fails to save screenshots with "must be a .jpeg, .jpg, or .png (...)""
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

Using snapshot and deliver to upload screenshots fails with comments about wrong screenshot sizes. I've

[2016-10-06 09:55] #2024 closed

[2016-10-06 10:05] #2009 closed

[2016-10-06 10:14] dral3x commented on #6296
The target is a static library we use internally to build our main apps.
There is no need for signing it because it will never run on a real device.

I will check that and let you know. Thanks

[2016-10-06 10:16] #2006 closed

[2016-10-06 10:25] #2005 closed

[2016-10-06 10:27] akkhilns commented on #6426
i got the same error. Please help

[2016-10-06 10:35] Fabiolino88 commented on #6426
Same error here as well. Please help

[2016-10-06 10:35] #2001 closed

[2016-10-06 10:42] bjornoss commented on #6426
Same error for me as well.
But it looks like the screenshots are saved to iTunes Connect.
The following command seems to complete the upload:
`deliver --skip_screenshots --ipa build/<APP NAME>.ipa`

[2016-10-06 10:45] #1999 closed

[2016-10-06 10:47] bestimmaa commented on #6426
Same here! Screenshots are created in the folder but the deliver step fails with

`mError finding relevant GitHub issues: undefined method map' for nil:NilClass[0m
[31m
[!] The request could not be completed because:
	In order to save your changes, all Screenshots for 4.7-Inchs must be(..) `

[2016-10-06 10:52] flafuente commented on #6426
Same issue here, tried manual upload to check image sizes are correct and they are correct.

[2016-10-06 10:55] #1991 closed

[2016-10-06 10:57] chrhsmt commented on #6426
same error here.

4-Inch, 4.7-Inch, 5.5-Inch.

[code]

[2016-10-06 11:06] #1988 closed

[2016-10-06 11:09] tsafrir commented on #6426
Same here. In my case, I was changing my script to upload only for 'iPhone 6 Plus'.
Got this error:
`In order to save your changes, all Screenshots for 5.5-Inchs must be a .jpeg, .jpg, or .png file that is 2208x1242 or 1242x2208 pixels, at least 72 DPI, and in the RGB color space.
`

I noticed the generated screenshots were not flattened (I was sure they were flattened in the past).
But even when

[2016-10-06 11:15] akkhilns commented on #6426
i tried to upload manually its working. Same file uploaded through deliver command

[2016-10-06 11:15] #1982 closed

[2016-10-06 11:16] flafuente commented on #6426
Could this pending pull request have something to do?:
https://github.com/fastlane/fastlane/pull/6423/commits/f92dc5527bc5285ea6a285fcb20cfddf118f778f

[2016-10-06 11:25] #1976 closed

[2016-10-06 11:27] flafuente commented on #6426
Confirmed, it's all about the pending pull request. I fixed it temporarily by replacing the file content from /usr/local/lib/ruby/gems/2.3.0/gems/spaceship-0.34.2/lib/spaceship/tunes/app_version.rb with the new app_version.rb file from the commit i previously mentioned.
I guess it's just a matter of time until they release the fix.

[2016-10-06 11:28] carlosefonseca commented on #6426
Yes! Thanks, @flafuente. Added those changes locally and it's working!

[2016-10-06 11:35] #1966 closed

[2016-10-06 11:46] #1945 closed

[2016-10-06 11:52] kylejm opened #6427 "Pilot: upload changelog without waiting for build to process"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

I've noticed that you can access the fields in iTunes Connect to submit a changelog (What to Test) before the build has finished processing. Can Pilot fill this field in without waiting for the

[2016-10-06 11:55] #1938 closed

[2016-10-06 12:05] akkhilns commented on #6426
@flafuente, Thanks It's working...

[2016-10-06 12:05] #1937 closed

[2016-10-06 12:16] #1935 closed

[2016-10-06 12:19] Fabiolino88 commented on #6426
Yes, that solved the problem...thanks @flafuente

[2016-10-06 12:26] #1933 closed

[2016-10-06 12:35] #1932 closed

[2016-10-06 12:45] #1909 closed

[2016-10-06 12:55] #1905 closed

[2016-10-06 13:05] #1882 closed

[2016-10-06 13:16] #1878 closed

[2016-10-06 13:18] wkwyatt commented on #6419
I ran `fastlane beta` again with a new build number and it hung for a while then gave me an access error.

[code]

[2016-10-06 13:25] #1827 closed

[2016-10-06 13:33] doapp-ryanp commented on #6075
@TKBurner curious - why plugin? This seems like core function, everyone runs into this eventually.

[2016-10-06 13:35] #1826 closed

[2016-10-06 13:37] asfalcone commented on #6426
Thanks all for the comments and confirming the fixes in #6423. We'll get a release out very soon! 👍

[2016-10-06 13:40] madnik commented on #6362
Anyone got those 6s version of files already downloaded? Appreciate if someone can share with me.

[2016-10-06 13:45] #1823 closed

[2016-10-06 13:55] #1821 closed

[2016-10-06 14:05] #1819 closed

[2016-10-06 14:13] asfalcone commented on #6426
_deliver_ [1.14.1](https://github.com/fastlane/fastlane/releases/tag/deliver%2F1.14.1) has been released. Please run `gem update deliver` and let us know if you're up and running again 🚀

[2016-10-06 14:15] #1812 closed

[2016-10-06 14:26] #1802 closed

[2016-10-06 14:32] patternpaul opened #6430 "Spaceship gem does not seem to be handling PENDING_DEVELOPER_RELEASE app status"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

spaceship (0.34.2)
Spaceship gem does not seem to be handling PENDING_DEVELOPER_RELEASE app status.

![image](https://cloud.githubusercontent.com/assets/3682501/19156007/031e52cc-8ba6-11e6-842d-

[2016-10-06 14:35] #1785 closed

[2016-10-06 14:45] #1779 closed

[2016-10-06 14:46] askielboe commented on #6426
Works for me now! 👍

[2016-10-06 14:46] #6426 closed

[2016-10-06 15:05] #1764 closed

[2016-10-06 15:10] gcamp opened #6431 "Gym should include more error detail with Check Dependencies error 65"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

I've been having a code sign issue that was really hard to debug with fastlane. There's multiple issue about this here. Output when using gym looks like this :

[code]

So it was basically trial

[2016-10-06 15:16] #1756 closed

[2016-10-06 15:17] gcamp commented on #6431
Yep, it was!

Actually thinking more about this, maybe this should be a xcpretty issue?

[2016-10-06 15:25] #1755 closed

[2016-10-06 15:35] #1754 closed

[2016-10-06 15:45] #1752 closed

[2016-10-06 15:51] brockklein commented on #5807
For posterity's sake...

You'll probably continue receiving this error if you try to upload to iTunesConnect using an older version of Xcode while on Sierra (even on the final release). To get around this you can simply switch to Xcode 8 for the upload step (even if you used 7.3.1 to build the ipa).

[code]

[2016-10-06 16:06] #1723 closed

[2016-10-06 16:09] KrauseFx commented on #6426
Hey everyone, thanks for reporting this. Last night I thought that something must be wrong with my screenshots, or with my account, when I wasn't able to upload any screenshots any more. I looked close into the issue, prepared the pull request https://github.com/fastlane/fastlane/pull/6423 and went to sleep. Thanks @asfalcone for taking this over this morning and pushing the new release 🚀

[2016-10-06 16:25] #1718 closed

[2016-10-06 16:36] #1717 closed

[2016-10-06 16:47] #1713 closed

[2016-10-06 16:55] #1711 closed

[2016-10-06 17:05] #1710 closed

[2016-10-06 17:15] #1709 closed

[2016-10-06 17:26] #1690 closed

[2016-10-06 17:37] #1684 closed

[2016-10-06 17:43] verticelo commented on #6362
Yes, would love to get those frames as well since Apple has removed them from the page.

[2016-10-06 17:45] #1669 closed

[2016-10-06 17:49] ayushgoel commented on #6362
As mentioned in my initial report, I had bot iPhone 7 and iPhone 6S device frames. `frameit` was able to detect the 6S frames too (check above added logs), but still didn't use them.
Let me know if any other information is required.

[2016-10-06 17:55] #1666 closed

[2016-10-06 18:05] KrauseFx commented on #6431
Nice catch, I completely agree. Yeah, that could be improved on `xcpretty` 👍

[2016-10-06 18:06] #1662 closed

[2016-10-06 18:06] KrauseFx commented on #6425
Could you update to the latest _deliver_ release?

[2016-10-06 18:16] #1661 closed

[2016-10-06 18:25] #1658 closed

[2016-10-06 18:35] #1656 closed

[2016-10-06 18:39] radex opened #6432 "[gym] Add option to -parallelizeTargets"
It generally makes sense to pass `-parallelizeTargets -jobs 4` (and play with the jobs number) to xcodebuild to speed up the compilation. In my tests, it could often speed up the build part by 30%.

I think there should be an easy flag you can pass to gym (without going through `xcargs`) to set this.

I also think it probably makes sense to make this a default.

[2016-10-06 18:45] cagataycali commented on #6419
I have similar issue,
[10:28:28]: Going to upload updated app to iTunes Connect
[10:28:28]: This might take a few minutes. Please don't interrupt the script.
[10:32:40]: Transporter transfer failed.
[10:32:40]:
[10:32:40]:
[10:32:40]: Return status of iTunes Transporter was 1:
The call to the iTMSTransporter completed with a non-zero exit status: 1. This indicates a failure.
[10:32:40]: Variable D

[2016-10-06 18:45] #1639 closed

[2016-10-06 19:06] #1625 closed

[2016-10-06 19:11] JMCPH commented on #6419
I'm getting the same error, is it related to this issue you think?
Or should i create and open a new issue?

[code]

[2016-10-06 19:15] #1624 closed

[2016-10-06 19:23] wacheski commented on #6136
I am interested. Just tried to include groups in the import csv :)

[2016-10-06 19:25] #1555 closed

[2016-10-06 19:35] KrauseFx commented on #6432
Thanks for the suggestion. Do you think this has any side effects? Why isn't this default of `xcodebuild` itself?

[2016-10-06 19:57] #5543 closed

[2016-10-06 20:02] rodriguv commented on #6118
Hey @jeeftor! That sounds exactly like the solution I need for the sticker extensions which has two targets. One main app and one extensions with two different profiles. What did you setup look like?

[2016-10-06 20:05] #1508 closed

[2016-10-06 20:15] #1497 closed

[2016-10-06 20:25] #1443 closed

[2016-10-06 20:35] #1309 closed

[2016-10-06 20:45] #1232 closed

[2016-10-06 20:55] #428 closed

[2016-10-06 21:06] #373 closed

[2016-10-06 21:23] evilDave commented on #5271
I'm sorry I missed replying to this close message. This issue is still outstanding I think. I will try to test against the latest to confirm, but I don't see any indication that it has been changed. I'll open another issue if it is still there if you want.

[2016-10-06 21:31] TKBurner commented on #6136
@wacheski Have you checked out spaceship? You might be able to get it working there.

[2016-10-06 21:34] TKBurner commented on #6419
@wkwyatt Are you still running into this issue? Did the lane ever work?

@JMCPH Can you share your full input and output on a new ticket. It doesn't appear to be the same issue and I want to make sure we get you up and running. Thanks!

[2016-10-06 21:35] TKBurner commented on #6362
@ayushgoel @verticelo @ayushgoel We are tracking this on #6272. Can you confirm this is the same issue? The basic end solution here is that we will host our own device templates. This is work in progress. Thanks!

[2016-10-06 21:36] TKBurner commented on #5807
@brockklein Thanks for sharing that 👍

[2016-10-06 21:38] TKBurner commented on #6430
@patternpaul Can you submit a PR for this? That seems like a viable issue and we'd love to see it fixed. Thanks so much 💯 💯

[2016-10-06 21:40] TKBurner commented on #6075
@doapp-ryanp Thanks! We aren't accepting new actions directly anymore. I could see this being included in PEM, but the fastest way to get it in the worlds hands is through our plugin system. Thanks and always feel free to reach out 👍

[2016-10-06 21:42] TKBurner commented on #6427
@kylejm Very interesting. I think the processing times have increased a lot so it would surprise me if this has changed. Any chance you'd be interested in submitting a PR? Thanks!

[2016-10-06 21:43] TKBurner commented on #6296
@dral3x Thanks! So you have no code signing identity locally? 👍

[2016-10-06 21:51] TKBurner commented on #6397
@biolinh Have you run with the --force parameter? Thanks!

[2016-10-06 21:52] TKBurner commented on #4523
@cagataycali Can you open a new issue for this? Make sure to share your full input and output. Thanks!

[2016-10-06 21:53] TKBurner commented on #1942
@kirillzh I believe it impacts both.

[2016-10-06 21:56] TKBurner commented on #6330
@gcamp @idomizrachi @rcgilbert Are you running fastlane from your project folder or the fastlane folder. It looks like the pwd might being changed in your lane and that's causing the issue. I want to get to the bottom of this. Thanks!

[2016-10-06 21:57] HenryGlendening commented on #6124
Has anyone found a way to upload iMessage screen shots with deliver yet?

[2016-10-06 22:02] sahin commented on #6124
@HenryGlendening we do a lot of small hacks and we have like 200+ apps now. ,

u can use our platform https://mojilala.com and https://creators.mojilala.com to publish your stickers.

[2016-10-06 22:04] TKBurner commented on #6320
@lukewakeford Please bump: #5193

[2016-10-06 22:06] TKBurner commented on #1789
@gersonmendes No workaround yet, you'll need to create the container manually. Thanks!

[2016-10-06 22:08] TKBurner commented on #5341
Thanks @fotiDim, Glad to hear you got up and running. Can you explain your use case of having these files at different directory levels? I'm going to mark this as a feature request 👍

[2016-10-06 22:16] TKBurner commented on #6351
@diaojunxian Thanks for following up. Can you send me a screenshot of your metadata folder from deliver? Thanks!

[2016-10-06 22:19] TKBurner commented on #6343
@rafnocx @ricardopereira @troupmar Thanks for reaching out about this. We are going to look this over here and take action if we can. 👍

[2016-10-06 22:20] TKBurner commented on #6203
@WaKeMaTTa Thanks so much for sharing this.

Can anyone let me know if they are still affected after this workaround? Thanks!

[2016-10-06 22:20] TKBurner commented on #6394
@RyogaK No problem. Hope you have a great week!

[2016-10-06 22:22] TKBurner commented on #6396
@juraj-blahunka Thanks for reaching out. Can you provide the full input and output as an attachment? I want to take a look and see what's going on here. Thanks!

[2016-10-06 22:25] TKBurner commented on #6318
Can you run `ls` on that folder and share the output? It looks like the fastlane folder is not where it is expected. Thanks!

[2016-10-06 22:26] TKBurner commented on #6378
@jaroslavas Awesome! Glad to hear you got up and running. Really happy to have you using _fastlane_.

[2016-10-06 22:29] TKBurner commented on #6284
@FlyingNoob Awesome! Really glad to hear you got up and running! 👍

[2016-10-06 22:29] #6284 closed

[2016-10-06 22:31] TKBurner commented on #6264
@owurman Sounds good! I'll leave this open for now and you can update once you have more information. Hope you have a great weekend coming up! 👍

[2016-10-06 22:38] TKBurner commented on #4301
@ssteinerx I can't wait to see this fixed either and sorry that this is still affecting you. ❤️

@lfarah Thanks so much!

I added our community PR flag to this as well so we can make sure to get as many resources on this as possible. If anyone is interested in investigating we'd love to see that.

To make sure that I'm definitive on what I'm communicating to the team:

The action latest_test_fligh

[2016-10-06 22:41] TKBurner commented on #6332
@jannejava Thanks for reaching out. Apple did change somethings recently and we are moving toward hosting our own templates. Can you update on #6272 and mention that affected devices you are seeing. Thanks so much!

[2016-10-06 22:41] #6332 closed

[2016-10-06 22:45] TKBurner commented on #6278
@klundberg Does this only occur when you run from the fastlane directory? What happens if you run from the project directory? Thanks!

[2016-10-06 22:46] TKBurner commented on #1631
@znerol Thanks! I appreciate that. The team has an active card in their backlog to investigate this as well. 👍 👍 👍

[2016-10-06 22:48] TKBurner commented on #6288
@bartonhammond Thanks for working with me. Can you let me know if the command
`
set -o pipefail && xcodebuild -scheme ExampleUITests -project ./Example.xcodeproj -derivedDataPath '/var/folders/3f/mjjtxmz94jx7fhx1d4m926cw0000gn/T/snapshot_derived20161004-16485-vbb5cu' -destination 'platform=iOS Simulator,id=387E7961-A3B2-428F-9726-A36B2205A95E,OS=9.3' FASTLANE_SNAPSHOT=YES build test | tee /Users/b

[2016-10-06 22:49] TKBurner commented on #5259
@geoHeil Have you followed these steps: http://docs.buddybuild.com/docs/installing-apples-updated-intermediate-wwdr-certificate

Thanks!

[2016-10-06 22:59] klundberg commented on #6278
I never run from the fastlane directory, always from the base project directory. For some reason the current directory for the sh action has been the fastlane subdirectory, which is what my scripts have relied on.

--
Kevin Lundberg

[2016-10-06 22:59] trackvia-ios opened #6437 "[match] Failure During Signing After Compilation, Possibly Signing Failure OS X Sierra"
After the fix for OS X Sierra keychains (#6389), we still seem to be having issues during app compilation, it seems at the very end when we begin to codesign with `gym`.

I believe I've included the implementations for most of our utility methods, but if not, please let me know. I am still doing a workaround by passing in a `keychain_name` to match, so I'm not sure if that's causing any problems?

[2016-10-06 23:04] joeydong commented on #6351
I was running into the same problem. I've opened a pull request to add support for setting the "Beta App Description" https://github.com/fastlane/fastlane/pull/6435

[2016-10-06 23:54] #6343 closed

[2016-10-07 00:00] KrauseFx commented on #5285
I tried reproducing this last night, and everything was working as expected. Any tips on how I can best reproduce the problem?

[2016-10-07 00:15] ryanmeisters commented on #6289
I'm also having this problem, using update_app_identifier to update bundle ids for app, watch app, and watch extension targets. The  update_app_identifier calls successfully replace the bundle identifiers, but gym fails with `Exit Status: 12`.

The weird thing is that the build succeeds if I comment out the calls to update_app_identifier and re-run (via gym or fastlane) without reverting the chang

[2016-10-07 00:26] rentalanimal commented on #5285
Hey Felix, were you uploading to multiple languages with multiple image dimensions (saved as PNG)? Thats how it happened to me. 

On Thu, Oct 06, 2016 at 5:01 PM Felix Krause

<
mailto:Felix Krause <notifications@github.com>

a, pre, code, a:link, body { word-wrap: break-word !important; }

I tried reproducing this last night, and everything was working as expected. Any tips on how I can best repr

[2016-10-07 00:49] hdoria commented on #6333
Same problem here. iTunes is rejecting my app when I use fastlane and automatic code signing is enabled on Xcode 8.

[code]

Match shows the correct provisioning profile on the summary.

[2016-10-07 00:53] ConfusedVorlon commented on #5285
@KrauseFx
yup - for me, it just requires lots of screenshots.

it also seems unpredictable - sometimes I can get 300 screenshots up (see previous comments). More recently, something like 60 can fail.

If you have 5 screenshots for each of 5 devices, and support a dozen or so languages, then I think you'll hit this...

[2016-10-07 01:19] Cyclic commented on #6333
It would be nice to be able to skip match and sigh altogether and stick with automatic, since it does appear to work with distribution; although maybe not the private key aspect, but I have not tested on a clean keychain yet.

Right now this issue is preventing us from pushing to crashlytics with fast lane.

[2016-10-07 01:21] KrauseFx commented on #4301
Hey everyone, I was doing a lot of experiments, and noticed some rough edges around how the team ID isn't automatically converted from integer to strings, and how some actions have an inconsistent handling of the available teams.

I therefore pushed a bunch of PRs, that should fix all the issues you mentioned above:

- https://github.com/fastlane/fastlane/pull/6444 will unify how Team IDs and Team

[2016-10-07 02:16] KrauseFx commented on #5259
Hey @geoHeil, do you have multiple keychains? Are you using _match_ or _cert_ to make sure the certificate is installed locally?

[2016-10-07 02:42] ChristopherDrum commented on #6219
@vbresults That solution does not help those of us who need to do App Store submissions built against iOS 10 SDK.

[2016-10-07 02:53] KrauseFx commented on #6288
This seems to be related to Swift 3. Could you try building with Swift 2?

[2016-10-07 03:37] ayushgoel commented on #6362
@TKBurner No this is not the same issue as https://github.com/fastlane/fastlane/issues/6272
Please reopen.

Here is a sample of what I get:

![1_framed](https://cloud.githubusercontent.com/assets/893050/19178107/69382f3e-8c6d-11e6-9d13-e1a191727da2.png)

[2016-10-07 03:41] KrauseFx commented on #5285
I tried uploading 700 screenshots, all pngs, and it's working perfectly. As by design, it's saving the metadata after each language.

Would you mind sending me your screenshots via email bugreport@krausefx.com, so I can see if that's somehow related to the screenshots, or their sizes? 👍

[2016-10-07 03:54] ayushgoel commented on #6272
https://github.com/fastlane/fastlane/pull/6399 This should help

[2016-10-07 04:32] geoHeil commented on #5259
We use match. Indeed, that could be a problem. We needed to reset the
password once. I think I this generates a new key chain.
Felix Krause <notifications@github.com> schrieb am Fr. 7. Okt. 2016 um
04:16:

[2016-10-07 04:51] ConfusedVorlon commented on #5285
happy to - will send when I get back to work on Monday.
I have hit this with multiple projects though, and the screenshots have all been taken with snapshot, so shouldn't be strange.

[2016-10-07 05:54] nsforge commented on #4150
FWIW, I started experiencing this issue today after doing a manual archive and submission from Xcode a few days ago. After several failed attempts at running gym with Xcode 8 open, I quit Xcode and tried again, and the problem went away.

[2016-10-07 06:26] alibasta commented on #4621
I can reproduce the behavior that the provisioning profile becomes invalid pretty often a day. Any idea? I'm using latest fastlane / match version.

By the way: shouldn't this issues be reopened?

[2016-10-07 06:45] radex commented on #6432
I haven't investigated it deeply enough to say, but I suppose one effect is that the logs might become messy, as multiple threads write to it…

[2016-10-07 06:52] fotiDim commented on #5341
It's mostly to avoid clutter and confusion. Every developer in our project is supposed to only use the workspace file so having that file at the root of our project and hiding the project file away helps makes sure that nobody will be confused.

[2016-10-07 07:12] pernilla commented on #5789
Thanks.

[2016-10-07 07:47] fcamaster commented on #6318
This is the output of **ls**:
[code]
**ls** of the fastline folder:
[code]

Gemfile just in case it helps:
[code]

Note: I added the Gemfile later, before I was trying also without Gemfile. Same error.

[2016-10-07 08:35] drakar4ik commented on #6425
same problem. After uploading icon via deliver the app is unavailable a few minutes. In iTunes app's page redirects to wa/defaultError. Looks like there is some icon processing or something else...

[2016-10-07 08:51] drakar4ik commented on #6425
i'm changed icon one more time: in iTunes app's page redirects to wa/defaultError, my-apps page returns error 500. The problem taked about 15 seconds.

[2016-10-07 08:53] kylejm commented on #6427
I'd love to explore making a PR, but I'm in the build up to a major release at my company. I'll be happy to come back to this in about a month if it still needs implementing by then. Setting a reminder in my inbox 😊.

[2016-10-07 08:57] akaralar commented on #6095
@TKBurner I managed to get this working but I usually don't receive any code to my devices, and on Apple login pages there is an option to send an SMS instead if no code is received. Here is a [screenshot](https://dl.dropboxusercontent.com/spa/6d4j003yz96ozkz/2nq5f2__.png). But the command line doesn't give that option, just expects a 6 digit code. Is there any possibility that if we don't receive

[2016-10-07 08:59] juraj-blahunka commented on #6396
Sure, here is an example project with `assertionFailure` in unit tests that is not reported as test failure (so it looks like a passing test, since everything is green in `test_output/report.html`)

[ScanAssertionFailure.zip](https://github.com/fastlane/fastlane/files/515674/ScanAssertionFailure.zip)

[2016-10-07 09:45] verticelo commented on #6272
In the meantime, I solved this by using waybackmachine to download the iphone6/s device frames.

[2016-10-07 13:30] rcgilbert commented on #6330
@TKBurner I was seeing this issue running fastlane from both my project folder and fastlane folder.  The latest release of fastlane(v1.105.0) seems to have fixed the problem for me though.

[2016-10-07 13:42] gcamp commented on #6330
@TKBurner I usually use fastlane from my project folder but the same problem is happening when running from the fastlane project. 1.105.0 didn't fixed it for me.

FYI I tried to see if `Dir.pwd` was changing and it doesn't. Also tried to change manually the current directory and it didn't work.

[2016-10-07 13:52] gcamp opened #6452 "update_project_team not working with Xcode 8"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

update_project_team doesn't work anymore with Xcode 8 since DevelopmentTeam is used in addition to the DEVELOPMENT_TEAM build setting. User can overwrite the DEVELOPMENT_TEAM with the xcarg ar

[2016-10-07 13:54] 0xced opened #6454 "Using FASTLANE_EXPLICIT_OPEN_SIMULATOR with scan"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

By quickly reading the source code of scan, it looks like setting the `FASTLANE_EXPLICIT_OPEN_SIMULATOR` environment variable should at least print `Killing all running simulators` when running

[2016-10-07 14:10] igorstimoli opened #6455 "Deliver fails with "Unexpected Error" after uploading package to iTunes Connect"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Deliver fails with "Unexpected Error" after uploading package to iTunes Connect
It happened three time with three different apps after the last deliver update (v1.41.1)

##### Complete output w

[2016-10-07 14:17] Saurman commented on #734
I've solved a problem by using fastlane scan tool. Appears that Fabric registers new apps only after app is launched on simulator

[2016-10-07 14:17] idomizrachi commented on #6330
@TKBurner I see the problem from both the project and fastlane path.
Also checked the working-dir and it doesn't change.

These are the lines in my fastfile that use the xcodeproj: ("Pod" is a private library that remove a build phase from the project)
puts "Remove \"Embed Pods Frameworks\" from ShareExtensionTarget"
puts "#{Dir.pwd}"
Pod.remove_frameworks("../Project.xcodeproj", "ShareExtensionTa

[2016-10-07 14:18] Sega-Zero commented on #734
Can you share your workaround here?

[2016-10-07 14:31] craigmarvelley commented on #6226
Hey, sorry it took a while to reply – had to wait until I needed to submit another build! Yep, if I have an en-GB folder in addition to the default folder it works fine.

[2016-10-07 14:35] trackvia-ios commented on #6437
Following up, I was able to successfully code sign, archive in Xcode and distribute using Crashlytics local app using the same project and build settings logged in as my default user, not my Jenkins user.

[2016-10-07 14:38] lightbow commented on #5285
Thanks Felix! I just sent over my screenshots via email (which should be on an iCloud link), in case that helps.

[2016-10-07 14:48] cmartinhas opened #6456 "Gym failing to generate IPA when touching dSYM - exit status 65 and no error logs"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
When running gym, I am getting "Exit status: 65" and no error reporting after it gets to the "Touching xxx.app.dSYM" step. This is the same issue others have reported in issue 1005 (https://git

[2016-10-07 14:56] rogomantik opened #6457 "Cannot update deliver on sierra"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Cannot update / install

[code]

### Environment

-bash: fastlane: command not found
deliver 1.13.3

Do you use bundler to execute fastlane (i.e. `bundle exec fastlane`)?
no

Do you use

[2016-10-07 15:09] carsten-wenderdel commented on #6111
Hi everybody, I've had the same problem with the Xcode 8.0 stack on bitrise. (fastlane/scan on my computer and xcodebuild on bitrise also worked.)
Using the Xcode 8.1 stack on bitrise has solved the problem for me - now fastlane/scan works there as well!

[2016-10-07 16:09] lucatorella opened #6458 "gym is failing when code signing (Sierra & Xcode 7 & gym 1.11.0)"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Since when I updated to Sierra, fastlane is failing during code signing.

I tried to search for similar issues, but couldn't find any.

If you are wondering why I'm using a Develop certificate

[2016-10-07 16:40] igorstimoli commented on #6455
seems like it's not... I don't get any issue directly in Xcode

[2016-10-07 17:34] neldridge opened #6459 "Pilot error when uploading"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Pilot upload is failing without descriptive error.

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Configuration Files

Please copy the com

[2016-10-07 17:46] hjanuschka commented on #6459
you could try to add
`ENV['DELIVER_ITMSTRANSPORTER_ADDITIONAL_UPLOAD_PARAMETERS'] = '-t DAV'` on top of your Fastfile - i had similar issues once, back in the days, and this fixed it.

[2016-10-07 18:01] neldridge commented on #6459
Hi @hjanuschka

I tried this earlier by adding `export DELIVER_ITMSTRANSPORTER_ADDITIONAL_UPLOAD_PARAMETERS="-t DAV"` to my XCS Bot trigger, before invoking fastlane, it did not help. I also tried your method, and am receiving the same error message

[code]

[2016-10-07 18:13] hjanuschka commented on #6459
@neldridge  sorry! - have you tried using xcode->organizer and triggering the itms uploader from there? - or use Application Loader.

looked at the system logs? - and run `fastlane --verbose` - maybe you get a bit more info on the iTMSTransporter output.

[2016-10-07 18:16] hjanuschka commented on #6459
@neldridge ahhh - i overread - the `shell_session....`

try adding:

`shell_session_update() { :; }`  to your ~/.bash_profile and or ~/.profile (or to the CI users one)

[2016-10-07 18:26] neldridge commented on #6459
It's not working outside of XCS either, with the same problem. I ran it with `--verbose`

It spit out the Application Loader command
[code]

I tried running the above command, and received this:

[code]

I will modify the profile for the shell_session_update() function, thanks!

[2016-10-07 18:30] hjanuschka commented on #6459
sh** - maybe try this one: https://github.com/fastlane/fastlane/issues/1543#issuecomment-222355813 - seems to be same issue, but no real solution.

[2016-10-07 18:35] hdoria commented on #5379
I have the same problem. Clean repository, clean account on developer portal:

[code]

Everything is fine on developer portal.

[code]

Existing Provisioning Profile became invalid in the developer portal. If I use match again, it creates a new provisioning, it does not fixed the existing one. Also, if I fix the provisioning profile by going to the dev portal , match can't find the provisioning pr

[2016-10-07 19:05] neldridge commented on #6459
Removed ~/.itmstransporter directory.. it's still throwing an error..

Here's the bottom of the log with --verbose

[code]

[2016-10-07 19:38] hjanuschka commented on #6459
can you try running validation in xcode->organizer after manual archiving maybe something wrong with the ipa

--
Helmut Januschka
Sent with Airmail

Am 7. Oktober 2016 um 21:05:19, Nick Eldridge (notifications@github.com(mailto:notifications@github.com)) schrieb:

[2016-10-07 19:40] neldridge commented on #6459
I attempted to load the generated ipa manually with the Application Loader- and received an error about the CFBundleVersion not being the correct type. Adjusted my Fastlane file

From this:
[code]

to this:

[code]

Changing this kicked off XCS build, which ended in pilot failing again with this error:

[code]

@hjanuschka haha, i see we're on the same page about verifying the IPA.

[2016-10-07 20:02] KrauseFx commented on #5285
Thanks for sending this over, I'll give it a try 👍

[2016-10-07 20:37] KrauseFx commented on #5285
Unfortunately the screenshot upload works flawlessly for me, I'll try using a network throttle to reproduce the problem. The internet here in San Francisco is really good...

[2016-10-07 20:53] KrauseFx commented on #6459
Does it work when running outside of Xcode bots?

[2016-10-07 21:14] KrauseFx commented on #5379
_match_ shouldn't be related to _push_ in any way, those are separate certificates. Are you sure the 2 things are related?

[2016-10-07 21:14] KrauseFx commented on #5285
Still working as expected, so weird. Is there anything else I can try?

[2016-10-07 21:33] revolter commented on #5285
How many localizations?

[2016-10-07 22:00] lightbow commented on #5285
`devices([
  "iPad Air",
  "iPhone 4s",
  "iPad Pro (12.9-inch)",
  "iPhone 5",
  "iPhone 6",
  "iPhone 6 Plus"
])`

`languages([ "da", "de-DE", "el", "en-AU", "en-CA", "en-GB", "en-US", "es-ES", "fr-FR", "it", "ja", "ko", "nl-NL", "no", "pt-BR", "ru", "sv", "tr", "zh-Hans", "zh-Hant"])`

6 devices x 5 screenshots x 20 localizations = 600 screenshots. Thank goodness for fastlane!

Not sure what el

[2016-10-07 22:03] KrauseFx commented on #5285
@lightbow I just used
[code]

I copied the screenshots you sent me into my local `fastlane/screenshots` directory, so we're using the exact same screenshots for 20 localizations.

[2016-10-07 22:20] jwilliams-handy opened #6463 "deliver "not opened for reading" error on submit for review step"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description
##### Complete output when running fastlane, including the stack trace and command used

[code]
### Configuration Files

Please copy the complete content of your `Fastfile` and any other configur

[2016-10-07 22:57] MaximusMcCann opened #6464 "Cannot update fastlane"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Trying to update fastlane but keeps saying:
[code]
##### Complete output when running fastlane, including the stack trace and command used
[code]

### Configuration Files

Please copy the comp

[2016-10-07 23:04] MaximusMcCann commented on #6464
deleted and reinstalled worked

[2016-10-07 23:04] #6464 closed

[2016-10-07 23:08] MaximusMcCann opened #6465 "uninitialized constant Fastlane::Actions::SharedValues::GYM_SCHEME"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

How do I access the shared values?  Want to access GYM_SCHEME in another lane

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Configuratio

[2016-10-08 00:10] KrauseFx commented on #6465
There is no `GYM_SCHEME` variable. You can't access this, sorry

[2016-10-08 00:10] KrauseFx commented on #6465
What are you trying to do exactly?

[2016-10-08 00:18] KrauseFx commented on #6454
Hey @0xced, thanks for the report. It seems like this is only being called when setting the `devices` value, instead of directly setting the `destination`:

[code]

Could you give that a try?

[2016-10-08 00:18] KrauseFx commented on #6454
I don't know the reasoning behind this, I'd have to look closer into this

[2016-10-08 00:52] mgrebenets commented on #5435
@TKBurner you mean where do I call the plugin or how the whole file looks like?

[2016-10-08 01:03] diaojunxian commented on #6351
@TKBurner Thanks a lot,as I just use the command
[code]

[2016-10-08 01:21] MaximusMcCann commented on #6465
After compiling and running some other scripts, am looking to do some folder/file cleaning.  Was hoping to not have to pass the scheme around a bunch and just pull it in from whatever scheme was last use to build.

[code]

Feels like I don't quite understand what the `Env Var` column is for when running `fastlane action <action>`.  I was thinking after the action was run it would set those `Env Va

[2016-10-08 01:31] KrauseFx commented on #6465
The environment variable is used to set the value, but you can't receive it using that, sorry. Currently there is no way to get the used scheme from _gym_

[2016-10-08 01:32] MaximusMcCann commented on #6465
All good.  Appreciate all you work on Fastlane 👍

[2016-10-08 01:32] #6465 closed

[2016-10-08 02:07] mgrebenets commented on #6140
@ChristopherDrum I think the log is not printed to console on purpose. In our case full Team City logs get HUGE, tens of megabytes. TeamCity's build log page takes quite a long time to load and render it in our case.

[2016-10-08 02:11] KrauseFx commented on #6140
Let's close it here, since it's not directly related to _fastlane_ and no action is required from our side 👍

[2016-10-08 02:11] #6140 closed

[2016-10-08 06:58] cartfisk commented on #5341
@TKBurner when using Fastlane with Ionic projects, the .xcodeproj is generated by Cordova in platforms/ios/build instead of the project root. It's nice to keep fastlane files in the root when hosting on git repos. Right now I have Jenkins triggering builds and I have to make it copy the config to that folder and run fastlane from there. Not a huge deal but I would have assumed it would work if fas

[2016-10-08 07:08] fotiDim commented on #5341
Just a note, the workspace file has the info of the xcproj file inside. So
ideally if you execute fastlane one the workspace level you won't need to
specify xcproj location

On Oct 8, 2016 08:58, "Carter Konz" <notifications@github.com> wrote:

[2016-10-08 09:08] nmonasterio commented on #6455
Just started seeing the same error as well, starting yesterday. We were able to deploy some 20 apps with no issue Thursday afternoon, with submission for review and everything.

Thursday night/Friday morning, we were able to upload but started getting Unexpected Errors on submission for review. Starting in the afternoon, we were seeing the same error as yours upon upload.

Just verified, and it's

[2016-10-08 14:41] neldridge commented on #6459
Thanks @hjanuschka  I'll look at using that instead.

@KrauseFx It did not; it did work when I separated pilot into it's own lane- and filled out the variables manually.

The changelog didn't update ( probably due to lack of permissions- which i'll fix), but, the IPA did upload.

[code]

Log here...

[code]

I'm running the beta lane again now, with the change from @hjanuschka ..

[2016-10-08 15:48] neldridge commented on #6459
Update... ran via XCS Bot, with `increment_build_number` function instead of `set_info_plist_value` . Same issue as before, something in the lane is causing the failure..

Will start removing calls from the lane one by one to see what's causing this.

[code]

[2016-10-08 15:56] summera opened #6466 "Action for Creating Android Keystores"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

In order to automate some of the Android app creation process with fastlane, I've written some code to auto generate keystores for signing. I was thinking about packaging this up into a Fastlane

[2016-10-08 18:42] zhonghuiwen commented on #6456
I was in the same position as you were, except i remembered seeing an error with a couple of my pngs and pngcrush while archiving manually through the XCode app. At first i ignored it because after archiving it through xcode i could still send it to the appstore. Turned out that was a mistake and i replaced the faulty pngs and volia!

[2016-10-08 22:04] 0xced commented on #6454
Unfortunately, using the `--device` argument doesn't work as expected. When I run `scan --device "iPhone 5s"` it ends up producing an xcodebuild command with `-destination 'platform=macOS'`.

I suspect scan might be confused by my [single scheme setup](http://promisekit.org/news/2016/08/Multiplatform-Single-Scheme-Xcode-Projects/).

[2016-10-09 00:07] richardszalay commented on #5667
This hasn't been resolved by a newer release.

[2016-10-09 06:48] hjanuschka commented on #6459
have your tried compiling + archiving + verifying manually without fastlane? just to be sure?

[2016-10-09 09:45] #1727 closed

[2016-10-09 16:30] #5680 closed

[2016-10-09 17:39] hjanuschka commented on #5285
i had similar issues - it sorted out to be my ISP's DNS hosts, having some faulty routing to the itc api. - setting it fixed to google ones `8.8.8.8` solved it.

[2016-10-09 23:51] Draknek opened #6469 "Promo code generation"
This used to be possible: https://github.com/fastlane-old/codes but that repository now has the message "This tool is no longer maintained and does not work."

Is it now no longer possible to automate? Or is it still technically doable if someone writes the code?

Thanks for your time :)

[2016-10-10 00:50] KrauseFx commented on #6469
Thanks for submitting this issue. The tool was hardly used, and it wasn't worth the time updating it to work with the new iTunes Connect.

[2016-10-10 03:09] bucengyongyou commented on #6425
meet the same problem!
if i dont upload icon, it's ok
if i upload icon, then the iTunes app's page tell a error ,and then after few minutes, it goes well

[2016-10-10 03:55] ConfusedVorlon commented on #5285
I already use Google's DNS

[2016-10-10 06:44] comeonyoh opened #6477 "Integration with Jenkins problems..."
### New Issue Checklist

- [v] Updated fastlane to the latest version
- [v] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Integration with Jenkins. I have loved Fastlane very much! and it works well in local env.

But when I run this in Jenkins, I faced this problems...

I thinks this is not Fastlane`s problem. bu

[2016-10-10 07:48] roman-yu commented on #6073
I have exactly the same problem and I am just following the tutorial https://docs.fastlane.tools/getting-started/ios/setup/. Saw above error logs after running the below command lines:
[code]
Besides, my fastlane version is `fastlane 1.105.0`.

[2016-10-10 08:00] itleo31 commented on #6376
Any help on this?

[2016-10-10 08:34] Prabat commented on #6376
Yeah sure, I have executed so many times but html page is blank (Not displaying any screenshots on it).

[2016-10-10 09:25] pahnev commented on #5379
I always thought `force_for_new_devices: true` would do this, but was surprised it didn't.

To add my 2cents.
I had bunch of development Provisioning profiles created and valid. I enabled an app group in them on developer.apple.com, which marked them as invalid.
![screen shot 2016-10-10 at 12 16 50](https://cloud.githubusercontent.com/assets/2078494/19231594/89e14b94-8ee3-11e6-9802-e21c67311e1a.pn

[2016-10-10 09:49] dbalas commented on #6455
Same here, exact stack trace.
I do not know if it has something to do but after (or before) this error https://itunesconnect.apple.com has a "500 Interval server error"...

[2016-10-10 10:01] iCarambaa commented on #6477
Did you set the scheme as shared? Go in Xcode to Edit scheme (top left) and check that checkbox "Shared" there.

Otherwise the scheme is only on your local machine and not checked in to git, so your buildserver does not know that scheme.

[2016-10-10 11:11] dombarnes opened #6478 "Inconsistent ENV Variables used"
### New Issue Checklist
- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

Inconsistent environment variables are used throughout fastlane leading to duplicate entries for tools.

action `latest_testflight_build_number` expects ITUNESCONNECT_USER
Sigh expects SIGH_USER

[2016-10-10 11:22] marcocattai commented on #6365
I have the some problem here.
Fastlane get stuck here:

`INFO [2016-10-10 12:18:05.77]: $ /usr/bin/xcrun /Library/Ruby/Gems/2.0.0/gems/gym-1.11.0/lib/assets/wrap_xcodebuild/xcbuild-safe.sh -exportArchive -exportOptionsPlist '/var/folders/93/nkj7sgwd6x52_cg_bw4by7b98r07ws/T/gym_config20161010-17096-17r2lhy.plist' -archivePath /Users/myUser/Library/Developer/Xcode/Archives/2016-10-10/MyAppName\ 2016

[2016-10-10 11:52] kmpnz commented on #6455
Having the same issue as @nmonasterio. The stack trace looks exactly the same:
[code]

`Fastfile:70` starts the `deliver` process.

[2016-10-10 12:16] nmonasterio commented on #6455
Interesting, @dbalas . So, modifying your submission info hash did the trick?

Right now I have
`{
  add_id_info_serves_ads: false,
  add_id_info_uses_idfa: false,
  export_compliance_uses_encryption: false,
  export_compliance_encryption_updated: false
}`

I'll add these two and see if that makes any difference and report back...

`
  content_rights_contains_third_party_content: false,
  content_

[2016-10-10 12:48] igorstimoli commented on #6455
@dbalas
thanks for your comment. It seems the problem is in the 'submission_information'

I used to have
[code]

I noticed that I should only keep one of the two ```export_compliance_uses_encryption``` OR ```export_compliance_encryption_updated``` depending on the app being submitted for the first time or updated

Even if the previous settings have been working for a long time, it seems now someth

[2016-10-10 12:50] nmonasterio commented on #6455
@kmpnz Did this just start happening to you (i.e., was your `deliver` lane working until recently)? What options are you passing for the submission-info hash, BTW?

If that's the case that some parameters are now required, I might be able to put in a PR for this, @KrauseFx , so that we fill in any defaults when they're not passed. How does that sound?

[2016-10-10 12:55] nmonasterio commented on #6455
@igorstimoli That did it. Nice work!

Let me know if you'd like a PR for that, then, @KrauseFx . Happy to handle.

[2016-10-10 13:04] SpacyRicochet opened #6479 "Question: It is possible to continue with a lane if something in it fails?"
Is it possible to configure a lane as such that some action are anticipated to fail sometimes, and if they fail to still continue?

For example, if a lane requires a network connection, but somehow the network is out. If that part fails, still continue with all the other things the lane does.

[code]

[2016-10-10 13:09] lukewakeford commented on #5193
+1

[2016-10-10 13:12] dombarnes commented on #6479
You could perhaps implement something in before_all and then use that to do your online abilities, then put your offline ones in a different lane. Do you have en example of the actions you're triggering?

[code]

[2016-10-10 13:17] igorstimoli commented on #6455
A PR sounds good, thanks @nmonasterio

[2016-10-10 13:30] neldridge commented on #6459
Yes, and have verified that pilot can upload, with a ipa built by gym.

It only fails when attempting to gym then pilot in the same lane, if I run them separately and manually run pilot from it's own lane it uploads fine.

[2016-10-10 13:43] dombarnes opened #6480 "Support for Universal Purchases in Pilot/Spaceship/Deliver/Fastlane"
### New Issue Checklist
- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

Currently, managing builds for apps with a Universal Purchase (iOS app and tvOS app using the same bundle ID) causes a number of conflicting results during use.
#### Setup

Parent folder has two

[2016-10-10 13:49] hjanuschka commented on #6459
thats sad! - can you dump the `ENV` after gym - maybe something stupid is set there.

[2016-10-10 13:56] SpacyRicochet commented on #6479
The fictitious example pretty much sums it up. The plugin in question is `poeditor_export`.

The person in charge of building didn't like it for the automated builds, because it relies on a network connection that might fail due to no fault of our own. So, being able to fail gracefully would help put this into the automated builds as well.

Putting the online things in `before_all` wouldn't work,

[2016-10-10 13:58] rafaelnobrepd commented on #6057
That would be great! 👍

[2016-10-10 14:24] neldridge commented on #6459
Ran manually (which you can tell from the TERM_PROGRAM). Most current Fastfile below output.

[code]

Fastfile
[code]

[2016-10-10 14:33] msmollin commented on #6203
@TKBurner - fixed for me. I only needed to do part 1 of @WaKeMaTTa's solution. I'm running 10.11.6 though so I don't know how this will hold up on 10.12 machines.

[2016-10-10 14:35] WaKeMaTTa commented on #6203
**PS**: im using ubuntu 16.04

[2016-10-10 14:37] dusek commented on #6419
Just ran into this issue ourselves a few hours ago (with fastlane 1.103.0 though).

[2016-10-10 14:37] hjanuschka commented on #6459
ahhh `CURRENT_PROJECT_VERSION`
try to set this in all your targets

for some reasons this is always 2 in all my projects -
<img width="1823" alt="bildschirmfoto 2016-10-10 um 16 35 38" src="https://cloud.githubusercontent.com/assets/2891702/19239714/a821ded8-8f07-11e6-81de-c34a56a57e65.png">

also check that `Versioning System` is set to `Apple Generic`
set it to something different and back to ap

[2016-10-10 14:53] summera commented on #6466
After thinking about this a bit, I think it would probably be better suited to be a part of the Android equivalent for match whenever that comes to fruition. Closing for now, but if you all think otherwise, let me know.

[2016-10-10 15:35] lyricsboy opened #6481 "S3 upload action builds invalid URL when region is us-east-1"
### Issue Description

The `s3` action has a hard-coded mechanism for determining the domain for the URL it generates for the installation plist file. It assumes that if you have a region configured, it should append that region name to the subdomain, e.g. `s3-us-east-1.amazonaws.com` for a region of `us-east-1`.

This is a problem because the domain above is not valid, and the correct value is `s

[2016-10-10 15:42] dombarnes commented on #6479
I'd say your build status should be somewhat disconnected from any network-based activity shouldn't it?
Run a :test lane to do your acceptance testing, and another lane to handle any CI deployment? Run it as two tasks in your build system. If :test fails, then don't try and deploy the build. If it passes, try and deploy it? Or is your setup more complex?

[2016-10-10 15:44] dral3x commented on #6296
@TKBurner That's correct. I manager to clear the signing account set in the project and so I was able to see the ends of the script.
Next step?

[2016-10-10 16:00] lnhrdt commented on #2009
@michallaskowski your blog post saved us hours today, thank you!

@TKBurner +1 supporting adding support for this workflow into match. In our organization we don't have permission to create provisioning profiles and must use the ones made for us.

[2016-10-10 16:04] dombarnes commented on #5758
If it helps, I've got this in my Fastfile
[code]
and I run
[code]
to update the file before running gym.

[2016-10-10 16:10] dombarnes opened #6482 "commit_version_bump settings doesn't read SRC_ROOT"
### New Issue Checklist
- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

When using the param `settings: true` in a fastfile, it does not appear to include ${SRC_ROOT} from Xcode in the file path, so fails to locate if this is not in the root of the git repo
See [com

[2016-10-10 16:19] gregk8288 commented on #6455
Hi All, I'm not sure that's the issue. I have just deployed three apps to the App Store, all updates and one of the apps was successful the other 2 failed, with the same error above, after upload. If fails exactly after upload and well before the Submission Information is triggered.

[code]

[2016-10-10 16:47] Ben-G commented on #6111
@carsten-wenderdel Thanks a lot for letting me know about this. It appears the issue is indeed fixed with the Xcode 8.1 stack. 🎉

Closing this issue.

[2016-10-10 16:47] #6111 closed

[2016-10-10 16:49] KrauseFx commented on #6203
@WaKeMaTTa Sorry, Linux is not officially supported by _fastlane_ at that moment

[2016-10-10 16:52] KrauseFx commented on #5379
@pahnev thanks for the report, that makes sense, by invalidating an existing profile, you need to re-generate. _match_ doesn't seem to do a great job doing that currently, so that's something that should be fixed

[2016-10-10 16:52] KrauseFx commented on #6073
Make sure to add `gem "cocoapods"` to your Gemfile 👍

[2016-10-10 16:55] KrauseFx commented on #6479
Yeah, you can use Ruby for that
[code]

[2016-10-10 16:57] KrauseFx commented on #6478
[code]

That's already the case, give it a try 👍

I agree that things might not be consistent, but that's not something we can change easily, since we have to stay backwards compatible

[2016-10-10 16:57] WaKeMaTTa commented on #6203
@KrauseFx I know but what i want to say is this issue is not from your gem is from RubyGems and Bundler.

[2016-10-10 17:24] KrauseFx commented on #6111
Great to hear this is resolved now, thanks for updating this issue 👍

[2016-10-10 17:36] hdoria commented on #5379
@KrauseFx the problems seem to be with pem. When we use the "pem" command it invalidates all provisioning profile. When we run match again, it does not fix these provisioning profile.

[2016-10-10 17:41] neldridge commented on #6459
I tried your suggestions @hjanuschka for `CURRENT_PROJECT_VERSION` and `Versioning System` - changes were not successful.

I removed `update_project_provisioning` and it ran gym/pilot successfully.
[code]

I then tried reimplemented `update_project_provisioning`, and remove just the `build_configuration` option; build was still failing.

I moved `update_project_provisioning` to a separate lane, an

[2016-10-10 17:54] hjanuschka commented on #6459
can you try using `match` for profile management?
then you could use "Automatic" code signing on the development machine, and use a specified `$(sigh_......-profile-name)`  inside the Release configuration provisioning profile?

you can toggle the Automatic Codesigning back to Manual - with https://github.com/hjanuschka/fastlane-plugin-update_project_codesigning (thx to @mathiasAichinger, did the

[2016-10-10 18:19] sebasbad commented on #4621
Id you've deleted a development provisioning profile that was in the match repo, you can update the match repo using the following options: match development -a com.myapp.personal --force

[2016-10-10 18:35] KrauseFx commented on #6459
It's deprecated, more information about how to do code signing in Xcode 8 here https://docs.fastlane.tools/codesigning/xcode-project/#

[2016-10-10 18:38] dombarnes commented on #6478
I know I've had FASTLANE_USERNAME set before and it's failed to be picked up by some tools I think.

[2016-10-10 18:55] damirstuhec commented on #5125
Still experiencing this issue when trying to upload for the first time.

Full logs (for `pilot`):

[code]

[2016-10-10 19:29] ossmalpha commented on #6191
Still nothing works. Can't upload using fastlane, but works using Organizer in Xcode. :(

[2016-10-10 19:46] KrauseFx commented on #5379
@hdoria That doesn't sound right. Can you post a screenshot of your provisioning profile list before running _pem_ and then after running _pem_?

[2016-10-10 19:59] KrauseFx commented on #6478
@dombarnes that shouldn't be the case. Can you find out what tools and parameters are affected by it?

[2016-10-10 20:26] tinder-ayu opened #6488 "Snapshot hangs on certain screens (have logs)"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

Using latest snapshot ruby gem and snapshotHelper2-3.swift
Snapshot randomly hangs on a screen(its the same screen every time), without manual intervention, it will not proceed or fail.
##### Co

[2016-10-10 20:32] trackvia-ios commented on #6437
Bumping this conversation, @KrauseFx any more discoveries on the gym/Sierra keychain issues after the one fix you made last week? Seems like there have been a few other related Issues reported (seems like more are starting to adopt Sierra, damn Apple for having to change more security with every major macOS release!).

If there is absolutely anything I can do to provide more details on my specific

[2016-10-10 20:35] #6452 closed

[2016-10-10 20:54] RyanCopley commented on #6345
@KrauseFx this is my folder setup: https://i.imgur.com/10WvXVI.png

based on you saying "fastlane folder"... i think I may have mine setup wrong?

[2016-10-10 21:08] RyanCopley commented on #6345
ha I totally had my folders wrong, I made a fastlane folder and moved those in and it's working :-) https://i.imgur.com/NR6s8CB.png

[2016-10-10 21:09] #6345 closed

[2016-10-10 21:40] KrauseFx commented on #5629
I'll close this issue for now due to inactivity, feel free to re-open if you still experience this problem 👍

[2016-10-10 21:40] #5629 closed

[2016-10-10 21:56] KrauseFx commented on #6437
So everything is working as expected, only when being called from Jenkins it doesn't work? Have you followed the installation section of Jenkins? https://docs.fastlane.tools/best-practices/continuous-integration/#jenkins-integration

[2016-10-10 22:07] trackvia-ios commented on #6437
Ahh, I will give `setup_jenkins` a try and keep you posted on my mileage, @KrauseFx - thank you for that suggestion. We were previously doing everything under the same setup and I believe some of the more recent security changes probably make `setup_jenkins` more of a necessity.

Should hear back from me in 24 hours!

[2016-10-10 22:09] KrauseFx commented on #6437
Awesome 👍

[2016-10-10 22:16] klundberg commented on #6278
with fastlane 1.105 this seems to be worse. now in my fastfile, if i first call `update_app_identifier` and then call `update_project_team` (while providing a path to the project for each), the second one fails since it can't find the project at a relative path name. for example:

[code]

[2016-10-10 22:59] trackvia-ios commented on #6437
Things are starting to look better, @KrauseFx!

Here's the output from `setup_jenkins`:

[code]

Now compilation is successful! But we get to:

[code]

Not sure if that's concerning?

It appears now I just have an issue accessing the iOS Simulator on the system, per the following logs:

[code]

It seems now I just need to assure Jenkins is configured to run as an Agent, not a Daemon, so I can laun

[2016-10-11 00:25] #5585 closed

[2016-10-11 00:40] KrauseFx commented on #4197
For everybody landing here via Google, make sure to follow our new Xcode 8 code signing guide: https://docs.fastlane.tools/codesigning/xcode-project/ 👍

[2016-10-11 00:53] KrauseFx commented on #6437
How did you install Jenkins? Make sure it's running in the user's context

[2016-10-11 02:51] KrauseFx commented on #6466
Thanks, @summera, great idea. I feel like it's not such a big pain point as you only do it once per developer team, right?

[2016-10-11 02:59] KrauseFx commented on #6057
You can also use the HTTPs based auth to clone repos

[2016-10-11 03:13] KrauseFx opened #6495 "Codesigning "No applicable devices found""
Called [gym](https://fastlane.tools/gym) using
[code]

Used OS: macOS Sierra
Used Xcode: 8.0

Used plist file

[code]

Generated export command (new lines for better readability)
[code]

simplified export command

[code]

**Update 1**
The error message is generated by the bundled `ipatool`:

[code]

so it's related to the third party dependency [CFPropertyList](https://github.com/ckruse/CFProperty

[2016-10-11 03:49] summera commented on #6466
@KrauseFx I'm actually doing this for each app we create. We build and maintain apps on behalf of our clients. Sometimes we publish to the client's google play account if they have one, but more often than not it's our own, because the client does not want to have to deal with having an account.

If the client ever decides to maintain their own app, they will need the private key to sign the app f

[2016-10-11 04:00] danielbowden commented on #6118
In line with [my comment above](https://github.com/fastlane/fastlane/issues/6118#issuecomment-250361514) I have created a Fastlane action to retrieve the provisioning profile specifier from a provided profile.

I am happy to put this up as an actions PR if others find this useful. There is a gist of it here: https://gist.github.com/danielbowden/7cb4a5c71a0372ea3b7ceeae1c71022a

[code]

I have run

[2016-10-11 04:19] KrauseFx commented on #6495
Pull request is live https://github.com/fastlane/fastlane/pull/6497

[2016-10-11 05:41] comeonyoh commented on #6477
@iCarambaa  thanks to your reply.

Actually I have multiple target. first my iOS app and second one is today-extension widget.

and I tried your solution. but I faced same problems...

Could you give me another tip please?... thanks again your effort

[2016-10-11 05:49] xserver opened #6498 "it's a variable, but fastlane output error : Could not find action or lane 'variable_name'"
`fastlane Error Message:`
 - Could not find action or lane 'fir_token'
 - Could not find action or lane 'emailNotify'
...

`Question :`
This is fastlane syntax ?
I want to define a variable.

`fastlane file :`
[code]

[2016-10-11 06:00] connorshea commented on #5243
@KrauseFx @hjanuschka it'd be awesome to have a GitLab CI section in the Fastlane CI docs :)

[2016-10-11 06:19] xserver commented on #6498
Thank you. The Codesigning is trouble.

Is there a smarter solution?
I just want to use a local variable.

[2016-10-11 07:09] Preau opened #6499 "Match can't find git_url"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Suddenly Match can't find our defined git_url from the Matchfile, this used to work before. Has anything changed?

##### Complete output when running fastlane, including the stack trace and com

[2016-10-11 08:06] vrutberg commented on #6419
We just ran into this issue as well, we're using fastlane 1.103.0.

[2016-10-11 08:49] igorstimoli commented on #6455
I think @gregk8288 is right
The one I found seems to be a problem, but not the only one.
This morning I had a failure and I found out that I had the correct submission_information settings for that app and I received an Unexpected error
``` {"data"=>nil, "messages"=>{"warn"=>nil, "error"=>["Unexpected Error"], "info"=>nil}, "statusCode"=>"ERROR"}```

The I logged in iTunesConnect and the app was t

[2016-10-11 09:09] dusek commented on #6419
Just adding that on Friday Oct 7 (3:37 PM UTC), with the same fastlane version (1.103.0) the same lane ran fine, without this error (or any other error, i.e. a green build).

[2016-10-11 09:40] Preau commented on #6499
While trying out more it seems adding my variables to the match call itself helps, but I have to do it for each variable, then on the next step sigh, it also can't find my username.

It seems like Fastfile isn't able to read Matchfile or Appfile data somehow.

[2016-10-11 10:21] jeeftor commented on #6118
I actually wrote up what I ended up doing in a medium article (https://medium.com/@Jeef/coming-to-terms-with-xcode-8s-new-build-settings-with-fastlane-75a06ebf2c18#.9ci88e47i)

Basically what I wrote here didn't actually end up working for me.  My approach was to actually manually rewrite the project file and use manual signing.  But it works well.

[2016-10-11 10:27] dombarnes commented on #6478
To test this, I added fastlane@domain.co.uk as an ENV knowing its an invalid AppleID and has no saved credentials for it, and it would/should prompt for a password and return an invalid login. In each of these tests, I was prompted for my username instead.
[code]
In my ENV
`FASTLANE_USERNAME=fastlane@domain.com`
If I then set `DELIVER_USERNAME` deliver uses that, same with SIGH_USERNAME, PILOT_USE

[2016-10-11 10:28] dral3x commented on #6296
Doing some more testing I notice that because in the output of Xcode there is the string `Testing failed`, scan will consider this a complete failure, regarding of the fact that some tests have been executed.

Just for hacking, I replaced the line https://github.com/fastlane/fastlane/blob/master/scan/lib/scan/error_handler.rb#L24 with `return` and this makes everything works. Tests results has bee

[2016-10-11 11:02] iWaiterDeveloper commented on #6425
Getting 500 error after deliver too. Using the latest available version

[2016-10-11 11:04] vrutberg commented on #6419
And after I upgraded our fastlane version to 1.105.1 and ran the same lane again, it worked fine.

[2016-10-11 11:07] hjanuschka commented on #5243
@connorshea https://github.com/fastlane/docs/pull/144 here we go :)

[2016-10-11 11:18] nmonasterio commented on #6455
Agreed. We had submissions fail throughout the day yesterday. Same issue as everyone is experiencing.

For what it's worth, I think iTunes Connect might be having some issues itself. I was greeted with all sorts of 500 errors yesterday in the UI as well, and people are reporting that they have uploaded binaries through Application Loader only to find the .ipa disappear a few minutes later. (Will a

[2016-10-11 11:42] dusek commented on #6419
Interestingly enough, we also had one build running a few minutes ago, without upgrading fastlane (keeping it as 1.103.0), and the new build ran completely fine. Maybe the iTunes Connect API has simply changed back and forth in the last few days...

[2016-10-11 12:29] matteo-harpoon commented on #169
Hi guys,
I've worked with Fastlane for iOS until last week and today I'm starting a similar project to upload and update our Android App.

I've noticed the following missing features on Fastlane for Andorid, I don't know if all of them or even one is possible but I'd like to give my support by showing you the differences between Fastlane for iOS and Android:

- [ ] Create Google Play Store App (on

[2016-10-11 12:30] matteo-harpoon opened #6500 "Missing Features on Fastlane for Android"
Hi guys,
I've worked with Fastlane for iOS until last week and today I'm starting a similar project to upload and update our Android App.

I've noticed the following missing features on Fastlane for Andorid, I don't know if all of them or even one is possible but I'd like to give my support by showing you the differences between Fastlane for iOS and Android:
- [ ] Create Google Play Store App (on

[2016-10-11 13:00] belawaeckerlig opened #6501 "[supply] rollout option ingored when promoting to track "rollout""
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
I would like to move an APK from the alpha or beta track to the staged rollout track, but the Google API always returns that the user fraction must be greater than 0.0 and less than 1.0.

As fa

[2016-10-11 13:07] #4906 closed

[2016-10-11 13:20] iWaiterDeveloper commented on #6455
Looks like this issue is connected to 500 error on iTC. I can't update any app while I'm getting 500 on iTC. Fastlane can give {"data"=>nil, "messages"=>{"warn"=>nil, "error"=>["Unexpected Error"], "info"=>nil}, "statusCode"=>"ERROR"} on any step (produce, deliver). Also the strangest thing is when I upload binary only ( without app icon) all is working as expected. But as soon as icon uploaded to

[2016-10-11 13:21] Wojcik commented on #6455
Looks like this issue is connected to 500 error on iTC. I can't update any app while I'm getting 500 on iTC. Fastlane can give {"data"=>nil, "messages"=>{"warn"=>nil, "error"=>["Unexpected Error"], "info"=>nil}, "statusCode"=>"ERROR"} on any step (produce, deliver). Also the strangest thing is when I upload binary only ( without app icon) all is working as expected. But as soon as icon uploaded to

[2016-10-11 13:30] kd8ssq commented on #6455
I'm receiving the same errors as well for each app I try and update.

[2016-10-11 13:42] neldridge commented on #6459
Alright, we'll see what we need to do to not use automatic/override the provisioning UUID... I wasn't a fan of this to begin with, but it seemed to actually work lol. I think we were having other code signing issues with XCS though, and hopefully can work through them now.

Thanks again for your help.

[2016-10-11 13:42] #6459 closed

[2016-10-11 14:25] TKBurner commented on #6124
@HenryGlendening Can you let me know if you were able to implement the fix in #6257? Do you have a different type of imessage screenshot? If so, can you provide exact repro steps and maybe a sample project? Thanks!

[2016-10-11 14:27] TKBurner commented on #6278
@klundberg Can you add the --verbose flag and send over the full input and output? I want to run the xcodeproj commands directly and see if they cause the issue. Really want to get to the bottom of this. Thanks!

[2016-10-11 14:33] TKBurner commented on #6351
@joeydong Thanks so much for your contribution! I'm going to go ahead and close out this issue, but feel free to comment if you notice this pop up again. Thanks so much 👍 👍

[2016-10-11 14:33] #6351 closed

[2016-10-11 14:36] TKBurner commented on #6333
@ConfusedVorlon @hdoria @Cyclic This is a topic of great discussion this week with the core team. We definitely want to improve expectations or behavior around this. Thanks! 👍 👍

[2016-10-11 14:39] TKBurner commented on #6219
@ChristopherDrum @SpacyRicochet Are you able to not use 'automatic' for your provisioning profile selection. Can you let me know if this is related to #6333. We are focusing on code signing improvements within the core team right now so I want to make sure we understand this.

Thanks!

[2016-10-11 14:40] TKBurner commented on #6362
@ayushgoel Thanks for following up. We are looking into this internally. I'm also marking this to see if we can get some community attention. Thanks!

[2016-10-11 14:42] TKBurner commented on #5259
@geoHeil Can you check you check your system and login keychains and let me know if this cert appears in both places? Thanks for working with me on this. Hope you have a great day! Also are you running into issues exporting from Xcode as well? Thanks!

[2016-10-11 14:44] TKBurner commented on #6458
@lucatorella Sorry to hear that you are running into this issue. Can you turn off the `legacy_build_api` and let me know if this issue persists? If it does please provide your full input and output from that run. Thanks!

[2016-10-11 14:45] TKBurner commented on #4150
@nsforge Thanks for sharing. Hope you have a great day and really happy to have you using _fastlane_!

[2016-10-11 14:45] bartonhammond commented on #6288
I have no idea how to do that

On Oct 6, 2016 9:53 PM, "Felix Krause" <notifications@github.com> wrote:

[2016-10-11 14:47] TKBurner commented on #4621
@pernilla @alibasta Have you tried using `read_only: true` for computers that don't need to directly login to iTC? Thanks!

[2016-10-11 14:49] TKBurner commented on #6432
@radex Thanks for following up. If you are interested in looking into this more, we'd love to see some work toward it. Start with Felix's questions. If logs are really the only change, I think this is acceptable as an option. Thanks!

[2016-10-11 14:49] geoHeil commented on #5259
Nope Xcode worked fine. But it seems to work now after finally fixing the
keychain.

Todd Burner <notifications@github.com> schrieb am Di., 11. Okt. 2016 um
16:43 Uhr:

[2016-10-11 14:49] belawaeckerlig commented on #6501
I created a pull request for the issue, but there is another issue:
when I want to increase the user fraction I set both, the `track` and the `promote_to` option, to "rollout" and the `rollout` option to the desired value. But then I will get again the API response, that the user fraction needs to be grater than 0.0 and less than 1.0. but in line 37 (supply/uploader.rb) it is again hardcoded to 1.

[2016-10-11 14:51] TKBurner commented on #5341
@fotiDim @cartfisk Thanks for sharing those use cases. I think this is viable for a community PR. I've marked it to get attention, but I was wondering if you could let me know if you are interested?

Thanks!

[2016-10-11 14:54] #3981 closed

[2016-10-11 14:54] #2080 closed

[2016-10-11 14:55] #4706 closed

[2016-10-11 14:58] TKBurner commented on #6318
@fcamaster What happens if you run fastlane init? Does it work after that setup or still fail? Are you using RVM? It seems like the fastlane bot might be using system ruby instead of the one you setup with _fastlane_.

[2016-10-11 14:59] mfurtak commented on #4906
Hi @VictorJava - [_screengrab_ 0.5.5](https://github.com/fastlane/fastlane/releases/tag/screengrab%2F0.5.5) was just released with some improvements for RTL language support! :rocket:

If you want to check it out, upgrade your gem with `gem update screengrab` and then make sure to update your _screengrab_ library dependency in your `build.gradle` to reference version **0.5.5**.

[2016-10-11 14:59] TKBurner commented on #6425
@iWaiterDeveloper @bucengyongyou @drakar4ik Does this persist on a blank project or just a pre-existing project? We'd love to get exact repro steps so I can send this out to the core team. Thanks so much!

[2016-10-11 15:01] TKBurner commented on #6427
@kylejm Awesome Kyle! We'll leave this open for you. Let us know what you find out if you get a chance to tinker with the API. Thanks!

[2016-10-11 15:05] TKBurner commented on #6095
@akaralar Thanks for following up. Can you let me know the sequence of events that triggers this for you? Right now we don't have a mechanism to resend in place.

Thanks!

[2016-10-11 15:07] TKBurner commented on #6396
@juraj-blahunka Thanks for providing the sample project. We'll have a look into this and follow up on this thread. Thanks!

[2016-10-11 15:07] TKBurner commented on #6272
@verticelo Thanks for following up. We are still looking into this over here!

[2016-10-11 15:09] TKBurner commented on #5271
@evilDave Thanks for following up. I've reopened this. We are cleaning up some old feature requests, but since you bumped this we'll leave it open. Let me know what you find out. Thanks!

[2016-10-11 15:09] TKBurner commented on #6052
@Ashton-W Awesome! Thanks for letting me know. Hope you are having a great week! 👍 👍

[2016-10-11 15:09] #6052 closed

[2016-10-11 15:12] TKBurner commented on #6454
@0xced Thanks for following up. Do you run into this issue in a single target app? Also, any interest in doing a PR for your first issue? Thanks!

[2016-10-11 15:12] lucatorella commented on #6458
Without `legacy_build_api` I get another error and I think I always got that other error, that's why I'm using the legacy api.

Anyway the error is:

[code]

[2016-10-11 15:21] nmonasterio commented on #6455
@Wojcik I was able to replicate the issue with the icon vs. no-icon upload. Good find!

[2016-10-11 15:22] TKBurner commented on #6455
@igorstimoli @nmonasterio @kd8ssq @Wojcik Just wanted to let you know I reached out to the core team about this and we'll update on this thread. Is this related only to submission_info?

[2016-10-11 15:26] TKBurner commented on #6330
@idomizrachi @gcamp Sorry to hear that you are still running into this. This seems like it is an issue with gym. I looped in the core team so they can take a look. Thanks!

[2016-10-11 15:30] TKBurner commented on #734
@Sega-Zero Thanks for reaching out. If you just run scan with the default values it will register your app with Fabric. Let me know how it goes!

[2016-10-11 15:32] TKBurner commented on #6226
@craigmarvelley Thanks for following up. Are you able to reproduce this on other projects? I've reached out to the core team to get them to look into this. Thanks!

[2016-10-11 15:48] kdawgwilk commented on #169
@matteo-harpoon I think most of those missing features are due to the limitations of the Google Play Developer Console API but I wouldn't be surprised if the Fastlane team doesn't find a way to work around those issues 😉

[2016-10-11 15:49] TKBurner commented on #6457
Hi @rogomantik What happens if you run `fastlane run update_fastlane`

Let me know if that fixes things for you. Are you using RVM? I'd suggest that since it lets you manage your rubies without using sudo. Thanks!

[2016-10-11 15:51] TKBurner commented on #6268
@geoHeil Followed up with you there. We'll leave this one open for the time being. Thanks!

[2016-10-11 15:51] TKBurner commented on #1393
@pedro380085 Awesome! Really glad to hear you were able to get up and running. Always feel free to reach out with any questions. Thanks!

[2016-10-11 15:53] TKBurner commented on #6099
@Luke-SF Changed this labeling and also sent out to the core team for investigation. Really sorry this is causing headaches for you. Hope you have a great day!

[2016-10-11 15:55] TKBurner commented on #5125
@damirstuhec Can you share your full fastlfile and let me know which lane you are running? Thanks!

[2016-10-11 15:55] igorstimoli commented on #6455
@TKBurner
The issue seems to be related to the submit for review process.
Even when the submission_info setting are correct the submission fails with unexpected error
Setting the submit_for_review to false allow fastlane not to fail because it skips the last submission step.

As said before, I've noticed that the failure occurs before the build is processed, so it seems that the submission_info ar

[2016-10-11 15:55] ayushgoel commented on #6362
@TKBurner Thanks a lot! Let me know in case any logs or help is required at my end.
I will keep a close watch on this thread. :bowtie:

[2016-10-11 15:58] TKBurner commented on #6249
@reidmain Can you let me know if the simulator runs twice for this command:

`set -o pipefail && env NSUnbufferedIO=YES xcodebuild -scheme Reid\ Tests -project Reid.xcodeproj -destination 'platform=iOS Simulator,id=EB8C51A0-7154-4C83-B10A-D75073BDDBF1' -derivedDataPath '/Users/Reid/Library/Developer/Xcode/DerivedData/Reid-cboqqhpakpmszbgfcwctixslhhvc' clean build test | tee '/Users/Reid/Library/Lo

[2016-10-11 15:58] spidfire commented on #169
I've tried to make a selenium script for a few those things but gave up because doing it once manually per app is too easy compared to keeping up with updates to the changes in the interface of play store.

[2016-10-11 15:59] TKBurner commented on #6303
@naxIO So does it work as expected with both a default folder and a en-US? Is this related to #6226

[2016-10-11 16:01] nmonasterio commented on #6455
For context, I've been looking at the payloads for uploading the app icon. Things seem to be pretty consistent, but comparing against [the upload_file method here](485199c8757113f2fdd1eee3448a0e0f3cd6d4e7/spaceship/lib/spaceship/du/du_client.rb#L21):

`
POST /upload/image HTTP/1.1
Host: du-itc.itunes.apple.com
Connection: keep-alive
Content-Length: 272778
Pragma: no-cache
Cache-Control: no-cache
X

[2016-10-11 16:01] TKBurner commented on #6325
@spirosoik What happens if you pass a string as the notes rather than a variable? Thanks!

[2016-10-11 16:09] TKBurner commented on #6306
@MouldiGABSI Thanks for following up. What happens if you remove the line

`FASTLANE_EXPLICIT_OPEN_SIMULATOR=1`

Can you provide the full input and output and highlight the lines where you think the simulator is running twice? Thanks so much!

[2016-10-11 16:09] TKBurner commented on #5684
@darrarski Thanks for sharing that update. Are you using Sierra? Thanks!

[2016-10-11 16:10] KrauseFx commented on #169
Yeah, most of those things are not available on the Google Play API. We don't want any web scraping, since this is super hard to maintain, and introduces with issues with new security features like 2 factor and automatic bot detection by Google.

[2016-10-11 16:11] Luke-SF commented on #6099
@TKBurner Great, thanks for the good work on this tool :)

[2016-10-11 16:11] TKBurner commented on #6376
@Prabat @itleo31 Were you able to get this working previously for this project? I want to see if this is a config issue or an issue caused by a potential update on our end. Thanks!

[2016-10-11 16:12] TKBurner commented on #5809
@segiddins Awesome! 👍

[2016-10-11 16:12] KrauseFx commented on #6458
@lucatorella can you share the complete output minus the actual building when running it without legacy build API? We're actually investigating this right now https://github.com/fastlane/fastlane/issues/6495

[2016-10-11 16:13] darrarski commented on #5684
@TKBurner yes, I am using Sierra (clean install from usb stick after formatting whole drive). Apart from this issue I had no problems so far.

[2016-10-11 16:14] TKBurner commented on #6368
@gregk8288 Did these apps eventually appear on iTC? We've had some recent fluctuation in processing times on the iTC side. @gersonmendes Same question. Thanks!

[2016-10-11 16:15] TKBurner commented on #1526
@damirstuhec Thanks for reaching out. Will you please submit a new issue for this so we can track it better? Thanks so much!

[2016-10-11 16:15] kdawgwilk commented on #169
@KrauseFx is there a "radar" like portal for Android developer tools where we can report issues like these to Google so they know that they are things the community wants?

[2016-10-11 16:17] TKBurner commented on #6222
@hardikdevios Thanks for following up. You should no longer see these problems. Let me know how it's going.

[2016-10-11 16:18] KrauseFx commented on #6498
Try using `@fir_token` instead of `fir_token`

[2016-10-11 16:18] spirosoik commented on #6325
@TKBurner didn't try but variable which I am adding is a string so I don't think that there will be a different behavior. if there is it's super weird which I don't think is possible.

[2016-10-11 16:19] TKBurner commented on #6305
@stanBienaives Thanks!  Felix says that this shouldn't impact your provisioning profile. So I'd like to look into repro steps so I can follow up with the team. Can you make this happen on a blank project? Thanks!

[2016-10-11 16:20] #5697 closed

[2016-10-11 16:22] gregk8288 commented on #6368
@TKBurner, yes they did eventually appear. It took a few hours before they were visible but they did appear. I've uploaded 4 new apps since and have not had this problem again.

[2016-10-11 16:23] TKBurner commented on #6281
@igorstimoli Did the app eventually appear on iTC? Thanks!

[2016-10-11 16:32] false commented on #237
I also needed the build and version numbers to name the generated ipas.
Unfortunately get_build_number() / get_version_number() won't work if you have multiple targets.
A simple fallback is to use the get_info_plist_value fastlane action :
[code]

[2016-10-11 16:34] KrauseFx commented on #6099
Please share the complete command you ran, the content of the `Gymfile`, and the complete output, including the summary table and the commands that are generated. his parameter should work as expected, only for fetching the build settings we call `clean` every time

[2016-10-11 16:43] radex commented on #6432
Good to hear! No promises I'll tackle it soon, but I very well might on the next good occasion when I'm working on my build setup ;)

[2016-10-11 16:46] KrauseFx commented on #237
Thanks for sharing @false 👍

[2016-10-11 16:59] lucatorella commented on #6458
Quick update. I was able to make the build succeed again.
Changes I made:
- added `include_bitcode: false, include_symbols: true`
- removed `legacy_build_api`
- running fastlane directly without doing `bundle exec`

full output after building
[code]

[2016-10-11 17:01] lucatorella commented on #6458
Quick update. I was able to make the build succeed again.
Changes I made:
- added `include_bitcode: false, include_symbols: true`
- removed `legacy_build_api: true`
- running fastlane directly without doing `bundle exec`

[2016-10-11 17:02] hardikdevios commented on #6222
@TKBurner Bro Great work i don't see any glitch so far.
Cheers 🍻

[2016-10-11 17:10] cdunkel commented on #6455
FYI, I've started getting a 500 Internal Server Error from iTC when even trying to view my apps in the last few minutes.

![image](https://cloud.githubusercontent.com/assets/685932/19280469/0b8f313a-8fb4-11e6-80af-366622d03ea5.png)

[2016-10-11 17:45] 365SplendidSuns commented on #6455
I'm getting the same 500 Inernal Server Error on iTC as cdunkel above. Also althopugh I started having the same problem everyone else described here  I'm getting it immediately after a successful login to iTC when using fastlane.

[2016-10-11 18:21] TKBurner commented on #6289
@ryanmeisters Are you using the legacy_build_api? Does it persist if you turn that off? Thanks!

[2016-10-11 18:21] TKBurner commented on #5474
@alexlavr Did you get up and running? Thanks!

[2016-10-11 18:24] bencollier commented on #5674
Pretty sure this one is still an issue.

[2016-10-11 18:24] TKBurner commented on #6223
@Philipp372 Do you still get this error in your main project if you run xcodebuild clean -showBuildSettings -scheme MyApp -project ./MyApp.xcodeproj? Thanks!

[2016-10-11 18:28] TKBurner commented on #6310
@akaralar Thanks for following up. Do you still get an error message if you run the command:

` $ xcodebuild clean -showBuildSettings -workspace ./KapGel.xcworkspace -scheme KapGel\ Sandbox`

Thanks!

[2016-10-11 18:31] TKBurner commented on #6456
@cmartinhas Hope you are doing well! Are you still seeing this issue? What happens if you delete that dSYM file and bump your build number, do you still run into this? Thanks!

[2016-10-11 18:35] TKBurner commented on #6331
@mdubs Looks like your gemfile has an issue. Can you make sure you are including your plugin in it? https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Plugins.md#readme

[2016-10-11 18:36] #5203 closed

[2016-10-11 18:37] TKBurner commented on #4546
@marcelofabri Thanks for the PR we'll work with you there. 👍

[2016-10-11 18:39] TKBurner commented on #6324
@jeeftor Thanks for following up. Are you not able to use different schemes for these to separate them more? Thanks!

[2016-10-11 18:42] TKBurner commented on #6119
@Sea-Eagle Thanks for following up. Can you provide a sample project or exact repro steps from a blank project? I'd love to investigate this. Thanks!

[2016-10-11 18:43] TKBurner commented on #5458
@michaelharro Thanks! We'll leave this open in case someone else is interested in working on this. Thanks!

[2016-10-11 18:44] TKBurner commented on #6316
@XPMCoding Can you let me know what lane you are running when you see this? Can you share the full input and output of the lane so I can take a look at what's going on. I can't wait to get to the bottom of this. Thanks!

[2016-10-11 18:46] TKBurner commented on #6327
@maschall Thanks for the PR, we need to make sure to not break any setups. We'll work with you over there. Hope that you are having a great week! 👍

[2016-10-11 18:52] TKBurner commented on #6400
@biolinh Thanks for reaching out. Great to hear from you again 👍 Can you share your full input and output? As well as a sanitized version of your matchfile? Thanks!

[2016-10-11 18:57] TKBurner commented on #6237
@faithfracture @gvarela @etolstoy Hope you are both doing well. Can you let me know if you are able to use the .ipa generated by gym for uploading to pilot manually. It looks like gym might be setting something to conflict with pilot.

[2016-10-11 18:58] gvarela commented on #6237
Yup running pilot after and pointing it to the ipa works. Also, have the same issue with deliver.

[2016-10-11 18:59] TKBurner commented on #6116
@chezzdev Nice! Are you interested in submitting a PR to improve this behavior? Thanks!

[2016-10-11 19:00] faithfracture commented on #6237
Yes, I can upload the IPA. In fact, if **DON'T** inclued the pilot step in my Fastfile and a manually run pilot separately, it uploads just fine.

My current build proces looks like this:
fastlane someBuildLane
fastlane pilot upload -s -z -u myusername@wherever.com

[2016-10-11 19:02] TKBurner commented on #6315
@BulletWu Thanks for reaching out. Can you replace your pod_install command with `cocoapods`

Thanks!

[2016-10-11 19:06] #5267 closed

[2016-10-11 19:07] TKBurner commented on #6387
Hi @damirjuretic Can you run `fastlane run update_fastlane` and then share your input and output with this error? Thanks so much!

[2016-10-11 19:09] TKBurner commented on #6118
@jeeftor Thanks so much for sharing. Really glad to have you as part of our community 👍

[2016-10-11 19:13] ryanmeisters commented on #6289
Hey @TKBurner. We are. Our gym invocation is like this:

    gym(
        scheme: app.scheme,
        configuration: app.build_configuration,
        include_bitcode: app.bitcode,
        use_legacy_build_api: true,
        toolchain: :swift_2_3
    )

I just tried removing the legacy build api and I get the Error message:

Here's a gist showing the `update_app_identifier` code that isn't working

[2016-10-11 19:21] KrauseFx commented on #6387
@damirjuretic That's why we're using `2> /dev/null`, so the stderror gets piped there

[2016-10-11 19:22] KrauseFx commented on #6289
@ryanmeisters Please share the complete output when running it with no legacy build API

[2016-10-11 19:23] KrauseFx commented on #6118
@jeeftor what's the reason you're not using environment variables as described [here](https://docs.fastlane.tools/codesigning/xcode-project/)? This way you don't have modify and revert the project file.

[2016-10-11 19:40] nmonasterio commented on #6455
@cdunkel @365SplendidSuns Saw those yesterday, too.

[2016-10-11 20:10] TKBurner commented on #6463
Hi @jwilliams-handy Thanks for reaching out. Can you let me know if this issue persists if you remove the slack action from your lane? Thanks!

[2016-10-11 20:11] TKBurner commented on #6464
@MaximusMcCann Thanks for reaching out! So glad to hear you got up and running. Always feel free to post if you have any questions or run into any issues 👍

[2016-10-11 20:14] TKBurner commented on #5435
@mgrebenets Thanks for getting back to me. Hope you are having a nice week. What order are you running this with snapshot? Thanks!

[2016-10-11 20:15] TKBurner commented on #5667
@richardszalay Thanks for following up. I'm going to mark this as a feature request and open it up to PRs. I think this would make more sense as an option than a default. What do you think?

[2016-10-11 20:16] TKBurner commented on #6365
Hi @marcocattai Can you send over your full input and output? I'd love to look into this. Thanks so much!

[2016-10-11 20:20] TKBurner commented on #6480
@dombarnes Thanks for reaching out. We'd love to see a PR to improve performance around TVos. Do other actions face a similar problem or just latest_testflight_build_number. What happens if you have two separate folders completely?

I'm trying to figure out if the issue is local or at the API level. Thanks!

[2016-10-11 20:22] TKBurner commented on #6481
@lyricsboy Thanks for the contribution. We'll work with you there. It sounds like this is a verifiable issue. Thanks!

[2016-10-11 20:23] Ashton-W commented on #4989
Sorry, this was completed in #5881

[2016-10-11 20:23] #4989 closed

[2016-10-11 20:26] TKBurner commented on #6482
@dombarnes Thanks for reaching out about this and sorry to hear that you are running into this. Which folder are you running fastlane from? Thanks!

[2016-10-11 20:27] TKBurner commented on #6191
@ossmalpha Are you also affected by this issue? Can you provide your full input and output? Thanks!

[2016-10-11 20:29] TKBurner commented on #6488
@tinder-ayu Hope you are doing well! Can you provide your snapfile? It looks like this might be an issue with the way you are navigating your app. Thanks!

[2016-10-11 20:31] TKBurner commented on #6466
@summera Thanks for following up. That is a really interesting use case. I want to leave this open and get any community feedback on it. Thanks!

[2016-10-11 20:31] tinder-ayu commented on #6488
@TKBurner here is my snapfile:

# Uncomment the lines below you want to change by removing the # in the beginning

# A list of devices you want to take the screenshots from
# devices([
#   "iPhone 6",
#   "iPhone 6 Plus",
#   "iPhone 5",
#   "iPhone 4s",
#   "iPad Retina",
#   "iPad Pro"
# ])

 devices([
   "iPhone 6s"
 ])

#languages([
#  "en-US",
#  "de-DE",
#  "it-IT",
#  ["pt", "pt_BR"] # Port

[2016-10-11 20:33] TKBurner commented on #6477
@comeonyoh Thanks for reaching out about this. It looks like one of your 3rd party frameworks is not properly linked to your scheme. Can you provide the full in put and output of your lane?

Thanks so much!

[2016-10-11 20:34] ryanmeisters commented on #6289
Certainly. Here's the output without legacy build api
https://gist.github.com/ryanmeisters/87844578df1261774500e7bce2f8164b

Looks like all fingers point at code signing but I could swear I checked and double checked that stuff a million times. There's a message in there about entitlements as well. Maybe that's the issue.

[2016-10-11 20:36] TKBurner commented on #6237
@gvarela @faithfracture Can you provide your full input to gym and pilot? I want to take a look and see what could be causing this. Thanks so much for working with me!

[2016-10-11 20:39] TKBurner commented on #5674
@bencollier Thanks for bumping this. We'll leave this ticket open then 👍 👍

[2016-10-11 20:40] TKBurner commented on #6455
@cdunkel @365SplendidSuns Do you think this new issue is on Apple's side? It seems to be but I wanted to check with you. Either way we are looking into this. 👍 👍 💯

[2016-10-11 20:41] bolom commented on #5493
all good for me

[2016-10-11 20:41] #5493 closed

[2016-10-11 20:42] faithfracture commented on #6237
Here's mine:

[code]

[2016-10-11 20:43] TKBurner commented on #6458
@lucatorella Thanks for following up on this. I'm glad to hear you got up and running.

I'm pretty sure include_symbols is dependent on bitcode being turned off. Have you done a sanity check to see if that step is required?

[2016-10-11 20:44] TKBurner commented on #6368
@gregk8288 Thanks for following up. I've seen processing times vary between 5minutes and several hours so this doesn't suprise me. Let me know if you see this pop up again and provide your full output. Most likely this is unavoidable and would happen in the front end as well. Thanks!

[2016-10-11 20:45] TKBurner commented on #6325
@spirosoik Are you able to get things up and running if you provide a file to notes_path rather than using notes directly? Thanks!

[2016-10-11 20:46] icecrystal23 opened #6507 "sigh still keeps recreating new profiles instead of repairing existing ones"
### Issue Description

When you run `sigh --force` it can't find invalid profiles, so it generates new ones.  I'd rather it repair the existing invalid one.
##### Complete output when running fastlane, including the stack trace and command used

[code]

[2016-10-11 20:47] TKBurner commented on #5684
Hi @darrarski Thanks for following up. The symlink is required on sierra right now because of the change in location of the keychain. Do you still have any outstanding issues or are you able to run your lanes now? Thanks!

[2016-10-11 20:48] mfurtak commented on #6330
Hi all, I did some exploration to try to reproduce. Here's the `Fastfile` I used.

[code]

I wasn't able to reproduce the problem when running that `fastlane build` on my test project.

What would be really 💯 would be if someone could share a small, self-contained test project that exhibits the problem. 👍

Thanks!

[2016-10-11 20:48] gvarela commented on #6237
[code]

[2016-10-11 20:50] TKBurner commented on #5259
@geoHeil Glad to hear you got up and running. 👍

[2016-10-11 20:51] darrarski commented on #5684
@TKBurner you are right about the symlink. I have no problems running lanes on Sierra after I performed steps mentioned above in my comment.

[2016-10-11 20:51] TKBurner commented on #6288
@bartonhammond Check out http://apple.stackexchange.com/questions/181472/is-it-possible-to-select-which-version-of-swift-to-use-in-xcode

[2016-10-11 20:53] TKBurner commented on #6500
@matteo-harpoon Thanks for reaching out. I sent this around to the core team to see if we can get some thoughts on your suggestions and maybe even some action. Would you be interested in submitting PRs for any of these? Thanks!

[2016-10-11 20:55] 365SplendidSuns commented on #6455
@TKBurner I'd be surprised if it wasn't Apple's side to be honest. Since my last post I've actually had one app submitted fine using deliver and another which failed after successfully selecting build with the error message "You must upload a large app icon" (My icons were fine).

[2016-10-11 20:56] TKBurner commented on #6499
Hi @Preau What happens if you set the git_url using the https address? Thanks!

[2016-10-11 20:58] TKBurner commented on #6478
@dombarnes Hope you are doing well! Any chance you'd be interested in making a PR to improve this behavior? Do those tools inherit fastlane username if it's not overridden? Thanks!

[2016-10-11 21:01] TKBurner commented on #6419
@dusek Thanks for letting me know. There has been some performance degradation on the iTC API in the past few days. Let me know if you see this again! Thanks 👍

[2016-10-11 21:02] TKBurner commented on #6501
@belawaeckerlig Can you bring this up on your PR as well? I want to make sure we work with you and get the best solution out the door as fast as possible. Thanks!

[2016-10-11 21:04] nmonasterio commented on #6455
@TKBurner It would seem so, especially given the fact that the payload currently being generated is just about identical. Do we have any insight on what the validation is (i.e., it might have changed)?

[2016-10-11 21:06] kd8ssq commented on #6455
It seems that it is ITC.  I've had several times today where I've received 500 errors when I try to manage some of my apps.   I've also had trouble logging in and navigating around their interface.  Sometimes I receive a generic error message, other times I receive a 500 error message.

[2016-10-11 21:07] KrauseFx commented on #6500
You mentioned that in https://github.com/fastlane/fastlane/issues/169#issuecomment-252903183, I replied here https://github.com/fastlane/fastlane/issues/169#issuecomment-252964458, most of those things are not possible due to API limitations.

[2016-10-11 21:09] cdunkel commented on #6455
@TKBurner it definitely seems like Apple is a big part of it.  The only thing that I'm seeing that might not be Apple's fault is that if I'm doing back-to-back releases I can only make it through one run before I see this issue.  Re-running Fastlane then gets me through another app release.

That said, I've been seeing the same behavior as @kd8ssq.  iTC seems so unstable today that I'm amazed I'm

[2016-10-11 21:16] damirjuretic commented on #6387
Hi @TKBurner, I have updated fastlane and now is working properly. Thank you @KrauseFx 👍

[2016-10-11 21:24] KrauseFx commented on #6387
Yeah 🎉

[2016-10-11 21:28] mfurtak commented on #6396
Hi @juraj-blahunka - thanks for the report!

I can reproduce what you are seeing. Thanks for the sample project, that was perfect! :100:

If I look at the test logs when the `assertionFailure()` code gets run, here's what I see

[code]

That looks somewhat bad. We don't want the test process to exit or crash because of an assertion, but that's what seems to be happening. When this output then gets

[2016-10-11 21:32] alexlavr commented on #5474
Yes it works now for submitting beta.

[2016-10-11 21:33] alexlavr commented on #5474
@TKBurner Yes, I updated ruby and it started working.

[2016-10-11 22:38] #6495 closed

[2016-10-11 23:12] summera commented on #6466
@TKBurner sounds great. As I said, I'd be happy to submit a PR for this but I also think it would work well to have this as part of a keystore management fastlane tool. Although we could always build this out as an action and then migrate it over to the tool if we needed to.

[2016-10-11 23:15] #5236 closed

[2016-10-11 23:25] #5221 closed

[2016-10-11 23:31] MikeBlair commented on #6330
@gcamp they've released a new version of xcodeproj which fixed a similar issue for me.  It is in 1.3.2: https://github.com/CocoaPods/Xcodeproj/releases/tag/1.3.2

[2016-10-11 23:33] supermarin commented on #6396
Next version of xcpretty will report this as an error (probably html reporter too), but as you can see from the log - there's no test failure that xcpretty could recognize.

[code]

[2016-10-11 23:35] #5129 closed

[2016-10-11 23:45] #5124 closed

[2016-10-11 23:55] #5119 closed

[2016-10-12 00:00] KrauseFx commented on #6499
Please share a screenshot of your directory tree, and make sure the Matchfile is inside the _fastlane_ folder

[2016-10-12 00:03] KrauseFx commented on #6458
Hey everyone, we just pushed a new _gym_ release with [gym 1.11.1](https://github.com/fastlane-old/gym/releases/tag/1.11.1), that should fix an error in `xcodebuild`. Xcode depends on system Ruby being used, and sometimes can't find the system gems. The new release should fix that error. Please disable the `use_legacy_build_api` flag, update to the latest version of _gym_ and give it a try.

Let u

[2016-10-12 00:03] KrauseFx commented on #6310
Hey everyone, we just pushed a new _gym_ release with [gym 1.11.1](https://github.com/fastlane-old/gym/releases/tag/1.11.1), that should fix an error in `xcodebuild`. Xcode depends on system Ruby being used, and sometimes can't find the system gems. The new release should fix that error. Please disable the `use_legacy_build_api` flag, update to the latest version of _gym_ and give it a try.

Let u

[2016-10-12 00:04] KrauseFx commented on #6310
Do you want to deploy App Store or Ad Hoc builds? Make sure to pass the environment when calling _gym_ 👍

[2016-10-12 00:05] KrauseFx commented on #5358
Hey everyone, we just pushed a new _gym_ release with [gym 1.11.1](https://github.com/fastlane-old/gym/releases/tag/1.11.1), that should fix an error in `xcodebuild`. Xcode depends on system Ruby being used, and sometimes can't find the system gems. The new release should fix that error. Please disable the `use_legacy_build_api` flag, update to the latest version of _gym_ and give it a try.

Let u

[2016-10-12 00:05] KrauseFx commented on #6223
Hey everyone, we just pushed a new _gym_ release with [gym 1.11.1](https://github.com/fastlane-old/gym/releases/tag/1.11.1), that should fix an error in `xcodebuild`. Xcode depends on system Ruby being used, and sometimes can't find the system gems. The new release should fix that error. Please disable the `use_legacy_build_api` flag, update to the latest version of _gym_ and give it a try.

Let u

[2016-10-12 00:06] #5071 closed

[2016-10-12 00:06] KrauseFx commented on #6277
Hey everyone, we just pushed a new _gym_ release with [gym 1.11.1](https://github.com/fastlane-old/gym/releases/tag/1.11.1), that should fix an error in `xcodebuild`. Xcode depends on system Ruby being used, and sometimes can't find the system gems. The new release should fix that error. Please disable the `use_legacy_build_api` flag, update to the latest version of _gym_ and give it a try. More i

[2016-10-12 00:07] KrauseFx commented on #5240
Hey everyone, we just pushed a new _gym_ release with [gym 1.11.1](https://github.com/fastlane-old/gym/releases/tag/1.11.1), that should fix an error in `xcodebuild`. Xcode depends on system Ruby being used, and sometimes can't find the system gems. The new release should fix that error. Please disable the `use_legacy_build_api` flag, update to the latest version of _gym_ and give it a try. More i

[2016-10-12 00:07] #5240 closed

[2016-10-12 00:07] KrauseFx commented on #4458
Thanks, we also just pushed this:

---

Hey everyone, we just pushed a new _gym_ release with [gym 1.11.1](https://github.com/fastlane-old/gym/releases/tag/1.11.1), that should fix an error in `xcodebuild`. Xcode depends on system Ruby being used, and sometimes can't find the system gems. The new release should fix that error. Please disable the `use_legacy_build_api` flag, update to the latest ve

[2016-10-12 00:08] KrauseFx commented on #5066
Hey everyone, we just pushed a new _gym_ release with [gym 1.11.1](https://github.com/fastlane-old/gym/releases/tag/1.11.1), that should fix an error in `xcodebuild`. Xcode depends on system Ruby being used, and sometimes can't find the system gems. The new release should fix that error. Please disable the `use_legacy_build_api` flag, update to the latest version of _gym_ and give it a try. More i

[2016-10-12 00:15] #5045 closed

[2016-10-12 00:21] gcamp commented on #6330
@MikeBlair Indeed xcodeproj 1.3.2 seems to have fixed it. thanks

@mfurtak Sorry you had to took the time to look into it. Thanks for your hard work!

[2016-10-12 00:21] #6330 closed

[2016-10-12 00:25] #4816 closed

[2016-10-12 00:35] #4777 closed

[2016-10-12 00:40] comeonyoh commented on #6477
@TKBurner Thanks to your reply.

Really thanks to your help and attention.

This is my full input lane in Fastfile.
------------------------------------------------------------
fastlane_version "1.105.0"

default_platform :ios

platform :ios do
  before_all do
    cocoapods

  end

  desc "Deploy a new version to the App Store"
  lane :release do
    gym(scheme: "TIGRIS4.0") # Build your app - mor

[2016-10-12 01:40] wacheski commented on #6136
@bpham711 Thanks. I don't see group support yet, but will have a closer look.

[2016-10-12 02:09] KrauseFx commented on #4989
Thanks for updating @Ashton-W 👍

[2016-10-12 02:14] jdee commented on #5758
Thanks, @dombarnes. I have something similar using the plist gem. I did a bit of work in a fork of fastlane. The one thing I need to figure out is how to dig the location of the Root.plist out of the xcodeproj file. I'm sure there are some facilities for that in fastlane. If anyone has any pointers, feel free to share.

[2016-10-12 02:34] nafu commented on #6277
@KrauseFx

Thanks 👍
But in this case, I also need to unset `GEM_HOME` and `GEM_PATH` even if I don't use rbenv.
Could I PR for this?

## Success Case

Unset these on xcbuild-safe.sh.

[code]

#### xcbuild-safe.sh

https://github.com/nafu/fastlane/blob/8f673679580e6e539ef6f2de0dfb34794d7a961a/gym/lib/assets/wrap_xcodebuild/xcbuild-safe.sh#L52-L58

#### CircleCI

Although total build is failed, but

[2016-10-12 02:55] KrauseFx commented on #6277
@nafu Absolutely, feel free to PR to also unset the 2 additional environment variables 👍

[2016-10-12 03:10] KrauseFx commented on #6396
Thanks for updating the issue here @supermarin, we already bumped the `xcpretty` dependency and will push a new _scan_ release tomorrow morning  🚀

[2016-10-12 03:11] ChristopherDrum commented on #6219
@TKBurner Yes, that was the reason I could not use 'automatic'.
This became a big problem as well, because while I worked on fixing the 'manual' codesign, other developers kept working and had 'automatic' turned on, which triggered some kind of invalidation on the provisioning profiles that I used for 'manual' code signing. We kept chasing each other around the block.

As well, fastlane's own docu

[2016-10-12 03:17] jdee commented on #5758
Now that I dig a little deeper, I realize that most project handling in fastlane is done by calling xcodebuild. I'm looking at options there, but I'm not sure whether I'll be able to get the location of the Root.plist file from xcodebuild. So here are some options:

- Find the right invocation of xcodebuild to extract the location from the xcodeproj file.
- Brute force it out using nokogiri or som

[2016-10-12 03:27] nafu commented on #6277
@KrauseFx I created a PR https://github.com/fastlane/fastlane/pull/6513. Let me know if there are any problems.

[2016-10-12 04:02] damirstuhec commented on #5125
@TKBurner here is my full `fastfile`. I was running `beta` lane.

[code]

[2016-10-12 05:30] spirosoik commented on #6325
@TKBurner what I wrote here https://github.com/fastlane/fastlane/issues/6325#issuecomment-251420947 it works without a problem with `notes_path` but still you need to fix that guys, I added so many extra steps to make it and it must work out of the box.

[2016-10-12 05:32] chenxiao0228 opened #6514 "FastlaneCore::Project->build_settings() not using -configuration parameter"
### New Issue Checklist
- [ x] Updated fastlane to the latest version
- [ x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

Scan::detect_values.rb->detect_simulator() uses FastlaneCore::Project->build_settings()

which is using command:
xcodebuild -showBuildingSettings -workspace -scheme -project

The issue is that

[2016-10-12 05:52] #6277 closed

[2016-10-12 05:55] dombarnes commented on #6480
I did some playing with Spaceship and it didn't seem to return any different data where I have a linked tvOS app, only the iOS app data. Not sure if it's API level or not but I'll dig around the code and test with my account and see what I can discover and feed back.

In my mind there could be a 'platform :tvos' definition in the fastfile to set the preference. Or at least separate activity. TvOS

[2016-10-12 06:01] dombarnes commented on #5758
I think a new action would make sense as it's not expected behaviour to have a version number in the settings bundle. Its not included as standard in a new project.
I did file this issue though which relates https://github.com/fastlane/fastlane/issues/6482

[2016-10-12 06:06] xserver commented on #6498
using @ instance variable  can be resolved.  Nice.

I have tried using $ global variable, but can't.

[2016-10-12 06:06] #6498 closed

[2016-10-12 06:07] pedro380085 commented on #6455
Same thing here, error signature looks the same and occurs randomly. Apple is preparing its 2017 April fools prank in advance.

[2016-10-12 06:42] cybertk commented on #6057
How to specify credentials for HTTPs based repo?

[2016-10-12 06:55] yogiben opened #6516 "How to set project path?"
[x] updated
[x] read contribution guideline

Running `fastlane beta` prompts:

`Couldn't automatically detect the project file, please provide a path:`

What's the correct way to set the project file to avoid this prompt?

[2016-10-12 06:55] #5602 closed

[2016-10-12 07:25] JustinJiaDev commented on #6425
For me, it's a project that hasn't been reviewed.

[2016-10-12 07:45] lucatorella commented on #6458
@lucatorella those weren't the minimal changes needed to make fastlane work again. I just made those 3 changes and it started working again. In fact, I tried to undo the first step (added `include_bitcode: false, include_symbols: true`) and it still work . So, basically, when disabling the legacy api I can't use `bundle exec`

[2016-10-12 07:46] lucatorella commented on #6458
@KrauseFx just tried gym 1.11.1 and I'm able to use `bundle exec` again. Thanks 🚀

[2016-10-12 07:51] diaojunxian commented on #6351
@TKBurner Can I ask you a question about spaceship?I had used sapceship to login in itunesconnect,but I don't know how to get the scores and the assessment,and the score and assessment like the picture:
![score](https://cloud.githubusercontent.com/assets/19700467/19301752/9cd4ffd2-9093-11e6-8ab6-6ae5ef3579b8.png)

[2016-10-12 07:58] bucengyongyou commented on #6425
@TKBurner
For me ,it's a project that already exist
First i create a new version of a app in itunesconnect and use deliver to upload icon
then the iTunes app's page tell a error

[2016-10-12 08:01] dsuvorov commented on #6288
I have the same issue. It looks like the latest version of SnapshotHelper.swift has incompatible syntax with my Swift (Apple Swift version 2.2 (swiftlang-703.0.18.8 clang-703.0.31)).
I have replaced SnapshotHelper.swift with the older one (from another project of mine which has not been updated to the latest version), and everything seems allright now.

It is strange, but both of SnapshotHelper.sw

[2016-10-12 08:02] hjanuschka commented on #6057
@cybertk  you could use ssh agent - and load up all keys you have, the clone should bubble threw all of them, trying to find a working one.

or you could pin. a specific key - to a host e.g:
this goes to: `~/.ssh/config`

[code]

you can find a good explanation at: http://nerderati.com/2011/03/17/simplify-your-life-with-an-ssh-config-file/

[2016-10-12 08:03] lucatorella commented on #6458
@KrauseFx I just tried gym 1.11.1 with `bundle exec`, but I still get an error:

[code]

[2016-10-12 08:10] alibasta commented on #4621
@TKBurner I'm currently the only person on that project. So no other computers.

I've got the problem since Xcode 8.

[2016-10-12 08:10] mdsb100 commented on #4621
Why close??? I have same issues

[2016-10-12 08:11] mdsb100 commented on #4621
@fastlane-bot please reopen

[2016-10-12 08:16] dsuvorov commented on #6288
@bartonhammond, I had the same issue when tried to use the latest SnapshotHelper.swift (which is Swift 3 compatible) with Swift 2.2. I just replaced it with SnapshotHelper23.swift and everything seems allright now.

[2016-10-12 08:37] rogomantik commented on #6457
I don't have fastlane installed, only deliver

If I dont use sudo i get

I cannot update gem too

I think is something related to the sierra update

[2016-10-12 08:39] ChristopherDrum opened #6517 "Feature Request: Conditional dSYM download when Crashlytics needs one"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
(iOS workflow request)
Since Fastlane is part of Fabric, and Crashlytics is also part of Fabric, it seems to me that it should now be possible to more tightly integrate with Crashlytics.

We ha

[2016-10-12 08:52] pernilla commented on #4621
@TKBurner No, but how should that work? Should I configure fastlane for different computers? It's enough with one person having these problems in the team and he/her sets automatically signing to true to solve the problem, then he/her automatically invalidates the profiles for the rest of us. So it you can elaborate how we could set `read_only: true` for only some users that would be nice.

For us

[2016-10-12 08:54] drakar4ik commented on #6425
For me, it's a new app with "Prepare for Submission" status. Every deliver (with different icon names) makes app (sometime MyApps page) unavailable for 10sec-7minutes.

[2016-10-12 09:44] Prabat commented on #6376
@TKBurner Verified one more time & analyzed the issue.
Snapshot is taking the screenshots for all versions of simulator but html report page is not updated with screenshots particularly for  **iPhone 7**, **iPhone 7 Plus** & **iPhone SE**.

Please look at the issue.

[2016-10-12 11:57] kmpnz commented on #6455
@nmonasterio here are the options i'm using:
[code]

Toggling `content_rights_contains_third_party_content` from `true` to `false` didn't help either

[2016-10-12 12:40] kumariswarnim commented on #5066
Hi Everyone,

I am also facing the same issue while making the build with Jenkins. When I try updating the Fastlane then I get the below issue:
**ERROR:  While executing gem ... (Gem::RemoteFetcher::FetchError)
    SSL_connect returned=1 errno=0 state=SSLv3 read server certificate B: certificate verify failed (https://api.rubygems.org/specs.4.8.gz)**

Can someone please help me to solve this issue

[2016-10-12 13:07] mgrebenets commented on #5435
@TKBurner this particular plugin needs to be run before _any other_ command that uses `xcrun` or `xcodebuild` or other commands from Xcode toolchain.

I would assume `snapshot` is using `xcrun simctl` for launching simulator, so plugin should run before `snapshot`.

I've put it in README, the best place is in `before_all` hook:

[code]

[2016-10-12 13:55] #5578 closed

[2016-10-12 14:12] mfurtak commented on #6330
@gcamp No worries at all - glad you're up and running! 👍

[2016-10-12 14:38] daneov commented on #6136
👍

[2016-10-12 14:55] lyndsey-ferguson commented on #6516
What have you already tried? What does your Fastfile look like?

[2016-10-12 15:20] TKBurner commented on #6498
@xserver Awesome! Really glad to hear you got up and running 👍

[2016-10-12 15:21] TKBurner commented on #5474
@alexlavr Awesome! Thanks so much for letting me know 👍

[2016-10-12 15:21] GandjaFuzz commented on #6455
having too this problem

[2016-10-12 16:14] jdee commented on #5758
Yes. I think I ran into that (mentioned it in the issue description). I had to put my Settings.bundle in the project root to make it work, but I'd like to fix that as part of this work, unless the original authors want to deal with it.

[2016-10-12 16:25] #5257 closed

[2016-10-12 16:45] KrauseFx commented on #5257
@tmm1 I worked on this issue a few days ago, could you try again with the latest code on `master`?

[2016-10-12 18:21] TKBurner commented on #6296
Hi @dral3x Can you provide a sample project that is affected by this? I want to send this out to the core team. Thanks!

[2016-10-12 18:35] TKBurner commented on #6507
@icecrystal23 Thanks for reaching out. What happens if you use `sh sigh repair` thanks!

[2016-10-12 18:40] TKBurner commented on #6516
@yogiben GYM_PROJECT enviromental variable will set this. Let me know how it goes!

[2016-10-12 18:42] icecrystal23 commented on #6507
Last I checked, `sigh repair` takes a long time and downloads a ton of profiles I don't need (since it repairs everything, and we have a number of different apps in our developer portal).  I want to be able to repair only specific profiles (I think I separately opened a feature request for this a while ago)

[2016-10-12 18:45] TKBurner commented on #5435
@mgrebenets Thank you! Really appreciate your contributions. Can you email me at burner@twitter.com, I want to ask you something on a private channel?

[2016-10-12 18:55] TKBurner commented on #6455
@GandjaFuzz @kmpnz @cdunkel @kd8ssq @365SplendidSuns @nmonasterio Any new findings? The team is looking into this! 👍 👍 👍

[2016-10-12 18:56] TKBurner commented on #6376
@Prabat Thanks for following up. Can you provide a sample project that is affected by this? First run `fastlane run update_fastlane`. I want to try and reproduce this over here. Thanks!

[2016-10-12 18:58] TKBurner commented on #5066
@kumariswarnim can you run `fastlane run update_fastlane` and share the full output? Thanks!

[2016-10-12 19:01] TKBurner commented on #6425
@JustinJiaDev @bucengyongyou Can you verify that you are seeing the same behavior as @drakar4ik.

After running deliver you can't access the app in iTC for several minutes?

Thanks!

[2016-10-12 19:01] kd8ssq commented on #6455
I've found that everything seems to upload properly, screenshots, metadata and the binary but as soon as it gets to the step where it's supposed to wait for the binary check to be complete, it fails.  The binary has still uploaded and after a few minutes I'll get an email that the processing is complete.  If I try to login to ITC around the time of the error, I'll get a 500 error when I click "My

[2016-10-12 19:05] TKBurner commented on #4621
Hi @pernilla Thanks for following up. When they run `match` to pull your profiles down just add that read_only parameter. So one developer will be able to connect to iTC without the read_only: true set, but the rest run

[code]

or

`match development --readonly`

[2016-10-12 19:06] TKBurner commented on #6517
@ChristopherDrum Very interesting suggestion. Right now there is no public API to get the missing dSYM data from Crashlytics. We aren't going to use private API end points in _fastlane_. If this becomes possible we will definitely implement!

[2016-10-12 19:06] #6517 closed

[2016-10-12 19:13] TKBurner commented on #6457
Hi @rogomantik Can you run ruby -v? It looks like you need to update your ruby version. You might need to install rvm to do this. Thanks!

[2016-10-12 19:15] TKBurner commented on #6458
@lucatorella Can you share your full input to _gym_? Thanks!

[2016-10-12 19:16] TKBurner commented on #6057
@hjanuschka Thanks for stepping in! 👍

[2016-10-12 19:19] TKBurner commented on #6351
Hi @diaojunxian

Does your output of this command not include that info:
![image](https://cloud.githubusercontent.com/assets/1987108/19324324/006c8902-908f-11e6-9676-4c17b7fcea37.png)

I'm not 100% but I think that this data might not be available via API as it's not considered metadata.

[2016-10-12 19:25] JustinJiaDev commented on #6425
Yes. I can't access the app in iTunes Connect for several minutes. Sometimes, I can't access all my apps in the iTunes Connect.

[2016-10-12 19:26] lucatorella commented on #6458
[code]

[2016-10-12 19:27] TKBurner commented on #6480
@dombarnes Thanks! Can you think of a smaller chunk of work you can take on toward this so we can start working with you on a PR? Hope you are having a great week!

[2016-10-12 19:35] TKBurner commented on #6514
@chenxiao0228 Are you interested in submitting a PR to correct this? I'd love to see that 👍 👍 💯

[2016-10-12 19:42] TKBurner commented on #6219
@ChristopherDrum We recommend manual for sure however because of the new defaults we are going to investigate this. Thanks!

[2016-10-12 19:44] TKBurner commented on #6477
@comeonyoh You'll need to specify a scheme in your gymfile. Thanks!

[2016-10-12 19:46] TKBurner commented on #6466
@summera The plugin to action to tool path might be most appropriate for this. Let me know if you make any progress toward it, I want to check it out! 👍

[2016-10-12 19:51] TKBurner commented on #5684
@darrarski Thanks! Going to leave this open because of the outstanding issue with the keychain 👍

[2016-10-12 19:51] gersonmendes commented on #6368
@TKBurner The last application that I publish didn't show the issue. I notice that the message "Waiting for the newly created application to be available on iTunes Connect..." was displayed about 10 times, but it didn't give timeout error. So, I think it's working properly now.

I'll keep in touch.

[2016-10-12 19:55] trackvia-ios commented on #6437
@KrauseFx Sorry for going dark, I wanted to make sure I had tried everything before I came back up for air and reported back.

**TL;DR**: Updating Fastlane, Jenkins, macOS X Sierra + Xcode 8 upgrade at the same time caused a lot of problems. I learned a lot about everything that changed in each dependency, and intend on writing a blog post for other iOS developers to follow when looking to use a J

[2016-10-12 19:55] #6437 closed

[2016-10-12 19:57] TKBurner commented on #6488
@tinder-ayu Thanks for following up. Can you share the full input and output of snapshot? I want to take a look at where it gets this error. Thanks so much!

[2016-10-12 20:00] TKBurner commented on #6289
@ryanmeisters Thanks for sharing that. Are you using watchkit? Are you able to reproduce this on a blank Xcode project with the Enterprise cert? Thanks!

[2016-10-12 20:01] tinder-ayu commented on #6488
@TKBurner can't you debug from what i uploaded, full log is over megabytes long, and i dont always get this error. this makes my testcase hang from time to time

[2016-10-12 20:04] TKBurner commented on #5125
@damirstuhec Can you add the wait_processing_interval: 600 parameter to your pilot command? I want to see if that clears this up. Thanks!

[2016-10-12 20:06] TKBurner commented on #6237
@faithfracture @gvarela What happens if you set skip_waiting_for_build_processing: false?

[2016-10-12 20:07] TKBurner commented on #6325
@spirosoik Thanks! Are you interested in submitting a PR to correct this? We'd love to see that 👍 👍 💯

[2016-10-12 20:08] ryanmeisters commented on #6289
No problem. We are using watchkit, and we're actually not on an enterprise account. I'll see if I can make some time to try it in a fresh project

[2016-10-12 20:24] faithfracture commented on #6237
My Jenkins build either fails for taking too long, or takes like 20 minutes longer than it should....

In seriousness though, I'll give it a shot on a test build and see what happens.

[2016-10-12 20:37] DBocksteger opened #6519 "Code signing is required for product type 'Application' in SDK 'iOS 10.0'"
While trying to build my App (Xcode 8, macOS Sierra, iOS 10 SDK) I'm getting the following error.

[code]

Before this I've ran:

[code]

Which looks very good? What am I doing wrong? Xcode is set up to sign automatically.

The complete lane I try to run looks like

[code]

[2016-10-12 20:54] pixelrevision commented on #6236
I'm actually seeing something similar today.  Just doing `fastlane --help` causes this to trigger:

`
/Library/Ruby/Gems/2.0.0/gems/bundler-1.13.3/lib/bundler/rubygems_ext.rb:45:in `full_gem_path': uninitialized constant Bundler::Plugin::API::Source (NameError)
	from /System/Library/Frameworks/Ruby.framework/Versions/2.0/usr/lib/ruby/2.0.0/rubygems/specification.rb:1391:in `contains_requirable_fil

[2016-10-12 20:55] #5433 closed

[2016-10-12 21:04] DBocksteger commented on #6519
The Guide helped, but! Gym is working now :-)

Now I'm getting some weird warnings in Xcode itself, after switching to the manual profiles...

<img width="540" alt="bildschirmfoto 2016-10-12 um 23 00 28" src="https://cloud.githubusercontent.com/assets/1019812/19327612/1d2f61f4-90d0-11e6-9775-9bf1161e4d13.png">

[2016-10-12 21:19] KrauseFx commented on #5433
This has been solved with the most recent _spaceship_ release 👍

[2016-10-12 21:26] KrauseFx commented on #6289
@ryanmeisters What is the `shell_session_update` file? Did you call or add that somewhere? Maybe in your Xcode build phase?

[2016-10-12 21:27] KrauseFx commented on #6466
Yeah, a plugin is a great start  🚀

[2016-10-12 21:27] KrauseFx commented on #6466
Let us know if you need any help

[2016-10-12 21:27] KrauseFx commented on #5684
This should have been fixed with the latest _fastlane_ update, let us know if you still experience any issues.

[2016-10-12 21:31] KrauseFx commented on #6437
Hey @trackvia-ios, thank you so much for publishing this comment, this will be extremely helpful for other users when they search for the same issue. Publishing a blog post sounds like a great idea. I'm sure a ton of people search for `setup fastlane on Jenkins` and similar. Also, if you feel like our [Jenkins guide](https://docs.fastlane.tools/best-practices/continuous-integration/#jenkins-integr

[2016-10-12 21:31] masteranza commented on #6519
Do we still **need to** resort to manual provisioning profile?

[2016-10-12 22:04] ryanmeisters commented on #6289
@KrauseFx good question. Looks like it's an rvm thing per [this thread](https://github.com/direnv/direnv/issues/210). I did an `rvm get head` as suggested and that message went away, but the `Exit Status: 70` message is the same.

It seems like I've still got some ruby environment issues though.

Is forcing use of system ruby expected behavior?

Warning! PATH is not properly set up, '/Users/ryan/.

[2016-10-12 22:48] KrauseFx opened #6520 "Fixing the rsync issue when using gym"
Related issues:
- https://github.com/fastlane/fastlane/issues/5367
- https://github.com/fastlane/fastlane/issues/5019
- https://github.com/fastlane/fastlane/issues/4150
- https://github.com/fastlane/fastlane/issues/3153

We can reproduce the problem on one Mac
- rbenv
- El Capitan
- Ruby 2.3.1
- App Store distribution

[code]

We'll post updates here

**Update 1**: code signing works on this machi

[2016-10-12 23:23] humblehacker commented on #6499
I'm having the same issue.  This is my fastlane directory:
[code]

[2016-10-12 23:34] humblehacker commented on #6499
Odd, after manually adding in all the parameters from Matchfile, it's now prompting for `username`, which it never asked for before.  The only place in my fastlane configuration that I have a `username` defined is Deliverfile.

[2016-10-12 23:54] KrauseFx commented on #6495
File a radar, feel free to dupe https://openradar.appspot.com/28726736 👍

[2016-10-12 23:57] KrauseFx commented on #6520
I filed a radar https://openradar.appspot.com/radar?id=6119638534455296, feel free to dupe

[2016-10-13 00:17] KrauseFx commented on #6499
Can you pass the value from your Fastfile?

[2016-10-13 00:17] KrauseFx commented on #6236
Hey everyone, please follow the reply here: https://github.com/fastlane/fastlane/issues/6203#issuecomment-251627196

[2016-10-13 00:47] Douvi commented on #4301
I just try with the new version `1.105.2` and I do not see any issue 👍
Thanks all team fastlane

[2016-10-13 01:35] asfalcone commented on #6501
Thanks for raising this issue and opening the PR. I think your PR is a good idea and I can see why you'd want that functionality but I am more concerned about the fact that user fraction can't be 1.0! I wonder if this is a regression on the google API side or if this has never worked in _supply_.

Promoting from `alpha` to `beta` for 100% of people should be possible, so it is strange to get an er

[2016-10-13 02:29] bucengyongyou commented on #6425
i have tested a new created app
the same with @drakar4ik

[2016-10-13 03:31] humblehacker commented on #6499
I keep adding options into my Fastfile for match, but it just leads to more.  Now it gets to the scan stage, and is prompting me with:

[2016-10-13 05:17] jacobjiangwei opened #6522 "How to build IPA files without storing archivefiles in disk?"
Just curious, how to build this IPA file without saving big archieved files?
It's large, we want to avoid saving it.

[2016-10-13 05:47] belawaeckerlig commented on #6501
@TKBurner I could bring it up in my PR as well, but still not sure what would be a good value there. actually the value shouldn't matter since the API call should only clear the version codes for this track. So I will edit my PR to pass 0.1 here, since it should be ignored by the Google Play API anyway.

@asfalcone This is no regression. The staged rollout track only allows a few values, something

[2016-10-13 06:11] spirosoik commented on #6325
@TKBurner it's really possible I think I know the reason of the problem.

[2016-10-13 06:16] olarivain opened #6523 "Use Darwin Notifications for snapshots?"
This isn't an actual issue, more of a suggestion.
Reading through https://github.com/fastlane/fastlane/tree/master/snapshot#how-does-it-work, I'm wondering if you ever considered using darwin notification center to trigger the snapshot on the app side? If you did, what problem did you run into that made you go down the current way of grabbing screenshots?

In case you didn't, here's a good example

[2016-10-13 06:35] hjanuschka commented on #6519
its preffered to use manaul codesigning! - anyway its realy nice to have auto-signing for development.
we use the following plugin https://github.com/hjanuschka/fastlane-plugin-update_project_codesigning - to toggle signing on release build.

having the project set to automatic codesigning - so we can quickly run on device and simulator.
on ci/deployment we do -
[code]

wich sets the project back

[2016-10-13 06:44] hjanuschka commented on #6466
@summera  i had the idea some time ago: https://github.com/hjanuschka/cryptex
also did a PR to integrate keystore management into match (back in the days when fastlane was not mono-repo'd) -> https://github.com/fastlane-old/match/pull/88.

maybe we can stick together and workout the idea as a standalone tool (cryptex)? - as a multiplatform-match is not supposed to happen.

[2016-10-13 06:45] #5587 closed

[2016-10-13 06:52] Preau commented on #6499
Yes I'm having the exact same problem as @humblehacker.
I can keep adding parameters to the Fastfile but it should be able to read them from the corresponding files.

[code]

Just for completeness here is my fastlane directory tree.

[2016-10-13 06:59] belawaeckerlig commented on #6501
maybe it would also make sense to change the default value of the rollout option to 0.1 or 0.5. right now the default value is 1.0 but as this is no valid value it seems to be a bad choice

[2016-10-13 07:19] hjanuschka commented on #6522
not sure if it is possible - or atleast if its an easy one, to build ipa without having xcarchive, could'nt you just empty the archive folder, after `gym`

we do it on the ci machines with:

[code]

[2016-10-13 07:41] kmpnz commented on #6455
@TKBurner My observations so far: Screenshots and the metadata are getting uploaded. The Transporter kicks in and according to the logs the binary should be uploaded as well, but I can't find in itunesconnect afterwards, even after a while. Here is a log snippet:
[code]

[2016-10-13 08:24] kumariswarnim commented on #5066
Hi Todd,

Please find the output below:

Thanks,
Swarnim

[09:23:05]: -----------------------------

[09:23:05]: --- Step: update_fastlane ---

[09:23:05]: -----------------------------

[09:23:05]: Looking for updates for cert, credentials_manager, deliver,
fastlane, fastlane_core, frameit, gym, match, pem, pilot, produce, scan,
screengrab, sigh, snapshot, spaceship, supply...

Looking for relate

[2016-10-13 08:35] 0xced commented on #6454
I already started working on it and broke a lot of tests. 😁 The issue is definitely about the single scheme setup. I hope I'll have a working solution soon.

[2016-10-13 08:45] MattCheetham opened #6525 "Pilot: Need to specify -itc_provider error when supplying team name"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

Pilot is asking for itc_provider when trying to upload an app. We use Deliver and Pilot on a few of our apps on the same account but for some reason this one specific app refuses to submit and t

[2016-10-13 08:52] Wojcik commented on #6425
For me it's a 500 error and I can't see any of our apps for a 5-10 mins after uploading a new version **with an icon** for existing application.

[2016-10-13 09:06] biolinh commented on #6397
@TKBurner
No I dont,

Here is my gym file
[code]

[2016-10-13 09:21] gschwienbacher commented on #4301
@biolinh in reply to your [unanswered question](https://github.com/fastlane/fastlane/issues/4301#issuecomment-229225306):

I had a hard time to find out the iTunes Connect ids as well (thx apple for making this super hard to find out...), so I want to share my approach:

* Login to itunesconnect (https://itunesconnect.apple.com/)
* Get output (JSON) from (https://itunesconnect.apple.com/WebObjects

[2016-10-13 10:07] fotiDim commented on #5341
@TKBurner I am not a ruby guy but I would love to contribute. Let me see what I can do.

[2016-10-13 10:11] itleo31 commented on #6376
@Prabat is right. I can make it works on iPhone 6, but not for 7, 7+, SE. My snapshot version is 1.16.2

[2016-10-13 10:36] diaojunxian commented on #6351
@TKBurner Yes,I know the command `https://github.com/fastlane/fastlane/blob/master/spaceship/docs/iTunesConnect.md`,like this picture:
![spaceship](https://cloud.githubusercontent.com/assets/19700467/19346008/c71c20d2-9173-11e6-8f02-57e458a5acd4.png)

---
I want to know how to get scores and the assessment?

[2016-10-13 11:02] biolinh commented on #6400
in fastlane:
[code]

[2016-10-13 11:48] diaojunxian commented on #6351
@TKBurner Simply to say I want to know how to download financial and sale reports by spaceship

[2016-10-13 11:51] Sreilys commented on #6202
Same problem.. any new suggestions?

[2016-10-13 13:04] dombarnes commented on #6482
In my case, I'm running it inside /Users/domster83/workprojects/TrilbyTV-iOS/TrilbyTVPlayer, which contains the entire Xcode project, as well as fastlane/

The root of my git repo is /Users/domster83/workprojects/TrilbyTV-iOS

[2016-10-13 14:31] fcamaster commented on #6318
I tried again, and seems it has been fixed with the latest version. Thanks!

[2016-10-13 15:04] pixelrevision commented on #6203
Updating gems, cleaning and installing again worked for me macOS 10.12.

[2016-10-13 15:17] DBocksteger commented on #6519
@hjanuschka: is it also possible to give the "have to use" provisioning Profile within your Plugin? Or how will i get it set?

[2016-10-13 15:25] MaximusMcCann opened #6528 "download_dsyms(build_number) not downloading dSYMs"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

`download_dsyms(build_number: BUILD_NUMBER)` is not actually downloading the symbols.  I have checked iTunes connect and am able to "Download dSYM" on their site.

##### Complete output when r

[2016-10-13 15:38] #6528 closed

[2016-10-13 15:42] TKBurner commented on #6482
@dombarnes Can you provide a sample project with a fastfile and repro steps? This seems reproducible and I want to send this out to the core team. Thanks!

[2016-10-13 15:43] svintus opened #6530 "Unable to update release notes using deliver"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Suddenly updating release notes does not work anymore. To the best of my knowledge, I haven't changed anything / updated any gems since the last time I was able to upload release notes success

[2016-10-13 15:44] TKBurner commented on #6202
@Sreilys Thanks for following up on this. Do you run into this issue on all projects? Does the match repo contain your certificate? Have you run `match development` on this project before?

Thanks!

[2016-10-13 15:44] TKBurner commented on #6351
@diaojunxian I'm not sure there is an API endpoint for this. Have you been able to discover one?

[2016-10-13 15:46] TKBurner commented on #6400
@biolinh Can you share the full output? Also did it work previously on this project? Have you run `match development` yet for this project? Thanks!

[2016-10-13 15:49] TKBurner commented on #6376
@itleo31 Thanks for following up. I sent this out to the core team so we can all take a look. We'll update on this thread. Hope you have a great weekend coming up 👍

[2016-10-13 15:59] kd8ssq commented on #6455
Just this morning I've noticed when I try to create a new app in ITC using produce, it takes a very long time to create.  Most of the time my script times out, then I have to wait till I see the app created in ITC before I can continue.

`[11:49:02]: Waiting for the newly created application to be available on iTunes Connect...
[11:49:17]: Waiting for the newly created application to be available

[2016-10-13 16:26] TKBurner commented on #4301
@gschwienbacher Thanks for sharing your investigation! We're really happy to have you using _fastlane_. Hope that you have a great weekend coming up! 👍

[2016-10-13 16:47] allaire commented on #4150
I was getting this error sporadically. When you uncheck the "Include symbols" checkbox it does fix it.

But if you're like me and want the symbols to be sent to Apple, I found another strange fix: Unplug your phone from the Mac when submitting the archive to Apple.

[2016-10-13 16:54] TKBurner commented on #6397
@biolinh Are you using automatic or manual code signing in your build settings? Thanks!

[2016-10-13 16:56] TKBurner commented on #6425
@Wojcik @bucengyongyou @JustinJiaDev Thanks for following up. I sent this out to the core team, however this appears to be a behavior of iTC/API so I'm not sure we can change anything. Thanks!

[2016-10-13 16:59] maschall opened #6531 "[gym] for_lane support in Gymfile"
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

I work on a project with multiple schemes and configurations.  I'd like to be able to specify a configuration for gym in specific lane.

Example:

[code]

Appfile:

[code]

Gymfile:

[code]

I think this can apply to `

[2016-10-13 17:00] TKBurner commented on #6525
@MattCheetham Have you tried providing that parameter? It seems like this is the most viable workaround. We provide sane defaults but sometimes you need to manually set things. Thanks!

[2016-10-13 17:20] TKBurner commented on #5066
@kumariswarnim Are you using RVM or system ruby? Can you use ruby 2.3+?

[2016-10-13 17:27] TKBurner commented on #6522
Hi @jacobjiangwei right now it's not possible. I think @hjanuschka suggestion is a great one! Hope you have a great weekend coming up 👍

[2016-10-13 17:28] #6522 closed

[2016-10-13 17:28] kumariswarnim commented on #5066
I have tried installing ruby 2.3.0 with rvm but it gave the below error:

Warning, new version of rvm available '1.27.0', you are using older version
'1.26.11'.

You can disable this warning with:    echo rvm_autoupdate_flag=0 >> ~/.rvmrc

You can enable  auto-update  with:    echo rvm_autoupdate_flag=2 >> ~/.rvmrc

Searching for binary rubies, this might take some time.

No binary rubies availabl

[2016-10-13 17:38] hjanuschka commented on #6519
@DBocksteger, i am not sure if i understand your question.

you can toggle the codesigning setting back to Automatc after  you'r done.
e.g.:

[code]

or do you mean setting the `$(sigh.....)` - you only have to do this once.

[2016-10-13 19:48] Allansk2 opened #6533 "Code signing with Xcode 8"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
I have the latest version, but since I update the xcode to Version 8.0 (8A218a), the Automatically manage signing has been painful. When I ran "fastlane appstore", I got the fail to build error

[2016-10-13 20:17] humblehacker commented on #6499
@KrauseFx As a workaround, assuming the problem is due to a recent release, do you have any suggestions of version(s) to downgrade to?

[2016-10-13 20:49] jwilliams-handy commented on #6463
Hi @TKBurner, I just tried again while removing the slack action from that lane. I still received the same `IOError` at the conclusion of the `deliver` action

[2016-10-13 21:25] humblehacker commented on #6499
I've tracked this down to commit a28fde0d9e00a0d7c2a006a74aee37ed8b033921.  In my environment, when match is run by fastlane, the current directory (as checked by `Dir.pwd`) is one level up from where it should be, which is why none of the configuration files nor the project are found.  The offending line is fastlane/runner.rb:180.

I changed to `.` from `..` and I was able to get through most of

[2016-10-13 21:28] rogomantik commented on #6457
Tried to upload data to itunes connect (the screenshots are correctly sized)

[2016-10-13 22:20] humblehacker commented on #6499
Workaround:  Set `FORK_XCODE_WRITING` to `true` before running fastlane.  Like this:

```> FORK_XCODE_WRITING=true fastlane <yourlane>```

See https://github.com/CocoaPods/Xcodeproj/issues/426 for more details.

[2016-10-13 22:53] 0xced commented on #6454
So, I progressed a bit but I needed to make a change to fastlane_core (I added an `os_type` property to the `Device` class). So now, when I run `rake` at the root of the project, a lot of tests do not pass because of this error:
[code]

How can I run the tests with the local version of fastlane_core? Or should I first submit a PR for the change in fastlane_core, wait for a new release and then sub

[2016-10-13 23:56] Gawetaner commented on #6419
I just ran into this issue as well, uploading the same binary with the Application Loader works without problems.

[2016-10-14 00:13] KrauseFx commented on #6531
This looks good, however I think this requires a lot of changes in various code parts, which may lead to unexpected side effects. Did you look into how it's possible to change this?

[2016-10-14 00:13] KrauseFx commented on #6525
Is there any way for _fastlane_ to detect this value automatically? Sorry, I don't have an account handy that requires this parameter

[2016-10-14 00:14] KrauseFx commented on #6499
Can you share your `fix_user_schemes` code? I assume you change the directory there, but never go back?

[2016-10-14 00:19] breakline87 opened #6538 "Screengrab does not work on Windows"
Tried to install screengrab, when I run it I get this error:

C:/Ruby23-x64/lib/ruby/site_ruby/2.3.0/rubygems/core_ext/kernel_require.rb:55:in `require': cannot load such file -- pty (LoadError)
	from C:/Ruby23-x64/lib/ruby/site_ruby/2.3.0/rubygems/core_ext/kernel_require.rb:55:in `require'
	from C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/fastlane_core-0.52.1/lib/fastlane_core/itunes_transporter.rb:1:

[2016-10-14 02:01] diaojunxian commented on #6351
@TKBurner sorry,I need trouble you again,I don't know how to slove it,can I add a new requirement about the situation?

[2016-10-14 02:16] choiks14 opened #6539 "does not support iphone 7 in frameit?"
### New Issue Checklist

- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] Updated fastlane to the latest version

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Configuration Files

Please copy the complete content of your `Fastfile` and any other conf

[2016-10-14 02:25] diaojunxian commented on #6351
@TKBurner  sorry,I need trouble you again,when I create Fastfile,and in the file wrote like this
[code]
then carry out the command`fastlane test --verbose`,it reports below
[code]
@TKBurner Can you help me? I can how to modify my script?

[2016-10-14 02:41] KrauseFx commented on #6454
@0xced to run it locally, you can make use of the `Gemfile`:

Currently it looks like this:
[code]
To use your local version of `fastlane_core` update it to

[code]
and run `bundle install` or `bundle update`

[2016-10-14 02:57] xserver commented on #5190
[code]

@punksta
[code]

Fastlane must run in ruby 2.0 ?
I need install ruby 2.0 ?

[2016-10-14 03:16] #5889 closed

[2016-10-14 04:01] biolinh commented on #6400
@TKBurner
First of all, I haven't run match development before because we only use app-store.
Secondary, when I on run match appstore in command line, It shows that our cert is not available on the Developer Portal although it still in our Developer Portal
[code]

[2016-10-14 04:28] DBocksteger commented on #6519
@hjanuschka: Currently i have the manual setting shown above. If i'd understood you right, with using your Plugin i could leave this setup as automatically.

But how will i set up the manual set profiles then within the lane? Will the profiles stay set up gor manual after switching back to automatic signing?

[2016-10-14 05:54] 0xced commented on #6454
But should I submit a PR with the Gemfile using the local fastlane_core? Because if I don’t, the tests will not pass.

[2016-10-14 05:59] hjanuschka commented on #6519
the set profiles - will remain even if you toggle the auto/manual using the plugin - as the "auto" is just a property inside the xcodeproj.

not sure if this is true if you toggle via xcode itself tbh

![](https://cloud.githubusercontent.com/assets/2891702/19338771/756fa2da-911f-11e6-9b1b-3bb28dce2e41.png)

[2016-10-14 05:59] hjanuschka commented on #6244
@mathiasAichinger  can we close this issue?

[2016-10-14 06:55] Sreilys commented on #6202
Thanks for reply back. I want to say that I am pretty new with the topic, so it could be that I do something wrong somewhere.
Is a cordova project. My match repo contains the certificate and I've nuked and match again, and the match step works fine.
The pilot step fails with the error above, yesterday I was able to upload with xcode to iTunesConnect, but I would love to do the process with fastlan

[2016-10-14 07:47] hjanuschka commented on #6530
try removing `--skip_metadata` - i think this skips the release notes too. see https://github.com/fastlane/fastlane/blob/485199c8757113f2fdd1eee3448a0e0f3cd6d4e7/deliver/lib/deliver/upload_metadata.rb#L20

[2016-10-14 08:01] Preau commented on #6499
I seem to have the exact same issue as @humblehacker, also using `Xcodeproj::Project`.

Prepending my command with `FORK_XCODE_WRITING=true` seems to work for me as well.

Here is my fix_user_schemes.rb

[code]

[2016-10-14 09:01] hjanuschka commented on #6533
[code]

has a parse error because of `xcodebuild` btw. you could do it like this, `clean: true` does the clean

[code]

[2016-10-14 09:02] mortenholmgaard commented on #6353
@KrauseFx pleases add this info `~/Library/Logs/gym/<app_name>.log` in the error messages gym/fastlane is showing.

[2016-10-14 09:16] katunch commented on #1199
Hi
I'm struggling with the same issue. I have an Apple ID which is a part of an enterprise account. So no iTunes Connect is available. I'm forced to do the `fastlane init` by hand and create the files manually.

It would be a great feature to skip the iTunes Connect setup for enterprise Apps.

[2016-10-14 10:00] Antoine4011 opened #6541 "Match doesn't repair invalid provisioning profiles"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

If my provisioning profiles gets invalid, when running match it should detect it and then re-generate the provisioning. Instead it's telling me everything is okay.
##### Complete output when run

[2016-10-14 10:07] brunobrunkow commented on #338
Obligatory macOS Sierra update:

`gem install nokogiri -v '1.6.8' -- --use-system-libraries=true --with-xml2-include=/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.12.sdk/usr/include/libxml2`

Don't forget to update your developer tools first:

`xcode-select --install`

[2016-10-14 10:14] igorstimoli commented on #6455
@TKBurner

still having the same issue.
I feel confident to confirm it doesn't depend on submission_info settings.
The problem is definitely on deliver submit_for_review step
Here is the output of my last try

[code]

[2016-10-14 12:03] breakline87 commented on #6538
I'm not sure about that, I can try. Documentation does not mention Windows at all, I assumed because it's OS independent.

[2016-10-14 13:39] ChrisVolentine commented on #6455
I've been having the having this same issue the past 2 days. I forgot to save my output, but it's identical to @igorstimoli above. The ipa successfully uploads and then fastlane fails.

I also noticed that when I try to view the app in ITC I get a 500 error saying "We can't process your request." After about 30 minutes of waiting it finally stops throwing the error in ITC.

Attached the report.xml

[2016-10-14 13:46] bootstraponline opened #6543 "Support Xcode 8 build-for-testing & test-without-building"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Xcode 8's new test commands are not supported.

[code]

[code]

See the [wwdc presentation for details](http://shashikantjagtap.net/wwdc-2016-continuous-integration-with-xcode-server-and-xctes

[2016-10-14 13:59] Azenet opened #6544 ""Missing Push Notification Entitlement" with sigh"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Hi,

I am trying to build a Cordova/Ionic app on a headless Mac but I am running into a lot of issues. I managed to use `match` and `sigh` to sign my application, however when it's uploaded to

[2016-10-14 14:41] sschendel commented on #6501
@belawaeckerlig Your PR makes sense.  I have never used the rollout track Play feature.  The hardcoded value of 1.0 was used to express 100% of users should be updated (the effect of using tracks other than rollout).  Perhaps a check could be added to not allow track option `rollout` when option promote_to is also included?  I'm not sure it makes sense to promote from `rollout`.

[2016-10-14 14:47] cdunkel commented on #6455
I've been seeing the problem for about as long as @ChrisVolentine.  It's nice to know that I'm not alone, haha.

Unlike some of the other people in this thread I'm only seeing the error in the `produce` phase of the lane, not `deliver`.  I have yet to have a problem uploading the binary, but about every 15-45 minutes my `deliver` step fails with the same error listed above.

Just for reference, th

[2016-10-14 14:58] belawaeckerlig commented on #6501
@sschendel I tmakes totally sense to promote from track `rollout` to track `rollout` but with an increased `rollout` value :D that sounds confusing I know. But this is useful if you would like to increase the staged roll-out, so for example for the first day you want to set it to 10% and the next day if everything is fine, you want to increase it to 20% etc.

And just for clarification a small exp

[2016-10-14 15:15] sschendel commented on #6501
@belawaeckerlig I see what you are saying w.r.t. promoting from track `rollout` (i.e. staged roll-out track) to track `rollout`.  The supply option `rollout` perhaps would be better named `user_fraction`.  Using default 1.0 was a bad choice, since it is an invalid value when using the staged roll-out track.  I used it because - as you describe in your clarification of tracks - options 1, 2, and 3

[2016-10-14 16:17] bootstraponline commented on #6543
I added support using a custom action. Might be helpful to someone looking to add this feature directly in gym/scan.

[code]

[code]

[2016-10-14 16:55] hjanuschka commented on #6544
starting with xcode8 entitlements in provisioning profiles are not required - they are in the projects `.entitlement` file  - go to your xcode project in the app target  and check that the push capability is enabled - mabye you have to toogle it off & on.

![bildschirmfoto 2016-10-14 um 18 53 16](https://cloud.githubusercontent.com/assets/2891702/19395762/8fd732ac-923f-11e6-92c5-2544662b87cf.png)

[2016-10-14 16:58] hjanuschka commented on #6543
you could use gym already for that
[code]

[2016-10-14 17:05] bootstraponline commented on #6543
Awesome. I assume scan has xcargs support for test-without-building? If so then I can close this issue.

[2016-10-14 17:08] hjanuschka commented on #6543
@bootstraponline  untestet but should be possible - see https://github.com/fastlane/fastlane/blob/master/scan/lib/scan/options.rb#L138
let me know if it worked.

[2016-10-14 17:10] bootstraponline commented on #6543
cool, will test it out and I'll report back.

[2016-10-14 17:11] mfurtak commented on #6278
Hi @klundberg - thanks for the report 👍

We were [seeing some other problems](https://github.com/fastlane/fastlane/issues/6330#issuecomment-253077262) related to directory changing where `xcodeproj` was involved. As noted there, can you see if it is still a problem after updating to `xcodeproj` 1.3.2?

[code]

Thanks!

[2016-10-14 17:20] quenbob commented on #6278
I've been experiencing an issue with xcodeproj 1.3.2 and fastlane 1.105.2 when calling the update_app_identifier action.

I'm calling the following actions

    update_project_team()
    update_app_identifier()
    update_info_plist()
    gym()

And I get following error message with update_info_plist()

Error setting value '*****.xcodeproj' for option 'xcodeproj'
You passed invalid parameters to

[2016-10-14 17:21] quenbob commented on #6278
Note: I also tested by removing the update_app_identifier and the gym started to compile the project.

[2016-10-14 17:30] mfurtak commented on #6308
`fastlane bundle exec snapshot reset_simulators` is not a good command to run :smile:

If they were running `bundle exec fastlane snapshot reset_simulators`, then the `return if ENV['BUNDLE_BIN_PATH']` check would prevent the warning message from being shown.

This message is a bit strange, but that's because it got strange input to start with. I'm not sure there's anything to fix here.

[2016-10-14 17:32] #4295 closed

[2016-10-14 17:54] allaire commented on #6520
@KrauseFx About **Update 4** if you disable "Submit symbols", how do you handle Bitcode Regeneration? Is it deactivated as well?

I asked a question relatated to this not so long:
http://stackoverflow.com/questions/39843221/xcode-bitcode-include-symbols-settings-effect-on-dsym-generation

@mattmassicotte (also from the Fabric team), strongly suggested to submit the App Symbols to Apple 😄

[2016-10-14 18:27] bootstraponline commented on #6543
Scan does not work.

[code]

[code]

Also destination isn't respected properly, scan complains about a missing device.

[code]

[2016-10-14 18:32] mfurtak commented on #6278
I'm reproducing this locally now, and I think I see what @klundberg was saying. `xcodeproj` **1.3.2** exhibits this problem for me, but **1.3.1** does not.

@quenbob - if you do:
[code]

Do things start to work?

[2016-10-14 18:36] mfurtak commented on #6289
Hi folks 👋

We're seeing other seemingly related trouble for people using actions like `update_app_identifier` that delegate to `xcodeproj`.

Can you confirm what version of `xcodeproj` you have installed by running
[code]

Thanks!

[2016-10-14 18:36] bootstraponline commented on #6543
xcodebuild works for both build-for-testing & test-without-building so closing.

[code]

[2016-10-14 18:36] #6543 closed

[2016-10-14 18:51] klundberg commented on #6278
Xcodeproj 1.3.1 fixes the later issue I've seen where the actions themselves fail, but the original bug encountered by running the lane I added is still an issue. Before either action is run, ruby reports the current directory as `myProjectPath/fastlane`, but after either runs (which goes thru xcodeproj), the current directory is `myProjectPath` which breaks later assumptions in my fastfile that h

[2016-10-14 19:27] KrauseFx commented on #6454
@0xced Oh, sorry I misunderstood. To make the tests pass, you need to submit multiple PRs, one per tool. We're gonna have to merge _fastlane_core_ first, then do a release, and only after that the build will pass 👍

[2016-10-14 19:54] AnthonyMDev opened #6551 "Could not find action or lane 'book' when using imported Fastfile"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

I have a `Fastfile` that is importing another `Fastfile`. I get the following error when I try to do any action.
##### Complete output when running fastlane, including the stack trace and comman

[2016-10-14 20:24] svintus commented on #6530
Okay, I guess I did accidentally update fastlane at some point;

`deliver --skip_screenshots --skip_metadata =release_notes`

was literally the command that worked for me last time I updated metadata.

I had to remove `--release_notes` as well, so I ended up with

`fastlane --skip_screenshots --skip_binary_upload`

which worked. Thanks!

[2016-10-14 20:24] #6530 closed

[2016-10-14 20:37] rstupek opened #6552 "Make Supply work with the same directory structure as Produce"
### New Issue Checklist
### Issue Description
##### Complete output when running fastlane, including the stack trace and command used

supply uses a different data structure than product making a single directory impossible.

[code]

[2016-10-14 20:58] KrauseFx commented on #6244
Yeah, thanks @hjanuschka 👍

[2016-10-14 20:58] #6244 closed

[2016-10-14 21:04] thecb4 opened #6553 "Connection reset by peer"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### While attempting to use match in my workflow, I am getting a "connection reset by peer error.

##### Complete output when running fastlane, including the stack trace and command used

[code]

[code]

### Configu

[2016-10-14 21:07] johnryan commented on #6553
The same just started happening for me, i've tried several things based on previous answers (reinstalling openSSL for instance) but no luck yet.

[2016-10-14 21:12] thecb4 commented on #6553
Ok.  I feel sane now.  It was fine yesterday and now it doesn't like me.

[2016-10-14 21:12] KrauseFx commented on #6308
Yeah, agreed, let's close this 👍

[2016-10-14 21:12] #6308 closed

[2016-10-14 21:13] klundberg commented on #6553
This started happening earlier today for us with cert as well, so it may not just be match with the problem

[2016-10-14 21:14] lukethoene commented on #6553
Yep, it's happening during sigh for us

{:DEFAULT_PLATFORM=>:ios, :PLATFORM_NAME=>:ios, :LANE_NAME=>"ios publisher"}
[14:13:32]: Connection reset by peer - SSL_connect

[2016-10-14 21:16] pcsaito commented on #6553
Same here, after cleaning all profiles it worked only once

INFO [2016-10-14 18:13:56.53]: Verifying that the certificate and profile are still valid on the Dev Portal...
INFO [2016-10-14 18:14:15.98]: 🔒  Successfully encrypted certificates repo
WARN [2016-10-14 18:14:15.98]: Variable Dump:
INFO [2016-10-14 18:14:15.98]: {:DEFAULT_PLATFORM=>:ios, :PLATFORM_NAME=>:ios, :LANE_NAME=>"ios certificates

[2016-10-14 21:26] jshier commented on #6278
I've been seeing this and was able to workaround it by resetting the various paths using `File.expand_path`. i.e. `ENV["GYM_WORKSPACE"] = File.expand_path("Project.xcworkspace")`.

[2016-10-14 21:32] cava23 commented on #6553
+1

[2016-10-14 21:33] aronse commented on #6553
+1

[2016-10-14 21:36] raphaelbaldi commented on #6553
+1

[2016-10-14 21:37] gaylejj commented on #6553
Having this issue with "fastlane init" as well when it tries to use produce to create an app

[2016-10-14 21:46] bruno-rocha-movile commented on #6533
Having the same problem after updating fastlane and xcode. Unfortunately @hjanuschka 's solution did not worked for me :(

[2016-10-14 21:54] craigho commented on #6553
+1 -- apple issue?

[2016-10-14 21:57] mofojed commented on #6553
+1

[2016-10-14 22:01] GlaucoNeves commented on #6553
+1

[2016-10-14 22:03] dpassage commented on #6553
So we've discovered that this failure occurs if you use the system Ruby, i.e. /usr/bin/ruby, on OS X 10.11.6. Using Ruby 2.3.0 installed via RVM, this works fine.

[2016-10-14 22:25] davidgovea commented on #6553
Thanks @dpassage! Installed ruby 2.3.0 via RVM, reinstalled fastlane gem, and we're up and running again.

[2016-10-14 22:27] rvi commented on #6553
Same here, I _just_ update my ruby version via `rbenv`:

[code]

Then you may need to modify your `.bash_profile` or `.zshrc` if you use zsh.
Add these 2 lines:
[code]

It should work after a reboot :)

[2016-10-14 22:30] dpassage commented on #6553
I haven't dug into this further, but I'm guessing that Apple changed what SSL ciphers are acceptable on the dev portal to something not used by default by the system ruby.

[2016-10-14 22:34] gaylejj commented on #6553
@dpassage Thanks a lot! Seems to be working great now.

[2016-10-14 22:47] zineer commented on #6553
Thanks for the fix!
[code]
got me back in business

[2016-10-14 23:05] 0xced commented on #6454
OK, so here’s the first PR: **[fastlane_core] Add an `os_type` property to the `Device`** class #6555.

[2016-10-15 00:10] dpassage commented on #6553
It appears that https://developer.apple.com is no longer accepting TLS versions below 1.2:

[code]

Unfortunately, it appears that the system ruby on El Capitan doesn't support 1.2. :(

@KrauseFx looks like `spaceship` and thus `match` now have a dependency on newer versions of ruby :(. Or some major surgery to make `faraday` use a different SSL library.

[2016-10-15 02:15] jeffreyjackson commented on #6112
Any update on this one?

[2016-10-15 04:21] zineer commented on #6455
I put together a ruby script that uses Spaceship to finish submitting an app for review if the deliver fails right after upload as it seems to for most of us.
https://gist.github.com/zineer/17a516aeebc16cd731190f26184d01e2
You'll need to make at least a few tweaks to match your purposes including
- replace your email into line 56
- change the submission properties on lines 73-87 to match your `sub

[2016-10-15 08:10] JotaMelo commented on #6553
It started happening this afternoon for me, @zineer saved the day.

[2016-10-15 08:49] belawaeckerlig commented on #6501
ok, then I will change the default value in the PR as well. But I'm not sure when I will have time to do it, I hope at the beginning of next week ;)

Regarding the name of the `rollout` option, should I create a new `user_fraction` option and deprecate the old one or how do you handle such changes to ensure backwards compatibility? Or should I not change it at all?

[2016-10-15 09:37] tadelv commented on #6514
@TKBurner @chenxiao0228 check my pull request: #6542 if it fixes your problems. Thnx! :)

[2016-10-15 10:12] rajasekaranm opened #6556 "Getting -- pty (LoadError) when call "fastlane init" in windows for android"
D\>fastlane init
C:/Ruby23-x64/lib/ruby/2.3.0/rubygems/core_ext/kernel_require.rb:55:in `require'
: cannot load such file -- pty (LoadError)
        from C:/Ruby23-x64/lib/ruby/2.3.0/rubygems/core_ext/kernel_require.rb:55
:in `require'
        from C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/fastlane_core-0.52.1/lib/fas
tlane_core/itunes_transporter.rb:1:in `<top (required)>'
        from C:/Ruby23-x64

[2016-10-15 10:39] 15828881249 opened #6557 "刘新磊"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Configuration Files

Please copy the complete content of your `Fastfile` and any other conf

[2016-10-15 10:39] 15828881249 commented on #6557
刘新磊

[2016-10-15 10:39] 15828881249 commented on #6557
刘新磊

[2016-10-15 10:40] 15828881249 commented on #6557
刘新磊

[2016-10-15 13:15] masteranza commented on #6519
So how do I tell gym to use the right provisioning profiles without ever opening xcode?

[2016-10-15 13:32] DBocksteger commented on #6519
@jhanuschka @masteranza this is also my question! How to set the right Profile without using Xcode?

[2016-10-15 13:55] pedro380085 commented on #6553
+1

[2016-10-15 14:34] destructionglacialcyclicalperplexing opened #6558 "Fastlane from interactive terminal crashes and claims non-interactive mode"
### New Issue Checklist

- [X ] Updated fastlane to the latest version
- [X ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Unable to run any commands that require input from the terminal. They all fail with the same error. Commands tried are: `bundle exec fastlane init` `match init` `match change_password` `pem`

[2016-10-15 14:42] thecb4 commented on #6553
Configuring for a different Ruby/Bundle took a lot of effort for some reason.  Would be good to get some clean instructions.

[2016-10-15 15:42] destructionglacialcyclicalperplexing1 commented on #6558
Fixed by putting `sudo` before every command but not sure why that works

[2016-10-15 16:27] erikjthomas opened #6559 "environment setup question"
### New Issue Checklist
- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Issue Description

Is anyone using eclipse with Ruby DLTK plugin? Creating fastlane dev project, downloaded latest fastlane zip. The Ruby plugin is tagging 377 errors related to syntax errors on colons. Using ruby

[2016-10-15 16:35] diaojunxian commented on #5343
@marbetschar HI,I also would like to get our app report from itcunes connect with the help spaceship,and I  don't know how to achive ,and you can see my StackOverflow post `http://stackoverflow.com/questions/40060147/how-to-login-to-itunes-and-use-requests-to-download-our-apps-unofficial-documen`,
Do you have achive it?Can you help me?Thanks a lot.

[2016-10-15 17:12] Onejjy opened #6560 "Inappropriate update messages when executing with Bundler"
When we use an outdated version of a gem, we got this message (from `UpdateChecker`):
[code]

But when we are in a Bundler environement (like with `bundle fastlane myLane`), this message is not appropriate. It should end with something like:
[code]

Also, we sometimes (1 in 5 cases) have this message (which is not appropriate in Bundler environment):
[code]

So, if it's OK for you, I have a PR to

[2016-10-15 17:15] webpolis commented on #5421
I'm getting same issue since days ago

[2016-10-15 17:35] hjanuschka commented on #6519
ok now i got the point - could you guys give this one a try:

add a new Lane:
[code]

Now call before doing gym:
(you could leave `build_configuration`, and `target_filter` unset, then all targets and all configurations will be set to the value given in `prov_name`

[code]

the code is mostly ripped out of `update_project_provisioning` - but adopted for the new `PROVISIONING_PROFILE_SPECIFIER`  -

[2016-10-15 18:45] Nimothy commented on #6553
Tried updating ruby:
`ruby 2.3.1p112 (2016-04-26 revision 54768) [x86_64-darwin16]`

Still getting the same error, only happened after I ran:
`bundle update`

[2016-10-15 18:57] hjanuschka commented on #6533
have you guys checked what your provisionig profile is set under the release configuration?
it should be something like `$(sigh_krone.at-fivexfive_appstore_profile-name)`  (hint: `sigh` prints out the whole name)

and codesigning should be set to manual (or using the plugin toggled to manual, if not already

![bildschirmfoto 2016-10-15 um 20 56 58](https://cloud.githubusercontent.com/assets/289170

[2016-10-15 19:03] hjanuschka commented on #6519
there is also an ongoing PR https://github.com/fastlane/fastlane/pull/6529 -> trying to add the functionality directly to gym itself.

[2016-10-15 19:22] hjanuschka commented on #6553
have you guys tried:

[code]

[2016-10-15 19:33] Antondomashnev opened #6562 "[Action/Plugin] download the GitHub release's asset"
Hi there, recently for my `lane` I had to download the asset from GitHub release on the hard disk and do some work with it. To do so, I've implemented the custom action and I think this one can be also useful for the community. However, I have a concern whether that can be useful enough to be a new action in `fastlane` or it's better to release it as a plugin.

Pros to make it an action: there is

[2016-10-15 20:12] DBocksteger commented on #6519
This looks great @hjanuschka ! I'll give it a try tomorrow :-) Thanks for your patience :-)

[2016-10-15 20:31] DBocksteger commented on #6519
@hjanuschka what have I to do to get you plugin `update_project_automatic_codesigning` working?
<img width="598" alt="bildschirmfoto 2016-10-15 um 18 42 01" src="https://cloud.githubusercontent.com/assets/1019812/19413203/101b74d6-9327-11e6-914f-1a5b89eca724.png">

[2016-10-15 20:45] DBocksteger commented on #6519
@hjanuschka you wrote `update_project_automatic_codesigning` above, did you mean `update_project_codesigning`? The mentioned by you one didn't work for me. I also answered a path related issue on you plugin :-)

[2016-10-15 20:55] hjanuschka commented on #6519
damn ! was a typo - the right one is `update_project_codesigning`  -> https://github.com/nspro-vesta/fastlane-plugin-update_project_codesigning

[2016-10-15 21:14] DBocksteger commented on #6519
@hjanuschka no problem :-)

I've got the two signing tasks running:
[code]

But this would be too easy to have no problems now. :D

[code]

This has not happened with the profile set up manually in the project. :-/

[2016-10-15 21:18] hjanuschka commented on #6519
are you sure that the set provisioning_specifier in `update_provisioning_profile_specifier` exists on this machine? - to quickly check this, open xcode go to "Build Settings" search for "signing"
and open the dropdown on "Release" of Provising profile - if the right profile is installed it should be listed there, double check that there is no "space" inbetween of `update_provisioning_profile_speci

[2016-10-15 21:20] hjanuschka commented on #6519
also it would be nice to post the last 100 lines or so of the gym build log.

[2016-10-15 21:26] DBocksteger commented on #6519
Currently getting this... Will try to fit it tomorrow. :-) Any advice, what could be the reason to this?

[code]

[2016-10-15 21:28] hjanuschka commented on #6519
yeah com.dbocksteger.ToWoo AppStore does not include your developer cert - as it says.
cert/sigh - to redo your signing identity - maybe you need a nuke/force.
you probably should give `match` a try for managing signing identitys inside a git repo :)

[2016-10-15 21:31] hjanuschka commented on #6562
can you integrate it into existing `get_github_release`?  - if not, i personally would go for the plugin - and see if it gets some traction  to probably evolve into core.

[2016-10-15 21:57] nthegedus commented on #6553
No one of this methods above worked with me =\

I still getting the "Connection reset by peer - SSL_connect" message

[2016-10-16 08:01] DBocksteger commented on #6519
@hjanuschka I've set all entries now to my distribution cert manually in Xcode. Is this also possible via a lane to automate this process?

<img width="735" alt="bildschirmfoto 2016-10-16 um 10 00 05" src="https://cloud.githubusercontent.com/assets/1019812/19416079/6eae74ac-9387-11e6-8372-779c353797b5.png">

[2016-10-16 08:01] DBocksteger commented on #6519
Now it is working

[2016-10-16 08:28] DBocksteger commented on #6151
@jaleksynas @KrauseFx Where/How should I set `FASTLANE_ITUNES_TRANSPORTER_USE_SHELL_SCRIPT=1`? Don't know where this should be added?

[2016-10-16 10:18] hjanuschka commented on #6519
@DBocksteger the `update_project_team` action should do it.
and btw. i strongly recommend you to read the codesigning guide, and use `match` with `$()` inside xcodeproject - its a lot easier than fiddeling  arround with the xcodeproj directly.

[2016-10-16 10:21] hjanuschka commented on #6519
@DBocksteger  my last post was about setting the dev team - to set the signing identity - you can set it one time fixed to `iPhone Distribution` - or you specify it on gym with `xcargs` (e.g.: `xcargs: 'CODE_SIGN_IDENTITY="Helmut Januschka"'

[2016-10-16 11:28] besi opened #6564 "Summary Improvements: Show build version and itunesconnect URL (if available)"
### Issue Description

I just uploaded a build and it failed (This is not the focus of this issue). However, so now I want to check if the build was uploaded to itunesconnect. So I think it would be very handy to have the version and the itunes connect URL (if available) displayed in the summary.

Especially the version / build number is a key value when dealing with depoloyments.

[2016-10-16 11:30] besi commented on #6419
I just uploaded a binary too and ran into the same issue. However, after a few minutes Testflight informed me that the version was ready for testing. So in the background the build seems to have processed just fine.

[2016-10-16 12:15] #5535 closed

[2016-10-16 14:41] adrum commented on #6151
@DBocksteger You can create a `.env` file in your fastlane folder and then place `FASTLANE_ITUNES_TRANSPORTER_USE_SHELL_SCRIPT=1` in there.

[2016-10-16 15:19] JonasWestAlro commented on #6553
+1

[2016-10-16 15:40] callmephilip opened #6565 "Match and max number of Distribution certificates"
### New Issue Checklist

- [+] Updated fastlane to the latest version
- [+] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

With match generating new certificates for every app bundle id, I soon reach a limit on the max number of distribution certificates (3). What are the best practices to work around this limitat

[2016-10-16 15:54] rompic commented on #6553
+1

[2016-10-16 17:11] KrauseFx commented on #6565
The distribution certificate will be re-used automatically across all your apps 👍

[2016-10-16 17:11] #6565 closed

[2016-10-16 17:12] KrauseFx commented on #5421
@webpolis Have you tried https://github.com/fastlane/fastlane/blob/master/fastlane/docs/FAQs.md#im-getting-an-ssl-error

[2016-10-16 17:13] KrauseFx commented on #6556
Windows is not supported by fastlane yet, sorry.

[2016-10-16 17:13] #6556 closed

[2016-10-16 17:13] #6557 closed

[2016-10-16 17:16] KrauseFx commented on #6560
Hey @Onejjy, great idea, I'd love to see a PR for this 👍 The first message should be updated, and the second one shouldn't be shown at all when using bundler.

[2016-10-16 17:48] callmephilip commented on #6565
This is not the behavior I am seeing with match (0.8.1). Running ```match appstore``` given the current Matchfile

[code]

Creates a new "Production certificate" in addition to a previously created one used by another Matchfile (different app_identifier)

[2016-10-16 17:55] callmephilip commented on #6565
To clarify, I've used 2 different repositories in both cases, which is probably why 2 different certs were generated. Am I expected to use the same repo across multiple projects?

[2016-10-16 18:38] hjanuschka commented on #6565
i am using one repo for more than 10 apps and did'nt have a issue with the 3 availaible certs.

[2016-10-16 18:39] lifuzu commented on #6553
@zineer way works for me, thanks!

[2016-10-16 19:39] pascalc commented on #6553
After using `rbenv` to update ruby to version 2.3 and reinstalling `fastlane`, I had to do `bundle exec fastlane` for it to work again.

[2016-10-16 20:24] JimHowell20 commented on #6553
+1

[2016-10-16 20:25] JimHowell20 commented on #6553
+1 none of the fixes have worked so far for me

[2016-10-16 20:38] thecb4 commented on #6553
Seems to work for me

[code]

[2016-10-16 20:47] thecb4 opened #6567 "Testflight fails with little description, able to upload ipa through XCode"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
### Testflight fails with little description why.  I am able to upload the ipa file through Xcode.
##### Complete output when running fastlane, including the stack trace and command used

[code]
### Configuration File

[2016-10-16 20:58] Antondomashnev commented on #6562
@hjanuschka thanks for the response, I think the idea to create a plugin and then track the usage is the most reasonable. So here we are [plugin](https://github.com/Antondomashnev/fastlane-plugin-download_github_release_asset).

[2016-10-16 20:58] #6562 closed

[2016-10-16 22:22] AliSoftware opened #6570 "[Internal] Pin rubocop version to avoid inconsistencies between machines"
In order to avoid inconsistencies when running `rubocop -a` from different machines (especially a contributor's Mac vs. the CI) we should ensure everybody uses the same version of `rubocop`

### What Happened

* Earlier, before submitting a new PR, I ran `rubocop -a` locally on my code changes, and there were no offenses detected.
* But then when I submitted the PR and Circle-CI started checking t

[2016-10-16 22:50] chenxiao0228 commented on #6514
@tadelv @TKBurner I checked and it fixes the problem. Sorry I should have done it myself.

[2016-10-17 00:17] thecb4 commented on #6567
I am going to close this one myself.  In the instructions it reads that testflight is an alias for pilot, but testflight does not work, while pilot does.  Changing the function from testflight to pilot.

[2016-10-17 00:31] KrauseFx commented on #6565
You have to use one repository, otherwise it can't find the existing certificate. Have you read the guide on https://codesigning.guide?

[2016-10-17 00:32] KrauseFx commented on #6562
Thanks for building and sharing this plugin  🚀

[2016-10-17 00:39] KrauseFx commented on #6570
Hey @AliSoftware, thanks for submitting and describing this issue. I agree the version has to be locked, and I thought we did so with https://github.com/fastlane/fastlane/blob/master/fastlane/fastlane.gemspec#L73.
Did you run `rubocop` using `bundle exec rubocop`?

However we should also update to the latest version of `rubocop`, I missed their new releases.

[2016-10-17 01:00] KrauseFx commented on #6567
Could you try changing this again? Both actions should be the exact same thing

[2016-10-17 01:12] thecb4 commented on #6567
Seemed to only work once.  Now pilot is giving me the same error as testflight

[2016-10-17 01:12] thecb4 commented on #6567
ERROR [2016-10-16 21:11:04.98]: {"data"=>nil, "messages"=>{"warn"=>nil, "error"=>["Unexpected Error"], "info"=>nil}, "statusCode"=>"ERROR"}

[2016-10-17 02:25] KrauseFx commented on #6567
Yeah, so it's not related to the actual action, but the underlying implementation

[2016-10-17 02:38] cybertk commented on #6057
@hjanuschka You solution is good. But it requires a lot of pre-setup before using **match**, especially on a clean CI environment. If **match** has capability to catch those setup scripts, our life will be more easier.

[2016-10-17 05:10] marbetschar commented on #5343
@diaojunxian we ditched the reporting feature for iTunes Connect for the moment. But you may want to give the Apple Reporter Tool a try:

http://help.apple.com/itc/appsreporterguide/#/itcbe21ac7db

[2016-10-17 05:26] diaojunxian commented on #5343
@marbetschar I konw the reporter.jar but I still can not get the scores and user evaluation
from itc,how can I solve it

[2016-10-17 06:19] fuchanghuan commented on #6553
@zineer works for me,Thanks.

[2016-10-17 06:29] getreup commented on #6553
+1

none of the steps above have helped.

[2016-10-17 06:33] DBocksteger opened #6574 "BCSymbolMaps is not included"
### New Issue Checklist
- [x] Updated fastlane to the latest version
- [x] I have read the Contribution Guidelines
### Issue Description

I'm telling gym to include bitcode symbols (BCSymbolMaps dir) into the resulting .ipa, but it isn't including this directory into the .ipa

Furthermore I have 3 schemes (AppName, AppName AdHoc and AppName App Store), passing "AppName App Store" to scheme paramet

[2016-10-17 06:44] DBocksteger opened #6575 "ITMS-90167: "No .app bundles found in the package""
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

We're running fastlane on macOS Sierra with Xcode 7.3.1 and are currently getting the following error while trying to upload our binary.

Is there any possible workaround within fastlane to ge

[2016-10-17 06:51] DBocksteger commented on #6575
Seems to be duplicate of https://github.com/fastlane/fastlane/issues/5807 => Can be closed.

[2016-10-17 07:15] hjanuschka commented on #6575
@DBocksteger  you should see the close issue button (as you are the creator)

[2016-10-17 07:20] marbetschar commented on #5343
@diaojunxian unfortunately I can't help you out here. To provide more insights I have to digg into the topic too - and as I'm short of time that's currently only possible, if you are interested in some sort of payed support. Sorry for not having better news for you.

[2016-10-17 07:20] #6575 closed

[2016-10-17 07:26] diaojunxian commented on #5343
ok,I don't have any ideas now

[2016-10-17 07:34] AliSoftware commented on #6570
Ah maybe I forgot to `be`, was late; might explain 😉

[2016-10-17 07:40] AliSoftware commented on #6570
Actually now that I think about it I'm pretty sure I didn't use `bundle exec` as I usually don't use the `-a` flag myself on other ruby projects, so if I did us it this time it's because I followed the instructions in `CONTRIBUTING.md` to the letter… and they don't mention `bundler` for that step I believe  😜

So _that_ might be the core problem to address then 😉

[2016-10-17 08:22] jk2K commented on #6553
@zineer, There is another error now
[code]

[2016-10-17 08:26] medslt commented on #6553
+1

[2016-10-17 08:42] AliSoftware commented on #6570
Closing this issue as the version is indeed already pinned (see also #6573) and the problem was in fact the incomplete `PULL_REQUEST_TEMPLATE.md` instructions — which are gonna be fixed by my PR #6576

[2016-10-17 08:56] SpacyRicochet opened #6577 "Question: Can you use Fastlane plugins without `bundle exec`?"
After installing a plugin, you get the 'Fastlane is running slow, use `bundle exec` instead' warning. This also saves us from using the wrong version of the plugin gem. We have one in development right now, while there is an older one released as an official gem.

However, we were wondering if you can use development gems from a git page _without_ having to use `bundle exec`. Is this possible?

Fo

[2016-10-17 09:17] tefinger commented on #6553
+1

[2016-10-17 09:19] iTaa commented on #6553
+1

[2016-10-17 09:22] chstraube commented on #6553
+1

[2016-10-17 09:24] medslt commented on #6553
The same problem here when building with enterprise account (worked fine with App Store account)

[2016-10-17 09:24] hjanuschka commented on #6577
without bundler you can build the gem locally and install it.

[code]

but then you ll always have to rebuild the gem  once it changes.

you can also `require` the gem directly from source folder in your fastfile

Fastfile:

[code]

However i guess this is strongly unrecommended.

[2016-10-17 09:38] hjanuschka commented on #6574
do you have bitcode enabled ? - do you get the bitcode symbols on a manual archive in xcode?

[2016-10-17 10:16] iv-mexx commented on #5542
I'm facing the same problem.
Maybe it has something to do with the fact that we're using the IDFA.
When submitting by hand in iTunesConnect, theres an extra Checkbox where I have to confirm that the App uses the IDFA only in the described way.
See the very last screenshot [here in the Apple Documentation](https://developer.apple.com/library/content/documentation/LanguagesUtilities/Conceptual/iTune

[2016-10-17 10:21] rompic commented on #6553
@zineer thx. also had to gem update --system before in order to fix https://github.com/rubygems/rubygems/issues/1560 'no implicit conversion of nil into String' when trying to install fastlane.