[2016-03-22 19:33] i2amsam commented on #3877
@mcactive I found a similar issue from a long time ago about a bug with cocapods. Are you using cocapods?  Could you check your `agvtool` https://github.com/CocoaPods/CocoaPods/issues/613?

[2016-03-22 19:36] Sega-Zero commented on #684
This could be also easily implemented with this command:
[code]
I use it in my Fastfile, since `get_info_plist_value` no longer working

[2016-03-22 19:38] #1650 closed

[2016-03-22 19:40] mcactive commented on #3875
The screenshots are working! But now I got another (non-fatal) error resetting the simulators.. But I guess that's another error. :grin:

[code]

[2016-03-22 19:41] bigyanthapa opened #3885 "Version Conflict."
Hi,
I am trying to use the ScreenGrab library in my Android Project for grabbing screenshots for international languages. But my project won't compile as soon as I added the gradle dependency. It says Version Conflict.
I check the gradle for this library and it says targetSDK version as 23, but the target SDK for my project is 21. Is there a way to get around this issue.

Thanks

### New Issue Che

[2016-03-22 19:43] #3875 closed

[2016-03-22 19:56] mcactive commented on #3877
@i2amsam Hi Sam, yes, we are using cocoapods and using the cocoapods action in Fastlane as well.

The file appears to be XML instead of the OpenStep format.. Is there an easy way to fix it?

[2016-03-22 19:57] fisch0920 commented on #684
Thanks @Sega-Zero.  I'm currently using this stand-in for `get_app_identifier`:

[code]

[2016-03-22 20:12] i2amsam commented on #3877
@mcactive does this solution work? https://github.com/CocoaPods/CocoaPods/issues/613#issuecomment-9695254 it seems like a cocapods issue rather than a fastlane issue.

[2016-03-22 20:17] mcactive commented on #3877
@i2amsam you're right... Saving something in xcode and running only
`cd /Users/mcactive/Documents/Project && agvtool new-version -all 6.1.2`
works...

But it's weird if it is a cocoapods issue as it always worked and after updating fastlane and xcode it broke... Should I make an issue at CocoaPods?

[2016-03-22 20:23] raphaelcruzeiro opened #3886 "Scan not working with Xcode 7.3"
When running _scan_ after installing Xcode 7.3, the test results always show 0 if the tests run successfully:
`scan --workspace "Project.xcworkspace" --scheme "project" --device "iPhone 6s" --clean --verbose`

[code]

If I purposely break a test, the scan command will fail with code 65:

[code]

fastlane 1.67.0
scan 0.5.2

Could it be that something broke with the new XCode or is this issue on my

[2016-03-22 20:26] asfalcone commented on #1926
@tspecht What version of xcode are you using?

[2016-03-22 20:37] anton-matosov opened #3887 "Option to disable fastlane/README.md file autogeneration"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Everytime fastlane changes something in the README.md file format I get all my builds failed because of the detected changes in the file.
I still want to have this file under source control, bu

[2016-03-22 20:52] asfalcone commented on #3887
@anton-matosov Take a look at [skip_docs](https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Actions.md#skip_docs) and let me know if that does what you need! :gift:

[2016-03-22 21:03] #2048 closed

[2016-03-22 21:07] eha11 opened #3888 "Pilot does not detect completion of iTunes connect processing."
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Pilot does not detect completion of iTunes connect processing. I believe this started happening this weekend around 3/19 or 3/20. Pilot uploads everything fine but doesn't detect the transitio

[2016-03-22 21:17] asfalcone commented on #3885
@bigyanthapa Thanks for checking out screengrab. Can you provide the full gradle output that includes the error you mentioned?

[2016-03-22 21:20] czivko opened #3889 "Spaceship: Exception in v0.24 when calling candidate_builds"
Given a valid app fetched from iTunes,
Calling `puts app.edit_version.candidate_builds.first`
Raises the exception below.

This was working in v0.23

Fix:
When trying to inspect the apple_id for to_s in build.rb:128 self.build_train is null
This fixed it for me by just checking if self.build_train is set
[code]

NoMethodError: undefined method `application' for nil:NilClass
/spaceship-0.24.0/lib/s

[2016-03-22 21:21] bigyanthapa commented on #3885
@asfalcone Thanks for the reply. Here is the error :
Warning:Conflict with dependency 'com.android.support:support-annotations'. Resolved versions for app (22.2.0) and test app (23.1.1) differ. See http://g.co/androidstudio/app-test-app-conflict for details.

[2016-03-22 21:27] bnns commented on #1580
I had a similar problem and the fix was to update the `name.txt` file in `fastlane/metadata/en-US/`.

[2016-03-22 22:14] Imperiopolis opened #3891 "Sigh crash in spaceship's parse_response function"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Fastlane crashes when running sigh.

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Configuration Files

Please copy the complete content

[2016-03-22 22:20] anton-matosov opened #3892 "`fastlane run update_fastlane` is failing starting from fastlane version 1.67.0"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
While updating from fastlane 1.66.0 it failed with same error as mentioned below.
I have reinstalled it from scratch (deleted ~/.rbenv) but still get the same problem when I run `fastlane run u

[2016-03-22 22:28] #1580 closed

[2016-03-22 22:34] KrauseFx commented on #1978
The idea is that you don't want to store your certificates with your source code, since most teams use branches and PRs in their workflow. We wouldn't accept a PR adding multi-team support in one repo, however feel free to use your own fork. There has already been a PR that used different branches for different teams, feel free to use that :+1:

[2016-03-22 22:54] KrauseFx commented on #1079
Oh yeah :sparkles:

[2016-03-22 22:55] KrauseFx commented on #3878
Thanks for pointing this out, however we could only change that while keeping backwards compatible, so we'd have to have aliases. This was caused due to user contributions: Almost all built-in actions were submitted by users from all over the world :+1:

[2016-03-22 22:57] KrauseFx commented on #3889
Is it your own spaceship script? If so please share the complete script and output when running it

[2016-03-22 22:58] KrauseFx commented on #3887
I wonder how we can make this easier for the user. Should we add it to the default Fastfile? Or maybe in the `ensure_git_status_clean` action? @anton-matosov, @asfalcone

[2016-03-22 23:03] KrauseFx commented on #3883
Thanks @fisch0920, I just pushed https://github.com/fastlane/fastlane/pull/3894 :+1:

[2016-03-22 23:12] czivko commented on #3889
@KrauseFx updated the issue above and tracked down the cause. when trying to print the build with a puts was causing the issue for me.

[2016-03-22 23:12] #3725 closed

[2016-03-22 23:30] anton-matosov commented on #3887
Having it excluded for ensure_git_status_clean sounds like a good idea for me

[2016-03-23 00:53] anton-matosov opened #3896 "Match keeps adding profiles to `~/Library/MobileDevice/Provisioning Profiles` instead of overriding existing and that breaks provisioing"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Match keeps adding new profiles on the build server to `~/Library/MobileDevice/Provisioning Profiles` every time I add new devices. But Xcode doesn't pick the correct one (latest by date), it s

[2016-03-23 01:04] asfalcone commented on #1947
If the fastlane `gradle` and `supply` actions are called from the same Fastfile lane (not calling the `supply` CLI directly) then the default value for `apk` is [GRADLE_APK_OUTPUT_PATH](https://github.com/fastlane/fastlane/blob/master/fastlane/lib/fastlane/actions/supply.rb#L11). I believe this solves the issue, so I'm going to close this for now!

[2016-03-23 01:05] #1947 closed

[2016-03-23 01:18] asfalcone commented on #3885
Ah ok, so the issue is in the version of the support library not the targetSDK. Our library does use support-annotations:23.1.1.

Can you try using `compile "com.android.support:support-annotations:23.1.1"` in your app?

[2016-03-23 01:25] asfalcone commented on #3603
Same exception + stack trying to select teams as #3891

[2016-03-23 01:30] asfalcone commented on #3891
@Imperiopolis Thanks for reporting! Is this a new or transient issue? https://github.com/fastlane/fastlane/issues/2015 is a currently open issue that describes similar issues and might offer insights into the failure, such as, is this user in a team and have appropriate permissions? Let me know if this helps!

[2016-03-23 01:30] i2amsam commented on #3877
@mcactive I agree, super weird.  I don't see anything in the fastlane release that seems suspicious, and we didn't run into it with an updated xCode, let's see if anyone else reports it.

[2016-03-23 01:33] asfalcone commented on #2015
Adding https://github.com/fastlane/fastlane/issues/3603 and #3891 as possibly related issues!

[2016-03-23 01:40] Imperiopolis commented on #3891
This issue seems to occur every time I attempt to run a lane containing sigh when my credentials are provided via environment variables (`DELIVER_PASSWORD`, `DELIVER_USER`). If the password is stored in keychain it works correctly.

I'm not sure if this is a new issue as this is my first time attempting to auth via a method other than keychain.

[2016-03-23 01:41] asfalcone commented on #3891
Thanks, that is helpful info! :+1:

[2016-03-23 02:07] pavm035 commented on #3879
@TKBurner  Thanks for the response, can you elaborate with details steps what i suppose to do here to use fastlane actions alone without calling "fastlane init"

Thanks in advance!

[2016-03-23 02:29] FrankNine commented on #1925
I was connecting my Mac slave to Jenkins server by manually executing the jnlp file downloaded from the server. Yesterday I decided to setup Jenkins slave as a launchd entry then this "stty: stdin isn't a terminal" fastlane error happens to me. Not sure why there is a difference between running Jenkins slave from GUI and from launchd.

In the end, I run "security unlock-keychain" before every fast

[2016-03-23 03:09] longpham2310 commented on #3874
Hi @TKBurner. I just update my issue. Can you have a look? Thanks!

[2016-03-23 03:14] retsohuang opened #3897 "[match] Crash 9eb46651239f6ef77e8ea35d73c9bc17"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

fastlane finished with errors after run `bundle exec match development` on readonly mode.

##### Complete output when running fastlane, including the stack trace and command used

[code]

###

[2016-03-23 04:09] khantthulinn opened #3898 "SSL_connect returned=1 errno=0 state=SSLv3 read server certificate B: certificate verify failed"
I am new to fastlane. I run fastlane ios Development and I saw error when I upload to hockey.

This is full stack. I already try some method from https://github.com/fastlane/fastlane/issues/745
and update my cert also.

/Users/thulinn/.rvm/rubies/ruby-2.2.1/lib/ruby/2.2.0/net/http.rb:923:in `connect': [!] SSL_connect returned=1 errno=0 state=SSLv3 read server certificate B: certificate verify fail

[2016-03-23 04:10] khantthulinn opened #3899 "SSL_connect returned=1 errno=0 state=SSLv3 read server certificate B: certificate verify failed"
I am new to fastlane. I run fastlane ios Development and I saw error when I upload to hockey.

This is full stack. I already try some method from https://github.com/fastlane/fastlane/issues/745
and update my cert also.

`/Users/thulinn/.rvm/rubies/ruby-2.2.1/lib/ruby/2.2.0/net/http.rb:923:in `connect': [!] SSL_connect returned=1 errno=0 state=SSLv3 read server certificate B: certificate verify fai

[2016-03-23 04:41] adytzs opened #3900 "Error Certificate for "AppStore" on Sigh step"
Hai, I got this error.

Maybe, because of apple combine AppStore and Ad Hoc for create the certificate. So, You cannot create AppStore certificate only. How can I fix it?.

<img width="559" alt="screen shot 2016-03-23 at 11 37 21 am" src="https://cloud.githubusercontent.com/assets/1079533/13975802/d163a50c-f0eb-11e5-8e49-fbb28d0358ef.png">

[2016-03-23 05:42] fisch0920 commented on #1762
@KrauseFx I'm running into the same issue; *enterprise* account trying to use `sigh` to generate `adhoc` profile after successfully running `cert`.  I've tried the following:

[code]

And always get the following error from sigh:
[code]

Note that sigh is failing to find the certificate that cert just created.

[2016-03-23 05:43] bassrock commented on #878
Looks like #1082 should work to allow you to set a version with gradle. To get something like increment_build_number to work a solution may be to save the current version number in the metadata folder and increment that. Then in the cradle command pull from that.

[2016-03-23 05:50] fisch0920 opened #3901 "Sigh fails after cert on Enterprise account"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Sigh fails to create an `adhoc` profile after successfully running `cert` on an *enterprise* account with the following error:
[code]

Related to #1762

##### Complete output when running fast

[2016-03-23 05:54] fisch0920 commented on #3883
Awesome thanks for the fast turnaround!

[2016-03-23 06:04] bassrock commented on #878
Actually just was able to do it nicely with this:
[code]

If thats the accepted answer it could be added into the increment_build_number actions and the lane context as well too.

[2016-03-23 07:06] Ashton-W commented on #2053
@fastlanebot close

[2016-03-23 07:33] KrauseFx commented on #2053
Should we close this issue? :+1: Did you continue working on it?

[2016-03-23 07:47] #3883 closed

[2016-03-23 07:48] KrauseFx commented on #3883
This will be in the next fastlane release :+1:

[2016-03-23 07:53] KrauseFx commented on #3897
The error message says
[code]

[2016-03-23 07:53] petterikamppuririchie commented on #1978
Can you point me to that PR, I found this #3762 but it's not exactly what you described.

Multi-team support would be super helpful. We try to automate creating builds and have even the build server be easily deployable, custom branches/patches for "standard" tools doesn't make that easy. They'd have to be manually kept up to date with changes in the main repo, conflicts resolved etc. etc. So esse

[2016-03-23 07:53] KrauseFx commented on #3897
Do you have the code signing identity for development in your git repo in match?

[2016-03-23 07:54] KrauseFx commented on #3898
Duplicate of https://github.com/fastlane/fastlane/issues/3899

[2016-03-23 07:54] #3898 closed

[2016-03-23 07:54] KrauseFx commented on #3899
Does that part of the FAQs help?https://github.com/fastlane/fastlane/blob/master/fastlane/docs/FAQs.md#im-getting-an-ssl-error

[2016-03-23 08:32] fisch0920 commented on #3901
Update: I got sigh to work after removing `adhoc: true` though I'm not sure why it is working as the docs for `sigh` seem to imply that not setting `adhoc` will generate an appstore profile.

Perhaps this documentation should be cleared up?

[2016-03-23 08:34] Ashton-W commented on #2053
Was implemented by #3656

[2016-03-23 08:58] khantthulinn commented on #3899
Yes. I have tried that one. I still have that issue.
<a href="http://tinypic.com?ref=33o2t8o" target="_blank"><img src="http://i67.tinypic.com/33o2t8o.png" border="0" alt="Image and video hosting by TinyPic"></a>

[2016-03-23 09:10] fisch0920 opened #3902 "crashlytics crash if passed nonexistent group"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

If you run the *crashlytics* action and specify a group which doesn't exist, fastlane will crash without a sensible error message after ~10 seconds.  I ran into this when using the human-reada

[2016-03-23 09:28] jeeftor opened #3903 "Rocket action looks a little phallic"
### New Issue Checklist

- [x ] Updated fastlane to the latest version
- [ x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I checked out the new `fastlane run rocket` action and it looks a little less like a rocket than something else.

Since when do rockets have "heads" bigger than their "shafts"?

![screen sho

[2016-03-23 09:47] Panajev commented on #1978
I would tend to agree. You made it clear that a PR of this kind would not be accepted or considered, but the rationale was not given. Could you give your team's rationale for this?

[[iOS messageWithContent:webContent] broadcast]

[2016-03-23 09:59] jeeftor commented on #3901
You should make a pull request to update the docs!

[2016-03-23 10:11] colmdoyle commented on #3903
No objection to changing them to a more "traditional" rocket, but it looks like a [SpaceX Falcon9](http://www.spacex.com/about/capabilities) to me.

![screen shot 2016-03-23 at 10 10 20](https://cloud.githubusercontent.com/assets/406463/13982027/927138a2-f0df-11e5-975d-8edbc2b80853.png)

[2016-03-23 10:13] marcomorain commented on #3870
Hi @tariq235 - I'm the developer that wrote the code-signing support at CircleCI.

Hockey App have an API for uploading:

http://support.hockeyapp.net/kb/api/api-apps#upload-app

You can use `curl` to upload (in place of `ipa`, as follows (see the link above for more info):

[code]

It would be pretty easy to make a PR to add a HockeyApp action to wrap this API.

[2016-03-23 10:13] Sajjon commented on #3748
Thank you all for your help, especially @nicolasbraun ! :+1: Apple fixed the issue with stuck builds in iTunes connect during the weekend and I have put the app up for review, the first build ever to be signed using match, exciting indeed!

It think settting up fastlane with match will be the first thing I will do for all future iOS projects! Thanks a lot! :)

[2016-03-23 10:13] #3748 closed

[2016-03-23 10:17] Sh3rawi commented on #1650
All is well now, thank you!

[2016-03-23 10:19] 3vangelos commented on #1650
Works again :) Thank You Guys!

![screen shot 2016-03-23 at 11 19 04](https://cloud.githubusercontent.com/assets/11633703/13982246/21874c4e-f0e9-11e5-8692-d8b56ea1e5b3.png)

[2016-03-23 10:31] billchanmagic commented on #3875
Thanks for the quick work!

[2016-03-23 10:33] hohl commented on #3875
That was quick! :+1: Thank you very much for the great tool and the quick support. Fastlane is really saving me hours.

[2016-03-23 10:36] fisch0920 opened #3906 "Fastlane gym should force signing with profile from sigh"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

This is a follow-up to #1393.  For my use case, manually setting the provisioning profile in the code signing section to an env variable including the app_identifier won't work because I'm wor

[2016-03-23 11:00] nurne opened #3907 "Running 'docs' in spaceship links to 404 page in github"
Followed the readme on the spaceship page.

[2016-03-23 11:02] nurne opened #3908 "Unexpected Response error when Running 'Spaceship::Tunes::Application.all'"
Followed the spaceship readme to the word.

Spaceship::Client::UnexpectedResponse: {"data"=>nil, "messages"=>{"warn"=>nil, "error"=>["Forbidden"], "info"=>nil}, "statusCode"=>"ERROR"}
from /Library/Ruby/Gems/2.0.0/gems/spaceship-0.24.0/lib/spaceship/client.rb:328:in `parse_response'

[2016-03-23 11:21] iamapo opened #3909 "SecurityException: Permission android.permission.CHANGE_CONFIGURATION"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I got an error when screengrab granting the permission android.permission.CHANGE_CONFIGURATION on Android 6.
On a Device with Android 4.4 it works fine.

##### Complete output when running fas

[2016-03-23 11:52] flipdish commented on #1587
Any solution to this? We've the same problem

[2016-03-23 12:01] truth3 commented on #3696
Hump day bump :)

[2016-03-23 12:05] tychop opened #3910 "sigh resign feature request"
I would like to be able to change the bundle-id upon resigning.
Would that be possible in one of the future versions?

P.s. the "sigh resign --help" output is out of date....

[2016-03-23 12:19] 7mllm7 opened #3911 "Action for resetting git branch to remote"
I got the requirement to reset the git repository to the most recent code from the remote.
Now, in most circumstances, you can achieve it with the [git_pull](https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Actions.md#git_pull) action.

However, when using rebase as a merging technique, fetching & pulling might cause conflicts that will stop the build process.

What I'd love to see i

[2016-03-23 12:21] 7mllm7 commented on #3911
Just to clarify, my usage is when I want my build machine to get the most recent codebase of a certain release branch from the remote by using fastlane, hence without needing to add a step in the build.

[2016-03-23 12:56] kcharwood commented on #3910
Yep. I've requested that as well:

https://github.com/fastlane/fastlane/issues/1758

[2016-03-23 13:46] bigyanthapa commented on #3885
I tried adding that, but I get error right there. The error says,"This support library should not use a different version (23) other than the compileSDKVersion 21 ."

[2016-03-23 14:08] TKBurner commented on #3910
@tychop You can track this at #1758 Closing this ticket out. Thanks for your great suggestion :+1:

[2016-03-23 14:08] #3910 closed

[2016-03-23 14:12] TKBurner commented on #3911
Thanks for your suggestion @7mllm7! I've added this to our feature request list so we can prioritize. You can do a git pull using the steps here, https://github.com/fastlane/fastlane/blob/ad585bce69ef5a24dd01b8f6f4bce1e90ecb6046/fastlane/lib/fastlane/actions/git_pull.rb.

Thanks!

[2016-03-23 14:13] TKBurner commented on #1587
Hi @flipdish! I want to take a look at this. Can you update your comment with this template:  https://github.com/fastlane/fastlane/blob/master/ISSUE_TEMPLATE.md

Thanks!

[2016-03-23 14:17] TKBurner commented on #3909
Hi @iamapo! CHANGE_CONFIGURATION requires for your app either to be signed by the firmware signing key or be installed on a system partition. You can see this by examining the framework manifest, where these permissions are defined. Can you take a look at your project?

[2016-03-23 14:18] TKBurner commented on #3908
Hi @nurne! Great to hear from you. I definitely want to dig into this. Can you update your post with this template:  https://github.com/fastlane/fastlane/blob/master/ISSUE_TEMPLATE.md

Thanks!

[2016-03-23 14:19] TKBurner commented on #3907
Hi @nurne! Can you send me a link to the page where this broken link is? I want to have a look :+1:

Thanks!

[2016-03-23 14:22] asfalcone commented on #3909
@iamapo Just wanted to make sure you've followed the [manifest permissions](https://github.com/fastlane/fastlane/tree/master/screengrab#configuring-your-manifest-permissions) section of the setup guide.

[2016-03-23 14:23] TKBurner commented on #3906
@fisch0920 Thanks for working through this. Gym should be taking the provisioning profile generated by Sigh. I'll make sure @mpirri takes a look.

Thanks!

[2016-03-23 14:24] TKBurner commented on #3875
@billchanmagic @hohl No problem! We are happy to get the fix out :+1:

[2016-03-23 14:24] TKBurner commented on #1650
@3vangelos @Sh3rawi Awesome! Thanks for letting us know :+1:

[2016-03-23 14:26] TKBurner commented on #3903
@jeeftor Thanks for the feedback! I'll make sure Felix and team have a look :+1:

[2016-03-23 14:27] TKBurner commented on #3901
@fisch0920 Awesome Travis! Glad to hear you got up and running. Can you send me a link to where you think we should make a clarification? I want to make sure we update things :+1:

[2016-03-23 14:27] #3901 closed

[2016-03-23 14:29] asfalcone commented on #3902
@fisch0920 Thanks for the report. Can you please include the stack trace from the crash?

[2016-03-23 14:31] TKBurner commented on #3899
Hi @khantthulinn! Great to hear from you. Can you update your comment to this format:  https://github.com/fastlane/fastlane/blob/master/ISSUE_TEMPLATE.md .

I can't wait to dig in! :+1:

[2016-03-23 14:34] TKBurner commented on #1762
@fisch0920 Is this a duplicate of your other request? I want to make sure we consolidate so I can make sure we get this looked at fast :+1: Thanks!

[2016-03-23 14:35] TKBurner commented on #3900
Hi @adytzs! Can you update using the template here  https://github.com/fastlane/fastlane/blob/master/ISSUE_TEMPLATE.md? Definately want to dig into this :+1:

[2016-03-23 14:36] TKBurner commented on #3874
@longpham2310 Thanks for following up. Are you still seeing this issue? Can you let me know what version of xCode you are using. We had an issue with Snapshot with 7.3.0 but pushed an update to snapshot yesterday.

Thanks!

[2016-03-23 14:39] TKBurner commented on #1925
Thanks for updating the thread @FrankNine! This seems like a viable workaround for your system setup. However, I'll be sure we note this in the future. Is there anywhere in our docs that you think it'd be useful for us to surface this information?

Thanks!

[2016-03-23 14:42] TKBurner commented on #3896
@anton-matosov Thanks for reporting this. I'm going to have @mfurtak take a look!

[2016-03-23 14:45] TKBurner commented on #3879
@pavm035 Thanks for following up. Correct. You can run our tools by running their name directly in your project directory in a terminal window. In this case that'll allow you to bypass the steps that won't work because you don't have an Apple Developer account.

So cd into your project directory and then run 'gym'

Thanks!

[2016-03-23 14:48] TKBurner commented on #1580
@bnns Thanks for stepping in and helping out! :+1:

[2016-03-23 14:54] TKBurner commented on #3888
Thanks for letting us know @eha11! This sounds like it might be due to the delay in processing times we are seeing with iTC. However, I'm going to make sure we take a look to see what's going on.

Thanks!

[2016-03-23 14:58] TKBurner commented on #3886
Hi @raphaelcruzeiro! If you create a blank xCode project do the 2 default tests run for that? I'm trying to figure out if this is project specific, system specific, or a widespread issue.

Thanks!

[2016-03-23 15:02] TKBurner commented on #3892
@anton-matosov I was able to reproduce this locally. I'm going to loop in the team and see what we can do to help :+1: Thanks for reporting this!

[2016-03-23 15:06] joshdholtz commented on #3696
@truth3 OMG, I am the worst... I have to get a Swift presentation today at my alma mater but I am adding this to my to do list so I don't forget :grimacing:

[2016-03-23 15:14] retsohuang commented on #3897
No, that is new repo.

I have another crash when I use new account (The error message says no device id in there).

[2016-03-23 15:36] raphaelcruzeiro commented on #3886
@TKBurner I created an empty project with just a few tests and Scan ran fine. So this is a project specific issue. Something broke during the update.

The issue happens on this project no matter the development machine (happens on our CI server as well). Any ideas on how I could best approach this issue, where to start looking etc?

thanks

[2016-03-23 15:38] truth3 commented on #3696
@joshdholtz On the contrary, you are the man! No worries, just a friendly reminder that I am still looking forward  to this

[2016-03-23 15:39] longpham2310 commented on #3874
@TKBurner .`xCode 7.3` , `snapshot 1.12.1`, `SnapshotHelper.swift` is latest. But this issue is still.

[2016-03-23 15:41] TKBurner commented on #3886
Thanks for following up. Are you able to run your tests manually rather than through Fastlane? It's now important to see if this is an issue with your testing setup or an issue with Fastlane. The way we run our commands suggests this is an issue with the testing configuration on your app. Can you send me the full output of scan?

Thanks! :grinning:

[2016-03-23 15:44] raphaelcruzeiro commented on #3886
Yes, I can run them manually just fine. Scan also runs the tests but it seems to crash while trying to make sense of the output. Scan reports 0 tests executed for a successful test run and fails with code 65 if any of the tests break.

[2016-03-23 15:46] #3903 closed

[2016-03-23 15:47] TKBurner commented on #3886
Thanks @raphaelcruzeiro. Can you send me the full output of scan?

[2016-03-23 15:51] TKBurner commented on #3874
Hi @longpham2310 Can you send me the full output rather than just the error? I want to have a look at when this is happening. Thanks!

[2016-03-23 16:30] fisch0920 commented on #3902
No stack trace is given as I believe it's a problem with Crashlytics.framework/submit as opposed to Fastlane itself, though Fastlane should be able to catch the error.

[2016-03-23 16:30] fisch0920 commented on #1762
@TKBurner yes this is a duplicate.  Thanks man!

[2016-03-23 16:31] fisch0920 commented on #3906
Thanks man; this is an important one imho, though it's at least easy to work around with the logic I provided above.

[2016-03-23 16:36] fisch0920 commented on #3901
Yeah, I'm working on a project with potentially hundreds of automated app builds and fastlane is amazing!!

[2016-03-23 16:51] asfalcone commented on #3892
Fixed in fastlane [1.68.0](https://github.com/fastlane/fastlane/releases/tag/1.68.0) :tada:

[2016-03-23 16:51] #3892 closed

[2016-03-23 16:52] longpham2310 commented on #3874
@TKBurner
### console log:

[code]
[code]

### Snapshot logs file:

[code]

P/s: **The test is fine when I run by Xcode and command line tools.**

[2016-03-23 17:33] raphaelcruzeiro commented on #3886
There you go @TKBurner [ScanOutput.txt](https://github.com/fastlane/fastlane/files/186524/ScanOutput.txt)

[2016-03-23 17:52] marcomorain commented on #1550
:+1: this caught me out today. I would love to see a better default or a more shout-y error.

[2016-03-23 17:59] pavm035 commented on #3879
@TKBurner Thanks for the response, that looks like promising, if I use tool alone is it possible to have fast file in order to write my own lanes, I believe to have fast file I should call fastlane init, if I call that then it will prompt apple account, all I need here is to build this on my CI

Thanks

[2016-03-23 18:21] TKBurner commented on #3902
Hi @fisch0920! Can you send over the full output when your run 'fastlane run crashlytics'?

Thanks!

[2016-03-23 18:26] TKBurner commented on #3874
Thanks for following up! Can you reset your simulator data? That seems like it should fix this. I found similar issues reported here, https://forums.developer.apple.com/thread/4472

[2016-03-23 18:28] TKBurner commented on #3886
Hi @raphaelcruzeiro, is the report at /Users/raphaelcruzeiro/Projects/h19-iphone-v2/fastlane/test_output/report.html also blank?

Thanks!

[2016-03-23 18:31] TKBurner commented on #3879
Hi @pavm035 you should be able to run 'fastlane init' to generate the scaffolding. I just enter in a placeholder for the email and passwords and when it fails you will be passed onto manual setup.

Thanks!

[2016-03-23 18:47] raphaelcruzeiro commented on #3886
@TKBurner it reports 0 tests.

[2016-03-23 19:29] TKBurner commented on #3886
@raphaelcruzeiro Thanks! Going to look into this over here. I'll be back with you soon :+1:

[2016-03-23 19:35] kNeerajPro opened #3914 "Not able to work "Titles and Background" for the screenshots generated by Frameit"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
I am trying to use frameit and deliver to push screenshots to iTunesConnect. Unfortunately I am not able to get titles on the frameit generated screenshot.
Here is my Framefile but I am not abl

[2016-03-23 19:42] TKBurner commented on #3914
Hi @kNeerajPro! Great to hear from you. Can you take a look at this example project and let me know if you have any specific questions? I think it's going to help a lot :+1:  https://github.com/fastlane/examples/tree/master/MindNode/screenshots

[2016-03-23 19:47] kNeerajPro commented on #3914
@TKBurner I have already looked at that project. I am unfortunately not able to understand the Framefile and title.strings. Could you explain what that json file and its element means? I am not able to add titles to the screenshots nor the screenshot file has the correct size.
Also the project linked above should have had some sample screenshots. That would have probably helped to understand.
Apol

[2016-03-23 20:07] TKBurner commented on #3914
Hi,

{
  "default": {
    "keyword": {
      "fonts": [
        {

describes the font of the second half of the 'title' in your screenshot

 "title": {
      "fonts": [
        {

describes the font of the Title in your screenshot

  "data": [
    {
      "filter": "Brainstorming",
      "keyword": {

filter's are the overlay. They are applied to once each to each screenshot.

In keyword.strings y

[2016-03-23 20:07] #3914 closed

[2016-03-23 20:55] eha11 commented on #3888
Thanks! iTC has definitely been wonky the last couple of days. I'm not sure how Pilot get's it's statuses, but I think the text for the statuses may have changed. Here are some screen grabs of our iOS Builds page and  internal test selection stage showing the final version of the statuses after processing has completed, but said completion hasn't been detected by Pilot. Hope this helps.

![interna

[2016-03-23 21:06] kNeerajPro commented on #3914
Thank you for the comment I certainly understood much more. Please add this information somewhere in the Git page so other people can also understand it faster.
Unfortunately I am still not able to get this to work.

Here is my** Framefile.json** -
{
  "default": {
    "keyword": {
      "fonts": [
        {
          "font": "./fonts/helvetica-regular.otf",
          "supported": ["en-US"]

[2016-03-23 21:33] KrauseFx commented on #3907
I just pushed https://github.com/fastlane/fastlane/pull/3916 :+1: Thanks @nurne

[2016-03-23 22:09] BrettThePark commented on #3876
I also have this issue using a ! in the iTunes password.

[2016-03-23 22:20] markuswinkler commented on #3899
same issue. Tried the tip from above, same SSL error.
fastlane 1.68.0
openssl 1.0.2g

[2016-03-23 22:37] raven commented on #3886
Just for some more info, this isn't isolated to 'scan'. Mention of changes to XCTest in Xcode 7.3 have affected xcpretty / console output.
https://github.com/Quick/Quick/issues/494#issuecomment-200286238

[2016-03-23 23:59] #3839 closed

[2016-03-24 00:03] KrauseFx commented on #3891
@Imperiopolis Can you try using `FASTLANE_PASSWORD` instead?

[2016-03-24 00:08] lmirosevic commented on #3889
Can confirm this in `0.24.0`, using the following simple code:

[code]

[2016-03-24 00:16] Imperiopolis commented on #3891
The results appear the same with FASTLANE_PASSWORD.

[2016-03-24 01:01] tettoffensive commented on #1416
@oronbz how do you structure the template so that it fills in the values like message and app_link, etc?

[2016-03-24 02:39] longpham2310 commented on #3874
I did reset the simulator and clean ~DeliverData but the problem can't be solved.

[2016-03-24 04:42] kNeerajPro opened #3917 "Screenshot title works for "frameit white" not "frameit silver""
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Title for screenshot is working for frameit white but not for frameit silver.
<img width="450" alt="screen shot 2016-03-24 at 10 10 30 am" src="https://cloud.githubusercontent.com/assets/727534

[2016-03-24 05:19] tariq235 commented on #3870
How can i call fastlane action directly in yml file without creating separate fastlane file ? In upcoming weeks I would be definitely creating a fastlane file and utilize all features of fastlane but right now I just wanna use yml and run tests on circleci and automate the upload process.

[code]
ipa distribute is already working for me but as i have mentioned that my yml file is a mixed of fastla

[2016-03-24 06:15] bassrock opened #3918 "[Feature/Discussion] Have Match Store Android JKS & Service Account JSON"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Recently I started setting up Fastlane with my Android applications and noticed some items that I wonder if they would be a good fit to store in an organization's match repository.

To build f

[2016-03-24 06:17] RahulKatariya commented on #1416
@oronbz Can you please provide an example because i am not able to set the template path right.

[2016-03-24 07:01] FrankNine commented on #1925
I am not really familiar with fastlane development and documentation. I guess since it is credentials related, I should be documented at CredentialsManager. I am still trying to get to the bottom of it. Placing keychain password on Jenkins server is not ideal. Hope we can address it in the right way.

[2016-03-24 08:30] oronbz commented on #1416
Hi guys @tettoffensive  @RahulKatariya ,
I've just cloned the original fastlane email template and edited it to my will, you can check the original here:
https://github.com/fastlane/fastlane/blob/master/fastlane/lib/assets/mailgun_html_template.erb

Let me know if something isn't clear

[2016-03-24 08:34] nrako commented on #3886
The issue is way up in the chain https://github.com/facebook/xctool/issues/674#issuecomment-200655653

[2016-03-24 11:20] iamapo commented on #3909
When i unsignd my app it works. This works for me

[2016-03-24 11:20] #3909 closed

[2016-03-24 11:31] iamapo opened #3919 "Question: Is it possible to run screengrab by spoon?"
### Issue Description
Is it possible to run screengrab on multiple devices by spoon?
http://square.github.io/spoon/

Thanks,
screengrab is great

[2016-03-24 11:36] biolinh opened #3920 "Passing variable from Environment variables in CI to"
### Environment
fastlane version (fastlane -v): 1.68.0 (the latest version in the present)

### Issue Description

##### I setup a CI to process for my iOS App. Because I have many App with different bundle Id to publish to store, I save the information an properties file:

[code]
After that I add it as an environment variables of CI.
As I read on https://github.com/fastlane/fastlane/issues/457
or

[2016-03-24 12:02] jcampbell05 opened #3921 "Simulator timeout for Scan"
### New Issue Checklist

- [x ] Updated fastlane to the latest version
- [x ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I am unable to run any test for Scan right now.

If it doesn't timeout the build output states that the `Tests Fail` which I think is Xcode's cryptic way of saying it took long to build.

Th

[2016-03-24 12:54] flipdish commented on #1587
Hi. We worked out the underlying issue (for our case). We had not included the export_compliance_encryption_updated field. This caused Deliver to say that the app had been submitted for review, but it hadn't been. Once we added export_compliance_encryption_updated = false the apps got submitted.

[2016-03-24 13:53] TKBurner commented on #1587
@flipdish Thanks for letting me know! I'm glad to hear you got up and running. I'm going to close out this issue but feel free to reopen if you run into this again.

[2016-03-24 13:53] #1587 closed

[2016-03-24 13:54] asfalcone commented on #3918
@bassrock thanks for opening an issue for discussion on this! As mentioned in #3457 and https://github.com/fastlane/match/pull/88 we're not quite ready to get started (or have contributors get started) on this work, but we love hearing from you and others about what features you think are important for Android developement!

[2016-03-24 13:55] TKBurner commented on #3921
Hi @jcampbell05! Great to hear from you again. Can you reformat your post to this template? https://github.com/fastlane/fastlane/blob/master/ISSUE_TEMPLATE.md

Also, what version of xCode are you using? Did this work before the update to xCode 7.3? Thanks!

[2016-03-24 13:59] TKBurner commented on #3919
Hi @iamapo! Great to hear from you. We don't test with spoon but you might be able to get it up and running. Are you running into a specific error? Thanks!

[2016-03-24 13:59] #3919 closed

[2016-03-24 14:00] TKBurner commented on #3909
@iamapo Thanks for letting us know :+1:

[2016-03-24 14:03] TKBurner commented on #3886
@nrako Thanks for following up! We are looking into this over here :+1:

[2016-03-24 14:05] TKBurner commented on #1925
@FrankNine Thanks for following up. Right now we use the keychain to store credentials. I'm going to convert this to a feature request and close it. The team will have a look soon :+1:

[2016-03-24 14:05] #1925 closed

[2016-03-24 14:07] TKBurner commented on #3870
Hi @tariq235 ! Thanks for following up. The way you run and individual action is by running 'fastlane run <actionname>'

Let me know if you have any questions :+1:

[2016-03-24 14:07] #3870 closed

[2016-03-24 14:09] lvh1 opened #3922 "Screengrab: how to screenshot a WebView?"
Is it possible to make a screenshot of a WebView that is displayed on top of the current activity?
Right now this results in just the current activity being shown on the picture, while ignoring the webview that's displayed on top of it.
Using the latest version of Screengrab (0.3.1).

### New Issue Checklist
- [ x ] Updated fastlane to the latest version
- [ x ] I have read the [Contribution Guide

[2016-03-24 14:11] TKBurner commented on #3917
Hi @kNeerajPro! Great to hear from you. Can you send over your title.strings and your Framefile?

Thanks!

[2016-03-24 14:11] #3917 closed

[2016-03-24 14:14] TKBurner commented on #3874
Hi @longpham2310. Thanks for following up. It seems like this is related to

Failed to perform AX action for monitoring the animations

This seems like it is a failure of your UI test. Can you run your UI test and send me the results?

Thanks!

Also check out this article for some context

http://stackoverflow.com/questions/32002330/ios-9-ui-testing-test-fails-because-target-control-isnt-available

[2016-03-24 14:14] #3874 closed

[2016-03-24 14:20] TKBurner commented on #3922
Thanks for reaching out. I want to loop in a few people. Can you let me know if this is consistent for all web views or only initial ones? I want to figure out if this is because the screenshot is happening before the view loads or if it's the way the screenshot is taken.

Thanks!

[2016-03-24 14:23] michael-mohemian opened #3923 "Installation cannot find gem Mashal4.8/JWt 1.5.3"
Run "sudo gem install supply"

Output:
ERROR:  While executing gem ... (Gem::RemoteFetcher::FetchError)
    bad response Not Found 404 (http://rubygems.global.ssl.fastly.net/quick/Marshal.4.8/jwt-1.5.3.gemspec.rz)

[2016-03-24 14:26] pedro380085 commented on #1818
Hi @RobDay, did you implement this action? Thanks,

[2016-03-24 14:26] lvh1 commented on #3922
I'm fairly sure it is because of the way the screenshot is being taken. Even after letting the thread sleep for 5 seconds  just to be sure the webview is fully loaded, it always resulted in a picture of the activity in the background.
Tested it with webviews on 2 different places.

[2016-03-24 14:32] RobDay commented on #1818
I have not, yet.  I didn't gauge any interest from other people and deferred working on it.  Is it something in which you see value?

[2016-03-24 14:34] asfalcone commented on #3922
Likely related to https://github.com/fastlane/fastlane/issues/2080

[2016-03-24 14:35] pedro380085 commented on #1818
@RobDay I ended up putting the export folder at /temp and then deleting it at the end.

[2016-03-24 14:47] asfalcone commented on #3923
@michael-mohemian thanks for the report. `jwt`

Can you try doing `sudo gem install jwt` then `sudo gem install supply` again?

It looks like `jwt` 1.5.3 was possibly yanked from rubygems since the highest available `jwt` gem is 1.5.2 right now https://rubygems.org/gems/jwt

Let me know if that helps! :+1:

[2016-03-24 14:51] TKBurner commented on #3922
@lvh1 Can you track this issue on that thread? I'm closing this one out :+1:

Thanks!

[2016-03-24 14:51] #3922 closed

[2016-03-24 14:55] alexkrzyzanowski commented on #3923
[code]

[2016-03-24 15:05] asfalcone commented on #3923
@alexkrzyzanowski  `sudo gem install jwt jwt-1.5.2` to force 1.5.2 ?

[2016-03-24 15:05] mcactive commented on #3877
@i2amsam updating to the beta version of cocoapods fixed the issue. This also installs "xcodeproj" beta which fixes a bug in Xcode 7.3:

[code]

[2016-03-24 15:07] vfog commented on #3877
Ran into the same issue. We're using Cocoapods as well, but it isn't part of our fastlane flow. However, I do have a custom action that use the `Xcodeproj` gem that is used internally by Cocoapods in order to modify the project to swap out app icons, fonts, etc.

Based on your current finding I would suspect that a change in the xcodeproj structure in Xcode 7.3 has caused an incompatibility with t

[2016-03-24 15:08] alexkrzyzanowski commented on #3923
@asfalcone possibly yes, but I can't install *fastlane* because it tries to install _jwt-1.5.3_.

[2016-03-24 15:09] pkester commented on #3923
Supply still tries to remote fetch https://rubygems.global.ssl.fastly.net/quick/Marshal.4.8/jwt-1.5.3.gemspec.rz no matter what version you have installed. I installed the dev version of 1.5.4 using the gem spec and get the same result. Is there a way to skip supply as my project doesn't have android support anyhow?

[2016-03-24 15:16] i2amsam commented on #3888
@eha11 could you check if any of your old builds are still stuck in processing?
![image](https://cloud.githubusercontent.com/assets/665326/14021384/a4b13a4e-f1b1-11e5-900e-c44d2c3727f3.png)

I'm wondering if this is caused by the same issue from of https://github.com/fastlane/fastlane/issues/3800

[2016-03-24 15:20] longpham2310 commented on #3874
@TKBurner My test is very simple.
[code]

[2016-03-24 15:24] mfurtak commented on #3889
Reproduced locally - thanks for the report, and thanks for the code! :+1: I'm looking into it.

[2016-03-24 15:28] asfalcone commented on #3923
I'm not seeing the behavior as described. I uninstalled `jwt` 1.5.3 and then installed 1.5.2 directly. I can then install fastlane and supply without issue. fastlane and supply don't have direct dependencies on jwt, and our transitive dependencies only need ~> 1.5

Please give this a try
[code]

Please see this thread here as well about jwt 1.5.3 getting yanked: https://github.com/jwt/ruby-jwt/iss

[2016-03-24 15:36] excpt commented on #3923
Sorry for the trouble the ruby jwt 1.5.3 version caused. I just released version 1.5.4.

[2016-03-24 15:50] pkester commented on #3923
I uninstalled all versions of jwt gems on my primary machine and it worked. I also ran a fresh install of fastlane on my dev laptop and can confirm everything works fine now with fastlane installation and all of its dependencies.

Thanks everyone for the quick response times.

[2016-03-24 15:55] asfalcone commented on #3923
:+1: Going to close this since there is resolution in both using an older version and using the newly released 1.5.4.

[2016-03-24 15:55] #3923 closed

[2016-03-24 15:58] SebastianBoldt commented on #3834
@jfresen Sounds great :+1:

[2016-03-24 16:06] Drarok opened #3924 "`fastlane init` fails to properly escape filenames"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

When running `fastlane init` in a project directory where the Xcode workspace as a single quote (`'`) in it, fastlane fails due to improper/no escaping of input.

##### Complete output when ru

[2016-03-24 16:08] Drarok commented on #3924
Escaping in shells isn't very nice. You end the string with `'`, then add a literal quote with `\'`, then open a string again with `'`, resulting in this:
[code]

[2016-03-24 16:09] bassrock commented on #3918
Whoops didn't even see that one when I searched to see if it already existed. Sounds good!

[2016-03-24 16:16] kcharwood commented on #3921
I'm seeing this issue too. I'm telling scan to use an iPhone 6, and a 6s Plus is launching on one of my ci machines.

[code]

[2016-03-24 16:19] dpettit commented on #2036
I need this functionality too!

[2016-03-24 16:24] jcampbell05 commented on #3921
@TKBurner Sure I'll reformat.

It didn't work in Xcode 7.2 either.

[2016-03-24 17:03] eha11 commented on #3888
Interesting, I don't have any that are still in the processing state. However each app that I am seeing this issue in does have one build that looks like the following:
![greyedoutbuildwithredbang](https://cloud.githubusercontent.com/assets/1053538/14024557/e7619dbc-f1a6-11e5-874a-35a96797ac0c.jpg)

There's no way that I'm aware of to remove this build.

Here's the raw html for that build if it he

[2016-03-24 17:06] Drarok opened #3925 "`fastlane init` silently fails to create app, then fails to find it"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

When attempting to use Fastlane, it seems to fail to create the app, then fails to find it.

##### Complete output when running fastlane, including the stack trace and command used

Note: I've

[2016-03-24 17:32] TKBurner commented on #3921
Thanks for following up @jcampbell05. Can you send me there error you get when you run xcodebuild?

Thanks!

[2016-03-24 17:32] TKBurner commented on #2036
@dpettit Noted! We'll reach out if we have an update about this :+1:

[2016-03-24 17:32] #2036 closed

[2016-03-24 17:33] TKBurner commented on #3918
No problem @bassrock! You can follow along in those threads :+1:

[2016-03-24 17:33] #3918 closed

[2016-03-24 17:35] TKBurner commented on #3924
Hi @Drarok! Thanks for pointing this out. I was able to reproduce over here. I'll have the team take a look and prioritize it.

Thanks!

[2016-03-24 17:47] TKBurner commented on #3874
@longpham2310 Hi there, can you close and reopen xCode? I found other reports of users affected by this issue on Twitter. This seems like an issue with your session in xCode and rebooting it will fix this.

[2016-03-24 17:53] PitchLabsAsh opened #3928 "upload_symbols_to_crashlytics requires unzipped dSYM"
The documentation suggests that a zipped dsym is an option, and indeed this is the default output from gym.

If I add this to my fastfile..

upload_symbols_to_crashlytics(dsym_path: "./App.dSYM.zip")

I get the following error:

 error: Invalid dSYM path (path does not end in ".dSYM"):

[code]

### Configuration Files

Please copy the complete content of your `Fastfile` and any other configuration

[2016-03-24 17:55] TKBurner commented on #3925
Hi @Drarok

Hope you are doing well! Can you let me know if you are able to proceed with the manual setup? Thanks!

[2016-03-24 18:10] asfalcone commented on #3928
@PitchLabsAsh Thanks for reporting! Can you share the full output (and stacktrace if there is one)?

[2016-03-24 18:19] PitchLabsAsh commented on #3928
Updated to add abbreviated build output.

[2016-03-24 18:19] kNeerajPro commented on #3917
title.strings file -
"Login" = "This is the Login Screen";

Framefile.json -

{
  "default": {
    "keyword": {
      "fonts": [
        {
          "font": "./fonts/OpenSans-Regular.ttf",
          "supported": ["en-US"]
        }
      ]
    },
    "title": {
      "fonts": [
        {
          "font": "./fonts/OpenSans-Regular.ttf",
          "supported": ["en-US"]
        }
      ],
      "co

[2016-03-24 18:26] BrettThePark commented on #3876
@TKBurner Setting the username in pilot does not seem to fix the issue.

[2016-03-24 18:54] #3907 closed

[2016-03-24 19:14] mfurtak commented on #3889
Hi folks - we've released [`spaceship` 0.24.1](https://github.com/fastlane/fastlane/releases/tag/spaceship%2F0.24.1) with a fix for this. Please update and let us know if that fixes things for you! :+1: :rocket:

[2016-03-24 19:36] ex3ndr commented on #1164
Still not uploading at all, Mac App uploads well. Just immediately exit command with success return code.

[2016-03-24 19:42] lmirosevic commented on #3889
Seems to work now. Thanks for the quick fix!

[2016-03-24 19:47] #3889 closed

[2016-03-24 19:51] tettoffensive commented on #1416
@oronbz thanks! I was just using an html file per mailgun's advice. Didn't know about the erb.

[2016-03-24 20:01] asfalcone commented on #3928
@PitchLabsAsh Cool, that's helpful. Looks like the `upload-symbols` binary in the crashlytics pod is rejecting the zip file. What version of the crashlytics pod are you using?

[2016-03-24 20:02] asfalcone commented on #3928
Also can you check how many .dSYM files are in that .zip? Only 1 file is supported right now (yea I know that's confusing for a .zip file :disappointed:)

[2016-03-24 20:05] PitchLabsAsh commented on #3928
Yes one dSYM, latest crashlytics sdk

[2016-03-24 20:27] PitchLabsAsh opened #3934 "cant get sign resign working from fastfile"
From the command line the following command works fine

sigh resign ./build/AssistMobile.ipa --signing_identity "iPhone Distribution: Autologic Diagnostics Limited (6BXRV5C384)" -n "match AppStore com.autologic.assistmobile"

If I try and run the same command from a fastfile its not clear in the docs what the params should be and what makes sense to me seems to produce an error.

[code]

This give

[2016-03-24 20:47] asfalcone commented on #412
Going to close this since it has been quiet for a few months!

[2016-03-24 20:47] #412 closed

[2016-03-24 20:48] asfalcone commented on #427
Going to close this issue since it has been open for a while without comment.

[2016-03-24 20:48] #427 closed

[2016-03-24 22:47] Ben-G commented on #337
This link is dead: https://github.com/KrauseFx/fastlane/blob/master/docs/CodeSigning.md
Is setting the profile directly in Xcode still the recommended way of handling this? I would like to switch the profile for different lanes but can also accomplish it with a separate script.

[2016-03-24 22:56] pedro380085 opened #3935 "Remove app from simulator after snapshot is complete"
Is there a way to delete the app after snapshot has successfully completed?

SNAPSHOT_REINSTALL_APP runs before the build, what about after?

The reason for this is intensive app delivery; on a given day my CoreSimulator/Devices folder can go up to 8gb in data.

As always, thanks!

[2016-03-24 23:40] eha11 commented on #3888
Today I uploaded new build versions for the versions that are stuck in iTunes. Those builds went through fine. Subsequent pilot uploads however still get stuck waiting for processing.

[2016-03-24 23:43] KrauseFx commented on #337
The most up to date documentation on how to do that is using https://codesigning.guide

[2016-03-25 01:05] asfalcone commented on #477
Going to close this since it has been open for a while without response.

[2016-03-25 01:05] #477 closed

[2016-03-25 01:56] kcharwood commented on #3877
@vfog I think you are exactly right. I'm seeing the same, and not using cocoapods.

[2016-03-25 01:59] kcharwood commented on #3877
@mcactive @vfog I've verified updating to xcodeproj 1.0.0 beta 3 fixes this for me. I am _not_ using cocoapods.

Fastlane may need to bump the minimum version of xcodeproj to resolve this.

[2016-03-25 02:00] kcharwood commented on #3877
@mcactive I believe this one should be reopened until its resolved.

[2016-03-25 02:05] mcactive commented on #3877
Didn't know fastlane also used Xcodeproj gem. Will reopen it until further notice.

[2016-03-25 02:08] kcharwood commented on #3877
You can see a few requires here:

`https://github.com/fastlane/fastlane/search?p=1&q=xcodeproj&utf8=%E2%9C%93`

[2016-03-25 02:31] kcharwood commented on #3877
Look like its defined [here](https://github.com/fastlane/fastlane/blob/1e8762d842713407a21cc3d1abacd822a0a83141/fastlane/fastlane.gemspec#L26).

I think this needs to be bumped to minimum 1.0.0-beta3

[2016-03-25 03:14] K76154 commented on #3886
This is not project specific, because I also have the same problem. I believe this is a widespread issue.

[2016-03-25 07:40] gauravdaxini commented on #3900
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I'm also facing the similar issue while creating Provisioning Profiles using sigh. Everything was working fine till the last update to sigh this week. After the update, I'm getting the followi

[2016-03-25 09:51] krodak commented on #1926
Have same issue after switching to XCode 7.3

[2016-03-25 09:52] tspecht commented on #1926
Had Xcode 7.2 but also happening with 7.3

[2016-03-25 10:49] JanC opened #3938 "fastlane init does not find app"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
When I run `fastlane init` on a exstisting app, fastlane does not find it in ITC

##### Complete output when running fastlane, including the stack trace and command used

[code]

Note that the

[2016-03-25 11:41] aln787 commented on #3934
@PitchLabsAsh it doesn't look like resign is an option for sigh while using it as an action in a lane.  FastLane actions are  a different subset of commands compared to calling a gem directly.  Below is the documentation for the sigh action.   Try this instead:
[code]

##`fastlane actions sigh` returns:

[code]

[2016-03-25 11:46] PitchLabsAsh commented on #3934
Ok thanks.. I hadn’t thought to simply run it as a shell action!

[2016-03-25 11:50] aln787 commented on #3920
@biolinh did you add both of your variables (`BUNDLE_IDENTIFIER` and `MYAPP_NAME`) in an `Appfile` as [your medium example](https://medium.com/mitoo-insider/how-to-set-up-continuous-delivery-for-ios-with-fastlane-and-circleci-c7dae19df2ed#.xs7ls237z) does?  [Here is a more complete example to follow that may answer your question.](https://github.com/fastlane/examples/blob/master/Acast/Appfile)

[2016-03-25 12:04] aln787 commented on #3934
@PitchLabsAsh I found a better solution.  It looks like `resign` is an available Fastlane action (docs below). FYI - you can run `fastlane actions` to see app available Fastlane actions.

[code]

[2016-03-25 12:18] cyril94440 opened #3941 "Change a variable in the code"
Hey!

I have a DEBUG variable, and I'd like gym to build a version with True and then a version with False. Any idea about the way I can do it with fastlane?

Thank you!

[2016-03-25 13:26] jaymuthialu commented on #1503
We have the same issue. Our build was working fine and we could upload to iTunesConnect every time through Fastlane but from yesterday onwards we got the below issue

[08:59:32]: Return status of iTunes Transporter was 1: Your Apple ID or password was entered incorrectly. (-20101).

We did not change the password and we could login in iTunesConnect web site without any issues. I then tried uploadi

[2016-03-25 13:31] dusek commented on #1503
@jaymuthialu to assist in diagnostics, did you upgrade fastlane yesterday? If yes, do you recall from which version to which version?

[2016-03-25 13:38] jaymuthialu commented on #1503
@dusek Thanks for the quick response. We did upgrade fastlane recently. I am thinking a week back but not sure. We are currently on version 1.66.0. I changed the password to remove special characters and reset new password only using alpha-numeric and now it is working. Let me know if I can assist you in any way.

[2016-03-25 13:40] jaymuthialu commented on #1503
@dusek After changing the password it is uploading to iTunesConnect but ends with an error

This train could not be activated because there is no testable build in the train

[2016-03-25 13:43] Gladkov-Art commented on #3921
I have the same issue. The last line in my console is:
 `xcodebuild[4152:18397]  iPhoneSimulator: Timed out waiting 120 seconds for simulator to boot, current state is 1.`

[2016-03-25 13:55] dusek commented on #1503
@jaymuthialu I am not a fastlane expert (not to mention developer), but I feel that is a different issue - it seems fastlane logged in fine into iTC, but learned that a precondition for upload is not safisfied. As this is unrelated to robustness of password handling (i.e. this issue), I suggest you discuss this outside of this issue, e.g. by opening a new issue for this specific problem. Thanks

[2016-03-25 14:31] TKBurner commented on #3934
@PitchLabsAsh Glad to hear you are up and running! Closing this issue out :+1:

[2016-03-25 14:38] shulard commented on #2037
Hello !

I saw that @pieisgood code check itc data, is there a way to deal with itc and google play data ?
I'm currently searching a solid way to aggregate these data...

Thanks

[2016-03-25 14:45] TKBurner commented on #3917
Hi @kNeerajPro! Thanks for following up. It's important to note that, some stock images provided by Apple still have a white background instead of a transparent one. You'll have to edit the Photoshop file to remove the white background, delete the generated .png file and run frameit again. Also, we only officially support black and silver.

Let me know how it's going on your end :+1:

[2016-03-25 14:52] erdemPinch commented on #3886
Hy,

Same here, I also have the problem.

Thanks for looking into it :)

[2016-03-25 14:53] TKBurner commented on #1503
@jaymuthialu Just wanted to follow up. We are looking into a few problems with password characters right now. Expect an update soon! :+1:

[2016-03-25 14:55] TKBurner commented on #3921
@Gladkov-Art Thanks for letting me know. Does the simulator launch and open your app during this time span?

[2016-03-25 15:00] TKBurner commented on #3941
Hi @cyril94440! Thanks for reaching out. You can run gym multiple times in the same lane. Run fastlane actions gym to see the parameters you can add to your run.

Thanks!

[2016-03-25 15:01] shulard commented on #3682
Hello !It's actually related to ITC only ? Do you think it can also be done for the play store ?

[2016-03-25 15:03] cyril94440 commented on #3941
That's the thing. I don't know how to pass a variable from gym to my Xcode so that I can do a IF in my code.

[2016-03-25 15:04] TKBurner commented on #3938
Thanks for reaching out! @JanC can you let me know if you allow Fastlane init to create the app if your current metadata syncs down? I wanna make sure you get up and running :+1:

[2016-03-25 15:04] #3938 closed

[2016-03-25 15:06] dusek commented on #3876
Maybe solved by PR #3832 .

[2016-03-25 15:11] TKBurner commented on #3876
@BrettThePark After #3832 gets merged can you update and let me know if you issue is resolved?

Thanks!

[2016-03-25 15:11] #3876 closed

[2016-03-25 15:12] TKBurner commented on #3941
@cyril94440 Thanks for following up. It's a ruby do block if that helps you understand the syntax. However, it sounds like you don't need an if statement so much as to run gym twice in a row exporting different ipa files.

Thanks!

[2016-03-25 15:16] kNeerajPro commented on #3917
I am sorry you didn't understand my question. Its not working with the black one but works with other. I don't understand why. Please see the above screenshots attached. Any ideas about it?

[2016-03-25 15:23] TKBurner commented on #3900
Hi @gauravdaxini Can you let me know what happens if you run cert first? There are no local code signing identities found. You can run `security find-identity -v -p codesigning` to get this output. This Stack Overflow thread has more information: http://stackoverflow.com/q/35390072/774. (Check in Keychain Access for an expired WWDR certificate: http://stackoverflow.com/a/35409835/774 has more info

[2016-03-25 15:43] max-potapov commented on #3928
Same on me. Submitted a crash report with id: `d4f6d560958c4f4327764f472daa0505`

[2016-03-25 16:54] KrauseFx commented on #3941
@cyril94440 are you talking about having an `if` in your iOS code? If so, how about you use preprocessor macros? You can set them using `gym` :+1:

[2016-03-25 16:57] Gladkov-Art commented on #3921
@TKBurner no, it doesn't. Scan opens default simulator with black screen.

[2016-03-25 16:58] cyril94440 commented on #3941
That is exactly what I am looking for.
Could you help me to setup that?

Thank you so much.

[2016-03-25 17:16] twobitlabs commented on #3888
We're seeing the same thing with pilot 1.4.1:

`pilot(distribute_external: false, changelog: changeling)`

used to work fine but now every time we run fastlane it uploads the build and iTunes Connect processes it but fastlane sits there infinitely printing the following (and therefor never updates the changelog):

`[10:12:25]: Waiting for iTunes Connect to process the new build
[10:12:29]: Waiting

[2016-03-25 17:35] TKBurner commented on #3935
Hi @pedro380085! Great idea. It's not possible right now, but if you want to submit an action as a pull request the team will look into it! :+1:

[2016-03-25 17:35] #3935 closed

[2016-03-25 17:38] TKBurner commented on #1164
@ex3ndr Thanks for letting us know. Can you send over the full output when you run fastlane run crashlytics?

Thanks!

[2016-03-25 17:40] TKBurner commented on #3917
Hi @kNeerajPro! Thanks for following up. Can you send me the full text output when your run frameit silver?

Thanks!

[2016-03-25 17:41] TKBurner commented on #3921
@Gladkov-Art Thanks for following up. What happens if you clear the data from your simulator?

Thanks!

[2016-03-25 17:54] pieisgood commented on #3682
Spaceship is related to iTunes Connect only, that's correct. I'm not sure how the expansion of fastlane into Android is planned out, but I thought there were already APIs for google play store analytics data?

[2016-03-25 18:18] KrauseFx commented on #3935
If you use `fastlane` check out the `reset_simulators` action to completely reset all your simulators :+1:

[2016-03-25 18:21] #3908 closed

[2016-03-25 18:25] KrauseFx commented on #3906
There are a few very big reasons on why `sigh` doesn't do that:

- When the Xcode project is modified, the git status gets dirty
- Many people don't use Xcode projects, but still code sign (e.g. Xamarin projects)
- Some companies don't even use Xcode projects like we do (e.g. Facebook)
- People would be really mad if we modified their Xcode projects, and they already had changes there before, and

[2016-03-25 18:25] #3906 closed

[2016-03-25 18:27] KrauseFx commented on #3897
So that's why you have to run `match` with `readonly` mode disabled, otherwise it can't create a new certificate

[2016-03-25 18:27] #3897 closed

[2016-03-25 18:28] KrauseFx commented on #3896
Uninstalling old profiles sounds nice, but might result in new issues. Have you followed the [Xcode Setup Guide](https://github.com/fastlane/fastlane/tree/master/match#setup-xcode-project) on how to set a provisioning profile using environment variables?

[2016-03-25 18:39] martnst commented on #3626
Any update on this? FYI: I am now on version `1.10.5` and it's still ignoring my 3,5 inch screenshots.
For me it's not to much of an issue as I have only two locales. So no rush from my side here.

[2016-03-25 18:52] kcharwood commented on #3921
To be clear, when I saw this issue, I was clearly passing in an iPhone 6 9.3 simulator, scan was sending the correct UUID for that simulator, but an iPhone 6s Plus simulator was launched with a black screen.

I've since nuked that machine and started over with a new xcode install.

[2016-03-25 19:55] evgeny1 commented on #1164
@TKBurner why did you close this issue?

[2016-03-25 20:52] kNeerajPro commented on #3917
I will get back to you on this after couple of days.

[2016-03-25 21:00] shulard commented on #3682
I can't find that kind of API on Google Play store... There are some mention of Google Cloud CSV data that can be retrieved but nothing really solid... I'm gonna continue searching about, thanks for your answer (and your awesome work on that issue :+1:).

[2016-03-25 21:01] pieisgood commented on #3682
Good luck! If you find anything post it here since I'll be in the same boat soon enough.

[2016-03-25 21:12] KrauseFx commented on #3941
Maybe this issue helps? https://github.com/fastlane/fastlane/issues/2660

[2016-03-25 23:00] anton-matosov commented on #3896
Sure I did. Otherwise it will not work.

<img width="643" alt="sigh" src="https://cloud.githubusercontent.com/assets/3339485/14055837/59dc4b52-f2a2-11e5-8427-eb4f36835eb5.png">

@KrauseFx what issues do you expect with uninstalling old profiles?

[2016-03-26 00:04] simplysoft commented on #1967
Still having this issue with supply 0.5.2.
The metadata was previously downloaded with `supply init` and we then tried to re-upload it and got this problem:

[code]

[2016-03-26 02:42] ex3ndr commented on #1164
I have found problem. I have specified path to framework internal "submit" command. When executed via fastlane all debug information is not shown anywhere and i can't see that i need to change path.

[2016-03-26 03:49] chrisamanse commented on #1517
When using Deliver alone, parameter `app_version` is required for it to create a new version on iTunes Connect.

[2016-03-26 04:15] calclavia commented on #1832
Using gym 1.6.2.

Now the command ends and times out. However, this does not really resolve the problem of the command `xcrun xcodebuild -list -project 'platforms/ios/app.xcodeproj'` stalling the terminal. I'm not sure what would be a good solution for this.

[2016-03-26 06:49] lacostej commented on #3747
@jfresen we ve implemented syncing of the screenshots some days ago: see #3755

[2016-03-26 07:32] wkoszek commented on #3899
@markuswinkler had the same problem today. I have `rvm reinstall`with brew's openssl and it helped.

[2016-03-26 07:57] wkoszek opened #3945 "increment_build_number broken with Ruby 2.2.4, Gem 2.4.8, fastlane 1.68.0"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I tried the newest `fastlane`, but it had many problems, so I'm describing something that has indication of working: fresh OSX El Captain + `rvm`/ruby 2.3.0 + `gem install fastlane` + `gem ins

[2016-03-26 08:00] wkoszek commented on #3945
When I comment the `increment_build_number` out, it works fine.

[2016-03-26 08:15] MickeyHub commented on #3945
did you [set up your Xcode project](https://developer.apple.com/library/ios/qa/qa1827/_index.html) first?

[2016-03-26 13:08] Gladkov-Art commented on #3921
@TKBurner, Thanks. I tried, It didn't help.

[2016-03-26 17:54] wkoszek commented on #3945
@MickeyHub Yes. I've been successfully using `fastlane` before I reinstalled my environment, and incrementing project number worked without an issue. After the reinstallation this error from the top showed up.

My screenshot:
![image](https://cloud.githubusercontent.com/assets/483344/14061589/0a0bbb5e-f341-11e5-81c1-0307508a9d7c.png)

[2016-03-26 18:24] cyril94440 commented on #3941
unfortunately  custom_build_args is not available with gym.

[2016-03-26 19:04] kcharwood commented on #3945
I wonder if this is related to [this issue](https://github.com/fastlane/fastlane/issues/3877#issuecomment-201107122)?

[2016-03-27 01:19] MickeyHub commented on #3945
thx @kcharwood, both `CocoaPods` & `fastlane` depend `xcodeproj` gem, and `CocoaPods v0.39` restricts its mini version to 0.28.2, CocoaPods v1.0.0.beta6 restricts its mini version to 1.0.0.beta3 while `fastlane v1.68.0` restrict its to 0.20, so the original issue is attributed to `xcodeproj` gem, maybe fastlane should update the restriction for `xcodeproj`'s mini version.

[2016-03-27 03:24] KrauseFx commented on #3941
Of course
[code]

[code]

[2016-03-27 04:22] ex3ndr commented on #1780
Looks like that you also need to have development provisioning to build on Xcode 7.3 even for app store or ad hoc

[2016-03-27 05:52] Gladkov-Art commented on #3921
@kcharwood thanks for your expirience. Probably you have tried everything before it. I have reinstalled OS X recently, so is there anything else I can try?

[2016-03-27 09:42] JanC commented on #3938
ok, if I continue and enter manually the app id, it seems to work:

[code]

[2016-03-27 12:07] gran33 opened #3950 "Watchbuild Error: This user is not allowed access to the window system right now"
### New Issue Checklist

- [ x ] Updated fastlane to the latest version
- [ x ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

What is this Error?! ```watchbuild``` has no access ?! :/

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Configuration Files

No fast

[2016-03-27 18:42] #3941 closed

[2016-03-28 01:43] NachoSoto opened #3951 "Error running upload_symbols_to_crashlytics"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Running `upload_symbols_to_crashlytics` (after `download_dsyms`) fails.

##### Complete output when running fastlane, including the stack trace and command used
`fastlane symbols`

[code]

###

[2016-03-28 01:46] NachoSoto opened #3952 "Feature request: add build number parameter to download_dsyms"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I have dozens of builds in iTunes Connect, so running `download_dsyms` takes a long time. I'd like to be able to add a parameter so that I can run it for just the latest build number.

### Con

[2016-03-28 02:03] pavm035 commented on #3879
@TKBurner  That's true Thank you so much :)

[2016-03-28 02:52] khantthulinn commented on #3899
@TKBurner Hi Thanks. This is how I use fastlane.

### Issue Description

As written in 1st post

##### Complete output when running fastlane, including the stack trace and command used

As written in 1st post

### Configuration Files

Fastfile:
[code]

### Environment

fastlane version (fastlane -v):
I use rvm. Ruby is 2.2.3 and fastlane version is 1.67.0

[2016-03-28 02:54] donaldpiret commented on #1631
+1

[2016-03-28 02:58] khantthulinn commented on #3899
@markuswinkler I try to reinstall and I got this error.

<a href="http://tinypic.com?ref=35me63k" target="_blank"><img src="http://i65.tinypic.com/35me63k.png" border="0" alt="Image and video hosting by TinyPic"></a>

When I try to update rvm, I got another error.

<a href="http://tinypic.com?ref=33d9fle" target="_blank"><img src="http://i64.tinypic.com/33d9fle.png" border="0" alt="Image and video

[2016-03-28 03:35] markuswinkler commented on #3899
hmm, running these three commands in sequence solved it for me

[code]

[2016-03-28 03:59] wade0317 commented on #1631
Hi, guys,
I an glad to tell you, though we can not upload In-app purchases by deliver, but we could upload it by ApplicationLoader which is supported by Apple. ApplicationLoader is fast for upload In-app puchase by import a Template.txt.  Just one minute, you can upload 100 Items of In-app purchase.
[AppMassImportTemplate.txt](https://github.com/fastlane/fastlane/files/191359/AppMassImportTemplate

[2016-03-28 06:34] DeveloperPans opened #3953 "pilot,Apple Id password correct as well as wrong"
### Issue Description

At step pilot,it tell me **login to iTunes Connect successful** but when submit to TestFlight,it shows `[Transporter Error Output]: Your Apple ID or password was entered incorrectly. (-20101)`

it confused me,is this a bug or I missed something?

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Configuration Files

Please c

[2016-03-28 08:40] gauravdaxini commented on #3900
Hi @TKBurner, I tried to run cert first but, I'm getting the following errors.

[code]

[2016-03-28 09:08] biolinh commented on #3920
Maybe  I wrote  unclearly. I want to use a valuable from the environment that is assigned from .properties file.

Then, in all file, I set the variable and it can automatic got the value to using.

You can see that, as I wrote above.

app_identifier ENV[“APP_IDENTIFIER”]
apple_id ENV[“APPLE_ID”]

It means that, app_identifier will get the value from variable APP_IDENTIFIER.

In addition that, in F

[2016-03-28 09:24] pronebird opened #3954 "Get pricing tier of the app"
Fastlane already has the connection established with iTunes Connect, would that be possible to leverage it to get the pricing matrix for the app? I am not much familiar with ruby so I'd appreciate a hint where should I look towards to get this done. I know how to make a fastlane action, just not sure how to hook up existing infrastructure.

I see that https://github.com/fastlane/fastlane/blob/mast

[2016-03-28 10:43] dusek commented on #3953
Do you have any of these characters in the password for the Apple ID `developer@linkedj.com`?

[code]

If yes, then this is probably related to #3832.

[2016-03-28 11:12] pronebird commented on #3954
After extensive googling I found that this feature landed in Spaceship not that long ago with a valuable piece of information on how to mess with its guts to workaround log in:

https://github.com/fastlane/spaceship/pull/244#discussion_r54871613

[2016-03-28 11:12] #3954 closed

[2016-03-28 12:17] sarunw opened #3955 "Problem upload app with share extension"
I just added app extension to my app and now I got error when try to submit to TestFlight

here is my fastfile

[code]

Error
[code]

I guess its because provision profile, but don't sure about the proper way to fix this.

[2016-03-28 12:18] t4ec commented on #3914
I am having the same issue: configs are really confusing and there is no error or anything to see the reason for missing headings. I get just framed screenshots without any text, no messages or warnings.

[2016-03-28 12:31] Gladkov-Art commented on #1926
I have "Exit status: 65" too. But my tests run correctly and results html/junits are generated. But the lane can't e finished due to this sudden exit.
The results of running my lane with `--verbose` :

[code]

[2016-03-28 13:14] kcharwood commented on #3921
Ok I made it back to my build machine that was failing last week, and its still failing this morning.

Here is all the logs I have:

[Logs.zip](https://github.com/fastlane/fastlane/files/191817/Logs.zip)

* *fastlane_console.log*: The terminal output for running fastlane
* *Simulator_Diagnostic_Log.log*: The diagnostic log referenced in the fastlane output
* *Xcodebuild.log*: The raw log generated

[2016-03-28 13:33] DeveloperPans commented on #3953
@dusek Thanks for answer. I've read #1503 and #3832 carefully,double check my password. it's not contain any characters above.

The only two special characters in my password are `.` and  `!`.Maybe because of this characters?

`.`is the end of password.Maybe because of it?

[2016-03-28 13:39] kcharwood commented on #3921
I just ran `snapshot reset_simulators`, and I can clearly see that _wrong_ simulator is being launched by Xcode.

[2016-03-28 13:43] kcharwood commented on #3921
More data.

If I run the command generated by `scan`

[code]

It fails to build with the timeout error. If I remove `build` from the command, and only leave `test`, it succeeds

[code]

[2016-03-28 13:52] lacostej commented on #3747
@jfresen did you by any chance have a look at #3755 ? Is this something you would find useful ?

[2016-03-28 14:02] kcharwood opened #3956 "[Feature Request] Pilot should truncate the changelog to 4000 characters"
### New Issue Checklist

- [Check] Updated fastlane to the latest version
- [Check ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Apple throws an error if your changelog is over 4000 characters. I found this out _after_ waiting 35 minutes for my build to process. It would be helpful if pilot truncated the change

[2016-03-28 14:15] YissacharB commented on #1770
@KrauseFx in the end i fixed it i dont remember how.

[2016-03-28 14:35] TKBurner commented on #1770
@YissacharB Glad to hear you got up and running. Closing this out. :+1:

[2016-03-28 14:35] #1770 closed

[2016-03-28 14:37] TKBurner commented on #3956
@kcharwood Thanks for reaching out! Interesting idea. The team here will look this over :+1:

[2016-03-28 14:38] kcharwood commented on #3956
Here is the error for reference:

`What to Test can't exceed 4000 characters.`

[2016-03-28 14:42] TKBurner commented on #3921
duplicate of #1926. Closing this thread and moving over there.

[2016-03-28 14:44] kcharwood commented on #3921
I don't think this is related to #1926

[2016-03-28 14:45] TKBurner commented on #3914
@kNeerajPro What happens if you use the exact framefile from the example project? Are you able to get those titles to show?

Thanks!

[2016-03-28 14:47] TKBurner commented on #3955
@sarunw Thanks for reaching out. It looks like your extension is not being signed with the same provisioning profile as your app. You'll need to configure this in Xcode. Let me know how it goes :+1:

Closing this out for now, feel free to follow up.

[2016-03-28 14:47] #3955 closed

[2016-03-28 14:54] i2amsam commented on #1832
@calclavia :+1: going to close this, hopefully those steps are useful to others too.

[2016-03-28 14:54] #1832 closed

[2016-03-28 14:57] #3796 closed

[2016-03-28 14:58] TKBurner commented on #3900
@gauravdaxini  You are only allowed three distribution certs. The problem probably is that CircleCI will create a fresh machine for every run, so you run out of slots. You'll have to store the certificate + private key somewhere and import it, instead of running cert. If you have your own machine, you can use cert :+1:

[2016-03-28 15:01] kNeerajPro commented on #3914
@TKBurner  unfortunately I am working on some other project while simultaneously figuring this out. I will get back to you when I start working on this again.
I apologise for any delays from my side.

[2016-03-28 15:01] TKBurner commented on #3899
@khantthulinn Have you tried the commands in @markuswinkler comment?

Thanks!

[2016-03-28 15:03] TKBurner commented on #3952
@NachoSoto Thanks for reaching out! I'll make sure the team looks this over. Thanks!

[2016-03-28 15:04] TKBurner commented on #3951
@NachoSoto Thanks for reaching out! What happens if you delete and regenerate that info.plist? If you open the file itself is it of the expected format?

Thanks!

[2016-03-28 15:14] TKBurner commented on #3950
@gran33 Thanks for reaching out! This seems like it's related to a notification setting locally on your machine. Regardless I'm going to have the team here look into this. Thanks!

[2016-03-28 15:14] TKBurner commented on #3938
Awesome! @JanC Glad to hear you are up and running :+1:

[2016-03-28 15:21] TKBurner commented on #1832
Thanks @calclavia

My problem was that xcrun xcodebuild -list -project looking for user scheme in project directory. xcuserdata is where it should be located.

The solution for me was to install xcodeproj gem – gem install xcodeproj.
Create small script to recreate user schemes

#!/usr/bin/env ruby
require 'xcodeproj'
xcproj = Xcodeproj::Project.open("MyProject.xcodeproj")
xcproj.recreate_user_sch

[2016-03-28 15:22] TKBurner commented on #1164
@ex3ndr Are you up and running?

[2016-03-28 15:25] Gladkov-Art commented on #3921
Agree with @kcharwood

[2016-03-28 16:03] kcharwood commented on #3921
Note at this time, I can think I can work around this "issue" by using the `skip_build` parameter on `scan`. I still don't know that the actual issue is though.

[2016-03-28 16:09] Gladkov-Art commented on #3921
@kcharwood, how do you build project before testing it?

[2016-03-28 16:20] gfpacheco commented on #3953
I'm also facing this issue, my password has `#` and `@` special chars.

[2016-03-28 16:41] kcharwood commented on #3956
Something like this should do the trick, I just don't know where to put it :)

[code]

[2016-03-28 17:03] jfresen commented on #3747
Hi, thx for reminding me. #3755 certainly looks useful. If I understand correctly, it will check for each screenshot to be uploaded if it is not already on that position in ITC, and will not upload it if the check passes. That means that if I would upload, say, 500 new screenshots and 8 of them fail (e.g., due to connection problems), the next time I run deliver, it will only upload only the remai

[2016-03-28 17:57] NachoSoto commented on #3951
Regenerating would mean I need to recompile the framework... but why would I need to do that? the `dSYM`s I downloaded are for whatever frameworks and versions I shipped with that particular version of the app.

[The file](https://github.com/NachoSoto/AsyncImageView/releases/tag/v0.1) is correct, yes.

[2016-03-28 18:03] asfalcone commented on #3928
Confirmed that the Fabric `upload-symbols` binary doesn't accept .zip files. The workaround for right now is to send only .dSYM files. Will update this ticket when .zip files are working!

[2016-03-28 18:04] KrauseFx commented on #3928
We're actively working on providing an update to the Fabric binary so that it properly handles zip files.

[2016-03-28 18:05] KrauseFx commented on #3951
Thanks @NachoSoto, working on a fix now :+1:

[2016-03-28 18:42] PitchLabsAsh commented on #3928
For the short term how do I get gym to produce unzipped dyms?

Sent from my iPhone

[2016-03-28 18:59] i2amsam commented on #3945
@MickeyHub thanks for this table :+1: !  It looks like we might be in a bind here, we can't update our dependency because then we'd be in conflict with `CocoaPods 0.39` could you try updating to `CocoaPods 1.0.0.beta6` and `xcodeproj 1.0.0.beta.3` and seeing if that solves the problem?  If so, [this might be the issue to follow](https://github.com/CocoaPods/Xcodeproj/pull/356).

[2016-03-28 19:08] i2amsam commented on #3877
@mcactive and @kcharwood Thanks! :+1: I put a [comment](https://github.com/fastlane/fastlane/issues/3945#issuecomment-202529688) over in #3945, it appears we won't be able to bump our min version because that would put `fastlane` in conflict with `cocoapods 0.39` which is still working ok for Xcode 7.2 users. Eek.  I'd like to close this and track it in the other issue if that sounds right to you

[2016-03-28 19:14] freynolds commented on #1636
can say that new update, 1.2 fixed this issue

[2016-03-28 19:19] TKBurner commented on #1636
@jbonsant I'm closing this issue out. Can you verify that our most recent update fixed the issue?

Thanks!

[2016-03-28 19:19] #1636 closed

[2016-03-28 19:20] TKBurner commented on #3877
@kcharwood I'm closing this issue out so we can track on the other ticket. Thanks for working with us!

[2016-03-28 19:20] #3877 closed

[2016-03-28 19:24] TKBurner commented on #3747
@jfresen Thanks for following up. We are going to track this over at #3755. Please feel free to update that ticket with details :+1:

**FR: Skip screenshot download**

[2016-03-28 19:24] #3747 closed

[2016-03-28 19:25] TKBurner commented on #3953
@dusek @gfpacheco The team is currently looking into these issues. Feel free to update if you have any patterns or new details that might help us. Thanks again for using Fastlane :+1:

[2016-03-28 19:28] TKBurner commented on #3921
@kcharwood How long does your app take to build normally?

@Gladkov-Art Are you getting the same exact error message?

Thanks for working with me!

[2016-03-28 19:29] TKBurner commented on #3956
Thanks @kcharwood! We'll look this over.

[2016-03-28 19:49] dusek commented on #3953
@TKBurner I added some observations in https://github.com/fastlane/fastlane/pull/3832#issuecomment-202555984

[2016-03-28 19:55] i2amsam commented on #3950
@gran33 Hrm, odd.  Could you post the full output from running `watchbuild -v`?

Also, what version of terminal-notifier are you using (what is the output of `terminal-notifier --help | head -n 2`?

Also, what OS version are you running (what is the output of `sw_vers -productVersion`)?

Had this been working previously or has it never worked?  If it was working before, anything you think may have

[2016-03-28 20:15] i2amsam commented on #1926
I think there may be different underlying issues in this,  for folks who are seeing this with XCode 7.3 I suspect this is a duplicate of https://github.com/fastlane/fastlane/issues/3886 and I'll be updating over there.

[2016-03-28 20:31] i2amsam commented on #3886
Looks like xctool make a fix upstream per @nrako's comment above, has anyone tried that fix?  Looks like it has not been shipped with a new release yet.

[2016-03-28 20:33] TKBurner commented on #1926
@Gladkov-Art We are going to track this on #3886. Can you follow there? I'm going to close this ticket out, but we'll keep working with you over there! :+1: Thanks

[2016-03-28 20:33] #1926 closed

[2016-03-29 00:21] mokagio opened #3966 "Possibly inconsistent commander gem version requirement"
Hello all :smile:, first of all thanks for the great work you guys are putting into fastlane :clap:

I just run in some dependency resolution in a project using fastlane and other gems.

In particular I noticed that `fastlane_core` depends on [`commander`](https://github.com/commander-rb/commander) with [version requirement `= 4.3.5`](https://github.com/fastlane/fastlane/blob/master/fastlane_core/

[2016-03-29 05:06] dpettit opened #3968 "Match: Certificate has either expired or has been revoked error"
### New Issue Checklist

- [x ] Updated fastlane to the latest version
- [ x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### I am now receiving "Unable to install "app" error whenever I attempt to run the app on my iPhone.  This device has been used successfully in the past without any problem.  The complete error is:

Unable to ins

[2016-03-29 05:11] KrauseFx commented on #3952
The idea for this action was to run it in a cron job every few hours or every night. Do you manually trigger it on your machine? If so, any reason why you don't want to run it on a CI?
Would https://github.com/fastlane/fastlane/pull/3967/files help you?

[2016-03-29 09:27] mborsten opened #3969 "incompatible character encoding error when using cocoapods 1.0.0"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Configuration Files

Please copy the complete content of your `Fastfile` and any other conf

[2016-03-29 09:50] TiagoVeloso commented on #1348
I've also had problems getting the changelog from my Jenkins instance.

[code]

It seems authentication is the issue here. Anonymous access is not enough for my set up.

[2016-03-29 10:40] Gladkov-Art commented on #3921
@TKBurner yes, exactly the same.

[2016-03-29 11:11] eimantas opened #3970 "frameit: support iPhone SE"
### Issue Description

I have downloaded the iPhone 6 and iPhone SE frames from given marketing portal. However attempting to generate screenshots for iPhone SE seems to yield an error. Note that iPhone 6 screenshots are generated just fine:

##### Complete output when running `frameit silver`, including the stack trace and command used

[code]

### Environment

[code]

I use vanilla ruby version

[2016-03-29 11:21] jcampbell05 commented on #3921
Its worth mentioning I was able to get tests to run using XCTool or running them manually from Xcode, so they are doing something magical which causes this to work.

[2016-03-29 13:09] #988 closed

[2016-03-29 13:26] kcharwood commented on #3921
I filed radar [25412159](http://openradar.appspot.com/25412159)

[2016-03-29 13:33] johntmcintosh commented on #3647
Looks like this may be a duplicate ticket of #1942 where the consensus appears to be to default to a .xml extension.

[2016-03-29 13:54] TKBurner commented on #3647
closing this as a duplicate of #1942. Please track this feature request over there :+1:

[2016-03-29 13:54] #3647 closed

[2016-03-29 13:57] TKBurner commented on #3921
@kcharwood Thanks for filling a radar. Let us know if you get any updates.

[2016-03-29 14:01] TKBurner commented on #3970
Hi @eimantas! Can you let me know if you have the file: Missing file: 'iPhone_5s_Vert_Slvr.png' in your device frames folder?

Thanks!

[2016-03-29 14:15] doapp-ryanp opened #3971 "Individual tool changelog?"
Now that all tooling has been merged into the single fastlane repo, we have lost individual tool changelogs.  Is there a way to get at the individual tooling changelog or do you have to go through the release chain on the main repo?

For example, if I would like to see the version history and changelog for `pem` currently I have to keep clicking `next` on the [releases page](https://github.com/fas

[2016-03-29 14:22] eimantas commented on #3970
Nope,

This is what I have in `~/.frameit/devices_frames/iPhone SE`:

[code]

[2016-03-29 14:24] mfurtak commented on #3966
Hi @mokagio - thanks for your kind words and great question! :smile:

`fastlane_core` is locking `commander` at version **4.3.5** because it overrides some `commander` behavior via monkey-patching [here](https://github.com/fastlane/fastlane/blob/master/fastlane_core/lib/fastlane_core/ui/fastlane_runner.rb ). This helps us to provide good error reporting behavior for all of the `fastlane` command-l

[2016-03-29 14:35] mfurtak commented on #1967
Hi folks - we've just released [`supply` 0.5.3](https://github.com/fastlane/fastlane/releases/tag/supply%2F0.5.3) which includes a [fix](https://github.com/fastlane/fastlane/pull/3965) to force UTF-8 encoding when saving metadata downloaded from Google Play.

If possible, can you back up your metadata, and then run `supply init` to redownload the metadata. Then, can you let us know whether running

[2016-03-29 14:40] TKBurner commented on #3969
Hi @mborsten! Hope you are doing well! Can you let me know exactly what commands you are running? Please reformat using this template: https://github.com/fastlane/fastlane/blob/master/ISSUE_TEMPLATE.md

We really want to look into this! :+1:

[2016-03-29 14:45] mfurtak commented on #3971
Hi @doapp-ryanp - thanks for the suggestion! :+1:

We may transition to doing as you describe, but in the meantime, we're actually cross-posting release changelogs to all the tools' old repos as well! You can check out the `pem` releases' info over here: https://github.com/fastlane/pem/releases

[2016-03-29 14:45] #3971 closed

[2016-03-29 14:51] qbraksa commented on #602
The solution suggested by @yuriferretti worked for me with Travis CI. All it takes is to include your development certificates and profiles.

[2016-03-29 14:56] daveanderson commented on #3953
I'm experiencing this on a Pilot step as well. My password includes a `#`.

fastlane (1.68.0)
fastlane_core (0.40.0)

[2016-03-29 15:19] TKBurner commented on #3968
Hi @dpettit! Great to hear from you. Can you let me know what command you run to get this error? Also send over the full output when you get the error.

Thanks :+1:

[2016-03-29 16:09] dpettit commented on #3968
Thank you for responding!

I receive this error after fast lane has successfully run, when I attempt to use Xcode to load the app onto an actual device for testing.  I connect my iPhone to my iMac, then select my iPhone as the run device (instead of a simulator), and then click the play button (which builds and then runs the current scheme).

That's when I receive the message.  Here are screenshot

[2016-03-29 16:24] rinal6366 opened #3973 "Uploading Android builds to Crashlytics Beta using Fastlane crashes Fastlane"
### New Issue Checklist

### Issue Description
Trying to upload an apk file to Crashlytics Beta using fastlane crashes Fastlane.
##### Complete output when running fastlane, including the stack trace and command used
**Command Used:**
fastlane platform(android) lane(upload)

**Output**
[code]

Please copy the complete content of your `Fastfile` and any other configuration files you use below:

Fas

[2016-03-29 16:29] esetnik commented on #3886
I can confirm i'm experiencing the same behavior. Thanks!

[2016-03-29 17:25] asfalcone commented on #3973
@rinal6366 Thanks for the report.

Can you add `--verbose` to your `fastlane upload` command and paste the output? It looks like the command that we generate to call crashlytics is returning unexpected results.

[2016-03-29 17:58] rinal6366 commented on #3973
@asfalcone here is the output of the verbose command.
Not much of a difference.

fastlane android upload --verbose
INFO [2016-03-29 10:40:00.75]: -------------------------------------------------
INFO [2016-03-29 10:40:00.75]: --- Step: Verifying required fastlane version ---
INFO [2016-03-29 10:40:00.75]: -------------------------------------------------
INFO [2016-03-29 10:40:00.75]: fastlane ve

[2016-03-29 18:20] asfalcone commented on #3973
Can you try running the Java command front this output directly and paste
the output here?
On Mar 29, 2016 1:58 PM, "Rinal Shah" <notifications@github.com> wrote:

[2016-03-29 18:24] simplysoft commented on #1967
Still not working :( Downloaded a fresh copy of the data and then trying to re-upload them fails with the same error. When inspecting the listings.save, and printing `encoding` of the strings (language, title, etc), all are reported at `US-ASCII`. Maybe a problem with reading the files?

[2016-03-29 18:32] rinal6366 commented on #3973
@asfalcone here is the output. Hope this helps.
ERROR - Crashlytics Developer Tools error.
com.crashlytics.tools.android.project.ManifestData$ManifestIOException: Crashlytics could not find the manifest. Not found at /var/folders/19/bxyf24g953q89x1s3hbqgkc80000gp/T/xml20160329-17261-1tyho9s
	at com.crashlytics.tools.android.project.ManifestFileProvider.getManifestStream(ManifestFileProvider.java:3

[2016-03-29 18:44] simplysoft commented on #1967
replacing `File.read(path)` with `File.read(path, encoding: 'UTF-8')` in `upload_metadata` seems to solve the problem (note that encoding param is only available since Ruby 2.0 as far as I know)

[2016-03-29 18:44] brandonroeder commented on #3953
I'm seeing this issue as well, my password only has `!` as a special character

[2016-03-29 19:07] mfurtak commented on #1967
Gotcha - sorry that it didn't fix it for you. :frowning: As you may have guessed, we're not able to reproduce this quite exactly locally, so we're trying things a bit speculatively.

We'll look at working your suggestion in. :+1:

As an additional check, can you try something without that code modification? Set a `RUBY_OPT` environment variable equal to `-E utf-8`, get your shell aware of that val

[2016-03-29 19:09] mfurtak commented on #3626
Hi @martnst - thanks for the report :+1:

I believe I have spotted the problem! `deliver`'s screenshot collecting logic will prefer "framed" screenshots to the exclusion of all others if any of the file names it discovers contain `_framed`. Because all of your screenshots are framed _except_ the `iPhone4` ones, those are the only ones being ignored.

So! The question then becomes, why aren't the `

[2016-03-29 19:26] asfalcone commented on #3973
@rinal6366 The error is
[code]

This action [creates a temp file](https://github.com/fastlane/fastlane/blob/master/fastlane/lib/fastlane/helper/crashlytics_helper.rb#L27) to represent the manifest to pass to the crashlytics.jar (then deletes it). When you call the jar manually you'll need to change the `androidManifest` to be a real file on disk. Doing that should give us the *real* underlying err

[2016-03-29 19:57] martnst commented on #3626
Hi @mfurtak, this sound like a bit tricky one to find out. Thx so far.

Do to custom framing (which unf. I can't do with `frameit` for now) I apparently simply forgot to append `_framed` (within my Sketch file).

That said I think a warning would have been nice here. It could be checking for additional files that are matching a missing devices resolutions and tell my as a user, that it had skipped

[2016-03-29 20:15] asfalcone commented on #116
Going to close this issue since it solves the original problem and has been open a while without comment.

[2016-03-29 20:15] #116 closed

[2016-03-29 20:15] asfalcone commented on #482
Going to close this issue since it has been open for a few months without follow up.

[2016-03-29 20:15] #482 closed

[2016-03-29 20:16] asfalcone commented on #469
Going to close this issue since it hasn't been updated in some time.

[2016-03-29 20:16] #469 closed

[2016-03-29 20:22] asfalcone commented on #926
I'm going to close this issue since it has been open for a while without follow up.

[2016-03-29 20:22] #926 closed

[2016-03-29 20:23] asfalcone commented on #999
I'm going to close this issue since it has been open for a while without follow up.

[2016-03-29 20:23] #999 closed

[2016-03-29 20:24] asfalcone commented on #1043
I'm going to close this issue since it has been open for a while without follow up.

[2016-03-29 20:24] #1043 closed

[2016-03-29 20:25] holmesal commented on #3953
I'm also seeing this with `!` as the only special character in my password.

[2016-03-29 20:29] revile commented on #3952
My use case for this is I run `download_dsyms` followed by `upload_symbols_to_crashlytics` when I'm releasing a build, and I wanted to specify to only download the dSYMs for the build I am releasing.

I didn't realise this was intended to be run via cron or something.

[2016-03-29 20:30] mfurtak commented on #3626
Agreed - we'll improve the messaging for sure. :+1:

If it's OK with you, I'll close this out for now, and we'll let you know when a new build goes out with better warnings. Thanks for your help!

[2016-03-29 20:30] #3626 closed

[2016-03-29 20:30] ohwutup commented on #494
Hey everyone! I am going to go ahead and close this issue for now as it has been quite some time since there has been activity on it! We will leave it marked as a feature request and reopen it as soon as we have a chance to bite this off for a future release!

Thanks @czechboy0 ! :octopus:

[2016-03-29 20:30] #494 closed

[2016-03-29 20:32] ohwutup commented on #503
Hey @fatuhoku! Thanks for raising up this feature request! We will close it for now but leave it marked so that, as soon as we get to this for a future release, we will update the issue to keep you informed! Thanks again! :octopus: :ocean: :ox:

[2016-03-29 20:32] #503 closed

[2016-03-29 20:33] ohwutup commented on #263
Hey everyone! I am going to close this issue for now as it seems a bit stale without discussion for some time. please feel free to reopen the issue or continue discussion and we will keep this in mind down the road. Thanks again!! :octopus: !

[2016-03-29 20:33] #263 closed

[2016-03-29 20:35] ohwutup commented on #971
Hey @ileitch, thanks for bringing this up! I am going to mark this as a feature request and close it for now, but will be sure to reopen it again when we get a chance to bite this off for a future release. If you would like to get set up to contribute, we would LOVE that! :smile: :octopus: :palm_tree:

[2016-03-29 20:35] #971 closed

[2016-03-29 20:39] wryphonedev commented on #2030
This issue also affects us.

[2016-03-29 20:47] KrauseFx commented on #3896
@anton-matosov If you have set the provisioning profile by a static UUID it won't reference to it properly any more and fail the build

[2016-03-29 20:47] KrauseFx commented on #3896
In general, we're trying to avoid to do any destructive actions with fastlane, as we don't want anyone to lose anything important

[2016-03-29 20:58] rinal6366 commented on #3973
@asfalcone  is this androidManifest file something specific?

What information do I need to include in the manifest file?

Or it could just be a blank file?

[2016-03-29 21:00] asfalcone commented on #3973
@rinal6366 Just an empty xml file will satisfy the requirement!

[2016-03-29 21:17] rinal6366 commented on #3973
@asfalcone
Output:
WARN - Crashlytics halted compilation because it can't extract Crashlytics build info from the APK: /Users/autobuild/build-archives/RVM_Dev/RaceView-Development-RB-1709.apk
Exception in thread "main" com.crashlytics.tools.android.exception.PluginException: Distribution upload failed.
	at com.crashlytics.tools.android.DeveloperTools.processProperties(DeveloperTools.java:617)
	at

[2016-03-29 21:20] rinal6366 commented on #3973
@asfalcone
Output
WARN - Crashlytics halted compilation because it can't extract Crashlytics build info from the APK: /apk_path/1709.apk
Exception in thread "main" com.crashlytics.tools.android.exception.PluginException: Distribution upload failed.
	at com.crashlytics.tools.android.DeveloperTools.processProperties(DeveloperTools.java:617)
	at com.crashlytics.tools.android.DeveloperTools.processArg

[2016-03-29 23:54] puls opened #3976 "Some documentation that configuration files strip curly quotes would be nice"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

While Fastlane's documentation doesn't—so far as I can tell—say that the configuration file language is plain Ruby, it's not such a stretch to assume that it is, especially given how many Ruby

[2016-03-29 23:59] KrauseFx commented on #494
@ohwutup We now actually have a new method that makes it super easy for us to add

[code]

It's probably 10 minutes of time to add an action for that :+1:

[2016-03-29 23:59] KrauseFx commented on #494
@czechboy0 Do you want to take this over? :smile:

[2016-03-30 00:09] KrauseFx commented on #3976
Thanks for raising this concern, I can see that this results in unexpected side effects which we should fix. This was actually taken over from `danger` (https://github.com/danger/danger/blob/355ad2d2d40f3a171de35d1c18bfc18f9cdb7320/lib/danger/dangerfile.rb#L67).

We've had dozens of users that tried using smart quotes, since they opened the configuration files using TextEdit.

Your proposed messag

[2016-03-30 01:05] asfalcone commented on #3973
@rinal6366 ah ok! now we're getting somewhere.

If you open that apk you're trying to upload, in the assets directory you should be able to find a crashlytics-build.properties file that contains some build specific information. Can you verify if the file is there?

The error here is saying that this file isn't present (or couldn't be parsed) This file is generated via the Fabric gradle plugin. Can

[2016-03-30 03:30] btawfic commented on #1237
It's because Jenkins can't see your PATH variable. You can just use the full path to your fastlane install
`/usr/local/bin/fastlane build`

[2016-03-30 05:44] yimingtang commented on #3953
+1, I have `!` in my password.

[2016-03-30 06:29] hardikdevios commented on #3953
**+1** i am also having **!**, Anyway @KrauseFx and team will solve this.
#2422

[2016-03-30 06:38] lacostej commented on #1962
@kbyford this was fixed yesterday with #3862 !
Can someone close this issue ? Thanks !

[2016-03-30 07:38] xylone commented on #1600
It looks like the problem is back again. I do have special characters in my password, but this didn't was any issue last time.

sudo gem list fastlane
*** LOCAL GEMS ***
fastlane (1.68.0, 1.66.0, 1.64.0)
fastlane_core (0.40.0)

[2016-03-30 10:08] aengel12 opened #3979 "Error with Match and Xcode Server"
### Error while using match, pilot and Xcode Server
i use a bot to trigger my fastlane.
in my fastfile there is under beta

- match (type appstore)
- gym
- pilot

at first i start with these settings and the answer was, that there is no valid code signing. so i switched gym to type development and it worked great. the app is pushed to iTunes connect and everything was good. after the second run, i

[2016-03-30 10:24] martinfreeletics opened #3981 "Screengrab doesn't work on Android N preview"
### Issue Description

I tried to run screengrab on a Nexus 6P with the Android N preview and screengrab crashes when trying to get the Context from the view. This is basically caused by
[code]
Maybe this is just a early preview problem, but on devices prior N the same tests work fine.

##### Stacktrace

[code]

### Environment

Screengrab version: 0.3.1

[2016-03-30 11:02] asfalcone commented on #1962
Let's leave it open until we do a release. Having someone else test this
enhancement from master would be awesome!
On Mar 30, 2016 2:38 AM, "Jerome Lacoste" <notifications@github.com> wrote:

[2016-03-30 11:21] CsabaSzabo opened #3982 "Pilot doesn't have submission_information option to accept Export Compliance for TestFlight Internal testing build distribution"
### Issue Description

I cannot distribute builds with Pilot to TestFlight Internal testers as iTunes Connect introduced a new  Export Compliance page for TestFlight Internal tester distribution too and there's no `submission_information` option in pilot to handle it.

![testflight-internaltesting-notstarted](https://cloud.githubusercontent.com/assets/3639032/14140756/3d9a0dee-f67b-11e5-82e3-b6805

[2016-03-30 12:16] nAviram opened #3983 "Is there a way to get the seller name, before doing Produce?"
Hi!
Is there a way to get the seller name, before doing Produce?
I saw in case of multiple teams on the same account - it gives you a list of seller names to choose from.
Is there a way to do it, even when there's no multiple teams?
Thanks!

[2016-03-30 12:21] peterturza commented on #3886
Same issue here. Passing tests reports
[code]
Also the report is empty
And failing tests
[code]

[2016-03-30 12:22] czechboy0 commented on #494
@KrauseFx I'll take a look at it, sure. Time to write some Ruby anyway. :laughing:

[2016-03-30 12:45] matthijs2704 commented on #3953
+1 I'm having a `&` in my password

[2016-03-30 13:38] lvh1 commented on #3661
Turns out it was my mistake by using the wrong package name (forgot a dot).
So nevermind...

[2016-03-30 15:49] i-phil opened #3985 "exception while verifying: undefined method `size' for nil:NilClass (NoMethodError)"
ERROR:  Error installing fastlane:
	invalid gem: package is corrupt, exception while verifying: undefined method `size' for nil:NilClass (NoMethodError) in /usr/local/lib/ruby/gems/2.3.0/cache/fastlane-1.64.0.gem

[2016-03-30 15:51] asfalcone commented on #3985
@i-phil Can you provide additional information as requested in the issue template? https://github.com/fastlane/fastlane/blob/master/ISSUE_TEMPLATE.md

[2016-03-30 15:54] asfalcone commented on #3979
@aengel12 Can you provide additional information as requested in the issue template? https://github.com/fastlane/fastlane/blob/master/ISSUE_TEMPLATE.md Thanks

[2016-03-30 16:42] rinal6366 commented on #3973
Under the assets folder I do not see any crashlytics-build.properties.

Thanks @asfalcone.
Found some issues with my repo and now I am able to upload via fastlane.

You can close this issue.

[2016-03-30 16:46] asfalcone commented on #3973
:+1: Glad you're up and running!

[2016-03-30 16:46] #3973 closed

[2016-03-30 17:33] aln787 commented on #3982
@CsabaSzabo you need to add this flag to your project.

[code]

[This SO post](http://stackoverflow.com/questions/35739361/itsappusesnonexemptencryption-export-compliance-while-internal-testing) goes into greater detail around what this flag indicates.

[2016-03-30 17:38] vpolouchkine commented on #2030
This should have been fixed by https://github.com/fastlane/fastlane/pull/225. Can you provide more details about your setup per https://github.com/fastlane/fastlane/blob/master/ISSUE_TEMPLATE.md? Thanks!

[2016-03-30 18:12] Sega-Zero commented on #3945
Is there any way to fix that without upgrading cocoapods? Cannot upgrade to 1.0.0.beta6 because of [this](https://github.com/CocoaPods/CocoaPods/issues/5082) bug.

[2016-03-30 18:15] ffittschen commented on #3945
@Sega-Zero If the bug you mentioned is not related to the `xcodeproj` gem, you could try upgrading only that one: `gem update xcodeproj --pre`

[2016-03-30 18:47] arunks commented on #116
Hey guys can we get an update on the before :all implementation? Not a big fan of calling the same lane multiple times before running a build lane.

[2016-03-30 19:13] Sega-Zero commented on #3945
Should I also uninstall old (0.28.2) version? just upgrading a gem doesn't fixed an issue for me.

Updating installed gems
Updating xcodeproj
Fetching: claide-1.0.0.beta.3.gem (100%)
Successfully installed claide-1.0.0.beta.3
Fetching: xcodeproj-1.0.0.beta.3.gem (100%)
Successfully installed xcodeproj-1.0.0.beta.3
Parsing documentation for claide-1.0.0.beta.3
Installing ri documentation for claide

[2016-03-30 19:22] dpettit commented on #3968
Do you have everything you need from me, or did you need additional information?  I suppose I could just "Nuke" all existing profiles again, and start over, but that seems a bit extreme to me.

I've tried adding Match --force but that didn't change anything.  Is there a time limit on how long the provisioning profiles are good for?  If so, should the call to Match take care of renewing them, or do

[2016-03-30 19:27] KrauseFx commented on #116
@arunks we already have that, just use

[code]

[2016-03-30 20:21] jvanzummeren opened #3987 "Frameit multiline interline spacing"
I'm trying to use frame-it for my screenshots which is working out pretty well since you added the multi-line support. For me there's just one point missing; being able to add spacing between lines.
I managed to edit my own editor.rb file for now, but i think it would be great if it this was added to the library

This change will allow a new config in the Framefile.json
```  "interline_spacing": 2

[2016-03-30 20:22] ffittschen commented on #3945
@Sega-Zero Thats why I edited my post and wrote, that you need to specify the `1.0.0.beta.3` version in your `Gemfile`.

[2016-03-30 20:57] dpettit commented on #3968
Sorry to bother you with this, but I was able to figure this out on my own.  Apparently, when I started working with Match, it created new certificates (as it should have).  The problem was, that I neglected to clear out my old certificates, which were revoked (by Match, I presume).  The conflict between certificates in my keychain access was causing the Xcode issue.

The first time around, Xcode

[2016-03-30 20:57] #3968 closed

[2016-03-30 21:09] arunks commented on #116
@KrauseFx  before_all runs before each lane. This becomes an issue if I am trying to call multiple lanes in my build job.

[2016-03-30 22:15] NachoSoto commented on #3952
Yeah I think both usages are totally valid. Personally I do the same as @revile: I just want to upload them on a one by one basis, though I'm glad I can also run this for *all* versions (in case Apple designs to recompile everything – which they seem to do even if the setting is disabled).

[2016-03-30 22:56] enricenrich commented on #3953
**+1** - Same here. I have multiple of those special characters in my password.

[2016-03-30 23:43] Sega-Zero commented on #3945
`gem 'xcodeproj', '>= 1.0.0.beta.3'` in my Gemfile did resolved the issue! Thank you!

[2016-03-31 00:35] #3951 closed

[2016-03-31 00:35] KrauseFx commented on #494
Oh yeah :rocket:

[2016-03-31 00:51] raven opened #3990 "Transporter transfer failed"
On our CI machine, I'm getting a `Transporter transfer failed` error. Looking through Transporter's logs, it appears to successfully upload, but fails verification, so it retries `Triggering a retry because the amount uploaded is above the failover threshold.`

This may not be a fastlane / deliver issue, however I'm hoping someone can point me in the right direction. I'm pretty sure it's something

[2016-03-31 01:36] FlyingNoob opened #3991 "I couldn't find the latest version on gems . Only find the version 1.64"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Configuration Files

Please copy the complete content of your `Fastfile` and any other conf

[2016-03-31 06:43] lacostej commented on #3851
@KrauseFx you fixed that one right ?

[2016-03-31 08:19] AndreasBoehm commented on #1985
I have the same sympthoms but they appear even after i cleaned my keychain from **match** entries.

So i needed to type the passphrase a million times till it worked. Also i need to type the passphrase every time i execute **match**

Is there maybe an issue with special chars in the password?

[code]

[2016-03-31 09:46] SpacyRicochet opened #3996 "team_id supplied to match does not trickle down to its cert and sigh calls if the project has another team_id set"
It looks like the `sigh` and `cert` commands executed by `match` ignore the team identifier supplied to `match` and defaults to the default team identifier in the Appfile instead.

The project is one where one whitelabel app has has a build target per label and each label has its own Apple Developer Team. So I use a `fastlane match` to make sure I have all the certificates necessary for all the la

[2016-03-31 09:56] kbyford commented on #1962
@lacostej and @asfalcone; I will test/verify this enhancement when we publish a new version of our apps (which I hope will happen in the next few days) and I will post the results.  Thank you so much!

[2016-03-31 10:02] mborsten commented on #3969
I've updated the issue

[2016-03-31 10:28] anback opened #3997 "undefined method `all_build_train_numbers' for nil:NilClass (NoMethodError)"
### New Issue Checklist

- [x ] Updated fastlane to the latest version
- [ x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
 download_dsysm failed when updating fastlane to 1.68

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Configuration Files

Please copy th

[2016-03-31 12:08] dusek commented on #883
Also:
* `fastlane r<TAB>` should autocomplete to `run`
* `fastlane run in<TAB>` should autocomplete `increment_` and offer `increment_build_number` and `increment_version_number` as completion options

[2016-03-31 12:54] lacostej opened #3998 "ITC exportCompliance ITC"
This is related to a potential sapceship implementation.

Using the UI, to submit exportCompliance documentation, one goes through a serie of questions and upload the associated documentation.

This results in
* a POST to https://du-itc.itunes.apple.com/upload/arbitrary-file
[code]

This POST results in JSON like

[code]

* a POST to
https://itunesconnect.apple.com/WebObjects/iTunesConnect.woa/ra/

[2016-03-31 13:56] TKBurner commented on #3970
Hi @eimantas! #3980 is addressing this. You can follow it's progress for being merged into master there.

Closing this issue out since there is now a pull request.

Thanks!

[2016-03-31 13:56] #3970 closed

[2016-03-31 13:59] TKBurner commented on #3896
@anton-matosov I'm going to close out this feature request. Always feel free to reach out with other ideas or questions :+1:

[2016-03-31 13:59] #3896 closed

[2016-03-31 14:05] TKBurner commented on #1237
@hemanthmpkumar Can you verify this is fixed? Closing this issue until we get an update :+1:

[2016-03-31 14:05] #1237 closed

[2016-03-31 14:21] TKBurner commented on #3981
Thanks for reaching out @martinfreeletics! We haven't tested on Android N yet, but the team will look into this. We'll update on this thread :+1:

[2016-03-31 14:22] TKBurner commented on #3886
@esetnik @peterturza Thanks for reaching out about this. Have you tried pulling in the xctool update mentioned in @nrako's comment? It hasn't been pulled into their master branch yet.

[2016-03-31 14:23] TKBurner commented on #3661
@lvh1 Thanks for letting me know! Closing this out :+1:

[2016-03-31 14:23] #3661 closed

[2016-03-31 14:25] hemanthmpkumar commented on #1237
@btawfic Thanks for the updates , i will check it and let you know . :), Thanks @TKBurner

[2016-03-31 14:25] TKBurner commented on #3982
@CsabaSzabo Thanks for reaching out. Can you try the fix mentioned by @aln787? Thanks! Closing this issue out until you update.

[2016-03-31 14:25] #3982 closed

[2016-03-31 14:26] TKBurner commented on #2030
Closing this out until we get an update from you @wryphonedev.

Thanks! :+1:

[2016-03-31 14:26] #2030 closed

[2016-03-31 14:27] TKBurner commented on #3987
@jvanzummeren Thanks for this feature request. the team will review it :+1:

[2016-03-31 14:30] TKBurner commented on #3968
Thanks for following up @dpettit! I'll make sure we make this more clear in the documentation. Hope that you have a great day! :+1:

[2016-03-31 14:33] TKBurner commented on #3945
@Sega-Zero Glad to hear you are up and running! I'm going to close this out but we'll keep looking into long term versioning issues. Thanks! :+1:

[2016-03-31 14:33] #3945 closed

[2016-03-31 14:40] TKBurner commented on #3991
@FlyingNoob Thanks for reaching out. What happens if you run 'gem update fastlane'?

Thanks!

[2016-03-31 14:51] TKBurner commented on #3998
@lacostej Thanks for reaching out! I'm going to circle back with the team and we'll follow up on this. :+1:

[2016-03-31 14:57] TKBurner commented on #3997
@anback Thanks for reaching out. We are looking into this! :+1:  Does this happen when you run 'fastlane run download_dsyms'?

[2016-03-31 15:04] lacostej commented on #3998
@TKBurner  I made a first implementation. Only reading so far. But it helps me to monitor statuses.

[2016-03-31 15:05] TKBurner commented on #3983
Hi @nAviram Thanks for reaching out. Right now it's not possible to get this print out when you run produce if you have only one seller. We are going to look at this as a feature request. Let me know if you have any other questions :+1:

[2016-03-31 15:05] #3983 closed

[2016-03-31 15:08] asfalcone commented on #1967
@simplysoft Could you provide the full output that you're getting with 0.5.3? We added additional logging and error handling in this version so it would be great to know what is being output! Thanks!

[2016-03-31 15:11] asfalcone commented on #1967
Also for folks still experiencing issues with 0.5.3, could you provide the output of the following command `ruby -e 'p Encoding.default_external'`? :gem:

[2016-03-31 15:21] anback commented on #3997
yep,

just ran it

Cheers

[2016-03-31 15:22] anback commented on #3997
![image](https://cloud.githubusercontent.com/assets/2440382/14180873/234ee334-f765-11e5-82e7-f7e0d7354272.png)

[2016-03-31 15:57] janandre commented on #1164
I experience the same issue, tried everything i could find on the internet.
I thought the issue is to find the right crashlytics url, so i tried almost every combination and paths to a submit file. In almost all cases i end up with this error:

[code]

But in the fabric portal i can see the new version! The file is obviously missing.

After adding ` crashlytics_path: './Pods/Crashlytics/Crashlytic

[2016-03-31 16:01] TKBurner commented on #116
@arunks Thanks for following up. This is an interesting idea. We'll look into it :+1:

[2016-03-31 16:04] TKBurner commented on #3969
@mborsten Thanks for following up. We are going to look into this :+1:

[2016-03-31 16:06] TKBurner commented on #3996
Thanks for pointing this out @SpacyRicochet! We are going to look into this :+1:

[2016-03-31 16:08] TKBurner commented on #1985
@AndreasBoehm We are aware of an issue with password characters you can see that #2422 #1600

We are working on a fix :+1:

[2016-03-31 16:10] KrauseFx commented on #3996
Oh, interesting, that's definitely a bug we need to fix!

[2016-03-31 16:19] TKBurner commented on #3990
Hi,

Can you let me know how big your screenshots folder and .ipa are? It seems like this is being triggered because of an API error.

"[11:47:52]: [Transporter]: DBG-X: Triggering a retry because the amount uploaded is above the failover threshold.
[11:47:52]: [Transporter]: DBG-X: The transfer time for the package 1061484416.itmsp was 192099 milliseconds."

[2016-03-31 16:24] oskarn97 opened #4001 "Deliver: Crash after "Activating language en-EN""
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Deliver crashes after "Activating language en-EN..."

##### Complete output when running fastlane, including the stack trace and command used

[code]

[2016-03-31 16:24] davidrothera opened #4002 "Error - You must provide an answer for this question"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Configuration Files

Please copy the complete content of your `Fastfile` and any other conf

[2016-03-31 16:25] davidrothera commented on #4002
This only seems to happen when I am using Pilot for new TestFlight beta's, I did a Fabric beta earlier and no issues at all :cry:

[2016-03-31 16:41] adrienbrault commented on #3953
Having the same issue. I tried to run the iTMSTransporter binary manually, with my password double quoted and it worked fine

[2016-03-31 16:41] KrauseFx commented on #4002
This error is triggered by iTunes Connect, can you submit one app manually and see what you're being asked? We definitely have to improve the error message around this :+1:

[2016-03-31 16:42] KrauseFx commented on #3851
Yeah, thanks @lacostej :+1:

[2016-03-31 16:42] #3851 closed

[2016-03-31 16:53] davidrothera commented on #4002
Thanks @KrauseFx - Looks like this was caused by the export encryption question, I added the advised key to the Info.plist and I'll see if it happens again :+1:

[2016-03-31 17:32] KrauseFx opened #4005 "Delete / Move assets folder"
Too many folders https://github.com/fastlane/fastlane/tree/master/assets

[2016-03-31 17:33] davidrothera commented on #4002
So I did another build and it works fine now, thanks :+1:

[2016-03-31 17:33] #4002 closed

[2016-03-31 17:46] pedro380085 commented on #3841
+1

[2016-03-31 18:14] #4005 closed

[2016-03-31 18:21] tsafrir commented on #3636
I had the same today. I found it was because the app crashed during the snapshot and thus the error received is "Error getting main window -25204" since the app window already gone.

In my case the reason I didn't had that crash during development is because during snapshot there is different content that doesn't cause the crash.

[2016-03-31 18:51] lucasvanhalst opened #4008 "Screengrab doesn't work with core 0.41"
### New Issue Checklist

- [ x ] Updated fastlane to the latest version
- [ x ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Screengrab crashes with fastlane core 0.41. Worked fine with core 0.38.
But since Supply broke with core 0.38 I had to update it.
##### Command used
[code]
##### Output
[code]

### Environm

[2016-03-31 18:58] KrauseFx commented on #1985
@TKBurner this is a separate issue and is not related to the iTunes Transporter issue. This one is about `match` having problems with empty passwords when storing them in the Keychain :+1:

[2016-03-31 19:19] AndreasBoehm commented on #1985
But not only empty passphrases are a problem for match because we use passphrases that containt special chars and we have the same problem.

On Thu, 31 Mar 2016 at 20:58 Felix Krause

<
mailto:Felix Krause <notifications@github.com>

https://github.com/TKBurner
this is a separate issue and is not related to the iTunes Transporter issue. This one is about

match

having problems with empty password

[2016-03-31 20:48] barriosnahuel opened #4009 "Undefined method 'length' for nil:NilClass running supply"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

NoMethodError while trying to upload an APK to the alpha group: supply.rb:12:in `run': [31m[!] undefined method `length' for nil:NilClass

Note that with 1.68.0 I was able to upload the APK

[2016-03-31 20:57] MichaelPalmer1 opened #4010 "Supply action throwing undefined method length"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
When I try to use supply as an action to update the metadata on Google Play, I get a ```undefined method `length' for nil:NilClass (NoMethodError)``` error. It looks like this is being caused b

[2016-03-31 22:41] ilandbt opened #4011 "Installation error: error to build gem native expresion"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I'm trying to inastall fastlane on a new Mac with no success.

##### Complete output when running fastlane, including the stack trace and command used

I run:
[code]
and i get an error:
[code]

[2016-03-31 22:42] #4011 closed

[2016-04-01 00:41] barriosnahuel commented on #4010
Hi! I've created #4009, so that's another occurrence of this issue. I will close that issue now because yours actually has more information about the issue.

[2016-04-01 00:41] barriosnahuel commented on #4009
Closing because #4010 has more information about the issue

[2016-04-01 00:41] #4009 closed

[2016-04-01 01:15] asfalcone commented on #4010
Thanks for the report! Looking into a fix now.

[2016-04-01 01:48] anton-matosov commented on #3896
can we add a custom action to match to delete old profiles related to that account?
Because for me `match` experience is completely broken for AdHoc provisioning.

[2016-04-01 03:14] #4010 closed

[2016-04-01 03:16] asfalcone commented on #4010
A fix will go out in fastlane version 1.70.0 shortly! :rocket:

[2016-04-01 05:34] icyleaf opened #4018 "gradle action does not scapes gradle path, if directory named with space."
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Configuration Files

Please copy the complete content of your `Fastfile` and any other conf

[2016-04-01 06:04] icyleaf commented on #4018
I tried to escape the gradle path, but `File.exist` always return `false`, the key point is quote mark, must to be double quote mark.

test:
[code]

[2016-04-01 07:14] MickeyHub commented on #1145
I use Xcode 7.3 and fastlane 1.68.0, but it still return this info, is this error?

[2016-04-01 08:18] aengel12 opened #4019 "Match hangs while starting with an Xcode Bot"
### Issue Description
i run fastlane at an os x server with a bot.
so fastlane will rund under the user _xcsbuildd. when i start fastlane from the terminal as this user, everything works fine, when i start fastlane with the bot, the output below comes. if i wait 10 minutes the bot broken up and says time out.
did anyone have an idea?!
thanks a lot
##### Complete output when running fastlane, inclu

[2016-04-01 09:18] xylone commented on #1600
I also encounter this problem with a 'normal' release:

So it's now impossible for us to release updates.
Is there a way to revert to some older version where it all worked?
Because it worked just a week ago, so there must be a version which should work. ;-)

[2016-04-01 09:47] besi commented on #1201
I tried this again today and the problem still persisted.

However, removing `app_name` from my configuration finally did the trick.

[2016-04-01 09:47] #1201 closed

[2016-04-01 10:02] buscarini commented on #1529
Is it possible to run this spaceship script from the Fastfile? I'm trying to use it but I have no experience with spaceship, and very little ruby knowledge.

[2016-04-01 10:07] edias opened #4020 "Couldn't decrypt the repo, please make sure you enter the right password!"
### Issue Description

Match can't decrypt the repo and keep me asking the passphrase over and over again.

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Environment

fastlane 1.70.0
match 0.4.0
rvm 1.26.11

[2016-04-01 10:13] lacostej commented on #1529
@buscarini it is possible to integrate it. Note that we have a new feature coming in soon that will take care of the proper synchronization (and deletion of old screenshots). See #3755

[2016-04-01 10:47] buscarini commented on #1529
Thanks, waiting for that pull request to happen then

[2016-04-01 11:15] czechboy0 commented on #494
Actually, the `UI.select` function does pretty much what I need. It's trivial to just look up the index of the answer afterwards, so I don't think there's much value in adding that to `fastlane_core`.

[2016-04-01 12:23] znerol commented on #1631
I just want to let you know that I started working on this. First thing is to introduce support for `addons` in spaceship. Comments and advice regarding the data model are very welcome: [compare master with feature/master/iap](https://github.com/fastlane/fastlane/compare/master...znerol:feature/master/iap)

[2016-04-01 12:26] marcelloceschia commented on #1600
Same problem on my side:

[code]

versions:

[code]

[2016-04-01 13:02] simplysoft commented on #1967
It returns `#<Encoding:US-ASCII>`, could not yet try out the RUBY_OPT

[2016-04-01 13:02] TKBurner commented on #1164
@janandre Can you post the full output of when you run 'fastlane run crashlytics'? Also can you run fastlane -v and ruby -v and send over those results. Definitely want to have a look at this :+1:

[2016-04-01 13:04] TKBurner commented on #4002
@davidrothera Glad to hear you are up and running :+1:

[2016-04-01 13:09] TKBurner commented on #4020
Hi @edias! Thanks for reaching out. Do you have any special characters in your password? We are tracking an issue related to this right now.

Thanks!

[2016-04-01 13:09] TKBurner commented on #1201
@besi Thanks for letting us know :+1:

[2016-04-01 13:11] TKBurner commented on #1985
Thanks @AndreasBoehm! We are looking into both these issues. We will track the empty passphrase one here for now :+1:

[2016-04-01 13:12] edias commented on #4020
No, only characters and numbers.

[2016-04-01 13:25] TKBurner commented on #3636
@tsafrir Thanks for letting us know! So after you fixed the content issue were you able to get up and running?

Thanks!

[2016-04-01 13:27] TKBurner commented on #4018
Thanks for writing @icyleaf! We are going to look into this but for now it seems like you've found a viable workaround. Let me know :+1:

[2016-04-01 13:27] lacostej commented on #3835
@iphil the logging is now only enabled in verbose mode, use `-v` to get it if you run from the CLI.
Change happened here 00a256ef

[2016-04-01 13:27] TKBurner commented on #1145
Hi @MickeyHub! Thanks for reaching out. Can you update with this template? https://github.com/fastlane/fastlane/blob/master/ISSUE_TEMPLATE.md I want to look into this :+1:

[2016-04-01 13:28] TKBurner commented on #4019
Hi @aengel12. Thanks for reaching out. Can you send over the timeout error so I can have a look? Thanks!

[2016-04-01 13:29] TKBurner commented on #1600
Thanks! We are looking into this issue with iTC. We'll update soon :+1:

[2016-04-01 13:30] TKBurner commented on #4008
@lvh1 Thanks for reporting this. We are going to have a look :+1:

[2016-04-01 13:32] TKBurner commented on #4001
@oskarn97 Thanks for reaching out. I wanted to know if this previously worked or if this is your first time setting up Deliver. Thanks!

[2016-04-01 13:33] oskarn97 commented on #4001
Hi! It worked previously.

[2016-04-01 13:46] znerol commented on #1631
It seems to me that there are no API routes available for creating new addons. I've found the ones for listing and deleting, but in order to _create_ one you still have to go through a static page HTML wizard starting at https://itunesconnect.apple.com/WebObjects/iTunesConnect.woa/wa/LCAddOnPage/create?adamId=<APP_ID>

@KrauseFx if I understand correctly prior versions of spaceship worked by autom

[2016-04-01 13:48] lacostej commented on #3835
And if you are using the `sigh` command, the attached PR will allow you to add the `-v` option of the resign script by using `sigh resign --verbose`.

@mfurtak please review :)

[2016-04-01 13:48] dodikk opened #4022 "crashlytics action fails when setup_jenkins enabled"
### New Issue Checklist

- [x ] Updated fastlane to the latest version
- [x ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
The job fails when `setup_jenkins` is enabled.
Otherwise it succeeds but I want all artefacts stored in a single directory.

##### Complete output when running fastlane, including the stack t

[2016-04-01 13:49] xylone commented on #1600
Just to let you know, I changed my password and it worked like a charm.
So it's definitely a special character problem.

[2016-04-01 14:03] asfalcone commented on #3835
Merged #4021! Thanks @lacostej :racehorse:

[2016-04-01 14:13] alexeychirkov opened #4023 "nexus_upload action requires specific classifier"
It would be good to have a possibility to pass custom classifier when uploading a file using `nexus_upload` action.
I guess its a `c` [parameter name](https://repository.sonatype.org/nexus-restlet1x-plugin/default/docs/path__artifact_maven_content.html)

[2016-04-01 14:20] aengel12 commented on #4019
The Error is

Build Service Error Running Task was terminated because it produced no activity for more than 600 seconds (use sudo xcrun xcscontrol --configure-integration-timeout to increase this timeout)

[2016-04-01 14:39] asfalcone commented on #1967
@simplysoft Thanks for the info! Can you let me know what OS you're running? I'd like to try to set up an environment that can exactly reproduce what you're seeing!

[2016-04-01 14:59] simplysoft commented on #1967
Using MacOS X and ruby 2.0 installed with rvm

[2016-04-01 15:31] #1967 closed

[2016-04-01 15:31] asfalcone commented on #1967
Merged a change to fix this! Will do a 0.6.1 release of supply shortly

[2016-04-01 15:51] asfalcone commented on #1967
`supply` [0.6.1](https://github.com/fastlane/supply/releases/tag/0.6.1) has been released. Please update to that version and give it a try 🤖

[2016-04-01 15:58] tomburns commented on #3886
scan doesn't use xctool, right? i don't understand the connection there.

[2016-04-01 16:03] raphaelcruzeiro commented on #3886
@tomburns: As far as I understood, xctool's problem has the same root as the problem we are facing and that's the only connection.

About our problem, I believe that the root cause is Nimble as vanila tests work seamlessly with scan (someone correct me if I'm wrong).

[2016-04-01 16:25] CareerFairPlus commented on #1642
In my case XCode successfully created the bridging header, but it just contains a comment:

[code]

This is particularly unhelpful since I'm trying to import Swift into my ObjC test class.  For now I think I'll just recreate my tests in Swift.

[2016-04-01 16:27] serluca commented on #826
@KrauseFx any news on this?

[2016-04-01 16:34] vpolouchkine commented on #4001
Can you please share your Deliverfile and Fastfile?

[2016-04-01 16:48] jorystiefel opened #4027 "upload_symbols_to_crashlytics invalid byte sequence"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Crash report: 41632663b2d44758677821fa59882787
This error happens on several machines.

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Con

[2016-04-01 16:48] postmechanical commented on #3636
In the case for which the issue was originally created the app under test was running just fine and had not crashed.

[2016-04-01 16:48] jorystiefel commented on #4027
This happens on several machines I've tried. Both the of the plist files mentioned above do exist, despite the message `Unable to find plist file`

[2016-04-01 17:42] hyperspacemark opened #4028 "Fastlane_core's strict Commander version requirement makes updating gems difficult"
Commander is a common gem dependency. Fastlane_core's gemspec specifies `== 4.3.5`. If other gems in a Gemfile are specifying a version of Commander which resolves to higher than `4.3.5` according to their pessimistic requirement, that gem cannot be updated to its latest version.

Would it be possible to use a less strict version requirement for Commander?

[2016-04-01 18:10] asfalcone commented on #4028
Closing as a dupe of #3966. Please track the conversation there! :+1:

[2016-04-01 18:10] #4028 closed

[2016-04-01 18:18] PeterWong2015 commented on #1849
I see the error after add asking for permission for sending notifications

[2016-04-01 18:43] KrauseFx commented on #4027
@jorystiefel Can you try passing your Crashlytics API token using
[code]

[2016-04-01 18:54] jorystiefel commented on #4027
@KrauseFx certainly, I did that, and got this error. Basically the same, but no longer complains about plist files or UTF-8

[code]

[2016-04-01 19:44] leonardowistuba commented on #3886
@raphaelcruzeiro I'm facing the same problem with vanilla tests. XCode 7.3 and scan 0.5.2

[2016-04-01 19:45] KrauseFx commented on #4027
Great, thanks, that helps! I'll push a fix. Basically you don't have any dSYM files to be uploaded:
[code]
I'll not only fix the crash, but also have a better messaging. This basically means that your app didn't get recompiled by Apple yet

[2016-04-01 19:47] jorystiefel commented on #4027
Awesome, thanks Felix! 👍

[2016-04-01 20:12] KrauseFx commented on #4027
Just pushed https://github.com/fastlane/fastlane/pull/4031, this will be in the next release :+1:

[2016-04-01 20:24] fatuhoku commented on #1573
Hmmm. I found that fastlane doesn't even add commas to the entries in `keywords.txt`. Tested on fastlane version 1.70.0

For instance if my `keywords.txt` looked like this:

[code]

... when I submit to AppStore using `deliver`, the keywords field would be set to `abcd`.

[2016-04-01 21:07] i2amsam commented on #3886
Sorry for adding confusion, yes, I think the root cause is the same but we have not been able to reproduce in our testing.

[2016-04-01 21:12] timcamber commented on #1873
I'm still getting this response after trying @tabuchid's solution. Is there another question iTC asks that needs to be in my `plist`?

[2016-04-01 23:06] chrisvire commented on #1967
What if the file is not UTF-8?  Will this fix convert the file to UTF-8 or just assume that the file is UTF-8?

[2016-04-02 00:46] asfalcone commented on #3752
@appfamily Can you give this a try with `supply` 0.6.1? We made some encoding fixes! Let me know!

[2016-04-02 00:48] asfalcone commented on #1967
@chrisvire The file will not be converted, just read as if UTF-8. Let me know if this fixes your original issue!

[2016-04-02 00:55] mfurtak commented on #3953
Hi folks - we've just shipped [`fastlane_core` 0.41.1](https://github.com/fastlane/fastlane/releases/tag/fastlane_core%2F0.41.1) :rocket:  This contains an experimental fix for the iTMSTransporter password woes.

If you're interested in trying this fix and helping us validate it before we turn it on by default, please do the following:

1. Run `gem update fastlane_core` and be sure that you get **

[2016-04-02 00:56] mfurtak commented on #1503
Hi folks - we've just shipped [`fastlane_core` 0.41.1](https://github.com/fastlane/fastlane/releases/tag/fastlane_core%2F0.41.1) :rocket:  This contains an experimental fix for the iTMSTransporter password woes.

If you're interested in trying this fix and helping us validate it before we turn it on by default, please do the following:

1. Run `gem update fastlane_core` and be sure that you get **

[2016-04-02 02:17] chrisvire commented on #1967
No, this doesn't solve this problem.  The file was encoded as Western (ISO-8859-150).

[2016-04-02 03:01] DeveloperPans commented on #3953
@mfurtak   thanks for reply.
after update fastlane_core to 0.41.1,I've tried `env FASTLANE_EXPERIMENTAL_TRANSPORTER_AVOID_SHELL_SCRIPT=1 fastlane beta`,but log shows:
[code]

[2016-04-02 03:10] mfurtak commented on #3953
Hi @DeveloperPans - thank you for giving it a try! :+1:

Can you run one more time with `--verbose` at the end of your command and post the full output? Thanks!

[2016-04-02 10:01] simplysoft commented on #1967
@chrisvire try to re-init the data, #3965 ensures that files are written as UTF-8

[2016-04-02 12:24] znerol commented on #1631
I found that ApplicationLoader relies on iTMSTransporter to upload IAP and assets to iTunes Connect. It is a weird piece of command line Java software but on the other hand, that makes it possible to run it on non-Apple platforms (I can confirm that it works on Linux, no idea about Windows though). Instead of trying to shoehorn IAP support into spaceship, I think it might make more sense if delive

[2016-04-02 15:01] st3fan commented on #1643
New PR that works well for us .. https://github.com/fastlane/fastlane/pull/4035

See example output at https://people.mozilla.org/%7Esarentz/t/SnapshotIssue1643/screenshots.html - see how the status bar and web site locale are properly changed.

[2016-04-02 15:06] mfurtak commented on #1631
Hi @znerol - thanks for looking into this! :+1:

I think your conclusions are good, and I don't think it makes sense to extend `spaceship` to do this kind of upload. I'm not sure if you're aware, but `deliver` (and `pilot`) actually _do_ use `iTMSTransporter` to do the upload portions of their work. :up:

Because the functionality is shared, you can find it in `fastlane_core` in the [`ItunesTransp

[2016-04-02 15:37] znerol commented on #1631
Yea, I just coming back from reading through `deliver`, thanks for the pointer though.

The tricky thing will be to figure out a meaningful architecture. I've seen folks in the issue queue hitting the limit of 1000 IAPs, I guess they wouldn't like it if `deliver` was going to fail again because it tries to synchronize that stuff. It might be wise to implement the IAP management as a separate modul

[2016-04-02 17:17] znerol commented on #1631
Most people will probably want to manage their catalog in some kind of a tabular structure. Also I think that in many cases it is not necessary to synchronize the whole catalog but maybe only a small fraction of it. Therefore I suggest to supply master data as multiple CSV files and allow users to specify which files they want to synchronize. Localized titles and descriptions as well as screenshot

[2016-04-02 19:21] znerol commented on #1631
I'll be on stand-by on this and let the project team decide the direction they want to take. If this is gonna be implemented as a separate subproject I'll propose to name it `supply` which fits neatly the names of the other components, and also does not seem to conflict with any unix tool I know of.

I might be able to allocate some time to cook something up.

[2016-04-02 21:15] tbaranes opened #4036 "Unexpected behaviour for plist_path in action update_info_plist"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

It's not really an error, but more a conception choice which give me some issues.

I wanted to use `update_info_plist` while specifying  an xcodeproj, all the example are describing the parame

[2016-04-02 21:26] tbaranes opened #4037 "update_info_plist crashing when the xcodeproj isn't found"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

If `update_info_plist` doesn't found the xcodeproj by using the parameter `xcodeproj`, or by looking in the current directory (if no path specified), the action will crash instead of raising a

[2016-04-02 22:57] Petro-Lomaka commented on #1735
Is there any way to make screenshots in normal dimension not using *.json (without title and background)?

[2016-04-03 12:00] oskarn97 commented on #4001
Solved it, was related due to "en-EN" being a wrong language code.

[2016-04-03 12:00] #4001 closed

[2016-04-03 14:04] mfurtak commented on #3876
Hi folks - we've shipped [`fastlane_core` 0.41.1](https://github.com/fastlane/fastlane/releases/tag/fastlane_core%2F0.41.1) :rocket:  This contains an experimental fix for the iTMSTransporter password woes.

If you're interested in trying this fix and helping us validate it before we turn it on by default, please do the following:

1. Run `gem update fastlane_core` and be sure that you get **0.41.

[2016-04-03 15:20] janandre commented on #1164
This are my versions of fastlane and ruby:

<img width="521" alt="bildschirmfoto 2016-04-03 um 16 57 08" src="https://cloud.githubusercontent.com/assets/9200290/14233099/fc38b5e8-f9be-11e5-8c47-ec1fe60a8770.png">

And this is the output when i use the default path (no parameter set).
<img width="1680" alt="bildschirmfoto 2016-04-03 um 17 03 09" src="https://cloud.githubusercontent.com/assets/92002

[2016-04-03 17:11] PeterWong2015 opened #4039 "nil token for current process reference"
### New Issue Checklist

- [ ] Updated fastlane to the latest version
- [ ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

[code]
▸ Touching xxxxxxxxxx.xctest
** TEST FAILED **

testExample, UI Testing Failure - Failure attemp

[2016-04-03 19:08] aln787 commented on #3920
@biolinh instead of adding the values to the Appfile, export them as environment variables.  Here is an example:

[code]

[code]

[2016-04-03 20:33] kommen commented on #1503
I've tested with that version and it worked for me with the same password.

[2016-04-04 07:10] gauravdaxini commented on #3900
We have already added the distribution certificate + private key on our server and importing it for code signing in the next step. But we are getting the above-mentioned error while creating the provisioning profile certificate for an app.

Please help!

[2016-04-04 07:16] KrauseFx commented on #3952
Fixed with https://github.com/fastlane/fastlane/pull/3967/

[2016-04-04 07:16] #3952 closed

[2016-04-04 07:19] KrauseFx commented on #1503
Thanks for confirming @kommen, glad it works now :+1:

[2016-04-04 07:19] #1503 closed

[2016-04-04 08:26] appfamily commented on #3752
Works now, thank you!

[2016-04-04 08:26] #3752 closed

[2016-04-04 08:40] hartbit opened #4042 "match development does not work on a enterprise project"
### New Issue Checklist

- [X] Updated fastlane to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

I understand the risks of using match in an enterprise context and I accept them. I have successful run `MATCH_FORCE_ENTERPRISE=1 match --type enterprise` but `match --type development` does n

[2016-04-04 11:56] onmyway133 commented on #1679
For me, it was because Test target was not setup properly, I noted here https://github.com/onmyway133/TestTarget

[2016-04-04 12:38] dg76 opened #4043 "Command line parameter "email" does not work any more in "Pilot""
### Issue Description

The command line parameters "-e" and "--email" do not seem to work any more, pilot still asks for the tester's email despite it was specified with "-e":

pilot add -p 12345678 -u user@test.com -f "First" -l "Last" -e "email@email.com"
Email address of the tester:

This worked fine in previous versions of "pilot".

### Environment

pilot 1.4.1

[2016-04-04 12:51] truth3 commented on #3696
Monday bump.. no pressure, just letting you know this is still of interest :beers:

[2016-04-04 13:53] swilkeni commented on #3639
I am having a similar issue in my project. When I tried running it through Fastlane using the --verbose flag, I get the following interesting output:

`INFO [2016-04-04 09:50:37.24]: Pulling captured screenshots from the device
INFO [2016-04-04 09:50:37.27]: ▸ en-US
INFO [2016-04-04 09:50:37.28]: $ adb -s ZX1G224FH6 pull /sdcard/com.gannett.bonnie.debug/screengrab /Users/swilkening/Documents/Andro

[2016-04-04 14:31] jeanelie commented on #1573
Same here, the keywords are not separated by commas on iTunes, have to do it manually.

[2016-04-04 14:42] TKBurner commented on #1600
@xylone Thanks for following up. We have a change that we will merge in soon that fixes this issue. After it's released I'll let you know so you can test :+1:

[2016-04-04 14:46] TKBurner commented on #826
Hi @serluca we are still working on getting this merged into master. Checkout #3852 to track progress :+1:

[2016-04-04 15:03] TKBurner commented on #4001
@oskarn97 Glad to hear you are up and running! Thanks for using Fastlane :+1:

[2016-04-04 15:10] TKBurner commented on #3639
@VictorJava  and @ffittschen I wanted to check in and see if you were able to get up and running with the most recent version of screengrab? Let me know :+1:

[2016-04-04 15:13] lacostej commented on #1631
WRT to deliver upload, not everything goes through the iTMSTransporter. We use direct upload for screenshots (and soon trailers). Note that we have implemented synchronization in a PR so that it won't upload things unless they changed. (#3755). This will also reduce the communication failures.

An alternative might also be to talk directly with the ITC servers (if we managed to reverse engineer th

[2016-04-04 15:18] tomburns commented on #3886
Yes, none of our tests are being reported to stdout (which i assume is the mechanism scan uses to detect them), so we end up reporting 0/0 "successes" even though the tests run.

[2016-04-04 15:18] TKBurner commented on #1573
Hi @fatuhoku @jeanelie! Thanks for reporting this. We are going to have a look and see if we can change this behavior to what you expect. Thanks!

[2016-04-04 15:22] hemal commented on #3710
Just merged this: https://github.com/fastlane/fastlane/pull/4041

It will be available in the next release, closing this but let me know on Slack how it works out for you!

[2016-04-04 15:22] #3710 closed

[2016-04-04 15:23] TKBurner commented on #4043
@dg76 Thanks for reaching out. Can you send me the full output of when you run  pilot? I want to have a look. Thanks!

[2016-04-04 15:31] TKBurner commented on #4042
Hi @hartbit!

Thanks for reaching out. Can you check and make sure you have the right code signing identity on your machine for this build scheme. ERROR [2016-04-04 10:31:45.88]: Make sure to use the same user and team every time you run 'match' for this
ERROR [2016-04-04 10:31:45.88]: Git repository. This might be caused by revoking the certificate on the Dev Portal

match was designed to have on

[2016-04-04 15:34] hartbit commented on #4042
If match was designed to have one git repository per Apple account, then it's definitely not for us (all we work on are client projects where each project is a different Apple Team). And that would explain the issue. Is there a reason it was designed that way? Sounds awfully restrictive, no?

[2016-04-04 15:54] swilkeni commented on #3639
I'm having the same issue, even with the latest version. I get the following output:

INFO [2016-04-04 10:43:44.79]: ▸ en-US
INFO [2016-04-04 10:43:44.79]: $ adb -s ZX1G224FH6 pull /sdcard/com.gannett.bonnie.debug/screengrab /Users/swilkening/Documents/Android/Bonnie-Android/app/src/azcentral_sports/
INFO [2016-04-04 10:43:45.34]: ▸ /sdcard/com.gannett.bonnie.debug/screengrab/: 2 files pulled. 0 f

[2016-04-04 15:59] TKBurner commented on #4020
Hi @edias. Can you send over your Match file? Thanks :+1:

[2016-04-04 16:05] TKBurner commented on #4022
Hi @dodikk hope you are doing well! Can you try setting the parameters, output_directory and derived_data_path?

That should let you get up and running :+1:

[2016-04-04 16:07] TKBurner commented on #3639
@swilkeni Thanks for following up. Can you send over your build.gradle (the one with your screengrab dependency) and your test code so we can see how you are calling Screengrab.screenshot.?

Thanks!

[2016-04-04 16:15] znerol commented on #1631
RE is actually quite easy using jd. The API itself is not too complicated and especially the WebDAV transport looks rather trivial.

Could you please post links?

[2016-04-04 16:17] TKBurner commented on #4019
Hi @aengel12 thanks for following up. Is the xcode bot on the same machine? It seems like this could be a network connectivity issue. Thanks for working with me :+1:

[2016-04-04 16:18] dg76 commented on #4043
There is not much interesting output. After I enter the email address manually the rest seems to work fine and the tester also appears in iTunes connect:

$ pilot add -p 12345678 -u user@test.com -f "First" -l "Last" -e "email@email.com"
Email address of the tester: email@email.com _<== I had to enter the email address here manually again_
[14:34:02]: Login to iTunes Connect (user@test.com)
[14:34

[2016-04-04 16:23] TKBurner commented on #1642
@CareerFairPlus Thanks for following up on this. I'll make sure the team takes a look :+1:

[2016-04-04 16:26] TKBurner commented on #3900
Hi @gauravdaxini! Thanks for following up. This has to do with your Apple Developer Account. You can only have 3 active certs at a time. Let me know if you have any other questions :+1:

[2016-04-04 16:29] TKBurner commented on #4039
Hi @PeterWong2015! Great to hear from you. Can you let me know if you can run these tests from Xcode? That'll let us know if it is an issue wit snapshot or with your project config.

Thanks!

[2016-04-04 16:52] davideme commented on #3876
I had the same issue and with a password containing a (.
And using `FASTLANE_EXPERIMENTAL_TRANSPORTER_AVOID_SHELL_SCRIPT=1 fastlane beta`

it's working!

[2016-04-04 17:28] TKBurner commented on #3636
Hi @postmechanical! Can you let me know if you get this error when you run your tests via Xcode?

Thanks!

[2016-04-04 17:31] TKBurner commented on #1164
Hi @janandre! Great to hear from you. Can you send me the output when your 'fastlane run crashlytics'

Thanks!

[2016-04-04 17:35] TKBurner commented on #1735
@Petro-Lomaka Thanks for reaching out. If you use just snapshot you'll be able to get the expected sized screenshots. Let me know if you have any other questions :+1:

[2016-04-04 17:36] #1735 closed

[2016-04-04 17:38] mfurtak commented on #4043
Hi @dg76 - thanks for the report! :+1:

I just ran your command but I wasn't prompted the way you were.
[code]

You mentioned that you are on `pilot` **1.4.1**. I suspect you already have looked, but can you double-check by running `pilot -v`?

If you leave the `-e` argument off and just let the email address be the trailing parameter, does that work? Like: `$ pilot add -u my@email.com -f "First"

[2016-04-04 17:38] TKBurner commented on #4037
Thanks for reaching out @tbaranes. We are going to look into this. Hope that you have a great day! :+1:

[2016-04-04 17:41] TKBurner commented on #4036
@tbaranes great to hear from you. Can you let me know how this isn't a duplicate of #4037? Thanks!

[2016-04-04 17:45] TKBurner commented on #3886
If anyone has full repro steps it'd help a lot on our side. Let me know. Thanks!

[2016-04-04 17:45] postmechanical commented on #3636
@TKBurner No, the error does not occur when running test target from Xcode.

[2016-04-04 17:46] tbaranes commented on #4036
The #4037 is a bug issue, just reporting that it crashes if doesn't found the xcodeproj, and a question to improve the behaviour related to the `xcodeproj` parameter.
The above issue is a pure question and an ask to improve the docs / implementation about the action `update_info_plist`, and more specifically the parameter `plist_path`.

I can go more in details if you want, but that is the main di

[2016-04-04 17:59] GarrettStrobel opened #4046 "ScreenGrab Android -Failed to sync gradle project - could not find tools.fastlane:screengrab:0.3.0"
### New Issue Checklist

- [ X] Updated fastlane to the latest version
- [ X] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description
Hello I am attempting to integrate ScreenGrab into an existing android project for capturing localization screenshots.
When I add  androidTestCompile 'tools.fastlane:screengrab:0.3.0'
to grad

[2016-04-04 18:08] Petro-Lomaka commented on #1735
As far as i know Snapshot takes only screenshots of iPhone screen.
 I want to add iPhone frame around that screenshots with FrameIt, and get 640x960, 640x1136, 750 × 1334 images. Is there any way to use FrameIt and get normal image dimension without adding title and background ?

[2016-04-04 18:16] #826 closed

[2016-04-04 18:16] KrauseFx commented on #826
Sorry for taking so long, this is now merged into master and will be in the next release :+1:

[2016-04-04 18:32] jcampbell05 opened #4047 "GYM: When building iOS App with Watch App I get the Watch App"
### New Issue Checklist

- [ x] Updated fastlane to the latest version
- [ x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

When building using Gym Action iOS App with Watch App I get the Watch App instead of the iOS App with the watch app inside of it.

##### Complete output when running fastlane, including the

[2016-04-04 18:45] janandre commented on #1164
@TKBurner it runs smoothly and uploads correct!

`MacBook-Pro-Jan:Retold2 janandre$ fastlane run crashlytics
[20:31:17]: -------------------------
[20:31:17]: --- Step: crashlytics ---
[20:31:17]: -------------------------
[20:31:17]: To not be asked about this value, you can specify it using 'api_token'
Crashlytics Beta API Token: xxx
[20:32:02]: To not be asked about this value, you can specify

[2016-04-04 19:11] dg76 commented on #4043
What I wrote was already the output of "pilot -v":

[code]

That's strange that you don't get this prompt. But you are right, without the "-e" it works fine. But why? Why does it work differently on my computer than on yours?

[2016-04-04 19:18] mfurtak commented on #4043
Aha! I have figured out what is going on.

I had installed `pilot` from my local development environment which contains a fix for this problem. However, this fix has not yet been released!

I am planning to do a release of `pilot` today, so this fix should be available soon. I'll update you here when it is available. :+1:

[2016-04-04 19:18] PeterWong2015 commented on #4039
Hi, it cannot pass the test in Xcode.

- (void)setUp {
    [super setUp];

    // Put setup code here. This method is called before the invocation of each test method in the class.

    // In UI tests it is usually best to stop immediately when a failure occurs.
    self.continueAfterFailure = NO;
    // UI tests must launch the application that they test. Doing this in setup will make sure it hap

[2016-04-04 19:23] dg76 commented on #4043
Great! :+1: Then please apologize my bug report. I had already waited a few days for a fix but then I thought I should check the issues list here. And when I found no similar report I thought no one would have seen this problem yet.

I am glad that it is already fixed in the next version! It is not urgent, I can just omit the "-e" until it is fixed. Thank you very much for your fast replies!

[2016-04-04 19:25] mfurtak commented on #4043
No apology needed! I'm glad to help :smile:

[2016-04-04 19:26] bartoszj opened #4049 "spaceship on master: sigh doesn't work without iTunes Connect account"
Hi,

Shortly:
Sine `sigh` 1.6.x it is not possible to download provisioning profile using Apple ID which doesn't have access to iTines Connect.

If the Apple ID has access to the iTunes Connect it is possible to download or create provisioning profile using `sigh`, this is normal behaviour. But in my case, I've special user (Apple ID) which has only access to Member Center / Developer Program whic

[2016-04-04 20:14] tsafrir commented on #3636
@TKBurner yes, after I fixed the content issue, it got back to normal and was able to take snapshots.

[2016-04-04 20:21] hzalaz opened #4052 "Unable to create tester user with role App Manager"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

When the iTunes Connect user has App Manager role, it can't create a user using `spaceship` but you can create one using the web interface.

##### Complete output when running fastlane, includ

[2016-04-04 20:44] mfurtak commented on #4043
Hi @dg76 - we've just released [`pilot` 1.5.0](https://github.com/fastlane/fastlane/releases/tag/pilot%2F1.5.0). Please update and let me know if `-e` works as you would expect!

[2016-04-04 22:10] edias commented on #4020
I'm just running match development on the terminal

[2016-04-04 22:40] ldiqual opened #4059 "Scan hangs when getting build settings"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

Scan hangs when getting the build settings:

[code]

A couple things to note:
 - I thought that it was related to https://github.com/fastlane/fastlane/issues/1844 since it was the last command

[2016-04-04 23:00] ldiqual commented on #4059
Looks like carthage had the same issue and added a timeout: https://github.com/Carthage/Carthage/pull/1120. And also on xctool: https://github.com/facebook/xctool/issues/295

[2016-04-05 00:04] mjdetullio opened #4060 "xcodebuild action does not support FASTLANE_DISABLE_COLORS environment variable"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

`xcodebuild` action does not support `FASTLANE_DISABLE_COLORS` environment variable

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Config

[2016-04-05 00:48] #4060 closed

[2016-04-05 00:48] KrauseFx commented on #4060
Thanks, fixed with https://github.com/fastlane/fastlane/pull/4061

[2016-04-05 02:46] siburb commented on #3603
I think I've found the cause of this (at least in my particular case).

The email address used to login to Apple Developer console has a "+" in it e.g. "appledev+provisioning@".

I tried with a normal address without the +, and it worked fine. Perhaps it is an issue with the escaping of the "+" character in the email address?

[2016-04-05 04:19] icyleaf commented on #4018
i sent PL, pls review it, thanks

[2016-04-05 04:45] bassrock opened #4064 "[Fastlane] Cocoapods Repo Update"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

It looks like cocoapods has changed the default behavior of the install commands in the latest betas due to the Github Meta Issue. The repo-update parameter must now be included if you want to

[2016-04-05 07:07] ngutman commented on #1479
@KrauseFx any more information I can provide to help understand this issue? still can't use `gym` without `use_legacy_build_api`.

Xcode is now the latest 7.3

[2016-04-05 07:08] aengel12 commented on #4019
No, i have an extra machine for the bot. So he have to pull the data before from the same repo.
Now i run the same with jenkins and i have no problem anymore. But i dont get why the Xcode server doesnt run the same command.
thanks for the help

[2016-04-05 07:12] ngutman commented on #1479
One different thing I noticed on the problematic environment from my main workstation (which `gym` works on) - I'm not logged into any iTunes development account in xcode (it's our CI machine)

[2016-04-05 07:48] biolinh commented on #3920
Hi @aln787,

As I said that, I use a properties file to store the value of per
variables. When I want to build a app with specific Bundle ID, I will pick
the file corespondent with it.

And in CI, I also add an option: Inject environment variables and specific
the properties file then it add all values I need to environment. When I
check Environment variables (injectedEnvVars) in CI, it shows some

[2016-04-05 07:55] ngutman commented on #1479
`codesign` crash: (seems like it's happening consistently)

[code]

[2016-04-05 09:40] ffittschen commented on #3639
@TKBurner The recent release of `screengrab` changed nothing in the file I linked, so I'm guessing this issue has not been addressed. But I tested it again and got the results as described in my opening post.

[2016-04-05 10:20] dg76 commented on #4043
Yes, it seems to work now. Thank you very much! :+1:  😊

[2016-04-05 10:20] #4043 closed

[2016-04-05 11:28] onmyway133 opened #4065 "How does snapshot work?"
I am reading [Run Xcode 7 UI Tests from the command line](https://krausefx.com/blog/run-xcode-7-ui-tests-from-the-command-line)

What do you mean by "test action"?

Also the generated `SnapshotHelper.swift` `snapshot` function

[code]

It seems to do nothing, how does the snapshots get generated and collected?

Thanks :smile:

[2016-04-05 12:23] Marthunder commented on #1962
Hey, i just tried the new command to upload multiple APK. Unfortunately it didn't work for me.
I used supply -p package_name -u path_apk,path_apk.
Supply detect my 2 apk, launch the upload process for the 2 apk, but on my developper console only 1 apk is uploaded

[2016-04-05 12:26] lacostej commented on #1962
@Marthunder have you tried enabling `--verbose` mode ?

[2016-04-05 12:44] Marthunder commented on #1962
@lacostej Nvm, i just signed the wrong apk in my script, that why only 1 apk was uploaded to my developper console. Thanks for your help anyway.

[2016-04-05 12:58] dodikk commented on #4022
@TKBurner , thanks for the reply.
Which action are you referring to? Which line of my fast file should I look at?

[2016-04-05 13:32] hartbit commented on #3886
Something similar is happening to us, but I don't know if it's related: our tests (`scan`) fail with `Exit status: 65` about one times out of two.

[2016-04-05 13:58] TKBurner commented on #3886
@hartbit Thanks for reaching out. Can you send over the full output? Also, do the tests pass but then show 0 tests 0 failures as above?

Thanks!

[2016-04-05 14:01] TKBurner commented on #4022
@dodikk This is on the setup_jenkins action. Let me know how it goes :+1:

[2016-04-05 14:03] TKBurner commented on #4065
Hi @onmyway133! We have a readme here, https://github.com/fastlane/fastlane/tree/master/snapshot. We use UI tests to navigate through your app, for each UI test case we take a screenshot.

Thanks!

[2016-04-05 14:03] #4065 closed

[2016-04-05 14:05] TKBurner commented on #1600
@xylone We've now pushed the change that should fix this. Let me know if you update your gems if you still run into this issue. Closing this issue out :+1:

[2016-04-05 14:06] TKBurner commented on #3953
We've now pushed the change that should fix this. Let me know if you update your gems if you still run into this issue. Closing this issue out :+1: Check out #4003 for details.

[2016-04-05 14:06] #3953 closed

[2016-04-05 14:08] hartbit commented on #3886
@TKBurner No, they do not show 0 tests 0 failures, that's why I think it may not be related: but it fails without any reason:

https://gist.github.com/hartbit/40b8fc327c12a657510a015ac2876f98

[2016-04-05 14:09] TKBurner commented on #4042
Thanks for following up. I'm sorry to hear that, it was designed this way to not over-complicate the flow. I'm going to flag this as a feature request and have more of the team members look it over. Thanks for working with us :+1:

[2016-04-05 14:12] onmyway133 commented on #4065
@TKBurner thanks for your reply

I already read that

Swift: snapshot("01LoginScreen")
Objective C: [Snapshot snapshot:@"01LoginScreen" waitForLoadingIndicator:YES];

But you see, the `snapshot` function just `print`. And besides, the snapshots that UITests generates is in Logs/Tests/Attachments and it has name like `Screenshot_CD797F4D-AF31-47CB-8A2F-74D315099BB1`, how does `snapshot` knows which

[2016-04-05 14:13] hartbit commented on #4042
@TKBurner Thanks for the understanding :) Meanwhile, we've decided that it's too useful to go back. We'll have to do with one repo per client for now!

[2016-04-05 14:23] TKBurner commented on #4036
Interesting feedback. The reason we did this was to streamline the path since a lot of people use them in line with command line as parameters. I'm going to mark this as a feature request to improve the way we handle this error situation. I'll make sure more of the team looks it over. Thanks!

[2016-04-05 14:26] TKBurner commented on #1164
@janandre What happens if you don't set the IPA path in the Crashlytics action? It seems like we might not be uploading the one gym is creating. It should automatically hand it off if you call them in the same lane.

Thanks!

[2016-04-05 14:29] TKBurner commented on #4020
Hi @edias. Did you run Match init? You should have a Matchfile in your fastlane dir.

Thanks!

[2016-04-05 14:36] GarrettStrobel commented on #4046
The issue was obvious in retrospect.  The existing project was not using jcenter repository, only mavenCentral.  adding jcenter to the build script fixed the issue. This can be closed.

[2016-04-05 14:37] mfurtak commented on #4046
Glad you're up and running! :+1:

[2016-04-05 14:37] #4046 closed

[2016-04-05 14:39] swilkeni commented on #3639
Here is the testing dependency section of build.gradle:

        exclude module: 'support-annotations'
    }

    androidTestCompile('com.android.support.test:rules:0.4.1') {
        exclude module: 'support-annotations'
    }

    androidTestCompile('org.hamcrest:hamcrest-library:1.3') {
        exclude group: 'com.android.support'
    }

    androidTestCompile('tools.fastlane:screengrab:0.2.1')

[2016-04-05 14:40] swilkeni commented on #3639
And here is my fastfile, in case that is helpful:

lane :screenshots do |options|
	build_apks(options)

    flavor_name = options[:flavor_name]
	root_path = "app/build/outputs/apk/"
	debug_path = root_path + "Bonnie-" + flavor_name + "-unaligned.apk"
	test_path = root_path + "app-" + flavor_name + "-debug-" + "androidTest-unaligned.apk"

    current_directory = Dir.pwd
    target_directory = curre

[2016-04-05 14:40] Skornos commented on #1655
This is happening to me on iPhone 6/6S/6 Plus/6S Plus, other devices are OK.

I've noticed that my `locale` is not set so I have set it to `en_US.UTF-8` by `export LC_ALL=en_US.UTF-8` but this did not help. Execution hangs on `Running Tests: ▸ Touching OpenShopUITests.xctest` and sometimes on `Checking Dependencies`.

This is the stacktrace I get when I interrupt the process after waiting for half

[2016-04-05 14:41] TKBurner commented on #1962
@Marthunder Awesome! Glad to hear the update worked. Closing out this issue :+1:

[2016-04-05 14:41] #1962 closed

[2016-04-05 14:47] TKBurner commented on #3639
Thanks for following up. We are going to look into this over here and get back to you soon :+1:

[2016-04-05 14:47] tbaranes commented on #4036
Shouldn't you reopen it in that case? :laughing:

[2016-04-05 14:50] ngutman commented on #1479
Ok last update - this was related to WWDR Intermediate Certificate expiration problem, the machine was running an old OSX and after the upgrade things broke. Removing all references to WWDR and reinstalling it solved the problem.

Zero helpful verbosity from codesign/xcode :)

Closing this issue

[2016-04-05 14:50] #1479 closed

[2016-04-05 14:57] TKBurner commented on #1479
@ngutman Thanks for updating us. Glad to hear you got up and running. Hope you have a great week :+1:

[2016-04-05 15:05] TKBurner commented on #4064
Thanks for reaching out @bassrock! I'm going to forward this along to more of the team so we can prioritize. :+1:

[2016-04-05 15:06] swilkeni commented on #3639
Much appreciated!

[2016-04-05 15:06] TKBurner commented on #4018
Hi @icyleaf. Thanks for following up. Looks like we got to review it this morning. :+1:  Closing this out and your can track at #4063

[2016-04-05 15:06] #4018 closed

[2016-04-05 15:14] TKBurner commented on #1735
@Petro-Lomaka Thanks for following up. Right now it's not possible to use frameit right now. I'm going to take this as a feature request and we'll review it. Thanks!

[2016-04-05 15:22] TKBurner commented on #4059
Hi @ldiqual Hope you are doing well! Can you let me know if this is a duplicate of #3886? Thanks!

[2016-04-05 15:26] TKBurner commented on #4039
Hi @PeterWong2015! Thanks for following up. These tests need to pass in Xcode before you can run snapshot. Can you edit the tests to make them pass and try again?

Thanks!

[2016-04-05 15:37] hartbit commented on #3886
@TKBurner I re-read the output and saw that it's running tests twice O_O. Here's my Fastfile if it can help:

[code]

And I don't know what I did but it now prints this before failing:

[code]

[2016-04-05 15:50] asfalcone commented on #4049
@bartoszj can you uninstall the `sigh` 1.6.1, install 1.5.0 and try again? There **shouldn't** have been any changes to `sigh` in these versions that should change authentication, so I'm intereted to see results. The changes for [2 step](https://github.com/fastlane/fastlane/pull/3854) were merged 6 days ago but haven't been released yet (spaceship 0.24.1 was released [12 days ago](https://github.c

[2016-04-05 15:53] TKBurner commented on #4049
Thanks for reaching out @bartoszj! I'm going to have the team here look this over. :+1:

[2016-04-05 15:57] TKBurner commented on #4047
Hi @jcampbell05 Thanks for reaching out. Great to hear from you again. I had a look and it seems like you might be able to set some parameters on gym to get up and running. I'm going to have the team here look this over.

[2016-04-05 15:59] jcampbell05 commented on #4047
@TKBurner  I have one quick work around for this bug as well which increases the chance of `gym` being selected https://github.com/fastlane/fastlane/pull/4066, but potentially being able to select the target as well would be great.

[2016-04-05 16:07] edias commented on #4020
git_url "git@bitbucket.org:edias/myproject_provisioningprofiles.git"

type "development" # The default type, can be: appstore, adhoc or development

# app_identifier "tools.fastlane.app"
# username "user@fastlane.tools" # Your Apple Developer Portal username

# For all available options run `match --help`
# Remove the # in the beginning of the line to enable the other options

[2016-04-05 16:12] agilemation commented on #3188
Same here!  Exactly the same error on a normal run, but with your use_legacy_build_api: true it works just fine.  (Although seem to get a load more warnings) :-)  Is there anything I can do to help with the resolution of this?  Personally I originally ran match with a different app ID/bundle ID and then re-ran with the one we use when gym identified that I needed that.  Could this be caused by hav

[2016-04-05 16:50] TKBurner commented on #3603
Thanks for following up @siburb! Can you let me know if you are still seeing this issue if you update your tools? We pushed an update last night for password characters and it should impact your email as well. Let me know how it's going :+1:

[2016-04-05 16:55] TKBurner commented on #4019
Thanks for following up. I'm glad to hear you got up and running with Jenkins. Let me know if you see this issue pop up again. Thanks :+1:

[2016-04-05 16:55] #4019 closed

[2016-04-05 17:24] mfurtak commented on #3639
Hi folks, I will take a look!

[2016-04-05 17:25] hardikdevios commented on #3953
Cheers @TKBurner Great work Team 👍

[2016-04-05 17:28] KrauseFx commented on #4042
We've previously discussed this [here](https://github.com/fastlane/fastlane/pull/3762#issuecomment-196947958) and [here](https://github.com/fastlane/fastlane/issues/1978). While experimenting with multiple teams support, we noticed that it adds too much complexity to both the code base, and the user interface for the user. We've decided to stick to the simple rule: One repo for each team.

[2016-04-05 17:28] #4042 closed

[2016-04-05 17:39] marcelofabri opened #4069 "[fastlane] Update addressable dependency"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

[Addressable](https://rubygems.org/gems/addressable/versions/2.4.0) latest version (2.4.0) can't be used because fastlane locks its version to `~> 2.3.8` (https://github.com/fastlane/fastlane/

[2016-04-05 17:44] mfurtak commented on #3639
I've reproduced the problem locally. Thanks for the great write-up :+1:

[2016-04-05 18:47] #4027 closed

[2016-04-05 18:59] asfalcone commented on #164
@skywinder This issue is mentioned in #3876. It is working correctly with the latest version of `deliver`?

[2016-04-05 19:04] asfalcone commented on #931
I'm going to close this issue since it has been open for a while without follow up. :+1:

[2016-04-05 19:04] #931 closed

[2016-04-05 19:04] asfalcone commented on #799
I'm going to close this issue since it has been open for a while without follow up.

[2016-04-05 19:04] #799 closed

[2016-04-05 19:05] asfalcone commented on #1000
I'm going to close this issue since it has been open for a while without follow up.

[2016-04-05 19:05] #1000 closed

[2016-04-05 19:07] asfalcone commented on #978
I'm going to close this issue because the associated PR was also closed as we decided not to merge it.

[2016-04-05 19:07] #978 closed

[2016-04-05 19:22] mfurtak commented on #3639
I've merged a fix for this in #4070. It will be in the next release!

[2016-04-05 19:38] bassrock opened #4072 "[gym] Incorrect Message About Stored Archive"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

When a user specifies their own archive path like:
[code]

The output displays:
[code]

However the archive is actually not stored in the Xcode Organizer because I specified an archive path pa

[2016-04-05 19:50] gbegen opened #4073 "[verify_xcode] Cannot verify Xcode installed from https://developer.apple.com/downloads/"
### Issue Description
When Xcode was installed from Apple Downloads instead of the Mac App Store, the verify_xcode action fails.

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Environment

fastlane version (fastlane -v): 1.80.0
Do you use bundler, rbenv or rvm? No

### Analysis

This appears to be because Xcode versions available from Apple do

[2016-04-05 19:56] anback commented on #3973
@rinal6366 , hello, i am having the exakt same issue and i cant solve it, can you briefly tell me what your issue was ?!?!

[2016-04-05 20:23] bartoszj commented on #4049
After my tests this my summary:

`sigh` | `spaceship` | Results
---|---|---
`1.6.1` | `0.24.1` | Fails, but with different error `[1]`
`1.5.0` | `0.24.1` | Fails, but with different error `[1]`
`master` | `0.24.1` | Fails, but with different error `[1]`
`1.6.1` | `master` | Fails with original error
`1.5.0` | `master` | Fails with original error
`master` | `master` | Fails with original error

The

[2016-04-05 20:35] mfurtak commented on #4008
Hi @lvh1 - thanks for the report! :+1:

I don't think anything around this has changed recently. This stack trace indicates trouble that is occurring while attempting to report a different crash that is in progress!

The error is basically saying that you don't have a `HOME` variable set in the environment in which you are executing Ruby. Can you execute your command again, except prefix it with `

[2016-04-05 21:14] sprint84 opened #4074 "Automatically remove Preview.html"
Hi,

this seems a pretty simple, but can you add an option to:
- delete the Preview.html after completion
and/or
- specify the Preview.html destination folder in the Deliverfile

Thanks

[2016-04-05 21:18] rinal6366 commented on #3973
@anback

I was missing the crashlytics-build.properties in my apk.

Just had to include them while building the apk package.

[2016-04-05 21:48] kmilitagaitanm commented on #3368
I'm using Xcode 7.3 and I 'm getting the same error.  I updated ruby and ruby gem,  but it didn't work

[2016-04-05 22:14] JagCesar opened #4077 "frameit for Android"
🔑

Hey,

Last week I spent a day trying to make frameit work for Android. My goal was not to create beautiful production quality code. My goal was to learn how to set up the dev environment, learn ruby and hopefully have a proof of concept the same day. I succeeded, and here’s the proof.

[My commit that made frameit work with Android](https://github.com/JagCesar/fastlane/commit/6d3c02cf16eb058d26

[2016-04-05 22:49] hm1113 opened #4079 "[supply] unable to gradually roll out a new build"
### Issue Description
When I run supply --apk path/app.apk --track rollout --rollout 0.5, I get an error "undefined local variable or method `apk_version_code' " in supply/uploader.rb:136:in `update_track'.

##### Complete output when running fastlane, including the stack trace and command used

/Library/Ruby/Gems/2.0.0/gems/supply-0.6.1/lib/supply/uploader.rb:136:in `update_track': [!] undefined

[2016-04-05 23:56] mokagio commented on #3966
@mfurtak Oh I see, I suspected there would have been a reason 😄 Fair enough...

I know you guys have your hands full with the Fastlane work, but have you considered trying to merge your upgrade into `commander` itself? I'm always worried by monkey patching 😳

As for the resolution issue, thanks a lot for offering your help 🙏 , but I already solved it 👍

[2016-04-05 23:56] #3966 closed

[2016-04-06 00:15] asfalcone commented on #4079
Just did a release of `supply` 0.6.2 with this fix! Thanks @hm1113 :+1:

[2016-04-06 00:15] #4079 closed

[2016-04-06 00:17] mfurtak commented on #3885
Hi @bigyanthapa - I've merged #4075 to address this, which will be out in the next release.

[2016-04-06 00:20] hm1113 commented on #4079
Thank you! @asfalcone

[2016-04-06 00:24] asfalcone commented on #4049
Thank you for the updated and precise reporting @bartoszj!!

[2016-04-06 04:53] kbyford commented on #1962
Thanks Fastlane team, this worked like a champ tonight!  Much appreciated!

[2016-04-06 08:54] vegather commented on #1647
Have the exact same problem that @bb-git is describing. Same stack trace on cancelling as well (only with the latest fastlane_core-0.41.2. It used to work, now it doesn't. The UI Test still works fine from Xcode though. Pretty sure I didn't change anything of significance, but I might be wrong. The problem is the same whether I'm running `snapshot` or `fastlane test`, it hangs on `Running Tests: ▸

[2016-04-06 08:59] bb-git commented on #1647
I solved it by changing the config to use iPhone 6s instead of iPhone 6

[2016-04-06 09:21] vegather commented on #1647
Okay, so I added iPhone 6s to the top of my devices list (and removed iPhone 6). Snapshot started out correctly with `--- iPhone 6s - en-US ---`, but the 4s simulator started instead of the 6s simulator. I manually changed the simulator to iPhone 6s, and whaddayaknow, it worked! However, when it reached the next test, it failed again. I manually change the simulator device, and the test runs. Repe

[2016-04-06 10:27] CsabaSzabo commented on #3982
Thanks @aln787 and @TKBurner, it resolved the issue.

[2016-04-06 11:44] alickbass commented on #1110
I also get this error

[2016-04-06 13:17] cjgehinscott commented on #1875
I'm seeing the same issue when I have jenkins run the build:

[09:02:56]: [32m-------------------[0m
[09:02:56]: [32m--- Step: pilot ---[0m
[09:02:56]: [32m-------------------[0m
[09:02:56]: Login to iTunes Connect ()
[09:02:59]: Login successful
[09:02:59]: [32mReady to upload new build to TestFlight (App: 1029913827)...[0m
[09:02:59]: Going to upload updated app to iTunes Connect
[09:02:

[2016-04-06 13:31] fabioknoedt commented on #1314
Me too.

[2016-04-06 14:02] stepanhruda commented on #4059
I solved this by having fewer targets in the scheme, I'm not sure if this applies to you. Oddly enough I was only experiencing this inside a VM, there is definitely something sketchy but after some investigation I blame _xcodebuild_

[2016-04-06 14:08] TKBurner commented on #3982
@CsabaSzabo Awesome! Glad to hear you are up and running :+1:

[2016-04-06 14:09] TKBurner commented on #1962
@kbyford Awesome! Thanks for letting us know :+1:

[2016-04-06 14:11] vickymitra786 opened #4084 "After ipa been uploaded, its declared as invalid from app store and removed"
### New Issue Checklist

- [yes ] Updated fastlane to the latest version
- [yes ] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### After ipa been uploaded, its declared as invalid from app store and removed

##1. Not getting any Snapfile file in fastlane folder

##2. Pods-com.myapp-frameworks.sh file getting overwritten every time com

[2016-04-06 14:27] #164 closed

[2016-04-06 14:28] TKBurner commented on #164
Closing because of merged changes. Let us know if you are still seeing this :+1:

[2016-04-06 14:49] TKBurner commented on #1314
Hi @fabioknoedt. Thanks for reaching out. Can you send over the full ouput when you run this command fastlane run import_certificates? Also, can you run fastlane -v and send the output?

Thanks!

[2016-04-06 14:56] TKBurner commented on #1875
Hi @cjgehinscott. Thanks for reaching out. I noticed the error mentions:

�[31m[!] undefined methodtrain_version' for nil:NilClass�[0m (NoMethodError)

I'm going to have the team here have a look at this. In the meantime, can you try the skip submission workaround mentioned above? Thanks for working with us and have a great day :)

[2016-04-06 15:00] TKBurner commented on #1110
@alickbass Thanks for reaching out. Can you give me your fastfile? And the full output when you run the affected lane?

Thanks!

[2016-04-06 15:04] TKBurner commented on #1647
Hi @vegather Thanks for the update. This seems to be affecting multiple users. Can you let me know what happens when you clean the simulator data? I am going to close this issue out and get the team to take a look at #1655. Thanks for working with us!

[2016-04-06 15:04] #1647 closed

[2016-04-06 15:05] TKBurner commented on #1655
Hi @vegather and @Skornos! I'm going to have the team look into this. Thanks!

[2016-04-06 15:13] alickbass commented on #1110
So I found the reason for that. If you run `gym` and then run `hockey` on mac platform, you have to specify both `:ipa` and `dsym:` as as far I understood, `gym` sets `:DSYM_OUTPUT_PATH` and it is used by `hockey`.

[2016-04-06 15:48] fabioknoedt commented on #1314
Hey @TKBurner, I just realized that (possibly) the error was caused because I was trying to use a "in-house" provisioning profile. Match is not able to work with this kind of profile for security issues, right?

[2016-04-06 16:08] TKBurner commented on #4077
Great suggestion @JagCesar! I'll make sure the team reviews this. Have a great day! :+1:

[2016-04-06 16:11] TKBurner commented on #3886
Hi @hartbit! Thanks for reaching out. Can you let me know if you are getting exit code 513 or exit code 65? Your original report mentioned 65.

Thansk!

[2016-04-06 16:11] TKBurner commented on #3368
@kmilitagaitanm Thanks for reaching out. We are going to track this issue over on #3886. Can you update over there with your full output? Closing this out as a duplicate. Thanks! :+1:

[2016-04-06 16:11] #3368 closed

[2016-04-06 16:12] mfurtak commented on #3981
Hi @martinfreeletics - Thanks for the report :+1:

I've reproduced this locally, and there seems to be many things to work out before this can start working. I don't have an ETA right now, but we'll track progress through this ticket. :rocket:

[2016-04-06 16:15] TKBurner commented on #4074
Hi @sprint84! Hope you are doing well. Interesting idea. I'll be sure the team here reads this over. Thanks! :+1:

[2016-04-06 16:17] vpolouchkine commented on #4084
Can you please format your issues per https://github.com/fastlane/fastlane/blob/master/ISSUE_TEMPLATE.md? Thanks!

[2016-04-06 16:17] TKBurner commented on #4073
Thanks for reaching out! I'm sorry to hear that this is happening. The team here is going to have a look. Thanks!

[2016-04-06 16:20] TKBurner commented on #4072
Thanks for pointing this out @bassrock. We are going to look into this :+1:

[2016-04-06 16:24] vegather commented on #1655
Hi @TKBurner ! I am not able to get any sort of consistency out of this at all. I tried it again now to double check what you suggested over at [Issue #1647](https://github.com/fastlane/fastlane/issues/1647#event-616954203), and it worked without any issues. Did a `Reset Content and Settings...`. Still worked perfectly. I have not touched a single config file or any line of code since I had the pr

[2016-04-06 16:33] TKBurner commented on #4069
Thanks for letting us know. I'm going to have the team here look into this dependency issue. Thanks! :+1:

[2016-04-06 16:36] TKBurner commented on #4020
@edias Thanks for getting back to me. We're going to look into this over here. Thanks for working with me! :+1:

[2016-04-06 16:39] samrobbins commented on #4052
Hey @hzalaz! When I sign in with an account that is only an App Manager I don’t have an option to add an account wide TestFlight Beta Tester. I can add an external tester to an app though. Have you tried this? I'm going to confirm that works for me via spaceship.

[2016-04-06 16:40] TKBurner commented on #4065
Thanks for following up @onmyway133! You can define the output dir by adding the parameter. Run fastlane action snapshot to see the full list of parameters.

Thanks!

[2016-04-06 16:42] TKBurner commented on #3188
@agilemation Thanks for reaching out. Can you provide me with your full output when you run into this error? Also can you send the warning when you set use_legacy_build_api to true?

Thanks!

[2016-04-06 16:43] TKBurner commented on #4047
Thanks for letting me know @jcampbell05! We are going to look into this.

[2016-04-06 16:50] TKBurner commented on #4036
Hi @tbaranes. I'm going to leave this open until we review it. Thanks!

[2016-04-06 16:53] KrauseFx commented on #4073
Seems to be related to https://github.com/fastlane/fastlane/issues/661

[2016-04-06 16:53] KrauseFx commented on #4074
Or you can add the `Preview.html` to your `.gitignore`

[2016-04-06 16:56] gbegen commented on #4073
Yeah, seems related to where the discussion on #661 went, but is not the error originally reported as #661.

[2016-04-06 17:19] cjgehinscott commented on #1875
@TKBurner  I have used skip submission and it does work locally. What's weird is that when I run it on my Jenkins machine it says that it successfully uploaded to iTunes Connect, but when I check for builds via "pilot builds" and iTunes connect portal the build isn't there. Any ideas?

[2016-04-06 17:21] tpalmer opened #4087 "sigh crashing with ""\x82" from ASCII-8BIT to UTF-8""
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)

### Issue Description

##### Complete output when running fastlane, including the stack trace and command used

[code]

### Environment

fastlane version (fastlane -v): 1.80.0
Do you use bundler, rbenv or rvm? bundl

[2016-04-06 17:30] sprint84 commented on #4074
@KrauseFx of course that was the first thing I did. Regardless, the file is still sitting there in the project root folder.

[2016-04-06 17:38] hzalaz commented on #4052
Hi @samrobbins, yeah that makes sense. I was actually checking why I boarding failed with a user of this role and I ended up trying this in spaceship to see what was wrong and since boarding creates the user without the app, didn't try specifying an app. Will try that today.

[2016-04-06 18:07] ldiqual commented on #4059
@TKBurner Thanks for getting back to me. I'm not too sure why you're thinking those issues could be related, I don't see any mention of `-showBuildSettings` hanging.

@stepanhruda Turns out that I worked around the issue by using `scan` on the main scheme instead of the test scheme. To be more specific, I had two schemes: `App` and `AppTests`, and was running `scan ... -scheme AppTests`, which was

[2016-04-06 18:14] bolom commented on #3857
@kikolobo did you find a solution?

[2016-04-06 18:19] vpolouchkine commented on #4087
Can you try updating `spaceship`?

[2016-04-06 18:38] adcbamboo commented on #1526
How does one find the iTunes Connect Team ID? I haven't been able to find it displayed anywhere in iTunes Connect.